@{
    ViewBag.Title = "BuyerPercent List";
}
@model IEnumerable<ESimSol.BusinessObjects.BuyerPercent>
    <div class="menuMainCollectionTable" style="height:99%">
        <table id="tblBuyerPercents" title="Buyer Percent Lists" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="BPosition" width="30%">Buyer Position</th>
                    <th field="BuyerPercentInST" width="30%">Buyer Percent</th>
                    <th field="LastUpdateByName" width="20%">Last Update By</th>
                    <th field="LastUpdateDateTimeInString" width="20%">Last Update Date</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Add" iconcls="icon-add" plain="true">Add</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Edit" iconcls="icon-edit" plain="true">Edit</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="View" iconcls="icon-details" plain="true">View</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Delete" iconcls="icon-remove" plain="true">Delete</a>
        </div>
    </div>

    <div id="winBuyerPercent" class="easyui-window winstyle" title="Add Buyer Percentage" style=" height:auto;width:50%" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="overflow:hidden;display:block;">
            <fieldset style="height:10%">
                <legend style="font-weight: bold">Buyer Percentage Setup</legend>
                <div style="overflow:hidden;display:block">
                    <div style="overflow:hidden;float:left; width:49%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            Buyer Position :
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <input id="txtBuyerPosition" type="text" style="float:left;width:100%" />

                        </div>
                    </div>     
                    <div style="overflow:hidden;float:left; width:49%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            Buyer Percent:
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <input id="txtBuyerPercent" type="text" style="float:left;width:80%" />
                            <input type="text" style="float:left;width:20%"  placeholder="(%)" disabled/>

                        </div>
                    </div>         
                </div>
            </fieldset>
        </div>
        <div style="display:block;overflow:hidden;">
            <fieldset style="height:10%">
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:60%; text-align:right"></td>
                        <td style="width:40%;text-align:right;">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>

    <script type="text/javascript">
    $(document).ready(function (){
        debugger;
        var  oBuyerPercents  = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        $('#tblBuyerPercents').data('BaseAddress', sBaseAddress);
        $('#tblBuyerPercents').data('BuyerPercent', oBuyerPercents);
        var oTempBuyerPercents =sessionStorage.getItem("oBuyerPercents");
        if(oTempBuyerPercents!=null)
        {
            oBuyerPercents = jQuery.parseJSON(oTempBuyerPercents);
        }
        $('#txtBuyerPercent').icsCurrencyBox();
        RefreshList(oBuyerPercents);
    });


    function RefreshObject(){
        debugger;
        var oBuyerPercent={
            BuyerPercentID : parseInt($('#tblBuyerPercents').data('BuyerPercent')),
            BPosition : $("#txtBuyerPosition").val(),
            BPercent: $("#txtBuyerPercent").val()
        };
        return oBuyerPercent;
    }

    $("#btnAdd").click(function(){
        debugger;
        FormEnabled();
        RefreshConsumption();
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("BuyerPercentHeader", "Add BuyerPercent");
        $("#winBuyerPercent").icsWindow('open', "Add BuyerPercent");
    });

    function RefreshConsumption(){
        $('#tblBuyerPercents').data('BuyerPercent',0);
        $('#txtBuyerPosition').val("");
        $('#txtBuyerPercent').val("");
    }

    function FormEnabled(){
        $('#txtBuyerPosition').attr('disabled',false);
        $('#txtBuyerPercent').attr('disabled',false);
        $('#btnSave').show();
    }

    $("#btnClose").click(function(){
        $("#winBuyerPercent").icsWindow('close');
    })


    $("#btnEdit").click(function(){
        debugger;
        FormEnabled();
        var oBuyerPercent= $('#tblBuyerPercents').datagrid('getSelected');
        var SelectedRowIndex=$('#tblBuyerPercents').datagrid('getRowIndex',oBuyerPercent);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        oBuyerPercent.ErrorMessage = "Edit BuyerPercent";
        RefreshControl(oBuyerPercent);
        sessionStorage.setItem("BuyerPercentHeader", "Edit BuyerPercent");
        $("#winBuyerPercent").icsWindow('open', "Edit BuyerPercent");

    });

    $("#btnView").click(function(){
        debugger;
        var oBuyerPercent= $('#tblBuyerPercents').datagrid('getSelected');
        var SelectedRowIndex=$('#tblBuyerPercents').datagrid('getRowIndex',oBuyerPercent);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        oBuyerPercent.ErrorMessage = "View BuyerPercent";
        RefreshControl(oBuyerPercent);
        sessionStorage.setItem("BuyerPercentHeader", "View BuyerPercent");
        $("#winBuyerPercent").icsWindow('open', "View BuyerPercent");

    });

    function RefreshControl(oBuyerPercent){
        debugger;
        if(oBuyerPercent.ErrorMessage == "Edit BuyerPercent"){
            $('#tblBuyerPercents').data('BuyerPercent', parseInt(oBuyerPercent.BuyerPercentID)),
            $('#txtBuyerPosition').val(oBuyerPercent.BPosition);
            $('#txtBuyerPercent').val(oBuyerPercent.BPercent);
        }
        if(oBuyerPercent.ErrorMessage == "View BuyerPercent"){
            $('#tblBuyerPercents').data('BuyerPercent', parseInt(oBuyerPercent.BuyerPercentID)),
            $('#txtBuyerPosition').val(oBuyerPercent.BPosition);
            $('#txtBuyerPercent').val(oBuyerPercent.BPercent);
            $('#btnSave').hide();

            $('#txtBuyerPosition').attr('disabled','disabled');
            $('#txtBuyerPercent').attr('disabled','disabled');

        }

      }
    function ValidateInput(){
        debugger;
        var oBuyerPosition = $('#txtBuyerPosition').val();
        var oBuyerPercent = $('#txtBuyerPercent').val();

        if(oBuyerPosition == "" || oBuyerPosition==undefined){
            alert("Please Enter Buyer Position.")
            $('#txtBuyerPosition').focus();
            return false;
        }
        if(oBuyerPercent  == "" || oBuyerPercent==undefined){
            alert("Please Enter Buyer Percent.")
            $('#oBuyerPercent').focus();
            return false;
        }
     
        return true;
    }

    $('#btnSave').click(function(){
        debugger;
        if(!ValidateInput()) return;
        var oBuyerPercent=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url :  $('#tblBuyerPercents').data('BaseAddress')+ "/BuyerPercent/Save",
            traditional: true,
            data:  JSON.stringify(oBuyerPercent),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                debugger;
                oBuyerPercent = jQuery.parseJSON(data);
                if (oBuyerPercent.ErrorMessage=="" || oBuyerPercent.ErrorMessage==null)
                {
                    alert("Data Saved sucessfully");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if(sessionStorage.getItem("BuyerPercentHeader") == "Add BuyerPercent")
                    {
                        $('#tblBuyerPercents').datagrid('appendRow',oBuyerPercent);
                        var oData = $('#tblBuyerPercents').datagrid('getRows');
                        $('#tblBuyerPercents').datagrid('selectRow',oData.length-1);

                    }
                    if(sessionStorage.getItem("BuyerPercentHeader") == "Edit BuyerPercent")
                    {
                        $('#tblBuyerPercents').datagrid('updateRow',{index : nIndex, row:oBuyerPercent});
                    }

                    $("#winBuyerPercent").icsWindow('close');
                }
                else
                {
                    alert(oBuyerPercent.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });
    $('#btnDelete').click(function(){
        var oBuyerPercent= $('#tblBuyerPercents').datagrid('getSelected');

        if (!confirm("Confirm to Delete?")) return ;

        if(oBuyerPercent==null || oBuyerPercent.BuyerPercentID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        var SelectedRowIndex=$('#tblBuyerPercents').datagrid('getRowIndex',oBuyerPercent);
        if (oBuyerPercent.BuyerPercentID > 0)
        {
            $.ajax ({
                type: "GET",
                dataType: "json",
                url : $('#tblBuyerPercents').data('BaseAddress')+ "/BuyerPercent/Delete",
                data: {id: oBuyerPercent.BuyerPercentID},
                contentType:"application/json; charset=utf-8",
                success: function (data) {
                    //debugger;
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Deleted")
                    {
                        alert("Delete sucessfully");
                        $('#tblBuyerPercents').datagrid('deleteRow',SelectedRowIndex);

                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }
    });
    function RefreshList(oBuyerPercents) {
        debugger;
        data={"total":""+oBuyerPercents.length+"","rows":oBuyerPercents};
        $('#tblBuyerPercents').datagrid('loadData',data);
        var nSelectedRowIndex =parseInt(sessionStorage.getItem("SelectedRowIndex"));
        if(nSelectedRowIndex!=-1)
        {
            $('#tblBuyerPercent').datagrid('selectRow', nSelectedRowIndex);
        }
    }
   
    
    </script>
