<html>
@{
    ViewBag.Title = "PurchaseReturn Registers";
}
<body>
    @model ESimSol.BusinessObjects.PurchaseReturn
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable" id="MainDiv">
        <div class="easyui-panel" title="Purchase Return Register" style="font-family:Tahoma; text-align:center; height:88%;">
            <fieldset style="height:95%; text-align:center;">
                <legend style="font-weight:bold"> Serching Criteria : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:100%">
                    <tr>
                        <td colspan="5" style="height:20px;"></td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> P. R. No :</td>
                        <td style="width:30%;text-align:left">
                            <input type="text" style="width:100%" id="txtPRNo" placeholder="Enter P. R. No" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Return Date :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboReturnDate" style="width:100%;height:22px;"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtReturnDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtReturnDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Buyer :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:80%; text-align:left">
                                        <input type="text" style="width:98%" id="txtBuyer" onkeydown="BuyerKeyDown(event)" placeholder="Press enter with buyer name" />
                                    </td>
                                    <td style="width:20%; text-align:right">
                                        <input type="button" id="btnBuyer" onclick="PickBuyer()" style="width:95%;float:right;" value="Pick" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Ref Type :</td>
                        <td style="width:38%;text-align:right">
                            <select id="cboRefType" style="width:100%;height:22px;"></select>
                        </td>
                    </tr>

                    <tr>
                        <td style="width:15%;text-align:right"> Report Layout :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboReportLayout" style="width:100%;height:22px;">
                                <option value="1">Date Wise</option>
                                <option value="2">Supplier Wise</option>
                            </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"></td>
                        <td style="width:38%;text-align:right"></td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:50%;text-align:right"></td>
                    <td style="width:50%;text-align:right">
                        @*<a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>*@
                        <a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>


<script type="text/javascript">
    var _sBaseAddress="";
    $(document).ready(function () {
        @*var oReportLayouts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReportLayouts));*@
        var oRefTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.RefTypes));
        var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));

        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        $("#cboReturnDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboRefType").icsLoadCombo({ List: oRefTypes, OptionValue: "id", DisplayText: "Value" });
        //$("#cboReportLayout").icsLoadCombo({ List: oReportLayouts, OptionValue: "id", DisplayText: "Value" });

        $('#txtReturnDateStart').datebox({ disabled : true });
        $('#txtReturnDateEnd').datebox({ disabled : true });

        $('#txtReturnDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtReturnDateEnd').datebox('setValue', icsdateformat(new Date()));
        $("#MainDiv").data("BuyerID","");
    });
     
    function ValidateSearch()
    {

        var nPurchaseReturnDate = parseInt($('#cboReturnDate').val());
        if(nPurchaseReturnDate===1 || nPurchaseReturnDate===2 || nPurchaseReturnDate===3 || nPurchaseReturnDate===4)
        {
            var sPurchaseReturnDateStart   = $('#txtReturnDateStart').datebox('getValue');
            if(sPurchaseReturnDateStart===null || sPurchaseReturnDateStart==="")
            {
                alert("Please select PurchaseReturn start date!");
                $('#txtReturnDateStart').focus();
                return false;
            }
        }
        if(nPurchaseReturnDate===5 || nPurchaseReturnDate===6)
        {
            var sPurchaseReturnDateStart   = $('#txtReturnDateStart').datebox('getValue');
            var sPurchaseReturnDateEnd   = $('#txtReturnDateEnd').datebox('getValue');
            if(sPurchaseReturnDateStart===null || sPurchaseReturnDateStart==="")
            {
                alert("Please select PurchaseReturn start date!");
                $('#txtReturnDateStart').focus();
                return false;
            }
            if(sPurchaseReturnDateEnd===null || sPurchaseReturnDateEnd==="")
            {
                alert("Please select PurchaseReturn end date!");
                $('#txtReturnDateEnd').focus();
                return false;
            }
            if(new Date(sPurchaseReturnDateStart) > new Date(sPurchaseReturnDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtReturnDateStart').focus();
                return false;
            }
        }

        var sPurchaseReturnNo =$.trim($('#txtPRNo').val());
        var sBuyerIDs = $("#MainDiv").data("BuyerID");
        var nRefType= parseInt($('#cboRefType').val());

        debugger;
        if(sPurchaseReturnNo === "" && nPurchaseReturnDate === 0 && sBuyerIDs === "" && nRefType === 0 )
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        return true;
    }

    function RefreshObject()
    {
        var nPurchaseReturnDate = parseInt($('#cboReturnDate').val());
        var sPurchaseReturnDateStart   = $('#txtReturnDateStart').datebox('getValue');
        var sPurchaseReturnDateEnd   = $('#txtReturnDateEnd').datebox('getValue');

        var sPurchaseReturnNo =$.trim($('#txtPRNo').val());
        var sBuyerIDs = $("#MainDiv").data("BuyerID");
        var nRefType= parseInt($('#cboRefType').val());

        var sSearchingData  =  sPurchaseReturnNo+'~';
        sSearchingData = sSearchingData + nPurchaseReturnDate+'~';
        sSearchingData = sSearchingData + sPurchaseReturnDateStart+'~';
        sSearchingData = sSearchingData + sPurchaseReturnDateEnd+'~';
        sSearchingData = sSearchingData + sBuyerIDs+'~';
        sSearchingData = sSearchingData + nRefType+'~';
        sSearchingData = sSearchingData + 0 +'~';

        return sSearchingData;
    }

    $('#btnExportToExcel').click(function(e){
        if(!ValidateSearch()) return;
        var sSearchingData = RefreshObject();
        var nLayout = parseInt($('#cboReportLayout').val());
        if(nLayout == 1){
            window.open(_sBaseAddress+ '/PurchaseReturn/ExportToExcelDateWise?sParam=' + sSearchingData);
        }else if(nLayout == 2){
            window.open(_sBaseAddress+ '/PurchaseReturn/ExportToExcelSupplierWise?sParam=' + sSearchingData);
        }

    });


    $('#cboReturnDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboReturnDate').val());
        if(nCompareOperator===0)
        {
            $('#txtReturnDateStart').datebox({ disabled : true });
            $('#txtReturnDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtReturnDateStart').datebox({ disabled : false });
            $('#txtReturnDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtReturnDateStart').datebox({ disabled : false });
            $('#txtReturnDateEnd').datebox({ disabled : false });
        }
        $('#txtReturnDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtReturnDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#btnClose').click(function (e) {
        window.location.href = window.location.href;
    });


    function BuyerKeyDown(event) {
        //return;
        if (event.which == 13) {
            var oTxtName=$("#txtBuyer").val();
            if (oTxtName != null) {
                PickBuyer(oTxtName);
            }
        }
        if (event.which == 8) {
            txtBuyer.style.color="Black";
            txtBuyer.style.fontWeight="normal";
            $("#MainDiv").data("BuyerID","");
        }

    }
    function PickBuyer(oTxtName)
    {
        var oStyleSearch = {
            Params: '2' + '~' + (typeof(oTxtName) != 'undefined'?oTxtName:"") +'~'+parseInt(sessionStorage.getItem("BUID"))
        };//
        console.log(oStyleSearch);
        debugger;
        var obj = {
            BaseAddress:_sBaseAddress,
            Object: (oStyleSearch) ,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
        DynamicPiker('Buyer',obj,tblColums,true,'Name','ContractorID',600); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
    }
    function SetBuyer(oSelectedStyle) {
        debugger;
        if(oSelectedStyle.length == 1){
            document.getElementById("txtBuyer").value = oSelectedStyle[0].Name;
        }
        else if(oSelectedStyle.length > 1){
            document.getElementById("txtBuyer").value = "You select " + oSelectedStyle.length + " buyers.";
        }
        var ids = "";
        var len = oSelectedStyle.length;
        for (var i = 0; i < len; i++) {
            ids += oSelectedStyle[i].ContractorID + ",";
        }
        if(ids.length > 0){
            ids = ids.substring(0, ids.length-1);
        }
        txtBuyer.style.color = "blue";
        txtBuyer.style.fontWeight = "bold";
        $("#MainDiv").data("BuyerID",ids);
    }

    function SetPickerValueAssign(oPickerobj)
    {
        debugger;
        var oResult;
        if (oPickerobj.multiplereturn)
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getChecked');
        }
        else
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getSelected');
        }


        if (oPickerobj.winid == 'winBuyer')
        {
            SetBuyer(oResult);
        }
        else if (oPickerobj.winid == 'winPO')
        {
            SetOrderRecap(oResult);
        }


        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 90){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }

    function DynamicPiker(pickerName,obj,pTblColums,pMultiReturn,pSearchField,pID,nWidth)
    {
        debugger;
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        setInterval(updateProgress,250);

        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0][pID] > 0) {
                    debugger;
                    var tblColums = pTblColums;
                    var oPickerParam = {
                        winid: 'win'+pickerName,
                        winclass: 'cls'+pickerName,
                        winwidth: nWidth,
                        winheight: 460,
                        tableid: 'tbl'+pickerName+'s',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: pMultiReturn,
                        searchingbyfieldName: pSearchField,
                        windowTittle: pickerName+' List',
                        colsable:true
                    };
                    $.icsPicker(oPickerParam);
                    $("#progressbar").progressbar({ value: 0 });//hide
                    $("#progressbarParent").hide();
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                    $("#progressbar").progressbar({ value: 0 });//hide
                    $("#progressbarParent").hide();
                }
            }
            else{
                alert("Data Not Found.");
                $("#progressbar").progressbar({ value: 0 });//hide
                $("#progressbarParent").hide();
                return;
            }
        });
    }

    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }


</script>