@{
    ViewBag.Title = "Fabric Production Fault";
}
@model IEnumerable<ESimSol.BusinessObjects.FabricProductionFault>
<!DOCTYPE HTML>
    <html>
    <head>
        <title>Fabric Production Fault</title>
    </head>
    <body>
        <div class="menuMainCollectionTable">
            <table id="tblFabricProductionFaults" title="Fabric Production Faultes" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar">
                <thead>
                    <tr>
                        <th field="FabricFaultTypeSt" width="10%">Fault Type</th>
                        <th field="BUTypeSt" width="10%">BU Type</th>
                        <th field="Name" width="20%">Name</th>
                        <th field="IsAvtiveSt" width="15%">Active/Inactive</th>
                        <th field="LastUpdateByName" width="15%" align="left">Last Update By</th>
                        <th field="LastUpdateDateTimeInString" align="center" width="20%">Last Update Date</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbar">
                @*<select id="cboFPF"></select>
                <select id="cboBUType"></select>
                <input id="txtName" type="text" style="width: 221px;" placeholder="Type Name & Press Enter" />
                <input id="chkIsActive" type="checkbox"> <label>Active/Inactive</label>*@
                @*<a id="btnUpdate" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Update</a>*@
                <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                <a id="btnActive" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Active</a>
                <a id="btnUp" href="javascript:void(0)" class="easyui-linkbutton" onclick="SetSequence(1)" iconcls="icon-up" plain="true"></a>
                <a id="btnDown" href="javascript:void(0)" class="easyui-linkbutton" onclick="SetSequence(2)" iconcls="icon-down" plain="true"></a>
                <a id="btnListSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Seq. Save</a>
            </div>
        </div>
    </body>
</html>

 <div id="winFabricProductionFault" class="easyui-window winstyle" title="Add Fabric Production Fault" style=" height:auto;width:40%" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="overflow:hidden;display:block;">
            <fieldset style="height:10%">
                <legend style="font-weight: bold">Add Fabric Production Fault</legend>
                <div style="overflow:hidden;display:block">
                    <div style="overflow:hidden;float:left; width:49%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            Fault Type:
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <select id="cboFPF" style="width:130px;"></select>
                        </div>
                    </div>
                    <div style="overflow:hidden;float:left; width:49%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            BU Type:
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <select id="cboBUType" style="width:130px;"></select>
                        </div>
                    </div>
                </div>
                <div style="overflow:hidden;display:block; margin-top:5px">
                    <div style="overflow:hidden;float:left; width:98%">
                        <div style="overflow:hidden;float:left;width:15%;text-align:right">
                            Name:
                        </div>
                        <div style="overflow:hidden;float:left;width:83%">
                            <input id="txtName" type="text" style="float:left;width:90%" />
                        </div>
                    </div>                                    
                </div>
            </fieldset>
        </div>
        <div style="display:block;overflow:hidden;">
            <fieldset style="height:10%">
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:60%; text-align:right"></td>
                        <td style="width:40%;text-align:right;">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>

<script type="text/javascript">
    var _sBaseAddress="";
    var _oFabricProductionFaults=[];
    var _oFabricProductionFault=null;
    var _oFPFs=[];
    var _oBUTypes=[];
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oFabricProductionFaults =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oFPFs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FabricProductionFaultes));
        _oBUTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUTypes));

        $("#cboFPF").icsLoadCombo({ List: _oFPFs, OptionValue: "id", DisplayText: "Value" });
        $("#cboBUType").icsLoadCombo({ List: _oBUTypes, OptionValue: "id", DisplayText: "Value" });
        $("#chkIsActive").prop("checked",true);
        $("#btnUpdate").hide();
        DynamicRefreshList(_oFabricProductionFaults,"tblFabricProductionFaults");
        $('#tblFabricProductionFaults').datagrid({ onSelect: function (rowIndex, rowData) { OperationPerforms(rowIndex, rowData); } });
    });

    function OperationPerforms(rowIndex, rowData) {
        if (rowData.IsActive) {
            $("#btnActive").find(".l-btn-text").text("Inactive");
        } else {
            $("#btnActive").find(".l-btn-text").text("Active");
        }
    }


    //Nazmul
    function FormEnabled(){
        $('#cboFPF').attr('disabled',false);
        $('#cboBUType').attr('disabled',false);
        $("#chkIsActive").prop("checked",false);
        $('#txtName').attr('disabled',false);
        $('#btnSave').show();
    }
    function RefreshConsumption(){
        $('#cboFPF').val(0);
        $('#cboBUType').val(0);
        $('#txtName').val("");
        $("#chkIsActive").prop("checked",false);
    }

    $("#btnAdd").click(function(){
        debugger;
        FormEnabled();
        RefreshConsumption();
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("FabricProductionFaultHeader", "Add FabricProductionFault");
        $("#winFabricProductionFault").icsWindow('open', "Add Fabric Production Fault");
    });

    $("#btnEdit").click(function(){
        debugger;
        FormEnabled();
        var oFabricProductionFault= $('#tblFabricProductionFaults').datagrid('getSelected');
        var SelectedRowIndex=$('#tblFabricProductionFaults').datagrid('getRowIndex',oFabricProductionFault);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        oFabricProductionFault.ErrorMessage = "Edit FabricProductionFault";
        RefreshControl(oFabricProductionFault);
        sessionStorage.setItem("FabricProductionFaultHeader", "Edit FabricProductionFault");
        $("#winFabricProductionFault").icsWindow('open', "Edit winFabricProductionFault");

    });
    function RefreshControl(oFabricProductionFault){
        debugger;
        if(oFabricProductionFault.ErrorMessage == "Edit FabricProductionFault"){
            $('#tblFabricProductionFaults').data('FabricProductionFault', parseInt(oFabricProductionFault.FPFID)),
            $('#cboFPF').val(parseInt(oFabricProductionFault.FabricFaultType));
            $('#cboBUType').val(parseInt(oFabricProductionFault.BUType));
            $('#txtName').val(oFabricProductionFault.Name);
            $('#chkIsActive').prop('checked', oFabricProductionFault.IsActive);
            $('#tblFabricProductionFaults').data('Sequence', oFabricProductionFault.Sequence);

        }
        //if(oFabricProductionFault.ErrorMessage == "View FabricProductionFault"){
        //    $('#tblFabricProductionFaults').data('FabricProductionFault', parseInt(oFabricProductionFault.FPFID)),
        //    $('#cboFPF').val(parseInt(oFabricProductionFault.FabricFaultType));
        //    $('#cboBUType').val(parseInt(oFabricProductionFault.BUType));
        //    $('#txtName').val(oFabricProductionFault.Name);
        //    $('#chkIsActive').prop('checked', oFabricProductionFault.IsActive);
        //    $('#btnSave').hide();
        //    $('#cboFPF').attr('disabled','disabled');
        //    $('#cboBUType').attr('disabled','disabled');
        //    $('#txtName').attr('disabled','disabled');
        //}
    }
    function ValidateInput(){
        debugger;
        if($("#cboFPF").val() == 0)
        {
            alert("Please Select Process Type.");
            $("#cboFPF").addClass("errorFieldBorder");
            $("#cboFPF").focus();
            return false;
        }else{
            $("#cboFPF").removeClass("errorFieldBorder");
        }
        if($("#cboBUType").val() == 0)
        {
            alert("Please Select Business Unit Type!");
            $("#cboBUType").addClass("errorFieldBorder");
            $("#cboBUType").focus();
            return false;
        }else{
            $("#cboBUType").removeClass("errorFieldBorder");
        }
        if($.trim($("#txtName").val()) == "")
        {
            alert("Please Type Name.");
            $("#txtName").addClass("errorFieldBorder");
            $("#txtName").focus();
            return false;
        }else{
            $("#txtName").removeClass("errorFieldBorder");
        }
        return true;
    }

    $('#btnSave').click(function(){
        debugger;
        if(!ValidateInput()) return;
        var oFabricProductionFault = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url :  _sBaseAddress+ "/FabricProductionFault/Save",
            traditional: true,
            data:  JSON.stringify(oFabricProductionFault),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                debugger;
                oFabricProductionFault = jQuery.parseJSON(data);
                if (oFabricProductionFault.ErrorMessage=="" || oFabricProductionFault.ErrorMessage==null)
                {
                    alert("Data Saved sucessfully");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if(sessionStorage.getItem("FabricProductionFaultHeader") == "Add FabricProductionFault")
                    {
                        $('#tblFabricProductionFaults').datagrid('appendRow',oFabricProductionFault);
                        var oData = $('#tblFabricProductionFaults').datagrid('getRows');
                        $('#tblFabricProductionFaults').datagrid('selectRow',oData.length-1);

                    }
                    if(sessionStorage.getItem("FabricProductionFaultHeader") == "Edit FabricProductionFault")
                    {
                        $('#tblFabricProductionFaults').datagrid('updateRow',{index : nIndex, row:oFabricProductionFault});
                    }

                    $("#winoFabricProductionFault").icsWindow('close');
                }
                else
                {
                    alert(oFabricProductionFault.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });





    //////

    $("#btnActive").click(function(){
        var oFabricProductionFault = $("#tblFabricProductionFaults").datagrid("getSelected");
        if(oFabricProductionFault == null || oFabricProductionFault.FPFID <=0)
        {
            alert("Please select an item from list.");
            return;
        }
        var bIsActive = true;
        var nRowIndex = $("#tblFabricProductionFaults").datagrid("getRowIndex", oFabricProductionFault);
        if(oFabricProductionFault.IsActive == 1)
        {
            if (!confirm("Confirm to inactive?")) return;
        }
        else{
            if (!confirm("Confirm to active?")) return;
            bIsActive = false;
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/FabricProductionFault/ActiveOrInactive",
            traditional: true,
            data: JSON.stringify(oFabricProductionFault),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oFPF = jQuery.parseJSON(data);
                if(oFPF.FPFID > 0 && $.trim(oFPF.ErrorMessage) == "")
                {
                    if(bIsActive)
                    {
                        alert("Inactive Successful.");
                    }else{
                        alert("Active Successful.");
                    }
                    $("#tblFabricProductionFaults").datagrid("updateRow", { index: nRowIndex, row: oFPF });
                    OperationPerforms(nRowIndex, oFPF);
                }
                else{
                    alert(oFPF.ErrorMessage);
                }
            }
        });
    });
    $("#btnClose").click(function(){
        $("#winFabricProductionFault").icsWindow('close');
    })

    //function Validation()
    //{
    //    if($("#cboFPF").val() == 0)
    //    {
    //        alert("Please Select Process Type.");
    //        $("#cboFPF").addClass("errorFieldBorder");
    //        $("#cboFPF").focus();
    //        return false;
    //    }else{
    //        $("#cboFPF").removeClass("errorFieldBorder");
    //    }

    //    if($("#cboBUType").val() == 0)
    //    {
    //        alert("Please Select Business Unit Type!");
    //        $("#cboBUType").addClass("errorFieldBorder");
    //        $("#cboBUType").focus();
    //        return false;
    //    }else{
    //        $("#cboBUType").removeClass("errorFieldBorder");
    //    }

    //    if($.trim($("#txtName").val()) == "")
    //    {
    //        alert("Please Type Name.");
    //        $("#txtName").addClass("errorFieldBorder");
    //        $("#txtName").focus();
    //        return false;
    //    }else{
    //        $("#txtName").removeClass("errorFieldBorder");
    //    }
    //    return true;
    //}

    function SetSequence(n)
    {
        debugger;
        var oFabricProductionFault = $('#tblFabricProductionFaults').datagrid('getSelected');
        if (oFabricProductionFault == null || oFabricProductionFault.FPFID <=0 )
        {
            alert("Please select an item from list."); return;
        }

        var nNextIndex = -1;
        var nRowIndex = $("#tblFabricProductionFaults").datagrid("getRowIndex", oFabricProductionFault);
        var oFabricProductionFaults = $('#tblFabricProductionFaults').datagrid('getRows');

        var oFabricProductionFault_Next = {}

        if(n==1)
            nNextIndex = nRowIndex-1;
        else
            nNextIndex = nRowIndex+1;
         oFabricProductionFault_Next = oFabricProductionFaults[nNextIndex];

         if (oFabricProductionFault_Next == null || oFabricProductionFault_Next.FPFID <=0 ) return ;

         var nSequence =  oFabricProductionFault.Sequence;
         oFabricProductionFault.Sequence = oFabricProductionFault_Next.Sequence;
         oFabricProductionFault_Next.Sequence = nSequence;

         oFabricProductionFaults[nNextIndex] = oFabricProductionFault;
         oFabricProductionFaults[nRowIndex] = oFabricProductionFault_Next;
         DynamicRefreshList(oFabricProductionFaults,'tblFabricProductionFaults');

         $("#tblFabricProductionFaults").datagrid("selectRow", nNextIndex);
    }

    function RefreshObject() {
        debugger;
        var setSeq = 0;
        if($('#tblFabricProductionFaults').data('Sequence') > 0){
            setSeq = $('#tblFabricProductionFaults').data('Sequence');
        }
        else{
            setSeq = parseInt($('#tblFabricProductionFaults').datagrid('getRows').length)+1;
        }
        var oFabricProductionFault = {
            FPFID  : (_oFabricProductionFault == null ? 0 : _oFabricProductionFault.FPFID),
            FabricFaultType : parseInt($("#cboFPF").val()),
            BUType : parseInt($("#cboBUType").val()),
            Name : $.trim($("#txtName").val()),           
            IsActive : $("#chkIsActive").is(':checked'),
            Sequence: setSeq
        };
        return oFabricProductionFault;
    }

    //$("#btnAdd").click(function(){
    //    _oFabricProductionFault = null;
    //    AddNew();
    //});

    //$("#txtName").keydown(function(e){
    //    if(e.keyCode === 13)
    //    {
    //        _oFabricProductionFault = null;
    //        AddNew();
    //    }
    //});

    //function AddNew()
    //{
    //    if (!Validation())
    //    {
    //        return false;
    //    }
    //    else
    //    {
    //        var oFabricProductionFault = RefreshObject();
    //        var obj = {
    //            BaseAddress: _sBaseAddress,
    //            Object: oFabricProductionFault,
    //            ObjectId: oFabricProductionFault.FPFID,
    //            ControllerName: "FabricProductionFault",
    //            ActionName: "Save",
    //            TableId: "tblFabricProductionFaults",
    //            IsWinClose: true,
    //            Message:""
    //        };
    //        $.icsSave(obj, function (response) {
    //            if (response.status && response.obj != null) {
    //                if($.trim(response.obj.ErrorMessage) == "")
    //                {
    //                    if (response.obj.FPFID > 0) {
    //                        $("#txtName").focus();
    //                        $("#txtName").val("");
    //                        $("#btnUpdate").hide();
    //                        $('#chkIsActive').prop('checked', true);
    //                    }
    //                }
    //                else{
    //                    $("#txtName").focus();
    //                }
    //            }
    //        });
    //    }
    //}

    $("#btnDelete").click(function(){
        var oFabricProductionFault = $("#tblFabricProductionFaults").datagrid("getSelected");
        if(oFabricProductionFault == null || oFabricProductionFault.FPFID <=0)
        {
            alert("Please select an item from list.");
            return;
        }

        if (!confirm("Confirm to Delete?")) return;
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oFabricProductionFault,
            ControllerName: "FabricProductionFault",
            ActionName: "Delete",
            TableId: "tblFabricProductionFaults",
            IsWinClose: false
        };
        $.icsDelete(obj);
        ResetSequence();
    });
    function ResetSequence(){
        var objs = $('#tblFabricProductionFaults').datagrid('getRows');
        for(var i = 0; i<objs.length; i++){
            
            objs[i].Sequence = i+1;
        }
    }

    $("#btnEdit").click(function(){
        var oFabricProductionFault = $("#tblFabricProductionFaults").datagrid("getSelected");
        if(oFabricProductionFault == null || oFabricProductionFault.FPFID <=0)
        {
            alert("Please select an item from list.");
            return;
        }
        _oFabricProductionFault = oFabricProductionFault;
        $("#txtName").removeClass("errorFieldBorder");
        $("#txtName").val(oFabricProductionFault.Name);
        $("#btnUpdate").show();
        $("#cboFPF").removeClass("errorFieldBorder");
        $("#cboFPF").val(oFabricProductionFault.FabricFaultType);
        $("#cboBUType").removeClass("errorFieldBorder");
        $("#cboBUType").val(oFabricProductionFault.BUType);
        $('#chkIsActive').prop('checked', oFabricProductionFault.IsActive);
    });

    $("#btnUpdate").click(function(){
        AddNew();
    });

    $('#btnListSave').click(function() {
        debugger;       
        var oFabricProductionFaults = $('#tblFabricProductionFaults').datagrid('getRows');
        
        for (var i = 0; i <oFabricProductionFaults.length; i++) {
            oFabricProductionFaults[i].Sequence = i+1;         
        }

        debugger;
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+ "/FabricProductionFault/RefreshMenuSequence",
            traditional: true,
            data:  JSON.stringify(oFabricProductionFaults),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                alert("Saved Successfully");
                //var oFabricProductionFaults = jQuery.parseJSON(data);
                //if (oFabricProductionFaults[0] != null && oFabricProductionFaults[0].ErrorMessage=="")
                //{      
                //    alert("Saved Successfully");
                //    DynamicRefreshList(oFabricProductionFaults, "tblFabricProductionFaults");
                //    $('#tblFabricProductionFaults').datagrid('selectRow',oFabricProductionFaults.length-1);
                //}
                //else
                //{
                //    alert(oFabricProductionFaults[0].ErrorMessage);
                //}
                    
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });
</script>
