<html>
@{
    ViewBag.Title = "Production Execution";
}
<body>
@model ESimSol.BusinessObjects.ProductionExecution
    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable" id="divPP"  class="easyui-panel" title="Production Execution" style="font-family:Tahoma; height:100%; width:100%">
        <fieldset>
            <legend> Production Sheet Information </legend>
            <table border="0" style="font-size:12px" width="100%">
                <tr>
                    <td style="width:10%; text-align:right">Buyer Name:</td>
                    <td style="width:20%; text-align:left">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="width:87%"><input type="text" id="txtContractorName" placeholder="Type Buyer & Press Enter" style="width:100%" /></td>
                                <td style="width:13%"><input type="button" id="btnPickContractor" value="Pick" /> </td>
                            </tr>
                        </table>
                        
                    </td>
                    <td style="width:10%; text-align:right">Sheet No:</td>
                    <td style="width:20%; text-align:left">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="width:87%"><input type="text" id="txtSheetNo" placeholder="Type Sheet No & Press Enter" style="width:100%" /></td>
                                <td style="width:13%"><input type="button" id="btnPickProductionSheet" value="Pick" /> </td>
                            </tr>
                        </table>
                    </td>
                    <td style="width:10%; text-align:right">Mold Name:</td>
                    <td style="width:20%; text-align:left">
                        <input type="text" id="txtModelReferencenName" style="width:100%" disabled />
                    </td>
                </tr>
                <tr>
                    <td style="width:10%; text-align:right">Order No:</td>
                    <td style="width:20%; text-align:left">
                        <input type="text" id="txtPONo" style="width:100%"  />
                    </td>
                    <td style="width:10%; text-align:right">Order Qty:</td>
                    <td style="width:20%; text-align:left">
                        <input type="text" id="txtPODetailQty" style="width:100%;text-align:right;" disabled />
                    </td>
                    <td style="width:10%; text-align:right">Recipe Name:</td>
                    <td style="width:20%; text-align:left">
                        <input type="text" id="txtRecipeName" style="width:100%" disabled />
                    </td>
                </tr>
                <tr>
                    <td style="width:10%; text-align:right">PI No:</td>
                    <td style="width:20%; text-align:left">
                        <input type="text" id="txtExportPINo" style="width:100%" disabled />
                    </td>
                    <td style="width:10%; text-align:right">Product Name:</td>
                    <td style="width:20%; text-align:left">
                        <input type="text" id="txtProductName" style="width:100%" disabled />
                    </td>
                    <td style="width:10%; text-align:right">Sheet Qty:</td>
                    <td style="width:20%; text-align:left">
                        <input type="text" id="txtQuantity" style="width:100%;text-align:right;" disabled />
                    </td>
                </tr>
            </table>
        </fieldset>
        <div>
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td style="width:28%">
                        <table id="tblProductionSteps" title="Production Steps" class="easyui-datagrid" style="width:100%; height:525px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolBar">
                            <thead>
                                <tr>
                                    <th field="StepName" width="160" align="left">Step Name</th>
                                    <th field="ExecutionQty" width="100" align="right">Execution Qty</th>
                                </tr>
                            </thead>
                        </table>
                    </td>
                    <td style="width:72%">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="width:100%">
                                    <fieldset>
                                        <legend>Production Process Steps</legend>
                                        <table border="0" cellpadding="1" cellspacing="1" width="100%" style="font-weight:bold; font-size:11px;">
                                            <tr>
                                                <td style="width:28%; text-align:right;">Step Name :</td>
                                                <td style="width:25%"><input type="text" id="txtStepName" style="width:100%; font-weight:bold;" disabled /></td>
                                                <td style="width:22%;text-align:right;"><label id="lblPriviousStepName">Order</label> Qty:</td>
                                                <td style="width:20%; text-align:left;"><input type="text" id="txtPriviousStepQty" style="width:100%" disabled /></td>
                                                <td style="width:5%"><input type="text" id="txtPSMUName" style="width:100%" disabled /></td>
                                            </tr>
                                           
                                       
                                            <tr>
                                                <td style="width:28%; text-align:right;">Operate By:</td>
                                                <td style="width:25%; text-align:right;">
                                                   <select id="cboOperateBy" style="width:100%"></select>
                                                </td>
                                                <td style="width:22%;text-align:right;">Shift:</td>
                                                <td style="width:25%; text-align:left;" colspan="2"><select id="cboShift" style="width:100%"></select></td>
                                            </tr>
                                            <tr>
                                                <td style="width:22%;text-align:right;">Remarks:</td>
                                                <td style="width:78%; text-align:left;" colspan="4"><input type="text" id="txtRemark" style="width:100%" /></td>
                                            </tr>
                                            <tr>
                                                <td style="width:28%; text-align:right;">Yet To <label id="lblSelectedStepName">Step2</label> Qty :</td>
                                                <td style="width:25%; text-align:left;">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tr>
                                                            <td style="width:85%"><input type="text" id="txtYetToSelectedStepQty" style="width:97%" disabled /></td>
                                                            <td style="width:15%"><input type="text" id="txtSelectedMUName" style="width:100%" disabled /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td style="width:22%; text-align:right;">Execution Qty :</td>
                                                <td style="width:20%; text-align:left;"><input type="text" id="txtExecutionQty" style="width:65%" />&nbsp;<input type="text" id="txtExeMUName" style="width:20%" disabled /></td>
                                                <td style="width:5%; text-align:right;"><input type="button" id="btnCommit" style="text-align:right; width:100%" onclick="Commit()" value="Commit" /></td>
                                            </tr>
                                         
                                        </table>
                                    </fieldset>
                                </td>
                            </tr>
                            <tr>
                                <td width="100%">
                                    <table id="tblPETransaction" title="Transaction History" class="easyui-datagrid" style="width:100%; height:375px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#DetailtoolBar">
                                        <thead>
                                            <tr>
                                                <th field="TransactionDateInString" width="160" align="left">Date</th>
                                                <th field="Quantity" width="100" align="right" formatter="formatPrice">Quantity</th>
                                                <th field="OperationEmpByName" width="150" align="left">Execute By</th>
                                                <th field="ShiftName" width="120" align="left">Shift</th>
                                                <th field="EntryByName" width="150" align="left">Entry By</th>
                                                <th field="CycleTime" width="80" align="right">Cycle Time(s)</th>
                                                <th field="Cavity" width="50" align="right">Cavity</th>
                                                <th field="ShortCounter" width="90" align="right">Shot Counter</th>

                                            </tr>
                                        </thead>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    var _sBaseAddress="";
    $(document).ready(function () {
        debugger;
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oProductionExecution =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var BUID  =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Operators));
        var oHRMShifts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.HRMShifts));
        var nProductNature =  @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ProductNature));
        sessionStorage.setItem('BUID',BUID);
        sessionStorage.setItem('ProductNature',nProductNature);
        $('#txtExecutionQty,#txtYetToSelectedStepQty,#txtPriviousStepQty,#txtProductionHour,#txtShortCounter,#txtCycleTime,#txtCavity').icsCurrencyBox();
        $('#divPP').data('ProductionSheet',null);
        $('#divPP').data('ProductionExecutions',[]);
         $('#divPP').data('ProductionExecution',oProductionExecution);
         $('#divPP').data('PETransactions', oProductionExecution.PETransactions);
         $("#progressbar").progressbar({ value: 0 });
         $("#progressbarParent").hide();
         RefreshListTransactions(oProductionExecution.PETransactions);
         $('#tblProductionSteps').datagrid({ onSelect: function (rowIndex, rowData) { SetData(rowIndex, rowData); } });
         $("#cboOperateBy").icsLoadCombo({List: oOperators,OptionValue:"EmployeeID",DisplayText: "Name"});
         $("#cboShift").icsLoadCombo({List: oHRMShifts,OptionValue:"ShiftID",DisplayText: "Name"});


});

    $('#txtCavity,#txtShortCounter').keyup(function(){
        $('#txtExecutionQty').val(parseInt(icsRemoveComma($('#txtShortCounter').val()))*parseInt(icsRemoveComma($('#txtCavity').val())));
    });

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }

function RefreshListTransactions(oPETransactions)
{
    data=oPETransactions;
    data={"total":""+data.length+"","rows":data};
    $('#tblPETransaction').datagrid('loadData',data);
}

///Contractor Pick
$("#txtContractorName").keydown(function (e) {
    debugger;
    var code = (e.keyCode ? e.keyCode : e.which);
    if (code == 13) // Enter Press
    {
        if($.trim($('#txtContractorName').val())==null || $.trim($('#txtContractorName').val())=="")
        {
            alert("Please Type Buyer Name & Press Enter");
            return;
        }
        GetContractors($.trim($('#txtContractorName').val()));
    }
});
$("#btnPickContractor").click(function ()
{
    GetContractors("");
});
$('#txtContractorName').keydown(function (e) {
    var code = (e.keyCode ? e.keyCode : e.which);
    if (code == 8) //backspace=8
    {
        //debugger;
        $("#txtContractorName").removeClass("fontColorOfPickItem");
        $('#divPS').data('ProductionSheet').ContractorID = 0;
        $('#txtContractorName').val('');
    }
});
function GetContractors(sContractorName)
{
    var oContractor = { Params: 2 + '~' + sContractorName+'~'+sessionStorage.getItem("BUID") };
    var obj = {
        BaseAddress: _sBaseAddress,
        Object: oContractor,
        ControllerName: "Contractor",
        ActionName: "ContractorSearchByNameType",
        IsWinClose: false
    };
    $("#progressbar").progressbar({ value: 0 });
    $("#progressbarParent").show();
    var intervalID = setInterval(updateProgress, 250);
    $.icsDataGets(obj, function (response) {
        debugger;
        clearInterval(intervalID);
        $("#progressbarParent").hide();
        if (response.status && response.objs.length > 0) {
            if (response.objs[0].ContractorID > 0) {
                debugger;
                var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                var oPickerParam = {
                    winid: 'winContractors',
                    winclass: 'clsContractor',
                    winwidth: 600,
                    winheight: 460,
                    tableid: 'tblContractors',
                    tablecolumns: tblColums,
                    datalist: response.objs,
                    multiplereturn: false,
                    searchingbyfieldName: 'Name',
                    windowTittle: 'Contractor List'
                };
                $.icsPicker(oPickerParam);
                IntializePickerbutton(oPickerParam);
            }
            else { alert(response.objs[0].ErrorMessage); }
        }else{
            alert("Data Not Found.");
            return;
        }
    });
}

$("#txtSheetNo").keydown(function (e) {
    debugger;
    var code = (e.keyCode ? e.keyCode : e.which);
    if (code == 13) // Enter Press
    {
        if($.trim($('#txtSheetNo').val())==null || $.trim($('#txtSheetNo').val())=="")
        {
            alert("Please Type ProductionSheet Name And Press Enter.");
            return;
        }
        GetSheets($.trim($('#txtSheetNo').val()),'');
    }
});

$("#txtPONo").keydown(function (e) {
    debugger;
    var code = (e.keyCode ? e.keyCode : e.which);
    if (code == 13) // Enter Press
    {
        if($.trim($('#txtPONo').val())==null || $.trim($('#txtPONo').val())=="")
        {
            alert("Please Type PO No And Press Enter.");
            return;
        }
        GetSheets('',$.trim($('#txtPONo').val()));
    }
});

$("#btnPickProductionSheet").click(function()
{
  debugger;
    GetSheets("",'');
});
function GetSheets(sSheetNo, sPONo)
{
    var oProductionSheet = {SheetNo:sSheetNo,ContractorID:$('#divPP').data('ProductionExecution').ContractorID,BUID:sessionStorage.getItem("BUID"),ProductNatureInInt:sessionStorage.getItem('ProductNature'), PONo:sPONo};
    var obj = {
        BaseAddress: _sBaseAddress,
        Object: oProductionSheet,
        ControllerName: "ProductionSheet",
        ActionName: "GetsProductionSheets",
        IsWinClose: false
    };
    $("#progressbar").progressbar({ value: 0 });
    $("#progressbarParent").show();
    var intervalID = setInterval(updateProgress, 250);
    $.icsDataGets(obj, function (response) {
        debugger;
        clearInterval(intervalID);
        $("#progressbarParent").hide();
        if (response.status && response.objs.length > 0) {
            if (response.objs[0].ProductionSheetID > 0) {
                debugger;
                var tblColums = []; var oColumn = { field: "SheetNo", title: "Sheet No", width: 200, align: "left" }; tblColums.push(oColumn);
                oColumn = { field: "PONo", title: "PO No", width: 120, align: "left" }; tblColums.push(oColumn);
                oColumn = { field: "Quantity", title: "Sheet Qty", width: 120, align: "right" }; tblColums.push(oColumn);
                var oPickerParam = {
                    winid: 'winProductionSheets',
                    winclass: 'clsProductionSheet',
                    winwidth: 600,
                    winheight: 460,
                    tableid: 'tblProductionSheets',
                    tablecolumns: tblColums,
                    datalist: response.objs,
                    multiplereturn: false,
                    searchingbyfieldName: 'SheetNo',
                    windowTittle: 'Production Sheet List'
                };
                $.icsPicker(oPickerParam);
                IntializePickerbutton(oPickerParam);
            }
            else { alert(response.objs[0].ErrorMessage); }
        }else{
            alert("Data Not Found.");
        }
    });
}
$('#txtSheetNo').keydown(function (e) {
    var code = (e.keyCode ? e.keyCode : e.which);
    if (code == 8) //backspace=8
    {
        //debugger;
        $("#txtSheetNo").removeClass("fontColorOfPickItem");
        $("#txtSheetNo").val('');
        $('#divPS').data('ProductionSheet').ProductionSheetID = 0;
    }
});

function IntializePickerbutton(oPickerobj) {
    $("#" + oPickerobj.winid).find("#btnOk").click(function () {
        //for Single Select
        SetPickerValueAssign(oPickerobj);
    });
    $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
        if (e.which == 13)//enter=13
        {
            SetPickerValueAssign(oPickerobj);

        }
    });
}

function SetPickerValueAssign(oPickerobj) {
    debugger;
    var oreturnObj = null, oreturnobjs = [];
    if (oPickerobj.multiplereturn) {
        oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
    } else {
        oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
    }
    $("#" + oPickerobj.winid).icsWindow("close");
    $("#" + oPickerobj.winid).remove();
    if (oPickerobj.winid == 'winContractors')
    {
        if (oreturnObj != null && oreturnObj.ContractorID > 0) {
            $('#txtContractorName').val(oreturnObj.Name);
            $('#txtContractorName').addClass('fontColorOfPickItem');
            $('#divPP').data('ProductionExecution').ContractorID= oreturnObj.ContractorID;
            $('#txtContractorName').focus();
        }
    }
    else if (oPickerobj.winid == 'winProductionSheets')
    {
        if (oreturnObj != null && oreturnObj.ProductionSheetID > 0)
        {
            $('#divPP').data('ProductionSheet',oreturnObj);
            $('#txtSheetNo').val(oreturnObj.SheetNo);
            $('#txtContractorName').val(oreturnObj.ContractorName);
            $('#txtModelReferencenName').val(oreturnObj.ModelReferencenName);
            $('#txtPONo').val(oreturnObj.PONo);
            $('#txtProductName').val(oreturnObj.ProductName);
            $('#txtQuantity').val(formatPriceWithZeroDecimal(oreturnObj.Quantity,0)+' '+oreturnObj.UnitSymbol);
            $('#txtExportPINo').val(oreturnObj.ExportPINo);
            $('#txtPODetailQty').val(formatPriceWithZeroDecimal(oreturnObj.PODetailQty,0)+' '+oreturnObj.UnitSymbol);
            $('#txtRecipeName').val(oreturnObj.RecipeName);
            $('#txtSheetNo,#txtContractorName').addClass('fontColorOfPickItem');
            $('#divPP').data('ProductionExecution').ProductionSheetID =oreturnObj.ProductionSheetID;
            $('#divPP').data('ProductionExecution').ContractorID= oreturnObj.ContractorID;
            GetExecutions(oreturnObj.ProductionSheetID);
            $('#txtSheetNo').focus();
        }
    }

}

function GetExecutions(nProductionSheetID)
{
    var oProductionExecution={
        ProductionSheetID : nProductionSheetID
    };
    $.ajax ({
        type: "POST",
        dataType: "json",
        url : _sBaseAddress+"/ProductionExecution/GetProductionExecutions",
        data:  JSON.stringify(oProductionExecution),
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            debugger;
            var  oProductionExecutions = jQuery.parseJSON(data);
            if(oProductionExecutions.length>0 && (oProductionExecutions[0].ErrorMessage=="" || oProductionExecutions[0].ErrorMessage==null))
            {
                DynamicRefreshList(oProductionExecutions, "tblProductionSteps");
                $('#divPP').data('ProductionExecutions',oProductionExecutions);
                var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                if(nIndex!=null)
                {
                    $('#tblProductionSteps').datagrid('selectRow',nIndex);
                }

            }else
            {
                alert(oProductionExecutions[0].ErrorMessage);
            }
        },
        error: function (xhr, status, error)
        {
            alert(error);
        }
    });
}

function SetData(nIndex, oProductionExecution)
{
    GetPETransactions(oProductionExecution.ProductionExecutionID);
    $('#txtStepName').val(oProductionExecution.StepName);
    $('#lblSelectedStepName').html(oProductionExecution.StepName);
    $('#txtYetToSelectedStepQty').val(parseFloat($('#divPP').data('ProductionSheet').Quantity)-parseFloat(oProductionExecution.ExecutionQty));
    $('#txtMUName,#txtPSMUName,#txtSelectedMUName,#txtExeMUName').val($('#divPP').data('ProductionSheet').UnitSymbol);
    
    if(oProductionExecution.Sequence!=1)
    {
        var oPriviousItem = GetPriviousItem(parseInt(oProductionExecution.Sequence)-1);
        $('#lblPriviousStepName').html(oPriviousItem.StepName);
        $('#txtPriviousStepQty').val(oPriviousItem.ExecutionQty);
        $('#txtExecutionQty').val(parseFloat(oPriviousItem.ExecutionQty)-parseFloat(oProductionExecution.ExecutionQty));
    }else
    {
        $('#lblPriviousStepName').html("Order");
        $('#txtPriviousStepQty').val( $('#divPP').data('ProductionSheet').Quantity);
        $('#txtExecutionQty').val(parseFloat($('#divPP').data('ProductionSheet').Quantity)-parseFloat(oProductionExecution.ExecutionQty));
    }
}

function GetPriviousItem(nSequence)
{
    var oTempExecutions = $('#divPP').data('ProductionExecutions');
    for(var i =0;i<oTempExecutions.length;i++)
    {
        if(parseInt(oTempExecutions[i].Sequence)== parseInt(nSequence))
        {
            return oTempExecutions[i];
        }
    }
    return null;
}

function GetPETransactions(nProductionExecutionID)
{
    //debugger;
    var oProductionExecution={
        ProductionExecutionID : nProductionExecutionID
    };
    $.ajax ({
        type: "POST",
        dataType: "json",
        url : _sBaseAddress+"/ProductionExecution/GetPETransactions",
        data:  JSON.stringify(oProductionExecution),
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            //debugger;
            var  oPETransactions = jQuery.parseJSON(data);
            if(oPETransactions.length>0)
            {
                if((oPETransactions[0].ErrorMessage=="" || oPETransactions[0].ErrorMessage==null))
                {
                    RefreshListTransactions(oPETransactions);

                }else
                {

                    alert(oPETransactions[0].ErrorMessage);
                }
            }else
            {
                RefreshListTransactions([]);
            }
        },
        error: function (xhr, status, error)
        {
            alert(error);
        }
    });
}

function RefreshDetail()
{
    endEditing();
    var oPETransactions = $('#tblPETransaction').datagrid('getRows');
    if(oPETransactions!=null)
    {
        RefreshPETransactions(oPETransactions);
    }
}

function Commit()
{
   // debugger;

    if(!ValidateInput()) return;
    var oPETransaction =  RefreshObject();
    var oProductionExecution =  $('#tblProductionSteps').datagrid('getSelected');
    var SelectedRowIndex=$('#tblProductionSteps').datagrid('getRowIndex',oProductionExecution);
    sessionStorage.setItem("SelectedRowIndex",SelectedRowIndex);
    $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/ProductionExecution/SavePETransaction",
            traditional: true,
            data:  JSON.stringify(oPETransaction),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var oPETransaction= jQuery.parseJSON(data);
                if (parseInt(oPETransaction.PETransactionID)>0 && (oPETransaction.ErrorMessage==""||oPETransaction.ErrorMessage==null))
                {
                    alert("Successfully Executed.!!");
                    $('#tblPETransaction').datagrid('appendRow',oPETransaction);
                    GetExecutions($('#divPP').data('ProductionSheet').ProductionSheetID);
                    //$('#tblProductionSteps').datagrid('selectRow',SelectedRowIndex);
                }
                else
                {
                    alert(oPETransaction.ErrorMessage);
                }

            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
}
function RefreshObject()
{
    var oProductionExecution =  $('#tblProductionSteps').datagrid('getSelected');
    var oPETransaction={
        PETransactionID : 0,
        ProductionExecutionID:oProductionExecution.ProductionExecutionID,
        MeasurementUnitID:$('#divPP').data('ProductionSheet').UnitID,
        Quantity :parseFloat(icsRemoveComma($('#txtExecutionQty').val())),
        Remarks:$('#txtRemarks').val(),
        OperationEmpID :$('#cboOperateBy').val(),
        ShiftID :$('#cboShift').val()
    }
    return oPETransaction;
}

function ValidateInput()
{
  //  debugger;
    var oProductionExecution =  $('#tblProductionSteps').datagrid('getSelected');
    if(oProductionExecution==null || parseInt(oProductionExecution.ProductionExecutionID)<=0)
   {
        alert("Please select Step.!");
        return false;
    }
    if(parseInt(oProductionExecution.ProductionStepTypeInInt)==1)//molding type
    {
        if(parseInt(icsRemoveComma($('#txtCycleTime').val()))<=0)
        {
            $('#txtCycleTime').focus();
            $('#txtCycleTime').addClass("errorFieldBorder");
            alert('Cycle Time Should be Greater than 0');
            return false;
        }
        if(parseInt(icsRemoveComma($('#txtCavity').val()))<=0)
        {
            $('#txtCavity').focus();
            $('#txtCavity').addClass("errorFieldBorder");
            alert('Cavity Should be Greater than 0');
            return false;
        }
        if(parseInt(icsRemoveComma($('#txtShortCounter').val()))<=0)
        {
            $('#txtShortCounter').focus();
            $('#txtShortCounter').addClass("errorFieldBorder");
            alert('Shot Counter Should be Greater than 0');
            return false;
        }
        if(parseInt($('#cboOperateBy').val())<=0)
        {
            $('#cboOperateBy').focus();
            $('#cboOperateBy').addClass("errorFieldBorder");
            alert('Please Select Operate By.');
            return false;
        }
        if(parseInt(icsRemoveComma($('#txtProductionHour').val()))<=0 && parseInt(icsRemoveComma($('#txtProductionHour').val()))>12)
        {
            $('#txtProductionHour').focus();
            $('#txtProductionHour').addClass("errorFieldBorder");
            alert('Production Hour Range Should between 1 to 12 .');
            return false;
        }
        if(parseInt($('#cboShift').val())<=0)
        {
            $('#cboShift').focus();
            $('#cboShift').addClass("errorFieldBorder");
            alert('Please Select Shift.');
            return false;
        }
    }

    if(parseFloat(icsRemoveComma($('#txtExecutionQty').val()))<=0)
    {
        $('#txtExecutionQty').focus();
        $('#txtExecutionQty').addClass("errorFieldBorder");
        alert('Execution Qty Should be Greater than 0');
        return false;
    }
    if(parseInt(oProductionExecution.Sequence)==1)
    {
        if(parseInt(icsRemoveComma($('#txtExecutionQty').val()))+parseInt(oProductionExecution.ExecutionQty)>parseInt($('#divPP').data('ProductionSheet').Quantity))
        {
            alert("Execution Qty Should be Less than or Equal Sheet Qty.");
            return false;
        }
    }else
    {
        var oPriviousItem = GetPriviousItem(oProductionExecution.Sequence-1);
        if(parseInt(icsRemoveComma($('#txtExecutionQty').val()))+parseInt(oProductionExecution.ExecutionQty)>parseInt(oPriviousItem.ExecutionQty))
        {
            alert("Execution Qty Should be Less than or Equal Privious Step Qty.");
            return false;
        }
    }
   return true;
}

function Close()
{
    window.location.href = sessionStorage.getItem("BackLink");
}



</script>