@{
    ViewBag.Title = "Light Sources";
}
<!DOCTYPE html>
<html>
<head>
    <title>Light Sources</title>
</head>
<body>

    <div class="menuMainCollectionTable">
        <table id="tblLightSources" title="Light Sources List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="Descriptions" width="40%">Description</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <table>
                <tr>
                    <td>
                        <input id="txtDescription" type="text" style="width: 221px;" placeholder="Type Description & Press Add Button" />
                        <a id="btnUpdate" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Update</a>
                        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                        <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    var _sBaseAddress="";
    var _oLightSources=[];
    var _oLightSource=null;
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oLightSources =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        $("#btnUpdate").hide();
        DynamicRefreshList(_oLightSources,"tblLightSources");
    });

    function Validation()
    {
        if($.trim($("#txtDescription").val()) == "")
        {
            alert("Please Type Description and Press Add Button");
            $("#txtDescription").addClass("errorFieldBorder");
            $("#txtDescription").focus();
            return false;
        }else{
            $("#txtDescription").removeClass("errorFieldBorder");
        }
        return true;
    }

    function RefreshObject() {
        var oLightSource = {
            LightSourceID  : (_oLightSource == null ? 0 : _oLightSource.LightSourceID),
            Descriptions : $.trim($("#txtDescription").val())
        };
        return oLightSource;
    }

    $("#btnAdd").click(function(){
        _oLightSource = null;
        AddNew();
    });

    $("#txtDescription").keydown(function(e){
        if(e.keyCode === 13)
        {
            _oLightSource = null;
            AddNew();
        }
    });

    function AddNew()
    {
        if (!Validation())
        {
            return false;
        }
        else
        {
            var oLightSource = RefreshObject();
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oLightSource,
                ObjectId: oLightSource.LightSourceID,
                ControllerName: "FabricExecutionOrder",
                ActionName: "SaveLightSource",
                TableId: "tblLightSources",
                IsWinClose: true,
                Message:""
            };
            $.icsSave(obj, function (response) {
                if (response.status && response.obj != null) {
                    if (response.obj.LightSourceID > 0) {
                        $("#txtDescription").val("");
                        $("#txtDescription").focus();
                        $("#btnUpdate").hide();

                    }
                }
            });
        }
    }

    $("#btnDelete").click(function(){
        var oLightSource = $("#tblLightSources").datagrid("getSelected");
        if(oLightSource == null || oLightSource.LightSourceID <=0)
        {
            alert("Please select an item from list.");
            return;
        }

        if (!confirm("Confirm to Delete?")) return;
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oLightSource,
            ControllerName: "FabricExecutionOrder",
            ActionName: "DeleteLightSource",
            TableId: "tblLightSources",
            IsWinClose: false
        };
        $.icsDelete(obj);
    });

    $("#btnEdit").click(function(){
        var oLightSource = $("#tblLightSources").datagrid("getSelected");
        if(oLightSource == null || oLightSource.LightSourceID <=0)
        {
            alert("Please select an item from list.");
            return;
        }
        _oLightSource = oLightSource;
        $("#txtDescription").removeClass("errorFieldBorder");
        $("#txtDescription").val(oLightSource.Descriptions);
        $("#btnUpdate").show();
    });

    $("#btnUpdate").click(function(){
        AddNew();
    });
</script>
