@{
    ViewBag.Title = "Production Monthly Inspection";
}
@model IEnumerable<ESimSol.BusinessObjects.ReportingObject.RptProductionMonthlyInspection>
<html>
    <head>
        <title>Production Monthly Inspection</title>
    </head>
<div class="easyui-panel menuMainCollectionTable ms-custom-control" title="Production Monthly Inspection" style="width:100%;height:560px;background:#fafafa;" data-options="closable:false, collapsible:false, minimizable:false, maximizable:false">
    <fieldset>
        <legend>Production Inspection Report</legend>
        <div id="region-search" class="col-lg-offset-3 col-lg-5 text-center">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <select id="cboReportType" class="form-control">
                        <option value="">--Select Report Format ---</option>
                        <option value="1">Daily Inspection</option>
                        <option value="2">Monthly Inspection</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 form-inline">
                    <div class="date-part-1 col-lg-5">
                        <div class="input-group date date-container full">
                            <input id="dtFrom" type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th" ng-disabled="disabled"></i></span>
                        </div>
                    </div>
                    <div class="date-part-2 col-lg-2">
                        <span class="date-part"><label class="control-label">to</label> </span>
                    </div>
                    <div class="date-part-2 col-lg-5">
                        <div class="input-group date date-container date-part">
                            <input id="dtTo" type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th" ng-disabled="disabled"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <input id="txtFEONo" class="form-control" placeholder="Search FEO....." />
                        <span class="input-group-btn">
                            <button id="btnPickFEO" type="button" class="btn btn-sm" aria-label="Left Align"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <input id="txtBuyer" class="form-control" placeholder="Search Buyer....." />
                        <span class="input-group-btn">
                            <button id="btnPickBuyer" type="button" class="btn btn-sm" aria-label="Left Align"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="input-group">
                        <input id="txtLoom" class="form-control" placeholder="Search Loom....." />
                        <span class="input-group-btn">
                            <button id="btnPickLoom" type="button" class="btn btn-sm" aria-label="Left Align"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <select id="cboTextileSubUnit" class="form-control"></select>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-12 text-left">
                    <button id="btnExcel" type="button" class="btn btn-sm btn-info" aria-label="Left Align"> <span class="fa fa-file-excel-o" aria-hidden="true"></span> Excel</button>
                </div>
            </div>
        </div>

    </fieldset>
</div>
</html>
 <style type="text/css">
     /*#dtFrom,#dtTo{
        width:152px;
     }*/

     .ms-custom-control .full {
         width:100%;
     }

     .ms-custom-control .region-search .col-lg-2, .col-lg-5, .col-md-12{
         padding-left:0px;
         padding-right:0px;
     }

     .ms-custom-control .input-group-addon-custom{
         width:34px;
     }
 </style>
<script type="text/javascript">
    var _sBaseAddress="";
    var oTextileSubUnits =[];
    $(document).ready(function () {
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        $('#txtBuyer').data('BuyerIDs','');
        $('#txtFEONo').data('FEOIDs','');
        $('#txtLoom').data('FMIDs','');

        $('.date-container').datepicker({
            format: "dd M yyyy",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
        });
        $('#dtFrom,#dtTo').val(icsdateformat(new Date()));
        oTextileSubUnits =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.TextileSubUnits));


        $("#cboTextileSubUnit").icsLoadCombo({List: oTextileSubUnits,OptionValue: "TSUID", DisplayText: "Name", InitialValue:"--Select Shade--"});
    });


    $("#btnExcel").click(function () {
        //if(!SearchVaidation())
        //    return false;

        if($('#cboReportType').val()==undefined || $('#cboReportType').val()=="" || $('#cboReportType').val()<=0){
            alert('Select a report type.')
            return false;
        }
        if(new Date($('#dtFrom').val())=='Invalid Date' || new Date($('#dtTo').val())=='Invalid Date'){
            alert('Invalid Date')
            return false;
        }

        debugger;
        var nts=(new Date()).getTime()/1000;
        if($("#cboReportType").val()==1)//Daily Inspection Report
        {
            window.open(_sBaseAddress + '/FabricReport/ExcelProductionDailyInspection?sParams='+ $("#dtFrom").val() + "~" + $('#txtFEONo').data('FEOIDs') + "~" + $('#txtBuyer').data('BuyerIDs') + "~" + $('#txtLoom').data('FMIDs')+ "~" + $("#dtTo").val()+"~"+$("#cboTextileSubUnit").val()+'&nts='+nts,"_blank");

        }
        else if($("#cboReportType").val()==2)//Monthly Inspection Report
        {
            window.open(_sBaseAddress + '/FabricReport/ExcelProductionMonthlyInspection?sParams='+ $("#dtFrom").val() + "~" + $("#dtTo").val() + "~" + $('#txtFEONo').data('FEOIDs') + "~" + $('#txtBuyer').data('BuyerIDs') + "~" + $('#txtLoom').data('FMIDs')+'&nts='+nts,"_blank");
        }
    });



    //$('#cboReportType').change(function(e){

    //    if($('#cboReportType').val()==1){
    //        $('.ms-custom-control .date-part-2').hide();
    //        $('.ms-custom-control .date-part-1').removeClass('col-lg-5');
    //        $('.ms-custom-control .date-part-1').addClass('col-md-12');
    //        $('.ms-custom-control .date-part-1 input').css({'width':'100%'});
    //        $('.ms-custom-control .date-part-1 .input-group-addon').css({'width':'34px'});

    //    }
    //    else{
    //        $('.ms-custom-control .date-part-2').show();
    //        $('.ms-custom-control .date-part-1').addClass('col-lg-5');
    //        $('.ms-custom-control .date-part-1').removeClass('col-md-12');
    //    }
    //});


    function SearchVaidation(){

        if($('#txtFEONo').data('FEOIDs')=='' && $('#txtBuyer').data('BuyerIDs')=='' && $('#txtLoom').data('FMIDs')=='')
        {
            alert("No searching criteria found.");
            return false;
        }
        return true;
    }


    $('#btnPickBuyer').click(function(e){
        BuyerPicker();
    });

    $("#txtBuyer").keydown(function (e) {
        if (e.keyCode === 13) {
            BuyerPicker();
        }
        else if (e.keyCode === 8) {
            $('#txtBuyer').data('BuyerIDs','');
            $('#txtBuyer').val('');
        }
    });

    function BuyerPicker(){
        var oContractor = {
            Params: 2 + '~' + $.trim($("#txtBuyer").val())
        };

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 400, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winBuyers',
                        winclass: 'clsBuyer',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblBuyers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Buyer List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No buyer found.");
            }
        });
    }




    $('#btnPickFEO').click(function(e){
        FEOPicker();
    });


    $("#txtFEONo").keydown(function (e) {
        if (e.keyCode === 13) {
            FEOPicker();
        }
        else if (e.keyCode === 8) {
            $('#txtFEONo').data('FEOIDs','');
            $('#txtFEONo').val('');
        }
    });

    function FEOPicker(){
        var oFabricExecutionOrder = {
            FEONo: $.trim($("#txtFEONo").val())
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFabricExecutionOrder,
            ControllerName: "FabricExecutionOrder",
            ActionName: "GetsFEOrders",
            IsWinClose: false
        };
        $.icsMaxDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].FEOID > 0) {
                    var tblColums = []; var oColumn = { field: "OrderNo", title: "Order No", width: 200, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winFabricExecutionOrders',
                        winclass: 'clsFabricExecutionOrder',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblFabricExecutionOrders',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Fabric ExecutionOrder List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No FEO found.");
            }
        });
    }


    $('#btnPickLoom').click(function(e){
        LoomPicker();
    });


    $("#txtLoom").keydown(function (e) {
        if (e.keyCode === 13) {
            LoomPicker();
        }
        else if (e.keyCode === 8) {
            $('#txtLoom').data('FMIDs','');
            $('#txtLoom').val('');
        }
    });

    function LoomPicker(){
        var oFM = {
            Name: $.trim($("#txtLoom").val()),
            WeavingProcess:3, //Weaving
            IsBeam:false
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFM,
            ControllerName: "FabricMachine",
            ActionName: "SearchMachine",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].FMID > 0) {
                    var tblColums = []; var oColumn = { field: "Code", title: "Code", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winFabricMachine',
                        winclass: 'clsFabricMachine',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblFabricMachine',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Fabric Machine'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, Fabric Machine Found.");
            }
        });
    }




    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which === 13) {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];

        if (oPickerobj.multiplereturn) {
            oreturnObjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }

        if (oPickerobj.winid == 'winBuyers') {
            if (oreturnObjs != null && oreturnObjs.length > 0) {
                var sBuyerIDs = "";
                $.map(oreturnObjs,function(obj){
                    sBuyerIDs += obj.ContractorID + ","
                });
                sBuyerIDs = sBuyerIDs.substring(0, sBuyerIDs.length - 1);
                $('#txtBuyer').val(oreturnObjs.length + " Buyer(s) Selected").focus();
                $('#txtBuyer').data('BuyerIDs',sBuyerIDs);
            }
            else {
                alert("Select item(s) from list.");
                return false;
            }
        }
        else if (oPickerobj.winid == 'winFabricExecutionOrders') {
            if (oreturnObjs != null && oreturnObjs.length > 0) {
                var sFEOIDs = "";
                $.map(oreturnObjs,function(obj){
                    sFEOIDs += obj.FEOID + ","
                });
                sFEOIDs = sFEOIDs.substring(0, sFEOIDs.length - 1);
                $('#txtFEONo').val(oreturnObjs.length + " Order(s) Selected").focus();
                $('#txtFEONo').data('FEOIDs',sFEOIDs);
            }
            else {
                alert("Select item(s) from list.");
                return false;
            }
        }
        else if (oPickerobj.winid == 'winFabricMachine') {
            if (oreturnObjs != null && oreturnObjs.length > 0) {
                var sFMIDs = "";
                $.map(oreturnObjs,function(obj){
                    sFMIDs += obj.FMID + ","
                });
                sFMIDs = sFMIDs.substring(0, sFMIDs.length - 1);
                $('#txtLoom').val(oreturnObjs.length + " Loom(s) Selected").focus();
                $('#txtLoom').data('FMIDs',sFMIDs);
            }
            else {
                alert("Select item(s) from list.");
                return false;
            }
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }
</script>
