@{
    ViewBag.Title = "Export Bill Particular List";
}
@model IEnumerable<ESimSol.BusinessObjects.ExportPartyInfo>

    <head>
        <title>ExportPartyInfo</title>
      
    </head>
    <body>
        <div id="winExportPartyInfo" class="easyui-window winstyle" title="Bank Informations" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <fieldset>
                <table class="tbl">
                    <tr>
                        <td class="tdLabel">
                            <label style="font-family:Tahoma">Name :</label>
                        </td>
                        <td class="tdInput">
                            <input id="txtName" type="text" disabled="disabled" />
                        </td>
                    </tr>
                   

                </table>
            </fieldset>
            <fieldset class="actionfieldsetstyle">
                <legend>Actions : </legend>
                <a id="btnSaveExportPartyInfo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                <a id="btnCloseExportPartyInfo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
            </fieldset>
        </div>
        <div class="menuMainCollectionTable">
            <table id="tblExportPartyInfos" title="ExportPartyInfo List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="fasle" singleselect="true" autorowheight="false" toolbar="#toolbarExportPartyInfo">
                <thead>
                    <tr>
                        <th field="Name" width="300">Name</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbarExportPartyInfo">
                <a id="btnAddExportPartyInfo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                <a id="btnEditExportPartyInfo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                <a id="btnViewExportPartyInfo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
                <a id="btnDeleteExportPartyInfo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                <a id="btnActiveInactive" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Active /Inactive</a>
            </div>
        </div>
    </body>

    <style type="text/css">
        #winExportPartyInfo {
            width: 400px;
        }
    </style>

    <script type="text/javascript">
        var _sBaseAddress="";
        var _oExportPartyInfo=null;
        var _oExportPartyInfos=[];
      

        $(document).ready(function () {
            _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
            _oExportPartyInfos =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
            DynamicRefreshList(_oExportPartyInfos, "tblExportPartyInfos");
        });

        $(document).keydown(function (e) { if (e.keyCode == 27) { $('#winExportPartyInfo').icsWindow('close'); } });

        
        function RefreshExportPartyInfoLayout(buttonId) {
            if (buttonId === "btnViewExportPartyInfo") {
                $("#winExportPartyInfo input").prop("disabled", true);
                $("#btnSaveExportPartyInfo").hide();
            }
            else {
                $("#winExportPartyInfo input").prop("disabled", false);
                $("#btnSaveExportPartyInfo").show();
            }
            $(".disabled input").prop("disabled", true);
        }
        $("#btnAddExportPartyInfo").click(function () {
            $("#winExportPartyInfo").icsWindow('open',"Add ExportPartyInfo");
            $("#winExportPartyInfo input").val("");
            $("#winExportPartyInfo select").val(0);
            _oExportPartyInfo = null;
            RefreshExportPartyInfoLayout("btnAddExportPartyInfo");
        });


        $("#btnEditExportPartyInfo").click(function () {
            var oExportPartyInfo = $("#tblExportPartyInfos").datagrid("getSelected");
            if (oExportPartyInfo == null || oExportPartyInfo.ExportPartyInfoID <= 0) { alert("Please select an item from list!"); return; }
            $.ajax({
                type: "POST",
                url: _sBaseAddress + "/ExportPartyInfo/Get",
                traditional: true,
                data: JSON.stringify(oExportPartyInfo),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    oExportPartyInfo = jQuery.parseJSON(data);
                    if (oExportPartyInfo.ExportPartyInfoID > 0) {

                        RefreshExportPartyInfoLayout("btnEditExportPartyInfo");
                        RefreshExportPartyInfoControl(oExportPartyInfo);
                        $("#winExportPartyInfo").icsWindow("open", "Edit ExportPartyInfo");
                    
                    }
                }
            });
        });

        $("#btnViewExportPartyInfo").click(function () {
            var oExportPartyInfo = $("#tblExportPartyInfos").datagrid("getSelected");
            if (oExportPartyInfo == null || oExportPartyInfo.ExportPartyInfoID <= 0) {alert("Please select an item from list!");return; }
            $.ajax({
                type: "POST",
                url: _sBaseAddress + "/ExportPartyInfo/Get",
                traditional: true,
                data: JSON.stringify(oExportPartyInfo),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    oExportPartyInfo = jQuery.parseJSON(data);
                    if (oExportPartyInfo.ExportPartyInfoID > 0) {

                        RefreshExportPartyInfoLayout("btnViewExportPartyInfo");
                        RefreshExportPartyInfoControl(oExportPartyInfo);
                        $("#winExportPartyInfo").icsWindow("open", "View ExportPartyInfo");
                    
                    }
                }
            });

        });

        $("#btnDeleteExportPartyInfo").click(function () {

            var oExportPartyInfo = $("#tblExportPartyInfos").datagrid("getSelected");
            if (!confirm("Confirm to Delete?")) return false;
            if (oExportPartyInfo == null || oExportPartyInfo.ExportPartyInfoID <= 0) {
                alert("Invalid Field!!! please select a valid Field!");
                return false;
            }
            var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: oExportPartyInfo,
                ObjectId: oExportPartyInfo.ExportPartyInfoID,
                ControllerName: "ExportPartyInfo",
                ActionName: "Delete",
                TableId: "tblExportPartyInfos",
                IsWinClose: true
            };
            $.icsDelete(obj);
        });
        
        function RefreshObjectExportPartyInfo() {

            var oExportPartyInfo = {
                ExportPartyInfoID: (_oExportPartyInfo != null) ? _oExportPartyInfo.ExportPartyInfoID : 0,
                Name: $("#txtName").val()
               
     
            };
            return oExportPartyInfo;
        }
        $("#btnSaveExportPartyInfo").click(function (e) {

            
            var oExportPartyInfo = RefreshObjectExportPartyInfo();
            var obj =
                {
                    BaseAddress: _sBaseAddress,
                    Object: oExportPartyInfo,
                    ObjectId: oExportPartyInfo.ExportPartyInfoID,
                    ControllerName: "ExportPartyInfo",
                    ActionName: "Save",
                    TableId: "tblExportPartyInfos",
                    IsWinClose: true
                };
            $.icsSave(obj);
        });

        $("#btnCloseExportPartyInfo").click(function () {
            $("#winExportPartyInfo").icsWindow("close");
            $("#winExportPartyInfo input").val("");
            $("#winExportPartyInfo select").val(0);
        });

        function RefreshExportPartyInfoControl(oExportPartyInfo)
        {
            _oExportPartyInfo = oExportPartyInfo;
            $("#txtName").val(_oExportPartyInfo.Name);
            $("#cboInOutType").val(_oExportPartyInfo.InOutTypeInInt);
        }
    </script>

