@{
    ViewBag.Title = "Fabric Return Challan";
}
@model ESimSol.BusinessObjects.FabricReturnChallan

<div ng-app="FabricReturnChallanAPP" class="form-horizontal regionFabricReturnChallan menuMainCollectionTable">
    <div ng-controller="FabricReturnChallanCtrl" style="height:100%; width:99.5%">
        @*Requisition INFO*@
        <div style=" height:20%">
        <fieldset style="height:100%">
            <legend>Challan Info: </legend>
            <div class="row col-md-12">
                <div class="col-md-2 text-right"><label class="control-label">Return No :</label></div>
                <div class="col-md-3 text-left">
                    <input ng-model="FabricReturnChallan.ReturnNo" class="form-control" placeholder="Auto Increment.." disabled />
                </div>
                <div class="col-md-2 text-right"><label class="control-label">Customer Name :</label></div>
                <div class="col-md-3 text-left">
                    <div class="input-group">
                        <input class="form-control" ics-tab="1" ng-model="FabricReturnChallan.BuyerName" placeholder="Type Customer Name & Press Enter" ng-disabled="disabled" ng-keydown="SearchKeyDownBuyer($event)" style="width:80%" />
                        <button type="button" class="btn btn-primary btn-sm" aria-label="center Align" ng-click="PickBuyer()" style="width:20%" ng-disabled="disabled"><span aria-hidden="true">Pick</span></button>
                    </div>
                </div>
                <div class="col-md-2 text-right"><label class="control-label">Get In No :</label></div>
                <div class="col-md-3 text-left">
                    <input ng-model="FabricReturnChallan.GetInNo" ics-tab="2" class="form-control" placeholder="Get In No" ng-disabled="disabled" />

                    @*<div class="input-group">
                        <input class="form-control" ics-tab="2" ng-model="FabricReturnChallan.ChallanNo" placeholder="Type Order & Press Enter" ng-disabled="orderDisabled" ng-keydown="SearchKeyDownChallan($event,1)" style="width:80%" />
                        <button type="button" class="btn btn-primary btn-sm" aria-label="right Align" ng-click="PickChallan()" ng-disabled="orderDisabled" style="width:20%"><span aria-hidden="true"> Pick </span></button>
                    </div>*@
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-2 text-right"><label class="control-label">Return Date :</label></div>
                <div class="col-md-3 text-left">
                    <div class="input-group date date-container">
                        <input type="text" class="form-control" ics-tab="3" ng-disabled="disabled" ng-model="FabricReturnChallan.ReturnDateSt">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
                
                <div class="col-md-2 text-right"><label class="control-label">Party Challan No :</label></div>
                <div class="col-md-3 text-left">
                    <input ng-model="FabricReturnChallan.PartyChallanNo" ics-tab="4" class="form-control" placeholder="Party Challan No" ng-disabled ="disabled" />
                </div>
                <div class="col-md-2 text-right"><label class="control-label" ng-model="lblReceiveStore">Vehicle Info:</label></div>
                <div class="col-md-3 text-left">
                    <input ng-model="FabricReturnChallan.VehicleInfo" ics-tab="5" class="form-control" ng-disabled="disabled" placeholder="Vehicle Info " />
                    @*<select id="cboReceiveStore" ics-tab="4" ng-model="FabricReturnChallan.WorkingUnitID" ng-change="cboStoreChange(1)" ng-options="obj.WorkingUnitID as obj.OperationUnitName for obj in ReceiveStores" ng-disabled="disabled" class="form-control">
                        <option value="">--Select Type--</option>
                    </select>*@
                </div>
            </div>
          
            <div class="row col-md-12">
                <div class="col-md-2 text-right"><label class="control-label">Return Person:</label></div>
                <div class="col-md-3 text-left">
                    <input ng-model="FabricReturnChallan.ReturnPerson" ics-tab="6" class="form-control" ng-disabled="disabled" placeholder="Return Person" />
                </div>

                <div class="col-md-2 text-right"><label class="control-label">Note:</label></div>
                <div class="col-md-3 text-left">
                    <input ng-model="FabricReturnChallan.Note" ics-tab="7" class="form-control" ng-disabled="disabled" placeholder="Note" />
                </div>

                @*<div class="col-md-2 text-right"><label class="control-label">Note :</label></div>
                <div class="col-md-6 text-left">
                    <input ng-model="FabricReturnChallan.Note" ics-tab="6" ng-disabled="disabled" class="form-control" />
                </div>*@
                <div class="col-md-2 text-right"><label class="control-label">Receive By :</label></div>
                <div class="col-md-3 text-left">
                    <input ng-model="FabricReturnChallan.ReceiveByName" class="form-control" disabled />
                </div>
            </div>
        </fieldset>
    </div>
        @*DETAILS TABLE*@ 
        <div style="height:68%; width:100%">
            <fieldset style="height:100%">
                <legend>Details : </legend>
                <div class="row ui-grid-panel" >
                    <div class="container col-md-12">
                        <div class="form-inline">

                            <input class="form-control" ng-model="FabricReturnChallan.ChallanNo" placeholder="Type Challan No & Press Enter" ng-disabled="orderDisabled" ng-keydown="SearchKeyDownChallanDetail($event,1)" style="width:18%" />
                            <input class="form-control" ng-model="FabricReturnChallan.OrderNo" placeholder="Type Dispo No & Press Enter" ng-disabled="orderDisabled" ng-keydown="SearchKeyDownChallanDetailByOrder($event,1)" style="width:18%" />

                            <button type="button" style="margin-left:5px" class="btn btn-primary btn-sm" aria-label="right Align" ng-click="PickChallanDetails()" ng-disabled="disabled"><span aria-hidden="true"> Get Order Details </span></button>
                            @*<input class="form-control" ng-model="FabricReturnChallan.txtProductName" placeholder="Type Product Name & Press Enter" ng-disabled="disabled" ng-keydown="SearchKeyDownProduct($event)" style="width:210px; height:24px;" required />
                            <button type="button" class="btn btn-primary btn-sm" aria-label="right Align" ng-click="PickProduct()" ng-disabled="disabled"><span aria-hidden="true"> Pick </span></button>*@

                            <button type="button" class="btn btn-danger btn-sm" aria-label="right Align" style="float:right; margin-right:5%" ng-click="RemoveProduct()" ng-disabled="disabled"><span aria-hidden="true"> Remove </span></button>
                        </div>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div style="height:275px" ui-grid="gridOptionsFabricReturnChallanDetail" ui-grid-selection ui-grid-resize-columns ui-grid-edit class="grid"></div>
                </div> 
            </fieldset>
        </div>
        <div style="height:8%">
        <fieldset>
            <legend>Action</legend>
            <div class="row col-md-12 text-right">
                <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="Update()" ng-show="hide_Update"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">Update</span> </button>
                <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="Save()" ng-show="hide_Save" > <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">Save</span> </button>
                <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="Receive()" ng-show="hide_Receive"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">Receive</span> </button>
                <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="Approve()" ng-show="hide_Approve"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">Approve</span> </button>
                <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="UndoApprove()" ng-show="hide_UndoApprove"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">UndoApprove</span> </button>
                <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="Close()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"> Close</span> </button>
            </div>
        </fieldset>
        </div>
    </div>
</div>

<style type="text/css">

    .grid{
        width:100%; 
        height:320px;
    }
     /*.ui-grid-panel {
        background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%);
        height:35px;
    }*/
    .regionFabricReturnChallan .form-horizontal .control-label{
        padding-top:3px;
    }
    .regionFabricReturnChallan .form-control{
        height:22px;
        padding:0px 5px;
        font-size:12px;
    }
    .regionFabricReturnChallan .col-md-12{
        width:100%;
        padding-right:5px;
        padding-left:5px;
        margin-bottom:5px;
    }
    .regionFabricReturnChallan .col-md-2{
        width:12%;
        padding-right:5px;
        padding-left:5px;
    }
    .regionFabricReturnChallan .col-md-3{
        width:21%;
        padding-right:5px;
        padding-left:5px;
    }

    .regionFabricReturnChallan .col-md-4{
        width:28%;
        padding-right:5px;
        padding-left:5px;
    }

    .regionFabricReturnChallan .col-md-5{
        width:40%;
        padding-right:5px;
        padding-left:0px;
    }
     .regionFabricReturnChallan .col-md-6{
        width:54%;
        padding-right:5px;
        padding-left:5px;
    }
     .regionFabricReturnChallan .col-md-10{
        width:88%;
        padding-right:5px;
        padding-left:5px;
    }
    .regionFabricReturnChallan .col-md-7{
        width:54.6%;
        padding-right:5px;
        padding-left:5px;
    }
    .regionFabricReturnChallan .col-md-8{
        width:69%;
        padding-right:0px;
        padding-left:0px;
    }
    .regionFabricReturnChallan .btn-sm{
         padding:1px 10px;
     }
     .regionFabricReturnChallan .input-group-addon{
         padding:2px 6px;
     }
</style>

<script type="text/javascript">
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    var oFabricReturnChallan =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    _nChallanFrom = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ChallanUnit));
    _oWorkingUnits = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.WorkingUnits));

    $('.date-container').datepicker({
        format: "dd M yyyy",
        calendarWeeks: true,
        autoclose: true,
        todayHighlight: true
    });

    var FabricReturnChallanModule = angular.module('FabricReturnChallanAPP', ['ngAnimate', 'ui.bootstrap', 'ui.grid', 'ui.grid.selection', 'ui.grid.edit','ui.grid.resizeColumns','ui.grid.cellNav','ms.service']);
    FabricReturnChallanModule.controller('FabricReturnChallanCtrl', function ($scope, $http, $uibModal, $log, uiGridConstants, msModal,icsMethod, userSession,msGridControl) {
        debugger;
        sessionStorage.setItem('BaseAddress',_sBaseAddress)
        var viewType = sessionStorage.getItem("Operation");

        $scope.disabled= false;
        $scope.orderDisabled= false;
        $scope.hide=false;
        $scope.hide_Receive=false;
        $scope.hide_Approve=false;
        $scope.hide_UndoApprove=false;
        $scope.hide_Save=false;
        $scope.hide_Update=false;

        $scope.viewType=viewType;
        if (viewType == 'Approve')
        {
            $scope.disabled= true;
            $scope.orderDisabled= true;
            $scope.hide=true;
            $scope.hide_Receive=false;
            $scope.hide_Approve=true;
            $scope.hide_UndoApprove=false;
            $scope.hide_Save=false;
            $scope.hide_Update=false;
        }
        if(viewType == 'UndoApprove')
        {
            $scope.disabled= true;
            $scope.orderDisabled= true;
            $scope.hide=true;
            $scope.hide_Receive=false;
            $scope.hide_UndoApprove=true;
            $scope.hide_Approve=false;
            $scope.hide_Save=false;
        }
        else  if (viewType == 'Receive')
        {
            $scope.disabled= true;
            $scope.orderDisabled= true;
            $scope.hide=true;
            $scope.hide_Receive=true;
            $scope.hide_Approve=false;
            $scope.hide_UndoApprove=false;
            $scope.hide_Save=false;
            //$scope.hide_Update=true;
        }
        else if (viewType == 'Edit' || viewType == 'New')
        {
            $scope.disabled= false;
            $scope.orderDisabled= false;
            $scope.hide=false;
            $scope.hide_Request=false;
            $scope.hide_UndoApprove=false;
            $scope.hide_Approve=false;
            $scope.hide_Save=true;
        }
        else if (viewType == 'View')
        {
            $scope.disabled= true;
            $scope.orderDisabled= true;
            $scope.hide=true;
            $scope.hide_Request=false;
            $scope.hide_UndoApprove=false;
            $scope.hide_Approve=false;
            $scope.hide_Save=false;
        }
        else if (viewType == 'Update')
        {
            $scope.disabled= true;
            $scope.orderDisabled= false;
            $scope.hide=true;
            $scope.hide_Request=false;
            $scope.hide_UndoApprove=false;
            $scope.hide_Approve=false;
            $scope.hide_Update=true;
            $scope.hide_Save=false;
        }

        $scope.ReceiveStores=_oWorkingUnits;
        $scope.FabricReturnChallan=oFabricReturnChallan;

        //$scope.gridOptionsFabricReturnChallanDetail = {
        //    showColumnFooter: true,
        //    enableFullRowSelection: true,
        //    rowHeight: 25 ,
        //    columnFooterHeight:24,
        //    enableHorizontalScrollbar: uiGridConstants.scrollbars.NEVER,
        //    enableSelectAll: false,
        //    multiSelect:false,
        //    columnDefs:oDetailColumns,
        //    data:$scope.FabricDeliveryChallan.FDCDetails_Adj,
        //    enableCellEdit:false,
        //    onRegisterApi: function (gridApi) {
        //        $scope.gridDetailApi_Adj = gridApi;
        //        gridApi.edit.on.afterCellEdit($scope,
        //          function (rowEntity, colDef, newValue, oldValue)
        //          {
        //              debugger;
        //              //$scope.SetTotal();
        //              return rowEntity;
        //          });
        //    }
        //};

        $scope.Validation = function()
        {
            //if($scope.FabricReturnChallan.OrderType<=0 && viewType == 'Approve')
            //{
            //    alert("Please Select Order Type And Try Again.");
            //    angular.element('#cboOrderType').trigger('focus');
            //    return false;
            //}
            //if($scope.FabricReturnChallan.FabricDeliveryChallanID<=0 && viewType == 'Approve')
            //{
            //    alert("Please Select Order And Try Again.");
            //    angular.element('#cboOrderType').trigger('focus');
            //    return false;
            //}

            //if($scope.FabricReturnChallan.ProductTypeInt<=0)
            //{
            //    alert("Please Select Product Type And Try Again.");
            //    angular.element('#cboOrderType').trigger('focus');
            //    return false;
            //}

            //if($scope.FabricReturnChallan.WorkingUnitID<=0)
            //{
            //    alert("Please Select Receive Store And Try Again.");
            //    angular.element('#cboReceiveStore').trigger('focus');
            //    return false;
            //}
            if($scope.FabricReturnChallan.BuyerID<=0)
            {
                alert("Please Select Buyer!!");
                return;
            }
            $scope.FabricReturnChallan.FRCDetails=$scope.gridOptionsFabricReturnChallanDetail.data;
            if($scope.FabricReturnChallan.FRCDetails.length<=0)
            {
                alert("Please Select Details And Try Again.");
                return false;
            }

            var oFRCDetails =  $scope.gridOptionsFabricReturnChallanDetail.data;
            for(var i=0; i<oFRCDetails.length; i++)
            {
                if(oFRCDetails[i].Qty<=0)
                {
                    alert("Please Set Qty(valid) For "+oFRCDetails[i].ProductName+" And Try Again.");
                    return false;
                }
            }

            //if (viewType == 'Receive')
            //{
            //    var oFRCDetails =  $scope.gridOptionsFabricReturnChallanDetail.data;
            //    for(var i=0; i<oFRCDetails.length; i++)
            //    {
            //        if(oFRCDetails[i].LotID==0)
            //        {
            //            alert("Please Pick Lot For "+oFRCDetails[i].ProductName+" And Try Again.");
            //            return false;
            //        }
            //    }
            //}
            return true;
        }
        $scope.Save = function ()
        {
            if(!$scope.Validation()) return;
            var oFabricReturnChallan= $scope.FabricReturnChallan;
            oFabricReturnChallan.ReturnDate = new Date($scope.FabricReturnChallan.ReturnDateSt);
            oFabricReturnChallan.FRCDetails = $scope.gridOptionsFabricReturnChallanDetail.data;

            debugger;
            $http.post(_sBaseAddress+'/FabricReturnChallan/SaveFRC',JSON.stringify(oFabricReturnChallan)).then(
                function (response) {
                    var result=jQuery.parseJSON(response.data);
                    console.log(result);
                    if(result.FabricReturnChallanID>0 && result.ErrorMessage=="")
                    {
                        debugger;
                        alert("Data Saved Successfully!!");
                        $scope.FabricReturnChallan=result;
                        userSession.setData('FabricReturnChallans',$scope.FabricReturnChallan);
                        userSession.previousPage();
                    }
                    else
                    {
                        alert(result.ErrorMessage);
                    }
                },
                function (response) { alert(jQuery.parseJSON(response.data).ErrorMessage);}
            );
        };
        $scope.Approve = function ()
        {
            if(!$scope.Validation())
                return;
            var oFabricReturnChallan= $scope.FabricReturnChallan;
            oFabricReturnChallan.ReturnDate = new Date($scope.FabricReturnChallan.ReturnDateSt);
            oFabricReturnChallan.ReqDate = new Date($scope.FabricReturnChallan.ReqDateST);
            oFabricReturnChallan.ImportLCDate = new Date($scope.FabricReturnChallan.ImportLCDateST);

            debugger;
            $http.post(_sBaseAddress+'/FabricReturnChallan/ApproveFRC',JSON.stringify(oFabricReturnChallan)).then(
                function (response) {
                    var result=jQuery.parseJSON(response.data);
                    if(result.FabricReturnChallanID>0)
                    {
                        debugger;
                        $scope.FabricReturnChallan=result;
                        userSession.setData('FabricReturnChallans',$scope.FabricReturnChallan);
                        userSession.previousPage();
                    }
                    else
                    {
                        alert(result.ErrorMessage);
                    }
                },
                function (response) { alert(jQuery.parseJSON(response.data).ErrorMessage);}
        );
        };
        $scope.UndoApprove = function () {
            if(!$scope.Validation())
                return;
            var oFabricReturnChallan= $scope.FabricReturnChallan;
            oFabricReturnChallan.ReturnDate = new Date($scope.FabricReturnChallan.ReturnDateSt);
            oFabricReturnChallan.ReqDate = new Date($scope.FabricReturnChallan.ReqDateST);
            oFabricReturnChallan.ImportLCDate = new Date($scope.FabricReturnChallan.ImportLCDateST);

            debugger;
            $http.post(_sBaseAddress+'/FabricReturnChallan/UndoApproveFRC',JSON.stringify(oFabricReturnChallan)).then(
                function (response) {
                    var result=jQuery.parseJSON(response.data);
                    if(result.FabricReturnChallanID>0)
                    {
                        debugger;
                        $scope.FabricReturnChallan=result;
                        userSession.setData('FabricReturnChallans',$scope.FabricReturnChallan);
                        userSession.previousPage();
                    }
                    else
                    {
                        alert(result.ErrorMessage);
                    }
                },
                function (response) { alert(jQuery.parseJSON(response.data).ErrorMessage);}
        );
        };
        $scope.Receive = function ()
        {
            if(!$scope.Validation())
                return;
            var oFabricReturnChallan= $scope.FabricReturnChallan;
            oFabricReturnChallan.ReturnDate = new Date($scope.FabricReturnChallan.ReturnDateSt);
            oFabricReturnChallan.ReqDate = new Date($scope.FabricReturnChallan.ReqDateST);
            oFabricReturnChallan.ImportLCDate = new Date($scope.FabricReturnChallan.ImportLCDateST);

            debugger;
            $http.post(_sBaseAddress+'/FabricReturnChallan/ReceiveFRC',JSON.stringify(oFabricReturnChallan)).then(
                function (response) {
                    var result=jQuery.parseJSON(response.data);
                    if(result.FabricReturnChallanID>0)
                    {
                        debugger;
                        $scope.FabricReturnChallan=result;
                        userSession.setData('FabricReturnChallans',$scope.FabricReturnChallan);
                        //sessionStorage.setItem('FabricReturnChallan',$scope.FabricReturnChallan);
                        userSession.previousPage();
                        // msModal.Message({headerTitle : '', bodyText:'Save Successfully.', sucessText : 'Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                    }
                    else
                    {
                        alert(result.ErrorMessage);
                    }
                },
                function (response) { alert(jQuery.parseJSON(response.data).Message);}
        );
        };

        $scope.SearchKeyDownChallanDetail = function (e, nKey){
            //debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13)
            {
                var sChallanNo = $.trim($scope.FabricReturnChallan.ChallanNo);
                if(sChallanNo=="" || sChallanNo==null)
                {
                    alert("Type Challan No and Press Enter!");
                    return;
                }
                
                //var nBuyerID = ($scope.FabricReturnChallan.BuyerID == undefined ? 0 :  $scope.FabricReturnChallan.BuyerID) ;
                //if(nBuyerID <=0)
                //{
                //    alert("No Buyer Found! Please select a buyer & try again.");
                //    $('.ics-tab-1').focus();
                //    return false;
                //}
                var nBuyerID =0;
                var oDyeingOrder= 
                {
                    ChallanNo:(sChallanNo == undefined ? "" : sChallanNo),
                    ContractorID: nBuyerID
                };
                $scope.PickChallanDetails(oDyeingOrder);
            }else if (code == 8) //backspace=8
            {
                //debugger;
                $scope.FabricReturnChallan.ChallanNo='';
            }
        };
        $scope.SearchKeyDownChallanDetailByOrder = function (e, nKey){
          
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13)
            { 
                debugger;
                var sOrderNo = $.trim($scope.FabricReturnChallan.OrderNo);
                if(sOrderNo=="" || sOrderNo==null)
                {
                    alert("Type Order/Dispo No and Press Enter!");
                    return;
                }

                var nBuyerID = ($scope.FabricReturnChallan.BuyerID == undefined ? 0 :  $scope.FabricReturnChallan.BuyerID) ;
                if(nBuyerID <=0)
                {
                    alert("No Buyer Found! Please select a buyer & try again.");
                    $('.ics-tab-1').focus();
                    return false;
                }

                var oDyeingOrder= 
                {
                    ExeNo:(sOrderNo == undefined ? "" : sOrderNo),
                    ContractorID: nBuyerID
                };
                $scope.PickChallanDetails(oDyeingOrder);
            }else if (code == 8) //backspace=8
            {
                //debugger;
                $scope.FabricReturnChallan.OrderNo='';
            }
        };
        $scope.PickChallanDetails= function (oDyeingOrder)
        {
            debugger;
            //var nBuyerID = ($scope.FabricReturnChallan.BuyerID == undefined ? 0 :  $scope.FabricReturnChallan.BuyerID) ;
            //if(nBuyerID <=0)
            //{
            //    alert("No Buyer Found! Please select a buyer & try again.");
            //    $('.ics-tab-1').focus();
            //    return false;
            //}
            var nBuyerID =0;
            if(oDyeingOrder==undefined)
            {
                oDyeingOrder= { ContractorID : nBuyerID, Params: ''};
            }

            //======= PREVIOUS DETAILS =======//
            var oRows =$scope.gridOptionsFabricReturnChallanDetail.data;
            var sFDCDIDs="";
            for(var i=0;i<oRows.length;i++)
            {
                sFDCDIDs+=oRows[i].FDCDID +",";
            }

            oDyeingOrder.Params=sFDCDIDs.substring(0,sFDCDIDs.length-1);

            debugger;
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(_sBaseAddress+'/FabricReturnChallan/GetsChllanDetailByChallan',$.param(oDyeingOrder), config).then(
                        function (response)
                        {
                            debugger;
                            var oDetailColumns = [];
                            oColumn = {name: ' ',width:'3%', cellTemplate: '<div style="padding-top:5px;"><span>{{grid.renderContainers.body.visibleRowCache.indexOf(row)+1}}</span></div>',cellClass: 'text-center', enableCellEdit: false, enableSorting:false, enableColumnResizing:false, enableColumnMenu:false}; oDetailColumns.push(oColumn);
                            oColumn = { field: 'ChallanNo', name:'ChallanNo', width:'8%',cellClass: 'text-left', enableCellEdit:false };oDetailColumns.push(oColumn);
                            //oColumn = { field: 'IssueDateSt', name:'Date', width:'15%',cellClass: 'text-left', enableCellEdit:false };oDetailColumns.push(oColumn);
                            //oColumn = { field: 'DeliveryToName', name:'BuyerName', width:'40%',cellClass: 'text-left', enableCellEdit:false };oDetailColumns.push(oColumn);
                            //oColumn ={ field: 'Qty', name:'Qty', width:'12%',cellClass: 'text-left', cellFilter:'number:2',enableCellEdit:false };oDetailColumns.push(oColumn);
                            //oColumn = { field: 'Note', name:'Remarks', width:'12%',cellClass: 'text-left', enableCellEdit:false };oDetailColumns.push(oColumn);
                            var oColumn = { field: 'ExeNo', name:'DispoNo', width:'10%',cellClass: 'text-left', enableCellEdit:false };oDetailColumns.push(oColumn);
                            oColumn = { field: 'ProductName', name:'Commodity', width:'15%',cellClass: 'text-left', enableCellEdit:false };oDetailColumns.push(oColumn);
                            //oColumn = { field: 'Qty', name:'Challan Qty', width:'10%',cellClass: 'text-right', cellFilter:'number:2', enableCellEdit:false };oDetailColumns.push(oColumn);
                            oColumn = { field: 'LotNo', name:'Lot No', width:'20%',cellClass: 'text-right', enableCellEdit:true, };oDetailColumns.push(oColumn);
                            //cellTemplate:'<div>' +'<span> {{row.entity.LotNo}} </span><button style="align:right" ng-click="grid.appScope.OpenLotModal()">Pick</button>' +'</div>'};oDetailColumns.push(oColumn);
                            //oColumn ={ field: 'Qty_LotParent', name:'Balance', visible:false, width:'10%',cellClass: 'text-right',aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true, footerCellFilter: 'number:2', footerCellClass: 'text-right',enableCellEdit:false };oDetailColumns.push(oColumn);
                            oColumn ={ field: 'ChallanQty', name:'Del. Qty', width:'10%',cellClass: 'text-right',aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true, footerCellFilter: 'number:2', footerCellClass: 'text-right',enableCellEdit:true };oDetailColumns.push(oColumn);
                            oColumn = { field: 'Qty_Return_Prv', name:'Pre. Return Qty', width:'10%',cellClass: 'text-right', cellFilter:'number:2', enableCellEdit:false };oDetailColumns.push(oColumn);
                            oColumn ={ field: 'Qty', name:'Qty', width:'10%',cellClass: 'text-right',aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true, footerCellFilter: 'number:2', footerCellClass: 'text-right',enableCellEdit:true };oDetailColumns.push(oColumn);
                            //oColumn ={ field: 'Balance', name:'Due Qty', width:'10%',cellClass: 'text-right',aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true, footerCellFilter: 'number:2', footerCellClass: 'text-right',enableCellEdit:false };oDetailColumns.push(oColumn);
                            oColumn ={ field: 'MUName', name:'Unit', width:'7%',cellClass: 'text-left',enableCellEdit:false };oDetailColumns.push(oColumn);
                            oColumn ={ field: 'Brand', name:'Brand', width:'10%',cellClass: 'text-left',enableCellEdit:true };oDetailColumns.push(oColumn);
                            oColumn ={ field: 'Note', name:'Remarks', width:'10%',cellClass: 'text-left',enableCellEdit:true };oDetailColumns.push(oColumn);

                            var results=JSON.parse(response.data);

                            if(results.length<=0)
                            {
                                alert("No Data Found!!"); 
                                //$('.ics-tab-2').focus();
                                return;
                            }

                            var modalObj={
                                size:'lg',
                                modalcontroller:'',
                                url:_sBaseAddress+'/Home/Modal',
                                appcontroller:'FabricReturnChallanCtrl',
                                objs:results,
                                multiSelect:true,
                                pickertitle:'Challan List',
                                searchingbyfieldName:'ChallanNo',
                                columns:oDetailColumns,
                                summation: {label:'Total : @@Challan Qty', field:['Qty']}
                            }
                            var modalInstance=msModal.Instance(modalObj);
                            var oFRCDetails =  $scope.gridOptionsFabricReturnChallanDetail.data;

                            modalInstance.result.then(function (result)
                            {
                                //$scope.FabricReturnChallan.FabricDeliveryChallanID=result.FDCID;
                                //$scope.FabricReturnChallan.ChallanNo=result.ChallanNo;
                                //$scope.FabricReturnChallan.WorkingUnitID=result.WorkingUnitID;

                                if(result.length>0)
                                {
                                    for(var i=0;i<result.length;i++)
                                    {
                                        result[i].MUnitID = result[i].MUID;
                                        result[i].Qty_DC = result[i].Qty;
                                        $scope.gridOptionsFabricReturnChallanDetail.data.push(result[i]);
                                    }
                                    //$scope.FabricReturnChallan.FRCDetails=result;
                                    //$scope.MakeFabricReturnChallanDetail();
                                }

                            }, function () {
                                $log.info('Modal dismissed at: ' + new Date());
                            });
                        },
                            function (response) {debugger; alert(response.statusText);}
                    );
        };

        $scope.GetOrderDetails= function (sChallanNo)
        {
            debugger;

            var oRows =$scope.gridOptionsFabricReturnChallanDetail.data;

            var sFDCDIDs="";
            for(var i=0;i<oRows.length;i++){
                sFDCDIDs+=oRows[i].FDCDID +",";
            }
            sFDCDIDs=sFDCDIDs.substring(0,sFDCDIDs.length-1);

            var oFabricReturnChallan= { 
                FDCID:$scope.FabricReturnChallan.FabricDeliveryChallanID,
                Params:sFDCDIDs
            };

            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(_sBaseAddress+'/FabricReturnChallan/GetsChllanDetailByChallan',$.param(oFabricReturnChallan), config).then(
                        function (response)
                        {
                            debugger;
                            var result=jQuery.parseJSON(response.data);
                            debugger;
                            if(result.length>0)
                            {
                                $scope.FabricReturnChallan.FRCDetails=result;
                                $scope.MakeFabricReturnChallanDetail();
                            }else {alert("No Data Found!!");}
                        },
                            function (response) { alert(response.statusText);}
                    );
        };
        $scope.PickBuyer= function ()
        {
            var oContractor= {
                Params: '2,3'+'~'+(($scope.FabricReturnChallan.BuyerName==undefined)? '':$scope.FabricReturnChallan.BuyerName)
            };
            debugger;
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(_sBaseAddress+'/FabricReturnChallan/ContractorSearchByNameType',$.param(oContractor), config).then(
                        function (response)
                        {
                            var oDetailColumns = [];
                            var oColumn = { field: 'ContractorID', name:'Code', width:'11%',cellClass: 'text-right', enableCellEdit:false };oDetailColumns.push(oColumn);
                            oColumn = { field: 'Name', name:'Name', width:'92%',cellClass: 'text-left', enableCellEdit:false };oDetailColumns.push(oColumn);
                            var results=response.data;
                            if(results[0].ContractorID==0)
                            {
                                alert("No Data Found!!"); 
                                
                                $('.ics-tab-1').focus();
                                return;
                            }

                            var modalObj={
                                size:'md',
                                url:_sBaseAddress+'/Home/Modal',
                                modalcontroller:'',
                                appcontroller:'FabricReturnChallanCtrl',
                                objs:results,
                                multiSelect:false,
                                pickertitle:'Buyer List',
                                searchingbyfieldName:'Name',
                                columns:oDetailColumns
                            }
                            var modalInstance=msModal.Instance(modalObj);
                            //var oFRCDetails =  $scope.gridOptionsFabricReturnChallanDetail.data;
                            modalInstance.result.then(function (result)
                            {
                                if(result.ContractorID>0)
                                {
                                    $scope.FabricReturnChallan.BuyerName=result.Name;
                                    $scope.FabricReturnChallan.BuyerID=result.ContractorID;
                                }else
                                {
                                    $('.ics-tab-1').focus();
                                    alert("No Data Selected!!");
                                }
                            }, function () {
                                $log.info('Modal dismissed at: ' + new Date());
                            });
                        },
                            function (response) { debugger;  alert(response.statusText);}
                    );
        };
        $scope.SearchKeyDownBuyer = function (e){
            //debugger;
            var code = (e.keyCode ? e.keyCode : e.which);

            if (code == 13)
            {
                var txtOrder = $.trim($scope.FabricReturnChallan.BuyerName);
                if(txtOrder=="" || txtOrder==null)
                {
                    alert("Type Buyer Name and Press Enter.");
                    
                    $('.ics-tab-1').focus();
                    return;
                }

                $scope.PickBuyer();
            }else if (code == 8) //backspace=8
            {
                //debugger;
                $scope.FabricReturnChallan.ChallanNo='';
                $scope.FabricReturnChallan.FabricDeliveryChallanID=0;
                $scope.FabricReturnChallan.BuyerID=0;
            }
        };

        $scope.PickChallan= function (sChallanNo)
        {
            var nBuyerID = ($scope.FabricReturnChallan.BuyerID == undefined ? 0 :  $scope.FabricReturnChallan.BuyerID) ;
            if(nBuyerID <=0)
            {
                alert("No Buyer Found! Please select a buyer & try again.");
                $('.ics-tab-1').focus();
                return false;
            }
       
            var oDyeingOrder= 
            {
                ChallanNo:(sChallanNo == undefined ? "" : sChallanNo),
                ContractorID: nBuyerID
            };
            debugger;
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(_sBaseAddress+'/FabricReturnChallan/GetsChllanByBuyer',$.param(oDyeingOrder), config).then(
                        function (response)
                        {
                            debugger;
                            var oDetailColumns = [];
                            var oColumn = { field: 'ChallanNo', name:'ChallanNo', width:'20%',cellClass: 'text-left', enableCellEdit:false };oDetailColumns.push(oColumn);
                            oColumn = { field: 'IssueDateSt', name:'Date', width:'15%',cellClass: 'text-left', enableCellEdit:false };oDetailColumns.push(oColumn);
                            oColumn = { field: 'DeliveryToName', name:'BuyerName', width:'40%',cellClass: 'text-left', enableCellEdit:false };oDetailColumns.push(oColumn);
                            oColumn ={ field: 'Qty', name:'Qty', width:'12%',cellClass: 'text-left', cellFilter:'number:2',enableCellEdit:false };oDetailColumns.push(oColumn);
                            oColumn = { field: 'Note', name:'Remarks', width:'12%',cellClass: 'text-left', enableCellEdit:false };oDetailColumns.push(oColumn);
                            //oColumn ={ field: 'Qty_Preq', name:'Already Used', width:'14%',cellClass: 'text-left',enableCellEdit:false };oDetailColumns.push(oColumn);
                            var results=JSON.parse(response.data);

                            if(results.length<=0)
                            {
                                alert("No Data Found!!"); 
                                $('.ics-tab-2').focus();
                                return;
                            }

                            var modalObj={
                                size:'lg',
                                modalcontroller:'',
                                url:_sBaseAddress+'/Home/Modal',
                                appcontroller:'FabricReturnChallanCtrl',
                                objs:results,
                                multiSelect:false,
                                pickertitle:'Challan List',
                                searchingbyfieldName:'ChallanNo',
                                columns:oDetailColumns
                            }
                            var modalInstance=msModal.Instance(modalObj);
                            var oFRCDetails =  $scope.gridOptionsFabricReturnChallanDetail.data;

                            modalInstance.result.then(function (result)
                            {
                                $scope.FabricReturnChallan.FabricDeliveryChallanID=result.FDCID;
                                $scope.FabricReturnChallan.ChallanNo=result.ChallanNo;
                                $scope.FabricReturnChallan.WorkingUnitID=result.WorkingUnitID;
                            }, function () {
                                $log.info('Modal dismissed at: ' + new Date());
                            });
                        },
                            function (response) {debugger; alert(response.statusText);}
                    );
        };
        $scope.SearchKeyDownChallan = function (e, nKey){
            //debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13)
            {
                var sChallanNo = $.trim($scope.FabricReturnChallan.ChallanNo);
                if(sChallanNo=="" || sChallanNo==null)
                {
                    alert("Type Challan No and Press Enter!");
                    
                    $('.ics-tab-2').focus();
                    return;
                }

                $scope.PickChallan(sChallanNo);
            }else if (code == 8) //backspace=8
            {
                //debugger;
                $scope.FabricReturnChallan.ChallanNo='';
                $scope.FabricReturnChallan.FabricDeliveryChallanID=0;
            }
        };

        $scope.MakeFabricReturnChallanDetail= function()
        {
            debugger;
            var oDetailColumns = [];
            var oColumn =  {name: '#',width:'4%', cellTemplate: '<div style="padding-top:5px;"><span>{{grid.renderContainers.body.visibleRowCache.indexOf(row)+1}}</span></div>',cellClass: 'text-center', enableCellEdit: false, enableSorting:false, enableColumnResizing:false, enableColumnMenu:false};oDetailColumns.push(oColumn);
            oColumn = { field: 'ChallanNo', name:'ChallanNo', width:'8%',cellClass: 'text-right', enableCellEdit:true, };oDetailColumns.push(oColumn);
            oColumn = { field: 'ExeNo', name:'DispoNo', width:'10%',cellClass: 'text-right', enableCellEdit:true, };oDetailColumns.push(oColumn);
            oColumn = { field: 'ProductName', name:'Commodity', width:'15%',cellClass: 'text-left', enableCellEdit:false };oDetailColumns.push(oColumn);
            oColumn = { field: 'LotNo', name:'Lot No', width:'10%',cellClass: 'text-right', enableCellEdit:true, };oDetailColumns.push(oColumn);
            oColumn ={ field: 'Qty_DO', name: 'Order Qty', cellClass: 'text-right',width: '10%' , cellFilter: 'number: 2', aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true,  type: 'number', enableCellEdit:false,footerCellClass: 'text-right' ,footerCellFilter: 'number:0'};oDetailColumns.push(oColumn);
            oColumn ={ field: 'Qty_DC', name: 'Challan Qty', cellClass: 'text-right',width: '10%' , cellFilter: 'number: 2', aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true,  type: 'number', enableCellEdit:false,footerCellClass: 'text-right' ,footerCellFilter: 'number:0'};oDetailColumns.push(oColumn);
           
            oColumn ={ field: 'Qty_Return_Prv', name:'Returned', visible:true, width:'8%',cellClass: 'text-right',aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true, footerCellFilter: 'number:2', footerCellClass: 'text-right',enableCellEdit:false };oDetailColumns.push(oColumn);
            oColumn ={ field: 'Qty', name: 'Return Qty', cellClass: 'text-right',width: '10%' , cellFilter: 'number: 2', aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true,  type: 'number', enableCellEdit:false,footerCellClass: 'text-right' ,footerCellFilter: 'number:0'};oDetailColumns.push(oColumn);
            
            //oColumn ={ field: 'Qty_Due', name:'Due Qty', width:'10%',cellClass: 'text-right',aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true, footerCellFilter: 'number:2', footerCellClass: 'text-right',enableCellEdit:false };oDetailColumns.push(oColumn);
            oColumn ={ field: 'MUName', name:'Unit', width:'8%',cellClass: 'text-left',enableCellEdit:false };oDetailColumns.push(oColumn);
            //oColumn ={ field: 'Brand', name:'Brand', width:'10%',cellClass: 'text-left',enableCellEdit:true };oDetailColumns.push(oColumn);
            oColumn ={ field: 'Note', name:'Remarks', width:'10%',cellClass: 'text-left',enableCellEdit:true };oDetailColumns.push(oColumn);

            $scope.gridOptionsFabricReturnChallanDetail = {
                showColumnFooter: true,
                enableRowSelection: true,
                enableRowHeaderSelection: false,
                multiSelect: false,
                enableColumnResizing: true,
                cellEditableCondition: function($scope)
                {
                    debugger;
                    if (viewType == 'Edit' || viewType == 'New' ||viewType == 'Receive')
                    {
                        if($scope.row.entity.Qty<0 ||$scope.row.entity.Qty==undefined)
                            return false;
                        else
                        {
                            if($scope.row.entity.OrderQty==undefined)
                                $scope.row.entity.OrderQty=$scope.row.entity.Qty;
                           
                            return true;
                        }
                    }else
                        return false;
                },
                columnDefs:oDetailColumns,
                data:  $scope.FabricReturnChallan.FRCDetails,
                onRegisterApi: function (gridApi)
                {
                    $scope.gridDetailApi = gridApi;
                    gridApi.edit.on.afterCellEdit($scope,
                     function (rowEntity, colDef, newValue, oldValue)
                     {
                         debugger;
                         if(rowEntity.Qty_DC>0 )
                         {
                             if( rowEntity.Qty > ( parseFloat(rowEntity.Qty_DC) + (rowEntity.Qty_Return_Prv * 1)) )
                             {
                                 rowEntity.Qty = rowEntity.Qty_DC;
                                 alert("Return Qty Can Not Be Greater Than Challan Qty!!");
                             }
                             else if(rowEntity.Qty<=0 )
                             {
                                 rowEntity.Qty=rowEntity.Qty_DC;
                                 alert("Requ. Qty Can Not Be Equal Or Less Then Zero!!");
                             }
                             else 
                             {
                                 var nDue = (parseFloat(rowEntity.Qty_DC) - parseFloat(rowEntity.Qty_Return_Prv) - parseFloat(rowEntity.Qty))
                                 rowEntity.Qty_Due = (nDue < 0 ? 0 : nDue);
                             }
                         }
                         return rowEntity;
                     });
                }
            };

            //var oFRCDetails=$scope.FabricReturnChallan.FRCDetails;
            // $scope.gridOptionsFabricReturnChallanDetail.data=[];
            // $scope.gridOptionsFabricReturnChallanDetail.data= $scope.FabricReturnChallan.FRCDetails;
        }
        $scope.MakeFabricReturnChallanDetail();
       
        $scope.Close = function () {
            userSession.previousPage();
        };

        //$scope.PickProduct= function ()
        //{
        //    $scope.txtLotNo="";
        //    var oPorduct= {
        //        ProductName:($scope.FabricReturnChallan.txtProductName == undefined ? "" : $scope.FabricReturnChallan.txtProductName),
        //        BUID:$scope.FabricReturnChallan.BUID
        //    };
        //    debugger;
        //    var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
        //    $http.post(_sBaseAddress+'/FabricReturnChallan/GetProducts',$.param(oPorduct), config).then(
        //                function (response)
        //                {
        //                    debugger;
        //                    var oDetailColumns = [];
        //                    var   oColumn = { field: 'ProductCode', name:'Code', width:'20%',cellClass: 'text-left', enableCellEdit:false };oDetailColumns.push(oColumn);
        //                    oColumn = { field: 'ProductName', name:'Porduct', width:'65%',cellClass: 'text-left', enableCellEdit:false };oDetailColumns.push(oColumn);
        //                    oColumn = { field: 'MUnit', name:'MUnit', width:'20%',cellClass: 'text-left', enableCellEdit:false };oDetailColumns.push(oColumn);
        //                    var results=JSON.parse(response.data);
        //                    var modalObj={
        //                        size:'lg',
        //                        url:_sBaseAddress+'/Home/Modal',
        //                        modalcontroller:'',
        //                        appcontroller:'',
        //                        objs:results,
        //                        multiSelect:false,
        //                        pickertitle:'Porduct List',
        //                        searchingbyfieldName:'DestinationLotNo',
        //                        columns:oDetailColumns
        //                    }
        //                    debugger;

        //                    var modalInstance=msModal.Instance(modalObj);
        //                    modalInstance.result.then(function (result)
        //                    {
        //                        if(result.ProductID>0)
        //                        {
        //                            $scope.FabricReturnChallan.txtProductName="";
        //                            var oProduct=
        //                                {
        //                                    ProductID:result.ProductID,
        //                                    ProductName:result.ProductName,
        //                                    MUnit:result.MUnit,
        //                                    MUnitID:result.MeasurementUnitID,
        //                                    Qty:0,
        //                                    Qty_Order:0,
        //                                    Remarks:""
        //                                }
        //                            $scope.gridOptionsFabricReturnChallanDetail.data.push(oProduct);
        //                        }
        //                        else
        //                        {
        //                            $scope.FabricReturnChallan.ProductID=0;
        //                            $scope.FabricReturnChallan.ProductName="";
        //                            $scope.FabricReturnChallan.MUnit="";
        //                            $scope.txtProductName="";
        //                        }
        //                    }, function () {
        //                        $log.info('Modal dismissed at: ' + new Date());
        //                    });
        //                },
        //                    function (response) { alert(response.statusText);}
        //            );
        //};
        //$scope.SearchKeyDownProduct = function (e){
        //    //debugger;
        //    var code = (e.keyCode ? e.keyCode : e.which);
        //    if (code == 13)
        //    {
        //        var txtPorduct = $.trim($scope.FabricReturnChallan.txtProductName);
        //        if(txtPorduct=="" || txtPorduct==null)
        //        {
        //            alert("Type Product Name and Press Enter");
        //            return;
        //        }

        //        $scope.PickProduct();
        //    }else if (code == 8) //backspace=8
        //    {
        //        //debugger;
        //        $scope.txtPorductNo='';
        //    }
        //};
        $scope.RemoveProduct= function ()
        {
            var oDetail = $scope.gridDetailApi.selection.getSelectedRows()[0];
            //var data=$scope.gridApi.selection.getSelectedRows();
            if(oDetail==null)
            {
                alert("Select At least One item !");
                return;
            }
            var SelectedRowIndex=$scope.gridOptionsFabricReturnChallanDetail.data.indexOf(oDetail);
            if (!confirm("Confirm to Remove?")) return ;
            $scope.gridOptionsFabricReturnChallanDetail.data.splice(SelectedRowIndex,1);
        }

    });
</script>


