@{
    ViewBag.Title = "Production Report List";
}
@model IEnumerable<ESimSol.BusinessObjects.ProductionReport>
<head>
</head>
<body>
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable">
        <div class="easyui-panel" title="Production Registers" style="font-family:Tahoma; text-align:center; height:88%;">
            <fieldset style="height:95%; text-align:center;">
                <legend style="font-weight:bold"> Serching Criteria : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:100%; margin-top:120px">
                    <tr>
                        <td colspan="5" style="height:20px;"></td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Sheet No :</td>
                        <td style="width:30%;text-align:left">
                            <input type="text" style="width:100%" id="txtSheetNo" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Transaction Date :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:45%; text-align:center">
                                        <input id="txtStartTransactionDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:45%; text-align:center">
                                        <input id="txtEndTransactionDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> PI No :</td>
                        <td style="width:30%;text-align:left">
                            <input type="text" style="width:100%" id="txtExportPINo" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Shift :</td>
                        <td style="width:38%;text-align:right">
                            <select id="cboShift" style="width:100%;"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Product :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtProduct" placeholder="Press enter with product name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearProduct" />
                                        <input type="button" value="PIck" style="width:65%" id="btnPickProduct" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Machine :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtMachine" placeholder="Press enter with Machine name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearMachine" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickMachine" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Customer :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtCustomer" placeholder="Press enter with Customer name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearCustomer" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickCustomer" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> </td>
                        <td style="width:38%;text-align:right">
                            @*<table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtBuyer" placeholder="Press enter with Buyer name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearBuyer" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickBuyer" />
                                    </td>
                                </tr>
                            </table>*@
                        </td>
                    </tr>
                    
                    <tr>
                        <td style="width:15%;text-align:right"> Report Layout :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboReportLayout" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> </td>
                        <td style="width:38%;text-align:right">
                            @*<input type="text" id="txtRemarks" style="width:99%" />*@
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:50%;text-align:right"></td>
                    <td style="width:50%;text-align:right">
                        <a id="btnPrintList" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" iconcls="icon-print" title="Preview ProductionReport" plain="true">Preview</a>
                        @*<a id="btnPrintInXLProductionReport" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" iconcls="icon-excel" title="excel ProductionReport" plain="true">Print List</a>*@
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>

<script type="text/javascript">
    
    $(document).ready(function() {
        var oProductionReports = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oHRMShifts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.HRMShifts));
        sessionStorage.setItem('BUID',nBUID);
        $("#cboShift").icsLoadCombo({ List: oHRMShifts, OptionValue: "ShiftID", DisplayText: "Name" });
        DynamicRefreshList(oProductionReports, 'tblProductionReports');
        SetTodayDate();
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();

        $('#txtCustomer').data('Customers', []);
        //$('#txtBuyer').data('Buyers', []);
        $('#txtMachine').data('Machines', []);
        $('#txtProduct').data('Products', []);
    });

    function SetTodayDate()
    {
        $('#txtStartTransactionDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtEndTransactionDate').datebox('setValue', icsdateformat(new Date()));
    }

    //$('#btnPrintList').click(function (){
    //    var oProductionReport=RefreshObject();
    //    var sShiftName = "";
    //    if(parseInt(oProductionReport.ShiftID)!=0)
    //    {
    //        sShiftName = $('#cboShift option:selected').text();
    //    }
    //    var sIDs = sessionStorage.getItem('BUID')+"~"+oProductionReport.ShiftID+"~"+oProductionReport.TransactionStartDate+"~"+oProductionReport.TransactionEndDate+"~"+sShiftName;
    //    window.open(sessionStorage.getItem("BaseAddress")+ "/ProductionReport/PrintList?sIDs="+sIDs,'_blank');
    //});

    function ValidateSearch()
    {
        if( $('#txtStartTransactionDate').datebox('getValue') > $('#txtEndTransactionDate').datebox('getValue') )
        {
            alert("Start date must be smallar than or equal end date!");
            $('#txtStartTransactionDate').focus();
            return false;
        }

    }

    function RefreshObject()
    {
        var oCustomers = $('#txtCustomer').data('Customers');
        //var oBuyers = $('#txtBuyer').data('Buyers');
        var oMachines = $('#txtMachine').data('Machines');
        var oProducts = $('#txtProduct').data('Products');

        var oProductionReport={
            BUID : sessionStorage.getItem('BUID'),
            ShiftID:$("#cboShift").val(),
            TransactionStartDate:$('#txtStartTransactionDate').datebox('getValue'),
            TransactionEndDate:$('#txtEndTransactionDate').datebox('getValue'),
            SheetNo: $.trim($('#txtSheetNo').val()),
            ExportPINo: $.trim($('#txtExportPINo').val()),
            ProductName:ICS_PropertyConcatation(oProducts, 'ProductID'),
            CustomerName : ICS_PropertyConcatation(oCustomers, 'ContractorID'),
            MachineNo : ICS_PropertyConcatation(oMachines, 'CRID')
        };
        return oProductionReport;
    }

    $('#btnPrintList').click(function(){
      
        var oProductionReport=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ProductionReport/SetProductionReportData",
            traditional: true,
            data:  JSON.stringify(oProductionReport),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful")
                {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(sessionStorage.getItem("BaseAddress")+ "/ProductionReport/PrintList?ts="+tsv,'_blank');
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });
    
    $('#btnClose').click(function (e) {
        window.location.href = window.location.href;
    });
    $('#btnRefresh').click(function(){
       
        var oProductionReport=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/ProductionReport/GetReports",
            traditional: true,
            data:  JSON.stringify(oProductionReport),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
               var oProductionReports = jQuery.parseJSON(data);
                if (oProductionReports.length>0 && (oProductionReports[0].ErrorMessage==null || oProductionReports[0].ErrorMessage=="")) 
                {
                    DynamicRefreshList(oProductionReports, 'tblProductionReports');
                }
                else {
                    alert("Data Not Found.");
                    DynamicRefreshList([], 'tblProductionReports');
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });

    $('#btnPrintProductionReport').click(function(){
        var oProductionReports=$('#tblProductionReports').datagrid('getRows');
        if(oProductionReports==null||oProductionReports.length<=0){return false;}
        for(var i=0;i<oProductionReports.length;i++){
            oProductionReports[i].ProductionReportDate=oProductionReports[i].ProductionReportDateSt;
            oProductionReports[i].GLDate=oProductionReports[i].GLDateSt;
            oProductionReports[i].ApproveDate=oProductionReports[i].ApproveDateSt;
            oProductionReports[i].RefObjectDate=oProductionReports[i].RefObjectDateSt;
        }
        $("#txtProductionReportCollectionList").val(JSON.stringify(oProductionReports));
    });

    //Product PIck
    function PickProduct()
    {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oProduct = {
            BUID : nBUID,
            ProductName : $.trim($('#txtProduct').val())
        };
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Product Code", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Product Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductCategoryName", title: "Category", width: 100, align: "left" }; tblColums.push(oColumn)
                    var oPickerParam = {
                        winid: 'winProducts',
                        winclass: 'clsProducts',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProducts',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'ProductName',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtProduct").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtProduct').val())===null || $.trim($('#txtProduct').val())==="")
            {
                alert("Press enter with product name");
                return;
            }
            PickProduct();
        }
    });
    $("#btnPickProduct").click(function () {
        $('#txtProduct').val('');
        PickProduct();
    });
    $('#txtProduct').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtProduct").removeClass("fontColorOfPickItem");
            $('#txtProduct').data('Products', []);
        }
    });
    $('#btnClearProduct').click(function(e){
        $("#txtProduct").val("");
        $('#txtProduct').data('Products', []);
        $("#txtProduct").removeClass("fontColorOfPickItem");
    });
    //End Product PIcker

    //Machin Pick   
    $("#txtMachine").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtMachine').val())==null || $.trim($('#txtMachine').val())=="")
            {
                alert("Please Type Machine Name And Press Enter.");
                return;
            }
            GetMachines($.trim($('#txtMachine').val()));
        }else if(code==8)
        {
            $('#txtMachine').val("");
            $('#txtMachine').removeClass('fontColorOfPickItem');
            $('#divPP').data('ProductionExecution').MachineID = 0;
            $('#txtMachine').focus();
        }
    });
    $("#btnPickMachine").click(function () 
    {
        GetMachines("");
    });
    $('#txtMachine').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            //debugger;
            $("#txtMachine").removeClass("fontColorOfPickItem");
            $("#txtMachine").val('');
            $('#divPS').data('ProductionSheet').MachineID = 0;
        }
    });
    $('#btnClearMachine').click(function(e){
        $("#txtMachine").val("");
        $('#txtMachine').data('Machines', []);
        $("#txtMachine").removeClass("fontColorOfPickItem");
    });
    function GetMachines(sMachineName)
    {
        var oCapitalResource = {ResourcesTypeInInt:2,BUID:sessionStorage.getItem('BUID'),Name:sMachineName};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oCapitalResource,
            ControllerName:"CapitalResource",
            ActionName: "GetsCapitalResourceLastLayer",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].CRID > 0) {
                    debugger;
                    var tblColums = []; var oColumn = { field: "Name", title: "Machine Name", width:300, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winMachine',
                        winclass: 'clsMachine',
                        winwidth: 500,
                        winheight: 400,
                        tableid: 'tblMachine',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Machine List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
            }
        });
    }
    //End Machin PIcker

    ///Customer PIck
    function PickCustomer()
    {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oContractor = { Params: '2,3' + '~' + $.trim($('#txtCustomer').val())+'~'+ nBUID };//here 1 is Customer
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winCustomers',
                        winclass: 'clsCustomers',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblCustomers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Customer List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtCustomer").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtCustomer').val())===null || $.trim($('#txtCustomer').val())==="")
            {
                alert("Press enter with Customer name");
                return;
            }
            PickCustomer();
        }
    });
    $("#btnPickCustomer").click(function () {
        $('#txtCustomer').val('');
        PickCustomer();
    });
    $('#txtCustomer').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtCustomer").removeClass("fontColorOfPickItem");
            $('#txtCustomer').data('Customers', []);
        }
    });
    $('#btnClearCustomer').click(function(e){
        $("#txtCustomer").val("");
        $('#txtCustomer').data('Customers', []);
        $("#txtCustomer").removeClass("fontColorOfPickItem");
    });
    //End Customer PIcker

    function IntializePickerbutton(oPIckerobj) {
        $("#" + oPIckerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPIckerValueAssign(oPIckerobj);
        });
        $(document).find('.' + oPIckerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPIckerValueAssign(oPIckerobj);
            }
        });
    }

    function SetPIckerValueAssign(oPIckerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPIckerobj.multiplereturn) {
            oreturnobjs = $('#' + oPIckerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPIckerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPIckerobj.winid).icsWindow("close");
        $("#" + oPIckerobj.winid).remove();

        if (oPIckerobj.winid === 'winCustomers')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtCustomer').val(oreturnobjs.length+"'s Customers seleted");
                $('#txtCustomer').addClass('fontColorOfPickItem');
                $('#txtCustomer').data('Customers', oreturnobjs);
                $('#txtCustomer').focus();
            }
        }
        if (oPIckerobj.winid === 'winBuyers')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtBuyer').val(oreturnobjs.length+"'s Buyers seleted");
                $('#txtBuyer').addClass('fontColorOfPickItem');
                $('#txtBuyer').data('Buyers', oreturnobjs);
                $('#txtBuyer').focus();
            }
        }
        else if (oPIckerobj.winid === 'winProducts')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtProduct').val(oreturnobjs.length+"'s Products seleted");
                $('#txtProduct').addClass('fontColorOfPickItem');
                $('#txtProduct').data('Products', oreturnobjs);
                $('#txtProduct').focus();
            }
        }
        else if (oPIckerobj.winid=='winMachine')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) 
            {
                $('#txtMachine').val(oreturnobjs.length+"'s Machines seleted");
                $('#txtMachine').addClass('fontColorOfPickItem');
                $('#txtMachine').data('Machines', oreturnobjs);
                $('#txtMachine').focus();
            }
        }
    }

    function updateProgress() {
        var value =$('#progbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progbarParent").hide();
    }


</script>