@{
    ViewBag.Title = "Currency Conversion";
}
@model ESimSol.BusinessObjects.CurrencyConversion

<div style="padding-top:5px; height:99%" ng-app="CurrencyConversionAPP" ng-controller="CurrencyConversionCtrl" class="form-horizontal regionCurrencyConversion">
    
    <div style="height:90%">  
        <fieldset style="height:100%">
            <legend>Currency Setup Info: </legend>
            <div style="padding:15% 0 0 0">
                <div class="row col-md-12">
                    <div class="col-md-2 text-right"><label class="control-label">Bank Name:</label></div>
                    <div class="col-md-4 text-left">
                        <select ng-model="CurrencyConversion.BankBranchID" ng-options="obj.BankBranchID as obj.BranchName for obj in BankBranchs" ng-disabled="disabled" class="form-control">
                            <option value="">--Select Bank--</option>
                        </select>
                    </div>
                    <div class="col-md-2 text-right"><label class="control-label">Conversion Date:</label></div>
                    <div class="col-md-4 text-left">
                        <div class="input-group date date-container">
                            <input type="text" class="form-control" ng-disabled="disabled" ng-model="CurrencyConversion.DateSt">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-2 text-right"><label class="control-label">From Currency:</label></div>
                    <div class="col-md-4 text-left">
                        <select ng-model="CurrencyConversion.CurrencyID" ng-options="obj.CurrencyID as obj.CurrencyName for obj in Currencys" ng-disabled="disabled" class="form-control">
                            <option value="">--Select Currency--</option>
                        </select>
                    </div>
                    <div class="col-md-2 text-right"><label class="control-label">To Currency:</label></div>
                    <div class="col-md-4 text-left">
                        <select ng-model="CurrencyConversion.ToCurrencyID" ng-options="obj.CurrencyID as obj.CurrencyName for obj in Currencys" ng-disabled="disabled" class="form-control">
                            <option value="">--Select Currency--</option>
                        </select>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-2 text-right"><label class="control-label">Purchase Rate:</label></div>
                    <div class="col-md-4 text-left">
                        <input ng-model="CurrencyConversion.RatePurchase" ng-disabled="disabled" class="form-control number" />
                    </div>
                    <div class="col-md-2 text-right"><label class="control-label">Sale Rate:</label></div>
                    <div class="col-md-4 text-left">
                        <input ng-model="CurrencyConversion.RateSale" ng-disabled="disabled" class="form-control number" />
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-2 text-right"><label class="control-label">Note:</label></div>
                    <div class="col-md-10 text-left">
                        <input ng-model="CurrencyConversion.Note" ng-disabled="disabled" class="form-control" />
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
   
    <div style="height:10%">
        <fieldset>
            <legend>Action</legend>
            <div class="row col-md-12 text-right">
                <button type="button" class="btn btn-sm btn-success" aria-label="Left Align" ng-show="hide_Save" ng-click="Save()"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">Save</span> </button>
                <button type="button" class="btn btn-sm btn-danger" aria-label="Left Align" ng-click="Close()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"> Close</span> </button>
            </div>
        </fieldset>
    </div>
</div>

<style type="text/css">

    .grid{
        width:100%; 
        height:320px;
    }
    .regionCurrencyConversion .form-horizontal .control-label{
        padding-top:3px;
    }
    .regionCurrencyConversion .form-control{
        height:26px;
        padding:0px 6px;
        font-size:12px;
    }
    .regionCurrencyConversion .col-md-12{
        width:100%;
        padding-right:5px;
        padding-left:5px;
        margin-bottom:5px;
    }
    .regionCurrencyConversion .col-md-2{
        width:13%;
        padding-right:5px;
        padding-left:5px;
    }
    .regionCurrencyConversion .col-md-3{
        width:20%;
        padding-right:5px;
        padding-left:5px;
    }

    .regionCurrencyConversion .col-md-4{
        width:37%;
        padding-right:5px;
        padding-left:5px;
    }

    .regionCurrencyConversion .col-md-5{
        width:40%;
        padding-right:5px;
        padding-left:0px;
    }

     .regionCurrencyConversion .col-md-10{
        width:87%;
        padding-right:5px;
        padding-left:5px;
    }

    .regionCurrencyConversion .col-md-8{
        width:69%;
        padding-right:5px;
        padding-left:5px;
    }
    .regionCurrencyConversion .btn-sm{
         padding:3px 10px;
     }
     .regionCurrencyConversion .input-group-addon{
         padding: 4px 8px;
     }
</style>

<script type="text/javascript">

    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    var oCurrencyConversion =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var oBankBranchs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BankBranchs));
    var oCurrencys =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Currencys));
    
    $('.date-container').datepicker({
        format: "dd M yyyy",
        calendarWeeks: true,
        autoclose: true,
        todayHighlight: true
    });

    var CurrencyConversionModule = angular.module('CurrencyConversionAPP', ['ngAnimate', 'ui.bootstrap', 'ui.grid', 'ui.grid.selection', 'ui.grid.edit','ms.service']);
    CurrencyConversionModule.controller('CurrencyConversionCtrl', function ($scope, $http, $uibModal, $log, uiGridConstants, msModal, userSession) {
        debugger;
        var viewType = sessionStorage.getItem("Operation");
        if (viewType == 'View')
        {
            $scope.disabled= true;
            $scope.hide=false;
            $scope.hide_Save=false;
        }
        else
        {
            $scope.disabled= false;
            $scope.hide=false;
            $scope.hide_Save=true;
        }

        $scope.CurrencyConversion=oCurrencyConversion;
        $scope.Currencys=oCurrencys;
        $scope.BankBranchs=oBankBranchs;

        
        $scope.Validation = function()
        {
            debugger;
            
            if($scope.CurrencyConversion.CurrencyID<=0)
            {
                alert("Please Select From Currency And Try Again.");
                return false;
            }
            if($scope.CurrencyConversion.ToCurrencyID<=0)
            {
                alert("Please Select To Currency And Try Again.");
                return false;
            }
            if($scope.CurrencyConversion.RateSale<=0)
            {
                alert("Please Enter Sale Rate And Try Again.");
                return false;
            }
            if($scope.CurrencyConversion.RatePurchase<=0)
            {
                alert("Please Enter Purchase Rate And Try Again.");
                return false;
            }
            return true;
        }
        $scope.Save = function () {

            if(!$scope.Validation())
                return;

            $scope.CurrencyConversion.Date=new Date($scope.CurrencyConversion.DateSt);

            if($scope.CurrencyConversion.BankBranchID>0)
                $scope.CurrencyConversion.IsOpen=false;

            $http.post(_sBaseAddress+'/CurrencyConversion/Save',JSON.stringify($scope.CurrencyConversion)).then(
                function (response) {
                    var result=jQuery.parseJSON(response.data);
                    if(result.CurrencyConversionID>0)
                    {
                        debugger;
                        $scope.CurrencyConversion=result;
                        userSession.setData('CurrencyConversions',$scope.CurrencyConversion);
                        //sessionStorage.setItem('CurrencyConversion',$scope.CurrencyConversion);
                        userSession.previousPage();
                        // msModal.Message({headerTitle : '', bodyText:'Save Successfully.', sucessText : 'Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                    }
                    else
                    {
                        alert(result.ErrorMessage);
                    }
                },
                function (response) { alert(jQuery.parseJSON(response.data).ErrorMessage);}
        );
        };
     
        $scope.Close = function () {
            userSession.previousPage();
        };

    });
</script>


