@{
    ViewBag.Title = "Order Step Group List";
}
@model IEnumerable<ESimSol.BusinessObjects.OrderStepGroup>
<div style="margin-left: 0px; height: 100%; width:100%">
    <table id="tblOrderStepGroups" title="Order Step Group List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" , autorowheight="false" toolbar="#toolbar">
        <thead>
            <tr>
                <th field="GroupName" width="400">Group Name</th>
                <th field="Note" width="200">Note</th>
            </tr>
        </thead>
    </table>​  
    <div id="toolbar">
        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="Add()">Add</a>  
        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="Edit()">Edit</a>                
        <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-details" plain="true" onclick="Details()">View</a>
        <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="Delete()">Delete</a> 
        <a id="btnCopy" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-copy" plain="true" onclick="Copy()">Copy</a>
    </div>              
</div>


<script type="text/javascript">

$(document).ready(function () {
    //debugger;
    var oOrderStepGroups =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 
    var oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));  
    var oNewOrderStepGroups =sessionStorage.getItem("OrderStepGroups");
    if(oNewOrderStepGroups!=null)
    {
        oNewOrderStepGroups = jQuery.parseJSON(oNewOrderStepGroups);
    }
    else
    {
        oNewOrderStepGroups=oOrderStepGroups;
    }
    RefreshList(oNewOrderStepGroups);
    //RefreshControlLayout(oAuthorizationRolesMapping);
});






function Add()
{
    //debugger;
    var oOrderStepGroups= $('#tblOrderStepGroups').datagrid('getRows');
    sessionStorage.setItem("OrderStepGroups", JSON.stringify(oOrderStepGroups)); 
    sessionStorage.setItem("SelectedRowIndex", -1);   
    sessionStorage.setItem("OrderStepGroupHeader", "Add TAP Tamplet");
    var oBackLink = window.location.href;
    sessionStorage.setItem("BackLink", oBackLink);
    window.location.href = sessionStorage.getItem('BaseAddress')+ "/OrderStepGroup/ViewOrderStepGroup?id=0";
  
} 



function Edit()
{
    //debugger;
    var oOrderStepGroup= $('#tblOrderStepGroups').datagrid('getSelected'); 
    if(oOrderStepGroup==null || oOrderStepGroup.OrderStepGroupID<=0)
    {
        alert("Please select a item from list!");
        return;
    }
    var SelectedRowIndex=$('#tblOrderStepGroups').datagrid('getRowIndex',oOrderStepGroup);
    var tsv=((new Date()).getTime())/1000;
    var oOrderStepGroups= $('#tblOrderStepGroups').datagrid('getRows');
    sessionStorage.setItem("OrderStepGroups", JSON.stringify(oOrderStepGroups)); 
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);   
    sessionStorage.setItem("OrderStepGroupHeader", "Edit TAP Tamplet");
    var oBackLink = window.location.href;
    sessionStorage.setItem("BackLink", oBackLink);
    window.location.href = sessionStorage.getItem('BaseAddress')+ "/OrderStepGroup/ViewOrderStepGroup?id="+oOrderStepGroup.OrderStepGroupID;
} 


function Copy()
{
    var oOrderStepGroup= $('#tblOrderStepGroups').datagrid('getSelected'); 
    if(oOrderStepGroup==null || oOrderStepGroup.OrderStepGroupID<=0)
    {
        alert("Please select a item from list!");
        return;
    }
    var SelectedRowIndex=$('#tblOrderStepGroups').datagrid('getRowIndex',oOrderStepGroup);
    var tsv=((new Date()).getTime())/1000;
    var oOrderStepGroups= $('#tblOrderStepGroups').datagrid('getRows');
    sessionStorage.setItem("OrderStepGroups", JSON.stringify(oOrderStepGroups)); 
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);   
    sessionStorage.setItem("OrderStepGroupHeader", "Copy TAP Tamplet");
    var oBackLink = window.location.href;
    sessionStorage.setItem("BackLink", oBackLink);
    window.location.href = sessionStorage.getItem('BaseAddress')+ "/OrderStepGroup/ViewCopyOrderStepGroup?id="+oOrderStepGroup.OrderStepGroupID;
}

function Details()
{
//debugger;
    var oOrderStepGroup= $('#tblOrderStepGroups').datagrid('getSelected'); 
    if(oOrderStepGroup==null || oOrderStepGroup.OrderStepGroupID<=0)
    {
        alert("Please select a item from list!");
        return;
    }
    var SelectedRowIndex=$('#tblOrderStepGroups').datagrid('getRowIndex',oOrderStepGroup);
    var tsv=((new Date()).getTime())/1000;
    var oOrderStepGroups= $('#tblOrderStepGroups').datagrid('getRows');
    sessionStorage.setItem("OrderStepGroups", JSON.stringify(oOrderStepGroups)); 
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);   
    sessionStorage.setItem("OrderStepGroupHeader", "View TAP Tamplet");
    var oBackLink = window.location.href;
    sessionStorage.setItem("BackLink", oBackLink);
    window.location.href = sessionStorage.getItem('BaseAddress')+ "/OrderStepGroup/ViewOrderStepGroup?id="+oOrderStepGroup.OrderStepGroupID;  
} 

function Delete()
{
        //debugger;  
        var oOrderStepGroup= $('#tblOrderStepGroups').datagrid('getSelected');
        if(oOrderStepGroup==null || oOrderStepGroup.OrderStepGroupID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");                  
            return false;
        }
        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblOrderStepGroups').datagrid('getRowIndex',oOrderStepGroup);

        if (oOrderStepGroup.OrderStepGroupID > 0) 
        {
            $.ajax
            ({
                type: "GET",
                dataType: "json",                
                url : sessionStorage.getItem('BaseAddress')+  "/OrderStepGroup/Delete",
                data: { id: oOrderStepGroup.OrderStepGroupID},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //debugger;
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Data delete successfully") 
                    {
                        alert("Delete sucessfully");                        
                        $('#tblOrderStepGroups').datagrid('deleteRow',SelectedRowIndex);
                          
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error) 
                {
                    alert(error);
                }
                      
            });
        }
}

    
function RefreshList(oOrderStepGroups)
{    
    data=oOrderStepGroups;
    data={"total":""+data.length+"","rows":data};
    $('#tblOrderStepGroups').datagrid('loadData',data);     
    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
    if(nIndex!=-1)
    {
        $('#tblOrderStepGroups').datagrid('selectRow', nIndex);
    }
}


function RefreshControlLayout(oAuthorizationRolesMapping)
{
    
    $('#btnAdd,#btnEdit,#btnDelete,#btnView,#btnCopy').hide();
    
    if(PermissionChecker('Add','OrderStepGroup',oAuthorizationRolesMapping)){ $('#btnAdd').show(); }
    if(PermissionChecker('Edit','OrderStepGroup',oAuthorizationRolesMapping)){$('#btnEdit').show();}
    if(PermissionChecker('Delete','OrderStepGroup',oAuthorizationRolesMapping)){ $('#btnDelete').show();   }
    if(PermissionChecker('View','OrderStepGroup',oAuthorizationRolesMapping)){ $('#btnView').show(); }
    if(PermissionChecker('Copy','OrderStepGroup',oAuthorizationRolesMapping)){$('#btnCopy').show(); }
    
}


</script>