
@{
    ViewBag.Title = "Stock Summery Report";
}
@model IEnumerable<ESimSol.BusinessObjects.Rpt_DailyStockSummery>

<div class="PageBody" style="width:900px; height:550px; margin-left:0px;margin-right:0px"> 

<table id="tblRpt_DailyStockSummerys" title="Stock Report"  class="easyui-datagrid" style="width:895px;height:532px" fitColumns="true" rownumbers="true" toolbar="#toolbar" pagination="false" singleSelect="true", autoRowHeight="false",autoRowWidth="false">        
                <thead>                   
                    <tr>  
                        @*<th field="ck" checkbox="true"></th>*@
                        <th field="ProductName"  width="100">ProductName</th>
                        <th field="MUName" width="70">Unit</th>                        
                        <th field="UnitPrice" width="60" align="right" formatter="formatPrice">Rate</th>
                        <th field="OpeningBalance" width="100" align="right" formatter="formatPrice">OpeningBalance</th>
                        <th field="ReceiveQty" width="90" align="right" formatter="formatPrice">ReceiveQty</th>
                        <th field="ReturnQty" width="90" align="right" formatter="formatPrice">ReceiveBy</th>                        
                        <th field="ConsumedQty" width="90" align="right" formatter="formatPrice">ConsumedQty</th>
                        <th field="ClosingBalance" width="100" align="right" formatter="formatPrice">ClosingBalance</th>

                        <th field="OpeningValue" width="90" align="right">OpeningValue</th>
                        <th field="ReceiveValue" width="90" align="right">ReceiveValue</th>
                        <th field="ReturnValue" width="90" align="right">ReturnValue</th>
                        <th field="ConsumedValue" width="90" align="right">ConsumedValue</th>
                        <th field="ClosingValue" width="90" align="right">ClosingValue</th>
                    </tr>  
                </thead>        
 </table>​  
     
    <div id="toolbar">              
            <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" onclick="Search()">Search</a>
            <a href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Print Users" iconCls="icon-print" plain="true" onclick="PrintStockSummary()">Print</a>
           @* <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="Add()">New</a>
            <a href="javascript:void(0)" class="easyui-linkbutton"  iconCls="icon-edit" plain="true" onclick="Edit()">Edit</a>
            <a href="javascript:void(0)" class="easyui-linkbutton"  iconCls="icon-cancel" plain="true" onclick="Delete()">Delete</a>
            <a href="javascript:void(0)" class="easyui-linkbutton"  iconCls="icon-details" plain="true" onclick="View()">View</a>    
            <a href="javascript:void(0)" class="easyui-linkbutton"  iconCls="icon-ok" plain="true" onclick="Disburse()">Disburse</a>            
            <a href="javascript:void(0)" class="easyui-linkbutton"  iconCls="icon-reload" plain="true" onclick="RefreshAll()">Refresh All</a>*@
            
    </div> 
     

</div>


<script type="text/javascript">
var _ROWS = [];
var _sBaseAddress ='';

$(document).ready(function () {
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    _ROWS =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));  
    data = _ROWS;     
    data={"total":""+data.length+"","rows":data};
    $('#tblRpt_DailyStockSummerys').datagrid('loadData',data); 
    $('#tblRpt_DailyStockSummerys').datagrid({selectOnCheck:true, checkOnSelect:true})
});

function Search()
{  
debugger;
    var oParameter = new Object();
    var url =_sBaseAddress + "/Report/SearchRDSR";
    var oCChallans = window.showModalDialog(url, oParameter, 'dialogHeight:260px;dialogWidth:390px;dialogLeft:300;dialogTop:130;center:yes;resizable:no;status:no;scroll:no');
    debugger;

    if(oCChallans!=null)
    {
        if(oCChallans.length>0)
        {
            $('#tblRpt_DailyStockSummerys').empty();
            data = oCChallans;
            data = { "total": "" + data.length + "", "rows": data };
            $('#tblRpt_DailyStockSummerys').datagrid('loadData', data);
        }
    }
    else {
        return;
    }
        
}

function formatPrice(val,row){  
//////debugger;

    if(val==null)
    {
        val=0.00;
    }
    val=parseFloat(val);
    var test = val.toFixed(2);
    var tests = addComma(test);
    return tests;       
} 
function addComma(nStr)
{
	nStr += '';
	x = nStr.split('.');
	x1 = x[0];
	x2 = x.length > 1 ? '.' + x[1] : '';
	var rgx = /(\d+)(\d{3})/;
	while (rgx.test(x1)) {
		x1 = x1.replace(rgx, '$1' + ',' + '$2');
	}
	return x1 + x2;
}
function PrintStockSummary()
   {
        debugger;
        var TotalRows = $('#tblRpt_DailyStockSummerys').datagrid('getRows');
        var IDs="";
        for(var i=0;i<TotalRows.length;i++)
            {
                IDs=IDs+TotalRows[i].ProductID+',';
            }
        IDs = IDs.substring(0, IDs.length - 1);       
       window.open(_sBaseAddress + '/Report/PrintStockSummary?rows='+IDs, "_blank");
       
   } 
</script>
