
@{
    ViewBag.Title = "Store Wise Report";
}
@model ESimSol.BusinessObjects.StoreWiseReport
<fieldset style="width:350px; text-align:center; height:250px;margin-left:250px; border:0"> 
  <div style="height:250px; overflow:auto; width:350px; text-align:center; ">
  <br/>
     <table border="0">
     <tr>
                <td style="width:120px; font-size:13px; text-align:right">
                Select Store
                </td> 
                 <td style="width:210px; text-align:right">
               @Html.DropDownListFor(model => model.MeasurementUnitID, Model.WorkingUnitList.Select(x => new SelectListItem() { Text = x.OperationUnitName, Value = x.WorkingUnitID.ToString() }), new { id = "cboWorkingUnitID", style = "width: 205px;" })
                  </td>
                <td></td>                
           </tr>
           </table>
          
           <table border="0">
             <tr>
                <td style="width:120px; font-size:13px; text-align:right">
                Select Product
                </td>
                 <td style="width:210px; text-align:right">
                 <input type="text" id="ProductIDs" style="width:199px;"/>
                  </td>
                <td></td>                
           </tr> 
           </table>
       
           <table border="0">
          <tr>
                <td style="width:115px; font-size:13px; text-align:right">
                    Date:
                </td> 
                 <td style="width:216px; text-decoration:underline; text-align:right">
                      @Html.DropDownList("cboOpenDate", new SelectList(Enum.GetValues(typeof(ICS.Base.Client.Utility.EnumCompareOperator))), new { id = "cboOpenDate", style = "width: 206px;", @class = "_select_changeA" })
                </td>  
                <td></td>                
          </tr> 
          </table>
          
          <table border="0">   
          <tr id="trDateFrom">
                <td id="fromDate" style="width:122px; font-size:13px; text-align:right">
                   Date From
                </td> 
                 <td style="width:210px; text-decoration:underline; text-align:right">
                      @*@Html.TextBox("txtOpenStartDate", DateTime.Today.ToString("dd MMM yyyy"), new { style = "width: 201px", id = "txtOpenStartDate" })*@
                    <input id="txtOpenStartDate" type="text" class="easyui-datebox" style="width: 206px;"
                    data-options="formatter:icsdateformat" />
                </td>  
                <td></td>                
          </tr>
          </table>
       
          <table border="0">                      
          <tr id="trDateTo">
                <td style="width:122px; font-size:13px; text-align:right" id= "enddateT"> To </td>
                    
                 
                 <td style="width:210px; text-decoration:underline; text-align:right" id= "enddate">
                     @*@Html.TextBox("txtOpenEndDate", DateTime.Today.ToString("dd MMM yyyy"), new { style = "width: 201px", id = "txtOpenEndDate" })*@
                    <input id="txtOpenEndDate" type="text" class="easyui-datebox" style="width: 206px;"
                    data-options="formatter:icsdateformat" />
                </td> 
                <td></td>                 
          </tr> 
          </table>
   
     <table border="0">    
          <tr>
               <td colspan="2" style="width:332px; font-size:13px; text-align:right">
                     <input  type="button" value="Print" id="btnOk" style="width:60px;"/> 
               </td> 
                   
                
           </tr>
       </table>
</div>
</fieldset>
<script type="text/javascript">
var _oReturnObject = new Object();
var _ROWS = [];
var _sBaseAddress ='';
var _sCCName="";
var _ProductIDs="";

 $(document).ready(function () {
     //debugger;
       _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
         
         $('#cboWorkingUnitID').val(1);
         $('#txtOpenStartDate').datebox('setValue', icsdateformat(new Date()));
         $('#txtOpenEndDate').datebox('setValue', icsdateformat(new Date()));
         $("#ProductIDs")[0].value = 'Press Enter';
          
        HideUnhideDatePiker();
});

function HideUnhideDatePiker()
{
    var DateType = $("#cboOpenDate").val();
    if (DateType == "None" ) 
    {            
          document.getElementById("trDateFrom").style.display = 'none';
          document.getElementById("trDateTo").style.display = 'none';       
    }
}

$('._select_changeA').change(function () {
        //debugger
        var DateType = $("#cboOpenDate").val();
        if (DateType == "EqualTo" || DateType == "NotEqualTo" || DateType == "GreaterThen" || DateType == "SmallerThen") {            
              document.getElementById("trDateTo").style.display = 'none'; 
              document.getElementById("trDateFrom").style.display = '';      
        }
        if (DateType == "None" ) 
        {            
          document.getElementById("trDateFrom").style.display = 'none';
          document.getElementById("trDateTo").style.display = 'none';        
        }
        if (DateType == "Between" ||DateType == "NotBetween"  ) 
        {
          document.getElementById("trDateFrom").style.display = '';
          document.getElementById("trDateTo").style.display = ''; 
        }
});

$("#btnOk").click(function(){
   debugger;
    if(!ValidateInput()) return;
   var obj = window.dialogArguments;
        var sProductIDs=_ProductIDs;
        var StoreID = document.getElementById("cboWorkingUnitID");
        var sStoreIDs=StoreID.options[StoreID.selectedIndex].value;
        var sStoreName=StoreID.options[StoreID.selectedIndex].text;
        var Date = document.getElementById("cboOpenDate");
        var dDateType = Date.options[Date.selectedIndex].innerHTML;
        var dateopen = $('#txtOpenStartDate').datebox('getValue');
        var ddateclose = $('#txtOpenEndDate').datebox('getValue');
    
       ////debugger;        
        var sParam =  dDateType + '~' + $('#txtOpenStartDate').datebox('getValue') + '~' 
                        + $('#txtOpenEndDate').datebox('getValue')
                        + '~'+ sProductIDs+ '~'+sStoreIDs+ '~' +  sStoreName;
//        $('#cboWorkingUnitID').val(1);
//        $('#cboOpenDate').val(0);
//        $("#ProductIDs")[0].value = 'Press Enter';        
//        HideUnhideDatePiker(); 
 window.open(_sBaseAddress + '/Report/PrintStoreWise?sParam='+sParam, "_blank"); 
});

function ValidateInput()
{
//debugger;
 var x = $("#cboOpenDate").val();
 if(x=='None')
{
    alert('Please Give Date Range');
    return false;
    
}
if(document.getElementById("ProductIDs").value=='Press Enter')
{
    alert('Please Select atleast one Product');
    return false;
    $('#ProductIDs').focus();
}
return true;

}

$('#ProductIDs').keypress(function (e)
{   
    //debugger;
    var keyCode = e.keyCode || e.which;
    if (keyCode == 13)
    {
    var oParameter = new Object();
    var ProductNames="";
    oParameter.MultipleItemReturn = true;
    var tsv = ((new Date()).getTime()) / 1000;
    var url = _sBaseAddress+"/Product/ProductSearching?ts="+tsv;
    
    var oSelectedProducts = window.showModalDialog(url, oParameter, 'dialogHeight:615px;dialogWidth:652px;dialogLeft:450;dialogTop:50;center:yes;resizable:yes;status:no;scroll:no');
    //debugger;
    if(oSelectedProducts!=null)
    {
        if(oSelectedProducts.length>0)
        {
           
        for (i = 0; i < oSelectedProducts.length; ++i) {
            var ProductID = oSelectedProducts[i].ProductID;
            var ProductName=oSelectedProducts[i].ProductName;
            _ProductIDs = _ProductIDs + ProductID + ',';
            ProductNames= ProductNames + ProductName + ',';
        }
        _ProductIDs = _ProductIDs.substring(0, _ProductIDs.length - 1);
        ProductNames = ProductNames.substring(0, ProductNames.length - 1);
         document.getElementById("ProductIDs").value=ProductNames;
            }
            }
        }
        });

function icsdateformat(date) {
    ////debugger;
    var mthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
    var y = date.getFullYear();
    var m = date.getMonth();
    var d = date.getDate();
    //return m+'/'+d+'/'+y;
    var result = d + ' ' + mthNames[m] + ' ' + y;
    return result
}
</script>
