
<html>
<body>

@model ESimSol.BusinessObjects.ConsumptionRequisition

<div style="font-family:Tahoma;">           
<table border="0" cellspacing="2" cellpadding="2">
    <tr>
        <td style="text-align:center; width:460px; color:White">
            <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline; width:460px;text-color:black;"> Search Purchase Demand</label>
        </td>
    </tr>
</table>    
<fieldset style="width:350px; text-align:center; height:100px;margin-left:250px; border:0;"> 
  <div style="height:100px; overflow:auto; width:350px; text-align:center;">
  
     <table border="0"> 

          <tr>
                <td style="width:155px; font-size:13px; text-align:right">
                   Issue Date:
                </td> 
                 <td style="width:216px; text-decoration:underline; text-align:right">
                      @Html.DropDownList("cboOpenDate", new SelectList(Enum.GetValues(typeof(ICS.Base.Client.Utility.EnumCompareOperator))), new { id = "cboOpenDate", style = "width: 206px;", @class = "_select_changeA" })
                </td>  
                <td></td>                
          </tr>    
          <tr>
                <td id="fromDate" style="width:155px; font-size:13px; text-align:right">
                   Date From
                </td> 
                 <td style="width:210px; text-decoration:underline; text-align:right">
                      @Html.TextBox("txtOpenStartDate", DateTime.Today.ToString("dd MMM yyyy"), new { style = "width: 200px", id = "txtOpenStartDate" })
                </td>  
                <td></td>                
          </tr>                      
          <tr>
                <td style="width:155px; font-size:13px; text-align:right" id= "enddateT"> To </td>
                    
                 
                 <td style="width:210px; text-decoration:underline; text-align:right" id= "enddate">
                     @Html.TextBox("txtOpenEndDate", DateTime.Today.ToString("dd MMM yyyy"), new { style = "width: 200px", id = "txtOpenEndDate" })
                </td> 
                <td></td>                 
          </tr> 
          
           <tr>
               <td></td>
               <td></td>
               <td></td>
           </tr>
           <tr>
               <td></td>
               <td></td>
               <td></td>
           </tr>
           <tr>
               <td></td>
               <td></td>
               <td></td>
           </tr>

          <tr>
               <td colspan="2" style="width:355px; font-size:13px; text-align:right">
                     <input  type="button" value="Search" id="btnOk" style="width:60px;"/> 
               </td> 
                   
                
           </tr>
       </table>
</div>
</fieldset>

 <div id="PageBody" style="width:900px; height:550px; margin-left:0px;margin-right:0px"> 

<table id="tblPurchaseDemands" title="Purchase Demand List"  
class="easyui-datagrid" style="width:895px;height:532px" 
fitColumns="false" rownumbers="true" toolbar="#toolbar" 
pagination="false" singleSelect="true", 
autoRowHeight="false",autoRowWidth="false">        
                <thead>                   
                    <tr>  
                        @*<th field="ck" checkbox="true"></th>*@
                        <th field="ProductNameCode"  width="100">Product Name</th>
                        <th field="RequiredQty" width="150">Demand Quantity</th>
                        <th field="CurrentStock" width="200">Stock Quantity</th>
                        <th field="Deliverable" width="200">Deliverable</th>
                        <th field="PD" width="150">Demand Qty</th>
                        <th field="MUName" width="150">Unit</th>
                        <th field="Comment" width="150">Comments</th>
                    </tr>  
                </thead>        
 </table>​ 
 <div id="toolbar"> 
                <a id="btnReset" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-print" plain="true" onclick="Print()">Print</a>               
            </div>   
</div>         
</div>
</body>
</html>
<script type="text/javascript">
 var _oReturnObject = new Object();
var _ROWS = [];
var _sBaseAddress ='';

 $(document).ready(function () {
     debugger;
       _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    _ROWS =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));  
    data = _ROWS;     
    data={"total":""+data.length+"","rows":data};
    $('#tblPurchaseDemands').datagrid('loadData',data); 
    $('#tblPurchaseDemands').datagrid({selectOnCheck:true, checkOnSelect:true})
     initializeDatepicker(); // this function is in GlobalScript.js. used for date picker.
     objmodel =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
     HideUnhideDatePiker(); 
      document.getElementById("PageBody").style.display = 'none';


});

function HideUnhideDatePiker()
{
    var DateType = $("#cboOpenDate").val();
    if (DateType == "None" ) 
    {            
        document.getElementById("txtOpenEndDate").style.display = 'none';
        document.getElementById("enddateT").style.display = 'none'; 
        document.getElementById("txtOpenStartDate").style.display = 'none';
        document.getElementById("fromDate").style.display = 'none';        
    }
}

$('._select_changeA').change(function () {
        debugger
        var DateType = $("#cboOpenDate").val();
        if (DateType == "EqualTo" || DateType == "NotEqualTo" || DateType == "GreaterThen" || DateType == "SmallerThen") {            
            document.getElementById("txtOpenEndDate").style.display = 'none';
            document.getElementById("enddateT").style.display = 'none';   
            document.getElementById("txtOpenStartDate").style.display = '';
            document.getElementById("fromDate").style.display = '';       
        }
        if (DateType == "None" ) 
        {            
            document.getElementById("txtOpenEndDate").style.display = 'none';
            document.getElementById("enddateT").style.display = 'none'; 
            document.getElementById("txtOpenStartDate").style.display = 'none';
            document.getElementById("fromDate").style.display = 'none';        
        }
        if (DateType == "Between" ||DateType == "NotBetween"  ) 
        {
            document.getElementById("txtOpenStartDate").style.display = '';
            document.getElementById("fromDate").style.display = ''; 
            document.getElementById("enddateT").style.display = '';  
            document.getElementById("txtOpenEndDate").style.display = '';
        }
});

//------------------

$("#btnOk").click(function(){
   debugger;
       // alert('Hello World !!');
        var obj = window.dialogArguments;
        var Date = document.getElementById("cboOpenDate");
        var dDateType = Date.options[Date.selectedIndex].innerHTML;
        var dateopen = $("#txtOpenStartDate").val();
        var ddateclose = $("#txtOpenEndDate").val();
        if(dateopen>ddateclose)
        {
            alert('Date Range is Not Valid');
            return;
        }
       debugger;        
        var sParam =  dDateType + '~' + $("#txtOpenStartDate").val() + '~' 
                        + $("#txtOpenEndDate").val()  ;

        $.ajax({
            type: "POST",
            dataType: "json",            
            url: _sBaseAddress+ "/Report/SrcDR",
            traditional: true,
            data: JSON.stringify({sParam:sParam}),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
            debugger;
                _oReturnObject = jQuery.parseJSON(data);
                if (_oReturnObject != null) {
                if (_oReturnObject.length <= 0){
                    alert ("Nothing Found by given parameter");
                }
                else {
                       document.getElementById("PageBody").style.display = ''; 
                       RefreshList(_oReturnObject);
                      
                    }
                    
                }
                
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        }); 
});

function RefreshList(oReturnObject)
{ 
debugger;   
    data=oReturnObject;
    data={"total":""+data.length+"","rows":data};
    $('#tblPurchaseDemands').datagrid('loadData',data);   
}

function clearTextBox()
{
   document.getElementById("textboxId").value= "";
   
}
function Print()
{
var obj = window.dialogArguments;
        var Date = document.getElementById("cboOpenDate");
        var dDateType = Date.options[Date.selectedIndex].innerHTML;
        var dateopen = $("#txtOpenStartDate").val();
        var ddateclose = $("#txtOpenEndDate").val();
    
       debugger;        
        var sParam =  dDateType + '~' + $("#txtOpenStartDate").val() + '~' 
                        + $("#txtOpenEndDate").val()  ;
 window.open(_sBaseAddress + '/Report/PrintDR?sParam='+sParam, "_blank");
 }



</script>