
<div class="modal-header">
    <h4 class="modal-title" id="modal-title" ng-bind="PickerTitle">Advance Search (Raw Lot Receive)</h4>
</div>
<div class="modal-body regionSearch">
    <fieldset style="margin-bottom: 0px;">
        <legend>Searching Criteria</legend>

        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label"> Challan No:</label></div>
            <div class="col-md-9 text-left"><input type="text" class="form-control" ng-model="FYDCNo"></div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label"> FYDO No:</label></div>
            <div class="col-md-9 text-left"><input type="text" class="form-control" ng-model="FYDONo"></div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label"> FEO No:</label></div>
            <div class="col-md-9 text-left"><input type="text" class="form-control" ng-model="FEONo"></div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">Delivery Unit:</label></div>
            <div class="col-md-9 text-left">
                <select ng-model="WUID" ng-options="obj.WorkingUnitID as obj.WorkingUnitName for obj in WUs" ng-disabled="disabled" class="form-control">
                    <option value="">--Select Store--</option>
                </select>
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-3 text-right">
                <label class="control-label">Disburse Date:</label>
            </div>
            <div class="col-md-9 text-left">
                <div class="col-md-4 text-left">
                    <input type="checkbox" ng-model="chkDisburseDate" class="form-control" />
                </div>
                <div class="col-md-8 text-left">

                    <div class="col-md-12">
                        <div class="input-group date date-container" style="width:43%;float:left">
                            <input type="text" class="form-control" ng-model="dtDisburseFrom" ng-disabled="!chkDisburseDate"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                        <div style="width:14%;float:inherit;">
                            <span class="input-group-addon" style="height:26px;"><span class="label label-primary">To</span></span>
                        </div>
                        <div class="input-group date date-container" style="width:43%;float:left">
                            <input type="text" class="form-control" ng-model="dtDisburseTo" ng-disabled="!chkDisburseDate"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="row col-md-12 ">
            <div class="col-md-3 text-right"><label class="control-label"> Status:</label></div>
            <div class="col-md-9 text-left">
                <select ng-model="Satus" ng-disabled="disabled" class="form-control">
                    <option value="">--Select Satus--</option>
                    <option value="1">Disburse</option>
                    <option value="0">Yet Not Disburse</option>

                </select>
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">Process Type:</label></div>
            <div class="col-md-9 text-left">
                <select ng-model="FabricProcessID" ng-options="obj.FabricProcessID as obj.Name for obj in  ProcessTypes" ng-disabled="disabled" class="form-control">
                    <option value="">--Select Process Type--</option>
                </select>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">Delivery Unit:</label></div>
            <div class="col-md-9 text-left">
                <select ng-model="TUID" ng-options="obj.id as obj.Value for obj in TUs" ng-disabled="disabled" class="form-control">
                    <option value="">--Select Unit--</option>
                </select>
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label"> Lot No:</label></div>
            <div class="col-md-9 text-left"><input type="text" class="form-control" ng-model="LotNo"></div>
        </div>
    </fieldset>
</div>
<div class="modal-footer">
    <label ng-hide="lblLoadingMessage" style="float:left;color:green; ">Loading Please Wait...</label>
    <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="PrintExcel()"> <span class="glyphicon glyphicon-download" aria-hidden="true"></span>Excel</button>
    <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="reset()"> <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>Reset</button>
    <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="search()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search</button>
    <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="closeAdvanceSearchModal()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Close</button>


</div>
<style type="text/css">
    .regionSearch .form-control {
        height: 26px;
        padding: 0px 2px;
        font-size: 12px;
    }

    .regionSearch .control-label {
        padding-top: 1px;
    }

    .regionSearch .col-md-12 {
        width: 100%;
        padding-right: 1px;
        padding-left: 1px;
        margin-bottom: 5px;
    }

    .regionSearch .col-md-3 {
        width: 25%;
        padding-left: 1px;
    }

    .regionSearch .col-md-9 {
        width: 75%;
        padding-right: 1px;
    }

    .regionSearch .col-md-4 {
        width: 4%;
        padding-right: 1px;
        padding-left: 1px;
    }

    .regionSearch .col-md-8 {
        width: 96%;
        padding-right: 1px;
        padding-left: 1px;
    }

    .regionSearch .col-md-5 {
        width: 40%;
        padding-right: 1px;
        padding-left: 1px;
    }

    .regionSearch .col-md-6 {
        width: 48%;
        padding-right: 0px;
        padding-left: 0px;
    }

    .regionSearch .col-md-1 {
        width: 10%;
        padding-right: 1px;
        padding-left: 1px;
    }

    .regionSearch .btn-sm {
        padding: 3px 10px;
    }

    .regionSearch .input-group-addon {
        padding: 2px 8px;
    }
</style>


