<html>
@{
    ViewBag.Title = "Changes Equity Setup";
}
<body>
    @model ESimSol.BusinessObjects.ChangesEquitySetup
    <div class="easyui-panel menuMainCollectionTable" id="divChangesEquitySetup" title="Changes Equity Setup" data-options="fit:'true',border:'false'" style="font-family:Tahoma;text-align:center;  width:100%;height:100%;">
        <div style="width:99%; height:16%; padding:2px" >
            <fieldset style="width:98%;">
                <legend>Changes Equity Setup Info :</legend>
                <table border="0" style="width:100%">
                    <tr>
                        <td style="width:25%; text-align: right; font-size:12px;"> Equity Category :</td>
                        <td style="width:75%; text-align: left; font-size:12px;">
                            @Html.DropDownListFor(model => model.EquityCategoryInt, Model.EquityCategorys.Select(x => new SelectListItem() { Text = x.Value, Value = x.id.ToString() }), new { id = "cboEquityCategory", style = "width:99%;" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:25%; text-align: right; font-size:12px;">Remarks:</td>
                        <td style="width:75%; text-align:left;" colspan="3">
                            @Html.TextBoxFor(model => model.Remarks, new { style = "width:99%;", id = "txtRemarks" })
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div style="width:99%; height:70%; padding:2px">
            <table id="tblChangesEquitySetupDetail" title="ChangesEquitySetupDetails" class="easyui-datagrid" style="width:95%;" fitcolumns="true" fit="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar">
                <thead>
                    <tr>
                        <th field="AccountCode" width="20%" align="left">Account Code</th>
                        <th field="AccountHeadName" width="70%" align="left">AccountHead Name</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbar">
                <input type="text" id="txtAccountHead" placeholder="Account Head" style="width:300px;" />
                <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                <a id="btnRemove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
            </div>
        </div>
        <div style="width:100%; height:10%">
            <fieldset>
                <legend style="font-weight: bold;">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; width: 100%; font-weight: bold; font-size:12px;">
                    <tr>
                        <td style="width:80%; text-align: right"></td>
                        <td style="width:10%; font-size: 13px;text-align:right;">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="false">Save</a>
                        </td>
                        <td style="width:10%; font-size: 13px;text-align:right;">
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="false" onclick="Close()">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    var _oChangesEquitySetup=null;
    $(document).ready(function () {        
        _oChangesEquitySetup =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        $('#divChangesEquitySetup').data('obj',_oChangesEquitySetup);
        $('#mainPanel').panel({title:sessionStorage.getItem("ChangesEquitySetupHeader")});        
        RefreshList(_oChangesEquitySetup.ChangesEquitySetupDetails);

        if(sessionStorage.getItem("ChangesEquitySetupHeader")==='View Changes Equity Setup'){
            $('#divChangesEquitySetup input,select').prop('disabled',true);
            $('#toolbar').hide();            
            $('#btnSave').hide();
        }

        $('#txtAccountHead').icsAutoComplete({
            BaseAddress : sessionStorage.getItem('BaseAddress'),
            ControllerName: "ChangesEquitySetup",
            ActionName: "PrepareCEDs",
            Object: {AccountHeadName:''},
            PropertyName: "AccountHeadName",
            ParamName: "AccountHeadName"});       
    });


    function RefreshList(oChangesEquitySetupDetails)
    {
        var data = oChangesEquitySetupDetails;
        data = { "total": "" + data.length + "", "rows": data };
        $("#tblChangesEquitySetupDetail").datagrid("loadData", data);
    }
    

    function IsExists(nAccountHeadID)
    {
        var oChangesEquitySetupDetails = $('#tblChangesEquitySetupDetail').datagrid('getRows');
        for(var i =0;i<oChangesEquitySetupDetails.length;i++)
        {
            if(parseInt(oChangesEquitySetupDetails[i].EffectedAccountID)== parseInt(nAccountHeadID))
            {
                alert('"'+oChangesEquitySetupDetails[i].AccountHeadName+'" already exists!');
                $('#tblChangesEquitySetupDetail').datagrid('selectRow',i);
                return true;
            }
        }
        return false;

    }
    function ValdidateDetailInput()
    {
        if ((!$('#txtAccountHead').data('obj') || $('#txtAccountHead').data('obj') == null) ) {
            alert("Please select Account Head!");
            $('#txtAccountHead').focus();
            return false;
        }
        if ((!parseInt($('#txtAccountHead').data('obj').EffectedAccountID) || parseInt($('#txtAccountHead').data('obj').EffectedAccountID)<=0) ) {
            alert("Please select Account Head!");
            $('#txtAccountHead').focus();
            return false;
        }
        return true;
    }

    $('#btnAdd').click(function ()
    {
        debugger;
        if(!ValdidateDetailInput())return false;
        var oChangesEquitySetupDetail=$('#txtAccountHead').data('obj');
        if(!IsExists(oChangesEquitySetupDetail.EffectedAccountID)){
            $('#tblChangesEquitySetupDetail').datagrid('appendRow',oChangesEquitySetupDetail);
            $('#txtAccountHead').data('obj',null);
            $('#txtAccountHead').val('');
            $('#txtAccountHead').focus();
        }
    });

    $('#btnRemove').click(function ()
    {
        var oChangesEquitySetupDetail=$('#tblChangesEquitySetupDetail').datagrid('getSelected');
        if(oChangesEquitySetupDetail==null)
        {
            alert("Select At least One item !");
            return;
        }
        var SelectedRowIndex=$('#tblChangesEquitySetupDetail').datagrid('getRowIndex',oChangesEquitySetupDetail);
        if (!confirm("Confirm to Delete?")) return ;
        $('#tblChangesEquitySetupDetail').datagrid('deleteRow',SelectedRowIndex);
    });

    $('#btnSave').click(function ()
    {
        debugger;
        if(!ValidateInput()) return false;
        var oChangesEquitySetup=ChangesEquitySetupRefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+"/ChangesEquitySetup/Save",
            traditional: true,
            data:  JSON.stringify(oChangesEquitySetup),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var oARS= jQuery.parseJSON(data);
                if (oARS.ErrorMessage=="" || oARS.ErrorMessage==null)
                {

                    alert("Data Save Successfully!!");
                    var oChangesEquitySetups = sessionStorage.getItem("ChangesEquitySetups");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if (oChangesEquitySetups != null) {
                        oChangesEquitySetups = jQuery.parseJSON(oChangesEquitySetups);
                    }
                    else {
                        oChangesEquitySetups = [];
                    }
                    if (nIndex != -1) {
                        oChangesEquitySetups[nIndex] = oARS;
                    }
                    else {
                        sessionStorage.setItem("SelectedRowIndex", oChangesEquitySetups.length);
                        oChangesEquitySetups.push(oARS);
                    }
                    $('#divChangesEquitySetup').data('obj',oARS);
                    sessionStorage.setItem("ChangesEquitySetups", JSON.stringify(oChangesEquitySetups));
                    window.history.back();
                    //window.location.href = sessionStorage.getItem("ChangesEquitySetupBackLink");
                }
                else
                {
                    alert(oARS.ErrorMessage);
                }

            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });

    });




    function ValidateInput()
    {        
        if(!parseInt($('#cboEquityCategory').val()) || parseInt($('#cboEquityCategory').val())<=0){
            alert("Please select Equity Category!");
            $('#cboEquityCategory').focus();
            return false;
        }

        var oChangesEquitySetupDetails = $('#tblChangesEquitySetupDetail').datagrid('getRows');
        if(oChangesEquitySetupDetails.length <=0)
        {
            alert("Please Add Effected Account Head!");  
            return false;
        }
        return true;
    }

    function ChangesEquitySetupRefreshObject()
    {        
        var oChangesEquitySetup= {
            ChangesEquitySetupID :$('#divChangesEquitySetup').data('obj').ChangesEquitySetupID,            
            EquityCategoryInt :parseInt($('#cboEquityCategory').val()),
            Remarks :$("#txtRemarks").val(),
            ChangesEquitySetupDetails:$('#tblChangesEquitySetupDetail').datagrid('getRows')
        };
        return oChangesEquitySetup;
    }

    function Close()
    {
        window.history.back();        
    }
</script>
