@{
    ViewBag.Title = "DiagramIdentification List";
}
@model IEnumerable<ESimSol.BusinessObjects.DiagramIdentification>
                      <div class="menuMainCollectionTable">
                          <table id="tblDiagramIdentifications" title="Diagram Identification List" class="easyui-datagrid"
                                 fit="true" fitcolumns="true" rownumbers="true" pagination="true"
                                 singleselect="true" autorowheight="false" toolbar="#toolbar">
                              <thead>
                                  <tr>
                                      <th field="PointName" width="240"> Point Name </th>
                                      <th field="Note" width="200"> Note </th>
                                  </tr>
                              </thead>
                          </table>
                          <div id="toolbar">
                              <input type="text" id="txtSearchbyMesurementPoint" value="Search by Measurement Point" style="width: 200px" onclick="ClearCodefield()" />
                              <input type="text" id="txtSearchByPointName" value="Search by Point Name" style="width: 200px" onclick="ClearNamefield()" />
                              <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="Add()">Add</a>
                              <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="Edit()">Edit</a>
                              <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="Delete()"> Delete</a>
                              <a id="btnPrintList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="PrintDiagramIdentification()">Print List</a>
                          </div>
                      </div>
<script type="text/javascript">
var _sBaseAddress=""
$(document).ready(function () {
    //debugger;
    var oTempDiagramIdentifications =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 
    _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));  
    var oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));      
    var oDiagramIdentifications =sessionStorage.getItem("DiagramIdentifications");
    if(oDiagramIdentifications!=null)
    {
        oDiagramIdentifications = jQuery.parseJSON(oDiagramIdentifications);
    }
    else
    {
        oDiagramIdentifications=oTempDiagramIdentifications;
    }
    RefreshList(oDiagramIdentifications);
    RefreshControlLayout(oAuthorizationRolesMapping);
});


$('#txtSearchbyMesurementPoint').keypress(function (e) {
//debugger;
    var c = String.fromCharCode(e.which);
    var txtSearchbyMesurementPoint = document.getElementById('txtSearchbyMesurementPoint').value;
    txtSearchbyMesurementPoint = txtSearchbyMesurementPoint + c;
    //if(txtSearchByName.length<3)return;

    var bFlag=false;
    var sTempName="";
    var rows = $('#tblDiagramIdentifications').datagrid('getRows');        
    for(i=0;i<rows.length;++i){
        sTempName=rows[i]['MesurementPoint'].substring(0, txtSearchbyMesurementPoint.length);
        if(txtSearchbyMesurementPoint.toUpperCase()==sTempName.toUpperCase())
        {
            bFlag=true;
            break;
        }
    }
    if(bFlag)
    {
        $('#tblDiagramIdentifications').datagrid('selectRow', i);
    }
});


$('#txtSearchByPointName').keypress(function (e) {
//debugger;
    var c = String.fromCharCode(e.which);
    var txtSearchByPointName = document.getElementById('txtSearchByPointName').value;
    txtSearchByPointName = txtSearchByPointName + c;
    //if(txtSearchByName.length<3)return;

    var bFlag=false;
    var sTempName="";
    var rows = $('#tblDiagramIdentifications').datagrid('getRows');        
    for(i=0;i<rows.length;++i){
        sTempName=rows[i]['PointName'].substring(0, txtSearchByPointName.length);
        if(txtSearchByPointName.toUpperCase()==sTempName.toUpperCase())
        {
            bFlag=true;
            break;
        }
    }
    if(bFlag)
    {
        $('#tblDiagramIdentifications').datagrid('selectRow', i);
    }
});


function ClearCodefield ()
{
        $("#txtSearchbyMesurementPoint")[0].value='';
}

function ClearNamefield()
{
    $("#txtSearchByPointName")[0].value='';
}


function Add()
{
    //debugger;
    var oDiagramIdentifications= $('#tblDiagramIdentifications').datagrid('getRows');
    sessionStorage.setItem("DiagramIdentifications", JSON.stringify(oDiagramIdentifications));
    sessionStorage.setItem("SelectedRowIndex", -1);
    sessionStorage.setItem("DiagramIdentificationHeader", "Add Diagram Identification");
    sessionStorage.setItem("BackLink", window.location.href);
    window.location.href = _sBaseAddress+ "/DiagramIdentification/ViewDiagramIdentification?id=0";

} 


function Edit()
{
    //debugger;
    var oDiagramIdentification= $('#tblDiagramIdentifications').datagrid('getSelected'); 
    if(oDiagramIdentification==null || oDiagramIdentification.DiagramIdentificationID<=0)
    {
        alert("Please select a item from list!");
        return;
    }
    var SelectedRowIndex=$('#tblDiagramIdentifications').datagrid('getRowIndex',oDiagramIdentification);
    var oDiagramIdentifications= $('#tblDiagramIdentifications').datagrid('getRows');
    sessionStorage.setItem("DiagramIdentifications", JSON.stringify(oDiagramIdentifications));
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
    sessionStorage.setItem("DiagramIdentificationHeader", "Edit Diagram Identification");
    sessionStorage.setItem("BackLink", window.location.href);
    window.location.href = _sBaseAddress+ "/DiagramIdentification/ViewDiagramIdentification?id="+oDiagramIdentification.DiagramIdentificationID;

} 




function Delete()
{
       //debugger;  
        var oDiagramIdentification= $('#tblDiagramIdentifications').datagrid('getSelected');
        if (!confirm("Confirm to Delete?")) return ;
        
        if(oDiagramIdentification==null || oDiagramIdentification.DiagramIdentificationID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");                  
            return false;
        }
        var SelectedRowIndex=$('#tblDiagramIdentifications').datagrid('getRowIndex',oDiagramIdentification);

        if (oDiagramIdentification.DiagramIdentificationID > 0) 
        {
            $.ajax
            ({
                type: "POST",
                dataType: "json",                
                url : _sBaseAddress+  "/DiagramIdentification/Delete",
                data:  JSON.stringify(oDiagramIdentification),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                   // debugger;
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Data delete successfully") 
                    {
                        alert("Delete sucessfully");                        
                        $('#tblDiagramIdentifications').datagrid('deleteRow',SelectedRowIndex);
                          
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error) 
                {
                    alert(error);
                }
                      
            });
        }
}

    
function RefreshList(oDiagramIdentifications)
{    
    data=oDiagramIdentifications;
    data={"total":""+data.length+"","rows":data};
    $('#tblDiagramIdentifications').datagrid('loadData',data);      
    var nID =parseInt(sessionStorage.getItem("SelectedRowIndex"));
    if(nID!=-1)
    {
        $('#tblDiagramIdentifications').datagrid('selectRow', nID);
    }

}


function PrintDiagramIdentification()
{
    window.open(_sBaseAddress+'/DiagramIdentification/PrintDiagramIdentification/'); 
           
}    


function RefreshControlLayout(oAuthorizationRolesMapping)
{
    
    $('#btnAdd,#btnEdit,#btnPrintList,#btnDelete').hide(); 
    if(PermissionChecker('Add','DiagramIdentification',oAuthorizationRolesMapping)){$("#btnAdd").show();}
    if(PermissionChecker('Edit','DiagramIdentification',oAuthorizationRolesMapping)){$("#btnEdit").show();}
    if(PermissionChecker('PrintList','DiagramIdentification',oAuthorizationRolesMapping)){$("#btnPrintList").show();}
    if(PermissionChecker('Delete','DiagramIdentification',oAuthorizationRolesMapping)){$("#btnDelete").show();}
}


</script>
