@{
    ViewBag.Title = "Add Order Setup";
}
@model ESimSol.BusinessObjects.LabDipSetup

<div style="padding-top:5px" ng-app="LabDipSetupAPP" ng-controller="LabDipSetupCtrl" class="form-horizontal regionLabDipSetup">
    <fieldset>
        <legend>Invoice Info</legend>
        <div class="row col-md-12">
            <div class="col-md-2 text-right"><label class="control-label">Order Name:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="LabDipSetup.OrderName" ng-disabled="disabled" class="form-control" required />
            </div>
            <div class="col-md-2 text-right"><label class="control-label">Order Code:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="LabDipSetup.OrderCode" ng-disabled="disabled" class="form-control" required />
            </div>
            <div class="col-md-2 text-right"><label class="control-label"></label></div>
            <div class="col-md-3 text-left">
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-2 text-right"><label class="control-label">Color No Name:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="LabDipSetup.ColorNoName" ng-disabled="disabled" class="form-control" required />
            </div>
            <div class="col-md-2 text-right"><label class="control-label">LD Name:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="LabDipSetup.LDName" ng-disabled="disabled" class="form-control" required />
            </div>
            <div class="col-md-2 text-right"><label class="control-label"></label></div>
            <div class="col-md-3 text-left">
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-2 text-right"><label class="control-label">Is Apply Code?:</label></div>
            <div class="col-md-3 text-left">
                <input type="checkbox" ng-checked="LabDipSetup.IsApplyCode" ng-model="LabDipSetup.IsApplyCode">
            </div>
            <div class="col-md-2 text-right"><label class="control-label">Is Apply PO?:</label></div>
            <div class="col-md-3 text-left">
                <input type="checkbox" ng-checked="LabDipSetup.IsApplyPO" ng-model="LabDipSetup.IsApplyPO">
            </div>
            <div class="col-md-2 text-right"><label class="control-label">Print No:</label></div>
            <div class="col-md-3 text-left">
                <select id="cboOrderType" ng-model="LabDipSetup.PrintNo" ng-options="obj.id as obj.Value for obj in PrintNos" ng-disabled="disabled" class="form-control"></select>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-2 text-right"><label class="control-label">LD No Create By:</label></div>
            <div class="col-md-3 text-left">
                <select id="cboOrderType" ng-model="LabDipSetup.LDNoCreateBy" ng-options="obj.MeasurementUnitID as obj.UnitNameType for obj in MeasurementUnits" ng-disabled="disabled" class="form-control"></select>
            </div>
            <div class="col-md-2 text-right"><label class="control-label"></label></div>
            <div class="col-md-3 text-left">
            </div>
            <div class="col-md-2 text-right"><label class="control-label"></label></div>
            <div class="col-md-3 text-left">
               
            </div>
        </div>

      
    </fieldset>
   
   
    <fieldset>
        <legend>Action</legend>
        <div class="row col-md-12 text-right">
            <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="save_Revise()" ng-hide="hide_Revise"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> Save(Revise)</span> </button>
            <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="Approve()" ng-hide="hide_Approve"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> Approve</span> </button>
            <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="save()" ng-hide="hide_Save"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">Save</span> </button>
            <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="close()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"> Close</span> </button>
        </div>
    </fieldset>

 
</div>


<style type="text/css">

    .grid{
        width:100%; 
        height:320px;
    }
    .regionLabDipSetup .form-horizontal .control-label{
        padding-top:3px;
    }
    .regionLabDipSetup .form-control{
        height:26px;
        padding:0px 6px;
        font-size:12px;
    }
    .regionLabDipSetup .col-md-12{
        width:100%;
        padding-right:5px;
        padding-left:5px;
        margin-bottom:5px;
    }
    .regionLabDipSetup .col-md-2{
        width:13%;
        padding-right:5px;
        padding-left:5px;
    }
    .regionLabDipSetup .col-md-3{
        width:20%;
        padding-right:5px;
        padding-left:5px;
    }

    .regionLabDipSetup .col-md-4{
        width:28%;
        padding-right:5px;
        padding-left:5px;
    }

    .regionLabDipSetup .col-md-5{
        width:40%;
        padding-right:5px;
        padding-left:0px;
    }

     .regionLabDipSetup .col-md-10{
        width:86%;
        padding-right:5px;
        padding-left:5px;
    }
    .regionLabDipSetup .btn-sm{
         padding:3px 10px;
     }
     .regionLabDipSetup .input-group-addon{
         padding: 4px 8px;
     }
</style>

<script type="text/javascript">

    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    var oLabDipSetup =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var oOrderTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.OrderTypes));
    var oPrintNos =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.PrintNos));
    var oMeasurementUnits =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.MeasurementUnits));
    var LabDipSetupModule = angular.module('LabDipSetupAPP', ['ngAnimate', 'ui.bootstrap', 'ui.grid', 'ui.grid.selection', 'ui.grid.edit','ms.service']);
    LabDipSetupModule.controller('LabDipSetupCtrl', function ($scope, $http, $uibModal, $log, uiGridConstants, msModal, userSession) {
        debugger;
    
      

        var viewType = sessionStorage.getItem("Operation");
        if (viewType == 'View')
        {
            $scope.disabled= true;
            $scope.hide=true;

            $scope.hide_Revise=true;
            $scope.hide_Approve=true;
            $scope.hide_Save=true;
        }
        else  if (viewType == 'Approve')
        {
            $scope.disabled= true;
            $scope.hide=true;
            $scope.hide_Revise=true;
            $scope.hide_Approve=false;
            $scope.hide_Save=true;
        }

        else
        {
            $scope.disabled= false;
            $scope.hide=false;

            $scope.hide_Revise=true;
            $scope.hide_Approve=true;
            $scope.hide_Save=false;
        }

        //$scope.Currencys=oCurrencys;
        $scope.OrderTypes=oOrderTypes;
        $scope.LabDipSetup=oLabDipSetup;
        $scope.PrintNos=oPrintNos;
        $scope.MeasurementUnits=oMeasurementUnits;
    

        $scope.save = function () {
          

            $http.post(_sBaseAddress+'/LabDipSetup/Save',JSON.stringify($scope.LabDipSetup)).then(
                             function (response) {
                                 var result=jQuery.parseJSON(response.data);
                                 if(result.LabDipSetupID>0)
                                 {
                                     debugger;
                                     $scope.LabDipSetup=result;
                                     userSession.setData('LabDipSetups',$scope.LabDipSetup);
                                     userSession.previousPage();
                                     // msModal.Message({headerTitle : '', bodyText:'Save Successfully.', sucessText : 'Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                                 }
                                 else
                                 {
                                     alert(result.ErrorMessage);
                                 }

                             },
                             function (response) { alert(jQuery.parseJSON(response.data).ErrorMessage);}
                       );
        };
     

        $scope.close = function () {
            userSession.previousPage();
        };


        $scope.SearchKeyDownPackingList =  function (e) {
            //debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                var txtInvoiceNos = $.trim($scope.InvoiceNo);
                if(txtInvoiceNos=="" || txtInvoiceNos==null)
                {
                    alert("Type Invoice No and Press Enter");
                    return;
                }
                $scope.PickPackingList();
            }else if (code == 8) //backspace=8
            {
                //debugger;
                $scope.InvoiceNos = '';
            }
        };
        $scope.PickPackingList= function () {
            var oLabDipSetupDetail = {
                ImportInvoiceNo: $.trim($scope.InvoiceNo)
            };

            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(_sBaseAddress+'/LabDipSetup/GetsPackingList',$.param(oLabDipSetupDetail), config).then(
                    function (response)
                    {
                        var oColumns = [];
                        var oColumn = { field: 'ImportInvoiceNo', name: 'InvoiceNo',width: '20%'  };oColumns.push(oColumn);
                        oColumn = { field: 'LotNo', name: 'Lot No',width: '15%', enableSorting: false  };oColumns.push(oColumn);
                        oColumn = { field: 'Qty', name: 'Qty',width: '12%', enableSorting: false  };oColumns.push(oColumn);
                        oColumn = { field: 'NumberOfPack', name: 'NumberOfPack',width: '12%', enableSorting: false  };oColumns.push(oColumn);
                        oColumn = { field: 'QtyPerPack', name: 'QtyPerPack',width: '12%', enableSorting: false  };oColumns.push(oColumn);
                        oColumn = { field: 'Qty_IPL', name: 'Qty(Packing List)',width: '12%', enableSorting: false  };oColumns.push(oColumn);
                        oColumn = { field: 'Qty_GRN', name: 'Qty(GRN)',width: '12%', enableSorting: false  };oColumns.push(oColumn);
                        var results=jQuery.parseJSON(response.data);
                        var modalObj={
                            size:'lg',
                            title:'Packing List',
                            url:_sBaseAddress+'/Home/Modal',
                            modalController:'',
                            appController:'LabDipSetupCtrl',
                            objs:results,
                            multiSelect:true,
                            pickertitle:' Packing List',
                            searchingbyfieldName:'ImportInvoiceNo',
                            columns:oColumns
                        }
                        var modalInstance=msModal.Instance(modalObj);
                        modalInstance.result.then(function (result)
                        {

                            angular.forEach(result,function(value,index){
                                $scope.gridOptions.data.push(value);
                            });
                            $scope.gridApi.grid.modifyRows($scope.gridOptions.data);


                        }, function () {
                            $log.info('Modal dismissed at: ' + new Date());
                        });
                    },
                        function (response) { alert(jQuery.parseJSON(response.data).Message);}
                );
        };




        $scope.deleteDetail = function ()
        {
            debugger;
            var data = $scope.gridApi.selection.getSelectedRows();
            if(data==null || data[0].length>0){
                msModal.Message({headerTitle : '', bodyText:"Select an item from list", sucessText : ' Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                return false;
            }
            angular.forEach($scope.gridOptions.data, function (value, index)
            {
                if (value.LabDipSetupDetailID == data[0].LabDipSetupDetailID) {
                    $scope.gridOptions.data.splice(index, 1);
                }
            }, $scope.gridOptions.data);
            //$http.post('/LabDipSetup/DeleteDetail', JSON.stringify(data[0])).then(
            //                function (response)
            //                {
            //                    if (jQuery.parseJSON(response.data) == 'Deleted')
            //                    {
            //                        angular.forEach($scope.gridOptions.data, function (value, index)
            //                        {
            //                            if (value.LabDipSetupDetailID == data[0].LabDipSetupDetailID) {
            //                                $scope.gridOptions.data.splice(index, 1);
            //                            }
            //                        }, $scope.gridOptions.data);
            //                    }
            //                    else {
            //                        msModal.Message({headerTitle : '', bodyText:jQuery.parseJSON(response.data), sucessText : ' Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
            //                    }
            //                },
            //                function (response) { alert(jQuery.parseJSON(response.data)); }
            //            );
        };


        $scope.Modal = function (obj, operation, url) {
            debugger;
            var modalInstance = $uibModal.open({
                //animation: $scope.animationsEnabled,
                ariaLabelledBy: 'modal-title',
                ariaDescribedBy: 'modal-body',
                size: 'lg',
                templateUrl: 'LabDipSetupDeatailModal.html',
                controller: 'ModalInstanceCtrl',
                controllerAs: 'LabDipSetupCtrl',
                resolve: {
                    obj: function () {
                        return { LabDipSetup:$scope.LabDipSetup, LabDipSetupDetail: obj, operation: operation };
                    }
                }
            });

            modalInstance.result.then(function (result) {
                if(operation=='add'){
                    $scope.gridOptions.data.push(result);
                    if(result.LabDipSetup.LabDipSetupID>0)
                    {
                        $scope.LabDipSetup=result.LabDipSetup;
                        userSession.setData('LabDipSetups',$scope.LabDipSetup);
                        $scope.gridApi.grid.modifyRows($scope.gridOptions.data);
                        $scope.gridApi.selection.selectRow($scope.gridOptions.data[0]);
                    }
                }
                else{
                    $scope.gridOptions.data[$scope.index]=result;
                    $scope.gridApi.grid.modifyRows($scope.gridOptions.data);
                    $scope.gridApi.selection.selectRow($scope.gridOptions.data[$scope.index]);
                }
            }, function () {
                $log.info('Modal dismissed at: ' + new Date());
            });
        };






    });


    LabDipSetupModule.controller('ModalInstanceCtrl', function ($scope, $http, $uibModalInstance, msModal, obj) {
        debugger;
        $scope.operation=obj.operation;
        $scope.LabDipSetup=obj.LabDipSetup;

        if(obj.LabDipSetupDetail!=null){
            $scope.LabDipSetupDetail = obj.LabDipSetupDetail;
        }
        else{
            $scope.LabDipSetupDetail={
                LabDipSetupDetailID : 0,
                LabDipSetupID : $scope.LabDipSetup.LabDipSetupID,
                ProductID : 0,
                ProductName : '',
                Type : 0,
                MUnitID : 0,
                UnitPrice : 0,
                LotID : 0,
                LotNo : '',
                StapleLength : '',
                BaleQty : 0,
                PartyGrossWeigth : 0,
                PartyPerBalePare : 0,
                ScaleGrossWeigth  : 0,
                ScalePerBalePare : 0,
                PartyTotalBalePare : 0,
                ScaleTotalBalePare : 0,
                PartyNetWeight : 0,
                ScaleNetWeight : 0,
                LabDipSetup:null
            }
        }



    });

</script>


