<html>
<head>
    @{
    ViewBag.Title = "FabricPlanning Order";
    }
</head>
<body>

    @model IEnumerable<ESimSol.BusinessObjects.FabricPlanning>
    <div class="menuMainCollectionTable">
   
        <fieldset>
            <legend>FabricPlanning Detail For : <label id="lblFabricNo"></label></legend>

            <table style="width:100%; margin-top:10px">
                <tr>
                    <td style=" float:left; width:10%;">
                        <label>Product</label>
                    </td>
                    <td style="float:left; width:60%;">
                        <input id="txtProduct" style="float:left; width:75%;" class="reset-text" placeholder="Search Product" />
                        <a id="btnPickProduct" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                        <a id="btnResetProduct" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                    </td>
                    <td style=" float:right; width:30%;">
                        <label>Type:</label>
                        <select style="width:70%" id="cboWarp"></select>
                    </td>
                </tr>
                <tr>
                    <td style=" float:left; width:10%;">
                        <label >Color </label>
                    </td>
                    <td colspan="2" style="float:left">
                        <input id="txtColor" onkeydown="ColorChange(1)" type="text">
                        <input id="txtColorPriview" type="color" onchange="ColorChange(2)">
                        <button id="btnPickColor">Color Picker</button>
                    </td>
                </tr>
            </table>

        </fieldset>
        <div style="padding-left:2px; padding-right:2px;">
            <table id="tblFabricPlanningDetail" class="easyui-datagrid" style="height: 415px; width:100%;" fitcolumns="true" rownumbers="true" pagination="false" 
                   singleselect="true" autorowheight="false" toolbar="#toolbar" >
                <thead>
                    <tr>
                        @*<th data-options="field:'Selected',checkbox:true"> </th>*@
                        @*<th field="ProductName" width="35%" align="left">Product Name</th>
                        <th field="PlanningTypeSt" width="20%" align="center">Type</th>
                        <th field="Color" width="20%" align="center">Color</th>
                        <th field="Color" width="15%" formatter="CellColorView">View</th>*@
                    </tr>
                </thead>
            </table>
            <div id="toolbar">
                <a id="btnAddDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                <a id="btnEditDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true"><label id="lblEditUpdate">Edit</label></a>
                <a id="btnRemoveDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
            </div>
        </div>
        <fieldset>
            <legend>Action</legend>
            <table border="0" cellpadding="0" cellspacing="0" style="float:right; width:100%;">
                <tr>
                    <td style=" float:left;  width:20%; ">
                        @*<a id="btnNew" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>*@
                        @*<a id="btnColorNo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Change Color No</a>*@
                    </td>
                    <td style="float:left;  width:10%; ">
                      <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-print" plain="true">Print</a>
                    </td>
                    <td style="width:70%;float:right; text-align:right">
                        @*<a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>*@
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
   
</body>
</html>

<style type="text/css">

     .col-md-12{
        width:100%;
        padding-right:3px;
        padding-left:3px;
        margin-bottom:3px;
    }
    .col-md-1{
        width:8%;
        padding-right:3px;
        padding-left:3px;
    }
    .col-md-2{
        width:13%;
        padding-right:3px;
        padding-left:3px;
    }
     .col-md-3{
        width:16.66%;
        padding-right:3px;
        padding-left:3px;
    }
    .col-md-4{
        width:25%;
        padding-right:3px;
        padding-left:3px;
    }
    .col-md-5{
        width:39%;
        padding-right:3px;
        padding-left:0px;
    }
    .col-md-6{
        width:46%;
        padding-right:0px;
        padding-left:3px;
    }
     .col-md-8{
        width:65%;
        padding-right:0px;
        padding-left:3px;
    }
    .td-styler input {
        padding-left: 5px;
    }

    .td-styler select {
        padding-left: 5px;
    }

    .td-col-3 select {
        width: 95%;
    }

    .td-col-3 input {
        width: 92%;
    }

    .td-col-6 input {
        width: 70%;
    }

    .td-col-13 input {
        width: 86%;
    }

    .send-to .td-col-13 input {
        width: 85.7%;
    }


    .hp-ph .td-col-8 input {
        width: 66%;
    }

    .hp-ph .td-col-8 select {
        width: 96%;
    }

    .td-Note input {
        width: 97.5%;
    }

    .td-col-13 select {
        width: 15%;
    }

    .td-product input {
        width: 66%;
    }

    .td-KnitPly select {
        width: 95%;
    }

    .combo-number {
        width: 85%;
    }

    .td-ColorName input {
        width: 90%;
    }

    .td-PantonNo-Ref input {
        width: 34.5%;
    }

    .custom-styler {
        width: 85%;
    }
</style>

<script type="text/javascript">

    var _sBaseAddress = "";
    var _oFabricPlanning=null;
    var _nProductID=0;
    var _nFabricID=0;
    var _oWarpWeftTypes=[];
    $(document).ready(function ()
    {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oFabricPlanning =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _nFabricID=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.FabricID));
        _oWarpWeftTypes=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.WarpWeftTypes));
        //_oWarpWeftTypes.push({id:'3',Value:'Both'});
        $("#cboWarp").icsLoadCombo({
            List: _oWarpWeftTypes,
            OptionValue: "id",
            DisplayText: "Value",
        });
        Refresh(oFabricPlanning);debugger;
    });

    $(document).keydown(function (e) { if (e.keyCode == 27) { $('#winFabricPlanningOrder').icsWindow('close'); } });

    function MakeGrid()
    {
        $('#tblFabricPlanningDetail').datagrid({
            columns:[[
              
                {field:'PlanningTypeSt', title:'Type', width:'10%'},
                 {field:'ProductName', title:'ProductName', width:'35%'},
                {field:'Color', title:'Color', width:'20%'},
                {field:'ColorInHEX', title:'ColorView', width:'15%',
                    formatter:function(val, row, idx)
                    {
                        return '<div style="background-color:'+val+';">('+val+')</div>';
                    } 
                }
            ]]
        });
    }
    MakeGrid();
   
    /*============COLOR PICKER CODE START============================*/
    var picker = new CP(document.getElementById('btnPickColor')),
        output = document.getElementById('txtColor');
    picker.on("change", function(color)
    {
        // convert to RGB
        $('#txtColorPriview').val('#'+color);
        var rgb = CP.HEX2RGB(color);
        output.value = rgb.join(', ');
    });
    function ColorChange(nType)
    {
        debugger;
        if(nType==1 && $('#txtColor').val().split(',').length==3)
        {
            var color=$('#txtColor').val();
            var hex = CP.RGB2HEX(color.split(','));
            $('#txtColorPriview').val('#'+hex);
        }
        else if(nType==2)
        {
            var color=$('#txtColorPriview').val();
            var rgb = CP.HEX2RGB(color.replace('#',''));
            output.value = rgb.join(', ');
        }
    };
    /*============COLOR PICKER CODE ENDS============================*/

    function GetWarpWeftTypes(nId){
        for(var i=0;i<_oWarpWeftTypes.length;i++){
            if(_oWarpWeftTypes[i].id==nId)
                return _oWarpWeftTypes[i].Value;
        }
        return 'None';
    }

    $('#tblFabricPlanningDetail').datagrid({selectOnCheck:false, checkOnSelect:false});

    function Initialization(oFabricPlanning, sOperation){
        ResetControll();
        if(sOperation=="View")
        {
            $('#toolbar,#btnSave,.ics-pick').hide();
            $('input,select').not('#txtFabricPlanningNo').prop('disabled',true);
            $('.td-col-6 input').css('width','92%');
        }
        else{
            $('#toolbar,#btnSave,.ics-pick').show();
            $('input,select').not('#txtFabricPlanningNo').prop('disabled',false);
            $('.td-col-6 input').css('width','70%');
        }
    }

    function Refresh(oData)
    {
        for(var i=0;i<oData.length;i++)
        {
            oData[i].ColorInHEX="#"+CP.RGB2HEX(oData[i].Color.split(','));
        }
        DynamicRefreshList(oData, 'tblFabricPlanningDetail');
    }

    function ResetDetail(bIsProductReset){
        _oFabricPlanningDetail=null;
        if(bIsProductReset)
        {
            _nProductID=0;
            _nFabricPlanningColorID=0;
            $('#txtProduct').val("");
            $('#txtLDCode').val("");
        }
        $('#lblEditUpdate').text('Edit');
    }

    function ValidationDetail(){

        if(_nProductID<=0){
            $('#txtProduct').focus();
            $('#txtProduct').addClass("errorFieldBorder");
            alert('No product found.');
            return false;
        }
        else{
            $('#txtProduct').removeClass("errorFieldBorder");
        }

        if($('#txtColor').val().split(',').length!=3)
        {
            $('#txtColor').focus();
            $('#txtColor').addClass("errorFieldBorder");
            alert('Valid RGB Color Is required.');
            return false;
        }
        else{
            $('#txtColor').removeClass("errorFieldBorder");
        }

        if($.trim($('#cboWarp').val())==0){
            alert('Planning Type Is required.');$('#cboWarp').focus();
            return false;
        }
        return true;
    }

    function RefreshObjectDetail(bIsUpdate,nType){
        var oFabricPlanningDetail={
            FabricPlanningID: (bIsUpdate? (_oFabricPlanning.FabricPlanningID>0 ? _oFabricPlanning.FabricPlanningID:0) : 0 ),
            FabricID:_nFabricID,
            ProductID:_nProductID,
            Color:$('#txtColor').val(),
            ColorInHEX:"#"+CP.RGB2HEX($('#txtColor').val().split(',')),
            PlanningType:nType,
            PlanningTypeSt:GetWarpWeftTypes(parseInt(nType))
        }
        console.log(oFabricPlanningDetail);
        return oFabricPlanningDetail;
    }

    function SaveFabricPlanningDetail(bIsUpdate,nType){
        debugger;
        if (!ValidationDetail()) return false;
        var oFabricPlanningDetail = RefreshObjectDetail(bIsUpdate,nType);
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFabricPlanningDetail,
            ObjectId: oFabricPlanningDetail.FabricPlanningID,
            ControllerName: "FabricPlanning",
            ActionName: "SavePlanning",
            TableId: "",
            IsWinClose: false,
            Message: ""// (oFabricPlanningDetail.FabricPlanningID>0)?"Update Successfully." : "Save Successfully."
        };

        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) 
            {
                debugger;
                if (response.obj.FabricPlanningID > 0 && response.obj.ErrorMessage=='') 
                {    
                    var oFabricPlanning=response.obj;
                    oFabricPlanning.ColorInHEX="#"+CP.RGB2HEX(oFabricPlanning.Color.split(','));

                    if(bIsUpdate)
                        $('#tblFabricPlanningDetail').datagrid('updateRow',{row:oFabricPlanning, index: parseInt(sessionStorage.getItem("SelectedRowIndex_Detail"))});
                    else
                        $('#tblFabricPlanningDetail').datagrid('appendRow',oFabricPlanning);
                    
                    ResetDetail(false);
                    //$('#txtLDCode').val(response.obj.ColorCode);
                    $('#txtColorName').focus();
                }
                else alert(response.obj.ErrorMessage);
            }
        });
    }

    $("#btnAddDetail").click(function () {
        //if($('#cboWarp').val()==3)
        //{
        //    SaveFabricPlanningDetail(false,1);
        //    SaveFabricPlanningDetail(false,2);
        //}else 
        SaveFabricPlanningDetail(false,$('#cboWarp').val());
    });

    $('#btnEditDetail').click(function(e){

        if($('#lblEditUpdate').text()=='Edit')
        {
            var oFabricPlanningDetail = $("#tblFabricPlanningDetail").datagrid("getSelected");
            if (oFabricPlanningDetail == null || oFabricPlanningDetail.FabricPlanningID <= 0) { alert("Please select an item from list!"); return false; }
            ResetDetail(true);

            sessionStorage.setItem("SelectedRowIndex_Detail",$('#tblFabricPlanningDetail').datagrid('getRowIndex', oFabricPlanningDetail));

            _nProductID=oFabricPlanningDetail.ProductID;
            _oFabricPlanning=oFabricPlanningDetail;
            $('#txtProduct').val(oFabricPlanningDetail.ProductName);
            $('#txtColor').val(oFabricPlanningDetail.Color);ColorChange(1);
            $('#cboWarp').val(oFabricPlanningDetail.PlanningType);
            $('#lblEditUpdate').text('Update');
        }
        else
        {
            //if($('#cboWarp').val()==3)
            //{
            //    alert("Type 'Both' isNot Applicable For Update")
            //}
            SaveFabricPlanningDetail(true,$('#cboWarp').val());
        }

    });

    $("#btnRemoveDetail").click(function () {

        var oFabricPlanningDetail = $("#tblFabricPlanningDetail").datagrid("getSelected");
        if (oFabricPlanningDetail == null || oFabricPlanningDetail.FabricPlanningID <= 0) { alert("Please select an item from list!"); return false; }

        if (!confirm("Confirm to Delete?")) return false;
        var nIndex = $("#tblFabricPlanningDetail").datagrid("getRowIndex", oFabricPlanningDetail);
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oFabricPlanningDetail,
            ControllerName: "FabricPlanning",
            ActionName: "DeletePlanning",
            TableId: "tblFabricPlanningDetail",
            IsWinClose: false,
            Message:''
        };
        $.icsDelete(obj, function (response) {
            if (response.status && response.Message == 'deleted') 
            {
                var oFabricPlanningdetails=$('#tblFabricPlanningDetail').datagrid('getRows');
                DynamicRefreshList(oFabricPlanningdetails, 'tblFabricPlanningDetail');
            }
        });
    });

    $("#btnResetProduct").click(function () {

        $("#txtProduct").val("");
        _nProductID=0;
    });
    $("#btnPickProduct").click(function () {
        var sProductName=$.trim($("#txtProduct").val());
        GetProducts(sProductName);
    });
    $("#txtProduct").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sProductName=$.trim($("#txtProduct").val());
            //if(sProductName==""){ alert("Type product name to search."); return false; }
            GetProducts(sProductName);
        }
        else if(nkeyCode==8){
            $("#txtProduct").val("");
            _nProductID=0;
        }
    });

    function SetProduct(oProduct)
    {
        if(oProduct !=null  && oProduct.ProductID>0){
            $('#txtProduct').val(oProduct.ProductNameCode);
            _nProductID= oProduct.ProductID;
           
        }
    }
    function GetProducts(sProductName){

        var oProduct = {
            BUID: sessionStorage.getItem("BUID"),
            ModuleNameInInt:201, //FabricPattern
            ProductUsagesInInt:1, //Regular
            ProductName: sProductName,
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "GetProductsByBUModuleWithProductUse",
            IsWinClose: false
        };

        var tblColums = [];
        var oColumn = { field: "ProductCode", title: "Code", width: 80, align: "left" };tblColums.push(oColumn);
        oColumn = { field: "ProductName", title: "Name", width: 270, align: "left" };tblColums.push(oColumn);
        oColumn = { field: "MUnit", title: "Unit", width: 70, align: "left" };tblColums.push(oColumn);

        var oPickerParam = {
            winid: 'winProductPicker',
            winclass:'clsProductPicker',
            winwidth: 520,
            winheight: 460,
            tableid: 'tblProductPicker',
            tablecolumns: tblColums,
            multiplereturn: false,
            searchingbyfieldName:'ProductName',
            windowTittle: 'Product List',
            paramObj:obj,
            pkID:'ProductID',
            callBack:SetProduct
        };
        

        $.icsDynamicPicker(oPickerParam);
    }
    function GetProducts_OFF(sProductName){ //ProdyctPIckByFSCID

        if(_nFSCID==0)
        {
            alert('Please Pick A PO And Tray Again!');
        }
        var oFabricSalesContract = {
            FabricSalesContractID:_nFSCID
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFabricSalesContract,
            ControllerName: "FabricSalesContract",
            ActionName: "GetsDetailByFSC",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Code", width: 80, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Name", width: 270, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "MUnit", title: "Unit", width: 70, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winProductPicker',
                        winclass:'clsProductPicker',
                        winwidth: 520,
                        winheight: 460,
                        tableid: 'tblProductPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'ProductName',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializeProductPickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No product found.");
            }
        });


    }
    ///Color Code

    function IntializeProductPickerbutton(oPickerobj)
    {
        $("#" + oPickerobj.winid).find("#btnOk").click(function ()
        {
            ProductSelect(oPickerobj);
        });
        $(document).find('.' +oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                ProductSelect(oPickerobj);
            }
        });
    }
    function ProductSelect(oPickerobj){
        var oProduct = $('#'+oPickerobj.tableid).datagrid('getSelected');
        if (oPickerobj.winid == 'winProductPicker')
        {
            if(oProduct !=null  && oProduct.ProductID>0){
                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();
                $('#txtProduct').val(oProduct.ProductNameCode);
                _nProductID= oProduct.ProductID;
               
            }
            else{
                alert("Please select product.");
            }
        }
        else if (oPickerobj.winid == 'winPOPicker')
        {debugger;
            if (oProduct != null && oProduct.ContractorID > 0)
            {
                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();
                var oFabricSalesContract = oProduct;
                $('#txtPO').val(oFabricSalesContract.SCNo);
                $("#txtPO").addClass("fontColorOfPickItem");
                $('#txtIssueTo').val(oProduct.ContractorName);
                $('#txtDeliverTo').val(oProduct.BuyerName);
                _nDeliveryToID= oProduct.BuyerID;
                _nContractorID= oProduct.ContractorID;
                _nFSCID = oFabricSalesContract.FabricSalesContractID;
            }
            else {
                alert("Please select an item from.");
                return false;
            }
        }
        else if (oPickerobj.winid == 'winFabricPicker')
        {
            if (oProduct!= null && oProduct.FabricSalesContractDetailID> 0)
            {
                $('#txtFabricNo').val(oProduct.FabricNo);
                $('#txtFabricNo').addClass('fontColorOfPickItem');
                _nFSCDetailID = oProduct.FabricSalesContractDetailID;
                $('#txtConstruction').val(oProduct.Construction);
                $('#txtComposition').val(oProduct.ProductName);
                debugger;
                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();
                $('#txtFabricNo').focus();
            }
        }
        if (oPickerobj.winid == 'winLDColorPicker')
        {
            if(oProduct !=null  && oProduct.FabricPlanningColorID>0){
                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();
                $('#txtLDCode').val(oProduct.Code+""+oProduct.CodeNo);
                _nFabricPlanningColorID= oProduct.FabricPlanningColorID;
                $('#txtColorName').focus().select();
            }
            else{
                alert("Please select product.");
            }
        }

    }

    $('#btnClose').click(function(e){
        window.location.href = sessionStorage.getItem("BackLink");
    });
   
    $('#btnPrint').click(function (e)
    {
        if (_nFabricID ==null || _nFabricID<=0 ) { alert("Please select an item from list."); return ; }
        var tsv=((new Date()).getTime())/1000;
        window.open(_sBaseAddress + '/FabricPlanning/PrintFabricPlanning?nFabricID=' + _nFabricID+"&buid="+1, "_blank");

    });
</script>