@{
    ViewBag.Title = "Loan Request";
}

@model IEnumerable<ESimSol.BusinessObjects.LoanRequest>

    <head>
        <title>Loan Request</title>
    </head>

    <body>
        <div class="menuMainCollectionTable">
            <table id="tblLoanRequest" title="Loan Request List" class="easyui-datagrid" fit="true" fitcolumn="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarLoanRequest">
                <thead>
                    <tr>
                        <th field="RequestNo" width="7%" align="center">Request No</th>
                        <th field="EmployeeCode" width="9%" align="center">Employee Code</th>
                        <th field="EmployeeName" width="15%">Employee Name</th>
                        <th field="RequestDateStr" width="8%">Req. Date</th>
                        <th field="ExpectDateStr" width="8%">Exp. Date</th>
                        <th field="LoanTypeStr" width="8%">Loan Type</th>
                        <th field="LoanAmount" width="10%" formatter="formatPrice" align="right">Loan Amount</th>
                        <th field="NoOfInstallment" width="6%" align="right">No. of Inst</th>
                        <th field="InstallmentAmount" width="8%" formatter="formatPrice" align="right">Inst. Amount</th>
                        <th field="InterestRate" width="9%" formatter="formatPrice" align="right">Interest Rate</th>
                        <th field="RequestStatusStr" width="7%" align="center">Status</th>
                        <th field="ProceedByName" width="10%" align="left">Proceed By</th>
                    </tr>
                </thead>

            </table>

            <div id="toolbarLoanRequest">
                <input type="text" id="txtEmployeeNameCode" placeholder="Search Employee" style="width:12%;" />
                <input type="text" id="txtRequestNo" placeholder="Search Loan Request" style="width:12%;" />
                <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
                <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
                <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>
                <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-edit" plain="true">Edit</a>
                <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-remove" plain="true">Delete</a>
                <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-details" plain="true">View</a>
                <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-ok" plain="true">Approve</a>
                <a id="btnCancel" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-cancel" plain="true">Cancel</a>
                <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-print" plain="true">Print</a>
                <a id="btnImport" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-up" plain="true">Import</a>
            </div>


            <div id="winAdvanceSearch" class="easyui-window winstyle" title="Adv Search" style="width:500px; height:270px" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
                <div style="width: 100%; font-family: Tahoma;">
                    <fieldset>
                        <legend>Searching Criteria</legend>
                        <table class="tbl-AdvSearch">
                            <tr>
                                <td class="td-AdvSearch-Level">
                                    Employee :
                                </td>
                                <td class="td-AdvSearch-Input">
                                    <input id="txtEmployee-Adv" class="reset-text pickersearch" placeholder="Search Employee" />
                                    <a id="btnPickEmployee-Adv" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                    <a id="btnResetEmployee-Adv" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-AdvSearch-Level">
                                    Loan Type :
                                </td>
                                <td class="td-AdvSearch-Input">
                                    <select id="cboLoanType-Adv"></select>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-AdvSearch-Level">
                                    Loan Status :
                                </td>
                                <td class="td-AdvSearch-Input">
                                    <select id="cboLoanStatus-Adv"></select>
                                </td>
                            </tr>
                            <tr>
                                <td class="td-AdvSearch-Level">
                                    <label id="lblDate">Requested Date :</label>
                                </td>
                                <td class="td-AdvSearch-Input">
                                    <select id="cboDateCompare-Adv" style="width:30%"></select>
                                    <input id="dtFrom-Adv" type="text" style="width: 100px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" /> To
                                    <input id="dtTo-Adv" type="text" style="width: 100px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="text-align:right; padding-top:10px; padding-bottom:10px;"></td>
                            </tr>
                        </table>
                    </fieldset>
                    <fieldset>
                        <legend>Action</legend>
                        <table class="tbl-AdvSearch">
                            <tr>
                                <td style="text-align:right">
                                    <a id="btnReset-Adv" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
                                    <a id="btnSearchOk" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
                                    <a id="btnSearchClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </div>
    </body>

    <style type="text/css">
        .tbl-AdvSearch{
            width:100%;
        }
        .td-AdvSearch-Level {
            width: 26%;
            text-align: right;
            font-weight: bold;
        }

        .td-AdvSearch-Input {
            width: 74%;
        }

        .td-AdvSearch-Input select {
            width: 99%;
        }

        .td-AdvSearch-Input .textSearch {
            width: 96%;
        }

        .td-AdvSearch-Input .pickersearch {
            width: 79%;
        }
    </style>


    <script type="text/javascript">
    var _sBaseAddress="";
    var _oLoanRequests=[];

    $(document).ready(function () {
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oLoanRequests =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oLoanTypes=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.EnumLoanTypes));
        var oLoanStatuss=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.EnumRequestStatuss));
        var oCompareOperators=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.EnumCompareOperators));
        
        $('#btnCancel').hide();
        $('.initial-state').hide();
        if(sessionStorage.getItem("LoanRequests")!=null && sessionStorage.getItem("LoanRequests").length>0){
            _oLoanRequests= jQuery.parseJSON(sessionStorage.getItem('LoanRequests'));
            var nIndex= sessionStorage.getItem('SelectedRowIndex');
            DynamicRefreshList(_oLoanRequests, 'tblLoanRequest');
            if(nIndex>-1){
                $('#tblLoanRequest').datagrid('selectRow',nIndex);
                //OperationPerforms(nIndex, _oLoanRequests[nIndex]);
            }
        }
        else{
            DynamicRefreshList(_oLoanRequests, 'tblLoanRequest');
        }

        $("#cboLoanType-Adv").icsLoadCombo({
            List: oLoanTypes,
            OptionValue: "Value",
            DisplayText: "Text",
            InitialValue:""
        });
        
        $("#cboLoanStatus-Adv").icsLoadCombo({
            List: oLoanStatuss,
            OptionValue: "Value",
            DisplayText: "Text",
            InitialValue:""
        });

        $("#cboDateCompare-Adv").icsLoadCombo({
            List: oCompareOperators,
            OptionValue: "Value",
            DisplayText: "Text",
            InitialValue:""
        });
    });

    $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });


    $('#tblLoanRequest').datagrid({ onSelect: function (rowIndex, rowData) { OperationPerforms(rowIndex, rowData); } });

    function OperationPerforms(rowIndex, rowData) {
        $('#btnEdit,#btnDelete,#btnView,#btnPrint').hide();
        if (rowData != null && rowData.LoanRequestID > 0) {
            if(rowData.RequestStatus==2 || rowData.RequestStatus==3){
                $('#btnEdit,#btnDelete,#btnApprove, #btnCancel').hide();
                $('#btnView, #btnPrint').show();
            }
            else{
                $('#btnEdit, #btnDelete, #btnView, #btnApprove, #btnPrint').show();
            }
        }
    }


    /*.......... Searching ............. */


    $("#txtRequestNo").keyup(function (e) {
        var oLoanRequests =[];
        var keyCode = e.keyCode || e.which;
        $('#txtRequestNo').removeClass("errorFieldBorder");
        if (keyCode == 8) { oLoanRequests = _oLoanRequests; }
        else{ oLoanRequests = $('#tblLoanRequest').datagrid('getRows'); }
        if (e.keyCode == 13) // Enter Press
        {
            if (!$.trim($("#txtRequestNo").val()).length) {

                alert("Please enter loan request no to search.");
                $('#txtRequestNo').focus();
                $('#txtRequestNo').val("");
                return;
            }
            else { $('#txtRequestNo').removeClass("errorFieldBorder"); }

            var oLoanRequest={
                Params:   $.trim($("#txtRequestNo").val())+'~'+""

            };
            GetsLoanRequest(oLoanRequest, "GetsByCode", false);
        }
        else {
            var sTempName="";
            var oSearchedData = [];
            for(i=0;i<oLoanRequests.length;++i)
            {
                sTempName=oLoanRequests[i]['RequestNo'];
                if(sTempName.toUpperCase().indexOf($('#txtRequestNo').val().toUpperCase())>-1)
                {
                    oSearchedData.push(oLoanRequests[i]);
                }
            }
            $('#tblLoanRequest').empty();
            if (oSearchedData.length == 0) { DynamicRefreshList(_oLoanRequests, "tblLoanRequest");}
            else { DynamicRefreshList(oSearchedData, "tblLoanRequest"); }

        }
    });

    $("#txtEmployeeNameCode").keyup(function (e) {
        var oLoanRequests =[];
        var keyCode = e.keyCode || e.which;
        $('#txtEmployeeNameCode').removeClass("errorFieldBorder");
        if (keyCode == 8) { oLoanRequests = _oLoanRequests; }
        else{ oLoanRequests = $('#tblLoanRequest').datagrid('getRows'); }
        if (e.keyCode == 13) // Enter Press
        {
            if (!$.trim($("#txtEmployeeNameCode").val()).length) {

                alert("Please enter employee name/ code to search.");
                $('#txtEmployeeNameCode').focus();
                $('#txtEmployeeNameCode').val("");
                return;
            }
            else { $('#txtEmployeeNameCode').removeClass("errorFieldBorder"); }

            var oLoanRequest={
                Params:   ""+'~'+$.trim($("#txtEmployeeNameCode").val())

            };
            GetsLoanRequest(oLoanRequest, "GetsByCode", false);
        }
        else {
            var sTempName="";
            var oSearchedData = [];
            for(i=0;i<oLoanRequests.length;++i)
            {
                sTempName=oLoanRequests[i]['EmployeeNameCode'];
                if(sTempName.toUpperCase().indexOf($('#txtEmployeeNameCode').val().toUpperCase())>-1)
                {
                    oSearchedData.push(oLoanRequests[i]);
                }
            }
            $('#tblLoanRequest').empty();
            if (oSearchedData.length == 0) { DynamicRefreshList(_oLoanRequests, "tblLoanRequest");}
            else { DynamicRefreshList(oSearchedData, "tblLoanRequest"); }

        }
    });

    $('#btnSearch').click(function(e){

        
        if($.trim($("#txtRequestNo").val())=="" && $.trim($("#txtEmployeeNameCode").val())==''){
            alert("No searching criteria found to search."); return false;
        }
        var oLoanRequest={
            Params:   $.trim($("#txtRequestNo").val()) +'~'+$.trim($("#txtEmployeeNameCode").val())

        };
        GetsLoanRequest(oLoanRequest, "GetsByCode", false);
    });

    function GetsLoanRequest(oLoanRequest, sActionName ,bIsAdvSearch) {
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oLoanRequest,
            ControllerName: "LoanRequest",
            ActionName: sActionName,
            IsWinClose: bIsAdvSearch
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs != null) {
                if (response.objs.length > 0) {
                    if(response.objs[0].LoanRequestID>0){
                        _oLoanRequests=response.objs;
                        DynamicRefreshList(response.objs, "tblLoanRequest");
                    }
                    else{DynamicRefreshList([], "tblLoanRequest"); alert(response.objs[0].ErrorMessage);}
                }
                else { DynamicRefreshList([], "tblLoanRequest"); alert("No LoanRequest found."); }
            }
        });
    }


    /*..........Adv Searching ............. */

    $('#cboLoanStatus-Adv').change(function(e){

        if($('#cboLoanStatus-Adv').val()>1){
            $('#lblDate').text( $('#cboLoanStatus-Adv option:selected').text() +" Date :");
        }
        else{
            $('#lblDate').text("Requested Date :");
        }

    });

    function ResetAdvSearchPicker(){
        $("#cboLoanType-Adv, #cboLoanStatus-Adv, #cboDateCompare-Adv").val(0);
        $('#txtEmployee-Adv').val("");
        $('#txtEmployee-Adv').data("EmployeeIDs","");
        $('#lblDate').text("Requested Date :");
        $('#dtFrom-Adv, #dtTo-Adv').datebox('setValue', icsdateformat(new Date()));
    }

    $("#btnAdvSearch").click(function (e) {
        ResetAdvSearchPicker();
        $("#winAdvanceSearch").icsWindow("open", "Adv Search");
    });

    $("#btnSearchOk").click(function (e) {
        
        var IsDateValue=false;

        if($("#cboLoanType-Adv").val()==2 && $("#cboDateCompare-Adv").val()<=0){
            alert("Please select date."); return false;
        }
        if($("#cboLoanType-Adv").val()==3 && $("#cboDateCompare-Adv").val()<=0){
            alert("Please select date."); return false;
        }
        else{
            IsDateValue=true;
        }

        if($.trim($('#txtEmployee-Adv').data("EmployeeIDs")) =="" && $("#cboLoanType-Adv").val()<=0 &&  !IsDateValue ){
            alert("No searching criteria found to search.");
            return false;
        }

        var oLoanRequest={
            Params: $.trim($('#txtEmployee-Adv').data("EmployeeIDs")) +"~"+ $("#cboLoanType-Adv").val()+'~'+ $('#cboLoanStatus-Adv').val() +'~'+ $("#cboDateCompare-Adv").val()+ '~'+ $('#dtFrom-Adv').datebox('getValue')+'~'+ $('#dtTo-Adv').datebox('getValue')

        };
        GetsLoanRequest(oLoanRequest, 'Gets', true);
    });

    $("#btnSearchClose").click(function (e) {
        $("#winAdvanceSearch").icsWindow("close");
    });

    $("#btnReset-Adv").click(function (e) {
        ResetAdvSearchPicker();
    });

    /*------------------------------------*/

    $("#btnAdd").click(function(){
        debugger;
        sessionStorage.setItem("Operation", "New");
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("LoanRequestHeader", "Add Loan Request");
        sessionStorage.setItem("LoanRequests", JSON.stringify($('#tblLoanRequest').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/LoanRequest/ViewLoanRequest?nId=0&ts="+tsv;
    });

    $('#btnEdit').click(function (e)
    {

        var oLoanRequest = $('#tblLoanRequest').datagrid('getSelected');
        if (oLoanRequest ==null || oLoanRequest.LoanRequestID <=0 ) { alert("Please select an item from list."); return ; }
        if (oLoanRequest.RequestStatus ==2) { alert("Already approved. Unable to modify."); return ; }
        if (oLoanRequest.RequestStatus ==3) { alert("Already canceled. Unable to modify."); return ; }

        var nIndex=$('#tblLoanRequest').datagrid('getRowIndex',oLoanRequest);

        sessionStorage.clear();
        sessionStorage.setItem("Operation", "Edit");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("LoanRequestHeader", "Edit Loan Request");
        sessionStorage.setItem("LoanRequests", JSON.stringify($('#tblLoanRequest').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/LoanRequest/ViewLoanRequest?nId="+oLoanRequest.LoanRequestID+"&ts="+tsv;
    });

    $('#btnDelete').click(function(e){
        var oLoanRequest = $('#tblLoanRequest').datagrid('getSelected');
        if (oLoanRequest ==null || oLoanRequest.LoanRequestID <=0 ) { alert("Please select an item from list."); return ; }
        if (oLoanRequest.RequestStatus ==2) { alert("Already approved. Unable to delete."); return ; }
        if (oLoanRequest.RequestStatus ==3) { alert("Already canceled. Unable to delete."); return ; }

        if (!confirm("Confirm to delete?")) return;
        sessionStorage.clear();
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oLoanRequest,
            ControllerName: "LoanRequest",
            ActionName: "Delete",
            TableId: "tblLoanRequest",
            IsWinClose: false
        };
        $.icsDelete(obj);

    });

    $('#btnView').click(function (e)
    {
        var oLoanRequest = $('#tblLoanRequest').datagrid('getSelected');
        if (oLoanRequest ==null || oLoanRequest.LoanRequestID <=0 ) { alert("Please select an item from list."); return ; }

        var nIndex=$('#tblLoanRequest').datagrid('getRowIndex',oLoanRequest);

        sessionStorage.clear();
        sessionStorage.setItem("Operation", "View");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("LoanRequestHeader", "View Loan Request");
        sessionStorage.setItem("LoanRequests", JSON.stringify($('#tblLoanRequest').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/LoanRequest/ViewLoanRequest?nId="+oLoanRequest.LoanRequestID+"&ts="+tsv;;
    });


    $('#btnApprove').click(function (e)
    {

        var oLoanRequest = $('#tblLoanRequest').datagrid('getSelected');
        if (oLoanRequest ==null || oLoanRequest.LoanRequestID <=0 ) { alert("Please select an item from list."); return ; }
        if (oLoanRequest.RequestStatus ==2) { alert("Already approved."); return ; }
        if (oLoanRequest.RequestStatus ==3) { alert("Already canceled."); return ; }


        var nIndex=$('#tblLoanRequest').datagrid('getRowIndex',oLoanRequest);

        sessionStorage.clear();
        sessionStorage.setItem("Operation", "Approve");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("LoanRequestHeader", "Approve Loan Request");
        sessionStorage.setItem("LoanRequests", JSON.stringify($('#tblLoanRequest').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/LoanRequest/ViewLoanRequest?nId="+oLoanRequest.LoanRequestID+"&ts="+tsv;
    });


    $('#btnPrint').click(function (e)
    {
        var oLoanRequest = $('#tblLoanRequest').datagrid('getSelected');
        if (oLoanRequest ==null || oLoanRequest.LoanRequestID <=0 ) { alert("Please select an item from list."); return ; }
        var tsv=((new Date()).getTime())/1000;
        window.open(_sBaseAddress+ "/LoanRequest/PrintLoanRequest?nId="+oLoanRequest.LoanRequestID+"&nts="+tsv, "_blank");
    });

    $('#btnImport').click(function (e)
    {
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/LoanRequest/ViewLoanImport?nts="+tsv;;
    });



    /*--------------------------------------*/

    $("#btnResetEmployee-Adv").click(function () {
        $("#txtEmployee-Adv").val("");
        $('#txtEmployee-Adv').data('EmployeeIDs',"");
    });

    $("#btnPickEmployee-Adv").click(function () {
        var sEmployeeName=$.trim($("#txtEmployee-Adv").val());
        if(sEmployeeName==""){ alert("Type employee name to search."); return false; }
        GetEmployees(sEmployeeName);
    });

    $("#txtEmployee-Adv").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sEmployeeName=$.trim($("#txtEmployee-Adv").val());
            if(sEmployeeName==""){ alert("Type employee name to search."); return false; }
            GetEmployees(sEmployeeName);
        }
        else if(nkeyCode==8){
            $("#txtEmployee-Adv").val("");
            $('#txtEmployee-Adv').data('EmployeeIDs',"");
        }
    });

    function GetEmployees(sEmployeeName){

        var oEmployee = { Params:sEmployeeName+'~'+0 };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oEmployee,
            ControllerName: "Employee",
            ActionName: "GetsByEmpCode",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].EmployeeID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "NameCode", title: "Name", width: 180, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "DesignationName", title: "Designation", width: 90, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "DepartmentName", title: "Department", width: 110, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winEmployeePicker',
                        winclass:'clsEmployeePicker',
                        winwidth: 450,
                        winheight: 400,
                        tableid: 'tblEmployeePicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName:'NameCode',
                        windowTittle: 'Employee List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializeEmployeePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No employee found.");
            }
        });


    }

    function IntializeEmployeePickerbutton(oPickerobj)
    {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            EmployeeSelect(oPickerobj);
        });
        $(document).find('.' +oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                EmployeeSelect(oPickerobj);
            }
        });
    }

    function EmployeeSelect(oPickerobj){
        var oEmployees = $('#'+oPickerobj.tableid).datagrid('getChecked');
        if (oPickerobj.winid == 'winEmployeePicker')
        {
            if(oEmployees.length>0  && oEmployees[0].EmployeeID>0){
                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();

                var sEmployeeIDs="";
                for(var i=0;i<oEmployees.length;i++){
                    sEmployeeIDs+=oEmployees[i].EmployeeID+',';
                }
                sEmployeeIDs=sEmployeeIDs.substring(0,sEmployeeIDs.length-1);
                $('#txtEmployee-Adv').val((oEmployees.length>1)? oEmployees.length +"Employees Selected.": oEmployees[0].NameCode);
                $('#txtEmployee-Adv').data('EmployeeIDs',sEmployeeIDs);

            }
            else{
                alert("Please select employee.");
            }
        }
    }

    </script>
