
    @{
        ViewBag.Title = "Employee Loan";
    }

    @model IEnumerable<ESimSol.BusinessObjects.LoanRequest>

    <html>
    <head>
        <title>Employee Loan Import</title>
    </head>
    <body>
        <div class="menuMainCollectionTable">
            <fieldset style="height:10%">
                <legend style="font-weight:bold">Import Employee Loan Information: </legend>
                <table style="width:100%">
                    <tr>
                        <td class="td-col-10">
                            @using (Html.BeginForm("ViewLoanImport", "LoanRequest", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                <input type="file" id="fileLoanInfo" name="fileLoanInfo" />
                                <input type="submit" id="btnImportXL" value="Import" class="icon-up PrintList" />
                            }
                        </td>
                        <td class="td-col-10">
                            <a id="btnDownloadFormat" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-down" plain="true">Download Format</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <div style="padding-left:2px; padding-right:2px;">
                <table id="tblLoanRequest" title="Error While Import" class="easyui-datagrid" style="height: 425px; width:100%;" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false">
                    <thead>
                        <tr>
                            <th field="EmployeeCode" width="20%">Employee Code</th>
                            <th field="ExpectDateStr" width="10%">Exp. Date</th>
                            <th field="LoanTypeStr" width="12%">Loan Type</th>
                            <th field="LoanAmount" width="15%" formatter="formatPrice" align="right">Loan Amount</th>
                            <th field="NoOfInstallment" width="12%" align="right">No. of Inst</th>
                            <th field="InstallmentAmount" width="12%" formatter="formatPrice" align="right">Inst. Amount</th>
                            <th field="InterestRate" width="12%" formatter="formatPrice" align="right">Interest Rate</th>
                        </tr>
                    </thead>
                </table>
            </div>
            <fieldset>
                <legend>Action</legend>
                <div class="align-right">
                    <div id="region-action" style=" float:left;  width:100%; ">
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </div>
                </div>
            </fieldset>
        </div>
    </body>
</html>

<style type="text/css">
    .input, select {
        padding-left: 5px;
    }
</style>

<script type="text/javascript">

    var _sBaseAddress = "";
    var _oLoanRequests=null;
    $(document).ready(function () {

        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oLoanRequests =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var sMessage =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.Message));
        if($.trim(sMessage)!=""){
            alert(sMessage);
        }
        DynamicRefreshList(_oLoanRequests,'tblLoanRequest');
    });

    $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });

    $('#btnDownloadFormat').click(function (e)
    {
        var tsv=((new Date()).getTime())/1000;
        window.open(_sBaseAddress+ "/LoanRequest/XLLoanFormat?nts="+tsv, "_blank");
    });

    $('#btnClose').click(function(e){
        window.location.href = sessionStorage.getItem("BackLink");
    });

    // XLLoanFormat
    $('#btnImportXL').click( function ()
    {
        if ($.trim($("#fileLoanInfo").val()) == "") {
            alert("Please select a file.");
            $("#fileLoanInfo").addClass("errorFieldBorder");
            $("#fileLoanInfo").focus();
            return false;
        } else {
            $("#fileLoanInfo").removeClass("errorFieldBorder");
        }
        return true;
    });

</script>
