@model ESimSol.BusinessObjects.TDesignation
@{
    ViewBag.Title = "Designation List";
}

<head>
    <title></title>
</head>
<body>

    <div style="margin-left:0px;width:100%; height:100%">
        <table id="tblDesignations" title="Designation List" class="easyui-treegrid" style="width:100%; height:100%"
               data-options="idField:'id',treeField:'text', rownumbers:'true', toolbar:'#toolbar' ">
            <thead>
                <tr>
                    <th data-options="field:'text',width:300">Designation Name</th>
                    <th data-options="field:'code',width:200">Designation Code</th>
                    <th data-options="field:'Responsibility',width:200">Responsibility</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">

            <input type="text" id="txtSearchByCode" placeholder="Search by Code" style="width:120px" />
            <input type="text" id="txtSearchByName" placeholder="Search by name" style="width:150px" />
            <a id="btnNewDesignation" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>
            <a id="btnEditDesignation" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
            <a id="RemoveDesignationFromCollection" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
            <a id="btnExport" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-down" plain="true">Export</a>
        </div>
    </div>

    <div id="winDesignation" class="easyui-window" title="Add Designation" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false" style="width:870px;padding:1px">
        <div style="width:100%; text-align:center;">
               <fieldset style="margin:2px">
                <table style="width:100%; font-size:12px; text-align: right">
                    <tr>
                        <td style="width:20%; font-weight:bold">Name: </td>
                        <td style="width:30%"><input type="text" id="txtDesignationName" style="width:100%" /></td>
                        <td style="width:20%; font-weight:bold">Code: </td>
                        <td style="width:30%"><input type="text" style="width:100%" id="txtCode" disabled="disabled"></td>
                    </tr>
                    <tr>
                        <td style="width:20%; font-weight:bold">Name In Bangla: </td>
                        <td style="width:80%" colspan="3"><input type="text" id="txtDesignationNameInBangla" style="width:100%; font-size:xx-large" /></td>
                    </tr>

                    <tr>
                        <td style="width:20%; font-weight:bold">Default Responsibility:</td>
                        <td style="width:30%">
                            <input id="txtResponsibility" type="text" style="width:190px" disabled="disabled" />
                            <input id="btnPickResponsibility" type="button" value="P" style="width:25px" />
                            <input id="btnClearResponsibility" type="button" value="C" style="width:25px" />
                            @*<input id="txtResponsibilityBangla" type="text" style="width:190px" disabled="disabled" />*@
                        </td>
                        <td style="width:20%; font-weight:bold">Description: </td>
                        <td style="width:30%"><input type="text" style="width:100%" id="txtDescription" /></td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div style="height:310px">
            <table id="tblDesignation" title="Designation List :" class="easyui-datagrid" style="width:100%;height:310px" singleselect="true" toolbar="#ActionToolbar">
                <thead>
                    <tr>
                        <th field="Code" width="100" align="left">Code</th>
                        <th field="Name" width="150" align="left">Name</th>
                        <th field="NameInBangla" width="200" align="left">Name In Bangla</th>
                        <th field="Description" width="190" align="left">Description</th>
                        <th field="Responsibility" width="190" align="left">Responsibility</th>
                    </tr>
                </thead>
            </table>
            <div id="ActionToolbar">
                <a id="AddDesignation" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                <a id="RemoveDesignation" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
            </div>
        </div>
        <fieldset class="">
            <legend style="font-weight:bold">Actions : </legend>
            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" style="margin-left:90%">Close</a>
        </fieldset>
    </div>

    <div id="winHRResponsibility" class="easyui-window" title="HR Responsibility List" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="margin-left:2px; margin-top:2px">
            <table id="tblHRResponsibility" title="" class="easyui-datagrid" style="width: 430px; height: 450px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false">
                <thead>
                    <tr>
                        <th data-options="field:'Selected',checkbox:false"> </th>
                        <th field="Code" width="60"> Code </th>
                        <th field="Description" width="295"> Responsibility Clause </th>
                    </tr>
                </thead>
            </table>
        </div>
        <fieldset>
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; font-family: Tahoma">
                <tr>
                    <td style="width: 280px; text-align: right"></td>
                    <td style="width: 50px">
                        <a id="btnOkHRResponsibility" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
                    </td>
                    <td style="width: 50px">
                        <a id="btnCloseHRResponsibility" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>

    <div id="winEditDesignation" class="easyui-window" title="Edit Designation" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false" style="width:30%;height:auto;padding:1px">
        <table border="0" cellspacing="2" cellpadding="2">
            <tr>
                <td style="background-color:#CFB53B; text-align:center; width:500px; color:White">
                    <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline"> Edit Designation</label>
                </td>
            </tr>
        </table>
        <fieldset>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                <tr>
                    <td style="text-align:right">
                        Code :
                    </td>
                    <td style="width:270px">
                        <input type="text" style="width:250px" id="txtEditCode" disabled="disabled">
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">
                        Name :
                    </td>
                    <td style="width:270px">
                        <input type="text" id="txtEditDesignationName" style="width:250px" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">
                        Name In Bnagla:
                    </td>
                    <td style="width:270px">
                        <input type="text" id="txtEditDesignationNameInBangla" style="width:250px;font-family:SutonnyMJ; font-size:xx-large" />
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right">
                        Description :
                    </td>
                    <td style="width:270px">
                        <input type="text" style="width:250px" id="txtEditDescription" />
                    </td>
                </tr>

                <tr>
                    <td style="text-align:right">
                        Responsibility:
                    </td>
                    <td style="width:270px">
                        <input id="txtEditResponsibility" type="text" style="width:195px" disabled="disabled" />
                        <input id="btnEditPickResponsibility" type="button" value="P" style="width:25px" />
                        <input id="btnEditClearResponsibility" type="button" value="C" style="width:25px" />
                    </td>
                </tr>

                @*New Added by asad*@
                <tr>
                    <td style="text-align:left" colspan="2">
                        <input id="chkEmployeeType" type="checkbox" /> &nbsp; Do you want to tag type?
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right"></td>
                    <td style="width:270px">
                        <select id="cboEmployeeType"></select>
                    </td>
                </tr>

            </table>
        </fieldset>

        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                <tr>
                    <td style="width:400px; text-align:right"></td>

                    <td style="width:50px">
                        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                    </td>
                    <td style="width:50px">
                        <a id="btnEditDesignationClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>

<style>
    .avro {
        font-family: Kalpurush;
    }

    .bijoy {
        font-family: SutonnyMJ;
    }
    
</style>
<script type="text/javascript">
    var _oTDesignation=null;
    var _sBaseAddress="";
    var _oEmployeeTypes=[];
    var _COS = null;

    var _oDesignation = { DesignationID: 0, ParentID: 0 };
    var _oEmployees = [];
    var _bIsAddDesignation = false;
    var _sRemovedids = '';
    var _nDepartmentRequirementPolicyID = 0;

    $(document).ready(function () {
        debugger;
        _sBaseAddress=@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oTDesignation=@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oEmployeeTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.EmployeeTypes));
        _COS =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.COS));

        var el = document.getElementById('txtDesignationNameInBangla');
        var val = parseInt(el.innerText);
        var class_name;

        if(parseInt(_COS.Value) == 19) {
            class_name = 'bijoy';
        }
        else {
            class_name = 'avro';
        }
        el.className += ' ' + class_name;


        $("#cboEmployeeType").hide();

        InitializeDesignationsEvents();
    });

    function InitializeDesignationsEvents() {

        RefreshDesignationList(_oTDesignation);

        $("#btnNewDesignation").click(function () {
            var oDesignation = $('#tblDesignations').datagrid('getSelected');
            if (oDesignation == null || oDesignation.id <= 0) {
                alert("Please select a item from list!");
                return;
            }
            var SelectedRowIndex = $('#tblDesignations').datagrid('getRowIndex', oDesignation);
            $("#winDesignation").icsWindow("open", "New Designation");
            $("#txtDesignationName").focus();
            _oDesignation.ParentID = oDesignation.id;
            _oDesignation.DesignationID = 0;
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oDesignation,
                ControllerName: "Designation",
                ActionName: "getchildren",
                IsWinClose: false
            };
            DynamicRefreshList([], "tblDesignation");

            ResetAllFields("winDesignation");
            _bIsAddDesignation = true;
            $.ajax({
                type: "POST",
                dataType: "json",
                url: _sBaseAddress + "/Designation/getchildren",
                traditional: true,
                data: JSON.stringify(oDesignation),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    var oRows = jQuery.parseJSON(data);
                    if (oRows.length > 0) {
                        $('#tblDesignation').datagrid('loadData', oRows);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });


        });

        $("#btnPickResponsibility").click(function () {
            debugger;

            var oHRResponsibility = {
                HRResponsibilityID: 0
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: _sBaseAddress + "/DepartmentRequirementPolicyV2/GetsHRResponsibility",
                traditional: true,
                data: JSON.stringify(oHRResponsibility),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    var oHRResponsibilitys = jQuery.parseJSON(data);
                    if (oHRResponsibilitys != null) {

                        var data = oHRResponsibilitys;
                        data = { "total": "" + data.length + "", "rows": data };
                        $('#tblHRResponsibility').datagrid('loadData', data);
                        $('#tblHRResponsibility').datagrid({ selectOnCheck: false, checkOnSelect: false })

                        var oDesignationResponsibilitys = [];

                        if (oDesignationResponsibilitys != null) {
                            if (oDesignationResponsibilitys.length > 0) {
                                var oHRResponsibilitys = $("#tblHRResponsibility").datagrid("getRows");
                                for (var i = 0; i < oHRResponsibilitys.length; i++) {
                                    for (var j = 0; j < oDesignationResponsibilitys.length; j++) {
                                        if (parseInt(oHRResponsibilitys[i].HRRID) == parseInt(oDesignationResponsibilitys[j].HRResponsibilityID)) {
                                            $('#tblHRResponsibility').datagrid('checkRow', i);
                                        }
                                    }
                                }
                            }
                        }
                        $("#winHRResponsibility").icsWindow("open", "HR Responsibility List");
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        });

        $("#btnEditPickResponsibility").click(function () {
            debugger;

            var oHRResponsibility = {
                HRResponsibilityID: 0
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url: _sBaseAddress + "/DepartmentRequirementPolicyV2/GetsHRResponsibility",
                traditional: true,
                data: JSON.stringify(oHRResponsibility),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    var oHRResponsibilitys = jQuery.parseJSON(data);
                    if (oHRResponsibilitys != null) {

                        var data = oHRResponsibilitys;
                        data = { "total": "" + data.length + "", "rows": data };
                        $('#tblHRResponsibility').datagrid('loadData', data);
                        $('#tblHRResponsibility').datagrid({ selectOnCheck: false, checkOnSelect: false })

                        var oDesignationResponsibilitys = [];

                        if (oDesignationResponsibilitys != null) {
                            if (oDesignationResponsibilitys.length > 0) {
                                var oHRResponsibilitys = $("#tblHRResponsibility").datagrid("getRows");
                                for (var i = 0; i < oHRResponsibilitys.length; i++) {
                                    for (var j = 0; j < oDesignationResponsibilitys.length; j++) {
                                        if (parseInt(oHRResponsibilitys[i].HRRID) == parseInt(oDesignationResponsibilitys[j].HRResponsibilityID)) {
                                            $('#tblHRResponsibility').datagrid('checkRow', i);
                                        }
                                    }
                                }
                            }
                        }
                        $("#winHRResponsibility").icsWindow("open", "HR Responsibility List");
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        });

        $("#btnOkHRResponsibility").click(function () {
            debugger;
            var oResponsibility = $("#tblHRResponsibility").datagrid("getSelected");
            $('#txtResponsibility').data("HRRID", oResponsibility.HRRID);
            $('#txtResponsibility').data("DescriptionInBangla", oResponsibility.DescriptionInBangla);
            $('#txtResponsibility').val(oResponsibility.Description);

            $('#txtEditResponsibility').data("HRRID", oResponsibility.HRRID);
            $('#txtEditResponsibility').data("DescriptionInBangla", oResponsibility.DescriptionInBangla);
            $('#txtEditResponsibility').val(oResponsibility.Description);

            $("#winHRResponsibility").icsWindow('close');
        });

        $("#btnCloseHRResponsibility").click(function () {
            $("#winHRResponsibility").icsWindow('close');
        });

        $("#btnClearResponsibility").click(function () {
            $('#txtResponsibility').val('');
        });

        $("#btnEditClearResponsibility").click(function () {
            $('#txtEditResponsibility').val('');
        });

        $("#AddDesignation").click(function () {
            debugger;
            if (!ValidateInput()) return;
            var oDesignation = RefreshObject();

            $.ajax({
                type: "POST",
                dataType: "json",
                url: sessionStorage.getItem('BaseAddress') + "/Designation/Save",
                traditional: true,
                data: JSON.stringify(oDesignation),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    oDesignation = jQuery.parseJSON(data);
                    if (oDesignation.ErrorMessage == "" || oDesignation.ErrorMessage == null) {
                        alert("Data Saved sucessfully");
                        $('#tblDesignation').datagrid('appendRow', oDesignation);

                    }
                    else {
                        alert(oDesignation.ErrorMessage);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }

            });

            //$.icsSave(obj);

            $("#txtCode").val("");
            $("#txtDesignationName").val("");
            $("#txtDesignationNameInBangla").val("");
            $("#txtResponsibility").val("");
            $("#txtDescription").val("");
            $("#txtDesignationName").focus();

        });

        $("#RemoveDesignation").click(function () {
            var oDesignation = $('#tblDesignation').datagrid('getSelected');
            if (oDesignation == null || oDesignation.DesignationID <= 0) {
                alert("Please select a item from list!");
                return;
            }
            if (oDesignation.ParentID == 0) {
                alert("Root Designation is not deletable item");
                return;
            }
            if (!confirm("Confirm to Delete?")) return;
            var SelectedRowIndex = $('#tblDesignation').datagrid('getRowIndex', oDesignation);

            if (oDesignation.DesignationID > 0) {

                debugger
                var obj = {
                    BaseAddress: _sBaseAddress,
                    Object: oDesignation,
                    ControllerName: "Designation",
                    ActionName: "Delete",
                    TableId: "tblDesignation",
                    IsWinClose: false
                };
                $.icsDelete(obj);
                _sRemovedids = _sRemovedids + oDesignation.DesignationID + ',';
            }
        });

        $("#btnClose").click(function () {
            debugger
            if (_sRemovedids.length > 0) {
                _sRemovedids = _sRemovedids.substring(0, _sRemovedids.length - 1);
            }
            oDesignations = $('#tblDesignation').datagrid('getRows');

            if (oDesignations != null) {
                if (_sRemovedids != "") {
                    var RemovedIds = _sRemovedids.split(",");
                    if (RemovedIds.length > 0) {
                        for (var i = 0; i < RemovedIds.length; i++) {
                            $('#tblDesignations').treegrid('remove', RemovedIds[i]);
                        }
                    }
                }
                var newDesignations = [];
                newDesignations = oDesignations;
                debugger
                if (newDesignations != null) {
                    if (newDesignations.length > 0) {
                        for (var i = 0; i < newDesignations.length; i++) {

                            if (!IsdExists(_oDesignation.ParentID, newDesignations[i].DesignationID)) {
                                var oTDesignation = {
                                    id: newDesignations[i].DesignationID,
                                    text: newDesignations[i].Name,
                                    state: '',
                                    attributes: '',
                                    parentid: newDesignations[i].ParentID,
                                    code: newDesignations[i].Code,
                                    Responsibility: newDesignations[i].Responsibility,
                                    sequence: newDesignations[i].Sequence,
                                    requiredPerson: newDesignations[i].RequiredPerson,
                                    isActive: newDesignations[i].IsActive,
                                    Description: newDesignations[i].Description
                                };
                                $('#tblDesignations').treegrid('append', { parent: _oDesignation.ParentID, data: [oTDesignation] });
                            }
                        }
                        $('#tblDesignations').treegrid('select', _oDesignation.ParentID);
                        $('#tblDesignations').treegrid('expand', _oDesignation.ParentID);
                    }
                }
            }
            $("#winDesignation").icsWindow('close');
        });

        $("#btnEditDesignation").click(function () {
            debugger
            var oDep = $('#tblDesignations').datagrid('getSelected');
            if (oDep == null || oDep.id <= 0) {
                alert("Please select a item from list!");
                return;
            }
            if (oDep.parentid == 0) {
                alert("You can not edit root Designation");
                return;
            }
            var oDesignation = { DesignationID: oDep.id }

            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oDesignation,
                ControllerName: "Designation",
                ActionName: "getDesignation",
                IsWinClose: false
            };

            $.icsDataGet(obj, function (response) {

                if (response.status && response.obj.DesignationID > 0) {
                    debugger
                    _oDesignation = response.obj;
                    $("#txtEditCode").val(_oDesignation.Code);
                    $("#txtEditDesignationName").val(_oDesignation.Name);
                    $("#txtEditDesignationNameInBangla").val(_oDesignation.NameInBangla);
                    $("#txtEditDescription").val(_oDesignation.Description);
                    $("#txtEditResponsibility").val(_oDesignation.Responsibility);
                    if (_oDesignation.EmployeeTypeID > 0) {
                        $("#cboEmployeeType").val(_oDesignation.EmployeeTypeID);
                    }
                    else {
                        $("#cboEmployeeType").icsLoadCombo({
                            List: _oEmployeeTypes,
                            OptionValue: "EmployeeTypeID",
                            DisplayText: "Name",
                            InitialValue: "--Select Employee Type--"
                        });
                    }
                }
            });
            $("#winEditDesignation").icsWindow('open');

        });

        $("#chkEmployeeType").change(function (e) {
            debugger;
            if ($("#chkEmployeeType").is(':checked')) {
                $("#cboEmployeeType").icsLoadCombo({
                    List: _oEmployeeTypes,
                    OptionValue: "EmployeeTypeID",
                    DisplayText: "Name",
                    InitialValue: "--Select Employee Type--"
                });
                if (_oDesignation.EmployeeTypeID > 0) {
                    $("#cboEmployeeType").val(_oDesignation.EmployeeTypeID);
                }
                $('#cboEmployeeType').show();
            }
            else {
                if (_oDesignation.EmployeeTypeID > 0) {
                    $("#cboEmployeeType").val(_oDesignation.EmployeeTypeID);
                }
                else {
                    $("#cboEmployeeType").icsLoadCombo({
                        List: _oEmployeeTypes,
                        OptionValue: "EmployeeTypeID",
                        DisplayText: "Name",
                        InitialValue: "--Select Employee Type--"
                    });
                }
                $('#cboEmployeeType').hide();
            }
        });

        $("#btnEdit").click(function () {
            if ($('#txtEditDesignationName').val() == null || $('#txtEditDesignationName').val() == "") {
                alert("Please enter Designation name!");
                $('#txtEditDesignationName').focus();
                return;
            }

            var oDesignation = {
                DesignationID: _oDesignation.DesignationID,
                Code: _oDesignation.Code,
                Name: $('#txtEditDesignationName').val(),
                NameInBangla: $('#txtEditDesignationNameInBangla').val(),
                Description: $('#txtEditDescription').val(),
                HRResponsibilityID: parseInt($('#txtEditResponsibility').data("HRRID")),
                Responsibility: $('#txtEditResponsibility').val(),
                ResponsibilityInBangla: $('#txtEditResponsibility').data("DescriptionInBangla"),
                ParentID: _oDesignation.ParentID,
                Sequence: 0,
                RequiredPerson: 1,
                EmployeeTypeID: $('#cboEmployeeType').val(),
                IsActive: true
            };

            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oDesignation,
                ObjectId: oDesignation.DesignationID,
                ControllerName: "Designation",
                ActionName: "Save",
                TableId: "",
                IsWinClose: true
            };

            $.icsSave(obj, function (response) {
                if (response.status && response.obj.DesignationID > 0) {
                    var oDesignation = response.obj;
                    if (oDesignation.DesignationID > 0) {
                        var oTDesignation = {
                            id: oDesignation.DesignationID,
                            text: oDesignation.Name,
                            state: '',
                            attributes: '',
                            parentid: oDesignation.ParentID,
                            sequence: oDesignation.Sequence,
                            Responsibility: oDesignation.Responsibility,
                            requiredPerson: oDesignation.RequiredPerson,
                            code: oDesignation.Code,
                            isActive: oDesignation.IsActive,
                            Description: oDesignation.Description
                        };
                        $('#tblDesignations').treegrid('update', { id: oDesignation.DesignationID, row: oTDesignation });
                    }
                }
            });
        });

        $("#RemoveDesignationFromCollection").click(function () {
            debugger;
            var oDep = $('#tblDesignations').datagrid('getSelected');
            if (oDep == null || oDep.id <= 0) {
                alert("Please select a item from list!");
                return;
            }

            if (oDep.parentid == 0) {
                alert("Root Designation is not deletable item");
                return;
            }
            if (!confirm("Confirm to Delete?")) return;
            var SelectedRowIndex = $('#tblDesignation').datagrid('getRowIndex', oDep);
            var oDesignation = { DesignationID: oDep.id }
            if (oDesignation.DesignationID > 0) {

                debugger;
                var obj = {
                    BaseAddress: _sBaseAddress,
                    Object: oDesignation,
                    ControllerName: "Designation",
                    ActionName: "Delete",
                    TableId: "",
                    IsWinClose: false
                };
                //$.icsDelete(obj);
                //$('#tblDesignations').treegrid('remove', oDesignation.DesignationID);

                $.icsDelete(obj, function (response) {
                    debugger;
                    if (response.status && response.Message == 'deleted') {

                        $('#tblDesignations').treegrid('remove', oDesignation.DesignationID);
                        $('#tblDesignations').treegrid('select', oDesignation.ParentID);;
                        var oParent = $('#tblDesignations').datagrid('getSelected');
                        if (oParent != null) {
                            var oChildrens = [];
                            for (var i = 0; i < oParent.children.length; i++) {

                                if (oParent.children[i].DesignationID != oDesignation.DesignationID) {
                                    oChildrens.push(oParent.children[i]);
                                }
                            }
                            oParent.children = oChildrens;
                            $('#tblDesignations').treegrid('update', { id: oParent.DesignationID, row: oParent });
                        }
                        location.reload();
                    }
                })

            }
        });

        $('#txtSearchByCode').keypress(function (e) {
            debugger;
            var c = String.fromCharCode(e.which);
            var txtSearchByCode = document.getElementById('txtSearchByCode').value;
            txtSearchByCode = txtSearchByCode + c;

            var bFlag = false;
            var sAccountHeadCode = "";
            var rows = $('#tblDesignations').treegrid('getChildren', 1);
            for (i = 0; i < rows.length; ++i) {
                sAccountHeadCode = rows[i]['code'].substring(0, txtSearchByCode.length);
                if (txtSearchByCode.toUpperCase() == sAccountHeadCode.toUpperCase()) {
                    var id = rows[i]['id'];
                    $('#tblDesignations').treegrid('select', id);
                    break;
                }
            }
        });

        $('#txtSearchByName').keypress(function (e) {
            debugger;
            var c = String.fromCharCode(e.which);
            var txtSearchByName = document.getElementById('txtSearchByName').value;
            txtSearchByName = txtSearchByName + c;

            var bFlag = false;
            var sAccountHeadName = "";
            var rows = $('#tblDesignations').treegrid('getChildren', 1);
            for (i = 0; i < rows.length; ++i) {
                sAccountHeadName = rows[i]['text'].substring(0, txtSearchByName.length);
                if (txtSearchByName.toUpperCase() == sAccountHeadName.toUpperCase()) {
                    var id = rows[i]['id'];
                    $('#tblDesignations').treegrid('select', id);
                    break;
                }
            }
        });

        $("#btnEditDesignationClose").click(function () {
            $("#winEditDesignation").icsWindow('close');
        });
    }

    $(document).keydown(function (e)
    {
        var keyCode = e.keyCode || e.which;
        if (keyCode == 27)
        {
            $("#winDesignation").icsWindow("close");
        }
    });

    $('#btnExport').click(function (e)
    {
        var tsv = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress+ "/Designation/PrintDesigantionXL?ts="+tsv, "_blank");

    });

    function IsdExists(nparentid, id) {
        var oChildNodes = $('#tblDesignations').treegrid('getChildren', nparentid);
        for (i = 0; i < oChildNodes.length; i++) {
            if (oChildNodes[i].id == id) {
                return true;
            }
        }
        return false;
    }

    function ValidateInput() {
        if ($('#txtDesignationName').val() == null || $('#txtDesignationName').val() == "") {
            alert("Please enter Designation name!");
            $('#txtDesignationName').focus();
            return false;
        }
        return true;
    }

    function RefreshObject() {
        debugger;
        var oDesignation = {
            DesignationID: _oDesignation.DesignationID,
            Code: _oDesignation.Code,
            Name: $('#txtDesignationName').val(),
            NameInBangla: $('#txtDesignationNameInBangla').val(),
            HRResponsibilityID: parseInt($('#txtResponsibility').data("HRRID")),
            Responsibility: $('#txtResponsibility').val(),
            ResponsibilityInBangla: $('#txtResponsibility').data("DescriptionInBangla"),
            Description: $('#txtDescription').val(),
            ParentID: _oDesignation.ParentID,
            Sequence: 0,//$('#txtSequence').val(),
            RequiredPerson: 1,//$('#txtRequiredPerson').val(), 
            IsActive: true
        };
        return oDesignation;
    }

    function RefreshDesignationList(oTDesignation) {
        data = [oTDesignation];
        data = { "total": "" + data.length + "", "rows": data };
        $('#tblDesignations').treegrid('loadData', data);
    }

    //$("#chkEmployeeType").change(function(e){
    //    if($("#chkEmployeeType").is(':checked')) {
    //        $('#cboEmployeeType').show();

    //        $("#cboEmployeeType").icsLoadCombo({
    //            List:_oEmployeeTypes,
    //            OptionValue: "EmployeeTypeID",
    //            DisplayText: "Name",
    //            InitialValue:"--Select Employee Type--"
    //        });
    //    }
    //    else {
    //        $('#cboEmployeeType').hide();
    //    }
    //});
</script>
