@{
    ViewBag.Title = "Sales Contract List";
}
@model ESimSol.BusinessObjects.PTU
<head>
    
</head>
<body>
    <div id="divExportSC" class="easyui-panel menuMainCollectionTable" style="font-family:Tahoma; height:100%; width:100%;overflow:hidden;">
      
         <div style="height:88%;width:100%;overflow:hidden;">
             <table border="0" cellspacing="2" cellpadding="2" style="width:100%;">
                 <tr>
                     <td style=" background-color:#cfb53b; text-align:center; width:100%; color:white">
                         <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline"> Increase, Decrease or Cancel Production Order Qty</label>
                     </td>
                 </tr>
             </table>
            <div style="width:100%;">
                <fieldset>
                    <legend style="text-align:left; font-weight:bold;"> </legend>
                    <table style="width: 100%;" cellspacing="1" cellpadding="1">
                        <tr>
                            <td style="width:10%; text-align:right">
                                <label>
                                    Party Name
                                </label>
                            </td>
                            <td colspan="3" style="width:30%; text-align:left">
                                <input type="text" id="txtContractorName" style="width:100%;" readonly="readonly" />
                            </td>

                            <td style="width:10%; text-align:right">
                                <label>
                                    Buyer Name
                                </label>
                            </td>
                            <td colspan="3" style="width:30%; text-align:left">
                                <input type="text" id="txtBuyerName" style="width:100%;" readonly="readonly" />
                            </td>
                          
                            <td style="width:10%; text-align:right">
                                <label>
                                    P/I No
                                </label>
                            </td>
                            <td style="width:10%; text-align:left">
                                <input type="text" id="txtPINo" style="width:90%;" readonly="readonly" />
                            </td>

                        </tr>
                        <tr>
                            <td style="width:10%; text-align:right">
                                <label>
                                   Product Name
                                </label>
                            </td>
                            <td colspan="3" style="width:30%; text-align:left">
                                <input type="text" id="txtProductName" style="width:100%;" readonly="readonly" />
                            </td>

                            <td style="width:10%; text-align:right">
                                <label>
                                    Color Name
                                </label>
                            </td>
                            <td style="width:10%; text-align:left">
                                <input type="text" id="txtColor" style="width:100%;" readonly="readonly" />
                            </td>
                            <td style="width:10%; text-align:right">
                                <label>
                                    Color No
                                </label>
                            </td>
                            <td style="width:10%; text-align:left">
                                <input type="text" id="txtColorNo" style="width:90%;" readonly="readonly" />
                            </td>
                            <td style="width:10%; text-align:right">
                                <label>
                                    Lab-Dip No
                                </label>
                            </td>
                            <td style="width:10%; text-align:left">
                                <input type="text" id="txtLabDipNo" style="width:90%;" readonly="readonly" />
                            </td>

                        </tr>
                    </table>
                    <table style="width: 100%;" cellspacing="1" cellpadding="1">
                        <tr>
                            <td style="width:10%; text-align:right">
                                <label>   Order Qty  </label> 
                            </td>
                            <td style="width:10%; text-align:left">
                                <input type="text" id="txtOrderQty" style="width:100%;" readonly="readonly" />
                            </td>

                            <td style="width:10%; text-align:right">
                                <label>Pro Pipeline </label>
                            </td>
                            <td style="width:10%; text-align:left">
                                <input type="text" id="txtProductionPipeLineQty" style="width:100%;" readonly="readonly" />
                            </td>
                            <td style="width:10%; text-align:right">
                                <label>
                                    Yet To Pro
                                </label>
                            </td>
                            <td style="width:10%; text-align:left">
                                <input type="text" id="txtYetToProduction" style="width:100%;" readonly="readonly" />
                            </td>
                            <td style="width:10%; text-align:right">
                                <label>
                                    Delivery Qty
                                </label>
                            </td>
                            <td style="width:10%; text-align:left">
                                <input type="text" id="txtActualDeliveryQty" style="width:100%;" readonly="readonly" />
                            </td>
                            <td style="width:10%; text-align:right">
                                <label>
                                    Yet To Delivery
                                </label>
                            </td>
                            <td style="width:10%; text-align:left">
                                <input type="text" id="txtYetToDelivery" style="width:100%;" readonly="readonly" />
                            </td>
                        </tr>
                        
                    </table>
                </fieldset>
            </div>
            <fieldset>
                <legend style="text-align:left; font-weight:bold;"> Production Order Informations : </legend>
                <div style="width:100%;height:330px;">
                    <table style="width:100%;height:310px"id="tblDyeingOrderDetail"  class="easyui-datagrid" singleselect="true" autorowheight="false" toolbar="#toolbarPTU">
                        <thead>
                            <tr>
                              
                                <th field="StatusSt" width="8%" align="left">Status</th>
                                <th field="LabDipTypeSt" width="10%" align="left">LabDip Type</th>
                                <th field="Qty" width="15%" align="right" formatter="formatPrice">Qty</th>
                                <th field="MUnit" width="15%" align="left">Unit</th>
                                <th field="ColorNo" width="15%" align="left">Color No</th>
                                <th field="ColorName" width="20%" align="left">ColorName</th>
                                <th field="ShadeSt" width="10%" align="left">Shade</th>
                                <th field="PantonNo" width="15%" align="left">Panton No</th>
                                

                            </tr>
                        </thead>
                    </table>
                    <div id="toolbarPTU">
                        <table>
                            <tr>
                                <td>
                                    <a id="btnEditDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">Send To Production</a>
                                    <a id="btnOrderCancel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">Order Cancel</a>
                                </td>

                            </tr>
                        </table>
                    </div>
                    <table style="width:100%;" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="width:15%;  text-align:right;font-weight:bold;">Total :</td>
                            <td style="width:25%;  text-align:right;font-weight:bold;"><label> Order Qty </label><span class="lblMUnit"></span><label id="lblTotalDOQty"> </label> </td> 
                            <td style="width:25%; text-align:right; font-weight:bold;"><label> In Production Qty </label><span class="lblMUnit"></span><label id="lblTotalQty_InPro"> </label> </td> 
                            <td style="width:25%; text-align:right; font-weight:bold;"><label> Balance </label><span class="lblMUnit"></span><label id="lblBalance"> </label> </td>
                            
                        </tr>
                    </table>
                </div>
              
            </fieldset>
</div>
        <div style="height:10%;width:100%;overflow:hidden;">
            <fieldset>
                <legend>Action</legend>
                <div class="align-right">
                    <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                </div>
            </fieldset>
        </div>
    </div>
    <div id="winDyeingOrderDetail" class=" easyui-window winclass" title="Edit Payment info" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div>

            <fieldset>
                <table border="0" cellspacing="2" cellpadding="2" style="width:100%; font-size: 11px; font-weight: bold">

                    <tr>
                        <td style="width: 20%; text-align: right">
                            Yarn  :
                        </td>
                        <td colspan="3" style="width:80%">
                            <input id="txtProduct" class="reset-text" placeholder="Type & Press entry For Yarn" style="width: 85%" />
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 20%; text-align: right">
                            Qty (LBS) :

                        </td>

                        <td style="width: 30%; text-align: left">

                            <input type="text" style="width: 60%;" id="txtQtyInlbs" />

                        </td>
                        <td style="width: 20%; text-align: right">
                            Qty (Kg) :

                        </td>

                        <td style="width: 30%; text-align: left">

                            <input type="text" style="width: 60%;" id="txtQtyInKg" />

                        </td>

                    </tr>
                    <tr>
                        <td style="width: 20%; text-align: right">
                            Unit Price ($/LBS) :

                        </td>

                        <td style="width:30%; text-align: left">

                            <input type="text" style="width: 60%;" id="txtUnitPriceInlbs" />

                        </td>
                        <td style="width: 20%; text-align: right">
                            Unit Price ($/Kg) :

                        </td>

                        <td style="width: 30%; text-align: left">

                            <input type="text" style="width: 60%;" id="txtUnitPriceInKg" />

                        </td>

                    </tr>

                </table>
            </fieldset>
            <fieldset>
                <table border="0" cellspacing="2" cellpadding="2" style="width:100%; font-size: 11px; font-weight: bold">
               
                    <tr>
                        <td style="width: 20%; text-align: right">
                            Dev. Product:
                        </td>
                        <td colspan="3" style="width: 80%">
                            <input type="text" style="width: 100%" id="txtColorDevProduct" disabled="disabled" />
                        </td>

                    </tr>
                    <tr>
                        <td style="width: 20%; text-align: right">
                            Hank/Cone:
                        </td>
                        <td style="width: 30%">
                            <select style="width: 100%;" id="cboHankorCone">
                                <option value="1">Hank</option>
                                <option value="2">Cone</option>
                            </select>
                        </td>
                        <td style="width: 20%; text-align: right">
                            Panton No :
                        </td>
                        <td style="width: 30%">
                            <input type="text" disabled="disabled" style="width: 100%" id="txtPantonNo" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%; text-align: right">
                            NoOfCone(Warp) :
                        </td>
                        <td style="width: 30%">
                            <input type="text" style="width: 100%" id="txtNoOfCone" />
                        </td>
                        <td style="width: 20%; text-align: right">
                            LengthOfCone(Warp) :
                        </td>
                        <td style="width: 30%">
                            <input type="text" style="width: 100%" id="txtLengthOfCone" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%; text-align: right">
                            NoOfCone(Weft) :
                        </td>
                        <td style="width: 30%">
                            <input type="text" style="width: 100%" id="txtNoOfCone_Weft" />
                        </td>
                        <td style="width: 20%; text-align: right">
                            Buyer Combo :
                        </td>
                        <td style="width: 30%">
                            @*<input type="text" style="width: 100%" id="txtBuyerCombo" />*@
                            <input id="txtBuyerCombo" type="number" min="0" pattern="^[0-9]" step="1" class="only-number" style="width: 70%" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 20%; text-align: right">
                            Note :
                        </td>
                        <td style="width: 30%">
                            <input type="text" id="txtNoteDetail" style="width: 100%;" />
                        </td>
                        <td style="width: 20%; text-align: right">
                            Delivery Date :
                        </td>
                        <td style="width: 30%">
                            <input type="text" class="easyui-datebox" style="width: 100%;" data-options="formatter:icsdateformat,parser:icsdateparser"
                                   id="txtDeliveryDate" />
                        </td>
                    </tr>
                </table>


            </fieldset>
            <div style="width:100%;">
                <fieldset>
                    <legend style="font-weight: bold">Action : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                        <tr>
                            <td style="width:60%; text-align:right"></td>
                            <td style="width: 30%">
                                <a id="btnSave_DODetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-forword" plain="true">Send To Production</a>
                                <a id="btnBackFromProduction" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Cancel</a>
                            </td>
                            <td style="width: 10%">
                                <a id="btnClose_DODetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-closed" plain="true">Close</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    var _oPTU = null;
    var _sBaseAddress = "";
    var _oAuthorizationRolesMapping = [];
    var _nID=null;
    var  _oDyeingOrderDetails=[];
    var _nSelectedRowIndex=-1;
    var _nDyeingOrderDetailID=0;

    $(document).ready(function() {
        debugger;

        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));

        _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oPTU =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oDyeingOrderDetails=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.DyeingOrderDetails));

      
        DynamicRefreshList(_oDyeingOrderDetails, 'tblDyeingOrderDetail');
        RefreshControl();



    });


    function RefreshControl()
    {
        debugger;
      //  $(".lblMUnit").html("("+_oPTU.Currency+")");
        $('#txtContractorName').val(_oPTU.ContractorName);
        $('#txtBuyerName').val(_oPTU.BuyerName);
        $('#txtPINo').val(_oPTU.PINo);
        $('#txtProductName').val(_oPTU.ProductName);
        $('#txtColor').val(_oPTU.ColorNameShade);
        $('#txtColorNo').val(_oPTU.ColorNo);
        $('#txtLabDipNo').val(_oPTU.LabdipNo);
       
     
        $('#txtProductionPipeLineQty').val(formatPrice(_oPTU.ProductionPipeLineQty,null));
        $('#txtActualDeliveryQty').val(formatPrice(_oPTU.ActualDeliveryQty,null));
        RefreshOrderQty();
        $('#txtQtyInlbs').icsCurrencyBox();
        $('#txtQtyInKg').icsCurrencyBox();
        $('#txtUnitPriceInlbs').icsCurrencyBox();
        $('#txtUnitPriceInKg').icsCurrencyBox();
        RefreshSummary();
    }
    function RefreshOrderQty()
    {
        $('#txtOrderQty').val(formatPrice(_oPTU.OrderQty,null));
        $('#txtYetToProduction').val(formatPrice(_oPTU.OrderQty+_oPTU.ReOrderQty+_oPTU.ReturnQty -_oPTU.ReadyStockInhand -_oPTU.ActualDeliveryQty,null));
        $('#txtYetToDelivery').val(formatPrice(_oPTU.OrderQty+_oPTU.ReOrderQty+_oPTU.ReturnQty -_oPTU.ActualDeliveryQty,null));
    }


    function RefreshSummary()
    {
        debugger;
        var oDyeingOrderDetails = $('#tblDyeingOrderDetail').datagrid('getRows');
        var nTotalDOQty = 0,nTotalInProQty=0,nBalance=0;
        _nTotalAmount=0;
        for(var i = 0; i<oDyeingOrderDetails.length;i++)
        {
            nTotalDOQty+=parseFloat(oDyeingOrderDetails[i].Qty);
            if(oDyeingOrderDetails[i].Status==2)
            {
                nTotalInProQty+=parseFloat(oDyeingOrderDetails[i].Qty);
            }
           
        }

        nBalance=nTotalDOQty-nTotalInProQty;
        document.getElementById('lblTotalDOQty').innerHTML = formatPrice(nTotalDOQty,0);
        document.getElementById('lblTotalQty_InPro').innerHTML = formatPrice(nTotalInProQty,0);
        document.getElementById('lblBalance').innerHTML = formatPrice(nBalance,0);
        _oPTU.OrderQty=nTotalInProQty;
        RefreshOrderQty();
    }


    $("#btnPrintPreview").click(function() {
        var oDyeingOrderDetail= $('#tblDyeingOrderDetail').datagrid('getSelected');
        if(oDyeingOrderDetail==null || oDyeingOrderDetail.ExportSCID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var nts = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress + '/PTU/PrintStatement_DOBalance?nExportSCID=' + parseInt(oDyeingOrderDetail.ExportSCID) + "&nDOID=" + parseInt(0) + "&nProductID=" + parseInt(oDyeingOrderDetail.ProductID) + "&nts=" + nts, "_blank");

    });



    $('#btnClose').click(function(e){
        window.location.href = sessionStorage.getItem("BackLink");
    });



    $(document).keydown(function (e) {
        //debugger;
        if (e.which == 27)//escape=27
        {
            //debugger;
            $("#winPRAdvanceSearch").icsWindow('close');
        }
    });

    ////Color Wise view
    $("#btnView_DO").click(function () {
        debugger;
        var oDyeingOrderDetail= $('#tblDyeingOrderDetail').datagrid('getSelected');
        if(oDyeingOrderDetail==null || oDyeingOrderDetail.ExportSCDetailID<=0)
        {
            alert("Please select a item from list!");
            return false;
        }
        DynamicRefreshList([], 'tblDODetails');
        RefreshControlDetail(oDyeingOrderDetail);
        GetsDODetails(oDyeingOrderDetail);
        $("#winDyeingOrderDetail").icsWindow('open', "Color Information");

    });

    $("#btnClose_DODetail").click(function () {
        debugger;

        $("#winDyeingOrderDetail").icsWindow('close');
    });




    ////BO//
    $("#btnEditDetail").click(function () {
        debugger;
      
        $('#btnBackFromProduction').hide();
        $('#btnSave_DODetail').show();
        ViewwinDyeingOrderDetail("Increase or Decrease Production Order Qty and Send to Production");

    });
    $("#btnOrderCancel").click(function () {
        debugger;
        $('#btnSave_DODetail').hide();
        $('#btnBackFromProduction').show();
        ViewwinDyeingOrderDetail("Order Cancel");
    });

    function ViewwinDyeingOrderDetail(sHeader)
    {
        var oDyeingOrderDetail = $("#tblDyeingOrderDetail").datagrid("getSelected");
        //if (oDyeingOrderDetail == null || oDyeingOrderDetail.DyeingOrderDetailID <= 0) { alert("Please select an item from list!"); return false; }
        _nDyeingOrderDetailID=oDyeingOrderDetail.DyeingOrderDetailID;
        _nSelectedRowIndex=$('#tblDyeingOrderDetail').datagrid('getRowIndex',oDyeingOrderDetail);
        RefreshControlDetail(oDyeingOrderDetail);
        $("#winDyeingOrderDetail").icsWindow('open', sHeader);
    }

    function RefreshObjectDetail(oDODetail){
        var   oDyeingOrderDetail= {
            DyeingOrderDetailID :oDODetail.DyeingOrderDetailID ,
            ColorName: $('#txtColorName').val(),
            ColorNo:$('#txtColorNo').val(),
            PantonNo:$('#txtPantonNo').val(),
            Qty: $('#txtQtyInlbs').val(),
            UnitPrice: $('#txtUnitPriceInlbs').val(),
            Amount:0,
            HankorCone: $('#cboHankorCone').val(),
            BuyerCombo:$('#txtBuyerCombo').val(),
            ApproveLotNo:"",
            NoOfCone: $('#txtNoOfCone').val(),
            LengthOfCone:  $('#txtLengthOfCone').val(),
            NoOfCone_Weft: $('#txtNoOfCone_Weft').val(),
            LengthOfCone_Weft: $('#txtLengthOfCone').val(),
            Note:$('#txtNoteDetail').val(),
            DeliveryDate:$('#txtDeliveryDate').datebox('getValue'),
            Status:0,
            DeliveryDateSt: icsdateformat(new Date())
        };

        return oDyeingOrderDetail;
    }

    $('#btnSave_DODetail').click(function(e){
        debugger;
        // if(!ValidationDetail()) return false;
        var oDyeingOrderDetail = $("#tblDyeingOrderDetail").datagrid("getSelected");
        var oDODetail = RefreshObjectDetail(oDyeingOrderDetail);
        _nSelectedRowIndex=$('#tblDyeingOrderDetail').datagrid('getRowIndex',oDyeingOrderDetail);
       
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/DyeingOrder/DyeingOrderDetailSendToProduction",
            traditional: true,
            data:  JSON.stringify(oDODetail),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oDyeingOrderDetail = jQuery.parseJSON(data);
                debugger;
                if (oDyeingOrderDetail.ErrorMessage==""|| oDyeingOrderDetail.ErrorMessage==null) {
                    $('#tblDyeingOrderDetail').datagrid('updateRow', { index: _nSelectedRowIndex, row: oDyeingOrderDetail });
                    alert("Date Save Successfully");
                  
                    $("#winDyeingOrderDetail").icsWindow('close');
                   RefreshSummary();
                    _nDyeingOrderDetailID=0;
                }
                else {
                    alert(oDyeingOrderDetail.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

     
    });
   
    $('#btnBackFromProduction').click(function(e){
        debugger;
        // if(!ValidationDetail()) return false;
        var oDyeingOrderDetail = $("#tblDyeingOrderDetail").datagrid("getSelected");
     
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/DyeingOrder/DyeingOrderDetailBackFromProduction",
            traditional: true,
            data:  JSON.stringify(oDyeingOrderDetail),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oDyeingOrderDetail = jQuery.parseJSON(data);
                debugger;
                if (oDyeingOrderDetail.ErrorMessage==""|| oDyeingOrderDetail.ErrorMessage==null) {
                    $('#tblDyeingOrderDetail').datagrid('updateRow', { index: _nSelectedRowIndex, row: oDyeingOrderDetail });
                    alert("Date Save Successfully");
      
                    $("#winDyeingOrderDetail").icsWindow('close');
                    RefreshSummary();
                    _nDyeingOrderDetailID=0;
                }
                else {
                    alert(oDyeingOrderDetail.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

     
    });
    
    $('#btnClose').click(function(e){
        window.location.href = sessionStorage.getItem("BackLink");
    });

    function RefreshControlDetail(oDyeingOrderDetail)
    {
        debugger;
        document.getElementById("txtColorDevProduct").disabled = true;
       
        document.getElementById("txtProduct").disabled = true;
        //document.getElementById("txtColorNo").disabled = true;
        document.getElementById("txtPantonNo").disabled = true;
        document.getElementById("txtNoOfCone_Weft").disabled = true;

        $('#txtQtyInlbs').val(parseFloat(oDyeingOrderDetail.Qty).toFixed(2));
        //$('#txtQtyInKg').val(parseFloat(oDyeingOrderDetail.Qty).toFixed(2));
        $('#txtUnitPriceInlbs').val(parseFloat(oDyeingOrderDetail.UnitPrice).toFixed(4));
        //$('#txtUnitPriceInKg').val(parseFloat(oDyeingOrderDetail.UnitPrice).toFixed(2));
        //$('#txtProduct').val(oDyeingOrderDetail.ProductName);

      
        $('#txtColorDevProduct').val(oDyeingOrderDetail.ColorDevelopProduct);
        $('#txtNoteDetail').val(oDyeingOrderDetail.Note);
        $('#txtBuyerCombo').val(oDyeingOrderDetail.BuyerCombo);
        //$('#txtLabdipNo').val(oDyeingOrderDetail.LabdipNo);
        //$('#cboLabDipType').val(oDyeingOrderDetail.LabDipType);
        //$('#cboShade').val(oDyeingOrderDetail.Shade);
        //$('#txtColorName').val(oDyeingOrderDetail.ColorName);
        //$('#txtColorNo').val(oDyeingOrderDetail.ColorNo);
        $('#txtPantonNo').val(oDyeingOrderDetail.PantonNo);
        $('#txtNoOfCone_Weft').val(oDyeingOrderDetail.NoOfCone_Weft);
        $('#txtNoOfCone').val(oDyeingOrderDetail.NoOfCone);
        $('#txtLengthOfCone').val(oDyeingOrderDetail.LengthOfCone);
        $('#txtDeliveryDate').datebox('setValue', oDyeingOrderDetail.DeliveryDateSt)
        ConvertIntoKgs_UnitPrice();
        ConvertIntoKg_Qty();
    }

    function ConvertIntoLbs_Qty()
    {
        var nQtyInKg =icsRemoveComma($('#txtQtyInKg').val());
        var nQtyInLbs= parseFloat(nQtyInKg/0.45359237001003542909395360718511).toFixed(4);
        $('#txtQtyInlbs').val(nQtyInLbs);
    }


    function ConvertIntoKg_Qty()
    {
        var nQtyInLbs =icsRemoveComma($('#txtQtyInlbs').val());
        var nQtyInKg= parseFloat(nQtyInLbs*0.45359237001003542909395360718511).toFixed(4);
        $('#txtQtyInKg').val(nQtyInKg);
    }

    $("#txtUnitPriceInlbs").keyup(function (e){
        debugger;
        ConvertIntoKgs_UnitPrice();
    });
    $("#txtUnitPriceInKg").keyup(function (e){
        debugger;
        ConvertIntoLbs_UnitPrice();
    });
    function ConvertIntoKgs_UnitPrice()
    {
        var nQtyInLbs =icsRemoveComma($('#txtUnitPriceInlbs').val());
        var nQtyInKg= parseFloat(nQtyInLbs/0.45359237001003542909395360718511).toFixed(4);
        $('#txtUnitPriceInKg').val(nQtyInKg);
    }

</script>