<html>
@{
    ViewBag.Title = "Export Fund Allocation Head";
}
<body>
    @model ESimSol.BusinessObjects.ExportFundAllocationHead
    <div class="menuMainCollectionTable">
        <div id="MainDiv" class="easyui-panel" title="Export Fund Allocation Head" style="font-family:Tahoma; text-align:center; height:88%;">
            <fieldset style="height:100%">
                <legend style="font-weight:bold">Export Fund Allocation Head : </legend>
                <table style="width:100%;margin-top:15%">
                    <tr>
                        <td style="width:15%; text-align:right">
                            Code :
                        </td>
                        <td style="width:25%">
                            <input id="txtCode" type="text" style="width:100%;" disabled="disabled" />
                        </td>
                        <td style="width:15%; text-align:right">
                            Name :
                        </td>
                        <td style="width:40%">
                            <input id="txtName" type="text" style="width:100%;" d />
                        </td>

                    </tr>
                    <tr>
                        <td style="width:15%; text-align:right">
                            Remarks :
                        </td>
                        <td style="width:20%" colspan="4">
                            <input id="txtRemarks" type="text" style="width:100%;"/>
                        </td>
                        <td style="width:15%; text-align:right">
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset style="height:10%">
            <legend style="font-weight:bold; "> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px;width:100%; font-weight:bold">
                <tr>
                    <td style="width:85%; text-align:right"></td>
                    <td style="width:15%">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>

<script type="text/javascript">
   
    $(document).ready(function () {
        var oExportFundAllocationHead =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        $('#MainDiv').data('ExportFundAllocationHead', oExportFundAllocationHead);
        RefreshControl(oExportFundAllocationHead);
    });
    function RefreshControl(oExportFundAllocationHead)
    {   
        debugger;
        if(sessionStorage.getItem("ExportFundAllocationHeadHeader")=="View ExportFundAllocationHead")
        {
            $('#btnSave').hide();
            $('#txtName').attr('disabled','disabled');
            $('#txtRemarks').attr('disabled','disabled');
  
        }
        $("#txtCode").val(oExportFundAllocationHead.Code);
        $("#txtName").val(oExportFundAllocationHead.Name);
        $("#txtRemarks").val(oExportFundAllocationHead.Remarks);
    }

    function RefreshObject()
    {     
        debugger;
        var oExportFundAllocationHead= {
            Code:$("#txtCode").val(),
            Name : $("#txtName").val(),
            ExportFundAllocationHeadID : $('#MainDiv').data('ExportFundAllocationHead').ExportFundAllocationHeadID,
            Remarks : $("#txtRemarks").val(),
        };
        return oExportFundAllocationHead;
    }
    $('#btnSave').click(function(){
        debugger;;
        var oExportFundAllocationHead=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/ExportFundAllocation/Save",
            traditional: true,
            data:  JSON.stringify(oExportFundAllocationHead),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {            
                oExportFundAllocationHead = jQuery.parseJSON(data);
                if (oExportFundAllocationHead.ErrorMessage=="" || oExportFundAllocationHead.ErrorMessage==null)
                {
                    alert("Data Saved sucessfully");
                    var oExportFundAllocationHeads = sessionStorage.getItem("ExportFundAllocationHeads");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if (oExportFundAllocationHeads != null)
                    {
                        oExportFundAllocationHeads = jQuery.parseJSON(oExportFundAllocationHeads);
                    }
                    else {
                        oExportFundAllocationHeads = [];
                    }
                    if (nIndex != -1)
                    {
                        oExportFundAllocationHeads[nIndex] = oExportFundAllocationHead;
                    }
                    else {
                        sessionStorage.setItem("SelectedRowIndex", oExportFundAllocationHeads.length);
                        oExportFundAllocationHeads.push(oExportFundAllocationHead);
                    }
                    sessionStorage.setItem("ExportFundAllocationHeads", JSON.stringify(oExportFundAllocationHeads));
                    window.location.href = sessionStorage.getItem("BackLink");
                }
                else 
                {
                    alert(oExportFundAllocationHead.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });

    $('#btnClose').click(function(){
        window.location.href = sessionStorage.getItem("BackLink");
    });

 </script>