@{
    ViewBag.Title = "Batch Cost Detail";
}
@model IEnumerable<ESimSol.BusinessObjects.WUBatchCost>

<div ng-app="WUBatchCostAPP" class="form-horizontal regionWUBatchCost menuMainCollectionTable">
    <div ng-controller="WUBatchCostCtrl" style="height:100%;width:100%">
        @*Requisition INFO*@
        <div style="height:50%;width:100%">
        <fieldset style="height:90%">
            <legend>Batch Cost Report: </legend>
            <div class="row col-md-12" style="padding:40px 0 0 150px">
                <div class="col-md-2 text-right"><label class="control-label">Pro. Date :</label></div>
                <div class="col-md-2">
                    <select style="width:100%; font-weight:bold;" class="form-control" ng-model="WUBatchCost.cboDateType" ng-options="item.id as item.Value for item in CompareOperators" ng-disabled="cboDisabled">
                        @*<option value="">--Select Date Criteria--</option>*@
                    </select>
                </div>
                <div class="col-md-2 text-left">
                    <div class="input-group date date-container">
                        <input type="text" class="form-control" ng-disabled="disabled" id="dateStart" ng-model="WUBatchCost.StartDate">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>

                <div class="col-md-1 text-left"><label>TO</label></div>
                <div class="col-md-2 text-left">
                    <div class="input-group date date-container">
                        <input type="text" class="form-control" ng-disabled="WUBatchCost.cboDateType!=5" id="dateEnd" ng-model="WUBatchCost.EndDate">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
            </div>
            @*<div class="col-md-12">
                <div class="col-md-2 text-right">
                    <label class="control-label">Report Type :</label>
                </div>
                <div class="col-md-4">
                    <select style="font-weight:bold;" class="form-control" ng-model="WUBatchCost.ReportType" ng-options="item.id as item.Value for item in ReportTypes" ng-disabled="cboDisabled">
                        <option value="">--Select Report Type--</option>
                    </select>
                </div>
            </div>*@
        </fieldset>
       
        </div>
        <fieldset style="height:10%">
            <legend> Action: </legend>
            <label class="control-label" style="float: left;margin-left:400px;">Report Type :</label>
            <select style="width:15%; font-weight:bold; float:left; " class="form-control" ng-model="WUBatchCost.ReportType" ng-options="item.id as item.Value for item in ReportTypes" ng-disabled="cboDisabled">
                <option value="">--Select Report Type--</option>
            </select>
            <button type="button" style="float: right; margin-right:10px" class="btn btn-primary btn-sm" aria-label="right Align" ng-click="ExportToExcel_MonthWise()"><span class="glyphicon glyphicon-save-file" aria-hidden="true"> Print Summary</span></button>
            <button type="button" style="float: right; margin-right:10px" class="btn btn-primary btn-sm" aria-label="right Align" ng-click="ExportToExcel_Details()"><span class="glyphicon glyphicon-save-file" aria-hidden="true"> Print Details</span></button>
        
        </fieldset>
    </div>
</div>

<style type="text/css">

    .grid{
        width:70%; 
        height:290px;
    }
     /*.ui-grid-panel {
        background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%);
        height:35px;
    }*/
    .regionWUBatchCost .form-horizontal .control-label{
        padding-top:3px;
    }
    .regionWUBatchCost .form-control{
        height:26px;
        padding:0px 6px;
        font-size:12px;
    }
    .regionWUBatchCost .col-md-12{
        width:100%;
        padding-right:5px;
        padding-left:5px;
        margin-bottom:5px;
    }
    .regionWUBatchCost .col-md-1{
        width:2%;
        padding-right:2px;
        padding-left:2px;
        padding-top:3px;
    }
    .regionWUBatchCost .col-md-2{
        width:14%;
        padding-right:5px;
        padding-left:5px;
    }
    .regionWUBatchCost .col-md-3{
        width:24%;
        padding-right:5px;
        padding-left:5px;
    }

    .regionWUBatchCost .col-md-4{
        width:28%;
        padding-right:5px;
        padding-left:5px;
    }

    .regionWUBatchCost .col-md-5{
        width:40%;
        padding-right:5px;
        padding-left:0px;
    }
     .regionWUBatchCost .col-md-6{
        width:54.5%;
        padding-right:5px;
        padding-left:5px;
    }
     .regionWUBatchCost .col-md-10{
        width:88%;
        padding-right:5px;
        padding-left:5px;
    }
    .regionWUBatchCost .col-md-7{
        width:54.6%;
        padding-right:5px;
        padding-left:5px;
    }
    .regionWUBatchCost .col-md-8{
        width:69%;
        padding-right:0px;
        padding-left:0px;
    }
    .regionWUBatchCost .btn-sm{
         padding:3px 10px;
     }
     .regionWUBatchCost .input-group-addon{
         padding: 4px 8px;
     }
</style>

<script type="text/javascript">
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    var oWUBatchCosts =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var oCompareOperators =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
    
    var date=new Date();
    $('.date-container').datepicker({
        format: "dd M yyyy",
        calendarWeeks: true,
        autoclose: true,
        todayHighlight: true,
    });
   

    var WUBatchCostModule = angular.module('WUBatchCostAPP', ['ngAnimate', 'ui.bootstrap', 'ui.grid', 'ui.grid.selection', 'ui.grid.edit','ui.grid.resizeColumns','ui.grid.cellNav','ms.service']);
    WUBatchCostModule.controller('WUBatchCostCtrl', function ($scope, $http, $uibModal, $log, uiGridConstants, msModal,icsMethod, userSession,msGridControl) {
        debugger;
        sessionStorage.setItem('BaseAddress',_sBaseAddress)
        var viewType = sessionStorage.getItem("Operation");

        $scope.ReportTypes=[{id:1,Value:"Machine Wise"},{id:2,Value:"Buyer Wise"},{id:3,Value:"MKT Person Wise"}];
        $scope.WUBatchCost={};
        $scope.WUBatchCost.ReportType=0;
        $scope.WUBatchCost.cboDateType=1;
        $scope.viewType=viewType;
        $scope.CompareOperators=[oCompareOperators[1],oCompareOperators[5]];
        $scope.WUBatchCost.StartDate=icsdateformat(new Date());
        $scope.WUBatchCost.EndDate=icsdateformat(new Date());
      
        $scope.ExportToExcel_Details = function ()
        {
            debugger;
         
            if($scope.WUBatchCost.ReportType<=0)
            {
                alert("Please Select Report Type & Try Again !"); return;
            }

            var tsv=((new Date()).getTime())/1000;
            var sParams=$scope.WUBatchCost.cboDateType+'~'+$scope.WUBatchCost.StartDate+'~'+$scope.WUBatchCost.EndDate+'~'+$scope.WUBatchCost.ReportType;

            if(sParams==null)
            {
                alert("Nothing To Print!");
            }

            window.open(_sBaseAddress+ '/WUBatchCost/ExportToExcel_Details?sParams='+sParams+"&ts="+tsv);
        }
        $scope.ExportToExcel_MonthWise = function ()
        {
            debugger;
            if($scope.WUBatchCost.ReportType<=0)
            {
                alert("Please Select Report Type & Try Again !"); return;
            }

            var tsv=((new Date()).getTime())/1000;
            var sParams=$scope.WUBatchCost.cboDateType+'~'+$scope.WUBatchCost.StartDate+'~'+$scope.WUBatchCost.EndDate+'~'+$scope.WUBatchCost.ReportType;

            if(sParams==null)
            {
                alert("Nothing To Print!");
            }

            window.open(_sBaseAddress+ '/WUBatchCost/ExportToExcel_MonthWise?sParams='+sParams+"&ts="+tsv);
        }
        $scope.Close = function () {
            userSession.previousPage();
        };
    });
</script>


