<html>
<head>
    @{
        ViewBag.Title = "Yarn Requisition";
    }
</head>
<body>
    @model ESimSol.BusinessObjects.YarnRequisition
    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>

    <div class="menuMainCollectionTable">
        <div id="divYarnRequisition" class="easyui-panel" title="Yarn Requisition Info" style="font-family:Tahoma;text-align:center;height:90%;width:100%">
            <fieldset id="fsYarnRequisition" style="width:99.50%;height:15%;">
                <table style="width:100%; margin: 0 auto">
                    <tr>
                        <td class="align-right" style="width:10%">Reqs No:</td>
                        <td style="width:15%">
                            <input type="text" id="txtRequisitionNo" style="width:100%;" disabled="disabled" />
                        </td>
                        <td class="align-right" style="width:10%">Reqs Date:</td>
                        <td style="width:15%">
                            <input type="text" style="width:100%;" id="txtRequisitionDate" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                        <td class="align-right" style="width:10%">Session:</td>
                        <td style="width:15%">
                            <select id="cboBusinessSession" style="width:100%;height:22px;"></select>
                        </td>
                        <td class="align-right" style="width:10%">Merchandiser:</td>
                        <td style="width:15%">
                            <select id="cboMerchandiser" style="width:100%;height:22px;"></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="align-right" style="width:10%">Buyer Name:</td>
                        <td colspan="3" style="width:40%">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:80%">
                                        <input id="txtBuyerName" type="text" style="width:100%" />
                                    </td>
                                    <td style="width:10%">
                                        <input type="button" value="C" id="btnBuyerClear" style="width:100%" />
                                    </td>
                                    <td style="width:10%">
                                        <input type="button" value="Pick" id="btnBuyerPick" style="width:100%" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td class="align-right" style="width:10%">Remarks:</td>
                        <td colspan="3" style="width:40%">
                            <input id="txtRemarks" type="text" style="width:100%" />
                        </td>
                    </tr>
                </table>
            </fieldset>
            <div class="easyui-tabs" style="width:100%;height:85%;">
                <div title="Requisition Details" style="font-family:Tahoma;height:98%">
                    <table id="tblYarnRequisitionDetail" title="" class="easyui-datagrid" style="height:98%; width:100%;" fit="false" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar" showfooter="true"
                           data-options="onClickRow:onClickRow,
                                      rowStyler: function(index,row){
                                        if (row.StyleDefine % 2 == 0){
                                            return 'color:#0101DF;';
                                        }
                            }">
                        <thead>
                            <tr>
                                <th field="StyleNo" width="12%" align="left">Style No</th>
                                <th field="ColorName" width="8%" align="left">Color Name</th>
                                <th data-options="field:'PentonNo',align:'left',editor:{type:'textbox'}" width="8%">Penton No</th>
                                <th field="GARQty" width="8%" align="right" formatter="formatPricewithoutdecimal">GAR Qty</th>
                                <th field="FabricName" width="12%" align="left">Fabric</th>
                                <th data-options="field:'GSM',align:'left',editor:{type:'textbox'}" width="8%">GSM</th>
                                <th field="YarnCode" width="8%" align="left">Yarn Code</th>
                                <th field="YarnName" width="12%" align="left">Yarn Name</th>
                                <th data-options="field:'YarnCount',align:'left',editor:{type:'textbox'}" width="8%">Count</th>
                                <th data-options="field:'YarnPercent',align:'right',editor:{type:'numberbox',options:{precision:2}}" formatter="formatPrice" width="8%">Yarn Percent</th>
                                <th data-options="field:'ActualConsumption',align:'right',editor:{type:'numberbox',options:{precision:2}}" formatter="formatPrice" width="8%">Actual Consumption</th>
                                <th data-options="field:'CostingConsumption',align:'right',editor:{type:'numberbox',options:{precision:2}}" formatter="formatPrice" width="8%">Costing Consumption</th>
                                <th data-options="field:'RequisitionQty',align:'right',editor:{type:'numberbox',options:{precision:2}}" formatter="formatPrice" width="8%">Reqd Qty</th>
                                <th field="MUSymbol" width="8%" align="left">M.Unit</th>
                                <th data-options="field:'Remarks',align:'left',editor:{type:'textbox'}" width="20%">Remarks</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="toolbar">
                        <a id="btnAddDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                        <a id="btnCopyDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-copy" plain="true">Copy</a>
                        <a id="btnEditDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                        <a id="btnRemoveDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                        <a id="btnRefreshDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>
                    </div>
                </div>
                <div id="divRequisitionSummary" title="Requisition Summary" style="font-family:Tahoma;height:98%">
                    <table id="tblYarnRequisitionProduct" class="easyui-datagrid" style="height:98%; width:100%;" fit="false" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" showfooter="true">
                        <thead>
                            <tr>
                                <th field="YarnCode" width="12%" align="left">Yarn Code</th>
                                <th field="YarnName" width="40%" align="left">Yarn Name</th>
                                <th field="YarnCount" width="12%" align="left">Yarn Count</th>
                                <th field="MUSymbol" width="12%" align="left">MUnit</th>
                                <th field="RequisitionQty" width="15%" align="right" formatter="formatPrice">Reqd Qty</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <fieldset style="height:10%">
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                <tr>
                    <td style="width:60%; text-align:right"></td>
                    <td style="width:35%;text-align:right;">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                    <td style="width:4%; text-align:right"></td>
                </tr>
            </table>
        </fieldset>
    </div>

    <div id="winYRD" class="easyui-window" style="height:300px; width: 800px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div id="p" style="width:99%; padding:1px">
            <div style="width:100%; height:85%; padding-top:2px">
                <fieldset style="width:100%;">                    
                    <table border="0" cellpadding="2" cellspacing="2" style="width:100%">                        
                        <tr>
                            <td style="width:12%; font-weight:bold; text-align:right">Style:</td>
                            <td style="width:21%">
                                <input type="text" id="txtStyleNo" style="width:100%" placeholder="Search By Style No" />
                            </td>
                            <td style="width:12%; font-weight:bold">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                    <tr>
                                        <td style="width: 50%; text-align: left;">
                                            <input type="button" value="Pick" id="btnStylePick" style="width:100%" />
                                        </td>
                                        <td style="width: 50%; text-align: right;">
                                            G.Qty:
                                        </td>
                                    </tr>
                                </table>                            
                            </td>
                            <td style="width:21%">
                                <input type="text" id="txtGarmentsQty" style="width:100%;text-align:right"  disabled="disabled"/>
                            </td>                            
                            <td style="width:12%; font-weight:bold; text-align:right"> Buyer Name:</td>
                            <td style="width:21%; text-align:right">
                                <input type="text" id="txtYRDBuyerName" style="width:100%" disabled="disabled"/>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:12%; text-align:right; font-weight:bold">Color Name:</td>
                            <td style="width:21%">
                                <select style="width:100%; height:20px" id="cboColorName"> </select>                                
                            </td>
                            <td style="width:12%; font-weight:bold; text-align:right">Penton No:</td>
                            <td style="width:21%">
                                <input type="text" id="txtPentonNo" style="width:100%" />
                            </td>
                            <td style="width:12%; font-weight:bold; text-align:right"> GAR Qty:</td>
                            <td style="width:21%; text-align:right">
                                <input type="text" id="txtGARQty" style="width:100%; text-align:right"  />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:12%; text-align:right; font-weight:bold">Fabric Name:</td>
                            <td style="width:54%" colspan="3">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                    <tr>
                                        <td style="width:80%">
                                            <input type="text" id="txtFabricName" style="width:100%" placeholder="Search By Fabric Name" />
                                        </td>
                                        <td style="width:10%">
                                            <input type="button" id="btnFabricClear" value="C" style="width:100%" />
                                        </td>
                                        <td style="width:10%">
                                            <input type="button" id="btnFabricPick" value="Pick" style="width:100%" />
                                        </td>
                                    </tr>
                                </table>                                
                            </td>
                            <td style="width:12%; font-weight:bold; text-align:right"> GSM :</td>
                            <td style="width:21%; text-align:right">
                                <input type="text" id="txtGSM" style="width:100%;" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:12%; text-align:right; font-weight:bold">Yarn Name:</td>
                            <td style="width:54%" colspan="3">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                    <tr>
                                        <td style="width:80%">
                                            <input type="text" id="txtYarnName" style="width:100%" placeholder="Search By Yarn Name" />
                                        </td>
                                        <td style="width:10%">
                                            <input type="button" id="btnYarnClear" value="C" style="width:100%" />
                                        </td>
                                        <td style="width:10%">
                                            <input type="button" id="btnYarnPick" value="Pick" style="width:100%" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:12%; font-weight:bold; text-align:right"> Count :</td>
                            <td style="width:21%; text-align:right">
                                <input type="text" id="txtCount" style="width:100%;" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:12%; text-align:right; font-weight:bold">Yarn Percent:</td>
                            <td style="width:21%">
                                <input type="text" id="txtYarnPercent" style="width:100%" />
                            </td>
                            <td style="width:12%; font-weight:bold; text-align:right">Consm/Dzn:</td>
                            <td style="width:21%">
                                <input type="text" id="txtActualConsumption" style="width:100%;"/>
                            </td>
                            <td style="width:12%; font-weight:bold; text-align:right">Cost Consm:</td>
                            <td style="width:21%; text-align:right">
                                <input type="text" id="txtCostingConsumption" style="width:100%" disabled="disabled" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:12%; text-align:right; font-weight:bold">Reqd Qty:</td>
                            <td style="width:21%">
                                <input type="text" id="txtRequisitionQty" style="width:100%" />
                            </td>
                            <td style="width:12%; font-weight:bold; text-align:right">M.Unit:</td>
                            <td style="width:21%">
                                <select style="width:100%; height:20px" id="cboMUnit"></select>
                            </td>
                            <td style="width:12%; font-weight:bold; text-align:right">Remarks:</td>
                            <td style="width:21%; text-align:right">
                                <input type="text" id="txtYRDRemarks" style="width:100%" />
                            </td>
                        </tr>         
                    </table>
                </fieldset>
            </div>
            <div style="width:100%; height:15%">
                <fieldset style="width:100%; height:100%">
                    <legend> Action:</legend>
                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                        <tr style="height:100%">
                            <td style="width:70%; text-align:left; font-size:12px; font-weight:bold">                                
                            </td>
                            <td style="width:10%; text-align: right; font-size: 12px; font-weight: bold; vertical-align: bottom;">
                                <a id="btnYRDSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            </td>
                            <td style="width:10%; text-align:right; font-size:12px; font-weight:bold; vertical-align:bottom">
                                <a id="btnYRDClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>

        </div>
    </div>
</body>
</html>
<style type="text/css">
    td, th {
        padding: 2px;
    }
</style>
<script type="text/javascript">    
    $(document).ready(function () {        
        var sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oYarnRequisition =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oBusinessSessions = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessSessions));
        var oMerchandisers = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Merchandisers));
        var nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));

        $("#cboBusinessSession").icsLoadCombo({ List:oBusinessSessions, OptionValue: "BusinessSessionID", DisplayText: "SessionName", InitialValue :"--Session--" });
        $("#cboMerchandiser").icsLoadCombo({ List:oMerchandisers, OptionValue: "EmployeeID", DisplayText: "Name", InitialValue :"--Merchandiser--" });

        $("#txtBuyerName").data("BuyerID", 0);
        $("#divYarnRequisition").data("BUID", nBUID);
        $("#divYarnRequisition").data("BaseAddress", sBaseAddress);
        $("#divYarnRequisition").data("YarnRequisition", oYarnRequisition);
        $('#txtRequisitionDate').datebox('setValue', oYarnRequisition.RequisitionDateSt);
        RefreshControl(oYarnRequisition);

        if(sessionStorage.getItem('YarnRequisitionAction')=='View')
        {
            $('#fsYarnRequisition :input').attr('disabled', true);
            $('#tblYarnRequisitionDetail').data("GridEditable", false);
            $('#btnSave,#toolbar').hide();
        }

        $('#txtGARQty').icsCurrencyBox(null, null, 0);
        $('#txtYarnPercent,#txtActualConsumption,#txtCostingConsumption,#txtRequisitionQty').icsCurrencyBox(null, null, 2);
        
        $('#AppMainLayout').layout('collapse', 'west');        
        $('#AppMainLayout').layout('expand', 'west');
        $('#AppMainLayout').layout('collapse', 'west');
        $('#AppMainLayout').layout('expand', 'west');

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
    });

    function RefreshControl(oYarnRequisition)
    {
        $('#txtRequisitionNo').val(oYarnRequisition.RequisitionNo);
        $('#txtRequisitionDate').datebox('setValue', oYarnRequisition.RequisitionDateSt);
        $('#cboBusinessSession').val(parseInt(oYarnRequisition.BusinessSessionID));
        $('#cboMerchandiser').val(parseInt(oYarnRequisition.MerchandiserID));
        $('#txtBuyerName').val(oYarnRequisition.BuyerName);        
        $('#txtRemarks').val(oYarnRequisition.Remarks);
        var oYarnRequisitionDetails = SetStyleDefine(oYarnRequisition.YarnRequisitionDetails);
        DynamicRefreshList(oYarnRequisitionDetails, "tblYarnRequisitionDetail");
        DynamicRefreshList(oYarnRequisition.YarnRequisitionProducts, "tblYarnRequisitionProduct");
        if(parseInt(oYarnRequisition.YarnRequisitionID)>0)
        {
            $("#txtBuyerName").data("BuyerID", parseInt(oYarnRequisition.BuyerID));
            $("#txtBuyerName").addClass("fontColorOfPickItem");
        }
        $.icsMakeFooterColumn('tblYarnRequisitionDetail',['YarnName','RequisitionQty']);
        $.icsMakeFooterColumn('tblYarnRequisitionProduct',['YarnName','RequisitionQty']);
    }

    function ValidateInput()
    {
        if(parseInt($("#divYarnRequisition").data("BUID"))<=0)
        {
            alert('Invalid Business Unit!');
            return false;
        }
        if($("#txtRequisitionDate").datebox('getValue') == '' || $("#txtRequisitionDate").datebox('getValue') == null)
        {
            alert('Please Enter Requisition Date!!');
            $("#txtRequisitionDate").focus();
            return false;
        }
        if(parseInt($("#cboBusinessSession").val())<=0)
        {            
            alert("Please Select Business Session!!");
            $('#cboBusinessSession').focus();
            return false;
        }
        if(parseInt($("#cboMerchandiser").val())<=0)
        {            
            alert("Please Select Merchandiser!!");
            $('#cboMerchandiser').focus();
            return false;
        }
        if(parseInt($("#txtBuyerName").data("BuyerID")) <= 0)
        {
            alert("Please pick a Buyer!");
            return false;
        }

        var oYarnRequisitionDetails = $('#tblYarnRequisitionDetail').datagrid('getRows');
        if(oYarnRequisitionDetails.length<=0)
        {
            alert("Atleast one YarnRequisition Detail required!!");
            return false;
        }
        
        for(var i=0; i<oYarnRequisitionDetails.length; i++)
        {
            if(parseFloat(oYarnRequisitionDetails[i].RequisitionQty) <=0)
            {
                alert("Requisition qty must be grater than zero for\nStyle No: "+ oYarnRequisitionDetails[i].StyleNo + "\nColor Name: " + oYarnRequisitionDetails[i].ColorName + "\nFabric Name: "+ oYarnRequisitionDetails[i].FabricName + "\nYarn Name: "+ oYarnRequisitionDetails[i].YarnName);
                return false;
            }

            var nUsagesYarnPercent = GetUsagesYarnPercent(oYarnRequisitionDetails, parseInt(oYarnRequisitionDetails[i].TechnicalSheetID), parseInt(oYarnRequisitionDetails[i].ColorID), parseInt(oYarnRequisitionDetails[i].FabricID));
            if(nUsagesYarnPercent != 100)
            {                
                alert("Confirm 100% Yarn Percent for\nStyle No: "+ oYarnRequisitionDetails[i].StyleNo +"\nColor Name: "+oYarnRequisitionDetails[i].ColorName+"\nFabric Name: "+ oYarnRequisitionDetails[i].FabricName);
                return false;
            }
        }

        var oYarnRequisitionProducts = $('#tblYarnRequisitionProduct').datagrid('getRows')
        if(oYarnRequisitionProducts.length<=0)
        {
            alert("Atleast one YarnRequisition Product required!!");
            return false;
        }
        return true;
    }

    function GetUsagesYarnPercent(oYarnRequisitionDetails, nTechnicalSheetID, nColorID, nFabricID)
    {
        var nUsagesYarnPercent = 0;
        for(var i=0; i<oYarnRequisitionDetails.length; i++)
        {
            if(parseInt(oYarnRequisitionDetails[i].TechnicalSheetID) == parseInt(nTechnicalSheetID) && parseInt(oYarnRequisitionDetails[i].ColorID) == parseInt(nColorID) &&  parseInt(oYarnRequisitionDetails[i].FabricID) == parseInt(nFabricID))
            {
                nUsagesYarnPercent = nUsagesYarnPercent + parseInt(oYarnRequisitionDetails[i].YarnPercent);
            }
        }
        return nUsagesYarnPercent;
    }

    function RefreshObject()
    {
        var oTempYarnRequisition = $("#divYarnRequisition").data("YarnRequisition");
        var oYarnRequisition = {
            YarnRequisitionID : parseInt(oTempYarnRequisition.YarnRequisitionID),
            BUID : parseInt($("#divYarnRequisition").data("BUID")),
            RequisitionNo : $('#txtRequisitionNo').val(),
            RequisitionDate : $("#txtRequisitionDate").datebox('getValue'),
            MerchandiserID : parseInt($("#cboMerchandiser").val()),
            BusinessSessionID : parseInt($("#cboBusinessSession").val()),
            BuyerID : parseInt($("#txtBuyerName").data("BuyerID")),
            ApprovedBy : parseInt(oTempYarnRequisition.ApprovedBy),
            Remarks : $('#txtRemarks').val(),
            YarnRequisitionDetails : $('#tblYarnRequisitionDetail').datagrid('getRows'),
            YarnRequisitionProducts : $('#tblYarnRequisitionProduct').datagrid('getRows')
        };

        return oYarnRequisition;
    }

    $("#btnSave").click(function (){        
        endEditing();        
        if(!ValidateInput()) return false;
        var oYarnRequisition = RefreshObject();        
        
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        
        $.ajax({
            type: "POST",
            dataType: "json",
            url : $("#divYarnRequisition").data("BaseAddress")+"/YarnRequisition/Save",
            traditional: true,
            data:  JSON.stringify(oYarnRequisition),
            contentType: "application/json; charset=utf-8",
            success: function (data) {                                
                oYarnRequisition = jQuery.parseJSON(data);
                clearInterval(intervalID);
                $("#progressbarParent").hide();

                if (oYarnRequisition.ErrorMessage==null || oYarnRequisition.ErrorMessage=="") {
                    alert("Data Saved successfully");
                    var oYarnRequisitions = sessionStorage.getItem("YarnRequisitions");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if (oYarnRequisitions != null) {
                        oYarnRequisitions = jQuery.parseJSON(oYarnRequisitions);
                    }
                    else
                    {
                        oYarnRequisitions = [];
                    }
                    if (nIndex != -1)
                    {
                        oYarnRequisitions[nIndex] = oYarnRequisition;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oYarnRequisitions.length);
                        oYarnRequisitions.push(oYarnRequisition);
                    }
                    sessionStorage.setItem("YarnRequisitions", JSON.stringify(oYarnRequisitions));
                    window.location.href = sessionStorage.getItem("BackLink");
                }
                else 
                {
                    alert(oYarnRequisition.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $("#btnClose").click(function (){        
        window.location.href = sessionStorage.getItem("BackLink");
    });

    $('#cboBusinessSession').change(function(e){    
        DynamicRefreshList([], "tblYarnRequisitionDetail");
        DynamicRefreshList([], "tblYarnRequisitionProduct");
        $.icsMakeFooterColumn('tblYarnRequisitionDetail',['YarnName','RequisitionQty']);
        $.icsMakeFooterColumn('tblYarnRequisitionProduct',['YarnName','RequisitionQty']);
    });

    $('#txtGARQty').change(function(e){    
        
        CalculateRequisitionQty();
    });

    $('#btnAddDetail').click(function(e){  
        if(parseInt($("#cboBusinessSession").val()) <= 0)
        {
            alert("Without Business Session Can't Add Requisition Details!");
            return;
        }
        if(parseInt($("#txtBuyerName").data("BuyerID")) <= 0)
        {
            alert("Without Buyer Can't Add Requisition Details!");
            return;
        }

        var oYarnRequisitionDetail = {
            YarnRequisitionDetailID : 0,
            YarnRequisitionID : 0,
            TechnicalSheetID : 0,
            ColorID : 0,
            PentonNo : "",
            GARQty : 0,
            FabricID : 0,
            GSM : "",
            YarnID : 0,
            YarnCount : "",
            YarnPercent : 0,
            ActualConsumption : 0,
            CostingConsumption : 0,
            RequisitionQty : 0,
            MUnitID : 0,
            Remarks : "",
            FabricName : "",
            FabricCode : "",
            YarnName : "",
            YarnCode : "",
            MUSymbol : "",
            OrderRecapNo : "",
            StyleNo : "",
            BuyerName : "",
            ColorName : "",
            StyleDefine : 0
        };
        RefreshControlDetail(oYarnRequisitionDetail);
        $('#tblYarnRequisitionDetail').data('SelectedIndex', -1);
        $("#winYRD").icsWindow('open', "Add Yarn Requisition Detail");
    });

    $('#btnEditDetail').click(function(e){  
        var oYarnRequisitionDetail = $('#tblYarnRequisitionDetail').datagrid('getSelected');
        if(oYarnRequisitionDetail==null || parseInt(oYarnRequisitionDetail.TechnicalSheetID) <=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblYarnRequisitionDetail').datagrid('getRowIndex', oYarnRequisitionDetail);
        RefreshControlDetail(oYarnRequisitionDetail);
        $('#tblYarnRequisitionDetail').data('SelectedIndex', SelectedRowIndex);
        $("#winYRD").icsWindow('open', "Edit Yarn Requisition Detail");
    });

    $('#btnCopyDetail').click(function(e){  
        var oYarnRequisitionDetail = $('#tblYarnRequisitionDetail').datagrid('getSelected');
        if(oYarnRequisitionDetail==null || parseInt(oYarnRequisitionDetail.TechnicalSheetID) <=0)
        {
            alert("Please select a item from list!");
            return;
        }
        oYarnRequisitionDetail.YarnRequisitionDetailID = 0;
        oYarnRequisitionDetail.YarnRequisitionID = 0;
        RefreshControlDetail(oYarnRequisitionDetail);
        $('#tblYarnRequisitionDetail').data('SelectedIndex', -1);
        $("#winYRD").icsWindow('open', "Add Yarn Requisition Detail");
    });

    $('#btnRemoveDetail').click(function(e){  
        endEditing();
        var oYarnRequisitionDetail = $('#tblYarnRequisitionDetail').datagrid('getSelected');
        if(oYarnRequisitionDetail==null || parseInt(oYarnRequisitionDetail.TechnicalSheetID) <=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblYarnRequisitionDetail').datagrid('getRowIndex', oYarnRequisitionDetail);
        $('#tblYarnRequisitionDetail').datagrid('deleteRow',SelectedRowIndex);
        RemakeYarnRequisitionProducts();
        $.icsMakeFooterColumn('tblYarnRequisitionDetail',['YarnName','RequisitionQty']);
        $.icsMakeFooterColumn('tblYarnRequisitionProduct',['YarnName','RequisitionQty']);
    });

    $('#btnRefreshDetail').click(function(e){  
        endEditing();
        var oYarnRequisitionDetails = $('#tblYarnRequisitionDetail').datagrid('getRows');
        DynamicRefreshList(oYarnRequisitionDetails, "tblYarnRequisitionDetail");
        RemakeYarnRequisitionProducts();
        $.icsMakeFooterColumn('tblYarnRequisitionDetail',['YarnName','RequisitionQty']);
        $.icsMakeFooterColumn('tblYarnRequisitionProduct',['YarnName','RequisitionQty']);
    });

    $("#btnYRDSave").click(function(){   
        if(!ValidateDetailInput()) { return; }
        var oYarnRequisitionDetail = RefreshObjectDetail();
        var nSelectedIndex = parseInt($('#tblYarnRequisitionDetail').data('SelectedIndex'));
        if( nSelectedIndex == -1)
        {
            $('#tblYarnRequisitionDetail').datagrid('appendRow', oYarnRequisitionDetail);
            var oYarnRequisitionDetails = $('#tblYarnRequisitionDetail').datagrid('getRows');
            oYarnRequisitionDetails.sort(function(a, b) {
                return a["TechnicalSheetID"] - b["TechnicalSheetID"] || a["ColorID"] - b["ColorID"] || a["FabricID"] - b["FabricID"];
            });
            var oYarnRequisitionDetails = SetStyleDefine(oYarnRequisitionDetails);
            DynamicRefreshList(oYarnRequisitionDetails, "tblYarnRequisitionDetail");
            var nRowIndex = GetInsertedRowIndex(oYarnRequisitionDetails, oYarnRequisitionDetail);
            $('#tblYarnRequisitionDetail').datagrid('selectRow', nRowIndex);
        }
        else
        {
            $('#tblYarnRequisitionDetail').datagrid('updateRow', { index : nSelectedIndex, row : oYarnRequisitionDetail});
        }

        RemakeYarnRequisitionProducts();
        $.icsMakeFooterColumn('tblYarnRequisitionDetail',['YarnName','RequisitionQty']);
        $.icsMakeFooterColumn('tblYarnRequisitionProduct',['YarnName','RequisitionQty']);
        $("#winYRD").icsWindow('close');
    });
        
    $("#btnYRDClose").click(function(){        
        $("#winYRD").icsWindow('close');
    });
    
    $("#txtYarnPercent,#txtActualConsumption").keyup(function(){
        CalculateRequisitionQty();
    });

    function SetStyleDefine(oYarnRequisitionDetails)
    {        
        var nCount = 0; var nTechnicalSheetID=0;
        var nColorID =0; var nFabricID=0;
        for(var i=0; i< oYarnRequisitionDetails.length; i++)
        {
            if(parseInt(oYarnRequisitionDetails[i].TechnicalSheetID) != parseInt(nTechnicalSheetID) || parseInt(oYarnRequisitionDetails[i].ColorID) != parseInt(nColorID) || parseInt(oYarnRequisitionDetails[i].FabricID) != parseInt(nFabricID))
            {
                nCount = nCount + 1;
            }
            oYarnRequisitionDetails[i].StyleDefine = nCount;
            nTechnicalSheetID = parseInt(oYarnRequisitionDetails[i].TechnicalSheetID);
            nColorID = parseInt(oYarnRequisitionDetails[i].ColorID); 
            nFabricID = parseInt(oYarnRequisitionDetails[i].FabricID);
        }
        return oYarnRequisitionDetails;
    }

    function GetInsertedRowIndex(oYarnRequisitionDetails, oYarnRequisitionDetail)
    {        
        var nInsertedRowIndex = -1;
        for(var nIndex=0; nIndex< oYarnRequisitionDetails.length; nIndex++)
        {
            if(parseInt(oYarnRequisitionDetails[nIndex].TechnicalSheetID) == parseInt(oYarnRequisitionDetail.TechnicalSheetID) && parseInt(oYarnRequisitionDetails[nIndex].ColorID) == parseInt(oYarnRequisitionDetail.ColorID) && parseInt(oYarnRequisitionDetails[nIndex].FabricID) == parseInt(oYarnRequisitionDetail.FabricID) && parseInt(oYarnRequisitionDetails[nIndex].YarnID) == parseInt(oYarnRequisitionDetail.YarnID))
            {
                return nIndex;
            }           
        }
        return nInsertedRowIndex;
    }

    function ValidateDetailInput()
    {
        var oTechnicalSheet = $("#txtStyleNo").data("TechnicalSheet");
        if(oTechnicalSheet==null || parseInt(oTechnicalSheet.TechnicalSheetID)<=0)
        {
            alert("Please pick a Order Recap!");
            $("#txtStyleNo").focus();
            return false;
        }
        if($('#cboColorName').val() == null || parseInt($('#cboColorName').val())<=0)
        {
            alert("Please select a Recap Color!");
            $("#cboColorName").focus();
            return false;
        }
        if(parseFloat(icsRemoveComma($("#txtGARQty").val(), 0))<=0)
        {
            alert("Please enter GAR Qty!");
            $("#txtGARQty").focus();
            return false;
        }
        if(parseInt($("#txtFabricName").data("FabricID"))<=0)
        {
            alert("Please pick a Fabric!");
            $("#txtFabricName").focus();
            return false;
        }
        if($("#txtGSM").val()==null || $("#txtGSM").val()=="")
        {
            alert("Please enter Fabric GSM!");
            $("#txtGSM").focus();
            return false;
        }
        if(parseInt($("#txtYarnName").data("YarnID"))<=0)
        {
            alert("Please pick a Yarn!");
            $("#txtYarnName").focus();
            return false;
        }
        if($("#txtCount").val()==null || $("#txtCount").val()=="")
        {
            alert("Please enter Yarn Count!");
            $("#txtCount").focus();
            return false;
        }
        if(parseFloat(icsRemoveComma($("#txtYarnPercent").val(), 0))<=0)
        {
            alert("Please enter Yarn Percent!");
            $("#txtYarnPercent").focus();
            return false;
        }
        if(parseFloat(icsRemoveComma($("#txtYarnPercent").val(), 0))>100)
        {
            alert("Yarn Percent must be smaller than 100%!");
            $("#txtYarnPercent").focus();
            return false;
        }
        if(parseFloat(icsRemoveComma($("#txtActualConsumption").val(), 0))<=0)
        {
            alert("Please enter Actual Consumption!");
            $("#txtActualConsumption").focus();
            return false;
        }
        if(parseFloat(icsRemoveComma($("#txtRequisitionQty").val(), 0))<=0)
        {
            alert("Please enter Requisition Qty!");
            $("#txtRequisitionQty").focus();
            return false;
        }
        if($('#cboMUnit').val() == null || parseInt($('#cboMUnit').val())<=0)
        {
            alert("Please select M. Unit!");
            $("#cboMUnit").focus();
            return false;
        }
        var nSelectedIndex = parseInt($('#tblYarnRequisitionDetail').data('SelectedIndex'));
        var oYarnRequisitionDetails = $('#tblYarnRequisitionDetail').datagrid('getRows');            
        if(oYarnRequisitionDetails.length>0)
        {
            for(var i=0; i<oYarnRequisitionDetails.length; i++)
            {
                if(parseInt(oYarnRequisitionDetails[i].TechnicalSheetID) == parseInt(oTechnicalSheet.TechnicalSheetID) && parseInt(oYarnRequisitionDetails[i].ColorID) == parseInt($('#cboColorName').val()) &&  parseInt(oYarnRequisitionDetails[i].FabricID) == parseInt($("#txtFabricName").data("FabricID")) &&  parseInt(oYarnRequisitionDetails[i].YarnID) == parseInt($("#txtYarnName").data("YarnID")) && nSelectedIndex!=i)
                {
                    var oColorRatio = GetColorWiseQty(parseInt($('#cboColorName').val()));
                    alert("Your Selected Yarn Already Exists for \nStyle No: "+ oTechnicalSheet.StyleNo +"\nColor Name: "+oColorRatio.ColorName+"\nFabric Name: "+ $('#txtFabricName').val());
                    return false;
                }
            }
        }
        
        return true;
    }

    function RefreshObjectDetail()
    {
        var oTechnicalSheet = $("#txtStyleNo").data("TechnicalSheet");
        var oTempYRD = $('#winYRD').data('YarnRequisitionDetail');
        var oMUnit = GetMUnit(parseInt($('#cboMUnit').val()));
        var oColorRatio = GetColorWiseQty(parseInt($('#cboColorName').val()));

        var oYarnRequisitionDetail = {
            YarnRequisitionDetailID : parseInt(oTempYRD.YarnRequisitionDetailID),
            YarnRequisitionID : parseInt(oTempYRD.YarnRequisitionID),
            TechnicalSheetID : parseInt(oTechnicalSheet.TechnicalSheetID),
            ColorID : parseInt($('#cboColorName').val()),
            PentonNo : $('#txtPentonNo').val(),
            GARQty : parseFloat(icsRemoveComma($("#txtGARQty").val(), 0)),
            FabricID : parseInt($("#txtFabricName").data("FabricID")),
            GSM : $('#txtGSM').val(),
            YarnID : parseInt($("#txtYarnName").data("YarnID")),
            YarnCount : $('#txtCount').val(),
            YarnPercent : parseFloat(icsRemoveComma($("#txtYarnPercent").val(), 2)),
            ActualConsumption : parseFloat(icsRemoveComma($("#txtActualConsumption").val(), 2)),
            CostingConsumption : parseFloat(icsRemoveComma($("#txtCostingConsumption").val(), 2)),
            RequisitionQty : parseFloat(icsRemoveComma($("#txtRequisitionQty").val(), 2)),
            MUnitID : parseInt($('#cboMUnit').val()),
            Remarks : $('#txtYRDRemarks').val(),
            FabricName : $('#txtFabricName').val(),
            FabricCode : "",
            YarnName : $('#txtYarnName').val(),
            YarnCode : "",
            MUSymbol : oMUnit.Symbol,
            StyleNo : oTechnicalSheet.StyleNo,
            BuyerName : oTechnicalSheet.BuyerName,
            ColorName : oColorRatio.ColorName
        };
        return oYarnRequisitionDetail;
    }

    function RefreshControlDetail(oYarnRequisitionDetail)
    {        
        $('#winYRD').data('YarnRequisitionDetail', oYarnRequisitionDetail);
        $('#txtStyleNo').val(oYarnRequisitionDetail.StyleNo);
        $("#txtStyleNo").addClass("fontColorOfPickItem");  
        $('#txtYRDBuyerName').val(oYarnRequisitionDetail.BuyerName);
        $('#cboColorName').val(parseInt(oYarnRequisitionDetail.ColorID));
        $('#txtPentonNo').val(oYarnRequisitionDetail.PentonNo);
        $('#txtGarmentsQty').val(icsFormatPrice(oYarnRequisitionDetail.ApproxQty, 0));
        $('#txtGARQty').val(icsFormatPrice(oYarnRequisitionDetail.GARQty, 0));
        $('#txtFabricName').val(oYarnRequisitionDetail.FabricName);
        $('#txtGSM').val(oYarnRequisitionDetail.GSM);
        $('#txtYarnName').val(oYarnRequisitionDetail.YarnName);
        $('#txtCount').val(oYarnRequisitionDetail.YarnCount);
        $('#txtYarnPercent').val(icsFormatPrice(oYarnRequisitionDetail.YarnPercent, 2));
        $('#txtActualConsumption').val(icsFormatPrice(oYarnRequisitionDetail.ActualConsumption, 2));
        $('#txtCostingConsumption').val(icsFormatPrice(oYarnRequisitionDetail.CostingConsumption, 2));
        $('#txtRequisitionQty').val(icsFormatPrice(oYarnRequisitionDetail.RequisitionQty, 2));
        $('#cboMUnit').val(parseInt(oYarnRequisitionDetail.MUnitID));
        $('#txtYRDRemarks').val(oYarnRequisitionDetail.Remarks);

        if(parseInt(oYarnRequisitionDetail.TechnicalSheetID)>0)
        {
            var oTechnicalSheet = {     
                TechnicalSheetID : parseInt(oYarnRequisitionDetail.TechnicalSheetID), 
                StyleNo : oYarnRequisitionDetail.StyleNo, 
                BuyerName : oYarnRequisitionDetail.BuyerName
            };

            $("#txtStyleNo").data("TechnicalSheet", oTechnicalSheet);
            $("#txtTechnicalSheetNo").addClass("fontColorOfPickItem");     
            RefreshColor(parseInt(oTechnicalSheet.TechnicalSheetID), parseInt(oYarnRequisitionDetail.ColorID));

            $("#txtFabricName").data("FabricID", parseInt(oYarnRequisitionDetail.FabricID));
            $("#txtFabricName").addClass("fontColorOfPickItem");
            
            $("#txtYarnName").data("YarnID", parseInt(oYarnRequisitionDetail.YarnID));
            $("#txtYarnName").addClass("fontColorOfPickItem");
            RefreshMUnit(parseInt(oYarnRequisitionDetail.YarnID), parseInt(oYarnRequisitionDetail.MUnitID));
        }
        else
        {
            $("#txtStyleNo").data("TechnicalSheet", null);
            $("#txtTechnicalSheetNo").removeClass("fontColorOfPickItem"); 
            
            $("#txtFabricName").data("FabricID", 0);
            $("#txtFabricName").removeClass("fontColorOfPickItem");
            $('#cboColorName').empty();

            $("#txtYarnName").data("YarnID", 0);
            $("#txtYarnName").removeClass("fontColorOfPickItem");
            $('#cboMUnit').empty();
        }
    } 

    function CalculateRequisitionQty()
    {
        var nGARQty = parseFloat(icsRemoveComma($("#txtGARQty").val(), 0));
        var nYarnPercent = parseFloat(icsRemoveComma($("#txtYarnPercent").val(), 2));
        var nActualConsumption = parseFloat(icsRemoveComma($("#txtActualConsumption").val(), 2));
        var nRequisitionQty = ((nGARQty/12) * (nYarnPercent/100) * nActualConsumption);
        $('#txtRequisitionQty').val(icsFormatPrice(nRequisitionQty, 2));
    }

    function RemakeYarnRequisitionProducts()
    {
        var oYarnRequisitionProducts = [];
        var oYarnRequisitionDetails = $('#tblYarnRequisitionDetail').datagrid('getRows');
        if(oYarnRequisitionDetails.length>0)
        {
            for(var i=0; i<oYarnRequisitionDetails.length; i++)
            {
                var nIndex = GetRemakeYarnIndex(oYarnRequisitionProducts, parseInt(oYarnRequisitionDetails[i].YarnID), oYarnRequisitionDetails[i].YarnCount);
                if(nIndex== -1)
                {
                    var oExistingYRP = GetExistingYarn(parseInt(oYarnRequisitionDetails[i].YarnID), oYarnRequisitionDetails[i].YarnCount);
                    var oYarnRequisitionProduct = {
                        YarnRequisitionProductID : parseInt(oExistingYRP.YarnRequisitionProductID),
                        YarnRequisitionID : parseInt(oExistingYRP.YarnRequisitionID),
                        YarnID : parseInt(oYarnRequisitionDetails[i].YarnID),
                        YarnCount : oYarnRequisitionDetails[i].YarnCount,
                        RequisitionQty : parseFloat(oYarnRequisitionDetails[i].RequisitionQty),
                        MUnitID : parseInt(oYarnRequisitionDetails[i].MUnitID),
                        YarnCode : oYarnRequisitionDetails[i].YarnCode,
                        YarnName : oYarnRequisitionDetails[i].YarnName,
                        MUSymbol : oYarnRequisitionDetails[i].MUSymbol
                    }
                    oYarnRequisitionProducts.push(oYarnRequisitionProduct);
                }
                else
                {
                    oYarnRequisitionProducts[nIndex].RequisitionQty = (parseFloat(oYarnRequisitionProducts[nIndex].RequisitionQty) +  parseFloat(oYarnRequisitionDetails[i].RequisitionQty));
                }
            }
        }
        DynamicRefreshList(oYarnRequisitionProducts, "tblYarnRequisitionProduct");
        $.icsMakeFooterColumn('tblYarnRequisitionProduct',['YarnName','RequisitionQty']);
    }

    function GetRemakeYarnIndex(oYarnRequisitionProducts, nYarnID, sYarnCount)
    {        
        var nIndex = -1;
        for(var i=0; i<oYarnRequisitionProducts.length; i++)
        {
            if(parseInt(oYarnRequisitionProducts[i].YarnID) == parseInt(nYarnID) && oYarnRequisitionProducts[i].YarnCount == sYarnCount)
            {
                return i;
            }
        }
        return nIndex;
    }

    function GetExistingYarn(nYarnID, sYarnCount)
    {
        var oYarnRequisitionProduct = { YarnRequisitionProductID : 0, YarnRequisitionID : 0 };
        var oYarnRequisitionProducts = $('#tblYarnRequisitionProduct').datagrid('getRows');
        for(var i=0; i<oYarnRequisitionProducts.length; i++)
        {
            if(parseInt(oYarnRequisitionProducts[i].YarnID) == parseInt(nYarnID) && oYarnRequisitionProducts[i].YarnCount == sYarnCount)
            {
                return oYarnRequisitionProducts[i];
            }
        }
        return oYarnRequisitionProduct;
    }

    var editIndex = undefined;
    function endEditing() {        
        if (editIndex == undefined) { return true }
        if ($('#tblYarnRequisitionDetail').datagrid('validateRow', editIndex)) {
            $('#tblYarnRequisitionDetail').datagrid('endEdit', editIndex);
                        
            $('#tblYarnRequisitionDetail').datagrid('selectRow', editIndex);
            var oYarnRequisitionDetail = $('#tblYarnRequisitionDetail').datagrid('getSelected');
            oYarnRequisitionDetail.RequisitionQty = ((parseFloat(oYarnRequisitionDetail.GARQty)/12) * (parseFloat(oYarnRequisitionDetail.YarnPercent)/100) * parseFloat(oYarnRequisitionDetail.ActualConsumption));
            $('#tblYarnRequisitionDetail').datagrid('updateRow',{index:editIndex, row : oYarnRequisitionDetail});
            $.icsMakeFooterColumn('tblYarnRequisitionDetail',['YarnName','RequisitionQty']);
            RemakeYarnRequisitionProducts();
            $.icsMakeFooterColumn('tblYarnRequisitionProduct',['YarnName','RequisitionQty']);
            editIndex = undefined;
            return true;
        }
        else {
            return false;
        }
    }

    function onClickRow(index) {
        debugger;
        if (editIndex != index) {
            if (endEditing()) {
                $('#tblYarnRequisitionDetail').datagrid('selectRow', index).datagrid('beginEdit', index);
                editIndex = index;
            }
            else {
                $('#tblYarnRequisitionDetail').datagrid('selectRow', editIndex);
            }
        }
    }

    $('#txtStyleNo').keydown(function(e){
        if (e.which == 13) //Enter
        {
            var sStyleAndTechnicalSheetNo = $("#txtStyleNo").val();
            if (sStyleAndTechnicalSheetNo != null) {
                PickTechnicalSheet(sStyleAndTechnicalSheetNo);
            }
        }
        if (e.which == 8) //Backspace
        {            
            $("#txtStyleNo").removeClass("fontColorOfPickItem");
            $("#txtStyleNo").data("TechnicalSheet", null);
            $("#cboColorName").data('ColorSizeRatios', []);
            $("#txtStyleNo,#txtPentonNo,#txtYRDBuyerName").val("");
            $("#cboColorName").empty();
            $("#txtGARQty").val(0);
            CalculateRequisitionQty();
        }
    });    
    $('#btnStylePick').click(function(){   
        var txtStyleNo = $("#txtStyleNo").val();
        PickTechnicalSheet(txtStyleNo);
    });
    function PickTechnicalSheet(sStyleNo)
    {          
        if(sStyleNo == '' || sStyleNo == null || sStyleNo == 'undefined')
        {
            alert("Please enter with Style  No and press enter!!");
            return;
        }
        var oTechnicalSheet = {
            BUID : parseInt($("#divYarnRequisition").data("BUID")),
            BusinessSessionID : parseInt($("#cboBusinessSession").val()),
            BuyerID : parseInt($("#txtBuyerName").data("BuyerID")),
            StyleNo : sStyleNo
        };
        
        var obj = {
            BaseAddress : $("#divYarnRequisition").data("BaseAddress"),
            Object : (oTechnicalSheet),
            ControllerName : "TechnicalSheet",
            ActionName : "StyleSearch",
            IsWinClose : false
        };
        
        var tblColums = []; 
        var oColumn = null; 
        oColumn = { field: "StyleNo", title: "Style No", width: 100, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "BuyerName", title: "Buyer Name", width: 150, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "SessionName", title: "Session", width: 100, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ApproxQtyInSt", title: "GAR Qty", width: 100, align: "right" }; tblColums.push(oColumn);
        DynamicPiker('TechnicalSheet', obj, tblColums, false, 'StyleNo', 'TechnicalSheetID', 620);
    }

    $('#txtBuyerName').keydown(function(e){
        if (e.which == 13) //Enter
        {
            var sBuyerName = $("#txtBuyerName").val();
            if(sBuyerName == '' || sBuyerName == null || sBuyerName == 'undefined')
            {
                alert("Please enter Buyer name and press enter!!");
                return;
            }
            if (sBuyerName != null) {
                PickBuyer(sBuyerName);
            }
        }
        if (e.which == 8) //Backspace
        {
            $("#txtBuyerName").removeClass("fontColorOfPickItem");
            $("#txtBuyerName").data("BuyerID", 0);
        }
    });
    $('#btnBuyerClear').click(function(){
        $("#txtBuyerName").removeClass("fontColorOfPickItem");
        $("#txtBuyerName").data("BuyerID", 0);
        $("#txtBuyerName").val("");
    });
    $('#btnBuyerPick').click(function(){
        var sBuyerName = "";
        PickBuyer(sBuyerName);
    });
    function PickBuyer(sBuyerName)
    {   
        var oContractor = {
            Params : '2~'+ sBuyerName + '~'+$("#divYarnRequisition").data("BUID") //Here 2 Means Contractor Type Buyer
        };
        
        var obj = {
            BaseAddress : $("#divYarnRequisition").data("BaseAddress"),
            Object : (oContractor),
            ControllerName : "Contractor",
            ActionName : "ContractorSearchByNameType",
            IsWinClose : false
        };
        
        var tblColums = []; 
        var oColumn = null; 
        oColumn = { field: "ContractorID", title: "Code", width: 150, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Name", title: "Buyer Name", width: 250, align: "left" }; tblColums.push(oColumn);

        DynamicPiker('Buyer', obj, tblColums, false, 'Name', 'ContractorID', 500);
    }

    $('#txtFabricName').keydown(function(e){
        if (e.which == 13) //Enter
        {
            var sFabricName = $("#txtFabricName").val();            
            if (sFabricName != null) {
                PickFabric(sFabricName);
            }
        }
        if (e.which == 8) //Backspace
        {
            $("#txtFabricName").removeClass("fontColorOfPickItem");
            $("#txtFabricName").data("FabricID", 0);
        }
    });
    $('#btnFabricClear').click(function(){
        $("#txtFabricName").removeClass("fontColorOfPickItem");
        $("#txtFabricName").data("FabricID", 0);
        $("#txtFabricName").val("");
    });
    $('#btnFabricPick').click(function(){
        var sFabricName = $("#txtFabricName").val();            
        if (sFabricName != null) {
            PickFabric(sFabricName);
        }
    });
    function PickFabric(sFabricName)
    {  
        if(sFabricName == '' || sFabricName == null || sFabricName == 'undefined')
        {
            alert("Please enter with Fabric name and press enter!!");
            return;
        }

        var oProduct = {
            BUID : parseInt($("#divYarnRequisition").data("BUID")),
            ModuleNameInInt : 185, //YarnRequisition = 185
            ProductUsagesInInt : 11, //Fabric = 11
            ProductName : sFabricName
        };
        
        var obj = {
            BaseAddress : $("#divYarnRequisition").data("BaseAddress"),
            Object : (oProduct),
            ControllerName : "Product",
            ActionName : "GetProductsByBUModuleWithProductUse",
            IsWinClose : false
        };
        
        var tblColums = []; 
        var oColumn = null; 
        oColumn = { field: "ProductCode", title: "Code", width: 150, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ProductName", title: "Product Name", width: 250, align: "left" }; tblColums.push(oColumn);

        DynamicPiker('Fabric', obj, tblColums, false, 'ProductName', 'ProductID', 500);
    }

    $('#txtYarnName').keydown(function(e){
        if (e.which == 13) //Enter
        {
            var sYarnName = $("#txtYarnName").val();            
            if (sYarnName != null) {
                PickYarn(sYarnName);
            }
        }
        if (e.which == 8) //Backspace
        {
            $("#txtYarnName").removeClass("fontColorOfPickItem");
            $("#txtYarnName").data("YarnID", 0);
        }
    });
    $('#btnYarnClear').click(function(){
        $("#txtYarnName").removeClass("fontColorOfPickItem");
        $("#txtYarnName").data("YarnID", 0);
        $("#txtYarnName").val("");
    });
    $('#btnYarnPick').click(function(){
        var sYarnName = $("#txtYarnName").val();            
        if (sYarnName != null) {
            PickYarn(sYarnName);
        }
    });
    function PickYarn(sYarnName)
    {  
        if(sYarnName == '' || sYarnName == null || sYarnName == 'undefined')
        {
            alert("Please enter with Yarn name and press enter!!");
            return;
        }

        var oProduct = {
            BUID : parseInt($("#divYarnRequisition").data("BUID")),
            ModuleNameInInt : 185, //YarnRequisition = 185
            ProductUsagesInInt : 10, //Yarn = 10
            ProductName : sYarnName
        };
        
        var obj = {
            BaseAddress : $("#divYarnRequisition").data("BaseAddress"),
            Object : (oProduct),
            ControllerName : "Product",
            ActionName : "GetProductsByBUModuleWithProductUse",
            IsWinClose : false
        };
        
        var tblColums = []; 
        var oColumn = null; 
        oColumn = { field: "ProductCode", title: "Code", width: 150, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ProductName", title: "Product Name", width: 250, align: "left" }; tblColums.push(oColumn);

        DynamicPiker('Yarn', obj, tblColums, false, 'ProductName', 'ProductID', 500);
    }

    function DynamicPiker(pickerName,obj,pTblColums,pMultiReturn,pSearchField,pID,nWidth)
    {        
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        setInterval(updateProgress,250);

        $.icsDataGets(obj, function (response) {            
            if (response.status && response.objs.length > 0) {
                if (response.objs[0][pID] > 0) {
                    debugger;
                    var tblColums = pTblColums;
                    var oPickerParam = {
                        winid: 'win'+pickerName,
                        winclass: 'cls'+pickerName,
                        winwidth: nWidth,
                        winheight: 460,
                        tableid: 'tbl'+pickerName+'s',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: pSearchField,
                        windowTittle: pickerName+' List',
                        colsable:true
                    };
                    $.icsPicker(oPickerParam);
                    $("#progressbar").progressbar({ value: 0 });//hide
                    $("#progressbarParent").hide();
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                    $("#progressbar").progressbar({ value: 0 });//hide
                    $("#progressbarParent").hide();
                }
            }
            else{
                alert("Data Not Found.");
                $("#progressbar").progressbar({ value: 0 });//hide
                $("#progressbarParent").hide();
                return;
            }
        });
    }
    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }
    function SetPickerValueAssign(oPickerobj)
    {        
        var oResult;
        if (oPickerobj.multiplereturn)
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getChecked');
        }
        else
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getSelected');
        }

        if (oPickerobj.winid == 'winBuyer')
        {   
            if(parseInt(oResult.ContractorID) != parseInt($("#txtBuyerName").data("BuyerID")))
            {
                DynamicRefreshList([], "tblYarnRequisitionDetail");
            }
            $("#txtBuyerName").val(oResult.Name);
            $("#txtBuyerName").data("BuyerID", parseInt(oResult.ContractorID));
            $("#txtBuyerName").addClass("fontColorOfPickItem");         
            $("#txtRemarks").focus();
        }
        else if (oPickerobj.winid == 'winTechnicalSheet')
        {   
            $("#txtStyleNo").val(oResult.StyleNo);
            $("#txtYRDBuyerName").val(oResult.BuyerName);
            $("#txtGarmentsQty").val(oResult.ApproxQtyInSt);
            $("#txtGARQty").val(oResult.ApproxQty);
            $("#txtStyleNo").data("TechnicalSheet", oResult);
            $("#txtStyleNo").addClass("fontColorOfPickItem");     
            RefreshColor(parseInt(oResult.TechnicalSheetID), 0);
        }
        else if (oPickerobj.winid == 'winFabric')
        {   
            $("#txtFabricName").val(oResult.ProductName);
            $("#txtFabricName").data("FabricID", parseInt(oResult.ProductID));
            $("#txtFabricName").addClass("fontColorOfPickItem");
            $("#txtGSM").focus();
        }
        else if (oPickerobj.winid == 'winYarn')
        {   
            $("#txtYarnName").val(oResult.ProductName);
            $("#txtYarnName").data("YarnID", parseInt(oResult.ProductID));
            $("#txtYarnName").addClass("fontColorOfPickItem");
            RefreshMUnit(parseInt(oResult.ProductID), parseInt(oResult.MeasurementUnitID));
            $("#txtCount").focus();
        }

        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }

    function RefreshColor(nTechnicalSheetID, nColorID)
    {
        var oTechnicalSheet = { TechnicalSheetID : nTechnicalSheetID };
        $.ajax({
            type: "POST",
            dataType: "json",
            url : $("#divYarnRequisition").data("BaseAddress")+"/TechnicalSheet/GetTechnicalSheetColors",
            traditional: true,
            data:  JSON.stringify(oTechnicalSheet),
            contentType: "application/json; charset=utf-8",
            success: function (data) {               
                var oTehnicalSheet = jQuery.parseJSON(data);  
                debugger;
                $("#cboColorName").data('ColorSizeRatios', oTehnicalSheet.TechnicalSheetColors);
                $("#cboColorName").icsLoadCombo({ List: oTehnicalSheet.TechnicalSheetColors, OptionValue: "ColorCategoryID", DisplayText: "ColorName", InitialValue :"--Recap Color--" });
                $("#cboColorName").val(nColorID);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    function GetColorWiseQty(nColorID)
    {
        var oColorSizeRatio = {ColorWiseTotal : 0,  ColorWiseTotalSt : 0, ColorName : "" };
        var oColorSizeRatios = $("#cboColorName").data('ColorSizeRatios');
        for(var i=0; i<oColorSizeRatios.length; i++)
        {
            if(parseInt(oColorSizeRatios[i].ColorCategoryID) == parseInt(nColorID))
            {
                return oColorSizeRatios[i];
            }
        }
        return oColorSizeRatio;
    }

    function RefreshMUnit(nProductID, nMUnitID)
    {
        var oProduct = { ProductID : nProductID };
        $.ajax({
            type: "POST",
            dataType: "json",
            url : $("#divYarnRequisition").data("BaseAddress")+"/MeasurementUnit/GetsMUnits",
            traditional: true,
            data:  JSON.stringify(oProduct),
            contentType: "application/json; charset=utf-8",
            success: function (data) {               
                var oMeasurementUnits = jQuery.parseJSON(data);  
                $("#cboMUnit").data('MeasurementUnits', oMeasurementUnits);
                $("#cboMUnit").icsLoadCombo({ List: oMeasurementUnits, OptionValue: "MeasurementUnitID", DisplayText: "Symbol", InitialValue :"--M. Unit--" });
                $("#cboMUnit").val(nMUnitID);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    function GetMUnit(nMUnitID)
    {
        var oMeasurementUnit = {MeasurementUnitID : 0,  Symbol : "" };
        var oMeasurementUnits = $("#cboMUnit").data('MeasurementUnits');
        for(var i=0; i<oMeasurementUnits.length; i++)
        {
            if(parseInt(oMeasurementUnits[i].MeasurementUnitID) == parseInt(nMUnitID))
            {
                return oMeasurementUnits[i];
            }
        }
        return oMeasurementUnit;
    }

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 90){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }    
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }    
</script>