@{
    ViewBag.Title = "Yarn Requisition List";
}
@model IEnumerable<ESimSol.BusinessObjects.YarnRequisition>
    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>

    <div id="winAdvanceSearchPicker" class="easyui-window winstyle" title="Advance Search Picker" style="width:460px; height:460px" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="font-family:Tahoma"> 
            <table border="0" style="background-color:#CFB53B">
                <tr>
                    <td style="background-color:#CFB53B; text-align:center; width:460px; color:White">
                        <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline"> Search Knitting Order</label>
                    </td>
                </tr>
            </table>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr style="height:100px">
                    <td style="width:460px">
                        <table border="0" cellpadding="0" cellspacing="0" style="font-size:12px">
                            <tr style="height:220px">
                                <td style="width:460px; vertical-align:top;height:320px">
                                    <fieldset>
                                        <legend style="font-weight:bold; font-size:12px"> Searching Criteria : </legend>
                                        <table border="0" cellpadding="0" cellspacing="0" style=" width:380px; font-size:12px">

                                            <tr style=" width:380px;">
                                                <td style=" width:120px;float:right;">
                                                    <label>Order No :</label>
                                                </td>
                                                <td style=" width:260px;">
                                                    <input type="text" id="txtYarnRequisitionNo" style=" width:100%;" />
                                                </td>
                                            </tr>
                                            <tr style=" width:380px;">
                                                <td style=" width:120px;float:right;">
                                                    <label>Order Date :</label>
                                                </td>
                                                <td style=" width:260px;">
                                                    <table>
                                                        <tr>
                                                            <td style=" width:86px;"><select id="cboOrderDate" style=" width:86px;height:22px;"></select> </td>
                                                            <td style="width: 84px;"><input id="txtOrderDateStart" type="text" style="width: 84px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                            <td style="width: 6px;text-align:center">To</td>
                                                            <td style="width: 84px;"><input id="txtOrderDateEnd" type="text" style="width: 84px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr style=" width:380px;">
                                                <td style=" width:120px;float:right;">
                                                    <label>Start Date :</label>
                                                </td>
                                                <td style=" width:260px;">
                                                    <table>
                                                        <tr>
                                                            <td style=" width:86px;"><select id="cboStartDate" style=" width:86px;height:22px;"></select> </td>
                                                            <td style="width: 84px;"><input id="txtStartDateStart" type="text" style="width: 84px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                            <td style="width: 6px;text-align:center">To</td>
                                                            <td style="width: 84px;"><input id="txtStartDateEnd" type="text" style="width: 84px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr style=" width:380px;">
                                                <td style=" width:120px;float:right;">
                                                    <label>Complete Date :</label>
                                                </td>
                                                <td style=" width:260px;">
                                                    <table>
                                                        <tr>
                                                            <td style=" width:86px;"><select id="cboCompleteDate" style=" width:86px;height:22px;"></select> </td>
                                                            <td style="width: 84px;"><input id="txtCompleteDateStart" type="text" style="width: 84px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                            <td style="width: 6px;text-align:center">To</td>
                                                            <td style="width: 84px;"><input id="txtCompleteDateEnd" type="text" style="width: 84px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr style=" width:380px;">
                                                <td style=" width:120px;float:right;">
                                                    <label>Factory :</label>
                                                </td>
                                                <td style=" width:260px;">
                                                    <table style=" width:100%;">
                                                        <tr style=" width:100%;">
                                                            <td style=" width:78%;"><input type="text" style=" width:100%;" id="txtFactory" onkeydown="FactoryKeyDown(event);" /> </td>
                                                            <td style="width: 20%;"><input type="button" id="btnFactory" onclick="PickFactory()" style="width:100%;float:right;" value="Pick" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr style=" width:380px;">
                                                <td style=" width:120px;float:right;">
                                                    <label>Buyer :</label>
                                                </td>
                                                <td style=" width:260px;">
                                                    <table style=" width:100%;">
                                                        <tr style=" width:100%;">
                                                            <td style=" width:78%;"><input type="text" style=" width:100%;" id="txtBuyer" onkeydown="BuyerKeyDown(event);" />  </td>
                                                            <td style="width: 20%;"><input type="button" id="btnBuyer" onclick="PickBuyer()" style="width:100%;float:right;" value="Pick" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr style=" width:380px;">
                                                <td style=" width:120px;float:right;">
                                                    <label>Business Session :</label>
                                                </td>
                                                <td style=" width:260px;">
                                                    <select id="cboBusinessSession" style="width:100%;height:22px;"></select>
                                                </td>
                                            </tr>
                                            <tr style=" width:380px;">
                                                <td style=" width:120px;float:right;">
                                                    <label>Style :</label>
                                                </td>
                                                <td style=" width:260px;">
                                                    <table style=" width:100%;">
                                                        <tr style=" width:100%;">
                                                            <td style=" width:78%;"><input type="text" id="txtStyle" style="width:100%;" onkeydown="StyleKeyDown(event)" /></td>
                                                            <td style="width: 20%;"><input type="button" id="btnStyle" style="width:100%;float:right" onclick="PickStyle()" value="Pick" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr style=" width:380px;">
                                                <td style=" width:120px;float:right;">
                                                    <label>Fabric :</label>
                                                </td>
                                                <td style=" width:260px;">
                                                    <table style=" width:100%;">
                                                        <tr style=" width:100%;">
                                                            <td style=" width:78%;"><input type="text" id="txtFabric" style="width:100%;" onkeydown="FabricKeyDown(event)" /></td>
                                                            <td style="width: 20%;"><input type="button" id="btnFabric" style="width:100%;float:right" onclick="PickFabric()" value="Pick" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr style=" width:380px;">
                                                <td style=" width:120px;float:right;">
                                                    <label>Yarn :</label>
                                                </td>
                                                <td style=" width:260px;">
                                                    <table style=" width:100%;">
                                                        <tr style=" width:100%;">
                                                            <td style=" width:78%;"><input type="text" id="txtProduct" style="width:100%;" onkeydown="ProductKeyDown(event)" /></td>
                                                            <td style="width: 20%;"><input type="button" id="btnProduct" style="width:100%;float:right" onclick="PickProduct()" value="Pick" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr style=" width:380px;">
                                                <td style=" width:120px;float:right;">
                                                    <label>MIC Dia :</label>
                                                </td>
                                                <td style=" width:260px;">
                                                    <input type="text" id="txtMICDia" style=" width:100%;" />
                                                </td>
                                            </tr>
                                            <tr style=" width:380px;">
                                                <td style=" width:120px;float:right;">
                                                    <label>Finish Dia :</label>
                                                </td>
                                                <td style=" width:260px;">
                                                    <input type="text" id="txtFinishDia" style=" width:100%;" />
                                                </td>
                                            </tr>

                                            <tr style="height:75px; vertical-align:bottom">
                                                <td colspan="2" style="text-align:right">
                                                    @*<input type="button" value="Reset" id="btnResetForAdvSearch" style="width:70px;font-size:12px" />*@
                                                    <input type="button" value="Refresh" id="btnRefreshForAdvSearch" style="width:70px;font-size:12px" />
                                                    <input type="button" value="Close" id="btnCloseForAdvSearch" style="width:70px;font-size:12px" />
                                                </td>
                                            </tr>
                                        </table>
                                    </fieldset>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>
        
    <div class="menuMainCollectionTable" id="divYarnRequisitions">
        <table id="tblYarnRequisitions" title="Yarn Requisition List" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="RequisitionNo" width="12%">Requisition No</th>
                    <th field="RequisitionDateSt" width="12%">Requisition Date</th>
                    <th field="MerchandiserName" width="15%">Merchandiser Name</th>
                    <th field="SessionName" width="12%">Business Session</th>
                    <th field="BuyerName" width="12%">Buyer Name</th>
                    <th field="ApprovedByName" width="12%">Approved By</th>
                    <th field="Remarks" width="20%">Remarks</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <input type="text" id="txtYarnRequisitionNo" placeholder="Requisition No & Press Enter" style="width:120px;" />
            <input type="text" id="txtStyleOROrderRecapNo" placeholder="Style No / Recap No & Press Enter" style="width:150px;" />
            <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
            <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Approve</a>
            <a id="btnUnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" plain="true">Un-Approve</a>
            <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
            <a id="btnPrintList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print List</a>
        </div>
    </div>

    <script type="text/javascript">
    $(document).ready(function () {        
        var oYarnRequisitions =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oAuthorizationRolesMappings =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        var nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));        
        $("#divYarnRequisitions").data("BaseAddress", sBaseAddress);
        $('#divYarnRequisitions').data('BUID', nBUID);

        var oTempYarnRequisitions =sessionStorage.getItem("YarnRequisitions");
        if(oTempYarnRequisitions!=null)
        {
            oYarnRequisitions = jQuery.parseJSON(oTempYarnRequisitions);
        }
        RefreshList(oYarnRequisitions);
        RefreshControlLayout(oAuthorizationRolesMappings);
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
        $("#btnAdvSearch,#btnPrintList").hide();
                
        $('#AppMainLayout').layout('collapse', 'west');        
        $('#AppMainLayout').layout('expand', 'west');
        $('#AppMainLayout').layout('collapse', 'west');
        $('#AppMainLayout').layout('expand', 'west');
    });

    $("#txtYarnRequisitionNo").keydown(function (e) {       
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var sYarnRequisitionNo = $("#txtYarnRequisitionNo").val();
            if(sYarnRequisitionNo==undefined || sYarnRequisitionNo ==null || sYarnRequisitionNo==""){
                alert("Press Enter With YarnRequisition No");
                return;
            }

            var oYarnRequisition = {
                RequisitionNo : sYarnRequisitionNo,
                BUID : parseInt($('#divYarnRequisitions').data('BUID'))
            }; 

            $.ajax({
                type: "POST",
                dataType: "json",
                url : $("#divYarnRequisitions").data("BaseAddress")+"/YarnRequisition/GetsByRequisitionNo",
                traditional: true,
                data:  JSON.stringify(oYarnRequisition),
                contentType: "application/json; charset=utf-8",
                success: function (data) {                                
                    oYarnRequisitions = jQuery.parseJSON(data);   
                    if(oYarnRequisitions.length>0)
                    {
                        if (oYarnRequisitions[0].ErrorMessage==null || oYarnRequisitions[0].ErrorMessage=="") {
                            sessionStorage.setItem("SelectedRowIndex", -1);
                            RefreshList(oYarnRequisitions);
                        }
                        else 
                        {
                            alert(oYarnRequisitions[0].ErrorMessage);
                        }
                    }
                    else
                    {
                        alert("Data Not Found!");
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }      
    });

    $("#txtStyleOROrderRecapNo").keydown(function (e) {       
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var sStyleOROrderRecapNo = $("#txtStyleOROrderRecapNo").val();
            if(sStyleOROrderRecapNo==undefined || sStyleOROrderRecapNo ==null || sStyleOROrderRecapNo==""){
                alert("Press Enter With Style OR Order Recap No");
                return;
            }

            var oYarnRequisition = {
                Params : sStyleOROrderRecapNo,
                BUID : parseInt($('#divYarnRequisitions').data('BUID'))
            }; 

            $.ajax({
                type: "POST",
                dataType: "json",
                url : $("#divYarnRequisitions").data("BaseAddress")+"/YarnRequisition/GetsByStyleOROrderRecapNo",
                traditional: true,
                data:  JSON.stringify(oYarnRequisition),
                contentType: "application/json; charset=utf-8",
                success: function (data) {                                
                    oYarnRequisitions = jQuery.parseJSON(data);   
                    if(oYarnRequisitions.length>0)
                    {
                        if (oYarnRequisitions[0].ErrorMessage==null || oYarnRequisitions[0].ErrorMessage=="") {
                            sessionStorage.setItem("SelectedRowIndex", -1);
                            RefreshList(oYarnRequisitions);
                        }
                        else 
                        {
                            alert(oYarnRequisitions[0].ErrorMessage);
                        }
                    }
                    else
                    {
                        alert("Data Not Found!");
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }      
    });

    $("#btnAdd").click(function(){
        var oYarnRequisitions= $('#tblYarnRequisitions').datagrid('getRows');
        sessionStorage.setItem("YarnRequisitions", JSON.stringify(oYarnRequisitions));
        sessionStorage.setItem("SelectedRowIndex", -1);        
        sessionStorage.setItem('YarnRequisitionAction','Add')
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = $("#divYarnRequisitions").data("BaseAddress")+ "/YarnRequisition/ViewYarnRequisition?id=0&buid="+sessionStorage.getItem('BUID');  //
    });

    $("#btnEdit").click(function(){
        var oYarnRequisition= $('#tblYarnRequisitions').datagrid('getSelected');
        if(oYarnRequisition==null || parseInt(oYarnRequisition.YarnRequisitionID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }

        if(parseInt(oYarnRequisition.ApprovedBy) != 0)
        {
            alert("Already approved!");
            return false;
        }

        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblYarnRequisitions').datagrid('getRowIndex',oYarnRequisition);
        var oYarnRequisitions= $('#tblYarnRequisitions').datagrid('getRows');
        sessionStorage.setItem("YarnRequisitions", JSON.stringify(oYarnRequisitions));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);        
        sessionStorage.setItem('YarnRequisitionAction','Edit')
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = $("#divYarnRequisitions").data("BaseAddress")+  "/YarnRequisition/ViewYarnRequisition?id="+oYarnRequisition.YarnRequisitionID+"&buid="+sessionStorage.getItem('BUID');
    });

    $("#btnView").click(function(){
        var oYarnRequisition= $('#tblYarnRequisitions').datagrid('getSelected');
        if(oYarnRequisition==null || parseInt(oYarnRequisition.YarnRequisitionID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblYarnRequisitions').datagrid('getRowIndex',oYarnRequisition);
        var oYarnRequisitions= $('#tblYarnRequisitions').datagrid('getRows');
        sessionStorage.setItem("YarnRequisitions", JSON.stringify(oYarnRequisitions));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("YarnRequisitionHeader", "View Knitting Order");
        sessionStorage.setItem('YarnRequisitionAction','View')
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = $("#divYarnRequisitions").data("BaseAddress")+  "/YarnRequisition/ViewYarnRequisition?id="+oYarnRequisition.YarnRequisitionID+"&buid="+sessionStorage.getItem('BUID');
    });

    $("#btnDelete").click(function(){
        var oYarnRequisition= $('#tblYarnRequisitions').datagrid('getSelected');
        if(oYarnRequisition==null || oYarnRequisition.YarnRequisitionID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }

        if(oYarnRequisition.ApprovedBy != 0)
        {
            alert("Already approved!");
            return false;
        }


        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblYarnRequisitions').datagrid('getRowIndex',oYarnRequisition);
        if (oYarnRequisition.YarnRequisitionID > 0)
        {
            $.ajax
            ({
                type: "POST",
                dataType: "json",
                url : $("#divYarnRequisitions").data("BaseAddress")+  "/YarnRequisition/Delete",
                data: JSON.stringify(oYarnRequisition),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage.toLowerCase() == "deleted")
                    {
                        alert("Delete sucessfully");
                        $('#tblYarnRequisitions').datagrid('deleteRow',SelectedRowIndex);
                        var oYarnRequisitions= $('#tblYarnRequisitions').datagrid('getRows');
                        sessionStorage.setItem("YarnRequisitions", JSON.stringify(oYarnRequisitions));
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
        }
    });

    $("#btnApprove").click(function(){        
        var oYarnRequisition= $('#tblYarnRequisitions').datagrid('getSelected');
        if(oYarnRequisition==null || oYarnRequisition.YarnRequisitionID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if(parseInt(oYarnRequisition.ApprovedBy) > 0)
        {
            alert("Already Approved!");
            return false;
        }
        if (!confirm("Confirm to Approve?")) return ;
        var SelectedRowIndex=$('#tblYarnRequisitions').datagrid('getRowIndex',oYarnRequisition);
        $.ajax({
            type: "POST",
            dataType: "json",
            url : $("#divYarnRequisitions").data("BaseAddress")+"/YarnRequisition/Approve",
            traditional: true,
            data:  JSON.stringify(oYarnRequisition),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                oYarnRequisition = jQuery.parseJSON(data);
                if (oYarnRequisition.ErrorMessage==null || oYarnRequisition.ErrorMessage=="") {
                    alert("Data Approved successfully");
                    $('#tblYarnRequisitions').datagrid('updateRow',{index: SelectedRowIndex,	row: oYarnRequisition});
                    var oYarnRequisitions= $('#tblYarnRequisitions').datagrid('getRows');
                    sessionStorage.setItem("YarnRequisitions", JSON.stringify(oYarnRequisitions));
                }
                else {
                    alert(oYarnRequisition.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });

    $("#btnUnApprove").click(function(){
        debugger;
        var oYarnRequisition= $('#tblYarnRequisitions').datagrid('getSelected');
        if(oYarnRequisition==null || parseInt(oYarnRequisition.YarnRequisitionID)<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if(parseInt(oYarnRequisition.ApprovedBy)==0)
        {
            alert("Already Un-Approved!");
            return false;
        }
        if (!confirm("Confirm to Un-Approve?")) return ;
        var SelectedRowIndex=$('#tblYarnRequisitions').datagrid('getRowIndex',oYarnRequisition);
        $.ajax({
            type: "POST",
            dataType: "json",
            url : $("#divYarnRequisitions").data("BaseAddress")+"/YarnRequisition/UnApprove",
            traditional: true,
            data:  JSON.stringify(oYarnRequisition),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                oYarnRequisition = jQuery.parseJSON(data);
                if (oYarnRequisition.ErrorMessage==null || oYarnRequisition.ErrorMessage=="") {
                    alert("Data Un-Approved successfully");
                    $('#tblYarnRequisitions').datagrid('updateRow',{index: SelectedRowIndex,	row: oYarnRequisition});
                    var oYarnRequisitions= $('#tblYarnRequisitions').datagrid('getRows');
                    sessionStorage.setItem("YarnRequisitions", JSON.stringify(oYarnRequisitions));
                }
                else {
                    alert(oYarnRequisition.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });

    $('#btnPreview').click(function(){
        var oYarnRequisition=$('#tblYarnRequisitions').datagrid('getSelected');
        if(oYarnRequisition==null || parseInt(oYarnRequisition.YarnRequisitionID)<=0)
        {
            alert("Please select Yarn Requisition!");
            return;
        }
        window.open($("#divYarnRequisitions").data("BaseAddress")+ "/YarnRequisition/YarnRequisitionPrintPreview?id=" + parseInt(oYarnRequisition.YarnRequisitionID));
    });

    $('#btnPrintList').click(function(){

        var oYarnRequisitions= $('#tblYarnRequisitions').datagrid('getRows');
        if(oYarnRequisitions.length<=0)
        {
            alert("Data not found ");
            return;
        }
        var sYarnRequisitionIDs = "";
        for(var i = 0;i<oYarnRequisitions.length;i++)
        {
            sYarnRequisitionIDs+= oYarnRequisitions[i].YarnRequisitionID+",";
        }
        sYarnRequisitionIDs = sYarnRequisitionIDs.substring(0, sYarnRequisitionIDs.length-1);
        var oYarnRequisition = {ErrorMessage:sYarnRequisitionIDs};
        $.ajax({
            type: "POST",
            dataType: "json",
            url : $("#divYarnRequisitions").data("BaseAddress")+  "/YarnRequisition/SetYarnRequisitionListData",
            traditional: true,
            data:  JSON.stringify(oYarnRequisition),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful")
                {
                    window.open ($("#divYarnRequisitions").data("BaseAddress")+ "/YarnRequisition/PrintYarnRequisitions");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }

    function RefreshList(oYarnRequisitions)
    {        
        var data=oYarnRequisitions;
        data={"total":""+data.length+"","rows":data};
        $('#tblYarnRequisitions').datagrid('loadData',data);
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        $('#tblYarnRequisitions').datagrid('selectRow',nIndex);
    }
    








    //Advance search
    $('#btnCloseForAdvSearch').click(function(e) {
        $("#winAdvanceSearchPicker").icsWindow('close');
    });

    $("#btnAdvSearch").click(function(){
        $("#winAdvanceSearchPicker").icsWindow('open', "Advance Search");
    });

    $('#btnRefreshForAdvSearch').click(function(){
        //debugger;
        var sYarnRequisitionNo = $("#txtYarnRequisitionNo").val();
        var nOrderDate = parseInt($("#cboOrderDate").val());
        var dOrderDateStart = $('#txtOrderDateStart').datebox('getValue');
        var dOrderDateEnd = $('#txtOrderDateEnd').datebox('getValue');
        var nStartDate = parseInt($("#cboStartDate").val());
        var dStartDateStart = $('#txtStartDateStart').datebox('getValue');
        var dStartDateEnd = $('#txtStartDateEnd').datebox('getValue');
        var nCompleteDate = parseInt($("#cboCompleteDate").val());
        var dCompleteDateStart = $('#txtCompleteDateStart').datebox('getValue');
        var dCompleteDateEnd = $('#txtCompleteDateEnd').datebox('getValue');
        var nFactoryID = parseInt($("#winAdvanceSearchPicker").data("FactoryID"));
        var nBuyerID = parseInt($("#winAdvanceSearchPicker").data("BuyerID"));
        var nBusinessSessionID = parseInt($("#cboBusinessSession").val());

        var nStyleID = parseInt($("#winAdvanceSearchPicker").data("StyleID"));
        var nFabricID = parseInt($("#winAdvanceSearchPicker").data("FabricID"));
        var nYarnID = parseInt($("#winAdvanceSearchPicker").data("YarnID"));

        var sMICDia = $("#txtMICDia").val();
        var sFinishDia = $("#txtFinishDia").val();

        if((sYarnRequisitionNo == "" || sYarnRequisitionNo == null) && nOrderDate <= 0 && nStartDate <= 0 && nCompleteDate<= 0 && nFactoryID <= 0 && nBuyerID <= 0 && nBusinessSessionID <= 0 && nStyleID <= 0 && nFabricID <= 0 && nYarnID <= 0 && (sMICDia == "" || sMICDia == null) && (sFinishDia == "" || sFinishDia == null)){
            alert("Please enter at least one field!!!");
            return false;
        }

        var sTempString = sYarnRequisitionNo+'~'+nOrderDate+'~'+dOrderDateStart+'~'+dOrderDateEnd+'~'+nStartDate+'~'+dStartDateStart+'~'+dStartDateEnd+'~'+nCompleteDate+'~'+dCompleteDateStart+'~'+dCompleteDateEnd+'~'+nFactoryID+'~'+nBuyerID+'~'+nBusinessSessionID+'~'+nStyleID+'~'+nFabricID+'~'+nYarnID+'~'+sMICDia+'~'+sFinishDia + '~' + sessionStorage.getItem('BUID');

        $.ajax({
            type: "GET",
            dataType: "json",
            url: '@Url.Action("Gets", "YarnRequisition")',
            data: { Temp: sTempString },
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                oYarnRequisitions = jQuery.parseJSON(data);
                if (oYarnRequisitions != null) {
                    if(oYarnRequisitions.length>0)
                    {
                        DynamicRefreshList(oYarnRequisitions, "tblYarnRequisitions");
                        $("#winAdvanceSearchPicker").icsWindow('close');
                    }
                    else
                    {
                        alert("Data not found!!");
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#cboOrderDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboOrderDate').val());
        if(nCompareOperator===0)
        {
            $('#txtOrderDateStart').datebox({ disabled : true });
            $('#txtOrderDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtOrderDateStart').datebox({ disabled : false });
            $('#txtOrderDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtOrderDateStart').datebox({ disabled : false });
            $('#txtOrderDateEnd').datebox({ disabled : false });
        }
        $('#txtOrderDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtOrderDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboStartDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboStartDate').val());
        if(nCompareOperator===0)
        {
            $('#txtStartDateStart').datebox({ disabled : true });
            $('#txtStartDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtStartDateStart').datebox({ disabled : false });
            $('#txtStartDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtStartDateStart').datebox({ disabled : false });
            $('#txtStartDateEnd').datebox({ disabled : false });
        }
        $('#txtStartDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtStartDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboCompleteDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboCompleteDate').val());
        if(nCompareOperator===0)
        {
            $('#txtCompleteDateStart').datebox({ disabled : true });
            $('#txtCompleteDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtCompleteDateStart').datebox({ disabled : false });
            $('#txtCompleteDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtCompleteDateStart').datebox({ disabled : false });
            $('#txtCompleteDateEnd').datebox({ disabled : false });
        }
        $('#txtCompleteDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtCompleteDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    function FactoryKeyDown(event) {
        //return;
        if (event.which == 13) {
            var oTxtName=$("#txtFactory").val();
            if (oTxtName != null) {
                PickFactory(oTxtName);
            }
        }
        if (event.which == 8) {
            $("#winAdvanceSearchPicker").data("FactoryID",0);
            txtFactory.style.color="Black";
        }
    }

    function PickFactory(oTxtName)
    {
        var oStyleSearch = {
            Params: '3' + '~' + (typeof(oTxtName) != 'undefined'?oTxtName:"")+'~'+ $('#divYarnRequisitions').data('BUID')
        };

        debugger;
        var obj = {
            BaseAddress:$("#divYarnRequisitions").data("BaseAddress"),
            Object: (oStyleSearch) ,
            ControllerName: "Contractor", 
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
        DynamicPiker('Factory',obj,tblColums,false,'Name','ContractorID',400); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
    }

    function SetFactory(oSelectedStyle) {
        debugger;
        document.getElementById("txtFactory").value = oSelectedStyle.Name;
        $("#winAdvanceSearchPicker").data("FactoryID",oSelectedStyle.ContractorID);
        txtFactory.style.color="Blue";
    }

    function BuyerKeyDown(event) {
        //return;
        if (event.which == 13) {
            var oTxtName=$("#txtBuyer").val();
            if (oTxtName != null) {
                PickBuyer(oTxtName);
            }
        }
        if (event.which == 8) {
            $("#winAdvanceSearchPicker").data("BuyerID",0);
            txtBuyer.style.color="Black";
        }
    }

    function PickBuyer(oTxtName)
    {
        var oStyleSearch = {
            Params: '2' + '~' + (typeof(oTxtName) != 'undefined'?oTxtName:"")+'~'+$('#divYarnRequisitions').data('BUID')
        };

        debugger;
        var obj = {
            BaseAddress:$("#divYarnRequisitions").data("BaseAddress"),
            Object: (oStyleSearch) ,
            ControllerName: "Contractor", 
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
        DynamicPiker('Buyer',obj,tblColums,false,'Name','ContractorID',400); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
    }

    function SetBuyer(oSelectedStyle) {
        debugger;
        document.getElementById("txtBuyer").value = oSelectedStyle.Name;
        $("#winAdvanceSearchPicker").data("BuyerID",oSelectedStyle.ContractorID);
        txtBuyer.style.color="Blue";
    }

    function StyleKeyDown(event) {
        //return;
        if (event.which == 13) {
            var oTxtName=$("#txtStyle").val();
            if (oTxtName != null) {
                PickStyle(oTxtName);
            }
        }
        if (event.which == 8) {
            txtStyle.style.color="Black";
            $("#winAdvanceSearchPicker").data("StyleID",0);
        }
    }

    function PickStyle(oTxtName)
    {
        debugger;
        var oStyleSearch = {
            StyleNo: (typeof(oTxtName) != 'undefined'?oTxtName:"")
        };

        debugger;
        var obj = {
            BaseAddress:$("#divYarnRequisitions").data("BaseAddress"),
            Object: (oStyleSearch) ,
            ControllerName: "TechnicalSheet",
            ActionName: "StyleSearch",
            IsWinClose: false
        };
        var tblColums = []; var oColumn = { field: "StyleNo", title: "Style No", width: 100, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "BuyerName", title: "Buyer Name", width: 200, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "SessionName", title: "Business Session", width: 100, align: "left" }; tblColums.push(oColumn);
        DynamicPiker('Style',obj,tblColums,false,'StyleNo','TechnicalSheetID',500); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
    }

    function SetStyle(oSelectedStyle) {
        debugger;
        document.getElementById("txtStyle").value = oSelectedStyle.StyleNo;
        $("#winAdvanceSearchPicker").data("StyleID",oSelectedStyle.TechnicalSheetID);
        txtStyle.style.color="Blue";
    }

    function ProductKeyDown(event) {
        //return;
        if (event.which == 13) {
            var oTxtName=$("#txtProduct").val();
            if (oTxtName != null) {
                PickProduct(oTxtName);
            }
        }
        if (event.which == 8) {
            txtProduct.style.color="Black";
            $("#winAdvanceSearchPicker").data("YarnID",0);
        }
    }

    function PickProduct(oTxtName)
    {
        debugger;
        var oStyleSearch = {
            BUID:$('#divYarnRequisitions').data('BUID'),
            ProductName: $("#txtProduct").val()
        };

        console.log(oStyleSearch);
        debugger;
        var obj = {
            BaseAddress:$("#divYarnRequisitions").data("BaseAddress"),
            Object: (oStyleSearch) ,
            ControllerName: "YarnRequisition", //Product
            ActionName: "GetYarnCategory",//SearchByProductBUWise
            IsWinClose: false
        };
        var tblColums = []; var oColumn = []; var oColumn = { field: "ProductName", title: "Product Name", width: 150, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ProductCode", title: "Code", width: 150, align: "left" }; tblColums.push(oColumn);
        DynamicPiker('Product',obj,tblColums,true,'ProductName','ProductID',500); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
    }

    function SetProduct(oSelectedStyle) {
        document.getElementById("txtProduct").value = oSelectedStyle.ProductName;
        $("#winAdvanceSearchPicker").data("YarnID",oSelectedStyle.ProductID);
        txtProduct.style.color="Blue";

    }

    function FabricKeyDown(event) {
        //return;
        if (event.which == 13) {
            var oTxtName=$("#txtFabric").val();
            if (oTxtName != null) {
                PickFabric(oTxtName);
            }
        }
        if (event.which == 8) {
            txtFabric.style.color="Black";
            $("#winAdvanceSearchPicker").data("FabricID",0);
        }
    }

    function PickFabric(oTxtName)
    {
        debugger;
        var oStyleSearch = {
            BUID:$('#divYarnRequisitions').data('BUID'),
            ProductName: $("#txtFabric").val()
        };

        debugger;
        var obj = {
            BaseAddress:$("#divYarnRequisitions").data("BaseAddress"),
            Object: (oStyleSearch) ,
            ControllerName: "YarnRequisition", //Product
            ActionName: "GetFabricCategory",//SearchByProductBUWise
            IsWinClose: false
        };
        var tblColums = []; var oColumn = []; var oColumn = { field: "ProductName", title: "Product Name", width: 150, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ProductCode", title: "Code", width: 150, align: "left" }; tblColums.push(oColumn);
        DynamicPiker('Fabric',obj,tblColums,false,'ProductName','ProductID',500); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
    }

    function SetFabric(oSelectedStyle) {
        debugger;
        document.getElementById("txtFabric").value = oSelectedStyle.ProductName;
        $("#winAdvanceSearchPicker").data("FabricID",oSelectedStyle.ProductID);
        txtFabric.style.color="Blue";
    }

    function SetPickerValueAssign(oPickerobj)
    {
        debugger;
        var oResult;
        if (oPickerobj.multiplereturn)
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getChecked');
        }
        else
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getSelected');
        }

        if (oPickerobj.winid == 'winFactory')
        {
            SetFactory(oResult);
        }
        else if (oPickerobj.winid == 'winBuyer')
        {
            SetBuyer(oResult);
        }
        else if (oPickerobj.winid == 'winStyle')
        {
            SetStyle(oResult);
        }
        else if (oPickerobj.winid == 'winProduct')
        {
            SetProduct(oResult);
        }
        else if (oPickerobj.winid == 'winFabric')
        {
            SetFabric(oResult);
        }
        
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 90){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }
    
    function DynamicPiker(pickerName,obj,pTblColums,pMultiReturn,pSearchField,pID,nWidth)
    {
        debugger;
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        setInterval(updateProgress,250);

        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0][pID] > 0) {
                    debugger;
                    var tblColums = pTblColums;
                    var oPickerParam = {
                        winid: 'win'+pickerName,
                        winclass: 'cls'+pickerName,
                        winwidth: nWidth,
                        winheight: 460,
                        tableid: 'tbl'+pickerName+'s',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: pMultiReturn,
                        searchingbyfieldName: pSearchField,
                        windowTittle: pickerName+' List',
                        colsable:true
                    };
                    $.icsPicker(oPickerParam);
                    $("#progressbar").progressbar({ value: 0 });//hide
                    $("#progressbarParent").hide();
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                    $("#progressbar").progressbar({ value: 0 });//hide
                    $("#progressbarParent").hide();
                }
            }
            else{
                alert("Data Not Found.");
                $("#progressbar").progressbar({ value: 0 });//hide
                $("#progressbarParent").hide();
                return;
            }
        });
    }
    
    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }
    
    

   

    function RefreshControlLayout(oAuthorizationRolesMappings)
    {
        $('#btnAdd,#btnEdit,#btnDelete,#btnView,#btnApprove,#btnUnApprove,#btnPreview,#btnAdvSearch,#btnPrintList').hide(); //

        if(PermissionChecker('Add','YarnRequisition', oAuthorizationRolesMappings)){$('#btnAdd').show();}
        if(PermissionChecker('Edit','YarnRequisition', oAuthorizationRolesMappings)){$('#btnEdit').show(); }
        if(PermissionChecker('View','YarnRequisition', oAuthorizationRolesMappings)){$('#btnView').show(); }
        if(PermissionChecker('Delete','YarnRequisition', oAuthorizationRolesMappings)){ $('#btnDelete').show(); }                
        if(PermissionChecker('Approved','YarnRequisition', oAuthorizationRolesMappings)){$('#btnApprove,#btnUnApprove').show();}
        if(PermissionChecker('Preview','YarnRequisition', oAuthorizationRolesMappings)){$('#btnPreview').show();  }
        if(PermissionChecker('AdvSearch','YarnRequisition', oAuthorizationRolesMappings)){$('#btnAdvSearch').show();}        
        if(PermissionChecker('PrintList','YarnRequisition', oAuthorizationRolesMappings)){$('#btnPrintList').show();}
    }


        //--------------------------Pick Yarn---------------------------
        $('#btnPickYarnCancel').click(function(){
            debugger;
            nYarnID = 0;
            nFabricIDNew = 0;
            nYarnName = "";
            nYarnCode = "";
            $('#txtYarn').val("");
            $('#txtYarnQty').val(0);
            $('#txtYarnRatio').val(0);
        });
        function YarnKeyDown(event) {
            //return;
            if (event.which == 13) {
                var oTxtName=$("#txtYarn").val();
                if (oTxtName != null) {
                    PickYarn(oTxtName);
                }
            }
            if (event.which == 8) {
                nYarnID = 0;
                nFabricIDNew = 0;
                nYarnName = "";
                nYarnCode = "";
            }
        }
        $('#btnPickYarnOK').click(function(){
            debugger;
            var sYarnName = "  ";
            PickYarn(sYarnName);
          
        });
        function PickYarn(oTxtName)
        {
            if(oTxtName == '' || oTxtName == null || oTxtName == 'undefined')
            {
                alert("Please enter Yarn name and press enter!!");
                return;
            }
            debugger;
            var oStyleSearch = {
                BUID:$('#divYarnRequisitions').data('BUID'),
                ProductName: oTxtName
            };
            console.log(oStyleSearch);
            debugger;
            var obj = {
                BaseAddress:$("#divYarnRequisitions").data("BaseAddress"),
                Object: (oStyleSearch) ,
                ControllerName: "YarnRequisition", //Product
                ActionName: "GetYarnCategory",//SearchByProductBUWise
                IsWinClose: false
            };
            var tblColums = []; var oColumn = []; var oColumn = { field: "ProductName", title: "Product Name", width: 250, align: "left" }; tblColums.push(oColumn);
            oColumn = { field: "ProductCode", title: "Code", width: 150, align: "left" }; tblColums.push(oColumn);
            DynamicPiker('Product',obj,tblColums,true,'ProductName','ProductID',500); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
        }
        function DynamicPiker(pickerName,obj,pTblColums,pMultiReturn,pSearchField,pID,nWidth)
        {
            debugger;
            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").show();
            setInterval(updateProgress,250);

            $.icsDataGets(obj, function (response) {
                debugger;
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0][pID] > 0) {
                        debugger;
                        var tblColums = pTblColums;
                        var oPickerParam = {
                            winid: 'win'+pickerName,
                            winclass: 'cls'+pickerName,
                            winwidth: nWidth,
                            winheight: 460,
                            tableid: 'tbl'+pickerName+'s',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName: pSearchField,
                            windowTittle: pickerName+' List',
                            colsable:true
                        };
                        $.icsPicker(oPickerParam);
                        $("#progressbar").progressbar({ value: 0 });//hide
                        $("#progressbarParent").hide();
                        IntializePickerbuttonYarn(oPickerParam);
                    }
                    else {
                        alert(response.objs[0].ErrorMessage);
                        $("#progressbar").progressbar({ value: 0 });//hide
                        $("#progressbarParent").hide();
                    }
                }
                else{
                    alert("Data Not Found.");
                    $("#progressbar").progressbar({ value: 0 });//hide
                    $("#progressbarParent").hide();
                    return;
                }
            });
        }
        function IntializePickerbuttonYarn(oPickerobj) {
            debugger;
            $("#" + oPickerobj.winid).find("#btnOk").click(function () {
                debugger;
                //for Single Select
                SetPickerValueAssignYarn(oPickerobj);
            });
            $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
                if (e.which == 13)//enter=13
                {
                    SetPickerValueAssignYarn(oPickerobj);
                }
            });
        }
        function SetPickerValueAssignYarn(oPickerobj)
        {
            debugger;
            var oResult;
            if (oPickerobj.multiplereturn)
            {
                oResult = $('#'+oPickerobj.tableid).datagrid('getChecked');
            }
            else
            {
                oResult = $('#'+oPickerobj.tableid).datagrid('getSelected');
            }

            if (oPickerobj.winid == 'winProduct')
            {
                SetYarn(oResult);
            }
            $("#" + oPickerobj.winid).icsWindow("close");
            $("#" + oPickerobj.winid).remove();
        }
        function SetYarn(oSelectedStyle) {
            debugger;
            nYarnID = oSelectedStyle.ProductID;
            nYarnName = oSelectedStyle.ProductName;
            nYarnCode = oSelectedStyle.ProductCode;
            $('#txtYarn').val(nYarnName);
            $('#txtYarnQty').val(0);
            $('#txtYarnRatio').val(0);
        }


        


</script>
