<html>
<head>
   @{
       ViewBag.Title = "Uset Wise Contractor Configure";
}
</head>
<body>
    @model ESimSol.BusinessObjects.UserWiseContractorConfigure
    <div class="menuMainCollectionTable" id="divUWCC">
        <div class="easyui-panel" title="Buyer Assign" style="font-family:Tahoma; text-align:center; height:88%;">
                <table id="tblBU" title="Business Units" class="easyui-datagrid" style="width:100%; height:160px; font-size: 12px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false">
                    <thead>
                        <tr>
                            <th field="Name" width="80%">Business Unit</th>
                        </tr>
                    </thead>
                </table>
            <table id="tblUserWiseContractorConfigure" title="Buyer List" class="easyui-datagrid" style="width:100%; height: 300px;" fitcolumns="true" rownumbers="true" pagination="false" singleselect="false" autorowheight="false"data-options="toolbar: '#toolbar',onClickCell: onClickCell">
                <thead>
                    <tr>
                        <th data-options="field:'Selected',checkbox:true"></th>
                        <th field="ContractorName" width="240">Buyer Name</th>
                        <th data-options="field:'StyleTypeIDs',width:100,
                        formatter:function(value,row){
                            return row.StyleTypeInString;
                        },
                        editor:{
                            type:'combobox',
                            options:{
                                valueField:'id',
                                textField:'text',
                                data:[{id:'0', text:'Sweater'}, {id:'1', text:'Knit'}, {id:'2', text:'Woven'}],
                                required:true,
                                multiple:true
                            }
                        }">Style Type</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbar">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" id="btnSearch" plain="true" onclick="Search()">Search</a>
            </div>
            </div>
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; width:100%; font-weight:bold">
                    <tr>
                        <td style="width:55%; text-align:right"></td>
                        <td style="width:30%;text-align:left; color:green;"><label id="lblUserCaption"></label> </td>
                        <td style="width:15%"><a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" id="btnSave" plain="true" onclick="Save()">Save</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a></td>
                    </tr>
                </table>
            </fieldset>
        </div>
</body>
</html>
<script type="text/javascript">
    var _sBaseAddress="";
    $(document).ready(function () {
        debugger;
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oUserWiseContractorConfigure = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oBusinessUnits = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
        RefreshBUs(oBusinessUnits);
        RefreshList(oUserWiseContractorConfigure.UserWiseContractorConfigures);
        $('#divUWCC').data('UserWiseContractorConfigure',oUserWiseContractorConfigure);
        $('#lblUserCaption').html(sessionStorage.getItem("PageHeader"));
    });

    function RefreshBUs(oBusinessUnits)
    {
        data=oBusinessUnits;
        data={"total":""+data.length+"","rows":data};
        $('#tblBU').datagrid('loadData',data);
    }

    function Search()
    {
        debugger;
        var oBU = $('#tblBU').datagrid('getSelected');
        if(oBU==null || parseInt(oBU.BusinessUnitID)<=0)
        {
            alert("Please select Business Unit.");
            return;
        }

        var sTargetLink = "";
        var sLink = window.location.href;
        var sLinkArray =[];sLinkArray = sLink.split('?');sTargetLink = sLinkArray[0]+'?';
        var sAndArray = sLinkArray[1].split('&');sAndArray[1] = 'buid='+oBU.BusinessUnitID;
        sTargetLink+=sAndArray[0]+"&"+sAndArray[1];
        window.location.href = sTargetLink;
    }

    var editIndex = undefined;
    function endEditing(){
        if (editIndex == undefined){return true}
        if ($('#tblUserWiseContractorConfigure').datagrid('validateRow', editIndex)){
            var ed = $('#tblUserWiseContractorConfigure').datagrid('getEditor', {index:editIndex,field:'StyleTypeIDs'});
            var styletype = $(ed.target).combobox('getText');
            $('#tblUserWiseContractorConfigure').datagrid('getRows')[editIndex]['StyleTypeInString'] = styletype;
            $('#tblUserWiseContractorConfigure').datagrid('endEdit', editIndex);
            editIndex = undefined;
            return true;
        } else {
            return false;
        }
    }
    function onClickCell(index, field){
        debugger;
        if (editIndex != index){
            if (endEditing()){
                $('#tblUserWiseContractorConfigure').datagrid('selectRow', index)
                        .datagrid('beginEdit', index);
                var ed = $('#tblUserWiseContractorConfigure').datagrid('getEditor', {index:index,field:field});
                ($(ed.target).data('textbox') ? $(ed.target).textbox('textbox') : $(ed.target)).focus();
                editIndex = index;
            } else {
                $('#tblUserWiseContractorConfigure').datagrid('selectRow', editIndex);
            }
        }
    }

    function RefreshList(oUserWiseContractorConfigures)
    {
        data=oUserWiseContractorConfigures;
        data={"total":""+data.length+"","rows":data};
        $('#tblUserWiseContractorConfigure').datagrid('loadData',data);
        CheckExistingData();
    }

    function CheckExistingData()
    {
        var oUserWiseContractorConfigures = $('#tblUserWiseContractorConfigure').datagrid('getRows');
        for(var i =0;i<oUserWiseContractorConfigures.length;i++)
        {
            if(oUserWiseContractorConfigures[i].UserWiseContractorConfigureID > 0)
            {
                $('#tblUserWiseContractorConfigure').datagrid('checkRow', i);
            }
        }
    }


    function Save()
    {
        debugger;

        if (endEditing()){
            $('#tblUserWiseContractorConfigure').datagrid('acceptChanges');
        }
        var oUserWiseContractorConfigure =RefreshObjects();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/User/CommitUserWiseContractor",
            traditional: true,
            data:  JSON.stringify(oUserWiseContractorConfigure),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                sfeedBackMessage= jQuery.parseJSON(data);
                if (sfeedBackMessage=="Successfully Saved")
                {
                    alert("Data Save Successfully!!");
                    window.location.href = sessionStorage.getItem("BackLink");
                }
                else
                {
                    alert(sfeedBackMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });

    }


    function ValidateInput()
    {
        debugger;
        var oUserWiseContractorConfigures = $('#tblUserWiseContractorConfigure').datagrid('getChecked');
        if(oUserWiseContractorConfigures.length<=0)
        {
            alert("Select at least select one Buyer ");
            return false;
        }
        return true;
    }


    function RefreshObjects()
    {
        debugger;
        var oNewUCCs = [];
        var oUWCConfigure = {UserID:$('#divUWCC').data('UserWiseContractorConfigure').UserID, UserWiseContractorConfigures:[]};
        var oUCCs = $('#tblUserWiseContractorConfigure').datagrid('getChecked');
        if(oUCCs!=null && oUCCs.length>0)
        {
            for(var i = 0;i<oUCCs.length;i++)
            {
                var oUserWiseContractorConfigure ={
                    UserWiseContractorConfigureID:oUCCs[i].UserWiseContractorConfigureID,
                    UserID : $('#divUWCC').data('UserWiseContractorConfigure').UserID,
                    ContractorID:oUCCs[i].ContractorID,
                    UserWiseContractorConfigureDetails: GetUWCCDetails(oUCCs[i].UserWiseContractorConfigureDetails,oUCCs[i].StyleTypeIDs, oUCCs[i].UserWiseContractorConfigureID)
                };
                oNewUCCs.push(oUserWiseContractorConfigure);
            }
        }
        oUWCConfigure.UserWiseContractorConfigures = oNewUCCs;
        return oUWCConfigure;
    }

    function GetUWCCDetails(oUWCCDetails, nStyleTypeIDs, noUserWiseContractorConfigureID)
    {
        var sSTyps = nStyleTypeIDs.split(",");
        var oTempUWCDetails = [];
        for(var i = 0;i<sSTyps.length;i++)
        {
            var oUWCCDetail = {
                     UserWiseContractorConfigureDetailID :GetUserWiseCCDetailID(oUWCCDetails,sSTyps[i]),
                    UserWiseContractorConfigureID:noUserWiseContractorConfigureID,
                    StyleType:sSTyps[i]
            };
            oTempUWCDetails.push(oUWCCDetail);

        }
        return oTempUWCDetails;
    }

    function GetUserWiseCCDetailID(oUWCCDetails, nStyleType )
    {
        for(var j = 0; j<oUWCCDetails.length;j++)
        {
            if(parseInt(oUWCCDetails[j].StyleType)== parseInt(nStyleType))
            {
                return oUWCCDetails[j].UserWiseContractorConfigureDetailID;
            }
        }

        return 0;
    }

    function Close()
    {

        window.location.href = sessionStorage.getItem("BackLink");
    }

    $(document).keydown(function(e) {
        //debugger;
        if(e.which == 27)//escape=27
        {
            //debugger;
            window.location.href = sessionStorage.getItem("BackLink");
        }
    });


</script>
