@{
    ViewBag.Title = "Service Schedule Mgt.";
}
@model IEnumerable<ESimSol.BusinessObjects.ServiceSchedule>
    <body>
        <div id="winReSchedule" class="easyui-window" title="Re Schedule" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div style="font-family:Tahoma">
                <fieldset style="margin-top:3px">
                    <table border="0" style="font-size:12px">
                        <tr>
                            <td style="width:110px; text-align:right">Service Interval:</td>
                            <td style="width:140px; text-align:left"><input type="text" class="number" style="width:65%;" id="txtServiceInterval" /> Months</td>

                            <td style="width:110px; text-align:right">Service Duration:</td>
                            <td style="width:140px; text-align:left"><input type="text" class="number" style="width:65%;" id="txtServiceDuration" /> Months</td>

                            <td style="width:120px; text-align:right">Calculate Date:</td>
                            <td style="width:120px; text-align:left"><input type="text" style="width:100%;" id="txtCalculateDate" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                        </tr>
                    </table>
                </fieldset>

                <fieldset style="margin-bottom:3px">
                    <legend style="font-weight:bold"> Action : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; width:100%">
                        <tr>
                            <td style="width:75%"></td>
                            <td style="width:25%">
                                <a id="btnReScheduleOk" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Ok</a>
                                <a id="btnReScheduleClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
        <div id="winDoneDate" class="easyui-window" title="Update Done Date" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div style="font-family:Tahoma">
                <fieldset style="margin-top:3px">
                    <table border="0" style="font-size:12px">
                        <tr>
                            <td style="width:150px; text-align:right">Done Date:</td>
                            <td style="width:250px; text-align:left"><input type="text" style="width:100%;" id="txtDoneDate" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                        </tr>
                    </table>
                </fieldset>

                <fieldset style="margin-bottom:3px">
                    <legend style="font-weight:bold"> Action : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; width:400px">
                        <tr>
                            <td style="width:300px; text-align:right"></td>
                            <td style="width:50px">
                                <a id="btnCommitDoneDate" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Ok</a>
                            </td>
                            <td style="width:50px">
                                <a id="btnDonewinClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
        <div class="menuMainCollectionTable">
            <table id="tblServiceSchedules" title="Service Schedule List" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
                <thead>
                    <tr>
                        <th data-options="field:'Selected',checkbox:true"></th>
                        <th field="ServiceDateSt" width="11%" align="center">Service Date</th>
                        <th field="InvoiceNo" width="10%" align="center">Invoice No</th>
                        <th field="ModelNo" width="12%" align="left">Model No</th>
                        <th field="ChassisNo" width="10%" align="left">Chassis No</th>
                        <th field="CustomerName" width="13%" align="left">Customer Name</th>
                        <th field="ChargeTypeSt" width="10%">Charge Type</th>
                        <th field="StatusSt" width="8%" align="center">Status</th>
                        <th field="IsPhoneCallSt" width="6%" align="center">Phone</th>
                        <th field="IsSMSSendSt" width="7%" align="center">SMS Send</th>
                        <th field="IsEmailSendSt" width="7%" align="center">Email Send</th>
                        <th field="DoneDateSt" width="10%" align="center">Done Date</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbar">
                <input type="checkbox" id="chkIsDateSearch" />&nbsp;
                <input id="StartDate" type="text" style="width:100px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /><label>To</label>&nbsp;<input id="EndDate" type="text" style="width:100px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                Customer Name:<input type="text" style="width:120px" id="txtCustomerName"  /> &nbsp;
                Invoice No:<input type="text" style="width:85px" id="txtInvoceNo" /> &nbsp;
                Model No:<input type="text" style="width:80px" id="txtModelNo" /> &nbsp;
                <select id="cboStatus" style="width:100px;"></select>
                <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                <a id="btnPhoneCall" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Phone</a>
                <a id="btnSMSSend" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-forword" plain="true">SMS</a>
                <a id="btnEmailSend" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-forword" plain="true">Email</a>
                <a id="btnDone" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Done</a>
                <a id="btnReSchedule" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Re-Schedule</a>
                <a id="btnPrintXL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">XL</a>
            </div>
        </div>
    </body>
    <script type="text/javascript">
    var _oServiceSchedules = [];
    var _oServiceStatusList = [];
    var _sBaseAddress = "";
    $(document).ready(function() {
        _oServiceStatusList = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ServiceStatusList));
        _oServiceSchedules = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        debugger;
        // RefreshList();
        $('#StartDate,#EndDate').datebox('setValue',icsdateformat(new Date()));
        $("#cboStatus").icsLoadCombo({List: _oServiceStatusList,OptionValue: "id", DisplayText: "Value",});
        $('#tblServiceSchedules').data('CustomerIDs','');
        $('#tblServiceSchedules').datagrid({selectOnCheck:false, checkOnSelect:false})
    });

    function RefreshList(oServiceSchedules)
    {
        $("#tblServiceSchedules").datagrid("loadData", oServiceSchedules);
    }

    $("#btnSearch").click(function(){
        Search();
    });


    function Search()
    {
        if(!$("#chkIsDateSearch").attr('checked') && ($('#txtInvoceNo').val()==null || $('#txtInvoceNo').val()=="")&& ($('#txtModelNo').val()==null || $('#txtModelNo').val()=="") && $('#cboStatus').val()<=0 && ($('#tblServiceSchedules').data('CustomerIDs')==null || $('#tblServiceSchedules').data('CustomerIDs')==""))
        {
            alert('Please Select Serarching Criteria');
            return;
        }
        var sparam = $("#chkIsDateSearch").attr('checked')?true:false;
        sparam +='~'+$('#StartDate').datebox('getValue')+'~'+ $('#EndDate').datebox('getValue')+'~'+$('#tblServiceSchedules').data('CustomerIDs');
        var oServiceSchedule = {
            InvoiceNo:$.trim($('#txtInvoceNo').val()),
            ModelNo:$.trim($('#txtModelNo').val()),
            Status:$('#cboStatus').val(),
            Param:sparam
        };
        $.ajax
          ({
              type: "POST",
              dataType: "json",
              url : _sBaseAddress+  "/ServiceSchedule/SearchSchedules",
              data: JSON.stringify(oServiceSchedule),
              contentType: "application/json; charset=utf-8",
              success: function (data) {
                  debugger;
                  var oServiceSchedules = data;
                  if (oServiceSchedules.length>0) 
                  {
                      if(oServiceSchedules[0].ErrorMessage == "" || oServiceSchedules[0].ErrorMessage == null)
                      {
                          RefreshList(oServiceSchedules)
                      }else{
                          alert(oServiceSchedules[0].ErrorMessage);
                      }
                  }
                  else
                  {
                      alert("Data Not Found");
                  }
              },
              error: function (xhr, status, error)
              {
                  alert(error);
              }
          });

    }
    $('#txtInvoceNo').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if(code==13)//enter
        {            
            if($('#txtInvoceNo').val()==""||$('#txtModelNo').val()==null)
            {
                alert("Please Type Invioce No.");return;
            }
            Search();
        }
    });   
    $('#txtModelNo').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if(code==13)//enter
        {            
            if($('#txtModelNo').val()==""||$('#txtModelNo').val()==null)
            {
                alert("Please Type Model No.");return;
            }
            Search();
        }
    });
    $("#txtCustomerName").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtCustomerName').val())==null || $.trim($('#txtCustomerName').val())=="")
            {
                alert("Type Customer Name and Press Enter.");
                return;
            }
            var oContractor = {
                Params: '2' + '~' + $.trim($('#txtCustomerName').val())+'~'+sessionStorage.getItem("BUID")
            };

            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oContractor,
                ControllerName: "Contractor",
                ActionName: "ContractorSearchByNameType",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                debugger;
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ContractorID > 0) {
                        debugger;
                        var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winCustomers',
                            winclass: 'clsCustomer',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblCustomers',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'Name',
                            windowTittle: 'Customer List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }
                else{
                    alert("Data Not Found.");
                    return;
                }
            });
        }if (code == 8) //backspace=8
        {
            //debugger;
            $("#txtCustomerName").removeClass('fontColorOfPickItem');
            $('#tblServiceSchedules').data('CustomerIDs','');
        }
    });

    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }
    function SetPickerValueAssign(oPickerobj)
    {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn)
        {
            oreturnobjs = $('#'+oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#'+oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid == 'winCustomers')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0)
            {
                $("#txtCustomerName").val( oreturnobjs.length==1? oreturnobjs[0].Name:oreturnobjs.length+" Customer's Selected");
                $('#tblServiceSchedules').data('CustomerIDs',ICS_PropertyConcatation(oreturnobjs,'ContractorID'));//ContractorID
                $("#txtCustomerName").addClass('fontColorOfPickItem');
                $('#txtCustomerName').focus();
            }

        }
     
        
    }
    $("#btnPhoneCall").click(function(){
        debugger;
        var oServiceSchedules= $('#tblServiceSchedules').datagrid('getChecked');
        if(oServiceSchedules==null || oServiceSchedules.length<=0)
        {
            alert("Please Selete at least 1 row!");
            return false;
        }
        if(oServiceSchedules.IsPhoneCall==true)
        {
            alert("Already give Call.");
            return false;
        }
        if (!confirm("Sure to Called Him/Her?")) return ;
        for(var i=0; i<oServiceSchedules.length; i++)
        {
            if(oServiceSchedules[i].IsPhoneCall == true)
            {
                alert("already Called Him:"+oServiceSchedules[i].InvoceNo);
                return;
            }
        }
        var oServiceSchedule = {ServiceSchedules:oServiceSchedules};
        $.ajax
               ({
                   type: "POST",
                   dataType: "json",
                   url : _sBaseAddress+"/ServiceSchedule/PhoneCall",
                   data: JSON.stringify(oServiceSchedule),
                   contentType: "application/json; charset=utf-8",
                   success: function (data) {
                       debugger;
                       var oServiceSchedule = jQuery.parseJSON(data);
                       if (oServiceSchedule.ErrorMessage == "" || oServiceSchedule.ErrorMessage == null)
                       {
                           alert("Sucessfully Updated Call History.");
                           for(var i=0; i<oServiceSchedules.length; i++)
                           {
                               var oTempSchedule = oServiceSchedules[i];
                               var SelectedRowIndex=$('#tblServiceSchedules').datagrid('getRowIndex',oTempSchedule);
                               oTempSchedule.IsPhoneCall = true;
                               oTempSchedule.IsPhoneCallSt = "Yes";
                               $('#tblServiceSchedules').datagrid('updateRow',{index:SelectedRowIndex,row:oTempSchedule });
                           }
                       }
                       else
                       {
                           alert(oServiceSchedule.ErrorMessage);
                       }
                   },
                   error: function (xhr, status, error)
                   {
                       alert(error);
                   }
               });
    });
    $("#btnSMSSend").click(function(){
        debugger;
        var oServiceSchedules= $('#tblServiceSchedules').datagrid('getChecked');
        if(oServiceSchedules==null || oServiceSchedules.length<=0)
        {
            alert("Please Selete at least 1 row!");
            return false;
        }
        if(oServiceSchedules.IsDone==true)
        {
            alert("Already Done.");
            return false;
        }
        if (!confirm("Confirm to Send SMS?")) return ;
        for(var i=0; i<oServiceSchedules.length; i++)
        {
            if(oServiceSchedules[i].IsSMSSend == true)
            {
                alert("Can Not Send SMS !! already Send SMS For Invoice No :"+oServiceSchedules[i].InvoceNo);
                return;
            }
            if(oServiceSchedules[i].IsDone == true)
            {
                alert("already Done Invoice No :"+oServiceSchedules[i].InvoceNo);
                return;
            }
        }
        var oServiceSchedule = {ServiceSchedules:oServiceSchedules,IsEmailSend:false};
        $.ajax
               ({
                   type: "POST",
                   dataType: "json",
                   url : _sBaseAddress+"/ServiceSchedule/SendEmailOrSMS",
                   data: JSON.stringify(oServiceSchedule),
                   contentType: "application/json; charset=utf-8",
                   success: function (data) {
                       debugger;
                       var oServiceSchedule = jQuery.parseJSON(data);
                       if (oServiceSchedule.ErrorMessage == "" || oServiceSchedule.ErrorMessage == null)
                       {
                           alert("Sucessfully Send SMS");
                           for(var i=0; i<oServiceSchedules.length; i++)
                           {
                               var oTempSchedule = oServiceSchedules[i];
                               var SelectedRowIndex=$('#tblServiceSchedules').datagrid('getRowIndex',oTempSchedule);
                               oTempSchedule.IsSMSSend = true;
                               oTempSchedule.IsSMSSendSt = "Yes";
                               $('#tblServiceSchedules').datagrid('updateRow',{index:SelectedRowIndex,row:oTempSchedule });
                           }
                       }
                       else
                       {
                           alert(oServiceSchedule.ErrorMessage);
                       }
                   },
                   error: function (xhr, status, error)
                   {
                       alert(error);
                   }
               });
    });
    $("#btnEmailSend").click(function(){
        debugger;
        var oServiceSchedules= $('#tblServiceSchedules').datagrid('getChecked');
        if(oServiceSchedules==null || oServiceSchedules.length<=0)
        {
            alert("Please Selete at least 1 row!");
            return false;
        }
        if(oServiceSchedules.IsDone==true)
        {
            alert("Already Done.");
            return false;
        }
        if (!confirm("Confirm to Send Email?")) return ;
        var sIDS="";
        for(var i=0; i<oServiceSchedules.length; i++)
        {
            if(oServiceSchedules[i].IsEmailSend == true)
            {
                alert("Can Not Send Email !! already Send Email For Invoice No :"+oServiceSchedules[i].InvoceNo);
                return;
            }
            if(oServiceSchedules[i].IsDone == true)
            {
                alert("already Done Invoice No :"+oServiceSchedules[i].InvoceNo);
                return;
            }
            sIDS +=oServiceSchedules[i].ServiceScheduleID+",";
            //oServiceSchedules[i].ServiceDate = new Date(oServiceSchedules[i].ServiceDateSt);
        }
        sIDS = sIDS.substring(0,sIDS.length-1);
        var oServiceSchedule = {Param:sIDS,IsEmailSend:true};
        $.ajax
               ({
                   type: "POST",
                   dataType: "json",
                   url : _sBaseAddress+"/ServiceSchedule/SendEmailOrSMS",
                   data: JSON.stringify(oServiceSchedule),
                   contentType: "application/json; charset=utf-8",
                   success: function (data) {
                       debugger;
                       var oServiceSchedule = jQuery.parseJSON(data);
                       if (oServiceSchedule.ErrorMessage == "" || oServiceSchedule.ErrorMessage == null)
                       {
                           alert("Sucessfully Send Email");
                           for(var i=0; i<oServiceSchedules.length; i++)
                           {
                               var oTempSchedule = oServiceSchedules[i];
                               var SelectedRowIndex=$('#tblServiceSchedules').datagrid('getRowIndex',oTempSchedule);
                               oTempSchedule.IsEmailSend = true;
                               oTempSchedule.IsEmailSendSt = "Yes";                             
                               $('#tblServiceSchedules').datagrid('updateRow',{index:SelectedRowIndex,row:oTempSchedule });
                           }
                       }
                       else
                       {
                           alert(oServiceSchedule.ErrorMessage);
                       }
                   },
                   error: function (xhr, status, error)
                   {
                       alert(error);
                   }
               });
    });

    //Done
    $("#btnDone").click(function(){
        debugger;
        var oServiceSchedules= $('#tblServiceSchedules').datagrid('getChecked');
        if(oServiceSchedules==null || oServiceSchedules.length<=0)
        {
            alert("Please Selete at least 1 row!");
            return false;
        }
        if(oServiceSchedules.IsDone==true)
        {
            alert("Already Done.");
            return false;
        }
        $("#winDoneDate").icsWindow('open', "Update Done Date");
        $("#winDoneDate input").not("input[type='button']").val("");
        $('#txtDoneDate').datebox('setValue',icsdateformat(new Date()));      
    });
    $("#btnCommitDoneDate").click(function(){
        debugger;
        var oServiceSchedules= $('#tblServiceSchedules').datagrid('getChecked');
        if(oServiceSchedules==null || oServiceSchedules.length<=0)
        {
            alert("Please Selete at least 1 row!");
            return false;
        }
     
        if (!confirm("Confirm to Done?")) return ;
        for(var i=0; i<oServiceSchedules.length; i++)
        {
            if(oServiceSchedules[i].IsDone == true)
            {
                alert("already Done Invoice No :"+oServiceSchedules[i].InvoceNo);
                return;
            }
            oServiceSchedules[i].DoneDate = $('#txtDoneDate').datebox('getValue');
        }
        var dTempDoneDate = $('#txtDoneDate').datebox('getValue');
        var oServiceSchedule = {ServiceSchedules:oServiceSchedules};
        $.ajax
               ({
                   type: "POST",
                   dataType: "json",
                   url : _sBaseAddress+"/ServiceSchedule/Done",
                   data: JSON.stringify(oServiceSchedule),
                   contentType: "application/json; charset=utf-8",
                   success: function (data) {
                       debugger;
                       var oServiceSchedule = jQuery.parseJSON(data);
                       if (oServiceSchedule.ErrorMessage == "" || oServiceSchedule.ErrorMessage == null)
                       {
                           alert("Sucessfully Done");
                           $("#winDoneDate").icsWindow('close');
                           for(var i=0; i<oServiceSchedules.length; i++)
                           {
                               var oTempSchedule = oServiceSchedules[i];
                               var SelectedRowIndex=$('#tblServiceSchedules').datagrid('getRowIndex',oTempSchedule);
                               oTempSchedule.IsDone = true;
                               oTempSchedule.Status = 3;
                               oTempSchedule.StatusSt = "Done";
                               oTempSchedule.DoneDateSt =dTempDoneDate;
                               $('#tblServiceSchedules').datagrid('updateRow',{index:SelectedRowIndex,row:oTempSchedule });
                           }
                       }
                       else
                       {
                           alert(oServiceSchedule.ErrorMessage);
                       }
                   },
                   error: function (xhr, status, error)
                   {
                       alert(error);
                   }
               });
    });
    $('#btnDonewinClose').click(function(e){
        $("#winDoneDate").icsWindow('close');
    });
        
    //Re Schedule
    $("#btnReSchedule").click(function(){
        debugger;
        var oServiceSchedule= $('#tblServiceSchedules').datagrid('getSelected');
        if(oServiceSchedule==null || oServiceSchedule.ServiceScheduleID<=0)
        {
            alert("Please Selete an Item From List.");
            return false;
        }
        if(oServiceSchedule.IsDone == false)
        {
            alert("Please Select Only Done Item");
            return;
        }
        $.ajax
             ({
                 type: "POST",
                 dataType: "json",
                 url : _sBaseAddress+"/ServiceSchedule/GetServiceSchedule",
                 data: JSON.stringify(oServiceSchedule),
                 contentType: "application/json; charset=utf-8",
                 success: function (data) {
                     debugger;
                     var oServiceSchedule = jQuery.parseJSON(data);
                     if (oServiceSchedule.ErrorMessage == "" || oServiceSchedule.ErrorMessage == null)
                     {
                         $("#winReSchedule").icsWindow('open', "Re Schedule");
                         $("#winReSchedule input").not("input[type='button']").val("");
                         $('#txtServiceInterval').val(oServiceSchedule.ServiceInterval);
                         $('#txtServiceDuration').val(oServiceSchedule.ServiceDurationInMonth);
                         $('#txtCalculateDate').datebox('setValue',oServiceSchedule.DoneDateSt);  
                     }
                     else
                     {
                         alert(oServiceSchedule.ErrorMessage);
                     }
                 },
                 error: function (xhr, status, error)
                 {
                     alert(error);
                 }
             });
        

   
    });
    $("#btnReScheduleOk").click(function(){
        debugger;
        var oServiceSchedule= $('#tblServiceSchedules').datagrid('getSelected');
        if(oServiceSchedule==null || oServiceSchedule.ServiceScheduleID<=0)
        {
            alert("Please Selete an Item From List.");
            return false;
        }
     
        if (!confirm("Confirm to Re Scheduling?")) return ;
        var SelectedRowIndex=$('#tblServiceSchedules').datagrid('getRowIndex',oServiceSchedule);
        oServiceSchedule.ServiceInterval =  $('#txtServiceInterval').val();
        oServiceSchedule.ServiceDurationInMonth =  $('#txtServiceDuration').val();
        oServiceSchedule.DoneDate = $('#txtDoneDate').datebox('getValue');
        $.ajax
               ({
                   type: "POST",
                   dataType: "json",
                   url : _sBaseAddress+"/ServiceSchedule/ReSchedule",
                   data: JSON.stringify(oServiceSchedule),
                   contentType: "application/json; charset=utf-8",
                   success: function (data) {
                       debugger;
                       var oServiceSchedule = jQuery.parseJSON(data);
                       if (oServiceSchedule.ErrorMessage == "" || oServiceSchedule.ErrorMessage == null)
                       {
                           alert("Schedule Updated");
                           $("#winReSchedule").icsWindow('close');
                           if(confirm('Want to Reload'))
                           {
                               Search();
                           }else
                           {
                               $('#tblServiceSchedules').datagrid('updateRow',{index:SelectedRowIndex,row:oServiceSchedule });
                           }
                       }
                       else
                       {
                           alert(oServiceSchedule.ErrorMessage);
                       }
                   },
                   error: function (xhr, status, error)
                   {
                       alert(error);
                   }
               });
    });
    $('#btnReScheduleClose').click(function(e){
        $("#winReSchedule").icsWindow('close');
    });

        
    $("#btnPrintXL").click(function(){
        debugger;
        var oServiceSchedules= $('#tblServiceSchedules').datagrid('getChecked');
        if(oServiceSchedules==null || oServiceSchedules.length<=0)
        {
            alert("Please Selete at least 1 row!");
            return false;
        }
        var sIDs = "";
        for(var i=0; i<oServiceSchedules.length; i++)
        {
            sIDs +=oServiceSchedules[i].ServiceScheduleID+",";
        }
        sIDs = sIDs.substr(0, sIDs.length-1);
        var oServiceSchedule = {Param:sIDs};
        $.ajax
               ({
                   type: "POST",
                   dataType: "json",
                   url : _sBaseAddress+"/ServiceSchedule/StoreIDsInSession",
                   data: JSON.stringify(oServiceSchedule),
                   contentType: "application/json; charset=utf-8",
                   success: function (data) {
                       debugger;
                       var sFeedBackMessage = jQuery.parseJSON(data);
                       if (sFeedBackMessage==="Successful")
                       {
                           var tsv=((new Date()).getTime())/1000;
                           window.open(_sBaseAddress+'/ServiceSchedule/PrepareServiceScheduleInXL?ts='+tsv,"_blank");
                       }
                       else
                       {
                           alert(sFeedBackMessage);
                       }
                   },
                   error: function (xhr, status, error)
                   {
                       alert(error);
                   }
               });
    });
    </script>
