@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Route Sheet Grace";
}
@model IEnumerable <ESimSol.BusinessObjects.RouteSheetGrace>
    <div ng-app="mainApp">
        <div ng-controller="mainController">
            <div class="menumaincollectiontable" style="height:100%; width:99.4%">
                <div class="ui-grid-top-panel" style="margin:5px;">
                    <div class="form-inline" style="padding:4px">
                        <input type="text" ng-model="txtSearchByNo" ng-keyup="SearchByNo($event)" placeholder="Search by {{RouteSheetSetup.RSShortName}}" style="width:140px" />
                        <input type="text" ng-model="txtSearchByOrderNo" ng-keyup="SearchByOrderNo($event)" placeholder="Search by Order No" style="width:150px" />
                        <button type="button" class="btn btn-sm btn-primary" aria-label="Left Align" ng-click="AdvanceSearch()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Advance Search </button>
                        <button type="button" class="btn btn-sm btn-info" aria-label="Left Align" ng-click="Edit()"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Update Info </button>
                        <button type="button" class="btn btn-sm btn-success" aria-label="Left Align" ng-click="Approve()"> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Approve </button>
                        <button type="button" class="btn btn-sm btn-primary" aria-label="Left Align" ng-click="Preview_RSGrace()"> <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Preview </button>
                        <button type="button" class="btn btn-sm btn-primary" aria-label="Left Align" ng-click="Preview_DyeingCard()"> <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Preview(Dyeing Card) </button>
                        <button type="button" class="btn btn-sm btn-primary" aria-label="Left Align" ng-click="PrintList()"> <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print List </button>
                        <button type="button" class="btn btn-sm btn-primary" aria-label="Left Align" ng-click="PrintExcel()"> <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print XL </button>
                    </div>
                    </div>
                    <div ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-key-nav ui-grid-edit class="grid ui-grid-selectable" style="width:100%;"></div>
                </div>
        </div>
        <script type="text/ng-template" id="RouteSheetGrace.html">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-title">Grace Approve operation</h4>
            </div>
            <div class="modal-body form-horizontal regionExportUP ms-custom-control" id="modal-body">
                <div class="row">
                    <div class="row col-md-12">
                        <div class="col-md-5 text-right">
                            <label class="control-label">Batch No:</label>
                        </div>
                        <div class="col-md-7 text-left">
                            <input class="form-control" ng-model="RouteSheetGrace.RouteSheetNo" style="width:100%" disabled/>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-5 text-right">
                            <label class="control-label">Order No:</label>
                        </div>
                        <div class="col-md-7 text-left">
                            <input class="form-control" ng-model="RouteSheetGrace.OrderNo" style="width:100%" disabled />
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-5 text-right">
                            <label class="control-label">Qty Grace :</label>
                        </div>
                        <div class="col-md-7 text-left">
                            <input class="form-control" ng-model="RouteSheetGrace.QtyGrace" style="width:100%" />
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-5 text-right">
                            <label class="control-label">Note :</label>
                        </div>
                        <div class="col-md-7 text-left">
                            <input class="form-control" ng-model="RouteSheetGrace.Note" style="width:100%" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-primary btn-sm" aria-label="Left Align" ng-click="Save()" ng-hide="hide"> <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save</button>
                <button type="button" class="btn-danger btn-sm" aria-label="Left Align" ng-click="cancel()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
            </div>
        </script>

        <script type="text/ng-template" id="RouteSheetGraceApproval.html">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-title">Grace Approve operation</h4>
            </div>
            <div class="modal-body form-horizontal regionExportUP ms-custom-control" id="modal-body">
                <div class="row">
                    <div class="row col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Batch No:</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <input class="form-control" ng-model="RouteSheetGrace.RouteSheetNo" style="width:100%" disabled />
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Order No:</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <input class="form-control" ng-model="RouteSheetGrace.OrderNo" style="width:100%" disabled />
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Yarn Type:</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <input class="form-control" ng-model="RouteSheetGrace.ProductName" style="width:100%" disabled />
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Order Qty:</label>
                        </div>
                        <div class="col-md-2 text-left">
                            <input class="form-control number" ng-model="RouteSheetGrace.OrderQty | number:2" style="width:100%" disabled />
                        </div>
                        <div class="col-md-4 text-right">
                            <label class="control-label">Prev. Dyeing Qty:</label>
                        </div>
                        <div class="col-md-2 text-left">
                            <input class="form-control number" ng-model="RouteSheetGrace.QtyRS_Previous | number:2" style="width:100%" disabled />
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Prev. Grace Qty:</label>
                        </div>
                        <div class="col-md-2 text-left">
                            <input class="form-control number" ng-model="RouteSheetGrace.QtyGrace_Previous | number:2" style="width:100%" disabled />
                        </div>
                        <div class="col-md-4 text-right">
                            <label class="control-label">New Dyeing Qty:</label>
                        </div>
                        <div class="col-md-2 text-left">
                            <input class="form-control number" ng-model="RouteSheetGrace.QtyRS | number:2" style="width:100%" disabled />
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Recycle Qty:</label>
                        </div>
                        <div class="col-md-2 text-left">
                            <input class="form-control number" ng-model="RouteSheetGrace.RecycleQty | number:2" style="width:100%" disabled />
                        </div>
                        <div class="col-md-4 text-right">
                            <label class="control-label">Wastage Qty:</label>
                        </div>
                        <div class="col-md-2 text-left">
                            <input class="form-control number" ng-model="RouteSheetGrace.WastageQty | number:2" style="width:100%" disabled />
                        </div>
                    </div>
                    
                    <div class="row col-md-12">
                        <div class="col-md-2 text-right">
                        </div>
                        <div class="col-md-9 text-right">
                            <label style=" font-size: 8px;color:red">Short Qty=(Order Qty+Previous Grace)-(Total Prev. Dyeing Qty+ New Dyeing Qty)</label>
                        </div>
                      
                        <div class="col-md-1text-left">

                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-3 text-right">
                        </div>
                        <div class="col-md-3 text-right">
                            <label class="control-label">Short Qty:</label>
                        </div>
                        <div class="col-md-4 text-left">
                            <input class="form-control number" ng-model="RouteSheetGrace.Exceed_Qty | number:2" style="width:100%" disabled />
                        </div>
                        <div class="col-md-2 text-left">

                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-3 text-right">
                        </div>
                        <div class="col-md-3 text-right">
                            <label class="control-label">Need Grace Qty:</label>
                        </div>
                        <div class="col-md-4 text-left">
                            <input class="form-control number" ng-model="RouteSheetGrace.QtyGrace | number:2" style="width:100%" disabled />
                        </div>
                        <div class="col-md-2 text-left">

                        </div>
                    </div>
                   
                    <div class="row col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Note :</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <input class="form-control " ng-model="RouteSheetGrace.Note" style="width:100%" readonly />
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Approval Note :</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <input class="form-control " ng-model="RouteSheetGrace.NoteApp" style="width:100%" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-success btn-sm" aria-label="Left Align" ng-click="ApproveGrace()" ng-hide="hide"> <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Approve</button>
                <button type="button" class="btn-danger btn-sm" aria-label="Left Align" ng-click="cancel()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
            </div>
        </script>
    </div>

    <style type="text/css">
        .form-control {
            height: 26px;
            padding: 0px 6px;
            font-size: 12px;
        }

        .ui-grid-top-panel .btn-sm, .input-group-addon {
            padding: 3px 3px;
        }

        .grid {
            height: 520px;
            width: 100%;
        }

        .custom-pagination {
            margin-top: -15px;
            margin-bottom: -15px;
        }

        .spacing {
            padding-bottom: 5px;
        }
    </style>

    <script type="text/javascript">
    var _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    var oRouteSheetGraceList =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var oRouteSheetSetup=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.RouteSheetSetup));
    var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
    var _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
   
    debugger;
    var  mainAppModule = angular.module('mainApp', ['ngAnimate', 'ui.bootstrap', 'ui.grid','ui.grid.selection', 'ui.grid.cellNav','ui.grid.resizeColumns','ms.service']);
    mainAppModule.controller('mainController', function ($scope, $http, $uibModal,$interval,$timeout,  $log, uiGridConstants, msModal, userSession, advanceSearch) {

        $scope.RouteSheetSetup = oRouteSheetSetup;
        $scope.gridOptions =
        { enableRowSelection: true,
            enableRowHeaderSelection: false,
            multiSelect: false,
            showColumnFooter: true,
            enableColumnResizing: true,
            columnDefs: [
                {name: ' ',width:'3%', cellTemplate: '<div style="padding-top:5px;"><span>{{grid.renderContainers.body.visibleRowCache.indexOf(row)+1}}</span></div>',cellClass: 'text-center', enableCellEdit: false, enableSorting:false, enableColumnResizing:false, enableColumnMenu:false},
                { field: 'RouteSheetNo',        name: 'Batch No',       width: '10%',   cellClass: 'text-left',     enableCellEdit:false   },
                { field: 'OrderNo',             name: 'OrderNo',        width: '10%',   cellClass: 'text-left',     enableCellEdit:false   },
                { field: 'GraceCount',          name: 'GraceCount',     width: '5%',    cellClass: 'text-right',    enableCellEdit:false   },
                { field: 'OrderQty',            name:'OrderQty',        width:'8%',     cellClass: 'text-right',    cellFilter: 'number:2',  aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true,  type: 'number', enableCellEdit:true,footerCellClass: 'text-right' ,footerCellFilter: 'number:2'},
                { field: 'QtyGrace',            name:'QtyGrace',        width:'8%',     cellClass: 'text-right',    cellFilter: 'number:2',  aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true,  type: 'number', enableCellEdit:true,footerCellClass: 'text-right' ,footerCellFilter: 'number:2'},
                { field: 'Qty_Pro',             name:'Qty(Pro)',        width:'8%',     cellClass: 'text-right',    cellFilter: 'number:2',  aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true,  type: 'number', enableCellEdit:true,footerCellClass: 'text-right' ,footerCellFilter: 'number:2'},
                { field: 'RecycleQty',          name:'RecycleQty',      width:'8%',     cellClass: 'text-right',    cellFilter: 'number:2',  aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true,  type: 'number', enableCellEdit:true,footerCellClass: 'text-right' ,footerCellFilter: 'number:2'},
                { field: 'WastageQty',          name:'WastageQty',      width:'8%',     cellClass: 'text-right',    cellFilter: 'number:2',  aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true,  type: 'number', enableCellEdit:true,footerCellClass: 'text-right' ,footerCellFilter: 'number:2'},
                //{ field: 'YetToProduction',     name:'YetToProduction', width:'8%',     cellClass: 'text-right',    cellFilter: 'number:2',  aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true,  type: 'number', enableCellEdit:true,footerCellClass: 'text-right' ,footerCellFilter: 'number:2'},
                { field: 'Note',                name: 'Reason',         width: '15%',   cellClass: 'text-left',     enableCellEdit:false   },
                { field: 'QtyGraceForApprove',  name: 'Approve Qty',    width: '10%',   cellClass: 'text-left',     cellFilter: 'number:2', enableCellEdit:false,  aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true,  type: 'number', enableCellEdit:true,footerCellClass: 'text-right' ,footerCellFilter: 'number:2'   },
                { field: 'PrepareByName',       name: 'RequestBy',      width: '15%',   cellClass: 'text-right',    enableCellEdit:false   },
                { field: 'ApprovedByName',      name: 'ApprovedBy',     width: '15%',   cellClass: 'text-left',     enableCellEdit:false },
                { field: 'NoteApp',             name: 'Approve Note',   width: '15%',   cellClass: 'text-left',     enableCellEdit:false},
                { field: 'LastUpdateDateTimeSt',name: 'Request Date',   width: '12%',   cellClass: 'text-left',     enableCellEdit:false},
                { field: 'ApproveDateSt',       name: 'ApproveDate',    width: '12%',   cellClass: 'text-left',     enableCellEdit:false},
            ],
            data:oRouteSheetGraceList,
        onRegisterApi:function(gridApi)
        {
            $scope.gridApi = gridApi;
            $scope.gridApi.selection.clearSelectedRows();

            $scope.gridApi.core.refresh();
            if(oRouteSheetGraceList.length>0 && userSession.getRowIndex()>=0)
            {
                $scope.gridApi.grid.modifyRows(oRouteSheetGraceList);
                $scope.gridApi.selection.selectRow(oRouteSheetGraceList[userSession.getRowIndex()]);
            }
        }
        };

        $scope.SearchByNo = function(e)
        {
            debugger;

            if(e.which==13){

                var txtSearchByNo = $scope.txtSearchByNo;

                if(txtSearchByNo==undefined || txtSearchByNo=='')
                {
                    alert("Please Type "+($scope.RouteSheetSetup==null?'No':$scope.RouteSheetSetup.RSShortName)+' And Press Enter!'); return;
                }

                var oRouteSheet = {
                    RouteSheetNo:txtSearchByNo
                };

                $http.post(_sBaseAddress + '/RouteSheetGrace/GetsRouteSheetGraceByNo', oRouteSheet).then(
                  function (response)
                  {
                      debugger;
                      var result=jQuery.parseJSON(response.data);
                      console.log(result);

                      if(result.length==0)
                      {
                          alert("No Data Found!!"); return;
                      }

                      if(result[0].RouteSheetID>0 && result[0].ErrorMessage=='')
                      {
                          $scope.gridOptions.data=result;
                      }
                      else
                      {
                          alert(result[0].ErrorMessage); return;
                      }
                  },
                  function (response) { alert(response.statusText);}
              );
            }
        }
        $scope.SearchByOrderNo = function(e)
        {
            debugger;

            if(e.which==13){

                var txtSearchByNo = $scope.txtSearchByOrderNo;

                if(txtSearchByNo==undefined || txtSearchByNo=='')
                {
                    alert("Please Type Order No And Press Enter!"); return;
                }

                var oRouteSheet = {
                    RouteSheetNo:"",
                    OrderNo:txtSearchByNo
                };
   
                $http.post(_sBaseAddress + '/RouteSheetGrace/GetsRouteSheetGraceByNo', oRouteSheet).then(
                  function (response)
                  {
                      debugger;
                      var result=jQuery.parseJSON(response.data);
                      console.log(result);

                      if(result.length==0)
                      {
                          alert("No Data Found!!"); return;
                      }

                      if(result[0].RouteSheetID>0 && result[0].ErrorMessage=='')
                      {
                          $scope.gridOptions.data=result;
                      }
                      else
                      {
                          alert(result[0].ErrorMessage); return;
                      }
                  },
                  function (response) { alert(response.statusText);}
              );
            }
        }

        
        $scope.AdvanceSearch = function ()
        {
            debugger;
            //var oColumns = [];
            //var  oColumn = { field: 'ProductName', name: 'ProductName',width: '45%', enableSorting: false  };oColumns.push(oColumn);
            //oColumn = { field: 'ProductCategoryName', name: 'ProductCategoryName',width: '45%', enableSorting: false  };oColumns.push(oColumn);

            //var paramObj_Model={
            //    obj:{ProductName: '@@ProductID', BUID:$scope.BUID},
            //    objName:'ProductName',
            //    url:_sBaseAddress+'/Product/SearchByProductBUWise',
            //    title:'Product List',
            //    multiSelect:true,
            //    columns:oColumns
            //}

            //oColumns = [];
            //var oColumn = { field: 'Name', name: 'Applicant Name',width: '70%', enableSorting: false  };oColumns.push(oColumn);
            //oColumn = { field: 'Address', name: 'Address',width: '30%', enableSorting: false  };oColumns.push(oColumn);

            //var paramObj_Contractor={
            //    obj:{Params: '2,3' + '~' +'@@ContractorID'+'~'+sessionStorage.getItem('BUID')},
            //    objName:'Params',
            //    url:_sBaseAddress+'/Contractor/ContractorSearchByNameType',
            //    title:'Contractor List',
            //    multiSelect:true,
            //    columns:oColumns
            //}

            //IssueStores:$scope.IssueStores
            var oElementList = [{ DisplayName: "Batch No",  BOField: "RouteSheetNo",      InputType: 'text' },
                                { DisplayName: "Order No",  BOField: "OrderNo",      InputType: 'text' },
                                //{ DisplayName: "Product",  BOField: "ProductID",   InputType: 'picker', PickerObject:paramObj_Model },
                                //{ DisplayName: "Buyer",         BOField: "ContractorID",    InputType: 'picker', PickerObject:paramObj_Contractor },
                                //{ DisplayName: "Issue Store",    BOField: "WorkingUnitID",       InputType: 'select', OptionList:$scope.IssueStores, OptionValue:{id:'WorkingUnitID', Value:'OperationUnitName'}},
                                
                                { DisplayName: "Batch Date",BOField: "OrderDate",    InputType: 'date' },
                                { DisplayName: "Request Date",BOField: "RequestDate",    InputType: 'date' },
                                { DisplayName: "Approve Date",BOField: "ReceiveDate",    InputType: 'date' },
                                { DisplayName: ["Yet To Approve"],  BOField: ["YetToApprove"],   InputType: 'bool'},
            ];
            var modalObj={
                size:'md',
                title:"Advance Search",
                url:_sBaseAddress+'/Home/AdvanceSearch',
                CompareOperators:oCompareOperators,
                HtmlElements:oElementList,
                isAdvanceSearch:true, // if TRUE: 'urlAdvanceSearch' should be define
                urlAdvanceSearch:_sBaseAddress + '/RouteSheetGrace/AdvSearchRSGrace'
            }

            var modalInstance=advanceSearch.Instance(modalObj);
            modalInstance.result.then(function (result)
            {
                console.log(result);
                if(result[0].ErrorMessage!="")
                {
                    alert(result[0].ErrorMessage);return;
                }
                if(result.length<=0)
                {
                    alert("No Order Found!");return
                }
                
                $scope.gridOptions.data=result;

            }, function ()
            {
                $log.info('Modal dismissed at: ' + new Date());
            });
        }


        $scope.Add = function(e)
        {
            var modalInstance = $uibModal.open({
                ariaLabelledBy: 'modal-title',
                ariaDescribedBy: 'modal-body',
                size: 'md',
                templateUrl: 'RouteSheetGrace.html',
                controller: 'RouteSheetGraceCtrl',
                controllerAs: 'mainController',
                resolve: {
                    obj: function () {
                        return { value: oRouteSheetGrace, Operation: 'New'};
                    }
                }
            });
            modalInstance.result.then(function (result) {
                if(result.RouteSheetGraceID>0)
                {
                    $scope.gridOptions.data.push(result);
                }

            }, function () {
                $log.info('Modal dismissed at: ' + new Date());
            });
        }
        $scope.Edit = function(e)
        {
            debugger;
            var oData = $scope.gridApi.selection.getSelectedRows()[0];
            if(oData==null || oData.RouteSheetGraceID<=0)
            {
                alert("Please Select an Route Sheet");
                return;
            }
            var nIndex = $scope.gridOptions.data.indexOf(oData);
            var modalInstance = $uibModal.open({
                ariaLabelledBy: 'modal-title',
                ariaDescribedBy: 'modal-body',
                size: 'md',
                templateUrl: 'RouteSheetGrace.html',
                controller: 'RouteSheetGraceCtrl',
                controllerAs: 'mainController',
                resolve: {
                    obj: function () {
                        return { value:oData, Operation: 'Edit'};
                    }
                }
            });
            modalInstance.result.then(function (result) {
                debugger;
                if(result.RouteSheetGraceID>0)
                {
                    $scope.gridOptions.data[nIndex]=result;
                }

            }, function () {
                $log.info('Modal dismissed at: ' + new Date());
            });
        }
        
        $scope.Preview_RSGrace = function(e)
        {
            debugger;
            var oData = $scope.gridApi.selection.getSelectedRows()[0];
            if(oData==null || oData.DyeingOrderDetailID<=0)
            {
                alert("Please Select an Route Sheet");
                return;
            }
            var url = _sBaseAddress + "/RouteSheetGrace/Preview_RSGrace?id="+oData.DyeingOrderDetailID+"&BUID="+_nBUID;
            window.open(url, "_blank");
        }
        $scope.Preview_DyeingCard = function(e)
        {
            debugger;
            var oData = $scope.gridApi.selection.getSelectedRows()[0];
            if(oData==null || oData.DyeingOrderDetailID<=0)
            {
                alert("Please Select an Route Sheet");
                return;
            }
            var tsv=((new Date()).getTime())/1000;
            var url = _sBaseAddress + "/RouteSheet/PrintRouteSheet?nId="+oData.RouteSheetID+"&bIsCommon="+true+"&nts="+tsv;
            window.open(url, "_blank");
        }

        $scope.PrintList = function(e)
        {
            debugger;
            var sParams = sessionStorage.getItem('AdvSearchString');
            if(sParams==null || sParams == undefined)
            {
                alert("Nothing To Print!");
                return;
            }
            var url = _sBaseAddress + "/RouteSheetGrace/PrintList?sParams="+sParams+"&nBuid="+_nBUID;
            window.open(url, "_blank");
        }
        $scope.PrintExcel = function(e)
        {
            debugger;
            var sParams = sessionStorage.getItem('AdvSearchString');
            if(sParams==null || sParams == undefined)
            {
                alert("Nothing To Print!");
                return;
            }
            var url = _sBaseAddress + "/RouteSheetGrace/PrintExcel?sParams="+sParams+"&nBuid="+_nBUID;
            window.open(url, "_blank");
        }
        $scope.Approve = function(e)
        {
            debugger;
            var oData = $scope.gridApi.selection.getSelectedRows()[0];
            if(oData==null || oData.RouteSheetGraceID<=0)
            {
                alert("Please Select an Route Sheet");
                return;
            }
            var nIndex = $scope.gridOptions.data.indexOf(oData);
            var modalInstance = $uibModal.open({
                ariaLabelledBy: 'modal-title',
                ariaDescribedBy: 'modal-body',
                size: 'md',
                templateUrl: 'RouteSheetGraceApproval.html',
                controller: 'RouteSheetGraceCtrlApproval',
                controllerAs: 'mainController',
                resolve: {
                    obj: function () {
                        return { value:oData, Operation: 'Edit'};
                    }
                }
            });
            modalInstance.result.then(function (result) {
                debugger;
                if(result.RouteSheetGraceID>0)
                {
                    $scope.gridOptions.data[nIndex]=result;
                }

            }, function () {
                $log.info('Modal dismissed at: ' + new Date());
            });
        }

        $scope.Approve_OFF = function(e)
        {
            debugger;
            var oData = $scope.gridApi.selection.getSelectedRows()[0];
            if(oData==null || oData.RouteSheetGraceID<=0)
            {
                alert("Please Select an Route Sheet");
                return;
            }
            var url = _sBaseAddress + "/RouteSheetGrace/ViewRouteSheetGraceApprove?nId="+oData.RouteSheetGraceID;
            window.open(url, "_blank");

        }
    });


    mainAppModule.controller('RouteSheetGraceCtrl', function ($scope, $http, $uibModalInstance, uiGridConstants, msModal, obj) {
        debugger;
        $scope.RouteSheetGrace = obj.value;
        if($scope.RouteSheetGrace.RouteSheetGraceID==0)
        {
            $scope.RouteSheetGrace.Code = nLastCode+1;
        }
        $scope.Save = function ()
        {
            if(($scope.RouteSheetGrace.QtyGrace == 0 || $scope.RouteSheetGrace.QtyGrace == undefined)) {
                msModal.Message({headerTitle : '', bodyText:'Please Enter The Grace Amount', sucessText : ' Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                return false;
            }
            if(!Number($scope.RouteSheetGrace.QtyGrace))
            {
                alert("Please Enter Only Number In Grace");
                return;
            }
            $http.post(_sBaseAddress+'/RouteSheetGrace/Save',JSON.stringify($scope.RouteSheetGrace)).then(
                function (response) {
                    var result=jQuery.parseJSON(response.data);
                    if(result.RouteSheetGraceID>0)
                    {
                        debugger;
                        msModal.Message({headerTitle : '', bodyText:'Save Successful.', sucessText : 'Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                        $scope.RouteSheetGrace=result;
                        nLastCode = result.Code;
                        $uibModalInstance.close($scope.RouteSheetGrace);
                    }
                    else
                    {
                        alert(result.ErrorMessage);
                    }
                },
                function (response) { alert((response.statusText));}
            );
        };
        $scope.cancel= function () {
            debugger;
            $uibModalInstance.close();
        };

    });

        
    mainAppModule.controller('RouteSheetGraceCtrlApproval', function ($scope, $http, $uibModalInstance, uiGridConstants, msModal, obj) {
        debugger;
        $scope.RouteSheetGrace = obj.value;
        if($scope.RouteSheetGrace.RouteSheetGraceID==0)
        {
            $scope.RouteSheetGrace.Code = nLastCode+1;
        }

        $scope.GetRouteSheetDOs = function ()
        {
            if($scope.RouteSheetGrace.RouteSheetID<=0)
            {
                alert("Please select a valid grace first!");
                return;
            }
            $http.post(_sBaseAddress+'/RouteSheet/GetsRouteSheetDO_Grace',JSON.stringify($scope.RouteSheetGrace)).then(
                function (response) {
                    var result=jQuery.parseJSON(response.data);
                    if(result.length>0)
                    {
                        debugger;
                       
                        if(result[0].ErrorMessage!=""){alert(result.ErrorMessage); $scope.cancel(); return;}

                        for(var i=0; i< result.length; i++)
                        {
                            if(result[i].DyeingOrderDetailID == obj.value.DyeingOrderDetailID)
                            {
                                //$scope.RouteSheetGrace = result[i];
                                $scope.RouteSheetGrace.QtyRS_Previous = parseFloat(result[i].QtyRS_Previous);

                                var nExceed_Qty = parseFloat( parseFloat(result[i].QtyRS_Previous) + parseFloat(result[i].QtyRS) - parseFloat(result[i].OrderQty) ).toFixed(2);
                                nExceed_Qty = (nExceed_Qty < 0 || isNaN(nExceed_Qty)) ? 0 : nExceed_Qty;

                                $scope.RouteSheetGrace.Exceed_Qty = nExceed_Qty;
                                break;
                            }
                        }
                    }
                    else
                    {
                        alert("No Dyeing Order Found!"); $scope.cancel();
                    }
                },
                function (response) { alert((response.statusText));}
            );
        };
        $scope.GetRouteSheetDOs();

        $scope.Save = function ()
        {
            if(($scope.RouteSheetGrace.QtyGrace == 0 || $scope.RouteSheetGrace.QtyGrace == undefined)) {
                msModal.Message({headerTitle : '', bodyText:'Please Enter The Grace Amount', sucessText : ' Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                return false;
            }
            if(!Number($scope.RouteSheetGrace.QtyGrace))
            {
                alert("Please Enter Only Number In Grace");
                return;
            }
            $http.post(_sBaseAddress+'/RouteSheetGrace/Save',JSON.stringify($scope.RouteSheetGrace)).then(
                function (response) {
                    var result=jQuery.parseJSON(response.data);
                    if(result.RouteSheetGraceID>0)
                    {
                        debugger;
                        msModal.Message({headerTitle : '', bodyText:'Save Successful.', sucessText : 'Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                        $scope.RouteSheetGrace=result;
                        nLastCode = result.Code;
                        $uibModalInstance.close($scope.RouteSheetGrace);
                    }
                    else
                    {
                        alert(result.ErrorMessage);
                    }
                },
                function (response) { alert((response.statusText));}
            );
        };
        $scope.ApproveGrace = function(e)
        {
            debugger;
            $http.post(_sBaseAddress+'/RouteSheetGrace/Approve',JSON.stringify($scope.RouteSheetGrace)).then(
            function (response) {
                    debugger;
                    var result=jQuery.parseJSON(response.data);
                    if(result.RouteSheetGraceID>0)
                    {
                        alert("Approved Successful");
                        $scope.cancel();
                    }
                    else
                    {
                        alert(result.ErrorMessage);
                    }
                },
                function (response) { alert((response.statusText));}
            );
        }
        $scope.cancel= function () {
            debugger;
            $uibModalInstance.close();
        };

    });
    </script>










