@{
    ViewBag.Title = "Add Order Setup";
}
@model ESimSol.BusinessObjects.DURequisitionSetup

<div style="padding-top:5px; height:99%" ng-app="DURequisitionSetupAPP" ng-controller="DURequisitionSetupCtrl" class="form-horizontal regionDURequisitionSetup">
    
    <div style="height:90%">  
        <fieldset style="height:100%">
            <legend>Requisition Setup Info: </legend>
            <div style="padding:15% 0 0 10%">
                <div class="row col-md-12">
                    <div class="col-md-2 text-right"><label class="control-label">In/Out Type:</label></div>
                    <div class="col-md-8 text-left">
                        <select id="cboInOutType" ng-model="DURequisitionSetup.InOutType" ng-options="obj.id as obj.Value for obj in InOutTypes" ng-disabled="disabled" class="form-control">
                            <option value="">--Select Type--</option>
                        </select>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-2 text-right"><label class="control-label">Name:</label></div>
                    <div class="col-md-8 text-left">
                        <input ng-model="DURequisitionSetup.Name" ng-disabled="disabled" class="form-control" />
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-2 text-right"><label class="control-label">ShortName:</label></div>
                    <div class="col-md-8 text-left">
                        <input ng-model="DURequisitionSetup.ShortName" ng-disabled="disabled" class="form-control" />
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-2 text-right"><label class="control-label">Issue Store:</label></div>
                    <div class="col-md-8 text-left">
                        <select id="cboIssueStore" ng-model="DURequisitionSetup.WorkingUnitID_Issue" ng-options="obj.WorkingUnitID as obj.OperationUnitName for obj in IssueStores" ng-disabled="disabled" class="form-control">
                            <option value="">--Select Type--</option>
                        </select>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-2 text-right"><label class="control-label">Receive Store:</label></div>
                    <div class="col-md-8 text-left">
                        <select id="cboIssueStore" ng-model="DURequisitionSetup.WorkingUnitID_Receive" ng-options="obj.WorkingUnitID as obj.OperationUnitName for obj in ReceiveStores" ng-disabled="disabled" class="form-control">
                            <option value="">--Select Type--</option>
                        </select>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
   
    <div style="height:10%">
        <fieldset>
            <legend>Action</legend>
            <div class="row col-md-12 text-right">
                <button type="button" class="btn btn-sm" aria-label="Left Align" ng-show="hide_Save" ng-click="Save()"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">Save</span> </button>
                <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="Close()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"> Close</span> </button>
            </div>
        </fieldset>
    </div>
</div>

<style type="text/css">

    .grid{
        width:100%; 
        height:320px;
    }
    .regionDURequisitionSetup .form-horizontal .control-label{
        padding-top:3px;
    }
    .regionDURequisitionSetup .form-control{
        height:26px;
        padding:0px 6px;
        font-size:12px;
    }
    .regionDURequisitionSetup .col-md-12{
        width:100%;
        padding-right:5px;
        padding-left:5px;
        margin-bottom:5px;
    }
    .regionDURequisitionSetup .col-md-2{
        width:13%;
        padding-right:5px;
        padding-left:5px;
    }
    .regionDURequisitionSetup .col-md-3{
        width:20%;
        padding-right:5px;
        padding-left:5px;
    }

    .regionDURequisitionSetup .col-md-4{
        width:28%;
        padding-right:5px;
        padding-left:5px;
    }

    .regionDURequisitionSetup .col-md-5{
        width:40%;
        padding-right:5px;
        padding-left:0px;
    }

     .regionDURequisitionSetup .col-md-10{
        width:86%;
        padding-right:5px;
        padding-left:5px;
    }

    .regionDURequisitionSetup .col-md-8{
        width:69%;
        padding-right:5px;
        padding-left:5px;
    }
    .regionDURequisitionSetup .btn-sm{
         padding:3px 10px;
     }
     .regionDURequisitionSetup .input-group-addon{
         padding: 4px 8px;
     }
</style>

<script type="text/javascript">

    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    var oDURequisitionSetup =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var oInOutTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.InOutTypes));
    var oBusinessUnits =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUs));

    var oIssueStores =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.IssueStores));
    var oReceiveStores =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReceivedStores));

    var DURequisitionSetupModule = angular.module('DURequisitionSetupAPP', ['ngAnimate', 'ui.bootstrap', 'ui.grid', 'ui.grid.selection', 'ui.grid.edit','ms.service']);
    DURequisitionSetupModule.controller('DURequisitionSetupCtrl', function ($scope, $http, $uibModal, $log, uiGridConstants, msModal, userSession) {
        debugger;
        var viewType = sessionStorage.getItem("Operation");
        
        $scope.IssueStores=oIssueStores;
        $scope.ReceiveStores=oReceiveStores;

        if (viewType == 'View')
        {
            $scope.disabled= true;
            $scope.hide=false;
            $scope.hide_Revise=false;
            $scope.hide_Approve=false;
            $scope.hide_Save=false;
        }
        else
        {
            $scope.disabled= false;
            $scope.hide=false;
            $scope.hide_Revise=true;
            $scope.hide_Approve=true;
            $scope.hide_Save=true;
        }

        $scope.InOutTypes=oInOutTypes;
        $scope.DURequisitionSetup=oDURequisitionSetup;

        $scope.Validation = function()
        {
            debugger;

            if($scope.DURequisitionSetup.InOutType<=0)
            {
                alert("Please Select In/Out Type And Try Again.");
                return false;
            }
            if($scope.DURequisitionSetup.Name.length<=0)
            {
                alert("Please Enter Name And Try Again.");
                return false;
            }
            return true;
        }
        $scope.Save = function () {

            if(!$scope.Validation())
                return;

            $http.post(_sBaseAddress+'/DURequisitionSetup/Save',JSON.stringify($scope.DURequisitionSetup)).then(
                function (response) {
                    var result=jQuery.parseJSON(response.data);
                    if(result.DURequisitionSetupID>0)
                    {
                        debugger;
                        $scope.DURequisitionSetup=result;
                        userSession.setData('DURequisitionSetups',$scope.DURequisitionSetup);
                        //sessionStorage.setItem('DURequisitionSetup',$scope.DURequisitionSetup);
                        userSession.previousPage();
                        // msModal.Message({headerTitle : '', bodyText:'Save Successfully.', sucessText : 'Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                    }
                    else
                    {
                        alert(result.ErrorMessage);
                    }
                },
                function (response) { alert(jQuery.parseJSON(response.data).ErrorMessage);}
        );
        };

        $scope.Close = function () {
            userSession.previousPage();
        };

    });
</script>


