@{
    ViewBag.Title = "FabricQCGrade List";
}
@model IEnumerable<ESimSol.BusinessObjects.FabricQCGrade>
<div class="menuMainCollectionTable" style="height:99%">
    <table id="tblFabricQCGrades" title="QC Grade Lists" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
        <thead>
            <tr>
                <th field="SLNo" width="8%">SL No</th>
                <th field="Name" width="22%">Name</th>
                <th field="QCGradeTypeST" width="8%">Name</th>
                <th field="MinValue" align="right" formatter="formatPrice" width="70">Min Value</th>
                <th field="MaxValue" align="right" formatter="formatPrice" width="70">Max Value</th>
                <th field="GradeSLInSt" width="8%" align="center">Grade SL</th>
                <th field="LastUpdateByName" width="15%">Last Update By</th>
                <th field="LastUpdateDateTimeInString" width="20%">Last Update Date</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        Name: <input type="text" style="width:180px" id="txtNameSerach" placeholder="Search By Name " />
        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Add" iconcls="icon-add" plain="true">Add</a>
        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Edit" iconcls="icon-edit" plain="true">Edit</a>
        <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="View" iconcls="icon-details" plain="true">View</a>
        <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Delete" iconcls="icon-remove" plain="true">Delete</a>        
    </div>
</div>

<div id="winFabricQCGrade" class="easyui-window winstyle" title="Add Fabric QC Grades" style=" height:auto;width:60%" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
    <div style="overflow:hidden;display:block;">
        <fieldset style="height:10%">
            <legend style="font-weight: bold">Add QC Grade</legend>
            <div style="overflow:hidden;display:block">
                <div style="overflow:hidden;float:left; width:49%">
                    <div style="overflow:hidden;float:left;width:30%;text-align:right">
                        Name :
                    </div>
                    <div style="overflow:hidden;float:left;width:70%">
                        <input id="txtName" type="text" style="float:left;width:100%" />
                        
                    </div>
                </div>
                <div style="overflow:hidden;float:left; width:49%">
                    <div style="overflow:hidden;float:left;width:30%;text-align:right">
                        QCGrade Type:
                    </div>
                    <div style="overflow:hidden;float:left;width:70%">
                        <select id="cboQCGradeType" style="width:200px;"></select>
                    </div>
                </div>
            </div>      
             <div style="overflow:hidden;display:block;margin-top:5px">
                <div style="overflow:hidden;float:left; width:49%">
                    <div style="overflow:hidden;float:left;width:30%;text-align:right">
                       Min Value
                    </div>
                    <div style="overflow:hidden;float:left;width:70%">
                        <input id="txtMinValue" type="text" style="float:left;width:100%" placeholder="....Min Value"/>

                    </div>
                </div>
                <div style="overflow:hidden;float:left; width:49%">
                    <div style="overflow:hidden;float:left;width:30%;text-align:right">
                        Max Value :
                    </div>
                    <div style="overflow:hidden;float:left;width:70%">
                        <input id="txtMaxValue" type="text" style="float:left;width:67%" placeholder="....Max Value" />
                    </div>
                </div>
            </div>
            <div style="overflow:hidden;display:block;margin-top:5px">
                <div style="overflow:hidden;float:left; width:49%">
                    <div style="overflow:hidden;float:left;width:30%;text-align:right">
                        Grade SL :
                    </div>
                    <div style="overflow:hidden;float:left;width:70%">
                        <select id="cboGradeSL" style="width:100%;"></select>
                    </div>
                </div>
                <div style="overflow:hidden;float:left; width:49%">
                    <div style="overflow:hidden;float:left;width:30%;text-align:right">
                    </div>
                    <div style="overflow:hidden;float:left;width:70%">
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div style="display:block;overflow:hidden;">
        <fieldset style="height:10%">
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                <tr>
                    <td style="width:60%; text-align:right"></td>
                    <td style="width:40%;text-align:right;">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function (){
        debugger;
        var  oFabricQCGrades  = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        $('#tblFabricQCGrades').data('BaseAddress', sBaseAddress);
        $('#tblFabricQCGrades').data('FabricQCGrade', oFabricQCGrades);
        var  oQCGradeType =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.QCGradeType));
        var  oGradeSLs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.GradeSLs));
        $("#cboQCGradeType").icsLoadCombo({List:oQCGradeType, OptionValue:"id", DisplayText:"Value", InitialValue:"--Select One-" });
        $("#cboGradeSL").icsLoadCombo({List:oGradeSLs, OptionValue:"id", DisplayText:"Value", InitialValue:"--Select One-" });
        var oTempFabricQCGrades =sessionStorage.getItem("oFabricQCGrades");
        if(oTempFabricQCGrades!=null)
        {
            oFabricQCGrades = jQuery.parseJSON(oTempFabricQCGrades);
        }
        $('#txtMaxValue,#txtMinValue').icsCurrencyBox(null, null, 0);
        RefreshList(oFabricQCGrades);
    });


    function RefreshObject(){
        debugger;
        var oFabricQCGrade={
            FabricQCGradeID : parseInt($('#tblFabricQCGrades').data('FabricQCGrade')),
            Name : $("#txtName").val(),
            QCGradeType: parseInt($("#cboQCGradeType").val()),
            MinValue : icsRemoveComma($('#txtMinValue').val()),
            MaxValue : icsRemoveComma($('#txtMaxValue').val()),
            GradeSL: parseInt($("#cboGradeSL").val())

        };
        return oFabricQCGrade;
    }

    $("#btnAdd").click(function(){
        debugger;
        FormEnabled();
        RefreshConsumption();
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("FabricQCGradeHeader", "Add FabricQCGrade");
        $("#winFabricQCGrade").icsWindow('open', "Add QC Grade");
    });

    function RefreshConsumption(){
        $('#tblFabricQCGrades').data('FabricQCGrade',0);
        $('#cboQCGradeType,#cboGradeSL').val(0);
        $('#txtName').val("");
        $('#txtMaxValue,#txtMinValue').icsCurrencyBox(null, null, 0);
    }

    function FormEnabled(){
        $('#cboQCGradeType,#cboGradeSL').attr('disabled',false);
        $('#txtName').attr('disabled',false);
        $('#txtMaxValue').attr('disabled',false);
        $('#txtMinValue').attr('disabled',false);
        $('#btnSave').show();
    }

    $("#btnClose").click(function(){
        $("#winFabricQCGrade").icsWindow('close');
    })


    $("#btnEdit").click(function(){
        debugger;
        FormEnabled();
        var oFabricQCGrade= $('#tblFabricQCGrades').datagrid('getSelected');
        var SelectedRowIndex=$('#tblFabricQCGrades').datagrid('getRowIndex',oFabricQCGrade);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        oFabricQCGrade.ErrorMessage = "Edit FabricQCGrade";
        RefreshControl(oFabricQCGrade);
        sessionStorage.setItem("FabricQCGradeHeader", "Edit FabricQCGrade");
        $("#winFabricQCGrade").icsWindow('open', "Edit FabricQCGrade");

    });

    $("#btnView").click(function(){
        debugger;
        var oFabricQCGrade= $('#tblFabricQCGrades').datagrid('getSelected');
        var SelectedRowIndex=$('#tblFabricQCGrades').datagrid('getRowIndex',oFabricQCGrade);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        oFabricQCGrade.ErrorMessage = "View FabricQCGrade";
        RefreshControl(oFabricQCGrade);
        sessionStorage.setItem("FabricQCGradeHeader", "View FabricQCGrade");
        $("#winFabricQCGrade").icsWindow('open', "View FabricQCGrade");

    });

    function RefreshControl(oFabricQCGrade){
        debugger;
        if(oFabricQCGrade.ErrorMessage == "Edit FabricQCGrade"){
            $('#tblFabricQCGrades').data('FabricQCGrade', parseInt(oFabricQCGrade.FabricQCGradeID)),
            $('#cboQCGradeType').val(parseInt(oFabricQCGrade.QCGradeType));
            $('#cboGradeSL').val(parseInt(oFabricQCGrade.GradeSL));
            $('#txtName').val(oFabricQCGrade.Name);
            $('#txtMaxValue').val(icsFormatPrice(parseFloat(oFabricQCGrade.MaxValue), null,0));
            $('#txtMinValue').val(icsFormatPrice(parseFloat(oFabricQCGrade.MinValue), null,0));

        }
        if(oFabricQCGrade.ErrorMessage == "View FabricQCGrade"){
            $('#tblFabricQCGrades').data('FabricQCGrade', parseInt(oFabricQCGrade.FabricQCGradeID)),
            $('#cboQCGradeType').val(parseInt(oFabricQCGrade.QCGradeType));
            $('#cboGradeSL').val(parseInt(oFabricQCGrade.GradeSL));
            $('#txtName').val(oFabricQCGrade.Name);
            $('#txtMaxValue').val(icsFormatPrice(parseFloat(oFabricQCGrade.MaxValue), null,0));
            $('#txtMinValue').val(icsFormatPrice(parseFloat(oFabricQCGrade.MinValue), null,0));
            $('#btnSave').hide();
            $('#cboQCGradeType,#cboGradeSL').attr('disabled','disabled');
            $('#txtName').attr('disabled','disabled');
            $('#txtMaxValue').attr('disabled','disabled');
            $('#txtMinValue').attr('disabled','disabled');
        }

    }
    function ValidateInput(){
        debugger;
        var oName = $('#txtName').val();
        if(oName == "" || oName==undefined){
            alert("Please Enter Name.")
            $('#txtName').focus();
            return false;
        }
        var oQCGradeType = parseInt($('#cboQCGradeType').val());
        if(oQCGradeType == null || oQCGradeType==0){
            alert("Please Select Grade Type.")
            return false;
        }
        var oGradeSL = parseInt($('#cboGradeSL').val());
        if(oGradeSL == null || oGradeSL==0){
            alert("Please Select Grade SL.")
            return false;
        }
        return true;
    }

    $('#btnSave').click(function(){
        debugger;
        if(!ValidateInput()) return;
        var oFabricQCGrade=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url :  $('#tblFabricQCGrades').data('BaseAddress')+ "/FabricQCGrade/Save",
            traditional: true,
            data:  JSON.stringify(oFabricQCGrade),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                debugger;
                oFabricQCGrade = jQuery.parseJSON(data);
                if (oFabricQCGrade.ErrorMessage=="" || oFabricQCGrade.ErrorMessage==null)
                {
                    alert("Data Saved sucessfully");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if(sessionStorage.getItem("FabricQCGradeHeader") == "Add FabricQCGrade")
                    {
                        $('#tblFabricQCGrades').datagrid('appendRow',oFabricQCGrade);
                        var oData = $('#tblFabricQCGrades').datagrid('getRows');
                        $('#tblFabricQCGrades').datagrid('selectRow',oData.length-1);

                    }
                    if(sessionStorage.getItem("FabricQCGradeHeader") == "Edit FabricQCGrade")
                    {
                        $('#tblFabricQCGrades').datagrid('updateRow',{index : nIndex, row:oFabricQCGrade});
                    }

                    $("#winFabricQCGrade").icsWindow('close');
                }
                else
                {
                    alert(oFabricQCGrade.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });
    $('#btnDelete').click(function(){
        var oFabricQCGrade= $('#tblFabricQCGrades').datagrid('getSelected');

        if (!confirm("Confirm to Delete?")) return ;

        if(oFabricQCGrade==null || oFabricQCGrade.FabricQCGradeID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        var SelectedRowIndex=$('#tblFabricQCGrades').datagrid('getRowIndex',oFabricQCGrade);
        if (oFabricQCGrade.FabricQCGradeID > 0)
        {
            $.ajax ({
                type: "GET",
                dataType: "json",
                url : $('#tblFabricQCGrades').data('BaseAddress')+ "/FabricQCGrade/Delete",
                data: {id: oFabricQCGrade.FabricQCGradeID},
                contentType:"application/json; charset=utf-8",
                success: function (data) {
                    //debugger;
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Deleted")
                    {
                        alert("Delete sucessfully");
                        $('#tblFabricQCGrades').datagrid('deleteRow',SelectedRowIndex);

                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }
    });
    function RefreshList(oFabricQCGrades) {
        debugger;
        data={"total":""+oFabricQCGrades.length+"","rows":oFabricQCGrades};
        $('#tblFabricQCGrades').datagrid('loadData',data);
        var nSelectedRowIndex =parseInt(sessionStorage.getItem("SelectedRowIndex"));
        if(nSelectedRowIndex!=-1)
        {
            $('#tblFabricQCGrade').datagrid('selectRow', nSelectedRowIndex);
        }
    }
    $("#cboFabricProcess").change(function() {
        debugger;
        var nFabricProcess =  $("#cboFabricProcess").val();
        var YarnYeds =  $('#tblFabricQCGrades').data('FabricProcess');

        if(nFabricProcess == 1){
            $('#txtIsYernDyed').val("Yarn Dyed");
        }
        else{
            $('#txtIsYernDyed').val("Solid Dyed");
        }
     });
    $('#txtNameSerach').keyup(function(e) {
        debugger;
        var GetName = $('#txtNameSerach').val();
        var oSearchedList = [];
        var oCurrentList = $('#tblFabricQCGrades').datagrid('getRows');
        if (e.which == 8)
        {
            oCurrentList = oFabricQCGrades;
        }
        if (e.which == 13){
            for(i=0;i<oCurrentList.length;++i)
            {
                n = oCurrentList[i].Name.toUpperCase().indexOf(GetName.toUpperCase());
                if(n!=-1)
                {
                    oSearchedList.push(oCurrentList[i]);
                }
            }
            DynamicRefreshList(oSearchedList,'tblFabricQCGrades');
        }

    });



</script>
