@{
    ViewBag.Title = "Cheque Requisition";
}
@model IEnumerable<ESimSol.BusinessObjects.ChequeRequisition>
<div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
    <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
        <label style="font-size:18px;">Please wait</label>
        <div id="progbar" style="width:100%;height:37px;"></div>
    </div>
</div>
<div class="menuMainCollectionTable">
    <div style="margin-left:0px; height:100%; width:100%; font-family:Tahoma">
        <table id="tblChequeRequisitions" title="Cheque Requisition List" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead data-options="frozen:true">
                <tr>
                    <th field="RequisitionNo" width="100">Req No</th>
                    <th field="ChequeNo" width="100">Cheque No</th>
                </tr>
            </thead>
            <thead>
                <tr>                    
                    <th field="RequisitionDateSt" width="100" align="center">Req Date</th>
                    <th field="SubledgerName" width="200">Party Name</th>
                    <th field="BUName" width="120">BU Name</th>
                    <th field="AccountNo" width="120">Bank Account</th>
                    <th field="ApprovedByName" width="120">Approved By</th>                    
                    <th field="ChequeDateSt" width="100" align="center">Cheque Date</th>                    
                    <th field="ChequeStatusSt" width="100">Cheque Status</th>
                    <th field="ChequeAmount" width="120" formatter="formatPrice" align="right">Amount</th>                    
                    <th field="IsWillVoucherEffectSt" width="80" align="left">Voucher Effect</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">            
            <input type="text" id="txtSearchByReqNo" placeholder="Search by Cheque No" style="width:150px" />
            <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton"  iconCls="icon-search" plain="true">Adv Search</a>
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
            <a id="btnWaitForApproved" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Wait for Approved</a>
            <a id="btnApproved" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Approved</a>            
            @*<a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>*@            
            <a id="btnPrintList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print List</a>
            <a id="btnChangeVoucherEffect" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Voucher Effect</a>
        </div>
    </div>

    <div id="winAdvanceSearch" class="easyui-window" title="Advance Search" style="width:540px;height:345px;padding:2px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div>
            <fieldset>
                <legend style="font-weight:bold"> Searching Criteria : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">                   
                    <tr>
                        <td style="width:170px; text-align:right">
                            Cheque No :
                        </td>
                        <td style="width:370px">
                            <input type="text" style="width: 370px;" id="txtChequeNo" />
                        </td>
                    </tr> 
                    <tr>
                        <td style="width:170px; text-align:right">
                            Bill No :
                        </td>
                        <td style="width:370px">
                            <input type="text" style="width: 370px;" id="txtBillNo" />
                        </td>
                    </tr> 
                    <tr>
                        <td style="width:170px; text-align:right">
                            Bank Account :
                        </td>
                        <td style="width:370px">
                            <select style="width:375px" id="cboBankAccounts"></select>
                        </td>
                    </tr>                   
                    <tr>
                        <td style="width:170px; text-align:right">
                            Req Date :
                        </td>
                        <td style="width:370px">
                            <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                                <tr>
                                    <td style="width: 120px; font-size: 12px; text-align: left">
                                        <select id="cboReqDate" style="width:120px"></select>
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtReqStartDate" type="text" style="width: 120px;" class="easyui-datebox" disabled="disabled" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                    <td style="width: 10px; font-size: 12px">
                                        To
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtReqEndDate" type="text" style="width: 120px;" class="easyui-datebox" disabled="disabled" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Req Amount :
                        </td>
                        <td style="width:370px">
                            <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                                <tr>
                                    <td style="width: 120px; font-size: 12px; text-align: left">
                                        <select id="cboReqAmount" style="width:120px"></select>
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtReqAmountStart" style="width:114px" />                                        
                                    </td>
                                    <td style="width: 10px; font-size: 12px">
                                        To
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtReqAmountEnd" style="width:114px" />                                        
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Approved By :
                        </td>
                        <td style="width:370px">
                            <select id="cboApprovedBy" style="width:375px"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Party(s) :
                        </td>
                        <td style="width:370px">
                            <input type="text" style="width: 282px;" id="txtSubledger" placeholder="Press enter with subledger name/code" />
                            <input type="button" style="width: 30px;" id="btnSubledgerClear" value="C" />
                            <input type="button" style="width: 50px;" id="btnSubledgerPicker" value="Pick" />
                        </td>
                    </tr>                    
                </table>
            </fieldset>
        </div>
        <fieldset style="width:498px; vertical-align:top;">
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold;">
                <tr>
                    <td style="width:100px;text-align:right">
                        <a id="btnAdvSearchReset" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"> Reset</a>
                    </td>
                    <td style="width:408px;text-align:right;">
                        <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                        <a id="btnAdvSearchClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var oApprovalUsers=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ApprovalUsers));
        var oDateCompareOperatorObjs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.DateCompareOperatorObjs));
        var oAmountCompareOperatorObjs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.AmountCompareOperatorObjs));
        var oBankAccounts =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BankAccounts));        
        var oChequeRequisitions =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oAURolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        var oTempChequeRequisitions =sessionStorage.getItem("ChequeRequisitions");

        if(oTempChequeRequisitions!=null)
        {
            oChequeRequisitions = jQuery.parseJSON(oTempChequeRequisitions);
        }
        RefreshList(oChequeRequisitions);
        RefreshControlLayout(oAURolesMapping);

        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();

        $('#txtSubledger').data('Subledgers', []);
        $('#cboApprovedBy').data('ApprovalUsers', oApprovalUsers);
        $('#cboReqDate').data('DateCompareOperatorObjs', oDateCompareOperatorObjs);
        $('#cboReqAmount').data('AmountCompareOperatorObj', oAmountCompareOperatorObjs);
        $('#cboBankAccounts').data('BankAccounts', oBankAccounts)
        $('#tblChequeRequisitions').data('ChequeRequisitions', oChequeRequisitions);
        $('#txtReqAmountStart,#txtReqAmountEnd').icsCurrencyBox();
    });

    $("#btnChangeVoucherEffect").click(function(){
        var oChequeRequisition= $('#tblChequeRequisitions').datagrid('getSelected');
        if(oChequeRequisition==null || parseInt(oChequeRequisition.ChequeRequisitionID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }

        if(oChequeRequisition.IsWillVoucherEffect==false)
        {
            if (!confirm("Confirm to Effect?")) return;
            oChequeRequisition.IsWillVoucherEffect=true;
        }else
        {
            if (!confirm("Confirm to Not Effect?")) return;
            oChequeRequisition.IsWillVoucherEffect=false;
        }
        var SelectedRowIndex = $('#tblChequeRequisitions').datagrid('getRowIndex', oChequeRequisition);      
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+"/ChequeRequisition/UpdateVoucherEffect",
            traditional: true,
            data:  JSON.stringify(oChequeRequisition),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oChequeRequisition = jQuery.parseJSON(data);
                if (parseInt(oChequeRequisition.ChequeRequisitionID)>0)
                {
                    alert("Data Saved sucessfully");
                    debugger;
                    $('#tblChequeRequisitions').datagrid('updateRow',{index: SelectedRowIndex,row: oChequeRequisition});
                }
                else {
                    alert(oChequeRequisition.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#btnWaitForApproved').click(function (e) {
        var oChequeRequisition = { ChequeRequisitionID : 0 };

        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: sessionStorage.getItem("BaseAddress")+  "/ChequeRequisition/WaitForApproval",
            data:  JSON.stringify(oChequeRequisition),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  oChequeRequisitions = jQuery.parseJSON(data);
                if (oChequeRequisitions != null) {
                    if(oChequeRequisitions.length>0)
                    {
                        if(oChequeRequisitions[0].ErrorMessage=="")
                        {
                            RefreshList(oChequeRequisitions);
                            $('#tblChequeRequisitions').data('ChequeRequisitions', oChequeRequisitions);
                        }
                        else
                        {
                            alert(oChequeRequisitions[0].ErrorMessage);
                        }
                    }
                    else
                    {
                        alert("Data not found!!");
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#btnAdd').click(function (e) {
        var oChequeRequisitions= $('#tblChequeRequisitions').datagrid('getRows');
        sessionStorage.setItem("ChequeRequisitions", JSON.stringify(oChequeRequisitions));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("ChequeRequisitionHeader", "Add Cheque Requisition");
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = sessionStorage.getItem("BaseAddress")+ "/ChequeRequisition/ViewChequeRequisition?id=0&ts="+tsv;
    });

    $('#btnEdit').click(function (e) {
        var oChequeRequisition= $('#tblChequeRequisitions').datagrid('getSelected');
        if(oChequeRequisition==null || oChequeRequisition.ChequeRequisitionID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oChequeRequisition.ApprovedBy)!=0)
        {
            alert("Your selected Invaoice already approved!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblChequeRequisitions').datagrid('getRowIndex',oChequeRequisition);
        var oChequeRequisitions= $('#tblChequeRequisitions').datagrid('getRows');
        sessionStorage.setItem("ChequeRequisitions", JSON.stringify(oChequeRequisitions));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ChequeRequisitionHeader", "Edit Cheque Requisition");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/ChequeRequisition/ViewChequeRequisition?id="+oChequeRequisition.ChequeRequisitionID+"&ts="+tsv;
    });

    $("#btnView").click(function(){
        var oChequeRequisition= $('#tblChequeRequisitions').datagrid('getSelected');
        if(oChequeRequisition==null || oChequeRequisition.ChequeRequisitionID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblChequeRequisitions').datagrid('getRowIndex',oChequeRequisition);
        var oChequeRequisitions= $('#tblChequeRequisitions').datagrid('getRows');
        sessionStorage.setItem("ChequeRequisitions", JSON.stringify(oChequeRequisitions));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ChequeRequisitionHeader", "View Cheque Requisition");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/ChequeRequisition/ViewChequeRequisition?id="+oChequeRequisition.ChequeRequisitionID+"&ts="+tsv;
    });

    $('#btnDelete').click(function (e) {
        var oChequeRequisition = $('#tblChequeRequisitions').datagrid('getSelected');
        if(oChequeRequisition==null || oChequeRequisition.ChequeRequisitionID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oChequeRequisition.ApprovedBy)!=0)
        {
            alert("Please selected ChequeRequisition already approved!");
            return;
        }
        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblChequeRequisitions').datagrid('getRowIndex',oChequeRequisition);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: sessionStorage.getItem("BaseAddress")+ "/ChequeRequisition/Delete",
            traditional: true,
            data:  JSON.stringify(oChequeRequisition),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                feedbackmessage = jQuery.parseJSON(data);
                if (feedbackmessage == "Data delete successfully")
                {
                    alert("Delete sucessfully");
                    $('#tblChequeRequisitions').datagrid('deleteRow',SelectedRowIndex);
                }
                else
                {
                    alert(feedbackmessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#btnApproved').click(function (e) {
        var oChequeRequisition = $('#tblChequeRequisitions').datagrid('getSelected');
        if(oChequeRequisition==null || parseInt(oChequeRequisition.ChequeRequisitionID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oChequeRequisition.ApprovedBy)!=0)
        {
            alert("Please selected ChequeRequisition already approved!");
            return;
        }
        if (!confirm("Confirm to Approved?")) return ;
        var SelectedRowIndex=$('#tblChequeRequisitions').datagrid('getRowIndex',oChequeRequisition);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: sessionStorage.getItem("BaseAddress")+ "/ChequeRequisition/Approved",
            traditional: true,
            data:  JSON.stringify(oChequeRequisition),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                oChequeRequisition = jQuery.parseJSON(data);
                if (parseInt(oChequeRequisition.ChequeRequisitionID)>0) {
                    alert("Approved Successfully");
                    $('#tblChequeRequisitions').datagrid('updateRow',{index: SelectedRowIndex,	row: oChequeRequisition});
                }
                else {
                    alert(oChequeRequisition.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    function RefreshList(oChequeRequisitions)
    {
        data = oChequeRequisitions;
        data={"total":""+data.length+"","rows":data};
        $('#tblChequeRequisitions').datagrid('loadData',data);
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        $('#tblChequeRequisitions').datagrid('selectRow',nIndex);
    }

    $('#btnPreview').click(function (e) {
        debugger;
        var oChequeRequisition = $('#tblChequeRequisitions').datagrid('getSelected');
        if(oChequeRequisition==null || oChequeRequisition.ChequeRequisitionID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var tsv = ((new Date()).getTime())/1000;
        window.open(sessionStorage.getItem("BaseAddress")+'/ChequeRequisition/PrintChequeRequisition?id='+oChequeRequisition.ChequeRequisitionID+"&ts="+tsv, "_blank")
    });

    $('#btnPrintList').click(function (e) {
        var oChequeRequisitions= $('#tblChequeRequisitions').datagrid('getRows');
        var ids ="";
        if(oChequeRequisitions.length >0)
        {
            for(var i =0;i<oChequeRequisitions.length;i++)
            {
                ids =ids+oChequeRequisitions[i].ChequeRequisitionID+",";
            }
            ids= ids.substring(0, ids.length - 1);
        }
        else{
            return;
        }
        var tsv = ((new Date()).getTime())/1000;
        window.open(sessionStorage.getItem("BaseAddress") + '/ChequeRequisition/PrintChequeRequisitions?ids='+ids+"&ts="+tsv, "_blank");
    });

    //Start Search
    function RefreshComboBoxControls()
    {
        var oApprovalUsers = $('#cboApprovedBy').data('ApprovalUsers');
        var oDateCompareOperatorObjs = $('#cboReqDate').data('DateCompareOperatorObjs');
        var oAmountCompareOperatorObjs = $('#cboReqAmount').data('AmountCompareOperatorObj');
        var oBankAccounts = $('#cboBankAccounts').data('BankAccounts');

        $("#cboApprovedBy").icsLoadCombo({ List: oApprovalUsers, OptionValue: "UserID", DisplayText: "UserName" });
        $("#cboReqDate").icsLoadCombo({ List: oDateCompareOperatorObjs, OptionValue: "id", DisplayText: "Value" });
        $("#cboReqAmount").icsLoadCombo({ List: oAmountCompareOperatorObjs, OptionValue: "id", DisplayText: "Value" });
        $("#cboBankAccounts").icsLoadCombo({ List: oBankAccounts, OptionValue: "BankAccountID", DisplayText: "AccountNo" });
    }

    function ValidateSearch()
    {
        var sChequeNo =$.trim($('#txtChequeNo').val());
        var sBillNo =$.trim($('#txtBillNo').val());
        var nBankAccount = parseInt($('#cboBankAccounts').val());
        var nChequeRequisitionDate = parseInt($('#cboReqDate').val());
        if(nChequeRequisitionDate===1 || nChequeRequisitionDate===2 || nChequeRequisitionDate===3 || nChequeRequisitionDate===4)
        {
            var sChequeRequisitionStartDate   = $('#txtReqStartDate').datebox('getValue');
            if(sChequeRequisitionStartDate===null || sChequeRequisitionStartDate==="")
            {
                alert("Please select Requisition start date!");
                $('#txtReqStartDate').focus();
                return false;
            }
        }
        if(nChequeRequisitionDate===5 || nChequeRequisitionDate===6)
        {
            var sChequeRequisitionStartDate   = $('#txtReqStartDate').datebox('getValue');
            var sChequeRequisitionEndDate   = $('#txtReqEndDate').datebox('getValue');
            if(sChequeRequisitionStartDate===null || sChequeRequisitionStartDate==="")
            {
                alert("Please select ChequeRequisition start date!");
                $('#txtReqStartDate').focus();
                return false;
            }
            if(sChequeRequisitionEndDate===null || sChequeRequisitionEndDate==="")
            {
                alert("Please select ChequeRequisition end date!");
                $('#txtReqEndDate').focus();
                return false;
            }
            if(new Date(sChequeRequisitionStartDate) > new Date(sChequeRequisitionEndDate))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtReqStartDate').focus();
                return false;
            }
        }

        var nChequeRequisitionAmount = parseInt($('#cboReqAmount').val());
        if(nChequeRequisitionAmount===1 || nChequeRequisitionAmount===2 || nChequeRequisitionAmount===3 || nChequeRequisitionAmount===4)
        {
            var sChequeRequisitionAmountStart   = $.trim($('#txtReqAmountStart').val());
            if(sChequeRequisitionAmountStart===null || sChequeRequisitionAmountStart==="")
            {
                alert("Please enter ChequeRequisition start Amount!");
                $('#txtReqAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sChequeRequisitionAmountStart)<=0)
            {
                alert("Please enter ChequeRequisition start Amount!");
                $('#txtReqAmountStart').focus();
                return false;
            }
        }
        if(nChequeRequisitionAmount===5 || nChequeRequisitionAmount===6)
        {
            var sChequeRequisitionAmountStart = $.trim($('#txtReqAmountStart').val());
            if(sChequeRequisitionAmountStart===null || sChequeRequisitionAmountStart==="")
            {
                alert("Please enter ChequeRequisition start Amount!");
                $('#txtReqAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sChequeRequisitionAmountStart)<=0)
            {
                alert("Please enter ChequeRequisition start Amount!");
                $('#txtReqAmountStart').focus();
                return false;
            }

            var sChequeRequisitionAmountEnd = $.trim($('#txtReqAmountEnd').val());
            if(sChequeRequisitionAmountEnd===null || sChequeRequisitionAmountEnd==="")
            {
                alert("Please enter ChequeRequisition end Amount!");
                $('#txtReqAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sChequeRequisitionAmountEnd)<=0)
            {
                alert("Please enter ChequeRequisition end Amount!");
                $('#txtReqAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sChequeRequisitionAmountStart) >= icsRemoveComma(sChequeRequisitionAmountEnd))
            {
                alert("Start amount must be smallar than end amount!");
                $('#txtReqAmountStart').focus();
                return false;
            }
        }

        var nApprovedBy = parseInt($('#cboApprovedBy').val());
        var oSubledgers = $('#txtSubledger').data('Subledgers');

        if(nBankAccount===0 && sChequeNo==="" && sBillNo==="" && nChequeRequisitionDate===0 && nChequeRequisitionAmount===0 && nApprovedBy===0 && oSubledgers.length<=0)
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        return true;
    }

    $('#btnAdvSearch').click(function(e){
        $("#winAdvanceSearch").icsWindow('open', "Advance Search");
        $("#winAdvanceSearch input").not("input[type='button']").val("");
        $('#txtReqStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtReqEndDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtReqAmountStart').val('0.00');
        $('#txtReqAmountEnd').val('0.00');
        $('#txtReqAmountStart').prop("disabled", true);
        $('#txtReqAmountEnd').prop("disabled", true);
        $('#txtSubledger').data('Subledgers', []);
        RefreshComboBoxControls();
    });

    $('#btnAdvSearchClose').click(function(e){
        $("#winAdvanceSearch").icsWindow('close');
    });

    $('#cboReqDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboReqDate').val());
        if(nCompareOperator===0)
        {
            $('#txtReqStartDate').datebox({ disabled : true });
            $('#txtReqEndDate').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtReqStartDate').datebox({ disabled : false });
            $('#txtReqEndDate').datebox({ disabled : true });
        }
        else
        {
            $('#txtReqStartDate').datebox({ disabled : false });
            $('#txtReqEndDate').datebox({ disabled : false });
        }
        $('#txtReqStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtReqEndDate').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboReqAmount').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboReqAmount').val());
        if(nCompareOperator===0)
        {
            $('#txtReqAmountStart').prop("disabled", true);
            $('#txtReqAmountEnd').prop("disabled", true);
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtReqAmountStart').prop("disabled", false);
            $('#txtReqAmountEnd').prop("disabled", true);
        }
        else
        {
            $('#txtReqAmountStart').prop("disabled", false);
            $('#txtReqAmountEnd').prop("disabled", false);
        }
        $('#txtReqAmountStart').val('0.00');
        $('#txtReqAmountEnd').val('0.00');
    });

    $('#btnAdvSearchReset').click(function(e){
        $("#winAdvanceSearch input").not("input[type='button']").val("");
        $('#cboReqDate').val(0);
        $('#txtReqStartDate').datebox({ disabled : true });
        $('#txtReqEndDate').datebox({ disabled : true });
        $('#txtReqStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtReqEndDate').datebox('setValue', icsdateformat(new Date()));

        $('#cboReqAmount').val(0);
        $('#txtReqAmountStart').prop("disabled", true);
        $('#txtReqAmountEnd').prop("disabled", true);
        $('#txtReqAmountStart').val('0.00');
        $('#txtReqAmountEnd').val('0.00');

        $('#cboApprovedBy').val(0);
        $('#txtSubledger').data('Subledgers', []);
        $("#txtSubledger").removeClass("fontColorOfPickItem");
    });

    $('#btnSearch').click(function(e){
        if(!ValidateSearch()) return;

        var sChequeNo =$.trim($('#txtChequeNo').val());
        var sBillNo =$.trim($('#txtBillNo').val());
        var nBankAccount =parseInt($('#cboBankAccounts').val());

        var nChequeRequisitionDate = parseInt($('#cboReqDate').val());
        var sChequeRequisitionStartDate   = $('#txtReqStartDate').datebox('getValue');
        var sChequeRequisitionEndDate   = $('#txtReqEndDate').datebox('getValue');

        var nChequeRequisitionAmount = parseInt($('#cboReqAmount').val());
        var sChequeRequisitionAmountStart = icsRemoveComma($.trim($('#txtReqAmountStart').val()));
        var sChequeRequisitionAmountEnd = icsRemoveComma($.trim($('#txtReqAmountEnd').val()));

        var nApprovedBy = parseInt($('#cboApprovedBy').val());
        var oSubledgers = $('#txtSubledger').data('Subledgers');

        if(oSubledgers===null) {oSubledgers = []; }
        var sSubledgerIDs ="";

        for(var i=0; i<oSubledgers.length; i++)
        {
            sSubledgerIDs  = sSubledgerIDs + oSubledgers[i].ACCostCenterID+ ",";
        }
        if(sSubledgerIDs.length>0)
        {
            sSubledgerIDs=sSubledgerIDs.substring(0, sSubledgerIDs.length-1);
        }

        var sSearchingData  =  sChequeNo+'~';
        sSearchingData = sSearchingData + sBillNo+'~';
        sSearchingData = sSearchingData + nBankAccount+'~';
        sSearchingData = sSearchingData + nChequeRequisitionDate+'~';
        sSearchingData = sSearchingData + sChequeRequisitionStartDate+'~';
        sSearchingData = sSearchingData + sChequeRequisitionEndDate+'~';
        sSearchingData = sSearchingData + nChequeRequisitionAmount+'~';
        sSearchingData = sSearchingData + sChequeRequisitionAmountStart+'~';
        sSearchingData = sSearchingData + sChequeRequisitionAmountEnd+'~';
        sSearchingData = sSearchingData + nApprovedBy+'~';
        sSearchingData = sSearchingData + sSubledgerIDs;


        var oChequeRequisition = {
            Remarks : sSearchingData
        };

        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: sessionStorage.getItem("BaseAddress")+  "/ChequeRequisition/AdvanceSearch",
            data:  JSON.stringify(oChequeRequisition),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  oChequeRequisitions = jQuery.parseJSON(data);
                if (oChequeRequisitions != null) {
                    if(oChequeRequisitions.length>0)
                    {
                        if(oChequeRequisitions[0].ErrorMessage=="")
                        {
                            RefreshList(oChequeRequisitions);
                            $('#tblChequeRequisitions').data('ChequeRequisitions', oChequeRequisitions);
                            $("#winAdvanceSearch").icsWindow('close');
                        }
                        else
                        {
                            alert(oChequeRequisitions[0].ErrorMessage);
                        }
                    }
                    else
                    {
                        alert("Data not found!!");
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#txtSearchByReqNo').keyup(function (e) {
        //
        var c = String.fromCharCode(e.which);
        var txtSearchByName = document.getElementById('txtSearchByReqNo').value;

        var oSearchedChequeRequisitions = [];  var sTempName="";
        var oChequeRequisitionList = $('#tblChequeRequisitions').datagrid('getRows');
        if (e.which == 8)
        {
            oChequeRequisitionList = $('#tblChequeRequisitions').data('ChequeRequisitions');
        }
        for(i=0;i<oChequeRequisitionList.length;++i){
            sTempName=oChequeRequisitionList[i].ChequeNo;
            n=sTempName.toUpperCase().indexOf(txtSearchByName.toUpperCase())
            if(n!=-1)
            {
                oSearchedChequeRequisitions.push(oChequeRequisitionList[i]);
            }
        }
        RefreshList(oSearchedChequeRequisitions);
    });

    ///Subledger Pick
    $("#txtSubledger").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {    
            if($.trim($('#txtSubledger').val())===null || $.trim($('#txtSubledger').val())==="")
            {
                alert("Please enter with subledger name!");
                return;
            }
            var oACCostCenter = { Name: $.trim($('#txtSubledger').val()) };
            PickSubledger(oACCostCenter);
        }
    });

    $("#btnSubledgerPicker").click(function () {
        if($.trim($('#txtSubledger').val())===null || $.trim($('#txtSubledger').val())==="")
        {
            alert("Please enter with subledger name!");
            return;
        }

        var oACCostCenter = { Name: $.trim($('#txtSubledger').val()) };
        PickSubledger(oACCostCenter);
    });

    $('#txtSubledger').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtSubledger").removeClass("fontColorOfPickItem");
            $('#txtSubledger').data('SubledgerID', 0);
        }
    });

    $('#btnSubledgerClear').click(function(e){
        $("#txtSubledger").val("");
        $('#txtSubledger').data('Subledgers', []);
        $("#txtSubledger").removeClass("fontColorOfPickItem");
    });

    function PickSubledger(oACCostCenter)
    {
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oACCostCenter,
            ControllerName: "ACCostCenter",
            ActionName: "GetsCostCenter",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ACCostCenterID > 0) {
                    var tblColums = []; 
                    var oColumn = { field: "Code", title: "Subledger Code", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Subledger Name", width: 220, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "CategoryName", title: "Category Name", width: 200, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winSubledgers',
                        winclass: 'clsSubledger',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblSubledgers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Subledger List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    //End Subledger Picker


    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid === 'winSubledgers')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtSubledger').val(oreturnobjs.length+"'s Subledgers seleted");
                $('#txtSubledger').addClass('fontColorOfPickItem');
                $('#txtSubledger').data('Subledgers', oreturnobjs);
                $('#txtSubledger').focus();
            }
        }
    }

    function updateProgress() {
        var value =$('#progbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progbarParent").hide();
    }

    function RefreshControlLayout(oAURolesMapping)
    {
        $("#btnAdvSearch").hide();
        $("#btnAdd").hide();
        $("#btnEdit").hide();
        $("#btnView").hide();
        $("#btnDelete").hide();
        $("#btnWaitForApproved").hide();
        $("#btnApproved").hide();
        //$("#btnPreview").hide();
        $("#btnPrintList").hide();

        if(PermissionChecker('AdvSearch','ChequeRequisition',oAURolesMapping)){$("#btnAdvSearch").show();}
        if(PermissionChecker('Add','ChequeRequisition',oAURolesMapping)){$("#btnAdd").show();}
        if(PermissionChecker('Edit','ChequeRequisition',oAURolesMapping)){$("#btnEdit").show();}
        if(PermissionChecker('View','ChequeRequisition',oAURolesMapping)){$("#btnView").show();}
        if(PermissionChecker('Delete','ChequeRequisition', oAURolesMapping)){$("#btnDelete").show();}
        if(PermissionChecker('Approved','ChequeRequisition',oAURolesMapping)){$("#btnApproved").show();}
        if(PermissionChecker('Approved','ChequeRequisition',oAURolesMapping)){$("#btnWaitForApproved").show();}
        //if(PermissionChecker('Preview','ChequeRequisition',oAURolesMapping)){$("#btnPreview").show();}
        if(PermissionChecker('PrintList','ChequeRequisition',oAURolesMapping)){$("#btnPrintList").show();}
    }
</script>
