@{
    ViewBag.Title = "Company List";
}
@model IEnumerable<ESimSol.BusinessObjects.Company>

<div style="margin-left:0px; height:100%; width:100%">
            <table id="tblCompanys" title="Company List"  class="easyui-datagrid" fitColumns="true" fit="true" rownumbers="true" pagination="true" singleSelect="true", autoRowHeight="false" toolbar="#toolbar">
                <thead>  
                    <tr>  
                        <th field="Name" width="210" >Comapny Name</th>  
                        <th field="Address" width="210" >Assress</th>  
                        <th field="Phone" width="100" >Phone Number</th>
                        <th field="Email" width="100" >Email Address</th>
                        <th field="WebAddress" width="100" >Web Address</th>                         
                        <th field="CurrencyNameSymbol" width="80" >Base Currency</th>                         
                    </tr>  
                </thead> 
            </table>​  
            <div id="toolbar"> 
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="Refresh()"></a>                
                <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="Add()">Add</a>  
                <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="Edit()">Edit</a>                
                <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-details" plain="true" onclick="Details()">View</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="Delete()">Delete</a>                 
             </div>  
</div>



<script type="text/javascript">
var _oCompanys=[];
var _sBaseAddress="";
var _sCompanyHeader = "";
$(document).ready(function () {
    _oCompanys =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));  
    //RefreshList(_oCompanys);
    var oCompanys =sessionStorage.getItem("Companys");
    _sCompanyHeader=sessionStorage.getItem("CompanyHeader");
    if(oCompanys!=null)
    {
        oCompanys = jQuery.parseJSON(oCompanys);
    }
    else
    {
        oCompanys=_oCompanys;
    }
    DynamicRefreshList(oCompanys, "tblCompanys");
        
    if(_sCompanyHeader == "New Company") {
        var oCompanys = $('#tblCompanys').datagrid('getRows');
        var nIndex = oCompanys.length-1;
        $('#tblCompanys').datagrid('selectRow', nIndex);
    }
    else if(_sCompanyHeader == "Edit Company" || _sCompanyHeader == "View Company") {
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        $('#tblCompanys').datagrid('selectRow', nIndex);
    }
    sessionStorage.clear();
});

function Delete()
{
    var oCompany= $('#tblCompanys').datagrid('getSelected');
    if (!confirm("Confirm to Delete?")) return ;
        
    if(oCompany==null || oCompany.CompanyID<=0)
    {
        alert("Invalid Field!!! please select a valid Field!");                  
        return false;
    }
    var SelectedRowIndex=$('#tblCompanys').datagrid('getRowIndex',oCompany);

    if (oCompany.CompanyID > 0) 
    {
        $.ajax
        ({
            type: "GET",
            dataType: "json",                
            url : _sBaseAddress+  "/Company/Delete",
            data: { id: oCompany.CompanyID},
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                feedbackmessage = jQuery.parseJSON(data);
                if (feedbackmessage == "Data Delete Successfully") 
                {
                    alert("Delete sucessfully");                        
                    $('#tblCompanys').datagrid('deleteRow',SelectedRowIndex);
                          
                }
                else
                {
                    alert(feedbackmessage);
                }
            },
            error: function (xhr, status, error) 
            {
                alert(error);
            }
                      
        });
    }
}
    
function Add()
{
    var oCompaniess= $('#tblCompanys').datagrid('getRows');
    sessionStorage.setItem("Companys", JSON.stringify(oCompaniess));
    sessionStorage.setItem("SelectedRowIndex", -1);
    sessionStorage.setItem("CompaniessHeader", "New Company");
    window.location.href = _sBaseAddress+ "/Company/ViewCompany?sid=0&sMsg=N/A";
}
function Edit()
{
    var oCompany = $('#tblCompanys').datagrid('getSelected');
    if (oCompany == null || oCompany.CompanyID <= 0)
    {
        alert("Please select an item from list!");
        return;
    }
    
    var SelectedRowIndex = $('#tblCompanys').datagrid('getRowIndex', oCompany);
    var oCompanys= $('#tblCompanys').datagrid('getRows');
    sessionStorage.setItem("Companys", JSON.stringify(oCompanys));
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
    sessionStorage.setItem("CompanyHeader", "Edit Company");
    window.location.href = _sBaseAddress+ "/Company/ViewCompany?sid="+oCompany.EncryptCompanyID+"&sMsg=N/A";
}

function Details()
{
    var oCompany = $('#tblCompanys').datagrid('getSelected');
    if (oCompany == null || oCompany.CompanyID <= 0)
    {
        alert("Please select an item from list!");
        return;
    }
   
    var SelectedRowIndex = $('#tblCompanys').datagrid('getRowIndex', oCompany);
    var oCompanys= $('#tblCompanys').datagrid('getRows');
    sessionStorage.setItem("Companys", JSON.stringify(oCompanys));
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
    sessionStorage.setItem("CompanyHeader", "View Company");
    window.location.href = _sBaseAddress+ "/Company/ViewCompany?sid="+oCompany.EncryptCompanyID+"&sMsg=N/A";

}
</script>