
@{
    ViewBag.Title = "Company";
}
<html>
<head>
</head>
<body>
    @{var MenuID = HttpContext.Current.Session[SessionInfo.MenuID];}
    @model ESimSol.BusinessObjects.Company
<div style="font-family: Tahoma">
    <table border="0" cellspacing="2" cellpadding="2" style="width:100%">
        <tr style="width:100%">
            <td style="background-color: #CFB53B; text-align: center; width: 100%; color: White">
                <label id="lblHeaderName" style="font-size: 15px; width: 100%; font-weight: bold; text-decoration: Underline">
                    Add Company
                </label>
            </td>
        </tr>
    </table>
    <fieldset style="overflow-y: scroll;max-height:455px;">
        <legend style="font-weight: bold">Company Informations : </legend>
        <div style="float:left; width:100%; height:auto;  padding-top:5px;">
            <div style="float:left; width:100%; padding-bottom:5px;">
                <div style=" float:left; width:20%;text-align:right;"> <span style="padding-right:5px;"> Company Name: </span> </div>
                <div style="float:left; width:80%; text-align:left;"> <input type="text" id="txtCompanyName" style="width:40%" /><sup style="color:red">*</sup>  </div>
            </div>
        </div>
        <div style="float:left; width:100%; height:auto;  padding-top:0px;">
            <div style="float:left; width:100%; padding-bottom:5px;">
                <div style=" float:left; width:20%;text-align:right;"> <span style="padding-right:5px;"> Head Office/Show Room Address: </span> </div>
                <div style="float:left; width:80%; text-align:left;"> <input type="text" id="txtAddress" style="width:40%" /><sup style="color:red">*</sup>  </div>
            </div>
        </div>
        <div style="float:left; width:100%; height:auto;  padding-top:0px;">
            <div style="float:left; width:100%; padding-bottom:5px;">
                <div style=" float:left; width:20%;text-align:right;"> <span style="padding-right:5px;">Service Center/Factory Address: </span> </div>
                <div style="float:left; width:80%; text-align:left;"> <input type="text" id="txtFactoryAddress" style="width:40%" /><sup style="color:red">*</sup>  </div>
            </div>
        </div>
        <div style="float:left; width:100%; height:auto;  padding-top:0px;">
            <div style="float:left; width:100%; padding-bottom:5px;">
                <div style=" float:left; width:20%;text-align:right;"> <span style="padding-right:5px;">Phone Number: </span> </div>
                <div style="float:left; width:80%; text-align:left;"> <input type="text" id="txtPhoneNo" style="width:40%" /><sup style="color:red">*</sup>  </div>
            </div>
        </div>
        <div style="float:left; width:100%; height:auto;  padding-top:0px;">
            <div style="float:left; width:100%; padding-bottom:5px;">
                <div style=" float:left; width:20%;text-align:right;"> <span style="padding-right:5px;">Email Address: </span> </div>
                <div style="float:left; width:80%; text-align:left;"> <input type="text" id="txtEmailAddress" style="width:40%" /><sup style="color:red">*</sup>  </div>
            </div>
        </div>
        <div style="float:left; width:100%; height:auto;  padding-top:0px;">
            <div style="float:left; width:100%; padding-bottom:5px;">
                <div style=" float:left; width:20%;text-align:right;"> <span style="padding-right:5px;"> Web Address: </span> </div>
                <div style="float:left; width:80%; text-align:left;"> <input type="text" id="txtWebAddress" style="width:40%" /> </div>
            </div>
        </div>


        <div style="float:left; width:100%; height:auto;  padding-top:0px;">
            <div style="float:left; width:100%; padding-bottom:5px;">
                <div style=" float:left; width:20%;text-align:right;"> <span style="padding-right:5px;"> Fax No.: </span> </div>
                <div style="float:left; width:80%; text-align:left;"> <input type="text" id="txtFaxNo" style="width:40%" /> </div>
            </div>
        </div>

        <div style="float:left; width:100%; height:auto;  padding-top:0px;">
            <div style="float:left; width:100%; padding-bottom:5px;">
                <div style=" float:left; width:20%;text-align:right;"> <span style="padding-right:5px;"> Base Currency: </span> </div>
                <div style="float:left; width:80%; text-align:left;"> <select id="cboBaseCurrency" style="width:40%"></select></div>
            </div>
        </div>
        <div style="float:left; width:100%; height:auto;  padding-top:0px;">
            <div style="float:left; width:100%; padding-bottom:5px;">
                <div style=" float:left; width:20%;text-align:right;"> <span style="padding-right:5px;"> Vat Reg. No: </span> </div>
                <div style="float:left; width:80%; text-align:left;"> <input type="text" id="txtVatRegNo" style="width:40%" /></div>
            </div>
        </div>
        <div style="float:left; width:100%; height:auto;  padding-top:0px;">
            <div style="float:left; width:100%; padding-bottom:5px;">
                <div style=" float:left; width:20%;text-align:right;"> <span style="padding-right:5px;">Postal Code: </span> </div>
                <div style="float:left; width:80%; text-align:left;"> <input type="text" id="txtPostalCode" style="width:40%" /></div>
            </div>
        </div>
        <div style="float:left; width:100%; height:auto;  padding-top:0px;">
            <div style="float:left; width:100%; padding-bottom:5px;">
                <div style=" float:left; width:20%;text-align:right;"> <span style="padding-right:5px;">Country: </span> </div>
                <div style="float:left; width:80%; text-align:left;"> <input type="text" id="txtCountry" style="width:40%" /></div>
            </div>
        </div>
        <div style="float:left; width:100%; height:auto;  padding-top:0px;">
            <div style="float:left; width:100%; padding-bottom:5px;">
                <div style=" float:left; width:20%;text-align:right;"> <span style="padding-right:5px;">কোম্পানির নাম: </span> </div>
                <div style="float:left; width:80%; text-align:left;"> <input type="text" id="txtCompanyNameInBangla" style="width:40%; font-family:SutonnyMJ" /></div>
            </div>
        </div>
        <div style="float:left; width:100%; height:auto;  padding-top:0px;">
            <div style="float:left; width:100%; padding-bottom:5px;">
                <div style=" float:left; width:20%;text-align:right;"> <span style="padding-right:5px;">ঠিকানা: </span> </div>
                <div style="float:left; width:80%; text-align:left;"> <input type="text" id="txtAddressInBangla" style="width:40%; font-family:SutonnyMJ" /></div>
            </div>
        </div>
        <div style="float:left; width:100%; height:auto;  padding-top:0px;">
            <div style="float:left; width:100%; padding-bottom:5px;">
                <div style=" float:left; width:20%;text-align:right;"> <span style="padding-right:5px;">Note: </span> </div>
                <div style="float:left; width:80%; text-align:left;"> <input type="text" id="txtNote" style="width:40%" /></div>
            </div>
        </div>
        <div style="float:left; width:100%;padding-bottom:5px; ">
            <div style=" float:left; width:20%;text-align:right; vertical-align:top;"> <span style="padding-right:5px;"> Company Logo: </span> </div>
            <div style="float:left; width:80%; text-align:left;">
                <div style="text-align:center; vertical-align:middle; height:102px; width:260px; border:1px solid">
                    <img id="imgLogo" src="" style="width:260px; height:100px;" />
                    <div style=" float:left; font-size:11px; width:130px; height:auto;"><input id="fileInput" type="file" style="font-size:11px;" onchange="CompanyLogo(this)" /></div>
                    <div style="float:left; text-align:right; vertical-align:top; width:40px;"> <a id="btnRemoveLogo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true"></a></div>
                </div>
            </div>
        </div>
        <div style="float:left; width:100%;padding-bottom:5px; ">
            <div style=" float:left; width:20%;text-align:right; vertical-align:top;"> <span style="padding-right:5px;"> Company Title: </span> </div>
            <div style="float:left; width:80%; text-align:left;">
                <div style="text-align:center; vertical-align:middle; height:80px; width:260px; border:1px solid">
                    <img id="imgCompanyTitle" src="" style="width:260px; height:80px;" />
                    <div style=" float:left; font-size:11px; width:130px; height:auto;"><input id="fileInput_CompanyTitle" type="file" style="font-size:11px;" onchange="CompanyTitle(this)" /></div>
                    <div style="float:left; text-align:right; vertical-align:top; width:40px;"> <a id="btnRemoveCompanyTitle" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true"></a></div>
                </div>
            </div>
        </div>
        <div style="float:left; width:100%;padding-bottom:5px; ">
            <div style=" float:left; width:20%;text-align:right; vertical-align:top;"> <span style="padding-right:5px;"> Auth. Signature: </span> </div>
            <div style="float:left; width:80%; text-align:left;">
                <div style="text-align:center; vertical-align:middle; height:51px; width:260px; border:1px solid">
                    <img id="imgSignature" src="" style="width:260px; height:51px;" />
                    <div style=" float:left; font-size:11px; width:130px; height:auto;"><input id="fileInput_Signature" type="file" style="font-size:11px;" onchange="AuthorizationSignature(this)" /></div>
                    <div style="float:left; text-align:right; vertical-align:top; width:40px;"> <a id="btnRemoveSignature" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true"></a></div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Action:</legend>
        <div style="float:left; width:100%; padding-bottom:5px; text-align:right;">
            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </div>
    </fieldset>
    </div>
</body>
</html>
<script type="text/javascript">
    var _oCompany=null;
    var _sBaseAddress="";
    var _oCurrencys =[];
    var _nMenuid=0;
    var IsRemoveLogo=false;
    var IsRemoveTitle = false;
    var IsRemoveSignature = false;

    $(document).ready(function () {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oCompany =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oCurrencys =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Currencys));
        _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(MenuID));
        _sCompanyHeader=sessionStorage.getItem("CompanyHeader");
        $("#lblHeaderName").html(_sCompanyHeader);
        $("#cboBaseCurrency").icsLoadCombo({
            List: _oCurrencys,
            OptionValue: "CurrencyID",
            DisplayText: "Symbol",
            InitialValue:""
        });
        if(_sCompanyHeader=="Edit Company")
        {
            SetCompanyInformation(_oCompany);
        }
        if(_sCompanyHeader=="View Company")
        {
            SetCompanyInformation(_oCompany);
            SetControllDisabled();
        }
 });

$('#btnSave').click(function (e) {
    debugger;
    var oCompany =RefreshObject();
    SaveInformation(oCompany);
});

$('#btnClose').click(function (e) {
    $('#winCompany').window('close');
});

function SetControllDisabled()
{
    $('#txtCompanyName').attr('disabled','disabled');
    $('#txtAddress').attr('disabled','disabled');
    $('#txtFactoryAddress').attr('disabled','disabled');
    $('#txtPhoneNo').attr('disabled','disabled');
    $('#txtEmailAddress').attr('disabled','disabled');
    $('#txtWebAddress').attr('disabled','disabled');
    $('#txtFaxNo').attr('disabled','disabled');
    $('#txtNote').attr('disabled','disabled');
    $('#cboBaseCurrency').attr('disabled','disabled');
    $('#imgLogo').attr('disabled','disabled');
    $('#imgSignature').attr('disabled','disabled');
    $('#txtVatRegNo').attr('disabled','disabled');
    $('#txtPostalCode').attr('disabled','disabled');
    $('#txtCountry').attr('disabled','disabled');
    $('#txtCompanyNameInBangla').attr('disabled','disabled');
    $('#txtAddressInBangla').attr('disabled','disabled');
    
    $('#btnSave').hide();
}

function SaveInformation(oCompany)
{
    var IsOrganizationLogo = true;
    var IsCompanyTitle = true;
    var IsAuthorizedSignature = true;
    var  oFormdata = new FormData();
    var fileInput = document.getElementById("fileInput");
    if(fileInput.files[0]!=null){oFormdata.append(fileInput.files[0].name, fileInput.files[0]);} else IsOrganizationLogo=false;

    var fileInput_Signature = document.getElementById("fileInput_Signature");
    if(fileInput_Signature.files[0]!=null){oFormdata.append(fileInput_Signature.files[0].name, fileInput_Signature.files[0]);}else IsAuthorizedSignature=false;
    var fileInput_CompanyTitle = document.getElementById("fileInput_CompanyTitle");
    if(fileInput_CompanyTitle.files[0]!=null){oFormdata.append(fileInput_CompanyTitle.files[0].name, fileInput_CompanyTitle.files[0]);}else IsCompanyTitle=false;

    var nts=((new Date()).getTime())/1000;
    var xhr = new XMLHttpRequest();
    xhr.open('POST',_sBaseAddress+'/Company/SaveCompanyInformation?nts='+ nts);

    xhr.setRequestHeader('CompanyID', oCompany.CompanyID);
    xhr.setRequestHeader('Name', oCompany.Name);
    xhr.setRequestHeader('Address', oCompany.Address);
    xhr.setRequestHeader('FactoryAddress', oCompany.FactoryAddress);
    xhr.setRequestHeader('Phone', oCompany.Phone);
    xhr.setRequestHeader('Email', oCompany.Email);
    xhr.setRequestHeader('WebAddress', oCompany.WebAddress);
    xhr.setRequestHeader('FaxNo', oCompany.FaxNo);
    xhr.setRequestHeader('VatRegNo', oCompany.VatRegNo);
    xhr.setRequestHeader('PostalCode', oCompany.PostalCode);
    xhr.setRequestHeader('Country', oCompany.Country);
    xhr.setRequestHeader('Note', oCompany.Note);
    xhr.setRequestHeader('NameInBangla', unescape(encodeURIComponent(oCompany.NameInBangla)));
    xhr.setRequestHeader('AddressInBangla', unescape(encodeURIComponent(oCompany.AddressInBangla)));
    xhr.setRequestHeader('BaseCurrencyID', oCompany.BaseCurrencyID);
    xhr.setRequestHeader('ParentID', oCompany.ParentID);
    xhr.setRequestHeader('IsOrganizationLogo', IsOrganizationLogo);
    xhr.setRequestHeader('IsCompanyTitle', IsCompanyTitle);
    xhr.setRequestHeader('IsAuthorizedSignature', IsAuthorizedSignature);
    xhr.setRequestHeader('IsRemoveSignature', IsRemoveSignature);
    xhr.setRequestHeader('IsRemoveTitle', IsRemoveTitle);
    xhr.setRequestHeader('IsRemoveLogo', IsRemoveLogo);
    
    xhr.send(oFormdata);

    xhr.onreadystatechange = function () {
        if (xhr.readyState == 4 && xhr.status == 200) {  //the response is ready
            var oCompany= MakeObject(xhr.responseText);
            if (oCompany.CompanyID>0)
            {
                $("#fileInput")[0].value=null;
                $("#fileInput_CompanyTitle")[0].value=null;
                $("#fileInput_Signature")[0].value=null;
                alert("Data Saved sucessfully");
                var oCompanys =sessionStorage.getItem("Companys");
                var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                if(oCompanys!=null)
                {
                    oCompanys = jQuery.parseJSON(oCompanys);
                }
                else
                {
                    oCompanys=[];
                }
                if(nIndex!=-1)
                {
                    oCompanys[nIndex]=oCompany;
                }
                else
                {
                    sessionStorage.setItem("SelectedRowIndex", oCompanys.length);
                    oCompanys.push(oCompany);
                }
                sessionStorage.setItem("Companys", JSON.stringify(oCompanys));
                window.location.href = _sBaseAddress+ "/Company/ViewCompanys?menuid="+_nMenuid;
            }
            else
            {
                $("#fileInput")[0].value=null;
                $("#fileInput_CompanyTitle")[0].value=null;
                $("#fileInput_Signature")[0].value=null;
                alert(oCompany.ErrorMessage);
            }
        }
    }
}

function Validation() {
    if ($.trim($('#txtCompanyName').val()) == '') { alert("Please Enter Company Name."); $('#txtCompanyName').focus(); return false; }
    else if ($.trim($('#txtAddress').val()) == '') { alert("Please Enter Address."); $('#txtAddress').focus(); return false; }
    else if(document.getElementById("txtFactoryAddress").value==null || document.getElementById("txtFactoryAddress").value=="")
    {
        alert("Please enter Factory Address!");
        $('#txtFactoryAddress').focus();
        return false;
    }
    else if ($.trim($('#txtPhoneNo').val()) == '') { alert("Please Enter Phone No."); $('#txtPhoneNo').focus(); return false; }
    else if ($.trim($('#txtEmailAddress').val()) == '') { alert("Please Enter Email Address."); $('#txtEmailAddress').focus(); return false; }
    //else if ($.trim($('#txtWebAddress').val()) == '') { alert("Please Enter Web Address."); $('#txtWebAddress').focus(); return false; }
    //else if ($.trim($('#txtNote').val()) == '') { alert("Please Enter Note."); $('#txtNote').focus(); return false; }
    else if($('#cboBaseCurrency').val()<=0){ alert("Please Select a Base Currency."); $('#cboBaseCurrency').focus(); return false;}
    else { return true; }
}

function RefreshObject()
{
    if (!Validation()) { return; }
    var oCompany =
        {
            CompanyID : (_oCompany != null) ? _oCompany.CompanyID : 0,
            Name : $('#txtCompanyName').val(),
            Address : $('#txtAddress').val(),
            FactoryAddress:$('#txtFactoryAddress').val(),
            Phone : $('#txtPhoneNo').val(),
            Email : $('#txtEmailAddress').val(),
            WebAddress : $('#txtWebAddress').val(),
            FaxNo : $('#txtFaxNo').val(),
            Note : $('#txtNote').val(),
            BaseCurrencyID : $('#cboBaseCurrency').val(),
            VatRegNo : $('#txtVatRegNo').val(),
            PostalCode : $('#txtPostalCode').val(),
            Country : $('#txtCountry').val(),
            NameInBangla : $('#txtCompanyNameInBangla').val(),
            AddressInBangla : $('#txtAddressInBangla').val(),
            ParentID :(_oCompany != null) ? _oCompany.ParentID : _nParenID,

        };
    return oCompany;
}

function MakeObject(sResponseValue)
{
    sResponseValue=sResponseValue.split('\\"')[1]
    //var nEmployeeDocID=sResponseValue.split('~')[0];
    var oCompany=
        {
            ErrorMessage: sResponseValue.split('~')[0],
            CompanyID : sResponseValue.split('~')[1],
            Name : sResponseValue.split('~')[2],
            Address :sResponseValue.split('~')[3],
            Phone : sResponseValue.split('~')[4],
            Email : sResponseValue.split('~')[5],
            WebAddress : sResponseValue.split('~')[6],
            FaxNo : sResponseValue.split('~')[7],
            Note : sResponseValue.split('~')[8],
            BaseCurrencyID : sResponseValue.split('~')[9],
            ParentID : sResponseValue.split('~')[10],
            EncryptCompanyID : sResponseValue.split('~')[11]
        };
    return oCompany;
}

$('#btnRemoveLogo').click(function(e)
{
    $('#imgLogo').attr('src', null).width(170).height(100);
    var reader = new FileReader();
    IsRemoveLogo=true;
});

$('#btnRemoveCompanyTitle').click(function(e)
{
    $('#imgCompanyTitle').attr('src', null).width(260).height(51);
    var reader = new FileReader();
    IsRemoveTitle = true;
});

$('#btnRemoveSignature').click(function(e)
{
    $('#imgSignature').attr('src', null).width(260).height(51);
    var reader = new FileReader();
    IsRemoveSignature = true;
});

function CompanyLogo(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#imgLogo')
            .attr('src', e.target.result)
            .width(170)
            .height(100);
            // $('#txtIsRemovedProfilePic').val(false);
        };
        reader.readAsDataURL(input.files[0]);
    }
}

function AuthorizationSignature(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#imgSignature')
            .attr('src', e.target.result)
            .width(260)
            .height(51);
            // $('#txtIsRemovedProfilePic').val(false);
        };
        reader.readAsDataURL(input.files[0]);
    }
}

function CompanyTitle(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#imgCompanyTitle')
            .attr('src', e.target.result)
            .width(260)
            .height(51);
            // $('#txtIsRemovedProfilePic').val(false);
        };
        reader.readAsDataURL(input.files[0]);
    }
}

function SetCompanyInformation(oCompany) {
    if (oCompany.CompanyID>0)
    {
        $('#txtCompanyName').val(oCompany.Name);
        $('#txtAddress').val(oCompany.Address);
        $('#txtFactoryAddress').val(oCompany.FactoryAddress);
        $('#txtPhoneNo').val(oCompany.Phone);
        $('#txtEmailAddress').val(oCompany.Email);
        $('#txtWebAddress').val(oCompany.WebAddress);
        $('#txtFaxNo').val(oCompany.FaxNo);
        $('#txtVatRegNo').val(oCompany.VatRegNo);
        $('#txtPostalCode').val(oCompany.PostalCode);
        $('#txtCountry').val(oCompany.Country);
        $('#txtNote').val(oCompany.Note);
        $('#txtCompanyNameInBangla').val(oCompany.NameInBangla); 
        $('#txtAddressInBangla').val(oCompany.AddressInBangla);
        $('#cboBaseCurrency').val(oCompany.BaseCurrencyID);
        if(oCompany.ByteInString!=""){document.getElementById("imgLogo").src =  oCompany.ByteInString;}
        else {document.getElementById("imgLogo").src=null;}
        if(oCompany.ByteInString_Signature!=""){document.getElementById("imgSignature").src =  oCompany.ByteInString_Signature;}
        else {document.getElementById("imgSignature").src=null;}
        if(oCompany.ByteInString_CompanyTitle!=""){document.getElementById("imgCompanyTitle").src =  oCompany.ByteInString_CompanyTitle;}
        else {document.getElementById("imgCompanyTitle").src=null;}
    }
}


$("#btnClose").click(function () {
    window.location.href = _sBaseAddress+ "/Company/ViewCompanys?menuid="+_nMenuid;
});
</script>
