<html>
<head>
</head>
<body>
    @model ESimSol.BusinessObjects.Bank
    <div id="divBank" class="easyui-panel" title="Add Bank" style="font-family:Tahoma; height:100%; width:100%">
        <div style="width:100%; height:88%; text-align:center">
            <fieldset style="height:97%">
                <legend style="font-weight: bold;text-align:left;">Bank Informations : </legend>
                <table class="tbl">
                    <tr>
                        <td style="width: 40%; text-align: right">
                            <label style="font-family:Tahoma">Bank Code :</label>
                        </td>
                        <td style="width: 60%; text-align: left">
                            <input id="txtBankCode" type="text" disabled="disabled" placeholder="Auto Generate" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 40%; text-align: right">
                            <label>Bank Name :</label>
                        </td>
                        <td style="width: 60%;text-align: left">
                            <input id="txtBankName" type="text" style="width: 500px" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 40%; text-align: right">
                            <label>Short Name:</label>
                        </td>
                        <td style="width: 60%;text-align: left">
                            <input id="txtBankShortName" type="text" style="width: 500px" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 40%; text-align: right">
                            <label>Fax No :</label>
                        </td>
                        <td style="width: 60%;text-align: left">
                            <input id="txtFaxNo" type="text" style="width: 500px" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 40%; text-align: right">
                            <label>Cheque Setup :</label>
                        </td>
                        <td style="width: 60%;text-align: left">
                            <input id="txtChequeSetupName" type="text" style="width: 500px" autocomplete="off" placeholder="type Cheque Setup Name" />
                        </td>
                    </tr>
                
                </table>
            </fieldset>
        </div>
        <div style="width:100%; height:10%">
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:80%; text-align:right"></td>
                        <td style="width: 10%">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        </td>
                        <td style="width: 10%">
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
 var _oBank=null; 
 var _sBankHeader="";
 var _nMenuid=0;
 $(document).ready(function () {
     _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));    
     _oBank =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));     
     _sBankHeader=sessionStorage.getItem("BankHeader");
     $('#divBank').panel({ title:_sBankHeader});
     if(_sBankHeader=="View Bank")
     {
         document.getElementById('btnSave').style.display = 'none';
     }
     RefreshBankControl(_oBank);

     $('#txtChequeSetupName').icsAutoComplete({
         BaseAddress: sessionStorage.getItem('BaseAddress'),
         ControllerName: "ChequeSetup",
         ActionName: "Refresh",
         Object: {ErrorMessage:''},
         PropertyName: "ChequeSetupName",
         ParamName: "ErrorMessage",
         PreParam: "param;",
         PostParam:"~"
     },function(resp){
             //alert(resp.obj.UserName);
         });
 });


    function RefreshBankControl(oBank) {
        $("#txtBankCode").val(oBank.Code);
        $("#txtBankName").val(oBank.Name);
        $("#txtBankShortName").val(oBank.ShortName);
        $("#txtFaxNo").val(oBank.FaxNo);
        $("#txtChequeSetupName").val(oBank.ChequeSetupName);
        if(oBank.ChequeSetupID>0 && oBank.ChequeSetupName!=null ||oBank.ChequeSetupName!='' ){
            $('#txtChequeSetupName').addClass('fontColorOfPickItem');
        }
    }

 function ValidateInput()
 {
     

     if (!$.trim($("#txtBankName").val()).length) {
         alert("Please enter bank name!");
         $('#txtBankName').val("");
         $('#txtBankName').focus();
         $('#txtBankName').addClass("errorFieldBorder");
         return false;
     } else {
         $('#txtBankName').removeClass("errorFieldBorder");
     }

     if (!$.trim($("#txtBankShortName").val()).length) {
         alert("Please enter bank short name!");
         $('#txtBankShortName').val("");
         $('#txtBankShortName').focus();
         $('#txtBankShortName').addClass("errorFieldBorder");
         return false;
     } else {
         $('#txtBankShortName').removeClass("errorFieldBorder");
     }
     //var oChequeSetup= $('#txtChequeSetupName').data('obj');
     //if(oChequeSetup==null ||oChequeSetup.ChequeSetupID<=0){
     //    if(_oBank.ChequeSetupID<=0)
     //    {
     //        alert("Please select a Cheque Setup!");
     //        $("#txtChequeSetupName").addClass("errorFieldBorder");
     //        $("#txtChequeSetupName").focus();
     //        return false;
     //    } else {
     //        $("#txtChequeSetupName").removeClass("errorFieldBorder");
     //    }
     //} else {
     //    $("#txtChequeSetupName").removeClass("errorFieldBorder");
     //}
     return true;
 }

 function RefreshObject()
 {
    
     var oBank= {
         BankID:  _oBank.BankID,
         Code: $.trim($("#txtBankCode").val()),
         Name: $.trim($("#txtBankName").val()),
         ShortName: $.trim($("#txtBankShortName").val()),
         FaxNo: $.trim($("#txtFaxNo").val()),
         ChequeSetupID : $('#txtChequeSetupName').data('obj')==null?_oBank.ChequeSetupID: $('#txtChequeSetupName').data('obj').ChequeSetupID,
         Category: $.trim($("#chkIsOwnBank").is(":checked"))
     };
     return oBank;
 }

 $("#btnSave").click(function(){
     if(!ValidateInput()) return;
     var oBank=RefreshObject();
     $.ajax({
         type: "POST",
         dataType: "json",
         url : sessionStorage.getItem('BaseAddress')+  "/Bank/Save",
         traditional: true,
         data:  JSON.stringify(oBank),
         contentType: "application/json; charset=utf-8",
         success: function (data) {
             var oBank = jQuery.parseJSON(data);
             debugger;
             if (oBank.BankID>0) {
                 alert("Data Saved sucessfully");
                 var oBanks =sessionStorage.getItem("Banks");
                 var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndexBank"));
                 if(oBanks!=null)
                 {
                     oBanks = jQuery.parseJSON(oBanks);
                 }
                 else
                 {
                     oBanks=[];
                 }
                 if(nIndex!=-1)
                 {
                     oBanks[nIndex]=oBank;
                 }
                 else
                 {
                     sessionStorage.setItem("SelectedRowIndexBank", oBanks.length);
                     oBanks.push(oBank);
                 }
                 sessionStorage.setItem("Banks", JSON.stringify(oBanks));
                 window.location.href = sessionStorage.getItem('BaseAddress')+ "/Bank/ViewBanks?menuid="+_nMenuid;
             }
             else {
                 alert(oBank.ErrorMessage);
             }
         },
         error: function (xhr, status, error) {
             alert(error);
         }
     });
 });

 $("#btnClose").click(function(){
     
     window.location.href = sessionStorage.getItem('BaseAddress')+ "/Bank/ViewBanks?menuid="+_nMenuid;
 });

 $(document).keydown(function(e) {
     if(e.which == 27)//escape=27
     {
         
         window.location.href = sessionStorage.getItem('BaseAddress')+ "/Bank/ViewBanks?menuid="+_nMenuid;
     }
 });

    //////

</script>

