<html>
<head>  
  
    
</head>
<body>

@model ESimSol.BusinessObjects.Bank
  
    <div id="divBankBranch" class="easyui-panel" title="Add Bank Branch" style="font-family:Tahoma; height:100%; width:100%">
        <div style="width:100%; height:88%; text-align:center">
            <table id="tblBankBranchs"  class="easyui-datagrid" style="width:100%;height:100%"
                   data-options="
                singleSelect: true,
                fitColumns:false,
                rownumbers:true,
                pagination:false,
                autoRowHeight:false,
                toolbar: '#toolbar'
            ">
                <thead>
                    <tr>
                        <th field="BranchCode" width="150" align="left">Branch Code</th>
                        <th field="BranchName" width="200" align="left">Branch Name</th>
                        <th field="Address" width="400" align="left">Address</th>
                    </tr>
                </thead>
            </table>
            <div style="text-align:left" id="toolbar">
                <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>
                <input type="text" id="txtSearchByName" value="Search by banch name" style="width:150px" />
                <a id="btnAddBankBranch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
                <a id="btnRemoveBankBranch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                <a id="btnAddBankAccount" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add Bank Accounts</a>
                <a id="btnAddBankPersonnel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add Bank Personnels</a>
            </div>
        </div>
        <div style="width:100%; height:10%">
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:80%; text-align:right"></td>
                        <td style="width: 10%"></td>
                        <td style="width: 10%">
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</body>
</html>

<script type="text/javascript"> 
 var _nMenuid=0;
 var _oBankBranch;
 var _oBankBranchs=[]; 
 var _oSelectedBank=null; 
 var _sBankHeader="";
 var _sBaseAddress="";
 $(document).ready(function () {
     debugger;
     _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    _oSelectedBank =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));         
    _oBankBranchs=@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.BankBranchs));    
  
     //document.getElementById('lblHeaderName').innerHTML='Branch for :' +_oSelectedBank.Name;            
      
    RefreshList();

     
    _sBankHeader=sessionStorage.getItem("BankHeader");
    var nIndex =sessionStorage.getItem("SelectedRowIndex");
    _sBankHeader=_sBankHeader+' ->Branch for :' +_oSelectedBank.Name; 
    $('#divBankBranch').panel({ title:_sBankHeader});
  
    RefreshList();
    if(nIndex!=null)
    {
        $('#tblBankBranchs').datagrid('selectRow', nIndex);
    }
 }); 

$("#btnAddBankAccount").click(function(){
    var oBankBranch= $('#tblBankBranchs').datagrid('getSelected'); 
    if(oBankBranch==null || oBankBranch.BankBranchID<=0)
    {
        alert("Please select a item from list!");
        return;
    }

    var tsv=((new Date()).getTime())/1000;
    var SelectedRowIndex=$('#tblBankBranchs').datagrid('getRowIndex',oBankBranch);
    var oBankBranchs= $('#tblBankBranchs').datagrid('getRows');
    sessionStorage.setItem("BankBranchs", JSON.stringify(oBankBranchs));        
    sessionStorage.setItem("SelectedRowIndexBank", SelectedRowIndex);   
    sessionStorage.setItem("BankBranchHeader", "Add Bank Account");
    window.location.href = _sBaseAddress+  "/Bank/ViewBankAccounts?id="+oBankBranch.BankBranchID;

});

$("#btnAddBankPersonnel").click(function(){
  
    var oBankBranch= $('#tblBankBranchs').datagrid('getSelected'); 
    if(oBankBranch==null || oBankBranch.BankBranchID<=0)
    {
        alert("Please select a item from list!");
        return;
    }

    var tsv=((new Date()).getTime())/1000;
    var SelectedRowIndex=$('#tblBankBranchs').datagrid('getRowIndex',oBankBranch);
    var oBankBranchs= $('#tblBankBranchs').datagrid('getRows');
    sessionStorage.setItem("BankBranchs", JSON.stringify(oBankBranchs));        
    sessionStorage.setItem("SelectedRowIndexBank", SelectedRowIndex);   
    sessionStorage.setItem("BankPersonnelHeader", "Add BankPersonnel");
    window.location.href = _sBaseAddress+  "/Bank/ViewBankPersonnels?id="+oBankBranch.BankBranchID;

    
});
 
$('#txtSearchbyCode').keypress(function (e) {
    var c = String.fromCharCode(e.which);
    var txtSearchbyCode = document.getElementById('txtSearchbyCode').value;
    txtSearchbyCode = txtSearchbyCode + c;
    var bFlag=false;
    var sTempCode="";
    var rows = $('#tblBankBranchs').datagrid('getRows');        
    for(i=0;i<rows.length;++i){
        sTempCode=rows[i]['BranchCode'].substring(0, txtSearchbyCode.length);
        if(txtSearchbyCode.toUpperCase()==sTempCode.toUpperCase())
        {
            bFlag=true;
            break;
        }
    }
    if(bFlag)
    {
        $('#tblBankBranchs').datagrid('selectRow', i);
    }
});

$('#txtSearchByName').keypress(function (e) {
    var c = String.fromCharCode(e.which);
    var txtSearchByName = document.getElementById('txtSearchByName').value;
    txtSearchByName = txtSearchByName + c;
    var bFlag=false;
    var sTempName="";
    var rows = $('#tblBankBranchs').datagrid('getRows');        
    for(i=0;i<rows.length;++i){
        sTempName=rows[i]['BranchName'].substring(0, txtSearchByName.length);
        if(txtSearchByName.toUpperCase()==sTempName.toUpperCase())
        {
            bFlag=true;
            break;
        }
    }
    if(bFlag)
    {
        $('#tblBankBranchs').datagrid('selectRow', i);
    }
});

$("#btnAddBankBranch").click(function(){


    var oBankBranchs= $('#tblBankBranchs').datagrid('getRows');
    sessionStorage.setItem("BankBranchs", JSON.stringify(oBankBranchs)); 
    sessionStorage.setItem("SelectedRowIndex", -1);   
    sessionStorage.setItem("BankBranchHeader", "Add BankBranch");
    var tsv=((new Date()).getTime())/1000;
    window.location.href = _sBaseAddress+ "/Bank/ViewBankBranch?id=0&nid="+_oSelectedBank.BankID+"&ts="+tsv;


});

$("#btnEdit").click(function(){
    debugger;
    var oBankBranch= $('#tblBankBranchs').datagrid('getSelected'); 
    if(oBankBranch==null || oBankBranch.BankBranchID<=0)
    {
        alert("Please select a item from list!");
        return;
    }
    var SelectedRowIndex=$('#tblBankBranchs').datagrid('getRowIndex',oBankBranch);
   
    var oBankBranchs= $('#tblBankBranchs').datagrid('getRows');
    sessionStorage.setItem("BankBranchs", JSON.stringify(oBankBranchs)); 
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);   
    sessionStorage.setItem("BankBranchHeader", "Edit BankBranch");
    var tsv=((new Date()).getTime())/1000;
    window.location.href = _sBaseAddress+ "/Bank/ViewBankBranch?id="+ oBankBranch.BankBranchID+"&nid="+_oSelectedBank.BankID+"&ts="+tsv;

});

$("#btnView").click(function(){
  
    var oBankBranch= $('#tblBankBranchs').datagrid('getSelected'); 
    if(oBankBranch==null || oBankBranch.BankBranchID<=0)
    {
        alert("Please select a item from list!");
        return;
    }
    var SelectedRowIndex=$('#tblBankBranchs').datagrid('getRowIndex',oBankBranch);
   
    var oBankBranchs= $('#tblBankBranchs').datagrid('getRows');
    sessionStorage.setItem("BankBranchs", JSON.stringify(oBankBranchs)); 
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);   
    sessionStorage.setItem("BankBranchHeader", "View BankBranch");
    var tsv=((new Date()).getTime())/1000;
    window.location.href = _sBaseAddress+ "/Bank/ViewBankBranch?id="+ oBankBranch.BankBranchID+"&nid="+_oSelectedBank.BankID+"&ts="+tsv;

});

$("#btnRemoveBankBranch").click(function(){
    var oBankBranch= $('#tblBankBranchs').datagrid('getSelected');
    if (!confirm("Confirm to Delete?")) return ;
    if(oBankBranch==null || oBankBranch.BankBranchID<=0)
    {
        alert("Invalid Field!!! please select a valid Field!");                  
        return false;
    }
    var SelectedRowIndex=$('#tblBankBranchs').datagrid('getRowIndex',oBankBranch);
    if (oBankBranch.BankBranchID> 0) 
    {
        $.ajax
        ({
            type: "GET",
            dataType: "json",                
            url : _sBaseAddress+  "/BankBranch/Delete",
            data: { id: oBankBranch.BankBranchID},
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var feedbackmessage = jQuery.parseJSON(data);
                if (feedbackmessage == "Deleted") 
                {
                    alert("Delete sucessfully");                        
                    $('#tblBankBranchs').datagrid('deleteRow',SelectedRowIndex);
                    var oBanks= $('#tblBankBranchs').datagrid('getRows');
                    sessionStorage.setItem("Banks", JSON.stringify(oBanks));  
                }
                else
                {
                    alert(feedbackmessage);
                }
            },
            error: function (xhr, status, error) 
            {
                alert(error);
            }
        });
    }
});
   
function RefreshList()
{    
    var data=_oBankBranchs;
    data={"total":""+data.length+"","rows":data};
    $('#tblBankBranchs').datagrid('loadData',data); 
}

$("#btnRefresh").click(function(){
    var data=$('#tblBankBranchs').datagrid('getRows');
    data={"total":""+data.length+"","rows":data};
    $('#tblBankBranchs').datagrid('loadData',data); 
});


    
$("#btnClose").click(function(){
    window.location.href = _sBaseAddress+ "/Bank/ViewBanks?menuid="+_nMenuid;
});

$(document).keydown(function(e) {
    if(e.which == 27)//escape=27
    {
        window.location.href = _sBaseAddress+ "/Bank/ViewBanks?menuid="+_nMenuid;
    }
});

</script>