/*.icsAlert {
    max-width: 300px;
    max-height: 150px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index:99999999;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}*/




 .icsAlert {
    max-width: 300px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index:99999999;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.icsAlertInfo {
    border:1px solid #00529B;
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('info.png');
}

.icsAlertSuccess {
    border:1px solid #4F8A10;
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('success.png');
}

.icsAlertWarning {
    border:1px solid #9F6000;
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('warning.png');
}

.icsAlertError{
    border:1px solid #D8000C;
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('error.png');
}

.icsAlert input[type="button"] {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
}

.icsAlert input[type="button"]:hover {
    cursor:pointer;
}

.icsAlertWarning input[type="button"] {
    background: #FEEFB3;
    border: 1px solid #9F6000;
}

.icsAlertWarning input[type="button"]:hover {
    background-color:#9F6000;
    color:#fff;
}

.icsAlertInfo input[type="button"] {
    background: #BDE5F8;
    border: 1px solid #00529B;
}

.icsAlertInfo input[type="button"]:hover {
    background-color:#00529B;
    color:#fff;
}

.icsAlertSuccess input[type="button"] {
    background: #DFF2BF;
    border: 1px solid #4F8A10;
}

.icsAlertSuccess input[type="button"]:hover {
    background-color:#4F8A10;
    color:#fff;
}

.icsAlertError input[type="button"] {
    background: #FFBABA;
    border: 1px solid #D8000C;
}

.icsAlertError input[type="button"]:hover {
    background-color:#D8000C;
    color:#fff;
}