.meetingsummary {
    width: 620px;
    text-align: justify;
    border-bottom: 2px;
    border-bottom-style: solid;
    padding: 3px;
}
    .meetingsummary:hover {
        background-color: rgba(241, 238, 238, 0.70);
    }
    .meetingsummary p {
        margin: 0;
        color: Black;
        font-size: 13px;
        padding: 0px;
        font-family: Tahoma;
        text-align: left;
    }
    .meetingsummary b {
        margin: 0;
        color: Black;
        font-family: Tahoma;
        font-size: 13px;
        padding: 0px;
        text-align: left;
    }