.pageborder
{
    background-color:#FAFAFA;
    width:890px;
    height:570px;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    font-size:14px;    
}

.PageHeading
{    
    background-color:#FAFAFA;/* #CFB53B;*/
    margin-top:0px;  
    /*border: 1px coral solid;*/
}

.Headline
{
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    font-size:16px;   
    font-weight:bold;
    text-decoration:underline;  
    text-align:center;
}

.PageBody
{
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin-top:2px;  
    width:890px;   
    height:495px;
    overflow:auto;
    /*border: 1px coral solid;*/
}

.bodyTextLayout
{
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin-top:5px;  
    font-size:14px;   
}

.PageFooter
{
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin-top:2px;  
    width:850px;
    height:25px;
    /*border: 1px coral solid;*/
}



.test
{
    background-color:Blue;   
}