.Main
{
	width:1200px;	
	margin-top:0px;
	margin-left: auto;
    margin-right: auto;     
    background-color:White;
}

.header
{
	width:1200px;
	height:100px;
	margin-top:0px;	
	margin-left: auto;
    margin-right: auto;    
    background-color:#3B5998;    
    text-shadow: 1px 1px 2px #111;
    color:White;
    font-family:Arial Rounded MT Bold;
}

.middle 
{
	width:998px;
	height:500px;   
	margin-left:202px;
	margin-top:2px;
    background-color:White;
}

.footer
{
    width:1200px;
	height:100px;
	margin-top:0px;	
	margin-left: auto;
    margin-right: auto;    
    background-color:#A4A4A4;
}

.Menu
{
	width:200px;
	height:500px;	
    background-color:White;
}

.verticalLine 
{     
    border-left:1px solid #A4A4A4;
}

.verticalLineRight 
{     
    border-left:1px solid #A4A4A4;
    border-right:1px solid #A4A4A4;
}

.uiButton {
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    padding: 2px 6px;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
}


.uiButtonConfirm {
background-image: url(../Images/layouticon.png);
background-repeat: no-repeat;
background-position: -352px -54px;
background-color: #5B74A8;
border-color: #29447E #29447E #1A356E;
}