<html>
<head>
    @{ViewBag.Title = "Production Tracking Unit Control";}
</head>
<body>
    @model IEnumerable<ESimSol.BusinessObjects.KnitDyeingPTU>

        <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
            <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
                <label style="font-size:18px;">Please wait</label>
                <div id="progressbar" style="width:100%;height:37px;"></div>
            </div>
        </div>
        <div id="winKnitDyeingYarnBooking" class="easyui-window" title="Yarn Consumption Search" style="width:1100px;height:440px;padding:2px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
              <div >
                  <fieldset>                     
                      <table id="tblKnitDyeingYarnBooking" class="easyui-datagrid" style="height:300px; width:99%;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" showfooter="true" toolbar="#toolbar3">
                          <thead>
                              <tr>
                                  <th field="ck" checkbox="true"></th>
                                  <th field="CompositionName" width="20%" align="left">Yarn Name</th>
                                  <th field="StoreName" width="20%" align="left">Store</th>
                                  <th field="LotNo" width="20%" align="left">Lot</th>
                                  <th field="MUSymbol" width="10%" align="left">MUnit</th>
                                  <th field="BookingByName" width="15%" align="left">Booking By</th>
                                  <th field="BookingQty" width="10%" align="right" formatter="formatPrice">Book Qty</th>                                  
                              </tr>
                          </thead>
                      </table>
                      <div id="toolbar3">
                          <select id="cboProduct" style="width:100px;height:20px"></select>
                          <select id="cboStore" style="width:100px;height:20px"></select>
                          <input type="text" id="txtLotNo" placeholder="Search By LotNo" style="width:100px" />
                          <input id="btnClearLot"type="button"   value="C"  />
                          <input id="btnPickLot"type="button"  value="P"  />
                          <input type="text" id="txtBookingQty" style="width:100px" />
                          <input type="text" id="txtMUnit"disabled="disabled" formatter="formatPrice"style="width:35px" />
                          <input type="text" id="txtRemarks" placeholder="Remarks" style="width:100px" />
                          <a id="btnAddKnitDyeingYarnBooking" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                          <a id="btnUpdateKnitDyeingYarnBooking" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Update</a>
                          <a id="btnEditKnitDyeingYarnBooking" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                          <a id="btnRemoveKnitDyeingYarnBooking" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                          <a id="btnRefreshKnitDyeingYarnBooking" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>
                          <a id="btnResetKnitDyeingYarnBooking" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
                          <a id="btnApproveKnitDyeingYarnBooking" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Approve</a>
                      </div>
                  </fieldset>
              </div>
                            
                <fieldset style="width:100%; vertical-align:top;">
                    <legend style="font-weight:bold"> Action : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%">
                        <tr>
                            <td style="width:90%;text-align:right;"></td>
                            <td style="width:10%;text-align:right;">
                                <a id="btnCloseKnitDyeingYarn" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>


        <div class="menuMainCollectionTable" id="divPS">
            <div id="divKnitDyeingPTU" class="easyui-panel" title="Knit Dyeing Production Tracing Unit" style="font-family:Tahoma; text-align:center; height:98%;">
                <div style="width:100%;">
                    <fieldset>
                        <legend style="font-weight:bold">Order info: </legend>
                        <table style="width:100%" cellpadding="1" cellspacing="2">
                            <tr>
                                <td style="width:12%; text-align: right">
                                    <label>Style No : </label>
                                </td>
                                <td style="width:20%; text-align: right">
                                    <input type="text" id="txtStyleNo" placeholder="Search By Style No" style="width:80%" />
                                    <a id="btnStyleNoPick" href="javascript:void(0)" style="width:18%" class="easyui-linkbutton" iconcls="icon-search" plain="false"></a>
                                </td>
                                <td style="width:12%; text-align: right">
                                    <label>Recap/PAM No :</label>
                                </td>
                                <td style="width:10%;">
                                    <input type="text" id="txtRecapPAMNo" disabled="disabled" style="width:60%" />
                                    <input type="text" id="txtSessionName" disabled="disabled" style="width:38%" />
                                </td>
                                <td style="width:12%; text-align: right">
                                    <label>Issue Date :</label>
                                </td>
                                <td style="width:20%; text-align: center">
                                    <input type="text" id="txtOrderDate" disabled="disabled" style="width:100%" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:12%; text-align: right">
                                    <label>Buyer : </label>
                                </td>
                                <td style="width:20%; text-align: left">
                                    <input type="text" id="txtBuyerName" disabled="disabled" style="width:100%" />
                                </td>
                                <td style="width:12%; text-align: right">
                                    <label>Merchandiser :</label>
                                </td>
                                <td style="width:20%; text-align: left">
                                    <input type="text" id="txtMerchandiserName" disabled="disabled" style="width:100%" />
                                </td>

                                <td style="width:12%; text-align: right">
                                    <label>Shipment Date :</label>
                                </td>
                                <td style="width:20%; text-align: center">
                                    <input type="text" id="txtShipmentDate" disabled="disabled" style="width:100%" />
                                </td>
                            </tr>
                            <tr>
                                <td style="width:12%; text-align: right">
                                    <label>Fabric name : </label>
                                </td>
                                <td style="width:20%; text-align: left">
                                    <input type="text" id="txtFabricName" disabled="disabled" style="width:100%" />
                                </td>
                                <td style="width:12%; text-align: right">
                                    <label>Qty :</label>
                                </td>
                                <td style="width:20%; text-align: right">
                                    <input type="text" id="txtTotalQty" disabled="disabled" style="width:70%; text-align:right" />
                                    <input type="text" id="txtUnitName" disabled="disabled" style="width:28%" />
                                </td>

                                <td style="width:12%; text-align: right">
                                    <label>Approve By :</label>
                                </td>
                                <td style="width:20%; text-align: right">
                                    <input type="text" id="txtApproveByName" disabled="disabled" style="width:100%" />
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
                <table id="tblPTUs" title="Fabric Follow Up Sheet" class="easyui-datagrid" style="height:380px; width:100%;" fitcolumns="false" rownumbers="true" showfooter="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar">
                    <thead data-options="frozen:true">
                        <tr>
                            <th width="10%" align="left" field="ColorName">Color</th>
                            <th width="10%" align="left" field="ShadeRecipe">Recipe No</th>
                            <th width="12%" align="left" field="CompositionName">Composition Name</th>
                            <th width="8%" align="left" field="FabricTypeName">Fabric Type</th>                            
                            <th width="5%" align="left" field="UnitName">Unit</th>
                            <th width="7%" align="right" field="ReqFabricQtyInString" formatter="formatingQty">Req Qty</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th width="8%" align="center" field="GSMName" rowspan="2">GSM</th>
                            <th width="8%" align="center" field="FinishDiaName" rowspan="2">Finish Dia</th>                            
                            <th width="7%" align="right" field="KnitYarnBookQtySt" formatter="formatingQty" rowspan="2">Booked Qty</th>
                            <th width="25%" align="center" colspan="5">Knitting</th>
                            <th width="30%" align="center" colspan="6">Dyeing</th>
                            <th width="30%" align="center" colspan="6">Finishing</th>
                        </tr>
                        <tr>
                            <th width="10%" align="right" field="KnitYarnIssueQtySt" formatter="formatingQty">Yarn Issue Qty</th>
                            <th width="10%" align="right" field="KnitPipeLineQtySt" >In-Process</th>
                            <th width="10%" align="right" field="KnitProcessLossQtySt" formatter="formatingQty">Process Loss</th>
                            <th width="10%" align="right" field="KnitRejectQtySt">Reject Qty</th>
                            <th width="10%" align="right" field="GrayFabricRcvQtySt" formatter="formatingQty">Gray Rcv</th>

                            <th width="10%" align="right" field="DyeingIssueQtySt" formatter="formatingQty">Batch Issue Qty</th>
                            <th width="10%" align="right" field="DyeingPipeLineQtySt" >In-Process</th>
                            <th width="10%" align="right" field="ReDyeingQtySt" >Re-Dyeing</th>
                            <th width="10%" align="right" field="DyeingGainLossQtySt" >Gain/Loss</th>
                            <th width="10%" align="right" field="DyeingFinishQtySt">Dyeing Qty</th>
                            <th width="10%" align="right" field="DyeingBalanceSt" >Dyeing Balance</th>

                            <th width="10%" align="right" field="ReFinishingQtySt" >Re-Finishing</th>
                            <th width="10%" align="right" field="FinishingGainLossQtySt">Gain/Loss</th>
                            <th width="10%" align="right" field="FinishingQtySt" >Finishing Qty</th>
                            <th width="10%" align="right" field="ChallanQtySt" >Challan Qty</th>
                            <th width="10%" align="right" field="DeliveryBalanceSt" >Delivery Balance</th>
                            <th width="10%" align="right" field="ProcessLossSt" >Process Loss(%)</th>
                        </tr>
                    </thead>
                </table>
                <div id="toolbar">
                    <a id="btnReload" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>
                    <a id="btnYarnBooking" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Yarn Booking</a>
                    <a id="btnPrintList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                </div>
            </div>
        </div>
</body>
</html>
<style type="text/css">
    #winGraceInfo {
        width: 750px;
    }
</style>
<script type="text/javascript">        
    $(document).ready(function () {                
        var oKnitDyeingPTUs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oKnitDyeingProgram = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.KnitDyeingProgram));
        var oWorkingUnits = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.WorkingUnits));
        var nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.menuid));
        var oProducts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Products));
        
        $('#divKnitDyeingPTU').data('Menuid', nMenuid);
        $('#divKnitDyeingPTU').data('KnitDyeingPTUs', oKnitDyeingPTUs);
        $('#divKnitDyeingPTU').data('KnitDyeingProgram', oKnitDyeingProgram);
        $('#winKnitDyeingYarnBooking').data('WorkingUnit', oWorkingUnits);
        $('#winKnitDyeingYarnBooking').data('Products', oProducts);

        
        if(parseFloat(oKnitDyeingProgram.KnitDyeingProgramID) > 0)
        {
            RefreshKnitDyeingProgram(oKnitDyeingProgram);
            LoadDataGrid(oKnitDyeingPTUs);
        }                     
        $('#winKnitDyeingYarnBooking').data('KnitDyeingYarnBooking', null);        
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
        $("#btnUpdateKnitDyeingYarnBooking").hide();

        $('#AppMainLayout').layout('collapse', 'west');        
        $('#AppMainLayout').layout('expand', 'west');
        $('#AppMainLayout').layout('collapse', 'west');
    });


    function RefreshSummary()
    {
        
        var oPTUs = $('#tblPTUs').datagrid('getRows');
        var oFooterObject = {
            UnitName: 'Total :',
            ReqFabricQtyInString:'0~0~'+formatPrice(ICS_TotalCalculation(oPTUs,'ReqFabricQty')),
            KnitYarnBookQtySt:'0~0~'+formatPrice(ICS_TotalCalculation(oPTUs,"KnitYarnBookQty")),

            KnitYarnIssueQtySt:'0~0~'+formatPrice(ICS_TotalCalculation(oPTUs,"KnitYarnIssueQty")),
            KnitPipeLineQtySt: formatPrice(ICS_TotalCalculation(oPTUs,"KnitPipeLineQtySt")),
            KnitProcessLossQtySt:'0~0~'+formatPrice(ICS_TotalCalculation(oPTUs,"KnitProcessLossQty")),
            KnitRejectQtySt: formatPrice(ICS_TotalCalculation(oPTUs,"KnitRejectQtySt")),
            GrayFabricRcvQtySt:'0~0~'+formatPrice(ICS_TotalCalculation(oPTUs,"GrayFabricRcvQty")),

            DyeingIssueQtySt:'0~0~'+formatPrice(ICS_TotalCalculation(oPTUs,"DyeingIssueQty")),
            DyeingPipeLineQtySt: formatPrice(ICS_TotalCalculation(oPTUs,"DyeingPipeLineQtySt")),
            ReDyeingQtySt: formatPrice(ICS_TotalCalculation(oPTUs,"ReDyeingQtySt")),
            DyeingGainLossQtySt: formatPrice(ICS_TotalCalculation(oPTUs,"DyeingGainLossQtySt")),
            DyeingFinishQtySt: formatPrice(ICS_TotalCalculation(oPTUs,"DyeingFinishQtySt")),

            ReFinishingQtySt: formatPrice(ICS_TotalCalculation(oPTUs,"ReFinishingQtySt")),
            FinishingGainLossQtySt: formatPrice(ICS_TotalCalculation(oPTUs,"FinishingGainLossQtySt")),
            FinishingQtySt: formatPrice(ICS_TotalCalculation(oPTUs,"FinishingQtySt")),
            ChallanQtySt: formatPrice(ICS_TotalCalculation(oPTUs,"ChallanQtySt"))
        };
        $('#tblPTUs').datagrid('reloadFooter',[oFooterObject]);
    }

    function GetsExistingYarnBooking(KnitDyeingPTUID){
        
        $.ajax({
            type: "GET",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress') +  "/KnitDyeingPTU/GetKnitDyeingYarnBooking",
            data: { id: KnitDyeingPTUID},
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //
                var oKnitDyeingYarnBookings = jQuery.parseJSON(data);
                if (oKnitDyeingYarnBookings.length>0)
                {
                    var odata={"total":""+oKnitDyeingYarnBookings.length+"","rows":oKnitDyeingYarnBookings};
                    $('#tblKnitDyeingYarnBooking').datagrid('loadData',odata);
                    $('#tblKnitDyeingYarnBooking').datagrid({selectOnCheck:false, checkOnSelect:true});
                    RefreshTotalAmount();
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }

        });
    }

    $('#btnYarnBooking').click(function(e){        
        $('#tblKnitDyeingYarnBooking').datagrid('loadData', []);  
        var oKnitDyeingPTU =$('#tblPTUs').datagrid('getSelected');
        if(oKnitDyeingPTU == null || parseInt(oKnitDyeingPTU.KnitDyeingPTUID) <=0)
        {
            alert("Please Select an item");
            return;
        }

        $('#winKnitDyeingYarnBooking').data('KnitDyeingPTU',oKnitDyeingPTU);
        GetsExistingYarnBooking(oKnitDyeingPTU.KnitDyeingPTUID);
        InitialiseKnitDyeingYarnBooking();
        var oKnitDyeingProgram = $('#divKnitDyeingPTU').data('KnitDyeingProgram');
        $('#winKnitDyeingYarnBooking').data('Lot', null);
        $("#winKnitDyeingYarnBooking").icsWindow('open', "Yarn Booking For Style No : "+  oKnitDyeingProgram.StyleNo + ",  Recap/PAM No : "+oKnitDyeingProgram.RecapOrPAMNos+" ,  Fabric Name : "+ oKnitDyeingPTU.CompositionName + ",  Color : "+ oKnitDyeingPTU.ColorName+ ",  Req Fabric Qty : "+  icsFormatPrice(parseFloat(oKnitDyeingPTU.ReqFabricQty), null,2));
        $("#winKnitDyeingYarnBooking input").not("input[type='button']").val("");
        $("#btnUpdateKnitDyeingYarnBooking").hide();
        $("#btnAddKnitDyeingYarnBooking").show();
        $('#txtBookingQty').icsCurrencyBox(null, null, 2);
        $('#txtCompositionNo').val(oKnitDyeingPTU.CompositionName);
        $('#txtMUnit').val(oKnitDyeingPTU.UnitName);

        $("#cboProduct").icsLoadCombo({ List: $('#winKnitDyeingYarnBooking').data('Products'), OptionValue: "ProductID", DisplayText: "ProductName", InitialValue : "--Select Product--" });
        $("#cboStore").icsLoadCombo({ List: $('#winKnitDyeingYarnBooking').data('WorkingUnit'), OptionValue: "WorkingUnitID", DisplayText: "OperationUnitName", InitialValue : "--Select Store--" });
    });


    $('#btnApproveKnitDyeingYarnBooking').click(function(e){        
        
        var oKnitDyeingYarnBooking =$('#tblKnitDyeingYarnBooking').datagrid('getChecked');
        var KnitDyeingPTUID=parseInt(oKnitDyeingYarnBooking[0].KnitDyeingPTUID);
        if(oKnitDyeingYarnBooking == null || oKnitDyeingYarnBooking.length <=0)
        {
            alert("Please Select an item");
            return;
        }
        for(var i=0;i<oKnitDyeingYarnBooking.length;i++){
            if(parseInt(oKnitDyeingYarnBooking[i].BookingBy)>0){
                alert("Your selected item already approved");
                return;
            }
        }
        var sKnitDyeingYarnBookingIDs = "";
        for(var i = 0;i<oKnitDyeingYarnBooking.length;i++)
        {
            sKnitDyeingYarnBookingIDs+= oKnitDyeingYarnBooking[i].KnitDyeingYarnBookingID+",";
        }
        sKnitDyeingYarnBookingIDs = sKnitDyeingYarnBookingIDs.substring(0, sKnitDyeingYarnBookingIDs.length-1);
        
        var oKnitDyeingYarnBooking = {
            IDs : sKnitDyeingYarnBookingIDs,
            KnitDyeingPTUID : KnitDyeingPTUID
        };

        $.ajax
        ({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress') +  "/KnitDyeingPTU/Approved",
            data: JSON.stringify(oKnitDyeingYarnBooking),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //
                var oKnitDyeingYarnBooking = jQuery.parseJSON(data);
                if (oKnitDyeingYarnBooking.length>0)
                {
                    $('#tblKnitDyeingYarnBooking').datagrid('loadData',[]);
                    var odata={"total":""+oKnitDyeingYarnBooking.length+"","rows":oKnitDyeingYarnBooking};
                    $('#tblKnitDyeingYarnBooking').datagrid('loadData',odata);
                    RefreshTotalAmount();
                }
                else
                {
                    alert(feedbackmessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }

        });
   
    });
    
    $('#btnRemoveKnitDyeingYarnBooking').click(function(e){
        
        var oKnitDyeingYarnBooking=$('#tblKnitDyeingYarnBooking').datagrid('getSelected');
        var nSelectedRowIndex= $("#tblKnitDyeingYarnBooking").datagrid("getRowIndex", oKnitDyeingYarnBooking);
        if(oKnitDyeingYarnBooking==null||parseInt(oKnitDyeingYarnBooking.KnitDyeingYarnBookingID)<=0){
            alert("Please Select an item first");
            return;
        }
        if(parseInt(oKnitDyeingYarnBooking.BookingBy)>0){
            alert("Your Selected item already approved");
            return;
        }
        if (!confirm("Confirm to Delete?")) return ;
        $.ajax
           ({
               type: "GET",
               dataType: "json",
               url :  sessionStorage.getItem('BaseAddress')+  "/KnitDyeingPTU/DeleteYarnBooking",
               data: { id: oKnitDyeingYarnBooking.KnitDyeingYarnBookingID},
               contentType: "application/json; charset=utf-8",
               success: function (data) {
                   //
                   feedbackmessage = jQuery.parseJSON(data);
                   if (feedbackmessage == "Data delete successfully")
                   {
                       alert("Delete sucessfully");
                       $('#tblKnitDyeingYarnBooking').datagrid('deleteRow',nSelectedRowIndex);
                       RefreshTotalAmount();
                   }
                   else
                   {
                       alert(feedbackmessage);
                   }
               },
               error: function (xhr, status, error)
               {
                   alert(error);
               }

           });
    });

    function RefreshTotalAmount()
    {
        
        var oKnitDyeingYarnBookings = $('#tblKnitDyeingYarnBooking').datagrid('getRows');
        var nTotalBookingQty = 0;
        if(oKnitDyeingYarnBookings.length >0)
        {
            for(var i =0;i<oKnitDyeingYarnBookings.length;i++)
            {
                nTotalBookingQty  = nTotalBookingQty + parseFloat((oKnitDyeingYarnBookings[i].BookingQty));
            }
        }

        var FooterField=[];
        var obj=new Object();
        obj['MUnitName'] = "Grand Total:";
        obj['BookingQty'] = parseFloat(nTotalBookingQty);
        FooterField.push(obj);
        $('#tblKnitDyeingYarnBooking').datagrid('reloadFooter',FooterField);
    }

    function InitialiseKnitDyeingYarnBooking(){
        var oKnitDyeingPTU= $('#winKnitDyeingYarnBooking').data('KnitDyeingPTU');        
        var oKnitDyeingYarnBooking ={
            KnitDyeingYarnBookingID : 0,
            KnitDyeingPTUID : parseInt(oKnitDyeingPTU.KnitDyeingPTUID),
            CompositionID : parseInt(oKnitDyeingPTU.CompositionID),
            CompositionName : parseInt(oKnitDyeingPTU.CompositionName),
            LotID : 0,
            LotNo : "",
            MUnitID : parseInt(oKnitDyeingPTU.MUnitID),
            MUnitName : oKnitDyeingPTU.UnitName,
            BookingQty : 0,
            Remarks : "",
            StoreName : "",
            StoreID : 0
        };
        $('#winKnitDyeingYarnBooking').data('KnitDyeingYarnBooking', oKnitDyeingYarnBooking);
    }

    function PrepareDataYarnBooking(){
        
        var oKnitDyeingYarnBookings = $('#tblKnitDyeingYarnBooking').datagrid('getRows');
        var oLot = $('#winKnitDyeingYarnBooking').data('Lot');

        var oKnitDyeingYarnBooking = $('#winKnitDyeingYarnBooking').data('KnitDyeingYarnBooking');
        for(var i=0;i<oKnitDyeingYarnBookings.length;i++){
            if(parseInt(oLot.LotID)==parseInt(oKnitDyeingYarnBookings[i].LotID)&& parseInt(oKnitDyeingYarnBooking.KnitDyeingYarnBookingID)!=parseInt(oKnitDyeingYarnBookings[i].KnitDyeingYarnBookingID)){
                alert("Selected Lot Alreday exist");
                return;
            }
        }
             
        var oTempKnitDyeingYarnBooking = {
            KnitDyeingYarnBookingID : parseInt(oKnitDyeingYarnBooking.KnitDyeingYarnBookingID),
            KnitDyeingPTUID : parseInt(oKnitDyeingYarnBooking.KnitDyeingPTUID),
            CompositionID : parseInt($('#cboProduct').val()), 
            CompositionName: $('#cboProduct option:selected').text(),
            LotID : parseInt(oLot.LotID),
            LotNo : oLot.LotNo,
            MUnitID : parseInt(oKnitDyeingYarnBooking.MUnitID),
            MUnitName : $.trim($('#txtMUnit').val()),
            BookingQty : parseFloat(icsRemoveComma($("#txtBookingQty").val())),
            Remarks : $.trim($('#txtRemarks').val()),
            StoreName : $('#cboStore option:selected').text(),
            StoreID : parseInt($('#cboStore').val())
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url :  sessionStorage.getItem('BaseAddress')+  "/KnitDyeingPTU/SaveYarnBooking",
            traditional: true,
            data:  JSON.stringify(oTempKnitDyeingYarnBooking),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {                
                var oKnitDyeingYarnBooking = jQuery.parseJSON(data);
                if (oKnitDyeingYarnBooking.ErrorMessage=="" || oKnitDyeingYarnBooking.ErrorMessage==null)
                {
                    var SelectedRowIndex=$('#winKnitDyeingYarnBooking').data('SelectedRowIndex');
                    if(parseInt(SelectedRowIndex)<0||SelectedRowIndex==null)
                    {
                        $('#tblKnitDyeingYarnBooking').datagrid('appendRow',oKnitDyeingYarnBooking);
                        $('#winKnitDyeingYarnBooking').data('Lot').LotID=0;
                    }
                    else
                    {
                        $('#tblKnitDyeingYarnBooking').datagrid('updateRow',{ index: parseInt(SelectedRowIndex) , row: oKnitDyeingYarnBooking });
                        $("#btnUpdateKnitDyeingYarnBooking").hide();
                        $("#btnAddKnitDyeingYarnBooking").show();
                        $('#winKnitDyeingYarnBooking').data('Lot').LotID=0;
                        $('#winKnitDyeingYarnBooking').data('SelectedRowIndex',-1);
                    }                   
                    $("#txtBookingQty").val(0);
                    $("#txtRemarks").val('');
                    $("#txtLotNo").val('');
                    $("#txtLotNo").removeClass("fontColorOfPickItem");
                    RefreshTotalAmount();
                }
                else
                {
                    alert(oKnitDyeingYarnBooking.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }

    $('#btnAddKnitDyeingYarnBooking').click(function(e){
        if(parseInt($('#cboProduct').val())<=0){
            alert("Please Select a Product");
            $('#cboProduct').focus();
            return;
        }

        if(parseInt($('#cboStore').val())<=0){
            alert("Please Select a Store");
            $('#cboStore').focus();
            return;
        }

        var oLot= $('#winKnitDyeingYarnBooking').data('Lot');
        if(oLot==null || parseInt(oLot.LotID)<=0){
            alert("Please Pick a lot");
            $('#txtLotNo').focus();
            return;
        }
        PrepareDataYarnBooking();

    });
    
    $("#btnResetKnitDyeingYarnBooking").click(function () {
        $("#btnUpdateKnitDyeingYarnBooking").hide();
        $("#btnAddKnitDyeingYarnBooking").show();
        var oLot = $('#winKnitDyeingYarnBooking').data('Lot');
        oLot.LotNo='';
        oLot.LotID=0;
        $('#winKnitDyeingYarnBooking').data('Lot',oLot);
        $("#txtLotNo").val('');
        $("#txtBookingQty").val(0);
        $("#txtRemarks").val('');
        $('#winKnitDyeingYarnBooking').data('SelectedRowIndex',-1);
        
    });

    $("#btnRefreshKnitDyeingYarnBooking").click(function () {

        var oKnitDyeingYarnBookings =$('#tblKnitDyeingYarnBooking').datagrid('getRows');
        $('#tblKnitDyeingYarnBooking').datagrid('loadData',[]);
        var data={"total":""+oKnitDyeingYarnBookings.length+"","rows":oKnitDyeingYarnBookings};
        $('#tblKnitDyeingYarnBooking').datagrid('loadData',data);
    });

    $('#btnEditKnitDyeingYarnBooking').click(function(e){        
        var oKnitDyeingYarnBooking=$('#tblKnitDyeingYarnBooking').datagrid('getSelected');
        var nSelectRowIndex= $("#tblKnitDyeingYarnBooking").datagrid("getRowIndex", oKnitDyeingYarnBooking);
        if(oKnitDyeingYarnBooking==null || parseInt(oKnitDyeingYarnBooking.KnitDyeingYarnBookingID)<=0)
        {
            alert("Please Select an item");
            return;
        }

        if(parseInt(oKnitDyeingYarnBooking.BookingBy)>0)
        {
            alert("Sorry Your Selected item already approved");
            return;
        }

        var oLot = { 
            LotID : parseInt(oKnitDyeingYarnBooking.LotID),  
            LotNo :oKnitDyeingYarnBooking.LotNo 
        };
        $('#winKnitDyeingYarnBooking').data('Lot',oLot);
        $('#winKnitDyeingYarnBooking').data('SelectedRowIndex',nSelectRowIndex);
        $("#btnUpdateKnitDyeingYarnBooking").show();
        $("#btnAddKnitDyeingYarnBooking").hide();
        $('#winKnitDyeingYarnBooking').data('KnitDyeingYarnBooking',oKnitDyeingYarnBooking);
        var oKnitDyeingYarnBooking = $('#winKnitDyeingYarnBooking').data('KnitDyeingYarnBooking');
        $("#txtBookingQty").val(oKnitDyeingYarnBooking.BookingQty);
        $("#txtRemarks").val(oKnitDyeingYarnBooking.Remarks);
        $("#cboStore").val(oKnitDyeingYarnBooking.StoreID);
        $("#cboProduct").val(oKnitDyeingYarnBooking.CompositionID);
        $("#txtLotNo").val(oKnitDyeingYarnBooking.LotNo);
        $("#txtLotNo").addClass("fontColorOfPickItem");
    });

    $('#btnUpdateKnitDyeingYarnBooking').click(function(e){
        if(parseInt($('#cboProduct').val())<=0){
            alert("Please Select a Product");
            $('#cboProduct').focus();
            return;
        }
        if(parseInt($('#cboStore').val())<=0){
            alert("Please Select Store Type");
            return;
        }
        var oLot= $('#winKnitDyeingYarnBooking').data('Lot');
        if(oLot==null || parseInt(oLot.LotID)<=0){
            alert("Please Pick a lot");
            return;
        }
        PrepareDataYarnBooking();
    });
    
    $('#btnCloseKnitDyeingYarn').click(function(e){
        $("#winKnitDyeingYarnBooking").icsWindow('close');
        //window.location=window.location;
    });

    $('#txtLotNo').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if(code==13)//enter
        {            
            PickLot();
        }
        else if (code == 8) //backspace=8
        {
            
            var oLot = $('#winKnitDyeingYarnBooking').data('Lot');
            oLot.LotNo='';
            oLot.LotID=0;
            $('#winKnitDyeingYarnBooking').data('Lot',oLot);
            $("#txtLotNo").val('');
            $("#txtLotNo").removeClass("fontColorOfPickItem");
            $('#txtLotNo').focus();

        }
    });

    $('#btnClearLot').click(function (e) {

        $('#winKnitDyeingYarnBooking').data('Lot', null);
        $("#txtLotNo").val('');
        $('#winKnitDyeingYarnBooking').data('Lot',oLot);
        $("#txtLotNo").removeClass("fontColorOfPickItem");
        $('#txtLotNo').focus();
    });

    $('#cboStore').change(function (e) {        
        $("#txtLotNo").val('');
        $('#winKnitDyeingYarnBooking').data('Lot',null);
        $("#txtLotNo").removeClass("fontColorOfPickItem");
    
    });

    $('#btnPickLot').click(function (e) {
        PickLot();
    });

    function PickLot()
    {
        if(parseInt($('#cboProduct').val())<=0){
            alert("Please Select a Product");
            $('#cboProduct').focus();
            return;
        }

        if(parseInt($('#cboStore').val())<=0){
            alert("Please Select Store Type");
            return;
        }
        var oLot = {
            LotNo : $.trim($("#txtLotNo").val()),
            ProductID : parseInt($('#cboProduct').val()),
            WorkingUnitID : parseInt($('#cboStore').val())
        };
        
        var obj = {
            BaseAddress:  sessionStorage.getItem('BaseAddress'),
            Object: oLot,
            ControllerName: "Lot",
            ActionName: "GetsLot",
            IsWinClose: false
        };

        var tblColums = []; var oColumn = [];         
        var oColumn = { field: 'ProductCode', title: 'Code', width: '10%', align: 'left' };tblColums.push(oColumn);
        oColumn = { field: 'ProductName', title: 'Product Name',width: '40%', align: 'left'  };tblColums.push(oColumn);
        oColumn = { field: 'LotNo', title: 'Lot No',width: '15%', align: 'left'  };tblColums.push(oColumn);
        oColumn = { field: 'StoreShortName', title: 'Store',width: '20%', align: 'left'  };tblColums.push(oColumn);
        oColumn = { field: 'Balance', title: 'Balance',width: '15%', align:'right', formatter : formatPrice, enableSorting: false }; tblColums.push(oColumn);
        
        DynamicPiker('Lot',obj,tblColums,false,'LotNo','LotID',800); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
    }

    function DynamicPiker(pickerName,obj,pTblColums,pMultiReturn,pSearchField,pID,nWidth)
    {
        $.icsProgressBar(true);
        $.icsDataGets(obj, function (response) {
            $.icsProgressBar(false);
            if (response.status && response.objs.length > 0) {
                //
                if (response.objs[0][pID] > 0) {
                    //  
                    var tblColums = pTblColums;
                    var oPickerParam = {
                        winid: 'win'+pickerName,
                        winclass: 'cls'+pickerName,
                        winwidth: nWidth,
                        winheight: 460,
                        tableid: 'tbl'+pickerName+'s',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: pMultiReturn,
                        searchingbyfieldName: pSearchField,
                        windowTittle: pickerName+' List',
                        colsable:true
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    
    function SetLot(oSelectedLot) 
    {
        var oKnitDyeingPTU= $('#winKnitDyeingYarnBooking').data('KnitDyeingPTU');
        $('#txtLotNo').val(oSelectedLot.LotNo);
        if( parseFloat(oKnitDyeingPTU.ReqFabricQty)< (parseFloat(oSelectedLot.Balance)))
        {
            $('#txtBookingQty').val(icsFormatPrice(parseFloat(oKnitDyeingPTU.ReqFabricQty), null,2));
        }
        else
        {
            $('#txtBookingQty').val(icsFormatPrice(parseFloat(oSelectedLot.Balance), null,2));
        }
        
        $('#winKnitDyeingYarnBooking').data('Lot', oSelectedLot);
        $("#txtLotNo").addClass("fontColorOfPickItem");
    }
        
    $('#btnReload').click(function(){
        //MakeURL($('#divPS').data('KnitDyeingPTU').FNExOID);
        LoadDataGrid($('#divKnitDyeingPTU').data('KnitDyeingPTUs'));
    });

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }

  

    $("#txtStyleNo").keydown(function (e) {

        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtStyleNo').val())==null || $.trim($('#txtStyleNo').val())=="")
            {
                alert("Please Type PO No and Press Enter");
                return;
            }
            GetKnitDyeingProgram($.trim($('#txtStyleNo').val()));
        }
    });

    $("#btnStyleNoPick").click(function () {
        GetKnitDyeingProgram($.trim($('#txtStyleNo').val()));
    });

    function GetKnitDyeingProgram(sStyleNo)
    {
        var oKnitDyeingProgram = {StyleNo:sStyleNo};
        var obj = {
            BaseAddress:  sessionStorage.getItem('BaseAddress'),
            Object: oKnitDyeingProgram,
            ControllerName: "KnitDyeingProgram",
            ActionName: "GetKnitDyeingProgramsByStyleAndNo",
            IsWinClose: false
        };
        $.icsProgressBar(true);
        $.icsDataGets(obj, function (response) {
            $.icsProgressBar(false);
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].KnitDyeingProgramID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "RefNo", title: "Program No", width:100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "StyleNo", title: "Style", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BuyerName", title: "Buyer", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "RecapOrPAMNos", title: "Recap/PAM No", width: 150, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "OrderQty", title: "Garments Qty", width: 90, align: "right" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winKDP',
                        winclass: 'clsKnitDyeingProgram',
                        winwidth:710,
                        winheight: 500,
                        tableid: 'tblKnitDyeingProgram',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'StyleNo',
                        windowTittle: 'Style List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });
    }

    $('#btnPrintList').click(function(){
        var oKnitDyeingProgram = $('#divKnitDyeingPTU').data('KnitDyeingProgram');        
        if(oKnitDyeingProgram == null || parseInt(oKnitDyeingProgram.KnitDyeingProgramID) <= 0)
        {
            alert("Invalid Order Recap/Style");
            return;
        }
        var tsv= (new Date().getTime())/1000;
        window.open(sessionStorage.getItem('BaseAddress')+'/KnitDyeingPTU/PrintKnitDyeingPTUs?nKnitDyeingProgramID='+parseInt(oKnitDyeingProgram.KnitDyeingProgramID)+ '&ts='+tsv);
    });

    function RefreshKnitDyeingProgram(obj)
    {
        
        $('#txtStyleNo').val(obj.StyleNo);
        $('#txtRecapPAMNo').val(obj.RecapOrPAMNos);
        $('#txtOrderDate').val(obj.IssueDateInString);
        $('#txtBuyerName').val(obj.BuyerName);
        $('#txtMerchandiserName').val(obj.MerchandiserName);
        $('#txtShipmentDate').val(obj.ShipmentDateInString);
        $('#txtSessionName').val(obj.SessionName);
        $('#txtFabricName').val(obj.FabricName);
        $('#txtTotalQty').val(formatPrice(obj.OrderQty));
        $('#txtUnitName').val(obj.MUSymbol);
        $('#txtApproveByName').val(obj.ApprovedByName);
    }

    function LoadDataGrid(oList)
    {
        $('#tblPTUs').datagrid('loadData',oList);
        RefreshSummary();
    }

    function formatingQty(value)
    {
        if(value==undefined)return "";
        var values=value.split("~");
        var nKnitDyeingPTUID=values[0];
        var nRefType=values[1];
        var nValue=values[2];
        var s = '<a  href="javascript:void(0)" id="idPO~'+nKnitDyeingPTUID+' value="'+nValue+'"  onclick = "PickerLoad('+nKnitDyeingPTUID+','+nRefType+')"">'+nValue+'</a>';
        return s;
        return value;
    }

    function PickerLoad(nKnitDyeingPTUID,nRefType)
    {
        if(nKnitDyeingPTUID == null || parseInt(nKnitDyeingPTUID)<=0 || nRefType<=0)
        {
            alert("Sorry There is No Reference.");
            return;
        }
        var oKnitDyeingPTULog  = {KnitDyeingPTUID:nKnitDyeingPTUID, KnitDyeingPTURefTypeInt:nRefType};
        var obj = {
            BaseAddress:  sessionStorage.getItem('BaseAddress'),
            Object: oKnitDyeingPTULog,
            ControllerName: "KnitDyeingPTU",
            ActionName: "GetsByPTUwithType",
            IsWinClose: false
        };
        $.icsProgressBar(true);
        $.icsDataGets(obj, function (response) {
            $.icsProgressBar(false);
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].KnitDyeingPTULogID > 0) {
                    var tblColums = [];
                    var oColumn = "", sRefNoTitle = 'Ref No', nWidth=600, sQtyTitle='Qty';
                    //1:Production Order; 2:Productio sheet; 3: DO;4:Challan;5:grace;6:QC/Lot
                    //if(nRefType==1){sRefNoTitle='PO NO';}else if(nRefType==2||nRefType==7){sRefNoTitle='Sheet No'}else if(nRefType==3){sRefNoTitle='DO No'}else if(nRefType==4){sRefNoTitle='Challan No'}else if(nRefType==5){sRefNoTitle='Grace No'}else if(nRefType==6){sRefNoTitle='Lot No'}else if(nRefType==13){sRefNoTitle='SubContract No'}
                    oColumn = { field: "RefNo", title: sRefNoTitle, width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "DBServerDateTimeSt", title: "Execute Time",width: 130, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Qty", title: sQtyTitle, formatter:formatPriceWithZeroDecimal, width: 100, align: "right" }; tblColums.push(oColumn);
                    //if(nRefType==1)//PO
                    //{
                    //    oColumn = { field: "PODateInString", title: "PO Date", width: 80, align: "left" }; tblColums.push(oColumn);
                    //    oColumn = { field: "POApproveByName", title: "Approve By", width: 100, align: "left" }; tblColums.push(oColumn);
                    //}
                    //else if(nRefType==2)//pipe line qty
                    //{
                    //    sQtyTitle = 'Sheet Qty';
                    //    oColumn = { field: "SheetWiseActualFinish", title: "Actual finish", formatter:formatPriceWithZeroDecimal, width: 90, align: "right" }; tblColums.push(oColumn);
                    //    oColumn = { field: "SheetWiseReject", title: "Reject", width: 70, formatter:formatPriceWithZeroDecimal, align: "right" }; tblColums.push(oColumn);
                    //    oColumn = { field: "PipeLineQtyInString", title: "Pipe Line", width: 100, align: "right" }; tblColums.push(oColumn);
                    //}
                    //else if(nRefType==3){//DO
                    //    oColumn = { field: "DeliveryDateInString", title: "Delivery Date",width: 100, align: "left" }; tblColums.push(oColumn);
                    //    oColumn = { field: "DOApprovedByName", title: "Approved By",width: 100, align: "left" }; tblColums.push(oColumn);
                    //}
                    //else if(nRefType==4){//challan
                    //    oColumn = { field: "EntryPerson", title: "Challan By",width: 100, align: "left" }; tblColums.push(oColumn);
                    //    oColumn = { field: "WorkingUnitName", title: "Store",width: 100, align: "left" }; tblColums.push(oColumn);
                    //    oColumn = { field: "LotNo", title: "Lot No",width: 100, align: "left" }; tblColums.push(oColumn);
                    //    oColumn = { field: "DBServerDateTimeInString", title: "Challan Time",width: 90, align: "left" }; tblColums.push(oColumn);
                    //}else if(nRefType==5){//Grace

                    //    oColumn = { field: "EntryPerson", title: "Entry By",width: 100, align: "left" }; tblColums.push(oColumn);
                    //    oColumn = { field: "DBServerDateTimeInString", title: "Execution Time",width:130, align: "left" }; tblColums.push(oColumn);
                    //}else if(nRefType==6){//Actual finish
                    //    oColumn = { field: "EntryPerson", title: "QC By",width: 100, align: "left" }; tblColums.push(oColumn);
                    //    oColumn = { field: "WorkingUnitName", title: "Store",width: 100, align: "left" }; tblColums.push(oColumn);
                    //    oColumn = { field: "DBServerDateTimeInString", title: "Operation Time",width:130, align: "left" }; tblColums.push(oColumn);
                    //}else if(nRefType==7){//Reject

                    //    oColumn = { field: "EntryPerson", title: "Operate By",width: 100, align: "left" }; tblColums.push(oColumn);
                    //    oColumn = { field: "DBServerDateTimeInString", title: "Operation Time",width:130, align: "left" }; tblColums.push(oColumn);
                    //}else if(nRefType==13){//Subcontract

                    //    oColumn = { field: "ContractBUName", title: "Send To",width:150, align: "left" }; tblColums.push(oColumn);
                    //    oColumn = { field: "ContractDateInstring", title: "Contract Date",width:70, align: "left" }; tblColums.push(oColumn);
                    //}
                    //oColumn = { field: "MUSymbol", title: "Unit", width:60, align: "left" }; tblColums.push(oColumn);
                 //   oColumn = { field: "Qty", title: sQtyTitle, formatter:formatPriceWithZeroDecimal, width: 100, align: "right" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winKnitDyeingPTULog',
                        winclass: 'clsKnitDyeingPTULog',
                        winwidth: nWidth,
                        winheight: 460,
                        tableid: 'tblKnitDyeingPTULog',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'RefNo',
                        windowTittle: 'History List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });
    }

    function formatReadyStockQty(value)
    {
        var values=value.split("~");
        var nKnitDyeingPTUID=values[0];
        var nValue=values[1];
        var s = '<a  href="javascript:void(0)" id="idstock~'+nKnitDyeingPTUID+' value="'+nValue+'"  onclick = "ReadyStockHistory('+nKnitDyeingPTUID+')"">'+nValue+'</a>';
        return s;
    }

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);

            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {

        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        if (oPickerobj.winid == 'winKDP')
        {
            if (oreturnObj != null && oreturnObj.KnitDyeingProgramID > 0)
            {
                window.location.href =  sessionStorage.getItem('BaseAddress')+  "/KnitDyeingPTU/ViewKnitDyeingPTUs?nId="+oreturnObj.KnitDyeingProgramID+"&menuid="+ parseInt($('#divKnitDyeingPTU').data('Menuid'));
            }
        }
        
       else if (oPickerobj.winid == 'winLot')
        {
         
           SetLot(oreturnObj);
        }
    }

    function MakeURL(nFNExOID)
    {
        var sTargetLink = "";
        var sLink = window.location.href;
        var sLinkArray =[];sLinkArray = sLink.split('?');sTargetLink = sLinkArray[0]+'?';
        var sAndArray = sLinkArray[1].split('&');sAndArray[0] = 'nFNExoID='+nFNExOID;
        sTargetLink+=sAndArray[0];
        for(var i =1;i<sAndArray.length;i++)
        {
            sTargetLink+="&"+sAndArray[i];
        }
        window.location.href = sTargetLink;
        $('#txtStyleNo').focus();
    }
</script>