<html>
@{
    ViewBag.Title = "Purchase Requisition Registers";
}
<body>
    @model ESimSol.BusinessObjects.PurchaseRequisitionRegister
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable">
        <div class="easyui-panel" title="Purchase Requisition Registers" style="font-family:Tahoma; text-align:center; height:88%;">
            <fieldset style="height:95%; text-align:center;">
                <legend style="font-weight:bold"> Serching Criteria : </legend>
                <table bRequisition="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:100%">
                    <tr>
                        <td colspan="5" style="height:20px;"></td>                        
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> PR No :</td>
                        <td style="width:30%;text-align:left"> 
                            <input type="text" style="width:98%" id="txtPINo" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> PR Date :</td>
                        <td style="width:38%;text-align:right">
                            <table bRequisition="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboDateofRequisition" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtDateofRequisitionStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtDateofRequisitionEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table> 
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Department :</td>
                        <td style="width:30%;text-align:left">
                            <table bRequisition="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtDepartment" placeholder="Press enter with Department name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearDepartment" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickDepartment" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Requirement Date:</td>
                        <td style="width:38%;text-align:right">
                            <table bRequisition="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboDateofBill" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtDateofBillStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtDateofBillEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Product :</td>
                        <td style="width:30%;text-align:left">
                            <table bRequisition="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtProduct" placeholder="Press enter with product name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearProduct" />
                                        <input type="button" value="PIck" style="width:65%" id="btnPickProduct" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Approved Date:</td>
                        <td style="width:38%;text-align:right">
                            <table bRequisition="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboPIApprovedDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtPIApprovedDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtPIApprovedDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                   
                    <tr>
                        <td style="width:15%;text-align:right"> Approved By :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboApprovedBy" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> PR Status :</td>
                        <td style="width:38%;text-align:right">
                            <select id="cboPIStatus" style="width:100%">  </select>
                        </td>
                    </tr>
                                  
                    <tr>
                        <td style="width:15%;text-align:right"> Report Layout :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboReportLayout" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Remarks :</td>
                        <td style="width:38%;text-align:right">
                            <input type="text" id="txtRemarks" style="width:99%" />
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table bRequisition="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:50%;text-align:right">
                                                 
                    </td>
                    <td style="width:50%;text-align:right">
                        <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                        <a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>


<script type="text/javascript">
    $(document).ready(function () {
        var nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oApprovalUsers = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ApprovalUsers));
        var oReportLayouts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReportLayouts));
        var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        var oPurchaseRequisitionStates = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.PurchaseRequisitionStates));

        var oStatus = {id:-1, Value:'--Select One--'};//dont't Remove it use for extra status
        oPurchaseRequisitionStates.push(oStatus);
                
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        $('#txtPIAmountStart,#txtPIAmountEnd').icsCurrencyBox();
        $("#cboDateofRequisition").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboDateofBill").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboPIApprovedDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboPIAmount").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboApprovedBy").icsLoadCombo({ List: oApprovalUsers, OptionValue: "UserID", DisplayText: "UserName" });
        $("#cboPIStatus").icsLoadCombo({ List: oPurchaseRequisitionStates, OptionValue: "id", DisplayText: "Value", InitialValue:'--Select One--' });
        $('#cboPIStatus').val(-1);
        $("#cboReportLayout").icsLoadCombo({ List: oReportLayouts, OptionValue: "id", DisplayText: "Value" });

        $('#txtDateofRequisitionStart').datebox({ disabled : true });
        $('#txtDateofRequisitionEnd').datebox({ disabled : true });
        $('#txtDateofBillStart').datebox({ disabled : true });
        $('#txtDateofBillEnd').datebox({ disabled : true });
        $('#txtPIApprovedDateStart').datebox({ disabled : true });
        $('#txtPIApprovedDateEnd').datebox({ disabled : true });
        $('#txtPIAmountStart').prop("disabled", true);
        $('#txtPIAmountEnd').prop("disabled", true);
        $('#txtDateofRequisitionStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtDateofRequisitionEnd').datebox('setValue', icsdateformat(new Date()));
        $('#txtDateofBillStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtDateofBillEnd').datebox('setValue', icsdateformat(new Date()));
        $('#txtPIApprovedDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtPIApprovedDateEnd').datebox('setValue', icsdateformat(new Date()));
        $('#txtPIAmountStart').val('0.00');
        $('#txtPIAmountEnd').val('0.00');
        $('#txtDepartment').data('Departments', []); 
        $('#txtProduct').data('Products', []);                
        $('#txtBankBranch').data('BankBranchs', []);
    });

    function ValidateSearch()
    {
        
        var nDateofRequisition = parseInt($('#cboDateofRequisition').val());
        if(nDateofRequisition===1 || nDateofRequisition===2 || nDateofRequisition===3 || nDateofRequisition===4)
        {
            var sDateofRequisitionStart   = $('#txtDateofRequisitionStart').datebox('getValue');
            if(sDateofRequisitionStart===null || sDateofRequisitionStart==="")
            {
                alert("Please select PI start date!");
                $('#txtDateofRequisitionStart').focus();
                return false;
            }
        }
        if(nDateofRequisition===5 || nDateofRequisition===6)
        {
            var sDateofRequisitionStart   = $('#txtDateofRequisitionStart').datebox('getValue');
            var sDateofRequisitionEnd   = $('#txtDateofRequisitionEnd').datebox('getValue');
            if(sDateofRequisitionStart===null || sDateofRequisitionStart==="")
            {
                alert("Please select PI start date!");
                $('#txtDateofRequisitionStart').focus();
                return false;
            }
            if(sDateofRequisitionEnd===null || sDateofRequisitionEnd==="")
            {
                alert("Please select PI end date!");
                $('#txtDateofRequisitionEnd').focus();
                return false;
            }
            if(new Date(sDateofRequisitionStart) > new Date(sDateofRequisitionEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtDateofRequisitionStart').focus();
                return false;
            }
        }
        
        var nDateofBill = parseInt($('#cboDateofBill').val());
        if(nDateofBill===1 || nDateofBill===2 || nDateofBill===3 || nDateofBill===4)
        {
            var sDateofBillStart   = $('#txtDateofBillStart').datebox('getValue');
            if(sDateofBillStart===null || sDateofBillStart==="")
            {
                alert("Please select validity start date!");
                $('#txtDateofBillStart').focus();
                return false;
            }
        }
        if(nDateofBill===5 || nDateofBill===6)
        {
            var sDateofBillStart   = $('#txtDateofBillStart').datebox('getValue');
            var sDateofBillEnd   = $('#txtDateofBillEnd').datebox('getValue');
            if(sDateofBillStart===null || sDateofBillStart==="")
            {
                alert("Please select validity start date!");
                $('#txtDateofBillStart').focus();
                return false;
            }
            if(sDateofBillEnd===null || sDateofBillEnd==="")
            {
                alert("Please select validity end date!");
                $('#txtDateofBillEnd').focus();
                return false;
            }
            if(new Date(sDateofBillStart) > new Date(sDateofBillEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtDateofBillStart').focus();
                return false;
            }
        }

        var nPIApprovedDate = parseInt($('#cboPIApprovedDate').val());
        if(nPIApprovedDate===1 || nPIApprovedDate===2 || nPIApprovedDate===3 || nPIApprovedDate===4)
        {
            var sPIApprovedDateStart   = $('#txtPIApprovedDateStart').datebox('getValue');
            if(sPIApprovedDateStart===null || sPIApprovedDateStart==="")
            {
                alert("Please select approved start date!");
                $('#txtPIApprovedDateStart').focus();
                return false;
            }
        }
        if(nPIApprovedDate===5 || nPIApprovedDate===6)
        {
            var sPIApprovedDateStart   = $('#txtPIApprovedDateStart').datebox('getValue');
            var sPIApprovedDateEnd   = $('#txtPIApprovedDateEnd').datebox('getValue');
            if(sPIApprovedDateStart===null || sPIApprovedDateStart==="")
            {
                alert("Please select approved start date!");
                $('#txtPIApprovedDateStart').focus();
                return false;
            }
            if(sPIApprovedDateEnd===null || sPIApprovedDateEnd==="")
            {
                alert("Please select approved end date!");
                $('#txtPIApprovedDateEnd').focus();
                return false;
            }
            if(new Date(sPIApprovedDateStart) > new Date(sPIApprovedDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtPIApprovedDateStart').focus();
                return false;
            }
        }

        var nPIAmount = parseInt($('#cboPIAmount').val());
        if(nPIAmount===1 || nPIAmount===2 || nPIAmount===3 || nPIAmount===4)
        {
            var sPIAmountStart   = $.trim($('#txtPIAmountStart').val());
            if(sPIAmountStart===null || sPIAmountStart==="")
            {
                alert("Please enter Requisition start Amount!");
                $('#txtPIAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sPIAmountStart)<=0)
            {
                alert("Please enter PI start Amount!");
                $('#txtPIAmountStart').focus();
                return false;
            }
        }
        if(nPIAmount===5 || nPIAmount===6)
        {
            var sPIAmountStart = $.trim($('#txtPIAmountStart').val());
            if(sPIAmountStart===null || sPIAmountStart==="")
            {
                alert("Please enter PI start Amount!");
                $('#txtPIAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sPIAmountStart)<=0)
            {
                alert("Please enter PI start Amount!");
                $('#txtPIAmountStart').focus();
                return false;
            }

            var sPIAmountEnd = $.trim($('#txtPIAmountEnd').val());
            if(sPIAmountEnd===null || sPIAmountEnd==="")
            {
                alert("Please enter PI end Amount!");
                $('#txtPIAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sPIAmountEnd)<=0)
            {
                alert("Please enter Requisition end Amount!");
                $('#txtPIAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sPIAmountStart) >= icsRemoveComma(sPIAmountEnd))
            {
                alert("Start amount must be smallar than end amount!");
                $('#txtPIAmountStart').focus();
                return false;
            }
        }

        var nReportLayout = parseInt($('#cboReportLayout').val());
        if(nReportLayout<=0)
        {
            alert("Please select an Report Layout!");
            return;
        }

        var sPINo =$.trim($('#txtPINo').val());
        var sBillNo =$.trim($('#txtBillNo').val());
        var nApprovedBy = parseInt($('#cboApprovedBy').val());
        var nPIStatus = parseInt($('#cboPIStatus').val());
        var sRemarks =$.trim($('#txtRemarks').val());
        var oDepartments = $('#txtDepartment').data('Departments'); 
        var oProducts = $('#txtProduct').data('Products');

        if(nDateofRequisition === 0 && nDateofBill === 0 && nPIApprovedDate === 0 && nPIAmount === 0 && sPINo === "" && sBillNo === "" && nApprovedBy === 0 && nPIStatus === -1  && sRemarks === "" && oDepartments.length<=0 && oProducts.length<=0 )
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        return true;
    }
    function RefreshObject()
    {
        var oDepartments = $('#txtDepartment').data('Departments'); 
        var oProducts = $('#txtProduct').data('Products');
               
        var nDateofRequisition = parseInt($('#cboDateofRequisition').val());
        var sDateofRequisitionStart   = $('#txtDateofRequisitionStart').datebox('getValue');
        var sDateofRequisitionEnd   = $('#txtDateofRequisitionEnd').datebox('getValue');

        var nDateofBill = parseInt($('#cboDateofBill').val());
        var sDateofBillStart   = $('#txtDateofBillStart').datebox('getValue');
        var sDateofBillEnd   = $('#txtDateofBillEnd').datebox('getValue');

        var nPIApprovedDate = parseInt($('#cboPIApprovedDate').val());
        var sPIApprovedDateStart   = $('#txtPIApprovedDateStart').datebox('getValue');
        var sPIApprovedDateEnd   = $('#txtPIApprovedDateEnd').datebox('getValue');

        var sSearchingData  =  nDateofRequisition+'~';
        sSearchingData = sSearchingData + sDateofRequisitionStart+'~';
        sSearchingData = sSearchingData + sDateofRequisitionEnd+'~';
        sSearchingData = sSearchingData + nDateofBill+'~';
        sSearchingData = sSearchingData + sDateofBillStart+'~';
        sSearchingData = sSearchingData + sDateofBillEnd+'~';
        sSearchingData = sSearchingData + nPIApprovedDate+'~';
        sSearchingData = sSearchingData + sPIApprovedDateStart+'~';
        sSearchingData = sSearchingData + sPIApprovedDateEnd+'~';

        var oPurchaseRequisitionRegister = {
            BUID : parseInt(sessionStorage.getItem("BUID")),
            PRNo : $.trim($('#txtPINo').val()), 
            RefNo : $.trim($('#txtBillNo').val()), 
            ApproveBy : parseInt($('#cboApprovedBy').val()),
            Status : parseInt($('#cboPIStatus').val()),
            Remarks : $.trim($('#txtRemarks').val()),                   
            DepartmentName : ICS_PropertyConcatation(oDepartments, 'DepartmentID'),
            ProductName : ICS_PropertyConcatation(oProducts, 'ProductID'),
            ReportLayout : parseInt($('#cboReportLayout').val()),
            SearchingData : sSearchingData
        };
        return oPurchaseRequisitionRegister;
    }
    $('#btnPreview').click(function(e){
        if(!ValidateSearch()) return;
        var oPurchaseRequisitionRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/PurchaseRequisitionRegister/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oPurchaseRequisitionRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/PurchaseRequisitionRegister/PrintPurchaseRequisitionRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });
    $('#btnExportToExcel').click(function(e){
        if(!ValidateSearch()) return;
        var oPurchaseRequisitionRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/PurchaseRequisitionRegister/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oPurchaseRequisitionRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/PurchaseRequisitionRegister/ExportToExcelPurchaseRequisitionRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });
    $('#cboDateofRequisition').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboDateofRequisition').val());
        if(nCompareOperator===0)
        {
            $('#txtDateofRequisitionStart').datebox({ disabled : true });
            $('#txtDateofRequisitionEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtDateofRequisitionStart').datebox({ disabled : false });
            $('#txtDateofRequisitionEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtDateofRequisitionStart').datebox({ disabled : false });
            $('#txtDateofRequisitionEnd').datebox({ disabled : false });
        }
        $('#txtDateofRequisitionStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtDateofRequisitionEnd').datebox('setValue', icsdateformat(new Date()));
    });
    $('#cboDateofBill').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboDateofBill').val());
        if(nCompareOperator===0)
        {
            $('#txtDateofBillStart').datebox({ disabled : true });
            $('#txtDateofBillEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtDateofBillStart').datebox({ disabled : false });
            $('#txtDateofBillEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtDateofBillStart').datebox({ disabled : false });
            $('#txtDateofBillEnd').datebox({ disabled : false });
        }
        $('#txtDateofBillStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtDateofBillEnd').datebox('setValue', icsdateformat(new Date()));
    });
    $('#cboPIApprovedDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboPIApprovedDate').val());
        if(nCompareOperator===0)
        {
            $('#txtPIApprovedDateStart').datebox({ disabled : true });
            $('#txtPIApprovedDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtPIApprovedDateStart').datebox({ disabled : false });
            $('#txtPIApprovedDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtPIApprovedDateStart').datebox({ disabled : false });
            $('#txtPIApprovedDateEnd').datebox({ disabled : false });
        }
        $('#txtPIApprovedDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtPIApprovedDateEnd').datebox('setValue', icsdateformat(new Date()));
    });
    $('#cboPIAmount').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboPIAmount').val());
        if(nCompareOperator===0)
        {
            $('#txtPIAmountStart').prop("disabled", true);
            $('#txtPIAmountEnd').prop("disabled", true);
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtPIAmountStart').prop("disabled", false);
            $('#txtPIAmountEnd').prop("disabled", true);
        }
        else
        {
            $('#txtPIAmountStart').prop("disabled", false);
            $('#txtPIAmountEnd').prop("disabled", false);
        }
        $('#txtPIAmountStart').val('0.00');
        $('#txtPIAmountEnd').val('0.00');
    });
    $('#btnClose').click(function (e) {
        window.location.href = window.location.href;
    });
    
    
    ///Department PIck
    function PickDepartment(DepartmentName)
    {
        debugger;
        var oTDepartment={id:1, text:DepartmentName};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oTDepartment,
            ControllerName:"Department",
            ActionName: "getchildren",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].DepartmentID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "Name", title: "Departmen tName", width: 230, align: "left" };tblColums.push(oColumn);
                    var bmultiplereturn=true;
                    var oPickerParam = {
                        winid: 'winDept',
                        winclass:'clsDept',
                        winwidth: 320,
                        winheight: 460,
                        tableid: 'tblDept',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: bmultiplereturn,
                        searchingbyfieldName:'Name',
                        windowTittle: 'Department List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
        });
    }
    $("#txtDepartment").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtDepartment').val())===null || $.trim($('#txtDepartment').val())==="")
            {
                alert("Press enter with Department name");    
                return;
            }
            PickDepartment();
        }
    });
    $("#btnPickDepartment").click(function () {
        $('#txtDepartment').val('');
        PickDepartment();
    });
    $('#txtDepartment').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtDepartment").removeClass("fontColorOfPickItem");
            $('#txtDepartment').data('Departments', []);
        }
    });
    $('#btnClearDepartment').click(function(e){
        $("#txtDepartment").val("");
        $('#txtDepartment').data('Departments', []);
        $("#txtDepartment").removeClass("fontColorOfPickItem");
    });    
    //End Department PIcker

    //Product PIck
    function PickProduct()
    {        
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oProduct = { 
            BUID : nBUID,
            ProductName : $.trim($('#txtProduct').val())
        };
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = []; 
                    var oColumn = { field: "ProductCode", title: "Product Code", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Product Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductCategoryName", title: "Category", width: 100, align: "left" }; tblColums.push(oColumn)
                    var oPickerParam = {
                        winid: 'winProducts',
                        winclass: 'clsProducts',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProducts',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'ProductName',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtProduct").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtProduct').val())===null || $.trim($('#txtProduct').val())==="")
            {
                alert("Press enter with product name");    
                return;
            }
            PickProduct();
        }
    });
    $("#btnPickProduct").click(function () {
        $('#txtProduct').val('');
        PickProduct();
    });
    $('#txtProduct').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtProduct").removeClass("fontColorOfPickItem");
            $('#txtProduct').data('Products', []);
        }
    });
    $('#btnClearProduct').click(function(e){
        $("#txtProduct").val("");
        $('#txtProduct').data('Products', []);
        $("#txtProduct").removeClass("fontColorOfPickItem");
    });    
    //End Product PIcker

    
    //End Product PIcker

    function IntializePickerbutton(oPIckerobj) {
        $("#" + oPIckerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPIckerValueAssign(oPIckerobj);
        });
        $(document).find('.' + oPIckerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPIckerValueAssign(oPIckerobj);
            }
        });
    }

    function SetPIckerValueAssign(oPIckerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPIckerobj.multiplereturn) {
            oreturnobjs = $('#' + oPIckerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPIckerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPIckerobj.winid).icsWindow("close");
        $("#" + oPIckerobj.winid).remove();

        if (oPIckerobj.winid === 'winDept')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtDepartment').val(oreturnobjs.length+"'s Departments seleted");
                $('#txtDepartment').addClass('fontColorOfPickItem');
                $('#txtDepartment').data('Departments', oreturnobjs);                
                $('#txtDepartment').focus();
            }
        }
        else if (oPIckerobj.winid === 'winProducts')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtProduct').val(oreturnobjs.length+"'s Products seleted");
                $('#txtProduct').addClass('fontColorOfPickItem');
                $('#txtProduct').data('Products', oreturnobjs);                
                $('#txtProduct').focus();
            }
        } 
    }

    function updateProgress() {
        var value =$('#progbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progbarParent").hide();
    }
</script>