@{
    ViewBag.Title = "Quotation CataLog";
}
<html>
<body>
     @model IEnumerable<ESimSol.BusinessObjects.NOA>
    
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable" id="mdiv" style="margin-left: 0px; height:500px; width:100%">
            <div style="margin-left: 0px; height:100%; width:100%">
                <table id="tblNOAs" title="Quotation CataLog List" style="width:100%" class="easyui-datagrid" fit="true" fitcolumns="false"
                       rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarPQ" data-options="resizable:true">
                    <thead>
                        <tr>
                            <th field="NOANo" width="15%" align="left">@ViewBag.NOAOperationType.Value No</th>
                            <th field="NOADateInString" width="12%" align="left">Date</th>
                            <th field="PrepareByName" width="15%" align="left">Prepare By</th>
                            <th field="ApprovalHead" width="10%" align="left">State</th>
                            <th field="ApprovedByName" width="15%" align="left">Approved By</th>
                            <th field="BUName" width="10%" align="left">Business Unit</th>
                        </tr>
                </table>
                <div id="toolbarPQ">
                    <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                    <a id="btnPreviewWithoutHead" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview Without Tech Head</a>
                </div>
            </div>
            <div style="width:100%; height:10%">
                <fieldset>
                    <legend style="font-weight: bold">Action : </legend>
                    <table border="0" cellspacing="1" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                        <tr>
                            <td style="width:85%; text-align:right"></td>
                            <td style="width: 15%">
                                <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
        </div>
        </div>
</body>
</html>
<script type="text/javascript">
    var _oNOA=null;
    var _sBaseAddress="";
    var _sPurchaseQuotationHeader="";
    var _nMenuid=0;
    var _oCurrencys=[];
    var _oCompany=null;
    var _nDiscount=0;
    var _nDiscount_Amount=0;
    var _nItemWiseTotalDiscount =0;
    $(document).ready(function () {
     
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oPurchaseQuotation =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        
        RefreshList(_oPurchaseQuotation);

        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
    });
    
    
    $("#btnClose").click(function(){
        window.location.href = sessionStorage.getItem("BackLink");
    });

    function RefreshList(oPurchaseQuotations)
    {
        var data={"total":""+oPurchaseQuotations.length+"","rows":oPurchaseQuotations};
        $('#tblNOAs').datagrid('loadData',data);
        
    }
    $('#btnPreview').click(function (e) {
        var oNOA = $('#tblNOAs').datagrid('getSelected');
        if (oNOA == null || oNOA.NOAID <= 0)
        {
            alert("Please Select one item.");
            return;
        }
        window.open(_sBaseAddress + '/NOA/PrintNOAWithFormatLog?id=' + oNOA.NOALogID+"&bWithTechHead="+true+"&bIsNormalFormat="+false, "_blank");


    });
    $('#btnPreviewWithoutHead').click(function (e) {
        var oNOA = $('#tblNOAs').datagrid('getSelected');
        if (oNOA == null || oNOA.NOAID <= 0)
        {
            alert("Please Select one item.");
            return;
        }
        window.open(_sBaseAddress + '/NOA/PrintNOAWithFormatLog?id=' + oNOA.NOALogID+"&bWithTechHead="+false+"&bIsNormalFormat="+false, "_blank");


    });
</script>