@model ESimSol.BusinessObjects.SuperAdmin
@{
    ViewBag.Title = "Super Admin";
}
<div class="menuMainCollectionTable" style="margin-left: 0px; width:100%; height:100%">
    <fieldset>
        <legend style="font-weight:bold"> Make DayOff : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
            <tr>
                <td style="">Make Dayoff from Leave - </td>

                <td style="">
                    <input id="dtStartDate" type="text" style="width: 100px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                    <input id="dtEndDate" type="text" style="width: 100px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />

                </td>
                <td style="">
                    <a id="btnMakeDayoff" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">MakeDayoff</a>
                </td>
            </tr>
        </table>
    </fieldset>
</div>


<script type="text/javascript">
    var _sTempString="";
    var _sBaseAddress="";
    var _oSuperAdmin = null;

    $(document).ready(function ()
    {
        debugger;
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oSuperAdmin =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        
        $('#dtStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#dtEndDate').datebox('setValue', icsdateformat(new Date()));
    });
    $("#btnMakeDayoff").click(function(e){
        debugger;
        if (!confirm("Confirm to make dayoff? If you make dayoff no rollback will be possible.")) return;
        _sTempString = $('#dtStartDate').datebox('getValue') + "~" + $('#dtEndDate').datebox('getValue') + "~" + true;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/SuperAdmin/MakeDayoffHoliday",
            traditional: true,
            data: JSON.stringify({sTemp : _sTempString}),
            contentType: "application/json; charset=utf-8",

            success: function(data)
            {
                var oSA = jQuery.parseJSON(data);
                //console.log(oAttDaily);
                if (oSA.ErrorMessage == "" || oSA.ErrorMessage == null)
                {
                    alert("Operation Successful.");
                }
                else
                {
                    alert(oSA.ErrorMessage);
                }
            },
            error: function(xhr, status, error)
            {
                alert(error);
            }
        });
    });

</script>
