@{
    ViewBag.Title = "Company Rule Description";
}
<html>
<head>
    <title> Company Rule Description</title>
</head>
<body>
    @{var MenuID = HttpContext.Current.Session[SessionInfo.MenuID];}
    @model ESimSol.BusinessObjects.CompanyRuleName
    <div style="font-family: Tahoma;width:100%;">
        <fieldset>
            <legend id="lblHeaderName" style="font-weight:bold"> </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                <tr style="width:100%">
                    <td style="text-align: right;width:20%">
                        Rules Name/Header :
                    </td>
                    <td style="width:80%">
                        <textarea id="txtRulesName" style="width:100%" rows="2"></textarea>
                    </td>
                </tr>
                <tr style="width:100%">
                    <td style="text-align: right;width:20%">
                        Rules Description :
                    </td>
                    <td style="width:80%">
                        <textarea id="txtRulesDescription" style="width:100%" rows="5"></textarea>
                    </td>
                </tr>
                <tr style="width:100%">
                    <td style="text-align: right;width:100%" colspan="2">

                        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true"
                           onclick="AddCompanyRuleNameAndDescription()">Add</a>
                        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true"
                           onclick="EditCompanyRuleDescription()">Edit</a>
                        <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true"
                           onclick="DeleteCompanyRuleDescription()">Delete</a>
                        <a id="btnActivity" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="ChangeActiveStatus()">Activity</a>
                        <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true" onclick="ViewCompanyRuleDescription()">View</a>
                    </td>
                </tr>
            </table>
            <div style="font-family: Tahoma; width:100%; height:40%; margin-left:20.5%">
                @*<table id="tblRulesDescription" class="easyui-datagrid" style="width: 80%; height: 250px"
                       fitcolumns="false" rownumbers="true" pagination="false" singleselect="true"
                       autorowheight="false">*@
                <table id="tblRulesDescription" class="easyui-datagrid" style="width: 80%; height: 250px;"
                       fitcolumns="false" pagination="false" singleselect="true" autorowheight="false"
                       data-options="singleSelect: false, fitColumns:false,  rownumbers:true,pagination:false,autoRowHeight:false, onClickRow: onClickRow">
                    <thead>
                        <tr>
                            @*<th field="Description" width="600">*@
                            <th data-options="field:'Description',width:600,align:'left',editor:{type:'textbox'}"
                                align="left" id="Description">
                                Rules
                            </th>
                            <th field="ActivityInString" width="160">
                                Activity
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </fieldset>
        <fieldset>
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold">
                <tr>
                    <td style="width: 900px; text-align: right"></td>
                    <td style="width: 50px; text-align: center">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true"
                           onclick="Save()">Save</a>
                    </td>
                    <td style="width: 50px">
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>

<script type="text/javascript">
var _oCompanyRuleName = null;
var _oCompanyRuleDescriptions = [];
var _sBaseAddress = "";
var _nMenuid=0;
var _sCRHeader="";
var _nCRNID=0;
var _nCRDID=0;

$(document).ready(function() {
    _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    _oCompanyRuleName = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    _oCompanyRuleDescriptions = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.CompanyRuleDescriptions));
    _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(MenuID));
    _sCRHeader=sessionStorage.getItem("CompanyRuleNameHeader");
    if(_oCompanyRuleName.ErrorMessage!="")
    {
        alert(_oCompanyRuleName.ErrorMessage);
        _oCompanyRuleName.ErrorMessage=="";
    }
    $("#lblHeaderName").html(_sCRHeader);
    $("#btnView").hide();
    if (_sCRHeader == "Edit Company Rule Name") 
    {
        DynamicRefreshList(_oCompanyRuleDescriptions, "tblRulesDescription");
        $("#txtRulesName").val(_oCompanyRuleName.Description);
        $("#txtRulesDescription").val("");
        _nCRNID=_oCompanyRuleName.CRNID;
    }
    if (_sCRHeader== "View Company Rule Name") 
    {
        DynamicRefreshList(_oCompanyRuleDescriptions, "tblRulesDescription");
        $("#btnView").show();
        $("#btnAdd").hide();
        $("#btnSave").hide();
        $("#btnEdit").hide();
        $("#btnDelete").hide();
        $("#btnActivity").hide();
        $("#txtRulesName").prop("disabled", true);
        $("#txtRulesDescription").prop("disabled", true);
        $("#txtRulesName").val(_oCompanyRuleName.Description);
        //$("#txtRosterCycle").prop("disabled", true);
        //$("#btnAdd").prop("disabled", true);
        //$("#btnRemove").prop("disabled", true);
    }
});

function AddCompanyRuleNameAndDescription(){
    if(_nCRNID==0)
    {
        var oCompanyRuleName={
            CRNID:_nCRNID,
            Description :$("#txtRulesName").val()
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/CompanyRule/CompanyRuleName_IU",
            traditional: true,
            data: JSON.stringify(oCompanyRuleName),
            contentType: "application/json; charset=utf-8",
            success: function(data) {
                _oCompanyRuleName = jQuery.parseJSON(data);
                _nCRNID=_oCompanyRuleName.CRNID
                AddCompanyRuleDescription();
            }
            });
    }
    else
    {
        AddCompanyRuleDescription();
    }
}
var sAT="Add";
function AddCompanyRuleDescription(){
    var sDes="";
    if( sAT=="UpdateEnter")
    {
        var oCompanyRuleDescription = $('#tblRulesDescription').datagrid('selectRow', nIndex).datagrid('getSelected');
        _nCRDID=oCompanyRuleDescription.CRDID;
        _nCRNID=oCompanyRuleDescription.CRNID;
        sDes=oCompanyRuleDescription.Description;
    }
    else
    {
        sDes=$("#txtRulesDescription").val();
    }
    if(sDes=="" || sDes== null)
    {
        alert("Please enter a description !");
        return;
    }
    oCompanyRuleDescription = {
        CRDID: _nCRDID,
        CRNID: _nCRNID,
        Description:sDes,
        IsActive:true,
        ActivityInString:'Active'
    };
  
    var obj = {
        BaseAddress: _sBaseAddress,
        Object: oCompanyRuleDescription,
        ObjectId: oCompanyRuleDescription.CRDID,
        ControllerName: "CompanyRule",
        ActionName: "CompanyRuleDescription_IU",
        TableId: "",
        IsWinClose: false,
    };
    $.icsSave(obj, function (response) {
        if (response.status && response.obj != null) {
            if(sAT=="Add")
            {$('#tblRulesDescription').datagrid('appendRow', response.obj);}
            else
            {
                var oCompanyRuleDescription = $('#tblRulesDescription').datagrid('getSelected');
                var selectedRowIndex = $('#tblRulesDescription').datagrid('getRowIndex', oCompanyRuleDescription);
                $('#tblRulesDescription').datagrid('updateRow',{index: selectedRowIndex,row:response.obj});
            }
            $("#txtRulesDescription").val("");
            sAT="Add";
            _nCRDID=0;
        }
    });
}

function EditCompanyRuleDescription(){
    var oCompanyRuleDescription = $('#tblRulesDescription').datagrid('getSelected');
    if (oCompanyRuleDescription == null) {
        alert("Invalid Field!!! please select a valid Field!");
        return false;
    }
    var obj =
    {
        BaseAddress: _sBaseAddress,
        Object: oCompanyRuleDescription,
        ControllerName: "CompanyRule",
        ActionName: "GetCompanyRuleDescription",
        IsWinClose: false
    };
    $.icsDataGet(obj, function (response) {
        if (response.status && response.obj!= null && response.obj.CRDID>0) {
            $("#txtRulesName").val(response.obj.Header);
            $("#txtRulesDescription").val(response.obj.Description);
            _nCRDID=response.obj.CRDID;
            _nCRNID=response.obj.CRNID;
            sAT="Update";
        }
    });
}

function ViewCompanyRuleDescription(){
    var oCompanyRuleDescription = $('#tblRulesDescription').datagrid('getSelected');
    if (oCompanyRuleDescription == null) {
        alert("Invalid Field!!! please select a valid Field!");
        return false;
    }
    $("#txtRulesDescription").val(oCompanyRuleDescription.Description);
}

function DeleteCompanyRuleDescription() {
    var oCompanyRuleDescription = $('#tblRulesDescription').datagrid('getSelected');
    if (oCompanyRuleDescription == null) {
        alert("Invalid Field!!! please select a valid Field!");
        return false;
    }
    if (!confirm("Confirm to Delete?")) return;
    var selectedRowIndex = $('#tblRulesDescription').datagrid('getRowIndex', oCompanyRuleDescription);
    var obj = {
        BaseAddress: _sBaseAddress,
        Object: oCompanyRuleDescription,
        ControllerName: "CompanyRule",
        ActionName: "CompanyRuleDescription_Delete",
        TableId: "tblRulesDescription",
        IsWinClose: false
    };
    $.icsDelete(obj)
    //$.icsDelete(obj, function (response) {
    //    if (response.status && response.Message=="deleted") {
    //        $('#tblRulesDescription').datagrid('deleteRow', selectedRowIndex);
    //    }
    //});
}

function Save()
{
    var oCompanyRuleName={
        CRNID:_nCRNID,
        Description :$("#txtRulesName").val()
    }
    $.ajax({
        type: "POST",
        dataType: "json",
        url: _sBaseAddress + "/CompanyRule/CompanyRuleName_IU",
        traditional: true,
        data: JSON.stringify(oCompanyRuleName),
        contentType: "application/json; charset=utf-8",
        success: function(data) {
            _oCompanyRuleName = jQuery.parseJSON(data);
            if(_oCompanyRuleName.CRNID>0)
            {
                Close();
            }
        }
    });
}

function ApendToList()
{
    var oCompanyRuleNames =sessionStorage.getItem("CompanyRuleNames");
    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
    if(oCompanyRuleNames!=null)
    {
        oCompanyRuleNames = jQuery.parseJSON(oCompanyRuleNames);
    }
    else
    {
        oCompanyRuleNames=[];
    }
    if(nIndex!=-1)
    {
        oCompanyRuleNames[nIndex]=_oCompanyRuleName;
    }
    else
    {
        sessionStorage.setItem("SelectedRowIndex", oCompanyRuleNames.length);
        oCompanyRuleNames.push(_oCompanyRuleName);
    }
    sessionStorage.setItem("CompanyRuleNames", JSON.stringify(oCompanyRuleNames));
}

function Close()
{
    ApendToList();
    window.location.href = _sBaseAddress+ "/CompanyRule/View_CompanyRules?menuid="+_nMenuid;
}

var editIndex = undefined;  
function endEditing()
{  
    if (editIndex == undefined){return true}  
    if ($('#tblRulesDescription').datagrid('validateRow', editIndex))
    { 
        $('#tblRulesDescription').datagrid('endEdit', editIndex);
        editIndex = undefined; 
        return true;
    } 
    else
    {  
        return false;  
    } 
}

var nIndex=0;
function onClickRow(index)
{  
    nIndex=index;
    if (editIndex != index)
    {  
        if (endEditing())
        { 
            $('#tblRulesDescription').datagrid('selectRow', index).datagrid('beginEdit', index);  
            editIndex = index; 
        } 
        else
        {  
            $('#tblRulesDescription').datagrid('selectRow', editIndex);  
        }  
    } 
} 

$(document).keydown(function (e)
{
    var keyCode = e.keyCode || e.which;
    if (keyCode == 13)
    {
        endEditing();
        sAT="UpdateEnter";
        AddCompanyRuleDescription();
    }
});

function ChangeActiveStatus() 
{
    var oCompanyDescription = $('#tblRulesDescription').datagrid('getSelected');
    if (oCompanyDescription == null || oCompanyDescription.CRDID <= 0) {
        alert("Invalid Field!!! please select a valid Field!");
        return false;
    }
    var SelectedRowIndex = $('#tblRulesDescription').datagrid('getRowIndex', oCompanyDescription);
    $.ajax({
        type: "POST",
        dataType: "json",
        url: _sBaseAddress + "/CompanyRule/CompanyRuleDescription_Activity",
        traditional: true,
        data: JSON.stringify(oCompanyDescription),
        contentType: "application/json; charset=utf-8",

        success: function(data) {
            oCompanyDescription = jQuery.parseJSON(data);
            if (oCompanyDescription.CRDID > 0) {
                alert("Data Saved sucessfully");
                $('#tblRulesDescription').datagrid('updateRow', { index: SelectedRowIndex, row: oCompanyDescription });
            } else {
                alert(oCompanyDescription.ErrorMessage);
            }
        },
        error: function(xhr, status, error)
        {
            alert(error);
        }
    });
}

</script>
