@model IEnumerable<ESimSol.BusinessObjects.CompanyRuleName>
@{
    ViewBag.Title = "Company Rule";
}

<div style="margin-left:0px; width:100%; height:100%">
    <table id="tblCompanyRuleNames" title="Company Rule Name List" class="easyui-datagrid" style="width:100%; height:100%" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" selectoncheck="false" checkonselect="false" toolbar="#toolbar">
        <thead>
            <tr>
                <th data-options="field:'Selected',checkbox:true"></th>
                <th field="Description" width="800" align="left">Rules</th>
                <th field="ActivityInString" width="200" align="left">Activity</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <a id="btnNew" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="AddCompanyRuleName()">New</a>
        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="EditCompanyRuleName()">Edit</a>
        <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true" onclick="ViewCompanyRuleName()">View</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="Delete()">Delete</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="ChangeActiveStatus()">Activity</a>
        <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
    </div>
</div>

<script type="text/javascript">
    var _oCompanyRuleNames=[];
    var _sBaseAddress="";
    var _sCompanyRuleNameHeader="";

    $(document).ready(function () {
        _oCompanyRuleNames =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oCompanyRuleNames =sessionStorage.getItem("CompanyRuleNames");
        _sCompanyRuleNameHeader=sessionStorage.getItem("CompanyRuleNameHeader");
        if(oCompanyRuleNames!=null)
        {
            oCompanyRuleNames = jQuery.parseJSON(oCompanyRuleNames);
        }
        else
        {
            oCompanyRuleNames=_oCompanyRuleNames;
        }
        DynamicRefreshList(oCompanyRuleNames, "tblCompanyRuleNames");
        if(_sCompanyRuleNameHeader == "New Company Rule Name") {
            var oCompanyRuleNames = $('#tblCompanyRuleNames').datagrid('getRows');
            var nIndex = oCompanyRuleNames.length-1;
            $('#tblCompanyRuleNames').datagrid('selectRow', nIndex);
        }
        else if(_sCompanyRuleNameHeader == "Edit Company Rule Name" || _sCompanyRuleNameHeader == "View Company Rule Name") {
            var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
            $('#tblCompanyRuleNames').datagrid('selectRow', nIndex);
        }
        sessionStorage.clear();
    });

    function AddCompanyRuleName()
    {
        var oCompanyRuleNames= $('#tblCompanyRuleNames').datagrid('getRows');
        sessionStorage.setItem("CompanyRuleNames", JSON.stringify(oCompanyRuleNames));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("CompanyRuleNameHeader", "New Company Rule Name");
        window.location.href = _sBaseAddress+ "/CompanyRule/View_CompanyRule?sid=0&sMsg=N/A";
    }

    function EditCompanyRuleName()
    {
        var oCompanyRuleName = $('#tblCompanyRuleNames').datagrid('getSelected');
        if (oCompanyRuleName == null || oCompanyRuleName.CRNID <= 0) {
            alert("Please select an item from list!");
            return;
        }
        var SelectedRowIndex = $('#tblCompanyRuleNames').datagrid('getRowIndex', oCompanyRuleName);
        var oCompanyRuleNames= $('#tblCompanyRuleNames').datagrid('getRows');
        sessionStorage.setItem("CompanyRuleNames", JSON.stringify(oCompanyRuleNames));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("CompanyRuleNameHeader", "Edit Company Rule Name");
        window.location.href = _sBaseAddress+ "/CompanyRule/View_CompanyRule?sid="+oCompanyRuleName.EncryptedID+"&sMsg=N/A";
    }

    function ViewCompanyRuleName()
    {
        var oCompanyRuleName = $('#tblCompanyRuleNames').datagrid('getSelected');
        if (oCompanyRuleName == null || oCompanyRuleName.CRNID <= 0) {
            alert("Please select an item from list!");
            return;
        }
        var SelectedRowIndex = $('#tblCompanyRuleNames').datagrid('getRowIndex', oCompanyRuleName);
        var oCompanyRuleNames= $('#tblCompanyRuleNames').datagrid('getRows');
        sessionStorage.setItem("CompanyRuleNames", JSON.stringify(oCompanyRuleNames));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("CompanyRuleNameHeader", "View Company Rule Name");
        window.location.href = _sBaseAddress+ "/CompanyRule/View_CompanyRule?sid="+oCompanyRuleName.EncryptedID+"&sMsg=N/A";
    }

    function Delete(){
        var oCompanyRuleName = $('#tblCompanyRuleNames').datagrid('getSelected');
        if (oCompanyRuleName == null || oCompanyRuleName.CRNID <= 0) {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        var SelectedRowIndex = $('#tblCompanyRuleNames').datagrid('getRowIndex', oCompanyRuleName);
        if (!confirm("Confirm to Delete?")) return;
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oCompanyRuleName,
            ControllerName: "CompanyRule",
            ActionName: "CompanyRuleName_Delete",
            TableId: "tblCompanyRuleNames",
            IsWinClose: false
        };
        $.icsDelete(obj)
        //$.icsDelete(obj, function (response) {
        //    if (response.status && response.Message=="deleted") {
        //        $('#tblRulesDescription').datagrid('deleteRow', selectedRowIndex);
        //    }
        //});


        //var oCompanyRuleName = $('#tblCompanyRuleNames').datagrid('getSelected');
        //if (!confirm("Confirm to Delete?")) return;

        //if (oCompanyRuleName == null || oCompanyRuleName.CompanyRuleNameID <= 0) {
        //    alert("Invalid Field!!! please select a valid Field!");
        //    return false;
        //}
        //var SelectedRowIndex = $('#tblCompanyRuleNames').datagrid('getRowIndex', oCompanyRuleName);

        //if (oCompanyRuleName.CompanyRuleNameID > 0) {
        //    $.ajax({
        //        type: "GET",
        //        dataType: "json",
        //        url: _sBaseAddress + "/CompanyRuleName/CompanyRuleNameDelete",
        //        data: { id: oCompanyRuleName.CompanyRuleNameID },
        //        contentType: "application/json; charset=utf-8",
        //        success: function(data) {
        //            var feedbackmessage = jQuery.parseJSON(data);
        //            if (feedbackmessage == "") {
        //                alert("Delete sucessfully");
        //                $('#tblCompanyRuleNames').datagrid('deleteRow', SelectedRowIndex);

        //            } else {
        //                alert(feedbackmessage);
        //            }
        //        },
        //        error: function(xhr, status, error) {
        //            alert(error);
        //        }
        //    });
        //}
    }

    //function ViewCompanyRuleName()
    //{
    //    var oCompanyRuleName = $('#tblCompanyRuleNames').datagrid('getSelected');
    //    if (oCompanyRuleName == null || oCompanyRuleName.CompanyRuleNameID <= 0) {
    //        alert("Please select an item from list!");
    //        return;
    //    }
    //    var SelectedRowIndex = $('#tblCompanyRuleNames').datagrid('getRowIndex', oCompanyRuleName);
    //    var oCompanyRuleNames= $('#tblCompanyRuleNames').datagrid('getRows');
    //    sessionStorage.setItem("CompanyRuleNames", JSON.stringify(oCompanyRuleNames));
    //    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
    //    sessionStorage.setItem("CompanyRuleNameHeader", "View CompanyRuleName");
    //    window.location.href = _sBaseAddress+ "/CompanyRuleName/ViewCompanyRuleName?sid="+oCompanyRuleName.EncryptRPID+"&sMsg=N/A";
    //}

    function ChangeActiveStatus() {
        var oCompanyRuleName = $('#tblCompanyRuleNames').datagrid('getSelected');
        if (oCompanyRuleName == null || oCompanyRuleName.CRNID <= 0) {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        var SelectedRowIndex = $('#tblCompanyRuleNames').datagrid('getRowIndex', oCompanyRuleName);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/CompanyRule/CompanyRuleName_Activity",
            traditional: true,
            data: JSON.stringify(oCompanyRuleName),
            contentType: "application/json; charset=utf-8",

            success: function(data) {
                oCompanyRuleName = jQuery.parseJSON(data);
                if (oCompanyRuleName.CRNID > 0) {
                    alert("Data Saved sucessfully");
                    $('#tblCompanyRuleNames').datagrid('updateRow', { index: SelectedRowIndex, row: oCompanyRuleName });
                } else {
                    alert(oCompanyRuleName.ErrorMessage);
                }
            },
            error: function(xhr, status, error) {
                alert(error);
            }
        });
    }

    $('#btnPrint').click(function (e)
    {
        var oCRs = $('#tblCompanyRuleNames').datagrid('getChecked');
        if (oCRs.length <= 0) {
            alert("Please Select At Least One Item !");
            return;
        }
        var sCRNIDs = "";
        for(var i =0; i<oCRs.length;i++)
        {
            sCRNIDs += oCRs[i].CRNID +",";
        }
        sCRNIDs = sCRNIDs.substring(0,sCRNIDs.length-1);
        var tsv=((new Date()).getTime())/1000;
        window.open(_sBaseAddress+ "/CompanyRule/View_PrintCompanyRules?sCRNIDs="+sCRNIDs+"&ts="+tsv, "_blank");
    });
</script>
