@{
	ViewBag.Title = "Department List";
}
@model ESimSol.BusinessObjects.DepartmentSetUp
@{var MenuID = HttpContext.Current.Session[SessionInfo.MenuID];}
<head></head>
<body>
    <div class="divDepartmentSetUp" style="margin-left:0px;width:100%; height:100%">
        <table id="tblDepartmentSetUp" title="Department List" class="easyui-treegrid" style="width:100%;height:100%" fit="true" fitcolumns="true"
               data-options="idField:'id',treeField:'text',rownumbers:'true', toolbar:'#toolbarDepartment'">
            <thead>
                <tr>
                    <th data-options="field:'text',width:200">Department Name</th>
                </tr>
            </thead>
        </table>
        <div id="toolbarDepartment">
            <a id="btnReload" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"></a>
            <input type="text" id="txtSearchByCode" placeholder="Search by Code" style="width:120px" /><input type="text" id="txtSearchByName" placeholder="Search by name" style="width:150px" />
            <a id="btnAddSetup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add Setup</a>
            <a id="btnEditSetup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit Setup</a>
            <a id="btnRemoveSetup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove Setup</a>
        </div>
    </div>

    <div id="winDepartmentSetUp" class="easyui-window winstyle" title="Department Requirement Policy" style="width:800px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <fieldset style="margin-top:3px">
            <table border="0" cellpadding="5" cellspacing="5" style="font-weight:bold; font-size:11px">
                <tr>
                    <td style="text-align:right">Location:</td>
                    <td>
                        <select id="cboLocation">
                        </select>
                    </td>
                    <td style="width:130px; text-align:right">Dept/Section :</td>
                    <td>
                        <input id="txtDepartment" type="text" style="width:160px" disabled="disabled" />
                        <input id="btnPickDepartment" type="button" value="P" style="width:25px" />
                        <input id="btnClearDepartment" type="button" value="C" style="width:25px" />
                    </td>
                </tr>
                <tr>
                    <td style="width:130px; text-align:right">Dept Close :</td>
                    <td style="width:670px" colspan="3">
                        <input id="txtDepartmentClose" type="text" style="width:538px" disabled="disabled" />
                        <input id="btnPickDepartmentCloseDay" type="button" value="P" style="width:25px" />
                        <input id="btnClearDepartmentCloseDay" type="button" value="C" style="width:25px" />
                    </td>
                </tr>
                <tr>
                    <td style="width:130px; text-align:right">Head Count :</td>
                    <td>
                        <div style="float:left; text-align:left">
                            <input type="text" id="txtHeadCount" style="width:216px;" />
                        </div>
                    </td>
                    <td style="width:130px; text-align:right">Budget :</td>
                    <td>
                        <div style="float:left; text-align:left">
                            <input type="text" id="txtBudget" style="width:216px;" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="width:130px; text-align:right">Description :</td>
                    <td style="width:670px" colspan="3">
                        <input type="text" style="width:595px" id="txtDescription" />
                    </td>
                </tr>
            </table>
        </fieldset>
        <div style="width: 782px; margin-left:2px">
            <table id="tblDeptReqDesignations" title="Designation Wise Required Person" class="easyui-datagrid" style="width: 782px; height: 292px"
                   data-options="singleSelect: true, fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false, showFooter: true, toolbar:'#toolbarpolicy', onClickRow: onClickRow">
                <thead>
                    <tr>
                        <th width="24%" align="left" field="DesignationName">Designation</th>
                        <th width="25%" align="left" field="Responsibility">Responsibility</th>
                        <th width="25%" align="left" field="ResponsibilityInBangla">Responsibility(Bangla)</th>
                        <th width="24%" align="left" field="RequiredPerson" editor="{type:'textbox'}">Required Person</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbarpolicy">
                <div id="Divtoolbarpolicy">
                    Designation :
                    <input id="txtDesignation" type="text" style="width:150px" disabled="disabled" />
                    <input id="btnPickDesignation" type="button" value="P" style="width:25px" />
                    <input id="btnClearDesignation" type="button" value="C" style="width:25px" />
                    <input id="btnAddDesignation" type="button" value="+" style="width:28px" />
                    <input id="btnRemoveDesignation" type="button" value="-" style="width:28px" />
                    <a id="btnReloadDeptReqDesignations" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"></a>
                    <a id="btnAddHRResponsibility" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Responsibility</a>
                </div>
            </div>
        </div>

        <fieldset class="actionfieldsetstyle">
            <legend>Actions : </legend>
            <a id="btnSaveDepartmentSetUp" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
            <a id="btnCloseDepartmentSetUp" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>

    <div id="winDepartment" class="easyui-window" title="Department List" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <fieldset style="margin-left:2px; margin-top :2px">
            <div style="width: 100%; height: 400px; overflow: auto">
                <ul id="ttDepartment" singleselect="true"></ul>
            </div>
        </fieldset>
        <fieldset>
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; font-family: Tahoma">
                <tr>
                    <td style="width: 400px; text-align: right"></td>
                    <td style="width: 50px">
                        <a id="btnOkDepartment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
                    </td>
                    <td style="width: 50px">
                        <a id="btnCloseDepartment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>

    <div id="winWeekDays" class="easyui-window" title="Days Of Week" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <table id="tblDay" title="" class="easyui-datagrid" style="width: 233px; height: 210px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="false" autorowheight="false">
            <thead>
                <tr>
                    <th data-options="field:'Selected',checkbox:true"> </th>
                    <th field="WeekDay" width="155"> Days </th>
                </tr>
            </thead>
        </table>
        <fieldset>
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; font-family: Tahoma">
                <tr>
                    <td style="width: 80px; text-align: right"></td>
                    <td style="width: 50px">
                        <a id="btnOkWeekDays" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
                    </td>
                    <td style="width: 50px">
                        <a id="btnCloseWeekDays" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>

    <div id="winDesignation" class="easyui-window" title="Designation List" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <fieldset style="margin-left:2px; margin-top :2px">
            <div style="width: 100%; height: 400px; overflow: auto">
                <ul id="ttDesignation" data-options="checkbox:true" singleselect="true"></ul>
            </div>
        </fieldset>
        <fieldset>
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; font-family: Tahoma">
                <tr>
                    <td style="width: 400px; text-align: right"></td>
                    <td style="width: 50px">
                        <a id="btnOkDesignation" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
                    </td>
                    <td style="width: 50px">
                        <a id="btnCloseDesignation" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>

    <div id="winHRResponsibility" class="easyui-window" title="HR Responsibility List" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="margin-left:2px; margin-top:2px">
            <table id="tblHRResponsibility" title="" class="easyui-datagrid" style="width: 430px; height: 450px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false">
                <thead>
                    <tr>
                        <th field="Code" width="60"> Code </th>
                        <th field="Description" width="295"> Responsibility Clause </th>
                    </tr>
                </thead>
            </table>
        </div>
        <fieldset>
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; font-family: Tahoma">
                <tr>
                    <td style="width: 280px; text-align: right"></td>
                    <td style="width: 50px">
                        <a id="btnOkHRResponsibility" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
                    </td>
                    <td style="width: 50px">
                        <a id="btnCloseHRResponsibility" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>

<script type="text/javascript">

    $(document).ready(function () {
        var _sBaseAddress=@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oDepartmentSetUp =@Html.Raw(Json.Encode(Model));
        var nMenuID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(MenuID));
        var oLocations = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.oLocations));
        sessionStorage.setItem("MenuID", nMenuID);
        $('#txtHeadCount,#txtBudget').icsCurrencyBox();
        $("#cboLocation").icsLoadCombo({ List: oLocations, OptionValue: "LocationID", DisplayText: "Name" });

        RefreshDepartmentList(oDepartmentSetUp);
    });

    $('#txtSearchByCode').keypress(function (e) {
        var c = String.fromCharCode(e.which);
        var txtSearchByCode = $('#txtSearchByCode').val();
        txtSearchByCode = txtSearchByCode + c;

        var bFlag = false;
        var sAccountHeadCode = "";
        var rows = $('#tblDepartmentSetUp').treegrid('getChildren', 1);
        for (i = 0; i < rows.length; ++i) {
            sAccountHeadCode = rows[i]['code'].substring(0, txtSearchByCode.length);
            if (txtSearchByCode.toUpperCase() == sAccountHeadCode.toUpperCase()) {
                var id = rows[i]['id'];
                $('#tblDepartmentSetUp').treegrid('select', id);
                break;
            }
        }
    });

    $('#txtSearchByName').keypress(function (e) {
        var c = String.fromCharCode(e.which);
        var txtSearchByName = $("#txtSearchByName").val();
        txtSearchByName = txtSearchByName + c;
        var bFlag = false;
        var sAccountHeadName = "";
        var rows = $('#tblDepartmentSetUp').treegrid('getChildren', 1);
        for (i = 0; i < rows.length; ++i) {
            sAccountHeadName = rows[i]['text'].substring(0, txtSearchByName.length);
            if (txtSearchByName.toUpperCase() == sAccountHeadName.toUpperCase()) {
                var id = rows[i]['id'];
                $('#tblDepartmentSetUp').treegrid('select', id);
                break;
            }
        }
    });

    $("#btnReload").click(function () {
        $('#tblDepartmentSetUp').treegrid('reload');
    });

    $("#btnAddSetup").click(function () {
        
        var oDepartmentSetUp = $("#tblDepartmentSetUp").treegrid("getSelected");
        if (oDepartmentSetUp == null || parseInt(oDepartmentSetUp.DataType) != 1) {
            alert("Please select an BU from list!");
            return;
        }
        
        var oDeptReqPolicy = {
            DepartmentRequirementPolicyID: 0,
            CompanyID: 1,//This is a Hard Qoutted Value
            BusinessUnitID: parseInt(oDepartmentSetUp.BusinessUnitID),
            LocationID: 0,
            LocationName: '',
            DepartmentID: 0,
            Code: "",
            Description: "",
            DepartmentCloseDays : [],
            DepartmentRequirementDesignations : []
        };
        RefreshControls(oDeptReqPolicy);
        $('#txtDepartment').data('DepartmentID', 0);
        $("#winDepartmentSetUp").data("DeptReqPolicy", oDeptReqPolicy);
        $("#winDepartmentSetUp").icsWindow("open", oDepartmentSetUp.text + " Department Setup");
    });

    $("#btnEditSetup").click(function () {

        var oDepartmentSetUp = $("#tblDepartmentSetUp").treegrid("getSelected");
        if (oDepartmentSetUp == null || parseInt(oDepartmentSetUp.DataType) != 3) {
            alert("Please select an Department from list!");
            return;
        }        
        var oDeptReqPolicy = {
            DepartmentRequirementPolicyID: parseInt(oDepartmentSetUp.DeptReqPolicyID)
        };
        debugger;
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/DepartmentRequirementPolicyV2/GetPolicy",
            traditional: true,
            data: JSON.stringify(oDeptReqPolicy),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oDeptReqPolicy = jQuery.parseJSON(data);
                if (oDeptReqPolicy != null) {                    
                    if (parseInt(oDeptReqPolicy.DepartmentRequirementPolicyID) > 0) {
                        var oTempDeptReqPolicy = {
                            DepartmentRequirementPolicyID: parseInt(oDeptReqPolicy.DepartmentRequirementPolicyID),
                            CompanyID: 1,//This is a Hard Qoutted Value
                            BusinessUnitID: parseInt(oDeptReqPolicy.BusinessUnitID),
                            LocationID: parseInt(oDeptReqPolicy.LocationID),
                            LocationName: oDeptReqPolicy.LocationName,
                            DepartmentID: parseInt(oDeptReqPolicy.DepartmentID),
                            DepartmentName: oDeptReqPolicy.DepartmentName,
                            Description: oDeptReqPolicy.Description,
                            HeadCount: oDeptReqPolicy.HeadCount,
                            Budget: oDeptReqPolicy.Budget,
                            DepartmentCloseDays: oDeptReqPolicy.DepartmentCloseDays,
                            DepartmentRequirementDesignations: oDeptReqPolicy.DepartmentRequirementDesignations
                        };

                        RefreshControls(oTempDeptReqPolicy);                        
                        RefreshDeptReqDesignationsList(oTempDeptReqPolicy.DepartmentRequirementDesignations);
                        $('#txtDepartment').data('DepartmentID', oTempDeptReqPolicy.DepartmentID);
                        $("#winDepartmentSetUp").data("DeptReqPolicy", oTempDeptReqPolicy); 
                        $("#winDepartmentSetUp").icsWindow("open", oDeptReqPolicy.DepartmentName + " Department Setup");
                    }
                }
                else {
                    alert('Invalid Operation!')
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $("#btnRemoveSetup").click(function () {
        var oDepartmentSetUp = $("#tblDepartmentSetUp").treegrid("getSelected");
        if (oDepartmentSetUp == null || parseInt(oDepartmentSetUp.DeptReqPolicyID) <= 0 || parseInt(oDepartmentSetUp.DataType) != 2) {
            alert("Please select a Location from list!");
            return;
        }
        if (!confirm("Confirm to Delete?")) return;

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/DepartmentRequirementPolicyV2/Delete",
            traditional: true,
            data: JSON.stringify(oDepartmentSetUp),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedbackMessage = jQuery.parseJSON(data);
                if (sFeedbackMessage != null) {
                    if (sFeedbackMessage == "Deleted") {
                        alert("Delete Successfully");
                        window.location.href = _sBaseAddress + '/DepartmentRequirementPolicyV2/ViewDepartmentSetup_V2?menuid=' + sessionStorage.getItem("MenuID");
                    }
                    else {
                        alert(sFeedbackMessage);
                    }
                }
                else {
                    alert(sFeedbackMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    function ValidateInput() {
        var oDeptReqPolicy = parseInt($("#cboLocation").val());
        if (oDeptReqPolicy == null || oDeptReqPolicy <= 0) {
            alert('Invalid Location!');
            return false;
        }

        var nDepartmentID = parseInt($('#txtDepartment').data('DepartmentID'));
        var oDeptReqPolicyDept = $('#ttDepartment').tree('getSelected');
        if (nDepartmentID <= 0) {
            alert('Please select Department!')
            return false;
        }

        return true;
    }

    function RefreshObject() {

        var sClosedDays = $('#txtDepartmentClose').val();
        var aDepartmentCloseDays = [];
        if (sClosedDays != null) {
            var aClosedDays = sClosedDays.split(',');
            for (var i = 0; i < aClosedDays.length; i++) {
                var oDepartmentCloseDay = {
                    WeekDay: aClosedDays[i]
                };
                aDepartmentCloseDays.push(oDepartmentCloseDay);
            }
        }

        var oTempDeptReqPolicy = $("#winDepartmentSetUp").data("DeptReqPolicy");
        var oDeptReqPolicyDept = $('#txtDepartment').data('DepartmentID');

        var oDeptReqPolicy = {
            DepartmentRequirementPolicyID: parseInt(oTempDeptReqPolicy.DepartmentRequirementPolicyID),
            BusinessUnitID: parseInt(oTempDeptReqPolicy.BusinessUnitID),
            LocationID: parseInt($("#cboLocation").val()),
            DepartmentID: parseInt(oDeptReqPolicyDept),
            LocationName: $("#cboLocation option:selected" ).text(),
            Department: $("#txtDepartment").val(),
            Description: $("#txtDescription").val(),
            DepartmentCloseDays: aDepartmentCloseDays,
            HeadCount: parseInt($('#txtHeadCount').val()),
            Budget: $('#txtBudget').val(),
            DepartmentRequirementDesignations: $("#tblDeptReqDesignations").datagrid("getRows")

        };
        return oDeptReqPolicy;
    }

    function RefreshControls(oTempDeptReqPolicy) {
        debugger;
        var sWeekDays = "";
        for (var i = 0; i < oTempDeptReqPolicy.DepartmentCloseDays.length; i++) {
            sWeekDays += oTempDeptReqPolicy.DepartmentCloseDays[i].WeekDay + ',';
        }
        if (sWeekDays.length > 0) {
            sWeekDays = sWeekDays.substring(0, sWeekDays.length - 1);
        }
        $("#txtDepartment").val(oTempDeptReqPolicy.DepartmentName);
        $("#txtDepartmentClose").val(sWeekDays);
        $("#txtDescription").val(oTempDeptReqPolicy.Description);
        $('#txtHeadCount').val(oTempDeptReqPolicy.HeadCount);
        $('#txtBudget').val(oTempDeptReqPolicy.Budget);
        $('#cboLocation').val(oTempDeptReqPolicy.LocationID);
    }

    $('#btnSaveDepartmentSetUp').click(function (e) {
        endEditing();
        if (!ValidateInput()) return;
        var oDeptReqPolicy = RefreshObject();

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/DepartmentRequirementPolicyV2/Save",
            traditional: true,
            data: JSON.stringify(oDeptReqPolicy),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oDeptReqPolicy = jQuery.parseJSON(data);
                if (oDeptReqPolicy.DepartmentRequirementPolicyID > 0) {
                    alert("Data Saved sucessfully");                    
                    window.location.href = _sBaseAddress + '/DepartmentRequirementPolicyV2/ViewDepartmentSetup_V2?menuid=' + sessionStorage.getItem("MenuID");
                }
                else {
                    alert(oDeptReqPolicy.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $("#btnAddDesignation").click(function () {
        var oTDesignations = $('#ttDesignation').tree('getChecked');        
        if (oTDesignations == null || oTDesignations.length <= 0) {
            alert("Please select Designations!");
            return;
        }
        else {

            for (var i = 0; i < oTDesignations.length; i++) {
                if (!DesignationExists(oTDesignations[i].id)) {
                    var oDeptReqDesignation = {
                        DepartmentRequirementDesignationID: 0,
                        DepartmentRequirementPolicyID: 0,
                        DesignationName: oTDesignations[i].text,
                        DesignationID: oTDesignations[i].id,
                        HRResponsibilityID: oTDesignations[i].HRResponsibilityID,
                        Responsibility: oTDesignations[i].Responsibility,
                        ResponsibilityInBangla: oTDesignations[i].ResponsibilityInBangla,
                        RequiredPerson: 0
                    };                    
                    $('#tblDeptReqDesignations').datagrid('appendRow', oDeptReqDesignation);
                }
            }

        }
        $('#txtDesignation').val('');
    });

    $("#btnRemoveDesignation").click(function () {
        var oDeptReqDesignation = $("#tblDeptReqDesignations").datagrid("getSelected");
        if (oDeptReqDesignation == null || parseInt(oDeptReqDesignation.DesignationID) <= 0) {
            alert("Please select a designation from list!");
            return;
        }
        if (!confirm("Confirm to Delete?")) return;
        var SelectedRowIndex = $('#tblDeptReqDesignations').datagrid('getRowIndex', oDeptReqDesignation);
        $('#tblDeptReqDesignations').datagrid('deleteRow', SelectedRowIndex);
    });

    $("#btnReloadDeptReqDesignations").click(function () {
        endEditing();
        var oDeptReqDesignations = $("#tblDeptReqDesignations").datagrid("getRows");
        RefreshDeptReqDesignationsList(oDeptReqDesignations);
    });

    $("#btnCloseDepartment").click(function () {
        $("#winDepartment").icsWindow('close');
    });

    $("#btnClearDepartment").click(function () {
        $('#txtDepartment').val('');
    });

    $("#btnCloseWeekDays").click(function () {
        $("#winWeekDays").icsWindow('close');
    });

    $("#btnClearDepartmentCloseDay").click(function () {
        $("#txtDepartmentClose").val('');
    });

    $("#btnCloseDesignation").click(function () {
        $("#winDesignation").icsWindow('close');
    });

    $("#btnClearDesignation").click(function () {
        $('#txtDesignation').val('');
    });     

    $("#btnCloseHRResponsibility").click(function () {
        $("#winHRResponsibility").icsWindow('close');
    });

    $("#btnCloseDepartmentSetUp").click(function () {
        DynamicRefreshList([],'tblDeptReqDesignations');
        $("#winDepartmentSetUp").icsWindow('close');
    });

    $("#btnPickDepartment").click(function () {
        var oDepartment = {
            DepartmentID: 0
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/Department/GetsAllDepartments",
            traditional: true,
            data: JSON.stringify(oDepartment),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oTDepartment = jQuery.parseJSON(data);
                if (oTDepartment != null) {
                    $("#winDepartment").icsWindow("open", "Department List");
                    var oDeptReqPolicy = $('#ttDepartment').tree({
                        data: [oTDepartment]
                    });
                    if (oDeptReqPolicy.DepartmentID != null) {
                        var nNodeID = parseInt(oDeptReqPolicy.DepartmentID);
                        if (nNodeID > 0) {
                            var node = $('#ttDepartment').tree('find', nNodeID);
                            $('#ttDepartment').tree('expandTo', node.target);
                            $('#ttDepartment').tree('select', node.target);
                        }
                    }
                }
                else {
                    alert('There is no department exists!')
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $("#btnOkDepartment").click(function () {
        var oTDepartment = $('#ttDepartment').tree('getSelected');
        if (oTDepartment == null || parseInt(oTDepartment.id) <= 0) {
            alert("Please select an department!");
            return;
        }
        $('#txtDepartment').data('DepartmentID', parseInt(oTDepartment.id));
        $('#txtDepartment').val(oTDepartment.text);
        $("#winDepartment").icsWindow('close');
    });

    $("#btnPickDepartmentCloseDay").click(function () {
        $("#winWeekDays").icsWindow("open", "Days Of Week");
        var oWeekDays = GetWeekDays();
        var data = oWeekDays;
        data = { "total": "" + data.length + "", "rows": data };
        $('#tblDay').datagrid('loadData', data);
        CheckSelectedDays();
    });

    $("#btnOkWeekDays").click(function () {
        var oSelectedDays = [];
        oSelectedDays = $('#tblDay').datagrid('getChecked');
        if (oSelectedDays.length <= 0) {
            alert("please select atleast one item");
            return;
        }
        var sWeekDays = "";
        for (var i = 0; i < oSelectedDays.length; i++) {
            sWeekDays += oSelectedDays[i].WeekDay + ',';
        }
        if (sWeekDays.length > 0) {
            sWeekDays = sWeekDays.substring(0, sWeekDays.length - 1);
        }
        $("#txtDepartmentClose").val(sWeekDays);
        $("#winWeekDays").icsWindow('close');
    });

    $("#btnPickDesignation").click(function () {
        var oDesignation = {
            DesignationID: 0
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/Designation/GetsDesignations",
            traditional: true,
            data: JSON.stringify(oDesignation),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oTDesignation = jQuery.parseJSON(data);
                if (oTDesignation != null) {
                    $("#winDesignation").icsWindow("open", "Designation List");
                    $('#ttDesignation').tree({
                        data: [oTDesignation]
                    });
                    var oAllNodes = $('#ttDesignation').tree('getChecked', 'unchecked');
                }
                else {
                    alert('There is no designation exists!')
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $("#btnOkDesignation").click(function () {
        var oTDesignations = $('#ttDesignation').tree('getChecked');
        if (oTDesignations == null || oTDesignations.length <= 0) {
            alert("Please select Designations!");
            return;
        }

        var oTempDesignations = [];
        for (var i = 0; i < oTDesignations.length; i++) {
            if (parseInt(oTDesignations[i].parentid) > 0) {
                oTempDesignations.push(oTDesignations[i])
            }
        }

        $('#txtDesignation').val(oTempDesignations.length + ' Item(s) Selected');
        $("#winDesignation").icsWindow('close');

    });

    $("#btnAddHRResponsibility").click(function () {

        endEditing();
        var oDeptReqDesignation = $("#tblDeptReqDesignations").datagrid("getSelected");
        if (oDeptReqDesignation == null || parseInt(oDeptReqDesignation.DesignationID) <= 0) {
            alert("Please select a designation from list!");
            return;
        }

        var oHRResponsibility = {
            HRResponsibilityID: 0
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/DepartmentRequirementPolicyV2/GetsHRResponsibility",
            traditional: true,
            data: JSON.stringify(oHRResponsibility),
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                var oHRResponsibilitys = jQuery.parseJSON(data);
                if (oHRResponsibilitys != null) {

                    var data = oHRResponsibilitys;
                    data = { "total": "" + data.length + "", "rows": data };
                    $('#tblHRResponsibility').datagrid('loadData', data);
                    $('#tblHRResponsibility').datagrid({ selectOnCheck: false, checkOnSelect: false })

                    var oDesignationResponsibilitys = [];
                    oDesignationResponsibilitys = oDeptReqDesignation.DesignationResponsibilitys;
                    if (oDesignationResponsibilitys != null) {
                        if (oDesignationResponsibilitys.length > 0) {
                            var oHRResponsibilitys = $("#tblHRResponsibility").datagrid("getRows");
                            for (var i = 0; i < oHRResponsibilitys.length; i++) {
                                for (var j = 0; j < oDesignationResponsibilitys.length; j++) {
                                    if (parseInt(oHRResponsibilitys[i].HRRID) == parseInt(oDesignationResponsibilitys[j].HRResponsibilityID)) {
                                        $('#tblHRResponsibility').datagrid('checkRow', i);
                                    }
                                }
                            }
                        }
                    }
                    $("#winHRResponsibility").icsWindow("open", "HR Responsibility List");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $("#btnOkHRResponsibility").click(function () {

        var oDeptReqDesignation = $("#tblDeptReqDesignations").datagrid("getSelected");

        var oHRResponsibilitys = $('#tblHRResponsibility').datagrid('getSelected');
        var HRIndex = $("#tblHRResponsibility").datagrid("getRowIndex", oHRResponsibilitys);
        if (HRIndex < 0) {
            alert("please select atleast one item");
            return;
        }
        oDeptReqDesignation.Responsibility = oHRResponsibilitys.Description;
        oDeptReqDesignation.ResponsibilityInBangla = oHRResponsibilitys.DescriptionInBangla;
        oDeptReqDesignation.HRResponsibilityID = oHRResponsibilitys.HRRID;
            
        var nSelectedIndex = $("#tblDeptReqDesignations").datagrid("getRowIndex", oDeptReqDesignation);
            
        $('#tblDeptReqDesignations').datagrid('updateRow', { index: nSelectedIndex, row: oDeptReqDesignation });
        $("#winHRResponsibility").icsWindow('close');
    });

    function RefreshDepartmentList(oDepartmentSetUp) {
        data = [oDepartmentSetUp];
        data = { "total": "" + data.length + "", "rows": data };
        $('#tblDepartmentSetUp').treegrid('loadData', data);
    }

    function RefreshDeptReqDesignationsList(oDeptReqDesignations) {
        debugger;
        data = oDeptReqDesignations;
        data = { "total": "" + data.length + "", "rows": data };
        $('#tblDeptReqDesignations').datagrid('loadData', data);
    }

    function onClickRow(index) {
        if (editIndex != index) {
            if (endEditing()) {
                $('#tblDeptReqDesignations').datagrid('selectRow', index).datagrid('beginEdit', index);
                editIndex = index;
            } else {
                $('#tblDeptReqDesignations').datagrid('selectRow', editIndex);
            }
        }
    }

    var editIndex = undefined;
    function endEditing() {
        if (editIndex == undefined) { return true; }
        if ($('#tblDeptReqDesignations').datagrid('validateRow', editIndex)) {
            $('#tblDeptReqDesignations').datagrid('endEdit', editIndex);
            editIndex = undefined;
            return true;
        } else {
            return false;
        }
    }

    function GetWeekDays() {
        var objdays = [];
        var objday1 = { WeekDay: "Saturday" };
        var objday2 = { WeekDay: "Sunday" };
        var objday3 = { WeekDay: "Monday" };
        var objday4 = { WeekDay: "Tuesday" };
        var objday5 = { WeekDay: "Wednesday" };
        var objday6 = { WeekDay: "Thurseday" };
        var objday7 = { WeekDay: "Friday" };

        objdays.push(objday1);
        objdays.push(objday2);
        objdays.push(objday3);
        objdays.push(objday4);
        objdays.push(objday5);
        objdays.push(objday6);
        objdays.push(objday7);
        return objdays;
    }

    function CheckSelectedDays() {
        var sClosedDays = $('#txtDepartmentClose').val();
        if (sClosedDays != null) {
            var aClosedDays = sClosedDays.split(',');
            for (var i = 0; i < aClosedDays.length; i++) {
                if (aClosedDays[i] == "Saturday") {
                    $('#tblDay').datagrid('checkRow', 0);
                }
                else if (aClosedDays[i] == "Sunday") {
                    $('#tblDay').datagrid('checkRow', 1);
                }
                else if (aClosedDays[i] == "Monday") {
                    $('#tblDay').datagrid('checkRow', 2);
                }
                else if (aClosedDays[i] == "Tuesday") {
                    $('#tblDay').datagrid('checkRow', 3);
                }
                else if (aClosedDays[i] == "Wednesday") {
                    $('#tblDay').datagrid('checkRow', 4);
                }
                else if (aClosedDays[i] == "Thurseday") {
                    $('#tblDay').datagrid('checkRow', 5);
                }
                else if (aClosedDays[i] == "Friday") {
                    $('#tblDay').datagrid('checkRow', 6);
                }
            }
        }
    }

    function DesignationExists(id) {
        var oExistList = $("#tblDeptReqDesignations").datagrid("getRows");
        for (var i = 0; i < oExistList.length; i++) {
            if (parseInt(oExistList[i].DesignationID) == parseInt(id)) {
                return true;
            }
        }
        return false;
    }

</script>