@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>
    Someting went wrong or Session Out. Please Login Again.
    @*@Html.ActionLink("Logout", "LogOut", "User");*@
</h2>

<p>Message: @Model.Exception.Message</p>


