<html>


@model IEnumerable<ESimSol.BusinessObjects.ExportBillPendingReport>
@{
    ViewBag.Title = "Maturity Report";
}
</html>
<head>
    <title>ExportBillPendingReport</title>
    <script src="@Url.Content("~/Views/ExportBillPendingReport/ExportBillPendingReports.js")" type="text/javascript"></script>
</head>

<body>
    <div class="menuMainCollectionTable">
        <div class="easyui-tabs" style="width:100%;height:100%;">
            <div title="LC in Hand" style="font-family:Tahoma;margin-left: 0px; height: 100%; width:100%">
                <table id="tblLCInHand" title="" class="easyui-datagrid" fit="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarLCInHand">
                    <thead>
                        <tr>
                            <th field="ApplicantName" width="20%" align="left">Party Name</th>
                            <th field="BankName_Nego" width="20%" align="left">Bank Name(Nego)</th>
                            <th field="ExportLCNo" width="20%" align="left">L/C No</th>
                            <th field="Amount_LCSt" width="15%" align="right">LC Value</th>
                            <th field="AmountSt" width="15%" align="right">Total Bill Value</th>
                            <th field="LCinHandSt" width="15%" align="right">LC In Hand Value</th>
                            <th field="DeliveryValueSt" width="15%" align="right">Delivery Value</th>
                            <th field="LCStatusSt" width="15%" align="left">Current Status</th>
                        </tr>
                    </thead>
                </table>
                <div id="toolbarLCInHand">
                    <table style="width: 100%;">
                        <tr>
                            <td style="text-align: left; font-size: 12px;">
                                <input type="text" id="txtContractorLCInHand" placeholder="Search By Party" style=" width:150px" />
                                <input type="text" id="txtBankBranchLCInHand" placeholder="Search By Bank(Nego)" style=" width:150px" />
                                <input type="text" id="txtMktPersionLCInHand" placeholder="Search By Mkt Person" style=" width:150px" />
                                <a id="btnSrc_LCInHand" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                                <a id="btnDetailLCInHand" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-view" plain="true" >ViewDetail</a>
                                <a id="btnPrintBankWiseLCInHand" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" >Print(Bank Wise)</a>
                                <a id="btnPrintPartyWiseLCInHand" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" >Print(Party Wise)</a>
                                <a id="btnPrintXLLCInHand" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" >PrintXL</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div title="Pending Party acceptance" style="font-family:Tahoma;margin-left: 0px; height: 100%; width:100%">
                <table id="tblPendingPartyacceptance" class="easyui-datagrid" fit="true" rownumbers="true" pagination="true" singleselect="true" , autorowheight="false" toolbar="#toolbarPendingPartyacceptance">
                    <thead>
                        <tr>
                            <th field="ExportBillNo" width="20%" align="left">Bill No</th>
                            <th field="ApplicantName" width="20%" align="left">Party Name</th>
                            <th field="BankName_Nego" width="20%" align="left">Bank Name(Nego)</th>
                            <th field="ExportLCNo" width="20%" align="left">L/C No</th>
                            <th field="PINo" width="20%" align="left">PI No</th>
                            <th field="AmountSt" width="15%" align="right">Amount</th>
                            <th field="MKTPName" width="20%" align="left">MKT Person</th>
                            <th field="SendToPartySt" width="20%" align="left">Send To Party</th>
                            <th field="TimeLag3" width="10%" align="right">Due Days</th>
                            <th field="DeliveryDateSt" width="15%" align="center">Last Delivery Date</th>
                            <th field="DueDate" width="15%" align="center">Due Date</th>
                        </tr>
                    </thead>
                </table>
                <div id="toolbarPendingPartyacceptance">
                    <table style="width: 100%;">
                        <tr>
                            <td style="text-align: left; font-size: 12px;">
                                <input type="text" id="txtContractorPendingPartyacceptance" placeholder="Search By Party" style=" width:150px" />
                                <input type="text" id="txtBankBranchPendingPartyacceptance" placeholder="Search By Bank(Nego)" style=" width:150px" />
                                <input type="text" id="txtMktPersionPendingPartyacceptance" placeholder="Search By Mkt Person" style=" width:150px" />
                                <a id="btnSrc_PendingPartyacceptance" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                                <a id="btnPrintBankWisePendingPartyacceptance" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print(Bank Wise)</a>
                                <a id="btnPrintPartyWisePendingPartyacceptance" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print(Party Wise)</a>
                                <a id="btnPrintXLPendingPartyacceptance" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">PrintXL</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div title="Pending Submit To Bank" style="font-family:Tahoma;margin-left: 0px; height: 100%; width:100%;">
                <table id="tblPendingSubmitToBank" class="easyui-datagrid" fit="true" rownumbers="true" pagination="true" singleselect="true" , autorowheight="false" toolbar="#toolbarPendingSubmitToBank">
                    <thead>
                        <tr>
                            <th field="ExportBillNo" width="20%" align="left">Bill No</th>
                            <th field="ApplicantName" width="20%" align="left">Party Name</th>
                            <th field="BankName_Nego" width="20%" align="left">Bank Name(Nego)</th>
                            <th field="ExportLCNo" width="20%" align="left">L/C No</th>
                            <th field="PINo" width="20%" align="left">PI No</th>
                            <th field="AmountSt" width="15%" align="right">Amount</th>
                            <th field="BankName_Issue" width="20%" align="left">Issue Bank Name</th>
                            <th field="PrepareDateSt" width="15%" align="center">Prepare Date</th>
                            <th field="SendToPartySt" width="20%" align="left">Send To Party</th>
                            <th field="RecdFromPartySt" width="100" align="left">Recd From Party</th>
                            <th field="TimeLag3" width="20%" align="right">Due Days</th>
                        </tr>
                    </thead>
                </table>
                <div id="toolbarPendingSubmitToBank">
                    <table style="width: 100%;">
                        <tr>
                            <td style="text-align: left; font-size: 12px">
                                <input type="text" id="txtContractorPendingSubmitToBank" placeholder="Search By Party" style=" width:150px" />
                                <input type="text" id="txtBankBranchPendingSubmitToBank" placeholder="Search By Bank(Nego)" style=" width:150px" />
                                <input type="text" id="txtMktPersionPendingSubmitToBank" placeholder="Search By Mkt Person" style=" width:150px" />
                                <a id="btnSrc_PendingSubmitToBank" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                                <a id="btnPrintBankWisePendingSubmitToBank" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print(Bank Wise)</a>
                                <a id="btnPrintPartyWisePendingSubmitToBank" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print(Party Wise)</a>
                                <a id="btnPrintXLPendingSubmitToBank" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">PrintXL</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div title="Pending LDBC" style="font-family:Tahoma;margin-left: 0px; height: 100%; width:100%;">
                <table id="tblPendingLDBC" class="easyui-datagrid" fit="true" rownumbers="true" pagination="true" singleselect="true" , autorowheight="false" toolbar="#toolbarPendingLDBC">
                    <thead>
                        <tr>
                            <th field="ExportBillNo" width="20%" align="left">Bill No</th>
                            <th field="ApplicantName" width="20%" align="left">Party Name</th>
                            <th field="BankName_Nego" width="20%" align="left">Bank Name(Nego)</th>
                            <th field="ExportLCNo" width="20%" align="left">L/C No</th>
                            <th field="PINo" width="20%" align="left">PI No</th>
                            <th field="AmountSt" width="15%" align="right">Amount</th>
                            <th field="BankName_Issue" width="20%" align="left">Issue Bank Name</th>
                            <th field="PrepareDateSt" width="15%" align="center">Prepare Date</th>
                            <th field="SendToPartySt" width="20%" align="left">Send To Party</th>
                            <th field="RecdFromPartySt" width="20%" align="left">Recd From Party</th>
                            <th field="SendToBankDateSt" width="15%" align="center">Send To Bank</th>
                            <th field="TimeLag3" width="20%" align="right">Due Days</th>
                        </tr>
                    </thead>
                </table>
                <div id="toolbarPendingLDBC">
                    <table style="width: 100%;">
                        <tr>
                            <td style="text-align: left; font-size: 12px">
                                <input type="text" id="txtContractorPendingLDBC" placeholder="Search By Party" style=" width:150px" />
                                <input type="text" id="txtBankBranchPendingLDBC" placeholder="Search By Bank(Nego)" style=" width:150px" />
                                <input type="text" id="txtMktPersionPendingLDBC" placeholder="Search By Mkt Person" style=" width:150px" />
                                <a id="btnSrc_PendingLDBC" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                                <a id="btnPrintBankWisePendingLDBC" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print(Bank Wise)</a>
                                <a id="btnPrintPartyWisePendingLDBC" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print(Party Wise)</a>
                                <a id="btnPrintXLPendingLDBC" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">PrintXL</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div title="Pending Maturity" style="font-family:Tahoma;margin-left: 0px; height: 100%; width:100%;">
                <table id="tblPendingMaturity" class="easyui-datagrid" fit="true" rownumbers="true" pagination="true" singleselect="true" , autorowheight="false" toolbar="#toolbarPendingMaturity">
                    <thead>
                        <tr>
                            <th field="ExportBillNo" width="20%" align="left">Bill No</th>
                            <th field="ApplicantName" width="20%" align="left">Party Name</th>
                            <th field="BankName_Nego" width="20%" align="left">Bank Name(Nego)</th>
                            <th field="ExportLCNo" width="20%" align="left">L/C No</th>
                            <th field="PINo" width="20%" align="left">PI No</th>
                            <th field="AmountSt" width="15%" align="right">Amount</th>
                            <th field="BankName_Issue" width="20%" align="left">Issue Bank Name</th>
                            <th field="LDBCNo" width="20%" align="left">LDBC No</th>
                            <th field="LDBCDateSt" width="15%" align="center">LDBC Date</th>
                            <th field="MaturityRecDateSt" width="15%" align="center">Maturity Rec Date</th>
                            <th field="MaturityDateSt" width="15%" align="center">Maturity Date</th>
                            <th field="ORate" width="15%" align="right">O.Rate</th>
                            <th field="OverDueRate" width="15%" align="right">O.Due</th>
                            <th field="DeliveryDateSt" width="15%" align="center">Delivery Date</th>
                            <th field="TimeLag3" width="20%" align="right">Due Days</th>
                        </tr>
                    </thead>
                </table>
                <div id="toolbarPendingMaturity">
                    <table style="width: 100%;">
                        <tr>
                            <td style="text-align: left; font-size: 12px;">
                                <input type="text" id="txtContractorPendingMaturity" placeholder="Search By Party" style=" width:150px" />
                                <input type="text" id="txtBankBranchPendingMaturity" placeholder="Search By Bank(Nego)" style=" width:150px" />
                                <input type="text" id="txtMktPersionPendingMaturity" placeholder="Search By Mkt Person" style=" width:150px" />
                                <a id="btnSrc_PendingMaturity" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                                <a id="btnPrintBankWisePendingMaturity" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print(Bank Wise)</a>
                                <a id="btnPrintPartyWisePendingMaturity" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print(Party Wise)</a>
                                <a id="btnPrintXLPendingMaturity" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">PrintXL</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div title="Over due Maturity" style="font-family:Tahoma;margin-left: 0px; height: 100%; width:100%;">
                <table id="tblPendingOverdue" class="easyui-datagrid" fit="true" rownumbers="true" pagination="true" singleselect="true" , autorowheight="false" toolbar="#toolbarOverdueMaturity">
                    <thead>
                        <tr>
                            <th field="ExportLCNo" width="20%" align="left">L/C No</th>
                            <th field="ApplicantName" width="20%" align="left">Party Name</th>
                            <th field="BankName_Nego" width="20%" align="left">Bank Name(Nego)</th>
                            <th field="ExportLCNo" width="20%" align="left">L/C No</th>
                            <th field="PINo" width="20%" align="left">PI No</th>
                            <th field="AmountSt" width="15%" align="right">Amount</th>
                            <th field="BankName_Issue" width="20%" align="left">Issue Bank Name</th>
                            <th field="Status" width="20%" align="left">Status</th>
                            <th field="LDBCNo" width="20%" align="left">LDBC No</th>
                            <th field="LDBCDateSt" width="15%" align="center">LDBC Date</th>
                            <th field="MaturityRecDateSt" width="15%" align="center">Maturity Rec Date</th>
                            <th field="MaturityDateSt" width="15%" align="center">Maturity Date</th>
                            <th field="ORate" width="15%" align="right">O.Rate</th>
                            <th field="OverDueRate" width="15%" align="right">O.Due</th>
                            <th field="DeliveryDateSt" width="15%" align="center">Delivery Date</th>
                            <th field="TimeLag3" width="20%" align="right">Due Days</th>
                        </tr>
                    </thead>
                </table>
                <div id="toolbarOverdueMaturity">
                    <table style="width: 100%;">
                        <tr>
                            <td style="text-align: left; font-size: 12px;">
                                <input type="text" id="txtContractorPendingOverdue" placeholder="Search By Party" style=" width:150px" />
                                <input type="text" id="txtBankBranchPendingOverdue" placeholder="Search By Bank(Nego)" style=" width:150px" />
                                <input type="text" id="txtMktPersionPendingOverdue" placeholder="Search By Mkt Person" style=" width:150px" />
                                <select id="cboDiscountType" style=" width:100px;"></select>
                                <a id="btnSrc_OverduePayment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                                <a id="btnPrintBankWisePendingOverdue" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print(Bank Wise)</a>
                                <a id="btnPrintPartyWisePendingOverdue" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print(Party Wise)</a>
                                <a id="btnPrintXLPendingOverdue" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">PrintXL</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div title="Pending Payment" style="font-family:Tahoma;margin-left: 0px; height: 100%; width:100%;">
                <table id="tblPendingPayment" class="easyui-datagrid" fit="true" rownumbers="true" pagination="true" singleselect="true" , autorowheight="false" toolbar="#toolbarPendingPayment">
                    <thead>
                        <tr>
                            <th field="ExportLCNo" width="20%" align="left">L/C No</th>
                            <th field="ApplicantName" width="20%" align="left">Party Name</th>
                            <th field="BankName_Nego" width="20%" align="left">Bank Name(Nego)</th>
                            <th field="ExportLCNo" width="20%" align="left">L/C No</th>
                            <th field="PINo" width="20%" align="left">PI No</th>
                            <th field="AmountSt" width="15%" align="right">Amount</th>
                            <th field="BankName_Issue" width="20%" align="left">Issue Bank Name</th>
                            <th field="Status" width="20%" align="left">Status</th>
                            <th field="LDBCNo" width="20%" align="left">LDBC No</th>
                            <th field="LDBCDateSt" width="15%" align="center">LDBC Date</th>
                            <th field="MaturityRecDateSt" width="15%" align="center">Maturity Rec Date</th>
                            <th field="MaturityDateSt" width="15%" align="center">Maturity Date</th>
                            <th field="ORate" width="15%" align="right">O.Rate</th>
                            <th field="OverDueRate" width="15%" align="right">O.Due</th>
                            <th field="DeliveryDateSt" width="15%" align="center">Delivery Date</th>
                            <th field="TimeLag3" width="20%" align="right">Due Days</th>
                        </tr>
                    </thead>
                </table>
                <div id="toolbarPendingPayment">
                    <table style="width: 100%;">
                        <tr>
                            <td style="text-align: left; font-size: 12px;">
                                <input type="text" id="txtContractorPendingPayment" placeholder="Search By Party" style=" width:150px" />
                                <input type="text" id="txtBankBranchPendingPayment" placeholder="Search By Bank(Nego)" style=" width:150px" />
                                <input type="text" id="txtMktPersionPendingPayment" placeholder="Search By Mkt Person" style=" width:150px" />
                                <select id="cboDiscountTypeTwo" style=" width:100px;"></select>
                                <a id="btnSrc_PendingPayment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                                <a id="btnPrintBankWisePendingPayment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print(Bank Wise)</a>
                                <a id="btnPrintPartyWisePendingPayment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print(Party Wise)</a>
                                <a id="btnPrintXLPendingPayment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">PrintXL</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    var _sBaseAddress="";
    var _oSelectedContractors  =[];
    var _nContractorID ="";
    var _SelectedBankBranchIDs  = '';
    var _oExportBillPendingReports=[];
    var _oExportBillPendingReports_Chart=[];
    var _oGraphData=[];
    var _oGraphDataSet=[];
    var _oGraphData=[];
    var _oGraphTicks=[];
    var _somePlot = null;
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oExportBillPendingReports=@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        InitializeExportBillPendingReportsEvents();
    });
</script>


