<html>

<body>
    @{
        ViewBag.Title = "Product Unique Identification";
    }
    @model IEnumerable<ESimSol.BusinessObjects.ProductUniqueIdentification>
<div style="margin-left: 0px; height: 565px">
    <table id="tblProductUniqueIdentification" title="Asset Unique Identification(AUI) List"
        class="easyui-datagrid" style="width: 100%; height: 565px" fitcolumns="false"
        rownumbers="true" pagination="false" singleselect="true" autorowheight="false"
        autorowweidth="true" toolbar="#toolbar">
        <thead>
            <tr>
                <th data-options="field:'IsActive',checkbox:true">
                    Activity
                </th>
                <th field="ProductName" width="150">
                    Asset Name
                </th>
                <th field="TagNo">
                    Tag
                </th>
                <th field="SerialNumberOnProduct">
                    Serial
                </th>
                <th field="ActualAssetValue">
                    Value
                </th>
                <th field="StateInstring">
                    Status
                </th>
                <th field="Brand">
                    Brand
                </th>
                <th field="MadeIn">
                    Origin
                </th>
                <th field="LocationName">
                    Location Name
                </th>
                <th field="Activity">
                    Activity
                </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <label for="PUI" style="color: Highlight; font-size: small;" id="Count">
                </label>
            </tr>
        </tfoot>
    </table>
    <div id="toolbar">
        <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search"
            plain="true" onclick="Search()">Search</a> <a id="btnAddAUI" href="javascript:void(0)"
                class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="AddAUI()">New</a>
        <a id="btnAddSibling" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add"
            plain="true" onclick="AddSibling()">Sibling</a> @*<a id="btnAddPUIHistory"  href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="AddProductUniqueHistory()">Status</a>
                <a id="btnAddPUILocationHistory"  href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="AddProductUniqueLocationHistory()">Transfer</a>
                
                <a id="btnAddPUIEvaluationGroup"  href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="AddProductUniqueEvaluationGroup()">Group</a>                
                <a id="btnAddPUIEvaluation"  href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="AddProductUniqueEvaluation()">Evaluation</a>*@
        @*  <a id="btnAddPUIIntegrationSetup"  href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="AddIntegrationSetup()">Integration Setup</a>*@
        <a id="btnRefreshView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details"
            plain="true" onclick="RefreshView()">Detail</a> <a id="btnActive" href="javascript:void(0)"
                class="easyui-linkbutton" iconcls="icon-tip" plain="true" onclick="Active()">Activate</a>
        <a id="btnDeActive" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-tip"
            plain="true" onclick="DeActive()">DeActivate</a> <a id="btnMapProject" href="javascript:void(0)"
                class="easyui-linkbutton" iconcls="icon-tip" plain="true" onclick="MapProject()">
                MapProject</a> <a></a>
    </div>
    </div>
</body>
</html>
<script type="text/javascript">

var nlocationidcheckallsame = 0;
var nstatuscheckallsame =0;
var bCheckLocations = false;
var nGroupcheckallsame = 0;
var _sBaseAddress="";

$(document).ready(function () {
     //////////////////debugger;  
    _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        data =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));       
        data={"total":""+data.length+"","rows":data};
        $('#tblProductUniqueIdentification').datagrid('loadData',data);
         $('#tblProductUniqueIdentification').datagrid({ onCheckAll: function (rows) { CheckAllLocation(rows); } });
//        $('#tblProductUniqueIdentification').datagrid({onSelect: function(rowIndex, rowData){ RowSelect(rowIndex, rowData);}});   
//         
//        $('#tblProductUniqueIdentification').datagrid({ onCheck: function (rowIndex, rowData) { CheckCountSelect(rowIndex, rowData); } });
//        $('#tblProductUniqueIdentification').datagrid({ onUncheck: function (rowIndex, rowData) { UnCheckCountSelect(rowIndex, rowData); } });

//         $('#tblProductUniqueIdentification').datagrid({ onUncheckAll: function (rows) { UncheckAllLocation(rows); } });
           
        document.getElementById("btnActive").style.display = 'none'; 
        document.getElementById("btnDeActive").style.display = 'none';
        document.getElementById("btnRefreshView").style.display = 'none';
});


function UncheckAllLocation(rows) 
{
   
       var oGetSelections = $('#tblProductUniqueIdentification').datagrid('getSelections');
        var count = oGetSelections.length;
       document.getElementById('Count').innerHTML = "Selected Product:"+count+"";
}

function CheckCountSelect(rowIndex, rowData) 
{
    ////////debugger;
        var oGetSelections = $('#tblProductUniqueIdentification').datagrid('getSelections');
        


        var count = oGetSelections.length;
        document.getElementById('Count').innerHTML = "Selected Product:"+count+"";
        
        
}


function UnCheckCountSelect(rowIndex, rowData) 
{
    ////////debugger;
    var oGetSelections = $('#tblProductUniqueIdentification').datagrid('getSelections');
    var count = oGetSelections.length;
    document.getElementById('Count').innerHTML = "Selected Product:"+count+"";

}





function AddAUI()
{  
        
    var oParameter = new Object();
    var url = '/ProductUniqueIdentification/ADDPUI'; 
    var oPUI = window.showModalDialog(url, oParameter, 'dialogHeight:620px;dialogWidth:430px;dialogLeft:299;dialogTop:30;center:yes;resizable:no;status:no;scroll:no'); 
            
    if(oPUI!=null)
    {
       $('#tblProductUniqueIdentification').datagrid('loadData',oPUI);                 
    }
         
}


function AddSibling()
{
    ////////debugger;  
        
         var oAddSibling = $('#tblProductUniqueIdentification').datagrid('getSelections'); 
         if(oAddSibling==null || oAddSibling.length <=0)
         {
            alert("Please select an item from list!");
            reloadPage();
            return;
         }

         if(oAddSibling==null || oAddSibling.length >1)
         {
            alert("Please select Only One item from list!");
            return;
         }
         
         var SelectedRowIndex=$('#tblProductUniqueIdentification').datagrid('getRowIndex',oAddSibling); 
         var oParameter = new Object();
         var url = "/ProductUniqueIdentification/ADDPUISibling?Lotid="+oAddSibling[0].LotID+ "&PUIID=" + oAddSibling[0].PUIID;
         //var url = "/Voucher/GeneralJournal?dFromDate=" + dStartDate + "&dToDate=" + dEndDate;       
         var oPUISibling = window.showModalDialog(url, oParameter, 'dialogHeight:620px;dialogWidth:430px;dialogLeft:300;dialogTop:30;center:yes;resizable:no;status:no;scroll:no'); 
         ////////debugger;
         if(oPUISibling!=null)
         {
            
            $('#tblProductUniqueIdentification').datagrid('loadData',oPUISibling);                 
         }
}



function AddProductUniqueEvaluation()
{ 
    //debugger;
    var sTempString = "";
       
    var oProductUniqueEvaluations = $('#tblProductUniqueIdentification').datagrid('getSelections'); 
      
    if(oProductUniqueEvaluations==null || oProductUniqueEvaluations.length <=0)
    {
        alert("Please select an item from list!");
        return;
    } 
    
    //debugger;

    if(oProductUniqueEvaluations.length>0)
    {
        for(var s=0; s<oProductUniqueEvaluations.length; s++)
        {
            var StatusCheck = oProductUniqueEvaluations[s].StateInstring;
            if(StatusCheck == "Retirement")
            {
                                
                alert("Retired Product Can Not be Evaluated!!"); 
                //reloadPage();                               
                return;
            }
        }
    
    }

       

    if(oProductUniqueEvaluations.length>0)
    {

        var nIndex=0;
        var oProductUniqueIdentification=null;
        for(var p = 0; p< oProductUniqueEvaluations.length; p++)
        {
            sTempString = sTempString + oProductUniqueEvaluations[p].PUIID + ",";
        }
        var SelectedRowIndex=$('#tblProductUniqueIdentification').datagrid('getRowIndex',oProductUniqueEvaluations); 
        var oParameter = new Object();
        var url = "/ProductUniqueIdentification/ADDProductUniqueEvaluation?IDs="+sTempString;
        var oProductUniqueEvaluationReturn = window.showModalDialog(url, oParameter, 'dialogHeight:295px;dialogWidth:480px;dialogLeft:405;dialogTop:205;center:yes;resizable:no;status:no;scroll:no');

    }    
      
} // End of ProductUniqueEvaluation Function




function CheckAllLocation(rows) 
{
 //////////////debugger;  
 var bool = true;

    if(rows.length>0)
    {
      bool = rows[0].IsActive

        for(var m=0; m<rows.length; m++)
        {
            var Activitycheck = rows[m].IsActive;
             if(Activitycheck != bool)
             {
                 
                alert("Select Eiter Active or Deactive Products Only!!");
                reloadPage();
                break;                 
             }
             if(Activitycheck == bool)
             {
                if(Activitycheck==true)
                {
                    document.getElementById("btnDeActive").style.display = '';
                    document.getElementById("btnAddPUIEvaluation").style.display = '';
                    document.getElementById("btnAddPUILocationHistory").style.display = '';
                    document.getElementById("btnAddPUIHistory").style.display = '';
                    document.getElementById("btnAddPUIEvaluationGroup").style.display = '';
                    document.getElementById("btnRefreshView").style.display = ''; 
                    var count = rows.length;
                    document.getElementById('Count').innerHTML = "Selected Product:"+count+""; 
                }

                if(Activitycheck==false)
                {
                      document.getElementById("btnActive").style.display = ''; 
                      document.getElementById("btnAddPUIEvaluation").style.display = 'none';
                      document.getElementById("btnAddPUILocationHistory").style.display = 'none';
                      document.getElementById("btnAddPUIHistory").style.display = 'none';
                      document.getElementById("btnAddPUIEvaluationGroup").style.display = '';
                      document.getElementById("btnRefreshView").style.display = 'none'; 
                      var count = rows.length;
                      document.getElementById('Count').innerHTML = "Selected Product:"+count+"";
                }

             }
        }

    
    }     
   
}



function Search()
{
    var oParameter = new Object();        
    var url = "/ProductUniqueIdentification/PUISearchPiker";
    var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:490px;dialogWidth:390px;dialogLeft:300;dialogTop:130;center:yes;resizable:no;status:no;scroll:no'); 
    
    if (oReturnObject.ControlData == "" || oReturnObject.ControlData == null)
    {
        return;
    }
    else 
    {
        window.location.href = '/ProductUniqueIdentification/RefreshList?sTempString=' + oReturnObject.ControlData;
    }
} 





function AddProductUniqueLocationHistory()
{  
    debugger;  
    var sTempString = "";
    var oProductUniqueLocationHistorys = $('#tblProductUniqueIdentification').datagrid('getSelections');

     if(oProductUniqueLocationHistorys==null || oProductUniqueLocationHistorys.length <=0)
    {
        alert("Please select an item from list!");
        reloadPage();
        return;
    }

    if(oProductUniqueLocationHistorys.length>0)
    {
        for(var m=0; m<oProductUniqueLocationHistorys.length; m++)
        {
            var Activitycheck = oProductUniqueLocationHistorys[m].IsActive;
            if(Activitycheck == false)
            {
                                
                alert("Select Active Products Only, Changing InActive Products Location is not Allowed!!"); 
                 reloadPage();                               
                return;
            }
        }
    
    }

    if(oProductUniqueLocationHistorys.length>0)
    {
        for (var i = 0; i < oProductUniqueLocationHistorys.length; i++)
            {
                if (nlocationidcheckallsame == 0)
                {
                    nlocationidcheckallsame = oProductUniqueLocationHistorys[i].LocationID;
                }

                var j = i+1;
                //////////////debugger; 
                if (nlocationidcheckallsame > 0 && (j)<oProductUniqueLocationHistorys.length)
                {
                    if (nlocationidcheckallsame != oProductUniqueLocationHistorys[j].LocationID)
                    {
                        
                        alert("Ensure All the Locations are Same!"); 
                        reloadPage();                       
                        return;
                    }
                }
            }            
    }
      
   
 
    if(oProductUniqueLocationHistorys.length>0)
    {
        
        var nIndex=0;
        var oProductUniqueIdentification=null;
        for(i = 0; i< oProductUniqueLocationHistorys.length; i++)
        {
         sTempString = sTempString + oProductUniqueLocationHistorys[i].PUIID + ",";
        }
        
        var SelectedRowIndex=$('#tblProductUniqueIdentification').datagrid('getRowIndex',oProductUniqueLocationHistorys); 
        var oParameter = new Object();
        var url = "/ProductUniqueIdentification/ADDProductUniqueLocationHistory?IDs="+sTempString;          
        var oProductUniqueLocationHistorypopup = window.showModalDialog(url, oParameter, 'dialogHeight:220px;dialogWidth:400px;dialogLeft:405;dialogTop:205;center:yes;resizable:no;status:no;scroll:no');
        //////////////debugger;
        if(oProductUniqueLocationHistorypopup!=null)
        {
            for(var k =0; k<oProductUniqueLocationHistorys.length; k++)
            {
                    oProductUniqueLocationHistorys[k].LocationName=oProductUniqueLocationHistorypopup[k].LocationName;

                    nIndex= $('#tblProductUniqueIdentification').datagrid('getRowIndex',oProductUniqueLocationHistorys[k]); 
                    oProductUniqueIdentification=  GetProductUniqueIdentification( oProductUniqueLocationHistorypopup,oProductUniqueLocationHistorys[k].PUIID);         
                    $('#tblProductUniqueIdentification').datagrid('updateRow',{index: nIndex, row: oProductUniqueIdentification});                
                       
            }
             
        }
//        else 
//        {
//            alert(oProductUniqueLocationHistorypopup.ErrorMessage);
//        } 
    reloadPage();     

    }       
} //End of ProductUniqueLocationHistory Function



function AddProductUniqueHistory()
{  
    debugger;

    var sTempString = "";     
    var oProductHistorys = $('#tblProductUniqueIdentification').datagrid('getSelections');
    
    if(oProductHistorys==null || oProductHistorys.length <=0)
    {
        alert("Please select an item from list!");
        reloadPage();       
        return;
    }


    if(oProductHistorys.length>0)
    {
        for(var n=0; n<oProductHistorys.length; n++)
        {
            var Activitycheck = oProductHistorys[n].IsActive;
            if(Activitycheck == false)
            {
                ////////////debugger;
                alert("Select Active Products Only, Changing InActive Products State is not Allowed!!");
                reloadPage();
                return;
            }
        }
    
    }

     
    if(oProductHistorys.length>0)
    {
        for (var i = 0; i < oProductHistorys.length; i++)
            {
                if (nstatuscheckallsame == 0)
                {
                    nstatuscheckallsame = oProductHistorys[i].State;
                }

                var j = i+1;

                if (nstatuscheckallsame > 0 && (j)<oProductHistorys.length)
                {
                    if (nstatuscheckallsame != oProductHistorys[j].State)
                    {
                        ////////////debugger; 
                          alert("Ensure All the States are Same!");
                           reloadPage();                              
                        return;
                    }
                }
            }            
    }
      
  debugger;
 
   if(oProductHistorys.length>0)
    {
        
        var nIndex=0;
        var oProductUniqueIdentification=null;
        for(var l = 0; l< oProductHistorys.length; l++)
        {
        sTempString = sTempString + oProductHistorys[l].PUIID + ",";
        }
        
        var SelectedRowIndex=$('#tblProductUniqueIdentification').datagrid('getRowIndex',oProductHistorys); 
        var oParameter = new Object();
        var url = "/ProductUniqueIdentification/ADDProductUniqueHistory?IDs="+sTempString;          
        var oProductUniqueHistoryReturn = window.showModalDialog(url, oParameter, 'dialogHeight:210px;dialogWidth:390px;dialogLeft:405;dialogTop:205;center:yes;resizable:no;status:no;scroll:no');
        //////////////debugger;
        if(oProductUniqueHistoryReturn!=null)
            {
               

                for(var m =0; m<oProductHistorys.length; m++)
                {
                 oProductHistorys[m].StateInstring=oProductUniqueHistoryReturn[m].StateInstring;                    
                  nIndex= $('#tblProductUniqueIdentification').datagrid('getRowIndex',oProductHistorys[m]); 
                  oProductUniqueIdentification=  GetProductUniqueIdentification( oProductUniqueHistoryReturn,oProductHistorys[m].PUIID);         
                  $('#tblProductUniqueIdentification').datagrid('updateRow',{index: nIndex, row: oProductUniqueIdentification}); 
                }
                
            }
        reloadPage(); 
    }
           
} //End of ProductUniqueHistory Function



function reloadPage()
{
    location.reload()
}



// Make Active 
function Active()
{    
////debugger;
    var oProductUniqueIdentification = $('#tblProductUniqueIdentification').datagrid('getSelected'); 
    var oTempProductUniqueIdentifications = $('#tblProductUniqueIdentification').datagrid('getSelections');
          
    if(oTempProductUniqueIdentifications==null)
    {
        alert("Please select a Field from list!");
        return;
    } 
     
     if (!confirm("Confirm to Active?")) return ;      
        $.ajax
        ({
            type: "POST",
            dataType: "json",
            url: '@Url.Action("Active", "ProductUniqueIdentification")',
            data:  JSON.stringify(oTempProductUniqueIdentifications),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                oProductUniqueIdentifications = jQuery.parseJSON(data);
                if (oProductUniqueIdentifications== null || oProductUniqueIdentifications.length>0) 
                    {
                        var nIndex=0;
                        var oProductUniqueIdentification=null;
                        
                    for(var i =0; i<oTempProductUniqueIdentifications.length; i++)
                    {
                        nIndex= $('#tblProductUniqueIdentification').datagrid('getRowIndex',oTempProductUniqueIdentifications[i]); 
                        oProductUniqueIdentification=  GetProductUniqueIdentification( oProductUniqueIdentifications,oTempProductUniqueIdentifications[i].PUIID);         
                        $('#tblProductUniqueIdentification').datagrid('updateRow',{index: nIndex, row: oProductUniqueIdentification});                
                                   
                    }               
                            document.getElementById("btnActive").style.display = 'none'; 
                            document.getElementById("btnDeActive").style.display = '';
                            reloadPage();
                            
                          
                }
                    else 
                        {
                            alert(oProductUniqueIdentifications.ErrorMessage);
                        }                      
                        
            },
            error: function (xhr, status, error) 
		        {
                    alert(error);
                }
                      
        });

        
} // End of Function Active



function DeActive()
{      
   ////debugger;   
    //var oProductUniqueIdentification = $('#tblProductUniqueIdentification').datagrid('getSelected'); 
    var oTempProductUniqueIdentifications = $('#tblProductUniqueIdentification').datagrid('getSelections');
          
    if(oTempProductUniqueIdentifications==null)
    {
        alert("Please select a Field from list!");
        return;
    } 
     if (!confirm("Confirm to DeActive?")) return ;
            $.ajax
            ({
                type: "POST",
                dataType: "json",
                url: '@Url.Action("DeActive", "ProductUniqueIdentification")',
                data:  JSON.stringify(oTempProductUniqueIdentifications),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                   //////////////debugger;
                    oProductUniqueIdentifications = jQuery.parseJSON(data);
                    if (oProductUniqueIdentifications== null || oProductUniqueIdentifications[0].ErrorMessage==null) 
                        {
                        var nIndex=0;
                        var oProductUniqueIdentification=null;
                        for(var i =0; i<oTempProductUniqueIdentifications.length; i++)
                        {
                            nIndex= $('#tblProductUniqueIdentification').datagrid('getRowIndex',oTempProductUniqueIdentifications[i]); 
                            oProductUniqueIdentification=  GetProductUniqueIdentification( oProductUniqueIdentifications,oTempProductUniqueIdentifications[i].PUIID);         
                            $('#tblProductUniqueIdentification').datagrid('updateRow',{index: nIndex, row: oProductUniqueIdentification});                
                                   
                        } 
                             document.getElementById("btnActive").style.display = ''; 
                             document.getElementById("btnDeActive").style.display = 'none';
                             reloadPage();
                                          
                            
                    }
                        else 
                            {
                                alert(oProductUniqueIdentifications[0].ErrorMessage);
                                
                            }                      
                        
                },
                error: function (xhr, status, error) 
		            {
                        alert(error);
                    }
                      
            }); 
            
            //reloadPage();         

}


function GetProductUniqueIdentification(oProductUniqueIdentifications, nPUIID)
{
    for(var i =0; i<oProductUniqueIdentifications.length; i++)
    {
                                   
        if(oProductUniqueIdentifications[i].PUUID=nPUIID)
        {
            return oProductUniqueIdentifications[i];
        }                          
    }               
    return null;
}


//Here if user select a ProductType not Fixed Asset, Evaluation will not be possible
function RowSelect(rowIndex, rowData)
   {
   // ////////////////////////debugger;
       if(rowData.AssetTypeInString== 'CurrentAsset')         
        {
            document.getElementById("btnAddPUIEvaluation").style.display = 'none';
            document.getElementById("btnAddPUILocationHistory").style.display = 'none';
        }   
                
       else
       {
           document.getElementById("btnAddPUIEvaluation").style.display = ''; 
           document.getElementById("btnAddPUILocationHistory").style.display = '';
       } 

       
       if (rowData.IsActive== true) 
       {           
            document.getElementById("btnActive").style.display = 'none';
            document.getElementById("btnDeActive").style.display = '';            
            document.getElementById("btnAddPUIEvaluation").style.display = '';
            document.getElementById("btnAddPUILocationHistory").style.display = '';
            document.getElementById("btnAddPUIHistory").style.display = '';
            document.getElementById("btnAddPUIEvaluationGroup").style.display = '';
            document.getElementById("btnAddPUIEvaluation").style.display = '';
            document.getElementById("btnRefreshView").style.display = '';
            
       }       
       if (rowData.IsActive== false) 
       {
            document.getElementById("btnActive").style.display = ''; 
            document.getElementById("btnDeActive").style.display = 'none'; 
            document.getElementById("btnAddPUIEvaluation").style.display = 'none';
            document.getElementById("btnAddPUILocationHistory").style.display = 'none';
            document.getElementById("btnAddPUIHistory").style.display = 'none';
            document.getElementById("btnAddPUIEvaluationGroup").style.display = '';
            document.getElementById("btnAddPUIEvaluation").style.display = 'none';
            
       }
      
   }

function AddIntegrationSetup()
{ 
////////////debugger;      
        var oProductUniqueIntegrationSetup = $('#tblProductUniqueIdentification').datagrid('getSelected'); 
      
        if(oProductUniqueIntegrationSetup==null || oProductUniqueIntegrationSetup.PUIID <=0)
        {
            alert("Please select an item from list!");
            return;
        }
        ////////////////////////debugger;
        if(oProductUniqueIntegrationSetup.IsActive <=0)
        {
            alert("Click Active Button to Activate this Field!");
            return;
        }
        else
        {
            var SelectedRowIndex=$('#tblProductUniqueIdentification').datagrid('getRowIndex',oProductUniqueIntegrationSetup); 
            var oParameter = new Object();
            var url = "/ProductUniqueIdentification/ADDProductUniqueIntegrationSetup?id="+oProductUniqueIntegrationSetup.PUIID;
            var oProductUniqueIntegrationSetupReturn = window.showModalDialog(url, oParameter, 'dialogHeight:370px;dialogWidth:550px;dialogLeft:405;dialogTop:205;center:yes;resizable:no;status:no;scroll:no');
            //window.showModalDialog(url, oParameter, 'dialogHeight:600px;dialogWidth:750px;dialogLeft:305;dialogTop:105;center:yes;resizable:no;status:no;scroll:no');
            ////////////////////////debugger;
             if(oProductUniqueIntegrationSetup!=null)
             {
               if(oProductUniqueIntegrationSetup.PUIID>0)
                {
                    $('#tblProductUniqueIdentification').datagrid('updateRow',{index: SelectedRowIndex,	row: oProductUniqueIntegrationSetup});
                }
                
             }
        
        }       
} 


//function AddProductUniqueEvaluation()
//{ 
//    //////////////debugger;
//       
//    var oProductUniqueEvaluation = $('#tblProductUniqueIdentification').datagrid('getSelected'); 
//      
//    if(oProductUniqueEvaluation==null || oProductUniqueEvaluation.PUIID <=0)
//    {
//        alert("Please select a item from list!");
//        return;
//    }
//    ////////////////////////debugger;
//    if(oProductUniqueEvaluation.IsActive <=0)
//    {
//        alert("Click Active Button to Activate this Field!");
//        return;
//    }
//    else
//    {
//        var SelectedRowIndex=$('#tblProductUniqueIdentification').datagrid('getRowIndex',oProductUniqueEvaluation); 
//        var oParameter = new Object();
//        var url = "/ProductUniqueIdentification/ADDProductUniqueEvaluation?id="+oProductUniqueEvaluation.PUIID;
//        var oProductUniqueEvaluationReturn = window.showModalDialog(url, oParameter, 'dialogHeight:280px;dialogWidth:428px;dialogLeft:405;dialogTop:205;center:yes;resizable:no;status:no;scroll:no');
//        //////////////debugger;
//        if(oProductUniqueEvaluation!=null)
//            {
//                if(oProductUniqueEvaluation.PUIID>0)
//                {
//            
//                    $('#tblProductUniqueIdentification').datagrid('updateRow',{index: SelectedRowIndex,	row: oProductUniqueEvaluation});
//                }
//                
//            }
//        
//    }       
//} // End of ProductUniqueEvaluation Function



function RefreshView()
{
    //////////////debugger;
    var oProductUniqueEvaluation = $('#tblProductUniqueIdentification').datagrid('getSelections');   
    if(oProductUniqueEvaluation==null || oProductUniqueEvaluation[0].PUIID<=0)
       {
            alert("Please select a Field from list!");
            return;
       } 
        
     if(oProductUniqueEvaluation.length>1)
       {
            alert("Chose Only single item to View Details!");
            return;
       }    
          
    //////////////debugger; 
     window.location.href = '/ProductUniqueIdentification/RefreshUniqueEvaluation?id='+oProductUniqueEvaluation[0].PUIID; 
               
} 

function AddProductUniqueEvaluationGroup()
 {  
        ////////////////////////debugger;      
            var oProductUniqueEvaluationGroup = $('#tblProductUniqueIdentification').datagrid('getSelected');     
            var SelectedRowIndex=$('#tblProductUniqueIdentification').datagrid('getRowIndex',oProductUniqueEvaluationGroup); 
            var oParameter = new Object();
            var url = '/ProductUniqueIdentification/ADDPUIGroup'; 
            var oProductUniqueEvaluationGroupReturn = window.showModalDialog(url, oParameter, 'dialogHeight:395px;dialogWidth:300px;dialogLeft:405;dialogTop:205;center:yes;resizable:no;status:no;scroll:no');
}


function Edit()
{
    ////////////////////////debugger;
        var oProductUniqueIdentification = $('#tblProductUniqueIdentification').datagrid('getSelected'); 
        if(oProductUniqueIdentification==null || oProductUniqueIdentification.PUIID<=0)
        {
            alert("Please Select a Field !");
            return;
        }
        else
        {
            window.location.href = '/ProductUniqueIdentification/Edit?id='+oProductUniqueIdentification.PUIID;       
        }
} 
function HeadDelete()
 {
           ////////////////////////debugger;  
            var oProductUniqueIdentification = $('#tblProductUniqueIdentification').datagrid('getSelected'); 
            if (!confirm("Confirm to Delete?")) return ;
        
            if(oProductUniqueIdentification==null || oProductUniqueIdentification.PUIID<=0)
            {
                alert("Invalid Field!!! please select a valid Field!");                  
                return false;
            }
            var SelectedRowIndex=$('#tblProductUniqueIdentification').datagrid('getRowIndex',oProductUniqueIdentification);

            if (oProductUniqueIdentification.PUIID> 0) 
            {
                $.ajax
                ({
                    type: "GET",
                    dataType: "json",
                    url: '@Url.Action("Delete", "ProductUniqueIdentification")',
                    data: { ParentID: oProductUniqueIdentification.PUIID },
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        ////////////////////////debugger;
                        feedbackmessage = jQuery.parseJSON(data);
                        if (feedbackmessage == "Delete sucessfully") 
                        {
                           alert("Delete sucessfully");
                          // window.location.href = '/PointofPayment/RefreshList';
                          $('#tblProductUniqueIdentification').datagrid('deleteRow',SelectedRowIndex);
                          
                        }
                        else
                        {
                            alert(feedbackmessage);
                        }
             },
                    error: function (xhr, status, error) 
                    {
                        alert(error);
                    }
                      
                });
            }
    }

function MapProject()
{
        debugger;
    var oProductUniqueIdentification = $('#tblProductUniqueIdentification').datagrid('getSelected'); 
    if (oProductUniqueIdentification.PUIID<=0)
    {
        alert("Please Select an Item from List.!!");
        return;
    }
    var oParameter = new Object();
    var url =_sBaseAddress + "/ProductUniqueIdentification/MapProject?nPUIID="+oProductUniqueIdentification.PUIID;
    var oPIs = window.showModalDialog(url, oParameter, 'dialogHeight:180px;dialogWidth:380px;dialogLeft:300;dialogTop:130;center:yes;resizable:no;status:no;scroll:no');
    //debugger;

    if(oPIs!=null)
    {
        if(oPIs.length>0)
        {
            $('#tblPurchaseInvoices').empty();
            data = oPIs;
            data = { "total": "" + data.length + "", "rows": data };
            $('#tblPurchaseInvoices').datagrid('loadData', data);
        }
    }
    else {
        return;
    }
}

 

</script>
