<html>
<head>
    @{
        ViewBag.Title = "Order Step";
    }
</head>
<body>
    @{var MenuID = HttpContext.Current.Session[SessionInfo.MenuID];}
    @model ESimSol.BusinessObjects.OrderStep
    <div class="menuMainCollectionTable">
        <div class="easyui-panel" id="divOrderStep" title="Order Step" style="font-family:Tahoma;text-align:center;height:88%;">
            <fieldset>
                <legend style="font-weight: bold;">Order Step Info: </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px;width:100%; font-weight: bold">
                    <tr>
                        <td style="width:15%; text-align: right">
                            Step Name :
                        </td>
                        <td style="width:35%;text-align: left">
                            @Html.TextBoxFor(model => model.OrderStepName, new { style = "width:100%;", id = "txtOrderStepName" })
                        </td>
                        <td style="width:15%; text-align: right">
                          Sub  Step Name :
                        </td>
                        <td style="width:35%;text-align: left">
                            @Html.TextBoxFor(model => model.SubStepName, new { style = "width:100%;", id = "txtSubStepName" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%; text-align: right">
                            Style Type:
                        </td>
                        <td style="width:35%;text-align: left">
                            <select id="cboStyleType" style="width:100%;"><option value="-1">--Select One--</option><option value="0">Sweater</option><option value="1">Knit</option><option value="2">Woven</option></select>
                        </td>
                        <td style="width:15%; text-align: right">
                            Step Type:
                        </td>
                        <td style="width:35%;text-align: left">
                            <select id="cboStepType" style="width:100%;"><option value="-1">--Select One--</option><option value="0">Approved</option><option value="1">Production</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%; text-align: right">
                            TnA Step:
                        </td>
                        <td style="width:35%;text-align: left">
                            <select id="cboTnAStep" style="width:100%"></select>
                        </td>
                        <td  colspan="2" style="width:50%; text-align: right">
                            <input type="checkbox" id="chkIsNotificationSend" checked /> Is Notification Send
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%; text-align: right">
                            Data Type:
                        </td>
                        <td style="width:35%;text-align: left">
                            <select id="cboDataType" style="width:80px;"><option value="0">Text</option><option value="1">Number</option><option value="2">Date</option></select>
                        </td>
                        <td style="width:15%; text-align: right">
                            Note:
                        </td>
                        <td style="width:35%;text-align: left">
                            @Html.TextBoxFor(model => model.Note, new { style = "width:100%;", id = "txtNote" })
                        </td>
                    </tr>

                </table>
            </fieldset>
        </div>
        <div>
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight:bold; width:100%">
                    <tr>
                        <td style="width:86%; text-align: right"></td>
                        <td style="width: 6%">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Save()">Save</a>
                        </td>
                        <td style="width:8%">
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        </div>
</body>
</html>
<script type="text/javascript">
    var _oOrderStep=null;
    var _sBaseAddress="";   
    var _objName = "";
    $(document).ready(function () {
        //debugger;
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oOrderStep =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oTnASteps =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.TnASteps));
        $("#cboTnAStep").icsLoadCombo({List: oTnASteps,OptionValue: "id",DisplayText: "Value"});
        _objName = sessionStorage.getItem("OrderStepHeader");
        $('#divOrderStep').panel({title:_objName});
        if(_objName==="View Order Step")
        {
            $('#btnSave').hide();
        }
        RefreshControl();
    });

    function RefreshControl()
    {
        $("#cboDataType").val(_oOrderStep.RequiredDataType);
        $("#cboStyleType").val(_oOrderStep.StyleType);
        $("#cboStepType").val(_oOrderStep.StepType);
        $("#cboTnAStep").val(_oOrderStep.TnAStep);
        $('#chkIsNotificationSend').prop('checked',_oOrderStep.IsNotificationSend);
        if(_objName=="View Order Step")
        {
            document.getElementById('txtOrderStepName').disabled = true;
            document.getElementById('txtNote').disabled = true;
            document.getElementById('btnSave').style.display = 'none';
        }
    }
   function ValidateInput()
    {
       if($.trim($('#txtOrderStepName').val())==null || $.trim($('#txtOrderStepName').val())==""){alert("Please Type  Step Name.");$('#txtOrderStepName').focus();return false;}
       if($.trim($('#cboStyleType').val())<0){alert("Please Select Style Type.");$('#cboStyleType').focus();return false;}
       if($.trim($('#cboStepType').val())<0){alert("Please Select Style Type.");$('#cboStepType').focus();return false;}
       if($.trim($('#cboTnAStep').val())<=0){alert("Please Select TnA Type.");$('#cboTnAStep').focus();return false;}
       return true;
    }
   function RefreshObject()
    {
        var oOrderStep= {
                        OrderStepID :_oOrderStep.OrderStepID,
                        OrderStepName :$("#txtOrderStepName").val(),
                        RequiredDataType :$("#cboDataType").val(),
                        RequiredDataTypeInInt:$("#cboDataType").val(),
                        IsNotificationSend :$('#chkIsNotificationSend').is(":checked") ,
                        IsActive : true,
                        SubStepName:$("#txtSubStepName").val(),
                        StyleType:$("#cboStyleType").val(),
                        TnAStep:$("#cboTnAStep").val(),
                        StepType:$("#cboStepType").val(), 
                        Note :$("#txtNote").val()
                    };
        return oOrderStep;
    }


    function Save()
    {
        //debugger;
        if(!ValidateInput()) return;
        var oOrderStep=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/OrderStep/Save",
            traditional: true,
            data:  JSON.stringify(oOrderStep),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                _oOrderStep = jQuery.parseJSON(data);
                if (_oOrderStep.OrderStepID>0)
                {
                    alert("Data Saved sucessfully");
                    var oOrderSteps = sessionStorage.getItem("OrderSteps");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if (oOrderSteps != null) {
                        oOrderSteps = jQuery.parseJSON(oOrderSteps);
                    }
                    else {
                        oOrderSteps = [];
                    }
                    if (nIndex != -1) {
                        oOrderSteps[nIndex] = _oOrderStep;
                    }
                    else {
                        sessionStorage.setItem("SelectedRowIndex", oOrderSteps.length);
                        oOrderSteps.push(_oOrderStep);
                    }
                    sessionStorage.setItem("OrderSteps", JSON.stringify(oOrderSteps));
                    window.location.href = sessionStorage.getItem("BackLink");
                }
                else {
                    alert(_oOrderStep.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }


    function Close()
    {
        window.location.href = sessionStorage.getItem("BackLink");
    }
</script>
