@model IEnumerable<ESimSol.BusinessObjects.EmployeeType>
@{
    ViewBag.Title = "EmployeeTypes";
}

<div style="margin-left:0px;width:100%; height:100%">
    <table id="tblEmployeeTypes" title="EmployeeType List"  class="easyui-datagrid" style="width:100%; height:100%" fitColumns="false" rownumbers="true" pagination="fasle" singleSelect="true", autoRowHeight="false" toolbar="#toolbar">
        <thead>  
            <tr>
                <th field="Code" width="75"  align="left">Code</th>  
                <th field="Name" width="150" align="left">Name</th>
                <th field="Description" width="150" align="left">Description</th>
                <th field="Activity" width="150" align="left">Activity</th>
                <th field="EmpGroupingInStr" width="150" align="left">Type</th>
            </tr>  
        </thead> 
    </table>​ 
     <div id="toolbar"> 
         <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="AddEmployeeType()">New</a>
         <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="EditEmployeeType()">Edit</a>                
         <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-details" plain="true" onclick="ViewEmployeeType()">View</a>
         <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="Delete()">Delete</a>
         <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="ChangeActiveStatus()">Change Status</a>
         @*<a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="PickEmployeeTypes()" id="btnPickHolidays">Pick Employee Types</a>*@
     </div>  
</div>

<script type="text/javascript">

    var _oEmployeeTypes=[];
    var _sBaseAddress="";
    var _sEmployeeTypeHeader="";
    $(document).ready(function () {
        
        _oEmployeeTypes =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
      
        var oEmployeeTypes =sessionStorage.getItem("EmployeeTypes");
        _sEmployeeTypeHeader=sessionStorage.getItem("EmployeeTypeHeader");
        
        if(oEmployeeTypes!=null)
        {
            oEmployeeTypes = jQuery.parseJSON(oEmployeeTypes);
        }
        else
        {
            oEmployeeTypes=_oEmployeeTypes;
        }
        RefreshList(oEmployeeTypes);

        if(_sEmployeeTypeHeader == "New EmployeeType") {
            var oEmployeeTypes = $('#tblEmployeeTypes').datagrid('getRows');
            var nIndex = oEmployeeTypes.length-1;
            $('#tblEmployeeTypes').datagrid('selectRow', nIndex);
        }
        else if(_sEmployeeTypeHeader == "Edit EmployeeType" || _sEmployeeTypeHeader == "View EmployeeType") {
            var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
            $('#tblEmployeeTypes').datagrid('selectRow', nIndex);
        }

        sessionStorage.clear();
    });

    function AddEmployeeType()
    {
        var oEmployeeTypes= $('#tblEmployeeTypes').datagrid('getRows');
        sessionStorage.setItem("EmployeeTypes", JSON.stringify(oEmployeeTypes));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("EmployeeTypeHeader", "New EmployeeType");
        window.location.href = _sBaseAddress+ "/EmployeeType/ViewEmployeeType?sid=0&sMsg=N/A";
    }

    //function PickEmployeeTypes() {
    //    var oParameter = new Object();
    //    oParameter.Name = "Pick Holiday";
    //    var tsv = ((new Date()).getTime()) / 1000;
    //    var url = _sBaseAddress + "/EmployeeType/PickEmployeeType?ts=" + tsv;
    //    var oHoliday = window.showModalDialog(url, oParameter, 'dialogHeight:375px;dialogWidth:300px;dialogLeft:500;dialogTop:200;center:yes;resizable:no;status:no;scroll:no');
    //}

    function RefreshList(oEmployeeTypes) {
        data = oEmployeeTypes;
        data = { "total": "" + data.length + "", "rows": data };
        $('#tblEmployeeTypes').datagrid('loadData', data);
    }

    //function Add() {

    //    var oParameter = new Object();
    //    oParameter.Name = "Add EmployeeType";
    //    var tsv = ((new Date()).getTime()) / 1000;
    //    var url = _sBaseAddress + "/EmployeeType/ViewEmployeeType?id=0&ts=" + tsv;
    //    var nLeft=(window.screen.width/2)-(420/2);
    //    var nHeight=(window.screen.height/2)-(225/2);
    //    var oEmployeeType =window.showModalDialog(url, oParameter, 'dialogHeight:225px;dialogWidth:420px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
    //    //var oEmployeeType = window.showModalDialog(url, oParameter, 'dialogHeight:225px;dialogWidth:420px;dialogLeft:500;dialogTop:200;center:yes;resizable:no;status:no;scroll:no');
    //    if (oEmployeeType != null) {
    //        if (oEmployeeType.EmployeeTypeID > 0) {
    //            var oEmployeeTypes = $('#tblEmployeeType').datagrid('getRows');
    //            var nIndex = oEmployeeTypes.length;
    //            $('#tblEmployeeType').datagrid('appendRow', oEmployeeType);
    //            $('#tblEmployeeType').datagrid('selectRow', nIndex);
    //        }
    //    }
    //}

    //function Edit() {
    //    debugger;
    //    var oEmployeeType = $('#tblEmployeeType').datagrid('getSelected');
    //    if (oEmployeeType == null || oEmployeeType.EmployeeTypeID <= 0) {
    //        alert("Please select an item from list!");
    //        return;
    //    }
    //    var SelectedRowIndex = $('#tblEmployeeType').datagrid('getRowIndex', oEmployeeType);
    //    var oParameter = new Object();
    //    oParameter.Name = "Edit EmployeeType";
    //    var tsv = ((new Date()).getTime()) / 1000;
    //    var url = _sBaseAddress + "/EmployeeType/ViewEmployeeType?id=" + oEmployeeType.EmployeeTypeID + "&ts=" + tsv;
    //    var nLeft=(window.screen.width/2)-(420/2);
    //    var nHeight=(window.screen.height/2)-(245/2);
    //    oEmployeeType  = window.showModalDialog(url, oParameter, 'dialogHeight:245px;dialogWidth:420px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
    //    //oEmployeeType = window.showModalDialog(url, oParameter, 'dialogHeight:245;dialogWidth:420px;dialogLeft:500;dialogTop:200;center:yes;resizable:no;status:no;scroll:no');

    //    debugger;
    //    if (oEmployeeType != null) {
    //        if (oEmployeeType.EmployeeTypeID > 0) {

    //            $('#tblEmployeeType').datagrid('updateRow', { index: SelectedRowIndex, row: oEmployeeType });
    //        }
    //    }
    //}

    function EditEmployeeType()
    {
        var oEmployeeType = $('#tblEmployeeTypes').datagrid('getSelected');
        if (oEmployeeType == null || oEmployeeType.EmployeeTypeID <= 0) {
            alert("Please select an item from list!");
            return;
        }
        var SelectedRowIndex = $('#tblEmployeeTypes').datagrid('getRowIndex', oEmployeeType);
        var oEmployeeTypes= $('#tblEmployeeTypes').datagrid('getRows');
        sessionStorage.setItem("EmployeeTypes", JSON.stringify(oEmployeeTypes));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("EmployeeTypeHeader", "Edit EmployeeType");
        window.location.href = _sBaseAddress+ "/Employeetype/ViewEmployeeType?sid="+oEmployeeType.EncryptEmpTypeID+"&sMsg=N/A";
    }

    function Delete() {
        debugger;
        var oEmployeeType = $('#tblEmployeeTypes').datagrid('getSelected');
        if (!confirm("Confirm to Delete?")) return;

        if (oEmployeeType == null || oEmployeeType.EmployeeTypeID <= 0) {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        var SelectedRowIndex = $('#tblEmployeeTypes').datagrid('getRowIndex', oEmployeeType);

        if (oEmployeeType.EmployeeTypeID > 0) {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: _sBaseAddress + "/EmployeeType/Delete",
                data: { id: oEmployeeType.EmployeeTypeID },
                contentType: "application/json; charset=utf-8",
                success: function(data) {
                    debugger;
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Data delete successfully") {
                        alert("Delete sucessfully");
                        $('#tblEmployeeTypes').datagrid('deleteRow', SelectedRowIndex);

                    } else {
                        alert(feedbackmessage);
                    }
                },
                error: function(xhr, status, error) {
                    alert(error);
                }
            });
        }
    }

    //function Details() {
    //    debugger;
    //    var oEmployeeType = $('#tblEmployeeType').datagrid('getSelected');
    //    if (oEmployeeType == null || oEmployeeType.EmployeeTypeID <= 0) {
    //        alert("Please select a item from list!");
    //        return;
    //    }
    //    var oParameter = new Object();
    //    oParameter.Name = "View EmployeeType";
    //    var tsv = ((new Date()).getTime()) / 1000;
    //    var url = _sBaseAddress + "/EmployeeType/ViewEmployeeType?id=" + oEmployeeType.EmployeeTypeID + "&ts=" + tsv;
    //    var nLeft=(window.screen.width/2)-(420/2);
    //    var nHeight=(window.screen.height/2)-(245/2);
    //    oEmployeeType  = window.showModalDialog(url, oParameter, 'dialogHeight:245px;dialogWidth:420px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
    //    //oEmployeeType = window.showModalDialog(url, oParameter, 'dialogHeight:245px;dialogWidth:420px;dialogLeft:500;dialogTop:200;center:yes;resizable:no;status:no;scroll:no');
    //}

    function ViewEmployeeType()
    {
        var oEmployeeType = $('#tblEmployeeTypes').datagrid('getSelected');
        if (oEmployeeType == null || oEmployeeType.EmployeeTypeID <= 0) {
            alert("Please select an item from list!");
            return;
        }
        var SelectedRowIndex = $('#tblEmployeeTypes').datagrid('getRowIndex', oEmployeeType);
        var oEmployeeTypes= $('#tblEmployeeTypes').datagrid('getRows');
        sessionStorage.setItem("EmployeeTypes", JSON.stringify(oEmployeeTypes));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("EmployeeTypeHeader", "View EmployeeType");
        window.location.href = _sBaseAddress+ "/Employeetype/ViewEmployeeType?sid="+oEmployeeType.EncryptEmpTypeID+"&sMsg=N/A";
    }

    function ChangeActiveStatus() {
        debugger;
        var oEmployeeType = $('#tblEmployeeTypes').datagrid('getSelected');
        if (oEmployeeType == null || oEmployeeType.EmployeeTypeID <= 0) {
            alert("Please select an item from list!");
            return;
        }
        var SelectedRowIndex = $('#tblEmployeeTypes').datagrid('getRowIndex', oEmployeeType);
        if (oEmployeeType.IsActive == true) {
            oEmployeeType.IsActive = false;
        } else {
            oEmployeeType.IsActive = true;
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/EmployeeType/ChangeActiveStatus",
            traditional: true,
            data: JSON.stringify(oEmployeeType),
            contentType: "application/json; charset=utf-8",

            success: function(data) {
                debugger;
                oEmployeeType = jQuery.parseJSON(data);
                if (oEmployeeType.EmployeeTypeID > 0) {
                    alert("Data Saved sucessfully");
                    $('#tblEmployeeTypes').datagrid('updateRow', { index: SelectedRowIndex, row: oEmployeeType });

                } else {
                    alert(oEmployeeType.ErrorMessage);
                }
            },
            error: function(xhr, status, error) {
                alert(error);
            }
        });

        //if (oEmployeeType != null) {
        //    if (oEmployeeType.EmployeeTypeID > 0) {

        //        $('#tblEmployeeTypes').datagrid('updateRow', { index: SelectedRowIndex, row: oEmployeeType });
        //    }
        //}
    }
</script>