<html>


@model IEnumerable<ESimSol.BusinessObjects.ImportInvoiceIBP>
@{
    ViewBag.Title = "Import Bill Payable(IBP) report";
}
</html>

<div class="easyui-tabs" data-options="tools:'#tab-tools'" style="width:100%;height:100%">


    <div title="Graphical View">
        <div style="height:543px;">
            <div id="flot-placeholder" style="width:90%;height:400px;margin:0 auto; margin-top:50px"></div>
            <div id="divGraphName" style="width:90%;margin:0 auto; margin-top:10px; text-align:center; font-weight:bold; color:Blue">Import Bill Payable(IBP)</div>
        </div>
    </div>

    <div title="Tabel View">
        <div style="height:543px">
            <table id="tblImportInvoiceIBPSummary" title="Import Bill Payable(IBP) List" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarOne">
                <thead>
                    <tr>
                        <th field="DateofMaturityForGraph" width="48%">Month </th>
                        <th field="AmountST" align="right" width="48%">Amount</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbarOne" style="height: auto;">
                <table style="width: 100%;">
                    <tr>
                        <td>
                            
                                <table style="width: 100%;">
                                    <tr>
                                        <td style="text-align: left; font-size: 12px">
                                            <a id="btnPrintTwo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                                        </td>

                                    </tr>
                                  
                                </table>
                           
                        </td>

                    </tr>

                </table>
            </div>
        </div>
    </div>


    <div title="Report View" style="font-family:Tahoma;margin-left: 0px; height: 100%; width:100%">

        <table id="tblImportInvoiceIBP" title=" Report List" class="easyui-datagrid" fit="true" rownumbers="true" pagination="true" singleselect="true" , autorowheight="false" toolbar="#toolbar">

            <thead>
                <tr>
                    <th field="BankName" width="160px">Issuing Bank</th>
                    <th field="ImportLCNo" width="120px">L/C No</th>
                    <th field="Amount_LC" width="100px" align="right" formatter="formatPrice">L/C Amount</th>
                    <th field="ImportLCDateSt" width="120px">L/C Date</th>
                    <th field="ContractorName" width="200px">Supplier Name</th>
                    <th field="BUName" width="200px">Name of Drawer</th>
                    <th field="ABPNo" width="120px">Bank Ref No</th>
                    <th field="Tenor" width="120px">Tenor Of Bill</th>
                    <th field="DateofAcceptanceSt" width="200px">Date of Accept.</th>
                    <th field="DateofMaturityST" width="100px" align="right">Date of Maturity</th>
                    <th field="AmountST" width="100px" align="right">Amount</th>
                    <th field="CurrencyName" width="100px" align="left">Currency</th>
                    <th field="CCRate" width="100px" align="left">Rate</th>
                    <th field="AmountBCSt" width="100px" align="left">Amount</th>
                    

                </tr>
            </thead>
        </table>
        <div id="toolbar" style="height: auto;">
            <table style="width: 100%;">
                <tr>
                    <td>
                        <fieldset>
                            <legend style="font-weight:bold">Searching criteria </legend>
                            <table style="width: 100%;">
                                <tr>

                                    <td style="width: 350px; text-align: left; font-size: 12px">
                                        <table border="0" style="font-size: 12px">
                                            <tr>
                                                <td style="width: 100px; font-size: 12px; text-align: left">
                                                    Maturity Date
                                                </td>
                                                <td style="width: 100px; font-size: 12px; text-align: left">
                                                    <select id="cboDateSearch" style="width:100px;font-size:12px;" class="_select_changeA" />
                                                </td>
                                                <td style="width: 110px; font-size: 12px">
                                                    <input id="txtStartDate" type="text" style="width: 110px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                </td>
                                                <td style="width: 9px; font-size: 12px" id="tdSearchStartDate">
                                                    To
                                                </td>
                                                <td style="width: 110px; font-size: 12px" id="tdSearchEndDate">
                                                    <input id="txtEndDate" type="text" style="width: 110px;" class="easyui-datebox"
                                                           required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                </td>
                                            </tr>
                                        </table>
                                    </td>

                                    @*<td style="width:850px; text-align: left; font-size: 12px">
                                        <input type="text" style="width: 180px; float: left;" id="txtBankName" placeholder="Type Name then press enter" />

                                        <div style=" float:left; padding-left:10px; "><input type="button" value="Pick" onclick="PickBankAdvice()" /></div>
                                        <div style=" float:left; padding-left:10px; "><input type="button" value="Reset" onclick="ResetBankAdvice()" style="display:none;" /></div>
                                    </td>*@
                                    <td style="text-align: left; font-size: 12px">
                                        <label id="lblInfo"></label>
                                        <a id="btnSrc" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="Search()">Search</a>
                                        <label id="lblInfo"></label>
                                        <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="Print()">Preview</a>
                                        @*<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="PrintExcel()">Export Excel</a>*@
                                    </td>

                                </tr>
                                <tr>
                                    <td colspan="2" style="text-align: left; font-size: 12px">
                                        @*<input type="text" id="txtSearchbyTT" placeholder="L/C No" style="width:200px" />*@
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                    @*<td>
                        <fieldset>
                            <legend style="font-weight:bold">Search </legend>
                            <table style="width: 20%;">
                                <tr>

                                    <td style="text-align: left; font-size: 12px">
                                        <label id="lblInfo"></label>
                                        <a id="btnSrc" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="Search()">Search</a>
                                        <label id="lblInfo"></label>
                                        <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="Print()">Print</a>
                                        @*<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="PrintExcel()">Export Excel</a>
                                    </td>
                                    <td style="text-align: left; font-size: 12px"></td>
                                </tr>

                            </table>
                        </fieldset>
                    </td>*@
                </tr>

            </table>
        </div>
    </div>
</div>
<div id="tab-tools">
    <select id="cboBank" style="width:150px; height:25px"> </select>
    <select id="cboYear" style="width:150px; height:25px"> </select>
    <a id="btnAdvanceSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="AdvanceSearch()">Search</a>
</div>
    <script type="text/javascript">
    var _sBaseAddress="";
    var _oSelectedContractors  =[];
    var _nContractorID ="";
    var _SelectedBankBranchIDs  = '';
    var _oImportInvoiceIBPs=[];
    var _oImportInvoiceIBPs_Chart=[];
    var _oGraphData=[];
    var _oGraphDataSet=[];
    var _oGraphData=[];
    var _oGraphTicks=[];
    var _somePlot = null;
    var _nBUID=0;
    $(document).ready(function () {
        debugger;
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oImportInvoiceIBPs=@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
            _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
            RefreshList(_oImportInvoiceIBPs)
            RefreshDateSearch();
            LoadYear();
            LoadBank();
        });

        function LoadYear()
        {
            $('#cboYear').empty();
            var listYears= "<option value='"+0+"'>" +"--Select year--" + "</option>";
            var dCurrentDate = new Date();
            var nCurrentYear = dCurrentDate.getFullYear();
            var nCurrentYear=nCurrentYear-5;
            var nTotalYear=nCurrentYear+10;

            for (var i = nCurrentYear; i<nTotalYear; i++)
            {
                listYears+= "<option value='" +i.toFixed()+ "'>" + i.toFixed()+ "</option>";
            }
            $("#cboYear").html(listYears);
        }


        function LoadBank()
        {

            var listItems="";
            listItems += "<option value=0>" +"--No Bank--" +"</option>";
            for (i = 0; i < _oImportInvoiceIBPs[0].BankBranchs.length; i++)
            {
                listItems += "<option value='" + _oImportInvoiceIBPs[0].BankBranchs[i].BankBranchID+"'>" +_oImportInvoiceIBPs[0].BankBranchs[i].BankName+"</option>";
            }
            $("#cboBank").html(listItems);
        }


        function RefreshDateSearch()
        {
            debugger;
            document.getElementById("tdSearchStartDate").style.display = 'none';
            document.getElementById("tdSearchEndDate").style.display = 'none';
            $('#txtStartDate').datebox('setValue', icsdateformat(new Date()));
            $('#txtEndDate').datebox('setValue', icsdateformat(new Date()));
            $('#cboDateSearch').empty();
            var listDates= "<option value='"+0+"'>" +"None" + "</option>";
            listDates+= "<option value='"+1+"'>" + "EqualTo" + "</option>";
            listDates+= "<option value='"+5+"'>" + "Between" + "</option>";
            listDates+= "<option value='"+6+"'>" + "NotBetween" + "</option>";
            $("#cboDateSearch").html(listDates);


            $('#cboContractorType').empty();
            var listDates= "<option value='"+2+"'>" +"Buyer" + "</option>";
            listDates+= "<option value='"+1+"'>" + "Suplier" + "</option>";
            $("#cboContractorType").html(listDates);
        }



        $('._select_changeA').change(function ()
        {
            debugger;
            var DateTypes = document.getElementById("cboDateSearch");
            var DateType=DateTypes.options[DateTypes.selectedIndex].text;
            if (DateType == "EqualTo") {
                document.getElementById("txtStartDate").style.display = 'none';
                document.getElementById("txtEndDate").style.display = 'none';
                document.getElementById("tdSearchStartDate").style.display = 'none';
                document.getElementById("tdSearchEndDate").style.display = 'none';

            }
            if (DateType == "None" )
            {
                document.getElementById("txtStartDate").style.display = 'none';
                document.getElementById("txtEndDate").style.display = 'none';
                document.getElementById("tdSearchStartDate").style.display = 'none';
                document.getElementById("tdSearchEndDate").style.display = 'none';

            }
            if (DateType == "Between" ||DateType == "NotBetween"  )
            {
                document.getElementById("tdSearchStartDate").style.display = '';
                document.getElementById("tdSearchEndDate").style.display = '';
            }
        });

        function Search()
        {

            debugger;

            var Date = document.getElementById("cboDateSearch");
            var dDateType = Date.options[Date.selectedIndex].innerHTML;
            var sDateopen = $('#txtStartDate').datebox('getValue');
            var sDateclose = $('#txtEndDate').datebox('getValue');

            var oImportInvoiceIBP={

                SelectedOption:dDateType,
                DateofMaturity:sDateopen,
                DateofMaturityEnd:sDateclose,
                BankName:_SelectedBankBranchIDs,
                BUID:_nBUID
            };

            $.ajax({
                type: "POST",
                dataType: "json",
                url: '@Url.Action("GetsSearchedData", "ImportInvoiceIBP")',
            data: JSON.stringify({oImportInvoiceIBP:oImportInvoiceIBP}),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;

                _oImportInvoiceIBPs=[];
                _oImportInvoiceIBPs = jQuery.parseJSON(data);
                if (_oImportInvoiceIBPs != null) {
                    if(_oImportInvoiceIBPs.length>0)
                    {
                        RefreshList(_oImportInvoiceIBPs);
                    }
                    else
                    {
                        alert("Data not found!!");
                        _oImportInvoiceIBPs=[];
                        RefreshList(_oImportInvoiceIBPs);
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    function RefreshList(oImportInvoiceIBPs)
    {
        debugger;
        data =oImportInvoiceIBPs;
        data={"total":""+data.length+"","rows":data};
        $('#tblImportInvoiceIBP').datagrid('loadData',data);
    }


    function formatPrice(val,row){
        //debugger;

        if(val==null)
        {
            val=0.00;
        }
        val=parseFloat(val);
        var test = val.toFixed(2);
        var tests = addComma(test);
        return tests;
    }


    function addComma(nStr)
    {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var process = /(\d+)(\d{3})/;
        while (process.test(x1)) {
            x1 = x1.replace(process, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }




    function Print()
    {
        debugger;

        var Date = document.getElementById("cboDateSearch");
        var dDateType = Date.options[Date.selectedIndex].innerHTML;
        var sDateopen = $('#txtStartDate').datebox('getValue');
        var sDateclose = $('#txtEndDate').datebox('getValue');

        var sTempString="";
        sTempString=dDateType+'~'+sDateopen+'~'+sDateclose+'~'+_SelectedBankBranchIDs;

        window.open(_sBaseAddress+'/ImportInvoiceIBP/Print_Report?sTempString='+sTempString+'&BUID='+_nBUID, "_blank")
    }

    function PrintExcel()
    {

        var Date = document.getElementById("cboDateSearch");
        var dDateType = Date.options[Date.selectedIndex].innerHTML;
        var sDateopen = $('#txtStartDate').datebox('getValue');
        var sDateclose = $('#txtEndDate').datebox('getValue');

        var sTempString="";
        sTempString=dDateType+'~'+sDateopen+'~'+sDateclose+'~'+_SelectedBankBranchIDs;

        window.open(_sBaseAddress+'/ImportInvoiceIBP/PrintMaster_Report?sTempString='+sTempString, "_blank")
        window.open(_sBaseAddress+'/ImportInvoiceIBP/PrintMaster_ReportExcel?sTempString='+sTempString, "_blank");
    }



    $('#txtBankName').keypress(function (e) {
        //
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) {
            var   sBankName = document.getElementById('txtBankName').value;

            if(sBankName!="")
            {
                var tsv=((new Date()).getTime())/1000;
                var oParameter = new Object();
                oParameter.EnteredText=sBankName;
                var url = _sBaseAddress + "/BankBranch/ViewBankPickerByName?sName="+sBankName+"&nts="+tsv;
                var oBankBranch = window.showModalDialog(url, oParameter, 'dialogHeight:360px;dialogWidth:420px;dialogLeft:200;dialogTop:60;center:yes;resizable:no;status:no;scroll:no');
                if(oBankBranch !=null) {
                    if(parseInt(oBankBranch.BankBranchID)>0) {
                        sBankName=document.getElementById("txtBankName");
                        sBankName.value=oBankBranch.BankBranchName;
                        sBankName.style.color="blue";
                        sBankName.style.fontWeight="bold";
                        _SelectedBankBranchIDs =oBankBranch.BankBranchID;


                    }
                }
                else
                {
                    sBankName=document.getElementById("txtBankName");
                    sBankName.style.color="black";
                    sBankName.style.fontWeight="normal";
                    document.getElementById("txtBankName").value=  "";
                    _SelectedBankBranchIDs='';
                }

            }
        }
    });

    $('#txtBankName').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {

            var sBankName=document.getElementById("txtBankName");
            sBankName.style.color="black";
            sBankName.style.fontWeight="normal";
            document.getElementById("txtBankName").value=  "";
            _SelectedBankBranchIDs='';
        }
    });


    function PickBankAdvice()
    {
        var oParameter = new Object();
        oParameter.Name = "Bank Branch";
        var url = _sBaseAddress + "/BankBranch/ViewSearchBankBranch";
        var oBankBranch = window.showModalDialog(url, oParameter,'dialogHeight:450px;dialogWidth:750px;dialogLeft:400;dialogTop:160;center:yes;resizable:no;status:no;scroll:yes');
        if(oBankBranch!=null)
        {
            document.getElementById('txtBankAdvice').value= oBankBranch.BankName +'[ '+ oBankBranch.BranchName +' ]';
            _SelectedBankBranchIDs =oBankBranch.BankBranchID;
            //_nAdviseBankBranchID
            //_nAdviseBankBranchID=oBankBranch.BankBranchID;
        }
    }

    function AdvanceSearch()
    {
        debugger
        var cboYear=document.getElementById("cboYear");
        var nYearSelectedID=cboYear.options[cboYear.selectedIndex].value;
        var sYear=cboYear.options[cboYear.selectedIndex].text;

        var cboBank=document.getElementById("cboBank");
        var nBankBranchID=cboBank.options[cboBank.selectedIndex].value;

        if(parseInt(nYearSelectedID)==0)
        {
            alert("Please select Year");
            return;
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/ImportInvoiceIBP/GetsForGraph",
            traditional: true,
            data: JSON.stringify({sYear:sYear,nBankBranchID : nBankBranchID,  BUID:_nBUID}),
            contentType: "application/json; charset=utf-8",

            success: function (data) {
                debugger

                var oImportInvoiceIBP = jQuery.parseJSON(data);

                if (oImportInvoiceIBP.ErrorMessage == "" && oImportInvoiceIBP != null)
                {

                    _oImportInvoiceIBPs=[];
                    _oImportInvoiceIBPs_Chart = [];
                    //_oImportInvoiceIBPs = oImportInvoiceIBP.ImportInvoiceIBPs;
                    _oImportInvoiceIBPs_Chart = oImportInvoiceIBP.PIIBPs_ChartList;
                    PrepareDataGrid();

                    PrepareGraph(_oImportInvoiceIBPs_Chart);
                }
                else
                {
                    alert(oImportInvoiceIBP.ErrorMessage);
                    oImportInvoiceIBP = null;
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }

        });
    }

    function PrepareGraph(oMonthWiseSummery)
    {
        debugger
        _oGraphData=[];
        _oGraphTicks=[];
        var oDataPonint=[]; var x=0; var y=0;
        var oTickPonint=[]; var xx=0; var yy="";

        oDataPonint.push(0); //SEt Intital Y Axis
        oDataPonint.push(0)
        _oGraphData.push(oDataPonint);

        oTickPonint.push(0); //SEt Intital X Axis
        oTickPonint.push('')
        _oGraphTicks.push(oTickPonint);

        for(var i=0; i<oMonthWiseSummery.length; i++)
        {
            oDataPonint=[];
            x = i+1;
            y = oMonthWiseSummery[i].Amount;
            oDataPonint.push(x);
            oDataPonint.push(y)
            _oGraphData.push(oDataPonint);

            oTickPonint=[];
            xx = i+1;
            yy = oMonthWiseSummery[i].DateofMaturityForGraph.substring(0,3);
            oTickPonint.push(xx);
            oTickPonint.push(yy)
            _oGraphTicks.push(oTickPonint);
        }

        var oGraphOptions = {
            series: {
                bars: {
                    show: true
                }
            },

            bars: {
                align: "center",
                barWidth: 0.5
            },

            xaxis: {
                axisLabel: "Month",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: 'Verdana, Arial',
                axisLabelPadding: 10,
                ticks: _oGraphTicks

            },

            yaxis: {
                axisLabel: "Amount",
                axisLabelUseCanvas: true,
                axisLabelFontSizePixels: 12,
                axisLabelFontFamily: 'Verdana, Arial',
                axisLabelPadding: 3,
                tickFormatter: function (v, axis) {
                    return numberformat(v);
                }
            },

            legend: {
                noColumns: 0,
                labelBoxBorderColor: "#000000",
                position: "nw"
            },

            grid: {
                hoverable: true,
                borderWidth: 2,
                backgroundColor: { colors: ["#ffffff", "#EDF5FF"]
                }
            }
        };

        var cboYear=document.getElementById("cboYear");
        var sYear=cboYear.options[cboYear.selectedIndex].text;

        var cboBank=document.getElementById("cboBank");
        var sBankName = "";

        if(document.getElementById("cboBank").selectedIndex !=0)
        {
            sBankName="/"+cboBank.options[cboBank.selectedIndex].text;
        }

        _oGraphDataSet = [ { label: sYear+ " IBP Summery"+sBankName, data: _oGraphData, color: "#5482FF" }];
        _somePlot = $.plot($("#flot-placeholder"), _oGraphDataSet, oGraphOptions);

        $.plot($("#flot-placeholder"), _oGraphDataSet, oGraphOptions);
        $("#flot-placeholder").UseTooltip();
        document.getElementById("divGraphName").innerHTML="Fig : "+ sYear+ " Import Bill Payable(IBP) Summery (Month vs Amount"+sBankName+")"

        SetPoint();
    }

    function SetPoint()
    {
        debugger;
        var ctx = _somePlot.getCanvas().getContext("2d");
        var data = _somePlot.getData()[0].data;
        var xaxis = _somePlot.getXAxes()[0];
        var yaxis = _somePlot.getYAxes()[0];
        var offset = _somePlot.getPlotOffset();
        ctx.font = "13px 'Tahoma'";
        ctx.fillStyle = "Blue";


        for (var i = 0; i <data.length; i++){
            var text = formatPrice(data[i][1])+ '';
            var metrics = ctx.measureText(text);
            var xPos = (xaxis.p2c(data[i][0])+offset.left) - metrics.width/2;
            var yPos = yaxis.p2c(data[i][1]) + offset.top - 5;
            ctx.fillText(text, xPos, yPos);

        }
    }

    function gd(year, month, day) {
        return new Date(year, month, day).getTime();
    }

    var previousPoint = null, previousLabel = null;

    $.fn.UseTooltip = function () {
        $(this).bind("plothover", function (event, pos, item) {
            if (item) {
                if ((previousLabel != item.series.label) || (previousPoint != item.dataIndex)) {
                    previousPoint = item.dataIndex;
                    previousLabel = item.series.label;
                    $("#tooltip").remove();

                    var x = item.datapoint[0];
                    var y = item.datapoint[1];

                    var color = item.series.color;

                    //console.log(item.series.xaxis.ticks[x].label);

                    showTooltip(item.pageX,
                        item.pageY,
                        color,
                        "<strong>" + item.series.label + "</strong><br>" + item.series.xaxis.ticks[x].label + " : <strong>" + numberformat(y) + "</strong>");
                }
            } else {
                $("#tooltip").remove();
                previousPoint = null;
            }
        });
    };

    function showTooltip(x, y, color, contents) {
        $('<div id="tooltip">' + contents + '</div>').css({
            position: 'absolute',
            display: 'none',
            top: y - 40,
            left: x - 120,
            border: '2px solid ' + color,
            padding: '3px',
            'font-size': '9px',
            'border-radius': '5px',
            'background-color': '#fff',
            'font-family': 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
            opacity: 0.9
        }).appendTo("body").fadeIn(200);
    }

    function numberformat(val) {
        if (val == null) {
            val = 0;
        }
        val = parseFloat(val);
        var test = val.toFixed();
        var tests = addComma(test);
        return tests;
    }

    function addComma(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var process = /(\d+)(\d{3})/;
        while (process.test(x1)) {
            x1 = x1.replace(process, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }

    function PrepareDataGrid()
    {
        //debugger;
        $('#tblImportInvoiceIBPSummary').datagrid({
            data:_oImportInvoiceIBPs_Chart,
            view: detailview,
            detailFormatter:function(index,row){
                return '<div style="padding:2px;width:100%"><table id="tblMonthWise" class="ddv" ></table></div>';
            },
            onExpandRow: function(index,row){
                var ddv = $(this).datagrid('getRowDetail',index).find('table.ddv');
                ddv.datagrid({
                    data:row.ImportInvoiceIBPs,
                    fitColumns:true,
                    singleSelect:true,
                    rownumbers:true,
                    loadMsg:'',
                    height:'auto',
                    columns:[[
                        {field:'BankName',title:'Bank Name',width:150},
                        {field:'ImportLCNo',title:'LCNo',width:100},
                        //{field:'ShipmentCountInString',title:'Count', formatter:function(value,row,index){ return formatlabel(value, true); },width:50,align:'right'},
                        {field:'ImportInvoiceNo',title:'Invoice No',width:100},
                        {field:'ContractorName',title:'Supplier Name',width:150},
                        {field:'AmountST',title:'Amount',width:100,align:'right'},
                        {field:'DateofMaturityST',title:'Date Of Maturity',width:100},
                        {field:'BankStatusSt',title:'Status',width:80}

                    ]],
                    onResize:function(){
                        $('#tblImportInvoiceIBPSummary').datagrid('fixDetailRowHeight',index);
                    },
                    onLoadSuccess:function(){
                        setTimeout(function(){
                            $('#tblImportInvoiceIBPSummary').datagrid('fixDetailRowHeight',index);
                        },0);
                    }
                });
                $('#tblImportInvoiceIBPSummary').datagrid('fixDetailRowHeight',index);
            }
        });
    }

    $('#btnPrintTwo').click(function (e)
    {
        var oImportIBP = $("#tblImportInvoiceIBPSummary").datagrid("getSelected");
      
      
        var dDateType ="Between";
        var sTempString="";
        sTempString=dDateType+'~'+oImportIBP.DateofMaturityST+'~'+oImportIBP.DateofMaturityST+'~'+_SelectedBankBranchIDs;
        window.open(_sBaseAddress+'/ImportInvoiceIBP/Print_Report_Month?sTempString='+sTempString+'&BUID='+_nBUID, "_blank")

    });

    </script>


