@model IEnumerable<ESimSol.BusinessObjects.AttendanceMonitoring>
@{
    ViewBag.Title = "Attendance Monitorings";
}
<div style="margin-left: 0px; height: 550px" class="menuMainCollectionTable">

    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>

    <table id="tblAttendanceMonitoring" title="Attendance List" class="easyui-datagrid" style="width: 100%;
    height: 548px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true"
            autorowheight="false" toolbar="#toolbar">
        <thead>
            <tr>
                <th field="DesignationName" width="150" align="left">
                    Designation
                </th>
                <th field="ShiftName" width="150" align="left">
                    Shift
                </th>
                <th field="Required" width="75" align="right">
                    Required
                </th>
                <th field="Exists" width="75" align="right">
                    Exists
                </th>
                <th field="Present" width="75" align="right">
                    Present
                </th>
                <th field="Absent" width="75" align="right">
                    Absent
                </th>
                <th field="DayOff" width="75" align="right">
                    Day Off
                </th>
                <th field="Leave" width="75" align="right">
                    Leave
                </th>
            </tr>
        </thead>
    </table>

    <div id="toolbar" style=" height:auto;">
        @*BU : <input id="cboBU_Collection" class="easyui-combobox" style="width:auto;">*@
        <input id="txtBusinessUnit_Collection" type="text" style="width:13%;" placeholder="Pick Business Unit" />
        <a id="btnBusinessUnitPicker_Collection" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-pick"></a>
        <a id="btnResetBusinessUnitPicker_Collection" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-clear"></a>

        <input id="txtLocation_Colection" style="width:13%;" placeholder="Pick Location" type="text" />
        <a id="btnLocationPicker_Colection" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-pick"></a>
        <a id="btnResetLocationPicker_Colection" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-clear"></a>
        
        <input id="txtDepartment" style="width:13%;" type="text" placeholder="Pick Department" />
        <a id="btnDepartmentPicker" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-pick"></a>
        <a id="btnResetDepartmentPicker" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-clear"></a>

        <input id="txtDesignation" type="text" style="width:13%;" placeholder="Pick Designation" />
        <a id="btnDesignationPicker" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-pick"></a>
        <a id="btnResetDesignationPicker" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-clear"></a>

        <input id="txtShift" type="text" style="width:13%;" placeholder="Pick Shift" />
        <a id="btnShift" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-pick"></a>
        <a id="btnResetShift" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-clear"></a>

        <br /> 
        <input id="txtEmployeeGroup" style="width:160px;" type="text" placeholder="Enter Group" />
        <a id="btnEmployeeGroupPicker" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-pick" />
        <a id="btnEmployeeGroupPickerReset" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-clear"></a>


        <input id="txtEmployeeBlock" style="width:160px;" type="text" placeholder="Enter Block" />
        <a id="btnEmployeeBlockPicker" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-pick" />
        <a id="btnEmployeeBlockPickerReset" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-clear"></a>

        @*<input id="txtBlock" type="text" style="width:13%;" placeholder="Pick Block" />
        <a id="btnBlock" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-pick"></a>
        <a id="btnResetBlock" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-clear"></a>*@

        @*<select id="cboShift" style="width:120px;"></select>*@     
        
        @*<span id="regionDateFrom">
            <span>
                <select id="cboYear"></select>
            </span>
            <span>
                <select id="cboMonth"></select>
            </span>
            <span>
                <select id="cboDay"></select>
            </span>
        </span>*@
        <input id="dtDate" type="text" style="width: 125px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
        <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
        <select id="cboPrintType">
            <option value="1">Attendance Monitoring</option>
            <option value="2">Attendance Monitoring(LINE)</option>
            <option value="3">Attendance Monitoring(Dept. Sec.)</option>
            <option value="4">Attendance Monitoring(F2)</option>
        </select>
        <a id="btnAttendanceMonotoring" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true"></a>
        <a id="btnAttendanceMonotoring_Block_XL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true"></a>
    </div>

    <div id="winLocationPicker" class="easyui-window winstyle" title="Location Picker" style="width:350px; height:400px" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="font-family:Tahoma">
            <div class="easyui-panel" style="width:335px;height:300px;overflow:auto">
                <ul id="locationtree" data-options="checkbox:true" singleselect="false"></ul>
            </div>

            <fieldset>
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:400px; text-align:right"></td>

                        <td style="width:50px">
                            <a id="btnLocationPickerOk" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="OkButtonClick()">Ok</a>
                        </td>
                        <td style="width:50px">
                            <a id="btnLocationPickerClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>

    <div id="winDepartmentPicker" class="easyui-window winstyle" title="Department Picker" style="width:350px; height:400px" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="font-family:Tahoma">
            <div class="easyui-panel" style="width:335px;height:300px;overflow:auto">
                <ul id="departmenttree" data-options="checkbox:true" singleselect="false"></ul>
            </div>
            <fieldset>
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:400px; text-align:right"></td>

                        <td style="width:50px">
                            <a id="btnDepartmentPickerOk" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
                        </td>
                        <td style="width:50px">
                            <a id="btnDepartmentPickerClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</div>

<script type="text/javascript">

var _oAttendanceMonitorings=[];
var _sBaseAddress="";
var _nShiftID = 0;
var _sDepartmentNames = "";
var _sDepartmentIds = "";
var _sDesignationNames = "";
var _sDesignationIds = "";
var _sShiftNames = "";
var _sShiftIds = "";

var _sLocationID="";
var _oBusinessUnits=[];
var _sBusinessUnitIds="";
var _sBlockNames="";
var _sBlockIDs="";
var _sGroupNames="";
var _sGroupIDs="";

$(document).ready(function () 
{
    _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));  
    _oAttendanceMonitorings =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 
    _oBusinessUnits=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
        
    RefreshoAttendanceMonitoring(_oAttendanceMonitorings);

    //SetDateTime();
    //var oDate=new Date();
    //SetStartTime(oDate);

    $('#btnAttendanceMonotoring_Block_XL').hide();
    $('#dtDate').datebox('setValue',icsdateformat(new Date()));
    //LoadBU();

    $("#progressbar").progressbar({ value: 0 });
    $("#progressbarParent").hide();
});

    function updateProgress() 
    {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96)
        {
            value += Math.floor(Math.random() * 5);
            $('#progressbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) 
    {
        $("#progressbarParent").hide();
    }

//function LoadBU()
//{
//    $('#cboBU_Collection').combobox({
//        data:_oBusinessUnits,
//        valueField:'BusinessUnitID',
//        textField:'Name',
//        multiple:true
//    });
//    $('#cboBU_Collection').combobox('setValue',  _oBusinessUnits.length>0?_oBusinessUnits[0].BusinessUnitID:0);
//}

//sagor datetime start

function SetDateTime()
{
    var oDate=new Date();
    oDate.setFullYear(2014);
    /*---------------------------------------- Start Set Year-------------------------------------------*/
    var sYear="";
    sYear +="<option value='0'>"+'Year'+"</option>";
    for(var i=0; i<=10; i++)
    {
        sYear += "<option value='" + (parseInt(oDate.getFullYear()) + parseInt(i)) +"'>" + (parseInt(oDate.getFullYear()) + parseInt(i)) +"</option>";
    }
    $('#cboYear').html(sYear);
    
    /*---------------------------------------- End Set Year-------------------------------------------*/


    /*---------------------------------------- Start Set Month-------------------------------------------*/
    var sMonth="";
    var oMonths=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
    sMonth +="<option value='0'>"+'Month'+"</option>";
    for(var i=0; i<oMonths.length; i++)
    {
        sMonth += "<option value='" +(parseInt(i)+1)+"'>" + oMonths[i] +"</option>";
    }
    $('#cboMonth').html(sMonth);
    
    /*---------------------------------------- End Set Month-------------------------------------------*/


    /*---------------------------------------- Start Set Date-------------------------------------------*/
    var sDay ="<option value='0'>"+'Day'+"</option>";
    $('#cboDay').html(sDay);
    
    /*---------------------------------------- End Set Date-------------------------------------------*/
}

$('#cboYear').change(function(e)
{
    var nYear=$('#cboYear').val();
    var nMonth=$('#cboMonth').val();
    if(nYear>0 && nMonth>0)
    {
        $('#cboDay').html(SetDateEvent(nYear, nMonth));
    }

});


$('#cboMonth').change(function(e)
{
    var nYear=$('#cboYear').val();
    var nMonth=$('#cboMonth').val();
    if(nYear>0 && nMonth>0)
    {
        $('#cboDay').html(SetDateEvent(nYear, nMonth));
    }

});

function SetDateEvent(nYear, nMonth)
{

    var oDate=new Date();
    var sDay="";
    if( parseInt(nMonth)>0)
    {
        var nDay= new Date(parseInt(nYear), parseInt(nMonth), 0).getDate();
        sDay +="<option value='0'>"+'Day'+"</option>";
        for(var i=1; i<=parseInt(nDay); i++)
        {
            if(i<10)
            {
                sDay += "<option value='" +i+"'>" + '0'+i +"</option>";
            }
            else
            {
                sDay += "<option value='" +i+"'>" + i +"</option>";
            }
            
        }
    }
    return sDay;
}

function SetStartTime(oDate)
{
      
    var nyear=oDate.getFullYear();
    var nmonth=oDate.getMonth()+1;
    var nday=oDate.getDate();
    $('#cboYear').val(nyear);
    $('#cboMonth').val(nmonth); 
    $('#cboDay').html(SetDateEvent(nyear,nmonth)); 
    $('#cboDay').val(nday); 
}


function GenerateStartTimeInString()
{
    var sDate=  $('#cboMonth').val() +'/'+ $('#cboDay').val() +'/'+ $('#cboYear').val();
    return sDate;
}

function ValidationOfStartTime()
{
    if($('#cboYear').val()==0)
    {
        alert("Please select a year.");
        document.getElementById('cboYear').focus();
        return false;
    }
    if($('#cboMonth').val()==0)
    {
        alert("Please select a month.");
        document.getElementById('cboMonth').focus();
        return false;
    }
    if($('#cboDay').val()==0)
    {
        alert("Please select a day.");
        document.getElementById('cboDay').focus();
        return false;
    }
    return true;
}

//sagor datetime end

function RefreshoAttendanceMonitoring(oAMRows)
{
    data={"total":""+oAMRows.length+"","rows":oAMRows};
    $('#tblAttendanceMonitoring').datagrid('loadData',data);

    if(oAMRows.length>0)
    {
        var nTotalRequired = 0;
        var nTotalExist = 0;
        var nTotalPresent = 0;
        var nTotalAbsent = 0;
        var nTotalDayOff = 0;
        var nTotalLeave = 0;

        for(var i=0;i<oAMRows.length;i++)
        {
            nTotalRequired = parseFloat(nTotalRequired)+parseFloat(oAMRows[i].Required);
            nTotalExist = parseFloat(nTotalExist)+parseFloat(oAMRows[i].Exists);
            nTotalPresent = parseFloat(nTotalPresent)+parseFloat(oAMRows[i].Present);
            nTotalAbsent = parseFloat(nTotalAbsent)+parseFloat(oAMRows[i].Absent);
            nTotalDayOff = parseFloat(nTotalDayOff)+parseFloat(oAMRows[i].DayOff);
            nTotalLeave = parseFloat(nTotalLeave)+parseFloat(oAMRows[i].Leave);
        }

        var oAttendanceMonitoring =
        {
             ShiftName : '<b>Total</b>',
             Required : '<b>'+nTotalRequired+'</b>',
             Exists : '<b>'+nTotalExist+'</b>',
             Present : '<b>'+nTotalPresent+'</b>',
             Absent : '<b>'+nTotalAbsent+'</b>',
             DayOff : '<b>'+nTotalDayOff+'</b>',
             Leave : '<b>'+nTotalLeave+'</b>'
             //Leave : '<b>'+nTotalLeave.toFixed(2)+'</b>'
        }

        $('#tblAttendanceMonitoring').datagrid('appendRow',oAttendanceMonitoring); 
     } 
}

function ShiftLoad()
{
    $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/HRMShift/GetShiftByDepartment",
            traditional: true,
            data: JSON.stringify({sDepartmentIDs : _sDepartmentIds}),
            contentType: "application/json; charset=utf-8",
            
            success: function(data)
            {
                var oShifts=[];
                oShifts = jQuery.parseJSON(data);
                if (oShifts.length>0 && oShifts[0].ErrorMessage=="") 
                {
                     var list="<option value='"+0+"'>" +"--Select Shift--" + "</option>";
                   
                     for (var j = 0; j < oShifts.length; j++) 
                     {
                        list += "<option value='" + oShifts[j].ShiftID+"'>" + oShifts[j].ShiftWithDuration+"</option>";
                     }
                     $("#cboShift").html(list);  
                } 
                else 
                {
                    alert(oShifts[0].ErrorMessage);
                }
            },
            error: function(xhr, status, error)
            {
                alert(error);
            }    
         });
}

$('#btnSearch').click(function (e)
{
    //var sBUnit=$('#cboBU_Collection').combobox('getValues');
    //var nShiftID = document.getElementById('cboShift').value;
    //if(nShiftID== null || nShiftID<=0){nShiftID=0;}
    //if(!ValidationOfStartTime()) return;
    var dDate = $('#dtDate').datebox('getValue');
    var tsv = ((new Date()).getTime()) / 1000;

    if(_sBusinessUnitIds=="" && _sLocationID == "" && _sDepartmentIds == ""  && _sDesignationIds == "" && _sShiftIds =="" && _sBlockIDs =="" && _sGroupIDs =="" )
    {
        alert("Please enter at least one searching criteria with date!");
        return ;
    }
    $("#progressbar").progressbar({ value: 0 });
    $("#progressbarParent").show();
    var intervalID = setInterval(updateProgress, 250);
    $.ajax({
        type: "GET",
        dataType: "json",
        url: '@Url.Action("AttendanceMonitoringSearch", "AttendanceReport")',
        data: ({sBUnit:_sBusinessUnitIds,sLocationID:_sLocationID,sDepartmentIDs : _sDepartmentIds,sDesignationIDs :_sDesignationIds , sShiftIds :_sShiftIds,sBlockIDs:_sBlockIDs, sGroupIDs:_sGroupIDs, dDate: dDate, nts : tsv}),
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            var oAttendanceMonitorings = [];
            oAttendanceMonitorings = jQuery.parseJSON(data);
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            
            if(oAttendanceMonitorings.length>0 && oAttendanceMonitorings[0].ErrorMessage == "")
            {
                RefreshoAttendanceMonitoring(oAttendanceMonitorings);
            }
            else
            {
                alert(oAttendanceMonitorings[0].ErrorMessage);
                oAttendanceMonitorings = [];
                RefreshoAttendanceMonitoring(oAttendanceMonitorings);
            }              
        },
        error: function (xhr, status, error) 
        {
            alert(error);
        }
    });
});

$('#btnAttendanceMonotoring,#btnAttendanceMonotoring_Block_XL').click(function (e)
{
    //if(_sDepartmentIds == "")
    //{
    //    alert("Please pick a department !");
    //    return ;
    //}
    var nPType=$("#cboPrintType").val();
    if(nPType==0)
    {
        alert("Please select one type!");
        return;
    }
    else if(nPType==1)
    {
        AttendanceMonitoring('PrintAttendanceMonitoring_Landscape');
    }
    else if(nPType==2)
    {
        if(this.id=="btnAttendanceMonotoring")
        {AttendanceMonitoring('PrintAttendanceMonitoring_LINE');}
        else
        {AttendanceMonitoring('PrintAttendanceMonitoring_LINE_XL');}
    }
    else if(nPType==3)
    {
        AttendanceMonitoring('PrintAttendanceMonitoring_DeptSec_XL');
    }
    else if(nPType==4)
    {AttendanceMonitoring('PrintAttendanceMonitoring_F2');}
});

$('#cboPrintType').change(function (e)
{
    var nPType=$("#cboPrintType").val();
    if(nPType==1)
    {
        $('#btnAttendanceMonotoring_Block_XL').hide();
        $('#btnAttendanceMonotoring').show();
    }
    else if(nPType==2)
    {
        $('#btnAttendanceMonotoring_Block_XL').show();
        $('#btnAttendanceMonotoring').show();
    }
    else if(nPType==3)
    {
        $('#btnAttendanceMonotoring_Block_XL').show();
        $('#btnAttendanceMonotoring').hide();
    }
    else if(nPType==4)
    {
        $('#btnAttendanceMonotoring_Block_XL').hide();
        $('#btnAttendanceMonotoring').show();
    }
});

function AttendanceMonitoring(sAction)
{
    //if(!ValidationOfStartTime()) return;
    //var dDate = icsdateformat(new Date(GenerateStartTimeInString()));
    //var tsv = ((new Date()).getTime()) / 1000;
    //var nShiftID = document.getElementById('cboShift').value;

    //var sBUnit=$('#cboBU_Collection').combobox('getValues');
    //var nShiftID = document.getElementById('cboShift').value;
    //if(nShiftID== null || nShiftID<=0){nShiftID=0;}
    //if(!ValidationOfStartTime()) return;
    //var dDate = icsdateformat(new Date(GenerateStartTimeInString()));
    //var tsv = ((new Date()).getTime()) / 1000;

    //if(_sBusinessUnitIds==""  && _sLocationID == "" && _sDepartmentIds == ""  && _sDesignationIds == "" && nShiftID<=0)
    //{
    //    alert("Please enter at least one searching criteria with date!");
    //    return ;
    //}

    var dDate = $('#dtDate').datebox('getValue');
    var tsv = ((new Date()).getTime()) / 1000;

    if(_sBusinessUnitIds=="" && _sLocationID == "" && _sDepartmentIds == ""  && _sDesignationIds == "" && _sShiftIds =="" && _sBlockIDs =="" )
    {
        alert("Please enter at least one searching criteria with date!");
        return ;
    }

    window.open(_sBaseAddress+ "/AttendanceReport/"+sAction+"?sBUnit="+_sBusinessUnitIds+"&sLocationID="+_sLocationID+"&sDepartmentIDs="+_sDepartmentIds+"&sDesignationIDs="+_sDesignationIds+"&sShiftIds="+_sShiftIds+"&sBlockIDs="+_sBlockIDs+"&dDate="+dDate+"&nts="+tsv, "_blank"); 
}

/*-------------Location Picker----------------*/

$("#btnLocationPicker_Colection").click(function(e){
    $("#winLocationPicker").icsWindow('open');
    var oLocation={LocationID:0,BusinessUnitIDs:_sBusinessUnitIds};
    var obj = {
        BaseAddress: _sBaseAddress,
        Object: oLocation,
        ControllerName: "Location",
        ActionName: "GetsLocationMenuTree",
        IsWinClose: false
    };

    $.icsDataGet(obj, function (response) {
        if (response.status && response.obj!=null) {
            if (response.obj.TLocation.id > 0) {
                $('#locationtree').tree({ data: [response.obj.TLocation] });
            }
        }
    });
});

$("#btnLocationPickerOk").click(function(e){
    var oLocations = $('#locationtree').tree('getChecked');
    if(oLocations!=null && oLocations.length>0)
    {
        var LocationName="";
        for(var i=0; i<oLocations.length; i++)
        {
            if(oLocations[i].id !=1)
            {
                LocationName+=oLocations[i].text+",";
                _sLocationID+=oLocations[i].id+",";
            }
        }

        LocationName=LocationName.substring(0,LocationName.length-1);
        _sLocationID=_sLocationID.substring(0,_sLocationID.length-1);
        $("#winLocationPicker").icsWindow('close');
        $('#txtLocation_Colection').val(LocationName);
    }
    else
    {
        alert("Please select a location.");
    }
});

$('#txtLocation_Colection').keypress(function (e)
{
    var code = (e.keyCode ? e.keyCode : e.which);
    if (code == 13)//Enter key-13
    {
        $("#winLocationPicker").icsWindow('open');
        var oLocation={LocationID:0,BusinessUnitIDs:_sBusinessUnitIds};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oLocation,
            ControllerName: "Location",
            ActionName: "GetsLocationMenuTree",
            IsWinClose: false
        };
        $.icsDataGet(obj, function (response) {

            if (response.status && response.obj!=null) {
                if (response.obj.TLocation.id > 0) {
                    $('#locationtree').tree({ data: [response.obj.TLocation] });
                }
            }
        });
    }
});

$("#btnLocationPickerClose").click(function(e){
    $("#winLocationPicker").icsWindow('close');
});

$("#btnResetLocationPicker_Colection").click(function(e){
    $('#txtLocation_Colection').val("");
    _sLocationID="";
});

/*-------------Department Picker----------------*/

$("#txtDepartment").keypress(function(e){
    DepartmentPicker();
});

$("#btnDepartmentPicker").click(function(e){
    DepartmentPicker();
});

function DepartmentPicker()
{
    $("#winDepartmentPicker").icsWindow('open');
    var oDepartment={DepartmentID:0,BusinessUnitIDs:_sBusinessUnitIds,LocationIDs:_sLocationID};
    var obj = {
        BaseAddress: _sBaseAddress,
        Object: oDepartment,
        ControllerName: "Department",
        ActionName: "GetsDepartments",
        IsWinClose: false
    };

    $.icsDataGet(obj, function (response) {
        if (response.status && response.obj!=null) {
            if (response.obj.id > 0) {
                $('#departmenttree').tree({ data: [response.obj] });
            }
        }
    });
}

$("#btnDepartmentPickerOk").click(function(e){
    var oDepartments = $('#departmenttree').tree('getChecked');
    if(oDepartments!=null && oDepartments.length>0){
        $("#winDepartmentPicker").icsWindow('close');
        for(var i=0; i<oDepartments.length; i++)
        {
            _sDepartmentNames+=oDepartments[i].text+",";
            _sDepartmentIds+=oDepartments[i].id+",";
        }

        _sDepartmentNames=_sDepartmentNames.substring(0,_sDepartmentNames.length-1);
        _sDepartmentIds=_sDepartmentIds.substring(0,_sDepartmentIds.length-1);
        $("#txtDepartment").val(_sDepartmentNames);
        //ShiftLoad();
    }
    else{
        alert("Please select a department.");
    }
});

$("#btnDepartmentPickerClose").click(function(e){
    $("#winDepartmentPicker").icsWindow('close');
});

$("#btnResetDepartmentPicker").click(function(e){
    $('#txtDepartment').val("");
    _sDepartmentIds="";
    _sDepartmentNames="";
});

/*-------------Designation Picker----------------*/

$("#btnDesignationPicker").click(function(e){
    DesignationPicker();
});

function DesignationPicker()
{
    var oDesignation={
        DesignationID:0,
        Params: _sBusinessUnitIds+'~'+_sLocationID+'~'+ _sDepartmentIds
    };
    var obj = {
        BaseAddress: _sBaseAddress,
        Object: oDesignation,
        ControllerName: "Designation",
        ActionName: "Gets",
        IsWinClose: false
    };
    $.icsDataGets(obj, function (response) {
        _sDesignationNames = "";
        _sDesignationIds = "";
        if (response.status && response.objs.length > 0) {
            if (response.objs[0].DesignationID > 0) {
                var tblColums = [];
                var oColumn = { field: "Code", title: "Code", width: 50, align: "left" };tblColums.push(oColumn);
                oColumn = { field: "Name", title: "Name", width: 170, align: "left" };tblColums.push(oColumn);

                var bmultiplereturn=true;

                var oPickerParam = {
                    winid: 'winDesignation',
                    winclass:'clsDesignation',
                    winwidth: 320,
                    winheight: 460,
                    tableid: 'tblDesignation',
                    tablecolumns: tblColums,
                    datalist: response.objs,
                    multiplereturn: bmultiplereturn,
                    searchingbyfieldName:'Name',
                    windowTittle: 'Designation List'
                };
                $.icsPicker(oPickerParam);
                IntializeDesignationPickerbutton(oPickerParam);//multiplereturn, winclassName
            }
            else { alert(response.objs[0].ErrorMessage); }
        }
    });
}

function IntializeDesignationPickerbutton(oPickerobj)
{
    $("#" + oPickerobj.winid).find("#btnOk").click(function () {
        var oDesignations=[];
        oDesignations = $('#'+oPickerobj.tableid).datagrid('getChecked');
        if (oPickerobj.winid == 'winDesignation')
        {
            if(oDesignations!=null && oDesignations.length>0){
                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();

                for(var i=0; i<oDesignations.length; i++)
                {
                    _sDesignationNames+=oDesignations[i].Name+",";
                    _sDesignationIds+=oDesignations[i].DesignationID+",";
                }
                   
                _sDesignationNames=_sDesignationNames.substring(0,_sDesignationNames.length-1);
                _sDesignationIds=_sDesignationIds.substring(0,_sDesignationIds.length-1);
                $("#txtDesignation").val(_sDesignationNames);
            }
            else
            {
                alert("Please select a designation.");
            }
        }
    });
}

$("#btnResetDesignationPicker").click(function(e){
    $('#txtDesignation').val("");
    _sDesignationIds="";
    _sDesignationNames = "";
});

$("#txtDesignation").keypress(function(e){
    if (e.which == 13)
    {
        DesignationPicker();
    }
});

/*-------------Start Business Unit Picker----------------*/
$("#btnBusinessUnitPicker_Collection").click(function(e){
    BusinessUnitPicker();
});

$("#txtBusinessUnit_Collection").keypress(function(e){
    if (e.which == 13)//enter=13
    {
        BusinessUnitPicker();
    }
});

function BusinessUnitPicker()
{
    var oBusinessUnit={
        BusinessUnitID:0
    };
    var obj = {
        BaseAddress: _sBaseAddress,
        Object: oBusinessUnit,
        ControllerName: "BusinessUnit",
        ActionName: "GetsBusinessUnitWithPermission",
        IsWinClose: false
    };
    $.icsDataGets(obj, function (response) {
        if (response.status && response.objs.length > 0) {
            if (response.objs[0].BusinessUnitID > 0) {
                var tblColums = [];
                var oColumn = { field: "Code", title: "Code", width: 50, align: "left" };tblColums.push(oColumn);
                oColumn = { field: "Name", title: "Name", width: 170, align: "left" };tblColums.push(oColumn);

                var bmultiplereturn=true;

                var oPickerParam = {
                    winid: 'winBusinessUnit',
                    winclass:'clsBusinessUnit',
                    winwidth: 320,
                    winheight: 400,
                    tableid: 'tblBusinessUnit',
                    tablecolumns: tblColums,
                    datalist: response.objs,
                    multiplereturn: bmultiplereturn,
                    searchingbyfieldName:'Name',
                    windowTittle: 'Business Unit List'
                };
                $.icsPicker(oPickerParam);
                IntializeBusinessUnitPickerbutton(oPickerParam);//multiplereturn, winclassName
            }
            else { alert(response.objs[0].ErrorMessage); }
        }
    });
}

function IntializeBusinessUnitPickerbutton(oPickerobj)
{
    $("#" + oPickerobj.winid).find("#btnOk").click(function () {
        var oBusinessUnits=[];
        oBusinessUnits = $('#'+oPickerobj.tableid).datagrid('getChecked');
        if (oPickerobj.winid == 'winBusinessUnit')
        {
            if(oBusinessUnits!=null && oBusinessUnits.length>0)
            {
                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();
                var sBusinessUnitName = "";
                for(var i=0; i<oBusinessUnits.length; i++)
                {
                    sBusinessUnitName+=oBusinessUnits[i].Name+",";
                    _sBusinessUnitIds+=oBusinessUnits[i].BusinessUnitID+",";
                }

                sBusinessUnitName=sBusinessUnitName.substring(0,sBusinessUnitName.length-1);
                _sBusinessUnitIds=_sBusinessUnitIds.substring(0,_sBusinessUnitIds.length-1);
                $("#txtBusinessUnit_Collection").val(sBusinessUnitName);
            }
            else
            {
                alert("Please select a Business Unit.");
            }
        }
    });
}

$("#btnResetBusinessUnitPicker_Collection").click(function(e){
    $('#txtBusinessUnit_Collection').val("");
    _sBusinessUnitIds="";
});
/*-------------End Business Unit Picker----------------*/

/*------------- Start Shift Picker----------------*/
   
$("#btnShift").click(function(e){
    ShiftPicker();
});

function ShiftPicker()
{
    var oShift={
        ShiftID:0,
    };
    var obj = {
        BaseAddress: _sBaseAddress,
        Object: oShift,
        ControllerName: "HRMShift",
        ActionName: "GetsShifts",
        IsWinClose: false
    };
    $.icsDataGets(obj, function (response) {
        
        if (response.status && response.objs.length > 0) {
            if (response.objs[0].ShiftID > 0) {
                var tblColums = [];
                var oColumn = { field: "ShiftWithDuration", title: "Shift", width: 230, align: "left" };tblColums.push(oColumn);
                var bmultiplereturn=true;

                var oPickerParam = {
                    winid: 'winShift',
                    winclass:'clsShift',
                    winwidth: 320,
                    winheight: 460,
                    tableid: 'tblShift',
                    tablecolumns: tblColums,
                    datalist: response.objs,
                    multiplereturn: bmultiplereturn,
                    searchingbyfieldName:'Name',
                    windowTittle: 'Shift List'
                };
                $.icsPicker(oPickerParam);
                IntializeShiftPickerbutton(oPickerParam);//multiplereturn, winclassName
            }
            else { alert(response.objs[0].ErrorMessage); }
        }
    });
}

function IntializeShiftPickerbutton(oPickerobj)
{
    $("#" + oPickerobj.winid).find("#btnOk").click(function () {
        var oShifts=[];
        oShifts= $('#'+oPickerobj.tableid).datagrid('getChecked');
        if (oPickerobj.winid == 'winShift')
        {
            if(oShifts!=null && oShifts.length>0){
                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();

                for(var i=0; i<oShifts.length; i++)
                {
                    _sShiftNames += oShifts[i].Name+",";
                    _sShiftIds += oShifts[i].ShiftID+",";
                    
                }
                _sShiftNames=_sShiftNames.substring(0,_sShiftNames.length-1);
                _sShiftIds=_sShiftIds.substring(0,_sShiftIds.length-1);
                $("#txtShift").val(_sShiftNames);
            }
            else
            {
                alert("Please select a designation.");
            }
        }
    });
}

$("#btnResetShift").click(function(e){
    $('#txtShift').val("");
    _sShiftNames="";
    _sShiftIds = "";
});

$("#txtShift").keypress(function(e){
    if (e.which == 13)
    {
        ShiftPicker();
    }
});

/*------------- End Shift Picker----------------*/



/*------------EmployeeGroup--------------*/

$('#txtEmployeeGroup').keydown(function (e) {

    var code = (e.keyCode ? e.keyCode : e.which);
    if (code == 13)//Enter key-13
    {
        var txtSearchByGroup = $("#txtEmployeeGroup").val();
        var sTempName = "";
        SearchEmployeeGroup(txtSearchByGroup);
        $("#txtEmployeeGroup").val('');
    }
});


$("#btnEmployeeGroupPicker").click(function(e){
    SearchEmployeeGroup("");
});
function SearchEmployeeGroup(name) {
    $("#txtEmployeeGroup").val("");
    _sGroupNames = "";
    _sGroupIDs = "";
    var oGroup={
        Name : name
    };
    debugger
    var obj = {
        BaseAddress: _sBaseAddress,
        Object: oGroup,
        ControllerName: "Employee",
        ActionName: "GetsEmployeeGroupAdvSrc",
        IsWinClose: false
    };
    $.icsDataGets(obj, function (response) {

        if (response.status && response.objs.length > 0) {
            if (response.objs[0].EmployeeTypeID > 0) {
                debugger;
                var tblColums = [];
                var oColumn = { field: "Name", title: "Name", width: 150, align: "left" };tblColums.push(oColumn);

                var oPickerParam = {
                    winid: 'winGroup',
                    winclass:'clsGroup',
                    winwidth: 320,
                    winheight: 460,
                    tableid: 'tblGroup',
                    tablecolumns: tblColums,
                    datalist: response.objs,
                    multiplereturn: true,
                    searchingbyfieldName:'Name',
                    windowTittle: 'Employee Group List'
                };
                $.icsPicker(oPickerParam);
                IntializeGroupPickerbutton(oPickerParam);//multiplereturn, winclassName

            }
            else { alert(response.objs[0].ErrorMessage); }
        }
    });
}

function IntializeGroupPickerbutton(oPickerobj)
{
    $("#" + oPickerobj.winid).find("#btnOk").click(function () {

        var oGroups=[];
        oGroups= $('#'+oPickerobj.tableid).datagrid('getChecked');
        if (oPickerobj.winid == 'winGroup')
        {
            if(oGroups!=null && oGroups.length>0){
                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();

                for(var i=0; i<oGroups.length; i++)
                {
                    _sGroupNames += oGroups[i].Name+",";
                    _sGroupIDs += oGroups[i].EmployeeTypeID+",";

                }
                _sGroupNames=_sGroupNames.substring(0,_sGroupNames.length-1);
                _sGroupIDs=_sGroupIDs.substring(0,_sGroupIDs.length-1);
                $("#txtEmployeeGroup").val(_sGroupNames);
            }
            else
            {
                alert("Please select a Employee Group.");
            }
        }
    });
}

$("#btnEmployeeGroupPickerReset").click(function(e){
        
    $('#txtEmployeeGroup').val("");
    _sGroupIDs = "";
});

/*------------- Start Block Picker----------------*/
   
$('#txtEmployeeBlock').keydown(function (e) {

    var code = (e.keyCode ? e.keyCode : e.which);
    if (code == 13)//Enter key-13
    {
        var txtSearchByBlock = $("#txtEmployeeBlock").val();
        var sTempName = "";
        SearchEmployeeBlock(txtSearchByBlock);
        $("#txtEmployeeBlock").val('');
    }
});

$("#btnEmployeeBlockPicker").click(function(e){
    SearchEmployeeBlock("");
});
function SearchEmployeeBlock(name) {
    $("#txtEmployeeBlock").val("");
    _sBlockNames = "";
    _sBlockIDs = "";
    var oBlock={
        Name : name
    };
    debugger
    var obj = {
        BaseAddress: _sBaseAddress,
        Object: oBlock,
        ControllerName: "Employee",
        ActionName: "GetsEmployeeBlockAdvSrc",
        IsWinClose: false
    };
    $.icsDataGets(obj, function (response) {

        if (response.status && response.objs.length > 0) {
            if (response.objs[0].EmployeeTypeID > 0) {
                debugger;
                var tblColums = [];
                var oColumn = { field: "Name", title: "Name", width: 150, align: "left" };tblColums.push(oColumn);

                var oPickerParam = {
                    winid: 'winBlock',
                    winclass:'clsBlock',
                    winwidth: 320,
                    winheight: 460,
                    tableid: 'tblBlock',
                    tablecolumns: tblColums,
                    datalist: response.objs,
                    multiplereturn: true,
                    searchingbyfieldName:'Name',
                    windowTittle: 'Employee Block List'
                };
                $.icsPicker(oPickerParam);
                IntializeBlockPickerbutton(oPickerParam);//multiplereturn, winclassName

            }
            else { alert(response.objs[0].ErrorMessage); }
        }
    });
}

function IntializeBlockPickerbutton(oPickerobj)
{
    $("#" + oPickerobj.winid).find("#btnOk").click(function () {

        var oGroups=[];
        oBlocks= $('#'+oPickerobj.tableid).datagrid('getChecked');
        if (oPickerobj.winid == 'winBlock')
        {
            if(oBlocks!=null && oBlocks.length>0){
                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();
                debugger;
                for(var i=0; i<oBlocks.length; i++)
                {
                    _sBlockNames += oBlocks[i].Name+",";
                    _sBlockIDs += oBlocks[i].EmployeeTypeID+",";

                }
                _sBlockNames=_sBlockNames.substring(0,_sBlockNames.length-1);
                _sBlockIDs=_sBlockIDs.substring(0,_sBlockIDs.length-1);
                $("#txtEmployeeBlock").val(_sBlockNames);
            }
            else
            {
                alert("Please select a Employee Block.");
            }
        }
    });
}
    

$("#btnEmployeeBlockPickerReset").click(function(e){
    _sBlockNames = "";
    $('#txtEmployeeBlock').val("");
    _sBlockIDs = "";
});
/*------------- End Block Picker----------------*/
</script>
