@{
    ViewBag.Title = "P/I T& C Caption Name(s)";
}
<!DOCTYPE html>
<html>
<head>
    <title>ExportTnCCaptions</title>
</head>
<body>

    <div class="menuMainCollectionTable">
        <table id="tblExportTnCCaptions" title="P/I T& C Caption Name(s)" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="Name" width="50%">Name</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <table>
                <tr>
                    <td>
                        <input id="txtName" type="text" style="width: 221px;" placeholder="Type Description & Press Add Button" />
                        <a id="btnUpdate" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Update</a>
                        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>
                        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                        <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    var _sBaseAddress="";
    var _oExportTnCCaptions=[];
    var _oExportTnCCaption=null;
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oExportTnCCaptions =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
       
        $("#btnUpdate").hide();
        DynamicRefreshList(_oExportTnCCaptions,"tblExportTnCCaptions");

           
    });
  
    function Validation()
    {
        if($.trim($("#txtName").val()) == "")
        {
            alert("Please Type Description and Press Add Button");
            $("#txtName").addClass("errorFieldBorder");
            $("#txtName").focus();
            return false;
        }else{
            $("#txtName").removeClass("errorFieldBorder");
        }
       
        return true;
    }

    function RefreshObject() {
        var oExportTnCCaption = {
            ExportTnCCaptionID  : (_oExportTnCCaption == null ? 0 : _oExportTnCCaption.ExportTnCCaptionID),
            Name : $.trim($("#txtName").val())
            
        };
        return oExportTnCCaption;
    }

    $("#btnAdd").click(function(){
        _oExportTnCCaption = null;
        AddNew();
    });

    $("#txtName").keydown(function(e){
        if(e.keyCode === 13)
        {
            _oExportTnCCaption = null;
            AddNew();
        }
    });

    function AddNew()
    {
        if (!Validation())
        {
            return false;
        }
        else
        {
            var oExportTnCCaption = RefreshObject();
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oExportTnCCaption,
                ObjectId: oExportTnCCaption.ExportTnCCaptionID,
                ControllerName: "ExportTnCCaption",
                ActionName: "SaveExportTnCCaption",
                TableId: "tblExportTnCCaptions",
                IsWinClose: true,
                Message:""
            };
            $.icsSave(obj, function (response) {
                if (response.status && response.obj != null) {
                    if (response.obj.ExportTnCCaptionID > 0) {
                        $("#txtName").val("");
                        $("#txtName").focus();
                        $("#btnUpdate").hide();

                    }
                }
            });
        }
    }

    $("#btnDelete").click(function(){
        var oExportTnCCaption = $("#tblExportTnCCaptions").datagrid("getSelected");
        if(oExportTnCCaption == null || oExportTnCCaption.ExportTnCCaptionID <=0)
        {
            alert("Please select an item from list.");
            return;
        }

        if (!confirm("Confirm to Delete?")) return;
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oExportTnCCaption,
            ControllerName: "ExportTnCCaption",
            ActionName: "DeleteExportTnCCaption",
            TableId: "tblExportTnCCaptions",
            IsWinClose: false
        };
        $.icsDelete(obj);
    });

    $("#btnEdit").click(function(){
        var oExportTnCCaption = $("#tblExportTnCCaptions").datagrid("getSelected");
        if(oExportTnCCaption == null || oExportTnCCaption.ExportTnCCaptionID <=0)
        {
            alert("Please select an item from list.");
            return;
        }
        _oExportTnCCaption = oExportTnCCaption;
        $("#txtName").removeClass("errorFieldBorder");
        $("#txtName").val(oExportTnCCaption.Name);
        $("#btnUpdate").show();
    });

    $("#btnUpdate").click(function(){
        AddNew();
    });
</script>
