@{
    ViewBag.Title = "FA Register";
}
@model ESimSol.BusinessObjects.FARegister
<div ng-app ="FARegisterAPP">
<div ng-controller="FARegisterCtrl" class="form-horizontal regionFARegister">
    <div class="panel-header" style="height:30px; text-align:center;"><label style="text-decoration:underline; text-decoration-style:double">Asset Basic & Depreciation Info</label> </div>
    <fieldset>
        <div class="row col-md-12">
            <div class="col-md-1 text-right">
                <label class="control-label">Business Unit:</label>
            </div>
            <div class="col-md-3 text-left">
                <select id="Currency" style="width:100%; height:22px" ng-model="FARegister.BUID" ng-options="obj.BusinessUnitID as obj.ShortName for obj in BusinessUnits" ng-change="cboFAChange()" ng-disabled="disabled">
                    <option value="">--Select Business Unit--</option>
                </select>
            </div>
            <div class="col-md-1 text-right"><label class="control-label">Location:</label></div>
            <div class="col-md-3 text-left">
                <div class="form-inline">
                    <input id="Contractor_Service" ng-model="FARegister.LocationName" placeholder="Type Location Name & Press Enter" ng-disabled="disabled" ng-keydown="SearchKeyDownLocation($event)" style="width:74%;font-size:12px;" required />
                    <button type="button" class="btn btn-primary btn-xs" aria-label="right Align" ng-click="PickLocation('')" style="width:11%" ng-disabled="disabled"><span aria-hidden="true" class="glyphicon glyphicon-search"></span></button>
                    <button type="button" class="btn btn-danger btn-xs" aria-label="right Align" ng-click="RemoveLocation()" style="width:11%" ng-disabled="disabled"><span aria-hidden="true" class="glyphicon glyphicon-refresh"></span></button>
                </div>
            </div>
            <div class="col-md-1 text-right"><label class="control-label"> Purchase DT:</label></div>
            <div class="col-md-3 text-left">
                <div class="input-group date date-container">
                    <input type="text" ng-model="FARegister.PurchaseDateInString" style="width:100%; height:24px" ng-change="cboFAChange()" ng-disabled="disabled">
                    <span style="height:22px"  class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-1 text-right">
                <label class="control-label">Product Code:</label>
            </div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.ProductCode" style="width:100%; height:24px" placeholder="Product Code.." disabled />
            </div>
            <div class="col-md-1 text-right"><label class="control-label" style="font-size:11px">Product Name:</label></div>
            <div class="col-md-3 text-left">
                <div class="form-inline">
                    <input id="Contractor_Service" ng-model="FARegister.ProductName" placeholder="Type Product Name & Press Enter" ng-disabled="disabled" ng-keydown="SearchKeyDownProduct($event)" style="width:74%;font-size:12px;" required />
                    <button type="button" class="btn btn-primary btn-xs" aria-label="right Align" ng-click="PickProduct('')" style="width:11%" ng-disabled="disabled"><span aria-hidden="true" class="glyphicon glyphicon-search"></span></button>
                    <button type="button" class="btn btn-danger btn-xs" aria-label="right Align" ng-click="RemoveProduct()" style="width:11%" ng-disabled="disabled"><span aria-hidden="true" class="glyphicon glyphicon-refresh"></span></button>
                </div>
            </div>
            <div class="col-md-1 text-right"><label class="control-label"> FA Code:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.FACodeFull" placeholder="FA Code.." style="width:100%; height:24px" disabled/>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-1 text-right">
                <label class="control-label" style="font-size:12px"> Category:</label>
            </div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.ProductCode" style="width:100%; height:24px" placeholder="Product Category.." disabled />
            </div>
            <div class="col-md-1 text-right"><label class="control-label" style="font-size:12px">Dept Method:</label></div>
            <div class="col-md-3 text-left">
                <select id="FAMethod" style="width:100%; height:22px" ng-model="FARegister.FAMethod" ng-options="obj.id as obj.Value for obj in FAMethods" ng-disabled="disabled">
                    <option value="">---Select Depreciation Method---</option>
                </select>
            </div>
            <div class="col-md-1 text-right"><label class="control-label">Dept Rate:</label></div>
            <div class="col-md-3 text-left">
                <div class="form-inline">
                    <input ng-model="FARegister.ActualDepRate" placeholder="Dept Rate.." ng-disabled="disabled" style="width:50%;font-size:12px;" required />
                    <button type="button" class="btn btn-primary btn-xs" aria-label="right Align" ng-click="RateCalculation()" style="width:48%" ng-disabled="disabled"><span aria-hidden="true" class="glyphicon glyphicon-blackboard"></span>Rate Calculator</button>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-1 text-right"><label class="control-label" style="font-size:12px">Currency:</label></div>
            <div class="col-md-3 text-left">
                <select id="Currency" style="width:100%; height:22px" ng-model="FARegister.CurrencyID" ng-options="obj.CurrencyID as obj.CurrencyName for obj in Currencys" ng-disabled="disabled">
                    <option value="">---Select Currency---</option>
                </select>
            </div>
            <div class="col-md-1 text-right">
                <label class="control-label" style="font-size:12px"> Cost Price:</label>
            </div>
            <div class="col-md-3 text-left">
                <div class="form-inline input-group">
                    <input ng-model="FARegister.ActualCostPrice" style="width:43%; height:24px" class="number" placeholder="Cost Price.." ng-disabled="disabled" />
                    <label style="font-size:11.5px; width:22%; text-align:right">Salvage:</label>
                    <input ng-model="FARegister.ActualSalvage" style="width:30%; height:24px" class="number" placeholder="Salvage Value.." ng-disabled="disabled" />
                </div>
            </div>

            <div class="col-md-1 text-right"><label class="control-label">Dept Date:</label></div>
            <div class="col-md-3 text-left">
                <div class="col-md-12" style="padding:0px 0px 0px 0px">
                    <div class="col-md-6">
                        <div class="input-group date date-container">
                            <input type="text" ng-model="FARegister.DepStartDateInString" style="width:100%; height:24px" ng-disabled="disabled">
                            <span style="height:22px;width:8px" class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input type="text" value="Use full life" disabled style="width:44%;font-size:10px;" required />
                        <input type="text" ng-model="FARegister.UseFullLife" style="width:20%; height:24px;" ng-disabled="disabled"/>
                        <input type="text" value="Year" disabled style="width:28%;font-size:11px;" required />
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-1 text-right"><label class="control-label" style="font-size:12px">Dep. Apply:</label></div>
            <div class="col-md-3 text-left">
                <select id="Currency" style="width:100%; height:22px" ng-model="FARegister.DEPCalculateOn" ng-options="obj.id as obj.Value for obj in DEPCalculateOns" ng-disabled="disabled">
                    <option value="">---Select Apply On---</option>
                </select>
            </div>
            <div class="col-md-1 text-right">
                <label class="control-label" style="font-size:12px"> Qty :</label>
            </div>
            <div class="col-md-3 text-left">
                <div class="form-inline input-group">
                    <input ng-model="FARegister.Qty" style="width:43%; height:24px" class="number" placeholder="Cost Price.." ng-disabled="disabled" />
                    <label style="font-size:11.5px; width:23%; text-align:right">M Unit:</label>
                    <select id="Currency" style="width:30%; height:22px" ng-model="FARegister.MUnitID" ng-options="obj.MeasurementUnitID as obj.UnitName for obj in MeasurementUnits" ng-disabled="disabled">
                        <option value="">-M Unit-</option>
                    </select>
                </div>
            </div>

            <div class="col-md-1 text-right"><label class="control-label">Note :</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.Note" style="width:100%; height:22px" ng-disabled="disabled" required />
            </div>
        </div>
    </fieldset>
    <div class="panel-header" style="text-align:center;"><label style="text-decoration:underline; text-decoration-style:double">Asset Details Information</label> </div>
    <fieldset>
        <div class="row col-md-12">
            <div class="col-md-1 text-right"><label class="control-label">Model:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.Model" style="width:100%;font-size:12px;" required />
            </div>
            <div class="col-md-1 text-right"><label class="control-label">Brand:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.BrandName" style="width:100%;font-size:12px;" required />
            </div>
            <div class="col-md-1 text-right"><label class="control-label">Manufacturer:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.Manufacturer" style="width:100%;font-size:12px;" required />
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-1 text-right"><label class="control-label">SL No:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.ProductSLNo" style="width:100%;font-size:12px;" required />
            </div>
            <div class="col-md-1 text-right"><label class="control-label">Origin:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.CountryOfOrigin" style="width:100%;font-size:12px;" required />
            </div>
            <div class="col-md-1 text-right"><label class="control-label" style="font-size:9px">Manufacturer Year:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.ManufacturerYear" style="width:100%;font-size:12px;" required />
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-1 text-right"><label class="control-label">Function:</label></div>
            <div class="col-md-11">
                <input ng-model="FARegister.BasicFunction" style="width:100%;font-size:12px;" required />
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-1 text-right"><label class="control-label" style="font-size:9px">Warranty  Period:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.WarrantyPeriod" style="width:75%;font-size:12px;" required />
                <input value="Year" disabled style="width:20%;font-size:12px;" required />
            </div>


            <div class="col-md-1 text-right"><label class="control-label" style="font-size:9px">Warranty Start:</label></div>
            <div class="col-md-3 text-left">
                <div class="col-md-12" style="padding:0px 0px 0px 0px">
                    <div class="col-md-6">
                        <div class="input-group date date-container">
                            <input type="text" ng-model="FARegister.WarrantyDateInString" style="width:100%; height:24px" ng-disabled="disabled">
                            <span style="height:22px;width:8px" class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-group date date-container">
                            <input type="text" ng-model="FARegister.WarrantyDate_ExpInString" style="width:100%; height:24px" ng-disabled="disabled">
                            <span style="height:22px;width:8px" class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-1 text-right"><label class="control-label">Power Con:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.PowerConumption" style="width:100%;font-size:12px;" required />
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-1 text-right"><label class="control-label">Capacity:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.Capacity" style="width:100%;font-size:12px;" required />
            </div>
            <div class="col-md-1 text-right"><label class="control-label">Tech Spec:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.TechnicalSpec" style="width:100%;font-size:12px;" required />
            </div>
            <div class="col-md-1 text-right"><label class="control-label" style="font-size:9px;">Performance Spec:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.PerformanceSpec" style="width:100%;font-size:12px;" required />
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-1 text-right"><label class="control-label" style="font-size:9px;">Shipment Port:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.PortOfShipment" style="width:100%;font-size:12px;" required />
            </div>
            
            <div class="col-md-1 text-right"><label class="control-label">LCNo & Date:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.LCNoWithDate" style="width:100%;font-size:12px;" required />
            </div>
            <div class="col-md-1 text-right"><label class="control-label">HS Code:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.HSCode" style="width:100%;font-size:12px;" required />
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-1 text-right"><label class="control-label">Note:</label></div>
            <div class="col-md-11">
                <input ng-model="FARegister.AssestNote" style="width:100%;font-size:12px;" required />
            </div>
        </div>
    </fieldset>

    <div class="panel-header" style="text-align:center;"><label style="text-decoration:underline; text-decoration-style:double">Supplier/Manufacturer Information</label> </div>
    <fieldset>
        <div class="row col-md-12">
            <div class="col-md-1 text-right"><label class="control-label"> Name:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.SupplierName" style="width:100%;font-size:12px;" required />
            </div>
            <div class="col-md-1 text-right"><label class="control-label">Address:</label></div>
            <div class="col-md-7 text-left">
                <input ng-model="FARegister.SupplierAddress" style="width:100%;font-size:12px;" required />
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-1 text-right"><label class="control-label">Email:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.SupplierEmail" style="width:100%;font-size:12px;" required />
            </div>
            <div class="col-md-1 text-right"><label class="control-label">Phone:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.SupplierPhone" style="width:100%;font-size:12px;" required />
            </div>
            <div class="col-md-1 text-right"><label class="control-label">Fax:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.SupplierFax" style="width:100%;font-size:12px;" required />
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-1 text-right"><label class="control-label">C.P. Name:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.SupplierCPName" style="width:100%;font-size:12px;" required />
            </div>
            <div class="col-md-1 text-right"><label class="control-label">C.P. Phone:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.SupplierCPPhone" style="width:100%;font-size:12px;" required />
            </div>
            <div class="col-md-1 text-right"><label class="control-label">C.P. Email:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.SupplierCPEmail" style="width:100%;font-size:12px;" required />
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-1 text-right"><label class="control-label">Remarks:</label></div>
            <div class="col-md-11">
                <input ng-model="FARegister.SupplierNote" style="width:100%;font-size:12px;" required />
            </div>
        </div>
    </fieldset>

    <div class="panel-header" style="text-align:center;"><label style="text-decoration:underline; text-decoration-style:double">Local Agent  Information</label> </div>
    <fieldset>
        <div class="row col-md-12">
            <div class="col-md-1 text-right"><label class="control-label"> Name:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.AgentName" style="width:100%;font-size:12px;" required />
            </div>
            <div class="col-md-1 text-right"><label class="control-label">Address:</label></div>
            <div class="col-md-7 text-left">
                <input ng-model="FARegister.AgentAddress" style="width:100%;font-size:12px;" required />
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-1 text-right"><label class="control-label">Email:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.AgentEmail" style="width:100%;font-size:12px;" required />
            </div>
            <div class="col-md-1 text-right"><label class="control-label">Phone:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.AgentPhone" style="width:100%;font-size:12px;" required />
            </div>
            <div class="col-md-1 text-right"><label class="control-label">Fax:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.AgentFax" style="width:100%;font-size:12px;" required />
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-1 text-right"><label class="control-label">C.P. Name:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.AgentCPName" style="width:100%;font-size:12px;" required />
            </div>
            <div class="col-md-1 text-right"><label class="control-label">C.P. Phone:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.AgentCPPhone" style="width:100%;font-size:12px;" required />
            </div>
            <div class="col-md-1 text-right"><label class="control-label">C.P. Email:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.AgentCPEmail" style="width:100%;font-size:12px;" required />
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-1 text-right"><label class="control-label">Work Station:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="FARegister.AgentWorkStation" style="width:100%;font-size:12px;" required />
            </div>
            <div class="col-md-1 text-right"><label class="control-label">Remarks:</label></div>
            <div class="col-md-7 text-left">
                <input ng-model="FARegister.AgentNote" style="width:100%;font-size:12px;" required />
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Action</legend>
        <div class="row col-md-12 text-right">
            <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="close()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"> Close</span> </button>
        </div>
    </fieldset>
    </div>
    <script type="text/ng-template" id="FARCalculate.html">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Depreciation Rate Calculator</h4>
        </div>
        <div class="modal-body form-horizontal regionExportUP ms-custom-control" id="modal-body">
            <fieldset>
                <div class="row col-md-12">
                    <div class="col-md-4 text-right"><label class="control-label">Cost Price:</label></div>
                    <div class="col-md-8 text-left">
                        <input ng-model="ActualCostPrice" ng-keyup="Calculation()" style="width:100%;font-size:12px;" required />
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-4 text-right"><label class="control-label">Use Full Life:</label></div>
                    <div class="col-md-8 text-left">
                        <input ng-model="UseFullLife" ng-keyup="Calculation()" style="width:70%;font-size:12px;" required />
                        <input type="text" value="Year" style="width:28%;font-size:12px;" disabled />
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-4 text-right"><label class="control-label">Salvage Value:</label></div>
                    <div class="col-md-8 text-left">
                        <input ng-model="ActualSalvage" ng-keyup="Calculation()" style="width:100%;font-size:12px;" required />
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-4 text-right"><label class="control-label">Deprecition Rate:</label></div>
                    <div class="col-md-8 text-left">
                        <input ng-model="ActualDepRate" style="width:70%;font-size:12px;" required />
                        <input type="text" value="%" style="width:28%;font-size:12px;" disabled />

                    </div>
                </div>
            </fieldset>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-primary btn-sm" aria-label="Left Align" ng-click="RateOK()" ng-hide="hide"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Ok</button>
            <button type="button" class="btn-danger btn-sm" aria-label="Left Align" ng-click="RateClose()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
        </div>
    </script>

</div>

<style type="text/css">
    .panel-header {
        background: #EFF5FF; /*linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%);*/
    }
    ::-webkit-input-placeholder {
        font-size: 10px;
    }
    .form-horizontal .control-label {
        padding-top: 3px;
    }

    .regionFARegister .form-control {
        height: 26px;
        padding: 0px 6px;
        font-size: 12px;
    }

    .regionFARegister .col-md-12 {
        width: 100%;
        padding-right: 3px;
        padding-left: 3px;
        margin-bottom: 3px;
    }

    .regionFARegister .col-md-1 {
        width: 10%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .regionFARegister .col-md-2 {
        width: 15%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .regionFARegister .col-md-3 {
        width: 23.3%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .regionFARegister .col-md-4 {
        width: 41.4%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .regionFARegister .col-md-5 {
        width: 37%;
        padding-right: 5px;
        padding-left: 0px;
    }

    .regionFARegister .col-md-6 {
        width: 50%;
        padding-right: 0px;
        padding-left: 0px;
    }

    .regionFARegister .col-md-9 {
        width: 66.4%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .regionFARegister .col-md-10 {
        width: 83%;
        padding-right: 5px;
        padding-left: 5px;
    }
    .regionFARegister .col-md-11 {
        width: 90%;
        padding-right: 5px;
        padding-left: 5px;
    }
    .regionFARegister .col-md-7 {
        width: 56.5%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .regionFARegister .col-md-8 {
        width: 69%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .regionFARegister .btn-sm {
        padding: 3px 10px;
    }

    .regionFARegister .input-group-addon {
        padding: 4px 8px;
    }

   
</style>

<script type="text/javascript">
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    var oFARegister =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var oDEPCalculateOns =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.DEPCalculateOns));
    var oFAMethods =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FAMethods));

    var oMeasurementUnits =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.MeasurementUnits));
    var oCurrencys =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Currencys));
    var nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
    var oBusinessUnits = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
    debugger;
    var FARegisterModule = angular.module('FARegisterAPP', ['ngAnimate', 'ui.bootstrap', 'ui.grid', 'ui.grid.selection', 'ui.grid.edit','ms.service']);
    FARegisterModule.controller('FARegisterCtrl', function ($scope, $http, $uibModal, $log, uiGridConstants, msModal, userSession) {
        debugger;
     
        $('.date-container').datepicker({
            format: "dd M yyyy",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
        });
        var viewType = sessionStorage.getItem("Operation");
        if (viewType == 'View')
        {
            $scope.disabled= true;
            $scope.hide=true;

            $scope.hide_Revise=true;
            $scope.hide_Approve=true;
            $scope.hide_Save=true;
        }
        else  if (viewType == 'Approve')
        {
            $scope.disabled= true;
            $scope.hide=true;
            $scope.hide_Revise=true;
            $scope.hide_Approve=false;
            $scope.hide_Save=true;
        }
        else
        {
            $scope.disabled= false;
            $scope.hide=false;
            $scope.hide_Revise=true;
            $scope.hide_Approve=true;
            $scope.hide_Save=false;
        }

        $scope.MeasurementUnits=oMeasurementUnits;
        $scope.Currencys=oCurrencys;

        $scope.DEPCalculateOns=oDEPCalculateOns;
        $scope.FAMethods=oFAMethods;
        $scope.FARegister=oFARegister;
        $scope.BusinessUnits = oBusinessUnits;


        debugger;
        if($scope.FARegister.FARegisterID==0)
            $scope.FARegister.BUID=nBUID;

        //$scope.SetWarrantyDate=function()
        //{
        //    var PurchaseDate=new Date($scope.FARegister.PurchaseDateInString); console.log(PurchaseDate.getFullYear());
        //    var nYear= PurchaseDate.getFullYear() + parseInt($scope.FARegister.Warranty);  console.log(PurchaseDate.getFullYear());
        //    //$scope.FARegister.WarrantyDateInString= icsdateformat(new Date(nYear, PurchaseDate.getMonth(), PurchaseDate.getDate()-1));
        //}
        //$scope.SetWarrantyDate();

        $scope.currencyChange=function()
        {
            $scope.FARegister.CurrencyID;
        }

        $scope.ComboChange= function(nField,Value)
        {
            //console.log(this);
            //console.log(nField);
            //console.log(Value);
            //alert($scope.FARegister[nField]);
            //if($scope.FARegister[nField])
            //{
            //    alert("Same");//$scope.FARegister[nField]!=Value;
            //}
            //else

            $scope.FARegister[nField]=Value;
        }

        $scope.cboFAChange=function(){};

        $scope.RemoveDepartment = function ()
        {
            debugger;
            $scope.FARegister.DepartmentName="";
            $scope.FARegister.DepartmentID=0;
        };
        $scope.RateCalculation = function()
        {
            $scope.Modal($scope.FARegister, 'operation');
        }
        $scope.Modal = function (oFR, operation) {
            debugger;
            //objSQ.IsMeter=$scope.IsMeter;
            //objSQ.IsYard=$scope.IsYard;

            var modalInstance = $uibModal.open({
                ariaLabelledBy: 'modal-title',
                ariaDescribedBy: 'modal-body',
                size: 'md',
                templateUrl: 'FARCalculate.html',
                controller: 'ModalInstanceCtrl',
                controllerAs: 'FARController',
                resolve: {
                    obj: function () {
                        return { value:oFR, Operation: 'edit'  };
                        ///$scope.FARegister.ActualDepRate = $result.ActualDepRate
                    }
                }
            });

            
                modalInstance.result.then(function (result) {
                    if(result>0)
                    {
                        $scope.FARegister.ActualDepRate=result;
                    }
                }, function () {
                    $log.info('Modal dismissed at: ' + new Date());
                });
        }
        $scope.PickDepartment= function (txtDepartmentName)
        {
            debugger;
            var oDepartment = {
                Name:(txtDepartmentName==undefined?'':txtDepartmentName)
            };
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(_sBaseAddress+'/FARegister/GetsDepartment',$.param(oDepartment), config).then(
                        function (response)
                        {
                            var oColumns = [];debugger;
                            var oColumn = { field: 'Name', name: 'DepartmentName',width: '90%'  };oColumns.push(oColumn);
                            //var results=jQuery.parseJSON(response.data);
                            var modalObj={
                                size:'md',
                                modalcontroller:'',
                                appcontroller:'',
                                objs:response.data,
                                multiSelect:false,
                                pickertitle:'Department List',
                                searchingbyfieldName:'DepartmentName',
                                columns:oColumns
                            }
                            var modalInstance=msModal.Instance(modalObj);
                            modalInstance.result.then(function (result)
                            {
                                debugger;
                                if(result.DepartmentID>0)
                                {
                                    $scope.FARegister.DepartmentName=result.Name;
                                    $scope.FARegister.DepartmentID=result.DepartmentID;
                                }
                            }, function () {
                                $log.info('Modal dismissed at: ' + new Date());
                            });
                        },
                            function (response) { alert(jQuery.parseJSON(response.data).Message);}
                    );
        };
        $scope.SearchKeyDownDepartment = function (e) {
            //debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                var txtDepartmentName = $.trim($scope.FARegister.DepartmentName);
                if(txtDepartmentName=="" || txtDepartmentName==null)
                {
                    alert("Type Department Name and Press Enter");
                    return;
                }
                $scope.PickDepartment(txtDepartmentName);
            }else if (code == 8) //backspace=8
            {
                //debugger;
                $scope.FARegister.DepartmentName='';
                $scope.FARegister.DepartmentID=0;
            }
        };

        $scope.RemoveProduct = function ()
        {
            debugger;
            $scope.FARegister.ProductName="";
            $scope.FARegister.ProductID=0;
            $scope.FARegister.ProductCategoryID=0;
            $scope.FARegister.ProductCategoryName="";
        };
        $scope.PickProduct= function (txtProductName)
        {
            debugger;
            var oProduct = {
                Name:(txtProductName==undefined?'':txtProductName)
            };
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(_sBaseAddress+'/FARegister/GetsProductByType',$.param(oProduct), config).then(
                        function (response)
                        {
                            var oColumns = [];debugger;
                            var oColumn = { field: 'ProductName', name: 'ProductName',width: '90%'  };oColumns.push(oColumn);
                            //var results=jQuery.parseJSON(response.data);
                            var modalObj={
                                size:'md',
                                modalcontroller:'',
                                appcontroller:'',
                                objs:response.data,
                                multiSelect:false,
                                pickertitle:'Product List',
                                searchingbyfieldName:'ProductName',
                                columns:oColumns
                            }
                            var modalInstance=msModal.Instance(modalObj);
                            modalInstance.result.then(function (result)
                            {
                                debugger;
                                if(result.ProductID>0)
                                {
                                    $scope.FARegister.ProductName=result.ProductName;
                                    $scope.FARegister.ProductID=result.ProductID;
                                    $scope.FARegister.ProductCategoryID=result.ProductCategoryID;
                                    $scope.FARegister.ProductCategoryName=result.ProductCategoryName;
                                }
                            }, function () {
                                $log.info('Modal dismissed at: ' + new Date());
                            });
                        },
                            function (response) { alert(jQuery.parseJSON(response.data).Message);}
                    );
        };
        $scope.SearchKeyDownProduct = function (e) {
            //debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                var txtProductName = $.trim($scope.FARegister.ProductName);
                if(txtProductName=="" || txtProductName==null)
                {
                    alert("Type Product Name and Press Enter");
                    return;
                }
                $scope.PickProduct(txtProductName);
            }else if (code == 8) //backspace=8
            {
                //debugger;
                $scope.FARegister.ProductName='';
                $scope.FARegister.ProductID=0;
            }
        };



            //////////////////////////////////////

            $scope.RemoveLocation = function ()
            {
                debugger;
                $scope.FARegister.LocationName="";
                $scope.FARegister.LocationID=0;
                //$scope.FARegister.ProductCategoryID=0;
                //$scope.FARegister.ProductCategoryName="";
            };
            $scope.PickLocation= function (txtLocationName)
            {
                debugger;
                var oLocation = {
                    LocationNameCode:(txtLocationName==undefined?'':txtLocationName)
                };
                var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
                $http.post(_sBaseAddress+'/Location/GetsByCodeOrNamePick',$.param(oLocation), config).then(
                            function (response)
                            {
                                var oColumns = [];debugger;
                                var oColumn = { field: 'LocationNameCode', name: 'LocationNameCode',width: '90%'  };oColumns.push(oColumn);
                                //var results=jQuery.parseJSON(response.data);
                                var modalObj={
                                    size:'md',
                                    modalcontroller:'',
                                    appcontroller:'',
                                    objs:JSON.parse(response.data),
                                    multiSelect:false,
                                    pickertitle:'Location List',
                                    searchingbyfieldName:'LocationNameCode',
                                    columns:oColumns
                                }
                                var modalInstance=msModal.Instance(modalObj);
                                modalInstance.result.then(function (result)
                                {

                                    debugger;
                                    if(result.LocationID>0)
                                    {
                                        $scope.FARegister.LocationName=result.Name;
                                        $scope.FARegister.LocationID=result.LocationID;
                                        //$scope.FARegister.LocationCategoryID=result.LocationCategoryID;
                                        //$scope.FARegister.LocationCategoryName=result.LocationCategoryName;
                                    }
                                }, function () {
                                    $log.info('Modal dismissed at: ' + new Date());
                                });
                            },
                                function (response) { alert(jQuery.parseJSON(response.data).Message);}
                        );
            };
            $scope.SearchKeyDownLocation = function (e) {
                //debugger;
                var code = (e.keyCode ? e.keyCode : e.which);
                if (code == 13) {
                    var txtLocationName = $.trim($scope.FARegister.LocationName);
                    if(txtLocationName=="" || txtLocationName==null)
                    {
                        alert("Type Location Name and Press Enter");
                        return;
                    }
                    $scope.PickLocation(txtLocationName);
                }else if (code == 8) //backspace=8
                {
                    //debugger;
                    $scope.FARegister.LocationName='';
                    $scope.FARegister.LocationID=0;
                }
            };

            //////////////////////////////////////

            $scope.PickContractor= function ()
            {
                var oContractor= {
                    Params:'1~'+(($scope.FARegister.ContractorName==undefined)? '':$scope.FARegister.ContractorName)
                };
                debugger;
                var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
                $http.post(_sBaseAddress+'/Contractor/ContractorSearchByNameType',$.param(oContractor), config).then(
                            function (response)
                            {
                                var oDetailColumns = [];
                                var oColumn = { field: 'ContractorID', name:'Code', width:'8%',cellClass: 'text-right', enableCellEdit:false };oDetailColumns.push(oColumn);
                                oColumn = { field: 'Name', name:'Name', width:'92%',cellClass: 'text-left', enableCellEdit:false };oDetailColumns.push(oColumn);
                                var results=response.data;
                                if(results[0].ContractorID==0)
                                {
                                    alert("No Order Found!!"); return;
                                }

                                var modalObj={
                                    size:'md',
                                    url:_sBaseAddress+'/Home/Modal',
                                    modalcontroller:'',
                                    appcontroller:'FARegisterCtrl',
                                    objs:results,
                                    multiSelect:false,
                                    pickertitle:'Contractor List',
                                    searchingbyfieldName:'Name',
                                    columns:oDetailColumns
                                }
                                var modalInstance=msModal.Instance(modalObj);
                                //var oFARegisterDetails =  $scope.gridOptionsFARegisterDetail.data;
                                modalInstance.result.then(function (result)
                                {
                                    if(result.ContractorID>0)
                                    {
                                        $scope.FARegister.ContractorName=result.Name;
                                        $scope.FARegister.ContractorID=result.ContractorID;
                                    }else
                                    {
                                        alert("No Data Selected!!");
                                    }
                                }, function () {
                                    $log.info('Modal dismissed at: ' + new Date());
                                });
                            },
                                function (response) { debugger;  alert(response.statusText);}
                        );
            };
            $scope.SearchKeyDownContractor = function (e){
                //debugger;
                var code = (e.keyCode ? e.keyCode : e.which);
           
                if (code == 13) 
                {
                    var txtOrder = $.trim($scope.FARegister.ContractorName);
                    if(txtOrder=="" || txtOrder==null)
                    {
                        alert("Type Contractor Name and Press Enter");
                        return;
                    }
                    $scope.PickContractor();
                }else if (code == 8) //backspace=8
                {
                    $scope.RemoveContractor_Srv();
                }
            };
            $scope.RemoveContractor = function ()
            {
                debugger;
                $scope.FARegister.ContractorName="";
                $scope.FARegister.ContractorID=0;
            };

            $scope.PickContractor_Srv= function ()
            {
                var oContractor= {
                    Params:'1~'+(($scope.FARegister.ContractorName_Service==undefined)? '':$scope.FARegister.ContractorName_Service)
                };
                debugger;
                var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
                $http.post(_sBaseAddress+'/Contractor/ContractorSearchByNameType',$.param(oContractor), config).then(
                            function (response)
                            {
                                var oDetailColumns = [];
                                var oColumn = { field: 'ContractorID', name:'Code', width:'8%',cellClass: 'text-right', enableCellEdit:false };oDetailColumns.push(oColumn);
                                oColumn = { field: 'Name', name:'Name', width:'92%',cellClass: 'text-left', enableCellEdit:false };oDetailColumns.push(oColumn);
                                var results=response.data;
                                if(results[0].ContractorID==0)
                                {
                                    alert("No Service Provider Found!!"); return;
                                }

                                var modalObj={
                                    size:'md',
                                    url:_sBaseAddress+'/Home/Modal',
                                    modalcontroller:'',
                                    appcontroller:'FARegisterCtrl',
                                    objs:results,
                                    multiSelect:false,
                                    pickertitle:'Contractor_Srv List',
                                    searchingbyfieldName:'Name',
                                    columns:oDetailColumns
                                }
                                var modalInstance=msModal.Instance(modalObj);
                                //var oFARegisterDetails =  $scope.gridOptionsFARegisterDetail.data;
                                modalInstance.result.then(function (result)
                                {
                                    if(result.ContractorID>0)
                                    {
                                        $scope.FARegister.ContractorName_Service=result.Name;
                                        $scope.FARegister.ContractorID_Service=result.ContractorID;
                                    }else
                                    {
                                        alert("No Data Selected!!");
                                    }
                                }, function () {
                                    $log.info('Modal dismissed at: ' + new Date());
                                });
                            },
                                function (response) { debugger;  alert(response.statusText);}
                        );
            };
            $scope.SearchKeyDownContractor_Srv = function (e){
                var code = (e.keyCode ? e.keyCode : e.which);
           
                if (code == 13) 
                {
                    var txtOrder = $.trim($scope.FARegister.ContractorName);
                    if(txtOrder=="" || txtOrder==null)
                    {
                        alert("Type Contractor_Srv Name and Press Enter");
                        return;
                    }
               
                    $scope.PickContractor_Srv();
                }else if (code == 8) //backspace=8
                {
                    $scope.RemoveContractor_Srv();
                }
            };
            $scope.RemoveContractor_Srv = function ()
            {
                debugger;
                $scope.FARegister.ContractorName_Service="";
                $scope.FARegister.ContractorID_Service=0;
            };

            $scope.Validation=function()
            {
                debugger;
                //if($scope.FARegister.SLNo=="")
                //{
                //    angular.element('#SLNo').focus();
                //    alert("Please Enter SL No & try again!"); return false;
                //}
                //else 
                //if($scope.FARegister.ContractorID<=0)
                //{
                //    angular.element('#Contractor').focus();
                //    alert("Please Select a Supplier  & try again!"); return false;
                //}
                if($scope.FARegister.Amount_Cost<=0)
                {
                    angular.element('#Amount_Cost').focus();
                    alert("Amount Cost should be greater than zero!"); return false;
                }
                else if($scope.FARegister.CurrencyID<=0)
                {
                    angular.element('#Currency').focus();
                    alert("Please Select a Currency  & try again!"); return false;
                }
                else if($scope.FARegister.CRate<=0)
                    //{
                    //    angular.element('#CRate').focus();
                    //    alert("Please enter a Currency Rate & try again!"); return false;
                    //}
                    //else if($scope.FARegister.AccountNo=="")
                    //{
                    //    angular.element('#AccountNo').focus();
                    //    alert("Please Enter Account No & try again!"); return false;
                    //}
                    //else if($scope.FARegister.ContractorID_Service<=0)
                    //{
                    //    angular.element('#Contractor_Service').focus();
                    //    alert("Please Select a Service Provider  & try again!"); return false;
                    //}
                    return true;
            }

            $scope.save = function ()
            {
                //if(!$scope.Validation())return;
                var oFARegister=$scope.FARegister;
                oFARegister.PurchaseDate = new Date($scope.FARegister.PurchaseDateInString);

                oFARegister.DepStartDate = new Date($scope.FARegister.DepStartDateInString);
                oFARegister.WarrantyDate = new Date($scope.FARegister.WarrantyDateInString);
                oFARegister.WarrantyDate_Exp = new Date($scope.FARegister.WarrantyDate_ExpInString);
                //oFARegister.NextServiceDate = new Date($scope.FARegister.NextServiceDateInString);
                oFARegister.FAStatus = 1;
                $http.post(_sBaseAddress+'/FARegister/Save',JSON.stringify(oFARegister)).then(
                    function (response) {
                        var result=jQuery.parseJSON(response.data);
                        if(result.FARegisterID>0)
                        {
                            debugger;
                            $scope.FARegister=result;
                            userSession.setData('FARegisters',$scope.FARegister);
                            msModal.Message({headerTitle : '', bodyText:'Save Successfully.', sucessText : 'Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                            userSession.previousPage();
                        }
                        else
                        {
                            alert(result.ErrorMessage);
                        }

                    },
                    function (response) { alert(jQuery.parseJSON(response.data).ErrorMessage);}
            );
            };
            $scope.Revise = function ()
            {
                //if(!$scope.Validation())return;
                var oFARegister=$scope.FARegister;
                oFARegister.PurchaseDate = new Date($scope.FARegister.PurchaseDateInString);

                oFARegister.DepStartDate = new Date($scope.FARegister.DepStartDateInString);
                oFARegister.WarrantyDate = new Date($scope.FARegister.WarrantyDateInString);
                oFARegister.WarrantyDate_Exp = new Date($scope.FARegister.WarrantyDate_ExpInString);
                //oFARegister.NextServiceDate = new Date($scope.FARegister.NextServiceDateInString);
                oFARegister.FAStatus = 1;
                $http.post(_sBaseAddress+'/FARegister/Revise',JSON.stringify(oFARegister)).then(
                    function (response) {
                        var result=jQuery.parseJSON(response.data);
                        if(result.FARegisterID>0)
                        {
                            debugger;
                            $scope.FARegister=result;
                            userSession.setData('FARegisters',$scope.FARegister);
                            msModal.Message({headerTitle : '', bodyText:'Save Successfully.', sucessText : 'Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                            userSession.previousPage();
                        }
                        else
                        {
                            alert(result.ErrorMessage);
                        }

                    },
                    function (response) { alert(jQuery.parseJSON(response.data).ErrorMessage);}
            );
            };
            $scope.close = function () {
                userSession.previousPage();
            };

            $scope.SearchKeyDownPackingList =  function (e) {
                //debugger;
                var code = (e.keyCode ? e.keyCode : e.which);
                if (code == 13) {
                    var txtInvoiceNos = $.trim($scope.InvoiceNo);
                    if(txtInvoiceNos=="" || txtInvoiceNos==null)
                    {
                        alert("Type Invoice No and Press Enter");
                        return;
                    }
                    $scope.PickPackingList();
                }else if (code == 8) //backspace=8
                {
                    //debugger;
                    $scope.InvoiceNos = '';
                }
            };
            $scope.PickPackingList= function () {
                var oFARegisterDetail = {
                    ImportInvoiceNo: $.trim($scope.InvoiceNo)
                };

                var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
                $http.post(_sBaseAddress+'/FARegister/GetsPackingList',$.param(oFARegisterDetail), config).then(
                        function (response)
                        {
                            var oColumns = [];
                            var oColumn = { field: 'ImportInvoiceNo', name: 'InvoiceNo',width: '20%'  };oColumns.push(oColumn);
                            oColumn = { field: 'LotNo', name: 'Lot No',width: '15%', enableSorting: false  };oColumns.push(oColumn);
                            oColumn = { field: 'Qty', name: 'Qty',width: '12%', enableSorting: false  };oColumns.push(oColumn);
                            oColumn = { field: 'NumberOfPack', name: 'NumberOfPack',width: '12%', enableSorting: false  };oColumns.push(oColumn);
                            oColumn = { field: 'QtyPerPack', name: 'QtyPerPack',width: '12%', enableSorting: false  };oColumns.push(oColumn);
                            oColumn = { field: 'Qty_IPL', name: 'Qty(Packing List)',width: '12%', enableSorting: false  };oColumns.push(oColumn);
                            oColumn = { field: 'Qty_GRN', name: 'Qty(GRN)',width: '12%', enableSorting: false  };oColumns.push(oColumn);
                            var results=jQuery.parseJSON(response.data);
                            var modalObj={
                                size:'lg',
                                title:'Packing List',
                                url:_sBaseAddress+'/Home/Modal',
                                modalController:'',
                                appController:'FARegisterCtrl',
                                objs:results,
                                multiSelect:true,
                                pickertitle:' Packing List',
                                searchingbyfieldName:'ImportInvoiceNo',
                                columns:oColumns
                            }
                            var modalInstance=msModal.Instance(modalObj);
                            modalInstance.result.then(function (result)
                            {

                                angular.forEach(result,function(value,index){
                                    $scope.gridOptions.data.push(value);
                                });
                                $scope.gridApi.grid.modifyRows($scope.gridOptions.data);


                            }, function () {
                                $log.info('Modal dismissed at: ' + new Date());
                            });
                        },
                            function (response) { alert(jQuery.parseJSON(response.data).Message);}
                    );
            };

            $scope.deleteDetail = function ()
            {
                debugger;
                var data = $scope.gridApi.selection.getSelectedRows();
                if(data==null || data[0].length>0){
                    msModal.Message({headerTitle : '', bodyText:"Select an item from list", sucessText : ' Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                    return false;
                }
                angular.forEach($scope.gridOptions.data, function (value, index)
                {
                    if (value.FARegisterDetailID == data[0].FARegisterDetailID) {
                        $scope.gridOptions.data.splice(index, 1);
                    }
                }, $scope.gridOptions.data);
                //$http.post('/FARegister/DeleteDetail', JSON.stringify(data[0])).then(
                //                function (response)
                //                {
                //                    if (jQuery.parseJSON(response.data) == 'Deleted')
                //                    {
                //                        angular.forEach($scope.gridOptions.data, function (value, index)
                //                        {
                //                            if (value.FARegisterDetailID == data[0].FARegisterDetailID) {
                //                                $scope.gridOptions.data.splice(index, 1);
                //                            }
                //                        }, $scope.gridOptions.data);
                //                    }
                //                    else {
                //                        msModal.Message({headerTitle : '', bodyText:jQuery.parseJSON(response.data), sucessText : ' Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                //                    }
                //                },
                //                function (response) { alert(jQuery.parseJSON(response.data)); }
                //            );
            };

            //$scope.Modal = function (obj, operation, url) {
            //    debugger;
            //    var modalInstance = $uibModal.open({
            //        //animation: $scope.animationsEnabled,
            //        ariaLabelledBy: 'modal-title',
            //        ariaDescribedBy: 'modal-body',
            //        size: 'lg',
            //        templateUrl: 'FARegisterDeatailModal.html',
            //        controller: 'ModalInstanceCtrl',
            //        controllerAs: 'FARegisterCtrl',
            //        resolve: {
            //            obj: function () {
            //                return { FARegister:$scope.FARegister, FARegisterDetail: obj, operation: operation };
            //            }
            //        }
            //    });

            //    modalInstance.result.then(function (result) {
            //        if(operation=='add'){
            //            $scope.gridOptions.data.push(result);
            //            if(result.FARegister.FARegisterID>0)
            //            {
            //                $scope.FARegister=result.FARegister;
            //                userSession.setData('FARegisters',$scope.FARegister);
            //                $scope.gridApi.grid.modifyRows($scope.gridOptions.data);
            //                $scope.gridApi.selection.selectRow($scope.gridOptions.data[0]);
            //            }
            //        }
            //        else{
            //            $scope.gridOptions.data[$scope.index]=result;
            //            $scope.gridApi.grid.modifyRows($scope.gridOptions.data);
            //            $scope.gridApi.selection.selectRow($scope.gridOptions.data[$scope.index]);
            //        }
            //    }, function () {
            //        $log.info('Modal dismissed at: ' + new Date());
            //    });
            //};


        });


    FARegisterModule.controller('ModalInstanceCtrl', function ($scope, $http, $uibModalInstance, msModal, obj) {
        debugger;
        $scope.operation=obj.operation;
        $scope.ActualCostPrice = 0;
        $scope.UseFullLife =0;
        $scope.ActualSalvage = 0;
        $scope.ActualDepRate = 0;
        $scope.CostPerTerm = 0;
        $scope.result = 0;

        if(obj.value.FARegisterID>0){
            $scope.ActualCostPrice = obj.value.ActualCostPrice;
            $scope.UseFullLife = obj.value.UseFullLife;
            $scope.ActualSalvage = obj.value.ActualSalvage;
            $scope.ActualDepRate = obj.value.ActualDepRate;
        }
        $scope.Calculation = function()
        {
            $scope.CostPerTerm = ($scope.ActualCostPrice - $scope.ActualSalvage) / $scope.UseFullLife;
            $scope.ActualDepRate =  $scope.CostPerTerm / $scope.ActualCostPrice * 100;
        }
        $scope.RateClose= function () {
            $uibModalInstance.close($scope.obj);
        };
        $scope.RateOK= function ()
        {
            debugger;
            if($scope.ActualDepRate<0)
            {
                alert("Sorry, Dep Rate can't be less than 0 !!"); return;
            }
            $uibModalInstance.close($scope.ActualDepRate);
        };
    });




</script>


