@{
    ViewBag.Title = "Email Config";
}
<html>
<body>
    @model ESimSol.BusinessObjects.EmailConfig
    <div class="menuMainCollectionTable" style="height: 550px;">
        <div id="divEmailConfig" class="easyui-panel" title="Email Config" style="font-family:Tahoma; text-align:center; height:89%;">
            <fieldset style="height:100%; text-align:center;">
                <legend style="font-weight:bold"> Email Config : </legend>
                <table border="0" cellspacing="5" cellpadding="5" style="font-size:11px; font-weight:bold; text-align:center; width:80%">
                    <tr>
                        <td style="height:150px;">&nbsp;</td>
                        <td style="height:150px;">&nbsp;</td>
                    </tr>

                    <tr>
                        <td style="width:30%; text-align:right">
                            BU Name :
                        </td>
                        <td style="width: 70%; text-align: left">
                            <select style="width: 80%;" id="cboBUName"></select>
                        </td>
                    </tr>
                   
                    <tr>
                        <td style="width:30%; text-align:right">
                            Email Address :
                        </td>
                        <td style="width: 70%; text-align: left">
                            <input type="text" style="width: 80%;" id="txtEmailAddress" />
                        </td>
                    </tr>

                    <tr>
                        <td style="width:30%; text-align:right">
                            Email Password :
                        </td>
                        <td style="width: 70%; text-align: left">
                            <input  type="password" style="width: 80%;" id="txtEmailPassword" />
                        </td>
                    </tr>

                    <tr>
                        <td style="width:30%; text-align:right">
                            Email Display Name :
                        </td>
                        <td style="width: 70%; text-align: left">
                            <input type="text" style="width: 80%;" id="txtEmailDisplayName" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%; text-align:right">
                            Port Number :
                        </td>
                        <td style="width: 70%; text-align: left">
                            <input type="text" style="width: 80%;" id="txtPortNumber" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%; text-align:right">
                            Host Name :
                        </td>
                        <td style="width: 70%; text-align: left">
                            <input type="text" style="width: 80%;" id="txtHostName" />
                        </td>
                    </tr>                   
                    <tr>
                        <td style="width:30%; text-align:right">
                            Remarks :
                        </td>
                        <td style="width: 70%; text-align: left">
                            <input type="text" style="width: 80%;" id="txtRemarks" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%; text-align:right">
                            
                        </td>
                        <td style="width: 70%; text-align: left">
                            <label><input type="checkbox" id="chkSSLRequired" /> SSL Required</label>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:100%;text-align:right">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>

<script type="text/javascript">
    debugger;
    $(document).ready(function () {
        var sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oEmailConfig =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oBusinessUnits =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));       
        $("#cboBUName").icsLoadCombo({List: oBusinessUnits, OptionValue: "BusinessUnitID", DisplayText: "ShortName", InitialValue:"--Select Business Unit --" });
        $('#divEmailConfig').data('EmailConfig', oEmailConfig);
        $('#divEmailConfig').data('BaseAddress', sBaseAddress);
        RefreshControl(oEmailConfig);
        if(sessionStorage.getItem("EmailConfigHeader")=="View EmailConfig")
        {            
            $('#btnSave').hide();            
            $('#txtEmailAddress').attr('disabled','disabled');
            $('#txtEmailPassword').attr('disabled','disabled');
            $('#cboBUName').attr('disabled','disabled');    
            $('#txtEmailDisplayName').attr('disabled','disabled');
            $('#txtPortNumber').attr('disabled','disabled');
            $('#txtHostName').attr('disabled','disabled');
            $('#txtRemarks').attr('disabled','disabled');
            $('#chkSSLRequired').attr('disabled','disabled');
        }

    });
        function RefreshControl(oEmailConfig)
        {
            debugger;
            $("#cboBUName").val(oEmailConfig.BUID);
            $("#txtEmailAddress").val(oEmailConfig.EmailAddress);
            $("#txtEmailPassword").val(oEmailConfig.EmailPassword);
            $("#txtEmailDisplayName").val(oEmailConfig.EmailDisplayName);
            $("#txtPortNumber").val(oEmailConfig.PortNumber);
            $("#txtHostName").val(oEmailConfig.HostName);
            $("#txtRemarks").val(oEmailConfig.Remarks);
            $('#chkSSLRequired').attr("checked", oEmailConfig.SSLRequired);
        }


        function RefreshObject()
        {
            debugger;
            var oEmailConfig={
                EmailConfigID : parseInt($('#divEmailConfig').data('EmailConfig').EmailConfigID),
                BUID: parseInt($("#cboBUName").val()),
                EmailAddress: $("#txtEmailAddress").val(),
                EmailPassword : $("#txtEmailPassword").val(),
                EmailDisplayName:$("#txtEmailDisplayName").val(),
                PortNumber : $("#txtPortNumber").val(),
                HostName : $("#txtHostName").val(),
                Remarks : $("#txtRemarks").val(),
                SSLRequired : $('#chkSSLRequired').is(":checked")
            };
            return oEmailConfig;
        }

        $('#btnSave').click(function(){
            debugger;
            
            if(!ValidateInput()) return;
            var oEmailConfig=RefreshObject();
            $.ajax({
                type: "POST",
                dataType: "json",
                url : $('#divEmailConfig').data('BaseAddress')+"/EmailConfig/Save",
                traditional: true,
                data:  JSON.stringify(oEmailConfig),
                contentType: "application/json; charset=utf-8",
                success: function (data)
                {
                    oEmailConfig = jQuery.parseJSON(data);
                    if (oEmailConfig.ErrorMessage==""||oEmailConfig.ErrorMessage==null)
                    {
                        alert("Data Saved sucessfully");
                        var oEmailConfigs = sessionStorage.getItem("EmailConfigs");
                        var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                        if (oEmailConfigs != null)
                        {
                            oEmailConfigs = jQuery.parseJSON(oEmailConfigs);
                        }
                        else {
                            oEmailConfigs = [];
                        }
                        if (nIndex != -1)
                        {
                            oEmailConfigs[nIndex] = oEmailConfig;
                        }
                        else {
                            sessionStorage.setItem("SelectedRowIndex", oEmailConfigs.length);
                            oEmailConfigs.push(oEmailConfig);
                        }
                        sessionStorage.setItem("EmailConfigs", JSON.stringify(oEmailConfigs));
                        window.location.href = sessionStorage.getItem("BackLink");
                    }
                    else
                    {
                        alert(oEmailConfig.ErrorMessage);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }

            });
        });

        function ValidateInput()
        {
                      
            if($("#txtEmailPassword").val()==null || $("#txtEmailPassword").val()=="")
            {
                alert("Password Cannot be empty!");
                $('#txtEmailPassword').focus();
                return false;
            }
            var nBUNameTypes = parseInt($("#cboBUName").val());
            if(nBUNameTypes==null || nBUNameTypes==0)
            {
                alert("Please select Business Unit!");
                $('#cboBUName').focus();
                return false;
            }

            if($("#txtEmailDisplayName").val()==null || $("#txtEmailDisplayName").val()=="")
            {
                alert("Please enter Email Display Name!");
                $('#txtEmailDisplayName').focus();
                return false;
            }
            if($("#txtPortNumber").val()==null || $("#txtPortNumber").val()=="")
            {
                alert("Please enter a Port Number!");
                $('#txtPortNumber').focus();
                return false;
            }

            if($("#txtHostName").val()==null || $("#txtHostName").val()=="")
            {
                alert("Please enter a Port Number!");
                $('#txtHostName').focus();
                return false;
            }
            return true;
        }
        $('#btnClose').click(function(){
            window.location.href = sessionStorage.getItem("BackLink");
        });

        $(document).keydown(function(e) {
            if(e.which == 27)//escape=27
            {
                window.location.href = sessionStorage.getItem("BackLink");
            }
        });
    
</script>