@{
    ViewBag.Title = "Time Card List";
}
@model IEnumerable<ESimSol.BusinessObjects.MaxOTConfiguration>
<div id="divTimeCard" class="easyui-panel" title="Role Assign" style="font-family:Tahoma; height:100%; width:100%">
    <div style="width:100%; height:87%; text-align:left; padding-top:2px">
        <table id="tblTimeCard" title="" class="easyui-datagrid" fitcolumns="true" fit="true" rownumbers="true" pagination="fales" singleselect="false" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th data-options="field:'Selected',checkbox:true"></th>
                    <th field="TimeCardName" width="80">Time Card No</th>
                    <th field="MaxOutTimeInString" width="150">Max Out Time</th>
                    <th field="MinInTimeInString" width="100">Min In Time</th>
                </tr>
            </thead>
        </table>
        @*<div id="toolbar">
            <input type="text" id="txtSearchRollName" placeholder="Search by Role Name" style="width:200px" />
            <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>
        </div>*@
    </div>
    <div style="width:100%; height:10%">
        <fieldset>
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                <tr>
                    <td style="width:80%; text-align:right"></td>
                    <td style="width: 10%">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                    </td>
                    <td style="width: 10%">
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>


<script type="text/javascript">  
    $(document).ready(function () {        
        var oTimeCards = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oSelectedUser =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.SelectedUser));
        var oAssignedRoles =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.MaxOTConfigurations));

        $('#tblTimeCard').data('SelectedRoles', []);  
        $('#tblTimeCard').data('SelectedUser', oSelectedUser);
        $('#tblTimeCard').data('AssignedRoles', oAssignedRoles);
        $('#tblTimeCard').data('TimeCards', oTimeCards);
        $('#divTimeCard').panel('setTitle', 'Time Card Assign for : '+oSelectedUser.UserName+ ' (Log-In ID : '+ oSelectedUser.LogInID+')');

        RefreshList(oTimeCards);
        SetTimeCards();
    });
 
    function SetTimeCards()
    {
        debugger;
        var oAssignedTimeCards= $('#tblTimeCard').data('AssignedRoles');
        var oTimeCards = $('#tblTimeCard').datagrid('getRows'); 
        for(var i =0;i<oAssignedTimeCards.length;i++)
        {
            for(var j =0;j<oTimeCards.length;j++)
            {
                if(parseInt(oAssignedTimeCards[i].MOCID) ===  parseInt(oTimeCards[j].MOCID))
                {
                    $('#tblTimeCard').datagrid('checkRow', j);   
                    break;
                }
            }
        }
    }
    function RefreshList(oTimeCards)
    {
        data=oTimeCards;
        data={"total":""+data.length+"","rows":data};
        $('#tblTimeCard').datagrid('loadData',data);
    }

    function ValidateInput()
    {  
        var oTimeCards = $('#tblTimeCard').datagrid('getChecked'); 
        if(oTimeCards.length<=0)
        {
            alert("Please select at least one Role!");
            return false;
        }

        var oSelectedUser = $('#tblTimeCard').data('SelectedUser');
        if(oSelectedUser === null || parseInt(oSelectedUser.UserID)===0)
        {
            alert("Invalid Users!");
            return false;
        }
        return true;
    }

    function RefreshObjects()
    {  
        debugger;
        var oSelectedUser = $('#tblTimeCard').data('SelectedUser');
        var oTimeCards = $('#tblTimeCard').datagrid('getChecked'); 
        var oMaxOTConfigurationUsers =[];
        for(var i =0; i<oTimeCards.length; i++)
        {
            var oMaxOTConfigurationUser= { 
                MOCUID : parseInt(GetMappingID(oTimeCards[i].MOCID)),
                MOCID : parseInt(oTimeCards[i].MOCID),
                UserID : parseInt(oSelectedUser.UserID)
            };
            oMaxOTConfigurationUsers.push(oMaxOTConfigurationUser);
        }
        return oMaxOTConfigurationUsers;
    } 
    
    function GetMappingID(nMOCID)
    {
        debugger;
        var oAssignedRoles = $('#tblTimeCard').data('AssignedRoles');
        for(var i =0;i<oAssignedRoles.length;i++)
        {
            if(parseInt(oAssignedRoles[i].MOCID) === parseInt(nMOCID))
            {
                return oAssignedRoles[i].MOCUID;
            }
        }
        return 0;
    }

    $('#btnSave').click(function(){
        debugger;
        if(!ValidateInput()) return;
        var oAllTimeCards = $('#tblTimeCard').data('TimeCards');
        var oTimeCards = $('#tblTimeCard').datagrid('getRows'); 

        var bIsShortList = false;
        if(oTimeCards.length != oTimeCards.length)
        {
            bIsShortList = true;            
        }
        else
        {
            bIsShortList = false;
        }
        
        var oMaxOTConfiguration = {
            IsShortList : bIsShortList,
            IsUserBased : true,
            MaxOTConfigurationUsers : RefreshObjects()
        };


        $.ajax({
            type: "POST",
            dataType: "json",            
            url : sessionStorage.getItem('BaseAddress')+"/Compliance/SaveMaxOTConfigurationUser",
            traditional: true,
            data:  JSON.stringify(oMaxOTConfiguration),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sfeedBackMessage= jQuery.parseJSON(data);
                if (sfeedBackMessage == "Succefully Saved") 
                {                    
                    alert("Data Save Successfully!!");
                    window.location.href = sessionStorage.getItem("BackLink");
                }
                else 
                {
                    alert(sfeedBackMessage);
                }
            },
            error: function (xhr, status, error) 
            {
                alert(error);
            }
        });
    });

    $('#btnClose').click(function(){
        window.location.href = sessionStorage.getItem("BackLink");
    });

</script>
