@{
    ViewBag.Title = "Packing List";
}
@model IEnumerable<ESimSol.BusinessObjects.PackingList>
    <div class="menuMainCollectionTable">
        <table id="tblPackingLists" title="Packing List" class="easyui-datagrid" style="width:100%; height:520px;" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="InvoiceNo" width="120">Invoice No</th>
                    <th field="StyleWithRecapNo" width="80">Style/Recap</th>
                    <th field="TotalQty" width="100" align="right" formatter="formatPrice">Shipment Qty</th>
                    <th field="UnitInPack" width="100" formatter="formatPrice" align="right">Unit In Pack</th>
                    <th field="PackInCarton" width="100" formatter="formatPrice" align="right">Pack In Caron</th>
                    <th field="CartonQty" width="100" formatter="formatPrice" align="right">Carton QTy</th>
                    <th field="TotalGrossWeight" formatter="formatPrice" align="right" width="80">Total G.W</th>
                    <th field="TotalNetWeight" width="100" formatter="formatPrice" align="right">Total Net.W</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="Add()">Add</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="Edit()">Edit</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true" onclick="Details()">View</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="Delete()">Delete</a>
            <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>     

        </div>
        <fieldset style="height:6%; width:98%;">
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="0" cellpadding="0" style="font-size: 11px; font-weight: bold; vertical-align:middle; width:100%">
                <tr>
                    <td style="width:92%; text-align: right"></td>
                    <td style="width:8%">
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>


    <script type="text/javascript">
        var _oPackingLists=[];
        var _sBaseAddress="";
        var _oAuthorizationRolesMapping=[];
        var _lBackLink  ="";
        $(document).ready(function () {
            //debugger;
            _oPackingLists =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
            _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
            _oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
            _lBackLink = sessionStorage.getItem("BackLinkCI");
            var oPackingLists =sessionStorage.getItem("PackingLists");
            if(oPackingLists!=null)
            {
                oPackingLists = jQuery.parseJSON(oPackingLists);
            }
            else
            {
                oPackingLists=_oPackingLists;
            }

            RefreshList(oPackingLists);
            RefreshControlLayout();
        });


        function Add()
        {
            //debugger;

            var oPackingLists= $('#tblPackingLists').datagrid('getRows');
            sessionStorage.setItem("PackingLists", JSON.stringify(oPackingLists));
            sessionStorage.setItem("SelectedRowIndex", -1);
            sessionStorage.setItem("PackingListHeader", 'Add Packing List');
            var oBackLink = window.location.href;
            sessionStorage.setItem("BackLink", oBackLink);
            window.location.href =_sBaseAddress+ "/PackingList/ViewPackingList?id=0";
        }
        

        function Edit()
        {
            //debugger;
            var oPackingList= $('#tblPackingLists').datagrid('getSelected');
            if(oPackingList==null || oPackingList.PackingListID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            var SelectedRowIndex=$('#tblPackingLists').datagrid('getRowIndex',oPackingList);
            var oPackingLists= $('#tblPackingLists').datagrid('getRows');
            sessionStorage.setItem("PackingLists", JSON.stringify(oPackingLists));
            sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
            sessionStorage.setItem("PackingListHeader", 'Edit Quality Control');
            var oBackLink = window.location.href;
            sessionStorage.setItem("BackLink", oBackLink);
            window.location.href =_sBaseAddress+  "/PackingList/ViewPackingList?id="+oPackingList.PackingListID;
        }



        function Details()
        {
            debugger;
            var oPackingList= $('#tblPackingLists').datagrid('getSelected');
            if(oPackingList==null || oPackingList.PackingListID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            var SelectedRowIndex=$('#tblPackingLists').datagrid('getRowIndex',oPackingList);
            var oPackingLists= $('#tblPackingLists').datagrid('getRows');
            sessionStorage.setItem("PackingLists", JSON.stringify(oPackingLists));
            sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
            sessionStorage.setItem("PackingListHeader", 'View Packing List');
            var oBackLink = window.location.href;
            sessionStorage.setItem("BackLink", oBackLink);
            window.location.href =_sBaseAddress+  "/PackingList/ViewPackingList?id="+oPackingList.PackingListID;
        }

        function Delete()
        {
            //debugger;
            var oPackingList= $('#tblPackingLists').datagrid('getSelected');
            if(oPackingList==null || parseInt(oPackingList.PackingListID)<=0)
            {
                alert("Invalid Field!!! please select a valid Field!");
                return false;
            }
          
            if (!confirm("Confirm to Delete?")) return ;
            var SelectedRowIndex=$('#tblPackingLists').datagrid('getRowIndex',oPackingList);
            if (oPackingList.PackingListID > 0)
            {
                $.ajax
                ({
                    type: "GET",
                    dataType: "json",
                    url : _sBaseAddress+  "/PackingList/Delete",
                    data: { id: oPackingList.PackingListID},
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        //debugger;
                        feedbackmessage = jQuery.parseJSON(data);
                        if (feedbackmessage == "Data delete successfully")
                        {
                            alert("Delete sucessfully");
                            $('#tblPackingLists').datagrid('deleteRow',SelectedRowIndex);
                        }
                        else
                        {
                            alert(feedbackmessage);
                        }
                    },
                    error: function (xhr, status, error)
                    {
                        alert(error);
                    }

                });
            }
        }


        function RefreshList(oPackingLists)
        {
            data=oPackingLists;
            data={"total":""+data.length+"","rows":data};
            $('#tblPackingLists').datagrid('loadData',data);
            var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
            $('#tblPackingLists').datagrid('selectRow',nIndex);
        }


        $('#btnPreview').click(function (e) {
            var oPackingList= $('#tblPackingLists').datagrid('getSelected');
            if(oPackingList==null || oPackingList.PackingListID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            window.open(_sBaseAddress + '/PackingList/PackingListPreview?id='+oPackingList.PackingListID);
        }); 
        
        function Close()
        {
            window.location.href = _lBackLink;
        }


        function RefreshControlLayout()
        {
            $('#btnAdd').hide();
            $('#btnEdit').hide();
            $('#btnDelete').hide();
            $('#btnView').hide();

            if(HavePermission('Add','PackingList')){$('#btnAdd').show();}
            if(HavePermission('Edit','PackingList')){$('#btnEdit').show();}
            if(HavePermission('Delete','PackingList')){$('#btnDelete').show();}
            if(HavePermission('View','PackingList')){$('#btnView').show();}

        }

        function HavePermission(sOperationType, sDbObject)
        {
            var nSessionID =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.currentUserID]));
            if(nSessionID == -9) //check SuperUser
            {
                return true;
            }else
            {

                for(var i =0;i<_oAuthorizationRolesMapping.length;i++)
                {
                    if(_oAuthorizationRolesMapping[i].OperationTypeInString == sOperationType && _oAuthorizationRolesMapping[i].DBObjectName == sDbObject)
                        return  true;
                }
                return false;
            }
        }
    </script>
