@{
    ViewBag.Title = "Purchase Orders List";
}
@model IEnumerable<ESimSol.BusinessObjects.PurchaseOrder>
<head>
    
</head>
<body>
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div id="divPO" class="menuMainCollectionTable" style="margin-left: 0px; height:100%; width:100%">
        <table id="tblPurchaseOrders" title="PurchaseOrder List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarPurchaseOrder">
            <thead>
                <tr>
                    <th field="FullPONo" width="10%">PO No</th>
                    <th field="PODateSt" width="10%">Date</th>
                    <th field="PaymentModeSt" width="10%">Payment</th>
                    <th field="POStatusSt" width="10%">Status</th>   
                    <th field="ApprovalStatus" width="150">App Status</th>                 
                    <th field="ContractorName" width="20%">Supplier Name</th>
                    <th field="ConcernPersonName" width="20%">Concern Person</th>
                    <th field="ApprovedByName" width="15%">ApprovedBy</th>
                    <th field="AmountSt" width="15%" align="right">PO Amount</th>
                    <th field="PrepareByName" width="15%">Prepare By Name</th>
                    
                </tr>
            </thead>
        </table>
        <div id="toolbarPurchaseOrder">
            <table>
                <tr>
                    <td>
                        <input type="text" id="txtSearchByPONo" placeholder="Search By PO No" style="width: 100px;" />
                        <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>
                        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                        <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
                        <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                        <a id="btnWaitForApproved" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Wait for Approved</a>
                        <a id="btnSendTo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-forword" plain="true">Send</a> 
                        <a id="btnApproved" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true">Approve</a>
                        <a id="btnUndoApproved" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true">Undo Approve</a>
                        <a id="btnCreatePI" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true">Create PI</a>   
                        <a id="btnPrintFormat" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-setting" plain="true">Print Format</a>                     
                        <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                        <a id="btnPreviewWithSub" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview With Subject</a>
                        <a id="btnPrintList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print List</a>
                        <a id="btnWOPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">WO</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    @*send to picker*@
    <div id="winSendTo" class="easyui-window winClass" title="Send To" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="width:360px;height:170px; float: left;align-content:center;">
            <div style="margin-left: 10%; margin-top:6%;">
                <table border="0" cellpadding="2" cellspacing="0" style="width:100%;">
                    <tr>
                        <td>
                            <fieldset style="margin-left:-10%;">
                                <table>
                                    <tr>
                                        <td width="30%">Send To </td>
                                        <td width="80%">
                                            <input id="txtSendTo" type="text" required="required" style="width:200px;" disabled />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="30%">Person </td>
                                        <td width="80%">
                                            <select id="cboPersonList" style="width:200px;"></select>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 100%; text-align: right;" colspan="2">
                            <fieldset style="margin-left:-10%;">
                                <legend style="font-weight: bold; text-align:left;">Actions : </legend>
                                <a href="javascript:void(0)" id="btnOkSendTo" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
                                <a href="javascript:void(0)" id="btnCloseSendTo" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                            </fieldset>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div id="winAdvanceSearch" class="easyui-window" title="Advance Search" style="width:540px;height:375px;padding:2px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div>
            <fieldset>
                <legend style="font-weight:bold"> Searching Criteria : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:170px; text-align:right">
                            PO No :
                        </td>
                        <td style="width:370px">
                            <input type="text" style="width: 370px;" id="txtPONo" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Ref Type :
                        </td>
                        <td style="width:370px">
                            <select id="cboRefType" style="width:100%"><option value="0">--Select PO Type--</option><option value="1">Open</option><option value="2">@ViewBag.ClientOperationSetting.Value</option><option value="3">Requisition</option></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Ref No :
                        </td>
                        <td style="width:370px">
                            <input type="text" style="width: 370px;" id="txtRefNo" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            PO Date :
                        </td>
                        <td style="width:370px">
                            <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                                <tr>
                                    <td style="width: 120px; font-size: 12px; text-align: left">
                                        <select id="cboPODate" style="width:120px"></select>
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtPOStartDate" type="text" style="width: 120px;" class="easyui-datebox" disabled="disabled" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                    <td style="width: 10px; font-size: 12px">
                                        To
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtPOEndDate" type="text" style="width: 120px;" class="easyui-datebox" disabled="disabled" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            PO Amount :
                        </td>
                        <td style="width:370px">
                            <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                                <tr>
                                    <td style="width: 120px; font-size: 12px; text-align: left">
                                        <select id="cboPOAmount" style="width:120px"></select>
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtPOAmountStart" style="width:114px" />
                                    </td>
                                    <td style="width: 10px; font-size: 12px">
                                        To
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtPOAmountEnd" style="width:114px" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Approved By :
                        </td>
                        <td style="width:370px">
                            <select id="cboApprovedBy" style="width:375px"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Supplier(s) :
                        </td>
                        <td style="width:370px">
                            <input type="text" style="width: 282px;" id="txtSupplierName" placeholder="Press enter with supplier name/code" />
                            <input type="button" style="width: 30px;" id="btnSupplierClear" value="C" />
                            <input type="button" style="width: 50px;" id="btnSupplierPicker" value="Pick" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Product(s) :
                        </td>
                        <td style="width:370px">
                            <input type="text" style="width: 282px;" id="txtProductName" placeholder="Press enter with product name/code" />
                            <input type="button" style="width: 30px;" id="btnProductClear" value="C" />
                            <input type="button" style="width: 50px;" id="btnProductPicker" value="Pick" />
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset style="width:498px; vertical-align:top;">
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold;">
                <tr>
                    <td style="width:100px;text-align:right">
                        <a id="btnAdvSearchReset" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"> Reset</a>
                    </td>
                    <td style="width:408px;text-align:right;">
                        <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                        <a id="btnAdvSearchClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
    <div id="winPrintFormat2" style="width:550px;" class="easyui-window winstyle" title="Adv. Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <fieldset>
            <legend>Print Setup</legend>
            <table style="width:100%;">
                <tr>
                    <td style="text-align:right;">
                        Print Title :
                    </td>
                    <td>
                        <input id="chkPrintTitleInNormalFormat" type="checkbox" checked onclick="if(this.checked){PrintTitleFormat(1)}" /> Normal Format
                    </td>
                    <td>
                        <input id="chkPrintTitlePadFormat" type="checkbox" onclick="if(this.checked){PrintTitleFormat(2)}" /> Pad Format
                    </td>
                    <td>
                        <input id="chkPrintTitleImageFormat" type="checkbox" onclick="if(this.checked){PrintTitleFormat(3)}" /> Image Format
                    </td>

                </tr>
            </table>
        </fieldset>
        <fieldset class="actionfieldsetstyle">
            <legend>Actions : </legend>
            <a id="btnOkPrintFormat2" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
            <a id="btnClosePrintFormat2" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>
</body>

<script type="text/javascript">
    $(document).ready(function() {
        var oPurchaseOrders = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oAuthorizationRolesMapping = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        var oApprovalUsers=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ApprovalUsers));
        var oDateCompareOperatorObjs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.DateCompareOperatorObjs));
        var oAmountCompareOperatorObjs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.AmountCompareOperatorObjs));
        var oClientOperationSetting = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ClientOperationSetting));
        
        var nSelectedRowIndex  =parseInt(sessionStorage.getItem("SelectedRowIndex"));
        var oTempPurchaseOrders =sessionStorage.getItem("PurchaseOrders");
        if(oTempPurchaseOrders!=null)
        {
            oPurchaseOrders = jQuery.parseJSON(oTempPurchaseOrders);
        }

        $('#divPO').data("IsApprovalHead",false);
        sessionStorage.setItem("ImageFormat",1);//default set
        RefreshList(oPurchaseOrders);
        RefreshControlLayout(oAuthorizationRolesMapping);
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        $('#txtSupplierName').data('Suppliers', []);
        $('#txtProductName').data('Products', []);
        $('#cboApprovedBy').data('ApprovalUsers', oApprovalUsers);
        $('#cboPODate').data('DateCompareOperatorObjs', oDateCompareOperatorObjs);
        $('#cboPOAmount').data('AmountCompareOperatorObj', oAmountCompareOperatorObjs);
        $('#tblPurchaseOrders').data('PurchaseOrders', oPurchaseOrders);
        $('#txtPOAmountStart,#txtPOAmountEnd').icsCurrencyBox();

    });

    $("#btnAdd").click(function(){
        var oPurchaseOrders= $('#tblPurchaseOrders').datagrid('getRows');
        sessionStorage.setItem("PurchaseOrders", JSON.stringify(oPurchaseOrders));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("PurchaseOrderHeader", "Add PurchaseOrder");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem("BaseAddress")+ "/PurchaseOrder/ViewPurchaseOrder?buid="+parseInt(sessionStorage.getItem("BUID"))+"&id=0";
    });

    $("#btnEdit").click(function(){
        var oPurchaseOrder= $('#tblPurchaseOrders').datagrid('getSelected');
        if(oPurchaseOrder==null || parseInt(oPurchaseOrder.POID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oPurchaseOrder.ApproveBy)!=0)
        {
            alert("Please selected purchase Order already approved!");
            return;
        }
        var SelectedRowIndex=$('#tblPurchaseOrders').datagrid('getRowIndex',oPurchaseOrder);
        var oPurchaseOrders= $('#tblPurchaseOrders').datagrid('getRows');
        sessionStorage.setItem("PurchaseOrders", JSON.stringify(oPurchaseOrders));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("PurchaseOrderHeader", "Edit PurchaseOrder");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/PurchaseOrder/ViewPurchaseOrder?buid="+parseInt(oPurchaseOrder.BUID)+"&id="+parseInt(oPurchaseOrder.POID);
    });

    $("#btnView").click(function(){
        var oPurchaseOrder= $('#tblPurchaseOrders').datagrid('getSelected');
        if(oPurchaseOrder==null || parseInt(oPurchaseOrder.POID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblPurchaseOrders').datagrid('getRowIndex',oPurchaseOrder);
        var oPurchaseOrders= $('#tblPurchaseOrders').datagrid('getRows');
        sessionStorage.setItem("PurchaseOrders", JSON.stringify(oPurchaseOrders));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("PurchaseOrderHeader", "View PurchaseOrder");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/PurchaseOrder/ViewPurchaseOrder?buid="+parseInt(oPurchaseOrder.BUID)+"&id="+parseInt(oPurchaseOrder.POID);
    });

    $('#btnDelete').click(function (e) {
        var oPurchaseOrder= $('#tblPurchaseOrders').datagrid('getSelected');
        if(oPurchaseOrder==null || parseInt(oPurchaseOrder.POID)<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if(parseInt(oPurchaseOrder.ApproveBy)!=0)
        {
            alert("Please selected purchase Order already approved!");
            return;
        }
        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblPurchaseOrders').datagrid('getRowIndex',oPurchaseOrder);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: sessionStorage.getItem("BaseAddress")+ "/PurchaseOrder/Delete",
            traditional: true,
            data:  JSON.stringify(oPurchaseOrder),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                feedbackmessage = jQuery.parseJSON(data);
                if (feedbackmessage == "Deleted")
                {
                    alert("Delete sucessfully");
                    $('#tblPurchaseOrders').datagrid('deleteRow',SelectedRowIndex);
                }
                else
                {
                    alert(feedbackmessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#btnApproved').click(function (e) {
        var oPurchaseOrder= $('#tblPurchaseOrders').datagrid('getSelected');
        if(oPurchaseOrder==null || parseInt(oPurchaseOrder.POID)<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }

        if(parseInt(oPurchaseOrder.ApproveBy)!=0)
        {
            alert("Selected purchase PO already approved!");
            return;
        }

        if($('#divPO').data("IsApprovalHead") && oPurchaseOrder.LastApprovalSequence!=oPurchaseOrder.ApprovalSequence)
        {
            alert("Invalid Approval State!!"); return false;
        }

        if (!confirm("Confirm to Approved?")) return ;
        var SelectedRowIndex=$('#tblPurchaseOrders').datagrid('getRowIndex',oPurchaseOrder);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: sessionStorage.getItem("BaseAddress")+ "/PurchaseOrder/Approved",
            traditional: true,
            data:  JSON.stringify(oPurchaseOrder),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                oPurchaseOrder = jQuery.parseJSON(data);
                if (parseInt(oPurchaseOrder.POID)>0) {
                    alert("Approved Successfully");
                    $('#tblPurchaseOrders').datagrid('updateRow',{index: SelectedRowIndex,	row: oPurchaseOrder});
                }
                else {
                    alert(oPurchaseOrder.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#btnUndoApproved').click(function (e) {
        var oPurchaseOrder= $('#tblPurchaseOrders').datagrid('getSelected');
        if(oPurchaseOrder==null || parseInt(oPurchaseOrder.POID)<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }

        if(parseInt(oPurchaseOrder.Status) == 0)
        {
            alert("Selected Purchase Order is Initialize!");
            return;
        }

        //if($('#divPO').data("IsApprovalHead") && oPurchaseOrder.LastApprovalSequence!=oPurchaseOrder.ApprovalSequence)
        //{
        //    alert("Invalid Approval State!!"); return false;
        //}

        if (!confirm("Confirm to Undo Approved?")) return ;
        var SelectedRowIndex=$('#tblPurchaseOrders').datagrid('getRowIndex',oPurchaseOrder);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: sessionStorage.getItem("BaseAddress")+ "/PurchaseOrder/UndoApproved",
            traditional: true,
            data:  JSON.stringify(oPurchaseOrder),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                oPurchaseOrder = jQuery.parseJSON(data);
                if (parseInt(oPurchaseOrder.POID)>0) {
                    alert("Undo Approve Successfully");
                    $('#tblPurchaseOrders').datagrid('updateRow',{index: SelectedRowIndex,	row: oPurchaseOrder});
                }
                else {
                    alert(oPurchaseOrder.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#btnWaitForApproved').click(function (e) {
        var oPurchaseOrder = {
            PurchaseOrderID : 0,
            BUID : parseInt(sessionStorage.getItem("BUID"))
        };

        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: sessionStorage.getItem("BaseAddress")+  "/PurchaseOrder/WaitForApproval",
            data:  JSON.stringify(oPurchaseOrder),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  oPurchaseOrders = jQuery.parseJSON(data);
                if (oPurchaseOrders != null) {
                    if(oPurchaseOrders.length>0)
                    {
                        if(oPurchaseOrders[0].ErrorMessage=="")
                        {
                            RefreshList(oPurchaseOrders);
                            $('#tblPurchaseOrders').data('PurchaseOrders', oPurchaseOrders);
                        }
                        else
                        {
                            alert(oPurchaseOrders[0].ErrorMessage);
                        }
                    }
                    else
                    {
                        alert("Data not found!!");
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $("#btnCreatePI").click(function(){
        var oPurchaseOrder= $('#tblPurchaseOrders').datagrid('getSelected');
        if(oPurchaseOrder==null || parseInt(oPurchaseOrder.POID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oPurchaseOrder.ApproveBy)==0)
        {
            alert("Your selected purchase Order is not approved!");
            return;
        }
        if(parseInt(oPurchaseOrder.PaymentModeInt)!=2)
        {
            alert("Please select LC type PO!");
            return;
        }

        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: sessionStorage.getItem("BaseAddress")+  "/PurchaseOrder/GetPIByPO",
            data:  JSON.stringify(oPurchaseOrder),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  results = jQuery.parseJSON(data);
                if (results != null) {
                    if(results.length>0)
                    {
                        if(results[0].ErrorMessage=="")
                        {
                            var SelectedRowIndex=$('#tblPurchaseOrders').datagrid('getRowIndex',oPurchaseOrder);
                            var oPurchaseOrders= $('#tblPurchaseOrders').datagrid('getRows');
                            sessionStorage.setItem("PurchaseOrders", JSON.stringify(oPurchaseOrders));
                            sessionStorage.setItem("PurchaseOrder_Info", JSON.stringify(oPurchaseOrder));
                            sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
                            sessionStorage.setItem("PurchaseOrderHeader", "Create PI");
                            sessionStorage.setItem("BackLink", window.location.href);
                            window.location.href = sessionStorage.getItem("BaseAddress")+  "/ImportPI/ViewImportPIReference?id="+results[0].ImportPIID+"&buid="+parseInt(oPurchaseOrder.BUID);
                        }
                        else
                        {
                            alert(results[0].ErrorMessage);
                        }
                    }
                    else
                    {
                        var SelectedRowIndex=$('#tblPurchaseOrders').datagrid('getRowIndex',oPurchaseOrder);
                        var oPurchaseOrders= $('#tblPurchaseOrders').datagrid('getRows');
                        sessionStorage.setItem("PurchaseOrders", JSON.stringify(oPurchaseOrders));
                        sessionStorage.setItem("PurchaseOrder_Info", JSON.stringify(oPurchaseOrder));
                        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
                        sessionStorage.setItem("PurchaseOrderHeader", "Create PI");
                        sessionStorage.setItem("BackLink", window.location.href);
                        window.location.href = sessionStorage.getItem("BaseAddress")+  "/ImportPI/ViewImportPIReference?id=0&buid="+parseInt(oPurchaseOrder.BUID);
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });


    });



    var nApprovalHeadID =  0;
    $("#btnSendTo").click(function () {
        debugger;

        var oPurchaseOrder= $('#tblPurchaseOrders').datagrid('getSelected');

        if(oPurchaseOrder==null || oPurchaseOrder.PRID<=0)
        {
            alert("Please select a item from list!");
            return false;
        }

        if(oPurchaseOrder.ApproveBy!=0)
        {
            alert("Selected item is already Approved!");
            return false;
        }

        var oApprovalHead = {
            ModuleID:31,
            BUID:oPurchaseOrder.BUID,
            Sequence:oPurchaseOrder.ApprovalSequence + 1
        };
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/ApprovalHead/GetHeadAndPerson",
            traditional: true,
            data:  JSON.stringify(oApprovalHead),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oAHs = jQuery.parseJSON(data);
                debugger;
                if (oAHs.length > 0)
                {
                    nApprovalHeadID = oAHs[0].ApprovalHeadID;
                    $("#txtSendTo").val(oAHs[0].Name);
                    $("#cboPersonList").icsLoadCombo({List: oAHs[0].ApprovalHeadPersons,OptionValue:"UserID",DisplayText: "UserName"});

                    $("#winSendTo").icsWindow('open', "Send To " + oAHs[0].Name);
                }
                else {
                    alert('Invalid Request');
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

        $('#btnCloseSendTo').click(function () {
            $("#winSendTo").icsWindow('close');
        });


    });
    $("#btnOkSendTo").click(function () {
        if( $("#cboPersonList").val() == 0) {
            alert('Select Person to send');
            return false;
        }
        var oPurchaseOrder= $('#tblPurchaseOrders').datagrid('getSelected');
        var SelectedRowIndex=$('#tblPurchaseOrders').datagrid('getRowIndex',oPurchaseOrder);
        oApprovalHistory = {
            ApprovalHistoryID : 0,
            ObjectRefID : oPurchaseOrder.POID,
            ApprovalHeadID: nApprovalHeadID,
            SendToPersonID : $("#cboPersonList").val(),
            Note : 'N/A'
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/PurchaseOrder/SaveApprovalHistory",
            traditional: true,
            data:  JSON.stringify(oApprovalHistory),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oPR = jQuery.parseJSON(data);
                debugger;
                if (oPR.POID > 0)
                {
                    alert('Send Successfully.');
                    $('#tblPurchaseOrders').datagrid('updateRow',{
                        index: SelectedRowIndex,
                        row:oPR
                    });

                    $("#winSendTo").icsWindow('close');
                }
                else {
                    alert(oPR.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });

    //Start Search
    function RefreshComboBoxControls()
    {
        var oApprovalUsers = $('#cboApprovedBy').data('ApprovalUsers');
        var oDateCompareOperatorObjs = $('#cboPODate').data('DateCompareOperatorObjs');
        var oAmountCompareOperatorObjs = $('#cboPOAmount').data('AmountCompareOperatorObj');
        $("#cboApprovedBy").icsLoadCombo({ List: oApprovalUsers, OptionValue: "UserID", DisplayText: "UserName" });
        $("#cboPODate").icsLoadCombo({ List: oDateCompareOperatorObjs, OptionValue: "id", DisplayText: "Value" });
        $("#cboPOAmount").icsLoadCombo({ List: oAmountCompareOperatorObjs, OptionValue: "id", DisplayText: "Value" });
    }

    function ValidateSearch()
    {
        var sPONo =$.trim($('#txtPONo').val());
        var sRefNo =$.trim($('#txtRefNo').val());
        var nRefType = parseInt($('#cboRefType').val());

        if(sRefNo!=null && sRefNo!="")
        {
            if(nRefType===0)
            {
                alert("Please select Reference Type!");
                return false;
            }
        }

        var nPODate = parseInt($('#cboPODate').val());
        if(nPODate===1 || nPODate===2 || nPODate===3 || nPODate===4)
        {
            var sPOStartDate   = $('#txtPOStartDate').datebox('getValue');
            if(sPOStartDate===null || sPOStartDate==="")
            {
                alert("Please select PO start date!");
                $('#txtPOStartDate').focus();
                return false;
            }
        }
        if(nPODate===5 || nPODate===6)
        {
            var sPOStartDate   = $('#txtPOStartDate').datebox('getValue');
            var sPOEndDate   = $('#txtPOEndDate').datebox('getValue');
            if(sPOStartDate===null || sPOStartDate==="")
            {
                alert("Please select PO start date!");
                $('#txtPOStartDate').focus();
                return false;
            }
            if(sPOEndDate===null || sPOEndDate==="")
            {
                alert("Please select PO end date!");
                $('#txtPOEndDate').focus();
                return false;
            }
            if(new Date(sPOStartDate) > new Date(sPOEndDate))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtPOStartDate').focus();
                return false;
            }
        }

        var nPOAmount = parseInt($('#cboPOAmount').val());
        if(nPOAmount===1 || nPOAmount===2 || nPOAmount===3 || nPOAmount===4)
        {
            var sPOAmountStart   = $.trim($('#txtPOAmountStart').val());
            if(sPOAmountStart===null || sPOAmountStart==="")
            {
                alert("Please enter PO start Amount!");
                $('#txtPOAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sPOAmountStart)<=0)
            {
                alert("Please enter PO start Amount!");
                $('#txtPOAmountStart').focus();
                return false;
            }
        }
        if(nPOAmount===5 || nPOAmount===6)
        {
            var sPOAmountStart = $.trim($('#txtPOAmountStart').val());
            if(sPOAmountStart===null || sPOAmountStart==="")
            {
                alert("Please enter PO start Amount!");
                $('#txtPOAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sPOAmountStart)<=0)
            {
                alert("Please enter PO start Amount!");
                $('#txtPOAmountStart').focus();
                return false;
            }

            var sPOAmountEnd = $.trim($('#txtPOAmountEnd').val());
            if(sPOAmountEnd===null || sPOAmountEnd==="")
            {
                alert("Please enter PO end Amount!");
                $('#txtPOAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sPOAmountEnd)<=0)
            {
                alert("Please enter PO end Amount!");
                $('#txtPOAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sPOAmountStart) >= icsRemoveComma(sPOAmountEnd))
            {
                alert("Start amount must be smallar than end amount!");
                $('#txtPOAmountStart').focus();
                return false;
            }
        }

        var nApprovedBy = parseInt($('#cboApprovedBy').val());
        var oSuppliers = $('#txtSupplierName').data('Suppliers');
        var oProducts = $('#txtProductName').data('Products');

        if(sPONo==="" && sRefNo==="" && nRefType===0 && nPODate===0 && nPOAmount===0 && nApprovedBy===0 && oSuppliers.length<=0 && oProducts.length<=0)
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        return true;
    }

    $('#btnAdvSearch').click(function(e){
        $("#winAdvanceSearch").icsWindow('open', "Advance Search");
        $("#winAdvanceSearch input").not("input[type='button']").val("");
        $('#txtPOStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtPOEndDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtPOAmountStart').val('0.00');
        $('#txtPOAmountEnd').val('0.00');
        $('#txtPOAmountStart').prop("disabled", true);
        $('#txtPOAmountEnd').prop("disabled", true);
        $('#txtSupplierName').data('Suppliers', []);
        $('#txtProductName').data('Products', []);
        RefreshComboBoxControls();
    });

    $('#btnAdvSearchClose').click(function(e){
        $("#winAdvanceSearch").icsWindow('close');
    });

    $('#cboPODate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboPODate').val());
        if(nCompareOperator===0)
        {
            $('#txtPOStartDate').datebox({ disabled : true });
            $('#txtPOEndDate').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtPOStartDate').datebox({ disabled : false });
            $('#txtPOEndDate').datebox({ disabled : true });
        }
        else
        {
            $('#txtPOStartDate').datebox({ disabled : false });
            $('#txtPOEndDate').datebox({ disabled : false });
        }
        $('#txtPOStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtPOEndDate').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboPOAmount').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboPOAmount').val());
        if(nCompareOperator===0)
        {
            $('#txtPOAmountStart').prop("disabled", true);
            $('#txtPOAmountEnd').prop("disabled", true);
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtPOAmountStart').prop("disabled", false);
            $('#txtPOAmountEnd').prop("disabled", true);
        }
        else
        {
            $('#txtPOAmountStart').prop("disabled", false);
            $('#txtPOAmountEnd').prop("disabled", false);
        }
        $('#txtPOAmountStart').val('0.00');
        $('#txtPOAmountEnd').val('0.00');
    });

    $('#btnAdvSearchReset').click(function(e){
        $("#winAdvanceSearch input").not("input[type='button']").val("");
        $('#cboRefType').val(0);
        $('#cboPODate').val(0);
        $('#txtPOStartDate').datebox({ disabled : true });
        $('#txtPOEndDate').datebox({ disabled : true });
        $('#txtPOStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtPOEndDate').datebox('setValue', icsdateformat(new Date()));

        $('#cboPOAmount').val(0);
        $('#txtPOAmountStart').prop("disabled", true);
        $('#txtPOAmountEnd').prop("disabled", true);
        $('#txtPOAmountStart').val('0.00');
        $('#txtPOAmountEnd').val('0.00');

        $('#cboApprovedBy').val(0);
        $('#txtSupplierName').data('Suppliers', []);
        $("#txtSupplierName").removeClass("fontColorOfPickItem");
        $('#txtProductName').data('Products', []);
        $("#txtProductName").removeClass("fontColorOfPickItem");
    });

    $('#btnSearch').click(function(e){
        debugger;
        if(!ValidateSearch()) return;

        var sPONo =$.trim($('#txtPONo').val());
        var sRefNo =$.trim($('#txtRefNo').val());
        var nRefType = parseInt($('#cboRefType').val());

        var nPODate = parseInt($('#cboPODate').val());
        var sPOStartDate   = $('#txtPOStartDate').datebox('getValue');
        var sPOEndDate   = $('#txtPOEndDate').datebox('getValue');

        var nPOAmount = parseInt($('#cboPOAmount').val());
        var sPOAmountStart = icsRemoveComma($.trim($('#txtPOAmountStart').val()));
        var sPOAmountEnd = icsRemoveComma($.trim($('#txtPOAmountEnd').val()));

        var nApprovedBy = parseInt($('#cboApprovedBy').val());
        var oSuppliers = $('#txtSupplierName').data('Suppliers');
        var oProducts = $('#txtProductName').data('Products');

        if(oSuppliers===null) {oSuppliers = []; }
        if(oProducts===null) {oProducts = []; }
        var sSupplierIDs =""; var sProductIDs ="";

        for(var i=0; i<oSuppliers.length; i++)
        {
            sSupplierIDs  = sSupplierIDs + oSuppliers[i].ContractorID+ ",";
        }
        if(sSupplierIDs.length>0)
        {
            sSupplierIDs=sSupplierIDs.substring(0, sSupplierIDs.length-1);
        }
        for(var i=0; i<oProducts.length; i++)
        {
            sProductIDs  = sProductIDs + oProducts[i].ProductID+ ",";
        }
        if(sProductIDs.length>0)
        {
            sProductIDs=sProductIDs.substring(0, sProductIDs.length-1);
        }

        var sSearchingData  =  sPONo+'~';
        sSearchingData = sSearchingData + sRefNo+'~';
        sSearchingData = sSearchingData + nRefType+'~';
        sSearchingData = sSearchingData + nPODate+'~';
        sSearchingData = sSearchingData + sPOStartDate+'~';
        sSearchingData = sSearchingData + sPOEndDate+'~';
        sSearchingData = sSearchingData + nPOAmount+'~';
        sSearchingData = sSearchingData + sPOAmountStart+'~';
        sSearchingData = sSearchingData + sPOAmountEnd+'~';
        sSearchingData = sSearchingData + nApprovedBy+'~';
        sSearchingData = sSearchingData + sSupplierIDs +'~';
        sSearchingData = sSearchingData + sProductIDs;

        var oPurchaseOrder = {
            Note : sSearchingData,
            BUID : parseInt(sessionStorage.getItem("BUID"))
        };

        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: sessionStorage.getItem("BaseAddress")+  "/PurchaseOrder/AdvanceSearch",
            data:  JSON.stringify(oPurchaseOrder),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  oPurchaseOrders = jQuery.parseJSON(data);
                if (oPurchaseOrders != null) {
                    if(oPurchaseOrders.length>0)
                    {
                        if(oPurchaseOrders[0].ErrorMessage=="")
                        {
                            RefreshList(oPurchaseOrders);
                            $('#tblPurchaseOrders').data('PurchaseOrders', oPurchaseOrders);
                            $("#winAdvanceSearch").icsWindow('close');
                        }
                        else
                        {
                            alert(oPurchaseOrders[0].ErrorMessage);
                        }
                    }
                    else
                    {
                        alert("Data not found!!");
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    function SearchByPONo (sPONo)
    {
        debugger;
        var oPurchaseOrder = {
            BUID : parseInt(sessionStorage.getItem("BUID")),
            PONo: sPONo
        };

        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: sessionStorage.getItem("BaseAddress")+  "/PurchaseOrder/SearchByPONo",
            data:  JSON.stringify(oPurchaseOrder),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  oPurchaseOrders = jQuery.parseJSON(data);
                if (oPurchaseOrders != null) {
                    if(oPurchaseOrders.length>0)
                    {
                        if(oPurchaseOrders[0].ErrorMessage=="")
                        {
                            RefreshList(oPurchaseOrders);
                            $('#tblPurchaseOrders').data('PurchaseOrders', oPurchaseOrders);
                        }
                        else
                        {
                            alert(oPurchaseOrders[0].ErrorMessage);
                        }
                    }
                    else
                    {
                        alert("Data not found!!");
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    };


    $('#txtSearchByPONo').keydown(function (e) {
        var c = String.fromCharCode(e.which);
        var txtSearchByName = document.getElementById('txtSearchByPONo').value;

        var oSearchedPurchaseOrders = [];  var sTempName="";
        var oPurchaseOrderList = $('#tblPurchaseOrders').datagrid('getRows');
        if (e.which == 13)
        {
            debugger;
            oPurchaseOrderList = $('#tblPurchaseOrders').data('PurchaseOrders');
            for(i=0;i<oPurchaseOrderList.length;++i)
            {
                sTempName=oPurchaseOrderList[i].FullPONo;
                n=sTempName.toUpperCase().indexOf(txtSearchByName.toUpperCase())
                if(n!=-1)
                {
                    oSearchedPurchaseOrders.push(oPurchaseOrderList[i]);
                }
            }

            if(oSearchedPurchaseOrders.length > 0)
            {
                RefreshList(oSearchedPurchaseOrders);
            }
            else
            {
                SearchByPONo(txtSearchByName);
            }
        }
        

        
        
    });

    ///Supplier Pick
    $("#txtSupplierName").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var nBUID = parseInt(sessionStorage.getItem("BUID"));
            var oContractor = { Params: 1 + '~' + $.trim($('#txtSupplierName').val())+'~'+ nBUID };//here 1 is Supplier
            var obj = {
                BaseAddress: sessionStorage.getItem("BaseAddress"),
                Object: oContractor,
                ControllerName: "Contractor",
                ActionName: "ContractorSearchByNameType",
                IsWinClose: false
            };
            $("#progbar").progressbar({ value: 0 });
            $("#progbarParent").show();
            var intervalID = setInterval(updateProgress, 250);
            $.icsDataGets(obj, function (response) {
                clearInterval(intervalID);
                $("#progbarParent").hide();
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ContractorID > 0) {
                        var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winSuppliers',
                            winclass: 'clsSupplier',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblSuppliers',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'Name',
                            windowTittle: 'Supplier List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else{
                    alert("Data Not Found.");
                    return;
                }
            });
        }
    });
    $("#btnSupplierPicker").click(function () {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oContractor = { Params: "1~~"+nBUID };//here 1 Is Supplier
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winSuppliers',
                        winclass: 'clsSupplier',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblSuppliers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Supplier List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
            }
        });

    });
    $('#txtSupplierName').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtSupplierName").removeClass("fontColorOfPickItem");
            $('#txtSupplierName').data('SupplierID', 0);
        }
    });
    $('#btnSupplierClear').click(function(e){
        $("#txtSupplierName").val("");
        $('#txtSupplierName').data('Suppliers', []);
        $("#txtSupplierName").removeClass("fontColorOfPickItem");
    });
    //End Supplier Picker

    //Product Pick
    $("#txtProductName").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($('#txtProductName').val()==null || $('#txtProductName').val()=="")
            {
                alert("Please Type Product and Press Enter.");
                $('#txtProductName').focus();
                return;
            }
            var nBUID = parseInt(sessionStorage.getItem("BUID"));
            var oProduct = { BUID: nBUID, ProductName: $.trim($('#txtProductName').val())};
            var obj = {
                BaseAddress: sessionStorage.getItem("BaseAddress"),
                Object: oProduct,
                ControllerName: "Product",
                ActionName: "SearchByProductBUWise",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                debugger;
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ProductID > 0) {
                        var tblColums = [];
                        var oColumn = { field: "ProductCode", title: "Product Code", width: 80, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ProductName", title: "Product Name", width: 300, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ProductCategoryName", title: "Category", width: 100, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winProductPicker',
                            winclass: 'clsProductPicker',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblProductPicker',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'NameCode',
                            windowTittle: 'Product List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else {
                        alert(response.objs[0].ErrorMessage);
                    }

                }else{
                    alert("Data Not Found.");
                }
            });
        }
    });
    $("#btnProductPicker").click(function () {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oProduct = { BUID: nBUID};
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Product Code", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Product Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductCategoryName", title: "Category", width: 100, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winProductPicker',
                        winclass: 'clsProductPicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProductPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'NameCode',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });

    });
    $('#txtProductName').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtProductName").removeClass("fontColorOfPickItem");
            $('#txtProductName').data('Product', null);
        }
    });
    $('#btnProductClear').click(function(e){
        $("#txtProductName").val("");
        $('#txtProductName').data('Products', []);
        $("#txtProductName").removeClass("fontColorOfPickItem");
    });
    //End Product

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid === 'winSuppliers')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtSupplierName').val(oreturnobjs.length+"'s suppliers seleted");
                $('#txtSupplierName').addClass('fontColorOfPickItem');
                $('#txtSupplierName').data('Suppliers', oreturnobjs);
                $('#txtSupplierName').focus();
            }
        }
        else if (oPickerobj.winid == 'winProductPicker')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0)
            {
                $('#txtProductName').val(oreturnobjs.length+"'s products seleted");
                $('#txtProductName').addClass('fontColorOfPickItem');
                $('#txtProductName').data('Products', oreturnobjs);
            }
        }
    }

    function updateProgress() {
        var value =$('#progbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progbarParent").hide();
    }


    $("#btnPrintFormat").click(function () {
        debugger;
      
        if(parseInt(sessionStorage.getItem("ImageFormat"))==1)
        {
            $("#chkPrintTitleInNormalFormat").prop( "checked",true);
            $("#chkPrintTitlePadFormat").prop( "checked", false );
            $("#chkPrintTitleImageFormat").prop( "checked", false );
        }else if(parseInt(sessionStorage.getItem("ImageFormat"))==2)
        {
            $("#chkPrintTitleInNormalFormat").prop( "checked",false);
            $("#chkPrintTitlePadFormat").prop( "checked", true );
            $("#chkPrintTitleImageFormat").prop( "checked", false );
        }else
        {
            $("#chkPrintTitleInNormalFormat").prop( "checked",false);
            $("#chkPrintTitlePadFormat").prop( "checked", false );
            $("#chkPrintTitleImageFormat").prop( "checked", true );
        }
        $("#winPrintFormat2").icsWindow("open","PI Print Format Setup");
    });

    $("#btnClosePrintFormat2").click(function () {
        $("#winPrintFormat2").icsWindow("close");
    });

    $("#btnOkPrintFormat2").click(function () {
        debugger;
        $("#winPrintFormat2").icsWindow("close");
        if ($("#chkPrintTitleInNormalFormat").is(':checked'))
        {
            sessionStorage.setItem("ImageFormat",1);//normal
        }else if ($("#chkPrintTitlePadFormat").is(':checked'))
        {
            sessionStorage.setItem("ImageFormat",2);//pad
        }else if ($("#chkPrintTitleImageFormat").is(':checked'))
        {
            sessionStorage.setItem("ImageFormat",3);//with Image
        }
    });
    function PrintTitleFormat(nPrintTitleFormat)
    {
        if(parseInt(nPrintTitleFormat)==1)//normal
        {
            $("#chkPrintTitleInNormalFormat").prop( "checked", true );
            $("#chkPrintTitlePadFormat").prop( "checked", false );
            $("#chkPrintTitleImageFormat").prop( "checked", false );
        }else  if(parseInt(nPrintTitleFormat)==2)//pad
        {
            $("#chkPrintTitleInNormalFormat").prop( "checked", false );
            $("#chkPrintTitlePadFormat").prop( "checked", true );
            $("#chkPrintTitleImageFormat").prop( "checked", false );
        }else
        {
            $("#chkPrintTitleInNormalFormat").prop( "checked", false );
            $("#chkPrintTitlePadFormat").prop( "checked", false );
            $("#chkPrintTitleImageFormat").prop( "checked", true );
        }
    }

    $("#btnPreview").click(function() {

        var oPurchaseOrder= $('#tblPurchaseOrders').datagrid('getSelected');
        if(oPurchaseOrder==null || oPurchaseOrder.POID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        var subject = "";
        window.open(sessionStorage.getItem("BaseAddress")+ '/PurchaseOrder/PrintPurchaseOrder?id=' + oPurchaseOrder.POID+'&IsWOPriview=false&Subject='+subject+ "&nTitleTypeInImg="+sessionStorage.getItem("ImageFormat"), "_blank");

    });

    $("#btnPreviewWithSub").click(function() {

        var oPurchaseOrder= $('#tblPurchaseOrders').datagrid('getSelected');
        if(oPurchaseOrder==null || oPurchaseOrder.POID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        var subject = prompt("Please type the report subject you prefer", oPurchaseOrder.SubjectName);
      
        if (subject != null && subject != "")
        {
            debugger;
            oPurchaseOrder.SubjectName=subject;
            $.ajax({
                type: "POST",
                dataType: "json",
                url: sessionStorage.getItem("BaseAddress")+ "/PurchaseOrder/UpdateReportSubject",
                traditional: true,
                data:  JSON.stringify(oPurchaseOrder),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    oPurchaseOrder = jQuery.parseJSON(data);
                    if (parseInt(oPurchaseOrder.POID)>0) {
                        
                        window.open(sessionStorage.getItem("BaseAddress")+ '/PurchaseOrder/PrintPurchaseOrder?id=' + oPurchaseOrder.POID+'&IsWOPriview=false&Subject='+oPurchaseOrder.SubjectName+ "&nTitleTypeInImg="+sessionStorage.getItem("ImageFormat"), "_blank");
                    }
                    else {
                        alert(oPurchaseOrder.ErrorMessage);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
        else{
            alert("Reprt Subject can not be Empty!");
        }
    });

    $("#btnWOPreview").click(function()
    {
        var oPurchaseOrder= $('#tblPurchaseOrders').datagrid('getSelected');
        if(oPurchaseOrder==null || oPurchaseOrder.POID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        window.open(sessionStorage.getItem("BaseAddress")+ '/PurchaseOrder/PrintPurchaseOrder?id=' + oPurchaseOrder.POID+'&IsWOPriview=true&Subject=""'+ "&nTitleTypeInImg="+sessionStorage.getItem("ImageFormat"), "_blank");
    });

    $('#btnPrintList').click(function (e) {
        var oPurchaseOrders= $('#tblPurchaseOrders').datagrid('getRows');
        var ids ="";
        if(oPurchaseOrders.length >0)
        {
            for(var i =0;i<oPurchaseOrders.length;i++)
            {
                ids =ids+oPurchaseOrders[i].POID+",";
            }
            ids= ids.substring(0, ids.length - 1);
        }
        else{
            return;
        }
        var tsv = ((new Date()).getTime())/1000;
        window.open(sessionStorage.getItem("BaseAddress") + '/PurchaseOrder/PrintPurchaseOrders?ids='+ids+"&ts="+tsv, "_blank");
    });

    $(document).keydown(function (e) {
        if (e.which == 27)//escape=27
        {
            $("#winAdvanceSearch").icsWindow('close');
        }
    });

    function RefreshList(oPurchaseOrders)
    {
        data = oPurchaseOrders;
        data={"total":""+data.length+"","rows":data};
        $('#tblPurchaseOrders').datagrid('loadData',data);
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        $('#tblPurchaseOrders').datagrid('selectRow',nIndex);
    }

    function RefreshControlLayout(oAURolesMapping)
    {
        $("#btnAdvSearch,#btnAdd,#btnEdit,#btnView,#btnDelete,#btnWaitForApproved,#btnApproved,#btnUndoApproved,#btnPreview,#btnWOPreview, #btnPrintList,#btnSendTo").hide();

        if(PermissionChecker('AdvSearch','PurchaseOrder',oAURolesMapping)){$("#btnAdvSearch").show();}
        if(PermissionChecker('Add','PurchaseOrder',oAURolesMapping)){$("#btnAdd").show();}
        if(PermissionChecker('Edit','PurchaseOrder',oAURolesMapping)){$("#btnEdit").show();}
        if(PermissionChecker('View','PurchaseOrder',oAURolesMapping)){$("#btnView").show();}
        if(PermissionChecker('Delete','PurchaseOrder', oAURolesMapping)){$("#btnDelete").show();}
        if(PermissionChecker('Approved','PurchaseOrder',oAURolesMapping)){$("#btnApproved,#btnUndoApproved").show();}
        if(PermissionChecker('Approved','PurchaseOrder',oAURolesMapping)){$("#btnWaitForApproved").show();}
        if(PermissionChecker('Preview','PurchaseOrder',oAURolesMapping)){$("#btnPreview,#btnWOPreview").show();}
        if(PermissionChecker('PrintList','PurchaseOrder',oAURolesMapping)){$("#btnPrintList").show();}

        if(PermissionChecker('FollowUp','PurchaseOrder',oAURolesMapping))
        {
            $("#btnSendTo").show();    $('#divPO').data("IsApprovalHead",true);  console.log($('#divPO').data("IsApprovalHead"));
        }
        else $('#tblPurchaseOrders').datagrid('hideColumn', 'ApprovalStatus');
    }
</script>