@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Raw Lot Tracking Report";
}
@model IEnumerable<ESimSol.BusinessObjects.RPT_LotTrackings>
    <div ng-app="RPT_LotTrackingsAPP" class="form-horizontal regionRPT_LotTrackings menuMainCollectionTable" style="height:520px">
        <div ng-controller="RPT_LotTrackingsCtrl" style="width:100%;">
            <div class=" ui-grid-top-panel" style="margin:5px;">
                <div class="form-inline">
                    <button type="button" class="btn btn-sm btn-primary" aria-label="Left Align" ng-click="AdvanceSearch()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Adv. Search</button>
                    <button type="button" class="btn btn-sm btn-success" aria-label="Left Align" ng-click="ExportToExcel()"> <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Export to Excel</button>
                    <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="PrintPreview()"> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Preview</button>
                    <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="PrintPreviewLot()"> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> PreviewDetail</button>
                </div>
            </div>
            <div ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-key-nav class="grid-angular ui-grid-selectable" style="width:99%; height:515px"></div>
        </div>
    </div>

    <style type="text/css">
        .regionRPT_LotTrackings .form-horizontal .control-label {
            padding-top: 3px;
        }

        .regionRPT_LotTrackings .form-control {
            height: 26px;
            padding: 0px 6px;
            font-size: 12px;
        }

        .regionRPT_LotTrackings .col-md-12 {
            width: 70%;
            padding-right: 5px;
            padding-left: 5px;
            margin-bottom: 5px;
            margin-left: 90px;
        }

        .regionRPT_LotTrackings .col-md-1 {
            width: 4%;
            padding-right: 2px;
            padding-left: 2px;
            padding-top: 3px;
        }

        .regionRPT_LotTrackings .col-md-2 {
            width: 22%;
            padding-right: 5px;
            padding-left: 5px;
        }

        .regionRPT_LotTrackings .col-md-3 {
            width: 24%;
            padding-right: 5px;
            padding-left: 5px;
        }

        .regionRPT_LotTrackings .col-md-4 {
            width: 28%;
            padding-right: 5px;
            padding-left: 5px;
        }

        .regionRPT_LotTrackings .col-md-5 {
            width: 40%;
            padding-right: 5px;
            padding-left: 0px;
        }

        .regionRPT_LotTrackings .col-md-6 {
            width: 54.5%;
            padding-right: 5px;
            padding-left: 5px;
        }

        .regionRPT_LotTrackings .col-md-10 {
            width: 88%;
            padding-right: 5px;
            padding-left: 5px;
        }

        .regionRPT_LotTrackings .col-md-7 {
            width: 54.6%;
            padding-right: 5px;
            padding-left: 5px;
        }

        .regionRPT_LotTrackings .col-md-8 {
            width: 69%;
            padding-right: 0px;
            padding-left: 0px;
        }

        .regionRPT_LotTrackings .col-md-9 {
            width: 69%;
            padding-right: 0px;
            padding-left: 0px;
        }

        .regionRPT_LotTrackings .btn-sm {
            padding: 3px 10px;
        }

        .regionRPT_LotTrackings .input-group-addon {
            padding: 4px 8px;
        }
    </style>

    <script type="text/javascript">
    var oRPT_LotTrackingss =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var oCompareOperators =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
    var _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));

        var _txtOrderNo = "";
        debugger;
        var date=new Date();
        $('.date-container').datepicker({
            format: "dd M yyyy",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true,
        });
        var RPT_LotTrackingsModule = angular.module('RPT_LotTrackingsAPP', ['ngAnimate', 'ui.bootstrap', 'ui.grid', 'ui.grid.selection', 'ui.grid.edit','ui.grid.resizeColumns','ui.grid.cellNav','ms.service']);
        RPT_LotTrackingsModule.controller('RPT_LotTrackingsCtrl', function ($scope, $http, $uibModal, $log, uiGridConstants, msModal,icsMethod, userSession,msGridControl,userSession,advanceSearch,uiGridConstants) {
            debugger;
            var _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        sessionStorage.setItem('BaseAddress',_sBaseAddress)
        var viewType = sessionStorage.getItem("Operation");

        $scope.gridOptions= {
            enableRowSelection: true,
            enableRowHeaderSelection: false,
            multiSelect: false,
            showColumnFooter: true,
            enableColumnResizing: true,

            columnDefs: [
                    {name: ' ',width:'3%', cellTemplate: '<div style="padding-top:5px;"><span>{{grid.renderContainers.body.visibleRowCache.indexOf(row)+1}}</span></div>',cellClass: 'text-center', enableCellEdit: false, enableSorting:false, enableColumnResizing:false, enableColumnMenu:false},
                    { field: 'LotNo',                       name:'LotNo',                    width:'15%' },
                      { field: 'LotDateSt',                       name:'Date',                    width:'15%' },
                    { field: 'ProductCode',                 name:'Code',             width:'9%' },
                    { field: 'ProductName',                 name:'ProductName',              width:'20%' },
                    { field: 'ContractorName',              name:'Supplier Name',            width:'20%' },
                    { field: 'LCNo',                        name:'LC No',                    width:'14%' },
                    { field: 'InvoiceNo',                   name:'Invoice No',               width:'13%' },
                    { field: 'MUnit',                       name:'MUnit',                    width:'7%' },
                    { field: 'RawReced',                      name:'Raw Received',                 width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    { field: 'QtySoft',                      name:'Raw Issue to Soft Cone',                 width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    //{ field: 'QtyGRN',                      name:'GRN(Qty)',                 width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    //{ field: 'QtyAdjIn',                    name:'Adj In (Qty)',             width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    //{ field: 'QtyAdjOut',                   name:'Adj Out (Qty)',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    { field: 'QtyProIn',                    name:'Raw Issue To Dyeing Floor',               width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    { field: 'QtyFinish',                    name:'Dyed Yarn Recd',               width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    { field: 'QtyRecycle',                  name:'Recycle(Qty)',             width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    { field: 'QtyWestage',                  name:'Westage(Qty)',             width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    { field: 'QtyShort',                    name:'Pro. Loss/Gain',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                     { field: 'Total',                    name:'Total Raw',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                     { field: 'QtyWIP',                    name:'WIP Raw',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    //{ field: 'QtyRSCancel',                 name:'Batch Cancel',             width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    //{ field: 'QtyDelivery',                 name:'Delivery(Qty)',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    //{ field: 'QtyReturn',                   name:'Return(Qty)',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    { field: 'QtyActualDelivery',                 name:'Delivery(Qty)',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    { field: 'QtyTR',                 name:'Transfer From Dely Store',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    { field: 'DyedYarnStock',                 name:'Dyed Yarn(Stock)',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    { field: 'RawYarnStock',                 name:'Raw Yarn(Stock)',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                   // { field: '',    name:'',            width:'2%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    { field: 'Recycle_Recd',                 name:'Recycle Received',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    { field: 'QtySoft_Dye',                 name:'Recycle to Soft Cone',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    { field: 'QtyProIn_Dye',                 name:'Recycle Issue To Dyeing Floor',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    { field: 'QtyFinish_Dye',                 name:'Dyed Yarn Received',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    { field: 'QtyRSCancel_Dye',                 name:'Recycle (Qty)',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    { field: 'QtyWestage_Dye',                 name:'Westage (Qty)',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    { field: 'QtyShort_Dye',                 name:'Pro. Loss/(Gain)',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    { field: 'TotalDye',                 name:'Total Rec',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    { field: 'QtyWIPDye',                 name:'WIP Recycle',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    { field: 'QtyActualDeliveryDye',                 name:'Delivery Recycle',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    { field: 'DyedYarnStockDye',                 name:'Recycle Yarn',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    //{ field: 'RawYarnStock',                 name:'Soft Cone Store',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    //{ field: 'QtyProProcess',               name:'Pro.Process(Qty)',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    //{ field: 'CurrentBalance',                 name:'Current Balance(Raw)',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
                    ////{ field: 'CurrentBalanceDye',                 name:'Current Balance(Other)',            width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum,     aggregationHideLabel: true,     type: 'number',     enableCellEdit:true,        footerCellClass: 'text-right' ,     footerCellFilter: 'number:0'},
            ],
            data: oRPT_LotTrackingss,
            onRegisterApi : function(gridApi)
            {
                $scope.gridApi = gridApi;
                $scope.gridApi.selection.clearSelectedRows();

                $scope.gridApi.core.refresh();
                if(oRPT_LotTrackingss.length>0 && userSession.getRowIndex()>=0)
                {
                    $scope.gridApi.grid.modifyRows(oRPT_LotTrackingss);
                    $scope.gridApi.selection.selectRow(oRPT_LotTrackingss[userSession.getRowIndex()]);
                }
            }
        };
        $scope.ExportToExcel = function ()
        {
            debugger;
            var sParams = sessionStorage.getItem('AdvSearchString');
            if(sParams==null || sParams == undefined)
            {
                alert("Nothing To Print!");
                return;
            }
            window.open(_sBaseAddress+ '/RPT_LotTrackings/ExportToExcel?sParams=' + sParams + '&nReportType=1' + '&nBUID=' + _nBUID);
        }
        $scope.PrintPreview = function ()
        {
            var oLotTracking = $scope.gridApi.selection.getSelectedRows()[0];
            if(oLotTracking==null || oLotTracking.LotID<=0)
            {
                alert("Select At least One item !");
                return;
            }
            // window.open(_sBaseAddress + '/FabricExecutionOrderSpecification/PrintFabricSpecification?nId='+oFabricLotAssign.FEOSID+"&nBUID="+_nBUID);
            var nts = ((new Date()).getTime()) / 1000;
            var sTempString = oLotTracking.LotID +'~' +_nBUID;
            window.open(_sBaseAddress + '/LotTraking/PrintStockLotTracking?sTempString='+sTempString+"&nts=" + nts ,"_blank");
        };
        $scope.AdvanceSearch=function()
        {
            _txtOrderNo = "";
            var oColumns = [];
            var oColumn = { field: 'ProductName', name: 'Product Name',width: '70%', enableSorting: false  };oColumns.push(oColumn);
            oColumn = { field: 'ProductCode', name: 'Product Code',width: '30%', enableSorting: false  };oColumns.push(oColumn);

            var paramObj_Product={
                obj:{Params: sessionStorage.getItem('BUID') + '~' + '@@ProductID' + '~' + '172' + '~' +'1'},
                objName:'Params',
                objField:'ProductID',
                url:_sBaseAddress+'/Product/GetProductsByNameAndBUID',
                title:'Product List',
                multiSelect:true,
                columns:oColumns
            }

            var oColumnsGarments = [];
            var oColumnGarments = { field: 'LotNo', name: 'Lot No',width: '20%', enableSorting: false  };oColumnsGarments.push(oColumnGarments);
            oColumnGarments = { field: 'Balance', name: 'Balance',width: '15%', enableSorting: false  };oColumnsGarments.push(oColumnGarments);
            oColumnGarments = { field: 'MUName', name: 'Unit',width: '8%', enableSorting: false  };oColumnsGarments.push(oColumnGarments);
            oColumnGarments = { field: 'ProductName', name: 'ProductName',width: '40%', enableSorting: false  };oColumnsGarments.push(oColumnGarments);
            oColumnGarments = { field: 'OperationUnitName', name: 'Store Name',width: '40%', enableSorting: false  };oColumnsGarments.push(oColumnGarments);

            var paramObj_Lots={
                obj:{Params: sessionStorage.getItem('BUID') + '~' + '@@LotID' + '~'},
                objName:'Params',
                objField:'LotID',
                searchObj: [{field:"ProductName", BOField: "ProductName"}],

                url:_sBaseAddress+'/Lot/GetsLotByProduct',
                title:'Lot List',
                multiSelect:true,
                columns:oColumnsGarments
            }

            var oRPT_LotTrackings = [
                                { DisplayName: "LC No",        BOField: "LCNo",      InputType: 'text'},
                                { DisplayName: "Invoice No",   BOField: "InvoiceNo",      InputType: 'text'},
                                { DisplayName: "Lot Date",     BOField: "GRNDateSt",      InputType: 'date'},
                                { DisplayName: "Product Name",        BOField: "ProductName",      InputType: 'picker',   PickerObject:paramObj_Product },
                                { DisplayName: "Lot",                 BOField: "LotNo",            InputType: 'picker',   PickerObject:paramObj_Lots },
                                { BOField:     "BUID",                Value:_nBUID,                InputType: 'hidden'},
                                { BOField:     "BUID",                Value:_nBUID,                InputType: 'hidden'},

            ];
            var modalObj={
                size:'md',
                title:"Advance Search",
                CompareOperators:oCompareOperators,
                HtmlElements:oRPT_LotTrackings,
                isAdvanceSearch:true, // if TRUE: 'urlAdvanceSearch' should be define
                urlAdvanceSearch:_sBaseAddress + '/RPT_LotTrackings/AdvSearch'
            }
            var modalInstance=advanceSearch.Instance(modalObj);
            modalInstance.result.then(function (result)
            {
                console.log(result);
                $scope.gridOptions.data=result;
            }, function ()
            {
                $log.info('Modal dismissed at: ' + new Date());
            });
        }; 
        
        $scope.PrintPreviewLot = function ()
        {
           
            debugger;
            var oLotTracking = $scope.gridApi.selection.getSelectedRows()[0];
            if(oLotTracking==null || oLotTracking.LotID<=0)
            {
                alert("Select At least One item !");
                return;
            }
            // window.open(_sBaseAddress + '/FabricExecutionOrderSpecification/PrintFabricSpecification?nId='+oFabricLotAssign.FEOSID+"&nBUID="+_nBUID);
            var nts = ((new Date()).getTime()) / 1000;
            var sTempString =_nBUID+"~"+ oLotTracking.LotID;
            window.open(_sBaseAddress + '/RPT_LotTrackings/PrintStockLotTracking?sTempString='+sTempString+"&nts=" + nts ,"_blank");
        };
        });

       
    </script>










