@model IEnumerable<ESimSol.BusinessObjects.AttendanceDaily>
@{
    ViewBag.Title = "XL Reports";
}
<div style="margin-left:0px; height:500px" class="menuMainCollectionTable">
    <fieldset>
        <legend>XL Reports</legend>
        <input id="dtDateFrom" type="text" style="width: 100px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
        &nbsp; To &nbsp;<input id="dtDateTo" type="text" style="width: 100px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
        &nbsp;
        @*<input id="txtLocation" style="width:15%" type="text" disabled placeholder="Location" />
        <input id="btnLocationPicker" class="pick-btn" type="button" value="P" />
        <input id="btnResetLocationPicker" class="pick-btn" type="button" value="R" />*@
        <input id="txtLocation_Colection" style="width:110px;" placeholder="Pick Location" type="text" />
        <a id="btnLocationPicker_Colection" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-pick"></a>
        <a id="btnResetLocationPicker_Colection" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-clear"></a>
        &nbsp;
        @*<input id="txtDepartment" style="width:15%" type="text" disabled placeholder="Department" />
        <input id="btnDepartmentPicker" class="pick-btn" type="button" value="P" />
        <input id="btnResetDepartmentPicker" class="pick-btn" type="button" value="R" />*@
        <input id="txtDepartment_Collection" style="width:110px;" type="text" placeholder="Pick Department" />
        <a id="btnDepartmentPicker_Collection" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-pick"></a>
        <a id="btnResetDepartmentPicker_Collection" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-clear"></a>
        &nbsp;
        <select id="cboShift" style="width:120px;"></select>  
        &nbsp;
        @*<input id="txtDesignation" style="width:15%" type="text" disabled placeholder="Desigantion" />
        <input id="btnDesignationPicker" class="pick-btn" type="button" value="P" />
        <input id="btnResetDesignationPicker" class="pick-btn" type="button" value="R" />*@
        <input id="txtDesignation_Collection" type="text" style="width:110px;" placeholder="Pick Designation" />
        <a id="btnDesignationPicker_Collection" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-pick"></a>
        <a id="btnResetDesignationPicker_Collection" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-clear"></a>
        <hr />
     
        <a onclick="PrintMonthlyAbsentList()" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Monthly Absent List</a>
        <br />
        <a onclick="PrintOTSheet()" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">OT Sheet</a>
        <br />
        @*<a onclick="PrintLeaveReport()" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Leave Report</a>
        <br />*@
        <a onclick="PrintAbsentAmountReport()" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Absent Amount Report</a>
        <br />
        <a onclick="PrintShiftAllReport()" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Shift All. Report</a>
        <br />
        <a onclick="PrintLeaveReportXL()" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Leave Report(F1)</a>
        <br />
        <a onclick="PrintLeaveReportXL_F2()" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Leave Report(F2)</a>
    </fieldset>

    <div id="winLocationPicker" class="easyui-window winstyle" title="Location Picker" style="width:350px; height:400px" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="font-family:Tahoma">
            <div class="easyui-panel" style="width:335px;height:300px;overflow:auto">
                <ul id="locationtree" data-options="checkbox:false" singleselect="true"></ul>
            </div>

            <fieldset>
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:400px; text-align:right"></td>

                        <td style="width:50px">
                            <a id="btnLocationPickerOk" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
                        </td>
                        <td style="width:50px">
                            <a id="btnLocationPickerClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>

    <div id="winDepartmentPicker_Collection" class="easyui-window winstyle" title="Department Picker" style="width:350px; height:400px" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="font-family:Tahoma">
            <div class="easyui-panel" style="width:335px;height:300px;overflow:auto">
                <ul id="departmenttree_Collection" data-options="checkbox:true" singleselect="false"></ul>
            </div>
            <fieldset>
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:400px; text-align:right"></td>

                        <td style="width:50px">
                            <a id="btnDepartmentPickerOk_Collection" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
                        </td>
                        <td style="width:50px">
                            <a id="btnDepartmentPickerClose_Collection" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>

</div>

<script type="text/javascript">
    var _oEmployeeSalary_MAMIYAs=[];
    var _sBaseAddress="";
    var _sLocationID = "";
    var _sDepartmentNames = "";
    var _sDepartmentIds = "";
    var _sDesignationNames = "";
    var _sDesignationIds = "";

    $(document).ready(function ()
    {
        _oEmployeeSalary_MAMIYAs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        $('#dtDateFrom').datebox('setValue', icsdateformat(new Date()));
        $('#dtDateTo').datebox('setValue',icsdateformat(new Date()));
    });

    function PrintMonthlyAbsentList()
    {
        var S=ReturnConnectionStringForController();
        if(S=="" || S == null)
        {
            return;
        }
        else
        {
            window.open(_sBaseAddress+ "/HCMXL/PrintMonthlyAbsentList_MAMIYA_XL"+S); 
        }
    }

    function PrintOTSheet()
    {
        var dtStartDate= $('#dtDateFrom').datebox('getValue');
        var dtEndDate= $('#dtDateTo').datebox('getValue');
        var tsv = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress+ "/HCMXL/PrintOTSheet_MAMIYA_XL?dtStartDate="+dtStartDate+"&dtEndDate="+dtEndDate+"&ts="+tsv);

        //var S=ReturnConnectionStringForController();
        //if(S=="" || S == null)
        //{
        //    return;
        //}
        //else
        //{
        //    window.open(_sBaseAddress+ "/HCMXL/PrintOTSheet_MAMIYA_XL"+S); 
        //}

    }

    function PrintLeaveReport()
    {
        var dtStartDate= $('#dtDateFrom').datebox('getValue');
        var dtEndDate= $('#dtDateTo').datebox('getValue');
        var tsv = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress+ "/HCMXL/PrintLeaveReport_XL?dtStartDate="+dtStartDate+"&dtEndDate="+dtEndDate+"&ts="+tsv);
    }

    function PrintAbsentAmountReport()
    {
        var dtStartDate= $('#dtDateFrom').datebox('getValue');
        var dtEndDate= $('#dtDateTo').datebox('getValue');
        var tsv = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress+ "/HCMXL/PrintAbsentAmountReport_XL?dtStartDate="+dtStartDate+"&dtEndDate="+dtEndDate+"&ts="+tsv);
    }

    function PrintShiftAllReport()
    {
        var dtStartDate= $('#dtDateFrom').datebox('getValue');
        var dtEndDate= $('#dtDateTo').datebox('getValue');
        var tsv = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress+ "/HCMXL/PrintShiftAllReport_XL?dtStartDate="+dtStartDate+"&dtEndDate="+dtEndDate+"&ts="+tsv);
    }

    function PrintLeaveReportXL()
    {
        var dtStartDate= $('#dtDateFrom').datebox('getValue');
        var dtEndDate= $('#dtDateTo').datebox('getValue');
        var tsv = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress+ "/HCMXL/LeaveReportXL?dtStartDate="+dtStartDate+"&dtEndDate="+dtEndDate+"&ts="+tsv);
    }

    function PrintLeaveReportXL_F2()
    {
        var dtStartDate= $('#dtDateFrom').datebox('getValue');
        var dtEndDate= $('#dtDateTo').datebox('getValue');
        var tsv = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress+ "/HCMXL/LeaveReportXL_F2?dtStartDate="+dtStartDate+"&dtEndDate="+dtEndDate+"&ts="+tsv);
    }
    
    /*-------------Location Picker----------------*/
   
    $("#btnLocationPicker_Colection").click(function(e){
        btnLocation = $(this).attr("id");
        $("#winLocationPicker").icsWindow('open');
        var oLocation={LocationID:0};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oLocation,
            ControllerName: "Location",
            ActionName: "GetsLocationMenuTree",
            IsWinClose: false
        };

        $.icsDataGet(obj, function (response) {
            if (response.status && response.obj!=null) {
                if (response.obj.TLocation.id > 0) {
                    $('#locationtree').tree({ data: [response.obj.TLocation] });
                }
            }
        });
    });

    $("#btnLocationPickerOk").click(function(e){
        var oLocation = $('#locationtree').tree('getSelected');
        if(oLocation!=null && oLocation.id>0){
            $("#winLocationPicker").icsWindow('close');
            $('#txtLocation_Colection').val(oLocation.text);
            _sLocationID= oLocation.id;
        }
        else{
            alert("Please select a location.");
        }
    });

    $('#txtLocation_Colection').keypress(function (e)
    {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13)//Enter key-13
        {
            $("#winLocationPicker").icsWindow('open');
            var oLocation={LocationID:0};
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oLocation,
                ControllerName: "Location",
                ActionName: "GetsLocationMenuTree",
                IsWinClose: false
            };
            $.icsDataGet(obj, function (response) {

                if (response.status && response.obj!=null) {
                    if (response.obj.TLocation.id > 0) {
                        $('#locationtree').tree({ data: [response.obj.TLocation] });
                    }
                }
            });
        }
    });

    $("#btnLocationPickerClose").click(function(e){
        $("#winLocationPicker").icsWindow('close');
    });

    $("#btnResetLocationPicker_Colection").click(function(e){
        $('#txtLocation_Colection').val("");
        _sLocationID="";
    });

    /*-------------Designation Picker----------------*/
    var btnDesignation="";
    $("#btnDesignationPicker_Collection").click(function(e){
        DesignationPicker();
    });

    $("#txtDesignation_Collection").keypress(function(e){
        if (e.which == 13)//enter=13
        {
            DesignationPicker();
        }
    });

    function DesignationPicker()
    {
        var oDesignation={
            DesignationID:0,
            Params: (($.trim(_sLocationID)=="")? 0:_sLocationID)+'~'+ (($.trim(_sDepartmentIds)=="")? "":_sDepartmentIds)
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oDesignation,
            ControllerName: "Designation",
            ActionName: "Gets",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            _sDesignationNames = "";
            _sDesignationIds = "";
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].DesignationID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "Code", title: "Code", width: 50, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 170, align: "left" };tblColums.push(oColumn);

                    var bmultiplereturn=true;

                    var oPickerParam = {
                        winid: 'winDesignation',
                        winclass:'clsDesignation',
                        winwidth: 320,
                        winheight: 460,
                        tableid: 'tblDesignation',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: bmultiplereturn,
                        searchingbyfieldName:'Name',
                        windowTittle: 'Designation List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializeDesignationPickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
        });
    }

    function IntializeDesignationPickerbutton(oPickerobj)
    {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            var oDesignations=[];
            oDesignations = $('#'+oPickerobj.tableid).datagrid('getChecked');
            if (oPickerobj.winid == 'winDesignation')
            {
                if(oDesignations!=null && oDesignations.length>0){
                    $("#"+oPickerobj.winid).icsWindow("close");
                    $("#" + oPickerobj.winid).remove();

                    for(var i=0; i<oDesignations.length; i++)
                    {
                        _sDesignationNames+=oDesignations[i].Name+",";
                        _sDesignationIds+=oDesignations[i].DesignationID+",";
                    }
                   
                    _sDesignationNames=_sDesignationNames.substring(0,_sDesignationNames.length-1);
                    _sDesignationIds=_sDesignationIds.substring(0,_sDesignationIds.length-1);
                    $("#txtDesignation_Collection").val(_sDesignationNames);
                }
                else{
                    alert("Please select a designation.");
                }
            }
        });
    }

    $("#btnResetDesignationPicker_Collection").click(function(e){
        $('#txtDesignation_Collection').val("");
        _sDesignationIds="";
        _sDesignationNames = "";
    });

    /*-------------Department Picker start Collection----------------*/
    $("#btnDepartmentPicker_Collection").click(function(e){
        DepartmentPicker();
    });

    $("#txtDepartment_Collection").keypress(function(e){
        if (e.which == 13)//enter=13
        {
            DepartmentPicker();
        }
    });

    function DepartmentPicker()
    {
        $("#winDepartmentPicker_Collection").icsWindow('open');
        var oDepartment={DepartmentID:0};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oDepartment,
            ControllerName: "Department",
            ActionName: "GetsDepartments",
            IsWinClose: false
        };

        $.icsDataGet(obj, function (response) {
            if (response.status && response.obj!=null) {
                if (response.obj.id > 0) {
                    $('#departmenttree_Collection').tree({ data: [response.obj] });
                }
            }
        });
    }

    $("#btnDepartmentPickerOk_Collection").click(function(e){
        _sDepartmentNames = "";
        _sDepartmentIds= "";
        var oDepartments = $('#departmenttree_Collection').tree('getChecked');
        if(oDepartments!=null && oDepartments.length>0){
            $("#winDepartmentPicker_Collection").icsWindow('close');
            for(var i=0; i<oDepartments.length; i++)
            {
                _sDepartmentNames+=oDepartments[i].text+",";
                _sDepartmentIds+=oDepartments[i].id+",";
            }

            _sDepartmentNames=_sDepartmentNames.substring(0,_sDepartmentNames.length-1);
            _sDepartmentIds=_sDepartmentIds.substring(0,_sDepartmentIds.length-1);
            $("#txtDepartment_Collection").val(_sDepartmentNames);
            ShiftLoad();
        }
        else
        {
            alert("Please select a department.");
        }
    });

    $("#btnDepartmentPickerClose_Collection").click(function(e){
        $("#winDepartmentPicker_Collection").icsWindow('close');
    });

    $("#btnResetDepartmentPicker_Collection").click(function(e){
        $('#txtDepartment_Collection').val("");
        _sDepartmentIds="";
        _sDepartmentNames = "";
    });
    /*-------------Department Picker start Collection----------------*/

    function ReturnConnectionStringForController()
    {
        var sString="";
        var tsv = ((new Date()).getTime()) / 1000;
        var dtStartDate= $('#dtDateFrom').datebox('getValue');
        var dtEndDate= $('#dtDateTo').datebox('getValue');
        var nShiftID = document.getElementById('cboShift').value;
        if(nShiftID<0 || nShiftID ==null){nShiftID=0};
        sString="?dtStartDate="+dtStartDate+"&dtEndDate="+dtEndDate+"&nShiftID="+nShiftID+"&nLocationID="+parseInt(_sLocationID!=""?_sLocationID:0)+"&sDepartmentIDs="+_sDepartmentIds+"&sDesignationIDs="+_sDesignationIds+"&ts="+tsv, "_blank";
        return sString;
    }

    function ShiftLoad()
    {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/HRMShift/GetShiftByDepartment",
            traditional: true,
            data: JSON.stringify({sDepartmentIDs : _sDepartmentIds}),
            contentType: "application/json; charset=utf-8",
            
            success: function(data)
            {
                var oShifts=[];
                oShifts = jQuery.parseJSON(data);
                if (oShifts.length>0 && oShifts[0].ErrorMessage=="") 
                {
                    var list="<option value='"+0+"'>" +"--Select Shift--" + "</option>";
                   
                    for (var j = 0; j < oShifts.length; j++) 
                    {
                        list += "<option value='" + oShifts[j].ShiftID+"'>" + oShifts[j].ShiftWithDuration+"</option>";
                    }
                    $("#cboShift").html(list);  
                } 
                else 
                {
                    alert(oShifts[0].ErrorMessage);
                    
                }
            },
            error: function(xhr, status, error)
            {
                alert(error);
            }    
        });
    }
</script>
