@{
    ViewBag.Title = "Master LC list";
}
@model IEnumerable<ESimSol.BusinessObjects.MasterLCSummery>
                      <div class=" menuMainCollectionTable">
                          <table id="tblMasterLCSummery" title="Master LC List" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
                              <thead data-options="frozen:true">
                                  <tr>
                                      <th field="MasterLCNo" width="120">LCNo</th>
                                      <th field="BuyerName" width="120">Buyer</th>
                                  </tr>
                              </thead>
                              <thead>
                                  <tr>
                                      <th field="MasterLCDateInString" width="120">LC Date </th>
                                      <th field="ApplicantBankName" width="120">Applicant Bank</th>
                                      <th field="AdviceBankName" width="120">Advice Bank </th>
                                      <th field="MasterLCValue" align="right" formatter="formatPrice" width="120">LC Value </th>
                                      <th field="ExportPIQty" align="right" formatter="formatPrice" width="120">Export PI Qty </th>
                                      <th field="ExportPIValue" align="right" formatter="formatPrice" width="120">Export PI Value </th>
                                      <th field="NumberOfStyleInString" align="right" width="60" formatter="formatStylelabel">Style </th>
                                      <th field="NumberOfLCTransferInString" align="right" width="60" formatter="formatTransferlabel">LC Transfer </th>
                                      <th field="NumberOfSaleContactInString" align="right" width="60" formatter="formatSalesContactlabel">S.C Count</th>
                                      <th field="ProductionQty" align="right" formatter="formatPrice" width="120">Production Qty </th>
                                      <th field="ExportQty" align="right" formatter="formatPrice" width="120">Export Qty </th>
                                      <th field="ComercialInvoiceQty" align="right" formatter="formatPrice" width="120">Comm. Inv. Qty </th>
                                      <th field="YarnValue" align="right" formatter="formatPrice" width="120">YarnValue </th>
                                      <th field="AccessoriesValue" align="right" formatter="formatPrice" width="120">Acc. Value </th>
                                      <th field="ImportPIValue" align="right" formatter="formatPrice" width="120">Import PI Value </th>
                                      <th field="B2BLCValue" align="right" formatter="formatPrice" width="120">B2BLC Value </th>
                                      <th field="CMValue" align="right" formatter="formatPrice" width="120">CM Value </th>
                                      <th field="EndosmentCommission" align="right" formatter="formatPrice" width="120">Endorsement Commission </th>
                                      <th field="B2BCommission" align="right" formatter="formatPrice" width="120">B2B Commission </th>
                                      <th field="TotalCommission" align="right" formatter="formatPrice" width="120">Total Commission </th>
                                      <th field="CommissionRealise" align="right" formatter="formatPrice" width="120">Commission Realise</th>
                                  </tr>
                              </thead>
                          </table>
                          <div id="toolbar">
                              <a id="btnAdvanceSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="AdvanceSearch()">Search</a>
                              <a id="btnPreView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="PrintPreview()">Preview</a>
                              <a id="btnAPrintList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="PrintList()">Print List</a>
                          </div>
                      </div>
<script type="text/javascript">
    var _oMasterLCSummerys=[];
    var _sBaseAddress ="";
    var _oAuthorizationRolesMapping = [];
    $(document).ready(function () {
          //debugger;
          _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));                  
          _oMasterLCSummerys =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
          _oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));  
          RefreshList(_oMasterLCSummerys);
//          RefreshControlLayout();


    });

   

function AdvanceSearch()
{
      var oParameter = new Object();
      oParameter.Name = "Search";
      oParameter.MultipleItemReturn=true;
      var url = _sBaseAddress+"/MasterLC/AdvanceSearch"
      var oMasterLCs = window.showModalDialog(url, oParameter, 'dialogHeight:520px;dialogWidth:735px;dialogLeft:250;dialogTop:50;center:yes;resizable:yes;status:no;scroll:no'); 
      if(oMasterLCs.length>0)
      {
          var ids ="";
          if(oMasterLCs.length >0)
          {
            
              for(var i =0;i<oMasterLCs.length;i++)
              {
                  ids =ids+oMasterLCs[i].MasterLCID+",";
              }
              ids= ids.substring(0, ids.length - 1);
          }

          var oMasterLC = {
                        Note:ids     
                       };
       
       $.ajax({
                type: "POST",
                dataType: "json",            
                url : _sBaseAddress+"/MasterLC/GetMasterLCSummery",
                traditional: true,
                data:  JSON.stringify(oMasterLC),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
               //debugger;
                var _oMasterLCSummeries= jQuery.parseJSON(data);
                  RefreshList(_oMasterLCSummeries);
                 },
            error: function (xhr, status, error) 
                {
                    alert(error);
                }
            });

      }

}




function RefreshList(oMasterLCSummerys)
  {    
          data=oMasterLCSummerys;
          data={"total":""+data.length+"","rows":data};
          $('#tblMasterLCSummery').datagrid('loadData',data);
 }


 function formatStylelabel(value)
 {
     var values=value.split("~");
     var MasterLCID=values[0];
     var sStyleCount=values[1];
     var s = '<a  href="javascript:void(0)" id="idStyle~'+MasterLCID+' value="'+MasterLCID+'"  onclick = "ViewStyle('+MasterLCID+')"">'+sStyleCount+'</a>';
     return s;       
 }
 
  function formatSalesContactlabel(value)
 {
     var values=value.split("~");
     var MasterLCID=values[0];
     var sSalesCount=values[1];
     var s = '<a  href="javascript:void(0)" id="idSc~'+MasterLCID+' value="'+MasterLCID+'"  onclick = "ViewSalesContact('+MasterLCID+')"">'+sSalesCount+'</a>';
     return s;       
 }


 function formatTransferlabel(value)
 {
     var values=value.split("~");
     var MasterLCID=values[0];
     var sLcTransfer=values[1];
     var s = '<a  href="javascript:void(0)" id="idTnsfer~'+MasterLCID+' value="'+MasterLCID+'"  onclick = "ViewTransfer('+MasterLCID+')"">'+sLcTransfer+'</a>';
     return s;  
 }



 function ViewStyle(MasterLCID)
 {
    if( MasterLCID == null || parseInt(MasterLCID)<=0)
    {
        alert("Sorry Click Again");
        return;
    }
     var oParameter = new Object();        
    oParameter.Name = "View Order Recap List";
    var tsv=((new Date()).getTime())/1000;
    var url =_sBaseAddress+ "/MasterLC/ViewOrderRecapList?id="+MasterLCID+"&ts="+tsv;
    var oRecapList = window.showModalDialog(url, oParameter, 'dialogHeight:635px;dialogWidth:1015px;dialogLeft:180;dialogTop:10;center:yes;resizable:no;status:no;scroll:no');

 }

 function ViewTransfer(MasterLCID)
 {
     if( MasterLCID == null ||  parseInt(MasterLCID)<=0)
    {
        alert("Sorry Click Again");
        return;
    }
     var oParameter = new Object();        
    oParameter.Name = "View LC Transfer List";
    var tsv=((new Date()).getTime())/1000;
    var url =_sBaseAddress+ "/MasterLC/ViewTransferList?id="+MasterLCID+"&ts="+tsv;
    var oRecapList = window.showModalDialog(url, oParameter, 'dialogHeight:635px;dialogWidth:1015px;dialogLeft:180;dialogTop:10;center:yes;resizable:no;status:no;scroll:no');

 }


 function ViewSalesContact(MasterLCID)
 {
     if( MasterLCID == null ||  parseInt(MasterLCID)<=0)
    {
        alert("Sorry Click Again");
        return;
    }
     var oParameter = new Object();        
    oParameter.Name = "View Sales Contact List";
    var tsv=((new Date()).getTime())/1000;
    var url =_sBaseAddress+ "/MasterLC/ViewSalesContactList?id="+MasterLCID+"&ts="+tsv;
    var oRecapList = window.showModalDialog(url, oParameter, 'dialogHeight:635px;dialogWidth:1015px;dialogLeft:180;dialogTop:10;center:yes;resizable:no;status:no;scroll:no');

 }



function PrintPreview()
{
    var oMasterLCSummery= $('#tblMasterLCSummery').datagrid('getSelected'); 
    if(oMasterLCSummery==null || oMasterLCSummery.MasterLCID<=0)
    {
        alert("Please select a item from list!");
        return;
    }
    window.open(_sBaseAddress + '/MasterLC/PrintMasterLCPreview?id='+oMasterLCSummery.MasterLCID); 
}

 
function PrintList()
{
    var oMasterLCSummerys= $('#tblMasterLCSummery').datagrid('getRows'); 
    var ids ="";
    if(oMasterLCSummerys.length >0)
    {
            
        for(var i =0;i<oMasterLCSummerys.length;i++)
        {
            ids =ids+oMasterLCSummerys[i].MasterLCID+",";
        }
            ids= ids.substring(0, ids.length - 1);
    }
    else
    {    
        alert("Data not found ");
        return;
    }
    window.open(_sBaseAddress + '/MasterLC/PrintMasterList?sIDs='+ids);   
} 
  
  


function RefreshControlLayout()
{
    document.getElementById('btnAdd').style.display = 'none'; 
    document.getElementById('btnEdit').style.display = 'none'; 
    document.getElementById('btnDelete').style.display = 'none'; 
    document.getElementById('btnApproved').style.display = 'none';
    document.getElementById('btnAcceptAmendment').style.display = 'none';

    document.getElementById('btnPreView').style.display = 'none'; 
    document.getElementById('btnAPrintList').style.display = 'none'; 
    if(HavePermission('Add','MasterLCSummery')){document.getElementById('btnAdd').style.display = '';}
    if(HavePermission('Edit','MasterLCSummery')){document.getElementById('btnEdit').style.display = '';}
    if(HavePermission('Delete','MasterLCSummery')){document.getElementById('btnDelete').style.display = '';}
    if(HavePermission('Approved','MasterLCSummery')){document.getElementById('btnApproved').style.display = '';}
    if(HavePermission('Revise','MasterLCSummery')){document.getElementById('btnAcceptAmendment').style.display = ''; document.getElementById('btnAcceptAmendment').style.display = '';}
    
    if(HavePermission('Preview','MasterLCSummery')){document.getElementById('btnPreView').style.display = '';}
    if(HavePermission('PrintList','MasterLCSummery')){document.getElementById('btnAPrintList').style.display = '';}
    
    
    
}

function HavePermission(sOperationType, sDbObject)
{
    var nSessionID =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.currentUserID]));
    if(nSessionID == -9) //check SuperUser 
    {
        return true;
    }else
    {
        
        for(var i =0;i<_oAuthorizationRolesMapping.length;i++)
        {
            if(_oAuthorizationRolesMapping[i].OperationTypeInString == sOperationType && _oAuthorizationRolesMapping[i].DBObjectName == sDbObject)
            return  true;
        }
        return false;
     }
}



</script>
