
    @{
        ViewBag.Title = "Archive Data";
    }
@model IEnumerable<ESimSol.BusinessObjects.ArchiveData>
<div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
    <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
        <label style="font-size:18px;">Please wait</label>
        <div id="progressbar" style="width:100%;height:37px;"></div>
    </div>
</div>
    <div class="menuMainCollectionTable" style="height:100%">
        <table id="tblArchiveDatas" title="ArchiveData List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="ArchiveNo" width="100">Archive No</th>
                    <th field="EmpCount" width="100">Emp Count</th>
                    <th field="ArchiveDateSt" width="100">Date</th>
                    <th field="ArchiveMonthName" width="100">Archive MonthName</th>
                    <th field="ArchiveYearID" width="100">Archive YearName</th>
                    <th field="ArchiveStatusName" width="100">Archive Status</th>
                    <th field="ApprovedByName" width="100">Approved By</th>
                    <th field="Remarks" width="100">Remarks</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            @*<a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv Search</a>*@
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
            <a id="btnBackup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-back" plain="true">Backup</a>
            <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true">Approve</a>
            <a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Export To Excel</a></div>
    </div>
  <script type="text/javascript">
    $(document).ready(function () {
        var oArchiveDatas =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
          var oAuthorizationRolesMapping = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
          var oTempArchiveDatas =sessionStorage.getItem("ArchiveDatas");
          if(oTempArchiveDatas!=null)
          {
              oArchiveDatas = jQuery.parseJSON(oTempArchiveDatas);
          }
          RefreshList(oArchiveDatas);
          RefreshControlLayout(oAuthorizationRolesMapping);
          $("#progressbarParent").hide();
      });
      function updateProgress() {
          var value =$('#progressbar').progressbar('getValue');
          if (value < 96){
              value += Math.floor(Math.random() * 10);
              $('#progressbar').progressbar('setValue', value);
          }
      }
      function hideShow(miliseconds) {
          $("#progressbarParent").hide();
      }
      $('#btnAdd').click(function () {
          var oArchiveDatas = $('#tblArchiveDatas').datagrid('getRows');
          sessionStorage.setItem("ArchiveDatas", JSON.stringify(oArchiveDatas));
          sessionStorage.setItem("SelectedRowIndex", -1);
          sessionStorage.setItem("ArchiveDataHeader", "Add ArchiveData");
          sessionStorage.setItem("BackLink", window.location.href);
          window.location.href = sessionStorage.getItem('BaseAddress')+ "/ArchiveData/ViewArchiveData?id=0";
      });

      $('#btnEdit').click(function(){
          var oArchiveData= $('#tblArchiveDatas').datagrid('getSelected');
          if(oArchiveData==null || oArchiveData.ArchiveDataID<=0)
          {
              alert("Please select a item from list!");
              return;
          }
          if(parseInt(oArchiveData.ApprovedBy)!=0)
          {
              alert("Your selected ArchiveData already approved!");
              return;
          }
          var nSelectedRowIndex=$('#tblArchiveDatas').datagrid('getRowIndex',oArchiveData);
          var oArchiveDatas= $('#tblArchiveDatas').datagrid('getRows');
          sessionStorage.setItem("ArchiveDatas", JSON.stringify(oArchiveDatas));
          sessionStorage.setItem("SelectedRowIndex", nSelectedRowIndex);
          sessionStorage.setItem("ArchiveDataHeader", "Edit ArchiveData");
          sessionStorage.setItem("BackLink", window.location.href);
          window.location.href =  sessionStorage.getItem('BaseAddress')+  "/ArchiveData/ViewArchiveData?id="+oArchiveData.ArchiveDataID;
      });

      $('#btnView').click(function(){
          var oArchiveData= $('#tblArchiveDatas').datagrid('getSelected');
          if(oArchiveData==null || oArchiveData.ArchiveDataID<=0)
          {
              alert("Please select a item from list!");
              return;
          }
          var nSelectedRowIndex=$('#tblArchiveDatas').datagrid('getRowIndex',oArchiveData);
          var oArchiveDatas= $('#tblArchiveDatas').datagrid('getRows');
          sessionStorage.setItem("ArchiveDatas", JSON.stringify(oArchiveDatas));
          sessionStorage.setItem("SelectedRowIndex", nSelectedRowIndex);
          sessionStorage.setItem("ArchiveDataHeader", "View ArchiveData");
          sessionStorage.setItem("BackLink", window.location.href);
          window.location.href =  sessionStorage.getItem('BaseAddress')+  "/ArchiveData/ViewArchiveData?id="+oArchiveData.ArchiveDataID;
      });

      $('#btnDelete').click(function(){
          debugger;
          var oArchiveData= $('#tblArchiveDatas').datagrid('getSelected');
          if(oArchiveData==null || oArchiveData.ArchiveDataID<=0)
          {
              alert("Please select a item from list!");
              return;
          }

          if(parseInt(oArchiveData.ApprovedBy)!=0)
          {
              alert("Your selected ArchiveData already approved!");
              return;
          }
          if (!confirm("Confirm to Delete?")) return ;


          var SelectedRowIndex=$('#tblArchiveDatas').datagrid('getRowIndex',oArchiveData);

          if (oArchiveData.ArchiveDataID > 0)
          {
              debugger;
              $.ajax({
                  type: "POST",
                  dataType: "json",
                  url :sessionStorage.getItem('BaseAddress')+  "/ArchiveData/Delete",
                  data: JSON.stringify(oArchiveData),
                  contentType: "application/json; charset=utf-8",
                  success: function (data) {
                      debugger;
                      feedbackmessage = jQuery.parseJSON(data);
                      if (feedbackmessage == "Deleted")
                      {
                          alert("Delete sucessfully");
                          $('#tblArchiveDatas').datagrid('deleteRow',SelectedRowIndex);
                          var oArchiveDatas= $('#tblArchiveDatas').datagrid('getRows');
                          sessionStorage.setItem("ArchiveDatas", JSON.stringify(oArchiveDatas));

                      }
                      else
                      {
                          alert(feedbackmessage);
                      }
                  },
                  error: function (xhr, status, error)
                  {
                      alert(error);
                  }

              });
          }
      });

      $('#btnApprove').click(function(){
          var oArchiveData= $('#tblArchiveDatas').datagrid('getSelected');
          var nSelectedRowIndex=$('#tblArchiveDatas').datagrid('getRowIndex',oArchiveData);
          if(oArchiveData==null || oArchiveData.ArchiveDataID<=0)
          {
              alert("Please select a item from list!");
              return;
          }
          if(parseInt(oArchiveData.ApprovedBy)!=0)
          {
              alert("Your selected ArchiveData already approved!");
              return;
          }
          if(parseInt(oArchiveData.ArchiveStatus)!=2)
          {
              alert("Please Backup Your Selected Archive Data");
              return;
          }
          if (!confirm("Confirm to Approve?")) return ;
          $.ajax({
              type: "POST",
              dataType: "json",
              url: sessionStorage.getItem('BaseAddress')+  "/ArchiveData/Approved",
              traditional: true,
              data:  JSON.stringify(oArchiveData),
              contentType: "application/json; charset=utf-8",
              success: function (data) {
                  oArchiveData = jQuery.parseJSON(data);
                  if (oArchiveData.ErrorMessage=="" || oArchiveData.ErrorMessage==null)
                  {
                      alert("Approved Successfully");
                      $('#tblArchiveDatas').datagrid('updateRow',{ index: nSelectedRowIndex, row: oArchiveData });
                  }
                  else
                  {
                      alert(oArchiveData.ErrorMessage);
                  }
              },
              error: function (xhr, status, error) {
                  alert(error);
              }
          });

      });

      $('#btnBackup').click(function(){
          debugger;
          var oArchiveData= $('#tblArchiveDatas').datagrid('getSelected');
          var nSelectedRowIndex=$('#tblArchiveDatas').datagrid('getRowIndex',oArchiveData);
          if(oArchiveData==null || oArchiveData.ArchiveDataID<=0)
          {
              alert("Please select a item from list!");
              return;
          }
          if(parseInt(oArchiveData.ApprovedBy)!=0)
          {
              alert("Your selected ArchiveData already approved!");
              return;
          }
          if (!confirm("Confirm to Backup?")) return ;
          $("#progressbar").progressbar({ value: 0 });
          $("#progressbarParent").show();
          var intervalID = setInterval(updateProgress, 250);
          $.ajax({
              type: "POST",
              dataType: "json",
              url: sessionStorage.getItem('BaseAddress')+  "/ArchiveData/Backup",
              traditional: true,
              data:  JSON.stringify(oArchiveData),
              contentType: "application/json; charset=utf-8",
              success: function (data) {
                  clearInterval(intervalID);
                  $("#progressbarParent").hide();
                  oArchiveData = jQuery.parseJSON(data);
                  if (oArchiveData.ErrorMessage=="" || oArchiveData.ErrorMessage==null)
                  {
                   
                      alert("Backup Successfully");
                      $('#tblArchiveDatas').datagrid('updateRow',{ index: nSelectedRowIndex, row: oArchiveData });
                  }
                  else
                  {
                      alert(oArchiveData.ErrorMessage);
                  }
  

              },
              error: function (xhr, status, error) {
                  alert(error);
              }
          });

      });

      $('#btnExportToExcel').click(function(e){
          debugger;
          var oArchiveData=$('#tblArchiveDatas').datagrid('getSelected');
          if(oArchiveData==null || parseInt(oArchiveData.ArchiveDataID)<=0)
          {
              alert("Please select Archive Data ");
              return;
          }
          var tsv=((new Date()).getTime())/1000;
          window.open(sessionStorage.getItem("BaseAddress")+ "/ArchiveData/ExportToExcelArchiveData?nArchiveDataID="+oArchiveData.ArchiveDataID+"&tsv="+tsv,"_blank");
      });
      function RefreshList(oArchiveDatas)
      {
          DynamicRefreshList(oArchiveDatas, 'tblArchiveDatas');
          var nSelectedRowIndex =parseInt(sessionStorage.getItem("SelectedRowIndex"));
          if(nSelectedRowIndex!=-1)
          {
              $('#tblArchiveDatas').datagrid('selectRow', nSelectedRowIndex);
          }
      }

      function RefreshControlLayout(oAURolesMapping)
      {
          $("#btnAdd").hide();
          $("#btnEdit").hide();
          $("#btnView").hide();
          $("#btnDelete").hide();
          $("#btnApprove").hide();
          $("#btnBackup").hide();
          $("#btnExportToExcel").hide();
          if(PermissionChecker('Add','ArchiveData',oAURolesMapping)){$("#btnAdd").show();}
          if(PermissionChecker('Edit','ArchiveData',oAURolesMapping)){$("#btnEdit").show();}
          if(PermissionChecker('View','ArchiveData',oAURolesMapping)){$("#btnView").show();}
          if(PermissionChecker('Delete','ArchiveData', oAURolesMapping)){$("#btnDelete").show();}
          if(PermissionChecker('Approved','ArchiveData', oAURolesMapping)){$("#btnApprove").show();}
          if(PermissionChecker('BackUP','ArchiveData', oAURolesMapping)){$("#btnBackup").show();}
          if(PermissionChecker('XLPrint','ArchiveData', oAURolesMapping)){$("#btnExportToExcel").show();}
      }

   </script>
