@{
    ViewBag.Title = "Financial Position  Data";
}

@model ESimSol.BusinessObjects.FPData

<div class="menuMainCollectionTable panel-group" ng-app="FDataApp" ng-controller="FPDataController" id="divCC" style="height:530px">
<div class=" panel-primary">
    <div style="height:490px;" class="panel-body regionFPData">
        <fieldset style=" height:100%; text-align:center;">
            <legend style="font-weight:bold;">Basic Info : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:90%; margin:150px 90px 0 -40px">
                <tr>
                    <td style="width:20%; text-align:right">
                        Date :
                    </td>
                    <td style="width:30%">
                        <table border="0">
                            <tr>
                                <td style="width:80%"><div class="input-group date date-container">
                                    <input type="text" class="form-control" ng-change="ChangeDate()" ng-model="FPData.FPDateSt"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div></td>
                                <td style="width:20%"><button type="button" id="btnHistory" class="btn btn-default btn-sm btn-default" aria-label="right Align" ng-click="History()"><span class="glyphicon glyphicon-search" aria-hidden="true"> History</span></button></td>
                            </tr>
                        </table>
                    </td>
                    <td style="width:20%; text-align:right">
                        Export History Month :
                    </td>
                    <td style="width:30%">
                        <input type="text" ng-model="FPData.ExportHMonth" class="form-control" style="width:100%" />
                    </td>
                   
                </tr>

                <tr>
                    <td style="width:20%; text-align:right">
                        Export History Qty:
                    </td>
                    <td style="width:30%">
                        <input type="number" ng-model="FPData.ExportHQty" class="form-control" style="width:100%;text-align:right" />
                    </td>
                    <td style="width:20%; text-align:right">
                        Export History Value :
                    </td>
                    <td style="width:30%">
                        <input type="number" ng-model="FPData.EHValue" class="form-control" style="width:100%;text-align:right" />
                    </td>
                </tr>
                <tr>
                    <td style="width:20%; text-align:right">
                        Export Qty:
                    </td>
                    <td style="width:30%">
                        <input type="number"  ng-model="FPData.ExportQty"   class="form-control" style="width:100%;text-align:right" />
                    </td>
                    <td style="width:20%; text-align:right">
                        Export Value :
                    </td>
                    <td style="width:30%">
                        <input type="number" ng-model="FPData.ExportValue" class="form-control" style="width:100%;text-align:right" />
                    </td>
                </tr>
                <tr>
                    <td style="width:20%; text-align:right">
                        Operation Cost :
                    </td>
                    <td style="width:30%">
                        <input type="number" ng-model="FPData.OperationalCost" class="form-control" style="width:100%;text-align:right" />
                    </td>
                    <td style="width:20%; text-align:right">
                        BTB Cost :
                    </td>
                    <td style="width:30%">
                        <input type="number" ng-model="FPData.BTBCost" class="form-control" style="width:100%;text-align:right" />
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
    <fieldset>
        <legend style="font-weight:bold"> Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
            <tr>
                <td style="width:100%;text-align:right">
                    <button type="button" id="btnSave" class="btn btn-default btn-md btn-success" aria-label="right Align" ng-click="Save()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> Save</span></button>
                    <button type="button" id="btnClose" class="btn btn-default btn-md btn-danger" aria-label="right Align" ng-click="Close()"><span class="glyphicon glyphicon-remove" aria-hidden="true"> Close</span></button>
                </td>
            </tr>
        </table>
    </fieldset>
</div>
</div>
<style type="text/css">
    .regionFPData .form-horizontal .control-label {
        padding-top: 1px;
    }

    .regionFPData .form-control {
        height: 26px;
        padding: 0px 4px;
        font-size: 12px;
        width: 100%;
    }
      .regionFPData .input-group-addon {
        padding: 4px 8px;
    }
</style>

    <script type="text/javascript">
        var _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oFPData =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oFPDataLogs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FPDataLogs));

        debugger;
        var  mainAppModule = angular.module('FDataApp', ['ngAnimate', 'ui.bootstrap', 'ui.grid','ui.grid.selection', 'ui.grid.cellNav','ui.grid.resizeColumns','ms.service']);
        mainAppModule.controller('FPDataController', function ($scope, $http, $uibModal, $log, uiGridConstants,msGridControl, msModal, userSession) {

            $('.date-container').datepicker({
                format: "dd M yyyy",
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true
            });
            $scope.FPData = oFPData;
            $scope.FPDataLogs = oFPDataLogs;
            //$('#').icsCurrencyBox
            $scope.History = function()
            {
                debugger;
                var oFPData= {FPDate:$scope.FPData.FPDateSt};
                var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
                $http.post(sessionStorage.getItem('BaseAddress')+'/FPData/GetsFPDataHistory',$.param(oFPData), config).then(
                            function (response)
                            {
                                var oColumns = [];
                                var oColumn = { field: 'FPDateSt', name: 'Date',width: '15%'  };oColumns.push(oColumn);
                                oColumn = { field: 'ExportHMonth', name: 'Export Month',width: '15%'  };oColumns.push(oColumn);
                                oColumn = { field: 'ExportHQty', name: 'Export History Qty',width: '15%', cellFilter: 'number: 0', cellClass: 'text-right',  enableSorting: false  };oColumns.push(oColumn);
                                oColumn = { field: 'EHValue', name: 'Export History Value',width: '20%', cellFilter: 'number: 2', cellClass: 'text-right',  enableSorting: false  };oColumns.push(oColumn);
                                oColumn = { field: 'ExportQty', name: 'Export Qty',width: '15%', cellFilter: 'number: 0', cellClass: 'text-right',  enableSorting: false  };oColumns.push(oColumn);
                                oColumn = { field: 'OperationalCost', name: 'Operation cost',width: '20%', cellFilter: 'number: 2', cellClass: 'text-right',  enableSorting: false  };oColumns.push(oColumn);
                                oColumn = { field: 'BTBCost', name: 'BTB cost',width: '10%', cellFilter: 'number: 2', cellClass: 'text-right',  enableSorting: false  };oColumns.push(oColumn);
                                oColumn = { field: 'ExportValue', name: 'Export Value',width: '15%', cellFilter: 'number: 2', cellClass: 'text-right',  enableSorting: false  };oColumns.push(oColumn);

                                var results=jQuery.parseJSON(response.data);
                                var modalObj={
                                    size:'lg',
                                    modalcontroller:'ModalCommonListCtrl',
                                    appcontroller:'FPDataController',
                                    objs:results,
                                    multiSelect:false,
                                    pickertitle:'FP Data List',
                                    searchingbyfieldName:'FPDataID',
                                    columns:oColumns
                                }
                                var modalInstance=msModal.Instance(modalObj);
                                modalInstance.result.then(function (result)
                                {
                                    debugger;
                                    $scope.FPData = result;

                                }, function () {
                                    $log.info('Modal dismissed at: ' + new Date());
                                });
                            },
                                function (response) { alert(jQuery.parseJSON(response.data).Message);}
                        );
            }


            $scope.Save = function () {
                debugger;
                var oFPData= $scope.FPData;
                oFPData.FPDate = new Date(oFPData.FPDateSt);
                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url : _sBaseAddress+"/FPData/Save",
                    traditional: true,
                    data:  JSON.stringify(oFPData),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        //debugger;
                        var oFPData= jQuery.parseJSON(data);
                        if (oFPData.ErrorMessage=="" || oFPData.ErrorMessage==null)
                        {
                            alert("Data Save Successfully!!");
                            $scope.FPData = oFPData;
                        }
                        else
                        {
                            alert(oMasterLC.ErrorMessage);
                        }
                    },
                    error: function (xhr, status, error)
                    {
                        alert(error);
                    }
                });
              
            };

            $scope.changeSetUpType= function()
            {
                debugger;
                var obj = {
                    SetUpTypeInt:$scope.cboSetUpType
                };
                var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
                $http.post(_sBaseAddress+'/CapacityAllocation/GetSubSetUpList',$.param(obj), config).then(
                function (response)
                {
                    debugger;
                    results=jQuery.parseJSON(response.data);
                    results.push({id:0,Value:'--Select One--'});
                    $scope.SubSetUpList=results;
                    if($scope.cboSubSetUp>0 )
                    {
                        $scope.cboSubSetUp = $scope.cboSubSetUp;
                    }else{
                        $scope.cboSubSetUp = 0;
                    }

                }, function () {
                    $log.info('FPData Dismissed at: ' + new Date());
                });
            }



            //Print
            $scope.Print = function () {
                debugger;
                window.open(sessionStorage.getItem('BaseAddress') +'/CapacityAllocation/PrintFPMgtReport?sParam=');

            };

       
        });


    </script>




