@{
    ViewBag.Title = "Commercial Invoice Register";
}
@model ESimSol.BusinessObjects.CommercialInvoiceRegister
<div class="menuMainCollectionTable" id="regionCommercialInvoiceRegister">
    <table id="tblCommercialInvoiceRegisters" title="Commercial Invoice Register" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
        <thead data-options="frozen:true">
            <tr>
                <th field="MasterLCNo" width="11%">L/C Or TT Number</th>
                <th field="BuyerName" width="10%">Buyer</th>
                <th field="BUName" width="5%">Unit</th>
                <th field="StyleNo" width="10%">Style Number</th>
                <th field="OrderRecapNo" width="10%">PO Number</th>
                <th field="InvoiceNo" align="left" width="9%">Invoice No</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th field="InvoiceStatusInString" align="center" width="8%">Status</th>
                <th field="ApprovedByName" align="center" width="8%">Approve By</th>
                <th field="ShipmentModeInString" align="center"  width="8%">Ship Mode</th>
                <th field="AmountSt" align="right" width="10%">Value</th>
                <th field="InvoiceQty" formatter="formatPriceWithZeroDecimal" align="right" width="10%">Pcs</th>
                <th field="CartonQty" formatter="formatPriceWithZeroDecimal" align="right" width="10%">CTN</th>
                <th field="InvoiceDateInString" align="center" width="8%">Invoice Date</th>
                <th field="SendingMonth" align="center" width="7%">Month</th>
                <th field="GSPST" width="10%">GSPS</th>
                <th field="ICST" width="10%">IC</th>
                <th field="BLST" width="10%">BL</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <select id="cboBU" style="width:60px;"></select>
        <select id="cboBuyer" style="width:120px;"></select>&nbsp;
        <input type="checkbox" id="chkIsDateSearch" />&nbsp;<input type="text" id="txtStartDate" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:95px" />To<input type="text" id="txtEndDate" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:95px" />
        <input id="txtLCNo" style="width:70px;" type="text" placeholder="Type LC " />
        <input id="txtStyleName" style="width:70px;" type="text" placeholder="Style Name " />
        <input id="txtOrderNo" style="width:60px;" type="text" placeholder="PO " />
        <input id="txtInvoiceNo" style="width:70px;" type="text" placeholder="Invoice No" />
        <label><div style="border:1px solid;width:95px; font-weight:normal;">&nbsp;GSP:&nbsp;<label><input type="checkbox" id="chkIsYesGSP" />&nbsp;Y&nbsp;</label><label><input type="checkbox" id="chkIsNoGSP" />&nbsp;N</label></div></label>
        <label><div style="border:1px solid;width:82px;font-weight:normal;">&nbsp;BL:&nbsp;<label><input type="checkbox" id="chkIsYesBL" />&nbsp;Y&nbsp;</label><label><input type="checkbox" id="chkIsNoBL" />&nbsp;N</label></div></label>
        <label><div style="border:1px solid;width:82px;font-weight:normal;">&nbsp;IC:&nbsp;<label><input type="checkbox" id="chkIsYesIC" />&nbsp;Y&nbsp;</label><label><input type="checkbox" id="chkIsNoIC" />&nbsp;N</label></div></label>
        <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
        <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" onclick="View()" plain="true">View</a>
        <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" onclick="Approve()" plain="true">Approve</a>
        <a id="btnUndoApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" onclick="UndoApprove()" plain="true">Undo</a>
        <a id="btnGSP" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="GSP()" plain="true">GSP</a>
        <a id="btnBL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="BL()" plain="true">BL</a>
        <a id="btnIC" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="IC()" plain="true">IC</a>
        <a id="btnPrintPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
        <a id="btnPrintXL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">XL</a>
    </div>
</div>

<script type="text/javascript">
    debugger;
    var _oCommercialInvoiceRegisters = [];
    var nBUID = 0;
    $(document).ready(function () {
        var _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oCommercialInvoiceRegisters =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oBusinessUnits = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
        var oBuyers= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Buyers));
        debugger;
        var oCommercialInvoiceRegisters =sessionStorage.getItem("CommercialInvoices");
        if(oCommercialInvoiceRegisters!=null)
        {
            oCommercialInvoiceRegisters = jQuery.parseJSON(oCommercialInvoiceRegisters);
        }
        else
        {
            oCommercialInvoiceRegisters=_oCommercialInvoiceRegisters;
        }
        $('#txtStartDate,#txtEndDate').datebox('setValue', icsdateformat(new Date()));
        DynamicRefreshList(oCommercialInvoiceRegisters,'tblCommercialInvoiceRegisters');
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        if(nIndex!=undefined)
        {
            $('#tblCommercialInvoiceRegisters').datagrid('selectRow',nIndex);
        }
        $("#cboBU").icsLoadCombo({List: oBusinessUnits, OptionValue: "BusinessUnitID",DisplayText: "ShortName", InitialValue:"--Select Business Unit--"});
        $("#cboBuyer").icsLoadCombo({List: oBuyers, OptionValue: "ContractorID",DisplayText: "Name", InitialValue:"--Buyer--"});
        $("#cboBU").val(nBUID);
        if(nBUID!=0)//if single BU it will be disabled
        {
            $("#cboBU").attr('disabled',true);
        }
    });
    $('#cboBU').change(function(){
        var oContractor ={Params:'3~~'+parseInt($('#cboBU').val())};//get byer type
        $.ajax
        ({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem("BaseAddress")+  "/Contractor/ContractorSearchByNameType",
            data:  JSON.stringify(oContractor),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oContractors = data;
                if(oContractors!=null)
                {
                    $("#cboBuyer").icsLoadCombo({List: oContractors, OptionValue: "ContractorID",DisplayText: "Name", InitialValue:"--Buyer--"});
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });

    });
    $('#btnSearch').click(function(){
     
        var oCommercialInvoiceRegister = MakeSearcingObject();
        $.ajax
     ({
         type: "POST",
         dataType: "json",
         url : sessionStorage.getItem("BaseAddress")+  "/CommercialInvoiceRegister/SearchDetails",
         data:  JSON.stringify(oCommercialInvoiceRegister),
         contentType: "application/json; charset=utf-8",
         success: function (data) {
             debugger;
             var oCommercialInvoiceRegisters= data;
             if(oCommercialInvoiceRegisters!=null && oCommercialInvoiceRegisters.length>0)
             {
                 
                 DynamicRefreshList(oCommercialInvoiceRegisters,'tblCommercialInvoiceRegisters');
             }else{
                 alert("Data Not found.");
                 DynamicRefreshList([],'tblCommercialInvoiceRegisters');
             }
         },
         error: function (xhr, status, error)
         {
             alert(error);
         }
     });
    
    
    });   
    
    function View ()
    {
        //debugger;
        var oCommercialInvoice =$('#tblCommercialInvoiceRegisters').datagrid('getSelected');
        if(oCommercialInvoice==null || parseInt(oCommercialInvoice.CommercialInvoiceID)<=0)
        {
            alert("Please Select an item from list");
            return;
        }
        var SelectedRowIndex=$('#tblCommercialInvoiceRegisters').datagrid('getRowIndex',oCommercialInvoice);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("CommercialInvoiceHeader", "View Commercial Invoice");
        var oCommercialInvoiceRegisters= $('#tblCommercialInvoiceRegisters').datagrid('getRows');
        sessionStorage.setItem("CommercialInvoices", JSON.stringify(oCommercialInvoiceRegisters));
        sessionStorage.setItem("BackLink", window.location.href);        
        window.location.href =sessionStorage.getItem('BaseAddress')+"/CommercialInvoice/ViewCommercialInvoice?id=0"+0+"&nCommercialInvoiceID="+oCommercialInvoice.CommercialInvoiceID;
    };
    function GSP ()
    {
        //debugger;
        var oTempCommercialInvoice =$('#tblCommercialInvoiceRegisters').datagrid('getSelected');
        if(oTempCommercialInvoice==null || parseInt(oTempCommercialInvoice.CommercialInvoiceID)<=0)
        {
            alert("Please Select an item from list");
            return;
        }
        if (!confirm("Confirm to Change GSP.?")) return ;
        var oCommercialInvoice = {
            CommercialInvoiceID:oTempCommercialInvoice.CommercialInvoiceID,
            CommercialInvoiceDetailID:oTempCommercialInvoice.CommercialInvoiceDetailID,
            GSP:true,bIsChangeField:true}
        if(oTempCommercialInvoice.GSP==1)
        {
            oCommercialInvoice.bIsChangeField= false;
        }
        var SelectedRowIndex=$('#tblCommercialInvoiceRegisters').datagrid('getRowIndex',oTempCommercialInvoice);
        $.ajax
   ({
       type: "POST",
       dataType: "json",
       url : sessionStorage.getItem("BaseAddress")+  "/CommercialInvoice/ChangeField",
       data:  JSON.stringify(oCommercialInvoice),
       contentType: "application/json; charset=utf-8",
       success: function (data) {
           debugger;
           var oCommercialInvoice = jQuery.parseJSON(data);
           alert("Succefully Changed GSP");   
           $('#tblCommercialInvoiceRegisters').datagrid('updateRow',{index: SelectedRowIndex,row:oCommercialInvoice});
       },
       error: function (xhr, status, error)
       {
           alert(error);
       }
   });
    };   
    function IC ()
    {
        //debugger;
        //debugger;
        var oTempCommercialInvoice =$('#tblCommercialInvoiceRegisters').datagrid('getSelected');
        if(oTempCommercialInvoice==null || parseInt(oTempCommercialInvoice.CommercialInvoiceID)<=0)
        {
            alert("Please Select an item from list");
            return;
        }
        if (!confirm("Confirm to Change IC.?")) return ;
        var oCommercialInvoice = {
            CommercialInvoiceID:oTempCommercialInvoice.CommercialInvoiceID,
            CommercialInvoiceDetailID:oTempCommercialInvoice.CommercialInvoiceDetailID,
            IC:true,
            bIsChangeField:true
        }
        if(oTempCommercialInvoice.IC==1)
        {
            oCommercialInvoice.bIsChangeField= false;
        }
        var SelectedRowIndex=$('#tblCommercialInvoiceRegisters').datagrid('getRowIndex',oTempCommercialInvoice);
        $.ajax
   ({
       type: "POST",
       dataType: "json",
       url : sessionStorage.getItem("BaseAddress")+  "/CommercialInvoice/ChangeField",
       data:  JSON.stringify(oCommercialInvoice),
       contentType: "application/json; charset=utf-8",
       success: function (data) {
           debugger;
           var oCommercialInvoice = jQuery.parseJSON(data);
           alert("Succefully Changed IC");   
           $('#tblCommercialInvoiceRegisters').datagrid('updateRow',{index: SelectedRowIndex,row:oCommercialInvoice});
       },
       error: function (xhr, status, error)
       {
           alert(error);
       }
   });
    };
    function BL ()
    {
        //debugger;
        var oTempCommercialInvoice =$('#tblCommercialInvoiceRegisters').datagrid('getSelected');
        if(oTempCommercialInvoice==null || parseInt(oTempCommercialInvoice.CommercialInvoiceID)<=0)
        {
            alert("Please Select an item from list");
            return;
        }
        if (!confirm("Confirm to Change BL.?")) return ;
        var oCommercialInvoice = {
            CommercialInvoiceID:oTempCommercialInvoice.CommercialInvoiceID,
            CommercialInvoiceDetailID:oTempCommercialInvoice.CommercialInvoiceDetailID,
            BL:true,
            bIsChangeField:true
        }
        if(oTempCommercialInvoice.BL==1)
        {
            oCommercialInvoice.bIsChangeField= false;
        }
        var SelectedRowIndex=$('#tblCommercialInvoiceRegisters').datagrid('getRowIndex',oTempCommercialInvoice);
        $.ajax
   ({
       type: "POST",
       dataType: "json",
       url : sessionStorage.getItem("BaseAddress")+  "/CommercialInvoice/ChangeField",
       data:  JSON.stringify(oCommercialInvoice),
       contentType: "application/json; charset=utf-8",
       success: function (data) {
           debugger;
           var oCommercialInvoice = jQuery.parseJSON(data);
           alert("Succefully Changed BL");   
           $('#tblCommercialInvoiceRegisters').datagrid('updateRow',{index: SelectedRowIndex,row:oCommercialInvoice});
       },
       error: function (xhr, status, error)
       {
           alert(error);
       }
   });
    };
    function Approve()
    {
        //debugger;
        var oCommercialInvoice =$('#tblCommercialInvoiceRegisters').datagrid('getSelected');
        if(oCommercialInvoice==null || parseInt(oCommercialInvoice.CommercialInvoiceID)<=0)
        {
            alert("Please Select an item from list");
            return;
        }
        if(oCommercialInvoice.InvoiceStatus!=0 )
        {
            alert("Initialize Item Can't Approve");
            return;
        }
        if(oCommercialInvoice.ApprovedBy!=0 )
        {
            alert("Sorry,Selected Item  Already Approved.");
            return;
        }
        var SelectedRowIndex=$('#tblCommercialInvoiceRegisters').datagrid('getRowIndex',oCommercialInvoice);
        if (!confirm("Confirm to Approve?")) return ;
        $.ajax
   ({
       type: "POST",
       dataType: "json",
       url : sessionStorage.getItem("BaseAddress")+  "/CommercialInvoice/Approval",
       data:  JSON.stringify(oCommercialInvoice),
       contentType: "application/json; charset=utf-8",
       success: function (data) {
           debugger;
           var oCommercialInvoice = jQuery.parseJSON(data);
           alert("Succefully Approved");     
           $('#tblCommercialInvoiceRegisters').datagrid('updateRow',{index: SelectedRowIndex,row:oCommercialInvoice});
       },
       error: function (xhr, status, error)
       {
           alert(error);
       }
   });
    };
    function UndoApprove()
    {
        //debugger;
        var oCommercialInvoice =$('#tblCommercialInvoiceRegisters').datagrid('getSelected');
        if(oCommercialInvoice==null || parseInt(oCommercialInvoice.CommercialInvoiceID)<=0)
        {
            alert("Please Select an item from list");
            return;
        }
        if(oCommercialInvoice.InvoiceStatus==0 )
        {
            alert("Sorry, This item is Initialize.");
            return;
        }
        
        var SelectedRowIndex=$('#tblCommercialInvoiceRegisters').datagrid('getRowIndex',oCommercialInvoice);
        if (!confirm("Confirm to Undo Approve?")) return ;
        $.ajax
   ({
       type: "POST",
       dataType: "json",
       url : sessionStorage.getItem("BaseAddress")+  "/CommercialInvoice/Approval",
       data:  JSON.stringify(oCommercialInvoice),
       contentType: "application/json; charset=utf-8",
       success: function (data) {
           debugger;
           var oCommercialInvoice = jQuery.parseJSON(data);
           alert("Succefully Undo Approved");     
           $('#tblCommercialInvoiceRegisters').datagrid('updateRow',{index: SelectedRowIndex,row:oCommercialInvoice});
       },
       error: function (xhr, status, error)
       {
           alert(error);
       }
   });
    };

    $('#btnPrintPreview').click(function(){
        debugger;
        var oList = $('#tblCommercialInvoiceRegisters').datagrid('getRows');
        if(oList.length<=0)
        {
            alert("Sorry, Tehere is No Item for Print.");
            return;
        }
        var oCommercialInvoiceRegister = MakeSearcingObject();
        $.ajax
     ({
         type: "POST",
         dataType: "json",
         url : sessionStorage.getItem("BaseAddress")+  "/CommercialInvoiceRegister/SetSessionSearchCriteria",
         data:  JSON.stringify(oCommercialInvoiceRegister),
         contentType: "application/json; charset=utf-8",
         success: function (data) {
             debugger;
             var sFeedBackMessage = jQuery.parseJSON(data);
             if (sFeedBackMessage === "Successful") {
                 var tsv = ((new Date()).getTime())/1000;
                 window.open(_sBaseAddress+'/CommercialInvoiceRegister/PrintRegister?ts='+tsv,"_blank");
             }
         },
         error: function (xhr, status, error)
         {
             alert(error);
         }
     });
    
    
    });
    $('#btnPrintXL').click(function(){
        debugger;
        var oList = $('#tblCommercialInvoiceRegisters').datagrid('getRows');
        if(oList.length<=0)
        {
            alert("Sorry, Tehere is No Item for Print.");
            return;
        }
        var oCommercialInvoiceRegister = MakeSearcingObject();
        $.ajax
     ({
         type: "POST",
         dataType: "json",
         url : sessionStorage.getItem("BaseAddress")+  "/CommercialInvoiceRegister/SetSessionSearchCriteria",
         data:  JSON.stringify(oCommercialInvoiceRegister),
         contentType: "application/json; charset=utf-8",
         success: function (data) {
             debugger;
             var sFeedBackMessage = jQuery.parseJSON(data);
             if (sFeedBackMessage === "Successful") {
                 var tsv = ((new Date()).getTime())/1000;
                 window.open(_sBaseAddress+'/CommercialInvoiceRegister/PrintRegisterInXL?ts='+tsv,"_blank");
             }
         },
         error: function (xhr, status, error)
         {
             alert(error);
         }
     });
    
    
    });
    function MakeSearcingObject()
    {
        var bIsSearcingActive = $("#chkIsDateSearch").attr("checked")?true:false;
        var bIsYesGSP = $("#chkIsYesGSP").attr("checked")?true:false;
        var bIsNoGSP = $("#chkIsNoGSP").attr("checked")?true:false;
        var bIsYesBL = $("#chkIsYesBL").attr("checked")?true:false;
        var bIsNoBL = $("#chkIsNoBL").attr("checked")?true:false;
        var bIsYesIC = $("#chkIsYesIC").attr("checked")?true:false;
        var bIsNoIC = $("#chkIsNoIC").attr("checked")?true:false;
        
        var oCommercialInvoiceRegister = {
            SearchingData:bIsSearcingActive+'~'+$('#txtStartDate').datetimebox('getValue')+'~'+$('#txtEndDate').datetimebox('getValue')+'~'+bIsYesGSP+'~'+bIsNoGSP+'~'+bIsYesBL+'~'+bIsNoBL+'~'+bIsYesIC+'~'+bIsNoIC,
            BUID:parseInt($('#cboBU').val()), 
            BuyerID:$('#cboBuyer').val(), 
            MasterLCNo:$.trim($('#txtLCNo').val()),
            InvoiceNo: $.trim($('#txtInvoiceNo').val()),     
            StyleNo:$.trim($('#txtStyleName').val()),  
            OrderRecapNo:$.trim($('#txtOrderNo').val()) 
        }
        return oCommercialInvoiceRegister;
    }
</script>








