@{
    ViewBag.Title = "Commercial Invoice Register";
}
@model ESimSol.BusinessObjects.CommercialInvoiceRegister
<script src="~/Views/CommonModal/CommonHistoryModal.js"></script>
<div class="menuMainCollectionTable" ng-app="CommercialInvoiceRegisterApp" ng-controller="CIRegisterController">
    <div style="font-family:Tahoma;text-align:center;width:99%;" class="regionCIR">
        <fieldset>
            <legend>Searching Criteria</legend>
            <div class="row col-md-12">
                <div class="col-md-2 text-right"><label class="control-label">Invoice No :</label></div>
                <div class="col-md-3 text-left">
                    <input class="form-control" ng-model="InvoiceNo">
                </div>
                <div class="col-md-2 text-right"><label class="control-label">Style No :</label></div>
                <div class="col-md-3 text-left">
                    <input class="form-control" ng-model="StyleNo">
                </div>              
            </div>
            <div class="row col-md-12">
                <div class="col-md-2 text-right"><label class="control-label">Applicant :</label></div>
                <div class="col-md-3 text-left">
                    <div class="input-group">
                        <input ng-model="ApplicantName" class="form-control" ng-keydown="SearchKeyDownApplicant($event)" placeholder="Type Applicant & Press Enter" required />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="PickApplicant()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2 text-right"><label class="control-label">Recap No :</label></div>
                <div class="col-md-3 text-left">
                    <input class="form-control" ng-model="OrderRecapNo">
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-2 text-right"><label class="control-label">Advice Bank :</label></div>
                <div class="col-md-3 text-left">
                    <div class="input-group">
                        <input ng-model="AdviceBankName" class="form-control" ng-keydown="SearchKeyDownAdviceBank($event)" placeholder="Type Bank Acccount & Press Enter" required />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="PickAdviceBank()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2 text-right"><label class="control-label">Shipment Date :</label></div>
                <div class="col-md-2 text-right">
                    <select class="form-control" ng-model="DateOfShipment" ng-options="item.id as item.Value for item in CompareOperators" ng-change="DisableShipmentDateFields()"></select>
                </div>
                <div class="col-md-3 text-left">
                    <div class="input-group date date-container">
                        <input type="text" class="form-control" ng-model="ShipmentStartDateInSt" ng-disabled="disableShipmentStartDateInSt"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
                <div class="col-md-2 text-center" style="width:2%;"><label class="control-label">To </label></div>
                <div class="col-md-3 text-left">
                    <div class="input-group date date-container">
                        <input type="text" class="form-control" ng-model="ShipmentEndDateInSt" ng-disabled="disableShipmentEndDateInSt"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>

                @*<div class="col-md-2 text-right"><label class="control-label">Receive Date :</label></div>
                <div class="col-md-2 text-right">
                    <select class="form-control" ng-model="DateOfReceive" ng-options="item.id as item.Value for item in CompareOperators"></select>
                </div>
                <div class="col-md-3 text-left">
                    <div class="input-group date date-container">
                        <input type="text" class="form-control" ng-model="ReceiveStartDateInSt"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
                <div class="col-md-2 text-center" style="width:2%;"><label class="control-label">To </label></div>
                <div class="col-md-3 text-left">
                    <div class="input-group date date-container">
                        <input type="text" class="form-control" ng-model="ReceiveEndDateInSt"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>*@
            </div>
            <div class="row col-md-12">
                <div class="col-md-2 text-right"><label class="control-label">Report Layout :</label></div>
                <div class="col-md-3 text-left">
                    <select class="form-control" ng-model="ReportLayout" ng-options="item.id as item.Value for item in ReportLayouts"></select>
                </div>
                <div class="col-md-2 text-right"><label class="control-label">Invoice Date :</label></div>
                <div class="col-md-2 text-right">
                    <select class="form-control" ng-model="DateOfInvoice" ng-options="item.id as item.Value for item in CompareOperators" ng-change="DisableInvoiceDateFields()"></select>
                </div>
                <div class="col-md-3 text-left">
                    <div class="input-group date date-container">
                        <input type="text" class="form-control" ng-model="InvoiceStartDateInSt" ng-disabled="disableInvoiceStartDateInSt"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
                <div class="col-md-2 text-center" style="width:2%;"><label class="control-label">To </label></div>
                <div class="col-md-3 text-left">
                    <div class="input-group date date-container">
                        <input type="text" class="form-control" ng-model="InvoiceEndDateInSt" ng-disabled="disableInvoiceEndDateInSt"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div> 

                @*<div class="col-md-2 text-right"><label class="control-label">Expire Date :</label></div>
                <div class="col-md-2 text-right">
                    <select class="form-control" ng-model="DateOfExpire" ng-options="item.id as item.Value for item in CompareOperators"></select>
                </div>
                <div class="col-md-3 text-right">
                    <div class="input-group date date-container">
                        <input type="text" class="form-control" ng-model="ExpireStartDateInSt"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
                <div class="col-md-2 text-center" style="width:2%;"><label class="control-label">To </label></div>
                <div class="col-md-3 text-right">
                    <div class="input-group date date-container">
                        <input type="text" class="form-control" ng-model="ExpireEndDateInSt"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>*@
            </div>
        </fieldset>
        <fieldset>
            <legend>Actions</legend>
            <button type="button" class="btn-primary btn-sm" aria-label="Left Align" ng-click="Print()"> <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Preview</button>
            <button type="button" class="btn-primary btn-sm" aria-label="Left Align" ng-click="Excel()"> <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Excel</button>
        </fieldset>
    </div>
</div>
<style>
    .regionCIR .form-horizontal .control-label {
            padding-top:1px;
        }

    .regionCIR .form-control {
            height: 26px;
            padding: 0px 6px;
            font-size: 12px;
        }

        .regionCIR .col-md-12 {
            width: 100%;
            padding-right: 5px;
            padding-left: 5px;
            margin-bottom: 5px;
        }

        .regionCIR .col-md-2 {
            width: 13%;
            padding-right: 5px;
            padding-left: 5px;
        }

        .regionCIR .col-md-3 {
            width: 19%;
            padding-right: 5px;
            padding-left: 5px;
        }

        .regionCIR .col-md-4 {
            width: 28%;
            padding-right: 5px;
            padding-left: 5px;
        }

        .regionCIR .col-md-5 {
            width: 33.33%;
            padding-right: 5px;
            padding-left: 0px;
        }

        .regionCIR .col-md-6 {
            width: 60%;
            padding-right: 5px;
            padding-left: 5px;
        }

        .regionCIR .col-md-10 {
            width: 86%;
            padding-right: 5px;
            padding-left: 5px;
        }

        .regionCIR .btn-sm {
            padding: 3px 10px;
        }

        .regionCIR .input-group-addon {
            padding: 4px 8px;
        }
</style>

<script type="text/javascript">
    debugger;
    var oCommercialInvoiceRegister = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
    var oReportLayouts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReportLayouts));
    var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
    var CIRegisterApp = angular.module('CommercialInvoiceRegisterApp', ['ngAnimate', 'ui.bootstrap','ui.grid','ui.grid.selection','ui.grid.edit', 'ui.grid.rowEdit','ui.grid.cellNav','ms.service','CommonHistory.service']);
    CIRegisterApp.controller('CIRegisterController',  function ($scope,$http,$uibModal,$log,uiGridConstants,msModal,userSession,msGridControl,commonhistoryservice) {
        debugger;
        $('.date-container').datepicker({
            format: "dd M yyyy",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
        });

        $scope.ReportLayouts = oReportLayouts;
        $scope.CompareOperators = oCompareOperators;

        $scope.DateOfInvoice = 0;
        $scope.DateOfShipment = 0;
        //$scope.DateOfReceive = 0;
        //$scope.DateOfExpire = 0;
        $scope.BuyerID = 0;
        $scope.AdviceBankID = 0;

        $scope.disableInvoiceStartDateInSt = true;
        $scope.disableInvoiceEndDateInSt = true;
        $scope.disableShipmentStartDateInSt = true;
        $scope.disableShipmentEndDateInSt = true;

        $scope.InvoiceNo = "";
        $scope.StyleNo = "";
        $scope.OrderRecapNo = "";
        $scope.AdviceBankName = "";
        $scope.ApplicantName = "";
        $scope.InvoiceStartDateInSt = "";
        $scope.InvoiceEndDateInSt = "";
        $scope.ShipmentStartDateInSt = "";
        $scope.ShipmentEndDateInSt = "";

        $scope.SearchKeyDownApplicant = function (e) {
            debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                var sApplicantName = $.trim($scope.ApplicantName);
                if(sApplicantName == "" || sApplicantName == null) {
                    alert("Type Applicant Name and Press Enter");
                    return;
                }
                $scope.PickApplicant();
            }
            else if (code == 8) { //backspace=8
                $scope.ApplicantName = '';
                $scope.BuyerID = 0;
            }
        };

        $scope.PickApplicant = function () {
            debugger;
            var oContractor = {
                Params: '2' + '~' + $.trim($scope.ApplicantName) + '~' + sessionStorage.getItem('BUID')
            };
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(_sBaseAddress+'/Contractor/ContractorSearchByNameType',$.param(oContractor), config).then(
                function (response) {
                    debugger;
                    var oColumns = [{ field: 'ContractorID', name: 'Code',width: '20%' },
                                    { field: 'Name', name: 'Applicant Name',width: '50%', enableSorting: false },
                                    { field: 'Address', name: 'Address',width: '30%', enableSorting: false }];

                    var results = response.data;
                    var modalObj = {
                        size:'md',
                        modalcontroller : 'ModalCommonListCtrl',
                        appcontroller : 'CIRegisterController',
                        objs : results,
                        multiSelect : false,
                        pickertitle : 'Applicant List',
                        searchingbyfieldName : 'Name',
                        columns : oColumns
                    }
                    var modalInstance = msModal.Instance(modalObj);
                    modalInstance.result.then(
                        function (result) {
                            debugger;
                            $scope.ApplicantName = result.Name;
                            $scope.BuyerID = result.ContractorID;
                        },
                        function () {
                            $log.info('Modal dismissed at: ' + new Date());
                        });
                },
                function (response) {
                    alert(jQuery.parseJSON(response.data).Message);
                });
        };

        $scope.SearchKeyDownAdviceBank = function (e) {
            debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                var sAdviceBankName = $.trim($scope.AdviceBankName);
                if(sAdviceBankName == "" || sAdviceBankName == null) {
                    alert("Type Advice bank Account and Press Enter");
                    return;
                }
                $scope.PickAdviceBank();
            }
            else if (code == 8) { //backspace=8
                debugger;
                $scope.AdviceBankName = '';
                $scope.AdviceBankID = 0;
            }
        };

        $scope.PickAdviceBank = function () {
            var oBankAccount = {
                BusinessUnitID : sessionStorage.getItem('BUID'),
                OperationalDeptInInt : '4',//EnumOperationalDept : Export_Own=4
                AccountNo : $.trim($scope.AdviceBankName)
            };
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(sessionStorage.getItem('BaseAddress')+'/BankAccount/GetsBUWithDeptWise',$.param(oBankAccount), config).then(
                function (response) {
                    var oColumns = [{ field: 'BankNameAccountNo', name: 'Account No',width: '20%' },
                                    { field: 'BranchName', name: 'Branch Name',width: '50%', enableSorting: false }];
                    var results = jQuery.parseJSON(response.data);
                    var modalObj = {
                        size : 'md',
                        modalcontroller : 'ModalCommonListCtrl',
                        appcontroller:'CIRegisterController',
                        objs : results,
                        multiSelect : false,
                        pickertitle : 'Bank Account List',
                        searchingbyfieldName : 'BankNameAccountNo',
                        columns : oColumns
                    }
                    var modalInstance = msModal.Instance(modalObj);
                    modalInstance.result.then(
                        function (result) {
                            debugger;
                            $scope.AdviceBankName = result.BankNameAccountNo;
                            $scope.AdviceBankID = result.BankAccountID;
                        }, 
                    function () {
                        $log.info('Modal dismissed at: ' + new Date());
                    });
                },
                function (response) { 
                    alert(jQuery.parseJSON(response.data).Message);
                });
        };

        $scope.RefreshObject = function () {
            debugger;
            var sSearchingData  =  $scope.DateOfInvoice +'~';
            sSearchingData = sSearchingData + $.trim($scope.InvoiceStartDateInSt) + '~';
            sSearchingData = sSearchingData + $.trim($scope.InvoiceEndDateInSt) + '~';
            sSearchingData = sSearchingData + $scope.DateOfShipment + '~';
            sSearchingData = sSearchingData + $.trim($scope.ShipmentStartDateInSt) + '~';
            sSearchingData = sSearchingData + $.trim($scope.ShipmentEndDateInSt) + '~';
            //sSearchingData = sSearchingData + $scope.DateOfReceive + '~';
            //sSearchingData = sSearchingData + $.trim($scope.ReceiveStartDateInSt) + '~';
            //sSearchingData = sSearchingData + $.trim($scope.ReceiveEndDateInSt) + '~';
            //sSearchingData = sSearchingData + $scope.DateOfExpire + '~';
            //sSearchingData = sSearchingData + $.trim($scope.ExpireStartDateInSt) + '~';
            //sSearchingData = sSearchingData + $.trim($scope.ExpireEndDateInSt) + '~';

            var oCIRegister = {
                BUID : parseInt(sessionStorage.getItem("BUID")),
                InvoiceNo : $.trim($scope.InvoiceNo),
                OrderRecapNo : $.trim($scope.OrderRecapNo),
                StyleNo : $.trim($scope.StyleNo),
                BuyerName : $.trim($scope.ApplicantName),
                BuyerID : parseInt($scope.BuyerID),
                AdviceBankName : $.trim($scope.AdviceBankName),
                AdviceBankAccount : parseInt($scope.AdviceBankID),
                ReportLayout : parseInt($scope.ReportLayout),
                SearchingData : sSearchingData
            };
            return oCIRegister;
        }

        $scope.IsValidInput = function () {
            debugger;
            if (parseInt($scope.DateOfInvoice) === 1 || parseInt($scope.DateOfInvoice) === 2 || parseInt($scope.DateOfInvoice) === 3 || parseInt($scope.DateOfInvoice) === 4) {
                if ($scope.InvoiceStartDateInSt === null || $scope.InvoiceStartDateInSt === "" || $scope.InvoiceStartDateInSt === undefined) {
                    alert("Please select Invoice start date!");
                    return false;
                }
            }
            if (parseInt($scope.DateOfInvoice) === 5 || parseInt($scope.DateOfInvoice) === 6) {
                if($scope.InvoiceStartDateInSt === null || $scope.InvoiceStartDateInSt === "" || $scope.InvoiceStartDateInSt === undefined) {
                    alert("Please select Invoice start date!");
                    return false;
                }
                if($scope.InvoiceEndDateInSt === null || $scope.InvoiceEndDateInSt === "" || $scope.InvoiceEndDateInSt === undefined) {
                    alert("Please select Invoice End date!");
                    return false;
                }
                if(new Date($scope.InvoiceStartDateInSt) > new Date($scope.InvoiceEndDateInSt)) {
                    alert("Start date must be smallar than or equal end date!");
                    return false;
                }
            }
            if (parseInt($scope.DateOfShipment) === 1 || parseInt($scope.DateOfShipment) === 2 || parseInt($scope.DateOfShipment) === 3 || parseInt($scope.DateOfShipment) === 4) {
                if ($scope.ShipmentStartDateInSt === null || $scope.ShipmentStartDateInSt === "" || $scope.ShipmentStartDateInSt === undefined) {
                    alert("Please select Shipment start date!");
                    return false;
                }
            }
            if (parseInt($scope.DateOfShipment) === 5 || parseInt($scope.DateOfShipment) === 6) {
                if($scope.ShipmentStartDateInSt === null || $scope.ShipmentStartDateInSt === "" || $scope.ShipmentStartDateInSt === undefined) {
                    alert("Please select Shipment start date!");
                    return false;
                }
                if($scope.ShipmentEndDateInSt === null || $scope.ShipmentEndDateInSt === "" || $scope.ShipmentEndDateInSt === undefined) {
                    alert("Please select Shipment End date!");
                    return false;
                }
                if(new Date($scope.ShipmentStartDateInSt) > new Date($scope.ShipmentEndDateInSt)) {
                    alert("Start date must be smallar than or equal end date!");
                    return false;
                }
            }
            if ($scope.ReportLayout <= 0 || $scope.ReportLayout === undefined) {
                alert("Please select an Report Layout!");
                return false;
            }
            if (parseInt($scope.DateOfInvoice) === 0 && parseInt($scope.DateOfShipment) === 0 && ($scope.InvoiceNo === "" || $scope.InvoiceNo === undefined) && ($scope.ApplicantName === "" || $scope.ApplicantName === undefined) && ($scope.AdviceBankName === "" || $scope.AdviceBankName === undefined) && ($scope.StyleNo === "" || $scope.StyleNo === undefined) && ($scope.OrderRecapNo === "" || $scope.OrderRecapNo === undefined)) {
                alert("Please select atleast one searching criteriea!");
                return false;
            }
            return true;
        };

        $scope.DisableInvoiceDateFields = function () {
            debugger;
            if (parseInt($scope.DateOfInvoice) === 1 || parseInt($scope.DateOfInvoice) === 2 || parseInt($scope.DateOfInvoice) === 3 || parseInt($scope.DateOfInvoice) === 4) {
                $scope.disableInvoiceStartDateInSt = false;
                $scope.disableInvoiceEndDateInSt = true;
                $scope.InvoiceStartDateInSt = "";
                $scope.InvoiceEndDateInSt = "";
            }
            else if (parseInt($scope.DateOfInvoice) === 5 || parseInt($scope.DateOfInvoice) === 6) {
                $scope.disableInvoiceStartDateInSt = false;
                $scope.disableInvoiceEndDateInSt = false;
                $scope.InvoiceStartDateInSt = "";
                $scope.InvoiceEndDateInSt = "";
            }
            else {
                $scope.disableInvoiceStartDateInSt = true;
                $scope.disableInvoiceEndDateInSt = true;
                $scope.InvoiceStartDateInSt = "";
                $scope.InvoiceEndDateInSt = "";
            }
        };

        $scope.DisableShipmentDateFields = function () {
            debugger;
            if (parseInt($scope.DateOfShipment) === 1 || parseInt($scope.DateOfShipment) === 2 || parseInt($scope.DateOfShipment) === 3 || parseInt($scope.DateOfShipment) === 4) {
                $scope.disableShipmentStartDateInSt = false;
                $scope.disableShipmentEndDateInSt = true;
                $scope.ShipmentStartDateInSt = "";
                $scope.ShipmentEndDateInSt = "";
            }
            else if (parseInt($scope.DateOfShipment) === 5 || parseInt($scope.DateOfShipment) === 6) {
                $scope.disableShipmentStartDateInSt = false;
                $scope.disableShipmentEndDateInSt = false;
                $scope.ShipmentStartDateInSt = "";
                $scope.ShipmentEndDateInSt = "";
            }
            else {
                $scope.disableShipmentStartDateInSt = true;
                $scope.disableShipmentEndDateInSt = true;
                $scope.ShipmentStartDateInSt = "";
                $scope.ShipmentEndDateInSt = "";
            }
        };

        $scope.Print = function () {
            debugger;
            if (!$scope.IsValidInput()) return;
            var oCIRegister = $scope.RefreshObject();
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(sessionStorage.getItem('BaseAddress')+'/CommercialInvoiceRegister/SetSessionSearchCriteria',$.param(oCIRegister), config).then(
                function (response) {
                    debugger;
                    var sFeedBackMessage = jQuery.parseJSON(response.data);
                    if (sFeedBackMessage === "Successful") {
                        var tsv = ((new Date()).getTime())/1000;
                        window.open(_sBaseAddress+'/CommercialInvoiceRegister/Print?ts='+tsv,"_blank");
                    }
                },
                function (response) { 
                    alert(jQuery.parseJSON(response.data).Message);
                });
        };

        $scope.Excel = function () {
            debugger;
            if (!$scope.IsValidInput()) return;
            var oCIRegister = $scope.RefreshObject();
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(sessionStorage.getItem('BaseAddress')+'/CommercialInvoiceRegister/SetSessionSearchCriteria',$.param(oCIRegister), config).then(
                function (response) {
                    debugger;
                    var sFeedBackMessage = jQuery.parseJSON(response.data);
                    if (sFeedBackMessage === "Successful") {
                        var tsv = ((new Date()).getTime())/1000;
                        window.open(_sBaseAddress+'/CommercialInvoiceRegister/ExportToExcel?ts='+tsv,"_blank");
                    }
                },
                function (response) { 
                    alert(jQuery.parseJSON(response.data).Message);
                });
        };
    });
</script>








