@model IEnumerable<ESimSol.BusinessObjects.EmployeeSalaryStructure>
@{
    ViewBag.Title = "View_EmployeeSalaryStructure";
}

<div style="margin-left:0px;  width:100%; height:100%">
    <table id="tblEmployeeSalaryStructure" title="Employee Salary Structure List"  class="easyui-datagrid" style=" width:100%; height:100%" fitColumns="false" rownumbers="true" pagination="false" singleSelect="true" autoRowHeight="false" toolbar="#toolbar">
        <thead>  
            <tr>
                <th field="EmployeeName" width="300" align="left">Employee Name</th> 
                <th field="SalarySchemeName" width="250" align="left">Salary Scheme Name</th>               
                <th field="GrossAmount" width="150" align="right" formatter="formatPrice">Gross Amount</th>
                <th field="Activity" width="160" align="left">Activity</th>
            </tr>  
        </thead> 
    </table>
    <div id="toolbar" style="height:55px;">
         <input type="text" id="txtSearchbyCode" placeholder="Search by Code" style="width: 105px" />
         <input type="text" id="txtSearchByName" placeholder="Search by name" style="width: 105px" />
         <a id="btnEmployeePayRollPicker" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true" >Employee Payroll Picker</a>
         <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" >Set Salary Structure</a>
         <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-details" plain="true" >Preview</a>
         <a id="btnActivity" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" >Activity</a>
         <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" >Delete</a>
         <a id="btnPrintSalaryStructure" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-print" plain="true" >Print Salary Structure </a>
         <a id="btnAppLetterInBangla" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print"plain="true" >Appointment Letter(B)</a>
         <a id="btnAppLetterInEnglish" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print"plain="true" >Appointment Letter(E)</a>
         <a id="btnTaxBasic" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" >Tax Basic </a>
    </div>  
</div>

<script type="text/javascript">
var _oEmployeeSalaryStructures=null;
var _sBaseAddress="";
$(document).ready(function ()
{
    _oEmployeeSalaryStructures =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    RefreshList(_oEmployeeSalaryStructures);

});

function RefreshList(oEmployeeSalaryStructures )
{
    data = oEmployeeSalaryStructures ;
    data = { "total": "" + data.length + "", "rows": data };
    $('#tblEmployeeSalaryStructure').datagrid('loadData', data);
    
}

function formatPrice(val)
{  
    //debugger;

    if(val==null)
    {
        val=0.00;
    }
    val=parseFloat(val);
    var test = val.toFixed(2);
    var tests = addComma(test);
    return tests;       
} 

function addComma(nStr)
{
	nStr += '';
	x = nStr.split('.');
	x1 = x[0];
	x2 = x.length > 1 ? '.' + x[1] : '';
	var process = /(\d+)(\d{3})/;
	while (process.test(x1))
    {
	  x1 = x1.replace(process, '$1' + ',' + '$2');
	}
	return x1 + x2;
} 

$('#btnAdd').click(function (e)
{
    //debugger;
    var oParameter = new Object();
    oParameter.Name = "New Salary Structure";
    var tsv = ((new Date()).getTime()) / 1000;
    var url = _sBaseAddress + "/EmployeeSalaryStructure/View_EmployeeSalaryStructure?nId=0&ts=" + tsv;
    var nLeft=(window.screen.width/2)-(880/2);
    var nHeight=(window.screen.height/2)-(630/2);
    var oEmployeeSalaryStructure = window.showModalDialog(url, oParameter, 'dialogHeight:630px;dialogWidth:880px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
    //var oEmployeeSalaryStructure = window.showModalDialog(url, oParameter, 'dialogHeight:630px;dialogWidth:880px;dialogLeft:150;dialogRight:150;center:yes;resizable:no;status:no;scroll:no');
    
    if (oEmployeeSalaryStructure != null)
    {
        if (oEmployeeSalaryStructure.ESSID > 0)
        {
            var oEmployeeSalaryStructures = $('#tblEmployeeSalaryStructure').datagrid('getRows');
            var nIndex = oEmployeeSalaryStructures.length;
            $('#tblEmployeeSalaryStructure').datagrid('appendRow', oEmployeeSalaryStructure);
            $('#tblEmployeeSalaryStructure').datagrid('selectRow', nIndex);
        }
    }
});

$('#btnView').click(function (e)
{
    //   debugger;
    var oEmployeeSalaryStructure = $('#tblEmployeeSalaryStructure').datagrid('getSelected');
    if (oEmployeeSalaryStructure == null || oEmployeeSalaryStructure.ESSID <= 0) 
    {
        alert("Please select an item from list!");
        return;
    }
    var oParameter = new Object();
    oParameter.Name = "Preview Salary Structure";
    var tsv = ((new Date()).getTime()) / 1000;
    var url = _sBaseAddress + "/EmployeeSalaryStructure/View_EmployeeSalaryStructure?nId=" + oEmployeeSalaryStructure.ESSID + "&ts=" + tsv;
    var nLeft=(window.screen.width/2)-(880/2);
    var nHeight=(window.screen.height/2)-(630/2);
    oEmployeeSalaryStructure = window.showModalDialog(url, oParameter, 'dialogHeight:630px;dialogWidth:880px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
    //oEmployeeSalaryStructure = window.showModalDialog(url, oParameter, 'dialogHeight:630px;dialogWidth:880px;dialogLeft:150;dialogRight:150;center:yes;resizable:no;status:no;scroll:no');
});
 
 
$('#btnActivity').click(function (e)
{
    //   debugger;

    oEmployeeSalaryStructure = $('#tblEmployeeSalaryStructure').datagrid('getSelected');
    if (oEmployeeSalaryStructure == null || oEmployeeSalaryStructure.ESSID <= 0)
    {
        alert("Please select an item from list!");
        return;
    }

    var SelectedRowIndex = $('#tblEmployeeSalaryStructure').datagrid('getRowIndex', oEmployeeSalaryStructure);
    $.ajax({
    type: "POST",
    dataType: "json",
    url: _sBaseAddress + "/EmployeeSalaryStructure/EmployeeSalaryStructure_Activity",
    traditional: true,
    data: JSON.stringify(oEmployeeSalaryStructure),
    contentType: "application/json; charset=utf-8",

    success: function(data) {
             
             oEmployeeSalaryStructure = jQuery.parseJSON(data);
             if (oEmployeeSalaryStructure.ESSID > 0)
             {
                
                 if(oEmployeeSalaryStructure.IsActive==true)
                 {
                    msg="Activated";
                 }
                 if(oEmployeeSalaryStructure.IsActive==false)
                 {
                    msg="InActivated";
                 }
                 alert(msg+" Successfully!");
                 $('#tblEmployeeSalaryStructure').datagrid('updateRow', { index: SelectedRowIndex, row: oEmployeeSalaryStructure });
            
             } 
             else
             {
                 alert(oEmployeeSalaryStructure.ErrorMessage);
             }
         }
         
     });

});

$('#btnDelete').click(function (e)

{
//    debugger;
    var oSalaryStructure = $('#tblEmployeeSalaryStructure').datagrid('getSelected');

    if (oSalaryStructure == null || oSalaryStructure.ESSID <= 0)
    {
        alert("Please select an item from the list!");
        return false;
    }
    if (!confirm("Confirm to Delete?")) return;
    var SelectedRowIndex = $('#tblEmployeeSalaryStructure').datagrid('getRowIndex', oSalaryStructure);
    var tsv = ((new Date()).getTime()) / 1000;
    if (oSalaryStructure.ESSID > 0)
    {
        $.ajax({
                type: "GET",
                dataType: "json",
                url: _sBaseAddress + "/EmployeeSalaryStructure/EmployeeSalaryStructure_Delete",
                data: { nESSID: oSalaryStructure.ESSID,ts: tsv},
                contentType: "application/json; charset=utf-8",
                success: function(data) 
                {
                    //debugger;
                    var feedbackmessage = jQuery.parseJSON(data);
                    //debugger;
                    if (feedbackmessage == "")
                    {
                        alert("Delete sucessfully");
                        $('#tblEmployeeSalaryStructure').datagrid('deleteRow', SelectedRowIndex);
                    } 
                    else 
                    {
                        alert(feedbackmessage);
                    }
                  },
                  error: function(xhr, status, error)
                  {
                    alert(error);
                  }
              });
    }
 });

$('#btnPrintSalaryStructure').click(function (e)
{
    var oParameter = new Object();
    oParameter.Name = "Print Salary Structure";
    var tsv = ((new Date()).getTime()) / 1000;
    var url = _sBaseAddress + "/EmployeeSalaryStructure/View_PrintSalaryStructure?nId=0&ts=" + tsv;
    var nLeft=(window.screen.width/2)-(630/2);
    var nHeight=(window.screen.height/2)-(430/2);
    oEmployeeSalaryStructure = window.showModalDialog(url, oParameter, 'dialogHeight:430px;dialogWidth:630px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
    //oEmployeeSalaryStructure = window.showModalDialog(url, oParameter, 'dialogHeight:430px;dialogWidth:630px;dialogLeft:150;dialogRight:150;center:yes;resizable:no;status:no;scroll:no');
});


$('#btnEmployeePayRollPicker').click(function (e)
{
    var oParameter = new Object();
    oParameter.Name = "Employee Payroll Picker";
    oParameter.MultipleItemReturn=true;
    var tsv = ((new Date()).getTime()) / 1000;
    var url = _sBaseAddress + "/Employee/View_EmployeePayrollPicker?ts=" + tsv;
    var nLeft=(window.screen.width/2)-(990/2);
    var nHeight=(window.screen.height/2)-(500/2);
    _oEmployeeSalaryStructures = window.showModalDialog(url, oParameter, 'dialogHeight:500px;dialogWidth:990px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
    //_oEmployeeSalaryStructures = window.showModalDialog(url, oParameter, 'dialogHeight:500px;dialogWidth:990px;dialogLeft:50;dialogRight:50;dialogTop:50;center:yes;resizable:yes;status:no;scroll:no');

     RefreshList(_oEmployeeSalaryStructures);
});

$('#txtSearchbyCode').keypress(function (e) {

    var nCode = (e.keyCode ? e.keyCode : e.which);
    if (nCode!=13)return;
    var c = String.fromCharCode(e.which);
    var txtSearchbyCode = document.getElementById('txtSearchbyCode').value;
    GetEmployeeByNameCode(txtSearchbyCode,true);
});

$('#txtSearchByName').keypress(function (e) {

    var nCode = (e.keyCode ? e.keyCode : e.which);
    if (nCode!=13)return;
    var c = String.fromCharCode(e.which);
    var txtSearchByName = document.getElementById('txtSearchByName').value;
   
    if(txtSearchByName.length<3)
    {
        alert('Please enter atleast 3 word.!!');
        return;
    }

    GetEmployeeByNameCode(txtSearchByName,false);

});

function GetEmployeeByNameCode(sNameCode,bIsCode)
{
    var nts = ((new Date()).getTime()) / 1000;
   
    $.ajax
    ({
        type: "GET",
        dataType: "json",            
        url : _sBaseAddress+  "/EmployeeSalaryStructure/GetByEmployeeNameCode",
        data: {sNameCode:sNameCode,bIsCode:bIsCode,nts:nts},
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            //debugger;
            var oEmployeesalaryStructures = jQuery.parseJSON(data);
            if(oEmployeesalaryStructures.length>0)
            {
                RefreshList(oEmployeesalaryStructures);
            }
            else
            {
                alert('Data not found.!!!'); 
                RefreshList(oEmployeesalaryStructures);
            }

        },
        error: function (xhr, status, error) 
        {
            alert(error);
        }
                      
    });
   
}

$('#btnAppLetterInBangla').click(function (e)
{
    var oEmployeeSalaryStructure= $('#tblEmployeeSalaryStructure').datagrid('getSelected');
        
    if(oEmployeeSalaryStructure==null || oEmployeeSalaryStructure.EmployeeID<=0)
    {
        alert("please select an Employee !");                  
        return false;
    }
    var sLanguage="Bangla";
    var tsv=((new Date()).getTime())/1000;
    window.open(_sBaseAddress+ "/Employee/PrintAppointmentLetter?nEmpID="+oEmployeeSalaryStructure.EmployeeID+"&sLanguage="+sLanguage+"&ts="+tsv, "_blank"); 
   
});


$('#btnAppLetterInEnglish').click(function (e)
{
    var oEmployeeSalaryStructure= $('#tblEmployeeSalaryStructure').datagrid('getSelected');
        
    if(oEmployeeSalaryStructure==null || oEmployeeSalaryStructure.EmployeeID<=0)
    {
        alert("please select an Employee !");                  
        return false;
    }
    var sLanguage="English";
    var tsv=((new Date()).getTime())/1000;
    window.open(_sBaseAddress+ "/Employee/PrintAppointmentLetter?nEmpID="+oEmployeeSalaryStructure.EmployeeID+"&sLanguage="+sLanguage+"&ts="+tsv, "_blank"); 
   
});


$('#btnTaxBasic').click(function (e)
{
    oEmployeeSalaryStructure = $('#tblEmployeeSalaryStructure').datagrid('getSelected');
    if (oEmployeeSalaryStructure == null || oEmployeeSalaryStructure.ESSID <= 0)
    {
        alert("Please select an item from list!");
        return;
    }
    var oParameter = new Object();
    oParameter.Name = "Basic information of tax";
    oParameter.EmployeeName = oEmployeeSalaryStructure.EmployeeName;
    oParameter.EmployeeID = oEmployeeSalaryStructure.EmployeeID;
    var tsv = ((new Date()).getTime()) / 1000;
    var url = _sBaseAddress + "/EmployeeSalaryStructure/View_ITaxBasicInformation?nId=0&ts=" + tsv;
    var oITaxBasicInformation = window.showModalDialog(url, oParameter, 'dialogHeight:365px;dialogWidth:335px;dialogLeft:350;dialogRight:150;dialogTop:175;center:yes;resizable:no;status:no;scroll:no');
    var nLeft=(window.screen.width/2)-(335/2);
    var nHeight=(window.screen.height/2)-(365/2);
    //var oITaxBasicInformation = window.showModalDialog(url, oParameter, 'dialogHeight:365px;dialogWidth:335px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
   
});




</script>
