@model IEnumerable<ESimSol.BusinessObjects.EmployeeSalaryStructure>
    @{
        ViewBag.Title = "EmployeeSalary Structure";
    }

    <div style="margin-left:0px; height:500px">
        <table id="tblEmployeeSalaryStructure" title="Employee Salary Structure List" class="easyui-datagrid" style="width:1035px;height:550px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" selectoncheck="false" checkonselect="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th data-options="field:'Selected',checkbox:true">
                    </th>
                    <th field="EmployeeName" width="300" align="left">Employee Name</th>
                    <th field="SalarySchemeName" width="250" align="left">Salary Scheme Name</th>
                    <th field="GrossAmount" width="150" align="right" formatter="formatPrice">Gross Amount</th>
                    <th field="Activity" width="160" align="left">Activity</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar" style="height:auto;">
            <input type="text" id="txtSearchbyCode" value="Search by Code" style="width: 105px" onclick="ClearCodefield()" />
            <input type="text" id="txtSearchByName" value="Search by name" style="width: 105px" onclick="ClearNamefield()" />
            <a id="btnEmployeePayRollPicker" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Set Salary Structure</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">Preview</a>
            <a id="btnActivity" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Activity</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
            <a id="btnPrintSalaryStructure" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print Salary Structure </a>
            @*<a id="btnAppLetterInBangla" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Appointment Letter(B)</a>*@
            <a id="btnAppLetterInEnglish" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Appointment Letter</a>
            @*<a id="btnJoiningLetterInBangla" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Joining Letter(B)</a>*@
            @*<a id="btnRecommendationLetterInBangla" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Recommendation Letter(B)</a>*@
            <a id="btnConfirmationLetter_MAMIYA" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Conf. Letter_V1</a>

            <a id="btnCopyTo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Copy To</a>
            <a id="btnMultipleIncrement" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Multiple Increment</a>

        </div>
    </div>

    <script type="text/javascript">
        var _oEmployeeSalaryStructures=null;
        var _sBaseAddress="";
        $(document).ready(function ()
        {
            $('#btnAdd').hide();
            $('#btnEdit').hide();
            $('#btnDelete').hide();
            $('#btnActivity').hide();
            $('#btnCopyTo').hide();
            _oEmployeeSalaryStructures =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
            _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
            RefreshList(_oEmployeeSalaryStructures);

        });

        function RefreshList(oEmployeeSalaryStructures )
        {
            data = oEmployeeSalaryStructures ;
            data = { "total": "" + data.length + "", "rows": data };
            $('#tblEmployeeSalaryStructure').datagrid('loadData', data);

        }

        function formatPrice(val)
        {


            if(val==null)
            {
                val=0.00;
            }
            val=parseFloat(val);
            var test = val.toFixed(2);
            var tests = addComma(test);
            return tests;
        }

        function addComma(nStr)
        {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var process = /(\d+)(\d{3})/;
            while (process.test(x1))
            {
                x1 = x1.replace(process, '$1' + ',' + '$2');
            }
            return x1 + x2;
        }

        $('#btnAdd').click(function (e)
        {

            var oParameter = new Object();
            oParameter.Name = "New Salary Structure";
            var tsv = ((new Date()).getTime()) / 1000;
            var url = _sBaseAddress + "/EmployeeSalaryStructure/View_EmployeeSalaryStructure_V1?nId=0&ts=" + tsv;
            var nLeft=(window.screen.width/2)-(880/2);
            var nHeight=(window.screen.height/2)-(635/2);
            var oEmployeeSalaryStructure = window.showModalDialog(url, oParameter, 'dialogHeight:635px;dialogWidth:880px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
            //var oEmployeeSalaryStructure = window.showModalDialog(url, oParameter, 'dialogHeight:635px;dialogWidth:880px;dialogLeft:150;dialogRight:150;center:yes;resizable:no;status:no;scroll:no');

            if (oEmployeeSalaryStructure != null)
            {
                if (oEmployeeSalaryStructure.ESSID > 0)
                {
                    var oEmployeeSalaryStructures = $('#tblEmployeeSalaryStructure').datagrid('getRows');
                    var nIndex = oEmployeeSalaryStructures.length;
                    $('#tblEmployeeSalaryStructure').datagrid('appendRow', oEmployeeSalaryStructure);
                    $('#tblEmployeeSalaryStructure').datagrid('selectRow', nIndex);
                }
            }
        });

        $('#btnEdit').click(function (e)
        {

            var oEmployeeSalaryStructure = $('#tblEmployeeSalaryStructure').datagrid('getSelected');
            if (oEmployeeSalaryStructure == null || oEmployeeSalaryStructure.ESSID <= 0)
            {
                alert("Please select an item from list!");
                return;
            }
            var oParameter = new Object();
            oParameter.Name = "Edit Salary Structure";
            var tsv = ((new Date()).getTime()) / 1000;
            var url = _sBaseAddress + "/EmployeeSalaryStructure/View_EmployeeSalaryStructure_V1?nId=" + oEmployeeSalaryStructure.ESSID + "&ts=" + tsv;
            var nLeft=(window.screen.width/2)-(930/2);
            var nHeight=(window.screen.height/2)-(630/2);
            oEmployeeSalaryStructure  = window.showModalDialog(url, oParameter, 'dialogHeight:630px;dialogWidth:930px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
            //oEmployeeSalaryStructure = window.showModalDialog(url, oParameter, 'dialogHeight:630px;dialogWidth:930px;dialogLeft:150;dialogRight:150;center:yes;resizable:no;status:no;scroll:no');

            if (oEmployeeSalaryStructure != null)
            {
                if (oEmployeeSalaryStructure.ESSID > 0)
                {
                    $('#tblEmployeeSalaryStructure').datagrid('updateRow', { index: SelectedRowIndex, row: oEmployeeSalaryStructure });
                }
            }
        });

        $('#btnView').click(function (e)
        {

            var oEmployeeSalaryStructure = $('#tblEmployeeSalaryStructure').datagrid('getSelected');
            if (oEmployeeSalaryStructure == null || oEmployeeSalaryStructure.ESSID <= 0)
            {
                alert("Please select an item from list!");
                return;
            }
            var oParameter = new Object();
            oParameter.Name = "Preview Salary Structure";
            var tsv = ((new Date()).getTime()) / 1000;
            var url = _sBaseAddress + "/EmployeeSalaryStructure/View_EmployeeSalaryStructure_V1?nId=" + oEmployeeSalaryStructure.ESSID + "&ts=" + tsv;
            var nLeft=(window.screen.width/2)-(880/2);
            var nHeight=(window.screen.height/2)-(630/2);
            oEmployeeSalaryStructure = window.showModalDialog(url, oParameter, 'dialogHeight:630px;dialogWidth:880px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
            //oEmployeeSalaryStructure = window.showModalDialog(url, oParameter, 'dialogHeight:630px;dialogWidth:880px;dialogLeft:150;dialogRight:150;center:yes;resizable:no;status:no;scroll:no');
        });


        $('#btnActivity').click(function (e)
        {


            oEmployeeSalaryStructure = $('#tblEmployeeSalaryStructure').datagrid('getSelected');
            if (oEmployeeSalaryStructure == null || oEmployeeSalaryStructure.ESSID <= 0)
            {
                alert("Please select an item from list!");
                return;
            }

            var SelectedRowIndex = $('#tblEmployeeSalaryStructure').datagrid('getRowIndex', oEmployeeSalaryStructure);
            $.ajax({
                type: "POST",
                dataType: "json",
                url: _sBaseAddress + "/EmployeeSalaryStructure/EmployeeSalaryStructure_Activity",
                traditional: true,
                data: JSON.stringify(oEmployeeSalaryStructure),
                contentType: "application/json; charset=utf-8",

                success: function(data) {

                    oEmployeeSalaryStructure = jQuery.parseJSON(data);
                    if (oEmployeeSalaryStructure.ESSID > 0)
                    {

                        if(oEmployeeSalaryStructure.IsActive==true)
                        {
                            msg="Activated";
                        }
                        if(oEmployeeSalaryStructure.IsActive==false)
                        {
                            msg="InActivated";
                        }
                        alert(msg+" Successfully!");
                        $('#tblEmployeeSalaryStructure').datagrid('updateRow', { index: SelectedRowIndex, row: oEmployeeSalaryStructure });

                    }
                    else
                    {
                        alert(oEmployeeSalaryStructure.ErrorMessage);
                    }
                }

            });

        });

        $('#btnDelete').click(function (e)

        {

            var oSalaryStructure = $('#tblEmployeeSalaryStructure').datagrid('getSelected');

            if (oSalaryStructure == null || oSalaryStructure.ESSID <= 0)
            {
                alert("Please select an item from the list!");
                return false;
            }
            if (!confirm("Confirm to Delete?")) return;
            var SelectedRowIndex = $('#tblEmployeeSalaryStructure').datagrid('getRowIndex', oSalaryStructure);
            var tsv = ((new Date()).getTime()) / 1000;
            if (oSalaryStructure.ESSID > 0)
            {
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: _sBaseAddress + "/EmployeeSalaryStructure/EmployeeSalaryStructure_Delete",
                    data: { nESSID: oSalaryStructure.ESSID,ts: tsv},
                    contentType: "application/json; charset=utf-8",
                    success: function(data)
                    {

                        var feedbackmessage = jQuery.parseJSON(data);

                        if (feedbackmessage == "")
                        {
                            alert("Delete sucessfully");
                            $('#tblEmployeeSalaryStructure').datagrid('deleteRow', SelectedRowIndex);
                        }
                        else
                        {
                            alert(feedbackmessage);
                        }
                    },
                    error: function(xhr, status, error)
                    {
                        alert(error);
                    }
                });
            }
        });

        $('#btnPrintSalaryStructure').click(function (e)
        {
            var oESSs = $('#tblEmployeeSalaryStructure').datagrid('getRows');
            var sESSIDs = "";
            for(var i = 0 ; i < oESSs.length ; i++)
            {
                sESSIDs += oESSs[i].ESSID + ",";
            }
            sESSIDs = sESSIDs.substring(0, sESSIDs.length-1);
            var tsv=((new Date()).getTime())/1000;
            window.open(_sBaseAddress+ "/EmployeeSalaryStructure/PrintESalaryStructure?sESSIDs="+sESSIDs+"&ts="+tsv, "_blank");
        });


        $('#btnEmployeePayRollPicker').click(function (e)
        {
            var oParameter = new Object();
            oParameter.Name = "Employee Payroll Picker";
            oParameter.MultipleItemReturn=true;
            var tsv = ((new Date()).getTime()) / 1000;
            var url = _sBaseAddress + "/Employee/View_EmployeePayrollPicker?ts=" + tsv;
            var nLeft=(window.screen.width/2)-(990/2);
            var nHeight=(window.screen.height/2)-(500/2);
            _oEmployeeSalaryStructures = window.showModalDialog(url, oParameter, 'dialogHeight:500px;dialogWidth:990px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
            //_oEmployeeSalaryStructures = window.showModalDialog(url, oParameter, 'dialogHeight:500px;dialogWidth:990px;dialogLeft:50;dialogRight:50;dialogTop:50;center:yes;resizable:yes;status:no;scroll:no');

            RefreshList(_oEmployeeSalaryStructures);
        });

        $('#txtSearchbyCode').keypress(function (e) {

            var nCode = (e.keyCode ? e.keyCode : e.which);
            if (nCode!=13)return;
            var c = String.fromCharCode(e.which);
            var txtSearchbyCode = document.getElementById('txtSearchbyCode').value;
            GetEmployeeByNameCode(txtSearchbyCode,true);
        });

        $('#txtSearchByName').keypress(function (e) {

            var nCode = (e.keyCode ? e.keyCode : e.which);
            if (nCode!=13)return;
            var c = String.fromCharCode(e.which);
            var txtSearchByName = document.getElementById('txtSearchByName').value;

            if(txtSearchByName.length<3)
            {
                alert('Please enter atleast 3 word.!!');
                return;
            }

            GetEmployeeByNameCode(txtSearchByName,false);

        });

        function GetEmployeeByNameCode(sNameCode,bIsCode)
        {
            var nts = ((new Date()).getTime()) / 1000;

            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url : _sBaseAddress+  "/EmployeeSalaryStructure/GetByEmployeeNameCode",
                data: {sNameCode:sNameCode,bIsCode:bIsCode,nts:nts},
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    var oEmployeesalaryStructures = jQuery.parseJSON(data);
                    if(oEmployeesalaryStructures.length>0)
                    {
                        for (var j = 0; j < oEmployeesalaryStructures.length; j++)
                        {
                            $('#tblEmployeeSalaryStructure').datagrid('appendRow',oEmployeesalaryStructures[j]);
                        }
                        //RefreshList(oEmployeesalaryStructures);
                    }
                    else
                    {
                        alert('Data not found.!!!');
                        RefreshList(oEmployeesalaryStructures);
                    }

                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });

        }

        $('#btnAppLetterInBangla').click(function (e)
        {
            var oEmployeeSalaryStructure= $('#tblEmployeeSalaryStructure').datagrid('getSelected');

            if(oEmployeeSalaryStructure==null || oEmployeeSalaryStructure.EmployeeID<=0)
            {
                alert("please select an Employee !");
                return false;
            }
            var sLanguage="Bangla";
            var tsv=((new Date()).getTime())/1000;

            //    window.open(_sBaseAddress+ "/Employee/PrintAppointmentLetter?nEmpID="+oEmployeeSalaryStructure.EmployeeID+"&sLanguage="+sLanguage+"&ts="+tsv, "_blank");

            window.open(_sBaseAddress+ "/Employee/View_PrintAppointmentLetterInBangla?nEmpID="+oEmployeeSalaryStructure.EmployeeID+"&sLanguage="+sLanguage+"&ts="+tsv, "_blank");


        });

        $('#btnJoiningLetterInBangla').click(function (e)
        {
            var oEmployeeSalaryStructure= $('#tblEmployeeSalaryStructure').datagrid('getSelected');

            if(oEmployeeSalaryStructure==null || oEmployeeSalaryStructure.EmployeeID<=0)
            {
                alert("please select an Employee !");
                return false;
            }

            var tsv=((new Date()).getTime())/1000;
            window.open(_sBaseAddress+ "/Employee/View_PrintJoiningLetterInBangla?nEmpID="+oEmployeeSalaryStructure.EmployeeID+"&ts="+tsv, "_blank");

        });

        $('#btnAppLetterInEnglish').click(function (e)
        {
            var oEmployeeSalaryStructure= $('#tblEmployeeSalaryStructure').datagrid('getSelected');

            if(oEmployeeSalaryStructure==null || oEmployeeSalaryStructure.EmployeeID<=0)
            {
                alert("please select an Employee !");
                return false;
            }
            var sLanguage="English";
            var tsv=((new Date()).getTime())/1000;
            window.open(_sBaseAddress+ "/Employee/PrintAppointmentLetter?nEmpID="+oEmployeeSalaryStructure.EmployeeID+"&sLanguage="+sLanguage+"&ts="+tsv, "_blank");

        });

        function ClearNamefield()
        {
            $("#txtSearchByName")[0].value='';
        }

        function ClearCodefield()
        {
            $("#txtSearchbyCode")[0].value='';
        }

        $('#btnCopyTo').click(function (e)
        {

            var oEmployeeSalaryStructure= $('#tblEmployeeSalaryStructure').datagrid('getSelected');
            if (oEmployeeSalaryStructure==null || oEmployeeSalaryStructure.ESSID<=0)
            {
                alert('Please Select an item from list.');
                return;
            }
            var oParameter = new Object();
            oParameter.Name = "Employee Advance Search";
            oParameter.MultipleItemReturn=true;
            var url = _sBaseAddress + "/Employee/EmployeeHRMPiker";
            var nLeft=(window.screen.width/2)-(950/2);
            var nHeight=(window.screen.height/2)-(500/2);
            var oEmployees = window.showModalDialog(url, oParameter, 'dialogHeight:500px;dialogWidth:990px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
            //var oEmployees = window.showModalDialog(url, oParameter, 'dialogHeight:500px;dialogWidth:950px;dialogLeft:150;dialogRight:150;dialogTop:200;center:yes;resizable:yes;status:no;scroll:no');

            if (oEmployees!=null)
            {
                if (oEmployees.length>0)
                {
                    CopyEmployeeSalaryStructure(oEmployeeSalaryStructure.ESSID,oEmployees);
                }
                else {
                    alert("Please Select employee from picker to copy.");
                }
            }

        });

        function CopyEmployeeSalaryStructure(nCopyFromESSID,oEmployees)
        {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: _sBaseAddress + "/EmployeeSalaryStructure/CopyEmployeeSalaryStructure",
                traditional: true,
                data: JSON.stringify({nCopyFromESSID:nCopyFromESSID,oEmployees:oEmployees}),
                contentType: "application/json; charset=utf-8",
                success: function(data) {
                    var oESSs = jQuery.parseJSON(data);
                    if (oESSs.length > 0)
                    {
                        if (oESSs[0].ErrorMessage=="")
                        {
                            RefreshList(oESSs)
                        }else
                        {
                            alert(oESSs[0].ErrorMessage);
                        }
                    }
                    else
                    {
                        alert('Already assign scheme for this employee.!!');
                    }
                },
                error: function(xhr, status, error)
                {
                    alert(error);
                }

            });
        }

        $('#btnMultipleIncrement').click(function (e)
        {
            var oEmployeeSalaryStructures = $('#tblEmployeeSalaryStructure').datagrid('getChecked');
            if(oEmployeeSalaryStructures.length<=0)
            {
                alert("Please Select Atleast One Item !");
                return;
            }
            var sESSIDs = "" ;
            var sEmployeeIDs= "";
            var nIndexes = [];
            for(var i=0;i<oEmployeeSalaryStructures.length;i++)
            {
                if(oEmployeeSalaryStructures[i].GrossAmount != oEmployeeSalaryStructures[0].GrossAmount || oEmployeeSalaryStructures[i].SalarySchemeID != oEmployeeSalaryStructures[0].SalarySchemeID)
                {
                    alert("Please select an item for same gross amount and SalaryScheme !");
                    return;
                }
                sESSIDs += oEmployeeSalaryStructures[i].ESSID + ",";
                sEmployeeIDs += oEmployeeSalaryStructures[i].EmployeeID + ",";
                var SelectedRowIndex = $('#tblEmployeeSalaryStructure').datagrid('getRowIndex', oEmployeeSalaryStructures[i]);
                nIndexes.push(SelectedRowIndex);
            }
            sESSIDs = sESSIDs.substring(0,sESSIDs.length - 1);
            sEmployeeIDs = sEmployeeIDs.substring(0,sEmployeeIDs.length - 1);
            var oParameter = new Object();
            oParameter.ESSIDs = sESSIDs;
            oParameter.EmployeeIDs = sEmployeeIDs;
            oParameter.SalarySchemeID = oEmployeeSalaryStructures[0].SalarySchemeID;

            var tsv = ((new Date()).getTime()) / 1000;
            var url = _sBaseAddress + "/TransferPromotionIncrement/View_MultipleIncrement?ts=" + tsv;
            var nLeft=(window.screen.width/2)-(450/2);
            var nHeight=(window.screen.height/2)-(174/2);
            var oEmployeeSalaryStructures = window.showModalDialog(url, oParameter, 'dialogHeight:174px;dialogWidth:450px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
            //var oEmployeeSalaryStructures = window.showModalDialog(url, oParameter, 'dialogHeight:174px;dialogWidth:450px;dialogLeft:350;dialogTop:250;center:yes;resizable:no;status:no;scroll:no');

            if (oEmployeeSalaryStructures.length >0)
            {
                for(var i=0; i<oEmployeeSalaryStructures.length; i++)
                {
                    $('#tblEmployeeSalaryStructure').datagrid('updateRow', { index: nIndexes[i], row: oEmployeeSalaryStructures[i] });
                }
            }
        });

        $('#btnConfirmationLetter_MAMIYA').click(function (e)
        {
            var oEmployeeSalaryStructure= $('#tblEmployeeSalaryStructure').datagrid('getSelected');
            if(oEmployeeSalaryStructure==null || oEmployeeSalaryStructure.EmployeeID<=0)
            {
                alert("please select an Employee !");
                return false;
            }
            var tsv=((new Date()).getTime())/1000;
            window.open(_sBaseAddress+ "/EmployeeSalaryStructure/PrintConfirmationLetter_MAMIYA?nEmpID="+oEmployeeSalaryStructure.EmployeeID+"&ts="+tsv, "_blank");
        });

    </script>
    @*<h2>View_EmployeeSalaryStructures_V1</h2>*@
