@{
    ViewBag.Title = "Parts Received List";
}
@model IEnumerable<ESimSol.BusinessObjects.GRN>
<head>
</head>
<body>
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div id="winAdvanceSearch" class="easyui-window" title="Advance Search" style="width:540px;height:345px;padding:2px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div>
            <fieldset>
                <legend style="font-weight:bold"> Searching Criteria : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:170px; text-align:right">
                            GRN No :
                        </td>
                        <td style="width:370px">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="width:40%"><input type="text" style="width: 100%" id="txtGRNNo" /></td>
                                    <td style="width:20%; text-align:right">GRN Type</td>
                                    <td style="width:40%"><select id="cboGRNType" style="width:100%"></select></td>
                                </tr>
                            </table>
                            
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Invocie No :
                        </td>
                        <td style="width:370px">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td style="width:40%"><input type="text" style="width: 100%" id="txtInvocieNo" /></td>
                                    <td style="width:20%; text-align:right">Status :</td>
                                    <td style="width:40%"><select id="cboGRNStatus" style="width:100%"></select></td>
                                </tr>
                            </table>
                            
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            GRN Date :
                        </td>
                        <td style="width:370px">
                            <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                                <tr>
                                    <td style="width: 120px; font-size: 12px; text-align: left">
                                        <select id="cboGRNDate" style="width:120px"></select>
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtGRNStartDate" type="text" style="width: 120px;" class="easyui-datebox" disabled="disabled" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                    <td style="width: 10px; font-size: 12px">
                                        To
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtGRNEndDate" type="text" style="width: 120px;" class="easyui-datebox" disabled="disabled" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            GRN Amount :
                        </td>
                        <td style="width:370px">
                            <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                                <tr>
                                    <td style="width: 120px; font-size: 12px; text-align: left">
                                        <select id="cboGRNAmount" style="width:120px"></select>
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtGRNAmountStart" style="width:114px" />
                                    </td>
                                    <td style="width: 10px; font-size: 12px">
                                        To
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtGRNAmountEnd" style="width:114px" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Received By :
                        </td>
                        <td style="width:370px">
                            <select id="cboReceivedBy" style="width:375px"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Supplier(s) :
                        </td>
                        <td style="width:370px">
                            <input type="text" style="width: 282px;" id="txtSupplierName" placeholder="Press enter with supplier name/code" />
                            <input type="button" style="width: 30px;" id="btnSupplierClear" value="C" />
                            <input type="button" style="width: 50px;" id="btnSupplierPicker" value="Pick" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Part(s) :
                        </td>
                        <td style="width:370px">
                            <input type="text" style="width: 282px;" id="txtProductName" placeholder="Press enter with Part name/No" />
                            <input type="button" style="width: 30px;" id="btnProductClear" value="C" />
                            <input type="button" style="width: 50px;" id="btnProductPicker" value="Pick" />
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset style="width:498px; vertical-align:top;">
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold;">
                <tr>
                    <td style="width:100px;text-align:right">
                        <a id="btnAdvSearchReset" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"> Reset</a>
                    </td>
                    <td style="width:408px;text-align:right;">
                        <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                        <a id="btnAdvSearchClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>

    <div class="menuMainCollectionTable">
        <div style="margin-left:0px; height:100%; width:100%; font-family:Tahoma">
            <table id="tblGRNs" title="Parts Rcv List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarGRN">
                <thead data-options="frozen:true">
                    <tr>
                        <th field="GRNNo" width="6%">Rcv No</th>
                        <th field="GRNDateSt" width="10%">Rcv Date</th>
                        <th field="ContractorName" width="15%">Vendor Name</th>
                    </tr>
                </thead>
                <thead>
                    <tr>                        
                        <th field="GRNTypeSt" width="7%">Rcv Type</th>
                        <th field="RefObjectNo" width="10%">Ref No</th>
                        <th field="GRNStatusSt" width="10%">Rcv Status</th>
                        <th field="StoreName" width="10%">Store Name</th>
                        <th field="ApproveByName" width="12%">Approve By</th>
                        <th field="ApproveDateSt" width="10%">Approve Date</th>
                        <th field="Amount" align="right" formatter="formatPrice" width="100">Amount</th>
                        <th field="ReceivedByName" width="12%">Received By</th>
                        <th field="ReceivedDateTimeSt" width="10%">Received Date</th>
                        <th field="ChallanNo" width="10%">Challan No</th>
                        <th field="ChallanDateSt" width="10%">Challan Date</th>
                        <th field="Remarks" width="12%">Remarks</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbarGRN">
                <table>
                    <tr>
                        <td>
                            <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Refresh" iconcls="icon-reload" plain="true"></a>
                            <input type="text" id="txtSearchByGRN" placeholder="Press Enter With Rcv No/Ref No" style="width:250px" />                            
                            <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv Search</a>
                            <a id="btnAddGRN" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" iconcls="icon-add" title="Add Parts Rcv" plain="true">New</a>
                            <a id="btnEditGRN" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" iconcls="icon-edit" title="Edit Parts Rcv" plain="true">Edit</a>
                            <a id="btnViewGRN" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" iconcls="icon-details" title="View Parts Rcv" plain="true">View</a>
                            <a id="btnDeleteGRN" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" iconcls="icon-remove" title="Delete Parts Rcv" plain="true">Delete</a>
                            <a id="btnApproveGRN" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" iconcls="icon-approved" title="Approve Parts Rcv" plain="true">Approve</a>
                            <a id="btnWaitForReceived" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Wait for Received</a>
                            <a id="btnReceiveGRN" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" iconcls="icon-receive" title="Receive Goods" plain="true">Receive Goods</a>
                            <a id="btnPrintPreview" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" iconcls="icon-print" title="Preview GRN" plain="true">Preview</a>
                            <a id="btnPrintRateView" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" iconcls="icon-print" title="Preview GRN with Rate" plain="true">Bill Preview</a>
                            <a id="btnPrintGRN" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print List</a>
                            <a id="btnPrintInXLGRN" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" hidden="hidden">Print in XL</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>       
    </div>
</body>

<script type="text/javascript">
    var _oGRN = null;
    var _oGRNs = [];
    $(document).ready(function() {
        _oGRNs = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oReceivedUsers=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReceivedUsers));
        var oGRNTypes= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.GRNTypes));
        var oGRNStatusList= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.GRNStatusList));
        var oDateCompareOperatorObjs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.DateCompareOperatorObjs));
        var oAmountCompareOperatorObjs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.AmountCompareOperatorObjs));
        var oAuthorizationRolesMapping = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        $('#cboGRNType').data('GRNTypes', oGRNTypes);
        var oStatus = {id:-1, Value:'--Select One--'};//dont't Remove it use for extra status
        oGRNStatusList.push(oStatus);
        $('#cboGRNStatus').data('GRNStatusList', oGRNStatusList);
        var oGRNs =sessionStorage.getItem("GRNs");
        if(oGRNs!=null)
        {
            oGRNs = jQuery.parseJSON(oGRNs);
        }
        else
        {
            oGRNs=_oGRNs;
        }
        DynamicRefreshList(oGRNs, 'tblGRNs');
        var nIndex =parseInt(sessionStorage.getItem("SelectedRowIndex"));
        if(nIndex!=-1)
        {
            $('#tblGRNs').datagrid('selectRow', nIndex);
        }
        RefreshControlLayout(oAuthorizationRolesMapping);
        $('#btnPrintInXLGRN').hide();

        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        $('#txtSupplierName').data('Suppliers', []);
        $('#txtProductName').data('Products', []);
        $('#cboReceivedBy').data('ReceivedUsers', oReceivedUsers);
        $('#cboGRNDate').data('DateCompareOperatorObjs', oDateCompareOperatorObjs);
        $('#cboGRNAmount').data('AmountCompareOperatorObj', oAmountCompareOperatorObjs);
        $('#tblGRNs').data('GRNs', oGRNs);
        $('#txtGRNAmountStart,#txtGRNAmountEnd').icsCurrencyBox();

        
        $('#tblGRNs').datagrid({onSelect: function(rowIndex, rowData){ RowSelect(rowData);}}); 

    }); 
    function RowSelect(oGRNs)
    {   
        debugger; 
        ////Commercial Invoice Status:  
        //document.getElementById("btnIC").style.display = 'none';
        //document.getElementById("btnSendToBuyer").style.display = 'none';
        //document.getElementById("btnBuyerAccepted").style.display = 'none';
        //document.getElementById("btnEncashment").style.display = 'none';     
        //document.getElementById("btnBillClosed").style.display = 'none';
        //document.getElementById("btnUndoStatus").style.display = 'none';
    
        if(parseInt(oGRNs.ApproveBy)!=0)
        {
            document.getElementById("btnApproveGRN").style.display = 'none';            
        }
        if(parseInt(oGRNs.ApproveBy)==0)
        {
            document.getElementById("btnApproveGRN").style.display = '';            
        }

    }

    $('#btnWaitForReceived').click(function (e) {
        var oGRN = {
            GRNID : 0,
            BUID : parseInt(sessionStorage.getItem("BUID"))
        };

        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: sessionStorage.getItem("BaseAddress")+  "/PartsReceived/WaitForReceived",
            data:  JSON.stringify(oGRN),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  oGRNs = jQuery.parseJSON(data);
                if (oGRNs != null) {
                    if(oGRNs.length>0)
                    {
                        if(oGRNs[0].ErrorMessage=="")
                        {
                            RefreshList(oGRNs);
                            $('#tblGRNs').data('GRNs', oGRNs);
                        }
                        else
                        {
                            alert(oGRNs[0].ErrorMessage);
                        }
                    }
                    else
                    {
                        alert("Data not found!!");
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#btnPrintPreview').click(function (){
        var oGRN= $('#tblGRNs').datagrid('getSelected');
        if(oGRN==null || oGRN.GRNID<=0)
        {
            return false;
        }
        window.open(sessionStorage.getItem("BaseAddress")+"/PartsReceived/PreviewPartsReceived?id="+oGRN.GRNID,'_blank');
    });

    $('#btnPrintRateView').click(function (){
        var oGRN= $('#tblGRNs').datagrid('getSelected');
        if(oGRN==null || oGRN.GRNID<=0)
        {
            return false;
        }
        window.open(sessionStorage.getItem("BaseAddress")+ "/PartsReceived/PreviewPartsReceivedWithRate?id="+oGRN.GRNID,'_blank');
    });

    $('#btnRefresh').click(function(){
        var oGRNs=$('#tblGRNs').datagrid('getRows');
        DynamicRefreshList(oGRNs, 'tblGRNs');
    });

    $('#btnPrintGRN').click(function(){
        var oGRNs=$('#tblGRNs').datagrid('getRows');
        if(oGRNs==null||oGRNs.length<=0)
        {
            alert("Sorry, there is no GRN.");
            return false;
        }
        var sGRNIDs = ICS_PropertyConcatation(oGRNs,'GRNID');

        window.open(sessionStorage.getItem("BaseAddress")+ "/PartsReceived/PrintPartsReceiveds?Param="+sGRNIDs,'_blank');

    });

    $("#btnAddGRN").click(function()
    {
        debugger;
        var oGRNs= $('#tblGRNs').datagrid('getRows');
        sessionStorage.setItem("GRNs", JSON.stringify(oGRNs));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("GRNHeader", "Add Goods Received Note");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem("BaseAddress")+ "/PartsReceived/ViewPartsReceived?id=0&buid="+sessionStorage.getItem('BUID');
    });

    $("#btnEditGRN").click(function(){
        var oGRN= $('#tblGRNs').datagrid('getSelected');
        if(oGRN==null || oGRN.GRNID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(oGRN.GRNStatusInt>0)
        {
            alert("Selected note Can not be Edited anymore!");
            return false;
        }

        var SelectedRowIndex=$('#tblGRNs').datagrid('getRowIndex',oGRN);
        var oGRNs= $('#tblGRNs').datagrid('getRows');
        sessionStorage.setItem("GRNs", JSON.stringify(oGRNs));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("GRNHeader", "Edit Goods Received Note");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/PartsReceived/ViewPartsReceived?id="+parseInt(oGRN.GRNID)+"&buid="+parseInt(sessionStorage.getItem('BUID'));
    });

    $("#btnViewGRN").click(function(){
        var oGRN= $('#tblGRNs').datagrid('getSelected');
        if(oGRN==null || oGRN.GRNID<=0)
        {
            alert("Please select a item from list!");
            return;
        }

        var SelectedRowIndex=$('#tblGRNs').datagrid('getRowIndex',oGRN);
        var oGRNs= $('#tblGRNs').datagrid('getRows');
        sessionStorage.setItem("GRNs", JSON.stringify(oGRNs));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("GRNHeader", "View Goods Received Note");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/PartsReceived/ViewPartsReceived?id="+parseInt(oGRN.GRNID)+"&buid="+parseInt(sessionStorage.getItem('BUID'));
    });

    $("#btnApproveGRN").click(function(){
        var oGRN= $('#tblGRNs').datagrid('getSelected');
        if(oGRN==null || oGRN.GRNID<=0)
        {
            alert("Please select a item from list!");
            return false;
        }
        if(oGRN.GRNStatusInt!=0)
        {
            alert("Already Approved!");
            return false;
        }

        var SelectedRowIndex=$('#tblGRNs').datagrid('getRowIndex',oGRN);
        var oGRNs= $('#tblGRNs').datagrid('getRows');
        sessionStorage.setItem("GRNs", JSON.stringify(oGRNs));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("GRNHeader", "Approve Goods Received Note");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/PartsReceived/ViewPartsReceived?id="+parseInt(oGRN.GRNID)+"&buid="+parseInt(sessionStorage.getItem('BUID'));
    });

    $("#btnReceiveGRN").click(function(){
        var oGRN= $('#tblGRNs').datagrid('getSelected');
        if(oGRN==null || oGRN.GRNID<=0)
        {
            alert("Please select a item from list!");
            return false;
        }
        if(oGRN.GRNStatusInt==2)
        {
            alert("Already Received.");
            return false;
        }
        if(oGRN.GRNStatusInt!=1)
        {
            alert("Please Select Only Approved Item From List.");
            return false;
        }

        var SelectedRowIndex=$('#tblGRNs').datagrid('getRowIndex',oGRN);
        var oGRNs= $('#tblGRNs').datagrid('getRows');
        sessionStorage.setItem("GRNs", JSON.stringify(oGRNs));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("GRNHeader", "Confirm Goods Received Note");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/PartsReceived/ViewPartsReceived?id="+parseInt(oGRN.GRNID)+"&buid="+parseInt(sessionStorage.getItem('BUID'));
    });

    $("#btnDeleteGRN").click(function(){
        debugger;
        var oGRN= $('#tblGRNs').datagrid('getSelected');
        if(oGRN==null || oGRN.GRNID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblGRNs').datagrid('getRowIndex',oGRN);
        if (oGRN.GRNID > 0)
        {
            $.icsDelete({
                BaseAddress: sessionStorage.getItem("BaseAddress"),
                Object: oGRN,
                ControllerName: "GRN",
                ActionName: "Delete",
                TableId: "tblGRNs",
                IsWinClose: false
            });
        }
    });

    //Start Search
    function RefreshComboBoxControls()
    {
        var oReceivedUsers = $('#cboReceivedBy').data('ReceivedUsers');
        var oDateCompareOperatorObjs = $('#cboGRNDate').data('DateCompareOperatorObjs');
        var oAmountCompareOperatorObjs = $('#cboGRNAmount').data('AmountCompareOperatorObj');
        var oGRNTypes = $('#cboGRNType').data('GRNTypes');
        var oGRNStatusList = $('#cboGRNStatus').data('GRNStatusList');
        $("#cboReceivedBy").icsLoadCombo({ List: oReceivedUsers, OptionValue: "UserID", DisplayText: "UserName"});
        $("#cboGRNDate").icsLoadCombo({ List: oDateCompareOperatorObjs, OptionValue: "id", DisplayText: "Value" });
        $("#cboGRNAmount").icsLoadCombo({ List: oAmountCompareOperatorObjs, OptionValue: "id", DisplayText: "Value" });
        $("#cboGRNType").icsLoadCombo({ List: oGRNTypes, OptionValue: "id", DisplayText: "Value" });
        $("#cboGRNStatus").icsLoadCombo({ List: oGRNStatusList, OptionValue: "id", DisplayText: "Value", InitialValue:'--Select One--' });
        $('#cboGRNStatus').val(-1);
    }

    function ValidateSearch()
    {
        var sGRNNo =$.trim($('#txtGRNNo').val());
        var sInvocieNo =$.trim($('#txtInvocieNo').val());
        var nGRNDate = parseInt($('#cboGRNDate').val());
        if(nGRNDate===1 || nGRNDate===2 || nGRNDate===3 || nGRNDate===4)
        {
            var sGRNStartDate   = $('#txtGRNStartDate').datebox('getValue');
            if(sGRNStartDate===null || sGRNStartDate==="")
            {
                alert("Please select GRN start date!");
                $('#txtGRNStartDate').focus();
                return false;
            }
        }
        if(nGRNDate===5 || nGRNDate===6)
        {
            var sGRNStartDate   = $('#txtGRNStartDate').datebox('getValue');
            var sGRNEndDate   = $('#txtGRNEndDate').datebox('getValue');
            if(sGRNStartDate===null || sGRNStartDate==="")
            {
                alert("Please select GRN start date!");
                $('#txtGRNStartDate').focus();
                return false;
            }
            if(sGRNEndDate===null || sGRNEndDate==="")
            {
                alert("Please select GRN end date!");
                $('#txtGRNEndDate').focus();
                return false;
            }
            if(new Date(sGRNStartDate) > new Date(sGRNEndDate))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtGRNStartDate').focus();
                return false;
            }
        }

        var nGRNAmount = parseInt($('#cboGRNAmount').val());
        if(nGRNAmount===1 || nGRNAmount===2 || nGRNAmount===3 || nGRNAmount===4)
        {
            var sGRNAmountStart   = $.trim($('#txtGRNAmountStart').val());
            if(sGRNAmountStart===null || sGRNAmountStart==="")
            {
                alert("Please enter GRN start Amount!");
                $('#txtGRNAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sGRNAmountStart)<=0)
            {
                alert("Please enter GRN start Amount!");
                $('#txtGRNAmountStart').focus();
                return false;
            }
        }
        if(nGRNAmount===5 || nGRNAmount===6)
        {
            var sGRNAmountStart = $.trim($('#txtGRNAmountStart').val());
            if(sGRNAmountStart===null || sGRNAmountStart==="")
            {
                alert("Please enter GRN start Amount!");
                $('#txtGRNAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sGRNAmountStart)<=0)
            {
                alert("Please enter GRN start Amount!");
                $('#txtGRNAmountStart').focus();
                return false;
            }

            var sGRNAmountEnd = $.trim($('#txtGRNAmountEnd').val());
            if(sGRNAmountEnd===null || sGRNAmountEnd==="")
            {
                alert("Please enter GRN end Amount!");
                $('#txtGRNAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sGRNAmountEnd)<=0)
            {
                alert("Please enter GRN end Amount!");
                $('#txtGRNAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sGRNAmountStart) >= icsRemoveComma(sGRNAmountEnd))
            {
                alert("Start amount must be smallar than end amount!");
                $('#txtGRNAmountStart').focus();
                return false;
            }
        }

        var nReceivedBy = parseInt($('#cboReceivedBy').val());
        var oSuppliers = $('#txtSupplierName').data('Suppliers');
        var oProducts = $('#txtProductName').data('Products');
        var nGRNType =  $("#cboGRNType").val();
        var nGRNStatus =  $("#cboGRNStatus").val();

        if(sGRNNo==="" && sInvocieNo==="" && nGRNDate===0 && nGRNAmount===0 && nReceivedBy===0 && parseInt(nGRNType)==0 && parseInt(nGRNStatus)==-1 &&  oSuppliers.length<=0 && oProducts.length<=0)
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        return true;
    }

    $('#btnAdvSearch').click(function(e){
        $("#winAdvanceSearch").icsWindow('open', "Advance Search");
        $("#winAdvanceSearch input").not("input[type='button']").val("");
        $('#txtGRNStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtGRNEndDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtGRNAmountStart').val('0.00');
        $('#txtGRNAmountEnd').val('0.00');
        $('#txtGRNAmountStart').prop("disabled", true);
        $('#txtGRNAmountEnd').prop("disabled", true);
        $('#txtSupplierName').data('Suppliers', []);
        $('#txtProductName').data('Products', []);
        RefreshComboBoxControls();
    });

    $('#btnAdvSearchClose').click(function(e){
        $("#winAdvanceSearch").icsWindow('close');
    });

    $('#cboGRNDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboGRNDate').val());
        if(nCompareOperator===0)
        {
            $('#txtGRNStartDate').datebox({ disabled : true });
            $('#txtGRNEndDate').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtGRNStartDate').datebox({ disabled : false });
            $('#txtGRNEndDate').datebox({ disabled : true });
        }
        else
        {
            $('#txtGRNStartDate').datebox({ disabled : false });
            $('#txtGRNEndDate').datebox({ disabled : false });
        }
        $('#txtGRNStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtGRNEndDate').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboGRNAmount').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboGRNAmount').val());
        if(nCompareOperator===0)
        {
            $('#txtGRNAmountStart').prop("disabled", true);
            $('#txtGRNAmountEnd').prop("disabled", true);
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtGRNAmountStart').prop("disabled", false);
            $('#txtGRNAmountEnd').prop("disabled", true);
        }
        else
        {
            $('#txtGRNAmountStart').prop("disabled", false);
            $('#txtGRNAmountEnd').prop("disabled", false);
        }
        $('#txtGRNAmountStart').val('0.00');
        $('#txtGRNAmountEnd').val('0.00');
    });

    $('#btnAdvSearchReset').click(function(e){
        $("#winAdvanceSearch input").not("input[type='button']").val("");
        $('#cboGRNDate').val(0);
        $('#txtGRNStartDate').datebox({ disabled : true });
        $('#txtGRNEndDate').datebox({ disabled : true });
        $('#txtGRNStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtGRNEndDate').datebox('setValue', icsdateformat(new Date()));

        $('#cboGRNAmount').val(0);
        $('#txtGRNAmountStart').prop("disabled", true);
        $('#txtGRNAmountEnd').prop("disabled", true);
        $('#txtGRNAmountStart').val('0.00');
        $('#txtGRNAmountEnd').val('0.00');
        
        $('#cboGRNStatus').val(-1);
        $('#cboGRNType,#cboReceivedBy').val(0);
        $('#txtSupplierName').data('Suppliers', []);
        $("#txtSupplierName").removeClass("fontColorOfPickItem");
        $('#txtProductName').data('Products', []);
        $("#txtProductName").removeClass("fontColorOfPickItem");
    });

    $('#btnSearch').click(function(e){
        if(!ValidateSearch()) return;

        var sGRNNo =$.trim($('#txtGRNNo').val());
        var sInvocieNo =$.trim($('#txtInvocieNo').val());

        var nGRNDate = parseInt($('#cboGRNDate').val());
        var sGRNStartDate   = $('#txtGRNStartDate').datebox('getValue');
        var sGRNEndDate   = $('#txtGRNEndDate').datebox('getValue');

        var nGRNAmount = parseInt($('#cboGRNAmount').val());
        var sGRNAmountStart = icsRemoveComma($.trim($('#txtGRNAmountStart').val()));
        var sGRNAmountEnd = icsRemoveComma($.trim($('#txtGRNAmountEnd').val()));

        var nReceivedBy = parseInt($('#cboReceivedBy').val());
        var oSuppliers = $('#txtSupplierName').data('Suppliers');
        var oProducts = $('#txtProductName').data('Products');
        var nGRNType =  $("#cboGRNType").val();
        var nGRNStatus =  $("#cboGRNStatus").val();

        if(oSuppliers===null) {oSuppliers = []; }
        if(oProducts===null) {oProducts = []; }
        var sSupplierIDs =""; var sProductIDs ="";

        for(var i=0; i<oSuppliers.length; i++)
        {
            sSupplierIDs  = sSupplierIDs + oSuppliers[i].ContractorID+ ",";
        }
        if(sSupplierIDs.length>0)
        {
            sSupplierIDs=sSupplierIDs.substring(0, sSupplierIDs.length-1);
        }
        for(var i=0; i<oProducts.length; i++)
        {
            sProductIDs  = sProductIDs + oProducts[i].ProductID+ ",";
        }
        if(sProductIDs.length>0)
        {
            sProductIDs=sProductIDs.substring(0, sProductIDs.length-1);
        }

        var sSearchingData  =  sGRNNo+'~';
        sSearchingData = sSearchingData + sInvocieNo+'~';
        sSearchingData = sSearchingData + nGRNDate+'~';
        sSearchingData = sSearchingData + sGRNStartDate+'~';
        sSearchingData = sSearchingData + sGRNEndDate+'~';
        sSearchingData = sSearchingData + nGRNAmount+'~';
        sSearchingData = sSearchingData + sGRNAmountStart+'~';
        sSearchingData = sSearchingData + sGRNAmountEnd+'~';
        sSearchingData = sSearchingData + nReceivedBy+'~';
        sSearchingData = sSearchingData + sSupplierIDs +'~';
        sSearchingData = sSearchingData + sProductIDs;

        var oGRN = {
            GRNTypeInt:nGRNType,
            GRNStatusInt:nGRNStatus,
            Remarks : sSearchingData,
            BUID : parseInt(sessionStorage.getItem("BUID"))
        };

        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: sessionStorage.getItem("BaseAddress")+  "/PartsReceived/AdvanceSearch",
            data:  JSON.stringify(oGRN),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  oGRNs = jQuery.parseJSON(data);
                if (oGRNs != null) {
                    if(oGRNs.length>0)
                    {
                        if(oGRNs[0].ErrorMessage=="")
                        {
                            DynamicRefreshList(oGRNs, 'tblGRNs');
                            $('#tblGRNs').data('GRNs', oGRNs);
                            $("#winAdvanceSearch").icsWindow('close');
                        }
                        else
                        {
                            alert(oGRNs[0].ErrorMessage);
                        }
                    }
                    else
                    {
                        alert("Data not found!!");
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $("#txtSearchByGRN").keyup(function (e) {
        if (e.keyCode == 13) {
            if($.trim($('#txtSearchByGRN').val())===null || $.trim($('#txtSearchByGRN').val())==="")
            {
                alert("Press enter with GRN No!");
                return;
            }
            var nBUID = parseInt(sessionStorage.getItem('BUID'));
            if(nBUID<=0)
            {
                alert("Invalid Business Unit!");
                return;
            }

            var oGRN = {
                GRNNo : $("#txtSearchByGRN").val(),
                BUID : nBUID
            };

            $.ajax({
                type: "POST",
                dataType: "json",
                url: sessionStorage.getItem('BaseAddress') + "/PartsReceived/GetsByGRNNo",
                traditional: true,
                data: JSON.stringify(oGRN),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oGRNs = jQuery.parseJSON(data);
                    if (oGRNs != null) {
                        if (oGRNs.length > 0) {
                            DynamicRefreshList(oGRNs, "tblGRNs");
                        }
                        else {
                            //alert("There is no Data!");
                            DynamicRefreshList([], "tblGRNs");
                        }
                    } else {
                        //alert("There is no Data!");
                        DynamicRefreshList([], "tblGRNs");
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
    });

    ///Supplier Pick
    $("#txtSupplierName").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var nBUID = parseInt(sessionStorage.getItem("BUID"));
            var oContractor = { Params: 1 + '~' + $.trim($('#txtSupplierName').val())+'~'+ nBUID };//here 1 is Supplier
            var obj = {
                BaseAddress: sessionStorage.getItem("BaseAddress"),
                Object: oContractor,
                ControllerName: "Contractor",
                ActionName: "ContractorSearchByNameType",
                IsWinClose: false
            };
            $("#progbar").progressbar({ value: 0 });
            $("#progbarParent").show();
            var intervalID = setInterval(updateProgress, 250);
            $.icsDataGets(obj, function (response) {
                clearInterval(intervalID);
                $("#progbarParent").hide();
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ContractorID > 0) {
                        var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winSuppliers',
                            winclass: 'clsSupplier',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblSuppliers',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'Name',
                            windowTittle: 'Supplier List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else{
                    alert("Data Not Found.");
                    return;
                }
            });
        }
    });
    $("#btnSupplierPicker").click(function () {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oContractor = { Params: "1~~"+nBUID };//here 1 Is Supplier
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winSuppliers',
                        winclass: 'clsSupplier',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblSuppliers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Supplier List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
            }
        });

    });
    $('#txtSupplierName').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtSupplierName").removeClass("fontColorOfPickItem");
            $('#txtSupplierName').data('SupplierID', 0);
        }
    });
    $('#btnSupplierClear').click(function(e){
        $("#txtSupplierName").val("");
        $('#txtSupplierName').data('Suppliers', []);
        $("#txtSupplierName").removeClass("fontColorOfPickItem");
    });
    //End Supplier Picker

    //Product Pick
    $("#txtProductName").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($('#txtProductName').val()==null || $('#txtProductName').val()=="")
            {
                alert("Please Type Product and Press Enter.");
                $('#txtProductName').focus();
                return;
            }
            var nBUID = parseInt(sessionStorage.getItem("BUID"));
            var oProduct = { BUID: nBUID, ProductName: $.trim($('#txtProductName').val())};
            var obj = {
                BaseAddress: sessionStorage.getItem("BaseAddress"),
                Object: oProduct,
                ControllerName: "Product",
                ActionName: "SearchByProductBUWise",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                debugger;
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ProductID > 0) {
                        var tblColums = [];
                        var oColumn = { field: "ProductCode", title: "Part No", width: 80, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ProductName", title: "Item Name", width: 300, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ProductCategoryName", title: "Category", width: 100, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winProductPicker',
                            winclass: 'clsProductPicker',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblProductPicker',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'NameCode',
                            windowTittle: 'Item List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else {
                        alert(response.objs[0].ErrorMessage);
                    }

                }else{
                    alert("Data Not Found.");
                }
            });
        }
    });
    $("#btnProductPicker").click(function () {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oProduct = { BUID: nBUID};
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Part No", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Item Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductCategoryName", title: "Category", width: 100, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winProductPicker',
                        winclass: 'clsProductPicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProductPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'NameCode',
                        windowTittle: 'Item List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });

    });
    $('#txtProductName').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtProductName").removeClass("fontColorOfPickItem");
            $('#txtProductName').data('Product', null);
        }
    });
    $('#btnProductClear').click(function(e){
        $("#txtProductName").val("");
        $('#txtProductName').data('Products', []);
        $("#txtProductName").removeClass("fontColorOfPickItem");
    });
    //End Product

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid === 'winSuppliers')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtSupplierName').val(oreturnobjs.length+"'s suppliers seleted");
                $('#txtSupplierName').addClass('fontColorOfPickItem');
                $('#txtSupplierName').data('Suppliers', oreturnobjs);
                $('#txtSupplierName').focus();
            }
        }
        else if (oPickerobj.winid == 'winProductPicker')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0)
            {
                $('#txtProductName').val(oreturnobjs.length+"'s products seleted");
                $('#txtProductName').addClass('fontColorOfPickItem');
                $('#txtProductName').data('Products', oreturnobjs);
            }
        }
    }

    function updateProgress() {
        var value =$('#progbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progbarParent").hide();
    }

    function RefreshControlLayout(oAuthorizationRolesMapping)
    {
        $("#btnAddGRN,#btnEditGRN,#btnViewGRN,#btnDeleteGRN,#btnPrintListGRN,#btnPrintInXLGRN,#btnPrintRateView").hide();

        if (PermissionChecker('Add', 'GRN',oAuthorizationRolesMapping)) {$("#btnAddGRN").show();}
        if (PermissionChecker('Edit', 'GRN',oAuthorizationRolesMapping)) {$("#btnEditGRN").show();}
        if (PermissionChecker('View', 'GRN',oAuthorizationRolesMapping)) {$("#btnViewGRN").show();}
        if (PermissionChecker('Delete', 'GRN',oAuthorizationRolesMapping)) {$("#btnDeleteGRN").show();}
        if (PermissionChecker('PrintList', 'GRN',oAuthorizationRolesMapping)) {$("#btnPrintListGRN").show();}
        if (PermissionChecker('XLPrint', 'GRN',oAuthorizationRolesMapping)) {$("#btnPrintInXLGRN").show();}
        if (PermissionChecker('RateView', 'GRN',oAuthorizationRolesMapping)) {$("#btnPrintRateView").show();}
        if (!PermissionChecker('RateView', 'GRN',oAuthorizationRolesMapping)) { $('#tblGRNs').datagrid('hideColumn', 'Amount'); }
    }

</script>