<html>
<head>
    <title>Delivery Order </title>
</head>
<body>

    @model ESimSol.BusinessObjects.DUDeliveryOrder
    <div class="menuMainCollectionTable">

        <fieldset>
            <legend style="font-weight:bold"> Order info: </legend>
            <table style="width:100%" cellpadding="2" cellspacing="2">

                <tr>
                    <td style="width: 6%; text-align: left">
                        <label>Issue To</label>
                    </td>
                    <td colspan="2" style="width: 28%; text-align: left">
                        <input id="txtIssueTo" class="reset-text" style="width: 84%;" placeholder=" search issue to" />
                        <a id="btnPickIssueTo" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                    </td>
                    <td style="width: 8%; text-align: right">
                        <label>Order Type</label>
                    </td>
                    <td style="width: 12%; text-align: left">
                        <select style="width: 100%;" id="cboOrderType" onchange="ChangeOrderType()"></select>
                    </td>
                    <td style="width: 8%; text-align: right">
                        <span class="lblOrderNo"></span>
                    </td>
                    <td style="width: 15%; text-align: left">
                        <input id="txtExportPINo" style="width: 75%" class="reset-text" placeholder="Search by No" />
                        <a id="btnPickExportPI" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>

                    </td>
                    <td style="width: 8%; text-align: right">
                        <span class="lblLCNo"></span>
                    </td>
                    <td style="width: 15%; text-align: left">
                        <input id="txtExportLCNo" style="width: 75%" class="reset-text" placeholder="Search L/C No" />
                        <a id="btnPickExportLCNo" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>

                    </td>

                </tr>



            </table>

        </fieldset>
        <fieldset>
            <legend style="font-weight:bold"> Delivery Order entry: </legend>
            <table cellpadding="2" cellspacing="2" style="width:100%">
                <tr>
                    <td style="width: 10%; text-align: left">
                        <label>Deliver To</label>
                    </td>
                    <td style="width: 60%; text-align: left">
                        <input id="txtDeliverTo" style="width: 80%;" class="reset-text" placeholder="Search Delivery To" />
                        <a id="btnPickDeliverTo" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                        <a id="btnResetDeliverTo" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                    </td>
                    <td style="width: 15%; text-align: right">
                        <label>DO No</label>
                    </td>
                    <td style="width: 15%; text-align: left">
                        <input id="txtDONo" style="width: 90%;" class="reset-text" placeholder="Auto Generated" disabled="disabled" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: left">
                        <label>Delivery Point</label>
                    </td>
                    <td style="width: 60%; text-align: left">
                        <input id="txtDeliverPoint" style="width: 100%;" class="reset-text" />

                    </td>
                    <td style="width: 15%; text-align: right">
                        <label>DO Date</label>
                    </td>
                    <td style="width: 15%; text-align: left">
                        <input id="txtDODate" type="text" class="easyui-datebox" style="width: 105px;" data-options="formatter:icsdateformat,parser:icsdateparser" />
                    </td>
                </tr>
                <tr>
                    <td style="width: 10%; text-align: left">
                        <label>Remarks :</label>
                    </td>
                    <td style="width: 60%; text-align: left">
                        <input id="txtNote" style="width: 100%;" class="reset-text" />

                    </td>
                    <td style="width: 15%; text-align: right">
                        <label>Delivery Date</label>
                    </td>
                    <td style="width: 15%; text-align: left">
                        <input id="txtDeliveryDate" type="text" class="easyui-datebox" style="width: 105px;" data-options="formatter:icsdateformat,parser:icsdateparser" />
                    </td>
                </tr>

            </table>


        </fieldset>

        <fieldset>
            <legend>Delivery Order Detail</legend>
            <table id="tblDUDeliveryOrderDetail" class="easyui-datagrid" style="width:100%;height:250px;"
                   data-options="singleSelect: true,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false, toolbar: '#toolbar',onClickRow:onClickRow ">
                
                    <thead>
                        <tr>
                            <th field="ProductName" width="25%" align="left">Product</th>
                            <th field="ColorName" width="10%" align="left">ColorName</th>
                            <th data-options="field:'Qty',align:'right',editor:{type:'numberbox',options:{precision:2}}" width="10%">DO Qty</th>
                            <th data-options="field:'Note',width:100,height:60 ,align:'Left',editor:{type:'text'}" width="20%" align="Left">Remark</th>
                            <th field="Qty_DC" width="8%" align="right" formatter="formatPrice">DeliveryQty</th>
                            <th field="MUnit" width="6%" align="right">Unit</th>
                            @*<th field="ApproveLotNo" width="10%" align="center">ApproveLotNo</th>*@
                        </tr>
                    </thead>
                </table>
                <div id="toolbar">
                    <a id="btnPickProduct" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Pick Product</a>
                    <a id="btnRemoveDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                    <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>
                </div>
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tr>
                        <td style="width:65%;  text-align:right;font-weight:bold;">Total:</td>
                        <td style="width:10%;  text-align:right;font-weight:bold;"><label id="lblTotalQty">0</label> </td>
                        <td style="width:5%;  text-align:right;font-weight:bold;"> </td>
                       
                    </tr>
                </table>
</fieldset>

        <fieldset>
            <legend>Action</legend>
            <div class="align-right">
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tr>
                    <tr>
                        <td style=" float:left;  width:10%; ">
                            <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
                        </td>
                        <td style=" float:left;  width:40%; ">
                        </td>
                        <td style="width:50%;float:right; text-align:right">
                            <label id="lblCreateReviseNo">Create Revise No?</label> <input id="chkIsCreateReviseNo" type="checkbox" checked="checked" />
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            <a id="btnSave_Revise" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save(Revise)</a>
                            <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Approve</a>
                            <a id="btnCancel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Cancel</a>
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>

                </table>

            </div>

        </fieldset>
    </div>

</body>
</html>

<style type="text/css">
    .td-styler input {
        padding-left: 5px;
    }

    .td-styler select {
        padding-left: 5px;
    }

    .td-col-3 select {
        width: 95%;
    }
</style>

<script type="text/javascript">

    var _sBaseAddress = "";
    var _oDUDeliveryOrder=null;
    var _nMktAccountID=0;
    var _nContractorID=0;
    var _nDeliveryToID=0;
    var _nProductID=0;
    var _nExportSCDetailID=0;
    var _bIsIssueTo=true;
    var _oCPIssueTos=[];
    var _oCPDeliveryTos=[];
    var _oPaymentTypes=[];
    var _oOrderTypes=[];
    var _oLightSources=[];
    var _oPriorityLevels=[];
    var _oIsAdd=false;
    var _nLabDipDetailID=0;
    var _nDUDeliveryOrderDetailID=0;
    var _nExportLCID=0;
    var _nSelectedRowIndex=0;
    var _nBUID=0;
    var _sBackLink="";
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oDUDeliveryOrder =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oCPIssueTos =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.CPIssueTos));
        _oCPDeliveryTos =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.CPDeliveryTos));
        var oOrderTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.DUOrderSetups));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        debugger;
        $("#cboOrderType").icsLoadCombo({
            List: oOrderTypes,
            OptionValue: "OrderType",
            DisplayText: "ShortName",

        });

        Initialization(_oDUDeliveryOrder,((sessionStorage.length>0)?sessionStorage.getItem('Operation'):'New'));
        _sBackLink=sessionStorage.getItem("BackLink");

    });


    function Initialization(oDUDeliveryOrder, sOperation){
        ResetControll();

       RefreshControl(oDUDeliveryOrder);

        $("#chkIsCreateReviseNo").hide();
        $("#lblCreateReviseNo").hide();

        if(sOperation=="View")
        {
            $('#toolbar,#btnApprove,#btnSave,#btnCancel,#btnSave_Revise,.ics-pick').hide();
            $('input,select').not('#txtDONo').prop('disabled',true);
            $('.td-col-6 input').css('width','92%');
        }
        else  if(sOperation=="Revise")
        {
            $('#btnSave,#btnApprove,#btnCancel').hide();
            $('#btnSave_Revise').show();
            $("#chkIsCreateReviseNo").show();
            $("#lblCreateReviseNo").show();
            $('input,select').not('#txtDONo').prop('disabled',false);
            $('#txtDODate').datebox('setValue', icsdateformat(new Date()));

        }
        else  if(sOperation=="Cancel")
        {
            $('#btnSave,#btnApprove,#btnSave_Revise').hide();
            $('#btnCancel').show();
            $('input,select').not('#txtDONo').prop('disabled',false);
        }
        else if(sOperation=="Approve")
        {
            $('#toolbar,#btnSave,#btnSave_Revise,#btnCancel,.ics-pick').hide();
            $('#btnApprove').show();
            $('input,select').not('#txtDONo').prop('disabled',true);
            $('.td-col-6 input').css('width','92%');
        }
        else{
            $('#toolbar,#btnSave,.ics-pick').show();
            $('#btnApprove,#btnSave_Revise,#btnCancel').hide();
            $('input,select').not('#txtDUDeliveryOrderNo').prop('disabled',false);
            $('.td-col-6 input').css('width','70%');
        }
        ChangeOrderType();
    }


    function LoadIssueContactPersonnel(oCPs){
        $("#cboCPIssueTo").icsLoadCombo({
            List: oCPs,
            OptionValue: "ContactPersonnelID",
            DisplayText: "Name",
            InitialValue:""
        });
    }

    function LoadDeliveredContactPersonnel(oCPs){
        $("#cboCPDeliverTo").icsLoadCombo({
            List: oCPs,
            OptionValue: "ContactPersonnelID",
            DisplayText: "Name",
            InitialValue:""
        });
    }


    function ResetControll(){
        _oDUDeliveryOrder=null;

        $('.reset-text').val("");
        $('#dtOrderDate,#dtSeekingDate').datebox('setValue', icsdateformat(new Date()));
        LoadIssueContactPersonnel(_oCPIssueTos);
        LoadDeliveredContactPersonnel(_oCPDeliveryTos);
        //$('.number').val("0.00");
        ResetDetail();
        DynamicRefreshList([], 'tblDUDeliveryOrderDetail');
        RefreshSummary();
    }



    function RefreshControl(oDUDeliveryOrder){
        debugger;
        _oDUDeliveryOrder=oDUDeliveryOrder;
        _nDeliveryToID=oDUDeliveryOrder.ContractorID;//

        $('#txtIssueTo').val(oDUDeliveryOrder.ContractorName);
        $('#txtDeliverTo').val(oDUDeliveryOrder.DeliveryToName);

        $('#txtDONo').val(oDUDeliveryOrder.DONo);
        $('#txtDODate').datebox('setValue',oDUDeliveryOrder.DODateSt);
        $('#txtDeliveryDate').datebox('setValue',oDUDeliveryOrder.DeliveryDateSt);
        $('#txtDeliverPoint').val(oDUDeliveryOrder.DeliveryPoint);
        $('#txtNote').val(oDUDeliveryOrder.Note);

        $('#cboOrderType').val(oDUDeliveryOrder.OrderType);
        $('#txtExportPINo').val(oDUDeliveryOrder.OrderNo);
        $('#txtExportLCNo').val(oDUDeliveryOrder.ExportLCNo);

        if(oDUDeliveryOrder.DUDeliveryOrderDetails!==null && oDUDeliveryOrder.DUDeliveryOrderDetails.length>0)
        {
            DynamicRefreshList(oDUDeliveryOrder.DUDeliveryOrderDetails, 'tblDUDeliveryOrderDetail');
        }
        else{
            DynamicRefreshList([], 'tblDUDeliveryOrderDetail');
        }

        RefreshSummary();

    }

    function ChangeOrderType()
    {
        var ocboOrderType = document.getElementById("cboOrderType");
        var sText = ocboOrderType.options[ocboOrderType.selectedIndex].text;
        var ncboOrderType=parseInt($("#cboOrderType").val());
        if(ncboOrderType===2)
        {
            $(".lblLCNo").html("Invoice No");
            $(".lblOrderNo").html(sText);
        }
       else if(ncboOrderType===6)
        {
            $(".lblLCNo").html("");
            $(".lblOrderNo").html(sText);
       }
       else if(ncboOrderType===3)
       {
           $("#txtExportPINo").attr("placeholder", "Type Master P/I No");
           $(".lblLCNo").html("");
           $(".lblOrderNo").html(sText);
       }
       else if(ncboOrderType===4)
       {
           $("#txtExportPINo").attr("placeholder", "Type Master P/I No");
           $(".lblLCNo").html("");
           $(".lblOrderNo").html(sText);
       }
       else if(ncboOrderType===7)
       {
           $(".lblLCNo").html("Invoice No");
           $(".lblOrderNo").html(sText);
       }

       else if(ncboOrderType===5)
        {
            $(".lblLCNo").html("");
            $(".lblOrderNo").html(sText);
        }
       else
        {
           $(".lblLCNo").html("");
           $(".lblOrderNo").html(sText);
        }

    }

    function Validation(){



        if(_oDUDeliveryOrder.OrderID<=0)
        {
            $('#txtExportPINo').focus();
            $('#txtExportPINo').addClass("errorFieldBorder");
            alert('Pick Order No .');
            return false;
        }


        if(_oDUDeliveryOrder.ContractorID<=0){
            $('#txtIssueTo').focus();
            $('#txtIssueTo').addClass("errorFieldBorder");
            alert('DUDeliveryOrder issue to required.');
            alert(_oDUDeliveryOrder.ContractorID);
            return false;
        }
        else{
            $('#txtIssueTo').removeClass("errorFieldBorder");
        }


        return true;
    }

    function RefreshObject()
    {

        var oDUDeliveryOrder={
            DUDeliveryOrderID: (_oDUDeliveryOrder!=null && _oDUDeliveryOrder.DUDeliveryOrderID>0)? _oDUDeliveryOrder.DUDeliveryOrderID:0,
            ContractorID: _nDeliveryToID,
            ContactPersonnelID: 0,
            ExportPIID:_oDUDeliveryOrder.ExportPIID,
            OrderID:_oDUDeliveryOrder.OrderID,
            OrderType:_oDUDeliveryOrder.OrderType,
            Note:$.trim($('#txtNote').val()),
            DeliveryPoint:$.trim($('#txtDeliverPoint').val()),
            DODate:$('#txtDODate').datebox('getValue'),
            DeliveryDate:$('#txtDeliveryDate').datebox('getValue'),
            IsRevise:false,
            DUDeliveryOrderDetails:$('#tblDUDeliveryOrderDetail').datagrid('getRows')

        };
        return oDUDeliveryOrder;
    }



    function ResetDetail(){
        _nProductID=0;
        _nExportSCDetailID=0;

        $('#cboKnitPly').val(0);
        $('#txtColorSet,#txtShadeCount').val(3);
        $('#txtCombo').val(1);
        $('#txtProduct,#txtColorName,#txtRGB,#txtPantonNo,#txtReftNo,#txtApproveLotNo').val("");
    }






    $("#btnPickIssueTo").click(function () {

        var sContractorName=$.trim($("#txtIssueTo").val());
        _bIsIssueTo=true;
        GetContractors(sContractorName, _bIsIssueTo);
    });

    $("#txtIssueTo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sContractorName=$.trim($("#txtIssueTo").val());
            _bIsIssueTo=true;
            GetContractors(sContractorName,_bIsIssueTo);
        }
        else if(nkeyCode==8){
            $("#txtIssueTo").val("");
            _nContractorID=0;
            $("#cboCPIssueTo").empty();
        }
    });
    $("#btnResetIssueTo").click(function () {
        $("#txtIssueTo").val("");
        _nContractorID=0;
    });



    $("#btnResetDeliverTo").click(function () {
        $("#txtDeliverTo").val("");
        _nDeliveryToID=0;
        $("#cboCPDeliverTo").empty();
    });

    $("#btnPickDeliverTo").click(function () {
        var sContractorName=$.trim($("#txtDeliverTo").val());
        _bIsIssueTo=false;
        GetContractors(sContractorName, _bIsIssueTo);
    });

    $("#txtDeliverTo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sContractorName=$.trim($("#txtDeliverTo").val());
            _bIsIssueTo=false;
            GetContractors(sContractorName,_bIsIssueTo);
        }
        else if(nkeyCode==8){
            $("#txtDeliverTo").val("");
            _nDeliveryToID=0;
            $("#txtDeliverTo").empty();

        }
    });


    function GetContractors(sContractorName, bIsIssueTo){

        var oContractor = {
            Params: '2,3' +'~'+sContractorName,
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "center" };tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 190, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Phone", title: "Phone", width: 140, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winContractorPicker',
                        winclass:'clsContractorPicker',
                        winwidth: 460,
                        winheight: 460,
                        tableid: 'tblContractorPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'Name',
                        windowTittle: 'Contractor List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No contractor found.");
            }
        });


    }



    function GetContactPersonel(nContractorID,bIsIssueTo){

        var oContractor = {
            ContractorID: nContractorID
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "GetContactPersonnels",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContactPersonnelID > 0) {

                    if(bIsIssueTo){
                        LoadIssueContactPersonnel(response.objs);
                    }
                    else{
                        LoadDeliveredContactPersonnel(response.objs);
                    }

                }
                else{
                    if(bIsIssueTo){
                        LoadIssueContactPersonnel([]);
                    }
                    else{
                        LoadDeliveredContactPersonnel([]);
                    }
                }
            }
        });
    }


    $("#btnResetProduct").click(function () {

        $("#txtProduct").val("");
        _nProductID=0;
        _nExportSCDetailID=0;
    });

    $("#btnPickProduct").click(function () {

        if(_oDUDeliveryOrder.OrderID<=0 ||_oDUDeliveryOrder.OrderType<=0)
        {
            alert("Please, first Pick Order");
            $("#txtExportPINo").focus()
            return;
        }
        var sProductName="";

        GetProducts(sProductName);
    });

    $("#txtProduct").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            if(_oDUDeliveryOrder.OrderID<=0 ||_oDUDeliveryOrder.OrderType<=0)
            {
                alert("Please, first Pick Order");
                $("#txtExportPINo").focus()
                return;
            }

            GetProducts("");
        }
        else if(nkeyCode==8){
            $("#txtProduct").val("");
            _nProductID=0;
            _nExportSCDetailID=0;
        }
    });

    function GetProducts(sProductName){

        var oDODetail = $('#tblDUDeliveryOrderDetail').datagrid('getRows');
        var sTemp="";
        if(oDODetail!=null && oDODetail.length>0)
        {
            for (var i = 0;i<oDODetail.length; i++){
                if(_oDUDeliveryOrder.OrderType==3 || _oDUDeliveryOrder.OrderType==4)
                {
                    sTemp = oDODetail[i].ExportSCDetailID + "," + sTemp;
                }
                //if(_oDUDeliveryOrder.OrderType==2 || _oDUDeliveryOrder.OrderType==6 || _oDUDeliveryOrder.OrderType==7|| _oDUDeliveryOrder.OrderType==8 || _oDUDeliveryOrder.OrderType==9)
                else
                {
                    sTemp = oDODetail[i].DyeingOrderDetailID + "," + sTemp;
                }
               
            }
            sTemp = sTemp.substring(0, sTemp.length - 1);
        }

        var oDUDeliveryOrder = {
            OrderID:_oDUDeliveryOrder.OrderID,
            OrderType:_oDUDeliveryOrder.OrderType,
            ErrorMessage:sTemp
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oDUDeliveryOrder,
            ControllerName: "DUDeliveryOrder",
            ActionName: "GetOrderDetails",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "ProductName", title: "Name", width: 180, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ColorName", title: "Color", width: 100, align: "left" };tblColums.push(oColumn);
                    //oColumn = { field: "MUName", title: "Unit", width: 70, align: "left" };tblColums.push(oColumn);
                    if(parseInt($("#cboOrderType").val())==3||parseInt($("#cboOrderType").val())==4)
                    {
                        oColumn = { field: "OrderQty", title: "P/I Qty", width: 100, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                        oColumn = { field: "Lotbalance", title: "Order Qty", width: 100, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                    }
                    else{
                        oColumn = { field: "OrderQty", title: "Order Qty", width: 100, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                    }
                    oColumn = { field: "DOQty", title: "DO Qty", width: 100, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                    oColumn = { field: "YetToDO", title: "Yet To Qty", width: 100, align: "right",formatter:formatPrice };tblColums.push(oColumn);
                    
                    var oPickerParam = {
                        winid: 'winProductPicker',
                        winclass:'clsProductPicker',
                        winwidth: 750,
                        winheight: 460,
                        tableid: 'tblProductPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName:'ProductName',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No product found.");
            }
        });


    }


    //Pick PI /LC

    $("#btnPickExportLCNo").click(function () {

        var sContractorName=$.trim($("#txtExportLCNo").val());
        var sNo=$.trim($("#txtExportLCNo").val());
        var oExportSCDO = {
            PINo:"",
            ExportLCNo:sNo,
            LCID:0,
            BUID: _nBUID
        };
        GetsExportPIs(oExportSCDO);
    });

    $("#txtExportLCNo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sNo=$.trim($("#txtExportLCNo").val());
            var oExportSCDO = {
                PINo:"",
                ExportLCNo:sNo,
                LCID:0,
                BUID: _nBUID
            };
            GetsExportPIs(oExportSCDO);
        }
        else if(nkeyCode==8){
            $("#txtExportLCNo").val("");
            _nExportLCID=0;

        }
    });
    $("#btnResetExportLCNo").click(function () {
        $("#txtExportLCNo").val("");
        _nExportLCID=0;
    });

    $("#btnPickExportPI").click(function () {

        var sNo=$.trim($("#txtExportPINo").val());
        var oDUDeliveryOrder = {
            OrderNo:sNo,
            OrderType:$("#cboOrderType").val(),
            ContractorID:_nContractorID,
            BUID:_nBUID
        };
        if(parseInt($("#cboOrderType").val())==3||parseInt($("#cboOrderType").val())==4)
        {
            GetsExportPIs(oDUDeliveryOrder);
        }

        else{
            GetsSampleOrders(oDUDeliveryOrder);
        }
    });

    $("#txtExportPINo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sNo=$.trim($("#txtExportPINo").val());
            var oDUDeliveryOrder = {
                OrderNo:sNo,
                OrderType:$("#cboOrderType").val(),
                ContractorID:_nContractorID,
                BUID:_nBUID
            };
            if(parseInt($("#cboOrderType").val())==3||parseInt($("#cboOrderType").val())==4)
            {
                GetsExportPIs(oDUDeliveryOrder);
            }
            //else if(parseInt($("#cboOrderType").val())==5)
            //{
            //    GetsClaimOrders(oDUDeliveryOrder);
            //}
            else{

                GetsSampleOrders(oDUDeliveryOrder);
            }
        }
        else if(nkeyCode==8){
            $("#txtExportPINo").val("");
            _oDUDeliveryOrder.OrderID=0;

        }
    });
    $("#btnResetExportPI").click(function () {
        $("#txtExportPINo").val("");
        _oDUDeliveryOrder.OrderID=0;
    });
    function GetsExportPIs(oExportSCDO){


        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oExportSCDO,
            ControllerName: "DUDeliveryOrder",
            ActionName: "GetExportPIs_DO",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0)
            {
                if (response.objs[0].ExportPIID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "OrderNo", title: "P/I No", width: 160, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "OrderQty", title: "P/I Qty", width: 100, align: "right" };tblColums.push(oColumn);
                    oColumn = { field: "ExportLCNo", title: "L/C No", width: 200, align: "left" };tblColums.push(oColumn);
                    //oColumn = { field: "TotalDOQty", title: "P.O. Qty", width: 100, align: "right" };tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winExportPIPicker',
                        winclass:'clsExportPIPicker',
                        winwidth: 660,
                        winheight: 460,
                        tableid: 'tblExportPIPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'PINo',
                        windowTittle: 'P/I List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("Data not found.");
            }
        });


    }
    //End PI LC Pick
    function GetsSampleOrders(oExportSCDO){


        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oExportSCDO,
            ControllerName: "DUDeliveryOrder",
            ActionName: "GetExportPIs_DO",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0)
            {
                if (response.objs[0].OrderID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "OrderNo", title: "Order No", width: 160, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "OrderQty", title: "Order Qty", width: 100, align: "right" };tblColums.push(oColumn);
                    oColumn = { field: "OrderTypeSt", title: "Order Type", width: 200, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ExportPINo", title: "P/I No", width: 200, align: "left" };tblColums.push(oColumn);
                    //oColumn = { field: "TotalDOQty", title: "P.O. Qty", width: 100, align: "right" };tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winExportPIPicker',
                        winclass:'clsExportPIPicker',
                        winwidth: 660,
                        winheight: 460,
                        tableid: 'tblExportPIPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'OrderNo',
                        windowTittle: 'Sample Order List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("Data not found.");
            }
        });


    }
    //End PI LC Pick
  
    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);

            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        debugger;
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        if (oPickerobj.winid == 'winContractorPicker')
        {
            if (oreturnObj != null && oreturnObj.ContractorID > 0)
            {
                debugger;
                if(_bIsIssueTo){
                    $('#txtIssueTo').val(oreturnObj.Name);
                    _nContractorID= oreturnObj.ContractorID;
                    if(_nDeliveryToID<=0){
                        $('#txtDeliverTo').val(oreturnObj.Name);
                        _nDeliveryToID= oreturnObj.ContractorID;
                    }
                }
                else{
                    $('#txtDeliverTo').val(oreturnObj.Name);
                    _nDeliveryToID= oreturnObj.ContractorID;
                }

                GetContactPersonel(oreturnObj.ContractorID, _bIsIssueTo);

            }
            else{
                alert("Data not found");
            }
        }
        else if (oPickerobj.winid == 'winProductPicker')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0)
            {
                SaveWithDetail(oreturnobjs);
            }
            else{
                alert("Data Not Found.");
                return;
            }
        }
        else if (oPickerobj.winid=='winExportPIPicker')
        {
            if(oreturnObj!=null && parseInt(oreturnObj.OrderID)>0)
            {
                debugger;
                var txtExportPINo = document.getElementById("txtExportPINo");
                txtExportPINo.style.color = "blue";
                txtExportPINo.style.fontWeight = "bold";
                $('#txtExportPINo').val(oreturnObj.ExportPINo);
                oreturnObj.DUDeliveryOrderID= (_oDUDeliveryOrder!=null && _oDUDeliveryOrder.DUDeliveryOrderID>0)? _oDUDeliveryOrder.DUDeliveryOrderID:0;
                RefreshControl(oreturnObj);
            }
            else
            {
                alert("Data Not Found.");
            }
        }



    }
    function IsExist(nDyeingOrderDetailID)
    {
        var oDUDODetails = $('#tblDUDeliveryOrderDetail').datagrid('getRows');

        for (var i = 0; i < oDUDODetails.length; i++) {
            if (parseInt(oDUDODetails[i].DyeingOrderDetailID) == parseInt(nDyeingOrderDetailID))
            {
                return true;
            }
        }
        return false;
    }
    function IsExist_Bulk(nExportSCDetailID)
    {
        var oDUDODetails = $('#tblDUDeliveryOrderDetail').datagrid('getRows');

        for (var i = 0; i < oDUDODetails.length; i++) {
            if (parseInt(oDUDODetails[i].ExportSCDetailID) == parseInt(nExportSCDetailID))
            {
                return true;
            }
        }
        return false;
    }
    function IsExist_Claim(nDUClaimOrderDetailID)
    {
        var oDUDODetails = $('#tblDUDeliveryOrderDetail').datagrid('getRows');

        for (var i = 0; i < oDUDODetails.length; i++) {
            if (parseInt(oDUDODetails[i].DUClaimOrderDetailID) == parseInt(nDUClaimOrderDetailID))
            {
                return true;
            }
        }
        return false;
    }
    function SaveWithDetail(oDUDeliveryOrderDetails)
    {
        for (i=0; i<oDUDeliveryOrderDetails.length;i++)
        {
            var ncboOrderType=parseInt($("#cboOrderType").val());
            if(ncboOrderType===3||ncboOrderType===4)
            {
                var bExists= IsExist_Bulk(oDUDeliveryOrderDetails[i].ExportSCDetailID)
                if(!bExists)
                {
                    $('#tblDUDeliveryOrderDetail').datagrid('appendRow', oDUDeliveryOrderDetails[i]);
                }
            }
            //if(ncboOrderType===5)
            //{
            //    var bExists= IsExist_Claim(oDUDeliveryOrderDetails[i].DUClaimOrderDetailID)
            //    if(!bExists)
            //    {
            //        $('#tblDUDeliveryOrderDetail').datagrid('appendRow', oDUDeliveryOrderDetails[i]);
            //    }
            //}
            else{
                var bExists= IsExist(oDUDeliveryOrderDetails[i].DyeingOrderDetailID)
                if(!bExists)
                {
                    $('#tblDUDeliveryOrderDetail').datagrid('appendRow', oDUDeliveryOrderDetails[i]);
                }
            }
        }

        endEditing();
        RefreshSummary();
        //var oDUDeliveryOrder=RefreshObject();
        //$.ajax({
        //    type: "POST",
        //    dataType: "json",
        //    url : _sBaseAddress+"/DUDeliveryOrder/Save",
        //    traditional: true,
        //    data:  JSON.stringify(oDUDeliveryOrder),
        //    contentType: "application/json; charset=utf-8",
        //    success: function (data) {
        //        debugger;
        //        var oDUDO= jQuery.parseJSON(data);
        //        if (oDUDO.ErrorMessage=="" || oDUDO.ErrorMessage==null)
        //        {
        //            _oDUDeliveryOrder=oDUDO;
        //            alert("Data Save Succesfully!!");
        //            RefreshControl(oDUDO);
        //        }
        //        else
        //        {
        //            alert(oDUDO.ErrorMessage);
        //        }
        //    },
        //    error: function (xhr, status, error)
        //    {
        //        alert(error);
        //    }
        //});
    }





    $('#btnClose').click(function(e){
        window.location.href = sessionStorage.getItem("BackLink");
    });


    $("#btnRemoveDetail").click(function () {

        var oDUDeliveryOrderDetail = $("#tblDUDeliveryOrderDetail").datagrid("getSelected");
        if (oDUDeliveryOrderDetail == null) { alert("Please select an item from list!"); return false; }
        var nIndex=$('#tblDUDeliveryOrderDetail').datagrid('getRowIndex',oDUDeliveryOrderDetail);
        if (!confirm("Confirm to Delete?")) return false;
        $("#tblDUDeliveryOrderDetail").datagrid("deleteRow", nIndex);
        RefreshSummary();
        editIndex = undefined;
    });



    function RefreshSummary()
    {
        var oDODetails = $('#tblDUDeliveryOrderDetail').datagrid('getRows');
        var nTotalQty = 0, nTotalAmount= 0;
        for(var i = 0; i<oDODetails.length;i++)
        {
            nTotalQty+=parseFloat(oDODetails[i].Qty);

        }
        document.getElementById('lblTotalQty').innerHTML = formatPrice(nTotalQty,0)+"LBS";

    }
    //////////// Detail ////////
    var editIndex = undefined;
    function endEditing() {
        if (editIndex == undefined) { return true }
        if ($('#tblDUDeliveryOrderDetail').datagrid('validateRow', editIndex)) {
            $('#tblDUDeliveryOrderDetail').datagrid('endEdit', editIndex);
            $('#tblDUDeliveryOrderDetail').datagrid('selectRow', editIndex);
            var oESCDetail = $('#tblDUDeliveryOrderDetail').datagrid('getSelected');
            debugger;
            $('#tblDUDeliveryOrderDetail').datagrid('updateRow', { index: editIndex, row: oESCDetail });

            RefreshSummary();
            editIndex = undefined;
            return true;
        }
        else {
            return false;
        }
    }

    function onClickRow(index) {

        if (editIndex != index) {
            if (endEditing()) {
                $('#tblDUDeliveryOrderDetail').datagrid('selectRow', index).datagrid('beginEdit', index);
                var oPRDetail= $('#tblDUDeliveryOrderDetail').datagrid('getSelected');

                editIndex = index;
            }
            else {
                $('#tblDUDeliveryOrderDetail').datagrid('selectRow', editIndex);
            }
        }
    }
    $("#btnSave").click(function (){
        endEditing();
        if(!Validation()) return false;

        debugger;
        var oDUDeliveryOrder=RefreshObject();
        //if(!ValidateInput_Two()) return;

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/DUDeliveryOrder/Save",
            traditional: true,
            data:  JSON.stringify(oDUDeliveryOrder),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oDUDO= jQuery.parseJSON(data);
                if (oDUDO.ErrorMessage=="" || oDUDO.ErrorMessage==null)
                {
                    _oDUDeliveryOrder=oDUDO;
                    alert("Data Save Succesfully!!");
                    //if(_oPurchaseOrder.PurchaseOrderDetails!=null)
                    //{
                    //    DynamicRefreshList(_oPurchaseOrder.PurchaseOrderDetails, 'tblPODetail');
                    //}

                    var oDUDeliveryOrders =sessionStorage.getItem("DUDeliveryOrders");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    debugger;
                    if(oDUDeliveryOrders!=null)
                    {
                        oDUDeliveryOrders = jQuery.parseJSON(oDUDeliveryOrders);
                    }
                    else
                    {
                        oDUDeliveryOrders=[];
                    }
                    if(nIndex!=-1)
                    {
                        oDUDeliveryOrders[nIndex]=_oDUDeliveryOrder;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oDUDeliveryOrders.length);
                        oDUDeliveryOrders.push(_oDUDeliveryOrder);
                    }
                    sessionStorage.setItem("DUDeliveryOrders", JSON.stringify(oDUDeliveryOrders));
                    window.location.href = _sBackLink;
                }
                else
                {
                    alert(oDUDO.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    });

    $('#btnApprove').click(function () {

        debugger;
        var conf = confirm("Are you sure you want to Approve ?");
        if(conf==false)return;

        if (_oDUDeliveryOrder ==null || _oDUDeliveryOrder.DUDeliveryOrderID <=0 ) { alert("Please select an item from list."); return ; }

        if( _oDUDeliveryOrder.ApproveBy!=0)
        {
            alert("Already Approve.");
            return;
        }


        $.ajax({
            type: "POST",
            dataType: "json",

            url : _sBaseAddress+  "/DUDeliveryOrder/Approve",
            traditional: true,
            data:  JSON.stringify(_oDUDeliveryOrder),

            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oDUDO = jQuery.parseJSON(data);
                if (oDUDO.ErrorMessage=="" || oDUDO.ErrorMessage==null)
                {
                    _oDUDeliveryOrder=oDUDO;
                    alert("Data Save Succesfully!!");
                    //if(_oPurchaseOrder.PurchaseOrderDetails!=null)
                    //{
                    //    DynamicRefreshList(_oPurchaseOrder.PurchaseOrderDetails, 'tblPODetail');
                    //}

                    var oDUDeliveryOrders =sessionStorage.getItem("DUDeliveryOrders");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    debugger;
                    if(oDUDeliveryOrders!=null)
                    {
                        oDUDeliveryOrders = jQuery.parseJSON(oDUDeliveryOrders);
                    }
                    else
                    {
                        oDUDeliveryOrders=[];
                    }
                    if(nIndex!=-1)
                    {
                        oDUDeliveryOrders[nIndex]=_oDUDeliveryOrder;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oDUDeliveryOrders.length);
                        oDUDeliveryOrders.push(_oDUDeliveryOrder);
                    }
                    sessionStorage.setItem("DUDeliveryOrders", JSON.stringify(oDUDeliveryOrders));
                    window.location.href = _sBackLink;
                }
                else
                {
                    alert(oDUDO.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });



    $("#btnSave_Revise").click(function (){
        debugger;
        endEditing();
        if(!Validation()) return false;

        var oDUDeliveryOrder=RefreshObject();
        if ($("#chkIsCreateReviseNo").is(':checked'))
        {
            oDUDeliveryOrder.IsRevise=true;

            if (!confirm("Confirm to Change this Order with Revise No ?")) return false;
        }else{
            oDUDeliveryOrder.IsRevise=false;
            if (!confirm("Confirm to Change this Order without Revise No ?")) return false;
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/DUDeliveryOrder/Save_Log",
            traditional: true,
            data:  JSON.stringify(oDUDeliveryOrder),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oDUDO= jQuery.parseJSON(data);
                if (oDUDO.ErrorMessage=="" || oDUDO.ErrorMessage==null)
                {
                    _oDUDeliveryOrder=oDUDO;
                    alert("Data Save Succesfully!!");
                    //if(_oPurchaseOrder.PurchaseOrderDetails!=null)
                    //{
                    //    DynamicRefreshList(_oPurchaseOrder.PurchaseOrderDetails, 'tblPODetail');
                    //}

                    var oDUDeliveryOrders =sessionStorage.getItem("DUDeliveryOrders");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    debugger;
                    if(oDUDeliveryOrders!=null)
                    {
                        oDUDeliveryOrders = jQuery.parseJSON(oDUDeliveryOrders);
                    }
                    else
                    {
                        oDUDeliveryOrders=[];
                    }
                    if(nIndex!=-1)
                    {
                        oDUDeliveryOrders[nIndex]=_oDUDeliveryOrder;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oDUDeliveryOrders.length);
                        oDUDeliveryOrders.push(_oDUDeliveryOrder);
                    }
                    sessionStorage.setItem("DUDeliveryOrders", JSON.stringify(oDUDeliveryOrders));
                    window.location.href = _sBackLink;
                }
                else
                {
                    alert(oDUDO.ErrorMessage);
                }

            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    });
    $("#btnCancel").click(function (){
        debugger;
        if(!Validation()) return false;


        var oDUDeliveryOrder=RefreshObject();
        if( oDUDeliveryOrder==null)
        {
            alert(" Something Wrong. Please Check!!");
        }

        if(oDUDeliveryOrder.DUDeliveryOrderID>0)
        {
            $.ajax({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+  "/DUDeliveryOrder/DOCancel",
                traditional: true,
                data:  JSON.stringify(oDUDeliveryOrder),
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    var  oDUDeliveryOrder = jQuery.parseJSON(data);
                    if (oDUDeliveryOrder.ErrorMessage=="" || oDUDeliveryOrder.ErrorMessage==null) {
                        alert("Cancel successfully");
                        _oDUDeliveryOrder=oDUDeliveryOrder;

                        var oDUDeliveryOrders =sessionStorage.getItem("DUDeliveryOrders");
                        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));

                        if(oDUDeliveryOrders!=null)
                        {
                            oDUDeliveryOrders = jQuery.parseJSON(oDUDeliveryOrders);
                        }
                        else
                        {
                            oDUDeliveryOrders=[];
                        }
                        if(nIndex!=-1)
                        {
                            oDUDeliveryOrders[nIndex]=_oDUDeliveryOrder;
                        }
                        else
                        {
                            sessionStorage.setItem("SelectedRowIndex", oDUDeliveryOrders.length);
                            oDUDeliveryOrders.push(oDUDeliveryOrders);
                        }
                        sessionStorage.setItem("DUDeliveryOrders", JSON.stringify(oDUDeliveryOrders));
                        window.location.href = _sBackLink;
                    }
                    else
                    {
                        alert(oDUDeliveryOrder.ErrorMessage);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }


            });
        }

        else
        {
            alert("Please Select valid Order.");
        }


    });



    $('#btnPrint').click(function (e)
    {

        if (_oDUDeliveryOrder ==null || _oDUDeliveryOrder.DUDeliveryOrderID <=0 ) { alert("Please select an item from list."); return ; }
        var tsv=((new Date()).getTime())/1000;
        var bIsPrintHistory=false;
        window.open(_sBaseAddress+ "/DUDeliveryOrder/PrintDUDeliveryOrder?nId="+_oDUDeliveryOrder.DUDeliveryOrderID+"&bIsPrintHistory="+bIsPrintHistory+"&nts="+tsv, "_blank");

    });

    $("#btnRefresh").click(function () {
        endEditing();
    });
</script>