<html>
@{
    ViewBag.Title = "Mold Registers";
}
<body>
    @model ESimSol.BusinessObjects.MoldRegister
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable">
        <div class="easyui-panel" title="Delivery Challan Registers" style="font-family:Tahoma; text-align:center; height:88%;">
            <fieldset style="height:95%; text-align:center;">
                <legend style="font-weight:bold"> Serching Criteria   : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:100%">
                    <tr>
                        <td colspan="5" style="height:20px;"></td>                        
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Mold Name :</td>
                        <td style="width:30%;text-align:left"> 
                            <input type="text" style="width:98%" id="txtName" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Location:</td>
                        <td style="width:38%;text-align:right">
                            <select id="cboLocation" style="width:100%"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right">Rack :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboRack" style="width:100%"></select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">Shelf No:</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtShelfNo" placeholder="Press enter with Shelf No" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearShelf" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickShelf" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Supplier :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtSupplier" placeholder="Press enter with Supplier name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearSupplier" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickSupplier" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">R.Type:</td>
                        <td style="width:38%;text-align:right">
                           <select id="cboResourceType" style="width:100%"></select>
                        </td>
                    </tr>

            
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:50%;text-align:right">
                                                 
                    </td>
                    <td style="width:50%;text-align:right">
                        <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                        <a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>

<style>
    td, th {
        padding:1px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        var nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oResourcesTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ResourcesTypes));
        var oStores = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.WUs));
        var oRacks= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Racks));
        
        debugger;
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        $("#cboResourceType").icsLoadCombo({ List: oResourcesTypes, OptionValue: "id", DisplayText: "Value" });
        $("#cboLocation").icsLoadCombo({ List: oStores, OptionValue: "WorkingUnitID", DisplayText: "WorkingUnitName" });
        $("#cboRack").icsLoadCombo({ List: oRacks, OptionValue: "RackID", DisplayText: "RackNo"});
        $('#txtSupplier').data('Suppliers', []);
        $('#txtShelfNo').data('Shelfs', []);

    });



    function ValidateSearch()
    {

        var sName =$.trim($('#txtName').val());
        var nRack = parseInt($('#cboRack').val());
        var nLocation = parseInt($('#cboLocation').val());
        var oSuppliers = $('#txtSupplier').data('Suppliers');
        var oShelfs = $('#txtShelfNo').data('Shelfs');
        if( nLocation==0 && sName === "" && nRack === 0 && oSuppliers.length<=0 && oShelfs.length<=0 )
        {
            alert("Please select at least one searching criteriea!");
            return false;
        }
        return true;
    }

    function RefreshObject()
    {
        var oSuppliers = $('#txtSupplier').data('Suppliers');
        var oShelfs = $('#txtShelfNo').data('Shelfs');
        var oMoldRegister = {
            BUID : parseInt(sessionStorage.getItem("BUID")),
            Name : $.trim($('#txtName').val()),
            RackID : parseInt($('#cboRack').val()),
            LocationID:parseInt($('#cboLocation').val()),
            ContractorName : ICS_PropertyConcatation(oSuppliers, 'ContractorID'),
            ShelfName : ICS_PropertyConcatation(oShelfs, 'ShelfID')            
        };
        return oMoldRegister;
    }

    $('#btnPreview').click(function(e)
    {
        debugger;
        if(!ValidateSearch()) return;
        var oMoldRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/MoldRegister/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oMoldRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/MoldRegister/PrintMoldRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    $('#btnExportToExcel').click(function(e){
        if(!ValidateSearch()) return;
        var oMoldRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/MoldRegister/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oMoldRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/MoldRegister/ExportToExcelMoldRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


   

    $('#btnClose').click(function (e) {
        window.location.href = window.location.href;
    });

    ///Supplier Pick
    function PickSupplier()
    {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oContractor = { Params:1+'~' + $.trim($('#txtSupplier').val())+'~'+ nBUID };//here 1 is Supplier
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winSuppliers',
                        winclass: 'clsSuppliers',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblSuppliers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Supplier List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtSupplier").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtSupplier').val())===null || $.trim($('#txtSupplier').val())==="")
            {
                alert("Press enter with Supplier name");
                return;
            }
            PickSupplier();
        }
    });
    $("#btnPickSupplier").click(function () {
        $('#txtSupplier').val('');
        PickSupplier();
    });
    $('#txtSupplier').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtSupplier").removeClass("fontColorOfPickItem");
            $('#txtSupplier').data('Suppliers', []);
        }
    });
    $('#btnClearSupplier').click(function(e){
        $("#txtSupplier").val("");
        $('#txtSupplier').data('Suppliers', []);
        $("#txtSupplier").removeClass("fontColorOfPickItem");
    });
    //End Supplier Picker

    //Shelf Pick
    function PickShelf()
    {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oShelf = {
            BUID : nBUID,
            ShelfName : $.trim($('#txtShelfNo').val())
        };
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oShelf,
            ControllerName: "Shelf",
            ActionName: "SearchByShelfBUWise",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ShelfID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ShelfNo", title: "Shelf No", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShelfName", title: "Shelf Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Remarks", title: "Remarks", width: 100, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winShelfs',
                        winclass: 'clsShelfs',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblShelfs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'ShelfName',
                        windowTittle: 'Shelf List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtShelfNo").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtShelfNo').val())===null || $.trim($('#txtShelfNo').val())==="")
            {
                alert("Press enter with Shelf name");
                return;
            }
            PickShelf();
        }
    });
    $("#btnPickShelf").click(function () {
        $('#txtShelfNo').val('');
        PickShelf();
    });
    $('#txtShelfNo').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtShelfNo").removeClass("fontColorOfPickItem");
            $('#txtShelfNo').data('Shelfs', []);
        }
    });
    $('#btnClearShelf').click(function(e){
        $("#txtShelfNo").val("");
        $('#txtShelfNo').data('Shelfs', []);
        $("#txtShelfNo").removeClass("fontColorOfPickItem");
    });
    //End Shelf Picker

   
    //End Shelf Picker

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid === 'winSuppliers')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtSupplier').val(oreturnobjs.length+"'s Suppliers seleted");
                $('#txtSupplier').addClass('fontColorOfPickItem');
                $('#txtSupplier').data('Suppliers', oreturnobjs);
                $('#txtSupplier').focus();
            }
        }
        else if (oPickerobj.winid === 'winShelfs')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtShelfNo').val(oreturnobjs.length+"'s Shelfs seleted");
                $('#txtShelfNo').addClass('fontColorOfPickItem');
                $('#txtShelfNo').data('Shelfs', oreturnobjs);
                $('#txtShelfNo').focus();
            }
        }
       
    }

    function updateProgress() {
        var value =$('#progbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progbarParent").hide();
    }
</script>