<div class="modal-header">
    <h4 class="modal-title" id="modal-title" ng-bind="PickerTitle">Required Document</h4>
</div>
<div id="modal-body" class="modal-body regionPrintFormat">
    
    <fieldset><legend>Required Document</legend>
    <div class="row col-md-12">
        <div ui-grid="gridOptionsPrintFormat" ui-grid-selection style="width:100%;height:180px;"></div>
    </div>
    </fieldset>
    <fieldset>
        <div class="row col-md-12">
            <div class="col-md-6 text-left">
                <fieldset>
                    <legend>Paper Format</legend>
                    <div class="col-md-12 text-left">
                        <input type="checkbox" ng-model="chkPrintNormal" style="text-align:right;" />
                        <label class="control-label">Normal Format</label>
                    </div>
                    <div class="col-md-12 text-left">
                        <input type="checkbox" ng-model="chkPrintTitleInPAD"  style="text-align:right;" />
                        <label class="control-label">Pad Format</label>
                    </div>
                    <div class="col-md-12 text-left">
                        <input type="checkbox" ng-model="chkPrintTitleInImg"  style="text-align:right;" />
                        <label class="control-label">Image Format</label>
                    </div>
                    
                </fieldset>
            </div>
            <div class="col-md-6 text-left">
                <fieldset>
                    <legend>Unit Setup & Page Size:</legend>
                    <div class="col-md-12 text-left">
                        <input type="radio" ng-model="rdoUnit"  value="2" style="text-align:right;" /><label class="control-label">In LBS</label>
                        <input type="radio" ng-model="rdoUnit" value="1" style="text-align:right;" /><label class="control-label">In Kg</label>
                    </div>
                    <div class="col-md-12 text-left">
                        <input type="radio" ng-model="rdoPageSize" value="1" style="text-align:right;" /><label class="control-label">A4</label>
                        <input type="radio" ng-model="rdoPageSize" value="2" style="text-align:right;" /><label class="control-label">Legal</label>
                    </div>
                </fieldset>
            </div>
            
        </div>
    </fieldset>
</div>
<div class="modal-footer">
    <button class="btn btn-sm" type="button" ng-click="Preview()"><span class="glyphicon glyphicon-print" aria-hidden="true"> Preview</span></button>
    <button class="btn btn-warning" type="button" ng-click="closedocument()">Close</button>
</div>
<style type="text/css">
    .regionPrintFormat .form-control {
        height: 25px;
        padding: 0px 4px;
        font-size: 12px;
    }

    .regionPrintFormat .control-label {
        padding-top: 1px;
    }

    .regionPrintFormat .col-md-12 {
        width: 100%;
        padding-right: 2px;
        padding-left: 2px;
        margin-bottom: 5px;
    }

    .regionPrintFormat .col-md-6 {
        width:50%;
        padding-left: 2px;
        padding-right: 2px;
    }

    .regionPrintFormat .btn-sm {
        padding: 3px 10px;
    }

    .regionPrintFormat .input-group-addon {
        padding: 4px 8px;
    }
</style>
