<html>

@model ESimSol.BusinessObjects.CapitalResource
<body>
    <div class="menuMainCollectionTable">
        <div class="easyui-panel" title="Add Capital Resourece" style="font-family:Tahoma;height:88%">
            <div style="float:left; width:100%;  padding-top:4px;">
                <fieldset>
                    <table style=" width:100%; height:auto; font-size:11px;">

                        <tr style=" width:100%;">
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px;">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Name </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtName" style="width:90%; font-size:11px;" />  </div>
                                </div>
                            </td>
                            <td style=" width:34%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Code </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtCode" style="width:90%; font-size:11px;" /> </div>
                                </div>
                            </td>
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Model </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtModel" style="width:90%; font-size:11px;" />  </div>
                                </div>
                            </td>
                        </tr>

                        <tr style=" width:100%;">
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px;">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px;"> Brand </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtBrand" style="width:90%; font-size:11px;" />  </div>
                                </div>
                            </td>
                            <td style=" width:34%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Manufacturer </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtManufacturer" style="width:90%; font-size:11px;" /> </div>
                                </div>
                            </td>
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Country of Origin </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtCounrtyOfOrigin" style="width:90%; font-size:11px;" />  </div>
                                </div>
                            </td>
                        </tr>

                        <tr style=" width:100%; font-size:11px;">
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px;">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px; font-size:11px;"> Serial No </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtSerialNo" style="width:90%; font-size:11px;" />  </div>
                                </div>
                            </td>
                            <td style=" width:34%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Tag No </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtTagNo" style="width:90%; font-size:11px;" /> </div>
                                </div>
                            </td>
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Location </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <select id="cboWorkingUnit" style=" width:92%; font-size:11px; "></select>    </div>
                                </div>
                            </td>
                        </tr>

                        <tr style=" width:100%; font-size:11px;">
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px;">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Basic Function </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtBasicFunction" style="width:90%; font-size:11px;" />  </div>
                                </div>
                            </td>
                            <td style=" width:34%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Rack No </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"><select id="cboRack" style=" width:92%; font-size:11px; "></select> </div>
                                </div>
                            </td>
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Warranty On </span> </div>
                                    <div style="float:left; width:70%; text-align:left;">
                                        <select id="cboWarrantyOn" style="width:92%; font-size:11px;">
                                            <option value="Year">Year</option>
                                            <option value="Month">Month</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr style=" width:100%; font-size:11px;">
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px;">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Warranty Period </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtWarrantyPeriod" value="0" style="width:92%; font-size:11px;" />  </div>
                                </div>
                            </td>
                            <td style=" width:34%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Start Date </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" class="easyui-datebox" style="width: 92%; font-size:11px;" id="txtWarrantyStartDate" data-options="formatter:icsdateformat,parser:icsdateparser" /> </div>
                                </div>
                            </td>
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> End Date </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" class="easyui-datebox" style="width: 92%; font-size:11px;" id="txtWarrantyEndDate" data-options="formatter:icsdateformat,parser:icsdateparser" />   </div>
                                </div>
                            </td>
                        </tr>

                        <tr style=" width:100%; font-size:11px;">
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px;">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Power Con. </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtPowerCon" style="width:90%; font-size:11px;" />  </div>
                                </div>
                            </td>
                            <td style=" width:34%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Technical Spec. </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtTechnicalSpecification" style="width:90%; font-size:11px;" /> </div>
                                </div>
                            </td>
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Performance Spec. </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtPerformanceSpecification" style="width:90%; font-size:11px;" />  </div>
                                </div>
                            </td>
                        </tr>

                        <tr style=" width:100%; font-size:11px;">
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Machine Capacity </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtMachineCapacity" style="width:90%; font-size:11px;" /> </div>
                                </div>
                            </td>
                            <td style=" width:34%;">
                                <div style="float:left; width:100%; padding-bottom:5px;">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Port of Shipment </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtPortofShipment" style="width:90%; font-size:11px;" />  </div>
                                </div>
                            </td>
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> LC No </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtLCNo" style="width:90%; font-size:11px;" /> </div>
                                </div>
                            </td>
                        </tr>

                        <tr style=" width:100%; font-size:11px;">
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> HS Code </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtHSCode" style="width:90%; font-size:11px;" />  </div>
                                </div>
                            </td>
                            <td style=" width:34%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;">Resource Type</span> </div>
                                    <div style="float:left; width:70%; text-align:left;">
                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                                <td style="width:50%"><select id="cboResourceType" style="width:100%"></select> </td>
                                                <td style="width:20%; text-align:right;"><span style="padding-right:5px; font-size:11px;">Cavity</span></td>
                                                <td style="width:30%; text-align:left;"><input type="text" id="txtCavity" class="number" style="width:68%;" disabled="disabled" /> </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                            </td>
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Note </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtNote" style="width:90%; font-size:11px;" />  </div>
                                </div>
                            </td>
                        </tr>

                    </table>
                </fieldset>

                <fieldset>
                    <legend> <strong>Supplier/ Manufacturer Info</strong> </legend>
                    <table style=" width:100%; height:auto; font-size:11px;">
                        <tr style=" width:100%; font-size:11px;">
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px;">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Supplier </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <select id="cboSupplier" style=" width:92%; font-size:11px; "></select>  </div>
                                </div>
                            </td>
                            <td style=" width:67%;" colspan="2">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:15%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Address </span> </div>
                                    <div style="float:left; width:85%; text-align:left;"> <input type="text" id="txtSupplierAddress" style="width:96%; font-size:11px;" /> </div>
                                </div>
                            </td>
                        </tr>

                        <tr style=" width:100%; font-size:11px;">
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px;">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> C. Person </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtSupplierContactPerson" style="width:90%; font-size:11px;" />  </div>
                                </div>
                            </td>
                            <td style=" width:34%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> C.P Contact </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtSupplierCPContact" style="width:90%; font-size:11px;" /> </div>
                                </div>
                            </td>
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Note </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtSupplierNote" style="width:90%; font-size:11px;" />  </div>
                                </div>
                            </td>
                        </tr>

                        <tr style=" width:100%;">
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px;">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Email </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtSupplierEmail" style="width:90%; font-size:11px;" />  </div>
                                </div>
                            </td>
                            <td style=" width:34%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Phone </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtSupplierPhone" style="width:90%; font-size:11px;" /> </div>
                                </div>
                            </td>
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Fax </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtSupplierFax" style="width:90%; font-size:11px;" />  </div>
                                </div>
                            </td>
                        </tr>


                    </table>
                </fieldset>
                <fieldset>
                    <legend> <strong>Local Agent Info</strong> </legend>
                    <table style=" width:100%; height:auto; font-size:11px;">
                        <tr style=" width:100%; font-size:11px;">
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px;">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Name </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtLocalAgentName" style="width:90%; font-size:11px;" />  </div>
                                </div>
                            </td>
                            <td style=" width:67%;" colspan="2">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:15%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Address </span> </div>
                                    <div style="float:left; width:85%; text-align:left;"> <input type="text" id="txtLocalAgentAddress" style="width:96%; font-size:11px;" /> </div>
                                </div>
                            </td>
                        </tr>

                        <tr style=" width:100%; font-size:11px;">
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px;">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> C. Person </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtLocalAgentContactPerson" style="width:90%; font-size:11px;" />  </div>
                                </div>
                            </td>
                            <td style=" width:34%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Work Station </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtLocalAgentWorkStation" style="width:90%; font-size:11px;" /> </div>
                                </div>
                            </td>
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Note </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtLocalAgentNote" style="width:90%; font-size:11px;" />  </div>
                                </div>
                            </td>
                        </tr>

                        <tr style=" width:100%;">
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px;">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Email </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtLocalAgentEmail" style="width:90%; font-size:11px;" />  </div>
                                </div>
                            </td>
                            <td style=" width:34%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Phone </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtLocalAgentPhone" style="width:90%; font-size:11px;" /> </div>
                                </div>
                            </td>
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Fax </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtLocalAgentFax" style="width:90%; font-size:11px;" />  </div>
                                </div>
                            </td>
                        </tr>


                    </table>
                </fieldset>

                <fieldset>
                    <legend> <strong>Commissioning & Installation</strong> </legend>
                    <table style=" width:100%; height:auto; font-size:11px;">
                        <tr style=" width:100%; font-size:11px;">
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px;">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Commission Date </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" class="easyui-datebox" style="width: 92%; font-size:11px;" id="txtCommissioningDate" data-options="formatter:icsdateformat,parser:icsdateparser" />  </div>
                                </div>
                            </td>
                            <td style=" width:67%;" colspan="2">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:15%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Commisssion By </span> </div>
                                    <div style="float:left; width:85%; text-align:left;"> <input type="text" id="txtCommissionBy" style="width:96%; font-size:11px;" /> </div>
                                </div>
                            </td>
                        </tr>

                        <tr style=" width:100%; font-size:11px;">
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px;">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Invoice Value </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtInvoiceValue" style="width:92%; font-size:11px;" />  </div>
                                </div>
                            </td>
                            <td style=" width:34%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px;font-size:11px;"> LC Comm. & Others </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtLCCommissionOthers" style="width:94%; font-size:11px;" /> </div>
                                </div>
                            </td>
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Insurance Cost </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtInsurance" style="width:92%; font-size:11px;" />  </div>
                                </div>
                            </td>
                        </tr>

                        <tr style=" width:100%;">
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px;">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Currency </span> </div>
                                    <div style="float:left; width:70%; text-align:left;">
                                        <select id="cboCurrency" style="width:92%; font-size:11px;"></select>
                                    </div>
                                </div>
                            </td>
                            <td style=" width:34%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> C & F Cost </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtCFCost" style="width:92%; font-size:11px;" /> </div>
                                </div>
                            </td>
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Transport </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtTransport" style="width:92%; font-size:11px;" />  </div>
                                </div>
                            </td>
                        </tr>

                        <tr style=" width:100%;">
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px;">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Custom Duty </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtCustomDuty" style="width:92%; font-size:11px;" />  </div>
                                </div>
                            </td>
                            <td style=" width:34%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Installation Cost </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtInstallationCost" style="width:94%; font-size:11px;" /> </div>
                                </div>
                            </td>
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <div style=" float:left; width:30%;text-align:right;"> <span style="padding-right:5px; font-size:11px;"> Total Cost </span> </div>
                                    <div style="float:left; width:70%; text-align:left;"> <input type="text" id="txtTotalLandedCost" style="width:92%; font-size:11px;" />  </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <table style="float:left; " width="100%" border="0" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style=" float:left; width:30%;text-align:right;"><span style=" font-size:11px;">F.G Weight</span></td>
                                            <td style="float:left; width:45%; text-align:left;"><input type="text" disabled="disabled" id="txtFinishGoodWeight" style="width:95%; font-size:11px;" /> </td>
                                            <td style=" float:left; width:20%;text-align:left;"><select disabled="disabled" id="cboFGWeightUnit" style="width:100%;" class="changeFGUnitissue"></select></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td style="width:34%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <table style="float:left;" width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style=" float:left; width:30%;text-align:right;"> <span style=" font-size:11px;">Nali Weight</span> </td>
                                            <td style="float:left; width:45%; text-align:left;"> <input type="text" id="txtNaliWeight" style="width:95%; font-size:11px;" disabled /> </td>
                                            <td style=" float:left; width:20%;text-align:right;"><input type="text" style="width:100%;" id="txtNaliWeightUnitName" disabled></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                            <td style=" width:33%;">
                                <div style="float:left; width:100%; padding-bottom:5px; ">
                                    <table style="float:left;" width="100%" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td style=" float:left; width:30%;text-align:right;"> <span style="font-size:11px;">Total Weight</span> </td>
                                            <td style="float:left; width:45%; text-align:left;"> <input type="text" id="txtTotalWeight" style="width:95%; font-size:11px;" disabled />  </td>
                                            <td style=" float:left; width:20%;text-align:right;"><input type="text" style="width:100%;" id="txtTotalWeightUnitName" disabled></td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>

                    </table>
                </fieldset>
            </div>
        </div>
        <div style="width:100%; height:10%">
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:80%; text-align:right"></td>
                        <td style="width:20%">
                            @*<a id="btnPint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>*@
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="Close()" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    var _oCR = null;
    var _sCapitalResourceHeader = "";
    var _sBackTo = "";
    var _sBaseAddress="";
    var _oResourceTypes = [];
    var _nBUID = 0;
    var _oCompany = "";
    var _oSuppliers=[];
    var _oWUs=[];
    var _oCurrencys = [];
    var _oRacks = [];
    var _nParentID = 0;
    var _bIsCopy = false;
    $(document).ready(function () {
        debugger;
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oCR=@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oResourceTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ResourceTypes));
        _oWUs=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.WUs));
        _oCompany=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Company));
        _oCurrencys=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Currencys));
        _oSuppliers=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Suppliers));
        _oRacks=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Racks));
        _bIsCopy=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.bIsCopy));
        var FGUnits = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FGUnits));

        _sBackTo=sessionStorage.getItem("CapitalResourceBackTo");
        _sCapitalResourceHeader=sessionStorage.getItem("CapitalResourceHeader");
        _nBUID  =sessionStorage.getItem("BUID");
        $("#cboFGWeightUnit").icsLoadCombo({List: FGUnits,OptionValue: "MeasurementUnitID",DisplayText: "Symbol"});
        $('#txtWarrantyPeriod').numberbox({min:0, precision:0 });
        $('#txtInvoiceValue').numberbox({min:0, precision:2 });
        $('#txtLCCommissionOthers').numberbox({min:0, precision:2 });
        $('#txtInsurance').numberbox({min:0, precision:2 });
        $('#txtCFCost').numberbox({min:0, precision:2 });
        //$('#txtCavity').numberbox({min:0, precision:0 });


        $('#txtTransport').numberbox({min:0, precision:2 });
        $('#txtCustomDuty').numberbox({min:0, precision:2 });
        $('#txtInstallationCost').numberbox({min:0, precision:2 });
        $('#txtTotalLandedCost').numberbox({min:0, precision:2 });
        $('#txtFinishGoodWeight,#txtNaliWeight,#txtTotalWeight').icsCurrencyBox();
        $('#divCapitalResource').panel({ title:_sCapitalResourceHeader});
        $('#txtCommissioningDate').datebox('setValue',icsdateformat(new Date()));
        ResetCapitalResourceInformationLastLayer();
        if(parseInt(_oCR.CRID)>0 || _bIsCopy==true)
        {
            SetCapitalResourceInformationLastLayer(_oCR);
        }
        if(_sCapitalResourceHeader=="View Capital Resource")
        {
            SetControllDisabledLastLayer();
        }
        if(_oCR.ParentID==0){
            _nParentID= parseInt(sessionStorage.getItem("ParentID"));
        }
        else
        {
            _nParentID = _oCR.ParentID;
        }
        ChangeStatus();
    });

    $('#txtFinishGoodWeight,#txtNaliWeight').change(function(){
        $('#txtTotalWeight').val(formatPrice(parseFloat(icsRemoveComma($('#txtFinishGoodWeight').val()))+parseFloat(icsRemoveComma($('#txtNaliWeight').val())),0));
    });

    $('.changeFGUnitissue').change(function()
    {
        debugger;
        if(parseInt($('#cboFGWeightUnit').val())>0)
        {
            $('#txtNaliWeightUnitName,#txtTotalWeightUnitName').val($('#cboFGWeightUnit option:selected').text());
        }
    });

    $('#btnSave').click(function (e)
    {
        debugger;
        if (!Validation()) { return; }
        var oCapitalResource = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/CapitalResource/Save",
            traditional: true,
            data:  JSON.stringify(oCapitalResource),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                oCR = jQuery.parseJSON(data);
                if (oCR.ErrorMessage=="" || oCR.ErrorMessage==null)
                {
                    debugger;
                    alert("Data Saved sucessfully");
                    var oCapitalResources = sessionStorage.getItem("CapitalResources");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if (oCapitalResources != null)
                    {
                        oCapitalResources = jQuery.parseJSON(oCapitalResources);
                    }
                    else {
                        oCapitalResources = [];
                    }
                    if (nIndex != -1) {
                        oCapitalResources[nIndex] = oCR;
                    }
                    else {
                        sessionStorage.setItem("SelectedRowIndex", oCapitalResources.length);
                        oCapitalResources.push(oCR);
                    }
                    sessionStorage.setItem("CapitalResources", JSON.stringify(oCapitalResources));
                    window.location.href = sessionStorage.getItem("BackLink");
                    Close();
                }
                else
                {
                    alert(oCR.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });

    });


    function SetControllEnabledLastLayer()
    {
        $('#txtName').prop('disabled', false);
        $('#txtCode').prop('disabled', false);
        $('#txtModel').prop('disabled', false);
        $('#txtBrand').prop('disabled', false);
        $('#txtManufacturer').prop('disabled', false);
        $('#txtCounrtyOfOrigin').prop('disabled', false);
        $('#txtSerialNo').prop('disabled', false);
        $('#txtTagNo').prop('disabled', false);
        $('#txtBasicFunction').prop('disabled', false);
        $('#cboWarrantyOn').prop('disabled', false);
        $('#txtWarrantyPeriod').numberbox({disabled:false});
        $('#txtWarrantyStartDate').datebox({disabled:false});
        $('#txtWarrantyEndDate').datebox({disabled:false});

        $('#txtPowerCon').prop('disabled', false);
        $('#txtTechnicalSpecification').prop('disabled', false);
        $('#txtPerformanceSpecification').prop('disabled', false);
        $('#cboWorkingUnit').prop('disabled', false);
        $('#txtMachineCapacity').prop('disabled', false);
        $('#txtNote').prop('disabled', false);
        $('#txtPortofShipment').prop('disabled', false);
        $('#txtLCNo').prop('disabled', false);
        $('#txtHSCode').prop('disabled', false);

        $('#cboSupplier').prop('disabled', false);
        $('#txtSupplierAddress').prop('disabled', false);
        $('#txtSupplierContactPerson').prop('disabled', false);
        $('#txtSupplierCPContact').prop('disabled', false);
        $('#txtSupplierNote').prop('disabled', false);
        $('#txtSupplierEmail').prop('disabled', false);
        $('#txtSupplierPhone').prop('disabled', false);
        $('#txtSupplierFax').prop('disabled', false);

        $('#txtLocalAgentName').prop('disabled', false);
        $('#txtLocalAgentAddress').prop('disabled', false);
        $('#txtLocalAgentContactPerson').prop('disabled', false);
        $('#txtLocalAgentWorkStation').prop('disabled', false);
        $('#txtLocalAgentNote').prop('disabled', false);
        $('#txtLocalAgentEmail').prop('disabled', false);
        $('#txtLocalAgentPhone').prop('disabled', false);
        $('#txtLocalAgentFax').prop('disabled', false);

        $('#txtCommissioningDate').datebox({disabled:false});
        $('#txtCommissionBy').prop('disabled', false);
        $('#txtInvoiceValue').numberbox({disabled:false});
        $('#txtLCCommissionOthers').numberbox({disabled:false});
        $('#txtInsurance').numberbox({disabled:false});
        $('#cboCurrency').prop('disabled', false);
        $('#txtCFCost').numberbox({disabled:false});
        $('#txtTransport').numberbox({disabled:false});
        $('#txtCustomDuty').numberbox({disabled:false});
        $('#txtInstallationCost').numberbox({disabled:false});
        $('#txtTotalLandedCost').numberbox({disabled:false});

        $('#btnSaveLastLayer').show();

    }

    function SetControllDisabledLastLayer()
    {
        $('#btnSave').hide();
        $('#txtName').prop('disabled', 'disabled');
        $('#txtCode').prop('disabled', 'disabled');
        $('#txtModel').prop('disabled', 'disabled');
        $('#txtBrand').prop('disabled', 'disabled');
        $('#txtManufacturer').prop('disabled', 'disabled');
        $('#txtCounrtyOfOrigin').prop('disabled', 'disabled');
        $('#txtSerialNo').prop('disabled', 'disabled');
        $('#txtTagNo').prop('disabled', 'disabled');
        $('#txtBasicFunction').prop('disabled', 'disabled');
        $('#cboWarrantyOn').prop('disabled', 'disabled');
        $('#txtWarrantyPeriod').numberbox({disabled:true});
        $('#txtWarrantyStartDate').datebox({disabled:true});
        $('#txtWarrantyEndDate').datebox({disabled:true});
        $('#txtPowerCon').prop('disabled', 'disabled');
        $('#txtTechnicalSpecification').prop('disabled', 'disabled');
        $('#txtPerformanceSpecification').prop('disabled', 'disabled');
        $('#cboWorkingUnit').prop('disabled', 'disabled');
        $('#txtMachineCapacity').prop('disabled', 'disabled');
        $('#txtNote').prop('disabled', 'disabled');
        $('#txtPortofShipment').prop('disabled', 'disabled');
        $('#txtLCNo').prop('disabled', 'disabled');
        $('#txtHSCode').prop('disabled', 'disabled');

        $('#cboSupplier').prop('disabled', 'disabled');
        $('#txtSupplierAddress').prop('disabled', 'disabled');
        $('#txtSupplierContactPerson').prop('disabled', 'disabled');
        $('#txtSupplierCPContact').prop('disabled', 'disabled');
        $('#txtSupplierNote').prop('disabled', 'disabled');
        $('#txtSupplierEmail').prop('disabled', 'disabled');
        $('#txtSupplierPhone').prop('disabled', 'disabled');
        $('#txtSupplierFax').prop('disabled', 'disabled');

        $('#txtLocalAgentName').prop('disabled', 'disabled');
        $('#txtLocalAgentAddress').prop('disabled', 'disabled');
        $('#txtLocalAgentContactPerson').prop('disabled', 'disabled');
        $('#txtLocalAgentWorkStation').prop('disabled', 'disabled');
        $('#txtLocalAgentNote').prop('disabled', 'disabled');
        $('#txtLocalAgentEmail').prop('disabled', 'disabled');
        $('#txtLocalAgentPhone').prop('disabled', 'disabled');
        $('#txtLocalAgentFax').prop('disabled', 'disabled');

        $('#txtCommissioningDate').datebox({disabled:true});
        $('#txtCommissionBy').prop('disabled', 'disabled');
        $('#txtInvoiceValue').numberbox({disabled:true});
        $('#txtLCCommissionOthers').numberbox({disabled:true});
        $('#txtInsurance').numberbox({disabled:true});
        $('#cboCurrency').prop('disabled', 'disabled');
        $('#txtCFCost').numberbox({disabled:true});
        $('#txtTransport').numberbox({disabled:true});
        $('#txtCustomDuty').numberbox({disabled:true});
        $('#txtInstallationCost').numberbox({disabled:true});
        $('#txtTotalLandedCost').numberbox({disabled:true});


    }

    function SetCapitalResourceInformationLastLayer(oCR)
    {
        $('#txtName').val(oCR.Name);
        $('#txtCode').val(oCR.Code);
        $('#txtModel').val(oCR.Model);
        $('#txtBrand').val(oCR.Brand);
        $('#txtManufacturer').val(oCR.MadeBy);
        $('#txtCounrtyOfOrigin').val(oCR.MadeIn);
        $('#txtSerialNo').val(oCR.SerialNumberOnProduct);
        $('#txtTagNo').val(oCR.TagNo);
        $('#txtBasicFunction').val(oCR.BasicFunction);
        $('#cboWarrantyOn').val(oCR.WarrantyOn);
        $('#txtWarrantyPeriod').numberbox('setValue',oCR.Warranty);
        $('#txtWarrantyStartDate').datebox('setValue',oCR.WarrantyStartDateInString);
        $('#txtWarrantyEndDate').datebox('setValue',oCR.WarrantyEndDateInString);
        $('#txtPowerCon').val(oCR.PowerConsumption);
        $('#txtTechnicalSpecification').val(oCR.TechnicalSpecification);
        $('#txtPerformanceSpecification').val(oCR.PerformanceSpecification);
        $('#cboWorkingUnit').val(oCR.InstallationLocationID);
        $('#txtMachineCapacity').val(oCR.MachineCapacity);
        $('#txtNote').val(oCR.Note);
        $('#txtPortofShipment').val(oCR.PortOfShipment);
        $('#txtLCNo').val(oCR.LCNo);
        $('#txtHSCode').val(oCR.HSCode);

        $('#cboSupplier').val(oCR.SupplierID);
        $('#txtSupplierAddress').val(oCR.SupplierAddress);
        $('#txtSupplierContactPerson').val(oCR.SupplierContactPerson);
        $('#txtSupplierCPContact').val(oCR.SupplierContactPersonContact);
        $('#txtSupplierNote').val(oCR.SupplierNote);
        $('#txtSupplierEmail').val(oCR.SupplierEmail);
        $('#txtSupplierPhone').val(oCR.SupplierPhone);
        $('#txtSupplierFax').val(oCR.SupplierFax);

        $('#txtLocalAgentName').val(oCR.LAName);
        $('#txtLocalAgentAddress').val(oCR.LAAddress);
        $('#txtLocalAgentContactPerson').val(oCR.LAContactPerson);
        $('#txtLocalAgentWorkStation').val(oCR.LAWorkshop);
        $('#txtLocalAgentNote').val(oCR.LANote);
        $('#txtLocalAgentEmail').val(oCR.LAEmail);
        $('#txtLocalAgentPhone').val(oCR.LAPhone);
        $('#txtLocalAgentFax').val(oCR.LAFax);

        $('#txtCommissioningDate').datebox('setValue',oCR.CommissioningDateInString);
        $('#txtCommissionBy').val(oCR.CommissioningBy);
        $('#txtInvoiceValue').numberbox('setValue',oCR.ActualAssetValue);
        $('#txtLCCommissionOthers').numberbox('setValue',oCR.OtherCost);
        $('#txtInsurance').numberbox('setValue',oCR.InsuranceCost);
        $('#cboCurrency').val(oCR.CurrencyID);
        $('#txtCFCost').numberbox('setValue',oCR.CNF_FOBValue_Foreign);
        $('#txtCavity').val(oCR.Cavity);
        $('#txtTransport').numberbox('setValue',oCR.CNF_FOBValue_Local);
        $('#txtCustomDuty').numberbox('setValue',oCR.CustomDutyCost);
        $('#txtInstallationCost').numberbox('setValue',oCR.InstallationCost);
        $('#txtTotalLandedCost').numberbox('setValue',oCR.TotalLandedCost);
        $('#cboRack').val(oCR.RackID);
        $('#cboResourceType').val(oCR.ResourcesTypeInInt);

        $('#cboCurrency').val(_oCompany.BaseCurrencyID);
        $('#cboFGWeightUnit').val(_oCR.FGWeightUnit);
        $('#txtFinishGoodWeight').val(_oCR.FinishGoodWeight);
        $('#txtNaliWeight').val(_oCR.NaliWeight);
        $('#txtTotalWeight').val(formatPrice(_oCR.TotalWeight,0));
        $('#txtNaliWeightUnitName,#txtTotalWeightUnitName').val($('#cboFGWeightUnit option:selected').text());
    }

    function ResetCapitalResourceInformationLastLayer()
    {
        $('#txtName').val("");
        $('#txtCode').val("");
        $('#txtModel').val("");
        $('#txtBrand').val("");
        $('#txtManufacturer').val("");
        $('#txtCounrtyOfOrigin').val("");
        $('#txtSerialNo').val("");
        $('#txtTagNo').val("");
        $('#txtBasicFunction').val("");
        $('#cboWarrantyOn').val("Year");
        $('#txtWarrantyPeriod').numberbox('setValue','');
        $('#txtWarrantyStartDate').datebox('setValue','');
        $('#txtWarrantyEndDate').datebox('setValue','');
        $('#txtPowerCon').val("");
        $('#txtTechnicalSpecification').val("");
        $('#txtPerformanceSpecification').val("");
        $('#txtMachineCapacity').val("");
        $('#txtNote').val("");
        $('#txtPortofShipment').val("");
        $('#txtLCNo').val("");
        $('#txtHSCode').val("");

        $('#txtSupplierAddress').val("");
        $('#txtSupplierContactPerson').val("");
        $('#txtSupplierCPContact').val("");
        $('#txtSupplierNote').val("");
        $('#txtSupplierEmail').val("");
        $('#txtSupplierPhone').val("");
        $('#txtSupplierFax').val("");

        $('#txtLocalAgentName').val("");
        $('#txtLocalAgentAddress').val("");
        $('#txtLocalAgentContactPerson').val("");
        $('#txtLocalAgentWorkStation').val("");
        $('#txtLocalAgentNote').val("");
        $('#txtLocalAgentEmail').val("");
        $('#txtLocalAgentPhone').val("");
        $('#txtLocalAgentFax').val("");

        $('#txtCommissioningDate').datebox('setValue',icsdateformat(new Date()));
        $('#txtCommissionBy').val("");
        $('#txtInvoiceValue').numberbox('setValue','');
        $('#txtLCCommissionOthers').numberbox('setValue','');
        $('#txtInsurance').numberbox('setValue','');
        $('#txtCFCost').numberbox('setValue','');
        $('#txtTransport').numberbox('setValue','');
        $('#txtCustomDuty').numberbox('setValue','');
        $('#txtInstallationCost').numberbox('setValue','');
        $('#txtTotalLandedCost').numberbox('setValue','');
        $("#cboResourceType").icsLoadCombo({ List: _oResourceTypes, OptionValue: "id", DisplayText: "Value" });
        $("#cboWorkingUnit").icsLoadCombo({ List: _oWUs, OptionValue: "WorkingUnitID", DisplayText: "WorkingUnitName" });
        $("#cboSupplier").icsLoadCombo({ List: _oSuppliers, OptionValue: "ContractorID", DisplayText: "Name" });
        $("#cboCurrency").icsLoadCombo({ List: _oCurrencys, OptionValue: "CurrencyID", DisplayText: "Symbol" });
        $("#cboRack").icsLoadCombo({ List: _oRacks, OptionValue: "RackID", DisplayText: "RackWithShelfNo" });
    }

    function Validation()
    {
        if ($.trim($('#txtName').val()) == '') { alert("Please enter name."); $('#txtName').focus(); return false; }
        else if ($.trim($('#txtCode').val()) == '') { alert("Please enter code."); $('#txtCode').focus(); return false; }
        else if ($('#txtWarrantyPeriod').numberbox('getValue')<=0){ alert("Please enter warranty period.");  return false; }
        else if (new Date($('#txtWarrantyStartDate').numberbox('getValue'))> new Date($('#txtWarrantyEndDate').numberbox('getValue'))){ alert("Start date must be less or equal to end date."); return false; }
        else if ($('#txtInvoiceValue').numberbox('getValue')<=0) { alert("Please enter invoice value.");  return false; }
        else if($("#cboResourceType :selected").text()== "Mold")
        {
            debugger;
            if ($.trim($('#txtLCNo').val()) == '') { alert("Please enter LC No."); $('#txtLCNo').focus(); return false; }
            if (parseFloat($('#txtCavity').val()) <= 0) { alert("Please enter Cavity"); $('#txtCavity').focus(); return false; }
            if ($.trim($('#cboFGWeightUnit').val()) == '') { alert("Please select Finish Good Unit."); $('#cboFGWeightUnit').focus(); return false; }
            if ($.trim($('#txtNaliWeight').val()) == '') { alert("Please enter LC No."); $('#txtNaliWeight').focus(); return false; }
            return true;
        }
        else { return true; }
    }
    $('#cboResourceType').change(function(){
        ChangeStatus();
    });
    function ChangeStatus()
    {
        debugger;
        if($('#cboResourceType').val()==1)
        {
            $("#txtCavity").prop("disabled", false );
            $("#txtFinishGoodWeight").prop("disabled", false );
            $("#txtNaliWeight").prop("disabled", false );
            $("#cboFGWeightUnit").prop("disabled", false );
        }
        else
        {
            $("#txtCavity").prop("disabled", true );
            $("#txtFinishGoodWeight").prop("disabled", true );
            $("#txtNaliWeight").prop("disabled", true );
            $("#cboFGWeightUnit").prop("disabled", true );
        }
    }
    function RefreshObject()
    {
        var oCR= {
            CRID :  (_oCR != null) ? _oCR.CRID : 0,
            CRGID : (_oCR != null) ? _oCR.CRGID : 1,
            Code : $.trim($('#txtCode').val()),
            Name : $.trim($('#txtName').val()),
            ParentID : _nParentID,
            IsLastLayer : true,
            Model : $.trim($('#txtModel').val()),
            Brand : $.trim($('#txtBrand').val()),
            MadeIn : $.trim($('#txtCounrtyOfOrigin').val()),
            MadeBy : $.trim($('#txtManufacturer').val()),
            MachineCapacity : $.trim($('#txtMachineCapacity').val()),
            Warranty : parseInt($('#txtWarrantyPeriod').numberbox('getValue')),
            WarrantyOn : $.trim($('#cboWarrantyOn').val()),
            WarrantyStart : $('#txtWarrantyStartDate').datebox('getValue'),
            WarrantyEnd : $('#txtWarrantyEndDate').datebox('getValue'),
            SerialNumberOnProduct : $.trim($('#txtSerialNo').val()),
            TagNo : $.trim($('#txtTagNo').val()),
            Note : $.trim($('#txtNote').val()),
            IsActive : (_oCR != null) ? _oCR.IsActive : true,
            InstallationDate : (_oCR != null) ? _oCR.InstallationDateInString : icsdateformat(new Date()),
            InstallationNote : (_oCR != null) ? _oCR.InstallationNote : '',
            InstallationLocationID : $('#cboWorkingUnit').val(),
            BasicFunction :  $.trim($('#txtBasicFunction').val()),
            PowerConsumption :  $.trim($('#txtPowerCon').val()),
            TechnicalSpecification :  $.trim($('#txtTechnicalSpecification').val()),
            PerformanceSpecification :  $.trim($('#txtPerformanceSpecification').val()),
            PortOfShipment :  $.trim($('#txtPortofShipment').val()),
            LCNo :  $.trim($('#txtLCNo').val()),
            HSCode :  $.trim($('#txtHSCode').val()),

            SupplierID : $('#cboSupplier').val(),
            SupplierAddress : $.trim($('#txtSupplierAddress').val()),
            SupplierContactPerson : $.trim($('#txtSupplierContactPerson').val()),
            SupplierContactPersonContact : $.trim($('#txtSupplierCPContact').val()),
            SupplierNote : $.trim($('#txtSupplierNote').val()),
            SupplierEmail : $.trim($('#txtSupplierEmail').val()),
            SupplierPhone : $.trim($('#txtSupplierPhone').val()),
            SupplierFax : $.trim($('#txtSupplierFax').val()),

            LAName : $.trim($('#txtLocalAgentName').val()),
            LAContactPerson : $.trim($('#txtLocalAgentContactPerson').val()),
            LAAddress : $.trim($('#txtLocalAgentAddress').val()),
            LAWorkshop : $.trim($('#txtLocalAgentWorkStation').val()),
            LANote : $.trim($('#txtLocalAgentNote').val()),
            LAEmail : $.trim($('#txtLocalAgentEmail').val()),
            LAPhone : $.trim($('#txtLocalAgentPhone').val()),
            LAFax : $.trim($('#txtLocalAgentFax').val()),


            CommissioningDate : $('#txtCommissioningDate').datebox('getValue'),
            CommissioningBy : $.trim($('#txtCommissionBy').val()),
            ActualAssetValue : $('#txtInvoiceValue').numberbox('getValue'),
            OtherCost :  $('#txtLCCommissionOthers').numberbox('getValue'),
            InsuranceCost : $('#txtInsurance').numberbox('getValue'),
            CurrencyID : $('#cboCurrency').val(),
            CNF_FOBValue_Foreign : $('#txtCFCost').numberbox('getValue'),
            CNF_FOBValue_Local :  $('#txtTransport').numberbox('getValue'),
            CustomDutyCost :  $('#txtCustomDuty').numberbox('getValue'),
            InstallationCost : $('#txtInstallationCost').numberbox('getValue'),
            TotalLandedCost : $('#txtTotalLandedCost').numberbox('getValue'),
            BUID:_nBUID,
            RackID:$('#cboRack').val(),
            ResourcesTypeInInt:$('#cboResourceType').val(),
            ValueAfterEvaluation : (_oCR != null) ? _oCR.ValueAfterEvaluation : 0,
            FinishGoodWeight:icsRemoveComma($('#txtFinishGoodWeight').val()),
            NaliWeight:icsRemoveComma($('#txtNaliWeight').val()),
            FGWeightUnit:$('#cboFGWeightUnit').val(),
            //Cavity:$('#txtCavity').numberbox('getValue'),
            Cavity:$('#txtCavity').val(),
        };
        return oCR;
    }


    function Close() {
        window.location.href = sessionStorage.getItem("BackLink");
    }
</script>
