@{
    ViewBag.Title = "LapDip Color";
}

@model IEnumerable <ESimSol.BusinessObjects.LabdipColor>

<div ng-app="LapdipColorApp" class="form-horizontal" ng-controller="LapdipColorCntrl">

    <div class="row ui-grid-top-panel regionLabdipcolor">
            <div class="container">
                 <div class="form-inline">
            @*<input type="text" ng-model="MRNo" ng-change="filter()" class="form-control" style="width:200px" placeholder="Search MR No " ng-keyup="searchMRNoKeyUp($event)" />*@
            @*<button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="PINosearch()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>*@
            <button type="button" class="btn btn-sm btn-primary" aria-label="Left Align" ng-click="add()"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add</button>
            <button type="button" class="btn btn-sm btn-primary" aria-label="Left Align" ng-click="edit()"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit</button>
            <button type="button" class="btn btn-sm btn-primary" aria-label="Left Align" ng-click="delete()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Delete</button>

            </div>
            </div>
    </div>
    <div ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-key-nav class="grid-angular ui-grid-selectable"></div>


<script type="text/ng-template" id="labdipdetail.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">LabDip Color Entry</h3>
    </div>
    <div class="modal-body form-horizontal regionLabdipcolor" id="modal-body">
            <div class="row col-md-12">
                <div class="col-md-2 text-right"><label class="control-label">Code:</label></div>
                <div class="col-md-10 text-left">
                <input ng-model="Labdipcolor.Code" class="form-control">
                </div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-2 text-right"><label class="control-label">Code No:</label></div>
                <div class="col-md-10 text-left">
                <input ng-model="Labdipcolor.CodeNo" class="form-control" />
                </div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-2 text-right"><label class="control-label">Name:</label></div>
                <div class="col-md-10 text-left">
                <input ng-model="Labdipcolor.Name" class="form-control" />
                </div>
            </div>

            <div class="row col-md-12">
                <div class="col-md-2 text-right"><label class="control-label">Note:</label></div>
                <div class="col-md-10 text-left">
                <input ng-model="Labdipcolor.Note" class="form-control" />
                </div>
             </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-success" aria-label="Left Align" ng-click="Save()"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</button>
        <button type="button" class="btn btn-sm btn-danger" aria-label="Left Align" ng-click="Cancel()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
    </div>
</script>
 </div>

    <style type="text/css">
        .regionLabdipcolor .form-control {
            height: 26px;
            padding: 0px 6px;
            font-size: 12px;
        }

        .grid-angular {
            height: 520px;
            width: 100%;
        }

        .regionLabdipcolor .btn-sm {
            padding: 3px 10px;
        }
        .regionLabdipcolor .col-md-12 {
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
        margin-bottom: 5px;
    }

    .regionLabdipcolor .col-md-2 {
        width: 13%;
        padding-right: 5px;
        padding-left: 5px;
    }
    .regionLabdipcolor .col-md-10 {
        width: 86%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .regionLabdipcolor .btn-sm {
        padding: 3px 10px;
    }

    .modal-dialog {
        width: 800px;
    }

    </style>

    <script type="text/javascript">

        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));

        var oLapdipColors =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
    

        var  LapdipColorApp = angular.module('LapdipColorApp', ['ngAnimate','ui.bootstrap','ui.grid','ui.grid.selection','ui.grid.resizeColumns','ms.service']);
        sessionStorage.setItem('BUID',nBUID);
        LapdipColorApp.controller('LapdipColorCntrl', function ($scope,$http,$uibModal,$log,uiGridConstants,msModal,userSession)
        {
          
            debugger;
            $scope.gridOptions ={
                enableRowSelection: true,
                enableRowHeaderSelection: false,
                multiSelect: false,
                enableColumnResizing: true,
                showColumnFooter: true,
                enableHorizontalScrollbar: uiGridConstants.scrollbars.ALWAYS,
                enableHorizontalScrollbar : 2,
                enableVerticalScrollbar : 2,

                columnDefs: [
                    {name: ' ',width:'3%', cellTemplate: '<div style="padding-top:5px;"><span>{{rowRenderIndex+1}}</span></div>',cellClass: 'text-center', enableSorting:false, enableColumnResizing:false, enableColumnMenu:false,enableCellEdit:false},
                    { field: 'Code', name: 'Code', width:'14%',  cellClass: 'text-left' },
                    { field: 'CodeNo', name: 'Code No', width: '10%' ,  cellClass: 'text-left' },
                    { field: 'Name', name: 'Name', width: '14%' ,  cellClass: 'text-left' },
                    { field: 'Note', name: 'Note', width: '14%' ,  cellClass: 'text-left' }
                ],
                data:oLapdipColors,
                onRegisterApi:function(gridApi) {
                    $scope.gridApi = gridApi;

                }
            };


            $scope.delete = function () {
                debugger;
                var data=$scope.gridApi.selection.getSelectedRows();

                if(data==null || data.length<=0){
                    msModal.Message({headerTitle : '', bodyText:'No item found to delete.', sucessText : ' Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                    return false;
                }
                msModal.Message({headerTitle : '', bodyText:'Are you sure to Delete?.', sucessText : ' Ok', cancelText : ' Cancel', feedbackType:true, autoClose : false}).result.then(function(result){
                    if(result){
                        $http.post(_sBaseAddress+'/LabDip/DeleteLapdipColor',JSON.stringify(data[0])).then(
                                        function (response) {
                                            if(jQuery.parseJSON(response.data)=='Deleted'){
                                                angular.forEach($scope.gridOptions.data,function(value,index){
                                                    if(value.LabdipColorID==data[0].LabdipColorID){
                                                        $scope.gridOptions.data.splice(index,1);
                                                    }
                                                },$scope.gridOptions.data);
                                                msModal.Message({headerTitle : '', bodyText:'Deleted Successfully!.',sucessText : ' Ok',  cancelText : ' Close', feedbackType:false, autoClose : false});
                                            }
                                            else{
                                                alert(jQuery.parseJSON(response.data));
                                            }
                                        },
                                        function (response) {alert(jQuery.parseJSON(response.data));}
                                    );
                    }
                });

            };

            $scope.add = function () {
                
                $scope.Modal(null, 'add');
            };

            $scope.edit = function () {
                var data = $scope.gridApi.selection.getSelectedRows();
                angular.forEach($scope.gridOptions.data, function (value, index) {
                    if (value.LabdipColorID == data[0].LabdipColorID) {
                        $scope.index=index;
                        $scope.Modal($scope.gridOptions.data[index], 'edit');
                    }
                }, $scope.gridOptions.data);
            };

            $scope.Modal = function (obj, operation, url) {
                debugger;
                var modalInstance = $uibModal.open({
                    //animation: $scope.animationsEnabled,
                    ariaLabelledBy: 'modal-title',
                    ariaDescribedBy: 'modal-body',
                    size: 'sm',
                    templateUrl: 'labdipdetail.html',
                    controller: 'ModalInstanceCtrl',
                    controllerAs: 'LapdipColorCntrl',
                    resolve: {
                        obj: function () {
                            return { 
                                Labdipcolor: obj, operation: operation };
                        }
                    }
                });

                modalInstance.result.then(function (result) {
                    if(operation=='add'){
                        $scope.gridOptions.data.push(result);
                        if(result.LabdipColorID>0){
                            $scope.Labdipcolor=result;
                            userSession.setData('Labdips',$scope.Labdipcolor);
                            $scope.gridApi.grid.modifyRows($scope.gridOptions.data);
                            $scope.gridApi.selection.selectRow($scope.gridOptions.data[0]);
                        }    
                    }
                    else{
                        $scope.gridOptions.data[$scope.index]=result;
                        $scope.gridApi.grid.modifyRows($scope.gridOptions.data);
                        $scope.gridApi.selection.selectRow($scope.gridOptions.data[$scope.index]);
                    }
                }, function () {
                    $log.info('Modal dismissed at: ' + new Date());
                });
            };

        });

        LapdipColorApp.controller('ModalInstanceCtrl', function ($scope, $http, $uibModalInstance, msModal, obj) {
            debugger;
        
            $scope.operation=obj.operation;
         


            if(obj.Labdipcolor!=null){
                $scope.Labdipcolor = obj.Labdipcolor;
            }
            else{
                $scope.Labdipcolor={
                    LabdipColorID :0,
                    Code:"",
                    CodeNo:"",
                    Name:"",
                    Note:""
                }
            }


            $scope.Save = function () {
                debugger;
                if(! $scope.Validation())
                    return false;
                $http.post(_sBaseAddress+'/LabDip/SaveLapdipColor', JSON.stringify($scope.Labdipcolor)).then(
                            
                                 function (response) {   
                                     debugger;
                                     var result=jQuery.parseJSON(response.data);
                                     if(result.LabdipColorID>0)
                                     {
                                         $uibModalInstance.close(result); 
                                     }
                                     else{
                                         msModal.Message({headerTitle : '', bodyText:""+result.ErrorMessage+"", sucessText : ' Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                                        
                                     }
                                 },
                                 function (response) { 
                                     msModal.Message({headerTitle : '', bodyText:""+jQuery.parseJSON(response.data).ErrorMessage+"", sucessText : ' Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                                    
                                 }
                           );
            };

            $scope.Validation = function()
            {
                debugger;
               
                if($scope.Labdipcolor.Code==""||$scope.Labdipcolor.Code==undefined){
                    msModal.Message({headerTitle : '', bodyText:'Enter Labdip Color Code ', sucessText : ' Yes', cancelText : ' Close', feedbackType:false, autoClose : false}); 
                    return false;
                }
                else if($scope.Labdipcolor.CodeNo=="" ||$scope.Labdipcolor.CodeNo==undefined){
                
                    msModal.Message({headerTitle : '', bodyText:'Enter Code No.', sucessText : ' Yes', cancelText : ' Close', feedbackType:false, autoClose : false}); 
                    return false;
                }
               
                 return  true;
            }

            $scope.Cancel = function () {
                $uibModalInstance.dismiss('cancel');
            };

        });







    </script>
