@{
    ViewBag.Title = "ExportIncentive List";
}
@model IEnumerable<ESimSol.BusinessObjects.ExportIncentive>
    <script src="~/Views/ExportIncentive/AdvanceSearch.js"></script>
    <div class="menuMainCollectionTable" ng-app="ExportIncentiveApp" style="height:510px">
        <div ng-controller="ExportIncentiveController">
            <div style="margin-bottom:2px; display:block" title="ExportIncentive List" class="ui-grid-top-panel">
                <input type="text" ng-model="SearchString" ng-keyup="SearchByNo($event)" placeholder="Search by L/C No..." style="width:190px" />
                <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="AdvanceSearch()"><span class="glyphicon glyphicon-search">Advance Search</span></button>

                @*<button type="button" id="btnAdd" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="Add()"><span class="glyphicon glyphicon-plus" aria-hidden="true"> Add</span></button>*@
                <button type="button" id="btnEdit" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="Edit()"><span class="glyphicon glyphicon-edit" aria-hidden="true"> Update Incentive</span></button>
                <button type="button" id="btnDetails" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="View()"><span class="glyphicon glyphicon-th" aria-hidden="true"> View</span></button>
                @*<button type="button" class="btn btn-sm btn-primary" aria-label="Left Align" ng-click="addTips()"> <span class="glyphicon glyphicon-plus" aria-hidden="true"> Add Tips</span></button>*@
                
                @*<button type="button" id="btnDelete" class="btn btn-danger btn-sm" aria-label="Left Align" ng-click="Delete()"><span class="glyphicon glyphicon-remove" aria-hidden="true"> Delete</span></button>*@
                <button type="button" id="btnPrintList" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="PrintList()"><span class="glyphicon glyphicon-print" aria-hidden="true"> Print List</span></button>
                <button type="button" id="btnExportToExcel" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="ExportToExcel()"><span class="glyphicon glyphicon-print" aria-hidden="true"> Export to Excel</span></button>
            </div>
            <div ui-grid="gridOptions" ui-grid-selection  class="grid-angular" style="width:98%"></div>
        </div>
    </div>
<style type="text/css">
    .grid-angular {
        width: 100%;
        height:520px;
    }
</style>
<script type="text/javascript">
    debugger;
    var _nBUID = 0;
    var oExportIncentives =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    @*    var oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));*@
    $('#btnPrintList').hide();
    var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
    _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));

    var CCapp= angular.module('ExportIncentiveApp', ['ui.grid','ui.grid.selection','ui.grid.resizeColumns', 'ms.service','ExportIncentive.service']);
    CCapp.controller('ExportIncentiveController',function ($scope, $http, $uibModal, $log, uiGridConstants, msModal, userSession, userSession,advsearchExportIncentiveService)
    {
        oExportIncentives= (userSession.getData('ExportIncentives').length>0)? userSession.getData('ExportIncentives'):oExportIncentives;
        debugger;
        $scope.gridOptions= {
            multiSelect: false,
            enableColumnResizing: true,
            enableFullRowSelection: true,
            columnDefs: [
              { field: 'BUShortName', name:'Unit', width:'9%' },
              { field: 'ExportLCNo', name:'L/CNo', width:'10%' },
              { field: 'VersionNo', name:'A No', width:'5%', cellClass:'text-right' },
              { field: 'OpeningDateST', name:'Opening Date', width:'8%' },
              { field: 'LCRecivedDateST', name:'ReciveDate', width:'8%' },
              //{ field: 'CurrentStatusInST', name:'Status', width:'8%' },
              { field: 'FileNo', name:'FileNo', width:'10%' },
              { field: 'ApplicantName', name:'ApplicantName', width:'24%' },

              { field: 'AmendmentDateSt', name:'AmendmentDate', width:'10%' },
              { field: 'BankName_Issue', name:'Issue Bank', width:'24%' },
              { field: 'BBranchName_Issue', name:'Issue Branch', width:'24%' },
              { field: 'Amount_ST', name:'LC Value', width:'10%', cellClass:'text-right'  },
              { field: 'Amount_BillRealST', name:'Invoice Value', width:'10%', cellClass:'text-right' },
              { field: 'Amount_Realized_PVST', name:'Incentive value', width:'10%', cellClass:'text-right'  },
              { field: 'BillRelizationDateST', name:'Bill Relization DT', width:'10%', cellClass:'text-center'  },
              { field: 'Time_Lag', name:'TimeLag', width:'10%' , cellClass:'text-right'  },
              { field: 'ApplicationDateST', name:'ApplicationDate', width:'10%' , cellClass:'text-center'  },
              { field: 'PRCDateST', name:'PRCDate', width:'10%', cellClass:'text-center'   },
              { field: 'BTMAIssueDateST', name:'BTMADate', width:'10%'  , cellClass:'text-center'   },
              { field: 'BankSubDateST', name:'BankSub.Date', width:'10%' , cellClass:'text-center'  },
              { field: 'AuditCertDateST', name:'Audit Date', width:'10%', cellClass:'text-center'   },
              { field: 'Amount_RealizedST', name:'Realized value', width:'10%', cellClass:'text-right'  },
              { field: 'RealizedDateST', name:'RealizedDate', width:'10%', cellClass:'text-center' },

            ],
            data: oExportIncentives,
            onRegisterApi : function(gridApi)
            {
                $scope.gridApi = gridApi;
                $scope.gridApi.selection.clearSelectedRows();
                $scope.gridApi.core.refresh();
                if(oExportIncentives.length>0 && userSession.getRowIndex()>=0)
                {
                    $scope.gridApi.grid.modifyRows(oExportIncentives);
                    $scope.gridApi.selection.selectRow(oExportIncentives[userSession.getRowIndex()]);
                    //$scope.RowSelect(oExportIncentives[userSession.getRowIndex()]);
                }
                userSession.clear();
            }
        };
        $scope.SearchByNo = function(e)
        {
            debugger;
            if (e.which == 8)
            {
                $scope.gridOptions= {data: oExportIncentives};
            }else if(e.which==13)
            {
                var oEmployee = {Name:"001"}

                //$.ajax ({
                //    type: "POST",
                //    dataType: "json",
                //    url : _sBaseAddress+ "/ExportIncentive/Gets_Incentive",
                //    data: JSON.stringify(oExportIncentive),
                //    traditional: true,
                //    contentType: "application/json; charset=utf-8",
                //    success: function (data) {
                //        debugger;
                //        var oExportIncentives = jQuery.parseJSON(data);
                //        if (oExportIncentives.length >0)
                //        {
                //            if(oExportIncentives[0].ExportIncentiveID!=0)
                //                $scope.gridOptions= {data: oExportIncentives};
                //            else
                //            {
                //                alert(oExportIncentives[0].ErrorMessage);
                //            }
                //        }
                //        else
                //        {
                //            alert("Data Not Found.");
                //                return;
                //        }
                //    },
                //    error: function (xhr, status, error)
                //    {
                //        alert(error);
                //    }

                //});

                //oExportIncentive.ExportLCNo=;
                var oExportIncentive = {ExportLCNo:$scope.SearchString}
              $http.post(_sBaseAddress+'/ExportIncentive/Gets_Incentive',oExportIncentive).then(
                      function (response)
                      {
                          debugger;
                          var results = JSON.parse(response.data);
                          if (results.length > 0)
                          {
                              if (results[0].ErrorMessage == '')
                                  $scope.gridOptions= {data: results};
                              else
                                  alert(results[0].ErrorMessage);
                          }
                          else
                          {
                              alert("Data Not Found.");
                              return;
                          }
                      },
                          function (response) { debugger; alert(response.statusText)}
                  );
            }
        }
        //$scope.Add=function()
        //{
        //    sessionStorage.setItem("ExportIncentives", JSON.stringify($scope.gridOptions.data));
        //    sessionStorage.setItem("SelectedRowIndex", -1);
        //    sessionStorage.setItem("ExportIncentiveHeader", "Add ExportIncentive Category");
        //    sessionStorage.setItem("BackLink", window.location.href);
        //    window.location.href = _sBaseAddress+ "/ExportIncentive/ViewExportIncentive?id=0&nExportLCID=";
        //}
        $scope.Edit= function ()
        {
            debugger;
            var data=$scope.gridApi.selection.getSelectedRows();
            var oExportIncentive= data[0];//get selected index
            if(oExportIncentive==null || oExportIncentive.ExportLCID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            var SelectedRowIndex= $scope.gridOptions.data.indexOf(oExportIncentive);
            sessionStorage.setItem("ExportIncentives", JSON.stringify($scope.gridOptions.data));
            sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
            sessionStorage.setItem("ExportIncentiveHeader", "Edit ExportIncentive Category");
            sessionStorage.setItem("BackLink", window.location.href);

            //console.log(oExportIncentive);return;

            window.location.href = _sBaseAddress+  "/ExportIncentive/ViewExportIncentive?id="+oExportIncentive.ExportIncentiveID+"&nExportLCID="+ oExportIncentive.ExportLCID+"&nBillID="+ oExportIncentive.ExportBillID + "&nBUID="+_nBUID;
        }

        $scope.View= function ()
        {
            //debugger;
            var data=$scope.gridApi.selection.getSelectedRows();
            var oExportIncentive= data[0];//get selected index
            if(oExportIncentive==null || oExportIncentive.ExportLCID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            var SelectedRowIndex= $scope.gridOptions.data.indexOf(oExportIncentive);
            sessionStorage.setItem("ExportIncentives", JSON.stringify($scope.gridOptions.data));
            sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
            sessionStorage.setItem("ExportIncentiveHeader", "View ExportIncentive");
            sessionStorage.setItem("BackLink", window.location.href);
            window.location.href = _sBaseAddress+  "/ExportIncentive/ViewExportIncentive?id="+oExportIncentive.ExportIncentiveID+"&nExportLCID="+ oExportIncentive.ExportLCID+"&nBillID="+ oExportIncentive.ExportBillID+ "&nBUID="+_nBUID;
        }
        //$scope.Delete = function()
        //{
        //    var data=$scope.gridApi.selection.getSelectedRows();
        //    var oExportIncentive= data[0];//get selected index
        //    if(oExportIncentive==null || oExportIncentive.ExportIncentiveID<=0)
        //    {
        //        alert("Please select a item from list!");
        //        return;
        //    }
        //    if (!confirm("Confirm to Delete?")) return ;
        //    var SelectedRowIndex= $scope.gridOptions.data.indexOf(oExportIncentive);
        //    if (oExportIncentive.ExportIncentiveID > 0)
        //    {
        //        $.ajax
        //        ({
        //            type: "GET",
        //            dataType: "json",
        //            url : _sBaseAddress+ "/ExportIncentive/Delete",
        //            data: { id: oExportIncentive.ExportIncentiveID},
        //            contentType: "application/json; charset=utf-8",
        //            success: function (data) {
        //                debugger;
        //                feedbackmessage = jQuery.parseJSON(data);
        //                if (feedbackmessage == "Deleted")
        //                {
        //                    alert("Delete sucessfully");
        //                    $scope.gridOptions.data.splice(SelectedRowIndex,1);
        //                    $scope.gridApi.core.refresh();
        //                }
        //                else
        //                {
        //                    alert(feedbackmessage);
        //                }
        //            },
        //            error: function (xhr, status, error)
        //            {
        //                alert(error);
        //            }

        //        });
        //    }
        //}
        $scope.addTips = function () {

            var data=$scope.gridApi.selection.getSelectedRows().first();
            if(data==null || data.ExportLCID<=0){
                msModal.Message({headerTitle : '', bodyText:'Select an item from list.', sucessText : ' Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                return false;
            }
            //else if(data.ApproveByID!=0){
            //    msModal.Message({headerTitle : '', bodyText:'Unable to edit. Already approved.', sucessText : ' Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
            //    return false;
            //}
            $scope.index=$scope.gridOptions.data.indexOf(data);

            sessionStorage.setItem("Operation", "Edit");
            sessionStorage.setItem("SelectedRowIndex", $scope.index);
            sessionStorage.setItem("ExportIncentiveHeader", "Add Tips");
            sessionStorage.setItem("ExportIncentives", JSON.stringify($scope.gridOptions.data));
            sessionStorage.setItem("BackLink", window.location.href);
            var tsv=((new Date()).getTime())/1000;
            window.location.href = _sBaseAddress+ "/ExportIncentive/View_AddTipsnSpeedsIncentive?nId="+data.ExportLCID+"&ts="+tsv;
        };

        $scope.PrintList = function()
        {
            var oExportIncentives= $scope.gridOptions.data;
            var ids ="";
            if(oExportIncentives.length >0)
            {
                for(var i =0;i<oExportIncentives.length;i++)
                {
                    ids =ids+oExportIncentives[i].ExportIncentiveID+",";
                }
                ids= ids.substring(0, ids.length - 1);
            }
            else
            {
                alert("Data not found ");
                return;
            }
            window.open(_sBaseAddress + '/ExportIncentive/PrintList?sIDs='+ids);
        }
        $scope.ExportToExcel = function()
        {
            var oExportIncentives=  $scope.gridOptions.data;
            var ids ="";
            if(oExportIncentives.length >0)
            {
                for(var i =0;i<oExportIncentives.length;i++)
                {
                    ids =ids+oExportIncentives[i].ExportLCID+",";
                }
                ids= ids.substring(0, ids.length - 1);
            }
            else
            {
                alert("Data not found ");
                return;
            }
            window.open(_sBaseAddress + '/ExportIncentive/ExportToExcel?sIDs='+ids);
        }
        $scope.AdvanceSearch = function ()
        {
            debugger;

            var modalObj={
                modalcontroller:'ModalAdvanceSearchCtrl',
                appcontroller:'ExportIncentiveController',
                CompareOperators:oCompareOperators,
                //VehicleTypes:oVehicleTypes,
                //BusinessUnits:oBusinessUnits
            }
            var modalInstance=advsearchExportIncentiveService.Instance(modalObj);
            modalInstance.result.then(function (result)
            {
                debugger;
                $scope.gridOptions.data = result;
            }, function () {
                $log.info('Modal dismissed at: ' + new Date());
            });
        };
        //button hide unhide
        //$('#btnAdd,#btnEdit,#btnView,#btnDelete,#btnPrintList').hide();
        //if(PermissionChecker('Add','ExportIncentive',oAuthorizationRolesMapping)){$("#btnAdd").show();}
        //if(PermissionChecker('Edit','ExportIncentive',oAuthorizationRolesMapping)){$("#btnEdit").show();}
        //if(PermissionChecker('View','ExportIncentive',oAuthorizationRolesMapping)){$("#btnView").show();}
        //if(PermissionChecker('Delete','ExportIncentive',oAuthorizationRolesMapping)){$("#btnDelete").show();}
        //if(PermissionChecker('PrintList','ExportIncentive',oAuthorizationRolesMapping)){$("#btnPrintList").show();}
    });


</script>