<html>
<head>
    <title>Export Bill History </title>
</head>
<body>

    @model ESimSol.BusinessObjects.ExportBill
  
    <div class="menuMainCollectionTable">
        <div style="width:100%;height:90%">
            <fieldset>
             <legend style="font-weight:bold">L/C & Invoice  info </legend>
                <table border="0"  cellspacing="2" cellpadding="2" style=" width:100%;font-size:12px; font-weight:bold">
                    <tr>
                        <td style="width:20%; text-align:right">
                            Invoice No :
                        </td>
                        <td style="width:30%;font-size:12px; font-weight:bold">
                            <input id="txtExportBillNo" style="width: 100%;font-size:12px; font-weight:bold" font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:15%; text-align:right">
                            File No :
                        </td>
                        <td style="width:25%">
                            <input id="txtFileNo" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%; text-align:right">
                            L/C No :
                        </td>
                        <td style="width:25%">
                            <input id="txtLCNo" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:15%; text-align:right">
                            <label id="lblAmendmentNo">Amendment No :</label>  
                        </td>
                        <td style="width:25%">
                            <input id="txtAmendmentNoAndDate" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                   
                    <tr>
                        <td style="width:20%; text-align:right">
                            Party Name :
                        </td>
                        <td colspan="3" style="width:70%">
                            <input id="txtApplicantName" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                    <tr>
                        <td style="width:20%; text-align:right">
                            Advice Bank :
                        </td>
                        <td colspan="3" style="width:70%">
                            <input id="txtBankNameAdvice" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                    <tr>
                        <td style="width:20%; text-align:right">
                            Issue Bank :
                        </td>
                        <td colspan="3" style="width:70%">
                            <input id="txtBankNameIssue" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                    <tr>
                        <td style="width:20%; text-align:right">
                            Negotiation Bank :
                        </td>
                        <td colspan="3" style="width:70%">
                            <input id="txtBankNameNego" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:12%; text-align:right"></td>
                    </tr>
                    <tr>
                        <td style="width:20%; text-align:right">
                            Bill Date :
                        </td>
                        <td style="width:30%">
                            <input id="txtExportBillDate" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:15%; text-align:right">
                            L/C Date :
                        </td>
                        <td style="width:25%">
                            <input id="txtLCDate" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                    <tr>
                        <td style="width:20%; text-align:right">
                            Bill Value :
                        </td>
                        <td style="width:30%">
                            <input id="txtIAmountSt" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:15%; text-align:right">
                            L/C Value :
                        </td>
                        <td style="width:25%">
                            <input id="txtIAmountLC" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                 
                </table>
            </fieldset>
            <fieldset>
                <div>
                    <table id="tblExportBillHistorys" class="easyui-datagrid" style="width:100%;height:240px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false">
                        <thead>
                            <tr>
                                <th field="DateTimeInString" width="12%" align="left">Date</th>
                                <th field="UserName" width="12%" align="left">User name</th>
                                <th field="StateInString" width="8%" align="left">Status</th>
                                <th field="PreviousStateInString" width="8%" align="left">Previous Status</th>
                                <th field="Note" width="30%" align="left">Note</th>
                                <th field="NoteSystem" width="15%" align="left">Operation</th>
                                <th field="ErrorMsg" width="8%" align="left">Time Period</th>
                            </tr>
                        </thead>
                    </table>
                </div>
               </fieldset>
            
        </div>
         


        <fieldset>
            <legend>Action</legend>
            <div style="width:100%;height:7%">
                <table border="0" cellpadding="2" cellspacing="2" style="width:100%;">
                <tr>
                    <td style="width: 20%; text-align: right"></td>

                    <td style="width: 65px; font-size:13px">
                    </td>
                    <td style="width: 15%;text-align: right;  font-size:13px">
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                   
                </tr>
                </table>
            </div>

        </fieldset>
    </div>

</body>
</html>

<style type="text/css">
    .td-styler input {
        padding-left: 5px;
    }

    .td-styler select {
        padding-left: 5px;
    }

    .td-col-3 select {
        width: 95%;
    }
</style>

<script type="text/javascript">

    var _sBaseAddress = "";
    var _oExportBill=null;
    var _oExportBillHistorys=[];
    var _sBackLink="";
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oExportBill =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oExportBillHistorys = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ExportBillHistorys))
     
        RefreshControl(_oExportBill);
        _sBackLink=sessionStorage.getItem("BackLink");
    
    });

  

    function RefreshControl(oExportBill){
        debugger;
        _oExportBill=oExportBill;
        $("#txtExportBillNo").val( _oExportBill.ExportBillNo);
        $("#txtAmendmentNoAndDate").val( _oExportBill.AmendmentNo);
        if(_oExportBill.AmendmentNo=="" || _oExportBill.AmendmentNo == null)
        {
            $("#txtAmendmentNoAndDate").hide();
            $("#lblAmendmentNo").hide();
        }
        $("#txtLCNo").val(_oExportBill.ExportLCNo);
        $("#txtFileNo").val( _oExportBill.FileNo);
        $("#txtApplicantName").val(_oExportBill.ApplicantName);
        $("#txtExportBillDate").val(_oExportBill.StartDateSt);
        $("#txtLCDate").val(_oExportBill.LCOpeningDatest);
        $("#txtBankNameAdvice").val(_oExportBill.BankName_Advice + '[' + _oExportBill.BBranchName_Advice + ']');
        $("#txtBankNameNego").val( _oExportBill.BankName_Nego + '[' + _oExportBill.BBranchName_Nego + ']');
        $("#txtBankNameIssue").val(_oExportBill.BankName_Issue + '[' + _oExportBill.BBranchName_Issue + ']');
        $("#txtIAmountSt").val( _oExportBill.AmountSt);
        $("#txtIAmountLC").val(_oExportBill.Amount_LCSt);
        //$("#txtState").val(_oExportBill.StateSt);
        if(_oExportBillHistorys.length>0)
        {
            DynamicRefreshList(_oExportBillHistorys, "tblExportBillHistorys");
        }
        else{
            DynamicRefreshList([], "tblExportBillHistorys");
        }
    }
   
   

    $('#btnClose').click(function(e){
        window.location.href = sessionStorage.getItem("BackLink");
    });



</script>