<html>
<head>
    <title>Export Bill Send to Party </title>
</head>
<body>

    @model ESimSol.BusinessObjects.ExportBill
  
    <div class="menuMainCollectionTable">
        <div style="width:100%;height:88%">
            <fieldset>
             <legend style="font-weight:bold">L/C & Bill  info </legend>
                <table border="0"  cellspacing="2" cellpadding="2" style=" width:100%;font-size:12px; font-weight:bold">
                    <tr>
                        <td style="width:20%; text-align:right">
                            Invoice No :
                        </td>
                        <td style="width:30%;font-size:12px; font-weight:bold">
                            <input id="txtExportBillNo" style="width: 100%;font-size:12px; font-weight:bold" font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:15%; text-align:right">
                            File No :
                        </td>
                        <td style="width:25%">
                            <input id="txtFileNo" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%; text-align:right">
                            L/C No :
                        </td>
                        <td style="width:25%">
                            <input id="txtLCNo" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:15%; text-align:right">
                            <label id="lblAmendmentNo">Amendment No :</label>  
                        </td>
                        <td style="width:25%">
                            <input id="txtAmendmentNoAndDate" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                    @*<tr>
                        <td style="width:20%; text-align:right">
                            File No :
                        </td>
                        <td style="width:25%">
                            <input id="txtFileNo" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:15%; text-align:right"></td>
                        <td style="width:25%"></td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>*@
                    <tr>
                        <td style="width:20%; text-align:right">
                            Party Name :
                        </td>
                        <td colspan="3" style="width:70%">
                            <input id="txtApplicantName" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                    <tr>
                        <td style="width:20%; text-align:right">
                            Advice Bank :
                        </td>
                        <td colspan="3" style="width:70%">
                            <input id="txtBankNameAdvice" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                    <tr>
                        <td style="width:20%; text-align:right">
                            Issue Bank :
                        </td>
                        <td colspan="3" style="width:70%">
                            <input id="txtBankNameIssue" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                    <tr>
                        <td style="width:20%; text-align:right">
                            Negotiation Bank :
                        </td>
                        <td colspan="3" style="width:70%">
                            <input id="txtBankNameNego" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:12%; text-align:right"></td>
                    </tr>
                    <tr>
                        <td style="width:20%; text-align:right">
                            Maturity Recvd Date :
                        </td>
                        <td style="width:30%">
                            <input id="txtMaturityReceivedDate" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>

                        <td style="width:15%; text-align:right">
                            Maturity Date :
                        </td>
                        <td style="width:25%">
                            <input id="txtMaturityDate" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                    <tr>
                        <td style="width:20%; text-align:right">
                            Bill Value :
                        </td>
                        <td style="width:30%">
                            <input id="txtIAmountSt" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:15%; text-align:right">
                            L/C Value :
                        </td>
                        <td style="width:25%">
                            <input id="txtIAmountLC" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                   
                    @*<tr>
                        <td style="width:20%; text-align:right">
                            Current Status :
                        </td>
                        <td colspan="3" style="width:70%">
                            <input id="txtState" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>*@
                </table>
            </fieldset>
            <fieldset>
                <legend style="font-weight:bold">Payment  info </legend>
                <table style="width:100%;font-size:12px; font-weight:normal" border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:20%; text-align:right">
                            Relization Date
                        </td>
                        <td style="width:15%">
                            <input id="txtRelizationDate" type="text" style="width: 110px;" class="easyui-datebox"
                                   required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                        <td style="width:5%; text-align:right">
                            Note
                        </td>
                        <td style="width:60%">
                            <input id="txtNote_Relization" type="text" style="width:83%;" />
                        </td>

                    </tr>

                </table>
             
            </fieldset>
            <fieldset>
                <table id="tblExportBillRealizeds" title="Payment  List" class="easyui-datagrid" style="width:100%;height:150px;font-size:12px; font-weight:normal" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" , autorowheight="false" toolbar="#toolbar_BillRealized">
                    <thead>
                        <tr>
                            <th field="ParticularName" width="150">Particula Name</th>
                            <th field="InOutTypeSt" width="60">Add/Deduct</th>
                            <th field="Amount" width="80">Amount</th>
                        </tr>
                    </thead>
                </table>
                <div id="toolbar_BillRealized">
                    <select style="width:200px" id="cboEBillParticular"></select>
                    <input id="txtAmountEBillParticular" style="width:120px" type="text" placeholder="Amount" />
                    <a id="btnAddExportBillParticular" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                    <a id="btnDeleteExportBillParticular" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                </div>
                <table border="0" cellpadding="01" cellspacing="1" style="width:100%;">
                    <tr>
                       
                        <td style="width:20%; text-align:center; font-weight:bold;"><label id="lblTotalAmount"> </label> </td>
                        <td style="width:20%;  text-align:right;font-weight:bold;"></td>
                        <td style="width:20%; text-align:center; font-weight:bold;"><label id="lblTotalAdd"> </label> </td>
                        <td style="width:20%; text-align:center; font-weight:bold;"><label id="lblTotalDeduct"> </label> </td>
                        <td style="width:20%; text-align:center; font-weight:bold;"><label id="lblTotalCharge"> </label> </td>
                    </tr>
                </table>
            </fieldset>
</div>
         


        <fieldset>
            <legend>Action</legend>
            <div style="width:100%;height:10%">
                <table border="0" cellpadding="2" cellspacing="2" style="width:100%;">
                <tr>
                    <td style="width: 20%; text-align: right"></td>

                    <td style="width: 65px; font-size:13px">
                    </td>
                    <td style="width: 15%;text-align: right;  font-size:13px">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                   
                </tr>
                </table>
            </div>

        </fieldset>
    </div>

</body>
</html>

<style type="text/css">
    .td-styler input {
        padding-left: 5px;
    }

    .td-styler select {
        padding-left: 5px;
    }

    .td-col-3 select {
        width: 95%;
    }
</style>

<script type="text/javascript">

    var _sBaseAddress = "";
    var _oExportBill=null;
    var _oExportBillParticulars=[];
    var _sBackLink="";
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oExportBill =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oExportBillParticulars=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ExportBillParticulars));
        debugger;

        ResetControll();
        RefreshControl(_oExportBill);
        _sBackLink=sessionStorage.getItem("BackLink");

        $("#cboEBillParticular").icsLoadCombo({
            List: _oExportBillParticulars,
            OptionValue: "ExportBillParticularID",
            DisplayText: "Name"
        });
    });


    function Initialization(oExportBill, sOperation){
        ResetControll();
        if(oExportBill.ExportBillID>0)
        {
            RefreshControl(oExportBill);
        }

        if(sOperation=="View")
        {
            $('#btnSave.ics-pick').hide();
        }

        else{
            $('#toolbar,#btnSave,.ics-pick').show();
        }



    }


    function ResetControll(){

        $('#txtSendToParty').datebox('setValue', icsdateformat(new Date()));
        $('.reset-text').val("");

    }
    function RefreshControl(oExportBill){
        debugger;
        _oExportBill=oExportBill;
        $("#txtExportBillNo").val( _oExportBill.ExportBillNo);
        $("#txtAmendmentNoAndDate").val( _oExportBill.AmendmentNo);
        if(_oExportBill.AmendmentNo=="" || _oExportBill.AmendmentNo == null)
        {
            $("#txtAmendmentNoAndDate").hide();
            $("#lblAmendmentNo").hide();
        }
        $("#txtLCNo").val(_oExportBill.ExportLCNo);
        $("#txtFileNo").val( _oExportBill.FileNo);
        $("#txtApplicantName").val(_oExportBill.ApplicantName);
        //$("#txtExportBillDate").val(_oExportBill.StartDateSt);
        //$("#txtLCDate").val(_oExportBill.LCOpeningDatest);
        $("#txtBankNameAdvice").val(_oExportBill.BankName_Advice + '[' + _oExportBill.BBranchName_Advice + ']');
        $("#txtBankNameNego").val( _oExportBill.BankName_Nego + '[' + _oExportBill.BBranchName_Nego + ']');
        $("#txtBankNameIssue").val(_oExportBill.BankName_Issue + '[' + _oExportBill.BBranchName_Issue + ']');
        $("#txtIAmountSt").val( _oExportBill.AmountSt);
        $("#txtIAmountLC").val(_oExportBill.Amount_LCSt);
        $("#txtMaturityReceivedDate").val( _oExportBill.MaturityReceivedDateSt);
        $("#txtMaturityDate").val(  _oExportBill.MaturityDateSt);

        $("#txtNote_Relization").val(_oExportBill.NoteCarry);
        if (_oExportBill.RelizationDateSt == "" || _oExportBill.RelizationDateSt == "--") {
            $('#txtRelizationDate').datebox('setValue', icsdateformat(new Date()));
        }
        else {
            $('#txtRelizationDate').datebox('setValue', _oExportBill.RelizationDateSt);
        }
        if(_oExportBill.ExportBillRealizeds.length>0)
        {
            DynamicRefreshList(_oExportBill.ExportBillRealizeds, "tblExportBillRealizeds");
        }
        else{
            DynamicRefreshList([], "tblExportBillRealizeds");
        }
        RefreshSummary();
    }

    function Validation(){

        var dSendToParty = new Date($('#txtSendToParty').datebox('getValue'));
        var dStartDate = new Date(_oExportBill.StartDate);

        if ((dStartDate) > (dSendToParty))
        {
            alert("Send to party Date cannot be greater than Invoice Date.");
            return false;
        }

        return true;
    }


    function RefreshObject()
    {
        var oExportBill = {
            ExportBillID: (_oExportBill != null) ? _oExportBill.ExportBillID : 0,
            RelizationDate: new Date($('#txtRelizationDate').datebox('getValue')),
            ExportBillRealizeds : $('#tblExportBillRealizeds').datagrid('getRows'),
            NoteCarry: document.getElementById('txtNote_Relization').value
        };
        return oExportBill;
    }

    $("#btnSave").click(function (){

        //if(!Validation()) return false;

        debugger;
        var oExportBill=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/ExportBill/SaveBillRealized",
            traditional: true,
            data:  JSON.stringify(oExportBill),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var ExportBill= jQuery.parseJSON(data);
                if (ExportBill.ErrorMessage=="" || ExportBill.ErrorMessage==null)
                {
                    _oExportBill=ExportBill;
                    alert("Data Save Succesfully!!");
                    var oExportBills =sessionStorage.getItem("ExportBills");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    debugger;
                    if(oExportBills!=null)
                    {
                        oExportBills = jQuery.parseJSON(oExportBills);
                    }
                    else
                    {
                        oExportBills=[];
                    }
                    if(nIndex!=-1)
                    {
                        oExportBills[nIndex]=_oExportBill;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oExportBills.length);
                        oExportBills.push(_oExportBill);
                    }
                    sessionStorage.setItem("ExportBills", JSON.stringify(oExportBills));
                    window.location.href = _sBackLink;
                }
                else
                {
                    alert(ExportBill.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    });




    $('#btnClose').click(function(e){
        window.location.href = sessionStorage.getItem("BackLink");
    });

    $("#btnAddExportBillParticular").click(function (e) {

        var sEBillParticular = "";
        var nExportBillParticularID = $("#cboEBillParticular option:selected").val();
        if (nExportBillParticularID > 0) {
            sEBillParticular = $("#cboEBillParticular option:selected").text();
        }
        if (nExportBillParticularID == null || parseInt(nExportBillParticularID) <= 0) {
            alert("Please select a Particular from list!");
            return;
        }
        var nInOutTypeInInt=0;
        var sInOutTypeSt=0;
        for(var i = 0; i<_oExportBillParticulars.length;i++)
        {
            if(nExportBillParticularID==_oExportBillParticulars[i].ExportBillParticularID)
            {
                nInOutTypeInInt=parseInt(_oExportBillParticulars[i].InOutTypeInInt);
                sInOutTypeSt=_oExportBillParticulars[i].InOutTypeSt;
                break;
            }
        }

        var oExportBillRealizeds = [];
        oExportBillRealizeds = $('#tblExportBillRealizeds').datagrid('getRows');
        var oExportBillRealized = {
            ExportBillRealizedID:0,
            InOutTypeInt:nInOutTypeInInt,
            InOutTypeSt:sInOutTypeSt,
            ParticularName: sEBillParticular,
            ExportBillParticularID: nExportBillParticularID,
            ExportBillID: (_oExportBill != null) ? _oExportBill.ExportBillID : 0,
            Amount: parseFloat($("#txtAmountEBillParticular").val())
        };
        oExportBillRealizeds.push(oExportBillRealized);
        DynamicRefreshList(oExportBillRealizeds, "tblExportBillRealizeds");
        nExportBillParticularID=0;
        $("#txtAmountEBillParticular").val("");
        RefreshSummary();
    });


    $("#btnDeleteExportBillParticular").click(function () {
        var oExportBillRealized = $("#tblExportBillRealizeds").datagrid("getSelected");
        var SelectedRowIndex = $('#tblExportBillRealizeds').datagrid('getRowIndex', oExportBillRealized);
        if (!confirm("Confirm to Delete?")) return false;
        if (oExportBillRealized == null || oExportBillRealized.ExportBillRealizedID <= 0) {
            $('#tblExportBillRealizeds').datagrid('deleteRow', SelectedRowIndex);
        }
        else{
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oExportBillRealized,
                ControllerName: "ExportBill",
                ActionName: "Delete_ExportBillRealized",
                TableId: "tblExportBillRealizeds",
                IsWinClose: false
            };
            $.icsDelete(obj);
            $('#tblExportBillRealizeds').datagrid('deleteRow', SelectedRowIndex);
        }
        RefreshSummary();
    });
    function RefreshSummary()
    {
        var oExportBillRealizeds = $('#tblExportBillRealizeds').datagrid('getRows');
        var nAmount_BillReal, nTotalAdd = 0,nTotalDeduct=0;
       
        for(var i = 0; i<oExportBillRealizeds.length;i++)
        {
            if(oExportBillRealizeds[i].InOutTypeInt==101)
            {
                nTotalAdd=nTotalAdd+parseFloat(oExportBillRealizeds[i].Amount);
            }
            else{
                nTotalDeduct=nTotalDeduct+parseFloat(oExportBillRealizeds[i].Amount);
            }
        }
      
        nAmount_BillReal= parseFloat(_oExportBill.Amount)+parseFloat(nTotalAdd)-parseFloat(nTotalDeduct);
        document.getElementById('lblTotalAmount').innerHTML ="Bill realize:"+ _oExportBill.Currency+''+formatPrice(nAmount_BillReal,0);
        document.getElementById('lblTotalAdd').innerHTML = "Charge(+):"+_oExportBill.Currency+''+formatPrice(nTotalAdd,0);
        document.getElementById('lblTotalDeduct').innerHTML ="Charge(-):"+ _oExportBill.Currency+''+formatPrice(nTotalDeduct,0);
        document.getElementById('lblTotalCharge').innerHTML ="Total Charge:"+ _oExportBill.Currency+''+formatPrice(nTotalAdd+nTotalDeduct,0);
        
    }

</script>