@{
    ViewBag.Title = "Contractor";
}

<html>

<body>

    @model ESimSol.BusinessObjects.Contractor
    <div id="divImportContractors" class="easyui-panel" title="Import Contractors" style="font-family:Tahoma;width:100%;height:100%;align-items:center;">
        <div style="width:100%; height:88%;">

            <fieldset style="height:97%">
                <legend style="font-weight:bold"> Select File : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="width:100%;">
                    <tr>
                        <td style="width:80%; text-align:right">
                            @using (Html.BeginForm("ImportFromExcel", "Contractor", FormMethod.Post, new { enctype = "multipart/form-data"}))
                            {
                                <table style="width:100%;">
                                    <tr>
                                        <td style="width:20%;text-align:left;">
                                            <input type="file" id="fileContractors" name="fileContractors" />
                                        </td>
                                        <td style="width:20%;text-align:left;">
                                            <input type="submit" id="btnImportContractor" value="     Import List" class="icon-up PrintList" style="margin-top: 4px;" />

                                        </td>
                                    </tr>
                                </table>

                            }
                        </td>
                        <td style="width:20%; text-align:left">
                            <a id="btnDownload" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-down" plain="true">Download Excel Format</a>
                        </td>
                    </tr>

                </table>
            </fieldset>
        </div>
        <div style="width:100%; height:10%">
            <fieldset>
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold;width:100%;">
                    <tr>
                        <td style="width:80%; text-align:right"></td>

                        <td style="width:10%;"></td>
                        <td style="width:10%;">
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="false">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</body>
</html>


<script type="text/javascript">


    var _sBaseAddress="";
    var _sFeedBack=null;
    var _nMenuid=null;
    $(document).ready(function () {
        debugger;
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
     _sFeedBack=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FeedBack));
        if(_sFeedBack!=null){alert(_sFeedBack);}
     _sContractorHeader=sessionStorage.getItem("ContractorHeader");
     $('#divImportContractors').panel({ title:_sContractorHeader});




 });



    $('#btnImportContractor').click( function ()
    {

        if ($.trim($("#fileContractors").val()) == "") {
            alert("Please select a file.");
            $("#fileContractors").addClass("errorFieldBorder");
            $("#fileContractors").focus();
            return false;
        } else {
            $("#fileContractors").removeClass("errorFieldBorder");
        }

        return true;
    });


    $("#btnDownload").click(function(){
        window.open(_sBaseAddress+  "/Contractor/DownloadFormat?ift=1", '_blank');
    });


 $("#btnClose").click(function(){
     window.location.href = _sBaseAddress+ "/Contractor/ViewContractors?menuid="+_nMenuid;
 });

 $(document).keydown(function(e) {
     if(e.which == 27)//escape=27
     {
         window.location.href = _sBaseAddress+ "/Contractor/ViewContractors?menuid="+_nMenuid;
     }
 });
</script>