<html>

<body>
    @model ESimSol.BusinessObjects.Contractor
 
    <div id="divContactPersonnel" class="easyui-panel menuMainCollectionTable" title="Add Bank Branch" style="font-family:Tahoma; height:100%; width:100%">
        <div style="width:100%; height:23%; text-align:center">
            <fieldset>
                <legend style="font-weight:bold"> Contact Personnel Informations : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:125px; text-align:right">
                            Name :
                        </td>
                        <td style="width:200px">
                            <input type="text" style="width: 200px;" id="txtName" />
                        </td>
                        <td style="width:50px"> </td>
                        <td style="width:125px; text-align:right">
                            Address :
                        </td>
                        <td style="width:300px">
                            <input type="text" style="width: 300px;" id="txtAddress" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:125px; text-align:right">
                            Phone :
                        </td>
                        <td style="width:200px">
                            <input type="text" style="width: 200px;" id="txtPhone" />
                        </td>
                        <td style="width:50px"> </td>
                        <td style="width:125px; text-align:right">
                            Email :
                        </td>
                        <td style="width:300px">
                            <input type="text" style="width: 300px;" id="txtEmail" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:125px; text-align:right">
                            Note :
                        </td>
                        <td colspan="4">
                            <input type="text" style="width: 690px;" id="txtNote" />
                        </td>
                    </tr>
                </table>
            </fieldset>
          </div>
            <div style="margin-left:2px; height:343px">
                <table id="tblContactPersonnel" title="Contact Personnel List" class="easyui-datagrid" style="width:100%;height:343px"
                       data-options="
                    singleSelect: true,
                    fitColumns:false,
                    rownumbers:true,
                    pagination:false,
                    autoRowHeight:false,
                    toolbar: '#toolbar'
                ">
                    <thead>
                        <tr>
                            <th field="Name" width="150" align="left">Name</th>
                            <th field="Address" width="150" align="left">Address</th>
                            <th field="Phone" width="150" align="left">Phone</th>
                            <th field="Email" width="150" align="left">Email</th>
                            <th field="Note" width="150" align="left">Note</th>
                        </tr>
                    </thead>
                </table>
                <div style="text-align:right" id="toolbar">
                    

                    <input type="text" id="txtContactPersonnel" style="float:left;width:200px">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" style="float:left" onclick="PickContactPersonnel()">Pick</a>

                    <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="RefreshGrid()">Refresh</a>
                    <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                    <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="Edit()">Edit</a>
                    <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="Remove()">Remove</a>
                </div>
            </div>
        <div style="width:100%; height:10%">
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:80%; text-align:right"></td>
                        <td style="width: 10%"></td>
                        <td style="width: 10%">
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        </div>
</body>
</html>

<script type="text/javascript">
    var _oContactPersonnel;
    var _oContactPersonnels=[];
    var _oSelectedContractor =null;
    var _sBaseAddress="";
    var _lBackLink = "";
    var _nBUID=0;
    $(document).ready(function () {
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();

        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oSelectedContractor =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oContactPersonnels=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.ContactPersonnels));
        _nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
     debugger;
        RefreshList();
        _sBankHeader=sessionStorage.getItem("ContactPersonnelHeader");
        _lBackLink = sessionStorage.getItem("ContractorBackTo");
        _sBankHeader=_sBankHeader+' -> for :' +_oSelectedContractor.Name;
        $('#divContactPersonnel').panel({ title:_sBankHeader});
        RefreshList();

 });

    function ValidateInput()
    {
        if(document.getElementById("txtName").value==null || document.getElementById("txtName").value=="")
        {
            alert("Please enter name!");
            $('#txtName').focus();
            return false;
        }
        if(_oSelectedContractor==null || _oSelectedContractor.ContractorID<=0)
        {
            alert("Invalid contractor!");
            return false;
        }
        if(document.getElementById("txtPhone").value==null || document.getElementById("txtPhone").value=="")
        {
            alert("Please enter phone number!");
            $('#txtPhone').focus();
            return false;
        }
        return true;
    }


    function RefreshObject()
    {
        var oContactPersonnel= {
            ContactPersonnelID : 0,
            ContractorID : _oSelectedContractor.ContractorID,
            Name : $("#txtName").val(),
            Address : $("#txtAddress").val(),
            Phone :$("#txtPhone").val(),
            Email : $("#txtEmail").val(),
            Note : $("#txtNote").val()
        };
        return oContactPersonnel;
    }

    $("#btnAdd").click(function(){
        debugger;
        if(!ValidateInput()) return;
        var oContactPersonnel=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/Contractor/SaveContactPersonnel",
            traditional: true,
            data:  JSON.stringify(oContactPersonnel),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                _oContactPersonnel = jQuery.parseJSON(data);
                if(parseInt(_oContactPersonnel.ContactPersonnelID)>0)
                {
                    alert("Data Saved sucessfully");
                    _oContactPersonnels = $('#tblContactPersonnel').datagrid('getRows');
                    var nIndex=_oContactPersonnels.length;
                    $('#tblContactPersonnel').datagrid('appendRow',_oContactPersonnel);
                    $('#tblContactPersonnel').datagrid('selectRow', nIndex);
                    document.getElementById("txtName").value="";
                    document.getElementById("txtAddress").value="";
                    document.getElementById("txtPhone").value="";
                    document.getElementById("txtEmail").value="";
                    document.getElementById("txtNote").value="";
                }
                else {
                    alert(_oContactPersonnel.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    function Remove()
    {
        var oContactPersonnel = $('#tblContactPersonnel').datagrid('getSelected');
        if(oContactPersonnel==null)
        {
            alert("Please select a item from list!");
            return;
        }
        var conf = confirm("Confirm to delete?");
        if(conf==false)return;
        var SelectedRowIndex=$('#tblContactPersonnel').datagrid('getRowIndex',oContactPersonnel);
        if (parseInt(oContactPersonnel.ContactPersonnelID)> 0)
        {
            $.ajax
                ({

                    type: "POST",
                    dataType: "json",
                    url : _sBaseAddress+  "/Contractor/DeleteContactPersonnel",
                    traditional: true,
                    data:  JSON.stringify(oContactPersonnel),
                    contentType: "application/json; charset=utf-8",


                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        feedbackmessage = jQuery.parseJSON(data);
                        if (feedbackmessage == "Delete sucessfully")
                        {
                           alert("Delete sucessfully");
                          $('#tblContactPersonnel').datagrid('deleteRow',SelectedRowIndex);
                          RefreshGrid();
                        }
                        else
                        {
                            alert(feedbackmessage);
                        }
                    },
                    error: function (xhr, status, error)
                    {
                        alert(error);
                    }
                });
            }
    }

    $("#btnEdit").click(function(){
        var oObj= $('#tblContactPersonnel').datagrid('getSelected');
        var SelectedRowIndex=$('#tblContactPersonnel').datagrid('getRowIndex',oObj);
        if(!ValidateInput()) return;
        var oContactPersonnel=UpdateObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/Contractor/EditContactPersonnel",
            traditional: true,
            data:  JSON.stringify(oContactPersonnel),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oContactPersonnel = jQuery.parseJSON(data);
                if (oContactPersonnel.ContactPersonnelID>0) {
                    alert("Data Saved sucessfully");
                    $('#tblContactPersonnel').datagrid('updateRow',{index: SelectedRowIndex,	row: oContactPersonnel});
                    document.getElementById("txtName").value='';
                    document.getElementById("txtNote").value='';
                    document.getElementById("txtAddress").value='';
                    document.getElementById("txtPhone").value='';
                    document.getElementById("txtEmail").value='';
                    $('#txtName').focus();
                }
                else
                {
                    alert(oContactPersonnel.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

   function UpdateObject()
   {
        var x= $('#tblContactPersonnel').datagrid('getSelected');
        var oContactPersonnel= {
            ContactPersonnelID: x.ContactPersonnelID,
            ContractorID : x.ContractorID,
            Name : $("#txtName").val(),
            Address : $("#txtAddress").val(),
            Phone :$("#txtPhone").val(),
            Email : $("#txtEmail").val(),
            Note : $("#txtNote").val()
       };
       return oContactPersonnel;
   }

    function RefreshList()
    {
        var data=_oContactPersonnels;
        data={"total":""+data.length+"","rows":data};
        $('#tblContactPersonnel').datagrid('loadData',data);
        $('#tblContactPersonnel').datagrid({onSelect: function(rowIndex, rowData){ RowSelect(rowIndex, rowData);}});
    }

    function RowSelect(rowIndex, rowData)
    {
       document.getElementById("txtName").value=rowData.Name;
       document.getElementById("txtAddress").value=rowData.Address;
       document.getElementById("txtPhone").value=rowData.Phone;
       document.getElementById("txtEmail").value=rowData.Email;
       document.getElementById("txtNote").value=rowData.Note;
    }

    $("#btnRefresh").click(function(){
        var data=$('#tblContactPersonnel').datagrid('getRows');
        data={"total":""+data.length+"","rows":data};
        $('#tblContactPersonnel').datagrid('loadData',data);
    });


    $("#btnClose").click(function(){
        if(_lBackLink==null || _lBackLink=="")
        {
            window.close();
        }else{
            window.location.href = _lBackLink;
        }
    });

    $(document).keydown(function(e) {
        if(e.which == 27)//escape=27
        {
            window.location.href = _lBackLink;
        }
    });

    /*=================ProgressBar LATEST=============================*/
    function onKeyDwonContactPersonnel(event)
    {
        if(event.which==13 || event.keyCode==13)
        {
            PickContactPersonnel($("#txtContactPersonnel").val());
        }
    }
    $("#txtContactPersonnel").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sSampleInvoiceNo=$.trim($("#txtContactPersonnel").val());
            PickContactPersonnel(sSampleInvoiceNo)
        }
        else if(nkeyCode==8){
            $("#txtContactPersonnel").val("");
        }
    });

    function PickContactPersonnel(txtContactPersonnel)
    {
        var oStyleSearch = { Name:(txtContactPersonnel==undefined?"":txtContactPersonnel),BUID:_nBUID };

        var obj =
            {
                BaseAddress: sessionStorage.getItem('BaseAddress'),
                Object: oStyleSearch,
                ControllerName: "ContractorPersonal", //TechnicalSheet
                ActionName: "GetsByName",//ViewStyleSearch
                IsWinClose: false
            };
        debugger;
        var tblColums = [];
        var oColumn = { field: "Name", title: "Name", width: "170px", align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Phone", title: "Phone", width: "100px", align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Email", title: "Email", width: "100px", align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ContractorName", title: "Contractor", width: "200px", align: "left" }; tblColums.push(oColumn);
        var pickerObj=
            {
                paramObj:obj,
                pickerName:'CPPicker',
                tblColums:tblColums,
                multipleReturn:false,
                searchingField:'Name',
                pkID:'ContactPersonnelID',
                callBack:SetContactPersonnel
            }

        DynamicPiker(pickerObj);
    }
    function SetContactPersonnel(oResult)
    {
        oResult.Contractors=[];
        oResult.Contractors.push(_oSelectedContractor);

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ContractorPersonal/SaveContractor",
            traditional: true,
            data:  JSON.stringify(oResult),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                _oContactPersonnel = jQuery.parseJSON(data);
                if(parseInt(_oContactPersonnel.ContactPersonnelID)>0)
                {
                    alert("Data Saved sucessfully");
                    _oContactPersonnels = $('#tblContactPersonnel').datagrid('getRows');
                    var nIndex=_oContactPersonnels.length;
                    $('#tblContactPersonnel').datagrid('appendRow',_oContactPersonnel);
                    $('#tblContactPersonnel').datagrid('selectRow', nIndex);
                    document.getElementById("txtName").value="";
                    document.getElementById("txtAddress").value="";
                    document.getElementById("txtPhone").value="";
                    document.getElementById("txtEmail").value="";
                    document.getElementById("txtNote").value="";
                }
                else {
                    alert(_oContactPersonnel.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj)
    {
        var oResult;
        if (oPickerobj.multiplereturn)
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getChecked');
        }
        else
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getSelected');
        }
        oPickerobj.callBack(oResult);
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }
    function DynamicPiker(pickerObj)
    {
        debugger;
        $.icsProgressBar(true);
        $.icsDataGets(pickerObj.paramObj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0][pickerObj.pkID] > 0) {
                    debugger;
                    var tblColums = pickerObj.tablecolumns;
                    var oPickerParam = {
                        winid: 'win'+pickerObj.pickerName,
                        winclass: 'cls'+pickerObj.pickerName,
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tbl'+pickerObj.pickerName+'s',
                        tablecolumns: pickerObj.tblColums,
                        datalist: response.objs,
                        multiplereturn: pickerObj.multipleReturn,
                        searchingbyfieldName: pickerObj.searchingField,
                        windowTittle: pickerObj.pickerName+' List',
                        callBack:pickerObj.callBack
                    };
                    $.icsPicker(oPickerParam);
                    $.icsProgressBar(false);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("Data Not Found.");
                $.icsProgressBar(false);
                return;
            }
        });
    }
    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

</script>