@model IEnumerable<ESimSol.BusinessObjects.Contractor>
@{
    ViewBag.Title = "Contractors List";
}
    
<div class="menuMainCollectionTable" style="margin-left: 0px; height: 100%; width:100%">
    <table id="tblContractors" title="Contractor List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
        <thead>
            <tr>
                <th field="ContractorID" width="100" align="left">Code</th>
                <th field="Name" width="150" align="left"> Name </th>
                @*<th field="ContractorTypeInString" width="140" align="left">Contractor Type</th>*@
                <th field="ShortName" width="120" align="left">Short Name</th>
                <th field="Address" width="150" align="left">Address</th>
                <th field="Email" width="160" align="left">Email Address</th>
                <th field="Phone" width="120" align="left">phone Number</th>
                <th field="ActiveInActiveInString" width="60" align="left">Is Active</th>
                <th field="CountryCodeWithName" width="60" align="left">Country</th>
                <th field="IsNeedCutOffInString" width="60" align="left">Need Cut Off</th>
                <th field="UpdateByName" width="120" align="left">Update By</th>
                <th field="LastUpdateDateTimeSt" width="80" align="left">Updated Date</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <table>
            <tr>
                <td>
                    <input type="text" id="txtSearchByName" placeholder="Search by name" style="width:200px" />                    
                    <select id="cboBU" style="width:200px;"></select>
                    <select id="cboContractorType" style="width:200px;"></select>
                    <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
                    <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                    <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                    <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
                    <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                    <a id="btnContactPersonal" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Contact Personnel</a>                    
                    <a id="btnActiveInActive" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Activity</a>
                    <a id="btnImport" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-up" plain="true">Import</a>
                    <a id="btnIssueFigure" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Issue Figure</a>
                    <a id="btnPartyBank" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Party Bank</a>
                    <a id="btnConPaymentSetup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Payment Setup</a>
                    <a id="btnBrandAssign" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="BrandAssign()">Brand Assign</a>
                    <a id="btnBuyerConcern" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Buyer Concern</a>
                    <a id="btnExcelTest" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="false">Export to Excel </a>
                    <a id="btnAddImage" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-attachment" plain="true">Attachment</a>
                    <a id="btnCountrySetup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-setting" plain="true">Country Setup</a>
                    <a id="btnIsNeedCutOff" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-redo" plain="true">Need Cut Off</a>
                    <a id="btnCrystalReport" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-up" plain="true">Crystal Report</a>
                    <a id="btnCustomerPersonalInfo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Customer Info</a>
                    <a id="btnCustomerPersonalInfoExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export Customer info to Excel</a>
                </td>
            </tr>
        </table>
    </div>
</div>


<script type="text/javascript">
    var _oContractors=[];
    var _oBrand = null;
    var _sBaseAddress = "";
    $(document).ready(function () {
        _oContractors =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oAURolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        var oBusinessUnits  = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
        var oContractorTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ContractorTypes));
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));

        sessionStorage.setItem("BUID", nBUID);
        $("#cboBU").icsLoadCombo({List: oBusinessUnits, OptionValue: "BusinessUnitID",DisplayText: "Name", InitialValue:"--Select Business Unit--"});
        $("#cboBU").val(nBUID);
        $("#cboContractorType").icsLoadCombo({List: oContractorTypes, OptionValue: "id",DisplayText: "Value", InitialValue:"--Select Contractor Type--"});

        var oContractors =sessionStorage.getItem("Contractors");
        if(oContractors!=null)
        {
            oContractors = jQuery.parseJSON(oContractors) === null ? _oContractors : jQuery.parseJSON(oContractors);
        }
        else
        {
            oContractors = _oContractors;
        }
        RefreshList(oContractors);
        RefreshControlLayout(oAURolesMapping);
    });

    $('#btnCrystalReport').click(function(){
        var tsv = ((new Date()).getTime()) / 1000;
        window.open(sessionStorage.getItem("BaseAddress")+ "/Contractor/CrystalReportTest?ts="+tsv, "_blank");
    });


    function RefreshList(oContractors)
    {
        var data=oContractors;
        data={"total":""+data.length+"","rows":data};
        $('#tblContractors').datagrid('loadData',data);
        var nIndex =sessionStorage.getItem("SelectedRowIndex");
        if(nIndex!=null)
        {
            $('#tblContractors').datagrid('selectRow', nIndex);
        }
    }

    $('#btnSearch').click(function(){
        debugger;
        var txtSearchByName = $.trim($('#txtSearchByName').val());
        var nBUID = parseInt($("#cboBU").val());
        var nCType = parseInt($("#cboContractorType").val());
        var oContractor={ Params : $.trim($('#txtSearchByName').val()) + "~" + nBUID + "~" + nCType };
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem("BaseAddress")+"/Contractor/BUAndTypeWiseContractorSearch",
            traditional: true,
            data:  JSON.stringify(oContractor),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  oContractors = data;
                if (oContractors.length>0)
                {
                    if((oContractors[0].ErrorMessage==null || oContractors[0].ErrorMessage==""))
                    {
                        sessionStorage.setItem("SelectedRowIndex", null);
                        RefreshList(oContractors);
                    }
                    else
                    {
                        alert(oContractors[0].ErrorMessage);
                    }
                }
                else
                {
                    alert("Data Not found.");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });

    $('#txtSearchByName').keyup(function (e) {
        debugger;
        if (e.which == 13){
            var txtSearchByName = $.trim($('#txtSearchByName').val());
            var nBUID = parseInt(sessionStorage.getItem("BUID"));
            var oContractor={ Params : $.trim($('#txtSearchByName').val()) + "~" + nBUID + "~" + 0 };
            $.ajax({
                type: "POST",
                dataType: "json",
                url : sessionStorage.getItem("BaseAddress")+"/Contractor/BUAndTypeWiseContractorSearch",
                traditional: true,
                data:  JSON.stringify(oContractor),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var  oContractors = data;
                    if (oContractors.length>0)
                    {
                        if((oContractors[0].ErrorMessage==null || oContractors[0].ErrorMessage==""))
                        {
                            sessionStorage.setItem("SelectedRowIndex", null);
                            RefreshList(oContractors);
                        }
                        else
                        {
                            alert(oContractors[0].ErrorMessage);
                        }
                    }
                    else
                    {
                        alert("Data Not found.");
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
        
    });

    function BuyerGroup()
    {
        var oParameter = new Object();
        oParameter.Name = "Buyer Group List";
        var tsv=((new Date()).getTime())/1000;
        var url =sessionStorage.getItem("BaseAddress")+ "/Contractor/ViewBuyerGroups?ts="+tsv;
        var oBuyerGroups = window.showModalDialog(url, oParameter, 'dialogHeight:488px;dialogWidth:790px;dialogLeft:300;dialogTop:140;center:yes;resizable:no;status:no;scroll:no');
    }

    function BuildingConfigure()
    {
        var oContractor= $('#tblContractors').datagrid('getSelected');
        if(oContractor==null || oContractor.ContractorID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(oContractor.ContractorType!=3)//Factory = 2,
        {
            alert("Please select a Factory!");
            return;
        }
        var oParameter = new Object();
        oParameter.Name = "Building Configure";
        var tsv=((new Date()).getTime())/1000;
        var url =sessionStorage.getItem("BaseAddress")+ "/Building/ViewBuildingConfigure?id="+oContractor.ContractorID+"&ts="+tsv;
        var oBuildings = window.showModalDialog(url, oParameter, 'dialogHeight:485px;dialogWidth:815px;dialogLeft:300;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
    }

    $("#btnActiveInActive").click(function(){
        var bIsActive = null;
        var oContractor = $('#tblContractors').datagrid('getSelected');
        if(oContractor==null || parseInt(oContractor.ContractorID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oContractor.IsActiveInInt)==1)
        {
            if (!confirm("Confirm to In Active?")) return ;
            bIsActive =false;
        }
        else
        {
            if (!confirm("Confirm to Active?")) return ;
            bIsActive =true;
        }
        var SelectedRowIndex=$('#tblContractors').datagrid('getRowIndex',oContractor);
        $.ajax
        ({
            type: "GET",
            dataType: "json",
            url : sessionStorage.getItem("BaseAddress")+ "/Contractor/CommitActivity",
            data: { id: oContractor.ContractorID, IsActive:bIsActive},
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oContractor = jQuery.parseJSON(data);
                if (parseInt(oContractor.ContractorID)>0)
                {
                    if(bIsActive ==true)
                    {
                        alert("Active sucessfully");
                    }else
                    {
                        alert("In Active sucessfully");
                    }
                    $('#tblContractors').datagrid('updateRow',{index: SelectedRowIndex,row: oContractor});
                }
                else
                {
                    alert(oContractor.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    });

    $("#btnContactPersonal").click(function(){
        var oContractor= $('#tblContractors').datagrid('getSelected');
        if(oContractor==null || oContractor.ContractorID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var nBUID = parseInt($("#cboBU").val());
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblContractors').datagrid('getRowIndex',oContractor);
        var oContractors= $('#tblContractors').datagrid('getRows');
        var sURL=window.location.href;
        sessionStorage.setItem("ContractorBackTo", sURL);
        sessionStorage.setItem("Contractors", JSON.stringify(oContractors));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ContractorHeader", "Add ContactPersonnel");
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/Contractor/ViewContactPersonnel?id="+oContractor.ContractorID+"&buid="+nBUID+"&ts="+tsv;


    });


    $("#btnAdd").click(function(){

        var oContractors= $('#tblContractors').datagrid('getRows');
        var sURL=window.location.href;
        sessionStorage.setItem("ContractorBackTo", sURL);
        sessionStorage.setItem("Contractors", JSON.stringify(oContractors));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("ContractorHeader", "Add Contractor");
        var tsv=((new Date()).getTime())/1000;
        window.location.href = sessionStorage.getItem("BaseAddress")+ "/Contractor/ViewContractor?id=0&ts="+tsv;


    });

    $("#btnCustomerPersonalInfo").click(function(){

        var oContractor= $('#tblContractors').datagrid('getSelected');
        if(oContractor==null || oContractor.ContractorID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblContractors').datagrid('getRowIndex',oContractor);
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblContractors').datagrid('getRowIndex',oContractor);
        var oContractors= $('#tblContractors').datagrid('getRows');


        sessionStorage.setItem("Contractors", JSON.stringify(oContractors));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = sessionStorage.getItem("BaseAddress")+ "/Contractor/ViewCustomerPersonalInfo?id="+oContractor.ContractorID+"&ts="+tsv;


    });
    $("#btnCustomerPersonalInfoExcel").click(function(){
        var oContractors= $('#tblContractors').datagrid('getRows');
        var nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));

        var oContractor = {
            Name:ICS_PropertyConcatation(oContractors,"ContractorID")
        }
        debugger;
        $.ajax
        ({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem("BaseAddress")+ "/Contractor/SetSessionSearchCriteria",
            data:  JSON.stringify(oContractor),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(sessionStorage.getItem("BaseAddress")+'/Contractor/ExcelCustomerPersonalInfo?nBuid='+nBUID,"_blank");
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    });
    $("#btnEdit").click(function(){
        var oContractor= $('#tblContractors').datagrid('getSelected');
        if(oContractor==null || oContractor.ContractorID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblContractors').datagrid('getRowIndex',oContractor);
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblContractors').datagrid('getRowIndex',oContractor);
        var oContractors= $('#tblContractors').datagrid('getRows');
        var sURL=window.location.href;
        sessionStorage.setItem("ContractorBackTo", sURL);
        sessionStorage.setItem("Contractors", JSON.stringify(oContractors));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ContractorHeader", "Edit Contractor");
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/Contractor/ViewContractor?id="+oContractor.ContractorID+"&ts="+tsv;

    });
    $("#btnConPaymentSetup").click(function(){
        var oContractor= $('#tblContractors').datagrid('getSelected');
        if(oContractor==null || oContractor.ContractorID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblContractors').datagrid('getRowIndex',oContractor);
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblContractors').datagrid('getRowIndex',oContractor);
        var oContractors= $('#tblContractors').datagrid('getRows');
        var sURL=window.location.href;
        sessionStorage.setItem("ContractorBackTo", sURL);
        sessionStorage.setItem("Contractors", JSON.stringify(oContractors));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ContractorHeader", "Payment Setup");
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/ContractorPaymentSetup/ViewContractorPaymentSetup?id="+oContractor.ContractorID+"&ts="+tsv;

    });

    $("#btnView").click(function(){
        var oContractor= $('#tblContractors').datagrid('getSelected');
        if(oContractor==null || oContractor.ContractorID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblContractors').datagrid('getRowIndex',oContractor);
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblContractors').datagrid('getRowIndex',oContractor);
        var oContractors= $('#tblContractors').datagrid('getRows');
        var sURL=window.location.href;
        sessionStorage.setItem("ContractorBackTo", sURL);
        sessionStorage.setItem("Contractors", JSON.stringify(oContractors));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ContractorHeader", "View Contractor");
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/Contractor/ViewContractor?id="+oContractor.ContractorID+"&ts="+tsv;
    });

    $("#btnDelete").click(function(){
        var oContractor= $('#tblContractors').datagrid('getSelected');
        if (!confirm("Confirm to Delete?")) return ;

        if(oContractor==null || oContractor.ContractorID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        var SelectedRowIndex=$('#tblContractors').datagrid('getRowIndex',oContractor);
        if (oContractor.ContractorID > 0)
        {
            $.ajax
            ({
                type: "POST",
                dataType: "json",
                url : sessionStorage.getItem("BaseAddress")+  "/Contractor/Delete",
                traditional: true,
                data:  JSON.stringify(oContractor),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Delete sucessfully")
                    {
                        alert("Delete sucessfully");
                        $('#tblContractors').datagrid('deleteRow',SelectedRowIndex);
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
        }
    });

    $("#btnPartyBank").click(function(){
        var oContractor= $('#tblContractors').datagrid('getSelected');
        if(oContractor==null || oContractor.ContractorID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblContractors').datagrid('getRowIndex',oContractor);
        var tsv=((new Date()).getTime())/1000;
        var oContractors= $('#tblContractors').datagrid('getRows');

        sessionStorage.setItem("Contractors", JSON.stringify(oContractors));
        sessionStorage.setItem("ContractorBackTo", window.location.href);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("PartyWiseBanksHeader", "Party Bank List For: "+oContractor.Name);
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/PartyWiseBank/ViewPartyWiseBanks?id="+oContractor.ContractorID;
    });
    $("#btnIssueFigure").click(function(){
        var oContractor= $('#tblContractors').datagrid('getSelected');
        if(oContractor==null || oContractor.ContractorID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblContractors').datagrid('getRowIndex',oContractor);
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblContractors').datagrid('getRowIndex',oContractor);
        var oContractors= $('#tblContractors').datagrid('getRows');
        var sURL=window.location.href;
        sessionStorage.setItem("ContractorBackTo", sURL);
        sessionStorage.setItem("Contractors", JSON.stringify(oContractors));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("IssueFiguresHeader", "Issue Figure List For: "+oContractor.Name);
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/IssueFigure/ViewIssueFigures?id="+oContractor.ContractorID;

    });

    $("#btnImport").click(function(){
        var sURL=window.location.href;
        sessionStorage.setItem("ContractorBackTo", sURL);
        sessionStorage.setItem("Contractors", JSON.stringify(null));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("ContractorHeader", "Import Contractor");
        window.location.href = sessionStorage.getItem("BaseAddress")+ "/Contractor/ImportFromExcel";
    });

    function RefreshControlLayout(oAURolesMapping)
    {
        $("#btnSearch").hide();
        $("#btnAdd").hide();
        $("#btnEdit").hide();
        $("#btnView").hide();
        $("#btnDelete").hide();
        $("#btnContactPersonal").hide();
        $("#btnActiveInActive").hide();
        $("#btnImport").hide();
        $("#btnIssueFigure").hide();
        $("#btnPartyBank").hide();

        $("#btnConPaymentSetup").hide();
        $("#btnBrandAssign").hide();
        $("#btnBuyerConcern").hide();
        $("#btnExcelTest").hide();
        $("#btnAddImage").hide();

        if(PermissionChecker('AdvSearch','Contractor',oAURolesMapping)){$("#btnSearch").show();}
        if(PermissionChecker('Add','Contractor',oAURolesMapping)){$("#btnAdd").show();}
        if(PermissionChecker('Edit','Contractor',oAURolesMapping)){$("#btnEdit").show();}
        if(PermissionChecker('View','Contractor',oAURolesMapping)){$("#btnView").show();}
        if(PermissionChecker('Delete','Contractor', oAURolesMapping)){$("#btnDelete").show();}
        if(PermissionChecker('Add','Contractor',oAURolesMapping)){$("#btnContactPersonal").show();}
        if(PermissionChecker('Add','Contractor',oAURolesMapping)){$("#btnActiveInActive").show();}
        if(PermissionChecker('Add','Contractor',oAURolesMapping)){$("#btnImport").show();}
        if(PermissionChecker('Add','Contractor',oAURolesMapping)){$("#btnIssueFigure").show();}
        if(PermissionChecker('Add','Contractor',oAURolesMapping)){$("#btnPartyBank").show();}

        if(PermissionChecker('Add','Contractor',oAURolesMapping)){$("#btnConPaymentSetup").show();}
        if(PermissionChecker('Add','Contractor',oAURolesMapping)){$("#btnBrandAssign").show();}
        if(PermissionChecker('Add','Contractor',oAURolesMapping)){$("#btnBuyerConcern").show();}
        if(PermissionChecker('PrintList','Contractor',oAURolesMapping)){$("#btnExcelTest").show();}
        if(PermissionChecker('Add','Contractor',oAURolesMapping)){$("#btnAddImage").show();}
    }

    function BrandAssign()
    {
        var oBuyer = $('#tblContractors').datagrid('getSelected');
        if(oBuyer ==null || oBuyer.ContractorID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var oBrand = {BuyerID:oBuyer.ContractorID};
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oBrand,
            ControllerName: "Brand",
            ActionName: "AssignBrands",
            IsWinClose: false
        };
        $.icsDataGet(obj, function (response) {
            debugger;
            if (response.status && response.obj.Brands.length > 0) {
                _oBrand = response.obj;
                if (_oBrand.Brands[0].BrandID > 0) {
                    debugger;
                    var tblColums = []; var oColumn = { field: "BrandCode", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BrandName", title: "Brand Name", width: 150, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "EmailAddress", title: "Email", width: 120, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winBrands',
                        winclass: 'clsBrand',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblBrands',
                        tablecolumns: tblColums,
                        datalist: _oBrand.Brands,
                        multiplereturn: true,
                        searchingbyfieldName: 'BrandName',
                        windowTittle: 'Brand List'
                    };
                    $.icsPicker(oPickerParam);
                    if(_oBrand.BuyerWiseBrands.length>0)
                    {
                        var oBrands = $('#tblBrands').datagrid('getRows');
                        for(var i =0;i<_oBrand.BuyerWiseBrands.length;i++)
                        {
                            for(var j =0;j<oBrands.length;j++)
                            {
                                if(_oBrand.BuyerWiseBrands[i].BrandID == oBrands[j].BrandID)
                                {
                                    $('#tblBrands').datagrid('checkRow', j);
                                    break;
                                }
                            }
                        }
                    }

                    SetButtonControl(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not found.");
                return;
            }

        });
    }

    function SetButtonControl(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            var oBrands = $('#tblBrands').datagrid('getRows');
            var oBrandCheckeds = $('#tblBrands').datagrid('getChecked');
            $("#" + oPickerobj.winid).icsWindow("close");
            $("#" + oPickerobj.winid).remove();

            var oBuyerWiseBrand = {};
            if(parseInt(oBrands.length)!= parseInt(_oBrand.Brands.length))
            {
                oBuyerWiseBrand.IsShortList = true;
            }else
            {
                oBuyerWiseBrand.IsShortList = false;
            }
            oBuyerWiseBrand.IsBuyerBased = true;
            oBuyerWiseBrand.BuyerWiseBrands=RefreshObjects(oBrandCheckeds);
            oBuyerWiseBrand.BuyerID= _oBrand.BuyerID;
            $.ajax({
                type: "POST",
                dataType: "json",
                url : sessionStorage.getItem("BaseAddress")+"/Brand/CommitBuyerWiseBrand",
                traditional: true,
                data:  JSON.stringify(oBuyerWiseBrand),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    sfeedBackMessage= jQuery.parseJSON(data);
                    if (sfeedBackMessage=="Succefully Saved")
                    {
                        alert("Data Save Successfully!!");
                    }
                    else
                    {
                        alert(sfeedBackMessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
        });

    }

    function RefreshObjects(oBrandCheckeds)
    {
        debugger;
        var oBuyerWiseBrands =[];
        for(var i =0;i<oBrandCheckeds.length;i++)
        {
            var oBuyerWiseBrand= {
                BuyerWiseBrandID :GetBuyerWiseBrandID(oBrandCheckeds[i].BrandID),
                BrandID :oBrandCheckeds[i].BrandID,
                BuyerID :_oBrand.BuyerID
            };
            oBuyerWiseBrands.push(oBuyerWiseBrand);
        }
        return oBuyerWiseBrands;
    }

    function GetBuyerWiseBrandID(nBrandID)
    {
        debugger;
        for(var i =0;i<_oBrand.BuyerWiseBrands.length;i++)
        {
            if(parseInt(_oBrand.BuyerWiseBrands[i].BrandID) == parseInt(nBrandID))
            {
                return _oBrand.BuyerWiseBrands[i].BuyerWiseBrandID;
            }
        }
        return 0;
    }

    $("#btnBuyerConcern").click(function () {
        var oContractor= $('#tblContractors').datagrid('getSelected');
        if(oContractor==null || oContractor.ContractorID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblContractors').datagrid('getRowIndex',oContractor);
        var oContractors= $('#tblContractors').datagrid('getRows');
        var sURL=window.location.href;
        sessionStorage.setItem("ContractorBackTo", sURL);
        sessionStorage.setItem("Contractors", JSON.stringify(oContractors));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ContractorHeader", "Buyer Concern");
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/Contractor/ViewBuyerConcern?id="+oContractor.ContractorID+"&ts="+tsv;

    });

    $("#btnExcelTest").click(function(){
        var txtSearchByName = $.trim($('#txtSearchByName').val());
        var nBUID = parseInt($("#cboBU").val());
        var nCType = parseInt($("#cboContractorType").val());
        sParams =  $.trim($('#txtSearchByName').val()) + "~" + nBUID + "~" + nCType;
        window.open(sessionStorage.getItem("BaseAddress")+'/Contractor/PrintXL?sParams='+sParams, "_blank");
    });

    $('#btnAddImage').click(function (e)
    {
        var oContractor= $('#tblContractors').datagrid('getSelected');
        if(oContractor==null || oContractor.ContractorID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        //EnumAttchRefType : Contractor = 5
        window.open(sessionStorage.getItem("BaseAddress") + '/AttachDocument/Attachment?id='+parseInt(oContractor.ContractorID)+'&RefType=5&OperationInfo= Selected Contractor : '+ oContractor.Name, '_blank');
    });

    $('#btnCountrySetup').click(function(){
        var oContractor= $('#tblContractors').datagrid('getSelected');
        if(oContractor==null || oContractor.ContractorID<=0)
        {
            alert("Please select a item from list!");
            return;
        }

        var oCountry = { Name: ''};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oCountry,
            ControllerName: "Country",
            ActionName: "GetsByName",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].CountryID > 0) {

                    var tblColums = []; var oColumn = { field: "Code", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 120, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winCountrys',
                        winclass: 'clsCountry',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblCountrys',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'Code',
                        windowTittle: 'Country List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                    debugger;
                    var oCountryList = $('#tblCountrys').datagrid('getRows');
                    for(var i =0;i<oCountryList.length;i++)
                    {
                        if(parseInt(oCountryList[i].CountryID)==parseInt(oContractor.CountryID))
                        {
                            $('#tblCountrys').datagrid('selectRow',i);
                            break;
                        }
                    }
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
        });

    });

    function IntializePickerbutton(oPickerobj) {

        $("#" + oPickerobj.winid).find("#btnOk").click(function () {

            //for Single Select
            PickerEvents(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                PickerEvents(oPickerobj);
            }
        });
    }
    function PickerEvents(oPickerobj) {
        var oreturnobj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn)
        {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else
        {
            oreturnobj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }

        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        if (oPickerobj.winclass == 'clsCountry')
        {

            var oTempContractor= $('#tblContractors').datagrid('getSelected');
            if(oTempContractor==null || oTempContractor.ContractorID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            var SelectedRowIndex=$('#tblContractors').datagrid('getRowIndex',oTempContractor);
            var oContractor = {
                ContractorID: oTempContractor.ContractorID,
                CountryID : oreturnobj.CountryID
            };

            $.ajax({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+"/Contractor/UpdateCountry",
                traditional: true,
                data: JSON.stringify(oContractor),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    oContractor = jQuery.parseJSON(data);
                    if(oContractor!=null)
                    {
                        if(oContractor.ErrorMessage=="" || oContractor.ErrorMessage == null)
                        {
                            alert("Saved Successful");

                            $('#tblContractors').datagrid('updateRow',{
                                index: SelectedRowIndex,
                                row: oContractor
                            });

                        }
                        else
                        {
                            alert(oContractor.ErrorMessage);

                        }
                    }
                    else
                    {
                        alert("Invalid Operation!");
                    }

                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });

        }
    }

    $("#btnIsNeedCutOff").click(function(){
        var oContractor= $('#tblContractors').datagrid('getSelected');
        if(oContractor==null || oContractor.ContractorID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblContractors').datagrid('getRowIndex',oContractor);
        //var r = confirm("Are you sure want to Need Cut Off?");

        var tmpVar = oContractor.IsNeedCutOff;
        if(tmpVar == true){
            var r = confirm("Are you sure want to Need Cut Off Inactive?");
            flag = false;
        }

        if(tmpVar == false || tmpVar == null || tmpVar == ''){
            var r = confirm("Are you sure want to Need Cut Off Active?");
            flag = true;
        }

        if (r == false) return;


        var oContract = {
            ContractorID: oContractor.ContractorID,
            IsNeedCutOff : flag
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/Contractor/UpdateNeedCutOff",
            traditional: true,
            data: JSON.stringify(oContract),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oContractor = jQuery.parseJSON(data);
                if(oContractor!=null)
                {
                    if(oContractor.ErrorMessage=="" || oContractor.ErrorMessage == null)
                    {
                        alert("Saved Successful");

                        $('#tblContractors').datagrid('updateRow',{
                            index: SelectedRowIndex,
                            row: oContractor
                        });

                    }
                    else
                    {
                        alert(oContractor.ErrorMessage);

                    }
                }
                else
                {
                    alert("Invalid Operation!");
                }

            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });

</script>

