@{
    ViewBag.Title = "Delivery Challan List";
}
@model IEnumerable<ESimSol.BusinessObjects.TradingDeliveryChallan>
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable">
        <div style="margin-left:0px; height:100%; width:100%; font-family:Tahoma">
            <table id="tblTradingDeliveryChallans" title="Delivery Challan List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
                <thead>
                    <tr>
                        <th field="ChallanNo" width="90">Challan No</th>
                        <th field="InvoiceNo" width="90">Invoice No</th>
                        <th field="ChallanDateST" width="90">Challan Date</th>
                        <th field="BuyerName" width="130">Buyer</th>
                        <th field="StoreName" width="120">Disburse Store</th>
                        <th field="DeliveryByName" width="120">Delivery By</th>
                        <th field="CurrencyName" width="60">Currency</th>
                        <th field="TotalQty" width="100" align="right" formatter="formatPrice">Total Quantity</th>
                        <th field="NetAmount" width="100" formatter="formatPrice" align="right">Net Amount</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbar">
                <input type="text" id="txtSearchByChallanNo" placeholder="Search by Challan No" style="width:150px" />
                <input type="text" id="txtSearchByInvoiceNo" placeholder="Search by InvoiceNo" style="width:150px" />
                <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv Search</a>
                <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
                <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                <a id="btnWaitForDisburse" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Wait for Disburse</a>
                <a id="btnDisburse" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Disburse</a>
                <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                <a id="btnPrintList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print List</a>
            </div>
        </div>

        <div id="winAdvanceSearch" class="easyui-window" title="Advance Search" style="width:540px;height:305px;padding:2px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div>
                <fieldset>
                    <legend style="font-weight:bold"> Searching Criteria : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                        <tr>
                            <td style="width:170px; text-align:right">
                                Challan No :
                            </td>
                            <td style="width:370px">
                                <input type="text" style="width: 370px;" id="txtChallanNo" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:170px; text-align:right">
                                Invocie No :
                            </td>
                            <td style="width:370px">
                                <input type="text" style="width: 370px;" id="txtInvocieNo" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:170px; text-align:right">
                                Challan Date :
                            </td>
                            <td style="width:370px">
                                <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                                    <tr>
                                        <td style="width: 120px; font-size: 12px; text-align: left">
                                            <select id="cboChallanDate" style="width:120px"></select>
                                        </td>
                                        <td style="width: 120px; font-size: 12px">
                                            <input id="txtTradingDeliveryChallanStartDate" type="text" style="width: 120px;" class="easyui-datebox" disabled="disabled" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                        </td>
                                        <td style="width: 10px; font-size: 12px">
                                            To
                                        </td>
                                        <td style="width: 120px; font-size: 12px">
                                            <input id="txtTradingDeliveryChallanEndDate" type="text" style="width: 120px;" class="easyui-datebox" disabled="disabled" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:170px; text-align:right">
                                Challan Amount :
                            </td>
                            <td style="width:370px">
                                <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                                    <tr>
                                        <td style="width: 120px; font-size: 12px; text-align: left">
                                            <select id="cboTradingDeliveryChallanAmount" style="width:120px"></select>
                                        </td>
                                        <td style="width: 120px; font-size: 12px">
                                            <input id="txtTradingDeliveryChallanAmountStart" style="width:114px" />
                                        </td>
                                        <td style="width: 10px; font-size: 12px">
                                            To
                                        </td>
                                        <td style="width: 120px; font-size: 12px">
                                            <input id="txtTradingDeliveryChallanAmountEnd" style="width:114px" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:170px; text-align:right">
                                Delivery By :
                            </td>
                            <td style="width:370px">
                                <select id="cboDeliveryBy" style="width:375px"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:170px; text-align:right">
                                Buyer(s) :
                            </td>
                            <td style="width:370px">
                                <input type="text" style="width: 282px;" id="txtBuyerName" placeholder="Press enter with Buyer name/code" />
                                <input type="button" style="width: 30px;" id="btnBuyerClear" value="C" />
                                <input type="button" style="width: 50px;" id="btnBuyerPicker" value="Pick" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:170px; text-align:right">
                                Product(s) :
                            </td>
                            <td style="width:370px">
                                <input type="text" style="width: 282px;" id="txtProductName" placeholder="Press enter with product name/code" />
                                <input type="button" style="width: 30px;" id="btnProductClear" value="C" />
                                <input type="button" style="width: 50px;" id="btnProductPicker" value="Pick" />
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <fieldset style="width:99%; vertical-align:top;">
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold;">
                    <tr>
                        <td style="width:100px;text-align:right">
                            <a id="btnAdvSearchReset" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"> Reset</a>
                        </td>
                        <td style="width:408px;text-align:right;">
                            <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                            <a id="btnAdvSearchClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
        var nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oDeliveryUsers=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.DeliveryUsers));
        var oDateCompareOperatorObjs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.DateCompareOperatorObjs));
        var oAmountCompareOperatorObjs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.AmountCompareOperatorObjs));
        var oTradingDeliveryChallans =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oAURolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        var oTempTradingDeliveryChallans =sessionStorage.getItem("TradingDeliveryChallans");

        if(oTempTradingDeliveryChallans!=null)
        {
            oTradingDeliveryChallans = jQuery.parseJSON(oTempTradingDeliveryChallans);
        }
        RefreshList(oTradingDeliveryChallans);
        RefreshControlLayout(oAURolesMapping);
        sessionStorage.setItem("BUID", nBUID);
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        $('#txtBuyerName').data('Buyers', []);
        $('#txtProductName').data('Products', []);
        $('#cboDeliveryBy').data('DeliveryUsers', oDeliveryUsers);
        $('#cboChallanDate').data('DateCompareOperatorObjs', oDateCompareOperatorObjs);
        $('#cboTradingDeliveryChallanAmount').data('AmountCompareOperatorObj', oAmountCompareOperatorObjs);
        $('#tblTradingDeliveryChallans').data('TradingDeliveryChallans', oTradingDeliveryChallans);
        $('#txtTradingDeliveryChallanAmountStart,#txtTradingDeliveryChallanAmountEnd').icsCurrencyBox();
    });

    $('#btnWaitForDisburse').click(function (e) {
        var oTradingDeliveryChallan = {
            TradingDeliveryChallanID : 0,
            BUID : parseInt(sessionStorage.getItem("BUID"))
        };

        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: sessionStorage.getItem("BaseAddress")+  "/TradingDeliveryChallan/WaitForDisburse",
            data:  JSON.stringify(oTradingDeliveryChallan),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  oTradingDeliveryChallans = jQuery.parseJSON(data);
                if (oTradingDeliveryChallans != null) {
                    if(oTradingDeliveryChallans.length>0)
                    {
                        if(oTradingDeliveryChallans[0].ErrorMessage=="")
                        {
                            RefreshList(oTradingDeliveryChallans);
                            $('#tblTradingDeliveryChallans').data('TradingDeliveryChallans', oTradingDeliveryChallans);
                        }
                        else
                        {
                            alert(oTradingDeliveryChallans[0].ErrorMessage);
                        }
                    }
                    else
                    {
                        alert("Data not found!!");
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#btnEdit').click(function (e) {
        var oTradingDeliveryChallan= $('#tblTradingDeliveryChallans').datagrid('getSelected');
        if(oTradingDeliveryChallan.DeliveryByName!=''&& oTradingDeliveryChallan.DeliveryByName!=null){
            alert("It's already Disbursed");
            return;
        }
        if(oTradingDeliveryChallan==null || parseInt(oTradingDeliveryChallan.TradingDeliveryChallanID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oTradingDeliveryChallan.DeliveryBy)!=0)
        {
            alert("Your selected Invaoice already Disburse!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblTradingDeliveryChallans').datagrid('getRowIndex',oTradingDeliveryChallan);
        var oTradingDeliveryChallans= $('#tblTradingDeliveryChallans').datagrid('getRows');
        sessionStorage.setItem("TradingDeliveryChallans", JSON.stringify(oTradingDeliveryChallans));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("TradingDeliveryChallanHeader", "Edit Delivery Challan");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/TradingDeliveryChallan/ViewTradingDeliveryChallan?id="+oTradingDeliveryChallan.TradingDeliveryChallanID+"&siid=0&ts="+tsv;
    });

    $("#btnView").click(function(){
        var oTradingDeliveryChallan= $('#tblTradingDeliveryChallans').datagrid('getSelected');
        if(oTradingDeliveryChallan==null || oTradingDeliveryChallan.TradingDeliveryChallanID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblTradingDeliveryChallans').datagrid('getRowIndex',oTradingDeliveryChallan);
        var oTradingDeliveryChallans= $('#tblTradingDeliveryChallans').datagrid('getRows');
        sessionStorage.setItem("TradingDeliveryChallans", JSON.stringify(oTradingDeliveryChallans));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("TradingDeliveryChallanHeader", "View Delivery Challan");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/TradingDeliveryChallan/ViewTradingDeliveryChallan?id="+oTradingDeliveryChallan.TradingDeliveryChallanID+"&siid=0&ts="+tsv;
    });

    $('#btnDelete').click(function (e) {
        var oTradingDeliveryChallan = $('#tblTradingDeliveryChallans').datagrid('getSelected');
        if(oTradingDeliveryChallan==null || oTradingDeliveryChallan.TradingDeliveryChallanID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oTradingDeliveryChallan.DeliveryBy)!=0)
        {
            alert("Please selected purchase TradingDeliveryChallan already Disburse!");
            return;
        }
        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblTradingDeliveryChallans').datagrid('getRowIndex',oTradingDeliveryChallan);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: sessionStorage.getItem("BaseAddress")+ "/TradingDeliveryChallan/Delete",
            traditional: true,
            data:  JSON.stringify(oTradingDeliveryChallan),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                feedbackmessage = jQuery.parseJSON(data);
                if (feedbackmessage == "Data delete successfully")
                {
                    alert("Delete sucessfully");
                    $('#tblTradingDeliveryChallans').datagrid('deleteRow',SelectedRowIndex);
                }
                else
                {
                    alert(feedbackmessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#btnDisburse').click(function (e) {
        var oTradingDeliveryChallan= $('#tblTradingDeliveryChallans').datagrid('getSelected');
        if(oTradingDeliveryChallan.DeliveryByName!=''&& oTradingDeliveryChallan.DeliveryByName!=null){
            alert("It's already Disbursed");
            return;
        }
        if(oTradingDeliveryChallan==null || oTradingDeliveryChallan.TradingDeliveryChallanID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblTradingDeliveryChallans').datagrid('getRowIndex',oTradingDeliveryChallan);
        var oTradingDeliveryChallans= $('#tblTradingDeliveryChallans').datagrid('getRows');
        sessionStorage.setItem("TradingDeliveryChallans", JSON.stringify(oTradingDeliveryChallans));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("TradingDeliveryChallanHeader", "Disburse Delivery Challan");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/TradingDeliveryChallan/ViewTradingDeliveryChallan?id="+oTradingDeliveryChallan.TradingDeliveryChallanID+"&siid=0&ts="+tsv;
    });

    function RefreshList(oTradingDeliveryChallans)
    {
        data = oTradingDeliveryChallans;
        data={"total":""+data.length+"","rows":data};
        $('#tblTradingDeliveryChallans').datagrid('loadData',data);
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        $('#tblTradingDeliveryChallans').datagrid('selectRow',nIndex);
    }

    $('#btnPreview').click(function (e) {
        debugger;
        var oTradingDeliveryChallan = $('#tblTradingDeliveryChallans').datagrid('getSelected');
        if(oTradingDeliveryChallan==null || oTradingDeliveryChallan.TradingDeliveryChallanID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var tsv = ((new Date()).getTime())/1000;
        window.open(sessionStorage.getItem("BaseAddress")+'/TradingDeliveryChallan/PrintTradingDeliveryChallan?id='+oTradingDeliveryChallan.TradingDeliveryChallanID+"&ts="+tsv, "_blank")
    });

    $('#btnPrintList').click(function (e) {
        var oTradingDeliveryChallans= $('#tblTradingDeliveryChallans').datagrid('getRows');
        var ids ="";
        if(oTradingDeliveryChallans.length >0)
        {
            for(var i =0;i<oTradingDeliveryChallans.length;i++)
            {
                ids =ids+oTradingDeliveryChallans[i].TradingDeliveryChallanID+",";
            }
            ids= ids.substring(0, ids.length - 1);
        }
        else{
            return;
        }
        var tsv = ((new Date()).getTime())/1000;
        window.open(sessionStorage.getItem("BaseAddress") + '/TradingDeliveryChallan/PrintTradingDeliveryChallans?ids='+ids+"&ts="+tsv, "_blank");
    });

    //Start Search
    function RefreshComboBoxControls()
    {
        var oDeliveryUsers = $('#cboDeliveryBy').data('DeliveryUsers');
        var oDateCompareOperatorObjs = $('#cboChallanDate').data('DateCompareOperatorObjs');
        var oAmountCompareOperatorObjs = $('#cboTradingDeliveryChallanAmount').data('AmountCompareOperatorObj');
        $("#cboDeliveryBy").icsLoadCombo({ List: oDeliveryUsers, OptionValue: "UserID", DisplayText: "UserName" });
        $("#cboChallanDate").icsLoadCombo({ List: oDateCompareOperatorObjs, OptionValue: "id", DisplayText: "Value" });
        $("#cboTradingDeliveryChallanAmount").icsLoadCombo({ List: oAmountCompareOperatorObjs, OptionValue: "id", DisplayText: "Value" });
    }

    function ValidateSearch()
    {
        var sChallanNo =$.trim($('#txtChallanNo').val());
        var sInvocieNo =$.trim($('#txtInvocieNo').val());
        var nChallanDate = parseInt($('#cboChallanDate').val());
        if(nChallanDate===1 || nChallanDate===2 || nChallanDate===3 || nChallanDate===4)
        {
            var sTradingDeliveryChallanStartDate   = $('#txtTradingDeliveryChallanStartDate').datebox('getValue');
            if(sTradingDeliveryChallanStartDate===null || sTradingDeliveryChallanStartDate==="")
            {
                alert("Please select TradingDeliveryChallan start date!");
                $('#txtTradingDeliveryChallanStartDate').focus();
                return false;
            }
        }
        if(nChallanDate===5 || nChallanDate===6)
        {
            var sTradingDeliveryChallanStartDate   = $('#txtTradingDeliveryChallanStartDate').datebox('getValue');
            var sTradingDeliveryChallanEndDate   = $('#txtTradingDeliveryChallanEndDate').datebox('getValue');
            if(sTradingDeliveryChallanStartDate===null || sTradingDeliveryChallanStartDate==="")
            {
                alert("Please select TradingDeliveryChallan start date!");
                $('#txtTradingDeliveryChallanStartDate').focus();
                return false;
            }
            if(sTradingDeliveryChallanEndDate===null || sTradingDeliveryChallanEndDate==="")
            {
                alert("Please select TradingDeliveryChallan end date!");
                $('#txtTradingDeliveryChallanEndDate').focus();
                return false;
            }
            if(new Date(sTradingDeliveryChallanStartDate) > new Date(sTradingDeliveryChallanEndDate))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtTradingDeliveryChallanStartDate').focus();
                return false;
            }
        }

        var nTradingDeliveryChallanAmount = parseInt($('#cboTradingDeliveryChallanAmount').val());
        if(nTradingDeliveryChallanAmount===1 || nTradingDeliveryChallanAmount===2 || nTradingDeliveryChallanAmount===3 || nTradingDeliveryChallanAmount===4)
        {
            var sTradingDeliveryChallanAmountStart   = $.trim($('#txtTradingDeliveryChallanAmountStart').val());
            if(sTradingDeliveryChallanAmountStart===null || sTradingDeliveryChallanAmountStart==="")
            {
                alert("Please enter TradingDeliveryChallan start Amount!");
                $('#txtTradingDeliveryChallanAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sTradingDeliveryChallanAmountStart)<=0)
            {
                alert("Please enter TradingDeliveryChallan start Amount!");
                $('#txtTradingDeliveryChallanAmountStart').focus();
                return false;
            }
        }
        if(nTradingDeliveryChallanAmount===5 || nTradingDeliveryChallanAmount===6)
        {
            var sTradingDeliveryChallanAmountStart = $.trim($('#txtTradingDeliveryChallanAmountStart').val());
            if(sTradingDeliveryChallanAmountStart===null || sTradingDeliveryChallanAmountStart==="")
            {
                alert("Please enter TradingDeliveryChallan start Amount!");
                $('#txtTradingDeliveryChallanAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sTradingDeliveryChallanAmountStart)<=0)
            {
                alert("Please enter TradingDeliveryChallan start Amount!");
                $('#txtTradingDeliveryChallanAmountStart').focus();
                return false;
            }

            var sTradingDeliveryChallanAmountEnd = $.trim($('#txtTradingDeliveryChallanAmountEnd').val());
            if(sTradingDeliveryChallanAmountEnd===null || sTradingDeliveryChallanAmountEnd==="")
            {
                alert("Please enter TradingDeliveryChallan end Amount!");
                $('#txtTradingDeliveryChallanAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sTradingDeliveryChallanAmountEnd)<=0)
            {
                alert("Please enter TradingDeliveryChallan end Amount!");
                $('#txtTradingDeliveryChallanAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sTradingDeliveryChallanAmountStart) >= icsRemoveComma(sTradingDeliveryChallanAmountEnd))
            {
                alert("Start amount must be smallar than end amount!");
                $('#txtTradingDeliveryChallanAmountStart').focus();
                return false;
            }
        }

        var nDeliveryBy = parseInt($('#cboDeliveryBy').val());
        var oBuyers = $('#txtBuyerName').data('Buyers');
        var oProducts = $('#txtProductName').data('Products');

        if(sChallanNo==="" && sInvocieNo==="" && nChallanDate===0 && nTradingDeliveryChallanAmount===0 && nDeliveryBy===0 && oBuyers.length<=0 && oProducts.length<=0)
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        return true;
    }

    $('#btnAdvSearch').click(function(e){
        $("#winAdvanceSearch").icsWindow('open', "Advance Search");
        $("#winAdvanceSearch input").not("input[type='button']").val("");
        $('#txtTradingDeliveryChallanStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtTradingDeliveryChallanEndDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtTradingDeliveryChallanAmountStart').val('0.00');
        $('#txtTradingDeliveryChallanAmountEnd').val('0.00');
        $('#txtTradingDeliveryChallanAmountStart').prop("disabled", true);
        $('#txtTradingDeliveryChallanAmountEnd').prop("disabled", true);
        $('#txtBuyerName').data('Buyers', []);
        $('#txtProductName').data('Products', []);
        RefreshComboBoxControls();
    });

    $('#btnAdvSearchClose').click(function(e){
        $("#winAdvanceSearch").icsWindow('close');
    });

    $('#cboChallanDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboChallanDate').val());
        if(nCompareOperator===0)
        {
            $('#txtTradingDeliveryChallanStartDate').datebox({ disabled : true });
            $('#txtTradingDeliveryChallanEndDate').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtTradingDeliveryChallanStartDate').datebox({ disabled : false });
            $('#txtTradingDeliveryChallanEndDate').datebox({ disabled : true });
        }
        else
        {
            $('#txtTradingDeliveryChallanStartDate').datebox({ disabled : false });
            $('#txtTradingDeliveryChallanEndDate').datebox({ disabled : false });
        }
        $('#txtTradingDeliveryChallanStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtTradingDeliveryChallanEndDate').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboTradingDeliveryChallanAmount').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboTradingDeliveryChallanAmount').val());
        if(nCompareOperator===0)
        {
            $('#txtTradingDeliveryChallanAmountStart').prop("disabled", true);
            $('#txtTradingDeliveryChallanAmountEnd').prop("disabled", true);
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtTradingDeliveryChallanAmountStart').prop("disabled", false);
            $('#txtTradingDeliveryChallanAmountEnd').prop("disabled", true);
        }
        else
        {
            $('#txtTradingDeliveryChallanAmountStart').prop("disabled", false);
            $('#txtTradingDeliveryChallanAmountEnd').prop("disabled", false);
        }
        $('#txtTradingDeliveryChallanAmountStart').val('0.00');
        $('#txtTradingDeliveryChallanAmountEnd').val('0.00');
    });

    $('#btnAdvSearchReset').click(function(e){
        $("#winAdvanceSearch input").not("input[type='button']").val("");
        $('#cboChallanDate').val(0);
        $('#txtTradingDeliveryChallanStartDate').datebox({ disabled : true });
        $('#txtTradingDeliveryChallanEndDate').datebox({ disabled : true });
        $('#txtTradingDeliveryChallanStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtTradingDeliveryChallanEndDate').datebox('setValue', icsdateformat(new Date()));

        $('#cboTradingDeliveryChallanAmount').val(0);
        $('#txtTradingDeliveryChallanAmountStart').prop("disabled", true);
        $('#txtTradingDeliveryChallanAmountEnd').prop("disabled", true);
        $('#txtTradingDeliveryChallanAmountStart').val('0.00');
        $('#txtTradingDeliveryChallanAmountEnd').val('0.00');

        $('#cboDeliveryBy').val(0);
        $('#txtBuyerName').data('Buyers', []);
        $("#txtBuyerName").removeClass("fontColorOfPickItem");
        $('#txtProductName').data('Products', []);
        $("#txtProductName").removeClass("fontColorOfPickItem");
    });

    $('#btnSearch').click(function(e){
        if(!ValidateSearch()) return;

        var sChallanNo =$.trim($('#txtChallanNo').val());
        var sInvocieNo =$.trim($('#txtInvocieNo').val());

        var nChallanDate = parseInt($('#cboChallanDate').val());
        var sTradingDeliveryChallanStartDate   = $('#txtTradingDeliveryChallanStartDate').datebox('getValue');
        var sTradingDeliveryChallanEndDate   = $('#txtTradingDeliveryChallanEndDate').datebox('getValue');

        var nTradingDeliveryChallanAmount = parseInt($('#cboTradingDeliveryChallanAmount').val());
        var sTradingDeliveryChallanAmountStart = icsRemoveComma($.trim($('#txtTradingDeliveryChallanAmountStart').val()));
        var sTradingDeliveryChallanAmountEnd = icsRemoveComma($.trim($('#txtTradingDeliveryChallanAmountEnd').val()));

        var nDeliveryBy = parseInt($('#cboDeliveryBy').val());
        var oBuyers = $('#txtBuyerName').data('Buyers');
        var oProducts = $('#txtProductName').data('Products');

        if(oBuyers===null) {oBuyers = []; }
        if(oProducts===null) {oProducts = []; }
        var sBuyerIDs =""; var sProductIDs ="";

        for(var i=0; i<oBuyers.length; i++)
        {
            sBuyerIDs  = sBuyerIDs + oBuyers[i].ContractorID+ ",";
        }
        if(sBuyerIDs.length>0)
        {
            sBuyerIDs=sBuyerIDs.substring(0, sBuyerIDs.length-1);
        }
        for(var i=0; i<oProducts.length; i++)
        {
            sProductIDs  = sProductIDs + oProducts[i].ProductID+ ",";
        }
        if(sProductIDs.length>0)
        {
            sProductIDs=sProductIDs.substring(0, sProductIDs.length-1);
        }

        var sSearchingData  =  sChallanNo+'~';
        sSearchingData = sSearchingData + sInvocieNo+'~';
        sSearchingData = sSearchingData + nChallanDate+'~';
        sSearchingData = sSearchingData + sTradingDeliveryChallanStartDate+'~';
        sSearchingData = sSearchingData + sTradingDeliveryChallanEndDate+'~';
        sSearchingData = sSearchingData + nTradingDeliveryChallanAmount+'~';
        sSearchingData = sSearchingData + sTradingDeliveryChallanAmountStart+'~';
        sSearchingData = sSearchingData + sTradingDeliveryChallanAmountEnd+'~';
        sSearchingData = sSearchingData + nDeliveryBy+'~';
        sSearchingData = sSearchingData + sBuyerIDs +'~';
        sSearchingData = sSearchingData + sProductIDs;

        var oTradingDeliveryChallan = {
            Note : sSearchingData,
            BUID : parseInt(sessionStorage.getItem("BUID"))
        };

        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: sessionStorage.getItem("BaseAddress")+  "/TradingDeliveryChallan/AdvanceSearch",
            data:  JSON.stringify(oTradingDeliveryChallan),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  oTradingDeliveryChallans = jQuery.parseJSON(data);
                if (oTradingDeliveryChallans != null) {
                    if(oTradingDeliveryChallans.length>0)
                    {
                        if(oTradingDeliveryChallans[0].ErrorMessage=="")
                        {
                            RefreshList(oTradingDeliveryChallans);
                            $('#tblTradingDeliveryChallans').data('TradingDeliveryChallans', oTradingDeliveryChallans);
                            $("#winAdvanceSearch").icsWindow('close');
                        }
                        else
                        {
                            alert(oTradingDeliveryChallans[0].ErrorMessage);
                        }
                    }
                    else
                    {
                        alert("Data not found!!");
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#txtSearchByChallanNo').keyup(function (e) {
        var c = String.fromCharCode(e.which);
        var txtSearchByName = document.getElementById('txtSearchByChallanNo').value;

        var oSearchedTradingDeliveryChallans = [];  var sTempName="";
        var oTradingDeliveryChallanList = $('#tblTradingDeliveryChallans').datagrid('getRows');
        if (e.which == 8)
        {
            oTradingDeliveryChallanList = $('#tblTradingDeliveryChallans').data('TradingDeliveryChallans');
        }
        for(i=0;i<oTradingDeliveryChallanList.length;++i){
            sTempName=oTradingDeliveryChallanList[i].ChallanNo;
            n=sTempName.toUpperCase().indexOf(txtSearchByName.toUpperCase())
            if(n!=-1)
            {
                oSearchedTradingDeliveryChallans.push(oTradingDeliveryChallanList[i]);
            }
        }
        RefreshList(oSearchedTradingDeliveryChallans);
    });

    $('#txtSearchByInvoiceNo').keyup(function (e) {
        //
        var c = String.fromCharCode(e.which);
        var txtSearchByName = document.getElementById('txtSearchByInvoiceNo').value;

        var oSearchedTradingDeliveryChallans = [];  var sTempName="";
        var oTradingDeliveryChallanList = $('#tblTradingDeliveryChallans').datagrid('getRows');
        if (e.which == 8)
        {
            oTradingDeliveryChallanList = $('#tblTradingDeliveryChallans').data('TradingDeliveryChallans');
        }
        for(i=0;i<oTradingDeliveryChallanList.length;++i){
            sTempName=oTradingDeliveryChallanList[i].InvoiceNo;
            n=sTempName.toUpperCase().indexOf(txtSearchByName.toUpperCase())
            if(n!=-1)
            {
                oSearchedTradingDeliveryChallans.push(oTradingDeliveryChallanList[i]);
            }
        }
        RefreshList(oSearchedTradingDeliveryChallans);
    });

    ///Buyer Pick
    $("#txtBuyerName").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var nBUID = parseInt(sessionStorage.getItem("BUID"));
            var oContractor = { Params: 2 + '~' + $.trim($('#txtBuyerName').val())+'~'+ nBUID };//here 2 is Buyer
            var obj = {
                BaseAddress: sessionStorage.getItem("BaseAddress"),
                Object: oContractor,
                ControllerName: "Contractor",
                ActionName: "ContractorSearchByNameType",
                IsWinClose: false
            };
            $("#progbar").progressbar({ value: 0 });
            $("#progbarParent").show();
            var intervalID = setInterval(updateProgress, 250);
            $.icsDataGets(obj, function (response) {
                clearInterval(intervalID);
                $("#progbarParent").hide();
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ContractorID > 0) {
                        var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winBuyers',
                            winclass: 'clsBuyer',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblBuyers',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'Name',
                            windowTittle: 'Buyer List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else{
                    alert("Data Not Found.");
                    return;
                }
            });
        }
    });
    $("#btnBuyerPicker").click(function () {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oContractor = { Params: "2~~"+nBUID };//here 2 Is Buyer
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winBuyers',
                        winclass: 'clsBuyer',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblBuyers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Buyer List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
            }
        });

    });
    $('#txtBuyerName').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtBuyerName").removeClass("fontColorOfPickItem");
            $('#txtBuyerName').data('BuyerID', 0);
        }
    });
    $('#btnBuyerClear').click(function(e){
        $("#txtBuyerName").val("");
        $('#txtBuyerName').data('Buyers', []);
        $("#txtBuyerName").removeClass("fontColorOfPickItem");
    });
    //End Buyer Picker

    //Product Pick
    $("#txtProductName").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($('#txtProductName').val()==null || $('#txtProductName').val()=="")
            {
                alert("Please Type Product and Press Enter.");
                $('#txtProductName').focus();
                return;
            }
            var nBUID = parseInt(sessionStorage.getItem("BUID"));
            var oProduct = { BUID: nBUID, ProductName: $.trim($('#txtProductName').val())};
            var obj = {
                BaseAddress: sessionStorage.getItem("BaseAddress"),
                Object: oProduct,
                ControllerName: "Product",
                ActionName: "SearchByProductBUWise",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                debugger;
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ProductID > 0) {
                        var tblColums = [];
                        var oColumn = { field: "ProductCode", title: "Product Code", width: 80, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ProductName", title: "Product Name", width: 300, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ProductCategoryName", title: "Category", width: 100, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winProductPicker',
                            winclass: 'clsProductPicker',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblProductPicker',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'NameCode',
                            windowTittle: 'Product List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else {
                        alert(response.objs[0].ErrorMessage);
                    }

                }else{
                    alert("Data Not Found.");
                }
            });
        }
    });
    $("#btnProductPicker").click(function () {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oProduct = { BUID: nBUID};
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Product Code", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Product Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductCategoryName", title: "Category", width: 100, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winProductPicker',
                        winclass: 'clsProductPicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProductPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'NameCode',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });

    });
    $('#txtProductName').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtProductName").removeClass("fontColorOfPickItem");
            $('#txtProductName').data('Product', null);
        }
    });
    $('#btnProductClear').click(function(e){
        $("#txtProductName").val("");
        $('#txtProductName').data('Products', []);
        $("#txtProductName").removeClass("fontColorOfPickItem");
    });
    //End Product

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid === 'winBuyers')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtBuyerName').val(oreturnobjs.length+"'s Buyers seleted");
                $('#txtBuyerName').addClass('fontColorOfPickItem');
                $('#txtBuyerName').data('Buyers', oreturnobjs);
                $('#txtBuyerName').focus();
            }
        }
        else if (oPickerobj.winid == 'winProductPicker')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0)
            {
                $('#txtProductName').val(oreturnobjs.length+"'s products seleted");
                $('#txtProductName').addClass('fontColorOfPickItem');
                $('#txtProductName').data('Products', oreturnobjs);
            }
        }
    }

    function updateProgress() {
        var value =$('#progbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progbarParent").hide();
    }

    function RefreshControlLayout(oAURolesMapping)
    {
        $("#btnAdvSearch").hide();
        $("#btnEdit").hide();
        $("#btnView").hide();
        $("#btnDelete").hide();
        $("#btnMakeTradingDeliveryChallan").hide();
        $("#btnPreview").hide();
        $("#btnPrintList").hide();
        $("#btnWaitForDisburse").hide();
        $("#btnDisburse").hide();

        if(PermissionChecker('AdvSearch','TradingDeliveryChallan',oAURolesMapping)){$("#btnAdvSearch").show();}
        if(PermissionChecker('Edit','TradingDeliveryChallan',oAURolesMapping)){$("#btnEdit").show();}
        if(PermissionChecker('View','TradingDeliveryChallan',oAURolesMapping)){$("#btnView").show();}
        if(PermissionChecker('Delete','TradingDeliveryChallan', oAURolesMapping)){$("#btnDelete").show();}
        if(PermissionChecker('Preview','TradingDeliveryChallan',oAURolesMapping)){$("#btnPreview").show();}
        if(PermissionChecker('PrintList','TradingDeliveryChallan',oAURolesMapping)){$("#btnPrintList").show();}
        if(PermissionChecker('Disburse','TradingDeliveryChallan',oAURolesMapping)){$("#btnWaitForDisburse").show();}
        if(PermissionChecker('Disburse','TradingDeliveryChallan',oAURolesMapping)){$("#btnDisburse").show();}
    }
    </script>
