@{
    ViewBag.Title = "Import Claim";
}
@model ESimSol.BusinessObjects.ImportClaim

<div style="padding-top:5px; height:99%" ng-app="ImportClaimAPP" ng-controller="ImportClaimCtrl" class="form-horizontal regionImportClaim menuMainCollectionTable">
    
    @*INVOICE INFO*@
    <div style="height:22%">  
        <fieldset style="height:100%">
            <legend>Invoice Info: </legend>
            <div class="row col-md-12">
                <div class="col-md-2 text-right">
                    <label class="control-label">Invoice No:</label>
                </div>
                <div class="col-md-2 text-left">
                    <div class="input-group">
                        <input ng-disabled="disabled" ng-model="ImportClaim.ImportInvoiceNo" class="form-control" ng-keydown="SearchKeyDownImportInvoiceNo($event)" placeholder="Type Invoice No" required />
                        <span class="input-group-btn">
                            <button style="margin-left:1px" type="button" class="btn btn-sm" ng-disabled="disabled" aria-label="Left Align" ng-click="PickImportInvoiceNo()"> 
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-2 text-right"><label class="control-label">Invoice Date:</label></div>
                <div class="col-md-2 text-left">
                    <div class="input-group date date-container">
                        <input type="text" class="form-control" ng-model="ImportClaim.ImportInvoiceDateST" disabled>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
                <div class="col-md-2 text-right"><label class="control-label">Invoice Qty:</label></div>
                <div class="col-md-2 text-left">
                    <input ng-model="ImportClaim.ImportInvoiceQty | number:2" class="form-control" ng- disabled />
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-2 text-right"><label class="control-label">L/C No:</label></div>
                <div class="col-md-2 text-left">
                    <input ng-model="ImportClaim.ImportLCNo" class="form-control" disabled />
                </div>
                <div class="col-md-2 text-right"><label class="control-label">L/C Date:</label></div>
                <div class="col-md-2 text-left">
                    <div class="input-group date date-container">
                        <input type="text" class="form-control" ng-model="ImportClaim.ImportLCDateST" disabled><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
                <div class="col-md-2 text-right"><label class="control-label">Invoice Amount:</label></div>
                <div class="col-md-2 text-left">
                    <input ng-model="ImportClaim.ImportInvoiceAmount  | number:2" class="form-control" disabled />
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-2 text-right"><label class="control-label">Supplier:</label></div>
                <div class="col-md-6 text-left">
                    <input ng-model="ImportClaim.ContractorName" class="form-control" disabled/>
                </div>
                <div class="col-md-2 text-right"></div>

                <div class="col-md-2 text-left">
                    <div class="input-group">
                        <input type="button" class="form-control" ng-click="ViewGRN()" class="glyphicon glyphicon-adjust" value="View GRN" />
                    </div>
                </div>
            </div>
        </fieldset>
    </div>

    @*CLAIM INFO*@
    <div style="height:17%">
        <fieldset style="height:100%">
            <legend>Claim Info: </legend>
            <div class="row col-md-12">
                <div class="col-md-2 text-right"><label class="control-label">Claim Reason:</label></div>
                <div class="col-md-2 text-left">
                    <select ng-model="ImportClaim.ClaimReasonID" ng-options="obj.ClaimReasonID as obj.Name for obj in ClaimTypes" ng-disabled="disabled" class="form-control">
                        <option value="">--Select Type--</option>
                    </select>
                </div>
                <div class="col-md-2 text-right"><label class="control-label">Claim Date:</label></div>
                <div class="col-md-2 text-left">
                    <div class="input-group date date-container">
                        <input type="text" class="form-control" ng-model="ImportClaim.IssueDateST" ng-disabled="disabled"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
                <div class="col-md-2 text-right"><label class="control-label">Claim No:</label></div>
                <div class="col-md-2 text-left">
                    <input ng-model="ImportClaim.ClaimNo" class="form-control" disabled />
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-2 text-right"><label class="control-label">Amount:</label></div>
                <div class="col-md-2 text-left">
                    <input class="form-control number" ng-model="ImportClaim.Amount" />
                </div>
                <div class="col-md-2 text-right"><label class="control-label">Note:</label></div>
                <div class="col-md-6 text-left">
                    <input ng-model="ImportClaim.Note" ng-disabled="disabled" class="form-control" />
                </div>
            </div>
        </fieldset>
    </div>
    
    @*DETAILS TABLE*@ 
    <div style="height:50%">
        <fieldset style="height:100%">
            <legend>Details : </legend>
            <div class="row ui-grid-panel" >
                <div class="container col-md-12">
                    <div class="form-inline">
                        <button type="button" class="btn btn-primary btn-sm" aria-label="right Align" ng-click="GetProductDetails()" ng-disabled="disabled" style="margin-left:3px"><span aria-hidden="true"> Load </span></button>
                        <input class="form-control" ng-model="txtProductName" placeholder="Type Product & Press Enter" ng-disabled="disabled" ng-keydown="SearchKeyDownProduct($event)" style="width:210px; height:24px; margin-left:3px;" required />
                        <button type="button" class="btn btn-default btn-sm" aria-label="right Align" ng-click="PickProduct()" ng-disabled="disabled"><span aria-hidden="true"> Pick </span></button>
                        @*<button type="button" class="btn btn-default btn-sm" aria-label="right Align" ng-click="RemoveDetail()"><span class="glyphicon glyphicon-remove" aria-hidden="true"> Remove</span></button>*@
                    </div>
                  </div>
            </div>
            <div class="row col-md-12">
                <div ui-grid="gridOptionsImportClaimDetail" ui-grid-selection ui-grid-resize-columns ui-grid-edit ui-grid-key-nav class="grid ui-grid-selectable"></div>
            </div>
        </fieldset>
    </div>

    <div style="height:10%">
        <fieldset>
            <legend>Action</legend>
            <div class="row col-md-12 text-right">
                <div class="col-md-6 text-right">
                  
                </div>
                <div class="col-md-2 text-right">
                    <select id="cboSettleBy" ng-model="ImportClaim.SettleBy" ng-show="hide_Approve" ng-options="obj.id as obj.Value for obj in ImportClaimSettleTypes" class="form-control">
                        <option value="">--Select Type--</option>
                    </select>
                </div>
                <div class="col-md-4 text-right">
                    <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="Save()" ng-show="hide_Save"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">Save</span> </button>
                    <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="ReqForApprove()" ng-show="hide_Request"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">Req.For Approval</span> </button>
                    <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="Approve()" ng-show="hide_Approve"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">Approve</span> </button>
                    <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="Close()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"> Close</span> </button>
                </div>
                </div>
        </fieldset>
    </div>
</div>

<style type="text/css">

    .grid{
        width:102%; 
        height:210px;
    }
     /*.ui-grid-panel {
        background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%);
        height:35px;
    }*/
    .regionImportClaim .form-horizontal .control-label{
        padding-top:3px;
    }
    .regionImportClaim .form-control{
        height:26px;
        padding:0px 6px;
        font-size:12px;
    }
    .regionImportClaim .col-md-12{
        width:100%;
        padding-right:5px;
        padding-left:5px;
        margin-bottom:5px;
    }
    .regionImportClaim .col-md-2{
        width:16.6%;
        padding-right:5px;
        padding-left:5px;
    }
    .regionImportClaim .col-md-3{
        width:20%;
        padding-right:5px;
        padding-left:5px;
    }

    .regionImportClaim .col-md-4{
        width:28%;
        padding-right:5px;
        padding-left:5px;
    }

    .regionImportClaim .col-md-5{
        width:40%;
        padding-right:5px;
        padding-left:0px;
    }
     .regionImportClaim .col-md-6{
        width:50%;
        padding-right:5px;
        padding-left:5px;
    }
     .regionImportClaim .col-md-10{
        width:83%;
        padding-right:5px;
        padding-left:5px;
    }

    .regionImportClaim .col-md-8{
        width:69%;
        padding-right:5px;
        padding-left:5px;
    }
    .regionImportClaim .btn-sm{
         padding:3px 10px;
     }
     .regionImportClaim .input-group-addon{
         padding: 4px 8px;
     }
</style>

<script type="text/javascript">

    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    var oImportClaim =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var oClaimTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ClaimTypes));
    var oImportClaimSettleTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ImportClaimSettleType));
    var nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));

    $('.date-container').datepicker({
        format: "dd M yyyy",
        calendarWeeks: true,
        autoclose: true,
        todayHighlight: true
    });

    var ImportClaimModule = angular.module('ImportClaimAPP', ['ngAnimate', 'ui.bootstrap', 'ui.grid', 'ui.grid.selection', 'ui.grid.edit', 'ui.grid.rowEdit','ui.grid.cellNav','ms.service']);
    ImportClaimModule.controller('ImportClaimCtrl', function ($scope, $http, $uibModal, $log, uiGridConstants, msModal, userSession,msGridControl) {
        debugger;
        var viewType = sessionStorage.getItem("Operation");

        //if (viewType == 'View') //Default
        $scope.disabled= false;
        $scope.hide=false;
        $scope.hide_Request=false;
        $scope.hide_Approve=false;
        $scope.hide_Save=false;


        if (viewType == 'Approve')
        {
            $scope.disabled= true;
            $scope.hide=true;
            $scope.hide_Request=false;
            $scope.hide_Approve=true;
            $scope.hide_Save=false;
        }
        else  if (viewType == 'Request')
        {
            $scope.disabled= true;
            $scope.hide=true;
            $scope.hide_Request=true;
            $scope.hide_Approve=false;
            $scope.hide_Save=false;
        }
        else if (viewType == 'Edit' || viewType == 'New')
        {
            $scope.disabled= false;
            $scope.hide=false;
            $scope.hide_Request=false;
            $scope.hide_Approve=false;
            $scope.hide_Save=true;
        }
        $scope.BUID=nBUID;
        $scope.ImportClaimSettleTypes=oImportClaimSettleTypes;
        $scope.ImportClaim=oImportClaim;
        $scope.ClaimTypes=oClaimTypes;
        $scope.BusinessUnitID=oImportClaim.BUID;

        $scope.Validation = function()
        {
            debugger;
            if($scope.ImportClaim.BUID<=0)
            {
                alert("Invalid Business Unit. Please Refresh And Try Again.");
                return false;
            }
            if($scope.ImportClaim.ClaimType<=0)
            {
                alert("Please Select Operation Type And Try Again.");
                return false;
            }
            if($scope.ImportClaim.ImportClaimDetails.length<=0)
            {
                alert("Please Select Details And Try Again.");
                return false;
            }
            return true;
        }
        $scope.Save = function () {

            if(!$scope.Validation())
                return;
            var oImportClaim= $scope.ImportClaim;
            oImportClaim.IssueDate = new Date($scope.ImportClaim.IssueDateST);
            oImportClaim.ImportInvoiceDate = new Date($scope.ImportClaim.ImportInvoiceDateST);
            oImportClaim.ImportLCDate = new Date($scope.ImportClaim.ImportLCDateST);

            debugger;
            $http.post(_sBaseAddress+'/ImportClaim/Save',JSON.stringify(oImportClaim)).then(
                function (response) {
                    var result=jQuery.parseJSON(response.data);
                    if(result.ImportClaimID>0)
                    {
                        debugger;
                        $scope.ImportClaim=result;
                        userSession.setData('ImportClaims',$scope.ImportClaim);
                        //sessionStorage.setItem('ImportClaim',$scope.ImportClaim);
                        userSession.previousPage();
                        // msModal.Message({headerTitle : '', bodyText:'Save Successfully.', sucessText : 'Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                    }
                    else
                    {
                        alert(result.ErrorMessage);
                    }
                },
                function (response) { alert(jQuery.parseJSON(response.data).ErrorMessage);}
        );
        };

        $scope.ReqForApprove = function () {

            if(!$scope.Validation())
                return;
            var oImportClaim= $scope.ImportClaim;
            oImportClaim.IssueDate = new Date($scope.ImportClaim.IssueDateST);
            oImportClaim.ImportInvoiceDate = new Date($scope.ImportClaim.ImportInvoiceDateST);
            oImportClaim.ImportLCDate = new Date($scope.ImportClaim.ImportLCDateST);

            debugger;
            $http.post(_sBaseAddress+'/ImportClaim/RequestImportClaim',JSON.stringify(oImportClaim)).then(
                function (response) {
                    var result=jQuery.parseJSON(response.data);
                    if(result.ImportClaimID>0)
                    {
                        debugger;
                        $scope.ImportClaim=result;
                        userSession.setData('ImportClaims',$scope.ImportClaim);
                        //sessionStorage.setItem('ImportClaim',$scope.ImportClaim);
                        userSession.previousPage();
                        // msModal.Message({headerTitle : '', bodyText:'Save Successfully.', sucessText : 'Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                    }
                    else
                    {
                        alert(result.ErrorMessage);
                    }
                },
                function (response) { alert(jQuery.parseJSON(response.data).ErrorMessage);}
        );
        };
        $scope.Approve = function () {

            if(!$scope.Validation())
                return;
            var oImportClaim= $scope.ImportClaim;
            if(oImportClaim.SettleBy<=0)
            {
                alert("Please Select one.");
                $("#cboSettleBy").focus();
                return false;
            }
            oImportClaim.IssueDate = new Date($scope.ImportClaim.IssueDateST);
            oImportClaim.ImportInvoiceDate = new Date($scope.ImportClaim.ImportInvoiceDateST);
            oImportClaim.ImportLCDate = new Date($scope.ImportClaim.ImportLCDateST);

            debugger;
            $http.post(_sBaseAddress+'/ImportClaim/ApproveImportClaim',JSON.stringify(oImportClaim)).then(
                function (response) {
                    var result=jQuery.parseJSON(response.data);
                    if(result.ImportClaimID>0)
                    {
                        debugger;
                        $scope.ImportClaim=result;
                        userSession.setData('ImportClaims',$scope.ImportClaim);
                        //sessionStorage.setItem('ImportClaim',$scope.ImportClaim);
                        userSession.previousPage();
                        // msModal.Message({headerTitle : '', bodyText:'Save Successfully.', sucessText : 'Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                    }
                    else
                    {
                        alert(result.ErrorMessage);
                    }
                },
                function (response) { alert(jQuery.parseJSON(response.data).ErrorMessage);}
        );
        };

        $scope.GetProductDetails= function ()
        {
            debugger;
            //alert($scope.ImportClaim.ImportLCID);
            var oImportInvoice= {
                ImportInvoiceID:$scope.ImportClaim.ImportInvoiceID
            };

            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(sessionStorage.getItem('BaseAddress')+'/ImportClaim/GetsInvoiceClaim',$.param(oImportInvoice), config).then(
                        function (response)
                        {
                            var result=jQuery.parseJSON(response.data);
                            debugger;
                            var oImportClaimDetails=[];
                            if(result.length>0)
                            {
                                oImportClaimDetails=result;
                                //for(var i=0;i<result.length;i++)
                                //{
                                //    var oImportDetail=new Object();

                                //    if(result[i].ProductID>0)
                                //    {
                                //        oImportDetail.ProductID=result[i].ProductID;
                                //        oImportDetail.ProductName=result[i].ProductName;
                                //        oImportDetail.Qty=result[i].Qty;
                                //        oImportDetail.MUnit=result[i].MUName;
                                //        oImportDetail.Amount=result[i].Amount;
                                //        oImportDetail.CurrencySymbol=result[i].CurrencySymbol;
                                //        oImportDetail.UnitPrice=result[i].UnitPrice;
                                //        oImportDetails.push(oImportDetail);
                                //    }
                                //}
                                $scope.ImportClaim.ImportClaimDetails=oImportClaimDetails;
                                $scope.MakeImportClaimDetail();
                            }
                        },
                            function (response) { alert(jQuery.parseJSON(response.data).Message);}
                    );
        };

        $scope.PickProduct= function ()
        {
            var oImportInvoice= {
                ImportInvoiceID:$scope.ImportClaim.ImportInvoiceID
            };

            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(sessionStorage.getItem('BaseAddress')+'/ImportClaim/GetsInvoiceProduct',$.param(oImportInvoice), config).then(
                        function (response)
                        {
                            var oColumns = [];
                            oColumn = { field: 'ProductName', name: 'Product Name',width: '40%', enableSorting: false  };oColumns.push(oColumn);
                            oColumn = { field: 'Qty', name: 'Qty',width: '25%', enableSorting: false  };oColumns.push(oColumn);
                            oColumn = { field: 'Amount', name: 'Amount',width: '25%', enableSorting: false  };oColumns.push(oColumn);
                            var results=jQuery.parseJSON(response.data);
                            var modalObj={
                                size:'md',
                                modalcontroller:'',
                                appcontroller:'',
                                objs:results,
                                multiSelect:true,
                                pickertitle:'Product List',
                                searchingbyfieldName:'Product',
                                columns:oColumns
                            }
                            var modalInstance=msModal.Instance(modalObj);
                            modalInstance.result.then(function (result)
                            {
                                var oImportDetails=[];
                                if(result.length>0)
                                {
                                    for(var i=0;i<result.length;i++)
                                    {
                                        var oImportDetail=new Object();
                                        if(result[i].ProductID>0)
                                        {
                                            oImportDetail.ProductID=result[i].ProductID;
                                            oImportDetail.ProductName=result[i].ProductName;
                                            oImportDetail.Qty=result[i].Qty;
                                            oImportDetail.MUnit=result[i].MUName;
                                            oImportDetail.Amount=result[i].Amount;
                                            oImportDetail.CurrencySymbol=result[i].CurrencySymbol;
                                            oImportDetail.UnitPrice=result[i].UnitPrice;
                                            oImportDetails.push(oImportDetail);
                                        }
                                    }
                                    $scope.ImportClaim.ImportClaimDetails=oImportDetails;
                                    $scope.MakeImportClaimDetail();
                                }
                            }, function () {
                                $log.info('Modal dismissed at: ' + new Date());
                            });
                        },
                            function (response) { alert(jQuery.parseJSON(response.data).Message);}
                    );
        };
        $scope.SearchKeyDownProduct = function (e){
            //debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                var txtProduct = $.trim($scope.txtProductName);
                if(txtProduct=="" || txtProduct==null)
                {
                    alert("Type Invoice No and Press Enter");
                    return;
                }
                $scope.PickProduct();
            }else if (code == 8) //backspace=8
            {
                //debugger;
                $scope.txtProductName='';
            }
        };

        $scope.PickImportInvoiceNo= function ()
        {
            var oImportInvoice = {
                ImportInvoiceNo: $.trim($scope.ImportClaim.ImportInvoiceNo),
                BUID:$scope.ImportClaim.BUID
            };
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(sessionStorage.getItem('BaseAddress')+'/ImportInvoice/GetsByInvoiceNo',$.param(oImportInvoice), config).then(
                        function (response)
                        {
                            var oColumns = [];
                            var oColumn = { field: 'ImportInvoiceNo', name: 'Invoice No',width: '20%'  };oColumns.push(oColumn);
                            oColumn = { field: 'ContractorName', name: 'Supplier',width: '45%', enableSorting: false  };oColumns.push(oColumn);
                            oColumn = { field: 'Qty', name: 'Qty',width: '15%', enableSorting: false  };oColumns.push(oColumn);
                            oColumn = { field: 'Amount', name: 'Amount',width: '15%', enableSorting: false  };oColumns.push(oColumn);
                            var results=jQuery.parseJSON(response.data);
                            var modalObj={
                                size:'lg',
                                modalcontroller:'',
                                appcontroller:'',
                                objs:results,
                                multiSelect:false,
                                pickertitle:'Invoice List',
                                searchingbyfieldName:'ImportInvoiceNo',
                                columns:oColumns
                            }
                            var modalInstance=msModal.Instance(modalObj);
                            modalInstance.result.then(function (result)
                            {
                                debugger;
                                if(result.ImportInvoiceID>0)
                                {
                                    $scope.ImportClaim.ImportInvoiceID=result.ImportInvoiceID;
                                    $scope.ImportClaim.ImportInvoiceNo=result.ImportInvoiceNo;
                                    $scope.ImportClaim.ImportLCID=result.ImportLCID;
                                    $scope.ImportClaim.ImportLCNo=result.ImportLCNo;
                                    $scope.ImportClaim.ImportLCDateST=result.ImportLCDateInString;
                                    $scope.ImportClaim.ImportInvoiceQty=result.Qty;
                                    $scope.ImportClaim.ImportInvoiceDateST=result.InvoiceDateInString;
                                    $scope.ImportClaim.ImportInvoiceAmount=result.Amount;
                                    $scope.ImportClaim.ContractorName=result.ContractorName;

                                }
                                // $scope.ImportClaim.ImportInvoiceNo='';
                            }, function () {
                                $log.info('Modal dismissed at: ' + new Date());
                            });
                        },
                            function (response) { alert(jQuery.parseJSON(response.data).Message);}
                    );
        };
        $scope.SearchKeyDownImportInvoiceNo = function (e) {
            //debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                var txtImportInvoiceNo = $.trim($scope.ImportClaim.ImportInvoiceNo);
                if(txtImportInvoiceNo=="" || txtImportInvoiceNo==null)
                {
                    alert("Type Invoice No and Press Enter");
                    return;
                }
                $scope.PickImportInvoiceNo();
            }else if (code == 8) //backspace=8
            {
                //debugger;
                $scope.ImportClaim.ImportInvoiceNo='';
            }
        };

        $scope.ViewGRN = function()
        {
            if($scope.ImportClaim.ImportInvoiceID<=0)
            {
                alert("Please Select Invoice");
                return;
            }
            window.open(_sBaseAddress + '/ImportInvoice/PrintInvoice_GRN?id='+ $scope.ImportClaim.ImportInvoiceID, "_blank");
        }

        $scope.MakeImportClaimDetail= function()
        {
            var oDetailColumns = [];
            var oColumn = { field: 'ProductName', name:'Commodity', width:'30%',cellClass: 'text-left', enableCellEdit:false };oDetailColumns.push(oColumn);
            //oColumn ={ field: 'Qty', name:'Qty', width:'20%',cellClass: 'text-left',enableCellEdit:false };oDetailColumns.push(oColumn);
            oColumn ={ field: 'Qty', name:' Qty', width:'10%',cellClass: 'text-right',aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true, footerCellFilter: 'number:2', footerCellClass: 'text-right',enableCellEdit:true };oDetailColumns.push(oColumn);
            oColumn = { field: 'MUnit', name:'Unit', width:'8%',cellClass: 'text-left', enableCellEdit:false };oDetailColumns.push(oColumn);
            oColumn ={ field: 'UnitPrice', name: 'U/P', width: '10%', cellClass: 'text-center',enableSorting: false ,enableCellEdit:true};oDetailColumns.push(oColumn);
            //oColumn ={ field: 'CurrencyName', name: 'Currency', width: '10%', cellClass: 'text-center',editType: 'dropdown',editableCellTemplate: 'ui-grid/dropdownEditor',editDropdownOptionsArray: $scope.CurrencyList,editDropdownIdLabel:'CurrencyName',editDropdownValueLabel: 'CurrencyName', enableSorting: false ,enableCellEdit:true};oDetailColumns.push(oColumn);
            oColumn = { field: 'CurrencySymbol', name:'Currency', width:'6%',cellClass: 'text-left', enableCellEdit:false };oDetailColumns.push(oColumn);
            oColumn ={ field: 'Amount', name: "Amount", width: '10%',align:'left',cellClass: 'text-right', cellFilter: 'number: 2', enableSorting: false ,enableCellEdit:true};oDetailColumns.push(oColumn);
            debugger;
            //alert();
            var oClaimDetails=$scope.ImportClaim.ImportClaimDetails;
            $scope.gridOptionsImportClaimDetail = {
                showColumnFooter: false,
                multiSelect: false,
                enableRowSelection: true,
                enableSelectAll: false,
                columnDefs:oDetailColumns,
                data:  oClaimDetails,
                onRegisterApi: function (gridApi) {
                    $scope.gridDetailApi = gridApi;
                    gridApi.edit.on.afterCellEdit($scope,
                     function (rowEntity, colDef, newValue, oldValue)
                     {
                         //rowEntity.CurrencyID = $scope.CurrencyList.filter(function(obj){return obj.CurrencyName== rowEntity.CurrencyName;})[0].CurrencyID;
                         return rowEntity;
                     });
                }
            };
            // $scope.gridOptionsImportClaimDetail.data=[];
            // $scope.gridOptionsImportClaimDetail.data= $scope.ImportClaim.ImportClaimDetails;
        }
        $scope.MakeImportClaimDetail();

        $scope.Close = function () {
            userSession.previousPage();
        };

    });
</script>


