<html>
@{
    ViewBag.title = "Model Category";
}
<body>
    @model ESimSol.BusinessObjects.ModelCategory
    <div class="menuMainCollectionTable panel-group" ng-app="MCategoryapp" ng-controller="CCategoryController" id="divCC">
        <div class="panel-primary">
            <div style="height:480px;" class="panel-body">
                <fieldset style=" height:100%; text-align:center;">
                    <legend style="font-weight:bold;">Basic Info : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:80%">
                        <tr>
                            <td style="height:150px;">&nbsp;</td>
                            <td style="height:150px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="width:30%; text-align:right">
                                Category Name :
                            </td>
                            <td style="width:70%">
                                <input type="text" ng-model="ModelCategory.CategoryName" style="width:100%" />
                            </td>
                        </tr>
                        <tr>
                            <td style="height:20px;">&nbsp;</td>
                            <td style="height:20px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="width:30%; text-align:right">
                                Remarks :
                            </td>
                            <td style="width:70%;">
                                <input type="text" ng-model="ModelCategory.Remarks" style="width:100%" />
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
            <fieldset>
                    <legend style="font-weight:bold"> Action : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                        <tr>
                            <td style="width:100%;text-align:right">
                                <button type="button" id="btnSave" class="btn btn-default btn-xs" aria-label="right Align" ng-click="Save()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> Save</span></button>
                                <button type="button" id="btnClose" class="btn btn-default btn-xs" aria-label="right Align" ng-click="Close()"><span class="glyphicon glyphicon-remove" aria-hidden="true"> Close</span></button>
                            </td>
                        </tr>
                    </table>
                </fieldset>
        </div>
</body>
</html>


<script type="text/javascript">
        //debugger;
        var oModelCategory =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var MCategoryapp = angular.module('MCategoryapp',['ui.grid','ui.grid.selection','ms.service']); 
    MCategoryapp.controller('CCategoryController', function ($scope, $http,userSession) {
            $scope.ModelCategory = oModelCategory;
            $scope.Save=function()
            {
               
                if(!$scope.ValidateInput()) return;
                var oModelCategory=$scope.ModelCategory;
                $http.post(sessionStorage.getItem('BaseAddress')+'/ModelCategory/Save',oModelCategory).then(
                      function (response)
                      {
                         
                          var oModelCategory= jQuery.parseJSON(response.data);
                         
                          if (oModelCategory.ErrorMessage=="" || oModelCategory.ErrorMessage==null)
                          {
                              debugger;
                              alert("Data Save Successfully!!");
                              //var oModelCategorys = sessionStorage.getItem("ModelCategorys");
                              //var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                              //if (oModelCategorys != null)
                              //{
                              //    oModelCategorys = jQuery.parseJSON(oModelCategorys);
                              //}
                              //else {
                              //    oModelCategorys = [];
                              //}
                              //if (nIndex != -1) {
                              //    oModelCategorys[nIndex] = oModelCategory;
                              //}
                              //else {
                              //    sessionStorage.setItem("SelectedRowIndex", oModelCategorys.length);
                              //    oModelCategorys.push(oModelCategory);
                              //}
                              //sessionStorage.setItem("ModelCategorys", JSON.stringify(oModelCategorys));
                              //window.location.href = sessionStorage.getItem("BackLink");
                              userSession.setData('ModelCategory',oModelCategory);
                              userSession.previousPage();
                          }
                          else
                          {
                              alert(oModelCategory.ErrorMessage);
                          }
                           
                      },
                          function (response) { alert(jQuery.parseJSON(response.data).Message);$scope.MeasurementUnits=[];}
                  );
            }
            $scope.ValidateInput = function()
            {
                debugger;
                if($scope.ModelCategory.CategoryName==null || $scope.ModelCategory.CategoryName=="")
                {
                    alert("Please enter Model name!");
                    return false;
                }
                return true;
            }
            if(sessionStorage.getItem("ModelCategoryHeader")=="View Model Category")
            {
                $("#divCC :input").prop('disabled', true);
                $('#btnClose').prop('disabled', false);
            }
            $scope.Close = function()
            {
                window.location.href = sessionStorage.getItem("BackLink");
            }
            $scope.keydown = function(e)
            {
                if(e.which == 27)//escape=27
                {
                    //debugger;
                    window.location.href = sessionStorage.getItem("BackLink");
                }
            }
        });

</script>