<html>
@{
    ViewBag.Title = "Import PI Reports";
}
<body>
    @model ESimSol.BusinessObjects.SizeCategory
    <div class="menuMainCollectionTable">
        <div class="easyui-panel" title="Size Category" style="font-family:Tahoma; text-align:center; height:89%;">
            <fieldset style="height:95%; text-align:center;">
                <legend style="font-weight:bold"> Size Category Informations : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:80%">
                    <tr>
                        <td style="height:150px;">&nbsp;</td>
                        <td style="height:150px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width:30%; text-align:right">
                            Size Category Name :
                        </td>
                        <td style="width:70%">
                            @Html.TextBoxFor(model => model.SizeCategoryName, new { style = "width: 100%;", id = "txtSizeCategoryName" })

                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%; text-align:right">
                            Note :
                        </td>
                        <td style="width:70%">
                            @Html.TextBoxFor(model => model.Note, new { style = "width: 100%;", id = "txtNote" })
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:100%;text-align:right">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Save()">Save</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>


<script type="text/javascript">
    var _oSizeCategory=null;
    var _sBaseAddress="";
    var  _lBackLink = "";
    var _sSizeCategoryHeader = "";
    $(document).ready(function () {
        //debugger;
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oSizeCategory =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sSizeCategoryHeader=sessionStorage.getItem("SizeCategoryHeader");
        _lBackLink = sessionStorage.getItem("BackLink");
        if(_sSizeCategoryHeader=="View Size Category")
        {
            document.getElementById('btnSave').style.display = 'none';
            document.getElementById('txtSizeCategoryName').disabled= true;
            document.getElementById('txtNote').disabled= true;

        }


    });


    function ValidateInput()
    {
        if(document.getElementById("txtSizeCategoryName").value==null || document.getElementById("txtSizeCategoryName").value=="")
        {
            alert("Please enter Size Category name!");
            $('#txtSizeCategoryName').focus();
            return false;
        }
        return true;
    }


    function RefreshObject()
    {
        debugger;
        var oSizeCategory= {
            SizeCategoryID : _oSizeCategory.SizeCategoryID,
            SizeCategoryName: $("#txtSizeCategoryName").val(),
            Note : $("#txtNote").val()
        };
        return oSizeCategory;
    }

    function Save()
    {
        debugger;
        if(!ValidateInput()) return;
        var oSizeCategory=RefreshObject();

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/SizeCategory/Save",
            traditional: true,
            data:  JSON.stringify(oSizeCategory),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                oSizeCategory = jQuery.parseJSON(data);
                if (oSizeCategory.ErrorMessage=="" || oSizeCategory.ErrorMessage==null) {
                    alert("Data Saved sucessfully");
                    var oSizeCategorys = sessionStorage.getItem("SizeCategorys");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if (oSizeCategorys != null) {
                        oSizeCategorys = jQuery.parseJSON(oSizeCategorys);
                    }
                    else {
                        oSizeCategorys = [];
                    }
                    if (nIndex != -1) {
                        oSizeCategorys[nIndex] = oSizeCategory;
                    }
                    else {
                        sessionStorage.setItem("SelectedRowIndex", oSizeCategorys.length);
                        oSizeCategorys.push(oSizeCategory);
                    }
                    sessionStorage.setItem("SizeCategorys", JSON.stringify(oSizeCategorys));
                    window.location.href = _lBackLink;
                }
                else {
                    alert(oSizeCategory.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }


    function Close()
    {
        window.location.href = _lBackLink;
    }

    $(document).keydown(function(e) {
        //debugger;
        if(e.which == 27)//escape=27
        {
            window.location.href = _lBackLink;
        }
    });
</script>