@model IEnumerable<ESimSol.BusinessObjects.RPT_Dispo>
    @{
        ViewBag.Title = " Order Register";
    }


    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>

    <div class="menuMainCollectionTable">
        <table id="tblRPTDispo" title="Order Register" class="easyui-datagrid" style="width: 100%; height:100%; margin: 0;" data-options="singleSelect: true,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false, toolbar: '#toolbarRPT_Dispo' ">
            <thead data-options="frozen:true">
                <tr>
                    <th field="ExeNo" width="10%" align="left">Dispo No</th>
                    <th field="ExeDateSt" width="10%" align="left">Dispo Date</th>
                    <th field="FabricNo" width="12%" align="left">Mkt No</th>
                    <th field="SCNoFull" width="15%" align="left">PO No</th>
                    <th field="BuyerName" width="15%" align="left">End Buyer</th>
                    <th field="ContractorName" width="10%" align="left">Garments name</th>
                   
                </tr>
            </thead>
            <thead>
                <tr>
                    <th field="ProcessTypeName" width="10%" align="left">Process Type</th>
                    <th field="Qty_Dispo" formatter="formatPrice" width="10%" align="right">Dispo Qty(Yds)</th>
                    <th field="Qty_Order" formatter="formatPrice" width="10%" align="right">PO Qty</th>
                    <th field="FinishDesign" width="10%" align="left">Fabric Type</th>
                    <th field="FabricWeaveName" width="10%" align="left">Fabric Weave</th>
                    <th field="FinishTypeName" width="10%" align="left">Finish</th>
                    <th field="Construction" width="10%" align="left">Construction</th>
                    <th field="ColorWarp" width="10%" align="left">Color Warp</th>
                    <th field="ColorWeft" width="10%" align="left">Color Weft</th>
                    <th field="ReedNoSt" width="10%" align="right">ReedNo</th>
                    <th field="REEDWidth" width="10%" align="right">R.Width</th>
                    <th field="WarpLength" formatter="formatPrice" width="10%" align="right">Warp Length</th>
                    <th field="WarpLengthRecd" formatter="formatPrice" width="10%" align="right">Warp Length (Recd)</th>
                    <th field="LengthReaming" formatter="formatPrice" width="10%" align="right">Remaing Length</th>
                    <th field="Qty_FWP" formatter="formatPrice" width="10%" align="right">Warping Plan</th>
                    <th field="ProdtionTypeSt" width="10%" align="left">Type</th>

                </tr>
            </thead>
        </table>

        <div id="toolbarRPT_Dispo">
            <input id="txtSearchByDispo" type="text" placeholder="Search by Dispo" style="width:120px" />
            @*<input id="txtStartDate" type="text" style="width: 95px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                <a id="btnSearchByDate" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>*@
            <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
            <a id="btnPrintDispo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview(Dispo)</a>
            <a id="btnPrintStatement" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview(Statement)</a>
            <a id="btnAddRec" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Operation</a>
            <a id="btnDispoWisePrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Dispo Wise Print</a>
            @*<a id="btnPrintXL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">ExportXL</a>*@
        </div>
    </div>
    <div id="winAdvSearch" class="easyui-window winClass" title="Adv. Search" style="width:650px;" data-options=" modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <table cellpadding="2" cellspacing="2" style="width:100%;">
            <tr>
                <td>
                    <fieldset style="margin-bottom: 0px;">
                        <legend>Searching Criteria</legend>
                        <table cellpadding="2" cellspacing="2">
                           
                            <tr>
                                <td style=" width:20%;text-align:right;">
                                    <label>Dispo No: </label>
                                </td>
                                <td style=" width:30%;text-align:left;">
                                    <input id="txtExeNo" type="text" style="width:100%" />
                                </td>
                                <td style=" width:20%;text-align:right;">
                                  
                                </td>
                                <td style=" width:30%;text-align:left;">
                                    
                                </td>
                            </tr>
                            <tr>
                                <td style=" width:20%;text-align:right;">
                                    <label>Transfer Date: </label>
                                </td>
                                <td colspan="3">
                                    <select id="cboTransferDate" style="width:30%;" onchange="DateActionTransferDate();"></select>
                                    <input id="txtFromTransferAdv" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                    <input id="txtToTransferAdv" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                            </tr>
                            <tr>
                                <td style=" width:20%;text-align:right;">
                                    <label>Dispo Date: </label>
                                </td>
                                <td colspan="3">
                                    <select id="cboDispoDate" style="width:30%;" onchange="DateActionsDispoDateAdvSearch();"></select>
                                    <input id="txtFromDispoDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                    <input id="txtToDispoDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                            </tr>
                             <tr>
                                <td style="width:20%;text-align:right;">
                                    <label>Buyer Name:</label>
                                </td>
                                <td colspan="3" style=" width:80%;text-align:left;">
                                    <input id="txtContractorAdvS" style="width:75%;" type="text" placeholder="Type & Press Enter" />
                                    <a id="btnPickContractorAdvS" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                    <a id="btnClrContractorAdvS" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>

                                </td>
                            </tr>
                            <tr>
                                <td style=" width:20%;text-align:right;">
                                    <label>Garments Name:</label>
                                </td>
                                <td colspan="3" style=" width:80%;text-align:left;">
                                    <input id="txtDeliverToAdvS" style="width:75%;" type="text" placeholder="Type & Press Enter" />
                                    <a id="btnPickDeliverToAdvS" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                    <a id="btnClrDeliverToAdvS" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                </td>
                            </tr>
                            <tr>
                                <td style=" width:20%;text-align:right;">
                                    <label>Status:</label>
                                </td>
                                <td colspan="3" style=" width:80%;">
                                    <select id="cboStatus" style=" width:87%;height:22px;">
                                        <option value="0">--Select One--</option>
                                        <option value="1">Waiting For Beam Receive</option>
                                        <option value="2">Warping Beam Receive But Warp Plan Pending</option>
                                        <option value="3">Beam Complete But Transfer Pending</option>
                                        <option value="4">Wait For Sizing Plan</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
        </table>

        <fieldset class="actionfieldsetstyle">
            <legend>Actions : </legend>
            <label class="lblLoadingMessage" style="float: left;">Loading Please Wait...</label>
            <a id="btnExcelAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Excel</a>
            <a id="btnResetAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
            <a id="btnSearchAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
            <a id="btnCloseAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>
    <style type="text/css">
        .lines-no .datagrid-body td {
            border-right: 1px dotted transparent;
            border-bottom: 1px dotted transparent;
        }
    </style>

    <script type="text/javascript">
        var _sBaseAddress="";
        var _oRPT_Dispo=null;
        var _oRPT_Dispos=[];
        var _oCompareOperators=[];
        var _oPaymentTypes=[];
        var _oDUOrderSetups=[];
        var _oMktPersons=[];

        var _sControllerName="";
        var _nBUID = 0;
        var _sContractorIds = '';
        var _sCPersonnelIds = '';
        var _sBuyerIDsAdvSearch = '';
        var _oBU = null;
        var _nReportType=0;
        var _sProductIds="";
        $(document).ready(function () {

            _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
            _oRPT_Dispos =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
            _oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
            _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
            _oBU = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BU));
            debugger;
            var oRPTDispos = sessionStorage.getItem("RPTDispo");
            if(oRPTDispos!=null)
            {
                oRPTDispos = jQuery.parseJSON(oRPTDispos);
            }
            else
            {
                oRPTDispos=_oRPT_Dispos;
            }
            DynamicRefreshList(oRPTDispos, "tblRPTDispo");
            var nSelectedRowIndex = sessionStorage.getItem("SelectedRowIndex");
            if(oRPTDispos!=null) $('#tblRPTDispo').datagrid('selectRow', nSelectedRowIndex);

            //if(oRPTDispos != null && oRPTDispos != 'undefined'){
            //    if(oRPTDispos.length > 0){
            //        DynamicRefreshList(oRPTDispos, "tblRPTDispo");
            //        var nSelectedRowIndex = sessionStorage.getItem("SelectedRowIndex");
            //        $('#tblRPTDispo').datagrid('selectRow', nSelectedRowIndex);
            //    }  
            //}
                   
            $(".lblBUSName").html(_oBU.ShortName);
            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").hide();
            $(".lblLoadingMessage").hide();

            LoadComboAdv();
            debugger;
            RefreshDate()
        });

        $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });

        function RefreshDate()
        {
            $('#txtStartDate').datebox('setValue', icsdateformat(new Date()));
        }


        $("#btnPrint").click(function () {

            var sParams=sessionStorage.getItem("ParamsSO");
            window.open(_sBaseAddress + '/RPT_Dispo/Print_SampleOrderReport?sTempString=' + sParams, "_blank");
        });
        $("#btnPartyWisePrint").click(function () {
            var sParams=sessionStorage.getItem("ParamsSO");
            window.open(_sBaseAddress + '/RPT_Dispo/Print_PartyWiseSOReport?sTempString=' + sParams, "_blank");
        });
        $("#btnProductWisePrint").click(function () {

            var sParams=sessionStorage.getItem("ParamsSO");
            window.open(_sBaseAddress + '/RPT_Dispo/Print_ProductWiseSOReport?sTempString=' + sParams, "_blank");
        });
        $("#btnPrintXL").click(function () {

            var sParams=sessionStorage.getItem("ParamsSO");
            window.open(_sBaseAddress + '/RPT_Dispo/Print_SampleOrderReportAllXL?sTempString=' + sParams, "_blank");
        });

        //order no

        function formatter(date){
            if (!date){return '';}
            var y = date.getFullYear();
            return y;
        }
        function parser(s){
            if (!s){return null;}
            var ss = s.split('-');
            var y = parseInt(ss[0],10);
            if (!isNaN(y)){
                return new Date(y,1,1);
            } else {
                return new Date();
            }
        }


        ////Start adv Searching

        function updateProgress() {
            var value =$('#progressbar').progressbar('getValue');
            if (value < 96){
                value += Math.floor(Math.random() * 10);
                $('#progressbar').progressbar('setValue', value);
            }
        }
        function hideShow(miliseconds) {
            $("#progressbarParent").hide();
        }
        //Account Of Picker

        $("#txtContractorAdvS").keydown(function (e) {
            if (e.keyCode === 13) // Enter Press
            {
                PickContractors_AdvS();
            }
            else if (e.keyCode === 08) {
                $("#txtContractorAdvS").removeClass("fontColorOfPickItem");
                _sContractorIds = '';
            }
        });

        $("#btnClrContractorAdvS").click(function () {
            $("#txtContractorAdvS").removeClass("fontColorOfPickItem");
            $("#txtContractorAdvS").val("");
            _sContractorIds = '';
        });

        $("#btnPickContractorAdvS").click(function () {
            PickContractors_AdvS();
        });
        $("#txtSearchByAccountNamePickerAdvSearch").keydown(function (e) {
            var obj = {
                Event: e,
                SearchProperty: "Name",
                GlobalObjectList: _oAccountsOf,
                TableId: "tblAccountsPickerAdvSearch"
            };
            $('#txtSearchByAccountNamePickerAdvSearch').icsSearchByText(obj);
        });
        //End Account Of Picker
        $("#txtDeliverToAdvS").keydown(function (e) {
            if (e.keyCode === 13) // Enter Press
            {
                PickDeliverTo_AdvS();
            }
            else if (e.keyCode === 08) {
                $("#txtDeliverToAdvS").removeClass("fontColorOfPickItem");
                _sDeliverToIDs ="";
            }
        });

        $("#btnClrDeliverToAdvS").click(function () {
            $("#txtDeliverToAdvS").removeClass("fontColorOfPickItem");
            $("#txtDeliverToAdvS").val("");
            _sDeliverToIDs ="";
        });

        $("#btnPickDeliverToAdvS").click(function () {
            PickDeliverTo_AdvS();
        });

        //Product Pick
        $("#txtProductName").keydown(function (e) {
            debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) // Enter Press
            {
                if($('#txtProductName').val()==null || $('#txtProductName').val()=="")
                {
                    alert("Please Type Product and Press Enter.");
                    $('#txtProductName').focus();
                    return;
                }
                PickProduct($('#txtProductName').val());
            }
            if (code == 8) //backspace=8
            {
                //debugger;
                $("#txtProductName").removeClass("fontColorOfPickItem");
                _sProductIds= [];
            }
        });
        $("#btnProductPiker").click(function () {
            PickProduct("");
        });
        $("#btnClrProductPiker").click(function () {
            $("#txtProductName").val('');
            $("#txtProductName").removeClass("fontColorOfPickItem");
            _sProductIds= [];
        });
        function PickProduct(sProductName)
        {
            var oProduct = { BUID:sessionStorage.getItem("BUID"),ProductName:sProductName};
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oProduct,
                ControllerName: "Product",
                ActionName: "SearchByProductBUWise",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                debugger;
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ProductID > 0) {
                        var tblColums = [];
                        var oColumn = { field: "ProductCode", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ProductName", title: "Name", width: 300, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "MUnit", title: "Unit", width: 70, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winProductPicker',
                            winclass: 'clsProductPicker',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblProductPicker',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'NameCode',
                            windowTittle: 'Product List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else {
                        alert(response.objs[0].ErrorMessage);
                    }

                }else{
                    alert("Data Not Found.");
                }
            });
        }


        //End Buyer Search

    

        $("#btnResetAdvSearch").click(function () {
            $('#txtOrderNoFrom').val('');
            $('#txtOrderNoTo').val('');
            ResetAdvSearchWindow();
            DateActionTransferDate();
            DateActionsDispoDateAdvSearch();
          
        });

        $("#btnSearchAdvSearch").click(function () {
            debugger;

            $(".lblLoadingMessage").show();

           
            var checkDate = CheckFromAndToDateValidation("cboDispoDate", "txtFromDispoDateAdvSearch", "txtToDispoDateAdvSearch");
            if (!checkDate) {
                alert("Start date must be greater than end date.");
                return false;
            }
            

            var ncboDispoDate = parseInt($("#cboDispoDate").val());
            var dFromDispoDate = $('#txtFromDispoDateAdvSearch').datebox('getValue');
            var dToDispoDate = $('#txtToDispoDateAdvSearch').datebox('getValue');
            var txtExeNo = $.trim($("#txtExeNo").val());
         
            var nStatus = parseInt($("#cboStatus").val());

            var ncboTransferDate = parseInt($("#cboTransferDate").val());
            var dFromTransferAdv = $('#txtFromTransferAdv').datebox('getValue');
            var dToTransferAdv = $('#txtToTransferAdv').datebox('getValue');

            debugger;
            var sParams =  txtExeNo + "~" +
                          ncboDispoDate + "~" +
                          dFromDispoDate + "~" +
                          dToDispoDate + "~" +
                          _sContractorIds + "~" +
                          _sDeliverToIDs + "~" +
                          ncboTransferDate + "~" +
                          dFromTransferAdv + "~" +
                          dToTransferAdv ;


            //console.log(sParams);
            sessionStorage.setItem("ParamsSO", sParams);
            var oRPT_Dispo = {
                Params : sParams,
                Status: nStatus
            };
            Search(oRPT_Dispo);
          
        });

        $('#txtSearchByDispo').keypress(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13)//Enter key-13
            {
                _sContractorIds="";
                _sDeliverToIDs="";
              
                var ncboDispoDate = 0;
                var dFromDispoDate = icsdateformat(new Date());
                var dToDispoDate = icsdateformat(new Date());
                var txtExeNo = $.trim($("#txtSearchByDispo").val());
                var nStatus = parseInt($("#cboStatus").val());

                var ncboTransferDate = 0;
                var dFromTransferAdv =  icsdateformat(new Date());
                var dToTransferAdv = icsdateformat(new Date());
                debugger;
                var sParams =  txtExeNo + "~" +
                              ncboDispoDate + "~" +
                              dFromDispoDate + "~" +
                              dToDispoDate + "~" +
                              _sContractorIds + "~" +
                              _sDeliverToIDs + "~" +
                          ncboTransferDate + "~" +
                          dFromTransferAdv + "~" +
                          dToTransferAdv ;

                sessionStorage.setItem("ParamsSO", sParams);
                var oRPT_Dispo = {
                    Params : sParams,
                    Status: nStatus
                };

                Search(oRPT_Dispo);
            }
            else if (code === 8) {
                DynamicRefreshList([], "tblExportBillReports");
            }
        });

        function Search(oRPT_Dispo)
        {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: _sBaseAddress + "/RPT_Dispo/AdvSearch_Weaving",
                traditional: true,
                data: JSON.stringify(oRPT_Dispo),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oRPT_Dispos = data;
                    debugger;
                    if (oRPT_Dispos != null) {
                        if (oRPT_Dispos.length > 0)
                        {
                            DynamicRefreshList(oRPT_Dispos, "tblRPTDispo");
                            $("#winAdvSearch").icsWindow("close");
                        }
                        else
                        {
                            alert("Sorry, No data found.");
                            DynamicRefreshList([], "tblRPTDispo");
                        }

                    } else {
                        alert("Sorry, No data found.");
                        DynamicRefreshList([], "tblRPTDispo");
                    }
                    $(".lblLoadingMessage").hide();
                }
            });
        }

        $("#btnExcelAdvSearch").click(function () {
            debugger;
            var checkDate = CheckFromAndToDateValidation("cboDispoDate", "txtFromDispoDateAdvSearch", "txtToDispoDateAdvSearch");
            if (!checkDate) {
                alert("Start date must be greater than end date.");
                return false;
            }
            $(".lblLoadingMessage").show();
            
            var ncboDispoDate = parseInt($("#cboDispoDate").val());
            var dFromDispoDate = $('#txtFromDispoDateAdvSearch').datebox('getValue');
            var dToDispoDate = $('#txtToDispoDateAdvSearch').datebox('getValue');
            var txtExeNo = $.trim($("#txtExeNo").val());
         
            var nStatus = parseInt($("#cboStatus").val());

            var ncboTransferDate = parseInt($("#cboTransferDate").val());
            var dFromTransferAdv = $('#txtFromTransferAdv').datebox('getValue');
            var dToTransferAdv = $('#txtToTransferAdv').datebox('getValue');

            debugger;
            var sParams =  txtExeNo + "~" +
                          ncboDispoDate + "~" +
                          dFromDispoDate + "~" +
                          dToDispoDate + "~" +
                          _sContractorIds + "~" +
                          _sDeliverToIDs + "~" +
                          ncboTransferDate + "~" +
                          dFromTransferAdv + "~" +
                          dToTransferAdv ;


            //console.log(sParams);
            sessionStorage.setItem("ParamsSO", sParams);
            var oRPT_Dispo = {
                Params : sParams,
                Status: nStatus
            };
            //Search(oRPT_Dispo);
          
            $.ajax({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+  "/RPT_Dispo/SetDispoData",
                traditional: true,
                data:  JSON.stringify(oRPT_Dispo),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var sFeedBackMessage = jQuery.parseJSON(data);
                    if (sFeedBackMessage==="Successful")
                    {
                        $(".lblLoadingMessage").hide();
                        window.open (_sBaseAddress+ "/RPT_Dispo/ExcelDispos");
                    }
                },
                error: function (xhr, status, error) {
                    $(".lblLoadingMessage").hide();
                    alert(error);
                }
            });

        });

        //function MakeStringIDs(StringIDs)
        //{
        //    var IDs = "";
        //    for (var i = 0; i < StringIDs.length; i++) {
        //        IDs = StringIDs[i].OrderType + "," + IDs;
        //    }
        //    var length = 0;
        //    length = parseInt(IDs.length) - 1;
        //    IDs = IDs.substring(0, parseInt(length));
        //    return IDs;
        //}
        function LoadComboAdv()
        {
            DynamicRefreshList(_oDUOrderSetups, "tblOrderType");
          
            $("#cboTransferDate,#cboDispoDate").icsLoadCombo({
                List: _oCompareOperators,
                OptionValue: "id",
                DisplayText: "Value"
            });
         
        }
        function CheckFromAndToDateValidation(OperationComboId, FromDateId, ToDateId) {
            $("#" + OperationComboId).parent().parent().parent().find("select").removeClass("errorFieldBorder");
            var nCboVal = $("#" + OperationComboId).val();
            if (parseInt(nCboVal) == 5 || parseInt(nCboVal) == 6) {
                var fromDate = $("#" + FromDateId).datebox("getValue");
                var toDate = $("#" + ToDateId).datebox("getValue");
                if (new Date(fromDate) > new Date(toDate)) {
                    $("#" + ToDateId).focus();
                    $("#" + OperationComboId).addClass("errorFieldBorder");
                    $(".lblLoadingMessage").hide();
                    return false;
                } else {
                    $("#" + OperationComboId).removeClass("errorFieldBorder");
                    return true;
                }
            } else {
                return true;
            }
        }

        function ResetAdvSearchWindow() {
            _sContractorIds = '';
            _sDeliverToIDs = "";
            _sCPersonnelIds="";
            $("#winAdvSearch input").not("input[type='button']").val("");
            $("#winAdvSearch input").removeClass("fontColorOfPickItem");
            $("#winAdvSearch select").val(0);
            DateActionTransferDate();
            DateActionsDispoDateAdvSearch();
         
            $("#txtFromTransferAdv,#txtFromDispoDateAdvSearch").datebox({ disabled: true });
            $("#txtFromTransferAdv,#txtToTransferAdv,#txtFromDispoDateAdvSearch, #txtToDispoDateAdvSearch").datebox("setValue", icsdateformat(new Date()));
        }

        function PickContractors_AdvS() {
            var oContractor = {
                Params: '2,3' + '~' + $.trim($("#txtContractorAdvS").val())+"~"+_nBUID
            };
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oContractor,
                ControllerName: "Contractor",
                ActionName: "ContractorSearchByNameType",
                IsWinClose: false
            };

            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").show();
            var intervalID = setInterval(updateProgress, 250);

            DynamicRefreshList([], "tblAccountsPickerAdvSearch");
            $.icsDataGets(obj, function (response) {
                clearInterval(intervalID);
                $("#progressbarParent").hide();
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ContractorID > 0) {
                        var tblColums = []; var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Name", title: "Name", width: 280, align: "left" }; tblColums.push(oColumn);

                        var oPickerParam = {
                            winid: 'winContractorPicker',
                            winclass: 'clsAccountOf',
                            winwidth: 400,
                            winheight: 460,
                            tableid: 'tblAccountOfs',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'Name',
                            windowTittle: 'Contactor List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else {
                        alert(response.objs[0].ErrorMessage);
                    }
                }
                else {
                    alert("Sorry, No Contactor Found.");
                }
            });
        }

        function PickDeliverTo_AdvS() {
            var oContractor = {
                Params: '2' + '~' + $.trim($("#txtDeliverToAdvS").val()+"~"+_nBUID)
            };
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oContractor,
                ControllerName: "Contractor",
                ActionName: "ContractorSearchByNameType",
                IsWinClose: false
            };
            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").show();
            var intervalID = setInterval(updateProgress, 250);
            DynamicRefreshList([], "tblContractorsPickerAdvSearch");
            $.icsDataGets(obj, function (response) {
                clearInterval(intervalID);
                $("#progressbarParent").hide();
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ContractorID > 0) {
                        var tblColums = []; var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Name", title: "Name", width: 280, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winBuyers',
                            winclass: 'clsBuyer',
                            winwidth: 400,
                            winheight: 460,
                            tableid: 'tblBuyers',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'Name',
                            windowTittle: 'Buyer List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else {
                        alert(response.objs[0].ErrorMessage);
                    }
                }
                else {
                    alert("Sorry, No Contactor Found.");
                }
            });
        }

        function DateActionsDispoDateAdvSearch() {
            DynamicDateActions("cboDispoDate", "txtFromDispoDateAdvSearch", "txtToDispoDateAdvSearch");
        }
        function DateActionTransferDate() {
            DynamicDateActions("cboTransferDate", "txtFromTransferAdv", "txtToTransferAdv");
        }
     

        $("#btnCloseAdvSearch").click(function () {
            $("#winAdvSearch").icsWindow("close");
        });
        $("#btnAdvSearch").click(function () {
            debugger;
            $("#winAdvSearch").icsWindow("open", "Sample Order Advance Search");
            //DynamicRefreshList([], "tblExportPIAdvSearch");
            DynamicResetAdvSearchWindow("winAdvSearch");
            DynamicDateActions("cboDateOptionAdvSearch", "txtFromDateAdvSearch", "txtToDateAdvSearch");
            DynamicDateActions("cboTransferDate", "txtFromTransferAdv", "txtToTransferAdv");
            ResetAdvSearchWindow();
        });

        function IntializePickerbutton(oPickerobj) {
            $("#" + oPickerobj.winid).find("#btnOk").click(function () {
                SetPickerValueAssign(oPickerobj);
            });
            $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
                if (e.which === 13) {
                    SetPickerValueAssign(oPickerobj);
                }
            });
        }
        function SetPickerValueAssign(oPickerobj) {
            var oreturnObj = null, oreturnObjs = [];
            if (oPickerobj.multiplereturn) {
                oreturnObjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
            } else {
                oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
            }

            if (oPickerobj.winid == 'winContractorPicker')
            {
                if (oreturnObjs != null && oreturnObjs.length> 0)
                {

                    _sContractorIds=''; var sMessage='';
                    sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Contractors Selected" : oreturnObjs[0].Name;
                    $('#txtContractorAdvS').val(sMessage);
                    $("#txtContractorAdvS").addClass("fontColorOfPickItem");

                    for(var i=0;i<oreturnObjs.length;i++){
                        _sContractorIds=_sContractorIds+oreturnObjs[i].ContractorID+',';
                    }
                    _sContractorIds=_sContractorIds.substring(0,_sContractorIds.length-1);

                }
                else
                {
                    alert("Please select a contractor.");
                    return false;
                }
            }
            else if (oPickerobj.winid == 'winCPersonPicker')
            {
                debugger;

                if (oreturnObjs!=null && oreturnObjs.length > 0) {

                    _sCPersonnelIds=''; var sMessage='';
                    sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Con Person Selected" : oreturnObjs[0].Name;
                    $('#txtContactPersonnel').val(sMessage);
                    $("#txtContactPersonnel").addClass("fontColorOfPickItem");

                    for(var i=0;i<oreturnObjs.length;i++){
                        _sCPersonnelIds=_sCPersonnelIds+oreturnObjs[i].ContactPersonnelID+',';
                    }
                    _sCPersonnelIds=_sCPersonnelIds.substring(0,_sCPersonnelIds.length-1);
                }
            }
            else if (oPickerobj.winid == 'winBuyers') {
                if (oreturnObjs != null && oreturnObjs.length> 0)
                {
                    _sDeliverToIDs='';
                    var sMessage='';
                    sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Contractors Selected" : oreturnObjs[0].Name;
                    $('#txtDeliverToAdvS').val(sMessage);
                    $("#txtDeliverToAdvS").addClass("fontColorOfPickItem");

                    for(var i=0;i<oreturnObjs.length;i++){
                        _sDeliverToIDs=_sDeliverToIDs+oreturnObjs[i].ContractorID+',';
                    }
                    _sDeliverToIDs=_sDeliverToIDs.substring(0,_sDeliverToIDs.length-1);



                }
                else
                {
                    alert("Please select a buyer.");
                    return false;
                }
            }
            else if (oPickerobj.winid == 'winProductPicker')
            {
                if (oreturnObjs!= null && oreturnObjs.length> 0)
                {
                    _sProductIds=''; var sMessage='';
                    sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" ProductName Selected" : oreturnObjs[0].ProductName;
                    $('#txtProductName').val(sMessage);
                    $("#txtProductName").addClass("fontColorOfPickItem");

                    for(var i=0;i<oreturnObjs.length;i++){
                        _sProductIds=_sProductIds+oreturnObjs[i].ProductID+',';
                    }
                    _sProductIds=_sProductIds.substring(0,_sProductIds.length-1);

                }
                else
                {
                    alert("Please select a Product.");
                    return false;
                }

            }
            $("#" + oPickerobj.winid).icsWindow("close");
            $("#" + oPickerobj.winid).remove();
        }
        /// end f Searching
        $("#btnPrintDispo").click(function() {
            var oRPT_Dispo= $('#tblRPTDispo').datagrid('getSelected');
            if(oRPT_Dispo==null || oRPT_Dispo.FEOSID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            var nts = ((new Date()).getTime()) / 1000;
            window.open(_sBaseAddress + '/FabricExecutionOrderSpecification/PrintFabricSpecification?nId=' +oRPT_Dispo.FEOSID + "&nts=" + nts, "_blank");
        });
        $("#btnPrintStatement").click(function() {
            var oRPT_Dispo= $('#tblRPTDispo').datagrid('getSelected');
            if(oRPT_Dispo==null || oRPT_Dispo.FEOSID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            var nts = ((new Date()).getTime()) / 1000;
            window.open(_sBaseAddress+ "/RPT_Dispo/Print_HWStatement?nID="+oRPT_Dispo.FEOSID+"&nBUID="+sessionStorage.getItem('BUID'), "_blank");
        });

        $("#btnDispoWisePrint").click(function() {
            var oRPT_Dispo= $('#tblRPTDispo').datagrid('getSelected');
            if(oRPT_Dispo==null || oRPT_Dispo.FEOSID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            window.open(_sBaseAddress + '/RPT_Dispo/DispoWiseStatementPrint?nId=' +oRPT_Dispo.FEOSID + "&nBUID=" + _nBUID, "_blank");
        });

        $("#btnAddRec").click(function(){
            var oRPT_Dispo= $('#tblRPTDispo').datagrid('getSelected');
            if(oRPT_Dispo==null || oRPT_Dispo.FEOSID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            var SelectedRowIndex=$('#tblRPTDispo').datagrid('getRowIndex',oRPT_Dispo);
            var oRPTDispos= $('#tblRPTDispo').datagrid('getRows');
            sessionStorage.setItem("RPTDispo", JSON.stringify(oRPTDispos));
            sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
            sessionStorage.setItem("ExportSCHeader", "Operation");

            sessionStorage.setItem("BackLink", window.location.href);
            window.location.href = _sBaseAddress+  "/RPT_Dispo/ViewDispoPlane?nId="+oRPT_Dispo.FEOSID;
        });

    </script>


