@{
    ViewBag.Title = "Return Challan";
}

<html>
<head>
    <title>Claim Order </title>
</head>
<body>
    @model ESimSol.BusinessObjects.DUReturnChallan
    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable">
        <div style="width:100%;height:88%">
            <fieldset>
                <legend style="font-weight:bold">Order info </legend>
                <table cellpadding="2" cellspacing="2" style="width:100%">
                    <tr>
                       
                        <td style="width: 15%; text-align: right;">
                            <label style="font-size:12px">Return Cha'an No</label>
                        </td>
                        <td style="width: 25%; text-align: left">
                            <input id="txtDUReturnChallanNo" style="width: 100%;" class="reset-text" disabled="disabled" />
                        </td>
                        <td style="width: 10%; text-align: right">
                            <label>Date</label>
                        </td>
                        <td style="width: 20%; text-align: left">
                            <input id="txtDate" type="text" class="easyui-datebox" style="width: 105px;" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                        <td style="width: 10%; text-align: right">
                            <label>Challan No</label>
                        </td>
                        <td style="width: 20%; text-align: left">
                            <input id="txtDeliveryChallanNo" style="width: 60%" class="reset-text" placeholder="Search by Challan No" />
                            <a id="btnPickDeliveryChallan" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                            <a id="btnResetDeliveryChallan" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 15%; text-align: right">
                            <label>Ref Challan No</label>
                        </td>
                        <td style="width: 25%; text-align: left">
                            <input id="txtRefChallanNo" style="width: 100%" class="reset-text" placeholder=" Ref Challan No" />
                        </td>
                        <td style="width: 10%; text-align: right">
                            <label>Vehicle Info</label>
                        </td>
                        <td style="width: 20%; text-align: left">
                            <input id="txtVehicleInfo" style="width: 100%" class="reset-text" placeholder=" Vehicle Info" />
                        </td>
                        <td style="width: 10%; text-align: right">
                            <label>Order No</label>
                        </td>
                        <td style="width: 20%; text-align: left">
                            <input id="txtOrderNo" style="width: 100%" class="reset-text" placeholder="Order No " />
                        </td>
                      
                    </tr>
                    <tr>
                        <td style="width: 15%; text-align: right">
                            <label>Buyer Name</label>
                        </td>
                        <td colspan="3" style="width: 55%; text-align: left">
                            <input id="txtContractorName" style="width: 100%;" class="reset-text" disabled="disabled" />
                        </td>

                        <td style="width: 10%; text-align: right">
                            <label>Order Type</label>
                        </td>
                        <td style="width: 20%; text-align: left">
                            
                            <select style="width: 92%;height:22px" id="cboOrderType"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%; text-align: right">
                            <label>Note</label>
                        </td>
                        <td colspan="5" style="width: 85%; text-align: left">
                            <input id="txtNote" style="width: 100%;" />
                        </td>
                        @*<td style="width: 15%; text-align: left"></td>*@
                    </tr>
                </table>
            </fieldset>
            <fieldset>
                <legend style="font-weight:bold">Detail info </legend>
                <table id="tblDUReturnChallanDetail" class="easyui-datagrid" style="width:100%;height:300px;"
                       data-options="singleSelect: true,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false, toolbar: '#toolbar',onClickRow:onClickRow ">
                    <thead>
                        <tr>                            
                            <th field="OrderNo" width="10%" align="left">BPO No</th>
                            <th field="OrderNo" width="10%" align="left">Order No</th>
                            <th field="ProductName" width="25%" align="left">Product</th>
                            <th field="ColorName" width="10%" align="left">Color</th>
                            @*<th field="OrderNo" width="10%" align="left">BPO No</th>*@
                            <th field="LotNo" width="10%" align="left">Lot No</th>
                            @*<th field="OrderQty" width="10%" align="right" formatter="formatPrice">Order Qty</th>*@
                            <th data-options="field:'Qty',align:'right',editor:{type:'numberbox',options:{precision:2}}" width="15%">Qty(LBS)</th>
                            <th data-options="field:'Note',width:100,height:60 ,align:'Left',editor:{type:'text'}" width="20%" align="Left">Rmark</th>
                            
                        </tr>
                    </thead>
                </table>
                <div id="toolbar">
                    @*<input id="txtDeliveryOrderNo" style="width: 20%" class="reset-text" placeholder="Search by Challan No" />*@
                    @*<a id="btnPickDeliveryChallan" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                    <a id="btnResetDeliveryChallan" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>*@

                    Order No: <input type="text" id="txtOrderNoPick" style="width:100px;" placeholder="Type Order No" />
                    Lot No: <input type="text" id="txtLotNoPick" style="width:100px;" placeholder="Type Lot No" />
                    Challan No: <input type="text" id="txtDeliveryChallanNoPick" style="width:100px" placeholder="Search by Challan No" />

                    <a id="btnPickDCDetails" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"> Pick Color</a>
                    @*<a id="btnResetExportPI" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>*@
                    <a id="btnRemoveDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                </div>
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tr>
                        <td style="width:65%;  text-align:right;font-weight:bold;">Total:</td>
                        <td style="width:10%;  text-align:right;font-weight:bold;"><label id="lblTotalQty">0</label> </td>
                        <td style="width:5%;  text-align:right;font-weight:bold;"> </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend>Action</legend>
            <div style="width:100%;height:10%">
                <table border="0" cellpadding="2" cellspacing="2" style="width:100%;">
                <tr>
                    <td style=" float:left;  width:10%; ">
                        <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
                    </td>
                    <td style=" float:right;  width:40%; "> </td>
                    <td style="width:50%; text-align: right">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        <select style="width: 150px;height:22px" id="cboWorkingUnit"></select>
                        <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Approve</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
                </table>
            </div>
        </fieldset>
    </div>
</body>
</html>

<style type="text/css">
    .td-styler input {
        padding-left: 5px;
    }

    .td-styler select {
        padding-left: 5px;
    }

    .td-col-3 select {
        width: 95%;
    }
</style>

<script type="text/javascript">

    var _sBaseAddress = "";
    var _oDUReturnChallan=null;
    var _nProductID=0;
    var _oDUReturnChallanDetail=[];
    var _nSelectedRowIndex=0;
    var _sBackLink="";
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oDUReturnChallan =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oOrderTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.OrderTypes));
        var oWorkingUnits =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.WorkingUnits));
        debugger;
        Initialization(_oDUReturnChallan,((sessionStorage.length>0)?sessionStorage.getItem('Operation'):'New'));
        _sBackLink=sessionStorage.getItem("BackLink");
        // Control_disabled();
        $("#cboOrderType").icsLoadCombo({ List: oOrderTypes, OptionValue: "OrderType", DisplayText: "ShortName",});
        $("#cboWorkingUnit").icsLoadCombo({ List: oWorkingUnits, OptionValue: "WorkingUnitID", DisplayText: "OperationUnitName",});

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
    });

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }
    function Initialization(oDUReturnChallan, sOperation){
        ResetControll();
        RefreshControl(oDUReturnChallan);
        if(sOperation=="View")
        {
            $('#toolbar,#cboWorkingUnit, #btnApprove,#btnSave,.ics-pick').hide();
            $('input,select').not('#txtDUReturnChallanNo').prop('disabled',true);
        }
        else if(sOperation=="Approve")
        {
            $('#toolbar,#btnSave,.ics-pick').hide();
            $('#btnApprove,#cboWorkingUnit').show();
            //$('input,select').not('#txtDUReturnChallanNo').prop('disabled',true);
        }
        else if(sOperation=="Checked")
        {
            $('#toolbar,#btnSave,#cboWorkingUnit,#btnApprove,.ics-pick').hide();
            //$('input,select').not('#txtDUReturnChallanNo').prop('disabled',true);
        }
        else{
            $('#btnApprove,#cboWorkingUnit').hide();
            $('#toolbar,#btnSave,.ics-pick').show();
            //$('input,select').not('#txtDUReturnChallanNo').prop('disabled',false);
        }

    }


    function ResetControll(){

        $('#txtDate').datebox('setValue', icsdateformat(new Date()));
        $('.reset-text').val("");
        DynamicRefreshList([], 'tblDUReturnChallanDetail');
        RefreshSummary();
    }
    function RefreshControl(oDUReturnChallan){
        debugger;
        _oDUReturnChallan=oDUReturnChallan;
        $('#txtDUReturnChallanNo').val(oDUReturnChallan.DUReturnChallanNo);
        $('#txtDeliveryChallanNo').val(oDUReturnChallan.DeliveryChallanNo);
        $('#txtRefChallanNo').val(oDUReturnChallan.RefChallanNo);
        $('#txtVehicleInfo').val(oDUReturnChallan.VehicleInfo);
        $('#txtDate').datebox('setValue',oDUReturnChallan.ReturnDateSt);
        $('#txtContractorName').val(oDUReturnChallan.ContractorName);
        $('#txtOrderNo').val(oDUReturnChallan.OrderNo);
        $('#cboOrderType').val(oDUReturnChallan.OrderType);
        $('#txtNote').val(oDUReturnChallan.Note);

        if(oDUReturnChallan.DUReturnChallanDetails!==null && oDUReturnChallan.DUReturnChallanDetails.length>0)
        {
            DynamicRefreshList(oDUReturnChallan.DUReturnChallanDetails, 'tblDUReturnChallanDetail');
        }
        else{
            DynamicRefreshList([], 'tblDUReturnChallanDetail');
        }
        RefreshSummary();
    }

    function Validation(){

        if(_oDUReturnChallan.DUDeliveryChallanID<=0){
            $('#txtDeliveryChallanNo').focus();
            $('#txtDeliveryChallanNo').addClass("errorFieldBorder");
            alert('Delivery Challan required.');
            return false;
        }
        else{
            $('#txtDeliveryChallanNo').removeClass("errorFieldBorder");
        }


        //if(parseInt($("#cboOrderType").val())<=0){
        //    $('#cboOrderType').focus();
        //    $('#cboOrderType').addClass("errorFieldBorder");
        //    alert('Order Type required.');
        //    return false;
        //}
        //else{
        //    $('#cboOrderType').removeClass("errorFieldBorder");
        //}
        return true;
    }


    //Pick PI

    //End PI
    //Pick DO
    $("#btnPickDeliveryChallan").click(function () {

        var sNo=$.trim($("#txtDeliveryChallanNo").val());
        if(sNo=="" || sNo==null)
        {   alert("Type Challan No.");
            $("#txtDeliveryChallanNo").focus()
            $("#txtDeliveryChallanNo").addClass("errorFieldBorder"); }

        var oDUDeliveryChallan = {
            ChallanNo:sNo,
            ContractorID:_oDUReturnChallan.ContractorID,
            OrderType:_oDUReturnChallan.OrderType

        };
        GetsDeliveryChallans(oDUDeliveryChallan);
    });
    $("#txtDeliveryChallanNo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sNo=$.trim($("#txtDeliveryChallanNo").val());
            if(sNo=="" || sNo==null)
            {
                alert("Type Challan No.");
                $("#txtDeliveryChallanNo").focus()
                $("#txtDeliveryChallanNo").addClass("errorFieldBorder");
                return ;
            }

            var oDUDeliveryChallan = {
                ChallanNo:sNo,
                ContractorID:0,
                OrderType:0

            };
            GetsDeliveryChallans(oDUDeliveryChallan);
        }
        else if(nkeyCode==8){
            $("#txtDeliveryChallanNo").val("");
            _oDUReturnChallan.DUDeliveryChallanID=0;

        }
    });
    $("#btnResetDeliveryChallan").click(function () {
        $("#txtDeliveryChallanNo").val("");
        _oDUReturnChallan.DUDeliveryChallanID=0;

    });
    function GetsDeliveryChallans(oDUDeliveryChallan){


        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oDUDeliveryChallan,
            ControllerName: "DUReturnChallan",
            ActionName: "GetDCs",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0)
            {
                if (response.objs[0].DUDeliveryChallanID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "DeliveryChallanNo", title: "Delivery Challan No", width: 150, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Qty", title: "Qty", width: 80, align: "right" };tblColums.push(oColumn);
                    oColumn = { field: "ContractorName", title: "Contractor Name", width: 110, align: "left" };tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winDeliveryChallanPicker',
                        winclass:'clsDeliveryChallanPicker',
                        winwidth: 450,
                        winheight: 460,
                        tableid: 'tblDeliveryChallanPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'Delivery Challan No',
                        windowTittle: 'DeliveryChallanNo'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("Data not found.");
            }
        });

    }
    //End DO

    //Pick DO Detail
    $("#btnPickDCDetails").click(function () {

        if(_oDUReturnChallan.DUDeliveryChallanID<=0)
        { alert("First pick Delivery Challan."); return ; }

        var oDUDeliveryChallanDetail = {
            DUDeliveryChallanID:_oDUReturnChallan.DUDeliveryChallanID
        };
        GetsDeliveryChallanDetails(oDUDeliveryChallanDetail);
    });

    $("#txtOrderNoPick").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {

            var oDUDeliveryChallanDetail = {
                OrderNo:$("#txtOrderNoPick").val(),
                DUDeliveryChallanID:_oDUReturnChallan.DUDeliveryChallanID
            };
            GetsDeliveryChallanDetails(oDUDeliveryChallanDetail);
        }
        else if (e.keyCode === 08) {
            $("#txtOrderNoPick").removeClass("fontColorOfPickItem");
        }
    });
    $("#txtLotNoPick").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {

            var oDUDeliveryChallanDetail = {
                LotNo:$("#txtLotNoPick").val(),
                DUDeliveryChallanID:_oDUReturnChallan.DUDeliveryChallanID
            };
            GetsDeliveryChallanDetails(oDUDeliveryChallanDetail);
        }
        else if (e.keyCode === 08) {
            $("#txtLotNoPick").removeClass("fontColorOfPickItem");
        }
    });
    $("#txtDeliveryChallanNoPick").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {

            var oDUDeliveryChallanDetail = {
                ChallanNo:$("#txtDeliveryChallanNoPick").val(),
                DUDeliveryChallanID:_oDUReturnChallan.DUDeliveryChallanID
            };
            GetsDeliveryChallanDetails(oDUDeliveryChallanDetail);
        }
        else if (e.keyCode === 08) {
            $("#txtDeliveryChallanNoPick").removeClass("fontColorOfPickItem");
        }
    });



    function GetsDeliveryChallanDetails(oDUDeliveryChallanDetail){


        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oDUDeliveryChallanDetail,
            ControllerName: "DUReturnChallan",
            ActionName: "GetsDCDetail",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0)
            {
                if (response.objs[0].DUDeliveryChallanDetailID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "OrderNo", title: "Order No", width: 100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "LotNo", title: "Lot No", width: 80, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Qty", title: "Delivered Qty", width: 50, align: "right" };tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Yarn Type", width: 150, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ColorName", title: "Color", width: 100, align: "left" };tblColums.push(oColumn);
                    //oColumn = { field: "ShadeSt", title: "Shade", width: 30, align: "left" };tblColums.push(oColumn);
                    //oColumn = { field: "ColorNo", title: "ColorNo", width: 80, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "RCNo", title: "Challan No", width: 80, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "RCDate", title: "Challan Date", width: 80, align: "left" };tblColums.push(oColumn);


                    var oPickerParam = {
                        winid: 'winDeliveryChallanDetailPicker',
                        winclass:'clsDeliveryChallanDetailPicker',
                        winwidth: 800,
                        winheight: 460,
                        tableid: 'tblDeliveryChallanDetail',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName:'LotNo',
                        windowTittle: 'Lot List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("Data not found.");
            }
        });

    }


    function GetsDeliveryChallanDetailsByOrder(oDUDeliveryChallanDetail)
    {
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oDUDeliveryChallanDetail,
            ControllerName: "DUReturnChallan",
            ActionName: "GetsDCDetail",
            IsWinClose: false
        };

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();

        var intervalID = setInterval(updateProgress, 250);

        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0)
            {
                if (response.objs[0].DUDeliveryChallanDetailID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "LotNo", title: "Lot No", width: 100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Qty", title: "Order Qty", width: 50, align: "right" };tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Yarn Type", width: 150, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ColorName", title: "Color", width: 150, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ShadeSt", title: "Shade", width: 30, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ColorNo", title: "ColorNo", width: 80, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "OrderNo", title: "Order No", width: 80, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winDeliveryChallanDetailPicker',
                        winclass:'clsDeliveryChallanDetailPicker',
                        winwidth: 700,
                        winheight: 460,
                        tableid: 'tblDeliveryChallanDetail',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName:'LotNo',
                        windowTittle: 'Lot List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("Data not found.");
            }
        });

    }
    //End DO
    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);

            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        debugger;
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();


        if (oPickerobj.winid=='winExportPIPicker')
        {
            if(oreturnObj!=null && parseInt(oreturnObj.ExportPIID)>0)
            {
                debugger;
                var txtOrderNo = document.getElementById("txtOrderNo");
                txtOrderNo.style.color = "blue";
                txtOrderNo.style.fontWeight = "bold";
                $('#txtOrderNo').val(oreturnObj.PINo);
                oreturnObj.DUReturnChallanID=(_oDUReturnChallan!=null && _oDUReturnChallan.DUReturnChallanID>0)? _oDUReturnChallan.DUReturnChallanID:0,
                RefreshControl(oreturnObj);
                $('#txtDeliveryChallanNo').val("");
                $('#txtDeliveryChallanNo').focus();
                $('#txtDeliveryChallanNo').addClass("errorFieldBorder");
                _oDUReturnChallan.DyeingOrderID=0;
            }
            else
            {
                alert("Data Not Found.");
            }
        }
        else if (oPickerobj.winid=='winDeliveryChallanPicker')
        {
            if(oreturnObj!=null && parseInt(oreturnObj.DUDeliveryChallanID)>0)
            {
                debugger;
                var txtNo = document.getElementById("txtDeliveryChallanNo");
                txtNo.style.color = "blue";
                txtNo.style.fontWeight = "bold";
                $('#txtDeliveryChallanNo').val(oreturnObj.DeliveryChallanNo);
                oreturnObj.DUReturnChallanID=(_oDUReturnChallan!=null && _oDUReturnChallan.DUReturnChallanID>0)? _oDUReturnChallan.DUReturnChallanID:0,
                RefreshControl(oreturnObj);
            }
            else
            {
                alert("Data Not Found.");
            }
        }
        else if (oPickerobj.winid == 'winDeliveryChallanDetailPicker')
        {
            if (oreturnobjs.length > 0)
            {
                debugger;
                for (i=0; i<oreturnobjs.length;i++)
                {
                    oreturnobjs[i].DUReturnChallanID =(_oDUReturnChallan!=null && _oDUReturnChallan.DUReturnChallanID>0)? _oDUReturnChallan.DUReturnChallanID:0,
                    //$('#txtOrderNo').val(oreturnobjs[i].PI_SampleNo);
                    $('#tblDUReturnChallanDetail').datagrid('appendRow', oreturnobjs[i]);
                    $('#txtDeliveryChallanNo').val(oreturnobjs[i].RCNo);
                    _oDUReturnChallan.DUDeliveryChallanID= oreturnobjs[0].DUDeliveryChallanID;
                    $('#txtOrderNo').val(oreturnobjs[i].OrderNo);
                    $('#txtContractorName').val(oreturnobjs[i].ContractorName);
                }
            }
            endEditing();
            RefreshSummary();
        }
        else{
            alert("Data Not Found.");
            return;
        }
    }
    function RefreshObject()
    {
        var oDUReturnChallan=
        {
            DUReturnChallanID: (_oDUReturnChallan!=null && _oDUReturnChallan.DUReturnChallanID>0)? _oDUReturnChallan.DUReturnChallanID:0,
            ReturnDate: $('#txtDate').datebox('getValue'),
            DUDeliveryChallanID:_oDUReturnChallan.DUDeliveryChallanID,
            Note:$.trim($('#txtNote').val()),
            BUID:sessionStorage.getItem("BUID"),
            OrdeType: $('#cboOrderType').val(),
            RefChallanNo:$('#txtRefChallanNo').val(),
            VehicleInfo: $('#txtVehicleInfo').val(),
            DUReturnChallanDetails:$('#tblDUReturnChallanDetail').datagrid('getRows')
        };
        return oDUReturnChallan;
    }

    $("#btnSave").click(function ()
    {
        endEditing();
        if(!Validation()) return false;

        debugger;
        var oDUReturnChallan=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/DUReturnChallan/Save",
            traditional: true,
            data:  JSON.stringify(oDUReturnChallan),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oARS= jQuery.parseJSON(data);
                if (oARS.ErrorMessage=="" || oARS.ErrorMessage==null)
                {
                    _oDUReturnChallan=oARS;
                    alert("Data Save Succesfully!!");
                    //if(_oPurchaseOrder.PurchaseOrderDetails!=null)
                    //{
                    //    DynamicRefreshList(_oPurchaseOrder.PurchaseOrderDetails, 'tblPODetail');
                    //}

                    var oDUReturnChallans =sessionStorage.getItem("DUReturnChallans");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    debugger;
                    if(oDUReturnChallans!=null)
                    {
                        oDUReturnChallans = jQuery.parseJSON(oDUReturnChallans);
                    }
                    else
                    {
                        oDUReturnChallans=[];
                    }
                    if(nIndex!=-1)
                    {
                        oDUReturnChallans[nIndex]=_oDUReturnChallan;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oDUReturnChallans.length);
                        oDUReturnChallans.push(_oDUReturnChallan);
                    }
                    sessionStorage.setItem("DUReturnChallans", JSON.stringify(oDUReturnChallans));
                    window.location.href = _sBackLink;
                }
                else
                {
                    alert(oARS.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    });

    $('#btnClose').click(function(e){
        window.location.href = sessionStorage.getItem("BackLink");
    });

    $("#btnRemoveDetail").click(function () {


        ///
        var oDUReturnChallanDetail = $("#tblDUReturnChallanDetail").datagrid("getSelected");
        if (oDUReturnChallanDetail == null) { alert("Please select an item from list!"); return false; }
        var nIndex=$('#tblDUReturnChallanDetail').datagrid('getRowIndex',oDUReturnChallanDetail);
        if (!confirm("Confirm to Delete?")) return false;
        $("#tblDUReturnChallanDetail").datagrid("deleteRow", nIndex);
        RefreshSummary();
        //if(oDUReturnChallanDetail.DUReturnChallanDetailID<=0 || oDUReturnChallanDetail.DUReturnChallanDetailID==null)
        //{
        //    $("#tblDUReturnChallanDetail").datagrid("deleteRow", nIndex);
        //}
        //else
        //{
        //    var obj =
        //             {
        //                 BaseAddress: _sBaseAddress,
        //                 Object: oDUReturnChallanDetail,
        //                 ControllerName: "DUReturnChallan",
        //                 ActionName: "DeleteDetail",
        //                 TableId: "tblDUReturnChallanDetail",
        //                 IsWinClose: false
        //             };
        //    $.icsDelete(obj);
        //}
        //RefreshSummary();
    });

    function RefreshSummary()
    {
        var oRCDetails = $('#tblDUReturnChallanDetail').datagrid('getRows');
        var nTotalQty = 0, nTotalAmount= 0;
        for(var i = 0; i<oRCDetails.length;i++)
        {
            nTotalQty+=parseFloat(oRCDetails[i].Qty);

        }
        document.getElementById('lblTotalQty').innerHTML = formatPrice(nTotalQty,0)+"LBS";

    }
    //////////// Detail ////////

    var editIndex = undefined;
    function endEditing() {
        if (editIndex == undefined) { return true }
        if ($('#tblDUReturnChallanDetail').datagrid('validateRow', editIndex)) {
            $('#tblDUReturnChallanDetail').datagrid('endEdit', editIndex);
            $('#tblDUReturnChallanDetail').datagrid('selectRow', editIndex);
            var oESCDetail = $('#tblDUReturnChallanDetail').datagrid('getSelected');

            debugger;
            $('#tblDUReturnChallanDetail').datagrid('updateRow', { index: editIndex, row: oESCDetail });

            RefreshSummary();
            editIndex = undefined;
            return true;
        }
        else {
            return false;
        }
    }

    function onClickRow(index) {

        if (editIndex != index) {
            if (endEditing()) {
                $('#tblDUReturnChallanDetail').datagrid('selectRow', index).datagrid('beginEdit', index);
                var oPRDetail= $('#tblDUReturnChallanDetail').datagrid('getSelected');

                editIndex = index;
            }
            else {
                $('#tblDUReturnChallanDetail').datagrid('selectRow', editIndex);
            }
        }
    }

    $('#btnApprove').click(function () {

        debugger;
        if (_oDUReturnChallan ==null || _oDUReturnChallan.DUReturnChallanID <=0 ) { alert("Please select an item from list."); return ; }

        if( _oDUReturnChallan.ApprovedBy!=0)
        {
            alert("Already Approve.");
            return;
        }

      
        _oDUReturnChallan.Note_Approve= $('#txtComment').val();
        _oDUReturnChallan.WorkingUnitID= $('#cboWorkingUnit').val();

        if(_oDUReturnChallan.WorkingUnitID<=0)
        {
            alert("Please Select a store.");
            $('#cboWorkingUnit').focus()
            return;
        }

        var conf = confirm("Are you sure you want to Approve ?");
        if(conf==false)return;

        $.ajax({
            type: "POST",
            dataType: "json",

            url : _sBaseAddress+  "/DUReturnChallan/Approve",
            traditional: true,
            data:  JSON.stringify(_oDUReturnChallan),

            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oDUDO = jQuery.parseJSON(data);
                if (oDUDO.ErrorMessage=="" || oDUDO.ErrorMessage==null)
                {
                    _oDUReturnChallan=oDUDO;
                    alert("Data Save Succesfully!!");
                    //if(_oPurchaseOrder.PurchaseOrderDetails!=null)
                    //{
                    //    DynamicRefreshList(_oPurchaseOrder.PurchaseOrderDetails, 'tblPODetail');
                    //}

                    var oDUReturnChallans =sessionStorage.getItem("DUReturnChallans");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    debugger;
                    if(oDUReturnChallans!=null)
                    {
                        oDUReturnChallans = jQuery.parseJSON(oDUReturnChallans);
                    }
                    else
                    {
                        oDUReturnChallans=[];
                    }
                    if(nIndex!=-1)
                    {
                        oDUReturnChallans[nIndex]=_oDUReturnChallan;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oDUReturnChallans.length);
                        oDUReturnChallans.push(_oDUReturnChallan);
                    }
                    sessionStorage.setItem("DUReturnChallans", JSON.stringify(oDUReturnChallans));
                    window.location.href = _sBackLink;
                }
                else
                {
                    alert(oDUDO.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });
    $('#btnChecked').click(function () {
        debugger;
        if (_oDUReturnChallan ==null || _oDUReturnChallan.DUReturnChallanID <=0 ) { alert("Please select an item from list."); return ; }

        if( _oDUReturnChallan.ApproveBy!=0)
        {
            alert("Already Approve.");
            return;
        }
        var conf = confirm("Are you sure you want to confirm verify this order  ?");
        if(conf==false)return;
        _oDUReturnChallan.Note_Checked= $('#txtComment').val();
        $.ajax({
            type: "POST",
            dataType: "json",

            url : _sBaseAddress+  "/DUReturnChallan/Checked",
            traditional: true,
            data:  JSON.stringify(_oDUReturnChallan),

            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oDUDO = jQuery.parseJSON(data);
                if (oDUDO.ErrorMessage=="" || oDUDO.ErrorMessage==null)
                {
                    _oDUReturnChallan=oDUDO;
                    alert("Data Save Succesfully!!");
                    //if(_oPurchaseOrder.PurchaseOrderDetails!=null)
                    //{
                    //    DynamicRefreshList(_oPurchaseOrder.PurchaseOrderDetails, 'tblPODetail');
                    //}

                    var oDUReturnChallans =sessionStorage.getItem("DUReturnChallans");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    debugger;
                    if(oDUReturnChallans!=null)
                    {
                        oDUReturnChallans = jQuery.parseJSON(oDUReturnChallans);
                    }
                    else
                    {
                        oDUReturnChallans=[];
                    }
                    if(nIndex!=-1)
                    {
                        oDUReturnChallans[nIndex]=_oDUReturnChallan;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oDUReturnChallans.length);
                        oDUReturnChallans.push(_oDUReturnChallan);
                    }
                    sessionStorage.setItem("DUReturnChallans", JSON.stringify(oDUReturnChallans));
                    window.location.href = _sBackLink;
                }
                else
                {
                    alert(oDUDO.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });

    $('#btnPrint').click(function (e)
    {

        if (_oDUReturnChallan ==null || _oDUReturnChallan.DUReturnChallanID <=0 ) { alert("Please select an item from list."); return ; }
        var tsv=((new Date()).getTime())/1000;
        window.open(_sBaseAddress+ "/DUReturnChallan/PrintDUReturnChallan?nId="+_oDUReturnChallan.DUReturnChallanID+"&nts="+tsv, "_blank");

    });

</script>