


<div class="modal-header">
    <h4 class="modal-title" id="modal-title" ng-bind="PickerTitle">Advance Search</h4>
</div>
<div class="modal-body regionSearch">
    <fieldset style="margin-bottom: 0px;">
        <legend>Searching criterion</legend>

        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">Yarn Out Date:</label></div>
            <div class="col-md-9 text-left">
                <div class="col-md-4 text-left">
                    <select class="form-control" ng-model="cboDUPSDate" ng-change="OrderDateChange()" ng-options="item.id as item.Value for item in CompareOperators"></select>
                </div>
                <div class="col-md-8 text-left">
                    <div class="col-md-12">
                        <div class="input-group date date-container" style="width:25%;float:left">
                            <input type="text" class="form-control" ng-model="StartTime"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                        <div style="width:10%;float:inherit;">
                            <select id="cboHourStart" style="width:100%;height:26px;">
                                <option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
                                <option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option>
                                <option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option>
                                <option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option>
                                <option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option>
                            </select>
                        </div>
                        <div style="width:10%;float:inherit;">
                            <select id="cboMinStart" style="width:100%;height:26px;">
                                <option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
                                <option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option>
                                <option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option>
                                <option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option>
                                <option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option>
                                <option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option>
                                <option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option>
                                <option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option>
                                <option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option>
                                <option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option>
                                <option value="50">50</option><option value="51">51</option><option value="52">52</option><option value="53">53</option><option value="54">54</option>
                                <option value="55">55</option><option value="56">56</option><option value="57">57</option><option value="58">58</option><option value="59">59</option>
                                <option value="60">60</option>
                            </select>
                        </div>
                        <div style="width:10%;float:inherit;">
                            <span class="input-group-addon" style="height:26px;"><span class="label label-primary">To</span></span>
                        </div>
                        <div class="input-group date date-container" style="width:25%;float:left">
                            <input type="text" class="form-control" ng-model="EndTime" ng-disabled="OrderDateEndDisabled"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                        <div style="width:10%;float:inherit;">
                            <select id="cboHourEnd" style="width:100%;height:26px;">
                                <option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
                                <option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option>
                                <option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option>
                                <option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option>
                                <option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option>
                            </select>
                        </div>
                        <div style="width:10%;float:inherit;">
                            <select id="cboMinEnd" style="width:100%;height:26px;">
                                <option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
                                <option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option>
                                <option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option>
                                <option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option>
                                <option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option>
                                <option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option>
                                <option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option>
                                <option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option>
                                <option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option>
                                <option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option>
                                <option value="50">50</option><option value="51">51</option><option value="52">52</option><option value="53">53</option><option value="54">54</option>
                                <option value="55">55</option><option value="56">56</option><option value="57">57</option><option value="58">58</option><option value="59">59</option>
                                <option value="60">60</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">Schedule Status:</label></div>
            <div class="col-md-9 text-left">
               <div class="input-group">
                   <input type="text" class="form-control" style="width:100%" ng-model="ScheduleStatus"  placeholder="Schedule Status" disabled>
                   <span class="input-group-btn">
                       <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="ClearScheduleStatus()"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                       <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="PickScheduleStatus()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                   </span>
               </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">Production Status:</label></div>
            <div class="col-md-9 text-left">
                <div class="input-group">
                    <input type="text" class="form-control" style="width:100%" ng-model="RSState" ng-keydown="" placeholder="Production State" disabled>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="ClearRSState()"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="PickRSState()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">Status Date:</label></div>
            <div class="col-md-9 text-left">
                <div class="col-md-4 text-left">
                    <select class="form-control" ng-model="cboRSDate" ng-options="item.id as item.Value for item in CompareOperators" ng-disabled="RSState.length<=0"></select>
                </div>
                <div class="col-md-8 text-left">
                    <div class="col-md-12">
                        <div class="input-group date date-container" style="width:43%;float:left">
                            <input type="text" class="form-control" ng-model="StartTime_RS"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                        <div style="width:14%;float:inherit;">
                            <span class="input-group-addon" style="height:26px;"><span class="label label-primary">To</span></span>
                        </div>
                        <div class="input-group date date-container" style="width:43%;float:left">
                            <input type="text" class="form-control" ng-model="EndTime_RS" ng-disabled="(cboRSDate<=0)"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">Location:</label></div>
            <div class="col-md-9 text-left">
                <select class="form-control" ng-model="LocationID" ng-options="item.LocationID as item.Name for item in Locations">
                    <option value="">---Select One---</option>
                </select>
            </div>
        </div>*@

        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">RS Shift:</label></div>
            <div class="col-md-9 text-left">
                <select class="form-control" ng-model="RSShiftID" ng-options="item.RSShiftID as item.Name for item in RSShifts">
                    <option value="">---Select Shift---</option>
                </select>
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">Buyer Name:</label></div>
            <div class="col-md-9 text-left">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="BuyerName" ng-keydown="SearchKeyDownBuyer($event)" placeholder="Type Buyer Name & Press Enter">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="PickBuyer()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">Machine Name:</label></div>
            <div class="col-md-9 text-left">

                <div class="input-group">
                    <select class="form-control" ng-model="MachineTypeID" style="width:28%" ng-options="item.MachineTypeID as item.Name for item in MachineTypes">
                        <option value="">---Select Type---</option>
                    </select>

                    <input type="text" class="form-control" style="width:72%" ng-model="MachineName" ng-keydown="SearchKeyDownMachine($event)" placeholder="Type Machine No & Press Enter">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="PickMachine()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>

            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">Order Type:</label></div>
            <div class="col-md-9 text-left">
                <select class="form-control" ng-model="OrderTypeID" ng-options="item.OrderType as item.OrderName for item in OrderType">
                    <option value="">---Select One---</option>
                </select>
             </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">Order No.:</label></div>
            <div class="col-md-9 text-left">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="OrderNo" ng-keydown="SearchKeyDownOrderNo($event)" placeholder="Type Order No & Press Enter">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="PickOrderNo()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>

            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label"></label></div>
            <div class="col-md-9 text-left">
                <div class="input-group">
                    <input type="checkbox" ng-model="IsInHouse" name="OrderState" ng-disabled="IsOutSide">
                    <label class="control-label" style="padding-left:5px">
                        Is In House?
                    </label>
                    <input type="checkbox" ng-model="IsOutSide" name="OrderState" style="margin-left:8px" ng-disabled="IsInHouse">
                    <label class="control-label" style="padding-left:5px">
                        Is Outside?
                    </label>
                </div>
            </div>
        </div>
</fieldset>
</div>
<div class="modal-footer">
    <label ng-hide="lblLoadingMessage" style="float:left;color:green; ">Loading Please Wait...</label>
    <button class="btn btn-success" type="button" ng-click="reset()">Reset</button>
    <button class="btn btn-primary" type="button" ng-click="search()">Search</button>
    <button class="btn btn-warning" type="button" ng-click="closeAdvanceSearchModal()">Close</button>
</div>
<style type="text/css">
    .regionSearch .form-control {
        height: 26px;
        padding: 0px 2px;
        font-size: 12px;
    }

    .regionSearch .control-label {
        padding-top: 1px;
    }

    .regionSearch .col-md-12 {
        width: 100%;
        padding-right: 1px;
        padding-left: 1px;
        margin-bottom: 5px;
    }

    .regionSearch .col-md-3 {
        width: 25%;
        padding-left: 1px;
    }

    .regionSearch .col-md-9 {
        width: 75%;
        padding-right: 1px;
    }

    .regionSearch .col-md-4 {
        width: 28%;
        padding-right: 1px;
        padding-left: 1px;
    }

    .regionSearch .col-md-8 {
        width: 72%;
        padding-right: 1px;
        padding-left: 1px;
    }

    .regionSearch .col-md-5 {
        width: 40%;
        padding-right: 1px;
        padding-left: 1px;
    }

    .regionSearch .col-md-6 {
        width: 48%;
        padding-right: 0px;
        padding-left: 0px;
    }

    .regionSearch .col-md-1 {
        width: 10%;
        padding-right: 1px;
        padding-left: 1px;
    }

    .regionSearch .btn-sm {
        padding: 3px 10px;
    }

    .regionSearch .input-group-addon {
        padding: 2px 8px;
    }

    .regionSearch.col-sm-3 {
        width: 40%;
    }
    #progressbarParent {
            opacity: 0.8;
            background-color: #DCD9D4;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0px;
            left: 0px;
            z-index: 1000;
        }
</style>
