@model ESimSol.BusinessObjects.RouteSheet
    @{
        ViewBag.Title = "Packing & QC";
    }
    <div class="menuMainCollectionTable">
        <div id="region-error">
            <center style="font-size:20px;">
                @Html.ValidationMessage("Error")
            </center>
        </div>
        
        <fieldset style="width:100%; height:20%">
            <legend>Route Sheet Info</legend>
            <table cellpadding="3" class="tbl-Win routesheet-info">
                <tr>
                    <td class="td-col-2 align-right">
                        <label class="header-text">Route Sheet :</label>
                    </td>
                    <td class="td-col-3 align-left">
                        <input id="txtRouteSheet" class="reset-text txt-styler" placeholder="Search RouteSheet" />
                    </td>
                    <td class="td-col-2 align-right">
                        <label class="header-text">Buyer :</label>
                    </td>
                    <td class="td-col-5 align-left">
                        <label id="lblBuyerName"></label>
                    </td>
                    <td class="td-col-2 align-right">
                        <label class="header-text"> Status :</label>
                    </td>
                    <td class="td-col-5 align-left">
                        <label id="lblRSState"></label>
                    </td>
                </tr>
                <tr>
                    <td class="td-col-2 align-right">
                        <label class="header-text">Machine No :</label>
                    </td>
                    <td class="td-col-3 align-left">
                        <label id="lblMachineNo"></label>
                    </td>
                    <td class="td-col-2 align-right">
                        <label class="header-text">Order No:</label>

                    </td>
                    <td class="td-col-5 align-left">
                        <label id="lblDyeingOrderNo"></label>
                    </td>
                   
                    <td class="td-col-2 align-right">
                        <label class="header-text">Product :</label>
                    </td>
                    <td class="td-col-5 align-left">
                        <label id="lblProduct"></label>
                    </td>
                </tr>
                <tr>
                    <td class="td-col-2 align-right">
                        <label class="header-text">Color & Shade :</label>
                    </td>
                    <td class="td-col-3 align-left">
                        <label id="lblColorShade"></label>
                    </td>
                    <td class="td-col-2 align-right">
                        <label id="lblHeaderHanksCone" class="header-text">Hanks/Cone :</label>
                    </td>
                    <td class="td-col-5 align-left">
                        <label id="lblNoOfHanksCone"></label>
                    </td>
                    <td class="td-col-2 align-right">
                        <label class="header-text">Weight :</label>
                    </td>
                    <td class="td-col-5 align-left">
                        <label id="lblWeight"></label>
                    </td>
                </tr>
            </table>
        </fieldset>
      
        <div style="padding-left:2px;">
                <div title="Packing" style="padding:2px; width:100%;">
                    <table id="tblITs" class="easyui-datagrid" style="width:100%;height:395px;" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" autorowwidth="false" toolbar="#toolbarPacking">
                        <thead>
                            <tr>
                                <th field="StoreName" width="20%">Store Name</th>
                                <th field="ProductName" width="20%"  align="left">Yarn Type</th>
                                <th field="Qty" width="12%" formatter="formatPrice" align="right">Qty</th>
                                <th field="CurrentBalance" width="10%" formatter="formatPrice" align="right">Balance</th>
                                <th field="Note" width="15%" align="left">Note</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="toolbarPacking">
                        <table style="width:100%;">
                            <tr>
                                <td style="width:20%" class="align-right">
                                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%;text-align:left">
                                        <tr>
                                            <td style="width:10%"><input type="checkbox" id="chkFully" onclick="if(this.checked){IsFull()}else{IsPartial()}" />Fully </td>
                                            <td style="width:15%;text-align:left"><input type="checkbox" id="chkPartial" onclick="if(this.checked){IsPartial()}else{IsFull()}" />Partial</td>

                                        </tr>
                                    </table>
                                </td>
                                <td style="width:80%" class="align-left">
                                    <input type="text" style="width:6%;" id="txtNote" class="number" placeholder="Note" />

                                    <label id="lblDeliveryQty" style="margin-left:10px;">Qty:</label>
                                    <input type="text" style="width:8%;" id="txtQty_Rec" class="number" placeholder="Qty" />
                                    <a id="btnAddInSubFinishing" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                                </td>
                                
                            </tr>
                        </table>
                        
                    </div>
                </div>
        </div>
        
        
    </div>
    <style type="text/css">

        .header-text{
            font-weight:bold;
        }
        .tbl-Win {
            width: 100%;
        }

        .td-styler input, select {
            padding-left: 5px;
        }
        .txt-styler{
            width:95%;
        }
        .txt-styler-picker{
            width:70%;
        }
        .cbo-styler{
            width:97.5%;
        }

    </style>

    <script type="text/javascript">

    var _sBaseAddress="";
    var _oRouteSheet=null;
    var _nUsableQty=0;
    var _nMUnit="Lbs";
    var _nMUnitTwo="Kg";

    $(document).ready(function ()
    {
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oRouteSheet =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        
        var oWarpWefts =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.EnumWarpWefts));
      
        $("#cboWarpWeft").icsLoadCombo({
            List: oWarpWefts,
            OptionValue: "Value",
            DisplayText: "Text",
            InitialValue:"Default"
        });
    });

    $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });

        


    /*.......... Searching ............. */

    function ResetRouteSheet(){
        _oRouteSheet=null;
        $('.reset-text').val("");
        $('.rs-info').text("");
        $('#lblHeaderHanksCone').text("No of Hanks/Cone :");
        DynamicRefreshList([], 'tblITs');
        ResetGridEdit();
    }

    function IsFull() {
        document.getElementById("chkFully").checked = true;
        document.getElementById("chkPartial").checked = false;
    }

    function IsPartial() {
        document.getElementById("chkFully").checked = false;
        document.getElementById("chkPartial").checked = true;
    }
    $("#txtRouteSheet").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sRouteSheetNo=$.trim($("#txtRouteSheet").val());
            if(sRouteSheetNo==""){ alert("Type Dyeing Lot no to search."); return false; }
            GetsRouteSheet(sRouteSheetNo);
        }
        else if(nkeyCode==8){
            $('#winYarnOut input').val('');
            $('#winYarnOut select').val(0);
            _oRouteSheet=null;
            _nLotID=0;
            _nProductID=0;
        }
    });
   
    function GetsRouteSheet(sRouteSheetNo){

        debugger;
        var oRouteSheet = {
            RouteSheetNo:sRouteSheetNo
        };

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oRouteSheet,
            ControllerName: "RouteSheet",
            ActionName: "GetsRouteSheetSubFinishing",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].RouteSheetID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "RouteSheetNo", title: "RouteSheet No", width: 140, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "OrderNoFull", title: "OrderNo", width: 150, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Qty", title: "Qty", width: 90, align: "right", formatter:formatPrice };tblColums.push(oColumn);
                    oColumn = { field: "MachineName", title: "Machine Name", width: 150, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winRouteSheetPicker',
                        winclass:'clsRouteSheetPicker',
                        winwidth: 450,
                        winheight: 460,
                        tableid: 'tblRouteSheetPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'RouteSheetNo',
                        windowTittle: 'RouteSheet List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializeRouteSheetPickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No routesheet found.");
            }
        });


    }

    function IntializeRouteSheetPickerbutton(oPickerobj)
    {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            RouteSheetSelect(oPickerobj);
        });
        $(document).find('.' +oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                RouteSheetSelect(oPickerobj);
            }
        });
    }

    function RouteSheetSelect(oPickerobj){
        var oRouteSheet = $('#'+oPickerobj.tableid).datagrid('getSelected');
        if (oPickerobj.winid == 'winRouteSheetPicker')
        {
            if(oRouteSheet !=null  && oRouteSheet.RouteSheetID>0){
                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();

                //$('#cboStore').val(oRouteSheet.WorkingUnitID);
                $('#txtRouteSheetNo').val(oRouteSheet.RouteSheetNo);
                $('#lblMachineNo').text(oRouteSheet.MachineName);
                $('#lblRSState').text(oRouteSheet.RSStateStr);

                $('#lblDyeingOrderNo').text(oRouteSheet.OrderNoFull);
                $('#lblBuyerName').text(oRouteSheet.BuyerName);
                $('#lblProduct').text(oRouteSheet.ProductName);

                $('#lblColorShade').text(oRouteSheet.ColorNameShade);
                $('#lblNoOfHanksCone').text(oRouteSheet.NoOfHanksCone);
                $('#lblWeight').text(formatPrice(oRouteSheet.Qty)+ " "+_nMUnit);
                _oRouteSheet=oRouteSheet;
                GetITs(oRouteSheet);
            }
            else{
                alert("Please select routesheet.");
            }
        }
    }
    function GetITs(oRouteSheet)
    {
        $.ajax
          ({
              type: "POST",
              dataType: "json",
              url : _sBaseAddress+"/RouteSheet/GetsITransactionBYRS",
              data:  JSON.stringify(oRouteSheet),
              contentType: "application/json; charset=utf-8",
              success: function (data) {
                  //debugger;
                  var oITs = jQuery.parseJSON(data);
                  if (oITs.length>0)
                  {
                      DynamicRefreshList(oITs, 'tblITs');
                  }
                  else
                  {
                      DynamicRefreshList([], 'tblITs');
                  }
              },
              error: function (xhr, status, error)
              {
                  alert(error);
              }
          });
    }

    /*...............  Packing ................. */

  

    $("#btnAddInSubFinishing").click(function () {

      
        debugger;

        var oITransaction = {
            ITransactionID: 0,
            TriggerParentID:_oRouteSheet.RouteSheetID,
            ProductID: _oRouteSheet.ProductID,
            StoreName:"SubFinishingStore",
            ProductName:_oRouteSheet.ProductName,
            Qty: parseFloat(icsRemoveComma($('#txtQty_Rec').val())),
            WorkingUnitID:0,
            Description:$('#txtNote').val()
        };
        var oRouteSheet = {
            RouteSheetID: _oRouteSheet.RouteSheetID,
            ProductID: _oRouteSheet.ProductID,
            Qty: parseFloat(icsRemoveComma($('#txtQty_Rec').val())),
            WorkingUnitID:0,
            RSState:14,
            Note:$('#txtNote').val()
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/RouteSheet/RSInRSInSubFinishing",
            traditional: true,
            data: JSON.stringify(oRouteSheet),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oRS = jQuery.parseJSON(data);
                if (oRS.ErrorMessage=="" || oRS.ErrorMessage==null)
                {
                    var oITransactions = $("#tblITs").datagrid("getRows");
                    var nIndex = oITransactions.length;
                    $("#tblITs").datagrid("appendRow", oITransaction);
                    $("#tblITs").datagrid("selectRow", nIndex);

                    $("#txtQty_Rec").attr("placeholder", "Entry Qty");
                    $("#txtQty_Rec").val("");
                    $("#txtNote").val("");
                   
                }
                else {
                    alert(oRS.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });
  

  
  
    </script>
