@model IEnumerable<ESimSol.BusinessObjects.RSInQCSetup>
    @{
        ViewBag.Title = "RS In QC Set Up";
    }
    <div class="menuMainCollectionTable">
        <table id="tblRSInQCSetup" title="Setup Info" class="easyui-datagrid" style="width: 100%; height: 100%" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="Name" width="40%" align="left">Name</th>
                    <th field="YarnTypeStr" width="15%" align="left">Yarn Type</th>
                    <th field="LocationName" width="25%" align="left">Location Name</th>
                    <th field="WUName" width="25%" align="left">Store Name</th>
                    <th field="Activity" width="10%" align="left" formatter="ActivityStyler">Status</th>
                    
                </tr>
            </thead>
        </table>

        <div id="toolbar">
            <input id="txtSetupNameSearch" type="text" style="width:180px" placeholder="Search Dyeing Solution" />
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
            <a id="btnActivity" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true"><label id="lblActivity">Active</label></a>
        </div>

        <div id="winRSInQCSetup" class="easyui-window winstyle" title="Dyeing Solution" style="width:450px; height:auto" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div style="width: 98%; font-family: Tahoma;">
                <table class="tbl-Win">
                    <tr>
                        <td class="td-Win-Level">
                            Setup Name :
                        </td>
                        <td class="td-Win-Input">
                            <input id="txtSetupName" class="reset-text" placeholder="Setup Name" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td-Win-Level">
                            Yarn Type :
                        </td>
                        <td class="td-Win-Input">
                            <select id="cboYarnType" class="reset-select"></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-Win-Level">
                            Received Location :
                        </td>
                        <td class="td-Win-Input">
                            <select id="cboLocation" class="reset-select"></select>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-Win-Level">
                            Received Store :
                        </td>
                        <td class="td-Win-Input">
                            <select id="cboWorkingUnit" class="reset-select"></select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:right; padding-top:10px; padding-bottom:10px;">
                            <a id="btnSaveRSInQCSetup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            <a id="btnCloseRSInQCSetup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <style type="text/css">
        .tbl-Win {
            width: 100%;
        }

        .td-Win-Level {
            width: 30%;
            text-align: right;
            font-weight: bold;
        }

        .td-Win-Input {
            width: 64%;
        }

        .td-Win-Input input {
            width: 90%;
        }

        .td-Win-Input .txt-picker {
            width: 70%;
        }

        .td-Win-Input select {
            width: 92%;
        }
    </style>

    <script type="text/javascript">

        var _sBaseAddress="";
        var _oRSInQCSetups=[];
        var _oRSInQCSetup=null;

        $(document).ready(function ()
        {
            _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
            _oRSInQCSetups =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
            var oLocations =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.Locations));
            var oWUs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.WorkingUnits));
            var oYarnTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.EnumYarnTypes));

            $("#cboLocation").icsLoadCombo({
                List: oLocations,
                OptionValue: "LocationID",
                DisplayText: "Name",
                InitialValue:"Default"
            });
            $("#cboWorkingUnit").icsLoadCombo({
                List: oWUs,
                OptionValue: "WorkingUnitID",
                DisplayText: "WorkingUnitName",
                InitialValue:"Default"
            });
            $("#cboYarnType").icsLoadCombo({
                List: oYarnTypes,
                OptionValue: "Value",
                DisplayText: "Text",
                InitialValue:"Default"
            });
            DynamicRefreshList(_oRSInQCSetups, 'tblRSInQCSetup');
        });

        $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });

        $('#tblRSInQCSetup').datagrid({ onSelect: function (rowIndex, rowData) { OperationPerforms(rowIndex, rowData); } });

        function OperationPerforms(rowIndex, rowData) {
            if (rowData != null && rowData.RSInQCSetupID > 0) {
                if(rowData.Activity){
                    $('#lblActivity').text("Inactive");
                }
                else{
                    $('#lblActivity').text("Active");
                }
            }
        }


        function ActivityStyler(value){
            if(value){
                return  "<label style='color:green'><b>Active</b><label>";
            }
            else{
                return "<label style='color:red'><b>Inctive</b><label>";
            }
        }

        /*.......... Searching ............. */

        
        $("#txtSetupNameSearch").keyup(function (e) {
            var oRSInQCSetups =[];
            var keyCode = e.keyCode || e.which;
            $('#txtSetupNameSearch').removeClass("errorFieldBorder");
            if (keyCode == 8) { oRSInQCSetups = _oRSInQCSetups; }
            else{ oRSInQCSetups = $('#tblRSInQCSetup').datagrid('getRows'); }
            var sTempName="";
            var oSearchedData = [];
            for(i=0;i<oRSInQCSetups.length;++i)
            {
                sTempName=oRSInQCSetups[i]['Name'];
                if(sTempName.toUpperCase().indexOf($('#txtSetupNameSearch').val().toUpperCase())>-1)
                {
                    oSearchedData.push(oRSInQCSetups[i]);
                }
            }
            $('#tblRSInQCSetup').empty();
            if (oSearchedData.length == 0) { DynamicRefreshList(_oRSInQCSetups, "tblRSInQCSetup");}
            else { DynamicRefreshList(oSearchedData, "tblRSInQCSetup"); }
        });


        /*...............  RS QC  Setup ................. */

        function Validate()
        {
            
            
            if($.trim($('#txtSetupName').val())==""){
                $('#txtSetupName').focus();
                $('#txtSetupName').addClass("errorFieldBorder");
                alert('Setup name required.');
                return false;
            }
            else{
                $('#txtSetupName').removeClass("errorFieldBorder");
            }

            if($('#cboYarnType').val()==0){
                $('#cboYarnType').focus();
                $('#cboYarnType').addClass("errorFieldBorder");
                alert('Select yarn type');
                return false;
            }
            else{
                $('#cboYarnType').removeClass("errorFieldBorder");
            }

            if($('#cboWorkingUnit').val()==0){
                $('#cboWorkingUnit').focus();
                $('#cboWorkingUnit').addClass("errorFieldBorder");
                alert('Select store');
                return false;
            }
            else{
                $('#cboWorkingUnit').removeClass("errorFieldBorder");
            }
            
            if($('#cboLocation').val()==0){
                $('#cboLocation').focus();
                $('#cboLocation').addClass("errorFieldBorder");
                alert('Select store');
                return false;
            }
            else{
                $('#cboLocation').removeClass("errorFieldBorder");
            }

            return true;
        }

        function ResetRSInQCSetup(IsDisabled){
            $('.reset-text').val("");
            $('.reset-select').val(0);
            $('.reset-text,.reset-select').prop('disabled',IsDisabled);
            $('.reset-text,.reset-select').removeClass("errorFieldBorder");
            if(IsDisabled){
                $('#btnSaveRSInQCSetup').hide();
            }
            else{
                $('#btnSaveRSInQCSetup').show();
            }
            _oRSInQCSetup=null;
        }

        function RefreshObject(){
            var oRSInQCSetup={
                RSInQCSetupID: (_oRSInQCSetup==null)? 0: _oRSInQCSetup.RSInQCSetupID,
                Name: $.trim($("#txtSetupName").val()),
                YarnType: $("#cboYarnType").val(),
                WorkingUnitID: $('#cboWorkingUnit').val(),
                LocationID: $('#cboLocation').val()
            };
            return oRSInQCSetup;
        }

        function GetRSInQCSetup(stitle)
        {
            var oRSInQCSetup=$('#tblRSInQCSetup').datagrid('getSelected');
            if (oRSInQCSetup==null || oRSInQCSetup.RSInQCSetupID<=0) { alert('Please select an item from list.'); return false;}
            
            var obj =
           {
               BaseAddress: _sBaseAddress,
               Object: oRSInQCSetup,
               ControllerName: "RouteSheet",
               ActionName: "GetRSInQCSetup",
               IsWinClose: false
           };

            $.icsDataGet(obj, function (response) {

                if (response.status && response.obj != null) {
                    if (response.obj.RSInQCSetupID > 0) {
                        _oRSInQCSetup=response.obj;
                        $("#txtSetupName").val(_oRSInQCSetup.Name);
                        $('#cboWorkingUnit').val(_oRSInQCSetup.WorkingUnitID);
                        $('#cboLocation').val(_oRSInQCSetup.LocationID);
                        $('#cboYarnType').val(_oRSInQCSetup.YarnType);
                        $("#winRSInQCSetup").icsWindow("open", stitle);
                    }
                    else { alert(response.obj.ErrorMessage); }
                }
            });
        }


        $("#btnAdd").click(function (e) {
            ResetRSInQCSetup(false);
            $("#winRSInQCSetup").icsWindow("open", "Add QC Setup");
        });

        $('#btnEdit').click(function (e)
        {
            ResetRSInQCSetup(false);
            GetRSInQCSetup("Edit QC Setup");
        });

        $('#btnDelete').click(function (e)
        {
            var oRSInQCSetup=$('#tblRSInQCSetup').datagrid('getSelected');
            if (oRSInQCSetup==null || oRSInQCSetup.RSInQCSetupID<=0) { alert('Please select an item from list.'); return false;}

            if (!confirm("Confirm to Delete?")) return ;
            var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: oRSInQCSetup,
                ControllerName: "RouteSheet",
                ActionName: "DeleteRSInQCSetup",
                TableId: "tblRSInQCSetup",
                IsWinClose: false
            };
            $.icsDelete(obj);
        });
      
        $('#btnView').click(function (e)
        {
            ResetRSInQCSetup(true);
            GetRSInQCSetup("View QC Setup");
        });
        
        $('#btnActivity').click(function (e)
        {
            var oRSInQCSetup=$('#tblRSInQCSetup').datagrid('getSelected');
            if (oRSInQCSetup==null || oRSInQCSetup.RSInQCSetupID<=0) { alert('Please select an item from list.'); return false;}
            if(!confirm("Are you sure to "+ ((oRSInQCSetup.Activity)? "inactive?": "active?" ))) return false;
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oRSInQCSetup,
                ObjectId: oRSInQCSetup.RSInQCSetupID,
                ControllerName: "RouteSheet",
                ActionName: "ActivityRSInQCSetup",
                TableId: "tblRSInQCSetup",
                IsWinClose: false,
                Message: (oRSInQCSetup.Activity)? "Inactive successfully.": "Active successfully."
            };
            $.icsSave(obj, function (response) {
                if (response.status && response.obj != null) {
                    if (response.obj.RSInQCSetupID > 0) {
                        OperationPerforms(oRSInQCSetup);
                    }
                }
            });

        });
      
      

        $("#btnSaveRSInQCSetup").click(function (e) {

            if (!Validate()) return false;
            var oRSInQCSetup=RefreshObject();
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oRSInQCSetup,
                ObjectId: oRSInQCSetup.RSInQCSetupID,
                ControllerName: "RouteSheet",
                ActionName: "SaveRSInQCSetup",
                TableId: "tblRSInQCSetup",
                IsWinClose: true,
                Message: "Save sucessfully."
            };
            $.icsSave(obj, function (response) {
                if (response.status && response.obj != null) {
                    if (response.obj.RSInQCSetupID > 0) {
                        ResetRSInQCSetup(false);
                        $("#txtSetupName").focus();
                    }
                }
            });
        });

        $("#btnCloseRSInQCSetup").click(function (e) {
            $("#winRSInQCSetup").icsWindow("close");
        });



        /*................................ */

    </script>
