<div id="winManualPunch" class="easyui-window" title="Manual Punch" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
    <table id="tblEmployee_MPunch" class="easyui-datagrid" style="width: 595px; height: 325px;
            font-size: 11px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true"
           autorowheight="false" toolbar="#toolbar_ManualPunch">
        <thead>
            <tr>
                <th field="Code" width="200" align="left">
                    Code
                </th>
                <th field="Name" width="200" align="left">
                    Name
                </th>
                <th field="DesignationName" width="150" align="left">
                    Designation
                </th>
            </tr>
        </thead>
    </table>

    <fieldset>
        <legend style="font-weight: bold">Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold">
            <tr>
                <td style="width: 440px; text-align: right"></td>
                <td style="width: 50px">
                    <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok"
                       plain="true" onclick="Save_ManualPunch()">Punch</a>
                </td>
                <td style="width: 50px">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true"
                       onclick="Close_ManualPunch()">Close</a>
                </td>
            </tr>
        </table>
    </fieldset>

    <div id="toolbar_ManualPunch" style="height:25px;">
        <!--<input class="easyui-datetimebox" data-options="required:true,showSeconds:false" value="datetime()" style="width:150px;" id="txtStartFrom" />
        &nbsp;&nbsp;&nbsp;&nbsp;-->
        <input id="dtDate" type="text" style="width: 17%;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
        <input id="timeSpinner" class="easyui-timespinner" style="width: 100px;" requird="required"
               data-options="showSeconds:false" />
        <input id="txtEmployee_MPunch" style="width:50%;" type="text" placeholder="Type Code & Enter" />
        <a id="btnEmployee_MPunch" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-pick"></a>
        <a id="btnCEmployee_MPunch" href="javascript:void(0)" class="easyui-linkbutton" plain="true" iconcls="icon-clear"></a>
    </div>

</div>