@{
    ViewBag.Title = "Fabric Machine Types";
}
@*@model IEnumerable<ESimSol.BusinessObjects.FabricMachineType>*@
@model ESimSol.BusinessObjects.FabricMachineType
    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    
    <div class="menuMainCollectionTable" id="regionFabricMachineType">
        @*<table id="tblFabricMachineTypes" title="Fabric Machine Types" class="easyui-treegrid" data-options="idField:'FabricMachineTypeID',treeField:'Name'" fit=" true" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">*@
        <table id="tblFabricMachineTypes" title="Fabric Machine Types" class="easyui-treegrid" style="width:100%;height:100%" data-options="idField:'id',treeField:'text', rownumbers:'true', toolbar:'#toolbar'">
            <thead>
                <tr>
                    <th data-options="field:'text',width:350">Session Name</th>                    
                    <th field="Brand" width="20%">Brand</th>
                    <th field="Note" width="30%">Note</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
        </div>
    </div>

    <script type="text/javascript">
 debugger;
    var _oFabricMachineType=null;
    var _oFabricMachineType=[];
    var _sBaseAddress="";
    var _oAuthorizationRolesMapping=[];

    $(document).ready(function () {
        debugger;
        _oFabricMachineType =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));

        RefreshList(_oFabricMachineType.FMTTree);
        RefreshControlLayout();
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
    });

    function RefreshList(oFMTTree)
    {
        debugger;
        $('#tblFabricMachineTypes').empty();
        var data= oFMTTree.children;  //[oFMTTree];
        data={"total":""+data.length+"","rows":data};
        $('#tblFabricMachineTypes').treegrid('loadData',data);
    }

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }


    $("#btnAdd").click(function(){
        debugger;
        var oFabricMachineType= $('#tblFabricMachineTypes').datagrid('getSelected');
        //if(oFabricMachineType==null || oFabricMachineType.FabricMachineTypeID<=0)
        //{
        //    alert("Please select a item from list!");
        //    return;
        //}
        var oFabricMachineTypes= $('#tblFabricMachineTypes').datagrid('getRows');
        sessionStorage.setItem("FabricMachineTypes", JSON.stringify(oFabricMachineTypes));
        var SelectedRowIndex=$('#tblFabricMachineTypes').datagrid('getRowIndex',oFabricMachineType);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("FabricMachineTypeHeader", "Add Fabric Machine Type");
        sessionStorage.setItem('Action','Add')
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        var selectedID = (oFabricMachineType == null) ? 0 : oFabricMachineType.FabricMachineTypeID;
        window.location.href = _sBaseAddress+ "/FabricMachineType/ViewFabricMachineType?id=0&selectedID="+selectedID;
    });

    $("#btnEdit").click(function(){
        var oFabricMachineType= $('#tblFabricMachineTypes').datagrid('getSelected');
        if(oFabricMachineType==null || oFabricMachineType.FabricMachineTypeID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblFabricMachineTypes').datagrid('getRowIndex',oFabricMachineType);
        var oFabricMachineTypes= $('#tblFabricMachineTypes').datagrid('getRows');
        sessionStorage.setItem("FabricMachineTypes", JSON.stringify(oFabricMachineTypes));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("FabricMachineTypeHeader", "Edit Fabric Machine Type");
        sessionStorage.setItem('Action','Edit')
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+  "/FabricMachineType/ViewFabricMachineType?id="+oFabricMachineType.FabricMachineTypeID+"&selectedID=0";
    });

    $("#btnView").click(function(){
        var oFabricMachineType= $('#tblFabricMachineTypes').datagrid('getSelected');
        if(oFabricMachineType==null || oFabricMachineType.FabricMachineTypeID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblFabricMachineTypes').datagrid('getRowIndex',oFabricMachineType);
        var oFabricMachineTypes= $('#tblFabricMachineTypes').datagrid('getRows');
        sessionStorage.setItem("FabricMachineTypes", JSON.stringify(oFabricMachineTypes));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("FabricMachineTypeHeader", "View Fabric Machine Type");
        sessionStorage.setItem('Action','View')
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+  "/FabricMachineType/ViewFabricMachineType?id="+oFabricMachineType.FabricMachineTypeID+"&selectedID=0";
    });

    $("#btnDelete").click(function(){
        var oFabricMachineType= $('#tblFabricMachineTypes').datagrid('getSelected');
        if(oFabricMachineType==null || oFabricMachineType.FabricMachineTypeID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        debugger;
        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblFabricMachineTypes').treegrid('getRowIndex',oFabricMachineType);
        if (oFabricMachineType.FabricMachineTypeID > 0)
        {
            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url : _sBaseAddress+  "/FabricMachineType/Delete",
                data: { id: oFabricMachineType.FabricMachineTypeID},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage.toLowerCase() == "data delete successfully")
                    {
                        alert("Delete sucessfully");
                        //$('#tblFabricMachineTypes').treegrid('deleteRow',SelectedRowIndex);
                        $('#tblFabricMachineTypes').treegrid('remove',oFabricMachineType.FabricMachineTypeID);
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
        }
    });
  
    function RefreshControlLayout()
    {
        $('#btnAdd,#btnEdit,#btnDelete,#btnView,#btnReqForApprove,#btnUndoReq,#btnWaitforApproval,#btnApprove,#btnUndoApprove,#btnPreview,#btnPrintList').hide();

        if(HavePermission('Add','FabricMachineType')){$('#btnAdd').show();}
        if(HavePermission('Edit','FabricMachineType')){$('#btnEdit').show(); }
        if(HavePermission('Delete','FabricMachineType')){ $('#btnDelete').show(); }
        if(HavePermission('View','FabricMachineType')){  $('#btnView').show();}
    }

    function HavePermission(sOperationType, sModuleName)
    {
        var nSessionID =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.currentUserID]));
        if(nSessionID == -9) //check SuperUser
        {
            return true;
        }else
        {

            for(var i =0;i<_oAuthorizationRolesMapping.length;i++)
            {
                if(_oAuthorizationRolesMapping[i].OperationTypeST == sOperationType && _oAuthorizationRolesMapping[i].ModuleNameST == sModuleName)
                    return  true;
            }
            return false;
        }
    }


    </script>
