@{
    ViewBag.Title = "Fabric Machine Type";
}

<html>

<body>
    @model ESimSol.BusinessObjects.FabricMachineType
    <div class="menuMainCollectionTable">
        <div class="easyui-panel" title="Fabric Machine Type" style="font-family:Tahoma; text-align:center; height:89%;">
            <fieldset style="height:95%; text-align:center;">
                <legend style="font-weight:bold"> Fabric Machine Type Information : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:80%">
                    <tr>
                        <td style="height:150px;">&nbsp;</td>
                        <td style="height:150px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width:30%; text-align:right">
                            Machine Type Name :
                        </td>
                        <td style="width:70%">
                            @Html.TextBoxFor(model => model.Name, new { style = "width: 100%;", id = "txtFabricMachineTypeName" })

                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%; text-align:right">
                            Brand :
                        </td>
                        <td style="width:70%">
                            @Html.TextBoxFor(model => model.Brand, new { style = "width: 100%;", id = "txtBrand" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%; text-align:right">
                            Note :
                        </td>
                        <td style="width:70%">
                            @Html.TextBoxFor(model => model.Note, new { style = "width: 100%;", id = "txtNote" })
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:100%;text-align:right">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Save()">Save</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>


<script type="text/javascript">
    var _oFabricMachineType=null;
    var _oSelectedFMT=null;
    var _sBaseAddress="";
    var  _lBackLink = "";
    var _sFabricMachineTypeHeader = "";
    $(document).ready(function () {
        //debugger;
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oFabricMachineType =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oSelectedFMT =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.SelectedFMT));
        _sFabricMachineTypeHeader=sessionStorage.getItem("FabricMachineTypeHeader");
        _lBackLink = sessionStorage.getItem("BackLink");
        if(_sFabricMachineTypeHeader=="View Fabric Machine Type")
        {
            document.getElementById('btnSave').style.display = 'none';
            document.getElementById('txtFabricMachineTypeName').disabled= true;
            document.getElementById('txtBrand').disabled= true;
            document.getElementById('txtNote').disabled= true;
        }
        debugger
        var aa = sessionStorage.getItem("FabricMachineType");
        //console.log(jQuery.parseJSON(aa));
    });


   function ValidateInput()
    {
        if(document.getElementById("txtFabricMachineTypeName").value==null || document.getElementById("txtFabricMachineTypeName").value=="")
        {
            alert("Please enter Machine Type name!");
            $('#txtFabricMachineTypeName').focus();
            return false;
        }
        if(document.getElementById("txtBrand").value==null || document.getElementById("txtBrand").value=="")
        {
            alert("Please enter Brand!");
            $('#txtBrand').focus();
            return false;
        }
        return true;
    }


    function RefreshObject()
    {
        debugger;
        if(_oFabricMachineType.ParentID <= 0) 
            _oFabricMachineType.ParentID = 1;
        var oFabricMachineType= {
                        FabricMachineTypeID : _oFabricMachineType.FabricMachineTypeID,
                        Name: $("#txtFabricMachineTypeName").val(),
                        Note : $("#txtNote").val(),
                        Brand : $("#txtBrand").val(),
                        ParentID: (_oSelectedFMT.FabricMachineTypeID <= 0) ? _oFabricMachineType.ParentID : _oSelectedFMT.FabricMachineTypeID
                    };
        return oFabricMachineType;
    }

    function Save()
    {
        debugger;
        if(!ValidateInput()) return;
        var oFabricMachineType=RefreshObject();

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/FabricMachineType/Save",
            traditional: true,
            data:  JSON.stringify(oFabricMachineType),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                //debugger;
                oFabricMachineType = jQuery.parseJSON(data);
                if (oFabricMachineType.ErrorMessage=="" || oFabricMachineType.ErrorMessage==null)
                {
                    alert("Data Saved sucessfully");
                    //var oFabricMachineTypes = sessionStorage.getItem("FabricMachineTypes");
                    //var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    //if (oFabricMachineTypes != null)
                    //{
                    //    oFabricMachineTypes = jQuery.parseJSON(oFabricMachineTypes);
                    //}
                    //else {
                    //    oFabricMachineTypes = [];
                    //}
                    //if (nIndex != -1)
                    //{
                    //    oFabricMachineTypes[nIndex] = oFabricMachineType;
                    //}
                    //else {
                    //    sessionStorage.setItem("SelectedRowIndex", oFabricMachineTypes.length);
                    //    oFabricMachineTypes.push(oFabricMachineType);
                    //}
                    //sessionStorage.setItem("FabricMachineTypes", JSON.stringify(oFabricMachineTypes));
                    if(_lBackLink!=null && _lBackLink!="")
                    {
                        window.location.href = _lBackLink;
                    }else{
                        window.close();
                    }
                }
                else {
                    alert(oFabricMachineType.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }


    function Close()
    {
        if(_lBackLink!=null && _lBackLink!="")
        {
            window.location.href = _lBackLink;
        }else{
            window.close();
        }
    }

    $(document).keydown(function(e) {
    //debugger;
    if(e.which == 27)//escape=27
    {
        window.location.href = _lBackLink;
    }
});
</script>