<html>
@{
    ViewBag.Title = "Cost Calculation Entry";
}
<body>
    @model ESimSol.BusinessObjects.CostCalculation

    <div class="menuMainCollectionTable" ng-app="CostCalculationApp" ng-controller="CostCalculationController as MLCC" id="divCostCalculation">
        <div style="font-family:Tahoma; text-align:center;" class="regionVR">
            <div class="col-md-12">
                @*Landing Cost Calculation*@ 
                <div class="col-md-6 align-left" title="Landing Cost Calculation">
                    <div class="col-md-12 text-center" style="font-family:Tahoma; font-size:12px; text-decoration: underline; padding: 5px 0 10px 0">
                        <strong> Landing Cost Calculation </strong>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">File No:</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <input ng-model="CostCalculation.FileNo" class="form-control" disabled />
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4" style="text-align:right;">
                            <label class="control-label">Issue Date:</label>
                        </div>
                        <div class="col-md-3 col-date">
                            <div class="input-group date date-container">
                                <input type="text" class="form-control" ng-model="CostCalculation.DateOfIssueInString"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                        <div class="col-md-2" style="text-align:right;">
                            <label class="control-label">Expire Date:</label>
                        </div>
                        <div class="col-md-3 col-date">
                            <div class="input-group date date-container">
                                <input type="text" class="form-control" ng-model="CostCalculation.DateOfExpireInString"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Model No:</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="input-group">
                                <input ng-model="CostCalculation.ModelNo" class="form-control" ng-keydown="SearchKeyDownVehicleModel($event)" placeholder="Type Model No & Press Enter" required />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="PickVehicleModel()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Base Price (BP) :</label>
                        </div>
                        <div class="col-md-8 text-right">
                            <div class="col-md-2">
                                <select ng-model="CostCalculation.CurrencyID" class="form-control" ng-change="SetCurrency()" ng-options="oItem.CurrencyID as oItem.Symbol for oItem in CurrencyList"></select>
                            </div>
                            <div class="col-md-10">
                                <input ng-model="CostCalculation.BasePrice" class="form-control text-right number"  ng-keyup="SetCostCalculation()" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Currency  Rate :</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="col-md-2">
                                <select disabled ng-model="CostCalculation.BaseCurrencyID" class="form-control" ng-options="oItem.CurrencyID as oItem.Symbol for oItem in CurrencyList"></select>
                            </div>
                            <div class="col-md-10">
                                <input ng-model="CostCalculation.CRate" class="form-control text-right number"  ng-keyup="SetCostCalculation()" ng-disabled="CostCalculation.CurrencyID==1" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Base Price (BP):</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="col-md-2">
                                <select disabled ng-model="CostCalculation.BaseCurrencyID" class="form-control" ng-options="oItem.CurrencyID as oItem.Symbol for oItem in CurrencyList"></select>
                            </div>
                            <div class="col-md-10">
                                <input ng-model="CostCalculation.BasePriceBC" class="form-control text-right" disabled/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Custom Duty :</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="col-md-2">
                                <select disabled ng-model="CostCalculation.CurrencyID" class="form-control" ng-options="oItem.CurrencyID as oItem.Symbol for oItem in CurrencyList"></select>
                            </div>
                            <div class="col-md-10">
                                <div class="col-md-3">
                                    <input ng-model="CostCalculation.TotalDutyPercent | number:4" class="form-control" disabled />
                                </div>
                                <div class="col-md-1">
                                    <input value="% " class="form-control" disabled />
                                </div>
                                <div class="col-md-8">
                                    <input ng-model="CostCalculation.DutyAmount" class="form-control text-right" disabled/>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label label-font-size">
                                Customs Clearing & Insurance Local Fee:
                            </label>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="col-md-12">
                                <div class="col-md-2">
                                    <select disabled ng-model="CostCalculation.CurrencyID" class="form-control" ng-options="oItem.CurrencyID as oItem.Symbol for oItem in CurrencyList"></select>
                                </div>
                                <div class="col-md-10">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <input ng-model="CostCalculation.CustomAndInsurenceFeePercent" class="form-control number" ng-keyup="SetCostCalculation()" />
                                        </div>
                                        <div class="col-md-1">
                                            <input value="% " class="form-control" disabled />
                                        </div>
                                        <div class="col-md-8">
                                            <input ng-model="CostCalculation.CustomAndInsurenceFeeAmount" style="padding-right:-5px;" class="form-control text-right" disabled/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Local Transportation :</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="col-md-2">
                                <select disabled ng-model="CostCalculation.CurrencyID" class="form-control" ng-options="oItem.CurrencyID as oItem.Symbol for oItem in CurrencyList"></select>
                            </div>
                            <div class="col-md-10">
                                <input ng-model="CostCalculation.TransportCost" class="form-control text-right number"  ng-keyup="SetCostCalculation()" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Landed Cost :</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="col-md-2">
                                <select disabled ng-model="CostCalculation.CurrencyID" class="form-control" ng-options="oItem.CurrencyID as oItem.Symbol for oItem in CurrencyList"></select>
                            </div>
                            <div class="col-md-10">
                                <input ng-model="CostCalculation.LandedCost" class="form-control text-right" disabled/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Landed Cost :</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="col-md-2">
                                <select disabled ng-model="CostCalculation.BaseCurrencyID" class="form-control" ng-options="oItem.CurrencyID as oItem.Symbol for oItem in CurrencyList"></select>
                            </div>
                            <div class="col-md-10">
                                <input ng-model="CostCalculation.LandedCostBC" class="form-control text-right" disabled/>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Additional Cost :</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="col-md-2">
                                <select disabled ng-model="CostCalculation.CurrencyID" class="form-control" ng-options="oItem.CurrencyID as oItem.Symbol for oItem in CurrencyList"></select>
                            </div>
                            <div class="col-md-10">
                                <input ng-model="CostCalculation.AdditionalCost" class="form-control text-right" ng-keyup="SetCostCalculation()" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Additional Cost :</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="col-md-2">
                                <select disabled ng-model="CostCalculation.BaseCurrencyID" class="form-control" ng-options="oItem.CurrencyID as oItem.Symbol for oItem in CurrencyList"></select>
                            </div>
                            <div class="col-md-10">
                                <input ng-model="CostCalculation.AdditionalCostBC" class="form-control text-right" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Total Landed Cost:</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="col-md-2">
                                <select disabled ng-model="CostCalculation.BaseCurrencyID" class="form-control" ng-options="oItem.CurrencyID as oItem.Symbol for oItem in CurrencyList"></select>
                            </div>
                            <div class="col-md-10">
                                <input ng-model="CostCalculation.TotalLandedCostBC" class="form-control text-right number" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Total Landed Cost:</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="col-md-2">
                                <select disabled ng-model="CostCalculation.CurrencyID" class="form-control" ng-options="oItem.CurrencyID as oItem.Symbol for oItem in CurrencyList"></select>
                            </div>
                            <div class="col-md-10">
                                <input ng-model="CostCalculation.TotalLandedCost" class="form-control text-right number" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Margin rate:</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="col-md-11">
                                <input ng-model="CostCalculation.MarginRate" class="form-control text-right number"  ng-keyup="SetCostCalculation()" />
                            </div>
                            <div class="col-md-1">
                                <input value="%" class="form-control" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Ex Showroom :</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="col-md-2">
                                <select disabled ng-model="CostCalculation.BaseCurrencyID" class="form-control" ng-options="oItem.CurrencyID as oItem.Symbol for oItem in CurrencyList"></select>
                            </div>
                            <div class="col-md-10">
                                <input ng-model="CostCalculation.ExShowroomPriceBC" class="form-control text-right" disabled/>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Ex Showroom :</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="col-md-2">
                                <select disabled ng-model="CostCalculation.CurrencyID" class="form-control" ng-options="oItem.CurrencyID as oItem.Symbol for oItem in CurrencyList"></select>
                            </div>
                            <div class="col-md-10">
                                <input ng-model="CostCalculation.ExShowroomPrice" class="form-control text-right" disabled/>
                            </div>
                        </div>
                    </div>
                </div>

                @*Customs Duty Calculation(BDT)*@
                <div class="col-md-6">
                    <div class="col-md-12 text-center" style="font-family:Tahoma; font-size:12px; text-decoration: underline; padding: 5px 0 10px 0">
                        <strong>Customs Duty Calculation(BDT)</strong>
                    </div>
                    @*Customs Duty Calculation(BDT) Deatil*@
                    <div class="col-md-12 col-border-left">
                        <div class="col-md-12">
                            <div class="col-md-4 text-right">
                                <label class="control-label"> Customs Duty (CD) :</label>
                            </div>
                            <div class="col-md-5 text-right">
                                <div class="col-md-3">
                                    <input ng-model="CostCalculation.CDPercent" class="form-control text-right number"  ng-keyup="SetCostCalculation()"/>
                                </div>
                                <div class="col-md-2">
                                    <input value="%" class="form-control" disabled />
                                </div>
                                <div class="col-md-7">
                                    <input ng-model="CostCalculation.CDAmount" class="form-control text-right" disabled/>
                                </div>
                            </div>
                            <div class="col-md-3 text-left">
                                <label class="control-label label-cost-formula">SUM(BP*<span ng-bind="CostCalculation.CDPercent"></span>%)</label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-4 text-right">
                                <label class="control-label">  Regulatory Duty(RD) :</label>
                            </div>
                            <div class="col-md-5 text-right">
                                <div class="col-md-3">
                                    <input ng-model="CostCalculation.RDPercent" class="form-control text-right number"  ng-keyup="SetCostCalculation()" />
                                </div>
                                <div class="col-md-2">
                                    <input value="%" class="form-control" disabled />
                                </div>
                                <div class="col-md-7">
                                    <input ng-model="CostCalculation.RDAmount" class="form-control text-right" disabled />
                                </div>
                            </div>
                            <div class="col-md-3 text-left">
                                <label class="control-label label-cost-formula">SUM(BP*<span ng-bind="CostCalculation.RDPercent"></span>%)</label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-4 text-right">
                                <label class="control-label">  Supplementary Duty(SD):</label>
                            </div>
                            <div class="col-md-5 text-right">
                                <div class="col-md-3">
                                    <input ng-model="CostCalculation.SDPercent" class="form-control text-right number"  ng-keyup="SetCostCalculation()" />
                                </div>
                                <div class="col-md-2">
                                    <input value="%" class="form-control" disabled />
                                </div>
                                <div class="col-md-7">
                                    <input ng-model="CostCalculation.SDAmount" class="form-control text-right" disabled />
                                </div>
                            </div>
                            <div class="col-md-3 text-left">
                                <label class="control-label label-cost-formula">SUM((BP+CD+RD)*<span ng-bind="CostCalculation.SDPercent"></span>%)</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4 text-right">
                                <label class="control-label"> Value Added Tax(VAT) :</label>
                            </div>
                            <div class="col-md-5 text-right">
                                <div class="col-md-3">
                                    <input ng-model="CostCalculation.VATPercent" class="form-control text-right number"  ng-keyup="SetCostCalculation()" />
                                </div>
                                <div class="col-md-2">
                                    <input value="%" class="form-control" disabled />
                                </div>
                                <div class="col-md-7">
                                    <input ng-model="CostCalculation.VATAmount" class="form-control text-right" disabled />
                                </div>
                            </div>
                            <div class="col-md-3 text-left">
                                <label class="control-label label-cost-formula">SUM((BP+CD+RD+SD)*<span ng-bind="CostCalculation.VATPercent"></span>%)</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4 text-right">
                                <label class="control-label">Advance Income Tax(AIT):</label>
                            </div>
                            <div class="col-md-5 text-right">
                                <div class="col-md-3">
                                    <input ng-model="CostCalculation.AITPercent" class="form-control text-right number"  ng-keyup="SetCostCalculation()" />
                                </div>
                                <div class="col-md-2">
                                    <input value="%" class="form-control" disabled />
                                </div>
                                <div class="col-md-7">
                                    <input ng-model="CostCalculation.AITAmount" class="form-control text-right" disabled />
                                </div>
                            </div>
                            <div class="col-md-3 text-left">
                                <label class="control-label label-cost-formula">SUM(BP*<span ng-bind="CostCalculation.AITPercent"></span>%)</label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-4 text-right">
                                <label class="control-label">Profit for ATV :</label>
                            </div>
                            <div class="col-md-5 text-right">
                                <div class="col-md-3">
                                    <input ng-model="CostCalculation.ProfitForATVPercent" class="form-control text-right number"  ng-keyup="SetCostCalculation()" />
                                </div>
                                <div class="col-md-2">
                                    <input value="%" class="form-control" disabled />
                                </div>
                                <div class="col-md-7">
                                    <input ng-model="CostCalculation.ProfitForATVAmount" class="form-control text-right" disabled />
                                </div>
                            </div>
                            <div class="col-md-3 text-left">
                                <label class="control-label label-cost-formula">SUM((BP+CD+RD+SD)*<span ng-bind="CostCalculation.ProfitForATVPercent"></span>%)</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4 text-right">
                                <label class="control-label">Total Value For ATV :</label>
                            </div>
                            <div class="col-md-5 text-right">
                                <input ng-model="CostCalculation.TotalValueForATV" class="form-control text-right" disabled />
                            </div>
                            <div class="col-md-3 text-left">
                                <label class="control-label label-cost-formula">SUM(BP+CD+RD+SD+ProfitATV)</label>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4 text-right">
                                <label class="control-label">Advance Trade Vat(ATV) :</label>
                            </div>
                            <div class="col-md-5 text-right">
                                <div class="col-md-3">
                                    <input ng-model="CostCalculation.ATVPercent" class="form-control text-right number"  ng-keyup="SetCostCalculation()" />
                                </div>
                                <div class="col-md-2">
                                    <input value="%" class="form-control" disabled />
                                </div>
                                <div class="col-md-7">
                                    <input ng-model="CostCalculation.ATVAmount" class="form-control text-right" disabled />
                                </div>
                            </div>
                            <div class="col-md-3 text-left">
                                <label class="control-label label-cost-formula">SUM(Total Value For ATV*<span ng-bind="CostCalculation.ATVPercent"></span>%)</label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-4 text-right">
                                <label class="control-label">Total Duty Amount :</label>
                            </div>
                            <div class="col-md-5 text-right">
                                <input ng-model="CostCalculation.TotalDutyAmount" class="form-control text-right" disabled />
                            </div>
                            <div class="col-md-3 text-left">
                                <label class="control-label label-cost-formula">SUM(CD+RD+SD+VAT+AIT+ATV)</label>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="col-md-4 text-right">
                                <label class="control-label"> Total Duty ( %) :</label>
                            </div>
                            <div class="col-md-5 text-right">
                                <input ng-model="CostCalculation.TotalDutyPercent | number:4" class="form-control text-right" disabled />
                            </div>
                            <div class="col-md-3 text-left">
                                <label class="control-label label-cost-formula">(Total Duty/BP*100)</label>
                            </div>
                        </div>
                    </div>
                </div>

                @*------Margin & Offer Price------*@
                <div class="col-md-6">
                    <div class="col-md-12" style="margin-top:22%">
                    </div>
                    
                    <div class="col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Margin :</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="col-md-2">
                                <select disabled ng-model="CostCalculation.CurrencyID" class="form-control" ng-options="oItem.CurrencyID as oItem.Symbol for oItem in CurrencyList"></select>
                            </div>
                            <div class="col-md-10">
                                <input ng-model="CostCalculation.MarginAmount" class="form-control text-right" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Margin :</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="col-md-2">
                                <select disabled ng-model="CostCalculation.BaseCurrencyID" class="form-control" ng-options="oItem.CurrencyID as oItem.Symbol for oItem in CurrencyList"></select>
                            </div>
                            <div class="col-md-10">
                                <input ng-model="CostCalculation.MarginAmountBC" class="form-control text-right" disabled />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Offer Price :</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <div class="col-md-2">
                                <select disabled ng-model="CostCalculation.BaseCurrencyID" class="form-control" ng-options="oItem.CurrencyID as oItem.Symbol for oItem in CurrencyList"></select>
                            </div>
                            <div class="col-md-10">
                                <input ng-model="CostCalculation.OfferPriceBC" class="form-control text-right number" />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-4 text-right">
                            <label class="control-label">Remarks :</label>
                        </div>
                        <div class="col-md-8 text-left">
                            <input ng-model="CostCalculation.Remarks" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <fieldset>
                <legend>Action</legend>
                <div class="row col-md-12 text-right">
                    <button type="button" class="btn btn-sm" aria-label="Left Align" ng-hide="btnSave" ng-click="Save()"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> <label id="lblSave">Save</label></span> </button>
                    <button type="button" id="btnclose" class="btn btn-sm" aria-label="Left Align" ng-click="Close()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"> Close</span> </button>
                </div>
            </fieldset>
        </div>
    </div>
</body>
</html>
<style type="text/css">
    .regionVR .form-horizontal .control-label {
        padding-top: 1px;
        font-size: 10px;
    }

   .regionVR .label-cost-formula {
        padding-top: 1px;
        font-size: 8px;
    }

   
   .regionVR .col-border-left {
    border-left: thin solid #000000;
    border-bottom: thin solid #000000;
}
    .regionVR .form-control {
        height: 18.6px;
        padding: 0px 6px;
        font-size: 12px;
    }
    .regionVR .label-font-size {
        font-size: 11px;
        margin-top:-5px;
        padding-right:2px;
    }
    
    .regionVR .col-md-12 {
        width: 100%;
        padding-right: 1px;
        padding-left: 1px;
        margin-bottom: 2px;
    }
     .regionVR .col-md-11 {
        width: 89%;
        padding-right: 1px;
        padding-left: 1px;
        margin-bottom: 5px;
    }

     .regionVR .col-md-10 {
        width: 83%;
        padding-right: 1px;
        padding-left: 1px;
        margin-bottom: 5px;
    }
    .regionVR .col-md-9 {
        width: 72%;
        padding-right: 1px;
        padding-left: 0px;
    }
     .regionVR .col-md-8 {
        width: 64%;
        padding-right: 1px;
        padding-left: 0px;
    }
    .regionVR .col-md-7 {
        width: 56%;
        padding-right: 1px;
        padding-left: 1px;
    }
   
     .regionVR .col-md-6 {
        width: 50%;
        padding-right: 1px;
        padding-left: 1px;
    }
      .regionVR .col-md-5 {
        width: 40%;
        padding-right: 1px;
        padding-left: 1px;
    }
    

    .regionVR .col-md-4 {
        width: 33%;
        padding-right: 1px;
        padding-left: 1px;
    }
     .regionVR .col-md-3 {
        width: 25%;
        padding-right:1px;
        padding-left:0px;
    }

      .regionVR .col-date {
        width: 23.5%;
        padding-right:1px;
        padding-left:0px;
    }

      .regionVR .col-md-2 {
        width: 17%;
        padding-right:1px;
        padding-left:1px;
    }
      .regionVR .col-md-1 {
        width: 11%;
        padding-right:1px;
        padding-left:1px;
    }
     
    .regionVR .btn-sm {
        padding: 2px 8px;
    }

    .regionVR .input-group-addon {
        padding: 2px 5px;
    }
</style>
<script type="text/javascript">
    debugger;
    var oCostCalculation =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var oCurrencyList = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CurrencyList));
    var oCostSetup = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CostSetup));
    var oCompany = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Company));
    
    var CostCalculationApp = angular.module('CostCalculationApp', ['ngAnimate', 'ui.bootstrap','ui.grid', 'ui.grid.selection', 'ui.grid.edit', 'ui.grid.rowEdit','ui.grid.cellNav', 'ms.service']);
    CostCalculationApp.controller('CostCalculationController', function ($scope,$http,$uibModal,$log,uiGridConstants,msModal,userSession,icsMethod,msGridControl) {
        debugger;
        $('.date-container').datepicker({
            format: "dd M yyyy",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
        });
        $scope.CostCalculation=oCostCalculation;
        $scope.CurrencyList = oCurrencyList;
        $scope.CostCalculation.BaseCurrencyID=oCompany.BaseCurrencyID;

        if($scope.CostCalculation.CostCalculationID<=0)
        {
            $scope.CostCalculation.CDPercent=oCostSetup.CustomsDuty;
            $scope.CostCalculation.RDPercent=oCostSetup.RegulatoryDuty;
            $scope.CostCalculation.SDPercent=oCostSetup.SupplementaryDuty;
            $scope.CostCalculation.VATPercent =oCostSetup.ValueAddedTxt;
            $scope.CostCalculation.AITPercent=oCostSetup.AdvanceIncomeTax;
            $scope.CostCalculation.ATVPercent=oCostSetup.AdvanceTradeVat;
            $scope.CostCalculation.ProfitForATVPercent=oCostSetup.ATVDeductedProfit;
            $scope.CostCalculation.CustomAndInsurenceFeePercent=oCostSetup.CustomClearingAndInsuranceFee;
            $scope.CostCalculation.MarginRate=oCostSetup.MarginRate;
            $scope.CostCalculation.CRate=oCostSetup.CurrencyRate;
        }

        $scope.SetCurrency= function()
        {
            if($scope.CostCalculation.CurrencyID==$scope.CostCalculation.BaseCurrencyID)
                $scope.CostCalculation.CRate=1;
        }
            $scope.BaseCustomTotal=0;
        //-------------CostCalculations-------------
        $scope.SetBasePriceBC= function()
        {
            $scope.CostCalculation.BasePriceBC=$scope.CostCalculation.BasePrice*$scope.CostCalculation.CRate;
            $scope.CostCalculation.BasePriceBC=formatPrice(parseFloat($scope.CostCalculation.BasePriceBC),0);
        }
        $scope.SumBCR= function()
        {
            return  parseFloat(icsRemoveComma($scope.CostCalculation.BasePriceBC,2),0)+ parseFloat(icsRemoveComma($scope.CostCalculation.CDAmount,2),0)+ parseFloat(icsRemoveComma($scope.CostCalculation.RDAmount,2),0);
        }
        $scope.SumBCRS= function()
        {
            return  $scope.SumBCR()+parseFloat(icsRemoveComma($scope.CostCalculation.SDAmount,2),0);
        }
        $scope.SetCD= function()
        {
            $scope.CostCalculation.CDAmount=(parseFloat(icsRemoveComma($scope.CostCalculation.BasePriceBC,2),0)*$scope.CostCalculation.CDPercent)/100;
            $scope.CostCalculation.CDAmount=formatPrice(parseFloat($scope.CostCalculation.CDAmount),0);
        }
        $scope.SetRD= function()
        {
            $scope.CostCalculation.RDAmount=(parseFloat(icsRemoveComma($scope.CostCalculation.BasePriceBC,2),0)*$scope.CostCalculation.RDPercent)/100;
            $scope.CostCalculation.RDAmount=formatPrice(parseFloat($scope.CostCalculation.RDAmount),0);
        }
        $scope.SetSD= function()
        {
            $scope.CostCalculation.SDAmount=$scope.SumBCR()*($scope.CostCalculation.SDPercent/100);
            $scope.CostCalculation.SDAmount=formatPrice(parseFloat($scope.CostCalculation.SDAmount),0);
        }
        $scope.SetVAT= function()
        {
            $scope.CostCalculation.VATAmount=$scope.SumBCRS()*($scope.CostCalculation.VATPercent/100);
            $scope.CostCalculation.VATAmount=formatPrice(parseFloat($scope.CostCalculation.VATAmount),0);
        }
        $scope.SetAIT= function()
        {
            $scope.CostCalculation.AITAmount=parseFloat(icsRemoveComma($scope.CostCalculation.BasePriceBC,2),0)*($scope.CostCalculation.AITPercent/100);
            $scope.CostCalculation.AITAmount=formatPrice(parseFloat($scope.CostCalculation.AITAmount),0);
        }
        $scope.SetProfitATV= function()
        {
            $scope.CostCalculation.ProfitForATVAmount=$scope.SumBCRS()*($scope.CostCalculation.ProfitForATVPercent/100);
            $scope.CostCalculation.ProfitForATVAmount=formatPrice(parseFloat($scope.CostCalculation.ProfitForATVAmount),0);
        }
        $scope.SetTotalAIT= function()
        {
            $scope.CostCalculation.TotalValueForATV=$scope.SumBCRS()+parseFloat(icsRemoveComma($scope.CostCalculation.ProfitForATVAmount,2),0);
            $scope.CostCalculation.TotalValueForATV=formatPrice(parseFloat($scope.CostCalculation.TotalValueForATV),0);
        }
        $scope.SetATV= function()
        {
            $scope.CostCalculation.ATVAmount= parseFloat(icsRemoveComma($scope.CostCalculation.TotalValueForATV,2),0) *($scope.CostCalculation.ATVPercent/100);
            $scope.CostCalculation.ATVAmount=formatPrice(parseFloat($scope.CostCalculation.ATVAmount),0);
        }
        $scope.SetTotalDuty= function()
        {
            $scope.CostCalculation.TotalDutyAmount = parseFloat(icsRemoveComma($scope.CostCalculation.CDAmount,2),0)+ parseFloat(icsRemoveComma($scope.CostCalculation.RDAmount,2),0)+  parseFloat(icsRemoveComma($scope.CostCalculation.SDAmount,2),0)+parseFloat(icsRemoveComma($scope.CostCalculation.VATAmount,2),0)+  parseFloat(icsRemoveComma($scope.CostCalculation.AITAmount,2),0)+  parseFloat(icsRemoveComma($scope.CostCalculation.ATVAmount,2),0);
            $scope.CostCalculation.TotalDutyAmount=formatPrice(parseFloat($scope.CostCalculation.TotalDutyAmount),0);
        }
        $scope.SetTotalDutyInPercent= function()
        {
            $scope.CostCalculation.TotalDutyPercent= (parseFloat(icsRemoveComma($scope.CostCalculation.TotalDutyAmount,2),0)/ parseFloat(icsRemoveComma($scope.CostCalculation.BasePriceBC,2),0))*100;
            //$scope.CostCalculation.TotalDutyPercent=formatPrice(parseFloat($scope.CostCalculation.TotalDutyPercent),4);
        }

        $scope.SetDutyAmount= function()
        {
            //$scope.CostCalculation.DutyAmount= ($scope.CostCalculation.BasePrice*(parseFloat(icsRemoveComma($scope.CostCalculation.TotalDutyPercent,2),0)));
            $scope.CostCalculation.DutyAmount= ($scope.CostCalculation.BasePrice*(parseFloat($scope.CostCalculation.TotalDutyPercent))/100);
            $scope.CostCalculation.DutyAmount=formatPrice(parseFloat($scope.CostCalculation.DutyAmount),0);
        }
        $scope.SetCustomAndInsurenceFee= function()
        {
            $scope.BaseCustomTotal=(parseFloat($scope.CostCalculation.BasePrice)+parseFloat(icsRemoveComma($scope.CostCalculation.DutyAmount,2),0));
            $scope.CostCalculation.CustomAndInsurenceFeeAmount= (parseFloat($scope.CostCalculation.BasePrice)+parseFloat(icsRemoveComma($scope.CostCalculation.DutyAmount,2),0))*($scope.CostCalculation.CustomAndInsurenceFeePercent/100);
            $scope.CostCalculation.CustomAndInsurenceFeeAmount=formatPrice(parseFloat($scope.CostCalculation.CustomAndInsurenceFeeAmount),0);
        }
        $scope.SetAdditionalCost= function()
        {
            $scope.CostCalculation.AdditionalCostBC= formatPrice((parseFloat($scope.CostCalculation.AdditionalCost)*$scope.CostCalculation.CRate),0);
        }
        $scope.SetLandedCost= function()
        {
            $scope.CostCalculation.LandedCost= (parseFloat($scope.BaseCustomTotal)+parseFloat(icsRemoveComma($scope.CostCalculation.CustomAndInsurenceFeeAmount,2),0))+parseFloat($scope.CostCalculation.TransportCost);
            $scope.CostCalculation.LandedCost=formatPrice(parseFloat($scope.CostCalculation.LandedCost),0);
            $scope.CostCalculation.LandedCostBC= (parseFloat(icsRemoveComma($scope.CostCalculation.LandedCost,2),0)*$scope.CostCalculation.CRate);
            $scope.CostCalculation.LandedCostBC=formatPrice(parseFloat($scope.CostCalculation.LandedCostBC),0);
        }
        $scope.SetTotalLandedCost= function()
        {
            $scope.CostCalculation.TotalLandedCost= (parseFloat(icsRemoveComma($scope.CostCalculation.LandedCost,2),0))+parseFloat($scope.CostCalculation.AdditionalCost);
            $scope.CostCalculation.TotalLandedCost=formatPrice(parseFloat($scope.CostCalculation.TotalLandedCost),0);
            $scope.CostCalculation.TotalLandedCostBC= (parseFloat(icsRemoveComma($scope.CostCalculation.TotalLandedCost,2),0)*$scope.CostCalculation.CRate);
            $scope.CostCalculation.TotalLandedCostBC=formatPrice(parseFloat($scope.CostCalculation.TotalLandedCostBC),0);
        }
       
        $scope.SetExShowroom= function()
        {
            $scope.CostCalculation.ExShowroomPriceBC=((parseFloat(icsRemoveComma($scope.CostCalculation.TotalLandedCostBC,2),0)/(100-$scope.CostCalculation.MarginRate))*100);
            $scope.CostCalculation.ExShowroomPrice= (parseFloat($scope.CostCalculation.ExShowroomPriceBC,2)/$scope.CostCalculation.CRate);
            $scope.CostCalculation.ExShowroomPrice=formatPrice(parseFloat($scope.CostCalculation.ExShowroomPrice),0);
            $scope.CostCalculation.ExShowroomPriceBC=formatPrice(parseFloat($scope.CostCalculation.ExShowroomPriceBC),0);
            $scope.CostCalculation.OfferPriceBC= $scope.CostCalculation.ExShowroomPriceBC;
        }
        $scope.SetMarginAmount= function()
        {
            $scope.CostCalculation.MarginAmountBC=(parseFloat(icsRemoveComma($scope.CostCalculation.ExShowroomPriceBC,2),0)-parseFloat(icsRemoveComma($scope.CostCalculation.LandedCostBC,2),0));
            $scope.CostCalculation.MarginAmount= (parseFloat(icsRemoveComma($scope.CostCalculation.ExShowroomPrice,2),0)-parseFloat(icsRemoveComma($scope.CostCalculation.LandedCost,2),0));
            $scope.CostCalculation.MarginAmount=formatPrice(parseFloat($scope.CostCalculation.MarginAmount),0);
            $scope.CostCalculation.MarginAmountBC=formatPrice(parseFloat($scope.CostCalculation.MarginAmountBC),0);
        }
        $scope.SetCostCalculation = function()
        {
            if($scope.CostCalculation.CurrencyID==$scope.CostCalculation.BaseCurrencyID)
                $scope.CostCalculation.CRate=1;

            $scope.SetBasePriceBC();
            $scope.SetCD();
            $scope.SetRD();
            $scope.SetSD();
            $scope.SetVAT();
            $scope.SetAIT();
            $scope.SetProfitATV();
            $scope.SetTotalAIT();
            $scope.SetATV();
            $scope.SetTotalDuty();
            $scope.SetTotalDutyInPercent();
            $scope.SetDutyAmount();
            $scope.SetCustomAndInsurenceFee();
            $scope.SetLandedCost();
            $scope.SetAdditionalCost();
            $scope.SetTotalLandedCost();
            $scope.SetExShowroom();
            $scope.SetMarginAmount();
            $scope.SetExShowroom();
        }
        //-------------CostCalculation Ends-------------
        $scope.FormatPrice = function()
        {
            $scope.CostCalculation.ExShowroomPrice=formatPrice(parseFloat($scope.CostCalculation.ExShowroomPrice),0);
            $scope.CostCalculation.ExShowroomPriceBC=formatPrice(parseFloat($scope.CostCalculation.ExShowroomPriceBC),0);
            $scope.CostCalculation.MarginAmount=formatPrice(parseFloat($scope.CostCalculation.MarginAmount),0);
            $scope.CostCalculation.MarginAmountBC=formatPrice(parseFloat($scope.CostCalculation.MarginAmountBC),0);
            $scope.CostCalculation.LandedCost=formatPrice(parseFloat($scope.CostCalculation.LandedCost),0);
            $scope.CostCalculation.LandedCostBC=formatPrice(parseFloat($scope.CostCalculation.LandedCostBC),0);
            $scope.CostCalculation.CustomAndInsurenceFeeAmount=formatPrice(parseFloat($scope.CostCalculation.CustomAndInsurenceFeeAmount),0);
            $scope.CostCalculation.DutyAmount=formatPrice(parseFloat($scope.CostCalculation.DutyAmount),0);
            $scope.CostCalculation.TotalDutyAmount=formatPrice(parseFloat($scope.CostCalculation.TotalDutyAmount),0);
            $scope.CostCalculation.ATVAmount=formatPrice(parseFloat($scope.CostCalculation.ATVAmount),0);
            $scope.CostCalculation.ProfitForATVAmount=formatPrice(parseFloat($scope.CostCalculation.ProfitForATVAmount),0);
            $scope.CostCalculation.TotalValueForATV=formatPrice(parseFloat($scope.CostCalculation.TotalValueForATV),0);
            $scope.CostCalculation.AITAmount=formatPrice(parseFloat($scope.CostCalculation.AITAmount),0);
            $scope.CostCalculation.VATAmount=formatPrice(parseFloat($scope.CostCalculation.VATAmount),0);
            $scope.CostCalculation.SDAmount=formatPrice(parseFloat($scope.CostCalculation.SDAmount),0);
            $scope.CostCalculation.RDAmount=formatPrice(parseFloat($scope.CostCalculation.RDAmount),0);
            $scope.CostCalculation.CDAmount=formatPrice(parseFloat($scope.CostCalculation.CDAmount),0);
            $scope.CostCalculation.BasePriceBC=formatPrice(parseFloat($scope.CostCalculation.BasePriceBC),0);
            $scope.CostCalculation.OfferPriceBC=formatPrice(parseFloat($scope.CostCalculation.OfferPriceBC),0);

            $scope.CostCalculation.AdditionalCost=formatPrice(parseFloat($scope.CostCalculation.AdditionalCost),0);
            $scope.CostCalculation.AdditionalCostBC=formatPrice(parseFloat($scope.CostCalculation.AdditionalCostBC),0);
            $scope.CostCalculation.TotalLandedCost=formatPrice(parseFloat($scope.CostCalculation.TotalLandedCost),0);
            $scope.CostCalculation.TotalLandedCostBC=formatPrice(parseFloat($scope.CostCalculation.TotalLandedCostBC),0);
        }
        $scope.FormatPrice();

        $scope.PickVehicleModel= function ()
        {
            debugger;
            var oVehicleModel = {
                ModelNo: $.trim($scope.CostCalculation.ModelNo)
            };
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(sessionStorage.getItem('BaseAddress')+'/VehicleModel/GetVehicleModels',$.param(oVehicleModel), config).then(
                        function (response)
                        {
                            var oColumns = [];
                            var oColumn = { field: 'ModelNo', name: 'ModelNo',width: '30%'  };oColumns.push(oColumn);
                            oColumn = { field: 'CategoryName', name: 'CategoryName',width: '40%', enableSorting: false  };oColumns.push(oColumn);
                            var results=jQuery.parseJSON(response.data);
                            var modalObj={
                                size:'md',
                                modalcontroller:'',
                                appcontroller:'',
                                objs:results,
                                multiSelect:false,
                                pickertitle:'Model List',
                                searchingbyfieldName:'ModelNo',
                                columns:oColumns
                            }
                            var modalInstance=msModal.Instance(modalObj);
                            modalInstance.result.then(function (result)
                            {
                                debugger;
                                $scope.CostCalculation.ModelNo=result.ModelNo;
                                $scope.CostCalculation.VehicleModelID=result.VehicleModelID;
                            }, function () {
                                $log.info('Modal dismissed at: ' + new Date());
                            });
                        },
                            function (response) { alert(jQuery.parseJSON(response.data).Message);}
                    );

        };
        $scope.SearchKeyVehicleModelNo = function (e) {
            //debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                var ModelNo = $.trim($scope.CostCalculation.ModelNo);
                if(ModelNo=="" || ModelNo==null)
                {
                    alert("Type Model No and Press Enter");
                    return;
                }
                $scope.PickVehicleModel();
            }else if (code == 8) //backspace=8
            {
                //debugger;
                $scope.CostCalculation.ModelNo='';
                $scope.CostCalculation.VehicleModelID=0;
                GetVehicleModelImage(0);//Get Model Image
            }
        };

        $scope.Save = function ()
        {
            debugger;
            if(!$scope.ValidateInput()) return;
            //$scope.CostCalculation.OfferPriceBC= Math.ceil($scope.CostCalculation.ExShowroomPriceBC);
            var oCostCalculation= $scope.CostCalculation;
            oCostCalculation.IssueDate = new Date($scope.CostCalculation.IssueDateInString);
            oCostCalculation.OrderStatusInInt = 1;//intialize
            //oCostCalculation.OfferPriceBC = Math.ceil(oCostCalculation.OfferPriceBC);

            $http.post(sessionStorage.getItem('BaseAddress')+'/CostCalculation/Save',oCostCalculation).then(
                        function (response)
                        {
                            var oCostCalculation= jQuery.parseJSON(response.data);
                            if (oCostCalculation.ErrorMessage=="" || oCostCalculation.ErrorMessage==null)
                            {
                                alert("Data Saved Successfully!!");
                                userSession.setData('CostCalculationList',oCostCalculation);
                                userSession.previousPage();
                            }
                            else
                            {
                                alert(oCostCalculation.ErrorMessage);
                            }
                        },
                            function (response) { alert(jQuery.parseJSON(response.data).Message);$scope.MeasurementUnits=[];}
                    );

        };
        $scope.ValidateInput =  function ()
        {
            debugger;
            if($scope.CostCalculation.ModelNo=="" || $scope.CostCalculation.VehicleModelID==0)
            {
                alert('Please Pick Model .');
                return false;
            }
            if($scope.CostCalculation.CurrencyID==0)
            {
                alert('Please Select Currency.');
                return false;
            }
            if($scope.CostCalculation.BasePrice<=0)
            {
                alert("Base Price Should Be Greater Than Zero!!");
                //$scope.CostCalculation.BasePrice=0;
                return;
            }
            if($scope.CostCalculation.CRate<=0)
            {
                alert("Currency Rate Should Be Greater Than Zero!!");
                $scope.CostCalculation.CRate=1;
                return;
            }
            if($scope.CostCalculation.BaseCurrencyID==0)
            {
                alert('Invalid Base Currency.');
                return false;
            }
            if($scope.CostCalculation.OfferPriceBC<=0)
            {
                alert('Invalid Offer Price.');
                return false;
            }
            
            if(parseFloat(icsRemoveComma($scope.CostCalculation.OfferPriceBC,2),0)<parseFloat(icsRemoveComma($scope.CostCalculation.ExShowroomPriceBC,2),0))
            {
                alert('Offer Price Should Be Greater Than Ex Showroom Price');
                return false;
            }
            // if($scope.gridOptionsCostCalculationDetail.data.length <=0){alert("Please Add Vechicle Order Detail");  return false;}

            return true;
        };
        if(sessionStorage.getItem("CostCalculationHeader")=="View Cost Calculation")
        {
            $("#divCostCalculation :input").prop('disabled', true);
            $('#btnclose').prop('disabled', false);
        }

        $scope.Close=function ()
        {
            window.location.href = sessionStorage.getItem("BackLink");
        };


    });

</script>