@{
    ViewBag.Title = "Production Procedure Template List";
}
@model IEnumerable<ESimSol.BusinessObjects.ProductionProcedureTemplate>
<div class="menuMainCollectionTable">
    <table id="tblProductionProcedureTemplate" title="Production Template List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" , autorowheight="false" toolbar="#toolbar">
        <thead>
            <tr>
                <th field="TemplateNo" width="150">Template No</th>
                <th field="TemplateName" width="500">Template Name</th>
                <th field="Remarks" width="150">Remarks</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <input type="text" id="txtTemplateName" value="Search by Template Name" style="width:150px" onclick="ClearNamefield()" />
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="Refresh()">Refresh</a>
        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="Add()">Add</a>
        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="Edit()">Edit</a>
        <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="Delete()">Delete</a>
        <a id="btnPrintList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="PrintList()">Print List</a>
    </div>
</div>

<script type="text/javascript">
var _oProductionProcedureTemplates=[];
var _sBaseAddress ="";
var _oAuthorizationRolesMapping =[];
$(document).ready(function () {
        //debugger;
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));                  
        _oProductionProcedureTemplates =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    _oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));  
    debugger;
    var oProductionProcedureTemplates =sessionStorage.getItem("ProductionProcedureTemplates");
    if(oProductionProcedureTemplates!=null)
    {
        oProductionProcedureTemplates = jQuery.parseJSON(oProductionProcedureTemplates);  
    }
    else
    {
        oProductionProcedureTemplates=_oProductionProcedureTemplates;
    }
    RefreshList(oProductionProcedureTemplates);
    RefreshControlLayout();
});

$('#txtTemplateName').keypress(function (e) {
    //debugger;
    var c = String.fromCharCode(e.which);
    var txtTemplateName = document.getElementById('txtTemplateName').value;
    txtTemplateName = txtTemplateName + c;
    
    var bFlag=false;
    var sTempCode="";
    var rows = $('#tblProductionProcedureTemplate').datagrid('getRows');        
    for(i=0;i<rows.length;++i){
        sTempCode=rows[i]['TemplateName'].substring(0, txtTemplateName.length);
        if(txtTemplateName.toUpperCase()==sTempCode.toUpperCase())
        {
            bFlag=true;
            break;
        }
    }
    if(bFlag)
    {
        $('#tblProductionProcedureTemplate').datagrid('selectRow', i);
    }
});

function ClearNamefield()
{
        $("#txtTemplateName")[0].value='';
}


function Refresh()
{    
    var oProductionProcedureTemplates = $('#tblProductionProcedureTemplate').datagrid('getRows'); 
    data=oProductionProcedureTemplates;
    data={"total":""+data.length+"","rows":data};
    $('#tblProductionProcedureTemplate').datagrid('loadData',data);           
}  

function RefreshList(oProductionProcedureTemplates)
{    
        data=oProductionProcedureTemplates;
        data={"total":""+data.length+"","rows":data};
        $('#tblProductionProcedureTemplate').datagrid('loadData',data);
        var nID =parseInt(sessionStorage.getItem("SelectedRowIndex"));
        $('#tblProductionProcedureTemplate').datagrid('selectRow', nID);
 
}



function Add()
{
    //debugger;     
    var oProductionProcedureTemplates= $('#tblProductionProcedureTemplate').datagrid('getRows');
    sessionStorage.setItem("ProductionProcedureTemplates", JSON.stringify(oProductionProcedureTemplates)); 
    sessionStorage.setItem("SelectedRowIndex", -1);   
    sessionStorage.setItem("ProductionProcedureTemplateHeader", "Add Production Procedure Template");
    sessionStorage.setItem("BackLink", window.location.href);
    window.location.href = _sBaseAddress+ "/ProductionProcedureTemplate/ViewProductionProcedureTemplate?id=0";

              
} 


function Edit()
{
    //debugger;
    var oProductionProcedureTemplate = $('#tblProductionProcedureTemplate').datagrid('getSelected'); 
    if(oProductionProcedureTemplate==null || oProductionProcedureTemplate.ProductionProcedureTemplateID<=0)
    {
        alert("Please select a item from list!");
        return;
    }
    var SelectedRowIndex=$('#tblProductionProcedureTemplate').datagrid('getRowIndex',oProductionProcedureTemplate);
    var oProductionProcedureTemplates= $('#tblProductionProcedureTemplate').datagrid('getRows');
    sessionStorage.setItem("ProductionProcedureTemplates", JSON.stringify(oProductionProcedureTemplates)); 
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);   
    sessionStorage.setItem("ProductionProcedureTemplateHeader", "Edit Production Procedure Template");
    sessionStorage.setItem("BackLink", window.location.href);
    window.location.href = _sBaseAddress+ "/ProductionProcedureTemplate/ViewProductionProcedureTemplate?id="+parseInt(oProductionProcedureTemplate.ProductionProcedureTemplateID);


} 


function Delete()
{
    //debugger;  
    var oProductionProcedureTemplate = $('#tblProductionProcedureTemplate').datagrid('getSelected'); 
    if(oProductionProcedureTemplate==null || oProductionProcedureTemplate.ProductionProcedureTemplateID<=0)
    {
    alert("Please select a item from list!");
    return;
    }
    if (!confirm("Confirm to Delete?")) return ;  
    var SelectedRowIndex=$('#tblProductionProcedureTemplate').datagrid('getRowIndex',oProductionProcedureTemplate);
    if (oProductionProcedureTemplate.ProductionProcedureTemplateID> 0) 
    {
        $.ajax
        ({
            type: "GET",
            dataType: "json",            
            url : _sBaseAddress+  "/ProductionProcedureTemplate/Delete",
            data: { nProductionProcedureTemplateID: parseInt(oProductionProcedureTemplate.ProductionProcedureTemplateID)},
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                feedbackmessage = jQuery.parseJSON(data);
                if (feedbackmessage == "Data delete successfully") 
                {
                    alert("Delete sucessfully");                        
                    $('#tblProductionProcedureTemplate').datagrid('deleteRow',SelectedRowIndex);
                          
                }
                else
                {
                    alert(feedbackmessage);
                }
            },
            error: function (xhr, status, error) 
            {
                alert(error);
            }
                      
        });
    }
}


function PrintList() 
{
    var oProductionProcedureTemplates= $('#tblProductionProcedureTemplate').datagrid('getRows'); 
    var ids ="";
    if(oProductionProcedureTemplates.length >0)
    {       
        for(var i =0;i<oProductionProcedureTemplates.length;i++)
        {
            ids =ids+oProductionProcedureTemplates[i].ProductionProcedureTemplateID+",";
        }
        ids= ids.substring(0, ids.length - 1);
    }
    else
    {    
        alert("Data not found ");
        return;
    }
    window.open(_sBaseAddress + '/ProductionProcedureTemplate/PrintList?sIDs='+ids);     
} 


function RefreshControlLayout()
{
  debugger;
    document.getElementById('btnAdd').style.display = 'none'; 
    document.getElementById('btnEdit').style.display = 'none'; 
    document.getElementById('btnDelete').style.display = 'none'; 
    document.getElementById('btnPrintList').style.display = 'none'; 
     
    if(HavePermission('Add','ProductionProcedureTemplate')){document.getElementById('btnAdd').style.display = '';}
    if(HavePermission('Edit','ProductionProcedureTemplate')){document.getElementById('btnEdit').style.display = '';}
    if(HavePermission('Delete','ProductionProcedureTemplate')){document.getElementById('btnDelete').style.display = '';}
    if(HavePermission('PrintList','ProductionProcedureTemplate')){document.getElementById('btnPrintList').style.display = '';}
    
}

function HavePermission(sOperationType, sDbObject)
{
    var nSessionID =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.currentUserID]));
    if(nSessionID == -9) //check SuperUser 
    {
        return true;
    }else
    {
        
        for(var i =0;i<_oAuthorizationRolesMapping.length;i++)
        {
            if(_oAuthorizationRolesMapping[i].OperationTypeInString == sOperationType && _oAuthorizationRolesMapping[i].DBObjectName == sDbObject)
            return  true;
        }
        return false;
     }
}

</script>