@{
    ViewBag.Title = "Dyeing Batch";
}
@model ESimSol.BusinessObjects.KnitDyeingBatch
<div class="menuMainCollectionTable">
    <div id="tt" class="easyui-tabs" style="width:100%;height:89%;">
        <div title="Dyeing Batch" style="height:100%; width:100%">
            <div id="divKnitDyeingBatch" class="easyui-panel" style="font-family:Tahoma; text-align:center; height:100%; width:100%">
                <fieldset style="margin-top:5px">
                    <table border="0" cellspacing="1" cellpadding="1" style="font-size:11px; font-weight:bold; width:98%">
                        <tr>
                            <td style="width:12%; text-align:right">
                                <label>Batch No :</label>
                            </td>
                            <td style="width:20%">
                                <input type="text" id="txtBatchNo" style="width:100%" disabled="disabled" />
                            </td>
                            <td style="width:12%; text-align:right">
                                <label>Issue Date :</label>
                            </td>
                            <td style="width:20%; float:left">
                                <input id="dBatchIssueDate" type="text" style="width:200px;float:left" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            </td>
                            <td style="width:12%; text-align:right">
                                <label>Style :</label>
                            </td>
                            <td style="width:20%">
                                <input type="text" id="txtStyleNo" style="width:72%;float:left" />
                                <input type="button" id="btnStylePick" value="P" onclick="LoadStyle('')" style="width:12%">
                                <input type="button" id="btnStyleCancel" value="C" onclick="CancelStyle()" style="width:12%">
                            </td>
                        </tr>
                        <tr>
                            <td style="width:12%; text-align:right">
                                <label>Recap/PAM :</label>
                            </td>
                            <td style="width:20%">
                                <input type="text" id="txtRecapOrPAM" style="width:50%; float:left" disabled="disabled" />
                                <input type="text" id="txtOrderQty" style="width:50%; float:right; text-align:right" disabled="disabled" />
                            <td style="width:12%; text-align:right">
                                <label>Buyer :</label>
                            </td>
                            <td style="width:20%">
                                <input type="text" id="txtBuyerName" style="width:98%" disabled="disabled" />
                            </td>
                            <td style="width:12%; text-align:right">
                                <label>Color :</label>
                            </td>
                            <td style="width:20%">
                                <select id="cboColor" style="width:98%" onchange="LoadPTU()"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:12%; text-align:right">
                                <label>Fabric :</label>
                            </td>
                            <td style="width:52%;" colspan="3">
                                <input type="text" id="txtFabric" style="width:89%; float:left" />
                                <input type="button" id="btnFabricPick" value="P" style="width:5%" onclick="LoadFabric('')">
                                <input type="button" id="btnFabricPickCancel" value="C" style="width:5%" onclick="CancelFabric()">
                            <td style="width:12%; text-align:right">
                                <label>F.GSM :</label>
                            </td>
                            <td style="width:20%">
                                <input type="text" id="txtGSM" style="width:72%;float:left" />
                                <input type="button" id="btnGSMPick" value="P" style="width:12%" onclick="LoadGSM('')">
                                <input type="button" id="btnGSMPickCancel" value="C" style="width:12%" onclick="CancelGSM()">
                            </td>
                        </tr>
                        <tr>
                            <td style="width:12%; text-align:right">
                                <label>Machine :</label>
                            </td>
                            <td style="width:52%" colspan="3">
                                <input type="text" id="txtMachine" style="width:89%;float:left" />
                                <input type="button" id="btnMachinePick" value="P" style="width:5%" onclick="LoadMachine('')">
                                <input type="button" id="btnMachinePickCancel" value="C" style="width:5%" onclick="CancelMachine()">
                            <td style="width:12%; text-align:right">
                                <label>Wash :</label>
                            </td>
                            <td style="width:20%">
                                <input type="text" id="txtWash" style="width:72%;float:left" />
                                <input type="button" id="btnWashPick" value="P" style="width:12%" onclick="LoadWash('')">
                                <input type="button" id="btnWashPickCancel" value="C" style="width:12%" onclick="CancelWash()">
                            </td>
                        </tr>
                        <tr>
                            <td style="width:12%; text-align:right">
                                <label>Remarks :</label>
                            </td>
                            <td style="width:84%" colspan="5">
                                <input type="text" id="txtRemarks" style="width:100%;" />
                        </tr>
                    </table>
                </fieldset>
                <div style="margin-left:2px; height:330px; margin-left:2px; width:99.80%">
                    <table id="tblKnitDyeingBatchDetail" title="Batch Details Info" class="easyui-datagrid" style="width:100%;height:330px" showfooter="true"
                           data-options="singleSelect: true, fitColumns:false, rownumbers:true,pagination:false,autoRowHeight:false,toolbar: '#toolbar',onClickRow: onClickRow ">
                        <thead>
                            <tr>
                                <th field="GrayFabricName" width="200" align="left">Gray Fabric</th>
                                <th field="FabricTypeName" width="160" align="left">Fabric Type</th>
                                <th field="GrayDiaName" width="60" align="left">Gray Dia</th>
                                <th data-options="field:'RollQty',width:60,align:'right',editor:{type:'numberbox',options:{precision:0}}" formatter="formatPrice" align="right">Roll Qty</th>
                                <th data-options="field:'GrayQty',width:90,align:'right',editor:{type:'numberbox',options:{precision:2}}" formatter="formatPrice" align="right">Gray Qty</th>
                                <th data-options="field:'ProcessLoss',width:97,align:'right',editor:{type:'numberbox',options:{precision:2}}" formatter="formatPrice" align="right">Process Loss</th>
                                <th data-options="field:'FinishQty',width:97,align:'right',editor:{type:'numberbox',options:{precision:2}}" formatter="formatPrice" align="right">Finish Qty</th>
                                <th field="FinishDiaName" width="85" align="left">F. Dia</th>
                                <th field="FinishGSMName" width="85" align="left">F. GSM</th>
                                <th data-options="field:'Remarks',width:200,align:'left',editor:{type:'text'}">Remarks</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="toolbar" style=" height:25px">
                        <select id="cboPTU" style="width:500px"></select>
                        <input type="text" id="txtGrayDia" placeholder="Enter Gray Dia"/>
                        <input type="button" id="btnPickGrayDia" value="P" onclick="LoadGrayDia('')" />
                        <input type="button" id="btnCancelGrayDia" value="C" onclick="CancelGrayDia()" />
                        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                        <a id="btnRemove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                    </div>
                </div>
            </div>
        </div>
        <div title="Suggested Lot" style="height:100%; width:100%">
            <div id="divBatchYarnLot" class="easyui-panel" style="font-family:Tahoma; text-align:center; height:100%; width:100%">
                <div style="margin-left:2px; height:100%; margin-left:2px; width:99.80%">
                    <table id="tblbatchYarnLot" title="Yarn Lot Info" class="easyui-datagrid" style="width:100%;height:100%"
                           data-options="singleSelect: true, fitColumns:false, rownumbers:true,pagination:false,autoRowHeight:false,toolbar: '#toolbarYarn',onClickRow: onClickRow ">
                        <thead>
                            <tr>
                                <th field="CompositionName" width="200" align="left">Composition</th>
                                <th field="LotNo" width="150" align="left">Lot No</th>
                                <th field="Remarks" width="500" align="left">Remarks</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="toolbarYarn" style=" height:25px">
                        <a id="btnYarnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                        <a id="btnYarnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                        <a id="btnYarnRemove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <fieldset style="height:10%">
        <legend style="font-weight: bold">Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
            <tr>
                <td style="width:83%; text-align:right"></td>
                <td style="width:17%;text-align:right;">
                    <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                    <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                </td>
            </tr>
        </table>
    </fieldset>
    </div>

    <div id="winAdd" class="easyui-window" title="Batch Yarn Lot" style="width:440px;height:200px;padding:2px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div id="winYarnLot" class="easyui-panel" style="font-family:Tahoma; text-align:center; height:100%; width:100%">
            <fieldset style="margin-top:5px">
                <table border="0" cellspacing="1" cellpadding="1" style="font-size:11px; font-weight:bold; width:98%">
                    <tr>
                        <td style="width:30%; text-align:right">
                            <label>Composition :</label>
                        </td>
                        <td style="width:70%">
                            <input type="text" id="txtComposition" style="width:70%; float:left" />
                            <input type="button" id="btnPickProduct" value="P" onclick="LoadProduct('')" style="width:13%">
                            <input type="button" id="btnCancelProduct" value="C" onclick="CancelProduct()" style="width:13%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%; text-align:right">
                            <label>Lot :</label>
                        </td>
                        <td style="width:70%">
                            <input type="text" id="txtLot" style="width:70%; float:left" />
                            <input type="button" id="btnPickLot" value="P" onclick="LoadLot('')" style="width:13%">
                            <input type="button" id="btnCancelLot" value="C" onclick="CancelLot()" style="width:13%">
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%; text-align:right">
                            <label>Remarks :</label>
                        </td>
                        <td style="width:70%">
                            <input type="text" id="txtYarnRemarks" style="width:98%; float:left" />
                        </td>
                    </tr>
                </table>
            </fieldset>
            <fieldset style="height:60px">
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:30%; text-align:right"></td>
                        <td style="width:70%;text-align:right;">
                            <a id="btnSaveYarn" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            <a id="btnCloseYarn" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>


    <script type="text/javascript">
        var bIsEdit = false;
        $(document).ready(function () {
            debugger;
            var oKnitDyeingBatch = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
            $('#dBatchIssueDate').datebox('setValue', oKnitDyeingBatch.BatchIssueDate);
            $('#tblKnitDyeingBatchDetail').datagrid('loadData', []);
            $('#divKnitDyeingBatch').data('KnitDyeingBatch', oKnitDyeingBatch);
            $('#divKnitDyeingBatch').data('KnitDyeingProgram',null);
            $('#divKnitDyeingBatch').data('PTUTempList',[]);
            $('#divKnitDyeingBatch').data('FabricID',0);
            $('#divKnitDyeingBatch').data('GSMID',0);
            $('#divKnitDyeingBatch').data('WashID',0);
            $('#divKnitDyeingBatch').data('MachineID',0);
            $('#divKnitDyeingBatch').data('GrayDiaID',0);
            $('#divKnitDyeingBatch').data('ProductID', 0);
            $('#divKnitDyeingBatch').data('LotID', 0);
            if(oKnitDyeingBatch.KnitDyeingBatchID>0)
            {
                RefreshLayOut(oKnitDyeingBatch);
            }
            RefreshSummery();
        });
        function RefreshList(oKnitDyeingBatchDetails) {
            data = oKnitDyeingBatchDetails;
            data = { "total": "" + data.length + "", "rows": data };
            $('#tblKnitDyeingBatchDetail').datagrid('loadData', data);
            RefreshSummery();
        }

        function RefreshLayOut(oKnitDyeingBatch) {
            debugger;
            $('#divKnitDyeingBatch').data('KnitDyeingProgram', {ColorID:oKnitDyeingBatch.ColorID, RefObjectID:oKnitDyeingBatch.RefObjectID});
            $('#dBatchIssueDate').datebox('setValue', oKnitDyeingBatch.BatchIssueDateSt);
            $('#txtStyleNo').val(oKnitDyeingBatch.StyleNo);
            $('#divKnitDyeingBatch').data('KnitDyeingProgram').KnitDyeingProgramID = oKnitDyeingBatch.KnitDyingProgramID;
            LoadColor(oKnitDyeingBatch.RefObjectNo);            
            $('#divKnitDyeingBatch').data('FabricID', oKnitDyeingBatch.FabricID);
            $('#txtFabric').val(oKnitDyeingBatch.FabricName);
            $('#txtGSM').val(oKnitDyeingBatch.FinishedGSMName);
            $('#divKnitDyeingBatch').data('GSMID', oKnitDyeingBatch.FinishedGSMID);
            $('#txtMachine').val(oKnitDyeingBatch.MachineName);
            $('#divKnitDyeingBatch').data('MachineID',oKnitDyeingBatch.MachineID);
            $('#txtWash').val(oKnitDyeingBatch.WashName);
            $('#divKnitDyeingBatch').data('WashID',oKnitDyeingBatch.WashTypeID);
            $('#txtRemarks').val(oKnitDyeingBatch.Remarks);

            $('#txtBatchNo').val(oKnitDyeingBatch.BatchNo);
            $('#txtRecapOrPAM').val(oKnitDyeingBatch.RefObjectNo);
            $('#txtOrderQty').val(oKnitDyeingBatch.OrderQty);
            $('#txtBuyerName').val(oKnitDyeingBatch.BuyerName);

            $('#tblKnitDyeingBatchDetail').datagrid('loadData', oKnitDyeingBatch.KnitDyeingBatchDetails);
            $('#tblbatchYarnLot').datagrid('loadData', oKnitDyeingBatch.KnitDyeingBatchYarns);
            if(sessionStorage.getItem("KnitDyeingBatchHeader") == "View Dyeing Batch")
            {
                $('#btnSave').hide();
                $("#mainDiv").find("*").prop("disabled", true);
            }


            RefreshSummery();
        }
        //***********************Style Picker (Start)*************************************************************//
        $("#txtStyleNo").keydown(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) // Enter Press
            {
                LoadStyle($.trim($('#txtStyleNo').val()));
            }
            if (code == 8)
            {
                CancelStyle();
            }
        });
        function LoadStyle(sStyleNo)
        {
            var oTempObj = {
                StyleNo : sStyleNo,
                BUID : sessionStorage.getItem('BUID')
            }
            var obj = {
                BaseAddress: sessionStorage.getItem("BaseAddress"),
                Object: oTempObj,
                ControllerName: "KnitDyeingProgram",
                ActionName: "GetsProgramDetailByStyleNo",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].KnitDyeingProgramID > 0) {
                        var tblColums = []; var oColumn = { field: "KDProgramNo", title: "Program No", width: 120, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "RefObjectNo", title: "Recap/PAM No", width: 120, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "StyleNo", title: "Style No", width: 120, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "BuyerName", title: "Buyer Name", width: 150, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "TotalGarmentsQtySt", title: "Total Qty", width: 80, align: "right" }; tblColums.push(oColumn);

                        var oPickerParam = {
                            winid: 'winStyle',
                            winclass: 'clsStyle',
                            winwidth: 700,
                            winheight: 460,
                            tableid: 'tblStyle',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName: 'StyleNo',
                            windowTittle: 'Style List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else{
                    alert("Data Not Found.");
                    return;
                }
            });
        }
        function CancelStyle()
        {
            $('#txtStyleNo').val('');
            $('#divKnitDyeingBatch').data('KnitDyeingProgram',null);
            $('#txtBuyerName').val('');
            $('#txtRecapOrPAM').val('');
            $('#txtOrderQty').val('');
            LoadColor('');
            $('#divKnitDyeingBatch').data('FabricID', 0);
            $('#txtFabric').val('');
            $('#txtGSM').val('');
            $('#divKnitDyeingBatch').data('GSMID', 0);
            $('#tblKnitDyeingBatchDetail').datagrid('loadData', []);
        }
        //***********************Style Picker (End)***************************************************************//

        //***********************Fabric Picker (Start)************************************************************//
        $("#txtFabric").keydown(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) // Enter Press
            {
                LoadFabric($.trim($('#txtFabric').val()));
            }
            if (code == 8)
            {
                $('#txtFabric').val('');
                $('#divKnitDyeingBatch').data('FabricID', 0);
            }
        });
        function LoadFabric(sFabric)
        {
            var oTempObj = {
                ProductName : sFabric,
                BUID : sessionStorage.getItem('BUID')
            }
            var obj = {
                BaseAddress: sessionStorage.getItem("BaseAddress"),
                Object: oTempObj,
                ControllerName: "Product",
                ActionName: "Gets_ByName",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ProductID > 0) {
                        var tblColums = []; var oColumn = { field: "ProductCode", title: "Code", width: 150, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ProductName", title: "Product Name", width: 300, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ProductCategoryName", title: "Category", width: 100, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "MUnitName", title: "Unit", width: 80, align: "left" }; tblColums.push(oColumn);

                        var oPickerParam = {
                            winid: 'winFabric',
                            winclass: 'clsFabric',
                            winwidth: 700,
                            winheight: 460,
                            tableid: 'tblFabric',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName: 'ProductNo',
                            windowTittle: 'Fabric List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else{
                    alert("Data Not Found.");
                    return;
                }
            });
        }
        function CancelFabric()
        {
            $('#txtFabric').val('');
            $('#divKnitDyeingBatch').data('FabricID', 0);
        }
        //***********************Fabric Picker (End)**************************************************************//

        //***********************GSM Picker (Start)***************************************************************//
        $("#txtGSM").keydown(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) // Enter Press
            {
                LoadGSM($.trim($('#txtGSM').val()));
            }
            if (code == 8)
            {
                CancelGSM();
            }
        });
        
        function LoadGSM(sGSMNo)
        {
            var oTempObj = {
                SourcingConfigHeadType : 2,
                SourcingConfigHeadName : sGSMNo
            }
            var obj = {
                BaseAddress: sessionStorage.getItem("BaseAddress"),
                Object: oTempObj,
                ControllerName: "SourcingConfigHead",
                ActionName: "GetsByNameAndTpe",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].SourcingConfigHeadID > 0) {
                        var tblColums = []; var oColumn = { field: "SourcingConfigHeadName", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);

                        var oPickerParam = {
                            winid: 'winGSM',
                            winclass: 'clsGSM',
                            winwidth: 300,
                            winheight: 460,
                            tableid: 'tblGSM',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName: 'SourcingConfigHeadName',
                            windowTittle: 'GSM List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else{
                    alert("Data Not Found.");
                    return;
                }
            });
        }
        function CancelGSM()
        {
            $('#txtGSM').val('');
            $('#divKnitDyeingBatch').data('GSMID', 0);
        }
        //***********************GSM Picker (End)*****************************************************************//

        //***********************Wash Picker (Start)**************************************************************//
        $("#txtWash").keydown(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) // Enter Press
            {
                LoadWash($.trim($('#txtWash').val()));
            }
            if (code == 8)
            {
                CancelWash();
            }
        });
        function LoadWash(sWashNo)
        {
            var oTempObj = {
                SourcingConfigHeadType : 1,
                SourcingConfigHeadName : sWashNo
            }
            var obj = {
                BaseAddress: sessionStorage.getItem("BaseAddress"),
                Object: oTempObj,
                ControllerName: "SourcingConfigHead",
                ActionName: "GetsByNameAndTpe",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].SourcingConfigHeadID > 0) {
                        var tblColums = []; var oColumn = { field: "SourcingConfigHeadName", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);

                        var oPickerParam = {
                            winid: 'winWash',
                            winclass: 'clsWash',
                            winwidth: 300,
                            winheight: 460,
                            tableid: 'tblWash',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName: 'SourcingConfigHeadName',
                            windowTittle: 'Wash List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else{
                    alert("Data Not Found.");
                    return;
                }
            });
        }
        function CancelWash()
        {
            $('#txtWash').val('');
            $('#divKnitDyeingBatch').data('WashID',0);
        }
        //***********************Wash Picker (End)****************************************************************//

        //***********************Machine Picker (Start)***********************************************************//
        $("#txtMachine").keydown(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) // Enter Press
            {
                LoadMachine($.trim($('#txtMachine').val()));
            }
            if (code == 8)
            {
                CancelMachine();
            }
        });
        function LoadMachine(sMachineName)
        {
            var oTempObj = {
                BUID : sessionStorage.getItem('BUID'),
                Name : sMachineName,
                Activity : 1
            }
            var obj = {
                BaseAddress: sessionStorage.getItem("BaseAddress"),
                Object: oTempObj,
                ControllerName: "Machine",
                ActionName: "GetsByName",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].MachineID > 0) {
                        var tblColums = []; var oColumn = { field: "Code", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Name", title: "Name", width: 150, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "MachineTypeName", title: "Type", width: 150, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "LocationName", title: "Location", width: 200, align: "left" }; tblColums.push(oColumn);

                        var oPickerParam = {
                            winid: 'winMachine',
                            winclass: 'clsMachine',
                            winwidth: 700,
                            winheight: 460,
                            tableid: 'tblMachine',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName: 'Name',
                            windowTittle: 'Machine List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else{
                    alert("Data Not Found.");
                    return;
                }
            });
        }
        function CancelMachine()
        {
            $('#txtMachine').val('');
            $('#divKnitDyeingBatch').data('MachineID',0);
        }
        //***********************Machine Picker (End)*************************************************************//

        //***********************Gray Dia Picker (Start)**********************************************************//
        $("#txtGrayDia").keydown(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) // Enter Press
            {
                LoadGrayDia($.trim($('#txtGrayDia').val()));
            }
            if (code == 8)
            {
                CancelGrayDia();
            }
        });
        function LoadGrayDia(sGrayDia)
        {
            var oTempObj = {
                SourcingConfigHeadType : 7, //7: Gray Dia
                SourcingConfigHeadName : sGrayDia
            }
            var obj = {
                BaseAddress: sessionStorage.getItem("BaseAddress"),
                Object: oTempObj,
                ControllerName: "SourcingConfigHead",
                ActionName: "GetsByNameAndTpe",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].SourcingConfigHeadID > 0) {
                        var tblColums = []; var oColumn = { field: "SourcingConfigHeadName", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);

                        var oPickerParam = {
                            winid: 'winGrayDia',
                            winclass: 'clsGrayDia',
                            winwidth: 300,
                            winheight: 460,
                            tableid: 'tblGrayDia',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName: 'Name',
                            windowTittle: 'Gray Dia List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else{
                    alert("Data Not Found.");
                    return;
                }
            });
        }
        function CancelGrayDia()
        {
            $('#txtGrayDia').val('');
            $('#divKnitDyeingBatch').data('GrayDiaID', 0);
        }
        //***********************Gray Dia Picker (End)************************************************************//

        $("#txtComposition").keydown(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) // Enter Press
            {
                LoadProduct($.trim($('#txtComposition').val()));
            }
            if (code == 8)
            {
                $('#txtComposition').val("");
                $('#divKnitDyeingBatch').data('ProductID', 0);
            }
        });
        function LoadProduct(sProductName)
        {
            debugger;
            var oTempObj = {
                BUID : sessionStorage.getItem('BUID'),
                ProductName : sProductName,
                ModuleNameInInt: 734,
                ProductUsagesInInt: 1
            }
            var obj = {
                BaseAddress: sessionStorage.getItem("BaseAddress"),
                Object: oTempObj,
                ControllerName: "Product",
                ActionName: "GetProductsByBUModuleWithProductUse",//GetProductsByName
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ProductID > 0) {
                        var tblColums = []; var oColumn = { field: "ProductName", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ProductCode", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);

                        var oPickerParam = {
                            winid: 'winProduct',
                            winclass: 'clsProduct',
                            winwidth: 400,
                            winheight: 460,
                            tableid: 'tblProduct',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName: 'ProductName',
                            windowTittle: 'Product List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else{
                    alert("Data Not Found.");
                    return;
                }
            });
        }
        function CancelProduct(){
            $('#txtComposition').val("");
            $('#divKnitDyeingBatch').data('ProductID', 0);
        }

        $("#txtLot").keydown(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) // Enter Press
            {
                LoadLot($.trim($('#txtLot').val()));
            }
            if (code == 8)
            {
                $('#txtLot').val("");
                $('#divKnitDyeingBatch').data('LotID', 0);
            }
        });
        function LoadLot(sLotNo)
        {
            debugger;
            var oTempObj = {
                BUID : sessionStorage.getItem('BUID'),
                ProductID : parseInt($('#divKnitDyeingBatch').data('ProductID')),
                LotNo : sLotNo
            }
            var obj = {
                BaseAddress: sessionStorage.getItem("BaseAddress"),
                Object: oTempObj,
                ControllerName: "Lot",
                ActionName: "GetsLot",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].LotID > 0) {
                        var tblColums = []; 
                        var oColumn = { field: "ProductCode", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ProductName", title: "Product", width: 200, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "LotNo", title: "Lot No", width: 150, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Balance", title: "Balance", width: 90, align: "right" }; tblColums.push(oColumn);

                        var oPickerParam = {
                            winid: 'winLot',
                            winclass: 'clsLot',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblLot',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName: 'LotNo',
                            windowTittle: 'Lot List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else{
                    alert("Data Not Found.");
                    return;
                }
            });
        }
        function CancelLot(){
            $('#txtLot').val("");
            $('#divKnitDyeingBatch').data('LotID', 0);
        }


        function LoadPTU()
        {
            var oTempObj = {
                ColorID : $('#cboColor').val(),
                RefObjectNo: $('#divKnitDyeingBatch').data('KnitDyeingProgram').RefObjectNo,
                KnitDyeingProgramID : $('#divKnitDyeingBatch').data('KnitDyeingProgram').KnitDyeingProgramID
            }
            var obj = {
                BaseAddress: sessionStorage.getItem("BaseAddress"),
                Object: oTempObj,
                ControllerName: "KnitDyeingPTU",
                ActionName: "GetsByColorAndOrderRecap",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].KnitDyeingPTUID > 0) {
                        $("#cboPTU").icsLoadCombo({List: response.objs,OptionValue: "KnitDyeingPTUID",DisplayText: "FullName", InitialValue: "Fabric Name | Fabric Type | FinishDia | GSM | Req Fabric Qty | Pending Dyeing Qty" });
                    }
                    else 
                    {
                        alert(response.objs[0].ErrorMessage); 
                    }
                }
                else
                {
                    
                    $("#cboPTU").icsLoadCombo({List: response.objs,OptionValue: "KnitDyeingPTUID",DisplayText: "FullName", InitialValue: "Fabric Name | Fabric Type | FinishDia | GSM | Req Fabric Qty | Pending Dyeing Qty" });
                    return;
                }
                $('#divKnitDyeingBatch').data('PTUTempList', response.objs);
            });
        }
        function LoadColor(sRefObjectNo)
        {
            debugger;
            var oTempObj = {
                KnitDyeingProgramID : $('#divKnitDyeingBatch').data('KnitDyeingProgram').KnitDyeingProgramID,
                RefObjectNo : sRefObjectNo,
                BUID : sessionStorage.getItem('BUID')
            }
            var obj = {
                BaseAddress: sessionStorage.getItem("BaseAddress"),
                Object: oTempObj,
                ControllerName: "KnitDyeingBatch",
                ActionName: "GetsColorByOrderRecapAndProgramDetailID",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ColorID > 0) {
                        $("#cboColor").icsLoadCombo({List: response.objs,OptionValue: "ColorID",DisplayText: "ColorName", });
                        $('#cboColor').val($('#divKnitDyeingBatch').data('KnitDyeingBatch').ColorID);
                        LoadPTU();
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else{
                    //alert("Data Not Found !!");
                    $("#cboColor").icsLoadCombo({List: response.objs,OptionValue: "ColorID",DisplayText: "ColorName", });
                    return;
                }
            });
        }
        function IntializePickerbutton(oPickerobj) {
            debugger;
            $("#" + oPickerobj.winid).find("#btnOk").click(function () {
                debugger;
                //for Single Select
                SetPickerValueAssign(oPickerobj);
            });
            $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
                if (e.which == 13)//enter=13
                {
                    SetPickerValueAssign(oPickerobj);
                }
            });
        }
        function SetPickerValueAssign(oPickerobj)
        {
            debugger;
            var oResult;
            if (oPickerobj.multiplereturn)
            {
                oResult = $('#'+oPickerobj.tableid).datagrid('getChecked');
            }
            else
            {
                oResult = $('#'+oPickerobj.tableid).datagrid('getSelected');
            }
            if (oPickerobj.winid == 'winStyle')
            {
                if(oResult.KnitDyeingProgramID>0)
                {
                    $('#divKnitDyeingBatch').data('KnitDyeingProgram', oResult);
                    $('#txtStyleNo').val(oResult.StyleNo);
                    $('#txtRecapOrPAM').val(oResult.RefObjectNo);
                    $('#txtOrderQty').val(oResult.TotalGarmentsQtySt + ' ' + oResult.GarmentsMUnitName);
                    LoadColor(oResult.RefObjectNo);
                    $('#txtBuyerName').val(oResult.BuyerName);
                    $('#divKnitDyeingBatch').data('FabricID', oResult.FabricID);
                    $('#txtFabric').val(oResult.FabricName);
                    $('#txtGSM').val(oResult.FinishGSMName);
                    $('#divKnitDyeingBatch').data('GSMID', oResult.FinishGSMID);
                }
            }
            if (oPickerobj.winid == 'winFabric')
            {
                if(oResult.ProductID>0)
                {
                    $('#txtFabric').val(oResult.ProductName);
                    $('#divKnitDyeingBatch').data('FabricID', oResult.ProductID);
                }
            }
            if (oPickerobj.winid == 'winGSM')
            {
                if(oResult.SourcingConfigHeadID>0)
                {
                    $('#txtGSM').val(oResult.SourcingConfigHeadName);
                    $('#divKnitDyeingBatch').data('GSMID', oResult.SourcingConfigHeadID);
                }
            }
            if (oPickerobj.winid == 'winWash')
            {
                if(oResult.SourcingConfigHeadID>0)
                {
                    $('#txtWash').val(oResult.SourcingConfigHeadName);
                    $('#divKnitDyeingBatch').data('WashID',oResult.SourcingConfigHeadID);
                }
            }
            if (oPickerobj.winid == 'winMachine')
            {
                if(oResult.MachineID>0)
                {
                    $('#txtMachine').val(oResult.Name);
                    $('#divKnitDyeingBatch').data('MachineID',oResult.MachineID);
                }
            }
            if (oPickerobj.winid == 'winGrayDia')
            {
                if(oResult.SourcingConfigHeadID>0)
                {
                    $('#txtGrayDia').val(oResult.SourcingConfigHeadName);
                    $('#divKnitDyeingBatch').data('GrayDiaID', oResult.SourcingConfigHeadID);
                }
            }
            if (oPickerobj.winid == 'winProduct')
            {
                if(oResult.ProductID>0)
                {
                    $('#txtComposition').val(oResult.ProductName);
                    $('#divKnitDyeingBatch').data('ProductID', oResult.ProductID);
                }
            }
            if (oPickerobj.winid == 'winLot')
            {
                if(oResult.LotID>0)
                {
                    $('#txtLot').val(oResult.LotNo);
                    $('#divKnitDyeingBatch').data('LotID', oResult.LotID);
                }
            }
            $("#" + oPickerobj.winid).icsWindow("close");
            $("#" + oPickerobj.winid).remove();
        }

        $('#btnAdd').click(function(e){
            if($('#cboPTU').val()==0)
            {
                alert("Please Select Any List !!")
                return;
            }
            if(parseInt($('#divKnitDyeingBatch').data('GrayDiaID'))==0)
            {
                alert("Please Select Any Gray Dia !!")
                return;
            }            

            var obj = ICS_FindObject($('#divKnitDyeingBatch').data('PTUTempList'),'KnitDyeingPTUID', $('#cboPTU').val())
            var oKnitDyeingBatchDetails = $('#tblKnitDyeingBatchDetail').datagrid('getRows');
            for(var i=0; i<oKnitDyeingBatchDetails.length; i++)
            {
                if(parseInt(oKnitDyeingBatchDetails[i].KnitDyeingPTUID) == parseInt(obj.KnitDyeingPTUID))
                {
                    alert("Duplicate Entry Not Allow!");
                    return;
                }
            }

            var oTempObj = {
                KnitDyeingBatchDetailID : 0,
                KnitDyeingBatchID : parseInt($('#divKnitDyeingBatch').data('KnitDyeingBatch').KnitDyeingBatchID),
                KnitDyeingPTUID : parseInt(obj.KnitDyeingPTUID),
                FabricTypeID : parseInt(obj.FabricTypeID),
                FabricTypeName : obj.FabricTypeName,
                GrayDiaID : parseInt($('#divKnitDyeingBatch').data('GrayDiaID')),
                GrayDiaName : $('#txtGrayDia').val(),
                RollQty : 0,
                GrayQty : 0,
                ProcessLoss : 0,
                FinishQty : 0,
                FinishDiaID : parseInt(obj.FinishDiaID),
                FinishDiaName : obj.FinishDiaName,
                FinishGSMID : parseInt($('#divKnitDyeingBatch').data('GSMID')),
                FinishGSMName : $('#txtGSM').val(),
                GrayFabricName : obj.CompositionName
            };
            $('#tblKnitDyeingBatchDetail').datagrid('appendRow', oTempObj);
            CancelGrayDia();
        });
        $("#btnClose").click(function () {
            window.location.href = sessionStorage.getItem("BackLink");
        });
        function ValidateInput()
        {
            debugger;
            var oRow = $('#divKnitDyeingBatch').data('KnitDyeingProgram');
            if(oRow == null){
                alert("Style Not Found!!");
                return false;
            }
            //if($('#divKnitDyeingBatch').data('KnitDyeingProgram').RefObjectID <= 0)
            //{
            //    alert("Order Recap Not Found!!");
            //    return false;
            //}
            if($('#divKnitDyeingBatch').data('KnitDyeingProgram').KnitDyeingProgramID <= 0){
                alert("Knit Dyeing Program Not Found!!");
                return false;
            }
            if(parseInt($('#cboColor').val()) <= 0){
                alert("Color Not Found!!");
                return false;
            }
            if(parseInt($('#divKnitDyeingBatch').data('FabricID')) <= 0){
                alert("Fabric Not Found!!");
                return false;
            }
            if(parseInt($('#divKnitDyeingBatch').data('WashID')) <= 0){
                alert("Wash Not Found!!");
                return false;
            }
            if(parseInt($('#divKnitDyeingBatch').data('GSMID')) <= 0){
                alert("GSM Not Found!!");
                return false;
            }
            if(parseInt($('#divKnitDyeingBatch').data('MachineID')) <= 0){
                alert("Machine Not Found!!");
                return false;
            }
            if($('#tblKnitDyeingBatchDetail').datagrid('getRows').length <= 0){
                alert("Please add atleast one Knit Dyeing Batch Detail!!");
                return false;
            }
            if($('#tblbatchYarnLot').datagrid('getRows').length <= 0){
                alert("Please add atleast one Batch Yarn Lot!!");
                return false;
            }

            var oKnitDyeingBatchDetails = $('#tblKnitDyeingBatchDetail').datagrid('getRows');
            for(var i=0; i<oKnitDyeingBatchDetails.length; i++)
            {
                if(parseFloat(oKnitDyeingBatchDetails[i].GrayQty) <=0)
                {
                    alert("Please enter Gray Qty for Gray Fabric : "+ oKnitDyeingBatchDetails[i].GrayFabricName  + ", GSM : "+ oKnitDyeingBatchDetails[i].FinishGSMName  + ", Finish Dia :" + oKnitDyeingBatchDetails[i].FinishDiaName);
                    return;
                }
            }


            return true;
        }

        function RefreshObject()
        {
            debugger;
            var oKnitDyeingBatch = {
                KnitDyeingBatchID : $('#divKnitDyeingBatch').data('KnitDyeingBatch').KnitDyeingBatchID,
                BUID :  sessionStorage.getItem('BUID'),
                KnitDyingProgramID : $('#divKnitDyeingBatch').data('KnitDyeingProgram').KnitDyeingProgramID,
                BatchIssueDate : $('#dBatchIssueDate').datebox('getValue'),
                BatchNo : $('#txtBatchNo').val(),
                RefObjectID : $('#divKnitDyeingBatch').data('KnitDyeingProgram').RefObjectID,
                ColorID : $('#cboColor').val(),
                FabricID : parseInt($('#divKnitDyeingBatch').data('FabricID')),
                WashTypeID : parseInt($('#divKnitDyeingBatch').data('WashID')),
                FinishedGSMID : parseInt($('#divKnitDyeingBatch').data('GSMID')),
                MachineID : parseInt($('#divKnitDyeingBatch').data('MachineID')),
                MUnitID : $('#divKnitDyeingBatch').data('KnitDyeingBatch').MUnitID,
                Remarks : $('#txtRemarks').val(),
                KnitDyeingBatchDetails: $('#tblKnitDyeingBatchDetail').datagrid('getRows'),
                KnitDyeingBatchYarns: $('#tblbatchYarnLot').datagrid('getRows'),
            };
            return oKnitDyeingBatch;
        }
        $("#btnSave").click(function () {
            endEditing();
            if (!ValidateInput()) return;
            var oKnitDyeingBatchDetail= $('#tblKnitDyeingBatchDetail').datagrid('getRows');

            var oKnitDyeingBatch = RefreshObject();
            //console.log(oKnitDyeingBatch);
            //return;
            $.ajax({
                type: "POST",
                dataType: "json",
                url: sessionStorage.getItem("BaseAddress")+  "/KnitDyeingBatch/Save",
                traditional: true,
                data: JSON.stringify(oKnitDyeingBatch),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    oKnitDyeingBatch = jQuery.parseJSON(data);
                    if (oKnitDyeingBatch.KnitDyeingBatchID > 0)
                    {
                        alert("Data Saved sucessfully");
                        var oKnitDyeingBatchs = sessionStorage.getItem("KnitDyeingBatchs");
                        var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                        if (oKnitDyeingBatchs != null) {
                            oKnitDyeingBatchs = jQuery.parseJSON(oKnitDyeingBatchs);
                        }
                        else
                        {
                            oKnitDyeingBatchs = [];
                        }
                        if (nIndex != -1)
                        {
                            oKnitDyeingBatchs[nIndex] = oKnitDyeingBatch;
                        }
                        else
                        {
                            sessionStorage.setItem("SelectedRowIndex", oKnitDyeingBatchs.length);
                            oKnitDyeingBatchs.push(oKnitDyeingBatch);
                        }
                        sessionStorage.setItem("KnitDyeingBatchs", JSON.stringify(oKnitDyeingBatchs));
                        window.location.href = sessionStorage.getItem("BackLink");

                    }
                    else {
                        alert(oKnitDyeingBatch.ErrorMessage);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        });

        $("#btnRemove").click(function () {
            var oKnitDyeingBatchDetail = $('#tblKnitDyeingBatchDetail').datagrid('getSelected');
            if (oKnitDyeingBatchDetail == null) {
                alert("Please select a item from list!");
                return;
            }
            var conf = confirm("Confirm to delete?");
            if (conf == false) return;

            endEditing();
            var SelectedRowIndex = $('#tblKnitDyeingBatchDetail').datagrid('getRowIndex', oKnitDyeingBatchDetail);
            $('#tblKnitDyeingBatchDetail').datagrid('deleteRow', SelectedRowIndex);

            var oKnitDyeingBatchDetails = $('#tblKnitDyeingBatchDetail').datagrid('getRows');
            RefreshList(oKnitDyeingBatchDetails);
        });
        var editIndex = undefined;
        function endEditing() {
            if (editIndex == undefined) { return true }
            if ($('#tblKnitDyeingBatchDetail').datagrid('validateRow', editIndex)) {
                $('#tblKnitDyeingBatchDetail').datagrid('endEdit', editIndex);
                $('#tblKnitDyeingBatchDetail').datagrid('selectRow', editIndex);
                var oKnitDyeingBatchDetail = $('#tblKnitDyeingBatchDetail').datagrid('getSelected');
                $('#tblKnitDyeingBatchDetail').datagrid('updateRow', { index: editIndex, row: oKnitDyeingBatchDetail });
                RefreshSummery();
                editIndex = undefined;
                return true;
            } else {
                return false;
            }
        }
        function onClickRow(index)
        {
            if (editIndex != index) {
                if (endEditing()) {
                    $('#tblKnitDyeingBatchDetail').datagrid('selectRow', index)
                            .datagrid('beginEdit', index);
                    editIndex = index;
                } else {
                    $('#tblKnitDyeingBatchDetail').datagrid('selectRow', editIndex);
                }
            }
        }
        function RefreshSummery() {
            debugger;
            var oList = $('#tblKnitDyeingBatchDetail').datagrid('getRows');
            var oFooterObject = {
                GrayDiaName : 'Total :',
                RollQty: ICS_ListSum(oList,"RollQty"),
                GrayQty: ICS_ListSum(oList,"GrayQty"),
                ProcessLoss: ICS_ListSum(oList,"ProcessLoss"),
                FinishQty: ICS_ListSum(oList,"FinishQty")
            };
            $('#tblKnitDyeingBatchDetail').datagrid('reloadFooter',[oFooterObject]);
        }
        //*****************************************Batch Yarn**************************************//
        function RefreshModal()
        {
            $('#txtComposition').val('');
            $('#txtLot').val('');
            $('#txtYarnRemarks').val('');
        }
        $('#btnYarnAdd').click(function(e){
            bIsEdit= false;
            $('#winAdd').icsWindow('open');
        });

        $('#btnYarnEdit').click(function(e){
            var oRow = $('#tblbatchYarnLot').datagrid('getSelected');
            if (oRow == null) {
                alert("Please select a item from list!");
                return;
            }
            bIsEdit= true;
            ResetKnitDyeingBatchYarn();
            $('#divKnitDyeingBatch').data('ProductID',oRow.CompositionID);
            $('#divKnitDyeingBatch').data('LotID',oRow.LotID);
            $('#txtComposition').val(oRow.CompositionName);
            $('#txtLot').val(oRow.LotNo);
            $('#txtYarnRemarks').val(oRow.Remarks);
            $('#winAdd').icsWindow('open');
        });

        $('#btnCloseYarn').click(function(e){
            $('#winAdd').icsWindow('close');
        });

        $('#btnSaveYarn').click(function(e){
            if($('#divKnitDyeingBatch').data('ProductID')==0)
            {
                alert("Please Select Product!!")
                return;
            }
            if($('#divKnitDyeingBatch').data('LotID')==0)
            {
                alert("Please Select Lot!!")
                return;
            }
            var oTempObj = {
                KnitDyeingBatchYarnID : 0,
                KnitDyeingBatchID : $('#divKnitDyeingBatch').data('KnitDyeingBatch').KnitDyeingBatchID,
                CompositionID: $('#divKnitDyeingBatch').data('ProductID'),
                CompositionName : $('#txtComposition').val(),
                LotID: $('#divKnitDyeingBatch').data('LotID'),
                LotNo : $('#txtLot').val(),
                Remarks : $('#txtYarnRemarks').val()
            }
            if(bIsEdit)
                $('#tblbatchYarnLot').datagrid('updateRow', { index: $('#tblbatchYarnLot').datagrid('getRowIndex', $('#tblbatchYarnLot').datagrid('getSelected')), row: oTempObj });            
            else
                $('#tblbatchYarnLot').datagrid('appendRow', oTempObj);
            $('#winAdd').icsWindow('close');
            ResetKnitDyeingBatchYarn();
        });

        function ResetKnitDyeingBatchYarn(){
            $('#divKnitDyeingBatch').data('ProductID',0);
            $('#divKnitDyeingBatch').data('LotID',0);
            $('#txtComposition').val("");
            $('#txtLot').val("");
            $('#txtYarnRemarks').val("");
        }

        $("#btnYarnRemove").click(function () {
            var oRow = $('#tblbatchYarnLot').datagrid('getSelected');
            if (oRow == null) {
                alert("Please select a item from list!");
                return;
            }
            var conf = confirm("Confirm to delete?");
            if (conf == false) return;
            var SelectedRowIndex = $('#tblbatchYarnLot').datagrid('getRowIndex', oRow);
            $('#tblbatchYarnLot').datagrid('deleteRow', SelectedRowIndex);
        });
        //*****************************************************************************************//
    </script>
