@{
    ViewBag.Title = "Requisition List";
}
@model IEnumerable<ESimSol.BusinessObjects.FabricExecutionOrderYarnReceive>

<div id="winAdvanceSearchPicker" class="easyui-window winstyle" title="Advance Search Picker" style="width:480px; height:350px" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
    <div style="font-family:Tahoma">

        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td style="width:480px">
                    <table border="0" cellpadding="2" cellspacing="2" style="font-size:12px">
                        <tr style="">
                            <td style="width:480px;">
                                <fieldset style="height:240px;">
                                    <legend style="font-weight:bold; font-size:12px"> Searching Criteria : </legend>
                                    <table border="0" cellpadding="2" cellspacing="2" style=" width:400px; font-size:12px">

                                        <tr style=" width:400px;vertical-align:top;">
                                            <td style="width:110px;float:right;">
                                                <label>Dispo No :</label>
                                            </td>
                                            <td style=" width:290px;">
                                                <input type="text" id="txtDispoNo" style="width:100%" />
                                            </td>
                                        </tr>
                                        <tr style=" width:400px;vertical-align:top;">
                                            <td style="width:110px;float:right;">
                                                <label>Req. No :</label>
                                            </td>
                                            <td style=" width:290px;">
                                                <input type="text" id="txtReqNo" style="width:100%" />
                                            </td>
                                        </tr>
                                        <tr style=" width:400px;vertical-align:top;">
                                            <td style="width:110px;float:right;">
                                                <label>Req.  Date :</label>
                                            </td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td style=" width:86px;"><select id="cboIssueDate" style=" width:86px;height:22px;" onchange="DateActionsIssueDate();"></select> </td>
                                                        <td style="width: 99px;"><input id="txtIssueDateStart" type="text" style="width: 99px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                        <td style="width: 6px;text-align:center"><label id="lblTo">To</label></td>
                                                        <td style="width: 99px;"><input id="txtIssueDateEnd" type="text" style="width: 99px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>

                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr style=" width:400px;vertical-align:top;">
                                            <td style="width:110px;float:right;">
                                                <label>Received Date :</label>
                                            </td>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td style=" width:86px;"><select id="cboReceived" style=" width:86px;height:22px;" onchange="DateActionsReceived();"></select> </td>
                                                        <td style="width: 99px;"><input id="txtReceivedDateStart" type="text" style="width: 99px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                        <td style="width: 6px;text-align:center"><label id="lblTo">To</label></td>
                                                        <td style="width: 99px;"><input id="txtReceivedDateEnd" type="text" style="width: 99px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>

                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr style=" width:400px;vertical-align:top;">
                                            <td style="width:110px;float:right;">
                                                <label>Waiting For Rcv :</label>
                                            </td>
                                            <td style=" width:290px;">
                                                <input type="checkbox" id="chkWaitingForReceive"  />
                                            </td>
                                        </tr>

                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                        <tr style="height:35px">
                            <td style="width:480px">
                                <fieldset>
                                    <legend style="font-weight:bold; font-size:12px"> Action : </legend>
                                    <table border="0" cellpadding="0" cellspacing="0" style=" width:400px; font-size:12px">
                                        <tr style="height:30px; vertical-align:bottom">
                                            <td style="">
                                                <label id="lvlMsg" style="color:red;font-size:15px;">Loading... Please Wait</label>
                                            </td>
                                            <td style="text-align:right;">
                                                <a id="btnRefreshForAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                                                <a id="btnCloseForAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>

<div id="winUpdate" class="easyui-window winstyle" title="Update information" style="width:780px; height:350px" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
<div style="font-family:Tahoma">
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td style="width:780px">
                <table border="0" cellpadding="2" cellspacing="2" style="font-size:12px">
                    <tr style="">
                        <td style="width:780px;">
                            <fieldset style="height:240px;">
                                <legend style="font-weight:bold; font-size:12px"> Requisition Detail : </legend>
                                <table border="0" cellpadding="2" cellspacing="2" style=" width:700px; font-size:12px">

                                    <tr style=" width:700px;vertical-align:top;">
                                        <td style="width:130px;float:right;text-align:right">
                                            <label>Dispo No :</label>
                                        </td>
                                        <td style=" width:220px;">
                                            <input type="text" id="txtDispoNoForUpdate" style="width:100%" disabled />
                                        </td>
                                        <td style="width:130px;float:right;text-align:right">
                                            <label>Batch No :</label>
                                        </td>
                                        <td style=" width:220px;">
                                            <input type="text" id="txtBatchNoForUpdate" style="width:100%" disabled />
                                        </td>
                                    </tr>
                                    <tr style=" width:700px;vertical-align:top;">
                                        <td style="width:130px;float:right;text-align:right">
                                            <label>Color :</label>
                                        </td>
                                        <td style=" width:220px;">
                                            <input type="text" id="txtColorForUpdate" style="width:100%" disabled />
                                        </td>
                                        <td style="width:130px;float:right;text-align:right">
                                            <label>Buyer :</label>
                                        </td>
                                        <td style=" width:220px;">
                                            <input type="text" id="txtBuyerForUpdate" style="width:100%" disabled />
                                        </td>
                                    </tr>
                                    <tr style=" width:700px;vertical-align:top;">
                                        <td style="width:130px;float:right;text-align:right">
                                            <label>Count :</label>
                                        </td>
                                        <td colspan="3" style=" width:570px;">
                                            <input type="text" id="txtCountNoForUpdate" style="width:100%" disabled />
                                        </td>
                                    </tr>
                                    <tr style=" width:700px;vertical-align:top;">
                                        <td style="width:130px;float:right;text-align:right">
                                            <label>Qty :</label>
                                        </td>
                                        <td style=" width:220px;">
                                            <input type="text" id="txtQtyForUpdate" class="number" style="width:100%"  />
                                        </td>
                                        <td style="width:130px;float:right;text-align:right">
                                            <label>Bag No :</label>
                                        </td>
                                        <td style=" width:220px;">
                                            <input type="text" id="txtNumberOfConeForUpdate" class="number" style="width:100%" />
                                        </td>
                                    </tr>
                                    <tr style=" width:700px;vertical-align:top;">
                                        <td style="width:130px;float:right;text-align:right">
                                            <label>Beam No :</label>
                                        </td>
                                        <td style=" width:220px;">
                                            <input type="text" id="txtBeamNoForUpdate" style="width:100%" />
                                        </td>
                                        <td style="width:130px;float:right;text-align:right">
                                        </td>
                                        <td style=" width:220px;">
                                        </td>
                                    </tr>

                                </table>
                            </fieldset>
                        </td>
                    </tr>
                    <tr style="height:35px">
                        <td style="width:780px">
                            <fieldset>
                                <legend style="font-weight:bold; font-size:12px"> Action : </legend>
                                <table border="0" cellpadding="0" cellspacing="0" style=" width:700px; font-size:12px">
                                    <tr style="height:30px; vertical-align:bottom">
                                        <td style="width:500px;">
                                        </td>
                                        <td style="text-align:right;">
                                            <a id="btnRcvForUpdate" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Receive</a>
                                            <a id="btnSaveForUpdate" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                                            <a id="btnCloseForUpdate" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</div>

<div class="menuMainCollectionTable" style="height:100%;" id="regionFabricExecutionOrderYarnReceive">
    <table id="tblFabricExecutionOrderYarnReceives" title="Requisition List" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar" data-options="" showfooter="true">
        <thead>
            <tr>
                <th field="DispoNo" width="10%">Dispo No</th>
                <th field="RequisitionNo" width="10%">Req. No</th>
                <th field="ProductName" width="20%">Count</th>
                <th field="LotNo" width="10%">Batch No</th>
                <th field="ColorName" width="10%">Color</th>
                <th field="BuyerName" width="15%">Buyer</th>
                <th data-options="field:'ReceiveQty',width:100,align:'right'" formatter="formatPrice" align="right">Qty</th>

                <th field="NumberOfCone" align="right" width="8%">Bag No</th>
                <th field="BeamNo" width="8%" >Beam No</th>

                <th field="IssueDateInStr" width="10%">Requisition Date</th>
                <th field="IssueByName" width="10%">Issue By</th>
                <th field="ReceiveDateInStr" width="10%">ReceiveDate</th>
                <th field="ReceiveByName" width="10%">Receive By</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <input type="text" id="txtExeNo" placeholder="Type Dispo No & Press Enter" style="width: 120px;" />
        <input type="text" id="txtBatchNo" placeholder="Type Batch No & Press Enter" style="width: 120px;" />
        <input type="text" id="txtRequisitionnNo" placeholder="Type Req. No & Press Enter" style="width: 120px;" />
        @*<a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>*@
        <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
        @*<a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>*@
        <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
        <a id="btnPrintList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print List</a>
        <a id="btnPrintListExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export XL</a>
        
    </div>
</div>

<script type="text/javascript">
    debugger;
    var _oFabricExecutionOrderYarnReceives=[];
    var _sBaseAddress="";
    var _nBUID = 0;
    $(document).ready(function () {
        debugger;
        _oFabricExecutionOrderYarnReceives =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.buid));
        DynamicRefreshList(_oFabricExecutionOrderYarnReceives,'tblFabricExecutionOrderYarnReceives');
        $.icsMakeFooterColumn('tblFabricExecutionOrderYarnReceives',['DispoNo','ReceiveQty','NumberOfCone']);
        //Adv search
        $("#lvlMsg").hide();
        $('#txtReceivedDateStart').datebox({ disabled : true });
        $('#txtReceivedDateEnd').datebox({ disabled : true });
        $('#txtIssueDateStart').datebox({ disabled : true });
        $('#txtIssueDateEnd').datebox({ disabled : true });
        $('#txtReceivedDateStart').datebox('setValue',icsdateformat(new Date()));
        $('#txtReceivedDateEnd').datebox('setValue',icsdateformat(new Date()));
        $('#txtIssueDateStart').datebox('setValue',icsdateformat(new Date()));
        $('#txtIssueDateEnd').datebox('setValue',icsdateformat(new Date()));
        var _oCompareOperators =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        $("#cboReceived,#cboIssueDate").icsLoadCombo({List:_oCompareOperators,OptionValue: "id",DisplayText: "Value",});
    });

    $("#btnRefresh").click(function ()
    {
        var oFabricExecutionOrderYarnReceives = $('#tblFabricExecutionOrderYarnReceives').datagrid('getRows');
        DynamicRefreshList(oFabricExecutionOrderYarnReceives,'tblFabricExecutionOrderYarnReceives');
        $.icsMakeFooterColumn('tblFabricExecutionOrderYarnReceives',['DispoNo','ReceiveQty','NumberOfCone']);
    });

    $("#btnAdvSearch").click(function(){
        ResetAdvSearchWindow();
        $("#winAdvanceSearchPicker").icsWindow('open', "Advance Search");
    });

    function ResetAdvSearchWindow() {
        $("#txtDispoNo").val("");
        $("#txtReqNo").val("");
        $("#cboReceived").val("");
        $("#cboIssueDate").val("");
        $('#txtReceivedDateStart').datebox({ disabled : true });
        $('#txtReceivedDateEnd').datebox({ disabled : true });
        $('#txtIssueDateStart').datebox({ disabled : true });
        $('#txtIssueDateEnd').datebox({ disabled : true });
        $('#txtReceivedDateStart').datebox('setValue',icsdateformat(new Date()));
        $('#txtReceivedDateEnd').datebox('setValue',icsdateformat(new Date()));
        $('#txtIssueDateStart').datebox('setValue',icsdateformat(new Date()));
        $('#txtIssueDateEnd').datebox('setValue',icsdateformat(new Date()));
    }
    $('#cboIssueDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboIssueDate').val());
        if(nCompareOperator===0)
        {
            $('#txtIssueDateStart').datebox({ disabled : true });
            $('#txtIssueDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtIssueDateStart').datebox({ disabled : false });
            $('#txtIssueDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtIssueDateStart').datebox({ disabled : false });
            $('#txtIssueDateEnd').datebox({ disabled : false });
        }
        $('#txtIssueDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtIssueDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboReceived').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboReceived').val());
        if(nCompareOperator===0)
        {
            $('#txtReceivedDateStart').datebox({ disabled : true });
            $('#txtReceivedDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtReceivedDateStart').datebox({ disabled : false });
            $('#txtReceivedDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtReceivedDateStart').datebox({ disabled : false });
            $('#txtReceivedDateEnd').datebox({ disabled : false });
        }
        $('#txtReceivedDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtReceivedDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#btnCloseForAdvSearch').click(function(e) {
        $("#winAdvanceSearchPicker").icsWindow('close');
    });

    $('#btnRefreshForAdvSearch').click(function(){
        debugger;
        var sDispoNo = $("#txtDispoNo").val();
        var sReqNo = $("#txtReqNo").val();
        var nIssueDate = parseInt($("#cboIssueDate").val());
        var dIssueDateStart = $('#txtIssueDateStart').datebox('getValue');
        var dIssueDateEnd = $('#txtIssueDateEnd').datebox('getValue');

        var nReceived = parseInt($("#cboReceived").val());
        var dReceivedDateStart = $('#txtReceivedDateStart').datebox('getValue');
        var dReceivedDateEnd = $('#txtReceivedDateEnd').datebox('getValue')

        var bWaitingForReceive = false;
        if($('#chkWaitingForReceive').attr("checked"))
        {
            bWaitingForReceive=true;
        }

        if(sDispoNo == "" && nIssueDate <= 0 && nReceived <= 0 && bWaitingForReceive == false && sReqNo == ""){
            alert("Please enter Atleast one searching criteria!!!");
            return false;
        }

        var sTempString = sDispoNo+'~'+nIssueDate + '~' + dIssueDateStart+'~'+dIssueDateEnd + '~' + nReceived+ '~' + dReceivedDateStart+'~'+dReceivedDateEnd+'~'+bWaitingForReceive + '~' + sReqNo + '~' + "";

        var oDispoHW = {
            ErrorMessage: sTempString
        }
        $("#lvlMsg").show();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/WYRequisition/GetsData",
            traditional: true,
            data:  JSON.stringify(oDispoHW),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                //var oDispoHWs = jQuery.parseJSON(data);
                var result = data;
                if(result.length<=0){
                    alert("No data found");
                    $("#lvlMsg").hide();
                }
                else{
                    DynamicRefreshList(result, "tblFabricExecutionOrderYarnReceives");
                    $.icsMakeFooterColumn('tblFabricExecutionOrderYarnReceives',['DispoNo','ReceiveQty','NumberOfCone']);
                    $("#lvlMsg").hide();
                    $("#winAdvanceSearchPicker").icsWindow('close');
                }

            },
            error: function (xhr, status, error) {
                alert(error);
                $("#lvlMsg").hide();
            }
        });

    });

    $('#txtExeNo').keypress(function (e)
    {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) {
            var txtExeNo = document.getElementById('txtExeNo').value;
            if(txtExeNo==""){
                alert("Please enter Dispo No!!!");
                return false;
            }
            else{
                var sTempString = txtExeNo+'~'+0 + '~' + icsdateformat(new Date())+'~'+icsdateformat(new Date()) + '~' + 0+ '~' + icsdateformat(new Date())+'~'+icsdateformat(new Date())+'~'+false+'~'+""+'~'+"";

                var oDispoHW = {
                    ErrorMessage: sTempString
                }

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url : _sBaseAddress+  "/WYRequisition/GetsData",
                    traditional: true,
                    data:  JSON.stringify(oDispoHW),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        debugger;
                        //var oDispoHWs = jQuery.parseJSON(data);
                        var result = data;
                        if(result.length<=0){
                            alert("No data found");
                        }
                        else{
                            DynamicRefreshList(result, "tblFabricExecutionOrderYarnReceives");
                            $.icsMakeFooterColumn('tblFabricExecutionOrderYarnReceives',['DispoNo','ReceiveQty','NumberOfCone']);
                            $("#winAdvanceSearchPicker").icsWindow('close');
                        }

                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });

            }
        }

    });

    $('#txtBatchNo').keypress(function (e)
    {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) {
            var txtBatchNo = document.getElementById('txtBatchNo').value;
            if(txtBatchNo==""){
                alert("Please enter Batch No!!!");
                return false;
            }
            else{
                var sTempString = ""+'~'+0 + '~' + icsdateformat(new Date())+'~'+icsdateformat(new Date()) + '~' + 0+ '~' + icsdateformat(new Date())+'~'+icsdateformat(new Date())+'~'+false+'~'+""+'~'+txtBatchNo;

                var oDispoHW = {
                    ErrorMessage: sTempString
                }

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url : _sBaseAddress+  "/WYRequisition/GetsData",
                    traditional: true,
                    data:  JSON.stringify(oDispoHW),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        debugger;
                        //var oDispoHWs = jQuery.parseJSON(data);
                        var result = data;
                        if(result.length<=0){
                            alert("No data found");
                        }
                        else{
                            DynamicRefreshList(result, "tblFabricExecutionOrderYarnReceives");
                            $.icsMakeFooterColumn('tblFabricExecutionOrderYarnReceives',['DispoNo','ReceiveQty','NumberOfCone']);
                            $("#winAdvanceSearchPicker").icsWindow('close');
                        }

                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });

            }
        }

    });

    $('#txtRequisitionnNo').keypress(function (e)
    {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) {
            var txtRequisitionnNo = document.getElementById('txtRequisitionnNo').value;
            if(txtRequisitionnNo==""){
                alert("Please enter Req. No!!!");
                return false;
            }
            else{
                var sTempString = ""+'~'+0 + '~' + icsdateformat(new Date())+'~'+icsdateformat(new Date()) + '~' + 0+ '~' + icsdateformat(new Date())+'~'+icsdateformat(new Date())+'~'+false+'~'+txtRequisitionnNo+'~'+"";

                var oDispoHW = {
                    ErrorMessage: sTempString
                }

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url : _sBaseAddress+  "/WYRequisition/GetsData",
                    traditional: true,
                    data:  JSON.stringify(oDispoHW),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        debugger;
                        //var oDispoHWs = jQuery.parseJSON(data);
                        var result = data;
                        if(result.length<=0){
                            alert("No data found");
                        }
                        else{
                            DynamicRefreshList(result, "tblFabricExecutionOrderYarnReceives");
                            $.icsMakeFooterColumn('tblFabricExecutionOrderYarnReceives',['DispoNo','ReceiveQty','NumberOfCone']);
                            $("#winAdvanceSearchPicker").icsWindow('close');
                        }

                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });

            }
        }

    });

    $('#btnCloseForUpdate').click(function(e) {
        $("#winUpdate").icsWindow('close');
    });

    $('#tblFabricExecutionOrderYarnReceives').datagrid({
        onDblClickRow: function(index,row){
            if(row.FEOYID <= 0){
                alert("Please enter a valid item!!");
                return;
            }
            if(row.ReceiveBy != 0){
                $("#btnSaveForUpdate,#btnRcvForUpdate").hide();
            }else{
                $("#btnSaveForUpdate,#btnRcvForUpdate").show();
            }
            $("#txtDispoNoForUpdate").val(row.DispoNo);
            $("#txtBatchNoForUpdate").val(row.LotNo);
            $("#txtColorForUpdate").val(row.ColorName);
            $("#txtBuyerForUpdate").val(row.BuyerName);
            $("#txtCountNoForUpdate").val(row.ProductName);
            $("#txtQtyForUpdate").val(row.ReceiveQty);
            $("#txtNumberOfConeForUpdate").val(row.NumberOfCone);
            $("#txtBeamNoForUpdate").val(row.BeamNo);
            $("#winUpdate").icsWindow('open', "Update Information");
        }
    });

    $("#btnSaveForUpdate").click(function (){
        debugger;
        var oRow=$('#tblFabricExecutionOrderYarnReceives').datagrid('getSelected');
        if(oRow.ReceiveBy > 0){
            alert("Already Received!!");
            return;
        }
        if(parseFloat($("#txtQtyForUpdate").val()) <= 0){
            alert("Please enter Qty!!");
            $("#txtQtyForUpdate").focus();
            return;
        }
        var nSelectedIndex = $('#tblFabricExecutionOrderYarnReceives').datagrid('getRowIndex', oRow);
        oRow.ReceiveQty = parseFloat($("#txtQtyForUpdate").val());
        oRow.NumberOfCone = parseFloat($("#txtNumberOfConeForUpdate").val());
        oRow.BeamNo = $("#txtBeamNoForUpdate").val();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/WYRequisition/UpdateData",
            traditional: true,
            data:  JSON.stringify(oRow),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var oFEOYR = jQuery.parseJSON(data);
                if (oFEOYR.ErrorMessage==null || oFEOYR.ErrorMessage=="") {
                    alert("Data Saved successfully");
                    $("#txtDispoNoForUpdate").val(oFEOYR.DispoNo);
                    $("#txtBatchNoForUpdate").val(oFEOYR.LotNo);
                    $("#txtColorForUpdate").val(oFEOYR.ColorName);
                    $("#txtBuyerForUpdate").val(oFEOYR.BuyerName);
                    $("#txtCountNoForUpdate").val(oFEOYR.ProductName);
                    $("#txtQtyForUpdate").val(oFEOYR.ReceiveQty);
                    $("#txtNumberOfConeForUpdate").val(oFEOYR.NumberOfCone);
                    $("#txtBeamNoForUpdate").val(oFEOYR.BeamNo);
                    $('#tblFabricExecutionOrderYarnReceives').datagrid('updateRow',{index:nSelectedIndex, row : oFEOYR});
                }
                else {
                    alert(oFEOYR.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });

    $('#btnRcvForUpdate').click(function(e){
        debugger
        var oFEOY = $('#tblFabricExecutionOrderYarnReceives').datagrid('getSelected');
        if (oFEOY ==null || oFEOY.FEOYID <=0 ) { alert("Please select a valid item from list."); return ; }
        if(parseFloat(oFEOY.ReceiveQty) <= 0){
            alert("Please enter Qty!!");
            $("#txtQtyForUpdate").focus();
            return;
        }
        var nRowIndex=$('#tblFabricExecutionOrderYarnReceives').datagrid('getRowIndex',oFEOY);

        $.ajax({
            type: "POST",
            url: _sBaseAddress + "/WYRequisition/ReceiveFEOY",
            traditional: true,
            data: JSON.stringify(oFEOY),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oFEOY = jQuery.parseJSON(data);
                if(oFEOY.FEOYID > 0){
                    alert("Received Succesfully!!");
                    $("#btnSaveForUpdate,#btnRcvForUpdate").hide();
                    $('#tblFabricExecutionOrderYarnReceives').datagrid('updateRow',{index:nRowIndex, row : oFEOY});
                }
                else{
                    alert(oFEOY.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });

    $('#btnPrintList').click(function(){
        var oFabricExecutionOrderYarnReceives= $('#tblFabricExecutionOrderYarnReceives').datagrid('getRows');
        if(oFabricExecutionOrderYarnReceives.length<=0)
        {
            alert("Data not found ");
            return;
        }
        var sFabricExecutionOrderYarnReceiveIDs = "";
        for(var i = 0;i<oFabricExecutionOrderYarnReceives.length;i++)
        {
            sFabricExecutionOrderYarnReceiveIDs+= oFabricExecutionOrderYarnReceives[i].FEOYID+",";
        }
        sFabricExecutionOrderYarnReceiveIDs = sFabricExecutionOrderYarnReceiveIDs.substring(0, sFabricExecutionOrderYarnReceiveIDs.length-1);
        var oFabricExecutionOrderYarnReceive = {ErrorMessage:sFabricExecutionOrderYarnReceiveIDs, BUID: _nBUID};
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/WYRequisition/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oFabricExecutionOrderYarnReceive),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful")
                {
                    window.open (_sBaseAddress+ "/WYRequisition/PrintFabricExecutionOrderYarnReceiveList");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });

    $('#btnPrintListExcel').click(function(){
        var oFabricExecutionOrderYarnReceives= $('#tblFabricExecutionOrderYarnReceives').datagrid('getRows');
        if(oFabricExecutionOrderYarnReceives.length<=0)
        {
            alert("Data not found ");
            return;
        }
        var sFabricExecutionOrderYarnReceiveIDs = "";
        for(var i = 0;i<oFabricExecutionOrderYarnReceives.length;i++)
        {
            sFabricExecutionOrderYarnReceiveIDs+= oFabricExecutionOrderYarnReceives[i].FEOYID+",";
        }
        sFabricExecutionOrderYarnReceiveIDs = sFabricExecutionOrderYarnReceiveIDs.substring(0, sFabricExecutionOrderYarnReceiveIDs.length-1);
        var oFabricExecutionOrderYarnReceive = {ErrorMessage:sFabricExecutionOrderYarnReceiveIDs, BUID: _nBUID};
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/WYRequisition/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oFabricExecutionOrderYarnReceive),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful")
                {
                    window.open (_sBaseAddress+ "/WYRequisition/ExcelFabricExecutionOrderYarnReceiveList");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });

    $('#btnPreview').click(function (e)
    {
        var oRow = $('#tblFabricExecutionOrderYarnReceives').datagrid('getSelected');
        if (oRow ==null || oRow.WYRequisitionID <=0 ) { alert("Please select an item from list."); return ; }
        window.open(_sBaseAddress+'/WYRequisition/WYRequisitionPreview?nWYRequisitionID='+oRow.WYRequisitionID+'&nBUID='+_nBUID);
    });

</script>
