@{
    ViewBag.Title = "Comment List";
}
@model IEnumerable<ESimSol.BusinessObjects.DispoProductionComment>
    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>

    <div class="menuMainCollectionTable" id="regionDispoProductionComment" style="height:90%;width:100%;">
        <table id="tblDispoProductionComments" title="Comment List" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="ExeNo" width="12%">Dispo No</th>
                    <th field="Comment" width="55%">Comment</th>
                    <th field="CommentDateInString" width="15%">Date</th>
                    <th field="UserName" width="15%">Commented By</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
            <a id="btnAddAttachment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add Attachment</a>
            <a id="btnCommentViewr" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Comment Viewer</a>
            <a id="btnImageView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Image</a>
        </div>
    </div>
    <fieldset style="height:10%">
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                <tr>
                    <td style="width:60%; text-align:right"></td>
                    <td style="width:40%;text-align:right;">
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>

    <div id="winAdvSearch" class="easyui-window winClass" style=" width:500px;" title=" adv. search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <table style="width:100%;">
                <tr>
                    <td>
                        <fieldset style="margin-bottom: 0px;">
                            <legend>Searching Criteria</legend>
                            <table>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Comment : </label>
                                    </td>
                                    <td colspan="3" style="width:80%;text-align:left;">
                                        <input id="txtCommentAdv" type="text" style="width:98%" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Date : </label>
                                    </td>
                                    <td colspan="3">
                                        <select id="cboCommentDateAdv" style="width:30%;height:22px;" onchange="DateActions_CommentDateAdv(); "></select>
                                        <input id="txtFromCommentDateAdv" type="text" style="width: 31%;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                        <input id="txtToCommentDateAdv" type="text" style="width: 31%;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Seen/Unseen : </label>
                                    </td>
                                    <td colspan="3" style="width:80%;text-align:left;">
                                        <select id="cboSeenUnseenAdv" style="width:98%;height:22px;">
                                            <option value="0">Seen</option><option value="2">Unseen</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>User : </label>
                                    </td>
                                    <td colspan="3" style="width:80%;text-align:left;">
                                        <input id="txtUserAdv" type="text" style="width:79%" onkeydown="SearchUserAdv(event)" />
                                        <a id="btnUserAdv" href="javascript:void(0)" style="width:18%" class="easyui-linkbutton" onclick="PickUserAdv('')" iconcls="icon-search" plain="true">Pick</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="5px" colspan="4"></td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                </tr>
            </table>

            <fieldset class="actionfieldsetstyle">
                <legend>Actions : </legend>
                <label class="lblLoadingMessage" style="float: left;">Loading Please Wait...</label>
                <a id="btnSearchAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                <a id="btnCloseAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
            </fieldset>
        </div>

    <script type="text/javascript">
    debugger;
    var _oDispoProductionComment=null;
    var _oDispoProductionComments=[];
    var _sBaseAddress="";
    var _oFabricSalesContractDetail = {};
    var _oCompareOperators=[];
    $(document).ready(function () {
        debugger;
        _oDispoProductionComments =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        RefreshList(_oDispoProductionComments);
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
        $('#txtUserAdv').data("UserIDs","");
    });

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }
    function RefreshList(oDispoProductionComments)
    {
        debugger;
        var data=oDispoProductionComments;
        data={"total":""+data.length+"","rows":data};
        $('#tblDispoProductionComments').datagrid('loadData',data);
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        $('#tblDispoProductionComments').datagrid('selectRow',nIndex);
    }
    $("#btnClose").click(function () {
        var win = window.open("","_self");
        win.close();
    })

    function SearchUserAdv(e)
    {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13)
        {
            PickUserAdv($.trim($("#txtUserAdv").val()));
        }
        else if(code==08)
        {
            $('#txtUserAdv').data("UserIDs","");
            document.getElementById("txtUserAdv").style.fontWeight = "normal";
        }
    };
    function PickUserAdv(sUser)
    {
        var oUser = {
            UserName: $.trim(sUser)
        };
        var obj = {
            BaseAddress:_sBaseAddress,
            Object: oUser,
            ControllerName: "User", 
            ActionName: "GetUesrsByName",
            IsWinClose: false
        };
        var tblColums = [];
        var oColumn = { field: "UserName", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);

        var oPickerParam = {
            winid: 'winUserAdv',
            winclass: 'clsUserAdv',
            winwidth: 300,
            winheight: 460,
            tableid: 'tblUserAdv',
            tablecolumns: tblColums,
            multiplereturn: true,
            searchingbyfieldName: 'UserName',
            windowTittle: 'User List',
            paramObj: obj,
            pkID: 'UserID',
            callBack: SetUserAdv
        };
        $.icsDynamicPicker(oPickerParam);
    }
    function SetUserAdv(result) 
    {
        if(result.length > 0){
            if(result.length == 1)
                $('#txtUserAdv').val(result[0].UserName);
            else
                $('#txtUserAdv').val(result.length + " User(s) Selected")
            var sIDs = "";
            for(var i=0;i<result.length;i++)
                sIDs += result[i].UserID + ",";
            if(sIDs.length > 0) sIDs = sIDs.substring(0,sIDs.length-1);
            $('#txtUserAdv').data("UserIDs",sIDs);
            document.getElementById("txtUserAdv").style.fontWeight = "bold";
        }
        
    }

    $("#btnCloseAdvSearch").click(function () {
        $("#winAdvSearch").icsWindow("close");
    });
    function ResetAdvSearchWindow() {
        $(".lblLoadingMessage").hide();
        $("#winAdvSearch input").not("input[type='button']").val("");
        $("#cboCommentDateAdv").icsLoadCombo({List: _oCompareOperators, OptionValue: "id", DisplayText: "Value"});
        $("#winAdvSearch select").val(0);
        $("#txtCommentAdv,#txtUserAdv").val("");
        $("#txtFromCommentDateAdv,#txtToCommentDateAdv").datebox({ disabled: true });
        $("#txtFromCommentDateAdv,#txtToCommentDateAdv").datebox("setValue", icsdateformat(new Date()));
        $('#txtUserAdv').data("UserIDs","");
    }
    function DateActions_CommentDateAdv() {
        DynamicDateActions("cboCommentDateAdv", "txtFromCommentDateAdv", "txtToCommentDateAdv");
    }
    $("#btnAdvSearch").click(function () {
        debugger;
        ResetAdvSearchWindow();
        $("#winAdvSearch").icsWindow("open", " Advance Search");
    });

    $("#btnSearchAdvSearch").click(function () {
        debugger;
        var sCommentAdv = $.trim($("#txtCommentAdv").val());
        var nCommentDateAdv = parseInt($("#cboCommentDateAdv").val());
        var dFromCommentDateAdv = $('#txtFromCommentDateAdv').datebox('getValue');
        var dToCommentDateAdv = $('#txtToCommentDateAdv').datebox('getValue');
        var nSeenUnseenAdv = parseInt($("#cboSeenUnseenAdv").val());
        var sUserIDs=$('#txtUserAdv').data("UserIDs");
        debugger;
        var sParams =   sCommentAdv + "~" +
                        nCommentDateAdv + "~" +
                        dFromCommentDateAdv + "~" +
                        dToCommentDateAdv + "~" +
                        nSeenUnseenAdv + "~" +
                        sUserIDs;

        //sessionStorage.setItem("ParamsSO", sParams);
        //$("#regionFabricBatchProduction").data("AdvSearcParams",sParams);
        var oDPC = {
            ErrorMessage : sParams
        };
        
        $(".lblLoadingMessage").show();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/DispoProduction/CommentAdvSearch",
            traditional: true,
            data: JSON.stringify(oDPC),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oFBPs = data;
                debugger;
                if (oFBPs.length > 0)
                {
                    if (oFBPs[0].ErrorMessage=='' || oFBPs[0].ErrorMessage==null)
                    {
                        RefreshList(oFBPs);
                        $("#winAdvSearch").icsWindow("close");
                    }
                    else
                    {
                        alert(oFBPs[0].ErrorMessage);
                    }

                }else {
                    alert("Sorry, No data found. ");
                }
                $(".lblLoadingMessage").hide();
            }
        });
    });

    $("#btnAddAttachment").click(function ()
    {
        var oComment= $('#tblDispoProductionComments').datagrid('getSelected');
        if(oComment == null || oComment.DispoProductionCommentID <= 0){
            alert("Please Select a Comment!!");
            return;
        }
        window.open(_sBaseAddress + '/DispoProduction/ViewDispoProductionAttachments?nDispoProductionCommentID='+ oComment.DispoProductionCommentID, "_blank");
    });

    $("#btnCommentViewr").click(function ()
    {
        var oComment= $('#tblDispoProductionComments').datagrid('getSelected');
        if(oComment == null || oComment.DispoProductionCommentID <= 0){
            alert("Please Select a Comment!!");
            return;
        }
        var nts = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress+ "/DispoProduction/PrintCommentViewr?nFSCDID="+oComment.FSCDID+"&nts="+nts, "_blank");
    });

    $("#btnImageView").click(function ()
    {
        var oComment= $('#tblDispoProductionComments').datagrid('getSelected');
        if(oComment == null || oComment.DispoProductionCommentID <= 0){
            alert("Please Select a Comment!!");
            return;
        }
        var nts = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress+ "/DispoProduction/PrintImageView?nFSCDID="+oComment.FSCDID+"&nts="+nts, "_blank");
    });

</script>
