@model IEnumerable<ESimSol.BusinessObjects.ITaxRebateItem>
@{
    ViewBag.Title = "View_ITaxRebateItem";
}

<div class="menuMainCollectionTable">
    <table id="tblITaxRebateItem" title="ITaxRate Scheme" class="easyui-datagrid" style="width:100%;height:100%" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
        <thead>
            <tr>
                <th field="Description" width="60%" align="left">Description</th>
                <th field="ITaxRebateTypeString" width="20%" align="left">Type</th>
                <th field="Activity" width="10%" align="left">Activity</th>

            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>
        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
        <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
        <a id="btnActivity" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true"><label id="lblActivity">Active</label></a>
    </div>

    <div id="winITaxRebateItem" class="easyui-window winstyle" title="Income Tax Rebate" style="width:450px; height:auto" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="width: 98%; font-family: Tahoma;">
            <table class="tbl-Win">
                <tr class="templet">
                    <td class="td-col-5 align-right">
                        <label>Rebate type :</label>
                    </td>
                    <td class="td-styler td-col-14" colspan="3">
                        <select id="cboITaxRebateType" class="cbo-styler"></select>
                    </td>
                    <td class="td-styler td-col-1"></td>
                </tr>
                <tr class="templet">
                    <td class="td-col-5 align-right" valign="top">
                        <label>Description :</label>
                    </td>
                    <td class="td-styler td-col-14" colspan="3">
                        <textarea id="txtDescription"  style="height:60px;" class="reset-text txt-styler" placeholder="Ex-DPS"></textarea>
                    </td>
                    <td class="td-styler td-col-1"></td>
                </tr>
                <tr>
                    <td colspan="5" style="text-align:right; padding-top:10px; padding-bottom:10px;">
                        <a id="btnSaveITaxRebateItem" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        <a id="btnCloseITaxRebateItem" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<style type="text/css">
    .tbl-Win{
        width:100%;
    }
    .td-styler input, textarea, select {
        padding-left: 5px;
    }

    .txt-styler {
        width: 95%;
    }

    .txt-styler-picker {
        width: 70%;
    }

    .cbo-styler {
        width: 98%;
    }

    .txt-styler-Note {
        width: 98.5%;
    }
 </style>


<script type="text/javascript">
    var _sBaseAddress="";
    var _oITaxRebateItems=[];
    var _oITaxRebateItem = null;

    $(document).ready(function ()
    {
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oITaxRebateItems =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oITaxRebateTypes=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.EnumITaxRebateTypes));
    
        $("#cboITaxRebateType").icsLoadCombo({
            List: oITaxRebateTypes,
            OptionValue: "Value",
            DisplayText: "Text",
            InitialValue:"Default"
        });
        DynamicRefreshList(_oITaxRebateItems, 'tblITaxRebateItem');
    });

    

    $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });

    $('#tblITaxRebateItem').datagrid({ onSelect: function (rowIndex, rowData) { OperationPerforms(rowIndex, rowData); } });

    function OperationPerforms(rowIndex, rowData) {
        if (rowData != null && rowData.ITaxRebateItemID>0) {
            if(rowData.IsActive)
                $('#lblActivity').text("Inactive");
            else
                $('#lblActivity').text("Active");
        }
    }


    function Validate()
    {
        debugger;
        if($('#cboITaxRebateType').val()<=0){
            $('#cboITaxRebateType').focus();
            $('#cboITaxRebateType').addClass("errorFieldBorder");
            alert('Please select rebate type.');
            return false;
        }
        else{
            $('#cboITaxRebateType').removeClass("errorFieldBorder");
        }
        
        if($.trim($('#txtDescription').val())==""){
            $('#txtDescription').focus();
            $('#txtDescription').addClass("errorFieldBorder");
            alert('Description required.');
            return false;
        }
        else{
            $('#txtDescription').removeClass("errorFieldBorder");
        }
        return true;
    }

    function ResetITaxRebateItem(){
        $('.reset-text').val("");
        $('#cboITaxRebateType').val(0);
        _oITaxRebateItem=null;
        $('input,select,textarea').removeClass("errorFieldBorder");
    }

    function RefreshObject(){
        var oITaxRebateItem={
            ITaxRebateItemID: (_oITaxRebateItem==null)? 0: _oITaxRebateItem.ITaxRebateItemID,
            ITaxRebateType: $.trim($("#cboITaxRebateType").val()),
            Description:$.trim($("#txtDescription").val()),
            IsActive: true
        };
        return oITaxRebateItem;
    }

    $("#btnAdd").click(function (e) {
        ResetITaxRebateItem();
        $("#winITaxRebateItem").icsWindow("open", "Add Income Tax Rebate");
    });

    $('#btnEdit').click(function (e)
    {
        var oITaxRebateItem=$('#tblITaxRebateItem').datagrid('getSelected');
        if (oITaxRebateItem==null || oITaxRebateItem.ITaxRebateItemID<=0) { alert('Please select an item from list.'); return false;}
        ResetITaxRebateItem();

        var obj =
       {
           BaseAddress: _sBaseAddress,
           Object: oITaxRebateItem,
           ControllerName: "IncomeTaxBasicSetup",
           ActionName: "GetITaxRebateItem",
           IsWinClose: false
       };

        $.icsDataGet(obj, function (response) {

            if (response.status && response.obj != null) {
                if (response.obj.ITaxRebateItemID > 0) {
                    _oITaxRebateItem=response.obj;
                    $("#cboITaxRebateType").val(_oITaxRebateItem.ITaxRebateType);
                    $("#txtDescription").val(_oITaxRebateItem.Description);
                    $("#winITaxRebateItem").icsWindow("open", "Edit Income Tax Rebate");
                }
                else { alert(response.obj.ErrorMessage); }
            }
        });


    });

    $('#btnDelete').click(function (e)
    {
        var oITaxRebateItem=$('#tblITaxRebateItem').datagrid('getSelected');
        if (oITaxRebateItem==null || oITaxRebateItem.ITaxRebateItemID<=0) { alert('Please select an item from list.'); return false;}

        if (!confirm("Confirm to Delete?")) return ;
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oITaxRebateItem,
            ControllerName: "IncomeTaxBasicSetup",
            ActionName: "ITaxRebateItem_Delete",
            TableId: "tblITaxRebateItem",
            IsWinClose: false
        };
        $.icsDelete(obj);
    });

    $("#btnSaveITaxRebateItem").click(function (e) {

        if (!Validate()) return false;
        var oITaxRebateItem=RefreshObject();
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oITaxRebateItem,
            ObjectId: oITaxRebateItem.ITaxRebateItemID,
            ControllerName: "IncomeTaxBasicSetup",
            ActionName: "ITaxRebateItem_IU",
            TableId: "tblITaxRebateItem",
            IsWinClose: true,
            Message: (oITaxRebateItem.ITaxRebateItemID>0)? "Update Successfully.":"Save Successfully."
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                if (response.obj.ITaxRebateItemID > 0) {
                    ResetITaxRebateItem();
                }
            }
        });
    });

    $("#btnCloseITaxRebateItem").click(function (e) {
        $("#winITaxRebateItem").icsWindow("close");
    });

    
    $("#btnActivity").click(function (e) {

        var oITaxRebateItem=$('#tblITaxRebateItem').datagrid('getSelected');
        if (oITaxRebateItem==null || oITaxRebateItem.ITaxRebateItemID<=0) { alert('Please select an item from list.'); return false;}
        if(confirm("Are you sure to "+((oITaxRebateItem.IsActive>0)? "inactive":"active")+"?"))

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oITaxRebateItem,
            ObjectId: oITaxRebateItem.ITaxRebateItemID,
            ControllerName: "IncomeTaxBasicSetup",
            ActionName: "ITaxRebateItem_Activity",
            TableId: "tblITaxRebateItem",
            IsWinClose: true,
            Message: (oITaxRebateItem.IsActive>0)? "Inactive Successfully.":"Active Successfully."
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                if (response.obj.ITaxRebateItemID > 0) {
                    ResetITaxRebateItem();
                    OperationPerforms(-1,response.obj);
                }
            }
        });
    });
</script>
