<html>
@{
    ViewBag.title = "Invoice Acceptance (Approve)";
}
   @model ESimSol.BusinessObjects.ImportInvoice
    <body>
        <div class="menuMainCollectionTable">
            <div id="ViewImportInvoice"  class="easyui-panel" title="Invoice Acceptance(Approve)"  style="font-family:Tahoma; height:89%; width:100%">
                <fieldset>
                    <legend style="font-weight:bold">Invoice Info: </legend>
                    <table border="0" cellspacing="4" cellpadding="4" style="width:100%;font-size:11px; font-weight:bold">

                        <tr>
                            <td style="width:15%; text-align:right">
                                Invoice No:
                            </td>
                            <td colspan="3" style="width:30%">
                                <input id="txtInvoiceNo" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                            </td>
                            <td style="width:15%; text-align:right">
                                <label id="lblAmendmentNo">L/C No :</label>
                            </td>
                            <td style="width:25%">
                                <input id="txtLCNo" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                            </td>
                            <td style="width:10%; text-align:right"></td>
                        </tr>
                        <tr>
                            <td style="width:15%; text-align:right">
                                Supplier Name:
                            </td>
                            <td colspan="3" style="width:30%">
                                <input id="txtContractorName" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                            </td>
                            <td style="width:15%; text-align:right">
                                Bank Name :
                            </td>
                            <td style="width:25%">
                                <input id="txtBankName" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                            </td>
                            <td style="width:10%; text-align:right"></td>
                        </tr>
                        <tr>
                            <td style="width:15%; text-align:right">
                                Invoice Date:
                            </td>
                            <td colspan="3" style="width:30%">
                                <input id="txtInvoiceDate" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                            </td>
                            <td style="width:15%; text-align:right">
                                L/C Date  :
                            </td>
                            <td style="width:25%">
                                <input id="txtLCDate" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                            </td>
                            <td style="width:10%; text-align:right"></td>
                        </tr>
                        <tr>
                            <td style="width:15%; text-align:right">
                                Invoice Value:
                            </td>
                            <td colspan="3" style="width:30%">
                                <input id="txtInvoiceValue" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                            </td>
                            <td style="width:15%; text-align:right">
                                L/C Value :
                            </td>
                            <td style="width:25%">
                                <input id="txtLCValue" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                            </td>
                            <td style="width:10%; text-align:right"></td>
                        </tr>
                        <tr>
                            <td style="width:15%; text-align:right">
                                Payment Type:
                            </td>
                            <td colspan="3" style="width:30%">
                                <input id="txtLCPaymentType" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                            </td>
                            <td style="width:15%; text-align:right">
                                L/C Status :
                            </td>
                            <td style="width:25%">
                                <input id="txtLCStatus" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                            </td>
                            <td style="width:10%; text-align:right"></td>
                        </tr>
                        <tr>
                            <td style="width:15%; text-align:right">
                                Invoice Status :
                            </td>
                            <td colspan="3" style="width:30%">
                                <input id="txtInvoiceStatus" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                            </td>
                            <td style="width:15%; text-align:right">
                                Bank Status :
                            </td>
                            <td style="width:25%">
                                <input id="txtBankStatus" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                            </td>
                            <td style="width:10%; text-align:right"></td>
                        </tr>


                    </table>
                </fieldset>
                <fieldset>
                    <legend style="font-weight:bold">   </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                        <tr>
                            <td style="width:15%; text-align:right">
                                Terms :
                            </td>
                            <td style="width:3%; text-align:right">
                            </td>
                            <td  style="width:80%">
                                <label id="lblLCtrams" />
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <fieldset>
                    <legend style="font-weight:bold">   </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="width:100%;font-size:11px; font-weight:bold">
                        <tr>
                            <td style="width:20%; text-align:right">
                                Bank Ref No
                            </td>
                            <td style="width:40%">
                                <input id="txtABPNo" type="text" style="width: 80%;" />
                            </td>
                            <td style="width:20%; text-align:right">
                                Acceptance Date
                            </td>
                            <td style="width:20%">
                                <input id="txtAcceptanceDate" type="text" style="width: 110px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:20%; text-align:right">
                                C Rate
                            </td>
                            <td style="width:40%">
                                <input id="txtCRate" type="text" style="width: 20%;" /> Amount
                                <select id="cboCurrency" style="width:10%;" disabled="disabled" onchange="CurrencyChange(true);"></select>
                                <input id="txtAmountBC" type="text" style="width: 35%; text-align:right" disabled="disabled" />
                            </td>
                            <td style="width:20%; text-align:right">
                                Negotiation Date
                            </td>
                            <td style="width:20%">
                                <input id="txtNegotiationDate" type="text" style="width: 110px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            </td>
                        </tr>

                        <tr>
                            <td style="width:20%; text-align:right">
                                Note
                            </td>
                            <td style="width:40%">
                                <input id="txtNote" type="text" style="width:82%;" />
                            </td>
                            <td style="width:20%; text-align:right">
                                Maturity Date
                            </td>
                            <td style="width:20%">
                                <input id="txtMaturityDate" type="text" style="width: 110px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            </td>
                        </tr>

                    </table>
                </fieldset>
              </div>
            <fieldset id="Action">
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style=" width: 100%;font-weight: bold; font-size: 12px">
                    <tr>
                        <td style="width:20%; text-align:left;">
                            <a id="btnPrintLetter" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="PrintLetter()">Doc Release Letter</a>
                        </td>
                        <td style="width: 20%; text-align: left;">
                            <a id="btnPrintLetterAcceptance" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="PrintLetterAcceptance()">Acceptance Letter</a>
                        </td>
                        <td style="width: 40%; text-align: right;"></td>
                        <td style="width: 10%; text-align: right;">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Save()">Save</a>
                        </td>
                        <td style="width: 10%; text-align: right">
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-closed" plain="true" onclick="Close()">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
         </div>
    </body>
</html>

<script type="text/javascript">
    var _oImportInvoice=null;
    var _oImportInvoiceHistory=null;    
    var _oCompany='';        
    var _sAmountTemp=0;
    $(document).ready(function () {
        var sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oImportInvoice = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oCompany= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.Company));
        var oCurrencys = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.Currencys));
        _oImportInvoiceHistory= _oImportInvoice.ImportInvoiceHistory;
                
        $('#txtCRate').icsCurrencyBox(null, null, 4);
        $('#txtAmountBC').icsCurrencyBox(null, null, 2);
        $('#ViewImportInvoice').data('BaseAddress', sBaseAddress);
        $("#cboCurrency").icsLoadCombo({List: oCurrencys, OptionValue: "CurrencyID", DisplayText: "CurrencyName", InitialValue : '--Currency--' });
        var sHeader=sessionStorage.getItem("SelectedRowIndexInvoiceHeader");        
        if(sHeader == "InvoiceAcceptance")
        {
            $('#btnSave').hide();            
        }
        if(sHeader == "InvoiceWaitForApprove")
        {
            $('#btnSave').show();
        }
        RefreshLabel();
    });

    $("#txtCRate").keyup(function (e){   
        _oImportInvoice.CRate_Acceptance = icsRemoveComma($('#txtCRate').val());
        _sAmountTemp=formatPrice((parseFloat(_oImportInvoice.CRate_Acceptance) * parseFloat(_oImportInvoice.Amount)),0);
        $('#txtAmountBC').val(_sAmountTemp);    
    });
 
    function Close()
    {
        window.location.href = sessionStorage.getItem("BackLink");
    }

    $(document).keydown(function(e) {
        if(e.which == 27)//escape=27
        {
            window.location.href = sessionStorage.getItem("BackLink")
        }
    });
    function RefreshLabel()
    {
        _sAmountTemp=formatPrice((parseFloat(_oImportInvoice.CRate_Acceptance) * parseFloat(_oImportInvoice.Amount)),0);
        $('#txtAmountBC').val(_sAmountTemp);        
        $('#cboCurrency').val(_oCompany.BaseCurrencyID);

        CurrencyChange(true);
        $("#txtInvoiceNo").val(_oImportInvoice.ImportInvoiceNo);
        $("#txtLCNo").val(_oImportInvoice.ImportLCNo);
        $("#txtContractorName").val(_oImportInvoice.ContractorName);
        $("#txtBankName").val(_oImportInvoice.BankName_Nego);
        $("#txtInvoiceDate").val(_oImportInvoice.InvoiceDateInString);
        $("#txtLCDate").val(_oImportInvoice.ImportLCDateInString);
        $("#txtInvoiceValue").val(_oImportInvoice.AmountSt);
        $("#txtLCValue").val(_oImportInvoice.AmountLCInSt);
        $("#txtLCPaymentType").val(_oImportInvoice.LCPaymentType);
        $("#txtLCStatus").val(_oImportInvoice.LCCurrentStatusSt);
        $("#txtInvoiceStatus").val(_oImportInvoice.CurrentStatusInSt);
        $("#txtBankStatus").val(_oImportInvoice.BankStatusInSt);
          

        document.getElementById('lblLCtrams').innerHTML  = _oImportInvoice.LCTermsName;
        
        var oCurrentDate = new Date();
        if(_oImportInvoice.DateofNegotiationInST=="" || _oImportInvoice.DateofNegotiationInST=="-" )
        {
            $('#txtNegotiationDate').datebox('setValue', icsdateformat(oCurrentDate));
        }
        else
        {
            $('#txtNegotiationDate').datebox('setValue', _oImportInvoice.DateofNegotiationInST);
        }
        if(_oImportInvoice.DateofAcceptanceSt=="")
        {
            $('#txtAcceptanceDate').datebox('setValue', icsdateformat(oCurrentDate));
        }
        else
        {
            $('#txtAcceptanceDate').datebox('setValue', _oImportInvoice.DateofAcceptanceSt);
        }
        debugger;
        if(_oImportInvoice.DateofMaturityST!="" && _oImportInvoice.DateofMaturityST!=" ")
        {
            $('#txtMaturityDate').datebox('setValue', _oImportInvoice.DateofMaturityST);
        }

        document.getElementById('txtNote').value  =_oImportInvoice.Remark_Pament;
        document.getElementById('txtABPNo').value  =_oImportInvoice.ABPNo;

    }

    function RefreshObject()
    {
        debugger;
        var oPurchaseInvoice =
        {
            ImportInvoiceID: _oImportInvoice.ImportInvoiceID,
            ContractorID: _oImportInvoice.ContractorID,
            ImportLCID : _oImportInvoice.ImportLCID,
            DateofBankInfo : new Date($('#txtNegotiationDate').datebox('getValue')),
            DateOfTakeOutDoc: new Date($('#txtNegotiationDate').datebox('getValue')),
            DateofNegotiation: new Date($('#txtNegotiationDate').datebox('getValue')),
            DateofAcceptance : new Date($('#txtAcceptanceDate').datebox('getValue')),
            DateofMaturity: new Date($('#txtMaturityDate').datebox('getValue')),
            CurrencyID_Acceptance : $('#cboCurrency').val(),
            CRate_Acceptance :  parseFloat($('#txtCRate').val()),
            BatchID : 0,
            BillofEntryDate : new Date(),
            CommonRemarks : document.getElementById('txtNote').value,
            ABPNo : document.getElementById('txtABPNo').value
        }
        return oPurchaseInvoice;
    }

    function Save()
    {
        var sABP=$("#txtABPNo").val();
        if(_oImportInvoice.Tenor>0)
        {
            if(sABP =="" || sABP==null)
            {
                $("#txtABPNo").focus();
                alert("Please, Entry ABP No"+_oImportInvoice.Tenor);
                return ;
            }
        }
        if(parseInt($("#txtCRate").val()) == 0)
        {
            alert("Please Give Conversion Rate");
            $("#txtCRate").focus();
            return ;
        }
        if(parseInt($("#cboCurrency").val()) == 0)
        {
            $("#cboCurrency").focus();
            alert("Please Select Currency");
            return ;
        }
        var oPurchaseInvoice=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : $('#ViewImportInvoice').data('BaseAddress')+  "/ImportInvoice/ImportInvoiceAcceptance",
            traditional: true,
            data:  JSON.stringify(oPurchaseInvoice),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                var   oImportInvoice = jQuery.parseJSON(data);
                if (oImportInvoice.ErrorMessage=="" || oImportInvoice.ErrorMessage==null)
                {
                    alert("Save Successfully");

                    _oImportInvoice=oImportInvoice;
                    //_oImportInvoice.BankStatusInSt="Wait For Approve";
                    var oImportInvoices =sessionStorage.getItem("ImportInvoices");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));

                    if(oImportInvoices!=null)
                    {
                        oImportInvoices = jQuery.parseJSON(oImportInvoices);
                    }
                    else
                    {
                        oImportInvoices=[];
                    }
                    if(nIndex!=-1)
                    {
                        oImportInvoices[nIndex]=_oImportInvoice;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndexInvoice", oImportInvoices.length);
                        oImportInvoices.push(oImportInvoices);
                    }
                    sessionStorage.setItem("ImportInvoices", JSON.stringify(oImportInvoices));
                    window.location.href = sessionStorage.getItem("BackLink");
                }
                else
                {
                    alert(oImportInvoice.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    }
    function CreateVoucher()
    {

        if(parseInt($("#txtCRate").val()) == 0)
        {
            alert("Please Give Conversion Rate");
            return ;
        }

        if(parseInt($("#cboBatchNo").val()) == 0)
        {
            alert("Please Select Batch");
            return ;
        }
        if(parseInt($("#cboCurrency").val()) == 0)
        {
            alert("Please Select Currency");
            return ;
        }
        debugger;


        var oPurchaseInvoice=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : $('#ViewImportInvoice').data('BaseAddress')+  "/ImportInvoice/SaveAccptanceVoucher",
            traditional: true,
            data:  JSON.stringify(oPurchaseInvoice),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                var   oImportInvoice = jQuery.parseJSON(data);
                if (oImportInvoice.ErrorMessage=="" || oImportInvoice.ErrorMessage==null)
                {
                    alert("Save Successfully");
                    _oImportInvoice=oImportInvoice;
                    _oImportInvoice.BankStatusInSt="IBP";
                    var oImportInvoices =sessionStorage.getItem("ImportInvoices");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndexInvoice"));

                    if(oImportInvoices!=null)
                    {
                        oImportInvoices = jQuery.parseJSON(oImportInvoices);
                    }
                    else
                    {
                        oImportInvoices=[];
                    }
                    if(nIndex!=-1)
                    {
                        oImportInvoices[nIndex]=_oImportInvoice;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndexInvoice", oImportInvoices.length);
                        oImportInvoices.push(oImportInvoices);
                    }
                    sessionStorage.setItem("ImportInvoices", JSON.stringify(oImportInvoices));
                    window.location.href = sessionStorage.getItem("BackLink");
                }
                else
                {
                    alert(oImportInvoice.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    }

    function CurrencyChange(bIsComboChange)
    {
            var nCurrencyID = $("#cboCurrency").val();

            if(_oImportInvoice.CurrencyID_LC=== parseInt(_oCompany.BaseCurrencyID))
            {
                $('#txtCRate').val(parseFloat(1).toFixed(3));
                $("#txtCRate").prop("disabled", true);
            }
            else
            {
                $('#txtCRate').val(parseFloat(_oImportInvoice.CRate_Acceptance).toFixed(3));
                $("#txtCRate").prop("disabled", false);
            }
    }


 
    $('#txtAcceptanceDate').datebox({
        onSelect: function(date){            
            var dAcceptanceDate = new Date($('#txtAcceptanceDate').datebox('getValue'));
            $('#txtAcptncNegotiationDate').datebox('setValue',icsdateformat(dAcceptanceDate));
            var dMaturityDate = dAcceptanceDate;
            dMaturityDate.setDate(dAcceptanceDate.getDate()+parseInt(_oImportInvoice.Tenor));
            $('#txtAcptncMaturityDate').datebox('setValue',icsdateformat(dMaturityDate));            
        }
    });

  
    function   PrintLetter()
    {
        window.open($('#ViewImportInvoice').data('BaseAddress')+'/ImportInvoice/PrintTakeOutOriginalDoc?id='+_oImportInvoice.ImportInvoiceID, "_blank");

    }
    function   PrintLetterAcceptance()
    {
        window.open($('#ViewImportInvoice').data('BaseAddress')+'/ImportInvoice/PrintAcceptanceLetter?id='+_oImportInvoice.ImportInvoiceID, "_blank");

    }
</script>