<html>
@{
    ViewBag.title = "Send to CNF";
}
@model ESimSol.BusinessObjects.ImportInvoice
<body>
    <div class="menuMainCollectionTable" id="divImportInvoice" class="easyui-panel" title="Add  Invoice" style="font-family:Tahoma; height:100%; width:100%">
        <div class="easyui-panel" title="Send to CNF" style="font-family:Tahoma; height:89%; width:100%">
            <fieldset>
                <legend style="font-weight:bold">Invoice Info: </legend>
                <table border="0" cellspacing="4" cellpadding="4" style="width:100%;font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:15%; text-align:right">
                            Invoice No:
                        </td>
                        <td colspan="3" style="width:30%">
                            <input id="txtInvoiceNo" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:15%; text-align:right">
                            <label id="lblAmendmentNo">L/C No :</label>
                        </td>
                        <td style="width:25%">
                            <input id="txtLCNo" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                    <tr>
                        <td style="width:15%; text-align:right">
                            Supplier Name:
                        </td>
                        <td colspan="3" style="width:30%">
                            <input id="txtContractorName" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:15%; text-align:right">
                            Bank Name :
                        </td>
                        <td style="width:25%">
                            <input id="txtBankName" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                    <tr>
                        <td style="width:15%; text-align:right">
                            Invoice Date:
                        </td>
                        <td colspan="3" style="width:30%">
                            <input id="txtInvoiceDate" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:15%; text-align:right">
                            L/C Date  :
                        </td>
                        <td style="width:25%">
                            <input id="txtLCDate" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                    <tr>
                        <td style="width:15%; text-align:right">
                            Invoice Value:
                        </td>
                        <td colspan="3" style="width:30%">
                            <input id="txtInvoiceValue" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:15%; text-align:right">
                            L/C Value :
                        </td>
                        <td style="width:25%">
                            <input id="txtLCValue" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                    <tr>
                        <td style="width:15%; text-align:right">
                            Payment Type:
                        </td>
                        <td colspan="3" style="width:30%">
                            <input id="txtLCPaymentType" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:15%; text-align:right">
                            L/C Status :
                        </td>
                        <td style="width:25%">
                            <input id="txtLCStatus" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                    <tr>
                        <td style="width:15%; text-align:right">
                            Invoice Status :
                        </td>
                        <td colspan="3" style="width:30%">
                            <input id="txtInvoiceStatus" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:15%; text-align:right">
                            Bank Status :
                        </td>
                        <td style="width:25%">
                            <input id="txtBankStatus" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                    <tr>
                        <td style="width:15%; text-align:right">
                            B/L No :
                        </td>
                        <td style="width:10%">
                            <input id="txtBLNo" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right">
                            B/L Date :
                        </td>
                        <td style="width:10%">
                            <input id="txtBLDate" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:15%; text-align:right">
                            ETA Date :
                        </td>
                        <td style="width:25%">
                            <input id="txtETADate" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                       
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                </table>
            </fieldset>
                <fieldset style="height:40%">
                    <legend style="font-weight:bold">Agent Info:</legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="width:70%;height:40%; margin:20px auto; font-size:12px; font-weight:normal">
                      
                        <tr>
                            <td style="width: 15%;text-align:right">Doc No:</td>
                            <td style="width: 10%; padding-left:0%;"><input type="text" id="txtFileNo" placeholder="xxxx/yy" style="width:100%;" /></td>
                            <td style="width: 15%;text-align:right">Send Date:</td>
                            <td style="width: 20%; padding-left: 0%;">
                                <input id="txtSendDate" type="text" class="easyui-datebox" required="required"
                                       data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 100%;" />
                            </td>
                        </tr>
                        <tr style="text-align:left">
                            <td style="width: 15%;text-align:right">Agent Name:</td>
                            <td colspan="3" style="width:45%">
                                <select id="dboVendorName" style="width:100%;">
                                    <option value="0">--Select--</option>
                                </select>
                            </td>
                        </tr>
                        <tr style="text-align:left">
                            <td style="width:15%; text-align:right;">Remarks:</td>
                            <td colspan="3" style="width:45%"><input id="txtContactorRemarks" type="text" style="width:100%;" /></td>
                        </tr>
                    </table>
                </fieldset>

        </div>
        <fieldset>
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="0" cellpadding="0" style="font-size: 11px; font-weight: bold; width:100%">
                <tr>
                    <td style="width:15%; text-align: right;">
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="PrintLetter()" id="btnPrint">Preview(Letter)</a>  
                    </td>
                    <td style="width: 30%;text-align:left;">
                        <a id="btnPrintPackingList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview(Packing List)</a>
                    </td>
                    <td style="width:35%; text-align:right">
                        <div style="width: 95%;margin: 0 auto;text-align: center;font-size: 15px; float: left;">
                            <span class="lblToolTip"></span>
                        </div>
                    </td>
                    <td style="width: 20%;text-align:right;">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Save()">Save</a>

                    </td>
                    <td style="width: 10%;text-align:right;">
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="Close()" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
        </div>
    </body>
    </html>

    <script type="text/javascript">
    var _oImportInvoice=null;
    var _oPInvoiceHistory=null;
    var _sBaseAddress="";
    var _oImportCnf=null;
    var _oCompany=[];

    var _sHeader="";
    var _sBackLink="";
    var _nTotalExpAmount=0;
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oImportInvoice = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oCompany= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.Company));
        _oImportCnf=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ImportCnf));
        _sBackLink=sessionStorage.getItem("BackLink");
        LoadAgentName();
        RefreshLabel();
    });

        function RefreshLabel()
        {
            debugger;
            $("#txtInvoiceNo").val(_oImportInvoice.ImportInvoiceNo);
            $("#txtLCNo").val(_oImportInvoice.ImportLCNo);
            $("#txtContractorName").val(_oImportInvoice.ContractorName);
            $("#txtBankName").val(_oImportInvoice.BankName_Nego);
            $("#txtInvoiceDate").val(_oImportInvoice.InvoiceDateInString);
            $("#txtLCDate").val(_oImportInvoice.ImportLCDateInString);
            $("#txtInvoiceValue").val(_oImportInvoice.AmountSt);
            $("#txtLCValue").val(_oImportInvoice.AmountLCInSt);
            $("#txtLCPaymentType").val(_oImportInvoice.LCPaymentType);
            $("#txtLCStatus").val(_oImportInvoice.LCCurrentStatusSt);
            $("#txtInvoiceStatus").val(_oImportInvoice.CurrentStatusInSt);
            $("#txtBankStatus").val(_oImportInvoice.BankStatusInSt);
            $("#txtBLNo").val(_oImportInvoice.BLNo);
            $("#txtBLDate").val(_oImportInvoice.BLDateSt);
            $("#txtETADate").val(_oImportInvoice.ETADateSt);
            if(parseInt(_oImportCnf.ContractorID)>0)
            {
                $('#txtFileNo').val(_oImportCnf.FileNo);
                $('#txtSendDate').datebox('setValue',_oImportCnf.SendDateSt);
                $('#dboVendorName').val(_oImportCnf.ContractorID);
                $('#txtContactorRemarks').val(_oImportCnf.Note);
            }
        }
        //$("#txtVendorName").keydown(function (e) {
        //    var code = (e.keyCode ? e.keyCode : e.which);
        //    if (code == 13) // Enter Press
        //    {
        //        ///Agent = 5,

        //        var TextBox=$(this);
        //        var oContractor = { Params: "5" + '~' + document.getElementById('txtVendorName').value+'~'+sessionStorage.getItem('BUID') };
        //        var obj = {
        //            BaseAddress: _sBaseAddress,
        //            Object: oContractor,
        //            ControllerName: "Contractor",
        //            ActionName: "ContractorSearchByNameType",
        //            IsWinClose: false
        //        };
        //        $.icsDataGets(obj, function (response) {
        //            if (response.status && response.objs.length > 0) {
        //                if (response.objs[0].ContractorID > 0) {
        //                    var tblColums = [];var oColumn = { field: "Name", title: "Name", width: 150, align: "left" };tblColums.push(oColumn);
        //                    oColumn = { field: "ContractorTypeInString", title: "Type", width: 150, align: "left" };tblColums.push(oColumn);
        //                    var oPickerParam = {
        //                        winid: 'winContractors',
        //                        winclass:'clsSupplier',
        //                        winwidth: 600,
        //                        winheight: 460,
        //                        tableid: 'tblSuppliers',
        //                        tablecolumns: tblColums,
        //                        datalist: response.objs,
        //                        multiplereturn: false,
        //                        searchingbyfieldName:'Name',
        //                        windowTittle: 'Vendor List',
        //                        TextBox:TextBox
        //                    };
        //                    $.icsPicker(oPickerParam);
        //                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
        //                }
        //                else { alert(response.objs[0].ErrorMessage); }
        //            }
        //            else { alert("Data not Found"); }
        //        });
        //    }
        //});
        /////////////////////////////////////add for dropdown//////////////////////////////////////
        function LoadAgentName()
        {
                var oContractor = { Params: "9" + '~' + " " +'~'+sessionStorage.getItem('BUID') };
                var obj = {
                    BaseAddress: _sBaseAddress,
                    Object: oContractor,
                    ControllerName: "Contractor",
                    ActionName: "ContractorSearchByNameType",
                    IsWinClose: false
                };
                $.icsDataGets(obj, function (response) {
                    if (response.status && response.objs.length > 0) {
                        oContractors = response.objs;
                        if (oContractors[0].ContractorID > 0) {
                            debugger;                   
                            for(var i = 0; i< oContractors.length; i++)
                            {
                                var x = document.getElementById("dboVendorName");
                                var option = document.createElement("option");
                                option.text = oContractors[i].Name;
                                option.value = oContractors[i].ContractorID;
                                x.add(option);
                            }
                            if(response.objs.length==1)
                            {
                                $('#dboVendorName').val(response.objs[0].ContractorID);
                            }
                            if(parseInt(_oImportCnf.ContractorID)>0)
                            {
                                $('#dboVendorName').val(_oImportCnf.ContractorID);
                            }
                        }
                        else { alert(response.objs[0].ErrorMessage); }
                    }
                    else{
                        alert("No contractor found.");
                    }
                });
            
        } 
        ///////////////////////////////////////////////////////////////////////////////////////////
        //$("#btnPickVendor").click(function () {
        //    ///agent = 5,
        //    var oContractor = { Params:"5"+"~"+'~'+sessionStorage.getItem('BUID')};
        //    var obj = {
        //        BaseAddress: _sBaseAddress,
        //        Object: oContractor,
        //        ControllerName: "Contractor",
        //        ActionName: "ContractorSearchByNameType",
        //        IsWinClose: false
        //    };
        //    $.icsDataGets(obj, function (response) {
        //        if (response.status && response.objs.length > 0) {
        //            if (response.objs[0].ContractorID > 0) {





        //                var tblColums = [];var oColumn = { field: "Name", title: "Name", width: 150, align: "left" };tblColums.push(oColumn);
        //                oColumn = { field: "ContractorTypeInString", title: "Type", width: 150, align: "left" };tblColums.push(oColumn);
        //                var oPickerParam = {
        //                    winid: 'winContractors',
        //                    winclass: 'clsSupplier',
        //                    winwidth: 600,
        //                    winheight: 460,
        //                    tableid: 'tblSuppliers',
        //                    tablecolumns: tblColums,
        //                    datalist: response.objs,
        //                    multiplereturn: false,
        //                    searchingbyfieldName: 'Name',
        //                    windowTittle: 'Vendor List'
        //                };
        //                $.icsPicker(oPickerParam);
        //                IntializePickerbutton(oPickerParam);
        //            }
        //            else { alert(response.objs[0].ErrorMessage); }
        //        }
        //        else { alert("Data not Found"); }
        //    });

        //});
        //$('#txtVendorName').keydown(function (e) {
        //    var code = (e.keyCode ? e.keyCode : e.which);
        //    if (code == 8) //backspace=8
        //    {
        //        var txtVendorName = document.getElementById("txtVendorName");
        //        txtVendorName.value = '';
        //        txtVendorName.style.color = "black";
        //        txtVendorName.style.fontWeight = "normal";
        //        _oImportCnf.ContractorID= 0;

        //    }
        //});
        //function IntializePickerbutton(oPickerobj) {
        //    $("#" + oPickerobj.winid).find("#btnOk").click(function () {
        //        //for Single Select
        //        SetPickerValueAssign(oPickerobj);
        //    });
        //    $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
        //        if (e.which == 13)//enter=13
        //        {
        //            SetPickerValueAssign(oPickerobj);

        //        }
        //    });
        //}
        //function SetPickerValueAssign(oPickerobj) {
        //    debugger;
        //    var oreturnObj = null, oreturnobjs = [];
        //    if (oPickerobj.multiplereturn) {
        //        oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        //    } else {
        //        oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        //    }
        //    $("#" + oPickerobj.winid).icsWindow("close");
        //    $("#" + oPickerobj.winid).remove();
        //    if (oPickerobj.winid == 'winContractors') {
        //        if (oreturnObj != null && oreturnObj.ContractorID > 0) {
        //            var txtVendorName = document.getElementById("txtVendorName");
        //            txtVendorName.value = oreturnObj.Name;
        //            txtVendorName.style.color = "blue";
        //            txtVendorName.style.fontWeight = "bold";
        //            _oImportCnf.ContractorID= oreturnObj.ContractorID;
        //            $('#txtVendorName').focus();
        //        }
        //    }

        //}



        function   PrintLetter()
        {
            _oImportCnf.ContractorID = $('#dboVendorName').val();
            debugger;
            if(_oImportCnf.ContractorID<=0)
            {
                alert("Please  Pick Agent Name");
                return;
            }
            if(_oImportInvoice.ImportInvoiceID<=0)
            {
                alert("Invalid Invoice");
                return;
            }
            var Sparams = _oImportInvoice.ImportInvoiceID+"~"+_oImportCnf.ContractorID+"~false";
            window.open(_sBaseAddress+'/ImportInvoice/PrintCnFLetter?sParams='+Sparams, "_blank");

        }

      
        function RefreshObject()
        {
           
            debugger;
            var oImportCnf =
            {
                ImportCnfID:(_oImportCnf!=null && _oImportCnf.ImportCnfID>0)? _oImportCnf.ImportCnfID:0,
                ImportInvoiceID: _oImportInvoice.ImportInvoiceID,
                FileNo: $('#txtFileNo').val(),
                SendDate: new Date($('#txtSendDate').datebox('getValue')),
                ContractorID: _oImportCnf.ContractorID,
                Note: $('#txtContactorRemarks').val()
            }
            return oImportCnf;
        }

        function Validation()
        {

            if($('#txtFileNo').val()!="" && $('#txtFileNo').val()!=null)
            {
                var FileNo = $('#txtFileNo').val().split('/');
                if(FileNo.length>2)
                {
                    alert("Please Type Correct format for File No. Like xxxx/yy[Ex-0001/17]");
                    $("#txtFileNo").focus();
                    return false;
                }
                if(parseInt(FileNo[0].length)!=4)
                {
                    alert("Please Type Correct format for First part of File No.Like xxxx/yy[Ex-0001/17]");
                    $("#txtFileNo").focus();
                    return false;
                }
                if(parseInt(FileNo[1].length)!=2)
                {
                    alert("Please Type Correct format for Last part of File No.Like xxxx/yy[Ex-0001/17]");
                    $("#txtFileNo").focus();
                    return false;
                }
            }
            if ($('#txtSendDate').datebox('getValue') == null || $('#txtSendDate').datebox('getValue') == "") {
                alert("Please give Send Date!"); $('#txtSendDate').focus();
                return false ;
            } 
            if(parseInt( _oImportCnf.ContractorID)<=0)
            {
                alert("Please  Pick Agent Name");
                return false;
            }
            if(parseInt(_oImportInvoice.ImportInvoiceID)<=0)
            {
                alert("Invalid Invoice");
                return false;
            }

            return true;
        }

        function Save()
        {
            _oImportCnf.ContractorID = $('#dboVendorName').val();
            if(!Validation()) {  return;}
            debugger;
            var oImportCnf=RefreshObject();
            _oImportInvoice.ImportCnf=oImportCnf;

            $.ajax({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+  "/ImportInvoice/SaveSendToCnF",
                traditional: true,
                data:  JSON.stringify(_oImportInvoice),
                contentType: "application/json; charset=utf-8",
                success: function (data)
                {
                    var   oImportInvoice = jQuery.parseJSON(data);
                    var oImportCnf=oImportInvoice.ImportCnf;
                    if (oImportCnf.ErrorMessage=="" || oImportCnf.ErrorMessage==null)
                    {
                        _oImportInvoice=oImportInvoice;
                        _oImportCnf=oImportInvoice.ImportCnf;
                        var Sparams = oImportInvoice.ImportInvoiceID+"~"+_oImportCnf.ContractorID+"~true";
                        window.open(_sBaseAddress+'/ImportInvoice/PrintCnFLetter?sParams='+Sparams, "_blank");

                        var oImportInvoices = sessionStorage.getItem("ImportInvoices");
                        var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                        if (oImportInvoices != null) {
                            oImportInvoices = jQuery.parseJSON(oImportInvoices);
                        }
                        else {
                            oImportInvoices = [];
                        }
                        if (nIndex != -1) {
                            oImportInvoices[nIndex] = _oImportInvoice;
                        }
                        else {
                            sessionStorage.setItem("SelectedRowIndex", oImportInvoices.length);
                            oImportInvoices.push(_oImportInvoice);
                        }
                        sessionStorage.setItem("ImportInvoices", JSON.stringify(oImportInvoices));
                        window.location.href = _sBackLink;
                    }
                    else
                    {
                        alert(oImportCnf.ErrorMessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
        }



        function Close()
        {
            window.location.href = _sBackLink;
        }

        $(document).keydown(function(e) {
            if(e.which == 27)//escape=27
            {
                window.location.href = _sBackLink
            }
        });

        $("#btnPrintPackingList").click(function () {
            debugger;
           
            if(parseInt(_oImportInvoice.ImportInvoiceID)<=0)
            {
                alert("Sorry, there is no Invoice.");
                return false;
            }
       
            window.open(_sBaseAddress + '/ImportInvoice/PrintPackingList_CNF?id='+ _oImportInvoice.ImportInvoiceID+"&sIsCnf="+"FromCNF", "_blank");
        });

    </script>