@{
    ViewBag.title = "Custom Info";
}
@model ESimSol.BusinessObjects.ImportInvoice

    <div class="menuMainCollectionTable" id="divImportInvoice" class="easyui-panel" title="Add  Invoice" style="font-family:Tahoma; height:100%; width:100%">
        <div id="divCutomInfo" class="easyui-panel" title="Custom Info" style="font-family:Tahoma; height:89%; width:100%">
            <fieldset>
                <legend style="font-weight:bold">Invoice Info: </legend>
                <table border="0" cellspacing="4" cellpadding="4" style="width:95%;font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:10%; text-align:right">
                            Invoice No:
                        </td>
                        <td style="width:10%">
                            <input id="txtInvoiceNo" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right">
                            Invoice Date:
                        </td>
                        <td style="width:10%">
                            <input id="txtInvoiceDate" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right">
                            <label id="lblAmendmentNo">L/C No :</label>
                        </td>
                        <td style="width:25%">
                            <input id="txtLCNo" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10%; text-align:right">
                            Supplier Name:
                        </td>
                        <td colspan="3" style="width:30%">
                            <input id="txtContractorName" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right">
                            Bank Name :
                        </td>
                        <td style="width:25%">
                            <input id="txtBankName" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        
                    </tr>
                    <tr>
                        <td style="width:10%; text-align:right">
                            Doc No :
                        </td>
                        <td style="width:10%">
                            <input id="txtDocNo" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right">
                            Send to Cnf DT :
                        </td>
                        <td style="width:10%">
                            <input id="txtCnFDate" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right">
                            L/C Date  :
                        </td>
                        <td style="width:25%">
                            <input id="txtLCDate" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10%; text-align:right">
                            Payment Type:
                        </td>
                        <td  style="width:10%">
                            <input id="txtLCPaymentType" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right">
                            Invoice Status :
                        </td>
                        <td style="width:10%">
                            <input id="txtInvoiceStatus" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right">
                            L/C Status :
                        </td>
                        <td style="width:25%">
                            <input id="txtLCStatus" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                    </tr>
                  
                    <tr>
                        <td style="width:10%; text-align:right">
                            B/L No :
                        </td>
                        <td style="width:10%">
                            <input id="txtBLNo" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right">
                            B/L DT :
                        </td>
                        <td style="width:10%">
                            <input id="txtBLDate" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right">
                            ETA DT :
                        </td>
                        <td style="width:25%">
                            <input id="txtETADate" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>                       
                    </tr>
                </table>
            </fieldset>
                <fieldset>
                    <legend style="font-weight:bold;font-size:13px">Custom Status :</legend>
                    <table id="tableUpdate" border="0" cellpadding="2" cellspacing="3" style="width:97%;margin:0 auto;font-size:12px; font-weight:normal">
                        <tr style="width:100%;text-align:left">
                            <td style="width:21%; text-align:left;"><label id="lblPOU">Position on Outer:</label> </td>
                            <td style="width:10%; text-align:right;">Date:</td>
                            <td style="width:8%;"><input id="txtPositiononOuterDate" type="text" style="width: 100%;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                            <td style="width:12%; text-align:right;">Remarks:</td>
                            <td style="width:30%;"><input id="txtPositiononOuterRemarks" type="text" style="width:100%;" /></td>
                            <td style="width:10%;"><input id="btnPositiononOuterUpdate" type="button" value="Update" style="width:100%;height:27px" /></td>
                        </tr>
                        <tr style="width:100%;text-align:left">
                            <td style="width:21%; text-align:left; border-top:1px solid black"><label id="lblPOJ">Position on JT:</label> </td>
                            <td style="width:10%; text-align:right; border-top:1px solid black">Date:</td>
                            <td style="width:8%;  border-top:1px solid black"><input id="txtPositiononJTDate" type="text" style="width: 100%;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                            <td style="width:12%; text-align:right; border-top:1px solid black">Remarks:</td>
                            <td style="width:30%;  border-top:1px solid black"><input id="txtPositiononJTRemarks" type="text" style="width:100%;" /></td>
                            <td style="width:10%;  border-top:1px solid black"><input id="btnPositiononJTUpdate" type="button" value="Update" style="width:100%;height:27px" /></td>
                        </tr>
                        <tr style="width:100%;text-align:left">
                            <td style="width:21%; text-align:left; border-top:1px solid black"><label id="lblNoting">Noting:</label></td>
                            <td style="width:10%; text-align:right; border-top:1px solid black">Date:</td>
                            <td style="width:8%;  border-top:1px solid black"><input id="txtNotingDate" type="text" style="width: 100%;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                            <td style="width:12%; text-align:right; border-top:1px solid black">Remarks:</td>
                            <td style="width:30%;  border-top:1px solid black"><input id="txtNotingRemarks" type="text" style="width:100%;" /></td>
                            <td style="width:10%;  border-top:1px solid black"><input id="btnNotingUpdate" type="button" value="Update" style="width:100%;height:27px" /></td>
                        </tr>
                        <tr style="width:100%;text-align:left">
                            <td style="width:21%; text-align:left;vertical-align:top;  border-top:1px solid black"><label id="lblBOE">Bill of Entry:</label> </td>
                            <td style="width:10%; text-align:right; border-top:1px solid black">Bill of Entry No:</td>
                            <td style="width:8%;  border-top:1px solid black"><input id="txtBillofEntryNo" type="text" style="width:100%;" /></td>
                            <td style="width:12%; text-align:right;  border-top:1px solid black">Bill of Entry Date:</td>
                            <td style="width:30%;  border-top:1px solid black"><input id="txtBillofEntryDate" type="text" style="" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                            <td style="width:10%; vertical-align:top;  border-top:1px solid black"><input id="btnBillOfEntryUpdate" type="button" value="Update" style="width:100%;height:27px" /></td>
                        </tr>
                        <tr style="width:100%;text-align:left">
                            <td style="width:21%; text-align:left; border-top:1px solid black"><label id="lblAssesment">Assesment:</label></td>
                            <td style="width:10%; text-align:right; border-top:1px solid black">Date:</td>
                            <td style="width:8%;  border-top:1px solid black"><input id="txtAssesmentDate" type="text" style="width: 100%;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                            <td style="width:12%; text-align:right; border-top:1px solid black">Remarks:</td>
                            <td style="width:30%;  border-top:1px solid black"><input id="txtAssesmentRemarks" type="text" style="width:100%;" /></td>
                            <td style="width:10%;  border-top:1px solid black"><input id="btnAssesmentUpdate" type="button" value="Update" style="width:100%;height:27px" /></td>
                        </tr>
                        <tr style="width:100%;text-align:left">
                            <td style="width:21%; text-align:left;  border-top:1px solid black"><label id="lblExamine">Examine:</label></td>
                            <td style="width:10%; text-align:right;  border-top:1px solid black">Date:</td>
                            <td style="width:8%;  border-top:1px solid black"><input id="txtExamineDate" type="text" style="width: 100%;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                            <td style="width:12%; text-align:right;  border-top:1px solid black">Remarks:</td>
                            <td style="width:30%;  border-top:1px solid black"><input id="txtExamineRemarks" type="text" style="width:100%;" /></td>
                            <td style="width:10%;  border-top:1px solid black"><input id="btnExamineUpdate" type="button" value="Update" style="width:100%;height:27px" /></td>
                        </tr>
                        <tr style="width:100%;text-align:left;">
                            <td style="width:21%; text-align:left;  border-top:1px solid black"><label id="lblDORFSL">Indent for Delivery:</label></td>
                            <td style="width:8%; text-align:right;  border-top:1px solid black">Date:</td>
                            <td style="width:12%;  border-top:1px solid black"><input id="txtDOReceiveFromDate" type="text" style="width: 100%;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                            <td style="width:10%; text-align:right;  border-top:1px solid black">Remarks:</td>
                            <td style="width:30%;  border-top:1px solid black"><input id="txtDOReceiveFromRemarks" type="text" style="width:100%;" /></td>
                            <td style="width:10%;  border-top:1px solid black"><input id="btnDOReceiveFromUpdate" type="button" value="Update" style="width:100%;height:27px" /></td>
                        </tr>
                        <tr style="width:100%;text-align:left;">
                            <td style="width:21%; text-align:left;  border-top:1px solid black"><label id="lblDeliveryNotice">Delivery Notice:</label></td>
                            <td style="width:8%; text-align:right;  border-top:1px solid black">Date:</td>
                            <td style="width:12%;  border-top:1px solid black"><input id="txtDeliveryNoticeDate" type="text" style="width: 100%;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                            <td style="width:10%; text-align:right;  border-top:1px solid black"></td>
                            <td style="width:30%;  border-top:1px solid black;"><a id="btnPrintDeliveryNotice" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" style="float:right">Print</a></td>
                            <td style="width:10%;  border-top:1px solid black"><input id="btnDeliveryNoticeDate" type="button" value="Update" style="width:100%;height:27px" /></td>
                        </tr>
                    </table>
                </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="0" cellpadding="0" style="font-size: 11px; font-weight: bold; width:100%">
                <tr>
                    <td style="width:100%; text-align:right">
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="Close()" plain="true">Close</a>
                    </td>
                 </tr>
            </table>
        </fieldset>
        </div>

    <script type="text/javascript">
    var _oImportInvoice=null;
    var _sBaseAddress="";
    var _oImportInvoiceHistorys=[];
    var _oImportCnf=null;
    var _sHeader="";
    var _sBackLink="";

    $(document).ready(function () {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oImportInvoice = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oImportInvoiceHistorys= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ImportInvoiceHistorys));
        _oImportCnf= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ImportCnf));
        RefreshLabel();
        RefrehControl(_oImportInvoice);
        _sBackLink=sessionStorage.getItem("BackLink");
    });

    function RefreshLabel()
    {
        debugger;
        $("#txtInvoiceNo").val(_oImportInvoice.ImportInvoiceNo);
        $("#txtLCNo").val(_oImportInvoice.ImportLCNo);
        $("#txtContractorName").val(_oImportInvoice.ContractorName);
        $("#txtBankName").val(_oImportInvoice.BankName_Nego);
        $("#txtInvoiceDate").val(_oImportInvoice.InvoiceDateInString);
        $("#txtLCDate").val(_oImportInvoice.ImportLCDateInString);
        //$("#txtInvoiceValue").val(_oImportInvoice.AmountSt);
        //$("#txtLCValue").val(_oImportInvoice.AmountLCInSt);
        $("#txtLCPaymentType").val(_oImportInvoice.LCPaymentType);
        $("#txtLCStatus").val(_oImportInvoice.LCCurrentStatusSt);
        $("#txtInvoiceStatus").val(_oImportInvoice.CurrentStatusInSt);
        //$("#txtBankStatus").val(_oImportInvoice.BankStatusInSt);
        $("#txtBLNo").val(_oImportInvoice.BLNo);
        $("#txtBLDate").val(_oImportInvoice.BLDateSt);
        $("#txtETADate").val(_oImportInvoice.ETADateSt);

        $('#txtPositiononOuterDate').datebox('setValue', _oImportInvoice.PositionOuterDateSt);
        $('#txtPositiononJTDate').datebox('setValue', _oImportInvoice.PositionJTDateSt);

        $('#txtAssesmentDate').datebox('setValue', _oImportInvoice.AssesmentDateInString);
        $('#txtNotingDate').datebox('setValue', _oImportInvoice.NotingDateInString);
        $('#txtExamineDate').datebox('setValue', _oImportInvoice.ExamineDateInString);
        $('#txtDOReceiveFromDate').datebox('setValue', _oImportInvoice.DOReceiveFromDateInString);
        if(_oImportInvoice.DeliveryNoticeDateSt=="01 Jan 1900")
        {
            $('#txtDeliveryNoticeDate').datebox('setValue', "");
        }
        else
        {
            $('#txtDeliveryNoticeDate').datebox('setValue', _oImportInvoice.DeliveryNoticeDateSt);
        }
        $('#txtBillofEntryDate').datebox('setValue', _oImportInvoice.BillofEntryDateSt);
        $('#txtBillofEntryNo').val(_oImportInvoice.BillofEntryNo);

        //$('#txtGoodsInTransitRemarks').val(_oImportInvoice.GoodsInTransitRemarks);
        //$('#txtVehicleInfo').val(_oImportInvoice.VehicleInfo);
        //$('#txtDriverCotractNumber').val(_oImportInvoice.DriverCotractNumber);

        $('#txtDocNo').val(_oImportCnf.FileNo);
        $('#txtCnFDate').val(_oImportCnf.SendDateSt);

        for (var i = 0; i < _oImportInvoiceHistorys.length; i++) {
            if(_oImportInvoiceHistorys[i].InvoiceEventInt==6 )
            {
                $('#txtPositiononOuterRemarks').val(_oImportInvoiceHistorys[i].Note);
            }
            if(_oImportInvoiceHistorys[i].InvoiceEventInt==7 )
            {
                $('#txtPositiononJTRemarks').val(_oImportInvoiceHistorys[i].Note);
            }
           
            if(_oImportInvoiceHistorys[i].InvoiceEventInt==8 )
            {
                $('#txtNotingRemarks').val(_oImportInvoiceHistorys[i].Note);
            }
            if(_oImportInvoiceHistorys[i].InvoiceEventInt==9 )
            {
                $('#txtAssesmentRemarks').val(_oImportInvoiceHistorys[i].Note);
            }
            if(_oImportInvoiceHistorys[i].InvoiceEventInt==10 )
            {
                $('#txtExamineRemarks').val(_oImportInvoiceHistorys[i].Note);
            }
            if(_oImportInvoiceHistorys[i].InvoiceEventInt==11 )
            {
                $('#txtDOReceiveFromRemarks').val(_oImportInvoiceHistorys[i].Note);
            }
            //if($('#txtDeliveryNoticeDate').val()=="01 Jan 1900")
            //{
            //    $('#txtDeliveryNoticeDate').val("");
            //}
        }


    }
    function RefrehControl(oImportInvoice)
    {
        debugger;

        if(_oImportInvoice.PositionOuterDateSt!="")
        {
            $('#lblPOU').css("color", "green");
            $('#btnPositiononOuterUpdate').css("background-color", "green");
            $('#btnPositiononOuterUpdate').css("color", "white");
        }
        if(_oImportInvoice.PositionJTDateSt!="")
        {
            $('#lblPOJ').css("color", "green");
            $('#btnPositiononJTUpdate').css("background-color", "green");
            $('#btnPositiononJTUpdate').css("color", "white");

        }
        if(_oImportInvoice.NotingDateInString!="")
        {
            $('#lblNoting').css("color", "green");
            $('#btnNotingUpdate').css("background-color", "green");
            $('#btnNotingUpdate').css("color", "white");

        }
        if(_oImportInvoice.BillofEntryNo!="" && _oImportInvoice.BillofEntryDateSt!="")
        {
            $('#lblBOE').css("color", "green");
            $('#btnBillOfEntryUpdate').css("background-color", "green");
            $('#btnBillOfEntryUpdate').css("color", "white");

        }
        if(_oImportInvoice.AssesmentDateInString!="")
        {
            $('#lblAssesment').css("color", "green");
            $('#btnAssesmentUpdate').css("background-color", "green");
            $('#btnAssesmentUpdate').css("color", "white");

        }
        if(_oImportInvoice.ExamineDateInString!="")
        {
            $('#lblExamine').css("color", "green");
            $('#btnExamineUpdate').css("background-color", "green");
            $('#btnExamineUpdate').css("color", "white");

        }
        if(_oImportInvoice.DOReceiveFromDateInString!="")
        {
            $('#lblDORFSL').css("color", "green");
            $('#btnDOReceiveFromUpdate').css("background-color", "green");
            $('#btnDOReceiveFromUpdate').css("color", "white");

        }
        if(_oImportInvoice.DeliveryNoticeDateSt!="" && _oImportInvoice.DeliveryNoticeDateSt!="01 Jan 1900")
        {
            $('#lblDeliveryNotice').css("color", "green");
            $('#btnDeliveryNoticeDate').css("background-color", "green");
            $('#btnDeliveryNoticeDate').css("color", "white");
        }
    }
    function ValidateInput()
    {
        debugger;
        if(parseInt(_oImportInvoice.ImportInvoiceID)<=0)
        {
            alert("Invalid Invoice");
            return false;
        }
        if(parseInt(_oImportInvoice.InvoiceStatusInt)<5)
        {
            alert("You are not able to Add This Date Now");
            return false;
        }
        //if(parseInt(_oImportInvoice.InvoiceStatusInt)>=12)
        //{
        //    alert("You Can Not Change Any Date");
        //    return false;
        //}
        return true;
    }
    $("#btnPositiononOuterUpdate").click(function(){
        if(!ValidateInput())return;
        if($.trim($('#txtPositiononOuterDate').datebox('getValue'))=="")
        {
            alert("Please Enter Positionon Outer Update");
            return;
        }
        var oImportInvoice =
        {
            ImportInvoiceID: _oImportInvoice.ImportInvoiceID,
            InvoiceStatusInt: 6,// Assesment_Done = 6
            CommonDate:new Date($('#txtPositiononOuterDate').datebox('getValue')),
            CommonRemarks: $('#txtPositiononOuterRemarks').val(),
            BillofEntryDate:new Date(),
            DateofBankInfo:new Date(),
            DateOfTakeOutDoc:new Date(),
            DateofNegotiation :new Date(),
            DateofAcceptance :new Date(),
            DateofMaturity :new Date()
        }
        Save(oImportInvoice);
    });
    $("#btnPositiononJTUpdate").click(function(){
        if(!ValidateInput())return;
        if($.trim($('#txtPositiononJTDate').datebox('getValue'))=="")
        {
            alert("Please Enter JT Date");
            return;
        }

        var oImportInvoice =
        {
            ImportInvoiceID: _oImportInvoice.ImportInvoiceID,
            InvoiceStatusInt: 7,// Assesment_Done = 6
            CommonDate:new Date($('#txtPositiononJTDate').datebox('getValue')),
            CommonRemarks: $('#txtPositiononJTRemarks').val(),
            BillofEntryDate:new Date(),
            DateofBankInfo:new Date(),
            DateOfTakeOutDoc:new Date(),
            DateofNegotiation :new Date(),
            DateofAcceptance :new Date(),
            DateofMaturity :new Date()
        }
        Save(oImportInvoice);
    });

    $("#btnAssesmentUpdate").click(function(){
        if(!ValidateInput())return;
        if($.trim($('#txtAssesmentDate').datebox('getValue'))=="")
        {
            alert("Please Enter Assesment Update Date");
            return;
        }
        var oImportInvoice =
        {
            ImportInvoiceID: _oImportInvoice.ImportInvoiceID,
            InvoiceStatusInt: 9,// Assesment_Done = 6
            CommonDate:new Date($('#txtAssesmentDate').datebox('getValue')),
            CommonRemarks: $('#txtAssesmentRemarks').val(),
            BillofEntryDate:new Date(),
            DateofBankInfo:new Date(),
            DateOfTakeOutDoc:new Date(),
            DateofNegotiation :new Date(),
            DateofAcceptance :new Date(),
            DateofMaturity :new Date()
        }
        Save(oImportInvoice);
    });
    $("#btnNotingUpdate").click(function(){
        if(!ValidateInput())return;
        if($.trim($('#txtNotingDate').datebox('getValue'))=="")
        {
            alert("Please Enter Noting Update Date");
            return;
        }

        var oImportInvoice =
        {
            ImportInvoiceID: _oImportInvoice.ImportInvoiceID,
            InvoiceStatusInt: 8,// Noting_Done = 7
            CommonDate:new Date($('#txtNotingDate').datebox('getValue')),
            CommonRemarks: $('#txtNotingRemarks').val(),
            BillofEntryDate:new Date(),
            DateofBankInfo:new Date(),
            DateOfTakeOutDoc:new Date(),
            DateofNegotiation :new Date(),
            DateofAcceptance :new Date(),
            DateofMaturity :new Date()
        }
        Save(oImportInvoice);
    });
    $("#btnExamineUpdate").click(function(){
        if(!ValidateInput())return;
        if($.trim($('#txtExamineDate').datebox('getValue'))=="")
        {
            alert("Please Enter Examine Update Date");
            return;
        }

        var oImportInvoice =
        {
            ImportInvoiceID: _oImportInvoice.ImportInvoiceID,
            InvoiceStatusInt: 10,// Examine_Done = 8
            CommonDate:new Date($('#txtExamineDate').datebox('getValue')),
            CommonRemarks: $('#txtExamineRemarks').val(),
            BillofEntryDate:new Date(),
            DateofBankInfo:new Date(),
            DateOfTakeOutDoc:new Date(),
            DateofNegotiation :new Date(),
            DateofAcceptance :new Date(),
            DateofMaturity :new Date()
        }
        Save(oImportInvoice);
    });
    $("#btnDOReceiveFromUpdate").click(function(){
        debugger;
        if(!ValidateInput())return;
        //if(parseInt(_oImportInvoice.InvoiceStatusInt)>11 && parseInt(_oImportInvoice.InvoiceStatusInt)<5)
        //{
        //    alert("You Can Not Edit Shipping Date");
        //    return false;
        //}
        if($('#txtDOReceiveFromDate').datebox('getValue')=="")
        {
            alert("Please Enter DO Receive From Ship Line Date");
            return;
        }
        var oImportInvoice =
        {
            ImportInvoiceID: _oImportInvoice.ImportInvoiceID,
            InvoiceStatusInt: 11,// DOReceiveFrom_Done = 9
            CommonDate:new Date($('#txtDOReceiveFromDate').datebox('getValue')),
            CommonRemarks: $('#txtDOReceiveFromRemarks').val(),
            BillofEntryDate:new Date(),
            DateofBankInfo:new Date(),
            DateOfTakeOutDoc:new Date(),
            DateofNegotiation :new Date(),
            DateofAcceptance :new Date(),
            DateofMaturity :new Date()

        }
        Save(oImportInvoice);
    });
    $("#btnBillOfEntryUpdate").click(function(){
        if(!ValidateInput())return;
        if($.trim($('#txtBillofEntryNo').val())=="")
        {
            alert("Please Enter The Bill Entry Number");
            $('#txtBillofEntryNo').focus();
            return;
        }
        if($('#txtBillofEntryDate').datebox('getValue')=="")
        {
            alert("Please Enter The Bill Entry Date");
            return;
        }
        var oImportInvoice =
        {
            ImportInvoiceID: _oImportInvoice.ImportInvoiceID,
            InvoiceStatusInt: 12,// GoodsInTransit_Done = 10
            CommonDate:new Date($('#txtBillofEntryDate').datebox('getValue')),
            BillofEntryDate:new Date($('#txtBillofEntryDate').datebox('getValue')),
            BillofEntryNo : $('#txtBillofEntryNo').val(),
            DateofBankInfo:new Date(),
            DateOfTakeOutDoc:new Date(),
            DateofNegotiation :new Date(),
            DateofAcceptance :new Date(),
            DateofMaturity :new Date()
        }
        Save(oImportInvoice);
    });
    $("#btnDeliveryNoticeDate").click(function(){
        var oImportInvoice =
        {
            ImportInvoiceID: _oImportInvoice.ImportInvoiceID,
            DeliveryNoticeDate: new Date($('#txtDeliveryNoticeDate').datebox('getValue')),
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ImportInvoice/SaveDeliveryNotice",
            traditional: true,
            data:  JSON.stringify(oImportInvoice),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                var   result = jQuery.parseJSON(data);
                if (result == true)
                {
                    alert("Data Save Successfully");
                    $('#lblDeliveryNotice').css("color", "green");
                    $('#btnDeliveryNoticeDate').css("background-color", "green");
                    $('#btnDeliveryNoticeDate').css("color", "white");
                    location.reload();
                }
                else
                {
                    alert("Error");
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    });
    function Save(oImportInvoice)
    {
        debugger;
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ImportInvoice/SaveCustomInfo",
            traditional: true,
            data:  JSON.stringify(oImportInvoice),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                var   oImportInvoice = jQuery.parseJSON(data);
                if (oImportInvoice.ErrorMessage=="" || oImportInvoice.ErrorMessage==null)
                {
                    alert("Data Save Successfully");
                    window.location.href = window.location.href;
                }
                else
                {
                    alert(oImportInvoice.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    }
    function Close()
    {
        sessionStorage.setItem("ImportInvoice",JSON.stringify(_oImportInvoice) );   
        var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        window.location.href = _sBackLink;
    }

    $(document).keydown(function(e) {
        if(e.which == 27)//escape=27
        {
            window.location.href = _sBackLink
        }
    });
    $("#btnPrintDeliveryNotice").click(function () {
        debugger;
           
        if(parseInt(_oImportInvoice.ImportInvoiceID)<=0)
        {
            alert("Sorry, there is no Invoice.");
            return false;
        }
       
        window.open(_sBaseAddress + '/ImportInvoice/PrintPackingList_CNF?id='+ _oImportInvoice.ImportInvoiceID+"&sIsCnf="+"FromCustomInfo", "_blank");
    });
    </script>