<html>
@{
    ViewBag.title = "Document Release";
}
@model ESimSol.BusinessObjects.ImportInvoice
<body>
    <div class="menuMainCollectionTable" id="divImportInvoice" class="easyui-panel" title="Add  Invoice" style="font-family:Tahoma; height:100%; width:100%">
        <div class="easyui-panel" title="Send to CNF" style="font-family:Tahoma; height:89%; width:100%">
            <fieldset>
                <legend style="font-weight:bold">Invoice Info: </legend>
                <table border="0" cellspacing="4" cellpadding="4" style="width:100%;font-size:11px; font-weight:bold">
                    
                    <tr>
                        <td style="width:15%; text-align:right">
                            Invoice No:
                        </td>
                        <td colspan="3" style="width:30%">
                            <input id="txtInvoiceNo" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:15%; text-align:right">
                            <label id="lblAmendmentNo">L/C No :</label>
                        </td>
                        <td style="width:25%">
                            <input id="txtLCNo" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                    <tr>
                        <td style="width:15%; text-align:right">
                            Supplier Name:
                        </td>
                        <td colspan="3" style="width:30%">
                            <input id="txtContractorName" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:15%; text-align:right">
                            Bank Name :
                        </td>
                        <td style="width:25%">
                            <input id="txtBankName" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                    <tr>
                        <td style="width:15%; text-align:right">
                            Invoice Date:
                        </td>
                        <td colspan="3" style="width:30%">
                            <input id="txtInvoiceDate" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:15%; text-align:right">
                            L/C Date  :
                        </td>
                        <td style="width:25%">
                            <input id="txtLCDate" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                    <tr>
                        <td style="width:15%; text-align:right">
                            Invoice Value:
                        </td>
                        <td colspan="3" style="width:30%">
                            <input id="txtInvoiceValue" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:15%; text-align:right">
                            L/C Value :
                        </td>
                        <td style="width:25%">
                            <input id="txtLCValue" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                    <tr>
                        <td style="width:15%; text-align:right">
                            Payment Type:
                        </td>
                        <td colspan="3" style="width:30%">
                            <input id="txtLCPaymentType" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:15%; text-align:right">
                            L/C Status :
                        </td>
                        <td style="width:25%">
                            <input id="txtLCStatus" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                    <tr>
                        <td style="width:15%; text-align:right">
                            Invoice Status :
                        </td>
                        <td colspan="3" style="width:30%">
                            <input id="txtInvoiceStatus" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:15%; text-align:right">
                            Bank Status :
                        </td>
                        <td style="width:25%">
                            <input id="txtBankStatus" style="width: 100%;font-size:12px; font-weight:bold" class="type-diabaled" disabled />
                        </td>
                        <td style="width:10%; text-align:right"></td>
                    </tr>
                    
                 
                </table>
            </fieldset>
            <fieldset id="ImportBL">
                <legend> <span style=" font-weight:bold; color:gray; ">Import BL</span></legend>
                <table border="0" cellspacing="2" cellpadding="2" style="width: 100%;font-weight: bold; font-size: 12px">
                    
                    <tr style="height:40px">
                        <td style="width:20%;text-align:right">
                            <label style="margin: 4px 16px 0 91px;float:right;">BL No</label>
                        </td>
                        <td style="width:25%;text-align:left">
                            <input type="text" style="float: left;width: 180px;" id="txtBlNo" />
                        </td>
                        <td style="width:20%;text-align:right">
                            <div><span style="margin:4px 14px 0 88px;float:right"> BL Date </span></div>
                        </td>
                        <td style="width:25%;text-align:left">
                            <input id="txtBlDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 180px;float:left" />
                        </td>
                    </tr>
                    <tr style="height:40px">
                        <td style="width:20%;text-align:right">
                            <label style="margin: 4px 19px 0 41px;float:right;">Shipping Line</label>
                        </td>
                        <td style="width:25%;text-align:left">
                            @*<select id="cboBLShippingLine" style="float: left;width: 185px;"></select>*@
                            <input type="text" style="float: left;width: 185px;" id="txtBLShippingLine" />
                            <a id="btnAddBLShippingLine" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="AddBLShippingLine()"></a>
                        </td>
                        <td style="width:20%;text-align:right">
                            <div><span style="padding-right:5px;margin: 4px 9px 0 79px;float:right;"> ETA Date </span></div>
                        </td>
                        <td style="width:25%;text-align:left">
                            <div><input id="txtBLETADate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 180px;float:left" /> </div>
                        </td>

                    </tr>
                    <tr style="height:40px">
                        <td style="width:20%;text-align:right">
                            <label style="margin: 4px 19px 0 28px;float:right;">Port of Loading</label>
                        </td>
                        <td style="width:25%;text-align:left">
                            @*<select id="cboBLPortOfLoading" style="float: left;width: 185px;"></select>*@
                            <input type="text" style="float: left;width: 185px;" id="txtLoading" />
                            <a id="btnAddBLShippingLine" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="AddLoading()"></a>
                        </td>
                        <td style="width:20%;text-align:right">
                            <label style="margin: 4px 19px 0 24px;float:right;">Destination Port</label>
                        </td>
                        <td style="width:25%;text-align:left">
                            @*<select id="cboBLDestinationPort" style="float: left;width: 185px;"></select>*@
                            <input type="text" style="float: left;width: 185px;" id="txtDestination"  />
                            <a id="btnAddBLShippingLine" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="AddDestination()"></a>
                        </td>
                    </tr>
                 
                    <tr style="height:40px">
                        <td style="width:20%;text-align:right">
                            <label style="margin: 4px 19px 0 58px;">Remarks</label>
                        </td>
                        <td colspan="3" style="width:70%;text-align:left">
                            <input type="text" id="txtBLVesselInfo" style="width:87%;" />
                        </td>
                        
                    </tr>
                    <tr style="height:130px">
                        <td style="width:20%;text-align:right"></td>
                        <td style="width:25%;text-align:left"></td>
                        <td style="width:20%;text-align:right"></td>
                        <td style="width:25%"></td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="0" cellpadding="0" style="font-size: 11px; font-weight: bold; width:100%">
                <tr>
                    <td style="width: 20%;text-align:left;">
                    </td>
                    <td style="width:50%; text-align:right">
                        <div style="width: 95%;margin: 0 auto;text-align: center;font-size: 15px; float: left;">
                            <span class="lblToolTip"></span>
                        </div>
                    </td>
                    <td style="width: 20%;text-align:right;">
                        <a id="btnBLSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                    </td>
                    <td style="width: 10%;text-align:right;">
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="Close()" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
        </div>

    <div id="winRLPicker" class="easyui-window winstyle" title="Route Location Picker" style="width:400px; height:300px" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="font-family:Tahoma">
            <div class="easyui-panel" style="width:380px;height:170px;overflow:auto">
                <table border="0" cellspacing="2" cellpadding="3" style="margin:1% auto; font-size:11px; font-weight:bold; text-align:center; width:95%">
                    <tr>
                        <td style="height:20px;">&nbsp;</td>
                        <td style="height:20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width:30%; text-align:right">
                            Location Code :
                        </td>
                        <td style="width:70%; text-align:left">
                            @*@Html.TextBoxFor(model => model.LocCode, new { style = "width:70%", id = "txtLocCode", disabled = "disabled" })*@
                            <input type="text" id="txtLocCode" style="width:70%" disabled />

                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%; text-align:right">
                            Location Type :
                        </td>
                        <td style="width:70%; text-align:left">
                            @*@Html.DropDownListFor(model => model.LocationTypeInt, Model.LocationTypes.Select(x => new SelectListItem() { Text = x.Value, Value = x.id.ToString() }), new { id = "cboLocationType", style = "width:70%" })*@
                            <select id="cboLocationType" style="width:70%" disabled></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%; text-align:right">
                            Location Name :
                        </td>
                        <td style="width:70%; text-align:left">
                            @*@Html.TextBoxFor(model => model.Name, new { style = "width:70%", id = "txtName" })*@
                            <input type="text" id="txtName" style="width:70%" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%; text-align:right">
                            Remarks :
                        </td>
                        <td style="width:70%; text-align:left">
                            @*@Html.TextBoxFor(model => model.Description, new { style = "width:70%", id = "txtDescription" })*@
                            <input type="text" id="txtDescription" style="width:70%" />
                        </td>
                    </tr>
                </table>
            </div>

            <fieldset>
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:60%; text-align:right">
                        </td>
                        <td style="width:40%;">
                            <a id="btnSaveRL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" style="">Save</a>
                            <a id="btnCloseRL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" style="">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
    </body>
    </html>
<style>
    .fontColorOfPickItem {
        font-weight:bold;
        color:blue;
    }
</style>
    <script type="text/javascript">
    var _oImportInvoice=null;
    var _oPInvoiceHistory=null;
    var _sBaseAddress="";
    var _oImportBL=[];
    var _sHeader="";
    var _sBackLink="";
    var _nTotalExpAmount=0;
    var _nType = 0;
    var _oLocationTypes = null;
    var _oRouteLocations = null;
    $(document).ready(function () {
        debugger;
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oImportInvoice = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oImportBL=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ImportBL));
        _oRouteLocations = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.RouteLocations));
        _oLocationTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.LocationTypes));

        LoadComboBox(_oRouteLocations);
        $('#cboLocationType').icsLoadCombo({List: _oLocationTypes,OptionValue: "id",DisplayText: "Value"});
        RefreshLabel();
        _sBackLink=sessionStorage.getItem("BackLink");
        RefreshAutoComplete();
    });



    function RefreshLabel()
    {
        debugger;
        $("#txtInvoiceNo").val(_oImportInvoice.ImportInvoiceNo);
        $("#txtLCNo").val(_oImportInvoice.ImportLCNo);
        $("#txtContractorName").val(_oImportInvoice.ContractorName);
        $("#txtBankName").val(_oImportInvoice.BankName_Nego);
        $("#txtInvoiceDate").val(_oImportInvoice.InvoiceDateInString);
        $("#txtLCDate").val(_oImportInvoice.ImportLCDateInString);
        $("#txtInvoiceValue").val(_oImportInvoice.AmountSt);
        $("#txtLCValue").val(_oImportInvoice.AmountLCInSt);
        $("#txtLCPaymentType").val(_oImportInvoice.LCPaymentType);
        $("#txtLCStatus").val(_oImportInvoice.LCCurrentStatusSt);
        $("#txtInvoiceStatus").val(_oImportInvoice.CurrentStatusInSt);
        $("#txtBankStatus").val(_oImportInvoice.BankStatusInSt);


        $("#txtBlNo").val(_oImportBL.BLNo);
        //$("#txtBLContainer").val(_oImportBL.ContainerCount);
        $("#txtBLVesselInfo").val(_oImportBL.VesselInfo);
        $('#txtBlDate').datebox('setValue',_oImportBL.BLDateInString);
        $('#txtBLETADate').datebox('setValue',_oImportBL.ETAInString);
        //$('#txtBLIssueDate').datebox('setValue',_oImportBL.IssueDateInString);
        //$('#txtBLShipmentDate').datebox('setValue',_oImportBL.ShipmentDateInString);
        //$("#cboBLShippingLine").val(_oImportBL.ShippingLine);
        //$("#cboBLPortOfLoading").val(_oImportBL.LandingPort);
        //$("#cboBLDestinationPort").val(_oImportBL.DestinationPort);
        
        $("#txtBLShippingLine").val(_oImportBL.ShippingLineName);
        $("#txtLoading").val(_oImportBL.LandingPortName);
        $("#txtDestination").val(_oImportBL.DestinationPortName);
        
        $('#ImportBL').data('SelectedShippingLine', _oImportBL.ShippingLine);
        $('#ImportBL').data('SelectedLandingPort', _oImportBL.LandingPort);
        $('#ImportBL').data('SelectedDestinationPort', _oImportBL.DestinationPort);
        //$("#cboBLPlaceOfIssues").val(_oImportBL.PlaceOfIssue);

    }

    //BL Control
    function LoadComboBox(oRouteLocations)
    {
        debugger;
        var oShippingLines = [],oPortOfLoadings = [],oDestinationPorts = [],oPlaceOfIssues = [],oOtherLocations = [];
        for(var i=0;i<oRouteLocations.length;i++)
        {
            if(oRouteLocations[i].LocationType == 1)
            {
                oShippingLines.push(oRouteLocations[i]);
            }
            else if(oRouteLocations[i].LocationType == 2)
            {
                oPortOfLoadings.push(oRouteLocations[i]);
            }
            else if(oRouteLocations[i].LocationType == 3)
            {
                oDestinationPorts.push(oRouteLocations[i]);
            }
            else if(oRouteLocations[i].LocationType == 4)
            {
                oPlaceOfIssues.push(oRouteLocations[i]);
            }
            else if(oRouteLocations[i].LocationType == 5)
            {
                oOtherLocations.push(oRouteLocations[i]);
            }
        }
        $("#cboBLShippingLine").icsLoadCombo({List: oShippingLines,OptionValue: "RouteLocationID",DisplayText: "Name"});
        $("#cboBLPortOfLoading").icsLoadCombo({List: oPortOfLoadings,OptionValue: "RouteLocationID",DisplayText: "Name"});
        $("#cboBLDestinationPort").icsLoadCombo({List: oDestinationPorts,OptionValue: "RouteLocationID",DisplayText: "Name"});
        //$("#cboBLPlaceOfIssues").icsLoadCombo({List: oPlaceOfIssues,OptionValue: "RouteLocationID",DisplayText: "Name"});
        $("#cboLandingPort").icsLoadCombo({List: oOtherLocations,OptionValue: "RouteLocationID",DisplayText: "Name"});
    }
    function RefreshObjectForBL()
    {

        var oNewImportBL = {
            ImportBLID          : (_oImportBL==null?0:_oImportBL.ImportBLID),
            BLNo                : $("#txtBlNo").val(),
            BLDate              : new Date($('#txtBlDate').datebox('getValue')),
            ShippingLine        : $('#ImportBL').data('SelectedShippingLine'),
            ETA                 : new Date($('#txtBLETADate').datebox('getValue')),
            LandingPort         : $('#ImportBL').data('SelectedLandingPort'),
            DestinationPort     : $('#ImportBL').data('SelectedDestinationPort'),
            //ShipmentDate        : new Date($('#txtBLShipmentDate').datebox('getValue')),
            PlaceOfIssue        : 0,//parseInt($("#cboBLPlaceOfIssues").val()),
            VesselInfo          : $("#txtBLVesselInfo").val(),
            ImportInvoiceID     : _oImportInvoice.ImportInvoiceID
        };
        return oNewImportBL;
    }
    $('#btnBLSave').click( function(){
        if($("#txtBlNo").val() == "")
        {
            alert("Please Give BL No");
            return false;
        }
        var sBLDate = $('#txtBlDate').datebox('getValue');
        if(sBLDate===null || sBLDate === "")
        {
            alert("Please select BL Date!");
            return false;
        }

        var oImportBL = RefreshObjectForBL();

        if(oImportBL.ImportInvoiceID<=0)
        {
            alert("Invalid Invoice.");
            return false;
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ImportBL/Save",
            traditional: true,
            data:  JSON.stringify(oImportBL),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oImportBL = jQuery.parseJSON(data);
                if(parseInt(oImportBL.ImportBLID)>0)
                {
                    alert("Successfully Saved BL.");
                    _oImportInvoice.CurrentStatusInSt="Shipment Done";
                    _oImportInvoice.InvoiceStatusInt=2;
                    var oImportInvoices = sessionStorage.getItem("ImportInvoices");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if (oImportInvoices != null) {
                        oImportInvoices = jQuery.parseJSON(oImportInvoices);
                    }
                    else {
                        oImportInvoices = [];
                    }
                    if (nIndex != -1) {
                        oImportInvoices[nIndex] = _oImportInvoice;
                    }
                    else {
                        sessionStorage.setItem("SelectedRowIndex", oImportInvoices.length);
                        oImportInvoices.push(_oImportInvoice);
                    }
                    sessionStorage.setItem("ImportInvoices", JSON.stringify(oImportInvoices));
                    window.location.href = _sBackLink;

                }
                else{
                    alert(oImportBL.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });
    //BL End



    function Close()
    {
        window.location.href = _sBackLink;
    }

    $(document).keydown(function(e) {
        if(e.which == 27)//escape=27
        {
            window.location.href = _sBackLink
        }
    });


    function RefreshAutoComplete()
    {
        $('#txtBLShippingLine').autocomplete({
            serviceUrl: _sBaseAddress+"/ImportInvoice/GetsRouteLocations?Type=1",
            paramName: "SearchText",
            delimiter: ",",
            minChars : 2,
            transformResult: function(response) {
                return {
                    suggestions: $.map($.parseJSON(response), function(item) {
                        return { value: item.Name, data: item.RouteLocationID };
                    })
                };
            },
            onSelect: function (suggestion) {
                $('#ImportBL').data('SelectedShippingLine', suggestion.data);
                $("#txtBLShippingLine").addClass("fontColorOfPickItem");
            },
            onSearchStart: function (query) {
                $('#ImportBL').data('SelectedShippingLine', 0);
                $("#txtBLShippingLine").removeClass("fontColorOfPickItem");
            }
        });


        $('#txtLoading').autocomplete({
            serviceUrl: _sBaseAddress+"/ImportInvoice/GetsRouteLocations?Type=2",
            paramName: "SearchText",
            delimiter: ",",
            minChars : 2,
            transformResult: function(response) {
                return {
                    suggestions: $.map($.parseJSON(response), function(item) {
                        return { value: item.Name, data: item.RouteLocationID };
                    })
                };
            },
            onSelect: function (suggestion) {
                $('#ImportBL').data('SelectedLandingPort', suggestion.data);
                $("#txtLoading").addClass("fontColorOfPickItem");
            },
            onSearchStart: function (query) {
                $('#ImportBL').data('SelectedLandingPort', 0);
                $("#txtLoading").removeClass("fontColorOfPickItem");
            }
        });


        $('#txtDestination').autocomplete({
            serviceUrl: _sBaseAddress+"/ImportInvoice/GetsRouteLocations?Type=3",
            paramName: "SearchText",
            delimiter: ",",
            minChars : 2,
            transformResult: function(response) {
                return {
                    suggestions: $.map($.parseJSON(response), function(item) {
                        return { value: item.Name, data: item.RouteLocationID };
                    })
                };
            },
            onSelect: function (suggestion) {
                $('#ImportBL').data('SelectedDestinationPort', suggestion.data);
                $("#txtDestination").addClass("fontColorOfPickItem");
            },
            onSearchStart: function (query) {
                $('#ImportBL').data('SelectedDestinationPort', 0);
                $("#txtDestination").removeClass("fontColorOfPickItem");
            }
        });
    }
        
    function AddBLShippingLine() {
        debugger;
        _nType = 1;
        $('#cboLocationType').val(1);
        $("#winRLPicker").icsWindow('open', "Add Shipping Line");
    }
    function AddLoading() {
        debugger;
        _nType= 2;
        $('#cboLocationType').val(2);
        $("#winRLPicker").icsWindow('open', "Add Landing Port");
    }
    function AddDestination() {
        debugger;
        _nType= 3;
        $('#cboLocationType').val(3);
        $("#winRLPicker").icsWindow('open', "Add Destination Port");
    }
    function ValidateInputRL()
    {
        if(parseInt($("#cboLocationType").val()) <=0)
        {
            alert("Please select a Location Type.");
            return false;
        }

        if($("#txtName").val() ===null || $("#txtName").val() === "")
        {
            alert("Please give a Name.");
            return false;
        }

        if(_oImportInvoice.BUID <= 0)
        {
            alert("Invalid Business Unit");
            return false;
        }
        return true;
    }
    function RefreshObjectRL() {
        var oRouteLocation = {
            RouteLocationID : 0,
            LocCode : $("#txtLocCode").val(),
            LocationTypeInt : parseInt($("#cboLocationType").val()),
            Name  : $("#txtName").val(),
            BUID : _oImportInvoice.BUID,
            Description :  $.trim($("#txtDescription").val())
        };
        return oRouteLocation;
    }
    $('#btnSaveRL').click(function(e){
        if(!ValidateInputRL()) return;
        var oRouteLocation = RefreshObjectRL();        
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@Url.Action("Save", "RouteLocation")',
            traditional: true,
            data: JSON.stringify(oRouteLocation),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oRouteLocation = jQuery.parseJSON(data);
                if(oRouteLocation.RouteLocationID>0){
                    alert("Successfully Saved");
                    if(_nType == 1)
                    {
                        $('#txtBLShippingLine').val(oRouteLocation.Name);
                        $('#ImportBL').data('SelectedShippingLine', oRouteLocation.RouteLocationID);
                    }
                    if(_nType == 2)
                    {
                        $('#txtLoading').val(oRouteLocation.Name);
                        $('#ImportBL').data('SelectedLandingPort', oRouteLocation.RouteLocationID);
                    }
                    if(_nType == 3)
                    {
                        $('#txtDestination').val(oRouteLocation.Name);
                        $('#ImportBL').data('SelectedDestinationPort', oRouteLocation.RouteLocationID);
                    }
                    
                    $("#txtName").val("");
                    $("#txtDescription").val("");

                    $("#winRLPicker").icsWindow('close');
                }
                else{
                    alert(oRouteLocation.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });    

    $('#btnCloseRL').click(function(e){
            
        $("#txtName").val("");
        $("#txtDescription").val("");
        $("#winRLPicker").icsWindow('close');
    });
</script>