
@model ESimSol.BusinessObjects.BalanceSheet
@{
    ViewBag.Title = "Balance Sheet";
}


<table border="0">
    <tr>
        <td style="width:448px"> 
            <div style="margin-left:0px; height:530px">
                <table id="tblAssets" title="Balance Sheet (Assets)"  class="easyui-datagrid" style="width:448px;height:528px" fitColumns="false" rownumbers="false" pagination="false" singleSelect="true", autoRowHeight="false" toolbar="#toolbar1"
                data-options="
                rowStyler: function(index,row){  
                    if (row.AccountType == 2){  
                        return 'background-color:#6293BB;color:#fff;font-weight:bold;';  
                    }  
                    if (row.AccountType == 3){  
                        return 'background-color:#DEDEDE; font-weight:bold;';
                    }                   
                }
                ">
                    <thead>  
                        <tr>
                            <th field="AccountHeadName" width="195"  align="left">Particulars</th>                
                            <th field="LedgerBalanceInString" width="115"  align="right" ></th>                                       
                            <th field="CGSGBalanceInStringTest" width="115"  align="right" ></th>
                        </tr>  
                    </thead> 
                </table>​  
                <div id="toolbar1">                           
                    <label id="lblStatementDate" style ="font-weight:bold">Session Date= 01-Jan-2013  to 31-Dec-2013</label>
                </div>  
            </div>
        </td>
        <td style="width:448px"> 
            <div style="margin-left:0px; height:530px">
                <table id="tblLiability" title="Balance Sheet (Liability & Owner Equity)"  class="easyui-datagrid" style="width:448px;height:528px" fitColumns="false" rownumbers="false" pagination="false" singleSelect="true", autoRowHeight="false" toolbar="#toolbar2"
                    data-options="
                    rowStyler: function(index,row){  
                        if (row.AccountType == 2){  
                            return 'background-color:#6293BB;color:#fff;font-weight:bold;';  
                        }  
                        if (row.AccountType == 3){  
                            return 'background-color:#DEDEDE; font-weight:bold;';
                        }
                    }
                ">
                    <thead>  
                        <tr>                            
                            <th field="AccountHeadName" width="195"  align="left">Particulars</th>                
                            <th field="LedgerBalanceInString" width="115"  align="right"></th>                                       
                            <th field="CGSGBalanceInStringTest" width="115"  align="right"></th>                                         
                        </tr>  
                    </thead> 
                </table>​  
                <div id="toolbar2" style="text-align:right">                                           
                    <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-print" plain="true">Print</a>
                </div>  
            </div>
        </td>
    </tr>
</table>
<table border="0" style="background-color:#DEDEDE">
    <tr>
        <td style="width:448px; text-align:right; font-weight:bold; font-size:small"> 
            <label id="lblAssetTotal" style="margin-right:20px">Total : 0.00</label>
        </td>
        <td style="width:448px; text-align:right; font-weight:bold; font-size:small"> 
            <label id="lblLiabilityTotal" style="margin-right:20px">Total : 0.00</label>
        </td>
    </tr>
</table>
<script type="text/javascript">
var _oBalanceSheet=null;
var _oAssets=[];
var _oLiabilityAndOwnerEquitys=[];
var _sBaseAddress="";
var _oCreditChartOfAccount=null;
$(document).ready(function () {
        //debugger;          
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));                    
        _oBalanceSheet =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 
        _oLiabilityAndOwnerEquitys =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.LiabilitysOwnerEquitys)); 
        _oAssets =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.Assets));         
        RefreshList(_oLiabilityAndOwnerEquitys, _oAssets);
});     
    
function formatPrice(val,row){  
//debugger;

    if(val==null || val=="")
    {
        val=0.00;
    }
    
    val=parseFloat(val);
    var test = val.toFixed(2);
    var tests = addComma(test);
    return tests;       
} 
function addComma(nStr)
{
	nStr += '';
	x = nStr.split('.');
	x1 = x[0];
	x2 = x.length > 1 ? '.' + x[1] : '';
	var process = /(\d+)(\d{3})/;
	while (process.test(x1)) {
		x1 = x1.replace(process, '$1' + ',' + '$2');
	}
	return x1 + x2;
} 

function RefreshList(oLiabilityAndOwnerEquitys, oAssets)
{   
    data =oLiabilityAndOwnerEquitys;       
    data={"total":""+data.length+"","rows":data};
    $('#tblLiability').datagrid('loadData',data);


    data =oAssets;       
    data={"total":""+data.length+"","rows":data};
    $('#tblAssets').datagrid('loadData',data);
    var TotalAsst = _oBalanceSheet.TotalAssets.toFixed(2);
    var TotalAsset = addComma(TotalAsst);
    var TotalLOE = _oBalanceSheet.TotalLiabilitysOwnerEquitys.toFixed(2);
    var TotalLOEs = addComma(TotalLOE);
    
    document.getElementById('lblAssetTotal').innerHTML ="Total : "+ TotalAsset;
    document.getElementById('lblLiabilityTotal').innerHTML ="Total : "+ TotalLOEs;
    document.getElementById('lblStatementDate').innerHTML =_oBalanceSheet.SessionDate;
}

    
$("#btnPrint").click(function(){
     var flag=false;
     if (confirm("Print describtive statement")) 
     {
        flag=true;
     }       
     window.open(_sBaseAddress+'/FinancialStatement/PrepareBalanceSheet?flag=' + flag, "_blank");
});
</script>