@model ESimSol.BusinessObjects.SP_ChangesInEquity
@{
    ViewBag.Title = "Changes In Equity";
}

<div id="divChanges" class="easyui-panel" title="Changes In Equity" style="margin-left: 0px; height:100%; width:100%" fit="true">
    <div class="easyui-layout" data-options="fit:true">
        <div data-options="region:'north',split:true" style="width:100%;padding:5px; overflow:hidden">
            <div style="margin-bottom:5px">

                <select id="cboSessions" style="width:200px;"></select>
                <select id="cboBUs" style="width:200px;"></select>

                <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="false">Refresh</a>
                <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="false">Changes In Equity</a>
                <a id="btnPrintXL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="false">Export To XL</a>
            </div>
        </div>
        <div data-options="region:'center'" style="width:100%;padding:20px; text-align:center;overflow:hidden;">
            <div style="width:100%;height:100%; overflow:hidden;">
                <div style="width:99.5%;height:99.5%; border:1px solid black;overflow:hidden;">
                    <div id="divHeader" style="width:100%;height:17%; overflow:hidden;">
                        <table id="tblHeader" border="0" cellpadding="1" cellspacing="0" style="width:100%;">
                            <tr>
                                <td style="width:100%;font-weight:bold;text-align:left; font-size:16px;"><label id="lblCompanyName">Cross World Ltd.</label></td>
                            </tr>
                            <tr>
                                <td style="width:100%;font-weight:bold;text-align:left; font-size:14px;color:grey;"><label id="lblReportName">Changes In Equity</label></td>
                            </tr>
                            <tr>
                                <td style="width:100%;font-weight:bold;text-align:left; font-size:14px;"><label id="lblStatementDate">For The Year Ended 30 July 2016</label></td>
                            </tr>
                            <tr>
                                <td style="width:100%;font-weight:bold;text-align:right; font-size:11px;"><label id="lblCurrency">All Amount Display in [BDT]</label></td>
                            </tr>
                        </table>
                    </div>
                    <div id="divReport" style="width:100%;height:83%; overflow:auto;">
                        <table id="tblChanges" border="0" cellpadding="1" cellspacing="0" style="width:96%;margin-left:20px;margin-right:20px;">
                            <tr>
                                @*<td style="width:2%;text-align:center;vertical-align:top;font-size:13px;font-weight:bold;"></td>*@
                                <td style="width:15%;text-align:center;vertical-align:top;font-size:13px;font-weight:bold;border-left:1px solid black;border-top:1px solid black;"></td>
                                <td style="width:8%;text-align:center;vertical-align:top;font-size:13px;font-weight:bold;border-left:1px solid black;border-top:1px solid black;">Share Capital</td>
                                <td style="width:8%;text-align:center;vertical-align:top;font-size:13px;font-weight:bold;border-left:1px solid black;border-top:1px solid black;">Share Premium</td>
                                <td style="width:11%;text-align:center;vertical-align:top;font-size:13px;font-weight:bold;border-left:1px solid black;border-top:1px solid black;">Excess of Issue Price Over Face Value of GDRs</td>
                                <td style="width:10%;text-align:center;vertical-align:top;font-size:13px;font-weight:bold;border-left:1px solid black;border-top:1px solid black;">Capital Reserve on Merger</td>
                                <td style="width:11%;text-align:center;vertical-align:top;font-size:13px;font-weight:bold;border-left:1px solid black;border-top:1px solid black;">Reveluation Gain on Investment</td>
                                <td style="width:11%;text-align:center;vertical-align:top;font-size:13px;font-weight:bold;border-left:1px solid black;border-top:1px solid black;">Fair Value Gain on Investment</td>
                                <td style="width:10%;text-align:center;vertical-align:top;font-size:13px;font-weight:bold;border-left:1px solid black;border-top:1px solid black;">Retained Earnings</td>
                                <td style="width:12%;text-align:center;vertical-align:top;font-size:13px;font-weight:bold;border-left:1px solid black;border-top:1px solid black;border-right:1px solid black;">Total</td>
                                @*<td style="width:2%;text-align:center;vertical-align:top;font-size:13px;font-weight:bold;"></td>*@
                            </tr>
                            </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<style>
   
    .highlight
    {
        background:#DAFFD6;
    }
    #tblChanges tr:hover td,
    #tblChanges tr:hover td.highlight
    {
        background:#D6DAD5;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        //debugger;
        var oSP_ChangesInEquity =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        $('#divChanges').data('obj',oSP_ChangesInEquity);

        var oCompany= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Company));
        sessionStorage.setItem("Company", JSON.stringify(oCompany));

        var oBUs = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUs));

        $('#cboBUs').data('objs',oBUs);
        $('#cboBUs').icsLoadCombo({
            List: oBUs,
            OptionValue: "BusinessUnitID",
            DisplayText: "Name",
            InitialValue : "--Select Business Unit--"
        });
        var oSessions= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Sessions));

        $('#cboSessions').data('objs',oSessions);
        $('#cboSessions').icsLoadCombo({
            List: oSessions,
            OptionValue: "AccountingSessionID",
            DisplayText: "SessionName",
            InitialValue : "--Select Session--"
        });

        debugger;
       

        ////refresh control
       $('#cboBUs').val(oSP_ChangesInEquity.BusinessUnitID);
        $('#cboSessions').val(oSP_ChangesInEquity.AccountingSessionID);

        $('#lblCompanyName').text(jQuery.parseJSON(sessionStorage.getItem("Company")).Name);
        $('#lblStatementDate').text('For The Year ended '+ oSP_ChangesInEquity.EndDateHeaderSt);
        $('#lblCurrency').text('All Amount Display in '+jQuery.parseJSON(sessionStorage.getItem("Company")).CurrencyName);
        /////end refresh control

        RefreshTable(oSP_ChangesInEquity);
       
        $('#Mainlayout').layout('collapse', 'west');
    });
    
    function ValidateInput()
    {
       
        if(!parseInt($('#cboSessions').val()) && parseInt($('#cboSessions').val())<=0) {
            alert("Please Select Session!!");
            $('#cboSessions').focus();
            return false;
        }
        return true;
    }
    $("#btnRefresh").click(function(){
        if(!ValidateInput()){return false;}

        var obj={
            AccountingSessionID:parseInt($('#cboSessions').val())?parseInt($('#cboSessions').val()):0,
            BusinessUnitID:parseInt($('#cboBUs').val())?parseInt($('#cboBUs').val()):0
        };
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/FinancialStatement/SetCIESessionData",
            traditional: true,
            data:  JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    window.location.href = sessionStorage.getItem('BaseAddress')+ "/FinancialStatement/ViewChangesInEquity?menuid="+parseInt(sessionStorage.getItem('MenuID'));
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

   
    function RefreshTable(oSP_ChangesInEquity)
    {
        var oSP_ChangesInEquitys = oSP_ChangesInEquity.SP_ChangesInEquitys;
       
        var nMaxRowIndex = document.getElementById('tblChanges').rows.length-1;
        for(var i=nMaxRowIndex; i>1; i--)
        {
            document.getElementById("tblChanges").deleteRow(i);
        }

        for(var i=0;  i<oSP_ChangesInEquitys.length; i++ )
        {
            
            if(oSP_ChangesInEquitys[i].TransactionType===2){


                var table = document.getElementById('tblChanges');
                var nRowIndex = table.rows.length;
                var row = table.insertRow(nRowIndex);




                //var cellBlank1 = row.insertCell(0);
                //cellBlank1.width= "2%";
                //cellBlank1.innerHTML = '';



                var cell = row.insertCell(0);
                cell.width= "15%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:12px;font-weight:bold;">'+oSP_ChangesInEquity.IncomeSt+' '+oSP_ChangesInEquity.SessionName+':'+'</label>';
                cell.style.textAlign = 'left';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(1);
                cell.width= "8%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(2);
                cell.width= "8%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(3);
                cell.width= "11%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(4);
                cell.width= "10%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(5);
                cell.width= "11%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(6);
                cell.width= "11%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(7);
                cell.width= "10%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(8);
                cell.width= "12%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';
                cell.style.borderRight='1px solid black';



                //var cellBlank2 = row.insertCell(10);
                //cellBlank2.width= "2%";
                //cellBlank2.innerHTML = '';


                var table = document.getElementById('tblChanges');
                var nRowIndex = table.rows.length;
                var row = table.insertRow(nRowIndex);




                //var cellBlank1 = row.insertCell(0);
                //cellBlank1.width= "2%";
                //cellBlank1.innerHTML = '';



                var cell = row.insertCell(0);
                cell.width= "15%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:12px;">'+oSP_ChangesInEquitys[i].TransactionTypeSt+'</label>';
                cell.style.textAlign = 'left';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(1);
                cell.width= "8%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].ShareCapitalSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(2);
                cell.width= "8%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].SharePremiumSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(3);
                cell.width= "11%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].ExcessOfIssuePriceSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(4);
                cell.width= "10%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].CapitalReserveSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(5);
                cell.width= "11%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].RevaluationSurplusSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(6);
                cell.width= "11%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].FairValueGainOnInvestmentSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(7);
                cell.width= "10%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].RetainedEarningsSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(8);
                cell.width= "12%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].TotalAmountSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';
                cell.style.borderRight='1px solid black';



                //var cellBlank2 = row.insertCell(10);
                //cellBlank2.width= "2%";
                //cellBlank2.innerHTML = '';
            }else if(oSP_ChangesInEquitys[i].TransactionType===3){

                var table = document.getElementById('tblChanges');
                var nRowIndex = table.rows.length;
                var row = table.insertRow(nRowIndex);




                //var cellBlank1 = row.insertCell(0);
                //cellBlank1.width= "2%";
                //cellBlank1.innerHTML = '';



                var cell = row.insertCell(0);
                cell.width= "15%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:12px;">'+oSP_ChangesInEquitys[i].TransactionTypeSt+'</label>';
                cell.style.textAlign = 'left';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(1);
                cell.width= "8%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].ShareCapitalSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(2);
                cell.width= "8%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].SharePremiumSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(3);
                cell.width= "11%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].ExcessOfIssuePriceSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(4);
                cell.width= "10%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].CapitalReserveSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(5);
                cell.width= "11%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].RevaluationSurplusSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(6);
                cell.width= "11%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].FairValueGainOnInvestmentSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(7);
                cell.width= "10%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].RetainedEarningsSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(8);
                cell.width= "12%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].TotalAmountSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';
                cell.style.borderRight='1px solid black';



                //var cellBlank2 = row.insertCell(10);
                //cellBlank2.width= "2%";
                //cellBlank2.innerHTML = '';
            }else if(oSP_ChangesInEquitys[i].TransactionType===4){


                var table = document.getElementById('tblChanges');
                var nRowIndex = table.rows.length;
                var row = table.insertRow(nRowIndex);




                //var cellBlank1 = row.insertCell(0);
                //cellBlank1.width= "2%";
                //cellBlank1.innerHTML = '';



                var cell = row.insertCell(0);
                cell.width= "15%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:12px;font-weight:bold;">'+oSP_ChangesInEquity.StockSt+'</label>';
                cell.style.textAlign = 'left';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(1);
                cell.width= "8%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(2);
                cell.width= "8%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(3);
                cell.width= "11%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(4);
                cell.width= "10%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(5);
                cell.width= "11%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(6);
                cell.width= "11%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(7);
                cell.width= "10%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(8);
                cell.width= "12%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';
                cell.style.borderRight='1px solid black';



                //var cellBlank2 = row.insertCell(10);
                //cellBlank2.width= "2%";
                //cellBlank2.innerHTML = '';


                var table = document.getElementById('tblChanges');
                var nRowIndex = table.rows.length;
                var row = table.insertRow(nRowIndex);




                //var cellBlank1 = row.insertCell(0);
                //cellBlank1.width= "2%";
                //cellBlank1.innerHTML = '';



                var cell = row.insertCell(0);
                cell.width= "15%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:12px;">'+oSP_ChangesInEquitys[i].TransactionTypeSt+'</label>';
                cell.style.textAlign = 'left';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(1);
                cell.width= "8%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].ShareCapitalSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(2);
                cell.width= "8%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].SharePremiumSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(3);
                cell.width= "11%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].ExcessOfIssuePriceSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(4);
                cell.width= "10%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].CapitalReserveSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(5);
                cell.width= "11%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].RevaluationSurplusSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(6);
                cell.width= "11%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].FairValueGainOnInvestmentSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(7);
                cell.width= "10%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].RetainedEarningsSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';

                var cell = row.insertCell(8);
                cell.width= "12%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;">'+oSP_ChangesInEquitys[i].TotalAmountSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                //cell.style.borderTop='1px solid black';
                cell.style.borderRight='1px solid black';



                //var cellBlank2 = row.insertCell(10);
                //cellBlank2.width= "2%";
                //cellBlank2.innerHTML = '';
            }else{
                var sBold='font-weight:bold;';

                var table = document.getElementById('tblChanges');
                var nRowIndex = table.rows.length;
                var row = table.insertRow(nRowIndex);




                //var cellBlank1 = row.insertCell(0);
                //cellBlank1.width= "2%";
                //cellBlank1.innerHTML = '';



                var cell = row.insertCell(0);
                cell.width= "15%";
                if(oSP_ChangesInEquitys[i].TransactionType===1){
                    sBold='font-weight:bold;';
                    cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:12px;'+sBold+'">'+oSP_ChangesInEquitys[i].TransactionTypeSt+' <br/>'+oSP_ChangesInEquity.StartDateFullSt+'</label>';
                }else if(oSP_ChangesInEquitys[i].TransactionType===7){
                    sBold='font-weight:bold;';
                    cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:12px;'+sBold+'">'+oSP_ChangesInEquitys[i].TransactionTypeSt+' <br/>'+oSP_ChangesInEquity.EndDateFullSt+'</label>';
                }else{
                    sBold='';
                    cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:12px;'+sBold+'">'+oSP_ChangesInEquitys[i].TransactionTypeSt+'</label>';
                }
                cell.style.textAlign = 'left';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(1);
                cell.width= "8%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;'+sBold+'">'+oSP_ChangesInEquitys[i].ShareCapitalSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(2);
                cell.width= "8%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;'+sBold+'">'+oSP_ChangesInEquitys[i].SharePremiumSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(3);
                cell.width= "11%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;'+sBold+'">'+oSP_ChangesInEquitys[i].ExcessOfIssuePriceSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(4);
                cell.width= "10%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;'+sBold+'">'+oSP_ChangesInEquitys[i].CapitalReserveSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(5);
                cell.width= "11%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;'+sBold+'">'+oSP_ChangesInEquitys[i].RevaluationSurplusSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(6);
                cell.width= "11%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;'+sBold+'">'+oSP_ChangesInEquitys[i].FairValueGainOnInvestmentSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(7);
                cell.width= "10%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;'+sBold+'">'+oSP_ChangesInEquitys[i].RetainedEarningsSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';

                var cell = row.insertCell(8);
                cell.width= "12%";
                cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;'+sBold+'">'+oSP_ChangesInEquitys[i].TotalAmountSt+'</label>';
                cell.style.textAlign = 'right';
                cell.style.verticalAlign ='middle';
                cell.style.borderLeft='1px solid black';
                cell.style.borderTop='1px solid black';
                cell.style.borderRight='1px solid black';



                //var cellBlank2 = row.insertCell(10);
                //cellBlank2.width= "2%";
                //cellBlank2.innerHTML = '';
            }
           
        }
        var table = document.getElementById('tblChanges');
        var nRowIndex = table.rows.length;
        var row = table.insertRow(nRowIndex);




        //var cellBlank1 = row.insertCell(0);
        //cellBlank1.width= "2%";
        //cellBlank1.innerHTML = '';



        var cell = row.insertCell(0);
        cell.width= "15%";
        cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
        cell.style.textAlign = 'left';
        cell.style.verticalAlign ='middle';
        //cell.style.borderLeft='1px solid black';
        cell.style.borderTop='1px solid black';

        var cell = row.insertCell(1);
        cell.width= "8%";
        cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
        cell.style.textAlign = 'right';
        cell.style.verticalAlign ='middle';
        //cell.style.border='1px solid black';
        cell.style.borderTop='1px solid black';

        var cell = row.insertCell(2);
        cell.width= "8%";
        cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
        cell.style.textAlign = 'right';
        cell.style.verticalAlign ='middle';
        //cell.style.border='1px solid black';
        cell.style.borderTop='1px solid black';

        var cell = row.insertCell(3);
        cell.width= "11%";
        cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
        cell.style.textAlign = 'right';
        cell.style.verticalAlign ='middle';
        //cell.style.border='1px solid black';
        cell.style.borderTop='1px solid black';

        var cell = row.insertCell(4);
        cell.width= "10%";
        cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
        cell.style.textAlign = 'right';
        cell.style.verticalAlign ='middle';
        //cell.style.border='1px solid black';
        cell.style.borderTop='1px solid black';

        var cell = row.insertCell(5);
        cell.width= "11%";
        cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
        cell.style.textAlign = 'right';
        cell.style.verticalAlign ='middle';
        //cell.style.border='1px solid black';
        cell.style.borderTop='1px solid black';

        var cell = row.insertCell(6);
        cell.width= "11%";
        cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
        cell.style.textAlign = 'right';
        cell.style.verticalAlign ='middle';
        //cell.style.border='1px solid black';
        cell.style.borderTop='1px solid black';

        var cell = row.insertCell(7);
        cell.width= "10%";
        cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
        cell.style.textAlign = 'right';
        cell.style.verticalAlign ='middle';
        //cell.style.border='1px solid black';
        cell.style.borderTop='1px solid black';

        var cell = row.insertCell(8);
        cell.width= "12%";
        cell.innerHTML = '<label rowIndex="'+nRowIndex+'" style="font-size:13px;"></label>';
        cell.style.textAlign = 'right';
        cell.style.verticalAlign ='middle';
        //cell.style.border='1px solid black';
        cell.style.borderTop='1px solid black';



        //var cellBlank2 = row.insertCell(10);
        //cellBlank2.width= "2%";
        //cellBlank2.innerHTML = '';
    }



   
    $("#btnPrint").click(function(){
        if(!ValidateInput()){return false;}
        var AccountingSessionID=parseInt($('#cboSessions').val())?parseInt($('#cboSessions').val()):0;
        var nBusinessUnitID=parseInt($('#cboBUs').val())?parseInt($('#cboBUs').val()):0;
       
        var sParam= AccountingSessionID+"~"+nBusinessUnitID;
        window.open(sessionStorage.getItem("BaseAddress")+'/FinancialStatement/PrintChangesInEquity?Params=' + sParam, "_blank");
    });


    $("#btnPrintXL").click(function(){
        if(!ValidateInput()){return false;}
        var AccountingSessionID=parseInt($('#cboSessions').val())?parseInt($('#cboSessions').val()):0;
        var nBusinessUnitID=parseInt($('#cboBUs').val())?parseInt($('#cboBUs').val()):0;
        
        var sParam= AccountingSessionID+"~"+nBusinessUnitID;
        window.open(sessionStorage.getItem("BaseAddress")+'/FinancialStatement/ExportChangesInEquityToExcel?Params=' + sParam, "_blank");
    });
</script>
