@{
    ViewBag.Title = "Account Book Setup";
}
@model IEnumerable<ESimSol.BusinessObjects.AccountsBookSetup>    
<div class="menuMainCollectionTable">
    <div style="margin-left:0px; height:100%; width:100%; font-family:Tahoma">
        <table id="tblAccountsBookSetups" title="Accounts Book Setup List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="AccountsBookSetupName" width="300">Accounts Book Name</th>
                    <th field="MappingTypeSt" width="200">Mapping Type</th>
                    <th field="Note" width="300">Remarks</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">                
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>                
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {                      
        var oAccountsBookSetups =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oAURolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        var oTempAccountsBookSetups =sessionStorage.getItem("AccountsBookSetups");

        if(oTempAccountsBookSetups!=null)
        {
            oAccountsBookSetups = jQuery.parseJSON(oTempAccountsBookSetups);
        }
        RefreshList(oAccountsBookSetups);
        RefreshControlLayout(oAURolesMapping);
    });

    $('#btnAdd').click(function (e) {
        var oAccountsBookSetups= $('#tblAccountsBookSetups').datagrid('getRows');
        sessionStorage.setItem("AccountsBookSetups", JSON.stringify(oAccountsBookSetups));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("AccountsBookSetupHeader", "Add Accounts Book Setup");
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = sessionStorage.getItem("BaseAddress")+ "/AccountsBookSetup/ViewAccountsBookSetup?id=0&ts="+tsv;
    });

    $('#btnEdit').click(function (e) {
        var oAccountsBookSetup= $('#tblAccountsBookSetups').datagrid('getSelected');
        if(oAccountsBookSetup==null || oAccountsBookSetup.AccountsBookSetupID<=0)
        {
            alert("Please select a item from list!");
            return;
        }            
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblAccountsBookSetups').datagrid('getRowIndex',oAccountsBookSetup);
        var oAccountsBookSetups= $('#tblAccountsBookSetups').datagrid('getRows');
        sessionStorage.setItem("AccountsBookSetups", JSON.stringify(oAccountsBookSetups));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("AccountsBookSetupHeader", "Edit Accounts Book Setup");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/AccountsBookSetup/ViewAccountsBookSetup?id="+oAccountsBookSetup.AccountsBookSetupID+"&ts="+tsv;
    });

    $("#btnView").click(function(){
        var oAccountsBookSetup= $('#tblAccountsBookSetups').datagrid('getSelected');
        if(oAccountsBookSetup==null || oAccountsBookSetup.AccountsBookSetupID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblAccountsBookSetups').datagrid('getRowIndex',oAccountsBookSetup);
        var oAccountsBookSetups= $('#tblAccountsBookSetups').datagrid('getRows');
        sessionStorage.setItem("AccountsBookSetups", JSON.stringify(oAccountsBookSetups));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("AccountsBookSetupHeader", "View Accounts Book Setup");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/AccountsBookSetup/ViewAccountsBookSetup?id="+oAccountsBookSetup.AccountsBookSetupID+"&ts="+tsv;
    });

    $('#btnDelete').click(function (e) {
        var oAccountsBookSetup = $('#tblAccountsBookSetups').datagrid('getSelected');
        if(oAccountsBookSetup==null || oAccountsBookSetup.AccountsBookSetupID<=0)
        {
            alert("Please select a item from list!");
            return;
        }            
        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblAccountsBookSetups').datagrid('getRowIndex',oAccountsBookSetup);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: sessionStorage.getItem("BaseAddress")+ "/AccountsBookSetup/Delete",
            traditional: true,
            data:  JSON.stringify(oAccountsBookSetup),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                feedbackmessage = jQuery.parseJSON(data);
                if (feedbackmessage == "Data delete successfully")
                {
                    alert("Delete sucessfully");
                    $('#tblAccountsBookSetups').datagrid('deleteRow',SelectedRowIndex);
                }
                else
                {
                    alert(feedbackmessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    function RefreshList(oAccountsBookSetups)
    {
        data = oAccountsBookSetups;
        data={"total":""+data.length+"","rows":data};
        $('#tblAccountsBookSetups').datagrid('loadData',data);
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        $('#tblAccountsBookSetups').datagrid('selectRow',nIndex);
    }

    function RefreshControlLayout(oAURolesMapping)
    {        
        $("#btnAdd").hide();
        $("#btnEdit").hide();
        $("#btnView").hide();
        $("#btnDelete").hide();
        
        if(PermissionChecker('Add','AccountsBookSetup',oAURolesMapping)){$("#btnAdd").show();}
        if(PermissionChecker('Edit','AccountsBookSetup',oAURolesMapping)){$("#btnEdit").show();}
        if(PermissionChecker('View','AccountsBookSetup',oAURolesMapping)){$("#btnView").show();}
        if(PermissionChecker('Delete','AccountsBookSetup', oAURolesMapping)){$("#btnDelete").show();}            
    }
</script>
