@{
    ViewBag.Title = "Specification";
}

@model ESimSol.BusinessObjects.FabricExecutionOrderSpecification

 <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>
    <body class="menuMainCollectionTable">
        <fieldset class="actionfieldsetstyle">
            <legend> </legend>
            <table class="tbl">
                <tr>
                    <td class="tdtblorder">
                        <div class="divLabel">
                            <label> PO No :</label>
                        </div>
                        <div class="divInput">
                            <input id="txtOrderNoFS" class="resetfield disablefield" type="text" placeholder="Execution no"  disabled />
                            
                        </div>
                    </td>
                    <td class="tdtblorder">
                        <div class="divLabel">
                            <label> Mkt ref No:</label>
                        </div>
                        <div class="divInput">
                            @*<input id="txtCopyFromFS" class="resetfield" type="text" placeholder="Type exe no & press enter" />*@
                            <input id="txtFabricIDFS" class="resetfield disablefield" type="text" placeholder="Fabric ID"  disabled />
                        </div>
                    </td>

                    <td class="tdtblorder">
                        <div class="divLabel">
                            <label> Job. No :</label>
                        </div>
                        <div class="divInput">
                            <input id="txtConsumptionNoFS" class="resetfield disablefield" type="text" placeholder="Job No" disabled />
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tdtblorder">
                        <div class="divLabel">
                            <label> PI No :</label>
                        </div>
                        <div class="divInput">
                            <input id="txtPINoFS" class="resetfield disablefield" type="text" placeholder="PI No" disabled />
                        </div>
                    </td>
                    <td class="tdtblorder">
                        <div class="divLabel">
                            <label> Construction :</label>
                        </div>
                        <div class="divInput">
                            <input id="txtConstructionFS" class="resetfield disablefield" type="text" placeholder="Construction no" disabled />
                        </div>
                    </td>

                    <td class="tdtblorder">
                        <div class="divLabel">
                            <label> Fabric Width :</label>
                        </div>
                        <div class="divInput">
                            <input id="txtFabricWidthFS" class="resetfield disablefield" type="text" placeholder="Fabric Width" disabled />
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tdtblorder">
                        <div class="divLabel">
                            <label> Buyer :</label>
                        </div>
                        <div class="divInput">
                            <input id="txtBuyerFS" class="resetfield disablefield" type="text" placeholder="Buyer Name" disabled />
                        </div>
                    </td>
                    <td class="tdtblorder">
                        <div class="divLabel">
                            <label> Composition :</label>
                        </div>
                        <div class="divInput">
                            <input id="txtCompositionFS" class="resetfield disablefield" type="text" placeholder="Composition" disabled />
                        </div>
                    </td>

                    <td class="tdtblorder">
                        <div class="divLabel">
                            <label> Weave :</label>
                        </div>
                        <div class="divInput">
                            <input id="txtWeaveFS" class="resetfield disablefield" type="text" placeholder="Weave No" disabled />
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tdtblorder">
                        <div class="divLabel">
                            <label> H/L Ref :</label>
                        </div>
                        <div class="divInput">
                            <input id="txtHLRefFS" class="resetfield disablefield" type="text" placeholder="Order Ref." disabled />
                        </div>
                    </td>
                    <td class="tdtblorder">
                        <div class="divLabel">
                            <label> Finish Type :</label>
                        </div>
                        <div class="divInput">
                            <input id="txtFinishTypeFS" class="resetfield disablefield" type="text" placeholder="Finish Type" disabled />
                        </div>
                    </td>

                    <td class="tdtblorder">
                        <div class="divLabel">
                            <label> Order Qty :</label>
                        </div>
                        <div class="divInput twoRegion">
                            <input id="txtQtyInYardFS" class="resetfield disablefield" type="text" disabled />
                            <label>(Y)</label>
                            <input id="txtQtyInMeterFS" class="resetfield disablefield" type="text" disabled />
                            <label>(M)</label>
                        </div>
                    </td>
                </tr>
            </table>
        </fieldset>
        <table style="width:100% ;">
            <tr>
                
                <td style="width:40%;">
                    <fieldset>
                        <legend style="text-align:left; font-weight:bold;">Finished Fabric info : </legend>
                        <table class="tbl">
                            <tr>
                                <td class="tdtblFS">
                                    <div class="regionLeftFS">
                                        <label> Issue Date :</label>
                                    </div>
                                    <div>
                                        <input id="txtIssueDateSt" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </div>
                                </td>
                              
                            </tr>
                            <tr>
                                <td class="tdtblFS">
                                    <div class="regionLeftFS">
                                        <label> Finish Width  :</label>
                                    </div>
                                    <div class="regionRightFS">
                                        <input id="txtFabricWidth" class="number" type="text" style="width:47%;" />

                                    </div>
                                </td>
                            </tr>
                            
                            <tr>
                                <td class="tdtblFS">
                                    <div class="regionLeftFS">
                                        <label> NoOfFrame:</label>
                                    </div>
                                    <div class="regionRightFS">
                                        <input id="txtNoOfFrame" type="text" style="width:60%;" >
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="tdtblFS">
                                    <div class="regionLeftFS">
                                        <label> Dye Type:</label>
                                    </div>
                                    <div class="regionRightFS">
                                        <input id="txtWeftColor" type="text" />
                                    </div>
                                </td>
                            </tr>
                            @*<tr>
                                <td class="tdtblFS">
                                    <div class="regionLeftFS">
                                        <label> </label>
                                    </div>
                                    <div class="regionRightFS">

                                    </div>
                                </td>
                            </tr>*@
                        </table>
                    </fieldset>
                </td>
                <td style="width:60%;">
                    <fieldset>
                        <legend style="text-align:left; font-weight:bold;">Greige Fabric Detail : </legend>
                        <table class="tbl">
                            <tr>
                                <td class="tdtblFS">
                                    <div class="regionLeftFS">
                                        <label> Req Grey Qty(Y):</label>
                                    </div>
                                    <div class="regionRightFS">
                                        <input id="txtGriegeDemandFSDefault" type="text" class="number" style="width:72px;" disabled>
                                        <span>+</span>
                                        <input id="txtGriegeDemandFSPercentage" type="text" class="number" style="width:30px;">%
                                        <span style="margin-left:5px;">
                                            <input id="txtGriegeDemandFS" type="text" class="number" style="width:72px;">
                                        </span>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                
                                <td class="tdtblFS">
                                    @*<div class="regionLeftFS">
                                        <label> Reed :</label>
                                    </div>
                                    <div class="regionRightFS">
                                        <div class="divleftFS" style="width:100%;">
                                            <input id="txtReedFS" class="number" type="text" style="width:30%;" />
                                            /
                                            Dent
                                            <input id="txtDent" class="number" type="text" style="width:20%;" />
                                        </div>
                                    </div>*@
                                </td>
                            </tr>
                            <tr>
                                <td class="tdtblFS">
                                    <div class="regionLeftFS">
                                        <label> Grey Width  :</label>
                                    </div>
                                    <div class="regionRightFS">
                                        <input id="txtGreigeWidthFS" class="numberfield" type="text" />
                                    </div>
                                </td>
                               
                            </tr>
                            <tr>
                               
                                <td class="tdtblFS">
                                    <div class="regionLeftFS">
                                        <label> Grey G/LM  :</label>
                                    </div>
                                    <div class="regionRightFS">
                                        <input id="txtPerConeLength" type="text" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="tdtblFS">
                                    <div class="regionLeftFS">
                                        <label> Note :</label>
                                    </div>
                                    <div class="regionRightFS">
                                        <input id="txtRefNote" type="text" />
                                    </div>
                                </td>
                               
                            </tr>

                            <tr>
                                <td class="tdtblFS">
                                    @*<div class="regionLeftFS">
                                        <label>Req. Warp Len :</label>
                                    </div>
                                    <div class="regionRightFS">
                                        <input id="txtReqWarpLenFSDefault" class="number" type="text" style="width:72px;" disabled />
                                        <span>+</span>
                                        <input id="txtReqWarpLenFSPercentage" class="number" type="text" style="width:30px;" />%
                                        <span style="margin-left:5px;">
                                            <input id="txtReqWarpLenFS" class="number" type="text" style="width:70px;" />
                                        </span>
                                    </div>*@
                                </td>
                              
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
           
        </table>
        @*<fieldset>
         <table>
             <tr>
                 <td style="width:20%;" class="tbtblWarpingProgram">
                     <div class="regionLeftWP">
                         <label >Warp Set :</label>
                     </div>
                     <div class="regionRightWP">
                         <input id="txtWarpSet" class="numberfield" type="text" />
                     </div>
                 </td>
                 <td style="width:35%;" class="tbtblWarpingProgram">
                     <div class="regionLeftWP">
                         <label >Set Length :</label>
                     </div>
                     <div class="regionRightWP">
                         <input id="txtSetLength" type="text" />
                     </div>
                 </td>
                 <td style="width:45%;" class="tbtblWarpingProgram">
                     <div class="regionLeftWP">
                         <label>Length Specification :</label>
                     </div>
                     <div class="regionRightWP">
                         <input id="txtLengthSpecification" type="text" />
                     </div>
                 </td>
    </tr>
             <tr>
                 <td style="width:20%;" class="tbtblWarpingProgram">
                     <div class="regionLeftWP">
                         <label>Ends/ Repeat :</label>
                     </div>
                     <div class="regionRightWP">
                         <label id="lblEndsRepeat" class="resetlbl"></label>
                     </div>
                 </td>
                 <td style="width:35%;" class="tbtblWarpingProgram">
                     <div class="regionLeftWP">
                         <label>Repeat :</label>
                     </div>
                     <div class="regionRightWP">
                         <input id="txtRepeatSection" class="number"  type="text" />
                     </div>
                 </td>
                 <td style="width:45%;" class="tbtblWarpingProgram">
                     <div class="regionLeftWP">
                         <label>Section Ends :</label>
                     </div>
                     <div class="regionRightWP">
                         <label id="lblSectionEnds" class="resetlbl"></label>
                     </div>
                 </td>
             </tr>
             <tr>
                 <td style="width:20%;" class="tbtblWarpingProgram">
                     <div class="regionLeftWP">
                         <label>No of 
        :</label>
                     </div>
                     <div class="regionRightWP">

                         <input id="txtNoOfSection" style="width:50%;" class="numberfield" type="text" />
                         <label id="lblNoOfSection" style="width:40%;" class="resetlbl"></label>
                     </div>
                 </td>
                 <td style="width:35%;" class="tbtblWarpingProgram">
                     <div class="regionLeftWP">
                         <label>Per Cone Length(Mtr) :</label>
                     </div>
                     <div class="regionRightWP">
                         <label style="width:30%;" id="lblPerConeLength" class="resetlbl"></label>
                     </div>
                 </td>
                 <td style="width:45%;" class="tbtblWarpingProgram">
                     <div class="regionLeftWP">
                         <label>Per Cone Dia(gm) :</label>
                     </div>
                     <div class="regionRightWP">
                         <label style="width:30%;" id="lblPerConeDia" class="resetlbl"></label>
                     </div>
                 </td>
             </tr>
</table></fieldset>*@
        
           
            <table class="tbl">
                <tr>
                    <td colspan="3">
                        <div class="easyui-accordion">
                            <div title="Process Required" data-options="iconCls:'icon-details'" style="overflow: auto; float:left;">
                                <div style="margin-left:0px;width:100%;height:300px">
                                    <table id="tblDyeingSolutions" style="width:100%;height:300px " class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarDS">
                                        <thead>
                                            <tr>
                                                <th field="Code" width="20%">Code</th>
                                                <th field="FNTreatmentSt" width="35%">Treatment</th>
                                                <th field="FNProcess" width="45%">Process</th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <div id="toolbarDS">
                                        <input type="text" id="txtDyeingSolution" style="width:50%" placeholder="Enter Note and Press Enter">
                                        <a id="GetDyeingSolutions" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-pick" onclick="GetDyeingSolutions('')" plain="true">Pick</a>
                                        <a id="btnDeleteDS" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                                        <a href="javascript:void(0)" id="btnUp" class="easyui-linkbutton" iconcls="icon-up" plain="true" onclick="UP()">Up</a>
                                        <a href="javascript:void(0)" id="btnDown" class="easyui-linkbutton" iconcls="icon-down" plain="true" onclick="Down()">Down</a>
                                        <a href="javascript:void(0)" id="btnRefresh" class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="SaveSequence()">Save Sequence</a>
                                    </div>
                                </div>
                            </div>
                            <div title="Comments from RnD" data-options="iconCls:'icon-details'" style="overflow: auto; float:left;">
                                <div style="margin-left:0px;width:100%;height:300px">
                                    <table id="tblFabricSpecificationNotes" style="width:100%;height:300px " class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar">
                                        <thead>
                                            <tr>
                                                <th field="Note" width="95%">Name</th>
                                            </tr>
                                        </thead>
                                    </table>

                                    <div id="toolbar">

                                        @*<a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="Refresh()"></a>*@
                                        <input type="text" id="txtFabricSpecificationNote" style="width:50%" placeholder="Enter Note and Press Enter">
                                        <a id="btnUpdateFSNote" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Update</a>
                                        <a id="btnAddFSNote" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Save</a>
                                        <a id="btnEditFSNote" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                                        <a id="btnDeleteFSNote" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </td>
                </tr>

            </table>
        <fieldset class="actionfieldsetstyle">
            <legend>Actions : </legend><table class="tbl">
                <tr>
                    <td class="tdActionLabel">
                        <label id="lblFEOSpecificationStaus"></label>
                        <a id="btnApproveFEOS" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true">Approve</a>
                        @*<a id="btnSaveDO" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true">Forward To Dyeing</a>*@
                        <span>
                            <select id="cboFEOSpecification"></select>
                        </span>
                    </td>
                    <td class="tdAction">
                        <a id="btnPrintRouteCart" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Route Card Print</a>
                        <a id="btnCancelFEOS" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                        <a id="btnPrintFEOS" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
                        <a id="btnSaveFEOS" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        <a id="btnCloseFEOS" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>

        </fieldset>
            
</body>
</html>

<style type="text/css">


     .divLabel {
        float: left;
        width: 29%;
        text-align: right;
        margin-right: 3px;
    }

    .divInput {
        float: left;
        width: 69%;
    }

    .tdtblorder, .tdtblFS {
        width: 33.33%;
    }
    
    .tbl .tdActionLabel {
        font-size: 11px;
        text-align: left;
    }
    
    .tbl .tdAction {
        text-align: right;
    }
   
     .divInput input {
        width: 97%;
        font-size: 11px;
    }
   
     .divInput select {
        width: 99.5%;
    }
    
    .divInput .pickfield {
        width: 85%;
    }

    .divInput .pickBtn {
        width: 10%;
    }

    .divInput .numberfield {
        width: 220px;
    }

    .twoRegion input {
        width: 35%;
        font-size: 11px;
    }

    .twoRegion .numberfield {
        width: 80px;
    }

    
    .tbltdFS {
        font-size: 11px;
    }

    .regionLeftFS {
        float: left;
        width: 32%;
        text-align: right;
        margin-right: 2px;
    }

    .regionRightFS {
        float: left;
        width: 66%;
    }

    .regionRightFS .divleftFS {
        float: left;
        width: 32%;
    }

    .regionRightFS .divrightFS {
        float: left;
        width: 68%;
        text-align: right;
    }

    .regionRightFS .numberfield {
        width: 60px;
    }

    .regionRightFS #txtGroundEndsFS {
        width: 210%;
    }

    .tbtblWarpingProgram {
        font-size: 11px;
    }

    .regionLeftWP {
        float: left;
        width: 55%;
        text-align: right;
        margin-right: 3px;
    }

    .regionRightWP {
        float: left;
        width: 40%;
    }

    .regionRightWP .numberfield {
        width: 138px;
    }
</style>

<script type="text/javascript">
    var _nFSCDID = 0;
    var _nReferenceFSCDID = 0;
    var _oFEOS = null;
    var _oFabricSpecification = [];
    var _bIsApprove = false;
    var _nWarpEnds = 0;
    var _bIsUpdateTotal = true;
    var _nCountFunctionCall = 0;
    var _nAllowance = 0;
    var _IsWarp=true;
    var _nDyeingSolutionIDs = "";
    var _oFabricSpecificationNotes=[];
    var _nFSCDetailID = 0;
    var _oFNExecutionOrderProcessList = [];
    $(document).ready(function () {
        debugger;
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oFEOS =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oFNExecutionOrderProcessList = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FNExecutionOrderProcessList));
        var oFabricSalesContractDetail = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FabricSalesContractDetail));
        var nFSCDetailID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FSCDID));
        _oFabricSpecificationNotes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FabricSpecificationNotes));
        DynamicRefreshList(_oFabricSpecificationNotes, "tblFabricSpecificationNotes");
        //$('#txtReedFS').numberbox({ onChange: GetReedWidth, min: 0, precision: 0 });
        //$('#txtReedWidthFS').val(0);
        //$('#txtCrimpFS').val(3);
        //CalculateTotalCrimp();
        _nFSCDetailID = nFSCDetailID;
        //$('#txtEndsFS').numberbox({ min: 0, precision: 0 });
        //$('#txtPicksFS').numberbox({ min: 0, precision: 0 });
        LoadDataGrid(_oFNExecutionOrderProcessList);

        //$('#txtFinishPickFS,#txtFinishEndFS').numberbox({ min: 0, precision: 0 });
        $('#txtGreigeWidthFS').numberbox({ min: 2, precision: 2 });
        $('#txtFabricWidth').numberbox({ min: 2, precision: 2 });

        $(".number").val(0);

        //$('#txtReqLoomProduction').numberbox({ min: 0, precision: 0 });
        //   $('#txtSelvedgeEnds,#txtSelvedgeTotal,#txtSelvedgeEndTwo,#txtNoOfFrame').val(0);
        //$('#txtGroundEndsFS').numberbox({ onChange: GetReedWidth, min: 0, precision: 0 });


        //$('#txtRepeatSection').numberbox({ onChange: GetSectionEnds, min: 0, precision: 0 });

        ResetControllFEOS();
        RefreshControlFEOS(oFEOS);
        //if(oFEOS.FEOSID<=0){
        //    GetFabricSalesContactDetail(nFSCDetailID)
        //}
        $("#btnUpdateFSNote").hide();
    });


    $("#btnSaveFEOS").click(function () {
        if (!ValidateInputFEOS()) return;
        debugger;

        var oFEOS = RefreshObjectFEOS();
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFEOS,
            ObjectId: oFEOS.FEOSID,
            ControllerName: "FabricExecutionOrderSpecification",
            ActionName: "SaveFEOSpecification",
            TableId: "",
            IsWinClose: false,
            Message: (oFEOS.FEOSID>0)?"Update Successfully." : "Save Successfully."
        };
        $.icsSave(obj, function (response)
        {
            if (response.status && response.obj != null) {
                var a=response.obj.ErrorMessage;
                if (response.obj.FEOSID > 0)
                    _oFEOS = response.obj;
                if (_oFEOS.FEOSID > 0)  {   RefreshControlFEOS(_oFEOS);}
            }
        });
    });

    //    $.icsSave(obj, function (response) {
    //        if (response.status && response.obj != null) {
    //            _oFEOS = response.obj;
    //            if (_oFEOS.FEOSID > 0)
    //            {
    //                RefreshControlFEOS(_oFEOS);
    //            }
    //        }
    //    });
    //});

    $("#cboFEOSpecification").change(function (e) {

        if ($("#cboFEOSpecification").val() > 0) {

            var oFEOS = {
                FEOSID: $("#cboFEOSpecification").val(),
                FSCDID: _oFEOS.FSCDID
            };

            var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: oFEOS,
                ControllerName: "FabricExecutionOrderSpecification",
                ActionName: "GetFEOSpecification",
                IsWinClose: false
            };

            $.icsDataGet(obj, function (response) {
                if (response.status && response.obj != null) {
                    var oFEOS = response.obj;
                    if (oFEOS.FEOSID > 0) {

                        ResetControllFEOS();
                        if (oFEOS.ApproveBy != 0) {
                            $('#btnApproveFEOS').hide();
                            $('#btnSaveLabDipRequest').hide();
                            $("#lblFEOSpecificationStaus").html(" <b> Approved </b>  ");
                        }
                        else {
                            $('#btnApproveFEOS').show();
                            $('#btnSaveLabDipRequest').show();
                            $("#lblFEOSpecificationStaus").html("");
                        }
                        RefreshControlFEOS(oFEOS);
                        $("#winFabricSpecification").icsWindow('open', 'Fabric Specification');
                    }
                }
            });
        }
    });


    $("#btnCancelFEOS").click(function () {

        if (_oFEOS == null || _oFEOS.FEOSID <= 0) { alert("No valid fabric specification found to delete."); return; }
        if (_oFEOS.ApproveBy != 0) { alert('Already Approved.'); return; }
        if (!confirm("Confirm to Delete?")) return;
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: _oFEOS,
            ControllerName: "FabricExecutionOrderSpecification",
            ActionName: "DeleteFEOSpecification",
            TableId: "",
            IsWinClose: false
        };
        $.icsDelete(obj, function (response) {

            if (response.status && response.Message != "") {

                if (response.Message == "deleted") {
                    ResetControllFEOS();
                }
            }
        });


    });

    $("#btnApproveFEOS").click(function (e) {
        debugger;
        alert("asss");
        if (_bIsApprove) { alert("Unable to approve. Already a specification is approved."); return; }
        if (_oFEOS == null || _oFEOS.FEOSID <= 0) { alert("No valid fabric specification found to approve."); return; }
        if (_oFEOS.ApproveBy != 0) { alert('Already Approved.'); return; }
        var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: _oFEOS,
                ObjectId: _oFEOS.FEOSID,
                ControllerName: "FabricExecutionOrderSpecification",
                ActionName: "ApproveFEOSpecification",
                TableId: "",
                IsWinClose: false,
                Message: "Approved Successfully."
            };
        $.icsSave(obj, function (response) {

            if (response.status && response.obj != null) {

                if (response.obj.FEOSID > 0) {
                    _oFEOS = response.obj;
                    if (_oFEOS.ApproveBy != 0) {
                        RefreshControlFEOS(_oFEOS);
                        $('#btnSaveFEOS').hide();
                        $("#btnApproveFEOS").hide();
                        $("#btnCancelFEOS").hide();
                    }
                }
            }
        });

    });
    $("#btnSaveDO").click(function (e) {

        //if (_bIsApprove) { alert("Unable to approve. Already a specification is approved."); return; }
        if (_oFEOS == null || _oFEOS.FEOSID <= 0) { alert("No valid fabric specification found to approve."); return; }
        if (_oFEOS.ApproveBy == 0) { alert('Yet Not  Approved.'); return; }
        var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: _oFEOS,
                ObjectId: _oFEOS.FEOSID,
                ControllerName: "FabricExecutionOrderSpecification",
                ActionName: "SaveDyeingOrder",
                TableId: "",
                IsWinClose: false,
                Message: "Forward Successfully."
            };
        $.icsSave(obj, function (response) {

            if (response.status && response.obj != null) {

                if (response.obj.FEOSID > 0) {
                    _oFEOS = response.obj;
                    if (_oFEOS.ApproveBy != 0) {
                        RefreshControlFEOS(_oFEOS);
                        $('#btnSaveFEOS').hide();
                        $("#btnApproveFEOS").hide();
                        $("#btnCancelFEOS").hide();
                    }
                }
            }
        });

    });

    $("#btnPrintFEOS").click(function () {
        if (_oFEOS == null || _oFEOS.FEOSID <= 0) { alert("Yet not created."); return; }
        var nts = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress + '/FabricExecutionOrderSpecification/PrintFabricJobOrder?nId=' + _oFEOS.FEOSID + "&nts=" + nts, "_blank");
    });
    $('#btnPrintRouteCart').click(function(){
        debugger;
        if (_nFSCDetailID == null ||_nFSCDetailID <= 0) 
        { 
            alert("Yet not created.");
            return;
        }
        window.open(_sBaseAddress+"/FNExecutionOrder/PrintProcessPDF?id="+_nFSCDetailID+"&FNBatchID=0");
    });



    $("#btnCloseFEOS").click(function (e) {
        window.location.href =  sessionStorage.getItem("BackLink");
    });

    $("#txtReqLoomPP").keyup(function (e) {
        var nGriegeDemandRLP = $('#txtGriegeDemandRLP').val();
        var nReqWarpLenFSPercentage = $('#txtReqWarpLenFSPercentage').val();
        var nReqLoomPP = $('#txtReqLoomPP').val();
        var nReqLoomProduction = 0;
        debugger;
        nReqLoomProduction = parseFloat(nGriegeDemandRLP) + ((parseFloat(nGriegeDemandRLP) * parseFloat(nReqLoomPP)) / 100);

        if (isNaN(nReqLoomProduction)) {
            nReqLoomProduction = 0;
        }
        $('#txtReqLoomProduction,#txtReqWarpLenFSDefault').val(nReqLoomProduction.toFixed(2));


        nReqLoomProduction=parseFloat(nReqLoomProduction) + ((parseFloat(nReqLoomProduction) * parseFloat(nReqWarpLenFSPercentage)) / 100);
        $('#txtReqWarpLenFS').val(parseFloat(nReqLoomProduction.toFixed(2)));

    });

    $("#txtReqLoomProduction").keyup(function (e) {
        var nGriegeDemandRLP = parseFloat($('#txtGriegeDemandRLP').val());
        var nReqLoomProduction = parseFloat($('#txtReqLoomProduction').val());
        var nReqWarpLenFSPercentage = $('#txtGriegeDemandFSPercentage').val();
        var nPercentage1 = 0;
        if ((nReqLoomProduction - nGriegeDemandRLP) == 0) {
            nPercentage1 = 100;
        }
        else {
            nPercentage1 = (100 * (nReqLoomProduction - nGriegeDemandRLP)) / nGriegeDemandRLP;
        }
        if (isNaN(nPercentage1)) {
            nPercentage1 = 0;
        }
        $('#txtReqLoomPP').val(parseFloat(nPercentage1.toFixed(2)));
        $('#txtReqWarpLenFSDefault').val(parseFloat(nReqLoomProduction.toFixed(2)));
        if (nReqLoomProduction > 0) {
            nReqLoomProduction=parseFloat(nReqLoomProduction) + ((parseFloat(nReqLoomProduction) * parseFloat(nReqWarpLenFSPercentage)) / 100);
            $('#txtReqWarpLenFS').val(parseFloat(nReqLoomProduction.toFixed(2)));
        }
    });

    $("#txtGriegeDemandFSPercentage,txtGriegeDemandFSDefault").keyup(function (e) {
        var nGriegeDemandDefault = $('#txtGriegeDemandFSDefault').val();
        var nPercentage = $('#txtGriegeDemandFSPercentage').val();
        var nReqLoomPP = $('#txtReqLoomPP').val();
        var nReqWarpLenFSPercentage = $('#txtReqWarpLenFSPercentage').val();
        debugger;
        var nGriegeDemand = 0;
        if (nGriegeDemandDefault > 0) {
            nGriegeDemand = parseFloat(parseFloat(nGriegeDemandDefault) * ((100-parseFloat(nPercentage)) / 100)); //parseFloat(nGriegeDemandDefault) + ((parseFloat(nGriegeDemandDefault) * parseFloat(nPercentage)) / 100);
        }
        if (isNaN(nGriegeDemand)) {
            nGriegeDemand = 0;
        }
        $('#txtGriegeDemandFS,#txtGriegeDemandRLP').val(nGriegeDemand.toFixed(2));
        if (nGriegeDemand > 0) {
            nGriegeDemand= parseFloat(parseFloat(nGriegeDemand) * ((100-parseFloat(nReqLoomPP)) / 100));/// parseFloat(nGriegeDemand) + ((parseFloat(nGriegeDemand) * parseFloat(nReqLoomPP)) / 100);
            $('#txtReqLoomProduction,#txtReqWarpLenFSDefault').val(parseFloat(nGriegeDemand.toFixed(2)));
        }
        if (nGriegeDemand > 0) {
            nGriegeDemand=parseFloat(parseFloat(nGriegeDemand) * ((100-parseFloat(nReqWarpLenFSPercentage)) / 100));// parseFloat(nGriegeDemand) + ((parseFloat(nGriegeDemand) * parseFloat(nReqWarpLenFSPercentage)) / 100);
            $('#txtReqWarpLenFS').val(parseFloat(nGriegeDemand.toFixed(2)));
        }
    });

    $("#txtGriegeDemandFS").keyup(function (e) {
        var nGriegeDemandFS = parseFloat($('#txtGriegeDemandFS').val());
        var nGriegeDemandFSDefault = parseFloat($('#txtGriegeDemandFSDefault').val());
        var nReqLoomPP = $('#txtReqLoomPP').val();
        var nReqWarpLenFSPercentage = $('#txtReqWarpLenFSPercentage').val();
        var nPercentage1 = 0;
        if ((nGriegeDemandFS - nGriegeDemandFSDefault) == 0) {
            nPercentage1 = 100;
        }
        else {
            nPercentage1 = (100 * (nGriegeDemandFS - nGriegeDemandFSDefault)) / nGriegeDemandFSDefault;
        }
        if (isNaN(nPercentage1)) {
            nPercentage1 = 0;
        }
        $('#txtGriegeDemandFSPercentage').val(parseFloat(nPercentage1.toFixed(2)));
        if (nGriegeDemandFS > 0) {
            $('#txtGriegeDemandRLP').val(parseFloat(nGriegeDemandFS.toFixed(2)));
        }
        if (nGriegeDemandFS > 0) {
            nGriegeDemandFS=parseFloat(nGriegeDemandFS) + ((parseFloat(nGriegeDemandFS) * parseFloat(nReqLoomPP)) / 100);
            $('#txtReqLoomProduction,#txtReqWarpLenFSDefault').val(parseFloat(nGriegeDemandFS.toFixed(2)));
        }
        if (nGriegeDemandFS > 0) {
            nGriegeDemandFS=parseFloat(nGriegeDemandFS) + ((parseFloat(nGriegeDemandFS) * parseFloat(nReqWarpLenFSPercentage)) / 100);
            $('#txtReqWarpLenFS').val(parseFloat(nGriegeDemandFS.toFixed(2)));
        }
    });

    $("#txtReqWarpLenFSPercentage,txtReqWarpLenFSDefault").keyup(function (e) {
        var nGriegeDemandDefault = $('#txtReqWarpLenFSDefault').val();
        var nPercentage = $('#txtReqWarpLenFSPercentage').val();
        debugger;
        var nGriegeDemand = 0;
        if (nGriegeDemandDefault > 0) {
            nGriegeDemand = parseFloat(nGriegeDemandDefault) + ((parseFloat(nGriegeDemandDefault) * parseFloat(nPercentage)) / 100);
        }
        if (isNaN(nGriegeDemand)) {
            nGriegeDemand = 0;
        }
        $('#txtReqWarpLenFS').val(nGriegeDemand.toFixed(2));
    });

    $("#txtReqWarpLenFS").keyup(function (e) {
        var nGriegeDemandFS = parseFloat($('#txtReqWarpLenFS').val());
        var nGriegeDemandFSDefault = parseFloat($('#txtReqWarpLenFSDefault').val());
        var nPercentage1 = 0;
        if ((nGriegeDemandFS - nGriegeDemandFSDefault) == 0) {
            nPercentage1 = 100;
        }
        else {
            nPercentage1 = (100 * (nGriegeDemandFS - nGriegeDemandFSDefault)) / nGriegeDemandFSDefault;
        }
        if (isNaN(nPercentage1)) {
            nPercentage1 = 0;
        }
        $('#txtReqWarpLenFSPercentage').val(parseFloat(nPercentage1.toFixed(2)));
    });

    $("#txtReedWidthFS").keyup(function (e) {
        var nReedWidth = parseFloat($(this).val());
        var nCrimp = parseFloat($("#txtCrimpFS").val());
        $("#txtTotalCrimpFS").val(nReedWidth + nCrimp);
    });

    $("#txtCrimpFS").keyup(function (e) {
        var nCrimp = parseFloat($(this).val());
        var nReedWidth = parseFloat($("#txtReedWidthFS").val());
        $("#txtTotalCrimpFS").val(nReedWidth + nCrimp);
    });

    //$("#txtSelvedgeEndTwo,#txtSelvedgeEnds").keyup(function (e) {

    //    GetTotalEnds();

    //});

    //$("#txtReedFS").keyup(function (e) {
    //    debugger;
    //    GetTotalEnds();
    //});


    $("#txtRepeatSection").keyup(function (e) {

        GetSectionEnds();

    });

  
    /*-------------- Fabric Sales Contact Detail -------------*/

    function GetFabricSalesContactDetail(nFSCDID){

        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: {FabricSalesContractDetailID:nFSCDID},
            ControllerName: "FabricSCReport",
            ActionName: "GetSalesContactDetail",
            IsWinClose: false
        };

        $.icsDataGet(obj, function (response) {
            if (response.status && response.obj != null) {
                var oFSCDetail = response.obj;
                if (oFSCDetail.FabricSalesContractDetailID > 0) {
                    SetFEOToFEOS(oFSCDetail);
                }
            }
        });

    }

    /*-------------- Reference FEO Value set -----------------*/

    function SetRefFEOSValue(oFEOS) {
        //$('#txtFinishPickFS').numberbox('setValue', (oFEOS != null) ? oFEOS.FinishPick : 0);
        //$('#txtFinishEndFS').numberbox('setValue', (oFEOS != null) ? oFEOS.FinishEnd : 0);
        $('#txtGreigeWidthFS').numberbox('setValue', (oFEOS != null) ? oFEOS.GreigeFabricWidth : 0);
        $('#txtFabricWidth').numberbox('setValue', (oFEOS != null) ? oFEOS.FinishWidth : 0);
        //$('#txtEndsFS').numberbox('setValue', (oFEOS != null) ? oFEOS.Ends : 0);
        $('#txtPicksFS').numberbox('setValue', (oFEOS != null) ? oFEOS.Picks : 0);
        $('#txtGriegeDemandFS').val((oFEOS != null) ? oFEOS.GreigeDemand : 0);
        //$('#txtDent').val((oFEOS != null) ? oFEOS.Dent : 0);
        $('#txtReqWarpLenFSDefault,#txtGriegeDemandFSDefault').val($("#txtQtyInYardFS").val());
        $('#txtReqWarpLenFS').val((oFEOS != null) ? oFEOS.RequiredWarpLength : $("#txtQtyInYardFS").val());
        $('#txtPerConeLength').val((oFEOS != null) ? oFEOS.PerConeLength :0);
      
        $('#txtGroundEndsFS').val((oFEOS != null) ? oFEOS.GroundEnds : 0);
        //$('#txtReqLoomProduction').numberbox('setValue', (oFEOS != null) ? oFEOS.ReqLoomProduction : 0);
        $('#txtSelvedgeEnds').val((oFEOS != null) ? oFEOS.SelvedgeEnds : 0);
        $('#txtSelvedgeEndTwo').val((oFEOS != null) ? oFEOS.SelvedgeEndTwo : 0);
        $('#txtSelvedgeTotal').val((oFEOS != null) ? oFEOS.SelvedgeEnds+oFEOS.SelvedgeEndTwo : 0);

        //$('#txtReedFS').val((oFEOS != null) ? oFEOS.Reed : 0);
        //$('#txtReedFS').numberbox('setValue', (oFEOS != null) ? oFEOS.Reed : 0);
        $('#txtReedWidthFS').val((oFEOS != null) ? oFEOS.ReedWidth : 0);
        $("#txtCrimpFS").val((oFEOS != null) ? oFEOS.Crimp : 3);
        CalculateTotalCrimp();
        GenerateWarpingPrograms(oFEOS);
    }

    function CalculateTotalCrimp() {
        var nReedWidth = parseFloat($("#txtReedWidthFS").val());
        var nCrimp = parseFloat($("#txtCrimpFS").val());
        $("#txtTotalCrimpFS").val(nReedWidth + nCrimp);
    }


    /*-------------- FEO Specification -----------------*/

    function RefreshControlFEOS(oFEOS) {
        debugger
        console.log(oFEOS)
        _oFEOS = oFEOS;
        _nFSCDID = oFEOS.FSCDID;
        _nReferenceFSCDID = _oFEOS.ReferenceFSCDID;
        $("#txtOrderNoFS").val(_oFEOS.SCNoFull);
        $("#txtFabricIDFS").val(_oFEOS.FabricNo);
        $("#txtConsumptionNoFS").val(_oFEOS.FESONo);
        $("#txtPINoFS").val(_oFEOS.PINo);
        $("#txtConstructionFS").val(_oFEOS.Construction);
        $("#txtCompositionFS").val(_oFEOS.Composition);
        $("#txtFabricWidthFS").val(_oFEOS.FinishWidthFS);
        $("#txtBuyerFS").val(_oFEOS.BuyerName);
        $("#txtWeaveFS").val(_oFEOS.Weave);
        $("#txtHLRefFS").val(_oFEOS.HLReference);
        $("#txtFinishTypeFS").val(_oFEOS.FinishType);
        $("#txtQtyInYardFS").val(_oFEOS.QtyOrder);
        var nQtyInMtr = parseFloat((_oFEOS.QtyOrder/ 1.09361).toFixed(2));
        $("#txtQtyInMeterFS").val(nQtyInMtr);
        $('#txtIssueDateSt').datebox('setValue',_oFEOS.IssueDateSt);
        $('#txtRefNote').val(_oFEOS.RefNote);
        $('#txtWeftColor').val(_oFEOS.WeftColor);
        $('#txtNoOfFrame').val(_oFEOS.NoOfFrame);
        $('#txtPerConeLength').val((_oFEOS != null) ? _oFEOS.PerConeLength :0);
        //$('#txtFinishEndFS').numberbox('setValue', (_oFEOS.FinishPick == 0 ? _oFEOS.FabricPattern.Pick : _oFEOS.FinishPick));
        //$('#txtFinishEndFS').numberbox('setValue', _oFEOS.FinishEnd);
        //$('#txtFinishPickFS').numberbox('setValue', _oFEOS.FinishPick);
        $('#txtGreigeWidthFS').numberbox('setValue', _oFEOS.GreigeFabricWidth);
        $('#txtFabricWidth').numberbox('setValue', _oFEOS.FinishWidth);
        //$('#txtEndsFS').numberbox('setValue', _oFEOS.Ends);
        //$('#txtPicksFS').numberbox('setValue', _oFEOS.Picks);
        $('#txtReqWarpLenFS').val(_oFEOS.RequiredWarpLength);
        $('#txtReqLoomProduction').val(parseFloat(_oFEOS.ReqLoomProduction.toFixed(2)));
        //$("#txtAllowancePercent").val((_oFEOS.AllowancePercent == 0 ? 4 : _oFEOS.AllowancePercent));
        $('#txtReqWarpLenFSDefault').val(_oFEOS.ReqLoomProduction.toFixed(2));
        debugger;
        var nReqWarpLenFS = parseFloat($('#txtReqWarpLenFS').val());
        var nReqWarpLenFSDefault = parseFloat($('#txtReqWarpLenFSDefault').val());
        var nPercentage = (100 * (nReqWarpLenFS - nReqWarpLenFSDefault)) / nReqWarpLenFSDefault;
        $('#txtReqWarpLenFSPercentage').val(parseFloat(nPercentage.toFixed(2)));


        $("#txtGriegeDemandFSDefault").val(parseFloat(_oFEOS.QtyOrder.toFixed(2)));
        $("#txtGriegeDemandFS,#txtGriegeDemandRLP").val(_oFEOS.GreigeDemand);

        var nGriegeDemandFS = parseFloat($('#txtGriegeDemandFS').val());
        var nGriegeDemandFSDefault = parseFloat($('#txtGriegeDemandFSDefault').val());
        var nPercentage1 = (100 * (nGriegeDemandFS - nGriegeDemandFSDefault)) / nGriegeDemandFSDefault;
        $('#txtGriegeDemandFSPercentage').val(parseFloat(nPercentage1.toFixed(2)));

        nPercentage1 = (100 * (_oFEOS.ReqLoomProduction.toFixed(2) - _oFEOS.GreigeDemand)) / _oFEOS.GreigeDemand;
        $('#txtReqLoomPP').val(parseFloat(nPercentage1.toFixed(2)));

        //$('#txtNoOfSection').val( _oFEOS.NoOfSection);
        //$('#txtGroundEndsFS').val( _oFEOS.GroundEnds);
        //  $('#txtGroundEndsFS').numberbox('setValue', _oFEOS.GroundEnds);
        //$('#txtDent').val((oFEOS != null) ? parseFloat(oFEOS.Dent) : 0);

        //$('#txtReedFS').val( (_oFEOS.Reed == 0 ? 0 : _oFEOS.Reed));
        //$('#txtReedWidthFS').val((_oFEOS.ReedWidth == 0 ? GetReedWidthFS() : _oFEOS.ReedWidth));
        //$("#txtCrimpFS").val(_oFEOS.Crimp);
        //$("#txtTotalEnds").val(parseFloat(_oFEOS.Reed*_oFEOS.ReedWidth).toFixed(0));

        CalculateTotalCrimp();
        _nWarpEnds=0;
        debugger;
        var oWarpPlans = [];
        var oWeftPlans = [];
        for (var i = 0; i < oFEOS.FEOSDetails.length ; i++)
        {
            if( oFEOS.FEOSDetails[i].IsWarp==true)
            {
                oWarpPlans.push( oFEOS.FEOSDetails[i]);
                _nWarpEnds=_nWarpEnds+parseFloat(oFEOS.FEOSDetails[i].EndsCount);

            }
            else
            {
                oWeftPlans.push(oFEOS.FEOSDetails[i]);
            }
        }
        GenerateWarpingPrograms(_oFEOS);



        if (_bIsApprove) { $("#lblFEOSpecificationStaus").html("<b>Approved</b>"); $("#btnCancelFEOS").hide(); $("#btnSaveFEOS").hide(); }

        if (_oFEOS.FabricSpecifications.length > 0) {

            for (var i = 0; i < _oFEOS.FabricSpecifications.length; i++) {

                if (_oFEOS.FabricSpecifications[i].ApproveBy > 0) {
                    _bIsApprove = true;
                    $("#lblFEOSpecificationStaus").html("<b>" + _oFEOS.FabricSpecifications[i].SpecificationNo + " Is Approved.</b>");
                    $("#btnCancelFEOS").show();
                    $("#btnSaveFEOS").show();
                }
            }

            $("#cboFEOSpecification").show();
            $("#cboFEOSpecification").icsLoadCombo({
                List: _oFEOS.FabricSpecifications,
                OptionValue: "FEOSID",
                DisplayText: "SpecificationNo",
            });
        }
        if (_oFEOS.ApproveBy == 0) { $('#btnApproveFEOS').show(); } else { $('#btnApproveFEOS').hide(); }

    }
    function ValidateInputFEOS() {
        if (_nFSCDID <= 0) {
            alert("Select a valid fabric execution order.");
            return false;
        }
        return true;
    }

    function RefreshObjectFEOS() {
        debugger;
        var oFEOS = {
            FEOSID: (_oFEOS != null) ? _oFEOS.FEOSID : 0,
            FSCDID: (_oFEOS != null) ? _oFEOS.FSCDID : _nFSCDID,
            ReferenceFSCDID: _nReferenceFSCDID,
            Reed: 0,// $('#txtReedFS').numberbox('getValue'),
            Dent: 0,
            ReedWidth: 0,
            Crimp: 0,
            GreigeFabricWidth: $('#txtGreigeWidthFS').numberbox('getValue'),
            FinishWidth: $('#txtFabricWidth').numberbox('getValue'),
            Ends: 0,// $('#txtEndsFS').numberbox('getValue'),
            Picks: 0,//$('#txtPicksFS').numberbox('getValue'),
            FinishPick: 0,
            FinishEnd:0,
            GreigeDemand: parseFloat($('#txtGriegeDemandFS').val()),
            Qty: parseFloat($('#txtGriegeDemandFS').val()),
            RequiredWarpLength:0,
            GroundEnds:0,// $('#txtGroundEndsFS').numberbox('getValue'),
            WarpSet: 0,
            SetLength:"",
            LengthSpecification: $('#txtLengthSpecification').val(),
            EndsRepeat:0,
            RepeatSection: 0, // $('#txtRepeatSection').numberbox('getValue'),
            SectionEnds: 0,
            //NoOfSection: parseFloat($("#lblNoOfSection").html()),
            NoOfSection: 0,
            PerConeLength: parseFloat($('#txtPerConeLength').val()),
            PerConeDia: 0,
            AllowancePercent: 0,
            ReqLoomProduction:0,//$('#txtReqLoomProduction').numberbox('getValue'),
            NoOfFrame:$('#txtNoOfFrame').val(),
            SelvedgeEnds:0,
            SelvedgeEndTwo:0,
            QtyExtraMet: 0,
            WarpCount:"",
            WeftCount:"",
            IsRevise:false,
            ProdtionType:false,
            FEOSDetails:[],
            FSpcType:0,
            SEBeamType:0,
            TotalEndsUB:0,
            TotalEndsLB:0,
            ReqWarpLenLB:0,
            IsSepBeam:false,
            IssueDate:$('#txtIssueDateSt').datebox('getValue'),
            RefNote: $('#txtRefNote').val(),
            WeftColor:$("#txtWeftColor").val(),
            //FEOSDetails:oWarpPlans
        };
        return oFEOS;

    }

    function SetFEOToFEOS(oFSCDetail) {
        _nFSCDID = oFSCDetail.FabricSalesContractDetailID;
        $("#txtOrderNoFS").val(oFSCDetail.SCNoFull);
        $("#txtFabricIDFS").val(oFSCDetail.FabricNo);
        $("#txtConsumptionNoFS").val("");
        $("#txtPINoFS").val(oFSCDetail.PINo);
        $("#txtConstructionFS").val(oFSCDetail.Construction);
        $("#txtFabricWidthFS").val(oFSCDetail.FinishWidthFS);
        $("#txtBuyerFS").val(oFSCDetail.BuyerName);
        $("#txtCompositionFS").val(oFSCDetail.ProductName);
        $("#txtWeaveFS").val(oFSCDetail.FabricWeaveName);
        $("#txtHLRefFS").val(oFSCDetail.HLReference);
        $("#txtFinishTypeFS").val(oFSCDetail.FinishTypeName);
        var nQtyInMtr = GetMeter(oFSCDetail.Qty)
      

    }

    function ResetControllFEOS() {

        _oFEOS = null;
        _nFSCDID = 0;
        _nReferenceFSCDID = 0;
        _bIsApprove = false;
        _nWarpEnds = 0;
        $(".resetfield").val("");

        $(".resetlbl").html("");

        //$('#txtReedFS').numberbox('setValue', 0);
        //$('#txtReedWidthFS,#txtRepeatSection').val(0);
        $("#txtCrimpFS").val(3);
        CalculateTotalCrimp();

        //$('#txtEndsFS').numberbox('setValue', 0);
        //$('#txtPicksFS').numberbox('setValue', 0);

        $('#txtReqWarpLenFSDefault').val(0);
        $('#txtReqWarpLenFSPercentage').val(0);
        $('#txtReqWarpLenFS,#txtReqLoomProduction').val(0);


        //$('#txtFinishPickFS').numberbox('setValue', 0);
        $('#txtGreigeWidthFS').numberbox('setValue', 0);
        $('#txtFabricWidth').numberbox('setValue', 0);


        $('#txtGriegeDemandFSPercentage').val(0);
        $('#txtGriegeDemandFS').val(0);

        //$('#txtGroundEndsFS').numberbox('setValue', 0);

        $('#txtWarpSet').numberbox('setValue', 0);
        //$('#txtRepeatSection').numberbox('setValue', 0);
        //$("#txtAllowancePercent").val(4);
        $("#lblFEOSpecificationStaus").html("");
        $('#cboFEOSpecification').empty();
        $('#cboFEOSpecification').hide();
        $('#btnApproveFEOS').hide();
        //$("#btnCancelFEOS").hide();
        $("#btnSaveFEOS").show();
    }

    /*------------------------ Generate Reed Width, Warp Length, Griege Demand, Section Ends -----------------------*/

    function GetReedWidth() {
        var nGroundEnds =0;// $('#txtGroundEndsFS').numberbox('getValue');
        var nReed =0;// $('#txtReedFS').numberbox('getValue');

        var nReedWidth = 0;
        if (nGroundEnds > 0 && nReed > 0) { nReedWidth = parseFloat(nGroundEnds) / parseFloat(nReed); }
        //$('#txtReedWidthFS').val(nReedWidth.toFixed(2));
        CalculateTotalCrimp();
    }

    function GetReedWidthFS() {
        var nGroundEnds =0;// $('#txtGroundEndsFS').numberbox('getValue');
        var nReed =0;// $('#txtReedFS').numberbox('getValue');

        var nReedWidth = 0;
        if (nGroundEnds > 0 && nReed > 0) { nReedWidth = parseFloat(nGroundEnds) / parseFloat(nReed); }
        return nReedWidth.toFixed(2);
    }

    function GetReqWarpLength() {
        var nWarpLenDefault = $('#txtReqWarpLenFSDefault').val();
        var nPercentage = $('#txtReqWarpLenFSPercentage').val();

        var nWarpLen = 0;
        if (nWarpLenDefault > 0) {
            nWarpLen = parseFloat(nWarpLenDefault) + ((parseFloat(nWarpLenDefault) * parseFloat(nPercentage)) / 100);
        }
        if (isNaN(nWarpLen)) {
            nWarpLen = 0;
        }
        $('#txtReqWarpLenFS').val(nWarpLen.toFixed(2));
    }


    function GetSectionEnds() {
        var nRepreatSection =  parseFloat($('#txtRepeatSection').val());
        var nSectionEnds = 0;

        if (nRepreatSection > 0) { nSectionEnds = parseInt(nRepreatSection) * parseInt(_nWarpEnds); }
        $("#lblSectionEnds").html(nSectionEnds);


        $("#lblNoOfSection").html(($('#txtGroundEndsFS').val() > 0 && nSectionEnds>0) ? (parseFloat($('#txtGroundEndsFS').val()) / parseInt($("#lblSectionEnds").html())).toFixed(2) : 0);

        //if(parseFloat($("#txtNoOfSection").val())<=0)
        //{
        //    $("#txtNoOfSection").val(parseFloat($("#lblNoOfSection").html()));
        //}
        //var nPerConeDia = 0;
        //if (parseFloat($("#lblNoOfSection").html()) > 0 && parseFloat($('#txtReqWarpLenFS').val()) > 0)
        //{
        //    nPerConeDia = parseFloat((parseFloat($("#lblNoOfSection").html()) * parseFloat($('#txtReqWarpLenFS').val())) / (1.6933 * 40));
        //}
        //$("#lblPerConeDia").html(nPerConeDia.toFixed(2));

        //var nPerConeLength = 0;
        //if (parseFloat($("#lblPerConeDia").html()) > 0)
        //{
        //    nPerConeLength = parseFloat((parseFloat($("#lblPerConeDia").html()) / 1000) * (1693.3 * 40) + 500);
        //}
        //$("#lblPerConeLength").html(nPerConeLength.toFixed(2));
    }
    /*------------------- Region Warp/Weft Grid Generation-------------------*/

    function GenerateWarpingPrograms(oFEOS) {

        $('#txtWarpSet').numberbox('setValue', (oFEOS != null) ? oFEOS.WarpSet : 0);
        $('#txtSetLength').val((oFEOS != null) ? oFEOS.SetLength : 0);
        $('#txtLengthSpecification').val((oFEOS != null) ? oFEOS.LengthSpecification : 0);
        $("#lblEndsRepeat").html(parseInt(_nWarpEnds));
        //$('#txtRepeatSection').numberbox('setValue', (oFEOS != null) ? oFEOS.RepeatSection : 1);
        $('#txtRepeatSection').val((oFEOS != null) ? oFEOS.RepeatSection : 1);
        GetSectionEnds();
    }

    var editIndex = undefined;

    function onClickRow(index) {

    }

    function onClickRowFESDWarp(index) {

    }

    function onClickRowFESDWeft(index) {

    }

    $("#txtDyeingSolution").keydown(function (e) {
        if (e.keyCode == 13) // Enter Press
        {
            GetDyeingSolutions($("#txtDyeingSolution").val());
        }
    });
    ////////////////////picker add////////////////
    function DyeingSolutionPicker(oResult)
    {
        debugger;
        if(oResult!=null)
        {
            if(oResult.length>0)
            {
                _nDyeingSolutionIDs ="";
                var ncount=0;
                for(var i =0;i<oResult.length;i++)
                {
                    var sDyeingSolutionID=oResult[i].FNTPID;
                    _nDyeingSolutionIDs=_nDyeingSolutionIDs+sDyeingSolutionID+',';
                    ncount++;
                }
                debugger;
                _nDyeingSolutionIDs= _nDyeingSolutionIDs.substring(0, _nDyeingSolutionIDs.length - 1);
            }
        }
        else
        {
            alert( "Please Select any");
            return;
        }
    }
    function GetDyeingSolutions(sName){
        debugger;
        //var oDyeingSolution = {
        //    Name:sName,
        //    DyeingSolutionType:1 // EnumDyeingSolutionType--> 1: process, 2: solution
        //};
        var oFabricSalesContractDetail = {
            FabricSalesContractDetailID: _nFSCDetailID,
            ErrorMessage:$('#txtDyeingSolution').val()
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: (oFabricSalesContractDetail),
            ControllerName: "FNExecutionOrder",
            ActionName: "GetsTreatmentProcess",
            IsWinClose: false
        };

        debugger;
        var tblColums = [];
        var oColumn = { field: "Code", title: "Code", width: 150, align: "left" };tblColums.push(oColumn);
        var oColumn = { field: "FNTreatmentSt", title: "Treatment", width: 200, align: "left" };tblColums.push(oColumn);
        var oColumn = { field: "FNProcess", title: "Process Name", width: 150, align: "left" };tblColums.push(oColumn);

        var oPickerParam = {
            winid: 'winDyeingSolutionPicker',
            winclass: 'clsDyeingSolutionPicker',
            winwidth: 400,
            winheight: 460,
            tableid: 'tblDyeingSolutionPicker',
            tablecolumns: tblColums,
            multiplereturn: true,
            searchingbyfieldName: 'FNProcess',
            windowTittle: 'Process List',
            paramObj:obj,
            pkID:'FNTPID',
            callBack:DyeingSolutionPicker
        };

        DynamicPiker('RefTaskPicker',obj,tblColums,true,'FNProcess','FNTPID'); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID

    }
    function DynamicPiker(pickerName,obj,pTblColums,pMultiReturn,pSearchField,pID)
    {
        debugger;
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0][pID] > 0) {
                    debugger;
                    var tblColums = pTblColums;
                    var oPickerParam = {
                        winid: 'win'+pickerName,
                        winclass: 'cls'+pickerName,
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tbl'+pickerName+'s',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: pMultiReturn,
                        searchingbyfieldName: pSearchField,
                        windowTittle: pickerName+' List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("Data Not Found.");
                $("#progressbar").progressbar({ value: 0 });//hide
                $("#progressbarParent").hide();
                return;
            }
        });
    }
    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }
    function SetPickerValueAssign(oPickerobj)
    {
        var oResult;
        if (oPickerobj.multiplereturn)
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getChecked');
        }
        else
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getSelected');
        }
        if (oPickerobj.winid == 'winRefTaskPicker')
        {
            SetRefTask(oResult);
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }
    function SetRefTask(oSelectedStyle) {
        debugger;
        oSelectedStyle = CompareDoubleEntry(oSelectedStyle);
        //LoadGrid(oSelectedStyle);
        SaveIntoDatabase(oSelectedStyle);
    }
    function CompareDoubleEntry(oSelectedStyle)
    {
        var oDS = $('#tblDyeingSolutions').datagrid('getRows');
        for(var i = 0; i<oDS.length;i++)
            for(var j=0; j<oSelectedStyle.length;j++)
            {
                if (oSelectedStyle[j].FNTPID==oDS[i].FNTPID)
                {
                    oSelectedStyle.splice(j, 1);
                }
            }
        return oSelectedStyle;
    }
    function LoadDataGrid(LoadGrid)
    {
        debugger;
        var data = LoadGrid;
        data = { "total": "" + data.length + "", "rows": data };
        $("#tblDyeingSolutions").datagrid("loadData", data);
    }
    function SaveIntoDatabase(LoadGrid)
    {
        debugger;
        LoadGrid[0].ErrorMessage = _nFSCDetailID;
        var FabricSalesContractDetail = {
            FabricSalesContractDetailID:_nFSCDetailID,
            FNExecutionOrderProcessList:LoadGrid
        };
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/FNExecutionOrder/SaveFNEOProcess",
            traditional: true,
            data:  JSON.stringify(FabricSalesContractDetail),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                //var oList = jQuery.parseJSON(data);
                data = jQuery.parseJSON(data);
                data = data.FNExecutionOrderProcessList;
                if(data.length>0)
                {
                    LoadDataGrid(data);
                    $.messager.alert('Notification','Data Saved');
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
   
    $("#btnDeleteFSNote").click(function(){
        var oDS = $("#tblDyeingSolutions").datagrid("getSelected");

        if(oDS == null || oDS.FNTPID <=0)
        {
            alert("Please select an item from list.");
            return;
        }

        if (!confirm("Confirm to Delete?")) return;
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oDS,
            ControllerName: "FabricExecutionOrderSpecification",
            ActionName: "DeleteDyeingSolution",
            TableId: "tblFabricSpecificationNotes",
            IsWinClose: false
        };
        $.icsDelete(obj);
    });
    $("#btnDeleteDS").click(function(){
        debugger;
        var oDS = $("#tblDyeingSolutions").datagrid("getSelected");
        if(oDS == null || oDS.FNTPID <=0)
        {
            alert("Please select an item from list.");
            return;
        }
        oDS.ErrorMessage = _nFSCDetailID;
        if (!confirm("Confirm to Delete?")) return;
        var SelectedRowIndexDS=$('#tblDyeingSolutions').datagrid('getRowIndex',oDS);
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/FNExecutionOrder/DeleteFNEOProcess",
            traditional: true,
            data:  JSON.stringify(oDS),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                if(data!="")
                {
                    $.messager.alert('Notification','Selected Process Deleted');
                    $('#tblDyeingSolutions').datagrid('deleteRow',SelectedRowIndexDS);
                }
                else
                {
                    alert(data);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });
    ////new
    function Validation_FSNote()
    {
        if($.trim($("#txtFabricSpecificationNote").val()) == "")
        {
            alert("Please Type Note and Press Add Button");
            $("#txtFabricSpecificationNote").addClass("errorFieldBorder");
            $("#txtFabricSpecificationNote").focus();
            return false;
        }else{
            $("#txtFabricSpecificationNote").removeClass("errorFieldBorder");
        }
        if(_oFEOS.FEOSID<=0)
        {
            alert("Specification yet not confirm.");
            $("#txtFabricSpecificationNote").addClass("errorFieldBorder");
            $("#txtFabricSpecificationNote").focus();
            return false;
        }else{
            $("#txtFabricSpecificationNote").removeClass("errorFieldBorder");
        }
        return true;
    }

    function RefreshObject_FSNote() {
        var oFabricSpecificationNote = {
            FabricSpecificationNoteID : (_oFabricSpecificationNote == null ? 0 : _oFabricSpecificationNote.FabricSpecificationNoteID),
            Note : $("#txtFabricSpecificationNote").val(),
            FEOSID:_oFEOS.FEOSID
        }
        return oFabricSpecificationNote;
    }

    $("#btnAddFSNote").click(function(){
        _oFabricSpecificationNote= null;
        AddNew();
    });

    $("#txtFabricSpecificationNote").keydown(function(e){
        if(e.keyCode === 13)
        {
            _oFabricSpecificationNote = null;
            AddNew();
        }
    });

    function AddNew()
    {
        if (!Validation_FSNote())
        {
            return false;
        }
        else
        {
            debugger;
            var oFabricSpecificationNote = RefreshObject_FSNote();
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oFabricSpecificationNote,
                ObjectId: oFabricSpecificationNote.FabricSpecificationNoteID,
                ControllerName: "FabricExecutionOrderSpecification",
                ActionName: "SaveFabricSpecificationNote",
                TableId: "tblFabricSpecificationNotes",
                IsWinClose: false,
                Message:""
            };
            $.icsSave(obj, function (response) {
                if (response.status && response.obj != null) {
                    debugger;

                    if (response.obj.FabricSpecificationNoteID > 0) {
                        $("#txtFabricSpecificationNote").val("");
                        $("#txtFabricSpecificationNote").focus();
                        $("#btnUpdateFSNote").hide();

                    }
                }
            });
        }
    }

    $("#btnDeleteFSNote").click(function(){
        var oFabricSpecificationNote = $("#tblFabricSpecificationNotes").datagrid("getSelected");
        if(oFabricSpecificationNote == null || oFabricSpecificationNote.FabricSpecificationNoteID <=0)
        {
            alert("Please select an item from list.");
            return;
        }

        if (!confirm("Confirm to Delete?")) return;
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oFabricSpecificationNote,
            ControllerName: "FabricExecutionOrderSpecification",
            ActionName: "DeleteFabricSpecificationNote",
            TableId: "tblFabricSpecificationNotes",
            IsWinClose: false
        };
        $.icsDelete(obj);
    });

    $("#btnEditFSNote").click(function(){
        var oFabricSpecificationNote = $("#tblFabricSpecificationNotes").datagrid("getSelected");
        if(oFabricSpecificationNote== null || oFabricSpecificationNote.FabricSpecificationNoteID <=0)
        {
            alert("Please select an item from list.");
            return;
        }
        _oFabricSpecificationNote= oFabricSpecificationNote;
        $("#txtFabricSpecificationNote").removeClass("errorFieldBorder");
        $("#txtFabricSpecificationNote").val(oFabricSpecificationNote.Note);
        $("#btnUpdateFSNote").show();
    });

    $("#btnUpdateFSNote").click(function(){
        AddNew();
    });

    $("#txtColorWarp").keydown(function (e) {
        if (e.keyCode == 13) // Enter Press
        {
            _IsWarp = true;
            GetsWaftWarp($("#txtColorWarp").val());
        }
    });

    $("#txtColorWeft").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {
            _IsWarp = false;
            GetsWaftWarp($("#txtColorWeft").val());
        }
    });
    function GetsWaftWarp(sColorName) {

        debugger;
        var oFabricPattern = {
            FabricID: _oFabric.FabricID,
            Note: sColorName // here Note property use for color name string
        };
        var txtId = $(this).attr("id");
        oFabricPattern.ProductID = (txtId == "txtColorWarp" ? _nProductIdWarp : _nProductIdWeft);
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFabricPattern,
            ControllerName: "Fabric",
            ActionName: "GetFPColors",
            IsWinClose: false
        };


        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {

                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ColorName", title: "Code", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ColorName", title: "ColorName", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ColorNo", title: "LD No", width: 80, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winFPColorPicker',
                        winclass: 'clsFPColorPicker',
                        winwidth: 450,
                        winheight: 400,
                        tableid: 'tblFPColorPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'ColorName',
                        windowTittle: 'Color List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializeProductPickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else { alert("No Product Found."); }
        });
    }

    function IntializeProductPickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            ProductSelect(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                ProductSelect(oPickerobj);
            }
        });
    }
    function ProductSelect(oPickerobj) {

        var obj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        if (oPickerobj.winid == 'winFPColorPicker')
        {
            debugger;
            var elementId = (_IsWarp) ? 'txtColorWarp' : 'txtColorWeft';

            if (obj != null && obj.LabDipDetailID > 0) {
                $("#" + oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();
                $('#' + elementId).val(obj.ColorName);
                $('#' + elementId).addClass("fontColorOfPickItem");
                _nLabDipDetailID=obj.LabDipDetailID;
            }
            else {
                $('#' + elementId).val("");
                $('#' + elementId).removeClass("fontColorOfPickItem");
            }
        }
        else if (oPickerobj.winid == 'winDyeingSolutionPicker')
        {
            if (obj != null && obj.FNTPID > 0)
            {
                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();

                $('#tblDyeingSolutions').datagrid('appendRow',obj);
                $("#txtDyeingSolution").val("");
                $("#txtDyeingSolution").focus();
            }
        }
    }

    var   _oDODetailDs = [];
    function UP()
    {
        debugger;
        var oRSD = $('#tblDyeingSolutions').datagrid('getSelected');
        if(oRSD==null)
        {
            alert("Please select Item");
            return;
        }
        var SelectedRowIndex=$('#tblDyeingSolutions').datagrid('getRowIndex',oRSD);
        if(SelectedRowIndex==0)return;
        var oRSDs=$('#tblDyeingSolutions').datagrid('getRows');
        _oDODetailDs = [];
        for(var i=0; i<oRSDs.length; i++)
        {
            if(i==(SelectedRowIndex-1))
            {
                _oDODetailDs[i]=oRSDs[i+1];
            }
            else if(i==SelectedRowIndex)
            {
                _oDODetailDs[i]=oRSDs[i-1];
            }
            else
            {
                _oDODetailDs[i]=oRSDs[i];
            }
            _oDODetailDs[i].Sequence=i+1;
        }
        DynamicRefreshList(_oDODetailDs, 'tblDyeingSolutions');
        var newSelectedRowIndex=SelectedRowIndex-1;
        $('#tblDyeingSolutions').datagrid('selectRow',newSelectedRowIndex);

    }
    function Down()
    {
        debugger;
        var oRSD = $('#tblDyeingSolutions').datagrid('getSelected');
        if(oRSD==null)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblDyeingSolutions').datagrid('getRowIndex',oRSD);
        if(SelectedRowIndex==(_oDODetailDs.length-1))return;
        var oRSDs=$('#tblDyeingSolutions').datagrid('getRows');
        _oDODetailDs = [];
        for(var i=0; i<oRSDs.length; i++)
        {
            if(i==(SelectedRowIndex+1))
            {
                _oDODetailDs[i]=oRSDs[i-1];
            }
            else if(i==SelectedRowIndex)
            {
                _oDODetailDs[i]=oRSDs[i+1];
            }
            else
            {
                _oDODetailDs[i]=oRSDs[i];
            }
            _oDODetailDs[i].Sequence=i+1;
        }
        DynamicRefreshList(_oDODetailDs, 'tblDyeingSolutions');
        var newSelectedRowIndex=SelectedRowIndex+1;
        $('#tblDyeingSolutions').datagrid('selectRow',newSelectedRowIndex);
    }
   
    function SaveSequence()
    {
        if (!confirm("Confirm to Save Sequence?")) return;
        var oRSDs = $('#tblDyeingSolutions').datagrid('getRows');
        if(oRSDs.length>0)
        {
            for(var i = 0;i<oRSDs.length;i++)
            {
                oRSDs[i].Sequence = i+1;
            }
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/FNExecutionOrder/RefreshMenuSequence",
            traditional: true,
            data:  JSON.stringify(oRSDs),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  oRSDs = jQuery.parseJSON(data);
                DynamicRefreshList(oRSDs, 'tblDyeingSolutions');
                $.messager.show({
                    title:'Notification',
                    msg:'Sequence Saved',
                    timeout:2000,
                    showType:'show'
                });
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }
</script>
