<html>
<body>

    @model ESimSol.BusinessObjects.FabricSalesContractDetail
    @{
        ViewBag.Title = "Challan Receive";
    }
    <div class="menuMainCollectionTable">
        <fieldset>
            <table id="tblFNFEO" border="0" cellspacing="1" cellpadding="1" style="width:100%; font-size:11px;">
                <tr>
                    <td class="feo-td-label">
                        <label>FEO No :</label>
                    </td>
                    <td class="feo-td-info">
                        <label id="lblFEONo" class="resetlabel"></label>
                    </td>
                    <td class="feo-td-label">
                        <label>Order Date :</label>
                    </td>
                    <td class="feo-td-info">
                        <label id="lblOrderDate" class="resetlabel"></label>
                    </td>
                    <td class="feo-td-label">
                        <label>Exp. Delivery Date :</label>
                    </td>
                    <td class="feo-td-info">
                        <label id="lblExpectedDeliveryDate" class="resetlabel"></label>
                    </td>
                </tr>
          
                <tr>
                    <td class="feo-td-label">
                        <label>Fabric No :</label>
                    </td>
                    <td class="feo-td-info-input">
                        <label id="lblFabricNo" class="resetlabel"></label>
                    </td>
                    <td class="feo-td-label">
                        <label>Composition :</label>
                    </td>
                    <td class="feo-td-info">
                        <label id="lblComposition" class="resetlabel"></label>
                    </td>
                    <td class="feo-td-label">
                        <label>Construction :</label>
                    </td>
                    <td class="feo-td-info">
                        <label id="lblConstruction" class="resetlabel"></label>
                    </td>
                </tr>

                <tr>
                    <td class="feo-td-label">
                        <label>Sourcing :</label>
                    </td>
                    <td class="feo-td-info-input">
                        <label id="lblSourcingName" class="resetlabel"></label>
                    </td>
                    <td class="feo-td-label">
                        <label>Color :</label>
                    </td>
                    <td class="feo-td-info">
                        <label id="lblColor" class="resetlabel"></label>
                    </td>
                    <td class="feo-td-label">
                        <label>Order Qty :</label>
                    </td>
                    <td class="feo-td-info">
                        <label id="lblOrderQty" class="resetlabel"></label>
                    </td>
                </tr>
            </table>
        </fieldset>

        <fieldset style="height:415px">
            <div style="width:100%;">
                <table id="tblFEOYR" style="width:100%; font-size:11px;">
                    <tr id="regionDetailAdd">
                        <td>
                            <div style="float:left;width:100%;">
                                <div style="float:left; width:21%; padding-left:5px;">
                                    <span>WU Name</span>
                                    <select id="cboWU" style="width:75%;"></select>
                                </div>
                                <div style="float:left; width:35%; padding-left:10px;">
                                    <span>Product</span>
                                    <input id="txtProductName" type="text" style="width:30%;" placeholder="Search Product" class="resetfield" />
                                    <span style="padding-left:5px;">Lot No</span>
                                    <input id="txtLotNo" type="text" style="width:30%;" placeholder="Type/ Pick Lot" class="resetfield" />
                                </div>
                                <div style="float:left; width:25%;">
                                    <div class="region-maker">
                                        <label>KG</label>
                                        <input id="txtQtyInKG" class="number-box label-place resetfield" type="text" />
                                    </div>
                                    <div class="region-maker">
                                        <label>LBS</label>
                                        <input id="txtQtyInLBS" class="number-box label-place resetfield" type="text" />
                                    </div>
                                </div>
                                <a id="btnReceive" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Receive</a>
                            </div>

                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table id="tblFEOYarnReceive" class="easyui-datagrid" style="height: 345px; width:1000px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false"
                                   data-options="rowStyler: function(index,row){if (row.FEOYID >0){return 'background-color:#6293BB;color:#fff;font-weight:bold;';}}">
                                <thead>
                                    <tr>
                                        <th field="ProductNameCode" width="30%" align="left">Product Name</th>
                                        <th field="LotNo" width="15%" align="left">Lot No</th>
                                        <th field="ReceiveQty" width="15%" align="right" formatter="formatPrice">Qty (Kg)</th>
                                        <th field="QtyInLbs" width="15%" align="right" formatter="formatPrice">Qty(lbs)</th>
                                        <th field="ReceiveDateInStr" width="15%" align="center">Received Date</th>
                                    </tr>
                                </thead>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div style="width:100%">
                                <div style="float:left; width:47%; text-align:right;"><label><b>Total:</b></label></div>
                                <div style="float:left; width:14%; text-align:right;"><label id="lblQtyKG" class="lblSummary">0.00</label></div>
                                <div style="float:left; width:15%; text-align:right;"><label id="lblQtyLBS" class="lblSummary">0.00</label></div>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </fieldset>

        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <div style="float:right; width:100%">
                <div style="float:right; text-align:right; width:20%;">
                    <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                </div>
            </div>
        </fieldset>
    </div>
</body>
</html>

<style type="text/css">
    .styleformat input {
        text-align: left;
        font-size: 11px;
        width: 44%;
    }

    .styleformat select {
        text-align: left;
        font-size: 12px;
        width: 44%;
    }

    .feo-td-label {
        width: 12%;
        text-align: right;
        font-weight: bold;
    }

    .feo-td-info, .feo-td-info-input {
        width: 20%;
        text-align: left;
    }

        .feo-td-info input {
            width: 95%;
            text-align: left;
            font-size: 11px;
        }

    .feo-td-info-Input-Converter input {
        width: 45%;
        text-align: left;
        font-size: 11px;
    }

    .feo-td-info select {
        width: 98%;
        text-align: left;
        font-size: 11px;
    }

    .region-maker {
        float: left;
        width: 44%;
        border: 1px solid gray;
        font-size: 13px;
        padding-top: 2px;
        margin-left: 1%;
    }

    .label-place {
        border: 0;
        float: right;
        width: 80%;
        font-size: 11px;
    }
</style>

<script type="text/javascript">

    var _sBaseAddress='';
    var _oFSCD=null;
    var _oProduct = null;
    var _oLot = null;
    var _oFEOYRs=[];

    $(document).ready(function () {
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oFEO =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oFEOYRs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.FEOYR));
        var oWUs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.WUs));
        $("#cboWU").icsLoadCombo({
            List: oWUs,
            OptionValue: "WorkingUnitID",
            DisplayText: "WorkingUnitName",
            InitialValue:""
        });
        $('.number-box').icsCurrencyBox();
        Initialization(oFEO,((sessionStorage.length>0)?sessionStorage.getItem('Operation'):'New'));

    });


    $(document).keydown(function (e) { if (e.keyCode == 27) { $('#div').icsWindow('close'); } });


    $('#tblFEOYarnReceive').datagrid({ onSelect: function (rowIndex, rowData) { OperationPerforms(rowIndex, rowData); } });

    function OperationPerforms(rowIndex, rowData) {
        debugger;
        if (rowData != null) {
            if(rowData.FEOYID > 0 && rowData.ReceiveBy>0){
                $('#btnReceive').hide();
            }
            else{
                $('#btnReceive').show();
            }
        }
    }


    function Initialization(oFEO,sOperation){

        ResetControl();
        RefreshControl(oFEO);
        if(sOperation=="View")
        {
            $('input,select').prop('disabled',true);
        }
    }

    function ResetControl(){
        $('input,select').not('.Isdisabled').prop('disabled',false);
        $('.lblSummary').text('0.00');
        $("#tblFNFEO .resetlabel").text("");
        $("#tblFEOYR .resetfield").val("");
        DynamicRefreshList([],'tblFEOYarnReceive');
        SummaryCalculation();
    }

    function RefreshControl(oFEO){
        _oFSCD=oFEO;
        $('#lblFEONo').text(oFEO.OrderNo);
        $('#lblOrderDate').text(oFEO.IssueDateInStr);
        $('#lblExpectedDeliveryDate').text(oFEO.BuyerName);

        $('#lblFabricNo').text(oFEO.FabricNo);
        $('#lblComposition').text(oFEO.Composition);
        $('#lblConstruction').text(oFEO.Construction);

        $('#lblSourcingName').text((oFEO.IsInHouse)? "In House": "Buyer");
        $('#lblColor').text(oFEO.Color);
        $('#lblOrderQty').text("Y "+ formatPrice(oFEO.Qty)+ ' /  M '+ formatPrice(GetLBS(oFEO.Qty, 2)));

        DynamicRefreshList(_oFEOYRs,'tblFEOYarnReceive');
        SummaryCalculation();
    }

    $('#txtQtyInKG').keyup(function(e)
    {
        $('#txtQtyInLBS').val(formatPrice(GetLBS(icsRemoveComma($('#txtQtyInKG').val()), 2)));

    });

    $('#txtQtyInLBS').keyup(function(e)
    {
        $('#txtQtyInKG').val(formatPrice(GetKG(icsRemoveComma($('#txtQtyInLBS').val()), 2)));

    });

    $('#txtProductName').keydown(function (e)
    {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            GetsProduct($.trim($("#txtProductName").val()));
        }
        else if(nkeyCode==8){
            $("#txtProductName").val("");
            _oProduct=null;
        }
    });

    function GetsProduct(sName)
    {
        var oProduct = {
            Name:sName,
            BUID:2
        };

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProduct,
            ControllerName: "DyeingOrder",
            ActionName: "GetProducts",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0)
            {
                if (response.objs[0].ProductID > 0)
                {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Code", width: 80, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Name", width: 300, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "MUnit", title: "Unit", width: 70, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winProductPicker',
                        winclass:'clsProductPicker',
                        winwidth: 560,
                        winheight: 460,
                        tableid: 'tblProductPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'NameCode',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializeProductPickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else { alert("No Product found."); }
        });

    }

    function IntializeProductPickerbutton(oPickerobj)
    {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            ProductSelect(oPickerobj);
        });
        $(document).find('.' +oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                ProductSelect(oPickerobj);
            }
        });
    }

    function ProductSelect(oPickerobj){
        var oProduct = $('#'+oPickerobj.tableid).datagrid('getSelected');
        if (oPickerobj.winid == 'winProductPicker')
        {
            if(oProduct !=null && oProduct.ProductID>0){
                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();
                $('#txtProductName').val(oProduct.ProductName);
                _oProduct = oProduct;
                $('#btnReceive').show();
            }
            else{
                alert("Please select a product.");
            }
        }
    }


    //$('#txtLotNo').keyup(function (e)
    //{
    //    var nkeyCode = e.keyCode || e.which;
    //    if(nkeyCode==13){
    //        if(_oProduct==null && _oProduct.ProductID<=0){ alert("No product found"); $('#txtProductName').focus(); return false; };
    //        GetsLot($.trim($("#txtLotNo").val()));
    //    }
    //    else if(nkeyCode==8){
    //        $("#txtLotNo").val("");
    //        _oLot=null;
    //        $("#cboWU").prop('disabled',false);
    //    }
    //});

    
    $('#txtLotNo').keyup(function (e)
    {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            if(_oProduct==null)
            {
                if($.trim($("#txtLotNo").val()) =="" || $("#txtLotNo").val()==undefined){
                    alert("Please Enter Lot No ");
                    return false;
                }
            }
            GetsLot($.trim($("#txtLotNo").val()));
        }
        else if(nkeyCode==8){
            $("#txtLotNo").val("");
            _oLot=null;
            $("#cboWU").prop('disabled',false);
        }
    });
    function GetsLot(sName){
      
        if($("#cboWU").val()<=0){
            alert('Please select working unit.');
            return false;
        }
     
        var oLot = {
            LotNo : sName,
            ProductID : (_oProduct==null)?0:_oProduct.ProductID,
            WorkingUnitID : $("#cboWU").val()
        };
  
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress +'/Lot/GetsLot',
            traditional: true,
            data: JSON.stringify(oLot),
            contentType: "application/json; charset=utf-8",
            success: function (data) 
            {
                var oLots = JSON.parse(data);
                if (oLots.length>0)
                {
                    if (oLots[0].LotID > 0)
                    {
                        var tblColums = [];
                        var oColumn = { field: "LotNo", title: "LotNo", width: 80, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "ProductName", title: "Product Name", width: 150, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "Balance", title: "Balance", width: 90, align: "right", formatter:formatPrice };tblColums.push(oColumn);
                        oColumn = { field: "MUName", title: "Unit", width: 50, align: "left" };tblColums.push(oColumn);

                        var oPickerParam = {
                            winid: 'winLotPicker',
                            winclass:'clsLotPicker',
                            winwidth: 450,
                            winheight: 380,
                            tableid: 'tblLotPicker',
                            tablecolumns: tblColums,
                            datalist:oLots,
                            multiplereturn: false,
                            searchingbyfieldName:'LotNo',
                            windowTittle: 'Lot List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializeLotPickerbutton(oPickerParam);//multiplereturn, winclassName
                    }
                    else { alert(oLots[0].ErrorMessage); }
                }
                else { alert("No Lot found."); }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    }

    //function GetsLot(sName){
    //    debugger;
    //    if($("#cboWU").val()<=0){
    //        alert('Please select working unit.');
    //        return false;
    //    }
    //    var oLot = {
    //        LotNo : sName,
    //        ProductID : _oProduct.ProductID,
    //        WorkingUnitID : $("#cboWU").val()
    //    };
    //    var obj = {
    //        BaseAddress: _sBaseAddress,
    //        Object: oLot,
    //        ControllerName: "Lot",
    //        ActionName: 'GetLotsByProduct', // "SearchByBuyerFabricNo",
    //        IsWinClose: false
    //    };
    //    $.icsDataGets(obj, function (response) {

    //        if (response.status && response.objs.length > 0)
    //        {

    //            if (response.objs[0].LotID > 0)
    //            {
    //                var tblColums = [];
    //                var oColumn = { field: "LotNo", title: "LotNo", width: 80, align: "left" };tblColums.push(oColumn);
    //                oColumn = { field: "ProductName", title: "Product Name", width: 150, align: "left" };tblColums.push(oColumn);
    //                oColumn = { field: "Balance", title: "Balance", width: 90, align: "right", formatter:formatPrice };tblColums.push(oColumn);
    //                oColumn = { field: "MUName", title: "Unit", width: 50, align: "left" };tblColums.push(oColumn);

    //                var oPickerParam = {
    //                    winid: 'winLotPicker',
    //                    winclass:'clsLotPicker',
    //                    winwidth: 450,
    //                    winheight: 380,
    //                    tableid: 'tblLotPicker',
    //                    tablecolumns: tblColums,
    //                    datalist: response.objs,
    //                    multiplereturn: false,
    //                    searchingbyfieldName:'LotNo',
    //                    windowTittle: 'Lot List'
    //                };
    //                $.icsPicker(oPickerParam);
    //                IntializeLotPickerbutton(oPickerParam);//multiplereturn, winclassName
    //            }
    //            else { alert(response.objs[0].ErrorMessage); }
    //        }
    //        else { alert("No Lot found."); }
    //    });

    //}

    function IntializeLotPickerbutton(oPickerobj)
    {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            LotSelect(oPickerobj);
        });
        $(document).find('.' +oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                LotSelect(oPickerobj);
            }
        });
    }


    function LotSelect(oPickerobj){
        var oLot = $('#'+oPickerobj.tableid).datagrid('getSelected');
        if (oPickerobj.winid == 'winLotPicker')
        {
            if(oLot !=null && oLot.LotID>0)
            {
                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();
                $('#txtLotNo').val(oLot.LotNo);
                $("#txtProductName").val(oLot.ProductName);
                _oProduct={
                    ProductID:oLot.ProductID,
                    ProductName:oLot.ProductName
                }
                _oLot=oLot;
                $("#txtQtyInKG").val(_oLot.Balance);
                $("#txtQtyInKG").focus();
                $("#cboWU").prop('disabled',true);
            }
            else{
                alert("Please select a Lot.");
            }
        }
    }

    function Validation(){

        if($("#cboWU").val()<=0){
            $('#cboWU').focus();
            $('#cboWU').addClass("errorFieldBorder");
            alert('Please select working unit.');
            return false;
        }
        else{
            $('#cboWU').removeClass("errorFieldBorder");
        }

        if(_oProduct==null || _oProduct.ProductID<=0){
            $('#txtProductName').focus();
            $('#txtProductName').addClass("errorFieldBorder");
            alert('No product found.');
            return false;
        }
        else{
            $('#txtProductName').removeClass("errorFieldBorder");
        }

        if((_oLot==null || _oLot.LotID<=0) && $.trim($('#txtLotNo').val())==""){
            $('#txtLotNo').focus();
            $('#txtLotNo').addClass("errorFieldBorder");
            alert('Give  a lot no/ Pick a lot');
            return false;
        }
        else{
            $('#txtLotNo').removeClass("errorFieldBorder");
        }



        if($.trim($('#txtQtyInKG').val().toString())=="" || parseFloat(icsRemoveComma($('#txtQtyInKG').val()))<=0){
            $('#txtQtyInKG').focus();
            $('#txtQtyInKG').addClass("errorFieldBorder");
            alert('Length must be greater than zero.');
            return false;
        }
        else{
            $('#txtQtyInKG').removeClass("errorFieldBorder");
        }


        //if(_oLot!=null && _oLot.LotID>0 &&  parseFloat(icsRemoveComma($('#txtQtyInKG').val()))>_oLot.Balance && _oLot.Balance>0  ){

        //    $('#txtQtyInKG').focus();
        //    $('#txtQtyInKG').addClass("errorFieldBorder");
        //    alert('Length qty must be less than or equal to'+ formatPrice(_oLot.Balance)+" ");
        //    return false;
        //}
        //else{
        //    $('#txtQtyInKG').removeClass("errorFieldBorder");
        //}

        //var oFEOYRs=$('#tblFEOYarnReceive').datagrid('getRows');

        //if(oFEOYRs.length>0){
        //    for(var i=0;i<oFEOYRs.length;i++){
        //        if(_oLot!=null && oFEOYRs[i].LotID == _oLot.LotID){
        //            alert("Duplicate lot entry doesn''t possible.");
        //            return false;
        //        }
        //        else if(oFEOYRs[i].LotNo==$.trim($('#txtLotNo').val())){
        //            alert("Duplicate lot no entry doesn''t possible.");
        //            return false;
        //        }
        //    }
        //}


        return true;
    }

    function ReceiveYarn(){
        if(!Validation()){ return false; }
        if (!confirm("Confirm to receive?")) { return false; }
        var oFEOYR={
            FEOYID : 0,
            FSCDID : _oFSCD.FabricSalesContractDetailID,
            LotID : (_oLot!=null && _oLot.LotID>0)? _oLot.LotID:0,
            ReceiveQty : icsRemoveComma($('#txtQtyInKG').val()),
            ReqQty : icsRemoveComma($('#txtQtyInKG').val()),
            ChallanDetailID : 0,
            WUID : $("#cboWU").val(),
            SUDeliveryChallanID : 0,
            ProductID : (_oProduct!=null && _oProduct.ProductID>0)? _oProduct.ProductID:0,
            LotNo : $.trim($('#txtLotNo').val())
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFEOYR,
            ObjectId: oFEOYR.FEOYID,
            ControllerName: "FabricExecutionOrderSpecification",
            ActionName: "FEOYarnReceive",
            TableId: "tblFEOYarnReceive",
            IsWinClose: false,
            Message: ""
        };
        $.icsSave(obj, function (response) {

            if (response.status && response.obj != null) {
                if (response.obj.FEOYID > 0) {
                    SummaryCalculation();
                    _oLot=null;
                    _oProduct=null;
                    $("#cboWU").prop('disabled',false);
                    $('#txtProductName, #txtLotNo, #txtQtyInKG, #txtQtyInLBS').val("");
                }
            }
        });
    }

    $('#txtQtyInKG').keyup(function (e)
    {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            ReceiveYarn();
        }
      
    });
    
    $('#btnReceive').click(function(e)
    {
        ReceiveYarn();
    });

    function SummaryCalculation(){

        var nQty = 0, nQtyInLbs = 0;
        var oFEOYRs=$('#tblFEOYarnReceive').datagrid('getRows');

        if(oFEOYRs.length>0){
            for(var i=0; i<oFEOYRs.length;i++){
                nQty = parseFloat(nQty) + parseFloat(oFEOYRs[i].Qty) ;
                nQtyInLbs = parseFloat(nQtyInLbs) + parseFloat(oFEOYRs[i].QtyInLbs) ;
            }
        }
        $('#lblQtyKG').text(formatPrice(nQty));
        $('#lblQtyLBS').text(formatPrice(nQtyInLbs));
    }
    
    $('#btnClose').click(function(e){
        //SetIntoSessionStorage();
        window.location.href = sessionStorage.getItem("BackLink");
    });

    function GetReceiveQuantity(){
        var nReceiveQty=0;
        var oFEOYRs= $('#tblFEOYarnReceive').datagrid('getRows');
        for(var i=0; i<oFEOYRs.length;i++){

            if(oFEOYRs[i].ReceiveBy>0){
                nReceiveQty = parseFloat(nReceiveQty)+parseFloat(oFEOYRs[i].Qty);
            }
        }
        return nReceiveQty;
    }

    function SetIntoSessionStorage(){

        var oFNExecutionOrders= (sessionStorage.getItem('FNExecutionOrders').length>0)? jQuery.parseJSON(sessionStorage.getItem('FNExecutionOrders')):[] ;
        var nIndex=sessionStorage.getItem('SelectedRowIndex');

        if(nIndex!=-1 && oFNExecutionOrders.length>0){
            oFNExecutionOrders[nIndex].ReceiveQty=GetReceiveQuantity();
        }

        var sBackLink=sessionStorage.getItem('BackLink');
        sessionStorage.clear();
        sessionStorage.setItem("BackLink", sBackLink);
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("FNExecutionOrders", JSON.stringify(oFNExecutionOrders));
    }
</script>
