@{
    ViewBag.Title = "Fabric Production Order";
}

@model IEnumerable<ESimSol.BusinessObjects.FabricExecutionOrderSpecification>
    
    <head>
        <title>Order(s)</title>      
    </head>
    <body>
        <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
            <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
                <label style="font-size:18px;">Please wait</label>
                <div id="progressbar" style="width:100%;height:37px;"></div>
            </div>
        </div>
        <div class="menuMainCollectionTable" >
            <table id="tblFabricExecutionOrderSpecification" title="Fabric Execution Order Specification" class="easyui-datagrid" fit="true" fitcolumn="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarFabricExecutionOrderSpecification">
                <thead>
                    <tr>
                        <th field="SCNoFull" width="11%">PO No</th>
                        <th field="FabricNo" width="8%">Mkt Ref</th>
                        <th field="ExeNo" width="8%">Dispo No</th>
                        <th field="ProdtionTypeSt" width="9%">Type</th>
                        <th field="Qty" width="7%" align="right" formatter="formatPrice">Y</th>
                        <th field="OrderQtyInMeter" width="7%" align="right" formatter="formatPrice">M</th>
                        <th field="Construction" width="12%">Construction</th>
                        <th field="Composition" width="15%">Composition</th>
                        <th field="IssueDateSt" width="8%">Date</th>
                        <th field="ApproveByName" width="11%">ApprovedBy</th>
                        <th field="FortoDO" width="9%">Is ForwardToDye</th>
                        <th field="ForwardDODateInStr" width="11%">Forward Date</th>
                    </tr>
                </thead>
            </table>>
            <div id="toolbarFabricExecutionOrderSpecification">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" id="btnReload"></a>
                <input type="text" id="txtSearchByPONo" placeholder="Search by PO No" style="width:100px;text-align:left" />
                <input type="text" id="txtSearchByMktRef" placeholder="Search Mkt Ref" style="width:100px;text-align:left" />
                <input type="text" id="txtSearchByDispoNo" placeholder="Search Dispo No" style="width:100px;text-align:left" />
                <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
                @*<a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>*@
                <a id="btnCopy" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Create Extra</a>
                @*<a id="btnOutSide" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Out Side</a>*@
                <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
             
                <a id="btnRevise" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Revise Request </a>
                <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true"> <label id="lblOrderStatus">Approve</label> </a>
                @*<a id="btnCancel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Cancel</a>*@
                @*<a id="btnCreateLabdip" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Req. For LabDip</a>*@
                <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
                <a id="btnReceiveYarnFEO" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Receive Yarn</a>
                @*<a id="btnOrderClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Close/Hold</a>*@
                
            </div>
        </div>
        <div id="winAdvSearch" class="easyui-window winClass" style="width:600px" title=" adv. search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <fieldset >
                <legend>Searching Criteria</legend>
                <table border="0" cellpadding="4" style="width:100%">
                    
                    <tr>
                        <td style="width:20%;text-align:right;">
                            <label>Order Type:</label>
                        </td>
                        <td style="width:30%;">
                            <select style="width:100%;" id="cboIsOutSide">
                                <option value="0">--Select--</option>
                                <option value="1">Out Side</option>
                                <option value="2">In Side</option>
                            </select>
                        </td>
                        <td style="width:20%;text-align:right;">
                            <label>Production Type:</label>
                        </td>
                        <td style="width:30%;">
                            <select style="width:100%;" id="cboProdtionType">
                                <option value="0">--Select--</option>
                                <option value="1">General</option>
                                <option value="2">Excess Fabric</option>
                                <option value="3">Excess Dyeing Qty</option>
                                <option value="4">OutSide</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%;text-align:right;">
                            <label>Process Type:</label>
                        </td>
                        <td style="width:30%;">
                            <select style="width:100%;" id="cboIsYD">
                                <option value="0">--Select--</option>
                                <option value="1">Yarn Dyeing</option>
                                <option value="2">Solid</option>
                            </select>
                        </td>
                        <td style="width:20%;text-align:right;">
                            <label>Dispo Type:</label>
                        </td>
                        <td style="width:30%;">
                            <select style="width:100%;" id="cboFSpcType"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%;text-align:right;">
                            <label>Approved status:</label>
                        </td>
                        <td style=" width:30%;">
                            <select style="width:100%;" id="cboApproveBy">
                                <option value="0">--Select--</option>
                                <option value="1">Approved</option>
                                <option value="2">Un Approved</option>
                            </select>
                        </td>
                        <td style="width:20%;text-align:right;">
                            <label>Forward To Dyeing</label>
                        </td>
                        <td style=" width:30%;">
                            <select style="width:100%;" id="cboForwardToDO">
                                <option value="0">--Select--</option>
                                <option value="1">Forward To Dyeing</option>
                                <option value="2">Wating for Dyeing</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:20%;text-align:right;">
                            <label>Issue Date:</label>
                        </td>
                        <td colspan="3" style=" width:80%;text-align:right;">
                            <div style="float:left; width:100%">
                                <div style="float:left; width:30%">
                                    <select style="width:95%;" id="cboIssueDate" onchange="DateActions_OPDate(); "></select>
                                </div>
                                <div style="float:left; width:25%; padding-left:5px;">
                                    <input id="txtFromIssueDate" type="text" style="width: 110px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </div>
                                <div style="float:left; width:5%; text-align:center">to</div>
                                <div style="float:left; width:25%; padding-left:5px;">
                                    <input id="txtToIssueDate" type="text" style="width: 110px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </fieldset>
            <table>
               
            </table>

            <fieldset class="actionfieldsetstyle">
                <legend>Actions : </legend>
                <label class="lblLoadingMessage" style="float: left;">Loading Please Wait...</label>
                <a id="btnResetAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
                <a id="btnSearchAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                <a id="btnSearchAdvExportToXL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Excel</a>
                <a id="btnCloseAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
            </fieldset>
        </div>
    </body>

    
    <script type="text/javascript">
    var _sBaseAddress="";
    var _oFabricExecutionOrderSpecifications=[];
    var _sMessage='';
    var _nNextStatus=-1;
    var _nContractorIDs="";
    var _sMenuID=0;
    var _nBUID = 0;
    var _sContractorIds = '';
    var _sProductIds = '';
    var _sDeliverToIDs = '';
    var _oPaymentTypes=[];
    var _oOrderTypes=[];
    var _oDUDyeingSteps=[];
    var _oCompareOperators = [];
    var _bIsInHouse=false;
    var _oFabricSpeTypes=[];
    var _oAuthorizationRolesMapping=null;
    $(document).ready(function () {
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oFabricExecutionOrderSpecifications =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        _sMenuID =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
        _oFabricSpeTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FabricSpeTypes));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        _oAuthorizationRolesMapping =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));

        if(sessionStorage.getItem("FabricExecutionOrderSpecifications")!=null && sessionStorage.getItem("FabricExecutionOrderSpecifications").length>0)
        {
            _oFabricExecutionOrderSpecifications= jQuery.parseJSON(sessionStorage.getItem('FabricExecutionOrderSpecifications'));
            var nIndex= sessionStorage.getItem('SelectedRowIndex');
            DynamicRefreshList(_oFabricExecutionOrderSpecifications, 'tblFabricExecutionOrderSpecification');
            if(nIndex>-1){
                $('#tblFabricExecutionOrderSpecification').datagrid('selectRow',nIndex);
            }
        }
        else{
            DynamicRefreshList(_oFabricExecutionOrderSpecifications, 'tblFabricExecutionOrderSpecification');
        }
        RefreshControlLayout();
        debugger;
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
        $(".lblLoadingMessage").hide();
        $("#cboIssueDate").icsLoadCombo({
            List: _oCompareOperators,
            OptionValue: "id",		// or object property
            DisplayText: "Value",	//or object property

        });
        $("#cboFSpcType").icsLoadCombo({
            List: _oFabricSpeTypes,
            OptionValue: "id",		// or object property
            DisplayText: "Value",	//or object property

        });
        $('#cboIssueDate').val();
    });

    $(document).keydown(function (e) { if (e.keyCode == 27) { $('#winFabricExecutionOrderSpecificationOrder').icsWindow('close'); } });

    $('#tblFabricExecutionOrderSpecification').datagrid({ onSelect: function (rowIndex, rowData) { OperationPerforms(rowIndex, rowData); } });

    function OperationPerforms(rowIndex, rowData)
    {
        if (rowData != null && rowData.FEOSID > 0)
        {
            if (rowData.ApproveBy!=0)
            {
                $('#btnEdit,#btnDelete,#btnRevise,#btnApprove').hide();
                // $('#btnRevise').show();
                if (PermissionChecker('Revise', 'FabricSpecification',_oAuthorizationRolesMapping)) {$("#btnRevise").show();}
            }
            else
            {
                $('#btnEdit,#btnDelete').show();
                $('#btnRevise,#btnApprove').hide();
                if (PermissionChecker('Approved', 'FabricSpecification',_oAuthorizationRolesMapping)) {$("#btnApprove").show();}
            }
        }
    }
    function DateActions_OPDate() {
        DynamicDateActions("cboIssueDate", "txtFromIssueDate", "txtToIssueDate");
    }

    $("#btnAdd").click(function(){
        debugger;
        sessionStorage.setItem("Operation", "New");
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("FabricExecutionOrderSpecificationHeader", "Add FabricExecutionOrderSpecification");
        sessionStorage.setItem("FabricExecutionOrderSpecifications", JSON.stringify($('#tblFabricExecutionOrderSpecification').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        sessionStorage.setItem("BUID", _nBUID);
        var tsv=((new Date()).getTime())/1000;
        //window.location.href = _sBaseAddress+ "/FabricExecutionOrderSpecification/ViewSaleOrder?nId=0&ts="+tsv;
        window.location.href = _sBaseAddress+ "/FabricExecutionOrderSpecification/ViewSaleOrder?nId=0&IsInHouse="+_bIsInHouse+"&ts="+tsv;
    });

    $('#btnEdit').click(function (e)
    {
        var oFabricExecutionOrderSpecification = $('#tblFabricExecutionOrderSpecification').datagrid('getSelected');
        if (oFabricExecutionOrderSpecification ==null || oFabricExecutionOrderSpecification.FEOSID <=0 ) { alert("Please select an item from list."); return ; }
        var nIndex=$('#tblFabricExecutionOrderSpecification').datagrid('getRowIndex',oFabricExecutionOrderSpecification);
        sessionStorage.setItem("Operation", "Edit");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("FabricExecutionOrderSpecificationHeader", "Edit Production");
        sessionStorage.setItem("FabricExecutionOrderSpecifications", JSON.stringify($('#tblFabricExecutionOrderSpecification').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        sessionStorage.setItem("BUID", _nBUID);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/FabricExecutionOrderSpecification/ViewSpecification?nFSCDID=0&nFEOSID="+oFabricExecutionOrderSpecification.FEOSID+"&nts="+tsv;
    });
    $('#btnApprove').click(function (e)
    {
        debugger;
        //var oFabricExecutionOrderSpecification = $('#tblFabricExecutionOrderSpecification').datagrid('getSelected');
        //if (oFabricExecutionOrderSpecification ==null || oFabricExecutionOrderSpecification.FEOSID <=0 ) { alert("Please select an item from list."); return ; }
        //var nIndex=$('#tblFabricExecutionOrderSpecification').datagrid('getRowIndex',oFabricExecutionOrderSpecification);
        //sessionStorage.setItem("Operation", "Approve");
        //sessionStorage.setItem("SelectedRowIndex", nIndex);
        //sessionStorage.setItem("FabricExecutionOrderSpecificationHeader", "Approve Production");
        //sessionStorage.setItem("FabricExecutionOrderSpecifications", JSON.stringify($('#tblFabricExecutionOrderSpecification').datagrid('getRows')));
        //sessionStorage.setItem("BackLink", window.location.href);
        //sessionStorage.setItem("BUID", _nBUID);
        //var tsv=((new Date()).getTime())/1000;
        //window.location.href = _sBaseAddress+ "/FabricExecutionOrderSpecification/ViewSpecification?nFSCDID=0&nFEOSID="+oFabricExecutionOrderSpecification.FEOSID+"&nts="+tsv;
        var oFabricExecutionOrderSpecification = $('#tblFabricExecutionOrderSpecification').datagrid('getSelected');
        if (oFabricExecutionOrderSpecification ==null || oFabricExecutionOrderSpecification.FEOSID <=0 ) { alert("Please select an item from list."); return ; }
        var nIndex=$('#tblFabricExecutionOrderSpecification').datagrid('getRowIndex',oFabricExecutionOrderSpecification);
        if (!confirm("Confirm to Approve?")) return false;

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFabricExecutionOrderSpecification,
            ObjectId: oFabricExecutionOrderSpecification.FEOSID,
            ControllerName: "FabricExecutionOrderSpecification",
            ActionName: "ApproveFEOSpecification",
            TableId: "tblFabricExecutionOrderSpecification",
            IsWinClose: false
        };
        $.icsSave(obj, function (response) {

            if (response.status && response.obj != null) {

                if (response.obj.FEOSID > 0) {
                    oFabricExecutionOrderSpecification = response.obj;
                    if (oFabricExecutionOrderSpecification.FEOSID != 0) {
                        debugger;
                        var SelectedRowIndex = $('#tblFabricExecutionOrderSpecification').datagrid('getRowIndex', oFabricExecutionOrderSpecification);
                        OperationPerforms(SelectedRowIndex,oFabricExecutionOrderSpecification);
                    }
                }
            }
        });
    });
    $('#btnRevise').click(function (e)
    {
        //var oFabricExecutionOrderSpecification = $('#tblFabricExecutionOrderSpecification').datagrid('getSelected');
        //if (oFabricExecutionOrderSpecification ==null || oFabricExecutionOrderSpecification.FEOSID <=0 ) { alert("Please select an item from list."); return ; }
        //var nIndex=$('#tblFabricExecutionOrderSpecification').datagrid('getRowIndex',oFabricExecutionOrderSpecification);
        //sessionStorage.setItem("Operation", "Revise");
        //sessionStorage.setItem("SelectedRowIndex", nIndex);
        //sessionStorage.setItem("FabricExecutionOrderSpecificationHeader", "Revise Production");
        //sessionStorage.setItem("FabricExecutionOrderSpecifications", JSON.stringify($('#tblFabricExecutionOrderSpecification').datagrid('getRows')));
        //sessionStorage.setItem("BackLink", window.location.href);
        //sessionStorage.setItem("BUID", _nBUID);
        //var tsv=((new Date()).getTime())/1000;
        //window.location.href = _sBaseAddress+ "/FabricExecutionOrderSpecification/ViewSpecification?nFSCDID=0&nFEOSID="+oFabricExecutionOrderSpecification.FEOSID+"&nts="+tsv;

            var oFabricExecutionOrderSpecification = $('#tblFabricExecutionOrderSpecification').datagrid('getSelected');
            if (oFabricExecutionOrderSpecification ==null || oFabricExecutionOrderSpecification.FEOSID <=0 ) { alert("Please select an item from list."); return ; }
            var nIndex=$('#tblFabricExecutionOrderSpecification').datagrid('getRowIndex',oFabricExecutionOrderSpecification);
            if (!confirm("Confirm to undoapprove?")) return false;

            //var oDyeingOrder = $('#tblDyeingOrder').datagrid('getSelected');
            //if (!confirm("Confirm to Close?")) return false;
            //if (oDyeingOrder == null || oDyeingOrder.DyeingOrderID <= 0) {
            //    alert("Invalid Field!!! please select a valid Field!");
            //    return false;
            //}
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oFabricExecutionOrderSpecification,
                ObjectId: oFabricExecutionOrderSpecification.FEOSID,
                ControllerName: "FabricExecutionOrderSpecification",
                ActionName: "SaveLog",
                TableId: "tblFabricExecutionOrderSpecification",
                IsWinClose: false
            };
            $.icsSave(obj, function (response) {

                if (response.status && response.obj != null) {

                    if (response.obj.FEOSID > 0) {
                        oFabricExecutionOrderSpecification = response.obj;
                       var SelectedRowIndex = $('#tblFabricExecutionOrderSpecification').datagrid('getRowIndex', oFabricExecutionOrderSpecification);
                        OperationPerforms(SelectedRowIndex,oFabricExecutionOrderSpecification);
                    }
                }
            });
           
        });


    $('#btnDelete').click(function(e){
        var oFabricExecutionOrderSpecification = $('#tblFabricExecutionOrderSpecification').datagrid('getSelected');
        if (oFabricExecutionOrderSpecification ==null || oFabricExecutionOrderSpecification.FabricExecutionOrderSpecificationID <=0 ) { alert("Please select an item from list."); return ; }
        if (!confirm("Confirm to delete?")) return;
        sessionStorage.clear();
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oFabricExecutionOrderSpecification,
            ControllerName: "FabricExecutionOrderSpecification",
            ActionName: "DeleteFEOSpecification",
            TableId: "tblFabricExecutionOrderSpecification",
            IsWinClose: false
        };
        $.icsDelete(obj);

    });

    $('#btnView').click(function (e)
    {
        var oFabricExecutionOrderSpecification = $('#tblFabricExecutionOrderSpecification').datagrid('getSelected');
        if (oFabricExecutionOrderSpecification ==null || oFabricExecutionOrderSpecification.FEOSID <=0 ) { alert("Please select an item from list."); return ; }
        var nIndex=$('#tblFabricExecutionOrderSpecification').datagrid('getRowIndex',oFabricExecutionOrderSpecification);
        sessionStorage.setItem("Operation", "View");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("FabricExecutionOrderSpecificationHeader", "Edit Production");
        sessionStorage.setItem("FabricExecutionOrderSpecifications", JSON.stringify($('#tblFabricExecutionOrderSpecification').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        sessionStorage.setItem("BUID", _nBUID);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/FabricExecutionOrderSpecification/ViewSpecification?nFSCDID=0&nFEOSID="+oFabricExecutionOrderSpecification.FEOSID+"&nts="+tsv;
    });

    $('#btnCopy').click(function (e)
    {
        var oFabricExecutionOrderSpecification = $('#tblFabricExecutionOrderSpecification').datagrid('getSelected');
        if (oFabricExecutionOrderSpecification ==null || oFabricExecutionOrderSpecification.FEOSID <=0 ) { alert("Please select an item from list."); return ; }
        var nIndex=$('#tblFabricExecutionOrderSpecification').datagrid('getRowIndex',oFabricExecutionOrderSpecification);
        sessionStorage.setItem("Operation", "Copy");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("FabricExecutionOrderSpecificationHeader", "Re-Production");
        sessionStorage.setItem("FabricExecutionOrderSpecifications", JSON.stringify($('#tblFabricExecutionOrderSpecification').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        sessionStorage.setItem("BUID", _nBUID);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/FabricExecutionOrderSpecification/ViewSpecification?nFSCDID=0&nFEOSID="+oFabricExecutionOrderSpecification.FEOSID+"&nts="+tsv;
    });
    $('#btnOutSide').click(function (e)
    {
        var oFabricExecutionOrderSpecification = $('#tblFabricExecutionOrderSpecification').datagrid('getSelected');
        if (oFabricExecutionOrderSpecification ==null || oFabricExecutionOrderSpecification.FEOSID <=0 ) { alert("Please select an item from list."); return ; }
        var nIndex=$('#tblFabricExecutionOrderSpecification').datagrid('getRowIndex',oFabricExecutionOrderSpecification);
        sessionStorage.setItem("Operation", "OutSide");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("FabricExecutionOrderSpecificationHeader", "Out Side Production");
        sessionStorage.setItem("FabricExecutionOrderSpecifications", JSON.stringify($('#tblFabricExecutionOrderSpecification').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        sessionStorage.setItem("BUID", _nBUID);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/FabricExecutionOrderSpecification/ViewSpecification?nFSCDID=0&nFEOSID="+oFabricExecutionOrderSpecification.FEOSID+"&nts="+tsv;
    });

    $('#btnPrint').click(function (e)
    {
        var oFabricExecutionOrderSpecification = $('#tblFabricExecutionOrderSpecification').datagrid('getSelected');
        if (oFabricExecutionOrderSpecification ==null || oFabricExecutionOrderSpecification.FEOSID <=0 ) { alert("Please select an item from list."); return ; }
        var nts=((new Date()).getTime())/1000;
        window.open(_sBaseAddress + '/FabricExecutionOrderSpecification/PrintFabricSpecification?nId=' + oFabricExecutionOrderSpecification.FEOSID + "&nts=" + nts, "_blank");
    });

    $("#btnReceiveYarnFEO").click(function()
    {
        debugger;
        var oFabricExecutionOrderSpecification = $("#tblFabricExecutionOrderSpecification").datagrid("getSelected");
        if(oFabricExecutionOrderSpecification == null || oFabricExecutionOrderSpecification.FSCDID <= 0)
        {
            alert("Please select an approved item.");
            return false;
        }
        if(parseInt(oFabricExecutionOrderSpecification.ApproveBy)==0)
        {
            alert("Only approved Fabric Execution Order Can be Received Yarn.");
            return false;
        }
        var nIndex=$("#tblFabricExecutionOrderSpecification").datagrid("getRowIndex",oFabricExecutionOrderSpecification);
        if(!confirm("Are you sure to receive yarn?")) return false;
        sessionStorage.clear();
        sessionStorage.setItem("Operation", "New");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("FabricExecutionOrderHeader", "Process Program");
        sessionStorage.setItem("BUID", _nBUID);
        sessionStorage.setItem("FabricExecutionOrders", JSON.stringify($('#tblFabricExecutionOrderSpecification').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/FabricExecutionOrderSpecification/View_FEOReceiveYarn?nFSCDID="+oFabricExecutionOrderSpecification.FSCDID;
    });



    $("#txtSearchByMktRef").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            MakeSearchString();
        }
    });
    $("#txtSearchByPONo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            MakeSearchString();
        }
    });
    $("#txtSearchByDispoNo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            MakeSearchString();
        }
    });


    function GetsOrders(oFabricExecutionOrderSpecification)
    {


        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/FabricExecutionOrderSpecification/GetsbyNo",
            traditional: true,
            data:  JSON.stringify(oFabricExecutionOrderSpecification),
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                var oFabricExecutionOrderSpecifications = jQuery.parseJSON(data);
                if (oFabricExecutionOrderSpecifications.length>0)
                {
                    if(oFabricExecutionOrderSpecifications[0].ErrorMessage==="")
                    {
                        DynamicRefreshList(oFabricExecutionOrderSpecifications, "tblFabricExecutionOrderSpecification");
                    }
                    else
                    {
                        alert(oFabricExecutionOrderSpecifications[0].ErrorMessage);
                    }
                }
                else
                {
                    alert("Data Not found");
                    DynamicRefreshList([], "tblFabricExecutionOrderSpecification");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }



    ////Start adv Searching

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }
    //Account Of Picker

    $("#txtContractorAdvS").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {
            PickContractors_AdvS();
        }
        else if (e.keyCode === 08) {
            $("#txtContractorAdvS").removeClass("fontColorOfPickItem");
            _sContractorIds = '';
        }
    });

    $("#btnClrContractorAdvS").click(function () {
        $("#txtContractorAdvS").removeClass("fontColorOfPickItem");
        $("#txtContractorAdvS").val("");
        _sContractorIds = '';
    });

    $("#btnPickContractorAdvS").click(function () {
        PickContractors_AdvS();
    });
    $("#txtSearchByAccountNamePickerAdvSearch").keydown(function (e) {
        var obj = {
            Event: e,
            SearchProperty: "Name",
            GlobalObjectList: _oAccountsOf,
            TableId: "tblAccountsPickerAdvSearch"
        };
        $('#txtSearchByAccountNamePickerAdvSearch').icsSearchByText(obj);
    });
    //End Account Of Picker
    $("#txtDeliverToAdvS").keydown(function (e) {
        if (e.keyCode === 13) // Enter Press
        {
            PickDeliverTo_AdvS();
        }
        else if (e.keyCode === 08) {
            $("#txtDeliverToAdvS").removeClass("fontColorOfPickItem");
            _sDeliverToIDs ="";
        }
    });

    $("#btnClrDeliverToAdvS").click(function () {
        $("#txtDeliverToAdvS").removeClass("fontColorOfPickItem");
        $("#txtDeliverToAdvS").val("");
        _sDeliverToIDs ="";
    });

    $("#btnPickDeliverToAdvS").click(function () {
        PickDeliverTo_AdvS();
    });

    //Product Pick
    $("#txtProductName").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($('#txtProductName').val()==null || $('#txtProductName').val()=="")
            {
                alert("Please Type Product and Press Enter.");
                $('#txtProductName').focus();
                return;
            }
            PickProduct($('#txtProductName').val());
        }
        if (code == 8) //backspace=8
        {
            //debugger;
            $("#txtProductName").removeClass("fontColorOfPickItem");
            _sProductIds= [];
        }
    });
    $("#btnProductPiker").click(function () {
        PickProduct("");
    });
    $("#btnClrProductPiker").click(function () {
        $("#txtProductName").val('');
        $("#txtProductName").removeClass("fontColorOfPickItem");
        _sProductIds= [];
    });
    function PickProduct(sProductName)
    {
        var oProduct = { BUID:sessionStorage.getItem("BUID"),ProductName:sProductName};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "MUnit", title: "Unit", width: 70, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winProductPicker',
                        winclass: 'clsProductPicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProductPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'NameCode',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });
    }
    //End Buyer Search
    $("#btnResetAdvSearch").click(function () {
        $("#txtFromIssueDate,#txtToIssueDate").datebox({ disabled: true });
        $("#txtFromIssueDate,#txtToIssueDate").datebox("setValue", icsdateformat(new Date()));
        $('#cboIssueDate').val(0);
        $('#cboIsOutSide').val(0);
        $('#cboProdtionType').val(0);
        $('#cboIsYD').val(0);
        $('#cboFSpcType').val(0);
        $('#cboApproveBy').val(0);
        $('#cboForwardToDO').val(0);
        

    });
    function ResetNormalSearch()
    {
        $('#txtSearchByPONo').val("");
        $('#txtSearchByMktRef').val("");
        $('#txtSearchByDispoNo').val("");
    }
    $("#btnSearchAdvSearch").click(function () {
        debugger;
        ResetNormalSearch();
        MakeSearchString();
    });
    $('#btnSearchAdvExportToXL').click(function(e){            
        debugger;
        ResetNormalSearch();
        var oFabricExecutionOrderSpecification = RefreshObjectForSearch();
        $(".lblLoadingMessage").show();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/FabricExecutionOrderSpecification/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oFabricExecutionOrderSpecification),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $(".lblLoadingMessage").hide();
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {                    
                    ResetAdvSearchWindow();
                    $("#winAdvSearch").icsWindow('close');
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/FabricExecutionOrderSpecification/ExportExcel?ts='+tsv,"_blank");
                }
                else
                {
                    alert(sFeedBackMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });
    function CheckFromAndToDateValidation(OperationComboId, FromDateId, ToDateId) {
        $("#" + OperationComboId).parent().parent().parent().find("select").removeClass("errorFieldBorder");
        var nCboVal = $("#" + OperationComboId).val();
        if (parseInt(nCboVal) == 5 || parseInt(nCboVal) == 6) {
            var fromDate = $("#" + FromDateId).datebox("getValue");
            var toDate = $("#" + ToDateId).datebox("getValue");
            if (new Date(fromDate) > new Date(toDate)) {
                $("#" + ToDateId).focus();
                $("#" + OperationComboId).addClass("errorFieldBorder");
                $(".lblLoadingMessage").hide();
                return false;
            } else {
                $("#" + OperationComboId).removeClass("errorFieldBorder");
                return true;
            }
        } else {
            return true;
        }
    }

    function ResetAdvSearchWindow() {
        $('#cboIssueDate').val(0);
        $('#cboIsOutSide').val(0);
        $('#cboProdtionType').val(0);
        $('#cboIsYD').val(0);
        $('#cboFSpcType').val(0);
        $('#cboApproveBy').val(0);
        $('#cboForwardToDO').val(0);
    }

    function PickContractors_AdvS() {
        var oContractor = {
            Params: '2,3' + '~' + $.trim($("#txtContractorAdvS").val()+"~"+_nBUID)
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);

        DynamicRefreshList([], "tblAccountsPickerAdvSearch");
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 280, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winContractorPicker',
                        winclass: 'clsAccountOf',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblAccountOfs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Contactor List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Contactor Found.");
            }
        });
    }

    function PickDeliverTo_AdvS() {
        var oContractor = {
            Params: '2' + '~' + $.trim($("#txtDeliverToAdvS").val()+"~"+_nBUID)
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        DynamicRefreshList([], "tblContractorsPickerAdvSearch");
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 280, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winBuyers',
                        winclass: 'clsBuyer',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblBuyers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Buyer List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Contactor Found.");
            }
        });
    }

    function DateActionsOrderDateAdvSearch() {
        DynamicDateActions("cboOrderDateAdvS", "txtFromOrderDateAdvSearch", "txtToOrderDateAdvSearch");
    }
    function DateActionsInvoiceDateAdvSearch() {
        DynamicDateActions("cboInvoiceDateAdvSearch", "txtFromInvoiceDateAdvSearch", "txtToInvoiceDateAdvSearch");
    }
    function DateActionsDeliveryDateAdvSearch() {
        DynamicDateActions("cboDeliveryDateAdvS", "txtFromDeliveryDateAdvSearch", "txtToDeliveryDateAdvSearch");
    }

    $("#btnCloseAdvSearch").click(function () {
        $('#btnResetAdvSearch').click();
        $("#winAdvSearch").icsWindow("close");
    });
    $("#btnAdvSearch").click(function () {
        debugger;
        $("#winAdvSearch").icsWindow("open", "Dispo Advance Search");


    });

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which === 13) {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnObjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnObjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }

        if (oPickerobj.winid == 'winContractorPicker')
        {
            if (oreturnObjs != null && oreturnObjs.length> 0)
            {

                _sContractorIds=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Contractors Selected" : oreturnObjs[0].Name;
                $('#txtContractorAdvS').val(sMessage);
                $("#txtContractorAdvS").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sContractorIds=_sContractorIds+oreturnObjs[i].ContractorID+',';
                }
                _sContractorIds=_sContractorIds.substring(0,_sContractorIds.length-1);

            }
            else
            {
                alert("Please select a contractor.");
                return false;
            }
        }

        else if (oPickerobj.winid == 'winBuyers') {
            if (oreturnObjs != null && oreturnObjs.length> 0)
            {
                _sDeliverToIDs='';
                var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Contractors Selected" : oreturnObjs[0].Name;
                $('#txtDeliverToAdvS').val(sMessage);
                $("#txtDeliverToAdvS").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sDeliverToIDs=_sDeliverToIDs+oreturnObjs[i].ContractorID+',';
                }
                _sDeliverToIDs=_sDeliverToIDs.substring(0,_sDeliverToIDs.length-1);
            }
            else
            {
                alert("Please select a buyer.");
                return false;
            }
        }
        else if (oPickerobj.winid == 'winProductPicker')
        {
            if (oreturnObjs!= null && oreturnObjs.length> 0)
            {
                _sProductIds=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" ProductName Selected" : oreturnObjs[0].ProductName;
                $('#txtProductName').val(sMessage);
                $("#txtProductName").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sProductIds=_sProductIds+oreturnObjs[i].ProductID+',';
                }
                _sProductIds=_sProductIds.substring(0,_sProductIds.length-1);
            }
            else
            {
                alert("Please select a Product.");
                return false;
            }
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }
    /// end Adv Searching
    $("#btnReload").click(function() {
        window.location.href = _sBaseAddress+ '/FabricExecutionOrderSpecification/ViewFabricSpecifications?'+"buid="+_nBUID+"&menuid="+_sMenuID;

    });
    function Validation()
    {
        // Code Here
        if(parseInt($('#cboIssueDate').val()) <= 0 && parseInt($('#cboIsOutSide').val()) <= 0 && parseInt($('#cboProdtionType').val()) <= 0 && parseInt($('#cboIsYD').val()) <= 0 && parseInt($('#cboFSpcType').val()) <= 0 && parseInt($('#cboApproveBy').val()) <= 0 && parseInt($('#cboForwardToDO').val()) <= 0){
            alert("Please select atleast one searching criteria!!");
            return;
        }
    }
    function RefreshObjectForSearch()
    {
        var oFabricExecutionOrderSpecification = {
            SCNoFull : $.trim($('#txtSearchByPONo').val()),
            FabricNo : $.trim($('#txtSearchByMktRef').val()),
            ExeNo : $.trim($('#txtSearchByDispoNo').val()),
            IsOutSide : $('#cboIsOutSide').val(),
            ProdtionType : $('#cboProdtionType').val(),
            IsYD : $('#cboIsYD').val(),
            FSpcType : $('#cboFSpcType').val(),
            ApproveBy : $('#cboApproveBy').val(),
            ErrorMessage : $('#cboIssueDate').val() + '~' + $("#txtFromIssueDate").datebox("getValue") + '~' + $("#txtToIssueDate").datebox("getValue") + '~' + $('#cboIsOutSide').val() + '~' + $('#cboProdtionType').val() + '~' + $('#cboIsYD').val() + '~' + $('#cboFSpcType').val() + '~' + $('#cboApproveBy').val() + '~' + $('#cboForwardToDO').val()
        }
        debugger;
        return oFabricExecutionOrderSpecification;
    }
    function MakeSearchString()
    {
        var oFabricExecutionOrderSpecification = RefreshObjectForSearch();
        //Validation();
        //if(parseInt($('#cboIssueDate').val()) <= 0 && parseInt($('#cboIsOutSide').val()) <= 0 && parseInt($('#cboProdtionType').val()) <= 0 && parseInt($('#cboIsYD').val()) <= 0 && parseInt($('#cboFSpcType').val()) <= 0 && parseInt($('#cboApproveBy').val()) <= 0 && parseInt($('#cboForwardToDO').val()) <= 0){
        //    alert("Please select atleast one searching criteria!!");
        //    return;
        //}
        $(".lblLoadingMessage").show();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/FabricExecutionOrderSpecification/Search",
            traditional: true,
            data: JSON.stringify(oFabricExecutionOrderSpecification),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                if(data.length>0)
                {
                    DynamicRefreshList(data, 'tblFabricExecutionOrderSpecification');
                    $(".lblLoadingMessage").hide();
                    ResetAdvSearchWindow();
                    $("#winAdvSearch").icsWindow('close');
                }
                else
                {
                    $(".lblLoadingMessage").hide();
                    alert("No Data Found");
                }
            }
        });
    }
    function RefreshControlLayout()
    {
        //debugger;
        $('#btnApprove,#btnRevise').hide();
        if (PermissionChecker('Revise', 'FabricSpecification',_oAuthorizationRolesMapping)) {$("#btnRevise").show();}
        if (PermissionChecker('Approved', 'FabricSpecification',_oAuthorizationRolesMapping)) {$("#btnApprove").show();}
        if (PermissionChecker('Delete', 'FabricSpecification',_oAuthorizationRolesMapping)) {$("#btnDelete").show();}
    }

    function HavePermission(sOperationType, sDbObject)
    {
        var nSessionID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.currentUserID]));
        if(nSessionID == -9)
        {
            return true;
        }
        else
        {
            if(_oAuthorizationRolesMapping!=null)
            {
                for(var i =0;i<_oAuthorizationRolesMapping.length;i++)
                {
                    if(_oAuthorizationRolesMapping[i].OperationTypeST == sOperationType && _oAuthorizationRolesMapping[i].ModuleNameST == sDbObject)
                        return  true;
                }
            }
            return false;
        }
    }
</script>
