@model IEnumerable<ESimSol.BusinessObjects.SaleOrder>
@{
    ViewBag.Title = "Order Recap List";
}
<body onfocus="parent_disable();" onclick="parent_disable();">
    <div style="margin-left: 0px; height: 100%; width:100%">
        <table id="tblSaleOrder" title="Order Recap List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th data-options="field:'Selected',checkbox:true"></th>
                    <th field="SLNo" width="60" align="left"> Recap No</th>
                    <th field="SessionName" width="80" align="left">Session</th>
                    <th field="SaleOrderNo" width="80" align="left">Order No</th>
                    <th field="StyleNo" width="100" align="left">Style No</th>
                    <th field="SaleOrderStatusInString" width="100" align="left">Status</th>
                    <th field="BuyerName" width="120" align="left">Buyer Name</th>
                    <th field="OrderDateForViewInString" width="80" align="right">Order Date</th>
                    <th field="MerchandiserName" width="120" align="left">Merchandiser</th>
                    <th field="ApproveByName" width="100" align="left">Approved</th>
                    <th field="TotalQuantity" width="100" align="right" formatter="formatPrice">Quantity</th>
                    <th field="Amount" width="100" align="right" formatter="formatPrice">Amount</th>
                    <th field="IsActiveInString" width="80" align="center">Is-Active</th>
                </tr>
            </thead>
        </table>

        <div id="toolbar" style=" height:25px;">
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="Search()">Search</a>
            <a id="btnPrintPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="PrintSummery()">Print</a>
        </div>
    </div>
</body>
<script type="text/javascript">
    var _oSaleOrders=[];
    var _sBaseAddress="";
    var _oAuthorizationRolesMapping = [];
    var _sMenuManagement ="";
    $(document).ready(function () {
          debugger;
         _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));  
         _oSaleOrders =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 
         RefreshList(_oSaleOrders);
    });



 function PrintSummery()
 {
        //debugger;
        var oSaleOrders = $('#tblSaleOrder').datagrid('getChecked');
        if(oSaleOrders==null ||  oSaleOrders.length<=0)
        {
        alert ("No data found to print!!! Please use Search option!!!");
        return false;
        }
           
        var ids ="";
        if(oSaleOrders.length>0)
        {
            
            for(var i =0;i<oSaleOrders.length;i++)
            {
                    ids =ids+oSaleOrders[i].SaleOrderID+",";
            }
            ids= ids.substring(0, ids.length - 1);
        }
        else{
        return;
        }     
        window.open(_sBaseAddress + '/ProductionOrder/PintProdcutionProgressReport?sIDs='+ids, "_blank");        
  } 
    
     function Refresh()
    {    
       RefreshList(_oSaleOrders);
    }    

    function RefreshList(oSaleOrders)
    {    
          data=oSaleOrders;
          data={"total":""+data.length+"","rows":data};
          $('#tblSaleOrder').datagrid('loadData',data);
          $('#tblSaleOrder').datagrid({selectOnCheck:false, checkOnSelect:false})

          ////debugger;
          var rows = $('#tblSaleOrder').datagrid('getRows');
          for(i=0;i<rows.length;++i){
                if(rows[i]['IsActive']==true) 
                {
                    $('#tblSaleOrder').datagrid('checkRow',i);
                }
          }
    }

 

    function Search()
    {    
        var oParameter = new Object();
        oParameter.MultipleItemReturn = true;
        oParameter.name = "Order Recap Advance Search";
        var url =_sBaseAddress+ "/SaleOrder/SaleOrderSearch";
        sessionStorage.setItem('Parameter',JSON.stringify(oParameter));
        popupWindow =window.open(url,oParameter,"directories=no, status=no, menubar=no, scrollbars=yes, resizable=no,width=920px, height=660px,top=10,left=200");
    }
    function parent_disable() {
        if(popupWindow && !popupWindow.closed)
            popupWindow.focus();
    }
    function WinReturnAdvanceSearch(oSelectedSaleOrders)
    {
        if(oSelectedSaleOrders!=null)
        {
            if(oSelectedSaleOrders.length>0)
            {
                data =oSelectedSaleOrders;
                data={"total":""+data.length+"","rows":data};
                $('#tblSaleOrder').datagrid('loadData',data); 
                $('#tblSaleOrder').datagrid({selectOnCheck:false, checkOnSelect:false})
          
                ////debugger;
                var rows = $('#tblSaleOrder').datagrid('getRows');
                for(i=0;i<rows.length;++i){
                    if(rows[i]['IsActive']==true) 
                    {
                        $('#tblSaleOrder').datagrid('checkRow',i);
                    }
                }
            }
        }
    }


    
</script>
