@{
    ViewBag.Title = "Financial Report";
}
@{var MenuID = HttpContext.Current.Session[SessionInfo.MenuID];}
<body>
    <div class="easyui-layout menuMainCollectionTable" fit="true" style="margin: 0px; height: 100%; width:100%;overflow:hidden;">
        <div id="divSearchingCriteria" region="north" split="true" collapsible="true" title="Searching Criteriea" style="height: 57%; width:100%; overflow:hidden;">
            <fieldset style="margin-bottom:5px; margin-top:5px;">
                <table border="0" cellpadding="2" cellspacing="2" width="100%">
                    <tr>
                        <td style="width:15%" class="CaptionStyle">Report Type :</td>
                        <td style="width:15%; text-align:left">
                            <select id="cboVoucherReportType" style="width:102%"></select>
                        </td>
                        <td style="width:25%" class="CaptionStyle">Report Date From</td>
                        <td style="width:15%; text-align:left">
                            <input id="txtGLStartDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:100%" />
                        </td>
                        <td style="width:5%" class="CaptionStyle"> To</td>
                        <td style="width:15%; text-align:left">
                            <input id="txtGLEndDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:100%" />
                        </td>
                    </tr>

                </table>
            </fieldset>
            <fieldset style="height:54%; overflow:hidden;">
                <div style="height:100%; overflow:auto;">
                    <table border="0" cellpadding="2" cellspacing="2" width="100%">
                        <tr>
                            <td style="width:15%;" class="CaptionStyle">Ledger Code :</td>
                            <td style="width:15%; text-align:left">
                                <input type="text" class="txtserchingcriteria txtsevendigit" placeholder="0000000" style="width:100%" id="txtStartLedgerCode" />
                            </td>
                            <td style="width:27.5%" class="ValueStyle">
                                <label id="lblStartLedgerCode" class="lblsevendigit"> Paid Up Capital </label>
                            </td>
                            <td style="width:15%; text-align:left">
                                <input type="text" class="txtserchingcriteria txtsevendigit" placeholder="0000000" style="width:100%" id="txtEndLedgerCode" />
                            </td>
                            <td style="width:27.5%" class="ValueStyle">
                                <label id="lblEndLedgerCode" class="lblsevendigit"> Paid Up Capital </label>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%" class="CaptionStyle">Sub Ledger Code :</td>
                            <td style="width:15%; text-align:left">
                                <input type="text" class="txtserchingcriteria txtfourdigit" placeholder="0000" style="width:100%" id="txtStartSubLedgerCode" />
                            </td>
                            <td style="width:27.5%" class="ValueStyle">
                                <label id="lblStartSubLedgerCode" class="lblfourdigit"> joy Steel </label>
                            </td>
                            <td style="width:15%; text-align:left">
                                <input type="text" class="txtserchingcriteria txtfourdigit" placeholder="0000" style="width:100%" id="txtEndSubLedgerCode" />
                            </td>
                            <td style="width:27.5%" class="ValueStyle">
                                <label id="lblEndSubLedgerCode" class="lblfourdigit"> joy Steel </label>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%" class="CaptionStyle">Business Code :</td>
                            <td style="width:15%; text-align:left">
                                <input type="text" class="txtserchingcriteria txttwodigit" placeholder="00" style="width:100%" id="txtStartBusinessCode" />
                            </td>
                            <td style="width:27.5%;" class="ValueStyle">
                                <label id="lblStartBusinessCode" class="lbltwodigit"> Cross World Power </label>
                            </td>
                            <td style="width:15%; text-align:left">
                                <input type="text" class="txtserchingcriteria txttwodigit" placeholder="00" style="width:100%" id="txtEndBusinessCode" />
                            </td>
                            <td style="width:27.5%" class="ValueStyle">
                                <label id="lblEndBusinessCode" class="lbltwodigit"> Cross World Power </label>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%" class="CaptionStyle">Area Code :</td>
                            <td style="width:15%; text-align:left">
                                <input type="text" class="txtserchingcriteria txttwodigit" placeholder="00" style="width:100%" id="txtStartAreaCode" />
                            </td>
                            <td style="width:27.5%" class="ValueStyle">
                                <label id="lblStartAreaCode" class="lbltwodigit"> Chittagong </label>
                            </td>
                            <td style="width:15%; text-align:left">
                                <input type="text" class="txtserchingcriteria txttwodigit" placeholder="00" style="width:100%" id="txtEndAreaCode" />
                            </td>
                            <td style="width:27.5%" class="ValueStyle">
                                <label id="lblEndAreaCode" class="lbltwodigit"> Dhaka </label>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%" class="CaptionStyle">Zonal Code :</td>
                            <td style="width:15%; text-align:left">
                                <input type="text" class="txtserchingcriteria txttwodigit" placeholder="00" style="width:100%" id="txtStartZonalCode" />
                            </td>
                            <td style="width:27.5%" class="ValueStyle">
                                <label id="lblStartZonalCode" class="lbltwodigit"> Bola </label>
                            </td>
                            <td style="width:15%; text-align:left">
                                <input type="text" class="txtserchingcriteria txttwodigit" placeholder="00" style="width:100%" id="txtEndZonalCode" />
                            </td>
                            <td style="width:27.5%" class="ValueStyle">
                                <label id="lblEndZonalCode" class="lbltwodigit"> Barguna </label>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%" class="CaptionStyle">Site Code :</td>
                            <td style="width:15%; text-align:left">
                                <input type="text" class="txtserchingcriteria txtfourdigit" placeholder="0000" style="width:100%" id="txtStartSiteCode" />
                            </td>
                            <td style="width:27.5%" class="ValueStyle">
                                <label id="lblStartSiteCode" class="lblfourdigit"> N/A </label>
                            </td>
                            <td style="width:15%; text-align:left">
                                <input type="text" class="txtserchingcriteria txtfourdigit" placeholder="0000" style="width:100%" id="txtEndSiteCode" />
                            </td>
                            <td style="width:27.5%" class="ValueStyle">
                                <label id="lblEndSiteCode" class="lblfourdigit"> N/A </label>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%" class="CaptionStyle">Product Code :</td>
                            <td style="width:15%; text-align:left">
                                <input type="text" class="txtserchingcriteria txtfivedigit" placeholder="00000" style="width:100%" id="txtStartProductCode" />
                            </td>
                            <td style="width:27.5%" class="ValueStyle">
                                <label id="lblStartProductCode" class="lblfivedigit"> Canopy </label>
                            </td>
                            <td style="width:15%; text-align:left">
                                <input type="text" class="txtserchingcriteria txtfivedigit" placeholder="00000" style="width:100%" id="txtEndProductCode" />
                            </td>
                            <td style="width:27.5%" class="ValueStyle">
                                <label id="lblEndProductCode" class="lblfivedigit"> Canopy </label>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:15%" class="CaptionStyle">Department Code :</td>
                            <td style="width:15%; text-align:left">
                                <input type="text" class="txtserchingcriteria txttwodigit" placeholder="00" style="width:100%" id="txtStartDepartmentCode" />
                            </td>
                            <td style="width:27.5%" class="ValueStyle">
                                <label id="lblStartDepartmentCode" class="lbltwodigit"> Marketing </label>
                            </td>
                            <td style="width:15%; text-align:left">
                                <input type="text" class="txtserchingcriteria txttwodigit" placeholder="00" style="width:100%" id="txtEndDepartmentCode" />
                            </td>
                            <td style="width:27.5%" class="ValueStyle">
                                <label id="lblEndDepartmentCode" class="lbltwodigit"> Marketing </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
            
            <fieldset style="margin-bottom:5px;margin-top:5px;">
                <table border="0" cellpadding="2" cellspacing="2" width="100%">
                    <tr>
                        <td style="width:10%" class="CaptionStyle">Account :</td>
                        <td style="width:30%; text-align:left">
                            <input type="text" style="width:100%" class="ValueStyle" id="txtStartAccount" disabled="disabled" />
                        </td>
                        <td style="width:10%" class="ValueStyle"></td>
                        <td style="width:30%; text-align:left">
                            <input type="text" style="width:100%" class="ValueStyle" id="txtEndAccount" disabled="disabled" />
                        </td>
                        <td style="width:20%" class="CaptionStyle">
                            <a id="btnProcess" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-setting" plain="false">Process</a>
                            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="false">View</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>

        <div id="divFinancialReport" region="center" style="width:100%; height:100%; overflow:hidden;">
            <div id="divGeneralLedger" style="height: 100%; width:100% ">
                <table id="tblGeneralLedger" title="General Ledger" class="easyui-datagrid" style="width:100%;height:100%;" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarGeneralLedger"></table>
                <div id="toolbarGeneralLedger">
                    <table>
                        <tr>
                            <td>
                                <a id="btnRefreshGeneralLedger" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Refresh" iconcls="icon-reload" plain="true"></a>
                                <a id="btnPrintVoucherGeneralLedger" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Refresh" iconcls="icon-print" plain="true">Print Voucher</a>
                                </td>
                            <td>
                                @using (Html.BeginForm("PrintGeneralLedger", "FinancialReport", FormMethod.Post, new { enctype = "multipart/form-data", target = "_blank", @class = "PrintForm" }))
                                {
                                    <input type="text" name="txtFinancialReport" id="txtFinancialReport" hidden="hidden" />
                                    <input type="text" name="txtPrintGeneralLedger" id="txtPrintGeneralLedger" hidden="hidden" />
                                    <input type="submit" id="btnPrintGeneralLedger" value="     Print List" class="icon-print PrintList" style="margin-top: 4px;" />
                                }
                                </td>
                            <td>
                                @using (Html.BeginForm("PrintGeneralLedgerInXL", "FinancialReport", FormMethod.Post, new { enctype = "multipart/form-data", target = "_blank", @class = "PrintForm" }))
                                {
                                    <input type="text" name="txtXLFinancialReport" id="txtXLFinancialReport" hidden="hidden" />
                                    <input type="text" name="txtPrintXLGeneralLedger" id="txtPrintXLGeneralLedger" hidden="hidden" />
                                    <input type="submit" id="btnPrintXLGeneralLedger" value="     Export To XL" class="icon-print PrintList" style="margin-top: 4px;" />
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="divTrialBalance" title="Trial Balance" style="height:100%; width:100%">
                <table id="tblTrailBalance" title="Trial Balance" class="easyui-treegrid" style="width:100%;height:100%;" data-options="idField:'AccountHeadID',treeField:'AccountHeadName', rownumbers:'true', toolbar:'#toolbarTrialBalance'"></table>
                <div id="toolbarTrialBalance">
                    <table>
                        <tr>
                            <td>
                                <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>
                                </td>
                            <td>
                                @using (Html.BeginForm("PrintTrialBal_DateRange", "FinancialReport", FormMethod.Post, new { enctype = "multipart/form-data", target = "_blank", @class = "PrintForm" }))
                                {
                                    <input type="text" name="txtFinancialReportTrailBalance" id="txtFinancialReportTrailBalance" hidden="hidden" />
                                    <input type="text" name="txtPrintTrailBalance" id="txtPrintTrailBalance" hidden="hidden" />
                                    <input type="submit" id="btnPrintTrailBalance" value="     Print List" class="icon-print PrintList" style="margin-top: 4px;" />
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="divBalanceSheet" title="Balance Sheet" class="easyui-layout" fit="true" style="margin-left: 0px; height:100%; width:100%; overflow:hidden;">
                <div region='west' split=false collapsible="false" title="Balance Sheet (Assets)" style="margin-left:0px; width:50%; height:100%;">
                    <div style="height: 90%; width:100%;">

                        <table id="tblAssets" class="easyui-datagrid" style="height:100%;width:100%;" fit="true" fitcolumns="true" rownumbers="false" pagination="false" singleselect="true" , autorowheight="false" toolbar="#toolbarBalanceSheet1"
                               data-options="rowStyler: function(index,row){if (row.AccountType == 1){return 'background-color:#03FBEF;color:#056C67;font-weight:bold;';}if(row.AccountType == 2){return 'background-color:#6293BB;color:#fff;font-weight:bold;';}if (row.AccountType == 3){ return 'background-color:#DEDEDE; font-weight:bold;';}}">
                            <thead>
                                <tr>
                                    <th field="AccountHeadName" width="195" align="left">Particulars</th>
                                    <th field="LedgerBalanceInString" width="115" align="right"></th>
                                    <th field="CGSGBalanceInString" width="115" align="right"></th>
                                </tr>
                            </thead>
                        </table>
                        <div id="toolbarBalanceSheet1">
                            <input id="idEndDateBalanceSheet" type="text" class="easyui-datebox" style="width:150px;" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                            <select id="cboAccountTypeBalanceSheet" style="width:80px;"></select>
                            <a id="btnRefreshBalanceSheet" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>
                        </div>
                    </div>
                    <table border="0" style="background-color:#DEDEDE; width:100%;">
                        <tr>
                            <td style="width:100%; text-align:right; font-weight:bold; font-size:small">
                                <label id="lblAssetTotal" style="margin-right:20px">Total : 0.00</label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div region='center' split=false title="Balance Sheet (Liability & Owner Equity)" style="margin-left:0px; width:100%; height:100%;">
                    <div style="height: 90%; width:100%;">
                        <table id="tblLiability" class="easyui-datagrid"  fit="true" fitcolumns="true" rownumbers="false" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarBalanceSheet2"
                               data-options="rowStyler: function(index,row){if (row.AccountType == 1){return 'background-color:#03FBEF;color:#056C67;font-weight:bold;';}if (row.AccountType == 2){return 'background-color:#6293BB;color:#fff;font-weight:bold;';}if (row.AccountType == 3){return 'background-color:#DEDEDE; font-weight:bold;';}}">
                            <thead>
                                <tr>
                                    <th field="AccountHeadName" width="195" align="left">Particulars</th>
                                    <th field="LedgerBalanceInString" width="115" align="right"></th>
                                    <th field="CGSGBalanceInString" width="115" align="right"></th>
                                </tr>
                            </thead>
                        </table>
                        <div id="toolbarBalanceSheet2" style="text-align:right; height:28px;">
                            <table>
                                <tr>
                                    <td>
                                        @using (Html.BeginForm("PrepareBalanceSheet", "FinancialReport", FormMethod.Post, new { enctype = "multipart/form-data", target = "_blank", @class = "PrintForm" }))
                                        {
                                            <input type="text" name="txtFinancialReportBalanceSheet" id="txtFinancialReportBalanceSheet" hidden="hidden" />
                                            <input type="text" name="txtPrintBalanceSheet" id="txtPrintBalanceSheet" hidden="hidden" />
                                            <input type="submit" id="btnPrintBalanceSheet" value="     Print List" class="icon-print PrintList" style="margin-top: 4px;" />
                                        }
                                    </td>
                                    <td>
                                        @using (Html.BeginForm("PrepareBalanceSheetInXL", "FinancialReport", FormMethod.Post, new { enctype = "multipart/form-data", target = "_blank", @class = "PrintForm" }))
                                        {
                                            <input type="text" name="txtFinancialReportBalanceSheetXL" id="txtFinancialReportBalanceSheetXL" hidden="hidden" />
                                            <input type="text" name="txtPrintBalanceSheetXL" id="txtPrintBalanceSheetXL" hidden="hidden" />
                                            <input type="submit" id="btnPrintBalanceSheetXL" value="     Print List" class="icon-print PrintList" style="margin-top: 4px;" />
                                        }
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <table border="0" style="background-color:#DEDEDE; width:100%;">
                        <tr>
                            <td style="width:100%; text-align:right; font-weight:bold; font-size:small">
                                <label id="lblLiabilityTotal" style="margin-right:20px">Total : 0.00</label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="divIncomeStatement" title="Income Statement" class="easyui-layout" fit="true" style="margin-left: 0px; height:100%; width:100%; overflow:hidden;">
                <div region='west' split=false collapsible="false" title="Income Statement (Expenses)" style="margin-left:0px; width:50%; height:100%;overflow:hidden;">
                    <div style="height: 80%; width:100%;">
                        <table id="tblExpense" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" , autorowheight="false" toolbar="#toolbarIncomeStatement1"
                               data-options="rowStyler: function(index,row){if (row.AccountType == 2){return 'background-color:#6293BB;color:#fff;font-weight:bold;';}if (row.AccountType == 3){return 'background-color:#DEDEDE; font-weight:bold;';}}">
                            <thead>
                                <tr>
                                    <th field="AccountHeadName" width="195" align="left">Particulars</th>
                                    <th field="LedgerBalanceInString" width="115" align="right"></th>
                                    <th field="CGSGBalanceInString" width="115" align="right"></th>
                                </tr>
                            </thead>
                        </table>
                        <div id="toolbarIncomeStatement1">
                            Statement Period : 
                            <input id="txtStartDateIncomeStatement" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:120px;" />
                            to <input id="txtEndDateIncomeStatement" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:120px;" />
                            <select id="cboAccountTypeIncomeStatement" style="margin-left:20px;width:80px;"></select>
                            <a id="btnRefreshIncomeStatement" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>

                        </div>
                    </div>
                        <table border="0" style=" width:100%;">
                            <tr>
                                <td style="width:100%; text-align:left; font-weight:bold; font-size:small;background-color:#DEDEDE;">
                                        <label id="lblExpenseTotal" style="margin-right:20px">Total : 0.00</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="width:100%; text-align:left; font-weight:bold; font-size:medium">
                                    <label id="lblNetProfutLossAccout" style="margin-left:15px">Net Profit : 0.00</label>
                                </td>
                            </tr>
                        </table>
                </div>
                <div region='center' title="Income Statement (Revenue)" style="margin-left:0px; width:100%; height:100%;overflow:hidden;">
                    <div style="height: 80%; width:100%;">

                        <table id="tblRevenue" class="easyui-datagrid" style="height:100%;width:100%;" fit="true" fitcolumns="true" rownumbers="false" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarIncomeStatement2"
                               data-options="rowStyler: function(index,row){if (row.AccountType == 2){return 'background-color:#6293BB;color:#fff;font-weight:bold;';}if (row.AccountType == 3){return 'background-color:#DEDEDE; font-weight:bold;';}}">
                            <thead>
                                <tr>
                                    <th field="AccountHeadName" width="195" align="left">Particulars</th>
                                    <th field="LedgerBalanceInString" width="115" align="right"></th>
                                    <th field="CGSGBalanceInString" width="115" align="right"></th>
                                </tr>
                            </thead>
                        </table>
                        <div id="toolbarIncomeStatement2" style="text-align:right">
                            <table>
                                <tr>
                                    <td>
                                        @using (Html.BeginForm("PrepareIncomeStatement", "FinancialReport", FormMethod.Post, new { enctype = "multipart/form-data", target = "_blank", @class = "PrintForm" }))
                                        {
                                            <input type="text" name="txtFinancialReportIncomeStatement" id="txtFinancialReportIncomeStatement" hidden="hidden" />
                                            <input type="text" name="txtPrintIncomeStatement" id="txtPrintIncomeStatement" hidden="hidden" />
                                            <input type="submit" id="btnPrintIncomeStatement" value="     Print List" class="icon-print PrintList" style="margin-top: 4px;" />
                                        }
                                    </td>
                                    <td>
                                        @using (Html.BeginForm("PrepareIncomeStatementInXL", "FinancialReport", FormMethod.Post, new { enctype = "multipart/form-data", target = "_blank", @class = "PrintForm" }))
                                        {
                                            <input type="text" name="txtFinancialReportIncomeStatementXL" id="txtFinancialReportIncomeStatementXL" hidden="hidden" />
                                            <input type="text" name="txtPrintIncomeStatementXL" id="txtPrintIncomeStatementXL" hidden="hidden" />
                                            <input type="submit" id="btnPrintIncomeStatementXL" value="     Export To XL" class="icon-print PrintList" style="margin-top: 4px;" />
                                        }
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                        <table border="0" style=" width:100%;">
                            <tr>
                                <td style="width:100%; text-align:right; font-weight:bold; font-size:small;background-color:#DEDEDE;">
                                    <div style="width:100%;">
                                        <label id="lblRecenueTotal" style="margin-right:20px">Total : 0.00</label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</body>

<style>
    .CaptionStyle {
        text-align: right;
        font-size: 11px;
        font-weight: bold;
    }
    .ValueStyle {
        text-align: left;
        font-size: 11px;
        font-weight: bold;
        padding:5px;
    }

    fieldset {
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }
</style>

<script type="text/javascript">
    
    var _sBaseAddress = "";
    var _menuid=0;
    var _oHelperobj={Object:{},ControllerName:'',ActionName:'',InputID:'',LabelID:'',ObjectID:'',Code:'',Name:'',WindowTitle:''}
    $(document).ready(function() {
        $('#Mainlayout').layout('collapse','west');
        _menuid= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(MenuID));
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oFinancialReportTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FinancialReportTypes));
        $('#cboVoucherReportType').data('FinancialReportTypes', oFinancialReportTypes);
        RefreshControls();
        $('#cboVoucherReportType').change();
        
    });
    $('.Income').resize(function (e){
        alert(e.target.id);
    });
    $('#btnPrintIncomeStatement').click(function (){
        var oFinancialReport= RefreshObject();
        var oIS={Revenues:[],Expenses:[],TotalRevenues:0,TotalExpenses:0,StartDate:'',EndDate:''};
        oIS.Revenues=$('#tblRevenue').datagrid('getRows');
        oIS.Expenses=$('#tblExpense').datagrid('getRows');
        oIS.TotalRevenues= $('#tblRevenue').data('TotalRevenues');
        oIS.TotalExpenses= $('#tblExpense').data('TotalExpenses');
        
        
        if(!oIS.Revenues || oIS.Revenues.length<=0 || !oIS.Expenses || oIS.Expenses.length<=0){
            return false;
        }

        oIS.StartDate =oFinancialReport.ReportStartDate;
        oIS.EndDate =oFinancialReport.ReportEndDate;
        
        for(var i=0;i<oIS.Revenues.length;i++){
            oIS.Revenues[i].StartDate =oFinancialReport.ReportStartDate;
            oIS.Revenues[i].EndDate =oFinancialReport.ReportEndDate;
        }
        for(var i=0;i<oIS.Expenses.length;i++){
            oIS.Expenses[i].StartDate =oFinancialReport.ReportStartDate;
            oIS.Expenses[i].EndDate =oFinancialReport.ReportEndDate;
        }


        $("#txtFinancialReportIncomeStatement").val(JSON.stringify(oFinancialReport));
        $("#txtPrintIncomeStatement").val(JSON.stringify(oIS));
    });
    $('#btnPrintIncomeStatementXL').click(function (){
        var oFinancialReport= RefreshObject();
        var oIS={Revenues:[],Expenses:[],TotalRevenues:0,TotalExpenses:0,StartDate:'',EndDate:''};
        oIS.Revenues=$('#tblRevenue').datagrid('getRows');
        oIS.Expenses=$('#tblExpense').datagrid('getRows');
        oIS.TotalRevenues= $('#tblRevenue').data('TotalRevenues');
        oIS.TotalExpenses= $('#tblExpense').data('TotalExpenses');

        if(!oIS.Revenues || oIS.Revenues.length<=0 || !oIS.Expenses || oIS.Expenses.length<=0){
            return false;
        }

        oIS.StartDate =oFinancialReport.ReportStartDate;
        oIS.EndDate =oFinancialReport.ReportEndDate;
        
        for(var i=0;i<oIS.Revenues.length;i++){
            oIS.Revenues[i].StartDate =oFinancialReport.ReportStartDate;
            oIS.Revenues[i].EndDate =oFinancialReport.ReportEndDate;
        }
        for(var i=0;i<oIS.Expenses.length;i++){
            oIS.Expenses[i].StartDate =oFinancialReport.ReportStartDate;
            oIS.Expenses[i].EndDate =oFinancialReport.ReportEndDate;
        }

        $("#txtFinancialReportIncomeStatementXL").val(JSON.stringify(oFinancialReport));
        $("#txtPrintIncomeStatementXL").val(JSON.stringify(oIS));
    });

    $('#btnPrintBalanceSheet').click(function (){
        var oFinancialReport= RefreshObject();
        var oBL={Assets:[],LiabilitysOwnerEquitys:[],TotalAssets:0,TotalLiabilitysOwnerEquitys:0};
        oBL.Assets=$('#tblAssets').datagrid('getRows');
        oBL.LiabilitysOwnerEquitys=$('#tblLiability').datagrid('getRows');
        oBL.TotalAssets= $('#tblAssets').data('TotalAssets');
        oBL.TotalLiabilitysOwnerEquitys= $('#tblLiability').data('TotalLiabilitysOwnerEquitys');

        if(!oBL.Assets || oBL.Assets.length<=0 || !oBL.LiabilitysOwnerEquitys || oBL.LiabilitysOwnerEquitys.length<=0){
            return false;
        }
        $("#txtFinancialReportBalanceSheet").val(JSON.stringify(oFinancialReport));
        $("#txtPrintBalanceSheet").val(JSON.stringify(oBL));
    });
    $('#btnPrintBalanceSheetXL').click(function (){
        var oFinancialReport= RefreshObject();
        var oBL={Assets:[],LiabilitysOwnerEquitys:[],TotalAssets:0,TotalLiabilitysOwnerEquitys:0};
        oBL.Assets=$('#tblAssets').datagrid('getRows');
        oBL.LiabilitysOwnerEquitys=$('#tblLiability').datagrid('getRows');
        oBL.TotalAssets= $('#tblAssets').data('TotalAssets');
        oBL.TotalLiabilitysOwnerEquitys= $('#tblLiability').data('TotalLiabilitysOwnerEquitys');

        if(!oBL.Assets || oBL.Assets.length<=0 || !oBL.LiabilitysOwnerEquitys || oBL.LiabilitysOwnerEquitys.length<=0){
            return false;
        }
        $("#txtFinancialReportBalanceSheetXL").val(JSON.stringify(oFinancialReport));
        $("#txtPrintBalanceSheetXL").val(JSON.stringify(oBL));
    });

    $('#btnPrintTrailBalance').click(function (){
        var oFinancialReport= RefreshObject();
        var oTTBs=$('#tblTrailBalance').treegrid('getRoots');
        if(!oTTBs || oTTBs.length<=0){
            return false;
        }
        //for(var i=0;i<oTBs.length;i++){
        //    oTBs[i].StartDate=oTBs[i].StartDateSt;
        //    oTBs[i].EndDate=oTBs[i].EndDateSt;
        //}
        $("#txtFinancialReportTrailBalance").val(JSON.stringify(oFinancialReport));
        $("#txtPrintTrailBalance").val(JSON.stringify(oTTBs));
    });

    $('#btnPrintXLGeneralLedger').click(function (){
        var oFinancialReport= RefreshObject();
        var oGLs=$('#tblGeneralLedger').datagrid('getRows');
        if(!oGLs || oGLs.length<=0){
            return false;
        }
        for(var i=0;i<oGLs.length;i++){
            oGLs[i].VoucherDate=oGLs[i].VoucherDateInString;
            oGLs[i].StartDate=oGLs[i].StartDateInString;
            oGLs[i].EndDate=oGLs[i].EndDateInString;
            oGLs[i].WeekStartDate=oGLs[i].WeekStartDateSt;
            oGLs[i].WeekEndDate=oGLs[i].WeekEndDateSt;
        }
        $("#txtXLFinancialReport").val(JSON.stringify(oFinancialReport));
        $("#txtPrintXLGeneralLedger").val(JSON.stringify(oGLs));
    });
    $('#btnPrintGeneralLedger').click(function (){
        var oFinancialReport= RefreshObject();
        var oGLs=$('#tblGeneralLedger').datagrid('getRows');
        if(!oGLs || oGLs.length<=0){
            return false;
        }
        for(var i=0;i<oGLs.length;i++){
            oGLs[i].VoucherDate=oGLs[i].VoucherDateInString;
            oGLs[i].StartDate=oGLs[i].StartDateInString;
            oGLs[i].EndDate=oGLs[i].EndDateInString;
            oGLs[i].WeekStartDate=oGLs[i].WeekStartDateSt;
            oGLs[i].WeekEndDate=oGLs[i].WeekEndDateSt;
        }
        $("#txtFinancialReport").val(JSON.stringify(oFinancialReport));
        $("#txtPrintGeneralLedger").val(JSON.stringify(oGLs));
    });
    $("#btnPrintVoucherGeneralLedger").click(function(){
      
        var oGeneralLedger = $('#tblGeneralLedger').datagrid('getSelected');
        if(oGeneralLedger==null || oGeneralLedger.VoucherID<=0)
        {
            alert("Please select an item from list!");
            return;
        }
        window.open(_sBaseAddress+'/Voucher/PrintVoucher?buid=0&id=' + oGeneralLedger.VoucherID, "_blank");
    });


    function RefreshControls()
    {
        RefreshComboBoxes();
        $('#txtGLStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtGLEndDate').datebox('setValue', icsdateformat(new Date()));

        $('.txtserchingcriteria').val('');

        $('.lblsevendigit').html('0000000-N/A');
        $('.lblfourdigit').html('0000-N/A');
        $('.lbltwodigit').html('00-N/A');
        $('.lblfivedigit').html('00000-N/A');

        MakeAccountCode();
    }

    function RefreshLayOut(nReportType)
    {
        if(parseInt(nReportType)===1){//GeneralLedger = 1,
            $('#txtGLEndDate').datebox({disabled:false});
            $('#txtGLEndDate').datebox('setValue', icsdateformat(new Date()));
            $('#divGeneralLedger').show();
            $('#divTrialBalance').hide();
            $('#divBalanceSheet').hide();
            $('#divIncomeStatement').hide(); 
            $('.txtserchingcriteria').prop('disabled',false);
            $('#txtEndLedgerCode').prop('disabled',true);
            $('#divGeneralLedger').height('100%');
            GenerateLedgerTable();
        }
        else if(parseInt(nReportType)===2){//TrialBalance = 2,
            $('#txtGLEndDate').datebox({disabled:false});
            $('#txtGLEndDate').datebox('setValue', icsdateformat(new Date()));
            $('#divGeneralLedger').hide();
            $('#divTrialBalance').show();
            $('#divBalanceSheet').hide();
            $('#divIncomeStatement').hide();         
            $('.txtserchingcriteria').prop('disabled',false);
            $('#divTrialBalance').height('100%');
            GenerateTrailBalanceTable();
        }
        else if(parseInt(nReportType)===3){//BalanceSheet = 3,
            $('#txtGLEndDate').datebox({disabled:true});
            $('#txtGLEndDate').datebox('setValue', icsdateformat(new Date()));
            $('#divGeneralLedger').hide();
            $('#divTrialBalance').hide();
            $('#divBalanceSheet').show();
            $('#divIncomeStatement').hide(); 
            $('.txtserchingcriteria').prop('disabled',false);
            $('#txtStartLedgerCode').prop('disabled',true);
            $('#txtEndLedgerCode').prop('disabled',true);
            $('#txtStartSubLedgerCode').prop('disabled',true);
            $('#txtEndSubLedgerCode').prop('disabled',true);
            $('#txtStartProductCode').prop('disabled',true);
            $('#txtEndProductCode').prop('disabled',true);
            $('#txtStartDepartmentCode').prop('disabled',true);
            $('#txtEndDepartmentCode').prop('disabled',true);
            $('#divBalanceSheet').height('100%');
            $('#divBalanceSheet').layout();
            //$('#tblTrailBalance').height('100%');
        }
        else if(parseInt(nReportType)===4){//IncomeStatement = 4,
            $('#txtGLEndDate').datebox({disabled:false});
            $('#txtGLEndDate').datebox('setValue', icsdateformat(new Date()));
            $('#divGeneralLedger').hide();
            $('#divTrialBalance').hide();
            $('#divBalanceSheet').hide();
            $('#divIncomeStatement').show(); 
            $('.txtserchingcriteria').prop('disabled',false);
            $('#txtStartLedgerCode').prop('disabled',true);
            $('#txtEndLedgerCode').prop('disabled',true);
            $('#txtStartSubLedgerCode').prop('disabled',true);
            $('#txtEndSubLedgerCode').prop('disabled',true);
            $('#txtStartProductCode').prop('disabled',true);
            $('#txtEndProductCode').prop('disabled',true);
            $('#txtStartDepartmentCode').prop('disabled',true);
            $('#txtEndDepartmentCode').prop('disabled',true);
            $('#divIncomeStatement').height('100%');
            $('#divIncomeStatement').layout();
        }
        else//None = 0,
        {
            $('#txtGLEndDate').datebox({disabled:false});
            $('#txtGLEndDate').datebox('setValue', icsdateformat(new Date()));
            $('#divGeneralLedger').hide();
            $('#divTrialBalance').hide();
            $('#divBalanceSheet').hide();
            $('#divIncomeStatement').hide();                    
            $('.txtserchingcriteria').prop('disabled',true);
        }
    }
        
    function Validate(){
        if(parseInt($('#cboVoucherReportType').val())===0){
            alert('Please Select A Report Type!');
            $('#cboVoucherReportType').addClass('errorFieldBorder');
            $('#cboVoucherReportType').focus();
            return false;
        }
        else{
            $('#cboVoucherReportType').removeClass('errorFieldBorder');
            if(parseInt($('#cboVoucherReportType').val())===1){
                if(!$('#txtStartLedgerCode').data('txtStartLedgerCode')){
                    alert('Please Select a Ledger');
                    $('#txtStartLedgerCode').addClass('errorFieldBorder');
                    $('#txtStartLedgerCode').focus();
                    return false;
                }
                else{
                    $('#txtStartLedgerCode').removeClass('errorFieldBorder');
                }
            }
            if(parseInt($('#cboVoucherReportType').val())!=3){
                var dStart=new Date($('#txtGLStartDate').datebox('getValue'));
                var dEnd=new Date($('#txtGLEndDate').datebox('getValue'));
                if(dEnd<dStart){
                    alert('Second Value in Date range must be greater');
                    $('#txtGLEndDate').addClass('errorFieldBorder');
                    $('#txtGLEndDate').focus();
                    return false;
                }
                else{
                    $('#txtGLEndDate').removeClass('errorFieldBorder');
                }
            }
        }
        
        return true;
    }

    function RefreshObject()
    {
        var oFinancialReport ={
            FinancialReportTypeInt :$('#cboVoucherReportType').val(),
            ReportStartDate :  $('#txtGLStartDate').datebox('getValue'),
            ReportEndDate :  $('#txtGLEndDate').datebox('getValue'),
            StartLedgerCode : ($.trim($('#txtStartLedgerCode').data('txtStartLedgerCode')).length>0?$.trim($('#txtStartLedgerCode').data('txtStartLedgerCode')):'0000000'),
            EndLedgerCode : ($.trim($('#txtEndLedgerCode').data('txtEndLedgerCode')).length>0?$.trim($('#txtEndLedgerCode').data('txtEndLedgerCode')):'0000000'),
            StartSubLedgerCode : ($.trim($('#txtStartSubLedgerCode').data('txtStartSubLedgerCode')).length>0?$.trim($('#txtStartSubLedgerCode').data('txtStartSubLedgerCode')):'0000'),
            EndSubLedgerCode : ($.trim($('#txtEndSubLedgerCode').data('txtEndSubLedgerCode')).length>0?$.trim($('#txtEndSubLedgerCode').data('txtEndSubLedgerCode')):'0000'),
            StartBusinessCode : ($.trim($('#txtStartBusinessCode').data('txtStartBusinessCode')).length>0?$.trim($('#txtStartBusinessCode').data('txtStartBusinessCode')):'00'),
            EndBusinessCode : ($.trim($('#txtEndBusinessCode').data('txtEndBusinessCode')).length>0?$.trim($('#txtEndBusinessCode').data('txtEndBusinessCode')):'00'),
            StartAreaCode : ($.trim($('#txtStartAreaCode').data('txtStartAreaCode')).length>0?$.trim($('#txtStartAreaCode').data('txtStartAreaCode')):'00'),
            EndAreaCode : ($.trim($('#txtEndAreaCode').data('txtEndAreaCode')).length>0?$.trim($('#txtEndAreaCode').data('txtEndAreaCode')):'00'),
            StartZonalCode : ($.trim($('#txtStartZonalCode').data('txtStartZonalCode')).length>0?$.trim($('#txtStartZonalCode').data('txtStartZonalCode')):'00'),
            EndZonalCode : ($.trim($('#txtEndZonalCode').data('txtEndZonalCode')).length>0?$.trim($('#txtEndZonalCode').data('txtEndZonalCode')):'00'),
            StartSiteCode : ($.trim($('#txtStartSiteCode').data('txtStartSiteCode')).length>0?$.trim($('#txtStartSiteCode').data('txtStartSiteCode')):'0000'),
            EndSiteCode : ($.trim($('#txtEndSiteCode').data('txtEndSiteCode')).length>0?$.trim($('#txtEndSiteCode').data('txtEndSiteCode')):'0000'),
            StartProductCode : ($.trim($('#txtStartProductCode').data('txtStartProductCode')).length>0?$.trim($('#txtStartProductCode').data('txtStartProductCode')):'00000'),
            EndProductCode : ($.trim($('#txtEndProductCode').data('txtEndProductCode')).length>0?$.trim($('#txtEndProductCode').data('txtEndProductCode')):'00000'),
            StartDeptCode : ($.trim($('#txtStartDepartmentCode').data('txtStartDepartmentCode')).length>0?$.trim($('#txtStartDepartmentCode').data('txtStartDepartmentCode')):'00'),
            EndDeptCode : ($.trim($('#txtEndDepartmentCode').data('txtEndDepartmentCode')).length>0?$.trim($('#txtEndDepartmentCode').data('txtEndDepartmentCode')):'00')
        };
        return oFinancialReport;
    }
    
    $('#btnProcess').click(function(){
        if(!Validate()){return false;}
        var oFinancialReport= RefreshObject();

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/FinancialReport/ProcessFinancialReport",
            traditional: true,
            data:  JSON.stringify(oFinancialReport),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                if(parseInt(oFinancialReport.FinancialReportTypeInt)===1 || parseInt(oFinancialReport.FinancialReportTypeInt)===2)
                {
                    var oReportData = jQuery.parseJSON(data);
                    if (oReportData!=null) {
                        if(oReportData[0].ErrorMessage==="")
                        {
                            if(parseInt(oFinancialReport.FinancialReportTypeInt)===1)
                            {
                                RefreshGeneralLedger(oReportData);
                            }
                            else if(parseInt(oFinancialReport.FinancialReportTypeInt)===2)
                            {
                                RefreshTrailBalance(oReportData);
                            }                          
                            //$('#acdonFinancialReport').accordion('select', 1);
                        }
                    }
                    else {
                        alert(oReportData[0].ErrorMessage);
                    }
                }
                else
                {        
                    debugger;
                    var oReportData = jQuery.parseJSON(data);
                    if (oReportData!=null) {
                        if(oReportData.ErrorMessage==="")
                        {                            
                            if(parseInt(oFinancialReport.FinancialReportTypeInt)===3)
                            {
                                if(parseInt(oReportData.LiabilitysOwnerEquitys.length) == 0 && parseInt(oReportData.Assets.length) == 0)
                                {
                                    alert("Data not found!!");
                                    return;
                                }
                                RefreshBalanceSheet(oReportData);
                            }
                            else if(parseInt(oFinancialReport.FinancialReportTypeInt)===4)
                            {
                                if(parseInt(oReportData.Revenues.length) == 0 && parseInt(oReportData.Expenses.length) == 0)
                                {
                                    alert("Data not found!!");
                                    return;
                                }
                                RefreshIncomeStatement(oReportData);
                            }
                            $('#acdonFinancialReport').accordion('select', 1);
                        }
                    }
                    else {
                        alert(oReportData.ErrorMessage);
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    function RefreshGeneralLedger(oReportData)
    {
        var data = oReportData;
        data = { "total": "" + data.length + "", "rows": data };
        $("#tblGeneralLedger").datagrid("loadData", data);
    }

    function RefreshTrailBalance(oTrailBalances)
    {
        $('#tblTrailBalance').empty();
        var data= oTrailBalances;
        data={"total":""+data.length+"","rows":data};
        $('#tblTrailBalance').treegrid('loadData',data);
    }

    function RefreshBalanceSheet(oBalanceSheet)
    {        
        var data =oBalanceSheet.LiabilitysOwnerEquitys;
        data={"total":""+data.length+"","rows":data};
        $('#tblLiability').datagrid('loadData',data);


        data =oBalanceSheet.Assets;
        data={"total":""+data.length+"","rows":data};
        $('#tblAssets').datagrid('loadData',data);
        
        $('#tblAssets').data('TotalAssets',oBalanceSheet.TotalAssets);
        $('#tblLiability').data('TotalLiabilitysOwnerEquitys',oBalanceSheet.TotalLiabilitysOwnerEquitys);

        var TotalAsst = oBalanceSheet.TotalAssets.toFixed(2);
        var TotalAsset = addComma(TotalAsst);
        var TotalLOE = oBalanceSheet.TotalLiabilitysOwnerEquitys.toFixed(2);
        var TotalLOEs = addComma(TotalLOE);

        document.getElementById('lblAssetTotal').innerHTML ="Total : "+ TotalAsset;
        document.getElementById('lblLiabilityTotal').innerHTML ="Total : "+ TotalLOEs;
    }

    function RefreshIncomeStatement(oIncomeStatement)
    {
        data =oIncomeStatement.Revenues;
        data={"total":""+data.length+"","rows":data};
        $('#tblRevenue').datagrid('loadData',data);


        data =oIncomeStatement.Expenses;
        data={"total":""+data.length+"","rows":data};
        $('#tblExpense').datagrid('loadData',data);

        $('#tblRevenue').data('TotalRevenues',oIncomeStatement.TotalRevenues);
        $('#tblExpense').data('TotalExpenses',oIncomeStatement.TotalExpenses);

        var NetPro = (oIncomeStatement.TotalRevenues-oIncomeStatement.TotalExpenses).toFixed(2);
        var NetProfit = addComma(NetPro);
        if(oIncomeStatement.TotalRevenues>oIncomeStatement.TotalExpenses)
        {
            document.getElementById('lblNetProfutLossAccout').innerHTML ="Net Profit : "+ NetProfit +" BDT";
        }

        var NetL = (oIncomeStatement.TotalExpenses-oIncomeStatement.TotalRevenues).toFixed(2);
        var NetLoss = addComma(NetL);
        if(oIncomeStatement.TotalRevenues<oIncomeStatement.TotalExpenses)
        {
            document.getElementById('lblNetProfutLossAccout').innerHTML ="Net Loss : "+ NetLoss +" BDT";
        }

        var ET = oIncomeStatement.TotalExpenses.toFixed(2);
        var ExpenseTotal = addComma(ET);
        var RT = oIncomeStatement.TotalRevenues.toFixed(2);
        var RevenueTotal = addComma(RT);

        document.getElementById('lblExpenseTotal').innerHTML ="Total : "+ ExpenseTotal;
        document.getElementById('lblRecenueTotal').innerHTML ="Total : "+ RevenueTotal;
    }

    function FormatStyle(value){
        var values=value.split("~");
        var sVoucherNo = values[0];
        var nVoucherID = values[1];
        var s = "";
        if(nVoucherID > 0)
        {
            s = '<label id="lblOpening~'+nVoucherID+'" style="color:Blue;cursor:pointer" onclick="Detail('+nVoucherID+')">'+sVoucherNo+'</label>';
        }
        else
        {
            s = '<label>'+sVoucherNo+'</label>';
        }
        return s;
    }

    function Detail(nVoucherID)
    {
        sessionStorage.setItem("VoucherHeader", "View Voucher");
        window.open(_sBaseAddress +'/Voucher/ViewSingleCurrencyVoucher?id='+parseInt(nVoucherID)+'&nvtid=1', '_blank');        
    }

    function GenerateTrailBalanceTable(){
        $('#tblTrailBalance').datagrid({
            columns:[[
                            {field:'AccountHeadName',title:'AccountHead Name',width:'28%',align:'left'},
                            {field:'OpenningBalance',title:'Openning Balance', align:'right',width:'17%'},
                            {field:'DebitAmount',title:'Dr. Amount', align:'right',width:'17%'},
                            {field:'CreditAmount',title:'Cr. Amount',width:'17%',align:'right'},
                            {field:'ClosingBalance',title:'Closing Balance',width:'17%',align:'right'},
            ]]
        });
    }

    function GenerateLedgerTable(){
        $('#tblGeneralLedger').datagrid({
            columns:[[
                    {field:'VoucherDateInString',title:'Voucher Date',width:80,align:'center'},
                    {field:'VoucherIDWithNo',title:'Voucher No', align:'left',formatter:function(value,row,index){ return FormatStyle(value, true); }},
                    {field:'Particulars',title:'Particulars', align:'left'},
                    {field:'DebitAmountInString',title:'Debit',width:100,align:'right'},
                    {field:'CreditAmountInString',title:'Credit',width:100,align:'right'},
                    {field:'CurrentBalanceInString',title:'Closing Balance',width:100,align:'right'}
            ]]
        });
    }

    $('#cboVoucherReportType').change(function (){
        $( "#cboVoucherReportType option:selected" ).each(function() {
            RefreshLayOut(parseInt($(this).val()));
            //window.location.href =  _sBaseAddress +'/FinancialReport/ViewFinancialReport?reporttype='+parseInt($(this).val())+'&menuid='+_menuid;            
        });
    });

    

    $(".txtserchingcriteria").keyup(function (e){
        if (e.which == 13){
            if($.trim($(e.target).val()).length<=0){return;}
            GetData(e);
        }
        else {
            if($(e.target).data(e.target.id)===$.trim($(e.target).val())){return;}
            $('#txtStartLedgerCode').data(e.target.id,null);
            if(e.target.id==='txtStartLedgerCode'){$('#lblStartLedgerCode').html('0000000-N/A');}
            else if(e.target.id==='txtEndLedgerCode'){$('#lblEndLedgerCode').html('0000000-N/A');}
            else if(e.target.id==='txtStartSubLedgerCode'){$('#lblStartSubLedgerCode').html('0000-N/A');}
            else if(e.target.id==='txtEndSubLedgerCode'){$('#lblEndSubLedgerCode').html('0000-N/A');}
            else if(e.target.id==='txtStartSiteCode'){$('#lblStartSiteCode').html('0000-N/A');}
            else if(e.target.id==='txtEndSiteCode'){$('#lblEndSiteCode').html('0000-N/A');}
            else if(e.target.id==='txtStartProductCode'){$('#lblStartProductCode').html('00000-N/A');}
            else if(e.target.id==='txtEndProductCode'){$('#lblEndProductCode').html('00000-N/A');}
            else if(e.target.id==='txtStartBusinessCode'){$('#lblStartBusinessCode').html('00-N/A');}
            else if(e.target.id==='txtEndBusinessCode'){$('#lblEndBusinessCode').html('00-N/A');}
            else if(e.target.id==='txtStartAreaCode'){$('#lblStartAreaCode').html('00-N/A');}
            else if(e.target.id==='txtEndAreaCode'){$('#lblEndAreaCode').html('00-N/A');}
            else if(e.target.id==='txtStartZonalCode'){$('#lblStartZonalCode').html('00-N/A');}
            else if(e.target.id==='txtEndZonalCode'){$('#lblEndZonalCode').html('00-N/A');}
            else if(e.target.id==='txtStartDepartmentCode'){$('#lblStartDepartmentCode').html('00-N/A');}
            else if(e.target.id==='txtEndDepartmentCode'){$('#lblEndDepartmentCode').html('00-N/A');}
        }
    }).focusout(function (e) {
        if(e.target.id==='txtStartLedgerCode'){$('#lblStartLedgerCode').html(!$(e.target).data(e.target.id)?'0000000-N/A':$('#lblStartLedgerCode').html());}
        else if(e.target.id==='txtEndLedgerCode'){$('#lblEndLedgerCode').html(!$(e.target).data(e.target.id)?'0000000-N/A':$('#lblEndLedgerCode').html());}
        else if(e.target.id==='txtStartSubLedgerCode'){$('#lblStartSubLedgerCode').html(!$(e.target).data(e.target.id)?'0000-N/A':$('#lblStartSubLedgerCode').html());}
        else if(e.target.id==='txtEndSubLedgerCode'){$('#lblEndSubLedgerCode').html(!$(e.target).data(e.target.id)?'0000-N/A':$('#lblEndSubLedgerCode').html());}
        else if(e.target.id==='txtStartSiteCode'){$('#lblStartSiteCode').html(!$(e.target).data(e.target.id)?'0000-N/A':$('#lblStartSiteCode').html());}
        else if(e.target.id==='txtEndSiteCode'){$('#lblEndSiteCode').html(!$(e.target).data(e.target.id)?'0000-N/A':$('#lblEndSiteCode').html());}
        else if(e.target.id==='txtStartProductCode'){$('#lblStartProductCode').html(!$(e.target).data(e.target.id)?'00000-N/A':$('#lblStartProductCode').html());}
        else if(e.target.id==='txtEndProductCode'){$('#lblEndProductCode').html(!$(e.target).data(e.target.id)?'00000-N/A':$('#lblEndProductCode').html());}
        else if(e.target.id==='txtStartBusinessCode'){$('#lblStartBusinessCode').html(!$(e.target).data(e.target.id)?'00-N/A':$('#lblStartBusinessCode').html());}
        else if(e.target.id==='txtEndBusinessCode'){$('#lblEndBusinessCode').html(!$(e.target).data(e.target.id)?'00-N/A':$('#lblEndBusinessCode').html());}
        else if(e.target.id==='txtStartAreaCode'){$('#lblStartAreaCode').html(!$(e.target).data(e.target.id)?'00-N/A':$('#lblStartAreaCode').html());}
        else if(e.target.id==='txtEndAreaCode'){$('#lblEndAreaCode').html(!$(e.target).data(e.target.id)?'00-N/A':$('#lblEndAreaCode').html());}
        else if(e.target.id==='txtStartZonalCode'){$('#lblStartZonalCode').html(!$(e.target).data(e.target.id)?'00-N/A':$('#lblStartZonalCode').html());}
        else if(e.target.id==='txtEndZonalCode'){$('#lblEndZonalCode').html(!$(e.target).data(e.target.id)?'00-N/A':$('#lblEndZonalCode').html());}
        else if(e.target.id==='txtStartDepartmentCode'){$('#lblStartDepartmentCode').html(!$(e.target).data(e.target.id)?'00-N/A':$('#lblStartDepartmentCode').html());}
        else if(e.target.id==='txtEndDepartmentCode'){$('#lblEndDepartmentCode').html(!$(e.target).data(e.target.id)?'00-N/A':$('#lblEndDepartmentCode').html());}
     
        MakeAccountCode();
    });

    function GetData(e){
        _oHelperobj={Object:{},ControllerName:'',ActionName:'',InputID:'',LabelID:'',ObjectID:'',Code:'',Name:'',WindowTitle:''}

        if(e.target.classList && e.target.classList[1]==='txtsevendigit'){
            _oHelperobj.Object={AccountHeadCodeName:$.trim($(e.target).val())};
            _oHelperobj.ControllerName='ChartsOfAccount';
            _oHelperobj.WindowTitle='Ledger List'
            _oHelperobj.ActionName='GetsByCodeOrName';
            _oHelperobj.ObjectID='AccountHeadID';
            _oHelperobj.Code='AccountCode';
            _oHelperobj.Name='AccountHeadName'
            _oHelperobj.InputID=e.target.id;
            if(e.target.id==='txtStartLedgerCode'){_oHelperobj.LabelID='lblStartLedgerCode';}
            else if(e.target.id==='txtEndLedgerCode'){_oHelperobj.LabelID='lblEndLedgerCode';}
        }
        else if(e.target.classList && e.target.classList[1]==='txtfourdigit'){
            if(e.target.id==='txtStartSubLedgerCode'||e.target.id==='txtEndSubLedgerCode'){

                _oHelperobj.Object={NameCode:$.trim($(e.target).val())};
                _oHelperobj.ControllerName='ACCostCenter';
                _oHelperobj.WindowTitle='Sub Ledger List'
                _oHelperobj.ActionName='GetsByCode';
                _oHelperobj.ObjectID='ACCostCenterID';
                _oHelperobj.Code='Code';
                _oHelperobj.Name='Name'
                _oHelperobj.InputID=e.target.id;
                if(e.target.id==='txtStartSubLedgerCode'){_oHelperobj.LabelID='lblStartSubLedgerCode';}
                else if(e.target.id==='txtEndSubLedgerCode'){_oHelperobj.LabelID='lblEndSubLedgerCode';}
            }
            else if(e.target.id==='txtStartSiteCode'||e.target.id==='txtEndSiteCode'){

                _oHelperobj.Object={LocationNameCode:$.trim($(e.target).val()),LocationType:3};
                _oHelperobj.ControllerName='Location';
                _oHelperobj.WindowTitle='Site List'
                _oHelperobj.ActionName='GetsByCode';
                _oHelperobj.ObjectID='LocationID';
                _oHelperobj.Code='LocCode';
                _oHelperobj.Name='Name'
                _oHelperobj.InputID=e.target.id;
                if(e.target.id==='txtStartSiteCode'){_oHelperobj.LabelID='lblStartSiteCode';}
                else if(e.target.id==='txtEndSiteCode'){_oHelperobj.LabelID='lblEndSiteCode';}
            }
        }
        else if(e.target.classList && e.target.classList[1]==='txtfivedigit'){
            
            _oHelperobj.Object={NameCode:$.trim($(e.target).val())};
            _oHelperobj.ControllerName='Product';
            _oHelperobj.WindowTitle='Product List'
            _oHelperobj.ActionName='GetsByCodeOrName';
            _oHelperobj.ObjectID='ProductID';
            _oHelperobj.Code='ProductCode';
            _oHelperobj.Name='ProductName'
            _oHelperobj.InputID=e.target.id;
            if(e.target.id==='txtStartProductCode'){_oHelperobj.LabelID='lblStartProductCode';}
            else if(e.target.id==='txtEndProductCode'){_oHelperobj.LabelID='lblEndProductCode';}
        }
        else if(e.target.classList && e.target.classList[1]==='txttwodigit'){
            if(e.target.id==='txtStartAreaCode'||e.target.id==='txtEndAreaCode'){

                _oHelperobj.Object={LocationNameCode:$.trim($(e.target).val()),LocationType:1};
                _oHelperobj.ControllerName='Location';
                _oHelperobj.WindowTitle='Area List'
                _oHelperobj.ActionName='GetsByCode';
                _oHelperobj.ObjectID='LocationID';
                _oHelperobj.Code='LocCode';
                _oHelperobj.Name='Name'
                _oHelperobj.InputID=e.target.id;
                if(e.target.id==='txtStartAreaCode'){_oHelperobj.LabelID='lblStartAreaCode';}
                else if(e.target.id==='txtEndAreaCode'){_oHelperobj.LabelID='lblEndAreaCode';}
            }
            else if(e.target.id==='txtStartZonalCode'||e.target.id==='txtEndZonalCode'){

                _oHelperobj.Object={LocationNameCode:$.trim($(e.target).val()),LocationType:2};
                _oHelperobj.ControllerName='Location';
                _oHelperobj.WindowTitle='Zone List'
                _oHelperobj.ActionName='GetsByCode';
                _oHelperobj.ObjectID='LocationID';
                _oHelperobj.Code='LocCode';
                _oHelperobj.Name='Name'
                _oHelperobj.InputID=e.target.id;
                if(e.target.id==='txtStartZonalCode'){_oHelperobj.LabelID='lblStartZonalCode';}
                else if(e.target.id==='txtEndZonalCode'){_oHelperobj.LabelID='lblEndZonalCode';}
            }
            else if(e.target.id==='txtStartBusinessCode'||e.target.id==='txtEndBusinessCode'){

                _oHelperobj.Object={NameCode:$.trim($(e.target).val())};
                _oHelperobj.ControllerName='BusinessUnit';
                _oHelperobj.WindowTitle='Business Unit List'
                _oHelperobj.ActionName='GetsBUByCodeOrName';
                _oHelperobj.ObjectID='BusinessUnitID';
                _oHelperobj.Code='Code';
                _oHelperobj.Name='Name'
                _oHelperobj.InputID=e.target.id;
                if(e.target.id==='txtStartBusinessCode'){_oHelperobj.LabelID='lblStartBusinessCode';}
                else if(e.target.id==='txtEndBusinessCode'){_oHelperobj.LabelID='lblEndBusinessCode';}
            }
            else if(e.target.id==='txtStartDepartmentCode'||e.target.id==='txtEndDepartmentCode'){

                _oHelperobj.Object={NameCode:$.trim($(e.target).val())};
                _oHelperobj.ControllerName='Department';
                _oHelperobj.WindowTitle='Department List'
                _oHelperobj.ActionName='GetsByCodeOrName';
                _oHelperobj.ObjectID='DepartmentID';
                _oHelperobj.Code='Code';
                _oHelperobj.Name='Name'
                _oHelperobj.InputID=e.target.id;
                if(e.target.id==='txtStartDepartmentCode'){_oHelperobj.LabelID='lblStartDepartmentCode';}
                else if(e.target.id==='txtEndDepartmentCode'){_oHelperobj.LabelID='lblEndDepartmentCode';}
            }
        }
        $.icsDataGets({BaseAddress: _sBaseAddress,
            Object: _oHelperobj.Object,
            ControllerName: _oHelperobj.ControllerName,
            ActionName: _oHelperobj.ActionName,
            IsWinClose: false},function (response){
                if(response.status && response.objs!=null){
                    if(response.objs[0]!=null && response.objs[0][_oHelperobj.ObjectID]>0){

                        var tblColums = [];
                        var oColumn = { field: _oHelperobj.Code, title: "Code", width: 150, align: "left" };
                        tblColums.push(oColumn);
                        oColumn = { field: _oHelperobj.Name, title: "Name", width: 150, align: "left" };
                        tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'win'+_oHelperobj.InputID,
                            winclass:'cls'+_oHelperobj.InputID,
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tbl'+_oHelperobj.InputID+'s',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName:_oHelperobj.Name,
                            windowTittle: _oHelperobj.WindowTitle
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                    }
                    else{
                        $('#'+_oHelperobj.LabelID).html('Invalid Code/Name');
                    }
                }
            });
    }
    function IntializePickerbutton(oPickerobj)
    {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            var oreturnObj = $('#'+oPickerobj.tableid).datagrid('getSelected');
            $("#"+oPickerobj.winid).icsWindow("close");
            $("#" + oPickerobj.winid).remove();
            if (oreturnObj != null && oreturnObj[_oHelperobj.ObjectID] > 0)
            {
                $('#'+_oHelperobj.InputID).val(oreturnObj[_oHelperobj.Code]);
                $('#'+_oHelperobj.LabelID).html(oreturnObj[_oHelperobj.Code]+'-'+oreturnObj[_oHelperobj.Name]);
                $('#'+_oHelperobj.InputID).data(_oHelperobj.InputID,oreturnObj[_oHelperobj.Code]);
                $('#'+_oHelperobj.InputID).focus();
            }
            MakeAccountCode();
        });
        $(document).find('.' +oPickerobj.winclass).keyup(function (e) {
            if (e.which == 13)//enter=13
            {
                var oreturnObj = $('#'+oPickerobj.tableid).datagrid('getSelected');
                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();
                if (oreturnObj != null && oreturnObj[_oHelperobj.ObjectID] > 0) {
                    $('#'+_oHelperobj.InputID).val(oreturnObj[_oHelperobj.Code]);
                    $('#'+_oHelperobj.LabelID).html(oreturnObj[_oHelperobj.Code]+'-'+oreturnObj[_oHelperobj.Name]);
                    $('#'+_oHelperobj.InputID).data(_oHelperobj.InputID,oreturnObj[_oHelperobj.Code]);
                    $('#'+_oHelperobj.InputID).focus();
                }
                MakeAccountCode();
            }
        });
    }

    function RefreshComboBoxes() {
        var oFinancialReportTypes=$('#cboVoucherReportType').data('FinancialReportTypes');
        $("#cboVoucherReportType").icsLoadCombo({
            List: oFinancialReportTypes,
            OptionValue: "id",
            DisplayText: "Value",
        });
    }

    function MakeAccountCode()
    {
        $('#txtStartAccount').val(
            ($.trim($('#txtStartBusinessCode').data('txtStartBusinessCode')).length>0?$.trim($('#txtStartBusinessCode').data('txtStartBusinessCode')):'00')
            +"."+($.trim($('#txtStartAreaCode').data('txtStartAreaCode')).length>0?$.trim($('#txtStartAreaCode').data('txtStartAreaCode')):'00')
            +"."+($.trim($('#txtStartZonalCode').data('txtStartZonalCode')).length>0?$.trim($('#txtStartZonalCode').data('txtStartZonalCode')):'00')
            +"."+($.trim($('#txtStartSiteCode').data('txtStartSiteCode')).length>0?$.trim($('#txtStartSiteCode').data('txtStartSiteCode')):'0000')
            +"."+($.trim($('#txtStartProductCode').data('txtStartProductCode')).length>0?$.trim($('#txtStartProductCode').data('txtStartProductCode')):'00000')
            +"."+($.trim($('#txtStartDepartmentCode').data('txtStartDepartmentCode')).length>0?$.trim($('#txtStartDepartmentCode').data('txtStartDepartmentCode')):'00')
            +"."+($.trim($('#txtStartLedgerCode').data('txtStartLedgerCode')).length>0?$.trim($('#txtStartLedgerCode').data('txtStartLedgerCode')):'0000000')
            +"."+($.trim($('#txtStartSubLedgerCode').data('txtStartSubLedgerCode')).length>0?$.trim($('#txtStartSubLedgerCode').data('txtStartSubLedgerCode')):'0000')
            );

        $('#txtEndAccount').val(
            ($.trim($('#txtEndBusinessCode').data('txtEndBusinessCode')).length>0?$.trim($('#txtEndBusinessCode').data('txtEndBusinessCode')):'00')
            +"."+($.trim($('#txtEndAreaCode').data('txtEndAreaCode')).length>0?$.trim($('#txtEndAreaCode').data('txtEndAreaCode')):'00')
            +"."+($.trim($('#txtEndZonalCode').data('txtEndZonalCode')).length>0?$.trim($('#txtEndZonalCode').data('txtEndZonalCode')):'00')
            +"."+($.trim($('#txtEndSiteCode').data('txtEndSiteCode')).length>0?$.trim($('#txtEndSiteCode').data('txtEndSiteCode')):'0000')
            +"."+($.trim($('#txtEndProductCode').data('txtEndProductCode')).length>0?$.trim($('#txtEndProductCode').data('txtEndProductCode')):'00000')
            +"."+($.trim($('#txtEndDepartmentCode').data('txtEndDepartmentCode')).length>0?$.trim($('#txtEndDepartmentCode').data('txtEndDepartmentCode')):'00')
            +"."+($.trim($('#txtEndLedgerCode').data('txtEndLedgerCode')).length>0?$.trim($('#txtEndLedgerCode').data('txtEndLedgerCode')):'0000000')
            +"."+($.trim($('#txtEndSubLedgerCode').data('txtEndSubLedgerCode')).length>0?$.trim($('#txtEndSubLedgerCode').data('txtEndSubLedgerCode')):'0000')
            );
    }

</script>
