    @{
        ViewBag.Title = "Export PI Summary Report";
    }
    @model ESimSol.BusinessObjects.ExportPI
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="menuMainCollectionTable">
            <fieldset>
                <legend>Export PI Summary </legend>
                <table style="width:100%;">
                    <tr>
                        <td style="width:12%;text-align:right;">
                            <label>Textile Unit : </label>
                        </td>
                        <td>
                            <select id="cboTextileUnits" class="CommonStyler cboTextileUnits" style="width:92%;"></select>
                        </td>
                        <td style="width:5%;"></td>
                        <td>
                            <span>Local PI</span>
                            <input id="chkLocalPI" type="checkbox" />
                            <input id="txtPINoWithWU" class="resetfield CommonStyler" style="width:17%;" placeholder="" type="text" disabled />
                            <input id="txtPINo" class="resetfield CommonStyler" maxlength="5" style="width:15%;" type="text" />
                            <input id="txtCurrentYear" maxlength="2" style="width:4%;" type="text" class="number"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:12%;text-align:right;">
                            <label>Buyer Name : </label>
                        </td>
                        <td style="width:32%;">
                            <input id="txtBuyerName" class="resetfield CommonStyler" placeholder="Type Buyer Name & Press Enter" type="text" style="width:73%;" />
                            <a id="btnClearBuyerInfo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-clear" plain="true"></a>
                            <a id="btnPickBuyerInfo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-pick" plain="true"></a>
                        </td>
                        <td style="width:5%;"></td>
                        <td>
                            <label>MKT Name : </label>
                            <select id="cboMktPersons" class="CommonStyler" style="width: 41%;"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:12%;text-align:right;">
                            <label>Issue Date : </label>
                        </td>
                        <td colspan="2">
                            <input id="chkIsDate" type="checkbox" />
                            <input id="dtDateFrom" type="text" style="width:125px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            <span>To</span>
                            <input id="dtDateTo" type="text" style="width:125px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="width:12%;text-align:right;">
                            <label>LC Rec Date : </label>
                        </td>
                        <td colspan="2">
                            <input id="chkIsRecDate" type="checkbox" />
                            <input id="dtRecDateFrom" type="text" style="width:125px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            <span>To</span>
                            <input id="dtRecDateTo" type="text" style="width:125px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="width:12%;text-align:right;">
                            <label>DO Issue Date : </label>
                        </td>
                        <td colspan="2">
                            <input id="chkIsDOIssueDate" type="checkbox" />
                            <input id="dtDOIssueDateFrom" type="text" style="width:125px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            <span>To</span>
                            <input id="dtDOIssueDateTo" type="text"style="width:125px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:right;">
                            <a id="btnResetExportPISummary" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-Reset" plain="true">Reset</a>
                            <a id="btnPrintExportPISummary" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
                            <a id="btnPrintXLExportPISummary" style="margin-right: 15px;" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Excel</a>
                        </td>
                        <td style="width:10%;"></td>
                        <td></td>
                    </tr>
                </table>
            </fieldset>

            <fieldset>
                <legend>LC Wise Delivery Report</legend>
                <select id="cboTextileUnitsDR" class="CommonStyle cboTextileUnits" style="width:122px;"></select>
                <input id="txtLCNo" type="text" class="CommonStyler" style="width:162px;" placeholder="Type LC No & Press Enter" />
                <label class="amendmentNo">Amendment No : </label>
                <select id="cboAmendmentNo" class="amendmentNo"></select>
                <input id="txtPINoLCWise" type="text" class="CommonStyler" style="width:162px;" placeholder="Type PI No & Press Enter" />
                <input id="txtDoNo" type="text" class="CommonStyler" style="width:162px;" placeholder="Type Do No & Press Enter" />
                <a id="btnPrintLCWiseDR" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
            </fieldset>

            <fieldset>
                <legend>Advance DO Register/Pending</legend>
                <div style="width:50%; margin:0 auto;">
                    <table style="width:100%;">
                        <tr>
                            <td style="width:12%;text-align:right;">
                                <label>Buyer Name : </label>
                            </td>
                            <td style="width:32%;">
                                <input id="txtBuyerNameADOR" class="resetfield CommonStyler" placeholder="Type Buyer Name & Press Enter" type="text" style="width:73%;" />
                                <a id="btnClearBuyerInfoADOR" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-clear" plain="true"></a>
                                <a id="btnPickBuyerInfoADOR" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-pick" plain="true"></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:12%;text-align:right;">
                                <label>MKT Name : </label>
                            </td>
                            <td>
                                <select id="cboMktPersonsADOR" style="width: 92%;"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:12%;text-align:right;">
                                <label>Issue Date : </label>
                            </td>
                            <td colspan="2">
                                <input id="chkIsIssueDateADOR" type="checkbox" />
                                <input id="dIssueDateFromADOR" type="text" style="width:125px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                <span>To</span>
                                <input id="dIssueDateToADOR" type="text" style="width:125px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:12%;text-align:right;">
                                <label>Pending List : </label>
                            </td>
                            <td>
                                <input id="chkIsPendingADOR" type="checkbox" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align:right;">
                                <a id="btnResetADOR" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-Reset" plain="true">Reset</a>
                                <a id="btnPrintADOR" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
                                <a id="btnPrintXLADOR" style="margin-right: 15px;" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Excel</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </div>
    </body>
</html>

<script type="text/javascript">
    var _sBaseAddress="";
    var _oTextileUnits=[];
    var _oMktPersons=[];
    var _nBuyerID = 0;
    var _oTempObj = {
        ExportLCID: 0,
        SUDeliveryOrderID: 0,
        FDOID:0,
        ExportPIID: 0
    };
    var _nBuyerIDADOR=0;


    $(document).ready(function () {
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oTextileUnits = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.TextileUnits));
        _oMktPersons = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.MktPersons));
        BasicSetup();
        LoadAllCboEPISR();
    });
    $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });

    function BasicSetup()
    {
        $(".amendmentNo").hide();
        $('#txtCurrentYear').val(new Date().getFullYear().toString().slice(-2));
        $(".easyui-datebox").datebox({ disabled: true });
        $('.easyui-datebox').datebox("setValue", icsdateformat(new Date()));
    }

    $("#btnResetExportPISummary").click(function(){
        $("#cboTextileUnits").val(1);
        $('#txtCurrentYear').val(new Date().getFullYear().toString().slice(-2));
        $("#txtPINo,#txtPINoWithWU,#txtBuyerName").val("");
        ClearBuyerInfo();
        $('#chkIsDate,#chkIsRecDate,#chkIsDOIssueDate,#chkLocalPI').prop('checked', false);
        $("#dtDateFrom,#dtDateTo,#dtRecDateFrom,#dtRecDateTo,#dtDOIssueDateFrom,#dtDOIssueDateTo").datebox({ disabled: true });
        $("#dtDateFrom,#dtDateTo,#dtRecDateFrom,#dtRecDateTo,#dtDOIssueDateFrom,#dtDOIssueDateTo").datebox("setValue", icsdateformat(new Date()));
    });

    $("#chkIsDate").change(function() {
        if(this.checked) {
            $("#dtDateFrom,#dtDateTo").datebox({ disabled: false });
        }else{
            $("#dtDateFrom,#dtDateTo").datebox({ disabled: true });
        }
        $('#dtDateFrom,#dtDateTo').datebox("setValue", icsdateformat(new Date()));
    });

    $("#chkIsRecDate").change(function() {
        if(this.checked) {
            $("#dtRecDateFrom,#dtRecDateTo").datebox({ disabled: false });
        }else{
            $("#dtRecDateFrom,#dtRecDateTo").datebox({ disabled: true });
        }
        $('#dtRecDateFrom,#dtRecDateTo').datebox("setValue", icsdateformat(new Date()));
    });

    $("#chkIsDOIssueDate").change(function() {
        if(this.checked) {
            $("#dtDOIssueDateFrom,#dtDOIssueDateTo").datebox({ disabled: false });
        }else{
            $("#dtDOIssueDateFrom,#dtDOIssueDateTo").datebox({ disabled: true });
        }
        $('#dtDOIssueDateFrom,#dtDOIssueDateTo').datebox("setValue", icsdateformat(new Date()));
    });

    $("#cboTextileUnits").change(function () {
        if ($("#cboTextileUnits").val() > 0) {
            var sUnit = GetExportPIOperationUnit($("#cboTextileUnits").val());
            if ($("#chkLocalPI").is(':checked')) {
                $("#txtPINoWithWU").val(sUnit + 'LO/');
            }
            else {
                $("#txtPINoWithWU").val(sUnit);
            }
        }
        else {
            $("#txtPINoWithWU, #txtPINo").val("");
        }
    });

    $("#chkLocalPI").change(function () {
        if ($("#cboTextileUnits").val() <= 0) { alert("Please Select Textile Unit."); return false; }
        var sUnit = GetExportPIOperationUnit($("#cboTextileUnits").val());
        if ($("#chkLocalPI").is(':checked')) {
            $("#txtPINoWithWU").val(sUnit+'LO/');
        }
        else {
            $("#txtPINoWithWU").val(sUnit);
        }
    });

    $("#btnPrintExportPISummary").click(function () {
        var sParams = GetEPISummaryParameters();
        if(sParams == false)
        {
            return false;
        }
        var nts = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress + '/ExportPI/PrintExportPISummaryReport?sParams='+sParams+"&nts=" + nts, "_blank");
    });

    function GetEPISummaryParameters()
    {
        if ($("#cboTextileUnits").val() <= 0) { alert("Please Select Textile Unit."); return false; }
        var sPIStartDate = '', sPIEndDate = '';
        var sRecDateFrom = '', sRecDateTo = '';
        var sDOIssueDateFrom = '', sDOIssueDateTo = '';


        if ($("#chkIsDate").is(':checked')) {
            if (new Date($('#dtDateTo').datebox("getValue")) < new Date($('#dtDateFrom').datebox("getValue"))) { alert("Issue End date must be greater than start date."); return false; }
            sPIStartDate = $('#dtDateFrom').datebox("getValue");
            sPIEndDate = $('#dtDateTo').datebox("getValue");
        }

        if ($("#chkIsRecDate").is(':checked')) {
            if (new Date($('#dtRecDateTo').datebox("getValue")) < new Date($('#dtRecDateFrom').datebox("getValue"))) { alert("LC Rec End date must be greater than start date."); return false; }
            sRecDateFrom = $('#dtRecDateFrom').datebox("getValue");
            sRecDateTo = $('#dtRecDateTo').datebox("getValue");
        }

        if ($("#chkIsDOIssueDate").is(':checked')) {
            if (new Date($('#dtDOIssueDateTo').datebox("getValue")) < new Date($('#dtDOIssueDateFrom').datebox("getValue"))) { alert("DO Issue End date must be greater than start date."); return false; }
            sDOIssueDateFrom = $('#dtDOIssueDateFrom').datebox("getValue");
            sDOIssueDateTo = $('#dtDOIssueDateTo').datebox("getValue");
        }

        var sPINo = ($.trim($("#txtPINo").val()));
        if ($("#cboTextileUnits").val() > 0 && sPINo != "") {
            if (sPINo != "" && sPINo.length < 4) {
                var sVal = "";
                for (var i = sPINo.length; i < 4; i++) {
                    sVal += "0";
                }
                sPINo = sVal + sPINo;
            }

            sPINo = $("#txtPINoWithWU").val() + sPINo;
        }
        sPINo = sPINo + "/" + $('#txtCurrentYear').val();

        if($.trim($("#txtPINo").val()) == "")
        {
            sPINo = "";
        }

        var sParams = $("#cboTextileUnits").val() + "~"
                      + sPINo + "~"
                      + _nBuyerID + "~"
                      + parseInt($("#cboMktPersons").val()) + "~"
                      + $("#chkIsDate").is(':checked') + "~"
                      + sPIStartDate + "~"
                      + sPIEndDate + "~"
                      + $("#chkIsRecDate").is(':checked') + "~"
                      + sRecDateFrom + "~"
                      + sRecDateTo + "~"
                      + $("#chkIsDOIssueDate").is(':checked') + "~"
                      + sDOIssueDateFrom + "~"
                      + sDOIssueDateTo;
        return sParams;
    }

    $("#btnPrintXLExportPISummary").click(function () {
        var sParams = GetEPISummaryParameters();
        if(sParams == false)
        {
            return false;
        }
        window.open(_sBaseAddress + '/ExportPI/PrintExportPISummaryReportXL1?sParams=' + sParams, "_blank");
        //window.open(_sBaseAddress + '/ExportPI/PrintExportPISummaryReportXLRatin?sParams=' + sParams, "_blank");
        window.close();
    });


    $("#txtBuyerName").keydown(function (e) {
        if (e.keyCode == 13){
            PickBuyerEPISummary();
        }
        else if (e.keyCode === 08) {
            ClearBuyerInfo();
        }
    });

    $("#btnClearBuyerInfo").click(function(){
        $('#txtBuyerName').val("");
        ClearBuyerInfo();
    });

    function ClearBuyerInfo()
    {
        $("#txtBuyerName").removeClass("fontColorOfPickItem");
        _nBuyerID = 0;
    }

    $('#btnPickBuyerInfo').click(function (e) {
        PickBuyerEPISummary();
    });

    $("#btnPrintLCWiseDR").click(function () {
        if (_oTempObj.ExportLCID == 0 && (_oTempObj.SUDeliveryOrderID == 0) && _oTempObj.ExportPIID == 0) {
            if (_oTempObj.FDOID == 0)
            {
                alert("Please select any criteria.");
                return false;
            }
        }
        
        var sSize = $('#cboAmendmentNo option').size(); 
        var nVersionNo=0;
        if(sSize>0)
        {
            nVersionNo = ($("#cboAmendmentNo option:selected").text() == "--Select All--" ? -1 : parseInt($("#cboAmendmentNo option:selected").text()));
        }
        var nts = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress + '/Commercial/PrintLCWiseDeliveryReport?nExportLCID=' + parseInt(_oTempObj.ExportLCID) + "&nFDOID=" + parseInt(_oTempObj.FDOID) + "&nSUDeliveryOrderID=" + parseInt(_oTempObj.SUDeliveryOrderID) + "&nExportPIID=" + parseInt(_oTempObj.ExportPIID) + "&nTextileUnit=" + parseInt($("#cboTextileUnitsDR").val()) + "&nVersionNo=" + nVersionNo + "&nts=" + nts, "_blank");
    });

    $("#cboTextileUnitsDR").change(function () {
        _oTempObj.ExportLCID = 0;
        _oTempObj.SUDeliveryOrderID = 0;
        _oTempObj.ExportPIID = 0;
        _oTempObj.FDOID = 0;
        $("#txtLCNo,#txtDoNo,#txtPINoLCWise").val("");
        $("#txtLCNo,#txtDoNo,#txtPINoLCWise").removeClass("fontColorOfPickItem");
        $("#cboAmendmentNo option").remove();
        $(".amendmentNo").hide();
    });


    $("#txtPINoLCWise").keydown(function (e) {
        if (e.keyCode === 13) {
            PickExportPIEPISR();
        }
        else if (e.keyCode === 8) {
            ClearExportPIEPISR();
        }
    });

    $("#txtDoNo").keydown(function (e) {
        if (e.keyCode === 13) {
            PickDOEPISR();
        }
        else if (e.keyCode === 8) {
            ClearDOEPISR();
        }
    });

    $("#txtLCNo").keydown(function (e) {
        if (e.keyCode === 13) {
            PickLCEPISR();
        }
        else if (e.keyCode === 8) {
            ClearLCEPISR();
        }
    });

    function ClearExportPIEPISR() {
        $("#txtPINoLCWise").val("");
        $("#txtPINoLCWise").removeClass("fontColorOfPickItem");
        _oTempObj.ExportPIID = 0;
    }

    function LoadAllCboEPISR() {
        $(".cboTextileUnits").icsLoadCombo({
            List: _oTextileUnits,
            OptionValue: "id",
            DisplayText: "Value",
            InitialValue : "Display First Item"
        });
        $("#cboMktPersons").icsLoadCombo({
            List: _oMktPersons,
            OptionValue: "EmployeeID",
            DisplayText: "Name"
        });

        $("#cboMktPersonsADOR").icsLoadCombo({
            List: _oMktPersons,
            OptionValue: "EmployeeID",
            DisplayText: "Name"
        });
    }

    //$("#cboAmendmentNo").change(function(){
    //    _oTempObj.
    //});

    function PickExportPIEPISR() {
        
        if (!Validation()) return;
        var oExportPI = {
            PINo: $("#txtPINoLCWise").val(),
            TextileUnitInInt: parseInt($("#cboTextileUnitsDR").val())
        };

        if(_oTempObj.ExportLCID > 0){
            oExportPI.LCID = _oTempObj.ExportLCID;
            oExportPI.VersionNo = ($("#cboAmendmentNo option:selected").text() == "--Select All--" ? -1 : parseInt($("#cboAmendmentNo option:selected").text()))
        }

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oExportPI,
            ControllerName: "Commercial",
            ActionName: "GetsByExportPI",
            IsWinClose: false
        };
        
        $.icsMaxDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ExportPIID > 0) {
                    var tblColums = []; var oColumn = { field: "PINo", title: "PI No", width: 200, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winEPIs',
                        winclass: 'clsEPI',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblEPIs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'PINo',
                        windowTittle: 'Export PI List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else {
                alert("Sorry, No Delivery Order Found.");
                ClearDOEPISR();
            }
        });
    }

    function PickDOEPISR() {
        if (!Validation()) return;
        if ($("#cboTextileUnitsDR").val() == 1) //Spinning
        {
            LoadSpinningDO();
        }
        else
        {
            LoadWeavingDO();
        }
    }

    function LoadWeavingDO()
    {
        var oFabricDeliveryOrder = {
            DONo: $("#txtDoNo").val()
        };

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFabricDeliveryOrder,
            ControllerName: "FabricDeliveryOrder",
            ActionName: "GetsByFDO",
            IsWinClose: false
        };
        $.icsMaxDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].FDOID > 0) {
                    var tblColums = []; var oColumn = { field: "DONo", title: "DO No", width: 200, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winFDOs',
                        winclass: 'clsDO',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblDOs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'DONo',
                        windowTittle: 'DO List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else {
                alert("Sorry, No Delivery Order Found.");
                ClearDOEPISR();
            }
        });
    }

    function LoadSpinningDO()
    {
        var oSUDeliveryOrder = {
            DONo: $("#txtDoNo").val()
        };

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oSUDeliveryOrder,
            ControllerName: "Commercial",
            ActionName: "GetsByDO",
            IsWinClose: false
        };
        $.icsMaxDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].SUDeliveryOrderID > 0) {
                    var tblColums = []; var oColumn = { field: "DONo", title: "DO No", width: 200, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winDOs',
                        winclass: 'clsDO',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblDOs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'DONo',
                        windowTittle: 'DO List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else {
                alert("Sorry, No Delivery Order Found.");
                ClearDOEPISR();
            }
        });
    }

    function Validation() {
        if (parseInt($("#cboTextileUnitsDR").val()) == 0) {
            alert("Please select a textile unit.");
            $("#cboTextileUnitsDR").focus();
            $("#cboTextileUnitsDR").addClass("errorFieldBorder");
            return false;
        } else {
            $("#cboTextileUnitsDR").removeClass("errorFieldBorder");
        }
        return true;
    }

    function ClearDOEPISR() {
        $("#txtDoNo").val("");
        $("#txtDoNo").removeClass("fontColorOfPickItem");
        _oTempObj.SUDeliveryOrderID = 0;
    }

    function ClearLCEPISR() {
        $("#txtLCNo").val("");
        $("#txtLCNo").removeClass("fontColorOfPickItem");
        _oTempObj.ExportLCID = 0;
        $("#cboAmendmentNo option").remove();
        $(".amendmentNo").hide();
    }
    
    function PickLCEPISR() {
        if (!Validation()) return;
   
        var oExportLC = {
            ExportLCNo: $("#txtLCNo").val(),
            TextileUnit: parseInt($("#cboTextileUnitsDR").val())
        };

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oExportLC,
            ControllerName: "Commercial",
            ActionName: "GetsByLC",
            IsWinClose: false
        };
        $.icsMaxDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ExportLCID > 0) {
                    var tblColums = []; var oColumn = { field: "ExportLCNo", title: "LC No", width: 200, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winLCs',
                        winclass: 'clsLC',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblLCs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'ExportLCNo',
                        windowTittle: 'LC List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else {
                alert("Sorry, No LC Found.");
                ClearLCEPISR();
            }
        });
    }

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which === 13) {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid == 'winLCs') {
            if (oreturnObj != null && oreturnObj.ExportLCID > 0) {
                $("#txtLCNo").val(oreturnObj.ExportLCNo);
                $("#txtLCNo").addClass("fontColorOfPickItem");
                $('#txtLCNo').focus();
                _oTempObj.ExportLCID = oreturnObj.ExportLCID;
                $("#txtPINoLCWise").val("");
                $("#txtDoNo").val("");
                _oTempObj.ExportPIID = 0;
                _oTempObj.FDOID =0;
                _oTempObj.SUDeliveryOrderID=0
                if(oreturnObj.ExportLCID > 0)
                {
                    var oExportLC={
                        ExportLCID : oreturnObj.ExportLCID
                    };

                    var obj =
                    {
                        BaseAddress: _sBaseAddress,
                        Object: oExportLC,
                        ControllerName: "ExportLC",
                        ActionName: "GetsAmendmentNo",
                        IsWinClose: false
                    };
                    $.icsDataGets(obj, function (response) {
                        if (response.status && response.objs.length > 0) {
                            if (response.objs[0].ExportLCID > 0) {
                                $(".amendmentNo").show();
                                var obj={
                                    ExportLCID : response.objs[0].ExportLCID,
                                    VersionNo : "--Select All--"
                                };
                                response.objs.unshift(obj);
                                $("#cboAmendmentNo").icsLoadCombo({
                                    List: response.objs,
                                    OptionValue: "ExportLCID",
                                    DisplayText: "VersionNo",
                                    InitialValue : ""
                                });
                            }
                        }
                    });
                }
            }
        }
        else if (oPickerobj.winid == 'winDOs') {
            if (oreturnObj != null && oreturnObj.SUDeliveryOrderID > 0) {
                $("#txtDoNo").val(oreturnObj.DONo);
                $("#txtDoNo").addClass("fontColorOfPickItem");
                $('#txtDoNo').focus();
                _oTempObj.SUDeliveryOrderID = oreturnObj.SUDeliveryOrderID;
            }
        }
        else if (oPickerobj.winid == 'winFDOs') {
            if (oreturnObj != null && oreturnObj.FDOID > 0) {
                $("#txtDoNo").val(oreturnObj.DONo);
                $("#txtDoNo").addClass("fontColorOfPickItem");
                $('#txtDoNo').focus();
                _oTempObj.FDOID = oreturnObj.FDOID;
            }
        }
        else if (oPickerobj.winid == 'winEPIs') {
            if (oreturnObj != null && oreturnObj.ExportPIID > 0) {
                $("#txtPINoLCWise").val(oreturnObj.PINo);
                $("#txtPINoLCWise").addClass("fontColorOfPickItem");
                $('#txtPINoLCWise').focus();
                _oTempObj.ExportPIID = oreturnObj.ExportPIID;
            
                $("#txtDoNo").val("");
                _oTempObj.FDOID =0;
                _oTempObj.SUDeliveryOrderID=0
            }
        }
        else if (oPickerobj.winid == 'winContractors') {
            if (oreturnObj != null && oreturnObj.ContractorID > 0) {
                var oContractor = oreturnObj;
                $('#txtBuyerName').val(oContractor.Name);
                $("#txtBuyerName").addClass("fontColorOfPickItem");
                $("#txtBuyerName").focus();
                _nBuyerID = oContractor.ContractorID;
            }
        }
        else if (oPickerobj.winid == 'winContractorADORs') {
            if (oreturnObj != null && oreturnObj.ContractorID > 0) {
                var oContractor = oreturnObj;
                $('#txtBuyerNameADOR').val(oContractor.Name);
                $("#txtBuyerNameADOR").addClass("fontColorOfPickItem");
                $("#txtBuyerNameADOR").focus();
                _nBuyerIDADOR = oContractor.ContractorID;
            }
        }
    }

    function GetExportPIOperationUnit(nTexUnit) {
        var sUnit='';
        if(nTexUnit==1){
            sUnit='SU';
        }
        else if(nTexUnit==2){
            sUnit='WU';
        }
        else if(nTexUnit==3){
            sUnit='DU';
        }
        else if(nTexUnit==4){
            sUnit='FU';
        }
    
        return 'ATML/' + sUnit + '/';
    }

    function PickBuyerEPISummary()
    {
        var oContractor = {
            Params: 2 + '~' + $.trim($("#txtBuyerName").val())
        };

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ContractorTypeInString", title: "Type", width: 120, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winContractors',
                        winclass: 'clsContractor',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblContractors',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Buyer List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else
            {
                alert("Sorry, No Export PI Found.");
            }
        });
    }

    $("#chkIsIssueDateADOR").change(function() {
        if(this.checked) {
            $("#dIssueDateFromADOR,#dIssueDateToADOR").datebox({ disabled: false });
        }else{
            $("#dIssueDateFromADOR,#dIssueDateToADOR").datebox({ disabled: true });
        }
        $('#dIssueDateFromADOR,#dIssueDateToADOR').datebox("setValue", icsdateformat(new Date()));
    });

   

    $("#btnResetADOR").click(function(){
        $("#cboMktPersonsADOR").val(0);
        $("#txtBuyerNameADOR").val("");
        ClearBuyerInfoADOR();
        $('#chkIsIssueDateADOR,#chkIsPendingADOR').prop('checked', false);
        $("#dIssueDateFromADOR,#dIssueDateToADOR").datebox({ disabled: true });
        $('#dIssueDateFromADOR,#dIssueDateToADOR').datebox("setValue", icsdateformat(new Date()));
    });

    function ClearBuyerInfoADOR()
    {
        $("#txtBuyerNameADOR").removeClass("fontColorOfPickItem");
        _nBuyerIDADOR = 0;
    }

    function GetParamsADOR()
    {
        var sIssueDateFromADOR = '', sIssueDateToADOR = '';

        if ($("#chkIsIssueDateADOR").is(':checked')) {
            if (new Date($('#dIssueDateToADOR').datebox("getValue")) < new Date($('#dIssueDateFromADOR').datebox("getValue"))) 
            { 
                alert("Issue End date must be greater than start date.");
                return false; 
            }
            sIssueDateFromADOR = $('#dIssueDateFromADOR').datebox("getValue");
            sIssueDateToADOR = $('#dIssueDateToADOR').datebox("getValue");
        }

        var sParams = 1 + "~" //TextUnit
                      + $("#cboMktPersonsADOR").val() + "~"
                      + _nBuyerIDADOR + "~"
                      + $("#chkIsIssueDateADOR").is(':checked') + "~"
                      + sIssueDateFromADOR + "~"
                      + sIssueDateToADOR + "~"
                      + $("#chkIsPendingADOR").is(':checked') + "~"
                      + $("#chkIsWithDONo").is(':checked');

        return sParams;
    }

    $("#btnPrintADOR").click(function(){
        var sParams = GetParamsADOR();
        if(sParams == false)
        {
            return false;
        }
        var nts = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress + '/ExportPI/AdvanceDORegisterPrint?sParams='+sParams+"&nts=" + nts, "_blank");
    });

    $("#btnPrintXLADOR").click(function () {
        var sParams = GetParamsADOR();
        if(sParams == false)
        {
            return false;
        }
        window.open(_sBaseAddress + '/ExportPI/AdvanceDORegisterXL?sParams=' + sParams, "_blank");
        window.close();
    });

    $("#txtBuyerNameADOR").keydown(function (e) {
        if (e.keyCode == 13){
            PickBuyerADOR();
        }
        else if (e.keyCode === 08) {
            ClearBuyerInfoADOR();
        }
    });

    $("#btnClearBuyerInfoADOR").click(function(){
        $('#txtBuyerNameADOR').val("");
        ClearBuyerInfoADOR();
    });

    $('#btnPickBuyerInfoADOR').click(function (e) {
        PickBuyerADOR();
    });

    function PickBuyerADOR()
    {
        var oContractor = {
            Params: 2 + '~' + $.trim($("#txtBuyerNameADOR").val())
        };

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ContractorTypeInString", title: "Type", width: 120, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winContractorADORs',
                        winclass: 'clsContractorADOR',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblContractorADORs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Buyer List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else
            {
                alert("Sorry, No Export PI Found.");
            }
        });
    }
</script>
