@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model IEnumerable<ESimSol.BusinessObjects.ExportPISignatory>
    <head>
        <title>Production Request</title>

    </head>

    <body>
        <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
            <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
                <label style="font-size:18px;">Please wait</label>
                <div id="progressbar" style="width:100%;height:37px;"></div>
            </div>
        </div>

        <div class="menuMainCollectionTable" style="width:100%;height:100%;" id="divExportPISignatory">
            <div style="width:100%;height:88%">
                <fieldset>
                    <table style="width:95%">
                        <tr>
                            <td style="width: 10%; text-align: right">
                                <label>CS No:</label>
                            </td>
                            <td style="width: 25%; text-align: left">
                                <input id="txtExportPINo" style="width:100%" disabled="disabled" />
                            </td>
                            <td style="width: 10%; text-align: right">
                                <label>Date:</label>
                            </td>
                            <td style="width: 20%; text-align: left">
                                <input id="txtExportPIDate" style="width:80%" disabled="disabled" />
                            </td>
                            <td style="width: 10%; text-align: right">
                                <label>Prepare By:</label>
                            </td>
                            <td style="width: 25%; text-align: left">
                                <input id="txtPrepareByName" style="width:100%" disabled="disabled" />
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <div style="width:100%;height:90%">
                    <table id="tblExportPISignatorys" class="easyui-datagrid" style="width:100%;height:100%" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarExportPISignatory">
                        <thead>
                            <tr>
                                <th data-options="field:'Selected',checkbox:true"></th>
                                <th field="HeadName" width="20%" align="left">Head Name</th>
                                <th field="Name_Request" width="20%" align="left"> Request To </th>
                                <th field="SLNo" width="10%" align="left">Sequence</th>
                                <th field="Status" width="13%" align="right">Status</th>
                                <th field="ApproveDateSt" width="20%" align="right">ApproveDate</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="toolbarExportPISignatory">
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="ReLoad()">Re-Load</a>
                        <a id="btnAddDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>
                        <a id="btnEditDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                        <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                        <a href="javascript:void(0)" id="btnUp" class="easyui-linkbutton" iconcls="icon-up" plain="true" onclick="UP()">Up</a>
                        <a href="javascript:void(0)" id="btnDown" class="easyui-linkbutton" iconcls="icon-down" plain="true" onclick="Down()">Down</a>
                        <a href="javascript:void(0)" id="btnRefresh" class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="RefreshSequence()">Refresh</a>
                        <a id="btnCopyDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="CopyDetail()" plain="true">Copy</a>
                    </div>
                </div>
            </div>
            <fieldset>
                <legend>Action</legend>
                <table border="0" cellpadding="0" cellspacing="0" style="float:right; width:100%;height:10%">
                    <tr>
                        <td style=" float:left;  width:10%; "></td>
                        <td style="float:left;  width:20%; "></td>
                        <td style="width:70%;float:right; text-align:right">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save(Send Request)</a>
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div id="winExportPISignatory" style="width:550px;" class="easyui-window" title="Fabric info" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div>
                <fieldset>
                    <legend style="font-weight:bold"> Signatory entry : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="width:100%; font-size:11px; font-weight:bold">

                        <tr>
                            <td style="width:30%;text-align:right">
                                Head Name:
                            </td>
                            <td style="width:70%">
                                <input type="text" id="txtApprovalHead" style="width:70%" />
                                <a id="btnPickApprovalHead" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                <a id="btnClrApprovalHead" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:30%;text-align:right">
                                Signatory Name:
                            </td>
                            <td style="width:70%">
                                <input type="text" id="txtUserName" style="width:70%" />
                                <a id="btnPickUser" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                <a id="btnClrUser" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <fieldset>
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="width:100%; font-size:11px; font-weight:bold;">
                    <tr>
                        <td style="width:100%;text-align:right;">
                            <a id="btnUpdateExportPISignatory" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">OK</a>
                            <a id="btnCloseExportPISig" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </body>
    <style type="text/css">
        .lines-no .datagrid-body td {
            border-right: 1px dotted transparent;
            border-bottom: 1px dotted transparent;
        }
    </style>
   <script type="text/javascript">

    var _oIsAdd=false;
    var _oExportPISignatory={ExportPISignatoryID:0,ExportPIID:0,RequestTo:0,ApprovalHeadID:0,HeadName:'',Name_Request:'',ApproveBy:0 };
    $(document).ready(function () {
        debugger;
        var oExportPISignatorys =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oExportPI= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ExportPI));
        $('#divExportPISignatory').data('ExportPI', oExportPI);
        LoadintoGrid(oExportPISignatorys);
        $('#divExportPISignatory').data('oExportPISignatorys', oExportPISignatorys);
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
        RefreshControl(oExportPI);
    });
    function RefreshControl(oExportPI)
    {
        $('#txtExportPINo').val(oExportPI.PINo);
        $('#txtExportPIDate').val(oExportPI.IssueDateInString);
        $('#txtPrepareByName').val(oExportPI.PrepareByName);
    }
    $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });

    function LoadintoGrid(oExportPISignatorys)
    {
        $('#tblExportPISignatorys').datagrid({selectOnCheck:false, checkOnSelect:false})
        DynamicRefreshList(oExportPISignatorys, 'tblExportPISignatorys');

        for(var j =0;j<oExportPISignatorys.length;j++)
        {
            if(oExportPISignatorys[j].ExportPISignatoryID>0)
            {
                $('#tblExportPISignatorys').datagrid('checkRow', j);
            }
        }
    }
    ////Start adv Searching
    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }

    function ReLoad()
    {
        var oExportPISignatory=
       {
           ExportPIID : $('#divExportPISignatory').data('ExportPI').ExportPIID,
       }
        $.ajax
        ({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ExportPI/GetByExportPISignatory",
            traditional: true,
            data:  JSON.stringify(oExportPISignatory),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                var oExportPISignatorys = jQuery.parseJSON(data);
                if (oExportPISignatorys.length > 0)
                {
                    LoadintoGrid(oExportPISignatorys)
                }
                else
                {
                    oExportPISignatorys=[];
                    LoadintoGrid(oExportPISignatorys)
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }

        });
    }
    $('#btnSave').click(function(e){
        debugger;
        var oExportPISignatorys = [];
        var oExportPISignatorys =   $('#tblExportPISignatorys').datagrid('getChecked');

        if(oExportPISignatorys.length<=0)
        {
            alert("Data not found");
            return;
        }
        if(oExportPISignatorys.length>0)
        {
            for(var i = 0;i<oExportPISignatorys.length;i++)
            {
                oExportPISignatorys[i].SLNo = i+1;
            }
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/ExportPI/SaveAll",
            traditional: true,
            data:  JSON.stringify(oExportPISignatorys),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oExportPISignatorys =jQuery.parseJSON(data);

                if (oExportPISignatorys[0].ErrorMessage == '' || oExportPISignatorys[0].ErrorMessage == null)
                {
                    LoadintoGrid(oExportPISignatorys)
                    alert("Data Save  Successfully");
                }
                else
                {
                    alert(oExportPISignatorys[0].ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(xhr+'~' +status+'~'+error);
            }
        });
    });
    $("#btnDelete").click(function () {
        debugger;
        var oExportPISignatory = $("#tblExportPISignatorys").datagrid("getSelected");
        if (oExportPISignatory == null) { alert("Please select an item from list!"); return false; }
        var nIndex=$('#tblExportPISignatorys').datagrid('getRowIndex',oExportPISignatory);
        if (!confirm("Confirm to Delete?")) return false;

        if(oExportPISignatory.ExportPISignatoryID<=0)
        {
            $("#tblExportPISignatorys").datagrid("deleteRow", nIndex);
        }
        else
        {
            var obj =
                     {
                         BaseAddress: _sBaseAddress,
                         Object: oExportPISignatory,
                         ControllerName: "ExportPI",
                         ActionName: "Delete",
                         TableId: "tblExportPISignatorys",
                         IsWinClose: false
                     };
            $.icsDelete(obj);
        }
    });
    function UP()
    {
        debugger;
        var oExportPISig = $('#tblExportPISignatorys').datagrid('getSelected');
        if(oExportPISig==null)
        {
            alert("Please select Item");
            return;
        }
        var SelectedRowIndex=$('#tblExportPISignatorys').datagrid('getRowIndex',oExportPISig);
        if(SelectedRowIndex==0)return;
        var oExportPISigs=$('#tblExportPISignatorys').datagrid('getRows');
        var oExportPISigs_Temp = [];
        for(var i=0; i<oExportPISigs.length; i++)
        {
            if(i==(SelectedRowIndex-1))
            {
                oExportPISigs_Temp[i]=oExportPISigs[i+1];
            }
            else if(i==SelectedRowIndex)
            {
                oExportPISigs_Temp[i]=oExportPISigs[i-1];
            }
            else
            {
                oExportPISigs_Temp[i]=oExportPISigs[i];
            }
            oExportPISigs_Temp[i].SLNo=i+1;
        }
        LoadintoGrid(oExportPISigs_Temp)
        var newSelectedRowIndex=SelectedRowIndex-1;
        $('#tblExportPISignatorys').datagrid('selectRow',newSelectedRowIndex);

    }
    function Down()
    {
        var oExportPISigs_Temp = [];
        debugger;
        var oExportPISig = $('#tblExportPISignatorys').datagrid('getSelected');
        if(oExportPISig==null)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblExportPISignatorys').datagrid('getRowIndex',oExportPISig);
        if(SelectedRowIndex==(oExportPISigs_Temp.length-1))return;
        var oExportPISigs=$('#tblExportPISignatorys').datagrid('getRows');
        oExportPISigs_Temp = [];
        for(var i=0; i<oExportPISigs.length; i++)
        {
            if(i==(SelectedRowIndex+1))
            {
                oExportPISigs_Temp[i]=oExportPISigs[i-1];
            }
            else if(i==SelectedRowIndex)
            {
                oExportPISigs_Temp[i]=oExportPISigs[i+1];
            }
            else
            {
                oExportPISigs_Temp[i]=oExportPISigs[i];
            }
            oExportPISigs_Temp[i].SLNo=i+1;
        }
        LoadintoGrid(oExportPISigs_Temp)
        var newSelectedRowIndex=SelectedRowIndex+1;
        $('#tblExportPISignatorys').datagrid('selectRow',newSelectedRowIndex);
    }
    function RefreshSequence()
    {
        debugger;
        var oExportPISigs =  $('#tblExportPISignatorys').datagrid('getChecked');
        if(oExportPISigs.length>0)
        {
            for(var i = 0;i<oExportPISigs.length;i++)
            {
                oExportPISigs[i].SLNo = i+1;
            }
            LoadintoGrid(oExportPISigs)
        }
    }
    // end Sequence
    $('#btnClose').click(function(e){
        window.location.href = sessionStorage.getItem("BackLink");
    });
    $("#btnAddDetail").click(function () {
        debugger;
        //RefreshComboBoxes();
        _oIsAdd=true;
        _oExportPISignatory.ExportPISignatoryID=0;
        _oExportPISignatory.ExportPISignatoryID=0,
        _oExportPISignatory.ApproveBy=0;
        _oExportPISignatory.ApprovalHeadID=0;
        _oExportPISignatory.RequestTo=0;
        _oExportPISignatory.HeadName='';
        _oExportPISignatory.Name_Request='';
        _oExportPISignatory.ExportPIID=$('#divExportPISignatory').data('ExportPI').ExportPIID;
        $("#txtApprovalHead").val(_oExportPISignatory.HeadName);
        $("#txtUserName").val(_oExportPISignatory.Name_Request);

        $("#winExportPISignatory").icsWindow("open","Signatory for  "+$('#divExportPISignatory').data('ExportPI').ExportPINo);
    });
    ///////////
    $("#btnEditDetail").click(function () {
        debugger;
        _oIsAdd=false;
        $("#winExportPISignatory input").val("");
        var oExportPISignatory = $("#tblExportPISignatorys").datagrid("getSelected");
        if (oExportPISignatory == null) { alert("Please select an item from list!"); return false; }
        var nIndex=$('#tblExportPISignatorys').datagrid('getRowIndex',oExportPISignatory);

        _oExportPISignatory=oExportPISignatory;

        $("#txtApprovalHead").val(oExportPISignatory.HeadName);
        $("#txtUserName").val(oExportPISignatory.Name_Request);

        $("#winExportPISignatory").icsWindow("open","Signatory for  "+$('#divExportPISignatory').data('ExportPI').ExportPINo);
    });
    $("#btnUpdateExportPISignatory").click(function () {
        debugger;

        _oExportPISignatory.HeadName=$("#txtApprovalHead").val();
        _oExportPISignatory.Name_Request=$("#txtUserName").val();
        if(_oExportPISignatory.ApproveBy!=0)
        {
            alert("Already approved");
            return;
        }
        if(_oExportPISignatory.ApprovalHeadID==0)
        {
            alert("Head not found");
            return;
        }
        if(_oExportPISignatory.RequestTo==0)
        {
            alert("Request to not found");
            return;
        }
        if(_oExportPISignatory.ExportPIID==0)
        {
            alert("Invalid  entry");
            return;
        }

        if(_oExportPISignatory.ExportPISignatoryID>0)
        {
            $.icsSave({
                BaseAddress: _sBaseAddress,
                Object: _oExportPISignatory,
                ObjectId: _oExportPISignatory.ExportPISignatoryID,
                ControllerName: "ExportPI",
                ActionName: "Save",
                TableId: "tblExportPISignatorys",
                IsWinClose: true,
                Message: "Data Saved Successfully."

            },function (response){
                if(response.status && response.obj!=null){
                    if(response.obj.ExportPISignatoryID>0){
                        _oExportPISignatory=response.obj;
                        debugger;
                    }
                }
            });
        }
        else
        {
            if(_oIsAdd==true)
            {
                var oExportPISignatorys= $('#tblExportPISignatorys').datagrid('getRows');
                var nIndex=oExportPISignatorys.length;
                $('#tblExportPISignatorys').datagrid('appendRow', _oExportPISignatory);
                $('#tblExportPISignatorys').datagrid('selectRow', nIndex);
            }
            else
            {
                var oExportPISignatory = $("#tblExportPISignatorys").datagrid("getSelected");
                if (oExportPISignatory == null) { alert("Please select an item from list!"); return false; }
                var nIndex=$('#tblExportPISignatorys').datagrid('getRowIndex',oExportPISignatory);
                $('#tblExportPISignatorys').datagrid('updateRow', { index: nIndex, row: _oExportPISignatory });
            }
            $("#winExportPISignatory").icsWindow("close");
        }

    });
    $("#btnCloseExportPISig").click(function () {
        $("#winExportPISignatory").icsWindow("close");
    });
    ////--Pick-///
    $("#btnClrApprovalHead").click(function () {
        $("#txtApprovalHead").val("");
        _oExportPISignatory.ApprovalHeadID=0;

    });
    $("#btnPickApprovalHead").click(function () {

        var oApprovalHead={Name:''};
        GetApprovalHead(oApprovalHead);
    });
    $("#txtApprovalHead").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sApprovalHead=$.trim($("#txtApprovalHead").val());
            if(sApprovalHead=="" || sApprovalHead==null)
            {
                alert("Please, Type name or part of Name");
                $("#txtApprovalHead").focus();
                $("#txtApprovalHead").addClass("errorFieldBorder");
                return;
            }
            var oApprovalHead={Name:$.trim($("#txtApprovalHead").val())};
            GetApprovalHead(oApprovalHead);
        }
        else if(nkeyCode==8){
            $("#txtApprovalHead").val("");
            _oExportPISignatory.ApprovalHeadID=0;
            _oExportPISignatory.HeadName='';
        }
    });
    function GetApprovalHead(oApprovalHead){
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oApprovalHead,
            ControllerName: "ExportPI",
            ActionName: "GetsApprovalHead",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {

            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ApprovalHeadID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "ApprovalHeadID", title: "Code", width: 50, align: "center" };tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 200, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winApprovalHead',
                        winclass:'clsApprovalHeadPicker',
                        winwidth: 460,
                        winheight: 460,
                        tableid: 'tblApprovalHeadPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'Name',
                        windowTittle: 'ApprovalHead List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No contractor found.");
            }
        });
    }
    $("#btnClrUser").click(function () {
        $("#txtUserName").val("");
        _oExportPISignatory.RequestTo=0;
    });
    $("#btnPickUser").click(function () {

        var oUser = {
            UserName:  $.trim($("#txtUserName").val())
        };
        GetUsers(oUser)
    });
    $("#txtUserName").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sUserName=$.trim($("#txtUserName").val());
            if(sUserName=="" || sUserName==null)
            {
                alert("Please, Type name or part of Name");
                $("#txtUserName").focus();
                $("#txtUserName").addClass("errorFieldBorder");
                return;
            }
            var oUser = {
                UserName:  $.trim($("#txtUserName").val())
            };
            GetUsers(oUser)
        }
        else if(nkeyCode==8){
            $("#txtUserName").val("");
            _oExportPISignatory.RequestTo=0;

        }
    });
    function GetUsers(oUser){
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oUser,
            ControllerName: "ExportPI",
            ActionName: "GetUesrsByName",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].UserID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "UserName", title: "Name", width: 190, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "LogInID", title: "LogInID", width: 140, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winUserPicker',
                        winclass:'clsUserPicker',
                        winwidth: 460,
                        winheight: 460,
                        tableid: 'tblUserPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'UserName',
                        windowTittle: 'User List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No User found.");
            }
        });
    }
    /// End Pick PI
    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }
    function SetPickerValueAssign(oPickerobj) {
        debugger;
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        if (oPickerobj.winid == 'winApprovalHead') {
            if (oreturnObj != null && oreturnObj.ApprovalHeadID > 0)
            {
                $('#txtApprovalHead').val(oreturnObj.Name);
                _oExportPISignatory.ApprovalHeadID= oreturnObj.ApprovalHeadID;
            }
            else{
                alert("Data not found");
            }
        }
        else if (oPickerobj.winid == 'winUserPicker')
        {
            if (oreturnObj != null && oreturnObj.UserID > 0)
            {
                $('#txtUserName').val(oreturnObj.UserName);
                _oExportPISignatory.RequestTo= oreturnObj.UserID;
            }
            else{
                alert("Data not found");
            }
        }
        else
        {
            alert("Data not found");
            return false;
        }
    }
    function CopyDetail()
    {
        debugger;
        var oExportPISignatory = $("#tblExportPISignatorys").datagrid("getSelected");
        if (oExportPISignatory == null) { alert("Please select an item from list!"); return false; }

        var oExportPISignatory_New={
            ExportPISignatoryID:0,
            ExportPIID: oExportPISignatory.ExportPIID,
            RequestTo:oExportPISignatory.RequestTo,
            ApproveBy:0,
            ApprovalHeadID:oExportPISignatory.ApprovalHeadID,
            HeadName:oExportPISignatory.HeadName,
            IsApprove:false,
            Name_Request:oExportPISignatory.Name_Request
        }
        var oExportPISignatorys= $('#tblExportPISignatorys').datagrid('getRows');
        var nIndex=oExportPISignatorys.length;
        $('#tblExportPISignatorys').datagrid('appendRow', oExportPISignatory_New);
        $('#tblExportPISignatorys').datagrid('selectRow', nIndex);
    }
   </script>








