@{
    ViewBag.Title = "Garments Type List";
}
@model IEnumerable<ESimSol.BusinessObjects.GarmentsType>

<div class="menuMainCollectionTable">
    <table id="tblGarmentsTypes" title="Garments Type List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" , autorowheight="false" toolbar="#toolbar">
        <thead>
            <tr>
                <th field="TypeName" width="300">Garments Type Name</th>
                <th field="Note" width="300">Note</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <input type="text" id="txtSearchByName" value="Search by Garments Type" style="width:200px" onclick="ClearNamefield()" />
        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="Add()">Add</a>
        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="Edit()">Edit</a>
        <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true" onclick="Details()">View</a>
        <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="Delete()">Delete</a>
    </div>
</div>



<script type="text/javascript">
var _sBaseAddress="";

$(document).ready(function () {
    //debugger;
    var oTempGarmentsTypes =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));  
    var oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));  
    var oGarmentsTypes =sessionStorage.getItem("GarmentsTypes");
    if(oGarmentsTypes!=null)
    {
        oGarmentsTypes = jQuery.parseJSON(oGarmentsTypes);
    }
    else
    {
        oGarmentsTypes=oTempGarmentsTypes;
    }
    RefreshList(oGarmentsTypes);
    RefreshControlLayout(oAuthorizationRolesMapping);
});

$('#txtSearchByName').keypress(function (e) {
//debugger;
    var c = String.fromCharCode(e.which);
    var txtSearchByName = document.getElementById('txtSearchByName').value;
    txtSearchByName = txtSearchByName + c;
    //if(txtSearchByName.length<3)return;

    var bFlag=false;
    var sTempName="";
    var rows = $('#tblGarmentsTypes').datagrid('getRows');        
    for(i=0;i<rows.length;++i){
        sTempName=rows[i]['TypeName'].substring(0, txtSearchByName.length);
        if(txtSearchByName.toUpperCase()==sTempName.toUpperCase())
        {
            bFlag=true;
            break;
        }
    }
    if(bFlag)
    {
        $('#tblGarmentsTypes').datagrid('selectRow', i);
    }
});


function ClearNamefield()
{
        $("#txtSearchByName")[0].value='';
}



function Add()
{
    //debugger;
    var oGarmentsTypes= $('#tblGarmentsTypes').datagrid('getRows');
    sessionStorage.setItem("GarmentsTypes", JSON.stringify(oGarmentsTypes));
    sessionStorage.setItem("SelectedRowIndex", -1);
    sessionStorage.setItem("GarmentsTypeHeader", "Add Garments Type");
    sessionStorage.setItem("BackLink", window.location.href);
    window.location.href = _sBaseAddress+ "/GarmentsType/ViewGarmentsType?id=0";

} 


function Edit()
{
    //debugger;
    var oGarmentsType= $('#tblGarmentsTypes').datagrid('getSelected');
    if(oGarmentsType==null || oGarmentsType.GarmentsTypeID<=0)
    {
        alert("Please select a item from list!");
        return;
    }
    var SelectedRowIndex=$('#tblGarmentsTypes').datagrid('getRowIndex',oGarmentsType);
    var oGarmentsTypes= $('#tblGarmentsTypes').datagrid('getRows');
    sessionStorage.setItem("GarmentsTypes", JSON.stringify(oGarmentsTypes));
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
    sessionStorage.setItem("GarmentsTypeHeader", "Edit Garments Type");
    sessionStorage.setItem("BackLink", window.location.href);
    window.location.href = _sBaseAddress+  "/GarmentsType/ViewGarmentsType?id="+oGarmentsType.GarmentsTypeID;

}


function Details()
{
    //debugger;
    var oGarmentsType= $('#tblGarmentsTypes').datagrid('getSelected');
    if(oGarmentsType==null || oGarmentsType.GarmentsTypeID<=0)
    {
        alert("Please select a item from list!");
        return;
    }
    var SelectedRowIndex=$('#tblGarmentsTypes').datagrid('getRowIndex',oGarmentsType);
    var oGarmentsTypes= $('#tblGarmentsTypes').datagrid('getRows');
    sessionStorage.setItem("GarmentsTypes", JSON.stringify(oGarmentsTypes));
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
    sessionStorage.setItem("GarmentsTypeHeader", "View Garments Type");
    sessionStorage.setItem("BackLink", window.location.href);
    window.location.href = _sBaseAddress+  "/GarmentsType/ViewGarmentsType?id="+oGarmentsType.GarmentsTypeID;
}


function Delete()
{
        //debugger;  
        var oGarmentsType= $('#tblGarmentsTypes').datagrid('getSelected');
        if (!confirm("Confirm to Delete?")) return ;
        
        if(oGarmentsType==null || oGarmentsType.GarmentsTypeID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");                  
            return false;
        }
        var SelectedRowIndex=$('#tblGarmentsTypes').datagrid('getRowIndex',oGarmentsType);

        if (oGarmentsType.GarmentsTypeID > 0) 
        {
            $.ajax
            ({
                type: "GET",
                dataType: "json",                
                url : _sBaseAddress+  "/GarmentsType/Delete",
                data: { id: oGarmentsType.GarmentsTypeID},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //debugger;
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Data delete successfully") 
                    {
                        alert("Delete sucessfully");                        
                        $('#tblGarmentsTypes').datagrid('deleteRow',SelectedRowIndex);
                          
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error) 
                {
                    alert(error);
                }
                      
            });
        }
}
    
function RefreshList(oGarmentsTypes)
{    
    data=oGarmentsTypes;
    data={"total":""+data.length+"","rows":data};
    $('#tblGarmentsTypes').datagrid('loadData',data);  
    var nID =parseInt(sessionStorage.getItem("SelectedRowIndex"));
    if(nID!=-1)
    {
        $('#tblGarmentsTypes').datagrid('selectRow', nID);
    }
}


function RefreshControlLayout(oAuthorizationRolesMapping)
{
    $('#btnAdd,#btnEdit,#btnView,#btnDelete').hide(); 
    
    if(PermissionChecker('Add','GarmentsType',oAuthorizationRolesMapping)){$("#btnAdd").show();}
    if(PermissionChecker('Edit','GarmentsType',oAuthorizationRolesMapping)){$("#btnEdit").show();}
    if(PermissionChecker('View','GarmentsType',oAuthorizationRolesMapping)){$("#btnView").show();}
    if(PermissionChecker('Delete','GarmentsType',oAuthorizationRolesMapping)){$("#btnDelete").show();}

}


</script>