<html>
<head>
</head>
@model IEnumerable<ESimSol.BusinessObjects.DyeYarnTransaction>
@{

}
<body>
    <div style="font-family: Tahoma;  width: 100%;"> 
        <table border="0" cellspacing="2" cellpadding="2" style="width: 100%;">
            <tr>
                <td style="text-align: center; width: 100%; color: white; padding-top: 5px;">
                    <div style="width: 100%; background-color: gray;">
                        <center>
                            <label id="lblHeaderName" style="font-size: 15px; color: Blue; font-weight: bold;
                                color: white">
                                Dye Yarn Receive Report
                            </label>
                        </center>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <center>
                            <a id="hprlnkDefaultView" href="javascript:void(0)">Default View</a> || <a id="hprlnkBuyerWise"
                                href="javascript:void(0)">Buyer View</a> || <a id="hprlnkExecutionWise" href="javascript:void(0)">
                                    Execution Wise</a> || <a id="hprlnkYarnWise" href="javascript:void(0)">Yarn Wise</a>
                            || <a id="hprlnkLotWise" href="javascript:void(0)">Lot Wise</a> || <a id="hprlnkColorWise"
                                href="javascript:void(0)">Color Wise</a>
                        </center>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="regionDefaultView" style="margin-left: 0px; width: 100%; height:500px;
        padding-top: 10px;">
        <table id="tblDefaultView" title="Default View" class="easyui-datagrid" style="width: 100%; height:500px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true"
            autorowheight="false" toolbar="#scheduleDetailtoolbar">
            <thead>
                <tr>
                    <th field="TransactionDateInString" width="100" align="left">
                        Date
                    </th>
                    <th field="JobNo" width="120" align="left">
                        Execution No
                    </th>
                    <th field="BuyerName" width="150" align="left">
                        Buyer Name
                    </th>
                    <th field="LotNo" width="80" align="left">
                        Lot No
                    </th>
                    <th field="ProductName" width="220" align="left">
                        Product Name
                    </th>
                    <th field="ColorName" width="130" align="left">
                        Color Name
                    </th>
                    <th width="130" align="right" data-options="field:'Quantity',formatter:formatPrice">
                        Quantity
                    </th>
                    <th field="UnitName" width="100" align="left">
                        Unit
                    </th>
                    <th width="130" align="right" data-options="field:'Balance',formatter:formatPrice">
                        Balance
                    </th>
                    <th field="Description" width="160" align="left">
                        Note
                    </th>
                </tr>
            </thead>
        </table>
        ​
        <div id="scheduleDetailtoolbar" style='height: 51px;'>
            <div>
                <select id="cboDateType" style="width: 90px">
                    <option value='0'>None</option>
                    <option value='1'>Equal</option>
                    <option value='2'>Between</option>
                </select>
                <span id="regionDateFrom" style="padding-left: 8px;">
                    <input id="txtStartDate" type="text" style="width: 105px;" class="easyui-datebox"
                           data-options="formatter:icsdateformat,parser:icsdateparser" />
                </span>
                <span id="regionDateTo" style="padding-left: 8px;"><span style="padding-right: 8px;">
                    To </span><input id="txtEndDate" type="text" style="width: 105px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                </span>@*<label id="lblProject" style=" padding-left:8px; "></label>*@
                <span style="padding-left: 10px;">
                    <input type="text" id="txtExecutionNos" placeholder="Pick Execution Nos" style="width: 140px; font-size:11px;" />
                    <input type="button" id="btnPickExecution" value="P" style="width: 22px; font-size:11px;" />
                    <input type="button" id='btnPickExecutionReset' value='R' style="width: 22px; font-size:11px;" />
                </span>@*Execution No</span> <input type="text" id="txtJobCode" PlaceHolder="Code" style="width: 30px; font-size: 11px;"
                        maxlength="2" />
                    <input type="text" id="txtJobNo" PlaceHolder="No" style="width: 40px; font-size: 11px;"
                        maxlength="5" />
                    <input type="text" id="txtJobYear" PlaceHolder="Year" style="width:30px; font-size: 11px;"
                        maxlength="2" />*@ <span>
                            <input id="chkInHouse" type="checkbox" />In House
                            <input id="chkOutSide" type="checkbox" />Outside </span>
            </div>
            <div>
                <input type="text" style="width: 243px" placeholder='Press enter with yarn name or pick '
                    id="txtYarn" />
                <input type="button" value="P" id="btnPickYarn" style="width: 22px; font-size:11px;" />
                <input type="button" id='btnPickYarnReset' value='R' style="width: 22px; font-size:11px;" />
                <span style="padding-left: 8px;">
                    <input type="text" id="txtBuyerName" style="width: 230px; font-size:11px;" placeholder='Press enter with buyer name or pick ' />
                    <input type="button" id='btnPickBuyer' value='P' style="width: 22px; font-size:11px;" /><input type="button"
                        id='btnPickBuyerReset' value='R' style="width: 22px; font-size:11px;" /></span> <a id="btnSearch"
                            href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">
                            Search</a>
                <a id="btnReadyStock"
                   href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">
                    Ready Stock
                </a>
                 <a id="btnPrintDefaultView" href="javascript:void(0)" class="easyui-linkbutton"
                                iconcls="icon-print" plain="true">Print</a> <a id="btnExportExcelDefault" href="javascript:void(0)"
                                    class="easyui-linkbutton" iconcls="icon-details" plain="true">Excel</a>
            </div>
        </div>
    </div>
    <div id="regionBuyerWise" style="margin-left: 0px; width: 100%; height:500px; padding-top: 10px;">
        <table id="tblBuyerWise" title="Buyer Wise" class="easyui-datagrid" style="width: 100%; height:500px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true"
            autorowheight="false" toolbar="#buyerwisetoolbar">
            <thead>
                <tr>
                    <th field="BuyerName" width="150" align="left">
                        Buyer Name
                    </th>
                    <th field="JobNo" width="120" align="left">
                        Execution No
                    </th>
                    <th field="ProductName" width="220" align="left">
                        Product Name
                    </th>
                    <th field="ColorName" width="130" align="left">
                        Color Name
                    </th>
                    <th field="LotNo" width="80" align="left">
                        Lot No
                    </th>
                    <th width="130" align="right" data-options="field:'Quantity',formatter:formatPrice">
                        Quantity
                    </th>
                    <th field="UnitName" width="120" align="left">
                        Unit
                    </th>
                    <th width="130" align="right" data-options="field:'Balance',formatter:formatPrice">
                        Balance
                    </th>
                    <th field="Description" width="160" align="left">
                        Note
                    </th>
                </tr>
            </thead>
        </table>
        ​
        <div id="buyerwisetoolbar">
            <a id="btnPrintBuyerWise" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print"
                plain="true">Print</a> <a id="btnExportExcelBuyerWise" href="javascript:void(0)"
                    class="easyui-linkbutton" iconcls="icon-details" plain="true">Excel</a>
        </div>
    </div>
    <div id="regionExecutionWise" style="margin-left: 0px;width: 100%; height:500px;
        padding-top: 10px;">
        <table id="tblExecutionWise" title="Execution Wise" class="easyui-datagrid" style="width: 100%; height:500px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true"
            autorowheight="false" toolbar="#ExecutionWisetoolbar">
            <thead>
                <tr>
                    <th field="JobNo" width="120" align="left">
                        Execution No
                    </th>
                    <th field="ProductName" width="220" align="left">
                        Product Name
                    </th>
                    <th field="ColorName" width="130" align="left">
                        Color Name
                    </th>
                    <th field="LotNo" width="80" align="left">
                        Lot No
                    </th>
                    <th field="BuyerName" width="150" align="left">
                        Buyer Name
                    </th>
                    <th width="130" align="right" data-options="field:'Quantity',formatter:formatPrice">
                        Quantity
                    </th>
                    <th field="UnitName" width="120" align="left">
                        Unit
                    </th>
                    <th width="130" align="right" data-options="field:'Balance',formatter:formatPrice">
                        Balance
                    </th>
                    <th field="Description" width="160" align="left">
                        Note
                    </th>
                </tr>
            </thead>
        </table>
        ​
        <div id="ExecutionWisetoolbar">
            <a id="btnPrintExecutionWise" href="javascript:void(0)" class="easyui-linkbutton"
                iconcls="icon-print" plain="true">Print</a> <a id="btnExportExcelExecutionWise" href="javascript:void(0)"
                    class="easyui-linkbutton" iconcls="icon-details" plain="true">Excel</a>
        </div>
    </div>
    <div id="regionYarnWise" style="margin-left: 0px; width: 100%; height:500px; padding-top: 10px;">
        <table id="tblYarnWise" title="Product Wise" class="easyui-datagrid" style="width: 100%; height:500px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true"
            autorowheight="false" toolbar="#YarnWisetoolbar">
            <thead>
                <tr>
                    <th field="ProductName" width="220" align="left">
                        Product Name
                    </th>
                    <th field="ColorName" width="130" align="left">
                        Color Name
                    </th>
                    <th field="JobNo" width="120" align="left">
                        Execution No
                    </th>
                    <th field="LotNo" width="80" align="left">
                        Lot No
                    </th>
                    <th field="BuyerName" width="150" align="left">
                        Buyer Name
                    </th>
                    <th width="130" align="right" data-options="field:'Quantity',formatter:formatPrice">
                        Quantity
                    </th>
                    <th field="UnitName" width="120" align="left">
                        Unit
                    </th>
                    <th width="130" align="right" data-options="field:'Balance',formatter:formatPrice">
                        Balance
                    </th>
                    <th field="Description" width="160" align="left">
                        Note
                    </th>
                </tr>
            </thead>
        </table>
        ​
        <div id="YarnWisetoolbar">
            <a id="btnPrintYarnWise" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print"
                plain="true">Print</a> <a id="btnExportExcelYarnWise" href="javascript:void(0)" class="easyui-linkbutton"
                    iconcls="icon-details" plain="true">Excel</a>
        </div>
    </div>
    <div id="regionLotWise" style="margin-left: 0px; width: 100%; height:500px; padding-top: 10px;">
        <table id="tblLotWise" title="Lot Wise" class="easyui-datagrid" style="width: 100%; height:500px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true"
            autorowheight="false" toolbar="#LotWisetoolbar">
            <thead>
                <tr>
                    <th field="LotNo" width="80" align="left">
                        Lot No
                    </th>
                    <th field="ProductName" width="220" align="left">
                        Product Name
                    </th>
                    <th field="ColorName" width="130" align="left">
                        Color Name
                    </th>
                    <th field="JobNo" width="120" align="left">
                        Execution No
                    </th>
                    <th field="BuyerName" width="150" align="left">
                        Buyer Name
                    </th>
                    <th width="130" align="right" data-options="field:'Quantity',formatter:formatPrice">
                        Quantity
                    </th>
                    <th field="UnitName" width="120" align="left">
                        Unit
                    </th>
                    <th width="130" align="right" data-options="field:'Balance',formatter:formatPrice">
                        Balance
                    </th>
                    <th field="Description" width="160" align="left">
                        Note
                    </th>
                </tr>
            </thead>
        </table>
        ​
        <div id="LotWisetoolbar">
            <a id="btnPrintLotWise" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print"
                plain="true">Print</a> <a id="btnExportExcelLotWise" href="javascript:void(0)" class="easyui-linkbutton"
                    iconcls="icon-details" plain="true">Excel</a>
        </div>
    </div>
    <div id="regionColorWise" style="margin-left: 0px; width: 100%; height:500px; padding-top: 10px;">
        <table id="tblColorWise" title="Color Wise" class="easyui-datagrid" style="width: 100%; height:500px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true"
            autorowheight="false" toolbar="#ColorWisetoolbar">
            <thead>
                <tr>
                    <th field="ColorName" width="130" align="left">
                        Color Name
                    </th>
                    <th field="ProductName" width="220" align="left">
                        Product Name
                    </th>
                    <th field="LotNo" width="80" align="left">
                        Lot No
                    </th>
                    <th field="JobNo" width="120" align="left">
                        Execution No
                    </th>
                    <th field="BuyerName" width="150" align="left">
                        Buyer Name
                    </th>
                    <th width="130" align="right" data-options="field:'Quantity',formatter:formatPrice">
                        Quantity
                    </th>
                    <th field="UnitName" width="120" align="left">
                        Unit
                    </th>
                    <th width="130" align="right" data-options="field:'Balance',formatter:formatPrice">
                        Balance
                    </th>
                    <th field="Description" width="160" align="left">
                        Note
                    </th>
                </tr>
            </thead>
        </table>
        ​
        <div id="ColorWisetoolbar">
            <a id="btnPrintColorWise" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print"
                plain="true">Print</a> <a id="btnExportExcelColorWise" href="javascript:void(0)"
                    class="easyui-linkbutton" iconcls="icon-details" plain="true">Excel</a>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">

var _value ="";
var _sBaseAddress="";
var obj=window.dialogArguments;
var _sPTUIDs="";
var _sBuyerIDs='';
var _sProductIDs='';
var _nValidCol=0;
var _sValue="";
var _bIsInHouse=null;
var _bReadyStock=false;

$(document).ready(function () 
{
   debugger;   
    _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));                 

    $('#txtStartDate').datebox('setValue',icsdateformat(new Date()));
    $('#txtEndDate').datebox('setValue',icsdateformat(new Date()));
     var nDateType = $("#cboDateType").val();
     if (nDateType == 0) 
     {            
            document.getElementById("regionDateTo").style.display = 'none'; 
            document.getElementById("regionDateFrom").style.display = 'none';     
     }

    document.getElementById("regionDefaultView").style.display = 'block';
    document.getElementById("regionBuyerWise").style.display = 'none';
    document.getElementById("regionExecutionWise").style.display = 'none';
    document.getElementById("regionYarnWise").style.display = 'none';
    document.getElementById("regionLotWise").style.display = 'none';
    document.getElementById("regionColorWise").style.display = 'none';
    

//    var sYear=(new Date()).getFullYear().toString();
//    sYear=sYear.substring(2,sYear.length);
//    $("#txtJobYearDefault")[0].value=sYear;

});


$('#hprlnkDefaultView').click(function(e)  
{ 
    document.getElementById("regionDefaultView").style.display = 'block';
    document.getElementById("regionBuyerWise").style.display = 'none';
    document.getElementById("regionExecutionWise").style.display = 'none';
    document.getElementById("regionYarnWise").style.display = 'none';
    document.getElementById("regionLotWise").style.display = 'none';
    document.getElementById("regionColorWise").style.display = 'none';
    DefaultView();

});

$('#hprlnkBuyerWise').click(function(e)
{
    document.getElementById("regionDefaultView").style.display = 'none'; 
    document.getElementById("regionBuyerWise").style.display = 'block';
    document.getElementById("regionExecutionWise").style.display = 'none';
    document.getElementById("regionYarnWise").style.display = 'none';
    document.getElementById("regionLotWise").style.display = 'none';
    document.getElementById("regionColorWise").style.display = 'none';
    ViewBuyerWise();
});



$('#hprlnkExecutionWise').click(function(e) 
{
    document.getElementById("regionBuyerWise").style.display = 'none';
    document.getElementById("regionDefaultView").style.display = 'none'; 
    document.getElementById("regionExecutionWise").style.display = 'block';
    document.getElementById("regionYarnWise").style.display = 'none';
    document.getElementById("regionLotWise").style.display = 'none';
    document.getElementById("regionColorWise").style.display = 'none';
    ViewExecutionWise();
});


$('#hprlnkYarnWise').click(function(e) 
{
    document.getElementById("regionBuyerWise").style.display = 'none';
    document.getElementById("regionDefaultView").style.display = 'none'; 
    document.getElementById("regionExecutionWise").style.display = 'none';
    document.getElementById("regionYarnWise").style.display = 'block';
    document.getElementById("regionLotWise").style.display = 'none';
    document.getElementById("regionColorWise").style.display = 'none';
    ViewYarnWise();
});

$('#hprlnkLotWise').click(function(e) 
{
    document.getElementById("regionBuyerWise").style.display = 'none';
    document.getElementById("regionDefaultView").style.display = 'none'; 
    document.getElementById("regionExecutionWise").style.display = 'none';
    document.getElementById("regionYarnWise").style.display = 'none';
    document.getElementById("regionLotWise").style.display = 'block';
    document.getElementById("regionColorWise").style.display = 'none';
    ViewLotWise();
});

$('#hprlnkColorWise').click(function(e) 
{
    document.getElementById("regionBuyerWise").style.display = 'none';
    document.getElementById("regionDefaultView").style.display = 'none'; 
    document.getElementById("regionExecutionWise").style.display = 'none';
    document.getElementById("regionYarnWise").style.display = 'none';
    document.getElementById("regionLotWise").style.display = 'none';
    document.getElementById("regionColorWise").style.display = 'block';
    ViewColorWise();
});




function formatPrice(val, row)
{

    val =parseFloat(val);
    var test = val.toFixed(2);
    if (val < 0) 
    {
        test = (-1 * test);
    }
    var tests = addComma(test);
    if (val < 0)
    {
        return '<span style="color:red;">(' + tests + ')</span>';
    }
    else 
    {
        return tests;
    }
}

function addComma(nStr)
{
    nStr += '';
    x = nStr.split('.');
    x1 = x[0];
    x2 = x.length > 1 ? '.' + x[1] : '';
    var rgx = /(\d+)(\d{3})/;
    while (rgx.test(x1)) 
    {
        x1 = x1.replace(rgx, '$1' + ',' + '$2');
    }
    return x1 + x2;
}



$('#cboDateType').change(function () {
        debugger
        var nDateType = $("#cboDateType").val();
        if (nDateType == 0) {            
              document.getElementById("regionDateTo").style.display = 'none'; 
              document.getElementById("regionDateFrom").style.display = 'none';     
        }
        if (nDateType == 1 ) 
        {            
          document.getElementById("regionDateFrom").style.display = '';
          document.getElementById("regionDateTo").style.display = 'none';       
        }
        if (nDateType == 2 ) 
        {
          document.getElementById("regionDateFrom").style.display = '';
          document.getElementById("regionDateTo").style.display = ''; 
        }
});

function Validation()
{

       var nDateType = $("#cboDateType").val();
       var dStartTime = $('#txtStartDate').datebox('getValue');
       var dEndTime =$('#txtEndDate').datebox('getValue');
       if(nDateType==0 && _sBuyerIDs=='' && _sProductIDs =='' && _sPTUIDs=='' && _bIsInHouse==null)
       {
            alert("Please select at least one criteria.");
            return false;
       }
       var nInHouse=-1; // Both(Inhouse & OutSide)
       if(_bIsInHouse){nInHouse=1;}
       else if(_bIsInHouse==false){nInHouse=0;}
       _sValue=nDateType+'~'+dStartTime+'~'+dEndTime+'~'+_sBuyerIDs+'~'+_sProductIDs+'~'+_sPTUIDs+'~'+nInHouse;
       return true;
}

$('#btnSearch').click(function(e)
{
       _bReadyStock=false;
       DefaultView();
});
$('#btnReadyStock').click(function(e)
{
    _bReadyStock=true;
    DefaultView();
});

function LoadIntoGridDefaultView(oDyeYarnTransactions)
{
      $('#tblDefaultView').empty();
      data = oDyeYarnTransactions;
      data = { "total": "" + data.length + "", "rows": data };
      $('#tblDefaultView').datagrid('loadData', data);

     if(oDyeYarnTransactions.length>0)
     {
        var nTotalQty=0;
        var nBalance=0;
        for(var i=0;i<oDyeYarnTransactions.length;i++)
        {
            nTotalQty = parseFloat(nTotalQty)+parseFloat(oDyeYarnTransactions[i].Quantity);
            nBalance = parseFloat(nBalance)+parseFloat(oDyeYarnTransactions[i].Balance);
        }
        var oDYT=
        {
             ColorName : '<b>Total</b>',
             Quantity : nTotalQty.toFixed(2),
             Balance  : nBalance.toFixed(2)
        }
        $('#tblDefaultView').datagrid('appendRow',oDYT); 
     } 
}



$('#txtYarn').keypress(function (e) 
{
        ////debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13)//Enter key-13
        {
            var sName=document.getElementById("txtYarn").value;
            if($.trim(sName)!="")
            {
                var InOutType =  100;                
                var DBObjectName='PIProducts';
                var TriggerParentsType=102; // _DeliveryChallanDetail = 102,
                var OperationalEvent=704;   // _Add = 701,//insert
                var Direction=0;
                var StoreID=0;
                var MapStoreID=0;     
           
                var sValue=DBObjectName+'~'+ TriggerParentsType+'~'+InOutType +'~'+ OperationalEvent +'~'+ Direction +'~'+ StoreID +'~'+MapStoreID;
       
                var nts=(new Date()).getTime()/1000;
                var oParameter = new Object();
                oParameter.MultipleItemReturn = true;
                oParameter.Name=sName;
                oParameter.Value=sValue;
                var url = _sBaseAddress + "/Product/ProductSearchingByName?&ts="+nts;
                var oReturnObjects =  window.showModalDialog(url, oParameter, 'dialogHeight:615px;dialogWidth:652px;dialogLeft:450;dialogTop:50;center:yes;resizable:yes;status:no;scroll:no');
                if(oReturnObjects!=null)
                {
                    var sProductName="";
                    if(oReturnObjects.length>0)
                    {
                       for(var i=0; i<oReturnObjects.length;i++)
                       {
                           sProductName=sProductName+oReturnObjects[i].ProductName+',';
                           _sProductIDs=_sProductIDs+oReturnObjects[i].ProductID+',';
                       }
                       sProductName= sProductName.substring(0,sProductName.length-1);
                       _sProductIDs=_sProductIDs.substring(0,_sProductIDs.length-1);
                    }
                    $("#txtYarn")[0].value =sProductName;
                }
             }
         }
 });

$('#btnPickYarn').click(function (e) {
    //debugger;
    var tsv = ((new Date()).getTime()) / 1000;
    var oParameter = new Object();
    oParameter.MultipleItemReturn = true;
    var url = _sBaseAddress + "/Product/ProductSearching?ts="+tsv;
    var oReturnObjects = window.showModalDialog(url, oParameter, 'dialogHeight:650px;dialogWidth:650px;dialogLeft:100;dialogTop:50;center:yes;resizable:no;status:no;scroll:no');
    ////debugger;
    if(oReturnObjects!=null)
    {
        var sProductName="";
        if(oReturnObjects.length>0)
        {
            for(var i=0; i<oReturnObjects.length;i++)
            {
                sProductName=sProductName+oReturnObjects[i].ProductName+',';
                _sProductIDs=_sProductIDs+oReturnObjects[i].ProductID+',';
            }
            sProductName= sProductName.substring(0,sProductName.length-1);
            _sProductIDs=_sProductIDs.substring(0,_sProductIDs.length-1);
        }
        $("#txtYarn")[0].value =sProductName;
    }
  
});

$('#btnPickYarnReset').click(function (e) {

 $("#txtYarn")[0].value ='';
 _sProductIDs='';

});
    
$('#txtBuyerName').keypress(function (e) 
{
        //debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        var sName=document.getElementById("txtBuyerName").value;
        if (code == 13)//Enter key-13
        {
           if(sName!="")
           {
               var nts=(new Date()).getTime()/1000;
               var oParameter = new Object();
               oParameter.MultipleItemReturn = true;
               oParameter.Name=sName;
               var url = _sBaseAddress + "/Contractor/ContractorSearchByKeyPress?sStr="+sName+"&nType="+2+"&nts="+nts;
               var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:420px;dialogWidth:455px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
               if(oReturnObject.length>0)
               {
                 var sBuyerName='';
                 _sBuyerIDs='';
                 for(var i=0;i<oReturnObject.length;i++)
                 {
                     sBuyerName=sBuyerName+oReturnObject[i].Name+',';
                    _sBuyerIDs=_sBuyerIDs+oReturnObject[i].ContractorID+',';
                 }
                 sBuyerName=sBuyerName.substring(0,sBuyerName.length-1);
                 _sBuyerIDs=_sBuyerIDs.substring(0,_sBuyerIDs.length-1);
                 $("#txtBuyerName")[0].value=sBuyerName;
               }
             }
             else
             {
                alert("Please enter a buyer name.");
             }
        }

 }); 
 
 $('#btnPickBuyer').click(function (e)
{
       var oParameter = new Object();
       oParameter.MultipleItemReturn = true;
       oParameter.ContractorType=2; // Supplier=1; Buyer=2, Factory=3, Company=5, 
       var url = _sBaseAddress + "/Contractor/ContractorSearch";
       var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:420px;dialogWidth:455px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
       if(oReturnObject.length>0)
       {
         var sBuyerName='';
         _sBuyerIDs='';
         for(var i=0;i<oReturnObject.length;i++)
         {
            sBuyerName=sBuyerName+oReturnObject[i].Name+',';
            _sBuyerIDs=_sBuyerIDs+oReturnObject[i].ContractorID+',';
         }
         sBuyerName=sBuyerName.substring(0,sBuyerName.length-1);
         _sBuyerIDs=_sBuyerIDs.substring(0,_sBuyerIDs.length-1);
         $("#txtBuyerName")[0].value=sBuyerName;
       }
       
});   

 $('#btnPickBuyerReset').click(function (e)
 {
    $("#txtBuyerName")[0].value='';
    _sBuyerIDs="";
 });



$('#btnPickExecution').click(function(e)
{
        var oParameter = new Object();
        oParameter.MultipleItemReturn = true;
        oParameter.IsYetToProduction = true;
        oParameter.From = "PTU";
        var url =_sBaseAddress+ "/PTU/PTUSearch";
        var oSelectedPTUs = window.showModalDialog(url, oParameter, 'dialogHeight:620px;dialogWidth:700px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
        if(oSelectedPTUs!=null)
        {
           var sOrderNos="";
           for(var i=0; i<oSelectedPTUs.length;i++)
           {
             _sPTUIDs=_sPTUIDs+oSelectedPTUs[i].ProductionTracingUnitID+',';
             sOrderNos=sOrderNos+oSelectedPTUs[i].JobNo+',';
           }
           _sPTUIDs=_sPTUIDs.substring(0,_sPTUIDs.length-1);
           document.getElementById('txtExecutionNos').value =sOrderNos.substring(0,sOrderNos.length-1);
        }
}); 

 $('#btnPickExecutionReset').click(function (e)
 {
    document.getElementById('txtExecutionNos').value='';
    _sPTUIDs="";
 });

function DefaultView()
{
       if(!Validation())
       {
          return;
       }
       var nts= (new Date()).getTime()/1000;
       var nViewType=0; // Default Wise;
       $.ajax({
               type: "POST",
               dataType: "json",               
               url: _sBaseAddress+ "/DyeYarnTransaction/SearchDyeYarnTransaction",
               data: JSON.stringify({sValue:_sValue,nViewType:nViewType, bReadyStock:_bReadyStock,nts:nts}),
               contentType: "application/json; charset=utf-8",
               success: function (data) 
               {
                   debugger; 
                    var oDyeYarnTransactions = jQuery.parseJSON(data);                  
                    if(oDyeYarnTransactions.length>0 && oDyeYarnTransactions[0].ErrorMessage=="")
                    {
                         LoadIntoGridDefaultView(oDyeYarnTransactions);
                    }
                    else
                    {
                      alert(oDyeYarnTransactions[0].ErrorMessage);
                      LoadIntoGridDefaultView([]);
                    }    
          
                     
                 },
                 error: function (xhr, status, error) 
                 {
                     alert(error);
                 }
            });
}

function ViewBuyerWise()
{
       if(!Validation())
       {
          return;
       }
       var nts= (new Date()).getTime()/1000;
       var nViewType=1; // Buyer Wise;
       $.ajax({
               type: "POST",
               dataType: "json",               
               url: _sBaseAddress+ "/DyeYarnTransaction/SearchDyeYarnTransaction",
               data: JSON.stringify({sValue:_sValue,nViewType:nViewType,bReadyStock:_bReadyStock,nts:nts}),
               contentType: "application/json; charset=utf-8",
               success: function (data) 
               {
                   debugger; 
                    var oDyeYarnTransactions = jQuery.parseJSON(data);                  
                    if(oDyeYarnTransactions.length>0 && oDyeYarnTransactions[0].ErrorMessage=="")
                    {
                         LoadIntoGridBuyerWise(oDyeYarnTransactions);
                    }
                    else
                    {
                      alert("No Data found.");
                      LoadIntoGridBuyerWise([]);
                    }    
          
                     
                 },
                 error: function (xhr, status, error) 
                 {
                     alert(error);
                 }
            });
}    
function LoadIntoGridBuyerWise(oDyeYarnTransactions)
{
      $('#tblBuyerWise').empty();
      data = oDyeYarnTransactions;
      data = { "total": "" + data.length + "", "rows": data };
      $('#tblBuyerWise').datagrid('loadData', data);
      
      if(oDyeYarnTransactions.length>0)
      {
        var nTotalQty=0;
        var nBalance=0;
        for(var i=0;i<oDyeYarnTransactions.length;i++)
        {
            nTotalQty= parseFloat(nTotalQty)+parseFloat(oDyeYarnTransactions[i].Quantity);
            nBalance = parseFloat(nBalance)+parseFloat(oDyeYarnTransactions[i].Balance);
        }
        var oDYT=
        {
                LotNo : '<b>Total</b>',
                Quantity : nTotalQty.toFixed(2),
                Balance  : nBalance.toFixed(2)
        }
        $('#tblBuyerWise').datagrid('appendRow',oDYT); 
      } 
}
function ViewExecutionWise()
{
       if(!Validation())
       {
          return;
       }
       var nts= (new Date()).getTime()/1000;
       var nViewType=2; // Exe Wise;
       $.ajax({
               type: "POST",
               dataType: "json",               
               url: _sBaseAddress+ "/DyeYarnTransaction/SearchDyeYarnTransaction",
               data: JSON.stringify({sValue:_sValue,nViewType:nViewType,bReadyStock:_bReadyStock,nts:nts}),
               contentType: "application/json; charset=utf-8",
               success: function (data) 
               {
                   debugger; 
                    var oDyeYarnTransactions = jQuery.parseJSON(data);                  
                    if(oDyeYarnTransactions.length>0 && oDyeYarnTransactions[0].ErrorMessage=="")
                    {
                         LoadIntoGridExecutionWise(oDyeYarnTransactions);
                    }
                    else
                    {
                      alert("No Data found.");
                      LoadIntoGridExecutionWise([]);
                    }    
           
                 },
                 error: function (xhr, status, error) 
                 {
                     alert(error);
                 }
            });
} 
function LoadIntoGridExecutionWise(oDyeYarnTransactions)
{
      $('#tblExecutionWise').empty(); 
      data = oDyeYarnTransactions;
      data = { "total": "" + data.length + "", "rows": data };
      $('#tblExecutionWise').datagrid('loadData', data);
      if(oDyeYarnTransactions.length>0)
      {
        var nTotalQty=0;
        var nBalance=0;
        for(var i=0;i<oDyeYarnTransactions.length;i++)
        {
            nTotalQty= parseFloat(nTotalQty)+parseFloat(oDyeYarnTransactions[i].Quantity);
            nBalance = parseFloat(nBalance)+parseFloat(oDyeYarnTransactions[i].Balance);
        }
        var oDYT=
        {
                BuyerName : '<b>Total</b>',
                Quantity : nTotalQty.toFixed(2),
                Balance  : nBalance.toFixed(2)
        }
        $('#tblExecutionWise').datagrid('appendRow',oDYT); 
      }
}
function ViewYarnWise()
{
       if(!Validation())
       {
          return;
       }
       var nts= (new Date()).getTime()/1000;
       var nViewType=3; // YarnWise;
       $.ajax({
               type: "POST",
               dataType: "json",               
               url: _sBaseAddress+ "/DyeYarnTransaction/SearchDyeYarnTransaction",
               data: JSON.stringify({sValue:_sValue,nViewType:nViewType,bReadyStock:_bReadyStock,nts:nts}),
               contentType: "application/json; charset=utf-8",
               success: function (data) 
               {
                   debugger; 
                    var oDyeYarnTransactions = jQuery.parseJSON(data);                  
                    if(oDyeYarnTransactions.length>0 && oDyeYarnTransactions[0].ErrorMessage=="")
                    {
                         LoadIntoGridYarnWise(oDyeYarnTransactions);
                    }
                    else
                    {
                      alert("No Data found.");
                      LoadIntoGridYarnWise([]);
                    }    
          
                     
                 },
                 error: function (xhr, status, error) 
                 {
                     alert(error);
                 }
            });
} 

function LoadIntoGridYarnWise(oDyeYarnTransactions)
{
      $('#tblYarnWise').empty(); 
      data = oDyeYarnTransactions;
      data = { "total": "" + data.length + "", "rows": data };
      $('#tblYarnWise').datagrid('loadData', data);
      if(oDyeYarnTransactions.length>0)
      {
        var nTotalQty=0;
        var nBalance=0;
        for(var i=0;i<oDyeYarnTransactions.length;i++)
        {
            nTotalQty= parseFloat(nTotalQty)+parseFloat(oDyeYarnTransactions[i].Quantity);
            nBalance = parseFloat(nBalance)+parseFloat(oDyeYarnTransactions[i].Balance);
        }
        var oDYT=
        {
                BuyerName : '<b>Total</b>',
                Quantity : nTotalQty.toFixed(2),
                Balance  : nBalance.toFixed(2)
        }
        $('#tblYarnWise').datagrid('appendRow',oDYT); 
      }
}    


function ViewLotWise()
{
       if(!Validation())
       {
          return;
       }
       var nts= (new Date()).getTime()/1000;
       var nViewType=4; // LotWise;
       $.ajax({
               type: "POST",
               dataType: "json",               
               url: _sBaseAddress+ "/DyeYarnTransaction/SearchDyeYarnTransaction",
               data: JSON.stringify({sValue:_sValue,nViewType:nViewType,bReadyStock:_bReadyStock,nts:nts}),
               contentType: "application/json; charset=utf-8",
               success: function (data) 
               {
                   debugger; 
                    var oDyeYarnTransactions = jQuery.parseJSON(data);                  
                    if(oDyeYarnTransactions.length>0 && oDyeYarnTransactions[0].ErrorMessage=="")
                    {
                         LoadIntoGridLotWise(oDyeYarnTransactions);
                    }
                    else
                    {
                      alert("No Data found.");
                      LoadIntoGridLotWise([]);
                    }    
          
                     
                 },
                 error: function (xhr, status, error) 
                 {
                     alert(error);
                 }
            });
} 

function LoadIntoGridLotWise(oDyeYarnTransactions)
{
      $('#tblLotWise').empty(); 
      data = oDyeYarnTransactions;
      data = { "total": "" + data.length + "", "rows": data };
      $('#tblLotWise').datagrid('loadData', data);
      if(oDyeYarnTransactions.length>0)
      {
        var nTotalQty=0;
        var nBalance=0;
       
        for(var i=0;i<oDyeYarnTransactions.length;i++)
        {
            nTotalQty= parseFloat(nTotalQty)+parseFloat(oDyeYarnTransactions[i].Quantity);
            nBalance = parseFloat(nBalance)+parseFloat(oDyeYarnTransactions[i].Balance);
        }
        var oDYT=
        {
                BuyerName : '<b>Total</b>',
                Quantity : nTotalQty.toFixed(2),
                Balance  : nBalance.toFixed(2)
        }
        $('#tblLotWise').datagrid('appendRow',oDYT); 
      }
}   

function  ViewColorWise()
{
       if(!Validation())
       {
          return;
       }
       var nts= (new Date()).getTime()/1000;
       var nViewType=5; // LotWise;
       $.ajax({
               type: "POST",
               dataType: "json",               
               url: _sBaseAddress+ "/DyeYarnTransaction/SearchDyeYarnTransaction",
               data: JSON.stringify({sValue:_sValue,nViewType:nViewType,bReadyStock:_bReadyStock,nts:nts}),
               contentType: "application/json; charset=utf-8",
               success: function (data) 
               {
                   debugger; 
                    var oDyeYarnTransactions = jQuery.parseJSON(data);                  
                    if(oDyeYarnTransactions.length>0 && oDyeYarnTransactions[0].ErrorMessage=="")
                    {
                         LoadIntoGridColorWise(oDyeYarnTransactions);
                    }
                    else
                    {
                      alert("No Data found.");
                      LoadIntoGridColorWise([]);
                    }    
          
                     
                 },
                 error: function (xhr, status, error) 
                 {
                     alert(error);
                 }
            });
}

function LoadIntoGridColorWise(oDyeYarnTransactions)
{
      $('#tblColorWise').empty(); 
      data = oDyeYarnTransactions;
      data = { "total": "" + data.length + "", "rows": data };
      $('#tblColorWise').datagrid('loadData', data);
      if(oDyeYarnTransactions.length>0)
      {
        var nTotalQty=0;
        var nBalance=0;
       
        for(var i=0;i<oDyeYarnTransactions.length;i++)
        {
            nTotalQty= parseFloat(nTotalQty)+parseFloat(oDyeYarnTransactions[i].Quantity);
            nBalance = parseFloat(nBalance)+parseFloat(oDyeYarnTransactions[i].Balance);
        }
        var oDYT=
        {
                BuyerName : '<b>Total</b>',
                Quantity : nTotalQty.toFixed(2),
                Balance  : nBalance.toFixed(2)
        }
        $('#tblColorWise').datagrid('appendRow',oDYT); 
      }
} 

$('#btnPrintDefaultView').click(function (e) 
{

    var oRows = $('#tblDefaultView').datagrid('getRows');
    if(oRows==null || oRows.length<=0 || _sValue=='')
    {
      alert("There is no items in the list.");
      return;
    }
    window.open(_sBaseAddress+'/DyeYarnTransaction/PrintDyeYarnTransaction?sValue='+ _sValue +'&nViewType=0&bReadyStock='+_bReadyStock,"_blank");  
     
});


$('#btnPrintBuyerWise').click(function (e) 
{

    var oRows = $('#tblBuyerWise').datagrid('getRows');
    if(oRows==null || oRows.length<=0 || _sValue=='')
    {
      alert("There is no items in the list.");
      return;
    }
    window.open(_sBaseAddress+'/DyeYarnTransaction/PrintDyeYarnTransaction?sValue='+ _sValue +'&nViewType=1&bReadyStock='+_bReadyStock,"_blank");  
     
});


$('#btnPrintExecutionWise').click(function (e) 
{

    var oRows = $('#tblExecutionWise').datagrid('getRows');
    if(oRows==null || oRows.length<=0 || _sValue=='')
    {
      alert("There is no items in the list.");
      return;
    }
    window.open(_sBaseAddress+'/DyeYarnTransaction/PrintDyeYarnTransaction?sValue='+ _sValue +'&nViewType=2&bReadyStock='+_bReadyStock,"_blank");  
     
});


$('#btnPrintYarnWise').click(function (e) 
{

    var oRows = $('#tblYarnWise').datagrid('getRows');
    if(oRows==null || oRows.length<=0 || _sValue=='')
    {
      alert("There is no items in the list.");
      return;
    }
    window.open(_sBaseAddress+'/DyeYarnTransaction/PrintDyeYarnTransaction?sValue='+ _sValue +'&nViewType=3&bReadyStock='+_bReadyStock,"_blank");  
     
});


$('#btnPrintLotWise').click(function (e) 
{

    var oRows = $('#tblLotWise').datagrid('getRows');
    if(oRows==null || oRows.length<=0 || _sValue=='')
    {
      alert("There is no items in the list.");
      return;
    }
    window.open(_sBaseAddress+'/DyeYarnTransaction/PrintDyeYarnTransaction?sValue='+ _sValue +'&nViewType=4&bReadyStock='+_bReadyStock,"_blank");  
     
});

$('#btnPrintColorWise').click(function (e) 
{

    var oRows = $('#tblColorWise').datagrid('getRows');
    if(oRows==null || oRows.length<=0 || _sValue=='')
    {
      alert("There is no items in the list.");
      return;
    }
    window.open(_sBaseAddress+'/DyeYarnTransaction/PrintDyeYarnTransaction?sValue='+ _sValue +'&nViewType=5&bReadyStock='+_bReadyStock,"_blank");  
     
});



$('#btnExportExcelDefault').click(function (e) 
{

    var oRows = $('#tblDefaultView').datagrid('getRows');
    if(oRows==null || oRows.length<=0 || _sValue=='')
    {
      alert("There is no items in the list.");
      return;
    }
    var nts=(new Date()).getTime()/1000;
    window.open(_sBaseAddress+'/DyeYarnTransaction/ExportIntoExcel?sValue='+ _sValue +'&nViewType=0&bReadyStock='+_bReadyStock+ '&nts='+nts,"_blank");  
     
});

$('#btnExportExcelBuyerWise').click(function (e) 
{

    var oRows = $('#tblDefaultView').datagrid('getRows');
    if(oRows==null || oRows.length<=0 || _sValue=='')
    {
      alert("There is no items in the list.");
      return;
    }
    var nts=(new Date()).getTime()/1000;
    window.open(_sBaseAddress+'/DyeYarnTransaction/ExportIntoExcel?sValue='+ _sValue +'&nViewType=1&bReadyStock='+_bReadyStock+ '&nts='+nts,"_blank");  
     
});

$('#btnExportExcelExecutionWise').click(function (e) 
{

    var oRows = $('#tblDefaultView').datagrid('getRows');
    if(oRows==null || oRows.length<=0 || _sValue=='')
    {
      alert("There is no items in the list.");
      return;
    }
    var nts=(new Date()).getTime()/1000;
    window.open(_sBaseAddress+'/DyeYarnTransaction/ExportIntoExcel?sValue='+ _sValue +'&nViewType=2&bReadyStock='+_bReadyStock+ '&nts='+nts,"_blank");  
     
});



$('#btnExportExcelYarnWise').click(function (e) 
{
 
    var oRows = $('#tblYarnWise').datagrid('getRows');
    if(oRows==null || oRows.length<=0 || _sValue=='')
    {
      alert("There is no items in the list.");
      return;
    }
    var nts=(new Date()).getTime()/1000;
    window.open(_sBaseAddress+'/DyeYarnTransaction/ExportIntoExcel?sValue='+ _sValue +'&nViewType=3&bReadyStock='+_bReadyStock+ '&nts='+nts,"_blank");  
     
});

$('#btnExportExcelLotWise').click(function (e) 
{

    var oRows = $('#tblLotWise').datagrid('getRows');
    if(oRows==null || oRows.length<=0 || _sValue=='')
    {
      alert("There is no items in the list.");
      return;
    }
    var nts=(new Date()).getTime()/1000;
    window.open(_sBaseAddress+'/DyeYarnTransaction/ExportIntoExcel?sValue='+ _sValue +'&nViewType=4&bReadyStock='+_bReadyStock+ '&nts='+nts,"_blank");  
     
});

$('#btnExportExcelColorWise').click(function (e) 
{

    var oRows = $('#tblColorWise').datagrid('getRows');
    if(oRows==null || oRows.length<=0 || _sValue=='')
    {
      alert("There is no items in the list.");
      return;
    }
    var nts=(new Date()).getTime()/1000;
    window.open(_sBaseAddress+'/DyeYarnTransaction/ExportIntoExcel?sValue='+ _sValue +'&nViewType=5&bReadyStock='+_bReadyStock+ '&nts='+nts,"_blank");  
     
});

$('#chkInHouse').change(function(e)
{
   _bIsInHouse=null;
   if(document.getElementById('chkInHouse').checked==true)
   {
      _bIsInHouse=true;
      document.getElementById('chkOutSide').checked=false; 
   }

});

$('#chkOutSide').change(function(e)
{
   _bIsInHouse=null;
   if(document.getElementById('chkOutSide').checked==true)
   {
      _bIsInHouse=false;
      document.getElementById('chkInHouse').checked=false; 
   }
});


</script>
