@model IEnumerable<ESimSol.BusinessObjects.RouteSheetApprove>
    @{
        ViewBag.Title = "Inventory Report(For Production)";
    }
   
 <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
    <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
        <label style="font-size:18px;">Please wait</label>
        <div id="progressbar" style="width:100%;height:37px;"></div>
    </div>
 </div>
 
 <div class="menuMainCollectionTable">
    <div id="tabRSApproves" class="easyui-tabs" style="width:100%; height:100%">
        
        <div title="Product View" id="divLCRecedDOnotRecd" style="width:100%;height:95%">
            <table id="tblRS_Product"  style="width:100%; height:100%" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false"  toolbar="#toolbarRouteSheetApprove" data-options="rowStyler: function(index,row){
                                    if (row.Balance<=0){
                                        return 'color:#F54C52; font-weight:bold;';
                                    }
                                    else if (row.ProductName=='Total'){
                                        return 'color:#016B18; font-weight:bold;';
                                    }
                                }
                ">
                <thead>
                    <tr>
                        <th field="RSCount" width="6%" align="left">Dyeing Card</th>
                        <th field="ProductCode" width="8%">ProductCode</th>
                        <th field="ProductName" width="35%">Product Name</th>
                        <th field="MUName" width="5%">Unit</th>
                        <th field="BaseName" width="9%">Count</th>
                        <th field="StockQty" width="10%" align="right" formatter="formatPrice">Stock Qty</th>
                        <th field="RSQty" width="12%" align="right" formatter="formatPrice">Issue Qty</th>
                        <th field="Qty_Booking" width="10%" align="right" formatter="formatPrice">In Floor</th>
                        <th field="Balance" width="10%" align="right">Usable Qty</th>

                    </tr>
                </thead>
            </table>

                <div id="toolbarRouteSheetApprove">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" id="btnRefresh_Pro">Refresh</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" id="btnWForApprove">Wating for Floor</a>
                    <input id="txtSearchByProductName" type="text" placeholder="Search by Product Name" style="width: 180px" />
                    <input type="text" id="txtSearchByBaseName" placeholder="Search by Yarn Count " style="width:130px;text-align:left" />
                    <input type="text" id="txtSearchByRSNo" placeholder="Search by Dye Line No " style="width:130px;text-align:left" />
                    @*<a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>*@

                    <a id="btnView_Detail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View Detail</a>
                    @*<a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>*@
                    <a id="btnPrintXL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">ExportXL</a>
                </div>
        </div>
        <div title="Dye Line View" id="divRSWise" style="width:100%;height:95%">
            <table id="tblRSApprove" title="Dye line List" style="width:100%; height:100%" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarRSWise" data-options="rowStyler: function(index,row){
                                        if (row.Balance<=0){
                                            return 'color:#F54C52; font-weight:bold;';
                                        }
                                        else if (row.ProductName=='Total'){
                                            return 'color:#016B18; font-weight:bold;';
                                        }
                                    }
                    ">
                <thead>
                    <tr>

                        <th field="RouteSheetNo" width="10%">Dye line No</th>
                        <th field="OrderNoFull" width="12%">Order No</th>
                        <th field="RouteSheetDateSt" width="10%">Date</th>
                        <th field="RSStateSt" width="6%">Status</th>
                        @*<th field="ProductCode" width="8%">ProductCode</th>*@
                        <th field="ProductName" width="15%">Product Name</th>
                        <th field="ColorName" width="10%">Color Name</th>
                        <th field="LotNo" width="10%">Lot No</th>
                        <th field="MUName" width="5%">Unit</th>
                        @*<th field="BaseName" width="9%">Count</th>*@
                        <th field="Qty" width="10%" align="right" formatter="formatPrice"> Qty</th>
                        <th field="StockQty" width="10%" align="right" formatter="formatPrice">Stock Qty</th>
                        <th field="RSQty" width="12%" align="right" formatter="formatPrice">Issue Qty</th>
                        <th field="Qty_Booking" width="10%" align="right" formatter="formatPrice">Booking Qty</th>
                        <th field="Balance" width="10%" align="right">Usable Qty</th>
                        <th field="RSCount" width="6%" align="left">Dyeing Card</th>

                    </tr>
                </thead>
            </table>
            <div id="toolbarRSWise">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" id="btnWForApprove_RS">Wating for Floor</a>
                <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-details" plain="true">View</a>
                <input id="chkIsCommon" type="checkbox" />
                <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-print" plain="true">Print</a>
                <a id="btnRSState" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-approved" plain="true"> <label id="lblRSState">Send To Floor</label> </a>
                <a id="btnUndo" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-undo" plain="true">Undo</a>
            </div>
        </div>
    </div>
</div>
  
 <div id="winReportDetail" class=" easyui-window winclass" title="Production Order List" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <table style="width: 99%;" cellspacing="2" cellpadding="2">
            <tr>
                <td style="width:5%; text-align:right"></td>
                <td style="width:10%; text-align:right">
                    <label>
                        Yarn
                    </label>
                </td>
                <td colspan="3" style="width:80%; text-align:left">
                    <input type="text" id="txtProductNamePTU" style="width:100%;" readonly="readonly" />
                </td>
                <td style="width:5%; text-align:right">
                                      
                </td>

            </tr>
            <tr>
                <td style="width:5%; text-align:right"></td>
                <td style="width:10%; text-align:right">
                    <label>
                        Stock Qty
                    </label><span class="lblMUnit"></span>
                </td>
                <td style="width:15%; text-align:left">
                    <input type="text" id="txtStockQty" style="width:100%;" readonly="readonly" />
                </td>

                <td style="width:25%; text-align:right">
                    <label>
                        Production Booking
                    </label><span class="lblMUnit"></span>
                </td>
                <td style="width:15%; text-align:left">
                    <input type="text" id="txtProBookingQty" style="width:100%;" readonly="readonly" />
                </td>
                <td style="width:10%; text-align:right">
                    <label>
                        Usable Qty
                    </label><span class="lblMUnit"></span>
                </td>
                <td style="width:15%; text-align:left">
                    <input type="text" id="txtBalance" style="width:100%;" readonly="readonly" />
                </td>
                <td style="width:5%; text-align:right"></td>
            </tr>
        </table>
        <div id="tabReportDetail" class="easyui-tabs" style="width:100%">
            <div title="Stock Order" style="padding:2px">
                <div style="width:100%">
                    <fieldset>
                        <table style="width:100%;height:300px;" id="tblLots" class="easyui-datagrid" toolbar="#toolbarLot">
                            <thead>
                                <tr>
                                    <th field="LotNo" width="20%">Lot No</th>
                                    <th field="WUnit" width="20%">Store</th>
                                    <th field="RSCount" width="5%" align="right">Dye line Count</th>
                                    <th field="MUName" width="10%">Unit</th>
                                    <th field="StockQty" width="10%" align="right" formatter="formatPrice">Stock Qty</th>
                                    <th field="RSQty" width="12%" align="right" formatter="formatPrice">Issue Qty</th>
                                    <th field="Qty_Booking" width="10%" align="right" formatter="formatPrice">Booking Qty</th>
                                    <th field="Balance" width="10%" align="right">Usable Qty</th>
                                                    
                                </tr>
                            </thead>
                        </table>
                    </fieldset>
                    <div id="toolbarLot">
                        <table>
                            <tr>
                                <td>
                                    <a id="btnLoad_Lot" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"></a>
                                </td>

                            </tr>
                        </table>
                    </div>

                </div>
            </div>
            <div title="Dyeing Card " style="padding:2px">
                <div style="width:100%">
                    <fieldset>
                        <table style="width:100%;height:300px;" id="tblRSs" class="easyui-datagrid" toolbar="#toolbarRS">
                            <thead>
                                <tr>
                                    <th field="RouteSheetNo" width="20%">Dye Line No</th>
                                    <th field="Qty" formatter="formatPrice" width="10%" align="right">Balance</th>
                                    <th field="LotNo" width="10%">Lot No</th>
                                    <th field="RSStateStr" width="10%">Status</th>
                                </tr>
                            </thead>
                        </table>
                    </fieldset>
                    <div id="toolbarRS">
                        <table>
                            <tr>
                                <td>
                                    <a id="btnLoad_RS" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"></a>
                                </td>

                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div>
        <div style="width:100%;">
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:85%; text-align:right"></td>
                        <td style="width: 15%; text-align:right">
                            <a id="btnClose_Detail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
 </div>

 <style type="text/css">
    .lines-no .datagrid-body td {
        border-right: 1px dotted transparent;
        border-bottom: 1px dotted transparent;
    }
 
</style>

 <script type="text/javascript">
    var _sBaseAddress="";
    var _oRouteSheetApprove=null;
    var _oRouteSheetApproves=[];
    var _oCompanys=[];
    var _oCompareOperators=[];
    var _oMktPersons=[];

    var _sControllerName="";
    var _nBUID = 0;
    var _sProductBaseIDs = '';
    var _sBuyerIDsAdvSearch = '';
    var _oBU = null;
    var _oLightSources=[];
    var _oLabdipFormats=[];
    var _oLabdipStatus=[];
    var _sProductIds="";
    var _sMessage="";
    var _nReportType=0;
    $(document).ready(function () {

        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oRouteSheetApproves =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
       
        debugger;
    
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
        $(".lblLoadingMessage").hide();
   
        
        DynamicRefreshList(_oRouteSheetApproves, 'tblRS_Product');
       // $.icsMakeFooterColumn('tblRS_Product',['ProductName','StockQty','RSQty','Qty_Booking','Balance']);
        //if(sessionStorage.getItem("RouteSheets")!=null && sessionStorage.getItem("RouteSheets").length>0)
        //{
        //    _oRouteSheetApproves= jQuery.parseJSON(sessionStorage.getItem('RouteSheets'));
        //    var nIndex= sessionStorage.getItem('SelectedRowIndex');
        //    DynamicRefreshList(_oRouteSheetApproves, 'tblRSApprove');
        //    if(nIndex>-1){
        //        $('#tblRSApprove').datagrid('selectRow',nIndex);
        //        //OperationPerforms(nIndex, _oRouteSheetApproves[nIndex]);
        //    }
        //}
        //else{
        //    DynamicRefreshList(_oRouteSheetApproves, 'tblRSApprove');
        //}
        RefreshSummary(1);
        sessionStorage.setItem("ParamsInvPro", "");
    });

    $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });

   

    //$("#btnPrint").click(function () {

    //    var sParams=sessionStorage.getItem("ParamsInvPro");
    //    window.open(_sBaseAddress + '/RouteSheetApprove/Print_RouteSheetApproveReport?sTempString=' + sParams, "_blank");
    //});
    //$("#btnPartyWisePrint").click(function () {
    //    var sParams=sessionStorage.getItem("ParamsInvPro");
    //    window.open(_sBaseAddress + '/RouteSheetApprove/Print_PartyWiseSOReport?sTempString=' + sParams, "_blank");
    //});
    //$("#btnProductWisePrint").click(function () {

    //    var sParams=sessionStorage.getItem("ParamsInvPro");
    //    window.open(_sBaseAddress + '/RouteSheetApprove/Print_ProductWiseSOReport?sTempString=' + sParams, "_blank");
    //});
   



    ////Start adv Searching

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }
   
    //Product Pick
    $("#txtProductName").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($('#txtProductName').val()==null || $('#txtProductName').val()=="")
            {
                alert("Please Type Product and Press Enter.");
                $('#txtProductName').focus();
                return;
            }
            PickProduct($('#txtProductName').val());
        }
        if (code == 8) //backspace=8
        {
            //debugger;
            $("#txtProductName").removeClass("fontColorOfPickItem");
            _sProductIds= [];
        }
    });
    $("#btnProductPiker").click(function () {
        PickProduct("");
    });
    $("#btnClrProductPiker").click(function () {
        $("#txtProductName").val('');
        $("#txtProductName").removeClass("fontColorOfPickItem");
        _sProductIds= [];
    });
    function PickProduct(sProductName)
    {
        var oProduct = { BUID:sessionStorage.getItem("BUID"),ProductName:sProductName};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "MUnit", title: "Unit", width: 70, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winProductPicker',
                        winclass: 'clsProductPicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProductPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'NameCode',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });
    }


    //End Buyer Search
    $("#btnResetAdvSearch").click(function () {
        ResetAdvSearchWindow();
        DateActionsOrderDateAdvSearch();
        DateActionsInvoiceDateAdvSearch();
        DateActionsDeliveryDateAdvSearch();
        DateActionsStatusDateAdvSearch();
        $('#tblOrderStatus').datagrid('uncheckAll');
    });

    $("#btnSearchAdvSearch").click(function () {
        debugger;

        $(".lblLoadingMessage").show();



      
        _sProductIds='';
        _sProductBaseIDs='';
        var sProductName =  $.trim($("#txtSearchByProductName").val());
        var sProductBaseName ="";
        var sRSNo ="";
        var sParams = 
                       _sProductIds+"~"+
                       _sProductBaseIDs+"~"+
                       sProductName+"~"+
                       sProductBaseName+"~"+
                       sRSNo+"~"+
                       _nBUID;
        sessionStorage.setItem("ParamsInvPro", sParams);
        var oRouteSheetApprove = {
            ErrorMessage : sParams
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/RouteSheetApprove/AdvSearch",
            traditional: true,
            data: JSON.stringify(oRouteSheetApprove),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oRouteSheetApproves = data;
                debugger;
                if (oRouteSheetApproves != null) {
                    if (oRouteSheetApproves.length > 0)
                    {

                        DynamicRefreshList(oRouteSheetApproves, "tblRSApprove");
                        $("#winAdvSearch").icsWindow("close");

                    }
                    else
                    {
                        alert("Sorry, No data found.");
                        DynamicRefreshList([], "tblRSApprove");
                    }

                } else {
                    alert("Sorry, No data found.");
                    DynamicRefreshList([], "tblRSApprove");
                }
                $(".lblLoadingMessage").hide();
            }
        });
    });
    function GetOrderStatus(){

        var sOrderStatus="";

        var oOrderStatus=$('#tblOrderStatus').datagrid('getChecked');

        if(oOrderStatus.length>0){
            for(var i=0;i<oOrderStatus.length;i++){
                sOrderStatus= sOrderStatus + oOrderStatus[i].id+","
            }
            sOrderStatus=sOrderStatus.substring(0,sOrderStatus.length-1);
        }
        return sOrderStatus;
    }
    $("#txtSearchByRSNo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){

            _sProductIds='';
            _sProductBaseIDs='';
            var sProductName = "";
            var sProductBaseName ="";
            var sRSNo = $.trim($("#txtSearchByRSNo").val());
            _nReportType =1;
            var bGeneral =true;
            var bWForApprove =false;
            var sParams = 
                           _sProductIds+"~"+
                           _sProductBaseIDs+"~"+
                           sProductName+"~"+
                           sProductBaseName+"~"+
                           sRSNo+"~"+
                            bGeneral+"~"+
                          bWForApprove+"~"+
                             _nReportType+"~"+
                           _nBUID;
            sessionStorage.setItem("ParamsInvPro", sParams);
            var oRouteSheetApprove = {
                ErrorMessage : sParams
            };
            Search(oRouteSheetApprove);
        }
        else if(nkeyCode==8){
            $("#txtSearchByRSNo").val("");

        }
    });
    $("#txtSearchByProductName").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){

            _sProductIds='';
            _sProductBaseIDs='';
            var sProductName =  $.trim($("#txtSearchByProductName").val());
            var sProductBaseName ="";
            var sRSNo ="";
            var bGeneral =false;
            var bWForApprove =false;
            _nReportType=1;
            var sParams = 
                           _sProductIds+"~"+
                           _sProductBaseIDs+"~"+
                           sProductName+"~"+
                           sProductBaseName+"~"+
                           sRSNo+"~"+
                            bGeneral+"~"+
                          bWForApprove+"~"+
                             _nReportType+"~"+
                           _nBUID;
            sessionStorage.setItem("ParamsInvPro", sParams);
            var oRouteSheetApprove = {
                ErrorMessage : sParams
            };
            Search(oRouteSheetApprove);
        }
        else if(nkeyCode==8){
            $("#txtSearchByProductName").val("");

        }
    });
    $("#txtSearchByBaseName").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){

            _sProductIds='';
            _sProductBaseIDs='';
            var sProductName =  "";
            var sProductBaseName =$.trim($("#txtSearchByBaseName").val());
            var sRSNo ="";
            var bGeneral =false;
            var bWForApprove =false;
            _nReportType=1;
            var sParams = 
                           _sProductIds+"~"+
                           _sProductBaseIDs+"~"+
                           sProductName+"~"+
                           sProductBaseName+"~"+
                           sRSNo+"~"+
                            bGeneral+"~"+
                          bWForApprove+"~"+
                            _nReportType+"~"+
                           _nBUID;
            sessionStorage.setItem("ParamsInvPro", sParams);
            var oRouteSheetApprove = {
                ErrorMessage : sParams
            };
            Search(oRouteSheetApprove);
        }
        else if(nkeyCode==8){
            $("#txtSearchByBaseName").val("");

        }
    });
    
    $("#btnRefresh_Pro").click(function () {
        //var nBuyerID = parseInt(_sDeliverToIDs);
       
        _sProductIds='';
        _sProductBaseIDs='';
        var sProductName =  "";
        var sProductBaseName ="";
        var sRSNo ="";
        var bGeneral =true;
        var bWForApprove =false;
        _nReportType =1;
        var sParams = 
                       _sProductIds+"~"+
                       _sProductBaseIDs+"~"+
                       sProductName+"~"+
                       sProductBaseName+"~"+
                       sRSNo+"~"+
                         bGeneral+"~"+
                          bWForApprove+"~"+
                          _nReportType+"~"+
                       _nBUID;
        sessionStorage.setItem("ParamsInvPro", sParams);
        var oRouteSheetApprove = {
            ErrorMessage : sParams
        };
        Search(oRouteSheetApprove);
    });
    $("#btnWForApprove").click(function () {
        //var nBuyerID = parseInt(_sDeliverToIDs);
       
        _sProductIds='';
        _sProductBaseIDs='';
        var sProductName =  "";
        var sProductBaseName ="";
        var sRSNo ="";
        var bGeneral =false;
        var bWForApprove =true;
        _nReportType =1;
        var sParams = 
                       _sProductIds+"~"+
                       _sProductBaseIDs+"~"+
                       sProductName+"~"+
                       sProductBaseName+"~"+
                       sRSNo+"~"+
                         bGeneral+"~"+
                          bWForApprove+"~"+
                          _nReportType+"~"+
                       _nBUID;
        sessionStorage.setItem("ParamsInvPro", sParams);
        var oRouteSheetApprove = {
            ErrorMessage : sParams
        };
        Search(oRouteSheetApprove);
    });
    $("#btnWForApprove_RS").click(function () {
        //var nBuyerID = parseInt(_sDeliverToIDs);
       
        _sProductIds='';
        _sProductBaseIDs='';
        var sProductName =  "";
        var sProductBaseName ="";
        var sRSNo ="";
        var bGeneral =false;
        var bWForApprove =true;
        _nReportType=0;
        var sParams = 
                       _sProductIds+"~"+
                       _sProductBaseIDs+"~"+
                       sProductName+"~"+
                       sProductBaseName+"~"+
                       sRSNo+"~"+
                         bGeneral+"~"+
                          bWForApprove+"~"+
                           _nReportType+"~"+
                       _nBUID;
        sessionStorage.setItem("ParamsInvPro", sParams);
        var oRouteSheetApprove = {
            ErrorMessage : sParams
        };
        Search(oRouteSheetApprove);
    });
    function Search(oRouteSheetApprove)
    {

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/RouteSheetApprove/AdvSearch",
            traditional: true,
            data: JSON.stringify(oRouteSheetApprove),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oRouteSheetApproves = data;
                debugger;
                if (oRouteSheetApproves != null) {
                    if (oRouteSheetApproves.length > 0)
                    {
                        if(_nReportType==0)
                        {
                            DynamicRefreshList(oRouteSheetApproves, "tblRSApprove");
                           
                        }
                        else  if(_nReportType==1)
                        {
                            DynamicRefreshList(oRouteSheetApproves, "tblRS_Product");
                           // $.icsMakeFooterColumn('tblRS_Product',['ProductName','StockQty','RSQty','Qty_Booking','Balance']);
                        }
                        RefreshSummary(_nReportType);
                       // $("#winAdvSearch").icsWindow("close");
                    }
                    else
                    {
                        alert("Sorry, No data found.");
                        DynamicRefreshList([], "tblRSApprove");
                        DynamicRefreshList([], "tblRS_Product");
                    }

                } else {
                    alert("Sorry, No data found.");
                    DynamicRefreshList([], "tblRSApprove");
                }
                $(".lblLoadingMessage").hide();
            }
        });
    }
    function LoadComboAdv()
    {
        DynamicRefreshList(_oLabdipStatus, 'tblOrderStatus');
      
        $("#cboOrderDateAdvS, #cboSeekingDateAdvSearch, #cboStatusDateAdvS").icsLoadCombo({
            List: _oCompareOperators,
            OptionValue: "id",
            DisplayText: "Value"
        });
        $("#cboMkPersonAdvSearch").icsLoadCombo({
            List: _oMktPersons,
            OptionValue: "MarketingAccountID",
            DisplayText: "Name"
        });
    }
    function CheckFromAndToDateValidation(OperationComboId, FromDateId, ToDateId) {
        $("#" + OperationComboId).parent().parent().parent().find("select").removeClass("errorFieldBorder");
        var nCboVal = $("#" + OperationComboId).val();
        if (parseInt(nCboVal) == 5 || parseInt(nCboVal) == 6) {
            var fromDate = $("#" + FromDateId).datebox("getValue");
            var toDate = $("#" + ToDateId).datebox("getValue");
            if (new Date(fromDate) > new Date(toDate)) {
                $("#" + ToDateId).focus();
                $("#" + OperationComboId).addClass("errorFieldBorder");
                $(".lblLoadingMessage").hide();
                return false;
            } else {
                $("#" + OperationComboId).removeClass("errorFieldBorder");
                return true;
            }
        } else {
            return true;
        }
    }

    function ResetAdvSearchWindow() {
        _sProductBaseIDs = '';
        _sDeliverToIDs = "";
        $("#winAdvSearch input").not("input[type='button']").val("");
        $("#winAdvSearch input").removeClass("fontColorOfPickItem");
        $("#winAdvSearch select").val(0);
        DateActionsOrderDateAdvSearch();
        DateActionsInvoiceDateAdvSearch();
        DateActionsDeliveryDateAdvSearch();
        $("#txtFromOrderDateAdvSearch,#txtToOrderDateAdvSearch,#txtFromSeekingDate,#txtToSeekingDate,#txtFromStatusDate,#txtToStatusDate").datebox({ disabled: true });
        $("#txtFromOrderDateAdvSearch,#txtToOrderDateAdvSearch,#txtFromSeekingDate,#txtToSeekingDate,#txtFromStatusDate,#txtToStatusDate").datebox("setValue", icsdateformat(new Date()));
    }

    function PickContractors_AdvS() {
        var oContractor = {
            Params: '2,3' + '~' + $.trim($("#txtContractorAdvS").val()+"~"+_nBUID)
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);

        DynamicRefreshList([], "tblAccountsPickerAdvSearch");
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 280, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winContractorPicker',
                        winclass: 'clsAccountOf',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblAccountOfs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Contactor List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Contactor Found.");
            }
        });
    }

    function PickDeliverTo_AdvS() {
        var oContractor = {
            Params: '2' + '~' + $.trim($("#txtDeliverToAdvS").val()+"~"+_nBUID)
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        DynamicRefreshList([], "tblContractorsPickerAdvSearch");
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 280, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winBuyers',
                        winclass: 'clsBuyer',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblBuyers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Buyer List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Contactor Found.");
            }
        });
    }

    function DateActionsOrderDateAdvSearch() {
        DynamicDateActions("cboOrderDateAdvS", "txtFromOrderDateAdvSearch", "txtToOrderDateAdvSearch");
    }
    function DateActionsInvoiceDateAdvSearch() {
        DynamicDateActions("cboSeekingDateAdvSearch", "txtFromSeekingDate", "txtToSeekingDate");
    }
    function DateActionsDeliveryDateAdvSearch() {
        DynamicDateActions("cboStatusDateAdvS", "txtFromStatusDate", "txtToStatusDate");
    }

    $("#btnCloseAdvSearch").click(function () {
        $("#winAdvSearch").icsWindow("close");
    });
    $("#btnAdvSearch").click(function () {
        debugger;
        $("#winAdvSearch").icsWindow("open", "Sample Order Advance Search");
        //DynamicRefreshList([], "tblExportPIAdvSearch");
        DynamicResetAdvSearchWindow("winAdvSearch");
        DynamicDateActions("cboDateOptionAdvSearch", "txtFromDateAdvSearch", "txtToDateAdvSearch");
        DynamicDateActions("cboSeekingDateAdvSearch", "txtFromSeekingDate", "txtToSeekingDate");
        DynamicDateActions("cboStatusDateAdvS", "txtFromStatusDate", "txtToStatusDate");
        ResetAdvSearchWindow();
    });

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which === 13) {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnObjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnObjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }

        if (oPickerobj.winid == 'winContractorPicker')
        {
            if (oreturnObjs != null && oreturnObjs.length> 0)
            {

                _sProductBaseIDs=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Contractors Selected" : oreturnObjs[0].Name;
                $('#txtContractorAdvS').val(sMessage);
                $("#txtContractorAdvS").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sProductBaseIDs=_sProductBaseIDs+oreturnObjs[i].ContractorID+',';
                }
                _sProductBaseIDs=_sProductBaseIDs.substring(0,_sProductBaseIDs.length-1);

            }
            else
            {
                alert("Please select a contractor.");
                return false;
            }
        }

        else if (oPickerobj.winid == 'winBuyers') {
            if (oreturnObjs != null && oreturnObjs.length> 0)
            {
                _sDeliverToIDs='';
                var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" Contractors Selected" : oreturnObjs[0].Name;
                $('#txtDeliverToAdvS').val(sMessage);
                $("#txtDeliverToAdvS").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sDeliverToIDs=_sDeliverToIDs+oreturnObjs[i].ContractorID+',';
                }
                _sDeliverToIDs=_sDeliverToIDs.substring(0,_sDeliverToIDs.length-1);



            }
            else
            {
                alert("Please select a buyer.");
                return false;
            }
        }
        else if (oPickerobj.winid == 'winProductPicker')
        {
            if (oreturnObjs!= null && oreturnObjs.length> 0)
            {
                _sProductIds=''; var sMessage='';
                sMessage=(oreturnObjs.length>1)? oreturnObjs.length +" ProductName Selected" : oreturnObjs[0].ProductName;
                $('#txtProductName').val(sMessage);
                $("#txtProductName").addClass("fontColorOfPickItem");

                for(var i=0;i<oreturnObjs.length;i++){
                    _sProductIds=_sProductIds+oreturnObjs[i].ProductID+',';
                }
                _sProductIds=_sProductIds.substring(0,_sProductIds.length-1);

            }
            else
            {
                alert("Please select a Product.");
                return false;
            }

        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }
    

     ///
    ////

  
    $("#btnView_Detail").click(function () {
        debugger;
        var oIRP= $('#tblRS_Product').datagrid('getSelected');
        if(oIRP==null)
        {
            alert("Please select a item from list!");
            return ;
        }
        DynamicRefreshList([], 'tblLots');
        GetsLots(oIRP);
        RefreshControl(oIRP);
        $("#winReportDetail").icsWindow('open', "Color Information");
        $('#tabReportDetail').tabs({ onSelect: function () {TabClick();} });
    });

  
    function RefreshControl(oIRP)
    {
        $('#txtProductNamePTU').val(oIRP.ProductName);
        $('#txtStockQty').val(formatPrice(oIRP.StockQty,null));
        $('#txtProBookingQty').val(formatPrice(oIRP.RSQty,null));
        $('#txtBalance').val(oIRP.Balance);
    }
    $("#btnClose_Detail").click(function () {
        debugger;

        $("#winReportDetail").icsWindow('close');
    });
     //// Lots Gets
    $("#btnLoad_Lot").click(function () {
        debugger;
        var oIRP= $('#tblRS_Product').datagrid('getSelected');
        if(oIRP==null)
        {
            alert("Please select a item from list!");
            return ;
        }
        DynamicRefreshList([], 'tblLots');
        GetsLots(oIRP);
        RefreshControl(oIRP)
    });
    function GetsLots(oIRP)
    {
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oIRP,
            ControllerName: "RouteSheetApprove",
            ActionName: "GetsLots",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0)
            {
                var oLotDetails= response.objs;
                DynamicRefreshList(oLotDetails, 'tblLots');
            }
        });
    }
          //RS Gets
    $("#btnLoad_RS").click(function () {
        LoadRS();
    });
    function LoadRS()
        {
        var oIRP= $('#tblRS_Product').datagrid('getSelected');
        if(oIRP==null)
        {
            alert("Please select a item from list!");
            return ;
        }
        DynamicRefreshList([], 'tblLots');
        GetsRS(oIRP);
        RefreshControl(oIRP)
    }
    function GetsRS(oIRP)
    {
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oIRP,
            ControllerName: "RouteSheetApprove",
            ActionName: "GetsRSs",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0)
            {
                var oRSs= response.objs;
                DynamicRefreshList(oRSs, 'tblRSs');
            }
        });
    }
    function TabClick()
    {
        debugger;
        var tab = $('#tabReportDetail').tabs('getSelected');
        var index = $('#tabReportDetail').tabs('getTabIndex', tab);
        if (parseInt(index)==1)
        {
            LoadRS();
        }
    }

     /// print
 
    $("#btnPrintXL").click(function () 
    {
        var sParams=sessionStorage.getItem("ParamsInvPro");
       
        window.open(_sBaseAddress + '/RouteSheetApprove/PrintRpt_Excel?sTempString=' + sParams, "_blank");
    });


   
    function FormatStyle(value){
        var values=value.split("~");
        var nRSCount = values[0];
        var nProductID = values[1];
       
        var s = '<label id="lblOpening~'+nProductID+'" style="color:Blue;cursor:pointer" class="lblOpening'+nProductID+'" onclick="ShowDetail('+nProductID+')">'+nRSCount+'</label>';
        return s;
    }
    function ShowDetail(nProductID)
    {
        var oRSA= $('#tblRSApprove').datagrid('getSelected');
        if(nProductID==null || nProductID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var oRSAs= $('#tblRSApprove').datagrid('getRows');
        for (i = 0; i < oRSA.length; ++i)
        {
            if(oRSA[i].ProductID==nProductID)
            {
                oRSA=oRSA[i];
                break;
            }
        }
        var nIndex=$('#tblRSApprove').datagrid('getRowIndex',oRSA);
        sessionStorage.setItem("Operation", "Approve");
        sessionStorage.setItem("SelectedRowIndexLot", nIndex);
        sessionStorage.setItem("RouteSheetHeader", "Approve Production");
        sessionStorage.setItem("RouteSheetsApprove", JSON.stringify($('#tblRSApprove').datagrid('getRows')));
        sessionStorage.setItem("BackLinkLot", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/RouteSheetApprove/View_RouteSheetApprove_Lot?nID="+oRSA.ProductID+"&ts="+tsv;
    }

     ////First Tab
    $('#btnView').click(function (e)
    {
        var oRouteSheet = $('#tblRSApprove').datagrid('getSelected');
        if (oRouteSheet ==null || oRouteSheet.RouteSheetID <=0 ) { alert("Please select an item from list."); return ; }
        var nIndex=$('#tblRSApprove').datagrid('getRowIndex',oRouteSheet);
        //sessionStorage.clear();
        sessionStorage.setItem("Operation", "View");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("RouteSheetHeader", "View Production");
        sessionStorage.setItem("RouteSheets", JSON.stringify($('#tblRSApprove').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/RouteSheet/ViewRouteSheet?nId="+oRouteSheet.RouteSheetID+"&ts="+tsv;;
    });

    $('#btnPrint').click(function (e)
    {
        var oRouteSheet = $('#tblRSApprove').datagrid('getSelected');
        if (oRouteSheet ==null || oRouteSheet.RouteSheetID <=0 ) { alert("Please select an item from list."); return ; }
        var tsv=((new Date()).getTime())/1000;
        window.open(_sBaseAddress+ "/RouteSheet/PrintRouteSheet?nId="+oRouteSheet.RouteSheetID+"&bIsCommon="+$("#chkIsCommon").is(":checked")+"&nts="+tsv, "_blank");

    });
    $("#btnRSState").click(function () {
        _sMessage=" Send In Floor";
        ChangeRSState(3);
    });

    $("#btnUndo").click(function () {
        _sMessage="Initialized";
        ChangeRSState(1);
    });

    function ChangeRSState(nNextStatus){
      
        var oRouteSheet = $('#tblRSApprove').datagrid('getSelected');
        if (oRouteSheet ==null || oRouteSheet.RouteSheetID <=0 ) { alert("Please select an item from list."); return ; }
      //  if(!Validation(oRouteSheet)) return false;
        if (oRouteSheet.RSState >3 ) { alert("Already Approve."); return ; }
        if(nNextStatus==oRouteSheet.RSState)
        { alert("Already "+_sMessage+". Try again"); return ; }
        if(!confirm("Confirm to "+_sMessage)) return false;

        var oRSH={
            RouteSheetID : oRouteSheet.RouteSheetID,
            CurrentStatus : nNextStatus,
            PreviousState : oRouteSheet.RSState,
            EventTime : new Date(),
            EventEmpID : 0
        };
        var SelectedRowIndex=$('#tblRSApprove').datagrid('getRowIndex',oRouteSheet);
        //
        $.ajax
      ({
          type: "POST",
          dataType: "json",                    
          url : _sBaseAddress+  "/RouteSheetApprove/ChangeRSStatus",
          traditional: true,
          data:  JSON.stringify(oRSH),
          contentType: "application/json; charset=utf-8",
          success: function (data) {
              debugger;
              var oRSA = jQuery.parseJSON(data);
              if (oRSA.ErrorMessage=="" ||oRSA.ErrorMessage==null) 
              {
                  $('#tblRSApprove').datagrid('updateRow',{index: SelectedRowIndex,	row: oRSA});
                          
              }
              else
              {
                  alert(oRSA.ErrorMessage);
              }
          },
          error: function (xhr, status, error) 
          {
              alert(error);
          }
                      
      });
    }
    function RefreshSummary(nPeportType)
    {
        if(nPeportType==1)
        {
            var oRows = $('#tblRS_Product').datagrid('getRows');
        }
        else
        {
            var oRows = $('#tblRSApprove').datagrid('getRows');
        }
        if(oRows.length>0)
        {
            var nQty = 0,nStockQty=0,nRSQty=0,nQty_Booking=0,nBalance=0,nRSCount=0;
            for(var i=0;i<oRows.length;i++)
            {
                nQty = parseFloat(nQty)+parseFloat(oRows[i].Qty);
                nStockQty = parseFloat(nStockQty)+parseFloat(oRows[i].StockQty);
                nRSQty = parseFloat(nRSQty)+parseFloat(oRows[i].RSQty);
                nQty_Booking = parseFloat(nQty_Booking)+parseFloat(oRows[i].Qty_Booking);
                nBalance = parseFloat(nBalance)+parseFloat(oRows[i].Balance);
                nRSCount = parseFloat(nRSCount)+parseFloat(oRows[i].RSCount);
            }
             
            nQty = parseFloat(nQty).toFixed(2);
            nStockQty = parseFloat(nStockQty).toFixed(2);
            nRSQty = parseFloat(nRSQty).toFixed(2);
            nQty_Booking = parseFloat(nQty_Booking).toFixed(2);
            nBalance = parseFloat(nBalance).toFixed(2);
            nRSCount = parseFloat(nRSCount).toFixed(2);

            debugger
            var oRow =
            {
               
                ProductName : 'Total',
                Qty : nQty,
                StockQty:nStockQty ,
                RSQty:nRSQty,
                Qty_Booking:nQty_Booking,
                Balance:nBalance,
                RSCount:nRSCount

            }
            if(nPeportType==1)
            {
                $('#tblRS_Product').datagrid('appendRow',oRow); 
            }
            else
            {
                $('#tblRSApprove').datagrid('appendRow',oRow); 
            }
          
        } 

    }
       
 </script>


