@{
    ViewBag.Title = "Notice";
}

@model IEnumerable<ESimSol.BusinessObjects.Notice>
    <head>
        <title></title>

    </head>
    <body class="abc">

        <div id="winNotice" class="easyui-window" title="Notice Info" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">

            <table class="tbl">
                <tr>
                    <td class="tdNotice">
                        <div class="divLabel">
                            <label>Notice No :</label>
                        </div>
                        <div class="divInput">
                            <input id="txtNoticeNo" class="resetfield disablefield" type="text" placeholder="Notice No" disabled />
                        </div>
                    </td>
                    <td class="tdNotice">
                        <div class="divLabel">
                            <label>Status :</label>
                        </div>
                        <div class="divInput">
                            <input id="txtStatus" class="resetfield disablefield" type="text" placeholder="" disabled />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="tdNotice">
                        <div class="divLabel">
                            <label>Issue Date :</label>
                        </div>
                        <div class="divInput">
                            <input id="dtIssueDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </div>
                    </td>
                    <td class="tdNotice">
                        <div class="divLabel">
                            <label>Expire Date :</label>
                        </div>
                        <div class="divInput">
                            <input id="dtExpireDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="tdNotice-Span">
                        <div class="divLabel-Span">
                            <label>Title:</label>
                        </div>
                        <div class="divInput-Span">
                            <input id="txtTitle" class="resetfield" type="text" placeholder="" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="tdNotice-Span">
                        <div class="divLabel-Span">
                            <label>Description:</label>
                        </div>
                        <div class="divInput-Span">
                            <textarea id="txtDescription" class="resetfield"></textarea>
                        </div>
                    </td>
                </tr>
            </table>

            <fieldset class="actionfieldsetstyle">
                <legend>Actions : </legend>
                <table class="tbl">
                    <tr>
                        <td class="tdNotice lblAlign">
                            <label id="lblPostedBy" class="resetlbl"></label>
                        </td>
                        <td class="tdNotice">
                            <a id="btnSaveNotice" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            <a id="btnCloseNotice" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>


        <div class="menuMainCollectionTable">
            <table id="tblNotice" title="Notice" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarNotice">
                <thead>
                    <tr>
                        <th field="NoticeNo" width="8%">Notice No</th>
                        <th field="Title" width="20%">Title</th>
                        <th field="DescriptionSummary" width="30%">Description</th>
                        <th field="IssueDateInStr" width="10%">Issue Date</th>
                        <th field="ExpireDateInStr" width="10%">Expire Date</th>
                        <th field="Activity" width="8%">Status</th>
                        <th field="PostedBy" width="12%">Posted By</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbarNotice">
                <div>
                    <input id="txtSrcNoticeNo" class="resetfield" maxlength="7" placeholder="Notice No" type="text" />
                    <span style="padding-left:5px; ">Active: </span>
                    <input id="chkActive" type="checkbox" />
                    <span style="padding-left:5px; ">In Active: </span>
                    <input id="chkInActive" type="checkbox" />

                    <span style="padding-left:5px; ">Expire Date: </span>
                    <input id="chkDateSearch" type="checkbox" />
                    <input id="dtExpireDateFrom" type="text" style="width: 105px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                    <span>To</span>
                    <input id="dtExpireDateTo" type="text" style="width: 105px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                    <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>

                </div>
                <div>
                    <a id="btnNew" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>
                    <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                    <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                    <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
                    <a id="btnActivity" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true"><label id="lblActivity">Inactive</label></a>
                    <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true"><label id="lblPrint">Print</label></a>
                </div>
            </div>
        </div>
    </body>
    <style type="text/css">
        #winNotice {
            width: 600px;
            font-size: 11px;
        }

        .tdNotice {
            width: 50%;
            font-size: 11px;
        }

        .tdNotice .divLabel {
            float: left;
            width: 30%;
            text-align: right;
            margin-right: 1%;
            font-size: 11px;
        }

        .divInput input {
            float: left;
            width: 65%;
            font-size: 11px;
        }

        .tdNotice-Span .divLabel-Span{
            float: left;
            width: 15%;
            text-align: right;
            margin-right: 1%;
            font-size: 11px;
        }
         .divInput-Span input{
            float: left;
            width: 82%;
            font-size: 11px;
        }
         .divInput-Span textarea{
            float: left;
            width: 82%;
            font-size: 11px;
            height:120px;
         }

         .lblAlign{
             padding-left:5px;
             text-align:left;
         }

        #dtIssueDate, #dtExpireDate {
            width: 190px;
        }
    </style>

    <script type="text/javascript">
        var _sBaseAddress = "";
        var _oNotices = [];
        var _oNotice=null;

        $(document).ready(function() {
            _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
            _oNotices = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));

            $('#dtExpireDateFrom, #dtExpireDateTo').datebox("setValue", icsdateformat(new Date()));
            DynamicRefreshList(_oNotices, "tblNotice");

        });

        $(document).keydown(function (e) { if (e.keyCode == 27) { $('#div').icsWindow('close'); } });


        /*.......... Collection Page............. */

        $('#tblNotice').datagrid({ onSelect: function (rowIndex, rowData) { OperationPerforms(rowIndex, rowData); } });

        $("#txtSrcNoticeNo").keydown(function (e) {

            $('#txtSrcNoticeNo').removeClass("errorFieldBorder");
            if (e.keyCode == 13) // Enter Press
            {
                if (!$.trim($("#txtSrcNoticeNo").val()).length) {

                    alert("Please enter notice no.");
                    $('#txtSrcNoticeNo').focus();
                    $('#txtSrcNoticeNo').val("");
                    $('#txtStyleNoFEO').addClass("errorFieldBorder");
                    return;
                }
                else { $('#txtSrcNoticeNo').removeClass("errorFieldBorder"); }
                GetsNotice(true);
            }
            else if (e.keyCode === 08) {
                $('#txtSrcNoticeNo').val("");
            }
        });

        $("#btnSearch").click(function (e) {
            debugger;
            GetsNotice(false);
        });

        function GetsNotice(bIsTextSearch) {

            var sNoticeNo = $.trim($("#txtSrcNoticeNo").val());

            var IsDateSearch=false;
            if($("#chkDateSearch").is(':checked') && !bIsTextSearch){
                IsDateSearch=true;
            }

            var oNotice = {
                Params: sNoticeNo + "~" + $("#chkActive").is(':checked') + "~" + $("#chkInActive").is(':checked') + "~" + $('#dtExpireDateFrom').datebox("getValue") + '~' + $('#dtExpireDateTo').datebox("getValue") + '~' + IsDateSearch
            };
            var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: oNotice,
                ControllerName: "Notice",
                ActionName: "Gets",
                IsWinClose: false
            };

            $.icsDataGets(obj, function (response) {

                if (response.status && response.objs != null) {
                    if (response.objs.length > 0) {
                        if(response.objs[0].NoticeID>0){DynamicRefreshList(response.objs, "tblNotice");}
                        else{DynamicRefreshList([], "tblNotice"); alert(response.objs[0].ErrorMessage);}
                    }
                    else { DynamicRefreshList([], "tblNotice"); alert("No notice found."); }
                }
            });
        }

        function OperationPerforms(rowIndex, rowData) {
            if (rowData != null && rowData.NoticeID > 0) {
                if (rowData.IsActive) {
                    $('#btnEdit').hide();
                    $("#btnDelete").hide();
                    $("#btnSaveNotice").hide();
                    $('#lblActivity').html("Inactive");
                }
                else {
                    $('#btnEdit').show();
                    $("#btnDelete").show();
                    $('#lblActivity').html("Active");
                    $("#btnSaveNotice").show();
                }

            }
        }

        /*-----------------End--------------------*/


        /*.......... Single Page............. */


        $("#btnNew").click(function () {
            ResetControll();
            LayoutControll("btnNew");
            $("#winNotice").icsWindow('open');
        });

        $('#btnEdit').click(function (e) {

            var oNotice = $("#tblNotice").datagrid("getSelected");
            if (oNotice == null || oNotice.NoticeID <= 0) { alert("Please select an item from list!"); return; }
            if (oNotice.IsActive) { alert('Unable to edit. Already active.'); return; }

            ResetControll();
            $("#winNotice").icsWindow('open', "Edit Notice Info");
            LayoutControll("btnEditFDC");
            GetNoticeInfo(oNotice);
        });

        $('#btnView').click(function (e) {

            var oNotice = $("#tblNotice").datagrid("getSelected");
            if (oNotice == null || oNotice.NoticeID <= 0) { alert("Please select an item from list!"); return; }

            ResetControll();
            $("#winNotice").icsWindow('open', "View Fabric Delivery");
            LayoutControll("btnViewFDC");
            GetNoticeInfo(oNotice);

        });

        $("#btnDelete").click(function () {

            var oNotice = $("#tblNotice").datagrid("getSelected");
            if (oNotice == null || oNotice.NoticeID <= 0) { alert("Please select an item from list!"); return; }
            if (oNotice.IsActive) { alert('Unable to delete. Already active.'); return; }
            if (!confirm("Confirm to Delete?")) return;

            var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: oNotice,
                ControllerName: "FabricDeliveryChallan",
                ActionName: "DeleteFDC",
                TableId: "tblNotice",
                IsWinClose: false
            };
            $.icsDelete(obj);
        });

        $("#btnActivity").click(function (e) {

            var oNotice = $("#tblNotice").datagrid("getSelected");
            if (oNotice == null || oNotice.NoticeID <= 0) { alert("Please select an item from list!"); return; }
            if (!confirm((oNotice.IsActive)?"Confirm to Inactive?" : "Confirm to Active?")) return false

            var obj =
                {
                    BaseAddress: _sBaseAddress,
                    Object: oNotice,
                    ObjectId: oNotice.NoticeID,
                    ControllerName: "Notice",
                    ActionName: "ActivityChange",
                    TableId: "tblNotice",
                    IsWinClose: false,
                    Message: (oNotice.IsActive)?"Inactive Successfully." : "Active Successfully."
                };
            $.icsSave(obj, function (response) {
                if (response.status && response.obj != null) {
                    if (response.obj.NoticeID > 0) {
                        if (response.obj.IsActive) {
                            $('#btnEdit').hide();
                            $("#btnDelete").hide();
                            $('#lblActivity').html("Inactive");
                        }
                        else{
                            $('#btnEdit').show();
                            $("#btnDelete").show();
                            $('#lblActivity').html("Active");
                        }
                    }
                }
            });

        });



        $("#btnSaveNotice").click(function () {
            if (!Validation()) return;
            var oNotice = RefreshObject();
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oNotice,
                ObjectId: oNotice.NoticeID,
                ControllerName: "Notice",
                ActionName: "Save",
                TableId: "tblNotice",
                IsWinClose: false,
                Message: (oNotice.NoticeID>0)?"Update Successfully." : "Save Successfully."
            };
            $.icsSave(obj, function (response) {
                debugger;
                if (response.status && response.obj != null) {
                    if (response.obj.NoticeID > 0) {
                        $('#winNotice').icsWindow('close');
                    }
                }
            });
        });

        $("#btnCloseNotice").click(function (e) {
            $('#winNotice').icsWindow('close');
        });

        function LayoutControll(buttonId) {
            if (buttonId === "btnView") {
                $("#winFabricDeliveryChallan input").prop("disabled", true);
                $("#btnSaveNotice").hide();
            }
            else {
                $("#winFabricDeliveryChallan input").prop("disabled", false);
                $("#btnSaveNotice").show();
            }
            $(".disabled input").prop("disabled", true);
        }

        function ResetControll() {
            debugger;
            _oNotice = null;
            $(".resetfield").val("");
            $(".resetlbl").html("");
            $('#dtIssueDate, #dtExpireDate').datebox("setValue", icsdateformat(new Date()));
        }

        function RefreshControl(oNotice) {
            _oNotice = oNotice;
            $('#txtNoticeNo').val(_oNotice.NoticeNo);
            $("#txtStatus").val(_oNotice.Activity);

            $('#dtIssueDate').datebox("setValue", _oNotice.IssueDateInStr);
            $('#dtExpireDate').datebox("setValue", _oNotice.ExpireDateInStr);

            $("#txtTitle").val(_oNotice.Title);
            $("#txtDescription").val(_oNotice.Description);


            $("#lblPostedBy").html("<b>Posted By: </b>" + _oNotice.PostedBy + "   ");

            if (_oNotice.IsActive) { $('#btnSaveNotice').hide(); }
            else {$('#btnSaveNotice').show();}
        }

        function RefreshObject() {

            var oNotice= {
                NoticeID: (_oNotice != null) ? _oNotice.NoticeID : 0,
                Title : $("#txtTitle").val(),
                Description : $("#txtDescription").val(),
                IssueDate : $('#dtIssueDate').datebox('getValue'),
                ExpireDate : $('#dtExpireDate').datebox('getValue'),
                IsActive : true //$("#chkActivity").is(':checked')
            };
            return oNotice;
        }

        function Validation(){

            if ($.trim($("#txtTitle").val()) == "") {
                alert("Please enter tile.");
                $("#txtTitle").addClass("errorFieldBorder");
                $("#txtTitle").focus();
                return false;
            } else {
                $("#txtTitle").removeClass("errorFieldBorder");
            }

            if ($.trim($("#txtDescription").val()) == "") {
                alert("Please enter description.");
                $("#txtDescription").addClass("errorFieldBorder");
                $("#txtDescription").focus();
                return false;
            } else {
                $("#txtDescription").removeClass("errorFieldBorder");
            }

            if (new Date($('#dtIssueDate').datebox('getValue'))>new Date($('#dtExpireDate').datebox('getValue'))) {
                alert("Expire date must be greater than issue date.");
                return false;
            }
            return true;
        }

        function GetNoticeInfo(oNotice){
            var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: oNotice,
                ControllerName: "Notice",
                ActionName: "Get",
                IsWinClose: false
            };

            $.icsDataGet(obj, function (response) {

                if (response.status && response.obj != null) {
                    if (response.obj.NoticeID > 0) {
                        RefreshControl(response.obj);
                    }
                    else { alert(response.obj.ErrorMessage); }
                }
            });
        }



        $('#btnPrint').click(function (e)
        {
            var oNotice = $("#tblNotice").datagrid("getSelected");
            if(oNotice==null || oNotice.NoticeID<=0)
            {
                alert("No Data!!! please add Data!");
                return false;
            }

            window.open(_sBaseAddress+ '/Notice/PrintNotice?id=' + oNotice.NoticeID, "_blank");

        });

        /*---------------End---------------*/

    </script>
