@{
    ViewBag.Title = "Address Configure";
}

@model IEnumerable <ESimSol.BusinessObjects.AddressConfig>


<div class="menuMainCollectionTable" style="margin-left:0px; height:550px" id="divMain">
    <table id="tblAddressConfig" title="Address Configure"
           class="easyui-datagrid" style="width:100%;height:500px" fitcolumns="false"
           rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar"
           selectoncheck="false" checkonselect="false">
        <thead>
            <tr>
                <th field="NameInEnglish" width="150" align="left"><label id="lblNameInEnglish">Name In English</label></th>
                <th field="NameInBangla" width="110" align="left"><label id="lblNameInBangla">Name In Bangla</label></th>
                <th field="Remarks" width="60" align="center"><label id="lblRemarks">Remarks</label></th>
            </tr>
        </thead>
    </table>

    <div id="toolbar" style="height: auto;">
        Type:<select id="cboAddressType" style="width:120px;"></select>        
        District:<select id="cboDistrict" style="width:120px;"></select>        
        Thana:<select id="cboThana" style="width:120px;"></select>        
        PostOffice:<select id="cboPostOffice" style="width:120px;"></select>     

        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
        <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
    </div>

</div>  

<div id="winAddAddressConfig" class="easyui-window" title="Add Address Configure" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false" style="width:600px;height:auto;padding:1px">
    <div style="margin-left:0px; height:auto; width:100%; text-align:center;">
        <fieldset style="height:190px; ">
            <table style="width:550px; font-size:12px; text-align: right">
                <tr>
                    <td style="width:200px">Code: </td>
                    <td style="width:350px"><input type="text" style="width:350px" id="txtCode" disabled="disabled"></td>
                </tr>
                <tr>
                    <td style="width:200px">Name In English: </td>
                    <td style="width:350px"><input type="text" id="txtNameInEnglish" style="width:350px" /></td>
                </tr>

                <tr>
                    <td style="width:200px">Name In Bangla: </td>
                    <td style="width:350px"><input type="text" id="txtNameInBangla" style="width:350px;"/></td>
                </tr>

                <tr>
                    <td style="width:200px">Remarks: </td>
                    <td style="width:350px"><input type="text" id="txtRemarks" style="width:350px" /></td>
                </tr>
            </table>

            <fieldset style="">
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="0" cellpadding="2" style="font-size:11px; width:500px; font-weight:bold">
                    <tr>
                        <td style="width:400px"></td>
                        <td style="width:150px">
                            <a id="AddConfig" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" >Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </fieldset>
    </div>
</div>

<style>
    .avro {
        font-family: Kalpurush;
    }

    .bijoy {
        font-family: SutonnyMJ;
    }
</style>
<script type="text/javascript">

    var _sBaseAddress = "";
    var _oAddressConfig = {AddressConfigID:0};
    var _oAddressConfigs = [];
    var _oAddressTypes = [];
    var _oDistricts = [];
    var _oThanas = [];
    var _oDistricts = [];
    var _COS = null;

    $(document).ready(function () {
        _oAddressConfigs =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oAddressTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.AddressType));
        _oDistricts =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.Districts));
        _oThanas =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.Thanas));
        _oDistricts =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.PostOffices));
        _COS =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.COS));

        var el = document.getElementById('txtNameInBangla');
        var val = parseInt(el.innerText);
        var class_name;
        
        if(parseInt(_COS.Value) == 19) {
            class_name = 'bijoy';
        }
        else {
            class_name = 'avro';
        }
        el.className += ' ' + class_name;

        $('#divMain').data('EditObj', 0);
        $('#divMain').data('AddEdit', 'Add');

        $("#cboAddressType").icsLoadCombo({
            List:  _oAddressTypes,
            OptionValue: "id",
            DisplayText: "Value",
        });
        $("#cboDistrict").icsLoadCombo({
            List:  _oDistricts,
            OptionValue: "AddressConfigID",
            DisplayText: "NameInEnglish",
        });
        $("#cboThana").icsLoadCombo({
            List:  _oThanas,
            OptionValue: "AddressConfigID",
            DisplayText: "NameInEnglish",
        });
        $("#cboPostOffice").icsLoadCombo({
            List:  _oDistricts,
            OptionValue: "AddressConfigID",
            DisplayText: "NameInEnglish",
        });
    });

    $("#cboAddressType").change(function() {
        debugger;
        if($('#cboAddressType').val() > 0) {

            if($('#cboAddressType').val() == 1) {
                $("#cboDistrict,#cboThana,#cboPostOffice").prop("disabled",true);
            }
            if($('#cboAddressType').val() == 2) {
                $("#cboThana,#cboPostOffice").prop("disabled",true);
                $("#cboDistrict").prop("disabled",false);
            }
            if($('#cboAddressType').val() == 3) {
                $("#cboPostOffice").prop("disabled",true);
                $("#cboDistrict").prop("disabled",false);
                $("#cboThana").prop("disabled",false);
            }
            if($('#cboAddressType').val() == 4) {
                $("#cboDistrict,#cboThana,#cboPostOffice").prop("disabled",false);
            }

            var oAddressType = {
                AddressType: parseInt($('#cboAddressType').val()),
                AddressTypeInInt: parseInt($('#cboAddressType').val())
            }

            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oAddressType,
                ControllerName: "AddressConfig",
                ActionName: "GetsAddressByType",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {

                if (response.status && response.objs != null) {
                    if (response.objs.length>0 && response.objs[0].AddressConfigID > 0) {
                        debugger;
                        var oAddressConfigs = response.objs;
                        if($('#cboAddressType').val() == 1)
                        {
                            $('#lblNameInEnglish').text("District(English)");
                            $('#lblNameInBangla').text("District(Bangla)");
                            DynamicRefreshList(oAddressConfigs,'tblAddressConfig');
                            $("#cboThana").icsLoadCombo({
                                List:  [],
                                OptionValue: "AddressConfigID",
                                DisplayText: "NameInEnglish",
                            });
                            $("#cboPostOffice").icsLoadCombo({
                                List:  [],
                                OptionValue: "AddressConfigID",
                                DisplayText: "NameInEnglish",
                            });
                        }
                        if($('#cboAddressType').val() == 2) {
                            $('#lblNameInEnglish').text("District(English)");
                            $('#lblNameInBangla').text("District(Bangla)");
                            DynamicRefreshList([],'tblAddressConfig');
                        }
                        if($('#cboAddressType').val() == 2) {
                            $('#lblNameInEnglish').text("Thana(English)");
                            $('#lblNameInBangla').text("Thana(Bangla)");
                            DynamicRefreshList([],'tblAddressConfig');

                            $("#cboDistrict").icsLoadCombo({
                                List:  [],
                                OptionValue: "AddressConfigID",
                                DisplayText: "NameInEnglish",
                            });
                            $("#cboThana").icsLoadCombo({
                                List:  [],
                                OptionValue: "AddressConfigID",
                                DisplayText: "NameInEnglish",
                            });
                            $("#cboPostOffice").icsLoadCombo({
                                List:  [],
                                OptionValue: "AddressConfigID",
                                DisplayText: "NameInEnglish",
                            });
                        }
                        if($('#cboAddressType').val() == 3) {
                            $('#lblNameInEnglish').text("PostOffice(English)");
                            $('#lblNameInBangla').text("PostOffice(Bangla)");
                            DynamicRefreshList([],'tblAddressConfig');
                            $("#cboDistrict").icsLoadCombo({
                                List:  [],
                                OptionValue: "AddressConfigID",
                                DisplayText: "NameInEnglish",
                            });
                            $("#cboThana").icsLoadCombo({
                                List:  [],
                                OptionValue: "AddressConfigID",
                                DisplayText: "NameInEnglish",
                            });
                            $("#cboPostOffice").icsLoadCombo({
                                List:  [],
                                OptionValue: "AddressConfigID",
                                DisplayText: "NameInEnglish",
                            });
                        }
                        if($('#cboAddressType').val() == 4) {
                            $('#lblNameInEnglish').text("Village(English)");
                            $('#lblNameInBangla').text("Village(Bangla)");
                            DynamicRefreshList([],'tblAddressConfig');
                            $("#cboDistrict").icsLoadCombo({
                                List:  [],
                                OptionValue: "AddressConfigID",
                                DisplayText: "NameInEnglish",
                            });
                            $("#cboThana").icsLoadCombo({
                                List:  [],
                                OptionValue: "AddressConfigID",
                                DisplayText: "NameInEnglish",
                            });
                            $("#cboPostOffice").icsLoadCombo({
                                List:  [],
                                OptionValue: "AddressConfigID",
                                DisplayText: "NameInEnglish",
                            });
                        }

                        $("#cboDistrict").icsLoadCombo({
                            List:  [],
                            OptionValue: "AddressConfigID",
                            DisplayText: "NameInEnglish",
                        });
                        $("#cboDistrict").icsLoadCombo({
                            List:  oAddressConfigs,
                            OptionValue: "AddressConfigID",
                            DisplayText: "NameInEnglish",
                        });
                    }
                }
            });
        }

    });

    $("#cboDistrict").change(function() {
        debugger;
        var oDist = {};
        var nType = parseInt($('#cboAddressType').val());
        var nParentAddressID = 0;
        //if(nType == 2) {
        nParentAddressID = parseInt($('#cboDistrict').val());
        //}
        //if(nType == 3) {
        //    nParentAddressID = parseInt($('#cboThana').val());
        //}
        //if(nType == 4) {
        //    nParentAddressID = parseInt($('#cboPostOffice').val());
        //}


        oDist = {
            AddressType: parseInt($('#cboAddressType').val()),
            AddressTypeInInt: parseInt($('#cboAddressType').val()),
            ParentAddressID:nParentAddressID
        }
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oDist,
            ControllerName: "AddressConfig",
            ActionName: "GetsThanaPOVill",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs != null) {
                if (response.objs.length>0 && response.objs[0].AddressConfigID > 0) {
                    debugger;
                    var oAddressConfigs = response.objs;
                    if($('#cboAddressType').val() == 2) {
                        $('#lblNameInEnglish').text("Thana(English)");
                        $('#lblNameInBangla').text("Thana(Bangla)");
                    }
                    if($('#cboAddressType').val() == 2)
                    {
                        DynamicRefreshList(oAddressConfigs,'tblAddressConfig');
                    }
                    else
                    {
                        $("#cboThana").icsLoadCombo({
                            List:  [],
                            OptionValue: "AddressConfigID",
                            DisplayText: "NameInEnglish",
                        });
                        $("#cboThana").icsLoadCombo({
                            List:  oAddressConfigs,
                            OptionValue: "AddressConfigID",
                            DisplayText: "NameInEnglish",
                        });
                    }
                }
                else{
                    alert(response.objs[0].ErrorMessage);
                    DynamicRefreshList([],'tblAddressConfig');
                    $("#cboThana").icsLoadCombo({
                        List:  [],
                        OptionValue: "AddressConfigID",
                        DisplayText: "NameInEnglish",
                    });
                }
            }
        });

    });

    $("#cboThana").change(function() {
        debugger;
        var oThana = {};
        var nType = parseInt($('#cboAddressType').val());
        var nParentAddressID = 0;
        nParentAddressID = parseInt($('#cboThana').val());

        oThana = {
            AddressType: parseInt($('#cboAddressType').val()),
            AddressTypeInInt: parseInt($('#cboAddressType').val()),
            ParentAddressID:nParentAddressID
        }
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oThana,
            ControllerName: "AddressConfig",
            ActionName: "GetsThanaPOVill",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs != null) {
                if (response.objs.length>0 && response.objs[0].AddressConfigID > 0) {
                    debugger;
                    var oAddressConfigs = response.objs;
                    if($('#cboAddressType').val() == 3) {
                        $('#lblNameInEnglish').text("PostOffice(English)");
                        $('#lblNameInBangla').text("PostOffice(Bangla)");
                    }
                    if($('#cboAddressType').val() == 3)
                    {
                        DynamicRefreshList(oAddressConfigs,'tblAddressConfig');
                    }
                    else
                    {
                        $("#cboPostOffice").icsLoadCombo({
                            List:  [],
                            OptionValue: "AddressConfigID",
                            DisplayText: "NameInEnglish",
                        });
                        $("#cboPostOffice").icsLoadCombo({
                            List:  oAddressConfigs,
                            OptionValue: "AddressConfigID",
                            DisplayText: "NameInEnglish",
                        });
                    }
                }
                else{
                    alert(response.objs[0].ErrorMessage);
                    DynamicRefreshList([],'tblAddressConfig');
                    $("#cboPostOffice").icsLoadCombo({
                        List:  [],
                        OptionValue: "AddressConfigID",
                        DisplayText: "NameInEnglish",
                    });
                }
            }
        });

    });

    $("#cboPostOffice").change(function() {
        debugger;
        var oVill = {};
        var nType = parseInt($('#cboAddressType').val());
        var nParentAddressID = 0;
        nParentAddressID = parseInt($('#cboPostOffice').val());

        oVill = {
            AddressType: parseInt($('#cboAddressType').val()),
            AddressTypeInInt: parseInt($('#cboAddressType').val()),
            ParentAddressID:nParentAddressID
        }
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oVill,
            ControllerName: "AddressConfig",
            ActionName: "GetsThanaPOVill",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs != null) {
                if (response.objs.length>0 && response.objs[0].AddressConfigID > 0) {
                    debugger;
                    var oAddressConfigs = response.objs;
                    if($('#cboAddressType').val() == 4) {
                        $('#lblNameInEnglish').text("Village(English)");
                        $('#lblNameInBangla').text("Village(Bangla)");
                    }
                    if($('#cboAddressType').val() == 4)
                    {
                        DynamicRefreshList(oAddressConfigs,'tblAddressConfig');
                    }
                    //else
                    //{
                    //    $("#cboPostOffice").icsLoadCombo({
                    //        List:  [],
                    //        OptionValue: "AddressConfigID",
                    //        DisplayText: "NameInEnglish",
                    //    });
                    //    $("#cboPostOffice").icsLoadCombo({
                    //        List:  oAddressConfigs,
                    //        OptionValue: "AddressConfigID",
                    //        DisplayText: "NameInEnglish",
                    //    });
                    //}
                }
                else{
                    alert(response.objs[0].ErrorMessage);
                    DynamicRefreshList([],'tblAddressConfig');
                }
            }
        });
    });

    $('#btnAdd').click(function (e)
    {
        var nType = parseInt($('#cboAddressType').val());
        var sOperation = ' District';
        var nParentAddressID = 0;
        if(nType <=0) {
            alert("Select Address Type.");
            return;
        }
        if(nType == 2) {
            if($('#cboDistrict').val() <= 0) {
                alert("Select District to add Thana");
                return;
            }
            nParentAddressID = parseInt($('#cboDistrict').val());
            sOperation = ' Thana';
        }
        if(nType == 3) {
            if($('#cboThana').val() <= 0) {
                alert("Select Thana to add Post Office");
                return;
            }
            nParentAddressID = parseInt($('#cboThana').val());
            sOperation = ' PostOffice';
        }
        if(nType == 4) {
            if($('#cboPostOffice').val() <= 0) {
                alert("Select PostOffice to add Village");
                return;
            }
            nParentAddressID = parseInt($('#cboPostOffice').val());
            sOperation = ' Village';
        }
        $('#txtCode').val('');
        $('#txtNameInEnglish').val('');
        $('#txtNameInBangla').val('');
        $('#txtRemarks').val('');

        $("#winAddAddressConfig").icsWindow('open', 'Add '+sOperation);
    });

    $('#AddConfig').click(function (e)
    {
        var nType = parseInt($('#cboAddressType').val());

        var nParentAddressID = 0;
        if(nType == 2) {
            nParentAddressID = parseInt($('#cboDistrict').val());
        }
        if(nType == 3) {
            nParentAddressID = parseInt($('#cboThana').val());
        }
        if(nType == 4) {
            nParentAddressID = parseInt($('#cboPostOffice').val());
        }
        debugger;

        var oAC= $('#tblAddressConfig').datagrid('getSelected');
        var SelectedRowIndex=$('#tblAddressConfig').datagrid('getRowIndex',oAC);

        var oAddConf = {
            AddressConfigID:$('#divMain').data('EditObj'),
            Code:$('#txtCode').val(),
            NameInEnglish : $('#txtNameInEnglish').val(),
            NameInBangla:$('#txtNameInBangla').val(),
            AddressType:parseInt($('#cboAddressType').val()),
            AddressTypeInInt: parseInt($('#cboAddressType').val()),
            ParentAddressID:nParentAddressID,
            Remarks:$('#txtRemarks').val()
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/AddressConfig/AddressConfig_IU",
            traditional: true,
            data:  JSON.stringify(oAddConf),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oAC = jQuery.parseJSON(data);
                if (oAC.ErrorMessage == '' || oAC.ErrorMessage == null)
                {
                    if(oAC.AddressConfigID>0)
                    {
                        alert("Data Save Successfully");

                        if($('#cboAddressType').val() == 1) {
                            $('#lblNameInEnglish').text("District(English)");
                            $('#lblNameInBangla').text("District(Bangla)");
                        }
                        if($('#cboAddressType').val() == 2) {
                            $('#lblNameInEnglish').text("Thana(English)");
                            $('#lblNameInBangla').text("Thana(Bangla)");
                        }
                        if($('#cboAddressType').val() == 3) {
                            $('#lblNameInEnglish').text("PostOffice(English)");
                            $('#lblNameInBangla').text("PostOffice(Bangla)");
                        }
                        if($('#cboAddressType').val() == 4) {
                            $('#lblNameInEnglish').text("Village(English)");
                            $('#lblNameInBangla').text("Village(Bangla)");
                        }
                        var sAddEdit = $('#divMain').data('AddEdit');
                        if(sAddEdit == 'Add')
                        {
                            $('#tblAddressConfig').datagrid('appendRow',oAC);
                        }else {
                            $('#tblAddressConfig').datagrid('updateRow',{index: SelectedRowIndex,	row: oAC});
                        }


                        $('#txtCode').val("");
                        $('#txtNameInEnglish').val("");
                        $('#txtNameInBangla').val("");
                        $('#txtRemarks').val("");
                    }
                    else
                    {
                        alert("Invalid Operation!");
                    }
                    $('#divMain').data('EditObj', 0)
                    $('#divMain').data('AddEdit', 'Add');
                }
                else
                {
                    alert(oAC.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(xhr+'~' +status+'~'+error);
            }
        });
    });

    $('#btnClose').click(function (e)
    {
        $("#winAddAddressConfig").icsWindow('close');
    });

    $('#btnEdit').click(function (e)
    {
        var oAC= $('#tblAddressConfig').datagrid('getSelected');
        if(oAC==null || oAC.AddressConfigID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        $('#txtCode').val(oAC.Code);
        $('#txtNameInEnglish').val(oAC.NameInEnglish);
        $('#txtNameInBangla').val(oAC.NameInBangla);
        $('#txtRemarks').val(oAC.Remarks);
        $('#divMain').data('EditObj', oAC.AddressConfigID);
        $('#divMain').data('AddEdit', 'Edit');

        $("#winAddAddressConfig").icsWindow('open');
    });

    $('#btnDelete').click(function (e)
    {
        var oAC= $('#tblAddressConfig').datagrid('getSelected');
        if(oAC==null || oAC.AddressConfigID<=0)
        {
            alert("Please select a item from list!");
            return;
        }

        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblAddressConfig').datagrid('getRowIndex',oAC);
        if (oAC.AddressConfigID > 0)
        {
            $.ajax
            ({
                type: "POST",
                dataType: "json",
                url : sessionStorage.getItem('BaseAddress')+  "/AddressConfig/AddressConfig_Delete",
                data: JSON.stringify(oAC),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    var oObj = jQuery.parseJSON(data);
                    if (oObj.ErrorMessage == "Deleted")
                    {
                        alert("Delete sucessfully");
                        $('#tblAddressConfig').datagrid('deleteRow',SelectedRowIndex);
                    }
                    else
                    {
                        alert(oObj.ErrorMessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
        }
    });

</script>