@{
    ViewBag.Title = "Production Mixture";
}
@model IEnumerable<ESimSol.BusinessObjects.SUProductionMixture>
<html>
    <head>
        <title>Production Mixture</title>
    </head>
    <body>
        <div class="menuMainCollectionTable">
            <table id="tblSUProductionMixtures" title="Production Mixtures" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarSUProductionMixture">
                <thead>
                    <tr>
                        <th field="IssueDateSt" width="12%" align="center">Issue Date</th>
                        <th field="Code" width="12%">Code</th>
                        <th field="StatusSt" width="12%">Status</th>
                        <th field="QtySt" width="10%" align="right">Qty(KG)</th>
                        <th field="Note" width="20%">Description</th>
                        <th field="OperationUnitName" width="12%">Store</th>
                        <th field="FreezeByName" width="18%">Freeze By</th>
                        <th field="FreezeByDateSt" width="12%" align="center">Freeze Date</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbarSUProductionMixture">
                <input id="txtSearchByCode" style="width:156px;" type="text" placeholder="Type Code & Press Enter"/>
                <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>
                <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
                <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                <a id="btnRunning" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-running" plain="true">Run</a>
                <a id="btnFreeze" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-freeze" plain="true">Freeze</a>
                <a id="btnCancel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Cancel</a>
                @*<a id="btnPreViewPI" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print PI</a>*@
            </div>
        </div>
    </body>
</html>
<script type="text/javascript">
    var _sBaseAddress="";
    var _oSUProductionMixtures=[];
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oSUProductionMixtures =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        DynamicRefreshList(_oSUProductionMixtures,"tblSUProductionMixtures");

        SelectItemFromSession("SUProductionMixture", "SUPMID", _oSUProductionMixtures, "tblSUProductionMixtures");
    });
    $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });

    $("#btnAdd").click(function () {
        var oSUProductionMixture={
            SUPMID : 0
        };

        //var oSUProductionMixtures= $('#tblSUProductionMixtures').datagrid('getRows');
        //sessionStorage.setItem("SUProductionMixtures", JSON.stringify(oSUProductionMixtures));

        var obj = {
            BaseAddress: _sBaseAddress,
            TableId: "",
            OpenedPageTitle: "Create Production Mixture",
            Object: oSUProductionMixture,
            ObjectId: oSUProductionMixture.SUPMID,
            PrimaryKeyName: "SUPMID",
            ControllerName: "SUProductionMixture",
            ActionName: "View_SUProductionMixture",
            BtnID : $(this).attr("id")
        };
        $.icsOpenPickerInNewPage(obj);
    });

    $("#btnEdit,#btnView").click(function () {
        var oSUProductionMixture=$("#tblSUProductionMixtures").datagrid("getSelected");
        if(oSUProductionMixture == null || oSUProductionMixture.SUPMID <= 0){
            alert("Please select an item from list.");
            return false;
        }

        var sOpenedPageTitle="";
        if($(this).attr("id") == "btnEdit"){
            sOpenedPageTitle = "Edit Production Mixture";
        }else{
            sOpenedPageTitle = "View Production Mixture";
        }

        //var SelectedRowIndex=$('#tblSUProductionMixtures').datagrid('getRowIndex',oSUProductionMixture);
        //sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);

        var obj = {
            BaseAddress: _sBaseAddress,
            TableId: "",
            OpenedPageTitle: sOpenedPageTitle,
            Object: oSUProductionMixture,
            ObjectId: oSUProductionMixture.SUPMID,
            PrimaryKeyName: "SUPMID",
            ControllerName: "SUProductionMixture",
            ActionName: "View_SUProductionMixture",
            BtnID : $(this).attr("id")
        };
        $.icsOpenPickerInNewPage(obj);
    });

    $("#btnDelete").click(function(){
        var oSUProductionMixture = $("#tblSUProductionMixtures").datagrid("getSelected");
        if (oSUProductionMixture == null || oSUProductionMixture.SUPMID <= 0) {
            alert("Please select an item from list.");
            return false;
        }

        if(oSUProductionMixture.StatusSt != "Initialize")
        {
            alert("Only Initialize Production Mixture Can Delete.");
            return false;
        }
     
        if (!confirm("Confirm to Delete?")) return false;

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oSUProductionMixture,
            ControllerName: "SUProductionMixture",
            ActionName: "Delete",
            TableId: "tblSUProductionMixtures",
            IsWinClose: false
        };
        $.icsDelete(obj);
    });

    $("#btnRunning").click(function(){
        var oProductionMixture = $("#tblSUProductionMixtures").datagrid("getSelected");
        if(oProductionMixture == null || oProductionMixture.SUPMID <= 0)
        {
            alert("Please select an item from list.");
            return false;
        }

        if(oProductionMixture.StatusSt != "Initialize")
        {
            alert("Please select an Initialize Item");
            return false;
        }

        if (!confirm("Confirm to Run?")) return false;

        var nRowIndex = $("#tblSUProductionMixtures").datagrid("getRowIndex", oProductionMixture);

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProductionMixture,
            ObjectId: oProductionMixture.SUPMID,
            ControllerName: "SUProductionMixture",
            ActionName: "Run",
            TableId: "",
            IsWinClose: false,
            Message: "Successfully Run."
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                if(response.obj.ErrorMessage == "")
                {
                    if(response.obj.SUPMID > 0)
                    {
                        $("#tblSUProductionMixtures").datagrid("updateRow", { index: nRowIndex, row: response.obj });
                    }
                    else{
                        alert("Invalid Object");
                    }
                }
            }
        });
    });

    $("#btnFreeze").click(function(){
        var oProductionMixture = $("#tblSUProductionMixtures").datagrid("getSelected");
        if(oProductionMixture == null || oProductionMixture.SUPMID <= 0)
        {
            alert("Please select an item from list.");
            return false;
        }

        if(oProductionMixture.StatusSt != "Running")
        {
            alert("Please select an Running Item");
            return false;
        }

        if (!confirm("Confirm to Freeze?")) return false;

        var nRowIndex = $("#tblSUProductionMixtures").datagrid("getRowIndex", oProductionMixture);
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProductionMixture,
            ObjectId: oProductionMixture.SUPMID,
            ControllerName: "SUProductionMixture",
            ActionName: "Freeze",
            TableId: "",
            IsWinClose: false,
            Message: "Successfully Freezed."
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                
                if(response.obj.ErrorMessage == "")
                {
                    if(response.obj.SUPMID > 0)
                    {
                        $("#tblSUProductionMixtures").datagrid("updateRow", { index: nRowIndex, row: response.obj });
                    }
                    else{
                        alert("Invalid Object");
                    }
                }
            }
        });

    });

    $("#btnCancel").click(function(){
        var oProductionMixture = $("#tblSUProductionMixtures").datagrid("getSelected");
        if(oProductionMixture == null || oProductionMixture.SUPMID <= 0)
        {
            alert("Please select an item from list.");
            return false;
        }

        if(oProductionMixture.StatusSt != "Running")
        {
            alert("Please select an Running Item");
            return false;
        }

        if (!confirm("Confirm to Cancel?")) return false;

        var nRowIndex = $("#tblSUProductionMixtures").datagrid("getRowIndex", oProductionMixture);
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProductionMixture,
            ObjectId: oProductionMixture.SUPMID,
            ControllerName: "SUProductionMixture",
            ActionName: "Cancel",
            TableId: "",
            IsWinClose: false,
            Message: "Successfully Canceled."
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                if(response.obj.ErrorMessage == "")
                {
                    if(response.obj.SUPMID > 0)
                    {
                        $("#tblSUProductionMixtures").datagrid("updateRow", { index: nRowIndex, row: response.obj });
                    }
                    else{
                        alert("Invalid Object");
                    }
                }
            }
        });
    });

    $("#txtSearchByCode").keyup(function (e) {
        if (e.keyCode == 13) {
            var oSUProductionMixture = {
                Code: $("#txtSearchByCode").val()
            };

            $.ajax({
                type: "POST",
                dataType: "json",
                url: _sBaseAddress + "/SUProductionMixture/GetsBySearchKey",
                traditional: true,
                data: JSON.stringify(oSUProductionMixture),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oSUProductionMixtures = jQuery.parseJSON(data);
                    if (oSUProductionMixtures != null) {
                        if (oSUProductionMixtures.length > 0) {
                            DynamicRefreshList(oSUProductionMixtures, "tblSUProductionMixtures");
                        }
                        else {
                            DynamicRefreshList([], "tblSUProductionMixtures");
                        }
                    } else {
                        DynamicRefreshList([], "tblSUProductionMixtures");
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
        else {
            $(this).icsSearchByText({
                Event: e,
                SearchProperty: "Code",
                GlobalObjectList: _oSUProductionMixtures,
                TableId: "tblSUProductionMixtures"
            });
        }
    });

</script>