@{
	ViewBag.Title = "Salary Field Setup";
}

<html>
<body>
	@model IEnumerable<ESimSol.BusinessObjects.SalaryFieldSetup>

		<div class="menuMainCollectionTable" style="height:100%">
			<table id="tblSalaryFieldSetups" title="Salary Field Setup List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
				<thead>
					<tr>
                        <th field="SetupNo" width="100">Setup No</th>
                        <th field="SalaryFieldSetupName" width="100">Salary Field Setup Name</th>
                        <th field="PageOrientationSt" width="100">Page Orientation</th>
                        <th field="Remarks" width="100">Remarks</th>
					</tr>
				</thead>
			</table>
			<div id="toolbar">
				<a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
				<a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
				<a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
				<a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
			</div>
		</div>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        var oSalaryFieldSetups =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oTempSalaryFieldSetups = sessionStorage.getItem("SalaryFieldSetups");
        if (oTempSalaryFieldSetups != null)
        {
            oSalaryFieldSetups = jQuery.parseJSON(oTempSalaryFieldSetups);
        }
        RefreshList(oSalaryFieldSetups);
    });

    function RefreshList(oSalaryFieldSetups)
    {
        data = { "total": "" + oSalaryFieldSetups.length + "", "rows": oSalaryFieldSetups };
        $('#tblSalaryFieldSetups').datagrid('loadData',data);
        var nSelectedRowIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
        if(nSelectedRowIndex!=-1)
        {
            $('#tblSalaryFieldSetups').datagrid('selectRow', nSelectedRowIndex);
        }
    }

    $('#btnAdd').click(function(){
        var oSalaryFieldSetups = $('#tblSalaryFieldSetups').datagrid('getRows');
        sessionStorage.setItem("SalaryFieldSetups", JSON.stringify(oSalaryFieldSetups));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("SalaryFieldSetupHeader", "Add Salary Field Setup");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem("BaseAddress") + "/SalaryFieldSetup/ViewSalaryFieldSetup?id=0";
    });

    $('#btnEdit').click(function(){
        var oSalaryFieldSetup = $('#tblSalaryFieldSetups').datagrid('getSelected');
        if(oSalaryFieldSetup==null || oSalaryFieldSetup.SalaryFieldSetupID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex = $('#tblSalaryFieldSetups').datagrid('getRowIndex', oSalaryFieldSetup);
        var oSalaryFieldSetups= $('#tblSalaryFieldSetups').datagrid('getRows');
        sessionStorage.setItem("SalaryFieldSetups", JSON.stringify(oSalaryFieldSetups));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("SalaryFieldSetupHeader", "Edit Salary Field Setup");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href =  sessionStorage.getItem('BaseAddress')+  "/SalaryFieldSetup/ViewSalaryFieldSetup?id="+oSalaryFieldSetup.SalaryFieldSetupID;
    });

    $('#btnView').click(function(){
        var oSalaryFieldSetup = $('#tblSalaryFieldSetups').datagrid('getSelected');
        if(oSalaryFieldSetup==null || oSalaryFieldSetup.SalaryFieldSetupID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblSalaryFieldSetups').datagrid('getRowIndex',oSalaryFieldSetup);
        var oSalaryFieldSetups = $('#tblSalaryFieldSetups').datagrid('getRows');
        sessionStorage.setItem("SalaryFieldSetups", JSON.stringify(oSalaryFieldSetups));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("SalaryFieldSetupHeader", "View Salary Field Setup");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href =  sessionStorage.getItem('BaseAddress')+  "/SalaryFieldSetup/ViewSalaryFieldSetup?id="+oSalaryFieldSetup.SalaryFieldSetupID;
    });

    $('#btnDelete').click(function () {
        var oSalaryFieldSetup = $('#tblSalaryFieldSetups').datagrid('getSelected');
        if (oSalaryFieldSetup == null || oSalaryFieldSetup.SalaryFieldSetupID <= 0) {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if (!confirm("Confirm to Delete?")) return;
        var SelectedRowIndex = $('#tblSalaryFieldSetups').datagrid('getRowIndex', oSalaryFieldSetup);

        if (oSalaryFieldSetup.SalaryFieldSetupID > 0) {
            $.ajax
                ({
                    type: "POST",
                    dataType: "json",
                    url: sessionStorage.getItem('BaseAddress') + "/SalaryFieldSetup/Delete",
                    data: JSON.stringify(oSalaryFieldSetup),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        feedbackmessage = jQuery.parseJSON(data);
                        if (feedbackmessage == "Data delete successfully") {
                            alert("Delete sucessfully");
                            $('#tblSalaryFieldSetups').datagrid('deleteRow', SelectedRowIndex);
                            var oSalaryFieldSetups = $('#tblSalaryFieldSetups').datagrid('getRows');
                            sessionStorage.setItem("SalaryFieldSetups", JSON.stringify(oSalaryFieldSetups));
                        }
                        else {
                            alert(feedbackmessage);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
        }
    });
</script>