<html>
<head>
    @{
        ViewBag.Title = "Order Ref";
    }
</head>
<body>
    @model ESimSol.BusinessObjects.VOrder
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>    
    <div class="menuMainCollectionTable">
        <div id="divVOrder" class="easyui-panel" title="Order Ref" style="font-family:Tahoma; text-align:center; height:88%; width:100%">
            <fieldset style="height:95%">
                <legend style="font-weight:bold">Order Informations : </legend>
                <table border="0" cellspacing="1" cellpadding="1" style="font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:10%; text-align:right">
                            Ref No:
                        </td>
                        <td style="width:11%">
                            <input type="text" style="width:100%" id="txtRefNo" disabled="disabled" />                            
                        </td>
                        <td style="width:8%; text-align:right">
                            B. Unit :
                        </td>
                        <td style="width:10%">
                            <select style="width:100%" id="cboBusinessUnit"> </select>
                        </td>
                        <td style="width:11%; text-align:right">
                            Order Date :
                        </td>
                        <td style="width:15%">
                            <input id="txtOrderDate" type="text" style="width:100%;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                        <td style="width:10%; text-align:right;font-weight:bold">
                            Ref Type :
                        </td>
                        <td style="width:25%;font-size:11px">
                            @*<input type="text" style="width:99%" id="txtRefType" disabled="disabled" />*@
                            <select style="width:99%" id="cboRefType"></select>
                        </td>
                    </tr>  
                    <tr>
                        <td style="width:10%; text-align:right">
                            Subledger :
                        </td>
                        <td colspan="3" style="width:29%">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%">
                                        <input type="text" style="width:100%" id="txtSubledger" placeholder="Search By Subledger Name" />
                                    </td>
                                    <td style="width:10%">
                                        <input type="button" style="width:100%" value="C" id="btnSubledgerClear" />
                                    </td>
                                    <td style="width:20%">
                                        <input type="button" style="width:100%" value="Pick" id="btnSubledgerPick" />
                                    </td>
                                </tr>
                            </table>
                        </td>                        
                        <td style="width:11%; text-align:right">
                            <label id="lblRefNoBasedonRefType">Ref Object</label>
                        </td>
                        <td colspan="3" style="width:50%">
                            <input type="text" style="width:99%"  id="txtVOrderRefID"/>
                        </td>
                    </tr>  
                    <tr>
                        <td style="width:10%; text-align:right">
                            Order No :
                        </td>
                        <td colspan="3" style="width:40%">
                            <input type="text" style="width:99.5%" id="txtOrderNo" />
                        </td>                                        
                    
                        <td style="width:10%; text-align:right">
                            Remarks :
                        </td>
                        <td colspan="4" style="width:40%">
                            <input type="text" style="width:99%;padding-left:5px" id="txtRemarks" />
                        </td>                        
                    </tr>
                </table>
            </fieldset>            
        </div>
        <fieldset style="height:8%">
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                <tr>
                    <td style="width:83%; text-align:right"></td>
                    <td style="width:17%;text-align:right;">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>    
</body>
</html>


<script type="text/javascript">
    _oAutoCompleteVOrder = {};
    $(document).ready(function () {
        var oVOrder = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oBusinessUnits = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
        var VOrderRefType=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.vOrderRef));
        $("#cboRefType").icsLoadCombo({List: VOrderRefType, OptionValue: "id", DisplayText: "Value",InitialValue : "--Ref Type--" });
        $('#divVOrder').data('VOrder', oVOrder);
        $('#divVOrder').data('BusinessUnits', oBusinessUnits);
        //$('#divVOrder').data('AutoCompleteVOrder',{VOrderRefTypeInt:0, BUID:0});

        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        RefreshControl(oVOrder);
        RefreshLayOut(oVOrder);
        RefreshAutoComplete();
        VorderRefIdBox();
    });
    
    function updateProgress() {
        var value =$('#progbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progbarParent").hide();
    }

    function RefreshAutoComplete()
    {
        var oVOrder = {
            BUID : parseInt($('#cboBusinessUnit').val()),
            VOrderRefTypeInt : parseInt($('#cboRefType').val())
        };
        
        $('#txtVOrderRefID').autocomplete({
            serviceUrl: sessionStorage.getItem("BaseAddress")+'/VOrder/GetsRefObjectsAutocomplete',
            paramName: "ObjRefNo",           
            params : oVOrder,
            delimiter: ",",
            minChars : 2,
            transformResult: function(response) {
                return {
                    suggestions: $.map($.parseJSON(response), function(item) {
                        return { value: item.Value, data: item.id };
                    })
                };
            },
            onSelect: function (suggestion) {                
                $('#txtVOrderRefID').data('VOrderRefID', suggestion.data);
                $("#txtVOrderRefID").addClass("fontColorOfPickItem");                
            },
            onSearchStart: function (query) {
                $('#txtVOrderRefID').data('VOrderRefID', 0);
                $("#txtVOrderRefID").removeClass("fontColorOfPickItem");
            }
        });
    }

    function RefreshControl(oVOrder)
    {
        RefreshCombobox();
        $('#txtRefNo').val(oVOrder.RequisitionNo);
        $('#cboBusinessUnit').val( parseInt(oVOrder.BUID));
        $('#txtOrderDate').datebox('setValue', oVOrder.OrderDateSt);
        //$('#txtRefType').val(oVOrder.VOrderRefTypeSt);
        $('#cboRefType').val(parseInt(oVOrder.VOrderRefType));
        $('#txtSubledger').val(oVOrder.SubledgerName);
        $('#txtOrderNo').val(oVOrder.OrderNo);
        $('#txtRemarks').val(oVOrder.Remarks);
        $('#txtVOrderRefID').val(oVOrder.VOrderRefNo);
        $('#txtVOrderRefID').data('VOrderRefID',oVOrder.VOrderRefID );
    }

    function RefreshCombobox()
    {
        var oBusinessUnits = $('#divVOrder').data('BusinessUnits');
        $("#cboBusinessUnit").icsLoadCombo({ List: oBusinessUnits, OptionValue: "BusinessUnitID", DisplayText: "ShortNameCode", InitialValue : "Custom" });
    }

    function RefreshLayOut(oVOrder) {
        var sVOrderHeader = sessionStorage.getItem("VOrderHeader");
        if (sVOrderHeader != "Add Order Ref") {
            $('#txtSubledger').css('color', 'blue');
            $('#txtSubledger').css('fontWeight', 'bold');
        }

        if (sVOrderHeader === "View Order Ref") {
            $('#divVOrder :input').prop('disabled', true);
            $("#txtOrderDate").datebox({'disabled':true});
            $('#txtOrderDate').datebox('setValue', oVOrder.OrderDateSt);
            $("#btnSave").hide();
        }
    }

    function ValidateInput() {
        var oVOrder = $('#divVOrder').data('VOrder');
        if($('#cboBusinessUnit').val() === null || parseInt($('#cboBusinessUnit').val())<=0)
        {
            alert("Please select Business Unit!");
            $('#cboBusinessUnit').focus();
            return false;
        }

        var sOrderDate = $('#txtOrderDate').datebox('getValue');
        if (sOrderDate == null || sOrderDate == "") {
            alert("Please select Order Date!");
            $('#txtOrderDate').focus();
            return false;
        }

        //if(parseInt(oVOrder.SubledgerID) <=0)
        //{
        //    alert("Please select Subledger!");
        //    $('#txtSubledger').focus();
        //    return false;
        //}

        if($.trim($('#txtOrderNo').val()) === null || $.trim($('#txtOrderNo').val()) === "")
        {
            alert("Please enter Order No!");
            $('#txtOrderNo').focus();
            return false;
        }

        var nRefType=parseInt($("#cboRefType").val());
        if(nRefType==null || nRefType==0)
        {            
            alert("Please select Ref Type!");
            return false;
        }

        if(nRefType!=1)
        {
            if(parseInt($('#txtVOrderRefID').data('VOrderRefID'))==0)
            {
                alert("Please enter Ref Object!");
                return false;
            }
        }
        return true;
    }

    function RefreshObject() {
        var oTempVOrder = $('#divVOrder').data('VOrder');
        debugger;
        var oVOrder = {
            
            VOrderID : parseInt(oTempVOrder.VOrderID),
            BUID : parseInt($('#cboBusinessUnit').val()),
            RefNo : oTempVOrder.RefNo,            
            VOrderRefType : parseInt($('#cboRefType').val()),
            VOrderRefTypeInt : parseInt($('#cboRefType').val()),
            VOrderRefID : parseInt($('#txtVOrderRefID').data('VOrderRefID')),
            OrderNo : $.trim($('#txtOrderNo').val()),
            OrderDate : $('#txtOrderDate').datebox('getValue'),
            SubledgerID : parseInt(oTempVOrder.SubledgerID),
            Remarks : $.trim($('#txtRemarks').val())
        };
        return oVOrder;
    }

    $("#btnSave").click(function () {
        if (!ValidateInput()) return;
        var oVOrder = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: sessionStorage.getItem("BaseAddress")+  "/VOrder/Save",
            traditional: true,
            data: JSON.stringify(oVOrder),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oVOrder = jQuery.parseJSON(data);
                if (oVOrder.VOrderID > 0) {
                    alert("Data Saved sucessfully");
                    var oVOrders = sessionStorage.getItem("VOrders");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if (oVOrders != null) {
                        oVOrders = jQuery.parseJSON(oVOrders);
                    }
                    else {
                        oVOrders = [];
                    }
                    if (nIndex != -1) {
                        oVOrders[nIndex] = oVOrder;
                    }
                    else {
                        sessionStorage.setItem("SelectedRowIndex", oVOrders.length);
                        oVOrders.push(oVOrder);
                    }
                    sessionStorage.setItem("VOrders", JSON.stringify(oVOrders));
                    window.location.href = sessionStorage.getItem("BackLink");
                }
                else {
                    alert(oVOrder.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $("#btnClose").click(function () {
        window.location.href = sessionStorage.getItem("BackLink");
    });

    $('#cboBusinessUnit').change(function(e){
        var nBUID = parseInt($('#divVOrder').data('VOrder').BUID);
        if(nBUID >0 && nBUID != parseInt($('#cboBusinessUnit').val()))
        {
            $("#txtBankAccount").val('');
            $("#txtBankAccount").removeClass("fontColorOfPickItem");
            $('#divVOrder').data('VOrder').SubledgerID = 0;
        }
        $('#divVOrder').data('VOrder').BUID = parseInt($('#cboBusinessUnit').val());
    });


    ///Subledger Pick
    $("#txtSubledger").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var nBUID = parseInt($('#cboBusinessUnit').val());
            if(nBUID<=0)
            {
                alert("Please select Business Unit!");
                $('#cboBusinessUnit').focus();
                return;
            }
            var sSubledgerName = $.trim($('#txtSubledger').val());
            if(sSubledgerName === null || sSubledgerName==="")
            {
                alert("Pick With Subledger Name!");
                $('#txtSubledger').focus();
                return;
            }

            var oACCostCenter = {
                NameCode : sSubledgerName,
                BUID : parseInt(nBUID)
            };
            PickSubledger(oACCostCenter);
        }
    });

    $("#btnSubledgerPick").click(function () {
        var nBUID = parseInt($('#cboBusinessUnit').val());
        if(nBUID<=0)
        {
            alert("Please select Business Unit!");
            $('#cboBusinessUnit').focus();
            return;
        }
        var sSubledgerName = $.trim($('#txtSubledger').val());
        if(sSubledgerName === null || sSubledgerName==="")
        {
            alert("Pick With Subledger Name!");
            $('#txtSubledger').focus();
            return;
        }
        var oACCostCenter = {
            NameCode : sSubledgerName,
            BUID : parseInt(nBUID)
        };
        PickSubledger(oACCostCenter);
    });

    $("#btnSubledgerClear").click(function () {
        $("#txtSubledger").val('');
        $("#txtSubledger").removeClass("fontColorOfPickItem");
        $('#divVOrder').data('VOrder').SubledgerID = 0;
    });

    $('#txtSubledger').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtSubledger").removeClass("fontColorOfPickItem");
            $('#divVOrder').data('VOrder').SubledgerID = 0;
        }
    });

    function PickSubledger(oACCostCenter)
    {
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oACCostCenter,
            ControllerName: "VOrder",
            ActionName: "GetsSubledger",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ACCostCenterID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "Code", title: "Code", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Subledger Name", width: 150, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "CategoryName", title: "Category Name", width: 100, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winSubledger',
                        winclass: 'clsSubledger',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblSubledger',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Subledger List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    //End Subledger Picker

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid === 'winSubledger')
        {
            if (oreturnObj != null && parseInt(oreturnObj.ACCostCenterID) > 0) {
                $('#txtSubledger').val(oreturnObj.Name);
                $('#txtSubledger').addClass('fontColorOfPickItem');
                $('#divVOrder').data('VOrder').SubledgerID =  parseInt(oreturnObj.ACCostCenterID);
                $('#txtOrderNo').focus();
            }
        }
    }
    $("#cboBusinessUnit").change(function(e){
        RefreshAutoComplete();
    });

    $("#cboRefType").change(function(e){
        var nRefType=parseInt($("#cboRefType").val());
        $('#txtVOrderRefID').val("");   
        RefreshAutoComplete();
        $('#txtVOrderRefID').data('VOrderRefID', 0);
        $("#txtVOrderRefID").removeClass("fontColorOfPickItem");
        VorderRefIdBox();
        
    });
    function VorderRefIdBox(){
        var nRefType=parseInt($("#cboRefType").val());
        if(nRefType==0){
            $('#lblRefNoBasedonRefType').html("Ref Object");
            $('#txtVOrderRefID').attr('disabled','disabled');
        }
        else if(nRefType==1){          
            $('#lblRefNoBasedonRefType').html("Ref Object");
            $('#txtVOrderRefID').attr('disabled','disabled');
        }
        else if(nRefType==2){
            $('#lblRefNoBasedonRefType').html("ExportPI ");
            $('#txtVOrderRefID').prop('disabled', false);
        }
        else if(nRefType==3){
            $('#lblRefNoBasedonRefType').html("ImportPI ");
            $('#txtVOrderRefID').prop('disabled', false);
        }
        else if(nRefType==4){
            $('#lblRefNoBasedonRefType').html("ExportLC ");
            $('#txtVOrderRefID').prop('disabled', false);
        }
        else if(nRefType==5){
            $('#lblRefNoBasedonRefType').html("ImportLC ");
            $('#txtVOrderRefID').prop('disabled', false);
        }
        else if(nRefType==6){
            $('#lblRefNoBasedonRefType').html("SampleInvoice");
            $('#txtVOrderRefID').attr('disabled','disabled');
        }
        else if(nRefType==7){
            $('#lblRefNoBasedonRefType').html("PurchaseInvoice");
            $('#txtVOrderRefID').attr('disabled','disabled');
        }
        else if(nRefType==8){
            $('#lblRefNoBasedonRefType').html("WorkOrder ");
            $('#txtVOrderRefID').attr('disabled','disabled');
        }
        else if(nRefType==9){
            $('#lblRefNoBasedonRefType').html("Product ");
            $('#txtVOrderRefID').attr('disabled','disabled');
        }
        else if(nRefType==10){
            $('#lblRefNoBasedonRefType').html("Adjustment ");
            $('#txtVOrderRefID').attr('disabled','disabled');
        }
        else if(nRefType==11){
            $('#lblRefNoBasedonRefType').html("SubContract ");
            $('#txtVOrderRefID').attr('disabled','disabled');
        }
        else if(nRefType==12){
            $('#lblRefNoBasedonRefType').html("TransferRequisition ");
            $('#txtVOrderRefID').attr('disabled','disabled');
        }
        else if(nRefType==100){
            $('#lblRefNoBasedonRefType').html("Expenditure ");
            $('#txtVOrderRefID').attr('disabled','disabled');
        }
    }
</script>