@{
    ViewBag.Title = "Order Ref";
}
@model IEnumerable<ESimSol.BusinessObjects.VOrder>
<div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
    <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
        <label style="font-size:18px;">Please wait</label>
        <div id="progbar" style="width:100%;height:37px;"></div>
    </div>
</div>
<div class="menuMainCollectionTable">
    <div style="margin-left:0px; height:100%; width:100%; font-family:Tahoma">
        <table id="tblVOrders" title="Order Ref List" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead data-options="frozen:true">
                <tr>
                    <th field="RefNo" width="100">Ref No</th>
                    <th field="VOrderRefTypeSt" width="100">Ref Type</th>
                    <th field="OrderNo" width="200">Order No</th>
                </tr>
            </thead>
            <thead>
                <tr>                    
                    <th field="OrderDateSt" width="100" align="center">Order Date</th>
                    <th field="SubledgerName" width="200">Subledger Name</th>
                    <th field="BUName" width="150">BU Name</th>
                    <th field="Remarks" width="200">Remarks</th>                    
                </tr>
            </thead>
        </table>
        <div id="toolbar">            
            <input type="text" id="txtSearchByOrderNo" placeholder="Search by Order No" style="width:150px" />
            <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton"  iconCls="icon-search" plain="true">Adv Search</a>
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>            
            <a id="btnPrintList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print List</a>
            <select id="cboCurrency" style=" width:100px;"></select>
            <a id="btnTransaction" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Transaction</a>
        </div>
    </div>

    <div id="winAdvanceSearch" class="easyui-window" title="Advance Search" style="width:540px;height:345px;padding:2px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div>
            <fieldset>
                <legend style="font-weight:bold"> Searching Criteria : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">                   
                    <tr>
                        <td style="width:170px; text-align:right">
                            Ref No :
                        </td>
                        <td style="width:370px">
                            <input type="text" style="width: 370px;" id="txtRefNo" />
                        </td>
                    </tr> 
                    <tr>
                        <td style="width:170px; text-align:right">
                            Order NO(PI/LC):
                        </td>
                        <td style="width:370px">
                            <input type="text" style="width: 370px;" id="txtOrderNo" />
                        </td>
                    </tr> 
                    <tr>
                        <td style="width:170px; text-align:right">
                            LC No :
                        </td>
                        <td style="width:370px">
                            <input type="text" style="width: 370px;" id="txtLCNo" />
                        </td>
                    </tr>                     
                    <tr>
                        <td style="width:170px; text-align:right">
                            BU Name :
                        </td>
                        <td style="width:370px">
                            <select style="width:375px" id="cboBusinessUnit"></select>
                        </td>
                    </tr>   
                    <tr>
                        <td style="width:170px; text-align:right">
                            Ref Type :
                        </td>
                        <td style="width:370px">
                            <select style="width:375px" id="cboRefType"></select>
                        </td>
                    </tr>                                    
                    <tr>
                        <td style="width:170px; text-align:right">
                            Order Date :
                        </td>
                        <td style="width:370px">
                            <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                                <tr>
                                    <td style="width: 120px; font-size: 12px; text-align: left">
                                        <select id="cboOrderDate" style="width:120px"></select>
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtOrderStartDate" type="text" style="width: 120px;" class="easyui-datebox" disabled="disabled" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                    <td style="width: 10px; font-size: 12px">
                                        To
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtOrderEndDate" type="text" style="width: 120px;" class="easyui-datebox" disabled="disabled" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>                    
                    <tr>
                        <td style="width:170px; text-align:right">
                            Subledger(s) :
                        </td>
                        <td style="width:370px">
                            <input type="text" style="width: 282px;" id="txtSubledger" placeholder="Press enter with subledger name/code" />
                            <input type="button" style="width: 30px;" id="btnSubledgerClear" value="C" />
                            <input type="button" style="width: 50px;" id="btnSubledgerPicker" value="Pick" />
                        </td>
                    </tr>  
                    <tr>
                        <td style="width:170px; text-align:right">
                            Remarks :
                        </td>
                        <td style="width:370px">
                            <input type="text" style="width: 370px;" id="txtRemarks" />
                        </td>
                    </tr>                   
                </table>
            </fieldset>
        </div>
        <fieldset style="width:498px; vertical-align:top;">
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold;">
                <tr>
                    <td style="width:100px;text-align:right">
                        <a id="btnAdvSearchReset" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"> Reset</a>
                    </td>
                    <td style="width:408px;text-align:right;">
                        <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                        <a id="btnAdvSearchClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var oVOrders =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oBusinessUnits = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
        var oVOrderRefTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.VOrderRefTypes));
        var oDateCompareOperatorObjs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.DateCompareOperatorObjs));
        var oAURolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        var oCurrencys = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Currencys));
        var oTempVOrders =sessionStorage.getItem("VOrders");
        if(oTempVOrders!=null)
        {
            oVOrders = jQuery.parseJSON(oTempVOrders);
        }
        RefreshList(oVOrders);
        RefreshControlLayout(oAURolesMapping);

        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();

        $('#txtSubledger').data('Subledgers', []);
        $('#cboBusinessUnit').data('BusinessUnits', oBusinessUnits);
        $('#cboRefType').data('VOrderRefTypes', oVOrderRefTypes);
        $('#cboOrderDate').data('DateCompareOperatorObjs', oDateCompareOperatorObjs);
        $('#tblVOrders').data('VOrders', oVOrders);
        $("#cboCurrency").icsLoadCombo({List: oCurrencys, OptionValue: "CurrencyID", DisplayText: "CurrencyName", InitialValue: "--Currency--" });
    });

    $('#btnAdd').click(function (e) {
        var oVOrders= $('#tblVOrders').datagrid('getRows');
        sessionStorage.setItem("VOrders", JSON.stringify(oVOrders));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("VOrderHeader", "Add Order Ref");
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = sessionStorage.getItem("BaseAddress")+ "/VOrder/ViewVOrder?id=0&ts="+tsv;
    });

    $('#btnEdit').click(function (e) {
        var oVOrder= $('#tblVOrders').datagrid('getSelected');
        if(oVOrder===null || parseInt(oVOrder.VOrderID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblVOrders').datagrid('getRowIndex',oVOrder);
        var oVOrders= $('#tblVOrders').datagrid('getRows');
        sessionStorage.setItem("VOrders", JSON.stringify(oVOrders));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("VOrderHeader", "Edit Order Ref");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/VOrder/ViewVOrder?id="+oVOrder.VOrderID+"&ts="+tsv;
    });

    $("#btnView").click(function(){
        var oVOrder= $('#tblVOrders').datagrid('getSelected');
        if(oVOrder===null || parseInt(oVOrder.VOrderID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblVOrders').datagrid('getRowIndex',oVOrder);
        var oVOrders= $('#tblVOrders').datagrid('getRows');
        sessionStorage.setItem("VOrders", JSON.stringify(oVOrders));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("VOrderHeader", "View Order Ref");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/VOrder/ViewVOrder?id="+oVOrder.VOrderID+"&ts="+tsv;
    });

    $('#btnDelete').click(function (e) {
        var oVOrder = $('#tblVOrders').datagrid('getSelected');
        if(oVOrder==null || oVOrder.VOrderID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblVOrders').datagrid('getRowIndex',oVOrder);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: sessionStorage.getItem("BaseAddress")+ "/VOrder/Delete",
            traditional: true,
            data:  JSON.stringify(oVOrder),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                feedbackmessage = jQuery.parseJSON(data);
                if (feedbackmessage == "Data delete successfully")
                {
                    alert("Delete sucessfully");
                    $('#tblVOrders').datagrid('deleteRow',SelectedRowIndex);
                }
                else
                {
                    alert(feedbackmessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    function RefreshList(oVOrders)
    {
        data = oVOrders;
        data={"total":""+data.length+"","rows":data};
        $('#tblVOrders').datagrid('loadData',data);
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        $('#tblVOrders').datagrid('selectRow',nIndex);
    }

    $('#btnTransaction').click(function (e) {
        debugger;
        var oVOrder = $('#tblVOrders').datagrid('getSelected');
        if(oVOrder==null || parseInt(oVOrder.VOrderID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var tsv = ((new Date()).getTime())/1000;
        
        window.open(sessionStorage.getItem("BaseAddress")+'/VOrder/PrintTransaction?id='+oVOrder.VOrderID+'&nCurrencyID='+parseInt($('#cboCurrency').val())+'&StartDate=&EndDate=&ts='+tsv, "_blank")
    });

    $('#btnPrintList').click(function (e) {
        var oVOrders= $('#tblVOrders').datagrid('getRows');
        var ids ="";
        if(oVOrders.length >0)
        {
            for(var i =0;i<oVOrders.length;i++)
            {
                ids =ids+oVOrders[i].VOrderID+",";
            }
            ids= ids.substring(0, ids.length - 1);
        }
        else{
            return;
        }
        var tsv = ((new Date()).getTime())/1000;
        window.open(sessionStorage.getItem("BaseAddress") + '/VOrder/PrintVOrders?ids='+ids+"&ts="+tsv, "_blank");
    });

    //Start Search
    function RefreshComboBoxControls()
    {
        var oVOrderRefTypes = $('#cboRefType').data('VOrderRefTypes');
        var oBusinessUnits = $('#cboBusinessUnit').data('BusinessUnits');        
        var oDateCompareOperatorObjs = $('#cboOrderDate').data('DateCompareOperatorObjs');

        $("#cboRefType").icsLoadCombo({ List: oVOrderRefTypes, OptionValue: "id", DisplayText: "Value" });
        $("#cboOrderDate").icsLoadCombo({ List: oDateCompareOperatorObjs, OptionValue: "id", DisplayText: "Value" });
        $("#cboBusinessUnit").icsLoadCombo({ List: oBusinessUnits, OptionValue: "BusinessUnitID", DisplayText: "ShortNameCode"});
    }

    function ValidateSearch()
    {
        var sRefNo =$.trim($('#txtRefNo').val());
        var sOrderNo =$.trim($('#txtOrderNo').val());
        var sLCNo =$.trim($('#txtLCNo').val());
        var nRefType = parseInt($('#cboRefType').val());
        var nBusinessUnit = parseInt($('#cboBusinessUnit').val());
        var nVOrderDate = parseInt($('#cboOrderDate').val());
        if(nVOrderDate===1 || nVOrderDate===2 || nVOrderDate===3 || nVOrderDate===4)
        {
            var sVOrderStartDate   = $('#txtOrderStartDate').datebox('getValue');
            if(sVOrderStartDate===null || sVOrderStartDate==="")
            {
                alert("Please select Order start date!");
                $('#txtOrderStartDate').focus();
                return false;
            }
        }
        if(nVOrderDate===5 || nVOrderDate===6)
        {
            var sVOrderStartDate   = $('#txtOrderStartDate').datebox('getValue');
            var sVOrderEndDate   = $('#txtOrderEndDate').datebox('getValue');
            if(sVOrderStartDate===null || sVOrderStartDate==="")
            {
                alert("Please select VOrder start date!");
                $('#txtOrderStartDate').focus();
                return false;
            }
            if(sVOrderEndDate===null || sVOrderEndDate==="")
            {
                alert("Please select VOrder end date!");
                $('#txtOrderEndDate').focus();
                return false;
            }
            if(new Date(sVOrderStartDate) > new Date(sVOrderEndDate))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtOrderStartDate').focus();
                return false;
            }
        }
        var oSubledgers = $('#txtSubledger').data('Subledgers');
        var sRemarks =$.trim($('#txtRemarks').val());
        if(sRefNo==="" && sOrderNo==="" && sLCNo ==="" && nVOrderDate===0 && nBusinessUnit===0 && nRefType ===0 && oSubledgers.length<=0 && sRemarks==="")
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        return true;
    }

    $('#btnAdvSearch').click(function(e){
        $("#winAdvanceSearch").icsWindow('open', "Advance Search");
        $("#winAdvanceSearch input").not("input[type='button']").val("");
        $('#txtOrderStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtOrderEndDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtSubledger').data('Subledgers', []);
        RefreshComboBoxControls();
    });

    $('#btnAdvSearchClose').click(function(e){
        $("#winAdvanceSearch").icsWindow('close');
    });

    $('#cboOrderDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboOrderDate').val());
        if(nCompareOperator===0)
        {
            $('#txtOrderStartDate').datebox({ disabled : true });
            $('#txtOrderEndDate').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtOrderStartDate').datebox({ disabled : false });
            $('#txtOrderEndDate').datebox({ disabled : true });
        }
        else
        {
            $('#txtOrderStartDate').datebox({ disabled : false });
            $('#txtOrderEndDate').datebox({ disabled : false });
        }
        $('#txtOrderStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtOrderEndDate').datebox('setValue', icsdateformat(new Date()));
    });

    $('#btnAdvSearchReset').click(function(e){
        $("#winAdvanceSearch input").not("input[type='button']").val("");
        $('#cboBusinessUnit,#cboRefType,#cboOrderDate').val(0);
        $('#txtOrderStartDate').datebox({ disabled : true });
        $('#txtOrderEndDate').datebox({ disabled : true });
        $('#txtOrderStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtOrderEndDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtSubledger').data('Subledgers', []);
        $("#txtSubledger").removeClass("fontColorOfPickItem");
    });

    $('#btnSearch').click(function(e){
        if(!ValidateSearch()) return;

        var sRefNo =$.trim($('#txtRefNo').val());
        var sOrderNo =$.trim($('#txtOrderNo').val());        
        var sLCNo =$.trim($('#txtLCNo').val());
        var nBusinessUnit =parseInt($('#cboBusinessUnit').val());
        var nRefType = parseInt($('#cboRefType').val());
        var nVOrderDate = parseInt($('#cboOrderDate').val());
        var sVOrderStartDate   = $('#txtOrderStartDate').datebox('getValue');
        var sVOrderEndDate   = $('#txtOrderEndDate').datebox('getValue');
        var oSubledgers = $('#txtSubledger').data('Subledgers');
        var sRemarks =$.trim($('#txtRemarks').val());
        
        if(oSubledgers===null) {oSubledgers = []; }
        var sSubledgerIDs ="";

        for(var i=0; i<oSubledgers.length; i++)
        {
            sSubledgerIDs  = sSubledgerIDs + oSubledgers[i].ACCostCenterID+ ",";
        }
        if(sSubledgerIDs.length>0)
        {
            sSubledgerIDs=sSubledgerIDs.substring(0, sSubledgerIDs.length-1);
        }

        var sSearchingData  =  sRefNo+'~';
        sSearchingData = sSearchingData + sOrderNo+'~';
        sSearchingData = sSearchingData + nBusinessUnit+'~';
        sSearchingData = sSearchingData + nRefType+'~';
        sSearchingData = sSearchingData + nVOrderDate+'~';
        sSearchingData = sSearchingData + sVOrderStartDate+'~';
        sSearchingData = sSearchingData + sVOrderEndDate+'~';
        sSearchingData = sSearchingData + sRemarks+'~';
        sSearchingData = sSearchingData + sLCNo +'~';
        sSearchingData = sSearchingData + sSubledgerIDs;


        var oVOrder = {
            Remarks : sSearchingData
        };

        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: sessionStorage.getItem("BaseAddress")+  "/VOrder/AdvanceSearch",
            data:  JSON.stringify(oVOrder),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  oVOrders = data;
                if (oVOrders != null) {
                    if(oVOrders.length>0)
                    {
                        if(oVOrders[0].ErrorMessage=="")
                        {
                            RefreshList(oVOrders);
                            $('#tblVOrders').data('VOrders', oVOrders);
                            $("#winAdvanceSearch").icsWindow('close');
                        }
                        else
                        {
                            alert(oVOrders[0].ErrorMessage);
                        }
                    }
                    else
                    {
                        alert("Data not found!!");
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#txtSearchByOrderNo').keyup(function (e) {
        //
        var c = String.fromCharCode(e.which);
        var txtSearchByName = document.getElementById('txtSearchByOrderNo').value;

        var oSearchedVOrders = [];  var sTempName="";
        var oVOrderList = $('#tblVOrders').datagrid('getRows');
        if (e.which == 8)
        {
            oVOrderList = $('#tblVOrders').data('VOrders');
        }
        for(i=0;i<oVOrderList.length;++i){
            sTempName=oVOrderList[i].OrderNo;
            n=sTempName.toUpperCase().indexOf(txtSearchByName.toUpperCase())
            if(n!=-1)
            {
                oSearchedVOrders.push(oVOrderList[i]);
            }
        }
        RefreshList(oSearchedVOrders);
    });

    ///Subledger Pick
    $("#txtSubledger").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtSubledger').val())===null || $.trim($('#txtSubledger').val())==="")
            {
                alert("Please enter with subledger name!");
                return;
            }
            var oACCostCenter = { NameCode : $.trim($('#txtSubledger').val()) };
            PickSubledger(oACCostCenter);
        }
    });

    $("#btnSubledgerPicker").click(function () {
        if($.trim($('#txtSubledger').val())===null || $.trim($('#txtSubledger').val())==="")
        {
            alert("Please enter with subledger name!");
            return;
        }

        var oACCostCenter = { NameCode : $.trim($('#txtSubledger').val()) };
        PickSubledger(oACCostCenter);
    });

    $('#txtSubledger').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtSubledger").removeClass("fontColorOfPickItem");
            $('#txtSubledger').data('SubledgerID', 0);
        }
    });

    $('#btnSubledgerClear').click(function(e){
        $("#txtSubledger").val("");
        $('#txtSubledger').data('Subledgers', []);
        $("#txtSubledger").removeClass("fontColorOfPickItem");
    });

    function PickSubledger(oACCostCenter)
    {
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oACCostCenter,
            ControllerName: "VOrder",
            ActionName: "GetsSubledger",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ACCostCenterID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "Code", title: "Subledger Code", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Subledger Name", width: 220, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "CategoryName", title: "Category Name", width: 200, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winSubledgers',
                        winclass: 'clsSubledger',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblSubledgers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Subledger List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    //End Subledger Picker


    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid === 'winSubledgers')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtSubledger').val(oreturnobjs.length+"'s Subledgers seleted");
                $('#txtSubledger').addClass('fontColorOfPickItem');
                $('#txtSubledger').data('Subledgers', oreturnobjs);
                $('#txtSubledger').focus();
            }
        }
    }

    function updateProgress() {
        var value =$('#progbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progbarParent").hide();
    }

    function RefreshControlLayout(oAURolesMapping)
    {
        $("#btnAdvSearch").hide();
        $("#btnAdd").hide();
        $("#btnEdit").hide();
        $("#btnView").hide();
        $("#btnDelete").hide();
        $("#btnWaitForApproved").hide();
        $("#btnApproved").hide();
        //$("#btnPreview").hide();
        $("#btnPrintList").hide();

        if(PermissionChecker('AdvSearch','VOrder',oAURolesMapping)){$("#btnAdvSearch").show();}
        if(PermissionChecker('Add','VOrder',oAURolesMapping)){$("#btnAdd").show();}
        if(PermissionChecker('Edit','VOrder',oAURolesMapping)){$("#btnEdit").show();}
        if(PermissionChecker('View','VOrder',oAURolesMapping)){$("#btnView").show();}
        if(PermissionChecker('Delete','VOrder', oAURolesMapping)){$("#btnDelete").show();}
        if(PermissionChecker('Approved','VOrder',oAURolesMapping)){$("#btnApproved").show();}
        if(PermissionChecker('Approved','VOrder',oAURolesMapping)){$("#btnWaitForApproved").show();}
        //if(PermissionChecker('Preview','VOrder',oAURolesMapping)){$("#btnPreview").show();}
        if(PermissionChecker('PrintList','VOrder',oAURolesMapping)){$("#btnPrintList").show();}
    }
</script>
