<html>
@{
    ViewBag.Title = "LC Wise Accounts Summery";
}
<body>
    @model ESimSol.BusinessObjects.VOrder
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable">
        <div class="easyui-panel" title="Order Reference Registers" style="font-family:Tahoma; text-align:center; height:88%;">
            <fieldset style="height:95%; text-align:center;">
                <legend style="font-weight:bold"> Serching Criteria   : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:100%">
                    <tr>
                        <td colspan="5" style="height:20px;"></td>                        
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Ref No :</td>
                        <td style="width:30%;text-align:left"> 
                            <input type="text" style="width:98%" id="txtRefNo" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">BU:</td>
                        <td style="width:38%;text-align:right">
                            <select id="cboBU" style="width:100%"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right">Ref Type:</td>
                        <td style="width:30%;text-align:right">
                            <select id="cboRefType" style="width:100%"></select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">Date :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboIssueDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtIssueDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtIssueDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Sub ledger :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:100%" id="txtSubLedger" placeholder="Press enter with Sub Ledger name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearSubLedger" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickSubLedger" />
                                    </td>
                                </tr>
                            </table>
                        </td>

                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">Pick Export/Import:</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:100%" id="txtImportOrExportRefNo" placeholder="Press enter with Item name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearProduct" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickImportOrExport" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td style="width:15%;text-align:right"> Report Layout :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboReportLayout" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">Order No :</td>
                        <td style="width:38%;text-align:right">
                            <input type="text" id="txtOrderNo" style="width:100%" />
                        </td>
                      
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:50%;text-align:right">       
                    </td>
                    <td style="width:50%;text-align:right">
                        <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                        <a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>

<style>
    td, th {
        padding: 2px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        var oReportLayouts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReportLayouts));
        var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        var oOrderRefTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.VOrderRefTypes));
        var oBusinessUnits = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
        
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        $("#cboIssueDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboBU").icsLoadCombo({ List: oBusinessUnits, OptionValue: "BusinessUnitID", DisplayText: "Name" });
        $("#cboRefType").icsLoadCombo({ List: oOrderRefTypes, OptionValue: "id", DisplayText: "Value" });
        $("#cboReportLayout").icsLoadCombo({ List: oReportLayouts, OptionValue: "id", DisplayText: "Value" });
        $('#txtIssueDateStart').datebox({ disabled : true });
        $('#txtIssueDateEnd').datebox({ disabled : true }); 
        $('#txtIssueDateStart,#txtIssueDateEnd').datebox('setValue', icsdateformat(new Date()));
        $('#txtSubLedger').data('SubLedgers', []);
        $('#txtImportOrExportRefNo').data('RefItems', []);        
    });
    $('#cboIssueDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboIssueDate').val());
        if(nCompareOperator===0)
        {
            $('#txtIssueDateStart').datebox({ disabled : true });
            $('#txtIssueDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtIssueDateStart').datebox({ disabled : false });
            $('#txtIssueDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtIssueDateStart').datebox({ disabled : false });
            $('#txtIssueDateEnd').datebox({ disabled : false });
        }
        $('#txtIssueDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtIssueDateEnd').datebox('setValue', icsdateformat(new Date()));
    });
    $('#cboChallanApprovedDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboChallanApprovedDate').val());
        if(nCompareOperator===0)
        {
            $('#txtChallanApprovedDateStart').datebox({ disabled : true });
            $('#txtChallanApprovedDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtChallanApprovedDateStart').datebox({ disabled : false });
            $('#txtChallanApprovedDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtChallanApprovedDateStart').datebox({ disabled : false });
            $('#txtChallanApprovedDateEnd').datebox({ disabled : false });
        }
        $('#txtChallanApprovedDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtChallanApprovedDateEnd').datebox('setValue', icsdateformat(new Date()));
    });
    $('#btnClose').click(function (e) {
        window.location.href = window.location.href;
    });
    $('#cboBU').change(function(e){
        $("#txtSubLedger").val("");
        $('#txtSubLedger').data('SubLedgers', []);
        $("#txtSubLedger").removeClass("fontColorOfPickItem");

        $("#txtImportOrExportRefNo").val("");
        $('#txtImportOrExportRefNo').data('RefItems', []);
        $("#txtImportOrExportRefNo").removeClass("fontColorOfPickItem");
    });
    $('#cboRefType').change(function(e){       
        $("#txtImportOrExportRefNo").val("");
        $('#txtImportOrExportRefNo').data('RefItems', []);
        $("#txtImportOrExportRefNo").removeClass("fontColorOfPickItem");
    });

    function ValidateSearch()
    {
        var sRefNo = $.trim($('#txtRefNo').val());
        var nBUID = parseInt($('#cboBU').val());
        var nRefType = parseInt($('#cboRefType').val());
        var oSubLedgers = $('#txtSubLedger').data('SubLedgers');
        var oRefItems = $('#txtImportOrExportRefNo').data('RefItems');
        var nReportLayout = parseInt($('#cboReportLayout').val());
        var sOrderNo = $.trim($('#txtOrderNo').val());
        if(nBUID<=0)
        {
            alert("Please select Business Unit!");
            $('#cboBU').focus();
            return false;
        }
        if(nRefType<=0)
        {
            alert("Please select Ref Type!");
            $('#cboRefType').focus();
            return false;
        }
        if(nReportLayout<=0)
        {
            alert("Please select Report Layout!");
            $('#cboReportLayout').focus();
            return false;
        }

        var nIssueDate = parseInt($('#cboIssueDate').val());
        if(nIssueDate===1 || nIssueDate===2 || nIssueDate===3 || nIssueDate===4)
        {
            var sVIssueDateStart   = $('#txtIssueDateStart').datebox('getValue');
            if(sVIssueDateStart===null || sVIssueDateStart==="")
            {
                alert("Please select Transaction start date!");
                $('#txtIssueDateStart').focus();
                return false;
            }
        }
        if(nIssueDate===5 || nIssueDate===6)
        {
            var sVIssueDateStart   = $('#txtIssueDateStart').datebox('getValue');
            var sIssueDateEnd   = $('#txtIssueDateEnd').datebox('getValue');
            if(sVIssueDateStart===null || sVIssueDateStart==="")
            {
                alert("Please select Transaction start date!");
                $('#txtIssueDateStart').focus();
                return false;
            }
            if(sIssueDateEnd===null || sIssueDateEnd==="")
            {
                alert("Please select Transaction end date!");
                $('#txtIssueDateEnd').focus();
                return false;
            }
            if(new Date(sVIssueDateStart) > new Date(sIssueDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtIssueDateStart').focus();
                return false;
            }
        }      

        if(sRefNo ==="" && nBUID === 0 &&  nRefType === 0 && nReportLayout ===0 && oSubLedgers.length<=0 && oRefItems.length<=0 && sOrderNo ==="")
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        return true;
    }

    $('#btnPreview').click(function(e){
        if(!ValidateSearch()) return;
        var sRefNo = $.trim($('#txtRefNo').val());
        var nBUID = parseInt($('#cboBU').val());
        var nRefType = parseInt($('#cboRefType').val());
        var oSubLedgers = $('#txtSubLedger').data('SubLedgers');
        var oRefItems = $('#txtImportOrExportRefNo').data('RefItems');
        var nReportLayout = parseInt($('#cboReportLayout').val());
        var sOrderNo = $.trim($('#txtOrderNo').val());
        var nIssueDate = parseInt($('#cboIssueDate').val());
        var sVIssueDateStart   = $('#txtIssueDateStart').datebox('getValue');
        var sIssueDateEnd   = $('#txtIssueDateEnd').datebox('getValue');

        if(oSubLedgers===null) {oSubledgers = []; }
        var sSubledgerIDs ="";

        for(var i=0; i<oSubLedgers.length; i++)
        {
            sSubledgerIDs  = sSubledgerIDs + oSubLedgers[i].ACCostCenterID+ ",";
        }
        if(sSubledgerIDs.length>0)
        {
            sSubledgerIDs=sSubledgerIDs.substring(0, sSubledgerIDs.length-1);
        }

        if(oRefItems ===null) {oRefItems = []; }
        var sRefItemIDs ="";

        for(var i=0; i<oRefItems.length; i++)
        {
            //EnumVOrderRefType{None = 0,Manual = 1,ExportPI = 2,ImportPI = 3,ExportLC = 4,ImportLC = 5}
            if(nRefType===2)
            {
                sRefItemIDs  = sRefItemIDs + oRefItems[i].ExportPIID + ",";
            }
            else if(nRefType===3)
            {
                sRefItemIDs  = sRefItemIDs + oRefItems[i].ImportPIID + ",";
            }
            else if(nRefType===4)
            {
                sRefItemIDs  = sRefItemIDs + oRefItems[i].ExportLCID + ",";
            }
            else if(nRefType===5)
            {
                sRefItemIDs  = sRefItemIDs + oRefItems[i].ImportLCID + ",";
            }
        }
        
        if(sRefItemIDs.length>0)
        {
            sRefItemIDs = sRefItemIDs.substring(0, sRefItemIDs.length-1);
        }

        var bIsDateApply = false;
        if(parseInt(nIssueDate)>0)
        {
            bIsDateApply = true;
        }
        var oVOrderRegister  = {
            RefNo : sRefNo,
            BUID : parseInt(nBUID),
            VOrderRefTypeInt : parseInt(nRefType),
            IsDateApply : bIsDateApply,
            StartDate : sVIssueDateStart,
            EndDate : sIssueDateEnd,
            SubledgerName : sSubledgerIDs,
            RefObjIDs : sRefItemIDs,
            ReportLayoutInt : parseInt(nReportLayout),
            OrderNo : sOrderNo
        };

        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: sessionStorage.getItem("BaseAddress")+  "/VOrder/SetOrderRefRegistersData",
            data:  JSON.stringify(oVOrderRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv = ((new Date()).getTime())/1000;
                    window.open(sessionStorage.getItem("BaseAddress")+'/VOrder/PrintVOrderRegister?ts=' + tsv, "_blank")
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    $('#btnExportToExcel').click(function(e){
        if(!ValidateSearch()) return;
        var sRefNo = $.trim($('#txtRefNo').val());
        var nBUID = parseInt($('#cboBU').val());
        var nRefType = parseInt($('#cboRefType').val());
        var oSubLedgers = $('#txtSubLedger').data('SubLedgers');
        var oRefItems = $('#txtImportOrExportRefNo').data('RefItems');
        var nReportLayout = parseInt($('#cboReportLayout').val());
        var sOrderNo = $.trim($('#txtOrderNo').val());
        var nIssueDate = parseInt($('#cboIssueDate').val());
        var sVIssueDateStart   = $('#txtIssueDateStart').datebox('getValue');
        var sIssueDateEnd   = $('#txtIssueDateEnd').datebox('getValue');

        if(oSubLedgers===null) {oSubledgers = []; }
        var sSubledgerIDs ="";

        for(var i=0; i<oSubLedgers.length; i++)
        {
            sSubledgerIDs  = sSubledgerIDs + oSubLedgers[i].ACCostCenterID+ ",";
        }
        if(sSubledgerIDs.length>0)
        {
            sSubledgerIDs=sSubledgerIDs.substring(0, sSubledgerIDs.length-1);
        }

        if(oRefItems ===null) {oRefItems = []; }
        var sRefItemIDs ="";

        for(var i=0; i<oRefItems.length; i++)
        {
            //EnumVOrderRefType{None = 0,Manual = 1,ExportPI = 2,ImportPI = 3,ExportLC = 4,ImportLC = 5}
            if(nRefType===2)
            {
                sRefItemIDs  = sRefItemIDs + oRefItems[i].ExportPIID + ",";
            }
            else if(nRefType===3)
            {
                sRefItemIDs  = sRefItemIDs + oRefItems[i].ImportPIID + ",";
            }
            else if(nRefType===4)
            {
                sRefItemIDs  = sRefItemIDs + oRefItems[i].ExportLCID + ",";
            }
            else if(nRefType===5)
            {
                sRefItemIDs  = sRefItemIDs + oRefItems[i].ImportLCID + ",";
            }
        }
        
        if(sRefItemIDs.length>0)
        {
            sRefItemIDs = sRefItemIDs.substring(0, sRefItemIDs.length-1);
        }

        var bIsDateApply = false;
        if(parseInt(nIssueDate)>0)
        {
            bIsDateApply = true;
        }
        var oVOrderRegister  = {
            RefNo : sRefNo,
            BUID : parseInt(nBUID),
            VOrderRefTypeInt : parseInt(nRefType),
            IsDateApply : bIsDateApply,
            StartDate : sVIssueDateStart,
            EndDate : sIssueDateEnd,
            SubledgerName : sSubledgerIDs,
            RefObjIDs : sRefItemIDs,
            ReportLayoutInt : parseInt(nReportLayout),
            OrderNo : sOrderNo
        };

        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: sessionStorage.getItem("BaseAddress")+  "/VOrder/SetOrderRefRegistersData",
            data:  JSON.stringify(oVOrderRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv = ((new Date()).getTime())/1000;
                    window.open(sessionStorage.getItem("BaseAddress")+'/VOrder/ExportToExcelVOrderRegister?ts=' + tsv, "_blank")
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    ///SubLedger Pick
    function PickSubLedger()
    {
        if($('#cboBU').val()<=0){alert("Please Select Business Unit."); $('#cboBU').focus();return;};
        var oACCostCenter = { BUID:parseInt($('#cboBU').val()),ReferenceTypeInt:$('#cboRefType').val(),Name:$.trim($('#txtSubLedger').val())};//here 1 is SubLedger
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oACCostCenter,
            ControllerName: "ACCostCenter",
            ActionName: "GetsACCostCentersForOrderReference",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
       
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ACCostCenterID > 0) {
                    var tblColums = []; var oColumn = { field: "Code", title: "Code", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "CategoryName", title: "Category", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Description", title: "Description", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winSubLedgers',
                        winclass: 'clsSubLedgers',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblSubLedgers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'SubLedger List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtSubLedger").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtSubLedger').val())===null || $.trim($('#txtSubLedger').val())==="")
            {
                alert("Press enter with SubLedger name");
                return;
            }
            PickSubLedger();
        }else if (code == 8) //backspace=8
        {
            $("#txtSubLedger").removeClass("fontColorOfPickItem");
            $('#txtSubLedger').data('SubLedgers', []);
        }
    });
    $("#btnPickSubLedger").click(function () {
        //if($.trim($('#txtSubLedger').val())===null || $.trim($('#txtSubLedger').val())==="")
        //{
        //    alert("Press enter with SubLedger name");
        //    return;
        //}
        $('#txtSubLedger').val('');
        PickSubLedger();
    });
    $('#btnClearSubLedger').click(function(e){
        $("#txtSubLedger").val("");
        $('#txtSubLedger').data('SubLedgers', []);
        $("#txtSubLedger").removeClass("fontColorOfPickItem");
    });
    //End SubLedger Picker

    //Product Pick
    function PickImportOrExport()
    {
        debugger;
        if($('#cboBU').val()<=0){alert("Please Select Business Unit."); $('#cboBU').focus();return;};
        var nBUID = parseInt($('#cboBU').val());
        //EnumVOrderRefType{None = 0,Manual = 1,ExportPI = 2,ImportPI = 3,ExportLC = 4,ImportLC = 5}
        if($('#cboRefType').val()<=1){alert("Please Select Order Reference Export Or Import");return;};
        var oRefObject = null, sRefControllerName="", sActionName="", sRefObjectID="",searchingbyfieldName = "", tblColums = [];
        if(parseInt($('#cboRefType').val())==2)//Export PI
        {
            sRefControllerName="ExportPI";sActionName="GetsBySearchKey";sRefObjectID = "ExportPIID";
            oRefObject={BUID:nBUID,PINo:$.trim($('#txtImportOrExportRefNo').val())};
            var oColumn = { field: "PINo", title: "PI No", width: 250, align: "left" }; tblColums.push(oColumn);
            oColumn = { field: "MotherBuyerName", title: "Buyer", width: 300, align: "left" }; tblColums.push(oColumn);
            oColumn = { field: "IssueDateInString", title: "Date", width: 100, align: "left" }; tblColums.push(oColumn);
            searchingbyfieldName="PINo";
        }else  if(parseInt($('#cboRefType').val())==3)//Import PI
        {
            sRefControllerName="ImportPI";sActionName="GetsByBUSearchKey";sRefObjectID = "ImportPIID";
            oRefObject={BUID:nBUID,ImportPINo:$.trim($('#txtImportOrExportRefNo').val())};
            var oColumn = { field: "ImportPINo", title: "PI No", width: 250, align: "left" }; tblColums.push(oColumn);
            oColumn = { field: "SupplierName", title: "Supplier", width: 300, align: "left" }; tblColums.push(oColumn);
            oColumn = { field: "IssueDateSt", title: "Date", width: 100, align: "left" }; tblColums.push(oColumn);
            searchingbyfieldName="ImportPINo";
        }else  if(parseInt($('#cboRefType').val())==4)//Export LC
        {
            sRefControllerName="ExportLC";sActionName="GetExportLCByBU";sRefObjectID = "ExportLCID";
            oRefObject={BUID:nBUID,ExportLCNo:$.trim($('#txtImportOrExportRefNo').val())};
            var oColumn = { field: "ExportLCNo", title: "LC No", width: 250, align: "left" }; tblColums.push(oColumn);
            oColumn = { field: "ApplicantName", title: "Applicant", width: 300, align: "left" }; tblColums.push(oColumn);
            oColumn = { field: "OpeningDateST", title: "LC Date", width: 100, align: "left" }; tblColums.push(oColumn);
            searchingbyfieldName="ExportLCNo";
        }else  if(parseInt($('#cboRefType').val())==5)//Import LC
        {
            sRefControllerName="ImportLC";sActionName="GetsBySearchKey";sRefObjectID = "ImportLCID";
            oRefObject={BUID:nBUID,ImportPINo:$.trim($('#txtImportOrExportRefNo').val())};
            var oColumn = { field: "ImportLCNo", title: "LC No", width: 250, align: "left" }; tblColums.push(oColumn);
            oColumn = { field: "ContractorName", title: "Supplier", width: 300, align: "left" }; tblColums.push(oColumn);
            oColumn = { field: "ImportLCDateInString", title: "LC Date", width: 100, align: "left" }; tblColums.push(oColumn);
            searchingbyfieldName="ImportLCNo";
        }
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oRefObject,
            ControllerName:sRefControllerName,
            ActionName: sActionName,
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0][sRefObjectID] > 0) {
                    var oPickerParam = {
                        winid: 'winExportOrImports',
                        winclass: 'clsExportOrImports',
                        winwidth: 750,
                        winheight: 460,
                        tableid: 'tblExportOrImports',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: searchingbyfieldName,
                        windowTittle: 'Item List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtImportOrExportRefNo").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtImportOrExportRefNo').val())===null || $.trim($('#txtImportOrExportRefNo').val())==="")
            {
                alert("Press enter with Ref No");
                return;
            }
            PickImportOrExport();
        }else if (code == 8) //backspace=8
        {
            $("#txtImportOrExportRefNo").removeClass("fontColorOfPickItem");
            $('#txtImportOrExportRefNo').data('RefItems', []);
        }
    });
    $("#btnPickImportOrExport").click(function () {
        $('#txtImportOrExportRefNo').val('');
        PickImportOrExport();
    });  
    $('#btnClearProduct').click(function(e){
        $("#txtImportOrExportRefNo").val("");
        $('#txtImportOrExportRefNo').data('RefItems', []);
        $("#txtImportOrExportRefNo").removeClass("fontColorOfPickItem");
    });
    //End Product Picker

   
    //End Product Picker
    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }
    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid === 'winSubLedgers')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtSubLedger').val(oreturnobjs.length+"'s SubLedgers seleted");
                $('#txtSubLedger').addClass('fontColorOfPickItem');
                $('#txtSubLedger').data('SubLedgers', oreturnobjs);
                $('#txtSubLedger').focus();
            }
        }
        else if (oPickerobj.winid === 'winExportOrImports')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0)
            {
                $('#txtImportOrExportRefNo').val(oreturnobjs.length+"'s Items seleted");
                $('#txtImportOrExportRefNo').addClass('fontColorOfPickItem');
                $('#txtImportOrExportRefNo').data('RefItems', oreturnobjs);
                $('#txtImportOrExportRefNo').focus();
            }
        }
       
    }
    function updateProgress() {
        var value =$('#progbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progbarParent").hide();
    }
</script>