@{
    ViewBag.Title = "ExportPIShipment List";
}
@model IEnumerable<ESimSol.BusinessObjects.ExportPIShipment>
    <div class="menuMainCollectionTable" style="height:99%">
        <table id="tblExportPIShipments" title="List Of ExportPI Shipment" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="ShipmentBy" width="80">Shipment By</th>
                    <th field="DestinationPort" width="80">Destination Port</th>
                    <th field="LastUpdateByName" width="160">Last Update By</th>
                    <th field="LastUpdateDateTimeInString" width="160">Last Update Date</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Add" iconcls="icon-add" plain="true">Add</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Edit" iconcls="icon-edit" plain="true">Edit</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="View" iconcls="icon-details" plain="true">View</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Delete" iconcls="icon-remove" plain="true">Delete</a>
        </div>
    </div>

    <div id="winExportPIShipment" class="easyui-window winstyle" title="Add ExportPI Shipment" style=" height:auto;width:60%" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="overflow:hidden;display:block;">
            <fieldset style="height:10%">
                <legend style="font-weight: bold">Add ExportPI Shipment</legend>
                <div style="overflow:hidden;display:block">
                    <div style="overflow:hidden;float:left; width:49%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            Shipment By :
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <input id="txtShipmentBy" type="text" style="float:left;width:100%" />
                        </div>
                    </div>
                    <div style="overflow:hidden;float:left; width:49%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            Destination Port:
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <input id="txtDestinationPort" type="text" style="float:left;width:100%" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div style="display:block;overflow:hidden;">
            <fieldset style="height:10%">
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:60%; text-align:right"></td>
                        <td style="width:40%;text-align:right;">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>

    <script type="text/javascript">
    $(document).ready(function (){
        debugger;
        var  oExportPIShipments  = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        $('#tblExportPIShipments').data('BaseAddress', sBaseAddress);
        $('#tblExportPIShipments').data('ExportPIShipment', oExportPIShipments);
        var oTempExportPIShipments =sessionStorage.getItem("oExportPIShipments");
        if(oTempExportPIShipments!=null)
        {
            oExportPIShipments = jQuery.parseJSON(oTempExportPIShipments);
        }
        RefreshList(oExportPIShipments);
    });


    function RefreshObject(){
        debugger;
        var oExportPIShipment={
            ExportPIShipmentID : parseInt($('#tblExportPIShipments').data('ExportPIShipment')),
            ExportPIID : 0,
            ExportBillID : 0,
            ShipmentBy : $("#txtShipmentBy").val(),
            DestinationPort : $("#txtDestinationPort").val()

        };
        return oExportPIShipment;
    }

    $("#btnAdd").click(function(){
        debugger;
        FormEnabled();
        RefreshConsumption();
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("ExportPIShipmentHeader", "Add ExportPIShipment");
        $("#winExportPIShipment").icsWindow('open', "Add ExprotPI Shipment");
    });

    function RefreshConsumption(){
        $('#tblExportPIShipments').data('ExportPIShipment',0);
        $('#txtShipmentBy').val("");
        $('#txtDestinationPort').val("");
    }

    function FormEnabled(){
        $('#txtShipmentBy').attr('disabled',false);
        $('#txtDestinationPort').attr('disabled',false);
        $('#btnSave').show();
    }

    $("#btnClose").click(function(){
        $("#winExportPIShipment").icsWindow('close');
    })


    $("#btnEdit").click(function(){
        debugger;
        FormEnabled();
        var oExportPIShipment= $('#tblExportPIShipments').datagrid('getSelected');
        var SelectedRowIndex=$('#tblExportPIShipments').datagrid('getRowIndex',oExportPIShipment);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        oExportPIShipment.ErrorMessage = "Edit ExportPIShipment";
        RefreshControl(oExportPIShipment);
        sessionStorage.setItem("ExportPIShipmentHeader", "Edit ExportPIShipment");
        $("#winExportPIShipment").icsWindow('open', "Edit ExprotPI Shipment");

    });

    $("#btnView").click(function(){
        debugger;
        var oExportPIShipment= $('#tblExportPIShipments').datagrid('getSelected');
        var SelectedRowIndex=$('#tblExportPIShipments').datagrid('getRowIndex',oExportPIShipment);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        oExportPIShipment.ErrorMessage = "View ExportPIShipment";
        RefreshControl(oExportPIShipment);
        sessionStorage.setItem("ExportPIShipmentHeader", "View ExportPIShipment");
        $("#winExportPIShipment").icsWindow('open', "View ExprotPI Shipment");

    });

    function RefreshControl(oExportPIShipment){
        debugger;
        if(oExportPIShipment.ErrorMessage == "Edit ExportPIShipment"){
            $('#tblExportPIShipments').data('ExportPIShipment', parseInt(oExportPIShipment.ExportPIShipmentID)),
            $('#txtShipmentBy').val(oExportPIShipment.ShipmentBy);
            $('#txtDestinationPort').val(oExportPIShipment.DestinationPort);

        }
        if(oExportPIShipment.ErrorMessage == "View ExportPIShipment"){
            $('#tblExportPIShipments').data('ExportPIShipment', parseInt(oExportPIShipment.ExportPIShipmentID)),
            $('#txtShipmentBy').val(oExportPIShipment.ShipmentBy);
            $('#txtDestinationPort').val(oExportPIShipment.DestinationPort);
            $('#btnSave').hide();
            $('#txtShipmentBy').attr('disabled','disabled');
            $('#txtDestinationPort').attr('disabled','disabled');
        }

      }
    function ValidateInput(){
        debugger;
        var oShipmentBy = $('#txtShipmentBy').val();
        if(oShipmentBy == "" || oShipmentBy==undefined){
            alert("Please write ShipmentBy.")
            $('#txtShipmentBy').focus();
            return false;
        }
        var oDestinationPort = $('#txtDestinationPort').val();
        if(oDestinationPort == "" || oDestinationPort==undefined){
            alert("Please write Destination Port.")
            $('#txtDestinationPort').focus();
            return false;
        }
        return true;
    }

    $('#btnSave').click(function(){
        debugger;
        if(!ValidateInput()) return;
        var oExportPIShipment=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url :  $('#tblExportPIShipments').data('BaseAddress')+ "/ExportPIShipment/Save",
            traditional: true,
            data:  JSON.stringify(oExportPIShipment),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                debugger;
                oExportPIShipment = jQuery.parseJSON(data);
                if (oExportPIShipment.ErrorMessage=="" || oExportPIShipment.ErrorMessage==null)
                {
                    alert("Data Saved sucessfully");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if(sessionStorage.getItem("ExportPIShipmentHeader") == "Add ExportPIShipment")
                    {
                        $('#tblExportPIShipments').datagrid('appendRow',oExportPIShipment);
                        var oData = $('#tblExportPIShipments').datagrid('getRows');
                        $('#tblExportPIShipments').datagrid('selectRow',oData.length-1);

                    }
                    if(sessionStorage.getItem("ExportPIShipmentHeader") == "Edit ExportPIShipment")
                    {
                        $('#tblExportPIShipments').datagrid('updateRow',{index : nIndex, row:oExportPIShipment});
                    }

                    $("#winExportPIShipment").icsWindow('close');
                }
                else
                {
                    alert(oExportPIShipment.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });
    $('#btnDelete').click(function(){
        var oExportPIShipment= $('#tblExportPIShipments').datagrid('getSelected');

        if (!confirm("Confirm to Delete?")) return ;

        if(oExportPIShipment==null || oExportPIShipment.ExportPIShipmentID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        var SelectedRowIndex=$('#tblExportPIShipments').datagrid('getRowIndex',oExportPIShipment);
        if (oExportPIShipment.ExportPIShipmentID > 0)
        {
            $.ajax ({
                type: "GET",
                dataType: "json",
                url : $('#tblExportPIShipments').data('BaseAddress')+ "/ExportPIShipment/Delete",
                data: {id: oExportPIShipment.ExportPIShipmentID},
                contentType:"application/json; charset=utf-8",
                success: function (data) {
                    //debugger;
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Deleted")
                    {
                        alert("Delete sucessfully");
                        $('#tblExportPIShipments').datagrid('deleteRow',SelectedRowIndex);

                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }
    });
    function RefreshList(oExportPIShipments) {
        debugger;
        data={"total":""+oExportPIShipments.length+"","rows":oExportPIShipments};
        $('#tblExportPIShipments').datagrid('loadData',data);
        var nSelectedRowIndex =parseInt(sessionStorage.getItem("SelectedRowIndex"));
        if(nSelectedRowIndex!=-1)
        {
            $('#tblExportPIShipment').datagrid('selectRow', nSelectedRowIndex);
        }
    }
    </script>
