<html>
<body>

    @model ESimSol.BusinessObjects.FabricSCReport
    @{
        ViewBag.Title = "Fabric Receive";
    }
    <div class="menuMainCollectionTable">

        <fieldset>
            <table id="tblFNFEO" border="0" cellspacing="1" cellpadding="1" style="width:100%; font-size:11px;">
                <tr>
                    <td class="feo-td-label">
                        <label>Order No :</label>
                    </td>
                    <td class="feo-td-info">
                        <label id="lblOrderNo" class="resetlabel"></label>
                    </td>
                    <td class="feo-td-label">
                        <label>Issue Date :</label>
                    </td>
                    <td class="feo-td-info">
                        <label id="lblDeliveryDate" class="resetlabel"></label>
                    </td>
                    <td class="feo-td-label">
                        <label>Buyer Name :</label>
                    </td>
                    <td class="feo-td-info">
                        <label id="lblBuyer" class="resetlabel"></label>
                    </td>
                </tr>
                <tr>
                    <td class="feo-td-label">
                        <label>Sourcing :</label>
                    </td>
                    <td class="feo-td-info-input">
                        <label id="lblSourcingName" class="resetlabel"></label>
                    </td>
                    <td class="feo-td-label">
                        <label>Total Order Qty :</label>
                    </td>
                    <td class="feo-td-info">
                        <label id="lblOrderQty" class="resetlabel"></label>
                    </td>
                    <td class="feo-td-label">
                        <label>Yet To Receive :</label>
                    </td>
                    <td class="feo-td-info">
                        <label id="lblReceiveQty" class="resetlabel"></label>
                    </td>
                </tr>
                <tr>
                    <td class="feo-td-label">
                        <label>Construction :</label>
                    </td>
                    <td class="feo-td-info-input">
                        <label id="lblConstruction" class="resetlabel"></label>
                    </td>
                    <td class="feo-td-label">
                        <label>DispoNo:</label>
                    </td>
                    <td class="feo-td-info">
                        <label id="lblDispoNo" class="resetlabel"></label>
                    </td>
                    @*<td class="feo-td-label" colspan="4"></td>*@
                </tr>
            </table>
        </fieldset>

        <fieldset style="height:420px">
            <div style="width:100%;">
                <table id="tblFNEXOFabricRecv" style="width:100%; font-size:11px;">
                    <tr id="regionDetailAdd">
                        <td>
                            <a id="btnAddDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                            <a id="btnEditDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                            <a id="btnDeleteDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                            <a id="btnReceive" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-receive" plain="true">Receive</a>
                            <a id="btnTransfer" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" plain="true">Transfer</a>
                            <a id="btnReturn" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-redo" plain="true">Return</a>
                            <a id="btnPrintStatement" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print Statement</a>
                        </td>
                    </tr>

                    <tr style="width:100%;">
                        <td>
                            <table id="tblFNEOFabricReceive" class="easyui-datagrid" style="height: 345px; width:95%;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="false" autorowheight="false">
                                <thead>
                                    <tr>
                                       
                                        <th data-options="field:'Selected',checkbox:true"></th>
                                        <th field="LotNo" width="10%">Roll No</th>
                                        <th field="Qty" width="8%" align="right" formatter="formatPrice">Fab.Rcv Qty (Y)</th>
                                        <th field="QtyInMeter" width="8%" align="right" formatter="formatPrice">Fab.Rcv Qty (M)</th>
                                        <th field="QtyTrIn" width="8%" align="right" formatter="formatPrice">Qty Tr.(In)</th>
                                        <th field="QtyTrOut" width="8%" align="right" formatter="formatPrice">Qty Tr.(Out)</th>
                                        <th field="QtyReturn" width="8%" align="right" formatter="formatPrice">Qty Return</th>
                                        <th field="QtyCon" width="8%" align="right" formatter="formatPrice">Qty Consumption</th>        
                                        <th field="YetToTransferQty" width="8%" align="right" formatter="formatPrice">Balance(Y)</th>                             
                                        <th field="FabricSource" width="8%" align="center">Fabric Source</th>
                                        <th field="ReceiveDateInStr" width="8%" align="center">Receive Date</th>
                                        <th field="ReceiveByName" width="10%">Receive By</th>
                                    </tr>
                                </thead>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <div  style="width:100%">
                                <div style="float:left; width:10%; text-align:right;"><label><b>Total:</b></label></div>
                                <div style="float:left; width:12%; text-align:right;"><label id="lblQtyYard" class="lblSummary">0.00</label></div>
                                <div style="float:left; width:12%; text-align:right;"><label id="lblQtyMeter" class="lblSummary">0.00</label></div>
                                <div style="float:left; width:12%; text-align:right;"><label id="lblQtyTrIn" class="lblSummary">0.00</label></div>
                                <div style="float:left; width:12%; text-align:right;"><label id="lblQtyTrOut" class="lblSummary">0.00</label></div>
                                <div style="float:left; width:12%; text-align:right;"><label id="lblQtyReturn" class="lblSummary">0.00</label></div>
                                <div style="float:left; width:12%; text-align:right;"><label id="lblQtyCon" class="lblSummary">0.00</label></div>
                            </div>
                        </td>
                    </tr>

                </table>
            </div>
        </fieldset>

        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <div style="float:left; width:100%">
                @*<div style="float:right; text-align:left; width:75%;">
                    <a><i style="color:green;font-size:9px">Qty Tr.(In)=>TransferIn,Qty Tr.(Out)=>TransferOut,Qty Tr.(Return)=>TransferReturn<br />
                           Qty Tr.(Con)=>TransferConsumption
                    </i></a>
                </div>*@
                <div style="float:right; text-align:right; width:20%;">
                    <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                </div>

            </div>
        </fieldset>
    </div>
</body>
</html>

<div id="winFNOrderFabricReceive" class="easyui-window winstyle" title="Add Fabric QC Grades" style=" height:auto;width:60%" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
    <div style="overflow:hidden;display:block;">
        <fieldset style="height:10%">
            <legend style="font-weight: bold">Add FNOrder Fabric Receive</legend>
            <div style="overflow:hidden;display:block">
                <div style="overflow:hidden;float:left; width:49%">
                    <div style="overflow:hidden;float:left;width:30%;text-align:right">
                       Store Name:
                    </div>
                    <div style="overflow:hidden;float:left;width:70%">
                        <select id="cboWU" style="width:100%;"></select>
                    </div>
                </div>
                <div style="overflow:hidden;float:left; width:49%">
                    <div style="overflow:hidden;float:left;width:30%;text-align:right">
                       Source:
                    </div>
                    <div style="overflow:hidden;float:left;width:70%">
                        <input type="text" id="txtFabricSource" style="width:100%;" placeholder="Fabric Source"/>
                    </div>
                </div>
            </div>
            <div style="overflow:hidden;display:block;margin-top:5px">
                <div style="overflow:hidden;float:left; width:49%">
                    <div style="overflow:hidden;float:left;width:30%;text-align:right">
                        Roll No:
                    </div>
                    <div style="overflow:hidden;float:left;width:70%">
                        <input type="text" id="txtLotNo" style="float:left;width:100%" placeholder="Roll No" />

                    </div>
                </div>
                <div style="overflow:hidden;float:left; width:49%">
                    <div style="overflow:hidden;float:left;width:30%;text-align:right">
                        Qty:
                    </div>
                    <div style="overflow:hidden;float:left;width:70%">
                       <div class="region-maker">
                        <label>Y</label>
                        <input type="text" id="txtQtyInYard" class="number-box label-place resetfield" type="text" />
                    </div>
                    <div class="region-maker">
                        <label>M</label>
                        <input type="text" id="txtQtyInMeter" class="number-box label-place resetfield" type="text" />
                    </div>                       
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div style="display:block;overflow:hidden;">
        <fieldset style="height:10%">
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                <tr>
                    <td style="width:60%; text-align:right"></td>
                    <td style="width:40%;text-align:right;">
                        <a id="btnFNOrderFRSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        <a id="btnFNOrderFRClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>
<div id="winFNOrderFabricReceiveTransfer" class="easyui-window winstyle" style=" height:auto;width:60%" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false" >
    <div style="overflow:hidden;display:block;">
        <fieldset style="height:10%">
            <legend style="font-weight: bold">Fabric Tranfer</legend>
            <div style="overflow:hidden;display:block">
                <div style="overflow:hidden;float:left; width:95%">
                    <div style="overflow:hidden;float:left;width:30%;text-align:right">
                        <label id="lblDestOrder">Destination Order:</label>
                    </div>
                    <div style="overflow:hidden;float:left;width:70%">
                        <input type="text" id="txtDestOrder" style="width:60%;" placeholder="Search By Dispo.." />
                        @*<input id="btnDestOrderPick" type="button" value="Pick" style="width:15%" />*@
                        <input id="btnDestOrderClear" type="button" value="Clear" style="width:15%" />
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div title="Fabric Transfer" style="display:block;overflow:hidden;height:300px">
        <table id="tblFNOrderFabricReceiveTransfer" class="easyui-datagrid" fitcolumns="false" rownumbers="true" pagination="false" autorowheight="false" toolbar=" #toolbar3" style="height:310px" data-options="onClickRow: onClickRowTransfer" singleselect="true" selectoncheck="false" checkonselect="false">
            <thead>
                <tr>
                    <th data-options="field:'Selected',checkbox:true"></th>
                    <th field="LotNo" align="center" width="10%">Roll No</th>
                    <th field="Qty" align="right" width="10%">Rcved Qty(Y)</th>
                    <th field="QtyInMeter" align="right" width="10%">Rcved Qty(M)</th>
                    <th field="AlreadyTransferQty" formatter="formatPrice" align="right" width="12%">Already Transfered(Y)</th>
                    <th field="QtyReturn" formatter="formatPrice" align="right" width="10%">Returned Qty(Y)</th>
                    <th field="YetToTransferQty" formatter="formatPrice" align="right" width="10%">Balance(Y)</th>
                    <th field="TransferQty" formatter="formatPrice" width="10%" align="right">Transfer Qty(Y)</th>
                    @*<th data-options="field:'TransferQty',align:'right',editor:{type:'numberbox',options:{precision:6}}" width="10%" align="right">Transfer Qty(Y)</th>*@
                    <th data-options="field:'TransferQtyInMtr',align:'right',editor:{type:'numberbox',options:{precision:6}}" width="12%" align="right">Transfer Qty(M)</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar3">
            <a id="btnFNOrderRefresh" href="javascript:void(0)" class="easyui-linkbutton" onclick="endEditingTransfer()" iconcls="icon-reload" plain="true">Refresh</a>
        </div>
    </div>
    <div style="display:block;overflow:hidden;">
        <fieldset style="height:10%">
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                <tr>
                    <td style="width:40%; text-align:left;">
                    </td>
                    <td style="width:50%; float:right">
                        <a id="btnFNOrderTransferSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" plain="true">Transfer</a>
                        <a id="btnFNOrderTransferClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>
<div id="winFNOrderFabricReceiveReturn" class="easyui-window winstyle" style=" height:auto;width:50%" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
    <div style="overflow:hidden;display:block;">
    </div>
    <div title="Fabric Return" style="display:block;overflow:hidden;height:300px">
            <table id="tblFNOrderFabricReceiveReturn" class="easyui-datagrid"  fitcolumns="false" rownumbers="true" pagination="false" autorowheight="false" toolbar="#toolbar4" style="height:310px" data-options="onClickRow: onClickRowReturn" singleselect="true" selectoncheck="false" checkonselect="false">
                <thead>
                    <tr>
                        <th data-options="field:'Selected',checkbox:true"></th>
                        <th field="LotNo" align="center" width="12%">Roll No</th>
                        <th field="Qty" align="right" width="12%">Rcved Qty(Y)</th>
                        <th field="QtyInMeter" align="right" width="12%">Rcved Qty(M)</th>
                        <th field="QtyReturn" formatter="formatPrice" align="right" width="12%">Already Returned(Y)</th>
                        <th field="YetToTransferQty" formatter="formatPrice" align="right" width="12%">Balance(Y)</th>
                        <th field="tmpReturnQty" formatter="formatPrice" align="right" width="12%">Return Qty(Y)</th>
                        @*<th data-options="field:'tmpReturnQty',align:'right',editor:{type:'numberbox',options:{precision:6}}" width="12%" align="right">Return Qty(Y)</th>*@
                        <th data-options="field:'TransferQtyInMtr',align:'right',editor:{type:'numberbox',options:{precision:6}}" width="12%" align="right">Return Qty(M)</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbar4">
                <a id="btnFNOrderRefreshReturn" href="javascript:void(0)" class="easyui-linkbutton" onclick="onClickRowReturn()" iconcls="icon-reload" plain="true">Refresh</a>
            </div>
</div>
    <div style="display:block;overflow:hidden;">
        <fieldset style="height:10%">
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                <tr>
                    <td style="width:40%; text-align:left;">
                    </td>
                    <td style="width:50%; float:right">
                        <a id="btnFNOrderReturnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" plain="true">Return</a>
                        <a id="btnFNOrderReturnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>

<style type="text/css">
    .styleformat input {
        text-align: left;
        font-size: 11px;
        width: 44%;
    }

    .styleformat select {
        text-align: left;
        font-size: 12px;
        width: 44%;
    }

    .feo-td-label {
        width: 12%;
        text-align: right;
        font-weight: bold;
    }

    .feo-td-info, .feo-td-info-input {
        width: 20%;
        text-align: left;
    }

    .feo-td-info input {
        width: 95%;
        text-align: left;
        font-size: 11px;
    }
    .feo-td-info-Input-Converter input {
        width: 45%;
        text-align: left;
        font-size: 11px;
    }
    .feo-td-info select {
        width: 98%;
        text-align: left;
        font-size: 11px;
    }

    .region-maker {
        float:left;
        width: 115px;
        border: 1px solid gray;
        font-size: 13px;
        margin-right: 5px;
    }

    .label-place {
        border: 0;
        width: 70px;
        font-size: 11px;
    }

</style>

<script type="text/javascript">
    var _sBaseAddress='';
    var _oFNEO=null;
    var _oFNExeOFRs=[];
    var oFNEO = [];
    var _nFEOID = 0;
    var _FSCDID = 0;
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        oFNEO =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oFNExeOFRs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.FNExeOFRs));
        var oWUs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.WUs));
        _FSCDID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.FSCDID));
        _nFEOID = oFNEO.FabricSalesContractID;
        $("#cboWU").icsLoadCombo({
            List: oWUs,
            OptionValue: "WorkingUnitID",
            DisplayText: "WorkingUnitName",
            InitialValue:"-Select Value-"
        });
        $("#cboInOutType").val(101);
        $('.number-box').icsCurrencyBox();
        Initialization(oFNEO,((sessionStorage.length>0)?sessionStorage.getItem('Operation'):'New'));
    });

    $(document).keydown(function (e) { if (e.keyCode == 27) { $('#div').icsWindow('close'); } });

    $('#tblFNEOFabricReceive').datagrid({ onSelect: function (rowIndex, rowData) { OperationPerforms(rowIndex, rowData); } });

    function OperationPerforms(rowIndex, rowData) {
        if (rowData != null && rowData.FNOrderFabricReceiveID > 0) {
            if (rowData.ReceiveBy!=0) {
                //$('#btnDeleteDetail,#btnReceive,#btnReturn').hide();
            }
            else {         
                $('#btnDeleteDetail,#btnReceive').show();
                $('#btnDeleteDetail').show();
            }
        }
    }

    function Initialization(oFNEO,sOperation){
        ResetControl();
        RefreshControl(oFNEO);
       if(sOperation=="View")
        {
            $('input,select').prop('disabled',true);
        }
    }

    function ResetControl(){
        $('input,select').not('.Isdisabled').prop('disabled',false);
        $('.lblSummary').text('0.00');
        $("#tblFNFEO .resetlabel").text("");
        $("#tblFNEXOFabricRecv .resetfield").val("");
        DynamicRefreshList([],'tblFNEOFabricReceive');
        SummaryCalculation();
    }


    function RefreshControl(oFNEO){
        debugger;
        _oFNEO=oFNEO;
        $('#lblOrderNo').text(oFNEO.SCNoFull);
        $("#lblConstruction").text(oFNEO.Construction);
        $("#lblDispoNo").text(oFNEO.ExeNo);
        $('#lblDeliveryDate').text(oFNEO.SCDateSt);
        $('#lblBuyer').text(oFNEO.BuyerName);
        $('#lblSourcingName').text((oFNEO.IsInHouse)? "In House": "Buyer");


        DynamicRefreshList(_oFNExeOFRs,'tblFNEOFabricReceive');
        $('#lblOrderQty').text("Y "+ formatPrice(oFNEO.Qty)+ ' /  M '+ formatPrice(GetMeter(oFNEO.Qty, 2)));


        var nYetToProductionQty= parseFloat(oFNEO.Qty)-parseFloat(GetReceiveQuantity());
        $('#lblReceiveQty').text("Y "+ formatPrice(nYetToProductionQty)+ ' /  M '+ formatPrice(GetMeter(nYetToProductionQty, 2)));

        //$('#lblReceiveQty').text("Y "+ formatPrice(oFNEO.YetToProductionQty)+ ' /  M '+ formatPrice(GetMeter(oFNEO.YetToProductionQty, 2)));

        SummaryCalculation();
    }

    $('#txtQtyInYard').keyup(function(e)
    {
        $('#txtQtyInMeter').val(formatPrice(GetMeter(icsRemoveComma($('#txtQtyInYard').val()), 6)));
    });

    $('#txtQtyInMeter').keyup(function(e)
    {
        $('#txtQtyInYard').val(formatPrice(GetYard(icsRemoveComma($('#txtQtyInMeter').val()), 6)));
    });


    function Validation(){
        if($("#cboInOutType").val()<=0){
            $('#cboInOutType').focus();
            $('#cboInOutType').addClass("errorFieldBorder");
            alert('Please select In/Out Type!!');
            return false;
        }
        if($("#cboWU").val()<=0){
            $('#cboWU').focus();
            $('#cboWU').addClass("errorFieldBorder");
            alert('Please select working unit.');
            return false;
        }
        else{
            $('#cboWU').removeClass("errorFieldBorder");
        }

        if($.trim($('#txtLotNo').val())==""){
            $('#txtLotNo').focus();
            $('#txtLotNo').addClass("errorFieldBorder");
            alert('Give  a roll no.');
            return false;
        }
        else{
            $('#txtLotNo').removeClass("errorFieldBorder");
        }

        if($.trim($('#txtQtyInYard').val().toString())=="" || parseFloat(icsRemoveComma($('#txtQtyInYard').val()))<=0){
            $('#txtQtyInYard').focus();
            $('#txtQtyInYard').addClass("errorFieldBorder");
            alert('Length must be greater than zero.');
            return false;
        }
        else{
            $('#txtQtyInYard').removeClass("errorFieldBorder");
        }
        return true;
    }

    function Add()
    {
        if(!Validation()){ return false;}
        var oFNExeOFR={
            FNOrderFabricReceiveID : $('#tblFNEOFabricReceive').data('FNOrderFabricReceiveID'),
            FSCDID : (_oFNEO!=null && _oFNEO.FabricSalesContractDetailID>0)? _oFNEO.FabricSalesContractDetailID:0,
            LotID : 0,
            FabricSource: $('#txtFabricSource').val(),
            Qty : icsRemoveComma($('#txtQtyInYard').val()),
            FDCID :0,
            ProductID : 0, //Check
            LotNo: $('#txtLotNo').val(),
            WUID: $("#cboWU").val(),
            FEOID : _nFEOID
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFNExeOFR,
            ObjectId: oFNExeOFR.FNOrderFabricReceiveID,
            ControllerName: "FabricSCReport",
            ActionName: "SaveFNExeOFR",
            TableId: "tblFNEOFabricReceive",
            IsWinClose: false,
            Message: ""
        };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                if (response.obj.FNOrderFabricReceiveID > 0) {
                    debugger;
                    SummaryCalculation();
                    RefreshConsumption();
                    $('#btnReceive').show();
                    alert("Saved Successfully");
                    $("#winFNOrderFabricReceive").icsWindow('close');
                }
            }
        });
    }

    $("#txtLotNo").keydown(function(e){
        if(e.keyCode===13){
            if($.trim($(this).val()) == ""){
                alert("Give roll no.");
                $(this).focus();
                return false;
            }
            $("#txtQtyInYard").focus();
        }
    });

    $("#txtQtyInYard,#txtQtyInMeter").keydown(function(e){
        if(e.keyCode===13)
        {
            Add();
        }
    });

    $('#btnDeleteDetail').click(function(e)
    {
        var oFNExeOFR= $('#tblFNEOFabricReceive').datagrid('getSelected');
        if(oFNExeOFR.ReceiveBy !=0){
            alert("This Item Already Received!Unable to Delete.");
            return;
        }
        if(oFNExeOFR==null || oFNExeOFR.FNOrderFabricReceiveID<=0){ alert("Please select a item from list."); return; }
        if(oFNExeOFR.ReceiveBy!=0){ alert("Already received."); return; }
        if (!confirm("Confirm to Delete?")) { return false; }
        var obj =
        {
           BaseAddress: _sBaseAddress,
           Object: oFNExeOFR,
           ControllerName: "FabricSCReport",
           ActionName: "DeleteFNExeOFR",
           TableId: "tblFNEOFabricReceive",
           IsWinClose: false,
           Message:''
        };
        $.icsDelete(obj, function (response) {
            if (response.status && response.Message.toLowerCase() =="deleted") {
                SummaryCalculation();
            }
        });
    });


    function SummaryCalculation(){

        var nQty = 0, nQtyInMeter = 0,nQtyTrIn = 0,nQtyTrOut = 0,nQtyTrReturn = 0,nQtyTrCon = 0;
        var oFNEONotes=$('#tblFNEOFabricReceive').datagrid('getRows');

        if(oFNEONotes.length>0){
            for(var i=0; i<oFNEONotes.length;i++){
                nQty = parseFloat(nQty) + parseFloat(oFNEONotes[i].Qty) ;
                nQtyInMeter = parseFloat(nQtyInMeter) + parseFloat(oFNEONotes[i].QtyInMeter);
                nQtyTrIn = parseFloat(nQtyTrIn) + parseFloat(oFNEONotes[i].QtyTrIn);
                nQtyTrOut = parseFloat(nQtyTrOut) + parseFloat(oFNEONotes[i].QtyTrOut);
                nQtyTrReturn = parseFloat(nQtyTrReturn) + parseFloat(oFNEONotes[i].QtyTrReturn);
                nQtyTrCon = parseFloat(nQtyTrCon) + parseFloat(oFNEONotes[i].QtyTrCon);
            }
        }

        $('#lblQtyYard').text(formatPrice(nQty));
        $('#lblQtyMeter').text(formatPrice(nQtyInMeter));
        $('#lblQtyTrIn').text(formatPrice(nQtyTrIn));
        $('#lblQtyTrOut').text(formatPrice(nQtyTrOut));
        $('#lblQtyTrReturn').text(formatPrice(nQtyTrReturn));
        $('#lblQtyTrCon').text(formatPrice(nQtyTrCon));
    }

    $('#btnReceive').click(function (e)
    {
        var SelectedRowIndex = [];
        var nSelectedIndex = 0;
        var count = 0; 
        var oFNExeOFRs= $('#tblFNEOFabricReceive').datagrid('getChecked');
        if(oFNExeOFRs==null || oFNExeOFRs.FNOrderFabricReceiveID<=0){ alert("Please select a item from list."); return; }

        for (var i = 0; i < oFNExeOFRs.length; i++) {
            SelectedRowIndex[i] = $('#tblFNEOFabricReceive').datagrid('getRowIndex', oFNExeOFRs[i]);
            if (parseInt(oFNExeOFRs[i].ReceiveBy) == 0) {
                count++;
            }
        }

        if (count == 0) {
            alert("your entry already received!");
            return false;
        }           
        var oFNEOFabricReceive = {
            ErrorMessage : ICS_PropertyConcatation(oFNExeOFRs, 'FNOrderFabricReceiveID'),
            FSCDID : _FSCDID
        };
        if (!confirm("Confirm Receive?")) return ;
        $.ajax
           ({
               type: "POST",
               dataType: "json",
               url : _sBaseAddress+ "/FabricSCReport/ReceiveFNExeOFR",
               data: JSON.stringify(oFNEOFabricReceive),
               contentType:"application/json; charset=utf-8",
               success: function (data) {
                   var oFNEOFabricReceives = jQuery.parseJSON(data);
                   if (oFNEOFabricReceives.length>0)
                   {
                       if (oFNEOFabricReceives.length>0) {          
                           alert("Received sucessfully");
                           DynamicRefreshList([],'tblFNEOFabricReceive');
                           DynamicRefreshList(oFNEOFabricReceives,'tblFNEOFabricReceive');
                       }
                   }
                   else
                   {
                       alert("Failed to Receive");
                   }
               },
               error: function (xhr, status, error)
               {
                   alert(error);
               }

           });
    });

    //$('#btnReturn').click(function (e)
    //{
    //    var oFNExeOFR= $('#tblFNEOFabricReceive').datagrid('getSelected');
    //    if(oFNExeOFR==null || oFNExeOFR.FNExeFRID<=0){ alert("Please select a item from list."); return; }
    //    if(oFNExeOFR.InOutType==101){ alert("You can not return it!!"); return; }
    //    if(oFNExeOFR.ReceiveBy!=0){ alert("Already returned."); return; }
    //    if (!confirm("Confirm to receive?")) { return false; }
    //    var obj = {
    //        BaseAddress: _sBaseAddress,
    //        Object: oFNExeOFR,
    //        ObjectId: oFNExeOFR.FNExeFRID,
    //        ControllerName: "FabricSCReport",
    //        ActionName: "ReceiveFNExeOFR",
    //        TableId: "tblFNEOFabricReceive",
    //        IsWinClose: false,
    //        Message: ""
    //    };
    //    $.icsSave(obj, function (response) {
    //        if (response.status && response.obj != null) {
    //            if (response.obj.FNExeFRID > 0 && response.obj.ReceiveBy!=0) {
    //                alert("Return successfully");
    //                $('#btnReturn,#btnDeleteDetail').hide();
    //                var nYetToProductionQty= parseFloat(_oFNEO.Qty)-parseFloat(GetReceiveQuantity());
    //                $('#lblReceiveQty').text("Y "+ formatPrice(nYetToProductionQty)+ ' /  M '+ formatPrice(GetMeter(nYetToProductionQty, 2)));
    //            }
    //        }
    //    });
    //});

    $('#btnClose').click(function(e){
        window.close();
    });

    function GetReceiveQuantity(){
        var nReceiveQty=0;            debugger;
        var oFNExeOFRs= $('#tblFNEOFabricReceive').datagrid('getRows');
        for(var i=0; i<oFNExeOFRs.length;i++)
        {
            debugger;
            if(oFNExeOFRs[i].ReceiveBy>0){
                nReceiveQty = parseFloat(nReceiveQty)+parseFloat(oFNExeOFRs[i].Qty);
            }
        }
        return nReceiveQty;
    }


    function SetIntoSessionStorage(){

        var oFNExecutionOrders= (sessionStorage.getItem('FNExecutionOrders').length>0)? jQuery.parseJSON(sessionStorage.getItem('FNExecutionOrders')):[] ;
        var nIndex=sessionStorage.getItem('SelectedRowIndex');

        if(nIndex!=-1 && oFNExecutionOrders.length>0){
            oFNExecutionOrders[nIndex].ReceiveQty=GetReceiveQuantity();
        }

        var sBackLink=sessionStorage.getItem('BackLink');
        sessionStorage.clear();
        sessionStorage.setItem("BackLink", sBackLink);
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("FNExecutionOrders", JSON.stringify(oFNExecutionOrders));
    }

    $("#btnAddDetail").click(function(){
        debugger;
        RefreshConsumption();
        $("#winFNOrderFabricReceive").icsWindow('open', "Add FNOrderFabricReceive");
    });
    $("#btnEditDetail").click(function(){
        debugger;
        var oFNOrderFabricReceive= $('#tblFNEOFabricReceive').datagrid('getSelected');
        if(oFNOrderFabricReceive.ReceiveBy !=0){
            alert("This Item Already Received!");
            return;
        }
        if(oFNOrderFabricReceive== null || oFNOrderFabricReceive.FNOrderFabricReceiveID<=0){
            alert("Please Select One Item!");
            return;
        }
        var SelectedRowIndex=$('#tblFNEOFabricReceive').datagrid('getRowIndex',oFNOrderFabricReceive);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        oFNOrderFabricReceive.ErrorMessage = "Edit FNOrderFabricReceive";
        EditControl(oFNOrderFabricReceive);
        sessionStorage.setItem("FNEOFabricReceiveHeader", "Edit FNOrderFabricReceive");
        $("#winFNOrderFabricReceive").icsWindow('open', "Edit FNOrderFabricReceive");

    });

    function EditControl(oFNOrderFabricReceive){
        if(oFNOrderFabricReceive.ErrorMessage == "Edit FNOrderFabricReceive"){
            $('#tblFNEOFabricReceive').data('FNOrderFabricReceiveID', parseInt(oFNOrderFabricReceive.FNOrderFabricReceiveID)),
            $('#cboWU').val(oFNOrderFabricReceive.WUID);
            $('#txtLotNo').val(oFNOrderFabricReceive.LotNo);
            $('#txtFabricSource').val(oFNOrderFabricReceive.FabricSource);
            $('#txtQtyInYard').val(icsAddComma(parseFloat(oFNOrderFabricReceive.Qty)));
            $('#txtQtyInMeter').val(icsAddComma(parseFloat(oFNOrderFabricReceive.QtyInMeter)));
        }
    }

    $('#btnFNOrderFRSave').click(function(){
        debugger;
        Add();   
    });
    $("#btnFNOrderFRClose").click(function(){
        $("#winFNOrderFabricReceive").icsWindow('close');
    });

    function RefreshConsumption(){
        $('#tblFNEOFabricReceive').data('FNOrderFabricReceiveID',0);
        $('#cboWU').val(0);
        $('#txtLotNo').val("");
        $('#txtFabricSource').val("");
        $('#txtQtyInYard').val(formatPrice(null, 6));
        $('#txtQtyInMeter').val(formatPrice(null, 6));
    }
    $("#btnFNOrderTransferClose").click(function(){
        $("#winFNOrderFabricReceiveTransfer").icsWindow('close');
        var oReloads={
            FSCDID : parseInt(_FSCDID)
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+ "/FabricSCReport/ReloadData",
            traditional: true,
            data:  JSON.stringify(oReloads),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                debugger;
                _oFNOFabricRcvs = data;
                if (_oFNOFabricRcvs.length>0)
                {
                    DynamicRefreshList(_oFNOFabricRcvs,'tblFNEOFabricReceive');
                }
                else
                {
                    //RefreshConsumption();
                    DynamicRefreshList([],'tblFNEOFabricReceive');
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
        
    });
    $("#btnFNOrderReturnClose").click(function(){
        $("#winFNOrderFabricReceiveReturn").icsWindow('close');
        var oReloads={
            FSCDID : parseInt(_FSCDID)
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+ "/FabricSCReport/ReloadData",
            traditional: true,
            data:  JSON.stringify(oReloads),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                debugger;
                _oFNOFabricRcvs = data;
                if (_oFNOFabricRcvs.length>0)
                {
                    DynamicRefreshList(_oFNOFabricRcvs,'tblFNEOFabricReceive');
                }
                else
                {
                    //RefreshConsumption();
                    DynamicRefreshList([],'tblFNEOFabricReceive');
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });
    //****************************(Destination Order Picker)*********************************//
    $("#txtDestOrder").keydown(function (e) {
        debugger;
        var sDispo = $('#txtDestOrder').val();
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if(sDispo===null || sDispo==="")
            {
                alert("Please Search By Dispo!");
                return;
            }
            else{
                PickDestOrderByDispo(sDispo);
            }
        }
    });
    ///DestOrderByDispo Pick
    function PickDestOrderByDispo(sDispo)
    {
        debugger;
        var oFabricSCReport = { ErrorMessage: sDispo ,ExeNo : oFNEO.ExeNo};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFabricSCReport,
            ControllerName: "FabricSCReport",
            ActionName: "GetOrderByDispo",
            IsWinClose: false
        };
        debugger;
        var tblColums = [];
        var oColumn = { field: "SCDateSt", title: "PO Issue Date", width: 200, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "FabricReceiveDateStr", title: "Receive Date", width: 120, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ExeNo", title: "Dispo No", width: 90, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "SCNoFull", title: "PO No", width: 90, align: "left" }; tblColums.push(oColumn);

        var oPicker = {
            winid: 'winDestOrder',
            winclass: 'clsDestOrder',
            winwidth: 600,
            winheight: 460,
            tableid: 'tblDestOrder',
            tablecolumns: tblColums,
            multiplereturn: false,
            searchingbyfieldName: 'ExeNo',
            windowTittle: 'Dispo No',
            paramObj: obj,
            pkID: 'FabricSalesContractDetailID',
            callBack: SetDispo
        };
        $.icsDynamicPicker(oPicker);
    }
    function SetDispo(oResult)
    {
        debugger;
        if(oResult.FabricSalesContractDetailID>0)
        {
            $('#txtDestOrder').data('FabricSalesContractDetailID', oResult.FabricSalesContractDetailID);
            $('#txtDestOrder').val(oResult.ExeNo);
            $('#txtDestOrder').addClass('fontColorOfPickItem');
        }
        else
        {
            $('#txtDestOrder').val('');
            $('#txtDestOrder').data('FabricSalesContractDetailID', '');
            $('#txtDestOrder').removeClass('fontColorOfPickItem');
        }
    }

    $("#btnDestOrderPick").click(function(){
        var sDispo = $('#txtDestOrder').val();
        if(sDispo!="" || sDispo!=null){
            alert("Please Search By Dispo!");
            return;
        }
        else{
            PickDestOrderByDispo(sDispo);
        }
    });
    $("#btnDestOrderClear").click(function(){
        $('#txtDestOrder').val('');
        $('#txtDestOrder').data('FabricSalesContractDetailID', '');
        $('#txtDestOrder').removeClass('fontColorOfPickItem');
    });

    $("#btnTransfer").click(function(){
        debugger;
        endEditingTransfer();

        $('#txtDestOrder').val('');
            var oTransfer={
                FSCDID : parseInt(_FSCDID)
            }
        $.ajax({
            type: "POST",
            dataType: "json",
            url :  _sBaseAddress+ "/FabricSCReport/GetRollForTransfer",
            traditional: true,
            data:  JSON.stringify(oTransfer),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                debugger;
                _oFNOFabricRcvs = data;
                if (_oFNOFabricRcvs.length>0)
                {
                    DynamicRefreshList(_oFNOFabricRcvs,'tblFNOrderFabricReceiveTransfer');
                }
                else
                {
                    //RefreshConsumption();
                    DynamicRefreshList([],'tblFNOrderFabricReceiveTransfer');
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

        $("#winFNOrderFabricReceiveTransfer").icsWindow('open', "Fabric Transfer");
    });
    $("#btnReturn").click(function(){
        debugger;
        endEditingReturn();
        var oTransfer={
            FSCDID : parseInt(_FSCDID)
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url :  _sBaseAddress+ "/FabricSCReport/GetRollForTransfer",
            traditional: true,
            data:  JSON.stringify(oTransfer),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                debugger;
                _oFNOFabricRcvs = data;
                if (_oFNOFabricRcvs.length>0)
                {
                    DynamicRefreshList(_oFNOFabricRcvs,'tblFNOrderFabricReceiveReturn');
                }
                else
                {
                    DynamicRefreshList([],'tblFNOrderFabricReceiveReturn');
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

        $("#winFNOrderFabricReceiveReturn").icsWindow('open', "Fabric Return");
    });

    //transfer edit row
    function onClickRowTransfer(index){
        debugger;
        if (editIndexTransfer != index){
            if (endEditingTransfer())
            {
                $('#tblFNOrderFabricReceiveTransfer').datagrid('selectRow', index).datagrid('beginEdit', index);
                editIndexTransfer = index;
            }
            else
            {
                $('#tblFNOrderFabricReceiveTransfer').datagrid('selectRow', editIndexTransfer);
            }
        }
    }

    var editIndexTransfer = undefined;
    function endEditingTransfer(){
        debugger;
        if (editIndexTransfer == undefined){return true}
        if ($('#tblFNOrderFabricReceiveTransfer').datagrid('validateRow', editIndexTransfer)){
            $('#tblFNOrderFabricReceiveTransfer').datagrid('endEdit', editIndexTransfer);
            $('#tblFNOrderFabricReceiveTransfer').datagrid('selectRow',editIndexTransfer);
            var oFNOFRT=$('#tblFNOrderFabricReceiveTransfer').datagrid('getSelected');
            var nSelectedRowIndex=$('#tblFNOrderFabricReceiveTransfer').datagrid('getRowIndex',oFNOFRT);
            oFNOFRT.TransferQty=parseFloat(GetYard(parseFloat(oFNOFRT.TransferQtyInMtr),2));
            $('#tblFNOrderFabricReceiveTransfer').datagrid('updateRow', { index: nSelectedRowIndex, row: oFNOFRT });
            editIndexTransfer = undefined;
            return true;
        }
        else
        {
            return false;
        }
    }
    //return edit row
    function onClickRowReturn(index){
        debugger;
        if (editIndexReturn != index){
            if (endEditingReturn())
            {
                $('#tblFNOrderFabricReceiveReturn').datagrid('selectRow', index).datagrid('beginEdit', index);
                editIndexReturn = index;
            }
            else
            {
                $('#tblFNOrderFabricReceiveReturn').datagrid('selectRow', editIndexReturn);
            }
        }
    }
    var editIndexReturn = undefined;
    function endEditingReturn(){
        if (editIndexReturn == undefined){return true}
        if ($('#tblFNOrderFabricReceiveReturn').datagrid('validateRow', editIndexReturn)){
            $('#tblFNOrderFabricReceiveReturn').datagrid('endEdit', editIndexReturn);
            $('#tblFNOrderFabricReceiveReturn').datagrid('selectRow',editIndexReturn);
            var oFNOrderFRReturn=$('#tblFNOrderFabricReceiveReturn').datagrid('getSelected');
            var nSelectedRowIndex=$('#tblFNOrderFabricReceiveReturn').datagrid('getRowIndex',oFNOrderFRReturn);
            oFNOrderFRReturn.tmpReturnQty=parseFloat(GetYard(parseFloat(oFNOrderFRReturn.TransferQtyInMtr),2));

            $('#tblFNOrderFabricReceiveReturn').datagrid('updateRow', { index: nSelectedRowIndex, row: oFNOrderFRReturn });

            editIndexReturn = undefined;
            return true;
        }
        else
        {
            return false;
        }
    }

    $("#btnFNOrderTransferSave").click(function(){
        debugger;
        endEditingTransfer();
        var _oFNOrderFabricReceives = $('#tblFNOrderFabricReceiveTransfer').datagrid('getChecked');
        if(_oFNOrderFabricReceives.length <=0){
            alert("Please Select At least one item!");
            return;
        }
        var oList = [];
        var isFlag  = false;
        var nCount = 0;
        for(var i=0; i<_oFNOrderFabricReceives.length; i++)
        {
            var oNewObject = _oFNOrderFabricReceives[i];
            oNewObject.FNOrderFabricReceiveID_from = _oFNOrderFabricReceives[i].FNOrderFabricReceiveID;
            oNewObject.FSCDID = _FSCDID;
            oNewObject.FSCDID_from = _FSCDID;
            oNewObject.FSCDID_To = $('#txtDestOrder').data('FabricSalesContractDetailID');
            oNewObject.Qty_from = _oFNOrderFabricReceives[i].TransferQty;
    
            //if(oNewObject.YetToTransferQty>=_oFNOrderFabricReceives[i].TransferQty){
            //    isFlag = true;
            //    nCount++;             
            //}

            if(oNewObject.YetToTransferQty<_oFNOrderFabricReceives[i].TransferQty || _oFNOrderFabricReceives[i].TransferQty==0)
            {
                //alert("Roll "+_oFNOrderFabricReceives[i].LotNo+" transfer Qty not exceed to "+_oFNOrderFabricReceives[i].YetToTransferQty);
                //isFlag = false;
                alert("Unable to Transfer!Pls check all Transfer Qty!");
                return;
            }
            else
            {
                oList.push(oNewObject);
            }
        };

        var oFabricSCReport = {          
            FSCDID : _FSCDID,
            oFNOrderFabricReceives: oList
        };
        if($('#txtDestOrder').data('FabricSalesContractDetailID')<=0 ||$('#txtDestOrder').data('FabricSalesContractDetailID') == undefined ) {alert("Destination Order Required!"); return;}
        $.ajax
          ({
              type: "POST",
              dataType: "json",
              url : _sBaseAddress+ "/FabricSCReport/FNOrderTransferSave",
              data: JSON.stringify(oFabricSCReport),
              contentType:"application/json; charset=utf-8",
              success: function (data) {
                  var oFNEOFabricTransfers = jQuery.parseJSON(data);              
                  if (oFNEOFabricTransfers.length>0) 
                  {   
                          alert("Transfer Successfully");
                          DynamicRefreshList([],'tblFNOrderFabricReceiveTransfer');
                          DynamicRefreshList(oFNEOFabricTransfers,'tblFNOrderFabricReceiveTransfer');
                         
                   }                 
                  else
                  {
                        alert("Failed To Transfer!");
                  }
              },
              error: function (xhr, status, error)
              {
                  alert(error);
              }

          });
    });
    $("#btnFNOrderReturnSave").click(function(){
        debugger;
        onClickRowReturn();
        var _oFNOrderFabricReceives = $('#tblFNOrderFabricReceiveReturn').datagrid('getChecked');
        if(_oFNOrderFabricReceives.length <=0){
            alert("Please Select At least one item!");
            return;
        }
        var oList = [];
        var nCount = 0;
        for(var i=0; i<_oFNOrderFabricReceives.length; i++)
        {
            var oNewObject = _oFNOrderFabricReceives[i];
            oNewObject.FNOrderFabricReceiveID_from = _oFNOrderFabricReceives[i].FNOrderFabricReceiveID;
            oNewObject.FSCDID = _FSCDID;
            oNewObject.FSCDID_from = _FSCDID;
            oNewObject.Qty_from = _oFNOrderFabricReceives[i].tmpReturnQty;

            //if(oNewObject.YetToTransferQty>=_oFNOrderFabricReceives[i].tmpReturnQty){
            //    isFlag = true;
            //    nCount++;
            //}
            if(oNewObject.YetToTransferQty<_oFNOrderFabricReceives[i].tmpReturnQty || _oFNOrderFabricReceives[i].tmpReturnQty == 0)
            {
                //alert("Roll "+_oFNOrderFabricReceives[i].LotNo+" Return Qty not exceed to "+_oFNOrderFabricReceives[i].YetToTransferQty);
                //isFlag = false;
                alert("Unable to Return!Pls check all Return Qty!");
                return;

            }

            else
            {
                oList.push(oNewObject);
            }

        };
      
        var oFabricSCReport = {          
            FSCDID : _FSCDID,
            oFNOrderFabricReceives: oList
        };      
        $.ajax
          ({
              type: "POST",
              dataType: "json",
              url : _sBaseAddress+ "/FabricSCReport/FNOrderReturnSave",
              data: JSON.stringify(oFabricSCReport),
              contentType:"application/json; charset=utf-8",
              success: function (data) {
                  var oFNEOFabricReturns = jQuery.parseJSON(data);              
                  if (oFNEOFabricReturns.length>0) {          
                      alert("Return sucessfully");
                      DynamicRefreshList([],'tblFNOrderFabricReceiveReturn');
                      DynamicRefreshList(oFNEOFabricReturns,'tblFNOrderFabricReceiveReturn');
                  }                 
                  else
                  {
                      alert("Failed To Return!");
                  }
              },
              error: function (xhr, status, error)
              {
                  alert(error);
              }

          });
    });

    //REPORT
    $('#btnPrintStatement').click(function(){
        debugger;
        var oFNEOFabricReceives = $('#tblFNEOFabricReceive').datagrid('getRows');
        var sFNEOFabricReceiveIDs = ICS_PropertyConcatation(oFNEOFabricReceives, 'FNOrderFabricReceiveID');     

        if(sFNEOFabricReceiveIDs==null || sFNEOFabricReceiveIDs == "")
        {
            alert("Invalid Item!");
            return;
        }
        var OrderNo = $('#lblOrderNo').text();
        var DispoNo = $("#lblDispoNo").text();
        var nBuyerName =$('#lblBuyer').text();
        var Construction = $("#lblConstruction").text();
        var sIssueDate = $('#lblDeliveryDate').text();
        var sString = "";
        //var _sString = OrderNo+'~'+DispoNo+'~'+nBuyerName+'~'+Construction+'~'+sIssueDate;
        var nts=(new Date()).getTime()/1000;
        sString = sFNEOFabricReceiveIDs;
        window.open(_sBaseAddress + '/FabricSCReport/PrintFNEOFabricReceiveStatement?sParam='+sString+"&nts="+nts);
    });
</script>
