@model ESimSol.BusinessObjects.RouteSheet
    @{
        ViewBag.Title = "Dyeing Lot History";
    }
    <div class="menuMainCollectionTable" style="width:99%;">
        <div id=" region-error">
        <center style="font-size:20px;">
            @Html.ValidationMessage("Error")
        </center>
        </div>
        
        <fieldset style="width:100%; height:20%">
            <legend>Order Info</legend>
            <table cellpadding="3" class="tbl-Win routesheet-info">
                <tr>
                    <td class="td-col-2 align-right">
                        <label class="header-text">DL No :</label>
                    </td>
                    <td class="td-col-3 align-left">
                        <input id="txtRouteSheetNo" class="reset-text txt-styler" placeholder="Search RouteSheet" disabled/>
                    </td>
                    <td class="td-col-2 align-right">
                        <label class="header-text">Buyer :</label>
                    </td>
                    <td class="td-col-4 align-left">
                        <label id="lblBuyerName"></label>
                    </td>
                    <td class="td-col-2 align-right">
                        <label class="header-text"> Status :</label>
                    </td>
                    <td class="td-col-6 align-left">
                        <label id="lblRSState"></label>
                    </td>
                </tr>
                <tr>
                    <td class="td-col-2 align-right">
                        <label class="header-text">Machine No :</label>
                    </td>
                    <td class="td-col-3 align-left">
                        <label id="lblMachineNo"></label>
                    </td>
                    <td class="td-col-2 align-right">
                        <label class="header-text">Order No:</label>

                    </td>
                    <td class="td-col-4 align-left">
                        <label id="lblDyeingOrderNo"></label>
                    </td>
                   
                    <td class="td-col-2 align-right">
                        <label class="header-text">Product :</label>
                    </td>
                    <td class="td-col-6 align-left">
                        <label id="lblProduct"></label>
                    </td>
                </tr>
                <tr>
                    <td class="td-col-2 align-right">
                        <label class="header-text">Color & Shade :</label>
                    </td>
                    <td class="td-col-3 align-left">
                        <label id="lblColorShade"></label>
                    </td>
                    <td class="td-col-2 align-right">
                        <label id="lblHeaderHanksCone" class="header-text">Raw Lot No:</label>
                    </td>
                    <td class="td-col-4 align-left">
                        <label id="lblNoOfHanksCone"></label>
                    </td>
                    <td class="td-col-2 align-right">
                        <label class="header-text">Weight :</label>
                    </td>
                    <td class="td-col-6 align-left">
                        <label id="lblWeight"></label>
                    </td>
                </tr>

            </table>
        </fieldset>
        <div style="padding-left:2px;">
            <div title="History" style="padding:2px; width:100%;">
                <div style=" width:100%;">
                    <table id="tblRouteSheetHistory" class="easyui-datagrid" style="width:100%;height:385px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" autorowwidth="false" toolbar="#toolbarRSHistory">
                        <thead>
                            <tr>
                                <th field="EventTimeStr" width="15%">Date</th>
                                <th field="CurrentStatusStr" width="20%">Current Status</th>
                                <th field="PreviousStateStr" width="20%">Previous Status</th>
                                <th field="Note" width="20%"></th>
                                <th field="UserName" width="15%">Entry By</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="toolbarRSHistory">
                        <table style="width:100%;">
                            <tr>
                                <td style="width:50%" class="align-left">
                                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" id="btnUpdateRSHS">Edit History</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <fieldset style="margin-bottom:3px">
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; width:100%">
                <tr>
                    <td style="width:80%; text-align:right"></td>
                    <td style="width:10%">
                    </td>
                    <td style="width:10%">
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
    <div id="winRSUpdate" class="easyui-window" style="width:40%" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="font-family:Tahoma">
            <fieldset style="margin-top:3px">
                <div align="left" style="padding:10px 10px 10px 50px">
                    <table border="0" style="font-size:12px;">
                        <tr>
                            <td style="width:30%; text-align:right;"><label class="text-right" style="padding-top:5px">Process :</label></td>
                            <td style="width:70%;text-align:left;">
                                <input type="text" id="txtRSNo" style="font-weight:bold; width:90%" disabled/>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:30%; text-align:right;"><label class="text-right" style="padding-top:5px">Previous Status :</label></td>
                            <td style="width:70%;text-align:left;">
                                <input type="text" id="txtPStatus" style="font-weight:bold; width:90%" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:30%; text-align:right;"><label class="text-right" style="padding-top:5px">Current Status:</label></td>
                            <td style="width:70%;text-align:left;">
                                <input type="text" id="txtCStatus" style="font-weight:bold; width:90%" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right; width:30%"><label>Entry By:</label></td>
                            <td style="width:70%">
                                <input type="text" id="txtEntryBy" style="font-weight:bold; width:90%" disabled />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right; width:30%"><label>Event Date :</label></td>
                            <td style="width:70%">
                                <input id="dtEventTime" style="width:90%" class="easyui-datetimebox" data-options="formatter:icsdatetimeformat,parser:icsdatetimeparser" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right; width:30%"><label>Remarks:</label></td>
                            <td style="width:70%">
                                <input type="text" id="txtNote" style="font-weight:bold; width:90%"  />
                            </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
            <fieldset style="margin-bottom:3px">
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; width:100%">
                    <tr>
                        <td style="width:80%; text-align:right"></td>
                        <td style="width:10%">
                            <a id="btnSaveRSHS" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        </td>
                        <td style="width:10%">
                            <a id="btnCloseRSHS" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>

    <style type="text/css">

        .header-text{
            font-weight:bold;
        }
        .tbl-Win {
            width: 100%;
        }

        .td-styler input, select {
            padding-left: 5px;
        }
        .txt-styler{
            width:95%;
        }
        .txt-styler-picker{
            width:70%;
        }
        .cbo-styler{
            width:97.5%;
        }

    </style>

    <script type="text/javascript">

    var _sBaseAddress="";
    var _oRouteSheet=null;
    var _nUsableQty=0;
    var _nMUnit="Lbs";
    var _nMUnitTwo="Kg";
    var _oAuthorizationRolesMapping=[];
    $(document).ready(function ()
    {
        _oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oRouteSheet =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));

        RefreshRouteSheet(_oRouteSheet);
        DynamicRefreshList(_oRouteSheet.RSHistorys, 'tblRouteSheetHistory');
        if(sessionStorage.getItem('RouteSheetHeader')=='View RouteSheet')
            $('#btnUpdateRSHS').hide();
        else{
            $('#btnUpdateRSHS').hide();
            if (PermissionChecker('Edit', 'RouteSheet',_oAuthorizationRolesMapping)) {$("#btnUpdateRSHS").show();}
        }
    });

    function RefreshRouteSheet(oRouteSheet)
    {
        //$('#cboStore').val(oRouteSheet.WorkingUnitID);
        $('#txtRouteSheetNo').val(oRouteSheet.RouteSheetNo);
        $('#lblMachineNo').text(oRouteSheet.MachineName);
        $('#lblRSState').text(oRouteSheet.RSStateStr);
        $('#lblProduct').text(oRouteSheet.ProductName);
        $('#lblColorShade').text(oRouteSheet.ColorName);

        $('#lblDyeingOrderNo').text(oRouteSheet.OrderNoFull);
        $('#lblWeight').text(formatPrice(oRouteSheet.Qty)+ " "+_nMUnit);
        $('#lblNoOfHanksCone').text(oRouteSheet.LotNo);
    }

    $('#btnUpdateRSHS').click(function()
    {
        var oRSHS = $('#tblRouteSheetHistory').datagrid('getSelected');
        if (oRSHS ==null || oRSHS.RouteSheetHistoryID <=0 ) { alert("Please select an item from list."); return ; }

        RefreshRSHS(oRSHS);
        $("#winRSUpdate").icsWindow("open", "Update History For :"+oRSHS.RouteSheetNo);
    });
    function RefreshRSHS(oRSHS)
    {
        $('#txtRSNo, #txtPStatus, #txtCStatus, #txtEntryBy').val("");
        $('#dtEventTime').datetimebox('setValue','');

        $('#txtRSNo').val(oRSHS.RouteSheetNo);
        $('#txtPStatus').val(oRSHS.PreviousStateStr);
        $('#txtCStatus').val(oRSHS.CurrentStatusStr);
        $('#txtEntryBy').val(oRSHS.UserName);
        $('#txtNote').val(oRSHS.Note);

        $('#dtEventTime').datetimebox('setValue',oRSHS.EventTimeStr);
    }


    $('#btnSaveRSHS').click(function()
    {
        var oRSHS = $('#tblRouteSheetHistory').datagrid('getSelected');
        var nIndex = $('#tblRouteSheetHistory').datagrid('getRowIndex', oRSHS);
        oRSHS.EventTime = new Date($('#dtEventTime').datetimebox('getValue'));
        oRSHS.Note=$.trim($("#txtNote").val());
        if (!confirm("Confirm to Update Event time?")) return ;

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oRSHS,
            ObjectId:"RouteSheetHistoryID",
            ControllerName: "RouteSheetHistory",
            ActionName: "UpdateEventTime",
            TableId:"",
            IsWinClose: false,
            Message: ""
        };
        debugger;
        $.icsSave(obj, function (response)
        {
            if (response.status && response.obj!=null)
            {
                if (response.obj.RouteSheetHistoryID > 0)
                {
                    if (response.obj.ErrorMessage!="")return;

                    alert("Event Time Is Updated successfully.");

                    $("#tblRouteSheetHistory").datagrid("updateRow", { index: nIndex, row: response.obj });
                    $("#winRSUpdate").icsWindow('close');
                }
            }
            else{
                alert("Unable to Update.");
            }
        });
    });

    $('#btnCloseRSHS').click(function()
    {
        $("#winRSUpdate").icsWindow("close");
    });
    $('#btnClose').click(function()
    {
        window.location.href = sessionStorage.getItem("BackLink");
    });
</script>
