@model ESimSol.BusinessObjects.RouteSheet
    @{
        ViewBag.Title = "Dyeing Lot History";
    }
    <div class="menuMainCollectionTable">
        <div id="region-error">
            <center style="font-size:20px;">
                @Html.ValidationMessage("Error")
            </center>
        </div>
        
        <fieldset style="width:100%; height:20%">
            <legend>Order Info</legend>
            <table cellpadding="3" class="tbl-Win routesheet-info">
                <tr>
                    <td class="td-col-2 align-right">
                        <label class="header-text">DL No :</label>
                    </td>
                    <td class="td-col-3 align-left">
                        <input type="text" id="txtRouteSheetNo" class="reset-text txt-styler" style="width:70%;" placeholder="Search RouteSheet" />
                        <a id="btnPrintHistory" href="javascript:void(0)" style="width:20%;" class="easyui-linkbutton" iconcls="icon-print" plain="true"></a>
                    </td>
                    <td class="td-col-2 align-right">
                        <label class="header-text">Buyer :</label>
                    </td>
                    <td class="td-col-4 align-left">
                        <label id="lblBuyerName"></label>
                    </td>
                    <td class="td-col-2 align-right">
                        <label class="header-text"> Status :</label>
                    </td>
                    <td class="td-col-6 align-left">
                        <label id="lblRSState"></label>
                    </td>
                </tr>
                <tr>
                    <td class="td-col-2 align-right">
                        <label class="header-text">Machine No :</label>
                    </td>
                    <td class="td-col-3 align-left">
                        <label id="lblMachineNo"></label>
                    </td>
                    <td class="td-col-2 align-right">
                        <label class="header-text">Order No:</label>

                    </td>
                    <td class="td-col-4 align-left">
                        <label id="lblDyeingOrderNo"></label>
                    </td>
                   
                    <td class="td-col-2 align-right">
                        <label class="header-text">Product :</label>
                    </td>
                    <td class="td-col-6 align-left">
                        <label id="lblProduct"></label>
                    </td>
                </tr>
                <tr>
                    <td class="td-col-2 align-right">
                        <label class="header-text">Color & Shade :</label>
                    </td>
                    <td class="td-col-3 align-left">
                        <label id="lblColorShade"></label>
                    </td>
                    <td class="td-col-2 align-right">
                        <label id="lblHeaderHanksCone" class="header-text">Raw Lot No:</label>
                    </td>
                    <td class="td-col-4 align-left">
                        <label id="lblNoOfHanksCone"></label>
                    </td>
                    <td class="td-col-2 align-right">
                        <label class="header-text">Weight :</label>
                    </td>
                    <td class="td-col-6 align-left">
                        <label id="lblWeight"></label>
                    </td>
                </tr>

            </table>
        </fieldset>
        <div style="padding-left:2px;">
            <div id="tabRS" style="width:100%;" class="easyui-tabs">
                <div title="Inventory Transaction Info" style="padding:2px; width:100%;">
                    <table id="tblITs" class="easyui-datagrid" style="width:100%;height:395px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" autorowwidth="false">
                        <thead>
                            <tr>
                                <th field="TransactionTimeSt" width="10%">Date</th>
                                <th field="InOutTypeSt" width="8%">In/Out</th>
                                <th field="StoreName" width="20%">Store Name</th>
                                <th field="TriggerParentTypeSt" width="10%">Trigger Type</th>
                                <th field="ProductName" width="15%" align="left">Yarn Type</th>
                                <th field="Qty" width="10%" formatter="formatPrice" align="right">Qty</th>
                                @*<th field="CurrentBalance" width="10%" formatter="formatPrice" align="right">Balance</th>*@
                            </tr>
                        </thead>
                    </table>
                  
                </div>

                <div title="Dyeing Card History" style="padding:2px; width:100%;">
                    <div style=" width:99%;">
                        <table id="tblRouteSheetHistory" class="easyui-datagrid" style="width:100%;height:395px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" autorowwidth="false" toolbar="#toolbarRSHistory">
                            <thead>
                                <tr>
                                    <th field="EventTimeStr" width="15%">Date</th>
                                    <th field="CurrentStatusStr" width="20%">Current Status</th>
                                    <th field="PreviousStateStr" width="20%">Previous Status</th>
                                    <th field="Note" width="20%"></th>
                                    <th field="UserName" width="15%">Entry By</th>

                                </tr>
                            </thead>
                        </table>
                        <div id="toolbarRSHistory">
                            <table style="width:100%;">
                                <tr>
                                    <td style="width:50%" class="align-left">
                                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" id="btnReloadRSHistory"></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    </div>
                <div title="StockInfo" style="padding:2px; width:100%;">
                   
                        <table id="tblLots" class="easyui-datagrid" style="width:100%;height:395px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" autorowwidth="false" toolbar="#toolbarLot">
                            <thead>
                                <tr>
                                    <th field="OperationUnitName" width="20%">Store</th>
                                    <th field="Balance" width="15%" formatter="formatPrice" align="right">Current Balance</th>
                                    <th field="MUName" width="15%"></th>


                                </tr>
                            </thead>
                        </table>
                        <div id="toolbarLot">
                            <table style="width:100%;">
                                <tr>
                                    <td style="width:50%" class="align-left">
                                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" id="btnReloadLot"></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    
                </div>
                <div title="ImportInfo" style="padding:2px; width:100%;">
                  
                    <table id="tblImportInvoice" class="easyui-datagrid" style="width:100%;height:380px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" autorowwidth="false" toolbar="#toolbarInvoice">
                        <thead>
                            <tr>
                                <th field="ContractorName" width="40%" align="left">Supplier Name</th>
                                <th field="ImportInvoiceNo" width="25%" align="left">Invoice No</th>
                                <th field="ImportLCNo" width="25%" align="left">L/C No</th>

                            </tr>
                        </thead>
                    </table>
                   
                        <div id="toolbarInvoice">
                            <table style="width:100%;">
                                <tr>
                                    <td style="width:50%" class="align-left">
                                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" id="btnReloadInvoice"></a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    
                </div>
            </div>
        </div>
    
        
        
    </div>
    <style type="text/css">

        .header-text{
            font-weight:bold;
        }
        .tbl-Win {
            width: 100%;
        }

        .td-styler input, select {
            padding-left: 5px;
        }
        .txt-styler{
            width:95%;
        }
        .txt-styler-picker{
            width:70%;
        }
        .cbo-styler{
            width:97.5%;
        }

    </style>

    <script type="text/javascript">

    var _sBaseAddress="";
    var _oRouteSheet=null;
    var _nUsableQty=0;
    var _nMUnit="Lbs";
    var _nMUnitTwo="Kg";

    $(document).ready(function ()
    {
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oRouteSheet =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        
        DynamicRefreshList([], 'tblLots');
        DynamicRefreshList([], 'tblImportInvoice');

    });



    /*.......... Searching ............. */

    function ResetRouteSheet(){
        _oRouteSheet=null;
        $('.reset-text').val("");
        $('.rs-info').text("");
        $('#lblHeaderHanksCone').text("No of Hanks/Cone :");
        DynamicRefreshList([], 'tblITs');
     
    }

    function IsFull() {
        document.getElementById("chkFully").checked = true;
        document.getElementById("chkPartial").checked = false;
    }

    function IsPartial() {
        document.getElementById("chkFully").checked = false;
        document.getElementById("chkPartial").checked = true;
    }
    $("#txtRouteSheetNo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sRouteSheetNo=$.trim($("#txtRouteSheetNo").val());
            if(sRouteSheetNo==""){ alert("Type Dyeing Lot no to search."); return false; }
            GetsRouteSheet(sRouteSheetNo);
        }
        else if(nkeyCode==8){
          
            _oRouteSheet=null;
            _nLotID=0;
            _nProductID=0;
        }
    });
   
    function GetsRouteSheet(sRouteSheetNo){

        debugger;
        var oRouteSheet = {
            RouteSheetNo:sRouteSheetNo
        };

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oRouteSheet,
            ControllerName: "RouteSheetHistory",
            ActionName: "GetsRouteSheet",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].RouteSheetID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "RouteSheetNo", title: "RouteSheet No", width: 120, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "OrderNoFull", title: "OrderNo", width: 120, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Qty", title: "Qty", width: 80, align: "right", formatter:formatPrice };tblColums.push(oColumn);
                    oColumn = { field: "MachineName", title: "Machine Name", width: 120, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "RSStateStr", title: "Status", width: 100, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winRouteSheetPicker',
                        winclass:'clsRouteSheetPicker',
                        winwidth: 450,
                        winheight: 460,
                        tableid: 'tblRouteSheetPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'RouteSheetNo',
                        windowTittle: 'RouteSheet List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializeRouteSheetPickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No routesheet found.");
            }
        });


    }

    function IntializeRouteSheetPickerbutton(oPickerobj)
    {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            RouteSheetSelect(oPickerobj);
        });
        $(document).find('.' +oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                RouteSheetSelect(oPickerobj);
            }
        });
    }

    function RouteSheetSelect(oPickerobj){
        var oRouteSheet = $('#'+oPickerobj.tableid).datagrid('getSelected');
        if (oPickerobj.winid == 'winRouteSheetPicker')
        {
            if(oRouteSheet !=null  && oRouteSheet.RouteSheetID>0){
                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();
                debugger;
                //$('#cboStore').val(oRouteSheet.WorkingUnitID);
                $('#txtRouteSheetNo').val(oRouteSheet.RouteSheetNo);
                $('#lblMachineNo').text(oRouteSheet.MachineName);
                $('#lblRSState').text(oRouteSheet.RSStateStr);

                $('#lblDyeingOrderNo').text(oRouteSheet.OrderNoFull);
               
                $('#lblWeight').text(formatPrice(oRouteSheet.Qty)+ " "+_nMUnit);
                $('#lblNoOfHanksCone').text(oRouteSheet.LotNo);
                
                _oRouteSheet=oRouteSheet;
                GetITs(oRouteSheet);
                GetPTU(oRouteSheet);
                 DynamicRefreshList([], 'tblLots');
                DynamicRefreshList([], 'tblImportInvoice');
            }
            else{
                alert("Please select routesheet.");
            }
        }
    }
    function GetITs(oRouteSheet)
    {
        $.ajax
          ({
              type: "POST",
              dataType: "json",
              url : _sBaseAddress+"/RouteSheetHistory/GetsITBYRS",
              data:  JSON.stringify(oRouteSheet),
              contentType: "application/json; charset=utf-8",
              success: function (data) {
                  debugger;
                  var oITs = jQuery.parseJSON(data);
                  if (oITs.length>0)
                  {
                      DynamicRefreshList(oITs, 'tblITs');
                  }
                  else
                  {
                      DynamicRefreshList([], 'tblITs');
                  }
              },
              error: function (xhr, status, error)
              {
                  alert(error);
              }
          });
    }
    function GetPTU(oRouteSheet)
    {
        $.ajax
          ({
              type: "POST",
              dataType: "json",
              url : _sBaseAddress+"/RouteSheetHistory/GetPTU",
              data:  JSON.stringify(oRouteSheet),
              contentType: "application/json; charset=utf-8",
              success: function (data) {
                  //debugger;
                  var oPTU = jQuery.parseJSON(data);
                  if (oPTU.PTUID>0)
                  {
                      $('#lblBuyerName').text(oPTU.ContractorName);
                      $('#lblProduct').text(oPTU.ProductNameCode);
                      $('#lblColorShade').text(oPTU.ColorNameShade);
                  }
                 
              },
              error: function (xhr, status, error)
              {
                  alert(error);
              }
          });
    }

    $('#tabRS').tabs({
        onSelect:function(title){
        
            if(title=="History")
            { 
                if(_oRouteSheet.RouteSheetID>0)
                {
                    GetsRSHistory(_oRouteSheet);
                }
            }
            if(title=="StockInfo")
            { 
                if(_oRouteSheet.RouteSheetID>0)
                {
                    GetsLot(_oRouteSheet);
                }
            }
            if(title=="ImportInfo")
            { 
                if(_oRouteSheet.RouteSheetID>0)
                {
                    GetsInvoice(_oRouteSheet);
                }
            }
        }
    });

    $("#btnReloadRSHistory").click(function() {
        if(_oRouteSheet==null || _oRouteSheet.RouteSheetID<=0)
        {
            alert("Please, Pick a Valid DL No."); return false; 
        }
        if(_oRouteSheet.RouteSheetID>0)
        {
            GetsRSHistory(_oRouteSheet);
        }
    });

    function GetsRSHistory(oRouteSheet)
    {
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oRouteSheet,
            ControllerName: "RouteSheetHistory",
            ActionName: "GetsRSHistory",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0)
            {
                var oRSHs= response.objs;
                DynamicRefreshList([], 'tblRouteSheetHistory');
                DynamicRefreshList(oRSHs, 'tblRouteSheetHistory');
            }
        });
    }

        
    $("#btnReloadLot").click(function() {
        if(_oRouteSheet==null || _oRouteSheet.RouteSheetID<=0)
        {
            alert("Please, Pick a Valid DL No."); return false; 
        }
        if(_oRouteSheet.RouteSheetID>0)
        {
            GetsLot(_oRouteSheet);
        }
    });

    function GetsLot(oRouteSheet)
    {
    
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oRouteSheet,
            ControllerName: "RouteSheetHistory",
            ActionName: "GetsLot",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0)
            {
                var oRSHs= response.objs;
                
                DynamicRefreshList([], 'tblLots');
                $('#tblLots').datagrid({selectOnCheck:false, checkOnSelect:false})
                data=oRSHs;
                data={"total":""+data.length+"","rows":data};
                $('#tblLots').datagrid('loadData',data);
            }
        });
    }
    $("#btnReloadInvoice").click(function() {
        if(_oRouteSheet==null || _oRouteSheet.RouteSheetID<=0)
        {
            alert("Please, Pick a Valid Dyeing Lot No."); return false; 
        }
        if(_oRouteSheet.RouteSheetID>0)
        {
            GetsInvoice(_oRouteSheet);
        }
    });
    function GetsInvoice(oRouteSheet)
    {
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oRouteSheet,
            ControllerName: "RouteSheetHistory",
            ActionName: "GetsInvoiceInFo",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0)
            {
                var oImportInvoices= response.objs;
                $('#tblImportInvoice').datagrid({selectOnCheck:false, checkOnSelect:false})
                data=oImportInvoices;
                data={"total":""+data.length+"","rows":data};
                $('#tblImportInvoice').datagrid('loadData',data);
            }
        });
    }

    $('#btnPrintHistory').click(function(){
        if(_oRouteSheet==null || parseInt(_oRouteSheet.RouteSheetID)<=0)
        {
            alert("Please Enter DL No!!");
            return;
        }
        window.open(_sBaseAddress+ "/RouteSheetHistory/PrintRouteSheetHistory?id="+_oRouteSheet.RouteSheetID);
    });
  
  
    </script>
