@{
    ViewBag.Title = "Delivery Order Names";
}
<!DOCTYPE html>
<html>
<head>
    <title>DeliveryOrderNames</title>
</head>
<body>

    <div class="menuMainCollectionTable">
        <table id="tblDeliveryOrderNames" title="Delivery Order Names" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="OrderTypeSt" width="20%">Order Type</th>
                    <th field="Name" width="50%">Name</th>
                    <th field="IsFocSt" width="15%">Test Delivery</th>
                    <th field="IsGreySt" width="15%">Test Delivery</th>
                    
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <table>
                <tr>
                    <td>
                        Order Type: <select id="cboOrderType" style=" width:150px;"></select>
                        <input id="txtName" type="text" style="width: 221px;" placeholder="Type Description & Press Add Button" />
                        <label> Is Test Delivery?</label>
                        <input type="checkbox" id="chkIsFoc" />
                        <label> Is Grey?</label>
                        <input type="checkbox" id="chkIsGrey" />
                        <a id="btnUpdate" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Update</a>
                        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>
                        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                        <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    var _sBaseAddress="";
    var _oDeliveryOrderNames=[];
    var _oDeliveryOrderName=null;
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oDeliveryOrderNames =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oOrderTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.OrderTypes));
        LoadCombo(oOrderTypes) ;
        $("#btnUpdate").hide();
        $('#chkIsFoc').prop('checked', false);
        $('#chkIsGrey').prop('checked', false);
        DynamicRefreshList(_oDeliveryOrderNames,"tblDeliveryOrderNames");

           
    });
    function LoadCombo(oOrderTypes) 
        {
            $("#cboOrderType").icsLoadCombo({
                List: oOrderTypes,
                OptionValue: "id",
                DisplayText: "Value"
            });
        }
    function Validation()
    {
        if($.trim($("#txtName").val()) == "")
        {
            alert("Please Type Description and Press Add Button");
            $("#txtName").addClass("errorFieldBorder");
            $("#txtName").focus();
            return false;
        }else{
            $("#txtName").removeClass("errorFieldBorder");
        }
        if(parseInt($("#cboOrderType").val()) ==0)
        {
            alert("Please Type Order Type");
            $("#cboOrderType").addClass("errorFieldBorder");
            $("#cboOrderType").focus();
            return false;
        }else{
            $("#cboOrderType").removeClass("errorFieldBorder");
        }
        return true;
    }

    function RefreshObject() {
        var oDeliveryOrderName = {
            DeliveryOrderNameID  : (_oDeliveryOrderName == null ? 0 : _oDeliveryOrderName.DeliveryOrderNameID),
            Name : $.trim($("#txtName").val()),
            OrderType:$("#cboOrderType").val(),
            IsFoc: $("#chkIsFoc").is(":checked"),
            IsGrey: $("#chkIsGrey").is(":checked"),
        };
        return oDeliveryOrderName;
    }

    $("#btnAdd").click(function(){
        _oDeliveryOrderName = null;
        AddNew();
    });

    $("#txtName").keydown(function(e){
        if(e.keyCode === 13)
        {
            _oDeliveryOrderName = null;
            AddNew();
        }
    });

    function AddNew()
    {
        if (!Validation())
        {
            return false;
        }
        else
        {
            var oDeliveryOrderName = RefreshObject();
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oDeliveryOrderName,
                ObjectId: oDeliveryOrderName.DeliveryOrderNameID,
                ControllerName: "DeliveryOrderName",
                ActionName: "SaveDeliveryOrderName",
                TableId: "tblDeliveryOrderNames",
                IsWinClose: true,
                Message:""
            };
            $.icsSave(obj, function (response) {
                if (response.status && response.obj != null) {
                    if (response.obj.DeliveryOrderNameID > 0) {
                        $("#txtName").val("");
                        $("#txtName").focus();
                        $("#btnUpdate").hide();
                        $('#chkIsFoc').prop('checked',false);
                        $('#chkIsGrey').prop('checked',false);

                    }
                }
            });
        }
    }

    $("#btnDelete").click(function(){
        var oDeliveryOrderName = $("#tblDeliveryOrderNames").datagrid("getSelected");
        if(oDeliveryOrderName == null || oDeliveryOrderName.DeliveryOrderNameID <=0)
        {
            alert("Please select an item from list.");
            return;
        }

        if (!confirm("Confirm to Delete?")) return;
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oDeliveryOrderName,
            ControllerName: "DeliveryOrderName",
            ActionName: "DeleteDeliveryOrderName",
            TableId: "tblDeliveryOrderNames",
            IsWinClose: false
        };
        $.icsDelete(obj);
    });

    $("#btnEdit").click(function(){
        var oDeliveryOrderName = $("#tblDeliveryOrderNames").datagrid("getSelected");
        if(oDeliveryOrderName == null || oDeliveryOrderName.DeliveryOrderNameID <=0)
        {
            alert("Please select an item from list.");
            return;
        }
        _oDeliveryOrderName = oDeliveryOrderName;
        $("#txtName").removeClass("errorFieldBorder");
        $("#txtName").val(oDeliveryOrderName.Name);
        $("#cboOrderType").val(oDeliveryOrderName.OrderType);
        $('#chkIsFoc').prop('checked', oDeliveryOrderName.IsFoc);
        $('#chkIsGrey').prop('checked', oDeliveryOrderName.IsGrey);
        $("#btnUpdate").show();
    });

    $("#btnUpdate").click(function(){
        AddNew();
    });
</script>
