@{
    ViewBag.Title = "Trading Sale Invoice Registers";
}
@model ESimSol.BusinessObjects.TradingSaleInvoiceRegister

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
            <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
                <label style="font-size:18px;">Please wait</label>
                <div id="progbar" style="width:100%;height:37px;"></div>
            </div>
        </div>

        <div class="menuMainCollectionTable" id="MainDiv" style="height:550px">
            <div class="easyui-panel" title="Trading Sale Invoice Register" style="font-family:Tahoma; text-align:center; height:90%;">
                <fieldset style="height:100%; text-align:center;">
                    <legend style="font-weight:bold"> Searching Criteria : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:100%">
                        <tr>
                            <td colspan="5" style="height:20px;"></td>
                        </tr>
                        <tr>
                            <td style="width:15%;text-align:right"> Invoice No:</td>
                            <td style="width:30%;text-align:left">
                                <input type="text" style="width:100%" id="txtInvoiceNo" placeholder="Enter Invoice No" />
                            </td>
                            <td style="width:5%;text-align:right"></td>
                            <td style="width:12%;text-align:right">  Date :</td>
                            <td style="width:38%;text-align:right">
                                <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                    <tr>
                                        <td style="width:30%; text-align:center">
                                            <select id="cboInvoiceDate" style="width:100%;height:22px;"> </select>
                                        </td>
                                        <td style="width:30%; text-align:center">
                                            <input id="txtInvoiceDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                        </td>
                                        <td style="width:10%; text-align:center">to</td>
                                        <td style="width:30%; text-align:center">
                                            <input id="txtInvoiceDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td style="width:15%;text-align:right"> Party :</td>
                            <td style="width:30%;text-align:left">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                    <tr>
                                        <td style="width:80%; text-align:left">
                                            <input type="text" style="width:98%" id="txtParty" onkeydown="PartyKeyDown(event)" placeholder="Press enter with Party name" />
                                        </td>
                                        <td style="width:20%; text-align:right">
                                            <input type="button" id="btnBuyer" onclick="PickParty()" style="width:95%;float:right;" value="Pick" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="width:5%;text-align:right"></td>
                            <td style="width:12%;text-align:right"> Product:</td>
                            <td style="width:38%;text-align:right">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                    <tr>
                                        <td style="width:80%; text-align:left">
                                            <input type="text" style="width:98%" id="txtProduct" onkeydown="ProductKeyDown(event)" placeholder="Press enter with Product" />
                                        </td>
                                        <td style="width:20%; text-align:right">
                                            <input type="button" id="btnStyle" onclick="PickProduct()" style="width:95%;float:right;" value="Pick" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        @*<tr>
                            <td style="width:15%;text-align:right"> Factory :</td>
                            <td style="width:30%;text-align:left">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                    <tr>
                                        <td style="width:80%; text-align:left">
                                            <input type="text" style="width:98%" id="txtFactory" onkeydown="FactoryKeyDown(event)" placeholder="Press enter with Factory name" />
                                        </td>
                                        <td style="width:20%; text-align:right">
                                            <input type="button" id="btnFactory" onclick="PickFactory()" style="width:95%;float:right;" value="Pick" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                           
                        </tr>*@

                        <tr>
                            <td style="width:15%;text-align:right"> Report Layout :</td>
                            <td style="width:30%;text-align:left">
                                <select id="cboReportLayout" style="width:100%;height:22px;">  </select>
                            </td>
                            <td style="width:5%;text-align:right"></td>
                            <td style="width:12%;text-align:right"></td>
                            <td style="width:38%;text-align:right"></td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <fieldset style="height:10%;width:98%">
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                    <tr>
                        <td style="width:50%;text-align:right"></td>
                        <td style="width:50%;text-align:right">
                            <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" hidden="hidden">Preview</a>
                            <a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel</a>
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    var _sBaseAddress="";
    var _oSampleRequest=[];
    $(document).ready(function () {
        var nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        _oSampleRequest =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oReportLayouts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReportLayouts));
        var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oReportLayouts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReportLayouts));

        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        $("#cboInvoiceDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboReportLayout").icsLoadCombo({ List: oReportLayouts, OptionValue: "id", DisplayText: "Value" });

        $('#txtInvoiceDateStart').datebox({ disabled : true });
        $('#txtInvoiceDateEnd').datebox({ disabled : true });
        $('#txtInvoiceDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtInvoiceDateEnd').datebox('setValue', icsdateformat(new Date()));

        // $("#MainDiv").data("FactoryID",0);
        $("#MainDiv").data("ContractorIDs",[]);
        $("#MainDiv").data("ProductIDs",[]);
        //$("#MainDiv").data("YarnID",0);
    });
    function ValidateSearch()
    {
        debugger;
        var nInvoiceDate = parseInt($('#cboInvoiceDate').val());
        if(nInvoiceDate===1 || nInvoiceDate===2 || nInvoiceDate===3 || nInvoiceDate===4)
        {
            var sInvoiceDateStart   = $('#txtInvoiceDateStart').datebox('getValue');
            if(sInvoiceDateStart===null || sInvoiceDateStart==="")
            {
                alert("Please select Invoice start date!");
                $('#txtInvoiceDateStart').focus();
                return false;
            }
        }
        if(nInvoiceDate===5 || nInvoiceDate===6)
        {
            var sInvoiceDateStart   = $('#txtInvoiceDateStart').datebox('getValue');
            var sInvoiceDateEnd   = $('#txtInvoiceDateEnd').datebox('getValue');
            if(sInvoiceDateStart===null || sInvoiceDateStart==="")
            {
                alert("Please select Invoice start date!");
                $('#txtInvoiceDateStart').focus();
                return false;
            }
            if(sInvoiceDateEnd===null || sInvoiceDateEnd==="")
            {
                alert("Please select Invoice end date!");
                $('#txtInvoiceDateEnd').focus();
                return false;
            }
            if(new Date(sInvoiceDateStart) > new Date(sInvoiceDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtInvoiceDateStart').focus();
                return false;
            }
        }
        var sInvoiceNo = $.trim($('#txtInvoiceNo').val());
        var oProducts=$("#MainDiv").data("ProductIDs");
        if(oProducts===null) {oProducts = []; }
        var sProductIDs ="";
        for(var i=0; i<oProducts.length; i++)
        {
            sProductIDs  = sProductIDs + oProducts[i].ProductID+ ",";
        }
        if(sProductIDs.length>0)
        {
            sProductIDs=sProductIDs.substring(0, sProductIDs.length-1);
        }
        var oContractors=$("#MainDiv").data("ContractorIDs");
        if(oContractors===null) {oContractors = []; }
        var sContractors ="";
        for(var i=0; i<oContractors.length; i++)
        {
            sContractors  = sContractors + oContractors[i].ContractorID+ ",";
        }
        if(sContractors.length>0)
        {
            sContractors=sContractors.substring(0, sContractors.length-1);
        }
        if(sInvoiceNo === "" && nInvoiceDate === 0 && sProductIDs===""&&  sContractors==="")
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }

        var nReportLayout = parseInt($('#cboReportLayout').val());
        if(nReportLayout<=0)
        {
            alert("Please select an Report Layout!");
            return;
        }

        return true;
    }
    function RefreshObject()
    {
        debugger;
        var oProducts=$("#MainDiv").data("ProductIDs");
        if(oProducts===null) {oProducts = []; }
        var sProductIDs ="";
        for(var i=0; i<oProducts.length; i++)
        {
            sProductIDs  = sProductIDs + oProducts[i].ProductID+ ",";
        }
        if(sProductIDs.length>0)
        {
            sProductIDs=sProductIDs.substring(0, sProductIDs.length-1);
        }
        var oContractors=$("#MainDiv").data("ContractorIDs");
        if(oContractors===null) {oContractors = []; }
        var sContractorIDs ="";
        for(var i=0; i<oContractors.length; i++)
        {
            sContractorIDs  = sContractorIDs + oContractors[i].ContractorID+ ",";
        }
        if(sContractorIDs.length>0)
        {
            sContractorIDs=sContractorIDs.substring(0, sContractorIDs.length-1);
        }
        var nInvoiceDate = parseInt($('#cboInvoiceDate').val());
        var sInvoiceDateStart   = $('#txtInvoiceDateStart').datebox('getValue');
        var sInvoiceDateEnd   = $('#txtInvoiceDateEnd').datebox('getValue');
        // var sApprovalStatus   = $('#cboApprovalStatus').val();

        var sSearchingData  =  nInvoiceDate+'~';
        sSearchingData = sSearchingData + sInvoiceDateStart+'~';
        sSearchingData = sSearchingData + sInvoiceDateEnd+'~';
        sSearchingData = sSearchingData + sProductIDs+'~';
        sSearchingData = sSearchingData + sContractorIDs;
        //sSearchingData = sSearchingData + sApprovalStatus;

        var sInvoiceNo = $.trim($('#txtInvoiceNo').val());
        
        var oTradingSaleInvoiceRegister = {
            BUID : parseInt(sessionStorage.getItem("BUID")),
            InvoiceNo : sInvoiceNo,        
            ReportLayout : parseInt($('#cboReportLayout').val()),
            ErrorMessage : sSearchingData
        };
        return oTradingSaleInvoiceRegister;
    }

    $('#btnExportToExcel').click(function(e){
        debugger;
        if(!ValidateSearch()) return;
        var oTradingSaleInvoiceRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem("BaseAddress")+  "/TradingSaleInvoice/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oTradingSaleInvoiceRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/TradingSaleInvoice/ExcelTradingSaleInvoiceRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });
    $('#cboInvoiceDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboInvoiceDate').val());
        if(nCompareOperator===0)
        {
            $('#txtInvoiceDateStart').datebox({ disabled : true });
            $('#txtInvoiceDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtInvoiceDateStart').datebox({ disabled : false });
            $('#txtInvoiceDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtInvoiceDateStart').datebox({ disabled : false });
            $('#txtInvoiceDateEnd').datebox({ disabled : false });
        }
        $('#txtInvoiceDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtInvoiceDateEnd').datebox('setValue', icsdateformat(new Date()));
    });
    function PartyKeyDown(event) {
        //return;
        if (event.which == 13) {
            var oTxtName = $("#txtParty").val();
            if (oTxtName != null) {
                PickParty(oTxtName);
            }
        }
        if (event.which == 8) {
            txtParty.style.color = "Black";
            $("#MainDiv").data("ContractorIDs",[]);
        }

    }

    function PickParty(oTxtName) {
        if ($("#txtParty").val() == null || $("#txtParty").val() == "") {
            alert("Enter a Party Name");
            return;
        }
        var oStyleSearch = {
            Params: '2,3' + '~' + $.trim($("#txtParty").val() + "~" + 0)
        };//
        console.log(oStyleSearch);
        debugger;
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: (oStyleSearch),
            ControllerName: "Contractor", //TechnicalSheet
            ActionName: "ContractorSearchByNameType",//ViewStyleSearch
            IsWinClose: false
        };
        var tblColums = []; var oColumn = []; var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Name", title: "Name", width: 280, align: "left" }; tblColums.push(oColumn);
        DynamicPiker('Contactor', obj, tblColums, true, 'Name', 'ContractorID', 500); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
    }

    function SetParty(oSelectedStyle) {
        debugger;
        console.log(document.getElementById("txtParty").innerHTML);
        document.getElementById("txtParty").value = oSelectedStyle.length+"'s Partys Selected"
        txtParty.style.color = "Blue";
        //var text = "";
        //var len = oSelectedStyle.length;
        //for (var i = 0; i < len; i++) {

        //    text += oSelectedStyle[i].ModuleName;
        //}
        //document.getElementById("txtModuleName").innerHTML = text;
        $("#MainDiv").data("ContractorIDs", oSelectedStyle);


    }
    function ProductKeyDown(event) {
        //return;
        if (event.which == 13) {
            var oTxtName=$("#txtProduct").val();
            if (oTxtName != null) {
                PickProduct(oTxtName);
            }
        }
        if (event.which == 8) {
            txtProduct.style.color="Black";
            $("#MainDiv").data("ProductIDs",[]);
        }
    }

    function PickProduct(oTxtName)
    {
        debugger;
        var oStyleSearch = {
            BUID:_oSampleRequest.BUID,
            ProductName: $("#txtProduct").val()
        };

        console.log(oStyleSearch);
        debugger;
        var obj = {
            BaseAddress:_sBaseAddress,
            Object: (oStyleSearch) ,
            ControllerName: "Product", //TechnicalSheet
            ActionName: "SearchByProductBUWise",//ViewStyleSearch
            IsWinClose: false
        };
        var tblColums = []; var oColumn = []; var oColumn = { field: "ProductName", title: "Product Name", width: 150, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ProductCode", title: "Code", width: 150, align: "left" }; tblColums.push(oColumn);
        DynamicPiker('Product',obj,tblColums,true,'ProductName','ProductID',500); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
    }

    function SetProduct(oSelectedStyle) {
        debugger;
        console.log(document.getElementById("txtProduct").innerHTML);
        document.getElementById("txtProduct").value = oSelectedStyle.length+"'s Products Selected";
        //var text = "";
        //var len = oSelectedStyle.length;
        //for (var i = 0; i < len; i++) {

        //    text += oSelectedStyle[i].ModuleName;
        //}
        //document.getElementById("txtModuleName").innerHTML = text;
        $("#MainDiv").data("ProductIDs",oSelectedStyle);
        txtProduct.style.color="Blue";

    }
    function DynamicPiker(pickerName,obj,pTblColums,pMultiReturn,pSearchField,pID,nWidth)
    {
        debugger;
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        setInterval(updateProgress,250);

        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0][pID] > 0) {
                    debugger;
                    var tblColums = pTblColums;
                    var oPickerParam = {
                        winid: 'win'+pickerName,
                        winclass: 'cls'+pickerName,
                        winwidth: nWidth,
                        winheight: 460,
                        tableid: 'tbl'+pickerName+'s',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: pMultiReturn,
                        searchingbyfieldName: pSearchField,
                        windowTittle: pickerName+' List',
                        colsable:true
                    };
                    $.icsPicker(oPickerParam);
                    $("#progressbar").progressbar({ value: 0 });//hide
                    $("#progressbarParent").hide();
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                    $("#progressbar").progressbar({ value: 0 });//hide
                    $("#progressbarParent").hide();
                }
            }
            else{
                alert("Data Not Found.");
                $("#progressbar").progressbar({ value: 0 });//hide
                $("#progressbarParent").hide();
                return;
            }
        });
    }
    ////
    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }
    function SetPickerValueAssign(oPickerobj)
    {
        debugger;
        var oResult;
        if (oPickerobj.multiplereturn)
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getChecked');
        }
        else
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getSelected');
        }


        if (oPickerobj.winid == 'winContactor')
        {
            SetParty(oResult);
        }

        else if (oPickerobj.winid == 'winProduct')
        {
            SetProduct(oResult);
        }


        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }

    function updateProgress() {
        debugger;
        var value =$('#progressbar').progressbar('getValue');
        if (value < 90){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    ////
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }
</script>