<html>
    <head>

    </head>
 <body>
 
 <div class="pageborder">
@model ESimSolFinancial.Models.OIProcess
@{
    ViewBag.Title = "Operation Integration Process";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
        <div class="PageHeading">
           <table border="0">
                <tr>
                    <td style="width:100px"></td>
                    <td style="width:450px" class="Headline"> Operation Integration Process </td>
                </tr>
            </table>
        </div>  
        <div class="PageBody" style="overflow:auto">
        <table border="0">
            <tr>
                <td style="width:50px"></td>
                <td style="width:800px">                           
                            <fieldset>
                                <legend style="font-weight:bold"> Click for process and wait : </legend>
                                <table border="0">
                                    <tr>
                                        <td>Loan Integration Process</td>
                                        <td>:</td>
                                        <td>
                                                <div class="editor-field">
                                                <input type="button" value="Process" id="btnLoanIntegrationProcess" />           
                                                </div>
                                        </td>
                                    </tr>
                                    
                                    
                                
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            
                                        </td>
                                    </tr>
                                </table>
                                </fieldset>
                                 

                
                    </td>
                <td style="width:50px"></td>
            </tr>
            <tr>
                 <td style="width:50px"></td>
                 <td style="width:800px">
                    <div style="color: red;font-weight:900; margin-top:10px">@TempData["message"]</div>
                 </td>
                 <td style="width:50px"></td>
            </tr>
        </table>     
        </div>
}
<div class="PageFooter">
<div style="margin-left:20px;margin-right:20px">
    <table>
        <tr>
            <td style="width:500px"></td>            
            <td style="width:400px; text-align:right">
                @*@Html.ActionLink("Back to List", "RefreshList", "OIProcess")*@
            </td>
        </tr>
    </table>
    
</div>
</div>
 </div>   
 </body>
</html>

<script type="text/javascript">

    $("#btnLoanIntegrationProcess").click(function () {
        //debugger;
        $.ajax({
            type: "GET",
            dataType: "json",
            url: '@Url.Action("LoanIntegrationProcess", "OperationIntegrationProcess")',
            data: {},
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                alert(jQuery.parseJSON(data));
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    })
</script>
