@{
    ViewBag.Title = "Komm File";
}
@model IEnumerable<ESimSol.BusinessObjects.KommFile>
<div class="menuMainCollectionTable" ng-app="KommFileApp">
    <div ng-controller="KommFileController" title="Komm File">
        <div style="margin-bottom:2px; display:block" class="form-inline ui-grid-top-panel regionInvoice">
            <input type="text" class="form-control" ng-model="RefNo" ng-keydown="searchByRefNo($event)" placeholder="Type Ref No & Press Enter">

            <button type="button" ng-show="btnView" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="AdvanceSearch()"><span class="glyphicon glyphicon-search" aria-hidden="true"> Advance Search</span></button>
            <button type="button" ng-show="btnAdd" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="Add()"><span class="glyphicon glyphicon-plus" aria-hidden="true"> Add</span></button>
            <button type="button" ng-show="btnEdit" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="Edit()"><span class="glyphicon glyphicon-edit" aria-hidden="true"> Edit</span></button>
            <button type="button" ng-show="btnView" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="View()"><span class="glyphicon glyphicon-th" aria-hidden="true"> View</span></button>
            <button type="button" ng-show="btnImage" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="UpImage()"><span class="glyphicon glyphicon-save-file" aria-hidden="true"> Up Image</span></button>

            <button type="button" ng-show="btnEdit" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="OpenUpdateModal()"><span class="glyphicon glyphicon-save-file" aria-hidden="true"> Update Status</span></button>
            <button type="button" ng-show="btnSQ" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="PrintSQ()"><span class="glyphicon glyphicon-copy" aria-hidden="true"> SQ</span></button>
            <button type="button" ng-show="btnDelete" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="Delete()"><span class="glyphicon glyphicon-remove" aria-hidden="true"> Delete</span></button>
            <button type="button" ng-show="btnXLList" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="PrintListXL()"><span class="glyphicon glyphicon-save-file" aria-hidden="true"> XL List</span></button>
            <button type="button" ng-show="btnPrintList" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="PrintList()"><span class="glyphicon glyphicon-print" aria-hidden="true"> Print List</span></button>
            <button type="button" ng-show="btnPriview" class="btn btn-default btn-sm" aria-label="Left Align" ng-click="PrintPreview()"><span class="glyphicon glyphicon-print" aria-hidden="true"> Priview</span></button>
            <button type="button" id="btnPriviewXL" class="btn btn-default btn-xs" aria-label="Left Align" ng-click="PrintPreviewXL()"><span class="glyphicon glyphicon-print" aria-hidden="true"> XL</span></button>
        </div>
        <div ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns style="width: 99%; height:500px;"></div>
    </div>

    <script type="text/ng-template" id="KommFileStatus.html">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Update Sales Status</h4>
        </div>
        <div class="modal-body form-horizontal regionExportUP ms-custom-control" id="modal-body">
            <div class="row">
                <div class="row">
                    <div class="col-md-12 ">
                        <div class="col-md-3 text-right"><label class="control-label">Komm No:</label></div>
                        <div class="col-md-7 text-left">
                            <input type="text" class="form-control" ng-model="KFStatus.KommNo" disabled>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 ">
                    <div class="col-md-3 text-right"><label class="control-label">Status:</label></div>
                    <div class="col-md-7 text-left">
                        <select ng-model="KFStatus.KommFileStatus" class="form-control" ng-options="oItem.id as oItem.Value for oItem in KommFileStatusList">
                            <option value="">--Select Status--</option>
                        </select>
                    </div>
                </div>
            </div>
            @*<div class="row">
                <div class="col-md-12 ">
                    <div class="col-md-3 text-right"><label class="control-label">Note:</label></div>
                    <div class="col-md-7 text-left">
                        <input type="text" class="form-control" ng-model="KFStatus.SalesStatusRemarks">
                    </div>
                </div>
            </div>*@

        </div>
        <div class="modal-footer">
            <button type="button" class="btn-success btn-sm" aria-label="Left Align" ng-click="UpdateStatus()" ng-hide="hide"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save</button>
            <button type="button" class="btn-danger btn-sm" aria-label="Left Align" ng-click="cancel()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
        </div>
    </script>

    <script type="text/ng-template" id="SalesQuotationStatus.html">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-title">Sales Status</h4>
        </div>
        <div class="modal-body form-horizontal regionExportUP ms-custom-control" id="modal-body">
            <div class="row">
                <div class="col-md-12 ">
                    <div class="col-md-3 text-right"><label class="control-label">Hold By:</label></div>
                    <div class="col-md-7 text-left">
                        <input type="text" ng-model="SalesQuotation.MarketingAccountName" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <div class="col-md-3 text-right"><label class="control-label">Hold For:</label></div>
                    <div class="col-md-7 text-left">
                        <input type="text" ng-model="SalesQuotation.BuyerName" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 ">
                    <div class="col-md-3 text-right"><label class="control-label">Note:</label></div>
                    <div class="col-md-7 text-left">
                        <input type="text" class="form-control" ng-model="SalesQuotation.SalesStatusRemarks" disabled>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn-danger btn-sm" aria-label="Left Align" ng-click="cancel()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
        </div>
    </script>
</div>
<style type="text/css">
    .regionInvoice .form-control {
        height: 26px;
        width: 15%;
        padding: 0px 6px;
        font-size: 12px;
    }
</style>

 <script type="text/javascript">
    var oKommFileList =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
    var oCompareOperators =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
    var oKommFileStatusList = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.KommFileStatusList));
    
     var CInvoiceapp= angular.module('KommFileApp',   ['ngAnimate', 'ui.bootstrap', 'ui.grid','ui.grid.selection','ui.grid.resizeColumns', 'ui.grid.cellNav','ms.service','ui.grid.pinning','ms.service']);
    CInvoiceapp.controller('KommFileController',  function ($scope, $http, $timeout, $uibModal, $log, uiGridConstants, msModal, userSession,advanceSearch)  {
        oKommFileList= (userSession.getData('KommFileList').length>0)? userSession.getData('KommFileList'):oKommFileList;
        debugger;
        sessionStorage.setItem("BackLink", window.location.href);
        $scope.gridOptions = {
            enableRowSelection: true,
            enableSelectAll: true,
            multiSelect: false,
            enableFullRowSelection: true,
            columnDefs: [
                 {name: ' ',width:'3%', cellTemplate: '<div style="padding-top:5px;"><span>{{grid.renderContainers.body.visibleRowCache.indexOf(row)+1}}</span></div>',cellClass: 'text-center', enableCellEdit: false, enableSorting:false, enableColumnResizing:false, enableColumnMenu:false},
                { field: 'FileNo', name:'File No', width:'12%' },
                { field: 'KommNo', name:'Komm No', width:'10%' ,cellClass:function(grid, row, col, rowRenderIndex, colRenderIndex) {return grid.appScope.GetClass(row.entity)}, },
                { field: 'RefNo', name:'Order No', width:'8%' },
                { field: 'IssueDateInString', name:'Issue Date', width:'9%' },
                { field: 'KommFileStatusInString', name:'KF Status', width:'9%' },
                { field: 'ModelNo', name:'Model No', cellClass:function(grid, row, col, rowRenderIndex, colRenderIndex) {return grid.appScope.GetClass(row.entity)}, width:'14%' },
                { field: 'ChassisNo', name:'Chassis No', width:'10%' },
                { field: 'EngineNo', name:'Engine No', width:'10%' },
                { field: 'InteriorColorName', name:'Interior Color', width:'15%' },
                { field: 'ExteriorColorName', name:'Exterior Color', width:'15%' },
                { field: 'ETAValueWithTypeInString', name:'E.T.A', width: '10%', enableSorting: false },
                { field: 'SalesStatusInString', name: 'Sales Status', width: '10%',
                cellTemplate:'<div ng-click="grid.appScope.SalesStatus()" >' +'<a> {{row.entity.SalesStatusInString}} </a>' +'</div>' },
                { field: 'MKTStatus', name: 'MKT Status', width: '10%', 
                cellTemplate:'<div ng-click="grid.appScope.MKTStatus()" >' +'<a> {{row.entity.MKTStatus}} </a>' +'</div>' },
                   //cellTemplate:'<div href='+sessionStorage.getItem('BaseAddress')+"/KommFile/ViewSalesStatus?id={{row.entity.KommFileID}}"+'>' +'<a> {{row.entity.MKTStatus}} </a>' +'</div>' },
                { field: 'Remarks', name: 'Remarks', width: '10%' }
            ],
            data: oKommFileList,
            onRegisterApi:function(gridApi) {
                $scope.gridApi = gridApi;
                $scope.gridApi.selection.clearSelectedRows();
                $scope.gridApi.core.refresh();
                debugger;
                if(oKommFileList.length>0 && userSession.getRowIndex()>=0)
                {
                    var index=userSession.getRowIndex();debugger;
                    $timeout(function () {
                        gridApi.grid.modifyRows($scope.gridOptions.data).then(gridApi.selection.selectRow($scope.gridOptions.data[index]));
                        gridApi.selection.selectRow(index);
                        gridApi.core.scrollTo($scope.gridOptions.data,$scope.gridOptions.data[index]);
                    }, 100);
                }
                userSession.clear();
            }
            //onRegisterApi : function(gridApi)
            //{
            //    debugger;
            //    $scope.gridApi = gridApi;
            //    $scope.gridApi.selection.clearSelectedRows();
            //    //$scope.gridApi.grid.modifyRows(oKommFileList);
            //    $scope.gridApi.selection.selectRow(oKommFileList[userSession.getRowIndex()]);
            //    userSession.clear();
            //}
        };
        //KommFileImageID
        
        $scope.GetClass = function(row)
        {
            if(row.KommFileImageID){ return 'text-primary' }
        }
        
        $scope.OpenUpdateModal=function ()
        {
            debugger;
            var oKommFile = $scope.gridApi.selection.getSelectedRows()[0];
            if(oKommFile==null || oKommFile.KommFileID<=0)
            {
                alert("Please Select an item from list");
                return;
            }
            sessionStorage.setItem('SelectedRowIndex',$scope.gridOptions.data.indexOf(oKommFile));

            var modalInstance = $uibModal.open({
                ariaLabelledBy: 'modal-title',
                ariaDescribedBy: 'modal-body',
                size: 'md',
                templateUrl: 'KommFileStatus.html',
                controller: 'KFStatusCtrl',
                controllerAs: 'KommFileController',
                resolve: {
                    obj: function () {
                        return { KommFile:oKommFile, StausList:oKommFileStatusList, Operation: 'Edit'  };
                    }
                }
            });

            modalInstance.result.then(function (result) {
                debugger;
                if(result.KommFileID>0)
                {
                    debugger;
                    var index=sessionStorage.getItem('SelectedRowIndex');
                    $scope.gridOptions.data[index]=result;
                    $scope.gridApi.grid.modifyRows($scope.gridOptions.data);
                    $scope.gridApi.selection.selectRow($scope.gridOptions.data[index]);
                }
            }, function () {
                $log.info('Modal dismissed at: ' + new Date());
            });
        };

        $scope.SalesStatus = function(id)
        {
            var oKommFile = $scope.gridApi.selection.getSelectedRows()[0];
    
            //if(oKommFile.SalesStatus!=2)
            //{
            //    //alert("No Sales Quotation");
            //    return;
            //}
            var oKommFile = {
                KommFileID:oKommFile.KommFileID
            };
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(sessionStorage.getItem('BaseAddress')+'/KommFile/GetSalesStatus',$.param(oKommFile), config).then(
                                function (response) {
                                    result=jQuery.parseJSON(response.data);
                                    $scope.Modal( result, 'Edit');
                                }, function () {
                                    $log.info('GetVehicleOrderDetails Dismissed at: ' + new Date());
                                });
        }
        $scope.Modal = function (objSQ, operation) {
            debugger;
            var modalInstance = $uibModal.open({
                ariaLabelledBy: 'modal-title',
                ariaDescribedBy: 'modal-body',
                size: 'md',
                templateUrl: 'SalesQuotationStatus.html',
                controller: 'ModalInstanceCtrl',
                controllerAs: 'KommFileController',
                resolve: {
                    obj: function () {
                        return { SalesQuotation:objSQ, Operation: operation  };
                    }
                }
            });

            modalInstance.result.then(function (result) {
                debugger;
                if(result.SalesQuotationID>0)
                {
                    if(operation=='add'){
                        $scope.gridOptions.data.push(result);
                        $scope.gridApi.grid.modifyRows($scope.gridOptions.data);
                        $scope.gridApi.selection.selectRow(result);
                    }
                    else
                    {
                        $scope.gridOptions.data[$scope.index]=result;
                        $scope.gridApi.grid.modifyRows($scope.gridOptions.data);
                        $scope.gridApi.selection.selectRow($scope.gridOptions.data[$scope.index]);
                    }
                }
            }, function () {
                $log.info('Modal dismissed at: ' + new Date());
            });
        };
        
        $scope.MKTStatus= function ()
        {
            var oKommFile = $scope.gridApi.selection.getSelectedRows()[0];
    
            if(oKommFile.SalesQuotationCount<=0)
            {
                alert("No Sales Quotation");
                return;
            }
            var oKommFile = {
                KommFileID:oKommFile.KommFileID
            };
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(sessionStorage.getItem('BaseAddress')+'/KommFile/GetMKTStatus',$.param(oKommFile), config).then(
                        function (response)
                        {
                            var oColumns = [];
                            var oColumn = { field: 'FileNo', name: 'File No',width: '25%'  };oColumns.push(oColumn);
                            oColumn = { field: 'MarketingAccountName', name:'MKT Person', width:'25%' };oColumns.push(oColumn);
                            oColumn =  { field: 'SalesStatusInString', name: 'Sales Status', width: '25%' };oColumns.push(oColumn);
                            oColumn =  {field: 'SalesStatusRemarks', name: 'Remarks', width: '25%'};oColumns.push(oColumn);

                            var results=jQuery.parseJSON(response.data);
                            var modalObj={
                                size:'md',
                                modalcontroller:'',
                                appcontroller:'',
                                objs:results,
                                multiSelect:false,
                                pickertitle:'Sales Status',
                                searchingbyfieldName:'FileNo',
                                columns:oColumns
                            }
                            var modalInstance=msModal.Instance(modalObj);
                            modalInstance.result.then(function (result)
                            {
                              
                            }, function () {
                                $log.info('Modal dismissed at: ' + new Date());
                            });
                        },
                            function (response) { alert(jQuery.parseJSON(response.data).Message);}
                    );
        };
        
        $scope.AdvanceSearch=function()
        { 
            var oColumns = [];
            var oColumn = { field: 'ModelNo', name: 'ModelNo',width: '30%'  };oColumns.push(oColumn);
            oColumn = { field: 'CategoryName', name: 'CategoryName',width: '40%', enableSorting: false  };oColumns.push(oColumn);
            
            var paramObj_Model={
                obj:{ModelNo: '@@VehicleModelID'},
                objName:'ModelNo',
                url:_sBaseAddress+'/VehicleModel/GetVehicleModels',
                title:'Model List',
                multiSelect:true,
                columns:oColumns
            }

            var oStatusList=oKommFileStatusList;
            var oElementList = [{ DisplayName: "SL No",  BOField: "SLNo",      InputType: 'text' },
                                { DisplayName: "Komm No",    BOField: "KommNo",       InputType: 'text' },
                                { DisplayName: "KF Status",    BOField: "KommFileStatus",       InputType: 'select', OptionList:oStatusList},
                                { DisplayName: "Issue Date",BOField: "IssueDate",    InputType: 'date' },
                                { DisplayName: "Model No",  BOField: "VehicleModelID",   InputType: 'picker', PickerObject:paramObj_Model }
                                //{ DisplayName: ["Yet To Forward (HO)","Yet To Forward (Buyer)"],  BOField: ["YetToHO","YetToBuyer"],   InputType: 'bool'},
                                //{ DisplayName: "SomeType",    BOField: "SomeType",       InputType: 'select', OptionList:[{id:2,Value:"KisuNai"}]},
                               ];
            var modalObj={
                size:'md',
                title:"Advance Search",
                url:_sBaseAddress+'/Home/AdvanceSearch',
                CompareOperators:oCompareOperators,
                HtmlElements:oElementList,
                isAdvanceSearch:true, // if TRUE: 'urlAdvanceSearch' should be define
                urlAdvanceSearch:_sBaseAddress + '/KommFile/AdvSearch'
            }

            var modalInstance=advanceSearch.Instance(modalObj);
            modalInstance.result.then(function (result) 
            {
                console.log(result);
                $scope.gridOptions.data=result;
            }, function () 
            {
                $log.info('Modal dismissed at: ' + new Date());
            });
        };

        $scope.searchByRefNo = function(e)
        {
            debugger;
            var RefNo = $scope.RefNo;
            var oKommFiles = oKommFileList;
            var sTempName="";
            var oSearchedList = [];  
            var oCurrentList = $scope.gridOptions.data; 
            if (e.which == 8)
            {
                oCurrentList = oKommFiles;
            }     
            for(i=0;i<oCurrentList.length;++i)
            {
                sTempName=oCurrentList[i].RefNo;        
                n=sTempName.toUpperCase().indexOf(RefNo.toUpperCase())
                if(n!=-1)
                {
                    oSearchedList.push(oCurrentList[i]); 
                }       
            }
            $scope.gridOptions= {data:oSearchedList};
        }
        $scope.Add  = function ()
        {
            debugger;
            sessionStorage.setItem("KommFileList", JSON.stringify($scope.gridOptions.data));
            sessionStorage.setItem("SelectedRowIndex", -1);
            sessionStorage.setItem("KommFileHeader", "Add Komm File");
            sessionStorage.setItem("BackLink", window.location.href);
            window.location.href =sessionStorage.getItem('BaseAddress')+"/KommFile/ViewKommFile?id=0";
        }
        $scope.Edit =  function ()
        {
            debugger;
            var oKommFile = $scope.gridApi.selection.getSelectedRows()[0];
            if(oKommFile==null || oKommFile.KommFileID<=0)
            {
                alert("Please Select an item from list");
                return;
            }
            angular.forEach($scope.gridOptions.data, function (value, index) {
                if (value.KommFileID == oKommFile.KommFileID)
                {
                    sessionStorage.setItem("KommFileList", JSON.stringify($scope.gridOptions.data));
                    sessionStorage.setItem("SelectedRowIndex", index);
                    sessionStorage.setItem("KommFileHeader", "Edit Komm File");
                    sessionStorage.setItem("BackLink", window.location.href);
                    window.location.href =sessionStorage.getItem('BaseAddress')+"/KommFile/ViewKommFile?id="+oKommFile.KommFileID;
                }
            }, $scope.gridOptions.data);
        }
        $scope.View =  function ()
        {
            //debugger;
            var oKommFile = $scope.gridApi.selection.getSelectedRows()[0];
            if(oKommFile==null || oKommFile.KommFileID<=0)
            {
                alert("Please Select an item from list");
                return;
            }
            angular.forEach($scope.gridOptions.data, function (value, index) {
                if (value.KommFileID == oKommFile.KommFileID)
                {
                    sessionStorage.setItem("KommFileList", JSON.stringify($scope.gridOptions.data));
                    sessionStorage.setItem("SelectedRowIndex", index);
                    sessionStorage.setItem("KommFileHeader", "View Komm File");
                    sessionStorage.setItem("BackLink", window.location.href);
                    window.location.href =sessionStorage.getItem('BaseAddress')+"/KommFile/ViewKommFile?id="+oKommFile.KommFileID;
                }
            }, $scope.gridOptions.data);
        }
        $scope.Copy =  function ()
        {
            debugger;
            var oKommFile = $scope.gridApi.selection.getSelectedRows()[0];
            if(oKommFile==null || oKommFile.KommFileID<=0)
            {
                alert("Please Select an item from list");
                return;
            }
            angular.forEach($scope.gridOptions.data, function (value, index) {
                if (value.KommFileID == oKommFile.KommFileID)
                {
                    sessionStorage.setItem("KommFileList", JSON.stringify($scope.gridOptions.data));
                    sessionStorage.setItem("SelectedRowIndex", index);
                    sessionStorage.setItem("KommFileHeader", "Copy Komm File");
                    sessionStorage.setItem("BackLink", window.location.href);
                    window.location.href =sessionStorage.getItem('BaseAddress')+"/KommFile/ViewKommFile?id="+oKommFile.KommFileID;
                }
            }, $scope.gridOptions.data);
        }
        $scope.PrintPreview = function ()
        {
            debugger;
            var oKommFile = $scope.gridApi.selection.getSelectedRows()[0];
            if(oKommFile==null || oKommFile.KommFileID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            window.open(sessionStorage.getItem('BaseAddress') + '/KommFile/PrintKommFilePreview?id='+oKommFile.KommFileID);
        };
        $scope.PrintPreviewXL = function ()
        {
            debugger;
            var oKommFile = $scope.gridApi.selection.getSelectedRows()[0];
            if(oKommFile==null || oKommFile.KommFileID<=0)
            {
                alert("Please select a item from list!");
                return;
            }        
            //window.open(sessionStorage.getItem('BaseAddress') + '/KommFile/PrintKommFilePreview?id='+oKommFile.KommFileID);    
            window.open(sessionStorage.getItem('BaseAddress') + '/KommFile/PrintKommFileXL?id='+oKommFile.KommFileID);            
        };        
        $scope.PrintList = function ()
        {
            var oKommFiles=  $scope.gridOptions.data;//$('#tblKommFile').datagrid('getRows');
            var ids ="";
            if(oKommFiles.length >0)
            {

                for(var i =0;i<oKommFiles.length;i++)
                {
                    ids =ids+oKommFiles[i].KommFileID+",";
                }
                ids= ids.substring(0, ids.length - 1);
            }
            else
            {
                alert("Data not found ");
                return;
            }
            window.open(sessionStorage.getItem('BaseAddress') + '/KommFile/PrintList?sIDs='+ids);
        };
        $scope.Delete= function ()
        {
            debugger;
            var oKommFile = $scope.gridApi.selection.getSelectedRows()[0];
            if(oKommFile==null || oKommFile.KommFileID<=0)
            {
                alert("Please Select an item from list");
                return;
            }

            if (!confirm("Confirm to Delete?")) return ;
            $http.post(sessionStorage.getItem('BaseAddress')+'/KommFile/Delete', JSON.stringify(oKommFile)).then(
                            function (response) {
                                if (jQuery.parseJSON(response.data) == 'Deleted') {
                                    angular.forEach($scope.gridOptions.data, function (value, index)
                                    {
                                        if (value.KommFileID == oKommFile.KommFileID)
                                        {
                                            alert("Successfully Deleted.");
                                            $scope.gridOptions.data.splice(index, 1);
                                        }
                                    }, $scope.gridOptions.data);
                                }
                                else {
                                    alert(jQuery.parseJSON(response.data));
                                }
                            },
                            function (response) { alert(jQuery.parseJSON(response.data)); }
                        );

        };
        $scope.PrintListXL = function ()
        {
            debugger;
            //var oKommFile = $scope.gridApi.selection.getSelectedRows()[0];
            //if(oKommFile==null || oKommFile.KommFileID<=0)
            //{
            //    alert("Please select a item from list!");
            //    return;
            //}        
            //window.open(sessionStorage.getItem('BaseAddress') + '/KommFile/PrintKommFilePreview?id='+oKommFile.KommFileID);    
            window.open(sessionStorage.getItem('BaseAddress') + '/KommFile/PrintKommFileListXL');   
        }
        $scope.PrintSQ = function ()
        {
            window.open(sessionStorage.getItem('BaseAddress') + '/KommFile/PrintSQ');   
        }
        
        $scope.UpImage = function ()
        {
            var oKommFile = $scope.gridApi.selection.getSelectedRows()[0];
            if(oKommFile==null || oKommFile.KommFileID<=0)
            {
                alert("Please Select an item from list");
                return;
            }
            angular.forEach($scope.gridOptions.data, function (value, index) {
                if (value.KommFileID == oKommFile.KommFileID)
                {
                    sessionStorage.setItem("KommFileList", JSON.stringify($scope.gridOptions.data));
                    sessionStorage.setItem("SelectedRowIndex", index);
                    sessionStorage.setItem("ModelHeader", oKommFile.ModelNo);
                    sessionStorage.setItem("BackLink", window.location.href);
                    window.location.href =sessionStorage.getItem('BaseAddress')+"/KommFile/ImageHelper?id="+oKommFile.KommFileID;
                }
            }, $scope.gridOptions.data);

        }

        $scope.close = function()
        {
            window.location.href =sessionStorage.getItem("BackLink");
        }

        //button hide
        $scope.btnAdd = $scope.btnEdit = $scope.btnDetails = $scope.btnDelete = $scope.btnImage=  $scope.btnPrintList= $scope.btnPriview = false;
        //button show
        if(PermissionChecker('Add','KommFile',oAuthorizationRolesMapping)){$scope.btnAdd =$scope.btnImage = true; }
        if(PermissionChecker('Edit','KommFile',oAuthorizationRolesMapping)){$scope.btnEdit = true;}
        if(PermissionChecker('View','KommFile',oAuthorizationRolesMapping)){$scope.btnView = true;}
        if(PermissionChecker('Delete','KommFile',oAuthorizationRolesMapping)){$scope.btnDelete = true;}
        if(PermissionChecker('Preview','KommFile',oAuthorizationRolesMapping)){$scope.btnPriview = true;}
        if(PermissionChecker('Print','KommFile',oAuthorizationRolesMapping)){$scope.btnPrintList = true;}
        if(PermissionChecker('Print','KommFile',oAuthorizationRolesMapping)){$scope.btnXLList = true;}
        if(PermissionChecker('Print','KommFile',oAuthorizationRolesMapping)){$scope.btnSQ = true;}

    });
    CInvoiceapp.controller('ModalInstanceCtrl', function ($scope, $http, $uibModalInstance, uiGridConstants, msModal, obj) {
        $scope.Operation=obj.Operation;
        $scope.SalesQuotation = obj.SalesQuotation;
        $scope.cancel= function () {
            $uibModalInstance.close($scope.SalesQuotation);
        };

    });

    CInvoiceapp.controller('KFStatusCtrl', function ($scope, $http, $uibModalInstance, uiGridConstants, msModal, obj) {
        
        $scope.Operation=obj.Operation;
        $scope.KommFileStatusList=obj.StausList;

        if(obj.KommFile.KommFileID==null || obj.KommFile.KommFileID<=0)
        {
            $scope.KFStatus={
                KommFileStatusID : 0,
                BUID:sessionStorage.getItem('BUID'),
                Name : "",
                Activity : true
            }
        }
        else
        {
            $scope.KFStatus = obj.KommFile;
            $scope.KFStatus.KommFileStatus = obj.KommFile.KommFileStatus;
        }

        $scope.Validation=function()
        {
            if($scope.KFStatus.KommFileStatus<=0){
                msModal.Message({headerTitle : '', bodyText:'Please select Status.', sucessText : ' Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                return false;
            }

            return  true;
        };

        $scope.UpdateStatus= function ()
        {
            if (!confirm("Confirm to Update for "+$scope.KFStatus.KommNo+" ?")) return ;
            debugger;
            var oKommFileStatus= $scope.KFStatus;
            
            $http.post(sessionStorage.getItem('BaseAddress')+'/KommFile/UpdateStatus', JSON.stringify(oKommFileStatus)).then(
                            function (response)
                            {
                                debugger;
                                if (jQuery.parseJSON(response.data)!=null && jQuery.parseJSON(response.data).KommFileID > 0)
                                {
                                    alert("Status Successfully Updated.");
                                    $uibModalInstance.close(jQuery.parseJSON(response.data));
                                }
                                else
                                {
                                    alert(jQuery.parseJSON(response.data).ErrorMessage);
                                }
                            },
                            function (response) { alert(response.statusText); }
                        );
        };

        $scope.cancel= function () {
            $uibModalInstance.close($scope.KommFileStatus);
        };

    });

</script>
