<div class="modal-header">
    <h4 class="modal-title" id="modal-title" ng-bind="PickerTitle">LC Format Setup</h4>
</div>
<div id="modal-body" class="modal-body regionDocSetup">
    <fieldset style="margin-bottom: 0px;">
        <legend>Truck Info</legend>
        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label"> Receipt No:</label></div>
            <div class="col-md-3 text-left">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="ExportDocTnC.TruckReceiptNo" disabled>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="PickTruckReceipt()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>
            </div>
            <div class="col-md-3 text-right"><label class="control-label"> Receipt Date:</label></div>
            <div class="col-md-3 text-left"><input type="text" class="form-control" ng-model="ExportDocTnC.TruckReceiptDateInString" disabled></div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">Carrier:</label></div>
            <div class="col-md-3 text-left"><input type="text" class="form-control" ng-model="ExportDocTnC.Carrier" disabled></div>
            <div class="col-md-3 text-right"><label class="control-label"> Truck No:</label></div>
            <div class="col-md-3 text-left"><input type="text" class="form-control" ng-model="ExportDocTnC.TruckNo" disabled></div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">Driver Name:</label></div>
            <div class="col-md-9 text-left"><input type="text" class="form-control" ng-model="ExportDocTnC.DriverName" disabled></div>
        </div>
    </fieldset>
    <fieldset>
    <div class="row col-md-12">
        <div class="col-md-8 text-right"><div ui-grid="gridOptionsDocForWarding" ui-grid-selection ui-grid-edit style="width:100%;height:180px;"></div></div>
        <div class="col-md-4 text-left"><div ui-grid="gridOptionsPartyInfoBill" ui-grid-selection style="width:100%;height:180px;"></div></div>
    </div>
        </fieldset>
    <fieldset>
        <legend>Other Info</legend>
        <div class="row col-md-12">
            <div class="col-md-3 text-right"><input type="checkbox"  ng-model="ExportDocTnC.IsPrintGrossNetWeight" style="text-align:right;"/></div>
            <div class="col-md-3 text-left">
                <label class="control-label">Print Gross / Net Weight:</label>
            </div>
            <div class="col-md-3 text-right"><input type="checkbox"ng-model="ExportDocTnC.IsPrintOriginal"/></div>
            <div class="col-md-3 text-left">
                <label class="control-label">Print Original:</label>
            </div>
            
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 text-right"><input type="checkbox"  ng-model="ExportDocTnC.IsDeliveryBy"></div>
            <div class="col-md-3 text-left"><input type="text" ng-model="ExportDocTnC.DeliveryBy" class="form-control" placeholder="Delivery By" /> </div>
            <div class="col-md-3 text-right"><input type="checkbox"  ng-model="ExportDocTnC.IsTerm"></div>
            <div class="col-md-3 text-left"><input type="text" ng-model="ExportDocTnC.Term" class="form-control" placeholder="Trade Term" /> </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 text-right"></div>
            <div class="col-md-3 text-left"><input type="text" ng-model="ExportDocTnC.MeasurementCarton" class="form-control" placeholder="Measurement Carton" /> </div>
            <div class="col-md-3 text-right"></div>
            <div class="col-md-3 text-left"><input type="text" ng-model="ExportDocTnC.PerCartonWeight" class="form-control" placeholder="Per Carton Weight" /> </div>
        </div>
    </fieldset>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="save()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="closedocument()">Close</button>
</div>
<style type="text/css">
    .regionDocSetup .form-control {
        height: 25px;
        padding: 0px 4px;
        font-size: 12px;
    }

    .regionDocSetup .control-label {
        padding-top: 1px;
    }

    .regionDocSetup .col-md-12 {
        width: 100%;
        padding-right: 2px;
        padding-left: 2px;
        margin-bottom: 5px;
    }

    .regionDocSetup .col-md-3 {
        width: 25%;
        padding-left: 2px;
        padding-right: 2px;
    }

    .regionDocSetup .col-md-9 {
        width: 75%;
        padding-left: 2px;
        padding-right: 2px;
    }

    .regionDocSetup .col-md-4 {
        width: 28%;
        padding-right: 2px;
        padding-left: 2px;
    }

    .regionDocSetup .col-md-8 {
        width: 72%;
        padding-right: 2px;
        padding-left: 2px;
    }

    .regionDocSetup .btn-sm {
        padding: 3px 10px;
    }

    .regionDocSetup .input-group-addon {
        padding: 4px 8px;
    }
</style>
