IF NOT EXISTS (SELECT * FROM sys.columns where Name = N'FinancialUserType' and Object_ID = Object_ID(N'Users'))
BEGIN
   ALTER TABLE Users
   ADD FinancialUserType smallint
END
GO
/****** Object:  View [dbo].[View_User]    Script Date: 12/6/2016 2:41:17 PM ******/
DROP VIEW [dbo].[View_User]
GO
/****** Object:  View [dbo].[View_BUPermission]    Script Date: 12/6/2016 2:41:17 PM ******/
DROP VIEW [dbo].[View_BUPermission]
GO
/****** Object:  Table [dbo].[BUPermission]    Script Date: 12/6/2016 2:41:17 PM ******/
DROP TABLE [dbo].[BUPermission]
GO
/****** Object:  UserDefinedFunction [dbo].[FN_IsPermittedBU]    Script Date: 12/6/2016 2:41:17 PM ******/
DROP FUNCTION [dbo].[FN_IsPermittedBU]
GO
/****** Object:  StoredProcedure [dbo].[SP_IUD_User]    Script Date: 12/6/2016 2:41:17 PM ******/
DROP PROCEDURE [dbo].[SP_IUD_User]
GO
/****** Object:  StoredProcedure [dbo].[SP_IUD_BUPermission]    Script Date: 12/6/2016 2:41:17 PM ******/
DROP PROCEDURE [dbo].[SP_IUD_BUPermission]
GO
/****** Object:  StoredProcedure [dbo].[SP_IUD_BUPermission]    Script Date: 12/6/2016 2:41:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IUD_BUPermission]
(
	@BUPermissionID	as int,
	@UserID	as int,	
	@BUID	as int,	
	@Remarks	as varchar(512),
	@DBOperation as smallint,
	@DBUserID as int
	--%n, %n, %n, %s, %n, %n
)
AS
BEGIN TRAN
DECLARE 
@DBServerDateTime as datetime
SET @DBServerDateTime=Getdate()
IF(@DBOperation=1)
BEGIN	
	IF EXISTS(SELECT * FROM BUPermission AS HH WHERE HH.UserID=@UserID AND HH.BUID=@BUID)
	BEGIN
		ROLLBACK
			RAISERROR (N'Your Selected BUPermission Already Axists!!~',16,1);	
		RETURN
	END
	SET @BUPermissionID=(SELECT ISNULL(MAX(BUPermissionID),0)+1 FROM BUPermission)		
	INSERT INTO BUPermission  (BUPermissionID,	UserID,	BUID,	Remarks,	DBUserID,	DBServerDateTime)
						VALUES(@BUPermissionID,	@UserID,@BUID,	@Remarks,	@DBUserID,	@DBServerDateTime)
    SELECT * FROM View_BUPermission WHERE BUPermissionID=@BUPermissionID
END
IF(@DBOperation=2)
BEGIN
	IF(@BUPermissionID<=0)
	BEGIN
		ROLLBACK
			RAISERROR (N'Your Selected BUPermission Is Invalid Please Refresh and try again!!~',16,1);	
		RETURN
	END	
	UPDATE BUPermission SET  UserID=@UserID,	BUID=@BUID,	Remarks=@Remarks  WHERE BUPermissionID=@BUPermissionID
 	SELECT * FROM View_BUPermission WHERE BUPermissionID=@BUPermissionID
END

IF(@DBOperation=3)
BEGIN
	IF(@BUPermissionID<=0)
	BEGIN
		ROLLBACK
			RAISERROR (N'Your Selected BUPermission Is Invalid Please Refresh and try again!!!~',16,1);	
		RETURN
	END	
	DELETE FROM BUPermission WHERE BUPermissionID=@BUPermissionID
END
COMMIT TRAN

GO
/****** Object:  StoredProcedure [dbo].[SP_IUD_User]    Script Date: 12/6/2016 2:41:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IUD_User]
(
	@UserID as int,
	@LogInID as varchar(512),
	@UserName as varchar(512),
	@Password as varchar(512),
	@OwnerID as int,
	@LoggedOn as bit,
	@LoggedOnMachine as varchar(512),
	@CanLogin as bit,
	@DomainUserName as varchar(512),
	@EmployeeID as int,
	@LocationID as int,
	@AccountHolderType as smallint,
	@EmailAddress as varchar(512),
	@FinancialUserType as smallint,
	@DBOperation as smallint
	--%n, %s, %s, %s, %n, %b, %s, %b, %s, %n, %n, %n, %s, %n, %n
)		
AS
BEGIN TRAN
DECLARE 
@DBServerDateTime as datetime
SET @DBServerDateTime=Getdate()
IF(@DBOperation=1)
BEGIN		
		IF EXISTS(SELECT * FROM Users WHERE LogInID=@LogInID)
		BEGIN
			ROLLBACK
				RAISERROR (N'Your Engtered log-in id al ready exists!!',16,1);	
			RETURN
		END	
		SET @UserID=(SELECT ISNULL(MAX(UserID),0)+1 FROM Users)		
		SET @DBServerDateTime=getdate()		
		INSERT INTO Users	(UserID,	LogInID,	UserName,	[Password],	OwnerID,	LoggedOn,	LoggedOnMachine,	CanLogin,	DomainUserName,		EmployeeID,		LocationID,		AccountHolderType,	EmailAddress,	FinancialUserType)
					VALUES	(@UserID,	@LogInID,	@UserName,	@Password,	@OwnerID,	@LoggedOn,	@LoggedOnMachine,	@CanLogin,	@DomainUserName,	@EmployeeID,	@LocationID,	@AccountHolderType,	@EmailAddress,	@FinancialUserType)    				  
    	SELECT * FROM View_User WHERE UserID=@UserID
END

IF(@DBOperation=2)
BEGIN
	IF(@UserID<=0)
	BEGIN
		ROLLBACK
			RAISERROR (N'Your Selected User Is Invalid Please Refresh and try again!!',16,1);	
		RETURN
	END	
	IF EXISTS(SELECT * FROM Users WHERE LogInID=@LogInID AND UserID!=@UserID)
	BEGIN
		ROLLBACK
			RAISERROR (N'Your Entered log-in id al ready exists!!',16,1);	
		RETURN
	END	
	UPDATE Users SET  LogInID=@LogInID,	UserName=@UserName,	/*[Password]=@Password,*/	OwnerID=@OwnerID,	LoggedOn=@LoggedOn,	LoggedOnMachine=@LoggedOnMachine,	CanLogin=@CanLogin,	DomainUserName=@DomainUserName,		EmployeeID=@EmployeeID,		LocationID=@LocationID,		AccountHolderType=@AccountHolderType,	EmailAddress=@EmailAddress, FinancialUserType=@FinancialUserType   WHERE UserID=@UserID  
 	SELECT * FROM View_User WHERE UserID=@UserID
END

IF(@DBOperation=3)
BEGIN
	IF(@UserID<=0)
	BEGIN
		ROLLBACK
			RAISERROR (N'Your Selected User Is Invalid Please Refresh and try again!!',16,1);	
		RETURN
	END
	DELETE FROM UserPermissionFinance WHERE UserID=@UserID	
	DELETE FROM Users WHERE UserID=@UserID
END
COMMIT TRAN



GO
/****** Object:  UserDefinedFunction [dbo].[FN_IsPermittedBU]    Script Date: 12/6/2016 2:41:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[FN_IsPermittedBU]
(
	@BUID as int,
	@UserID as int
)
RETURNS bit
AS
BEGIN 
--DECLARE 
--@BUID as int,
--@UserID as int
--SET @BUID=4
--SET @UserID=60

DECLARE 
@IsPermitted as bit,
@FinancialUserType as smallint
SET @IsPermitted =0

--EnumFinancialUserType { None = 0, GroupAccounts = 1, IndividualAccounts = 2 }
SET @FinancialUserType = ISNULL((SELECT HH.FinancialUserType FROM Users AS HH WHERE HH.UserID=@UserID),0)
IF(@FinancialUserType=1)
BEGIN
	SET @IsPermitted =1
END
ELSE IF(@FinancialUserType=2)
BEGIN
	IF EXISTS(SELECT * FROM BUPermission AS HH WHERE HH.BUID=@BUID AND HH.UserID=@UserID)
	BEGIN
		SET @IsPermitted =1
	END
END

RETURN @IsPermitted 
--SELECT @IsPermitted
END




GO
/****** Object:  Table [dbo].[BUPermission]    Script Date: 12/6/2016 2:41:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BUPermission](
	[BUPermissionID] [int] NOT NULL,
	[UserID] [int] NULL,
	[BUID] [int] NULL,
	[Remarks] [varchar](512) NULL,
	[DBUserID] [int] NULL,
	[DBServerDateTime] [datetime] NULL,
 CONSTRAINT [PK_BUPermission] PRIMARY KEY CLUSTERED 
(
	[BUPermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[View_BUPermission]    Script Date: 12/6/2016 2:41:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_BUPermission]
AS
SELECT	BUPermission.BUPermissionID, 
		BUPermission.UserID, 		
		BUPermission.BUID, 		
		BUPermission.Remarks, 
        BU.Code AS BUCode,
		BU.Name AS BUName

FROM		BUPermission 
INNER JOIN	BusinessUnit AS BU  ON BUPermission.BUID = BU.BusinessUnitID



GO
/****** Object:  View [dbo].[View_User]    Script Date: 12/6/2016 2:41:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[View_User]
AS
SELECT		Users.UserID, 
			Users.LogInID, 
			Users.UserName, 
			Users.Password, 
			Users.OwnerID, 
			Users.LoggedOn, 
			Users.LoggedOnMachine, 
			Users.CanLogin, 
			Users.DomainUserName, 
			Users.EmployeeID, 
			Users.LocationID, 
			Users.AccountHolderType, 
			Users.EmailAddress,
			Users.FinancialUserType,
            Employee.Name+'[ '+Employee.Code+' ]' AS EmployeeNameCode,                         
            Location.Name AS LocationName
            ,CASE WHEN Users.AccountHolderType = 2 THEN  Users.EmployeeID ELSE 0 END as ContractorID
            ,CASE WHEN Users.AccountHolderType = 1 THEN Employee.EmployeeDesignationType ELSE 0 END as EmployeeType
            ,CASE  
		    WHEN Users.AccountHolderType = 2 THEN (SELECT Top(1)ContractorType.ContractorType FROM ContractorType WHERE ContractorID=Users.EmployeeID)
		    else 0 END  AS ContractorType
		    , ISNULL(Employee.CompanyID,0) AS CompanyID
            
FROM			Users 
left JOIN	Employee ON Users.EmployeeID = Employee.EmployeeID 
LEFT JOIN		Location ON Users.LocationID = Location.LocationID




GO
