<html>
@{
    ViewBag.Title = "Time Cards";
}
<body>
@model IEnumerable <ESimSol.BusinessObjects.MaxOTConfiguration>
<div class="menuMainCollectionTable" style="height:100%">
    <table id="tblMaxOTConfiguration" title="Time Card List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
        <thead>
            <tr>
                <th field="TimeCardName" width="12%">TimeCardName</th>                
                <th field="MaxBeforeInMinHourSt" width="11%">MaxBeforeIn Hour</th>
                <th field="MaxOTInMinHourSt" width="10%">MaxOT In Hour</th>
                <th field="IsPresentOnDayOffSt" width="12%">Present On Dayoff</th>
                <th field="IsPresentOnHolidaySt" width="12%">Present On Holiday</th>                
                <th field="UserName" width="8%">UserName</th>
                <th field="LastUpdateByName" width="10%">LastUpdateBy name</th>
                <th field="ActivityStatus" width="10%">Status</th>
                <th field="SourceTimeCardName" width="12%">Source TimeCard</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">        
        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                
        <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
        <a id="btnActivity" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Activity</a>        
    </div>
    <div id="winMaxOTConfiguration" class="easyui-window" title="MaxOTConfiguration" style="width:540px;height:505px;padding:2px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div>
            <fieldset>
                <legend style="font-weight:bold"> MaxOTConfiguration : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:170px; text-align:right">
                            Time Card Name :
                        </td>
                        <td style="width:300px">
                            <input type="text" style="width: 300px;" id="txtTimeCardName" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Max Before In Min :
                        </td>
                        <td style="width:300px">
                            <input  type="text" style="width: 300px;" id="txtMaxBeforeInMin" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Max OT In Min :
                        </td>
                        <td style="width:300px">
                            <input  type="text" style="width: 300px;" id="txtMaxOTMin" />
                        </td>
                    </tr>                    
                    <tr>
                        <td style="width:170px; text-align:right">
                            Source TimeCard :
                        </td>
                        <td style="width:300px">
                            <select id="cboSourceTimeCard" style="width:300px;height:22px;"></select>
                        </td>
                    </tr>

                    <tr>
                        <td style="width:10px;">
      
                        </td>
                  
                        <td style="width:20px;text-align:left">
                            <label>
                                <input type="checkbox" id="cboPresentHoliDay" />
                                Present On Holiday
                            </label>
                            <label>
                                <input type="checkbox" id="cboPresentDayOff" />
                                Present On DayOff
                            </label>
                        </td>

                        <td style="width:50px;"></td>
                    </tr>
                </table>
                <table id="tblEmployeeType" title="Usages Employee Type" class="easyui-datagrid" style="height:240px; width:98%;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar2">
                    <thead>
                        <tr>

                            <th field="EmployeeTypeName" width="50%" align="left">Status</th>
                            <th field="Remarks" width="45%" align="left">Remarks</th>
                        </tr>
                    </thead>
                </table>
                <div id="toolbar2">                    
                    <select id="cboEmployeeType" style="width:20%;height:22px;"></select>
                    <input type="text" style="width:100px" id="txtEmpTypeRemarks" placeholder="Remarks" />
                    <a id="btnAddEmployeeType" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                    <a id="btnRemoveEmployeeType" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                    <a id="btnRefreshEmployeeType" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>

                </div>
            </fieldset>
        </div>
        <fieldset style="width:99%; vertical-align:top;">
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold;">
                <tr>
                    <td style="width:100px;text-align:right"></td>
                    <td style="width:408px;text-align:right;">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Cancel</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>

</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $('#txtMaxOTMin,#txtMaxBeforeInMin').icsCurrencyBox(null, 0.000, 0);
        var oMaxOTConfigurations =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oTempoMaxOTConfigurations =sessionStorage.getItem("MaxOTConfigurations");
        if(oTempoMaxOTConfigurations!=null)
        {
            oMaxOTConfigurations = jQuery.parseJSON(oTempoMaxOTConfigurations);
        }
        RefreshList(oMaxOTConfigurations);
    });
    function LoadEmployeeTypeCombo(oMaxOTConfiguration)
    {
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/MaxOTConfiguration/GetsEmployeeType",
            traditional: true,
            contentType: "application/json; charset=utf-8",
            success: function (data)            {           
                var oEmployeeType = jQuery.parseJSON(data);
                if (oEmployeeType.ErrorMessage=="" || oEmployeeType.ErrorMessage==null)
                {
                    $("#cboEmployeeType").icsLoadCombo({ List: oEmployeeType, OptionValue: "EmployeeTypeID", DisplayText: "Name" });
                    $("#winMaxOTConfiguration").icsWindow('open', "MaxOTConfiguration");
                    $("#winMaxOTConfiguration input").not("input[type='button']").val("");
                    RefreshControl(oMaxOTConfiguration);
                }
                else 
                {
                    alert(oEmployeeType.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }
    $('#btnAdd').click(function (e) {        
        $('#tblEmployeeType').datagrid('loadData',[]);
        $("#cboEmployeeType").icsLoadCombo({ List: [], OptionValue: "", DisplayText: "" });
        var oMaxOTConfigurations= $('#tblMaxOTConfiguration').datagrid('getRows');
        sessionStorage.setItem("MaxOTConfigurations", JSON.stringify(oMaxOTConfigurations));
        var oMaxOTConfiguration={
            MOCID:0,
            TimeCardName:"",
            MaxBeforeInMin:'',
            MaxOTInMin:'',
            IsPresentOnDayOff:0,
            IsPresentOnHoliday:0
        };

        LoadSourceTimeCardCombo(oMaxOTConfiguration);
        sessionStorage.setItem("SelectedRowIndex", -1);
        $('#tblMaxOTConfiguration').data('MaxOTConfiguration', oMaxOTConfiguration);
        LoadEmployeeTypeCombo(oMaxOTConfiguration);
      
    });
    function LoadSourceTimeCardCombo(oMaxOTConfiguration)
    {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: sessionStorage.getItem('BaseAddress')+  "/MaxOTConfiguration/GetSourceTimeCard",
            traditional: true,
            data:  JSON.stringify(oMaxOTConfiguration),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                
                var tempoMaxOTConfiguration = jQuery.parseJSON(data);
                $("#cboSourceTimeCard").icsLoadCombo({ List: tempoMaxOTConfiguration, OptionValue: "MOCID", DisplayText: "TimeCardName" });
                $("#cboSourceTimeCard").val(oMaxOTConfiguration.SourceTimeCardID);
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    $('#btnActivity').click(function (e) {
        var oMaxOTConfiguration = $('#tblMaxOTConfiguration').datagrid('getSelected');
        if (oMaxOTConfiguration == null || parseInt(oMaxOTConfiguration.MOCID) <= 0) {
            alert("Please Select an item from list");
            return;
        }
        var nSelectedRowIndex =$('#tblMaxOTConfiguration').datagrid('getRowIndex',oMaxOTConfiguration);
        if(oMaxOTConfiguration.IsActive==true)
        {
            if (!confirm("Confirm to InActive?")) return ;
            oMaxOTConfiguration.IsActive=false;
        }
        else
        {
            if (!confirm("Confirm to Active?")) return ;
            oMaxOTConfiguration.IsActive=true;
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url: sessionStorage.getItem('BaseAddress')+  "/MaxOTConfiguration/Activity",
            traditional: true,
            data:  JSON.stringify(oMaxOTConfiguration),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                
                oMaxOTConfiguration = jQuery.parseJSON(data);
                $('#tblMaxOTConfiguration').datagrid('updateRow',{ index: nSelectedRowIndex, row: oMaxOTConfiguration });
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#btnEdit').click(function (e) {        
        var oMaxOTConfiguration = $('#tblMaxOTConfiguration').datagrid('getSelected');
        if (oMaxOTConfiguration == null || parseInt(oMaxOTConfiguration.MOCID) <= 0) {
            alert("Please Select an item from list");
            return;
        }
        LoadSourceTimeCardCombo(oMaxOTConfiguration);
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/MaxOTConfiguration/GetsMaxOTCEmployeeType",
            traditional: true,
            data:JSON.stringify(oMaxOTConfiguration),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {            
                  var _oMaxOTConfiguration = jQuery.parseJSON(data);
                  if (_oMaxOTConfiguration.ErrorMessage=="" || _oMaxOTConfiguration.ErrorMessage==null)
                  {
                    var nSelectedRowIndex =$('#tblMaxOTConfiguration').datagrid('getRowIndex',oMaxOTConfiguration);
                    var oMaxOTConfigurations= $('#tblMaxOTConfiguration').datagrid('getRows');
                    sessionStorage.setItem("MaxOTConfigurations", JSON.stringify(oMaxOTConfigurations));
                    sessionStorage.setItem("SelectedRowIndex", nSelectedRowIndex);
                    LoadEmployeeTypeCombo(oMaxOTConfiguration);
                    DynamicRefreshList(_oMaxOTConfiguration.MaxOTCEmployeeTypes,'tblEmployeeType');
                   
                  }
                else 
                {
                      alert(_oMaxOTConfiguration.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
      
    });
    $('#btnDelete').click(function(){
        
        var oMaxOTConfiguration= $('#tblMaxOTConfiguration').datagrid('getSelected');
        if(oMaxOTConfiguration==null || oMaxOTConfiguration.MOCID<=0)
        {
            alert("Please select an item from list!");
            return;
        }
        if (!confirm("Confirm to Delete?")) return ;


        var SelectedRowIndex=$('#tblMaxOTConfiguration').datagrid('getRowIndex',oMaxOTConfiguration);

        if (oMaxOTConfiguration.MOCID > 0)
        {
            
            $.ajax
            ({
                type: "POST",
                dataType: "json",
                url :sessionStorage.getItem('BaseAddress')+  "/MaxOTConfiguration/Delete",
                data: JSON.stringify(oMaxOTConfiguration),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Deleted")
                    {
                        alert("Delete sucessfully");
                        $('#tblMaxOTConfiguration').datagrid('deleteRow',SelectedRowIndex);
                        var oMaxOTConfigurations= $('#tblMaxOTConfiguration').datagrid('getRows');
                        sessionStorage.setItem("MaxOTConfigurations", JSON.stringify(oMaxOTConfigurations));

                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }
    });
    function RefreshObject(){

        var oMaxOTConfiguration={
            MOCID: $('#tblMaxOTConfiguration').data('MaxOTConfiguration').MOCID,
            TimeCardName:$("#txtTimeCardName").val(),
            MaxBeforeInMin:$("#txtMaxBeforeInMin").val(),
            MaxOTInMin:$("#txtMaxOTMin").val(),
            IsPresentOnDayOff:$("#cboPresentDayOff").is(':checked'),
            IsPresentOnHoliday:$("#cboPresentHoliDay").is(':checked'),
            MaxOTCEmployeeTypes:$('#tblEmployeeType').datagrid('getRows'),
            SourceTimeCardID:parseInt($('#cboSourceTimeCard').val())
        };
        return oMaxOTConfiguration;
    }
    function RefreshControl(oMaxOTConfiguration){
        
        $('#tblMaxOTConfiguration').data('MaxOTConfiguration', oMaxOTConfiguration);
        $("#txtTimeCardName").val(oMaxOTConfiguration.TimeCardName);
        $("#txtMaxBeforeInMin").val(oMaxOTConfiguration.MaxBeforeInMin);
        $("#txtMaxOTMin").val(oMaxOTConfiguration.MaxOTInMin);
        $("#cboPresentDayOff").prop('checked',oMaxOTConfiguration.IsPresentOnDayOff);
        $("#cboPresentHoliDay").prop('checked',oMaxOTConfiguration.IsPresentOnHoliday);
    

    }

    function ValidateInput()
    {
        if($('#txtTimeCardName').val() == null || $('#txtTimeCardName').val() == "")
        {
            alert("Please Enter Time Card Name!");
            return false;
        }

        var oEmployeeTypes =$('#tblEmployeeType').datagrid('getRows');
        if(oEmployeeTypes.length<=0)
        {
            alert("Please Select at least one Employee type");
            return false;
        }
        return true;
    }
    $('#btnSave').click(function(){        
        if(!ValidateInput()) return;
        var oMaxOTConfiguration=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/MaxOTConfiguration/Save",
            traditional: true,
            data:  JSON.stringify(oMaxOTConfiguration),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {            
                oMaxOTConfiguration = jQuery.parseJSON(data);
                if (oMaxOTConfiguration.ErrorMessage=="" || oMaxOTConfiguration.ErrorMessage==null)
                {
                    alert("Data Saved sucessfully");
                    var oMaxOTConfigurations = sessionStorage.getItem("MaxOTConfigurations");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if (oMaxOTConfigurations != null)
                    {
                        oMaxOTConfigurations = jQuery.parseJSON(oMaxOTConfigurations);
                    }
                    else {
                        oMaxOTConfigurations = [];
                    }
                    if (nIndex != -1)
                    {
                        oMaxOTConfigurations[nIndex] = oMaxOTConfiguration;
                    }
                    else {
                        sessionStorage.setItem("SelectedRowIndex", oMaxOTConfigurations.length);
                        oMaxOTConfigurations.push(oMaxOTConfiguration);
                    }
                    RefreshList(oMaxOTConfigurations);
                    $("#winMaxOTConfiguration").icsWindow('close');
                }
                else 
                {
                    alert(oMaxOTConfiguration.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });
    
    $("#btnAddEmployeeType").click(function ()
    {
        if(parseInt($('#cboEmployeeType').val())<=0){
            alert("Please Select Employee type");
            return;
        }
        var oEmployeeTypes =$('#tblEmployeeType').datagrid('getRows');
        for(var i=0; i<oEmployeeTypes.length; i++)
        {
            if(parseInt(oEmployeeTypes[i].EmployeeTypeID) == parseInt($('#cboEmployeeType').val()))
            {
                alert("Your Select Employee Already Exists!");
                return;
            }
        }

        var oEmployeeType={
            MaxOTCEmployeeTypeID : 0,
            MaxOTConfigurationID : parseInt(sessionStorage.getItem("MaxOTConfigurations").MaxOTConfigurationID),
            EmployeeTypeID : parseInt($('#cboEmployeeType').val()),
            Remarks : $.trim($('#txtEmpTypeRemarks').val()),
            EmployeeTypeName : $("#cboEmployeeType option:selected").text()
        };

        $('#tblEmployeeType').datagrid('appendRow',oEmployeeType);
    });

    $("#btnRemoveEmployeeType").click(function (){        
        var oEmployeeType= $('#tblEmployeeType').datagrid('getSelected');
        var rowIndex = $("#tblEmployeeType").datagrid("getRowIndex", oEmployeeType);
        if(oEmployeeType==null||oEmployeeType.EmployeeTypeID<=0){
            alert("please Select an Item");
            return;
        }
        $('#tblEmployeeType').datagrid('deleteRow',rowIndex);
    });

    $("#btnRefreshEmployeeType").click(function ()
    {
        var oEmployeeTypes =$('#tblEmployeeType').datagrid('getRows');
        $('#tblEmployeeType').datagrid('loadData',[]);
        DynamicRefreshList(oEmployeeTypes,'tblEmployeeType');
    });
    $('#btnClose').click(function (e) {
        $("#winMaxOTConfiguration").icsWindow('close');
    });

    function RefreshList(oMaxOTConfigurations)
    {
        DynamicRefreshList(oMaxOTConfigurations, 'tblMaxOTConfiguration'); 
        var nSelectedRowIndex =parseInt(sessionStorage.getItem("SelectedRowIndex"));
        if(nSelectedRowIndex!=-1)
        {
            $('#tblMaxOTConfiguration').datagrid('selectRow', nSelectedRowIndex);
        }

    }
</script>