@{
    ViewBag.Title = "Development Type List";
}
@model IEnumerable<ESimSol.BusinessObjects.DevelopmentType>

<div style="margin-left: 0px; height: 100%; width:100%">
            <table id="tblDevelopmentTypes" title="Development Type List"  class="easyui-datagrid" fit="true" fitColumns="true"  rownumbers="true" pagination="true" singleSelect="true", autoRowHeight="false" toolbar="#toolbar">
                <thead>  
                    <tr>  
                        <th field="Name" width="420" >Name</th>  
                        <th field="Note" width="390" >Note</th>                        
                    </tr>  
                </thead> 
            </table>​  
            <div id="toolbar"> 
                <input type="text" id="txtSearchByName" placeholder="Search by Name" style="width:200px" "/>
                <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="Add()">Add</a>  
                <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="Edit()">Edit</a>                
                <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-details" plain="true" onclick="Details()">View</a>
                <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="Delete()">Delete</a>
                
            </div>  
</div>



<script type="text/javascript">
var _oDevelopmentTypes=[];
var _sBaseAddress="";
var _oAuthorizationRolesMapping =[];
$(document).ready(function () {
    //debugger;
    _oDevelopmentTypes =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));  
    _oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));  
    var oDevelopmentTypes =sessionStorage.getItem("DevelopmentTypes");
    if(oDevelopmentTypes!=null)
    {
        oDevelopmentTypes = jQuery.parseJSON(oDevelopmentTypes);            
    }
    else
    {
        oDevelopmentTypes=_oDevelopmentTypes;
    }

    RefreshList(oDevelopmentTypes);
    RefreshControlLayout();
});

$('#txtSearchByName').keypress(function (e) {
//debugger;
    var c = String.fromCharCode(e.which);
    var txtSearchByName = document.getElementById('txtSearchByName').value;
    txtSearchByName = txtSearchByName + c;
    //if(txtSearchByName.length<3)return;

    var bFlag=false;
    var sTempName="";
    var rows = $('#tblDevelopmentTypes').datagrid('getRows');        
    for(i=0;i<rows.length;++i){
        sTempName=rows[i]['Name'].substring(0, txtSearchByName.length);
        if(txtSearchByName.toUpperCase()==sTempName.toUpperCase())
        {
            bFlag=true;
            break;
        }
    }
    if(bFlag)
    {
        $('#tblDevelopmentTypes').datagrid('selectRow', i);
    }
});


function ClearNamefield()
{
        $("#txtSearchByName")[0].value='';
}



function Add()
{
    //debugger;

    var tsv=((new Date()).getTime())/1000;
    var oDevelopmentTypes= $('#tblDevelopmentTypes').datagrid('getRows');
    sessionStorage.setItem("DevelopmentTypes", JSON.stringify(oDevelopmentTypes)); 
    sessionStorage.setItem("SelectedRowIndex", -1);   
    sessionStorage.setItem("DevelopmentTypeHeader", "Add Shade Configure");
    sessionStorage.setItem("BackLink", window.location.href);
    window.location.href =_sBaseAddress+ "/DevelopmentType/ViewDevelopmentType?id=0&ts="+tsv;
} 



function Edit()
{
    //debugger;
    var oDevelopmentType = $('#tblDevelopmentTypes').datagrid('getSelected'); 
    if(oDevelopmentType==null || oDevelopmentType.DevelopmentTypeID<=0)
    {
        alert("Please select a item from list!");
        return;
    }
    var tsv=((new Date()).getTime())/1000;
    var SelectedRowIndex=$('#tblDevelopmentTypes').datagrid('getRowIndex',oDevelopmentType);
    var oDevelopmentTypes= $('#tblDevelopmentTypes').datagrid('getRows');
    sessionStorage.setItem("DevelopmentTypes", JSON.stringify(oDevelopmentTypes)); 
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);   
    sessionStorage.setItem("DevelopmentTypeHeader", "Edit Shade Configure");
    sessionStorage.setItem("BackLink", window.location.href);
    window.location.href =_sBaseAddress+  "/DevelopmentType/ViewDevelopmentType?id="+oDevelopmentType.DevelopmentTypeID+"&ts="+tsv;
    
  
} 


function Details()
{
    //debugger;
    var oDevelopmentType = $('#tblDevelopmentTypes').datagrid('getSelected'); 
    if(oDevelopmentType==null || oDevelopmentType.DevelopmentTypeID<=0)
    {
        alert("Please select a item from list!");
        return;
    }
    var tsv=((new Date()).getTime())/1000;
    var SelectedRowIndex=$('#tblDevelopmentTypes').datagrid('getRowIndex',oDevelopmentType);
    var oDevelopmentTypes= $('#tblDevelopmentTypes').datagrid('getRows');
    sessionStorage.setItem("DevelopmentTypes", JSON.stringify(oDevelopmentTypes)); 
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);   
    sessionStorage.setItem("DevelopmentTypeHeader", "View Shade Configure");
    sessionStorage.setItem("BackLink", window.location.href);
    window.location.href =_sBaseAddress+  "/DevelopmentType/ViewDevelopmentType?id="+oDevelopmentType.DevelopmentTypeID+"&ts="+tsv;          
} 

function PrintList()
{
    
    var oDevelopmentTypes= $('#tblDevelopmentTypes').datagrid('getRows'); 
    var ids ="";
    if(oDevelopmentTypes.length >0)
    {    
        for(var i =0;i<oDevelopmentTypes.length;i++)
        {
            ids =ids+oDevelopmentTypes[i].DevelopmentTypeID+",";
        }
        ids= ids.substring(0, ids.length - 1);
    }
    else
    {    
        alert("Data not found ");
        return;
    }
    window.open(_sBaseAddress + '/DevelopmentType/PrintList?sIDs='+ids); 
        
} 
  

function Delete()
{
        //debugger;  
        var oDevelopmentType= $('#tblDevelopmentTypes').datagrid('getSelected');
        if (!confirm("Confirm to Delete?")) return ;
        
        if(oDevelopmentType==null || oDevelopmentType.DevelopmentTypeID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");                  
            return false;
        }
        var SelectedRowIndex=$('#tblDevelopmentTypes').datagrid('getRowIndex',oDevelopmentType);

        if (parseInt(oDevelopmentType.DevelopmentTypeID) > 0) 
        {
            $.ajax
            ({
                type: "GET",
                dataType: "json",                
                url : _sBaseAddress+  "/DevelopmentType/Delete",
                data: { id: oDevelopmentType.DevelopmentTypeID},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //debugger;
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Data delete successfully") 
                    {
                        alert("Delete sucessfully");                        
                        $('#tblDevelopmentTypes').datagrid('deleteRow',SelectedRowIndex);
                          
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error) 
                {
                    alert(error);
                }
                      
            });
        }
}
    
function RefreshList(oDevelopmentTypes)
{    
    data=oDevelopmentTypes;
    data={"total":""+data.length+"","rows":data};
    $('#tblDevelopmentTypes').datagrid('loadData',data);  
    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
    $('#tblDevelopmentTypes').datagrid('selectRow',nIndex);   
}



function RefreshControlLayout()
{
    document.getElementById('btnAdd').style.display = 'none'; 
    document.getElementById('btnEdit').style.display = 'none'; 
    document.getElementById('btnView').style.display = 'none'; 
    document.getElementById('btnDelete').style.display = 'none'; 
    //document.getElementById('btnPrintList').style.display = 'none'; 

    if(HavePermission('Add','DevelopmentType')){document.getElementById('btnAdd').style.display = '';}
    if(HavePermission('Edit','DevelopmentType')){document.getElementById('btnEdit').style.display = '';}
    if(HavePermission('View','DevelopmentType')){document.getElementById('btnView').style.display = '';}
    if(HavePermission('Delete','DevelopmentType')){document.getElementById('btnDelete').style.display = '';}
   // if(HavePermission('PrintList','DevelopmentType')){document.getElementById('btnPrintList').style.display = '';}
}

function HavePermission(sOperationType, sDbObject)
{
    var nSessionID =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.currentUserID]));
    if(nSessionID == -9) //check SuperUser 
    {
        return true;
    }else
    {
        
        for(var i =0;i<_oAuthorizationRolesMapping.length;i++)
        {
            if(_oAuthorizationRolesMapping[i].OperationTypeInString == sOperationType && _oAuthorizationRolesMapping[i].DBObjectName == sDbObject)
            return  true;
        }
        return false;
     }
}
</script>