@{
    ViewBag.Title = "Export LC UP & UD";
}
@model IEnumerable<ESimSol.BusinessObjects.ExportLCUPUD>

<body id="mainDiv">
    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>

    <div id="winAdvanceSearchPicker" class="easyui-window winstyle" title="Advance Search Picker" style="width:480px; height:500px" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="font-family:Tahoma"> 
            
            <table border="0" cellpadding="0" cellspacing="0">
                <tr >
                    <td style="width:480px">
                        <table border="0" cellpadding="2" cellspacing="2" style="font-size:12px">
                            <tr style="">
                                <td style="width:480px;" >
                                    <fieldset style="height:390px;">
                                        <legend style="font-weight:bold; font-size:12px"> Searching Criteria : </legend>
                                        <table border="0" cellpadding="2" cellspacing="2" style=" width:400px; font-size:12px">

                                            <tr style=" width:400px;vertical-align:top;">
                                                <td style="width:110px;float:right;">
                                                    <label>Business Unit :</label>
                                                </td>
                                                <td style=" width:290px;">
                                                    <select style=" width:100%;height:22px;" id="cboBusinessUnit"></select>
                                                </td>
                                            </tr>

                                            <tr style=" width:400px;vertical-align:top;">
                                                <td style="width:110px;float:right;">
                                                    <label>UD No :</label>
                                                </td>
                                                <td style=" width:290px;">
                                                    <input type="text" id="txtUD" style="width:100%" />
                                                </td>
                                            </tr>

                                            <tr style=" width:400px;vertical-align:top;">
                                                <td style="width:110px;float:right;">
                                                    <label>UP No :</label>
                                                </td>
                                                <td style=" width:290px;">
                                                    <input type="text" id="txtUPNo" style="width:100%" />
                                                </td>
                                            </tr>

                                            <tr style=" width:400px;vertical-align:top;">
                                                <td style="width:110px;float:right;">
                                                    <label>Bill No :</label>
                                                </td>
                                                <td style=" width:290px;">
                                                    <input type="text" id="txtBillNo" style="width:100%" />
                                                </td>
                                            </tr>

                                            <tr style=" width:400px;vertical-align:top;">
                                                <td style="width:110px;float:right;">
                                                    <label>LC Open Date :</label>
                                                </td>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <td style=" width:86px;"><select id="cboLCOpenDate" style=" width:86px;height:22px;"></select> </td>
                                                            <td style="width: 99px;"><input id="txtLCOpenDateStart" type="text" style="width: 99px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>                                                            
                                                            <td style="width: 6px;text-align:center"><label id="lblTo">To</label></td>
                                                            <td style="width: 99px;"><input id="txtLCOpenDateEnd" type="text" style="width: 99px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr style=" width:400px;vertical-align:top;">
                                                <td style="width:110px;float:right;">
                                                    <label>LC Rcv Date :</label>
                                                </td>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <td style=" width:86px;"><select id="cboLCReceiveDate" style=" width:86px;height:22px;"></select> </td>
                                                            <td style="width: 99px;"><input id="txtLCReceiveDateStart" type="text" style="width: 99px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                            <td style="width: 6px;text-align:center"><label id="lblTo">To</label></td>
                                                            <td style="width: 99px;"><input id="txtLCReceiveDateEnd" type="text" style="width: 99px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr style=" width:400px;vertical-align:top;">
                                                <td style="width:110px;float:right;">
                                                    <label>UD Rcv Date :</label>
                                                </td>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <td style=" width:86px;"><select id="cboUDReceiveDate" style=" width:86px;height:22px;"></select> </td>
                                                            <td style="width: 99px;"><input id="txtUDReceiveDateStart" type="text" style="width: 99px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                            <td style="width: 6px;text-align:center"><label id="lblTo">To</label></td>
                                                            <td style="width: 99px;"><input id="txtUDReceiveDateEnd" type="text" style="width: 99px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr style=" width:400px;vertical-align:top;">
                                                <td style="width:110px;float:right;">
                                                    <label>UP Issue Date :</label>
                                                </td>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <td style=" width:86px;"><select id="cboUPIssueDate" style=" width:86px;height:22px;"></select> </td>
                                                            <td style="width: 99px;"><input id="txtUPIssueDateStart" type="text" style="width: 99px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                            <td style="width: 6px;text-align:center"><label id="lblTo">To</label></td>
                                                            <td style="width: 99px;"><input id="txtUPIssueDateEnd" type="text" style="width: 99px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr style=" width:400px;vertical-align:top;">
                                                <td style="width:110px;float:right;">
                                                    <label>Shipment Date :</label>
                                                </td>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <td style=" width:86px;"><select id="cboLCShipmentDate" style=" width:86px;height:22px;"></select> </td>
                                                            <td style="width: 99px;"><input id="txtLCShipmentDateStart" type="text" style="width: 99px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                            <td style="width: 6px;text-align:center"><label id="lblTo">To</label></td>
                                                            <td style="width: 99px;"><input id="txtLCShipmentDateEnd" type="text" style="width: 99px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr style=" width:400px;vertical-align:top;">
                                                <td style="width:110px;float:right;">
                                                    <label>Expiry Date :</label>
                                                </td>
                                                <td>
                                                    <table>
                                                        <tr>
                                                            <td style=" width:86px;"><select id="cboExpiryDate" style=" width:86px;height:22px;"></select> </td>
                                                            <td style="width: 99px;"><input id="txtExpiryDateStart" type="text" style="width: 99px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                            <td style="width: 6px;text-align:center"><label id="lblTo">To</label></td>
                                                            <td style="width: 99px;"><input id="txtExpiryDateEnd" type="text" style="width: 99px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>

                                            <tr style=" width:400px;vertical-align:top;">
                                                <td style="width:110px;float:right;">
                                                    <label>Status :</label>
                                                </td>
                                                <td style=" width:290px;">
                                                    <select style=" width:100%;height:22px;" id="cboStatus">
                                                        <option value="0">Select One</option>
                                                        <option value="1">Yet To UD</option>
                                                        @*<option value="2">Yet To UP</option>*@
                                                        <option value="3">UD rcv But Not UP Issue</option>
                                                    </select>
                                                </td>
                                            </tr>

                                        </table>
                                    </fieldset>
                                </td>
                            </tr>
                            <tr style="height:35px">
                                <td style="width:480px">
                                    <fieldset>
                                        <legend style="font-weight:bold; font-size:12px"> Action : </legend>
                                        <table border="0" cellpadding="0" cellspacing="0" style=" width:400px; font-size:12px">
                                            <tr style="height:30px; vertical-align:bottom">
                                                <td style="">
                                                    <label id="lvlMsg" style="color:red;font-size:15px;">Loading... Please Wait</label>
                                                </td>
                                                <td  style="text-align:right;">
                                                    <a id="btnRefreshForAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                                                    <a id="btnCloseForAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                                                </td>
                                            </tr>
                                        </table>
                                    </fieldset>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="winUD" class="easyui-window winstyle" title="Add UD" style="width:900px; height:450px" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="font-family:Tahoma">
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td style="width:900px">
                        <fieldset style="height:340px;">
                            <legend style="font-weight:bold; font-size:12px"> Info : </legend>
                            <table border="0" cellpadding="2" cellspacing="2" style="font-size:12px">


                                <tr style="">
                                    <td style="width:900px;">

                                        <table border="0" cellpadding="2" cellspacing="2" style=" width:820px; font-size:12px">

                                            <tr style=" width:820px;vertical-align:top;">
                                                <td style="width:83px;float:right;text-align:right;">
                                                    <label>Party :</label>
                                                </td>
                                                <td style="width:736px;" colspan="5">
                                                    <input type="text" id="txtParty" style="width:100%" disabled />
                                                </td>

                                            </tr>

                                            <tr style=" width:820px;vertical-align:top;">
                                                <td style="width:83px;float:right;text-align:right;">
                                                    <label>L/C No :</label>
                                                </td>
                                                <td style="width:190px;">
                                                    <input type="text" id="txtLC" style="width:100%" disabled />
                                                </td>
                                                <td style="width:83px;float:right;text-align:right;">
                                                    <label>A. No :</label>
                                                </td>
                                                <td style="width:190px;">
                                                    <input type="text" id="txtANo" style="width:100%" disabled />
                                                </td>
                                                <td style="width:83px;float:right;text-align:right;">
                                                    <label>LC Date :</label>
                                                </td>
                                                <td style="width:190px;">
                                                    <input id="txtIssueDate" type="text" style="width: 100%;" disabled class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                </td>
                                            </tr>

                                            <tr style=" width:820px;vertical-align:top;">
                                                <td colspan="6" style="width:100%;height:145px;">
                                                    <table id="tblExportUDDetails" title="" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" showfooter="true" toolbar="#toolbar2">
                                                        <thead>
                                                            <tr>
                                                                <th field="PINo" width="30%">PI No</th>
                                                                <th field="IssueDateInString" width="15%">PI Date</th>
                                                                <th field="Qty" align="right" formatter="formatPrice" width="15%">Qty</th>
                                                                <th field="Amount" align="right" formatter="formatPrice" width="15%">Value</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                    <div id="toolbar2">
                                                        
                                                        <a id="btnReloadDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reload</a>
                                                        <a id="btnDeleteDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                                                    </div>
                                                </td>
                                            </tr>

                                        </table>

                                    </td>
                                </tr>

                                <tr style="">
                                    <td style="width:900px;">
                                        <table border="0" cellpadding="2" cellspacing="2" style=" width:820px; font-size:12px">

                                            <tr style=" width:820px;vertical-align:top;">
                                                <td style="width:100px;float:right;text-align:right;">
                                                    <label>UD Rcv Date :</label>
                                                </td>
                                                <td style="width:310px;">
                                                    <input id="txtUDRcvDate" type="text" style="width: 100%;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                </td>
                                                <td style="width:100px;float:right;text-align:right;">
                                                    <label>Receive From :</label>
                                                </td>
                                                <td style="width:310px;">
                                                    <input type="text" id="txtReceiveFrom" style="width:100%"  />
                                                </td>

                                            </tr>
                                            <tr style=" width:820px;vertical-align:top;">
                                                <td style="width:100px;float:right;text-align:right;">
                                                    <label>UD No :</label>
                                                </td>
                                                <td style="width:310px;">
                                                    <input type="text" id="txtUDNo" style="width:100%"  />
                                                </td>
                                                <td style="width:100px;float:right;text-align:right;">
                                                    <label>Contract No :</label>
                                                </td>
                                                <td style="width:310px;">
                                                    <input type="text" id="txtContractNo" style="width:100%"  />
                                                </td>

                                            </tr>
                                            <tr style=" width:820px;vertical-align:top;">
                                                <td style="width:100px;float:right;text-align:right;">
                                                    <label>A. UD No :</label>
                                                </td>
                                                <td style="width:310px;">
                                                    <input type="text" id="txtAUDNo" style="width:100%" />
                                                </td>
                                                <td style="width:100px;float:right;text-align:right;">
                                                    <label>A. Date :</label>
                                                </td>
                                                <td style="width:310px;">
                                                    <input id="txtADate" type="text" style="width: 100%;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                </td>

                                            </tr>
                                            <tr style=" width:820px;vertical-align:top;">
                                                <td style="width:100px;float:right;text-align:right;">
                                                    <label>Note :</label>
                                                </td>
                                                <td style="width:720px;" colspan="3">
                                                    <input type="text" id="txtNote" style="width:100%" />
                                                </td>
                                            </tr>

                                        </table>
                                    </td>
                                </tr>


                            </table>

                        </fieldset>



                        <fieldset>
                            <legend style="font-weight:bold; font-size:12px"> Action : </legend>
                            <table border="0" cellpadding="0" cellspacing="0" style=" width:820px; font-size:12px">
                                <tr style="height:22px; vertical-align:bottom">
                                    <td colspan="2" style="text-align:right">
                                        <a id="btnSaveForUD" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Save</a>
                                        <a id="btnCloseForUD" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>

                        
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="menuMainCollectionTable" id="regionExportLCUPUD">
        <table id="tblExportLCUPUDs" title="Export LC UP & UD" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar" >  @*data-options="onLoadSuccess: onLoadSuccess"*@
            <thead>
                <tr>
                    <th field="ContractorName" width="10%">Customer Name</th>
                    <th field="BuyerName" width="10%">Buying House</th>
                    <th field="FileNo" width="8%">File No</th>
                    <th field="PINo" width="8%">P/I No</th>
                    <th field="LCNo" width="12%">L/C No</th>
                    <th field="LCOpenDateSt" width="10%">L/C Open Date</th>
                    <th field="VersionNo" width="5%">A. No</th>
                    <th field="AmendmentDateSt" width="10%">Amendment Date</th>
                    <th field="ShipmentDateInString" width="10%">Shipment Date</th>
                    <th field="ExpiryDateInString" width="10%">Expiry Date</th>
                    <th field="BankName_Issue" width="12%">Issuing Bank Name</th>
                    <th field="BBranchName_Issue" width="12%">Branch Name</th>
                    <th field="Qty" align="right" formatter="formatPrice" width="8%">L/C Qty</th>
                    <th field="Amount" align="right" formatter="formatPrice" width="8%">L/C Value</th>
                    <th field="UDNo" width="12%">UD No</th>
                    <th field="UDRecdDateInString" width="12%">UD Rcv Date</th>
                    <th field="AUDNo" width="12%">A. UD No</th>
                    <th field="ADateInString" width="12%">A. UD Date</th>
                    <th field="UDDelayDaysFromShipmjent" width="10%">Delay Days(From Shipment)</th>
                    <th field="UDDelayDaysFromExpiry" width="10%">Delay Days(From Expiry)</th>
                    <th field="UPNo" width="12%">UP No</th>
                    <th field="ExportUPDateInString" width="12%">UP Issue Date</th>
                    <th field="UPDelayDaysFromShipmjent" width="10%">Delay Days(From Shipment)</th>
                    <th field="UPDelayDaysFromExpiry" width="10%">Delay Days(From Expiry)</th>
                    <th field="BUName" width="10%">Unit</th>

                    @*<th field="PIDateInString" align="left" width="10%">PI Date</th>
                    <th field="IssueDateInString" width="10%">Issue Date</th>
                    <th field="Amount" align="right" formatter="formatPrice" width="8%">Amount</th>
                    <th field="Qty_DC" align="right" formatter="formatPrice" width="8%">Qty DC</th>
                    <th field="Amount_DC" align="right" formatter="formatPrice" width="8%">Amount DC</th>
                    <th field="Amount_Bill" align="right" formatter="formatPrice" width="8%">Amount Bill</th>
                    <th field="Qty_Bill" align="right" formatter="formatPrice" width="8%">Qty Bill</th>
                    <th field="Amount_DO" align="right" formatter="formatPrice" width="8%">Amount DO</th>
                    <th field="Qty_DO" align="right" formatter="formatPrice" width="8%">Qty DO</th>
                    <th field="ContractorName" width="12%">Contractor</th>
                    <th field="MKTPersonName" width="8%">MKT Person</th>
                    <th field="Currency" align="left" width="8%">Currency</th>*@                    
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <input type="text" id="txtLCNo" placeholder="Type LC No & Press Enter" style="width: 160px;" />
            <input type="text" id="txtPINo" placeholder="Type PI No & Press Enter" style="width: 160px;" />
            <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
            <a id="btnAddUD" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add UD</a>
            <a id="btnExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">XL</a>
            @*<a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview(Dispo)</a>*@
        </div>
    </div>

</body>

    <script type="text/javascript">
    debugger;
    var _oExportLCUPUD=null;
    var _oExportLCUPUDs=[];
    var _sBaseAddress="";
    //var _oAuthorizationRolesMapping=[];
    var _oCompareOperators = [];
    var _oBusinessUnits = [];
    $(document).ready(function () {
        debugger;
        _oExportLCUPUDs =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        @*_oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));*@
        _oCompareOperators =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        var nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        _oBusinessUnits =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Units));
        sessionStorage.setItem('BUID', nBUID);
        var oExportLCUPUDs =sessionStorage.getItem("ExportLCUPUDs");
        if(oExportLCUPUDs!=null)
        {
            oExportLCUPUDs = jQuery.parseJSON(oExportLCUPUDs);
        }
        else
        {
            oExportLCUPUDs=_oExportLCUPUDs;
        }
        $('#mainDiv').data('CellRowSpan',[]);
        RefreshList(oExportLCUPUDs);
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
        $("#winUD").data("ExportUD",null);

        LoadAdvSearchCombos();
        $('#txtLCOpenDateStart').datebox({ disabled : true });
        $('#txtLCOpenDateEnd').datebox({ disabled : true });
        $('#txtLCOpenDateStart').datebox('setValue',icsdateformat(new Date()));
        $('#txtLCOpenDateEnd').datebox('setValue',icsdateformat(new Date()));

        $('#txtLCReceiveDateStart').datebox({ disabled : true });
        $('#txtLCReceiveDateEnd').datebox({ disabled : true });
        $('#txtLCReceiveDateStart').datebox('setValue',icsdateformat(new Date()));
        $('#txtLCReceiveDateEnd').datebox('setValue',icsdateformat(new Date()));

        $('#txtUDReceiveDateStart').datebox({ disabled : true });
        $('#txtUDReceiveDateEnd').datebox({ disabled : true });
        $('#txtUDReceiveDateStart').datebox('setValue',icsdateformat(new Date()));
        $('#txtUDReceiveDateEnd').datebox('setValue',icsdateformat(new Date()));


        $('#txtUPIssueDateStart').datebox({ disabled : true });
        $('#txtUPIssueDateEnd').datebox({ disabled : true });
        $('#txtUPIssueDateStart').datebox('setValue',icsdateformat(new Date()));
        $('#txtUPIssueDateEnd').datebox('setValue',icsdateformat(new Date()));


        $('#txtLCShipmentDateStart').datebox({ disabled : true });
        $('#txtLCShipmentDateEnd').datebox({ disabled : true });
        $('#txtLCShipmentDateStart').datebox('setValue',icsdateformat(new Date()));
        $('#txtLCShipmentDateEnd').datebox('setValue',icsdateformat(new Date()));


        $('#txtExpiryDateStart').datebox({ disabled : true });
        $('#txtExpiryDateEnd').datebox({ disabled : true });
        $('#txtExpiryDateStart').datebox('setValue',icsdateformat(new Date()));
        $('#txtExpiryDateEnd').datebox('setValue',icsdateformat(new Date()));
        $("#lvlMsg").hide();
        $.icsMakeFooterColumn('tblExportUDDetails',['PINo','Qty','Amount']);
    });

    $('#btnCloseForUD').click(function(e) {
        $("#winUD").icsWindow('close');
    });

    $("#btnAddUD").click(function(){
        var oExportLCUPUD= $('#tblExportLCUPUDs').datagrid('getSelected');
        if(oExportLCUPUD==null || oExportLCUPUD.ExportLCID<=0)
        {
            alert("Please select a item from list!");
            return;
        }

        DynamicRefreshList([], "tblExportUDDetails");
        $('#txtUDRcvDate').datebox('setValue',icsdateformat(new Date()));
        $("#txtReceiveFrom").val("");
        $("#txtUDNo").val("");
        $("#txtContractNo").val("");
        $("#txtNote").val("");
        $("#txtAUDNo").val("");
        $('#txtADate').datebox('setValue',"");

        $("#txtParty").val(oExportLCUPUD.BuyerName);
        $("#txtLC").val(oExportLCUPUD.LCNo);
        $("#txtANo").val(oExportLCUPUD.VersionNo);
        $('#txtIssueDate').datebox('setValue',oExportLCUPUD.AmendmentDateSt);
        
        GetUDReceive(oExportLCUPUD.ExportLCID, oExportLCUPUD.VersionNo, oExportLCUPUD.UDID);

        //var oExportUDDetails = $('#tblExportUDDetails').datagrid('getRows');
        //if(oExportUDDetails.length <= 0){
        //    GetExportPILCMapping(oExportLCUPUD.ExportLCID, oExportLCUPUD.VersionNo);
        //}

        $("#winUD").icsWindow('open', "Add UD Receive");
    });
    
    $("#btnReloadDetail").click(function(){
        var oExportLCUPUD= $('#tblExportLCUPUDs').datagrid('getSelected');
        DynamicRefreshList([], "tblExportUDDetails");
        GetExportPILCMapping(oExportLCUPUD.ExportLCID, oExportLCUPUD.VersionNo);
    });

    $("#btnSaveForUD").click(function(){
        var txtUDRcvDate = $('#txtUDRcvDate').datetimebox('getValue');
        if(txtUDRcvDate == null || txtUDRcvDate == ""){
            alert("Please enter Rcv Date!!");
            return;
        }

        var oRows = $('#tblExportUDDetails').datagrid('getRows');
        var nSum = 0;
        for(var i=0;i < oRows.length; i++){
            nSum+=oRows[i].Amount;
        }

        var oExportLCUPUD= $('#tblExportLCUPUDs').datagrid('getSelected');
        var oExportUD = $("#winUD").data("ExportUD");
        var oUD={
            ExportUDID: (oExportUD == null) ? 0 : oExportUD.ExportUDID,
            ExportLCID: oExportLCUPUD.ExportLCID,
            ANo: oExportLCUPUD.VersionNo,
            UDNo: $("#txtUDNo").val(),
            UDReceiveDate: $('#txtUDRcvDate').datetimebox('getValue'),
            ReceiveFrom:$("#txtReceiveFrom").val(),
            ContractNo:$("#txtContractNo").val(),
            Note:$("#txtNote").val(),
            Amount: nSum,
            ExportUDDetails: oRows,
            AUDNo: $("#txtAUDNo").val(),
            ADate: $('#txtADate').datetimebox('getValue'),
        };
        var SelectedRowIndex=$('#tblExportLCUPUDs').datagrid('getRowIndex',oExportLCUPUD);
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/ExportLCUPUD/SaveUD",
            traditional: true,
            data:  JSON.stringify(oUD),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                oUD = jQuery.parseJSON(data);
                if (oUD.ErrorMessage==null || oUD.ErrorMessage=="") {
                    alert("Data Saved successfully");
                    debugger;
                    var oExportLCUPUDs = $('#tblExportLCUPUDs').datagrid('getRows');
                    for(var i=0;i<oExportLCUPUDs.length;i++){
                        if(oExportLCUPUDs[i].ExportLCID == oExportLCUPUD.ExportLCID && oExportLCUPUDs[i].VersionNo == oExportLCUPUD.VersionNo){
                            for(var j=0; j<oRows.length; j++){
                                if(oRows[j].ExportPIID == oExportLCUPUDs[i].ExportPIID){
                                    oExportLCUPUDs[i].UDNo = oUD.UDNo;
                                    oExportLCUPUDs[i].UDRecdDate = oUD.UDReceiveDate;
                                    oExportLCUPUDs[i].UDRecdDateInString = oUD.UDReceiveDateInString;
                                    oExportLCUPUDs[i].AUDNo = oUD.AUDNo;
                                    oExportLCUPUDs[i].ADate = oUD.ADate;
                                    oExportLCUPUDs[i].ADateInString = oUD.ADateInString;
                                    break;
                                }
                            }
                            
                        }
                    }
                    DynamicRefreshList(oExportLCUPUDs, "tblExportLCUPUDs");

                    //oExportLCUPUD.UDID = oUD.ExportUDID;
                    //oExportLCUPUD.UDNo = oUD.UDNo;
                    //oExportLCUPUD.UDRecdDate = oUD.UDReceiveDate;
                    //oExportLCUPUD.UDRecdDateInString = oUD.UDReceiveDateInString;
                    //$('#tblExportLCUPUDs').datagrid('updateRow',{ index: SelectedRowIndex, row: oExportLCUPUD });

                    $("#winUD").icsWindow('close');
                    //$('#tblBeamFinish').datagrid('appendRow',oUD);
                    $("#txtReceiveFrom").val("");
                    $("#txtUDNo").val("");
                    $("#txtContractNo").val("");
                    $("#txtNote").val("");
                }
                else {
                    alert(oUD.ErrorMessage);
                }
                $('#tblExportLCUPUDs').datagrid('selectRow',SelectedRowIndex);
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });

    });

    $("#btnDeleteDetail").click(function ()
    {
        var oUDDetail=$('#tblExportUDDetails').datagrid('getSelected');
        if(oUDDetail==null || oUDDetail.ExportLCID<=0)
        {
            alert("Please select a valid item from list.");
            return;
        }
        var nIndex= $('#tblExportUDDetails').datagrid('getRowIndex',oUDDetail);
        $('#tblExportUDDetails').datagrid('deleteRow',nIndex);
    });

    function GetExportPILCMapping(nExportLCID, nVersionNo){
        $.ajax({
            type: "GET",
            dataType: "json",
            url : _sBaseAddress+"/ExportLCUPUD/GetExportPILCMapping",
            traditional: true,
            data:  {nExportLCID:nExportLCID, nVersionNo: nVersionNo},
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var oExportPILCMappings = jQuery.parseJSON(data);
                DynamicRefreshList(oExportPILCMappings, "tblExportUDDetails");
                $.icsMakeFooterColumn('tblExportUDDetails',['PINo','Qty','Amount']);
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }

    function GetUDReceive(nExportLCID, nVersionNo, nUDID){
        $.ajax({
            type: "GET",
            dataType: "json",
            url : _sBaseAddress+"/ExportLCUPUD/GetUDReceive",
            traditional: true,
            data:  {nExportLCID:nExportLCID, nVersionNo: nVersionNo, nUDID: nUDID},
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var oExportUDs = jQuery.parseJSON(data);
                if(oExportUDs.length > 0){
                    $('#txtUDRcvDate').datebox('setValue',oExportUDs[0].UDReceiveDateInString);
                    $("#txtReceiveFrom").val(oExportUDs[0].ReceiveFrom);
                    $("#txtUDNo").val(oExportUDs[0].UDNo);
                    $("#txtContractNo").val(oExportUDs[0].ContractNo);
                    $("#txtNote").val(oExportUDs[0].Note);
                    $("#winUD").data("ExportUD",oExportUDs[0]);
                    $("#txtAUDNo").val(oExportUDs[0].AUDNo);
                    $('#txtADate').datebox('setValue',oExportUDs[0].ADateInString);
                    DynamicRefreshList(oExportUDs[0].ExportUDDetails, "tblExportUDDetails");
                    $.icsMakeFooterColumn('tblExportUDDetails',['PINo','Qty','Amount']);
                }else{
                    $("#winUD").data("ExportUD",null);
                    GetExportPILCMapping(nExportLCID, nVersionNo);
                }

            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    }

    function LoadAdvSearchCombos(){
        $("#cboBusinessUnit").icsLoadCombo({List:_oBusinessUnits,OptionValue: "BusinessUnitID",DisplayText: "Name",});
        var nBU = parseInt(sessionStorage.getItem('BUID'));
        if(nBU > 0){
            $("#cboBusinessUnit").val(nBU);
            document.getElementById("cboBusinessUnit").disabled = true;
        }

        $("#cboLCOpenDate").icsLoadCombo({List:_oCompareOperators,OptionValue: "id",DisplayText: "Value",});
        $("#cboLCReceiveDate").icsLoadCombo({List:_oCompareOperators,OptionValue: "id",DisplayText: "Value",});
        $("#cboUDReceiveDate").icsLoadCombo({List:_oCompareOperators,OptionValue: "id",DisplayText: "Value",});
        $("#cboUPIssueDate").icsLoadCombo({List:_oCompareOperators,OptionValue: "id",DisplayText: "Value",});
        $("#cboLCShipmentDate").icsLoadCombo({List:_oCompareOperators,OptionValue: "id",DisplayText: "Value",});
        $("#cboExpiryDate").icsLoadCombo({List:_oCompareOperators,OptionValue: "id",DisplayText: "Value",});
        }

    $('#cboLCOpenDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboLCOpenDate').val());
        if(nCompareOperator===0)
        {
            $('#txtLCOpenDateStart').datebox({ disabled : true });
            $('#txtLCOpenDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtLCOpenDateStart').datebox({ disabled : false });
            $('#txtLCOpenDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtLCOpenDateStart').datebox({ disabled : false });
            $('#txtLCOpenDateEnd').datebox({ disabled : false });
        }
        $('#txtLCOpenDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtLCOpenDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboLCReceiveDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboLCReceiveDate').val());
        if(nCompareOperator===0)
        {
            $('#txtLCReceiveDateStart').datebox({ disabled : true });
            $('#txtLCReceiveDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtLCReceiveDateStart').datebox({ disabled : false });
            $('#txtLCReceiveDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtLCReceiveDateStart').datebox({ disabled : false });
            $('#txtLCReceiveDateEnd').datebox({ disabled : false });
        }
        $('#txtLCReceiveDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtLCReceiveDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboUDReceiveDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboUDReceiveDate').val());
        if(nCompareOperator===0)
        {
            $('#txtUDReceiveDateStart').datebox({ disabled : true });
            $('#txtUDReceiveDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtUDReceiveDateStart').datebox({ disabled : false });
            $('#txtUDReceiveDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtUDReceiveDateStart').datebox({ disabled : false });
            $('#txtUDReceiveDateEnd').datebox({ disabled : false });
        }
        $('#txtUDReceiveDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtUDReceiveDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboUPIssueDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboUPIssueDate').val());
        if(nCompareOperator===0)
        {
            $('#txtUPIssueDateStart').datebox({ disabled : true });
            $('#txtUPIssueDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtUPIssueDateStart').datebox({ disabled : false });
            $('#txtUPIssueDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtUPIssueDateStart').datebox({ disabled : false });
            $('#txtUPIssueDateEnd').datebox({ disabled : false });
        }
        $('#txtUPIssueDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtUPIssueDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboLCShipmentDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboLCShipmentDate').val());
        if(nCompareOperator===0)
        {
            $('#txtLCShipmentDateStart').datebox({ disabled : true });
            $('#txtLCShipmentDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtLCShipmentDateStart').datebox({ disabled : false });
            $('#txtLCShipmentDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtLCShipmentDateStart').datebox({ disabled : false });
            $('#txtLCShipmentDateEnd').datebox({ disabled : false });
        }
        $('#txtLCShipmentDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtLCShipmentDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboExpiryDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboExpiryDate').val());
        if(nCompareOperator===0)
        {
            $('#txtExpiryDateStart').datebox({ disabled : true });
            $('#txtExpiryDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtExpiryDateStart').datebox({ disabled : false });
            $('#txtExpiryDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtExpiryDateStart').datebox({ disabled : false });
            $('#txtExpiryDateEnd').datebox({ disabled : false });
        }
        $('#txtExpiryDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtExpiryDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }

    function RefreshList(oExportLCUPUDs)
    {
        debugger;
        var data=oExportLCUPUDs;
        data={"total":""+data.length+"","rows":data};
        $('#tblExportLCUPUDs').datagrid('loadData',data);
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        $('#tblExportLCUPUDs').datagrid('selectRow',nIndex);
    }

    $('#btnPreview').click(function(){
        var oExportLCUPUD=$('#tblExportLCUPUDs').datagrid('getSelected');
        if(oExportLCUPUD==null || parseInt(oExportLCUPUD.FEOSID)<=0)
        {
            alert("Select At least One item !");
            return;
        }
        var nts = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress + '/FabricExecutionOrderSpecification/PrintFabricSpecification?nId=' +oExportLCUPUD.FEOSID + "&nts=" + nts, "_blank");
    });

    $('#txtLCNo').keypress(function (e)
    {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) {
            var txtLCNo = document.getElementById('txtLCNo').value;
            if(txtLCNo==""){
                alert("Please enter LC No!!!");
                return false;
            }
            else{
                var oExportLCUPUD = {
                    LCNo: txtLCNo
                }

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url : _sBaseAddress+  "/ExportLCUPUD/GetsDataByLCNo",
                    traditional: true,
                    data:  JSON.stringify(oExportLCUPUD),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        debugger;
                        //var oExportLCUPUDs = jQuery.parseJSON(data);
                        var result = data;
                        if(result.length<=0){
                            alert("No data found");
                        }
                        else{
                            DynamicRefreshList(result, "tblExportLCUPUDs");
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });

            }
        }

    });

    $('#txtPINo').keypress(function (e)
    {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) {
            var txtPINo = document.getElementById('txtPINo').value;
            if(txtPINo==""){
                alert("Please enter PI No!!!");
                return false;
            }
            else{
                var oExportLCUPUD = {
                    PINo: txtPINo
                }

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url : _sBaseAddress+  "/ExportLCUPUD/GetsDataByPINo",
                    traditional: true,
                    data:  JSON.stringify(oExportLCUPUD),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        debugger;
                        //var oExportLCUPUDs = jQuery.parseJSON(data);
                        var result = data;
                        if(result.length<=0){
                            alert("No data found");
                        }
                        else{
                            DynamicRefreshList(result, "tblExportLCUPUDs");
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });

            }
        }

    });

    //start adv search
    $('#btnCloseForAdvSearch').click(function(e) {
        $("#winAdvanceSearchPicker").icsWindow('close');
    });

    $("#btnAdvSearch").click(function(){
        $("#winAdvanceSearchPicker").icsWindow('open', "Advance Search");
    });

    $('#btnRefreshForAdvSearch').click(function(){
        debugger;
        var sUDNo = $("#txtUD").val();
        var sUPNo = $("#txtUPNo").val();
        var sBillNo = $("#txtBillNo").val();

        var nLCOpenDate = parseInt($("#cboLCOpenDate").val());
        var dLCOpenDateStart = $('#txtLCOpenDateStart').datebox('getValue');
        var dLCOpenDateEnd = $('#txtLCOpenDateEnd').datebox('getValue');

        var nLCReceiveDate = parseInt($("#cboLCReceiveDate").val());
        var dLCReceiveDateStart = $('#txtLCReceiveDateStart').datebox('getValue');
        var dLCReceiveDateEnd = $('#txtLCReceiveDateEnd').datebox('getValue');

        var nUDReceiveDate = parseInt($("#cboUDReceiveDate").val());
        var dUDReceiveDateStart = $('#txtUDReceiveDateStart').datebox('getValue');
        var dUDReceiveDateEnd = $('#txtUDReceiveDateEnd').datebox('getValue');

        var nUPIssueDate = parseInt($("#cboUPIssueDate").val());
        var dUPIssueDateStart = $('#txtUPIssueDateStart').datebox('getValue');
        var dUPIssueDateEnd = $('#txtUPIssueDateEnd').datebox('getValue');

        var nLCShipmentDate = parseInt($("#cboLCShipmentDate").val());
        var dLCShipmentDateStart = $('#txtLCShipmentDateStart').datebox('getValue');
        var dLCShipmentDateEnd = $('#txtLCShipmentDateEnd').datebox('getValue');

        var nExpiryDate = parseInt($("#cboExpiryDate").val());
        var dExpiryDateStart = $('#txtExpiryDateStart').datebox('getValue');
        var dExpiryDateEnd = $('#txtExpiryDateEnd').datebox('getValue');

        var nStatus = parseInt($("#cboStatus").val());
        var nBU = parseInt($("#cboBusinessUnit").val());

        if(sUDNo == "" && sUPNo == "" && sBillNo == "" && nLCOpenDate <= 0 && nLCReceiveDate <= 0 && nUDReceiveDate <= 0 && nUPIssueDate <= 0 && nLCShipmentDate <= 0 && nExpiryDate <= 0 && nStatus <= 0 && nBU <= 0){
            alert("Please enter Atleast one searching criteria!!!");
            return false;
        }

        var sTempString = nLCOpenDate+'~'+dLCOpenDateStart + '~' + dLCOpenDateEnd
                    +'~'+nLCReceiveDate+'~'+dLCReceiveDateStart + '~' + dLCReceiveDateEnd
                    +'~'+nUDReceiveDate+'~'+dUDReceiveDateStart + '~' + dUDReceiveDateEnd
                    +'~'+nUPIssueDate+'~'+dUPIssueDateStart + '~' + dUPIssueDateEnd
                    +'~'+nLCShipmentDate+'~'+dLCShipmentDateStart + '~' + dLCShipmentDateEnd
                    +'~'+nExpiryDate+'~'+dExpiryDateStart + '~' + dExpiryDateEnd;
        var oExportLCUPUD = {
            UDNo: sUDNo,
            UPNo: sUPNo,
            BillNo: sBillNo,
            Status: nStatus,
            BUID: nBU,
            ErrorMessage: sTempString
        }


        $("#lvlMsg").show();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ExportLCUPUD/GetsData",
            traditional: true,
            data:  JSON.stringify(oExportLCUPUD),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                //var oExportLCUPUDs = jQuery.parseJSON(data);
                var result = data;
                if(result.length<=0){
                    alert("No data found");
                    $("#lvlMsg").hide();
                }
                else{
                    //$('#mainDiv').data('CellRowSpan',result.Item2);

                    DynamicRefreshList(result, "tblExportLCUPUDs");
                    $("#lvlMsg").hide();
                    $("#winAdvanceSearchPicker").icsWindow('close');
                }

            },
            error: function (xhr, status, error) {
                alert(error);
                $("#lvlMsg").hide();
            }
        });

    });

        //end adv search

    $('#btnExcel').click(function(){
        var sUDNo = $("#txtUD").val();
        var sUPNo = $("#txtUPNo").val();
        var sBillNo = $("#txtBillNo").val();

        var nLCOpenDate = parseInt($("#cboLCOpenDate").val());
        var dLCOpenDateStart = $('#txtLCOpenDateStart').datebox('getValue');
        var dLCOpenDateEnd = $('#txtLCOpenDateEnd').datebox('getValue');

        var nLCReceiveDate = parseInt($("#cboLCReceiveDate").val());
        var dLCReceiveDateStart = $('#txtLCReceiveDateStart').datebox('getValue');
        var dLCReceiveDateEnd = $('#txtLCReceiveDateEnd').datebox('getValue');

        var nUDReceiveDate = parseInt($("#cboUDReceiveDate").val());
        var dUDReceiveDateStart = $('#txtUDReceiveDateStart').datebox('getValue');
        var dUDReceiveDateEnd = $('#txtUDReceiveDateEnd').datebox('getValue');

        var nUPIssueDate = parseInt($("#cboUPIssueDate").val());
        var dUPIssueDateStart = $('#txtUPIssueDateStart').datebox('getValue');
        var dUPIssueDateEnd = $('#txtUPIssueDateEnd').datebox('getValue');

        var nLCShipmentDate = parseInt($("#cboLCShipmentDate").val());
        var dLCShipmentDateStart = $('#txtLCShipmentDateStart').datebox('getValue');
        var dLCShipmentDateEnd = $('#txtLCShipmentDateEnd').datebox('getValue');

        var nExpiryDate = parseInt($("#cboExpiryDate").val());
        var dExpiryDateStart = $('#txtExpiryDateStart').datebox('getValue');
        var dExpiryDateEnd = $('#txtExpiryDateEnd').datebox('getValue');

        var nStatus = parseInt($("#cboStatus").val());
        var nBU = parseInt($("#cboBusinessUnit").val());

        if(sUDNo == "" && sUPNo == "" && sBillNo == "" && nLCOpenDate <= 0 && nLCReceiveDate <= 0 && nUDReceiveDate <= 0 && nUPIssueDate <= 0 && nLCShipmentDate <= 0 && nExpiryDate <= 0 && nStatus <= 0 && nBU <= 0){
            alert("Please Search First!!!");
            return false;
        }

        var sTempString = nLCOpenDate+'~'+dLCOpenDateStart + '~' + dLCOpenDateEnd
                    +'~'+nLCReceiveDate+'~'+dLCReceiveDateStart + '~' + dLCReceiveDateEnd
                    +'~'+nUDReceiveDate+'~'+dUDReceiveDateStart + '~' + dUDReceiveDateEnd
                    +'~'+nUPIssueDate+'~'+dUPIssueDateStart + '~' + dUPIssueDateEnd
                    +'~'+nLCShipmentDate+'~'+dLCShipmentDateStart + '~' + dLCShipmentDateEnd
                    +'~'+nExpiryDate+'~'+dExpiryDateStart + '~' + dExpiryDateEnd;
        var oExportLCUPUD = {
            UDNo: sUDNo,
            UPNo: sUPNo,
            BillNo: sBillNo,
            Status: nStatus,
            BUID: nBU,
            ErrorMessage: sTempString
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ExportLCUPUD/SetExportLCUPUDData",
            traditional: true,
            data:  JSON.stringify(oExportLCUPUD),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful")
                {
                    window.open (_sBaseAddress+ "/ExportLCUPUD/ExportLCUPUDsExcel");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });


    </script>
