@{
    ViewBag.Title = "Salary Sheet Property";
}

@model IEnumerable<ESimSol.BusinessObjects.SalarySheetProperty>

    <head>
        <title>Salary Sheet Property</title>
    </head>

    <body>
        <div class="menuMainCollectionTable">
            <table id="tblSalarySheetProperty" title="Salary Sheet PropertyList" class="easyui-datagrid" fit="true" fitcolumn="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarSalarySheetProperty">
                <thead>
                    <tr>
                        <th field="SalarySheetFormatPropertyStr" width="30%" align="left">Column Name</th>
                        <th field="ActivityStr" width="10%" align="center">Employee Code</th>
                    </tr>
                </thead>

            </table>
            <div id="toolbarSalarySheetProperty">
                <a id="btnActivity" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-ok" plain="true"><label id="lblActivity">Active</label></a>
            </div>
        </div>
    </body>


    <script type="text/javascript">
        var _sBaseAddress="";
        var _oSalarySheetPropertys=[];

        $(document).ready(function () {
            _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
            _oSalarySheetPropertys =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
            DynamicRefreshList(_oSalarySheetPropertys, 'tblSalarySheetProperty');
        });

        $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });


        $('#tblSalarySheetProperty').datagrid({ onSelect: function (rowIndex, rowData) { OperationPerforms(rowIndex, rowData); } });

        function OperationPerforms(rowIndex, rowData) {
            if (rowData != null && rowData.SalarySheetPropertyID > 0) {
                if(rowData.IsActive)
                    $('#lblActivity').text("Inactive");
                else
                    $('#lblActivity').text("Active");
            }
        }


        $('#btnActivity').click(function(e){
            var oSalarySheetProperty = $('#tblSalarySheetProperty').datagrid('getSelected');
            if (oSalarySheetProperty ==null || oSalarySheetProperty.SalarySheetPropertyID <=0 ) { alert("Please select an item from list."); return ; }
            if (!confirm( (oSalarySheetProperty.IsActive)? "Confirm to active?":"Confirm to inactive?")) return;

            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oSalarySheetProperty,
                ObjectId: oSalarySheetProperty.SalarySheetPropertyID,
                ControllerName: "SalarySheetProperty",
                ActionName: "ActivityChange",
                TableId: "tblSalarySheetProperty",
                IsWinClose: false,
                Message: ""//(oSalarySheetProperty.IsActive)? "Inactive Successfully":"Active Successfully."
            };
            $.icsSave(obj, function (response) {
                if (response.status && response.obj != null) {
                    if (response.obj.SalarySheetPropertyID > 0) 
                    {
                        OperationPerforms(-1, response.obj)
                    }
                }
            });

        });


    </script>
