@{
    ViewBag.Title = "Signature";

}
@model IEnumerable <ESimSol.BusinessObjects.SalarySheetSignature>
    <head>
        <title>Signature</title>
    </head>
    <body>
        <div class="menuMainCollectionTable">
            <table id="tblSalarySheetSignature" title="Wastage" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarSalarySheetSignature">
                <thead>
                    <tr>
                        <th field="SignatureName" width="90%">Signatur</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbarSalarySheetSignature">
                <label>Signature:</label>
                <input type="text" id="txtSignatureName" placeholder="Signature Name" />
                <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-remove" plain="true">Delete</a>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        var _sBaseAddress = "";
        var _oSalarySheetSignatures = null;
        $(document).ready(function () {
            _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
            _oSalarySheetSignatures =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
            DynamicRefreshList(_oSalarySheetSignatures, "tblSalarySheetSignature");
            $('#toolbarSalarySheetSignature').data('SignatureID',0);

        });

        //$('#tblSalarySheetSignature').datagrid({ onSelect: function (rowIndex, rowData) { OperationPerforms(rowIndex, rowData); } });
        //function OperationPerforms(rowIndex, rowData) {

        //    $('#lblActivity').html((rowData.IsActive)? "Inactive" : "Active");
        //}
        //function ActiveStyle(bValue){
        //    if(bValue){
        //        return '<label style="color:blue"> Active </label>';
        //    }
        //    else{
        //        return '<label style="color:red"> Inactive </label>';
        //    }
        //}

        function ValidateInput(e) {

            if($.trim($('#txtSignatureName').val())==''){
                $('#txtSignatureName').focus();
                alert('Signature Name Required!');
                return false;
            }
            return true;
        }

        function RefreshObject() {
            var oSalarySheetSignature = {
                SignatureID : $('#toolbarSalarySheetSignature').data('SignatureID'),
                SignatureName : $.trim($('#txtSignatureName').val()),
            };
            return oSalarySheetSignature;
        }

        $('#txtSignatureName').keyup(function(e){
            var keyCode = e.keyCode || e.which;
            if(keyCode==13){
                Save();
            }
        })

        $("#btnAdd").click(function () {
            Save();
        });

        function Save(){
            if (!ValidateInput()) return;

            var oSalarySheetSignature = RefreshObject();

            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oSalarySheetSignature,
                ObjectId: oSalarySheetSignature.SignatureID,
                ControllerName: "SalarySheetProperty",
                ActionName: "SaveSalarySheetSignature",
                TableId: "tblSalarySheetSignature",
                IsWinClose: false
            };
            $.icsSave(obj);
        }

        $('#btnDelete').click(function(e){
            var oSalarySheetSignature = $('#tblSalarySheetSignature').datagrid('getSelected');
            if (oSalarySheetSignature ==null || oSalarySheetSignature.SignatureID <=0 ) { alert("Please select an item from list."); return ; }
            if (!confirm("Confirm to delete?")) return;
            var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: oSalarySheetSignature,
                ControllerName: "SalarySheetProperty",
                ActionName: "DeleteSalarySheetSignature",
                TableId: "tblSalarySheetSignature",
                IsWinClose: false
            };
            $.icsDelete(obj);

        });

        //$('#btnActivity').click(function (e) {
        //    var oSalarySheetSignature = $('#tblSalarySheetSignature').datagrid('getSelected');
        //    if(oSalarySheetSignature==null || oSalarySheetSignature.SignatureID<=0) { alert("Please select an item from list."); return false; }
        //    debugger;

        //    if(oSalarySheetSignature.IsActive){
        //        alert("Confirm to Inactive");

        //    }
        //    else{
        //        alert("Confirm to Active");
        //    }

        //    var obj = {
        //        BaseAddress: _sBaseAddress,
        //        Object: oSalarySheetSignature,
        //        ObjectId: oSalarySheetSignature.SignatureID,
        //        ControllerName: "SalarySheetProperty",
        //        ActionName: "ActivityChange",
        //        TableId: "tblSalarySheetSignature",
        //        IsWinClose: false
        //    };
        //    $.icsSave(obj);


        //});


    </script>
