
<div class="modal-header">
    <h4 class="modal-title" id="modal-title" ng-bind="PickerTitle">Package Template Search</h4>
</div>
<div id="divCP">
    <div style="font-family:Tahoma;text-align:center;height:90%;" class="regionPT">
        <div class="col-md-12">
          <div class="col-md-6">
              <div style="width:100%; height:356px;" ui-grid="gridOptionsPackageTemplate" ui-grid-selection ui-grid-key-nav></div>
          </div>
            <div class="col-md-6">
                <div style="width:100%; height:356px;" ui-grid="gridOptionsPackageTemplateDetail" ui-grid-selection ui-grid-key-nav></div>
            </div>  
        </div>
    </div>
    <fieldset style="height:10%;">
        <legend>Action</legend>
        <div class="col-md-12 text-right modal-footer">
            <button type="button" ng-hide="btnOk" class="btn btn-sm" aria-label="Left Align" ng-click="OkButtonClick()"> <span class="glyphicon glyphicon-ok" aria-hidden="true"> Ok</span> </button>
            <button type="button" id="btnclose" class="btn btn-sm" aria-label="Left Align" ng-click="Close()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"> Close</span> </button>
        </div>
    </fieldset>
</div>

