@{
    ViewBag.Title = "FabricQCParName List";
}
@model IEnumerable<ESimSol.BusinessObjects.FabricQCParName>
    <div class="menuMainCollectionTable" style="height:99%">
        <table id="tblFabricQCParNames" title="List Of Fabric QC Parameter" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="Name" width="80">Name</th>
                    <th field="Note" width="80">Note</th>
                    <th field="LastUpdateByName" width="160">Last Update By</th>
                    <th field="LastUpdateDateTimeInString" width="160">Last Update Date</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">     
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Add" iconcls="icon-add" plain="true">Add</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Edit" iconcls="icon-edit" plain="true">Edit</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="View" iconcls="icon-details" plain="true">View</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Delete" iconcls="icon-remove" plain="true">Delete</a>
        </div>
    </div>

    <div id="winFabricQCParName" class="easyui-window winstyle" title="Add Fabric QC Parameter" style=" height:auto;width:60%" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="overflow:hidden;display:block;">
            <fieldset style="height:10%">
                <legend style="font-weight: bold">Fabric QC Parameter</legend>
                <div style="overflow:hidden;display:block">
                    <div style="overflow:hidden;float:left; width:49%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                            Name :
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <input id="txtName" type="text" style="float:left;width:100%" />
                        </div>
                    </div>
                    <div style="overflow:hidden;float:left; width:49%">
                        <div style="overflow:hidden;float:left;width:30%;text-align:right">
                           Note:
                        </div>
                        <div style="overflow:hidden;float:left;width:70%">
                            <input id="txtNote" type="text" style="float:left;width:100%" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div style="display:block;overflow:hidden;">
            <fieldset style="height:10%">
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:60%; text-align:right"></td>
                        <td style="width:40%;text-align:right;">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>

    <script type="text/javascript">
    $(document).ready(function (){
        debugger;
        var  oFabricQCParNames  = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        $('#tblFabricQCParNames').data('BaseAddress', sBaseAddress);
        $('#tblFabricQCParNames').data('FabricQCParName', oFabricQCParNames);        
        var oTempFabricQCParNames =sessionStorage.getItem("oFabricQCParNames");
        if(oTempFabricQCParNames!=null)
        {
            oFabricQCParNames = jQuery.parseJSON(oTempFabricQCParNames);
        }
        RefreshList(oFabricQCParNames);
    });


    function RefreshObject(){
        debugger;
        var oFabricQCParName={
            FabricQCParNameID : parseInt($('#tblFabricQCParNames').data('FabricQCParName')),
            Name : $("#txtName").val(),
            Note : $("#txtNote").val()
           
        };
        return oFabricQCParName;
    }

    $("#btnAdd").click(function(){
        debugger;
        FormEnabled();
        RefreshConsumption();
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("FabricQCParNameHeader", "Add FabricQCParName");
        $("#winFabricQCParName").icsWindow('open', "Add Fabric QC Parameter");
    });

    function RefreshConsumption(){
        $('#tblFabricQCParNames').data('FabricQCParName',0);
        $('#txtName').val("");
        $('#txtNote').val("");
    }

    function FormEnabled(){       
        $('#txtName').attr('disabled',false);
        $('#txtNote').attr('disabled',false);
        $('#btnSave').show();
    }

    $("#btnClose").click(function(){
        $("#winFabricQCParName").icsWindow('close');
    })


    $("#btnEdit").click(function(){
        debugger;
        FormEnabled();
        var oFabricQCParName= $('#tblFabricQCParNames').datagrid('getSelected');
        var SelectedRowIndex=$('#tblFabricQCParNames').datagrid('getRowIndex',oFabricQCParName);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        oFabricQCParName.ErrorMessage = "Edit FabricQCParName";
        RefreshControl(oFabricQCParName);
        sessionStorage.setItem("FabricQCParNameHeader", "Edit FabricQCParName");
        $("#winFabricQCParName").icsWindow('open', "Edit Fabric QC Parameter");

    });

    $("#btnView").click(function(){
        debugger;
        var oFabricQCParName= $('#tblFabricQCParNames').datagrid('getSelected');
        var SelectedRowIndex=$('#tblFabricQCParNames').datagrid('getRowIndex',oFabricQCParName);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        oFabricQCParName.ErrorMessage = "View FabricQCParName";
        RefreshControl(oFabricQCParName);
        sessionStorage.setItem("FabricQCParNameHeader", "View FabricQCParName");
        $("#winFabricQCParName").icsWindow('open', "View Fabric QC Parameter");

    });

    function RefreshControl(oFabricQCParName){
        debugger;
        if(oFabricQCParName.ErrorMessage == "Edit FabricQCParName"){
            $('#tblFabricQCParNames').data('FabricQCParName', parseInt(oFabricQCParName.FabricQCParNameID)),
            $('#txtName').val(oFabricQCParName.Name);
            $('#txtNote').val(oFabricQCParName.Note);

        }
        if(oFabricQCParName.ErrorMessage == "View FabricQCParName"){
            $('#tblFabricQCParNames').data('FabricQCParName', parseInt(oFabricQCParName.FabricQCParNameID)),           
            $('#txtName').val(oFabricQCParName.Name);
            $('#txtNote').val(oFabricQCParName.Note);
            $('#btnSave').hide();
            $('#txtName').attr('disabled','disabled');
            $('#txtNote').attr('disabled','disabled');
        }

      }
    function ValidateInput(){
        debugger;
        var oName = $('#txtName').val();
        if(oName == "" || oName==undefined){
            alert("Please Enter Name.")
            $('#txtName').focus();
            return false;
        }       
        return true;
    }

    $('#btnSave').click(function(){
        debugger;
        if(!ValidateInput()) return;
        var oFabricQCParName=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url :  $('#tblFabricQCParNames').data('BaseAddress')+ "/FabricQCParName/Save",
            traditional: true,
            data:  JSON.stringify(oFabricQCParName),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                debugger;
                oFabricQCParName = jQuery.parseJSON(data);
                if (oFabricQCParName.ErrorMessage=="" || oFabricQCParName.ErrorMessage==null)
                {
                    alert("Data Saved sucessfully");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if(sessionStorage.getItem("FabricQCParNameHeader") == "Add FabricQCParName")
                    {
                        $('#tblFabricQCParNames').datagrid('appendRow',oFabricQCParName);
                        var oData = $('#tblFabricQCParNames').datagrid('getRows');
                        $('#tblFabricQCParNames').datagrid('selectRow',oData.length-1);

                    }
                    if(sessionStorage.getItem("FabricQCParNameHeader") == "Edit FabricQCParName")
                    {
                        $('#tblFabricQCParNames').datagrid('updateRow',{index : nIndex, row:oFabricQCParName});
                    }

                    $("#winFabricQCParName").icsWindow('close');
                }
                else
                {
                    alert(oFabricQCParName.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });
    $('#btnDelete').click(function(){
        var oFabricQCParName= $('#tblFabricQCParNames').datagrid('getSelected');

        if (!confirm("Confirm to Delete?")) return ;

        if(oFabricQCParName==null || oFabricQCParName.FabricQCParNameID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        var SelectedRowIndex=$('#tblFabricQCParNames').datagrid('getRowIndex',oFabricQCParName);
        if (oFabricQCParName.FabricQCParNameID > 0)
        {
            $.ajax ({
                type: "GET",
                dataType: "json",
                url : $('#tblFabricQCParNames').data('BaseAddress')+ "/FabricQCParName/Delete",
                data: {id: oFabricQCParName.FabricQCParNameID},
                contentType:"application/json; charset=utf-8",
                success: function (data) {
                    //debugger;
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Deleted")
                    {
                        alert("Delete sucessfully");
                        $('#tblFabricQCParNames').datagrid('deleteRow',SelectedRowIndex);

                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }
    });
    function RefreshList(oFabricQCParNames) {
        debugger;
        data={"total":""+oFabricQCParNames.length+"","rows":oFabricQCParNames};
        $('#tblFabricQCParNames').datagrid('loadData',data);
        var nSelectedRowIndex =parseInt(sessionStorage.getItem("SelectedRowIndex"));
        if(nSelectedRowIndex!=-1)
        {
            $('#tblFabricQCParName').datagrid('selectRow', nSelectedRowIndex);
        }
    }         
    </script>
