@{
    ViewBag.Title = "Auto Voucher Process";
}
@model IEnumerable<ESimSol.BusinessObjects.IntegrationSetup>
<div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
    <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
        <label style="font-size:18px;">Please wait</label>
        <div id="progbar" style="width:100%;height:37px;"></div>
    </div>
</div>
<div id="winVoucher" class="easyui-window" title="View Voucher" style="height: 545px; width: 1020px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
    <div id="p" style="width:99%; padding:1px">
        <div style="width:100%">
            <table border="0" cellpadding="2" cellspacing="2" style="width:100%;">
                <tr>
                    <td style="width:25%; font-size:12px">
                        Business Unit:<input type="text" id="txtBusinessUnit" style="width: 120px;margin-left:5px; font-weight:bolder" disabled />
                    </td>
                    <td style="width:25%; font-size:12px">
                        Voucher No:<input type="text" id="txtVoucherNo" style="width: 120px;margin-left:5px; font-weight:bolder" disabled />
                    </td>
                    <td style="width:25%; text-align:center">
                        Voucher Type:<input type="text" id="txtVoucherType" style="width: 150px;margin-left:5px; font-weight:bolder" disabled />
                    </td>
                    <td style="width:22%; font-size:12px;text-align:right;">
                        Voucher Date :<input type="text" id="txtVoucherDate" style="width: 120px;margin-left:5px; font-weight:bolder" disabled />
                    </td>
                </tr>
            </table>
        </div>
        <div style="width:100%">
            <table id="tblVoucherDetailHeader" class="tablebordaer" border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:12px; font-weight:bold">
                <tr>
                    <td style="width:50%; text-align:center">Particulars</td>
                    <td style="width:30%; text-align:center">Narration</td>
                    <td style="width:10%; text-align:center">Debit<label class="lblBaseCurrencySymbol"></label></td>
                    <td style="width:10%; text-align:center">Credit<label class="lblBaseCurrencySymbol"></label></td>
                </tr>
            </table>
        </div>
        <div class="tablebordaer" id="divVoucherDetails" style="height:280px; width:100%; font-size:12px; overflow:auto">
            <table id="tblVoucherDetail" border="0" cellpadding="0" cellspacing="0" style="font-size:13px; width:100%"></table>
        </div>
        <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
            <tr>
                <td colspan="3" style="width:70%; text-align:right; font-size:12px; font-weight:bold"></td>
                <td colspan="2" style="width:30%; text-align:right; font-size:12px; font-weight:bold"><hr /></td>
            </tr>
            <tr>
                <td style="width:10%; text-align:right; font-size:12px; font-weight:bold">
                    <input id="txtAmount" type="text" style="width:100%"/>
                </td>
                <td style="width:10%; text-align:left; font-size:12px; font-weight:bold">
                    <input type="button" style="width:70%; text-align:center" id="btnUpdate" value="Update" />
                </td>
                <td style="width:50%; text-align:right; font-size:12px; font-weight:bold"></td>
                <td style="width:20%; text-align:right; font-size:9px; font-weight:bold;padding-right: 34px;"><label class="lblBaseCurrencySymbol"></label><label id="lblTotalDebitAmount">0.00</label> </td>
                <td style="width:10%; text-align:right; font-size:9px; font-weight:bold"><label class="lblBaseCurrencySymbol"></label><label id="lblTotalCreditAmount"> 0.00</label>&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" style="width:70%; text-align:right; font-size:12px; font-weight:bold"></td>
                <td colspan="2" style="width:20%; text-align:right; font-size:12px; font-weight:bold"><hr /><hr /></td>
            </tr>
            <tr>
                <td colspan="3" style="width:70%; text-align:left; font-size:12px; font-weight:bold">Narration :</td>
                <td colspan="2" style="width:30%; text-align:right; font-size:12px; font-weight:bold"></td>
            </tr>
            <tr>
                <td colspan="5" style="width:100%; text-align:left; font-size:12px; font-weight:bold">
                    <textarea rows="1" id="txtNarration" style="text-align:left; width:100%" disabled></textarea>
                </td>
            </tr>
            <tr style="height:33px">
                <td colspan="3" style="width:70%; text-align:left; font-size:12px; font-weight:bold"></td>                
                <td colspan="2" style="width:30%; text-align:right; font-size:12px; font-weight:bold; vertical-align:bottom">
                    <a id="btnCloseVoucher" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="easyui-panel" title="" fit="true"  style="margin-left: 0px; height: 100%; width:100%; vertical-align:middle">
     <table border="0" cellspacing="0" cellpadding="0" style="width:100%">
            <tr>
                <td style="width:35%">
                    <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                        <tr style="height:495px">
                            <td style="width:100%">
                                <table id="tblIntegrationSetup" title="Auto Voucher Process Setup" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarAutoVoucher">
                                    <thead>
                                        <tr>
                                            <th field="VoucherSetupString" width="75%">Process Name</th>
                                            <th field="LastProcess" width="25%" align="center">Last Process</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div id="toolbarAutoVoucher">
                                    Select BU : <select id="cboBusinessUnit" style="width:150px;"></select>
                                    <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>
                                </div>  
                            </td>
                        </tr>
                        <tr>
                            <td style="width:100%">
                                <div class="easyui-panel" fit="true" style="margin-left: 0px; height: 100%; width:100%">
                                    <table>
                                        <tr>
                                            <td style="width:100%;  font-size:12px; text-align:right;vertical-align:top">
                                                 <select id="cboDateSearch" style="width:80px" ;font-size:12px;"/>
                                                <input id="txtStartDate" type="text" style="width: 110px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                                To
                                                <input id="txtEndDate" type="text" style="width: 110px;height:20px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                           
                                            </td>
                                          
                                        </tr>
                                        <tr>
                                            
                                            <td style="width:100%;  font-size:12px; text-align:right;vertical-align:top">
                                                <a id="btnVoucherProcess" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-setting" plain="true">Voucher Process</a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>                        
                    </table>
                </td>
                <td style="width:65%; height:100%; vertical-align:top">                                        
                    <table id="tblVoucher" title="Voucher List" class="easyui-datagrid" fit="true" fitcolumns="true" singleselect="true" pagination="false" rownumbers="true" autorowheight="false" toolbar="#toolbar"
                    data-options ="rowStyler: function(index,row){
                                        if (row.VoucherID > 0){
                                            return 'color:#016B18; font-weight:bold;';
                                        }
                                    }
                    ">
                        <thead>
                            <tr>
                                <th data-options=" field:'selected',checkbox:true"></th>
                                <th field="PrintCount" width="30" align="center" formatter="FormatCommitAutoVoucher">View</th>
                                <th field="VoucherDateInString" width="100" align="center">Date</th>
                                <th field="VoucherNo" width="120">Voucher No</th>
                                <th field="VoucherName" width="120">Voucher Type</th>
                                <th field="ReferenceNote" width="200">Reference</th>
                                <th field="VoucherAmountInString" width="120" align="right">Voucher Amount</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="toolbar">
                        <a id="btnCommitVoucher" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Confirm Voucher Posting</a>
                        <a id="btnViewVoucher" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View Vocuher</a>                        
                    </div>                    
                </td>
            </tr>
        </table>      
</div>
<style type="text/css">
    .tablebordaer {
        border: 1px solid black;
    }

    #tblVoucherDetail td {
        border-left: 1px solid #D8D8D8;
        border-bottom: 1px solid #D8D8D8;
    }

    #tblVoucherDetailHeader td {
        border-left: 1px solid black;
    }

    .highlight {
        background-color: #CFB53B;
        color: #fff;
    }

    .highlighthover {
        background-color: #FAE794;
        color: #000;
    }
</style>
<script type="text/javascript">        
    $(document).ready(function () {    
        var oIntegrationSetups =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oBusinessUnits = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
        $("#cboBusinessUnit").icsLoadCombo({List: oBusinessUnits, OptionValue: "BusinessUnitID", DisplayText: "ShortName" });
        RefreshIntegrationList(oIntegrationSetups);        
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        $('#Mainlayout').layout('collapse', 'west');        
        RefreshDateSearch();
        _dcurrentdate = new Date();
        $('#txtAmount').icsCurrencyBox(null, null, 3);
    });

    
    $('#cboBusinessUnit').change(function(){
        RefreshIntegrationList([]);
        RefreshVoucherList([]);
    });

    function ValidateInput()
    {
        var oSelectedVouchers = $('#tblVoucher').datagrid('getChecked');
        if(oSelectedVouchers==null || oSelectedVouchers.length<=0 )
        {
            alert("Please Select at least one voucher!!");
            return false;
        }
        for(var i=0; i<oSelectedVouchers.length; i++)
        {
            if(parseInt(oSelectedVouchers[i].VoucherID)>0)
            {
                alert(oSelectedVouchers[i].Narration + " Already Posting!");
                return false;
            }
        }

        var oVouchers= $('#tblVoucher').datagrid('getRows');
        var oUnSelectedVouchers = [];
        for(var i=0; i<oVouchers.length; i++)
        {
            if(!IsSelect(oVouchers[i].VoucherID, oSelectedVouchers))
            {
                oUnSelectedVouchers.push(oVouchers[i]);
            }
        }

        for(var i=0; i<oSelectedVouchers.length; i++)
        {
            if(HasSameBatchVocuher(oSelectedVouchers[i], oUnSelectedVouchers))
            {
                alert("Please select "+ oSelectedVouchers[i].Narration + " Releted All Vocuhers!");
                return false;
            }
        }
        return true;
    }

    function IsSelect(nVoucherID, oVouchers)
    {
        for(var i=0; i<oVouchers.length; i++)
        {
            if(parseInt(nVoucherID)==parseInt(oVouchers[i].VoucherID))
            {
                return true;
            }
        }
        return false;
    }

    function HasSameBatchVocuher(oVoucher, oVouchers)
    {
        for(var i=0; i<oVouchers.length; i++)
        {
            if(parseInt(oVoucher.PKValue)==parseInt(oVouchers[i].PKValue) && oVoucher.TableName==oVouchers[i].TableName)
            {
                return true;
            }
        }
        return false;
    }

    $("#btnCommitVoucher").click(function(e){
        if(!ValidateInput()) return;
        var oVouchers = [];
        var oVoucherLists = $('#tblVoucher').datagrid('getChecked');
        if(oVoucherLists.length<=0)
        {
            alert("Please select atleast one Voucher.");
            return;
        }
        if (!confirm("Confirm to Commit Vouchers ?")) return ;
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        for(var i=0;i<oVoucherLists.length;i++)
        {
            oVoucherLists[i].VoucherDate = oVoucherLists[i].VoucherDateInString;
            oVouchers.push(oVoucherLists[i]);
        }
        var intervalID = setInterval(updateProgress, 250);
        $.ajax({
            type: "POST",
            dataType: "json",        
            url : sessionStorage.getItem('BaseAddress')+"/Voucher/CommitAutoVoucher",
            traditional: true,
            data:  JSON.stringify(oVouchers),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oTempVouchers = jQuery.parseJSON(data);
                $('#progbar').progressbar('setValue', 100);
                clearInterval(intervalID);
                if (oTempVouchers != null) {
                    if(oTempVouchers.length>0)
                    {
                        if(oTempVouchers[0].ErrorMessage=="")
                        {
                            alert("Voucher Posting Successfully");
                            for(var i=0; i<oVouchers.length; i++)
                            {
                                var SelectedRowIndex=$('#tblVoucher').datagrid('getRowIndex',oVouchers[i]);
                                $('#tblVoucher').datagrid('updateRow',{index: SelectedRowIndex,	row: oTempVouchers[i]});
                            }
                            setTimeout(hideShow, 1000);
                        }
                        else
                        {
                            setTimeout(hideShow, 1000);
                            alert(oTempVouchers[0].ErrorMessage);
                        }
                    }
                    else
                    {
                        setTimeout(hideShow, 1000);
                        alert("Invalid Operations!");
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });

    function updateProgress() {
        var value =$('#progbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progbarParent").hide();
    }

    $('#btnVoucherProcess').click(function (e) {
        var oIntegrationSetup= $('#tblIntegrationSetup').datagrid('getSelected');
        if(oIntegrationSetup==null || parseInt(oIntegrationSetup.IntegrationSetupID)<=0)
        {
            alert("Please select an Integrationsetup!");
            return;
        }

        var Date = document.getElementById("cboDateSearch");
        var nDateType = Date.options[Date.selectedIndex].value;
        var date1=$('#txtStartDate').datebox('getValue');
        var date2= $('#txtEndDate').datebox('getValue');
        if(parseInt(nDateType) == 1)//Equ
        {
            date2=date1;
        }
        oIntegrationSetup.DateType=parseInt(nDateType) ;
        oIntegrationSetup.StartDate=date1;
        oIntegrationSetup.EndDate=date2;

        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var SelectedRowIndex=$('#tblIntegrationSetup').datagrid('getRowIndex',oIntegrationSetup);
        var intervalID = setInterval(updateProgress, 250);
        $.ajax({
            type: "POST",
            dataType: "json",            
            url : sessionStorage.getItem('BaseAddress')+"/Voucher/GetsYetToEffectsData",
            traditional: true,
            data:  JSON.stringify(oIntegrationSetup),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oVouchers = jQuery.parseJSON(data);
                $('#progbar').progressbar('setValue', 100);
                clearInterval(intervalID);
                if (oVouchers != null) {
                    if(oVouchers.length>0)
                    {
                        if(oVouchers[0].ErrorMessage=="")
                        {
                            RefreshVoucherList(oVouchers);
                            setTimeout(hideShow, 1000);                            
                            var datetime =  _dcurrentdate.getHours() + ":"   + _dcurrentdate.getMinutes()+ ":" + _dcurrentdate.getSeconds();
                            oIntegrationSetup.LastProcess= datetime;
                            $('#tblIntegrationSetup').datagrid('updateRow',{index: SelectedRowIndex,	row: oIntegrationSetup});

                        }
                        else
                        {
                            setTimeout(hideShow, 1000);
                            alert(oVouchers[0].ErrorMessage);
                        }
                    }
                    else
                    {
                        setTimeout(hideShow, 1000);
                        alert("Data not found!!");
                    }
                }
            },
            error: function (xhr, status, error) {
                setTimeout(hideShow, 1000);
                alert(error);
            }

        });
    });

    function RefreshVoucherList(oVouchers)
    {
        var data={"total":""+oVouchers.length+"","rows":oVouchers};
        $('#tblVoucher').datagrid('loadData',data);
        $('#tblVoucher').datagrid({selectOnCheck:false, checkOnSelect:true});
    }

    function RefreshIntegrationList(oIntegrationSetups)
    {
        data={"total":""+oIntegrationSetups.length+"","rows":oIntegrationSetups};
        $('#tblIntegrationSetup').datagrid('loadData',data);
    }

    function FormatCommitAutoVoucher(value)
    {
        var nSLNo =parseInt(value);
        var s = '   <input  type="image" src="@Url.Content("~/Content/CSS/icons/details.png")"  onclick="ViewVoucher('+nSLNo+')", value="" id="btnViewVoucher"/> ';
        return s;
    }

    $("#btnRefresh").click(function(){
        if(parseInt($('#cboBusinessUnit').val())<=0)
        {
            alert("Please select an Business Unit!");
            $('#cboBusinessUnit').focus()
            return;
        }

        var oIntegrationSetup = {
            BUID :  parseInt($('#cboBusinessUnit').val())
        };

        $.ajax({
            type: "Post",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+"/IntegrationSetup/RefreshProcesses",
            traditional: true,
            data:  JSON.stringify(oIntegrationSetup),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oIntegrationSetups = jQuery.parseJSON(data);
                RefreshIntegrationList(oIntegrationSetups);
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    });

    function RefreshDateSearch()
    {
        $('#txtStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtEndDate').datebox('setValue', icsdateformat(new Date()));
        $('#cboDateSearch').empty();
        var listDates = "<option value='"+0+"'>" + "None" + "</option>";
        listDates+= "<option value='"+1+"'>" + "EqualTo" + "</option>";
        listDates+= "<option value='"+5+"'>" + "Between" + "</option>";
        $("#cboDateSearch").html(listDates);
        $('#txtStartDate').datebox({disabled: true});
        $('#txtEndDate').datebox({disabled: true});
    }

    $('#cboDateSearch').change(function(){
        var DateTypes = document.getElementById("cboDateSearch");
        var DateType=DateTypes.options[DateTypes.selectedIndex].text;
        if (DateType == "EqualTo") {
            $('#txtStartDate').datebox({disabled: false});
            $('#txtStartDate').datebox('setValue', icsdateformat(new Date()));
            $('#txtEndDate').datebox({disabled: true});
            $('#txtEndDate').datebox('setValue', icsdateformat(new Date()));
        }
        if (DateType == "None" )
        {
            $('#txtStartDate').datebox({disabled: true});
            $('#txtEndDate').datebox({disabled: true});
            $('#txtStartDate').datebox('setValue', icsdateformat(new Date()));
            $('#txtEndDate').datebox('setValue', icsdateformat(new Date()));
        }
        if (DateType == "Between" ||DateType == "NotBetween"  )
        {
            $('#txtStartDate').datebox({disabled: false});
            $('#txtEndDate').datebox({disabled: false});
            $('#txtStartDate').datebox('setValue', icsdateformat(new Date()));
            $('#txtEndDate').datebox('setValue', icsdateformat(new Date()));
        }
    });

    //start voucher View  
    $('#btnViewVoucher').click(function (e) {
        var oVoucher = $('#tblVoucher').datagrid('getSelected');
        if(oVoucher === null)
        {
            alert("Please select a voucher!");
        }
        var nRowIndex = $('#tblVoucher').datagrid('getRowIndex', oVoucher);
        $('#tblVoucher').data('RowIndex', nRowIndex);        
        ViewVoucherWindow(oVoucher);
    });

    $("#btnUpdate").click(function(){
        var nAmount = parseFloat(icsRemoveComma($('#txtAmount').val()));
        if(nAmount===0.00)
        {
            alert("Please Enter Update Amount!");
            $('#txtAmount').focus();
            return;
        }
        if((nAmount * (-1))>0.50)
        {
            alert("Maximum +/- 0.5 Allow!");
            $('#txtAmount').focus();
            return;
        }

        var nRowIndex = $('#tblVoucherDetail').data('RowIndex');
        if(nRowIndex===null || nRowIndex === undefined || parseInt(nRowIndex)<0)
        {
            alert("Please select an Account Head!");            
            return;
        }

        var oVoucher = $('#tblVoucherDetail').data('Voucher');
        if(oVoucher===null || oVoucher.VDObjs===null || (oVoucher.VDObjs.length-1)<nRowIndex)
        {
            alert("Invalid Voucher!");            
            return;
        }        
        var oVDObjs = oVoucher.VDObjs;
        var oVDObj = oVDObjs[nRowIndex]; 
        if(oVDObj === null)
        {
            alert("Please select an Account Head!");
            return;
        }        

        if(parseInt(oVDObj.ObjTypeInt) === 0 || parseInt(oVDObj.ObjTypeInt)===7)
        {   
            oVDObjs[nRowIndex].CAmount = (parseFloat(oVDObj.CAmount) + parseFloat(nAmount));      
            oVDObjs[nRowIndex].Amount = (parseFloat(oVDObj.Amount) + parseFloat(nAmount));            
            if(parseInt(oVDObj.ObjTypeInt) === 0)
            {
                if(parseInt(oVDObj.CID) != 1)
                {
                    alert("Please select an BDT Account Head!");
                    return;
                }
                if(oVDObj.IsDr === true)
                {
                    oVDObjs[nRowIndex].DrAmount = (parseFloat(oVDObj.DrAmount) + parseFloat(nAmount));
                    oVDObjs[nRowIndex].BCDrAmount = (parseFloat(oVDObj.BCDrAmount) + parseFloat(nAmount));
                }
                else
                {
                    oVDObjs[nRowIndex].CrAmount = (parseFloat(oVDObj.CrAmount) + parseFloat(nAmount));
                    oVDObjs[nRowIndex].BCCrAmount = (parseFloat(oVDObj.BCCrAmount) + parseFloat(nAmount));
                }
            }
                        
            oVoucher.VDObjs = oVDObjs;
            RefreshDetailList(oVDObjs);
            RefreshSummery(oVDObjs);
            InitializeEventClick();
            InitializeEventHover();
            RefreshControlViewVoucher(oVoucher);
            var nVoucherRowIndex = $('#tblVoucher').data('RowIndex');
            $('#tblVoucher').datagrid('updateRow',{ index: nVoucherRowIndex, row: oVoucher });
            alert("Update Successfully!");
            $('#txtAmount').val('');
        }
        else
        {
            alert("Please select an Ledger/Subledger Account Head!");
            return;
        }
    });

    function ViewVoucher(nIndex)
    {        
        $('#tblVoucher').data('RowIndex', (nIndex-1));
        $('#tblVoucher').datagrid('selectRow', (nIndex-1));
        var oVoucher= $('#tblVoucher').datagrid('getSelected');
        if(oVoucher==null)
        {
            alert("Please select a item from list!");
            return;
        }
        ViewVoucherWindow(oVoucher);
    }

    function ViewVoucherWindow(oVoucher)
    {
        $('#tblVoucherDetail').data('Voucher', oVoucher);
        var oVDObjs = oVoucher.VDObjs;
        $(".lblBaseCurrencySymbol").text("("+oVoucher.BaseCUSymbol+")");
        RefreshDetailList(oVDObjs);
        RefreshSummery(oVDObjs);
        InitializeEventClick();
        InitializeEventHover();
        RefreshControlViewVoucher(oVoucher);
        $("#winVoucher").icsWindow('open');
        sessionStorage.setItem("VoucherWindow", 'Open');
    }

    function RefreshDetailList(oVDObjs)
    {
        //VoucherDetail = 0
        //CostCenter = 1
        //BillReference = 2
        //VoucherReference = 3
        //InventoryReference = 4
        var table = document.getElementById('tblVoucherDetail');
        $('#tblVoucherDetail').empty();
        for(var i=0; i<oVDObjs.length; i++)
        {
            var row = table.insertRow(i);
            if(oVDObjs[i].ObjTypeInt==0)
            {
                var cellAccountHead = row.insertCell(0);
                cellAccountHead.width= "50%";
                cellAccountHead.innerHTML =oVDObjs[i].AHName + " ["+oVDObjs[i].AHCode+"]";

                var cellNarration = row.insertCell(1);
                cellNarration.colSpan= 2;
                cellNarration.width= "30%";
                cellNarration.innerHTML = oVDObjs[i].Detail;


                var cellDebitAmount = row.insertCell(2);
                cellDebitAmount.width= "10%";
                cellDebitAmount.style.textAlign = "right";
                cellDebitAmount.innerHTML =  formatPrice(oVDObjs[i].DrAmount,null);

                var cellCreditAmount = row.insertCell(3);
                cellCreditAmount.width= "10%";
                cellCreditAmount.style.textAlign = "right";
                cellCreditAmount.innerHTML = formatPrice(oVDObjs[i].CrAmount,null);
            }
            if(oVDObjs[i].ObjTypeInt==1)
            {
                var cellSubLedgerName = row.insertCell(0);
                cellSubLedgerName.width= "50%";
                cellSubLedgerName.innerHTML = oVDObjs[i].CFormat;

                var cellSubLedgerNarration = row.insertCell(1);
                cellSubLedgerNarration.width= "20%";
                cellSubLedgerNarration.innerHTML = oVDObjs[i].Detail;

                var cellSubLedgerAmount = row.insertCell(2);
                cellSubLedgerAmount.width= "10%";
                cellSubLedgerAmount.style.textAlign = "right";
                cellSubLedgerAmount.innerHTML = formatPrice(oVDObjs[i].CAmount);

                var cellDebitAmount = row.insertCell(3);
                cellDebitAmount.width= "10%";
                cellDebitAmount.innerHTML = "";

                var cellCreditAmount = row.insertCell(4);
                cellCreditAmount.width= "10%";
                cellCreditAmount.innerHTML =  "";
            }
            if(oVDObjs[i].ObjTypeInt==2 || oVDObjs[i].ObjTypeInt==5)
            {
                var cellBillNumber = row.insertCell(0);
                cellBillNumber.width= "50%";
                cellBillNumber.innerHTML = oVDObjs[i].CFormat;

                var cellBillNarration = row.insertCell(1);
                cellBillNarration.width= "20%";
                cellBillNarration.innerHTML = oVDObjs[i].Detail;

                var cellBillAmount = row.insertCell(2);
                cellBillAmount.width= "10%";
                cellBillAmount.style.textAlign = "right";
                cellBillAmount.innerHTML = formatPrice(oVDObjs[i].CAmount);

                var cellDebitAmount = row.insertCell(3);
                cellDebitAmount.width= "10%";
                cellDebitAmount.innerHTML = "";

                var cellCreditAmount = row.insertCell(4);
                cellCreditAmount.width= "10%";
                cellCreditAmount.innerHTML =  "";
            }
            if(oVDObjs[i].ObjTypeInt==3 || oVDObjs[i].ObjTypeInt==6)
            {
                var cellChequeNumber = row.insertCell(0);
                cellChequeNumber.width= "50%";
                cellChequeNumber.innerHTML = oVDObjs[i].CFormat;

                var cellChequeNarration = row.insertCell(1);
                cellChequeNarration.width= "20%";
                cellChequeNarration.innerHTML = oVDObjs[i].Detail;

                var cellChequeAmount = row.insertCell(2);
                cellChequeAmount.width= "10%";
                cellChequeAmount.style.textAlign = "right";
                cellChequeAmount.innerHTML = formatPrice(oVDObjs[i].CAmount);

                var cellDebitAmount = row.insertCell(3);
                cellDebitAmount.width= "10%";
                cellDebitAmount.innerHTML = "";

                var cellCreditAmount = row.insertCell(4);
                cellCreditAmount.width= "10%";
                cellCreditAmount.innerHTML =  "";
            }
            if(oVDObjs[i].ObjTypeInt==4)
            {
                var cellInventoryItem = row.insertCell(0);
                cellInventoryItem.colSpan=2;
                cellInventoryItem.width= "70%";
                cellInventoryItem.innerHTML = oVDObjs[i].CFormat;

                var cellChequeAmount = row.insertCell(1);
                cellChequeAmount.width= "10%";
                cellChequeAmount.style.textAlign = "right";
                cellChequeAmount.innerHTML = formatPrice(oVDObjs[i].CAmount);

                var cellDebitAmount = row.insertCell(2);
                cellDebitAmount.width= "10%";
                cellDebitAmount.innerHTML = "";

                var cellCreditAmount = row.insertCell(3);
                cellCreditAmount.width= "10%";
                cellCreditAmount.innerHTML =  "";
            }
            if(oVDObjs[i].ObjTypeInt === 7 || oVDObjs[i].ObjTypeInt === 8)//Order Reference= 7 //SLOrder Reference= 8
            {
                var cellInventoryItem = row.insertCell(0);
                cellInventoryItem.colSpan=2;
                cellInventoryItem.width= "70%";
                cellInventoryItem.innerHTML = oVDObjs[i].CFormat;

                var cellChequeAmount = row.insertCell(1);
                cellChequeAmount.width= "10%";
                cellChequeAmount.style.textAlign = "right";
                cellChequeAmount.innerHTML = formatPrice(oVDObjs[i].CAmount);

                var cellDebitAmount = row.insertCell(2);
                cellDebitAmount.width= "10%";
                cellDebitAmount.innerHTML = "";

                var cellCreditAmount = row.insertCell(3);
                cellCreditAmount.width= "10%";
                cellCreditAmount.innerHTML =  "";
            }
        }
    }
    function RefreshSummery(oVDObjs)
    {
        var nTotalDebitAmount=0; var nTotalCreditAmount=0;
        if(oVDObjs==null)oVDObjs=[];
        for(var i=0; i<oVDObjs.length; i++)
        {
            nTotalDebitAmount=nTotalDebitAmount+ parseFloat(oVDObjs[i].DrAmount)
            nTotalCreditAmount=nTotalCreditAmount+parseFloat(oVDObjs[i].CrAmount);
        }
        document.getElementById('lblTotalDebitAmount').innerHTML =formatPrice(nTotalDebitAmount, null) ;
        document.getElementById('lblTotalCreditAmount').innerHTML =formatPrice(nTotalCreditAmount, null);
    }
    function InitializeEventClick()
    {
        $("#tblVoucherDetail tr").click(function() {
            ResetAllRowsClick();
            $(this).addClass("highlight");
            $(this).css("cursor","pointer");
            $('#tblVoucherDetail').data('RowIndex', this.rowIndex);
        });
    }
    function ResetAllRowsClick()
    {
        var tblVoucherDetail=document.getElementById("tblVoucherDetail");
        if(tblVoucherDetail.rows!=null)
        {
            for(var i=0; i<tblVoucherDetail.rows.length; i++)
            {
                $('#tblVoucherDetail tr').eq(i).removeClass("highlight");
                $('#tblVoucherDetail tr').eq(i).removeClass("highlighthover");
            }
        }
    }
    function InitializeEventHover()
    {
        $("#tblVoucherDetail tr").hover(function() {
            ResetAllRowsHover();
            $(this).addClass("highlighthover");
            $(this).css("cursor","pointer");
        });
    }
    function ResetAllRowsHover()
    {
        var tblVoucherDetail=document.getElementById("tblVoucherDetail");
        if(tblVoucherDetail.rows!=null)
        {
            for(var i=0; i<tblVoucherDetail.rows.length; i++)
            {
                $('#tblVoucherDetail tr').eq(i).removeClass("highlighthover");
            }
        }
    }
    function RefreshControlViewVoucher(oVoucher)
    {        
        $("#lblHeaderName").text('View Voucher');
        $('#txtVoucherType').val(oVoucher.VoucherName)
        $('#txtVoucherDate').val(oVoucher.VoucherDateAsString)
        $("#txtBusinessUnit").val(oVoucher.BUShortNameCode);
        $("#txtVoucherNo").val(oVoucher.VoucherNo);
        //$('#txtCurrency').val(oVoucher.CurrencyNameSymbol);
        //$('#txtConversionRate').val(oVoucher.CurrencyConversionRate);
        $("#txtNarration").val(oVoucher.Narration);
        CalculateTotalSummary(oVoucher);
    }
    function CalculateTotalSummary(oVoucher)
    {
        debugger;        
        var nTotalDebitAmount=0;
        var nTotalCreditAmount=0;
        var oVDObjs = oVoucher.VDObjs;
        if(oVDObjs!=null)
        {
            for(var i=0; i<oVDObjs.length;i++)
            {
                nTotalDebitAmount=nTotalDebitAmount+ parseFloat(oVDObjs[i].DrAmount)
                nTotalCreditAmount=nTotalCreditAmount+parseFloat(oVDObjs[i].CrAmount);
            }
        }
        document.getElementById('lblTotalDebitAmount').innerHTML =formatPrice(nTotalDebitAmount, null) ;
        document.getElementById('lblTotalCreditAmount').innerHTML =formatPrice(nTotalCreditAmount, null);
    }    
    $("#btnCloseVoucher").click(function (){
        $("#winVoucher").icsWindow('close');
        sessionStorage.setItem("VoucherWindow", 'Close');
    });
    //End voucher View
</script>