@{
    ViewBag.Title = "Voucher List";
}
@model IEnumerable<ESimSol.BusinessObjects.Voucher>

    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable">
        <div id="winVoucher" class="easyui-window" title="View Voucher" style="height: 515px; width: 1020px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div id="p" style="width:99%; padding:1px">
                <div style="width:100%">
                    <table border="0" cellpadding="2" cellspacing="2" style="width:100%;">
                        <tr>
                            <td style="width:25%; font-size:12px">
                                Business Unit:<input type="text" id="txtBusinessUnit" style="width: 120px;margin-left:5px; font-weight:bolder" disabled />
                            </td>
                            <td style="width:25%; font-size:12px">
                                Voucher No:<input type="text" id="txtVoucherNo" style="width: 120px;margin-left:5px; font-weight:bolder" disabled />
                            </td>
                            <td style="width:25%; text-align:center">
                                Voucher Type:<input type="text" id="txtVoucherType" style="width: 150px;margin-left:5px; font-weight:bolder" disabled />
                            </td>
                            <td style="width:22%; font-size:12px;text-align:right;">
                                Voucher Date :<input type="text" id="txtVoucherDate" style="width: 120px;margin-left:5px; font-weight:bolder" disabled />
                            </td>
                        </tr>
                    </table>
                </div>
                <div style="width:100%">
                    <table id="tblVoucherDetailHeader" class="tablebordaer" border="0" cellpadding="0" cellspacing="0" width="100%" style="font-size:12px; font-weight:bold">
                        <tr>
                            <td style="width:50%; text-align:center">Particulars</td>
                            <td style="width:30%; text-align:center">Narration</td>
                            <td style="width:10%; text-align:center">Debit<label class="lblBaseCurrencySymbol"></label></td>
                            <td style="width:10%; text-align:center">Credit<label class="lblBaseCurrencySymbol"></label></td>
                        </tr>
                    </table>
                </div>
                <div class="tablebordaer" id="divVoucherDetails" style="height:280px; width:100%; font-size:12px; overflow:auto">
                    <table id="tblVoucherDetail" border="0" cellpadding="0" cellspacing="0" style="font-size:13px; width:100%"></table>
                </div>
                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                    <tr>
                        <td style="width:80%; text-align:right; font-size:12px; font-weight:bold"></td>
                        <td colspan="2" style="width:20%; text-align:right; font-size:12px; font-weight:bold"><hr /></td>
                    </tr>
                    <tr>
                        <td style="width:70%; text-align:right; font-size:12px; font-weight:bold"></td>
                        <td style="width:20%; text-align:right; font-size:10px; font-weight:bold;padding-right: 34px;"><label class="lblBaseCurrencySymbol"></label><label id="lblTotalDebitAmount">0.00</label> </td>
                        <td style="width:10%; text-align:right; font-size:10px; font-weight:bold"><label class="lblBaseCurrencySymbol"></label><label id="lblTotalCreditAmount"> 0.00</label>&nbsp;&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width:80%; text-align:right; font-size:12px; font-weight:bold"></td>
                        <td colspan="2" style="width:20%; text-align:right; font-size:12px; font-weight:bold"><hr /><hr /></td>
                    </tr>
                    <tr>
                        <td style="width:80%; text-align:left; font-size:12px; font-weight:bold">Narration :</td>
                        <td colspan="2" style="width:20%; text-align:right; font-size:12px; font-weight:bold"></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="width:100%; text-align:left; font-size:12px; font-weight:bold">
                            <textarea rows="1" id="txtNarration" style="text-align:left; width:100%" disabled></textarea>
                        </td>
                    </tr>
                    <tr style="height:33px">
                        <td style="width:60%; text-align:left; font-size:12px; font-weight:bold"></td>
                        <td style="width:20%; text-align:right; font-size:12px; font-weight:bold; vertical-align:bottom">
                            <a id="btnPrintVoucher" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
                        </td>
                        <td colspan="2" style="width:20%; text-align:right; font-size:12px; font-weight:bold; vertical-align:bottom">
                            <a id="btnCloseVoucher" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div id="divVoucher" style="margin-left: 0px; height: 100%; width:100%">
            <table id="tblVouchers" title="Voucher List" class="easyui-datagrid" fit="true" fitcolumns="true" singleselect="true" pagination="true" showfooter="true" rownumbers="true" autorowheight="false" toolbar="#toolbar">
                <thead>
                    <tr>
                        <th data-options="field:'Selected',checkbox:true"></th>
                        <th field="VoucherDateInString" width="8%">Date</th>
                        <th field="VoucherNo" width="18%" formatter="FormatStyle">Voucher No</th>
                        <th field="Narration" width="43%">Narration</th>
                        <th field="VoucherAmountInString" width="11%" align="right">Voucher Amount</th>
                        <th field="AuthorizedByName" width="10%">Approved By</th>
                        <th field="PreparedByName" width="10%">Prepared By</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbar">
                <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"></a>
                <input type="text" id="txtSearchByVoucherNo" value="" style="width:143px" placeholder="Search By Voucher No" />
                <select style="width:170px" id="cboVoucherBatch"></select>
                <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                <a id="btnWaitForApproved" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Wait For Approval</a>
                <a id="btnWaitForInventoryEffect" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Wait For InventoryEffect</a>
                <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                <a id="btnCopy" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-copy" plain="true">Copy</a>
                <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
                <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                <a id="btnApproved" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Approved</a>
                <a id="btnUnApproved" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-no" plain="true">Un-Approved</a>
                <a id="btnCommitInventoryEffect" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Commit InventoryEffect</a>
                <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print List</a>
                <a id="btnPrintXL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">XL</a>
            </div>
        </div>

        <div id="winAdvanceSearch" class="easyui-window" title="Advance Search" style="width:540px;height:410px;padding:2px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div>
                <fieldset>
                    <legend style="font-weight:bold"> Searching Criteria : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                        <tr>
                            <td style="width:170px; text-align:right">
                                Voucher No :
                            </td>
                            <td style="width:370px">
                                <input type="text" style="width: 370px;" id="txtSrcVoucherNo" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:170px; text-align:right">
                                Voucher Type :
                            </td>
                            <td style="width:370px">
                                <select id="cboSrcVoucherType" style="width:368px"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:170px; text-align:right">
                                Approve By :
                            </td>
                            <td style="width:370px">
                                <select id="cboSrcApproveBy" style="width:368px"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:170px; text-align:right">
                                Business Unit :
                            </td>
                            <td style="width:370px">
                                <select id="cboSrcBusinessUnit" style="width:368px"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:170px; text-align:right">
                                Currency :
                            </td>
                            <td style="width:370px">
                                <select id="cboSrcCurrency" style="width:368px"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:170px; text-align:right">
                                Voucher Date :
                            </td>
                            <td style="width:370px">
                                <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                                    <tr>
                                        <td style="width: 120px; font-size: 12px; text-align: left">
                                            <select id="cboSrcVoucherDate" style="width:120px"></select>
                                        </td>
                                        <td style="width: 120px; font-size: 12px">
                                            <input id="txtSrcVoucherStartDate" type="text" style="width: 120px;" class="easyui-datebox" disabled="disabled" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                        </td>
                                        <td style="width: 10px; font-size: 12px">
                                            To
                                        </td>
                                        <td style="width: 120px; font-size: 12px">
                                            <input id="txtSrcVoucherEndDate" type="text" style="width: 115px;" class="easyui-datebox" disabled="disabled" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:170px; text-align:right">
                                Amount :
                            </td>
                            <td style="width:370px">
                                <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                                    <tr>
                                        <td style="width: 120px; font-size: 12px; text-align: left">
                                            <select id="cboSrcVoucherAmount" style="width:120px"></select>
                                        </td>
                                        <td style="width: 120px; font-size: 12px">
                                            <input id="txtSrcVoucherAmountStart" style="width:114px" />
                                        </td>
                                        <td style="width: 10px; font-size: 12px">
                                            To
                                        </td>
                                        <td style="width: 120px; font-size: 12px">
                                            <input id="txtSrcVoucherAmountEnd" style="width:114px" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:170px; text-align:right">
                                AccountHead(s) :
                            </td>
                            <td style="width:370px">
                                <input type="text" style="width: 282px;" id="txtSrcAccountHead" placeholder="Press enter with Account Head Name"/>
                                <input type="button" style="width: 30px;" id="btnSrcAccountHeadClear" value="C" />
                                <input type="button" style="width: 50px;" id="btnSrcAccountHeadPicker" value="Pick" />
                            </td>
                        </tr>                        
                        <tr>
                            <td style="width:170px; text-align:right">
                                Narration :
                            </td>
                            <td style="width:370px">
                                <input type="text" style="width: 368px;" id="txtSrcVoucherNarration" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:170px; text-align:right">
                                Subledger :
                            </td>
                            <td style="width:370px">
                                <input type="text" style="width: 368px;" id="txtSubledger" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:170px; text-align:right">
                                Batch No :
                            </td>
                            <td style="width:370px">
                                <input type="text" style="width: 368px;" id="txtBatchNo" />
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <fieldset style="width:518px; vertical-align:top;">
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold;">
                    <tr>
                        <td style="width:130px;text-align:right">
                            <a id="btnSrcReset" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"> Reset</a>
                        </td>
                        <td style="width:408px;text-align:right;">
                            <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                            <a id="btnSrcClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>

    <script type="text/javascript">
    var _oVouchers=[];
    $(document).ready(function () {
        _oVouchers =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var Operation=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(TempData["operation"]));
        var oVoucherBatchs = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.VoucherBatchs));
        var oApprovedUsers = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ApprovedUsers));
        var oDateCompareOperatorObjs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.DateCompareOperatorObjs));
        var oAmountCompareOperatorObjs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.AmountCompareOperatorObjs));
        var oVoucherTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.VoucherTypes));
        var oBusinessUnits =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
        var oCurrencys =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Currencys));
        var oClientSetting =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ClientSetting));

        $('#divVoucher').data('ClientSetting', oClientSetting);
        $('#tblVouchers').data('Operation', Operation);
        var oVouchers =sessionStorage.getItem("Vouchers");
        if(oVouchers!=null)
        {
            oVouchers = jQuery.parseJSON(oVouchers);
        }
        else
        {
            oVouchers=_oVouchers;
        }
        RefreshList(oVouchers);
        RefreshCboBatch(oVoucherBatchs);
        ControlLayout();
        $('#cboBusinessUnits').html("<option value=0>" + "--Select BusinessUnit--" + "</option>");
        $('#cboBusinessUnits').val(0);

        $('#cboSrcApproveBy').data('ApprovedUsers', oApprovedUsers);
        $('#cboSrcVoucherDate').data('DateCompareOperatorObjs', oDateCompareOperatorObjs);
        $('#cboSrcVoucherAmount').data('AmountCompareOperatorObj', oAmountCompareOperatorObjs);
        $('#cboSrcVoucherType').data('VoucherTypes', oVoucherTypes);
        $('#cboSrcBusinessUnit').data('BusinessUnits', oBusinessUnits);
        $('#cboSrcCurrency').data('Currencys', oCurrencys);
        $('#txtSrcVoucherAmountStart,#txtSrcVoucherAmountEnd').icsCurrencyBox();

        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
    });

    function RefreshCboBatch(oVoucherBatchs)
    {
        $("#cboVoucherBatch").icsLoadCombo({
            List: oVoucherBatchs,
            OptionValue: "VoucherBatchID",
            DisplayText: "BatchNO"
        });
    }

    function RefreshObject(oVouchers)
    {
        var oVoucherList = {
            VoucherList : oVouchers
        }
        return oVoucherList;
    }

    function ControlLayout()
    {
        var Operation = $('#tblVouchers').data('Operation');
        if(Operation!="Approved")
        {
            $('#btnUnApproved').hide();
            $('#btnApproved').hide();
            $('#btnCommitInventoryEffect').hide();
            $('#btnWaitForApproved').hide();
            $('#btnWaitForInventoryEffect').hide();
            //$('#tblVouchers').datagrid('hideColumn','Selected');
        }
        else
        {
            $('#btnAdd,#btnCopy').hide();
        }
    }

    $('#btnUnApproved').click(function(e){
        var oVoucher= $('#tblVouchers').datagrid('getSelected');
        if(oVoucher==null || oVoucher.VoucherID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oVoucher.AuthorizedBy)===0)
        {
            alert("Please Selected an approval Voucher!");
            return;
        }
        if (!confirm("Confirm to Un-Approved ?")) return false ;
        var SelectedRowIndex=$('#tblVouchers').datagrid('getRowIndex',oVoucher);
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/Voucher/UnApprovedVoucher",
            traditional: true,
            data:  JSON.stringify(oVoucher),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oVoucher = jQuery.parseJSON(data);
                if(oVoucher.ErrorMessage == "")
                {
                    alert("Un-Approved Sucessfully");
                    $('#tblVouchers').datagrid('updateRow', { index: SelectedRowIndex, row: oVoucher});
                }
                else {
                    alert(oVoucher.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $("#btnAdd").click(function(){
        var oVouchers= $('#tblVouchers').datagrid('getRows');
        sessionStorage.setItem("Vouchers", JSON.stringify(oVouchers));
        sessionStorage.setItem("SelectedRowIndexVoucher", -1);
        sessionStorage.setItem("VoucherHeader", "Add New Voucher");
        var Operation = $('#tblVouchers').data('Operation');
        sessionStorage.setItem("Operation", Operation);
        sessionStorage.setItem("BackURL", window.location.href);
        var oClientSetting = $('#divVoucher').data('ClientSetting');
        if(parseInt(oClientSetting.Value)===13)
        {
            window.location.href =  sessionStorage.getItem('BaseAddress') +'/Voucher/ViewSingleCurrencyVoucher?buid=1&id=0&nvtid=0&copyid=0';
        } 
        else if(parseInt(oClientSetting.Value)===14)
        {
            window.location.href =  sessionStorage.getItem('BaseAddress') +'/Voucher/ViewMultiCurrencyVoucher?buid=1&id=0&nvtid=0&copyid=0';
        }
    });

    $("#btnEdit").click(function(){
        var oVoucher= $('#tblVouchers').datagrid('getSelected');
        if(oVoucher==null || oVoucher.VoucherID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oVoucher.AuthorizedBy)!=0)
        {
            alert("Selected Voucher already approved!");
            return;
        }
        var SelectedRowIndex=$('#tblVouchers').datagrid('getRowIndex',oVoucher);
        var oVouchers= $('#tblVouchers').datagrid('getRows');
        sessionStorage.setItem("Vouchers", JSON.stringify(oVouchers));
        sessionStorage.setItem("SelectedRowIndexVoucher", SelectedRowIndex);
        sessionStorage.setItem("VoucherHeader", "Edit Voucher");
        var Operation = $('#tblVouchers').data('Operation');
        sessionStorage.setItem("Operation", Operation);
        sessionStorage.setItem("BackURL", window.location.href);
        var oClientSetting = $('#divVoucher').data('ClientSetting');
        if(parseInt(oClientSetting.Value)===13)
        {
            window.location.href =  sessionStorage.getItem('BaseAddress') +'/Voucher/ViewSingleCurrencyVoucher?buid='+parseInt(oVoucher.BUID)+'&id='+parseInt(oVoucher.VoucherID)+'&nvtid='+oVoucher.VoucherTypeID+'&copyid=0';
        }
        else if(parseInt(oClientSetting.Value)===14)
        {            
            window.location.href =  sessionStorage.getItem('BaseAddress') +'/Voucher/ViewMultiCurrencyVoucher?buid='+parseInt(oVoucher.BUID)+'&id='+parseInt(oVoucher.VoucherID)+'&nvtid='+oVoucher.VoucherTypeID+'&copyid=0';
        }
        
    });

    $("#btnCopy").click(function(){
        var oVoucher= $('#tblVouchers').datagrid('getSelected');
        if(oVoucher==null || oVoucher.VoucherID<=0)
        {
            alert("Please select a item from list!");
            return;
        }        
        var SelectedRowIndex=$('#tblVouchers').datagrid('getRowIndex',oVoucher);
        var oVouchers= $('#tblVouchers').datagrid('getRows');
        sessionStorage.setItem("Vouchers", JSON.stringify(oVouchers));
        sessionStorage.setItem("SelectedRowIndexVoucher", -1);
        sessionStorage.setItem("VoucherHeader", "Add Voucher");
        var Operation = $('#tblVouchers').data('Operation');
        sessionStorage.setItem("Operation", Operation);
        sessionStorage.setItem("BackURL", window.location.href);
        var oClientSetting = $('#divVoucher').data('ClientSetting');
        if(parseInt(oClientSetting.Value)===13)
        {
            window.location.href =  sessionStorage.getItem('BaseAddress') +'/Voucher/ViewSingleCurrencyVoucher?buid='+parseInt(oVoucher.BUID)+'&id=0&nvtid='+oVoucher.VoucherTypeID+'&copyid='+parseInt(oVoucher.VoucherID);
        }
        else if(parseInt(oClientSetting.Value)===14)
        {            
            window.location.href =  sessionStorage.getItem('BaseAddress') +'/Voucher/ViewMultiCurrencyVoucher?buid='+parseInt(oVoucher.BUID)+'&id=0&nvtid='+oVoucher.VoucherTypeID+'&copyid='+parseInt(oVoucher.VoucherID);
        }
        
    });

    $("#btnView").click(function(){
        var oVoucher= $('#tblVouchers').datagrid('getSelected');
        if(oVoucher==null || oVoucher.VoucherID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblVouchers').datagrid('getRowIndex',oVoucher);
        var oVouchers= $('#tblVouchers').datagrid('getRows');
        sessionStorage.setItem("Vouchers", JSON.stringify(oVouchers));
        sessionStorage.setItem("SelectedRowIndexVoucher", SelectedRowIndex);
        sessionStorage.setItem("VoucherHeader", "View Voucher");
        var Operation = $('#tblVouchers').data('Operation');
        sessionStorage.setItem("Operation", Operation);
        sessionStorage.setItem("BackURL", window.location.href);
        var oClientSetting = $('#divVoucher').data('ClientSetting');
        if(parseInt(oClientSetting.Value)===13)
        {
            window.location.href =  sessionStorage.getItem('BaseAddress') +'/Voucher/ViewSingleCurrencyVoucher?buid='+parseInt(oVoucher.BUID)+'&id='+oVoucher.VoucherID+'&nvtid='+oVoucher.VoucherTypeID+'&copyid=0';
        }
        else if(parseInt(oClientSetting.Value)===14)
        {
            window.location.href =  sessionStorage.getItem('BaseAddress') +'/Voucher/ViewMultiCurrencyVoucher?buid='+parseInt(oVoucher.BUID)+'&id='+oVoucher.VoucherID+'&nvtid='+oVoucher.VoucherTypeID+'&copyid=0';            
        }
    });

    $("#btnRefresh").click(function(){
        var oVouchers= $('#tblVouchers').datagrid('getRows');
        RefreshList(oVouchers);
    });

    $("#btnApproved").click(function(){
        var oVouchers=[];
        oVouchers = $('#tblVouchers').datagrid('getChecked');
        if(oVouchers.length<=0)
        {
            alert("Please select atleast one Voucher.");
            return;
        }
        else if(oVouchers.length == 1)
        {
            var nSelectedIndex = $('#tblVouchers').datagrid('getRowIndex', oVouchers[0]);
            if(oVouchers[0].AuthorizedBy != 0 )
            {
                alert("Sorry,This Voucher Already Approved.");
                return false;
            }
            var oTempVouchers= $('#tblVouchers').datagrid('getRows');
            sessionStorage.setItem("Vouchers", JSON.stringify(oTempVouchers));
            sessionStorage.setItem("SelectedRowIndexVoucher", nSelectedIndex);
            sessionStorage.setItem("VoucherHeader", "Approved Voucher");
            var Operation = $('#tblVouchers').data('Operation');
            sessionStorage.setItem("Operation", Operation);
            sessionStorage.setItem("BackURL", window.location.href);
            var oClientSetting = $('#divVoucher').data('ClientSetting');
            if(parseInt(oClientSetting.Value)===13)
            {
                window.location.href =  sessionStorage.getItem('BaseAddress') +'/Voucher/ViewSingleCurrencyVoucher?buid='+parseInt(oVouchers[0].BUID)+'&id='+oVouchers[0].VoucherID+'&nvtid=1&copyid=0';
            }
            else if(parseInt(oClientSetting.Value)===14)
            {                
                window.location.href =  sessionStorage.getItem('BaseAddress') +'/Voucher/ViewMultiCurrencyVoucher?buid='+parseInt(oVouchers[0].BUID)+'&id='+parseInt(oVouchers[0].VoucherID)+'&nvtid=1&copyid=0';
            }
            
        }
        else
        {
            var indexLists = [];
            var oVoucherLists = [];
            oVouchers = [];
            nSelectedIndex = 0;
            var oVoucherLists = $('#tblVouchers').datagrid('getChecked');
            for(var i=0;i<oVoucherLists.length;i++)
            {
                if(oVoucherLists[i].AuthorizedBy == 0)
                {
                    nSelectedIndex = $('#tblVouchers').datagrid('getRowIndex', oVoucherLists[i]);
                    indexLists.push(nSelectedIndex);
                    oVouchers.push(oVoucherLists[i]);
                }
            }
            if(oVouchers.length == 0)
            {
                alert("Your Selected Vouchers Already Approved.");
                return false;
            }
            if (!confirm("Confirm to Approved ?")) return false ;
            var oVoucher=RefreshObject(oVouchers);
            $.ajax({
                type: "POST",
                dataType: "json",
                url : sessionStorage.getItem('BaseAddress')+  "/Voucher/Approved",
                traditional: true,
                data:  JSON.stringify(oVoucher),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    oVouchers = jQuery.parseJSON(data);
                    if(oVouchers[0].ErrorMessage == "")
                    {
                        if (oVouchers.length>0) {
                            for(var i=oVouchers.length-1;i>=0;i--)
                            {
                                $('#tblVouchers').datagrid('deleteRow', indexLists[i]);
                            }
                            RefreshTotalAmount();
                            alert("Sucessfully Approved");
                        }
                    }
                    else {
                        alert(oVouchers[0].ErrorMessage);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }

            });
        }

    });

    $("#btnCommitInventoryEffect").click(function(){
        var oVouchers=[];
        oVouchers = $('#tblVouchers').datagrid('getChecked');
        if(oVouchers.length<=0)
        {
            alert("Please select atleast one Voucher.");
            return;
        }

        var indexLists = [];
        var oVoucherLists = [];
        oVouchers = [];
        nSelectedIndex = 0;
        var oVoucherLists = $('#tblVouchers').datagrid('getChecked');
        for(var i=0;i<oVoucherLists.length;i++)
        {
            if(parseInt(oVoucherLists[i].CounterVoucherID) === 0)
            {
                nSelectedIndex = $('#tblVouchers').datagrid('getRowIndex', oVoucherLists[i]);
                indexLists.push(nSelectedIndex);
                oVouchers.push(oVoucherLists[i]);
            }
        }
        if(oVouchers.length == 0)
        {
            alert("Your Selected Vouchers Already Commit Inventory Effect.");
            return false;
        }
        if (!confirm("Confirm to Commit Inventory Effect ?")) return false ;
        var oVoucher=RefreshObject(oVouchers);
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/Voucher/CommitInventoryEffect",
            traditional: true,
            data:  JSON.stringify(oVoucher),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oVouchers = jQuery.parseJSON(data);
                if(oVouchers[0].ErrorMessage == "")
                {
                    if (oVouchers.length>0) {
                        for(var i=oVouchers.length-1;i>=0;i--)
                        {
                            $('#tblVouchers').datagrid('deleteRow', indexLists[i]);
                        }
                        RefreshTotalAmount();
                        alert("Sucessfully Commit Inventory Effect");
                    }
                }
                else {
                    alert(oVouchers[0].ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });

    });

    $('#btnWaitForApproved').click(function () {
        var tsv= (new Date().getTime())/1000;
        $.ajax({
            type: "GET",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/Voucher/GetWaitForApproval",
            data: {ts : tsv},
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //
                var oVouchers = jQuery.parseJSON(data);
                if (oVouchers != null) {
                    if(oVouchers.length>0)
                    {
                        _oVouchers = oVouchers;
                        data={"total":""+oVouchers.length+"","rows":oVouchers};
                        $('#tblVouchers').datagrid('loadData',data);
                        RefreshTotalAmount();
                    }
                    else
                    {
                        alert("Data not found!!");
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });

    $('#btnWaitForInventoryEffect').click(function () {
        var oVoucher = { VoucherID:0 };
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/Voucher/GetWaitForInventoryEffect",
            data: JSON.stringify(oVoucher),
            contentType: "application/json; charset=utf-8",
            success: function (data) {                    //
                var oVouchers = jQuery.parseJSON(data);
                if (oVouchers != null) {
                    if(oVouchers.length>0)
                    {
                        _oVouchers = oVouchers;
                        data={"total":""+oVouchers.length+"","rows":oVouchers};
                        $('#tblVouchers').datagrid('loadData',data);
                        RefreshTotalAmount();
                    }
                    else
                    {
                        alert("Data not found!!");
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });

    $('#btnDelete').click(function(){
        var oVoucher= $('#tblVouchers').datagrid('getSelected');
        if(oVoucher==null || oVoucher.VoucherID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oVoucher.AuthorizedBy)!=0)
        {
            alert("Selected Voucher already approved!");
            return;
        }
        if (!confirm("Confirm to Delete ?")) return ;
        var SelectedRowIndex=$('#tblVouchers').datagrid('getRowIndex',oVoucher);
        $.ajax({
            type: "GET",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/Voucher/Delete",
            traditional: true,
            data:  { id: oVoucher.VoucherID },
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage == "Data Delete Successfully")
                {
                    alert("Data Delete Successfully");
                    $('#tblVouchers').datagrid('deleteRow',SelectedRowIndex);
                    RefreshTotalAmount();
                }
                else
                {
                    alert(sFeedBackMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    //Start Search
    function RefreshComboBoxControls()
    {
        var oApprovedUsers = $('#cboSrcApproveBy').data('ApprovedUsers');
        var oDateCompareOperatorObjs = $('#cboSrcVoucherDate').data('DateCompareOperatorObjs');
        var oAmountCompareOperatorObjs = $('#cboSrcVoucherAmount').data('AmountCompareOperatorObj');
        var oVoucherTypes = $('#cboSrcVoucherType').data('VoucherTypes');
        var oBusinessUnits = $('#cboSrcBusinessUnit').data('BusinessUnits');
        var oCurrencys = $('#cboSrcCurrency').data('Currencys');

        $("#cboSrcApproveBy").icsLoadCombo({ List: oApprovedUsers, OptionValue: "UserID", DisplayText: "UserName"});
        $("#cboSrcVoucherDate").icsLoadCombo({ List: oDateCompareOperatorObjs, OptionValue: "id", DisplayText: "Value"});
        $("#cboSrcVoucherAmount").icsLoadCombo({ List: oAmountCompareOperatorObjs, OptionValue: "id", DisplayText: "Value"});
        $("#cboSrcVoucherType").icsLoadCombo({ List: oVoucherTypes, OptionValue: "VoucherTypeID", DisplayText: "VoucherName"});
        $("#cboSrcBusinessUnit").icsLoadCombo({ List: oBusinessUnits, OptionValue: "BusinessUnitID", DisplayText: "Name"});
        $("#cboSrcCurrency").icsLoadCombo({ List: oCurrencys, OptionValue: "CurrencyID", DisplayText: "NameSymbol"});
    }

    function ValidateSearch()
    {
        var sVoucherNo =$.trim($('#txtSrcVoucherNo').val());
        var nVoucherType = parseInt($('#cboSrcVoucherType').val());
        var nApproveBy = parseInt($('#cboSrcApproveBy').val());
        var nBusinessUnit = parseInt($('#cboSrcBusinessUnit').val());
        var nCurrency = parseInt($('#cboSrcCurrency').val());

        var nVoucherDate = parseInt($('#cboSrcVoucherDate').val());
        if(nVoucherDate===1 || nVoucherDate===2 || nVoucherDate===3 || nVoucherDate===4)
        {
            var sVoucherStartDate   = $('#txtSrcVoucherStartDate').datebox('getValue');
            if(sVoucherStartDate===null || sVoucherStartDate==="")
            {
                alert("Please select Voucher start date!");
                $('#txtSrcVoucherStartDate').focus();
                return false;
            }
        }
        if(nVoucherDate===5 || nVoucherDate===6)
        {
            var sVoucherStartDate   = $('#txtSrcVoucherStartDate').datebox('getValue');
            var sVoucherEndDate   = $('#txtSrcVoucherEndDate').datebox('getValue');
            if(sVoucherStartDate===null || sVoucherStartDate==="")
            {
                alert("Please select Voucher start date!");
                $('#txtSrcVoucherStartDate').focus();
                return false;
            }
            if(sVoucherEndDate===null || sVoucherEndDate==="")
            {
                alert("Please select Voucher end date!");
                $('#txtSrcVoucherEndDate').focus();
                return false;
            }
            if(new Date(sVoucherStartDate) > new Date(sVoucherEndDate))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtSrcVoucherStartDate').focus();
                return false;
            }
        }

        var nVoucherAmount = parseInt($('#cboSrcVoucherAmount').val());
        if(nVoucherAmount===1 || nVoucherAmount===2 || nVoucherAmount===3 || nVoucherAmount===4)
        {
            var sVoucherAmountStart   = $.trim($('#txtSrcVoucherAmountStart').val());
            if(sVoucherAmountStart===null || sVoucherAmountStart==="")
            {
                alert("Please enter Voucher start Amount!");
                $('#txtSrcVoucherAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sVoucherAmountStart)<=0)
            {
                alert("Please enter Voucher start Amount!");
                $('#txtSrcVoucherAmountStart').focus();
                return false;
            }
        }
        if(nVoucherAmount===5 || nVoucherAmount===6)
        {
            var sVoucherAmountStart = $.trim($('#txtSrcVoucherAmountStart').val());
            if(sVoucherAmountStart===null || sVoucherAmountStart==="")
            {
                alert("Please enter Voucher start Amount!");
                $('#txtSrcVoucherAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sVoucherAmountStart)<=0)
            {
                alert("Please enter Voucher start Amount!");
                $('#txtSrcVoucherAmountStart').focus();
                return false;
            }

            var sVoucherAmountEnd = $.trim($('#txtSrcVoucherAmountEnd').val());
            if(sVoucherAmountEnd===null || sVoucherAmountEnd==="")
            {
                alert("Please enter Voucher end Amount!");
                $('#txtSrcVoucherAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sVoucherAmountEnd)<=0)
            {
                alert("Please enter Voucher end Amount!");
                $('#txtSrcVoucherAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sVoucherAmountStart) >= icsRemoveComma(sVoucherAmountEnd))
            {
                alert("Start amount must be smallar than end amount!");
                $('#txtSrcVoucherAmountStart').focus();
                return false;
            }
        }
        var oAccountHeads = $('#txtSrcAccountHead').data('AccountHeads');
        var sVoucherNarration =$.trim($('#txtSrcVoucherNarration').val());
        var sSubledger =$.trim($('#txtSubledger').val());
        var sBatchNo =$.trim($('#txtBatchNo').val());
        if(sVoucherNarration===null){ sVoucherNarration = ""; }
        if(sSubledger===null){ sSubledger = ""; }
        if(sBatchNo===null){ sBatchNo = ""; }

        if(sVoucherNo  ==="" && nVoucherType ===0 && nApproveBy===0 && nBusinessUnit===0 && nCurrency===0 && nVoucherDate===0 && nVoucherAmount===0 && oAccountHeads.length<=0 && sVoucherNarration==="" && sSubledger ==="" && sBatchNo ==="")
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        return true;
    }

    $('#btnAdvSearch').click(function(){
        var Operation = $('#tblVouchers').data('Operation');
        var nBatchID = parseInt($('#cboVoucherBatch').val());
        if(nBatchID>0)
        {
            var oVoucherBatch={
                VoucherBatchID : nBatchID,
                ErrorMessage:Operation
            };

            $.ajax({
                type: "POST",
                dataType: "json",
                url : sessionStorage.getItem('BaseAddress')+  "/Voucher/GetsByBatch",
                data: JSON.stringify(oVoucherBatch),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oVouchers = jQuery.parseJSON(data);
                    if (oVouchers != null) {
                        if(oVouchers.length>0)
                        {
                            RefreshList(oVouchers);
                        }
                        else
                        {
                            alert("Data not found!!");
                        }
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
        else
        {
            $("#winAdvanceSearch").icsWindow('open', "Advance Search");
            $("#winAdvanceSearch input").not("input[type='button']").val("");
            $('#txtSrcVoucherStartDate').datebox('setValue', icsdateformat(new Date()));
            $('#txtSrcVoucherEndDate').datebox('setValue', icsdateformat(new Date()));
            $('#txtSrcVoucherAmountStart').val('0.00');
            $('#txtSrcVoucherAmountEnd').val('0.00');
            $('#txtSrcVoucherAmountStart').prop("disabled", true);
            $('#txtSrcVoucherAmountEnd').prop("disabled", true);
            $('#txtSrcAccountHead').data('AccountHeads', []);
            RefreshComboBoxControls();
        }
    });

    $('#btnSrcClose').click(function(e){
        $("#winAdvanceSearch").icsWindow('close');
    });

    $('#cboSrcVoucherDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboSrcVoucherDate').val());
        if(nCompareOperator===0)
        {
            $('#txtSrcVoucherStartDate').datebox({ disabled : true });
            $('#txtSrcVoucherEndDate').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtSrcVoucherStartDate').datebox({ disabled : false });
            $('#txtSrcVoucherEndDate').datebox({ disabled : true });
        }
        else
        {
            $('#txtSrcVoucherStartDate').datebox({ disabled : false });
            $('#txtSrcVoucherEndDate').datebox({ disabled : false });
        }
        $('#txtSrcVoucherStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtSrcVoucherEndDate').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboSrcVoucherAmount').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboSrcVoucherAmount').val());
        if(nCompareOperator===0)
        {
            $('#txtSrcVoucherAmountStart').prop("disabled", true);
            $('#txtSrcVoucherAmountEnd').prop("disabled", true);
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtSrcVoucherAmountStart').prop("disabled", false);
            $('#txtSrcVoucherAmountEnd').prop("disabled", true);
        }
        else
        {
            $('#txtSrcVoucherAmountStart').prop("disabled", false);
            $('#txtSrcVoucherAmountEnd').prop("disabled", false);
        }
        $('#txtSrcVoucherAmountStart').val('0.00');
        $('#txtSrcVoucherAmountEnd').val('0.00');
    });

    $('#btnSrcReset').click(function(e){
        $("#winAdvanceSearch input").not("input[type='button']").val("");
        $('#cboSrcVoucherDate').val(0);
        $('#txtSrcVoucherStartDate').datebox({ disabled : true });
        $('#txtSrcVoucherEndDate').datebox({ disabled : true });
        $('#txtSrcVoucherStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtSrcVoucherEndDate').datebox('setValue', icsdateformat(new Date()));

        $('#cboSrcVoucherAmount').val(0);
        $('#txtSrcVoucherAmountStart').prop("disabled", true);
        $('#txtSrcVoucherAmountEnd').prop("disabled", true);
        $('#txtSrcVoucherAmountStart').val('0.00');
        $('#txtSrcVoucherAmountEnd').val('0.00');

        $('#cboSrcVoucherType').val(0);
        $('#cboSrcApproveBy').val(0);
        $('#cboSrcBusinessUnit').val(0);
        $('#cboSrcCurrency').val(0);
        $('#txtSrcAccountHead').data('AccountHeads', []);
        $("#txtSrcAccountHead").removeClass("fontColorOfPickItem");
    });

    $('#btnSearch').click(function(e){
        if(!ValidateSearch()) return;

        var sVoucherNo =$.trim($('#txtSrcVoucherNo').val());
        var nVoucherType = parseInt($('#cboSrcVoucherType').val());
        var nApproveBy = parseInt($('#cboSrcApproveBy').val());
        var nBusinessUnit = parseInt($('#cboSrcBusinessUnit').val());
        var nCurrency = parseInt($('#cboSrcCurrency').val());

        var nVoucherDate = parseInt($('#cboSrcVoucherDate').val());
        var sVoucherStartDate   = $('#txtSrcVoucherStartDate').datebox('getValue');
        var sVoucherEndDate   = $('#txtSrcVoucherEndDate').datebox('getValue');

        var nVoucherAmount = parseInt($('#cboSrcVoucherAmount').val());
        var sVoucherAmountStart = icsRemoveComma($.trim($('#txtSrcVoucherAmountStart').val()));
        var sVoucherAmountEnd = icsRemoveComma($.trim($('#txtSrcVoucherAmountEnd').val()));

        var oAccountHeads = $('#txtSrcAccountHead').data('AccountHeads');
        var sVoucherNarration = $.trim($('#txtSrcVoucherNarration').val());
        var sSubledger = $.trim($('#txtSubledger').val());
        var sBatchNo = $.trim($('#txtBatchNo').val());
        if(sVoucherNarration===null){ sVoucherNarration = ""; }
        if(sSubledger===null){ sSubledger = ""; }
        if(sBatchNo===null){ sBatchNo = ""; }

        if(oAccountHeads===null) {oAccountHeads = []; }
        var sAccountHeadIDs =ICS_PropertyConcatation(oAccountHeads, 'AccountHeadID');

        var sSearchingData  =  nVoucherDate+'~';
        sSearchingData = sSearchingData + sVoucherStartDate+'~';
        sSearchingData = sSearchingData + sVoucherEndDate+'~';
        sSearchingData = sSearchingData + nVoucherAmount+'~';
        sSearchingData = sSearchingData + sVoucherAmountStart+'~';
        sSearchingData = sSearchingData + sVoucherAmountEnd+'~';
        sSearchingData = sSearchingData + sAccountHeadIDs+'~';
        sSearchingData = sSearchingData + $('#tblVouchers').data('Operation')+'~';
        sSearchingData = sSearchingData + sSubledger+'~';
        sSearchingData = sSearchingData + sBatchNo;

        var oVoucher = {
            VoucherNo : sVoucherNo,
            VoucherTypeID : nVoucherType,
            AuthorizedBy : nApproveBy,
            BUID : nBusinessUnit,
            CurrencyID : nCurrency,
            Narration : sVoucherNarration,
            ReferenceNote : sSearchingData
        };

        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: sessionStorage.getItem("BaseAddress")+  "/Voucher/AdvanceSearch",
            data:  JSON.stringify(oVoucher),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  oVouchers = data;
                if (oVouchers != null) {
                    if(oVouchers.length>0)
                    {
                        if(oVouchers[0].ErrorMessage=="")
                        {
                            RefreshList(oVouchers);
                            $("#winAdvanceSearch").icsWindow('close');
                        }
                        else
                        {
                            alert(oVouchers[0].ErrorMessage);
                        }
                    }
                    else
                    {
                        alert("Data not found!!");
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    //Start Account Head Pick
    function PickAccountHead(sAccountHeadName)
    {
        var oChartsOfAccount = {  AccountHeadCodeName : sAccountHeadName };
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oChartsOfAccount,
            ControllerName: "ChartsOfAccount",
            ActionName: "GetsByCodeOrName",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].AccountHeadID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "AccountCode", title: "Account Code", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "AccountHeadName", title: "Account Head Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ParentHeadName", title: "Sub Group", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ComponentType", title: "Component", width: 100, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winAccountHeadPicker',
                        winclass: 'clsAccountHeadPicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblAccountHeadPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'NameCode',
                        windowTittle: 'AccountHead List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });
    }

    $("#txtSrcAccountHead").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($('#txtSrcAccountHead').val()==null || $('#txtSrcAccountHead').val()=="")
            {
                alert("Please Type Account Head Bane and Press Enter.");
                $('#txtSrcAccountHead').focus();
                return;
            }
            PickAccountHead( $.trim($('#txtSrcAccountHead').val()));
        }
    });

    $("#btnSrcAccountHeadPicker").click(function (){
        if($('#txtSrcAccountHead').val()==null || $('#txtSrcAccountHead').val()=="")
        {
            alert("Please Type Account Head Bane and Press Enter.");
            $('#txtSrcAccountHead').focus();
            return;
        }
        PickAccountHead( $.trim($('#txtSrcAccountHead').val()));
    });

    $('#txtSrcAccountHead').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtSrcAccountHead").removeClass("fontColorOfPickItem");
            $('#txtSrcAccountHead').data('AccountHeads', []);
        }
    });

    $('#btnSrcAccountHeadClear').click(function(e){
        $("#txtSrcAccountHead").val("");
        $('#txtSrcAccountHead').data('AccountHeads', []);
        $("#txtSrcAccountHead").removeClass("fontColorOfPickItem");
    });
    //End Account Head Picker

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid == 'winAccountHeadPicker')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0)
            {
                $('#txtSrcAccountHead').val(oreturnobjs.length+"'s AccountHeads seleted");
                $('#txtSrcAccountHead').addClass('fontColorOfPickItem');
                $('#txtSrcAccountHead').data('AccountHeads', oreturnobjs);
            }
        }
    }

    function updateProgress() {
        var value =$('#progbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progbarParent").hide();
    }

    //end Search

    function RowClick(index,row){

        var listItems = "";
        var Items = row.BUIDCodeNames.split('~');


        listItems += "<option value=0>" + "--Select BusinessUnit--" + "</option>";
        for (var i = 0; i < Items.length; i++) {
            listItems += "<option value='" + Items[i] + "'>" + Items[++i] + "</option>";
        }
        $('#cboBusinessUnits').html(listItems);
        $('#cboBusinessUnits').val(0);
    }

    function RefreshList(oVouchers)
    {
        var Operation = $('#tblVouchers').data('Operation');
        var sVoucherButton = sessionStorage.getItem("VoucherButton");
        if(Operation===null || Operation===undefined ||Operation==='' ){return;}
        if(Operation==='Approved' && sVoucherButton==="Approved"){
            var oTempVouchers=[]
            for(var i=0;i<oVouchers.length;i++){
                if(oVouchers[i].AuthorizedBy===0){
                    oTempVouchers.push(oVouchers[i]);
                }
            }
            oVouchers=[];
            oVouchers=oTempVouchers;
        }
        var data={"total":""+oVouchers.length+"","rows":oVouchers};
        $('#tblVouchers').datagrid('loadData',data);
        $('#tblVouchers').datagrid({selectOnCheck:false, checkOnSelect:true});
        $('#tblVouchers').datagrid({onClickRow:function (index,row){return RowClick(index,row);}});
        RefreshTotalAmount();

        var nIndex =sessionStorage.getItem("SelectedRowIndexVoucher");
        if(Operation!='Approved'){
            if(nIndex!=null)
            {
                $('#tblVouchers').datagrid('selectRow', nIndex);
            }
        }
        else
        {
            if(sVoucherButton!="Approved")
            {
                if(nIndex!=null)
                {
                    $('#tblVouchers').datagrid('selectRow', nIndex);
                }
            }
        }
    }

    function RefreshTotalAmount()
    {
        var oVouchers = $('#tblVouchers').datagrid('getRows');
        var nTotalAmount = 0;
        if(oVouchers.length >0)
        {
            for(var i =0;i<oVouchers.length;i++)
            {
                nTotalAmount  = nTotalAmount + parseFloat(oVouchers[i].TotalAmount);
            }
        }

        var FooterField=[];
        var obj=new Object();
        obj['VoucherNo'] = "Grand Total:";
        obj['VoucherAmountInString'] = icsFormatPrice(parseFloat(nTotalAmount), null, 2); 
        FooterField.push(obj);
        $('#tblVouchers').datagrid('reloadFooter',FooterField);
    }

    $('#btnPreview').click(function(){
        var oVouchers=[];
        oVouchers = $('#tblVouchers').datagrid('getChecked');
        if(oVouchers.length<=0)
        {
            alert("Please select atleast one Voucher.");
            return;
        }
        else if(oVouchers.length == 1)
        {
            window.open(sessionStorage.getItem('BaseAddress')+'/Voucher/PrintVoucher?id=' + oVouchers[0].VoucherID+'&buid=0', "_blank");
        }
        else
        {
            var ids =ICS_PropertyConcatation(oVouchers, 'VoucherID');
            window.open(sessionStorage.getItem('BaseAddress')+'/Voucher/PrintMultiVoucher?ids='+ ids, "_blank");
        }
    });

    $('#btnPrint').click(function(){
        var oVouchers= $('#tblVouchers').datagrid('getRows');
        var ids ="";
        if(oVouchers.length >0)
        {

            for(var i =0;i<oVouchers.length;i++)
            {
                ids =ids+oVouchers[i].VoucherID+",";
            }
            ids= ids.substring(0, ids.length - 1);
        }
        else{
            return;
        }
        window.open(sessionStorage.getItem('BaseAddress') + '/Voucher/PrintVouchers?sIDs='+ids, "_blank");
    });

    $('#btnPrintXL').click(function(){
        var oVouchers= $('#tblVouchers').datagrid('getRows');
        var ids ="";
        if(oVouchers.length >0)
        {

            for(var i =0;i<oVouchers.length;i++)
            {
                ids =ids+oVouchers[i].VoucherID+",";
            }
            ids= ids.substring(0, ids.length - 1);
        }
        else{
            return;
        }
        window.open(sessionStorage.getItem('BaseAddress') + '/Voucher/PrintVouchersInXL?sIDs='+ids, "_blank");
    });

    $('#txtSearchByVoucherNo').keyup(function (e) {
        var txtSearchByVoucherNo = document.getElementById('txtSearchByVoucherNo').value;
        var oSearchedData = [];  var sTempNo="";
        var oCurrentList = $('#tblVouchers').datagrid('getRows');
        if (e.which == 8)
        {
            oCurrentList = _oVouchers;
        }
        for(i=0;i<oCurrentList.length;i++){
            sTempNo=oCurrentList[i].VoucherNo;
            var n=sTempNo.toUpperCase().indexOf(txtSearchByVoucherNo.toUpperCase());
            if(n!=-1)
            {
                oSearchedData.push(oCurrentList[i]);
            }
        }
        RefreshList(oSearchedData);
        $('#txtSearchByVoucherNo').focus();
    });

    //start voucher View
    function FormatStyle(value,row,index)
    {
        var s = "";
        if(row.VoucherID > 0)
        {
            s = '<label id="lblOpening~'+index+'" style="color:Blue;cursor:pointer;text-decoration:underline;" onclick="RefreshVoucherData('+row.VoucherID+')">'+value+'</label>';
        }
        else
        {
            s = '<label>'+value+'</label>';
        }
        return s;
    }
    function RefreshVoucherData(nVoucherID){
        $.icsDataGet({
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: {VoucherID:nVoucherID},
            ControllerName: 'Voucher',
            ActionName: 'GetSingleVoucherDetails',
            IsWinClose: false
        },function (response){
            if(response.status && response.obj!=null){
                if(response.obj.VoucherID>0){
                    debugger;
                    sessionStorage.setItem("Voucher",JSON.stringify(response.obj));
                    var oVoucher =response.obj;
                    var oCurrencyes =oVoucher.LstCurrency;
                    var oCompany =oVoucher.Company;
                    var oVDObjs = oVoucher.VDObjs;
                    $(".lblBaseCurrencySymbol").text("("+oVoucher.BaseCUSymbol+")");
                    RefreshDetailList(oVDObjs);
                    RefreshSummery(oVDObjs);
                    InitializeEventClick();
                    InitializeEventHover();
                    RefreshControl();
                    $("#winVoucher").icsWindow('open');
                    sessionStorage.setItem("VoucherWindow", 'Open');
                }
            }
        });

    }
    function RefreshDetailList(oVDObjs)
    {
        //VoucherDetail = 0
        //CostCenter = 1
        //BillReference = 2
        //VoucherReference = 3
        //InventoryReference = 4
        //Order Reference= 7
        //SLOrder Reference= 8
        var table = document.getElementById('tblVoucherDetail');
        $('#tblVoucherDetail').empty();
        for(var i=0; i<oVDObjs.length; i++)
        {
            var row = table.insertRow(i);
            if(oVDObjs[i].ObjTypeInt==0)
            {
                var cellAccountHead = row.insertCell(0);
                cellAccountHead.width= "50%";
                cellAccountHead.innerHTML =oVDObjs[i].AHName + " ["+oVDObjs[i].AHCode+"]";

                var cellNarration = row.insertCell(1);
                cellNarration.colSpan= 2;
                cellNarration.width= "30%";
                cellNarration.innerHTML = oVDObjs[i].Detail;


                var cellDebitAmount = row.insertCell(2);
                cellDebitAmount.width= "10%";
                cellDebitAmount.style.textAlign = "right";
                cellDebitAmount.innerHTML =  formatPrice(oVDObjs[i].DrAmount,null);

                var cellCreditAmount = row.insertCell(3);
                cellCreditAmount.width= "10%";
                cellCreditAmount.style.textAlign = "right";
                cellCreditAmount.innerHTML = formatPrice(oVDObjs[i].CrAmount,null);
            }
            if(oVDObjs[i].ObjTypeInt==1)
            {
                var cellSubLedgerName = row.insertCell(0);
                cellSubLedgerName.width= "50%";
                cellSubLedgerName.innerHTML = oVDObjs[i].CFormat;

                var cellSubLedgerNarration = row.insertCell(1);
                cellSubLedgerNarration.width= "20%";
                cellSubLedgerNarration.innerHTML = oVDObjs[i].Detail;

                var cellSubLedgerAmount = row.insertCell(2);
                cellSubLedgerAmount.width= "10%";
                cellSubLedgerAmount.style.textAlign = "right";
                cellSubLedgerAmount.innerHTML = formatPrice(oVDObjs[i].CAmount);

                var cellDebitAmount = row.insertCell(3);
                cellDebitAmount.width= "10%";
                cellDebitAmount.innerHTML = "";

                var cellCreditAmount = row.insertCell(4);
                cellCreditAmount.width= "10%";
                cellCreditAmount.innerHTML =  "";
            }
            if(oVDObjs[i].ObjTypeInt==2 || oVDObjs[i].ObjTypeInt==5)
            {
                var cellBillNumber = row.insertCell(0);
                cellBillNumber.width= "50%";
                cellBillNumber.innerHTML = oVDObjs[i].CFormat;

                var cellBillNarration = row.insertCell(1);
                cellBillNarration.width= "20%";
                cellBillNarration.innerHTML = oVDObjs[i].Detail;

                var cellBillAmount = row.insertCell(2);
                cellBillAmount.width= "10%";
                cellBillAmount.style.textAlign = "right";
                cellBillAmount.innerHTML = formatPrice(oVDObjs[i].CAmount);

                var cellDebitAmount = row.insertCell(3);
                cellDebitAmount.width= "10%";
                cellDebitAmount.innerHTML = "";

                var cellCreditAmount = row.insertCell(4);
                cellCreditAmount.width= "10%";
                cellCreditAmount.innerHTML =  "";
            }
            if(oVDObjs[i].ObjTypeInt==3 || oVDObjs[i].ObjTypeInt==6)
            {
                var cellChequeNumber = row.insertCell(0);
                cellChequeNumber.width= "50%";
                cellChequeNumber.innerHTML = oVDObjs[i].CFormat;

                var cellChequeNarration = row.insertCell(1);
                cellChequeNarration.width= "20%";
                cellChequeNarration.innerHTML = oVDObjs[i].Detail;

                var cellChequeAmount = row.insertCell(2);
                cellChequeAmount.width= "10%";
                cellChequeAmount.style.textAlign = "right";
                cellChequeAmount.innerHTML = formatPrice(oVDObjs[i].CAmount);

                var cellDebitAmount = row.insertCell(3);
                cellDebitAmount.width= "10%";
                cellDebitAmount.innerHTML = "";

                var cellCreditAmount = row.insertCell(4);
                cellCreditAmount.width= "10%";
                cellCreditAmount.innerHTML =  "";
            }
            if(oVDObjs[i].ObjTypeInt==4)
            {
                var cellInventoryItem = row.insertCell(0);
                cellInventoryItem.colSpan=2;
                cellInventoryItem.width= "70%";
                cellInventoryItem.innerHTML = oVDObjs[i].CFormat;

                var cellChequeAmount = row.insertCell(1);
                cellChequeAmount.width= "10%";
                cellChequeAmount.style.textAlign = "right";
                cellChequeAmount.innerHTML = formatPrice(oVDObjs[i].CAmount);

                var cellDebitAmount = row.insertCell(2);
                cellDebitAmount.width= "10%";
                cellDebitAmount.innerHTML = "";

                var cellCreditAmount = row.insertCell(3);
                cellCreditAmount.width= "10%";
                cellCreditAmount.innerHTML =  "";
            }
            if(oVDObjs[i].ObjTypeInt === 7 || oVDObjs[i].ObjTypeInt === 8)//Order Reference= 7 //SLOrder Reference= 7
            {
                var cellInventoryItem = row.insertCell(0);
                cellInventoryItem.colSpan=2;
                cellInventoryItem.width= "70%";
                cellInventoryItem.innerHTML = oVDObjs[i].CFormat;

                var cellChequeAmount = row.insertCell(1);
                cellChequeAmount.width= "10%";
                cellChequeAmount.style.textAlign = "right";
                cellChequeAmount.innerHTML = formatPrice(oVDObjs[i].Amount);

                var cellDebitAmount = row.insertCell(2);
                cellDebitAmount.width= "10%";
                cellDebitAmount.innerHTML = "";

                var cellCreditAmount = row.insertCell(3);
                cellCreditAmount.width= "10%";
                cellCreditAmount.innerHTML =  "";
            }
        }
    }
    function RefreshSummery(oVDObjs)
    {
        var nTotalDebitAmount=0; var nTotalCreditAmount=0;
        if(oVDObjs==null)oVDObjs=[];
        for(var i=0; i<oVDObjs.length; i++)
        {
            nTotalDebitAmount=nTotalDebitAmount+ parseFloat(oVDObjs[i].DrAmount)
            nTotalCreditAmount=nTotalCreditAmount+parseFloat(oVDObjs[i].CrAmount);
        }
        document.getElementById('lblTotalDebitAmount').innerHTML =formatPrice(nTotalDebitAmount, null) ;
        document.getElementById('lblTotalCreditAmount').innerHTML =formatPrice(nTotalCreditAmount, null);
    }
    function InitializeEventClick()
    {
        $("#tblVoucherDetail tr").click(function() {
            ResetAllRowsClick();
            $(this).addClass("highlight");
            $(this).css("cursor","pointer");
        });
    }
    function ResetAllRowsClick()
    {
        var tblVoucherDetail=document.getElementById("tblVoucherDetail");
        if(tblVoucherDetail.rows!=null)
        {
            for(var i=0; i<tblVoucherDetail.rows.length; i++)
            {
                $('#tblVoucherDetail tr').eq(i).removeClass("highlight");
                $('#tblVoucherDetail tr').eq(i).removeClass("highlighthover");
            }
        }
    }
    function InitializeEventHover()
    {
        $("#tblVoucherDetail tr").hover(function() {
            ResetAllRowsHover();
            $(this).addClass("highlighthover");
            $(this).css("cursor","pointer");
        });
    }
    function ResetAllRowsHover()
    {
        var tblVoucherDetail=document.getElementById("tblVoucherDetail");
        if(tblVoucherDetail.rows!=null)
        {
            for(var i=0; i<tblVoucherDetail.rows.length; i++)
            {
                $('#tblVoucherDetail tr').eq(i).removeClass("highlighthover");
            }
        }
    }
    function RefreshControl()
    {
        var oVoucher=jQuery.parseJSON(sessionStorage.getItem("Voucher"));
        $("#lblHeaderName").text('View Voucher');
        $("#btnApprove").hide();

        $('#txtVoucherType').val(oVoucher.VoucherName)
        $('#txtVoucherDate').val(oVoucher.VoucherDateAsString)
        $("#txtBusinessUnit").val(oVoucher.BUShortNameCode);
        $("#txtVoucherNo").val(oVoucher.VoucherNo);
        $('#txtCurrency').val(oVoucher.CurrencyNameSymbol);
        $('#txtConversionRate').val(oVoucher.CurrencyConversionRate);
        $("#txtNarration").val(oVoucher.Narration);
        CalculateTotalSummary();
    }
    function CalculateTotalSummary()
    {
        debugger;
        var oVoucher=jQuery.parseJSON(sessionStorage.getItem("Voucher"));
        var nTotalDebitAmount=0;
        var nTotalCreditAmount=0;
        var oVDObjs = oVoucher.VDObjs;
        if(oVDObjs!=null)
        {
            for(var i=0; i<oVDObjs.length;i++)
            {

                nTotalDebitAmount=nTotalDebitAmount+ parseFloat(oVDObjs[i].DrAmount)
                nTotalCreditAmount=nTotalCreditAmount+parseFloat(oVDObjs[i].CrAmount);

            }
        }
        document.getElementById('lblTotalDebitAmount').innerHTML =formatPrice(nTotalDebitAmount, null) ;
        document.getElementById('lblTotalCreditAmount').innerHTML =formatPrice(nTotalCreditAmount, null);
    }
    $('#btnPrintVoucher').click(function(){
        var oVoucher=jQuery.parseJSON(sessionStorage.getItem("Voucher"));
        window.open(sessionStorage.getItem('BaseAddress')+'/Voucher/PrintVoucher?id=' + oVoucher.VoucherID+'&buid=0', "_blank");
    });
    $("#btnCloseVoucher").click(function (){
        $("#winVoucher").icsWindow('close');
        sessionStorage.setItem("VoucherWindow", 'Close');
    });
    //End voucher View
</script>
    
<style type="text/css">
    .tablebordaer {
        border: 1px solid black;
    }

    #tblVoucherDetail td {
        border-left: 1px solid #D8D8D8;
        border-bottom: 1px solid #D8D8D8;
    }

    #tblVoucherDetailHeader td {
        border-left: 1px solid black;
    }

    .highlight {
        background-color: #CFB53B;
        color: #fff;
    }

    .highlighthover {
        background-color: #FAE794;
        color: #000;
    }
</style>
