@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ESimSol.BusinessObjects.ImportRegister
<div class="menu-main-collection-table" ng-app="ImportRegisterAPP">
    <div ng-controller="ImportRegisterCtrl" class="form-horizontal regionImportRegister">
        @*<div class="panel-header" style="height:28px; text-align:center;"><label style="text-decoration:underline; text-decoration-style:double">Searching Citeria</label> </div>*@
        <button type="button" class="btn btn-info" aria-label="Left Align" ng-click="AdvanceSearch()"> <span class="glyphicon glyphicon-search" aria-hidden="true"> Advance Search</span> </button>
        <button type="button" class="btn btn-success" aria-label="Left Align" ng-click="Excel()"> <span class="glyphicon glyphicon-download-alt" aria-hidden="true"> Excel</span> </button>
        <div ui-grid="gridOptions" ui-grid-selection class="grid-angular"></div>
    </div>


</div>

<style type="text/css">
    .grid-angular {
        width: 99%;
        height: 530px;
    }
    .panel-header {
        background: #EFF5FF; /*linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%);*/
    }
    ::-webkit-input-placeholder {
        font-size: 10px;
    }

    .form-horizontal .control-label {
        /*padding-top: 3px;*/
    }

    .regionImportRegister .form-control {
        /*height: 26px;*/
        /*padding: 0px 6px;*/
        font-size: 12px;
    }

    .regionImportRegister .col-md-12 {
        width: 100%;
        /*padding-right: 3px;
        padding-left: 3px;
        margin-bottom: 3px;*/
    }

    .rowPadding {
        padding-top: 4px;
    }

    .DropDownMinHeight {
        min-height: 22px;
    }

    .regionImportRegister .col-md-1 {
        width: 10%;
        /*padding-right: 5px;
        padding-left: 5px;*/
    }

    .regionImportRegister .col-md-1 {
        width: 15%;
        /*padding-right: 5px;
        padding-left: 5px;*/
    }

    .regionImportRegister .col-md-3 {
        width: 23.3%;
        /*padding-right: 5px;
        padding-left: 5px;*/
    }

    .cancelButton {
        width: 10%;
        background-color: red;
        color: white;
        font-weight: bold;
        border: 0px solid red;
    }

    .okButton {
        width: 10%;
        background-color: green;
        color: white;
        font-weight: bold;
        border: 1px solid green;
    }

    .cancelButtonRight {
        width: 9%;
        background-color: red;
        color: white;
        font-weight: bold;
        border: 0px solid red;
    }

    .okButtonRight {
        width: 9%;
        float: right;
        background-color: green;
        color: white;
        font-weight: bold;
        border: 1px solid green;
    }

    .regionImportRegister .col-md-4 {
        width: 30%;
        /*padding-right: 5px;*/
        padding-left: 5px;
    }

    .regionImportRegister .col-md-5 {
        width: 37%;
        padding-left: 0px;
    }

    .regionImportRegister .col-md-6 {
        width: 50%;
        padding-right: 0px;
        padding-left: 0px;
    }

    .regionImportRegister .col-md-9 {
        width: 66.4%;
        /*padding-right: 5px;
        padding-left: 5px;*/
    }

    .regionImportRegister .col-md-2 {
        width: 16%;
        /*padding-right: 5px;
        padding-left: 5px;*/
    }

    .regionImportRegister .col-md-10 {
        width: 83%;
        /*padding-right: 5px;
        padding-left: 5px;*/
    }

    .regionImportRegister .col-md-11 {
        width: 90%;
        /*padding-right: 5px;
        padding-left: 5px;*/
    }

    .regionImportRegister .col-md-7 {
        width: 56.5%;
        /*padding-right: 5px;
        padding-left: 5px;*/
    }

    .regionImportRegister .col-md-8 {
        width: 69%;
        /*padding-right: 5px;
        padding-left: 5px;*/
    }

    .regionImportRegister .btn-sm {
        /*padding: 3px 10px;*/
    }

    .regionImportRegister .input-group-addon {
        /*padding: 4px 8px;*/
    }
</style>

<script type="text/javascript">
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    var oImportRegister =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var oImportRegisters =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ImportRegisters));
    var oInvoiceTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.InvoiceTypes));
    var oProductTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ProductTypes));
    var nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
    var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
    var sSearchString = "";

    var ImportRegisterModule = angular.module('ImportRegisterAPP', ['ngAnimate', 'ui.bootstrap', 'ui.grid', 'ui.grid.selection', 'ui.grid.edit','ms.service']);
    ImportRegisterModule.controller('ImportRegisterCtrl', function ($scope, $http, $uibModal, $log, uiGridConstants, msModal, userSession, advanceSearch) {
        debugger;
        $('.date-container').datepicker({
            format: "dd M yyyy",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
        });
        //---------Load Combo--------------
        $scope.CompareOperators = oCompareOperators;
        $scope.InvoiceTypes = oInvoiceTypes;
        $scope.ProductTypes = oProductTypes;
        //------------------------------
        $scope.gridOptions= {
            multiSelect: false,
            enableFullRowSelection: true,
            columnDefs: [
                {name: ' ',width:'3%', cellTemplate: '<div style="padding-top:5px;"><span>{{grid.renderContainers.body.visibleRowCache.indexOf(row)+1}}</span></div>',cellClass: 'text-center', enableCellEdit: false, enableSorting:false, enableColumnResizing:false, enableColumnMenu:false},
              { field: 'ImportPINo', name:'PINo', width:'12%' },
              { field: 'ImportPIDateSt', name:'PI Date', width:'10%' },
              { field: 'ProductName', name:'ProductName', width:'21%' },
              { field: 'PIQtySt', name:'PIQty', width:'8%' },
              { field: 'PIAmount', name:'PIAmount', width:'10%' , enableSorting: false },
              { field: 'PartyName', name:'PartyName', width:'21%' },
              { field: 'ImportLCNo', name:'LCNo', width:'10%' },
              { field: 'ImportLCDateSt', name:'LCDate', width:'10%' },
              { field: 'ImportPINo', name:'Sales Cont. No', width:'15%' },
              { field: 'ImportPIDateSt', name:'Sales Cont. Date', width:'10%' },
              { field: 'IssueBankName', name:'L/C Advising Bank', width:'10%' },
              { field: 'LCAmountSt', name:'LCAmount', width:'10%' },
              { field: 'ImportInvoiceNo', name:'InvoiceNo', width:'10%' },
              { field: 'ImportInvoiceDateSt', name:'InvoiceDate', width:'10%' },
              { field: 'InvoiceValueSt', name:'Value', width:'10%' },
              { field: 'InvoiceDueValueSt', name:'DueValue', width:'10%' },
              { field: 'BillofLoadingNo', name:'BillofLoadingNo', width:'10%' },
              { field: 'BillofLoadingDateSt', name:'Bill of Loading Date', width:'10%' },
              { field: 'BillOfEntrtNo', name:'BillOfEntrtNo', width:'10%' },
              { field: 'BillofEntrtDateSt', name:'BillofEntrtDate', width:'10%' },
              { field: 'GoodsRcvQtySt', name:'GRN Qty', width:'10%' },
              { field: 'GoodsRcvDateSt', name:'GRN Date', width:'10%' },
              { field: 'AcceptanceDateSt', name:'AcceptanceDate', width:'10%' },
              { field: 'MaturityValueSt', name:'MaturityValue', width:'10%' },
              { field: 'MaturityDateSt', name:'MaturityDate', width:'10%' },
              { field: 'PaymentDateSt', name:'PaymentDate', width:'10%' },
            ],
            data: oImportRegisters,
        }
        $scope.AdvanceSearch=function()
        {
            debugger;
            oColumns = [];
            var oColumn = { field: 'Name', name: 'Party Name',width: '70%', enableSorting: false  };oColumns.push(oColumn);
            oColumn = { field: 'Address', name: 'Address',width: '30%', enableSorting: false  };oColumns.push(oColumn);

            var paramObj_Contractor={
                obj:{Params: '1' + '~' +'@@ContractorID'+'~'+sessionStorage.getItem('BUID')},
                objName:'Params',
                objField:'ContractorID',
                url:_sBaseAddress+'/Contractor/ContractorSearchByNameType',
                title:'Contractor List',
                multiSelect:true,
                columns:oColumns
            }
            var otempImportRegister = [
                                { BOField:     "BUID",              Value:nBUID,                  InputType: 'hidden'},
                                { DisplayName: "Party Name",   BOField: "SupplierName",    InputType: 'picker', PickerObject:paramObj_Contractor },
                                { DisplayName: "LC No",             BOField: "ImportLCNo",        InputType: 'text' },
                                { DisplayName: "PI No",             BOField: "ImportPINo",        InputType: 'text' },
                                { DisplayName: "Invoice No",        BOField: "ImportInvoiceNo",   InputType: 'text' },
                                { DisplayName: "Invoice Type",    	BOField: "InvoiceType",       InputType: 'select', OptionList:$scope.InvoiceTypes, OptionValue:{id:'id', Value:'Value'}},
                                { DisplayName: "Product Type",    	BOField: "ProductType",       InputType: 'select', OptionList:$scope.ProductTypes, OptionValue:{id:'id', Value:'Value'}},
                                { DisplayName: "PI Date",           BOField: "ImportPIDate",      InputType: 'date' },

            ];
            var modalObj={
                size:'md',
                title:"Advance Search",
                CompareOperators:oCompareOperators,
                HtmlElements:otempImportRegister,
                isAdvanceSearch:true, // if TRUE: 'urlAdvanceSearch' should be define
                urlAdvanceSearch:_sBaseAddress + '/ImportRegister/AdvanceSearch'
            }
            var modalInstance=advanceSearch.Instance(modalObj);
            modalInstance.result.then(function (result)
            {
                console.log(result);
                sSearchString = sessionStorage.getItem('AdvSearchString');
                $scope.gridOptions.data=result;
            }, function ()
            {
                $log.info('Modal dismissed at: ' + new Date());
            });
        };
        $scope.RefreshObject = function()
        {
            debugger;
            var sTemp = sSearchString;
            return sTemp;
        }
        $scope.Excel = function()
        {
            debugger;
            //if($scope.Printlayout == 0 || $scope.Printlayout=="" || $scope.Printlayout=='undefined' || $scope.Printlayout==null)
            //{
            //    alert("Please Select any print Type");
            //    $('#cboPrintLayout').focus();
            //    return;
            //}
            $scope.sParam = $scope.RefreshObject();
            var oImportRegister = {
                Params:$scope.sParam,
            }
            $.ajax({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+  "/ImportRegister/SetSessionSearchCriteria",
                traditional: true,
                data:  JSON.stringify(oImportRegister),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    window.open(_sBaseAddress+'/ImportRegister/GetExcel?sParam='+"Report");
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
    });
</script>