<html>
@{
    ViewBag.Title = "Adjustment Requisition  Registers";
}
<body>
    @model ESimSol.BusinessObjects.AdjustmentRequisitionSlipRegister
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable">
        <div class="easyui-panel" title="Adjustment  Registers" style="font-family:Tahoma; text-align:center; height:88%;">
            <fieldset style="height:95%; text-align:center;">
                <legend style="font-weight:bold"> Serching Criteria   : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:100%">
                    <tr>
                        <td colspan="5" style="height:20px;"></td>                        
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Product :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtProduct" placeholder="Press enter with product name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearProduct" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickProduct" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">Adjustment  Date :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboIssueDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtIssueDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtIssueDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table> 
                        </td>
                    </tr>
                 
                    <tr>
                        <td style="width:15%;text-align:right"> Adjust By :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboAdjustBy" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">Store:</td>
                        <td style="width:38%;text-align:right">
                           <select id="cboStores" style="width:100%"></select>
                        </td>
                    </tr>

                    <tr>
                        <td style="width:15%;text-align:right"> Report Layout :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboReportLayout" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Lot No :</td>
                        <td style="width:38%;text-align:right">
                            <input type="text" id="txtLotNo" style="width:98%" />
                        </td>
                    </tr>
  
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:50%;text-align:right">
                                                 
                    </td>
                    <td style="width:50%;text-align:right">
                        <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                        <a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>

<style>
    td, th {
        padding: 2px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        var nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oApprovalUsers = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ApprovalUsers));
        var oReportLayouts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReportLayouts));
        var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        var oStores = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Stores));
        debugger;

        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        $("#cboIssueDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboStores").icsLoadCombo({ List: oStores, OptionValue: "WorkingUnitID", DisplayText: "LOUName" });
        $("#cboAdjustBy").icsLoadCombo({ List: oApprovalUsers, OptionValue: "UserID", DisplayText: "UserName" });
        $("#cboReportLayout").icsLoadCombo({ List: oReportLayouts, OptionValue: "id", DisplayText: "Value" });
        $('#txtIssueDateStart').datebox({ disabled : true });
        $('#txtIssueDateEnd').datebox({ disabled : true });
        $('#txtIssueDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtIssueDateEnd').datebox('setValue', icsdateformat(new Date()));
        $('#txtProduct').data('Products', []);

    });



    function ValidateSearch()
    {
        var nIssueDate = parseInt($('#cboIssueDate').val());
        if(nIssueDate===1 || nIssueDate===2 || nIssueDate===3 || nIssueDate===4)
        {
            var sIssueDateStart   = $('#txtIssueDateStart').datebox('getValue');
            if(sIssueDateStart===null || sIssueDateStart==="")
            {
                alert("Please select  start date!");
                $('#txtIssueDateStart').focus();
                return false;
            }
        }
        if(nIssueDate===5 || nIssueDate===6)
        {
            var sIssueDateStart   = $('#txtIssueDateStart').datebox('getValue');
            var sIssueDateEnd   = $('#txtIssueDateEnd').datebox('getValue');
            if(sIssueDateStart===null || sIssueDateStart==="")
            {
                alert("Please select  start date!");
                $('#txtIssueDateStart').focus();
                return false;
            }
            if(sIssueDateEnd===null || sIssueDateEnd==="")
            {
                alert("Please select  end date!");
                $('#txtIssueDateEnd').focus();
                return false;
            }
            if(new Date(sIssueDateStart) > new Date(sIssueDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtIssueDateStart').focus();
                return false;
            }
        }
        var nReportLayout = parseInt($('#cboReportLayout').val());
        if(nReportLayout<=0)
        {
            alert("Please select an Report Layout!");
            return;
        }
        var nAdjustBy = parseInt($('#cboAdjustBy').val());
        var ncboCategory = parseInt($('#cboCategory').val());
        var nStore = parseInt($('#cboStores').val());
        var sDONo =$.trim($('#txtLotNo').val());
        var sExportPINo =$.trim($('#txtExportPINo').val());
        var oProducts = $('#txtProduct').data('Products');
        if(nIssueDate === 0&&  nStore==0  &&  nAdjustBy === 0 && sLotNo === "" && oProducts.length<=0 )
        {
            alert("Please select at least one searching criteriea!");
            return false;
        }
        return true;
    }

    function RefreshObject()
    {

        var oProducts = $('#txtProduct').data('Products');
        var nIssueDate = parseInt($('#cboIssueDate').val());
        var sIssueDateStart   = $('#txtIssueDateStart').datebox('getValue');
        var sIssueDateEnd   = $('#txtIssueDateEnd').datebox('getValue');
        var nStore = parseInt($('#cboStores').val());
        var sLotNo = $.trim($('#txtLotNo').val());
        var sSearchingData  =  nIssueDate+'~';
        sSearchingData = sSearchingData + sIssueDateStart+'~';
        sSearchingData = sSearchingData + sIssueDateEnd+'~';
        sSearchingData = sSearchingData + nStore +'~';
        sSearchingData = sSearchingData + sLotNo;
        

        var oAdjustmentRequisitionSlipRegister = {
            BUID : parseInt(sessionStorage.getItem("BUID")),
            RequestedByID : parseInt($('#cboAdjustBy').val()),
            ProductCategoryID:parseInt($('#cboCategory').val()),
            WorkingUnitID:parseInt($('#cboStores').val()),
            ProductName : ICS_PropertyConcatation(oProducts, 'ProductID'),
            ReportLayout : parseInt($('#cboReportLayout').val()),
            SearchingData : sSearchingData
        };
        return oAdjustmentRequisitionSlipRegister;
    }

    $('#btnPreview').click(function(e){
        if(!ValidateSearch()) return;
        var oAdjustmentRequisitionSlipRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/AdjustmentRequisitionSlipRegister/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oAdjustmentRequisitionSlipRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/AdjustmentRequisitionSlipRegister/PrintARSRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });
    $('#btnExportToExcel').click(function(e){
        if(!ValidateSearch()) return;
        var oAdjustmentRequisitionSlipRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/AdjustmentRequisitionSlipRegister/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oAdjustmentRequisitionSlipRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/AdjustmentRequisitionSlipRegister/ExportToExcelRSRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#cboIssueDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboIssueDate').val());
        if(nCompareOperator===0)
        {
            $('#txtIssueDateStart').datebox({ disabled : true });
            $('#txtIssueDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtIssueDateStart').datebox({ disabled : false });
            $('#txtIssueDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtIssueDateStart').datebox({ disabled : false });
            $('#txtIssueDateEnd').datebox({ disabled : false });
        }
        $('#txtIssueDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtIssueDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#btnClose').click(function (e) {
        window.location.href = window.location.href;
    });

    

    //Product Pick
    function PickProduct()
    {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oProduct = {
            BUID : nBUID,
            ProductName : $.trim($('#txtProduct').val())
        };
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Product Code", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Product Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductCategoryName", title: "Category", width: 100, align: "left" }; tblColums.push(oColumn)
                    var oPickerParam = {
                        winid: 'winProducts',
                        winclass: 'clsProducts',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProducts',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'ProductName',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtProduct").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtProduct').val())===null || $.trim($('#txtProduct').val())==="")
            {
                alert("Press enter with product name");
                return;
            }
            PickProduct();
        }
    });
    $("#btnPickProduct").click(function () {
        $('#txtProduct').val('');
        PickProduct();
    });
    $('#txtProduct').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtProduct").removeClass("fontColorOfPickItem");
            $('#txtProduct').data('Products', []);
        }
    });
    $('#btnClearProduct').click(function(e){
        $("#txtProduct").val("");
        $('#txtProduct').data('Products', []);
        $("#txtProduct").removeClass("fontColorOfPickItem");
    });
    //End Product Picker


    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

         if (oPickerobj.winid === 'winProducts')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtProduct').val(oreturnobjs.length+"'s Products seleted");
                $('#txtProduct').addClass('fontColorOfPickItem');
                $('#txtProduct').data('Products', oreturnobjs);
                $('#txtProduct').focus();
            }
        }
    }

    function updateProgress() {
        var value =$('#progbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progbarParent").hide();
    }
</script>