@{
    ViewBag.Title = "Sample Request List";
}
@model IEnumerable<ESimSol.BusinessObjects.SampleRequest>
    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    
    <div class="menuMainCollectionTable" id="regionSampleRequest">
        <table id="tblSampleRequests" title="Sample Request List" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="RequestNo" width="9%">Request No</th>
                    <th field="RequestDateInString" width="9%">Request Date</th>
                    <th field="RequestTypeInString" width="8%">Type</th>
                    <th field="ContractorName" width="20%">Contractor</th>
                    <th field="ContactPersonName" width="20%">Contact Person</th>
                    <th field="RequestByName" width="20%">Request By</th>
                    <th field="RequestToName" width="20%">Request To</th>
                    <th field="Remarks" width="30%">Remarks</th>
                    <th field="ApprovedByName" width="30%">Approved By</th>
                    <th field="WUName" width="30%">Store Name</th>
                    <th field="DisbursedByName" width="30%">Disbursed By</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv Search</a>
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
            <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
            <a id="btnPrintList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print List</a>
            <a id="btnApproved" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Approved</a>
            <a id="btnMakeChallan" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Make Challan</a>
            <a id="btnUndoApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" plain="true" onclick="UndoApprove()">Undo App</a>
        </div>
        <div id="winAdvanceSearch" class="easyui-window" title="Advance Search" style="width:540px;height:305px;padding:2px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div>
                <fieldset>
                    <legend style="font-weight:bold"> Searching Criteria : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                        <tr>
                            <td style="width:170px; text-align:right">
                                Request NO :
                            </td>
                            <td style="width:370px">
                                <input type="text" style="width: 370px;" id="txtRequestNo" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:170px; text-align:right">
                                Request Date :
                            </td>
                            <td style="width:370px">
                                <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                                    <tr>
                                        <td style="width: 120px; font-size: 12px; text-align: left">
                                            <select id="cboRequestDate" style="width:120px"></select>
                                        </td>
                                        <td style="width: 120px; font-size: 12px">
                                            <input id="txtSampleRequestStartDate" type="text" style="width: 120px;" class="easyui-datebox" disabled="disabled" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                        </td>
                                        <td style="width: 10px; font-size: 12px">
                                            To
                                        </td>
                                        <td style="width: 120px; font-size: 12px">
                                            <input id="txtSampleRequestEndDate" type="text" style="width: 120px;" class="easyui-datebox" disabled="disabled" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:170px; text-align:right">
                                Request Amount :
                            </td>
                            <td style="width:370px">
                                <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                                    <tr>
                                        <td style="width: 120px; font-size: 12px; text-align: left">
                                            <select id="cboSampleRequestAmount" style="width:120px"></select>
                                        </td>
                                        <td style="width: 120px; font-size: 12px">
                                            <input id="txtSampleRequestAmountStart" style="width:114px" />
                                        </td>
                                        <td style="width: 10px; font-size: 12px">
                                            To
                                        </td>
                                        <td style="width: 120px; font-size: 12px">
                                            <input id="txtSampleRequestAmountEnd" style="width:114px" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:170px; text-align:right">
                                Approved By :
                            </td>
                            <td style="width:370px">
                                <select id="cboApprovedBy" style="width:375px"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:170px; text-align:right">
                                Disbursed By :
                            </td>
                            <td style="width:370px">
                                <select id="cboDisbursedBy" style="width:375px"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:170px; text-align:right">
                                Request By :
                            </td>
                            <td style="width:370px">
                                <select id="cboRequestBy" style="width:375px"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="width:170px; text-align:right">
                                Buyer(s) :
                            </td>
                            <td style="width:370px">
                                <input type="text" style="width: 282px;" id="txtBuyerName" placeholder="Press enter with Buyer name/code" />
                                <input type="button" style="width: 30px;" id="btnBuyerClear" value="C" />
                                <input type="button" style="width: 50px;" id="btnBuyerPicker" value="Pick" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:170px; text-align:right">
                                Product(s) :
                            </td>
                            <td style="width:370px">
                                <input type="text" style="width: 282px;" id="txtProductName" placeholder="Press enter with product name/code" />
                                <input type="button" style="width: 30px;" id="btnProductClear" value="C" />
                                <input type="button" style="width: 50px;" id="btnProductPicker" value="Pick" />
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <fieldset style="width:99%; vertical-align:top;">
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold;">
                    <tr>
                        <td style="width:100px;text-align:right">
                            <a id="btnAdvSearchReset" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"> Reset</a>
                        </td>
                        <td style="width:408px;text-align:right;">
                            <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                            <a id="btnAdvSearchClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>

    <script type="text/javascript">
    debugger;
    var _oSampleRequest=null;
    var _oSampleRequests=[];
    var _sBaseAddress="";
    var _oAuthorizationRolesMapping=[];

    $(document).ready(function () {
        debugger;
        _oSampleRequests =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        var oApprovalUsers=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ApprovalUsers));
        var oDisburseUsers=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.DisburseUsers));
        var oRequestUsers=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.RequestUsers));
        var nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oDateCompareOperatorObjs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.DateCompareOperatorObjs));
        var oAmountCompareOperatorObjs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.AmountCompareOperatorObjs));
        @*var nProductNature = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ProductNature));*@
        //$('#regionSampleRequest').data('ByuerIDs','');
        sessionStorage.setItem("BUID",nBUID);
        //sessionStorage.setItem("ProductNature",nProductNature);
        var oSampleRequests =sessionStorage.getItem("SampleRequests");
        if(oSampleRequests!=null)
        {
            oSampleRequests = jQuery.parseJSON(oSampleRequests);
        }
        else
        {
            oSampleRequests=_oSampleRequests;
        }
        RefreshList(oSampleRequests);
        RefreshControlLayout();
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
        $('#txtBuyerName').data('Buyers', []);
        $('#cboApprovedBy').data('ApprovalUsers', oApprovalUsers);
        $('#cboDisbursedBy').data('DisburseUsers', oDisburseUsers);
        $('#cboRequestBy').data('RequestUsers', oRequestUsers);
        $('#cboRequestDate').data('DateCompareOperatorObjs', oDateCompareOperatorObjs);
        $('#cboSampleRequestAmount').data('AmountCompareOperatorObj', oAmountCompareOperatorObjs);
        $('#tblSampleRequests').data('SampleRequests', oSampleRequests);
        $('#txtSampleRequestAmountStart,#txtSampleRequestAmountEnd').icsCurrencyBox();
    });
    $('#btnAdvSearch').click(function(e){
        $("#winAdvanceSearch").icsWindow('open', "Advance Search");
        $("#winAdvanceSearch input").not("input[type='button']").val("");
        $('#txtSampleRequestStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtSampleRequestEndDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtSampleRequestAmountStart').val('0.00');
        $('#txtSampleRequestAmountEnd').val('0.00');
        $('#txtSampleRequestAmountStart').prop("disabled", true);
        $('#txtSampleRequestAmountEnd').prop("disabled", true);
        $('#txtBuyerName').data('Buyers', []);
        $('#txtProductName').data('Products', []);
        RefreshComboBoxControls();
    });

    $('#btnAdvSearchClose').click(function(e){
        $("#winAdvanceSearch").icsWindow('close');
    });
    $('#cboRequestDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboRequestDate').val());
        if(nCompareOperator===0)
        {
            $('#txtSampleRequestStartDate').datebox({ disabled : true });
            $('#txtSampleRequestEndDate').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtSampleRequestStartDate').datebox({ disabled : false });
            $('#txtSampleRequestEndDate').datebox({ disabled : true });
        }
        else
        {
            $('#txtSampleRequestStartDate').datebox({ disabled : false });
            $('#txtSampleRequestEndDate').datebox({ disabled : false });
        }
        $('#txtSampleRequestStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtSampleRequestEndDate').datebox('setValue', icsdateformat(new Date()));
    });

    $("#btnProductPicker").click(function () {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oProduct = { BUID: nBUID};
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Product Code", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Product Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductCategoryName", title: "Category", width: 100, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winProductPicker',
                        winclass: 'clsProductPicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProductPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'NameCode',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });

    });


    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }


    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid === 'winBuyers')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtBuyerName').val(oreturnobjs.length+"'s Buyers seleted");
                $('#txtBuyerName').addClass('fontColorOfPickItem');
                $('#txtBuyerName').data('Buyers', oreturnobjs);
                $('#txtBuyerName').focus();
            }
        }
        else if (oPickerobj.winid == 'winProductPicker')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0)
            {
                $('#txtProductName').val(oreturnobjs.length+"'s products seleted");
                $('#txtProductName').addClass('fontColorOfPickItem');
                $('#txtProductName').data('Products', oreturnobjs);
            }
        }
    }
    $('#txtProductName').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtProductName").removeClass("fontColorOfPickItem");
            $('#txtProductName').data('Product', null);
        }
    });


    $('#btnProductClear').click(function(e){
        $("#txtProductName").val("");
        $('#txtProductName').data('Products', []);
        $("#txtProductName").removeClass("fontColorOfPickItem");
    });

    $('#cboSampleRequestAmount').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboSampleRequestAmount').val());
        if(nCompareOperator===0)
        {
            $('#txtSampleRequestAmountStart').prop("disabled", true);
            $('#txtSampleRequestAmountEnd').prop("disabled", true);
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtSampleRequestAmountStart').prop("disabled", false);
            $('#txtSampleRequestAmountEnd').prop("disabled", true);
        }
        else
        {
            $('#txtSampleRequestAmountStart').prop("disabled", false);
            $('#txtSampleRequestAmountEnd').prop("disabled", false);
        }
        $('#txtSampleRequestAmountStart').val('0.00');
        $('#txtSampleRequestAmountEnd').val('0.00');
    });
    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }
    $('#btnAdvSearchReset').click(function(e){
        $('#cboApprovedBy').val(0);
        $('#cboDisbursedBy').val(0);
        $('#cboRequestBy').val(0);
        $("#winAdvanceSearch input").not("input[type='button']").val("");
        $('#cboRequestDate').val(0);
        $('#txtSampleRequestStartDate').datebox({ disabled : true });
        $('#txtSampleRequestEndDate').datebox({ disabled : true });
        $('#txtSampleRequestStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtSampleRequestEndDate').datebox('setValue', icsdateformat(new Date()));

        $('#cboSampleRequestAmount').val(0);
        $('#txtSampleRequestAmountStart').prop("disabled", true);
        $('#txtSampleRequestAmountEnd').prop("disabled", true);
        $('#txtSampleRequestAmountStart').val('0.00');
        $('#txtSampleRequestAmountEnd').val('0.00');

        $('#cboDeliveryBy').val(0);
        $('#txtBuyerName').data('Buyers', []);
        $("#txtBuyerName").removeClass("fontColorOfPickItem");
        $('#txtProductName').data('Products', []);
        $("#txtProductName").removeClass("fontColorOfPickItem");
    });

    $('#btnAdvSearchReset').click(function(e){
        $("#winAdvanceSearch input").not("input[type='button']").val("");
        $('#cboRequestDate').val(0);
        $('#txtSampleRequestStartDate').datebox({ disabled : true });
        $('#txtSampleRequestEndDate').datebox({ disabled : true });
        $('#txtSampleRequestStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtSampleRequestEndDate').datebox('setValue', icsdateformat(new Date()));

        $('#cboSampleRequestAmount').val(0);
        $('#txtSampleRequestAmountStart').prop("disabled", true);
        $('#txtSampleRequestAmountEnd').prop("disabled", true);
        $('#txtSampleRequestAmountStart').val('0.00');
        $('#txtSampleRequestAmountEnd').val('0.00');

        $('#cboDeliveryBy').val(0);
        $('#txtBuyerName').data('Buyers', []);
        $("#txtBuyerName").removeClass("fontColorOfPickItem");
        $('#txtProductName').data('Products', []);
        $("#txtProductName").removeClass("fontColorOfPickItem");
    });
    $('#btnSearch').click(function(e){
        // if(!ValidateSearch()) return;
        debugger;
        var sRequestNo =$.trim($('#txtRequestNo').val());


        var nRequestDate = parseInt($('#cboRequestDate').val());
        var sSampleRequestStartDate   = $('#txtSampleRequestStartDate').datebox('getValue');
        var sSampleRequestEndDate   = $('#txtSampleRequestEndDate').datebox('getValue');

        var nSampleRequestAmount = parseInt($('#cboSampleRequestAmount').val());
        var sSampleRequestAmountStart = icsRemoveComma($.trim($('#txtSampleRequestAmountStart').val()));
        var sSampleRequestAmountEnd = icsRemoveComma($.trim($('#txtSampleRequestAmountEnd').val()));
        var nApprovedBy = parseInt($('#cboApprovedBy').val());
        var nDisbursedBy = parseInt($('#cboDisbursedBy').val());
        var nRequestBy = parseInt($('#cboRequestBy').val());
        //var nDeliveryBy = parseInt($('#cboDeliveryBy').val());
        var oBuyers = $('#txtBuyerName').data('Buyers');
        var oProducts = $('#txtProductName').data('Products');

        //if(oBuyers===null) {oBuyers = []; }
        if(oProducts===null) {oProducts = []; }
        var sBuyerIDs ="";
        var sProductIDs ="";

        for(var i=0; i<oBuyers.length; i++)
        {
            sBuyerIDs  = sBuyerIDs + oBuyers[i].ContractorID+ ",";
        }
        if(sBuyerIDs.length>0)
        {
            sBuyerIDs=sBuyerIDs.substring(0, sBuyerIDs.length-1);
        }
        for(var i=0; i<oProducts.length; i++)
        {
            sProductIDs  = sProductIDs + oProducts[i].ProductID+ ",";
        }
        if(sProductIDs.length>0)
        {
            sProductIDs=sProductIDs.substring(0, sProductIDs.length-1);
        }

        var sSearchingData  =  sRequestNo+'~';

        sSearchingData = sSearchingData + nRequestDate+'~';
        sSearchingData = sSearchingData + sSampleRequestStartDate+'~';
        sSearchingData = sSearchingData + sSampleRequestEndDate+'~';
        sSearchingData = sSearchingData + nSampleRequestAmount+'~';
        sSearchingData = sSearchingData + sSampleRequestAmountStart+'~';
        sSearchingData = sSearchingData + sSampleRequestAmountEnd+'~';
        sSearchingData = sSearchingData + nApprovedBy+'~';
        sSearchingData = sSearchingData + nDisbursedBy+'~';
        sSearchingData = sSearchingData + nRequestBy+'~';
        sSearchingData = sSearchingData + sBuyerIDs +'~';
        sSearchingData = sSearchingData + sProductIDs;

        var oSampleRequest = {
            Note : sSearchingData,
            BUID : parseInt(sessionStorage.getItem("BUID"))
        };

        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: sessionStorage.getItem("BaseAddress")+  "/SampleRequest/AdvanceSearch",
            data:  JSON.stringify(oSampleRequest),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  oSampleRequests = jQuery.parseJSON(data);
                if (oSampleRequests != null) {
                    if(oSampleRequests.length>0)
                    {
                        if(oSampleRequests[0].ErrorMessage=="")
                        {
                            RefreshList(oSampleRequests);
                            $('#tblSampleRequests').data('SampleRequests', oSampleRequests);
                            $("#winAdvanceSearch").icsWindow('close');
                        }
                        else
                        {
                            alert(oSampleRequests[0].ErrorMessage);
                        }
                    }
                    else
                    {
                        alert("Data not found!!");
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    function RefreshComboBoxControls()
    {
        var oApprovalUsers = $('#cboApprovedBy').data('ApprovalUsers');
        var oDisburseUsers = $('#cboDisbursedBy').data('DisburseUsers');
        var oRequestUsers = $('#cboRequestBy').data('RequestUsers');
        var oDateCompareOperatorObjs = $('#cboRequestDate').data('DateCompareOperatorObjs');
        var oAmountCompareOperatorObjs = $('#cboSampleRequestAmount').data('AmountCompareOperatorObj');
        //   $("#cboDeliveryBy").icsLoadCombo({ List: oDeliveryUsers, OptionValue: "UserID", DisplayText: "UserName" });
        $("#cboApprovedBy").icsLoadCombo({ List: oApprovalUsers, OptionValue: "UserID", DisplayText: "UserName" });
        $("#cboDisbursedBy").icsLoadCombo({ List: oDisburseUsers, OptionValue: "UserID", DisplayText: "UserName" });
        $("#cboRequestBy").icsLoadCombo({ List: oRequestUsers, OptionValue: "UserID", DisplayText: "UserName" });
        $("#cboRequestDate").icsLoadCombo({ List: oDateCompareOperatorObjs, OptionValue: "id", DisplayText: "Value" });
        $("#cboSampleRequestAmount").icsLoadCombo({ List: oAmountCompareOperatorObjs, OptionValue: "id", DisplayText: "Value" });
    }



    $("#btnAdd").click(function(){
        var oSampleRequests= $('#tblSampleRequests').datagrid('getRows');
        sessionStorage.setItem("SampleRequests", JSON.stringify(oSampleRequests));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("SampleRequestHeader", "Add Sample Request");
        sessionStorage.setItem('Action','Add')
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/SampleRequest/ViewSampleRequest?id=0&buid="+sessionStorage.getItem('BUID');  //
    });
    function UndoApprove()
    {
        debugger;
        // alert(HttpContext.Current.Session[SessionInfo.currentUserID]);

        var oSampleRequest = $('#tblSampleRequests').datagrid('getSelected');

        if(oSampleRequest==null || oSampleRequest.SampleRequestID<=0)
        {
            alert("Please select an item from list!");
            return;
        }
        if(parseInt(oSampleRequest.DisbursedBy)!=0)
        {
            alert("Please selected Sale  already Disbersed!");
            return;
        }
        //if(oTradingSaleInvoice.IsChallanExist==true){
        //    alert("It's Already Made Challan");
        //    return;
        //}
        if(parseInt(oSampleRequest.ApprovedBy)==0)
        {
            alert("Your selected Sale invoice Not already approved!");
            return;


        }
        StatusChange(oSampleRequest);
    }
    function StatusChange(oSampleRequest)
    {
        debugger;
        var SelectedRowIndex=$('#tblSampleRequests').datagrid('getRowIndex',oSampleRequest);
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/SampleRequest/UndoApproved",
            traditional: true,
            data:  JSON.stringify(oSampleRequest),
            contentType: "application/json; charset=utf-8",
            success: function (data) {


                var oSampleRequest= jQuery.parseJSON(data);
                if (parseInt(oSampleRequest.SampleRequestID)>0) {
                    alert("Successfully Undo");
                    $('#tblSampleRequests').datagrid('updateRow',{index: SelectedRowIndex,	row: oSampleRequest});
                }
                else
                {
                    alert(_oSampleRequest.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });


    }
    $('#btnApproved').click(function (e) {
        debugger;
        var oSampleRequest = $('#tblSampleRequests').datagrid('getSelected');
        if(oSampleRequest==null || parseInt(oSampleRequest.SampleRequestID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oSampleRequest.ApprovedBy)!=0)
        {
            alert("Please selected Sale invoice already approved!");
            return;
        }
        if(parseInt(oSampleRequest.DisbursedBy)!=0)
        {
            alert("Please selected Sale  already Disbersed!");
            return;
        }
        if (!confirm("Confirm to Approved?")) return ;
        var SelectedRowIndex=$('#tblSampleRequests').datagrid('getRowIndex',oSampleRequest);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: sessionStorage.getItem("BaseAddress")+ "/SampleRequest/Approved",
            traditional: true,
            data:  JSON.stringify(oSampleRequest),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                oSampleRequest = jQuery.parseJSON(data);
                if (parseInt(oSampleRequest.SampleRequestID)>0) {
                    alert("Approved Successfully");
                    $('#tblSampleRequests').datagrid('updateRow',{index: SelectedRowIndex,	row: oSampleRequest});
                }
                else {
                    alert(oSampleRequest.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $("#btnEdit").click(function(){
        var oSampleRequest= $('#tblSampleRequests').datagrid('getSelected');
        if(oSampleRequest==null || oSampleRequest.SampleRequestID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oSampleRequest.DisbursedBy)!=0)
        {
            alert("Please selected Sample Request already Disbursed!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblSampleRequests').datagrid('getRowIndex',oSampleRequest);
        var oSampleRequests= $('#tblSampleRequests').datagrid('getRows');
        sessionStorage.setItem("SampleRequests", JSON.stringify(oSampleRequests));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("SampleRequestHeader", "Edit Sample Request");
        sessionStorage.setItem('Action','Edit')
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+  "/SampleRequest/ViewSampleRequest?id="+oSampleRequest.SampleRequestID+"&buid="+sessionStorage.getItem('BUID');
    });

    $("#btnView").click(function(){
        var oSampleRequest= $('#tblSampleRequests').datagrid('getSelected');
        if(oSampleRequest==null || oSampleRequest.SampleRequestID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblSampleRequests').datagrid('getRowIndex',oSampleRequest);
        var oSampleRequests= $('#tblSampleRequests').datagrid('getRows');
        sessionStorage.setItem("SampleRequests", JSON.stringify(oSampleRequests));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("SampleRequestHeader", "View Sample Request");
        sessionStorage.setItem('Action','View')
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+  "/SampleRequest/ViewSampleRequest?id="+oSampleRequest.SampleRequestID+"&buid="+sessionStorage.getItem('BUID');
    });

    $("#btnDelete").click(function(){
        var oSampleRequest= $('#tblSampleRequests').datagrid('getSelected');
        if(oSampleRequest==null || oSampleRequest.SampleRequestID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if(parseInt(oSampleRequest.DisbursedBy)!=0)
        {
            alert("Please selected Sample Request already Disbursed!");
            return;
        }
        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblSampleRequests').datagrid('getRowIndex',oSampleRequest);
        if (oSampleRequest.SampleRequestID > 0)
        {
            $.ajax
            ({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+  "/SampleRequest/Delete",
                data: JSON.stringify(oSampleRequest),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage.toLowerCase() == "deleted")
                    {
                        alert("Delete sucessfully");
                        $('#tblSampleRequests').datagrid('deleteRow',SelectedRowIndex);
                        var oSampleRequests= $('#tblSampleRequests').datagrid('getRows');
                        sessionStorage.setItem("SampleRequests", JSON.stringify(oSampleRequests));
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
        }
    });

    $("#btnMakeChallan").click(function(){
        var oSampleRequest= $('#tblSampleRequests').datagrid('getSelected');
        if(oSampleRequest==null || oSampleRequest.SampleRequestID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oSampleRequest.ApprovedBy)==0)
        {
            alert("Your selected Sample Request Not already approved!");
            return;
        }
        if(parseInt(oSampleRequest.DisbursedBy)!=0)
        {
            alert("Your selected Sample Request already Disbursed");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblSampleRequests').datagrid('getRowIndex',oSampleRequest);
        var oSampleRequests= $('#tblSampleRequests').datagrid('getRows');
        sessionStorage.setItem("SampleRequests", JSON.stringify(oSampleRequests));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("SampleRequestHeader", "Edit Sample Request");
        sessionStorage.setItem('Action','Edit')
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+  "/SampleRequest/ViewChallanRequest?id="+oSampleRequest.SampleRequestID+"&buid="+sessionStorage.getItem('BUID');
    });


    ///Buyer Pick
    $("#txtBuyerName").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var nBUID = parseInt(sessionStorage.getItem("BUID"));
            var oContractor = { Params: 2 + '~' + $.trim($('#txtBuyerName').val())+'~'+ nBUID };//here 2 is Buyer
            var obj = {
                BaseAddress: sessionStorage.getItem("BaseAddress"),
                Object: oContractor,
                ControllerName: "Contractor",
                ActionName: "ContractorSearchByNameType",
                IsWinClose: false
            };
            $("#progbar").progressbar({ value: 0 });
            $("#progbarParent").show();
            var intervalID = setInterval(updateProgress, 250);
            $.icsDataGets(obj, function (response) {
                clearInterval(intervalID);
                $("#progbarParent").hide();
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ContractorID > 0) {
                        var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winBuyers',
                            winclass: 'clsBuyer',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblBuyers',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'Name',
                            windowTittle: 'Buyer List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else{
                    alert("Data Not Found.");
                    return;
                }
            });
        }
    });
    $("#btnBuyerPicker").click(function () {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oContractor = { Params: "2~~"+nBUID };//here 2 Is Buyer
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winBuyers',
                        winclass: 'clsBuyer',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblBuyers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Buyer List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
            }
        });

    });
    $('#txtBuyerName').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtBuyerName").removeClass("fontColorOfPickItem");
            $('#txtBuyerName').data('BuyerID', 0);
        }
    });
    $('#btnBuyerClear').click(function(e){
        $("#txtBuyerName").val("");
        $('#txtBuyerName').data('Buyers', []);
        $("#txtBuyerName").removeClass("fontColorOfPickItem");
    });
    function ValidateSearch()
    {
        var sRequestNo =$.trim($('#txtRequestNo').val());

        var nRequestDate = parseInt($('#cboRequestDate').val());
        if(nRequestDate===1 || nRequestDate===2 || nRequestDate===3 || nRequestDate===4)
        {
            var sSampleRequestStartDate   = $('#txtSampleRequestStartDate').datebox('getValue');
            if(sSampleRequestStartDate===null || sSampleRequestStartDate==="")
            {
                alert("Please select TradingDeliveryChallan start date!");
                $('#txtSampleRequestStartDate').focus();
                return false;
            }
        }
        if(nRequestDate===5 || nRequestDate===6)
        {
            var sSampleRequestStartDate   = $('#txtSampleRequestStartDate').datebox('getValue');
            var sSampleRequestEndDate   = $('#txtSampleRequestEndDate').datebox('getValue');
            if(sSampleRequestStartDate===null || sSampleRequestStartDate==="")
            {
                alert("Please select TradingDeliveryChallan start date!");
                $('#txtSampleRequestStartDate').focus();
                return false;
            }
            if(sSampleRequestEndDate===null || sSampleRequestEndDate==="")
            {
                alert("Please select TradingDeliveryChallan end date!");
                $('#txtSampleRequestEndDate').focus();
                return false;
            }
            if(new Date(sSampleRequestStartDate) > new Date(sSampleRequestEndDate))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtSampleRequestStartDate').focus();
                return false;
            }
        }

        var nSampleRequestAmount = parseInt($('#cboSampleRequestAmount').val());
        if(nSampleRequestAmount===1 || nSampleRequestAmount===2 || nSampleRequestAmount===3 || nSampleRequestAmount===4)
        {
            var sSampleRequestAmountStart   = $.trim($('#txtSampleRequestAmountStart').val());
            if(sSampleRequestAmountStart===null || sSampleRequestAmountStart==="")
            {
                alert("Please enter TradingDeliveryChallan start Amount!");
                $('#txtSampleRequestAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sSampleRequestAmountStart)<=0)
            {
                alert("Please enter TradingDeliveryChallan start Amount!");
                $('#txtSampleRequestAmountStart').focus();
                return false;
            }
        }
        if(nSampleRequestAmount===5 || nSampleRequestAmount===6)
        {
            var sSampleRequestAmountStart = $.trim($('#txtSampleRequestAmountStart').val());
            if(sSampleRequestAmountStart===null || sSampleRequestAmountStart==="")
            {
                alert("Please enter TradingDeliveryChallan start Amount!");
                $('#txtSampleRequestAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sSampleRequestAmountStart)<=0)
            {
                alert("Please enter TradingDeliveryChallan start Amount!");
                $('#txtSampleRequestAmountStart').focus();
                return false;
            }

            var sSampleRequestAmountEnd = $.trim($('#txtSampleRequestAmountEnd').val());
            if(sSampleRequestAmountEnd===null || sSampleRequestAmountEnd==="")
            {
                alert("Please enter TradingDeliveryChallan end Amount!");
                $('#txtSampleRequestAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sSampleRequestAmountEnd)<=0)
            {
                alert("Please enter TradingDeliveryChallan end Amount!");
                $('#txtSampleRequestAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sSampleRequestAmountStart) >= icsRemoveComma(sSampleRequestAmountEnd))
            {
                alert("Start amount must be smallar than end amount!");
                $('#txtSampleRequestAmountStart').focus();
                return false;
            }
        }
        var nApprovedBy = parseInt($('#cboApprovedBy').val());
        var nDisbursedBy = parseInt($('#cboDisbursedBy').val());
        var nRequestBy = parseInt($('#cboRequestBy').val());
        var nDeliveryBy = parseInt($('#cboDeliveryBy').val());
        var oBuyers = $('#txtBuyerName').data('Buyers');
        var oProducts = $('#txtProductName').data('Products');

        if(sRequestNo===""  && nRequestDate===0 && nSampleRequestAmount===0 && nDeliveryBy===0 && oBuyers.length<=0 && oProducts.length<=0)
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        return true;
    }

    function RefreshList(oSampleRequests)
    {
        debugger;
        var data=oSampleRequests;
        data={"total":""+data.length+"","rows":data};
        $('#tblSampleRequests').datagrid('loadData',data);
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        $('#tblSampleRequests').datagrid('selectRow',nIndex);
    }


    $('#btnPrintList').click(function(){

        var oSampleRequests= $('#tblSampleRequests').datagrid('getRows');
        if(oSampleRequests.length<=0)
        {
            alert("Data not found ");
            return;
        }
        var sSampleRequestIDs = "";
        for(var i = 0;i<oSampleRequests.length;i++)
        {
            sSampleRequestIDs+= oSampleRequests[i].SampleRequestID+",";
        }
        sSampleRequestIDs = sSampleRequestIDs.substring(0, sSampleRequestIDs.length-1);
        var oSampleRequest = {ErrorMessage:sSampleRequestIDs};
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/SampleRequest/SetSampleRequestListData",
            traditional: true,
            data:  JSON.stringify(oSampleRequest),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful")
                {
                    window.open (_sBaseAddress+ "/SampleRequest/PrintSampleRequests");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });

    $('#btnPreview').click(function(){
        var oSampleRequest=$('#tblSampleRequests').datagrid('getSelected');
        if(oSampleRequest==null || parseInt(oSampleRequest.SampleRequestID)<=0)
        {
            alert("Please select Sample Request ");
            return;
        }
        window.open(_sBaseAddress+ "/SampleRequest/SampleRequestPrintPreview?id="+oSampleRequest.SampleRequestID+"&PrintGatePass=false");
        window.open(_sBaseAddress+ "/SampleRequest/SampleRequestPrintPreview?id="+oSampleRequest.SampleRequestID+"&PrintGatePass=true");

    });


    function RefreshControlLayout()
    {
        $('#btnAdd,#btnEdit,#btnDelete,#btnView,#btnReqForApprove,#btnUndoReq,#btnWaitforApproval,#btnApprove,#btnPreview,#btnPrintList').hide();

        if(HavePermission('Add','SampleRequest')){$('#btnAdd').show();}
        if(HavePermission('Edit','SampleRequest')){$('#btnEdit').show(); }
        if(HavePermission('Delete','SampleRequest')){ $('#btnDelete').show(); }
        if(HavePermission('View','SampleRequest')){  $('#btnView').show();}
        if(HavePermission('Preview','SampleRequest')){$('#btnPreview').show();  }
        if(HavePermission('PrintList','SampleRequest')){$('#btnPrintList').show();  }
    }

    function HavePermission(sOperationType, sModuleName)
    {
        var nSessionID =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.currentUserID]));
        if(nSessionID == -9) //check SuperUser
        {
            return true;
        }else
        {

            for(var i =0;i<_oAuthorizationRolesMapping.length;i++)
            {
                if(_oAuthorizationRolesMapping[i].OperationTypeST == sOperationType && _oAuthorizationRolesMapping[i].ModuleNameST == sModuleName)
                    return  true;
            }
            return false;
        }
    }


</script>
