@{
    ViewBag.Title = "Process Before Salary";
}

<div style="margin-left: 0px; height: 550px">
    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>

    <div style="width:100%">
        <div style="width:99%; margin-top:10px;">
            <fieldset style="margin-left:5px;margin-right:10px; margin-top:5px;">
                Date :
                <input id="dtStartDate" type="text" style="width: 100px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat, parser:icsdateparser" />
               &nbsp; To &nbsp;
                <input id="dtEndDate" type="text" style="width: 100px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat, parser:icsdateparser" />
                <a id="btnBreezeAbsent" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Breeze Absent</a>
            </fieldset>
        </div>
    </div>
   
</div>

<script type="text/javascript">
    var _sBaseAddress="";

    $(document).ready(function ()
    {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        $('#dtStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#dtEndDate').datebox('setValue', icsdateformat(new Date()));
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
    });

    $('#btnBreezeAbsent').click(function(e){
        var StartDate = $('#dtStartDate').datebox('getValue');
        var EndDate = $('#dtEndDate').datebox('getValue');
        var tsv = ((new Date()).getTime()) / 1000;
        $.ajax
         ({
             type: "POST",
             dataType: "json",
             url: _sBaseAddress + "/ProcessManagement/ProcessBreezeAbsent",
             traditional: true,
             data: JSON.stringify({StartDate:StartDate,EndDate:EndDate,ts: tsv}),
             contentType: "application/json; charset=utf-8",
             success: function (data) {
                 var sMsg = "";
                 sMsg = jQuery.parseJSON(data);
                 
                 if (sMsg=="") 
                 {
                     alert("Processed Successfully !");
                 }
                 else 
                 {
                     alert(sMsg);
                 }
             },
             error: function (xhr, status, error) {
                 alert(error);
             }
         });
    });

</script>
