<html>
<head>
</head>
<body>
    @model ESimSol.BusinessObjects.DyeingCapacity
    <div class="menuMainCollectionTable" id="MainDiv" style="height: 550px;">
        <div id="divDyeingCapacity" class="easyui-panel" title="DyeingCapacity" style="font-family:Tahoma; text-align:center; height:89%;">
            <fieldset style="height:100%; text-align:center;">
                <legend style="font-weight:bold"> Dyeing Capacity Informations : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:90%">
                    <tr>
                        <td style="height:150px;">&nbsp;</td>
                        <td style="height:150px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="width:20%; text-align:right">
                            Dyeing Type :
                        </td>
                        <td style="width: 30%; text-align: left">
                            <select style="width:90%" id="cboDyeingType"></select>
                        </td>
                        <td style="width:20%; text-align:right">
                            Production Hour :
                        </td>
                        <td style="width: 30%; text-align: left">
                            <input type="text" style="width: 90%;" id="txtProductionHour" onkeyup="CapacityPerHourCount()" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%; text-align:right">
                            Based Product :
                        </td>
                        <td style="width: 40%; text-align: left " colspan="3">
                            <input type="text" style="width: 97%;" id="txtBasedProduct" onkeydown="ProductKeyDown(event)" />
                        </td>
                        <td style="width:30%; text-align:right">
                            <input type="button" id="btnProduct" onclick="PickProduct()" style="width:95%;float:right;" value="Pick" />
                        </td>
                    </tr>   
                    <tr>
                        <td style="width:20%; text-align:right">
                            Producton Capacity :
                        </td>
                        <td style="width: 30%; text-align: left">
                            <input type="text" style="width: 45%;" id="txtProductionCapacity" onkeyup="CapacityPerHourCount()" />
                            <input type="text" style="width:45%" id="txtProductionPerHour" disabled />
                        </td>

                        <td style="width:20%; text-align:right">
                            Measurement Unit :
                        </td>
                        <td style="width:30%; text-align:left">
                            <select style="width:90%" id="cboMunitId"></select>
                        </td>
                    </tr>

                    <tr>
                        <td style="width:30%; text-align:right">
                            Remarks :
                        </td>
                        <td style="width: 70%; text-align: left " colspan="3">
                            <input type="text" style="width: 97%;" id="txtRemarks" />
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:100%;text-align:right">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
    
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {        
        var oDyeingCapacity =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 
        var oDyeingTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.DyeingType)); 
        var oMUnit=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.MUnit));
        var nBUID=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));        
        var sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        $("#cboDyeingType").icsLoadCombo({List: oDyeingTypes, OptionValue: "id", DisplayText: "Value" });
        $("#cboMunitId").icsLoadCombo({List: oMUnit, OptionValue: "MeasurementUnitID", DisplayText: "Symbol", InitialValue:"--Measurement Unit--" });
        $('#txtProductionHour,#txtProductionCapacity,#txtProductionPerHour').icsCurrencyBox(null, null,2);
        
        $('#divDyeingCapacity').data('BUID', nBUID);
        $('#divDyeingCapacity').data('DyeingCapacity', oDyeingCapacity);
        $('#divDyeingCapacity').data('BaseAddress', sBaseAddress);
        RefreshControl(oDyeingCapacity);
        if(sessionStorage.getItem("DyeingCapacityHeader")=="View Dyeing Capacity")
        {            
            $('#btnSave').hide();            
            $('#cboDyeingType').attr('disabled','disabled');
            $('#txtProductionHour').attr('disabled','disabled');
            $('#txtProductionCapacity').attr('disabled','disabled');            
            $('#cboMunitId').attr('disabled','disabled');
            $('#txtProductionPerHour').attr('disabled','disabled')
            $('#txtRemarks').attr('disabled','disabled');
            $('#txtBasedProduct').attr('disabled','disabled');
            $('#btnProduct').hide();
        }
    });
    function RefreshControl(oDyeingCapacity)
    {        
        $("#cboDyeingType").val(parseInt(oDyeingCapacity.DyeingType));
        $("#txtProductionHour").val(formatPrice(oDyeingCapacity.ProductionHour));
        $("#txtProductionCapacity").val(formatPrice(oDyeingCapacity.ProductionCapacity));
        $('#cboMunitId').val(parseInt(oDyeingCapacity.MUnitId));
        $("#txtProductionPerHour").val(formatPrice(oDyeingCapacity.CapacityPerHour));
        $("#txtRemarks").val(oDyeingCapacity.Remarks);
        $('#txtBasedProduct').val(oDyeingCapacity.ProductName);
        $("#MainDiv").data("ProductID",oDyeingCapacity.BaseProductID);
    }

    function ValidateInput()
    {
        var nDyeingType = parseInt($("#cboDyeingType").val());
        if(nDyeingType==null || nDyeingType==0)
        {
            alert("Please select Dyeing type!");
            $('#cboDyeingType').focus();
            return false;
        }
        if($("#txtProductionHour").val()<=0)
        {
            alert("Please enter Production Hour!");
            $('#txtProductionHour').focus();
            return false;
        }
        if($("#txtProductionCapacity").val()<=0)
        {
            alert("Please enter Production Capacity!");
            $('#txtProductionCapacity').focus();
            return false;
        }
        var nMunitId = parseInt($("#cboMunitId").val());
        if(nMunitId==null || nMunitId==0)
        {
            alert("Please select Measurment Unit!");
            $('#cboMunitId').focus();
            return false;
        }
        //parseFloat(icsRemoveComma($('#txtUnitPrice').val()));
        if($("#txtProductionPerHour").val()<=0)
        {
            alert("Please enter Production per Hour!");
            $('#txtProductionPerHour').focus();
            return false;
        }
        if($("#txtRemarks").val()==null || $("#txtRemarks").val()=="")
        {
            alert("Please enter Remarks!");
            $('#txtRemarks').focus();
            return false;
        }
        return true;
    }

    function ProductKeyDown(event) {
        //return;
        if (event.which == 13) {
            var oTxtName=$("#txtBasedProduct").val();
            if (oTxtName != null) {
                PickProduct(oTxtName);
            }
        }
        if (event.which == 8) {
            $("#MainDiv").data("BasedProductID",0);
            txtBuyer.style.color="Black";
        }
    }
    function PickProduct(oTxtName)
    {
        var oStyleSearch = {
            BUID: parseInt($('#divDyeingCapacity').data('BUID')),
            ProductName:(typeof(oTxtName) != 'undefined'?oTxtName:"")
        };

        debugger;
        var obj = {
            BaseAddress : $('#divDyeingCapacity').data('BaseAddress'),
            Object: (oStyleSearch) ,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        var tblColums = [];
        var oColumn = { field: "ProductCode", title: "Product Code", width: 120, align: "left" }; tblColums.push(oColumn);
            oColumn = { field: "ProductName", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
            DynamicPiker('Product',obj,tblColums,false,'ProductName','ProductID',400);
    }
    function DynamicPiker(pickerName,obj,pTblColums,pMultiReturn,pSearchField,pID,nWidth)
    {
        debugger;
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        setInterval(updateProgress,250);

        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0][pID] > 0) {
                    debugger;
                    var tblColums = pTblColums;
                    var oPickerParam = {
                        winid: 'win'+pickerName,
                        winclass: 'cls'+pickerName,
                        winwidth: nWidth,
                        winheight: 460,
                        tableid: 'tbl'+pickerName+'s',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: pMultiReturn,
                        searchingbyfieldName: pSearchField,
                        windowTittle: pickerName+' List',
                        colsable:true
                    };
                    $.icsPicker(oPickerParam);
                    $("#progressbar").progressbar({ value: 0 });//hide
                    $("#progressbarParent").hide();
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                    $("#progressbar").progressbar({ value: 0 });//hide
                    $("#progressbarParent").hide();
                }
            }
            else{
                alert("Data Not Found.");
                $("#progressbar").progressbar({ value: 0 });//hide
                $("#progressbarParent").hide();
                return;
            }
        });
    }
    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }
    function SetPickerValueAssign(oPickerobj)
    {
        var oResult;
        if (oPickerobj.multiplereturn)
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getChecked');
        }
        else
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getSelected');
        }
        if (oPickerobj.winid == 'winProduct')
        {
            SetProduct(oResult);
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }
    function SetProduct(oSelectedStyle) {
        debugger;
        document.getElementById("txtBasedProduct").value = oSelectedStyle.ProductName;
        $("#MainDiv").data("ProductID",oSelectedStyle.ProductID);
        txtBasedProduct.style.color="Blue";
    }
    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 90){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);   
        }
    }
    function RefreshObject()
    {        
        var oDyeingCapacity= {
            DyeingCapacityID : parseInt($('#divDyeingCapacity').data('DyeingCapacity').DyeingCapacityID),
            DyeingType : parseInt($("#cboDyeingType").val()),
            ProductionHour : parseFloat(icsRemoveComma($('#txtProductionHour').val())),
            ProductionCapacity: parseFloat(icsRemoveComma($('#txtProductionCapacity').val())),
            MUnitId : parseInt($("#cboMunitId").val()),
            CapacityPerHour : parseFloat(icsRemoveComma($('#txtProductionPerHour').val())),
            Remarks : $("#txtRemarks").val(),
            BaseProductID: $("#MainDiv").data("ProductID")
        };
        return oDyeingCapacity;
    }
    $('#btnSave').click(function(){
        if(!ValidateInput()) return;
        var oDyeingType=RefreshObject();

        $.ajax({
            type: "POST",
            dataType: "json",            
            url : $('#divDyeingCapacity').data('BaseAddress')+ "/DyeingCapacity/Save",
            traditional: true,
            data:  JSON.stringify(oDyeingType),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {            
                oDyeingType = jQuery.parseJSON(data);
                if (oDyeingType.ErrorMessage=="" || oDyeingType.ErrorMessage==null)
                {
                    alert("Data Saved sucessfully");
                    var oDyeingTypes = sessionStorage.getItem("DyeingCapacitys");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if (oDyeingTypes != null)
                    {
                        oDyeingTypes = jQuery.parseJSON(oDyeingTypes);
                    }
                    else {
                        oDyeingTypes = [];
                    }
                    if (nIndex != -1)
                    {
                        oDyeingTypes[nIndex] = oDyeingType;
                    }
                    else {
                        sessionStorage.setItem("SelectedRowIndex", oDyeingTypes.length);
                        oDyeingTypes.push(oDyeingType);
                    }
                    sessionStorage.setItem("DyeingCapacitys", JSON.stringify(oDyeingTypes));
                    window.location.href = sessionStorage.getItem("BackLink");
                }
                else 
                {
                    alert(oDyeingType.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });
    $('#btnClose').click(function(){
        window.location.href = sessionStorage.getItem("BackLink");
    });
    function CapacityPerHourCount(){
        if(parseFloat(icsRemoveComma($('#txtProductionHour').val()))>0)
        {
            var CapacityPerHour=(parseFloat(icsRemoveComma($('#txtProductionCapacity').val())) / parseFloat(icsRemoveComma($('#txtProductionHour').val())));        
            $('#txtProductionPerHour').val(formatPrice(CapacityPerHour));
        }
    }
</script>