@model IEnumerable<ESimSol.BusinessObjects.SalesReport>
    @{
        ViewBag.Title = "Sales Report Details";
    }
    <div class="menuMainCollectionTable" style="height:450px">
        <table id="tblSalesReportDetail" title="Sales Report Details Layer 2 | Marketing Person : @ViewBag.MktPersonName_Year" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="false" showFooter="true" singleselect="true" autorowheight="false">
            <thead>
                <tr>
                    <th field="MonthInST" width="12%" align="left">Months</th>    
                    <th field="MUnitName" width="8%" align="left" resizable="true">MUnit</th>                                      
                    <th field="Qty" width="10%" formatter="formatPrice" align="right">Qty</th>              
                    <th field="ValueST"  width="15%" align="right">Value</th>
                </tr>
            </thead>
        </table>
    </div>
    <div style="display:block;overflow:hidden;height:100px">
        <fieldset>
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                <tr>
                    <td style="width:60%; text-align:right"></td>
                    <td style="width:40%;text-align:right;">
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>

<script>
    var SalesReportID = [];
    var ViewType = [];
    var MktPersonName = [];
    $(document).ready(function () {
        debugger;
        var oSalesReportDetails =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        $('#tblSalesReportDetail').data('SalesReport',oSalesReportDetails);
        $('#tblSalesReportDetail').data('BaseAddress', sBaseAddress);
        SalesReportID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.SalesReportID));
        ViewType = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ViewType));
        MktPersonName = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.MktPersonName));

        RefreshList(oSalesReportDetails);

    });

    function RefreshList(oSalesReportDetails) {
        debugger;
        if(oSalesReportDetails[0].ErrorMessage!=""){
            alert("No Data Found");
            DynamicRefreshList([], "tblSalesReportDetail");
            var win  = window.open("","_self");
            win.close();
        }
        data={"total":""+oSalesReportDetails.length+"","rows":oSalesReportDetails};
        $('#tblSalesReportDetail').datagrid('loadData',data);
        var nSelectedRowIndex =parseInt(sessionStorage.getItem("SelectedRowIndex"));
        if(nSelectedRowIndex!=-1)
        {
            $('#tblSalesReportDetail').datagrid('selectRow', nSelectedRowIndex);
        }
        $.icsMakeFooterColumn('tblSalesReportDetail',['MonthInST','Value','Qty']);
    }

    $('#btnClose').click(function(){

        var win  = window.open("","_self");
        //window.location.href = sessionStorage.getItem("BackLink");
        win.close();
    });

    $('#tblSalesReportDetail').datagrid({
        onDblClickRow: function(index,row){
            debugger;
            //var nViewType = parseInt($( "#cboReportType" ).val());
            sessionStorage.setItem("BackLink2", window.location.href);
            var sYear = parseInt(row.Year);
            var monthValue = parseInt(row.Month);
            var MktID = parseInt(row.RefID);
            var sValue = sYear+'~'+monthValue+'~'+MktID+'~'+SalesReportID+'~'+ViewType+'~'+MktPersonName;
            window.open(_sBaseAddress+"/SalesReport/ViewSalesReportLayer3?sValue="+sValue,"_blank");
        }
    });
    </script>


