<html>
@{
    ViewBag.Title = "Raw Material Out Register";
}
<body>
    @model ESimSol.BusinessObjects.RMOutRegister
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable">
        <div class="easyui-panel" title="Raw Material Out Register" style="font-family:Tahoma; text-align:center; height:88%;">
            <fieldset style="height:95%; text-align:center;">
                <legend style="font-weight:bold"> Serching Criteria   : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:100%">
                    <tr>
                        <td colspan="5" style="height:20px;"></td>                        
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Requisition No :</td>
                        <td style="width:30%;text-align:left"> 
                            <input type="text" style="width:98%" id="txtRequisitionNo" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> PI No :</td>
                        <td style="width:38%;text-align:right">
                            <input type="text" style="width:98%" id="txtPINo" /> 
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Buyer :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtBuyer" placeholder="Press enter with Buyer name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearBuyer" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickBuyer" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Requisition Date:</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboRequisitionDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtRequisitionDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtRequisitionDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Product :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtProduct" placeholder="Press enter with product name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearProduct" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickProduct" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">Sheet No:</td>
                        <td style="width:38%;text-align:right">
                            <input type="text" style="width:98%" id="txtProductionSheetNo" /> 
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:50%;text-align:right">
                                                 
                    </td>
                    <td style="width:50%;text-align:right">
                        <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                        <a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>

<style>
    td, th {
        padding: 2px;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        var nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));        
        var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));

        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        $("#cboRequisitionDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });        
        $('#txtRequisitionDateStart').datebox({ disabled : true });
        $('#txtRequisitionDateEnd').datebox({ disabled : true });
        $('#txtRequisitionDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtRequisitionDateEnd').datebox('setValue', icsdateformat(new Date()));

        $('#txtBuyer').data('Buyers', []);
        $('#txtProduct').data('Products', []);      
        
    });



    function ValidateSearch()
    {

        var nRequisitionDate = parseInt($('#cboRequisitionDate').val());
        if(nRequisitionDate===1 || nRequisitionDate===2 || nRequisitionDate===3 || nRequisitionDate===4)
        {
            var sRequisitionDateStart   = $('#txtRequisitionDateStart').datebox('getValue');
            if(sRequisitionDateStart===null || sRequisitionDateStart==="")
            {
                alert("Please select Challan start date!");
                $('#txtRequisitionDateStart').focus();
                return false;
            }
        }
        if(nRequisitionDate===5 || nRequisitionDate===6)
        {
            var sRequisitionDateStart   = $('#txtRequisitionDateStart').datebox('getValue');
            var sRequisitionDateEnd   = $('#txtRequisitionDateEnd').datebox('getValue');
            if(sRequisitionDateStart===null || sRequisitionDateStart==="")
            {
                alert("Please select Challan start date!");
                $('#txtRequisitionDateStart').focus();
                return false;
            }
            if(sRequisitionDateEnd===null || sRequisitionDateEnd==="")
            {
                alert("Please select Challan end date!");
                $('#txtRequisitionDateEnd').focus();
                return false;
            }
            if(new Date(sRequisitionDateStart) > new Date(sRequisitionDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtRequisitionDateStart').focus();
                return false;
            }
        }

        var sRequisitionNo =$.trim($('#txtRequisitionNo').val());        
        var sPINo =$.trim($('#txtPINo').val());        
        var sProductionSheetNo =$.trim($('#txtProductionSheetNo').val());
        var oBuyers = $('#txtBuyer').data('Buyers');
        var oProducts = $('#txtProduct').data('Products');
        
        if(nRequisitionDate === 0 && sRequisitionNo === "" && sPINo === "" && sProductionSheetNo === "" && oBuyers.length<=0 && oProducts.length<=0)
        {
            alert("Please select at least one searching criteriea!");
            return false;
        }
        return true;
    }

    function RefreshObject()
    {
        var oBuyers = $('#txtBuyer').data('Buyers');
        var oProducts = $('#txtProduct').data('Products');
        
        var nRequisitionDate = parseInt($('#cboRequisitionDate').val());
        var sRequisitionDateStart   = $('#txtRequisitionDateStart').datebox('getValue');
        var sRequisitionDateEnd   = $('#txtRequisitionDateEnd').datebox('getValue');
        
        var sRequisitionNo =$.trim($('#txtRequisitionNo').val());        
        var sPINo =$.trim($('#txtPINo').val());        
        var sProductionSheetNo =$.trim($('#txtProductionSheetNo').val());

        var sSearchingData  =  nRequisitionDate+'~';
        sSearchingData = sSearchingData + sRequisitionDateStart+'~';
        sSearchingData = sSearchingData + sRequisitionDateEnd; 

        var oRMOutRegister = {
            BUID : parseInt(sessionStorage.getItem("BUID")),
            RMRequisitionNo : $.trim($('#txtRequisitionNo').val()),
            ExportPINo : $.trim($('#txtPINo').val()),
            ProductionSheetNo : $.trim($('#txtProductionSheetNo').val()),            
            ContractorName : ICS_PropertyConcatation(oBuyers, 'ContractorID'),
            RMProductName : ICS_PropertyConcatation(oProducts, 'ProductID'),            
            SearchingData : sSearchingData
        };
        return oRMOutRegister;
    }

    $('#btnPreview').click(function(e){
        if(!ValidateSearch()) return;
        var oRMOutRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/RawMaterialOut/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oRMOutRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/RawMaterialOut/PrintRMOutRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    $('#btnExportToExcel').click(function(e){
        if(!ValidateSearch()) return;
        var oRMOutRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/RawMaterialOut/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oRMOutRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/RawMaterialOut/ExportToExcelRMOutRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    $('#cboRequisitionDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboRequisitionDate').val());
        if(nCompareOperator===0)
        {
            $('#txtRequisitionDateStart').datebox({ disabled : true });
            $('#txtRequisitionDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtRequisitionDateStart').datebox({ disabled : false });
            $('#txtRequisitionDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtRequisitionDateStart').datebox({ disabled : false });
            $('#txtRequisitionDateEnd').datebox({ disabled : false });
        }
        $('#txtRequisitionDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtRequisitionDateEnd').datebox('setValue', icsdateformat(new Date()));
    });


    $('#btnClose').click(function (e) {
        window.location.href = window.location.href;
    });

    ///Buyer Pick
    function PickBuyer()
    {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oContractor = { Params: 2 + '~' + $.trim($('#txtBuyer').val())+'~'+ nBUID };//here 1 is Buyer
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winBuyers',
                        winclass: 'clsBuyers',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblBuyers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Buyer List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtBuyer").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtBuyer').val())===null || $.trim($('#txtBuyer').val())==="")
            {
                alert("Press enter with Buyer name");
                return;
            }
            PickBuyer();
        }
    });
    $("#btnPickBuyer").click(function () {
        $('#txtBuyer').val('');
        PickBuyer();
    });
    $('#txtBuyer').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtBuyer").removeClass("fontColorOfPickItem");
            $('#txtBuyer').data('Buyers', []);
        }
    });
    $('#btnClearBuyer').click(function(e){
        $("#txtBuyer").val("");
        $('#txtBuyer').data('Buyers', []);
        $("#txtBuyer").removeClass("fontColorOfPickItem");
    });
    //End Buyer Picker

    //Product Pick
    function PickProduct()
    {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oProduct = {
            BUID : nBUID,
            ProductName : $.trim($('#txtProduct').val())
        };
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Product Code", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Product Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductCategoryName", title: "Category", width: 100, align: "left" }; tblColums.push(oColumn)
                    var oPickerParam = {
                        winid: 'winProducts',
                        winclass: 'clsProducts',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProducts',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'ProductName',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtProduct").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtProduct').val())===null || $.trim($('#txtProduct').val())==="")
            {
                alert("Press enter with product name");
                return;
            }
            PickProduct();
        }
    });
    $("#btnPickProduct").click(function () {
        $('#txtProduct').val('');
        PickProduct();
    });
    $('#txtProduct').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtProduct").removeClass("fontColorOfPickItem");
            $('#txtProduct').data('Products', []);
        }
    });
    $('#btnClearProduct').click(function(e){
        $("#txtProduct").val("");
        $('#txtProduct').data('Products', []);
        $("#txtProduct").removeClass("fontColorOfPickItem");
    });
    //End Product Picker

    //Bank Branch Pick
    function PickBankRanch()
    {
        var oBankBranch = {
            BankName : $.trim($('#txtBankBranch').val())
        };
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oBankBranch,
            ControllerName: "BankBranch",
            ActionName: "GetsBankBranchSearchByBankName",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].BankBranchID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "BranchCode", title: "Branch Code", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BankName", title: "Bank Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "BranchName", title: "Branch Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winBankBranchs',
                        winclass: 'clsBankBranchs',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblBankBranchs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'BankName',
                        windowTittle: 'Bank Branch List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtBankBranch").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtBankBranch').val())===null || $.trim($('#txtBankBranch').val())==="")
            {
                alert("Press enter with product name");
                return;
            }
            PickBankRanch();
        }
    });
    $("#btnPickBank").click(function () {
        $('#txtBankBranch').val('');
        PickBankRanch();
    });
    $('#txtBankBranch').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtBankBranch").removeClass("fontColorOfPickItem");
            $('#txtBankBranch').data('BankBranchs', []);
        }
    });
    $('#btnClearBank').click(function(e){
        $("#txtBankBranch").val("");
        $('#txtBankBranch').data('BankBranchs', []);
        $("#txtBankBranch").removeClass("fontColorOfPickItem");
    });
    //End Product Picker

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid === 'winBuyers')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtBuyer').val(oreturnobjs.length+"'s Buyers seleted");
                $('#txtBuyer').addClass('fontColorOfPickItem');
                $('#txtBuyer').data('Buyers', oreturnobjs);
                $('#txtBuyer').focus();
            }
        }
        else if (oPickerobj.winid === 'winProducts')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtProduct').val(oreturnobjs.length+"'s Products seleted");
                $('#txtProduct').addClass('fontColorOfPickItem');
                $('#txtProduct').data('Products', oreturnobjs);
                $('#txtProduct').focus();
            }
        }
        else if (oPickerobj.winid === 'winBankBranchs')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtBankBranch').val(oreturnobjs.length+"'s Bank Branchs seleted");
                $('#txtBankBranch').addClass('fontColorOfPickItem');
                $('#txtBankBranch').data('BankBranchs', oreturnobjs);
                $('#txtBankBranch').focus();
            }
        }
    }

    function updateProgress() {
        var value =$('#progbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progbarParent").hide();
    }
</script>