@{
    ViewBag.Title = "Add Order Setup";
}
@model ESimSol.BusinessObjects.DUOrderSetup

<div ng-app="DUOrderSetupAPP" ng-controller="DUOrderSetupCtrl" class="form-horizontal regionDUOrderSetup">
    <div class="ui-grid-top-panel" style="height:40px">
        <div class="text-left" style="margin-left:-25px; padding-top:6px">
            <div class="col-md-2 text-right">
                <label class="control-label">Business Unit :</label>
            </div>
            <div class="col-md-2 text-left">
                <select id="cboUnit" ng-model="DUOrderSetup.BUID" style="width:220px;" ng-options="obj.BusinessUnitID as obj.BUTypeSt for obj in BusinessUnits" ng-disabled="DUBusinessUnitID > 0" class="form-control">
                    <option value="">--Select One--</option>
                </select>
            </div>
        </div>
    </div>
    <fieldset>
        <legend>Invoice Info</legend>
        <div class="row col-md-12" style="padding-top:20px">
            <div class="col-md-2 text-right"><label class="control-label">Order Type:</label></div>
            <div class="col-md-3 text-left">
                <select id="cboOrderType" ng-model="DUOrderSetup.OrderType" ng-options="obj.id as obj.Value for obj in OrderTypes" ng-disabled="disabled" class="form-control">
                    <option value="">--Select Type--</option>
                </select>
            </div>
            <div class="col-md-2 text-right"><label class="control-label">Order Name:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="DUOrderSetup.OrderName" ng-disabled="disabled" class="form-control" required />
            </div>
            <div class="col-md-2 text-right"><label class="control-label">Number Code:</label></div>

            <div class="col-md-3 text-left">
                <input ng-model="DUOrderSetup.NoCode" ng-disabled="disabled" class="form-control" required />
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-2 text-right"><label class="control-label">Short Name:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="DUOrderSetup.ShortName" ng-disabled="disabled" class="form-control" required />
            </div>
            <div class="col-md-2 text-right"><label class="control-label">DO No Code:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="DUOrderSetup.DONoCode" ng-disabled="disabled" class="form-control" required />
            </div>
            <div class="col-md-2 text-right"><label class="control-label">PrintNo:</label></div>
            <div class="col-md-3 text-left">
                <select id="cboOrderType" ng-model="DUOrderSetup.PrintNo" ng-options="obj.id as obj.Value for obj in PrintNos" ng-disabled="disabled" class="form-control">
                    <option value="">--Select One--</option>
                </select>
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-2 text-right"><label class="control-label">From Unit:</label></div>
            <div class="col-md-3 text-left">
                <select id="cboOrderType" ng-model="DUOrderSetup.MUnitID" ng-options="obj.MeasurementUnitID as obj.UnitNameType for obj in MeasurementUnits" ng-disabled="disabled" class="form-control">
                    <option value="">--Select One--</option>
                </select>
            </div>
            <div class="col-md-2 text-right"><label class="control-label">To Unit:</label></div>
            <div class="col-md-3 text-left">
                <select id="cboOrderType" ng-model="DUOrderSetup.MUnitID_Alt" ng-options="obj.MeasurementUnitID as obj.UnitNameType for obj in MeasurementUnits" ng-disabled="disabled" class="form-control">
                    <option value="">--Select One--</option>
                </select>
            </div>
            <div class="col-md-2 text-right"><label class="control-label">Currency:</label></div> @*Value:*@

            <div class="col-md-3 text-left">
                <select id="cboOrderType" ng-model="DUOrderSetup.CurrencyID" ng-options="obj.CurrencyID as obj.CurrencyName for obj in Currencys" ng-disabled="disabled" class="form-control">
                    <option value="">--Select One--</option>
                </select>
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-2 text-right"><label class="control-label">Print Name:</label></div>
            <div class="col-md-6 text-left">
                <input ng-model="DUOrderSetup.PrintName" ng-disabled="disabled" class="form-control" />
            </div>
            <div class="col-md-2 text-right"><label class="control-label">Combo No:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="DUOrderSetup.ComboNo" ng-disabled="disabled" class="form-control number" required />
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-2 text-right"><label class="control-label">NoteFixed:</label></div>
            <div class="col-md-10 text-left">
                <input ng-model="DUOrderSetup.NoteFixed" ng-disabled="disabled" class="form-control" />
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-2 text-right"><label class="control-label">Is In House?:</label></div>
            <div class="col-md-6 text-left">
                <input type="checkbox" ng-click="ComboChange('IsInHouse',true)" ng-model="DUOrderSetup.IsInHouse">Yes
                <input type="checkbox" ng-click="ComboChange('IsInHouse',false)" ng-model="!DUOrderSetup.IsInHouse">No
            </div>
            @*<div class="col-md-4 text-left">
            </div>*@
            <div class="col-md-2 text-right"><label class="control-label">Combo No (DC):</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="DUOrderSetup.ComboNoDC" ng-disabled="disabled" class="form-control number" required />
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-2 text-right"><label class="control-label">Is P/I Mendatory?:</label></div>
            <div class="col-md-6 text-left">
                <input type="checkbox" ng-click="ComboChange('IsPIMendatory',true)" ng-model="DUOrderSetup.IsPIMendatory">Yes
                <input type="checkbox" ng-click="ComboChange('IsPIMendatory',false)" ng-model="!DUOrderSetup.IsPIMendatory">No
            </div>
            <div class="col-md-2 text-right"><label class="control-label">Delivery Grace:</label></div>
            <div class="col-md-3 text-left">
                <input ng-model="DUOrderSetup.DeliveryGrace" ng-disabled="disabled" class="form-control number" required />
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-2 text-right"><label class="control-label" style="font-size:11px">Outside Production?</label></div>
            <div class="col-md-6 text-left">
                Apply
                <input type="checkbox" ng-model="DUOrderSetup.IsApplyOutside" ng-click="ComboChange('IsApplyOutside',true)">Yes
                <input type="checkbox" ng-model="!DUOrderSetup.IsApplyOutside" ng-click="ComboChange('IsApplyOutside',false)">No
            </div>
            <div class="col-md-2 text-right"><label class="control-label">Delivery Validation:</label></div>
            <div class="col-md-3 text-left">
                <select id="cboDeliveryValidation" ng-model="DUOrderSetup.DeliveryValidation" ng-options="obj.id as obj.Value for obj in DeliveryValidation" ng-disabled="disabled" class="form-control">
                    <option value="">--Select One--</option>
                </select>
            </div>

        </div>

        <div class="row col-md-12">
            <div class="col-md-2 text-right"><label class="control-label" style="font-size:11px">Apply Dyeing Step?:</label></div>
            <div class="col-md-2 text-left">
                <input type="checkbox" ng-model="DUOrderSetup.IsApplyDyeingStep" ng-click="ComboChange('IsApplyDyeingStep',true)">Yes
                <input type="checkbox" ng-model="!DUOrderSetup.IsApplyDyeingStep" ng-click="ComboChange('IsApplyDyeingStep',false)">No
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-2 text-right"><label class="control-label">Rate Mendatory?:</label></div>
            <div class="col-md-2 text-left">
                <input type="checkbox" ng-model="DUOrderSetup.IsRateMendatory" ng-click="ComboChange('IsRateMendatory',true)">Yes
                <input type="checkbox" ng-model="!DUOrderSetup.IsRateMendatory" ng-click="ComboChange('IsRateMendatory',false)">No
            </div>

        </div>
        <div class="row col-md-12">
            <div class="col-md-2 text-right"><label class="control-label" style="font-size:11px">Invoice Mendatory?:</label></div>
            <div class="col-md-2 text-left">
                <input type="checkbox" ng-model="DUOrderSetup.IsInvoiceMendatory" ng-click="ComboChange('IsInvoiceMendatory',true)">Yes
                <input type="checkbox" ng-model="!DUOrderSetup.IsInvoiceMendatory" ng-click="ComboChange('IsInvoiceMendatory',false)">No
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-2 text-right"><label class="control-label">Is Save Lab Dip?:</label></div>
            <div class="col-md-2 text-left">
                <input type="checkbox" ng-model="DUOrderSetup.IsSaveLabDip" ng-click="ComboChange('IsSaveLabDip',true)">Yes
                <input type="checkbox" ng-model="!DUOrderSetup.IsSaveLabDip" ng-click="ComboChange('IsSaveLabDip',false)">No
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-2 text-right"><label class="control-label">Is Apply Fabric?:</label></div>
            <div class="col-md-2 text-left">
                <input type="checkbox" ng-model="DUOrderSetup.IsApplyFabric" ng-click="ComboChange('IsApplyFabric',true)">Yes
                <input type="checkbox" ng-model="!DUOrderSetup.IsApplyFabric" ng-click="ComboChange('IsApplyFabric',false)">No
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-2 text-right"><label class="control-label">Is Open Raw Lot?:</label></div>
            <div class="col-md-2 text-left">
                <input type="checkbox" ng-model="DUOrderSetup.IsOpenRawLot" ng-click="ComboChange('IsOpenRawLot',true)">Yes
                <input type="checkbox" ng-model="!DUOrderSetup.IsOpenRawLot" ng-click="ComboChange('IsOpenRawLot',false)">No
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Action</legend>
        <div class="row col-md-12 text-right">
            <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="save_Revise()" ng-hide="hide_Revise"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> Save(Revise)</span> </button>
            <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="Approve()" ng-hide="hide_Approve"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> Approve</span> </button>
            <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="save()" ng-hide="hide_Save"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">Save</span> </button>
            <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="close()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"> Close</span> </button>
        </div>
    </fieldset>
</div>


<style type="text/css">
    .grid {
        width: 100%;
        height: 320px;
    }

    .regionDUOrderSetup .form-horizontal .control-label {
        padding-top: 3px;
    }

    .regionDUOrderSetup .form-control {
        height: 26px;
        padding: 0px 6px;
        font-size: 12px;
    }

    .regionDUOrderSetup .col-md-12 {
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
        margin-bottom: 5px;
    }

    .regionDUOrderSetup .col-md-2 {
        width: 13%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .regionDUOrderSetup .col-md-3 {
        width: 20%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .regionDUOrderSetup .col-md-4 {
        width: 28%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .regionDUOrderSetup .col-md-5 {
        width: 40%;
        padding-right: 5px;
        padding-left: 0px;
    }

    .regionDUOrderSetup .col-md-6 {
        width: 53%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .regionDUOrderSetup .col-md-10 {
        width: 86%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .regionDUOrderSetup .btn-sm {
        padding: 3px 10px;
    }

    .regionDUOrderSetup .input-group-addon {
        padding: 4px 8px;
    }
</style>

<script type="text/javascript">

    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    var oDUOrderSetup =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var oOrderTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.OrderTypes));
    var oPrintNos =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.PrintNos));
    var oMeasurementUnits =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.MeasurementUnits));
    var oCurrencys =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Currencys));
    var nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
    var oBusinessUnits = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
    var oDeliveryValidations =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.DeliveryValidations));

    var DUOrderSetupModule = angular.module('DUOrderSetupAPP', ['ngAnimate', 'ui.bootstrap', 'ui.grid', 'ui.grid.selection', 'ui.grid.edit','ms.service']);
    DUOrderSetupModule.controller('DUOrderSetupCtrl', function ($scope, $http, $uibModal, $log, uiGridConstants, msModal, userSession) {
        debugger;
        var viewType = sessionStorage.getItem("Operation");
        if (viewType == 'View')
        {
            $scope.disabled= true;
            $scope.hide=true;

            $scope.hide_Revise=true;
            $scope.hide_Approve=true;
            $scope.hide_Save=true;
        }
        else  if (viewType == 'Approve')
        {
            $scope.disabled= true;
            $scope.hide=true;
            $scope.hide_Revise=true;
            $scope.hide_Approve=false;
            $scope.hide_Save=true;
        }
        else
        {
            $scope.disabled= false;
            $scope.hide=false;
            $scope.hide_Revise=true;
            $scope.hide_Approve=true;
            $scope.hide_Save=false;
        }

        $scope.BusinessUnits=oBusinessUnits;
        $scope.DUBusinessUnitID=nBUID;
        //$scope.Currencys=oCurrencys;
        $scope.OrderTypes=oOrderTypes;
        $scope.DUOrderSetup=oDUOrderSetup;

        debugger;
        if($scope.DUOrderSetup.DUOrderSetupID==0)
            $scope.DUOrderSetup.BUID=nBUID;

        $scope.PrintNos=oPrintNos
        $scope.DeliveryValidation=oDeliveryValidations;
        $scope.MeasurementUnits=oMeasurementUnits;
        $scope.Currencys=oCurrencys;

        $scope.ComboChange= function(nField,Value)
        {
            //console.log(this);
            //console.log(nField);
            //console.log(Value);
            //alert($scope.DUOrderSetup[nField]);
            //if($scope.DUOrderSetup[nField])
            //{
            //    alert("Same");//$scope.DUOrderSetup[nField]!=Value;
            //}
            //else

            $scope.DUOrderSetup[nField]=Value;
        }


        $scope.save = function () {
            $http.post(_sBaseAddress+'/DUOrderSetup/Save',JSON.stringify($scope.DUOrderSetup)).then(
                function (response) {
                    var result=jQuery.parseJSON(response.data);
                    if(result.DUOrderSetupID>0)
                    {
                        debugger;
                        $scope.DUOrderSetup=result;
                        userSession.setData('DUOrderSetups',$scope.DUOrderSetup);
                        userSession.previousPage();
                        // msModal.Message({headerTitle : '', bodyText:'Save Successfully.', sucessText : 'Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                    }
                    else
                    {
                        alert(result.ErrorMessage);
                    }

                },
                function (response) { alert(jQuery.parseJSON(response.data).ErrorMessage);}
        );
        };


        $scope.close = function () {
            userSession.previousPage();
        };


        $scope.SearchKeyDownPackingList =  function (e) {
            //debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                var txtInvoiceNos = $.trim($scope.InvoiceNo);
                if(txtInvoiceNos=="" || txtInvoiceNos==null)
                {
                    alert("Type Invoice No and Press Enter");
                    return;
                }
                $scope.PickPackingList();
            }else if (code == 8) //backspace=8
            {
                //debugger;
                $scope.InvoiceNos = '';
            }
        };
        $scope.PickPackingList= function () {
            var oDUOrderSetupDetail = {
                ImportInvoiceNo: $.trim($scope.InvoiceNo)
            };

            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(_sBaseAddress+'/DUOrderSetup/GetsPackingList',$.param(oDUOrderSetupDetail), config).then(
                    function (response)
                    {
                        var oColumns = [];
                        var oColumn = { field: 'ImportInvoiceNo', name: 'InvoiceNo',width: '20%'  };oColumns.push(oColumn);
                        oColumn = { field: 'LotNo', name: 'Lot No',width: '15%', enableSorting: false  };oColumns.push(oColumn);
                        oColumn = { field: 'Qty', name: 'Qty',width: '12%', enableSorting: false  };oColumns.push(oColumn);
                        oColumn = { field: 'NumberOfPack', name: 'NumberOfPack',width: '12%', enableSorting: false  };oColumns.push(oColumn);
                        oColumn = { field: 'QtyPerPack', name: 'QtyPerPack',width: '12%', enableSorting: false  };oColumns.push(oColumn);
                        oColumn = { field: 'Qty_IPL', name: 'Qty(Packing List)',width: '12%', enableSorting: false  };oColumns.push(oColumn);
                        oColumn = { field: 'Qty_GRN', name: 'Qty(GRN)',width: '12%', enableSorting: false  };oColumns.push(oColumn);
                        var results=jQuery.parseJSON(response.data);
                        var modalObj={
                            size:'lg',
                            title:'Packing List',
                            url:_sBaseAddress+'/Home/Modal',
                            modalController:'',
                            appController:'DUOrderSetupCtrl',
                            objs:results,
                            multiSelect:true,
                            pickertitle:' Packing List',
                            searchingbyfieldName:'ImportInvoiceNo',
                            columns:oColumns
                        }
                        var modalInstance=msModal.Instance(modalObj);
                        modalInstance.result.then(function (result)
                        {

                            angular.forEach(result,function(value,index){
                                $scope.gridOptions.data.push(value);
                            });
                            $scope.gridApi.grid.modifyRows($scope.gridOptions.data);


                        }, function () {
                            $log.info('Modal dismissed at: ' + new Date());
                        });
                    },
                        function (response) { alert(jQuery.parseJSON(response.data).Message);}
                );
        };




        $scope.deleteDetail = function ()
        {
            debugger;
            var data = $scope.gridApi.selection.getSelectedRows();
            if(data==null || data[0].length>0){
                msModal.Message({headerTitle : '', bodyText:"Select an item from list", sucessText : ' Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                return false;
            }
            angular.forEach($scope.gridOptions.data, function (value, index)
            {
                if (value.DUOrderSetupDetailID == data[0].DUOrderSetupDetailID) {
                    $scope.gridOptions.data.splice(index, 1);
                }
            }, $scope.gridOptions.data);
            //$http.post('/DUOrderSetup/DeleteDetail', JSON.stringify(data[0])).then(
            //                function (response)
            //                {
            //                    if (jQuery.parseJSON(response.data) == 'Deleted')
            //                    {
            //                        angular.forEach($scope.gridOptions.data, function (value, index)
            //                        {
            //                            if (value.DUOrderSetupDetailID == data[0].DUOrderSetupDetailID) {
            //                                $scope.gridOptions.data.splice(index, 1);
            //                            }
            //                        }, $scope.gridOptions.data);
            //                    }
            //                    else {
            //                        msModal.Message({headerTitle : '', bodyText:jQuery.parseJSON(response.data), sucessText : ' Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
            //                    }
            //                },
            //                function (response) { alert(jQuery.parseJSON(response.data)); }
            //            );
        };


        $scope.Modal = function (obj, operation, url) {
            debugger;
            var modalInstance = $uibModal.open({
                //animation: $scope.animationsEnabled,
                ariaLabelledBy: 'modal-title',
                ariaDescribedBy: 'modal-body',
                size: 'lg',
                templateUrl: 'DUOrderSetupDeatailModal.html',
                controller: 'ModalInstanceCtrl',
                controllerAs: 'DUOrderSetupCtrl',
                resolve: {
                    obj: function () {
                        return { DUOrderSetup:$scope.DUOrderSetup, DUOrderSetupDetail: obj, operation: operation };
                    }
                }
            });

            modalInstance.result.then(function (result) {
                if(operation=='add'){
                    $scope.gridOptions.data.push(result);
                    if(result.DUOrderSetup.DUOrderSetupID>0)
                    {
                        $scope.DUOrderSetup=result.DUOrderSetup;
                        userSession.setData('DUOrderSetups',$scope.DUOrderSetup);
                        $scope.gridApi.grid.modifyRows($scope.gridOptions.data);
                        $scope.gridApi.selection.selectRow($scope.gridOptions.data[0]);
                    }
                }
                else{
                    $scope.gridOptions.data[$scope.index]=result;
                    $scope.gridApi.grid.modifyRows($scope.gridOptions.data);
                    $scope.gridApi.selection.selectRow($scope.gridOptions.data[$scope.index]);
                }
            }, function () {
                $log.info('Modal dismissed at: ' + new Date());
            });
        };






    });


    DUOrderSetupModule.controller('ModalInstanceCtrl', function ($scope, $http, $uibModalInstance, msModal, obj) {
        debugger;
        $scope.operation=obj.operation;
        $scope.DUOrderSetup=obj.DUOrderSetup;

        if(obj.DUOrderSetupDetail!=null){
            $scope.DUOrderSetupDetail = obj.DUOrderSetupDetail;
        }
        else{
            $scope.DUOrderSetupDetail={
                DUOrderSetupDetailID : 0,
                DUOrderSetupID : $scope.DUOrderSetup.DUOrderSetupID,
                ProductID : 0,
                ProductName : '',
                Type : 0,
                MUnitID : 0,
                UnitPrice : 0,
                LotID : 0,
                LotNo : '',
                StapleLength : '',
                BaleQty : 0,
                PartyGrossWeigth : 0,
                PartyPerBalePare : 0,
                ScaleGrossWeigth  : 0,
                ScalePerBalePare : 0,
                PartyTotalBalePare : 0,
                ScaleTotalBalePare : 0,
                PartyNetWeight : 0,
                ScaleNetWeight : 0,
                DUOrderSetup:null
            }
        }
    });

</script>


