<html>
@{
    ViewBag.Title = "Landing Cost Registers";
}
<body>
    @model ESimSol.BusinessObjects.LandingCostRegister
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div id="divLandingCost" class="menuMainCollectionTable">
        <div class="easyui-panel" title="Landing Cost Registers" style="font-family:Tahoma; text-align:center; height:88%;">
            <fieldset style="height:95%; text-align:center;">
                <legend style="font-weight:bold"> Serching Criteria : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:100%">
                    <tr>
                        <td colspan="5" style="height:20px;"></td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Import LC No :</td>
                        <td style="width:30%;text-align:left">
                            <input type="text" style="width:100%" id="txtImportLCNo" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Bill Date :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboBillDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtBillDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtBillDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right">Import Invoice : </td>
                        <td style="width:30%;text-align:left">
                            <input type="text" style="width:100%" id="txtImportInvoiceNo" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Invoice Date:</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboInvoiceDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtInvoiceDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtInvoiceDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Supplier :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:70%; text-align:left">
                                        <input type="text" style="width:98%" id="txtSupplier" placeholder="Press enter with supplier name" />
                                    </td>
                                    <td style="width:30%; text-align:right">
                                        <input type="button" value="C" style="width:30%" id="btnClearSupplier" />
                                        <input type="button" value="Pick" style="width:65%" id="btnPickSupplier" />
                                    </td>
                                </tr>
                            </table>
                            
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Approved Date:</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboBillApprovedDate" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtBillApprovedDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtBillApprovedDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Approved By:</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboApprovedBy" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Bill Amount :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboBillAmount" style="width:100%"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtBillAmountStart" type="text" style=" width:95%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtBillAmountEnd" type="text" style=" width:95%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>                    
                    <tr>
                        <td style="width:15%;text-align:right">Product Type :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboImportProducts" style="width:100%">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">Bill No :</td>
                        <td style="width:38%;text-align:right">
                            <input type="text" id="txtBillNo" style="width:100%" />
                        </td>
                    </tr> 
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:50%;text-align:right"></td>
                    <td style="width:50%;text-align:right">
                        @*<a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>*@
                        <a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>


<script type="text/javascript">
    var _sBaseAddress="";
    var _nBUID = ""
    $(document).ready(function () {
        _nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oApprovalUsers = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ApprovalUsers));        
        var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        var oImportProducts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ImportProducts));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));

        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        $('#txtBillAmountStart,#txtBillAmountEnd').icsCurrencyBox();
        $("#cboBillDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboInvoiceDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboBillApprovedDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboBillAmount").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboApprovedBy").icsLoadCombo({ List: oApprovalUsers, OptionValue: "UserID", DisplayText: "UserName" });        
        $("#cboImportProducts").icsLoadCombo({ List: oImportProducts, OptionValue: "ProductTypeInt", DisplayText: "Name" });
        $('#txtBillDateStart').datebox({ disabled : true });
        $('#txtBillDateEnd').datebox({ disabled : true });
        $('#txtInvoiceDateStart').datebox({ disabled : true });
        $('#txtInvoiceDateEnd').datebox({ disabled : true });
        $('#txtBillApprovedDateStart').datebox({ disabled : true });
        $('#txtBillApprovedDateEnd').datebox({ disabled : true });
        $('#txtBillAmountStart').prop("disabled", true);
        $('#txtBillAmountEnd').prop("disabled", true);
        
        $('#txtBillDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtBillDateEnd').datebox('setValue', icsdateformat(new Date()));
        $('#txtInvoiceDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtInvoiceDateEnd').datebox('setValue', icsdateformat(new Date()));
        $('#txtBillApprovedDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtBillApprovedDateEnd').datebox('setValue', icsdateformat(new Date()));
        $('#txtBillAmountStart').val('0.00');
        $('#txtBillAmountEnd').val('0.00');
        $('#txtSupplier').data('Suppliers', []);
    });

    function ValidateSearch()
    {

        var nBillDate = parseInt($('#cboBillDate').val());
        if(nBillDate===1 || nBillDate===2 || nBillDate===3 || nBillDate===4)
        {
            var sBillDateStart   = $('#txtBillDateStart').datebox('getValue');
            if(sBillDateStart===null || sBillDateStart==="")
            {
                alert("Please select GRN start date!");
                $('#txtBillDateStart').focus();
                return false;
            }
        }
        if(nBillDate===5 || nBillDate===6)
        {
            var sBillDateStart   = $('#txtBillDateStart').datebox('getValue');
            var sBillDateEnd   = $('#txtBillDateEnd').datebox('getValue');
            if(sBillDateStart===null || sBillDateStart==="")
            {
                alert("Please select GRN start date!");
                $('#txtBillDateStart').focus();
                return false;
            }
            if(sBillDateEnd===null || sBillDateEnd==="")
            {
                alert("Please select GRN end date!");
                $('#txtBillDateEnd').focus();
                return false;
            }
            if(new Date(sBillDateStart) > new Date(sBillDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtBillDateStart').focus();
                return false;
            }
        }

        var nInvoiceDate = parseInt($('#cboInvoiceDate').val());
        if(nInvoiceDate===1 || nInvoiceDate===2 || nInvoiceDate===3 || nInvoiceDate===4)
        {
            var sInvoiceDateStart   = $('#txtInvoiceDateStart').datebox('getValue');
            if(sInvoiceDateStart===null || sInvoiceDateStart==="")
            {
                alert("Please select validity start date!");
                $('#txtInvoiceDateStart').focus();
                return false;
            }
        }
        if(nInvoiceDate===5 || nInvoiceDate===6)
        {
            var sInvoiceDateStart   = $('#txtInvoiceDateStart').datebox('getValue');
            var sInvoiceDateEnd   = $('#txtInvoiceDateEnd').datebox('getValue');
            if(sInvoiceDateStart===null || sInvoiceDateStart==="")
            {
                alert("Please select validity start date!");
                $('#txtInvoiceDateStart').focus();
                return false;
            }
            if(sInvoiceDateEnd===null || sInvoiceDateEnd==="")
            {
                alert("Please select validity end date!");
                $('#txtInvoiceDateEnd').focus();
                return false;
            }
            if(new Date(sInvoiceDateStart) > new Date(sInvoiceDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtInvoiceDateStart').focus();
                return false;
            }
        }

        var nBillApprovedDate = parseInt($('#cboBillApprovedDate').val());
        if(nBillApprovedDate===1 || nBillApprovedDate===2 || nBillApprovedDate===3 || nBillApprovedDate===4)
        {
            var sBillApprovedDateStart   = $('#txtBillApprovedDateStart').datebox('getValue');
            if(sBillApprovedDateStart===null || sBillApprovedDateStart==="")
            {
                alert("Please select approved start date!");
                $('#txtBillApprovedDateStart').focus();
                return false;
            }
        }
        if(nBillApprovedDate===5 || nBillApprovedDate===6)
        {
            var sBillApprovedDateStart   = $('#txtBillApprovedDateStart').datebox('getValue');
            var sBillApprovedDateEnd   = $('#txtBillApprovedDateEnd').datebox('getValue');
            if(sBillApprovedDateStart===null || sBillApprovedDateStart==="")
            {
                alert("Please select approved start date!");
                $('#txtBillApprovedDateStart').focus();
                return false;
            }
            if(sBillApprovedDateEnd===null || sBillApprovedDateEnd==="")
            {
                alert("Please select approved end date!");
                $('#txtBillApprovedDateEnd').focus();
                return false;
            }
            if(new Date(sBillApprovedDateStart) > new Date(sBillApprovedDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtBillApprovedDateStart').focus();
                return false;
            }
        }

        var nBillAmount = parseInt($('#cboBillAmount').val());
        if(nBillAmount===1 || nBillAmount===2 || nBillAmount===3 || nBillAmount===4)
        {
            var sBillAmountStart   = $.trim($('#txtBillAmountStart').val());
            if(sBillAmountStart===null || sBillAmountStart==="")
            {
                alert("Please enter invoice start Amount!");
                $('#txtBillAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sBillAmountStart)<=0)
            {
                alert("Please enter GRN start Amount!");
                $('#txtBillAmountStart').focus();
                return false;
            }
        }
        if(nBillAmount===5 || nBillAmount===6)
        {
            var sBillAmountStart = $.trim($('#txtBillAmountStart').val());
            if(sBillAmountStart===null || sBillAmountStart==="")
            {
                alert("Please enter GRN start Amount!");
                $('#txtBillAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sBillAmountStart)<=0)
            {
                alert("Please enter GRN start Amount!");
                $('#txtBillAmountStart').focus();
                return false;
            }

            var sBillAmountEnd = $.trim($('#txtBillAmountEnd').val());
            if(sBillAmountEnd===null || sBillAmountEnd==="")
            {
                alert("Please enter GRN end Amount!");
                $('#txtBillAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sBillAmountEnd)<=0)
            {
                alert("Please enter invoice end Amount!");
                $('#txtBillAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sBillAmountStart) >= icsRemoveComma(sBillAmountEnd))
            {
                alert("Start amount must be smallar than end amount!");
                $('#txtBillAmountStart').focus();
                return false;
            }
        }
        var sImportLCNo =$.trim($('#txtImportLCNo').val());
        var sImportInvoiceNo = $.trim($('#txtImportInvoiceNo').val());
        var nApprovedBy = parseInt($('#cboApprovedBy').val());        
        var oSuppliers = $('#txtSupplier').data('Suppliers');        
        var ncboImportProduct = parseInt($('#cboImportProducts').val());
        var sBillNo = $.trim($('#txtBillNo').val());
        
        
        if(nBillDate === 0 && nInvoiceDate === 0 && nBillApprovedDate === 0 && nBillAmount === 0 && sImportLCNo === "" && sImportInvoiceNo === "" && sBillNo ==="" && nApprovedBy === 0 && oSuppliers.length<=0 && ncboImportProduct<=0)
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        return true;
    }

    function RefreshObject()
    {
        var oSuppliers = $('#txtSupplier').data('Suppliers');
        
        var nBillDate = parseInt($('#cboBillDate').val());
        var sBillDateStart   = $('#txtBillDateStart').datebox('getValue');
        var sBillDateEnd   = $('#txtBillDateEnd').datebox('getValue');

        var nInvoiceDate = parseInt($('#cboInvoiceDate').val());
        var sInvoiceDateStart   = $('#txtInvoiceDateStart').datebox('getValue');
        var sInvoiceDateEnd   = $('#txtInvoiceDateEnd').datebox('getValue');

        var nBillApprovedDate = parseInt($('#cboBillApprovedDate').val());
        var sBillApprovedDateStart   = $('#txtBillApprovedDateStart').datebox('getValue');
        var sBillApprovedDateEnd   = $('#txtBillApprovedDateEnd').datebox('getValue');

        var nBillAmount = parseInt($('#cboBillAmount').val());
        var nBillAmountStart = icsRemoveComma($.trim($('#txtBillAmountStart').val()));
        var nBillAmountEnd = icsRemoveComma($.trim($('#txtBillAmountEnd').val()));
        
        var sSearchingData  =  nBillDate+'~';
        sSearchingData = sSearchingData + sBillDateStart+'~';
        sSearchingData = sSearchingData + sBillDateEnd+'~';
        sSearchingData = sSearchingData + nInvoiceDate+'~';
        sSearchingData = sSearchingData + sInvoiceDateStart+'~';
        sSearchingData = sSearchingData + sInvoiceDateEnd+'~';
        sSearchingData = sSearchingData + nBillApprovedDate+'~';
        sSearchingData = sSearchingData + sBillApprovedDateStart+'~';
        sSearchingData = sSearchingData + sBillApprovedDateEnd+'~';
        sSearchingData = sSearchingData + nBillAmount +'~';
        sSearchingData = sSearchingData + nBillAmountStart +'~';
        sSearchingData = sSearchingData + nBillAmountEnd;

        var oLandingCostRegister = {
            BUID : parseInt(sessionStorage.getItem("BUID")),
            ImportLCNo : $.trim($('#txtImportLCNo').val()),
            ImportInvoiceNo : $.trim($('#txtImportInvoiceNo').val()),
            ProductType : parseInt($('#cboImportProducts').val()),
            ApprovedBy : parseInt($('#cboApprovedBy').val()),            
            SupplierName : ICS_PropertyConcatation(oSuppliers, 'ContractorID'),            
            BillNo : $.trim($('#txtBillNo').val()),            
            SearchingData : sSearchingData
        };
        return oLandingCostRegister;
    }
    
    $('#btnExportToExcel').click(function(e){
        if(!ValidateSearch()) return;
        var oLandingCostRegister = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/LandingCostRegister/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oLandingCostRegister),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/LandingCostRegister/ExportToExcelLandingCostRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#cboBillDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboBillDate').val());
        if(nCompareOperator===0)
        {
            $('#txtBillDateStart').datebox({ disabled : true });
            $('#txtBillDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtBillDateStart').datebox({ disabled : false });
            $('#txtBillDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtBillDateStart').datebox({ disabled : false });
            $('#txtBillDateEnd').datebox({ disabled : false });
        }
        $('#txtBillDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtBillDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboInvoiceDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboInvoiceDate').val());
        if(nCompareOperator===0)
        {
            $('#txtInvoiceDateStart').datebox({ disabled : true });
            $('#txtInvoiceDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtInvoiceDateStart').datebox({ disabled : false });
            $('#txtInvoiceDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtInvoiceDateStart').datebox({ disabled : false });
            $('#txtInvoiceDateEnd').datebox({ disabled : false });
        }
        $('#txtInvoiceDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtInvoiceDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboBillApprovedDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboBillApprovedDate').val());
        if(nCompareOperator===0)
        {
            $('#txtBillApprovedDateStart').datebox({ disabled : true });
            $('#txtBillApprovedDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtBillApprovedDateStart').datebox({ disabled : false });
            $('#txtBillApprovedDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtBillApprovedDateStart').datebox({ disabled : false });
            $('#txtBillApprovedDateEnd').datebox({ disabled : false });
        }
        $('#txtBillApprovedDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtBillApprovedDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboBillAmount').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboBillAmount').val());
        if(nCompareOperator===0)
        {
            $('#txtBillAmountStart').prop("disabled", true);
            $('#txtBillAmountEnd').prop("disabled", true);
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtBillAmountStart').prop("disabled", false);
            $('#txtBillAmountEnd').prop("disabled", true);
        }
        else
        {
            $('#txtBillAmountStart').prop("disabled", false);
            $('#txtBillAmountEnd').prop("disabled", false);
        }
        $('#txtBillAmountStart').val('0.00');
        $('#txtBillAmountEnd').val('0.00');
    });

    $('#btnClose').click(function (e) {
        window.location.href = window.location.href;
    });

    ///Supplier GRNck
    function PickSupplier()
    {
        debugger;
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oContractor = { Params: 1 + '~' + $.trim($('#txtSupplier').val())+'~'+ nBUID };//here 1 is Supplier
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winSuppliers',
                        winclass: 'clsSuppliers',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblSuppliers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Supplier List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }
    $("#txtSupplier").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtSupplier').val())===null || $.trim($('#txtSupplier').val())==="")
            {
                alert("Press enter with supplier name");
                return;
            }
            PickSupplier();
        }
    });
    $("#btnPickSupplier").click(function () {
        $('#txtSupplier').val('');
        PickSupplier();
    });
    $('#txtSupplier').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtSupplier").removeClass("fontColorOfPickItem");
            $('#txtSupplier').data('Suppliers', []);
        }
    });
    $('#btnClearSupplier').click(function(e){
        $("#txtSupplier").val("");
        $('#txtSupplier').data('Suppliers', []);
        $("#txtSupplier").removeClass("fontColorOfPickItem");
    });
    //End Supplier GRNcker

    function IntializePickerbutton(oGRNckerobj) {
        $("#" + oGRNckerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetLandingCostValueAssign(oGRNckerobj);
        });
        $(document).find('.' + oGRNckerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetLandingCostValueAssign(oGRNckerobj);
            }
        });
    }

    function SetLandingCostValueAssign(oGRNckerobj) {
        debugger;
        var oreturnObj = null, oreturnobjs = [];
        if (oGRNckerobj.multiplereturn) {
            oreturnobjs = $('#' + oGRNckerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oGRNckerobj.tableid).datagrid('getSelected');
        }
        $("#" + oGRNckerobj.winid).icsWindow("close");
        $("#" + oGRNckerobj.winid).remove();

        if (oGRNckerobj.winid === 'winSuppliers')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtSupplier').val(oreturnobjs.length+"'s Suppliers seleted");
                $('#txtSupplier').addClass('fontColorOfPickItem');
                $('#txtSupplier').data('Suppliers', oreturnobjs);
                $('#txtSupplier').focus();
            }
        }
    }

    function updateProgress() {
        var value =$('#progbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progbarParent").hide();
    }
</script>