<div class="modal-header" >
    <h4 class="modal-title" id="modal-title" ng-bind="PickerTitle">Advance Search</h4>
</div>
<div class="modal-body regionSearch">
    <fieldset style="margin-bottom: 0px;">
        <legend>Searching criterion</legend>

        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">Lot No:</label></div>
            <div class="col-md-9 text-left">
                <input type="text" class="form-control" ng-model="LotNo">
            </div>
        </div>

        @*<div class="row col-md-12">
                <div class="col-md-3 text-right"><label class="control-label">Requisition Type:</label></div>
                <div class="col-md-9 text-left">
                    <select class="form-control" ng-model="cboRequisitionType" ng-options="item.InOutType as item.ShortName for item in RequisitionTypes">
                        <option value="">----Select Type----</option>
                    </select>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-3 text-right"><label class="control-label">Issue Store:</label></div>
                <div class="col-md-9 text-left">
                    <select ng-model="cboIssueStore" ng-options="obj.WorkingUnitID as obj.OperationUnitName for obj in IssueStores" ng-change="cboIssueStoreChange()" ng-disabled="disabled" class="form-control">
                        <option value="">--Select Type--</option>
                    </select>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-3 text-right"><label class="control-label">Receive Store:</label></div>
                <div class="col-md-9 text-left">
                    <select ng-model="cboReceiveStore" ng-options="obj.WorkingUnitID as obj.OperationUnitName for obj in ReceiveStores" ng-change="cboReceiveStoreChange()" ng-disabled="disabled" class="form-control">
                        <option value="">--Select Type--</option>
                    </select>
                </div>
            </div>*@

        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">Receive Date:</label></div>
            <div class="col-md-9 text-left">
                <div class="col-md-4 text-left">
                    <select class="form-control" ng-model="cboReceiveDate" ng-change="ReceiveDateChange()" ng-options="item.id as item.Value for item in CompareOperators"></select>
                </div>
                <div class="col-md-8 text-left">
                    <div class="col-md-12">
                        <div class="input-group date date-container" style="width:25%;float:left">
                            <input type="text" class="form-control" ng-model="ReceiveDateStart"><span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                        </div>
                        <div style="width:9%;float:inherit;">
                            <select id="cboHourStart"  style="width:100%;height:26px;">
                                <option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
                                <option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option>
                                <option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option>
                                <option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option>
                                <option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option>
                            </select>
                        </div>
                        <div style="width:9%;float:inherit;">
                            <select id="cboMinStart" style="width:100%;height:26px;">
                                <option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
                                <option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option>
                                <option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option>
                                <option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option>
                                <option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option>
                                <option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option>
                                <option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option>
                                <option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option>
                                <option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option>
                                <option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option>
                                <option value="50">50</option><option value="51">51</option><option value="52">52</option><option value="53">53</option><option value="54">54</option>
                                <option value="55">55</option><option value="56">56</option><option value="57">57</option><option value="58">58</option><option value="59">59</option>
                                <option value="60">60</option>
                            </select>
                        </div>
                            @*<div class="input-group date date-container">
                <input type="text" class="form-control" ng-model="txtStartTime" id="txtStartTime" style="width:99%;"><span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
            </div>*@
                            <div style="width:14%;float:inherit;">
                                <span class="input-group-addon" style="height:26px;"><span class="label label-primary">To</span></span>
                            </div>
                            <div class="input-group date date-container" style="width:25%;float:left">
                                <input type="text" class="form-control" ng-model="ReceiveDateEnd" ng-disabled="ReceiveDateEndDisabled"><span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                            </div>
                        <div style="width:9%;float:inherit;">
                            <select id="cboHourEnd" style="width:100%;height:26px;">
                                <option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
                                <option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option>
                                <option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option>
                                <option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option>
                                <option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option>
                            </select>
                        </div>
                        <div style="width:9%;float:inherit;">
                            <select id="cboMinEnd" style="width:100%;height:26px;">
                                <option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option>
                                <option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option>
                                <option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option>
                                <option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option>
                                <option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option>
                                <option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option>
                                <option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option>
                                <option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option>
                                <option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option>
                                <option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option>
                                <option value="50">50</option><option value="51">51</option><option value="52">52</option><option value="53">53</option><option value="54">54</option>
                                <option value="55">55</option><option value="56">56</option><option value="57">57</option><option value="58">58</option><option value="59">59</option>
                                <option value="60">60</option>
                            </select>
                        </div>
                        </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3 text-right">
                <label class="control-label">Yarn Name:</label>
            </div>
            <div class="col-md-8 text-left">
                <div class="input-group">
                    <input ng-model="YarnName" class="form-control" ng-keydown="SearchKeyDownYarn($event)" placeholder="Type Yarn Name & Press Enter" required />
                    <span class="input-group-btn">
                        <button style="margin-left:3px" type="button" class="btn btn-sm btn-danger" aria-label="left Align" ng-click="ClearYarn()"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                        <button style="margin-left:3px" type="button" class="btn btn-sm btn-primary" aria-label="Left Align" ng-click="PickYarn()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>
            </div>
        </div>

        <div class="row col-md-12">
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right">
                <input type="checkbox" ng-model="YetToApprove">
                <label class="control-label">Wating for Start</label>
            </div>
            <div class="col-md-3 text-left">
                <input type="checkbox" ng-model="YetToIssue">
                <label class="control-label">Wating for Complete</label>
            </div>
            <div class="col-md-3 text-left">
                <input type="checkbox" ng-model="YetToReceive">
                <label class="control-label">Wating for Deliver</label>
            </div>
        </div>

    </fieldset>
</div>
<div class="modal-footer">
    <label ng-hide="lblLoadingMessage" style="float:left;color:green; ">Loading Please Wait...</label>
    <button class="btn btn-success" type="button" ng-click="reset()">Reset</button>
    <button class="btn btn-primary" type="button" ng-click="search()">Search</button>
    <button class="btn btn-warning" type="button" ng-click="closeAdvanceSearchModal()">Close</button>
</div>
<style type="text/css">
    .regionSearch .form-control {
        height: 26px;
        padding: 0px 2px;
        font-size: 12px;
    }

    .regionSearch .control-label {
        padding-top: 1px;
    }

    .regionSearch .col-md-12 {
        width: 100%;
        padding-right: 1px;
        padding-left: 1px;
        margin-bottom: 5px;
    }

    .regionSearch .col-md-3 {
        width: 25%;
        padding-left: 1px;
    }

    .regionSearch .col-md-9 {
        width: 75%;
        padding-right: 1px;
    }

    .regionSearch .col-md-4 {
        width: 28%;
        padding-right: 1px;
        padding-left: 1px;
    }

    .regionSearch .col-md-8 {
        width: 72%;
        padding-right: 1px;
        padding-left: 1px;
    }

    .regionSearch .col-md-5 {
        width: 40%;
        padding-right: 1px;
        padding-left: 1px;
    }

    .regionSearch .col-md-6 {
        width: 48%;
        padding-right: 0px;
        padding-left: 0px;
    }

    .regionSearch .col-md-1 {
        width: 10%;
        padding-right: 1px;
        padding-left: 1px;
    }

    .regionSearch .btn-sm {
        padding: 3px 10px;
    }

    .regionSearch .input-group-addon {
        padding: 2px 8px;
    }

    .regionSearch.col-sm-3 {
        width: 40%;
    }
</style>
