@{
    ViewBag.Title = "Sub-Contract Fabric Receive";
}
<html>
<body>
    @model ESimSol.BusinessObjects.WUSubContractFabricReceive

    <div class="menuMainCollectionTable" style="height:100%; width:100%">
        <div id="ViewFabricReceive" title="Sub-Contract Fabric Receive" class="easyui-panel" style="padding:5px; height:500px;  width:100%">
                <fieldset style="height:100%; width:100%">
                    <legend>Sub-Contract Fabric Receive Info :</legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width: 100%">
                        <tr>
                            <td style="text-align:right; width:15%">
                                Job No :
                            </td>
                            <td style="width:35%">
                                <input id="txtJobNo" style="width: 100%;" type="text" disabled="disabled" />
                            </td>
                            <td style="text-align:right; width:15%">
                                Receive No :
                            </td>
                            <td style="width:35%">
                                <input id="txtReceiveNo" style="width: 100%;" type="text" disabled="disabled" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right; width:15%">
                                Factory :
                            </td>
                            <td style="width:35%">
                                <input id="txtFactory" type="text" style="width:100%" disabled="disabled" />
                            </td>
                            <td style="text-align:right; width:15%">
                                Contract Person :
                            </td>
                            <td style="width:35%">
                                <input id="txtContractPerson" style="width: 100%;" type="text" disabled="disabled" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right; width:15%">
                                Buyer :
                            </td>
                            <td style="width:35%">
                                <input id="txtBuyer" type="text" style="width:100%" disabled="disabled" />
                            </td>
                            <td style="text-align:right; width:15%">
                                Style No :
                            </td>
                            <td style="width:35%">
                                <input id="txtStyleNo" style="width: 100%;" type="text" disabled="disabled" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right; width:15%">
                                Composition :
                            </td>
                            <td style="width:35%">
                                <input id="txtComposition" type="text" style="width:100%" disabled="disabled" />
                            </td>
                            <td style="text-align:right; width:15%">
                                Construction :
                            </td>
                            <td style="width:35%">
                                <input id="txtConstruction" style="width: 100%;" type="text" disabled="disabled" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right; width:15%">
                                Receive Store :
                            </td>
                            <td style="width:35%">
                                <select style="width:100%; height:21px" id="cboReceiveStore"> </select>
                            </td>
                            <td style="text-align:right; width:15%">
                                Receive Date :
                            </td>
                            <td style="width:35%">
                                <input type="text" style="width:100%;" id="dtpReceiveDate" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right; width:15%">
                                Lot :
                            </td>
                            <td style="width:35%">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                    <tr>
                                        <td style="width:80%">
                                            <input id="txtLot" style="width: 100%;" type="text" />
                                        </td>
                                        <td style="text-align:left; width:10%">
                                            <input id="btnPickLot" type="button" value="P" style="width:100%" />
                                        </td>
                                        <td style="text-align:left; width:10%">
                                            <input id="btnClearLot" type="button" value="C" style="width:100%" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td style="text-align:right; width:15%">
                                Party Challan No :
                            </td>
                            <td style="width:35%">
                                <input id="txtPartyChallanNo" style="width: 100%;" type="text" />
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right; width:15%">
                                New Lot No :
                            </td>
                            <td style="width:35%">
                                <input id="txtNewLotNo" style="width: 100%;" type="text" />
                            </td>
                            <td style="text-align:right; width:15%">
                                Yet To Rcv Qty :
                            </td>
                            <td style="width:35%">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                    <tr>
                                        <td style="width:68%">
                                            <input id="txtYetToRcvQty" style="width: 100%;" type="text" disabled="disabled" />
                                        </td>
                                        <td style="width:2%"></td>
                                        <td style="width:30%">
                                            <input id="txtYetToRcvQtyMUnit" type="text" style="width:100%" disabled="disabled" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right; width:15%">
                                Roll No :
                            </td>
                            <td style="width:35%">
                                <input id="txtRollNo" type="text" style="width:100%" />
                            </td>
                            <td style="text-align:right; width:15%">
                                Received Qty :
                            </td>
                            <td style="width:35%">
                                <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                    <tr>
                                        <td style="width:68%">
                                            <input id="txtReceivedQty" style="width: 100%;" type="text" />
                                        </td>
                                        <td style="width:2%"></td>
                                        <td style="width:30%">
                                            <input id="txtReceivedQtyMUnit" type="text" style="width:100%" disabled="disabled" />
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right; width:15%">
                                Process Loss Qty :
                            </td>
                            <td style="width:35%">
                                <input id="txtProcessLossQty" style="width: 100%;" type="text" />
                            </td>
                            <td style="text-align:right; width:15%">
                                Remarks :
                            </td>
                            <td style="width:35%">
                                <input id="txtRemarks" style="width: 100%;" type="text" />
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>     
        <fieldset style="height:10%; width:99%">
            <legend>Action :</legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                <tr>
                    <td style="width:70%"></td>
                    <td style="width:30%; text-align:right;">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        var oWUSubContractFabricReceive = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oWUSubContract = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.WUSubContract)); 
        var oStores = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Stores));

        $('#ViewFabricReceive').data('WUSubContractFabricReceive', oWUSubContractFabricReceive);
        $('#ViewFabricReceive').data('WUSubContract', oWUSubContract);
        $('#ViewFabricReceive').data('Stores', oStores);
        $("#txtLot").data('PickerLot', 0);

        $("#dtpReceiveDate").datebox('setValue', icsdateformat(new Date()));
        $("#cboReceiveStore").icsLoadCombo({ List: oStores, OptionValue: "WorkingUnitID", DisplayText: "WorkingUnitName", InitialValue: "--Stores--" });
        $("#txtYetToRcvQty,#txtReceivedQty,#txtProcessLossQty").icsCurrencyBox(null, 0, 2);
        $("#txtRollNo").icsCurrencyBox(null, 0, 0);

        $("#AppMainLayout").layout('collapse', 'west');
        $("#AppMainLayout").layout('expand', 'west');
        $("#AppMainLayout").layout('expand', 'west');

        RefreshControl(oWUSubContractFabricReceive);
    });

    function RefreshControl(oWUSubContractFabricReceive) {
        var oWUSubContract = $('#ViewFabricReceive').data('WUSubContract');

        $("#txtJobNo").val(oWUSubContract.JobNo);
        $("#txtReceiveNo").val(oWUSubContractFabricReceive.ReceiveNo);
        $('#dtpReceiveDate').datebox('setValue', oWUSubContractFabricReceive.ReceiveDateSt);
        $("#txtFactory").val(oWUSubContract.SupplierName);
        $("#txtContractPerson").val(oWUSubContract.SupplierCPName);
        $("#txtBuyer").val(oWUSubContract.BuyerName);
        $("#txtStyleNo").val(oWUSubContract.StyleNo);
        $("#txtComposition").val(oWUSubContract.CompositionName);
        $("#txtConstruction").val(oWUSubContract.Construction);
        $("#cboReceiveStore").val(oWUSubContractFabricReceive.ReceiveStoreID);
        $("#txtPartyChallanNo").val(oWUSubContractFabricReceive.PartyChallanNo);
        $("#txtLot").val(oWUSubContractFabricReceive.LotNo);
        $("#txtYetToRcvQty").val(oWUSubContract.YetToRcvQtySt);
        $("#txtYetToRcvQtyMUnit").val(oWUSubContract.MUSymbol);        
        $("#txtNewLotNo").val(oWUSubContractFabricReceive.NewLotNo);
        $("#txtReceivedQty").val(oWUSubContractFabricReceive.ReceivedQtySt);
        $("#txtReceivedQtyMUnit").val(oWUSubContract.MUSymbol);
        $("#txtRollNo").val(oWUSubContractFabricReceive.RollNo);
        $("#txtProcessLossQty").val(oWUSubContractFabricReceive.ProcessLossQtySt);
        $("#txtRemarks").val(oWUSubContractFabricReceive.Remarks);

        if (sessionStorage.getItem("SubContractHeader") == "View Fabric Receive") {
            $("#ViewFabricReceive :input").attr("disabled", true);
            $('#dtpReceiveDate').textbox('readonly', true);
            $('#btnSave').hide();
        }
    }

    $("#btnSave").click(function () {
        if (!ValidateInput()) return;
        var oWUSubContractFabricReceive = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: sessionStorage.getItem('BaseAddress') + "/WUSubContractFabricReceive/Save",
            traditional: true,
            data: JSON.stringify(oWUSubContractFabricReceive),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oWUSubContractFabricReceive = jQuery.parseJSON(data);
                if (oWUSubContractFabricReceive.ErrorMessage == "" || oWUSubContractFabricReceive.ErrorMessage == null) {
                    alert("Data Saved sucessfully");
                    var oWUSubContractFabricReceives = sessionStorage.getItem("WUSubContractFabricReceives");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if (oWUSubContractFabricReceives != null) {
                        oWUSubContractFabricReceives = jQuery.parseJSON(oWUSubContractFabricReceives);
                    }
                    else {
                        oWUSubContractFabricReceives = [];
                    }
                    if (nIndex != -1) {
                        oWUSubContractFabricReceives[nIndex] = oWUSubContractFabricReceive;
                    }
                    else {
                        sessionStorage.setItem("SelectedRowIndex", oWUSubContractFabricReceives.length);
                        oWUSubContractFabricReceives.push(oWUSubContractFabricReceive);
                    }
                    sessionStorage.setItem("WUSubContractFabricReceives", JSON.stringify(oWUSubContractFabricReceives));
                    window.location.href = sessionStorage.getItem("BackLink");
                }
                else {
                    alert(oWUSubContractFabricReceive.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    function RefreshObject() {
        var oTempWUSubContractFabricReceive = $('#ViewFabricReceive').data('WUSubContractFabricReceive');
        var oWUSubContract = $('#ViewFabricReceive').data('WUSubContract');

        var oWUSubContractFabricReceive = {
            WUSubContractFabricReceiveID: parseInt(oTempWUSubContractFabricReceive.WUSubContractFabricReceiveID),
            WUSubContractID: parseInt(oWUSubContract.WUSubContractID),
            ReceiveNo: oTempWUSubContractFabricReceive.ReceiveNo,
            ReceiveDate: $('#dtpReceiveDate').datebox('getValue'),
            PartyChallanNo: $('#txtPartyChallanNo').val(),
            ReceiveStoreID: parseInt($("#cboReceiveStore").val()),
            CompositionID: parseInt(oWUSubContract.CompositionID),
            Construction: $("#txtConstruction").val(),
            LotID: parseInt($("#txtLot").data('PickerLot')),
            NewLotNo: $("#txtNewLotNo").val(),
            MunitID: parseInt(oWUSubContract.MUnitID),
            ReceivedQty: $("#txtReceivedQty").val(),
            RollNo: parseInt(icsRemoveComma($("#txtRollNo").val())),
            ProcessLossQty: $("#txtProcessLossQty").val(),
            Remarks: $("#txtRemarks").val(),
            ApprovedBy: parseInt(oTempWUSubContractFabricReceive.ApprovedBy)           
        };
        return oWUSubContractFabricReceive;
    }

    function ValidateInput() {
        var nReceiveStore = parseInt($("#cboReceiveStore").val());
        if (nReceiveStore == null || nReceiveStore == 0) {
            alert("Please Select Receive Store First !!");
            $('#cboReceiveStore').focus();
            return false;
        }
        if ($("#txtPartyChallanNo").val() == null || $("#txtPartyChallanNo").val() == "") {
            alert("Please Write Party Challan Number First !!");
            $("#txtPartyChallanNo").focus();
            return false;
        }
        if (($("#txtLot").val() == null || $("#txtLot").val() == "") && ($("#txtNewLotNo").val() == null || $("#txtNewLotNo").val() == "")) {
            alert("Please Pick a Lot Number or Write a New Lot Number First !!");
            return false;
        }
        if (($("#txtLot").val() != null && $("#txtLot").val() != "") && ($("#txtNewLotNo").val() != null && $("#txtNewLotNo").val() != "")) {
            alert("Please Pick or Write only one Lot Number !!");
            return false;
        }
        if ($("#txtRollNo").val() <= 0 || $("#txtRollNo").val() == "") {
            alert("Please Write Roll Number First !!");
            $("#txtRollNo").focus();
            return false;
        }
        if ($("#txtProcessLossQty").val() <= 0 || $("#txtProcessLossQty").val() == "") {
            alert("Please Write Process Loss Quantity First !!");
            $("#txtProcessLossQty").focus();
            return false;
        }
        return true;
    }

    $("#btnClose").click(function () {
        window.location.href = sessionStorage.getItem("BackLink");
    });

    $("#txtLot").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            PickLot();
        }
        if (code == 8||code==27) {
            $("#txtLot").data("PickerLot", 0);
        }
    });

    $("#btnPickLot").click(function () {
        PickLot();
    });

    $("#btnClearLot").click(function () {
        $("#txtLot").data("PickerLot", 0);
        $("#txtLot").val("");
    });

    function PickLot()
    {
        if($("#cboReceiveStore").val()<=0){
            alert("Select Receive Store !!");
            $("#cboReceiveStore").focus();
            return;
        }

        var oWorkingUnit = GetBusinessUnit(parseInt($("#cboReceiveStore").val()));
        var nBUID = (oWorkingUnit != null) ? oWorkingUnit.BUID : 0;

        var oRefObject = {
            BUID: nBUID,
            LotNo: $.trim($('#txtLot').val()),
            ProductID: $('#ViewFabricReceive').data('WUSubContract').CompositionID,
            WorkingUnitID: parseInt($("#cboReceiveStore").val())
        };

		var tblColums = [];
        var oColumn = { field: "ProductCode", title: "Code", width: "15%", align: "left" }; tblColums.push(oColumn);
            oColumn = { field: "ProductName", title: "Name", width: "45%", align: "left" }; tblColums.push(oColumn);
            oColumn = { field: "LotNo", title: "Lot No", width: "35%", align: "left" }; tblColums.push(oColumn);

        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oRefObject,
            ControllerName:"KnittingYarnChallan",
            ActionName:"GetLotByYarn",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].LotID > 0) {
                    var oPickerParam = {
                        winid: 'winLots',
                        winclass: 'clsLots',
                        winwidth: 500,
                        winheight: 450,
                        tableid: 'tblLots',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: "LotNo",
                        windowTittle: 'Lot List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

	function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        if (oPickerobj.winid === 'winLots')
        {
            if (oreturnObj!=null)
            {
                $("#txtLot").val(oreturnObj.LotNo);
                $("#txtLot").data('PickerLot', oreturnObj.LotID);
            }
        }        
    }

    function GetBusinessUnit(nWorkingUnitID) {
        var oStores = $('#ViewFabricReceive').data('Stores');
        if(oStores!=null)
        {
            for(var i=0;i<oStores.length;i++){
                if(oStores[i].WorkingUnitID==nWorkingUnitID){
                    return oStores[i];               
                }
            }
        }
        return null;
    }

</script>