@{
	ViewBag.Title = "Sub-Contract Fabric Receive";
}
<html>
<body>
	@model IEnumerable<ESimSol.BusinessObjects.WUSubContractFabricReceive>
	<div class="menuMainCollectionTable" style="height: 88%">
		<table id="tblWUSubContractFabricReceives" title="Sub-Contract Fabric Receive List" style="height: 100%" class="easyui-datagrid" fit="false" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="ReceiveNo" width="10%" align="right">Receive No</th>
                    <th field="ReceiveDateSt" width="10%" align="right">Receive Date</th>
                    <th field="SupplierName" width="30%" align="left">Factory</th>
                    <th field="SupplierCPName" width="12%" align="left">Contract Person</th>
                    <th field="BuyerName" width="18%" align="left">Buyer</th>
                    <th field="StyleNo" width="15%" align="left">Style</th>
                    <th field="CompositionName" width="15%" align="left">Composition</th>
                    <th field="SubContractConstruction" width="15%" align="left">Construction</th>
                    <th field="StoreName" width="18%" align="left">Store</th>
                    <th field="PartyChallanNo" width="13%" align="right">Party Challan No</th>
                    <th field="LotNo" width="8%" align="right">Lot No</th>
                    <th field="NewLotNo" width="8%" align="right">New Lot No</th>
                    <th field="MUSymbol" width="8%" align="center">MUnit</th>
                    <th field="YetToRcvQtySt" width="8%" align="right">YetToRcvQty</th>
                    <th field="ReceivedQtySt" width="8%" align="right">Received Qty</th>
                    <th field="RollNo" width="8%" align="right">Roll No</th>
                    <th field="ProcessLossQtySt" width="10%" align="right">Process Loss Qty</th>
                    <th field="Remarks" width="15%" align="left">Remarks</th>
                    <th field="ApprovedByName" width="15%" align="center">Approve By</th>
                </tr>
			</thead>
		</table>
        <div id="toolbar">
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
            <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Approve</a>
            <a id="btnPrintPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
        </div>
	</div>
	<fieldset style="width:99%; vertical-align:top;">
		<legend style="font-weight:bold"> Action : </legend>
		<table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold;">
			<tr>
				<td style="width:950px;text-align:right;">
					<a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
				</td>
			</tr>
		</table>
	</fieldset>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        var oWUSubContractFabricReceives = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oAuthorizationRolesMapping = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        var oWUSubContract = @Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.WUSubContract));

        var dgPanel = $('#tblWUSubContractFabricReceives').datagrid('getPanel');
        dgPanel.panel('setTitle', "Fabric Receive For - Job No : " + oWUSubContract.JobNo + ", Factory : " + oWUSubContract.SupplierName);

        $("#tblWUSubContractFabricReceives").data("WUSubContractID", oWUSubContract.WUSubContractID);
        $("#tblWUSubContractFabricReceives").data("BUID", oWUSubContract.BUID);

		var oTempWUSubContractFabricReceives = sessionStorage.getItem("WUSubContractFabricReceives");
        if (oTempWUSubContractFabricReceives != null) {
            oWUSubContractFabricReceives = jQuery.parseJSON(oTempWUSubContractFabricReceives);
        }
		RefreshList(oWUSubContractFabricReceives);

        $("#AppMainLayout").layout('collapse', 'west');
        $("#AppMainLayout").layout('expand', 'west');
        $("#AppMainLayout").layout('expand', 'west');
    });

    function RefreshList(oWUSubContractFabricReceives) {
        data = { "total": "" + oWUSubContractFabricReceives.length + "", "rows": oWUSubContractFabricReceives };
        $('#tblWUSubContractFabricReceives').datagrid('loadData', data);
        var nSelectedRowIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
        if (nSelectedRowIndex != -1) {
            $('#tblWUSubContractFabricReceives').datagrid('selectRow', nSelectedRowIndex);
        }
    }

    $('#btnAdd').click(function () {
        var oWUSubContractFabricReceives = $('#tblWUSubContractFabricReceives').datagrid('getRows');
        sessionStorage.setItem("WUSubContractFabricReceives", JSON.stringify(oWUSubContractFabricReceives));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("SubContractHeader", "Add Fabric Receive");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem("BaseAddress") + "/WUSubContractFabricReceive/ViewWUSubContractFabricReceive?id=0&WUSubContractID=" + parseInt($("#tblWUSubContractFabricReceives").data("WUSubContractID"));
    });

    $('#btnEdit').click(function () {
        var oWUSubContractFabricReceive = $('#tblWUSubContractFabricReceives').datagrid('getSelected');
        if (oWUSubContractFabricReceive == null || oWUSubContractFabricReceive.WUSubContractFabricReceiveID <= 0) {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if (oWUSubContractFabricReceive.ApprovedBy != 0) {
            alert("Can not Edit Because it is Already Approved !!");
            return;
        }

        var SelectedRowIndex = $('#tblWUSubContractFabricReceives').datagrid('getRowIndex', oWUSubContractFabricReceive);
        var oWUSubContractFabricReceives = $('#tblWUSubContractFabricReceives').datagrid('getRows');
        sessionStorage.setItem("WUSubContractFabricReceives", JSON.stringify(oWUSubContractFabricReceives));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("SubContractHeader", "Edit Fabric Receive");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem('BaseAddress') + "/WUSubContractFabricReceive/ViewWUSubContractFabricReceive?id=" + oWUSubContractFabricReceive.WUSubContractFabricReceiveID + "&WUSubContractID=" + parseInt($("#tblWUSubContractFabricReceives").data("WUSubContractID"));
    });

    $('#btnView').click(function () {
        var oWUSubContractFabricReceive = $('#tblWUSubContractFabricReceives').datagrid('getSelected');
        if (oWUSubContractFabricReceive == null || oWUSubContractFabricReceive.WUSubContractFabricReceiveID <= 0) {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }

        var SelectedRowIndex = $('#tblWUSubContractFabricReceives').datagrid('getRowIndex', oWUSubContractFabricReceive);
        var oWUSubContractFabricReceives = $('#tblWUSubContractFabricReceives').datagrid('getRows');
        sessionStorage.setItem("WUSubContractFabricReceives", JSON.stringify(oWUSubContractFabricReceives));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("SubContractHeader", "View Fabric Receive");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem('BaseAddress') + "/WUSubContractFabricReceive/ViewWUSubContractFabricReceive?id=" + oWUSubContractFabricReceive.WUSubContractFabricReceiveID + "&WUSubContractID=" + parseInt($("#tblWUSubContractFabricReceives").data("WUSubContractID"));
    });

    $('#btnDelete').click(function () {
        var oWUSubContractFabricReceive = $('#tblWUSubContractFabricReceives').datagrid('getSelected');
        if (oWUSubContractFabricReceive == null || oWUSubContractFabricReceive.WUSubContractFabricReceiveID <= 0) {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if (oWUSubContractFabricReceive.ApprovedBy != 0) {
            alert("Can not Delete Because it is Already Approved !!");
            return;
        }

        if (!confirm("Confirm to Delete?")) return;
        var SelectedRowIndex = $('#tblWUSubContractFabricReceives').datagrid('getRowIndex', oWUSubContractFabricReceive);
        if (oWUSubContractFabricReceive.WUSubContractFabricReceiveID > 0) {
            $.ajax
                ({
                    type: "POST",
                    dataType: "json",
                    url: sessionStorage.getItem('BaseAddress') + "/WUSubContractFabricReceive/Delete",
                    data: JSON.stringify(oWUSubContractFabricReceive),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        feedbackmessage = jQuery.parseJSON(data);
                        if (feedbackmessage == "Deleted") {
                            alert("Delete sucessfully");
                            $('#tblWUSubContractFabricReceives').datagrid('deleteRow', SelectedRowIndex);
                            var oWUSubContractFabricReceives = $('#tblWUSubContractFabricReceives').datagrid('getRows');
                            sessionStorage.setItem("WUSubContractFabricReceives", JSON.stringify(oWUSubContractFabricReceives));
                        }
                        else {
                            alert(feedbackmessage);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
        }
    });

    $("#btnApprove").click(function () {
        var oWUSubContractFabricReceive = $('#tblWUSubContractFabricReceives').datagrid('getSelected');
        if (oWUSubContractFabricReceive == null || oWUSubContractFabricReceive.WUSubContractFabricReceiveID <= 0) {
            alert("Please select a item from list!");
            return;
        }
        if (oWUSubContractFabricReceive.ApprovedBy != 0) {
            alert("Already Approved !!");
            return;
        }

        if (!confirm("Confirm to Approve?")) return;
        var SelectedRowIndex = $('#tblWUSubContractFabricReceives').datagrid('getRowIndex', oWUSubContractFabricReceive);
        if (oWUSubContractFabricReceive.WUSubContractFabricReceiveID > 0) {
            $.ajax
                ({
                    type: "POST",
                    dataType: "json",
                    url: sessionStorage.getItem('BaseAddress') + "/WUSubContractFabricReceive/ApproveFabricReceive",
                    data: JSON.stringify(oWUSubContractFabricReceive),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        var oWUSubContractFabricReceive = jQuery.parseJSON(data);
                        if (oWUSubContractFabricReceive.ErrorMessage == null || oWUSubContractFabricReceive.ErrorMessage == "") {
                            $('#tblWUSubContractFabricReceives').datagrid('updateRow', { index: SelectedRowIndex, row: oWUSubContractFabricReceive });
                            alert("Approved Succesfully!!");
                        }
                        else {
                            alert(oWUSubContractFabricReceive.ErrorMessage);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
        }
    });

    $("#btnPrintPreview").click(function () {
        var oWUSubContractFabricReceive = $('#tblWUSubContractFabricReceives').datagrid('getSelected');
        if (oWUSubContractFabricReceive == null || parseInt(oWUSubContractFabricReceive.WUSubContractFabricReceiveID) <= 0) {
            alert("Please select a Fabric Receive from list !!");
            return;
        }

        var tsv = ((new Date()).getTime()) / 1000;
        window.open(sessionStorage.getItem('BaseAddress') + '/WUSubContractFabricReceive/PrintPreview?id=' + parseInt(oWUSubContractFabricReceive.WUSubContractFabricReceiveID) + '&buid=' + $("#tblWUSubContractFabricReceives").data("BUID") + '&ts=' + tsv, "_blank");
    });

    $("#btnClose").click(function () {
        window.close();
    });

</script>