@{
    ViewBag.Title = "Daily Production Recieve Report";
}

@model ESimSol.BusinessObjects.SUProductionExecution
<html>
    <head>
        <title>Daily Production Recieve Report</title>
    </head>
<body class="menuMainCollectionTable">
    <div id="winPrintFormat2" style="width:200px;" class="easyui-window winstyle" title="Adv. Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <fieldset>
            <legend>Qty Fromat : </legend>
            <table style="width:100%;">
                <tr>
                    <td>
                        <input id="chkInKg2" type="checkbox" checked /> In KG
                    </td>
                    <td>
                        <input id="chkInLBS2" type="checkbox" /> In LBS
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset class="actionfieldsetstyle">
            <legend>Actions : </legend>
            <a id="btnOkPrintFormat2" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
            <a id="btnClosePrintFormat2" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>
    <div>
        <fieldset>
            <legend>Daily Production Recieve Report</legend>
            Date :
            <input id="chkOrder" type="checkbox" />
            <input id="dReceiveDateFrom" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
            <input id="dReceiveDateTo" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
            Receive Yarn Store :
            <select id="cboStore"></select>
            <input id="txtProductName" type="text" placeholder="Type Count & Press enter" style="width:148px;" />
            <a id="btnDailyProductionRecieveReport" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
        </fieldset>
    </div>

    <div>
        <fieldset>
            <legend>Spinning Monthly Yarn Stock Report(Count Wise)</legend>
            <label>Issue Date : </label>
            <input id="chkIsIssueDateYS" type="checkbox" style="display:none;"/>
            <input id="dIssueDateFromYS" type="text" style="width:125px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
            <span>To</span>
            <input id="dIssueDateToYS" type="text" style="width:125px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
            <label>Store : </label>
            <select id="cboStoreYS"></select>
            <input id="txtProductNameYS" type="text" placeholder="Type Product Name & Press Enter" style="width:196px;" />
            <a id="btnPrintYS" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
        </fieldset>
    </div>
   
</body>
</html>
<script type="text/javascript">
var _sBaseAddress = "";
var _oSUProductionExecution=null;
var _sProductIDs="";
var _sProductIDsYS="";
var _oReceivedStores=[];
$(document).ready(function() {
    _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    _oSUProductionExecution = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    _oReceivedStores=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReceivedStores));
    BasicSetup();
});


$("#chkIsIssueDateYS").change(function () {
    if (this.checked) {
        $("#dIssueDateFromYS,#dIssueDateToYS").datebox({ disabled: false });
    } else {
        $("#dIssueDateFromYS,#dIssueDateToYS").datebox({ disabled: true });
    }
    $("#dIssueDateFromYS,#dIssueDateToYS").datebox("setValue", icsdateformat(new Date()));
});

function BasicSetup(){
    $('#chkOrder,#chkIsIssueDateYS').prop('checked', true);
    $(".easyui-datebox").datebox({ disabled: false });
    $(".easyui-datebox").datebox("setValue", icsdateformat(new Date()));

    $("#cboStore,#cboStoreYS").icsLoadCombo({
        List: _oReceivedStores,
        OptionValue: "WorkingUnitID",
        DisplayText: "OperationUnitName",
        InitialValue:"None"
    });
    $("#cboStore,#cboStoreYS").prepend("<option value=0>--Select All--</option>");
}

QtyFromatPopUpMenuLoad(2);
$("#btnDailyProductionRecieveReport").click(function () {
    BtnPrintBtnClick(2);
    return false;
});

$("#btnOkPrintFormat2").click(function () {
    $("#winPrintFormat2").icsWindow("close");
    var bPrintFormat = true;
    if ($("#chkInLBS2").is(':checked')) {
        bPrintFormat = false;
    }
    var nts = ((new Date()).getTime()) / 1000;
    var sParams = bPrintFormat + "~" 
                + _sProductIDs + "~" 
                + $("#chkOrder").is(':checked') + "~" 
                + $('#dReceiveDateFrom').datebox('getValue') + "~" 
                + $('#dReceiveDateTo').datebox('getValue') + "~" 
                + parseInt($("#cboStore").val());
    window.open(_sBaseAddress + '/SUProductionExecution/PrintDailyProductionRecieveReport?sParams=' + sParams + "&nts=" + nts, "_blank");
});

$("#chkOrder").change(function () {
    if (this.checked) {
        $("#dReceiveDateFrom,#dReceiveDateTo").datebox({ disabled: false });
    } else {
        $("#dReceiveDateFrom,#dReceiveDateTo").datebox({ disabled: true });
    }
    $("#dReceiveDateFrom,#dReceiveDateTo").datebox("setValue", icsdateformat(new Date()));
});

$("#txtProductName").keydown(function (e) {
    if (e.keyCode === 13) {
        var sDBObjectName = "SUProductionExecution";
        var nTriggerParentsType = 110;
        var nOperationalEvent = 712;
        var nInOutType = 101;
        var nDirections = 0;
        var nStoreID = $("#cboStore").val();
        var nMapStoreID = 0;
        var sProductName = '';
        var oProduct = {
            Params: $.trim($("#txtPickProductSUPED").val()) + '~' + sDBObjectName + '~' + nTriggerParentsType + '~' + nOperationalEvent + '~' + nInOutType + '~' + nDirections + '~' + nStoreID + '~' + nMapStoreID
        };

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "ATMLNewSearchByProductName",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = []; var oColumn = { field: "ShortName", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductCategoryName", title: "Category", width: 120, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winProducts',
                        winclass: 'clsProductPI',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblProducts',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'ShortName',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Export PI Found.");
                _sProductIDs="";
                $("#txtProductName").removeClass("fontColorOfPickItem");
                $("#txtProductName").val("");
            }
        });
    }
    else if (e.keyCode === 8) {
        $(this).removeClass("fontColorOfPickItem");
        $(this).val("");
        _sProductIDs="";
    }
});

$("#txtProductNameYS").keydown(function (e) {
    if (e.keyCode === 13) {
        debugger;
        var sDBObjectName = "SUProductionExecution";
        var nTriggerParentsType = 110;
        var nOperationalEvent = 712;
        var nInOutType = 101;
        var nDirections = 0;
        var nStoreID = $("#cboStoreYS").val();
        var nMapStoreID = 0;
        var sProductName = '';
        var oProduct = {
            Params: $.trim($("#txtPickProductSUPED").val()) + '~' + sDBObjectName + '~' + nTriggerParentsType + '~' + nOperationalEvent + '~' + nInOutType + '~' + nDirections + '~' + nStoreID + '~' + nMapStoreID
        };

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "ATMLNewSearchByProductName",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = []; var oColumn = { field: "ShortName", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductCategoryName", title: "Category", width: 120, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winProductsYS',
                        winclass: 'clsProductYS',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblProductsYS',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'ShortName',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Export PI Found.");
                _sProductIDs="";
                $("#txtProductName").removeClass("fontColorOfPickItem");
                $("#txtProductName").val("");
            }
        });
    }
    else if (e.keyCode === 8) {
        $(this).removeClass("fontColorOfPickItem");
        $(this).val("");
        _sProductIDsYS="";
    }
});

function IntializePickerbutton(oPickerobj) {
    $("#" + oPickerobj.winid).find("#btnOk").click(function () {
        SetPickerValueAssign(oPickerobj);
    });
    $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
        if (e.which === 13) {
            SetPickerValueAssign(oPickerobj);
        }
    });
}

function SetPickerValueAssign(oPickerobj) {
    var oreturnObj = null, oreturnobjs = [];
    if (oPickerobj.multiplereturn) {
        oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
    } else {
        oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
    }

    if (oPickerobj.winid == 'winProducts') {
        if (oreturnobjs != null && oreturnobjs.length > 0) {
            var oProducts = oreturnobjs;
            $("#txtProductName").addClass("fontColorOfPickItem");
            $('#txtProductName').focus();
            _sProductIDs="";
            for(var i=0;i<oProducts.length;i++)
            {
                _sProductIDs = oProducts[i].ProductID + "," + _sProductIDs;
            }
            _sProductIDs = _sProductIDs.substring(0, _sProductIDs.length - 1);
            $("#txtProductName").val(oProducts.length + " Product" + (oreturnobjs.length > 1 ? "s" : "") + " Selected.");
        }else{
            alert("Please select minimum one item from list.");
            return false;
        }
    }
    else  if (oPickerobj.winid == 'winProductsYS') {
        if (oreturnobjs != null && oreturnobjs.length > 0) {
            var oProducts = oreturnobjs;
            $("#txtProductNameYS").addClass("fontColorOfPickItem");
            $('#txtProductNameYS').focus();
            _sProductIDsYS="";
            for(var i=0;i<oProducts.length;i++)
            {
                _sProductIDsYS = oProducts[i].ProductID + "," + _sProductIDsYS;
            }
            _sProductIDsYS = _sProductIDsYS.substring(0, _sProductIDsYS.length - 1);
            $("#txtProductNameYS").val(oProducts.length + " Product" + (oreturnobjs.length > 1 ? "s" : "") + " Selected.");
        }else{
            alert("Please select minimum one item from list.");
            return false;
        }
    }
    $("#" + oPickerobj.winid).icsWindow("close");
    $("#" + oPickerobj.winid).remove();
}

    
$("#btnPrintYS").click(function () {
    var sIssueDateFrom = '', sIssueDateTo = '';

    if (new Date($('#dIssueDateToYS').datebox("getValue")) < new Date($('#dIssueDateFromYS').datebox("getValue"))) { alert("Issue End date must be greater than start date."); return false; }
    sIssueDateFrom = $('#dIssueDateFromYS').datebox("getValue");
    sIssueDateTo = $('#dIssueDateToYS').datebox("getValue");

    //if ($("#chkIsIssueDateYS").is(':checked')) {
    //    if (new Date($('#dIssueDateToYS').datebox("getValue")) < new Date($('#dIssueDateFromYS').datebox("getValue"))) { alert("Issue End date must be greater than start date."); return false; }
    //    sIssueDateFrom = $('#dIssueDateFromYS').datebox("getValue");
    //    sIssueDateTo = $('#dIssueDateToYS').datebox("getValue");
    //}

    var sParams = _sProductIDsYS + "~" 
                + $("#chkIsIssueDateYS").is(':checked') + "~" 
                + sIssueDateFrom + "~" 
                + sIssueDateTo + "~" 
                + parseInt($("#cboStoreYS").val());

    var nts = ((new Date()).getTime()) / 1000;
    window.open(_sBaseAddress + '/SUProductionMixture/PrintSpinningMonthlyYarnStockReport?sParams=' + sParams + "&nts=" + nts, "_blank");
});

$("#cboStore").change(function(){
    $("#txtProductName").val("");
    $("#txtProductName").removeClass("fontColorOfPickItem");
    _sProductIDs="";
});

$("#cboStoreYS").change(function(){
    $("#txtProductNameYS").val("");
    $("#txtProductNameYS").removeClass("fontColorOfPickItem");
    _sProductIDsYS="";
});
</script>