@{
    ViewBag.Title = "Archive Salary Structures";
}
@model IEnumerable<ESimSol.BusinessObjects.ArchiveSalaryStruc>
     
<div class="menuMainCollectionTable" id="divArchiveSalaryStruc">
    <div id="winArchiveSarayStruc" class="easyui-window" title="ArchiveSarayStruc" style="width:1100px;height:555px;padding:2px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div id="divwinArchiveSalarayStruc" class="easyui-panel"  style="font-family:Tahoma;height:85%">
                <fieldset>
                    <legend>Archive Salary Structure</legend>
                    <table style="width:100%">
                        <tr>

                            <td style="width:10%;text-align:right">Employee Name:</td>
                            <td width="10%">
                                <input type="text" id="txtEmpName" style="width:100%" disabled="disabled" />
                            </td>
                            <td style="width:10%;text-align:right">Employee Code:</td>
                            <td width="10%">
                                <input type="text" id="txtEmpCode" style="width:100%" disabled="disabled" />
                            </td>
                            <td style="width:10%;text-align:right">Salary Month</td>
                            <td style="width:10%">
                                <input type="text" id="txtSalaryMonth" style="width:100%" disabled="disabled"/>
                            </td>

                            <td style="width:10%;text-align:right">Bu Name:</td>
                            <td style="width:10%">
                                <input type="text" id="txtBUName" style="width:100%" disabled="disabled" />
                            </td>
                      
 
                        </tr>

                        <tr>
                            <td style="width:10%;text-align:right">Dept.Name:</td>
                            <td style="width:10%">
                                <input type="text" id="txtDeptName" style="width:100%" disabled="disabled" />
                            </td>


                            <td style="width:10%;text-align:right">Designation:</td>
                            <td width="10%">
                                <input type="text" id="txtDesignation" style="width:100%" disabled="disabled" />
                            </td>
                            <td style="width:10%;text-align:right">Scheme Name:</td>
                            <td width="10%">
                                <input type="text" id="txtSchemeName" style="width:100%" disabled="disabled" />
                            </td>
                            <td style="width:10%;text-align:right">Location</td>
                            <td style="width:10%">
                                <input type="text" id="txtLocation" style="width:100%" disabled="disabled" />
                            </td>
                    
                        </tr>
                        <tr>
                            <td style="width:10%;text-align:right">JoinDate:</td>
                            <td style="width:10%">
                                <input type="text" id="txtJoinDate" style="width:100%" disabled="disabled" />
                            </td>


                            <td style="width:10%;text-align:right">Gross Amount:</td>
                            <td width="10%">
                                <input type="text" id="txtGrossAmount" style="width:100%" disabled="disabled" />
                            </td>
                            <td style="width:10%;text-align:right">Comp Gross:</td>
                            <td width="10%">
                                <input type="text" id="txtCompGross" style="width:100%" disabled="disabled" />
                            </td>

                            <td style="width:10%;text-align:right">Bank Amount:</td>
                            <td style="width:10%">
                                <input type="text" id="txtBankAmount" style="width:100%" disabled="disabled" />
                            </td>
                        </tr>


                    </table>
                </fieldset>

                <div style="width:100%;height:200px">
                    <div class="easyui-tabs" style="width:100%;height:300px">
                        <div title="Basic" style="padding:2px; height:100%; width:100%">
                            <table id="tblBasicArchiveSStruc" title="Basic" class="easyui-datagrid" style="height:250px; width:100%;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" showfooter="true">
                                <thead>
                                    <tr>
                                        <th field="SalaryHeadName" width="20%" align="left">Salary Head</th>
                                        <th field="LotNo" width="20%" align="left">Equation</th>
                                        <th field="Amount" width="13%" formatter="formatPrice" align="right">Amount</th>
                                        <th field="CompAmount" width="15%" formatter="formatPrice" align="right">Comp.Amount</th>
                                    </tr>
                                </thead>
                            </table>

                        </div>



                        <div title="Allowance" style="padding:2px; height:100%; width:100%;">
                            <table id="tblAllowanceArchiveSStruc" title="Allowance" class="easyui-datagrid" style="height:250px; width:100%;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" showfooter="true">
                                <thead>
                                    <tr>
                                        <th field="AllowanceName" width="10%" align="left">Allowance</th>
                                        <th field="AllowanceType" width="10%" align="left">Type</th>
                                        <th field="MeasurementUnitSymbol" width="10%" align="left">Value</th>
                                        <th field="PeriodInString" width="10%" align="left">Period</th>
                                        <th field="ConditionInString" width="10%" align="left">Condition</th>
                                        <th field="ActivationAfterInString" width="10%" align="left">Act.After</th>
                                        <th field="Amount" width="10%" formatter="formatPrice" align="right">Amount</th>
                                        <th field="CompAmount" width="10%" formatter="formatPrice" align="right">Comp.Amount</th>
                                        <th field="EntryUserName" width="10%" align="left">User</th>
                                        <th field="IssueDateSt" width="8%" align="left">Date</th>
                                    </tr>
                                </thead>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            <fieldset style="height:15%">
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:60%; text-align:right"></td>
                        <td style="width:40%;text-align:right;">
                            <a id="btnClosewinArchiveSarayStruc" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
    </div>
    <div style="height:90%">
        <table id="tblArchiveSalaryStrucs" title="Archive Salary Structures" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="SalaryMonth" width="8%">Salary Month</th>
                    <th field="BUShortName" width="8%">BU Name</th>
                    <th field="LocName" width="10%">Location</th>
                    <th field="DeptName" width="10%">Dept Name</th>
                    <th field="DesigName" width="10%">Designation</th>
                    <th field="SchemeName" width="10%">Scheme Name</th>
                    <th field="DateOfJoinSt" width="10%" align="center">Join Date</th>
                    <th field="GrossAmountSt" width="10%" align="right">Gross Amount</th>
                    <th field="CompGrossAmountSt" width="10%" align="right">Comp Gross</th>
                    <th field="BankAmountSt" width="10%" align="right">Bank Amount</th>
                    <th field="EntryUserName" width="10%">Entry User</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
        </div>
    </div>
    <fieldset style="height:10%">
        <legend style="font-weight: bold">Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
            <tr>
                <td style="width:60%; text-align:right"></td>
                <td style="width:40%;text-align:right;">                    
                    <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                </td>
            </tr>
        </table>
    </fieldset>
</div>
    

<script type="text/javascript">    
    $(document).ready(function () {       
        var oArchiveSalaryStrucs =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));     
        var oEmployee  = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Employee)); 
               
        $('#tblArchiveSalaryStrucs').datagrid({ title: 'Salary Structure Archive for : ' + oEmployee.Name + ' ['+oEmployee.Code+']' });
        DynamicRefreshList(oArchiveSalaryStrucs, "tblArchiveSalaryStrucs");

        $('#AppMainLayout').layout('collapse', 'west');        
        $('#AppMainLayout').layout('expand', 'west');
        $('#AppMainLayout').layout('collapse', 'west');
    });

    $('#btnRefresh').click(function (e){
        var oArchiveSalaryStrucs = $('#tblArchiveSalaryStrucs').datagrid('getRows');
        DynamicRefreshList(oArchiveSalaryStrucs, "tblArchiveSalaryStrucs");        
    });

    
    function RefreshTotalAmount()
    {
        debugger;
        var oBasicArchiveSalaryStrucs = $('#tblBasicArchiveSStruc').datagrid('getRows');
        var oAllowanceArchiveSStrucs = $('#tblAllowanceArchiveSStruc').datagrid('getRows');
        var nAmount = 0,nCompAmount=0,nTotalAddition=0,nTotalDeduction=0;
        if(oBasicArchiveSalaryStrucs.length >0)
        {
            for(var i =0;i<oBasicArchiveSalaryStrucs.length;i++)
            {
                nAmount  = nAmount + parseFloat((oBasicArchiveSalaryStrucs[i].Amount));
                nCompAmount=nCompAmount+parseFloat((oBasicArchiveSalaryStrucs[i].CompAmount));
            }
        }
        if(oAllowanceArchiveSStrucs.length >0)
        {
            for(var i =0;i<oAllowanceArchiveSStrucs.length;i++)
            {
                if(oAllowanceArchiveSStrucs[i].AllowanceType=='Addition'){
                    nTotalAddition  = nTotalAddition + parseFloat((oAllowanceArchiveSStrucs[i].Amount));
                }
                if(oAllowanceArchiveSStrucs[i].AllowanceType=='Deduction'){
                    nTotalDeduction=nTotalDeduction+parseFloat((oAllowanceArchiveSStrucs[i].Amount));
                }
            }
        }
        var FooterField=[];
        var obj=new Object();
        obj['SalaryHeadName'] = "Total:";
        obj['Amount'] = parseFloat(nAmount);
        obj['CompAmount'] = parseFloat(nCompAmount);
        FooterField.push(obj);
        $('#tblBasicArchiveSStruc').datagrid('reloadFooter',FooterField);
        var FooterField=[];
        var obj=new Object();
        obj['MeasurementUnitSymbol'] = "Total Addition:";
        obj['PeriodInString'] = parseFloat(nTotalAddition);
        obj['ConditionInString'] = "Total Deduction:";
        obj['ActivationAfterInString'] = parseFloat(nTotalDeduction);
        FooterField.push(obj);
        $('#tblAllowanceArchiveSStruc').datagrid('reloadFooter',FooterField);
    }

    function RefreshControl(oArchiveSalaryStruc){
        debugger;
        $("#txtSalaryMonth").val(oArchiveSalaryStruc.SalaryMonth);
        $("#txtBUName").val(oArchiveSalaryStruc.BUShortName);
        $("#txtLocation").val(oArchiveSalaryStruc.LocName);
        $("#txtDeptName").val(oArchiveSalaryStruc.DeptName);
        $("#txtDesignation").val(oArchiveSalaryStruc.DesigName);
        $("#txtSchemeName").val(oArchiveSalaryStruc.SchemeName);
        $("#txtJoinDate").val(oArchiveSalaryStruc.DateOfJoinSt);
        $("#txtGrossAmount").val(oArchiveSalaryStruc.GrossAmountSt);
        $("#txtCompGross").val(oArchiveSalaryStruc.CompGrossAmountSt);
        $("#txtBankAmount").val(oArchiveSalaryStruc.BankAmountSt);
        $("#txtEmpName").val(oArchiveSalaryStruc.EmpName);
        $("#txtEmpCode").val(oArchiveSalaryStruc.EmpCode);
    }

    $('#btnView').click(function (e){        
        var oArchiveSalaryStruc= $('#tblArchiveSalaryStrucs').datagrid('getSelected');
        if(oArchiveSalaryStruc==null || parseInt(oArchiveSalaryStruc.ArchiveSalaryStrucID)<=0)
        {
            alert("Please select an item from list!");
            return;
        }
        $.ajax({
           type: "GET",
           dataType: "json",
           url : sessionStorage.getItem('BaseAddress') +  "/ArchiveSalaryStruc/GetArchiveSalaryStruc",
           data: { id: parseInt(oArchiveSalaryStruc.ArchiveSalaryStrucID)},
           contentType: "application/json; charset=utf-8",
           success: function (data) {               
               var oArchiveSalaryStruc = jQuery.parseJSON(data);
               if (oArchiveSalaryStruc != null && parseInt(oArchiveSalaryStruc.ArchiveSalaryStrucID)>0)
               {   
                  
                   DynamicRefreshList(oArchiveSalaryStruc.BasicArchiveSalaryStrucDtls, "tblBasicArchiveSStruc"); 
                   DynamicRefreshList(oArchiveSalaryStruc.AllowanceArchiveSalaryStrucDtls, "tblAllowanceArchiveSStruc"); 
                   RefreshTotalAmount();      
                   $("#winArchiveSarayStruc").icsWindow('open', "Archive Salary Struc");
                   $("#winArchiveSarayStruc input").not("input[type='button']").val("");
                   RefreshControl(oArchiveSalaryStruc);
               }
               else
               {
                   alert("Data Not Found!");
               }
           },
           error: function (xhr, status, error)
           {
               alert(error);
           }
       });

    });

    $('#btnClosewinArchiveSarayStruc').click(function (e){
        $("#winArchiveSarayStruc").icsWindow('close'); 
    });

    $('#btnClose').click(function (e){
        close();   
    });
    
</script>
