@{
    ViewBag.Title = "Cash Flow Heads";
}
@model IEnumerable<ESimSol.BusinessObjects.CashFlowHead>
<div style="margin-left: 0px; height: 100%; width:100%">
    <table id="tblCashFlowHeads" title="Cash Flow Heads" class="easyui-datagrid" fit="true" width="100%" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
        <thead>
            <tr>
                <th field="CashFlowHeadTypeSt" width="150">Head Type</th>
                <th field="DisplayCaption" width="290">Display Caption</th>
                <th field="IsDebitSt" width="100">Cash Effect</th>
                <th field="Remarks" width="100">Remarks</th>   
                <th field="Sequence" width="60">Sequence</th>
            </tr>
        </thead>
    </table>​  
    <div id="toolbar">         
        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true">Add</a>  
        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true">Edit</a>                
        <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-details" plain="true">View</a>
        <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true">Delete</a>
        <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Refresh</a>
        <a id="btnUp" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-up" plain="true">Up</a>
        <a id="btnDown" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-down" plain="true">Down</a>
        <a id="btnUpdateScequence" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Update Scequence</a>
    </div>  
</div>



<script type="text/javascript">
    var _oCashFlowHeads=[];
    $(document).ready(function () {    
        _oCashFlowHeads =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));         
        var oCashFlowHeads =sessionStorage.getItem("CashFlowHeads");
        if(oCashFlowHeads!=null)
        {
            oCashFlowHeads = jQuery.parseJSON(oCashFlowHeads);            
        }
        else
        {
            oCashFlowHeads = _oCashFlowHeads;
        }
        $('#tblCashFlowHeads').data('CashFlowHeads', oCashFlowHeads);
        RefreshList(oCashFlowHeads);    
    });

    $('#btnAdd').click(function(){
        var tsv=((new Date()).getTime())/1000;
        var oCashFlowHeads= $('#tblCashFlowHeads').datagrid('getRows');
        sessionStorage.setItem("CashFlowHeads", JSON.stringify(oCashFlowHeads)); 
        sessionStorage.setItem("SelectedRowIndex", -1);   
        sessionStorage.setItem("CashFlowHeadHeader", "Add Cash Flow Head");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem('BaseAddress')+ "/CashFlowDmSetup/ViewCashFlowHead?id=0&ts="+tsv;
    });

    $('#btnEdit').click(function(){
        var oCashFlowHead = $('#tblCashFlowHeads').datagrid('getSelected'); 
        if(oCashFlowHead==null || parseInt(oCashFlowHead.CashFlowHeadID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblCashFlowHeads').datagrid('getRowIndex',oCashFlowHead);
        var oCashFlowHeads= $('#tblCashFlowHeads').datagrid('getRows');
        sessionStorage.setItem("CashFlowHeads", JSON.stringify(oCashFlowHeads)); 
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);   
        sessionStorage.setItem("CashFlowHeadHeader", "Edit Cash Flow Head");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href =sessionStorage.getItem('BaseAddress')+  "/CashFlowDmSetup/ViewCashFlowHead?id="+parseInt(oCashFlowHead.CashFlowHeadID)+"&ts="+tsv;
    });

    $('#btnView').click(function(){
        var oCashFlowHead = $('#tblCashFlowHeads').datagrid('getSelected'); 
        if(oCashFlowHead==null || parseInt(oCashFlowHead.CashFlowHeadID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblCashFlowHeads').datagrid('getRowIndex',oCashFlowHead);
        var oCashFlowHeads= $('#tblCashFlowHeads').datagrid('getRows');
        sessionStorage.setItem("CashFlowHeads", JSON.stringify(oCashFlowHeads)); 
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);   
        sessionStorage.setItem("CashFlowHeadHeader", "View Cash Flow Head");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href =sessionStorage.getItem('BaseAddress')+  "/CashFlowDmSetup/ViewCashFlowHead?id="+parseInt(oCashFlowHead.CashFlowHeadID)+"&ts="+tsv;      
    });

    $('#btnDelete').click(function(){
        var oCashFlowHead= $('#tblCashFlowHeads').datagrid('getSelected');
        if (!confirm("Confirm to Delete?")) return ;        
        if(oCashFlowHead==null || parseInt(oCashFlowHead.CashFlowHeadID)<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");                  
            return false;
        }
        var SelectedRowIndex=$('#tblCashFlowHeads').datagrid('getRowIndex',oCashFlowHead);
        if (parseInt(oCashFlowHead.CashFlowHeadID) > 0) 
        {
            $.ajax({
                type: "GET",
                dataType: "json",                
                url : sessionStorage.getItem('BaseAddress')+  "/CashFlowDmSetup/DeleteCashFlowHead",
                data: { id: parseInt(oCashFlowHead.CashFlowHeadID)},
                contentType: "application/json; charset=utf-8",
                success: function (data) {                    
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Data delete successfully") 
                    {
                        alert("Delete sucessfully");                        
                        $('#tblCashFlowHeads').datagrid('deleteRow',SelectedRowIndex);                          
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error) 
                {
                    alert(error);
                }                      
            });
        }
    });
        
    function RefreshList(oCashFlowHeads)
    {    
        data=oCashFlowHeads;
        data={"total":""+data.length+"","rows":data};
        $('#tblCashFlowHeads').datagrid('loadData',data);  
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        $('#tblCashFlowHeads').datagrid('selectRow',nIndex);   
    }
    
    //Sequence start
    $('#btnRefresh').click(function(){
        var oCashFlowHeads = $('#tblCashFlowHeads').datagrid('getRows');
        if(oCashFlowHeads.length>0)
        {
            for(var i = 0;i<oCashFlowHeads.length;i++)
            {
                oCashFlowHeads[i].Sequence = i+1;
            }
            RefreshList(oCashFlowHeads);
        }
    });

    $('#btnUp').click(function(){
        var oCashFlowHead = $('#tblCashFlowHeads').datagrid('getSelected');
        if(oCashFlowHead==null)
        {
            alert("Please select Item");
            return;
        }
        var SelectedRowIndex=$('#tblCashFlowHeads').datagrid('getRowIndex',oCashFlowHead);
        if(SelectedRowIndex==0)return;
        var oCashFlowHeads=$('#tblCashFlowHeads').datagrid('getRows');
        _oCashFlowHeads = [];
        for(var i=0; i<oCashFlowHeads.length; i++)
        {
            if(i==(SelectedRowIndex-1))
            {
                _oCashFlowHeads[i]=oCashFlowHeads[i+1];
            }
            else if(i==SelectedRowIndex)
            {
                _oCashFlowHeads[i]=oCashFlowHeads[i-1];
            }
            else
            {
                _oCashFlowHeads[i]=oCashFlowHeads[i];
            }
            _oCashFlowHeads[i].Sequence=i+1;
        }
        RefreshList(_oCashFlowHeads);
        var newSelectedRowIndex=SelectedRowIndex-1;
        $('#tblCashFlowHeads').datagrid('selectRow',newSelectedRowIndex);
    });

    $('#btnDown').click(function(){
        var oCashFlowHead = $('#tblCashFlowHeads').datagrid('getSelected');
        if(oCashFlowHead==null)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblCashFlowHeads').datagrid('getRowIndex',oCashFlowHead);
        if(SelectedRowIndex==(_oCashFlowHeads.length-1))return;
        var oCashFlowHeads=$('#tblCashFlowHeads').datagrid('getRows');
        _oCashFlowHeads=[];
        for(var i=0; i<oCashFlowHeads.length; i++)
        {
            if(i==(SelectedRowIndex+1))
            {
                _oCashFlowHeads[i]=oCashFlowHeads[i-1];
            }
            else if(i==SelectedRowIndex)
            {
                _oCashFlowHeads[i]=oCashFlowHeads[i+1];
            }
            else
            {
                _oCashFlowHeads[i]=oCashFlowHeads[i];
            }
            _oCashFlowHeads[i].Sequence=i+1;
        }
        RefreshList(_oCashFlowHeads);
        var newSelectedRowIndex=SelectedRowIndex+1;
        $('#tblCashFlowHeads').datagrid('selectRow',newSelectedRowIndex);
    });

    $('#btnUpdateScequence').click(function(){
        var oCashFlowHead = {
            CashFlowHeads :$('#tblCashFlowHeads').datagrid('getRows')
        };
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+"/CashFlowDmSetup/UpdateScequence",
            traditional: true,
            data:  JSON.stringify(oCashFlowHead),
            contentType: "application/json; charset=utf-8",
            success: function (data) {                
                var  oCashFlowHead = jQuery.parseJSON(data);
                if (oCashFlowHead.ErrorMessage=="Update Successfully")
                {
                    alert("Update Successfully");   
                    RefreshList(oCashFlowHead.CashFlowHeads);
                }
                else {
                    alert(oCashFlowHead.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });
    //Sequence End
</script>