@model ESimSol.BusinessObjects.AuthorizationRole
<div class="easyui-panel" title="Add Authorization Role" style="font-family: Tahoma; width:100%;height:100%">
    <fieldset style="width:99%;height:88%">
        <table border="0" cellpadding="4" style="font-size: 12px; margin: 40px auto">
            <tr>
                <td style="width: 20%; text-align: right"> Module Name: </td>
                <td style="width: 78%; text-align: left">
                    @Html.DropDownListFor(model => model.ModuleNameInt, Model.ModuleNameObjs.Select(x => new SelectListItem() { Text = x.Value, Value = x.id.ToString() }), new { id = "cboModuleName", style = "width: 100%;" })
                </td>
            </tr>
            <tr>
                <td style="width: 20%; font-size: 12px; text-align: right; vertical-align:top;">
                    Operation:
                </td>
                <td style="width: 78%; font-size: 12px; vertical-align:top;">
                    <table id="tblOperation" class="easyui-datagrid" style="width: 100%; height: 260px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar">
                        <thead>
                            <tr>
                                <th field="Value" width="100%">
                                    Operation Name
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <div id="toolbar" style="height: 30px;">
                        <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                            <tr>
                                <td style="text-align: right">
                                    <a id="btnAddDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="AddOperation()">Add Operation</a>
                                </td>
                                <td style="text-align: right">
                                    <a id="btnRemoveDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="Remove()">Remove</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td style="width: 20%; font-size: 12px; text-align: right"> Note : </td>
                <td style="width: 68%; text-align: left">
                    @Html.TextBoxFor(model => model.Note, new { style = "width: 100%;", id = "txtNote" })
                </td>
            </tr>

        </table>
    </fieldset>
    <fieldset style="width:99%">
        <legend style="font-weight: bold">Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; width: 100%; font-weight:bold">
            <tr>
                <td style="float:right; margin-right:5%">
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Save()">Save</a>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="Close()">Close</a>
                </td>
            </tr>
        </table>
    </fieldset>
    <div id="winAdd" style="width:350px" class="easyui-window" title="Operation List" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="width:100%; height:400px">
            <table id="tblRoleOperation" title="" class="easyui-datagrid" style="width:98%; height:335px" fitcolumns="false" ; rownumbers="true" pagination="false" ; singleselect="false" ; autorowheight="false"; toolbar="#searchToolbar">
                <thead>
                    <tr>
                        <th data-options="field:'Selected',checkbox:true"></th>
                        <th field="Value">Operation Name</th>
                    </tr>
                </thead>
            </table>
            <div id="searchToolbar">
                <input type="text" id="txtSearchOperation" style="width:100%" placeholder="Please Type Operation Name & Press Enter"/>
            </div>
            <fieldset style="width:98%">
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px;width:100%;height:20%; font-weight:bold">
                    <tr>
                        <td style="width:300px; text-align:right"></td>
                        <td style="width:50px">
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="OK()">OK</a>
                        </td>
                        <td style="width:50px">
                            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="ClosePicker()">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</div>
<script type="text/javascript">
    debugger;
    var _oAuthorizationRole=null;
    var _value ="";
    var _sBaseAddress="";
    var oRoleOperationTypeObjs=[];
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oAuthorizationRole =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        oRoleOperationTypeObjs = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.RoleOperationTypeObjs));
        console.log = oRoleOperationTypeObjs;
        RefreshListOperationPicler(oRoleOperationTypeObjs);
 });

 function AddOperation()
 {
     $("#winAdd").icsWindow('open');
    // RefreshListOperationPicler(oRoleOperationTypeObjs);
 }
 function Remove()
 {
    var oOperationRole = $('#tblOperation').datagrid('getSelected');
    if(oOperationRole==null || oOperationRole.OperationTypeInt<=0)
    {
         alert("Please select a item from list!");
         return;
    }
    if (!confirm("Confirm to Delete?")) return ;
    var SelectedRowIndex=$('#tblOperation').datagrid('getRowIndex',oOperationRole);
    $('#tblOperation').datagrid('deleteRow',SelectedRowIndex);
 }

 function RefreshListOperationPicler(oRoleOperationTypeObjs)
 {
     debugger;
     data=oRoleOperationTypeObjs;
     data={"total":""+data.length+"","rows":data};
     $('#tblRoleOperation').datagrid('loadData',data);
 }
 function RefreshListOperation(oAuthorizationRoles)
 {
     debugger;
     data=oAuthorizationRoles;
     data={"total":""+data.length+"","rows":data};
     $('#tblOperation').datagrid('loadData',data);
 }
 function OK()
 {
     debugger;

     var oAuthorizationRoles = $('#tblRoleOperation').datagrid('getSelections');
     if(oAuthorizationRoles==null || oAuthorizationRoles.length<=0 )
     {
         alert("Please Select At least one Item!!");
         return;
     }
     RefreshListOperation(oAuthorizationRoles);
     $("#winAdd").icsWindow('close');
 }

 function ClosePicker()
 {
     $("#winAdd").icsWindow('close');
 }
function Save()
{
    if(!ValidateInput()) return;
    var oAuthorizationRole = {};
    oAuthorizationRole.AuthorizationRoles=RefreshObjects();
    $.ajax({
        type: "POST",
        dataType: "json",
        url : _sBaseAddress+"/AuthorizationRole/Save",
        traditional: true,
        data:  JSON.stringify(oAuthorizationRole),
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            var _oAuthorizationRoles= jQuery.parseJSON(data);
            if (_oAuthorizationRoles.length >0 && _oAuthorizationRoles[0].ErrorMessage == "")
            {
                alert("Data Save Successfully!!");
                var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                if (sessionStorage.getItem("Operation") == "ADD")
                {
                    var nList = sessionStorage.getItem("AuthorizationRoles");
                    nList.Add(_oAuthorizationRoles);
                    sessionStorage.setItem("SelectedRowIndex", -1);
                    sessionStorage.setItem("AuthorizationRoles", nList);
                }
                window.location.href = sessionStorage.getItem("BackLink");
            }
            else
            {
                    alert(_oAuthorizationRoles[0].ErrorMessage);
            }
        },
        error: function (xhr, status, error)
        {
            alert(error);
        }
    });
}
function ValidateInput()
{
    if($('#cboModuleName').val()===null || $('#cboModuleName').val()===undefined || parseInt($('#cboModuleName').val())<=0)
    {
        alert("Please Choose Module Name ");
        $('#cboModuleName').focus();
        return false;
    }
    var oOperationTypes = $('#tblOperation').datagrid('getRows');
    if(oOperationTypes.length<=0)
    {
        alert("Please Add at least one Operation.");
        return false;
    }
    return true;
}
function RefreshObjects()
{
    debugger;
      var scboModuleName =document.getElementById("cboModuleName");
      var oAuthorizations =[];
      var oOperationTypes = $('#tblOperation').datagrid('getRows');

      for (var i =0; i<oOperationTypes.length;i++ )
      {
        var oAuthorizationRole= {
                AuthorizationRoleID:_oAuthorizationRole.AuthorizationRoleID,
                RoleNo:"",
                ModuleNameInt : $("#cboModuleName").val(),
                OperationTypeInt:oOperationTypes[i].id,
                Note : $("#txtNote").val()
          };
          oAuthorizations.push(oAuthorizationRole);
      }
   return oAuthorizations;
}

function Close()
{
    window.location.href = sessionStorage.getItem("BackLink");
}

$(document).keydown(function(e) {
    if(e.which == 27)//escape=27
    {
        window.close();
    }
});

$('#txtSearchOperation').keydown(function (e) {
    debugger;
    var code = (e.keyCode ? e.keyCode : e.which);
    if (code == 13)//Enter key-13
    {
        var tempList = [];
        for(var i=0; i<oRoleOperationTypeObjs.length; i++)
        {
            if(oRoleOperationTypeObjs[i].Value.toLowerCase().includes($('#txtSearchOperation').val().toLowerCase()))
            {
                tempList.push(oRoleOperationTypeObjs[i]);
            }
        }
        $('#tblRoleOperation').datagrid('loadData', tempList);
    }
});
</script>
