@{
    ViewBag.Title = "Authorization Role List";
}
@model IEnumerable<ESimSol.BusinessObjects.AuthorizationRole>
    <div style="margin-left: 0px; height: 100%; width:100%">
        <table id="tblAuthorizationRole" title="Authorization Roles" class="easyui-datagrid" fitcolumns="true" fit="true" rownumbers="true" pagination="true" singleselect="true" , autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="RoleNo" width="80">Role No</th>
                    <th field="RoleName" width="250">Roll Name</th>
                    <th field="ModuleNameST" width="150">Module Name</th>
                    <th field="OperationTypeST" width="100">Operation</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <input type="text" id="txtSearchRollName" placeholder="Search by Role Name" style="width:150px" />
            <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" onclick="Refresh()">Refresh</a>
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" id="btnAdd" iconcls="icon-add" plain="true" onclick="Add()">Add</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" id="btnEdit" iconcls="icon-edit" plain="true" onclick="Edit()">Edit</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true" onclick="View()">View</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" id="btnDelete" iconcls="icon-remove" plain="true" onclick="Delete()">Delete</a>
            <a id="btnAssignToUser" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="AssignToUser()">Assign To User</a>
        </div>
    </div>
    <script type="text/javascript">
        var _oAuthorizationRoles=[];
        var _sBaseAddress ="";
        var _oAuthorizationRolesMapping =[];
        $(document).ready(function () {
            _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
            _oAuthorizationRoles =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
            _oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
            RefreshList(_oAuthorizationRoles);
            RefreshControlLayout();
        });


        $('#txtSearchRollName').keyup(function (e) {
            var c = String.fromCharCode(e.which);
            var txtSearchByName = document.getElementById('txtSearchRollName').value;
            var oSearchedAuthorizationRoles = [];  var sTempName="";
            var oCurrentList = $('#tblAuthorizationRole').datagrid('getRows');
            if (e.which == 8)
            {
                oCurrentList = _oAuthorizationRoles;
            }
            for(i=0;i<oCurrentList.length;++i){
                sTempName=oCurrentList[i].RoleName;
                n=sTempName.toUpperCase().indexOf(txtSearchByName.toUpperCase())
                if(n!=-1)
                {
                    oSearchedAuthorizationRoles.push(oCurrentList[i]);
                }
            }
            RefreshList(oSearchedAuthorizationRoles);
        });
        function Refresh()
        {
            var oAuthorizationRoles = $('#tblAuthorizationRole').datagrid('getRows');
            data=oAuthorizationRoles;
            data={"total":""+data.length+"","rows":data};
            $('#tblAuthorizationRole').datagrid('loadData',data);
        }
        function RefreshList(oAuthorizationRoles)
        {
            debugger;
            data=oAuthorizationRoles;
            var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
            data={"total":""+data.length+"","rows":data};
            $('#tblAuthorizationRole').datagrid('loadData',data);
            if(nIndex>0)
            {
                $('#tblAuthorizationRole').datagrid('selectRow',parseInt(sessionStorage.getItem("SelectedRowIndex")));
            }
        }
        function Add()
        {
            sessionStorage.setItem("Operation", "Add");
            sessionStorage.setItem("SelectedRowIndex", -1);
            sessionStorage.setItem("AuthorizationRoleHeader", "Add AuthorizationRole");
            sessionStorage.setItem("AuthorizationRoles", JSON.stringify($('#tblAuthorizationRole').datagrid('getRows')));
            sessionStorage.setItem("BackLink", window.location.href);
            window.location.href = _sBaseAddress+ "/AuthorizationRole/ViewAuthorizationRole?nId=0";
        }
        function Edit()
        {
            var oAuthorizationRole = $('#tblAuthorizationRole').datagrid('getSelected');
            if(oAuthorizationRole==null || oAuthorizationRole.AuthorizationRoleID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            sessionStorage.setItem("SelectedRowIndex", $('#tblAuthorizationRole').datagrid('getRowIndex',oAuthorizationRole));
            var SelectedRowIndex=$('#tblAuthorizationRole').datagrid('getRowIndex',oAuthorizationRole);
            sessionStorage.setItem("AuthorizationRoleHeader", "Edit AuthorizationRole");
            sessionStorage.setItem("Operation", "Edit");
            sessionStorage.setItem("AuthorizationRoles", JSON.stringify($('#tblAuthorizationRole').datagrid('getRows')));
            sessionStorage.setItem("BackLink", window.location.href);
            window.location.href = _sBaseAddress+ "/AuthorizationRole/ViewAuthorizationRoleEdit?id="+oAuthorizationRole.AuthorizationRoleID;
        }
        function  View()
        {
            var oAuthorizationRole = $('#tblAuthorizationRole').datagrid('getSelected');
            if(oAuthorizationRole==null || oAuthorizationRole.AuthorizationRoleID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            sessionStorage.setItem("SelectedRowIndex", $('#tblAuthorizationRole').datagrid('getRowIndex',oAuthorizationRole));
            sessionStorage.setItem("AuthorizationRoleHeader", "Edit AuthorizationRole");
            sessionStorage.setItem("Operation", "View");
            sessionStorage.setItem("AuthorizationRoles", JSON.stringify($('#tblAuthorizationRole').datagrid('getRows')));
            sessionStorage.setItem("BackLink", window.location.href);
            window.location.href = _sBaseAddress+ "/AuthorizationRole/ViewAuthorizationRoleEdit?id="+oAuthorizationRole.AuthorizationRoleID;
        }
        function AssignToUser()
        {
            var oAuthorizationRole = $('#tblAuthorizationRole').datagrid('getSelected');
            if(oAuthorizationRole==null || oAuthorizationRole.AuthorizationRoleID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            sessionStorage.setItem("SelectedRowIndex", $('#tblAuthorizationRole').datagrid('getRowIndex',oAuthorizationRole));
            var oParameter = new Object();
            var tsv=((new Date()).getTime())/1000;
            oParameter.Name = "[ "+oAuthorizationRole.RoleName+" ] Assign To User";
            sessionStorage.setItem("oParameter","oParameter");
            sessionStorage.setItem("AuthorizationRole","oAuthorizationRole");
            sessionStorage.setItem("oParameter","oParameter");
            sessionStorage.setItem("oParameter","oParameter");
            sessionStorage.setItem("BackLink", window.location.href);
            window.location.href =_sBaseAddress+ "/AuthorizationRole/ViewAssignToUser?id="+oAuthorizationRole.AuthorizationRoleID+"&ts="+tsv;
        }
        function Delete()
        {

            var oAuthorizationRole = $('#tblAuthorizationRole').datagrid('getSelected');
            if(oAuthorizationRole==null || oAuthorizationRole.AuthorizationRoleID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            if (!confirm("Confirm to Delete?")) return ;


            var SelectedRowIndex=$('#tblAuthorizationRole').datagrid('getRowIndex',oAuthorizationRole);

            if (oAuthorizationRole.AuthorizationRoleID> 0)
            {

                $.ajax
        ({
            type: "GET",
            dataType: "json",
            url : _sBaseAddress+  "/AuthorizationRole/Delete",
            data: { id: oAuthorizationRole.AuthorizationRoleID},
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                feedbackmessage = jQuery.parseJSON(data);
                if (feedbackmessage == "Data delete successfully")
                {
                    alert("Delete sucessfully");
                    $('#tblAuthorizationRole').datagrid('deleteRow',SelectedRowIndex);

                }
                else
                {
                    alert(feedbackmessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }

        });
            }
        }




        function RefreshControlLayout()
        {
            document.getElementById('btnAdd').style.display = 'none';
            document.getElementById('btnEdit').style.display = 'none';
            document.getElementById('btnDelete').style.display = 'none';
            document.getElementById('btnView').style.display = 'none';
            document.getElementById('btnAssignToUser').style.display = 'none';

            if(HavePermission('Add','AuthorizationRole')){document.getElementById('btnAdd').style.display = '';}
            if(HavePermission('Edit','AuthorizationRole')){document.getElementById('btnEdit').style.display = '';}
            if(HavePermission('Delete','AuthorizationRole')){document.getElementById('btnDelete').style.display = '';}
            if(HavePermission('View','AuthorizationRole')){document.getElementById('btnView').style.display = '';}
            if(HavePermission('RoleAssign','AuthorizationRole')){document.getElementById('btnAssignToUser').style.display = '';}
        }

        function HavePermission(sOperationType, sDbObject)
        {
            var nSessionID =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.currentUserID]));
            if(nSessionID == -9) //check SuperUser
            {
                return true;
            }else
            {
                for(var i =0;i<_oAuthorizationRolesMapping.length;i++)
                {
                    if(_oAuthorizationRolesMapping[i].OperationTypeInString == sOperationType && _oAuthorizationRolesMapping[i].DBObjectName == sDbObject)
                        return  true;
                }
                return false;
            }
        }
    </script>
