<html>

<body>
    @model IEnumerable<ESimSol.BusinessObjects.VoucherBatch>
    <div style="font-family: Tahoma">
        <table border="0" style="background-color: #CFB53B">
            <tr>
                <td style="background-color: #CFB53B; text-align: center; width: 450px; color: White">
                    <label id="lblHeaderName" style="font-size: 15px; font-weight: bold; text-decoration: Underline">
                        VoucherBatch Piker</label>
                </td>
            </tr>
        </table>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td style="width: 450px; text-align: left">
                    <label style="font-size: 12px; font-weight: bold; text-decoration: Underline">
                        Search by Name </label>
                    <input type="text" id="txtSearchByName" style="width: 450px" />
                </td>
            </tr>
            <tr style="height: 300px">
                <td style="width: 450px; vertical-align: top">
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr style="height: 275px">
                            <td style="width: 450px; vertical-align: top">
                                <div style="margin-left: 0px; margin-top: 8px; height: 275px">
                                    <table id="tblVoucherBatch" title="VoucherBatch List" class="easyui-datagrid" style="width: 450px; height: 300px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar">
                                        <thead>
                                            <tr>
                                                <th data-options="field:'Selected',checkbox:true"></th>
                                                <th field="Name" width="200"> VoucherBatch Name </th>
                                                <th field="Branch" width="200"> Branch</th>
                                                <th field="Category" width="60"> Category </th>
                                            </tr>
                                        </thead>
                                    </table>
                                    <div id="toolbar" style="vertical-align:middle">
                                        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="Add()">Add VoucherBatch</a>
                                        <input type="checkbox" id="chkVoucherBatchCategory" style="margin-top:5px" /> <b>Own Bak</b> 
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr style="height: 50px">
                <td style="width: 450px">
                    <table>
                        <tr>
                            <td style="width: 350px; text-align: left">
                                <label id="lblCount" style="font-size: 11px; font-weight: bold">
                                </label>
                            </td>
                            <td style="width: 50px; text-align: center">
                                <a id="btnOk" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" >Ok</a>
                            </td>
                            <td style="width: 50px; text-align: center">
                                <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" >Close</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
<script type="text/javascript">
var _bMultipleItemReturn = false;
var _nVoucherBatchType = 0;
var _oVoucherBatchs=[];
var _sBaseAddress="";
$(document).ready(function () {
    _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    _oVoucherBatchs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var obj = window.dialogArguments;
    _bMultipleItemReturn = obj.MultipleItemReturn;
    _nVoucherBatchType = obj.VoucherBatchType;
    RefreshListTwo(_oVoucherBatchs);
    document.getElementById('lblHeaderName').innerHTML="VoucherBatch Piker";
});
    
    $(document).keyup(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 27) {
            window.close();
        }
    });

    $(document).keydown(function(e) {
        var oVoucherBatch= $('#tblVoucherBatch').datagrid('getSelected');
        var nIndex=$('#tblVoucherBatch').datagrid('getRowIndex', oVoucherBatch);
        if(e.which == 38)//up arrow=38
        {
            if(nIndex<=0)
            {
                $('#tblVoucherBatch').datagrid('selectRow', 0);
            }
            else
            {
                $('#tblVoucherBatch').datagrid('selectRow', nIndex-1);
            }
            $('#txtSearchByName').blur();
        }
        if(e.which == 40)//down arrow=40
        {
            var oVoucherBatchs = $('#tblVoucherBatch').datagrid('getRows');
            if(nIndex>=oVoucherBatchs.length-1)
            {
                $('#tblVoucherBatch').datagrid('selectRow', oVoucherBatchs.length-1);
            }
            else
            {
                $('#tblVoucherBatch').datagrid('selectRow', nIndex+1);
            }
            $('#txtSearchByName').blur();
        }
        if(e.which == 13)//enter=13
        {
            var oSelectedVoucherBatch= $('#tblVoucherBatch').datagrid('getSelected');
            if(oSelectedVoucherBatch ==null || parseInt(oSelectedVoucherBatch.VoucherBatchID)<=0)
            {
                alert("Please select an Contarctor!");
                return;
            }
            window.returnValue = oSelectedVoucherBatch;
            window.close();
        }
        if(e.which == 27)//escape=27
        {
            window.returnValue = null;
            window.close();
        }
    });

    $('#chkVoucherBatchCategory').click(function (e){
        var oVoucherBatchs =[];
        var chkVoucherBatchCategory=document.getElementById("chkVoucherBatchCategory");
        if(chkVoucherBatchCategory.checked)
        {
            for (i = 0; i < _oVoucherBatchs.length; ++i) {
                if(_oVoucherBatchs[i].Category==true)
                {
                    oVoucherBatchs.push(_oVoucherBatchs[i]);
                }
            }
            RefreshGrid(oVoucherBatchs);
        }
        else
        {
            RefreshGrid(_oVoucherBatchs);
        }
    });

$('#txtSearchByName').keypress(function (e) {
    var c = String.fromCharCode(e.which);
    var txtSearchByName = document.getElementById('txtSearchByName').value;
    txtSearchByName = txtSearchByName + c;
    var bFlag = false;
    var sTempName = "";
    var rows = $('#tblVoucherBatch').datagrid('getRows');
    for (i = 0; i < rows.length; ++i) {
        sTempName = rows[i]['Name'].substring(0, txtSearchByName.length);
        if (txtSearchByName.toUpperCase() == sTempName.toUpperCase()) {
            bFlag = true;
            break;
        }
    }
    if (bFlag) {
        $('#tblVoucherBatch').datagrid('selectRow', i);
    }
})

function RefreshGrid(oVoucherBatchs)
{
    var data = oVoucherBatchs;
    data = { "total": "" + data.length + "", "rows": data };
    $('#tblVoucherBatch').datagrid('loadData', data);
    $('#tblVoucherBatch').datagrid({ selectOnCheck: false, checkOnSelect: false })
}

function RefreshList() {
    $.ajax({
        type: "GET",
        dataType: "json",            
        url: _sBaseAddress + "/VoucherBatch/Gets",
        data: { Temp: _nVoucherBatchType },
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            var oVoucherBatchs = jQuery.parseJSON(data);
            if (oVoucherBatchs != null) {
                if (oVoucherBatchs.length > 0) {
                    RefreshGrid(oVoucherBatchs);
                    if (_bMultipleItemReturn == false) {
                        $('#tblVoucherBatch').datagrid('hideColumn', 'Selected');
                        $('#tblVoucherBatch').datagrid({ onDblClickRow: function (rowIndex, rowData) { RowDoubleClickEvent(rowIndex, rowData); } });
                        document.getElementById("lblCount").style.display = 'none';
                    }
                }
                else {
                    alert("Data not found!!");
                }
            }
        },
        error: function (xhr, status, error) {
            alert(error);
        }
    });
}


function RefreshListTwo(oVoucherBatchs) {
   if (oVoucherBatchs != null) {
                if (oVoucherBatchs.length > 0) 
                {
                    data = oVoucherBatchs;
                    data = { "total": "" + data.length + "", "rows": data };
                    $('#tblVoucherBatch').datagrid('loadData', data);
                    $('#tblVoucherBatch').datagrid({ selectOnCheck: false, checkOnSelect: false })
                    if (_bMultipleItemReturn == false) {
                        $('#tblVoucherBatch').datagrid('hideColumn', 'Selected');
                        $('#tblVoucherBatch').datagrid({ onDblClickRow: function (rowIndex, rowData) { RowDoubleClickEvent(rowIndex, rowData); } });
                        document.getElementById("lblCount").style.display = 'none';
                    }
                }
                else {
                    alert("Data not found!!");
                }
            }
}

    


function RowDoubleClickEvent(rowIndex, oSelectedVoucherBatch)
{
    if(oSelectedVoucherBatch==null)
    {
        alert("please select a VoucherBatch");
        return;
    }
    window.returnValue= oSelectedVoucherBatch;         
    window.close();
}

$("#btnClose").click(function(){
    window.close();   
});

$("#btnOk").click(function(){
    if(_bMultipleItemReturn==true)
    {
        var oSelectedVoucherBatchs=[];
        var oSelectedVoucherBatchs = $('#tblVoucherBatch').datagrid('getChecked');               
        if(oSelectedVoucherBatchs.length<=0)
        {
            alert("please select atleast one item");
            return;
        }
        window.returnValue= oSelectedVoucherBatchs;
    }
    else
    {
        var oSelectedVoucherBatch= $('#tblVoucherBatch').datagrid('getSelected'); 
        if(oSelectedVoucherBatch==null)
        {
            alert("please select a VoucherBatch");
            return;
        }
        window.returnValue= oSelectedVoucherBatch;
    }
    window.close();  
});

function Add()
{
    var oParameter = new Object();
    oParameter.Name = "Add VoucherBatch";
    var url =_sBaseAddress+ "/VoucherBatch/ViewVoucherBatch?id=0";
    var oVoucherBatch = window.showModalDialog(url, oParameter, 'dialogHeight:380px;dialogWidth:505px;dialogLeft:500;dialogTop:200;center:yes;resizable:no;status:no;scroll:no');
    if(oVoucherBatch!=null)
    {
        if(oVoucherBatch.VoucherBatchID>0)
        {
            var _oVoucherBatchs = $('#tblVoucherBatch').datagrid('getRows');               
            var nIndex=_oVoucherBatchs.length;
            $('#tblVoucherBatch').datagrid('appendRow',oVoucherBatch); 
            $('#tblVoucherBatch').datagrid('selectRow', nIndex);
        }
    }
} 
</script>
