@{
    ViewBag.Title = "BTMA";
}
@model ESimSol.BusinessObjects.BTMA
<div class="menuMainCollectionTable" style="height:550px;width:100%">
    <div id="tblBTMA" class="easyui-panel" style="font-family:Tahoma; text-align:center; height:89%;width:100%;">
        <div id="divBTMA" style="height:32%; width:99%">
            <fieldset>
                <legend style="text-align:left">Export LC</legend>
                <table id="tblBatch1" cellspacing="2" cellpadding="2" border="0" style="width:100%; padding:2px; border-spacing:2px">
                    <tr>
                        <td style="width:10%; text-align:right">B2B  LC No:</td>
                        <td style="width:20%">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:80%">
                                        <input type="text" style="width:100%" id="txtExportLCNo" placeholder="Search By Export LC No..." />
                                    </td>
                                    <td style="width:10%">
                                        <input type="button" style="width:100%" value="C" id="btnExportLCClear" />
                                    </td>
                                    <td style="width:10%">
                                        <input type="button" style="width:100%" value="P" id="btnExportLCPick" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:10%;text-align:right; padding:2px">LC Value:</td>
                        <td style="width:20%; padding:2px">
                            <input type="text" id="txtLCValue" style="width:100%;" disabled="disabled" />
                        </td>
                        <td style="width:10%;text-align:right">LC Date:</td>
                        <td style="width:20%; padding:2px">
                            <input id="txtLCDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10%; text-align:right">Invoice/Bill No:</td>
                        <td style="width:20%">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:80%">
                                        <input type="text" style="width:100%" id="txtExportBillNo" placeholder="Search By Export Bill No..." />
                                    </td>                                   
                                </tr>
                            </table>
                        </td>
                        <td style="width:10%;text-align:right; padding:2px">Garments Qty:</td>
                        <td style="width:20%; padding:2px">
                            <input type="text" id="txtGarmentsQty" style="width:100%;"/>
                        </td>
                        <td style="width:10%;text-align:right">LC Expire Date:</td>
                        <td style="width:20%; padding:2px">
                            <input id="txtLCExpireDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10%; text-align:right">Bank Name:</td>
                        <td style="width:20%">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:80%">
                                        <input type="text" style="width:100%" id="txtBankName" />
                                    </td>                                 
                                </tr>
                            </table>
                        </td>
                        <td style="width:10%;text-align:right; padding:2px">Branch:</td>
                        <td style="width:20%; padding:2px">
                            <input type="text" id="txtBranch" style="width:100%;" />
                        </td>
                        <td style="width:10%;text-align:right">Delivery Date:</td>
                        <td style="width:20%; padding:2px">
                            <input id="txtDeliveryDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10%;text-align:right; padding:2px">Master LC No(s):</td>
                        <td style="width:20%; padding:2px">
                            <input type="text" id="txtMasterLCNo" style="width:100%;" />
                        </td>
                        <td style="width:10%;text-align:right">Master LC Date:</td>
                        <td style="width:20%; padding:2px">
                            <input id="txtMasterLCDate" type="text" required="required"  style=" width:100%;" />

                        </td>
                        <td style="width:10%;text-align:right">Invoice Date:</td>
                        <td style="width:20%; padding:2px">
                            <input id="txtInvoiceDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                        </td>
                    </tr>

                </table>
            </fieldset> 
            <fieldset>
                <legend style="text-align:left">Detail</legend>
                <div style="height:160px; width:100%;">
                    <table id="tblBTMADetail" class="easyui-datagrid" showfooter="true" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar" data-options="onClickRow:onclickrowBTMADetail">
                        <thead>
                            <tr>
                                <th data-options="field:'ProductName',width:100, align:'Left',editor:{type:'text'}">ProductName</th>
                                <th field="Qty" width="50" formatter="formatPrice">Qty(Lbs)</th>
                                <th field="UnitPrice" width="50" align="right">Unit Price</th>
                                <th field="PINo" width="50" align="right">PI No</th>
                            </tr>
                        </thead>
                    </table>
                    <div id="toolbar">
                        <input id="txtProductName" type="text" style="width:200px" placeholder="Search by Product Name" />
                        <a id="btnRemoveBTMADetail" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Remove" iconcls="icon-remove" plain="true">Remove</a>
                    </div>
                </div>
            </fieldset>    
            <fieldset>
                <legend style="text-align:left">Import LC</legend>
                <table id="tblBatch2" cellspacing="2" cellpadding="2" border="0" style="width:100%; padding:2px; border-spacing:2px">                  
                    <tr>
                        <td style="width:10%;text-align:right; padding:2px">Import LC No:</td>
                        <td style="width:20%; padding:2px">
                            <input type="text" id="txtImportLCNo" style="width:100%;"  placeholder="Type LC No and Press Enter...."/>
                        </td>
                        <td style="width:10%;text-align:right">Imp. LC Date:</td>
                        <td style="width:20%; padding:2px">
                            <input id="txtImpLCNoDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                        </td>
                        <td style="width:10%; text-align:right">Supplier:</td>
                        <td style="width:20%">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:80%">
                                        <input type="text" style="width:100%" id="txtSupplier" placeholder="Type Supplier and press enter......." />
                                    </td>                                    
                                </tr>
                            </table>
                        </td>                      
                    </tr>                  
                    <tr>                      
                        <td style="width:10%;text-align:right; padding:2px">Supplier Address:</td>
                        <td style="width:20%; padding:2px">
                            <input type="text" id="txtSupplierAddress" style="width:100%;" disabled />
                        </td>
                        <td style="width:10%; padding:2px"></td>
                        <td style="width:20%; padding:2px">
                           
                        </td>
                    </tr>
                </table>
            </fieldset> 
            <fieldset>
                <legend style="text-align:left">Mushak</legend>
                <table id="tblBatch3" cellspacing="2" cellpadding="2" border="0" style="width:100%; padding:2px; border-spacing:2px">               
                    <tr>
                        <td style="width:10%;text-align:right; padding:2px">Mushak No:</td>
                        <td style="width:20%; padding:2px">
                            <input type="text" id="txtMushakNo" style="width:100%;" />
                        </td>                        
                        <td style="width:10%;text-align:right">Mushak Date:</td>
                        <td style="width:20%; padding:2px">
                            <input id="txtMushakDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                        </td>
                        <td style="width:10%;text-align:right">Gate Pass Date:</td>
                        <td style="width:20%; padding:2px">
                            <input id="txtGatePassDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10%;text-align:right; padding:2px">Gate Pass No:</td>
                        <td style="width:20%; padding:2px">
                            <input type="text" id="txtGatePassNo" style="width:100%;" />
                        </td>
                        <td style="width:10%;text-align:right"></td>
                        <td style="width:20%; padding:2px">
                            
                        </td>
                        <td style="width:10%;text-align:right"></td>
                        <td style="width:20%; padding:2px">
                            
                        </td>
                    </tr>
                </table>
            </fieldset>                           
        </div>        
    </div>
    <fieldset>
        <legend style="font-weight:bold"> Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
            <tr>
                <td style="width:100%;text-align:right">
                    <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                    <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                </td>
            </tr>
        </table>
    </fieldset>
</div>

<script>
    $(document).ready(function () {
        debugger;
        var oBTMA =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));  
        $('#tblBTMA').data('BTMA',oBTMA);        
        $('#tblBTMA').data('BaseAddress', sBaseAddress);
        $('#txtLCDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtLCExpireDate').datebox('setValue', icsdateformat(new Date()));       
        $('#txtDeliveryDate').datebox('setValue', icsdateformat(new Date()));
        //$('#txtMasterLCDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtInvoiceDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtImpLCNoDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtMushakDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtGatePassDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtLCValue').icsCurrencyBox();
        $('#txtImportValue').icsCurrencyBox();    
        RefreshControl(oBTMA);
        if(sessionStorage.getItem("BTMAHeader")=="View BTMA")
        {
            debugger;
            $('#btnSave').hide();           
            $('#btnAddBTMADetail').hide();
            $('#btnEditBTMADetail').hide();
            $('#btnDeleteBTMADetail').hide();             
            $("#divBTMA :input").prop("disabled", true);
            $("#toolbar :input").prop("disabled", true);                                              
        }    
        if(sessionStorage.getItem("BTMAHeader")=="Add BTMA")
        {
            debugger;
            $('#btnSave').show();           
            $('#btnAddBTMADetail').show();
            $('#btnEditBTMADetail').show();
            $('#btnDeleteBTMADetail').show();             
            $("#divBTMA :input").prop("disabled", false);
            $("#toolbar :input").prop("disabled", false);  
            $('#txtFileNo').attr('disabled','disabled');  
            $('#txtOrderType').val("");
            $('#txtMunitName').attr('disabled','disabled');                 
            $('#txtLCDate').attr('disabled','disabled'); 
            $('#txtLCExpireDate').attr('disabled','disabled'); 
        }
        //$.icsMakeFooterColumn('tblBTMADetail',['MUnitName','UsagesPercent','Qty']);
         
    });

    function RefreshObject(){
        debugger;
        var oBTMA={
            BTMAID : parseInt($('#tblBTMA').data('BTMA').BTMAID),
            ExportLCID  : $('#txtExportLCNo').data('ExportLCID'),
            ExportBillID : $('#txtExportBillNo').data('ExportBillID'),
            BankName  : $("#txtBankName").val(),
            BranchName  :  $("#txtBranch").val(),
            Amount  :   parseFloat(TempRemoveComma($('#txtLCValue').val())),
            SupplierID  : parseFloat( $('#txtSupplier').data('ContractorID')), 
            SupplierName : $('#txtSupplier').val(),
            MasterLCNos  : $('#txtMasterLCNo').val(),
            MasterLCDates  :  $('#txtMasterLCDate').val(),
            InvoiceDate  : $('#txtInvoiceDate').datebox('getValue'),
            ImportLCID : parseFloat( $('#txtImportLCNo').data('ImportLCID')),
            ImportLCNo : $('#txtImportLCNo').val(),
            ImportLCDate  :$('#txtImpLCNoDate').datebox('getValue'),
            GarmentsQty : $('#txtGarmentsQty').val(),
            DeliveryDate  : $('#txtDeliveryDate').datebox('getValue'),
            //DeliveryChallanNo : parseFloat(TempRemoveComma($('#txtRovingLength').val())),
            SupplierID :  $('#txtSupplier').data('ContractorID'),
            MushakNo :$('#txtMushakNo').val(),
            MushakDate  : $('#txtMushakDate').datebox('getValue'),
            GatePassNo : $('#txtGatePassNo').val(),
            GatePassDate :$('#txtGatePassDate').datebox('getValue'),
            BTMADetails : $('#tblBTMADetail').datagrid('getRows'),
        };
        return oBTMA;
    }

    function RefreshControl(oBTMA)
    {       
        debugger;
        $('#txtExportLCNo').data('ExportLCID',oBTMA.ExportLCID),
        $("#txtExportLCNo").val(oBTMA.ExportLCNo);
        $("#txtLCValue").val(TempAddComma(oBTMA.Amount));
        $('#txtLCDate').datebox('setValue', oBTMA.LCDateST); 
        $('#txtExportBillNo').data('ExportBillID',oBTMA.ExportBillID);
        $('#txtExportBillNo').val(oBTMA.ExportBillNo);
        $('#txtGarmentsQty').val(oBTMA.GarmentsQty);
        $("#txtLCExpireDate").datebox('setValue', oBTMA.LCExpireDateST); 
        $("#txtBankName").val(oBTMA.BankName);
        $("#txtBranch").val(oBTMA.BranchName);
        $("#txtDeliveryDate").datebox('setValue', oBTMA.DeliveryDateST); 
        $("#txtMasterLCNo").val(oBTMA.MasterLCNos);
        $('#txtInvoiceDate').datebox('setValue', oBTMA.InvoiceDateST); 
        $("#txtMasterLCDate").val(oBTMA.MasterLCDates);
        //$('#txtMasterLCDate').datebox('setValue', oBTMA.MasterLCDates); 
        $('#txtImportLCNo').val(oBTMA.ImportLCNo);
        $('#txtImportLCNo').data('ImportLCID',oBTMA.ImportLCID);
        $("#txtImportValue").val(TempAddComma(oBTMA.ImportLCNo));
        $("#txtImpLCNoDate").datebox('setValue', oBTMA.ImportLCDateST); 
        $("#txtSupplier").val(oBTMA.SupplierName);
        $('#txtSupplier').data('ContractorID',oBTMA.SupplierID);
        $("#txtSupplierAddress").val(oBTMA.SupplierAddress);
        $("#txtMushakNo").val(oBTMA.MushakNo);
        $("#txtMushakDate").datebox('setValue', oBTMA.MushakDateST); 
        $("#txtGatePassDate").datebox('setValue', oBTMA.GatePassDateST); 
        $("#txtGatePassNo").val(oBTMA.GatePassNo);         
        DynamicRefreshList(oBTMA.BTMADetails,'tblBTMADetail');
        if(parseInt(oBTMA.BTMAID)>0)
        {           
            txtExportLCNo.style.color="blue";
            txtExportLCNo.style.fontWeight="bold";

            txtExportBillNo.style.color="blue";
            txtExportBillNo.style.fontWeight="bold";

            txtBankName.style.color="blue";
            txtBankName.style.fontWeight="bold";

            txtImportLCNo.style.color="blue";
            txtImportLCNo.style.fontWeight="bold";

            txtSupplier.style.color="blue";
            txtSupplier.style.fontWeight="bold";

            
            $('#txtLCDate').attr('disabled','disabled'); 
            $('#txtLCExpireDate').attr('disabled','disabled'); 
          
        }
    }

    $("btnExportLCPick").click(function(){
        GetExportLCNo();
    });
    $("btnExportLCClear").click(function(){
        $('#txtExportLCNo').data('ExportLCID', 0);
        $('#txtExportLCNo').val("");
    });

    //EXPORT LC PICKER
    $("#txtExportLCNo").keydown( function(e){
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) //enter
        {
           GetExportLCNo();
        }
        else if(code == 8) // backspace
        {
            $('#txtExportLCNo').data('ExportLCID', 0);
        }
        
    });
    function  GetExportLCNo()
    {
        var getExportLCNo = $("#txtExportLCNo").val();
        var oExportLC = {ExportLCNo:(getExportLCNo == undefined? "" : getExportLCNo)};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oExportLC,
            ControllerName: "BTMA",
            ActionName: "GetbyLCNo",
            IsWinClose: false
        };
        debugger;
        var tblColums = [];
        var oColumn = { field:"ExportLCNo", title: "Name", width: 150, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Amount", title: "Amount", width: 100,  align: "right",formatter:formatPrice}; tblColums.push(oColumn);
        oColumn = { field: "OpeningDateST", title: "LC Date", width: 100, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "BankName_Issue", title: "Bank Name", width: 200, align: "left" }; tblColums.push(oColumn);

        var oPickerExportLC = {
            winid: 'winExportLC',
            winclass: 'clsExportLC',
            winwidth: 600,
            winheight: 460,
            tableid: 'tblExportLC',
            tablecolumns: tblColums,
            multiplereturn: false,
            searchingbyfieldName: 'ExportLCNo',
            windowTittle: 'ExportLC List',
            paramObj: obj,
            pkID: 'ExportLCID',
            callBack: SetExportLC
        };
        $.icsDynamicPicker(oPickerExportLC);
    }
        
    function SetExportLC(oResult)
    {
        debugger;
        if(oResult.ExportLCID>0)
        {
            $("#txtExportLCNo").val(oResult.ExportLCNo);
            $('#txtExportLCNo').data('ExportLCID', oResult.ExportLCID);
            $("#txtLCValue").val(TempAddComma(oResult.Amount));
            $("#txtMasterLCNo").val(oResult.MasterLCNos);
            $('#txtLCDate').datebox('setValue', oResult.OpeningDateST); 
            $("#txtMasterLCDate").val(oResult.MasterLCDates);
            
            $('#txtLCExpireDate').datebox('setValue', oResult.ExpiryDateST); 
            $("#txtBankName").val(oResult.BankName_Issue);
            $("#txtBranch").val(oResult.BBranchName_Issue);
            txtExportLCNo.style.color="blue";
            txtExportLCNo.style.fontWeight="bold"; 
        }
    }

    //EXPORT BILL PICKER
    $("#txtExportBillNo").keydown( function(e){
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) //enter
        {
            GetExportBillNo();
        }
        else if(code == 8) // backspace
        {
            $('#txtExportBillNo').data('ExportBillID', 0);
        }
        
    });
    function  GetExportBillNo()
    {
        var nExportLCID = parseInt($('#txtExportLCNo').data('ExportLCID'))
        if(nExportLCID == 0){
            alert("Please Select B2B LC No");return;
        }
        var getExportBillNo = $("#txtExportBillNo").val();
        var oExportBillNo = {
            ExportBillNo:(getExportBillNo == undefined)?"":getExportBillNo,
            ExportBillID:parseInt($('#tblBTMA').data('BTMA').ExportBillID),
            ExportLCID: parseInt($('#txtExportLCNo').data('ExportLCID'))
        }
        
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oExportBillNo,
            ControllerName: "BTMA",
            ActionName: "GetsByLC",
            IsWinClose: false
        };
        debugger;
        var tblColums = [];
        var oColumn = { field:"ExportBillNo", title: "Bill No", width: 100, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Amount", title: "Amount", width: 100, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Qty", title: "Quantity",  width: 100, align: "left", formatter:formatPrice}; tblColums.push(oColumn);
        oColumn = { field: "ExportLCNo", title: "L/C No", width: 100, align: "left" }; tblColums.push(oColumn);

        var oPickerExportBill = {
            winid: 'winExportBillLC',
            winclass: 'clsExportBillLC',
            winwidth: 600,
            winheight: 460,
            tableid: 'tblExportBill',
            tablecolumns: tblColums,
            multiplereturn: false,
            searchingbyfieldName: 'ExportBillNo',
            windowTittle: 'ExportBill List',
            paramObj: obj,
            pkID: 'ExportBillID',
            callBack: SetExportBill
        };
        $.icsDynamicPicker(oPickerExportBill);
    }
    function SetExportBill(oResult)
    {
        debugger;
        if(oResult.ExportBillID>0)
        {          
            $('#txtExportBillNo').val(oResult.ExportBillNo);
            $('#txtExportBillNo').addClass('fontColorOfPickItem');
            $('#txtExportBillNo').data('ExportBillID', oResult.ExportBillID);
            $('#txtInvoiceDate').datebox('setValue', oResult.StartDateSt); 
            $('#txtGarmentsQty').val(TempAddComma(oResult.Qty));

            GetDetails(oResult.ExportBillID);
        }
    }
   
    function GetDetails(nExportBillID)
    {
        debugger;
        if(parseInt(nExportBillID)<=0)
        {
            alert("Please Pick Export Bill");
            return;
        }
        var oExportBill= {
            ExportBillID : nExportBillID
        };
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/BTMA/GetsProduct",
            traditional: true,
            data:  JSON.stringify(oExportBill),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                oBTMADetails = data;
                if (oBTMADetails.length>0 && (oBTMADetails[0].ErrorMessage=="" || oBTMADetails[0].ErrorMessage==null))
                {
                    DynamicRefreshList(oBTMADetails, "tblBTMADetail");
                   
                }
                else
                {
                    alert("data not found.");
                }
            },
            error: function (xhr, status, error)
            {
                alert(xhr+'~' +status+'~'+error);
            }
        });
    }

    //Supplier PICKER
    $("#txtSupplier").keydown( function(e){
        debugger;
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sContractorName=$.trim($("#txtSupplier").val());
            GetContractors(sContractorName);
        }
        else if(nkeyCode==8){
            $('#txtSupplier').data('ContractorID', 0);
        }
        
    });
    function  GetContractors()
    {
        var sContractorName=$.trim($("#txtSupplier").val());
        var oContractor = {
            Params: '1' +'~'+sContractorName,
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        debugger;
        var tblColums = [];
        var oColumn = { field:"ContractorID", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Name", title: "Name", width: 150, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Phone", title: "Phone", width: 100, align: "left" }; tblColums.push(oColumn);

        var oPickerContractor = {
            winid: 'winContractor',
            winclass: 'clsContractor',
            winwidth: 600,
            winheight: 460,
            tableid: 'tblContractor',
            tablecolumns: tblColums,
            multiplereturn: false,
            searchingbyfieldName: 'Name',
            windowTittle: 'Supplier List',
            paramObj: obj,
            pkID: 'ContractorID',
            callBack: SetContractor
        };
        $.icsDynamicPicker(oPickerContractor);
    }
    function SetContractor(oResult)
    {
        debugger;
        if(oResult.ContractorID>0)
        {
           
            $('#txtSupplier').val(oResult.Name);
            $('#txtSupplier').addClass('fontColorOfPickItem');
            $('#txtSupplier').data('ContractorID', oResult.ContractorID);
            $('#txtSupplierAddress').val(oResult.Address);
        }
    }

    //Product PICKER
    $("#txtProductName").keydown( function(e){
        debugger;
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){        
            GetProducts();
        }
    });  
    function  GetProducts()
    {
        if(parseInt($('#txtExportBillNo').data('ExportBillID')<=0))
        {
            alert("Please select Invoice.");
            $('#txtExportBillNo').focus();
            return;
        }
        var getProduct =  $("#txtProductName").val();
        var oExportBill= {           
            ErrorMessage: ((getProduct==undefined)?"":getProduct),
            ExportBillID:$('#txtExportBillNo').data('ExportBillID'),
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oExportBill,
            ControllerName: "BTMA",
            ActionName: "GetsProduct",
            IsWinClose: false
        };
        debugger;
        var tblColums = [];
        var oColumn = { field:"ProductName", title: "Name", width: 100, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Qty", title: "Qty", width: 300, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "MUName", title: "MUnit", width: 300, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "UnitPrice", title: "UnitPrice", width: 300, align: "left" }; tblColums.push(oColumn);

        var oPickerProduct = {
            winid: 'winProduct',
            winclass: 'clsProduct',
            winwidth: 600,
            winheight: 460,
            tableid: 'tblProduct',
            tablecolumns: tblColums,
            multiplereturn: false,
            searchingbyfieldName: 'ProductName',
            windowTittle: 'ProductName List',
            paramObj: obj,
            pkID: 'ProductID',
            callBack: SetProduct
        };
        $.icsDynamicPicker(oPickerProduct);
    }
    function SetProduct(oResult)
    {
        debugger;
        if(oResult.ProductID>0)
        {   
            //$('#txtProductName').data('Product',oResult);
            //$('#txtProductName').val(oResult.ProductName);
            //$('#txtProductName').addClass('fontColorOfPickItem');
            //$('#txtProductName').data('ProductID', oResult.ProductID); 
            //$('#txtProductName').data('MUnitID', oResult.MUnitID); 
            //$('#txtProductName').data('MUnitName', oResult.MUName); 
            //BTMADetailAdd();
        }
    }

    //BTMA DETAIL
    function BTMADetailAdd(){
        var oBTMADetail =
            {
                BTMADetailID : 0,
                BTMAID: parseInt($('#tblBTMA').data('BTMA').BTMAID),
                ProductID : parseInt($('#txtProductName').data('ProductID')),
                ProductName : $("#txtProductName").val(),               
                MUnitID : $('#txtProductName').data('MUnitID'),
                MUnitName : $('#txtProductName').data('MUnitName'),
                Qty  : $('#txtProductName').data('Product').Qty,
                UnitPrice : $('#txtProductName').data('Product').UnitPrice,
                Remarks : ""
            }
        $('#tblBTMADetail').datagrid('appendRow',oBTMADetail);
        var oBTMADetails = $('#tblBTMADetail').datagrid('getRows');
        $('#tblBTMADetail').datagrid('selectRow', (oBTMADetails.length-1));
        $("#txtProductName").val("");       
        $('#txtProductName').removeClass('fontColorOfPickItem');

    }       
    $('#btnRemoveBTMADetail').click(function(){
        var selecteRow = $('#tblBTMADetail').datagrid('getSelected');
        var selectedIndex = $('#tblBTMADetail').datagrid('getRowIndex',selecteRow);
        $('#tblBTMADetail').datagrid('deleteRow', selectedIndex);

    });
    function onclickrowBTMADetail(index){
        if (editIndexBTMADetail != index){
            if (endEditingBTMADetail())
            {
                $('#tblBTMADetail').datagrid('selectRow', index).datagrid('beginEdit', index);
                editIndexBTMADetail = index;
            }
            else
            {
                $('#tblBTMADetail').datagrid('selectRow', editIndexBTMADetail);
            }
        }
    }
    var editIndexBTMADetail = undefined;
    function endEditingBTMADetail(){
        if (editIndexBTMADetail == undefined){return true}
        if ($('#tblBTMADetail').datagrid('validateRow', editIndexBTMADetail)){
            $('#tblBTMADetail').datagrid('endEdit', editIndexBTMADetail);
            //$.icsMakeFooterColumn('tblBTMADetail',['BatchNo','Qty']);
            editIndexBTMADetail = undefined;
            return true;
        }
        else
        {
            return false;
        }
    }

    $('#btnSave').click(function(){
        debugger;
        endEditingBTMADetail();
        //if(!ValidateInput()) return;
        var oBTMA = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : $('#tblBTMA').data('BaseAddress')+ "/BTMA/SaveBTMA",
            traditional: true,
            data:  JSON.stringify(oBTMA),
            contentType: "application/json; charset=utf-8",
            success: function (data)
            {
                oBTMA = jQuery.parseJSON(data);
                if (oBTMA.ErrorMessage=="" || oBTMA.ErrorMessage==null)
                {
                    alert("Data Saved successfully");
                    debugger;
                    var oBTMAs = sessionStorage.getItem("BTMAs");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if (oBTMAs != null)
                    {
                        oBTMAs = jQuery.parseJSON(oBTMAs);
                    }
                    else {
                        oBTMAs = [];
                    }
                    if (nIndex != -1)
                    {
                        oBTMAs[nIndex] = oBTMA;
                    }
                    else {
                        sessionStorage.setItem("SelectedRowIndex", oBTMAs.length);
                        oBTMAs.push(oBTMA);

                    }
                    sessionStorage.setItem("BTMAs", JSON.stringify(oBTMAs));
                    window.location.href = sessionStorage.getItem("BackLink");
                }
                else
                {
                    alert(oBTMA.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });
    $('#btnClose').click(function(){
        window.location.href = sessionStorage.getItem("BackLink");
    });

    //IMPORT LC NO
    $("#txtImportLCNo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var oImportLC = {
                ImportLCNo: $("#txtImportLCNo").val(),
                BUID:sessionStorage.getItem("BUID"),
                ContractorID:$('#txtSupplier').data('ContractorID'),
                ErrorMessage:""
            };
            GetsImportLCs(oImportLC);
        }
        else if(nkeyCode==8){
            $("#txtImportLCNo").val("");
        }
    });
    function  GetsImportLCs(oImportLC)
    {
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oImportLC,
            ControllerName: "BTMA",
            ActionName: "GetsByImportLC",
            IsWinClose: false
        };
        
        debugger;
        var tblColums = [];
        var oColumn = { field:"ImportLCNo", title: "Import L/C No", width: 100, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ImportLCDateInString", title: "L/C Date", width: 100, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ContractorName", title: "Supplier", width: 200, align: "left" }; tblColums.push(oColumn);

        var oImportLC = {
            winid: 'winImportLC',
            winclass: 'clsImportLC',
            winwidth: 600,
            winheight: 460,
            tableid: 'tblImportLC',
            tablecolumns: tblColums,
            multiplereturn: false,
            searchingbyfieldName: 'Name',
            windowTittle: 'Import L/C List',
            paramObj: obj,
            pkID: 'ImportLCID',
            callBack: SetImportLC
        };
        $.icsDynamicPicker(oImportLC);
    }
    function SetImportLC(oResult)
    {
        debugger;
        if(oResult.ImportLCID>0)
        {   
            $('#txtImportLCNo').data('ImportLCNo',oResult);
            $('#txtImportLCNo').val(oResult.ImportLCNo); 
            $('#txtImportLCNo').data('ImportLCID',oResult.ImportLCID);
            $('#txtImportLCNo').addClass('fontColorOfPickItem');
            $('#txtSupplier').val(oResult.ContractorName);
            $('#txtSupplier').addClass('fontColorOfPickItem');
            $('#txtSupplier').data('ContractorID', oResult.ContractorID);
            $('#txtImportValue').val(TempAddComma(oResult.Amount));
            $('#txtImpLCNoDate').datebox('setValue', oResult.ImportLCDateInString); 
            
        }
    }
    //REMOVE COMMA
    function TempRemoveComma(userInput) {
        //debugger;
        var amountInString = "";
        if (userInput === null || userInput === "") {
            amountInString = "0.00";
        }
        else {
            amountInString = "";
            for (var i = 0; i < userInput.length; i++) {
                var char = userInput.charAt(i);
                var charForCheck = char;
                char = char.match(/\d+/g);
                if (char != null) {
                    amountInString = amountInString + userInput.charAt(i);
                    count = 1;
                }
                else if (charForCheck == ",") {
                    continue;
                }
                else if (charForCheck == ".") {
                    amountInString = amountInString + userInput.charAt(i);
                }
            }
        }
        //debugger;
        return (isNaN(parseFloat(amountInString)) ? parseFloat(0.00) : parseFloat(amountInString)).toFixed(3);
    }

   
    function TempAddComma(nStr) {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var process = /(\d+)(\d{3})/;
        while (process.test(x1)) {
            x1 = x1.replace(process, '$1' + ',' + '$2');
        }
        return x1 + x2;
    }   
   

</script>