@{
    ViewBag.Title = "Terms & Conditions";
}
@model IEnumerable<ESimSol.BusinessObjects.DymanicHeadSetup>

<div style="margin-left:0px; height:100%;width:100%">
            <table id="tblDymanicHeadSetups" title="Terms & Condition List"  class="easyui-datagrid" style="width:100%;height:100%" fitColumns="true"  rownumbers="true" pagination="true" singleSelect="true", autoRowHeight="false" toolbar="#toolbar">
                <thead>  
                    <tr>  
                        
                        <th field="Name" width="20%">Name</th>    
                        <th field="ReferenceTypeSt" width="30%">Reference Type</th>  
                        <th field="MappingTypeSt" width="30%">Mapping Type</th>  
                        <th field="ActivityInString" width="10%">Active / In-Active</th>  
                                                                        
                    </tr>  
                </thead> 
            </table>​  
            <div id="toolbar"> 
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-reload" plain="true" onclick="Refresh()">Refresh</a>                
                <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="Add()">Add</a>  
                <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="Edit()">Edit</a>                
                <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-details" plain="true" onclick="Details()">View</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="Delete()">Delete</a>
                <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" plain="true" onclick="ActiveInActive()">Active/In-Active</a>                 
                <a id="btnProcess" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Process</a>  
            </div>  
</div>



<script type="text/javascript">
var _oDymanicHeadSetups=[];
var _sBaseAddress="";
$(document).ready(function () {
    //debugger;
    _oDymanicHeadSetups =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));  

    _nID =parseInt(sessionStorage.getItem("SelectedRowIndex"));
    var oDymanicHeadSetups =sessionStorage.getItem("DymanicHeadSetups");
    if(oDymanicHeadSetups!=null)
    {
        oDymanicHeadSetups = jQuery.parseJSON(oDymanicHeadSetups);  
    }
    else
    {
        oDymanicHeadSetups=_oDymanicHeadSetups;
    }
        
    DynamicRefreshList(oDymanicHeadSetups, 'tblDymanicHeadSetups');
    if(_nID!=-1)
    {
        $('#tblDymanicHeadSetups').datagrid('selectRow', _nID);
    }
  
});

function Refresh()
{    
    var oDymanicHeadSetups = $('#tblDymanicHeadSetups').datagrid('getRows'); 
    data=oDymanicHeadSetups;
    data={"total":""+data.length+"","rows":data};
    $('#tblDymanicHeadSetups').datagrid('loadData',data);           
}   

function Add()
{

    var oDymanicHeadSetups= $('#tblDymanicHeadSetups').datagrid('getRows');
    sessionStorage.setItem("DymanicHeadSetups", JSON.stringify(oDymanicHeadSetups)); 
    sessionStorage.setItem("SelectedRowIndex", -1);   
    sessionStorage.setItem("DymanicHeadSetupHeader", "Add DymanicHeadSetup");
    //var tsv=((new Date()).getTime())/1000;
    window.location.href = _sBaseAddress+ "/DymanicHeadSetup/ViewDymanicHeadSetup?id=0";
    //debugger;
  
} 



function Edit()
{
    var oDymanicHeadSetup= $('#tblDymanicHeadSetups').datagrid('getSelected'); 
    if(oDymanicHeadSetup==null || oDymanicHeadSetup.DymanicHeadSetupID<=0)
    {
        alert("Please select a item from list!");
        return;
    }
        
    var SelectedRowIndex=$('#tblDymanicHeadSetups').datagrid('getRowIndex',oDymanicHeadSetup);
    var oDymanicHeadSetups= $('#tblDymanicHeadSetups').datagrid('getRows');
    sessionStorage.setItem("DymanicHeadSetups", JSON.stringify(oDymanicHeadSetups));        
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);   
    sessionStorage.setItem("DymanicHeadSetupHeader", "Edit DymanicHeadSetup");
    window.location.href = _sBaseAddress+  "/DymanicHeadSetup/ViewDymanicHeadSetup?id="+oDymanicHeadSetup.DymanicHeadSetupID;   

    ////debugger;
    //var oDymanicHeadSetup= $('#tblDymanicHeadSetups').datagrid('getSelected'); 
    //if(oDymanicHeadSetup==null || oDymanicHeadSetup.DymanicHeadSetupID<=0)
    //{
    //    alert("Please select a item from list!");
    //    return;
    //}
    //var SelectedRowIndex=$('#tblDymanicHeadSetups').datagrid('getRowIndex',oDymanicHeadSetup);
    //var oParameter = new Object();        
    //oParameter.Name = "Edit Terms & Condition";
    //var tsv=((new Date()).getTime())/1000;
    //var url =_sBaseAddress+  "/DymanicHeadSetup/ViewDymanicHeadSetup?id="+oDymanicHeadSetup.DymanicHeadSetupID+"&ts="+tsv;
    //oDymanicHeadSetup = window.showModalDialog(url, oParameter, 'dialogHeight:220px;dialogWidth:705px;dialogLeft:500;dialogTop:200;center:yes;resizable:no;status:no;scroll:no');
    ////debugger
    //if(oDymanicHeadSetup!=null)
    //{
    //    if(oDymanicHeadSetup.DymanicHeadSetupID>0)
    //    {
                
    //        $('#tblDymanicHeadSetups').datagrid('updateRow',{index: SelectedRowIndex,	row: oDymanicHeadSetup});
    //    }
    //}
} 


function Details()
{
    var oDymanicHeadSetup= $('#tblDymanicHeadSetups').datagrid('getSelected'); 
    if(oDymanicHeadSetup==null || oDymanicHeadSetup.DymanicHeadSetupID<=0)
    {
        alert("Please select a item from list!");
        return;
    }
        
    var SelectedRowIndex=$('#tblDymanicHeadSetups').datagrid('getRowIndex',oDymanicHeadSetup);
    var oDymanicHeadSetups= $('#tblDymanicHeadSetups').datagrid('getRows');
    sessionStorage.setItem("DymanicHeadSetups", JSON.stringify(oDymanicHeadSetups));        
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);   
    sessionStorage.setItem("DymanicHeadSetupHeader", "View DymanicHeadSetup");    
    window.location.href = _sBaseAddress+  "/DymanicHeadSetup/ViewDymanicHeadSetup?id="+oDymanicHeadSetup.DymanicHeadSetupID;
//debugger;
            
} 

function Delete()
{
    debugger;
    var oDymanicHeadSetup= $('#tblDymanicHeadSetups').datagrid('getSelected');
    if(oDymanicHeadSetup==null || oDymanicHeadSetup.DymanicHeadSetupID<=0)
    {
        alert("Invalid Field!!! please select a valid Field!");                  
        return false;
    }
    if (!confirm("Confirm to Delete?")) return ;
    var SelectedRowIndex=$('#tblDymanicHeadSetups').datagrid('getRowIndex',oDymanicHeadSetup);
    if (oDymanicHeadSetup.DymanicHeadSetupID > 0) 
    {
        $.icsDelete({
            BaseAddress: _sBaseAddress,
            Object: oDymanicHeadSetup,
            ControllerName: "DymanicHeadSetup",
            ActionName: "Delete",
            TableId: "tblDymanicHeadSetups",
            IsWinClose: false
        });
    }
}


function ActiveInActive()
{
        //debugger;  
        var oDymanicHeadSetup= $('#tblDymanicHeadSetups').datagrid('getSelected');
        if(oDymanicHeadSetup==null || oDymanicHeadSetup.DymanicHeadSetupID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(oDymanicHeadSetup.Activity==true)
        {
            if (!confirm("Confirm to In-Active?")) return ;
            oDymanicHeadSetup.Activity=false;
        }
        else
        {
            if (!confirm("Confirm to Active?")) return ;
            oDymanicHeadSetup.Activity=true;
        }
        var SelectedRowIndex=$('#tblDymanicHeadSetups').datagrid('getRowIndex',oDymanicHeadSetup);
        if (oDymanicHeadSetup.DymanicHeadSetupID > 0) 
        {
             $.ajax({
                type: "POST",
                dataType: "json",            
                url : _sBaseAddress+  "/DymanicHeadSetup/Save",
                traditional: true,
                data:  JSON.stringify(oDymanicHeadSetup),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //debugger;
                    oDymanicHeadSetup = jQuery.parseJSON(data);
                    if (oDymanicHeadSetup.DymanicHeadSetupID>0) {                    
                        alert("Update sucessfully");
                        $('#tblDymanicHeadSetups').datagrid('updateRow',{index: SelectedRowIndex,	row: oDymanicHeadSetup});
                    }
                    else {
                        alert(oDymanicHeadSetup.ErrorMessage);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }

            });
        }
}

    
function RefreshList(oDymanicHeadSetups)
{    
    data=oDymanicHeadSetups;
    data={"total":""+data.length+"","rows":data};
    $('#tblDymanicHeadSetups').datagrid('loadData',data);
}

$("#btnProcess").click(function(){
    
    var DymanicHeadSetup={DymanicHeadSetupID:0};
    $.ajax({
        type: "POST",
        dataType: "json",
        url : _sBaseAddress+  "/DymanicHeadSetup/Process",
        traditional: true,
        data:  JSON.stringify(DymanicHeadSetup),
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            var sMessage = jQuery.parseJSON(data);
            if (sMessage=="Process done successfully") {
                alert("Data Saved sucessfully");
             
            }
            else {
                alert(sMessage);
            }
        },
        error: function (xhr, status, error) {
            alert(error);
        }
    });
});

</script>