
@model IEnumerable<ESimSol.BusinessObjects.PurchaseQuotation>
<head>
    <title>Purchase Quotation Approve</title>
  
</head>
 <body>
     <div class="menuMainCollectionTable" style="width:100%; height:100%;">
         <table id="tblPurchaseQuotationDetails" title="Purchase Quotation List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="fasle" singleselect="false" autorowheight="false" toolbar="#toolbarPurchaseQuotation">
             <thead>
                 <tr>
                     <th data-options="field:'Selected',checkbox:true"></th>
                     <th field="ProductCode" width="100" align="left">Code</th>
                     <th field="ProductName" width="200" align="left">Product Name</th>
                     <th field="SupplierName" width="220" align="left">Vendor</th>
                     <th field="PurchaseQuotationNo" width="150" align="left">Quotation No</th>
                     <th field="UnitName" width="100" align="left">M. Unit</th>
                     <th field="UnitPrice" width="110" formatter="formatPrice">Unit Price</th>
                     <th field="Quantity" width="100"> Qty</th>
                     <th field="MerchandiserName" width="160" align="left">Market Person</th>
                     <th field="ApprovedDateInString" width="100" align="left">Approve Date</th>
                     <th field="ApprovedByName" width="120" align="left">Approve By</th>
                 </tr>
             </thead>
         </table>
         <div id="toolbarPurchaseQuotation">
             <input type="text" id="txtSupplierName" style="width:230px;" placeholder="Type Supplier And Press Enter" /><a id="btnPickSupplier" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Pick</a>
             <a id="btnWaitForApproval" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Wait for Approval</a>
             <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true">Approve</a>
         </div>
     </div>

</body>

<style type="text/css">


</style>

<script type="text/javascript">
    var _oPurchaseQuotation="";
    var _oPurchaseQuotationDetails=[];
    var _sBaseAddress="";
    var _sSupplierIDs= "";
    var _oAuthorizationRolesMapping =[];
    $(document).ready(function () {
        //debugger;
      
       _oPurchaseQuotations =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress])); 
       
    });    


    $("#btnWaitForApproval").click(function () {
        var oPurchaseQuotation = { Parameter: _sSupplierIDs };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oPurchaseQuotation,
            ControllerName: "PurchaseQuotation",
            ActionName: "GetWaitForApproval",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0)
            {
                if (response.objs[0].PurchaseQuotationDetailID> 0)
                {
                    _oPurchaseQuotationDetails = response.objs;
                    DynamicRefreshList( _oPurchaseQuotationDetails, "tblPurchaseQuotationDetails"); 
                }
                else {
                    _oPurchaseQuotationDetails = [];
                    DynamicRefreshList([], "tblPurchaseQuotationDetails"); 
                    alert(response.objs[0].ErrorMessage); 
                }
            } else {
                alert("Data not found");
                DynamicRefreshList([], "tblPurchaseQuotationDetails");
                return;
            }
        });
        
    });

    $("#btnApprove").click(function () {
        //getChecked
        var oCheckItems = $('#tblPurchaseQuotationDetails').datagrid('getChecked');
        var oPQDetails = $('#tblPurchaseQuotationDetails').datagrid('getRows');
        if (oCheckItems.length > 0) {
            for (var i = 0; i < oPQDetails.length; i++) {
                if (IsChecked(oPQDetails[i].PurchaseQuotationDetailID, oCheckItems)) {
                    oPQDetails[i].IsCheck = true;
                }
            }
        }else{
            alert("Select Item form List");
            return;
        }
        var oPurchaseQuotation = {PurchaseQuotationDetails:oPQDetails };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oPurchaseQuotation,
            ControllerName: "PurchaseQuotation",
            ActionName: "Approve",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].PurchaseQuotationDetailID > 0) { alert("Successfully Approved");  _oPurchaseQuotationDetails = response.objs; DynamicRefreshList(response.objs, "tblPurchaseQuotationDetails"); }
                else { _oPurchaseQuotationDetails = []; DynamicRefreshList([], "tblPurchaseQuotationDetails"); alert(response.objs[0].ErrorMessage); }
            }
        });
        
    });

    
    ///Supplier
    $("#txtSupplierName").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var oContractor = { Param: 2 + '~' + document.getElementById('txtSupplierName').value };
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oContractor,
                ControllerName: "Contractor",
                ActionName: "ContractorSearchByNameType",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                debugger;
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ContractorID > 0) {
                        debugger;
                        var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 150, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ContractorTypeInString", title: "Type", width: 150, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winSupplier',
                            winclass: 'clsSupplier',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblSuppliers',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName: 'Name',
                            windowTittle: 'Supplier List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam, 'txtSupplierName');//multiplereturn, assignfieldName
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }
            });
        }
    });

    //btnPickSupplier
    $("#btnPickSupplier").click(function () {
        var oContractor = { Param: "2" };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "GetsByContractorType",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 150, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ContractorTypeInString", title: "Type", width: 150, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winSupplier',
                        winclass: 'clsSupplier',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblSuppliers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Supplier List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam, 'txtSupplierName');//multiplereturn, assignfieldName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
        });

    });

    $('#txtSupplierName').keydown(function (e) 
    {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            var txtSupplierName = document.getElementById("txtSupplierName");
            txtSupplierName.value = '';
            txtSupplierName.style.color = "black";
            txtSupplierName.style.fontWeight = "normal";
            _sSupplierIDs = "";
        }
    });

   
    function IsChecked(nPQDetailID, oCheckedList)
    {
        for (var j = 0; j<oCheckedList.length; j++)
        {
            if(parseInt(oCheckedList[j].PurchaseQuotationDetailID)==parseInt(nPQDetailID))
            {
                return true;
            }
        }
        return false;
    }


    function IntializePickerbutton(oPickerobj, sAppendfieldName) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            ReturnvalueAssign(oPickerobj, sAppendfieldName);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                ReturnvalueAssign(oPickerobj, sAppendfieldName);
            }
        });

    }
    function ReturnvalueAssign(oPickerobj, sAppendfieldName) {
        debugger;
        var oreturnObjs = [], oreturnObj = "", ids = "";
        //for Multiple Select
        debugger;
        if (oPickerobj.multiplereturn) {
            oreturnObjs = $('#' + oPickerobj.tableid).icsGetCheckedItem();
        } else {
            //for Single Select
            oreturnObj = $("#" + oPickerobj.tableid).icsGetSelectedItem();
        }

        if (oPickerobj.multiplereturn) {
            debugger;
            if (oreturnObjs != null && oreturnObjs.length > 0) {
                ids = "";
                for (var i = 0; i < oreturnObjs.length; i++) {
                    ids = ids + oreturnObjs[i].ContractorID + ",";
                }
                ids = ids.substring(0, ids.length - 1);
                $('#' + sAppendfieldName).val((oreturnObjs.length > 1) ? oreturnObjs.length + " Items selected." : oreturnObjs[0].Name);
            }
        } else {
            if (oreturnObj != null && oreturnObj.ContractorID > 0) {
                ids += "" + oreturnObj.ContractorID;
                $('#' + sAppendfieldName).val(oreturnObj.Name);
            }
        }
  
        var txtName = document.getElementById("" + sAppendfieldName);
        txtName.style.color = "blue";
        txtName.style.fontWeight = "bold";
        _sSupplierIDs = ids;
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        $('#txtSupplierName').focus();
    }

</script>