@{
    ViewBag.Title = "Spare Parts Requisition List";
}
@model IEnumerable<ESimSol.BusinessObjects.SparePartsRequisition>
    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>

    

    

    <div id="winAdvanceSearch" class="easyui-window" title="Advance Search" style="width:540px;padding:2px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div>
            <fieldset>
                <legend style="font-weight:bold"> Searching Criteria : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:170px; text-align:right">
                            Ref No :
                        </td>
                        <td style="width:370px">
                            <input type="text" style="width: 370px;" id="txtRefNo" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Issue Date :
                        </td>
                        <td style="width:370px">
                            <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                                <tr>
                                    <td style="width: 120px; font-size: 12px; text-align: left">
                                        <select id="cboIssueDate" style="width:120px"></select>
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtCRStartDate" type="text" style="width: 120px;" class="easyui-datebox" disabled="disabled" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                    <td style="width: 10px; font-size: 12px">
                                        To
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtCREndDate" type="text" style="width: 120px;" class="easyui-datebox" disabled="disabled" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Amount :
                        </td>
                        <td style="width:370px">
                            <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                                <tr>
                                    <td style="width: 120px; font-size: 12px; text-align: left">
                                        <select id="cboCRAmount" style="width:120px"></select>
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtCRAmountStart" style="width:114px" />
                                    </td>
                                    <td style="width: 10px; font-size: 12px">
                                        To
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtCRAmountEnd" style="width:114px" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Requsition By :
                        </td>
                        <td style="width:370px">
                            <select id="cboRequsitionBy" style="width:370px"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            SpareParts Unit :
                        </td>
                        <td style="width:370px">
                            <input type="text" style="width: 282px;" id="txtSparePartsUnit" placeholder="Press enter with SpareParts unit" />
                            <input type="button" style="width: 30px;" id="btnClearSparePartsUnit" value="C" />
                            <input type="button" style="width: 50px;" id="btnSparePartsUnitPicker" value="Pick" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Usages Styl(s) :
                        </td>
                        <td style="width:370px">
                            <input type="text" style="width: 282px;" id="txtStyle" placeholder="Press enter with style no" />
                            <input type="button" style="width: 30px;" id="btnStyleClear" value="C" />
                            <input type="button" style="width: 50px;" id="btnStylePicker" value="Pick" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Product(s) :
                        </td>
                        <td style="width:370px">
                            <input type="text" style="width: 282px;" id="txtProductName" placeholder="Press enter with product name/code" />
                            <input type="button" style="width: 30px;" id="btnProductClear" value="C" />
                            <input type="button" style="width: 50px;" id="btnProductPicker" value="Pick" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Ref. Type:
                        </td>
                        <td style="width:370px">
                            <select id="cboRefType" style="width:100px"></select>
                            <input id="txtRefObjNo" style="width:211px;" type="text" placeholder="Type Ref No and press enter" />
                            <input type="button" value="Pick" onclick="PickRefObj()" style="width:50px;" id="btnRefObj" />
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset style="width:100%; vertical-align:top;">
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold;">
                <tr>
                    <td style="width:100px;text-align:right">
                        <a id="btnAdvSearchReset" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"> Reset</a>
                    </td>
                    <td style="width:408px;text-align:right;">
                        <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                        <a id="btnAdvSearchClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>

    <div id="winReviseHistory" class="easyui-window" title="Revise History" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <table id="tblReviseHistory" class="easyui-datagrid" style="width: 900px; height: 350px; margin: 0;" data-options="singleSelect: true,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false, toolbar: '#toolbarReviseHistory' ">
            <thead>
                <tr>
                    <th field="RefNo" width="135">Ref No</th>
                    <th field="RequisitionNo" width="135">Requisition No</th>
                    <th field="CRTypeSt" width="100">Requisition Type</th>
                    <th field="RequisitionForName" width="165">Usages Style/SpareParts</th>
                    <th field="CRStatusSt" width="100">Status</th>
                    <th field="IssueDateSt" width="100">Issue Date</th>
                    <th field="RequisitionByName" width="150">Requisition By</th>
                    <th field="ApprovedByName" width="100">Approved By</th>
                    <th field="StoreName" width="120">Store Name</th>
                    <th field="DeliveryByName" width="120">Delivery By</th>
                    @*<th field="Amount" align="right" formatter="formatPrice" width="100">Amount</th>*@
                </tr>
            </thead>
        </table>
        <div id="toolbarReviseHistory">
            <a id="btnPrintReviseHistory" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
        </div>
        <fieldset class="actionfieldsetstyle">
            <legend>Actions : </legend>
            <a id="btnCloseReviseHistory" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>

    <div class="menuMainCollectionTable">
        <table id="tblSparePartsRequisitions" title="Spare Parts Requisition List" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="RequisitionNo" width="100">Requisition No</th>
                    <th field="SPStatusSt" width="130">Status</th>
                    <th field="IssueDateSt" width="100">Issue Date</th>
                    <th field="CapitalResourceName" width="180">Capital Resource</th>
                    <th field="RequisitionByName" width="130">Requisition By</th>
                    <th field="ApprovedByName" width="130">Approve By</th>
                    <th field="Remarks" width="200">Remarks</th>
                    @*<th field="Amount" align="right" formatter="formatPrice" width="100">Amount</th>*@
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <input type="text" id="txtRefNoStyleNo" placeholder="Search By Requsition No" style="width:150px" />
            <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
            <a id="btnReqForApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-redo" plain="true" onclick="ChangeStatus('RequestForApproval')">Req For App</a>
            <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true" onclick="Approve()">Approve</a>
            <a id="btnSendToStore" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-redo" plain="true" onclick="ChangeStatus('SendToStore')">Send To Store</a>
            <a id="btnPartialDisburse" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-redo" plain="true" onclick="ChangeStatus('PartialDisburse')">Partial Disburse</a>
            <a id="btnChallan" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-disburse" plain="true">Challan</a>
            @*<a id="btnReqForRevise" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-redo" plain="true" onclick="ChangeStatus()">Req For Revise</a>*@


            @*<a id="btnUndoReq" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" plain="true" onclick="UndoRequest()">Undo Req</a>*@
            @*<a id="btnWaitforApproval" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-waitforapproval" plain="true" onclick="WaitForApproval()"> Wait For App</a>*@


            @*<a id="btnUndoApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" plain="true" onclick="UndoApprove()">Undo App</a>*@
            @*<a id="btnAcceptRevise" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true" onclick="AcceptRevise()">Accept Revise</a>*@
            @*<a id="btnChangeVoucherEffect" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Voucher Effect</a>*@
            @*<a id="btnReviseHistory" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">Rvse History</a>*@
            @*<a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>*@
            <a id="btnPreview1" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>

            @*<a id="btnPrintList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print List</a>*@
        </div>
        <div id="winSparePartsUnit" class=" easyui-window winclass" title="SpareParts Unit" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div style="width:350px; height:400px; text-align:left; padding-top:2px">
                <fieldset style="width:99%; height:97%; overflow:auto">
                    <legend style="font-weight: bold;text-align:left;">Menu Permission : </legend>
                    <ul id="ulMenuTree" data-options="checkbox:true"></ul>
                </fieldset>
            </div>
            <div style="width:350px;">
                <fieldset>
                    <legend style="font-weight: bold">Action : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                        <tr>
                            <td style="width:80%; text-align:right"></td>
                            <td style="width: 10%">
                                <a id="btnSparePartsUnitOk" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
                            </td>
                            <td style="width: 10%">
                                <a id="btnSparePartsUnitClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            debugger;
            var oTempSparePartsRequisitions =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
            var oAURolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));

            var oRequisitionUsers =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.RequisitionUsers));
            var oDateCompareOperatorObjs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.DateCompareOperatorObjs));
            var oAmountCompareOperatorObjs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.AmountCompareOperatorObjs));
            var oRefTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.RefTypes));

            $('#txtConversionRate,#txtBankCharge').icsCurrencyBox();
            var oSparePartsRequisitions =sessionStorage.getItem("SparePartsRequisitions");
            if(oSparePartsRequisitions!=null)
            {
                oSparePartsRequisitions = jQuery.parseJSON(oSparePartsRequisitions);
            }
            else
            {
                oSparePartsRequisitions=oTempSparePartsRequisitions;
            }
            RefreshList(oSparePartsRequisitions);
            RefreshControlLayout(oAURolesMapping);

            $('#txtSparePartsUnit').data('SparePartsUnits', []);
            $('#txtStyle').data('TechnicalSheets', []);
            $('#txtProductName').data('Products', []);
            $('#txtRefObjNo').data('RefObjs', []);
            $('#cboRequsitionBy').data('RequisitionUsers', oRequisitionUsers);
            $('#cboIssueDate').data('DateCompareOperatorObjs', oDateCompareOperatorObjs);
            $('#cboCRAmount').data('AmountCompareOperatorObj', oAmountCompareOperatorObjs);
            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").hide();
            $('#txtCRAmountStart,#txtCRAmountEnd').icsCurrencyBox();
        });

        function updateProgress() {
            var value =$('#progressbar').progressbar('getValue');
            if (value < 96){
                value += Math.floor(Math.random() * 10);
                $('#progressbar').progressbar('setValue', value);
            }
        }
        function hideShow(miliseconds) {
            $("#progressbarParent").hide();
        }

        //Start Revise History
        $("#btnReviseHistory").click(function () {
            var oSparePartsRequisition = $("#tblSparePartsRequisitions").datagrid("getSelected");
            if (oSparePartsRequisition == null || oSparePartsRequisition.SparePartsRequisitionID <= 0) {
                alert("Please select an item from list.");
                return false;
            }
            $("#winReviseHistory").icsWindow("open", "Revise History of Ref No : " + oSparePartsRequisition.RefNo);
            $.ajax({
                type: "POST",
                dataType: "json",
                url: sessionStorage.getItem('BaseAddress') + "/SparePartsRequisition/GetReviseHistory",
                traditional: true,
                data: JSON.stringify(oSparePartsRequisition),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oSparePartsRequisitions = jQuery.parseJSON(data);
                    if(oSparePartsRequisitions!=null){
                        if(oSparePartsRequisitions.length>0){
                            DynamicRefreshList(oSparePartsRequisitions,"tblReviseHistory");
                        }
                        else{
                            DynamicRefreshList([],"tblReviseHistory");
                        }
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        });
        $("#btnCloseReviseHistory").click(function () {
            $("#winReviseHistory").icsWindow("close");
        });
        $("#btnPrintReviseHistory").click(function () {
            var oSparePartsRequisitionLog = $("#tblReviseHistory").datagrid("getSelected");
            if (oSparePartsRequisitionLog == null || oSparePartsRequisitionLog.SparePartsRequisitionLogID <= 0) {
                alert("Please select an item from list.");
                return false;
            }
            window.open(sessionStorage.getItem('BaseAddress') + '/SparePartsRequisition/SparePartsRequisitionLogPreview?id='+oSparePartsRequisitionLog.SparePartsRequisitionLogID, "_blank");
        });
        //End Revise History

        $("#txtRefNoStyleNo").keyup(function (e) {
            if (e.keyCode == 13) {
                if($.trim($('#txtRefNoStyleNo').val())===null || $.trim($('#txtRefNoStyleNo').val())==="")
                {
                    alert("Press enter with Ref No/Style No/Requisition No/SpareParts Unit!");
                    return;
                }
                var nBUID = parseInt(sessionStorage.getItem('BUID'));
                if(nBUID<=0)
                {
                    alert("Invalid Business Unit!");
                    return;
                }

                var oSparePartsRequisition = {
                    RefNo : $("#txtRefNoStyleNo").val(),
                    BUID : nBUID
                };

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: sessionStorage.getItem('BaseAddress') + "/SparePartsRequisition/GetsByRefNo",
                    traditional: true,
                    data: JSON.stringify(oSparePartsRequisition),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        var oSparePartsRequisitions = jQuery.parseJSON(data);
                        if (oSparePartsRequisitions != null) {
                            if (oSparePartsRequisitions.length > 0) {
                                DynamicRefreshList(oSparePartsRequisitions, "tblSparePartsRequisitions");
                            }
                            else {
                                //alert("There is no Data!");
                                DynamicRefreshList([], "tblSparePartsRequisitions");
                            }
                        } else {
                            //alert("There is no Data!");
                            DynamicRefreshList([], "tblSparePartsRequisitions");
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
            }
        });

        $("#btnAdd").click(function(){
            var oSparePartsRequisitions= $('#tblSparePartsRequisitions').datagrid('getRows');
            sessionStorage.setItem("SparePartsRequisitions", JSON.stringify(oSparePartsRequisitions));
            sessionStorage.setItem("SelectedRowIndex", -1);
            sessionStorage.setItem("SparePartsRequisitionHeader", "Add SpareParts Requisition");
            sessionStorage.setItem("BUID", sessionStorage.getItem('BUID'));
            sessionStorage.setItem("BackLink", window.location.href);
            var tsv=((new Date()).getTime())/1000;
            window.location.href = sessionStorage.getItem('BaseAddress')+ "/SparePartsRequisition/ViewSparePartsRequisition?id=0&buid="+sessionStorage.getItem('BUID');
        });

        $("#btnEdit").click(function(){
            var oSparePartsRequisition= $('#tblSparePartsRequisitions').datagrid('getSelected');
            if(oSparePartsRequisition==null || oSparePartsRequisition.SparePartsRequisitionID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            if(oSparePartsRequisition.SPStatusInt!=0)
            {
                alert("Please select Only Intialize item from list!");
                return;
            }

            var SelectedRowIndex=$('#tblSparePartsRequisitions').datagrid('getRowIndex',oSparePartsRequisition);
            var oSparePartsRequisitions= $('#tblSparePartsRequisitions').datagrid('getRows');
            sessionStorage.setItem("SparePartsRequisitions", JSON.stringify(oSparePartsRequisitions));
            sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
            sessionStorage.setItem("SparePartsRequisitionHeader", "Edit SpareParts Requisition");
            sessionStorage.setItem("BUID", sessionStorage.getItem('BUID'));
            sessionStorage.setItem("BackLink", window.location.href);
            window.location.href = sessionStorage.getItem('BaseAddress')+  "/SparePartsRequisition/ViewSparePartsRequisition?id="+oSparePartsRequisition.SparePartsRequisitionID+"&buid="+sessionStorage.getItem('BUID');
        });
        $("#btnChallan").click(function(){
            var oSparePartsRequisition= $('#tblSparePartsRequisitions').datagrid('getSelected');
            if(oSparePartsRequisition==null || oSparePartsRequisition.SparePartsRequisitionID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            if(oSparePartsRequisition.SPStatusInt<=3)
            {
                alert("Please select Only Partial Disburse Item!");
                return;
            }

            var SelectedRowIndex=$('#tblSparePartsRequisitions').datagrid('getRowIndex',oSparePartsRequisition);
            var oSparePartsRequisitions= $('#tblSparePartsRequisitions').datagrid('getRows');
            sessionStorage.setItem("SparePartsRequisitions", JSON.stringify(oSparePartsRequisitions));
            sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
            sessionStorage.setItem("SparePartsRequisitionHeader", "Disburse SpareParts Requisition");
            sessionStorage.setItem("BUID", sessionStorage.getItem('BUID'));
            sessionStorage.setItem("BackLinkRequisition", window.location.href);
            window.location.href = sessionStorage.getItem('BaseAddress')+  "/SparePartsChallan/ViewSparePartsChallans?nSPRID="+oSparePartsRequisition.SparePartsRequisitionID+"&buid="+sessionStorage.getItem('BUID');
        });

        $("#btnView").click(function(){
            var oSparePartsRequisition= $('#tblSparePartsRequisitions').datagrid('getSelected');
            if(oSparePartsRequisition==null || oSparePartsRequisition.SparePartsRequisitionID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            var tsv=((new Date()).getTime())/1000;
            var SelectedRowIndex=$('#tblSparePartsRequisitions').datagrid('getRowIndex',oSparePartsRequisition);
            var oSparePartsRequisitions= $('#tblSparePartsRequisitions').datagrid('getRows');
            sessionStorage.setItem("SparePartsRequisitions", JSON.stringify(oSparePartsRequisitions));
            sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
            sessionStorage.setItem("SparePartsRequisitionHeader", "View SpareParts Requisition");
            sessionStorage.setItem("BUID", sessionStorage.getItem('BUID'));
            sessionStorage.setItem("BackLink", window.location.href);
            window.location.href = sessionStorage.getItem('BaseAddress')+  "/SparePartsRequisition/ViewSparePartsRequisition?id="+oSparePartsRequisition.SparePartsRequisitionID+"&buid="+sessionStorage.getItem('BUID');
        });

        function Approve()
        {
            //
            var oSparePartsRequisition = $('#tblSparePartsRequisitions').datagrid('getSelected');
            if(oSparePartsRequisition==null || oSparePartsRequisition.SparePartsRequisitionID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            if(parseInt(oSparePartsRequisition.SPStatusInt)!=1 )
            {
                alert("Please select Only Request for Approval Item From List");
                return;
            }
            var SelectedRowIndex=$('#tblSparePartsRequisitions').datagrid('getRowIndex',oSparePartsRequisition);
            var tsv=((new Date()).getTime())/1000;
            var oSparePartsRequisitions= $('#tblSparePartsRequisitions').datagrid('getRows');
            sessionStorage.setItem("SparePartsRequisitions", JSON.stringify(oSparePartsRequisitions));
            sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
            sessionStorage.setItem("SparePartsRequisitionHeader", "Approved SpareParts Requisition");
            var oBackLink = window.location.href;
            sessionStorage.setItem("BackLink", oBackLink);
            window.location.href =sessionStorage.getItem('BaseAddress')+ "/SparePartsRequisition/ViewSparePartsRequisition?id="+oSparePartsRequisition.SparePartsRequisitionID+"&buid="+sessionStorage.getItem('BUID');
        }

        $("#btnDelete").click(function(){
            var oSparePartsRequisition= $('#tblSparePartsRequisitions').datagrid('getSelected');
            if(oSparePartsRequisition==null || oSparePartsRequisition.SparePartsRequisitionID<=0)
            {
                alert("Invalid Field!!! please select a valid Field!");
                return false;
            }
            if(parseInt(oSparePartsRequisition.SPStatusInt)!=0)
            {
                alert("Please select Only Initialize Item");
                return false;
            }
            if (!confirm("Confirm to Delete?")) return ;
            var SelectedRowIndex=$('#tblSparePartsRequisitions').datagrid('getRowIndex',oSparePartsRequisition);
            if (oSparePartsRequisition.SparePartsRequisitionID > 0)
            {
                $.ajax
                ({
                    type: "GET",
                    dataType: "json",
                    url : sessionStorage.getItem('BaseAddress')+  "/SparePartsRequisition/Delete",
                    data: { nSparePartsRequisitionID: oSparePartsRequisition.SparePartsRequisitionID},
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        var feedbackmessage = jQuery.parseJSON(data);
                        if (feedbackmessage == "Delete successfully")
                        {
                            alert("Delete sucessfully");
                            $('#tblSparePartsRequisitions').datagrid('deleteRow',SelectedRowIndex);
                            var oSparePartsRequisitions= $('#tblSparePartsRequisitions').datagrid('getRows');
                            sessionStorage.setItem("SparePartsRequisitions", JSON.stringify(oSparePartsRequisitions));
                        }
                        else
                        {
                            alert(feedbackmessage);
                        }
                    },
                    error: function (xhr, status, error)
                    {
                        alert(error);
                    }
                });
            }
        });
        function ChangeStatus(sActionString)
        {
            debugger;
            var oSparePartsRequisition = $('#tblSparePartsRequisitions').datagrid('getSelected');
            if(oSparePartsRequisition==null || parseInt(oSparePartsRequisition.SparePartsRequisitionID)<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            if(!confirm("Confirm to Submit The Request"))return;
            oSparePartsRequisition.ActionTypeExtra = sActionString;
            var SelectedRowIndex=$('#tblSparePartsRequisitions').datagrid('getRowIndex', oSparePartsRequisition);
            $.ajax({
                type: "POST",
                dataType: "json",
                url : sessionStorage.getItem('BaseAddress')+"/SparePartsRequisition/ChangeStatus",
                traditional: true,
                data:  JSON.stringify(oSparePartsRequisition),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oSparePartsRequisition = jQuery.parseJSON(data);
                    if(oSparePartsRequisition!=null)
                    {
                        if(oSparePartsRequisition.ErrorMessage=="" || oSparePartsRequisition.ErrorMessage == null)
                        {
                            alert("Request Saved Successfully.");
                            $('#tblSparePartsRequisitions').datagrid('updateRow',{index: SelectedRowIndex,	row: oSparePartsRequisition});
                        }
                        else
                        {
                            alert(oSparePartsRequisition.ErrorMessage);
                        }
                    }
                    else
                    {
                        alert("Invalid Operation!");
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });

        }

       

     

       

    


        $('#btnPrintList').click(function(){
            var oSparePartsRequisitions=$('#tblSparePartsRequisitions').datagrid('getRows');
            if(oSparePartsRequisitions.length<=0)
            {
                alert("Sorry, there is no data to Print");
            }
            var ids = ICS_PropertyConcatation(oSparePartsRequisitions, 'SparePartsRequisitionID');
            var tsv=((new Date()).getTime())/1000;
            window.open(sessionStorage.getItem('BaseAddress')+ "/SparePartsRequisition/SparePartsRequisitionPrintList?sIDs="+ids+"&ts="+tsv);
        });

        $('#btnPreview1').click(function(){
            var oSparePartsRequisition=$('#tblSparePartsRequisitions').datagrid('getSelected');
            if(oSparePartsRequisition==null || parseInt(oSparePartsRequisition.SparePartsRequisitionID)<=0)
            {
                alert("Please select SpareParts Requisition ");
                return;
            }
            window.open(sessionStorage.getItem('BaseAddress')+  "/SparePartsRequisition/PrintSparePartsPreview?id="+oSparePartsRequisition.SparePartsRequisitionID +"&buid=" + parseInt(sessionStorage.getItem("BUID")));
        });

        function RefreshList(oSparePartsRequisitions)
        {
            debugger;
            var data=oSparePartsRequisitions;
            data={"total":""+data.length+"","rows":data};
            $('#tblSparePartsRequisitions').datagrid('loadData',data);
            var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
            $('#tblSparePartsRequisitions').datagrid('selectRow',nIndex);
        }





        //Start Search
        function RefreshComboBoxControls()
        {
            var oRequisitionUsers = $('#cboRequsitionBy').data('RequisitionUsers');
            var oDateCompareOperatorObjs = $('#cboIssueDate').data('DateCompareOperatorObjs');
            var oAmountCompareOperatorObjs = $('#cboCRAmount').data('AmountCompareOperatorObj');
            $("#cboRequsitionBy").icsLoadCombo({ List: oRequisitionUsers, OptionValue: "UserID", DisplayText: "UserName"});
            $("#cboIssueDate").icsLoadCombo({ List: oDateCompareOperatorObjs, OptionValue: "id", DisplayText: "Value", InitialValue:"Custom" });
            $("#cboCRAmount").icsLoadCombo({ List: oAmountCompareOperatorObjs, OptionValue: "id", DisplayText: "Value", InitialValue:"Custom" });
        }

        function ValidateSearch()
        {
            var sRefNo =$.trim($('#txtRefNo').val());
            var nIssueDate = parseInt($('#cboIssueDate').val());
            if(nIssueDate===1 || nIssueDate===2 || nIssueDate===3 || nIssueDate===4)
            {
                var sCRStartDate   = $('#txtCRStartDate').datebox('getValue');
                if(sCRStartDate===null || sCRStartDate==="")
                {
                    alert("Please select SpareParts Requisition start date!");
                    $('#txtCRStartDate').focus();
                    return false;
                }
            }
            if(nIssueDate===5 || nIssueDate===6)
            {
                var sCRStartDate   = $('#txtCRStartDate').datebox('getValue');
                var sCREndDate   = $('#txtCREndDate').datebox('getValue');
                if(sCRStartDate===null || sCRStartDate==="")
                {
                    alert("Please select SpareParts Requisition start date!");
                    $('#txtCRStartDate').focus();
                    return false;
                }
                if(sCREndDate===null || sCREndDate==="")
                {
                    alert("Please select SpareParts Requisition end date!");
                    $('#txtCREndDate').focus();
                    return false;
                }
                if(new Date(sCRStartDate) > new Date(sCREndDate))
                {
                    alert("Start date must be smallar than or equal end date!");
                    $('#txtCRStartDate').focus();
                    return false;
                }
            }

            var nCRAmount = parseInt($('#cboCRAmount').val());
            if(nCRAmount===1 || nCRAmount===2 || nCRAmount===3 || nCRAmount===4)
            {
                var sCRAmountStart   = $.trim($('#txtCRAmountStart').val());
                if(sCRAmountStart===null || sCRAmountStart==="")
                {
                    alert("Please enter SpareParts Requisition start Amount!");
                    $('#txtCRAmountStart').focus();
                    return false;
                }
                if(icsRemoveComma(sCRAmountStart)<=0)
                {
                    alert("Please enter SpareParts Requisition start Amount!");
                    $('#txtCRAmountStart').focus();
                    return false;
                }
            }
            if(nCRAmount===5 || nCRAmount===6)
            {
                var sCRAmountStart = $.trim($('#txtCRAmountStart').val());
                if(sCRAmountStart===null || sCRAmountStart==="")
                {
                    alert("Please enter SparePartsRequisition start Amount!");
                    $('#txtCRAmountStart').focus();
                    return false;
                }
                if(icsRemoveComma(sCRAmountStart)<=0)
                {
                    alert("Please enter SpareParts Requisition start Amount!");
                    $('#txtCRAmountStart').focus();
                    return false;
                }

                var sCRAmountEnd = $.trim($('#txtCRAmountEnd').val());
                if(sCRAmountEnd===null || sCRAmountEnd==="")
                {
                    alert("Please enter SpareParts Requisition end Amount!");
                    $('#txtCRAmountEnd').focus();
                    return false;
                }
                if(icsRemoveComma(sCRAmountEnd)<=0)
                {
                    alert("Please enter SpareParts Requisition end Amount!");
                    $('#txtCRAmountEnd').focus();
                    return false;
                }
                if(icsRemoveComma(sCRAmountStart) >= icsRemoveComma(sCRAmountEnd))
                {
                    alert("Start amount must be smallar than end amount!");
                    $('#txtCRAmountStart').focus();
                    return false;
                }
            }

            var nRequsitionBy = parseInt($('#cboRequsitionBy').val());
            var oSparePartsUnits = $('#txtSparePartsUnit').data('SparePartsUnits');
            var oTechnicalSheets = $('#txtStyle').data('TechnicalSheets');
            var oProducts = $('#txtProductName').data('Products');
            var oRefObjs = $('#txtRefObjNo').data('RefObjs');

            if(sRefNo==="" && nIssueDate===0 && nCRAmount===0 && nRequsitionBy===0 && oSparePartsUnits.length<=0  && oTechnicalSheets.length<=0 && oProducts.length<=0 && oRefObjs.length <= 0)
            {
                alert("Please select atleast one searching criteriea!");
                return false;
            }
            return true;
        }

        $('#btnAdvSearch').click(function(e){
            $("#winAdvanceSearch").icsWindow('open', "Advance Search");
            $("#winAdvanceSearch input").not("input[type='button']").val("");
            $('#txtCRStartDate').datebox('setValue', icsdateformat(new Date()));
            $('#txtCREndDate').datebox('setValue', icsdateformat(new Date()));
            $('#txtCRAmountStart').val('0.00');
            $('#txtCRAmountEnd').val('0.00');
            $('#txtCRAmountStart').prop("disabled", true);
            $('#txtCRAmountEnd').prop("disabled", true);
            $('#txtSparePartsUnit').data('SparePartsUnits', []);
            $('#txtStyle').data('TechnicalSheets', []);
            $('#txtProductName').data('Products', []);
            RefreshComboBoxControls();
        });

        $('#btnAdvSearchClose').click(function(e){
            $("#winAdvanceSearch").icsWindow('close');
        });

        $('#cboIssueDate').change(function(e){
            //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
            var nCompareOperator =   parseInt($('#cboIssueDate').val());
            if(nCompareOperator===0)
            {
                $('#txtCRStartDate').datebox({ disabled : true });
                $('#txtCREndDate').datebox({ disabled : true });
            }
            else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
            {
                $('#txtCRStartDate').datebox({ disabled : false });
                $('#txtCREndDate').datebox({ disabled : true });
            }
            else
            {
                $('#txtCRStartDate').datebox({ disabled : false });
                $('#txtCREndDate').datebox({ disabled : false });
            }
            $('#txtCRStartDate').datebox('setValue', icsdateformat(new Date()));
            $('#txtCREndDate').datebox('setValue', icsdateformat(new Date()));
        });

        $('#cboCRAmount').change(function(e){
            //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
            var nCompareOperator =   parseInt($('#cboCRAmount').val());
            if(nCompareOperator===0)
            {
                $('#txtCRAmountStart').prop("disabled", true);
                $('#txtCRAmountEnd').prop("disabled", true);
            }
            else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
            {
                $('#txtCRAmountStart').prop("disabled", false);
                $('#txtCRAmountEnd').prop("disabled", true);
            }
            else
            {
                $('#txtCRAmountStart').prop("disabled", false);
                $('#txtCRAmountEnd').prop("disabled", false);
            }
            $('#txtCRAmountStart').val('0.00');
            $('#txtCRAmountEnd').val('0.00');
        });

        $('#btnAdvSearchReset').click(function(e){
            $("#winAdvanceSearch input").not("input[type='button']").val("");
            $('#cboIssueDate').val(0);
            $('#txtCRStartDate').datebox({ disabled : true });
            $('#txtCREndDate').datebox({ disabled : true });
            $('#txtCRStartDate').datebox('setValue', icsdateformat(new Date()));
            $('#txtCREndDate').datebox('setValue', icsdateformat(new Date()));

            $('#cboCRAmount').val(0);
            $('#txtCRAmountStart').prop("disabled", true);
            $('#txtCRAmountEnd').prop("disabled", true);
            $('#txtCRAmountStart').val('0.00');
            $('#txtCRAmountEnd').val('0.00');

            $('#cboRequsitionBy').val(0);
            $('#txtSparePartsUnit').data('SparePartsUnits', []);
            $("#txtSparePartsUnit").removeClass("fontColorOfPickItem");
            $('#txtStyle').data('TechnicalSheets', []);
            $("#txtStyle").removeClass("fontColorOfPickItem");
            $('#txtProductName').data('Products', []);
            $("#txtProductName").removeClass("fontColorOfPickItem");
            $('#cboRefType').val(0);
            $('#txtRefObjNo').data('RefObjs', []);
        });

        $('#btnSearch').click(function(e){
            if(!ValidateSearch()) return;
            debugger;
            var sRefNo =$.trim($('#txtRefNo').val());
            var nIssueDate = parseInt($('#cboIssueDate').val());
            var sCRStartDate   = $('#txtCRStartDate').datebox('getValue');
            var sCREndDate   = $('#txtCREndDate').datebox('getValue');

            var nCRAmount = parseInt($('#cboCRAmount').val());
            var sCRAmountStart = icsRemoveComma($.trim($('#txtCRAmountStart').val()));
            var sCRAmountEnd = icsRemoveComma($.trim($('#txtCRAmountEnd').val()));

            var nRequsitionBy = parseInt($('#cboRequsitionBy').val());
            var oSparePartsUnits = $('#txtSparePartsUnit').data('SparePartsUnits');
            var oTechnicalSheets = $('#txtStyle').data('TechnicalSheets');
            var oProducts = $('#txtProductName').data('Products');
            var oRefObjs = $('#txtRefObjNo').data('RefObjs');

            if(oSparePartsUnits===null) {oSparePartsUnits = []; }
            if(oTechnicalSheets ===null) {oTechnicalSheets = []; }
            if(oProducts===null) {oProducts = []; }
            if(oRefObjs===null) {oRefObjs = []; }
            var sSparePartsUnitIDs =""; var sProductIDs =""; var sTechnicalSheetIDs ="";
            var sRefObjIDs = "";

            for(var i=0; i<oSparePartsUnits.length; i++)
            {
                //sSparePartsUnitIDs  = sSparePartsUnitIDs + oSparePartsUnits[i].SparePartsUnitID+ ",";
                sSparePartsUnitIDs  = sSparePartsUnitIDs + oSparePartsUnits[i].id+ ",";
            }
            if(sSparePartsUnitIDs.length>0)   /////////here edit
            {
                sSparePartsUnitIDs=sSparePartsUnitIDs.substring(0, sSparePartsUnitIDs.length-1);
            }

            for(var i=0; i<oTechnicalSheets.length; i++)
            {
                sTechnicalSheetIDs = sTechnicalSheetIDs + oTechnicalSheets[i].TechnicalSheetID+ ",";
            }
            if(sTechnicalSheetIDs.length>0)
            {
                sTechnicalSheetIDs=sTechnicalSheetIDs.substring(0, sTechnicalSheetIDs.length-1);
            }

            for(var i=0; i<oProducts.length; i++)
            {
                sProductIDs  = sProductIDs + oProducts[i].ProductID+ ",";
            }
            if(sProductIDs.length>0)
            {
                sProductIDs=sProductIDs.substring(0, sProductIDs.length-1);
            }

            for(var i=0; i<oRefObjs.length; i++)
            {
                sRefObjIDs  = sRefObjIDs + oRefObjs[i].RefObjID+ ",";
            }
            if(sRefObjIDs.length>0)
            {
                sRefObjIDs=sRefObjIDs.substring(0, sRefObjIDs.length-1);
            }

            var sSearchingData  =  sRefNo+'~';
            sSearchingData = sSearchingData + nIssueDate+'~';
            sSearchingData = sSearchingData + sCRStartDate+'~';
            sSearchingData = sSearchingData + sCREndDate+'~';
            sSearchingData = sSearchingData + nCRAmount+'~';
            sSearchingData = sSearchingData + sCRAmountStart+'~';
            sSearchingData = sSearchingData + sCRAmountEnd+'~';
            sSearchingData = sSearchingData + nRequsitionBy+'~';
            sSearchingData = sSearchingData + sSparePartsUnitIDs +'~';
            sSearchingData = sSearchingData + sProductIDs+'~';
            sSearchingData = sSearchingData + sTechnicalSheetIDs+'~';
            sSearchingData = sSearchingData + sRefObjIDs;

            var oSparePartsRequisition = {
                Remarks : sSearchingData,
                BUID : parseInt(sessionStorage.getItem("BUID"))
            };

            $.ajax({
                type: "POST",
                dataType: "JSON",
                url: sessionStorage.getItem("BaseAddress")+  "/SparePartsRequisition/AdvanceSearch",
                data:  JSON.stringify(oSparePartsRequisition),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var  oSparePartsRequisitions = jQuery.parseJSON(data);
                    if (oSparePartsRequisitions != null) {
                        if(oSparePartsRequisitions.length>0)
                        {
                            if(oSparePartsRequisitions[0].ErrorMessage=="")
                            {
                                DynamicRefreshList(oSparePartsRequisitions, 'tblSparePartsRequisitions');
                                $('#tblSparePartsRequisitions').data('SparePartsRequisitions', oSparePartsRequisitions);
                                $("#winAdvanceSearch").icsWindow('close');
                            }
                            else
                            {
                                alert(oSparePartsRequisitions[0].ErrorMessage);
                            }
                        }
                        else
                        {
                            alert("Data not found!!");
                        }
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        });

        $("#txtSearchByGRN").keyup(function (e) {
            if (e.keyCode == 13) {
                if($.trim($('#txtSearchByGRN').val())===null || $.trim($('#txtSearchByGRN').val())==="")
                {
                    alert("Press enter with GRN No!");
                    return;
                }
                var nBUID = parseInt(sessionStorage.getItem('BUID'));
                if(nBUID<=0)
                {
                    alert("Invalid Business Unit!");
                    return;
                }

                var oGRN = {
                    GRNNo : $("#txtSearchByGRN").val(),
                    BUID : nBUID
                };

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: sessionStorage.getItem('BaseAddress') + "/GRN/GetsByGRNNo",
                    traditional: true,
                    data: JSON.stringify(oGRN),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        var oGRNs = jQuery.parseJSON(data);
                        if (oGRNs != null) {
                            if (oGRNs.length > 0) {
                                DynamicRefreshList(oGRNs, "tblGRNs");
                            }
                            else {
                                //alert("There is no Data!");
                                DynamicRefreshList([], "tblGRNs");
                            }
                        } else {
                            //alert("There is no Data!");
                            DynamicRefreshList([], "tblGRNs");
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
            }
        });

        //SparePartsUnit Pick
        $("#txtSparePartsUnit").keydown(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) // Enter Press
            {
                PickSparePartsUnits($.trim($('#txtSparePartsUnit').val()));
            }
        });
        $("#btnSparePartsUnitClose").click(function () {
            debugger;
            $("#winSparePartsUnit").icsWindow('close');
        });


        $("#btnSparePartsUnitPicker").click(function () {
            $('#txtSparePartsUnit').val('');
            PickSparePartsUnits();
        });


        function PickSparePartsUnits()
        {

            $('#winSparePartsUnit input[type=text]').val('');
            $("#winSparePartsUnit input,select").prop('disabled',false);
            $("#winSparePartsUnit").icsWindow('open', "SpareParts Unit Entry");

            $.ajax({
                type: "POST",
                dataType: "json",
                url : sessionStorage.getItem("BaseAddress")+  "/SparePartsReport/GetsSparePartsUnitTree",
                traditional: true,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    var oSparePartsUnit = jQuery.parseJSON(data);
                    $('#winSparePartsUnit').data('SparePartsUnitMenu', oSparePartsUnit);
                    if (oSparePartsUnit != null) {
                        $('#ulMenuTree').tree({ data: [oSparePartsUnit] });
                        RefreshControl();

                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });



        }
        function RefreshControl()
        {
            debugger;

            var oAllNodes=$('#ulMenuTree').tree('getChecked', 'unchecked');
        }
        $("#btnSparePartsUnitOk").click(function (){
            debugger;
            var oreturnobjs= $('#ulMenuTree').tree('getChecked');
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtSparePartsUnit').val(oreturnobjs.length+"'s SpareParts Unit Seleted");
                $('#txtSparePartsUnit').addClass('fontColorOfPickItem');
                $('#txtSparePartsUnit').data('SparePartsUnits', oreturnobjs);
                $('#txtSparePartsUnit').focus();
                $("#winSparePartsUnit").icsWindow('close');
            }
        });
        $('#btnClearSparePartsUnit').click(function(e){
            $("#txtSparePartsUnit").val("");
            $('#txtSparePartsUnit').data('SparePartsUnits', []);
            $("#txtSparePartsUnit").removeClass("fontColorOfPickItem");
        });

        //End SparePartsUnit Picker

        //Style Pick
        $("#txtStyle").keydown(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) // Enter Press
            {
                var sStyleNo = $.trim($('#txtStyle').val());
                PickStyles(sStyleNo);
            }
        });
        $("#btnStylePicker").click(function () {
            PickStyles('');
        });
        $('#txtStyle').keydown(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 8) //backspace=8
            {
                $("#txtStyle").removeClass("fontColorOfPickItem");
                $('#txtStyle').data('TechnicalSheets', []);
            }
        });
        $('#btnStyleClear').click(function(e){
            $("#txtStyle").val("");
            $('#txtStyle').data('TechnicalSheets', []);
            $("#txtStyle").removeClass("fontColorOfPickItem");
        });
        function PickStyles(sStyleNumber)
        {
            var oTechnicalSheet = { StyleNo: sStyleNumber };
            var obj = {
                BaseAddress: sessionStorage.getItem('BaseAddress'),
                Object: oTechnicalSheet,
                ControllerName: "TechnicalSheet",
                ActionName: "StyleSearch",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {

                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].TechnicalSheetID > 0) {
                        var tblColums = []; var oColumn = { field: "StyleNo", title: "Style No", width: 100, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "BuyerName", title: "Buyer Name", width: 200, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "SessionName", title: "Business Session", width: 100, align: "left" }; tblColums.push(oColumn);

                        var oPickerParam = {
                            winid: 'winStylePicker',
                            winclass: 'clsStylePicker',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblStylePicker',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'StyleNo',
                            windowTittle: 'Style List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else {
                        alert(response.objs[0].ErrorMessage);
                    }

                }else{
                    alert("Data Not Found.");
                }
            });
        }
        //End Style Picker

        //Product Pick
        $("#txtProductName").keydown(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) // Enter Press
            {
                if($('#txtProductName').val()==null || $('#txtProductName').val()=="")
                {
                    alert("Please Type Product and Press Enter.");
                    $('#txtProductName').focus();
                    return;
                }
                var nBUID = parseInt(sessionStorage.getItem("BUID"));
                var oProduct = { BUID: nBUID, ProductName: $.trim($('#txtProductName').val())};
                var obj = {
                    BaseAddress: sessionStorage.getItem("BaseAddress"),
                    Object: oProduct,
                    ControllerName: "Product",
                    ActionName: "SearchByProductBUWise",
                    IsWinClose: false
                };
                $.icsDataGets(obj, function (response) {
                    debugger;
                    if (response.status && response.objs.length > 0) {
                        if (response.objs[0].ProductID > 0) {
                            var tblColums = [];
                            var oColumn = { field: "ProductCode", title: "Product Code", width: 80, align: "left" }; tblColums.push(oColumn);
                            oColumn = { field: "ProductName", title: "Product Name", width: 300, align: "left" }; tblColums.push(oColumn);
                            oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);
                            oColumn = { field: "ProductCategoryName", title: "Category", width: 100, align: "left" }; tblColums.push(oColumn);
                            var oPickerParam = {
                                winid: 'winProductPicker',
                                winclass: 'clsProductPicker',
                                winwidth: 600,
                                winheight: 460,
                                tableid: 'tblProductPicker',
                                tablecolumns: tblColums,
                                datalist: response.objs,
                                multiplereturn: true,
                                searchingbyfieldName: 'NameCode',
                                windowTittle: 'Product List'
                            };
                            $.icsPicker(oPickerParam);
                            IntializePickerbutton(oPickerParam);
                        }
                        else {
                            alert(response.objs[0].ErrorMessage);
                        }

                    }else{
                        alert("Data Not Found.");
                    }
                });
            }
        });
        $("#btnProductPicker").click(function () {
            var nBUID = parseInt(sessionStorage.getItem("BUID"));
            var oProduct = { BUID: nBUID};
            var obj = {
                BaseAddress: sessionStorage.getItem("BaseAddress"),
                Object: oProduct,
                ControllerName: "Product",
                ActionName: "SearchByProductBUWise",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                debugger;
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ProductID > 0) {
                        var tblColums = [];
                        var oColumn = { field: "ProductCode", title: "Product Code", width: 80, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ProductName", title: "Product Name", width: 300, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ProductCategoryName", title: "Category", width: 100, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winProductPicker',
                            winclass: 'clsProductPicker',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblProductPicker',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'NameCode',
                            windowTittle: 'Product List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else {
                        alert(response.objs[0].ErrorMessage);
                    }

                }else{
                    alert("Data Not Found.");
                }
            });

        });
        $('#txtProductName').keydown(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 8) //backspace=8
            {
                $("#txtProductName").removeClass("fontColorOfPickItem");
                $('#txtProductName').data('Product', null);
            }
        });
        $('#btnProductClear').click(function(e){
            $("#txtProductName").val("");
            $('#txtProductName').data('Products', []);
            $("#txtProductName").removeClass("fontColorOfPickItem");
        });
        //End Product

        function IntializePickerbutton(oPickerobj) {
            $("#" + oPickerobj.winid).find("#btnOk").click(function () {
                //for Single Select
                SetPickerValueAssign(oPickerobj);
            });
            $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
                if (e.which == 13)//enter=13
                {
                    SetPickerValueAssign(oPickerobj);
                }
            });
        }

        function SetPickerValueAssign(oPickerobj) {
            var oreturnObj = null, oreturnobjs = [];
            if (oPickerobj.multiplereturn) {
                oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
            } else {
                oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
            }
            $("#" + oPickerobj.winid).icsWindow("close");
            $("#" + oPickerobj.winid).remove();

            if (oPickerobj.winid === 'winSparePartsUnit')
            {
                if (oreturnobjs != null && oreturnobjs.length > 0) {
                    $('#txtSparePartsUnit').val(oreturnobjs.length+"'s SpareParts Units seleted");
                    $('#txtSparePartsUnit').addClass('fontColorOfPickItem');
                    $('#txtSparePartsUnit').data('SparePartsUnits', oreturnobjs);
                    $('#txtSparePartsUnit').focus();
                }
            }
            else if (oPickerobj.winid === 'winStylePicker')
            {
                if (oreturnobjs != null && oreturnobjs.length > 0) {
                    $('#txtStyle').val(oreturnobjs.length+"'s Style seleted");
                    $('#txtStyle').addClass('fontColorOfPickItem');
                    $('#txtStyle').data('TechnicalSheets', oreturnobjs);
                    $('#txtStyle').focus();
                }
            }
            else if (oPickerobj.winid == 'winRefObj')
            {
                if (oreturnobjs != null && oreturnobjs.length> 0)
                {
                    $('#txtRefObjNo').val(oreturnobjs.length+" Item(s) seleted");
                    $('#txtRefObjNo').addClass('fontColorOfPickItem');
                    $('#txtRefObjNo').data('RefObjs', oreturnobjs);
                }
            }
            else if (oPickerobj.winid == 'winProductPicker')
            {
                if (oreturnobjs != null && oreturnobjs.length > 0)
                {
                    $('#txtProductName').val(oreturnobjs.length+"'s products seleted");
                    $('#txtProductName').addClass('fontColorOfPickItem');
                    $('#txtProductName').data('Products', oreturnobjs);
                }
            }
        }
        $('#cboRefType').change(function(){
            $('#txtRefObjNo').val("");
            $('#txtRefObjNo').data('RefObjID', 0);
        });


        $("#txtRefObjNo").keydown(function (e) {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) // Enter Press
            {
                PickRefObj();
            }else if (code == 8) //backspace=8
            {
                $('#txtRefObjNo').removeClass('fontColorOfPickItem');
                $('#txtRefObjNo').data('RefObjID', 0);
            }
        });

        function PickRefObj()
        {
            if(parseInt($('#cboRefType').val()) == 0) {
                alert("Please select a ref type.");
                return false;
            }
            if($('#txtRefObjNo').val() == "") {
                alert("Please enter a value.");
                return false;
            }
            var oRefObj = {
                RefObjNo:$.trim($('#txtRefObjNo').val()),
                RefTypeInt:parseInt($('#cboRefType').val())
            };

            var obj = {
                BaseAddress: sessionStorage.getItem('BaseAddress'),
                Object: oRefObj,
                ControllerName: "SparePartsRequisition",
                ActionName: "GetRefObjs",
                IsWinClose: false
            };
            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").show();
            var intervalID = setInterval(updateProgress, 250);
            $.icsDataGets(obj, function (response) {
                clearInterval(intervalID);
                $("#progressbarParent").hide();
                if (response.status && response.objs.length > 0)
                {
                    if (response.objs[0].RefObjID > 0)
                    {
                        if(parseInt($('#cboRefType').val()) == 1)
                        {
                            var tblColums = []; var oColumn = { field: "SCNoFull", title: "PONo", width:100, align: "left" }; tblColums.push(oColumn);
                            oColumn = { field: "SCDateSt", title: "PODate", width: 100, align: "left" }; tblColums.push(oColumn);
                            oColumn = { field: "BuyerName", title: "BuyerName", width: 100, align: "left" }; tblColums.push(oColumn);
                            oColumn = { field: "OrderName", title: "OrderName", width: 100, align: "left" }; tblColums.push(oColumn);
                            oColumn = { field: "Qty", title: "Qty", width: 60, align: "left" }; tblColums.push(oColumn);
                        }
                        else if(parseInt($('#cboRefType').val()) == 2) {
                            var tblColums = []; var oColumn = { field: "ExeNoFull", title: "DispoNo", width:100, align: "left" }; tblColums.push(oColumn);
                            oColumn = { field: "SCNoFull", title: "PONo", width: 100, align: "left" }; tblColums.push(oColumn);
                            oColumn = { field: "SCDateSt", title: "PODate", width: 100, align: "left" }; tblColums.push(oColumn);
                            oColumn = { field: "BuyerName", title: "BuyerName", width: 100, align: "left" }; tblColums.push(oColumn);
                            oColumn = { field: "ColorInfo", title: "Color", width: 100, align: "left" }; tblColums.push(oColumn);
                            oColumn = { field: "Construction", title: "Construction", width: 100, align: "left" }; tblColums.push(oColumn);
                            oColumn = { field: "ProductName", title: "Composition", width: 100, align: "left" }; tblColums.push(oColumn);
                            oColumn = { field: "FabricNo", title: "MKTRef", width: 100, align: "left" }; tblColums.push(oColumn);
                        }
                        var oPickerParam = {
                            winid: 'winRefObj',
                            winclass: 'clsRefObj',
                            winwidth: 400,
                            winheight: 460,
                            tableid: 'tblRefObjs',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'RefObjNo',
                            windowTittle: 'RefObj List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else{
                    alert("Data Not Found.");
                }
            });
        }

        function RefreshControlLayout(oAURolesMapping)
        {
            $("#btnAdvSearch").hide();
            $("#btnAdd").hide();
            $("#btnEdit").hide();
            $("#btnView").hide();
            $("#btnDelete").hide();
            $("#btnReqForApprove").hide();
            $("#btnUndoReq").hide();
            $("#btnWaitforApproval").hide();
            $("#btnApprove").hide();
            $("#btnReqForRevise").hide();
            $("#btnAcceptRevise").hide();
            $("#btnReviseHistory").hide();
            $("#btnPreview").hide();
            $("#btnPrintList").hide();

            if(PermissionChecker('AdvSearch','SparePartsRequisition',oAURolesMapping)){$("#btnAdvSearch").show();}
            if(PermissionChecker('Add','SparePartsRequisition',oAURolesMapping)){$("#btnAdd").show();}
            if(PermissionChecker('Edit','SparePartsRequisition',oAURolesMapping)){$("#btnEdit").show();}
            if(PermissionChecker('View','SparePartsRequisition',oAURolesMapping)){$("#btnView").show();}
            if(PermissionChecker('Delete','SparePartsRequisition', oAURolesMapping)){$("#btnDelete").show();}
            if(PermissionChecker('Add','SparePartsRequisition',oAURolesMapping)){$("#btnReqForApprove").show();}
            if(PermissionChecker('Add','SparePartsRequisition',oAURolesMapping)){$("#btnUndoReq").show();}
            if(PermissionChecker('Approved','SparePartsRequisition',oAURolesMapping)){$("#btnWaitforApproval").show();}
            if(PermissionChecker('Approved','SparePartsRequisition',oAURolesMapping)){$("#btnApprove").show();}
            if(PermissionChecker('Revise','SparePartsRequisition',oAURolesMapping)){$("#btnReqForRevise").show();}
            if(PermissionChecker('Revise','SparePartsRequisition',oAURolesMapping)){$("#btnAcceptRevise").show();}
            if(PermissionChecker('Add','SparePartsRequisition',oAURolesMapping)){$("#btnReviseHistory").show();}
            if(PermissionChecker('Preview','SparePartsRequisition',oAURolesMapping)){$("#btnPreview").show();}
            if(PermissionChecker('PrintList','SparePartsRequisition',oAURolesMapping)){$("#btnPrintList").show();}
        }
    </script>
