@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ESimSol.BusinessObjects.SparePartsRequisition
<div class="menuMainCollectionTable">
    <div id="divSparePartsRequisition" class="easyui-panel" title="Spare Parts Requisition" style="font-family:Tahoma; text-align:center; height:89%;">
        <div style="width:100%;">
            <fieldset>
                <legend style="font-weight:bold">Spare Parts Requisition info: </legend>
                <table style="width:95%" cellpadding="2" cellspacing="2">
                    <tr>
                        <td style="width: 12%; text-align: right">
                            Requisition No :
                        </td>
                        <td style="width:20%">
                            <input type="text" id="txtRequisitionNo" disabled="disabled" style="width:100%" />
                        </td>
                        <td style="width: 12%; text-align:right;">
                            Issue Date :
                        </td>
                        <td style="width:20%; text-align:left;">
                            <input id="txtIssueDate" type="text" class="easyui-datebox" style="width: 100%;" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                        <td style="width:12%; text-align: right">
                            Requisition By :
                        </td>
                        <td style="width: 20%; text-align: right">
                            <input type="text" id="txtRequisitionByName" disabled="disabled" style="width:100%" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 12%; text-align: right">
                            Capital Resource:
                        </td>
                        <td style="width:45%" colspan="3">
                            <input type="text" id="txtCapitalResourceName" style="width:86%" placeholder="Press Enter Capital Resource Name And Press Enter" />
                            <input type="button" style="width:30px" value="P" id="btnPickCR" onclick="PickCR()" />
                            <input type="button" style="width:30px" value="C" id="btnClearCR" onclick="ClearCR()" />
                        </td>
                        <td style="width: 12%; text-align:right;">
                            Status :
                        </td>
                        <td style="width:20%; text-align:left;">
                            <input type="text" id="txtSPStatus" style="width:100%" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 12%; text-align: right">
                            Remarks :
                        </td>
                        <td style="width:88%" colspan="5">
                            <input type="text" id="txtRemarks" style="width:100%" />
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <table id="tblSparePartsRequisitionDetail" title="Spare Parts Requisition Details" class="easyui-datagrid" style="height:350px; width:100%;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar" data-options="onClickRow: onClickRow">
            <thead>
                <tr>
                    <th field="ProductCode" width="10%" align="left">Code</th>
                    <th field="ProductName" width="35%" align="left">Spare Part Name</th>
                    <th width="10%" align="right" data-options="field:'Quantity',editor:{type:'numberbox',options:{precision:4}}">Req Qty</th>
                    @*<th field="TotalLotBalance" width="10%" align="right">Lot Qty</th>*@
                    <th field="TotalLotBalance" data-options="formatter:cellFormatterLotList" width="10%">Lot Qty</th>
                    <th width="30%" align="left" data-options="field:'Remarks',editor:{type:'text'}">Remarks</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
                <tr>
                    <td style="width:100%">
                        <input type="text" placeholder="Press Enter With Spare Parts name" id="txtProductName" style="width:210px" />
                        <input type="button" style="width:30px;" id="btnProductPiker" value="P" />
                        <input type="button" style="width:30px;" id="btnSuggProductPiker" value="S" />&nbsp;&nbsp;

                        <input type="text" id="txtQty" placeholder="Type Qty" class="number" style="width:80px" />
                        <a id="btnAddDetail" style="margin-left:20px" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                        <a id="btnRemoveDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                        <a id="btnRefreshDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"></a>
                    </td>
                </tr>
            </table>
        </div>
        <table border="0" cellpadding="0" cellspacing="0" style="width:100%;" hidden>
            <tr>
                <td style="width:50%;  text-align:right;font-weight:bold;">Total:</td>
                <td style="width:5%;  text-align:right;font-weight:bold;"><label id="lblTotalQty">0</label> </td>
                <td style="width:3%;  text-align:right;font-weight:bold;"> </td>
                @*<td id="tdAmount" style="width:13%; text-align:right; font-weight:bold;"><label id="lblCurrencySymbol"></label>&nbsp;<label id="lblTotalAmount">0.00</label> </td>*@
                <td style="width:50%;  text-align:right;font-weight:bold;"> </td>
            </tr>
        </table>
    </div>
    <fieldset style="height:10%">
        <legend style="font-weight: bold">Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
            <tr>
                <td style="width:83%; text-align:right"></td>
                <td style="width:17%;text-align:right;">
                    <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true">Approve</a>
                    <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                    <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                </td>
            </tr>
        </table>
    </fieldset>
</div>
<script type="text/javascript">
    var _oSparePartsRequisition=[];
    var _oSparePart = [];

    $(document).ready(function () {
        debugger;
        _oSparePartsRequisition =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oSPTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.SPTypes));
        var oAuthorizationRolesMapping = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        $("#progressbar").progressbar({ value: 0 });
        $('#btnApprove').hide();
        RefreshControl(_oSparePartsRequisition);
        //RefreshControlLayout(oAuthorizationRolesMapping);
    });

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }
    function RefreshControl(oSparePartsRequisition)
    {
        $('#txtRequisitionNo').val(oSparePartsRequisition.RequisitionNo);
        $('#txtRequisitionByName').val(oSparePartsRequisition.RequisitionByName);
        $('#txtRemarks').val(oSparePartsRequisition.Remarks);
        $('#txtSPStatus').val(oSparePartsRequisition.SPStatusSt);
        $('#txtCapitalResourceName').val(oSparePartsRequisition.CapitalResourceName);
        $('#txtIssueDate').datebox('setValue',oSparePartsRequisition.IssueDateSt);


        $('#cboSPType').val(oSparePartsRequisition.SPTypeInt);
        $("#txtCapitalResourceName").addClass("fontColorOfPickItem");
        
        RefreshDetailList(oSparePartsRequisition.SparePartsRequisitionDetails);
        var sSparePartsRequisitionHeader = sessionStorage.getItem("SparePartsRequisitionHeader");
        if(sSparePartsRequisitionHeader=="View SpareParts Requisition")
        {
            $('#btnSave,#btnAddDetail,#btnRemoveDetail').hide();
            $("#divSparePartsRequisition :input").prop('disabled', true);
        }
        if(sSparePartsRequisitionHeader=="Approved SpareParts Requisition")
        {
            $('#btnSave,#btnAddDetail,#btnRemoveDetail').hide();
            $('#btnApprove').show();
        }
        //SetTotal();
    }
    function cellFormatterLotList(value,row,index) {
        console.log(row);
        return '<a id="btnLotQty" href="javascript:void(0)" class="easyui-linkbutton" iconcls="" plain="true" onclick="ShowLots('+row.ProductID+')">'+row.TotalLotBalance+'</a>';
    }
    function ShowLots(nId) {
        var oLot = {
            ProductID: nId,
            BUID: parseInt(sessionStorage.getItem('BUID'))
        };
        debugger;
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/Lot/GetsLotForAvilableStock",
            traditional: true,
            data: JSON.stringify(oLot),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oDataList = jQuery.parseJSON(data);
                if(oDataList.length>0)
                {
                    var tblColums = [];
                    var oColumn = { field: "LotNo", title: "Lot No", width: 120, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Balance", title: "Balance", width: 80, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "MUName", title: "MUName", width: 80, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "LocationName", title: "Location Name", width: 100, align: "left" };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winLotPicker',
                        winclass:'clsLotPicker',
                        winwidth: 450,
                        winheight: 400,
                        tableid: 'tblLotPicker',
                        tablecolumns: tblColums,
                        datalist: oDataList,
                        multiplereturn: false,
                        searchingbyfieldName:'LotNo',
                        windowTittle: 'Avaiable Lot List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else
                {
                    alert("No Lot Found !!");
                }
               
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    }

    function RefreshDetailList(oOrderDetailList)
    {
        var data=oOrderDetailList;
        data={"total":""+data.length+"","rows":data};
        $('#tblSparePartsRequisitionDetail').datagrid('loadData',data);
    }

    //function Validation()
    //{
    //    var nSPType = parseInt($('#cboSPType').val());
    //    if(nSPType===0)
    //    {
    //        alert('Please select Rawmaterial Requsition Type!');
    //        $('#cboSPType').focus();
    //        return;
    //    }

    //    var sIssueDate = $('#txtIssueDate').datebox('getValue');
    //    if(sIssueDate===null || sIssueDate==="")
    //    {
    //        alert('Please select Requisition Date!');
    //        return false;
    //    }

    //    if(parseInt($('#txtCapitalResourceName').data('RequisitionFor'))<=0){
    //        $('#txtCapitalResourceName').focus();
    //        $('#txtCapitalResourceName').addClass("errorFieldBorder");
    //        alert('Please Pick Buyer.');
    //        return false;
    //    }
    //    else{
    //        $('#txtCapitalResourceName').removeClass("errorFieldBorder");
    //    }

    //    var oSparePartsRequisitionDetails = $('#tblSparePartsRequisitionDetail').datagrid('getRows');
    //    if(oSparePartsRequisitionDetails.length<=0)
    //    {
    //        alert("Please enter at least one Item!");
    //        return false;
    //    }

    //    for(i=0; i<oSparePartsRequisitionDetails.length; i++)
    //    {
    //        if(parseFloat(oSparePartsRequisitionDetails[i].Quantity)<=0)
    //        {
    //            alert("Please enter Qty for Product : "+ oSparePartsRequisitionDetails[i].ProductName +", & Lot No :"+ oSparePartsRequisitionDetails[i].LotNo);
    //            return false;
    //        }

    //        if(parseFloat(oSparePartsRequisitionDetails[i].UnitPrice)<=0)
    //        {
    //            alert("Invalid Rate for Product : "+ oSparePartsRequisitionDetails[i].ProductName +", & LotNo No :"+ oSparePartsRequisitionDetails[i].StyleNo);
    //            return false;
    //        }
    //    }
    //    return true;
    //}

    function RefreshObject()
    {
        var oSparePartsRequisition={
            SparePartsRequisitionID : parseInt(_oSparePartsRequisition.SparePartsRequisitionID),
            BUID : parseInt(sessionStorage.getItem('BUID')),
            RequisitionBy : _oSparePartsRequisition.RequisitionBy,
            IssueDate : $('#txtIssueDate').datebox('getValue'),
            CRID : _oSparePartsRequisition.CRID,
            Remarks : $('#txtRemarks').val(),
            SparePartsRequisitionDetails : $('#tblSparePartsRequisitionDetail').datagrid('getRows')
        };
        return oSparePartsRequisition;
    }
    function Validation()
    {
        if(_oSparePartsRequisition.CRID == 0)
        {
            alert("Please Select Capital Resource !!")
            $('#txtCapitalResourceName').focus;
            return false;
        }
        return true;
    }

    $("#btnSave").click(function (){
        endEditing();
        if(!Validation()) return false;
        var oSparePartsRequisition=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+"/SparePartsRequisition/Save",
            traditional: true,
            data:  JSON.stringify(oSparePartsRequisition),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                oSparePartsRequisition = jQuery.parseJSON(data);
                if (oSparePartsRequisition.ErrorMessage==null || oSparePartsRequisition.ErrorMessage=="") {
                    alert("Data Saved successfully");
                    var oSparePartsRequisitions = sessionStorage.getItem("SparePartsRequisitions");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if (oSparePartsRequisitions != null) {
                        oSparePartsRequisitions = jQuery.parseJSON(oSparePartsRequisitions);
                    }
                    else {
                        oSparePartsRequisitions = [];
                    }
                    if (nIndex != -1) {
                        oSparePartsRequisitions[nIndex] = oSparePartsRequisition;
                    }
                    else {
                        sessionStorage.setItem("SelectedRowIndex", oSparePartsRequisitions.length);
                        oSparePartsRequisitions.push(oSparePartsRequisition);
                    }
                    sessionStorage.setItem("SparePartsRequisitions", JSON.stringify(oSparePartsRequisitions));
                    window.location.href = sessionStorage.getItem("BackLink");
                }
                else {
                    alert(oSparePartsRequisition.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });

    $("#btnApprove").click(function (){
        if(!Validation()) return false;
        if (!confirm("Confirm to Approve?")) return false;
        var oSparePartsRequisition=RefreshObject();
        oSparePartsRequisition.ActionTypeExtra = "Approve";
        oSparePartsRequisition.SparePartsRequisitionStatusInInt = 2;//
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+"/SparePartsRequisition/ChangeStatus",
            traditional: true,
            data:  JSON.stringify(oSparePartsRequisition),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //
                oSparePartsRequisition = jQuery.parseJSON(data);
                if (oSparePartsRequisition.ErrorMessage==null || oSparePartsRequisition.ErrorMessage=="") {
                    alert("Approved successfully");
                    var oSparePartsRequisitions = sessionStorage.getItem("SparePartsRequisitions");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if (oSparePartsRequisitions != null) {
                        oSparePartsRequisitions = jQuery.parseJSON(oSparePartsRequisitions);
                    }
                    else {
                        oSparePartsRequisitions = [];
                    }
                    if (nIndex != -1) {
                        oSparePartsRequisitions[nIndex] = oSparePartsRequisition;
                    }
                    else {
                        sessionStorage.setItem("SelectedRowIndex", oSparePartsRequisitions.length);
                        oSparePartsRequisitions.push(oSparePartsRequisition);
                    }
                    sessionStorage.setItem("SparePartsRequisitions", JSON.stringify(oSparePartsRequisitions));
                    window.location.href = sessionStorage.getItem("BackLink");
                }
                else {
                    alert(oSparePartsRequisition.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    //------------------------------------Pick Capital Resource--------------------------------------//
    function ClearCR()
    {
        $('#txtCapitalResourceName').val('');
        _oSparePartsRequisition.CRID = 0;
        $("#txtCapitalResourceName").removeClass("fontColorOfPickItem");
        $('#txtCapitalResourceName').data('RequisitionFor', 0);
    }
    $("#txtCapitalResourceName").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            PickCR();
        }
        if(code == 8)
        {
            ClearCR();
        }
    });
    function PickCR(){
        var oTempObj = {
            Name:$('#txtCapitalResourceName').val(),
            BUID:sessionStorage.getItem("BUID")
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oTempObj,
            ControllerName: "CapitalResource",
            ActionName: "GetCRByNameBUID",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        debugger
        $.icsDataGets(obj, function (response) {
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].CRID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "ParentName", title: "Type", width: 120, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 200, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Code", title: "Code", width: 100, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Note", title: "Note", width: 150, align: "left" };tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winCRPicker',
                        winclass:'clsCRPicker',
                        winwidth: 650,
                        winheight: 500,
                        tableid: 'tblCRPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName:'Name',
                        windowTittle: 'Capital Resource List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No Capital Resource found.");
            }
        });
    }

    //$("#txtSubLedgerName").keydown(function (e) {
    //    var code = (e.keyCode ? e.keyCode : e.which);
    //    if (code == 13) // Enter Press
    //    {
    //        PickSubLedger();
    //    }else if (code == 8) //backspace=8
    //    {
    //        $('#txtSubLedgerName').removeClass('fontColorOfPickItem');
    //        $('#txtSubLedgerName').data('SubLedgerID', 0);
    //    }
    //});



    //end requisition for picker

    //start product picker
    $("#btnProductPiker").click(function () {
        PickProducts("", 0);
    });

    $('#txtProductName').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) //backspace=8
        {
            PickProducts();
        }
        if (code == 8) //backspace=8
        {
            $("#txtProductName").removeClass("fontColorOfPickItem");
            $('#txtProductName').data('Product', null);
        }
    });
    function PickProducts()
    {
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var oTempObj = {
            CRID: _oSparePartsRequisition.CRID,
            ProductName : $('#txtProductName').val(),
            BUID:sessionStorage.getItem("BUID")
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oTempObj,
            ControllerName: "SparePartsRequisition",
            ActionName: "GetsByNameCRAndBUID",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            $("#progressbar").progressbar({ value: 0 });//hide
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].SparePartsID > 0) {
                    var tblColums = []; var oColumn = { field: "ProductCode", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
                    var oColumn = { field: "ProductName", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    var oColumn = { field: "Remarks", title: "Remarks", width: 200, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winProductPicker',
                        winclass: 'clsProductPicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProductPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'ProductCode',
                        windowTittle: 'Spare Parts List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });
    }
    //end product picker

    //start style picker
    //end Lot picker
    $("#btnRefreshDetail").click(function (){
        endEditing();
    });


    //$("#txtWorkingUnit").keydown(function (e) {
    //    var nkeyCode = e.keyCode || e.which;
    //    if(nkeyCode==13){
    //        var txtWorkingUnit=$.trim($("#txtWorkingUnit").val());
    //        if(txtWorkingUnit==""){ alert("Type Store name to search."); return false; }
    //        GetWorkingUnit(txtWorkingUnit);
    //    }
    //    else if(nkeyCode==8)
    //    {

    //        $("#txtWorkingUnit").removeClass("fontColorOfPickItem");
    //        _oSparePartsRequisition.StoreID = 0;
    //        RefreshDetailList([]);
    //    }
    //});



    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj)
    {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        debugger;
        if (oPickerobj.winid == 'winCRPicker')
        {
            if (oreturnObj != null && oreturnObj.CRID> 0)
            {
                $('#txtCapitalResourceName').val(oreturnObj.Name);
                $("#txtCapitalResourceName").addClass("fontColorOfPickItem");
                $('#winCRPicker').icsWindow('close');
                _oSparePartsRequisition.CRID = oreturnObj.CRID;
            }
            else
            {
                alert("No Capital Resource Found");
                return false;
            }
        }
        else if (oPickerobj.winid == 'winProductPicker')
        {
            if (oreturnObj != null && oreturnObj.SparePartsID > 0)
            {
                _oSparePart = oreturnObj;
                $('#txtProductName').val(oreturnObj.ProductName);
                $('#txtProductName').addClass('fontColorOfPickItem');
                $('#txtProductName').data('Product', oreturnObj);
            }
        }
    }

    function GetMeasurementUnitByType(nUnitTypeInt)
    {
        var oMeasurementUnit={
            UnitTypeInInt : nUnitTypeInt
        };
        $.ajax ({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+"/MeasurementUnit/GetbyUnitType",
            data:  JSON.stringify(oMeasurementUnit),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //
                var  oUnits = jQuery.parseJSON(data);
                if (oUnits!=null)
                {
                    if(oUnits.length>0)
                    {
                        $("#cboUnit").icsLoadCombo({List: oUnits,OptionValue: "MeasurementUnitID",DisplayText: "Symbol"});
                    }
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    }
    function ResetDetail(){
        $('#txtProductName').data('Product', null);
        $('#txtLots').data('Lot', []);
        $('#txtQty').val('');

        $('#txtProductName,#txtLot').removeClass("fontColorOfPickItem");
        $('#txtProductName,#txtLot').val("");
        $('#txtProductName,#btnProductPiker,#txtLot,#btnLotPicker').prop("disabled", false);

        $('#txtProductName').focus();
    }

    function SetTotal()
    {
        var nTotalValue = 0;
        var nTotalQty = 0;
        var oSparePartsRequisitionDetails = $('#tblSparePartsRequisitionDetail').datagrid('getRows');
        for(var i = 0;i<oSparePartsRequisitionDetails.length;i++)
        {
            nTotalValue = nTotalValue + parseFloat(oSparePartsRequisitionDetails[i].Amount);
            nTotalQty = nTotalQty + parseFloat(oSparePartsRequisitionDetails[i].Quantity);
        }
        $("#lblTotalQty").html(nTotalQty);
        $("#lblTotalAmount").html(formatPrice4digit(nTotalValue,0));
    }
    function ValidateInputDetail()
    {
        if(_oSparePartsRequisition.CRID==0)
        {
            alert("Please Select Capital Resource !!")
            $('#txtCapitalResourceName').focus;
            return false;
        }
        if(_oSparePart.SparePartsID==0)
        {
            alert("Please Select Spare Parts !!")
            $('#txtProductName').focus;
            return false;
        }
        if(!$('#txtQty').val()>0)
        {
            alert("Please Enter The Qty");
            $('#txtQty').focus;
            return false;
        }
        return true;
    }
    $("#btnAddDetail").click(function () {
        debugger;
        if(!ValidateInputDetail())return;
        var oDetailData = MapDetailObject(_oSparePart);
        $('#tblSparePartsRequisitionDetail').datagrid('appendRow',oDetailData);
        RefreshDetailToolBar();
        //SetTotal();
        //ResetDetail();
    });
    function RefreshDetailToolBar()
    {
        $('#txtQty').val('');
        $('#txtProductName').val('');
        _oSparePart = [];
    }
    function MapDetailObject(oTempObj)
    {
        var oData = {
            SparePartsRequisitionDetailID : 0,
            SparePartsRequisitionID : 0,
            ProductID : oTempObj.SparePartsID,
            ProductCode : oTempObj.ProductCode,
            ProductName : oTempObj.ProductName,
            Quantity: $('#txtQty').val(),
            Remarks : oTempObj.Remarks,
            TotalLotBalance : oTempObj.TotalLotBalance
        }
        return oData;
    }

    $('#btnClose').click(function(e){
        window.location.href = sessionStorage.getItem("BackLink");
    });

    $("#btnRemoveDetail").click(function () {

        var oSparePartsRequisitionDetail = $("#tblSparePartsRequisitionDetail").datagrid("getSelected");
        if (oSparePartsRequisitionDetail == null || parseInt(oSparePartsRequisitionDetail.ProductID) <= 0) { alert("Please select an item from list!"); return false; }
        if (!confirm("Confirm to Delete?")) return false;
        var SelectedRowIndex=$('#tblSparePartsRequisitionDetail').datagrid('getRowIndex',oSparePartsRequisitionDetail);
        alert("Data Delete Successfully.");
        $('#tblSparePartsRequisitionDetail').datagrid('deleteRow',SelectedRowIndex);
        SetTotal();
    });

    var editIndex = undefined;
    function endEditing(){
        if (editIndex == undefined){return true}
        if ($('#tblSparePartsRequisitionDetail').datagrid('validateRow', editIndex)){
            $('#tblSparePartsRequisitionDetail').datagrid('endEdit', editIndex);
            $('#tblSparePartsRequisitionDetail').datagrid('selectRow',editIndex);
            var oCRDetail=$('#tblSparePartsRequisitionDetail').datagrid('getSelected');
            if(oCRDetail!=null)
            {
                oCRDetail.Amount = parseFloat((parseFloat(oCRDetail.Quantity)) *parseFloat(oCRDetail.UnitPrice));
                $('#tblSparePartsRequisitionDetail').datagrid('updateRow',{index: editIndex,	row: oCRDetail});
            }
            SetTotal();
            editIndex = undefined;
            return true;
        }
        else
        {
            return false;
        }
    }
    function onClickRow(index){
        if (editIndex != index){
            if (endEditing())
            {
                $('#tblSparePartsRequisitionDetail').datagrid('selectRow', index).datagrid('beginEdit', index);
                editIndex = index;
            }
            else
            {
                $('#tblSparePartsRequisitionDetail').datagrid('selectRow', editIndex);
            }
        }
    }

    $('#txtQty').tooltip({
        position: 'bottom',
        content: '<span style="color:#fff">Type Qty.</span>',
        onShow: function(){$(this).tooltip('tip').css({backgroundColor: '#666',borderColor: '#666'});}
    });


    //$('#cboRefType').change(function(){
    //    $('#txtRefObjNo').val("");
    //    $('#txtRefObjNo').data('RefObjID', 0);
    //});


    //$("#txtRefObjNo").keydown(function (e) {
    //    var code = (e.keyCode ? e.keyCode : e.which);
    //    if (code == 13) // Enter Press
    //    {
    //        PickRefObj();
    //    }else if (code == 8) //backspace=8
    //    {
    //        $('#txtRefObjNo').removeClass('fontColorOfPickItem');
    //        $('#txtRefObjNo').data('RefObjID', 0);
    //    }
    //});

    //function PickRefObj()
    //{
    //    if(parseInt($('#cboRefType').val()) == 0) {
    //        alert("Please select a ref type.");
    //        return false;
    //    }
    //    if($('#txtRefObjNo').val() == "") {
    //        alert("Please enter a value.");
    //        return false;
    //    }
    //    var oRefObj = {
    //        RefObjNo:$.trim($('#txtRefObjNo').val()),
    //        RefTypeInt:parseInt($('#cboRefType').val())
    //    };

    //    debugger;

    //    var obj = {
    //        BaseAddress: sessionStorage.getItem('BaseAddress'),
    //        Object: oRefObj,
    //        ControllerName: "SparePartsRequisition",
    //        ActionName: "GetRefObjs",
    //        IsWinClose: false
    //    };
    //    $("#progressbar").progressbar({ value: 0 });
    //    $("#progressbarParent").show();
    //    var intervalID = setInterval(updateProgress, 250);
    //    $.icsDataGets(obj, function (response) {
    //        clearInterval(intervalID);
    //        $("#progressbarParent").hide();
    //        if (response.status && response.objs.length > 0)
    //        {
    //            if (response.objs[0].RefObjID > 0)
    //            {
    //                if(parseInt($('#cboRefType').val()) == 1)
    //                {
    //                    var tblColums = []; var oColumn = { field: "SCNoFull", title: "PONo", width:100, align: "left" }; tblColums.push(oColumn);
    //                    oColumn = { field: "SCDateSt", title: "PODate", width: 100, align: "left" }; tblColums.push(oColumn);
    //                    oColumn = { field: "BuyerName", title: "BuyerName", width: 100, align: "left" }; tblColums.push(oColumn);
    //                    oColumn = { field: "OrderName", title: "OrderName", width: 100, align: "left" }; tblColums.push(oColumn);
    //                    oColumn = { field: "Qty", title: "Qty", width: 60, align: "left" }; tblColums.push(oColumn);
    //                }
    //                else if(parseInt($('#cboRefType').val()) == 2) {
    //                    var tblColums = []; var oColumn = { field: "ExeNoFull", title: "DispoNo", width:100, align: "left" }; tblColums.push(oColumn);
    //                    oColumn = { field: "SCNoFull", title: "PONo", width: 100, align: "left" }; tblColums.push(oColumn);
    //                    oColumn = { field: "SCDateSt", title: "PODate", width: 100, align: "left" }; tblColums.push(oColumn);
    //                    oColumn = { field: "BuyerName", title: "BuyerName", width: 100, align: "left" }; tblColums.push(oColumn);
    //                    oColumn = { field: "ColorInfo", title: "Color", width: 100, align: "left" }; tblColums.push(oColumn);
    //                    oColumn = { field: "Construction", title: "Construction", width: 100, align: "left" }; tblColums.push(oColumn);
    //                    oColumn = { field: "ProductName", title: "Composition", width: 100, align: "left" }; tblColums.push(oColumn);
    //                    oColumn = { field: "FabricNo", title: "MKTRef", width: 100, align: "left" }; tblColums.push(oColumn);
    //                }
    //                var oPickerParam = {
    //                    winid: 'winRefObj',
    //                    winclass: 'clsRefObj',
    //                    winwidth: 400,
    //                    winheight: 460,
    //                    tableid: 'tblRefObjs',
    //                    tablecolumns: tblColums,
    //                    datalist: response.objs,
    //                    multiplereturn: false,
    //                    searchingbyfieldName: 'RefObjNo',
    //                    windowTittle: 'RefObj List'
    //                };
    //                $.icsPicker(oPickerParam);
    //                IntializePickerbutton(oPickerParam);
    //            }
    //            else { alert(response.objs[0].ErrorMessage); }
    //        }else{
    //            alert("Data Not Found.");
    //        }
    //    });
    //}

    //function RefreshControlLayout(oAuthorizationRolesMapping)
    //{
    //    debugger;

    //    if(oAuthorizationRolesMapping!=null && oAuthorizationRolesMapping.length>0)
    //    {
    //        if (PermissionChecker('RateView', 'SparePartsRequisition',oAuthorizationRolesMapping))
    //        {
    //            $("#tblSparePartsRequisitionDetail").datagrid("showColumn", "Amount");
    //            $("#tblSparePartsRequisitionDetail").datagrid("showColumn", "UnitPrice");
    //            $("#tdAmount").show();
    //        }
    //    }

    //}

</script>
