<html>
@{
    ViewBag.Title = "Quality Control";
}
<body>
@model ESimSol.BusinessObjects.QC
    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable" id="divPP"  class="easyui-panel" title="Quality Control(QC)" style="font-family:Tahoma; height:100%; width:100%">
        <fieldset>
            <legend> Production Sheet Information </legend>
            <table border="0" style="font-size:12px" width="100%">
                <tr>
                    <td style="width:10%; text-align:right">Buyer Name:</td>
                    <td style="width:20%; text-align:left">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="width:87%"><input type="text" id="txtContractorName" placeholder="Type Buyer & Press Enter" style="width:100%" /></td>
                                <td style="width:13%"><input type="button" id="btnPickContractor" value="Pick" /> </td>
                            </tr>
                        </table>
                        
                    </td>
                    <td style="width:10%; text-align:right">Sheet No:</td>
                    <td style="width:20%; text-align:left">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                            <tr>
                                <td style="width:87%"><input type="text" id="txtSheetNo" placeholder="Type Sheet No & Press Enter" style="width:100%" /></td>
                                <td style="width:13%"><input type="button" id="btnPickProductionSheet" value="Pick" /> </td>
                            </tr>
                        </table>
                    </td>
                    <td style="width:10%; text-align:right">Sheet Qty:</td>
                    <td style="width:20%; text-align:left">
                        <input type="text" id="txtQuantity" style="width:100%;text-align:right;" disabled />
                    </td>
                </tr>
                <tr>
                    <td style="width:10%; text-align:right">PI No:</td>
                    <td style="width:20%; text-align:left">
                        <input type="text" id="txtPINo" style="width:100%" placeholder="Type PI No Press Enter"  />
                    </td>
                    <td style="width:10%; text-align:right">PI Qty:</td>
                    <td style="width:20%; text-align:left">
                        <input type="text" id="txtExportSCQty" style="width:100%;text-align:right;" disabled />
                    </td>
                    <td style="width:10%; text-align:right"><label id="lblLastStepName">Last Step</label> Qty:</td>
                    <td style="width:20%; text-align:left">
                        <input type="text" id="txtLastStepQuantity" style="width:100%;text-align:right;" disabled />
                    </td>
                </tr>
                <tr>
                    <td style="width:10%; text-align:right">Store Name:</td>
                    <td style="width:20%; text-align:left">
                        <select id="cboFinishingStore" style="width:100%" class="chngeStore"></select>
                    </td>
                    <td style="width:10%; text-align:right">Product Name:</td>
                    <td style="width:20%; text-align:left">
                        <input type="text" id="txtProductName" style="width:100%" disabled />
                    </td>
                    <td style="width:10%; text-align:right">Yet to QC:</td>
                    <td style="width:20%; text-align:right;">
                        <input type="text" id="txtYetToQC" style="width:100%;text-align:right;" disabled />
                    </td>
                </tr>
            </table>
        </fieldset>
        <div>
            <div id="toolBar">
                <table border="0" cellpadding="0" cellspacing="0" style="font-size:12px;width:100%">
                    <tr style="height:20px">
                        <td style="width:4%;text-align:right;">Lot:</td>
                        <td style="width:10%"><select id="cboLot" style=" width:100%;"></select></td>
                        <td style="width:8%;text-align:right;">Pass Qty:</td>
                        <td style="width:10%"><input type="text" id="txtPassQty" style=" width:100%;" /></td>
                        <td style="width:8%;text-align:right;">Reject Qty:</td>
                        <td style="width:10%"><input type="text" id="txtRejectQty" style=" width:90%;" /></td>
                        <td style="width:10%;text-align:right;">Carton Qty:</td>
                        <td style="width:10%"><input type="text" id="txtCartonQty" style=" width:100%;" /></td>
                        <td style="width:13%;text-align:right;">Item Qty/Carton:</td>
                        <td style="width:10%"><input type="text" id="txtQtyPerCarton" style=" width:90%;" /></td>
                        <td style="width:4%;text-align:right;"><a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="Add()">Add</a></td>
                    </tr>
                </table>
            </div>
              <table id="tblQCs" title="QC History" class="easyui-datagrid" style="width:100%; height:465px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolBar">
                <thead>
                    <tr>
                        <th field="OperationTimeInString" width="170" align="left">Time</th>
                        <th field="QCPersonName" width="150" align="left">Person</th>
                        <th field="StoreName" width="140" align="left">Store</th>
                        <th field="LotNo" width="90" align="left">Lot No</th>
                        <th field="CartonQty" width="80" align="right">Carton Qty</th>
                        <th field="PerCartonFGQty" width="100" align="right">Item/Carton</th>
                        <th field="PassQuantity" width="80" align="right">Pass</th>
                        <th field="RejectQuantity" width="80" align="right">Reject</th>
                        <th field="TotalQty" width="100" align="right">Total</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    var _sBaseAddress="";
    $(document).ready(function () {
        debugger;
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oQC =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var BUID  =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var nProductNature=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ProductNature));
        var oStores = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Stores));
        $("#cboFinishingStore").icsLoadCombo({ List: oStores, OptionValue: "WorkingUnitID", DisplayText: "WorkingUnitName" });
        $('#divPP').data('ProductionSheet',null);
        sessionStorage.setItem('BUID',BUID);
        sessionStorage.setItem('ProductNature',nProductNature);
        $('#txtYetToQC,#txtPassQty,#txtRejectQty,#txtCartonQty,#txtQtyPerCarton').icsCurrencyBox();
        $('#divPP').data('ProductionSheet',null);
        $('#divPP').data('QCs',[]);
        $('#divPP').data('QC',oQC);
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();

    });
    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }
    $('.chngeStore').change(function(){
        debugger;
        if(parseInt($('#cboFinishingStore').val())>0)
        {
            GetExistingLots();
        }
    });

    $('#txtPassQty').keyup(function(){
        $('#txtCartonQty').val(Math.ceil(parseInt($('#txtPassQty').val())/ parseInt($('#txtQtyPerCarton').val())));
    });

    ///Contractor Pick
    $("#txtContractorName").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtContractorName').val())==null || $.trim($('#txtContractorName').val())=="")
            {
                alert("Please Type Buyer Name & Press Enter");
                return;
            }
            GetContractors($.trim($('#txtContractorName').val()));
        }else if (code == 8) //backspace=8
        {
            //debugger;
            $("#txtContractorName").removeClass("fontColorOfPickItem");
            $('#divPP').data('QC').ContractorID = 0;
            $('#txtContractorName').val('');
        }
    });
    $("#btnPickContractor").click(function ()
    {
        GetContractors("");
    });
    
    function GetContractors(sContractorName)
    {
        var oContractor = { Params: 2 + '~' + sContractorName+'~'+sessionStorage.getItem("BUID") };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            debugger;
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    debugger;
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winContractors',
                        winclass: 'clsContractor',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblContractors',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Contractor List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
                return;
            }
        });
    }

    $("#txtSheetNo").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtSheetNo').val())==null || $.trim($('#txtSheetNo').val())=="")
            {
                alert("Please Type Production Sheet No And Press Enter.");
                return;
            }
            GetSheets($.trim($('#txtSheetNo').val()),'');
        }
    });

    $("#txtPINo").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($.trim($('#txtPINo').val())==null || $.trim($('#txtPINo').val())=="")
            {
                alert("Please Type PO No And Press Enter.");
                return;
            }
            GetSheets('',$.trim($('#txtPINo').val()));
        }
    });

    $("#btnPickProductionSheet").click(function()
    {
        debugger;
        GetSheets("",'');
    });
    function GetSheets(sSheetNo, sPINo)
    {
        var oProductionSheet = {SheetNo:sSheetNo,ContractorID:$('#divPP').data('QC').ContractorID,BUID:sessionStorage.getItem("BUID"),ProductNatureInInt:sessionStorage.getItem('ProductNature'), ExportPINo:sPINo};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProductionSheet,
            ControllerName: "ProductionSheet",
            ActionName: "GetsProductionSheetsForQC",
            IsWinClose: false
        };
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            debugger;
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductionSheetID > 0) {
                    debugger;
                    var tblColums = []; var oColumn = { field: "SheetNo", title: "Sheet No", width: 100, align: "left" }; tblColums.push(oColumn);                    
                    oColumn = { field: "ExportPINo", title: "PI No", width: 180, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ContractorName", title: "Party Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Product Name", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "QuantityInString", title: "Sheet Qty", width: 100, align: "right" }; tblColums.push(oColumn);                    
                    oColumn = { field: "Measurement", title: "Measurement", width: 200, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winProductionSheets',
                        winclass: 'clsProductionSheet',
                        winwidth: 850,
                        winheight: 460,
                        tableid: 'tblProductionSheets',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'ExportPINo',
                        windowTittle: 'ProductionSheet To List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
            }
        });
    }
    $('#txtSheetNo').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            //debugger;
            $("#txtSheetNo").removeClass("fontColorOfPickItem");
            $("#txtSheetNo").val('');
            $('#divPP').data('ProductionSheet',null);
        }
    });

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);

            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        debugger;
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        if (oPickerobj.winid == 'winContractors')
        {
            if (oreturnObj != null && oreturnObj.ContractorID > 0) {
                $('#txtContractorName').val(oreturnObj.Name);
                $('#txtContractorName').addClass('fontColorOfPickItem');
                $('#divPP').data('QC').ContractorID= oreturnObj.ContractorID;
                $('#txtContractorName').focus();
            }
        }
        else if (oPickerobj.winid == 'winProductionSheets')
        {
            if (oreturnObj != null && oreturnObj.ProductionSheetID > 0)
            {
                //
                
                $('#divPP').data('ProductionSheet',oreturnObj);
                $('#txtSheetNo').val(oreturnObj.SheetNo);
                $('#txtContractorName').val(oreturnObj.ContractorName);
                $('#txtProductName').val(oreturnObj.ProductName);
                $('#txtPINo').val(oreturnObj.ExportPINo);
                $('#lblLastStepName').html(oreturnObj.LastExecutionStepName);
                
                var nProductNature = parseInt(sessionStorage.getItem('ProductNature'));
                if(nProductNature===2)
                {
                    $('#txtQuantity').val(formatPrice(oreturnObj.Quantity,0)+' '+oreturnObj.UnitSymbol);
                    $('#txtLastStepQuantity').val(formatPrice(oreturnObj.LastExecutionStepQty,0)+' '+oreturnObj.UnitSymbol);
                    $('#txtYetToQC').val(formatPrice(oreturnObj.YetToQCQty,0)+' '+oreturnObj.UnitSymbol);
                    $('#txtExportSCQty').val(formatPrice(oreturnObj.ExportSCQty,0)+' '+oreturnObj.UnitSymbol);
                }
                else
                {
                    $('#txtQuantity').val(formatPriceWithZeroDecimal(oreturnObj.Quantity,0)+' '+oreturnObj.UnitSymbol);
                    $('#txtLastStepQuantity').val(formatPriceWithZeroDecimal(oreturnObj.LastExecutionStepQty,0)+' '+oreturnObj.UnitSymbol);
                    $('#txtYetToQC').val(formatPriceWithZeroDecimal(oreturnObj.YetToQCQty,0)+' '+oreturnObj.UnitSymbol);
                    $('#txtExportSCQty').val(formatPriceWithZeroDecimal(oreturnObj.ExportSCQty,0)+' '+oreturnObj.UnitSymbol);
                }
                $('#txtQtyPerCarton').val(oreturnObj.PerCartonFGQty);
                $('#txtSheetNo,#txtContractorName').addClass('fontColorOfPickItem');
                $('#divPP').data('QC').ProductionSheetID =oreturnObj.ProductionSheetID;
                $('#divPP').data('QC').ContractorID= oreturnObj.ContractorID;
                GetQCs(oreturnObj.ProductionSheetID);
                GetExistingLots();
                $('#txtSheetNo').focus();
            }
        }

    }

    function GetQCs(nProductionSheetID)
    {
        var oQC={
            ProductionSheetID : nProductionSheetID
        };
        $.ajax ({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/QC/GetQCs",
            data:  JSON.stringify(oQC),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var  oQCs = jQuery.parseJSON(data);
                if(oQCs.length>0 && (oQCs[0].ErrorMessage=="" || oQCs[0].ErrorMessage==null))
                {
                    DynamicRefreshList(oQCs, "tblQCs");
                    $('#divPP').data('QCs',oQCs);

                }else
                {
                    alert(oQCs[0].ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    }

    function GetExistingLots()
    {
        var oPS = $('#divPP').data('ProductionSheet');
        if(oPS ==null || parseInt(oPS.ProductionSheetID)<=0)
        {
            alert("Please Pick Production Sheet.");
            return;
        }
        if(parseInt($('#cboFinishingStore').val())<=0)
        {
            return;
        }
        var oQC={
            ProductionSheetID:$('#divPP').data('ProductionSheet').ProductionSheetID,
            WorkingUnitID:$('#cboFinishingStore').val()
        };
        $.ajax ({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/QC/GetLots",
            data:  JSON.stringify(oQC),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var  oLots = jQuery.parseJSON(data);
                if(oLots.length>0)
                {
                    $("#cboLot").icsLoadCombo({ List: oLots, OptionValue: "LotID", DisplayText: "LotWithBalance" });
                    $('#divPP').data('Lots',oLots);

                }else
                {
                    $("#cboLot").icsLoadCombo({ List: [], OptionValue: "LotID", DisplayText: "LotWithBalance" });
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    }

    function RefreshDetail()
    {

        var oQCs = $('#tblQC').datagrid('getRows');
        DynamicRefreshList(oQCs, "tblQCs");
    }

    function Add()
    {
        debugger;

        if(!ValidateInput()) return;
        var oQC =  RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/QC/SaveQC",
            traditional: true,
            data:  JSON.stringify(oQC),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var oQC= jQuery.parseJSON(data);
                if (parseInt(oQC.QCID)>0 && (oQC.ErrorMessage==""||oQC.ErrorMessage==null))
                {
                    alert("Successfully Saved.!!");
                    $('#tblQCs').datagrid('appendRow',oQC);
                    $('#txtPassQty,#txtRejectQty,#txtCartonQty').val(0);
                    GetExistingLots();
                    $('#txtPassQty').focus();
                    ProductionSheetReload($('#divPP').data('ProductionSheet').ProductionSheetID);
                }
                else
                {
                    alert(oQC.ErrorMessage);
                }

            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    }

    function RefreshObject()
    {
        var nPassQuantity = 0.0;
        var nRejectQuantity = 0.00;
        var nProductNature = parseInt(sessionStorage.getItem('ProductNature'));
        if(nProductNature===2)
        {
             nRejectQuantity = parseFloat(icsRemoveComma($('#txtRejectQty').val()));
             nPassQuantity = parseFloat(icsRemoveComma($('#txtPassQty').val()));
        }
        else
        {
            nRejectQuantity = parseInt(icsRemoveComma($('#txtRejectQty').val()));
            nPassQuantity  = parseInt(icsRemoveComma($('#txtPassQty').val()));
        }
        var oQC={
            QCID:0,
            ProductionSheetID:$('#divPP').data('ProductionSheet').ProductionSheetID,
            PassQuantity: nPassQuantity,
            RejectQuantity: nRejectQuantity,
            CartonQty:parseInt(icsRemoveComma($('#txtCartonQty').val())),
            PerCartonFGQty:parseInt(icsRemoveComma($('#txtQtyPerCarton').val())),
            ProductID:$('#divPP').data('ProductionSheet').ProductID,
            WorkingUnitID:parseInt($('#cboFinishingStore').val()),
            LotID:parseInt($('#cboLot').val())

        }
        return oQC;
    }

    function ValidateInput()
    {
        //  debugger;
        var oPS = $('#divPP').data('ProductionSheet');
        if(oPS==null || parseInt($('#divPP').data('ProductionSheet').ProductionSheetID)<=0)
        {
            alert("Please select Production Sheet.!");
            return false;
        }

        if(parseInt($('#cboFinishingStore').val())<=0)
        {
            $('#cboFinishingStore').focus();
            $('#cboFinishingStore').addClass("errorFieldBorder");
            alert('Please Select  Store.');
            return false;
        }

        var nProductNature = parseInt(sessionStorage.getItem('ProductNature'));
        if(nProductNature===2)
        {
            if(parseFloat(oPS.YetToQCQty)<=0)
            {
                alert("Sorry, there is No Remaining Product For QC.");
                return false;
            }

            if(parseFloat(icsRemoveComma($('#txtPassQty').val()))<=0)
            {
                $('#txtPassQty').focus();
                $('#txtPassQty').addClass("errorFieldBorder");
                alert('Pass Qty Should be Greater than 0');
                return false;
            }
            if(parseFloat(icsRemoveComma($('#txtCartonQty').val()))<=0)
            {
                $('#txtCartonQty').focus();
                $('#txtCartonQty').addClass("errorFieldBorder");
                alert('Carton Qty Should be Greater than 0');
                return false;
            }
            if(parseFloat(icsRemoveComma($('#txtQtyPerCarton').val()))<=0)
            {
                $('#txtQtyPerCarton').focus();
                $('#txtQtyPerCarton').addClass("errorFieldBorder");
                alert('Item Qty Should be Greater than 0 Per Carton');
                return false;
            }
            if(parseFloat(oPS.YetToQCQty)<parseFloat(parseFloat(icsRemoveComma($('#txtPassQty').val()))+parseFloat(parseInt(icsRemoveComma($('#txtRejectQty').val())))))
            {
                alert("Sorry, You can't QC More than."+oPS.YetToQCQty);
                return false;
            }
        }
        else
        {
            if(parseFloat(oPS.YetToQCQty)<=0)
            {
                alert("Sorry, there is No Remaining Product For QC.");
                return false;
            }

            if(parseInt(icsRemoveComma($('#txtPassQty').val()))<=0)
            {
                $('#txtPassQty').focus();
                $('#txtPassQty').addClass("errorFieldBorder");
                alert('Pass Qty Should be Greater than 0');
                return false;
            }
            if(parseInt(icsRemoveComma($('#txtCartonQty').val()))<=0)
            {
                $('#txtCartonQty').focus();
                $('#txtCartonQty').addClass("errorFieldBorder");
                alert('Carton Qty Should be Greater than 0');
                return false;
            }
            if(parseInt(icsRemoveComma($('#txtQtyPerCarton').val()))<=0)
            {
                $('#txtQtyPerCarton').focus();
                $('#txtQtyPerCarton').addClass("errorFieldBorder");
                alert('Item Qty Should be Greater than 0 Per Carton');
                return false;
            }
            if((parseInt(oPS.YetToQCQty))<parseInt(parseInt(icsRemoveComma($('#txtPassQty').val()))+parseInt(parseInt(icsRemoveComma($('#txtRejectQty').val())))))
            {
                alert("Sorry, You can't QC More than."+oPS.YetToQCQty);
                return false;
            }
        }
        return true;
    }


    function ProductionSheetReload(nProductionSheetID)
    {
        var oProductionSheet = {ProductionSheetID:nProductionSheetID};
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/ProductionSheet/GetProductionSheet",
            traditional: true,
            data:  JSON.stringify(oProductionSheet),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var oProductionSheet= jQuery.parseJSON(data);
                if (parseInt(oProductionSheet.ProductionSheetID)>0 && (oProductionSheet.ErrorMessage==""||oProductionSheet.ErrorMessage==null))
                {
                    $('#divPP').data('ProductionSheet',oProductionSheet);
                    var nProductNature = parseInt(sessionStorage.getItem('ProductNature'));
                    if(nProductNature===2)
                    {
                        $('#txtYetToQC').val(formatPrice(oProductionSheet.YetToQCQty,0)+' '+oProductionSheet.UnitSymbol);
                    }
                    else
                    {
                        $('#txtYetToQC').val(formatPriceWithZeroDecimal(oProductionSheet.YetToQCQty,0)+' '+oProductionSheet.UnitSymbol);
                    }
                }
                else
                {
                    alert(oProductionSheet.ErrorMessage);
                }

            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    }
</script>