@model IEnumerable<ESimSol.BusinessObjects.DUDeliveryStock>
    @{
        ViewBag.Title = "View Delivery Stock";
    }

    <body>
        <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
            <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
                <label style="font-size:18px;">Please wait</label>
                <div id="progressbar" style="width:100%;height:37px;"></div>
            </div>
        </div>
        <div class="easyui-layout menuMainCollectionTable" style="margin-left: 0px; height:100%; width:100%">
            <div id="divDeliveryStock" title="Delivery Stock" style="height: 100%; width:100%; overflow:hidden;">

                <div style="width:100%; height:90%">
                    <table id="tblDelStocks" style="width:100%; height:70%" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar2" data-options="rowStyler: function(index,row){
                                        if (row.Qty<=10){
                                            return 'color:#016B18; font-weight:bold;';
                                        }

                                    }
                    ">
                        <thead>
                            <tr>

                                @*<th data-options=" field:'selected',checkbox:true"></th>*@
                                <th field="LotNo" width="8%" align="left">LotNo</th>
                                <th field="RSDate" width="9%" align="left">RSDate</th>
                                <th field="Product" width="28%" align="left">Product</th>
                                <th field="Qty" width="10%" align="right" formatter="formatPrice">Qty</th>
                                <th field="OrderNoFull" width="10%" align="left">Order No</th>
                                <th field="FactN" width="25%" align="left">Factory Name</th>
                                <th field="Buyer" width="8%" align="left">Buyer</th>
                                <th field="WorkingUnit" width="8%" align="left">Store</th>
                                <th field="PINo" width="10%" align="left">P/I No</th>
                                <th field="IsManage" width="8%" align="left">ManageStatus</th>

                            </tr>
                        </thead>
                    </table>
                    <div id="toolbar2">

                        <table border="0" cellpadding="2" cellspacing="2" style="width:100%; font-size:11px; font-weight:bold">

                            <tr>

                                <td style="width:20%;  font-size:12px; text-align:left">
                                    Order  <select id="cboOrderType" style="width:80%" />
                                </td>

                                <td style="width:5%;  font-size:12px; text-align:left">
                                    <a href="javascript:void(0)" id="btnSearchByOrderType" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
                                </td>
                                
                                <td style="width:10%;  font-size:12px; text-align:left">
                                    <input type="text" id="txtRSNo" placeholder="Search by Lot No" style="width:100%;" />
                                </td>
                                <td style="width:10%; font-size:12px; text-align:left">
                                    <input type="text" id="txtProductName" style="text-align:left; width:100%" placeholder="Search by Product Name" />
                                </td>
                                <td style="width:10%; font-size:12px; text-align:left">
                                    <input type="text" id="txtOrderNo" style="text-align:left; width:100%" placeholder="Search by Order No" />
                                </td>
                                <td style="width:10%; font-size:12px; text-align:left">
                                    <input type="text" id="txtFactoryName" style="text-align:left; width:100%" placeholder="Search by Factory Name" />
                                </td>
                               

                            </tr>

                        </table>

                    </div>

                </div>
                <div style="width:100%; height:8%">
                    <fieldset>
                        <legend style="font-weight: bold">Action : </legend>
                        <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%;vertical-align:top">
                            <tr>
                                <td style="width:30%">
                                    Store  <select id="cboWorkingUnit_TRLot" style="width:80%" />
                                </td>
                                <td style="width:20%">
                                    <a id="btnSendToTrReq" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">forward to Store</a>
                                </td>
                                <td style="width:10%;  text-align:right;font-weight:bold;">
                                    @*<a id="btnPrintDelivaryStocks_PDF" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" >Print(PDF)</a>
                                    <a id="btnPrintDelivaryStocks_XL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print(XL)</a>*@
                                </td>
                                <td style="width:10%;  text-align:right;font-weight:bold;"> </td>
                             
                                <td style="width:30%; text-align:right; font-weight:bold;">Balance(LBS):<label id="lblTotalQty">0.00</label></td>
                            </tr>
                        </table>

                    </fieldset>
                </div>

            </div>
            
        </div>

</body>
                      <style>
                          #progressbarParent {
                              opacity: 0.8;
                              background-color: #DCD9D4;
                              position: fixed;
                              width: 100%;
                              height: 100%;
                              top: 0px;
                              left: 0px;
                              z-index: 1000;
                          }
                      </style>



    <script type="text/javascript">

    var _oDUDeliveryStocks=[];
    var _sBaseAddress="";

    var _oDUDeliveryStock=null;
    $(document).ready(function ()
    {
        debugger;
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oDUDeliveryStocks =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oOrderTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.OrderTypes));
         var oWorkingUnit_Received = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.WorkingUnit_Received));
            debugger;
            $("#cboOrderType").icsLoadCombo({
                List: oOrderTypes,
                OptionValue: "OrderType",
                DisplayText: "ShortName"

            });
            $("#cboWorkingUnit_TRLot").icsLoadCombo({List: oWorkingUnit_Received, OptionValue: "WorkingUnitID", DisplayText: "WorkingUnitName", });
            if(oWorkingUnit_Received.length==1)
            {
                $("#cboWorkingUnit_TRLot").val(oWorkingUnit_Received[0].WorkingUnitID);
            }


            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").hide();

            LoadintoGrid(_oDUDeliveryStocks);

            RefreshSummary();
            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").hide();
        });

        function hideShow(miliseconds) {
            $("#progressbarParent").hide();
        }
        $("#txtRSNo").keyup(function (e) {
            $(this).icsSearchByText({
                Event: e,
                SearchProperty: "LotNo",
                GlobalObjectList: _oDUDeliveryStocks,
                TableId: "tblDelStocks"
            });
            RefreshSummary();
        });
        $("#txtOrderNo").keyup(function (e) {
            $(this).icsSearchByText({
                Event: e,
                SearchProperty: "OrderNo",
                GlobalObjectList: _oDUDeliveryStocks,
                TableId: "tblDelStocks"
            });
            RefreshSummary();
        });
        $("#txtProductName").keyup(function (e) {
            $(this).icsSearchByText({
                Event: e,
                SearchProperty: "Product",
                GlobalObjectList: _oDUDeliveryStocks,
                TableId: "tblDelStocks"
            });
            RefreshSummary();
        });
        $("#txtFactoryName").keyup(function (e) {
            $(this).icsSearchByText({
                Event: e,
                SearchProperty: "FactN",
                GlobalObjectList: _oDUDeliveryStocks,
                TableId: "tblDelStocks"
            });
            RefreshSummary();
        });



        function updateProgress() {
            var value =$('#progressbar').progressbar('getValue');
            if (value < 90){
                value += Math.floor(Math.random() * 15);
                $('#progressbar').progressbar('setValue', value);
            }
        }
        $("#btnSearchByOrderType").click(function () {
            debugger;
            // if(!ValidateInput())return;
            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").show();

            var oDUDeliveryStock={OrderType: $("#cboOrderType").val(),WorkingUnitID:0};
            var intervalID = setInterval(updateProgress, 250);
            $.ajax
         ({
             type: "POST",
             dataType: "json",
             url : _sBaseAddress+"/DUDeliveryStock/SearchByOrderType",
             traditional: true,
             data:  JSON.stringify(oDUDeliveryStock),
             contentType: "application/json; charset=utf-8",
             success: function (data) {
                 //debugger;
                 var oDUDeliveryStocks = data;
                 $('#progressbar').progressbar('setValue', 100);
                 clearInterval(intervalID);
                 if (oDUDeliveryStocks.length>0)
                 {
                     LoadintoGrid(oDUDeliveryStocks);
                     RefreshSummary();
                 }
                 else
                 {
                     oDUDeliveryStocks=[];
                     LoadintoGrid(oDUDeliveryStocks);
                     alert("Data Not found");
                     RefreshSummary();
                 }
                 setTimeout(hideShow, 1000);
             },
             error: function (xhr, status, error)
             {
                 setTimeout(hideShow, 1000);
                 alert(error);
             }
         });

        });

        function LoadintoGrid(oDUDeliveryStocks) {
            //$('#tblDelStocks').datagrid({ selectOnCheck: false, checkOnSelect: false });
            data = oDUDeliveryStocks;
            data = { "total": "" + data.length + "", "rows": data };
            $('#tblDelStocks').datagrid('loadData', data);
            setTimeout(hideShow, 1000);
        }


        function cellStyler(value,row,index)
        {
            if (row.IsOparate ==1)
            {
               return 'background-color:#FFFF00;';//font-weight:bold;

            }
            if (row.IsOparate ==2)
            {
               // return 'background-color:#FF0000;';
                return 'font-weight:bold;';//font-weight:bold;
            }

        }


        function RefreshSummary()
        {
            var oDUDeliveryStocks = $('#tblDelStocks').datagrid('getRows');
            var  nTotalBalance = 0;
            for(var i = 0; i<oDUDeliveryStocks.length;i++)
            {
                nTotalBalance+=parseFloat(oDUDeliveryStocks[i].Qty);
            }
            document.getElementById('lblTotalQty').innerHTML = " "+formatPrice(nTotalBalance,0);
        }

        $('#btnPrintDelivaryStocks_PDF').click(function (e)
        {
            var tsv = ((new Date()).getTime()) / 1000;
            window.open(_sBaseAddress+ "/DUDeliveryStock/PrintDeliveryStock?nts="+tsv, "_blank");
        });

        $('#btnPrintDelivaryStocks_XL').click(function (e)
        {
            var tsv = ((new Date()).getTime()) / 1000;
            window.open(_sBaseAddress+ "/DUDeliveryStock/PrintDeliveryStockXL?nts="+tsv, "_blank");
        });

        function IfExists(oDUDeliveryStock)
        {
            var oTransferableLots =$('#tblTransferableLots').datagrid('getRows');
            for(var i=0; i<oTransferableLots.length; i++)
            {
                if(oTransferableLots[i].LotID==oDUDeliveryStock.LotID)
                {
                    return true;
                }
            }
            return false;
        }

        ////////
        $('#btnSendToTrReq').click(function(e){
            debugger;
            var oDUDeliveryStock = $('#tblDelStocks').datagrid('getSelected');
            if(oDUDeliveryStock.LotID<=0)
            {
                alert("Please Select a valid Lot.");
                return;
            }

            var nWorkingUnitID_Recd=$("#cboWorkingUnit_TRLot").val();

            if(nWorkingUnitID_Recd==null || nWorkingUnitID_Recd<=0)
            {
                alert("Invalid Field!!! Invalid Issue Store!");
                return ;
            }
            oDUDeliveryStock.WorkingUnitID=nWorkingUnitID_Recd;
            if (!confirm("Confirm to Receive in Delivery Store?")) return;
           var nSelectedIndex = $('#tblDelStocks').datagrid('getRowIndex',oDUDeliveryStock);


            $.ajax({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+"/DUDeliveryStock/SendToRequsitionToDelivery",
                traditional: true,
                data:  JSON.stringify(oDUDeliveryStock),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var  sReturnMessage = jQuery.parseJSON(data);
                    debugger;
                    if (sReturnMessage == '' || sReturnMessage == null)
                    {
                        debugger;
                        $('#tblDelStocks').datagrid('deleteRow', nSelectedIndex);
                        RefreshSummary();
                    }
                    else
                    {
                        alert(sReturnMessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(xhr+'~' +status+'~'+error);
                }
            });
        });



    </script>


