@model IEnumerable<ESimSol.BusinessObjects.DUDeliverySummary>
    @{
        ViewBag.Title = "View Delivery Report";
    }

    <body>
        <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
            <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
                <label style="font-size:18px;">Please wait</label>
                <div id="progressbar" style="width:100%;height:37px;"></div>
            </div>
        </div>
        <div class="easyui-layout menuMainCollectionTable" style="margin-left: 0px; height:100%; width:100%">
            <div id="divPayableInvoices" region="north" split="true" collapsible="true" title="Daily Delivery(RS Wise)" style="height: 100%; width:100%; overflow:hidden;">
                <div style="width:100%; height:100%">
                    <table id="tblDeliverySummary_RS" style="width:100%; height:70%" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar2" data-options="rowStyler: function(index,row){
                                        if (row.DeliverTo=='Total'){
                                            return 'color:#016B18; font-weight:bold;';
                                        }
                                    }
                    ">
                        <thead>
                            <tr>
                                <th field="ChallanDate" width="9%" align="left">Challan Date</th>
                                <th field="ChallanNo" width="8%" align="left">Challan No</th>
                                <th field="RSNo" width="8%" align="left">Lot/Batch No</th>
                                <th field="RSDate" width="9%" align="left">Batch Date</th>
                                <th field="OrderNo" width="8%" align="left">Order No</th>
                                <th field="Product" width="28%" align="left">Yarn Type</th>
                                <th field="DeliverTo" width="25%" align="left">Delivered To</th>
                               
                                <th field="DeliveredQty" width="8%" align="right" formatter="formatPrice">DeliveredQty</th>
                                <th field="TotalDel" width="8%" align="right" formatter="formatPrice">Total Delivery</th>
                                <th field="RawYarnIssue" width="8%" align="right" formatter="formatPrice">RawYarnIssue</th>
                                @*<th field="InSubFinish" width="8%" align="right" formatter="formatPrice">InSubFinish</th>*@
                                <th field="InFinishing" width="8%" align="right" formatter="formatPrice">InFinishing</th>
                                <th field="FreshDyedYarn" width="8%" align="right" formatter="formatPrice">FreshDyedYarn</th>
                                <th field="Recycle" width="6%" align="right" formatter="formatPrice">Recycle</th>
                                <th field="Wastage" width="6%" align="right" formatter="formatPrice">Wastage</th>
                                <th field="ManagedQty" width="6%" align="right" formatter="formatPrice">ManagedQty</th>
                                <th field="Gain" width="6%" align="right" formatter="formatPrice">Gain</th>
                                <th field="Loss" width="6%" align="right" formatter="formatPrice">Loss</th>
                                @*<th field="InRecycleRec" width="7%" align="right" formatter="formatPrice">InRecycleRec</th>
                                <th field="InWastageRec" width="7%" align="right" formatter="formatPrice">InWastageRec</th>*@
                                <th field="FactN" width="25%" align="left">Factory</th>
                                <th field="Buyer" width="25%" align="left">Buyer</th>





                            </tr>
                        </thead>
                    </table>
                    <div id="toolbar2">

                        <table style="width:100%; font-size:11px; font-weight:bold" border="0" cellpadding="2" cellspacing="2" >

                            <tr>
                                <td style="width:15%;  font-size:12px; text-align:left">
                                    Order  <select id="cboOrderType" style="width:100px;" ;font-size:12px;" />
                                </td>
                                <td style="width:80%;  font-size:12px; text-align:left;vertical-align:top">
                                    Date  <select id="cboDateSearch" style="width:100px" ;font-size:12px;" class="_select_changeA" />
                                    <input id="txtStartDate" type="text" style="width: 110px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    To
                                    <input id="txtEndDate" type="text" style="width: 110px;height:20px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    <a href="javascript:void(0)" id="btnSearchByDate" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
                                    <a id="btnPrintRSWiseDelivarySummery_PDF" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print(PDF)</a>
                                    <a id="btnPrintRSWiseDelivarySummery_XL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print(XL)</a>
                                    <a id="btnPrintChallan" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview(Challan)</a>

                                </td>
                                <td style="width:5%;  font-size:12px; text-align:left"></td>


                            </tr>
                            <tr>

                                <td colspan="3" style="width:100%;  font-size:12px; text-align:left">
                                    <input type="text" id="txtRSNo" placeholder="Search by Lot No" style="width:150px;" />
                                    <input type="text" id="txtOrderNo" style="text-align:left; width:150px" placeholder="Search by Order No" />
                                    <input type="text" id="txtFactoryName" style="text-align:left; width:100px" placeholder="Search by Factory Name" />
                                </td>


                            </tr>

                        </table>

                    </div>

                </div>
                @*<div style="width:100%;">
                    <fieldset>
                        <legend style="font-weight: bold">Action : </legend>
                        <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%;vertical-align:top">
                            <tr>
                                <td style="width:2%;  text-align:right;font-weight:bold;"> </td>
                                <td style="width:20%;  text-align:left;font-weight:bold;">Amount :<label id="lblTotalAmount">0.00</label> </td>
                                <td style="width:3%;  text-align:right;font-weight:bold;"> </td>
                                <td style="width:30%; text-align:left; font-weight:bold;">Balance :<label id="lblTotalBalance">0.00</label></td>
                                <td style="width:25%;  text-align:right;font-weight:bold;"> </td>
                                <td style="width: 20%">
                                   
                                </td>
                            </tr>
                        </table>

                    </fieldset>
                </div>*@

            </div>
            <div id="divReqInvoices" region="center" title="Daily Delivery(Order Wise)" style="width:100%; height:100%; overflow:hidden;">
               
                    <div style="width:100%; height:100%">
                        <table id="tblDeliverySummary_Order" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar" data-options="rowStyler: function(index,row){
                                        if (row.OrderNo=='Total'){
                                            return 'color:#016B18; font-weight:bold;';
                                        }                   }                ">
                            <thead>
                                <tr>
                                    <th field="OrderNo" width="8%" align="left">Order No</th>
                                    <th field="FactN" width="25%" align="left">Factory Name</th>
                                    <th field="DeliveredQty" width="8%" align="right" formatter="formatPrice">DeliveredQty</th>
                                    <th field="TotalDel" width="8%" align="right" formatter="formatPrice">Total Delivery</th>
                                    <th field="RawYarnIssue" width="8%" align="right" formatter="formatPrice">RawYarnIssue</th>
                                    <th field="InSubFinish" width="8%" align="right" formatter="formatPrice">InSubFinish</th>
                                    <th field="InFinishing" width="8%" align="right" formatter="formatPrice">InFinishing</th>
                                    <th field="FreshDyedYarn" width="8%" align="right" formatter="formatPrice">FreshDyedYarn</th>
                                    <th field="ManagedQty" width="6%" align="right" formatter="formatPrice">ManagedQty</th>
                                    <th field="Uneven" width="6%" align="right" formatter="formatPrice">Uneven</th>
                                    <th field="ColorMismatch" width="6%" align="right" formatter="formatPrice">ColorMismatch</th>
                                    <th field="Jott" width="6%" align="right" formatter="formatPrice">Jott</th>
                                    <th field="Wastage" width="6%" align="right" formatter="formatPrice">Wastage</th>
                                    <th field="Gain" width="6%" align="right" formatter="formatPrice">Gain</th>
                                    <th field="Loss" width="6%" align="right" formatter="formatPrice">Loss</th>
                                    <th field="InRecycleRec" width="7%" align="right" formatter="formatPrice">InRecycleRec</th>
                                    <th field="InWastageRec" width="7%" align="right" formatter="formatPrice">InWastageRec</th>
                                </tr>
                            </thead>
                        </table>
                        <div id="toolbar">

                            <table border="0" cellpadding="2" cellspacing="2" style="font-size:11px; font-weight:bold">

                                <tr>
                                    <td style="width:5%;  font-size:12px; text-align:left">
                                        Order  <select id="cboOrderType_Order" style="width:100px;" ;font-size:12px;" />
                                    </td>
                                     <td>
                                        Date  <select id="cboDateSearch_Order" style="width:100px;" ;font-size:12px;" class="_select_change_Order" />
                                        <input id="txtStartDate_Order" type="text" style="width: 110px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                        To
                                        <input id="txtEndDate_Order" type="text" style="width: 110px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                        <a href="javascript:void(0)" id="btnSearchByDate_Order" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
                                         <a id="btnPrintOrderWiseDelivarySummery_PDF" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print(PDF)</a>
                                         <a id="btnPrintOrderWiseDelivarySummery_XL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print(XL)</a>
                                    </td>
                                    <td style="width:10%; font-size:12px; text-align:left">
                                       
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" style="width:45%;  font-size:12px; text-align:left">
                                        <input type="text" id="txtOrderNo_Order" style="text-align:left; width:150px" placeholder="Search by Order No" />
                                        <input type="text" id="txtFactory_Order" style="text-align:left; width:100px" placeholder="Search by Factory Name" />
                                    </td>
                                </tr>

                            </table>

                        </div>
                    </div>
                    @*<div id="divTotalReq" style="width:100%">
                        <fieldset>
                            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%;vertical-align:top">
                                <tr>
                                    <td style="width:2%;  text-align:right;font-weight:bold;"> </td>
                                    <td style="width:20%;  text-align:left;font-weight:bold;">Amount :<label id="lblTotalAmountReq">0.00</label> </td>
                                    <td style="width:3%;  text-align:right;font-weight:bold;"> </td>
                                    <td style="width:30%; text-align:left; font-weight:bold;">Balance :<label id="lblTotalBalanceReq">0.00</label></td>
                                    <td style="width:45%;  text-align:right;font-weight:bold;"> </td>

                                </tr>
                            </table>
                        </fieldset>
                    </div>*@


            </div>
        </div>
</body>
                      <style>
                          #progressbarParent {
                              opacity: 0.8;
                              background-color: #DCD9D4;
                              position: fixed;
                              width: 100%;
                              height: 100%;
                              top: 0px;
                              left: 0px;
                              z-index: 1000;
                          }
                      </style>

    <script type="text/javascript">

        var _oDUDeliverySummarys=[];
        var _sBaseAddress="";
        var _oDUDeliverySummary=null;
       
        $(document).ready(function ()
        {
            debugger;
            _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
           
            _oDUDeliverySummarys =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
           
            LoadintoGrid_RS(_oDUDeliverySummarys);
            //LoadintoGrid(_oDUDeliverySummarys);
            //_oGetBankAccountBalances=_oDUDeliverySummary.GetBankAccountBalances;

        
            //$('#txtGLDate').datebox('setValue', _oDUDeliverySummary.ReqDateSt);
          
            RefreshDateSearch();
            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").hide();
           
        });
        function updateProgress() {   
            var value =$('#progressbar').progressbar('getValue');
            if (value < 90){
                value += Math.floor(Math.random() * 15);
                $('#progressbar').progressbar('setValue', value);
            }
        }
        function hideShow(miliseconds) {
            $("#progressbarParent").hide();
        }

        //tblDeliverySummary_RS
        function RefreshDateSearch()
        {

            $('#txtStartDate').datebox('setValue', icsdateformat(new Date()));
            $('#txtEndDate').datebox('setValue', icsdateformat(new Date()));
            $('#cboDateSearch').empty();
            var listDates = "<option value='"+1+"'>" + "EqualTo" + "</option>";
            listDates+= "<option value='"+5+"'>" + "Between" + "</option>";
            $("#cboDateSearch").html(listDates);
            $('#txtEndDate').datebox({disabled: true});
            /// for Order Wise
            $('#cboDateSearch_Order').empty();
            $("#cboDateSearch_Order").html(listDates);

            $('#txtStartDate_Order').datebox('setValue', icsdateformat(new Date()));
            $('#txtEndDate_Order').datebox('setValue', icsdateformat(new Date()));
            $('#txtEndDate_Order').datebox({disabled: true});

            $('#cboOrderType').empty();
            $('#cboOrderType_Order').empty();
            var listDates = "<option value='"+1+"'>" + "Both" + "</option>";
            listDates+= "<option value='"+2+"'>" + "Sample" + "</option>";
            listDates+= "<option value='"+3+"'>" + "Job" + "</option>";
            $("#cboOrderType").html(listDates);
            $("#cboOrderType").val(1);

            $("#cboOrderType_Order").html(listDates);
            $("#cboOrderType_Order").val(1);

        }
        $('._select_changeA').change(function () {
            var DateTypes = document.getElementById("cboDateSearch");
            var DateType=DateTypes.options[DateTypes.selectedIndex].text;
            if (DateType == "EqualTo") {
                $('#txtStartDate').datebox({disabled: false});
                $('#txtStartDate').datebox('setValue', icsdateformat(new Date()));
                $('#txtEndDate').datebox({disabled: true});
                $('#txtEndDate').datebox('setValue', icsdateformat(new Date()));
            }
            if (DateType == "None" )
            {
                $('#txtStartDate').datebox({disabled: true});
                $('#txtEndDate').datebox({disabled: true});
                $('#txtStartDate').datebox('setValue', icsdateformat(new Date()));
                $('#txtEndDate').datebox('setValue', icsdateformat(new Date()));
            }
            if (DateType == "Between" ||DateType == "NotBetween"  )
            {
                $('#txtStartDate').datebox({disabled: false});
                $('#txtEndDate').datebox({disabled: false});
                $('#txtStartDate').datebox('setValue', icsdateformat(new Date()));
                $('#txtEndDate').datebox('setValue', icsdateformat(new Date()));
            }
        });
        $('._select_change_Order').change(function () {
            var DateTypes = document.getElementById("cboDateSearch_Order");
            var DateType=DateTypes.options[DateTypes.selectedIndex].text;
            if (DateType == "EqualTo") {
                $('#txtStartDate_Order').datebox({disabled: false});
                $('#txtStartDate_Order').datebox('setValue', icsdateformat(new Date()));
                $('#txtEndDate_Order').datebox({disabled: true});
                $('#txtEndDate_Order').datebox('setValue', icsdateformat(new Date()));
            }
            if (DateType == "None" )
            {
                $('#txtStartDate_Order').datebox({disabled: true});
                $('#txtEndDate_Order').datebox({disabled: true});
                $('#txtStartDate_Order').datebox('setValue', icsdateformat(new Date()));
                $('#txtEndDate_Order').datebox('setValue', icsdateformat(new Date()));
            }
            if (DateType == "Between" ||DateType == "NotBetween"  )
            {
                $('#txtStartDate_Order').datebox({disabled: false});
                $('#txtEndDate_Order').datebox({disabled: false});
                $('#txtStartDate_Order').datebox('setValue', icsdateformat(new Date()));
                $('#txtEndDate_Order').datebox('setValue', icsdateformat(new Date()));
            }
        });

        $("#txtRSNo").keyup(function (e) {
            $(this).icsSearchByText({
                Event: e,
                SearchProperty: "RSNo",
                GlobalObjectList: _oDUDeliverySummarys,
                TableId: "tblDeliverySummary_RS"
            });
            ApendTotal_RS();
            RefreshSummary();
        });
        $("#txtOrderNo").keyup(function (e) {
            $(this).icsSearchByText({
                Event: e,
                SearchProperty: "OrderNo",
                GlobalObjectList: _oDUDeliverySummarys,
                TableId: "tblDeliverySummary_RS"
            });
            ApendTotal_RS();
            RefreshSummary();
        });
        //$("#txtProductName").keyup(function (e) {
        //    $(this).icsSearchByText({
        //        Event: e,
        //        SearchProperty: "Product",
        //        GlobalObjectList: _oRPT_DeliveryStocks,
        //        TableId: "tblDelStocks"
        //    });
        //    RefreshSummary();
        //});
        $("#txtFactoryName").keyup(function (e) {
            $(this).icsSearchByText({
                Event: e,
                SearchProperty: "FactN",
                GlobalObjectList: _oDUDeliverySummarys,
                TableId: "tblDeliverySummary_RS"
            });
            ApendTotal_RS();
            RefreshSummary();
        });

        $("#txtOrderNo_Order").keyup(function (e) {
            $(this).icsSearchByText({
                Event: e,
                SearchProperty: "OrderNo",
                GlobalObjectList: oDUDeliverySummarys,
                TableId: "tblDeliverySummary_Order"
            });
            ApendTotal_Order();
            //RefreshSummary();
        });
    
        $("#txtFactory_Order").keyup(function (e) {
            $(this).icsSearchByText({
                Event: e,
                SearchProperty: "FactN",
                GlobalObjectList: oDUDeliverySummarys,
                TableId: "tblDeliverySummary_Order"
            });
            ApendTotal_RS();
            //RefreshSummary();
        });

        function LoadintoGrid_Order(oDUDeliverySummary) {
          
            data = oDUDeliverySummary;
            data = { "total": "" + data.length + "", "rows": data };
            $('#tblDeliverySummary_Order').datagrid('loadData', data);
        }
        function LoadintoGrid_RS(oDUDeliverySummary) {
          //  $('#tblDeliverySummary_RS').datagrid({ selectOnCheck: false, checkOnSelect: false });
            data = oDUDeliverySummary;
            data = { "total": "" + data.length + "", "rows": data };
            $('#tblDeliverySummary_RS').datagrid('loadData', data);
            
        }
        
        function ValidateInput()
        {

            if ( $('#txtStartDate').datebox('getValue')=="") {
                alert("please select start date!");
                $('#txtStartDate').focus();
                return false;
            }

            if ( $('#txtEndDate').datebox('getValue')=="") {alert("Please select end date!!");$('#txtEndDate').focus();return false;}

            var sStartDate=$('#txtStartDate').datebox('getValue');
            var sEndDate = $('#txtEndDate').datebox('getValue');
            var dStartDate = new Date(sStartDate);
            var dEndDate = new Date(sEndDate);
            var selectedCbo =document.getElementById("cboDateSearch");
            var cboDateSearchVal = selectedCbo.options[selectedCbo.selectedIndex].value;
            if(parseInt(cboDateSearchVal) == 5){  //Between
                if(dEndDate < dStartDate) {
                    alert("End date must be grater then start date!!");
                    $('#txtEndDate').focus();
                    return false;
                }
            }

            return true;
        }

        $("#btnSearchByDate").click(function () {

           // if(!ValidateInput())return;
            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").show();
            var Date = document.getElementById("cboDateSearch");
            var nDateType = Date.options[Date.selectedIndex].value;
            var date1=$('#txtStartDate').datebox('getValue');
            var date2= $('#txtEndDate').datebox('getValue');
            if(parseInt(nDateType) == 1)//Equ
            {  
                date2=date1;
            }
            $('#txtStartDate_Order').datebox('setValue',date1);
            $('#txtEndDate_Order').datebox('setValue',date2);
            $('#cboDateSearch_Order').val(nDateType);
            

            var oDUDeliverySummary={StartDate:date1, EndDate: date2,OrderType:  $("#cboOrderType").val(),ReportType:1};
            var intervalID = setInterval(updateProgress, 250);
            $.ajax
         ({
             type: "POST",
             dataType: "json",
             url : _sBaseAddress+"/DUDeliveryStock/SearchByDate",
             traditional: true,
             data:  JSON.stringify(oDUDeliverySummary),
             contentType: "application/json; charset=utf-8",
             success: function (data) {
                 //debugger;
                 var oDUDeliverySummarys =data;
                 $('#progressbar').progressbar('setValue', 100);
                 clearInterval(intervalID);
                 if (oDUDeliverySummarys.length>0)
                 {
                     LoadintoGrid_RS(oDUDeliverySummarys);
                     ApendTotal_RS();
                     //RefreshSummary();
                 }
                 else
                 {
                     oDUDeliverySummarys=[];
                     LoadintoGrid_RS(oDUDeliverySummarys);
                     alert("Data Not found");
                 }
                 setTimeout(hideShow, 1000);
             },
             error: function (xhr, status, error)
             {
                 setTimeout(hideShow, 1000);
                 alert(error);
             }
         });           

        });
       
        function ApendTotal_RS()
        {
            var oRows = $('#tblDeliverySummary_RS').datagrid('getRows');
            if(oRows.length>0)
            {
                var nTotalDeliveredQty = 0;
                var nTotalRawYarnIssue = 0;
                var nTotalInSubFinish = 0;
                var nTotalInFinishing = 0;
                var nTotalFreshDyedYarn = 0;
                var nTotalManagedQty = 0;
                var nTotalUneven = 0;
                var nTotalColorMismatch = 0;
                var nTotalJott = 0;
                var nTotalWastage = 0;
                var nTotalGain = 0;
                var nTotalLoss = 0;
                var nTotalInRecycleRec= 0;
                var nTotalInWastageRec = 0;
                var nTotalDel=0;

                for(var i=0;i<oRows.length;i++)
                {
                    nTotalDeliveredQty = parseFloat(nTotalDeliveredQty)+parseFloat(oRows[i].DeliveredQty);
                    nTotalRawYarnIssue = parseFloat(nTotalRawYarnIssue)+parseFloat(oRows[i].RawYarnIssue );
                    nTotalInSubFinish = parseFloat(nTotalInSubFinish)+parseFloat(oRows[i].InSubFinish);
                    nTotalInFinishing = parseFloat(nTotalInFinishing)+parseFloat(oRows[i].InFinishing);
                    nTotalFreshDyedYarn = parseFloat(nTotalFreshDyedYarn)+parseFloat(oRows[i].FreshDyedYarn);
                    nTotalManagedQty = parseFloat(nTotalManagedQty)+parseFloat(oRows[i].ManagedQty);
                    nTotalUneven = parseFloat(nTotalUneven)+parseFloat(oRows[i].Uneven);
                    nTotalColorMismatch = parseFloat(nTotalColorMismatch)+parseFloat(oRows[i].ColorMismatch);
                    nTotalJott = parseFloat(nTotalJott)+parseFloat(oRows[i].Jott);
                    nTotalWastage = parseFloat(nTotalWastage)+parseFloat(oRows[i].Wastage);
                    nTotalGain = parseFloat(nTotalGain)+parseFloat(oRows[i].Gain);
                    nTotalLoss = parseFloat(nTotalLoss)+parseFloat(oRows[i].Loss);
                    nTotalInRecycleRec = parseFloat(nTotalInRecycleRec)+parseFloat(oRows[i].InRecycleRec);
                    nTotalInWastageRec = parseFloat(nTotalInWastageRec)+parseFloat(oRows[i].InWastageRec);
                    nTotalDel = parseFloat(nTotalDel)+parseFloat(oRows[i].TotalDel);
                }
                debugger
                var oRow =
                {
                    RSNo:'',
                    RSDate : '',
                    OrderNo : '',
                    Product : '',
                    DeliverTo : 'Total',
                    DeliveredQty : nTotalDeliveredQty,
                    TotalDel:nTotalDel,
                    RawYarnIssue : nTotalRawYarnIssue,
                    InSubFinish : nTotalInSubFinish,
                    InFinishing : nTotalInFinishing,
                    FreshDyedYarn : nTotalFreshDyedYarn,
                    ManagedQty : nTotalManagedQty,
                    Uneven : nTotalUneven,
                    ColorMismatch :nTotalColorMismatch,
                    Jott : nTotalJott,
                    Wastage : nTotalWastage,
                    Gain : nTotalGain,
                    Loss : nTotalLoss,
                    InRecycleRec : nTotalInRecycleRec,
                    InWastageRec : nTotalInWastageRec
                }

                $('#tblDeliverySummary_RS').datagrid('appendRow',oRow); 
            } 

        }
        var oDUDeliverySummarys=[]
        $("#btnSearchByDate_Order").click(function () {

            // if(!ValidateInput())return;
            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").show();
            var Date = document.getElementById("cboDateSearch_Order");
            var nDateType = Date.options[Date.selectedIndex].value;
            var date1=$('#txtStartDate_Order').datebox('getValue');
            var date2= $('#txtEndDate_Order').datebox('getValue');
            if(parseInt(nDateType) == 1)//Equ
            {  
                date2=date1;
            }
            //$('#txtStartDate_Order').datebox('setValue',date1);
            //$('#txtEndDate_Order').datebox('setValue',date2);
            //$('#cboDateSearch_Order').val(nDateType);
            

            var oDUDeliverySummary={StartDate:date1, EndDate: date2,OrderType: $("#cboOrderType").val(),ReportType:2};
            var intervalID = setInterval(updateProgress, 250);
            $.ajax
         ({
             type: "POST",
             dataType: "json",
             url : _sBaseAddress+"/DUDeliveryStock/SearchByDate",
             traditional: true,
             data:  JSON.stringify(oDUDeliverySummary),
             contentType: "application/json; charset=utf-8",
             success: function (data) {
                 //debugger;
                 oDUDeliverySummarys = jQuery.parseJSON(data);
                 $('#progressbar').progressbar('setValue', 100);
                 clearInterval(intervalID);
                 if (oDUDeliverySummarys.length>0)
                 {
                     LoadintoGrid_Order(oDUDeliverySummarys);
                     ApendTotal_Order()
                     //RefreshSummary();
                 }
                 else
                 {
                     oDUDeliverySummarys=[];
                     LoadintoGrid_Order(oDUDeliverySummarys);
                     alert("Data Not found");
                 }
                 setTimeout(hideShow, 1000);
             },
             error: function (xhr, status, error)
             {
                 setTimeout(hideShow, 1000);
                 alert(error);
             }
         });           

        });

        
        function ApendTotal_Order()
        {
            var oRows = $('#tblDeliverySummary_Order').datagrid('getRows');
            if(oRows.length>0)
            {
                var nTotalDeliveredQty = 0;
                var nTotalRawYarnIssue = 0;
                var nTotalInSubFinish = 0;
                var nTotalInFinishing = 0;
                var nTotalFreshDyedYarn = 0;
                var nTotalManaged = 0;
                var nTotalUnManaged =0;
                var nTotalUneven = 0;
                var nTotalColorMismatch = 0;
                var nTotalJott = 0;
                var nTotalWastage = 0;
                var nTotalGain = 0;
                var nTotalLoss = 0;
                var nTotalInRecycleRec= 0;
                var nTotalInWastageRec = 0;
                var nTotalDel=0;

                for(var i=0;i<oRows.length;i++)
                {
                    nTotalDeliveredQty = parseFloat(nTotalDeliveredQty)+parseFloat(oRows[i].DeliveredQty);
                    nTotalRawYarnIssue = parseFloat(nTotalRawYarnIssue)+parseFloat(oRows[i].RawYarnIssue );
                    nTotalInSubFinish = parseFloat(nTotalInSubFinish)+parseFloat(oRows[i].InSubFinish);
                    nTotalInFinishing = parseFloat(nTotalInFinishing)+parseFloat(oRows[i].InFinishing);
                    nTotalFreshDyedYarn = parseFloat(nTotalFreshDyedYarn)+parseFloat(oRows[i].FreshDyedYarn);
                    nTotalManaged = parseFloat(nTotalManaged)+parseFloat(oRows[i].Managed);
                    nTotalUnManaged = parseFloat(nTotalUnManaged)+parseFloat(oRows[i].UnManage);
                    nTotalUneven = parseFloat(nTotalUneven)+parseFloat(oRows[i].Uneven);
                    nTotalColorMismatch = parseFloat(nTotalColorMismatch)+parseFloat(oRows[i].ColorMismatch);
                    nTotalJott = parseFloat(nTotalJott)+parseFloat(oRows[i].Jott);
                    nTotalWastage = parseFloat(nTotalWastage)+parseFloat(oRows[i].Wastage);
                    nTotalGain = parseFloat(nTotalGain)+parseFloat(oRows[i].Gain);
                    nTotalLoss = parseFloat(nTotalLoss)+parseFloat(oRows[i].Loss);
                    nTotalInRecycleRec = parseFloat(nTotalInRecycleRec)+parseFloat(oRows[i].InRecycleRec);
                    nTotalInWastageRec = parseFloat(nTotalInWastageRec)+parseFloat(oRows[i].InWastageRec);
                    nTotalDel = parseFloat(nTotalDel)+parseFloat(oRows[i].TotalDel);
                }
                debugger
                var oRow =
                {
                    OrderNo : 'Total',
                    DeliveredQty : nTotalDeliveredQty,
                    RawYarnIssue : nTotalRawYarnIssue,
                    InSubFinish : nTotalInSubFinish,
                    InFinishing : nTotalInFinishing,
                    FreshDyedYarn : nTotalFreshDyedYarn,
                    Managed : nTotalManaged,
                    UnManage : nTotalUnManaged,
                    Uneven : nTotalUneven,
                    ColorMismatch :nTotalColorMismatch,
                    Jott : nTotalJott,
                    Wastage : nTotalWastage,
                    Gain : nTotalGain,
                    Loss : nTotalLoss,
                    InRecycleRec : nTotalInRecycleRec,
                    InWastageRec : nTotalInWastageRec,
                    TotalDel:nTotalDel,
                }

                $('#tblDeliverySummary_Order').datagrid('appendRow',oRow); 
            } 

        }

    
        function cellStyler(value,row,index)
        {
            if (row.IsOparate ==1)
            {
               return 'background-color:#FFFF00;';//font-weight:bold;
              
            }
            if (row.IsOparate ==2)
            {
               // return 'background-color:#FF0000;';
                return 'font-weight:bold;';//font-weight:bold;
            }
           
        }
       
        function RefreshSummary()
        {
            var oPIPayables = $('#tblDeliverySummary_RS').datagrid('getRows');
            var nTotalAmount = 0, nTotalBalance = 0;
            for(var i = 0; i<oPIPayables.length;i++)
            {
                nTotalAmount+=parseFloat(oPIPayables[i].Amount);
                nTotalBalance+=parseFloat(oPIPayables[i].ReqAmount);
            }
            document.getElementById('lblTotalAmount').innerHTML =" "+formatPrice(nTotalAmount,0);
            document.getElementById('lblTotalBalance').innerHTML = " "+formatPrice(nTotalBalance,0);
            
        }

        function RefreshSummaryReq()
        {
            var oPIPayables = $('#tblDeliverySummary_Order').datagrid('getRows');
            var nTotalAmount = 0, nTotalBalance = 0;
            for(var i = 0; i<oPIPayables.length;i++)
            {
                nTotalAmount+=parseFloat(oPIPayables[i].Amount);
                nTotalBalance+=parseFloat(oPIPayables[i].ReqAmount);
            }
            document.getElementById('lblTotalAmountReq').innerHTML =" "+formatPrice(nTotalAmount,0);
            document.getElementById('lblTotalBalanceReq').innerHTML = " "+formatPrice(nTotalBalance,0);
        }
     
        $('#btnPrintRSWiseDelivarySummery_PDF').click(function (e)
        {
            var Date = document.getElementById("cboDateSearch");
            var nDateType = Date.options[Date.selectedIndex].value;
            var date1=$('#txtStartDate').datebox('getValue');
            var date2= $('#txtEndDate').datebox('getValue');
            if(parseInt(nDateType) == 1)//Equ
            {  
                date2=date1;
            }
            $('#txtStartDate_Order').datebox('setValue',date1);
            $('#txtEndDate_Order').datebox('setValue',date2);
            $('#cboDateSearch_Order').val(nDateType);
            var Sparams = date1+"~"+date2+"~"+nDateType+"~"+ $("#cboOrderType").val()+"~"+$( "#cboOrderType option:selected" ).text()+"~"+1;
            //var oDUDeliverySummary={StartDate:date1, EndDate: date2,OrderType:  $("#cboOrderType").val(),ReportType:1};
            window.open(_sBaseAddress+ "/DUDeliveryStock/PrintRSWiseDeliverySummery?Sparams="+Sparams, "_blank");
        });

        $('#btnPrintRSWiseDelivarySummery_XL').click(function (e)
        {
            var Date = document.getElementById("cboDateSearch");
            var nDateType = Date.options[Date.selectedIndex].value;
            var date1=$('#txtStartDate').datebox('getValue');
            var date2= $('#txtEndDate').datebox('getValue');
            if(parseInt(nDateType) == 1)//Equ
            {  
                date2=date1;
            }
            $('#txtStartDate_Order').datebox('setValue',date1);
            $('#txtEndDate_Order').datebox('setValue',date2);
            $('#cboDateSearch_Order').val(nDateType);
            var Sparams = date1+"~"+date2+"~"+nDateType+"~"+ $("#cboOrderType").val()+"~"+$( "#cboOrderType option:selected" ).text()+"~"+1;
            //var oDUDeliverySummary={StartDate:date1, EndDate: date2,OrderType:  $("#cboOrderType").val(),ReportType:1};
            window.open(_sBaseAddress+ "/DUDeliveryStock/PrintRSWiseDeliverySummeryXL?Sparams="+Sparams, "_blank");
        });
        
        $('#btnPrintOrderWiseDelivarySummery_PDF').click(function (e)
        {
            var Date = document.getElementById("cboDateSearch_Order");
            var nDateType = Date.options[Date.selectedIndex].value;
            var date1=$('#txtStartDate_Order').datebox('getValue');
            var date2= $('#txtEndDate_Order').datebox('getValue');
            if(parseInt(nDateType) == 1)
            {  
                date2=date1;
            }
            var Sparams = date1+"~"+date2+"~"+nDateType+"~"+ $("#cboOrderType_Order").val()+"~"+$( "#cboOrderType_Order option:selected" ).text()+"~"+2;
            window.open(_sBaseAddress+ "/DUDeliveryStock/PrintOrderWiseDeliverySummery?Sparams="+Sparams, "_blank");
        });

        $('#btnPrintOrderWiseDelivarySummery_XL').click(function (e)
        {
            var Date = document.getElementById("cboDateSearch_Order");
            var nDateType = Date.options[Date.selectedIndex].value;
            var date1=$('#txtStartDate_Order').datebox('getValue');
            var date2= $('#txtEndDate_Order').datebox('getValue');
            if(parseInt(nDateType) == 1)
            {  
                date2=date1;
            }
            var Sparams = date1+"~"+date2+"~"+nDateType+"~"+ $("#cboOrderType_Order").val()+"~"+$( "#cboOrderType_Order option:selected" ).text()+"~"+2;
            window.open(_sBaseAddress+ "/DUDeliveryStock/PrintOrderWiseDeliverySummeryXL?Sparams="+Sparams, "_blank");
        });

        $('#btnPrintChallan').click(function (e)
        {
            var oDUDeliveryChallan = $('#tblDeliverySummary_RS').datagrid('getSelected');
            if (oDUDeliveryChallan ==null || oDUDeliveryChallan.ChallanID <=0 ) { alert("Please select an item from list."); return ; }
            var tsv=((new Date()).getTime())/1000;
            
            window.open(_sBaseAddress+ "/DUDeliveryChallan/PrintDUDeliveryChallan?nId="+oDUDeliveryChallan.ChallanID+"&nts="+tsv+ "&bPrintFormat="+true + "&nTitleType="+1, "_blank");
        });

    </script>


