@{
    ViewBag.Title = "Lot(s)";
}

@model IEnumerable<ESimSol.BusinessObjects.Lot>
    <body>
        <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
            <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
                <label style="font-size:18px;">Please wait</label>
                <div id="progressbar" style="width:100%;height:37px;"></div>
            </div>
        </div>
        <div id="winChangLotPrice" class="easyui-window" title="Update Lot Price" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div style="font-family:Tahoma">
                <fieldset style="margin-top:3px">
                    <table border="0" style="font-size:12px">
                        <tr>
                            <td style="width:150px; text-align:right">Lot No:</td>
                            <td style="width:200px; text-align:left"><input type="text" style="width:100%;" id="txtLot" disabled/></td>
                            <td style="width:150px; text-align:right">Balance:</td>
                            <td style="width:200px; text-align:left"><input type="text" style="width:100%; text-align:right;" id="txtBalance" disabled /></td>
                        </tr>
                        <tr>
                            <td style="width:150px; text-align:right">Product Code:</td>
                            <td style="width:200px; text-align:left"><input type="text" style="width:100%;" id="txtCode" disabled /></td>
                            <td style="width:150px; text-align:right">Product Name:</td>
                            <td style="width:200px; text-align:left"><input type="text" style="width:100%;" id="txtProductName" disabled /></td>
                        </tr>
                        <tr>
                            <td style="width:150px; text-align:right">Privious Price:</td>
                            <td style="width:200px; text-align:left"><input type="text" style="width:100%; text-align:right;" id="txtUnitPrice" disabled /></td>
                            <td style="width:150px; text-align:right">New Price:</td>
                            <td style="width:200px; text-align:left"><input type="text" style="width:100%; text-align:right;" id="txtNewPrice" /></td>
                        </tr>
                    </table>
                </fieldset>
                <fieldset style="margin-bottom:3px">
                    <legend style="font-weight:bold"> Action : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; width:100%">
                        <tr>
                            <td style="width:80%; text-align:right"></td>
                            <td style="width:20%">
                                <a id="btnUpdateLotPrice" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Update</a>
                                <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
        <div id="divLot"></div>
        <div id="winChangRack" class="easyui-window" title="Update Rack" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div style="font-family:Tahoma">
                <fieldset style="margin-top:3px">
                    <table border="0" style="font-size:12px">
                        <tr>
                            <td style="width:150px; text-align:right">Lot No:</td>
                            <td style="width:200px; text-align:left"><input type="text" style="width:100%;" id="txtLotRack" disabled /></td>
                            <td style="width:150px; text-align:right">Product Name:</td>
                            <td style="width:200px; text-align:left"><input type="text" style="width:100%;" id="txtProductNameRack" disabled /></td>
                        </tr>
                        <tr>
                            <td style="width:150px; text-align:right">Previous Rack:</td>
                            <td style="width:200px; text-align:left"><input type="text" style="width:100%;" id="txtPreviousRack" disabled /></td>
                            <td style="width:150px; text-align:right">New Rack:</td>
                            <td style="width:200px; text-align:left"><input type="text" style="width:100%;" id="txtRack"/></td>
                        </tr>
                    </table>
                </fieldset>
                <fieldset style="margin-bottom:3px">
                    <legend style="font-weight:bold"> Action : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; width:100%">
                        <tr>
                            <td style="width:80%; text-align:right"></td>
                            <td style="width:20%">
                                <a id="btnUpdateRack" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Update</a>
                                <a id="btnCloseRack" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
        <div class="menuMainCollectionTable" >
            <table id="tblLot" title="Lot List" class="easyui-datagrid" fit="true" fitcolumn="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarLot" >
                <thead>
                    <tr>
                        <th field="LotNo" width="15%">Lot No</th>                        
                        <th field="ProductCode" width="10%">Product Code</th>
                        <th field="ProductName" width="20%">Product Name</th>
                        <th field="WorkingUnitName" width="15%">Store</th>
                        <th field="MUName" width="10%">M. Unit</th>
                        <th field="BalanceSt" width="15%" align="right">Balance</th>
                        <th field="ContractorName" width="12%" align="left">Supplier Name</th>
                        <th field="UnitPriceSt" width="12%" align="right">Unit Price</th>
                        <th field="Currency" width="12%" align="left">Currency</th>
                        <th field="FCUnitPriceSt" width="12%" align="right">FC Unit Price</th>
                        <th field="FCSymbol" width="12%" align="left">FC Currency</th>
                        <th field="ColorName" width="12%" align="left">Color Name</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbarLot">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" id="btnReload"></a>
                <input type="text" id="txtLotNo" placeholder="Search by Lot No/Product Name/Code" style="width:240px;text-align:left" />
                <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
                <a id="btnTransection" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">Transaction</a>        
                <a id="btnChangeLotPrice" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Change Price</a>
                <input id="txtTransactionDate" type="text" class="easyui-datebox" style="width: 100px;" data-options="formatter:icsdateformat,parser:icsdateparser" />                   
                <a id="btnUpdateDate" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add"  plain="true">Update</a>     
                <a id="btnChangeRack" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Change Rack</a>
            </div>
        </div>
        <div id="winAdvSearch" class="easyui-window winClass" title="Adv. Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <table style="width:100%;">
                <tr>
                    <td>
                        <fieldset style="margin-bottom: 0px;">
                            <legend>Searching Criteria</legend>
                            <table>
                               
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label> Date </label>
                                    </td>
                                    <td colspan="3">
                                        <select id="cboDate" style="width:30%;" onchange="DateActionsOrderDateAdvSearch();"></select>
                                        <input id="txtFromDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                        <input id="txtToDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Claim No </label>
                                    </td>
                                    <td style=" width:30%;text-align:left;">
                                        <input id="txtClaimNo" type="text" style="width:100%" />
                                    </td>
                                    <td style=" width:20%;text-align:right;">
                                        <label>P/I No </label>
                                    </td>
                                    <td style=" width:30%;text-align:left;">
                                        <input id="txtPINo_adv" type="text" style="width:100%" />
                                    </td>
                                </tr>
                                <tr>
                                    <td height="10px" colspan="4"></td>
                                </tr>
                              
                            </table>
                            
                        </fieldset>
                    </td>
                </tr>
            </table>
           
            <fieldset class="actionfieldsetstyle">
                <legend>Actions : </legend>
                <label class="lblLoadingMessage" style="float: left;">Loading Please Wait...</label>
                <a id="btnResetAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
                <a id="btnSearchAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                <a id="btnCloseAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
            </fieldset>
        </div>
    </body>
<style type="text/css">
    #winAdvSearch {
        width: 450px;
    }
</style>
    
    <script type="text/javascript">    
    var _oLots=[];
    var _sContractorIds="";
    var _sMenuID=0;    
    var _oWorkingUnits=[];
    $(document).ready(function () {        
        _oLots =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sMenuID =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));        
        _oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        debugger;
        if(sessionStorage.getItem("Lots")!=null && sessionStorage.getItem("Lots").length>0)
        {
            _oLots= jQuery.parseJSON(sessionStorage.getItem('Lots'));
            var nIndex= sessionStorage.getItem('SelectedRowIndex');
            DynamicRefreshList(_oLots, 'tblLot');
            if(nIndex>-1)
            {
                $('#tblLot').datagrid('selectRow',nIndex);
            }
        }
        else{
            DynamicRefreshList(_oLots, 'tblLot');
        }
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
        $(".lblLoadingMessage").hide();
        $('#txtNewPrice').numberbox({min:0, precision:3});//number box
        $('#txtNewPrice').numberbox('setValue', 0.00);
        $('#txtTransactionDate').datebox('setValue',icsdateformat(new Date()));
        //LoadComboAdv();
    });

    $(document).keydown(function (e) { if (e.keyCode == 27) { $('#winLotOrder').icsWindow('close'); } });

    $('#tblLot').datagrid({ onSelect: function (rowIndex, rowData) { OperationPerforms(rowIndex, rowData); } });

    function OperationPerforms(rowIndex, rowData)
    {
        if (rowData != null && rowData.LotID > 0)
        {
            debugger;
           
          
        }
    }
    
    $("#btnAdd").click(function(){        
        sessionStorage.setItem("Operation", "New");
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("LotHeader", "Add Lot");
        sessionStorage.setItem("Lots", JSON.stringify($('#tblLot').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = sessionStorage.getItem('BaseAddress')+ "/Lot/ViewLot?id=0&buid="+parseInt(sessionStorage.getItem('BUID'))+"&ts="+tsv;
    });

    $('#btnEdit').click(function (e)
    {

        var oLot = $('#tblLot').datagrid('getSelected');
        if (oLot ==null || oLot.LotID <=0 ) { alert("Please select an item from list."); return ; }
        var nIndex=$('#tblLot').datagrid('getRowIndex',oLot);
        sessionStorage.setItem("Operation", "Edit");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("LotHeader", "Edit Lot");
        sessionStorage.setItem("Lots", JSON.stringify($('#tblLot').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;        
        window.location.href = sessionStorage.getItem('BaseAddress')+ "/Lot/ViewLot?id="+parseInt(oLot.LotID)+"&buid="+parseInt(sessionStorage.getItem('BUID'))+"&ts="+tsv;

    });
 
    $('#btnDelete').click(function(e){
        var oLot = $('#tblLot').datagrid('getSelected');
        if (oLot ==null || oLot.LotID <=0 ) { alert("Please select an item from list."); return ; }
        if (!confirm("Confirm to delete?")) return;        
        var obj =
        {
            BaseAddress: sessionStorage.getItem('BaseAddress'),
            Object: oLot,
            ControllerName: "Lot",
            ActionName: "Delete",
            TableId: "tblLot",
            IsWinClose: false
        };
        $.icsDelete(obj);

    });

    $('#btnView').click(function (e)
    {
        var oLot = $('#tblLot').datagrid('getSelected');
        if (oLot ==null || oLot.LotID <=0 ) { alert("Please select an item from list."); return ; }
        var nIndex=$('#tblLot').datagrid('getRowIndex',oLot);
        sessionStorage.setItem("Operation", "View");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("LotHeader", "View Lot");
        sessionStorage.setItem("Lots", JSON.stringify($('#tblLot').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = sessionStorage.getItem('BaseAddress')+ "/Lot/ViewLot?id="+parseInt(oLot.LotID)+"&buid="+parseInt(sessionStorage.getItem('BUID'))+"&ts="+tsv;
    });
   


    $('#btnUpdateDate').click(function (e)
    {
        debugger;
        var date =  $('#txtTransactionDate').datebox('getValue');
        var oLot = $('#tblLot').datagrid('getSelected');
        if(date == null || date === "")
        {
            alert("Please select a Date."); 
            return ;
        }
        if(oLot ==null || oLot.LotID <=0)
        {
            alert("Please select an item from list."); 
            return ;
        }
        var oITransaction = {LotID:oLot.LotID,TransactionTime:date};        
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/Lot/UpdateTransaction",
            traditional: true,
            data:  JSON.stringify(oITransaction),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oITransaction = jQuery.parseJSON(data);
                if(oITransaction!=null  && oITransaction.ITransactionID>0)
                {
                    alert("Update Succesfully");                    
                }           
                else
                {
                    alert(oITransaction.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    $('#btnTransection').click(function (e)
    {
        var oLot = $('#tblLot').datagrid('getSelected');
        if (oLot ==null || oLot.LotID <=0 ) { alert("Please select an item from list."); return ; }
   
        var tsv=((new Date()).getTime())/1000;
        window.open(sessionStorage.getItem('BaseAddress')+ "/Lot/PrintTransectiorn?id="+parseInt(oLot.LotID)+"&buid="+parseInt(sessionStorage.getItem('BUID'))+"&ts="+tsv,"_blank");
    });
    
    $("#btnReload").click(function() {
        window.location.href = sessionStorage.getItem('BaseAddress')+ '/Lot/ViewLots?'+"buid="+parseInt(sessionStorage.getItem('BUID'))+"&menuid="+_sMenuID; ;
    });

    $('#btnChangeLotPrice').click(function (e)
    {
        var oLot = $('#tblLot').datagrid('getSelected');
        if (oLot ==null || oLot.LotID <=0 ) { alert("Please select an item from list."); return ; }
        var nIndex=$('#tblLot').datagrid('getRowIndex',oLot);
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        $("#winChangLotPrice").icsWindow('open', "Update Lot Price");
        $("#winChangLotPrice input").not("input[type='button']").val("");
        $('#txtLot').val(oLot.LotNo);
        $('#txtBalance').val(oLot.BalanceSt);
        $('#txtCode').val(oLot.ProductCode);
        $('#txtProductName').val(oLot.ProductName);
        $('#txtUnitPrice').val(oLot.UnitPriceSt);
        $('#txtNewPrice').val(oLot.UnitPrice);    
    });
    $('#btnUpdateLotPrice').click(function(e)
    {
        var oTempLot = $('#tblLot').datagrid('getSelected');
        if (oTempLot ==null || oTempLot.LotID <=0 ) { alert("Please select an item from list."); return ; }
        
        var oLot = {LotID:oTempLot.LotID,UnitPrice:parseFloat($('#txtNewPrice').numberbox('getValue'))};
        if (!confirm("Confirm to Change?")) return;      
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/Lot/UpdateLotPrice",
            traditional: true,
            data:  JSON.stringify(oLot),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oLot = jQuery.parseJSON(data);
                if(oLot!=null || (oLot.ErrorMessage=="" || oLot.ErrorMessage==null))
                {
                    alert("Update Succesfully");
                    $('#tblLot').datagrid('updateRow',{index: sessionStorage.getItem("SelectedRowIndex"),row:oLot});
                    $("#winChangLotPrice").icsWindow('close');
                }           
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });
    $('#btnClose').click(function(e){
        $("#winChangLotPrice").icsWindow('close');
    });




    ////Start adv Searching

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }
  
    $("#btnResetAdvSearch").click(function () {
        ResetAdvSearchWindow();
        DateActionsOrderDateAdvSearch();
    });

    $("#btnSearchAdvSearch").click(function () {
        debugger;

        $(".lblLoadingMessage").show();

        var checkDate = CheckFromAndToDateValidation("cboDate", "txtFromDateAdvSearch", "txtToDateAdvSearch");
        if (!checkDate) {
            alert("Start date must be greater than end date.");
            return false;
        }
     
      
        var ncboDate = parseInt($("#cboDate").val());
        var dFromDate = $('#txtFromDateAdvSearch').datebox('getValue');
        var dToDate = $('#txtToDateAdvSearch').datebox('getValue');
        var sClaimNo = $('#txtClaimNo').val();
        var sPINo = $('#txtPINo_adv').val();

        var sParams = _sContractorIds + "~" +
                      ncboDate + "~" +
                      dFromDate + "~" +
                      dToDate + "~" +
                      sClaimNo + "~" +
                      sPINo+"~"+
                      parseInt(sessionStorage.getItem('BUID'));
        var oLot = {
            Note : sParams
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url: sessionStorage.getItem('BaseAddress') + "/Lot/AdvSearch",
            traditional: true,
            data: JSON.stringify(oLot),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oLots = jQuery.parseJSON(data);
                debugger;
                if (oLots != null) {
                    if (oLots.length > 0)
                    {

                        DynamicRefreshList(oLots, "tblLot");
                        $("#winAdvSearch").icsWindow("close");

                    }
                    else
                    {
                        alert("Sorry, No data found.");
                        DynamicRefreshList([], "tblLot");
                    }

                } else {
                    alert("Sorry, No data found.");
                    DynamicRefreshList([], "tblLot");
                }
                $(".lblLoadingMessage").hide();
            }
        });
    });
    $("#txtLotNo").keydown(function (e) {
        debugger;
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){

            var sLotNo = $('#txtLotNo').val();
       
            if(sLotNo=='')
            {
                alert("Please Type Lot No/Product Name & Try Again!"); return;
            }

            var oLot = {
                LotNo : sLotNo,
                BUID : parseInt(sessionStorage.getItem('BUID'))
            };
            GetsOrders(oLot);
        }
        //else if(nkeyCode==8){
        //    $("#txtLotNo").val("");

        //}
    });
    function GetsOrders(oLot)
    {
        $.ajax
          ({
              type: "POST",
              dataType: "json",
              url : sessionStorage.getItem('BaseAddress')+"/Lot/GetLotByNo",
              data:  JSON.stringify(oLot),
              contentType: "application/json; charset=utf-8",
              success: function (data) {
                  //debugger;
                  var oLots = (data);
                  if (oLots.length>0)
                  {
                      DynamicRefreshList(oLots, "tblLot");
                  }
                  else
                  {
                      alert("Data Not found");
                      DynamicRefreshList([], "tblLot");
                  }
              },
              error: function (xhr, status, error)
              {
                  alert(error);
              }
          });
    }
    function LoadComboAdv()
    {
       
        $("#cboDate").icsLoadCombo({
            List: _oCompareOperators,
            OptionValue: "id",
            DisplayText: "Value"
        });
    }
    function CheckFromAndToDateValidation(OperationComboId, FromDateId, ToDateId) {
        $("#" + OperationComboId).parent().parent().parent().find("select").removeClass("errorFieldBorder");
        var nCboVal = $("#" + OperationComboId).val();
        if (parseInt(nCboVal) == 5 || parseInt(nCboVal) == 6) {
            var fromDate = $("#" + FromDateId).datebox("getValue");
            var toDate = $("#" + ToDateId).datebox("getValue");
            if (new Date(fromDate) > new Date(toDate)) {
                $("#" + ToDateId).focus();
                $("#" + OperationComboId).addClass("errorFieldBorder");
                $(".lblLoadingMessage").hide();
                return false;
            } else {
                $("#" + OperationComboId).removeClass("errorFieldBorder");
                return true;
            }
        } else {
            return true;
        }
    }

    function ResetAdvSearchWindow() {
        _sContractorIds = '';
        $("#winAdvSearch input").not("input[type='button']").val("");
        $("#winAdvSearch input").removeClass("fontColorOfPickItem");
        $("#winAdvSearch select").val(0);
        DateActionsOrderDateAdvSearch();
      
        $("#txtFromDateAdvSearch,#txtToDateAdvSearch").datebox({ disabled: true });
        $("#txtFromDateAdvSearch,#txtToDateAdvSearch").datebox("setValue", icsdateformat(new Date()));
    }

    function PickContractors_AdvS() {
        var oContractor = {
            Params: '2,3' + '~' + $.trim($("#txtContractorAdvS").val()+"~"+parseInt(sessionStorage.getItem('BUID')))
        };
        var obj = {
            BaseAddress: sessionStorage.getItem('BaseAddress'),
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);

        DynamicRefreshList([], "tblAccountsPickerAdvSearch");
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 280, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winContractorPicker',
                        winclass: 'clsAccountOf',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblAccountOfs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Contactor List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Contactor Found.");
            }
        });
    }

    function DateActionsOrderDateAdvSearch() {
        DynamicDateActions("cboDate", "txtFromDateAdvSearch", "txtToDateAdvSearch");
    }
   
    $("#btnCloseAdvSearch").click(function () {
        $("#winAdvSearch").icsWindow("close");
    });
    $("#btnAdvSearch").click(function () {
        debugger;
        $("#winAdvSearch").icsWindow("open", "Claim Order Advance Search");
        //DynamicRefreshList([], "tblExportPIAdvSearch");
        DynamicResetAdvSearchWindow("winAdvSearch");
        DynamicDateActions("cboDateOptionAdvSearch", "txtFromDateAdvSearch", "txtToDateAdvSearch");
        ResetAdvSearchWindow();
    });

        /// end Adv Searching
        /******************************Update Rack*****************************/
    $("#btnCloseRack").click(function () {
        $("#winChangRack").icsWindow("close");
    });
    $('#btnChangeRack').click(function (e)
    {
        var oLot = $('#tblLot').datagrid('getSelected');
        if (oLot ==null || oLot.LotID <=0 ) { alert("Please select an item from list."); return ; }
        var nIndex=$('#tblLot').datagrid('getRowIndex',oLot);
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        $("#winChangRack").icsWindow('open', "Change Rack");
        $('#txtLotRack').val(oLot.LotNo);
        $('#txtProductNameRack').val(oLot.ProductName);
        $('#txtPreviousRack').val(oLot.ShelfWithRackNo);
        $('#txtRack').val('');
        $('#divLot').data('Lot', oLot);
        RefreshAutoComplete();
    });
    $("#btnUpdateRack").click(function () {
        debugger;

        var obj = {
            LotID : parseInt($('#divLot').data('Lot').LotID),
            RackID : parseInt($('#divLot').data('RackID'))
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+"/Lot/UpdateRack",
            traditional: true,
            data:  JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oLot = jQuery.parseJSON(data);
                if (oLot.ErrorMessage=="" || oLot.ErrorMessage==null)
                {
                    debugger;
                    alert("Data Update Succesfully!!");
                    $("#winChangRack").icsWindow("close");
                    var oObjLot = $('#tblLot').datagrid('getSelected');
                    var nIndex=$('#tblLot').datagrid('getRowIndex',oObjLot);
                    $('#tblLot').datagrid('updateRow',{index: nIndex, row: oLot});
                }
                else
                {
                    alert(oLot.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    });
    function RefreshAutoComplete()
    {
        debugger;
        $('#txtRack').autocomplete({
            serviceUrl: sessionStorage.getItem('BaseAddress')+'/Shelf/GetsRackByAutocomplete',
            paramName: "ShelfWithRackNo",
            delimiter: ",",
            minChars : 2,
            transformResult: function(response) {
                debugger;
                return {
                    suggestions: $.map($.parseJSON(response), function(item) {
                        return { value: item.ShelfWithRackNo, data: item.RackID };
                    })
                };
            },
            onSelect: function (suggestion) { 
                debugger;
                //document.getElementById("txtRack").value = suggestion.data;
                $('#divLot').data('RackID',suggestion.data);
                txtRack.style.color = "green";
                txtRack.style.fontWeight = "bold";
                //alert($('#divLot').data('RackID'));
            },
            onSearchStart: function (query) {
                debugger;
                //document.getElementById("txtRack").value = 0;
                $('#divLot').data('RackID',0);
                txtRack.style.color = "black";
                txtRack.style.fontWeight = "normal";
            }
        });
    }

</script>
