@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "FN Recipe Lab";
}
@model IEnumerable <ESimSol.BusinessObjects.FNRecipeLab>
    <div class="menu-main-collection-table" ng-app="FNRecipeLabModule">
        <div ng-controller="FNRecipeLabController" class="form-horizontal regionFNRecipeLab" style="height:500px;">
            @*<label class="ics-panel-header">Add Recipe</label>*@
            <label class="ics-panel-header" style="font-size:12px; text-align:left;">LabDip No: {{FNLabDipDetail.LDNo}},  Order No: {{FNLabDipDetail.SCNoFull}},   Fabric Code: {{FNLabDipDetail.Code}}</label>
            <fieldset>
                <div class="row col-md-12">
                    <div class="col-md-1 text-right"><label class="control-label">Buyer:</label></div>
                    <div class="col-md-3 text-left">
                        <input ng-model="FNLabDipDetail.ContractorName" style="width:100%;" disabled="disabled" />
                    </div>
                    <div class="col-md-1 text-right"><label class="control-label">MKT Person:</label></div>
                    <div class="col-md-3 text-left">
                        <input ng-model="FNLabDipDetail.MKTPerson" style="width:100%;" disabled="disabled" />
                    </div>
                    <div class="col-md-1 text-right"><label class="control-label">Constraction:</label></div>
                    <div class="col-md-3 text-left">
                        <input ng-model="FNLabDipDetail.Construction" style="width:100%;" disabled="disabled" />
                    </div>
                </div>

                <div class="row col-md-12">
                    <div class="col-md-1 text-right"><label class="control-label">Composition:</label></div>
                    <div class="col-md-3 text-left">
                        <input ng-model="FNLabDipDetail.ProductName" style="width:100%;" disabled="disabled" />
                    </div>
                    <div class="col-md-1 text-right"><label class="control-label">MKT Ref No:</label></div>
                    <div class="col-md-3 text-left">
                        <input ng-model="FNLabDipDetail.FabricNo" style="width:100%;" disabled="disabled" />
                    </div>
                    <div class="col-md-1 text-right"><label class="control-label">Panton No:</label></div>
                    <div class="col-md-3 text-left">
                        <input ng-model="FNLabDipDetail.PantonNo" style="width:100%;" disabled="disabled" />
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-1 text-right"><label class="control-label">Color:</label></div>
                    <div class="col-md-3 text-left">
                        <input ng-model="FNLabDipDetail.ColorName" style="width:100%;" disabled="disabled" />
                    </div>
                    <div class="col-md-1 text-right"><label class="control-label">Shade:</label></div>
                    <div class="col-md-3 text-left">
                        <select style="width:100%;height:22px;" ng-model="ShadeID" ng-options="obj.id as obj.Value for obj in Shades" ng-change="GetProcessNew($event)" class="form-control"></select>
                    </div>
                    <div class="col-md-1 text-right form-group-sm"><label class="control-label">(Copy From) Shade:</label></div>
                    <div class="col-md-3 form-group-sm">
                        <input ng-model="LDNo" ng-keydown="GetLabDipDetail($event)" style="width:70px" placeholder="Enter LD No" />
                        <select style="width:50px;height:22px;" ng-model="ShadeIDCopy" ng-options="obj.id as obj.Value for obj in Shades" class="form-group-sm"></select>
                        <button type="button" style="width:30px;height:28px" class="btn btn-sm btn-success form-group-sm" ng-click="CopyShadeSave()"> C</button>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="row col-md-12">
                    <div class="col-md-2 text-left" style="width:20%; padding:0; margin:0; margin-left:2%">
                        <input type="text" ng-model="ProcessName" ng-keydown="GetProcess($event)" style="width:100%;" placeholder="Type Process Name" />
                    </div>
                    <div class="col-md-1" style="width:18%;padding:0; margin:0">
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" ng-click="PickProcess($event)">Pick Process</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" style="float:right" iconcls="icon-remove" plain="true" ng-click="DeleteProcess($event)"></a>

                    </div>
                    <div class="col-md-1" style="width:15%;padding:0; margin:0">
                    </div>
                    <div class="col-md-2 text-left" style="width:20%;padding:0; margin:0">
                        <input type="text" ng-model="DyesChemical" ng-keydown="GetDyesChemical($event)" style="width:100%;" placeholder="Type Dyes Chemical Name" />
                    </div>
                    <div class="col-md-2" style="width:20%;padding:0; margin:0">
                        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" ng-click="GetDyes($event)">Pick Dyes Chemical</a>
                        <a href="javascript:void(0)" class="easyui-linkbutton" style="float:right" iconcls="icon-remove" plain="true" ng-click="DeleteDyes($event)"></a>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="row col-md-12" style="height:320px; width:100%; margin: 0 auto">
                    <div style="width:48%; height:100%; float:left">
                        <div ui-grid="gridOptionsProcess" external-scopes="clickHandler" ui-grid-selection ui-grid-resize-columns class="grid-angular" style="width:100%; height:280px;"></div>
                    </div>
                    <div style="width:48%; height:100%; float:right">
                        <div ui-grid="gridOptionsDyes" ui-grid-selection ui-grid-resize-columns ui-grid-edit class="grid-angular" style="width:100%; height:280px;"></div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Action</legend>
                <div class="row col-md-12 text-right">
                    <div class="col-md-8 text-left" style="width:80%">
                        <button type="button" class="btn btn-info" aria-label="Left Align" ng-click="Print()"> <span class="glyphicon glyphicon-print" aria-hidden="true"> Print</span> </button>
                        <button type="button" class="btn btn-info" aria-label="Left Align" ng-click="PrintSubmission()"> <span class="glyphicon glyphicon-print" aria-hidden="true"> Preview(Submission)</span> </button>
                    </div>
                    <div class="col-md-2 text-left" style="width:10%">
                        
                    </div>
                    <div class="col-md-2 text-left" style="width:10%">
                        <button type="button" class="btn btn-danger" aria-label="Left Align" ng-click="Close()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"> Close</span> </button>
                    </div>
                </div>
            </fieldset>
        </div>
        <script type="text/ng-template" id="FNRecipeLab.html">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-title">Add Parameter</h4>
            </div>
            <div class="modal-body form-horizontal regionExportUP ms-custom-control" id="modal-body">
                <div class="row">
                    <div class="row col-md-12">
                        <div class="col-md-5 text-right">
                            <label class="control-label">Padder Pressure :</label>
                        </div>
                        <div class="col-md-7 text-left">
                            <input class="form-control" ng-model="FNRecipeLab.PadderPressure" style="width:100%"/>
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-5 text-right">
                            <label class="control-label">Temperature :</label>
                        </div>
                        <div class="col-md-7 text-left">
                            <input class="form-control" ng-model="FNRecipeLab.Temp" style="width:100%" />
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-5 text-right">
                            <label class="control-label">Speed :</label>
                        </div>
                        <div class="col-md-7 text-left">
                            <input class="form-control" ng-model="FNRecipeLab.Speed" style="width:100%" />
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-5 text-right">
                            <label class="control-label">PH :</label>
                        </div>
                        <div class="col-md-7 text-left">
                            <input class="form-control" ng-model="FNRecipeLab.PH" style="width:100%" />
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-5 text-right">
                            <label class="control-label">Flem :</label>
                        </div>
                        <div class="col-md-7 text-left">
                            <input class="form-control" ng-model="FNRecipeLab.Flem" style="width:100%" />
                        </div>
                    </div>
                    <div class="row col-md-12">
                        <div class="col-md-5 text-right">
                            <label class="control-label">Caustic Strength :</label>
                        </div>
                        <div class="col-md-7 text-left">
                            <input class="form-control" ng-model="FNRecipeLab.CausticStrength" style="width:100%" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-primary btn-sm" aria-label="Left Align" ng-click="SaveProcessParameter()" ng-hide="hide"> <span class="glyphicon glyphicon-save" aria-hidden="true"></span> Save</button>
                <button type="button" class="btn-danger btn-sm" aria-label="Left Align" ng-click="cancel()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
            </div>
        </script>
    </div>
    <style type="text/css">
        .Page-Button {
        }

        .form-control {
            height: 26px;
            padding: 0px 6px;
            font-size: 12px;
        }
        .grid {
            height: 100%;
            width: 95%;
        }

        .custom-pagination {
            margin-top: -15px;
            margin-bottom: -15px;
        }

        .spacing {
            padding-bottom: 5px;
        }

        .col-md-1 {
            width: 13%;
        }

        .col-md-2 {
            width: 16%;
        }

        .col-md-3 {
            width: 20%;
        }

        .col-md-4 {
            width: 40%;
        }

        .col-md-5 {
            width: 40%;
        }

        .col-md-6 {
            width: 48%;
        }

        .col-md-7 {
            width: 53%;
        }

        .col-md-8 {
            width: 60%;
        }

        .col-md-12 {
            width: 99%;
        }
        /*.bg1{
		    background: green;
            font-size:15px;
            font-weight:bold;
	    }
	    .bg1 .panel-title{
            font-size:15px;
            font-weight:bold;
		    color:#fff;
	    }*/
    </style>

    <script type="text/javascript">

    var oFNRecipeLabs =[];
    var _oFNLabDipDetail = [];
    var _oFNTreatmentProcessList = [];
    var _oDyesChemicals = [];
    var _nBUID=0;
    var FNTPID = 0;
    var _oShades = [];
    var nFNLabDipDetailID = 0;

    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    oFNRecipeLabs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    _nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
    _oShades =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Shades));
    _oFNLabDipDetail =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FNLabDipDetail));
    _oFNTreatmentProcessList =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FNTreatmentProcessList));
    var FNLDDID = _oFNLabDipDetail.FNLabDipDetailID;
    debugger;
    var  FNRecipeLabModule = angular.module('FNRecipeLabModule', ['ngAnimate', 'ui.bootstrap', 'ui.grid', 'ui.grid.selection', 'ui.grid.edit','ms.service','ui.grid.resizeColumns']);
    FNRecipeLabModule.controller('FNRecipeLabController', function ($scope, $http, $uibModal, $log, uiGridConstants, msModal, userSession) {
        debugger;
        //oFNRecipeLabs= (userSession.getData('FNRecipeLabs').length>0)? userSession.getData('FNRecipeLabs'):oFNRecipeLabs;




        $scope.FNLabDipDetail = _oFNLabDipDetail;
        $scope.Shades = _oShades;
        $scope.ShadeID = 0;
        $scope.LDNo = _oFNLabDipDetail.LDNo;

        $scope.PickProcess = function (e) {
            debugger;
            if($scope.ShadeID<=0 || $scope.ShadeID == undefined)
            {
                alert("Please Select Any Shade");
                return;
            }
            var ProcessName = $.trim($scope.ProcessName);
            //if (ProcessName == "" || ProcessName == null) {
            //    alert("Type Any Treatment Process Name and Press Enter");
            //    return;
            //}
            $scope.LoadProcess(ProcessName);
        };
        $scope.GetProcess = function (e) {
            if($scope.ShadeID<=0 || $scope.ShadeID == undefined)
            {
                alert("Please Select Any Shade");
                return;
            }
            debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                var ProcessName = $.trim($scope.ProcessName);
                if (ProcessName == "" || ProcessName == null) {
                    alert("Type Any Treatment Process Name and Press Enter");
                    return;
                }
                $scope.LoadProcess(ProcessName);
            } else if (code == 8) //backspace=8
            {
                //$scope.ProcessName = '';
            }
        };
        $scope.LoadProcess = function (ProcessName) {
            debugger;
            var oFNTreatmentProcess = {
                FNProcess: ProcessName,
                ErrorMessage: FNLDDID
            };
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(sessionStorage.getItem('BaseAddress') + '/FNTreatmentProcess/GetsFNTreatmentProcessForFNRecipeLab', $.param(oFNTreatmentProcess), config).then(
                                function (response) {
                                    debugger;
                                    var oColumns = [];
                                    oColumn = { field: 'FNTreatmentSt', name: 'FNTreatment', width: '35%', enableSorting: false }; oColumns.push(oColumn);
                                    var oColumn = { field: 'Code', name: 'Code', width: '20%' }; oColumns.push(oColumn);
                                    oColumn = { field: 'FNProcess', name: 'Process Name', width: '35%', enableSorting: false }; oColumns.push(oColumn);



                                    var results = JSON.parse(response.data);
                                    var modalObj = {
                                        size: 'md',
                                        modalcontroller: 'ModalCc',
                                        appcontroller: 'FNRecipeLabController',
                                        objs: results,
                                        multiSelect: true,
                                        pickertitle: 'Process List',
                                        searchingbyfieldName: 'FNProcess',
                                        columns: oColumns
                                    }
                                    var modalInstance = msModal.Instance(modalObj);
                                    modalInstance.result.then(function (result) {
                                        debugger;
                                        var nCount = result.length;
                                        for(var i = 0; i<nCount; i++)
                                        {
                                            //$scope.gridOptionsProcess.data.push(result[i]);
                                            $scope.SaveProcess(result[i]);
                                        }
                                        $scope.ProcessName = '';
                                    }, function () {
                                        $log.info('Modal dismissed at: ' + new Date());
                                    });
                                },
                                  function (response) { alert(jQuery.parseJSON(response.data).Message); }
                            );
        };
        $scope.GetLabDipDetail = function (e) {
            debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                var LabDipNo = $.trim($scope.LDNo);
                if (LabDipNo == "" || LabDipNo == null) {
                    alert("Type Any Lab Dip No and Press Enter");
                    return;
                }
                $scope.PickLabDipDetail(LabDipNo);
            } else if (code == 8) //backspace=8
            {
                $scope.LDNo = '';
                nFNLabDipDetailID = 0;
            }
        };
        $scope.PickLabDipDetail = function (LabDipNo) {
            debugger;
            var oFNLabDipDetail = {
                LabdipNo: LabDipNo
            };
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(sessionStorage.getItem('BaseAddress') + '/FNLabDipDetail/GetByLDNoOrDispoNo', $.param(oFNLabDipDetail), config).then(
                                function (response) {
                                    debugger;
                                    var oColumns = [];
                                    oColumn = { field: 'LabdipNo', name: 'Labdip No', width: '40%', enableSorting: false }; oColumns.push(oColumn);
                                    oColumn = { field: 'ColorName', name: 'Color Name', width: '40%', enableSorting: false }; oColumns.push(oColumn);

                                    var results = JSON.parse(response.data);
                                    var modalObj = {
                                        size: 'md',
                                        modalcontroller: 'ModalCc',
                                        appcontroller: 'FNRecipeController',
                                        objs: results,
                                        multiSelect: false,
                                        pickertitle: 'LD No List',
                                        searchingbyfieldName: 'LabdipNo',
                                        columns: oColumns
                                    }
                                    var modalInstance = msModal.Instance(modalObj);
                                    modalInstance.result.then(function (result) {
                                        debugger;
                                        $scope.LDNo = result.LabdipNo;
                                        nFNLabDipDetailID = result.FNLabDipDetailID;

                                    }, function () {
                                        $log.info('Modal dismissed at: ' + new Date());
                                    });
                                },
                                  function (response) { alert(jQuery.parseJSON(response.data).Message); }
                            );
        };
        $scope.GetProcessNew = function (e)
        {
            debugger;
            if($scope.ShadeID<=0 || $scope.ShadeID == undefined)
            {
                alert("Please Select Any Shade");
                return;
            }
            var oFNRecipeLab = {
                ShadeID : $scope.ShadeID,
                FNLDDID : $scope.FNLabDipDetail.FNLabDipDetailID
            };
            $http.post(sessionStorage.getItem('BaseAddress')+'/FNRecipeLab/GetsProcessByShade',oFNRecipeLab).then(

                  function (response)
                  {
                      debugger;
                      var results = JSON.parse(response.data)
                      if(results.length>0)
                      {
                          $scope.gridOptionsProcess.data = [];
                          $scope.gridOptionsProcess.data = results;
                          $scope.gridOptionsDyes.data = [];
                      }
                      else
                      {
                          $scope.gridOptionsProcess.data = [];
                          $scope.gridOptionsDyes.data = [];
                      }
                  },
                      function (response) { alert(jQuery.parseJSON(response.data).Message);}
              );
        };
        $scope.SaveProcess = function(oProcess)
        {
            if($scope.ShadeID<=0 || $scope.ShadeID == undefined)
            {
                alert("Please Select Any Shade");
                return;
            }
            var oFNRecipeLab = {
                FNRecipeLabID : 0,
                FNLDDID : FNLDDID,
                FNTPID : oProcess.FNTPID,
                ShadeID : $scope.ShadeID,
                IsProcess : true,
            }
            $http.post(sessionStorage.getItem('BaseAddress')+'/FNRecipeLab/Saveprocess',oFNRecipeLab).then(
                  function (response)
                  {
                      var oFNRecipeLab = JSON.parse(response.data)
                      if (oFNRecipeLab.ErrorMessage=="" || oFNRecipeLab.ErrorMessage==null)
                      {
                          $scope.gridOptionsProcess.data.push(oFNRecipeLab);

                          //var win = $.messager.show({
                          //    title:'Notification',
                          //    msg:'Process Successfully Added',
                          //    timeout:2000,
                          //    showType:'slide'
                          //});
                          //win.window('window').addClass('bg1');
                      }
                      else
                      {
                          alert(oFNRecipeLab.ErrorMessage);
                      }
                  },
                      function (response) { alert(jQuery.parseJSON(response.data).Message);}
              );

        }
        $scope.gridOptionsProcess= {
            multiSelect: false,
            enableFullRowSelection: true,

            columnDefs: [
              { field: 'FNTreatmentSt', name:'FNTreatment', width:'25%' },
              { field: 'Code', name:'Code', width:'12%' },
              { field: 'FNProcess', name:'Process Name', width:'35%' },

              {
                  name:'Action',
                  cellTemplate: '<div><button style="width:100%" ng-click="grid.appScope.AddParameter(row.entity)">Add</button></div>'
              },
              { field: 'IsHaveParameter', name:'', width:'8%' },

            ],
            data: _oFNTreatmentProcessList,
            onRegisterApi : function(gridApi)
            {
                $scope.gridApiProcess = gridApi;
                $scope.gridApiProcess.selection.clearSelectedRows();
                $scope.gridApiProcess.core.refresh();
                $scope.gridApiProcess.selection.on.rowSelectionChanged($scope, function (row) {$scope.RowSelect(row.entity );});
            }
        };
        $scope.RowSelect =  function (entity){
            debugger;
            FNTPID = entity.FNTPID;
            $scope.LoadDyesChemical(entity);
        }
        $scope.LoadDyesChemical=function(entity)
        {
            debugger;
            if(entity.FNTPID<1) return;

            var oFNRecipeLab = {
                FNLDDID : FNLDDID,
                FNTPID : FNTPID,
                ShadeID: $scope.ShadeID
            };
            $http.post(sessionStorage.getItem('BaseAddress')+'/FNRecipeLab/GetsFNRecipeLabByTreatmentProcessAndFNLDDID',oFNRecipeLab).then(

                  function (response)
                  {
                      debugger;
                      var results = JSON.parse(response.data)
                      if(results.length>0)
                      {
                          $scope.gridOptionsDyes.data = [];
                          $scope.gridOptionsDyes.data = results;

                      }
                      else
                      {
                          $scope.gridOptionsDyes.data = [];
                      }
                  },
                      function (response) { alert(jQuery.parseJSON(response.data).Message);}
              );
        }
        $scope.gridOptionsDyes= {
            multiSelect: false,
            enableFullRowSelection: true,
            enableCellEdit:false,
            columnDefs: [
              { field: 'ProductName', name:'Name', width:'40%' },
              { field: 'GL', name:'G/L', width:'20%',cellClass: 'number',cellFilter:'number:3', enableCellEdit:true},
              { field: 'BathSize', name:'BathSize', width:'20%',cellClass: 'number',cellFilter:'number:3', enableCellEdit:true},
            ],
            data: _oDyesChemicals,
            onRegisterApi : function(gridApi)
            {
                $scope.gridApi = gridApi;
                gridApi.edit.on.afterCellEdit($scope,
                     function (rowEntity, colDef, newValue, oldValue)
                     {
                         if(rowEntity.GL>0 && rowEntity.BathSize>0 )
                         {
                             rowEntity.Qty = rowEntity.GL * rowEntity.BathSize/1000;
                         }
                         $scope.SaveDyesList();
                         return rowEntity;
                     });
            }
        };
        $scope.DeleteDyes = function (e) {
            debugger;
            var oFNRecipeLab = $scope.gridApi.selection.getSelectedRows()[0];
            var SelectedRowIndex= $scope.gridOptionsDyes.data.indexOf(oFNRecipeLab);
            if(oFNRecipeLab==null || oFNRecipeLab.FNRecipeLabID<=0)
            {
                alert("Please Select Any Dyes Chemical from list");
                return;
            }
            if (!confirm("Confirm to Delete?")) return false;
            $http.post(sessionStorage.getItem('BaseAddress')+'/FNRecipeLab/DeleteDyes',oFNRecipeLab).then(
                  function (response)
                  {
                      debugger;
                      var oFNRecipeLab = JSON.parse(response.data)
                      if (oFNRecipeLab.ErrorMessage=="Deleted")
                      {
                          alert("Data Deleted");
                          $scope.gridOptionsDyes.data.splice(SelectedRowIndex,1);
                          $scope.gridApi.core.refresh();
                      }
                      else
                      {
                          alert(oFNRecipeLab.ErrorMessage);
                      }

                  },
                      function (response) { alert(jQuery.parseJSON(response.data).Message);}
              );

        };
        $scope.DeleteProcess = function (e) {
            debugger;
            var oFNRecipeLab = $scope.gridApiProcess.selection.getSelectedRows()[0];
            var SelectedRowIndex= $scope.gridOptionsProcess.data.indexOf(oFNRecipeLab);
            if(oFNRecipeLab==null || oFNRecipeLab.FNRecipeLabID<=0)
            {
                alert("Please Select Any Process from list");
                return;
            }
            if (!confirm("Confirm to Delete?")) return false;
            $http.post(sessionStorage.getItem('BaseAddress')+'/FNRecipeLab/DeleteProcess',oFNRecipeLab).then(
                  function (response)
                  {
                      debugger;
                      var oFNRecipeLab = JSON.parse(response.data);
                      if (oFNRecipeLab.ErrorMessage=="Deleted")
                      {
                          alert("Successfully Deleted");
                          $scope.gridOptionsProcess.data.splice(SelectedRowIndex,1);
                          $scope.gridApiProcess.core.refresh();
                      }
                      else
                      {
                          alert(oFNRecipeLab.ErrorMessage);
                      }

                  },
                      function (response) { alert(jQuery.parseJSON(response.data).Message);}
              );

        };
        $scope.GetDyes = function (e) {
            if($scope.ShadeID<=0 || $scope.ShadeID == undefined)
            {
                alert("Please Select Any Shade");
                return;
            }
            debugger;
            var DyesChemical = $.trim($scope.DyesChemical);
            if (DyesChemical == "" || DyesChemical == null) {
                alert("Type Any Dyes Chemical Name and Press Enter");
                return;
            }
            if(FNTPID<1)
            {
                alert("Please Select Any Treatment Process");
                return;
            }
            $scope.PickDyesChemical(DyesChemical);
        };
        $scope.GetDyesChemical = function (e) {
            debugger;
            if($scope.ShadeID<=0 || $scope.ShadeID == undefined)
            {
                alert("Please Select Any Shade");
                return;
            }
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                var DyesChemical = $.trim($scope.DyesChemical);
                if (DyesChemical == "" || DyesChemical == null) {
                    alert("Type Any Dyes Chemical Name and Press Enter");
                    return;
                }
                if(FNTPID<1)
                {
                    alert("Please Select Any Treatment Process");
                    return;
                }
                $scope.PickDyesChemical(DyesChemical);
            } else if (code == 8) //backspace=8
            {
                //$scope.DyesChemical = '';
            }
        };
        $scope.PickDyesChemical = function (DyesChemical) {
            debugger;
            var oProduct = {
                ProductName: DyesChemical,
                BUID:_nBUID
            };
            if($scope.ShadeID<=0 || $scope.ShadeID == undefined)
            {
                alert("Please Select Any Shade");
                return;
            }
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(sessionStorage.getItem('BaseAddress') + '/FNLabDipDetail/GetProducts', $.param(oProduct), config).then(
                                function (response) {
                                    debugger;
                                    var oColumns = [];
                                    oColumn = { field: 'ProductCode', name: 'Code', width: '30%' }; oColumns.push(oColumn);
                                    var oColumn = { field: 'ProductName', name: 'Product Name', width: '60%' }; oColumns.push(oColumn);
                                    var results = response.data;
                                    var modalObj = {
                                        size: 'md',
                                        //url: sessionStorage.getItem('BaseAddress') + '/Home/Modal',
                                        modalcontroller: 'ModalPp',
                                        appcontroller: 'FNRecipeLabController',
                                        objs: results,
                                        multiSelect: true,
                                        pickertitle: 'Process List',
                                        searchingbyfieldName: 'ProductName',
                                        columns: oColumns
                                    }
                                    var modalInstance = msModal.Instance(modalObj);
                                    modalInstance.result.then(function (result) {
                                        debugger;
                                        var nLength = result.length;
                                        for(var i=0; i<nLength; i++)
                                        {
                                            var oFNRecipeLab = {
                                                FNRecipeLabID : 0,
                                                FNLDDID : FNLDDID,
                                                FNTPID : FNTPID,
                                                ShadeID : $scope.ShadeID,
                                                ProductTypeInInt : result.ProductTypeInInt,
                                                ProductID : result[i].ProductID,
                                                ShadeID : $scope.ShadeID,
                                                ProductName : result[i].ProductName,
                                                GL : 0.0,
                                                QtyColor : 0.0,
                                                Qty : 0.0,
                                                BathSize : 0.00,
                                                Note : "",
                                                ErrorMessage : ""
                                            }
                                            $scope.DyesChemical = '';
                                            $scope.Save(oFNRecipeLab);
                                        }
                                        //$scope.gridOptionsDyes.data.push(oFNRecipeLab);

                                    }, function () {
                                        $log.info('Modal dismissed at: ' + new Date());
                                    });
                                },
                                  function (response) { alert(jQuery.parseJSON(response.data).Message); }
                            );
        };
        $scope.Save = function (oFNRecipeLab)
        {
            var data = oFNRecipeLab;
            debugger;
            $http.post(sessionStorage.getItem('BaseAddress')+'/FNRecipeLab/SaveProcess',data).then(
                  function (response)
                  {
                      debugger;
                      var oFNRecipeLab = JSON.parse(response.data)
                      if (oFNRecipeLab.ErrorMessage=="" || oFNRecipeLab.ErrorMessage==null)
                      {
                          //var win = $.messager.show({
                          //    title:'Notification',
                          //    msg:'Saved Successful',
                          //    timeout:2000,
                          //    showType:'slide'
                          //});
                          //win.window('window').addClass('bg1');
                          $scope.gridOptionsDyes.data.push(oFNRecipeLab);
                      }
                      else
                      {
                          alert(oFNRecipeLab.ErrorMessage);
                      }
                  },
                      function (response) { alert(jQuery.parseJSON(response.data).Message);}
              );
        }
        $scope.SaveDyesList = function (e)
        {
            var data=JSON.stringify($scope.gridOptionsDyes.data);
            debugger;
            $http.post(sessionStorage.getItem('BaseAddress')+'/FNRecipeLab/Save',data).then(
                  function (response)
                  {
                      debugger;
                      var oFNRecipeLab = JSON.parse(response.data)
                      if (oFNRecipeLab.ErrorMessage=="" || oFNRecipeLab.ErrorMessage==null)
                      {
                          //var win = $.messager.show({
                          //    title:'Notification',
                          //    msg:'Saved Successful',
                          //    timeout:2000,
                          //    showType:'slide'
                          //});
                          //win.window('window').addClass('bg1');
                          //$scope.gridOptionsDyes.data.push(oFNRecipeLab);
                      }
                      else
                      {
                          alert(oFNRecipeLab.ErrorMessage);
                      }
                  },
                      function (response) { alert(jQuery.parseJSON(response.data).Message);}
              );
        }
        $scope.Close = function(e)
        {
            window.close();
        }
        $scope.Print = function()
        {
            if($scope.ShadeID==0 || $scope.ShadeID==null)
            {
                alert("Please Select Any Shade !!");
                return
            }
            window.open(_sBaseAddress+'/FNRecipeLab/Print?nFNLDDID='+FNLDDID + "&nBUID=" + _nBUID + "&nShadeID="+ $scope.ShadeID);
        }
        $scope.PrintSubmission = function()
        {
            if (_oFNLabDipDetail == null || _oFNLabDipDetail.FNLabDipDetailID <= 0) { alert("Please select an item from list."); return false; }
            var tsv=((new Date()).getTime())/1000;
            window.open(_sBaseAddress+ "/FNLabDipDetail/PrintLabDipSubCard?nId="+ _oFNLabDipDetail.FabricID+"&nDetailID="+_oFNLabDipDetail.FNLabDipDetailID+"&buid="+_nBUID+"&nts="+tsv, "_blank");
        }
        $scope.CopyShadeSave = function()
        {
            if($scope.ShadeID==0 || $scope.ShadeID==null)
            {
                alert("Please Select Any Shade !!");
                return
            }
            if($scope.ShadeIDCopy==0 || $scope.ShadeIDCopy==null)
            {
                alert("Please Select Any Shade From Where To Copy !!");
                return
            }
            if (!confirm("Confirm to Copy?")) return false;
            var data = 
                {
                    ErrorMessage : $scope.FNLabDipDetail.FNLabDipDetailID + '~' + $scope.ShadeID + '~' + $scope.ShadeIDCopy + '~' + nFNLabDipDetailID + '~'
                }
            debugger;
            $http.post(sessionStorage.getItem('BaseAddress')+'/FNRecipeLab/CopyShadeSave',data).then(
                  function (response)
                  {
                      debugger;
                      var oFNRecipeLabs = JSON.parse(response.data);
                      if(oFNRecipeLabs.length == 0)
                      {
                          alert("Nothing To Copy");
                          return;
                      }
                      if (oFNRecipeLabs[0].ErrorMessage=="" || oFNRecipeLabs[0].ErrorMessage==null)
                      {
                          alert("Copied Successful");
                          $scope.gridOptionsProcess.data = oFNRecipeLabs;
                          //$scope.gridApiProcess.grid.modifyRows(oFNRecipeLabs);
                          //$scope.gridApiProcess.core.refresh();
                      }
                      else
                      {
                          alert(oFNRecipeLabs[0].ErrorMessage);
                      }
                  },
                      function (response) { alert(jQuery.parseJSON(response.data).Message);}
              );
        }
        $scope.AddParameter = function (oFNRecipeLab) {
            debugger;
            //var oFNRecipeLab = $scope.gridApiProcess.selection.getSelectedRows()[0];
            if(oFNRecipeLab==null || oFNRecipeLab.FNRecipeLabID<=0)
            {
                alert("Please Select an Process from list");
                return;
            }
            var nIndex = $scope.gridOptionsProcess.data.indexOf(oFNRecipeLab);
            var oData = $scope.gridApiProcess.selection.getSelectedRows()[0];
            var SelectedRowIndex= $scope.gridOptionsProcess.data.indexOf(oData);
            var modalInstance = $uibModal.open({
                ariaLabelledBy: 'modal-title',
                ariaDescribedBy: 'modal-body',
                size: 'md',
                templateUrl: 'FNRecipeLab.html',
                controller: 'FNRecipeLabCtrl',
                controllerAs: 'FNRecipeLabController',
                resolve: {
                    obj: function () {
                        return { value:oFNRecipeLab, Operation: 'Edit'  };

                    }
                }
            });

            modalInstance.result.then(function (result) {
                debugger;
                $scope.gridOptionsProcess.data[nIndex]=result;

            }, function () {
                $log.info('Modal dismissed at: ' + new Date());
            });
        };
    });

    FNRecipeLabModule.controller('FNRecipeLabCtrl', function ($scope, $http, $uibModalInstance, uiGridConstants, msModal, obj) {
        debugger;
        $scope.FNRecipeLab = obj.value;

        $scope.SaveProcessParameter = function ()
        {
            debugger;
            $http.post(_sBaseAddress+'/FNRecipeLab/Saveprocess',JSON.stringify($scope.FNRecipeLab)).then(
                function (response) {
                    var result=jQuery.parseJSON(response.data);
                    if(result.FNRecipeLabID>0)
                    {
                        debugger;
                        msModal.Message({headerTitle : '', bodyText:'Process Successful.', sucessText : 'Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                        $scope.FNRecipeLab=result; $uibModalInstance.close($scope.FNRecipeLab);
                    }
                    else
                    {
                        alert(result.ErrorMessage);
                    }
                },
                function (response) { alert((response.statusText));}
            );
        };


        $scope.cancel= function () {
            $uibModalInstance.close($scope.FNRecipeLab);
        };

    });
    FNRecipeLabModule.filter('formatNumber', function() {
        return function(input, decimalPlaces) {
            if(isNaN(input))
                return 0;
            else {
                return input.toFixed(decimalPlaces);
            }
        };
    });
    </script>



