@model IEnumerable<ESimSol.BusinessObjects.FabricLotAssign>
    @{
        ViewBag.Title = "Lot Report";
    }

    <div ng-app="LotStockApp" class="form-horizontal menuMainCollectionTable" style="height:90%">
        <div ng-controller="LotStockCntrl" style="height:90%">
            <div class="ui-grid-top-panel">
                <div class="container">
                    <div class="form-inline" style="margin-left:5px">
                        @*<label>BU :</label>
                        <div class="input-group">
                            <select id="cboUnit" ng-model="BusinessUnitID" style="width:120px; margin:0 5px 0 0px" ng-options="obj.BusinessUnitID as obj.ShortName for obj in BusinessUnits" ng-disabled="ExportBusinessUnitID > 0" class="form-control">
                                <option value="">--Select One--</option>
                            </select>
                        </div>
                        <label>  Store :</label>
                        <div class="input-group">
                            <input id="txtStore" type="text" class="form-control" ng-keydown="PickStore()" style="width:180px" ng-model="IssueStore" disabled>
                            <span class="input-group-addon"><button class="btn-group-lg btn-primary" ng-click="PickStore()">PICK</button></span>
                        </div>*@
                        <input id="txtLotNo" type="text" class="form-control" placeholder="Type Lot No & Press Enter" ng-disabled="disabled" ng-keydown="SearchKeyDownLot($event)" style="width:180px" ng-model="txtLotNo" disabled>
                        <input id="txtLotNo" type="text" class="form-control" placeholder="Type Order No & Press Enter" ng-disabled="disabled" ng-keydown="SearchKeyDownExe($event)" style="width:180px" ng-model="txtExeNo" disabled>
                        <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="AdvanceSearch()"><span class="glyphicon glyphicon-search" aria-hidden="true"> Advance Search</span></button>
                        <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="printView()"><span class="glyphicon glyphicon-print" aria-hidden="true"> Print </span></button>
                        <button type="button" class="btn btn-primary btn-sm" aria-label="Left Align" ng-click="printExcel()"><span class="glyphicon glyphicon-print" aria-hidden="true"> Export To XL </span></button>
                    </div>
                </div>
                <div class="grid-angular" ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns style="width: 99%; height:535px;"></div>
            </div>
        </div>
    </div>

    <style type="text/css">
        .form-control {
            height: 26px;
            padding: 0px 6px;
            font-size: 12px;
        }

        .grid-angular {
            height: 500px;
            width: 99%;
            font-size: 12px;
            font-weight: normal;
        }

        .btn-sm {
            padding: 3px 10px;
        }

        .ui-grid-top-panel .btn-sm, .input-group-addon {
            padding: 3px 10px;
        }
    </style>

    <script type="text/javascript">
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    var _oLotStockLists =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
    var oBusinessUnits =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));   
    var oCompareOperators =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));

    sessionStorage.setItem('BUID',_nBUID);
    var  LotStockApp = angular.module('LotStockApp', ['ngAnimate','ui.bootstrap','ui.grid','ui.grid.cellNav', 'ui.grid.pinning','ui.grid.selection','ui.grid.resizeColumns','ms.service']);
    LotStockApp.controller('LotStockCntrl', function ($scope,$http,$uibModal,$log,uiGridConstants,msModal,userSession,icsMethod, advanceSearch)
    {
        $scope.BusinessUnits=oBusinessUnits;
        $scope.BusinessUnitID=_nBUID;
        $scope.ExportBusinessUnitID=_nBUID; //ForDisable CBO_BusinessUnit
        $scope.WorkingUnitIds=sessionStorage.getItem("WorkingUnitIds");
        if($scope.WorkingUnitIds!=null && $scope.WorkingUnitIds.length>0)
            $scope.IssueStore=" "+$scope.WorkingUnitIds.length+" Stores Selected ";

        //AssignDate	Order No	Order Date	Buyer Name	Yarn Type	Store	Lot No	Lot Current Balance	Order Qty	Assign Qty	SW Qty	Batch Qty	CounsumQty

        var oDetailColumns = [];
        var oColumn = { name: '#', width:'3%', cellTemplate: '<div style="padding-top:5px;"><span>{{grid.renderContainers.body.visibleRowCache.indexOf(row)+1}}</span></div>',cellClass: 'text-center', enableCellEdit: false, enableSorting:false, enableColumnResizing:false, enableColumnMenu:false,pinnedLeft:true};oDetailColumns.push(oColumn);
        oColumn=  { field:'FabricLotAssignDateSt', name: 'AssignDate', width:'13%',  cellClass: 'text-left',pinnedLeft:true };oDetailColumns.push(oColumn);
        oColumn = { field: 'ExeNo', name: 'OrderNo', width: '10%' ,  cellClass: 'text-left',pinnedLeft:true };oDetailColumns.push(oColumn);
        //oColumn = { field: 'OrderDateSt', name: 'OrderDate', width: '12%' ,  cellClass: 'text-left',pinnedLeft:true };oDetailColumns.push(oColumn);
        oColumn = { field: 'BuyerName', name: 'Buyer Name', width: '17%' ,  cellClass: 'text-left',pinnedLeft:true };oDetailColumns.push(oColumn);
        oColumn = { field: 'ProductName', name: 'ProductName', width: '20%' ,  cellClass: 'text-left' };oDetailColumns.push(oColumn);
        oColumn = { field: 'OperationUnitName', name: 'Store', width: '10%' ,  cellClass: 'text-left' };oDetailColumns.push(oColumn);
        oColumn = { field: 'LotNo', name: 'Lot No', width: '10%' ,  cellClass: 'text-left' };oDetailColumns.push(oColumn);
        oColumn = { field: 'Qty_Order', name:  'OrderQty', width: '10%' ,  cellClass: 'text-right', cellFilter: 'number: 2', aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true, footerCellFilter: 'number:2', footerCellClass: 'text-right'  };oDetailColumns.push(oColumn);
        oColumn = { field: 'WarpWeftTypeSt', name: 'Store', width: '10%' ,  cellClass: 'text-left' };oDetailColumns.push(oColumn);
        oColumn = { field: 'Balance', name:  'Assign Qty', width: '10%' ,  cellClass: 'text-right', cellFilter: 'number: 2', aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true, footerCellFilter: 'number:2', footerCellClass: 'text-right'  };oDetailColumns.push(oColumn);
        oColumn = { field: 'Qty_Req', name:  'Req Qty', width: '10%' ,  cellClass: 'text-right', cellFilter: 'number: 2', aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true, footerCellFilter: 'number:2', footerCellClass: 'text-right'  };oDetailColumns.push(oColumn);
        oColumn = { field: 'Qty_RS', name:  'Batch Qty', width: '10%' ,  cellClass: 'text-right', cellFilter: 'number: 2', aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true, footerCellFilter: 'number:2', footerCellClass: 'text-right'  };oDetailColumns.push(oColumn);
        oColumn = { field: 'Qty', name: 'Balance', width: '10%' ,  cellClass: 'text-right', cellFilter: 'number: 2', aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true, footerCellFilter: 'number:2', footerCellClass: 'text-right'  };oDetailColumns.push(oColumn);
        //oColumn = { field: 'Qty_Consume', name:  'Consume Qty', width: '10%' ,  cellClass: 'text-right', cellFilter: 'number: 2', aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true, footerCellFilter: 'number:2', footerCellClass: 'text-right'  };oDetailColumns.push(oColumn);
        
        var oFabricLotAssigns=userSession.getData('LotStockList');
        $scope.gridOptions ={
            enableRowSelection: true,
            enableRowHeaderSelection: false,
            multiSelect: false,
            enableColumnResizing: true,
            showColumnFooter: true,
            enableHorizontalScrollbar : 2,
            enableVerticalScrollbar : 2,
            columnDefs: oDetailColumns,
            data:oFabricLotAssigns,
            onRegisterApi:function(gridApi) {
                $scope.gridApi = gridApi;
                $scope.gridApi = gridApi;
                $scope.gridApi.selection.clearSelectedRows();
                $scope.gridApi.grid.modifyRows(oFabricLotAssigns);
                $scope.gridApi.selection.selectRow(oFabricLotAssigns[userSession.getRowIndex()]);
                userSession.clear();
                debugger;

                $scope.gridApi.cellNav.on.navigate($scope,function(newRowCol, oldRowCol){
                    $scope.gridApi.selection.selectRow(newRowCol.row.entity);
                })
            }
        };

        var oProductColumns = [];
        var oColumn = { name: '#', width:'3%', cellTemplate: '<div style="padding-top:5px;"><span>{{grid.renderContainers.body.visibleRowCache.indexOf(row)+1}}</span></div>',cellClass: 'text-center', enableCellEdit: false, enableSorting:false, enableColumnResizing:false, enableColumnMenu:false,pinnedLeft:true};oProductColumns.push(oColumn);
        oColumn =  { field:'ProductCode', name: 'Code', width:'10%',  cellClass: 'text-left',pinnedLeft:true };oProductColumns.push(oColumn);
        oColumn = { field: 'CategoryName', name: 'Category', width: '10%' ,  cellClass: 'text-left',pinnedLeft:true };oProductColumns.push(oColumn);
        oColumn = { field: 'ProductName_Base', name: 'Base Product', width: '12%' ,  cellClass: 'text-left',pinnedLeft:true };oProductColumns.push(oColumn);
        oColumn = { field: 'ProductName', name: 'Product', width: '20%' ,  cellClass: 'text-left',pinnedLeft:true };oProductColumns.push(oColumn);
        oColumn = { field: 'Qty_Total', name: 'Total Qty', width: '10%' ,  cellClass: 'text-right', cellFilter: 'number: 2', aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true, footerCellFilter: 'number:2', footerCellClass: 'text-right' };oProductColumns.push(oColumn);
        oColumn = { field: 'Balance', name: 'Balance', width: '10%' ,  cellClass: 'text-right', cellFilter: 'number: 2', aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true, footerCellFilter: 'number:2', footerCellClass: 'text-right'};oProductColumns.push(oColumn);
        oColumn = { field: 'OperationUnitName', name: 'Store', width: '10%' ,  cellClass: 'text-left'};oProductColumns.push(oColumn);
        
        $scope.gridOptionsProduct ={
            enableRowSelection: true,
            enableRowHeaderSelection: false,
            multiSelect: false,
            enableColumnResizing: true,
            showColumnFooter: true,
            enableHorizontalScrollbar : 2,
            enableVerticalScrollbar : 2,
            columnDefs: oProductColumns,
            data:[],
            onRegisterApi:function(gridApi) {
                $scope.gridProductApi = gridApi;
            }
        };
        
        $scope.SearchKeyDownLot = function (e){
            //debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13)
            {
                var sOrderRefNo=$scope.txtLotNo;
                var txtLotNo = $.trim(sOrderRefNo);
                if(txtLotNo=="" || txtLotNo==null)
                {
                    alert("Type Lot No and Press Enter");
                    return;
                }

                //if($scope.WorkingUnitIds==null || $scope.WorkingUnitIds=='')
                //{
                //    alert("Please Pick Store!!");
                //    angular.element('#txtStore').trigger('focus');
                //    return;
                //}
                $scope.oFabricLotAssign= {
                    SearchingCriteria: $scope.WorkingUnitIds,
                    BUID:$scope.BusinessUnitID,
                    LotNo:txtLotNo
                }
                debugger;
                $http.post(_sBaseAddress + '/LotStockReport/AdvSearch',JSON.stringify($scope.oFabricLotAssign)).then(
                      function (response) {
                          debugger;
                          $scope.results = response.data;
                          if ($scope.results.length > 0) {
                             
                              $scope.gridOptions.data=$scope.results;
                          }
                          else 
                          {
                              //alert($scope.results.Item1[0].ErrorMessage);
                              msModal.Message({ headerTitle: '', bodyText: 'No Data Found !!', sucessText: ' Yes', cancelText: ' Close', feedbackType: false, autoClose: false });
                              return;
                          }
                      },
                      function (response) { alert(response.statusText); }
                );
            }
        };
        
        
        $scope.SearchKeyDownExe = function (e){
            //debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13)
            {
                var sOrderRefNo=$scope.txtExeNo;
                var txtExeNo = $.trim(sOrderRefNo);
                if(txtLotNo=="" || txtExeNo==null)
                {
                    alert("Type Lot No and Press Enter");
                    return;
                }
                $scope.oFabricLotAssign= {
                    SearchingCriteria: $scope.WorkingUnitIds,
                    BUID:$scope.BusinessUnitID,
                    ExeNo:txtExeNo
                }
                debugger;
                $http.post(_sBaseAddress + '/LotStockReport/AdvSearch',JSON.stringify($scope.oFabricLotAssign)).then(
                      function (response) {
                          debugger;
                          $scope.results = response.data;
                          if ($scope.results.length > 0) {
                             
                              sessionStorage.setItem('AdvSearchObject',JSON.stringify($scope.oFabricLotAssign));
                              $scope.gridOptions.data=$scope.results;
                          }
                          else 
                          {
                              //alert($scope.results.Item1[0].ErrorMessage);
                              msModal.Message({ headerTitle: '', bodyText: 'No Data Found !!', sucessText: ' Yes', cancelText: ' Close', feedbackType: false, autoClose: false });
                              return;
                          }
                      },
                      function (response) { alert(response.statusText); }
                );
            }
        };
        
        $scope.AdvanceSearch=function()
        { 
            var oColumns = [];
            var oColumn = { field: 'Name', name: 'Applicant Name',width: '70%', enableSorting: false  };oColumns.push(oColumn);
            oColumn = { field: 'Address', name: 'Address',width: '30%', enableSorting: false  };oColumns.push(oColumn);

            var paramObj_Contractor={
                obj:{Params: '2' + '~' +'@@ContractorID'+'~'+sessionStorage.getItem('BUID')},
                objName:'Params',
                objField:'ContractorID',
                url:_sBaseAddress+'/Contractor/ContractorSearchByNameType',
                title:'Contractor List',
                multiSelect:true,
                columns:oColumns
            }

            var oElementList = [{ DisplayName: "Lot No",           BOField: "LotNo",          InputType: 'text' },
                                { DisplayName: "Assign Date",    BOField: "SearchByAssingDate",   InputType: 'date' },
                                { DisplayName: "Order No",           BOField: "ExeNo",          InputType: 'text' },
                                //{ DisplayName: "Order Date",    BOField: "SearchByOrderDate",   InputType: 'date' },
                                { DisplayName: "Buyer ",         BOField: "BuyerName",    InputType: 'picker', PickerObject:paramObj_Contractor }
                                //{ DisplayName: ["Yet To Forward (HO)","Yet To Forward (Buyer)"],  BOField: ["YetToHO","YetToBuyer"],   InputType: 'bool'},
                                //{ DisplayName: "SomeType",    BOField: "SomeType",       InputType: 'select', OptionList:[{id:2,Value:"KisuNai"}]},
            ];
            var modalObj={
                size:'md',
                title:"Advance Search",
                url:_sBaseAddress+'/Home/AdvanceSearch',
                CompareOperators:oCompareOperators,
                HtmlElements:oElementList,
                isAdvanceSearch:true, // if TRUE: 'urlAdvanceSearch' should be define
                urlAdvanceSearch:_sBaseAddress + '/LotStockReport/AdvSearch'
            }

            var modalInstance=advanceSearch.Instance(modalObj);
            modalInstance.result.then(function (result) 
            {
                console.log(result);
                $scope.gridOptions.data=result;
            }, function () 
            {
                $log.info('Modal dismissed at: ' + new Date());
            });
        };

        $scope.PickStore= function ()
        {
            var oFabricLotAssign= { 
                BUID:$scope.BusinessUnitID
            }
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(_sBaseAddress+'/FabricLotAssign/GetsIssueStore_Permission',$.param(oFabricLotAssign), config).then(
                                function (response)
                                { 
                                    debugger;
                                    var oColumns = [];
                                    var oColumn = { field: 'OperationUnitName', name: 'Store',width: '30%'  };oColumns.push(oColumn);
                                    oColumn = { field: 'WorkingUnitNameWithBU', name: 'Unit',width: '70%', enableSorting: false  };oColumns.push(oColumn);
                                    var results=response.data;
                                    var modalObj={
                                        size:'md',
                                        modalcontroller:'ModalCommonListCtrl',
                                        appcontroller:'LotStockCntrl',
                                        objs:results,
                                        multiSelect:true,
                                        pickertitle:'Applicant List',
                                        searchingbyfieldName:'Name',
                                        columns:oColumns
                                    }
                                    var modalInstance=msModal.Instance(modalObj);
                                    modalInstance.result.then(function (result)
                                    {
                                        debugger;
                                        if(result.length>0)
                                        {
                                            $scope.WorkingUnitIds=result[0].WorkingUnitID;
                                            $scope.IssueStore=result[0].OperationUnitName;
                                            for(var i=1;i<result.length;i++)
                                            {
                                                $scope.WorkingUnitIds+=","+result[i].WorkingUnitID;
                                                $scope.IssueStore=" "+(i+1)+" Stores Selected "
                                            }
                                            $scope.RefreshAll();
                                        }
                                    }, function () {
                                        $log.info('Modal dismissed at: ' + new Date());
                                    });
                                },
                                  function (response) { alert(response.statusText);}
                            );
        };
        
        $scope.printView = function(nLayout)
        {
            var oFabricLotAssign= JSON.parse(sessionStorage.getItem('AdvSearchObject'));

            if(oFabricLotAssign==null)
            {
                alert("Please select a search criteria (advance) & try again!");return;
            }
            $http.post(_sBaseAddress + '/LotStockReport/SetSessionSearchCriteria',JSON.stringify(oFabricLotAssign)).then(
                     function (response) 
                     {
                         debugger;
                         window.open(_sBaseAddress + '/LotStockReport/Print_OrderWiseLot?buid='+_nBUID, "_blank");
                     },
                     function (response) { alert(response.statusText); }
             );
        };
        $scope.printExcel = function(nLayout)
        {
            var oFabricLotAssign= JSON.parse(sessionStorage.getItem('AdvSearchObject'));

            if(oFabricLotAssign==null)
            {
                alert("Please select a search criteria (advance) & try again!");return;
            }
            $http.post(_sBaseAddress + '/LotStockReport/SetSessionSearchCriteria',JSON.stringify(oFabricLotAssign)).then(
                     function (response) 
                     {
                         debugger;
                         window.open(_sBaseAddress + '/LotStockReport/Print_OrderWiseLot_Excel?buid='+_nBUID, "_blank");
                     },
                     function (response) { alert(response.statusText); }
             );
        };
        
    });
    </script>
