@{
    ViewBag.Title = "Fabric Machine List";
}
@model IEnumerable<ESimSol.BusinessObjects.FabricMachine>
<div style="margin-left: 0px; height: 100%; width:100%">
    <table id="tblFabricMachines" title="Fabric Machine List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar">
        <thead>
            <tr>
                <th data-options="field:'Selected',checkbox:true"></th>
                <th field="Code" width="10%">Code</th>
                <th field="Name" width="12%">Name</th>
                <th field="WeavingProcessInString" width="12%">Process</th>
                <th field="MachineStatusInString" width="8%">Status</th>
                <th field="Capacity" width="8%" align="right">Capacity</th>
                <th field="ActiveInActiveInString" width="10%">Active/InActive</th>
                <th field="IsBeamSt" width="6%">Is Beam</th>
                <th field="TextileSubUnitName" width="10%" align="left">Textile Sub Unit</th>
                <th field="ChildWithParent" width="14%" align="left">Machine Type</th>
            </tr>
        </thead>
    </table>​
    <div id="toolbar"> 
        <input type="text" id="txtName" placeholder="Type Machine Name and Enter" style="width:200px" />
        <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>  
        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="Add()">New</a>  
        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="Edit()">Edit</a>                
        <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-details" plain="true" onclick="Details()">View</a>
        <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="Delete()">Delete</a>
        <a id="btnBeamLocation" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">Beam Location</a>
        <a id="btnMakeFree" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Make Free</a>
        <a id="btnActiveInActive" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="ActiveInActive()">Active/InActive</a>
        <a id="btnSetMachineTextileSubUnit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Machine Assign</a>
        <a id="btnRestoreLoomMachine" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Restore</a>
        <a id="btnFinishHoldBeam" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Finish Beam</a>
    </div>  

    <div id="winAdvSearch" style="width:400px;" class="easyui-window winstyle ms-custom-control" title="Advance Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <fieldset>
            <div class="row">
                <div class="col-lg-5  text-right">
                    <label class="control-label">Process Type: </label>
                </div>
                <div class="col-lg-7  text-left">
                    <select id="cboProcessType" class="form-control">
                        @*<option value="-1">--Select One--</option>*@
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5  text-right">
                    <label class="control-label">Current Status: </label>
                </div>
                <div class="col-lg-7  text-left">
                    <select id="cboMachineStatus" class="form-control"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5  text-right">
                    <label class="control-label">Status: </label>
                </div>
                <div class="col-lg-7  text-left">
                    <input type="radio" id="rdbtnMachine" name="MachineType" />
                    <span><label class="control-label">Machine</label></span>
                    <input type="radio" id="rdbtnBeam" name="MachineType" />
                    <span><label class="control-label">Beam</label></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5  text-right">
                    <label class="control-label">Activity: </label>
                </div>
                <div class="col-lg-7  text-left">
                    <input type="radio" id="rdbtnActive" name="Activity" />
                    <span><label class="control-label">Active</label></span>
                    <input type="radio" id="rdbtnInActive" name="Activity" />
                    <span><label class="control-label">In-Active</label></span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5  text-right">
                    <label class="control-label">R.P.M: </label>
                </div>
                <div class="col-lg-7  text-left">
                    <div class="col-lg-5  text-left">
                        <input type="number" id="txtRPMFrom" class="form-control" />
                    </div>
                    <div class="col-lg-2 text-center">
                        <span class="control-label">to</span>
                    </div>
                    <div class="col-lg-5  text-left">
                        <input type="number" id="txtRPMTo" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5  text-right">
                    <label class="control-label">Textile Unit: </label>
                </div>
                <div class="col-lg-7  text-left">
                    <select id="cboTSU" class="form-control"></select>
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-5  text-right">
                    <label class="control-label">Child Machine Type: </label>
                </div>
                <div class="col-lg-7  text-left">
                    <select id="cboChildMachineType" class="form-control"></select>
                </div>
            </div>
        </fieldset>
        <fieldset class="row">
            <legend>Actions : </legend>
            <div class="row text-right">
                <button type="button" class="btn btn-sm btn-success" aria-label="Left Align" id="btnPrint"> <span class="glyphicon glyphicon-file" aria-hidden="true"></span> Print</button>
                <button type="button" class="btn btn-sm btn-success" aria-label="Left Align" id="btnSearch"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search</button>
                <button type="button" class="btn btn-sm btn-danger" aria-label="Left Align" id="btnClose"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Close</button>
            </div>
        </fieldset>
    </div>

    <div id="winTextileUnit" style="width:400px;" class="easyui-window winstyle ms-custom-control" title="Machine Assign To Textile Unit" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <fieldset>
            <div class="row">
                <div class="col-lg-4  text-right">
                    <label class="control-label">Textile Unit: </label>
                </div>
                <div class="col-lg-6  text-left">
                    <select id="cboTextileSubUnit" class="form-control"></select>
                </div>
                <div class="col-lg-offset-2">
                </div>
            </div>
        </fieldset>
        <fieldset class="row">
            <legend>Actions : </legend>
            <div class="row text-right">
                <button type="button" class="btn btn-sm btn-success" aria-label="Left Align" id="btnAssignMachineTextileUnit"> <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Assign</button>
                <button type="button" class="btn btn-sm btn-danger" aria-label="Left Align" id="btnCloseTextileUnit"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Close</button>
            </div>
        </fieldset>
    </div>

    <div id="winBeamReference" style="width:500px;" class="easyui-window winstyle ms-custom-control" title="Beam Current Reference" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <fieldset>
            <div class="row"> 
                <div class="col-lg-4  text-right">
                    <label class="control-label">Beam: </label>
                </div>
                <div class="col-lg-6  text-left">
                   <label id="lblBeamNameCode"></label>
                </div>
                <div class="col-lg-offset-2">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4  text-right">
                    <label class="control-label">Current Ref: </label>
                </div>
                <div class="col-lg-6  text-left">
                    <label id="lblBeamRef"></label>
                </div>
                <div class="col-lg-offset-2">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4  text-right">
                    <label class="control-label">Beam Status: </label>
                </div>
                <div class="col-lg-6  text-left">
                    <label id="lblBeamStatus"></label>
                </div>
                <div class="col-lg-offset-2">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4  text-right">
                    <label class="control-label">Execution: </label>
                </div>
                <div class="col-lg-6  text-left">
                    <label id="lblExecution"></label>
                </div>
                <div class="col-lg-offset-2">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4  text-right">
                    <label class="control-label">Construction: </label>
                </div>
                <div class="col-lg-6  text-left">
                    <label id="lblConsturction"></label>
                </div>
                <div class="col-lg-offset-2">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4  text-right">
                    <label class="control-label">Time Period: </label>
                </div>
                <div class="col-lg-6  text-left">
                    <label id="lblTimePeriod"></label>
                </div>
                <div class="col-lg-offset-2">
                </div>
            </div>
           
        </fieldset>
        <fieldset class="row">
            <legend>Actions : </legend>
            <div class="row text-right">
                <button type="button" class="btn btn-sm btn-danger" aria-label="Left Align" id="btnCloseBeamRef"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Close</button>
            </div>
        </fieldset>
    </div>

    <div id="winLoomMachineReference" style="width:500px;" class="easyui-window winstyle ms-custom-control" title="Loom Current Reference" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <fieldset>
            <div class="row">
                <div class="col-lg-4  text-right">
                    <label class="control-label">Loom: </label>
                </div>
                <div class="col-lg-6  text-left">
                    <label id="lblLoomNameCode"></label>
                </div>
                <div class="col-lg-offset-2">
                </div>
            </div>
        
           <div class="row">
                <div class="col-lg-4  text-right">
                    <label class="control-label">Loom Status: </label>
                </div>
                <div class="col-lg-6  text-left">
                    <label id="lblLoomStatus"></label>
                </div>
                <div class="col-lg-offset-2">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4  text-right">
                    <label class="control-label">Execution: </label>
                </div>
                <div class="col-lg-6  text-left">
                    <label id="lblLoomExecution"></label>
                </div>
                <div class="col-lg-offset-2">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4  text-right">
                    <label class="control-label">Construction: </label>
                </div>
                <div class="col-lg-6  text-left">
                    <label id="lblLoomConsturction"></label>
                </div>
                <div class="col-lg-offset-2">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4  text-right">
                    <label class="control-label">Beam: </label>
                </div>
                <div class="col-lg-6  text-left">
                    <label id="lblLoomBeam"></label>
                </div>
                <div class="col-lg-offset-2">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4  text-right">
                    <label class="control-label">Beam Status: </label>
                </div>
                <div class="col-lg-6  text-left">
                    <label id="lblLoomBeamStatus"></label>
                </div>
                <div class="col-lg-offset-2">
                </div>
            </div>

        </fieldset>
        <fieldset class="row">
            <legend>Actions : </legend>
            <div class="row text-right">
                <button type="button" class="btn btn-sm btn-primary" aria-label="Left Align" id="btnRestoreLoomwindow"> <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Restore</button>
                <button type="button" class="btn btn-sm btn-danger" aria-label="Left Align" id="btnCloseLoomWindow"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Close</button>
            </div>
        </fieldset>
    </div>
</div>

<style type="text/css">
    #winAdvSearch  .col-lg-2,.col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6 {
        padding-left: 0;
        padding-right: 5px;
    }
    #winTextileUnit .col-lg-3, .col-lg-4, .col-lg-6 {
    padding-left: 0;
    padding-right: 5px;
}
</style>
<script type="text/javascript">
    var _oFabricMachines=[];
    var _sBaseAddress="";
    var oPermisson =null;
    $(document).ready(function () {
        debugger;
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oFabricMachines =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oWeavingProcess =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.WeavingProcess));

        var oMachineStatus =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.MachineStatus));
        oPermisson =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.Permisson));
        var oTextileSubUnits =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.TextileSubUnits));
        var oFabricMachineTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FabricMachineTypes));
        //ButtonAuthorizationPermission();
        if(oPermisson.MakeFree)
            $('#btnMakeFree').show();
        else
            $('#btnMakeFree').hide();


        $('#btnBeamLocation').show();

        $('#tblFabricMachines').datagrid({ selectOnCheck: false, checkOnSelect: false });
        var oProcess = [];
        var oP = {Value: "-1",Text: "--Select One--"}
        oProcess.push(oP);
        for(var i=0;i<oWeavingProcess.length;i++){
            oProcess.push(oWeavingProcess[i]);
        }
        $("#cboProcessType").icsLoadCombo({List: oProcess,OptionValue: "Value",DisplayText: "Text", InitialValue:"Fixed"});
        $("#cboMachineStatus").icsLoadCombo({List: oMachineStatus,OptionValue: "Value",DisplayText: "Text"});
        $("#cboTextileSubUnit,#cboTSU").icsLoadCombo({List: oTextileSubUnits,OptionValue: "TSUID",DisplayText: "Name"});

        //var ParentMachineTypes = [];
        //for(var i=0;i<oFabricMachineTypes.length;i++){
        //    if(oFabricMachineTypes[i].ParentID == 1)
        //        ParentMachineTypes.push(oFabricMachineTypes[i]);
        //}
        //var ChilMachineTypes = [];
        //for(var i=0;i<oFabricMachineTypes.length;i++){
        //    if(oFabricMachineTypes[i].ParentID != 1)
        //        ChilMachineTypes.push(oFabricMachineTypes[i]);
        //}
        //$("#cboChildMachineType").icsLoadCombo({ List: ChilMachineTypes, OptionValue: "FabricMachineTypeID", DisplayText: "Name" });
        $("#cboChildMachineType").icsLoadCombo({ List: oFabricMachineTypes, OptionValue: "FabricMachineTypeID", DisplayText: "ChildWithParent" });

        var oFabricMachines =sessionStorage.getItem("FabricMachines");
        if(oFabricMachines!=null)
        {
            _oFabricMachines =jQuery.parseJSON(oFabricMachines)
        }
        RefreshList(_oFabricMachines);
        $("#btnRestoreLoomMachine").hide();


    });
    function ButtonAuthorizationPermission(){
        debugger;
        if(!oPermisson.Add)
            $('#btnAdd').hide();
        if(!oPermisson.Edit)
            $('#btnEdit').hide();
    }
    $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });

    //$('#tblFabricMachines').datagrid({ onSelect: function (rowIndex, rowData) { OperationPerforms(rowIndex, rowData); } });
    //function OperationPerforms(rowIndex, rowData) {
    //    if (rowData != null && rowData.FMID > 0 && rowData.IsBeam)
    //        $('#btnBeamLocation').show();
    //    else
    //        $('#btnBeamLocation').hide();
    //}

    $('#btnBeamLocation').click(function(e){

        var oFM = $('#tblFabricMachines').datagrid('getSelected');

        if(oFM.IsBeam){
            var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: {BeamID: oFM.FMID},
                ControllerName: "FabricBatchProduction",
                ActionName: "GetLastBeamRef",
                IsWinClose: false
            };

            $.icsDataGet(obj, function (response) {

                if (response.status && response.obj != null && response.obj.FBPBeamID>0) {
                    $('#winBeamReference').icsWindow("open");
                    $('#lblBeamNameCode').text(response.obj.BeamName+"["+response.obj.BeamCode+"]");
                    $('#lblBeamRef').text(response.obj.WeavingProcessTypeStr +((response.obj.IsFinish)?"(Finish)":""));
                    $('#lblBeamStatus').text(response.obj.MachineStatusSt +" ( Batch No: "+response.obj.BatchNo +" )");
                    $('#lblExecution').text(response.obj.OrderNo);
                    $('#lblConsturction').text(response.obj.Construction);
                    $('#lblTimePeriod').text(response.obj.StartTimeStr +" - "+response.obj.EndTimeStr);
                }
                else{
                    alert("No Reference Found By This Beam");
                }
            });
        }
        else{
            alert("Select beam");
        }


    });


    $('#btnCloseBeamRef').click(function(){
        $('#winBeamReference').icsWindow('close');
    });



    /*-------------------Search ------------------*/


    $("#txtName").keyup(function (e) {
        var oFabricMachines =[];
        var keyCode = e.keyCode || e.which;
        $('#txtName').removeClass("errorFieldBorder");
        if (keyCode == 8) { oFabricMachines = _oFabricMachines; }
        else{ oFabricMachines = $('#tblFabricMachines').datagrid('getRows'); }
        if (e.keyCode == 13) // Enter Press
        {
            if (!$.trim($("#txtName").val()).length) {
                alert("Machine Name Or Code Required.");
                $('#txtName').focus();
                $('#txtName').val("");
                return;
            }
            else { $('#txtName').removeClass("errorFieldBorder"); }

            var sParams = true+"~"+ $('#txtName').val();
            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url : _sBaseAddress+  "/FabricMachine/MachineSearch",
                data: {Params: sParams},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    _oFabricMachines = jQuery.parseJSON(data);
                    if (_oFabricMachines.length>0)
                    {
                        RefreshList(_oFabricMachines);
                    }
                    else
                    {
                        var oEmptyList = [];
                        RefreshList(oEmptyList);
                        alert("Data Not Found");
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }
        else {
            var sTempName="";
            var oSearchedData = [];
            for(i=0;i<oFabricMachines.length;++i)
            {
                sTempName=oFabricMachines[i]['Code'];
                if(sTempName.toUpperCase().indexOf($('#txtName').val().toUpperCase())>-1)
                {
                    oSearchedData.push(oFabricMachines[i]);
                }
            }
            $('#tblFabricMachines').empty();
            if (oSearchedData.length == 0) { DynamicRefreshList(_oFabricMachines, "tblFabricMachines");}
            else { DynamicRefreshList(oSearchedData, "tblFabricMachines"); }

        }
    });

    $('#btnAdvSearch').click(function(e){
        $('#winAdvSearch').icsWindow('open');

        $('#winAdvSearch input').val("");
        $('#winAdvSearch select').val(0);
        $('#cboProcessType').val(-1);
        $('#rdbtnMachine,#rdbtnActive').prop('checked',true);

    });

    $('#btnSearch').click(function(e){
        var nRPMFrom = (isNaN($('#txtRPMFrom').val()) || $('#txtRPMFrom').val()=='')? 0 : parseFloat($('#txtRPMFrom').val());
        var nRPMTo = (isNaN($('#txtRPMTo').val()) || $('#txtRPMTo').val()=='')? 0 : parseFloat($('#txtRPMTo').val());

        var oFM={
            Params:$('#cboProcessType').val()+'~'+$('#cboMachineStatus').val()+'~'+ $('#rdbtnBeam').is(':checked')+'~'+  $('#rdbtnActive').is(':checked')+'~'+ nRPMFrom +'~'+ nRPMTo +'~'+$('#cboTSU').val(),
            ChildMachineTypeID: $('#cboChildMachineType').val()
        }

        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oFM,
            ControllerName: "FabricMachine",
            ActionName: "SearchMachine",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs != null) {
                if (response.objs.length > 0) {
                    if(response.objs.first().FMID>0){
                        _oFabricMachines = response.objs;
                        DynamicRefreshList(response.objs, "tblFabricMachines");
                        $('#winAdvSearch').icsWindow('close');
                    }
                    else{DynamicRefreshList([], "tblFabricMachines"); alert(response.objs[0].ErrorMessage);}
                }
                else { DynamicRefreshList([], "tblFabricMachines"); alert("No Data Found"); }
            }
        });


    });

    $('#btnClose').click(function(){
        $('#winAdvSearch').icsWindow('close');
    });

    $('#btnPrint').click(function(e){
        if(parseInt($('#cboProcessType').val()) == -1){
            alert("Please select Process Type!!");
            $('#cboProcessType').focus();
            return;
        }
        var nRPMFrom = (isNaN($('#txtRPMFrom').val()) || $('#txtRPMFrom').val()=='') ? 0 : parseFloat($('#txtRPMFrom').val());
        var nRPMTo = (isNaN($('#txtRPMTo').val()) || $('#txtRPMTo').val()=='') ? 0 : parseFloat($('#txtRPMTo').val());

        var oFM={
            Params:$('#cboProcessType').val()+'~'+$('#cboMachineStatus').val()+'~'+ $('#rdbtnBeam').is(':checked')+'~'+  $('#rdbtnActive').is(':checked')+'~'+ nRPMFrom +'~'+ nRPMTo +'~'+$('#cboTSU').val(),
            ChildMachineTypeID: $('#cboChildMachineType').val()
        }

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/FabricMachine/SetFabricMachineData",//SearchMachine
            traditional: true,
            data:  JSON.stringify(oFM),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful")
                {
                    window.open (_sBaseAddress+ "/FabricMachine/PrintList");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    /*-------------------Add/ Edit/ Delete/ Activity/ Free ------------------*/


    function Add()
    {

        var tsv=((new Date()).getTime())/1000;
        var oFabricMachines= $('#tblFabricMachines').datagrid('getRows');
        sessionStorage.setItem("FabricMachines", JSON.stringify(oFabricMachines));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("FabricMachineHeader", "Add Fabric Machine");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href =_sBaseAddress+ "/FabricMachine/ViewFabricMachine?id=0&ts="+tsv;
    }

    function Edit()
    {
        //
        var oFabricMachine = $('#tblFabricMachines').datagrid('getSelected');
        if(oFabricMachine==null || parseInt(oFabricMachine.FMID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblFabricMachines').datagrid('getRowIndex',oFabricMachine);
        var oFabricMachines= $('#tblFabricMachines').datagrid('getRows');
        sessionStorage.setItem("FabricMachines", JSON.stringify(oFabricMachines));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("FabricMachineHeader", "Edit Fabric Machine");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href =_sBaseAddress+  "/FabricMachine/ViewFabricMachine?id="+oFabricMachine.FMID+"&ts="+tsv;


    }

    function Details()
    {
        //
        var oFabricMachine = $('#tblFabricMachines').datagrid('getSelected');
        if(oFabricMachine==null || oFabricMachine.FMID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblFabricMachines').datagrid('getRowIndex',oFabricMachine);
        var oFabricMachines= $('#tblFabricMachines').datagrid('getRows');
        sessionStorage.setItem("FabricMachines", JSON.stringify(oFabricMachines));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("FabricMachineHeader", "View Fabric Machine");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href =_sBaseAddress+  "/FabricMachine/ViewFabricMachine?id="+oFabricMachine.FMID+"&ts="+tsv;
    }

    function Delete()
    {
        //
        var oFabricMachine= $('#tblFabricMachines').datagrid('getSelected');
        if(oFabricMachine==null || oFabricMachine.FMID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblFabricMachines').datagrid('getRowIndex',oFabricMachine);

        if (parseInt(oFabricMachine.FMID) > 0)
        {
            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url : _sBaseAddress+  "/FabricMachine/Delete",
                data: { id: oFabricMachine.FMID},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Deleted")
                    {
                        alert("Delete sucessfully");
                        $('#tblFabricMachines').datagrid('deleteRow',SelectedRowIndex);
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }
    }

    function ActiveInActive()
    {
        var oFabricMachine= $('#tblFabricMachines').datagrid('getSelected');
        if(oFabricMachine==null || oFabricMachine.FMID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }

        //if(oFabricMachine.MachineStatus != 3)
        //{
        //    alert("Only Free Machine Can be active or deactive.");
        //    return false;
        //}

        if(oFabricMachine.IsActive)
        {
            if (!confirm("Confirm to In Active?")) return ;
        }else{
            if (!confirm("Confirm to Active?")) return ;
        }

        var SelectedRowIndex=$('#tblFabricMachines').datagrid('getRowIndex',oFabricMachine);

        if (parseInt(oFabricMachine.FMID) > 0)
        {
            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url : _sBaseAddress+  "/FabricMachine/ActiveInActive",
                data: { id: oFabricMachine.FMID,IsActive:oFabricMachine.IsActive},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //
                    oFabricMachine = jQuery.parseJSON(data);
                    if (oFabricMachine.ErrorMessage == "" || oFabricMachine.ErrorMessage == null)
                    {
                        if(oFabricMachine.IsActive)
                        {
                            alert("Sucessfully Active");
                        }else{
                            alert("Sucessfully In Active");
                        }
                        $('#tblFabricMachines').datagrid('updateRow',{index: SelectedRowIndex,row:oFabricMachine });
                    }
                    else
                    {
                        alert(oFabricMachine.ErrorMessage );
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }
    }

    function RefreshList(oFabricMachines)
    {
        var data=oFabricMachines;
        data={"total":""+data.length+"","rows":data};
        $('#tblFabricMachines').datagrid('loadData',data);
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        $('#tblFabricMachines').datagrid('selectRow',nIndex);
    }

    $('#btnMakeFree').click(function(e){

        var oFabricMachine= $('#tblFabricMachines').datagrid('getSelected');
        if(oFabricMachine==null || oFabricMachine.FMID<=0)
        {
            alert("Select valid machine");
            return false;
        }

        if(!confirm("Are you sure to make it free?"))
            return false;


        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oFabricMachine,
            ObjectId: oFabricMachine.FMID,
            ControllerName: "FabricMachine",
            ActionName: "MakeFree",
            TableId: "tblFabricMachines",
            IsWinClose: false,
            Message: "Machine free successsfully."
        };
        $.icsSave(obj);
    });



    /*-------------------Textile Sub Unit ------------------*/


    $('#btnSetMachineTextileSubUnit').click(function(e){

        var oFabricMachines= $('#tblFabricMachines').datagrid('getChecked');
        if(oFabricMachines==null || !oFabricMachines.any())
        {
            alert("Machine Selection Required.");
            return false;
        }

        $('#winLotReceive select').val(0);
        $('#winTextileUnit').icsWindow('open');
    });

    $('#btnCloseTextileUnit').click(function(){
        $('#winTextileUnit').icsWindow('close');
    });

    $('#btnAssignMachineTextileUnit').click(function(e){
        if($('#cboTextileSubUnit').val()<=0){
            alert("Select Textile Sub Unit.");
            $('#cboTextileSubUnit').focus();
            return false;
        }

        var oFMs=$('#tblFabricMachines').datagrid('getChecked');

        var obj={
            TSUID : $('#cboTextileSubUnit').val(),
            Params : oFMs.select('FMID').separator()
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/TextileSubUnit/AssignMachineToTextileUnit" ,
            traditional: true,
            data: JSON.stringify(obj),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var objs = jQuery.parseJSON(data);
                if(objs.any()){
                    if(objs.first().FMID>0){

                        objs.forEach(function(data){
                            oFMs.forEach(function(oFM){
                                if(oFM.FMID == data.FMID){
                                    var index = $("#tblFabricMachines").datagrid("getRowIndex", oFM);
                                    $("#tblFabricMachines").datagrid("updateRow", { index: index, row: data });
                                }
                            });
                        });
                    }
                    else{
                        alert(objs.first().ErrorMessage);
                    }
                    $('#winTextileUnit').icsWindow('close');
                }
                else{
                    alert("Unable to assign machine.")
                }


            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });


    });

    //$('#tblFabricMachines').datagrid({ onSelect: function (rowIndex, rowData) { tblSelectionChangeventFabricMachine(rowIndex, rowData); } });

    //function tblSelectionChangeventFabricMachine(rowIndex, rowData) {
    //    console.log(rowData)
    //    if (rowData.MachineStatus==3 && rowData.WeavingProcess==3 && !rowData.IsBeam && rowData.IsActive) {
    //        $("#btnRestoreLoomMachine").show();
    //    }
    //    else{
    //        $("#btnRestoreLoomMachine").hide();
    //    }

    //}
    $('#btnRestoreLoomMachine').click(function(e){

        var oFM = $('#tblFabricMachines').datagrid('getSelected');

        if(oFM.FMID>0){
            $.ajax
             ({
                 type: "GET",
                 dataType: "json",
                 url : _sBaseAddress+  "/FabricMachine/LoomMachineGetLastProductionAndBeamStatus",
                 data: {FMID: oFM.FMID},
                 contentType: "application/json; charset=utf-8",
                 success: function (data) {
                     debugger;
                     //lblLoomNameCode lblLoomStatus lblLoomExecution lblLoomConsturction lblLoomBeam lblLoomBeamStatus
                     var oFBPS =data.FabricBatchProduction;
                     var oBeams = data.FabricMachine;
                     $('#lblLoomExecution').text("");
                     $('#lblLoomConsturction').text("");
                     $('#lblLoomBeam').text("");
                     $('#lblLoomBeamStatus').text("");
                     $('#lblLoomNameCode').text(oFM.Name+"["+oFM.Code+"]");
                     $('#btnRestoreLoomwindow').hide();
                     $('#lblLoomStatus').text(oFM.MachineStatusInString);
                     if(oFBPS.length>0 && oFBPS[0].FBPID >0){

                         $('#lblLoomExecution').text(oFBPS[0].OrderNo);
                         $('#lblLoomConsturction').text(oFBPS[0].Construction);

                     }
                     if(oBeams.length>0 && oBeams[0].FMID >0){
                         var inActiveText="";
                         if(oBeams[0].IsActive&&oBeams[0].MachineStatus==3)
                         {
                             inActiveText="";
                             $('#btnRestoreLoomwindow').show();
                         }

                         else{
                             inActiveText=" ( InActive Beam )"
                         }

                         $('#lblLoomBeam').text(oBeams[0].Name+"["+oBeams[0].Code+"]"+inActiveText);
                         $('#lblLoomBeamStatus').text(oBeams[0].MachineStatusInString+inActiveText);
                     }
                     $('#winLoomMachineReference').icsWindow('open');
                 },
                 error: function (xhr, status, error)
                 {
                     alert(error);
                 }

             });
        }

    });

    $('#btnFinishHoldBeam').click(function(e){
        debugger;

        var oBeam = $('#tblFabricMachines').datagrid('getSelected');
        if(oBeam==null || oBeam.FMID<=0 && oBeam.IsBeam)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if(!oBeam.IsActive)
        {
            alert("Beam is not Active!");
            return false;
        }
        if(oBeam.MachineStatus!=4)
        {
            alert("Beam is not Hold!");
            return false;
        }

        var SelectedRowIndex = $('#tblFabricMachines').datagrid('getRowIndex', oBeam);
        if(oBeam.FMID>0){
            $.ajax({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+"/FabricMachine/HoldBeamFinishForLoomProcess",
                traditional: true,
                data:  JSON.stringify(oBeam),
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    var oFabricMachine = jQuery.parseJSON(data);
                    if (oFabricMachine.ErrorMessage=="" || oFabricMachine.ErrorMessage==null) {
                        alert("Data Saved sucessfully");
                        $("#tblFabricMachines").datagrid("updateRow", { index: SelectedRowIndex, row: oFabricMachine });

                    }
                    else {
                        alert(oFabricMachine.ErrorMessage);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }

            });
        }

    });
    $('#btnCloseLoomWindow').click(function(){
        $('#winLoomMachineReference').icsWindow('close');
    });

    $('#btnRestoreLoomwindow').click(function(){

        var oFM = $('#tblFabricMachines').datagrid('getSelected');
        var SelectedRowIndex = $('#tblFabricMachines').datagrid('getRowIndex', oFM);
        if(oFM.FMID>0){
            $.ajax({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+"/FabricMachine/LoomMachineRestore",
                traditional: true,
                data:  JSON.stringify(oFM),
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    var oFabricMachine = jQuery.parseJSON(data);
                    if (oFabricMachine.ErrorMessage=="" || oFabricMachine.ErrorMessage==null) {
                        alert("Data Saved sucessfully");
                        $("#tblFabricMachines").datagrid("updateRow", { index: SelectedRowIndex, row: oFabricMachine });
                        $('#winLoomMachineReference').icsWindow('close');
                    }
                    else {
                        alert(oFabricMachine.ErrorMessage);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }

            });
        }

    });

</script>