@{
    ViewBag.Title = "Employee Loan Info";
}

@model IEnumerable<ESimSol.BusinessObjects.EmployeeLoanInfo>

    <head>
        <title>Employee Loan</title>
    </head>

    <body>
        <div class="menuMainCollectionTable">
            <table id="tblEmployeeLoanInfo" title="Loan Info" class="easyui-datagrid" fit="true" fitcolumn="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarEmployeeLoan">
                <thead>
                    <tr>
                        <th rowspan="2" field="Code" width="9%" align="left">Employee Code</th>
                        <th rowspan="2" field="Name" width="15%">Name</th>
                        <th rowspan="2" field="DepartmentName" width="10%" align="left">Department</th>
                        <th rowspan="2" field="DesignationName" width="10%" align="left">Designation</th>
                        <th rowspan="2" field="DisburseDateStr" width="10%" align="center">Disburse Date</th>
                        <th rowspan="2" field="InstallmentStartDateStr" width="10%" align="center">Inst. Start Date</th>
                        <th rowspan="2" field="LoanAmount" width="10%" formatter="formatPrice" align="right">Loan Amount</th>
                        <th rowspan="2" field="NoOfInstallment" width="7%" align="center">No of Inst.</th>
                        <th rowspan="2" field="InstallmentAmount" width="8%" formatter="formatPrice" align="right">Inst. Amount</th>
                        <th rowspan="2" field="InterestRate" width="9%" formatter="formatPrice" align="right">Interest Rate</th>
                        <th rowspan="2" field="RefundAmount" width="11%" formatter="formatPrice" align="right">Refund Amount</th>
                        <th colspan="2" width="20%" align="center">Paid</th>
                        <th colspan="2" width="20%" align="center">Payable</th>
                        <th rowspan="2" field="LoanBalance" width="10%" formatter="formatPrice" align="right">Loan Balance</th>
                    </tr>
                    <tr>
                        <th field="InstallmentPaid" width="10%" formatter="formatPrice" align="right">Total Amount</th>
                        <th field="InterestPaid" width="10%" formatter="formatPrice" align="right">Total Interest</th>
                        <th field="InstallmentPayable" width="10%" formatter="formatPrice" align="right">Total Amount</th>
                        <th field="InterestPayable" width="10%" formatter="formatPrice" align="right">Total Interest</th>
                    </tr>
                </thead>

            </table>

            <div id="toolbarEmployeeLoan">
                <input id="dtFrom" type="text" style="width: 100px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" /> To
                <input id="dtTo" type="text" style="width: 100px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
                <a id="btnExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Loan Info</a>
            </div>
        </div>


    </body>


    <script type="text/javascript">
        var _sBaseAddress="";
        var _oEmployeeLoanInfos=[];

        $(document).ready(function () {
            _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
            _oEmployeeLoanInfos =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
            $('#dtFrom, #dtTo').datebox('setValue', icsdateformat(new Date()));
        });

        $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });


        /*.......... Searching ............. */

        $('#btnSearch').click(function(e){
            var oEmployeeLoanInfo={
                Params:   $('#dtFrom').datebox('getValue')+'~'+$('#dtTo').datebox('getValue')
            };
            GetsEmployeeLoanInfo(oEmployeeLoanInfo, false) ;
        });

        function GetsEmployeeLoanInfo(oEmployeeLoan, bIsAdvSearch) {
            var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: oEmployeeLoan,
                ControllerName: "EmployeeLoan",
                ActionName: "GetsEmployeeLoanInfo",
                IsWinClose: bIsAdvSearch
            };

            $.icsDataGets(obj, function (response) {

                if (response.status && response.objs != null) {
                    if (response.objs.length > 0) {
                        if(response.objs[0].EmployeeID>0){
                            _oEmployeeLoanInfos=response.objs;
                            DynamicRefreshList(response.objs, "tblEmployeeLoanInfo");
                        }
                        else{DynamicRefreshList([], "tblEmployeeLoanInfo"); alert(response.objs[0].ErrorMessage);}
                    }
                    else { DynamicRefreshList([], "tblEmployeeLoanInfo"); alert("No EmployeeLoan found."); }
                }
            });
        }

        /*.......... XL ............. */

        $('#btnExcel').click(function (e)
        {
            var tsv=((new Date()).getTime())/1000;
            var sParam=$('#dtFrom').datebox('getValue')+'~'+$('#dtTo').datebox('getValue');
            window.open(_sBaseAddress+ "/EmployeeLoan/ExcelEmployeeLoanInfo?sParams="+sParam+"&nts="+tsv, "_blank");
        });

    </script>
