<html>
<head>
    <title>Employee Loan</title>
</head>
<body>

    @model ESimSol.BusinessObjects.EmployeeLoan
    <div class="menuMainCollectionTable">
        <fieldset>
            <legend style="font-weight:bold"> Employee Loan entry: </legend>
            <table style="width:100%">
                <tr>
                    <td class="td-col-2 align-right">
                        <label>Loan Code</label>
                    </td>
                    <td class="td-col-2">
                        <input id="txtLoanCode" class="reset-text txt-styler" disabled />
                    </td>
                    <td class="td-col-2 align-right">
                        <label>Approve Date</label>
                    </td>
                    <td class="td-col-2">
                        <input id="dtApprove" type="date" class="easyui-datebox" style="width:120px;" data-options="formatter:icsdateformat,parser:icsdateparser" />
                    </td>
                    <td class="td-col-2 align-right">
                        <label>Employee</label>
                    </td>
                    <td class="td-col-10" colspan="3">
                        <input id="txtEmployee" class="reset-text txt-styler" placeholder="Search Employee" />
                    </td>
                </tr>
                <tr>
                    <td class="td-col-2 align-right">
                        <label>Official Info</label>
                    </td>
                    <td colspan="7" class="td-col-18">
                        <input id="txtOfficialInfo" class="reset-text txt-styler-span emp-info" placeholder="Employee Official Info" disabled />
                    </td>
                </tr>
                <tr>
                    <td class="td-col-2 align-right">
                        <label id="lbl-PFSalayInfo">PF Info</label>
                    </td>
                    <td colspan="3" class="td-col-6">
                        <input id="txtPFInfo" class="reset-text txt-styler-span emp-info" placeholder="Employee PF Info" disabled />
                    </td>
                    <td class="td-col-2 align-right">
                        <label>Last Loan Info</label>
                    </td>
                    <td class="td-col-10" colspan="3">
                        <input id="txtLastLoanInfo" class="reset-text emp-info" placeholder="Employee Last Loan Info" disabled />
                    </td>
                </tr>
                <tr>
                    <td class="td-col-2 align-right">
                        <label>Loan Amount</label>
                    </td>
                    <td class="td-col-2">
                        <input id="txtLoanAmount" class="reset-text number txt-styler" />
                    </td>
                    <td colspan="6" class="td-col-16 align-left">
                        <input id="txtInWords" class="reset-text emp-info" placeholder="Amount in words" disabled />
                    </td>
                </tr>
                <tr>
                    <td class="td-col-2 align-right" valign="top">
                        <label>Purpose</label>
                    </td>
                    <td class="td-col-18" colspan="7">
                        <textarea id="txtLoanPurpose" class="reset-text"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="td-col-2 align-right">
                        <label>Loan Type</label>
                    </td>
                    <td class="td-col-2">
                        <input id="txtLoanType" class="reset-text txt-styler" />
                    </td>
                    <td class="td-col-2 align-right">
                        <label>No of Instalment</label>
                    </td>
                    <td class="td-col-2">
                        <input id="txtNoOfInstalment" class="reset-text number txt-styler" />
                    </td>
                    <td class="td-col-2 align-right">
                        <label>Instalment Amount</label>
                    </td>
                    <td class="td-col-2">
                        <input id="txtInstalmentAmount" class="reset-text number txt-styler" />
                    </td>
                    <td class="td-col-2 align-right">
                        <label>Interest Rate</label>
                    </td>
                    <td class="td-col-2">
                        <input id="txtInterestRate" class="reset-text number txt-styler" />
                    </td>
                </tr>
                <tr>
                    <td class="td-col-2 align-right">
                        <label>Approval Note</label>
                    </td>
                    <td class="td-col-14" colspan="7">
                        <input id="txtApprovalNote" class="reset-text txt-styler-span" />
                    </td>
                </tr>

            </table>
        </fieldset>

        <div style="padding-left:2px; padding-right:2px;">
            <table id="tblEmployeeLoanDetail" class="easyui-datagrid" style="height: 255px; width:100%;" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" 
                   data-options="rowStyler: function(index,row){if (row.Type==0){return 'background-color:#6293BB;color:#fff;font-weight:bold;';}}">
                <thead>
                    <tr>
                        <th field="InstallmentDateStr" width="15%" align="left">Instalment Date</th>
                        <th field="InstallmentAmount" width="15%" align="right" formatter="formatPrice">Instalment</th>
                        <th field="InterestPerInstallment" width="15%" align="right" formatter="formatPrice">Interest</th>
                        <th field="TotalAmount" width="20%" align="right" formatter="formatPrice">Total Amount</th>
                        <th field="Balance" width="20%" align="right" formatter="formatPrice">Balance</th>
                        <th field="Encash" width="10%" align="center">Encash</th>
                    </tr>
                </thead>
            </table>
        </div>
        <fieldset>
            <legend>Action</legend>
            <div class="align-right">
                <div id="region-action" style=" float:left;  width:100%; ">
                    <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-print" plain="true">Print</a>
                    <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>

                </div>
            </div>
        </fieldset>
    </div>
</body>
</html>

<style type="text/css">
    .input, select {
        padding-left: 5px;
    }

    .txt-styler {
        width: 89%;
    }

    .txt-styler-span {
        width: 98.5%;
    }

    .cbo-styler {
        width: 94%;
    }

    .txt-styler-picker {
        width: 79%;
    }

    #txtLastLoanInfo {
        width: 96%;
    }

    #txtLoanPurpose {
        width: 98.5%;
        height: 35px;
    }

    #txtInWords {
        width: 98%;
    }
</style>

<script type="text/javascript">

    var _sBaseAddress = "";
    var _oEmployeeLoan=null;
    var _oLoanInstallments=[];
    $(document).ready(function () {

        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oEmployeeLoan =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oLoanInstallments=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.LoanInstallments));
        $("#txtInWords").data('CurrencySymbol',@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.CurrencySymbol)));
        $('.number').icsCurrencyBox();
        Initialization(oEmployeeLoan,((sessionStorage.length>0)?sessionStorage.getItem('Operation'):'New'));

    });

    $(document).keydown(function (e) { if (e.keyCode == 27) { $('#winEmployeeLoanOrder').icsWindow('close'); } });



    function InstallmentSummary(oLoanInstallments){

        var nAmount=0, nInterest=0, nInstallment=0;
        if(oLoanInstallments.length>0){
            for(var i=0;i<oLoanInstallments.length;i++){
                if(oLoanInstallments[i].Type!=0){
                    nAmount += parseFloat(oLoanInstallments[i].InstallmentAmount);
                    nInterest += parseFloat(oLoanInstallments[i].InterestPerInstallment);
                    nInstallment += parseFloat(oLoanInstallments[i].TotalAmount);
                }
            }
            var oELI={
                Type:1,
                InstallmentDateStr : '<b>Installment Total</b>',
                InstallmentAmount : nAmount,
                InterestPerInstallment : nInterest,
                TotalAmount : nInstallment,
                Balance : 0
            };
            $('#tblEmployeeLoanDetail').datagrid('appendRow',oELI);
        }
    }

    function InstallmentCalculation(){
        var nLoanAmount = icsRemoveComma($('#txtLoanAmount').val());

        if($('#txtNoOfInstalment').val()>0 && nLoanAmount>0){
            $('#txtInstalmentAmount').val(formatPrice(parseFloat(parseFloat(nLoanAmount)/ parseFloat($('#txtNoOfInstalment').val())).toFixed(5)));
        }
        else{
            $('#txtInstalmentAmount').val("0.00");
        }

    }

    function Initialization(oEmployeeLoan, sOperation){
        ResetControll();
        if(oEmployeeLoan.EmployeeLoanID>0){
            RefreshControl(oEmployeeLoan);
            DynamicRefreshList(_oLoanInstallments, 'tblEmployeeLoanDetail');
            InstallmentSummary(_oLoanInstallments);
        }

        if(sOperation=="View")
        {
            $('#toolbar,#btnSave').hide();
            $('input,select,textarea').not('#txtLoanCode, .emp-info').prop('disabled',true);
            $('.td-col-10 input').css('width','96%');
        }
    }


    function ResetControll(){
        $('.reset-text').val("");
        $('#lbl-PFSalayInfo').text("PF Info");
        $('#dtApprove,#dtExpect').datebox('setValue', icsdateformat(new Date()));
        $('.number').val("0.00");
        $('#txtEmployee').data('EmployeeID',0);
        DynamicRefreshList([], 'tblEmployeeLoanDetail');
    }

    function RefreshControl(oEmployeeLoan){

        $('#lbl-PFSalayInfo').text((oEmployeeLoan.IsPFLoan)?"PF Info":"Salary Info");
        _oEmployeeLoan=oEmployeeLoan;
        $('#txtEmployee').data('EmployeeID',oEmployeeLoan.EmployeeID);

        $('#txtLoanCode').val(oEmployeeLoan.Code);
        $('#dtApprove').datebox('setValue',oEmployeeLoan.ApproveDateStr);
        $('#txtEmployee').val(oEmployeeLoan.EmployeeNameCode);

        $('#txtOfficialInfo').val(oEmployeeLoan.OfficialInfo);
        $('#txtPFInfo').val((oEmployeeLoan.IsPFLoan)?oEmployeeLoan.PFInfo:oEmployeeLoan.SalaryInfo);

        $('#txtLastLoanInfo').val(oEmployeeLoan.LastLoanInfo);
        $('#txtLoanAmount').val(formatPrice(oEmployeeLoan.LoanAmount));

        $('#txtLoanType').val(oEmployeeLoan.LoanTypeStr);
        $('#txtNoOfInstalment').val(oEmployeeLoan.NoOfTotalInstallment);
        $('#txtInstalmentAmount').val(formatPrice(oEmployeeLoan.InstallmentAmount));
        $('#txtInterestRate').val(formatPrice(oEmployeeLoan.InterestRate));
        $('#txtLoanPurpose').val(oEmployeeLoan.Purpose);
        $('#txtApprovalNote').val(oEmployeeLoan.ApproveNote);

        $('#txtInWords').val(AmountInWordConversion(parseFloat(oEmployeeLoan.LoanAmount),$("#txtInWords").data('CurrencySymbol')));
        //DynamicRefreshList(oEmployeeLoan.EmployeeLoanDetails, 'tblEmployeeLoanDetail');

    }

    $('#btnClose').click(function(e){
        window.location.href = sessionStorage.getItem("BackLink");
    });

    
    $('#btnPrint').click(function (e)
    {
        if (_oEmployeeLoan ==null || _oEmployeeLoan.EmployeeLoanID <=0 ) { alert("No employee loan found to print."); return ; }
        var tsv=((new Date()).getTime())/1000;
        window.open(_sBaseAddress+ "/EmployeeLoan/PrintEmployeeLoan?nId="+_oEmployeeLoan.EmployeeLoanID+"&nts="+tsv, "_blank");
    });

</script>