@{
    ViewBag.Title = "Spinning Unit Machine List";
}

@model IEnumerable<ESimSol.BusinessObjects.SUMachine>
    <head>
        <title></title>
        <script src="@Url.Content("~/Views/SUMachine/CostCenter.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Views/SUMachine/SUMachines.js")" type="text/javascript"></script>
      

        
        
        
    </head>
    <body>
       
        <div id="winCostCenterSUMachine" style="width:380px;" class="easyui-window winstyle" title="Capital Machines" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <fieldset>
                <table border="0" cellpadding="0" cellspacing="0">
                    <tr id="Projects">
                        <td style="width:500px; height:450px">
                            <div style="height:450px; overflow:auto">
                                <ul id="TreeCostCenter" data-options="checkbox:true"></ul>
                            </div>
                        </td>
                    </tr>

                </table>
            </fieldset>
            <fieldset class="actionfieldsetstyle">
                <legend>Actions : </legend>
                <table>
                    <tr>
                        <td style="width:280px; text-align:right"></td>
                        <td style="width:50px; text-align:right;">
                            <a id="btnOKCostCenter" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
                        </td>
                        <td style="width:50px; text-align:right;">
                            <a id="btnCloseCostCenter" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div class="menuMainCollectionTable">
            <table id="tblSUMachines" title="Spinning Unit Machine List" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarSUMachine"></table>
            <div id="toolbarSUMachine">
                <table>
                    <tr>
                        <td>
                            <input id="txtMachineNameSUMachine" type="text" style="width:150px" placeholder="Search by Machine Name" />
                            <a id="btnPickSUMachine" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Pick Machines to Add" iconcls="icon-details" plain="true">Pick</a>
                            <input id="txtRemarksSUMachine" type="text" style="width:140px" placeholder="Write Remarks..."/>
                            <a id="btnNewSUMachine" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Add Selected Machines" iconcls="icon-add" plain="true">Add</a>
                            <a id="btnDeleteSUMachine" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Delete Selected Machine" iconcls="icon-remove" plain="true">Delete</a>
                            <a id="btnActiveSUMachine" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Active/In-Active" iconcls="icon-ok" plain="true">Active/In-Active</a>
                        </td>
                        <td>
                            @using (Html.BeginForm("PrintSUMachines", "SUMachine", FormMethod.Post, new { enctype = "multipart/form-data", target = "_blank" }))
                            {
                                <input type="text" name="txtCollectionPrintText" id="txtCollectionPrintText" hidden="hidden" />
                                <input type="submit" id="btnPrintList" value="     Print List" class="icon-print PrintList" />
                            }
                        </td>
                    </tr>
                </table>



            </div>
        </div>
            



            
                 
            
                  
            
    </body>
    
    <script type="text/javascript">
       
    var _oSUMachine = {ErrorMessage:"",MKTPersonID:0,SUMachineDateTime:''};
    var _oBaseSUMachine = {ErrorMessage:"",MKTPersonID:0,SUMachineDateTime:''};
    var _oSUMachines = [];
    var _oDBSUMachines = [];
    var _sBaseAddress = "";
    var _oCurrentUser={};
    
    var _otblColumns=[];
    var _nbtnIDNo =0;
    
    $(document).ready(function() {
        //debugger;
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oCurrentUser=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.CurrentUser]));
        _oDBSUMachines = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        



        //debugger;
        //var data = [];
        //data = _oSUMachines;
        //data = { "total": "" + data.length + "", "rows": data };
        //$('#tblSUMachines').datagrid("loadData", data);



        debugger;
        InitializeSUMachinesEvents();
        InitializeCostCenterEvents();
    });




    $(document).keydown(function (e) { if (e.keyCode === 27) { $('div').icsWindow("close")}});

</script>
