<html>
<head>  
   
    
</head>
<body>

@model ESimSol.BusinessObjects.POTandCSetup
    <div id="divPOTandCSetup" class="easyui-panel" title="Add POTandCSetup" style="font-family:Tahoma; height:100%; width:100%">
        <div style="width:100%; height:88%; text-align:center">
            <fieldset>
                <legend style="font-weight:bold"> Terms & Condition Informations : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:120px; text-align:right">
                            Apply Module:
                        </td>
                        <td style="width:550px; text-align:left">
                            @*@Html.DropDownListFor(model => model.ClauseType, Model.POTermsObjs.Select(x => new SelectListItem() { Text = x.Value, Value = x.id.ToString() }), new { id = "cboClauseType", style = "width: 200px;font-size:12px;text-align:left" })*@
                            <select id="cboClauseType" style="width:200px;"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:120px; text-align:right">
                            Terms & Condition :
                        </td>
                        <td style="width:550px; text-align:left">
                            <textarea rows="2" id="txtClause" style="text-align:left; width:98%" placeholder="Terms & Condition "></textarea>
                           
                        </td>
                    </tr>

                   
                    <tr>
                        <td style="width:150px; text-align:right">
                            Note :
                        </td>
                        <td style="width:840px; text-align:left">
                            @Html.TextBoxFor(model => model.Note, new { style = "width: 800px;", id = "txtNote" })
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>

        <div style="width:100%; height:10%">
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:80%; text-align:right"></td>
                        <td style="width: 10%">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Save()">Save</a>
                        </td>
                        <td style="width: 10%">
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        </div>
</body>
</html>


<script type="text/javascript"> 
 var _oPOTandCSetup=null;
 var _sBaseAddress="";
 var _oClauseTypes = [];
 var _nMenuid=0;
 $(document).ready(function () {
    debugger;     
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));                  
     _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
     _oPOTandCSetup =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));  
     _oClauseTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.POTermsObjs));   
     _sPOTandCSetupHeader=sessionStorage.getItem("POTandCSetupHeader");
     $('#txtClause').val(_oPOTandCSetup.Clause);
     $('#divPOTandCSetup').panel({ title:_sPOTandCSetupHeader});
     if(_sPOTandCSetupHeader=="View POTandCSetup")
     {
         document.getElementById('btnSave').style.display = 'none';
         document.getElementById('txtClause').disabled='false';
         document.getElementById('cboClauseType').disabled='false';
         document.getElementById('txtNote').disabled='false';
     }
     $("#cboClauseType").icsLoadCombo({List: _oClauseTypes,OptionValue: "id",DisplayText: "Value"});
     $("#cboClauseType").val(_oPOTandCSetup.ClauseType);
     //RefreshPOTandCSetupControl();
 }); 
   
   function ValidateInput()
    {
        if(document.getElementById("txtClause").value==null || document.getElementById("txtClause").value=="")
        {        
            alert("Please enter Terms & Condition!");
            $('#txtClause').focus();
            return false;
        }    
//        var cboClauseType = document.getElementById("cboClauseType");
//        if(cboClauseType.options[cboClauseType.selectedIndex].value==0)
//        {
//            alert("Please select Apply module!");
//            $('#cboClauseType').focus();
//            return false;
//        }
        return true;
    }


    function RefreshObject()
    {     
        var cboClauseType = document.getElementById("cboClauseType");
        
        var oPOTandCSetup= {                               
            POTandCSetupID : _oPOTandCSetup.POTandCSetupID,                        
            Clause : $("#txtClause").val(),
            ClauseType:cboClauseType.options[cboClauseType.selectedIndex].value,
            Activity : _oPOTandCSetup.Activity, 
            BUID:sessionStorage.getItem('BUID'),
                        Note : $("#txtNote").val()
                    };
        return oPOTandCSetup;
    } 

    function Save()
    {
        //debugger;
        if(!ValidateInput()) return;
        var oPOTandCSetup=RefreshObject();

        $.icsSave({
            BaseAddress: _sBaseAddress,
            Object: oPOTandCSetup,
            ObjectId: oPOTandCSetup.POTandCSetupID,
            ControllerName: "POTandCSetup",
            ActionName: "Save",
            TableId: "",
            IsWinClose: false,
            Message: "Term Saved Successfully."

        },function (response){
            if(response.status && response.obj!=null){
                if(response.obj.POTandCSetupID>0){
                    var oPOTandCSetup =response.obj;
                    var oPOTandCSetups =sessionStorage.getItem("POTandCSetups");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if(oPOTandCSetups!=null)
                    {
                        oPOTandCSetups = jQuery.parseJSON(oPOTandCSetups);
                    }
                    else
                    {
                        oPOTandCSetups=[];
                    }
                    if(nIndex!=-1)
                    {
                        oPOTandCSetups[nIndex]=oPOTandCSetup;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oPOTandCSetups.length);
                        oPOTandCSetups.push(oPOTandCSetup);
                    }
                    sessionStorage.setItem("POTandCSetups", JSON.stringify(oPOTandCSetups));
                    window.location.href = sessionStorage.getItem("BackLink");
                }
            }
        });

    }
      
    
    $("#btnClose").click(function(){
        window.location.href = sessionStorage.getItem("BackLink");
    });

    $(document).keydown(function(e) {
        if(e.which == 27)//escape=27
        {
            window.location.href = sessionStorage.getItem("BackLink");
        }
    });
</script>