@{
    ViewBag.Title = "Sales Contract";
}

<html>
    <body>
        @model ESimSol.BusinessObjects.ExportSC
        <div id="winMeasurement" class="easyui-window" title="Poly Measurement List" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div>
                <table id="tblPolyMeasurements" class="easyui-datagrid" rownumbers="true" pagination="false" singleselect="true" width="450px" height="350px" toolbar="#toolbarMeasurement">
                    <thead>
                        <tr>
                            <th field="PolyMeasurementTypeSt" width="120">Measurement Type</th>
                            <th field="Measurement" width="300">Measurement</th>
                        </tr>
                    </thead>
                </table>
                <div id="toolbarMeasurement">
                    <select style="width: 200px;height:21px" id="cboPolyMeasurementType"></select>
                    <input type="text" id="txtPolyMeasurement" style="width:200px" placeholder="Search By Measurement" />
                </div>
            </div>
            <fieldset style="width:98%;height:8%; vertical-align:top;">
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold;">
                    <tr>
                        <td style="width:8%;text-align:right;">
                            <a id="btnokMeasureement" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="SelectMeasurement()">Ok</a>
                            <a id="btnCloseMeasurement" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="CloseMeasurementPick()">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>

        <div id="winChangeMeasurement" class="easyui-window" title="Cahange Measurement" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div>
                <fieldset>
                    <legend style="font-weight:bold">Update Info : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">                       
                        <tr>
                            <td style="width:125px; text-align:right">
                                Measurement :
                            </td>
                            <td style="width:250px">
                                <input type="text" placeholder="Measurement" id="txtChangeMeasurement" style="width:100%" />
                            </td>
                        </tr>


                    </table>
                </fieldset>
            </div>
            <fieldset style="width:95%;height:8%; vertical-align:top;">
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold;">
                    <tr>
                        <td style="width:7%;text-align:right;">
                            <a id="btnAddUpdteInfo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="UpdateInfo()">Update</a>
                            <a id="btnCloseUpdaeInfo" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="CloseUpdateInfo()">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>

        <div id="divExportSC" class="easyui-panel menuMainCollectionTable" style="font-family:Tahoma; height:100%; width:100%;overflow:hidden;">
            <div id="tabSalesContract" class="easyui-tabs" style="width:100%;height:100%">
                <div title="Sales Contract" style="padding:2px">
                    <div style="height:83%;width:100%;overflow:hidden;">
                        <div style="width:100%;">
                            <fieldset>
                                <legend style="text-align:left; font-weight:bold;"> Sales Contract Informations : </legend>
                                <table style="width: 100%;" cellspacing="1" cellpadding="1">
                                    <tr>
                                        <td style="width:10%; text-align:right">
                                                  PI No
                                        </td>
                                        <td style="width:15%; text-align:left">
                                            <input type="text" id="txtPINo" style="width:100%;" readonly="readonly" />
                                        </td>

                                        <td style="width:10%; text-align:right">
                                                PI Date
                                        </td>
                                        <td style="width:10%; text-align:left">
                                            <input type="text" id="txtIssueDate" style="width:100%;" readonly="readonly" />
                                        </td>
                                        <td style="width:17.75%; text-align:right">
                                                MKT Person
                                        </td>
                                        <td style="width:37.25%; text-align:left" colspan="2">
                                            <input type="text" id="txtMKTPerson" style="width:88.5%;" readonly="readonly" />
                                        </td>

                                    </tr>
                                    <tr>
                                        <td style="width:10%; text-align:right">
                                                Account Of
                                        </td>
                                        <td colspan="3" style="width:35%; text-align:left">
                                            <input type="text" id="txtContractorName" style="width:100%;" readonly="readonly" />
                                        </td>
                                        <td style="width:17.75%; text-align:right">
                                                Buying House
                                        </td>
                                        <td colspan="2" style="width:37.25%; text-align:left">
                                            <input type="text" id="txtBuyerName" style="width:88.5%;" readonly="readonly" />
                                        </td>
                                    </tr>
                                </table>
                                <table style="width: 100%;" cellspacing="1" cellpadding="1">
                                    <tr>
                                        <td style="width:10%; text-align:right">
                                            <label>       PI Value  </label> <span class="lblCurrency"></span>:
                                        </td>
                                        <td style="width:15%; text-align:left">
                                            <input type="text" id="txtPIValue" style="width:100%;" readonly="readonly" />
                                        </td>

                                        <td style="width:10%; text-align:right">
                                            <label>Adj Value</label><span class="lblCurrency"></span>:
                                        </td>
                                        <td style="width:15%; text-align:left">
                                            <input type="text" id="txtAdjAmount" style="width:68%;" readonly="readonly" />
                                        </td>
                                        <td style="width:13%; text-align:right">
                                            <label>
                                                Actule Value
                                            </label><span class="lblCurrency"></span>:
                                        </td>
                                        <td style="width:12%; text-align:left">
                                            <input type="text" id="txtActualValue" style="width:100%;" readonly="readonly" />
                                        </td>
                                        <td style="width:8%; text-align:right">
                                            <label>
                                                L/C No
                                            </label>
                                        </td>
                                        <td style="width:13%; text-align:left">
                                            <input type="text" id="txtLCNo" style="width:100%;" readonly="readonly" />
                                        </td>
                                        <td style="width:5%; text-align:left"></td>
                                    </tr>
                                    <tr>
                                        <td style="width:10%; text-align:right">
                                            <label>
                                                PI Qty
                                            </label><span class="lblMUnit"></span>:
                                        </td>
                                        <td style="width:15%; text-align:left">
                                            <input type="text" id="txtPIQty" style="width:100%;" readonly="readonly" />
                                        </td>

                                        <td style="width:10%; text-align:right">
                                            <label>
                                                Adj Qty
                                            </label><span class="lblMUnit"></span>:
                                        </td>
                                        <td style="width:15%; text-align:left">
                                            <input type="text" id="txtAdjQty" style="width:68%;" readonly="readonly" />
                                        </td>
                                        <td style="width:13%; text-align:right">
                                            <label>Rate Unit</label>
                                        </td>
                                        <td style="width:12%; text-align:left">
                                            <input type="number" style="width:96%;text-align:right;" id="txtRateUnit" />
                                        </td>
                                        <td style="width:8%; text-align:right">
                                            <label>
                                                L/C Date
                                            </label>
                                        </td>
                                        <td style="width:13%; text-align:left">
                                            <input type="text" id="txtLCDate" style="width:100%;" readonly="readonly" />
                                        </td>
                                        <td style="width:5%; text-align:left"></td>
                                    </tr>
                                </table>
                            </fieldset>
                        </div>
                        <div style="width:100%;height:320px;">
                            <fieldset>
                                <legend style="text-align:left; font-weight:bold;">  </legend>
                                <table style="width:100% ;height:320px">
                                    <tr>
                                        <td style="width:65% ;height:275px; vertical-align:top">
                                            <table id="tblSCDetails" class="easyui-datagrid" style="width:100%;height:275px;" data-options="singleSelect: true,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false, toolbar: '#toolbarExportSCDetail',onClickRow:onClickRow ">
                                                <thead data-options="frozen:true">
                                                    <tr>
                                                        <th field="ProductCode" width="8%" align="left"> Code</th>
                                                        <th field="ProductName" width="16%" align="left">Item Name</th>
                                                        <th field="SizeName" width="8%" align="left">Size</th>
                                                        <th field="ColorName" width="8%" align="left">Color</th>
                                                        <th field="MUName" width="5%" align="left">Unit</th>
                                                        <th data-options="field:'Qty',align:'right',editor:{type:'numberbox',options:{precision:2}}" width="8%">Qty</th>
                                                        <th data-options="field:'OverQty',align:'right',editor:{type:'numberbox',options:{precision:2}}" width="8%">Over Qty</th>
                                                        <th data-options="field:'UnitPrice',align:'right',editor:{type:'numberbox',options:{precision:4}}" width="10%">Unit Price</th>
                                                        <th field="AmountSt" width="8%" align="left">Amount</th>
                                                     </tr>
                                                 </thead>
                                                <thead>
                                                    <tr>
                                                        <th data-options="field:'StyleNo',width:80,height:60 ,align:'Left',editor:{type:'text'}" align="Left">Style No</th>
                                                        <th data-options="field:'BuyerRef',width:80,height:60 ,align:'Left',editor:{type:'text'}" align="Left">B.Ref</th>
                                                        <th data-options="field:'ColorInfo',width:100,height:60 ,align:'Left',editor:{type:'text'}" align="Left">ColorInfo</th>
                                                        <th field="Measurement" align="Left">Measurement</th>
                                                        <th data-options="field:'ProductDescription',width:90,height:60 ,align:'Left',editor:{type:'text'}" align="Left">Product Description</th>
                                                        <th data-options="field:'ColorQty',width:80,height:60 ,align:'Left',editor:{type:'numberbox',options:{precision:0}}" align="Left">Color Qty</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                            <div id="toolbarExportSCDetail">
                                              <table border="0" cellpadding="0" cellspacing="1" style="width:100%;">
                                                    <tr>
                                                        <td style="width:22%"><input type="text" placeholder="Type Product & Press Enter" id="txtProductName" style="width:75%" /> <a id="btnProductPick" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-pick" plain="true"></a></td>
                                                        <td style="width:18%;"><select id="cboUnit" style="width:100%;"></select></td>
                                                        <td style="width:16%"><input type="text" placeholder="Product Description" id="txtProductDescription" style="width:100%" /></td>
                                                        <td style="width:44%;text-align:right;" colspan="2"><input type="text" placeholder="Type Buyer Reference" id="txtBuyerRef" style="width:94.5%" /></td>
                                                    </tr>
                                                    <tr>
                                                        <td style="width:22%"><input type="text" placeholder="Type Color & Press Enter" id="txtColorName" style="width:40%" /><input type="button" style="width:7%; text-align:left;" id="btnColorPick" value="P" />&nbsp;<label id="lblColorQtyCaption">C.Qty:</label><input type="text" id="txtColorQty" style="width:15%" /></td>
                                                        <td style="width:18%"><input type="text" placeholder="Style Description" id="txtStyleDescription" style="width:100%" /></td>
                                                        <td style="width:16%"><input type="text" placeholder="Measurement" id="txtMeasurement" style="width:100%" /></td>
                                                        <td style="width:16%;text-align:right;"><input type="text" id="txtQty" placeholder="Type Qty" style="width:42%" />&nbsp;<input type="text" id="txtUnitPrice" placeholder="Type Price" style="width:42%" /></td>
                                                        <td style="width:28%;text-align:right;"><a id="btnAddDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a><a id="btnPickPIDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-pick" plain="true">Pick</a> <a id="btnUpdateMeasurement" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true"></a><a id="btnDeleteDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a><a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"></a></td>
                                                    </tr>
                                                </table>

                                            </div>
                                            <table border="0" cellpadding="01" cellspacing="1" style="width:100%;">
                                                <tr>
                                                    <td style="width:25%;  text-align:right;font-weight:bold;">Total:</td>
                                                    <td style="width:20%;  text-align:right;font-weight:bold;"><label id="lblTotalQty">0</label><span class="lblMUnit"></span> </td>
                                                    <td style="width:25%; text-align:center; font-weight:bold;"><label id="lblTotalAmount"> </label> </td>
                                                    <td style="width:30%; text-align:left; font-weight:bold;"><span class="lblBalanceText"></span><label id="lblBalancePI"> </label> </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="width:25% ;height:275px;vertical-align:top" >
                                            <table id="tblDyeingOrder" title="Sample Invoice Detail" class="easyui-datagrid" style="width:100%;height:275px;"
                                                   data-options="singleSelect: true,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false, toolbar:toolbarDyeingOrderDetail">
                                                <thead>
                                                    <tr>
                                                        <th field="SampleInvocieNo" width="55%" align="center">Invoice No</th>
                                                        <th field="Amount" width="40%" align="right" formatter="formatPrice">Amount</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                            <div id="toolbarDyeingOrderDetail">
                                                <input id="txtSampleInvoice" class="reset-text" placeholder="Search Dyeing Order By Invoice" style="width:55%" />
                                                <a id="btnPickDyeingOrder" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                                <a id="btnDeleteDyeingOrder" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-remove" plain="true"></a>
                                            </div>
                                            <table border="0" cellpadding="01" cellspacing="1" style="width:100%;">
                                                <tr>
                                                    <td style="width:25%;  text-align:right;font-weight:bold;">Total:</td>
                                                    <td style="width:20%;  text-align:right;font-weight:bold;"><label id="lblTotalInvoiceAmount">0</label></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                </fieldset>
    </div>
                    </div>
                    <div style="width:100%; height:10%">
                        <fieldset>
                            <legend style="font-weight: bold">Action : </legend>
                            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                                <tr>
                               
                                    <td style="width: 10%;text-align:right">
                                        <a id="btnPrintPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                                    </td>
                                    <td style="width:60%; text-align:right"></td>
                                    <td style="width: 20%;text-align:right">
                                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                                        <a id="btnSaveLog" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save(Revise)</a>
                                        <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" onclick="Approve()" plain="true">Approve</a>
                                    </td>
                                    <td style="width: 10%;text-align:right">
                                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </div>
                </div>
                <div title="Adjustment Settle" style="padding:2px">
                    <div style="width:100%;height:270px;">
                        <table id="tblExportPIDetail" title="Export PI Detail" class="easyui-datagrid" style="width:100%;height:250px;"
                               data-options="singleSelect: true,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false">
                            <thead>
                                <tr>
                                    <th rowspan="2" field="ProductNameCode" width="15%" align="left">Product Name</th>
                                    <th rowspan="2" field="StyleNo" width="8%" align="center">Style</th>
                                    <th rowspan="2" field="ColorInfo" width="8%" align="center">Color</th>
                                    <th colspan="3" width="24%" align="center">PI Info</th>
                                    <th colspan="3" width="24%" align="center">Adj Info</th>
                                    <th colspan="2" width="16%" align="center">Actual Dyeing Info</th>
                                </tr>
                                <tr>
                                
                                    <th field="Qty" width="8%" align="right" formatter="formatPrice">Qty</th>
                                    <th field="UnitPrice" width="8%" align="right" formatter="formatPrice">Unit Price</th>
                                    <th field="Amount" width="8%" align="right" formatter="formatPrice">Amount</th>

                                
                                    <th field="AdjQty" width="8%" align="right" formatter="formatPrice">Qty</th>
                                    <th field="AdjRate" width="8%" align="right" formatter="formatPrice">Unit Price</th>
                                    <th field="AdjValue" width="8%" align="right" formatter="formatPrice">Amount</th>

                                    <th field="ActualQty" width="8%" align="right" formatter="formatPrice">Qty</th>
                                    <th field="ActualAmount" width="8%" align="right" formatter="formatPrice">Amount</th>
                                </tr>
                            </thead>
                        </table>

                        <div style="float:left; width:100%;">
                            <div style="float:left; width:32%;" class="align-right">
                                <b>Total</b>
                            </div>
                            <div style="float:left; width:8%;" class="align-right">
                                <label id="lbl-td-TotalQty">0</label><span class="lblMUnitTwo"></span>
                            </div>
                            <div style="float:left; width:16%;" class="align-right">
                                <span class="lblCurrencyTwo"></span> <label id="lbl-td-TotalAmount">0</label>
                            </div>
                            <div style="float:left; width:8%;" class="align-right">
                                <label id="lbl-td-TotalAdjQty">0</label><span class="lblMUnitTwo"></span>
                            </div>
                            <div style="float:left; width:15%;" class="align-right">
                                <span class="lblCurrencyTwo"></span><label id="lbl-td-TotalAdjValue">0</label>
                            </div>
                            <div style="float:left; width:8%;" class="align-right">
                                <label id="lbl-td-TotalActualQty">0</label><span class="lblMUnitTwo"></span>
                            </div>
                            <div style="float:left; width:8%;" class="align-right">
                                <span class="lblCurrencyTwo"></span> <label id="lbl-td-TotalActualAmount">0</label>
                            </div>
                        </div>

                    </div>

                    <div style="float:left; width:100%">
                        <div style="float:left; width:50%">
                            <table id="tblDyeingOrder2" title="Sample Invoice Detail" class="easyui-datagrid" style="width:100%;height:202px;"
                                   data-options="singleSelect: true,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false">
                                <thead>
                                    <tr>
                                        <th field="SampleInvocieNo" width="25%" align="center">Invoice No</th>
                                        <th field="OrderNo" width="25%" align="center">Order No</th>
                                        <th field="Qty" width="20%" align="right" formatter="formatPrice">Qty</th>
                                        <th field="Amount" width="20%" align="right" formatter="formatPrice">Amount</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div style="float:left; width:49%; border:1px solid; height:200px;" >
                            <table cellpadding="1" cellspacing="1" style="padding-top:10px;">
                                <tr> 
                                    <td class="td-summary-one" align="right">PI Amount: </td>
                                    <td class="td-summary-one" align="left"><span class="lblCurrencyTwo"></span><label id="lblPIAmount"></label></td>
                                    <td class="td-summary-two" align="right">Actual Amount: </td>
                                    <td class="td-summary-one" align="left"><span class="lblCurrencyTwo"></span><label id="lblActualAmount"></label></td>
                                    <td class="td-summary-one" align="right">Adj Value: </td>
                                    <td class="td-summary-one" align="left"><span class="lblCurrencyTwo"></span><label id="lblAdjValue"></label></td>
                                </tr>
                                <tr>
                                    <td class="td-summary-one" align="right">PI Qty<span class="lblMUnit"></span>: </td>
                                    <td class="td-summary-one" align="left"><label id="lblPIQty"></label></td>
                                    <td class="td-summary-two" align="right">Actual Qty: </td>
                                    <td class="td-summary-one" align="left"><label id="lblActualQty"></label></td>
                                    <td class="td-summary-one" align="right">Adj Qty: </td>
                                    <td class="td-summary-one" align="left"><label id="lblAdjQty"></label></td>
                                </tr>
                                <tr>
                                    <td colspan="6">
                                        <hr />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="td-summary-one" align="right">Adj Value: </td>
                                    <td class="td-summary-one" align="left"><span class="lblCurrencyTwo"></span><label id="lblAdjAmount"></label></td>
                                    <td class="td-summary-two" align="right">Invoice Value: </td>
                                    <td class="td-summary-one" align="left"><span class="lblCurrencyTwo"></span><label id="lblInvoiceValue"></label></td>
                                    <td class="td-summary-one" align="right">Balance: </td>
                                    <td class="td-summary-one" align="left"><span class="lblCurrencyTwo"></span><label id="lblBalance"></label></td>
                                </tr>
                            </table>
                        
                        </div>
                   
                    </div>

                    <fieldset>
                        <legend>Action</legend>
                        <div class="align-right">
                            <a id="btnSaveAdjustment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            <a id="btnCloseAdjustment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </div>
                    </fieldset>
                </div>
                <div title="Production and Delivery Specification" style="padding:2px">
                    <div style="width:100%;height:270px;">
                        <table id="tblSCDetailsTwo" title="Detail" class="easyui-datagrid" style="width:100%;height:270px;"
                               data-options="singleSelect: true,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false">
                            <thead>
                                <tr>
                                    <th field="ProductCode" width="8%" align="left"> Code</th>
                                    <th field="ProductName" width="30%" align="left">Item Name</th>
                                    <th field="MUName" width="8%" align="left">Unit</th>
                                    <th data-options="field:'Qty',align:'right',editor:{type:'numberbox',options:{precision:2}}" width="10%"> Qty</th>
                                    <th data-options="field:'UnitPrice',align:'right',editor:{type:'numberbox',options:{precision:4}}" width="10%"> UnitPrice</th>
                                    <th field="AmountSt" width="8%" align="left">Amount</th>
                                </tr>
                            </thead>
                        </table>

                        <div style="float:left; width:100%;">
                            <div style="float:left; width:30%;" class="align-right">
                                <b>Total</b>
                            </div>
                            <div style="float:left; width:20%;" class="align-right">
                                <label id="lbl-td-TotalQty">0</label>
                            </div>
                            <div style="float:left; width:16%;" class="align-right">
                            </div>
                            <div style="float:left; width:20%;" class="align-right">
                                <span class="lblCurrencyTwo"></span>  <label id="lbl-td-TotalAmount">0</label>
                            </div>
                            <div style="float:left; width:30%;" class="align-right">
                         
                            </div>
                        </div>

                    </div>

                    <div style="float:left; width:100%">
                        <div style="float:left; width:100%">
                            <table style="width:100% ;height:150px">
                                <tr>
                                    <td style="width:20% ;height:150px">
                                        <fieldset>
                                            <legend style="text-align:left; font-weight:bold;"> Production Control : </legend>
                                            <table style="width:100% ;height:140px;">

                                                <tr>
                                                    <td style="width:100%"><input type="checkbox" id="chkPIIssue_Pro" value="value" onclick="if(this.checked){IsPIIssue_Pro()}" />After PI Issue </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:100%"><input type="checkbox" id="chkLCOpen_Pro" value="value" onclick="if(this.checked){IsLCOpen_Pro()}" />After LC Open </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:100%"><input type="checkbox" id="chkBillAcceptance_Pro" value="value" onclick="if(this.checked){IsBillAcceptance_Pro()}else{IsProductionControl()}" />After Bill Acceptance </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:100%"><input type="checkbox" id="chkUDReceive_Pro" value="value" onclick="if(this.checked){IsUDReceive_Pro()}else{IsProductionControl()}" />After UD Receive </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:100%"><input type="checkbox" id="chkBillMaturity_Pro" value="value" onclick="if(this.checked){IsBillMaturity_Pro()}else{IsProductionControl()}" />After Bill Maturity</td>
                                                </tr>
                                            </table>
                                        </fieldset>
                                    </td>
                                    <td style ="width:20% ;height:150px">
                                        <fieldset>
                                            <legend style="text-align:left; font-weight:bold;"> Delivery Control : </legend>
                                            <table style="width:100% ;height:140px">

                                                <tr>
                                                    <td style="width:100%"><input type="checkbox" id="chkPIIssue_Del" value="value" onclick="if(this.checked){IsPIIssue_Del()}" />After PI Issue </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:100%"><input type="checkbox" id="chkLCOpen_Del" value="value" onclick="if(this.checked){IsLCOpen_Del()}" />After LC Open </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:100%"><input type="checkbox" id="chkBillAcceptance_Del" value="value" onclick="if(this.checked){IsBillAcceptance_Del()}else{IsProductionControl()}" />After Bill Acceptance </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:100%"><input type="checkbox" id="chkUDReceive_Del" value="value" onclick="if(this.checked){IsUDReceive_Del()}else{IsProductionControl()}" />After UD Receive </td>
                                                </tr>
                                                <tr>
                                                    <td style="width:100%"><input type="checkbox" id="chkBillMaturity_Del" value="value" onclick="if(this.checked){IsBillMaturity_Del()}else{IsProductionControl()}" />After Bill Maturity</td>
                                                </tr>
                                            </table>
                                        </fieldset>
                                        </td>
                                    <td style="width:55% ;height:150px">
                                        <fieldset>
                                            <legend style="text-align:left; font-weight:bold;"> L/C Info : </legend>
                                            <table style="width:100% ;height:140px">

                                            </table>
                                        </fieldset>
                                    </td>
                                </tr>
                            </table>
                                                
                        </div>
                    
                    </div>

                    <fieldset>
                        <legend>Action</legend>
                        <div class="align-right">
                            <a id="btnSaveTerms" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                            <a id="btnCloseTerms" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </div>
                    </fieldset>
                </div>
            </div> 
        </div>
    </body>
</html>

<style type="text/css">
    .td-summary-one{
        width:17%;
    }
    .td-summary-two{
        width:19%;
    }
</style>

<script type="text/javascript">
    var _oExportSC=null;
    var _sBaseAddress="";
    var _sExportSCHeader="";
    var _nMenuid=0;
    var _sBackLink="";
    var _nTotalAmount=0;
    var _oProduct = null;
    var _oColorCategory = null;
    var _oExportPIDetails=[];
    var _oPolyMeasurement = null;
    var _oPolyMeasurementTyps = [];
    $(document).ready(function () {
        debugger;
        _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oExportSC =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oExportPIDetails =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.ExportPIDetails));
        _oPolyMeasurementTyps =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.PolyMeasurementTypes));
        _sBackLink=sessionStorage.getItem("BackLink");
        _sExportSCHeader=sessionStorage.getItem("ExportSCHeader");
        $('#txtQty').icsCurrencyBox(null, null,2);
        $('#txtUnitPrice').icsCurrencyBox(null, null,4);
        $('#txtColorQty').icsCurrencyBox(null, null, 0);
        $('#btnPickPIDetail,#btnApprove,#btnSaveLog,#btnSaveAdjustment').hide();
        if(_sExportSCHeader=="View Export SC")
        {
            $("#txtRateUnit").prop('disabled', true);
            $('#btnSave,#btnSaveAdjustment').hide();
            $('#btnApprove').hide();
            $('#btnProductPick').hide();
            $('#btnDeleteDetail').hide();
            $('#btnDeleteDetail').hide();
            $("#btnAddDetail,#btnProductPick,#btnColorPick,#txtProductName,#txtColorName,#txtColorQty,#lblColorQtyCaption,#txtProductDescription,#cboUnit,#txtStyleDescription,#txtBuyerRef,#txtMeasurement,#txtQty,#txtUnitPrice").hide();

        }
        if(_sExportSCHeader=="AdjustmenSttle")
        {
            $('#btnSave').hide();
            $('#btnApprove').hide();
            $('#btnProductPick').hide();
            $('#btnDeleteDetail').hide();
            $('#btnDeleteDetail').hide();
            $('#tabSalesContract').tabs('select', 1);
        }
        if(_sExportSCHeader=="Approve Export SC")
        {
            $('#btnSave,#btnSaveAdjustment').hide();
            $('#btnApprove').show();
        }
        if(_sExportSCHeader=="Change Export SC")
        {
            $('#btnSave,#btnSaveAdjustment').hide();
            //$("#btnAddDetail,#btnProductPick,#btnColorPick,#txtProductName,#txtColorName,#txtColorQty,#lblColorQtyCaption,#txtProductDescription,#cboUnit,#txtStyleDescription,#txtBuyerRef,#txtMeasurement,#txtQty,#txtUnitPrice").hide();
            $('#btnSaveLog,#btnPickPIDetail').show();
        }
        RefreshControl();
        RefreshControlAdjSettle();

        _oExportSC.Production_ControlBy==1;
       // RefreshSummary_Inv();
    });

    $('#txtRateUnit').change(function(){
        debugger;
        RefreshSummary();
    });


    function RefreshControl()
    {
        $(".lblCurrency").html("("+_oExportSC.Currency+")");
        $(".lblCurrencyTwo").html(_oExportSC.Currency);
        $('#txtPINo').val(_oExportSC.PINo_Full);
        $('#txtIssueDate').val(_oExportSC.IssueDateSt);
        $('#txtMKTPerson').val(_oExportSC.MKTPName);
        $('#txtContractorName').val(_oExportSC.ContractorName);
       // $('#txtPaymentType').val(_oExportSC.PaymentTypeSt);
        $('#txtBuyerName').val(_oExportSC.BuyerName);
        $('#txtPIValue').val(formatPrice(_oExportSC.Amount_PI,null));
        $('#txtAdjAmount').val(formatPrice(_oExportSC.AmountToBeAdjusted,null));
        $('#txtActualValue').val(formatPrice((_oExportSC.Amount_PI-_oExportSC.AmountToBeAdjusted),null));
        $('#txtPIQty').val(formatPrice(_oExportSC.Qty_PI,null));
        $('#txtAdjQty').val(formatPrice(_oExportSC.AdjQty,null));
        $('#txtRateUnit').val(_oExportSC.RateUnit);
        $('#txtLCDate').val(_oExportSC.ExportLCDateSt);
        $('#txtLCNo').val(_oExportSC.ELCNo);

        if(_oExportSC.ExportSCDetails!=null)
        {
            RefreshExportSCDetails(_oExportSC.ExportSCDetails)
            $(".lblMUnit").html("("+_oExportSC.ExportSCDetails[0].MUName+")");
            $(".lblMUnitTwo").html(" "+_oExportSC.ExportSCDetails[0].MUName);
        }
        RefreshSummary();

    }

    function RefreshControlAdjSettle(){
        debugger;
        DynamicRefreshList(_oExportPIDetails, "tblExportPIDetail");
        var nQty=0, nAmount=0, nAdjQty=0, nAdjValue=0, nActualQty=0, nActualAmount=0;
        for(var i=0; i<_oExportPIDetails.length;i++){
            nQty=parseFloat(nQty)+ parseFloat(_oExportPIDetails[i].Qty);
            nAmount=parseFloat(nAmount)+ parseFloat(_oExportPIDetails[i].Amount);
            nAdjQty=parseFloat(nAdjQty)+ parseFloat(_oExportPIDetails[i].AdjQty);
            nAdjValue=parseFloat(nAdjValue)+ parseFloat(_oExportPIDetails[i].AdjValue);
            nActualQty=parseFloat(nActualQty)+ parseFloat(_oExportPIDetails[i].ActualQty);
            nActualAmount=parseFloat(nActualAmount)+ parseFloat(_oExportPIDetails[i].ActualAmount);
        }

        $('#lbl-td-TotalQty,#lblPIQty').text(formatPrice(nQty));
        $('#lbl-td-TotalAmount,#lblPIAmount').text(formatPrice(nAmount));
        $('#lbl-td-TotalAdjQty,#lblAdjQty').text(formatPrice(nAdjQty));

        $('#lbl-td-TotalActualQty,#lblActualQty').text(formatPrice(nActualQty));
        $('#lbl-td-TotalActualAmount,#lblActualAmount').text(formatPrice(nActualAmount));

        _oExportSC.SampleInvoiceAdjAmount=parseFloat(0);
        _oExportSC.AmountToBeAdjusted=parseFloat(nAdjValue)+parseFloat(0);

        $('#lbl-td-TotalAdjValue,#lblAdjValue,#lblAdjAmount').text(formatPrice(_oExportSC.AmountToBeAdjusted));

        $('#lblInvoiceValue').text(formatPrice(0));
        $('#lblBalance').text(formatPrice(_oExportSC.AmountToBeAdjusted- 0));
        $('#txtActualValue').val(formatPrice((_oExportSC.Amount_PI-_oExportSC.AmountToBeAdjusted),null));

        $('#txtAdjAmount').val(formatPrice(_oExportSC.AmountToBeAdjusted,null));

    }

    function RefreshExportSCDetails(oExportSCDetails)
    {
        var data={"total":""+oExportSCDetails.length+"","rows":oExportSCDetails};
        $('#tblSCDetails').datagrid('loadData',data);

        var data={"total":""+oExportSCDetails.length+"","rows":oExportSCDetails};
        $('#tblSCDetailsTwo').datagrid('loadData',data);


    }

    function ValidateInput()
    {
        var oESCDetails=$("#tblSCDetails").datagrid('getRows');
        if (!oESCDetails || oESCDetails.length<=0)
        {
            alert("Please Add Product(s).");
            return false;
        }
        for(var i =0;i<oESCDetails.length;i++)
        {
            if(parseFloat(oESCDetails[i].Qty)<=0 && parseFloat(oESCDetails[i].OverQty)<=0)
            {
                alert("Qty or Over Qty Should be Greater than 0.");
                return false;
            }
        }
        _oExportSC.AmountToBeAdjusted=_oExportSC.AdjAmount+_oExportSC.SampleInvoiceAdjAmount;
        var nActualAmount=(_oExportSC.Amount_PI-_oExportSC.AmountToBeAdjusted);
        nActualAmount=_nTotalAmount-nActualAmount;
        if (nActualAmount<-0.1)
        {
            alert(_oExportSC.SampleInvoiceAdjAmount);
            alert(" your actual amount must be "+formatPrice(_oExportSC.Amount_PI-_oExportSC.AmountToBeAdjusted) +". Your entry amount is :"+ formatPrice(_nTotalAmount));
            return false;
        }

        if (Math.round(nActualAmount,2)>0.2)
        {
            alert("You can not exced PI Amount. your actual amount must be "+formatPrice(_oExportSC.Amount_PI-_oExportSC.AmountToBeAdjusted) +". Your entry amount is :"+ formatPrice(_nTotalAmount));
            return false;
        }


        return true;
    }

    function RefreshObject()
    {
        var oExportSC= {
            ExportSCID :_oExportSC.ExportSCID,
            ExportPIID :_oExportSC.ExportPIID,
            RateUnit:$('#txtRateUnit').val(),
            ExportSCDetails:$("#tblSCDetails").datagrid('getRows')
        };
        return oExportSC;
    }

    $("#btnSave").click(function(){
        debugger;
        endEditing();
        RefreshSummary();
        if(!ValidateInput()) return false;
        var oExportSC=RefreshObject();
        $.icsSave({
            BaseAddress: _sBaseAddress,
            Object: oExportSC,
            ObjectId: oExportSC.ExportSCID,
            ControllerName: "ExportSC_Common",
            ActionName: "Save",
            TableId: "",
            IsWinClose: false,
            Message: "Data Saved Successfully."

        },function (response){
            if(response.status && response.obj!=null){
                if(response.obj.ExportSCID>0){
                    var oExportSC =response.obj;
                    var oExportSCs =sessionStorage.getItem("ExportSCs");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    debugger;
                    if(oExportSCs!=null)
                    {
                        oExportSCs = jQuery.parseJSON(oExportSCs);
                    }
                    else
                    {
                        oExportSCs=[];
                    }
                    if(nIndex!=-1)
                    {
                        oExportSCs[nIndex]=oExportSC;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oExportSCs.length);
                        oExportSCs.push(oExportSC);
                    }
                    sessionStorage.setItem("ExportSCs", JSON.stringify(oExportSCs));
                    window.location.href =_sBackLink; //_sBaseAddress+ "/ExportSC/ViewExportSCs?menuid="+_nMenuid;
                }
            }
        });

    });
    $("#btnSaveLog").click(function(){
        debugger;
        endEditing();
        RefreshSummary();
        if(!ValidateInput()) return false;

        var oExportSC=RefreshObject();

        $.icsSave({
            BaseAddress: _sBaseAddress,
            Object: oExportSC,
            ObjectId: oExportSC.ExportSCID,
            ControllerName: "ExportSC_Common",
            ActionName: "SaveLog",
            TableId: "",
            IsWinClose: false,
            Message: "Data Saved Successfully."

        },function (response){
            if(response.status && response.obj!=null){
                if(response.obj.ExportSCID>0){
                    var oExportSC =response.obj;
                    var oExportSCs =sessionStorage.getItem("ExportSCs");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    debugger;
                    if(oExportSCs!=null)
                    {
                        oExportSCs = jQuery.parseJSON(oExportSCs);
                    }
                    else
                    {
                        oExportSCs=[];
                    }
                    if(nIndex!=-1)
                    {
                        oExportSCs[nIndex]=oExportSC;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oExportSCs.length);
                        oExportSCs.push(oExportSC);
                    }
                    sessionStorage.setItem("ExportSCs", JSON.stringify(oExportSCs));
                    window.location.href =_sBackLink; //_sBaseAddress+ "/ExportSC/ViewExportSCs?menuid="+_nMenuid;
                }
            }
        });

    });
    function Approve()
    {
        //debugger;
        if(_oExportSC==null || _oExportSC.ExportSCID<=0)
        {
            alert("without save can't Approve!");
            return false;
        }
        if(_oExportSC.IsRevisePI==false)
        {
            alert("Sorry, Already Approved");
            return false;
        }
        RefreshSummary();

        if (!confirm("Confirm to Approve?")) return ;
        debugger;
        if(!ValidateInput()) return;
        var oExportSC=RefreshObject();

        $.icsSave({
            BaseAddress: _sBaseAddress,
            Object: oExportSC,
            ObjectId: oExportSC.ExportSCID,
            ControllerName: "ExportSC_Common",
            ActionName: "Approved",
            TableId: "",
            IsWinClose: false,
            Message: "Data Saved Successfully."

        },function (response){
            if(response.status && response.obj!=null){
                debugger;
                if(response.obj.ExportSCID>0){
                    var oExportSC =response.obj;
                    var oExportSCs =sessionStorage.getItem("ExportSCs");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    debugger;
                    if(oExportSCs!=null)
                    {
                        oExportSCs = jQuery.parseJSON(oExportSCs);
                    }
                    else
                    {
                        oExportSCs=[];
                    }
                    if(nIndex!=-1)
                    {
                        oExportSCs[nIndex]=oExportSC;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oExportSCs.length);
                        oExportSCs.push(oExportSC);
                    }
                    sessionStorage.setItem("ExportSCs", JSON.stringify(oExportSCs));
                    window.location.href =_sBackLink; //_sBaseAddress+ "/ExportSC/ViewExportSCs?menuid="+_nMenuid;
                }
            }
        });
    }
    $("#btnClose,#btnCloseAdjustment,#btnCloseTerms").click(function(){
        window.location.href =_sBackLink;// _sBaseAddress+ "/ExportSC/ViewExportSCs?menuid="+_nMenuid;
    });

    var editIndex = undefined;
    function endEditing() {
        if (editIndex == undefined) { return true }
        if ($('#tblSCDetails').datagrid('validateRow', editIndex)) {
            $('#tblSCDetails').datagrid('endEdit', editIndex);
            $('#tblSCDetails').datagrid('selectRow', editIndex);
            var oESCDetail = $('#tblSCDetails').datagrid('getSelected');
            debugger;
            if(oESCDetail!=null)
            {
                oESCDetail.Amount =  parseFloat(parseFloat(oESCDetail.Qty)/ parseInt($('#txtRateUnit').val())) * parseFloat(oESCDetail.UnitPrice);
                oESCDetail.AmountSt = _oExportSC.Currency+''+formatPrice(parseFloat(parseFloat(oESCDetail.Qty)/ parseInt($('#txtRateUnit').val())) * parseFloat(oESCDetail.UnitPrice));
                $('#tblSCDetails').datagrid('updateRow', { index: editIndex, row: oESCDetail });
            }
            //oESCDetail.AmountSt=_oExportSC.Currency+''+(oESCDetail.Qty* oESCDetail.UnitPrice);
            RefreshSummary();
            editIndex = undefined;
            return true;
        }
        else {
            return false;
        }
    }

    function onClickRow(index) {

        if (editIndex != index) {
            if (endEditing()) {
                $('#tblSCDetails').datagrid('selectRow', index).datagrid('beginEdit', index);
                var oPRDetail= $('#tblSCDetails').datagrid('getSelected');

                editIndex = index;
            }
            else {
                $('#tblSCDetails').datagrid('selectRow', editIndex);
            }
        }
    }


    function IsExist(nProductID)
    {
        var oPRDetails = $('#tblSCDetails').datagrid('getRows');

            for (var i = 0; i < oPRDetails.length; i++) {
                if (parseInt(oPRDetails[i].ProductID) == parseInt(nProductID))
                {
                    return true;
                }
            }

        return false;
    }

    $('#btnUpdateMeasurement').click(function(e)
    {
        var oSCDetails = $("#tblSCDetails").datagrid("getSelected");
        if (oSCDetails == null || parseInt(oSCDetails.ProductID) <= 0) { alert("Please select an item from list!"); return false; }
        $('#txtChangeMeasurement').val(oSCDetails.Measurement);
        $('#txtChangeMeasurement').addClass('fontColorOfPickItem');     
        _oPolyMeasurement = {            
            PolyMeasurementID : parseInt(oSCDetails.PolyMUnitID)
        };
        $("#winChangeMeasurement").icsWindow('open', "Update Info");
    });

    function UpdateInfo()
    {
        var oSCDetail = $("#tblSCDetails").datagrid("getSelected");
        var SelectedRowIndex=$('#tblSCDetails').datagrid('getRowIndex',oSCDetail);
        oSCDetail.PolyMUnitID =  _oPolyMeasurement==null || _oPolyMeasurement == "" ? 0: parseInt(_oPolyMeasurement.PolyMeasurementID);
        oSCDetail.Measurement  =  $('#txtChangeMeasurement').val();
        $('#tblSCDetails').datagrid('updateRow',{index: SelectedRowIndex,	row: oSCDetail});
        alert("Data Saved Succesfully");
        $("#winChangeMeasurement").icsWindow('close');
    }

    function CloseUpdateInfo()
    {
        $("#winChangeMeasurement").icsWindow('close');
    }

    //Product Part
    $("#txtProductName").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);

        if (code == 13) // Enter Press
        {
            if($.trim($('#txtProductName').val())==null ||$.trim($('#txtProductName').val())=="")
            {
                alert("Please type Product and Press Enter");
            }
            GetProducts();

        }
        if (code == 8) //backspace=8
        {
            var txtProductName = document.getElementById("txtProductName");
            txtProductName.value = '';
            txtProductName.style.color = "black";
            txtProductName.style.fontWeight = "normal";

        }
    });

    function GetProducts()
    {
        var oProduct = { BUID:sessionStorage.getItem("BUID"),ProductName:$('#txtProductName').val()};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0)
            {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];var oColumn ={};
                    oColumn= { field: "ProductCode", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Item Name", width: 350, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winProductPicker',
                        winclass: 'clsProductPicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProductPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'NameCode',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);//multiple return
                }
                else {
                    alert("Data Not Found");
                    return;
                }

            }
            else
            {
                alert("Data Not Found");
                return;

            }
        });
    }
    //Load for button click
    $("#btnProductPick").click(function () {
        if(parseInt(_oExportSC.ExportPIID)<=0)
        {
            alert("Please Select PI!");
            return;
        }
        GetDetails();
    });

    //Color Name
    $("#txtColorName").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($('#txtColorName').val()==null || $('#txtColorName').val()=="")
            {
                alert("Please Type Color Name and Press Enter.");
                $('#txtColorName').focus();
                return;
            }

            ColorPick($('#txtColorName').val());
        }
    });
    $("#btnColorPick").click(function () {
        ColorPick("");
    });
    function ColorPick(sColorName)
    {
        var oColorCategory = {Param:sColorName };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oColorCategory,
            ControllerName: "ColorCategory",
            ActionName: "SearchColor",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ColorCategoryID > 0) {
                    debugger;
                    var tblColums = []; var oColumn = { field: "ColorName", title: "Color Name", width: 250, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Note", title: "Note", width: 120, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winColorCategory',
                        winclass: 'clsColorCategory',
                        winwidth: 500,
                        winheight: 400,
                        tableid: 'tblColorCategory',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: false,
                        searchingbyfieldName: 'ColorName',
                        windowTittle: 'Color Category List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
            }
        });
    }
    $('#txtColorName').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            //debugger;
            $("#txtColorName").removeClass("fontColorOfPickItem");
            _oColorCategory =null;
        }
    });

    $("#txtMeasurement").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            $("#cboPolyMeasurementType").icsLoadCombo({List: _oPolyMeasurementTyps, OptionValue: "id", DisplayText: "Value" });
            $("#cboPolyMeasurementType").val(0);  $('#txtPolyMeasurement').val('');
            DynamicRefreshList([],'tblPolyMeasurements');
            $("#winMeasurement").data('MeasurementWindow', 'Edit');
            $("#winMeasurement").icsWindow('open', "Poly Measurement List");
        }else if (code == 8) //backspace=8
        {
            //debugger;
            $("#txtMeasurement").removeClass("fontColorOfPickItem");
            _oPolyMeasurement =null;
        }
    });
    $("#txtChangeMeasurement").keydown(function (e) {
        debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            $("#cboPolyMeasurementType").icsLoadCombo({List: _oPolyMeasurementTyps, OptionValue: "id", DisplayText: "Value" });
            $("#cboPolyMeasurementType").val(0);  $('#txtPolyMeasurement').val('');
            DynamicRefreshList([],'tblPolyMeasurements');
            $("#winMeasurement").data('MeasurementWindow', 'Edit');
            $("#winMeasurement").icsWindow('open', "Poly Measurement List");
        }
        else if (code == 8) //backspace=8
        {
            //debugger;
            $("#txtMeasurement").removeClass("fontColorOfPickItem");
            _oPolyMeasurement =null;
        }
    });
    $('#txtPolyMeasurement').keypress(function (e){
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13)
        {
            var oPolyMeasurement = {
                Measurement : $('#txtPolyMeasurement').val(),
                PolyMeasurementTypeInt : parseInt($('#cboPolyMeasurementType').val())
            };
            $.ajax({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+"/PolyMeasurement/SearchByMeasurement",
                data: JSON.stringify(oPolyMeasurement),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oPolyMeasurements = jQuery.parseJSON(data);
                    if (oPolyMeasurements.length>0)
                    {
                        //RefreshList(oPolyMeasurements);
                        DynamicRefreshList(oPolyMeasurements,'tblPolyMeasurements');
                    }
                    else
                    {
                        alert("Data Not found");
                        RefreshList([]);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
        }
    });

    function SelectMeasurement()
    {
        var oMeasurement= $('#tblPolyMeasurements').datagrid('getSelected');
        if(oMeasurement==null || oMeasurement.PolyMeasurementID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if($("#winMeasurement").data('MeasurementWindow')=='Add')
        {
            $('#txtMeasurement').val(oMeasurement.Measurement);
            $('#txtMeasurement').addClass('fontColorOfPickItem');
            _oPolyMeasurement = oMeasurement;
            $('#txtMeasurement').focus();
        }
        else
        {
            $('#txtChangeMeasurement').val(oMeasurement.Measurement);
            $('#txtChangeMeasurement').addClass('fontColorOfPickItem');
            _oPolyMeasurement = oMeasurement;
            $('#txtChangeMeasurement').focus();
        }
        $("#winMeasurement").icsWindow('close');
    }
    function CloseMeasurementPick()
    {
        $("#winMeasurement").icsWindow('close');
    }



    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);

            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        if (oPickerobj.winid == 'winProductPicker')
        {
            debugger;
            if (oreturnObj!=null && parseInt(oreturnObj.ProductID)> 0)
            {
                $("#txtProductName").val(oreturnObj.ProductName);
                $("#txtProductName").addClass('fontColorOfPickItem');
                $('#txtProductDescription').val(oreturnObj.ProductDescription);
                _oProduct = oreturnObj;
                GetMeasurementUnitByType(oreturnObj.UnitTypeInInt);
                if(_oProduct.IsApplyColor){$('#txtColorName,#btnColorPick').show();}else{$('#txtColorName,#btnColorPick').hide();}
                if(_oProduct.IsApplyMeasurement){$('#txtMeasurement').show();}else{$('#txtMeasurement').hide();}
                $('#txtProductName').focus();
            }
        }else if (oPickerobj.winid=='winColorCategory')
        {
            if (oreturnObj != null && oreturnObj.ColorCategoryID > 0)
            {
                $('#txtColorName').val(oreturnObj.ColorName);
                $('#txtColorName').addClass('fontColorOfPickItem');
                _oColorCategory = oreturnObj;
                $('#txtColorName').focus();
            }
        }else if(oPickerobj.winid='winPIDetailPicker')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0)
            {
                var oPriviousDetails =  $('#tblSCDetails').datagrid('getRows');
                for(var i=0;i<oreturnobjs.length;i++)
                {
                    var oESCDetail = {
                        ExportSCDetailID : 0,
                        ExportPIDetilID:oreturnobjs[i].ExportPIDetailID,
                        OrderSheetDetailID:oreturnobjs[i].OrderSheetDetailID,
                        ProductID: oreturnobjs[i].ProductID,
                        ColorID: oreturnobjs[i].ColorID,
                        ProductDescription: oreturnobjs[i].ProductDescription,
                        StyleNo :oreturnobjs[i].StyleNo,
                        Measurement  :oreturnobjs[i].Measurement,
                        Qty :oreturnobjs[i].Qty,
                        OverQty:oreturnobjs[i].OverQty,
                        UnitPrice:oreturnobjs[i].UnitPrice,
                        BuyerRef:oreturnobjs[i].BuyerReference,
                        ColorQty:oreturnobjs[i].ColorQty,
                        ModelReferenceID :oreturnobjs[i].ModelReferenceID,
                        MUnitID:oreturnobjs[i].MUnitID,
                        MUName:oreturnobjs[i].MUName,
                        ProductCode :oreturnobjs[i].ProductCode,
                        ProductName :oreturnobjs[i].ProductName,
                        ModelReferenceName : oreturnobjs[i].ModelReferenceName,
                        ColorName :oreturnobjs[i].ColorName,
                        SizeName :oreturnobjs[i].SizeName,
                        Amount:oreturnobjs[i].Amount,
                        AmountSt:_oExportSC.Currency+''+oreturnobjs[i].Amount
                    };
                    $('#tblSCDetails').datagrid('appendRow',oESCDetail);
                }

                RefreshSummary();
            }
        }
    }

    function GetMeasurementUnitByType(nUnitTypeInt)
    {
        //debugger;
        var oMeasurementUnit={
            UnitTypeInInt : nUnitTypeInt
        };
        $.ajax ({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/MeasurementUnit/GetbyUnitType",
            data:  JSON.stringify(oMeasurementUnit),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var  oUnits = jQuery.parseJSON(data);
                if (oUnits!=null)
                {
                    if(oUnits.length>0)
                    {
                        $("#cboUnit").icsLoadCombo({List: oUnits,OptionValue: "MeasurementUnitID",DisplayText: "Symbol"});
                    }
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    }
    function ValidateInputDetail()
    {
        if(_oProduct==null || $('#txtProductName').val()=="")
        {
            $('#txtProductName').focus();
            $('#txtProductName').addClass("errorFieldBorder");
            alert('Select Product');
            return false;
        }
        if(_oProduct.IsApplyColor)
        {
            if(parseInt(_oColorCategory.ColorCategoryID)<=0)
            {
                $('#txtColorName').focus();
                $('#txtColorName').addClass("errorFieldBorder");
                alert('Select Color');
                return false;
            }
        }

        if($('#cboUnit').val()<=0)
        {
            $('#cboUnit').focus();
            alert('Select Unit.');
            return false;
        }
        if(_oProduct.IsApplyMeasurement)
        {
            if( _oPolyMeasurement==null)
            {
                $('#txtMeasurement').focus();
                $('#txtMeasurement').addClass("errorFieldBorder");
                alert('Select Measurement');
                return false;
            }
        }

      
        if(parseInt(icsRemoveComma($('#txtQty').val()))<=0)
        {
            $('#txtQty').focus();
            $('#txtQty').addClass("errorFieldBorder");
            alert('Qty Should be Greater than 0');
            return false;
        }
        if(parseFloat(icsRemoveComma($('#txtUnitPrice').val()))<=0)
        {
            $('#txtUnitPrice').focus();
            $('#txtUnitPrice').addClass("errorFieldBorder");
            alert('Rate Should be Greater than 0');
            return false;
        }

        return true;
    }

    function ResetDetail(){
        _oProduct = null;_oColorCategory = null;_oSizeCategory = null;_oPolyMeasurement = null;
        $('#txtQty,#txtUnitPrice').val(0);
        $('#txtColorQty').val(0);
        $('#txtProductName,#txtColorName,#txtProductDescription,#txtMeasurement,#txtStyleDescription,#txtBuyerRef').removeClass("fontColorOfPickItem");
        $('#txtProductName,#txtColorName,#txtProductDescription,#txtMeasurement,#txtStyleDescription,#txtBuyerRef').val("");
        var oUnits = [];
        $("#cboUnit").icsLoadCombo({List: oUnits,OptionValue: "MeasurementUnitID",DisplayText: "Symbol"});
        $('#txtProductName').focus();
    }

    $("#btnAddDetail").click(function () {
        debugger;
        if(!ValidateInputDetail())return;
        debugger;
        var oESCDetail= {
            ExportSCDetailID : 0,
            ProductID: _oProduct.ProductID,
            ColorID: _oColorCategory ==null?0: _oColorCategory.ColorCategoryID,
            ProductDescription: $('#txtProductDescription') .val(),
            StyleNo :$('#txtStyleDescription') .val(),
            Measurement  :$('#txtMeasurement') .val(),
            PolyMUnitID:_oPolyMeasurement==null || _oPolyMeasurement==""?0:_oPolyMeasurement.PolyMeasurementID,
            Qty :icsRemoveComma($('#txtQty').val()),
            UnitPrice:icsRemoveComma($('#txtUnitPrice').val()),
            BuyerRef:$('#txtBuyerRef').val(),
            ColorQty:icsRemoveComma($('#txtColorQty').val()),
            ModelReferenceID :_oProduct.ModelReferenceID,
            MUnitID:$("#cboUnit").val(),
            MUName:$("#cboUnit option:selected").text(),
            ProductCode :_oProduct.ProductCode,
            ProductName :_oProduct.ProductName,
            ModelReferenceName : _oProduct.ModelReferenceName,
            ColorName :_oColorCategory==null?'': _oColorCategory.ColorName,
            SizeName :_oProduct.AddTwo,
            Amount:parseFloat(parseFloat(icsRemoveComma($('#txtQty').val())) * parseFloat(icsRemoveComma($('#txtUnitPrice').val()))),
            AmountSt:_oExportSC.Currency+''+parseFloat(parseFloat(icsRemoveComma($('#txtQty').val())) * parseFloat(icsRemoveComma($('#txtUnitPrice').val())))
        };
        $('#tblSCDetails').datagrid('appendRow',oESCDetail);
        RefreshSummary();
        debugger;
        ResetDetail();
    });

    $("#btnPickPIDetail").click(function () {
        if(parseInt(_oExportSC.ExportPIID)<=0)
        {
            alert("Please Select PI!");
            return;
        }
        GetDetails();
    });
    function GetDetails()
    {
        var oExportPI = {
            ExportPIID:parseInt(_oExportSC.ExportPIID)
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oExportPI,
            ControllerName: "ExportPI",
            ActionName: "GetsPIDetails",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ExportPIDetailID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Product Code", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Product Name", width: 150, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "MUName", title: "Unit", width: 60, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "QtySt", title: "Qty", width: 80, align: "right" }; tblColums.push(oColumn);
                    oColumn = { field: "UnitPriceSt", title: "Price", width: 80, align: "right" }; tblColums.push(oColumn);
                    oColumn = { field: "AmountSt", title: "Amount", width: 80, align: "right" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winPIDetailPicker',
                        winclass: 'clsPIDetailPicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblPIDetailPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'ProductName',
                        windowTittle: 'Product List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });
    }

    function RefreshSummary()
    {
        debugger;
        if(parseInt($('#txtRateUnit').val())>0)
        {
            var oDetails = $('#tblSCDetails').datagrid('getRows');
            for(var i = 0;i<oDetails.length;i++)
            {
                oDetails[i].Amount = parseFloat(parseFloat(oDetails[i].Qty)/ parseInt($('#txtRateUnit').val())) * parseFloat(oDetails[i].UnitPrice);
                oDetails[i].AmountSt = _oExportSC.Currency+''+formatPrice(parseFloat(parseFloat(oDetails[i].Qty)/ parseInt($('#txtRateUnit').val())) * parseFloat(oDetails[i].UnitPrice));
            }
            DynamicRefreshList(oDetails, "tblSCDetails");
        }else{
            alert("Price Unit Should be Greater than 0");
            $('#txtRateUnit').val(1);
        }
        var oESCDetails = $('#tblSCDetails').datagrid('getRows');
        var nTotalQty = 0;
        var nBalancePI = 0;
        _nTotalAmount=0;
        for(var i = 0; i<oESCDetails.length;i++)
        {
            nTotalQty+=parseFloat(oESCDetails[i].Qty);
            _nTotalAmount+=parseFloat(oESCDetails[i].Amount);
        }
        nBalancePI=(_oExportSC.Amount_PI-_oExportSC.AmountToBeAdjusted-_nTotalAmount);
        if(nBalancePI>0)
        {
            $(".lblBalanceText").html("Yet To Convert:");
        }
        else{
            nBalancePI=(-1)*nBalancePI;
            $(".lblBalanceText").html("Over Converted:");
        }
        document.getElementById('lblTotalQty').innerHTML = formatPrice(nTotalQty,0);
        document.getElementById('lblTotalAmount').innerHTML = _oExportSC.Currency+''+formatPrice(_nTotalAmount,0);
        document.getElementById('lblBalancePI').innerHTML = _oExportSC.Currency+''+formatPrice( nBalancePI,0);
    }

    function RefreshSummary_Inv()
    {
        var oDyeingOrders = $('#tblDyeingOrder').datagrid('getRows');
        var nTotalInvAmount = 0;

        for(var i = 0; i<oDyeingOrders.length;i++)
        {

            nTotalInvAmount+=parseFloat(oDyeingOrders[i].Amount);
        }

        document.getElementById('lblTotalInvoiceAmount').innerHTML = _oExportSC.Currency+''+formatPrice(nTotalInvAmount,0);

    }


    $("#btnDeleteDetail").click(function () {
        var oESCDetails = $('#tblSCDetails').datagrid('getSelected');
        if (oESCDetails == null) {
            alert("Invalid Selection!!! please select a valid Item!");
            return false;
        }
        if (!confirm("Confirm to Remove?")) return;
        var SelectedRowIndex = $('#tblSCDetails').datagrid('getRowIndex', oESCDetails);
        $('#tblSCDetails').datagrid('deleteRow',SelectedRowIndex);
        RefreshSummary();
        editIndex = undefined;
    });
    $("#btnRefresh").click(function () {

        endEditing();
        //RefreshSummary();
    });



    /*--------------------- Adjustment Settle---------------------*/

    function GetDyeingOrderIDs(){
        var oDyeingOrders=$('#tblDyeingOrder').datagrid('getRows');
        var sIds="";
        if(oDyeingOrders.length>0){
            for(var i=0;i<oDyeingOrders.length;i++){
                sIds=sIds+oDyeingOrders[i].DyeingOrderID+",";
            }
            sIds=sIds.substring(0,sIds.length-1);
        }
        return sIds;
    }

    $("#btnResetDyeingOrder").click(function () {

        $("#txtSampleInvoice").val("");
    });

    $("#btnPickDyeingOrder").click(function () {

        var sSampleInvoiceNo=$.trim($("#txtSampleInvoice").val());
        GetDyeingOrders(sSampleInvoiceNo);
    });

    $("#txtSampleInvoice").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){
            var sSampleInvoiceNo=$.trim($("#txtSampleInvoice").val());
            GetDyeingOrders(sSampleInvoiceNo);
        }
        else if(nkeyCode==8){
            $("#txtSampleInvoice").val("");
        }
    });

    function GetDyeingOrders(sSampleInvoiceNo){

        var oDyeingOrder = {
            SampleInvocieNo: sSampleInvoiceNo,
            ContractorID:_oExportSC.ContractorID,
            Params: GetDyeingOrderIDs()
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oDyeingOrder,
            ControllerName: "DyeingOrder",
            ActionName: "GetsDyeingOrderByInvoice",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {

            if (response.status && response.objs.length > 0) {
                if (response.objs[0].DyeingOrderID > 0) {
                    debugger;
                    var tblColums = [];
                    var oColumn = { field: "OrderNo", title: "Order No", width: 85, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "SampleInvocieNo", title: "invoice No", width: 85, align: "left" };tblColums.push(oColumn);
                    oColumn = { field: "Qty", title: "TotalQty", width: 70, align: "right", formatter:formatPrice };tblColums.push(oColumn);
                    oColumn = { field: "Amount", title: "Amount", width: 90, align: "right", formatter:formatPrice };tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winDyeingOrder',
                        winclass:'clsDyeingOrder',
                        winwidth: 450,
                        winheight: 460,
                        tableid: 'tblDyeingOrderPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName:'OrderNo',
                        windowTittle: 'Dyeing Order List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializeDyeingOrderPickerbutton(oPickerParam);//multiplereturn, winclassName
                }
                else { alert(response.objs[0].ErrorMessage); }
            }
            else{
                alert("No dyeing order found.");
            }
        });


    }

    function IntializeDyeingOrderPickerbutton(oPickerobj)
    {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            DyeingOrderSelect(oPickerobj);
        });
        $(document).find('.' +oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                DyeingOrderSelect(oPickerobj);
            }
        });
    }

    function DyeingOrderSelect(oPickerobj){
        var oDyeingOrders = $('#'+oPickerobj.tableid).datagrid('getChecked');
        if (oPickerobj.winid == 'winDyeingOrder')
        {
            debugger;
            if(oDyeingOrders.length>0 && oDyeingOrders[0].DyeingOrderID>0){
                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();
                UpdateDyeingOrder(oDyeingOrders);
            }
            else{
                alert("Please select order.");
            }
        }
    }

    function UpdateDyeingOrder(oDyeingOrders)
    {
        var sIds='';
        for(var i=0;i<oDyeingOrders.length;i++){
            sIds=sIds+oDyeingOrders[i].DyeingOrderID+",";
        }
        sIds=sIds.substring(0,sIds.length-1);


        var oDyeingOrder={
            DyeingOrderID:0,
            Params: sIds+'~'+_oExportSC.ExportPIID
        }


            $.ajax({
                type: "POST",
                dataType: "json",
                url: _sBaseAddress + "/DyeingOrder/SaveDyeingOrderAdjustmentForExportPI",
                traditional: true,
                data: JSON.stringify(oDyeingOrder),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oDyeingOrder = jQuery.parseJSON(data);
                    if (oDyeingOrder.DyeingOrders[0].ErrorMessage==""||oDyeingOrder.DyeingOrders[0].ErrorMessage==null)
                    {
                        alert("Data Saved sucessfully");
                        for (i = 0; i < oDyeingOrders.length; ++i)
                        {
                            $('#tblDyeingOrder').datagrid('appendRow',oDyeingOrders[i]);
                        }
                        RefreshSummary_Inv();
                        RefreshControlAdjSettle();
                    }
                    else {
                        alert(oDyeingOrder.DyeingOrders[0].ErrorMessage);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });


    }

    $("#btnSaveAdjustment").click(function(){
        debugger;
        var DyeingOrderIDs=GetDyeingOrderIDs();

        if(DyeingOrderIDs.trim()==""){
            alert("No item found for adjustment."); return false;
        }

        var oDyeingOrder={
            DyeingOrderID:0,
            Params: DyeingOrderIDs+'~'+_oExportSC.ExportPIID
        }

        $.icsSave({
            BaseAddress: _sBaseAddress,
            Object: oDyeingOrder,
            ObjectId: oDyeingOrder.DyeingOrderID,
            ControllerName: "DyeingOrder",
            ActionName: "SaveDyeingOrderAdjustmentForExportPI",
            TableId: "",
            IsWinClose: false,
            Message: "Data Saved Successfully."

        },function (response){
            if(response.status && response.obj!=null){
                debugger;
                if(response.obj.DyeingOrders.length>0){

                    if(response.obj.DyeingOrders[0].DyeingOrderID>0){

                        DynamicRefreshList(response.obj.DyeingOrders, "tblDyeingOrder");

                    }
                    else{
                        alert(response.obj.DyeingOrders[0].ErrorMessage);
                    }
                    RefreshControlAdjSettle();

                }
                else{
                    alert("Unable to adjust. Please refresh & try again.");
                }
            }
        });

    });
    $('#btnDeleteDyeingOrder').click(function(e){

        var oDyeingOrder=$('#tblDyeingOrder').datagrid('getSelected');

        if(oDyeingOrder==null && oDyeingOrder.DyeingOrderID<=0){
            alert("Please select an item to delete."); return false;
        }
        var nIndex=$('#tblDyeingOrder').datagrid('getRowIndex',oDyeingOrder);
        if(oDyeingOrder.ExportPIID>0)
        {

            if(!confirm("Are you sure to delete.")) return false;

            var obj =
           {
               BaseAddress: _sBaseAddress,
               Object: oDyeingOrder,
               ControllerName: "DyeingOrder",
               ActionName: "DeleteDyeingOrderAdjustmentForExportPI",
               TableId: "tblDyeingOrder",
               IsWinClose: false
           };

            $.icsDelete(obj, function (response) {
                if (response.status && response.Message=='deleted')
                {
                    debugger;
                    $("#tblDyeingOrder").datagrid("deleteRow", nIndex);

                    RefreshControlAdjSettle();
                    RefreshSummary_Inv();
                }
            });
        }
        else{
            $("#tblDyeingOrder").datagrid("deleteRow", nIndex);
            RefreshControlAdjSettle();

        }

    });
    $("#btnPrintPreview").click(function() {

        if(_oExportSC==null || _oExportSC.ExportSCID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var nts = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress + '/ExportSCDO/PrintStatement_DOBalance?nExportSCID=' + parseInt(_oExportSC.ExportSCID) + "&nDOID=" + parseInt(0) + "&nProductID=" + parseInt(0) + "&nts=" + nts, "_blank");
    });

    function RefreshProductionControl() {
        debugger;
        document.getElementById("chkPIIssue_Pro").checked = false;
        document.getElementById("chkLCOpen_Pro").checked = false;
        document.getElementById("chkBillAcceptance_Pro").checked = false;
        document.getElementById("chkUDReceive_Pro").checked = false;
        document.getElementById("chkBillMaturity_Pro").checked = false;
        if(_oExportSC.Production_ControlBy==1)
        {
            document.getElementById("chkPIIssue_Pro").checked = true;
        }
        if(_oExportSC.Production_ControlBy==2)
        {
            document.getElementById("chkLCOpen_Pro").checked = true;
        }
        if(_oExportSC.Production_ControlBy==3)
        {
            document.getElementById("chkBillAcceptance_Pro").checked = true;
        }
        if(_oExportSC.Production_ControlBy==4)
        {
            document.getElementById("chkUDReceive_Pro").checked = true;
        }
        if(_oExportSC.Production_ControlBy==5)
        {
            document.getElementById("chkBillMaturity_Pro").checked = true;
        }
    }
    function IsPIIssue_Pro() {
        debugger;
        _oExportSC.Production_ControlBy=0;
        if(document.getElementById("chkPIIssue_Pro").checked)
        {
            _oExportSC.Production_ControlBy=1;
        }
        RefreshProductionControl();
    }
    function IsLCOpen_Pro() {
        debugger;
        if(document.getElementById("chkLCOpen_Pro").checked)
        {
            _oExportSC.Production_ControlBy=2;
        }
        RefreshProductionControl();
    }
    function IsBillAcceptance_Pro() {
       if(document.getElementById("chkBillAcceptance_Pro").checked)
        {
            _oExportSC.Production_ControlBy=3;
        }
        RefreshProductionControl();
    }
    function IsUDReceive_Pro() {
        if(document.getElementById("chkUDReceive_Pro").checked)
        {
            _oExportSC.Production_ControlBy=4;
        }
        RefreshProductionControl();
    }
    function IsBillMaturity_Pro() {
        if(document.getElementById("chkBillMaturity_Pro").checked)
        {
            _oExportSC.Production_ControlBy=5;
        }
        RefreshProductionControl();
    }
    ///
    function RefreshDeliveryControl() {

        document.getElementById("chkPIIssue_Del").checked = false;
        document.getElementById("chkLCOpen_Del").checked = false;
        document.getElementById("chkBillAcceptance_Del").checked = false;
        document.getElementById("chkUDReceive_Del").checked = false;
        document.getElementById("chkBillMaturity_Del").checked = false;
        if(_oExportSC.Delivery_ControlBy==1)
        {
            document.getElementById("chkPIIssue_Del").checked = true;
        }
        if(_oExportSC.Delivery_ControlBy==2)
        {
            document.getElementById("chkLCOpen_Del").checked = true;
        }
        if(_oExportSC.Delivery_ControlBy==3)
        {
            document.getElementById("chkBillAcceptance_Del").checked = true;
        }
        if(_oExportSC.Delivery_ControlBy==4)
        {
            document.getElementById("chkUDReceive_Del").checked = true;
        }
        if(_oExportSC.Delivery_ControlBy==5)
        {
            document.getElementById("chkBillMaturity_Del").checked = true;
        }
    }
    function IsPIIssue_Del() {
        debugger;
        _oExportSC.Delivery_ControlBy=0;
        if(document.getElementById("chkPIIssue_Del").checked)
        {
            _oExportSC.Delivery_ControlBy=1;
        }
        RefreshDeliveryControl();
    }
    function IsLCOpen_Del() {
        debugger;
        if(document.getElementById("chkLCOpen_Del").checked)
        {
            _oExportSC.Delivery_ControlBy=2;
        }
        RefreshDeliveryControl();
    }
    function IsBillAcceptance_Del() {
        if(document.getElementById("chkBillAcceptance_Del").checked)
        {
            _oExportSC.Delivery_ControlBy=3;
        }
        RefreshDeliveryControl();
    }
    function IsUDReceive_Del() {
        if(document.getElementById("chkUDReceive_Del").checked)
        {
            _oExportSC.Delivery_ControlBy=4;
        }
        RefreshDeliveryControl();
    }
    function IsBillMaturity_Del() {
        if(document.getElementById("chkBillMaturity_Del").checked)
        {
            _oExportSC.Delivery_ControlBy=5;
        }
        RefreshDeliveryControl();
    }

    $("#btnSaveTerms").click(function(){
        debugger;
        //endEditing();
        //RefreshSummary();
       // if(!ValidateInput()) return false;

        if (_oExportSC.ExportSCID<=0 || _oExportSC==null)
        {
            alert("Please Select a valid Sales Contract.");
            return false;
        }

        var oExportSC= {
            ExportSCID :_oExportSC.ExportSCID,
            ExportPIID :_oExportSC.ExportPIID,
            Production_ControlBy:_oExportSC.Production_ControlBy,
            Delivery_ControlBy:_oExportSC.Delivery_ControlBy
        };

        $.icsSave({
            BaseAddress: _sBaseAddress,
            Object: oExportSC,
            ObjectId: oExportSC.ExportSCID,
            ControllerName: "ExportSC",
            ActionName: "UpdateExportSC",
            TableId: "",
            IsWinClose: false,
            Message: "Data Saved Successfully."

        },function (response){
            if(response.status && response.obj!=null){
                if(response.obj.ExportSCID>0){
                    var oExportSC =response.obj;
                    var oExportSCs =sessionStorage.getItem("ExportSCs");
                    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    debugger;
                    if(oExportSCs!=null)
                    {
                        oExportSCs = jQuery.parseJSON(oExportSCs);
                    }
                    else
                    {
                        oExportSCs=[];
                    }
                    if(nIndex!=-1)
                    {
                        oExportSCs[nIndex]=oExportSC;
                    }
                    else
                    {
                        sessionStorage.setItem("SelectedRowIndex", oExportSCs.length);
                        oExportSCs.push(oExportSC);
                    }
                    sessionStorage.setItem("ExportSCs", JSON.stringify(oExportSCs));
                    window.location.href =_sBackLink; //_sBaseAddress+ "/ExportSC/ViewExportSCs?menuid="+_nMenuid;
                }
            }
        });

    });

</script>