@model IEnumerable<ESimSol.BusinessObjects.PurchaseInvoice>
@{
    ViewBag.Title = "Purchase Invoice";
}

<body>
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div id="winChangePaymentMode" class="easyui-window" title="Change Payment Mode" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <fieldset style="margin-top:2px">
            <table border="0" cellpadding="2" cellspacing="2">
                <tr id="trBehavior">
                    <td style="width:120px; text-align:right">Payment Mode: </td>
                    <td style="width:300px">
                        <select id="cboPaymentMode" style="width:120px;"></select>
                    </td>
                </tr>
            </table>
        </fieldset>
        <fieldset style="text-align:right">
            <legend>Actions : </legend>
            <a id="btnSavePaymentMode" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
            <a id="btnClosePaymentMode" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>


    <div class="menuMainCollectionTable" style="margin-left: 0px; height:100%; width:100%">
        <table id="tblPurchaseInvoices" title="Purchase Invoice" class="easyui-datagrid" fit="true" fitcolumns="false"
               rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="InvoiceTypeInSt" width="100" align="left">Invoice Type</th>
                    <th field="PurchaseInvoiceNo" width="120" align="left">Invoice No</th>
                    <th field="InvoiceStatusSt" width="100" align="left">Status</th>
                    <th field="DateofInvoiceSt" width="100" align="left">Invoice Date</th>
                    <th field="ContractorName" width="200" align="left">Supplier Name</th>                    
                    <th field="PONo" width="80" align="left">Ref No</th>
                    <th field="BillNo" width="80" align="left">Bill No</th>
                    <th field="AmountSt" width="100" align="right">Amount</th>
                    <th field="ApprovedUserName" width="80" align="left">Approved By</th>
                    <th field="PrepareUserName" width="80" align="left">Prepare By</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <input type="text" id="txtSearchByInvoiceNo" placeholder="Search By Invoice No" style="width: 150px;"/>
            <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>            
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
            <a id="btnWaitForApproved" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Wait for Approved</a>
            <a id="btnApproved" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true">Approve</a>
            <a id="btnChangePaymentMode" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Change Payment Mode</a>
            <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
            <a id="btnPrintList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print List</a>
        </div>
    </div>

    <div id="winAdvanceSearch" class="easyui-window" title="Advance Search" style="width:540px;height:410px;padding:2px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div>
            <fieldset>
                <legend style="font-weight:bold"> Searching Criteria : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                    <tr>
                        <td style="width:170px; text-align:right">
                            Invoice No :
                        </td>
                        <td style="width:370px">
                            <table border="0" cellpadding="1" cellspacing="1">
                                <tr>
                                    <td style="width:150px">
                                        <input type="text" style="width: 100%;" id="txtInvoiceNo" />
                                    </td>
                                    <td style="width:70px; text-align:right">
                                        Bill No :
                                    </td>
                                    <td style="width:150px">
                                        <input type="text" style="width: 100%" id="txtBillNo" />
                                    </td>
                                </tr>
                            </table>                            
                        </td>
                    </tr>                    
                    <tr>
                        <td style="width:170px; text-align:right">
                            Invoice Type :
                        </td>
                        <td style="width:370px">
                            <table border="0" cellpadding="1" cellspacing="1">
                                <tr>
                                    <td style="width:150px">
                                        <select id="cboInvoiceType" style="width:104%"><option value="0">--Select Invoice Type--</option><option value="1">Standard</option><option value="2">Advance</option></select>
                                    </td>
                                    <td style="width:70px; text-align:right">
                                        Ref Type :
                                    </td>
                                    <td style="width:150px">
                                        <select id="cboRefType" style="width:104%"><option value="0">--Select Ref Type--</option><option value="1">Open</option><option value="2">SO</option></select>
                                    </td>
                                </tr>
                            </table>                            
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            SO No :
                        </td>
                        <td style="width:370px">
                            <input type="text" style="width: 370px;" id="txtPONo" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Invoice Date :
                        </td>
                        <td style="width:370px">
                            <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                                <tr>
                                    <td style="width: 120px; font-size: 12px; text-align: left">
                                        <select id="cboInvoiceDate" style="width:120px"></select>
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtInvoiceStartDate" type="text" style="width: 120px;" class="easyui-datebox" disabled="disabled" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                    <td style="width: 10px; font-size: 12px">
                                        To
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtInvoiceEndDate" type="text" style="width: 120px;" class="easyui-datebox" disabled="disabled" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Bill Date :
                        </td>
                        <td style="width:370px">
                            <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                                <tr>
                                    <td style="width: 120px; font-size: 12px; text-align: left">
                                        <select id="cboBillDate" style="width:120px"></select>
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtBillStartDate" type="text" style="width: 120px;" class="easyui-datebox" disabled="disabled" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                    <td style="width: 10px; font-size: 12px">
                                        To
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtBillEndDate" type="text" style="width: 120px;" class="easyui-datebox" disabled="disabled" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>                    
                    <tr>
                        <td style="width:170px; text-align:right">
                            Invoice Amount :
                        </td>
                        <td style="width:370px">
                            <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                                <tr>
                                    <td style="width: 120px; font-size: 12px; text-align: left">
                                        <select id="cboInvoiceAmount" style="width:120px"></select>
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtInvoiceAmountStart" style="width:114px" />
                                    </td>
                                    <td style="width: 10px; font-size: 12px">
                                        To
                                    </td>
                                    <td style="width: 120px; font-size: 12px">
                                        <input id="txtInvoiceAmountEnd" style="width:114px" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Approved By :
                        </td>
                        <td style="width:370px">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td style="width:40%"><select id="cboApprovedBy" style="width:100%"></select></td>
                                    <td style="width:30%; text-align:right;">Payment Mode :</td>
                                    <td style="width:30%"><select id="cboInvoicePaymentMode" style="width:100%"></select></td>
                                </tr>
                            </table>
                            
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Supplier(s) :
                        </td>
                        <td style="width:370px">
                            <input type="text" style="width: 282px;" id="txtSupplierName" placeholder="Press enter with supplier name/code" />
                            <input type="button" style="width: 30px;" id="btnSupplierClear" value="C" />
                            <input type="button" style="width: 50px;" id="btnSupplierPicker" value="Pick" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:170px; text-align:right">
                            Part(s) :
                        </td>
                        <td style="width:370px">
                            <input type="text" style="width: 282px;" id="txtProductName" placeholder="Press enter with Part name/No" />
                            <input type="button" style="width: 30px;" id="btnProductClear" value="C" />
                            <input type="button" style="width: 50px;" id="btnProductPicker" value="Pick" />
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset style="width:498px; vertical-align:top;">
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold;">
                <tr>
                    <td style="width:100px;text-align:right">
                        <a id="btnAdvSearchReset" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"> Reset</a>
                    </td>
                    <td style="width:408px;text-align:right;">
                        <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                        <a id="btnAdvSearchClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>

<script type="text/javascript">
    $(document).ready(function ()
    {
        var oPurchaseInvoices =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oAuthorizationRolesMapping = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        var oApprovalUsers=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ApprovalUsers));
        var oDateCompareOperatorObjs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.DateCompareOperatorObjs));
        var oAmountCompareOperatorObjs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.AmountCompareOperatorObjs));
        var oInvoicePaymentModes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.InvoicePaymentModes));
        $('#cboPaymentMode').data('InvoicePaymentModes', oInvoicePaymentModes);

        var oTempPurchaseInvoices =sessionStorage.getItem("PurchaseInvoices");
        if(oTempPurchaseInvoices!=null)
        {
            oPurchaseInvoices = jQuery.parseJSON(oTempPurchaseInvoices);
        }
        RefreshList(oPurchaseInvoices);
        RefreshControlLayout(oAuthorizationRolesMapping);
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        $('#txtSupplierName').data('Suppliers', []);
        $('#txtProductName').data('Products', []);
        //$('#tblPurchaseInvoices').data('PTI', nPIT);
        $('#cboApprovedBy').data('ApprovalUsers', oApprovalUsers);
        $('#cboInvoiceDate').data('DateCompareOperatorObjs', oDateCompareOperatorObjs);
        $('#cboBillDate').data('DateCompareOperatorObjs', oDateCompareOperatorObjs);
        $('#cboInvoiceAmount').data('AmountCompareOperatorObj', oAmountCompareOperatorObjs);
        $('#tblPurchaseInvoices').data('PurchaseInvoices', oPurchaseInvoices);
        $('#txtInvoiceAmountStart,#txtInvoiceAmountEnd').icsCurrencyBox();

        
        $('#tblPurchaseInvoices').datagrid({onSelect: function(rowIndex, rowData){ RowSelect(rowData);}}); 

    });

    function RowSelect(oPIs)
    {   
        debugger; 
    
        if(parseInt(oPIs.ApprovedBy)!=0)
        {
            document.getElementById("btnApproved").style.display = 'none';            
        }
        if(parseInt(oPIs.ApprovedBy)==0)
        {
            document.getElementById("btnApproved").style.display = '';            
        }

    }

    $("#btnChangePaymentMode").click(function(){
        var oPurchaseInvoice= $('#tblPurchaseInvoices').datagrid('getSelected');
        if(oPurchaseInvoice==null || parseInt(oPurchaseInvoice.PurchaseInvoiceID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
                
        $("#winChangePaymentMode").icsWindow('open', "Payment Mode");
        var oInvoicePaymentModes = $('#cboPaymentMode').data('InvoicePaymentModes');
        $("#cboPaymentMode").icsLoadCombo({ List: oInvoicePaymentModes, OptionValue: "id", DisplayText: "Value" });
        $("#cboPaymentMode").val(oPurchaseInvoice.InvoicePaymentModeInt);
    });
    $('#btnSavePaymentMode').click(function(e){
        var oPurchaseInvoice= $('#tblPurchaseInvoices').datagrid('getSelected');
        if(oPurchaseInvoice==null || parseInt(oPurchaseInvoice.PurchaseInvoiceID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }

        if(parseInt($("#cboPaymentMode").val())<=0)
        {
            alert("Please Select Payment Mode");
            return;
        }
        var SelectedRowIndex=$('#tblPurchaseInvoices').datagrid('getRowIndex',oPurchaseInvoice);

        var oPurchaseInvoice = {
            PurchaseInvoiceID :parseInt(oPurchaseInvoice.PurchaseInvoiceID),
            InvoicePaymentModeInt:parseInt($('#cboPaymentMode').val())  
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+"/PurchaseBill/UpdatePaymentMode",
            traditional: true,
            data:  JSON.stringify(oPurchaseInvoice),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oPurchaseInvoice = jQuery.parseJSON(data);
                if (parseInt(oPurchaseInvoice.PurchaseInvoiceID)>0)
                {
                    alert("Data Saved sucessfully");
                    $("#winChangePaymentMode").icsWindow('close');
                    debugger;
                 
                    $('#tblPurchaseInvoices').treegrid('updateRow',{index: SelectedRowIndex,row: oPurchaseInvoice});
                }
                else {
                    alert(oPurchaseInvoice.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });
    $('#btnClosePaymentMode').click(function(e){
        $("#winChangePaymentMode").icsWindow('close');
    });


    $("#btnAdd").click(function(){
        //var nPIT = $('#tblPurchaseInvoices').data('PTI');
        var oPurchaseInvoices= $('#tblPurchaseInvoices').datagrid('getRows');
        sessionStorage.setItem("PurchaseInvoices", JSON.stringify(oPurchaseInvoices));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("PurchaseInvoiceHeader", "Add PurchaseInvoice");
        sessionStorage.setItem("InvoiceBackTo", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        
        window.location.href = sessionStorage.getItem("BaseAddress")+ "/PurchaseBill/ViewPurchaseBill?nid=0&ts="+tsv;
        
    });

    $("#btnEdit").click(function(){
        var oPurchaseInvoice= $('#tblPurchaseInvoices').datagrid('getSelected');
        if(oPurchaseInvoice==null || parseInt(oPurchaseInvoice.PurchaseInvoiceID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oPurchaseInvoice.ApprovedBy)!=0)
        {
            alert("Your Selected Invoice Already Approved!");
            return;
        }
        var SelectedRowIndex=$('#tblPurchaseInvoices').datagrid('getRowIndex',oPurchaseInvoice);
        var oPurchaseInvoices= $('#tblPurchaseInvoices').datagrid('getRows');
        sessionStorage.setItem("PurchaseInvoices", JSON.stringify(oPurchaseInvoices));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("PurchaseInvoiceHeader", "Edit PurchaseInvoice");
        sessionStorage.setItem("InvoiceBackTo", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/PurchaseBill/ViewPurchaseBill?nid="+parseInt(oPurchaseInvoice.PurchaseInvoiceID)+"&ts="+tsv;
        
    });

    $("#btnView").click(function(){
        var oPurchaseInvoice= $('#tblPurchaseInvoices').datagrid('getSelected');
        if(oPurchaseInvoice==null || parseInt(oPurchaseInvoice.PurchaseInvoiceID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblPurchaseInvoices').datagrid('getRowIndex',oPurchaseInvoice);
        var oPurchaseInvoices= $('#tblPurchaseInvoices').datagrid('getRows');
        sessionStorage.setItem("PurchaseInvoices", JSON.stringify(oPurchaseInvoices));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("PurchaseInvoiceHeader", "View PurchaseInvoice");
        sessionStorage.setItem("InvoiceBackTo", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/PurchaseBill/ViewPurchaseBill?nid="+parseInt(oPurchaseInvoice.PurchaseInvoiceID)+"&ts="+tsv;
        
    });

    $("#btnDelete").click(function () {
        var oPurchaseInvoice= $('#tblPurchaseInvoices').datagrid('getSelected');
        if(oPurchaseInvoice==null || oPurchaseInvoice.PurchaseInvoiceID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oPurchaseInvoice.ApprovedBy)!=0)
        {
            alert("Your Selected Invoice Already Approved!");
            return;
        }
        if (!confirm("Confirm to Delete?")) return;
        var SelectedRowIndex = $('#tblPurchaseInvoices').datagrid('getRowIndex', oPurchaseInvoice);
        if (parseInt(oPurchaseInvoice.PurchaseInvoiceID)> 0)
        {
            $.ajax
            ({
                type: "POST",
                dataType: "json",
                url : sessionStorage.getItem("BaseAddress")+  "/PurchaseBill/Delete",
                traditional: true,
                data:  JSON.stringify(oPurchaseInvoice),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //debugger;
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Deleted")
                    {
                        $('#tblPurchaseInvoices').datagrid('deleteRow',SelectedRowIndex);
                        alert("Delete sucessfully");
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }
    });

    $('#btnWaitForApproved').click(function (e) {
        var oPurchaseInvoice = {
            PurchaseInvoiceID : 0,
            BUID : parseInt(sessionStorage.getItem("BUID")),
            PIT : parseInt($('#tblPurchaseInvoices').data('PTI'))
        };

        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: sessionStorage.getItem("BaseAddress")+  "/PurchaseBill/WaitForApproval",
            data:  JSON.stringify(oPurchaseInvoice),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  oPurchaseInvoices = jQuery.parseJSON(data);
                if (oPurchaseInvoices != null) {
                    if(oPurchaseInvoices.length>0)
                    {
                        if(oPurchaseInvoices[0].ErrorMessage=="")
                        {
                            RefreshList(oPurchaseInvoices);
                            $('#tblPurchaseInvoices').data('PurchaseInvoices', oPurchaseInvoices);
                        }
                        else
                        {
                            alert(oPurchaseInvoices[0].ErrorMessage);
                        }
                    }
                    else
                    {
                        alert("Data not found!!");
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#btnApproved').click(function (e) {
        var oPurchaseInvoice= $('#tblPurchaseInvoices').datagrid('getSelected');
        if(oPurchaseInvoice==null || parseInt(oPurchaseInvoice.PurchaseInvoiceID)<=0)
        {
            alert("Invalid PurchaseInvoice!!! please select a valid Field!");
            return false;
        }
        if(parseInt(oPurchaseInvoice.ApprovedBy)!=0)
        {
            alert("Please selected PurchaseInvoice already approved!");
            return;
        }
        if (!confirm("Confirm to Approved?")) return ;
        var SelectedRowIndex=$('#tblPurchaseInvoices').datagrid('getRowIndex',oPurchaseInvoice);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: sessionStorage.getItem("BaseAddress")+ "/PurchaseBill/Approved",
            traditional: true,
            data:  JSON.stringify(oPurchaseInvoice),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                oPurchaseInvoice = jQuery.parseJSON(data);
                if (parseInt(oPurchaseInvoice.PurchaseInvoiceID)>0) {
                    alert("Approved Successfully");
                    $('#tblPurchaseInvoices').datagrid('updateRow',{index: SelectedRowIndex,	row: oPurchaseInvoice});
                }
                else {
                    alert(oPurchaseInvoice.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    function RefreshList(oPurchaseInvoices) {
        data = oPurchaseInvoices;
        data = { "total": "" + data.length + "", "rows": data };
        $('#tblPurchaseInvoices').datagrid('loadData', data);
        var nRowIndex =parseInt(sessionStorage.getItem("SelectedRowIndex"));
        if(nRowIndex!=-1)
        {
            $('#tblPurchaseInvoices').datagrid('selectRow', nRowIndex);
        }
    }

    $("#btnPreview").click(function() {
        var oPurchaseInvoice= $('#tblPurchaseInvoices').datagrid('getSelected');
        if(oPurchaseInvoice==null || parseInt(oPurchaseInvoice.PurchaseInvoiceID)<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        window.open(sessionStorage.getItem("BaseAddress")+ '/PurchaseBill/PrintPurchaseInvoice?id=' + parseInt(oPurchaseInvoice.PurchaseInvoiceID), "_blank");
    });

    $('#btnPrintList').click(function (e) {
        var oPurchaseInvoices= $('#tblPurchaseInvoices').datagrid('getRows');
        var ids ="";
        if(oPurchaseInvoices.length >0)
        {
            for(var i =0;i<oPurchaseInvoices.length;i++)
            {
                ids =ids+oPurchaseInvoices[i].PurchaseInvoiceID+",";
            }
            ids= ids.substring(0, ids.length - 1);
        }
        else{
            return;
        }
        var tsv = ((new Date()).getTime())/1000;
        window.open(sessionStorage.getItem("BaseAddress") + '/PurchaseBill/PrintPurchaseInvoices?ids='+ids+"&ts="+tsv, "_blank");
    });


    //Start Search
    function RefreshComboBoxControls()
    {
        var oApprovalUsers = $('#cboApprovedBy').data('ApprovalUsers');
        var oInvoiceDateCompareOperatorObjs = $('#cboInvoiceDate').data('DateCompareOperatorObjs');
        var oBillDateCompareOperatorObjs = $('#cboBillDate').data('DateCompareOperatorObjs');
        var oAmountCompareOperatorObjs = $('#cboInvoiceAmount').data('AmountCompareOperatorObj');
        var oInvoicePaymentModes = $('#cboPaymentMode').data('InvoicePaymentModes');
        

        $("#cboApprovedBy").icsLoadCombo({ List: oApprovalUsers, OptionValue: "UserID", DisplayText: "UserName" });
        $("#cboInvoicePaymentMode").icsLoadCombo({ List: oInvoicePaymentModes, OptionValue: "id", DisplayText: "Value" });
        $("#cboInvoiceDate").icsLoadCombo({ List: oInvoiceDateCompareOperatorObjs, OptionValue: "id", DisplayText: "Value"});
        $("#cboBillDate").icsLoadCombo({ List: oBillDateCompareOperatorObjs, OptionValue: "id", DisplayText: "Value"});
        $("#cboInvoiceAmount").icsLoadCombo({ List: oAmountCompareOperatorObjs, OptionValue: "id", DisplayText: "Value" });
    }

    function ValidateSearch()
    {
        var sInvoiceNo =$.trim($('#txtInvoiceNo').val());
        var sBillNo =$.trim($('#txtBillNo').val());

        var nInvoiceType = parseInt($('#cboInvoiceType').val());
        var nRefType = parseInt($('#cboRefType').val());
        var sPONo =$.trim($('#txtPONo').val());

        var nInvoiceDate = parseInt($('#cboInvoiceDate').val());
        if(nInvoiceDate===1 || nInvoiceDate===2 || nInvoiceDate===3 || nInvoiceDate===4)
        {
            var sInvoiceStartDate   = $('#txtInvoiceStartDate').datebox('getValue');
            if(sInvoiceStartDate===null || sInvoiceStartDate==="")
            {
                alert("Please select Invoice start date!");
                $('#txtInvoiceStartDate').focus();
                return false;
            }
        }
        if(nInvoiceDate===5 || nInvoiceDate===6)
        {
            var sInvoiceStartDate   = $('#txtInvoiceStartDate').datebox('getValue');
            var sInvoiceEndDate   = $('#txtInvoiceEndDate').datebox('getValue');
            if(sInvoiceStartDate===null || sInvoiceStartDate==="")
            {
                alert("Please select Invoice start date!");
                $('#txtInvoiceStartDate').focus();
                return false;
            }
            if(sInvoiceEndDate===null || sInvoiceEndDate==="")
            {
                alert("Please select Invoice end date!");
                $('#txtInvoiceEndDate').focus();
                return false;
            }
            if(new Date(sInvoiceStartDate) > new Date(sInvoiceEndDate))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtInvoiceStartDate').focus();
                return false;
            }
        }

        var nBillDate = parseInt($('#cboBillDate').val());
        if(nBillDate===1 || nBillDate===2 || nBillDate===3 || nBillDate===4)
        {
            var sBillStartDate   = $('#txtBillStartDate').datebox('getValue');
            if(sBillStartDate===null || sBillStartDate==="")
            {
                alert("Please select Bill start date!");
                $('#txtBillStartDate').focus();
                return false;
            }
        }
        if(nBillDate===5 || nBillDate===6)
        {
            var sBillStartDate   = $('#txtBillStartDate').datebox('getValue');
            var sBillEndDate   = $('#txtBillEndDate').datebox('getValue');
            if(sBillStartDate===null || sBillStartDate==="")
            {
                alert("Please select Bill start date!");
                $('#txtBillStartDate').focus();
                return false;
            }
            if(sBillEndDate===null || sBillEndDate==="")
            {
                alert("Please select Bill end date!");
                $('#txtBillEndDate').focus();
                return false;
            }
            if(new Date(sBillStartDate) > new Date(sBillEndDate))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtBillStartDate').focus();
                return false;
            }
        }

        var nInvoiceAmount = parseInt($('#cboInvoiceAmount').val());
        if(nInvoiceAmount===1 || nInvoiceAmount===2 || nInvoiceAmount===3 || nInvoiceAmount===4)
        {
            var sInvoiceAmountStart   = $.trim($('#txtInvoiceAmountStart').val());
            if(sInvoiceAmountStart===null || sInvoiceAmountStart==="")
            {
                alert("Please enter Invoice start Amount!");
                $('#txtInvoiceAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sInvoiceAmountStart)<=0)
            {
                alert("Please enter Invoice start Amount!");
                $('#txtInvoiceAmountStart').focus();
                return false;
            }
        }
        if(nInvoiceAmount===5 || nInvoiceAmount===6)
        {
            var sInvoiceAmountStart = $.trim($('#txtInvoiceAmountStart').val());
            if(sInvoiceAmountStart===null || sInvoiceAmountStart==="")
            {
                alert("Please enter Invoice start Amount!");
                $('#txtInvoiceAmountStart').focus();
                return false;
            }
            if(icsRemoveComma(sInvoiceAmountStart)<=0)
            {
                alert("Please enter Invoice start Amount!");
                $('#txtInvoiceAmountStart').focus();
                return false;
            }

            var sInvoiceAmountEnd = $.trim($('#txtInvoiceAmountEnd').val());
            if(sInvoiceAmountEnd===null || sInvoiceAmountEnd==="")
            {
                alert("Please enter Invoice end Amount!");
                $('#txtInvoiceAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sInvoiceAmountEnd)<=0)
            {
                alert("Please enter Invoice end Amount!");
                $('#txtInvoiceAmountEnd').focus();
                return false;
            }
            if(icsRemoveComma(sInvoiceAmountStart) >= icsRemoveComma(sInvoiceAmountEnd))
            {
                alert("Start amount must be smallar than end amount!");
                $('#txtInvoiceAmountStart').focus();
                return false;
            }
        }

        var nApprovedBy = parseInt($('#cboApprovedBy').val());
        var nInvoicePaymentMode = parseInt($('#cboInvoicePaymentMode').val());
        var oSuppliers = $('#txtSupplierName').data('Suppliers');
        var oProducts = $('#txtProductName').data('Products');

        if(sInvoiceNo==="" && sBillNo==="" && nInvoiceType===0 && parseInt(nInvoicePaymentMode)==0 && nRefType===0 && sPONo==="" && nInvoiceDate===0 && nBillDate===0 && nInvoiceAmount===0 && nApprovedBy===0 && oSuppliers.length<=0 && oProducts.length<=0)
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        return true;
    }

    $('#btnAdvSearch').click(function(e){
        $("#winAdvanceSearch").icsWindow('open', "Advance Search");
        $("#winAdvanceSearch input").not("input[type='button']").val("");
        $('#txtInvoiceStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtInvoiceEndDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtBillStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtBillEndDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtInvoiceAmountStart').val('0.00');
        $('#txtInvoiceAmountEnd').val('0.00');
        $('#txtInvoiceAmountStart').prop("disabled", true);
        $('#txtInvoiceAmountEnd').prop("disabled", true);
        $('#txtSupplierName').data('Suppliers', []);
        $('#txtProductName').data('Products', []);
        $('#cboInvoiceType').val(0);
        $('#cboRefType').val(0);
        RefreshComboBoxControls();
    });

    $('#btnAdvSearchClose').click(function(e){
        $("#winAdvanceSearch").icsWindow('close');
    });

    $('#cboInvoiceDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboInvoiceDate').val());
        if(nCompareOperator===0)
        {
            $('#txtInvoiceStartDate').datebox({ disabled : true });
            $('#txtInvoiceEndDate').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtInvoiceStartDate').datebox({ disabled : false });
            $('#txtInvoiceEndDate').datebox({ disabled : true });
        }
        else
        {
            $('#txtInvoiceStartDate').datebox({ disabled : false });
            $('#txtInvoiceEndDate').datebox({ disabled : false });
        }
        $('#txtInvoiceStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtInvoiceEndDate').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboBillDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboBillDate').val());
        if(nCompareOperator===0)
        {
            $('#txtBillStartDate').datebox({ disabled : true });
            $('#txtBillEndDate').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtBillStartDate').datebox({ disabled : false });
            $('#txtBillEndDate').datebox({ disabled : true });
        }
        else
        {
            $('#txtBillStartDate').datebox({ disabled : false });
            $('#txtBillEndDate').datebox({ disabled : false });
        }
        $('#txtBillStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtBillEndDate').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboInvoiceAmount').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboInvoiceAmount').val());
        if(nCompareOperator===0)
        {
            $('#txtInvoiceAmountStart').prop("disabled", true);
            $('#txtInvoiceAmountEnd').prop("disabled", true);
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtInvoiceAmountStart').prop("disabled", false);
            $('#txtInvoiceAmountEnd').prop("disabled", true);
        }
        else
        {
            $('#txtInvoiceAmountStart').prop("disabled", false);
            $('#txtInvoiceAmountEnd').prop("disabled", false);
        }
        $('#txtInvoiceAmountStart').val('0.00');
        $('#txtInvoiceAmountEnd').val('0.00');
    });

    $('#btnAdvSearchReset').click(function(e){
        $("#winAdvanceSearch input").not("input[type='button']").val("");
        $('#cboInvoiceType').val(0);
        $('#cboRefType').val(0);

        $('#cboInvoiceDate').val(0);
        $('#txtInvoiceStartDate').datebox({ disabled : true });
        $('#txtInvoiceEndDate').datebox({ disabled : true });

        $('#cboBillDate').val(0);
        $('#txtBillStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtBillEndDate').datebox('setValue', icsdateformat(new Date()));

        $('#cboInvoiceAmount').val(0);
        $('#txtInvoiceAmountStart').prop("disabled", true);
        $('#txtInvoiceAmountEnd').prop("disabled", true);
        $('#txtInvoiceAmountStart').val('0.00');
        $('#txtInvoiceAmountEnd').val('0.00');
        
        $('#cboApprovedBy,#cboInvoicePaymentMode').val(0);
        $('#txtSupplierName').data('Suppliers', []);
        $("#txtSupplierName").removeClass("fontColorOfPickItem");
        $('#txtProductName').data('Products', []);
        $("#txtProductName").removeClass("fontColorOfPickItem");
    });

    $('#btnSearch').click(function(e){
        if(!ValidateSearch()) return;

        var sInvoiceNo =$.trim($('#txtInvoiceNo').val());
        var sBillNo =$.trim($('#txtBillNo').val());

        var nInvoiceType = parseInt($('#cboInvoiceType').val());
        var nRefType = parseInt($('#cboRefType').val());
        var sPONo =$.trim($('#txtPONo').val());

        var nInvoiceDate = parseInt($('#cboInvoiceDate').val());
        var sInvoiceStartDate   = $('#txtInvoiceStartDate').datebox('getValue');
        var sInvoiceEndDate   = $('#txtInvoiceEndDate').datebox('getValue');

        var nBillDate = parseInt($('#cboBillDate').val());
        var sBillStartDate   = $('#txtBillStartDate').datebox('getValue');
        var sBillEndDate   = $('#txtBillEndDate').datebox('getValue');

        var nInvoiceAmount = parseInt($('#cboInvoiceAmount').val());
        var sInvoiceAmountStart = icsRemoveComma($.trim($('#txtInvoiceAmountStart').val()));
        var sInvoiceAmountEnd = icsRemoveComma($.trim($('#txtInvoiceAmountEnd').val()));

        var nApprovedBy = parseInt($('#cboApprovedBy').val());
        var nInvoicePaymentMode = parseInt($('#cboInvoicePaymentMode').val());
        var oSuppliers = $('#txtSupplierName').data('Suppliers');
        var oProducts = $('#txtProductName').data('Products');

        if(oSuppliers===null) {oSuppliers = []; }
        if(oProducts===null) {oProducts = []; }
        var sSupplierIDs =""; var sProductIDs ="";

        for(var i=0; i<oSuppliers.length; i++)
        {
            sSupplierIDs  = sSupplierIDs + oSuppliers[i].ContractorID+ ",";
        }
        if(sSupplierIDs.length>0)
        {
            sSupplierIDs=sSupplierIDs.substring(0, sSupplierIDs.length-1);
        }
        for(var i=0; i<oProducts.length; i++)
        {
            sProductIDs  = sProductIDs + oProducts[i].ProductID+ ",";
        }
        if(sProductIDs.length>0)
        {
            sProductIDs=sProductIDs.substring(0, sProductIDs.length-1);
        }

        var sSearchingData  =  sInvoiceNo+'~';
        sSearchingData = sSearchingData + sBillNo+'~';
        sSearchingData = sSearchingData + nInvoiceType+'~';
        sSearchingData = sSearchingData + nRefType+'~';
        sSearchingData = sSearchingData + sPONo+'~';
        sSearchingData = sSearchingData + nInvoiceDate+'~';
        sSearchingData = sSearchingData + sInvoiceStartDate+'~';
        sSearchingData = sSearchingData + sInvoiceEndDate+'~';
        sSearchingData = sSearchingData + nBillDate+'~';
        sSearchingData = sSearchingData + sBillStartDate+'~';
        sSearchingData = sSearchingData + sBillEndDate+'~';
        sSearchingData = sSearchingData + nInvoiceAmount+'~';
        sSearchingData = sSearchingData + sInvoiceAmountStart+'~';
        sSearchingData = sSearchingData + sInvoiceAmountEnd+'~';
        sSearchingData = sSearchingData + nApprovedBy+'~';
        sSearchingData = sSearchingData + sSupplierIDs +'~';
        sSearchingData = sSearchingData + sProductIDs+'~';
        sSearchingData = sSearchingData + nInvoicePaymentMode;

        var oPurchaseInvoice = {
            Note : sSearchingData,
            BUID : parseInt(sessionStorage.getItem("BUID"))
        };

        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: sessionStorage.getItem("BaseAddress")+  "/PurchaseBill/AdvanceSearch",
            data:  JSON.stringify(oPurchaseInvoice),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  oPurchaseInvoices = jQuery.parseJSON(data);
                if (oPurchaseInvoices != null) {
                    if(oPurchaseInvoices.length>0)
                    {
                        if(oPurchaseInvoices[0].ErrorMessage=="")
                        {
                            RefreshList(oPurchaseInvoices);
                            $('#tblPurchaseInvoices').data('PurchaseInvoices', oPurchaseInvoices);
                            $("#winAdvanceSearch").icsWindow('close');
                        }
                        else
                        {
                            alert(oPurchaseInvoices[0].ErrorMessage);
                        }
                    }
                    else
                    {
                        alert("Data not found!!");
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#txtSearchByInvoiceNo').keyup(function (e) {
        var c = String.fromCharCode(e.which);
        var txtSearchByName = document.getElementById('txtSearchByInvoiceNo').value;

        var oSearchedPurchaseInvoices = [];  var sTempName="";
        var oPurchaseInvoiceList = $('#tblPurchaseInvoices').datagrid('getRows');
        if (e.which == 8)
        {
            oPurchaseInvoiceList = $('#tblPurchaseInvoices').data('PurchaseInvoices');
        }
        for(i=0;i<oPurchaseInvoiceList.length;++i){
            sTempName=oPurchaseInvoiceList[i].PurchaseInvoiceNo;
            n=sTempName.toUpperCase().indexOf(txtSearchByName.toUpperCase())
            if(n!=-1)
            {
                oSearchedPurchaseInvoices.push(oPurchaseInvoiceList[i]);
            }
        }
        RefreshList(oSearchedPurchaseInvoices);
    });

    ///Supplier Pick
    $("#txtSupplierName").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            var nBUID = parseInt(sessionStorage.getItem("BUID"));
            var oContractor = { Params: 1 + '~' + $.trim($('#txtSupplierName').val())+'~'+ nBUID };//here 1 is Supplier
            var obj = {
                BaseAddress: sessionStorage.getItem("BaseAddress"),
                Object: oContractor,
                ControllerName: "Contractor",
                ActionName: "ContractorSearchByNameType",
                IsWinClose: false
            };
            $("#progbar").progressbar({ value: 0 });
            $("#progbarParent").show();
            var intervalID = setInterval(updateProgress, 250);
            $.icsDataGets(obj, function (response) {
                clearInterval(intervalID);
                $("#progbarParent").hide();
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ContractorID > 0) {
                        var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winSuppliers',
                            winclass: 'clsSupplier',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblSuppliers',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'Name',
                            windowTittle: 'Supplier List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }else{
                    alert("Data Not Found.");
                    return;
                }
            });
        }
    });
    $("#btnSupplierPicker").click(function () {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oContractor = { Params: "1~~"+nBUID };//here 1 Is Supplier
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").show();
        var intervalID = setInterval(updateProgress, 250);
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winSuppliers',
                        winclass: 'clsSupplier',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblSuppliers',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Supplier List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else { alert(response.objs[0].ErrorMessage); }
            }else{
                alert("Data Not Found.");
            }
        });

    });
    $('#txtSupplierName').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtSupplierName").removeClass("fontColorOfPickItem");
            $('#txtSupplierName').data('SupplierID', 0);
        }
    });
    $('#btnSupplierClear').click(function(e){
        $("#txtSupplierName").val("");
        $('#txtSupplierName').data('Suppliers', []);
        $("#txtSupplierName").removeClass("fontColorOfPickItem");
    });
    //End Supplier Picker

    //Product Pick
    $("#txtProductName").keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) // Enter Press
        {
            if($('#txtProductName').val()==null || $('#txtProductName').val()=="")
            {
                alert("Please Type Product and Press Enter.");
                $('#txtProductName').focus();
                return;
            }
            var nBUID = parseInt(sessionStorage.getItem("BUID"));
            var oProduct = { BUID: nBUID, ProductName: $.trim($('#txtProductName').val())};
            var obj = {
                BaseAddress: sessionStorage.getItem("BaseAddress"),
                Object: oProduct,
                ControllerName: "Product",
                ActionName: "SearchByProductBUWise",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {
                debugger;
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ProductID > 0) {
                        var tblColums = [];
                        var oColumn = { field: "ProductCode", title: "Part No", width: 80, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ProductName", title: "Item Name", width: 300, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "ProductCategoryName", title: "Category", width: 100, align: "left" }; tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winProductPicker',
                            winclass: 'clsProductPicker',
                            winwidth: 600,
                            winheight: 460,
                            tableid: 'tblProductPicker',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: 'NameCode',
                            windowTittle: 'Item List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else {
                        alert(response.objs[0].ErrorMessage);
                    }

                }else{
                    alert("Data Not Found.");
                }
            });
        }
    });
    $("#btnProductPicker").click(function () {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oProduct = { BUID: nBUID};
        var obj = {
            BaseAddress: sessionStorage.getItem("BaseAddress"),
            Object: oProduct,
            ControllerName: "Product",
            ActionName: "SearchByProductBUWise",
            IsWinClose: false
        };
        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ProductID > 0) {
                    var tblColums = [];
                    var oColumn = { field: "ProductCode", title: "Part No", width: 80, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductName", title: "Item Name", width: 300, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ShortName", title: "Short Name", width: 100, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "ProductCategoryName", title: "Category", width: 100, align: "left" }; tblColums.push(oColumn);
                    var oPickerParam = {
                        winid: 'winProductPicker',
                        winclass: 'clsProductPicker',
                        winwidth: 600,
                        winheight: 460,
                        tableid: 'tblProductPicker',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'NameCode',
                        windowTittle: 'Item List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }

            }else{
                alert("Data Not Found.");
            }
        });

    });
    $('#txtProductName').keydown(function (e) {
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 8) //backspace=8
        {
            $("#txtProductName").removeClass("fontColorOfPickItem");
            $('#txtProductName').data('Product', null);
        }
    });
    $('#btnProductClear').click(function(e){
        $("#txtProductName").val("");
        $('#txtProductName').data('Products', []);
        $("#txtProductName").removeClass("fontColorOfPickItem");
    });
    //End Product

    function IntializePickerbutton(oPickerobj) {
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();

        if (oPickerobj.winid === 'winSuppliers')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0) {
                $('#txtSupplierName').val(oreturnobjs.length+"'s suppliers seleted");
                $('#txtSupplierName').addClass('fontColorOfPickItem');
                $('#txtSupplierName').data('Suppliers', oreturnobjs);
                $('#txtSupplierName').focus();
            }
        }
        else if (oPickerobj.winid == 'winProductPicker')
        {
            if (oreturnobjs != null && oreturnobjs.length > 0)
            {
                $('#txtProductName').val(oreturnobjs.length+"'s products seleted");
                $('#txtProductName').addClass('fontColorOfPickItem');
                $('#txtProductName').data('Products', oreturnobjs);
            }
        }
    }

    function updateProgress() {
        var value =$('#progbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progbarParent").hide();
    }

    $(document).keydown(function (e) {
        if (e.which == 27)//escape=27
        {
            $("#winAdvanceSearch").icsWindow('close');
        }
    });

    function RefreshControlLayout(oAURolesMapping)
    {
        $("#btnAdvSearch").hide();
        $("#btnAdd").hide();
        $("#btnEdit").hide();
        $("#btnView").hide();
        $("#btnDelete").hide();
        $("#btnWaitForApproved").hide();
        $("#btnApproved").hide();
        $("#btnPreview").hide();
        $("#btnPrintList").hide();

        if(PermissionChecker('AdvSearch','PurchaseInvoice',oAURolesMapping)){$("#btnAdvSearch").show();}
        if(PermissionChecker('Add','PurchaseInvoice',oAURolesMapping)){$("#btnAdd").show();}
        if(PermissionChecker('Edit','PurchaseInvoice',oAURolesMapping)){$("#btnEdit").show();}
        if(PermissionChecker('View','PurchaseInvoice',oAURolesMapping)){$("#btnView").show();}
        if(PermissionChecker('Delete','PurchaseInvoice', oAURolesMapping)){$("#btnDelete").show();}
        if(PermissionChecker('Approved','PurchaseInvoice',oAURolesMapping)){$("#btnApproved").show();}
        if(PermissionChecker('Approved','PurchaseInvoice',oAURolesMapping)){$("#btnWaitForApproved").show();}
        if(PermissionChecker('Preview','PurchaseInvoice',oAURolesMapping)){$("#btnPreview").show();}
        if(PermissionChecker('PrintList','PurchaseInvoice',oAURolesMapping)){$("#btnPrintList").show();}
    }

</script>


