@{
    ViewBag.Title = "Shift";
}
<script src="@Url.Content("~/Views/HRMShift/HRMShift.js")" type="text/javascript"></script>
@{var MenuID = HttpContext.Current.Session[SessionInfo.MenuID];}
@model ESimSol.BusinessObjects.HRMShift
<div id="tabShift" class="easyui-tabs" >
    <div title="HRM Shift" style="padding:2px; font-size:12px; font-style:normal;">
        <table border="0" cellspacing="2" cellpadding="2" style="width:100%">
            <tr style="width:100%">
                <td style="background-color:#CFB53B; text-align:center; width:100%; color:White">
                    <label id="lblHeaderName" style="font-size:15px; font-weight:bold; text-decoration:Underline"></label>
                </td>
            </tr>
        </table>

        <div style="overflow:auto;">

            <fieldset style="float:left; width:97%;">
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                    <tr style="width:100%;">
                        <td style="text-align:right;width:15%;">
                            Name :
                        </td>
                        <td style="width:35%;">
                            <input type="text" value="" id="txtName" style="width:175px" />
                        </td>
                        <td style="text-align:right;width:18%;">
                            
                        </td>
                        <td style="width:37%;">
                        </td>
                    </tr>
                    <tr style="width:100%;">
                        <td style="text-align:right;width:15%;">
                            Name(Bangla) :
                        </td>
                        <td style="width:35%;">
                            <input type="text" value="" id="txtNameBangla" style="width:175px; font-family:SutonnyMJ;font-size: 16px" />
                        </td>
                        <td style="text-align:right;width:18%;">
                            Code :
                        </td>
                        <td style="width:37%;">
                            <input type="text" value="" id="txtCode" style="width:175px" disabled="disabled" />
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;width:15%;">
                            Day Start:
                        </td>
                        <td style="width:35%;">
                            <input id="tpDayStartTime" class="easyui-timespinner" style="width:180px;" required="required" data-options="showSeconds:false" />
                        </td>
                        <td style="text-align:right;width:18%;">
                            Day End:
                        </td>
                        <td style="width:37%;">
                            <input id="tpDayEndTime" class="easyui-timespinner" style="width:180px;" required="required" data-options="showSeconds:false" />
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;width:15%;">
                             Duty Start Time :
                        </td>
                        <td style="width:35%;">
                            <input id="tpStartTime" class="easyui-timespinner" style="width:180px;" required="required" data-options="showSeconds:false" />
                        </td>

                        <td style="text-align:right;width:18%;">
                             Duty End Time:
                        </td>
                        <td style="width:37%;">
                            <input id="tpEndTime" class="easyui-timespinner" style="width:180px;" required="required" data-options="showSeconds:false" />

                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;width:15%;">
                            Report Time:
                        </td>
                        <td style="width:35%;">
                            <input id="tpReportTime" class="easyui-timespinner" style="width:180px;" required="required" data-options="showSeconds:false" />
                        </td>
                        <td style="text-align:right;width:18%;">
                            Total Working Time :
                        </td>
                        <td style="width:37%;">
                            <input type="text" value="" id="txtTotalWorkingTime" style="width:175px" disabled="disabled" />
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:right;width:15%;">
                            Tolerence Late Time:
                        </td>
                        <td style="width:35%;">
                            <input id="tpTolerenceTime" class="easyui-timespinner" style="width:180px;" required="required" data-options="showSeconds:false" />
                        </td>
                        <td style="text-align:right;width:18%;"></td>
                        <td style="width:37%;">
                            <input type="checkbox" id="chkIsOT" />
                            Allow Overtime from shift
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:right;width:15%;">
                            Tolerence Early In Min:
                        </td>
                        <td style="width:35%;">
                            <input id="tpTolerenceEarlyTime" type="text" class="number" style="width:180px;" required="required" />
                        </td>
                        <td style="text-align:right;width:18%;"></td>
                        <td style="width:37%;"></td>
                    </tr>

                    <tr>
                        <td style="text-align:right;width:15%;">
                            OT Start:
                        </td>
                        <td style="width:35%;">
                            <input id="tpOTStart" class="easyui-timespinner" style="width:180px;" required="required" data-options="showSeconds:false" />
                        </td>
                        <td style="text-align:right;width:18%;">
                            OT End :
                        </td>
                        <td style="width:37%;">
                            <input id="tpOTEnd" class="easyui-timespinner" style="width:180px;" required="required" data-options="showSeconds:false" />
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;width:15%;"></td>
                        <td style="width:35%;">
                            @*<input id="chkOTOnActual" type="checkbox" />
                            OT On Actual*@
                        </td>
                        <td style="text-align:right;width:18%;">
                            OT Cal. After In Min. :
                        </td>
                        <td style="width:37%;">
                            <input id="txtOTCalculateAfterInMinute" type="text" style="width:175px;" class="number" />
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;width:15%;"></td>
                        <td style="width:35%;">
                            <input id="chkHalfDayoff" type="checkbox" />
                            Half Dayoff :
                        </td>
                        <td style="text-align:right;width:18%;"></td>
                        <td style="width:37%;"></td>
                    </tr>
                    <tr>
                        <td style="text-align:right;width:15%;">
                            P. Start:
                        </td>
                        <td style="width:35%;">
                            <input id="PStart" class="easyui-timespinner" style="width:180px;" required="required" data-options="showSeconds:false" />
                        </td>
                        <td style="text-align:right;width:18%;">
                            
                        </td>
                        <td style="width:37%;">
                            
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;width:15%;">
                            P. End:
                        </td>
                        <td style="width:35%;">
                            <input id="PEnd" class="easyui-timespinner" style="width:180px;" required="required" data-options="showSeconds:false" />
                        </td>

                        <td style="text-align:right;width:18%;">
                            
                        </td>
                        <td style="width:37%;">
                            
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right" colspan="4">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        </td>
                    </tr>

                </table>
            </fieldset>
            <br />
            <fieldset style="width:45%; float:left;">
                <legend style="font-weight:bold"> Br. Schedule: </legend>
                <table id="tblShiftBreakSchedule" title="Shift Break Schedule" class="easyui-datagrid" style="width:100%;height:200px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar_ShiftBreakSchedule">
                    <thead>
                        <tr>
                            <th field="ShiftBreakName" width="140" align="left">Shift Break Name</th>
                            <th field="SBSchedule" width="130" align="left">Schedule</th>
                            <th field="Activity" width="100" align="left">Activity</th>
                        </tr>
                    </thead>
                </table>

                <div id="toolbar_ShiftBreakSchedule" style="height:30px;">
                    <select id="cboShiftBreakName" style="width:80px;"></select>

                    <input id="tpStartBSchedule" class="easyui-timespinner" style="width:65px;" required="required" data-options="showSeconds:false" />
                    To
                    <input id="tpEndBSchedule" class="easyui-timespinner" style="width:65px;" required="required" data-options="showSeconds:false" />
                    <input id="btnSave_ShiftBreakSchedule" type="button" value="+" />
                    <input id="btnDelete_ShiftBreakSchedule" type="button" value="-" />
                    <a id="btnActivity_ShiftBreakSchedule" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Activity</a>
                </div>
            </fieldset>

            <fieldset style="width:45%; float:right;margin-right:3%">
                <legend style="font-weight:bold"> OT Slab : </legend>
                <table id="tblShiftOTSlab" title="OT Slab" class="easyui-datagrid" style="width:100%;height:200px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar_OTSlab">
                    <thead>
                        <tr>
                            <th field="OTSlab" width="140" align="left">Slab</th>
                            <th field="AchieveOTInMinST" width="130" align="left">Schedule</th>
                            <th field="Activity" width="100" align="left">Activity</th>
                        </tr>
                    </thead>
                </table>

                <div id="toolbar_OTSlab" style="height:30px;">
                    <input id="txtMinInMin" style="width:70px;" type="text" class="number" placeholder="Min In Min" />
                    <input id="txtMaxInMin" style="width:70px;" type="text" class="number" placeholder="Max In Min" />
                    <input id="txtAchieveInMin" style="width:85px;" type="text" class="number" placeholder="Achieve In Min" />
                    <input id="btnSave_ShiftOTSlab" type="button" value="+" />
                    <input id="btnDelete_ShiftOTSlab" type="button" value="-" />
                    <a id="btnActivity_ShiftOTSlab" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Activity</a>
                    <a id="btnAddSlab" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Add</a>
                </div>
            </fieldset>

            <fieldset style="width:97%;">
                <legend style="font-weight:bold"> Action : </legend>
                <div style="width:100%; text-align:right">
                    <a id="btnClose2" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                </div>
            </fieldset>

        </div>

    </div>

    <div title="Compliance" style="padding:2px; font-size:12px; font-style:normal;width:100%;">
        <div style="text-align:center; overflow:hidden; width: 50%; margin-left: 20%; margin-right: 20%; margin-top: 4%; margin-bottom: 20%;">
            <fieldset style="text-align:left;padding:10px 20px;">
                <legend>Compliance</legend>
                <table>
                    <tr>
                        <td style="text-align:right;width:40%;">
                            <input type="radio" value="1" name="compliance" onclick="CompMaxEndTime(this);" />
                            Max End Time: 
                        </td>
                        <td style="width:35%;">
                            <input id="tsCompMaxEndTime" class="easyui-timespinner" style="width:180px;" required="required" data-options="showSeconds:false" />
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;width:40%;">
                            <input type="radio" value="0" name="compliance" onclick="CompOT(this);" />Max OT Compliance:
                        </td>
                        <td style="width:35%;">
                            <input id="txtOTCompliance" type="text" style="width:175px;" class="number" />
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:right;width:40%;">
                        </td>
                        <td style="width:175px; text-align:right;">
                            <a id="btnSaveCompliance" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Save</a>
                        </td>
                        <td style="text-align:right;width:15%;"></td>
                    </tr>
                </table>
            </fieldset>

            <fieldset style="text-align:center; overflow:hidden; width: 99%;height:88%">
                <legend style=" font-weight:bold">
                OT Slab : </legend>
                <table id="tblShiftOTSlabComp" title="OT Slab" class="easyui-datagrid" style="width:95%;height:200px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar_OTSlabComp">
                    <thead>
                        <tr>
                            <th field="OTSlabComp" width="140" align="left">Slab</th>
                            <th field="AchieveOTInMinSTComp" width="130" align="left">Schedule</th>
                            <th field="ActivityComp" width="100" align="left">Activity</th>
                        </tr>
                    </thead>
                </table>

                <div id="toolbar_OTSlabComp" style="height:30px;">
                    <input id="txtMinInMinComp" style="width:70px;" type="text" class="number" placeholder="Min In Min" />
                    <input id="txtMaxInMinComp" style="width:70px;" type="text" class="number" placeholder="Max In Min" />
                    <input id="txtAchieveInMinComp" style="width:85px;" type="text" class="number" placeholder="Achieve In Min" />
                    <input id="btnSave_ShiftOTSlabComp" type="button" value="+" />
                    <input id="btnDelete_ShiftOTSlabComp" type="button" value="-" />
                    <a id="btnActivity_ShiftOTSlabComp" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Activity</a>
                    <a id="btnAddCompSlab" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Add</a>
                </div>
            </fieldset>
            

        </div>
        <fieldset style="width:99%;">
            <legend style="font-weight:bold"> Action : </legend>
            <div style="width:100%; text-align:right">
                <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
            </div>
        </fieldset>
    </div>
</div>



<script type="text/javascript"> 
 
 var _sBaseAddress="";
 var _oHRMShift;
 var _nMenuid=0;
 var _bIsAddHRMShift = false;
 var _oOTSlab = null;
 var _nShiftID = 0;

 $(document).ready(function () {
    debugger;     
    _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress])); 
     _oHRMShift=@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));   
     _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(MenuID));  
     _nShiftID = _oHRMShift.ShiftID;
     ResetAllFields();
     RefreshControl();
        
 });
    $('#chkIsOT').click(function () {
        if (document.getElementById("chkIsOT").checked == true) {
            $('#tpOTStart').timespinner({ disabled: false });
            $('#tpOTEnd').timespinner({ disabled: false });
            $("#chkOTOnActual").prop('disabled', false);
            $("#txtOTCalculateAfterInMinute").prop('disabled', false);
        }
        else {
            $('#tpOTStart').timespinner({ disabled: true });
            $('#tpOTEnd').timespinner({ disabled: true });
            $("#chkOTOnActual").prop('disabled', true);
            $("#txtOTCalculateAfterInMinute").prop('disabled', true);
            $("#chkOTOnActual").attr('checked', false);
        }
        $('#tpOTStart').timespinner('setValue', '00:00');
        $('#tpOTEnd').timespinner('setValue', '00:00');
        $("#txtOTCalculateAfterInMinute").val(0);
    });
    $('#chkHalfDayoff').click(function () {
        if (document.getElementById("chkHalfDayoff").checked == true) {
            $('#PStart').timespinner({ disabled: false });
            $('#PEnd').timespinner({ disabled: false });
        }
        else {
            $('#PStart').timespinner({ disabled: true });
            $('#PEnd').timespinner({ disabled: true });
        }
        $('#PStart').timespinner('setValue', '00:00');
        $('#PEnd').timespinner('setValue', '00:00');
    });
function RefreshControl()
    {
    debugger;
    DynamicRefreshList([], "tblShiftBreakSchedule");
    LoadShiftBrSchedule();
    LoadShiftOTSlab();
    LoadShiftOTSlabComp();
    LoadShiftBrName();
    $("#txtName").val(_oHRMShift.Name);
    $("#txtNameBangla").val(_oHRMShift.NameBangla);
    $("#txtCode").val(_oHRMShift.Code);
    $('#tpReportTime').timespinner('setValue', _oHRMShift.ReportTimeInString);
    $('#tpStartTime').timespinner('setValue', _oHRMShift.StartTimeInString);
    $('#tpEndTime').timespinner('setValue', _oHRMShift.EndTimeInString);
    $('#tpTolerenceTime').timespinner('setValue', _oHRMShift.ToleranceTimeInString);
    $('#tpTolerenceEarlyTime').val(_oHRMShift.ToleranceForEarlyInMin);
    $("#txtTotalWorkingTime").val(_oHRMShift.TotalWorkingTimeInString);
    $('#tpDayEndTime').timespinner('setValue', _oHRMShift.DayEndTimeInString);
    $('#tpDayStartTime').timespinner('setValue', _oHRMShift.DayStartTimeInString);
    
    if (_oHRMShift.IsHalfDayOff) {
        $('#PStart').timespinner({ disabled: false });
        $('#PEnd').timespinner({ disabled: false });
        $("#chkHalfDayoff").attr('checked', _oHRMShift.IsHalfDayOff);
        $('#PStart').timespinner('setValue', _oHRMShift.PStartInString);
        $('#PEnd').timespinner('setValue', _oHRMShift.PEndInString);
    }    else {
        $('#PStart').timespinner({ disabled: true });
        $('#PEnd').timespinner({ disabled: true });
    }
    debugger;
    $("#chkIsOT").attr("checked", _oHRMShift.IsOT);
    if (_oHRMShift.IsOT) {
        $('#tpOTStart').timespinner({ disabled: false });
        $('#tpOTEnd').timespinner({ disabled: false });
        $("#chkOTOnActual").prop('disabled', false);
        $("#chkOTOnActual").attr('checked', _oHRMShift.IsOTOnActual);
        $("#txtOTCalculateAfterInMinute").prop('disabled', false);
        $("#txtOTCalculateAfterInMinute").val(_oHRMShift.OTCalculateAfterInMinute);
    }
    else {
        $('#tpOTStart').timespinner({ disabled: true });
        $('#tpOTEnd').timespinner({ disabled: true });
        $("#chkOTOnActual").prop('disabled', true);
        $("#txtOTCalculateAfterInMinute").prop('disabled', true);
    }
    $('#tpOTStart').timespinner('setValue', _oHRMShift.OTStartTimeInString);
    $('#tpOTEnd').timespinner('setValue', _oHRMShift.OTEndTimeInString);
    $('#tsCompMaxEndTime').timespinner('setValue', _oHRMShift.CompMaxEndTimeInString);
    $("#txtOTCompliance").val(_oHRMShift.MaxOTComplianceInMin);
}
function CompMaxEndTime(myRadio) {
    
    $("#txtOTCompliance").prop('disabled', true);
    $('#tsCompMaxEndTime').timespinner({ disabled: false });
    $('#tsCompMaxEndTime').timespinner('setValue', '00:00');
}
function CompOT(myRadio) {
    $('#tsCompMaxEndTime').timespinner({ disabled: true });
    $("#txtOTCompliance").prop('disabled', false);
}

    
function LoadShiftBrSchedule() {
    var oShiftBreakName = { ShiftID: _oHRMShift.ShiftID };
    var obj = {
        BaseAddress: _sBaseAddress,
        Object: oShiftBreakName,
        ControllerName: "HRMShift",
        ActionName: "getsShiftBreakSchedule",
        IsWinClose: false
    };
    debugger
    $.icsDataGets(obj, function (response) {
        if (response.status && response.objs.length > 0) {
            DynamicRefreshList(response.objs, "tblShiftBreakSchedule");
        }
    });
}
    
function LoadShiftOTSlab() {
    var oShiftOTSlab = { ShiftID: _oHRMShift.ShiftID };
    var obj = {
        BaseAddress: _sBaseAddress,
        Object: oShiftOTSlab,
        ControllerName: "HRMShift",
        ActionName: "getsShiftOTSlab",
        IsWinClose: false
    };
    debugger
    $.icsDataGets(obj, function (response) {
        if (response.status && response.objs.length > 0) {
            DynamicRefreshList(response.objs, "tblShiftOTSlab");
        }
    });
    $("#txtMinInMin").val("");
    $("#txtMaxInMin").val("");
    $("#txtAchieveInMin").val("");
}   
function LoadShiftOTSlabComp() {
    var oShiftOTSlab = { ShiftID: _oHRMShift.ShiftID };
    var obj = {
        BaseAddress: _sBaseAddress,
        Object: oShiftOTSlab,
        ControllerName: "HRMShift",
        ActionName: "getsShiftOTSlab",
        IsWinClose: false
    };
    debugger
    $.icsDataGets(obj, function (response) {
        if (response.status && response.objs.length > 0) {
            DynamicRefreshList(response.objs, "tblShiftOTSlabComp");
        }
    });
    $("#txtMinInMin").val("");
    $("#txtMaxInMin").val("");
    $("#txtAchieveInMin").val("");
}
function ResetAllFields()
{
    $("#txtName").val("");
    $("#txtNameBangla").val("");
    $("#txtCode").val("");
    $('#tpDayStartTime').timespinner('setValue', '00:00');
    $('#tpDayEndTime').timespinner('setValue', '23:59');

    $('#tpStartTime').timespinner('setValue', '00:00');
    $('#tpEndTime').timespinner('setValue', '00:00');
    $('#tpReportTime').timespinner('setValue', '00:00');
    $('#tpTolerenceEarlyTime').val(0);
    $('#tpTolerenceTime').timespinner('setValue', '00:00');
    $('#tsCompMaxEndTime').timespinner('setValue', '00:00');
    $("#txtTotalWorkingTime").val("");
    
    $("#chkIsOT").prop('checked', false);
    $('#tpOTStart').timespinner({ disabled: true });
    $('#tpOTEnd').timespinner({ disabled: true });
    $("#chkOTOnActual").prop('disabled', true);
    $("#txtOTCalculateAfterInMinute").prop('disabled', true);
    $('#tpOTStart').timespinner('setValue', '00:00');
    $('#tpOTEnd').timespinner('setValue', '00:00');
    
    $('#PStart').timespinner({ disabled: true });
    $('#PEnd').timespinner({ disabled: true });

    //$("#btnSave_ShiftBreakSchedule").hide();
    //$("#btnDelete_ShiftBreakSchedule").hide("");
    LoadShiftBrName();
    DynamicRefreshList([], "tblShiftBreakSchedule");

    //$("#btnSave_ShiftOTSlab").hide();
    //$("#btnDelete_ShiftOTSlab").hide("");
    $("#txtMinInMin").val("");
    $("#txtMaxInMin").val("");
    $("#txtAchieveInMin").val("");
    DynamicRefreshList([], "tblShiftOTSlab");

}
function LoadShiftBrName()
{
    var oShiftBreakName = { ShiftBNID: 0 }
    var obj = {
        BaseAddress: _sBaseAddress,
        Object: oShiftBreakName,
        ControllerName: "HRMShift",
        ActionName: "getsShiftBreakName",
        IsWinClose: false
    };

    $.icsDataGets(obj, function (response) {
        if (response.status && response.objs.length > 0) {
            $("#cboShiftBreakName").icsLoadCombo({
                List: response.objs,
                OptionValue: "ShiftBNID",
                DisplayText: "Name",
                InitialValue: "Br. Name"
            });
        }
    });
    $('#tpStartBSchedule').timespinner('setValue', '00:00');
    $('#tpEndBSchedule').timespinner('setValue', '00:00');
}
function RefreshObject() {
    debugger;
    var MaxOT = $("#txtOTCompliance").val();
    if(MaxOT == null || MaxOT <= 0) {
        MaxOT = 0;
    }
    var TWT = 0;
    var endTime = $('#tpEndTime').timespinner('getValue');
    var startTime = $('#tpStartTime').timespinner('getValue');
    var eTime = endTime.split(':');
    var hEndTime = parseFloat(eTime[0]);
    var mEndTime = parseFloat(eTime[1]);
    var sTime = startTime.split(':');
    var hStartTime = parseFloat(sTime[0]);
    var mStartTime = parseFloat(sTime[1]);
    if (hEndTime < hStartTime) {
        TWT = (((hEndTime + 12) * 60) + mEndTime) - (((hStartTime - 12) * 60) + mStartTime);
    }
    else {
        TWT = (((hEndTime) * 60) + mEndTime) - (((hStartTime) * 60) + mStartTime);
    }
    var oHRMShift = {
        ShiftID: _oHRMShift.ShiftID,
        Code: $("#txtCode").val(),
        Name: $("#txtName").val(),
        NameBangla: $("#txtNameBangla").val(),
        ReportTime: $('#tpReportTime').timespinner('getValue'),
        StartTime: $('#tpStartTime').timespinner('getValue'),
        EndTime: $('#tpEndTime').timespinner('getValue'),
        TotalWorkingTime: TWT,
        ToleranceTime: $('#tpTolerenceTime').timespinner('getValue'),
        ToleranceForEarlyInMin: $('#tpTolerenceEarlyTime').val(),
        DayEndTime: $('#tpDayEndTime').timespinner('getValue'),
        DayStartTime: $('#tpDayStartTime').timespinner('getValue'),
        IsOT: $('#chkIsOT').is(":checked"),
        OTStartTime: $('#tpOTStart').timespinner('getValue'),
        OTEndTime: $('#tpOTEnd').timespinner('getValue'),
        IsOTOnActual: $('#chkOTOnActual').is(":checked"),
        OTCalculateAfterInMinute: $("#txtOTCalculateAfterInMinute").val(),
        MaxOTComplianceInMin: MaxOT,
        CompMaxEndTime:$('#tsCompMaxEndTime').timespinner('getValue'),
        IsWithComp:false,
        IsHalfDayOff:$('#chkHalfDayoff').is(":checked"),
        PStart:$('#PStart').timespinner('getValue'),
        PEnd:$('#PEnd').timespinner('getValue'),
    };
    return oHRMShift;    
}

function RefreshObject_Comp() {
    debugger;
    var MaxOT = $("#txtOTCompliance").val();
    if(MaxOT == null || MaxOT <= 0) {
        MaxOT = 0;
    }

    debugger;
    var getRadio = $('input[name=compliance]:checked').val();
    var IsOutOrOT = true;
    if(parseInt(getRadio)==1)
    {
        IsOutOrOT = true;
    }
    else {
        IsOutOrOT = false;
    }
    var oHRMShift = {
        ShiftID: _oHRMShift.ShiftID,
        Name:_oHRMShift.Name,
        NameBangla:_oHRMShift.NameBangla,
        Code:_oHRMShift.Code,
        ReportTime:_oHRMShift.ReportTimeInString,
        StartTime:_oHRMShift.StartTimeInString,
        EndTime:_oHRMShift.EndTimeInString,
        ToleranceTime:_oHRMShift.ToleranceTimeInString,
        ToleranceForEarlyInMin: _oHRMShift.ToleranceForEarlyInMin,
        TotalWorkingTime:_oHRMShift.TotalWorkingTimeInString,
        DayEndTime:_oHRMShift.DayEndTimeInString,
        DayStartTime:_oHRMShift.DayStartTimeInString,
        IsOT:_oHRMShift.IsOT,
        IsOTOnActual:_oHRMShift.IsOTOnActual,
        OTCalculateAfterInMinute:_oHRMShift.OTCalculateAfterInMinute,
        OTStartTime:_oHRMShift.OTStartTimeInString,
        IsOTOnActual:_oHRMShift.OTEndTimeInString,
        IsOutOrOT:IsOutOrOT,
        MaxOTComplianceInMin: MaxOT,
        CompMaxEndTime:$('#tsCompMaxEndTime').timespinner('getValue'),
        IsWithComp:true
    };
    return oHRMShift;    
}

$("#btnSaveCompliance").click(function () {
    debugger        
    //if (!ValidateInput()) return;
    if(_oHRMShift.ShiftID <=0) {
        alert("First ");
        return;
    }
    var oHRMShift = RefreshObject_Comp();
    var obj = {
        BaseAddress: _sBaseAddress,
        Object: oHRMShift,
        ObjectId: oHRMShift.ShiftID,
        ControllerName: "HRMShift",
        ActionName: "Save",
        TableId: "",
        IsWinClose: false
    };

    $.icsSave(obj, function (response) {
        if (response.status && response.obj.ShiftID > 0) {
            debugger
            _oHRMShift.ShiftID = response.obj.ShiftID;
            if (_bIsAddHRMShift) {
                var oHRMShifts = $('#tblHRMShifts').datagrid('getRows');
                var nIndex = oHRMShifts.length;
                $('#tblHRMShifts').datagrid('appendRow', response.obj);
                $('#tblHRMShifts').datagrid('selectRow', nIndex);
            }
            else {
                var oHRMShift = $('#tblHRMShifts').datagrid('getSelected');
                var SelectedRowIndex = $('#tblHRMShifts').datagrid('getRowIndex', oHRMShift);
                $('#tblHRMShifts').datagrid('updateRow', { index: SelectedRowIndex, row: response.obj });
            }
            //$("#winHRMShift").icsWindow("close");
            $("#btnSave_ShiftBreakSchedule").show();
            $("#btnSave_ShiftOTSlab").show();
            ResetAllFields();
        }
    });

        
});
function ValidateInput() {
    if ($("#txtName").val() == null || $("#txtName").val() == "") {
        alert("Please enter Name!");
        $('#txtName').focus();
        return false;
    }
    if ($('#tpStartTime').timespinner('getValue') == "") {
        alert("Please enter start time!");
        $('#tpStartTime').focus();
        return false;
    }
    if ($('#tpEndTime').timespinner('getValue') == "") {
        alert("Please enter end time!");
        $('#tpEndTime').focus();
        return false;
    }
    return true;
}
$("#btnSave").click(function () {
    debugger        
    if (!ValidateInput()) return;
    var oHRMShift = RefreshObject();
    var obj = {
        BaseAddress: _sBaseAddress,
        Object: oHRMShift,
        ObjectId: oHRMShift.ShiftID,
        ControllerName: "HRMShift",
        ActionName: "Save",
        TableId: "",
        IsWinClose: false
    };

    $.icsSave(obj, function (response) {
        if (response.status && response.obj.ShiftID > 0) {
            debugger
            _oHRMShift.ShiftID = response.obj.ShiftID;
            if (_bIsAddHRMShift) {
                var oHRMShifts = $('#tblHRMShifts').datagrid('getRows');
                var nIndex = oHRMShifts.length;
                $('#tblHRMShifts').datagrid('appendRow', response.obj);
                $('#tblHRMShifts').datagrid('selectRow', nIndex);
            }
            else {
                var oHRMShift = $('#tblHRMShifts').datagrid('getSelected');
                var SelectedRowIndex = $('#tblHRMShifts').datagrid('getRowIndex', oHRMShift);
                $('#tblHRMShifts').datagrid('updateRow', { index: SelectedRowIndex, row: response.obj });
            }
            //$("#winHRMShift").icsWindow("close");
            $("#btnSave_ShiftBreakSchedule").show();
            $("#btnSave_ShiftOTSlab").show();
            ResetAllFields();
        }
    });

        
});
    
    
$("#btnSave_ShiftBreakSchedule").click(function () {
    if (!ValidateInput_ShiftBrSchedule()) return;
    var oSBSchedule = RefreshObject_ShiftBrSchedule();

    var obj = {
        BaseAddress: _sBaseAddress,
        Object: oSBSchedule,
        ObjectId: oSBSchedule.ShiftBScID,
        ControllerName: "HRMShift",
        ActionName: "ShiftBreakSchedule_IU",
        TableId: "tblShiftBreakSchedule",
        IsWinClose: false
    };
    $.icsSave(obj);
});

    
$('#btnDelete_ShiftBreakSchedule').click(function (e) {
    var oShiftBreakSchedule = $('#tblShiftBreakSchedule').datagrid('getSelected');
    if (oShiftBreakSchedule == null || oShiftBreakSchedule.ShiftBScID <= 0) {
        alert("Please select an item from list!");
        return;
    }

    if (!confirm("Confirm to Delete?")) return;
    var SelectedRowIndex = $('#tblShiftBreakSchedule').datagrid('getRowIndex', oShiftBreakSchedule);
    var obj = {
        BaseAddress: _sBaseAddress,
        Object: oShiftBreakSchedule,
        ControllerName: "HRMShift",
        ActionName: "ShiftBreakSchedule_Delete",
        TableId: "tblShiftBreakSchedule",
        IsWinClose: false
    };
    $.icsDelete(obj);
});

    
$('#btnActivity_ShiftBreakSchedule').click(function (e) {
    var oShiftBreakSchedule = $('#tblShiftBreakSchedule').datagrid('getSelected');
    if (oShiftBreakSchedule == null || oShiftBreakSchedule.ShiftBScID <= 0) {
        alert("Please select an item from list!");
        return;
    }

    var SelectedRowIndex = $('#tblShiftBreakSchedule').datagrid('getRowIndex', oShiftBreakSchedule);
    $.ajax({
        type: "POST",
        dataType: "json",
        url: _sBaseAddress + "/HRMShift/ShiftBreakSchedule_Activity",
        traditional: true,
        data: JSON.stringify(oShiftBreakSchedule),
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            oShiftBreakSchedule = jQuery.parseJSON(data);
            if (oShiftBreakSchedule.ShiftBScID > 0) {
                alert("Saved Successfully!");
                $('#tblShiftBreakSchedule').datagrid('updateRow', { index: SelectedRowIndex, row: oShiftBreakSchedule });
            }
            else {
                alert(oShiftBreakSchedule.ErrorMessage);
            }
        }
    });
});

$("#btnSave_ShiftOTSlab").click(function () {
    if (!ValidateInput_ShiftOTSlab()) return;
    var oShiftOTSlab = RefreshObject_ShiftOTSlab();

    var obj = {
        BaseAddress: _sBaseAddress,
        Object: oShiftOTSlab,
        ObjectId: oShiftOTSlab.ShiftOTSlabID,
        ControllerName: "HRMShift",
        ActionName: "ShiftOTSlab_IU",
        TableId: "tblShiftOTSlab",
        IsWinClose: false
    };
        
    $.icsSave(obj, function (response) {
        if (response.status && response.obj.ShiftOTSlabID > 0) {

            _oOTSlab = response.obj;

            $("#txtMinInMin").val("");
            $("#txtMaxInMin").val("");
            $("#txtAchieveInMin").val("");
        }
    });
});

$('#btnDelete_ShiftOTSlab').click(function (e) {
    debugger;
    var oSlab = $('#tblShiftOTSlab').datagrid('getSelected');
    if (oSlab == null || oSlab.ShiftOTSlabID <= 0) {
        alert("Please select an item from list!");
        return;
    }
    var oShiftOTSlab = {
        ShiftOTSlabID: oSlab.ShiftOTSlabID,
        ShiftID: oSlab.ShiftID,
        MinOTInMin: 0,
        MaxOTInMin: 0,
        AchieveOTInMin:0,
        IsActive:false,
        CompMinOTInMin: oSlab.CompMinOTInMin,
        CompMaxOTInMin: oSlab.CompMaxOTInMin,
        CompAchieveOTInMin:oSlab.CompAchieveOTInMin,
        IsCompActive:oSlab.IsCompActive
    };
    if (!confirm("Confirm to Delete?")) return;
    var SelectedRowIndex = $('#tblShiftOTSlab').datagrid('getRowIndex', oShiftOTSlab);
    var obj = {
        BaseAddress: _sBaseAddress,
        Object: oShiftOTSlab,
        ControllerName: "HRMShift",
        ActionName: "ShiftOTSlab_Delete",
        TableId: "tblShiftOTSlab",
        IsWinClose: false
    };
    $.icsDelete(obj);
});
    
$('#btnActivity_ShiftOTSlab').click(function (e) {
    var oShiftOTSlab = $('#tblShiftOTSlab').datagrid('getSelected');
    if (oShiftOTSlab == null || oShiftOTSlab.ShiftOTSlabID <= 0) {
        alert("Please select an item from list!");
        return;
    }

    var SelectedRowIndex = $('#tblShiftOTSlab').datagrid('getRowIndex', oShiftOTSlab);
    $.ajax({
        type: "POST",
        dataType: "json",
        url: _sBaseAddress + "/HRMShift/ShiftOTSlab_Activity",
        traditional: true,
        data: JSON.stringify(oShiftOTSlab),
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            oShiftOTSlab = jQuery.parseJSON(data);
            if (oShiftOTSlab.ShiftOTSlabID > 0) {
                alert("Saved Successfully!");
                $('#tblShiftOTSlab').datagrid('updateRow', { index: SelectedRowIndex, row: oShiftOTSlab });
            }
            else {
                alert(oShiftOTSlab.ErrorMessage);
            }
        }
    });
});
// Shift OT Slab Start
function ValidateInput_ShiftOTSlab() {
    debugger
    if (_oHRMShift.ShiftID <= 0) {
        alert("Please save a shift first!");
        return false;
    }
 
    if ($.trim($("#txtMinInMin").val()) <= 0) {
        alert("Please select a min value!");
        $('#txtMinInMin').focus();
        return false;
    }
    if ($.trim($("#txtMaxInMin").val()) <= 0) {
        alert("Please select a max value!");
        $('#txtMaxInMin').focus();
        return false;
    }
    if ($.trim($("#txtAchieveInMin").val()) <= 0) {
        alert("Please select a achive value!");
        $('#txtAchieveInMin').focus();
        return false;
    }
    return true;
}
// Shift OT Slab Start
function ValidateInput_ShiftOTSlabComp() {
    if (_oHRMShift.ShiftID <= 0) {
        alert("Please save a shift first!");
        return false;
    }
 
    if ($.trim($("#txtMinInMinComp").val()) <= 0) {
        alert("Please select a min value!");
        $('#txtMinInMinComp').focus();
        return false;
    }
    if ($.trim($("#txtMaxInMinComp").val()) <= 0) {
        alert("Please select a max value!");
        $('#txtMaxInMinComp').focus();
        return false;
    }
    if ($.trim($("#txtAchieveInMinComp").val()) <= 0) {
        alert("Please select a achive value!");
        $('#txtAchieveInMinComp').focus();
        return false;
    }
    return true;
}



    
function RefreshObject_ShiftOTSlab() {
    var oShiftOTSlab = {
        ShiftOTSlabID: 0,
        ShiftID: _oHRMShift.ShiftID,
        MinOTInMin: $.trim($("#txtMinInMin").val()),
        MaxOTInMin: $.trim($("#txtMaxInMin").val()),
        AchieveOTInMin:$.trim($("#txtAchieveInMin").val()),
        CompMinOTInMin: $.trim($("#txtMinInMin").val()),
        CompMaxOTInMin: $.trim($("#txtMaxInMin").val()),
        CompAchieveOTInMin:$.trim($("#txtAchieveInMin").val())
    };

    return oShiftOTSlab;
}
    
function RefreshObject_ShiftOTSlabComp() {
    debugger;
    var oSlab = $('#tblShiftOTSlab').datagrid('getSelected');

    var oShiftOTSlab = {
        ShiftOTSlabID: oSlab.ShiftOTSlabID,
        ShiftID: oSlab.ShiftID,
        MinOTInMin: oSlab.MinOTInMin,
        MaxOTInMin: oSlab.MaxOTInMin,
        AchieveOTInMin:oSlab.AchieveOTInMin,
        IsActive:oSlab.IsActive,
        CompMinOTInMin: $.trim($("#txtMinInMinComp").val()),
        CompMaxOTInMin: $.trim($("#txtMaxInMinComp").val()),
        CompAchieveOTInMin:$.trim($("#txtAchieveInMinComp").val())
    };

    return oShiftOTSlab;
}


/*Comp OT Slab*/
$("#btnSave_ShiftOTSlabComp").click(function () {
    debugger;
    var oSlab = $('#tblShiftOTSlabComp').datagrid('getSelected');
    if (!ValidateInput_ShiftOTSlabComp()) return;
    //var oShiftOTSlab = RefreshObject_ShiftOTSlabComp();
    
    var oShiftOTSlab = {
        ShiftOTSlabID: oSlab.ShiftOTSlabID,
        ShiftID: oSlab.ShiftID,
        MinOTInMin: oSlab.MinOTInMin,
        MaxOTInMin: oSlab.MaxOTInMin,
        AchieveOTInMin:oSlab.AchieveOTInMin,
        IsActive:oSlab.IsActive,
        CompMinOTInMin: $.trim($("#txtMinInMinComp").val()),
        CompMaxOTInMin: $.trim($("#txtMaxInMinComp").val()),
        CompAchieveOTInMin:$.trim($("#txtAchieveInMinComp").val())
    };

    var SelectedRowIndex = $('#tblShiftOTSlabComp').datagrid('getRowIndex', oSlab);

    //var obj = {
    //    BaseAddress: _sBaseAddress,
    //    Object: oShiftOTSlab,
    //    ObjectId: oShiftOTSlab.ShiftOTSlabID,
    //    ControllerName: "HRMShift",
    //    ActionName: "ShiftOTSlab_IU",
    //    TableId: "tblShiftOTSlab",
    //    IsWinClose: false
    //};
        

    $.icsSave({
        BaseAddress: _sBaseAddress,
        Object: oShiftOTSlab,
        ObjectId: oShiftOTSlab.ShiftOTSlabID,
        ControllerName: "HRMShift",
        ActionName: "ShiftOTSlab_IU",
        TableId: "tblShiftOTSlabComp",
        IsWinClose: false,
        Message: "Data Saved Successfully."

    },function (response){
        if(response.status && response.obj!=null){
            if(response.obj.ShiftOTSlabID > 0) {
                debugger;
                $("#txtMinInMinComp").val("");
                $("#txtMaxInMinComp").val("");
                $("#txtAchieveInMinComp").val("");
                $('#tblShiftOTSlabComp').datagrid('updateRow', { index: SelectedRowIndex, row: oSlab });
            }
        }
    });

    //$.icsSave(obj, function (response) {
    //    if (response.status && response.obj!=null) {
    //        debugger;
    //        if(response.obj.ShiftOTSlabID > 0) {
    //            debugger;
    //            $("#txtMinInMinComp").val("");
    //            $("#txtMaxInMinComp").val("");
    //            $("#txtAchieveInMinComp").val("");
    //            $('#tblShiftOTSlabComp').datagrid('updateRow', { index: SelectedRowIndex, row: oSlab });
    //        }
    //    }
    //});
});

$('#btnDelete_ShiftOTSlabComp').click(function (e) {
    debugger;
    var oSlab = $('#tblShiftOTSlabComp').datagrid('getSelected');
    if (oSlab == null || oSlab.ShiftOTSlabID <= 0) {
        alert("Please select an item from list!");
        return;
    }
    var oShiftOTSlab = {
        ShiftOTSlabID: oSlab.ShiftOTSlabID,
        ShiftID: oSlab.ShiftID,
        MinOTInMin: oSlab.MinOTInMin,
        MaxOTInMin: oSlab.MaxOTInMin,
        AchieveOTInMin:oSlab.AchieveOTInMin,
        IsActive:oSlab.IsActive,
        CompMinOTInMin: 0,
        CompMaxOTInMin: 0,
        CompAchieveOTInMin:0,
        IsCompActive:false
    };
    if (!confirm("Confirm to Delete?")) return;
    var SelectedRowIndex = $('#tblShiftOTSlabComp').datagrid('getRowIndex', oShiftOTSlab);
    var obj = {
        BaseAddress: _sBaseAddress,
        Object: oShiftOTSlab,
        ControllerName: "HRMShift",
        ActionName: "ShiftOTSlab_Delete",
        TableId: "tblShiftOTSlabComp",
        IsWinClose: false
    };
    $.icsDelete(obj);
});
    
$('#btnActivity_ShiftOTSlabComp').click(function (e) {
    var oShiftOTSlab = $('#tblShiftOTSlabComp').datagrid('getSelected');
    if (oShiftOTSlab == null || oShiftOTSlab.ShiftOTSlabID <= 0) {
        alert("Please select an item from list!");
        return;
    }

    var SelectedRowIndex = $('#tblShiftOTSlabComp').datagrid('getRowIndex', oShiftOTSlab);
    $.ajax({
        type: "POST",
        dataType: "json",
        url: _sBaseAddress + "/HRMShift/ShiftOTSlab_ActivityComp",
        traditional: true,
        data: JSON.stringify(oShiftOTSlab),
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            oShiftOTSlab = jQuery.parseJSON(data);
            if (oShiftOTSlab.ShiftOTSlabID > 0) {
                alert("Saved Successfully!");
                $('#tblShiftOTSlabComp').datagrid('updateRow', { index: SelectedRowIndex, row: oShiftOTSlab });
            }
            else {
                alert(oShiftOTSlab.ErrorMessage);
            }
        }
    });
});

$("#btnAddCompSlab").click(function () {
    debugger;
    if (!ValidateInput_ShiftOTSlabComp()) return;
    
    var oShiftOTSlab = {
        ShiftOTSlabID: 0,
        ShiftID: _nShiftID,
        MinOTInMin: 0,
        MaxOTInMin: 0,
        AchieveOTInMin:0,
        IsActive:false,
        CompMinOTInMin: $.trim($("#txtMinInMinComp").val()),
        CompMaxOTInMin: $.trim($("#txtMaxInMinComp").val()),
        CompAchieveOTInMin:$.trim($("#txtAchieveInMinComp").val())
    };


    $.icsSave({
        BaseAddress: _sBaseAddress,
        Object: oShiftOTSlab,
        ObjectId: oShiftOTSlab.ShiftOTSlabID,
        ControllerName: "HRMShift",
        ActionName: "ShiftOTSlab_IU",
        TableId: "tblShiftOTSlabComp",
        IsWinClose: false,
        Message: "Data Saved Successfully."

    },function (response){
        if(response.status && response.obj!=null){
            if(response.obj.ShiftOTSlabID > 0) {
                debugger;
                $("#txtMinInMinComp").val("");
                $("#txtMaxInMinComp").val("");
                $("#txtAchieveInMinComp").val("");

            }
        }
    });
});

$("#btnAddSlab").click(function () {
    debugger;
    if (!ValidateInput_ShiftOTSlab()) return;
    
    var oShiftOTSlab = {
        ShiftOTSlabID: 0,
        ShiftID: _nShiftID,
        MinOTInMin: $.trim($("#txtMinInMin").val()),
        MaxOTInMin: $.trim($("#txtMaxInMin").val()),
        AchieveOTInMin:$.trim($("#txtAchieveInMin").val()),
        CompMinOTInMin: 0,
        CompMaxOTInMin: 0,
        CompAchieveOTInMin:0,
        IsCompActive:false
    };


    $.icsSave({
        BaseAddress: _sBaseAddress,
        Object: oShiftOTSlab,
        ObjectId: oShiftOTSlab.ShiftOTSlabID,
        ControllerName: "HRMShift",
        ActionName: "ShiftOTSlab_IU",
        TableId: "tblShiftOTSlab",
        IsWinClose: false,
        Message: "Data Saved Successfully."

    },function (response){
        if(response.status && response.obj!=null){
            if(response.obj.ShiftOTSlabID > 0) {
                debugger;
                $("#txtMinInMin").val("");
                $("#txtMaxInMin").val("");
                $("#txtAchieveInMin").val("");
            }
        }
    });
});
$("#btnClose").click(function () {
    window.location.href = _sBaseAddress+ "/HRMShift/ViewHRMShifts?menuid="+_nMenuid;
});
$("#btnClose2").click(function () {
    window.location.href = _sBaseAddress+ "/HRMShift/ViewHRMShifts?menuid="+_nMenuid;
});
</script>