@model IEnumerable<ESimSol.BusinessObjects.RouteLocation>
@{
    ViewBag.Title = "View Route Location";
}
<div style="margin-left: 0px; height: 100%; width:100%">
    <table id="tblRouteLocation" title="Route Location" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
        <thead>
            <tr>
                <th field="LocCode" width="15%" align="left">Location Code</th>
                <th field="LocationTypeSt" width="25%" align="left">Location Type</th>
                <th field="Name" width="30%" align="left">Name</th>
                <th field="Description" width="25%" align="left">Description</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"></a>        
        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
        <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
        <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
    </div>
</div>
<script type="text/javascript">    
    var _oRouteLocations=[];        
    $(document).ready(function()
    { 
        _oRouteLocations =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oRouteLocations =sessionStorage.getItem("RouteLocations");
        if(oRouteLocations!=null)
        {
            oRouteLocations = jQuery.parseJSON(oRouteLocations);  
        }
        else
        {
            oRouteLocations = _oRouteLocations;
        }
        RefreshList(oRouteLocations);        
    });

    $('#btnRefresh').click(function(e){
        var oRouteLocations= $('#tblRouteLocation').datagrid('getRows');
        RefreshList(oRouteLocations);
    });
    
    $('#btnAdd').click(function(e){
        var oRouteLocations= $('#tblRouteLocation').datagrid('getRows');
        sessionStorage.setItem("RouteLocations", JSON.stringify(oRouteLocations)); 
        sessionStorage.setItem("SelectedRowIndex", -1);   
        sessionStorage.setItem("RouteLocationHeader", "Add Route Location");
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv = ((new Date()).getTime()) / 1000;
        window.location.href = sessionStorage.getItem("BaseAddress")+ "/RouteLocation/ViewRouteLocation?id=0&ts="+tsv;;
    });

    $('#btnEdit').click(function(e){
        var oRouteLocation= $('#tblRouteLocation').datagrid('getSelected'); 
        if(oRouteLocation==null || parseInt(oRouteLocation.RouteLocationID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblRouteLocation').datagrid('getRowIndex',oRouteLocation);
        var oRouteLocations= $('#tblRouteLocation').datagrid('getRows');
        sessionStorage.setItem("RouteLocations", JSON.stringify(oRouteLocations)); 
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);   
        sessionStorage.setItem("RouteLocationHeader", "Edit Route Location");
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv = ((new Date()).getTime()) / 1000;
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/RouteLocation/ViewRouteLocation?id="+parseInt(oRouteLocation.RouteLocationID)+"&ts="+tsv;
    });

    $('#btnView').click(function(e){
        var oRouteLocation= $('#tblRouteLocation').datagrid('getSelected'); 
        if(oRouteLocation==null || parseInt(oRouteLocation.RouteLocationID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblRouteLocation').datagrid('getRowIndex',oRouteLocation);
        var oRouteLocations= $('#tblRouteLocation').datagrid('getRows');
        sessionStorage.setItem("RouteLocations", JSON.stringify(oRouteLocations)); 
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);   
        sessionStorage.setItem("RouteLocationHeader", "View Route Location");
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv = ((new Date()).getTime()) / 1000;
        window.location.href = sessionStorage.getItem("BaseAddress")+  "/RouteLocation/ViewRouteLocation?id="+parseInt(oRouteLocation.RouteLocationID)+"&ts="+tsv;
    });
    $('#btnDelete').click(function(e){
        var oRouteLocation= $('#tblRouteLocation').datagrid('getSelected'); 
        if(oRouteLocation==null || parseInt(oRouteLocation.RouteLocationID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblRouteLocation').datagrid('getRowIndex',oRouteLocation);
        if (!confirm("Confirm to delete?")) return;
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oRouteLocation,
            ControllerName: "RouteLocation",
            ActionName: "Delete",
            TableId: "tblRouteLocation",
            IsWinClose: false
        };
        $.icsDelete(obj);

    });

    
    function RefreshList(oRouteLocations) {
        data = oRouteLocations;
        data = { "total": "" + data.length + "", "rows": data };
        $('#tblRouteLocation').datagrid('loadData', data);  
        var nRowIndex =parseInt(sessionStorage.getItem("SelectedRowIndex"));
        if(nRowIndex!=-1)
        {
            $('#tblRouteLocation').datagrid('selectRow', nRowIndex);
        }
    }
</script>


