@{
    ViewBag.Title = "Fabric Transfer Packing List";
}
@model IEnumerable<ESimSol.BusinessObjects.FabricTransferPackingList>
<!DOCTYPE HTML>

<html>
    <head>
        <title>Fabric Transfer Packing List</title>
    </head>
    <body>
        <div id="winAdvSearch" style="width:400px;" class="easyui-window" title="Adv. Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <table style="width:100%;">
                <tr>
                    <td>
                        <fieldset style="margin-bottom: 0px;">
                            <legend>Searching Criteria</legend>
                            <table>
                                <tr>
                                    <td style="text-align:right;">
                                        <label>Dispo No :</label>
                                    </td>
                                    <td colspan="3">
                                        <input id="txtFEONoAdvSearch" type="text" style="width:98%;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right;">
                                        <label>FTN No :</label>
                                    </td>
                                    <td colspan="3">
                                        <input id="txtFTNNoAdvSearch" type="text" style="width:98%;" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align:right;">
                                        <label>Packing List Date :</label>
                                    </td>
                                    <td colspan="3">
                                        <input type="checkBox" id="chkPackingListDateAdvSearch" />
                                        <input id="txtFromPackingListDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                        <input id="txtToPackingListDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="btnResetSearch" colspan="4">
                                        <a id="btnSearchAdvSearch" href="javascript:void(0)" style="float:right;" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                                        <a id="btnResetAdvSearch" href="javascript:void(0)" style="float:right;" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                </tr>
            </table>
            <fieldset class="actionfieldsetstyle">
                <legend>Actions : </legend>
                <label class="lblLoadingMessage" style="float: left;">Loading Please Wait...</label>
                <a id="btnCloseAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
            </fieldset>
        </div>
        <div class="menuMainCollectionTable">
            <table id="tblFTPLs" title="Fabric Transfer Packing List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarFTPL">
                <thead>
                    <tr>
                        <th field="OrderNo" width="18%">Dispo No</th>
                        <th field="PackingListDateSt" width="10%" align="center">Packing List Date</th>
                        <th field="CountRoll" width="8%" align="right">No. of Roll</th>
                        <th field="TotalRollQtySt" width="12%" align="right">Total Roll Qty (Y)</th>
                        <th field="TotalRollQtyInMeterSt" width="12%" align="right">Total Roll Qty (M)</th>
                        <th field="FTNNo" width="10%">FTNNo</th>
                        <th field="Note" width="20%">Note</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbarFTPL">
                <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
                <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>
                <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
                <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
                <div style="float:right;margin-right:10px;">
                    <label>Print Format :</label> 
                    <input id="rdoMeter" type="radio" name="Unit" checked/>Meter
                    <input id="rdoYard" type="radio" name="Unit"/>Yard
                </div>
            </div>
        </div>
    </body>
</html>

<script type="text/javascript">
    var _sBaseAddress="";
    var _oFTPLs=[];
    $(document).ready(function () {
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oFTPLs = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));

        $('#Mainlayout').layout('collapse', 'west');
        $(".lblLoadingMessage").hide();
        $(".easyui-datebox").datebox({ disabled: false });
        $(".easyui-datebox").datebox("setValue", icsdateformat(new Date()));

        var oSessionList = jQuery.parseJSON(sessionStorage.getItem("FTPLs"));
        if(oSessionList!=null && oSessionList!="null" && oSessionList.length > 0)
        {
            DynamicRefreshList(oSessionList,"tblFTPLs");
            var nFTPListID = sessionStorage.getItem("FTPListID");
            var nLength = oSessionList.length;
            var nIndex = -1;
            for(var i=0;i<nLength;i++)
            {
                if(oSessionList[i].FTPListID == parseInt(nFTPListID))
                {
                    nIndex = i;
                    $('#tblFTPLs').datagrid('selectRow', i);
                    break;
                }
            }
        }
        else{
            DynamicRefreshList(_oFTPLs,"tblFTPLs");
        }
    });

    $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });

    $("#btnAdvSearch").click(function(){
        $("#winAdvSearch").icsWindow("open","Advance Search");
        ResetAdvSearchPicker();
    });
    $("#btnResetAdvSearch").click(function(){
        ResetAdvSearchPicker();
    });
    $("#btnCloseAdvSearch").click(function(){
        $("#winAdvSearch").icsWindow("close");
    });
    $("#btnSearchAdvSearch").click(function(){
        var sFEONo = $.trim($("#txtFEONoAdvSearch").val());
        var sFTNNo = $.trim($("#txtFTNNoAdvSearch").val());
        var bIsPackingListDate = $("#chkPackingListDateAdvSearch").is(':checked');
        var dFromPackingListDate = $('#txtFromPackingListDateAdvSearch').datebox('getValue');
        var dToPackingListDate = $('#txtToPackingListDateAdvSearch').datebox('getValue');

        var sParams =      sFEONo + "~"
                        + sFTNNo + "~"
                        + bIsPackingListDate + "~"
                        + dFromPackingListDate + "~"
                        + dToPackingListDate;

        var oFTPL = {
            Params: sParams
        };
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oFTPL,
            ControllerName: "FabricTransferPackingList",
            ActionName: "GetsAdvSearch",
            IsWinClose: false
        };
        $(".lblLoadingMessage").show();
        $.icsMaxDataGets(obj, function (response) {
            if (response.status && response.objs != null) {
                if (response.objs.length > 0) {
                    if($.trim(response.objs[0].ErrorMessage) == "")
                    {
                        DynamicRefreshList(response.objs, "tblFTPLs");
                        $("#winAdvSearch").icsWindow("close");
                    }
                    else{
                        DynamicRefreshList([],"tblFTPLs");
                        alert(response.objs[0].ErrorMessage);
                    }
                }
                else
                {
                    DynamicRefreshList([],"tblFTPLs");
                    alert("No List Found.");
                }
            }
            $(".lblLoadingMessage").hide();
        });
    });

    $("#chkPackingListDateAdvSearch").change(function() {
        if(this.checked) {
            $("#txtFromPackingListDateAdvSearch,#txtToPackingListDateAdvSearch").datebox({ disabled: false });
        }
        else{
            $("#txtFromPackingListDateAdvSearch,#txtToPackingListDateAdvSearch").datebox({ disabled: true });
        }
        $("#txtFromPackingListDateAdvSearch,#txtToPackingListDateAdvSearch").datebox("setValue", icsdateformat(new Date()));
    });

    function ResetAdvSearchPicker()
    {
        $("#winAdvSearch").find("input").val("");
        $("#winAdvSearch").find("input[type=checkbox]").prop('checked', false);
        $("#winAdvSearch").find(".easyui-datebox").datebox({ disabled: true });
        $("#winAdvSearch").find(".easyui-datebox").datebox("setValue", icsdateformat(new Date()));
        $("#winAdvSearch").find("select").val(0);
        $("#winAdvSearch").find("input,select").removeClass("errorFieldBorder");
        $("#winAdvSearch").find("input,select").removeClass("fontColorOfPickItem");
    }

    $("#btnPrint").click(function(){
        
        var oFTPL = $("#tblFTPLs").datagrid("getSelected");
        if(oFTPL == null || oFTPL.FTPListID <= 0){
            alert("Select an item from list.");
            return false;
        }
        var bIsInYard = $("#rdoYard").is(':checked');
        var nts = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress + '/FabricTransferPackingList/Print?nFTPListID=' + oFTPL.FTPListID + "&bIsInYard=" + bIsInYard + "&nts=" + nts, "_blank");
    });

    function SetSession(bSetId,nFTPListID)
    {
        var oFTPLs = $("#tblFTPLs").datagrid("getRows");
        sessionStorage.setItem("FTPLs", JSON.stringify(oFTPLs));
        if(bSetId && nFTPListID>0)
        {
            sessionStorage.setItem("FTPListID",nFTPListID);
        }
    }

    $("#btnDelete").click(function(){
        var oFTPL = $("#tblFTPLs").datagrid("getSelected");

        if (oFTPL == null || oFTPL.FTPListID <= 0) { 
            alert("Please select an item from list!"); return; 
        }
      
        if (!confirm("Confirm to Delete?")) return;
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oFTPL,
            ControllerName: "FabricTransferPackingList",
            ActionName: "DeleteFTPL",
            TableId: "tblFTPLs",
            IsWinClose: false
        };
        $.icsDelete(obj);
    });

    $("#btnAdd").click(function () {
        var oFTPL={
            FTPListID : 0
        };
        SetSession(false,oFTPL.FTPListID);
        var obj = {
            BaseAddress: _sBaseAddress,
            TableId: "",
            OpenedPageTitle: "Add Fabric Transfer Packing",
            Object: oFTPL,
            ObjectId: oFTPL.FTPListID,
            PrimaryKeyName: "FTPListID",
            ControllerName: "FabricTransferPackingList",
            ActionName: "View_FabricTransferPackingList",
            BtnID : $(this).attr("id")
        };
        sessionStorage.setItem("BtnID",$(this).attr("id"));
        $.icsOpenPickerInNewPage(obj);
    });

    $("#btnEdit,#btnView").click(function () {
        var oFTPL = $("#tblFTPLs").datagrid("getSelected");
        if(oFTPL == null || oFTPL.FTPListID <= 0){
            alert("Please select an item from list.");
            return false;
        }
        SetSession(true,oFTPL.FTPListID);
        var obj = {
            BaseAddress: _sBaseAddress,
            TableId: "",
            OpenedPageTitle: "Edit Fabric Transfer Packing",
            Object: oFTPL,
            ObjectId: oFTPL.FTPListID,
            PrimaryKeyName: "FTPListID",
            ControllerName: "FabricTransferPackingList",
            ActionName: "View_FabricTransferPackingList",
            BtnID : $(this).attr("id")
        };
        sessionStorage.setItem("BtnID",$(this).attr("id"));
        $.icsOpenPickerInNewPage(obj);
    });
</script>