
<div class="modal-header">
        <h4 class="modal-title" id="modal-title" ng-bind="PickerTitle">Advance Search</h4>
    </div>
<div  class="modal-body regionSearch">
    <fieldset style="margin-bottom: 0px;">
        <legend>Searching Criteria</legend>
        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label"> Challan No:</label></div>
            <div class="col-md-9 text-left"><input type="text" class="form-control" ng-model="ChallanNo" placeholder="Type Challan No.."></div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">DO No:</label></div>
            <div class="col-md-9 text-left"><input type="text" class="form-control" ng-model="FDONo" placeholder="Type DO No.."></div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">Fabric No:</label></div>
            <div class="col-md-9 text-left"><input type="text" class="form-control" ng-model="FabricNo" placeholder="Type Fabric No.."></div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">Lot/Dispo No:</label></div>
            <div class="col-md-9 text-left"><input type="text" class="form-control" ng-model="LotNo" placeholder="Type Lot/Dispo No.."></div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">PO No:</label></div>
            <div class="col-md-9 text-left"><input type="text" class="form-control" ng-model="OrderNo" placeholder="Type PO No.."></div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">DO Type:</label></div>
            <div class="col-md-9 text-left">
                <select class="form-control" ng-model="cboFDOType" ng-options="item.FDOType as item.FDOName for item in FDOSetups"></select>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">PI No:</label></div>
            <div class="col-md-9 text-left"><input type="text" class="form-control" ng-model="PINo" placeholder="Type PI No.."></div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">Challan Date:</label></div>
            <div class="col-md-9 text-left">
                <div class="col-md-4 text-left">
                    <select class="form-control" ng-model="cboDCDate" ng-change="IssueDateChange()" ng-options="item.id as item.Value for item in CompareOperators"></select>
                </div>
                <div class="col-md-8 text-left">
                    <div class="col-md-12">
                        <div class="input-group date date-container" style="width:43%;float:left">
                            <input type="text" class="form-control" ng-model="txtDCDateFrom"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                        <div style="width:14%;float:inherit;">
                            <span class="input-group-addon" style="height:26px;"><span class="label label-primary">To</span></span>
                        </div>
                        <div class="input-group date date-container" style="width:43%;float:left">
                            <input type="text" class="form-control" ng-model="txtDCDateTo" ng-disabled="txtDCDateToDisabled"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">MKT Person:</label></div>
            <div class="col-md-9 text-left">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="MKTPersonName" ng-keydown="SearchKeyDownMKTPerson($event)" placeholder="Type MKT Person Name & Press Enter">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="PickMKTPerson()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-3 text-right"><label class="control-label">MKT Group:</label></div>
            <div class="col-md-9 text-left">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="MKTGroupName" ng-keydown="SearchKeyDownMKTGroup($event)" placeholder="Type MKT Group Name & Press Enter">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="PickMKTGroup()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>
            </div>
        </div>
    </fieldset>
</div>
<div class="modal-footer">
    <label ng-hide="lblLoadingMessage" style="float:left;color:green; ">Loading Please Wait...</label>
    <button class="btn btn-success" type="button" ng-click="reset()">Reset</button>
    <button class="btn btn-primary" type="button" ng-click="search()">Search</button>
    <button class="btn btn-warning" type="button" ng-click="closeAdvanceSearchModal()">Close</button>
</div>
<style type="text/css">
    .regionSearch .form-control {
        height:26px;
        padding: 0px 2px;
        font-size: 12px;
    }
     .regionSearch .control-label {
        padding-top:1px;
    }
      .regionSearch .col-md-12 {
        width: 100%;
        padding-right:1px;
        padding-left:1px;
        margin-bottom:5px;
    }
     .regionSearch .col-md-3 {
        width:25%;
        padding-left:1px;
    }
     
       .regionSearch .col-md-9 {
        width:75%;
        padding-right:1px;
    }

      .regionSearch .col-md-4 {
        width:28%;
        padding-right:1px;
        padding-left:1px;
    }
      .regionSearch .col-md-8 {
        width:72%;
        padding-right:1px;
        padding-left:1px;
    }
       .regionSearch .col-md-5 {
        width:40%;
        padding-right:1px;
        padding-left:1px;
    }

      .regionSearch .col-md-6 {
        width:48%;
        padding-right:0px;
        padding-left:0px;
    }
      .regionSearch .col-md-1 {
        width:10%;
        padding-right:1px;
        padding-left:1px;
    }
     .regionSearch .btn-sm {
        padding: 3px 10px;
    }

    .regionSearch .input-group-addon {
        padding: 2px 8px;
    }
</style>
  
