@{
    ViewBag.Title = "Add Delivery Challan";
}
@model ESimSol.BusinessObjects.FabricDeliveryChallan

<div style="padding-top:5px" ng-app="FabricDeliveryChallanAPP" ng-controller="FabricDeliveryChallanCtrl" class="form-horizontal regionFabricDeliveryChallan">
    <fieldset>
        <legend>DO Info</legend>
        
        <div class="row col-md-12">
            <div class="col-md-2 text-right"><label class="control-label">Challan No:</label></div>
            <div class="col-md-4 text-left">
                <input ng-model="FabricDeliveryChallan.ChallanNo" disabled="disabled" class="form-control" required />
            </div>
            <div class="col-md-1 text-right"><label class="control-label">DO No:</label></div>
            <div class="col-md-3 text-left">
                <div class="input-group">
                    <input ng-model="FabricDeliveryChallan.FabricDONo" ng-keyup="searchFabricDONoByKeyUp($event)" class="form-control" placeholder="Search DO...." ng-disabled="disabled" required />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sm btn-primary" style="height:22px" aria-label="Left Align" ng-disabled="disabled" ng-click="searchFabricDO()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>
            </div>
            <div class="col-md-1 text-right"><label class="control-label">Date:</label></div>
            <div class="col-md-9 text-left" >
                <div class="input-group date date-container">
                    <input type="text" style="height:24px!important" class="form-control" ng-model="FabricDeliveryChallan.IssueDateSt" ng-disabled="disabled"><span class="input-group-addon"><i class="glyphicon glyphicon-th" ng-disabled="disabled"></i></span>
                </div>
            </div>
            <div class="col-md-2 text-right"><label class="control-label">Buyer Name:</label></div>
            <div class="col-md-4 text-left">
                <input ng-model="FabricDeliveryChallan.BuyerName" disabled="disabled" class="form-control" required />
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-2 text-right"><label class="control-label">Delivery To:</label></div>
            <div class="col-md-4 text-left">
                <input ng-model="FabricDeliveryChallan.DeliveryToName" disabled="disabled" class="form-control" required />
            </div>

            <div class="col-md-1 text-right"><label class="control-label">Store:</label></div>
            <div class="col-md-3 text-left">
                <select ng-model="FabricDeliveryChallan.WorkingUnitID" ng-options="obj.WorkingUnitID as obj.WorkingUnitName for obj in WorkingUnits" ng-disabled="disabled" class="form-control">
                    <option value="">--Select Store--</option>
                </select>
            </div>
            <div class="col-md-1 text-right"><label class="control-label" style="font-size:11px">Vehicle type:</label></div>
            <div class="col-md-9 text-left">
                <select ng-model="FabricDeliveryChallan.VehicleTypeID" ng-options="obj.VehicleTypeID as obj.VehicleTypeName for obj in VehicleTypes" ng-disabled="disabled" class="form-control">
                    <option value="">--Select--</option>
                </select>
            </div>
            <div class="col-md-2 text-right"><label class="control-label">Vehicle Info:</label></div>
            <div class="col-md-4 text-left">
                <input ng-model="FabricDeliveryChallan.VehicleNo" ng-disabled="disabled" class="form-control" required />
            </div>
        </div>
        <div class="row col-md-12">

            <div class="col-md-2 text-right"><label class="control-label">Del. Point:</label></div>
            <div class="col-md-6 text-left">
                <input ng-model="FabricDeliveryChallan.DeliveryPoint" ng-disabled="disabled" class="form-control" required />
            </div>
            <div class="col-md-1 text-right"><label class="control-label" style="font-size:11px">Del. Man:</label></div>
            <div class="col-md-9 text-left">
                <input ng-model="FabricDeliveryChallan.DeliveryMan" ng-disabled="disabled" class="form-control" required />
            </div>
            <div class="col-md-2 text-right"><label class="control-label">Driver Name:</label></div>
            <div class="col-md-4 text-left">
                <input ng-model="FabricDeliveryChallan.DriverName" ng-disabled="disabled" class="form-control" required />
            </div>
        </div>
        <div class="row col-md-12">
            <div class="col-md-2 text-right"><label class="control-label">Remarks:</label></div>
            <div class="col-md-6 text-left">
                <input ng-model="FabricDeliveryChallan.Note" ng-disabled="disabled" class="form-control" required />
            </div>
            <div class="col-md-1 text-right"><label class="control-label" style="font-size:11px">Gate Pass:</label></div>
            <div class="col-md-9 text-left">
                <input ng-model="FabricDeliveryChallan.GatePassNo"  disabled="disabled" class="form-control" required />
            </div>
            <div class="col-md-2 text-right"><label class="control-label" style="font-size:11px">Contract No:</label></div>
            <div class="col-md-4 text-left">
                <input ng-model="FabricDeliveryChallan.DriverMobile" ng-disabled="disabled" class="form-control" required />
            </div>
        </div>
    </fieldset>
   
    <div class="ui-grid-top-panel">
        <div class="row col-md-12">
            <div class="col-md-4 text-left" style="margin:2px 0 0 8px">
                <div class="input-group">
                    <select ng-model="FDODID" ng-options="obj.FDODID as obj.RemainingQtyWithExeConstruction for obj in FabricDODetails" ng-disabled="disabled" class="form-control"></select>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-sm  btn-primary" aria-label="Left Align" style="height:22px" ng-disabled="disabled" ng-click="searchFabricDODDetail()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </span>
                </div>
            </div>
            <div class="col-md-6 text-left">
                <label class="control-label">Other Dispo:</label>
                <input type="checkbox" ng-checked="false" ng-model="chkAllLot">
                <input ng-model="Lots" style="width:160px;height:22px" ng-keydown="SearchKeyDownLotList($event)" placeholder="Type Lot No & Press Enter" required />
                <button type="button" class="btn btn-sm  btn-primary" style="height:22px" aria-label="Left Align" ng-click="PickLotList()"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
                    @*<button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="editDetail()" ng-hide="hide"> <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> </button>*@
                <button type="button" class="btn btn-sm  btn-danger" style="height:22px" aria-label="Left Align" ng-click="deleteDetail()" ng-hide="hide"> <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> </button>
            </div>
        </div>
    </div>
    <div style="width: 99.8%; height:180px;" ui-grid="gridOptions" ui-grid-selection ui-grid-cellnav ui-grid-edit></div>

    <div class="ui-grid-top-panel">
        <div class="row col-md-12">
            <div class="input-group">
                <span class="input-group-btn">
                    <input ng-model="FabricDeliveryChallan.ExeNo" ng-keyup="searchDispoByKeyUp($event)" style="width:20%; margin-left:20px" class="form-control" placeholder="Tyoe Dispo No & Press Enter.." ng-disabled="disabled" required />
                    <button type="button" class="btn btn-sm btn-primary" style="height:22px; margin-top:2px; width:15%; margin-left:8px" aria-label="Left Align" ng-disabled="disabled" ng-click="getsAdj()"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Adjustment </button>
                    <button type="button" class="btn btn-sm btn-danger" style="height:22px; margin-top:2px; width:5%; margin-left:8px" aria-label="Left Align" ng-disabled="disabled" ng-click="Remove_Adj()"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> </button> @*Remove Adjustment*@ 
                </span>
            </div>
           
        </div>
    </div>
    <div style="width: 99.8%; height:130px;" ui-grid="gridOptions_Adj" ui-grid-selection ui-grid-cellnav ui-grid-edit></div>

    <fieldset>
        <legend>Action</legend>
        <div class="row col-md-12 text-right">
            <button type="button" class="btn btn-sm" aria-label="Left Align" style="float:left" ng-click="PrintPreviewNew()"><span class="glyphicon glyphicon-print" aria-hidden="true">Preview New</span></button>
            <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="save(1)" ng-hide="hide"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> Save</span> </button>
            <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="approve()" ng-hide="hide_Approve"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> Approve</span> </button>
            <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="close()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"> Close</span> </button>
        </div>
    </fieldset>

</div>


<style type="text/css">

    .grid{
        width:100%; 
        height:260px;
    }
  
     .form-horizontal .control-label {
        padding-top: 2px;
        margin-bottom: 0;
        text-align: right;
    }
    .regionFabricDeliveryChallan .form-control{
        height:22px;
        padding:0px 2px;
        font-size:12px;
    }
     .regionFabricDeliveryChallan .form-controlTwo{
        height:26px;
        padding:0px 6px;
        font-size:12px;
    }
    .regionFabricDeliveryChallan .col-md-12{
        width:100%;
        padding-right:3px;
        padding-left:3px;
        margin-bottom:3px;
    }
    
    .regionFabricDeliveryChallan .col-md-1{
        width:8%;
        padding-right:3px;
        padding-left:3px;
    }
    .regionFabricDeliveryChallan .col-md-2{
        width:9.5%;
        padding-right:3px;
        padding-left:3px;
    }
    .regionFabricDeliveryChallan .col-md-3{
        width:15%;
        padding-right:3px;
        padding-left:3px;
    }

    .regionFabricDeliveryChallan .col-md-4{
        width:19.5%;
        padding-right:3px;
        padding-left:3px;
    }

    .regionFabricDeliveryChallan .col-md-5{
        width:40%;
        padding-right:3px;
        padding-left:0px;
    }
    
    .regionFabricDeliveryChallan .col-md-6{
        width:42.5%;
        padding-right:3px;
        padding-left:0px;
    }
    .regionFabricDeliveryChallan .col-md-9{
        width:11%;
        padding-right:3px;
        padding-left:0px;
    }
     .regionFabricDeliveryChallan .col-md-10{
        width:86%;
        padding-right:3px;
        padding-left:3px;
    }
    .regionFabricDeliveryChallan .btn-sm{
         padding:3px 10px;
     }
     .regionFabricDeliveryChallan .input-group-addon{
         padding: 4px 8px;
     }
    .regionFabricDeliveryChallan .ui-grid-header-cell-primary-focus {
        line-height: 1;
    }
</style>

<script type="text/javascript">

    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    var oFabricDeliveryChallan =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var oFDCDetails =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FDCDetails));
    var oWorkingUnits=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.WorkingUnits));
    oVehicleTypes=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.VehicleTypes));
    var oMeasurementUnitCon =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.MeasurementUnitCon));
    var FabricDeliveryChallanModule = angular.module('FabricDeliveryChallanAPP', ['ngAnimate', 'ui.bootstrap', 'ui.grid', 'ui.grid.selection', 'ui.grid.edit','ms.service']);
    FabricDeliveryChallanModule.controller('FabricDeliveryChallanCtrl', function ($scope, $http, $uibModal, $log, uiGridConstants, msModal, userSession) {

        $('.date-container').datepicker({
            format: "dd M yyyy",
            calendarWeeks: true,
            autoclose: true,
            todayHighlight: true
        });
       
        var viewType = sessionStorage.getItem("Operation");
        $scope.MeasuementValue=oMeasurementUnitCon.Value;
        $scope.chkAllLot= false;
        if (viewType == 'View2')
        {
            $scope.disabled= true;
            $scope.hide=true;

            $scope.hide_Approve=true;
        }
        else  if (viewType == 'Approve')
        {
            $scope.disabled= true;
            $scope.hide=true;
            $scope.hide_Approve=false;
        }
        else  if (viewType == 'Revise')
        {
            $scope.disabled= false;
            $scope.hide=false;
            $scope.hide_Approve=true;
        }
        else
        {
            $scope.disabled= false;
            $scope.hide=false;

            $scope.hide_Approve=true;
        }

        //$scope.Currencys=oCurrencys;
        $scope.WorkingUnits=oWorkingUnits;
        $scope.VehicleTypes=oVehicleTypes;
        $scope.FabricDeliveryChallan=oFabricDeliveryChallan;
        $scope.FabricDeliveryChallan.FDCDetails=oFDCDetails;
        //uigrid

        var oDetailColumns = [];
        var  oColumn =   {name: ' ',width:'3%', cellTemplate: '<div style="padding-top:5px;"><span>{{grid.renderContainers.body.visibleRowCache.indexOf(row)+1}}</span></div>',cellClass: 'text-center', enableCellEdit: false, enableSorting:false, enableColumnResizing:false, enableColumnMenu:false};oDetailColumns.push(oColumn);
        oColumn = { field: 'OrderNo', name:'PO No', width:'10%',enableCellEdit:false };oDetailColumns.push(oColumn);
        oColumn ={ field: 'FabricNo', name:'Mkt Ref No', width:'10%',enableCellEdit:false };oDetailColumns.push(oColumn);
        oColumn ={ field: 'Qty', name: 'Qty(Y)', cellClass: 'text-right',width: '9%' , cellFilter: 'number: 6', aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true,  type: 'number', enableCellEdit:true,footerCellClass: 'text-right' ,footerCellFilter: 'number:0'};oDetailColumns.push(oColumn);
        oColumn ={ field: 'Qty_Meter', name: 'Qty(M)', cellClass: 'text-right',width: '9%' , cellFilter: 'number: 6', aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true,  type: 'number', enableCellEdit:true,footerCellClass: 'text-right' ,footerCellFilter: 'number:0'};oDetailColumns.push(oColumn);
        oColumn ={ field: 'Construction', name:'Construction', width:'10%',enableCellEdit:false };oDetailColumns.push(oColumn);
        //oColumn ={ field: 'MUName', name:'Unit', width:'7%',enableCellEdit:false };oDetailColumns.push(oColumn);
        oColumn ={ field: 'ExeNo', name:'Dispo No', width:'12%',enableCellEdit:false };oDetailColumns.push(oColumn);
        oColumn ={ field: 'ColorInfo', name:'ColorInfo', width:'8%',enableCellEdit:false };oDetailColumns.push(oColumn);
        oColumn ={ field: 'StyleNo', name:'StyleNo', width:'10%',enableCellEdit:false };oDetailColumns.push(oColumn);
        oColumn ={ field: 'BuyerRef', name:'BuyerRef', width:'7%',enableCellEdit:false };oDetailColumns.push(oColumn);
        oColumn = { field: 'LotNo', name: 'Lot No',width: '13%', enableSorting: false  };oDetailColumns.push(oColumn);
        oColumn = { field: 'LotNo', name: 'Lot No',width: '13%', enableSorting: false  };oDetailColumns.push(oColumn);
        ////Commercial invoice LC Detail
        $scope.gridOptions = {
            showColumnFooter: true,
            enableFullRowSelection: true,
            rowHeight: 25 ,
            columnFooterHeight:24,
            enableHorizontalScrollbar: uiGridConstants.scrollbars.NEVER,
            enableSelectAll: false,
            multiSelect:false,
            columnDefs:oDetailColumns,
            data:oFDCDetails,
            onRegisterApi: function (gridApi) {
                $scope.gridDetailApi = gridApi;
                gridApi.edit.on.afterCellEdit($scope,
                  function (rowEntity, colDef, newValue, oldValue)
                  {
                      debugger;
                      debugger;
                      if(colDef.field=="Qty_Meter")
                      {
                          if(!isNaN($scope.MeasuementValue) && $scope.MeasuementValue>0)
                              rowEntity.Qty=newValue/$scope.MeasuementValue;
                      }else if(colDef.field=="Qty")
                      {
                          if(!isNaN($scope.MeasuementValue) && $scope.MeasuementValue>0)
                              rowEntity.Qty_Meter=newValue*$scope.MeasuementValue;
                      }
                      console.log(colDef);
                      return rowEntity;
                  });
            }
        };
        $scope.gridOptions_Adj = {
            showColumnFooter: true,
            enableFullRowSelection: true,
            rowHeight: 25 ,
            columnFooterHeight:24,
            enableHorizontalScrollbar: uiGridConstants.scrollbars.NEVER,
            enableSelectAll: false,
            multiSelect:false,
            columnDefs:oDetailColumns,
            data:$scope.FabricDeliveryChallan.FDCDetails_Adj,
            enableCellEdit:false,
            onRegisterApi: function (gridApi) {
                $scope.gridDetailApi_Adj = gridApi;
                gridApi.edit.on.afterCellEdit($scope,
                  function (rowEntity, colDef, newValue, oldValue)
                  {
                      debugger;
                      //$scope.SetTotal();
                      return rowEntity;
                  });
            }
        };

        $scope.PrintPreviewNew = function ()
        {
            if(oFabricDeliveryChallan==null || oFabricDeliveryChallan.FDCID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            window.open(_sBaseAddress + '/FabricDeliveryChallan/PrintFDCNew?id='+oFabricDeliveryChallan.FDCID+'&nBUID='+_nBUID+"&bIsMeter= false");
            //$scope.IsMeter
        };
        $scope.save = function (nBack) 
        {
            $scope.FabricDeliveryChallan.FDCDetails=[];
            $scope.FabricDeliveryChallan.IssueDate = $scope.FabricDeliveryChallan.IssueDateSt;
            $scope.FabricDeliveryChallan.FDCDetails = $scope.gridOptions.data;

            if( $scope.FabricDeliveryChallan.FDCDetails==null || $scope.FabricDeliveryChallan.FDCDetails.length<=0)
            {
                alert("Lot info not found");
            }

            $http.post(_sBaseAddress+'/FabricDeliveryChallan/Save',JSON.stringify($scope.FabricDeliveryChallan)).then(
                             function (response) {
                                 var result=jQuery.parseJSON(response.data);
                                 console.log(result);
                                 if(result.FDCID>0  && result.ErrorMessage=="")
                                 {
                                     $scope.FabricDeliveryChallan=result;
                                     userSession.setData('FabricDeliveryChallans',$scope.FabricDeliveryChallan);

                                     if(nBack==1)
                                     userSession.previousPage();
                                     // msModal.Message({headerTitle : '', bodyText:'Save Successfully.', sucessText : 'Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                                 }
                                 else
                                 {
                                     alert(result.ErrorMessage);
                                     return;
                                 }


                             },
                             function (response) { alert(jQuery.parseJSON(response.data).ErrorMessage);}
                       );
        };
        $scope.approve = function () {
            $scope.FabricDeliveryChallan.IssueDate = $scope.FabricDeliveryChallan.IssueDateSt;
            $scope.FabricDeliveryChallan.FDCDetails = $scope.gridOptions.data;
            if( $scope.FabricDeliveryChallan.FDCDetails==null || $scope.FabricDeliveryChallan.FDCDetails.length<=0)
            {
                alert("Lot info not found");
            }

            $http.post(_sBaseAddress+'/FabricDeliveryChallan/ApproveFDC',JSON.stringify($scope.FabricDeliveryChallan)).then(
                             function (response) {
                                 var result=jQuery.parseJSON(response.data);
                                 console.log(result);
                                 if(result.FDCID>0  && result.ErrorMessage=="")
                                 {

                                     $scope.FabricDeliveryChallan=result;
                                     userSession.setData('FabricDeliveryChallans',$scope.FabricDeliveryChallan);
                                     userSession.previousPage();
                                     // msModal.Message({headerTitle : '', bodyText:'Save Successfully.', sucessText : 'Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                                 }
                                 else
                                 {
                                     alert(result.ErrorMessage);
                                     return;
                                 }


                             },
                             function (response) { alert(jQuery.parseJSON(response.data).ErrorMessage);}
                       );
        };

        $scope.close = function () {
            userSession.previousPage();
        };

        $scope.SearchKeyDownLotList =  function (e) {

            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) {
                var txtLots = $.trim($scope.Lots);
                if(txtLots=="" || txtLots==null)
                {
                    alert("Type Lot No and Press Enter");
                    return;
                }
                $scope.PickLotList();
            }else if (code == 8) //backspace=8
            {

                $scope.Lots = '';
            }
        };
        $scope.PickLotList= function () {

            if($scope.FabricDeliveryChallan.WorkingUnitID<=0)
            {
                alert("Please, Select store");
                return;
            }

            var oFDCDetails =$scope.gridOptions.data;
            var sLotIDs="";
            if(oFDCDetails!=null && oFDCDetails.length>0)
            {
                for (var i = 0;i<oFDCDetails.length; i++){
                    sLotIDs = oFDCDetails[i].FNBatchQCDetailID + "," + sLotIDs;
                }
                sLotIDs = sLotIDs.substring(0, sLotIDs.length - 1);
            }

            var bIsQCLot= $scope.chkAllLot;
            if(bIsQCLot==true)
            {
                sLotIDs="";
            }

            var oFabricDeliveryChallanDetail = {
                FDODID: $scope.FDODID,
                LotNo:$.trim( $.trim($scope.Lots)),
                ErrorMessage: $scope.FabricDeliveryChallan.WorkingUnitID+ '~' + bIsQCLot+'~'+sLotIDs
            };
            debugger;
            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(_sBaseAddress+'/FabricDeliveryChallan/GetsLotsQCDetail',$.param(oFabricDeliveryChallanDetail), config).then(
                function (response)
                    {
                        var oColumns = [];
                        var oColumn = { field: 'OrderNo', name: 'PO No',width: '20%'  };oColumns.push(oColumn);
                        oColumn = { field: 'FabricNo', name: 'Mkt Ref',width: '15%', enableSorting: false  };oColumns.push(oColumn);
                        oColumn = { field: 'Construction', name: 'Construction',width: '15%', enableSorting: false  };oColumns.push(oColumn);
                        oColumn = { field: 'LotNo', name: 'Lot No',width: '15%', enableSorting: false  };oColumns.push(oColumn);
                        oColumn = { field: 'Qty', name: 'Qty(Y)',width: '10%', enableSorting: false, aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true,  type: 'number', footerCellClass: 'text-right' ,footerCellFilter: 'number:0'  };oColumns.push(oColumn);
                        oColumn = { field: 'QtyInMeter', name: 'Qty(M)',width: '10%', enableSorting: false, aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true,  type: 'number', footerCellClass: 'text-right' ,footerCellFilter: 'number:0'  };oColumns.push(oColumn);
                        oColumn = { field: 'ExeNo', name: 'Dispo',width: '15%', enableSorting: false  };oColumns.push(oColumn);
                        

                        var results=response.data;
                        var modalObj={
                            size:'lg',
                            title:'Lots List',
                            url:_sBaseAddress+'/Home/Modal',
                            modalController:'',
                            appController:'FabricDeliveryChallanCtrl',
                            objs:results,
                            multiSelect:true,
                            showColumnFooter:true,
                            pickertitle:' Lot List',
                            searchingbyfieldName:'LotNo',
                            columns:oColumns,
                            summation: {label:'Total : @@Qty (Y) @@QtyInMeter (M)', field:['Qty','QtyInMeter']} //label:' Total @@Qty Kg'
                        }
                        var modalInstance=msModal.Instance(modalObj);
                        modalInstance.result.then(function (result)
                        {

                            angular.forEach(result,function(value,index){
                                $scope.gridOptions.data.push(value);
                            });
                            $scope.gridDetailApi.grid.modifyRows($scope.gridOptions.data);


                        }, function () {
                            $log.info('Modal dismissed at: ' + new Date());
                        });
                    },
                        function (response) { alert(jQuery.parseJSON(response.data).Message);}
                );
        };

        $scope.deleteDetail= function ()
        {
            var data=$scope.gridDetailApi.selection.getSelectedRows();

            if(data==null || data.length<=0)
            {
                msModal.Message({headerTitle : '', bodyText:'No item found to delete.', sucessText : ' Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                return false;
            }
            
            if (!confirm("Confirm to Delete?")) return ;
            var index=$scope.gridOptions.data.indexOf(data[0]);
            $scope.gridOptions.data.splice(index,1);
        }
        //$scope.deleteDetail = function ()
        //{
        //    debugger;
        //    var data = $scope.gridDetailApi.selection.getSelectedRows();
        //    if(data==null || data.length<=0){
        //        //msModal.Message({headerTitle : '', bodyText:'No item found to delete.', sucessText : ' Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
        //        alert("Please select a valid item from List");
        //        return false;
        //    }
        //    angular.forEach($scope.gridOptions.data, function (value, index)
        //    {
        //        if (value.FDCDID == data[0].FDCDID) {
        //            $scope.gridOptions.data.splice(index, 1);
        //        }
        //    }, $scope.gridOptions.data);

        //};

        
        //*********** ADJUSTMENT ***********//
        $scope.UpdateParent=function(){
        
            var data=$scope.gridDetailApi.selection.getSelectedRows();

            if(data==null || data[0]==undefined)
            {
                msModal.Message({headerTitle : '', bodyText:'No item found. Please select an item & try again!', sucessText : ' Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                return false;
            }
            
            $scope.getsDispo();
        };
        $scope.searchDispoByKeyUp=function(e)
        {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13) 
            {
                //var data=$scope.gridDetailApi.selection.getSelectedRows();
                //if(data==null || data[0]==undefined)
                //{
                //    msModal.Message({headerTitle : '', bodyText:'No item found. Please select an item & try again!', sucessText : ' Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                //    return false;
                //}
                $scope.getsAdj($scope.FabricDeliveryChallan.ExeNo);
            }
        };
        
        $scope.Update_Adj = function (oFDCD) 
        {
            if($scope.FabricDeliveryChallan.FDCID<=0)
            {
                $scope.FabricDeliveryChallan.FDCDetails=[];
                $scope.FabricDeliveryChallan.IssueDate = $scope.FabricDeliveryChallan.IssueDateSt;
                $scope.FabricDeliveryChallan.FDCDetails = $scope.gridOptions.data;

                if( $scope.FabricDeliveryChallan.FDCDetails==null || $scope.FabricDeliveryChallan.FDCDetails.length<=0)
                {
                    alert("Lot info not found");
                }

                $http.post(_sBaseAddress+'/FabricDeliveryChallan/Save',JSON.stringify($scope.FabricDeliveryChallan)).then(
                                 function (response) {
                                     var result=jQuery.parseJSON(response.data);
                                     console.log(result);
                                     if(result.FDCID>0  && result.ErrorMessage=="")
                                     {
                                         $scope.FabricDeliveryChallan=result;
                                         oFDCD.ParentFDCID= $scope.FabricDeliveryChallan.FDCID; 
                                         $scope.Save_Adjustment(oFDCD);
                                     }
                                     else
                                     {
                                         alert(result.ErrorMessage);
                                         return;
                                     }
                                 },
                                 function (response) { alert(jQuery.parseJSON(response.data).ErrorMessage);}
                           );
            } 
            else
            {
                oFDCD.ParentFDCID= $scope.FabricDeliveryChallan.FDCID; $scope.Save_Adjustment(oFDCD);
            }
        };
        $scope.Save_Adjustment=function(oFDCD)
        {
            $http.post(_sBaseAddress+'/FabricDeliveryChallan/Update_Adj',JSON.stringify(oFDCD)).then(
                            function (response) {
                                var result=jQuery.parseJSON(response.data);
                                console.log(result);
                                if(result.FDCDID>0  && (result.ErrorMessage=="" || result.ErrorMessage==null))
                                {
                                    msModal.Message({headerTitle : '', bodyText:'Adjustment is done successfully.', sucessText : 'Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                                    $scope.gridOptions_Adj.data.push(result);
                                }
                                else
                                {
                                    alert(result.ErrorMessage);
                                    return;
                                }
                            },
                            function (response) { alert(jQuery.parseJSON(response.data).ErrorMessage);}
                      );
        }

        $scope.getsAdj=function(txtExeNo){

            debugger;
            var obj={
                ParentFDCID:0,
                ContractorID:0,
                ExeNo:(txtExeNo==undefined? '' : txtExeNo)
            }

            $.icsProgressBar(true);

            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(_sBaseAddress+'/FabricDeliveryChallan/GetsAdjSampleForChallan',$.param(obj), config).then(
                                  function (response) 
                                  { 
                                      debugger;
                                      var results=JSON.parse(response.data); 
                                      
                                      $.icsProgressBar(false);
                                      if(results.length<=0)
                                      {
                                          alert('No Data Found.'); return;
                                      }

                                      var oDetailColumns = [];
                                      var oColumn = { field: 'OrderNo', name:'PO No', width:'10%',enableCellEdit:false };oDetailColumns.push(oColumn);
                                      oColumn ={ field: 'FabricNo', name:'Mkt Ref No', width:'12%',enableCellEdit:false };oDetailColumns.push(oColumn);
                                      oColumn ={ field: 'Qty', name: 'Qty', cellClass: 'text-right',width: '10%' , cellFilter: 'number: 2', aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true,  type: 'number', enableCellEdit:true,footerCellClass: 'text-right' ,footerCellFilter: 'number:0'};oDetailColumns.push(oColumn);
                                      oColumn ={ field: 'Construction', name:'Construction', width:'10%',enableCellEdit:false };oDetailColumns.push(oColumn);
                                      oColumn ={ field: 'MUName', name:'Unit', width:'7%',enableCellEdit:false };oDetailColumns.push(oColumn);
                                      oColumn ={ field: 'ExeNo', name:'Dispo No', width:'12%',enableCellEdit:false };oDetailColumns.push(oColumn);
                                      oColumn ={ field: 'ColorInfo', name:'ColorInfo', width:'7%',enableCellEdit:false };oDetailColumns.push(oColumn);
                                      oColumn ={ field: 'StyleNo', name:'StyleNo', width:'10%',enableCellEdit:false };oDetailColumns.push(oColumn);
                                      oColumn ={ field: 'BuyerRef', name:'BuyerRef', width:'7%',enableCellEdit:false };oDetailColumns.push(oColumn);
                                      oColumn = { field: 'LotNo', name: 'Lot No',width: '15%', enableSorting: false  };oDetailColumns.push(oColumn);

                                      var modalObj={
                                          size:'lg',
                                          title:'Adj List',
                                          url:_sBaseAddress+'/Home/Modal',
                                          modalController:'DispoModalCtrl', 
                                          appController:'FabricDeliveryChallanCtrl', 
                                          objs:results, 
                                          multiSelect:false,
                                          columns: oDetailColumns
                                      };

                                      
                                      var modalInstance=msModal.Instance(modalObj);
                                      modalInstance.result.then(function (result) 
                                      {
                                          debugger;
                                          if(result.FDCDID>0)
                                          {
                                              if(!confirm("Confirm to Adjust? "))return false;
                                              $scope.Update_Adj(result);
                                          }

                                      }, function () {
                                          
                                          $.icsProgressBar(false);
                                          $log.info('Modal dismissed at: ' + new Date());
                                      });
                                  },
                                  function (response) { 
                                      $.icsProgressBar(false); 
                                      alert(response.statusText);}
                            );
        };
        
        $scope.Remove_Adj=function()
        {
            var data=$scope.gridDetailApi_Adj.selection.getSelectedRows();
            if(data==null || data[0]==undefined)
            {
                msModal.Message({headerTitle : '', bodyText:'No item found. Please select an item & try again!', sucessText : ' Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                return false;
            }
            
            if (!confirm("Confirm to Remove adjustment?")) return false;
            var nIndex= $scope.gridOptions_Adj.data.indexOf(data[0]);
            data[0].ParentFDCID=0; 
            
            $http.post(_sBaseAddress+'/FabricDeliveryChallan/Update_Adj',JSON.stringify(data[0])).then(
                             function (response) {
                                 var result=jQuery.parseJSON(response.data);
                                 console.log(result);
                                 if(result.FDCDID>0  && (result.ErrorMessage=="" || result.ErrorMessage==null))
                                 {
                                     msModal.Message({headerTitle : '', bodyText:'Adjustment is removed successfully.', sucessText : 'Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                                     $scope.gridOptions_Adj.data.splice(nIndex,1);
                                 }
                                 else
                                 {
                                     alert(result.ErrorMessage);
                                     return;
                                 }


                             },
                             function (response) { alert(jQuery.parseJSON(response.data).ErrorMessage);}
                       );
        }
        //*********** END ADJUSTMENT ***********//


        $scope.searchFabricDONoByKeyUp=function(keyEvent){
            if(keyEvent.which==13){
                $scope.getsFabricDO();
            }
        };

        $scope.searchFabricDO=function(){
            $scope.getsFabricDO();
        };

        $scope.getsFabricDO=function(){

            var sDO = $.trim($scope.FabricDeliveryChallan.FabricDONo);
            if(sDO=="" || sDO==null)
            {
                return;
            }
            var obj={
                DONo: $.trim(sDO)
            }

            var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
            $http.post(_sBaseAddress+'/FabricDeliveryChallan/GetsFDO',$.param(obj), config).then(
                                  function (response)
                                  {
                                      var results=jQuery.parseJSON(response.data);
                                      var oColumns = [];
                                      var oColumn = { field: 'DONo', name: 'DO No',width: '20%'  };oColumns.push(oColumn);
                                      oColumn = { field: 'DeliveryToName', name: 'Delivery To',width: '45%', enableSorting: false  };oColumns.push(oColumn);
                                      //oColumn = { field: 'BuyerName', name: 'BuyerName',width: '15%', enableSorting: false  };oColumns.push(oColumn);
                                      oColumn = { field: 'QtySt', name: 'DO Qty',width: '18%', enableSorting: false  };oColumns.push(oColumn);
                                      oColumn = { field: 'Qty_DCSt', name: 'Yet to Challan',width: '18%', enableSorting: false  };oColumns.push(oColumn);
                                      var modalObj={
                                          size:'md',
                                          title:'DO List',
                                          url:_sBaseAddress+'/Home/Modal',
                                          modalController:'DOModalCtrl',
                                          appController:'FabricDeliveryChallanCtrl',
                                          objs:results,
                                          multiSelect:false,
                                          columns:oColumns

                                      }
                                      var modalInstance=msModal.Instance(modalObj);
                                      modalInstance.result.then(function (result) {
                                          $scope.FabricDeliveryChallan.FDOID=0;
                                          $scope.FabricDeliveryChallan.FabricDONo="";
                                          $scope.FabricDeliveryChallan.FDOID=result.FDOID;
                                          $scope.FabricDeliveryChallan.FabricDONo=result.DONo;
                                          $scope.FabricDeliveryChallan.ContractorID=result.ContractorID;
                                          $scope.FabricDeliveryChallan.DeliveryToName=result.DeliveryToName;
                                          $scope.FabricDeliveryChallan.BuyerName=result.BuyerName;
                                          $scope.FabricDeliveryChallan.DeliveryPoint=result.DeliveryPoint;

                                          if(result.FDOID>0)
                                          {
                                              var oFabricDeliveryChallan = {
                                                  SCNo:"",
                                                  FDOID:$scope.FabricDeliveryChallan.FDOID
                                              };


                                              var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
                                              $http.post(_sBaseAddress+'/FabricDeliveryChallan/GetsFDOD',$.param(oFabricDeliveryChallan), config).then(
                                                          function (response)
                                                          {
                                                              var oFabricDODetails = jQuery.parseJSON(response.data);
                                                              if(oFabricDODetails.length>0)
                                                              {
                                                                  $scope.FabricDODetails=oFabricDODetails


                                                              }else{
                                                                  alert("Data Not found.");
                                                              }

                                                          },
                                                              function (response) { alert(jQuery.parseJSON(response.data).Message); }
                                                      );


                                          }

                                      }, function () {
                                          $log.info('Modal dismissed at: ' + new Date());
                                      });
                                  },
                                  function (response) { alert(jQuery.parseJSON(response.data).ErrorMessage);}
                            );
        };

        $scope.searchFabricDODDetail=function(){
            $scope.getsFabricDODDetail();
        };

        $scope.getsFabricDODDetail=function(){

            var sDO = $.trim($scope.FabricDeliveryChallan.FDOID);
            if($scope.FabricDeliveryChallan.FDOID<=0)
            {
                alert("Please Select DO")
                return;
            }


            if($scope.FabricDeliveryChallan.FDOID>0)
            {
                var oFabricDeliveryChallan = {
                    SCNo:"",
                    FDOID:$scope.FabricDeliveryChallan.FDOID
                };

                var config = { headers: { 'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;' } };
                $http.post(_sBaseAddress+'/FabricDeliveryChallan/GetsFDOD',$.param(oFabricDeliveryChallan), config).then(
                            function (response)
                            {
                                var oFabricDODetails = jQuery.parseJSON(response.data);
                                if(oFabricDODetails.length>0)
                                {
                                    $scope.FabricDODetails=oFabricDODetails


                                }else{
                                    alert("Data Not found.");
                                }

                            },
                                function (response) { alert(jQuery.parseJSON(response.data).Message); }
                        );


            }


        };
        $scope.Modal = function (obj, operation, url) {
            var modalInstance = $uibModal.open({
                //animation: $scope.animationsEnabled,
                ariaLabelledBy: 'modal-title',
                ariaDescribedBy: 'modal-body',
                size: 'lg',
                templateUrl: 'FabricDeliveryChallanDeatailModal.html',
                controller: 'ModalInstanceCtrl',
                controllerAs: 'FabricDeliveryChallanCtrl',
                resolve: {
                    obj: function () {
                        return { FabricDeliveryChallan:$scope.FabricDeliveryChallan, FabricDeliveryChallanDetail: obj, operation: operation };
                    }
                }
            });

            modalInstance.result.then(function (result) {
                if(operation=='add'){
                    $scope.gridOptions.data.push(result);
                    if(result.FabricDeliveryChallan.FabricDeliveryChallanID>0)
                    {
                        $scope.FabricDeliveryChallan=result.FabricDeliveryChallan;
                        userSession.setData('FabricDeliveryChallans',$scope.FabricDeliveryChallan);
                        $scope.gridDetailApi.grid.modifyRows($scope.gridOptions.data);
                        $scope.gridDetailApi.selection.selectRow($scope.gridOptions.data[0]);
                    }
                }
                else{
                    $scope.gridOptions.data[$scope.index]=result;
                    $scope.gridDetailApi.grid.modifyRows($scope.gridOptions.data);
                    $scope.gridDetailApi.selection.selectRow($scope.gridOptions.data[$scope.index]);
                }
            }, function () {
                $log.info('Modal dismissed at: ' + new Date());
            });
        };




    });


    FabricDeliveryChallanModule.controller('ModalInstanceCtrl', function ($scope, $http, $uibModalInstance, msModal, obj) {

        $scope.operation=obj.operation;
        $scope.FabricDeliveryChallan=obj.FabricDeliveryChallan;

        if(obj.FabricDeliveryChallanDetail!=null){
            $scope.FabricDeliveryChallanDetail = obj.FabricDeliveryChallanDetail;
        }
        else{
            $scope.FabricDeliveryChallanDetail={
                FabricDeliveryChallanDetailID : 0,
                FabricDeliveryChallanID : $scope.FabricDeliveryChallan.FabricDeliveryChallanID,
                ProductID : 0,
                ProductName : '',
                Type : 0,
                MUnitID : 0,
                UnitPrice : 0,
                LotID : 0,
                LotNo : '',
                StapleLength : '',
                BaleQty : 0,
                PartyGrossWeigth : 0,
                PartyPerBalePare : 0,
                ScaleGrossWeigth  : 0,
                ScalePerBalePare : 0,
                PartyTotalBalePare : 0,
                ScaleTotalBalePare : 0,
                PartyNetWeight : 0,
                ScaleNetWeight : 0,
                FabricDeliveryChallan:null
            }
        }



    });

</script>


