@{
	ViewBag.Title = "General Working Day";
}

<html>
<body>
	@model ESimSol.BusinessObjects.GeneralWorkingDay

    <div style="font-family: Tahoma; width:1013px;" class="menuMainCollectionTable">
        <div id="divGeneralWorkingDay" class="easyui-panel" title="General Working Day" style="font-family: Tahoma; width: 100%">
            <fieldset>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="text-align:right; width:12%">
                            Attendance Date :
                        </td>
                        <td style="width:20%">
                            <input type="text" style="width:100%;" id="txtGWDate" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                        </td>
                        <td style=" text-align:right; width:10%">
                            GWD Title :
                        </td>
                        <td style="width:25%">
                            <input id="txtTitle" style="width: 100%;" type="text" />
                        </td>
                        <td style=" text-align:right; width:10%">
                            Apply On :
                        </td>
                        <td style="width:23%">
                            <select style="width:100%" id="cboApplyOn"> </select>
                        </td>
                    </tr>
                    <tr>
                        <td style=" text-align:right; width:12%">
                            Remarks :
                        </td>
                        <td style="width:88%" colspan="5">
                            <input style="width: 100%;" id="txtRemarks" type="text" />
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>

        <div class="easyui-tabs" style="width:100%; height:390px;">
            <div title="Assign DRP" style="padding:5px">
                <table id="tblGeneralWorkingDayDetails" class="easyui-datagrid" style="width: 100%; height: 340px;" data-options="singleSelect: true, fitColumns:false,  rownumbers:true, pagination:false, autoRowHeight:false, toolbar: '#toolbardrp'">
                    <thead>
                        <tr>
                            <th field="BUName" width="250" align="left" style="font-size: 8px"> Business Unit </th>
                            <th field="LocationName" width="250" align="left" style="font-size: 8px"> Location </th>
                            <th field="DepartmentName" width="150" align="left" style="font-size: 8px"> Department </th>
                        </tr>
                    </thead>
                </table>
                <div id="toolbardrp">
                    <a id="btnAddDrp" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                    <a id="btnRemoveDrp" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                </div>
            </div>
            <div title="Assign Shift" style="padding:5px">
                <table id="tblGeneralWorkingDayShifts" class="easyui-datagrid" style="width: 100%; height: 340px; font-size: 11px;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="true" toolbar="#toolbarshift">
                    <thead>
                        <tr>
                            <th field="Name" width="200" align="left"> Shift Name </th>
                            <th field="StartTimeInString" width="150" align="left" style="text-align: right"> Duty Start </th>
                            <th field="EndTimeInString" width="150" align="left"> Duty End </th>
                            <th field="DayStartTimeInString" width="150" align="left"> Day Start </th>
                            <th field="DayEndTimeInString" width="150" align="left"> Day End </th>
                        </tr>
                    </thead>
                </table>
                <div id="toolbarshift">
                    <a id="btnAddShift" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                    <a id="btnRemoveShift" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Remove</a>
                </div>
            </div>
        </div>
        <fieldset style="width:1013px">
            <legend>Action :</legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                <tr>
                    <td style="width:70%"></td>
                    <td style="width:30%; text-align:right;">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {         
        var oGeneralWorkingDay = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oGWDApplyOns =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.GWDApplyOns));
		$("#cboApplyOn").icsLoadCombo({ List: oGWDApplyOns, OptionValue: "id", DisplayText: "Value", InitialValue: "--Select--" });
        $('#divGeneralWorkingDay').data('GeneralWorkingDay', oGeneralWorkingDay);
        $('#txtGWDate').datebox('setValue', icsdateformat(new Date()));
		RefreshControl(oGeneralWorkingDay);
    });

    function RefreshControl(oGeneralWorkingDay)
    {        
        if (sessionStorage.getItem("GeneralWorkingDayHeader") == "View General Working Day") {
            $('#btnSave').hide();
            $('#btnAddDrp').hide();
            $('#btnRemoveDrp').hide();
            $('#btnAddShift').hide();
            $('#btnRemoveShift').hide();
            $('#txtGWDate').textbox('readonly',true);
            $('#txtTitle').attr('disabled', 'disabled');
            $('#cboApplyOn').attr('disabled', 'disabled');
            $('#txtRemarks').attr('disabled', 'disabled');
        }
        $('#txtGWDate').datebox('setValue', oGeneralWorkingDay.AttendanceDateInString); 
        $("#txtTitle").val(oGeneralWorkingDay.GWDTitle);
        $('#cboApplyOn').val(parseInt(oGeneralWorkingDay.GWDApplyOnInt));
        $("#txtRemarks").val(oGeneralWorkingDay.Remarks);
        DynamicRefreshList(oGeneralWorkingDay.GeneralWorkingDayDetails, 'tblGeneralWorkingDayDetails');
        DynamicRefreshList(oGeneralWorkingDay.GeneralWorkingDayShifts, 'tblGeneralWorkingDayShifts');
    }

    function ValidateInput() {
        var Date = $('#txtGWDate').datebox('getValue');
        if (Date == null || Date == "") {
            alert("Please enter Attendance Date!");
            $('#txtGWDate').focus();
            return false;
        }
        if ($.trim($('#txtTitle').val()) === null || $.trim($('#txtTitle').val()) === "") {
            alert("Please enter Title");
            return false;
        }
        var nApplyOnType = parseInt($("#cboApplyOn").val());
        if (nApplyOnType == null || nApplyOnType == 0) {
            alert("Please select Apply option!");
            $('#cboApplyOn').focus();
            return false;
        }

        var oGeneralWorkingDayDetails = $('#tblGeneralWorkingDayDetails').datagrid('getRows');
        if (oGeneralWorkingDayDetails.length <= 0) {
            alert("Please add atleast one DRP information");
            return false;
        }

        var oGeneralWorkingDayShifts = $('#tblGeneralWorkingDayShifts').datagrid('getRows');
        if (oGeneralWorkingDayShifts.length <= 0) {
            alert("Please add atleast one Shift information");
            return false;
        }
        return true;
    }

    function RefreshObject() {        
        var oGeneralWorkingDay = {
            GWDID: parseInt($('#divGeneralWorkingDay').data('GeneralWorkingDay').GWDID),
            GWDTitle: $.trim($('#txtTitle').val()),
            AttendanceDate: $('#txtGWDate').datebox('getValue'),
            GWDApplyOnInt: parseInt($("#cboApplyOn").val()),
            Remarks: $.trim($('#txtRemarks').val()),
            GeneralWorkingDayDetails: $('#tblGeneralWorkingDayDetails').datagrid('getRows'),
            GeneralWorkingDayShifts: $('#tblGeneralWorkingDayShifts').datagrid('getRows')
        };
        return oGeneralWorkingDay;
    }

    $('#btnSave').click(function () {        
        if (!ValidateInput()) return;
        var oGeneralWorkingDay = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: sessionStorage.getItem('BaseAddress') + "/GeneralWorkingDay/Save",
            traditional: true,
            data: JSON.stringify(oGeneralWorkingDay),
            contentType: "application/json; charset=utf-8",
            success: function (data) {                
                oGeneralWorkingDay = jQuery.parseJSON(data);
                if (oGeneralWorkingDay != null && oGeneralWorkingDay.ErrorMessage == "") 
                {
                    alert("Data Saved sucessfully");
                    var oGeneralWorkingDays = sessionStorage.getItem("GeneralWorkingDays");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if (oGeneralWorkingDays != null) 
                    {
                        oGeneralWorkingDays = jQuery.parseJSON(oGeneralWorkingDays);
                    }
                    else 
                    {
                        oGeneralWorkingDays = [];
                    }

                    if (nIndex != -1) 
                    {
                        oGeneralWorkingDays[nIndex] = oGeneralWorkingDay;
                    }
                    else 
                    {
                        sessionStorage.setItem("SelectedRowIndex", oGeneralWorkingDays.length);
                        oGeneralWorkingDays.push(oGeneralWorkingDay);
                    }
                    sessionStorage.setItem("GeneralWorkingDays", JSON.stringify(oGeneralWorkingDays));
                    window.location.href = sessionStorage.getItem("BackLink");
                }
                else 
                {
                    alert(oGeneralWorkingDay.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });

    $('#btnClose').click(function () {
        window.location.href = sessionStorage.getItem("BackLink");
    });

    $("#btnAddDrp").click(function () {

        var obj = {
            BaseAddress: sessionStorage.getItem('BaseAddress'),
            ControllerName: "GeneralWorkingDay",
            ActionName: "GetsGeneralWorkingDayDetail",
            IsWinClose: false
        };
        var tblColums = [];
        var oColumn = [];
        oColumn = { field: 'BUName', title: 'Business Unit', width: '40%' }; tblColums.push(oColumn);
        oColumn = { field: 'LocationName', title: 'Location', width: '30%' }; tblColums.push(oColumn);
		oColumn = { field: 'DepartmentName', title: 'Department', width: '20%' }; tblColums.push(oColumn);

        DynamicPiker('DRPPicker', obj, tblColums, true, 'BUName', 'DepartmentRequirementPolicyID', 650);
    });

	$("#btnAddShift").click(function () {

        var obj = {
            BaseAddress: sessionStorage.getItem('BaseAddress'),
            ControllerName: "GeneralWorkingDay",
            ActionName: "GetsGeneralWorkingDayShift",
            IsWinClose: false
        };
        var tblColums = [];
        var oColumn = [];
        oColumn = { field: 'Name', title: 'Shift Name', width: '29%' }; tblColums.push(oColumn);
        oColumn = { field: 'StartTimeInString', title: 'Duty Start', width: '16%' }; tblColums.push(oColumn);
        oColumn = { field: 'EndTimeInString', title: 'Duty End', width: '16%' }; tblColums.push(oColumn);
        oColumn = { field: 'DayStartTimeInString', title: 'Day Start', width: '16%' }; tblColums.push(oColumn);
		oColumn = { field: 'DayEndTimeInString', title: 'Day End', width: '16%' }; tblColums.push(oColumn);

        DynamicPiker('ShiftPicker', obj, tblColums, true, 'Name', 'ShiftID', 600);
    });

	function DynamicPiker(pickerName, obj, pTblColums, pMultiReturn, pSearchField, pID, nWidth) 
	{
	    $.icsDataGets(obj, function (response) {
            if (response.status && response.objs.length > 0) {
                
                if (response.objs[0][pID] > 0) {

                    var tblColums = pTblColums;
                    var oPickerParam = {
                        winid: 'win' + pickerName,
                        winclass: 'cls' + pickerName,
                        winwidth: nWidth,
                        winheight: 460,
                        tableid: 'tbl' + pickerName + 's',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: pMultiReturn,
                        searchingbyfieldName: pSearchField,
                        windowTittle: pickerName + ' List',
                        colsable: true
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Data Not Found.");
                return;
            }
        });
    }

    function IntializePickerbutton(oPickerobj) {
  
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {

            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });

        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {

                SetPickerValueAssign(oPickerobj);
            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oResult;
        if (oPickerobj.multiplereturn) {
            oResult = $('#' + oPickerobj.tableid).datagrid('getChecked');
        }
        else {
            oResult = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }

        if (oPickerobj.winid == 'winDRPPicker') {
            SetGeneralWorkingDayDetail(oResult);
        }
        else if (oPickerobj.winid == 'winShiftPicker') {
            SetGeneralWorkingDayShift(oResult);
        }

        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }

	function SetGeneralWorkingDayDetail(oResult) {
        var oDrps = $('#tblGeneralWorkingDayDetails').datagrid('getRows');
        for (var i = 0; i < oResult.length; i++) {
            var IsExist = false;
            for (var j = 0; j < oDrps.length; j++) {
                if (parseInt(oResult[i].DepartmentRequirementPolicyID) == parseInt(oDrps[j].DRPID)) {
                    IsExist = true;
                }
            }
            if (!IsExist) {
                var oDrp =
                {
                    DRPID : parseInt(oResult[i].DepartmentRequirementPolicyID),
                    BUName: oResult[i].BUName,
                    LocationName: oResult[i].LocationName,
                    DepartmentName: oResult[i].DepartmentName
                }
                $('#tblGeneralWorkingDayDetails').datagrid('appendRow', oDrp);
            }

        }
    }

    function SetGeneralWorkingDayShift(oResult) {
        var oShifts = $('#tblGeneralWorkingDayShifts').datagrid('getRows');
        for (var i = 0; i < oResult.length; i++) {
            var IsExist = false;
            for (var j = 0; j < oShifts.length; j++) {
                if (parseInt(oResult[i].ShiftID) == parseInt(oShifts[j].ShiftID)) {
                    IsExist = true;
                }
            }
            if (!IsExist) {
                var oShift =
                {
                    ShiftID : parseInt(oResult[i].ShiftID),
                    Name: oResult[i].Name,
                    StartTimeInString: oResult[i].StartTimeInString,
                    EndTimeInString: oResult[i].EndTimeInString,
                    DayStartTimeInString: oResult[i].DayStartTimeInString,
                    DayEndTimeInString: oResult[i].DayEndTimeInString
                }
                $('#tblGeneralWorkingDayShifts').datagrid('appendRow', oShift);
            }

        }
    }

	$("#btnRemoveDrp").click(function () {
        var oGeneralWorkingDayDetails = $('#tblGeneralWorkingDayDetails').datagrid('getChecked');
        if (oGeneralWorkingDayDetails.length <= 0) {
            alert("Please select atleast one General Working Day !");
            return;
        }
        if (!confirm("Confirm to Delete ?")) return;
        var nSelectedIndex = 0;
        for (var i = 0; i < oGeneralWorkingDayDetails.length; i++) {
            nSelectedIndex = $('#tblGeneralWorkingDayDetails').datagrid('getRowIndex', oGeneralWorkingDayDetails[i]);
            $('#tblGeneralWorkingDayDetails').datagrid('deleteRow', nSelectedIndex);
        }
    });

    $("#btnRemoveShift").click(function () {
        var oGeneralWorkingDayShifts = $('#tblGeneralWorkingDayShifts').datagrid('getChecked');
        if (oGeneralWorkingDayShifts.length <= 0) {
            alert("Please select atleast one General Working Day Shift !");
            return;
        }
        if (!confirm("Confirm to Delete ?")) return;
        var nSelectedIndex = 0;
        for (var i = 0; i < oGeneralWorkingDayShifts.length; i++) {
            nSelectedIndex = $('#tblGeneralWorkingDayShifts').datagrid('getRowIndex', oGeneralWorkingDayShifts[i]);
            $('#tblGeneralWorkingDayShifts').datagrid('deleteRow', nSelectedIndex);
        }
    });
</script>
