<html>
<head>
    @{
        ViewBag.Title = "Payroll Process";
    }
</head>
<body>
    @model ESimSol.BusinessObjects.AttendanceProcessManagement
    <div id="divAttendanceProcess" class="easyui-panel" title="Manual Attendance Process" style="font-family:Tahoma; height:100%; width:100%">
        <div style="width:100%; height:88%; text-align:center">
            <fieldset style="height:97%">
                <table style="width:100%" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="width:40%">
                            <table id="tblPayrollProcessWinBU" class="easyui-datagrid" title="Business Unit" style="width:100%; height: 400px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="false" autorowheight="false">
                                <thead>
                                    <tr>
                                        <th data-options="field:'Selected',checkbox:true"></th>
                                        <th field="Name" width="100%" align="left">BU Name</th>
                                    </tr>
                                </thead>
                            </table>
                        </td>
                        <td style="width:30%">
                            <table id="tblPayrollProcessWinLocation" class="easyui-datagrid" title="Location" style="width:100%; height: 400px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="false" autorowheight="false">
                                <thead>
                                    <tr>
                                        <th data-options="field:'Selected',checkbox:true"></th>
                                        <th field="Name" width="100%" align="left">Location Name</th>
                                    </tr>
                                </thead>
                            </table>
                        </td>
                        <td style="width:30%">
                            <table id="tblPayrollProcessWinDept" class="easyui-datagrid" title="Department" style="width:100%; height:400px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="false" autorowheight="false">
                                <thead>
                                    <tr>
                                        <th data-options="field:'Selected',checkbox:true"></th>
                                        <th field="Name" width="100%" align="left">Dept Name</th>
                                    </tr>
                                </thead>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3" style="width:100%; height:10px"></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="width:100%">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    
                                    <td style="width:10%; text-align:right">. TimeCard :</td>
                                    <td style="width:10%;"><select id="cboTimeCard" style="width:100%;"></select></td>
                                    <td style="width:10%; text-align:right">. Month :</td>
                                    <td style="width:10%;"><select id="cbosalarymonth" style="width:100%;"></select></td>
                                    <td style="width:10%; text-align:right">Process Date :</td>
                                    <td style="width:12%">
                                        <input id="txtProcessStartDate" type="text" style="width:100%" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                    <td style="width:6%; text-align:center">-to-</td>
                                    <td style="width:12%">
                                        <input id="txtProcessEndDate" type="text" style="width:100%" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                    <td style="width:40%"> </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <div style="width:100%; height:10%">
            <fieldset>
                <legend style="font-weight: bold">Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                    <tr>
                        <td style="width:80%; text-align:right"></td>
                        <td style="width: 10%">
                            <a id="btnPayrollProcess" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-setting" plain="true">Process</a>
                        </td>
                        <td style="width: 10%">
                            <a id="btnPayrollProcessClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel"  plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
    <div id="progress"></div>
    <div id="result"></div>
</body>
</html>

<script type="text/javascript"> 
    var _sBaseAddress="";
    $(document).ready(function () { 
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
     var oAPM =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));     
     var oMonths= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.Months));
     var oTimeCards= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.TimeCards));
     DynamicRefreshList(oAPM.BusinessUnits, "tblPayrollProcessWinBU");
     DynamicRefreshList(oAPM.Locations, "tblPayrollProcessWinLocation");
     DynamicRefreshList(oAPM.Departments, "tblPayrollProcessWinDept");
     $("#cboTimeCard").icsLoadCombo({ List: oTimeCards, OptionValue: "MOCID", DisplayText: "TimeCardName" ,InitialValue:"--Select a TimeCard--"});
     $("#cbosalarymonth").icsLoadCombo({ List: oMonths, OptionValue: "Value", DisplayText: "Text" ,InitialValue:"--Select a month--"});
     $('#txtProcessStartDate').datebox('setValue', icsdateformat(new Date()));
     $('#txtProcessEndDate').datebox('setValue', icsdateformat(new Date()));
 });

    function ValidateInput()
    {
        var sStartDate = $('#txtProcessStartDate').datebox('getValue');
        var sEndDate =  $('#txtProcessEndDate').datebox('getValue');
        var dStartDate = new Date(sStartDate);
        var sEndDate =  new Date(sEndDate);
        if(parseInt($("#cbosalarymonth").val())<=0)
        {
            alert("Please Select A Month");
            return false;
        }
    
        if(sEndDate<dStartDate)
        {
            alert("Start Date Mustbe Smaller than End Date");
            return false;
        }
        if(parseInt($("#cboTimeCard").val())<=0)
        {
            alert("Please Select A TimeCard");
            return false;
        }
        var oBusinessUnits = $('#tblPayrollProcessWinBU').datagrid('getChecked');
        if(oBusinessUnits == null || oBusinessUnits.length<=0)
        {
            alert("Please select at least one Business Unit!");
            return false;
        }

        var oLocations = $('#tblPayrollProcessWinLocation').datagrid('getChecked');
        if(oLocations == null || oLocations.length<=0)
        {
            alert("Please select at least one Location!");
            return false;
        }

        var oDepartments = $('#tblPayrollProcessWinDept').datagrid('getChecked');
        if(oDepartments == null || oDepartments.length<=0)
        {
            alert("Please select at least one Department!");
            return false;
        }
        return true;
    }

    $("#btnPayrollProcess").click(function(e){
        debugger;
        if(!ValidateInput()) return;
        var oPPM =  {
            BusinessUnits : $('#tblPayrollProcessWinBU').datagrid('getChecked'),
            Locations : $('#tblPayrollProcessWinLocation').datagrid('getChecked'),
            Departments : $('#tblPayrollProcessWinDept').datagrid('getChecked'),
            StartDate : $('#txtProcessStartDate').datebox('getValue'),
            EndDate : $('#txtProcessEndDate').datebox('getValue'),
            MonthID:parseInt($("#cbosalarymonth").val()),
            TimeCardName:$("#cboTimeCard").val()

        };
        InitializeProgressBar();

        $.ajax({
            type: "POST",
            dataType: "json",            
            url : _sBaseAddress+"/PayrollProcessV2/ManualPayrollProcess",
            traditional: true,
            data:  JSON.stringify(oPPM),   
            contentType: "application/json; charset=utf-8",
            success: function (data) {                
                var oPPMs = jQuery.parseJSON(data);                    
                if(oPPMs!=null && oPPMs.length==0)
                {
                    alert("Data Process Successfully.");                        
                    window.location.href =  sessionStorage.getItem("BackLink");
                }
                else
                {
                    alert(oPPMs[0].ErrorMessage);
                    window.location.href =  sessionStorage.getItem("BackLink");
                }
                ProgressBarHide();
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $("#btnPayrollProcessClose").click(function(e){
        window.location.href =  sessionStorage.getItem("BackLink");
    });
</script>

