
    @{
        ViewBag.Title = "Charity Slab";
    }
@model IEnumerable<ESimSol.BusinessObjects.CharitySlab>
                      <div class="menuMainCollectionTable" style="height:100%">
                          <table id="tblCharitySlab" title="Charity Slab List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
                              <thead>
                                  <tr>
                                      <th field="SalaryHeadName" width="20%">Salary Head</th>
                                      <th field="StartSalaryRange" align="right" formatter="formatPricewithoutdecimal" width="20%">StartSalary</th>
                                      <th field="EndSalaryRange" align="right" formatter="formatPricewithoutdecimal" width="20%">EndSalary</th>
                                      <th field="CharityAmount" align="right" formatter="formatPricewithoutdecimal" width="20%">Charity Amount</th>
                                      <th field="UserName" align="center" width="15%">User</th>
                                  </tr>
                              </thead>
                          </table>
                          <div id="toolbar">
                              <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                              <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                              <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                          </div>
                          <div id="winCharitySlab" class="easyui-window" title="CharitySlab" style="width:540px;height:230px;padding:2px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
                              <div>
                                  <fieldset>
                                      <legend style="font-weight:bold"> Charity Slab : </legend>
                                      <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                                          <tr>
                                              <td style="width:170px; text-align:right">
                                                  Salary Head :
                                              </td>
                                              <td style="width:300px" colspan="3">
                                                  <select style="width: 300px;" id="cboSalaryHead"> </select>
                                              </td>
                                          </tr>
                                          <tr>
                                              <td style="width:100px; text-align:right">
                                                  Start Salary :
                                              </td>
                                              <td style="width:370px" colspan="3">
                                                  <input type="text" style="width: 120px;" id="txtStartSalaryRange" />
                                                  End Salary:
                                                  <input type="text" style="width: 113px;" id="txtEndSalaryRange" />
                                              </td>
                                          </tr>
                                          <tr>
                                              <td style="width:170px; text-align:right">
                                                  Charity Amount:
                                              </td>
                                              <td style="width:300px" colspan="3">
                                                  <input type="text" style="width: 300px;" id="txtCharityAmount" />
                                              </td>
                                          </tr>
                                      </table>
                                  </fieldset>
                              </div>
                              <fieldset style="width:99%; vertical-align:top;">
                                  <legend style="font-weight:bold"> Action : </legend>
                                  <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold;">
                                      <tr>
                                          <td style="width:100px;text-align:right"></td>
                                          <td style="width:408px;text-align:right;">
                                              <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                                              <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Cancel</a>
                                          </td>
                                      </tr>
                                  </table>
                              </fieldset>
                          </div>
                      </div>
  <script type="text/javascript">
      $(document).ready(function () {
          var oCharitySlabs =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
          var oSalaryHeads=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.SalaryHeads));
          var oTempCharitySlabs =sessionStorage.getItem("CharitySlabs");
          if(oTempCharitySlabs!=null)
          {
              oCharitySlabs = jQuery.parseJSON(oTempCharitySlabs);
          }
          $("#cboSalaryHead").data("SalaryHeads",oSalaryHeads);
          $('#txtStartSalaryRange,#txtEndSalaryRange,#txtCharityAmount').icsCurrencyBox(null, null, 0);
          RefreshList(oCharitySlabs);
      });

      $('#btnAdd').click(function (e) {
          debugger;
          var oCharitySlabs= $('#tblCharitySlab').datagrid('getRows');
          sessionStorage.setItem("CharitySlabs", JSON.stringify(oCharitySlabs));
          var oCharitySlab={
              CharitySlabID:0
          };
          sessionStorage.setItem("SelectedRowIndex", -1);
          $('#tblCharitySlab').data('CharitySlab', oCharitySlab);
          var oSalaryHeads= $("#cboSalaryHead").data("SalaryHeads");
          $("#winCharitySlab").icsWindow('open', "CharitySlab");
          $("#winCharitySlab input").not("input[type='button']").val("");
          $("#cboSalaryHead").icsLoadCombo({
              List: oSalaryHeads,
              OptionValue: "SalaryHeadID",
              DisplayText: "Name",
              InitialValue:"--Salary Head--"
          });
      });
    
      $('#btnEdit').click(function (e) {
          debugger;
          var oCharitySlab = $('#tblCharitySlab').datagrid('getSelected');
          if (oCharitySlab == null || parseInt(oCharitySlab.CharitySlabID) <= 0) {
              alert("Please Select an item from list");
              return;
          }
          var nSelectedRowIndex =$('#tblCharitySlab').datagrid('getRowIndex',oCharitySlab);
          var oCharitySlabs= $('#tblCharitySlab').datagrid('getRows');
          sessionStorage.setItem("CharitySlabs", JSON.stringify(oCharitySlabs));
          var nSelectedRowIndex =$('#tblCharitySlab').datagrid('getRowIndex',oCharitySlab);
          sessionStorage.setItem("SelectedRowIndex", nSelectedRowIndex);
          var oSalaryHeads= $("#cboSalaryHead").data("SalaryHeads");
          RefreshControl(oCharitySlab);
      });
      $('#btnDelete').click(function(){
          debugger;
          var oCharitySlab= $('#tblCharitySlab').datagrid('getSelected');
          if(oCharitySlab==null || oCharitySlab.CharitySlabID<=0)
          {
              alert("Please select an item from list!");
              return;
          }
          if (!confirm("Confirm to Delete?")) return ;


          var SelectedRowIndex=$('#tblCharitySlab').datagrid('getRowIndex',oCharitySlab);

          if (oCharitySlab.CharitySlabID > 0)
          {
              debugger;
              $.ajax
              ({
                  type: "POST",
                  dataType: "json",
                  url :sessionStorage.getItem('BaseAddress')+  "/CharitySlab/Delete",
                  data: JSON.stringify(oCharitySlab),
                  contentType: "application/json; charset=utf-8",
                  success: function (data) {
                      debugger;
                      feedbackmessage = jQuery.parseJSON(data);
                      if (feedbackmessage == "Deleted")
                      {
                          alert("Delete sucessfully");
                          $('#tblCharitySlab').datagrid('deleteRow',SelectedRowIndex);
                          var oCharitySlabs= $('#tblCharitySlab').datagrid('getRows');
                          sessionStorage.setItem("CharitySlabs", JSON.stringify(oCharitySlabs));

                      }
                      else
                      {
                          alert(feedbackmessage);
                      }
                  },
                  error: function (xhr, status, error)
                  {
                      alert(error);
                  }

              });
          }
      });
      function RefreshObject(){

          var oCharitySlab={
              CharitySlabID: $('#tblCharitySlab').data('CharitySlab').CharitySlabID,
              SalaryHeadID:parseInt($("#cboSalaryHead").val()),
              StartSalaryRange:parseFloat(icsRemoveComma($("#txtStartSalaryRange").val())),
              EndSalaryRange:parseFloat(icsRemoveComma($("#txtEndSalaryRange").val())),
              CharityAmount:parseFloat(icsRemoveComma($("#txtCharityAmount").val())),
          };
          return oCharitySlab;
      }
      function RefreshControl(oCharitySlab){
          debugger;
          var oSalaryHeads= $("#cboSalaryHead").data("SalaryHeads");
          $("#cboSalaryHead").icsLoadCombo({
              List: oSalaryHeads,
              OptionValue: "SalaryHeadID",
              DisplayText: "Name",
              InitialValue:"--Salary Head--"
          });
          $("#winCharitySlab").icsWindow('open', "CharitySlab");
          $('#tblCharitySlab').data('CharitySlab', oCharitySlab);
          $("#cboSalaryHead").val(oCharitySlab.SalaryHeadID);
          $("#txtStartSalaryRange").val(oCharitySlab.StartSalaryRange);
          $("#txtEndSalaryRange").val(oCharitySlab.EndSalaryRange);
          $("#txtCharityAmount").val(oCharitySlab.CharityAmount);
      }

      function ValidateInput()
      {
          if(parseInt($("#cboSalaryHead").val())<=0)
          {
              alert("Please Select one Salary Head");
              return false;
          }
          if(parseFloat(icsRemoveComma($("#txtStartSalaryRange").val()))>parseFloat(icsRemoveComma($("#txtEndSalaryRange").val())))
          {
              alert("Start Salary Range can not be Greater than end Salary Range");
              return false;
          }

          return true;
      }

      $('#btnSave').click(function(){
          debugger;;
          if(!ValidateInput()) return;
          var oCharitySlab=RefreshObject();
          $.ajax({
              type: "POST",
              dataType: "json",
              url : sessionStorage.getItem('BaseAddress')+  "/CharitySlab/Save",
              traditional: true,
              data:  JSON.stringify(oCharitySlab),
              contentType: "application/json; charset=utf-8",
              success: function (data)
              {            debugger;
              oCharitySlab = jQuery.parseJSON(data);
              if (oCharitySlab.ErrorMessage=="" || oCharitySlab.ErrorMessage==null)
                  {
                      alert("Data Saved sucessfully");
                      var oCharitySlabs = sessionStorage.getItem("CharitySlabs");
                      var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                      if (oCharitySlabs != null)
                      {
                          oCharitySlabs = jQuery.parseJSON(oCharitySlabs);
                      }
                      else {
                          oCharitySlabs = [];
                      }
                      if (nIndex != -1)
                      {
                          oCharitySlabs[nIndex] = oCharitySlab;
                      }
                      else {
                          sessionStorage.setItem("SelectedRowIndex", oCharitySlabs.length);
                          oCharitySlabs.push(oCharitySlab);
                      }
                      RefreshList(oCharitySlabs);
                      $("#winCharitySlab").icsWindow('close');
                  }
                  else 
                  {
                  alert(oCharitySlab.ErrorMessage);
                  }
              },
              error: function (xhr, status, error) {
                  alert(error);
              }

          });
      });

      $('#btnClose').click(function (e) {
          $("#winCharitySlab").icsWindow('close');
      });

      function RefreshList(oCharitySlabs)
      {
          DynamicRefreshList(oCharitySlabs, 'tblCharitySlab'); 
          var nSelectedRowIndex =parseInt(sessionStorage.getItem("SelectedRowIndex"));
          if(nSelectedRowIndex!=-1)
          {
              $('#tblCharitySlab').datagrid('selectRow', nSelectedRowIndex);
          }

      }
   
   </script>
