@model IEnumerable<ESimSol.BusinessObjects.DUOrderTracker>
    @{
        ViewBag.Title = "Dyeing Order Layer Two";
    }
    <div class="menuMainCollectionTable" style="height:480px">
        <table id="tblDyeingOrderLayerTwo" title="Dyeing Order" class=" easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" showfooter="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="aa" title="" formatter="cellStylerForEdit" width="3%"></th>
                    <th field="ProductCode" width="6%">Code</th>
                    <th field="ProductName" width="15%">Yarn Type</th>
                    <th field="ColorNameShade" width="15%">Color</th>
                    <th field="LabdipNo" width="10%">Labdip No</th>
                    <th field="ColorNo" width="10%">Color No</th>
                    <th field="PantonNo" width="10%">Panton No</th>
                    <th field="OrderQty" formatter="formatPrice" width="10%" align="right">Order Qty</th>
                    <th field="Qty_SC" formatter="formatPrice" width="10%" align="right">Schedule Qty</th>
                    <th field="Qty_ProIssue" formatter="formatPrice" width="10%" align="right">Dyeing Card Issue</th>
                    <th field="Pro_PipeLineQty" formatter="formatPrice" width="10%" align="right">WIP</th>
                    <th field="ProductionFinishedQty" formatter="formatPrice" width="10%" align="right">Packing Qty</th>
                    <th field="YetToProduction" formatter="formatPrice" width="10%" align="right">Pending Production</th>
                    <th field="ActualDeliveryQty" formatter="formatPrice" width="10%" align="right">Delivery Qty</th>
                    <th field="YetToDelivery" formatter="formatPrice" width="10%" align="right">Pending Delivery</th>
                    <th field="StockInHand" formatter="formatPrice" width="10%" align="right">StockInHand</th>
                    @*<th field="MKT" width="15%">Con. Person </th>*@
                    <th field="ReturnQty" formatter="formatPrice" width="10%" align="right">Return Qty</th>
                    <th field="ClaimOrderQty" formatter="formatPrice" width="10%" align="right">Claim Qty</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a id="btnDyeingOrderL3" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">Show Batch Detail</a> |
            <a id="btnDeliverySpecification" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Delivery Detail</a> |
            <a><b><i>@ViewBag.Status</i></b></a>
        </div>
    </div>
    <div style="display:block;overflow:hidden;height:100px">
        <fieldset>
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                <tr>
                    <td style="width:60%; text-align:right"></td>
                    <td style="width:40%;text-align:right;">
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
    <script>
        $(document).ready(function() {
         debugger;
         var _oDUOrderTrackers = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
         var sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
         $('#tblDyeingOrderLayerTwo').data('DUOrderTracker',_oDUOrderTrackers);
          $('#tblDyeingOrderLayerTwo').data('BaseAddress', sBaseAddress);
         RefreshList(_oDUOrderTrackers);

    });

        function RefreshList(_oDUOrderTrackers) {
        debugger;
        if(_oDUOrderTrackers.length<=0){
            DynamicRefreshList([], "tblDyeingOrderLayerTwo");
            //var win  = window.open("","_self");
            //win.close();
        }
        data={"total":""+_oDUOrderTrackers.length+"","rows":_oDUOrderTrackers};
        $('#tblDyeingOrderLayerTwo').datagrid('loadData',data);
        var nSelectedRowIndex =parseInt(sessionStorage.getItem("SelectedRowIndex"));
        $.icsMakeFooterColumn('tblDyeingOrderLayerTwo',['ProductCode','OrderQty','Qty_SC','Qty_ProIssue','Pro_PipeLineQty','ProductionFinishedQty','YetToProduction','ActualDeliveryQty','YetToDelivery','StockInHand','ReturnQty','ClaimOrderQty','StockInAval']);

    }

    $('#btnClose').click(function(){
        var win  = window.open("","_self");
        win.close();
    });

    function cellStylerForEdit(value,row,index)
    {
        if (row.ParentID != 0)
        {
            return '<input type=button  onclick="EditDODetail('+row.DyeingOrderDetailID+')"/>';          
        }
    }
    function EditDODetail(DODID){
        debugger;
        if(DODID<=0){ alert("Please select an item from list."); return false; }
        sessionStorage.setItem("BackLink", window.location.href);
        window.open(_sBaseAddress+"/DyeingOrder/ViewSaleOrderLayerThree?DODID="+DODID,"_blank");
    }
    $('#btnDyeingOrderL3').click(function(){        
        debugger;
        var oDyeingOrderDetail = $('#tblDyeingOrderLayerTwo').datagrid('getSelected');
        if(oDyeingOrderDetail==null || oDyeingOrderDetail.DyeingOrderDetailID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblDyeingOrderLayerTwo').datagrid('getRowIndex',oDyeingOrderDetail);
        var oDyeingOrderDetails= $('#tblDyeingOrderLayerTwo').datagrid('getRows');
        sessionStorage.setItem("_DyeingOrderDetails", JSON.stringify(oDyeingOrderDetails));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("BackLink", window.location.href);
        window.open(_sBaseAddress+"/DyeingOrder/ViewSaleOrderLayerThree?DODID="+oDyeingOrderDetail.DyeingOrderDetailID,"_blank");
    });
    $('#btnDeliverySpecification').click(function(){
        debugger;
        var oDyeingOrderLayerTwo = $('#tblDyeingOrderLayerTwo').datagrid('getSelected');
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+ "/DUOrderTracker/SetSessionSearchCriterias",
            traditional: true,
            data:  JSON.stringify(oDyeingOrderLayerTwo),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    window.open(_sBaseAddress+'/DUOrderTracker/DeliveryDetailPreview?id='+oDyeingOrderLayerTwo.DyeingOrderDetailID);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    </script>
