@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "BIll Report";
}
@model IEnumerable<ESimSol.BusinessObjects.DyeingOrderDetail>
    <div ng-app="DyeingOrderDetailAPP" class="form-horizontal regionDyeingOrderDetail menuMainCollectionTable">
        <div ng-controller="DyeingOrderDetailCtrl" style="width:100%">
            <div class=" ui-grid-top-panel" style="margin:5px;">
                <div class="form-inline">
                    <button type="button" class="btn btn-sm btn-primary" aria-label="Left Align" ng-click="AdvanceSearch()"> <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Adv. Search</button>
                    <button type="button" class="btn btn-sm btn-success" aria-label="Left Align" ng-click="ExportToExcel()"> <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Export to Excel</button>
                </div>
            </div>
            <div ui-grid="gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-key-nav class="grid-angular ui-grid-selectable" style="width:99%; height:510px"></div>
        </div>
    </div>

    <style type="text/css">
        .regionDyeingOrderDetail .form-horizontal .control-label {
            padding-top: 3px;
        }

        .regionDyeingOrderDetail .form-control {
            height: 26px;
            padding: 0px 6px;
            font-size: 12px;
        }

        .regionDyeingOrderDetail .col-md-12 {
            width: 70%;
            padding-right: 5px;
            padding-left: 5px;
            margin-bottom: 5px;
            margin-left: 90px;
        }

        .regionDyeingOrderDetail .col-md-1 {
            width: 4%;
            padding-right: 2px;
            padding-left: 2px;
            padding-top: 3px;
        }

        .regionDyeingOrderDetail .col-md-2 {
            width: 22%;
            padding-right: 5px;
            padding-left: 5px;
        }

        .regionDyeingOrderDetail .col-md-3 {
            width: 24%;
            padding-right: 5px;
            padding-left: 5px;
        }

        .regionDyeingOrderDetail .col-md-4 {
            width: 28%;
            padding-right: 5px;
            padding-left: 5px;
        }

        .regionDyeingOrderDetail .col-md-5 {
            width: 40%;
            padding-right: 5px;
            padding-left: 0px;
        }

        .regionDyeingOrderDetail .col-md-6 {
            width: 54.5%;
            padding-right: 5px;
            padding-left: 5px;
        }

        .regionDyeingOrderDetail .col-md-10 {
            width: 88%;
            padding-right: 5px;
            padding-left: 5px;
        }

        .regionDyeingOrderDetail .col-md-7 {
            width: 54.6%;
            padding-right: 5px;
            padding-left: 5px;
        }

        .regionDyeingOrderDetail .col-md-8 {
            width: 69%;
            padding-right: 0px;
            padding-left: 0px;
        }

        .regionDyeingOrderDetail .col-md-9 {
            width: 69%;
            padding-right: 0px;
            padding-left: 0px;
        }

        .regionDyeingOrderDetail .btn-sm {
            padding: 3px 10px;
        }

        .regionDyeingOrderDetail .input-group-addon {
            padding: 4px 8px;
        }
    </style>

    <script type="text/javascript">
    var oDyeingOrderDetails =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var oCompareOperators =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        debugger;
    var _txtOrderNo = "";
    debugger;
    var date=new Date();
    $('.date-container').datepicker({
        format: "dd M yyyy",
        calendarWeeks: true,
        autoclose: true,
        todayHighlight: true,
    });
    var DyeingOrderDetailModule = angular.module('DyeingOrderDetailAPP', ['ngAnimate', 'ui.bootstrap', 'ui.grid', 'ui.grid.selection', 'ui.grid.edit','ui.grid.resizeColumns','ui.grid.cellNav','ms.service']);
    DyeingOrderDetailModule.controller('DyeingOrderDetailCtrl', function ($scope, $http, $uibModal, $log, uiGridConstants, msModal,icsMethod, userSession,msGridControl,userSession,advanceSearch,uiGridConstants) {
        debugger;
        var _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        sessionStorage.setItem('BaseAddress',_sBaseAddress)
        var viewType = sessionStorage.getItem("Operation");

        $scope.gridOptions= {
            enableRowSelection: true,
            enableRowHeaderSelection: false,
            multiSelect: false,
            showColumnFooter: true,
            enableColumnResizing: true,

            columnDefs: [
                    {name: ' ',width:'3%', cellTemplate: '<div style="padding-top:5px;"><span>{{grid.renderContainers.body.visibleRowCache.indexOf(row)+1}}</span></div>',cellClass: 'text-center', enableCellEdit: false, enableSorting:false, enableColumnResizing:false, enableColumnMenu:false},
                    { field: 'ContractorName',                name:'ContractorName',        width:'20%' },
                    { field: 'OrderNo',                       name:'OrderNo',               width:'10%' },
                    { field: 'OrderDate',                     name:'OrderDate',             width:'10%' },
                    { field: 'ProductName',                   name:'Product Name',          width:'40%' },
                    { field: 'Qty',                           name:'Qty ',                  width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true,  type: 'number', enableCellEdit:true,footerCellClass: 'text-right' ,footerCellFilter: 'number:0'},
                    { field: 'MUnitName',                     name:'Unit ',                  width:'8%' },

                    { field: 'ReceiveSLNo',                   name:'No',                    width:'20%' },
                    { field: 'ReceiveDateSt',                 name:'ReceiveDate',           width:'20%' },
                    { field: 'ReceiveProductName',            name:'Product Name',          width:'20%' },
                    { field: 'ReceiveProductQty',             name:'Qty(R)',                width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true,  type: 'number', enableCellEdit:true,footerCellClass: 'text-right' ,footerCellFilter: 'number:0'},
                    { field: 'ReceiveProductMUnitName',       name:'Unit',                  width:'10%' },
                    
                    { field: 'DeliveryChallanNo',              name:'No',                   width:'10%' },     
                    { field: 'DeliveryChallanDateSt',          name:'DeliveryChallanDate',  width:'10%' },    
                    { field: 'DeliveryChallanProductName',     name:'ProductName',          width:'10%' },     
                    { field: 'DeliveryChallanQty',             name:'Qty(DC)',              width:'10%',     cellClass: 'text-right',  cellFilter: 'number:2'    ,  aggregationType: uiGridConstants.aggregationTypes.sum, aggregationHideLabel: true,  type: 'number', enableCellEdit:true,footerCellClass: 'text-right' ,footerCellFilter: 'number:0'},
                    { field: 'DeliveryChallanMUnitName',       name:'Unit',                 width:'10%' },     
                    { field: 'StatusSt',                       name:'Status',               width:'10%' }, 
            ],
            data: oDyeingOrderDetails,
            onRegisterApi : function(gridApi)
            {
                $scope.gridApi = gridApi;
                $scope.gridApi.selection.clearSelectedRows();
                $scope.gridApi.core.refresh();
                if(oDyeingOrderDetails.length>0 && userSession.getRowIndex()>=0)
                {
                    $scope.gridApi.grid.modifyRows(oDyeingOrderDetails);
                    $scope.gridApi.selection.selectRow(oDyeingOrderDetails[userSession.getRowIndex()]);
                }
            }
        };
        $scope.ExportToExcel = function ()
        {
            debugger;

            var sParams = sessionStorage.getItem('AdvSearchString');

            if(sParams==null || sParams == undefined)
            {
                alert("Nothing To Print!");
                return;
            }
            window.open(_sBaseAddress+ '/DyeingOrder/ExportToExcel?sParams=' + sParams + '&nReportType=1');
        }
        $scope.AdvanceSearch=function()
        {
            _txtOrderNo = "";
            var oColumns = [];
            var oColumn = { field: 'Name', name: 'Applicant Name',width: '70%', enableSorting: false  };oColumns.push(oColumn);
            oColumn = { field: 'Address', name: 'Address',width: '30%', enableSorting: false  };oColumns.push(oColumn);

            var paramObj_Contractor={
                obj:{Params: '2' + '~' +'@@ContractorID'+'~'+sessionStorage.getItem('BUID')},
                objName:'Params',
                objField:'ContractorID',
                url:_sBaseAddress+'/Contractor/ContractorSearchByNameType',
                title:'Buyer List',
                multiSelect:true,
                columns:oColumns
            }
            var oColumnsGarments = [];
            var oColumnGarments = { field: 'Name', name: 'Applicant Name',width: '70%', enableSorting: false  };oColumnsGarments.push(oColumnGarments);
            oColumnGarments = { field: 'Address', name: 'Address',width: '30%', enableSorting: false  };oColumnsGarments.push(oColumnGarments);

            var paramObj_Garments={
                obj:{Params: '3' + '~' +'@@ContractorID'+'~'+sessionStorage.getItem('BUID')},
                objName:'Params',
                objField:'ContractorID',
                url:_sBaseAddress+'/Contractor/ContractorSearchByNameType',
                title:'Garments List',
                multiSelect:true,
                columns:oColumnsGarments
            }

            var oDyeingOrderDetail = [
                                { DisplayName: "Buyer Name",        BOField: "ContractorName",      InputType: 'picker',   PickerObject:paramObj_Contractor },
                                { DisplayName: "Order No",          BOField: "OrderNo",             InputType: 'text' },
                                { DisplayName: "Order Date",        BOField: "ExeDate",             InputType: 'date' },

            ];
            var modalObj={
                size:'md',
                title:"Advance Search",
                CompareOperators:oCompareOperators,
                HtmlElements:oDyeingOrderDetail,
                isAdvanceSearch:true, // if TRUE: 'urlAdvanceSearch' should be define
                urlAdvanceSearch:_sBaseAddress + '/DyeingOrder/AdvanceSearch'
            }
            var modalInstance=advanceSearch.Instance(modalObj);
            modalInstance.result.then(function (result)
            {
                console.log(result);
                $scope.gridOptions.data=result;
            }, function ()
            {
                $log.info('Modal dismissed at: ' + new Date());
            });
        };
        //$scope.Close = function () {
        //    userSession.previousPage();
        //};
    });
    </script>











