@model IEnumerable<ESimSol.BusinessObjects.DisciplinaryAction>
    @{
        ViewBag.Title = "ViewDisciplinaryActions";
    }

    <div style="margin-left:0px; height:550px">
        <table id="tblDAP" title="Advance Payment List" class="easyui-datagrid" style="width:1030px;height:500px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="false" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th data-options="field:'Selected',checkbox:true"></th>
                    <th field="EmployeeCode" width="150" align="left">Employee Code</th>
                    <th field="EmployeeName" width="150" align="left">Employee Name</th>
                    <th field="DesignationName" width="150" align="left">Designation</th>
                    <th field="ProductionAmount" width="140" align="right" formatter="formatPrice">Production Amount(tk.)</th>
                    <th field="NetPayment" width="140" align="right" formatter="formatPrice">Net Payment(tk.)</th>
                    <th field="ExecutedOnInString" width="100" align="left">Execution Date</th>
                    <th field="JoiningDateInString" width="100" align="left">Joinning Date</th>
                    
                </tr>
            </thead>
        </table>
        ​<table>
            <tr>
                <td>
                    @*Load <input id="txtLoadRecords" type="text" style="width:70px"/>  &nbsp; Records*@
                    <input id="chkRange" type="checkbox" />Range
                    <label id="lblRange1">
                        <input id="txtFrom" type="text" style="width:40px" />&nbsp; To &nbsp;
                    </label>
                    <label id="lblRange2">
                        <input id="txtTo" type="text" style="width:40px" />
                    </label>
                    &nbsp; &nbsp;
                    <label id="lblcount"></label>
                    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="Next()">Next</a>
                </td>
            </tr>
        </table>
        <div id="toolbar" style="height:auto;">
            @*Production:
            <span id="regionDateFrom_Prod" style="padding-left: 4px;">
                <span>
                    <select id="cboYear_Prod"></select>
                </span><span>
                    <select id="cboMonth_Prod" style="width:50px;"></select>
                </span><span>
                           <select id="cboDay_Prod" style="width:50px;"></select>
                </span>
            </span><span id="regionDateTo_Prod" style="padding-left: 4px;">
                <span style="padding-right: 4px;">
                    To
                </span><span>
                    <select id="cboEndYear_Prod"></select>
                </span><span>
                           <select id="cboEndMonth_Prod" style="width:50px;" ></select>
                </span><span>
                           <select id="cboEndDay_Prod" style="width:50px;"></select>
                </span>
            </span>*@
            Execution:
            <span id="regionDateFrom_Exe" style="padding-left: 4px;">
                <span>
                    <select id="cboYear_Exe"></select>
                </span><span>
                    <select id="cboMonth_Exe" style="width:55px;"></select>
                </span><span>
                    <select id="cboDay_Exe" style="width:50px;"></select>
                </span>
            </span><span id="regionDateTo_Exe" style="padding-left: 4px;">
                <span style="padding-right: 4px;">
                    To
                </span><span>
                    <select id="cboEndYear_Exe"></select>
                </span><span>
                    <select id="cboEndMonth_Exe" style="width:55px;"></select>
                </span><span>
                    <select id="cboEndDay_Exe" style="width:50px;"></select>
                </span>
            </span>

            <input id="txtEmployeeCode" style="width:130px;" type="text" placeholder="Type Code & Enter" />
            <input id="btnEmployee" type="button" value="P" />
            <input id="btnCEmployee" type="button" value="C" style="margin-right:2px;" />
            <input id="txtDepartment" type="text" style="width:105px;" placeholder="Pick Department" />
            <input id="btnDepartment" type="button" value="P" onclick="DepartmentPicker()" />
            <input id="btnCDepartment" type="button" value="C" style="margin-right:2px;" />
            <input id="txtDesignation" type="text" style="width:105px;" placeholder="Pick Designation" />
            <input id="btnDesignation" type="button" value="P" onclick="DesignationPicker()" />
            <input id="btnCDesignation" type="button" value="C" style="margin-right:2px;" />
            <br />
            <a id="btnAdvanceSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="SearchWithPasignation()"></a>
            <a id="btnNew" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="New()">New</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="Edit()">Edit</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="Delete()">Delete</a>
            <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="Approve()">Approve</a>
            <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="Print()">Print</a>
        </div>
    </div>

    <script type="text/javascript">

        var _oDAPs=[];
        var _sBaseAddress="";
        var _sEmployeeIds="";
        var _oEmployee = null;
        var _oEmployees=[];
        var _nLoadRecords = 0;
        var _nRowLength = 0;
        var _bNext = false;
        var _nLastDAPID=0;
        var _sDepartmentNames= "";
        var _sDepartmentIds="";
        var _sDesignationIDs = "" ;
        var _sDesignationNames = "";

        $(document).ready(function () {

            _oDAPs =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
            _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
            
            SetDateTime();
            var oDate=new Date();
            SetStartTime(oDate);
            SetEndTime(oDate);

            $('#txtLoadRecords').numberbox({min:0, precision:0 });
            $('#txtFrom').numberbox({min:0, precision:0 });
            $('#txtTo').numberbox({min:0, precision:0 });
           
            $('#txtFrom').numberbox('setValue',1);
            $('#txtTo').numberbox('setValue',50);
            document.getElementById("lblRange1").style.display = 'none';
        });

        $('#chkRange').click(function()
        {
            if(document.getElementById("chkRange").checked == true)
            {
                document.getElementById("lblRange1").style.display = '';

            }
            else
            {
                document.getElementById("lblRange1").style.display = 'none';

            }
        });

        //Sagor date picker start

        function SetDateTime()
        {
            debugger
            var oDate=new Date();
            oDate.setFullYear(2014);
            /*---------------------------------------- Start Set Year-------------------------------------------*/
            var sYear="";
            sYear +="<option value='0'>"+'Year'+"</option>";
            for(var i=0; i<=10; i++)
            {
                sYear += "<option value='" + (parseInt(oDate.getFullYear()) + parseInt(i)) +"'>" + (parseInt(oDate.getFullYear()) + parseInt(i)) +"</option>";
            }
            //$('#cboYear_Prod').html(sYear);
            //$('#cboEndYear_Prod').html(sYear);
            $('#cboYear_Exe').html(sYear);
            $('#cboEndYear_Exe').html(sYear);
            /*---------------------------------------- End Set Year-------------------------------------------*/


            /*---------------------------------------- Start Set Month-------------------------------------------*/
            var sMonth="";
            var oMonths=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
            sMonth +="<option value='0'>"+'Month'+"</option>";
            for(var i=0; i<oMonths.length; i++)
            {
                sMonth += "<option value='" +(parseInt(i)+1)+"'>" + oMonths[i] +"</option>";
            }
            //$('#cboMonth_Prod').html(sMonth);
            //$('#cboEndMonth_Prod').html(sMonth);
            $('#cboMonth_Exe').html(sMonth);
            $('#cboEndMonth_Exe').html(sMonth);
            /*---------------------------------------- End Set Month-------------------------------------------*/


            /*---------------------------------------- Start Set Date-------------------------------------------*/
            var sDay ="<option value='0'>"+'Day'+"</option>";
            //$('#cboDay_Prod').html(sDay);
            //$('#cboEndDay_Prod').html(sDay);
            $('#cboDay_Exe').html(sDay);
            $('#cboEndDay_Exe').html(sDay);
            /*---------------------------------------- End Set Date-------------------------------------------*/
        }

        //$('#cboYear_Prod').change(function(e)
        //{
        //    var nYear=$('#cboYear_Prod').val();
        //    var nMonth=$('#cboMonth_Prod').val();
        //    if(nYear>0 && nMonth>0)
        //    {
        //        $('#cboDay_Prod').html(SetDateEvent(nYear, nMonth));
        //    }

        //});

        //$('#cboEndYear_Prod').change(function(e)
        //{
        //    var nYear=$('#cboEndYear_Prod').val();
        //    var nMonth=$('#cboEndMonth_Prod').val();
        //    if(nYear>0 && nMonth>0)
        //    {
        //        $('#cboEndDay_Prod').html(SetDateEvent(nYear, nMonth));
        //    }

        //});

        //$('#cboMonth_Prod').change(function(e)
        //{
        //    var nYear=$('#cboYear_Prod').val();
        //    var nMonth=$('#cboMonth_Prod').val();
        //    if(nYear>0 && nMonth>0)
        //    {
        //        $('#cboDay_Prod').html(SetDateEvent(nYear, nMonth));
        //    }

        //});

        //$('#cboEndMonth_Prod').change(function(e)
        //{

        //    var nYear=$('#cboEndYear_Prod').val();
        //    var nMonth=$('#cboEndMonth_Prod').val();
        //    if(nYear>0 && nMonth>0)
        //    {
        //        $('#cboEndDay_Prod').html(SetDateEvent(nYear, nMonth));
        //    }

        //});

        function SetDateEvent(nYear, nMonth)
        {

            var oDate=new Date();
            var sDay="";
            if( parseInt(nMonth)>0)
            {
                var nDay= new Date(parseInt(nYear), parseInt(nMonth), 0).getDate();
                sDay +="<option value='0'>"+'Day'+"</option>";
                for(var i=1; i<=parseInt(nDay); i++)
                {
                    if(i<10)
                    {
                        sDay += "<option value='" +i+"'>" + '0'+i +"</option>";
                    }
                    else
                    {
                        sDay += "<option value='" +i+"'>" + i +"</option>";
                    }

                }
            }
            return sDay;
        }


        function SetStartTime(oDate)
        {

            var nyear=oDate.getFullYear();
            var nmonth=oDate.getMonth()+1;
            var nday=oDate.getDate();
            //$('#cboYear_Prod').val(nyear);
            //$('#cboMonth_Prod').val(nmonth);
            //$('#cboDay_Prod').html(SetDateEvent(nyear,nmonth));
            //$('#cboDay_Prod').val(nday);
            $('#cboYear_Exe').val(nyear);
            $('#cboMonth_Exe').val(nmonth);
            $('#cboDay_Exe').html(SetDateEvent(nyear,nmonth));
            $('#cboDay_Exe').val(nday);
        }

        function SetEndTime(oDate)
        {
            debugger;
            var nyear=oDate.getFullYear();
            var nmonth=oDate.getMonth()+1;
            var nday=oDate.getDate();
            //$('#cboEndYear_Prod').val(nyear);
            //$('#cboEndMonth_Prod').val(nmonth);
            //$('#cboEndDay_Prod').html(SetDateEvent(nyear,nmonth));
            //$('#cboEndDay_Prod').val(nday);
            $('#cboEndYear_Exe').val(nyear);
            $('#cboEndMonth_Exe').val(nmonth);
            $('#cboEndDay_Exe').html(SetDateEvent(nyear,nmonth));
            $('#cboEndDay_Exe').val(nday);

        }

        //function GenerateStartTimeInString_Prod()
        //{
        //    var sDate=  $('#cboMonth_Prod').val() +'/'+ $('#cboDay_Prod').val() +'/'+ $('#cboYear_Prod').val();
        //    return sDate;
        //}

        //function GenerateEndTimeInString_Prod()
        //{

        //    var sDate=  $('#cboEndMonth_Prod').val() +'/'+ $('#cboEndDay_Prod').val() +'/'+ $('#cboEndYear_Prod').val();
        //    return sDate;
        //}

        function GenerateStartTimeInString_Exe()
        {
            var sDate=  $('#cboMonth_Exe').val() +'/'+ $('#cboDay_Exe').val() +'/'+ $('#cboYear_Exe').val();
            return sDate;
        }

        function GenerateEndTimeInString_Exe()
        {

            var sDate=  $('#cboEndMonth_Exe').val() +'/'+ $('#cboEndDay_Exe').val() +'/'+ $('#cboEndYear_Exe').val();
            return sDate;
        }

        //function ValidationOfStartTime_Prod()
        //{
        //    if($('#cboYear_Prod').val()==0)
        //    {
        //        alert("Please select a year.");
        //        document.getElementById('cboYear_Prod').focus();
        //        return false;
        //    }
        //    if($('#cboMonth_Prod').val()==0)
        //    {
        //        alert("Please select a month.");
        //        document.getElementById('cboMonth_Prod').focus();
        //        return false;
        //    }
        //    if($('#cboDay_Prod').val()==0)
        //    {
        //        alert("Please select a day.");
        //        document.getElementById('cboDay_Prod').focus();
        //        return false;
        //    }
        //    return true;
        //}


        function ValidationOfStartTime_Exe()
        {
            if($('#cboYear_Exe').val()==0)
            {
                alert("Please select a year.");
                document.getElementById('cboYear_Prod').focus();
                return false;
            }
            if($('#cboMonth_Exe').val()==0)
            {
                alert("Please select a month.");
                document.getElementById('cboMonth_Prod').focus();
                return false;
            }
            if($('#cboDay_Exe').val()==0)
            {
                alert("Please select a day.");
                document.getElementById('cboDay_Prod').focus();
                return false;
            }
            return true;
        }

        //function ValidationOfEndTime_Prod()
        //{
        //    if($('#cboEndYear_Prod').val()==0)
        //    {
        //        alert("Please select a year.");
        //        document.getElementById('cboEndYear_Prod').focus();
        //        return false;
        //    }
        //    if($('#cboEndMonth_Prod').val()==0)
        //    {
        //        alert("Please select a month.");
        //        document.getElementById('cboEndMonth_Prod').focus();
        //        return false;
        //    }
        //    if($('#cboEndDay_Prod').val()==0)
        //    {
        //        alert("Please select a day.");
        //        document.getElementById('cboEndDay_Prod').focus();
        //        return false;
        //    }
        //    return true;
        //}

        function ValidationOfEndTime_Exe()
        {
            if($('#cboEndYear_Exe').val()==0)
            {
                alert("Please select a year.");
                document.getElementById('cboEndYear_Prod').focus();
                return false;
            }
            if($('#cboEndMonth_Exe').val()==0)
            {
                alert("Please select a month.");
                document.getElementById('cboEndMonth_Prod').focus();
                return false;
            }
            if($('#cboEndDay_Exe').val()==0)
            {
                alert("Please select a day.");
                document.getElementById('cboEndDay_Prod').focus();
                return false;
            }
            return true;
        }
        //$('#cboDateType').change(function ()
        //{
        //        debugger
        //        var nDateType = $("#cboDateType").val();
        //        if (nDateType == 0) {
        //              document.getElementById("regionDateTo_Prod").style.display = 'none';
        //              document.getElementById("regionDateFrom_Prod").style.display = 'none';
        //        }
        //        if (nDateType == 1 )
        //        {
        //          document.getElementById("regionDateFrom_Prod").style.display = '';
        //          document.getElementById("regionDateTo_Prod").style.display = 'none';
        //        }
        //        if (nDateType == 2 )
        //        {
        //          document.getElementById("regionDateFrom_Prod").style.display = '';
        //          document.getElementById("regionDateTo_Prod").style.display = '';
        //        }
        //});

        //sagor date picker end

        $('#txtSearchByName').keypress(function (e) {

            var c = String.fromCharCode(e.which);
            var txtSearchByName = document.getElementById('txtSearchByName').value;
            txtSearchByName = txtSearchByName + c;


            var bFlag=false;
            var sTempName="";
            var rows = $('#tblDAP').datagrid('getRows');
            for(i=0;i<rows.length;++i)
            {
                sTempName=rows[i]['EmployeeNameCode'].substring(0, txtSearchByName.length);
                if(txtSearchByName.toUpperCase()==sTempName.toUpperCase())
                {
                    bFlag=true;
                    break;
                }
            }
            if(bFlag)
            {
                $('#tblDAP').datagrid('selectRow', i);
            }
        });

        function RefreshList(oDisciplinaryActions)
        {
            data = oDisciplinaryActions;
            data = { "total": "" + data.length + "", "rows": data };
            $('#tblDAP').datagrid('loadData', data);
        }
        function formatPrice(val,row)
        {

            if(val==null)
            {
                val=0.00;
            }
            val=parseFloat(val);
            var test = val.toFixed(2);
            var tests = addComma(test);
            return tests;
        }

        function addComma(nStr)
        {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var process = /(\d+)(\d{3})/;
            while (process.test(x1)) {
                x1 = x1.replace(process, '$1' + ',' + '$2');
            }
            return x1 + x2;
        }

        function New()
        {

            var oParameter = new Object();
            oParameter.Name = "New DisciplinaryAction";
            oParameter.oDAs=[];
            var tsv = ((new Date()).getTime()) / 1000;
            var url = _sBaseAddress + "/DisciplinaryAction/View_AdvancePayment?nid=0&ts=" + tsv;
            var nLeft=(window.screen.width/2)-(1060/2);
            var nHeight=(window.screen.height/2)-(540/2);
            var oDisciplinaryActions = window.showModalDialog(url, oParameter, 'dialogHeight:540px;dialogWidth:1060px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');

            if (oDisciplinaryActions != null) {
                
                for(var i=0;i<oDisciplinaryActions.length;i++)
                {
                 
                    $('#tblDAP').datagrid('appendRow', oDisciplinaryActions[i]);
                }
                   
                
            }
        }

        function Edit() {
            //debugger;
            var nIndexes = [];
            var oDisciplinaryActions = $('#tblDAP').datagrid('getChecked');
            if (oDisciplinaryActions == null || oDisciplinaryActions.length <= 0) {
                alert("Please select atleast one item from list!");
                return;
            }

            for(var i =0; i<oDisciplinaryActions.length; i++)
            {
                if(oDisciplinaryActions[i].ApproveBy>0)
                {
                    alert("Approved item can not be edited!");
                    return;
                }
                var SelectedRowIndex = $('#tblDAP').datagrid('getRowIndex', oDisciplinaryActions[i]);
                nIndexes.push(SelectedRowIndex);
            }

            var oParameter = new Object();
            oParameter.oDAs=oDisciplinaryActions;
            //alert(oDisciplinaryActions.length);
            //alert(oParameter.oDAs.length);
            oParameter.Name = "Edit DisciplinaryAction";
            var tsv = ((new Date()).getTime()) / 1000;
            var url = _sBaseAddress + "/DisciplinaryAction/View_AdvancePayment?nid=0&ts=" + tsv;
            var nLeft=(window.screen.width/2)-(1060/2);
            var nHeight=(window.screen.height/2)-(540/2);
            var oDisciplinaryActions = window.showModalDialog(url, oParameter, 'dialogHeight:540px;dialogWidth:1060px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');

            if (oDisciplinaryActions != null) 
            {
                for(var i=0; i<oDisciplinaryActions.length; i++)
                {
                    $('#tblDAP').datagrid('updateRow', { index: nIndexes[i], row: oDisciplinaryActions[i]});
                }
            }
        }

        function Delete() {
            //        debugger;
            var nIndexes = [];
            var oDisciplinaryActions = $('#tblDAP').datagrid('getChecked');
            if (oDisciplinaryActions == null || oDisciplinaryActions.length <= 0) {
                alert("Please select atleast one item from list!");
                return;
            }
          
            var sIDs="";
            for(var i =0; i<oDisciplinaryActions.length; i++)
            {
                if(oDisciplinaryActions[i].ApproveBy>0)
                {
                    alert("Approved item can not be deleted!");
                    return;
                }
                sIDs+=oDisciplinaryActions[i].DisciplinaryActionID+",";
                var SelectedRowIndex = $('#tblDAP').datagrid('getRowIndex', oDisciplinaryActions[i]);
                nIndexes.push(SelectedRowIndex);
            }
            sIDs=sIDs.substring(0,sIDs.length-1);
            if (!confirm("Confirm to Delete?")) return;
            if (oDisciplinaryActions.length > 0) {
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: _sBaseAddress + "/DisciplinaryAction/DisciplinaryAction_Delete_List",
                    data: { sIds: sIDs },
                    contentType: "application/json; charset=utf-8",
                    success: function(data) {

                        var feedbackmessage = jQuery.parseJSON(data);

                        if (feedbackmessage == "") {
                            alert("Delete sucessfully");

                            for(var i=0; i<oDisciplinaryActions.length; i++)
                            {
                                $('#tblDAP').datagrid('deleteRow', nIndexes[i]);
                            }

                        } else {
                            alert(feedbackmessage);
                        }
                    },
                    error: function(xhr, status, error) {
                        alert(error);
                    }
                });
            }
        }

        function SearchWithPasignation()
        {
            //if(_sEmployeeIds == "")
            //{
            //    alert("Please enter employee!!");
            //    return;
            //}
            
            debugger
            if(!_bNext)
            {
                _nRowLength = 0;
                _nLastDAPID = 0;
            }

            //if(!ValidationOfStartTime_Prod()) return;
            //if(!ValidationOfEndTime_Prod()) return;
            if(!ValidationOfStartTime_Exe()) return;
            if(!ValidationOfEndTime_Exe()) return;

            //var dtDateFrom_Prod= $('#dtDateFrom_Prod').datebox('getValue');
            //var dtDateTo_Prod= $('#dtDateTo_Prod').datebox('getValue');
            
            //var dtDateFrom_Prod = GenerateStartTimeInString_Prod();
            //var dtDateTo_Prod = GenerateEndTimeInString_Prod();
            var dtDateFrom_Exe = GenerateStartTimeInString_Exe();
            var dtDateTo_Exe= GenerateEndTimeInString_Exe();
           
            //_nLoadRecords = document.getElementById("txtLoadRecords").value;

            _nLoadRecords = document.getElementById("txtTo").value;
            if(document.getElementById("chkRange").checked == true)
            {
                var RangeFrom = 0;
                var RangeTo = 0;
                RangeFrom = parseFloat(document.getElementById("txtFrom").value);
                RangeTo = parseFloat(document.getElementById("txtTo").value);

                if(RangeFrom > RangeTo)
                {
                    alert("Invalid Range !");
                    return;
                }
                _nRowLength = 0;
                _nLoadRecords = 0;

                _nRowLength = RangeFrom-1;
                _nLoadRecords = RangeTo - RangeFrom +1;

            }
        
            var tsv = ((new Date()).getTime()) / 1000;
            var sParams = _sEmployeeIds+"~"+_sDepartmentIds+"~"+_sDesignationIDs+"~"+false+"~"+"2 jan 2015"+"~"+"2 jan 2015"+"~"+true+"~"+dtDateFrom_Exe+"~"+dtDateTo_Exe+"~"+_nLoadRecords+"~"+_nRowLength;
         
            $.ajax({
                type: "POST",
                dataType: "json",
                url: _sBaseAddress + "/DisciplinaryAction/SearchWithPagination",
                data: JSON.stringify({sParams:sParams, ts: tsv}),
                contentType: "application/json; charset=utf-8",
                success: function(data)
                {
                    var oDAPs =[];
                    oDAPs = jQuery.parseJSON(data);
                    if(oDAPs.length>0 && oDAPs[0].ErrorMessage=="")
                    {
                        if(!_bNext)
                        {
                            _oDAPs=[];
                            RefreshList(_oDAPs);
                        }

                        for (var j = 0; j < oDAPs.length; j++)
                        {
                            oDAPs[j].NetPayment = oDAPs[j].Amount;
                            $('#tblDAP').datagrid('appendRow',oDAPs[j]);
                        }
                    }
                    else
                    {
                        if(_bNext == false)
                        {
                            alert("Data not found !!");
                            _oDAPs=[];
                            RefreshList(_oDAPs);
                        }
                        else
                        {
                            alert("No more data found !");
                        }
                    }
                    var oDAPs=$('#tblDAP').datagrid('getRows');
                    document.getElementById("lblcount").innerHTML = " | Count ="+ oDAPs.length;
                    _bNext = false;
                },
                error: function(xhr, status, error)
                {
                    alert(error);
                }
            });
        }

        $('#txtEmployeeCode').keypress(function (e)
        {

            var code = (e.keyCode ? e.keyCode : e.which);
            var sEmpCode=document.getElementById("txtEmployeeCode").value;
            if (code == 13)//Enter key-13
            {
                if(sEmpCode=="")
                {
                    alert("Please Enter Code !");
                    return;
                }
                var nts=(new Date()).getTime()/1000;
                var oParameter = new Object();
                oParameter.MultipleItemReturn = false;
                var url = _sBaseAddress + "/Employee/EmployeePikerByCode?sCode="+sEmpCode+"&nDepartmentID=0"+"&nts="+nts;

                _oEmployee = window.showModalDialog(url, oParameter, 'dialogHeight:415px;dialogWidth:515px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');

                if(_oEmployee!=null)
                {
                    //_nEmployeeID = _oEmployee.EmployeeID;
                    $("#txtEmployeeCode")[0].value=_oEmployee.Name+"["+_oEmployee.Code+"]";
                    _sEmployeeIds=_oEmployee.EmployeeID;
                  
                }
            }
        });

    
        $('#btnCEmployee').click(function (e)
        {
            $("#txtEmployeeCode")[0].value = "";
            _oEmployees = [];
            _sEmployeeIds="";
            _oEmployee=null;
        });

        $('#btnEmployee').click(function (e)
        {
            var oParameter = new Object();
            oParameter.Name = "Employee Advance Search";
            oParameter.MultipleItemReturn=true;
            var url = _sBaseAddress + "/Employee/EmployeeHRMPiker";
            //_oEmployees = window.showModalDialog(url, oParameter, 'dialogHeight:510px;dialogWidth:1000px;dialogLeft:50;dialogRight:50;dialogTop:50;center:yes;resizable:yes;status:no;scroll:no');
            var nLeft=(window.screen.width/2)-(1000/2);
            var nHeight=(window.screen.height/2)-(530/2);
            _oEmployees = window.showModalDialog(url, oParameter, 'dialogHeight:530px;dialogWidth:1000px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
            if(_oEmployees!=[] && _oEmployees.length>0)
            {
                var sIDs="";
                var sEmployeeName = "";
                for(var i=0; i<_oEmployees.length; i++)
                {
                    sEmployeeName+=_oEmployees[i].Name+",";
                    sIDs+=_oEmployees[i].EmployeeID+",";
                }
                sIDs=sIDs.substring(0,sIDs.length-1);
                sEmployeeName=sEmployeeName.substring(0,sEmployeeName.length-1);
                $("#txtEmployeeCode")[0].value=sEmployeeName;
                _sEmployeeIds=sIDs;
               
            }
        });

        function DepartmentPicker() 
        {
        
            var oParameter = new Object();
            oParameter.MultipleItemReturn = true;
            var url = _sBaseAddress + "/Department/DepartmentPickerWithCheckBox?id=0";
            var oReturnObjects = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
            if (oReturnObjects != null) 
            {
                for(var i=0; i<oReturnObjects.length; i++)
                {
                    _sDepartmentNames+=oReturnObjects[i].text+",";
                    _sDepartmentIds+=oReturnObjects[i].id+",";
                }

                _sDepartmentNames=_sDepartmentNames.substring(0,_sDepartmentNames.length-1);
                _sDepartmentIds=_sDepartmentIds.substring(0,_sDepartmentIds.length-1);

                //_sDepartmentNames = oReturnObject.text;
                //_nDepartmentId = oReturnObject.id ;
                $("#txtDepartment").val(_sDepartmentNames);
                //$("#txtDepartment")[0].value = oReturnObject.text;
                //$("#departmentID")[0].value = oReturnObject.id;
                //var departmentID= oReturnObject.id;
            }
        }

        $('#txtDepartment').keypress(function (e)
        {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13)//Enter key-13
            {
                var oParameter = new Object();
                oParameter.MultipleItemReturn = false;
                var url = _sBaseAddress + "/Department/DepartmentPickerWithCheckBox?id=0";
                var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
                if (oReturnObject != null) 
                {
                    //for(var i=0; i<oReturnObjects.length; i++)
                    //{
                    //    _sDepartmentNames+=oReturnObjects[i].text+",";
                    //    _sDepartmentIds+=oReturnObjects[i].id+",";
                    //}

                    //_sDepartmentNames=_sDepartmentNames.substring(0,_sDepartmentNames.length-1);
                    //_sDepartmentIds=_sDepartmentIds.substring(0,_sDepartmentIds.length-1);

                    _sDepartmentNames = oReturnObject.text;
                    _sDepartmentIds = oReturnObject.id ;
                    $("#txtDepartment").val(_sDepartmentNames);
                    //$("#txtDepartment")[0].value = oReturnObject.text;
                    //$("#departmentID")[0].value = oReturnObject.id;
                    //var departmentID= oReturnObject.id;
                }
            }
        });

        $('#btnCDepartment').click(function (e)
        {
            document.getElementById("txtDepartment").value = "" ;
            _sDepartmentIds = "" ;
            _sDepartmentNames = "";
        });

        function DesignationPicker()
        {
            var oParameter = new Object();
            oParameter.MultipleItemReturn = true;
            var url = _sBaseAddress + "/Designation/DesignationPickerWithCheckBox?id=0";
            var oReturnObjects = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
            if(oReturnObjects!=null)
            {
                for(var i=0; i<oReturnObjects.length; i++)
                {
                    _sDesignationNames+=oReturnObjects[i].text+",";
                    _sDesignationIDs+=oReturnObjects[i].id+",";
                }
                _sDesignationNames=_sDesignationNames.substring(0,_sDesignationNames.length-1);
                _sDesignationIDs=_sDesignationIDs.substring(0,_sDesignationIDs.length-1);
                $("#txtDesignation")[0].value = _sDesignationNames;
            }
        }

        $('#txtDesignation').keypress(function (e)
        {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13)//Enter key-13
            {
                var oParameter = new Object();
                oParameter.MultipleItemReturn = false;
                var url = _sBaseAddress + "/Designation/DesignationPickerWithCheckBox?id=0";
                var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
                if(oReturnObject!=null)
                {
                    _sDesignationNames = oReturnObject.text;
                    _sDesignationIDs = oReturnObject.id ;
                    $("#txtDesignation").val(_sDesignationNames);
                }
            }
        });

        $('#btnCDesignation').click(function (e)
        {
            document.getElementById("txtDesignation").value = "" ;
            _sDesignationIDs = "" ;
            _sDesignationNames = "";
        });

        $('#btnPrint').click(function (e)
        {

            //if(!ValidationOfStartTime_Prod()) return;
            //if(!ValidationOfEndTime_Prod()) return;
            if(!ValidationOfStartTime_Exe()) return;
            if(!ValidationOfEndTime_Exe()) return;

            //var dtDateFrom_Prod = GenerateStartTimeInString_Prod();
            //var dtDateTo_Prod = GenerateEndTimeInString_Prod();
            var dtDateFrom_Exe = GenerateStartTimeInString_Exe();
            var dtDateTo_Exe= GenerateEndTimeInString_Exe();

            var sParams=_sEmployeeIds+","+_sDepartmentIds+","+_sDesignationIDs+","+dtDateFrom_Exe+","+dtDateTo_Exe;
            var tsv = ((new Date()).getTime()) / 1000;
            window.open(_sBaseAddress+ "/DisciplinaryAction/PrintDisciplinaryAction?sParams="+sParams+"&ts="+tsv, "_blank");

        });

        
        function Approve() {
            debugger;
            var nIndexes = [];
            var oDisciplinaryActions = $('#tblDAP').datagrid('getChecked');
            if (oDisciplinaryActions == null || oDisciplinaryActions.length <= 0) {
                alert("Please select atleast one item from list!");
                return;
            }
           
            var sIDs="";
            for(var i =0; i<oDisciplinaryActions.length; i++)
            {
                if(oDisciplinaryActions[i].ApproveBy>0)
                {
                    alert("Some item is already approved!");
                    return;
                }
                sIDs+=oDisciplinaryActions[i].DisciplinaryActionID+",";
                var SelectedRowIndex = $('#tblDAP').datagrid('getRowIndex', oDisciplinaryActions[i]);
                nIndexes.push(SelectedRowIndex);
            }
            sIDs=sIDs.substring(0,sIDs.length-1);
            if (!confirm("Confirm to Approve?")) return;
            if (oDisciplinaryActions.length > 0) {
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url: _sBaseAddress + "/DisciplinaryAction/DisciplinaryAction_Approve_List",
                    data: { sIds: sIDs },
                    contentType: "application/json; charset=utf-8",
                    success: function(data) {

                        var oDAs = jQuery.parseJSON(data);

                        if (oDAs[0].ErrorMessage == "" && oDAs.length>0) 
                        {
                            for(var i=0; i<oDAs.length; i++)
                            {
                                oDAs[i].NetPayment = oDAs[i].Amount;
                                oDAs[i].ProductionAmount =oDAs[i].Remark;
                                $('#tblDAP').datagrid('updateRow', { index: nIndexes[i], row: oDAs[i]});
                            }
                            alert("Approved Successfully!");
                        }
                        else 
                        {
                            alert(oDAs[0].ErrorMessage);
                        }
                    },
                    error: function(xhr, status, error) {
                        alert(error);
                    }
                });
            }
        }

    </script>
