@{
    ViewBag.Title = "Sale Order List";
}
@model IEnumerable<ESimSol.BusinessObjects.SaleOrder>

<div style="margin-left: 0px; height: 100%; width:100%">
    <table id="tblSaleOrders" title="Sale Order List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="flase" singleselect="true" autorowheight="false" toolbar="#toolbar">
        <thead>
            <tr>
                <th field="RefNo" width="120">Ref No</th>
                <th field="SalesNo" width="120">Sales No</th>
                <th field="ClientName" width="220">Client</th>
                <th field="ProjectName" width="220">Project</th>
                <th field="DONo" width="120">DO No</th>
                <th field="MerketPersonName" width="220">Market Person</th>
                <th field="ApprovedByName" width="220">Approved By</th>
                
            </tr>
        </thead>
    </table>​  
            <div id="toolbar"> 
                <input type="text" id="txtSearchSalesNo" placeholder="Search by Sales No" style="width:200px" " />
                <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="Add()">Add</a>  
                <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="Edit()">Edit</a>                
                <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-details" plain="true" onclick="Details()">View</a>
                <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="Delete()">Delete</a>
                <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true" onclick="Approve()">Approve</a>
                
            </div>  
</div>



<script type="text/javascript">
var _oSaleOrders=[];
var _sBaseAddress="";
var _oAuthorizationRolesMapping =[];
$(document).ready(function () {
    //debugger;
    _oSaleOrders =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));  
    _oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));  
    var oSaleOrders =sessionStorage.getItem("SaleOrders");
    if(oSaleOrders!=null)
    {
        oSaleOrders = jQuery.parseJSON(oSaleOrders);            
    }
    else
    {
        oSaleOrders=_oSaleOrders;
    }

    RefreshList(oSaleOrders);
    RefreshControlLayout();
});

$('#txtSearchSalesNo').keypress(function (e) {
//debugger;
    var c = String.fromCharCode(e.which);
    var txtSearchSalesNo = document.getElementById('txtSearchSalesNo').value;
    txtSearchSalesNo = txtSearchSalesNo + c;
    //if(txtSearchSalesNo.length<3)return;

    var bFlag=false;
    var sTempName="";
    var rows = $('#tblSaleOrders').datagrid('getRows');        
    for(i=0;i<rows.length;++i){
        sTempName=rows[i]['SalesNo'].substring(0, txtSearchSalesNo.length);
        if(txtSearchSalesNo.toUpperCase()==sTempName.toUpperCase())
        {
            bFlag=true;
            break;
        }
    }
    if(bFlag)
    {
        $('#tblSaleOrders').datagrid('selectRow', i);
    }
});

function ClearNamefield()
{
        $("#txtSearchSalesNo")[0].value='';
}

function Add()
{
    //debugger;

    var tsv=((new Date()).getTime())/1000;
    var oSaleOrders= $('#tblSaleOrders').datagrid('getRows');
    sessionStorage.setItem("SaleOrders", JSON.stringify(oSaleOrders)); 
    sessionStorage.setItem("SelectedRowIndex", -1);   
    sessionStorage.setItem("SaleOrderHeader", "Add Sale Order");
    sessionStorage.setItem("SaleOrderBackLink", window.location.href);
    window.location.href =_sBaseAddress+ "/SaleOrder/ViewSaleOrder?id=0&ts="+tsv;
} 

function Edit()
{
    //debugger;
    var oSaleOrder = $('#tblSaleOrders').datagrid('getSelected'); 
    if(oSaleOrder==null || oSaleOrder.SaleOrderID<=0)
    {
        alert("Please select a item from list!");
        return;
    }
    //if(parseInt(oSaleOrder.ApprovedBy)!=0)
    //{
    //    alert("Your Selected Sale Order Already Approved!");
    //    return;
    //}
    var tsv=((new Date()).getTime())/1000;
    var SelectedRowIndex=$('#tblSaleOrders').datagrid('getRowIndex',oSaleOrder);
    var oSaleOrders= $('#tblSaleOrders').datagrid('getRows');
    sessionStorage.setItem("SaleOrders", JSON.stringify(oSaleOrders)); 
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);   
    sessionStorage.setItem("SaleOrderHeader", "Edit Sale Order");
    sessionStorage.setItem("SaleOrderBackLink", window.location.href);
    window.location.href =_sBaseAddress+  "/SaleOrder/ViewSaleOrder?id="+oSaleOrder.SaleOrderID+"&ts="+tsv;
    
  
} 

function Details()
{
    //debugger;
    var oSaleOrder = $('#tblSaleOrders').datagrid('getSelected'); 
    if(oSaleOrder==null || oSaleOrder.SaleOrderID<=0)
    {
        alert("Please select a item from list!");
        return;
    }
    var tsv=((new Date()).getTime())/1000;
    var SelectedRowIndex=$('#tblSaleOrders').datagrid('getRowIndex',oSaleOrder);
    var oSaleOrders= $('#tblSaleOrders').datagrid('getRows');
    sessionStorage.setItem("SaleOrders", JSON.stringify(oSaleOrders)); 
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);   
    sessionStorage.setItem("SaleOrderHeader", "View Sale Order");
    sessionStorage.setItem("SaleOrderBackLink", window.location.href);
    window.location.href =_sBaseAddress+  "/SaleOrder/ViewSaleOrder?id="+oSaleOrder.SaleOrderID+"&ts="+tsv;          
} 

function Delete()
{
    //debugger;  
    var oSaleOrder= $('#tblSaleOrders').datagrid('getSelected');            
    if(oSaleOrder==null || oSaleOrder.SaleOrderID<=0)
    {
        alert("Invalid Field!!! please select a valid Field!");                  
        return false;
    }
    if(parseInt(oSaleOrder.ApprovedBy)!=0)
    {
        alert("Your Selected Sale Order Already Approved!");
        return;
    }
    if (!confirm("Confirm to Delete?")) return ;

    var SelectedRowIndex=$('#tblSaleOrders').datagrid('getRowIndex',oSaleOrder);
    if (parseInt(oSaleOrder.SaleOrderID) > 0) 
    {
        $.ajax
        ({
            type: "GET",
            dataType: "json",                
            url : _sBaseAddress+  "/SaleOrder/DeleteCU",
            data: { id: oSaleOrder.SaleOrderID},
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                feedbackmessage = jQuery.parseJSON(data);
                if (feedbackmessage == "Data delete successfully") 
                {
                    alert("Delete sucessfully");                        
                    $('#tblSaleOrders').datagrid('deleteRow',SelectedRowIndex);
                          
                }
                else
                {
                    alert(feedbackmessage);
                }
            },
            error: function (xhr, status, error) 
            {
                alert(error);
            }
                      
        });
    }
}
    
function Approve()
{
    var oSaleOrder = $('#tblSaleOrders').datagrid('getSelected'); 
    if(oSaleOrder==null || oSaleOrder.SaleOrderID<=0)
    {
        alert("Please select a item from list!");
        return;
    }
    if(parseInt(oSaleOrder.ApprovedBy)!=0)
    {
        alert("Your Selected Sale Order Already Approved!");
        return;
    }
    var tsv=((new Date()).getTime())/1000;
    var SelectedRowIndex=$('#tblSaleOrders').datagrid('getRowIndex',oSaleOrder);
    var oSaleOrders= $('#tblSaleOrders').datagrid('getRows');
    sessionStorage.setItem("SaleOrders", JSON.stringify(oSaleOrders)); 
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);   
    sessionStorage.setItem("SaleOrderHeader", "Approve Sale Order");
    sessionStorage.setItem("SaleOrderBackLink", window.location.href);
    window.location.href =_sBaseAddress+  "/SaleOrder/ViewSaleOrderApprove?id="+oSaleOrder.SaleOrderID+"&ts="+tsv;
}

function RefreshList(oSaleOrders)
{    
    data=oSaleOrders;
    data={"total":""+data.length+"","rows":data};
    $('#tblSaleOrders').datagrid('loadData',data);  
    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
    $('#tblSaleOrders').datagrid('selectRow',nIndex);   
}

function RefreshControlLayout()
{
    document.getElementById('btnAdd').style.display = 'none'; 
    document.getElementById('btnEdit').style.display = 'none'; 
    document.getElementById('btnView').style.display = 'none'; 
    document.getElementById('btnDelete').style.display = 'none'; 
    //document.getElementById('btnPrintList').style.display = 'none'; 

    if(HavePermission('Add','SaleOrder')){document.getElementById('btnAdd').style.display = '';}
    if(HavePermission('Edit','SaleOrder')){document.getElementById('btnEdit').style.display = '';}
    if(HavePermission('View','SaleOrder')){document.getElementById('btnView').style.display = '';}
    if(HavePermission('Delete','SaleOrder')){document.getElementById('btnDelete').style.display = '';}
   // if(HavePermission('PrintList','SaleOrder')){document.getElementById('btnPrintList').style.display = '';}
}

function HavePermission(sOperationType, sDbObject)
{
    var nSessionID =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.currentUserID]));
    if(nSessionID == -9) //check SuperUser 
    {
        return true;
    }else
    {
        
        for(var i =0;i<_oAuthorizationRolesMapping.length;i++)
        {
            if(_oAuthorizationRolesMapping[i].OperationTypeInString == sOperationType && _oAuthorizationRolesMapping[i].DBObjectName == sDbObject)
            return  true;
        }
        return false;
     }
}
</script>