@model IEnumerable<ESimSol.BusinessObjects.GratuityScheme>
@{
    ViewBag.Title = "Gratuity";
}

<div style="margin-left:0px;width:100%; height:100%">
    <table id="tblGratuitySchemes" title="Gratuity Scheme List" class="easyui-datagrid" style="width:100%; height:100%" fitcolumns="false" rownumbers="true" pagination="fasle" singleselect="true"  autorowheight="false" toolbar="#toolbar">
        <thead>
            <tr>
                <th field="Name" width="150" align="left">Name</th>
                <th field="Description" width="400" align="left">Description</th>
                <th field="ApproveByNameCode" width="240" align="left">Approve By</th>
                <th field="ApproveByDateInString" width="100" align="left">Approve Date</th>
                <th field="ActivityStatus" width="100" align="left">Activity</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="AddGratuityScheme()">New</a>
        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="EditGratuityScheme()">Edit</a>
        <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true" onclick="ViewGratuityScheme()">View</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="Delete()">Delete</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="ChangeActiveStatus()">Inactive</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="Approve()">Approve</a>
    </div>
</div>

<script type="text/javascript">

var _oGratuitySchemes=[];
var _sBaseAddress="";
var _sGratuitySchemeHeader="";
$(document).ready(function () {

    _oGratuitySchemes =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));

    var oGratuitySchemes =sessionStorage.getItem("GratuitySchemes");
    _sGratuitySchemeHeader=sessionStorage.getItem("GratuitySchemeHeader");

    if(oGratuitySchemes!=null)
    {
        oGratuitySchemes = jQuery.parseJSON(oGratuitySchemes);
    }
    else
    {
        oGratuitySchemes=_oGratuitySchemes;
    }
    RefreshList(oGratuitySchemes);

    if(_sGratuitySchemeHeader == "New GratuityScheme") {
        var oGratuitySchemes = $('#tblGratuitySchemes').datagrid('getRows');
        var nIndex = oGratuitySchemes.length-1;
        $('#tblGratuitySchemes').datagrid('selectRow', nIndex);
    }
    else if(_sGratuitySchemeHeader == "Edit GratuityScheme" || _sGratuitySchemeHeader == "View GratuityScheme") {
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        $('#tblGratuitySchemes').datagrid('selectRow', nIndex);
    }

    sessionStorage.clear();
});

function AddGratuityScheme()
{
    var oGratuitySchemes= $('#tblGratuitySchemes').datagrid('getRows');
    sessionStorage.setItem("GratuitySchemes", JSON.stringify(oGratuitySchemes));
    sessionStorage.setItem("SelectedRowIndex", -1);
    sessionStorage.setItem("GratuitySchemeHeader", "New Gratuity Scheme");
    window.location.href = _sBaseAddress+ "/Gratuity/View_GratuityScheme?sid=0&sMsg=N/A";
}

function RefreshList(oGratuitySchemes) {
    data = oGratuitySchemes;
    data = { "total": "" + data.length + "", "rows": data };
    $('#tblGratuitySchemes').datagrid('loadData', data);
}

function EditGratuityScheme()
{
    var oGratuityScheme = $('#tblGratuitySchemes').datagrid('getSelected');
    if (oGratuityScheme == null || oGratuityScheme.GSID <= 0) {
        alert("Please select an item from list!");
        return;
    }
    if (oGratuityScheme.ApproveBy> 0) {
        alert("Approve Item can not be edited!");
        return ;
    }
    var SelectedRowIndex = $('#tblGratuitySchemes').datagrid('getRowIndex', oGratuityScheme);
    var oGratuitySchemes= $('#tblGratuitySchemes').datagrid('getRows');
    sessionStorage.setItem("GratuitySchemes", JSON.stringify(oGratuitySchemes));
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
    sessionStorage.setItem("GratuitySchemeHeader", "Edit GratuityScheme");
    window.location.href = _sBaseAddress+ "/Gratuity/View_GratuityScheme?sid="+oGratuityScheme.EncryptedID+"&sMsg=N/A";
}

function ViewGratuityScheme()
{
    var oGratuityScheme = $('#tblGratuitySchemes').datagrid('getSelected');
    if (oGratuityScheme == null || oGratuityScheme.GSID <= 0) {
        alert("Please select an item from list!");
        return;
    }
    var SelectedRowIndex = $('#tblGratuitySchemes').datagrid('getRowIndex', oGratuityScheme);
    var oGratuitySchemes= $('#tblGratuitySchemes').datagrid('getRows');
    sessionStorage.setItem("GratuitySchemes", JSON.stringify(oGratuitySchemes));
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
    sessionStorage.setItem("GratuitySchemeHeader", "View GratuityScheme");
    window.location.href = _sBaseAddress+ "/Gratuity/View_GratuityScheme?sid="+oGratuityScheme.EncryptedID+"&sMsg=N/A";
}

function Delete() {
    var oGratuityScheme = $('#tblGratuitySchemes').datagrid('getSelected');
    if (oGratuityScheme == null || oGratuityScheme.GSID <= 0) {
        alert("Invalid Field!!! please select a valid Field!");
        return ;
    }
    if (oGratuityScheme.ActivityStatus=="Active") {
        alert("Active Item can not be deleted!");
        return ;
    }
    if (oGratuityScheme.ApproveBy> 0) {
        alert("Approve Item can not be deleted!");
        return ;
    }
    if (!confirm("Confirm to Delete?")) return;
    var SelectedRowIndex = $('#tblGratuitySchemes').datagrid('getRowIndex', oGratuityScheme);

    if ( oGratuityScheme.GSID > 0) {
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oGratuityScheme,
            ControllerName: "Gratuity",
            ActionName: "GratuityScheme_Delete",
            TableId: "tblGratuitySchemes",
            IsWinClose: false
        };
        $.icsDelete(obj);
    }
}

function ChangeActiveStatus() {
    debugger;
    var oGratuityScheme = $('#tblGratuitySchemes').datagrid('getSelected');
    if (oGratuityScheme == null || oGratuityScheme.GSID <= 0) {
        alert("Please select an item from list!");
        return;
    }
    if (oGratuityScheme.ActivityStatus=="InActive") {
        alert("Already Inactive!");
        return ;
    }
    var SelectedRowIndex = $('#tblGratuitySchemes').datagrid('getRowIndex', oGratuityScheme);
 
    $.ajax({
        type: "POST",
        dataType: "json",
        url: _sBaseAddress + "/Gratuity/GratuityScheme_Activity",
        traditional: true,
        data: JSON.stringify(oGratuityScheme),
        contentType: "application/json; charset=utf-8",

        success: function(data) {
            debugger;
            oGratuityScheme = jQuery.parseJSON(data);
            if (oGratuityScheme.GSID > 0) {
                alert("Data Saved sucessfully");
                $('#tblGratuitySchemes').datagrid('updateRow', { index: SelectedRowIndex, row: oGratuityScheme });

            } else {
                alert(oGratuityScheme.ErrorMessage);
            }
        },
        error: function(xhr, status, error) {
            alert(error);
        }
    });
}

function Approve() {
    var oGratuityScheme = $('#tblGratuitySchemes').datagrid('getSelected');
    if (oGratuityScheme == null || oGratuityScheme.GSID <= 0) {
        alert("Please select an item from list!");
        return;
    }
    if (oGratuityScheme.ApproveBy > 0) {
        alert("Already Approved !");
        return;
    }
    var SelectedRowIndex = $('#tblGratuitySchemes').datagrid('getRowIndex', oGratuityScheme);
 
    $.ajax({
        type: "POST",
        dataType: "json",
        url: _sBaseAddress + "/Gratuity/GratuityScheme_Approve",
        traditional: true,
        data: JSON.stringify(oGratuityScheme),
        contentType: "application/json; charset=utf-8",

        success: function(data) {
            debugger;
            oGratuityScheme = jQuery.parseJSON(data);
            if (oGratuityScheme.GSID > 0) {
                alert("Data Saved sucessfully");
                $('#tblGratuitySchemes').datagrid('updateRow', { index: SelectedRowIndex, row: oGratuityScheme });

            } else {
                alert(oGratuityScheme.ErrorMessage);
            }
        },
        error: function(xhr, status, error) {
            alert(error);
        }
    });
}

</script>
