@{
    ViewBag.Title = "Sales Contract";
}
<html>

<body>
    @model ESimSol.BusinessObjects.ExportPI
    <div id="divExportPI" class="menuMainCollectionTable" style="font-family:Tahoma; height:100%; width:100%;overflow:hidden;">
       
            <div title="Sample Adjustment Note" style="padding:2px">
               
                    <div style="width:100%;">
                        <fieldset>
                            <legend style="text-align:left; font-weight:bold;"> Sales Contract Informations : </legend>
                            <table style="width: 100%;" cellspacing="1" cellpadding="1">
                                <tr>
                                    <td style="width:10%; text-align:right">
                                        <label>
                                            PI No
                                        </label>
                                    </td>
                                    <td style="width:20%; text-align:left">
                                        <input type="text" id="txtPINo" style="width:100%;" readonly="readonly" />
                                    </td>

                                    <td style="width:10%; text-align:right">
                                        <label>
                                            PI Date
                                        </label>
                                    </td>
                                    <td style="width:20%; text-align:left">
                                        <input type="text" id="txtIssueDate" style="width:100%;" readonly="readonly" />
                                    </td>
                                    <td style="width:10%; text-align:right">
                                        <label>
                                            MKT Person
                                        </label>
                                    </td>
                                    <td style="width:30%; text-align:left">
                                        <input type="text" id="txtMKTPerson" style="width:86%;" readonly="readonly" />
                                    </td>

                                </tr>
                                <tr>
                                    <td style="width:10%; text-align:right">
                                        <label>
                                            Account Of
                                        </label>
                                    </td>
                                    <td colspan="2" style="width:30%; text-align:left">
                                        <input type="text" id="txtContractorName" style="width:100%;" readonly="readonly" />
                                    </td>
                                    <td style="width:20%; text-align:right">
                                        <label>
                                            Buying House
                                        </label>
                                    </td>
                                    <td colspan="2" style="width:40%; text-align:left">
                                        <input type="text" id="txtBuyerName" style="width:90%;" readonly="readonly" />
                                    </td>
                                </tr>

                            </table>
                            <table style="width: 100%;" cellspacing="1" cellpadding="1">
                                <tr>
                                    <td style="width:10%; text-align:right">
                                        <label>       PI Value  </label> <span class="lblCurrency"></span>:
                                    </td>
                                    <td style="width:15%; text-align:left">
                                        <input type="text" id="txtPIValue" style="width:100%;" readonly="readonly" />
                                    </td>

                                    <td style="width:10%; text-align:right">
                                        <label>Adj Value</label><span class="lblCurrency"></span>:
                                    </td>
                                    <td style="width:15%; text-align:left">
                                        <input type="text" id="txtAdjAmount" style="width:100%;" readonly="readonly" />
                                    </td>
                                    <td style="width:13%; text-align:right">
                                        <label>
                                            Actule Value
                                        </label><span class="lblCurrency"></span>:
                                    </td>
                                    <td style="width:12%; text-align:left">
                                        <input type="text" id="txtActualValue" style="width:100%;" readonly="readonly" />
                                    </td>
                                    <td style="width:8%; text-align:right">
                                        <label>
                                            L/C No
                                        </label>
                                    </td>
                                    <td style="width:13%; text-align:left">
                                        <input type="text" id="txtLCNo" style="width:100%;" readonly="readonly" />
                                    </td>
                                    <td style="width:5%; text-align:left"></td>
                                </tr>
                               
                            </table>
                        </fieldset>
                    </div>
                <div style="width:100%;">
                    <fieldset>
                        <legend style="text-align:left; font-weight:bold;">Adjustment Settle Information : </legend>
                        <table id="tblExportPIDetails" title="Export PI Detail" class="easyui-datagrid" style="width:100%;height:180px;"
                               data-options="singleSelect: true,fitColumns:false, rownumbers:true, pagination:false, autoRowHeight:false">
                            <thead>
                                <tr>
                                    <th rowspan="2" field="ProductNameCode" width="15%" align="left">Product Name</th>
                                    <th rowspan="2" field="StyleNo" width="8%" align="center">Style</th>
                                    <th rowspan="2" field="ColorInfo" width="8%" align="center">Color</th>
                                    <th colspan="3" width="24%" align="center">PI Info</th>
                                    <th colspan="4" width="24%" align="center">Adj Info</th>
                                    <th colspan="2" width="16%" align="center">Actual Dyeing Info</th>
                                </tr>
                                <tr>
                                    <th field="Qty" width="8%" align="right" formatter="formatPrice">Qty</th>
                                    <th field="UnitPrice" width="8%" align="right" formatter="formatPrice">Unit Price</th>
                                    <th field="Amount" width="8%" align="right" formatter="formatPrice">Amount</th>

                                    <th field="AdjQty" width="6%" align="right" formatter="formatPrice">Qty(Adj)</th>
                                    <th field="AdjRate" width="6%" align="right" formatter="formatPrice">UP(Adj)</th>
                                    <th field="AdjValue" width="6%" align="right" formatter="formatPrice">Amount(Adj)</th>
                                    <th field="DocCharge" width="6%" align="right" >Doc Charge</th>

                                    <th field="ActualQty" width="8%" align="right" formatter="formatPrice">Qty</th>
                                    <th field="ActualAmount" width="8%" align="right" formatter="formatPrice">Amount</th>
                                </tr>
                            </thead>
                        </table>
                      

                    </fieldset>
                </div>  
                <div style="width:100%;">
                    <fieldset>
                        <legend style="text-align:left; font-weight:bold;">Adjustment Settle Information : </legend>
                        <table id="tblSampleInvoices" class="easyui-datagrid" style="width:100%;height:110px;"
                               data-options="singleSelect: true,fitColumns:true, rownumbers:true, pagination:false, autoRowHeight:false, toolbar: '#toolbarExportPIDetail_Com'">
                            <thead>
                                <tr>
                                    <th field="SampleInvoiceNo" width="10%" align="left">SAN No</th>
                                    <th field="SampleInvoiceDateST" width="10%" align="left">Date </th>
                                    @*<th field="Qty" width="8%" align="right" formatter="formatPrice">Qty</th>
                                    <th field="UnitPrice" width="8%" align="right" formatter="formatPrice">Unit Price</th>*@
                                    <th field="AmountST" width="9%" align="right" >Amount</th>
                                    <th field="InvoiceTypeSt" width="11%" align="left">Type </th>
                                    <th field="ContractorName" width="20%" align="left">Issue To </th>
                                    
                                </tr>
                            </thead>
                        </table>
                        <div id="toolbarExportPIDetail_Com">
                            @*<label id="lblRate">Commission Rate</label>
                            <a id="btnPickDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit Commission Rate</a>
                            <label id="lblTotalCRate" style="padding-left:20%"></label>*@
                        </div>
                       
                    </fieldset>
                </div>     
                <div style="width:100%; height:10%">
                    <fieldset>
                        <legend style="font-weight: bold">Action : </legend>
                        <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                            <tr>
                              
                                <td style="width:30%; text-align:right"></td>
                                <td style="width: 20%;text-align:right">
                                    <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                                </td>
                                <td style="width: 10%;text-align:right">
                                    <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </div>
            


    </div>
    
</body>
</html>
<style type="text/css">
    .td-summary-one {
        width: 17%;
    }

    .td-summary-two {
        width: 19%;
    }
</style>
<script type="text/javascript">
    var _oExportPI=null;
    var _sBaseAddress="";
    var _sExportPIHeader="";
    var _nMenuid=0;
    var _sBackLink="";
    var _oExportPIDetails=[];
    var _oSampleInvoices=[];
    var _oExportSC=null;
    $(document).ready(function () {
        debugger;
        _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oExportPI =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oExportPIDetails =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.ExportPIDetails));
        _oSampleInvoices =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.SampleInvoices));
        _oExportSC =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.ExportSC));

        _sBackLink=sessionStorage.getItem("BackLink");

        _sExportPIHeader=sessionStorage.getItem("ExportPIHeader");
        // $('#divExportPI').panel({ title:_sExportPIHeader});
        //$('#btnApprove').hide();
        debugger;
        RefreshControl();
        //RefreshControlAdjSettle();
        //$("#progressbar").progressbar({ value: 0 });
        //$("#progressbarParent").hide();
        //$(".lblLoadingMessage").hide();

    });

    function RefreshControl()
    {
        $(".lblCurrency").html("("+_oExportPI.Currency+")");
        $(".lblCurrencyTwo").html(_oExportPI.Currency);
        $('#txtPINo').val(_oExportPI.PINo_Full);
        $('#txtIssueDate').val(_oExportPI.IssueDateInString);
        $('#txtMKTPerson').val(_oExportPI.MKTPName);
        $('#txtContractorName').val(_oExportPI.ContractorName);
        $('#txtBuyerName').val(_oExportPI.BuyerName);

        $('#txtPIValue').val(formatPrice(_oExportPI.Amount,null));
        $('#txtAdjAmount').val(formatPrice(_oExportSC.AmountToBeAdjusted,null));
        $('#txtActualValue').val(formatPrice((_oExportPI.Amount-_oExportSC.AmountToBeAdjusted),null));



        $('#txtLCNo').val(_oExportPI.ELCNo);
      
        DynamicRefreshList(_oSampleInvoices, "tblSampleInvoices");
      
        if(_oExportPI.ExportPIDetails!=null && _oExportPI.ExportPIDetails.length>0)
        {
            DynamicRefreshList(_oExportPI.ExportPIDetails, "tblExportPIDetails");
            //DynamicRefreshList(_oExportPIDetails, "tblExportPIDetails");
            //DynamicRefreshList(_oExportPIDetails, "tblExportPIDetail_Com");

            //if(_oExportPI.BuyerID<=0 || _oExportPI.ContractorID==_oExportPI.BuyerID){
            //    $("#tblExportPIDetail_Com").datagrid('hideColumn','AmountComTwo');
            //    $("#tblExportPIDetail_Com").datagrid('hideColumn','CRateTwo');
            //}

            $(".lblMUnit").html("("+_oExportPI.ExportPIDetails[0].MUName+")");
            $(".lblMUnitTwo").html(" "+_oExportPI.ExportPIDetails[0].MUName);
        }

        //RefreshSummary();
   
    }

   

  

    $('#btnSave').click(function(e){
        debugger;
        if(parseFloat(_oExportPI.ExportPIID)<=0)
        {
            alert(" P/I not found");
            return;
        }
        //endEditing();
        var oExportPI={ExportPIID:_oExportPI.ExportPIID}

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/SampleInvoice/ExportPISNA",
            traditional: true,
            data:  JSON.stringify(oExportPI),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oSampleInvoices =jQuery.parseJSON(data);

                if (oSampleInvoices[0].ErrorMessage == '' || oSampleInvoices[0].ErrorMessage == null)
                {
                    DynamicRefreshList(oSampleInvoices, "tblSampleInvoices");
                    alert("Change  Successfully");
                }
                else
                {
                    alert(oSampleInvoices[0].ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(xhr+'~' +status+'~'+error);
            }
        });
    });
   

    $("#btnClose").click(function(){
        window.location.href =_sBackLink;// _sBaseAddress+ "/ExportSC/ViewExportSCs?menuid="+_nMenuid;
    });

  

 

    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);

            }
        });
    }

    function SetPickerValueAssign(oPickerobj) {
        var oreturnObj = null, oreturnobjs = [];
        if (oPickerobj.multiplereturn) {
            oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
        } else {
            oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
        }
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
        if (oPickerobj.winid == 'winCPersonPicker')
        {
            debugger;

            if (oreturnobjs!=null && oreturnobjs.length > 0) {
                $("#txtContactPersonnel").val(oreturnobjs.length+' item(s) selected');
                $("#txtContactPersonnel").addClass('fontColorOfPickItem');
                CPersonMapping(oreturnobjs);
            }
        }

    }

  
    function RefreshSummary()
    {
        debugger;
        var oSalesCommissions = $('#tblSalesCommissions').datagrid('getRows');
        var nTotalPercentage = 0;
        var nBalance = 0;
        var nCommissionAmount=0;
        for(var i = 0; i<oSalesCommissions.length;i++)
        {
            nTotalPercentage+=parseFloat(oSalesCommissions[i].Percentage);
            nCommissionAmount+=parseFloat(parseFloat(oSalesCommissions[i].CommissionAmount).toFixed(2));
        }
        nBalance=(_nCommissionAmount-nCommissionAmount);
        if(nBalance>0)
        {
            $(".lblBalanceText").html("Yet To Convert: ");
        }
        else{
            nBalance=(-1)*nBalance;
            $(".lblBalanceText").html(" Over Converted: ");
        }
        document.getElementById('lblPercentage').innerHTML = formatPrice(nTotalPercentage,0)+" %";
        document.getElementById('lblTotalComAmount').innerHTML = _oExportPI.Currency+''+formatPrice(nCommissionAmount,0);
        //document.getElementById('lblBalancePI').innerHTML = _oExportPI.Currency+''+formatPrice( nBalance,0);
        $('#txtCommissionDistrubte').val(formatPrice(nCommissionAmount));
    }


    $("#btnRefresh").click(function () {

        endEditing();
    });


    function RefreshCommission()
    {
        var oSalesCommissions = $('#tblSalesCommissions').datagrid('getRows');
        for (i = 0; i < oSalesCommissions.length; ++i)
        {
            if(parseFloat(oSalesCommissions[i].Percentage)>0)
            {
                oSalesCommissions[i].CommissionAmount=parseFloat((oSalesCommissions[i].Percentage* _nCommissionAmount)/100).toFixed(2);
            }
        }
        DynamicRefreshList(oSalesCommissions, "tblSalesCommissions");
        RefreshSummary();
    }

</script>