<html>
@{
    ViewBag.Title = "PartsRequisition Registers";
}
<body>
    @model ESimSol.BusinessObjects.PartsRequisition
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable" id="MainDiv">
        <div class="easyui-panel" title="Parts Requisition Register" style="font-family:Tahoma; text-align:center; height:88%;">
            <fieldset style="height:95%; text-align:center;">
                <legend style="font-weight:bold"> Serching Criteria : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:100%">
                    <tr>
                        <td colspan="5" style="height:20px;"></td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Requisition No :</td>
                        <td style="width:30%;text-align:left">
                            <input type="text" style="width:100%" id="txtPartsRequisitionNo" placeholder="Enter Requisition No" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Requisition Date :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboPartsRequisitionDate" style="width:100%;height:22px;"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtPartsRequisitionDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtPartsRequisitionDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    
                    <tr>
                        <td style="width:15%;text-align:right"> Reg. No :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:80%; text-align:left">
                                        <input type="text" style="width:98%" id="txtRegNo" onkeydown="RegNoKeyDown(event)" placeholder="Press enter with Reg No." />
                                    </td>
                                    <td style="width:20%; text-align:right">
                                        <input type="button" id="btnRegNo" onclick="PickRegNo()" style="width:95%;float:right;" value="Pick" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Product :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:80%; text-align:left">
                                        <input type="text" style="width:98%" id="txtProduct" onkeydown="ProductKeyDown(event)" placeholder="Press enter with Product Name or Code" />
                                    </td>
                                    <td style="width:20%; text-align:right">
                                        <input type="button" id="btnProduct" onclick="PickProduct()" style="width:95%;float:right;" value="Pick" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> VIN No :</td>
                        <td style="width:30%;text-align:left">
                            <input type="text" style="width:100%" id="txtVINNo" placeholder="Enter VIN No" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Party Name :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:80%; text-align:left">
                                        <input type="text" style="width:98%" id="txtBuyer" onkeydown="BuyerKeyDown(event)" placeholder="Press enter with Buyer name" />
                                    </td>
                                    <td style="width:20%; text-align:right">
                                        <input type="button" id="btnBuyer" onclick="PickBuyer()" style="width:95%;float:right;" value="Pick" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Consumption :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboConsumption" style="width:100%;height:22px;"></select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> </td>
                        <td style="width:38%;text-align:right">
                            
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Report Layout :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboReportLayout" style="width:100%;height:22px;">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"></td>
                        <td style="width:38%;text-align:right"></td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:50%;text-align:right"></td>
                    <td style="width:50%;text-align:right">
                        <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                        <a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>


<script type="text/javascript">
    var _sBaseAddress="";
    var _oConsuptionTypes = [];
    $(document).ready(function () {
        var nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oReportLayouts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReportLayouts));
        var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oConsuptionTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ConsuptionTypes));

        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        $('#txtQCQtyStart,#txtQCQtyEnd').icsCurrencyBox();
        $("#cboPartsRequisitionDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboReportLayout").icsLoadCombo({ List: oReportLayouts, OptionValue: "id", DisplayText: "Value" });
        $("#cboConsumption").icsLoadCombo({ List: _oConsuptionTypes, OptionValue: "id", DisplayText: "Value" });

        $('#txtPartsRequisitionDateStart').datebox({ disabled : true });
        $('#txtPartsRequisitionDateEnd').datebox({ disabled : true });

        $('#txtPartsRequisitionDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtPartsRequisitionDateEnd').datebox('setValue', icsdateformat(new Date()));

        $("#MainDiv").data("BuyerID",0);
        $("#MainDiv").data("VehicleRegistrationID",0);
        $("#MainDiv").data("ProductID",0);
    });

    function ValidateSearch()
    {

        var nPartsRequisitionDate = parseInt($('#cboPartsRequisitionDate').val());
        if(nPartsRequisitionDate===1 || nPartsRequisitionDate===2 || nPartsRequisitionDate===3 || nPartsRequisitionDate===4)
        {
            var sPartsRequisitionDateStart   = $('#txtPartsRequisitionDateStart').datebox('getValue');
            if(sPartsRequisitionDateStart===null || sPartsRequisitionDateStart==="")
            {
                alert("Please select PartsRequisition start date!");
                $('#txtPartsRequisitionDateStart').focus();
                return false;
            }
        }
        if(nPartsRequisitionDate===5 || nPartsRequisitionDate===6)
        {
            var sPartsRequisitionDateStart   = $('#txtPartsRequisitionDateStart').datebox('getValue');
            var sPartsRequisitionDateEnd   = $('#txtPartsRequisitionDateEnd').datebox('getValue');
            if(sPartsRequisitionDateStart===null || sPartsRequisitionDateStart==="")
            {
                alert("Please select PartsRequisition start date!");
                $('#txtPartsRequisitionDateStart').focus();
                return false;
            }
            if(sPartsRequisitionDateEnd===null || sPartsRequisitionDateEnd==="")
            {
                alert("Please select PartsRequisition end date!");
                $('#txtPartsRequisitionDateEnd').focus();
                return false;
            }
            if(new Date(sPartsRequisitionDateStart) > new Date(sPartsRequisitionDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtPartsRequisitionDateStart').focus();
                return false;
            }
        }

        var nReportLayout = parseInt($('#cboReportLayout').val());
        if(nReportLayout<=0)
        {
            alert("Please select an Report Layout!");
            return;
        }

        var sPartsRequisitionNo =$.trim($('#txtPartsRequisitionNo').val());
        var nVehicleRegID = parseInt($("#MainDiv").data("VehicleRegistrationID"));
        var nProductID = parseInt($("#MainDiv").data("ProductID"));
        var sChassisNo =$.trim($('#txtVINNo').val());
        var nBuyerID = parseInt($("#MainDiv").data("BuyerID"));
        var nConsumption = parseInt($('#cboConsumption').val());

        if(sPartsRequisitionNo === "" && nPartsRequisitionDate === 0 && nVehicleRegID === 0 && nProductID === 0 && sChassisNo === "" && nBuyerID === 0 && nConsumption === 0)
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        return true;
    }

    function RefreshObject()
    {
        var nPartsRequisitionDate = parseInt($('#cboPartsRequisitionDate').val());
        var sPartsRequisitionDateStart   = $('#txtPartsRequisitionDateStart').datebox('getValue');
        var sPartsRequisitionDateEnd   = $('#txtPartsRequisitionDateEnd').datebox('getValue');

        var sSearchingData  =  nPartsRequisitionDate+'~';
        sSearchingData = sSearchingData + sPartsRequisitionDateStart+'~';
        sSearchingData = sSearchingData + sPartsRequisitionDateEnd+'~';

        var oPartsRequisition = {
            BUID : parseInt(sessionStorage.getItem("BUID")),
            RequisitionNo : $.trim($('#txtPartsRequisitionNo').val()),
            VehicleRegID : parseInt($("#MainDiv").data("VehicleRegistrationID")),
            ProductID: parseInt($("#MainDiv").data("ProductID")),
            ChassisNo: $.trim($('#txtVINNo').val()),
            CustomerID: parseInt($("#MainDiv").data("BuyerID")),
            PRType: parseInt($('#cboConsumption').val()) ,
            ReportLayout : parseInt($('#cboReportLayout').val()),
            ErrorMessage : sSearchingData
        };
        return oPartsRequisition;
    }

    $('#btnPreview').click(function(e){
        if(!ValidateSearch()) return;
        var oPartsRequisition = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/PartsRequisition/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oPartsRequisition),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/PartsRequisition/PrintPartsRequisitionRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#btnExportToExcel').click(function(e){
        if(!ValidateSearch()) return;
        var oPartsRequisition = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/PartsRequisition/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oPartsRequisition),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/PartsRequisition/ExportToExcelPartsRequisition?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    $('#cboPartsRequisitionDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboPartsRequisitionDate').val());
        if(nCompareOperator===0)
        {
            $('#txtPartsRequisitionDateStart').datebox({ disabled : true });
            $('#txtPartsRequisitionDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtPartsRequisitionDateStart').datebox({ disabled : false });
            $('#txtPartsRequisitionDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtPartsRequisitionDateStart').datebox({ disabled : false });
            $('#txtPartsRequisitionDateEnd').datebox({ disabled : false });
        }
        $('#txtPartsRequisitionDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtPartsRequisitionDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#btnClose').click(function (e) {
        window.location.href = window.location.href;
    });


    function BuyerKeyDown(event) {
        //return;
        if (event.which == 13) {
            var oTxtName=$("#txtBuyer").val();
            if (oTxtName != null) {
                PickBuyer(oTxtName);
            }
        }
        if (event.which == 8) {
            txtBuyer.style.color="Black";
            txtBuyer.style.font="normal";
            $("#MainDiv").data("BuyerID",0);
        }

    }
    function PickBuyer(oTxtName)
    {
        var oStyleSearch = {
            Params: '2' + '~' + $("#txtBuyer").val() +'~'+parseInt(sessionStorage.getItem("BUID"))
        };//
        console.log(oStyleSearch);
        debugger;
        var obj = {
            BaseAddress:_sBaseAddress,
            Object: (oStyleSearch) ,
            ControllerName: "Contractor", //TechnicalSheet
            ActionName: "ContractorSearchByNameType",//ViewStyleSearch
            IsWinClose: false
        };
        var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
        DynamicPiker('Buyer',obj,tblColums,false,'Name','ContractorID',600); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
    }
    function SetBuyer(oSelectedStyle) {
        debugger;
        document.getElementById("txtBuyer").value = oSelectedStyle.Name;
        txtBuyer.style.color="Blue";
        txtBuyer.style.font="bold";
        //var text = "";
        //var len = oSelectedStyle.length;
        //for (var i = 0; i < len; i++) {

        //    text += oSelectedStyle[i].ModuleName;
        //}
        //document.getElementById("txtModuleName").innerHTML = text;
        $("#MainDiv").data("BuyerID",oSelectedStyle.ContractorID);
    }

    function RegNoKeyDown(event) {
        //return;
        if (event.which == 13) {
            var oTxtName=$("#txtRegNo").val();
            if (oTxtName != null) {
                PickRegNo(oTxtName);
            }
        }
        if (event.which == 8) {
            txtRegNo.style.color="Black";
            txtRegNo.style.font="normal";
            $("#MainDiv").data("VehicleRegistrationID",0);
        }

    }
    function PickRegNo(oTxtName)
    {
        var oStyleSearch = {
            VehicleRegNo: (typeof(oTxtName) != 'undefined'?oTxtName:"")
        };
        debugger;
        var obj = {
            BaseAddress:_sBaseAddress,
            Object: (oStyleSearch) ,
            ControllerName: "VehicleRegistration", 
            ActionName: "GetsByNo",
            IsWinClose: false
        };
        var tblColums = [];
        var oColumn = { field: "VehicleRegNo", title: "Registration No", width: 200, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "VehicleModelNo", title: "Model No", width: 200, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "CustomerName", title: "Customer", width: 150, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "VehicleTypeName", title: "Type", width: 100, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ChassisNo", title: "ChassisNo", width: 100, align: "left" }; tblColums.push(oColumn);
        DynamicPiker('RegNo',obj,tblColums,false,'VehicleRegNo','VehicleRegistrationID',820); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
    }
    function SetRegNo(oSelectedStyle) {
        debugger;
        document.getElementById("txtRegNo").value = oSelectedStyle.VehicleRegNo;
        txtRegNo.style.color="Blue";
        txtRegNo.style.font="bold";
        $("#MainDiv").data("VehicleRegistrationID",oSelectedStyle.VehicleRegistrationID);
    }

    function ProductKeyDown(event) {
        //return;
        if (event.which == 13) {
            var oTxtName=$("#txtProduct").val();
            if (oTxtName != null) {
                PickProduct(oTxtName);
            }
        }
        if (event.which == 8) {
            txtProduct.style.color="Black";
            txtProduct.style.font="normal";
            $("#MainDiv").data("ProductID",0);
        }

    }
    function PickProduct(oTxtName)
    {
        var oStyleSearch = {
            BUID:sessionStorage.getItem("BUID"),
            ProductName:(typeof(oTxtName) != 'undefined'?oTxtName:"")
        };
        debugger;
        var obj = {
            BaseAddress:_sBaseAddress,
            Object: (oStyleSearch) ,
            ControllerName: "AdjustmentRequisitionSlip", 
            ActionName: "GetProducts",
            IsWinClose: false
        };
        var tblColums = [];
        var oColumn = { field: "ProductCode", title: "Code", width: 100, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ProductName", title: "Name", width: 300, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "MUnit", title: "Unit", width: 70, align: "left" }; tblColums.push(oColumn);
        DynamicPiker('Product',obj,tblColums,false,'NameCode','ProductID',520); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
    }
    function SetProduct(oSelectedStyle) {
        debugger;
        document.getElementById("txtProduct").value = oSelectedStyle.ProductName;
        txtProduct.style.color="Blue";
        txtProduct.style.font="bold";
        $("#MainDiv").data("ProductID",oSelectedStyle.ProductID);
    }

    function SetPickerValueAssign(oPickerobj)
    {
        debugger;
        var oResult;
        if (oPickerobj.multiplereturn)
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getChecked');
        }
        else
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getSelected');
        }


        if (oPickerobj.winid == 'winBuyer')
        {
            SetBuyer(oResult);
        }
        else if (oPickerobj.winid == 'winRegNo')
        {
            SetRegNo(oResult);
        }
        else if (oPickerobj.winid == 'winProduct')
        {
            SetProduct(oResult);
        }
        
        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 90){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }

    function DynamicPiker(pickerName,obj,pTblColums,pMultiReturn,pSearchField,pID,nWidth)
    {
        debugger;
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        setInterval(updateProgress,250);

        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0][pID] > 0) {
                    debugger;
                    var tblColums = pTblColums;
                    var oPickerParam = {
                        winid: 'win'+pickerName,
                        winclass: 'cls'+pickerName,
                        winwidth: nWidth,
                        winheight: 460,
                        tableid: 'tbl'+pickerName+'s',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: pMultiReturn,
                        searchingbyfieldName: pSearchField,
                        windowTittle: pickerName+' List',
                        colsable:true
                    };
                    $.icsPicker(oPickerParam);
                    $("#progressbar").progressbar({ value: 0 });//hide
                    $("#progressbarParent").hide();
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                    $("#progressbar").progressbar({ value: 0 });//hide
                    $("#progressbarParent").hide();
                }
            }
            else{
                alert("Data Not Found.");
                $("#progressbar").progressbar({ value: 0 });//hide
                $("#progressbarParent").hide();
                return;
            }
        });
    }

    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }


</script>