<html>
@{
    ViewBag.Title = "GUQC Registers";
}
<body>
    @model ESimSol.BusinessObjects.GUQC
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable" id="MainDiv">
        <div class="easyui-panel" title="QC Register" style="font-family:Tahoma; text-align:center; height:88%;">
            <fieldset style="height:95%; text-align:center;">
                <legend style="font-weight:bold"> Serching Criteria : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:100%">
                    <tr>
                        <td colspan="5" style="height:20px;"></td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> QC No :</td>
                        <td style="width:30%;text-align:left">
                            <input type="text" style="width:100%" id="txtGUQCNo" placeholder="Enter QC No" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> QC Date :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboGUQCDate" style="width:100%;height:22px;"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtGUQCDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtGUQCDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> QC By :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboQCBy" style="width:100%;height:22px;"></select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Store :</td>
                        <td style="width:38%;text-align:right">
                            <select id="cboStore" style="width:100%;height:22px;"></select>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Buyer :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:80%; text-align:left">
                                        <input type="text" style="width:98%" id="txtBuyer" onkeydown="BuyerKeyDown(event)" placeholder="Press enter with buyer name" />
                                    </td>
                                    <td style="width:20%; text-align:right">
                                        <input type="button" id="btnBuyer" onclick="PickBuyer()" style="width:95%;float:right;" value="Pick" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Style No:</td>
                        <td style="width:38%;text-align:right">
                            <input type="text" style="width:100%" id="txtStyleNo" placeholder="Enter Style No" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Order Recap No :</td>
                        <td style="width:30%;text-align:left">
                            <input type="text" style="width:100%" id="txtOrderRecapNo" placeholder="Enter Order Recap No" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> QC Qty :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboQCQty" style="width:100%;height:22px;"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtQCQtyStart" type="text" style=" width:95%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtQCQtyEnd" type="text" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Reject Qty :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboRejectQty" style="width:100%;height:22px;"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtRejectQtyStart" type="text" style=" width:95%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtRejectQtyEnd" type="text" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td><td style="width:12%;text-align:right"> Shipment Date :</td>
                           <td style="width:38%;text-align:right">
                             <table border="0" cellpadding="1" cellspacing="1" width="100%">
                               <tr>
                                            <td style="width:30%; text-align:center">
                                                <select id="cboShipmentDate" style="width:100%;height:22px;"> </select>
                                            </td>
                                            <td style="width:30%; text-align:center">
                                                <input id="txtShipmentDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                            </td>
                                            <td style="width:10%; text-align:center">to</td>
                                            <td style="width:30%; text-align:center">
                                                <input id="txtShipmentDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                        
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right">PO Wise Remarks:</td>
                        <td style="width:30%;text-align:left">
                            <input id="txtPOWiseRemarks" type="text" style=" width:100%;" placeholder="Enter PO Wise Remarks" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Remarks :</td>
                        <td style="width:38%;text-align:right">
                            <input id="txtRemarks" type="text" style=" width:100%;" placeholder="Enter Remarks" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Report Layout :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboReportLayout" style="width:100%;height:22px;">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"></td>
                        <td style="width:38%;text-align:right"></td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:50%;text-align:right"></td>
                    <td style="width:50%;text-align:right">
                        <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                        <a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel</a>
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>


<script type="text/javascript">
    var _sBaseAddress="";
    var _oStores = [];
    var _oEmployees =[];
    $(document).ready(function () {
        var nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oReportLayouts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReportLayouts));
        var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oStores = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Stores));
        _oEmployees = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Employees));

        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        $('#txtQCQtyStart,#txtQCQtyEnd').icsCurrencyBox();
        $("#cboGUQCDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboShipmentDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboQCQty").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboRejectQty").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboReportLayout").icsLoadCombo({ List: oReportLayouts, OptionValue: "id", DisplayText: "Value" });

        $("#cboQCBy").icsLoadCombo({ List:_oEmployees, OptionValue: "EmployeeID", DisplayText: "Name"});
        $("#cboStore").icsLoadCombo({ List: _oStores, OptionValue: "WorkingUnitID", DisplayText: "WorkingUnitName" });

        $('#txtGUQCDateStart').datebox({ disabled : true });
        $('#txtGUQCDateEnd').datebox({ disabled : true });
        $('#txtShipmentDateStart').datebox({ disabled : true });
        $('#txtShipmentDateEnd').datebox({ disabled : true });

        $('#txtQCQtyStart').prop("disabled", true);
        $('#txtQCQtyEnd').prop("disabled", true);
        $('#txtRejectQtyStart').prop("disabled", true);
        $('#txtRejectQtyEnd').prop("disabled", true);

        $('#txtGUQCDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtGUQCDateEnd').datebox('setValue', icsdateformat(new Date()));
        $('#txtShipmentDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtShipmentDateEnd').datebox('setValue', icsdateformat(new Date()));

        $('#txtQCQtyStart').val('0.00');
        $('#txtQCQtyEnd').val('0.00');
        $('#txtRejectQtyStart').val('0.00');
        $('#txtRejectQtyEnd').val('0.00');

        $("#MainDiv").data("BuyerID",0);
    });

    function ValidateSearch()
    {

        var nGUQCDate = parseInt($('#cboGUQCDate').val());
        if(nGUQCDate===1 || nGUQCDate===2 || nGUQCDate===3 || nGUQCDate===4)
        {
            var sGUQCDateStart   = $('#txtGUQCDateStart').datebox('getValue');
            if(sGUQCDateStart===null || sGUQCDateStart==="")
            {
                alert("Please select GUQC start date!");
                $('#txtGUQCDateStart').focus();
                return false;
            }
        }
        var nShipmentDate = parseInt($('#cboShipmentDate').val());
        if(nShipmentDate===1 || nShipmentDate===2 || nShipmentDate===3 || nShipmentDate===4)
        {
            var sShipmentDateStart   = $('#txtShipmentDateStart').datebox('getValue');
            if(sShipmentDateStart===null || sShipmentDateStart==="")
            {
                alert("Please select Shipment start date!");
                $('#txtShipmentDateStart').focus();
                return false;
            }
        }
        if(nGUQCDate===5 || nGUQCDate===6)
        {
            var sGUQCDateStart   = $('#txtGUQCDateStart').datebox('getValue');
            var sGUQCDateEnd   = $('#txtGUQCDateEnd').datebox('getValue');
            if(sGUQCDateStart===null || sGUQCDateStart==="")
            {
                alert("Please select GUQC start date!");
                $('#txtGUQCDateStart').focus();
                return false;
            }
            if(sGUQCDateEnd===null || sGUQCDateEnd==="")
            {
                alert("Please select GUQC end date!");
                $('#txtGUQCDateEnd').focus();
                return false;
            }
            if(new Date(sGUQCDateStart) > new Date(sGUQCDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtGUQCDateStart').focus();
                return false;
            }
        }
        if(nShipmentDate===5 || nShipmentDate===6)
        {
            var sShipmentDateStart   = $('#txtShipmentDateStart').datebox('getValue');
            var sShipmentDateEnd   = $('#txtShipmentDateEnd').datebox('getValue');
            if(sShipmentDateStart===null || sShipmentDateStart==="")
            {
                alert("Please select Shipment start date!");
                $('#txtShipmentDateStart').focus();
                return false;
            }
            if(sShipmentDateEnd===null || sShipmentDateEnd==="")
            {
                alert("Please select Shipment end date!");
                $('#txtShipmentDateEnd').focus();
                return false;
            }
            if(new Date(sShipmentDateStart) > new Date(sShipmentDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtShipmentDateEnd').focus();
                return false;
            }
        }
        var nQCQty = parseInt($('#cboQCQty').val());
        if(nQCQty===1 || nQCQty===2 || nQCQty===3 || nQCQty===4)
        {
            var sQCQtyStart   = $.trim($('#txtQCQtyStart').val());
            if(sQCQtyStart===null || sQCQtyStart==="")
            {
                alert("Please enter QC start Amount!");
                $('#txtQCQtyStart').focus();
                return false;
            }
            if(icsRemoveComma(sQCQtyStart)<=0)
            {
                alert("Please enter GUQC start Amount!");
                $('#txtQCQtyStart').focus();
                return false;
            }
        }
        if(nQCQty===5 || nQCQty===6)
        {
            var sQCQtyStart = $.trim($('#txtQCQtyStart').val());
            if(sQCQtyStart===null || sQCQtyStart==="")
            {
                alert("Please enter GUQC start Amount!");
                $('#txtQCQtyStart').focus();
                return false;
            }
            if(icsRemoveComma(sQCQtyStart)<=0)
            {
                alert("Please enter GUQC start Amount!");
                $('#txtQCQtyStart').focus();
                return false;
            }

            var sQCQtyEnd = $.trim($('#txtQCQtyEnd').val());
            if(sQCQtyEnd===null || sQCQtyEnd==="")
            {
                alert("Please enter GUQC end Amount!");
                $('#txtQCQtyEnd').focus();
                return false;
            }
            if(icsRemoveComma(sQCQtyEnd)<=0)
            {
                alert("Please enter QC end Amount!");
                $('#txtQCQtyEnd').focus();
                return false;
            }
            if(icsRemoveComma(sQCQtyStart) >= icsRemoveComma(sQCQtyEnd))
            {
                alert("Start amount must be smallar than end amount!");
                $('#txtQCQtyStart').focus();
                return false;
            }
        }

        var nRejectQty = parseInt($('#cboRejectQty').val());
        if(nRejectQty===1 || nRejectQty===2 || nRejectQty===3 || nRejectQty===4)
        {
            var sRejectQtyStart   = $.trim($('#txtRejectQtyStart').val());
            if(sRejectQtyStart===null || sRejectQtyStart==="")
            {
                alert("Please enter Reject start Amount!");
                $('#txtRejectQtyStart').focus();
                return false;
            }
            if(icsRemoveComma(sRejectQtyStart)<=0)
            {
                alert("Please enter GUReject start Amount!");
                $('#txtRejectQtyStart').focus();
                return false;
            }
        }
        if(nRejectQty===5 || nRejectQty===6)
        {
            var sRejectQtyStart = $.trim($('#txtRejectQtyStart').val());
            if(sRejectQtyStart===null || sRejectQtyStart==="")
            {
                alert("Please enter GUReject start Amount!");
                $('#txtRejectQtyStart').focus();
                return false;
            }
            if(icsRemoveComma(sRejectQtyStart)<=0)
            {
                alert("Please enter GUReject start Amount!");
                $('#txtRejectQtyStart').focus();
                return false;
            }

            var sRejectQtyEnd = $.trim($('#txtRejectQtyEnd').val());
            if(sRejectQtyEnd===null || sRejectQtyEnd==="")
            {
                alert("Please enter GUReject end Amount!");
                $('#txtRejectQtyEnd').focus();
                return false;
            }
            if(icsRemoveComma(sRejectQtyEnd)<=0)
            {
                alert("Please enter Reject end Amount!");
                $('#txtRejectQtyEnd').focus();
                return false;
            }
            if(icsRemoveComma(sRejectQtyStart) >= icsRemoveComma(sRejectQtyEnd))
            {
                alert("Start amount must be smallar than end amount!");
                $('#txtRejectQtyStart').focus();
                return false;
            }
        }

        var nReportLayout = parseInt($('#cboReportLayout').val());
        if(nReportLayout<=0)
        {
            alert("Please select an Report Layout!");
            return;
        }

        var sGUQCNo =$.trim($('#txtGUQCNo').val());
        var nQCBy = parseInt($('#cboQCBy').val());
        var nStore = parseInt($('#cboStore').val());
        var sStyleNo =$.trim($('#txtStyleNo').val());
        var sOrderRecapNo =$.trim($('#txtOrderRecapNo').val());
        var sRemarks =$.trim($('#txtRemarks').val());
        var sPOWiseRemarks =$.trim($('#txtPOWiseRemarks').val());
        debugger;
        if(sGUQCNo === "" && nGUQCDate === 0 && nQCBy === 0 && nStore === 0 && parseInt($("#MainDiv").data("BuyerID")) == 0 && sStyleNo === "" && sOrderRecapNo === "" && nQCQty === 0 && nRejectQty ===0 && sRemarks === "" && sPOWiseRemarks === "" )
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        return true;
    }

    function RefreshObject()
    {
        var nGUQCDate = parseInt($('#cboGUQCDate').val());
        var sGUQCDateStart   = $('#txtGUQCDateStart').datebox('getValue');
        var sGUQCDateEnd   = $('#txtGUQCDateEnd').datebox('getValue');

        var nShipmentDate = parseInt($('#cboShipmentDate').val());
        var sShipmentDateStart   = $('#txtShipmentDateStart').datebox('getValue');
        var sShipmentDateEnd   = $('#txtShipmentDateEnd').datebox('getValue');

        var nQCQty = parseInt($('#cboQCQty').val());
        var nQCQtyStart = icsRemoveComma($.trim($('#txtQCQtyStart').val()));
        var nQCQtyEnd = icsRemoveComma($.trim($('#txtQCQtyEnd').val()));

        var nRejectQty = parseInt($('#cboRejectQty').val());
        var nRejectQtyStart = icsRemoveComma($.trim($('#txtRejectQtyStart').val()));
        var nRejectQtyEnd = icsRemoveComma($.trim($('#txtRejectQtyEnd').val()));

        var sSearchingData  =  nGUQCDate+'~';
        sSearchingData = sSearchingData + sGUQCDateStart+'~';
        sSearchingData = sSearchingData + sGUQCDateEnd+'~';

        sSearchingData = sSearchingData + nQCQty +'~';
        sSearchingData = sSearchingData + nQCQtyStart +'~';
        sSearchingData = sSearchingData + nQCQtyEnd+'~';

        sSearchingData = sSearchingData + nRejectQty +'~';
        sSearchingData = sSearchingData + nRejectQtyStart +'~';
        sSearchingData = sSearchingData + nRejectQtyEnd+'~';

        sSearchingData = sSearchingData +nShipmentDate+'~';
        sSearchingData = sSearchingData + sShipmentDateStart+'~';
        sSearchingData = sSearchingData + sShipmentDateEnd;

        var oGUQC = {
            BUID : parseInt(sessionStorage.getItem("BUID")),
            QCNo : $.trim($('#txtGUQCNo').val()),
            QCBy : parseInt($('#cboQCBy').val()),
            StoreID : parseInt($('#cboStore').val()),
            BuyerID : parseInt($("#MainDiv").data("BuyerID")),
            StyleNo : $.trim($('#txtStyleNo').val()),
            OrderRecapNo : $.trim($('#txtOrderRecapNo').val()),
            Remarks : $.trim($('#txtRemarks').val()),
            POWiseRemarks : $.trim($('#txtPOWiseRemarks').val()),
            ReportLayout : parseInt($('#cboReportLayout').val()),
            ErrorMessage : sSearchingData
        };
        return oGUQC;
    }

    $('#btnPreview').click(function(e){
        if(!ValidateSearch()) return;
        var oGUQC = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/GUQC/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oGUQC),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/GUQC/PrintGUQCRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    $('#btnExportToExcel').click(function(e){
        if(!ValidateSearch()) return;
        var oGUQC = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/GUQC/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oGUQC),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/GUQC/ExportToExcelGUQC?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    $('#cboGUQCDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboGUQCDate').val());
        if(nCompareOperator===0)
        {
            $('#txtGUQCDateStart').datebox({ disabled : true });
            $('#txtGUQCDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtGUQCDateStart').datebox({ disabled : false });
            $('#txtGUQCDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtGUQCDateStart').datebox({ disabled : false });
            $('#txtGUQCDateEnd').datebox({ disabled : false });
        }
        $('#txtGUQCDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtGUQCDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboShipmentDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboShipmentDate').val());
        if(nCompareOperator===0)
        {
            $('#txtShipmentDateStart').datebox({ disabled : true });
            $('#txtShipmentDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtShipmentDateStart').datebox({ disabled : false });
            $('#txtShipmentDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtShipmentDateStart').datebox({ disabled : false });
            $('#txtShipmentDateEnd').datebox({ disabled : false });
        }
        $('#txtShipmentDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtShipmentDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboQCQty').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboQCQty').val());
        if(nCompareOperator===0)
        {
            $('#txtQCQtyStart').prop("disabled", true);
            $('#txtQCQtyEnd').prop("disabled", true);
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtQCQtyStart').prop("disabled", false);
            $('#txtQCQtyEnd').prop("disabled", true);
        }
        else
        {
            $('#txtQCQtyStart').prop("disabled", false);
            $('#txtQCQtyEnd').prop("disabled", false);
        }
        $('#txtQCQtyStart').val('0.00');
        $('#txtQCQtyEnd').val('0.00');
    });

    $('#cboRejectQty').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboRejectQty').val());
        if(nCompareOperator===0)
        {
            $('#txtRejectQtyStart').prop("disabled", true);
            $('#txtRejectQtyEnd').prop("disabled", true);
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtRejectQtyStart').prop("disabled", false);
            $('#txtRejectQtyEnd').prop("disabled", true);
        }
        else
        {
            $('#txtRejectQtyStart').prop("disabled", false);
            $('#txtRejectQtyEnd').prop("disabled", false);
        }
        $('#txtRejectQtyStart').val('0.00');
        $('#txtRejectQtyEnd').val('0.00');
    });

    $('#btnClose').click(function (e) {
        window.location.href = window.location.href;
    });

    
    function BuyerKeyDown(event) {
        //return;
        if (event.which == 13) {
            var oTxtName=$("#txtBuyer").val();
            if (oTxtName != null) {
                PickBuyer(oTxtName);
            }
        }
        if (event.which == 8) {
            txtBuyer.style.color="Black";
            $("#MainDiv").data("BuyerID",0);
        }

    }
    function PickBuyer(oTxtName)
    {
        var oStyleSearch = {
            Params: '2' + '~' + $("#txtBuyer").val() +'~'+parseInt(sessionStorage.getItem("BUID"))
        };//
        console.log(oStyleSearch);
        debugger;
        var obj = {
            BaseAddress:_sBaseAddress,
            Object: (oStyleSearch) ,
            ControllerName: "Contractor", //TechnicalSheet
            ActionName: "ContractorSearchByNameType",//ViewStyleSearch
            IsWinClose: false
        };
        var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
        DynamicPiker('Buyer',obj,tblColums,false,'Name','ContractorID',600); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
    }
    function SetBuyer(oSelectedStyle) {
        debugger;
        document.getElementById("txtBuyer").value = oSelectedStyle.Name;
        txtBuyer.style.color="Blue";
        //var text = "";
        //var len = oSelectedStyle.length;
        //for (var i = 0; i < len; i++) {

        //    text += oSelectedStyle[i].ModuleName;
        //}
        //document.getElementById("txtModuleName").innerHTML = text;
        $("#MainDiv").data("BuyerID",oSelectedStyle.ContractorID);
        //_oGUQC.BuyerID = oSelectedStyle.ContractorID;
    }

    function SetPickerValueAssign(oPickerobj)
    {
        debugger;
        var oResult;
        if (oPickerobj.multiplereturn)
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getChecked');
        }
        else
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getSelected');
        }


        if (oPickerobj.winid == 'winBuyer')
        {
            SetBuyer(oResult);
        }
        else if (oPickerobj.winid == 'winPO')
        {
            SetOrderRecap(oResult);
        }
        

        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 90){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }

    function DynamicPiker(pickerName,obj,pTblColums,pMultiReturn,pSearchField,pID,nWidth)
    {
        debugger;
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        setInterval(updateProgress,250);

        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0][pID] > 0) {
                    debugger;
                    var tblColums = pTblColums;
                    var oPickerParam = {
                        winid: 'win'+pickerName,
                        winclass: 'cls'+pickerName,
                        winwidth: nWidth,
                        winheight: 460,
                        tableid: 'tbl'+pickerName+'s',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: pMultiReturn,
                        searchingbyfieldName: pSearchField,
                        windowTittle: pickerName+' List',
                        colsable:true
                    };
                    $.icsPicker(oPickerParam);
                    $("#progressbar").progressbar({ value: 0 });//hide
                    $("#progressbarParent").hide();
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                    $("#progressbar").progressbar({ value: 0 });//hide
                    $("#progressbarParent").hide();
                }
            }
            else{
                alert("Data Not Found.");
                $("#progressbar").progressbar({ value: 0 });//hide
                $("#progressbarParent").hide();
                return;
            }
        });
    }

    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }


</script>