<html>
@{
    ViewBag.title = "TermsAndCondition";
}
<body>
    @model ESimSol.BusinessObjects.TermsAndCondition
    <div class="menuMainCollectionTable panel-group" ng-app="TAndCapp" ng-controller="CCategoryController" id="divCC">
        <div class="panel-primary">
            <div style="height:480px;" class="panel-body">
                <fieldset style=" height:100%; text-align:center;">
                    <legend style="font-weight:bold;">Basic Info : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:80%">
                        <tr>
                            <td style="height:150px;">&nbsp;</td>
                            <td style="height:150px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="width:30%; text-align:right">
                                Module :
                            </td>
                            <td style="width:70%">
                                <select ng-model="TermsAndCondition.ModuleID" ng-options="item.id as item.Value for item in Modules" style="width:100%"></select>
                            </td>
                        </tr>
                        <tr>
                            <td style="height:20px;">&nbsp;</td>
                            <td style="height:20px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="width:30%; text-align:right">
                                Terms & Condition :
                            </td>
                            <td style="width:70%;">
                                <input type="text" ng-model="TermsAndCondition.TermsAndConditionText" style="width:100%" />
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
            <fieldset>
                    <legend style="font-weight:bold"> Action : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                        <tr>
                            <td style="width:100%;text-align:right">
                                <button type="button" id="btnSave" class="btn btn-default btn-xs" aria-label="right Align" ng-click="Save()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> Save</span></button>
                                <button type="button" id="btnClose" class="btn btn-default btn-xs" aria-label="right Align" ng-click="Close()"><span class="glyphicon glyphicon-remove" aria-hidden="true"> Close</span></button>
                            </td>
                        </tr>
                    </table>
                </fieldset>
        </div>
</body>
</html>


<script type="text/javascript">
    //debugger;
    var oTermsAndCondition =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var oEnumModules = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.EnumModules));
    var TAndCapp = angular.module('TAndCapp', []);
    TAndCapp.controller('CCategoryController', function ($scope, $http) {
            $scope.TermsAndCondition = oTermsAndCondition;
            $scope.Modules = oEnumModules;
            $scope.Save=function()
            {
                debugger;
                if(!$scope.ValidateInput()) return;
                var oTermsAndCondition=$scope.TermsAndCondition;
                $http.post(sessionStorage.getItem('BaseAddress')+'/TermsAndCondition/Save',oTermsAndCondition).then(
                      function (response)
                      {
                          var oTermsAndCondition= jQuery.parseJSON(response.data);
                          if (oTermsAndCondition.ErrorMessage=="" || oTermsAndCondition.ErrorMessage==null)
                          {
                              alert("Data Save Successfully!!");
                              var oTermsAndConditions = sessionStorage.getItem("TermsAndConditions");
                              var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                              if (oTermsAndConditions != null)
                              {
                                  oTermsAndConditions = jQuery.parseJSON(oTermsAndConditions);
                              }
                              else {
                                  oTermsAndConditions = [];
                              }
                              if (nIndex != -1) {
                                  oTermsAndConditions[nIndex] = oTermsAndCondition;
                              }
                              else {
                                  sessionStorage.setItem("SelectedRowIndex", oTermsAndConditions.length);
                                  oTermsAndConditions.push(oTermsAndCondition);
                              }
                              sessionStorage.setItem("TermsAndConditions", JSON.stringify(oTermsAndConditions));
                              window.location.href = sessionStorage.getItem("BackLink");
                          }
                          else
                          {
                              alert(oTermsAndCondition.ErrorMessage);
                          }

                      },
                          function (response) { alert(jQuery.parseJSON(response.data).Message);$scope.MeasurementUnits=[];}
                  );
            }
            $scope.ValidateInput = function()
            {
                debugger;
                if($scope.TermsAndCondition.ModuleID<=0)
                {
                    alert("Please Select Module.");
                    return false;
                }
                if($scope.TermsAndCondition.TermsAndConditionText==null || $scope.TermsAndCondition.TermsAndConditionText=="")
                {
                    alert("Please enter Terms and Condition!");
                    return false;
                }
                return true;
            }
            if(sessionStorage.getItem("TermsAndConditionHeader")=="View TermsAndCondition")
            {
                $("#divCC :input").prop('disabled', true);
                $('#btnClose').prop('disabled', false);
            }
            $scope.Close = function()
            {
                window.location.href = sessionStorage.getItem("BackLink");
            }
            $scope.keydown = function(e)
            {
                if(e.which == 27)//escape=27
                {
                    //debugger;
                    window.location.href = sessionStorage.getItem("BackLink");
                }
            }
        });

</script>