@{
    ViewBag.Title = "Letter Setup";
}
@model ESimSol.BusinessObjects.LetterSetup
<head>
    <title></title>

</head>
<body>
    <div style="overflow:hidden">
        <div style="width:100%;height:500px;">
            <div style="width:70%;float:left;">
                <table class="tbl">
                    <tr>
                        <td class="tdLetterSetup">
                            <div class="divLabel" style="margin-left:-15%;">
                                <label style="font-size: 15px;font-weight:bold">Name:</label>
                            </div>
                            <div>
                                <input id="txtName" type="text" placeholder="Letter Template Name" style="width:360px; margin-right:20px; font-size: 15px;"/>
                                <label>Language:</label>
                                <input type="checkbox" id="chkIsEnglish" onchange="ChangeFont()" /><label for="chkIsEnglish">English</label>
                                <input type="checkbox" id="chkIsBangla" onchange="ChangeFont()" /><label for="chkIsBangla">Bangla</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdLetterSetup">
                            <div class="divLabel" style="margin-left:-15%;">
                                <label>Header :</label>
                            </div>
                            <div>
                                <input id="txtHeaderName" type="text" placeholder="Letter Header Name" style="font-family:SutonnyMJ;width:415px;font-size: 17px;font-weight:bold" />
                                <input id="txtHeaderFontSize" type="text" class="number" style="font-size: 13px;font-weight:bold; width:50px; height:30px" placeholder="Size" />
                                <select id="cboHeaderTextAlign" style="font-size: 13px;font-weight:bold; height:30px">
                                    <option value="0">-Text Align-</option>
                                    <option value="1">Left</option>
                                    <option value="2">Center</option>
                                    <option value="3">Right</option>
                                </select>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td colspan="1" class="tdLetterSetup-Span">
                            <div class="divLabel-Span">
                                <label>Description :</label>
                            </div>
                            <div class="divInput-Span">
                                <textarea id="txtBody" style="font-family:SutonnyMJ;font-size: 16px" ></textarea>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="tdLetterSetup">
                            <div class="divLabel" style="margin-left:-15%;">
                                <br /><label>Remark:</label>
                            </div>
                            <div class="divInput">
                                <br /><input id="txtRemark" type="text" placeholder="Remark" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="width:5%;float:left;"></div>
            <div style="width:25%;float:right;height:500px;  overflow:scroll;">
                <fieldset>
                    <legend>Data Field</legend>
                    <table class="tbl" style="overflow:scroll; height: 480px;position:relative">
                        <tr>
                            <td class="tdLetterSetup">
                                <div>
                                    <a id="btnEmpName" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('001')">001->EmployeeName</a><br />
                                    <a id="btnEmpCode" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('002')">002->EmployeeCode</a><br />
                                    <a id="btnFatherName" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('003')">003->Father/Husband</a><br />
                                    @*<a id="btnHusbandName" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('HusbandName')">HusbandName</a><br />*@
                                    <a id="btnMotherName" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('004')">004->MotherName</a><br />
                                    <a id="btnPresentAddress" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('005')">005->PresentAddress</a><br />
                                    <a id="btnPermanentAddress" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('006')">006->PermanentAddress</a><br />
                                    <a id="btnDateOfBirth" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('007')">007->Date Of Birth</a><br />
                                    <a id="btnNationality" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('008')">008->Nationality</a><br />
                                    <a id="btnReligion" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('009')">009->Religion</a><br />
                                    <a id="btnExperience" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('010')">010->Experience</a><br />
                                    <a id="btnMaritalStatus" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('011')">011->MaritalStatus</a><br />
                                    <a id="btnEducationLevel" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('012')">012->EducationLevel</a><br />
                                    <a id="btnShift" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('013')">013->Shift</a><br />
                                    <a id="btnCurrentDate" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('014')">014->CurrentDate</a><br />
                                    <a id="btnDesignation" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('015')">015->Designation</a><br />
                                    <a id="btnDepartment" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('016')">016->Department</a><br />
                                    <a id="btnGross" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('017')">017->JoiningDate</a><br />
                                    <a id="btnGross" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('018')">018->Gross</a><br />
                                    <a id="btnSalaryStructureBasic" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('019')">019->SalaryStructureBasicType</a><br />
                                    <a id="btnSalaryStructureOthers" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('020')">020->SalaryStructureOthers</a><br />
                                    <a id="btnBU" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('021')">021->BusinessUnit</a><br />
                                    <a id="btnCompany" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('022')">022->Company</a><br />
                                    <a id="btnGrade" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('023')">023->Grade</a><br />
                                    <a id="btnCardNo" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('024')">024->CardNo</a><br />
                                    <a id="btnHeight" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('025')">025->Height</a><br />
                                    <a id="btnWeight" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('026')">026->Weight</a><br />
                                    <a id="btnBloodGroup" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('027')">027->BloodGroup</a><br />
                                    <a id="btnNationalID" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('028')">028->NationalID</a><br />
                                    <a id="btnNominee" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('029')">029->Nominee</a><br />
                                    <a id="btnContactNo" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('030')">030->ContactNo</a><br />
                                    <a id="btnEmployeeType" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('031')">031->EmployeeType</a><br />
                                    <a id="btnNewPage" href="javascript:void(0)" class="easyui-linkbutton" plain="true" onclick="addComponent('999')">New Page</a><br />
                                </div>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>

        </div>
        <div style="width:100%; position:relative; bottom:0;text-align:right;">
            <fieldset style="height:60px;">
                <legend>Actions : </legend>
                <div>
                    <div style="float:left;">
                        <input type="checkbox" id="chkIsPad" style="float:left;" /> IsPadFormat
                        <div id="divPadSetting" style="float:right">
                            <input id="txtPageSize" placeholder="(width,height) in inch" style="width:150px;" />

                            Top:<input id="txtMarginTop" placeholder="in inch" style="width:100px;" />
                            Bottom:<input id="txtMarginBottom" placeholder="in inch" style="width:100px;" />
                            Left:<input id="txtMarginLeft" placeholder="in inch" style="width:100px;" />
                            Right:<input id="txtMarginRight" placeholder="in inch" style="width:100px;" />
                        </div>
                    </div>
                    <a id="btnSaveLetterSetup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                    <a id="btnCloseLetterSetup" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                </div>
            </fieldset>
        </div>
    </div>

</body>
<style type="text/css">
    #winLetterSetup {
        width: 800px;
        font-size: 11px;
    }

    .component {
        float: left;
        width: 60%;
        font-size: 11px;
        height: 420px;
    }

    .tdLetterSetup {
        width: 60%;
        font-size: 11px;
    }

        .tdLetterSetup .divLabel {
            float: left;
            width: 30%;
            text-align: right;
            margin-right: 1%;
            font-size: 11px;
        }

    .divInput input {
        float: left;
        width: 80%;
        font-size: 11px;
    }

    .tdLetterSetup-Span .divLabel-Span {
        float: left;
        width: 15%;
        text-align: right;
        margin-right: 1%;
        font-size: 11px;
    }

    .divInput-Span input {
        float: left;
        width: 82%;
        font-size: 11px;
    }

    .divInput-Span textarea {
        float: left;
        width: 80%;
        font-size: 11px;
        height: 380px;
    }

    .lblAlign {
        padding-left: 5px;
        text-align: left;
    }

    #dtIssueDate, #dtExpireDate {
        width: 190px;
    }
    .EnglishFont {
        font-family: "Arial, Helvetica, sans-serif";
    }
    .BanglaFont {
        font-family: "Arial, Helvetica, sans-serif";
    }
</style>


<script type="text/javascript">
    var _sBaseAddress = "";
    var _oLetterSetup = null;

    $(document).ready(function() {
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oLetterSetup = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        document.getElementById("chkIsEnglish").checked = true;

        $('#divPadSetting').hide();
        $("#txtName").val(_oLetterSetup.Name);
        $("#txtBody").val(_oLetterSetup.Body);

        $("#txtPageSize").val(_oLetterSetup.PageSize);
        $("#txtMarginTop").val(_oLetterSetup.MarginTop);
        $("#txtMarginBottom").val(_oLetterSetup.MarginBottom);
        $("#txtMarginLeft").val(_oLetterSetup.MarginLeft);
        $("#txtMarginRight").val(_oLetterSetup.MarginRight);
        $("#txtHeaderName").val(_oLetterSetup.HeaderName);
        $("#txtHeaderFontSize").val(_oLetterSetup.HeaderFontSize);
        $("#cboHeaderTextAlign").val(_oLetterSetup.HeaderTextAlign);
        if(_oLetterSetup.IsPadFormat)
        {
            $('#chkIsPad').prop('checked', true);
        }
        else {
            $('#chkIsPad').prop('checked', false);
        }
        if($('#chkIsEnglish').is(":checked")== true)
        {
            $('#divPadSetting').show();
        }else{
            $('#divPadSetting').hide();
        }

        if(_oLetterSetup.IsEnglish)
        {
            $('#chkIsEnglish').prop('checked', true);
            $('#chkIsBangla').prop('checked', false);
        }
        else {
            $('#chkIsEnglish').prop('checked', false);
            $('#chkIsBangla').prop('checked', true);
        }
        $("#txtRemark").val(_oLetterSetup.Remark);
        ChangeFont();
    });

    $('#chkIsEnglish').click(function (e)
    {
        if($('#chkIsEnglish').is(":checked")== true)
        {
            $('#chkIsBangla').prop('checked', false);
        }
        else
        {
            $('#chkIsEnglish').prop('checked', false);
            $('#chkIsBangla').prop('checked', false);
        }
    });
    $('#chkIsPad').click(function (e)
    {
        if($('#chkIsPad').is(":checked")== true && $('#chkIsEnglish').is(":checked")== true)
        {
            $('#divPadSetting').show();
        }
        else
        {
            $('#divPadSetting').hide();
        }
    });

    $('#chkIsBangla').click(function (e)
    {
        if($('#chkIsBangla').is(":checked")== true)
        {
            $('#chkIsEnglish').prop('checked', false);
        }
        else
        {
            $('#chkIsEnglish').prop('checked', false);
            $('#chkIsBangla').prop('checked', false);
        }
    });
    function addComponent(component) {
        var cursorPos = $('#txtBody').prop('selectionStart');
        var v = $('#txtBody').val();
        var textBefore = v.substring(0,  cursorPos);
        var textAfter  = v.substring(cursorPos, v.length);
        $('#txtBody').val(textBefore + '@@' + component + textAfter);
        //$('#txtBody').focus();

        //var bodyText = $('#txtBody').val();
        //bodyText = bodyText + '@@';
        //bodyText = bodyText + component + ' '
        ////document.getElementById("txtBody").innerText = bodyText;
        //$('#txtBody').val(bodyText);
        //$('#txtBody').focus();
    }

    function ChangeFont ()
    {
        if ($('#chkIsEnglish').is(':checked')) {
            $('#txtBody, #txtHeaderName').css("font-family", "Arial, Helvetica, sans-serif");            
        }

        if ($('#chkIsBangla').is(':checked')) {            
            $('#txtBody, #txtHeaderName').css("font-family", "SutonnyMJ");
        }
    }

    function RefreshObject() {

        var oSetup= {
            LSID:(_oLetterSetup != null) ? _oLetterSetup.LSID : 0,
            Name : $("#txtName").val(),
            HeaderName : $("#txtHeaderName").val(),
            HeaderFontSize : parseInt($("#txtHeaderFontSize").val()),
            HeaderTextAlign : parseInt($("#cboHeaderTextAlign").val()),
            Body : $("#txtBody").val(),
            Remark : $("#txtRemark").val(),
            IsEnglish : $("#chkIsEnglish").is(':checked'),
            IsPadFormat:$("#chkIsPad").is(':checked'),
            PageSize : $("#txtPageSize").val(),
            MarginTop : $("#txtMarginTop").val(),
            MarginBottom : $("#txtMarginBottom").val(),
            MarginLeft : $("#txtMarginLeft").val(),
            MarginRight : $("#txtMarginRight").val()
        };
        return oSetup;
    }

    $("#btnSaveLetterSetup").click(function(){
        if($("#txtName").val() == "" || $("#txtName").val() == null) {
            alert("Letter name must needed.");
            return;
        }
        debugger;
        var oSetup=RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/LetterSetup/LetterSetup_IU",
            traditional: true,
            data:  JSON.stringify(oSetup),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oLSetup = jQuery.parseJSON(data);
                if (oLSetup.ErrorMessage == '' || oLSetup.ErrorMessage == null)
                {
                    if(oLSetup.LSID>0)
                    {
                        alert("Data Save Successfully");
                        window.location.href = sessionStorage.getItem("BackLink");

                    }
                    else
                    {
                        alert("Invalid Operation!");
                    }
                }
                else
                {
                    alert(oLSetup.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(xhr+'~' +status+'~'+error);
            }
        });
    });

    $('#btnCloseLetterSetup').click(function(e){
        window.location.href = sessionStorage.getItem("BackLink");
    });
    /*---------------End---------------*/

</script>
