@{
    ViewBag.Title = "Letter Setup";
}

@model IEnumerable<ESimSol.BusinessObjects.LetterSetupEmployee>
    <head>
        <title></title>

    </head>
    <body>
        <div class="menuMainCollectionTable">
            <table id="tblLetterSetupEmployee" title="Letter Setup" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarLetterSetupEmployee">
                <thead>
                    <tr>
                        <th field="EmployeeCode" width="20%">EmployeeCode</th>
                        <th field="EmployeeName" width="20%">EmployeeName</th>
                        <th field="LetterName" width="20%">LetterName</th>
                        <th field="ApproveByName" width="20%">ApproveBy</th>
                        <th field="ApproveDateInString" width="20%">ApproveDate</th>
                    </tr>
                </thead>
            </table>
            <div id="toolbarLetterSetupEmployee">                
                <input id="chkDate" type="checkbox" />&nbsp;
                <input id="dtDate" type="text" style="width: 150px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                <input id="txtEmployee_Search" type="text" style="width: 200px;" placeholder="Type code or name then enter" />
                <input id="txtCEmployee" type="button" value="C" />
                <select id="cboLetterSetup" style="width:200px;"></select>
                &nbsp;&nbsp;<input id="chkApproved" type="checkbox" />Approved &nbsp;
                <a id="btnSrc" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="Search()">Search</a>
                <div>
                    <a id="btnNew" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>
                    <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                    <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                    <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Approve</a>
                    <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">View</a>
                    <a id="btnPrintXL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">PrintXL</a>
                    @*<a id="btnPrintPad" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print Pad</a>*@
                    <a id="btnPrintPadBangla" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print Pad</a>
                </div>
            </div>
        </div>


        <div id="winConfirmation" class="easyui-window winstyle" title="Location Picker" style="width:400px; height:200px" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <div style="font-family:Tahoma">
                <fieldset>
                    <legend style="font-weight:bold"></legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                        <tr>
                            <td style="width:30%; text-align:right">
                                <input type="checkbox" id="chkCompany" />
                            </td>
                            <td style="width:70%">
                                Do you want to print company information???
                            </td>
                        </tr>
                        <tr>
                            <td style="width:30%; text-align:right">
                                <input type="checkbox" id="chkTitle" />
                            </td>
                            <td style="width:70%">
                                Do you want to print title???
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <fieldset>
                    <legend style="font-weight:bold"> Action : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                        <tr>
                            <td style="width:400px; text-align:right"></td>

                            <td style="width:50px">
                                <a id="btnConfOk" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
                            </td>
                            <td style="width:50px">
                                <a id="btnConfClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>

    </body>
    <style type="text/css">
    </style>

    <script type="text/javascript">
        var _sBaseAddress = "";
        var _oLetterSetupEmployees = [];
        var _oLetterSetups = [];
        var _nEmployee_Search_EmpID=0;
        var _IsLeaveAppEmp=false;

        $(document).ready(function() {
            debugger;
            _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
            _oLetterSetupEmployees = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
      
            _oLetterSetups= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.LetterSetups));
            
            DynamicRefreshList(_oLetterSetupEmployees, "tblLetterSetupEmployee");

            $('#dtDate').datebox('setValue',icsdateformat(new Date()));
            $("#cboLetterSetup").icsLoadCombo({
                List: _oLetterSetups,
                OptionValue: "LSID",
                DisplayText: "Name"
            });
            
            $('#dtDate').datebox({disabled:true});
            $('#dtDate').datebox('setValue',icsdateformat(new Date()));

        });

        $('#txtCEmployee').click(function (e)
        {
            _nEmployee_Search_EmpID=0;
            $('#txtEmployee_Search').val("");
        });

        $('#txtEmployee_Search').keypress(function (e)
        {
            var code = (e.keyCode ? e.keyCode : e.which);
            if (code == 13)//Enter key-13
            {
                var sCodeName = $.trim($("#txtEmployee_Search").val());
                if(sCodeName==''){alert("Please enter name or code to search.");$("#txtEmployee_Search").focus(); return;}
                SearchEmployeeByText(sCodeName, false, false, true);
            }
        });
        function SearchEmployeeByText(sEmpNameCode,bIsApprovalEmployee,bIsEmployeeSearch,bIsEmployeeSearch_FromCollection){
            var oEmployee = { Params: sEmpNameCode +'~'+ 0};
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oEmployee,
                ControllerName: "Employee",
                ActionName: "GetsByEmpCode",
                IsWinClose: false
            };
            $.icsDataGets(obj, function (response) {

                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].EmployeeID > 0) {

                        var tblColums = [];var oColumn = { field: "Code", title: "Code", width: 70, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "Name", title: "Name", width: 120, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "DepartmentName", title: "Department", width: 100, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "DesignationName", title: "Designation", width: 100, align: "left" };tblColums.push(oColumn);
                        var oPickerParam = {
                            winid: 'winEmployeePickerTextSearch',
                            winclass:'clsEmployeePickerTextSearch',
                            winwidth: 455,
                            winheight: 460,
                            tableid: 'tblEmployeePickerTextSearch',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: false,
                            searchingbyfieldName:'Name',
                            windowTittle: 'Employee list'
                        };

                        $.icsPicker(oPickerParam);
                        IntializeEmployeePickerTextSearch(oPickerParam, bIsApprovalEmployee,bIsEmployeeSearch,bIsEmployeeSearch_FromCollection);//multiplereturn, winclassName
                        $('#tblEmployeePickerTextSearch').datagrid('selectRow', 0);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }
            });
        }

        function IntializeEmployeePickerTextSearch(oPickerobj, bIsApprovalEmployee,bIsEmployeeSearch,bIsEmployeeSearch_FromCollection)
        {

            $("#" + oPickerobj.winid).find("#btnOk").click(function () {

                var oreturnObj = $('#'+oPickerobj.tableid).datagrid('getSelected');
                if(oreturnObj == null || oreturnObj.EmployeeID<=0){  alert("please select an employee."); return false;}

                $("#"+oPickerobj.winid).icsWindow("close");
                $("#" + oPickerobj.winid).remove();
                if (oPickerobj.winid == 'winEmployeePickerTextSearch')
                {
                    if(bIsEmployeeSearch){
                        _nResponsiblePersonID=oreturnObj.EmployeeID;
                        $('#txtResponsiblePerson').val(oreturnObj.NameCode);
                    }
                    else{
                        if(bIsApprovalEmployee)
                        {
                            if (oreturnObj != null && oreturnObj.EmployeeID > 0)
                            {
                                _nApprovalEmpID=oreturnObj.EmployeeID;
                                $('#txtRequestToApproval').val(oreturnObj.NameCode);
                                $('#cboRequestToApproval').val(0);
                                $('#cboRequestToApproval').prop('disabled',true);
                            }
                        }
                        else
                        {
                            if (oreturnObj != null && oreturnObj.EmployeeID > 0)
                            {
                                PickEmployee(oreturnObj);
                            }
                        }

                        if(bIsEmployeeSearch_FromCollection)
                        {
                            if (oreturnObj != null && oreturnObj.EmployeeID > 0)
                            {
                                _nEmployee_Search_EmpID=oreturnObj.EmployeeID;
                                $('#txtEmployee_Search').val(oreturnObj.NameCode);
                            }
                        }
                    }

                }
            });

            $(document).find('.' +oPickerobj.winclass).keydown(function (e) {
                if (e.which == 13)//enter=13
                {
                    var oreturnObj = $('#'+oPickerobj.tableid).datagrid('getSelected');
                    if(oreturnObj == null || oreturnObj.EmployeeID<=0){  alert("please select an employee."); return false;}

                    $("#"+oPickerobj.winid).icsWindow("close");
                    $("#" + oPickerobj.winid).remove();

                    if (oPickerobj.winclass == 'clsEmployeePickerTextSearch')
                    {
                        if(bIsEmployeeSearch){
                            _nResponsiblePersonID=oreturnObj.EmployeeID;
                            $('#txtResponsiblePerson').val(oreturnObj.NameCode);
                            $("#txtResponsiblePerson").select.focus();
                        }
                        else
                        {
                            if(bIsApprovalEmployee)
                            {
                                if (oreturnObj != null && oreturnObj.EmployeeID > 0)
                                {
                                    _nApprovalEmpID=oreturnObj.EmployeeID;
                                    $('#txtRequestToApproval').val(oreturnObj.NameCode);
                                    $('#cboRequestToApproval').val(0);
                                    $('#cboRequestToApproval').prop('disabled',true);
                                }
                            }
                            else
                            {
                                if (oreturnObj != null && oreturnObj.EmployeeID > 0)
                                {
                                    PickEmployee(oreturnObj);
                                }
                            }
                            if(bIsEmployeeSearch_FromCollection)
                            {
                                if (oreturnObj != null && oreturnObj.EmployeeID > 0)
                                {
                                    _nEmployee_Search_EmpID=oreturnObj.EmployeeID;
                                    $('#txtEmployee_Search').val(oreturnObj.NameCode);
                                }
                            }
                        }
                    }
                }
            });
        }
        function PickEmployee(oEmployee){
            _oEmployee=oEmployee;
            if(_IsLeaveAppEmp){
                $('#txtEmployeeNameLAPicker').val(_oEmployee.Name+","+_oEmployee.BUName+","+_oEmployee.LocationName+","+_oEmployee.DepartmentName+","+_oEmployee.DesignationName);
                $("#btnDepartmentPickerLAPicker,#btnResetDepartmentPickerLAPicker").prop("disabled", true);
                $('#txtDepartmentLAPicker').val(_oEmployee.DepartmentName);
                _nDeptID= _oEmployee.DepartmentID;
            }
            _oEmployeeLeaveLedgers=[];

            if(_oEmployee.EmployeeID>0){
                var oEmployeeLeaveLedger={
                    EmployeeID:_oEmployee.EmployeeID
                }
                var obj =
                {
                    BaseAddress: _sBaseAddress,
                    Object: oEmployeeLeaveLedger,
                    ControllerName: "EmployeeLeaveLedger",
                    ActionName: "Gets",
                    IsWinClose: false
                };

                $.icsDataGets(obj, function (response) {
                    $('#txtEmployee').val(_oEmployee.Name+","+_oEmployee.BUName+","+_oEmployee.LocationName+","+_oEmployee.DepartmentName+","+_oEmployee.DesignationName);
                    $("#txtEmployee").focus();
                    if (response.status && response.objs != null)
                    {
                        if (response.objs.length>0 && response.objs[0].EmpLeaveLedgerID > 0) {
                            EmployeeLeaveLedger(response.objs);
                        }
                        else{
                            $("#cboLeaveLedger").empty();
                        }
                    }
                });
            }
        }

        $("#chkDate").click(function () {
            if($("#chkDate").is(':checked'))
            {
                $('#dtDate').datebox({disabled:false});
                $('#dtDate').datebox('setValue',icsdateformat(new Date()));
            }
            else
            {
                $('#dtDate').datebox({disabled:true});
                $('#dtDate').datebox('setValue',icsdateformat(new Date()));
            }
        });

        function Search()
        {
            debugger;
            
            var IsCheckDate = $("#chkDate").is(":checked");
            var EmployeeID = _nEmployee_Search_EmpID;
            var LetterType = $('#cboLetterSetup').val();
            var sDate = $('#dtDate').datebox('getValue');
            var IsApproved = $("#chkApproved").is(":checked");
            
            if(IsCheckDate == false && EmployeeID == 0 && LetterType <= 0 && IsApproved == false) {
                alert("Please select at least one criteria");
                return;
            }


            $.ajax({
                type: "GET",
                dataType: "json",
                url: _sBaseAddress + "/LetterSetup/SearchEmployeeLetter",
                data:{ 
                    nIsCheckDate:IsCheckDate,
                    sDate: sDate ,
                    nEmployeeID:EmployeeID,
                    nLetterType:LetterType,
                    bIsApproved:IsApproved
                },
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var oLetters =[];
                    oLetters = jQuery.parseJSON(data);
                    if(oLetters.length>0)
                    {
                        DynamicRefreshList([], "tblLetterSetupEmployee");
                        for (var j = 0; j < oLetters.length; j++)
                        {
                            $('#tblLetterSetupEmployee').datagrid('appendRow',oLetters[j]);
                        }
                    }
                    else
                    {
                        alert("Data not found by this date!!");
                        DynamicRefreshList([], "tblLetterSetupEmployee");
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }


        $("#btnNew").click(function () {
            sessionStorage.setItem("LetterSetupEmployeeHeader", "Add Letter Template");
            sessionStorage.setItem('Action','Add')
            sessionStorage.setItem("BackLink", window.location.href);
            window.location.href = _sBaseAddress+ "/LetterSetup/ViewLetterSetupEmployee?id=0";
        });


        $('#btnEdit').click(function (e) {
            debugger;
            var oSetUp= $('#tblLetterSetupEmployee').datagrid('getSelected');
            if(oSetUp==null || oSetUp.LSEID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            if(oSetUp.ApproveBy>0)
            {
                alert("Already Approved!");
                return;
            }
            var SelectedRowIndex=$('#tblLetterSetupEmployee').datagrid('getRowIndex',oSetUp);
            var oSetups= $('#tblLetterSetupEmployee').datagrid('getRows');
            sessionStorage.setItem("LetterSetupEmployees", JSON.stringify(oSetups));
            sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
            sessionStorage.setItem("LetterSetupEmployeeHeader", "Edit Letter Setup");
            sessionStorage.setItem('Action','Edit')
            sessionStorage.setItem("BackLink", window.location.href);
            window.location.href = _sBaseAddress+  "/LetterSetup/ViewLetterSetupEmployee?id="+oSetUp.LSEID;
        });

        
        $("#btnDelete").click(function(){
            var oSetup= $('#tblLetterSetupEmployee').datagrid('getSelected');
            if(oSetup==null || oSetup.LSEID<=0)
            {
                alert("Invalid Field!!! please select a valid Field!");
                return false;
            }
            if (!confirm("Confirm to Delete?")) return ;
            var SelectedRowIndex=$('#tblLetterSetupEmployee').datagrid('getRowIndex',oSetup);
            if (oSetup.LSID > 0)
            {
                $.ajax
                ({
                    type: "POST",
                    dataType: "json",
                    url : _sBaseAddress+  "/LetterSetup/LetterSetupEmployee_Delete",
                    data: JSON.stringify(oSetup),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        var feedbackmessage = jQuery.parseJSON(data);
                        if (feedbackmessage.toLowerCase() == "deleted")
                        {
                            alert("Delete sucessfully");
                            $('#tblLetterSetupEmployee').datagrid('deleteRow',SelectedRowIndex);
                        }
                        else
                        {
                            alert(feedbackmessage);
                        }
                    },
                    error: function (xhr, status, error)
                    {
                        alert(error);
                    }
                });
            }
        });
        $("#btnApprove").click(function () {

            var oLSE = $("#tblLetterSetupEmployee").datagrid("getSelected");
            if (oLSE == null || oLSE.LSEID <= 0)
            {
                alert("Invalid Field!!! please select a valid Field!");
                return false;
            }
            var SelectedRowIndex = $('#tblLetterSetupEmployee').datagrid('getRowIndex', oLSE);
            if (!confirm("Confirm to Approve?")) return ;

            $.ajax({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+"/LetterSetup/ApproveLSE",
                traditional: true,
                data:  JSON.stringify(oLSE),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    var oLetter= jQuery.parseJSON(data);
                    if (oLetter.LSEID>0)
                    {

                        alert("Approved Succesfully!!");
                        if(oLetter.LSEID>0)
                        {
                            $('#tblLetterSetupEmployee').datagrid('updateRow', { index: SelectedRowIndex, row: oLetter });

                        }

                    }
                    else
                    {
                        alert(oLetter.ErrorMessage);

                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });



        });
        $("#btnView").click(function(){
            debugger;
            var oSetUp= $('#tblLetterSetupEmployee').datagrid('getSelected');
            if(oSetUp==null || oSetUp.LSEID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            if(oSetUp.ApproveBy>0)
            {
                alert("Already Approved!");
                return;
            }
            var SelectedRowIndex=$('#tblLetterSetupEmployee').datagrid('getRowIndex',oSetUp);
            var oEmpLetters= $('#tblLetterSetupEmployee').datagrid('getRows');
            sessionStorage.setItem("LetterSetupEmployees", JSON.stringify(oEmpLetters));
            sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
            sessionStorage.setItem("LetterSetupEmployeeHeader", "View LetterSetupEmployee");
            sessionStorage.setItem("BackLink", window.location.href);
            window.location.href = _sBaseAddress+  "/LetterSetup/ViewLetterSetupEmployee?id="+oSetUp.LSEID;
        });
        $('#btnPrintXL').click(function(e){
            
            $("#winConfirmation").icsWindow("open", "Confirmation");

        });
        
        $('#btnConfOk').click(function(e){
            debugger;
            var oLSE= $('#tblLetterSetupEmployee').datagrid('getSelected');
            if(oLSE==null || oLSE.LSEID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            var S=oLSE.LSEID;
            var chkCompany = false;
            var chkTitle = false;

            if($("#chkCompany").is(":checked"))
            {
                chkCompany=true;
            }
            if($("#chkTitle").is(":checked"))
            {
                chkTitle=true;
            }
            if(S==0 || S == null)
            {
                return;
            }
            else
            {
                window.open(_sBaseAddress+ "/LetterSetup/EmployeeLetterExcel?nLSEID="+S+"&bIsCompany="+chkCompany+"&bIsTitle="+chkTitle);
                //$("#winConfirmation").icsWindow('close');
            }
        });
        $('#btnConfClose').click(function(e){
            debugger;
            $('#chkCompany').prop('checked', false);
            $('#chkTitle').prop('checked', false);
            $("#winConfirmation").icsWindow('close');
        });



        $('#btnPrintPad').click(function(e){
            var oLSE= $('#tblLetterSetupEmployee').datagrid('getSelected');
            if(oLSE==null || oLSE.LSEID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            var S=oLSE.LSEID;
            if(S==0 || S == null)
            {
                return;
            }
            else
            {
                window.open(_sBaseAddress+ "/LetterSetup/EmployeeLetterPad?nLSEID="+S );
            }
        });
        $('#btnPrintPadBangla').click(function(e){
            var oLSE= $('#tblLetterSetupEmployee').datagrid('getSelected');
            if(oLSE==null || oLSE.LSEID<=0)
            {
                alert("Please select a item from list!");
                return;
            }
            var S=oLSE.LSEID;
            if(S==0 || S == null)
            {
                return;
            }
            else
            {
                var tsv = ((new Date()).getTime()) / 1000;
                window.open(_sBaseAddress+ "/LetterSetup/PrintLetter?nLetterSetupID=0&nLetterSetupEmployeeID="+S+"&isBangla=true"+"&ts="+tsv);
            }
        });
        /*---------------End---------------*/

    </script>
