@model IEnumerable<ESimSol.BusinessObjects.BlockMachineMapping>
@{
    ViewBag.Title = "BlockMachineMapping List";
}
<div style="margin-left: 0px; height: 550px">
    <table id="tblBlockMachineMapping" title="Block Machine Mapping List" class="easyui-datagrid" style="width: 100%;
        height: 548px;" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true"
        autorowheight="false" toolbar="#toolbar">
        <thead>
            <tr>
                <th field="ProductionProcessInString" width="210" align="left">
                    Production Process
                </th>
                <th field="DepartmentName" width="250" align="left">
                    Department Name
                </th>
                <th field="BlockName" width="150" align="left">
                    Block Name
                </th>
                <th field="ActivityStatus" width="150" align="left">
                    Activity
                </th>
              
            </tr>
        </thead>
    </table>
    ​
    <div id="toolbar" style =" height:50px;">
        @Html.DropDownList("cboProductionProcess", new SelectList(Enum.GetValues(typeof(ESimSol.BusinessObjects.EnumProductionProcess))), new { id = "cboProductionProcess", style = "width: 120px;" })
        Department : <input  id="txtDepartment" type="text" style="width:120px;" disabled="disabled" />
        <input id="btnDepartment" type="button" onclick="DepartmentPicker()" value="P"/>
        Block Name : <input  id="txtBlockName" type="text" style="width:120px;" />
        @*M No. : <input  id="txtMNo" type="text" style="width:120px;" />*@
        <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" >Search</a><br />
        <a id="btnNew" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" >New</a>
        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true">Edit</a>
        <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" >Delete</a>
        <a id="btnActivity" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="Activity()">Activity</a>
        <a id="btnSupervisorAssign" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Supervisor Assign</a>
    </div>
</div>
<script type="text/javascript">
var _oBlockMachineMappings=[];
var _sBaseAddress="";
var _sMenuManagement ="";
var _nDepartmentID = 0;

$(document).ready(function ()
{
    _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));  
    _oBlockMachineMappings =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 
    
});

function RefresList(data)
{
    data={"total":""+data.length+"","rows":data};
    $('#tblBlockMachineMapping').datagrid('loadData',data);
}

function DepartmentPicker() 
{
        
    var oParameter = new Object();
    oParameter.MultipleItemReturn = false;
    var url = _sBaseAddress + "/Department/DepartmentPickerWithCheckBox?id=0";
    var nLeft=(window.screen.width/2)-(550/2);
    var nHeight=(window.screen.height/2)-(470/2);
    var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
    //var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:470px;dialogWidth:550px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
    if (oReturnObject != null) 
    {
        $("#txtDepartment")[0].value = oReturnObject.text;
        _nDepartmentID= oReturnObject.id;
    }
}

$('#btnNew').click(function (e)
{

    var oParameter = new Object();
    oParameter.Name = "New Block Machine Mapping";
    var tsv = ((new Date()).getTime()) / 1000;
    var url = _sBaseAddress + "/BlockMachineMapping/View_BlockMachineMapping?nId=0&ts=" + tsv;
    var nLeft=(window.screen.width/2)-(500/2);
    var nHeight=(window.screen.height/2)-(400/2);
    var oBlockMachineMapping = window.showModalDialog(url, oParameter, 'dialogHeight:400px;dialogWidth:500px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
    //var oBlockMachineMapping = window.showModalDialog(url, oParameter, 'dialogHeight:400px;dialogWidth:500px;dialogLeft:450;dialogRight:150;dialogTop:150;center:yes;resizable:no;status:no;scroll:no');
    
    if (oBlockMachineMapping != null)
    {
        if (oBlockMachineMapping.BMMID > 0)
        {
            var oBlockMachineMappings = $('#tblBlockMachineMapping').datagrid('getRows');
            var nIndex = oBlockMachineMappings.length;
            $('#tblBlockMachineMapping').datagrid('appendRow', oBlockMachineMapping);
            $('#tblBlockMachineMapping').datagrid('selectRow', nIndex);
        }
    }
});

$('#btnEdit').click(function (e)
{
    var oBlockMachineMapping = $('#tblBlockMachineMapping').datagrid('getSelected');
    if (oBlockMachineMapping == null || oBlockMachineMapping.BMMID <= 0) 
    {
        alert("Please select an item from list!");
        return;
    }
    var SelectedRowIndex = $('#tblBlockMachineMapping').datagrid('getRowIndex', oBlockMachineMapping);
    var oParameter = new Object();
    oParameter.Name = "Edit Block Machine Mapping";
    var tsv = ((new Date()).getTime()) / 1000;
    var url = _sBaseAddress + "/BlockMachineMapping/View_BlockMachineMapping?nId=" + oBlockMachineMapping.BMMID + "&ts=" + tsv;
    var nLeft=(window.screen.width/2)-(500/2);
    var nHeight=(window.screen.height/2)-(400/2);
    var oBlockMachineMapping = window.showModalDialog(url, oParameter, 'dialogHeight:400px;dialogWidth:500px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
    //var oBlockMachineMapping = window.showModalDialog(url, oParameter, 'dialogHeight:400px;dialogWidth:500px;dialogLeft:450;dialogRight:150;dialogTop:150;center:yes;resizable:no;status:no;scroll:no');

    if (oBlockMachineMapping != null) 
    {
        if (oBlockMachineMapping.BMMID > 0) 
        {
            $('#tblBlockMachineMapping').datagrid('updateRow', { index: SelectedRowIndex, row: oBlockMachineMapping });
        }
    }

});

$('#btnDelete').click(function (e)
{
    
    var oBlockMachineMapping = $('#tblBlockMachineMapping').datagrid('getSelected');
    if (oBlockMachineMapping == null || oBlockMachineMapping.BMMID <= 0)
    {
        alert("Please select an item from the list!");
        return false;
    }
   
    if (!confirm("Confirm to Delete?")) return;
    var SelectedRowIndex = $('#tblBlockMachineMapping').datagrid('getRowIndex', oBlockMachineMapping);
    var tsv = ((new Date()).getTime()) / 1000;
    if (oBlockMachineMapping.BMMID > 0)
    {
        $.ajax({
                type: "GET",
                dataType: "json",
                url: _sBaseAddress + "/BlockMachineMapping/BlockMachineMapping_Delete",
                data: { nId: oBlockMachineMapping.BMMID,ts: tsv },
                contentType: "application/json; charset=utf-8",
                success: function(data) 
                {
                    var feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "")
                    {
                        alert("Delete sucessfully");
                        $('#tblBlockMachineMapping').datagrid('deleteRow', SelectedRowIndex);
                    } 
                    else 
                    {
                        alert(feedbackmessage);
                    }
                 },
                 error: function(xhr, status, error)
                 {
                    alert(error);
                 }
              });
    }    

});

$('#btnSearch').click(function (e)
{

    if(document.getElementById("cboProductionProcess").selectedIndex == 0 && _nDepartmentID ==0 && document.getElementById("txtBlockName").value == "" )
    {
        alert("Please select at least one searching criteria !!");
        return;
    }
    oBlockMachineMapping = {
                            ProductionProcessInt : document.getElementById("cboProductionProcess").selectedIndex,
                            DepartmentID : _nDepartmentID,
                            BlockName : document.getElementById("txtBlockName").value
                            
                         };
                           
    $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/BlockMachineMapping/BlockMachineMapping_Search",
            traditional: true,
            data: JSON.stringify(oBlockMachineMapping),
            contentType: "application/json; charset=utf-8",
            
            success: function(data)
            {
                var oBlockMachineMappings=[];
                
                oBlockMachineMappings = jQuery.parseJSON(data);
                
                if (oBlockMachineMappings.length>0 && oBlockMachineMappings[0].ErrorMessage=="") 
                {
                
                    RefresList(oBlockMachineMappings);   
                } 
                else 
                {
                    alert(oBlockMachineMappings[0].ErrorMessage);
                    oBlockMachineMappings=[];
                    RefresList(oBlockMachineMappings); 
                }
            },
            error: function(xhr, status, error)
            {
                alert(error);
            }    
         });

});
    
function Activity()
{
    var Act="";
    var oBlockMachineMapping = $('#tblBlockMachineMapping').datagrid('getSelected');
    if (oBlockMachineMapping == null || oBlockMachineMapping.BMMID <= 0)
    {
        alert("Please select an item from list!");
        return;
    }
    if(oBlockMachineMapping.IsActive==false)
    {
        Act=true;
         
    }
    if(oBlockMachineMapping.IsActive==true)
    {
        Act=false;
         
    }
    oBlockMachineMapping.IsActive=Act;

    var SelectedRowIndex = $('#tblBlockMachineMapping').datagrid('getRowIndex', oBlockMachineMapping);
    $.ajax({
        type: "POST",
        dataType: "json",
        url: _sBaseAddress + "/BlockMachineMapping/BlockMachineMapping_Activity",
        traditional: true,
        data: JSON.stringify(oBlockMachineMapping),
        contentType: "application/json; charset=utf-8",

        success: function(data) {
            debugger;
            oBlockMachineMapping = jQuery.parseJSON(data);
            if (oBlockMachineMapping.BMMID > 0)
            {
                
                if(oBlockMachineMapping.IsActive==true)
                {
                    msg="Activated";
                }
                if(oBlockMachineMapping.IsActive==false)
                {
                    msg="InActivated";
                }
                alert(msg+" Successfully!");
                $('#tblBlockMachineMapping').datagrid('updateRow', { index: SelectedRowIndex, row: oBlockMachineMapping });
            
            } 
            else
            {
                alert(oBlockMachineMapping.ErrorMessage);
            }
        }
         
    });

}

$('#btnSupervisorAssign').click(function (e)
{
    var oBlockMachineMapping = $('#tblBlockMachineMapping').datagrid('getSelected');
    if (oBlockMachineMapping == null || oBlockMachineMapping.BMMID <= 0)
    {
        alert("Please select an item from list!");
        return;
    }
    if (oBlockMachineMapping.IsActive == false)
    {
        alert("Please select an active block!");
        return;
    }
    var oParameter = new Object();
    oParameter.BlockMachineMapping = oBlockMachineMapping;
    var tsv = ((new Date()).getTime()) / 1000;
    var url = _sBaseAddress + "/BlockMachineMapping/View_SupervisorAssign?nId="+oBlockMachineMapping.BMMID+"&ts=" + tsv;
    var nLeft=(window.screen.width/2)-(465/2);
    var nHeight=(window.screen.height/2)-(375/2);
    var oBlockMachineMapping = window.showModalDialog(url, oParameter, 'dialogHeight:375px;dialogWidth:465px;dialogLeft:'+nLeft+';dialogTop:'+nHeight+';center:yes;resizable:no;status:no;scroll:yes');
    //var oBlockMachineMapping = window.showModalDialog(url, oParameter, 'dialogHeight:375px;dialogWidth:465px;dialogLeft:450;dialogRight:150;dialogTop:160;center:yes;resizable:no;status:no;scroll:no');
    
});
</script>
