@{
    ViewBag.Title = "Import Payment Request List";
}
@model IEnumerable<ESimSol.BusinessObjects.ImportPaymentRequest>
<div style="margin-left: 0px; height: 100%; width:100%">
    <table id="tblImportPaymentRequests" title="ImportPaymentRequest List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" , autorowheight="false" toolbar="#toolbar">
        <thead>
            <tr>
                <th field="RefNo" width="130">Ref No</th>
                <th field="LetterIssueDateInString" width="100">Issue Date</th>
                <th field="BankBranchName" width="200">Bank & Branch Name</th>
                <th field="AccountNo" width="100">Account No</th>
                <th field="LiabilityTypeST" width="80">Liability Type</th>
                <th field="RequestByName" width="100">Retuest By</th>
                <th field="ApprovedByName" width="120">Approved By</th>            
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <input type="text" id="txtSearchbyCode" placeholder="Search by Invoice No/LC No" style="width:150px" /> 
        <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">AdvSearch</a>
        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>
        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
        <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>    
        <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
        <a id="btnWaitForApproved" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">WaitingforPrint</a>    
        <a id="btnPrintPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
        <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Print</a>
    </div>
</div>

<div id="winAdvanceSearch" class="easyui-window" title="Advance Search" style="width:540px;height:340px;padding:2px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
    <div>
        <fieldset>
            <legend style="font-weight:bold"> Searching Criteria : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold">
                <tr>
                    <td style="width:170px; text-align:right">
                        Ref No :
                    </td>
                    <td style="width:370px">
                        <input type="text" style="width: 370px;" id="txtRefNo" />
                    </td>
                </tr>
                <tr>
                    <td style="width:170px; text-align:right">
                        Invocie No :
                    </td>
                    <td style="width:370px">
                        <input type="text" style="width: 370px;" id="txtInvocieNo" />
                    </td>
                </tr>
                <tr>
                    <td style="width:170px; text-align:right">
                        LC No :
                    </td>
                    <td style="width:370px">
                        <input type="text" style="width: 370px;" id="txtLCNo" />
                    </td>
                </tr>               
                <tr>
                    <td style="width:170px; text-align:right">
                        Approved By :
                    </td>
                    <td style="width:370px">
                        <select id="cboApprovedBy" style="width:370px"></select>
                    </td>
                </tr>
                <tr>
                    <td style="width:170px; text-align:right">
                        Bank Account :
                    </td>
                    <td style="width:370px">
                        <select id="cboBankAccount" style="width:370px"></select>
                    </td>
                </tr>
                <tr>
                    <td style="width:170px; text-align:right">
                        Issue Date :
                    </td>
                    <td style="width:370px">
                        <table border="0" cellpadding="0" cellspacing="0" style="font-size: 12px">
                            <tr>
                                <td style="width: 120px; font-size: 12px; text-align: left">
                                    <select id="cboIssueDate" style="width:120px"></select>
                                </td>
                                <td style="width: 120px; font-size: 12px">
                                    <input id="txtIssueStartDate" type="text" style="width: 120px;" class="easyui-datebox" disabled="disabled" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                                <td style="width: 10px; font-size: 12px">
                                    To
                                </td>
                                <td style="width: 120px; font-size: 12px">
                                    <input id="txtIssueEndDate" type="text" style="width: 120px;" class="easyui-datebox" disabled="disabled" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>                
                <tr>
                    <td style="width:170px; text-align:right">
                        Remarks :
                    </td>
                    <td style="width:370px">
                        <input type="text" style="width: 370px;" id="txtRemarks" />
                    </td>
                </tr>
                <tr>
                    <td style="width:170px; text-align:right"></td>
                    <td style="width:370px">
                        <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                            <tr>
                                <td style="width:50%; text-align:left">
                                    <label> <input type="checkbox" id="chkApproved" /> Approved </label>
                                </td>
                                <td style="width:50%">
                                    <label> <input type="checkbox" id="chkUnApproved" /> Un-Approved </label>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
    <fieldset style="width:498px; vertical-align:top;">
        <legend style="font-weight:bold"> Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:500px">
            <tr>
                <td style="width:130px;text-align:right">
                    <a id="btnAdvSearchReset" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"> Reset</a>
                </td>
                <td style="width:408px;text-align:right;">
                    <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                    <a id="btnAdvSearchClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                </td>
            </tr>
        </table>
    </fieldset>
</div>


<script type="text/javascript">
    var _oImportPaymentRequests=[];
    $(document).ready(function () {
        _oImportPaymentRequests =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oApprovedUsers = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ApprovedUsers));
        var oCompareOperatorObjs = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperatorObjs));        
        var oBankAccounts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BankAccounts));

        $('#winAdvanceSearch').data('ApprovedUsers', oApprovedUsers);
        $('#winAdvanceSearch').data('CompareOperatorObjs', oCompareOperatorObjs);        
        $('#winAdvanceSearch').data('BankAccounts', oBankAccounts);        
        
        var oImportPaymentRequests =sessionStorage.getItem("ImportPaymentRequests");
        if(oImportPaymentRequests!=null )
        {
            oImportPaymentRequests = jQuery.parseJSON(oImportPaymentRequests);
        }
        else
        {
            oImportPaymentRequests = _oImportPaymentRequests;
        }
        RefreshList(oImportPaymentRequests);
    });

    $('#btnAdd').click(function(e){
        var tsv=((new Date()).getTime())/1000;
        var oImportPaymentRequests= $('#tblImportPaymentRequests').datagrid('getRows');
        sessionStorage.setItem("ImportPaymentRequests", JSON.stringify(oImportPaymentRequests));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("ImportPaymentRequestHeader", "Issue Payment request Letter");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem('BaseAddress') + "/ImportPaymentRequest/ViewImportPaymentRequest?id=0&buid=" +parseInt(sessionStorage.getItem('BUID'));
    });

    $('#btnEdit').click(function(e){
        var oImportPaymentRequest= $('#tblImportPaymentRequests').datagrid('getSelected');
        if(oImportPaymentRequest==null || oImportPaymentRequest.ImportPaymentRequestID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oImportPaymentRequest.ApprovedBy)!=0)
        {
            alert("Your selecte item alreay Approved!");
            return false;
        }
        var SelectedRowIndex=$('#tblImportPaymentRequests').datagrid('getRowIndex',oImportPaymentRequest);
        var tsv=((new Date()).getTime())/1000;
        var oImportPaymentRequests= $('#tblImportPaymentRequests').datagrid('getRows');
        sessionStorage.setItem("ImportPaymentRequests", JSON.stringify(oImportPaymentRequests));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ImportPaymentRequestHeader", "Edit Payment request Letter");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem('BaseAddress') + "/ImportPaymentRequest/ViewImportPaymentRequest?id=" + parseInt(oImportPaymentRequest.ImportPaymentRequestID) + "&buid="+parseInt(oImportPaymentRequest.BUID);
    });

    $('#btnView').click(function(e){
        var oImportPaymentRequest= $('#tblImportPaymentRequests').datagrid('getSelected');
        if(oImportPaymentRequest==null || oImportPaymentRequest.ImportPaymentRequestID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblImportPaymentRequests').datagrid('getRowIndex',oImportPaymentRequest);
        var tsv=((new Date()).getTime())/1000;
        var oImportPaymentRequests= $('#tblImportPaymentRequests').datagrid('getRows');
        sessionStorage.setItem("ImportPaymentRequests", JSON.stringify(oImportPaymentRequests));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ImportPaymentRequestHeader", "View Payment request Letter");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem('BaseAddress') + "/ImportPaymentRequest/ViewImportPaymentRequest?id=" + parseInt(oImportPaymentRequest.ImportPaymentRequestID) + "&buid="+parseInt(oImportPaymentRequest.BUID);
    });

    $('#btnDelete').click(function(e){
        var oImportPaymentRequest= $('#tblImportPaymentRequests').datagrid('getSelected');
        if(oImportPaymentRequest==null || oImportPaymentRequest.ImportPaymentRequestID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }

        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblImportPaymentRequests').datagrid('getRowIndex',oImportPaymentRequest);
        if (oImportPaymentRequest.ImportPaymentRequestID > 0)
        {
            $.ajax({
                type: "POST",
                dataType: "json",
                url :  sessionStorage.getItem('BaseAddress')+  "/ImportPaymentRequest/Delete",
                traditional: true,
                data:  JSON.stringify(oImportPaymentRequest),
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Data delete successfully")
                    {
                        alert("Delete sucessfully");
                        $('#tblImportPaymentRequests').datagrid('deleteRow',SelectedRowIndex);
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }
    });

    $('#btnPrintPreview').click(function(e){
        var oImportPaymentRequest= $('#tblImportPaymentRequests').datagrid('getSelected');
        if(oImportPaymentRequest==null || oImportPaymentRequest.ImportPaymentRequestID<=0)
        {
            alert("There is no Invoice Purchase. Please select Invoice Purchase!");
            return false;
        }
        window.open(sessionStorage.getItem('BaseAddress')+'/ImportPaymentRequest/PriviewImportPaymentRequest?id='+oImportPaymentRequest.ImportPaymentRequestID, "_blank");
    });

    $('#btnApprove').click(function(e){
        var oImportPaymentRequest= $('#tblImportPaymentRequests').datagrid('getSelected');
        if(oImportPaymentRequest==null || oImportPaymentRequest.ImportPaymentRequestID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }

        if(parseInt(oImportPaymentRequest.ApprovedBy)!=0)
        {
            alert("Your selecte item alreay Approved!");
            return false;
        }
        if (!confirm("Confirm to Print?")) return ;
        var SelectedRowIndex=$('#tblImportPaymentRequests').datagrid('getRowIndex',oImportPaymentRequest);
        if (oImportPaymentRequest.ImportPaymentRequestID > 0)
        {
            $.ajax({
                type: "POST",
                dataType: "json",
                url : sessionStorage.getItem('BaseAddress')+  "/ImportPaymentRequest/Approved",
                traditional: true,
                data:  JSON.stringify(oImportPaymentRequest),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //
                    var oImportPaymentRequest = jQuery.parseJSON(data);
                    if (oImportPaymentRequest.ErrorMessage=="" || oImportPaymentRequest.ErrorMessage==null)
                    {
                        // alert("Approved Succesfully!!");
                        $('#tblImportPaymentRequests').datagrid('updateRow',{index: SelectedRowIndex,	row: oImportPaymentRequest});


                        // var oImportPaymentRequest= $('#tblImportPaymentRequests').datagrid('getSelected');
                        if(oImportPaymentRequest==null || oImportPaymentRequest.ImportPaymentRequestID<=0)
                        {
                            alert("There is no Invoice Purchase. Please select Invoice Purchase!");
                            return;
                        }
                        window.open(sessionStorage.getItem('BaseAddress')+'/ImportPaymentRequest/PriviewImportPaymentRequest?id='+oImportPaymentRequest.ImportPaymentRequestID, "_blank");
                    }
                    else
                    {
                        alert(oImportPaymentRequest.ErrorMessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
        }
    });

    function RefreshList(oImportPaymentRequests)
    {
        data=oImportPaymentRequests;
        data={"total":""+data.length+"","rows":data};
        $('#tblImportPaymentRequests').datagrid('loadData',data);
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        if(nIndex!=null)
        {
            $('#tblImportPaymentRequests').datagrid('selectRow',nIndex);
        }
    }


    //Start Search
    function RefreshComboBoxControls()
    {        
        var oApprovedUsers = $('#winAdvanceSearch').data('ApprovedUsers');
        var oBankAccounts = $('#winAdvanceSearch').data('BankAccounts');     
        var oCompareOperatorObjs = $('#winAdvanceSearch').data('CompareOperatorObjs');

        $("#cboApprovedBy").icsLoadCombo({ List: oApprovedUsers, OptionValue: "UserID", DisplayText: "UserName"});
        $("#cboBankAccount").icsLoadCombo({ List: oBankAccounts, OptionValue: "BankAccountID", DisplayText: "AccountNo"});                
        $("#cboIssueDate").icsLoadCombo({ List: oCompareOperatorObjs, OptionValue: "id", DisplayText: "Value"});        
    }

    function ValidateSearch()
    {
        var sRefNo =$.trim($('#txtRefNo').val());
        var sInvocieNo =$.trim($('#txtInvocieNo').val());
        var sLCNo =$.trim($('#txtLCNo').val());        
        var nApprovedBy = parseInt($('#cboApprovedBy').val());
        var nBankAccount = parseInt($('#cboBankAccount').val());        
        var nIssueDate = parseInt($('#cboIssueDate').val());
        if(nIssueDate===1 || nIssueDate===2 || nIssueDate===3 || nIssueDate===4)
        {
            var sIssueStartDate   = $('#txtIssueStartDate').datebox('getValue');
            if(sIssueStartDate===null || sIssueStartDate==="")
            {
                alert("Please select Issue start date!");
                $('#txtIssueStartDate').focus();
                return false;
            }
        }
        if(nIssueDate===5 || nIssueDate===6)
        {
            var sIssueStartDate   = $('#txtIssueStartDate').datebox('getValue');
            var sIssueEndDate   = $('#txtIssueEndDate').datebox('getValue');
            if(sIssueStartDate===null || sIssueStartDate==="")
            {
                alert("Please select Issue start date!");
                $('#txtIssueStartDate').focus();
                return false;
            }
            if(sIssueEndDate===null || sIssueEndDate==="")
            {
                alert("Please select Issue end date!");
                $('#txtIssueEndDate').focus();
                return false;
            }
            if(new Date(sIssueStartDate) > new Date(sIssueEndDate))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtIssueStartDate').focus();
                return false;
            }
        }        
        var sRemarks =$.trim($('#txtRemarks').val());
        var bApproved = $('#chkApproved').is(":checked");
        var bUnApproved = $('#chkUnApproved').is(":checked");

        if(sRefNo === "" && sInvocieNo === "" && sLCNo === "" && nApprovedBy === 0 && nBankAccount === 0 &&  nIssueDate===0 && sRemarks === "" && bApproved===false && bUnApproved===false)
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        return true;
    }

    $('#chkApproved').click(function() {
        if($('#chkApproved').is(":checked")) {
            $("#chkUnApproved").attr("checked", false);
        }
    });

    $('#chkUnApproved').click(function() {
        if($('#chkUnApproved').is(":checked")) {
            $("#chkApproved").attr("checked", false);
        }
    });

    $('#btnAdvSearch').click(function(e){
        $("#winAdvanceSearch").icsWindow('open', "Advance Search");
        $("#winAdvanceSearch input").not("input[type='button']").val("");        
        $('#cboApprovedBy').val(0);
        $('#cboBankAccount').val(0);        
        $('#cboIssueDate').val(0);        
        $('#txtIssueStartDate').datebox({ disabled : true });
        $('#txtIssueEndDate').datebox({ disabled : true });
        $('#txtIssueStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtIssueEndDate').datebox('setValue', icsdateformat(new Date()));        
        RefreshComboBoxControls();
    });

    $('#btnAdvSearchClose').click(function(e){
        $("#winAdvanceSearch").icsWindow('close');
    });

    $('#cboIssueDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboIssueDate').val());
        if(nCompareOperator===0)
        {
            $('#txtIssueStartDate').datebox({ disabled : true });
            $('#txtIssueEndDate').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtIssueStartDate').datebox({ disabled : false });
            $('#txtIssueEndDate').datebox({ disabled : true });
        }
        else
        {
            $('#txtIssueStartDate').datebox({ disabled : false });
            $('#txtIssueEndDate').datebox({ disabled : false });
        }
        $('#txtIssueStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtIssueEndDate').datebox('setValue', icsdateformat(new Date()));
    });

    $('#btnAdvSearchReset').click(function(e){
        $("#winAdvanceSearch input").not("input[type='button']").val("");        
        $('#cboApprovedBy').val(0);
        $('#cboBankAccount').val(0);        
        $('#cboIssueDate').val(0);        
        $('#txtIssueStartDate').datebox({ disabled : true });
        $('#txtIssueEndDate').datebox({ disabled : true });
        $('#txtIssueStartDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtIssueEndDate').datebox('setValue', icsdateformat(new Date()));        
    });

    $('#btnSearch').click(function(e){
        if(!ValidateSearch()) return;

        var nIssueDate = parseInt($('#cboIssueDate').val());
        var sIssueStartDate   = $('#txtIssueStartDate').datebox('getValue');
        var sIssueEndDate   = $('#txtIssueEndDate').datebox('getValue');

        var sImportInvoiceNo = $.trim($('#txtInvocieNo').val());
        var sImportLCNo = $.trim($('#txtLCNo').val());
        var sRemarks =$.trim($('#txtRemarks').val());
        var bApproved = $('#chkApproved').is(":checked");
        var bUnApproved = $('#chkUnApproved').is(":checked");

        var sSearchingData  =  nIssueDate+'~';
        sSearchingData = sSearchingData + sIssueStartDate+'~';
        sSearchingData = sSearchingData + sIssueEndDate+'~';        
        sSearchingData = sSearchingData + sImportInvoiceNo +'~';
        sSearchingData = sSearchingData + sImportLCNo +'~';
        sSearchingData = sSearchingData + sRemarks +'~';
        sSearchingData = sSearchingData + bApproved +'~';
        sSearchingData = sSearchingData + bUnApproved;

        var oImportPaymentRequest = {
            BUID : parseInt(sessionStorage.getItem('BUID')),
            RefNo : $('#txtRefNo').val(),            
            ApprovedBy : parseInt($('#cboApprovedBy').val()),
            BankAccountID : parseInt($('#cboBankAccount').val()),            
            Note : sSearchingData
        }

        $.ajax({
            type: "POST",
            dataType: "JSON",
            url: sessionStorage.getItem("BaseAddress")+  "/ImportPaymentRequest/AdvanceSearch",
            data:  JSON.stringify(oImportPaymentRequest),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var  oImportPaymentRequests = data;
                if (oImportPaymentRequests != null) {
                    if(oImportPaymentRequests.length>0)
                    {
                        if(oImportPaymentRequests[0].ErrorMessage=="")
                        {
                            RefreshList(oImportPaymentRequests);
                            $("#winAdvanceSearch").icsWindow('close');
                        }
                        else
                        {
                            alert(oImportPaymentRequests[0].ErrorMessage);
                        }
                    }
                    else
                    {
                        alert("Data not found!!");
                    }
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $("#txtSearchbyCode").keyup(function (e) {
        if (e.keyCode == 13) {
            if($.trim($('#txtSearchbyCode').val())===null || $.trim($('#txtSearchbyCode').val())==="")
            {
                alert("Press enter with Invoice No/LC No!");
                return;
            }
            var nBUID = parseInt(sessionStorage.getItem('BUID'));
            if(nBUID<=0)
            {
                alert("Invalid Business Unit!");
                return;
            }

            var oImportPaymentRequest = {
                PaymentNo : $("#txtSearchbyCode").val(),
                BUID : nBUID
            };

            $.ajax({
                type: "POST",
                dataType: "json",
                url: sessionStorage.getItem('BaseAddress') + "/ImportPaymentRequest/SearchByNo",
                traditional: true,
                data: JSON.stringify(oImportPaymentRequest),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var  oImportPaymentRequests = data;
                    if (oImportPaymentRequests != null) {
                        if (oImportPaymentRequests.length > 0) {
                            RefreshList(oImportPaymentRequests);
                        }
                        else
                        {
                            RefreshList([]);
                        }
                    }
                    else
                    {
                        RefreshList([]);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        }
    });

    $('#btnWaitForApproved').click(function(e){
        var oImportPaymentRequest= {
            ImportPaymentRequestID:0,
            BUID : parseInt(sessionStorage.getItem('BUID'))
        };
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/ImportPaymentRequest/WaitForApproved",
            traditional: true,
            data:  JSON.stringify(oImportPaymentRequest),
            contentType: "application/json; charset=utf-8",
            success: function (data) {                
                var oImportPaymentRequests = data;
                RefreshList(oImportPaymentRequests);
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });
    });
</script>