@{
    ViewBag.Title = "Invoice Purchase List";
}
@model IEnumerable<ESimSol.BusinessObjects.PurchaseInvoicePaymentRequest>
<div style="margin-left: 0px; height: 100%; width:100%">
<table id="tblPurchaseInvoicePaymentRequests" title="PurchaseInvoicePaymentRequest List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" , autorowheight="false" toolbar="#toolbar">
    <thead>
        <tr>
            <th field="RefNo" width="130">Ref No</th>
            <th field="LetterIssueDateInString" width="100">Issue Date</th>
            <th field="BankBranchName" width="200">Bank & Branch Name</th>
            <th field="AccountNo" width="100">Account No</th>
            <th field="LiabilityTypeST" width="80">Liability Type</th>
            <th field="RequestByName" width="100">Retuest By</th>
            <th field="ApprovedByName" width="120">Approved By</th>
            <th field="StatusSt" width="120">Status</th>
        </tr>
    </thead>
</table>
<div id="toolbar">
    <input type="text" id="txtSearchbyCode" placeholder="Search by invoice No" style="width:150px" /> 
    <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true"  onclick="AdvanceSearch()">AdvSearch</a>
    <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="Add()">New</a>
    <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="Edit()">Edit</a>
    <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="Delete()">Delete</a>
    <a id="btnWaitForApproved" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="WaitForApproved()">WaitingforApprove</a>
    
    <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true" onclick="Details()">View</a>
    @*<a id="btnApproved" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="Cancel()">Cancel</a>*@
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true" onclick="Priview()">Preview</a>
    <a id="btnApproved" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="Approved()">Print</a>
    

</div>
</div>
                      <div id="winAdvanceSearch_IPR" class="easyui-window winClass" title="Advance Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
                          <div style="width:730px;height:550px; float: left;align-content:center;">
                              <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                                  <tr>
                                      <td style="width:100%;">
                                          <table border="0" cellpadding="0" cellspacing="0" style="width:100%;height:480px;">
                                              <tr style="height:50%; vertical-align:top;">
                                                  <td style="width: 50%; height:100%;">
                                                      <fieldset style="height:460px;">
                                                          <legend style="font-weight: bold; font-size: 12px">Searching Criteria : </legend>
                                                          <table border="0" cellpadding="0" cellspacing="0" style=" width: 100%;height:100%; ">
                                                              <tr>
                                                                  <td style="width: 100%; text-align: left">
                                                                      <label style="font-weight:bold;"> Date :</label> <br />
                                                                      <table border="0" style="width: 100%;">
                                                                          <tr>
                                                                              <td style="width: 100%; text-align: left">
                                                                                  <select class="_select_changeA" id="cboDateSearch" style="width: 30%;text-align:left"></select>
                                                                                  <input id="txtLetterIssueDate" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 30%;" />
                                                                                  To
                                                                                  <input id="txtLetterIssueDate_end" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style="width: 30%;" />
                                                                              </td>

                                                                          </tr>
                                                                      </table>
                                                                  </td>
                                                              </tr>
                                                             
                                                              <tr>
                                                                  <td style="width: 100%; text-align: left">
                                                                      <label style="font-weight:bold;"> </label> <br />
                                                                      <table id="tblStatusLoad" title="" class="easyui-datagrid" style="width: 90%; height: 200px;   font-size: 12px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="false"
                                                                             autorowheight="false">
                                                                          <thead>
                                                                              <tr>
                                                                                <td></td>
                                                                              </tr>
                                                                          </thead>
                                                                      </table>
                                                                  </td>
                                                              </tr>

                                                              <tr style="height:50%; vertical-align:bottom;">
                                                                  <td style=" text-align:left; width:100%;">
                                                                      <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                                                                          <tr>
                                                                              <td style="width:50%; text-align:left;padding-bottom:10px;"><input type="button" value="Reset" id="btnReset" style="width:70px;" /></td>
                                                                              <td style=" text-align:right; width:50%;padding-bottom:10px;"><input type="button" value="Search" id="btnRefresh" style="width:70px;" /></td>
                                                                          </tr>
                                                                      </table>
                                                                  </td>
                                                              </tr>
                                                          </table>
                                                      </fieldset>
                                                  </td>
                                                  <td style="width: 50%; vertical-align:top;">
                                                      <div style="height:470px;width:100%;padding-top:6px;">
                                                          <table id="tblSCs_AdvS" title="Settlement Request(s)" class="easyui-datagrid" style="width: 100%;height: 100%; " fitcolumns="false" rownumbers="true" pagination="false" singleselect="false" autorowheight="false" data-options="resizehandle:'right', resizable:true ">
                                                              <thead>
                                                                  <tr>
                                                                      <th data-options="field:'Selected',checkbox:true"></th>
                                                                      <th field="RefNo" width="95" align="left">
                                                                          Ref No
                                                                      </th>
                                                                      <th field="LetterIssueDateInString" width="82" align="center">
                                                                          Issue Date
                                                                      </th>
                                                                      <th field="LiabilityTypeST" width="100" align="left">
                                                                          Type
                                                                      </th>
                                                                    
                                                                  </tr>
                                                              </thead>
                                                          </table>
                                                      </div>
                                                  </td>
                                              </tr>
                                          </table>
                                      </td>
                                  </tr>
                                  <tr>
                                      <td style="width: 100%; text-align: right">
                                          <fieldset>
                                              <legend style="font-weight: bold; text-align:left;">Actions : </legend>
                                              <a href="javascript:void(0)" id="btnOkButtonClick" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
                                              <a href="javascript:void(0)" id="btnSearchClose" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                                          </fieldset>
                                      </td>

                                  </tr>
                              </table>
                          </div>
                      </div>

<script type="text/javascript">
var _oPurchaseInvoicePaymentRequests=[];
var _sBaseAddress="";
var _oAuthorizationRolesMapping=[];
$(document).ready(function () {
    debugger;
    _oPurchaseInvoicePaymentRequests =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model)); 
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));  

   // RefreshList(_oPurchaseInvoicePaymentRequests);

    
    var oPurchaseInvoicePaymentRequests =sessionStorage.getItem("PurchaseInvoicePaymentRequests");
    if(oPurchaseInvoicePaymentRequests!=null )
    {
        oPurchaseInvoicePaymentRequests = jQuery.parseJSON(oPurchaseInvoicePaymentRequests);
    }
    else
    {
        oPurchaseInvoicePaymentRequests=_oPurchaseInvoicePaymentRequests;
    }
    RefreshList(oPurchaseInvoicePaymentRequests);

//    RefreshControlLayout();
});



function Refresh()
{    
    var oPurchaseInvoicePaymentRequests = $('#tblPurchaseInvoicePaymentRequests').datagrid('getRows'); 
    data=oPurchaseInvoicePaymentRequests;
    data={"total":""+data.length+"","rows":data};
    $('#tblPurchaseInvoicePaymentRequests').datagrid('loadData',data);           
}   

function Add()
{
    var tsv=((new Date()).getTime())/1000;
    var oPurchaseInvoicePaymentRequests= $('#tblPurchaseInvoicePaymentRequests').datagrid('getRows');
    sessionStorage.setItem("PurchaseInvoicePaymentRequests", JSON.stringify(oPurchaseInvoicePaymentRequests));
    sessionStorage.setItem("SelectedRowIndex", -1);
    sessionStorage.setItem("PurchaseInvoicePaymentRequestHeader", "Issue Payment request Letter");
    sessionStorage.setItem("BackLink", window.location.href);
    window.location.href = _sBaseAddress+ "/PurchaseInvoicePaymentRequest/ViewPurchaseInvoicePaymentRequest?id=0&ts="+tsv;


} 



function Edit()
{
    //debugger;
    var oPurchaseInvoicePaymentRequest= $('#tblPurchaseInvoicePaymentRequests').datagrid('getSelected'); 
    if(oPurchaseInvoicePaymentRequest==null || oPurchaseInvoicePaymentRequest.PIPRID<=0)
    {
        alert("Please select a item from list!");
        return;
    }
    if(parseInt(oPurchaseInvoicePaymentRequest.ApprovedBy)!=0)
    {
        alert("Your selecte item alreay Approved!");                  
        return false;
    }
    var SelectedRowIndex=$('#tblPurchaseInvoicePaymentRequests').datagrid('getRowIndex',oPurchaseInvoicePaymentRequest);
    var tsv=((new Date()).getTime())/1000;
    var oPurchaseInvoicePaymentRequests= $('#tblPurchaseInvoicePaymentRequests').datagrid('getRows');
    sessionStorage.setItem("PurchaseInvoicePaymentRequests", JSON.stringify(oPurchaseInvoicePaymentRequests));
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
    sessionStorage.setItem("PurchaseInvoicePaymentRequestHeader", "Edit Payment request Letter");
    sessionStorage.setItem("BackLink", window.location.href);
    window.location.href = _sBaseAddress+ "/PurchaseInvoicePaymentRequest/ViewPurchaseInvoicePaymentRequest?id="+oPurchaseInvoicePaymentRequest.PIPRID+"&ts="+tsv;

    //var oParameter = new Object();        
    //oParameter.Name = "Edit Payment request Letter";
    //var tsv=((new Date()).getTime())/1000;
    
    //var url =_sBaseAddress+  "/PurchaseInvoicePaymentRequest/ViewPurchaseInvoicePaymentRequest?id="+oPurchaseInvoicePaymentRequest.PIPRID+"&ts="+tsv;
    //oPurchaseInvoicePaymentRequest  = window.showModalDialog(url, oParameter, 'dialogHeight:530px;dialogWidth:610px;dialogLeft:450;dialogTop:110;center:yes;resizable:no;status:no;scroll:no');
    ////debugger
    //if(oPurchaseInvoicePaymentRequest!=null)
    //{
    //    if(oPurchaseInvoicePaymentRequest.PIPRID>0)
    //    {
                
    //        $('#tblPurchaseInvoicePaymentRequests').datagrid('updateRow',{index: SelectedRowIndex,	row: oPurchaseInvoicePaymentRequest});
    //    }
    //}
} 


function Details()
{
    var oPurchaseInvoicePaymentRequest= $('#tblPurchaseInvoicePaymentRequests').datagrid('getSelected'); 
    if(oPurchaseInvoicePaymentRequest==null || oPurchaseInvoicePaymentRequest.PIPRID<=0)
    {
        alert("Please select a item from list!");
        return;
    }
    if(parseInt(oPurchaseInvoicePaymentRequest.ApprovedBy)!=0)
    {
        alert("Your selecte item alreay Approved!");                  
        return false;
    }
    var SelectedRowIndex=$('#tblPurchaseInvoicePaymentRequests').datagrid('getRowIndex',oPurchaseInvoicePaymentRequest);
    var tsv=((new Date()).getTime())/1000;
    var oPurchaseInvoicePaymentRequests= $('#tblPurchaseInvoicePaymentRequests').datagrid('getRows');
    sessionStorage.setItem("PurchaseInvoicePaymentRequests", JSON.stringify(oPurchaseInvoicePaymentRequests));
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
    sessionStorage.setItem("PurchaseInvoicePaymentRequestHeader", "View Payment request Letter");
    sessionStorage.setItem("BackLink", window.location.href);
    window.location.href = _sBaseAddress+ "/PurchaseInvoicePaymentRequest/ViewPurchaseInvoicePaymentRequest?id="+oPurchaseInvoicePaymentRequest.PIPRID+"&ts="+tsv;

   
} 

function Delete()
{
    //debugger;  
    var oPurchaseInvoicePaymentRequest= $('#tblPurchaseInvoicePaymentRequests').datagrid('getSelected');    
    if(oPurchaseInvoicePaymentRequest==null || oPurchaseInvoicePaymentRequest.PIPRID<=0)
    {
        alert("Invalid Field!!! please select a valid Field!");                  
        return false;
    }

     if(oPurchaseInvoicePaymentRequest==null || oPurchaseInvoicePaymentRequest.ApprovedBy !=0)
    {
        alert("Approved Item Can't Delete !!");                  
        return false;
    }
    if (!confirm("Confirm to Delete?")) return ;
    var SelectedRowIndex=$('#tblPurchaseInvoicePaymentRequests').datagrid('getRowIndex',oPurchaseInvoicePaymentRequest);
    if (oPurchaseInvoicePaymentRequest.PIPRID > 0) 
    {
        $.ajax({
            type: "POST",
            dataType: "json",            
            url : _sBaseAddress+  "/PurchaseInvoicePaymentRequest/Delete",
            traditional: true,
            data:  JSON.stringify(oPurchaseInvoicePaymentRequest),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                feedbackmessage = jQuery.parseJSON(data);
                if (feedbackmessage == "Data delete successfully") 
                {
                    alert("Delete sucessfully");                        
                    $('#tblPurchaseInvoicePaymentRequests').datagrid('deleteRow',SelectedRowIndex);
                }
                else
                {
                    alert(feedbackmessage);
                }
            },
            error: function (xhr, status, error) 
            {
                alert(error);
            }
                      
        });
    }
}



function Approved()
{
    //debugger;  
    var oPurchaseInvoicePaymentRequest= $('#tblPurchaseInvoicePaymentRequests').datagrid('getSelected');    
    if(oPurchaseInvoicePaymentRequest==null || oPurchaseInvoicePaymentRequest.PIPRID<=0)
    {
        alert("Invalid Field!!! please select a valid Field!");                  
        return false;
    }
    if(parseInt(oPurchaseInvoicePaymentRequest.RequestBy)==0)
    {
        alert("Yet to Request!");                  
        return false;
    }
    if(parseInt(oPurchaseInvoicePaymentRequest.ApprovedBy)!=0)
    {
        alert("Your selecte item alreay Approved!");                  
        return false;
    }
    if (!confirm("Confirm to Print?")) return ;
    var SelectedRowIndex=$('#tblPurchaseInvoicePaymentRequests').datagrid('getRowIndex',oPurchaseInvoicePaymentRequest);
    if (oPurchaseInvoicePaymentRequest.PIPRID > 0) 
    {
        $.ajax({
            type: "POST",
            dataType: "json",            
            url : _sBaseAddress+  "/PurchaseInvoicePaymentRequest/Approved",
            traditional: true,
            data:  JSON.stringify(oPurchaseInvoicePaymentRequest),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var oPurchaseInvoicePaymentRequest = jQuery.parseJSON(data);
                if (oPurchaseInvoicePaymentRequest.ErrorMessage=="" || oPurchaseInvoicePaymentRequest.ErrorMessage==null) 
                {                    
                   // alert("Approved Succesfully!!");                    
                    $('#tblPurchaseInvoicePaymentRequests').datagrid('updateRow',{index: SelectedRowIndex,	row: oPurchaseInvoicePaymentRequest});


                   // var oPurchaseInvoicePaymentRequest= $('#tblPurchaseInvoicePaymentRequests').datagrid('getSelected');    
                    if(oPurchaseInvoicePaymentRequest==null || oPurchaseInvoicePaymentRequest.PIPRID<=0)
                    {
                        alert("There is no Invoice Purchase. Please select Invoice Purchase!");                  
                        return false;
                    }
                    window.open(_sBaseAddress+'/PurchaseInvoicePaymentRequest/PriviewPurchaseInvoicePaymentRequest?id='+oPurchaseInvoicePaymentRequest.PIPRID, "_blank");    
                }
                else 
                {
                    alert(oPurchaseInvoicePaymentRequest.ErrorMessage);
                }
            },
            error: function (xhr, status, error) 
            {
                alert(error);
            }
                      
        });
    }
}

    
function WaitForApproved()
{
    //debugger;  
    var oPurchaseInvoicePaymentRequest= {
        PIPRID:0
                       };
    
    $.ajax({
            type: "POST",
            dataType: "json",            
            url : _sBaseAddress+  "/PurchaseInvoicePaymentRequest/WaitForApproval",
            traditional: true,
            data:  JSON.stringify(oPurchaseInvoicePaymentRequest),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                //debugger;
                var oPurchaseInvoicePaymentRequests = jQuery.parseJSON(data);
                RefreshList(oPurchaseInvoicePaymentRequests);
            },
            error: function (xhr, status, error) 
            {
                alert(error);
            }                      
        });
}

function RefreshList(oPurchaseInvoicePaymentRequests)
{    
    data=oPurchaseInvoicePaymentRequests;
    data={"total":""+data.length+"","rows":data};
    $('#tblPurchaseInvoicePaymentRequests').datagrid('loadData',data); 
    var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
    if(nIndex!=null)
    {
        $('#tblPurchaseInvoicePaymentRequests').datagrid('selectRow',nIndex);
    }
}

function PrintPurchaseInvoicePaymentRequest()
{    
    window.open(_sBaseAddress+'/PurchaseInvoicePaymentRequest/PrintPurchaseInvoicePaymentRequests', "_blank");        
}

function Priview()
{
    var oPurchaseInvoicePaymentRequest= $('#tblPurchaseInvoicePaymentRequests').datagrid('getSelected');    
    if(oPurchaseInvoicePaymentRequest==null || oPurchaseInvoicePaymentRequest.PIPRID<=0)
    {
        alert("There is no Invoice Purchase. Please select Invoice Purchase!");                  
        return false;
    }
    window.open(_sBaseAddress+'/PurchaseInvoicePaymentRequest/PriviewPurchaseInvoicePaymentRequest?id='+oPurchaseInvoicePaymentRequest.PIPRID, "_blank");      
}

function PrintPurchaseInvoicePaymentRequestInXL()
{

    
    window.open(_sBaseAddress+'/PurchaseInvoicePaymentRequest/PrintPurchaseInvoicePaymentRequestsInXL', "_blank");        
} 

//function RefreshControlLayout()
//{
//    document.getElementById('btnAdd').style.display = 'none'; 
//    document.getElementById('btnEdit').style.display = 'none'; 
//    document.getElementById('btnDelete').style.display = 'none'; 
//    if(HavePermission('Add','PurchaseInvoicePaymentRequest')){document.getElementById('btnAdd').style.display = '';}
//    if(HavePermission('Edit','PurchaseInvoicePaymentRequest')){document.getElementById('btnEdit').style.display = '';}
//    if(HavePermission('Delete','PurchaseInvoicePaymentRequest')){document.getElementById('btnDelete').style.display = '';}
//}

function HavePermission(sOperationType, sDbObject)
{
    var nSessionID =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.currentUserID]));
    if(nSessionID == -9) //check SuperUser 
    {
        return true;
    }else
    {
        
        for(var i =0;i<_oAuthorizationRolesMapping.length;i++)
        {
            if(_oAuthorizationRolesMapping[i].OperationTypeInString == sOperationType && _oAuthorizationRolesMapping[i].DBObjectName == sDbObject)
            return  true;
        }
        return false;
     }
}
    $('#txtSearchbyCode').keypress(function (e) 
    {
        debugger
        var code = (e.keyCode ? e.keyCode : e.which);
        var sInvoiceNo=document.getElementById("txtSearchbyCode").value;
    
        if (code == 13)//Enter key-13
        {
            if(sInvoiceNo=="")
            {
                alert("Please Enter Code !");
                return;
            }
            var tsv=((new Date()).getTime())/1000;
            $.ajax
            ({
                type: "GET",
                dataType: "json",            
                url : _sBaseAddress+  "/PurchaseInvoicePaymentRequest/GetbyInvoiceNo",
                data: { InvoiceNo:sInvoiceNo,ts:parseFloat(tsv)},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    //debugger;
                    var oPurchaseInvoicePaymentRequests = jQuery.parseJSON(data);
                    if (oPurchaseInvoicePaymentRequests.length>0) 
                    {
                        RefreshList(oPurchaseInvoicePaymentRequests);
                    }
                    else
                    {
                        oPurchaseInvoicePaymentRequests=[];
                        RefreshList(oPurchaseInvoicePaymentRequests);
                        alert("Not found");
                    }
                   
                },
                error: function (xhr, status, error) 
                {
                    alert(error);
                }
                      
            });

        
        }
    });

    ////////
    
    $("#btnSearch").click(function () {

        $("#winAdvanceSearch_IPR").icsWindow('open', "Advance Search");
        $("#winAdvanceSearch_IPR input").not("input[type='button']").val("");
        $("#winAdvanceSearch_IPR select").val(0);
        SetTodayDate();
        RefreshDateSearch();
    });
   

    function RefreshDateSearch()
    {
        debugger;
        SetTodayDate();
        $('#cboDateSearch').empty();
        var listDates = "<option value='"+"0"+"'>" + "None" + "</option>";
        listDates+= "<option value='"+"1"+"'>" + "EqualTo" + "</option>";
        listDates+= "<option value='"+"5"+"'>" + "Between" + "</option>";
        $("#cboDateSearch").html(listDates);
    }

    //Refresh
    $('#btnRefresh').click(function () {
        debugger;
     
           
        var sSelectedOption = $('#cboDateSearch').val();
        var dStartDate = $('#txtLetterIssueDate').datebox('getValue');
        var dEndDate = $('#txtLetterIssueDate_end').datebox('getValue');
        
        var sMakStatsQry="";

        var chkResult = CheckEmpty();
        if (chkResult!= true) {
            alert("Please Select Date Criteria !!");
            return;
        }

       // var sStatus =  $('#tblStatusLoad').datagrid('getChecked');
       
           
        if( sSelectedOption==0 )
        {
            alert("Please select atleast one item from Searching Criteria!!!!");
            return;
        }
        var oPurchaseInvoicePaymentRequest= {


            SelectedOption :sSelectedOption,
            LetterIssueDate: dStartDate,
            LetterIssueDate_end: dEndDate,
          
        };
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/PurchaseInvoicePaymentRequest/GetsSearchedData",
            data: JSON.stringify(oPurchaseInvoicePaymentRequest),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var oPurchaseInvoicePaymentRequests = jQuery.parseJSON(data);
                debugger;
                if (oPurchaseInvoicePaymentRequests != null)
                {
                    if (oPurchaseInvoicePaymentRequests.length > 0)
                    {
                        DynamicRefreshList(oPurchaseInvoicePaymentRequests,'tblSCs_AdvS');
                            
                    }
                    else {
                        alert("Data not found!!");
                        DynamicRefreshList([],'tblSCs_AdvS');
                    }
                }
                else{
                    alert("Data not found!!");
                    DynamicRefreshList([],'tblSCs_AdvS');
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });

    //Reset
    $('#btnReset').click(function () {
        debugger;
        DynamicRefreshList([],'tblSCs_AdvS');
        RefreshDateSearch();

    });

    //Button Click
    $('#btnOkButtonClick').click(function () {
        var oSCs = [];
        var oSCs = $('#tblSCs_AdvS').datagrid('getChecked');
        if (oSCs.length <= 0) {
            alert("please select at least one item");
            return;
        }
        DynamicRefreshList(oSCs,'tblPurchaseInvoicePaymentRequests');
        $("#winAdvanceSearch_IPR").icsWindow('close');
    });

    //Close Picker
    $('#btnSearchClose').click(function () {
        $("#winAdvanceSearch_IPR").icsWindow('close');
    });

    $('._select_changeA').change(function () {
        //  debugger;
          
        var x = $("#cboDateSearch").val();
        if (x == "EqualTo" || x == "NotEqualTo" || x == "GreaterThen" || x == "SmallerThen") {
            $('#txtLetterIssueDate').datebox({disabled: false});
            $('#txtLetterIssueDate').datebox('setValue', icsdateformat(new Date()));
            $('#txtLetterIssueDate_end').datebox({disabled: true});
            $('#txtLetterIssueDate_end').datebox('setValue', icsdateformat(new Date()));
        }
        else {
            $('#txtLetterIssueDate').datebox({disabled: false});
            $('#txtLetterIssueDate').datebox('setValue', icsdateformat(new Date()));
            $('#txtLetterIssueDate_end').datebox({disabled: false});
            $('#txtLetterIssueDate_end').datebox('setValue', icsdateformat(new Date()));
        }
    });

    function SetTodayDate() {
        $('#txtLetterIssueDate').datebox('setValue', icsdateformat(new Date()));
        $('#txtLetterIssueDate_end').datebox('setValue', icsdateformat(new Date()));
    }


   
    function CheckEmpty() {

        var cboDateSearch = document.getElementById("cboDateSearch");
        var ncboDateSearch = cboDateSearch.options[cboDateSearch.selectedIndex].index;
        
     //   var sStatus =  $('#tblStatusLoad').datagrid('getChecked');
        if (ncboDateSearch<= 0 )
        {
            return false;
        }
        return true;
    }
   
</script>