<html>
@{
    ViewBag.Title = "Body Measurement(s)";
}
<body>
    @model ESimSol.BusinessObjects.BodyMeasure  
    <div class="menuMainCollectionTable" style="font-family:Tahoma">
        @Html.HiddenFor(model => model.CostSheetID, new { id = "txtCostSheetID" })
        <div style="width:100%; height:90%" class="easyui-panel">
            <div style="margin-left:0px; margin-top:1px;width:100%; height:490px" id="divatt">
                <table id="tblBodyMeasure" title="Bill Of Mategial" class="easyui-datagrid" style="width:100%;height:490px" toolbar="#toolbar" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" data-options="onClickRow: onClickRow">
                    <thead>
                        <tr>
                            <th field="BodyPartCode" width="50" align="left"> Code</th>
                            <th field="BodyPartName" width="120" align="left"> Body Part Name</th>                     
                            <th width="60" align="right" data-options="field:'MeasureInCM',editor:{type:'numberbox',options:{precision:2}}">Measurement(CM)</th>
                            <th width="60" align="right" data-options="field:'GSM',editor:{type:'numberbox',options:{precision:2}}">GSM</th>                            
                            <th width="200" align="left" data-options="field:'Remarks',editor:{type:'textbox'}">Remarks</th>                            
                        </tr>
                    </thead>
                </table>
                <div id="toolbar" style="font-family:Tahoma; margin-left:0px; width:100%">
                    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">                        
                        <tr>
                            <td style="width:25%">
                                <input disabled="disabled" value="Body Part :" style="width:23%; text-align:right" />
                                <select id="cboBodyPart" style="width:75%"> </select>                                
                            <td style="width:20%">
                                <input disabled="disabled" value="Measure(CM) :" style="width:45%; text-align:right" />
                                <input type="text" id="txtMeasureInCM" style="width:50%" /> 
                            </td>
                            <td style="width:20%">
                                <input disabled="disabled" value="GSM :" style="width:45%; text-align:right" />
                                <input type="text" id="txtGSM" style="width:50%" />
                            </td>
                            <td style="width:22%;text-align:left;">
                                <input disabled="disabled" value="Remarks :" style="width:20%; text-align:right" />
                                <input type="text" id="txtRemarks" style="width:78%" />
                            </td>
                            <td style="width:13%;text-align:left;">
                                <input id="btnAdd" type="button" value="Add" style="width:40%" />
                                <input id="btnDelete" type="button" value="Remove" style="width:50%" />
                            </td>
                        </tr>                        
                    </table>
                </div>
            </div>
        </div>
        <fieldset style="height:10%">
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:12px; font-weight:bold" width="100%">
                <tr>
                    <td style="width:52%; text-align:left;color:red;">                        
                    </td>
                    <td style="width:40%; text-align:right">
                        <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                    </td>
                    <td style="width:8%">
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        var oBodyMeasures=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model.BodyMeasures));
        var sHeaderTitle = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.HeaderTitle));
        var oBodyParts=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BodyParts));
        $('#cboBodyPart').data('BodyParts', oBodyParts);
        $("#cboBodyPart").icsLoadCombo({ List: oBodyParts, OptionValue: "BodyPartID", DisplayText: "BodyPartNameCode" });
        $('#tblBodyMeasure').datagrid({title : sHeaderTitle});
        $('#txtMeasureInCM,#txtGSM').icsCurrencyBox(null, null, 2);
        RefreshList(oBodyMeasures);
    });

    function RefreshList(oBodyMeasures)
    {
        data=oBodyMeasures;
        data={"total":""+data.length+"","rows":data};
        $('#tblBodyMeasure').datagrid('loadData',data);
    }

    function ValidateAdd()
    {
        if($('#cboBodyPart').val()===null || parseInt($('#cboBodyPart').val())<=0)
        {
            $('#cboBodyPart').focus();           
            alert('Please select Body Part!');
            return false;
        }
        var oBodyMeasures = $('#tblBodyMeasure').datagrid('getRows');
        for(var i =0; i<oBodyMeasures.length; i++)
        {
            if(parseInt($('#cboBodyPart').val())===parseInt(oBodyMeasures[i].BodyPartID))
            {   
                $('#cboBodyPart').focus();           
                alert('Selected Body Part Already Exists!');
                return false;
            }   
        }
        if(oBodyMeasures.length>5)
        {
            alert("Maximum Six Body Part Allow!");
            return false;
        }
        return true;
    }

    function ValidateInput()
    {
        var oBodyMeasures = $('#tblBodyMeasure').datagrid('getRows');
        if(oBodyMeasures===null || oBodyMeasures.length<=0)
        {
            alert("Please enter at least one Product!");
            return false;
        }
        if(oBodyMeasures.length>6)
        {
            alert("Maximum Six Body Part Allow!");
            return false;
        }
        return true;
    }

    function GetBodyPart(nBodyPartID)
    {
        var oBodyPart = {BodyPartCode : '', BodyPartName: '' };
        var oBodyParts = $('#cboBodyPart').data('BodyParts');
        for(var i=0; i<oBodyParts.length ; i++)
        {
            if(parseInt(nBodyPartID)=== parseInt(oBodyParts[i].BodyPartID))
            {
                oBodyPart.BodyPartCode = oBodyParts[i].BodyPartCode;
                oBodyPart.BodyPartName = oBodyParts[i].BodyPartName;
                return oBodyPart;
            }
        }
        return oBodyPart;
    }

    $('#btnAdd').click(function(){
        if(!ValidateAdd()) return false;
        var oBodyPart = GetBodyPart(parseInt($('#cboBodyPart').val()));

        var oBodyMeasure = {
            BodyMeasureID : 0,
            CostSheetID : parseInt($('#txtCostSheetID').val()),          
            BodyPartID : parseInt($('#cboBodyPart').val()),
            MeasureInCM : parseFloat(icsRemoveComma($('#txtMeasureInCM').val())),
            GSM : parseFloat(icsRemoveComma($('#txtGSM').val())),
            Remarks : $.trim($('#txtRemarks').val()),
            BodyPartCode : oBodyPart.BodyPartCode,
            BodyPartName : oBodyPart.BodyPartName
        };
        $('#tblBodyMeasure').datagrid('appendRow', oBodyMeasure);
        $('#cboBodyPart').val(0);
        $("#txtMeasureInCM,#txtGSM").val("0.00");
        $("#txtRemarks").val("");
    });

    $('#btnSave').click(function(){
        endEditing();
        if(!ValidateInput()) return false;

        var oBodyMeasure = {
            BodyMeasures :  $('#tblBodyMeasure').datagrid('getRows')
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+  "/BodyMeasure/SaveBodyMeasurement",
            traditional: true,
            data:  JSON.stringify(oBodyMeasure),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oBodyMeasure = jQuery.parseJSON(data);
                if (oBodyMeasure.ErrorMessage === "")
                {
                    alert("Data Saved sucessfully");
                    RefreshList(oBodyMeasure.BodyMeasures)
                    window.location.href =  sessionStorage.getItem("BackLink");
                }
                else
                {
                    alert(oBodyMeasure.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    $('#btnDelete').click(function (e) {
        var oBodyMeasure= $('#tblBodyMeasure').datagrid('getSelected');
        if(oBodyMeasure==null ||  parseInt(oBodyMeasure.CostSheetID)<=0)
        {
            alert("Invalid BodyMeasure!!! please select a valid BodyMeasure!");
            return false;
        }
        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblBodyMeasure').datagrid('getRowIndex',oBodyMeasure);
        alert("Delete sucessfully");
        $('#tblBodyMeasure').datagrid('deleteRow',SelectedRowIndex);

    });

    $('#btnClose').click(function(){
        window.location.href =  sessionStorage.getItem("BackLink");
    });

    var editIndex = undefined;
    function endEditing(){
        if (editIndex == undefined){return true}
        if ($('#tblBodyMeasure').datagrid('validateRow', editIndex)){
            $('#tblBodyMeasure').datagrid('endEdit', editIndex);
            editIndex = undefined;
            return true;
        }
        else
        {
            return false;
        }
    }

    function onClickRow(index){
        if (editIndex != index){
            if (endEditing())
            {
                $('#tblBodyMeasure').datagrid('selectRow', index).datagrid('beginEdit', index);
                editIndex = index;
            }
            else
            {
                $('#tblBodyMeasure').datagrid('selectRow', editIndex);
            }
        }
    }
</script>