@{
    ViewBag.Title = "Client Operation List";
}
@model IEnumerable<ESimSol.BusinessObjects.ClientOperationSetting>
    <div class="menuMainCollectionTable">
       <table id="tblClientOperationSettings" title="Client Operation List" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
           <thead>
               <tr>
                   <th field="OperationTypeInString" width="250">Operation Type</th>
                   <th field="DataTypeInString" width="100">Data Type</th>
                   <th field="ValueInString" width="300">Value</th>
               </tr>
           </thead>
       </table>

       <div id="toolbar">
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
        </div>
    </div>

    <script type="text/javascript">
    debugger;
    var _sBaseAddress="";
    var _oAuthorizationRolesMapping=[];
    $(document).ready(function () {
        debugger;
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        var oClientOperationSettings =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        debugger;
        var oTempClientOperationSettings =sessionStorage.getItem("ClientOperationSettings");
        if(oTempClientOperationSettings !=null)
        {
            oTempClientOperationSettings  = jQuery.parseJSON(oTempClientOperationSettings );
        }
        else
        {
            oTempClientOperationSettings =oClientOperationSettings;
        }
        RefreshList(oTempClientOperationSettings );
    });

  
    $("#btnAdd").click(function(){
        var oClientOperationSettings= $('#tblClientOperationSettings').datagrid('getRows');
        sessionStorage.setItem("ClientOperationSettings", JSON.stringify(oClientOperationSettings));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("COSHeader", "Add Client Operation Setting");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/ClientOperationSetting/ViewClientOperationSetting?id=0";
    });

    $("#btnEdit").click(function(){
        var oClientOperationSetting= $('#tblClientOperationSettings').datagrid('getSelected');
        if(oClientOperationSetting==null || oClientOperationSetting.ClientOperationSettingID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        
        var SelectedRowIndex=$('#tblClientOperationSettings').datagrid('getRowIndex',oClientOperationSetting);
        var oClientOperationSettings= $('#tblClientOperationSettings').datagrid('getRows');
        sessionStorage.setItem("ClientOperationSettings", JSON.stringify(oClientOperationSettings));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("COSHeader", "Edit Client Operation Setting");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+"/ClientOperationSetting/ViewClientOperationSetting?id="+oClientOperationSetting.ClientOperationSettingID;
    });

    $("#btnView").click(function(){
        var oClientOperationSetting= $('#tblClientOperationSettings').datagrid('getSelected');
        if(oClientOperationSetting==null || oClientOperationSetting.ClientOperationSettingID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        
        var SelectedRowIndex=$('#tblClientOperationSettings').datagrid('getRowIndex',oClientOperationSetting);
        var oClientOperationSettings= $('#tblClientOperationSettings').datagrid('getRows');
        sessionStorage.setItem("ClientOperationSettings", JSON.stringify(oClientOperationSettings));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("COSHeader", "View Client Operation Setting");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+  "/ClientOperationSetting/ViewClientOperationSetting?id="+oClientOperationSetting.ClientOperationSettingID;
    });
    $("#btnDelete").click(function(){
        var oClientOperationSetting= $('#tblClientOperationSettings').datagrid('getSelected');
        if(oClientOperationSetting==null || oClientOperationSetting.ClientOperationSettingID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
       
        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblClientOperationSettings').datagrid('getRowIndex',oClientOperationSetting);
        if (oClientOperationSetting.ClientOperationSettingID > 0)
        {
            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url : _sBaseAddress+  "/ClientOperationSetting/Delete",
                data: { id: oClientOperationSetting.ClientOperationSettingID},
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Data delete successfully")
                    {
                        alert("Delete sucessfully");
                        $('#tblClientOperationSettings').datagrid('deleteRow',SelectedRowIndex);
                        var oClientOperationSettings= $('#tblClientOperationSettings').datagrid('getRows');
                        sessionStorage.setItem("ClientOperationSettings", JSON.stringify(oClientOperationSettings));
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
        }
    });
   
    function RefreshList(oClientOperationSettings)
    {
        debugger;
        var data=oClientOperationSettings;
        data={"total":""+data.length+"","rows":data};
        $('#tblClientOperationSettings').datagrid('loadData',data);
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        $('#tblClientOperationSettings').datagrid('selectRow',nIndex);
    }

    </script>
