@{
    ViewBag.Title = "Property";
}
@model IEnumerable<ESimSol.BusinessObjects.Property>
<div style="margin-left: 0px; height: 100%; width:100%">
    <table id="tblPropertys" title="Property List"  class="easyui-datagrid" fit ="true" fitColumns="true" rownumbers="true" pagination="true" singleSelect="true", autoRowHeight="false" toolbar="#toolbar">
        <thead>  
            <tr>  
                <th field="PropertyName" width="200">Property Name</th>  
                <th field="Note" width="150">Note</th> 
            </tr>  
        </thead> 
    </table>​  
    <div id="toolbar">  
        <input id="txtSearchByName" type="text" placeholder="Property Name" style="width:120px;" />
        <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-search" plain="true">Search</a>                            
        <a id ="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true">Add</a>                                  
        <a id ="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true">Edit</a>
        <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-details"  plain="true">View</a>
        <a id ="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true">Delete</a>   
        <a id="btnAddPropertyValue" href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-details" plain="true">Value</a>                          
    </div>  
</div>

<script type="text/javascript">
    var _oAuthorizationRolesMapping,_oPropertys = [];
    var _sBaseAddress="";
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        _oPropertys =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _nID =parseInt(sessionStorage.getItem("SelectedRowIndex"));
        var oPropertys =sessionStorage.getItem("Propertys");
        if(oPropertys!=null)
        {
            oPropertys = jQuery.parseJSON(oPropertys)===null?_oPropertys:jQuery.parseJSON(oPropertys);
        }
        else
        {
            oPropertys=_oPropertys;
        }

        DynamicRefreshList(oPropertys, 'tblPropertys');
        if(_nID!=-1)
        {
            $('#tblPropertys').datagrid('selectRow', _nID);
        }
        
        RefreshControlLayout();
    });
    $('#txtSearchByName').keyup(function (e) {debugger;$('#txtSearchByName').icsSearchByText({ Event: e,SearchProperty: "PropertyName",GlobalObjectList: _oPropertys,TableId: "tblPropertys"});});
    $("#btnSearch").click(function(){
        $.icsDataGets({
            BaseAddress: _sBaseAddress,
            Object: {PropertyName:$.trim($("#txtSearchByName").val())},
            ControllerName: "Property",
            ActionName: "Gets",
            IsWinClose: false
        },function (response){
            if(response.status && response.objs!=null){
                if(response.objs.length>0){
                    var oPropertys=response.objs;
                    DynamicRefreshList(oPropertys, 'tblPropertys');
                }
            }
        });
        
    });

    $("#btnAdd").click(function(){
        var oPropertys= $('#tblPropertys').datagrid('getRows');
        sessionStorage.setItem("Propertys", JSON.stringify(oPropertys)); 
        sessionStorage.setItem("SelectedRowIndex", -1);   
        sessionStorage.setItem("PropertyHeader", "Add Property");
        sessionStorage.setItem("PropertyBackTo", window.location.href);
        window.location.href = _sBaseAddress+ "/Property/ViewProperty?id=0";

    });

    $("#btnEdit").click(function(){
        var oProperty = $('#tblPropertys').datagrid('getSelected');
        if(oProperty==null || oProperty.PropertyID<=0)
        {
            alert("Please select a item from list!");
            return;
        }

        var oPropertys=$('#tblPropertys').datagrid('getRows');
        var SelectedRowIndex=$('#tblPropertys').datagrid('getRowIndex',oProperty);
        sessionStorage.setItem("Propertys", JSON.stringify(oPropertys));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("PropertyHeader", "Edit Property");
        sessionStorage.setItem("PropertyBackTo", window.location.href);
        window.location.href = _sBaseAddress+ "/Property/ViewProperty?id="+oProperty.PropertyID;
        
    });

    $("#btnView").click(function(){
        
        var oProperty = $('#tblPropertys').datagrid('getSelected');
        if(oProperty==null || oProperty.PropertyID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var oPropertys=$('#tblPropertys').datagrid('getRows');
        var SelectedRowIndex=$('#tblPropertys').datagrid('getRowIndex',oProperty);
        sessionStorage.setItem("Propertys", JSON.stringify(oPropertys));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("PropertyHeader", "View Property");
        sessionStorage.setItem("PropertyBackTo", window.location.href);
        window.location.href = _sBaseAddress+ "/Property/ViewProperty?id="+oProperty.PropertyID;
       
    });

    $("#btnAddPropertyValue").click(function(){
        
        var oProperty = $('#tblPropertys').datagrid('getSelected');
        if(oProperty==null || oProperty.PropertyID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var oPropertys=$('#tblPropertys').datagrid('getRows');
        var SelectedRowIndex=$('#tblPropertys').datagrid('getRowIndex',oProperty);
        sessionStorage.setItem("Propertys", JSON.stringify(oPropertys));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("PropertyValueHeader", "Add Values for "+oProperty.PropertyName);
        sessionStorage.setItem("PropertyValueBackTo", window.location.href);
        window.location.href = _sBaseAddress+ "/PropertyValue/ViewPropertyValue?id="+oProperty.PropertyID;

        //var oProperty = $('#tblPropertys').datagrid('getSelected');
        //if(oProperty==null || oProperty.PropertyID<=0)
        //{
        //    alert("Please select a item from list!");
        //    return;
        //}
        //var oParameter = new Object();
        //oParameter.Name = "Add Value";
        //oParameter.PropertyID=oProperty.PropertyID;
        //oParameter.PropertyName=oProperty.PropertyName;
        //var url = _sBaseAddress+"/PropertyValue/ViewPropertyValue?id="+oProperty.PropertyID ;
        //var oProperty = window.showModalDialog(url, oParameter, 'dialogHeight:475px;dialogWidth:572px;dialogLeft:300;dialogTop:70;center:yes;resizable:no;status:no;scroll:no');
    });

    $("#btnDelete").click(function(){
        
        var oProperty = $('#tblPropertys').datagrid('getSelected');
        if(oProperty==null || oProperty.PropertyID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
         if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblPropertys').datagrid('getRowIndex',oProperty);

        if (oProperty.PropertyID > 0)
        {
            $.icsDelete({
                BaseAddress: _sBaseAddress,
                Object: oProperty,
                ControllerName: "Property",
                ActionName: "Delete",
                TableId: "tblPropertys",
                IsWinClose: false
            });
        }
    });

    function RefreshControlLayout()
    {
        document.getElementById('btnSearch').style.display = 'none';
        document.getElementById('btnAdd').style.display = 'none';
        document.getElementById('btnEdit').style.display = 'none';
        document.getElementById('btnView').style.display = 'none';
        document.getElementById('btnDelete').style.display = 'none';

        if(HavePermission('AdvSearch','Property')){document.getElementById('btnSearch').style.display = '';}
        if(HavePermission('Add','Property')){document.getElementById('btnAdd').style.display = '';}
        if(HavePermission('Edit','Property')){document.getElementById('btnEdit').style.display = '';}
        if(HavePermission('View','Property')){document.getElementById('btnView').style.display = '';}
        if(HavePermission('Delete','Property')){document.getElementById('btnDelete').style.display = '';}
    }

    function HavePermission(sOperationType, sDbObject)
    {
        var nSessionID =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.currentUserID]));
        if(nSessionID == -9) //check SuperUser
        {
            return true;
        }
        else
        {
            for(var i =0;i<_oAuthorizationRolesMapping.length;i++)
            {
                if(_oAuthorizationRolesMapping[i].OperationTypeInString == sOperationType && _oAuthorizationRolesMapping[i].DBObjectName == sDbObject)
                    return  true;
            }
            return false;
        }
    }
</script>