<html>
<head>
    @{ViewBag.Title = "Order Sheet";} 
</head>
<body>
    @model ESimSol.BusinessObjects.OrderSheet
    <div id="winReviseRequest" class="easyui-window" title="Request For Revise" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div style="font-family:Tahoma">
            <fieldset style="margin-top:3px">
                <table border="0" style="font-size:12px">
                    <tr>
                        <td style="width:150px; text-align:right">Request To:</td>
                        <td style="width:250px; text-align:left"><select id="cboReviseRequestTo" style="width:225px;font-size:12px;" /></td>
                    </tr>
                    <tr>
                        <td style="width:150px; text-align:right">Note :</td>
                        <td style="width:250px; text-align:left">
                            <input type="text" id="txtReviseRequestNote" style="width:220px" />
                        </td>
                    </tr>
                </table>
            </fieldset>

            <fieldset style="margin-bottom:3px">
                <legend style="font-weight:bold"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; width:400px">
                    <tr>
                        <td style="width:300px; text-align:right"></td>
                        <td style="width:50px">
                            <a id="btnReviseRequestConfirm" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Confirm</a>
                        </td>
                        <td style="width:50px">
                            <a id="btnReviseRequestClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
    <div id="winPrintFormat2" style="width:550px;" class="easyui-window winstyle" title="Adv. Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <fieldset>
            <legend>Print Setup</legend>
            <table style="width:100%;">
                <tr>
                    <td style="text-align:right;">
                        Qty Fromat :
                    </td>
                    <td>
                        <input id="chkInKg" type="checkbox" onclick="if(this.checked){IsLBSFormat(false)}else{IsLBSFormat(true)}" /> In KG
                    </td>
                    <td>
                        <input id="chkInLBS" type="checkbox" checked onclick="if(this.checked){IsLBSFormat(true)}else{IsLBSFormat(false)}" /> In LBS
                    </td>
                    <td style="width:30%;">
                        &nbsp;&nbsp;&nbsp;
                    </td>
                </tr>
                <tr>
                    <td style="text-align:right;">
                        Print Title :
                    </td>
                    <td>
                        <input id="chkPrintTitleInNormalFormat" type="checkbox" checked onclick="if(this.checked){PrintTitleFormat(1)}" /> Normal Format
                    </td>
                    <td>
                        <input id="chkPrintTitlePadFormat" type="checkbox" onclick="if(this.checked){PrintTitleFormat(2)}" /> Pad Format
                    </td>
                    <td>
                        <input id="chkPrintTitleImageFormat" type="checkbox" onclick="if(this.checked){PrintTitleFormat(3)}" /> Image Format
                    </td>

                </tr>
            </table>
        </fieldset>
        <fieldset class="actionfieldsetstyle">
            <legend>Actions : </legend>
            <a id="btnOkPrintFormat2" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
            <a id="btnClosePrintFormat2" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>
<div class="menuMainCollectionTable">
    <table id="tblOrderSheets" title="Order Sheet" class="easyui-datagrid" height="135px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar">
        <thead>
            <tr>
                <th field="FullPONo" width="200">PO No</th>
                <th field="OrderSheetStatusInString" width="150">Status</th>
                <th field="PartyPONo" width="150">Party PO No</th>
                <th field="ContractorName" width="100">Buyer Name</th>
                <th field="OrderDateInString" width="100">Order Date</th>
                <th field="DeliveryToName" width="100">Delivery To</th>
                <th field="DeliveryContactPersonName" width="120">Delivery C.Person</th>
                <th field="MKTPName" width="120">Market Person Name</th>
                <th field="Amount" align="right" formatter="formatPrice" width="100">Amount</th>
                <th field="ApproveByName" width="100">Approved By</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>                    
        <a id="btnReqForRevise" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-redo" plain="true">Req For Revise</a>
        <a id="btnAcceptRevise" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true" onclick="AcceptRevise()">Accept Revise</a>
        <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
    </div>

    <table id="tblExportPIs" title="Export PIs" class="easyui-datagrid" height="175px" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarExportPI">
        <thead>
            <tr>
                <th field="PINo_Full" width="18%">PI No</th>
                <th field="PIStatusSt" width="8%">Status</th>
                <th field="PITypeInString" width="10%">PI Type</th>
                <th field="IssueDateInString" width="10%" align="center">Issue Date</th>
                <th field="ContractorNameCode" width="20%">Account of</th>
                <th field="BuyerName" width="20%">Buying House</th>
                <th field="AmountSt" width="10%" align="right">Total Value</th>
            </tr>
        </thead>
    </table>
    <div id="toolbarExportPI" style="height:25px;">
        <a id="btnViewExportPI" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">Details</a>
        <a id="btnReqForRevisePI" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-redo" plain="true">Req For Revise</a>
        <a id="btnAcceptRevisePI" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true">Accept Revise</a>
        <a id="btnPreViewPI" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print PI</a>
        <input type="submit" id="btnPrintExportPI" value=" Print List" class="icon-print PrintList" style="margin-top: 4px;" />
        <a id="btnPrintFormat" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-setting" plain="true">Print Format</a>
    </div>

    <table id="tblProductionOrders" title="Production Order List" class="easyui-datagrid" height="175px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarPO">
        <thead>
            <tr>
                <th field="FullPONo" width="200">PO No</th>
                <th field="ProductionOrderStatusInString" width="150">Status</th>
                <th field="ExportPINo" width="150">PI No</th>
                <th field="ContractorName" width="100">Buyer Name</th>
                <th field="OrderDateInString" width="100">Order Date</th>
                <th field="DeliveryToName" width="100">Delivery To</th>
                <th field="DeliveryContactPersonName" width="120">Delivery C.Person</th>
                <th field="MKTPName" width="120">Market Person Name</th>
                <th field="ApproveByName" width="100">Approved By</th>
                <th field="Qty" align="right" width="100">Quantity</th>
            </tr>
        </thead>
    </table>
    <div id="toolbarPO">
        <a id="btnViewPO" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
        <a id="btnRequestforRevise" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-redo" plain="true" onclick="RequestforRevise()">Req For Rev</a>
        <a id="btnAcceptRevise" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="AcceptRevisePO()">Accept Revise</a>
        <a id="btnPreviewPO" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
        <a id="btnPrintSizer" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print Sizer</a>
        <a id="btnPrintListPO" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print List</a>
    </div>

    <fieldset style="height:8%">
        <legend style="font-weight: bold">Action : </legend>
        <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
            <tr>
                <td style="width:83%; text-align:right"></td>
                <td style="width:17%;text-align:right;">
                    <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="Close()" plain="true">Close</a>
                </td>
            </tr>
        </table>
    </fieldset>
</div>
</body>
</html>
<script type="text/javascript">
    var _sBaseAddress = "";
    var _oOrderSheet=null;
    var _oProductionOrders = [];
    var _oExportPIs=[];
    var _lBackLink = "";
    var _sOrderSheetHeader = "";
    var _oOrderSheets = [];
    $(document).ready(function () {
        debugger;
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oOrderSheet =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oExportPIs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.ExportPIs));
        _oProductionOrders =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.ProductionOrders));
     debugger;
        
       _lBackLink = sessionStorage.getItem("BackLinkForReviseMgt");
        _sOrderSheetHeader = sessionStorage.getItem("OrderSheetHeader");
        _oOrderSheets.push(_oOrderSheet);
        DynamicRefreshList(_oOrderSheets, "tblOrderSheets");
        DynamicRefreshList(_oExportPIs, "tblExportPIs");
        DynamicRefreshList(_oProductionOrders, "tblProductionOrders");
    });
   
    //Order Sheet Start
    $("#btnView").click(function(){
        var oOrderSheet= $('#tblOrderSheets').datagrid('getSelected');
        if(oOrderSheet==null || oOrderSheet.OrderSheetID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblOrderSheets').datagrid('getRowIndex',oOrderSheet);
        var oOrderSheets= $('#tblOrderSheets').datagrid('getRows');
        sessionStorage.setItem("OrderSheets", JSON.stringify(oOrderSheets));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("OrderSheetHeader", "View Order Sheet");
        sessionStorage.setItem("BUID", sessionStorage.getItem("BUID"));
        sessionStorage.setItem("ORSType", sessionStorage.getItem("ORSType"));
        sessionStorage.setItem("ProductNature", sessionStorage.getItem("ProductNature"));
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+  "/OrderSheet/ViewOrderSheet?id="+oOrderSheet.OrderSheetID+"&buid="+sessionStorage.getItem("BUID");
    });
    $('#btnReqForRevise').click(function(e){
        var oOrderSheet = $('#tblOrderSheets').datagrid('getSelected');
        if(oOrderSheet==null || oOrderSheet.OrderSheetID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        else if(oOrderSheet.OrderSheetStatus!=2)
        {
            alert("Only Approved Item can Request for Revise!");
            return;
        }
        var SelectedRowIndex=$('#tblOrderSheets').datagrid('getRowIndex', oOrderSheet);
        var oEmployee = { DesignationName : '9,2' };
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+"/User/GetsRequestedUsers",
            traditional: true,
            data:  JSON.stringify(oEmployee),
            contentType: "application/json; charset=utf-8",
            success: function (data) {                    
                var oUsers = jQuery.parseJSON(data);          
                if(oUsers===null){ oUsers=[]; }                    
                $("#cboReviseRequestTo").icsLoadCombo({ List: oUsers, OptionValue: "UserID", DisplayText: "UserName" });
                $("#winReviseRequest").icsWindow('open', "Revise Request");
                $("#winReviseRequest input").not("input[type='button']").val("");
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });
    $('#btnReviseRequestClose').click(function(e){
        $("#winReviseRequest").icsWindow('close');
    });
    $('#btnReviseRequestConfirm').click(function(e){
        var oOrderSheet = $('#tblOrderSheets').datagrid('getSelected');
        if(oOrderSheet==null || parseInt(oOrderSheet.OrderSheetID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt($('#cboReviseRequestTo').val())==0)
        {
            alert('Please Select User');
            $('#cboReviseRequestTo').focus();
            return false;
        }
        var oReviseRequest= { 
            ReviseRequestID :0,
            OperationObjectID : parseInt(oOrderSheet.OrderSheetID),
            RequestTo : parseInt($('#cboReviseRequestTo').val()),
            Note :$.trim($("#txtReviseRequestNote").val())
          
        };

        var oTempOrderSheet = {
            OrderSheetID : parseInt(oOrderSheet.OrderSheetID),
            ActionTypeExtra : "RequestRevise",
            ReviseRequest : oReviseRequest
        }
        var SelectedRowIndex=$('#tblOrderSheets').datagrid('getRowIndex', oOrderSheet);        
        $.ajax({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem('BaseAddress')+"/OrderSheet/ChangeStatus",
            traditional: true,
            data:  JSON.stringify(oTempOrderSheet),
            contentType: "application/json; charset=utf-8",
            success: function (data) {                    
                var oOrderSheet = jQuery.parseJSON(data);          
                if(oOrderSheet!=null)
                {
                    if(oOrderSheet.ErrorMessage=="" || oOrderSheet.ErrorMessage == null)
                    {
                        alert("Order Sheet Revise Request  Successfully.");
                        $('#tblOrderSheets').datagrid('updateRow',{index: SelectedRowIndex,	row: oOrderSheet});
                        $("#winApprovalRequest").icsWindow('close');
                    }
                    else
                    {
                        alert(oOrderSheet.ErrorMessage);
                    }
                }
                else
                {
                    alert("Invalid Operation!");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });

    });
    function AcceptRevise()
    {
        var oOrderSheet = $('#tblOrderSheets').datagrid('getSelected');
        if(oOrderSheet==null || oOrderSheet.OrderSheetID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oOrderSheet.OrderSheetStatus)!=5 )
        {
            alert("Please select Only Request for Revise Item From List");
            return;
        }
        var SelectedRowIndex=$('#tblOrderSheets').datagrid('getRowIndex',oOrderSheet);
        var tsv=((new Date()).getTime())/1000;
        var oOrderSheets= $('#tblOrderSheets').datagrid('getRows');
        sessionStorage.setItem("OrderSheets", JSON.stringify(oOrderSheets));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("OrderSheetHeader", "Order Sheet Revise");
        var oBackLink = window.location.href;
        sessionStorage.setItem("BackLink", oBackLink);
        window.location.href =_sBaseAddress+ "/OrderSheet/ViewOrderSheetRevise?id="+oOrderSheet.OrderSheetID+"&buid="+sessionStorage.getItem("BUID");
    }
    $('#btnPreview').click(function(){
        var oOrderSheet=$('#tblOrderSheets').datagrid('getSelected');
        if(oOrderSheet==null || parseInt(oOrderSheet.OrderSheetID)<=0)
        {
            alert("Please select Order Sheet ");
            return;
        }
        window.open(_sBaseAddress+ "/OrderSheet/OrderSheetPrintPreview?id="+oOrderSheet.OrderSheetID);
    });
    //End order Sheet
    //Export PI Start
    $("#btnViewExportPI").click(function () {
        var oExportPI = $("#tblExportPIs").datagrid("getSelected");
        if (oExportPI == null || oExportPI.ExportPIID <= 0) { alert("Please select an item from list!"); return; }
        var oExportPIs= $('#tblExportPIs').datagrid('getRows');
        sessionStorage.setItem("ExportPIs", JSON.stringify(oExportPIs));
        var SelectedRowIndex=$('#tblExportPIs').datagrid('getRowIndex',oExportPI);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ExportPIHeader", "View Export PI");
        sessionStorage.setItem("BUID", sessionStorage.getItem("BUID"));
        sessionStorage.setItem("ProductNature", sessionStorage.getItem("ProductNature"));
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/ExportPI/ViewExportPI?id="+parseInt(oExportPI.ExportPIID)+"&buid="+sessionStorage.getItem("BUID");
    });
    $("#btnReqForRevisePI").click(function () {
        var oExportPI = $("#tblExportPIs").datagrid("getSelected");
        if (oExportPI == null || parseInt(oExportPI.ExportPIID) <= 0) { alert("Please select an item from list!"); return; }
        if (parseInt(oExportPI.PIStatusInInt) == 0 || parseInt(oExportPI.PIStatusInInt) == 1 || parseInt(oExportPI.PIStatusInInt) == 5 || parseInt(oExportPI.PIStatusInInt) == 6) { alert("In this stage Export PI Can't Revise!"); return; }
        if (!confirm("Confirm to Req for Revise?")) return false;
        var nRowIndex = $('#tblExportPIs').datagrid('getRowIndex', oExportPI);
        var sSuccessMessage = "Successfully Req for Revise";
        oExportPI.ExportPIActionInInt = 7;
        UpdatePIStatus(oExportPI, sSuccessMessage, nRowIndex);
    });
    function UpdatePIStatus(oExportPI, sSuccessMessage, nRowIndex) {
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/ExportPI/UpdatePIStatus",
            traditional: true,
            data: JSON.stringify(oExportPI),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oExportPI = jQuery.parseJSON(data);
                if (oExportPI.ErrorMessage == "" || oExportPI.ErrorMessage == null) {
                    alert(sSuccessMessage);
                    $('#tblExportPIs').datagrid('updateRow', { index: nRowIndex, row: oExportPI });
                    //OperationPerformsEPI(nRowIndex, oExportPI);
                } else {
                    alert(oExportPI.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }
    $("#btnAcceptRevisePI").click(function () {
        debugger;
        var oExportPI = $("#tblExportPIs").datagrid("getSelected");
        if (oExportPI == null || parseInt(oExportPI.ExportPIID)<= 0) { alert("Please select an item from list!"); return; }
        var oExportPIs= $('#tblExportPIs').datagrid('getRows');
        sessionStorage.setItem("ExportPIs", JSON.stringify(oExportPIs));
        var SelectedRowIndex=$('#tblExportPIs').datagrid('getRowIndex',oExportPI);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ExportPIHeader", "Revise Export PI");
        sessionStorage.setItem("BUID", sessionStorage.getItem("BUID"));
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/ExportPI/ViewExportPIRevise?id="+parseInt(oExportPI.ExportPIID)+"&buid="+sessionStorage.getItem("BUID");
    });
    $("#btnPreViewPI").click(function () {
        debugger;
        var oExportPI = $('#tblExportPIs').datagrid('getSelected');
        if (oExportPI == null || oExportPI.ExportPIID <= 0) {
            alert("Please select an item from list!");
            return;
        }
        window.open(_sBaseAddress + '/ExportPI/PrintoExportPIPreview?id='+oExportPI.ExportPIID+ "&bPrintFormat="+sessionStorage.getItem("QtyFormat") + "&nTitleTypeInImg="+sessionStorage.getItem("ImageFormat"), "_blank");
    });
    $("#btnPrintExportPI").click(function (){
        var oExportPIs= $('#tblExportPIs').datagrid('getRows');
        if(oExportPIs.length<=0)
        {
            alert("Data not found ");
            return;
        }
        var sExportPIIDs = "";
        for(var i = 0;i<oExportPIs.length;i++)
        {
            sExportPIIDs+= oExportPIs[i].ExportPIID+",";
        }
        sExportPIIDs = sExportPIIDs.substring(0, sExportPIIDs.length-1);
        var oExportPI = {Note:sExportPIIDs};
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ExportPI/SetExportPIListData",
            traditional: true,
            data:  JSON.stringify(oExportPI),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") 
                {
                    window.open (_sBaseAddress+ "/ExportPI/PrintExportPIs");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });
    $("#btnPrintFormat").click(function ()
    {
        debugger;
        if(sessionStorage.getItem("QtyFormat")=="true")
        {
            $("#chkInKg").prop( "checked", false );
            $("#chkInLBS").prop( "checked", true );
        }else{
            $("#chkInLBS").prop( "checked", false );
            $("#chkInKg").prop( "checked", true );
        }
        if(parseInt(sessionStorage.getItem("ImageFormat"))==1)
        {
            $("#chkPrintTitleInNormalFormat").prop( "checked",true);
            $("#chkPrintTitlePadFormat").prop( "checked", false );
            $("#chkPrintTitleImageFormat").prop( "checked", false );
        }else if(parseInt(sessionStorage.getItem("ImageFormat"))==2)
        {
            $("#chkPrintTitleInNormalFormat").prop( "checked",false);
            $("#chkPrintTitlePadFormat").prop( "checked", true );
            $("#chkPrintTitleImageFormat").prop( "checked", false );
        }else
        {
            $("#chkPrintTitleInNormalFormat").prop( "checked",false);
            $("#chkPrintTitlePadFormat").prop( "checked", false );
            $("#chkPrintTitleImageFormat").prop( "checked", true );
        }
        $("#winPrintFormat2").icsWindow("open","PI Print Format Setup");
    });
    $("#btnClosePrintFormat2").click(function () {
        $("#winPrintFormat2").icsWindow("close");
    });
    $("#btnOkPrintFormat2").click(function () {
        debugger;
        $("#winPrintFormat2").icsWindow("close");

        if ($("#chkInLBS").is(':checked'))
        {
            sessionStorage.setItem("QtyFormat",true);
        }else{
            sessionStorage.setItem("QtyFormat",false);
        }

        if ($("#chkPrintTitleInNormalFormat").is(':checked'))
        {
            sessionStorage.setItem("ImageFormat",1);//normal
        }else if ($("#chkPrintTitlePadFormat").is(':checked'))
        {
            sessionStorage.setItem("ImageFormat",2);//pad
        }else if ($("#chkPrintTitleImageFormat").is(':checked'))
        {
            sessionStorage.setItem("ImageFormat",3);//with Image
        }
    });
    function IsLBSFormat(bIstrue)
    {
        if(bIstrue)
        {
            $("#chkInKg").prop( "checked", false );
            $("#chkInLBS").prop( "checked", true );
        }else{
            $("#chkInKg").prop( "checked", true );
            $("#chkInLBS").prop( "checked", false );
        }
    }
    function PrintTitleFormat(nPrintTitleFormat)
    {
        if(parseInt(nPrintTitleFormat)==1)//normal
        {
            $("#chkPrintTitleInNormalFormat").prop( "checked", true );
            $("#chkPrintTitlePadFormat").prop( "checked", false );
            $("#chkPrintTitleImageFormat").prop( "checked", false );
        }else  if(parseInt(nPrintTitleFormat)==2)//pad
        {
            $("#chkPrintTitleInNormalFormat").prop( "checked", false );
            $("#chkPrintTitlePadFormat").prop( "checked", true );
            $("#chkPrintTitleImageFormat").prop( "checked", false );
        }else
        {
            $("#chkPrintTitleInNormalFormat").prop( "checked", false );
            $("#chkPrintTitlePadFormat").prop( "checked", false );
            $("#chkPrintTitleImageFormat").prop( "checked", true );
        }
    }
    //Export PI End

    //Production Order Start
    $("#btnViewPO").click(function(){
        var oProductionOrder= $('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || oProductionOrder.ProductionOrderID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        var SelectedRowIndex=$('#tblProductionOrders').datagrid('getRowIndex',oProductionOrder);
        var oProductionOrders= $('#tblProductionOrders').datagrid('getRows');
        sessionStorage.setItem("ProductionOrders", JSON.stringify(oProductionOrders));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ProductionOrderHeader", "View Production Order");
        sessionStorage.setItem("BUID", sessionStorage.getItem("BUID"));
        sessionStorage.setItem("ProductNature", sessionStorage.getItem("ProductNature"));
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+  "/ProductionOrder/ViewProductionOrder?id="+oProductionOrder.ProductionOrderID+"&buid="+sessionStorage.getItem("BUID");
    });
    function RequestforRevise()
    {
        //debugger;
        var oProductionOrder = $('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || oProductionOrder.ProductionOrderID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        else if(parseInt(oProductionOrder.ProductionOrderStatus)>=2 && parseInt(oProductionOrder.ProductionOrderStatus)<6)
        {
            if (!confirm("Confirm to Request for Revise?")) return ;
            oProductionOrder.ActionTypeExtra="Request_For_Revise";
            StatusChange(oProductionOrder,"Request_For_Revise");
        }
        else
        {
            alert("Please select only Approved from list");
            return;
        }
    }
    function StatusChange(oProductionOrder,sParamIdentifier)
    {
        var SelectedRowIndex=$('#tblProductionOrders').datagrid('getRowIndex',oProductionOrder);
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+"/ProductionOrder/ChangeStatus",
            traditional: true,
            data:  JSON.stringify(oProductionOrder),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                var _oProductionOrder= jQuery.parseJSON(data);
                if (_oProductionOrder.ErrorMessage=="" || _oProductionOrder.ErrorMessage== null)
                {
                    if(sParamIdentifier=="Request_For_Revise")
                    {
                        alert("Successfully  Request for Revise.");
                    }
                    $('#tblProductionOrders').datagrid('updateRow',{index: SelectedRowIndex,	row: _oProductionOrder});
                }
                else
                {
                    alert(_oProductionOrder.ErrorMessage);
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });


    }
    function AcceptRevisePO()
    {
        var oProductionOrder = $('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || parseInt(oProductionOrder.ProductionOrderID)<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        if(parseInt(oProductionOrder.ProductionOrderStatus)!=8 )
        {
            alert("Please select Only  Request for Revise Item From List");
            return;
        }
        var SelectedRowIndex=$('#tblProductionOrders').datagrid('getRowIndex',oProductionOrder);
        var tsv=((new Date()).getTime())/1000;
        var oProductionOrders= $('#tblProductionOrders').datagrid('getRows');
        sessionStorage.setItem("ProductionOrders", JSON.stringify(oProductionOrders));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ProductionOrderHeader", "Revise Production Order");
        var oBackLink = window.location.href;
        sessionStorage.setItem("BackLink", oBackLink);
        window.location.href =_sBaseAddress+ "/ProductionOrder/ViewProductionOrderRevise?id="+oProductionOrder.ProductionOrderID+"&buid="+sessionStorage.getItem("BUID");
    }
    $('#btnPrintListPO').click(function(){
        var oProductionOrders=$('#tblProductionOrders').datagrid('getRows');
        if(oProductionOrders.length<=0)
        {
            alert("Sorry, there is no data to Print");
        }
        var ids = ICS_PropertyConcatation(oProductionOrders, 'ProductionOrderID');
        var tsv=((new Date()).getTime())/1000;
        window.open(_sBaseAddress+ "/ProductionOrder/ProductionOrderPrintList?sIDs="+ids+"&ts="+tsv);
    });
    $('#btnPreviewPO').click(function(){
        var oProductionOrder=$('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || parseInt(oProductionOrder.ProductionOrderID)<=0)
        {
            alert("Please select Production Order ");
            return;
        }
        window.open(_sBaseAddress+ "/ProductionOrder/ProductionOrderPrintPreview?id="+oProductionOrder.ProductionOrderID);
    });
    $('#btnPrintSizer').click(function(){
        var oProductionOrder=$('#tblProductionOrders').datagrid('getSelected');
        if(oProductionOrder==null || parseInt(oProductionOrder.ProductionOrderID)<=0)
        {
            alert("Please select Production Order ");
            return;
        }
        window.open(_sBaseAddress+ "/ProductionOrder/POSizerPrint?id="+oProductionOrder.ProductionOrderID);
    });
    //Production Order End

    $('#btnClose').click(function(e){
        window.location.href = _lBackLink;
    });
</script>