@model IEnumerable<ESimSol.BusinessObjects.ReportingObject.RptProductionCostAnalysis>
    @{
        ViewBag.Title = "Production Cost";
    }
    <div class="menuMainCollectionTable" style="margin-left: 0px; height: 565px">
        <table id="tblProductionReport" title="Production Report" class="easyui-datagrid"
               style="width: 100%; height: 565px" fitcolumns="false" rownumbers="true" pagination="false"
               singleselect="true" autorowheight="false" showfooter="true" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="MachineName" width="100" align="left">
                        Machine Name
                    </th>
                    <th field="StartDateInString" width="80" align="left">
                        Load Date
                    </th>
                    <th field="EndDateInString" width="80" align="left">
                        UnLoad Date
                    </th>
                    <th field="BuyerName" width="100" align="left">
                        Buyer Name
                    </th>
                    <th field="OrderNo" width="50" align="left">
                        OrderNo
                    </th>
                    <th field="RouteSheetNo" width="50" align="left">
                        Batch No
                    </th>
                    <th field="ProductName" width="50" align="Left">
                        Yarn Count
                    </th>
                    <th field="ColorName" width="50" align="Left">
                        Color No
                    </th>
                    <th field="ShadePercentage" width="50" align="center">
                        Shade(%)
                    </th>
                    <th field="ShadeName" width="50" align="left">
                        Shade Name
                    </th>
                    <th field="Liquor" width="50" align="left">
                        Liquior
                    </th>
                    <th field="Qty" width="50" align="left">
                        Batch QTY(KG)
                    </th>
                    <th field="LabdipNo" width="80" align="center">
                        Lap Dip No
                    </th>
                    <th field="AddCount" width="100" align="center">
                        Addition
                    </th>
                    <th field="IsInHouseST" width="100" align="center">
                        In House
                    </th>
                    <th field="OrderTypeSt" width="100" align="center">
                        Order Type
                    </th>
                    <th field="IsReDyeingST" width="100" align="center">
                        Is ReDyeing
                    </th>
                    <th field="CombineRSNo" width="100" align="center">
                        Combine No
                    </th>
                    

                </tr>
            </thead>
        </table>
        <div id="toolbar" style="height: auto">
            <table>
                <tr>
                    <td>
                        <span> <input type="text" id="txtMachineName" placeholder="Select Machine" style=" width:120px; font-size:11px; " /> <input type="button" value="P" id="btnPickMachine" style="width:25px; font-size:11px;" /><input type="button" value="R" id="btnReset" style="width:25px; font-size:11px;" /> </span>
                        <span> <input type="checkbox" id="chkBoxDateSelect" /> <span>Machine UnLoad Date</span> </span>
                        <span>
                            <input id="txtStartDate" type="text" style="width:105px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            <input id="txtStartTime" class="easyui-timespinner" style="width:60px;" required="required" />
                            <span>to</span>
                            <input id="txtEndDate" type="text" style="width: 105px" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                            <input id="txtEndTime" class="easyui-timespinner" style="width:60px;" required="required" />
                        </span>
                        <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>                
                        <a id="btnProductionListInExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Production In Excel</a>
                        <a id="btnReportPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Production Report</a>
                        <a id="btnSummaryReport" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Production Report Summary</a>
                        <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-print" plain="true">Preview(Dyeing Card)</a>
                        <a id="btnPrintPreview" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-print" plain="true">Preview(Cost)</a>
                        
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <script type="text/javascript">

        var _sBaseAddress="";
        var _nMachineID=0;
        var _nLocationID=0;
        var _IsDateSelected=false;
        var _nBUID=0;
        $(document).ready(function ()
        {
            _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
            _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
            document.getElementById('chkBoxDateSelect').checked=false;
            $('#txtStartDate').datebox({readonly:true});
            $('#txtEndDate').datebox({readonly:true});
            $('#txtStartDate').datebox('setValue',icsdateformat(new Date()));
            $('#txtEndDate').datebox('setValue',icsdateformat(new Date()));
            $('#txtStartTime,#txtEndTime').timespinner('setValue', "10:00");
            //var nHour=new Date().getHours();
            //var nMin=new Date().getMinutes();
            //if(isNaN(nHour))
            //{
            //    nHour=0;
            //}
            //if(isNaN(nMin))
            //{
            //    nMin=0;
            //}
            //$('#txtStartTime').timespinner('setValue', nHour+":"+nMin);
            //$('#txtEndTime').timespinner('setValue', nHour+":"+nMin);
        });
   
        $('#chkBoxDateSelect').click(function(e)
        {
            if(document.getElementById('chkBoxDateSelect').checked==true)
            {
                _IsDateSelected=true;
                $('#txtStartDate').datebox({readonly:false});
                $('#txtEndDate').datebox({readonly:false});
                $('#txtStartDate').datebox('setValue', icsdateformat(new Date()));
                $('#txtEndDate').datebox('setValue', icsdateformat(new Date()));
            }
            else
            {
                _IsDateSelected=false;
                $('#txtStartDate').datebox({readonly:true});
                $('#txtEndDate').datebox({readonly:true});
                $('#txtStartDate').datebox('setValue', icsdateformat(new Date()));
                $('#txtEndDate').datebox('setValue', icsdateformat(new Date()));

            }
        });

        $('#btnPickMachine_OFF').click(function(e)
        {
            var oParameter = new Object();

            oParameter.Name = "Add New Machine";
            var url =_sBaseAddress+ "/ProductionSchedule/ViewMachine";
            var oMachineLocation=window.showModalDialog(url, oParameter,'dialogHeight:400px;dialogWidth:600px;dialogLeft:450;dialogTop:150;center:yes;resizable:no;status:no;scroll:yes');
            if(oMachineLocation!=null)
            {
                _nMachineID = oMachineLocation.DyeMachines.MachineID;
                _nLocationID = oMachineLocation.LocationID;
                document.getElementById("txtMachineName").value=oMachineLocation.DyeMachines.MachineName;
            }
        });
        function SetMachine(oMachineLocation)
        {
            if(oMachineLocation!=null)
            {
                _nMachineID = oMachineLocation.MachineID;
                _nLocationID = oMachineLocation.LocationID;
                document.getElementById("txtMachineName").value=oMachineLocation.Name;
            }
        }

        function GetMachines(sMachineName)
        {
            var oMachine = {
                BUID:_nBUID,
                //ResourcesTypeInInt:2,
                Name:sMachineName
            };
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oMachine,
                ControllerName: "DUPSchedule",
                ActionName: "GetsMachine",
                IsWinClose: false
            };


            debugger;
            var tblColums=[];
            var oColumn = { field: "Code", title: "Code", width: 100, align: "left" };tblColums.push(oColumn);
            oColumn = { field: "Name", title: "Machine Name", width: 150, align: "left" };tblColums.push(oColumn);
            oColumn = { field: "Capacity", title: "Capacity", width: 90, align: "left" };tblColums.push(oColumn);

            var oPickerParam = {
                winid: 'winProducts',
                winclass: 'clsProduct',
                winwidth: 600,
                winheight: 460,
                tableid: 'tblProducts',
                tablecolumns: tblColums,
                multiplereturn: false,
                searchingbyfieldName: 'Name',
                windowTittle: 'Machine List',
                paramObj:obj,
                pkID:'MachineID',
                callBack:SetMachine
            };

            $.icsDynamicPicker(oPickerParam);
        }
        $("#btnPickMachine").click(function () {
            var sName=document.getElementById("txtMachineName").value;
            GetMachines($.trim(sName));
        });
        $('#txtMachineName').keypress(function (e)
        {
            debugger;
            var code = (e.keyCode ? e.keyCode : e.which);
            var sName=document.getElementById("txtMachineName").value;

            if (code == 13)//Enter key-13
            {

                if($.trim(sName)!="")
                {
                    GetMachines($.trim(sName));
                }
                else
                {
                    alert("Please enter somethig to seach machine.");
                    Reset();
                }
            }

        });
        $('#btnReset').click(function(e)
        {
            Reset();
        });

        function Reset()
        {
            _nMachineID=0;
            _nLocationID=0;
            $("#txtMachineName")[0].value="";
        }
        function RefreshList(oRPCAs)
        {
            data = oRPCAs;
            data = { "total": "" + data.length + "", "rows": data };
            $('#tblProductionReport').datagrid('loadData', data);
            $.icsMakeFooterColumn('tblProductionReport',['ShadeName','Liquor','Qty','AddCount']);
        }

        $('#btnProductionListInExcel').click(function (e)
        {
            debugger;
            if(!_IsDateSelected)
            {
                alert("Please select Issue Date.");
                return;
            }

            //start datetime start
            var StartDate= $('#txtStartDate').datebox('getValue');
            var nhr=$('#txtStartTime').timespinner('getHours');
            var nmin=$('#txtStartTime').timespinner('getMinutes');
            var oStartDate=new Date(StartDate);            
            oStartDate.setHours(oStartDate.getHours()+nhr);
            oStartDate.setMinutes(oStartDate.getMinutes()+nmin);
            oStartDate = icsdatetimeformat(oStartDate);
           
            //end datetime start
            var EndDate= $('#txtEndDate').datebox('getValue');
            var nhr=$('#txtEndTime').timespinner('getHours');
            var nmin=$('#txtEndTime').timespinner('getMinutes');
            var oEndDate=new Date(EndDate);
            oEndDate.setHours(oEndDate.getHours()+nhr);
            oEndDate.setMinutes(oEndDate.getMinutes()+nmin);
            oEndDate = icsdatetimeformat(oEndDate);

            var sTempString=_nMachineID+'~'+_IsDateSelected+'~'+oStartDate+'~'+oEndDate;
            var nts=(new Date()).getTime()/1000;
            window.open(_sBaseAddress+"/ProductionCost/PrintExcelDUProductionRFT?sValue="+sTempString+"&nts="+nts);          
        });
        $('#btnReportPrint').click(function (e)
        {
            debugger;
            if(!_IsDateSelected)
            {
                alert("Please select Issue Date.");
                return;
            }
            //start datetime start
            var StartDate= $('#txtStartDate').datebox('getValue');
            var nhr=$('#txtStartTime').timespinner('getHours');
            var nmin=$('#txtStartTime').timespinner('getMinutes');
            var oStartDate=new Date(StartDate);            
            oStartDate.setHours(oStartDate.getHours()+nhr);
            oStartDate.setMinutes(oStartDate.getMinutes()+nmin);
            oStartDate = icsdatetimeformat(oStartDate);
           
            //end datetime start
            var EndDate= $('#txtEndDate').datebox('getValue');
            var nhr=$('#txtEndTime').timespinner('getHours');
            var nmin=$('#txtEndTime').timespinner('getMinutes');
            var oEndDate=new Date(EndDate);
            oEndDate.setHours(oEndDate.getHours()+nhr);
            oEndDate.setMinutes(oEndDate.getMinutes()+nmin);
            oEndDate = icsdatetimeformat(oEndDate);

            var sTempString=_nMachineID+'~'+_IsDateSelected+'~'+oStartDate+'~'+oEndDate;
            var nts=(new Date()).getTime()/1000;
            window.open(_sBaseAddress+"/ProductionCost/PrintDUProductionRFT?sValue="+sTempString+"&nts="+nts);          
        });
        $('#btnSummaryReport').click(function (e)
        {
            debugger;
            if(!_IsDateSelected)
            {
                alert("Please select Issue Date.");
                return;
            }
            //start datetime start
            var StartDate= $('#txtStartDate').datebox('getValue');
            var nhr=$('#txtStartTime').timespinner('getHours');
            var nmin=$('#txtStartTime').timespinner('getMinutes');
            var oStartDate=new Date(StartDate);            
            oStartDate.setHours(oStartDate.getHours()+nhr);
            oStartDate.setMinutes(oStartDate.getMinutes()+nmin);
            oStartDate = icsdatetimeformat(oStartDate);
           
            //end datetime start
            var EndDate= $('#txtEndDate').datebox('getValue');
            var nhr=$('#txtEndTime').timespinner('getHours');
            var nmin=$('#txtEndTime').timespinner('getMinutes');
            var oEndDate=new Date(EndDate);
            oEndDate.setHours(oEndDate.getHours()+nhr);
            oEndDate.setMinutes(oEndDate.getMinutes()+nmin);
            oEndDate = icsdatetimeformat(oEndDate);

            var sTempString=_nMachineID+'~'+_IsDateSelected+'~'+oStartDate+'~'+oEndDate;
            var nts=(new Date()).getTime()/1000;
            window.open(_sBaseAddress+"/ProductionCost/PrintProductionRFTSummary?sValue="+sTempString+"&nts="+nts);          
        });
        $('#btnSearch').click(function (e)
        {
            if(!_IsDateSelected)
            {
                alert("Please select Issue Date.");
                return;
            }

            //start datetime start
            var StartDate= $('#txtStartDate').datebox('getValue');
            var nhr=$('#txtStartTime').timespinner('getHours');
            var nmin=$('#txtStartTime').timespinner('getMinutes');
            var oStartDate=new Date(StartDate);            
            oStartDate.setHours(oStartDate.getHours()+nhr);
            oStartDate.setMinutes(oStartDate.getMinutes()+nmin);
            oStartDate = icsdatetimeformat(oStartDate);
           
            //end datetime start
            var EndDate= $('#txtEndDate').datebox('getValue');
            var nhr=$('#txtEndTime').timespinner('getHours');
            var nmin=$('#txtEndTime').timespinner('getMinutes');
            var oEndDate=new Date(EndDate);
            oEndDate.setHours(oEndDate.getHours()+nhr);
            oEndDate.setMinutes(oEndDate.getMinutes()+nmin);
            oEndDate = icsdatetimeformat(oEndDate);

            var sTempString=_nMachineID+'~'+_IsDateSelected+'~'+oStartDate+'~'+oEndDate;
            var nts=(new Date()).getTime()/1000;

            $.ajax({
                type: "POST",
                dataType: "json",
                url: _sBaseAddress+ "/ProductionCost/SearchDUProductionRFT",
                data:JSON.stringify({ sValue: sTempString,nts:nts }),
                contentType: "application/json; charset=utf-8",
                success: function (data)
                {
                    debugger;
                    var oRPCAs=[];
                    oRPCAs = data;

                    if(oRPCAs.length>0 && oRPCAs[0].ErrorMessage=="")
                    {
                        RefreshList(oRPCAs);
                    }
                    else
                    {
                        alert(oRPCAs[0].ErrorMessage);
                        RefreshList([]);
                    }

                },
            });
        });

        $('#btnPrint').click(function (e)
        {
            var oRouteSheet = $('#tblProductionReport').datagrid('getSelected');
            if (oRouteSheet ==null || oRouteSheet.RouteSheetID <=0 ) { alert("Please select an item from list."); return ; }
            var tsv=((new Date()).getTime())/1000;
            window.open(_sBaseAddress+ "/RouteSheet/PrintRouteSheet?nId="+oRouteSheet.RouteSheetID+"&bIsCommon="+true+"&nts="+tsv, "_blank");
        });
        $("#btnPrintPreview").click(function (e) {
            var oRouteSheet = $('#tblProductionReport').datagrid('getSelected');
            if (oRouteSheet ==null || oRouteSheet.RouteSheetID <=0 ) { alert("Invalid Route Sheet!!"); return ; }
            var nts = ((new Date()).getTime()) / 1000;
            window.open(_sBaseAddress +  "/DUBatchCost/PrintDUBatchCostFromDyesChemical?nId="+oRouteSheet.RouteSheetID+"&nts="+nts, "_blank");
        });
             
    </script>
