<html>
<head>
</head>
@model IEnumerable<ESimSol.BusinessObjects.ProductionCost>
@{

}
<body>
    <div style="font-family: Tahoma;width: 100%">
        <table border="0" cellspacing="2" cellpadding="2" style="width: 100%;">
            <tr>
                <td style="text-align: center; color: white; padding-top: 5px;">
                    <div style="width: 100%; background-color: gray;">
                        <center>
                            <label id="lblHeaderName" style="font-size: 15px; color: Blue; font-weight: bold;
                                color: white">
                                @ViewBag.Title
                            </label>
                        </center>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div>
                        <center>
                            <a id="hprlnkDefaultView" href="javascript:void(0)">Default View</a> || <a id="hprlnkBuyerWise"
                                href="javascript:void(0)">Buyer View</a> || <a id="hprlnkExecutionWise" href="javascript:void(0)">
                                    Execution Wise</a> || <a id="hprlnkDayWise" href="javascript:void(0)">Day Wise</a>
                        </center>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div id="regionDefaultView" style="margin-left: 0px; height: 500px; width: 100%;
        padding-top: 10px;">
        <table id="tblDefaultView" title="Default View" class="easyui-datagrid" style="height: 500px; width: 100%;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true"
            autorowheight="false" toolbar="#scheduleDetailtoolbar">
            <thead>
                <tr>
                    <th field="ProductionDateInString" width="130" align="left" rowspan="2">
                        Date
                    </th>
                    <th field="OrderNo" width="150" align="left" rowspan="2">
                        Execution No
                    </th>
                    <th field="BuyerName" width="160" align="left" rowspan="2">
                        Buyer Name
                    </th>
                    <th width="130" align="right" data-options="field:'TotalYarnValue',formatter:formatPrice" rowspan="2">
                        Yarn Cost
                    </th>
                    <th width="780" align="center" colspan="5">
                        Base Dyeline
                    </th>
                    <th width="780" align="center" colspan="5">
                        ReDying Dyeline
                    </th>
                    
                </tr>
                <tr>
                    <th field="RouteSheetNo" width="100" align="left">
                        DL No
                    </th>
                    <th width="130" align="right" data-options="field:'TotalDyesValue',formatter:formatPrice">
                        Dyes Cost
                    </th>
                    <th width="130" align="right" data-options="field:'TotalChemicalValue',formatter:formatPrice">
                        Chemical Cost
                    </th>
                    <th width="130" align="right" data-options="field:'TotalDyesChemicalValue',formatter:formatPrice">
                        DC Cost
                    </th>
                    <th width="130" align="right" data-options="field:'TotalValue',formatter:formatPrice">
                        Total Cost
                    </th>

                    <th field="ReDyeRouteSheetNo" width="100" align="left">
                        DL No
                    </th>
                    <th width="130" align="right" data-options="field:'ReDyeTotalDyesValue',formatter:formatPrice">
                        Dyes Cost
                    </th>
                    <th width="130" align="right" data-options="field:'ReDyeTotalChemicalValue',formatter:formatPrice">
                        Chemical Cost
                    </th>
                    <th width="130" align="right" data-options="field:'ReDyeTotalDyesChemicalValue',formatter:formatPrice">
                        DC Cost
                    </th>
                    <th width="130" align="right" data-options="field:'ReDyeTotalValue',formatter:formatPrice">
                        Total Cost
                    </th>
                </tr>
            </thead>
        </table>
        ​
        <div id="scheduleDetailtoolbar" style='height: 51px;'>
            <div>
                <select id="cboDateType" style="width: 97px">
                    <option value='0'>None</option>
                    <option value='1'>Equal</option>
                    <option value='2'>Between</option>
                </select>
                <span id="regionDateFrom" style="padding-left: 8px;">
                    <input id="txtStartDate" type="text" style="width: 105px;" class="easyui-datebox"
                           data-options="formatter:icsdateformat,parser:icsdateparser" />
                </span>
                <span id="regionDateTo" style="padding-left: 8px;">
                    <span style="padding-right: 8px;">
                        To
                    </span><input id="txtEndDate" type="text" style="width: 105px;" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" />
                </span>@*<label id="lblProject" style=" padding-left:8px; "></label>*@
                <span style="padding-left: 10px;">
                    <input type="text" id="txtExecutionNos" placeholder="Pick Execution Nos" />
                    <input type="button" id="btnPickExecution" value="P" />
                    <input type="button" id='btnPickExecutionReset' value='R' />
                </span>@*Execution No</span> <input type="text" id="txtJobCode" PlaceHolder="Code" style="width: 30px; font-size: 11px;"
                        maxlength="2" />
                    <input type="text" id="txtJobNo" PlaceHolder="No" style="width: 40px; font-size: 11px;"
                        maxlength="5" />
                    <input type="text" id="txtJobYear" PlaceHolder="Year" style="width:30px; font-size: 11px;"
                        maxlength="2" />*@
            </div>
            <div>
                <input type="text" id="txtRouteSheetNo" style="width: 90px;" placeholder='Enter DL No' />
                <span style="padding-left: 10px;">
                    <input type="text" id="txtBuyerName" style="width: 200px;" placeholder='Press Enter & Select Buyer' />
                    <input type="button" id='btnPickBuyer' value='P' /><input type="button" id='btnPickBuyerReset'
                        value='R' /></span> <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton"
                            iconcls="icon-search" plain="true">Search</a> <a id="btnPrintDefaultView" href="javascript:void(0)"
                                class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
            </div>
        </div>
    </div>
    <div id="regionBuyerWise" style="margin-left: 0px; height: 500px; width: 100%; padding-top: 10px;">
        <table id="tblBuyerWise" title="Buyer Wise" class="easyui-datagrid" style="height: 500px; width: 100%;" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true"
            autorowheight="false" toolbar="#buyerwisetoolbar">
            <thead>
                <tr>
                    <th field="BuyerName" width="160" align="left" rowspan="2">
                        Buyer Name
                    </th>
                     <th width="130" align="right" data-options="field:'TYarnValue',formatter:formatPrice" rowspan="2">
                        Yarn Cost
                    </th>
                    <th width="650" align="center" colspan="4">
                        Base Dyeline
                    </th>
                    <th width="650" align="center" colspan="4">
                        ReDying Dyeline
                    </th>

                </tr>
                <tr>
                   
                    <th width="130" align="right" data-options="field:'TDyesValue',formatter:formatPrice">
                        Dyes Cost
                    </th>
                    <th width="130" align="right" data-options="field:'TChemicalValue',formatter:formatPrice">
                        Chemical Cost
                    </th>
                    <th width="130" align="right" data-options="field:'TDCValue',formatter:formatPrice">
                        DC Cost
                    </th>
                    <th width="130" align="right" data-options="field:'TValue',formatter:formatPrice">
                        Total Cost
                    </th>

                    <th width="130" align="right" data-options="field:'ReDyeTDyesValue',formatter:formatPrice">
                        Dyes Cost
                    </th>
                    <th width="130" align="right" data-options="field:'ReDyeTChemicalValue',formatter:formatPrice">
                        Chemical Cost
                    </th>
                    <th width="130" align="right" data-options="field:'ReDyeTDCValue',formatter:formatPrice">
                        DC Cost
                    </th>
                    <th width="130" align="right" data-options="field:'ReDyeTValue',formatter:formatPrice">
                        Total Cost
                    </th>
                </tr>
            </thead>
        </table>
        ​
        <div id="buyerwisetoolbar">
            <a id="btnPrintBuyerWise" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print"
                plain="true">Print</a>
        </div>
    </div>
    <div id="regionExecutionWise" style="margin-left: 0px; height: 500px; width: 100%;
        padding-top: 10px;">
        <table id="tblExecutionWise" title="Execution Wise" class="easyui-datagrid" style="height: 500px; width: 100%;" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true"
            autorowheight="false" toolbar="#ExecutionWisetoolbar">
            <thead>
                <tr>
                    <th field="OrderNo" width="160" align="left" rowspan="2">
                        Execution No
                    </th>
                    <th width="130" align="right" data-options="field:'TYarnValue',formatter:formatPrice" rowspan="2">
                        Yarn Cost
                    </th>
                    <th width="650" align="center" colspan="4">
                        Base Dyeline
                    </th>
                    <th width="650" align="center" colspan="4">
                        ReDying Dyeline
                    </th>
                </tr>
                <tr>
                    
                    <th width="130" align="right" data-options="field:'TDyesValue',formatter:formatPrice">
                        Dyes Cost
                    </th>
                    <th width="130" align="right" data-options="field:'TChemicalValue',formatter:formatPrice">
                        Chemical Cost
                    </th>
                    <th width="130" align="right" data-options="field:'TDCValue',formatter:formatPrice">
                        Total DC Cost
                    </th>
                    <th width="130" align="right" data-options="field:'TValue',formatter:formatPrice">
                        Total Cost
                    </th>

                    <th width="130" align="right" data-options="field:'ReDyeTDyesValue',formatter:formatPrice">
                        Dyes Cost
                    </th>
                    <th width="130" align="right" data-options="field:'ReDyeTChemicalValue',formatter:formatPrice">
                        Chemical Cost
                    </th>
                    <th width="130" align="right" data-options="field:'ReDyeTDCValue',formatter:formatPrice">
                        Total DC Cost
                    </th>
                    <th width="130" align="right" data-options="field:'ReDyeTValue',formatter:formatPrice">
                        Total Cost
                    </th>
                </tr>
            </thead>
        </table>
        ​
        <div id="ExecutionWisetoolbar">
            <a id="btnPrintExecutionWise" href="javascript:void(0)" class="easyui-linkbutton"
                iconcls="icon-print" plain="true">Print</a>
        </div>
    </div>
    <div id="regionDayWise" style="margin-left: 0px; height: 550px; width: 900px; padding-top: 10px;">
        <table id="tblDayWise" title="Day Wise" class="easyui-datagrid" style="height: 500px; width: 100%;" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true"
            autorowheight="false" toolbar="#DayWisetoolbar">
            <thead>
                <tr>
                    <th field="PDateInString" width="160" align="left" rowspan="2">
                        Date
                    </th>
                    <th width="130" align="right" data-options="field:'TYarnValue',formatter:formatPrice" rowspan="2">
                        Yarn Cost
                    </th>
                    <th width="650" align="center" colspan="4">
                        Base Dyeline
                    </th>
                    <th width="650" align="center" colspan="4">
                        ReDying Dyeline
                    </th>
                     
                </tr>
                <tr>
                  
                    <th width="130" align="right" data-options="field:'TDyesValue',formatter:formatPrice">
                        Dyes Cost
                    </th>
                    <th width="130" align="right" data-options="field:'TChemicalValue',formatter:formatPrice">
                        Chemical Cost
                    </th>
                    <th width="130" align="right" data-options="field:'TDCValue',formatter:formatPrice">
                        Total DC Cost
                    </th>
                    <th width="130" align="right" data-options="field:'TValue',formatter:formatPrice">
                        Total Cost
                    </th>

                    <th width="130" align="right" data-options="field:'ReDyeTDyesValue',formatter:formatPrice">
                        Dyes Cost
                    </th>
                    <th width="130" align="right" data-options="field:'ReDyeTChemicalValue',formatter:formatPrice">
                        Chemical Cost
                    </th>
                    <th width="130" align="right" data-options="field:'ReDyeTDCValue',formatter:formatPrice">
                        Total DC Value
                    </th>
                    <th width="130" align="right" data-options="field:'ReDyeTValue',formatter:formatPrice">
                        Total Cost
                    </th>
                </tr>
            </thead>
        </table>
        ​
        <div id="DayWisetoolbar">
            <a id="btnPrintDayWise" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print"
                plain="true">Print</a>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">

var _value ="";
var _sBaseAddress="";
var _oPCRDs=[];
var obj=window.dialogArguments;
var _sPTUIDs="";
var _nValidCol=0;
var _sJobNo="";
var _sPIIDs="";
var _sBuyerIDs='';
var _sRouteSheetsNos='';
var _sValue="";

$(document).ready(function () 
{
   debugger;   
    _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));                 
    //_oPCRDs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));

    $('#txtStartDate').datebox('setValue',icsdateformat(new Date()));
    $('#txtEndDate').datebox('setValue',icsdateformat(new Date()));
     var nDateType = $("#cboDateType").val();
     if (nDateType == 0) 
     {            
            document.getElementById("regionDateTo").style.display = 'none'; 
            document.getElementById("regionDateFrom").style.display = 'none';     
     }

    document.getElementById("regionDefaultView").style.display = 'block';
    document.getElementById("regionBuyerWise").style.display = 'none';
    document.getElementById("regionExecutionWise").style.display = 'none';
    document.getElementById("regionDayWise").style.display = 'none';

//    var sYear=(new Date()).getFullYear().toString();
//    sYear=sYear.substring(2,sYear.length);
//    $("#txtJobYearDefault")[0].value=sYear;

});


$('#hprlnkDefaultView').click(function(e)  
{
    document.getElementById("regionBuyerWise").style.display = 'none';
    document.getElementById("regionDefaultView").style.display = 'block';
    document.getElementById("regionExecutionWise").style.display = 'none';
    document.getElementById("regionDayWise").style.display = 'none';
    DefaultView();

});

$('#hprlnkBuyerWise').click(function(e)
{

    document.getElementById("regionBuyerWise").style.display = 'block';
    document.getElementById("regionDefaultView").style.display = 'none'; 
    document.getElementById("regionExecutionWise").style.display = 'none';
    document.getElementById("regionDayWise").style.display = 'none';
    ViewBuyerWise();
});



$('#hprlnkExecutionWise').click(function(e) 
{
    document.getElementById("regionBuyerWise").style.display = 'none';
    document.getElementById("regionDefaultView").style.display = 'none'; 
    document.getElementById("regionExecutionWise").style.display = 'block';
    document.getElementById("regionDayWise").style.display = 'none';
    ViewExecutionWise();
});


$('#hprlnkDayWise').click(function(e) 
{
    document.getElementById("regionBuyerWise").style.display = 'none';
    document.getElementById("regionDefaultView").style.display = 'none'; 
    document.getElementById("regionExecutionWise").style.display = 'none';
    document.getElementById("regionDayWise").style.display = 'block';
    ViewDayWise();
});






$('#cboDateType').change(function () {
        debugger
        var nDateType = $("#cboDateType").val();
        if (nDateType == 0) {            
              document.getElementById("regionDateTo").style.display = 'none'; 
              document.getElementById("regionDateFrom").style.display = 'none';     
        }
        if (nDateType == 1 ) 
        {            
          document.getElementById("regionDateFrom").style.display = '';
          document.getElementById("regionDateTo").style.display = 'none';       
        }
        if (nDateType == 2 ) 
        {
          document.getElementById("regionDateFrom").style.display = '';
          document.getElementById("regionDateTo").style.display = ''; 
        }
});

function Validation()
{

       var nDateType = $("#cboDateType").val();
       var dStartTime = $('#txtStartDate').datebox('getValue');
       var dEndTime =$('#txtEndDate').datebox('getValue');
       _sRouteSheetsNos= document.getElementById('txtRouteSheetNo').value;
       if(nDateType==0 && _sBuyerIDs=='' && _sRouteSheetsNos=='' && _sPTUIDs=='')
       {
            alert("Please select at least one criteria.");
            return false;
       }
        _sValue=nDateType+'~'+dStartTime+'~'+dEndTime+'~'+_sBuyerIDs+'~'+_sRouteSheetsNos+'~'+_sPTUIDs;
       return true;
}

$('#btnSearch').click(function(e)
{
       DefaultView();
});

function LoadIntoGridDefaultView(_oPCRDs)
{
      $('#tblDefaultView').empty();
      data = _oPCRDs;
      data = { "total": "" + data.length + "", "rows": data };
      $('#tblDefaultView').datagrid('loadData', data);

     if(_oPCRDs.length>0)
     {
        var nTotalYarnValue=0;
        var nTotalDyesValue=0;
        var nTotalChemicalValue=0;
        var nTotalDyesChemicalValue=0;
        var nTotalValue=0;
        var nReDyeTotalYarnValue=0;
        var nReDyeTotalDyesValue=0;
        var nReDyeTotalChemicalValue=0;
        var nReDyeTotalDyesChemicalValue=0;
        var nReDyeTotalValue=0;
        for(var i=0;i<_oPCRDs.length;i++)
        {
            nTotalYarnValue= parseFloat(nTotalYarnValue)+parseFloat(_oPCRDs[i].TotalYarnValue);
            nTotalDyesValue= parseFloat(nTotalDyesValue)+parseFloat(_oPCRDs[i].TotalDyesValue);
            nTotalChemicalValue= parseFloat(nTotalChemicalValue)+parseFloat(_oPCRDs[i].TotalChemicalValue);
            nTotalDyesChemicalValue=parseFloat(nTotalDyesChemicalValue)+parseFloat(_oPCRDs[i].TotalDyesChemicalValue);
            nTotalValue= parseFloat(nTotalValue)+parseFloat(_oPCRDs[i].TotalValue);

            nReDyeTotalYarnValue= parseFloat(nReDyeTotalYarnValue)+parseFloat(_oPCRDs[i].ReDyeTotalYarnValue);
            nReDyeTotalDyesValue= parseFloat(nReDyeTotalDyesValue)+parseFloat(_oPCRDs[i].ReDyeTotalDyesValue);
            nReDyeTotalChemicalValue= parseFloat(nReDyeTotalChemicalValue)+parseFloat(_oPCRDs[i].ReDyeTotalChemicalValue);
            nReDyeTotalDyesChemicalValue=parseFloat(nReDyeTotalDyesChemicalValue)+parseFloat(_oPCRDs[i].ReDyeTotalDyesChemicalValue);
            nReDyeTotalValue= parseFloat(nReDyeTotalValue)+parseFloat(_oPCRDs[i].ReDyeTotalValue);
        }
        var oPC=
        {
             BuyerName : '<b>Total</b>',
             TotalYarnValue : nTotalYarnValue.toFixed(2),
             TotalDyesValue : nTotalDyesValue.toFixed(2),
             TotalChemicalValue : nTotalChemicalValue.toFixed(2),
             TotalDyesChemicalValue: nTotalDyesChemicalValue.toFixed(2),
             TotalValue : nTotalValue.toFixed(2),

             ReDyeTotalYarnValue : nReDyeTotalYarnValue.toFixed(2),
             ReDyeTotalDyesValue : nReDyeTotalDyesValue.toFixed(2),
             ReDyeTotalChemicalValue : nReDyeTotalChemicalValue.toFixed(2),
             ReDyeTotalDyesChemicalValue: nReDyeTotalDyesChemicalValue.toFixed(2),
             ReDyeTotalValue : nReDyeTotalValue.toFixed(2)
        }
        $('#tblDefaultView').datagrid('appendRow',oPC); 
     } 
}
    
$('#txtBuyerName').keypress(function (e) 
{
        //debugger;
        var code = (e.keyCode ? e.keyCode : e.which);
        var sName=document.getElementById("txtBuyerName").value;
        if (code == 13)//Enter key-13
        {
           if(sName!="")
           {
               var nts=(new Date()).getTime()/1000;
               var oParameter = new Object();
               oParameter.MultipleItemReturn = true;
               oParameter.Name=sName;
               var url = _sBaseAddress + "/Contractor/ContractorSearchByKeyPress?sStr="+sName+"&nType="+0+"&nts="+nts;
               var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:420px;dialogWidth:465px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
               if(oReturnObject.length>0)
               {
                 var sBuyerName='';
                 _sBuyerIDs='';
                 for(var i=0;i<oReturnObject.length;i++)
                 {
                     sBuyerName=sBuyerName+oReturnObject[i].Name+',';
                    _sBuyerIDs=_sBuyerIDs+oReturnObject[i].ContractorID+',';
                 }
                 sBuyerName=sBuyerName.substring(0,sBuyerName.length-1);
                 _sBuyerIDs=_sBuyerIDs.substring(0,_sBuyerIDs.length-1);
                 $("#txtBuyerName")[0].value=sBuyerName;
               }
             }
             else
             {
                alert("Please enter a buyer name.");
             }
        }

 }); 
 
 $('#btnPickBuyer').click(function (e)
{
       var oParameter = new Object();
       oParameter.MultipleItemReturn = true;
       var url = _sBaseAddress + "/Contractor/ContractorSearch";
       var oReturnObject = window.showModalDialog(url, oParameter, 'dialogHeight:420px;dialogWidth:465px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
       if(oReturnObject.length>0)
       {
         var sBuyerName='';
         _sBuyerIDs='';
         for(var i=0;i<oReturnObject.length;i++)
         {
            sBuyerName=sBuyerName+oReturnObject[i].Name+',';
            _sBuyerIDs=_sBuyerIDs+oReturnObject[i].ContractorID+',';
         }
         sBuyerName=sBuyerName.substring(0,sBuyerName.length-1);
         _sBuyerIDs=_sBuyerIDs.substring(0,_sBuyerIDs.length-1);
         $("#txtBuyerName")[0].value=sBuyerName;
       }
       
});   

 $('#btnPickBuyerReset').click(function (e)
 {
    $("#txtBuyerName")[0].value='';
    _sBuyerIDs="";
 });



$('#btnPickExecution').click(function(e)
{
        var oParameter = new Object();
        oParameter.MultipleItemReturn = true;
        oParameter.IsYetToProduction = true;
        oParameter.From = "PTU";
        var url =_sBaseAddress+ "/PTU/PTUSearch";
        var oSelectedPTUs = window.showModalDialog(url, oParameter, 'dialogHeight:620px;dialogWidth:700px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
        if(oSelectedPTUs!=null)
        {
           var sOrderNos="";
           for(var i=0; i<oSelectedPTUs.length;i++)
           {
             _sPTUIDs=_sPTUIDs+oSelectedPTUs[i].ProductionTracingUnitID+',';
             sOrderNos=sOrderNos+oSelectedPTUs[i].JobNo+',';
           }
           _sPTUIDs=_sPTUIDs.substring(0,_sPTUIDs.length-1);
           document.getElementById('txtExecutionNos').value =sOrderNos.substring(0,sOrderNos.length-1);
        }
}); 

 $('#btnPickExecutionReset').click(function (e)
 {
    document.getElementById('txtExecutionNos').value='';
    _sPTUIDs="";
 });

function DefaultView()
{
      if(!Validation())
      {
        return;
      }
       var nts= (new Date()).getTime()/1000;
       $.ajax({
               type: "POST",
               dataType: "json",               
               url: _sBaseAddress+ "/ProductionCost/SearchReDyeing",
               data: JSON.stringify({sValue:_sValue, nts:nts}),
               contentType: "application/json; charset=utf-8",
               success: function (data) 
               {
                   debugger; 
                     _oPCRDs = jQuery.parseJSON(data);                  
                    if(_oPCRDs.length>0 && _oPCRDs[0].ErrorMessage==null)
                    {
                         LoadIntoGridDefaultView(_oPCRDs);
                    }
                    else
                    {
                      alert(_oPCRDs[0].ErrorMessage);
                      LoadIntoGridDefaultView([]);
                    }    
          
                     
                 },
                 error: function (xhr, status, error) 
                 {
                     alert(error);
                 }
            });
}

function ViewBuyerWise()
{
       if(!Validation())
       {
          return;
       }
       var nts= (new Date()).getTime()/1000;
       var nViewType=2; // BuyerWise;
       $.ajax({
               type: "POST",
               dataType: "json",               
               url: _sBaseAddress+ "/ProductionCost/SearchByViewTypeReDyeing",
               data: JSON.stringify({sValue:_sValue,nViewType:nViewType, nts:nts}),
               contentType: "application/json; charset=utf-8",
               success: function (data) 
               {
                   debugger; 
                     _oPCRDs = jQuery.parseJSON(data);                  
                    if(_oPCRDs.length>0)
                    {
                         LoadIntoGridBuyerWise(_oPCRDs);
                    }
                    else
                    {
                      alert("No Data found.");
                      LoadIntoGridBuyerWise([]);
                    }    
          
                     
                 },
                 error: function (xhr, status, error) 
                 {
                     alert(error);
                 }
            });
}    
function LoadIntoGridBuyerWise(_oPCRDs)
{
      $('#tblBuyerWise').empty();
      data = _oPCRDs;
      data = { "total": "" + data.length + "", "rows": data };
      $('#tblBuyerWise').datagrid('loadData', data);
      if(_oPCRDs.length>0)
      {
        var nTotalYarnValue=0;
        var nTotalDyesValue=0;
        var nTotalChemicalValue=0;
        var nTotalDyesChemicalValue=0;
        var nTotalValue=0;
        var nReDyeTotalYarnValue=0;
        var nReDyeTotalDyesValue=0;
        var nReDyeTotalChemicalValue=0;
        var nReDyeTotalDyesChemicalValue=0;
        var nReDyeTotalValue=0;
        for(var i=0;i<_oPCRDs.length;i++)
        {
            nTotalYarnValue= parseFloat(nTotalYarnValue)+parseFloat(_oPCRDs[i].TYarnValue);
            nTotalDyesValue= parseFloat(nTotalDyesValue)+parseFloat(_oPCRDs[i].TDyesValue);
            nTotalChemicalValue= parseFloat(nTotalChemicalValue)+parseFloat(_oPCRDs[i].TChemicalValue);
            nTotalDyesChemicalValue=parseFloat(nTotalDyesChemicalValue)+parseFloat(_oPCRDs[i].TDCValue);
            nTotalValue= parseFloat(nTotalValue)+parseFloat(_oPCRDs[i].TValue);

            nReDyeTotalYarnValue= parseFloat(nReDyeTotalYarnValue)+parseFloat(_oPCRDs[i].ReDyeTYarnValue);
            nReDyeTotalDyesValue= parseFloat(nReDyeTotalDyesValue)+parseFloat(_oPCRDs[i].ReDyeTDyesValue);
            nReDyeTotalChemicalValue= parseFloat(nReDyeTotalChemicalValue)+parseFloat(_oPCRDs[i].ReDyeTChemicalValue);
            nReDyeTotalDyesChemicalValue=parseFloat(nReDyeTotalDyesChemicalValue)+parseFloat(_oPCRDs[i].ReDyeTDCValue);
            nReDyeTotalValue= parseFloat(nReDyeTotalValue)+parseFloat(_oPCRDs[i].ReDyeTValue);
        }
        var oPC=
        {
             BuyerName : '<b>Total</b>',
             TYarnValue : nTotalYarnValue.toFixed(2),
             TDyesValue : nTotalDyesValue.toFixed(2),
             TChemicalValue : nTotalChemicalValue.toFixed(2),
             TDCValue : nTotalDyesChemicalValue.toFixed(2),
             TValue : nTotalValue.toFixed(2),

             ReDyeTYarnValue : nReDyeTotalYarnValue.toFixed(2),
             ReDyeTDyesValue : nReDyeTotalDyesValue.toFixed(2),
             ReDyeTChemicalValue : nReDyeTotalChemicalValue.toFixed(2),
             ReDyeTDCValue : nReDyeTotalDyesChemicalValue.toFixed(2),
             ReDyeTValue : nReDyeTotalValue.toFixed(2)
        }
        $('#tblBuyerWise').datagrid('appendRow',oPC); 
      }
}
function ViewExecutionWise()
{
       if(!Validation())
       {
          return;
       }
       var nts= (new Date()).getTime()/1000;
       var nViewType=3; // ExecutionWise;
       $.ajax({
               type: "POST",
               dataType: "json",               
               url: _sBaseAddress+ "/ProductionCost/SearchByViewTypeReDyeing",
               data: JSON.stringify({sValue:_sValue,nViewType:nViewType, nts:nts}),
               contentType: "application/json; charset=utf-8",
               success: function (data) 
               {
                   debugger; 
                     _oPCRDs = jQuery.parseJSON(data);                  
                    if(_oPCRDs.length>0)
                    {
                         LoadIntoGridExecutionWise(_oPCRDs);
                    }
                    else
                    {
                      alert("No Data found.");
                      LoadIntoGridExecutionWise([]);
                    }    
           
                 },
                 error: function (xhr, status, error) 
                 {
                     alert(error);
                 }
            });
} 
function LoadIntoGridExecutionWise(_oPCRDs)
{
      $('#tblExecutionWise').empty(); 
      data = _oPCRDs;
      data = { "total": "" + data.length + "", "rows": data };
      $('#tblExecutionWise').datagrid('loadData', data);
      if(_oPCRDs.length>0)
      {
        var nTotalYarnValue=0;
        var nTotalDyesValue=0;
        var nTotalChemicalValue=0;
        var nTotalDyesChemicalValue=0;
        var nTotalValue=0;

        var nReDyeTotalYarnValue=0;
        var nReDyeTotalDyesValue=0;
        var nReDyeTotalChemicalValue=0;
        var nReDyeTotalDyesChemicalValue=0;
        var nReDyeTotalValue=0;

        
        for(var i=0;i<_oPCRDs.length;i++)
        {
            nTotalYarnValue= parseFloat(nTotalYarnValue)+parseFloat(_oPCRDs[i].TYarnValue);
            nTotalDyesValue= parseFloat(nTotalDyesValue)+parseFloat(_oPCRDs[i].TDyesValue);
            nTotalChemicalValue= parseFloat(nTotalChemicalValue)+parseFloat(_oPCRDs[i].TChemicalValue);
            nTotalDyesChemicalValue=parseFloat(nTotalDyesChemicalValue)+parseFloat(_oPCRDs[i].TDCValue);
            nTotalValue= parseFloat(nTotalValue)+parseFloat(_oPCRDs[i].TValue);

            nReDyeTotalYarnValue= parseFloat(nReDyeTotalYarnValue)+parseFloat(_oPCRDs[i].ReDyeTYarnValue);
            nReDyeTotalDyesValue= parseFloat(nReDyeTotalDyesValue)+parseFloat(_oPCRDs[i].ReDyeTDyesValue);
            nReDyeTotalChemicalValue= parseFloat(nReDyeTotalChemicalValue)+parseFloat(_oPCRDs[i].ReDyeTChemicalValue);
            nReDyeTotalDyesChemicalValue=parseFloat(nReDyeTotalDyesChemicalValue)+parseFloat(_oPCRDs[i].ReDyeTDCValue);
            nReDyeTotalValue= parseFloat(nReDyeTotalValue)+parseFloat(_oPCRDs[i].ReDyeTValue);

            
        }
        var oPC=
        {
             OrderNo : '<b>Total</b>',
             TYarnValue : nTotalYarnValue.toFixed(2),
             TDyesValue : nTotalDyesValue.toFixed(2),
             TChemicalValue : nTotalChemicalValue.toFixed(2),
             TDCValue : nTotalDyesChemicalValue.toFixed(2),
             TValue : nTotalValue.toFixed(2),

             ReDyeTYarnValue : nReDyeTotalYarnValue.toFixed(2),
             ReDyeTDyesValue : nReDyeTotalDyesValue.toFixed(2),
             ReDyeTChemicalValue : nReDyeTotalChemicalValue.toFixed(2),
             ReDyeTDCValue : nReDyeTotalDyesChemicalValue.toFixed(2),
             ReDyeTValue : nReDyeTotalValue.toFixed(2)
        }
        $('#tblExecutionWise').datagrid('appendRow',oPC); 
      } 
}
function ViewDayWise()
{
       if(!Validation())
       {
          return;
       }
       var nts= (new Date()).getTime()/1000;
       
       var nViewType=4; // DayWise;
       $.ajax({
               type: "POST",
               dataType: "json",               
               url: _sBaseAddress+ "/ProductionCost/SearchByViewTypeReDyeing",
               data: JSON.stringify({sValue:_sValue,nViewType:nViewType, nts:nts}),
               contentType: "application/json; charset=utf-8",
               success: function (data) 
               {
                   debugger; 
                     _oPCRDs = jQuery.parseJSON(data);                  
                    if(_oPCRDs.length>0)
                    {   
                         LoadIntoGridDayWise(_oPCRDs);
                    }
                    else
                    {
                      alert("No Data found.");
                      LoadIntoGridDayWise([]);
                    }    
          
                     
                 },
                 error: function (xhr, status, error) 
                 {
                     alert(error);
                 }
            });
} 

function LoadIntoGridDayWise(_oPCRDs)
{
      $('#tblDayWise').empty(); 
      data = _oPCRDs;
      data = { "total": "" + data.length + "", "rows": data };
      $('#tblDayWise').datagrid('loadData', data);
      if(_oPCRDs.length>0)
      {
        var nTotalYarnValue=0;
        var nTotalDyesValue=0;
        var nTotalChemicalValue=0;
        var nTotalValue=0;
        var nTotalDyesChemicalValue=0;

        var nReDyeTotalYarnValue=0;
        var nReDyeTotalDyesValue=0;
        var nReDyeTotalChemicalValue=0;
        var nReDyeTotalValue=0;
        var nReDyeTotalDyesChemicalValue=0;
        
        for(var i=0;i<_oPCRDs.length;i++)
        {
            nTotalYarnValue= parseFloat(nTotalYarnValue)+parseFloat(_oPCRDs[i].TYarnValue);
            nTotalDyesValue= parseFloat(nTotalDyesValue)+parseFloat(_oPCRDs[i].TDyesValue);
            nTotalChemicalValue= parseFloat(nTotalChemicalValue)+parseFloat(_oPCRDs[i].TChemicalValue);
            nTotalDyesChemicalValue=parseFloat(nTotalDyesChemicalValue)+parseFloat(_oPCRDs[i].TDCValue);
            nTotalValue= parseFloat(nTotalValue)+parseFloat(_oPCRDs[i].TValue);

            nReDyeTotalYarnValue= parseFloat(nReDyeTotalYarnValue)+parseFloat(_oPCRDs[i].ReDyeTYarnValue);
            nReDyeTotalDyesValue= parseFloat(nReDyeTotalDyesValue)+parseFloat(_oPCRDs[i].ReDyeTDyesValue);
            nReDyeTotalChemicalValue= parseFloat(nReDyeTotalChemicalValue)+parseFloat(_oPCRDs[i].ReDyeTChemicalValue);
            nReDyeTotalDyesChemicalValue=parseFloat(nReDyeTotalDyesChemicalValue)+parseFloat(_oPCRDs[i].ReDyeTDCValue);
            nReDyeTotalValue= parseFloat(nReDyeTotalValue)+parseFloat(_oPCRDs[i].ReDyeTValue);
        }
        var oPC=
        {
             PDateInString : '<b>Total</b>',
             TYarnValue : nTotalYarnValue.toFixed(2),
             TDyesValue : nTotalDyesValue.toFixed(2),
             TChemicalValue : nTotalChemicalValue.toFixed(2),
             TDCValue : nTotalDyesChemicalValue.toFixed(2),
             TValue : nTotalValue.toFixed(2),

             ReDyeTYarnValue : nReDyeTotalYarnValue.toFixed(2),
             ReDyeTDyesValue : nReDyeTotalDyesValue.toFixed(2),
             ReDyeTChemicalValue : nReDyeTotalChemicalValue.toFixed(2),
             ReDyeTDCValue : nReDyeTotalDyesChemicalValue.toFixed(2),
             ReDyeTValue : nReDyeTotalValue.toFixed(2)
        }
        $('#tblDayWise').datagrid('appendRow',oPC); 
      }
}    

$('#btnPrintDefaultView').click(function (e) 
{

    var oRows = $('#tblDefaultView').datagrid('getRows');
    if(oRows==null || oRows.length<=0 || _sValue=='')
    {
      alert("There is no items in the list.");
      return;
    }
    window.open(_sBaseAddress+'/ProductionCost/PrintProductionCostReDyeing?sValue='+ _sValue +'&nViewType=1',"_blank");  
     
});


$('#btnPrintBuyerWise').click(function (e) 
{

    var oRows = $('#tblBuyerWise').datagrid('getRows');
    if(oRows==null || oRows.length<=0 || _sValue=='')
    {
      alert("There is no items in the list.");
      return;
    }
    window.open(_sBaseAddress+'/ProductionCost/PrintProductionCostReDyeing?sValue='+ _sValue +'&nViewType=2',"_blank");  
     
});


$('#btnPrintExecutionWise').click(function (e) 
{

    var oRows = $('#tblExecutionWise').datagrid('getRows');
    if(oRows==null || oRows.length<=0 || _sValue=='')
    {
      alert("There is no items in the list.");
      return;
    }
    window.open(_sBaseAddress+'/ProductionCost/PrintProductionCostReDyeing?sValue='+ _sValue +'&nViewType=3',"_blank");  
     
});


$('#btnPrintDayWise').click(function (e) 
{

    var oRows = $('#tblDayWise').datagrid('getRows');
    if(oRows==null || oRows.length<=0 || _sValue=='')
    {
      alert("There is no items in the list.");
      return;
    }
    window.open(_sBaseAddress+'/ProductionCost/PrintProductionCostReDyeing?sValue='+ _sValue +'&nViewType=4',"_blank");  
     
});


</script>
