@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "View Dispos";
}
@model IEnumerable<ESimSol.BusinessObjects.FabricDispo>
                      <div style="margin-left: 0px; height: 100%; width:100%">
                          <table id="tblFabricDispos" title="Fabric Dispo List" class="easyui-datagrid" style="width:100%" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarFabricDispo">
                              <thead>
                                  <tr>
                                      <th field="Code" width="15%">Code</th>
                                      <th field="FabricOrderTypeST" width="25%">Fabric Order Type</th>
                                      <th field="BusinessUnitTypeST" width="25%">Business Unit Type</th>
                                      <th field="IsReProduction" width="15%">Is Re-Production</th>
                                      <th field="IsYD" width="15%">IsYD</th>
                                      <th field="CodeLength" width="15%">Code Length</th>

                                  </tr>
                              </thead>
                          </table>
                          <div id="toolbarFabricDispo">
                              <a id="btnRefresh" href="javascript:void(0)" class="easyui-linkbutton easyui-tooltip" title="Refresh" iconcls="icon-reload" plain="true"></a>
                              @*<input type="text" id="txtSearchbyCode" placeholder="Search by Code" />*@
                              @*<input type="text" id="txtSearchByName" placeholder="Search by Name" />*@
                              @*<input type="text" id="txtSearchByNameDB" placeholder="Search by Name from DB" />*@
                              <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                              <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                              <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                          </div>
                          <div id="winAdd" class="easyui-window" title="Add Dispo" style="width:400px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
                              <div style="font-family:Tahoma; width:99%;font-family:Tahoma;">
                                  <fieldset style="width:100%">
                                      <legend>Input</legend>
                                      <table cellpadding="3">
                                          <tr>
                                              <td style="width:35%; font-weight:bold; text-align:right">Code:<input type="hidden" id="txtFabricDispoID"></td>
                                              <td style="width:60%"><input type="text" id="txtCode" style="width:100%"></td>
                                          </tr>
                                          <tr>
                                              <td style="width:35%; font-weight:bold; text-align:right">Fabric Order Type:</td>
                                              <td style="width:60%"><select id="dboFabricOrderType" style="width:100%"></select>
                                          </tr>
                                          <tr>
                                              <td style="width:35%; font-weight:bold; text-align:right">Business Unit Type:</td>
                                              <td style="width:60%"><select id="dboBusinessUnitType" style="width:100%"></select></td>
                                          </tr>
                                          <tr>
                                              <td style="width:35%; font-weight:bold; text-align:right">ReProduction:</td>
                                              <td style="width:60%">
                                                  <input type="checkbox" id="IsReProduction_Yes" value="value" onclick="if(this.checked){IsProductTypeChecked1(true)}else{IsProductTypeChecked(false)}" />Yes
                                                  <input type="checkbox" id="IsReProduction_No" value="value" onclick="if(this.checked){IsProductTypeChecked1(false)}else{IsProductTypeChecked(true)}" />No
                                              </td>
                                          </tr>
                                          <tr>
                                              <td style="width:35%; font-weight:bold; text-align:right">Is YD:</td>
                                              <td style="width:60%">
                                                  <input type="checkbox" id="IsYD_Yes" value="value" onclick="if(this.checked){IsProductTypeChecked(true)}else{IsProductTypeChecked(false)}" />Yes 
                                                  <input type="checkbox" id="IsYD_No"  value="value" onclick="if(this.checked){IsProductTypeChecked(false)}else{IsProductTypeChecked(true)}" />No
                                              </td>
                                          </tr>
                                          <tr>
                                              <td style="width:35%; font-weight:bold; text-align:right">Code Length:</td>
                                              <td style="width:60%"><input type="text" id="txtCodeLength" style="width:100%"></td>
                                          </tr>
                                      </table>
                                  </fieldset>
                                  <fieldset style="width:100%">
                                      <legend>Action</legend>
                                      <table style="width:100%">
                                          <tr>
                                              <td style="width:80%"><a id="btnSave" href="javascript:void(0)" style="float:right" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a></td>
                                              <td style="width:20%"><a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a></td>
                                          </tr>
                                      </table>
                                  </fieldset>
                              </div>
                              </div>
                          </div>
                              <script type="text/javascript">
                                  var _oFabricDispos = [];
                                  var _sBaseAddress = "";
                                  var _oFabricOrderTypes = [];
                                  var _oBusinessUnitTypes = [];
                                  $(document).ready(function() {
                                      _oFabricDispos = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
                                      _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
                                      _oFabricOrderTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.FabricOrderTypes));
                                      _oBusinessUnitTypes = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnitTypes));

                                      LoadComponents();
                                      
                                      debugger;
                                      var nIndex =sessionStorage.getItem("SelectedRowIndex");
                                      RefreshList(_oFabricDispos);
                                      if(nIndex!=null)
                                      {
                                          $('#tblFabricDispos').datagrid('selectRow', nIndex);
                                      }
                                  });
                                  function LoadComponents()
                                  {
                                      $("#dboFabricOrderType").icsLoadCombo({
                                          List: _oFabricOrderTypes,
                                          OptionValue: "id",		// or object property
                                          DisplayText: "Value",	//or object property
                                      });
                                      $("#dboBusinessUnitType").icsLoadCombo({
                                          List: _oBusinessUnitTypes,
                                          OptionValue: "id",		// or object property
                                          DisplayText: "Value",	//or object property
                                      });
                                  }
                                  function IsProductTypeChecked(bIstrue)
                                  {
                                      if(bIstrue)
                                      {
                                          $("#IsYD_Yes").prop( "checked", true );
                                          $("#IsYD_No").prop( "checked", false );
                                      }else{
                                          $("#IsYD_Yes").prop( "checked", false);
                                          $("#IsYD_No").prop( "checked", true );
                                      }
                                  }
                                  function IsProductTypeChecked1(bIstrue)
                                  {
                                      if(bIstrue)
                                      {
                                          $("#IsReProduction_Yes").prop("checked", true );
                                          $("#IsReProduction_No").prop( "checked", false );
                                      }else{
                                          $("IsReProduction_Yes").prop( "checked", false);
                                          $("#IsReProduction_No").prop( "checked", true );
                                      }
                                  }
                                  function RefreshList(oFabricDispos)
                                  {
                                      var data = oFabricDispos;
                                      data = { "total": "" + data.length + "", "rows": data };
                                      $("#tblFabricDispos").datagrid("loadData", data);
                                      if(parseInt(sessionStorage.getItem("SelectedRowIndex"))>0)
                                      {
                                          $("#tblFabricDispos").datagrid("selectRow", parseInt(sessionStorage.getItem("SelectedRowIndex")));
                                      }
                                  }
                                  $("#txtSearchbyCode").keyup(function (e) {
                                      $("#txtSearchbyCode").icsSearchListItems({
                                          Event: e,
                                          SearchProperty : "Code",
                                          GlobalObjectList: _oFabricDispos,
                                          TableId: "tblFabricDispos"
                                      });
                                  });
                                  $("#txtSearchByNameDB").keyup(function (e) {
                                      var oFabricDispo = {
                                          Name: $("#txtSearchByNameDB").val()
                                      };
                                      $("#txtSearchByNameDB").icsSearchListFromDatabase({
                                          BaseAddress: _sBaseAddress,
                                          Object: oFabricDispo,
                                          ControllerName: "FabricDispo",
                                          ActionName: "Gets",
                                          TableId: "tblFabricDispos"
                                      });
                                  });
                                  $("#btnRefresh").click(function () {
                                      location.reload();
                                  });
                                  $("#btnAdd").click(function(){
                                      var oFabricDispos= $('#tblFabricDispos').datagrid('getRows');
                                      sessionStorage.setItem("FabricDispos", JSON.stringify(oFabricDispos));
                                      sessionStorage.setItem("SelectedRowIndex", -1);
                                      $('#winAdd').icsWindow('open');
                                      ClearInputDiv();
                                  });
                                  function ClearInputDiv()
                                  {
                                      $('#txtFabricDispoID').val(0);
                                      $('#txtCode').val("");
                                      $('#dboFabricOrderType').val(0);
                                      $('#dboBusinessUnitType').val(0);
                                      $('#dboIsReProduction').val(1);
                                      $('#txtCodeLength').val(0);
                                      $("#IsReProduction_Yes").attr("checked", false);
                                      $("#IsReProduction_No").attr("checked", false);
                                      $("#IsYD_Yes").attr("checked", false);
                                      $("#IsYD_No").attr("checked", false);
                                  }
                                  $('#btnClose').click(function(){
                                      $('#winAdd').icsWindow('close');
                                  });
                                  $("#btnEdit").click(function(){
                                      ClearInputDiv();
                                      var oFabricDispo= $('#tblFabricDispos').datagrid('getSelected');
                                      if(oFabricDispo==null || oFabricDispo.FabricDispoID<=0)
                                      {
                                          alert("Please select a item from list!");
                                          return;
                                      }
                                      var SelectedRowIndex=$('#tblFabricDispos').datagrid('getRowIndex',oFabricDispo);
                                      var oFabricDispos= $('#tblFabricDispos').datagrid('getRows');
                                      sessionStorage.setItem("FabricDispos", JSON.stringify(oFabricDispos));
                                      sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
                                      $('#winAdd').icsWindow('open');
                                      RefreshObjectForEdit(oFabricDispo);
                                  });
                                  function RefreshObjectForEdit(oFabricDispo)
                                  {
                                      $('#txtFabricDispoID').val(oFabricDispo.FabricDispoID);
                                      $('#txtCode').val(oFabricDispo.Code);
                                      $('#dboFabricOrderType').val(oFabricDispo.FabricOrderType);
                                      $('#dboBusinessUnitType').val(oFabricDispo.BusinessUnitType);
                                      if(oFabricDispo.IsReProduction == true)
                                      {
                                          $("#IsReProduction_Yes").attr("checked", true);
                                      }
                                      else{
                                          $("#IsReProduction_No").attr("checked", true);
                                      }
                                      if(oFabricDispo.IsYD == true)
                                      {
                                          $("#IsYD_Yes").attr("checked", true);
                                      }
                                      else{
                                          $("#IsYD_No").attr("checked", true);
                                      }
                                      $('#txtCodeLength').val(oFabricDispo.CodeLength);
                                  }
                                  $("#btnDelete").click(function(){
                                      debugger;
                                      var oFabricDispo= $('#tblFabricDispos').datagrid('getSelected');
                                      if(oFabricDispo==null || oFabricDispo.FabricDispoID <=0)
                                      {
                                          alert("Invalid Field!!! please select a valid Field!");
                                          return false;
                                      }
                                      if (!confirm("Confirm to Delete?")) return ;
                                      var SelectedRowIndex=$('#tblFabricDispos').datagrid('getRowIndex',oFabricDispo);
                             
                                          $.ajax
                                          ({
                                              type: "GET",
                                              dataType: "json",
                                              url : _sBaseAddress+  "/FabricDispo/Delete",
                                              data: { id: oFabricDispo.FabricDispoID},
                                              contentType: "application/json; charset=utf-8",
                                              success: function (data) {
                                                  var feedbackmessage = jQuery.parseJSON(data);
                                                  if (feedbackmessage == "Deleted")
                                                  {
                                                      alert("Delete sucessfully");
                                                      $('#tblFabricDispos').datagrid('deleteRow',SelectedRowIndex);
                                                      var oFabricDispos= $('#tblFabricDispos').datagrid('getRows');
                                                      sessionStorage.setItem("FabricDispos", JSON.stringify(oFabricDispos));
                                                  }
                                                  else
                                                  {
                                                      alert(feedbackmessage);
                                                  }
                                              },
                                              error: function (xhr, status, error)
                                              {
                                                  alert(error);
                                              }
                                          });
                                  });
                                  function RefreshObject()
                                  {
                                      debugger;
                                      var makeObject =
                                          {
                                              FabricDispoID : $('#txtFabricDispoID').val(),
                                              Code : $('#txtCode').val(),
                                              FabricOrderType: $('#dboFabricOrderType').val(),
                                              BusinessUnitType : $('#dboBusinessUnitType').val(),
                                              IsReProduction : document.getElementById("IsReProduction_Yes").checked,
                                              IsYD : document.getElementById("IsYD_Yes").checked,
                                              CodeLength : $('#txtCodeLength').val(),
                                          }
                                      return makeObject;
                                  }
                                  $('#btnSave').click(function(){
                                      debugger;
                                      var oFabricDispo = RefreshObject();
                                      $.ajax
                                          ({
                                              type: "POST",
                                              dataType: "json",
                                              url : _sBaseAddress+  "/FabricDispo/Save",
                                              data:  JSON.stringify(oFabricDispo),
                                              contentType: "application/json; charset=utf-8",
                                              success: function (data) {
                                                  var oFabricDispo = jQuery.parseJSON(data);
                                                  if (oFabricDispo.ErrorMessage == "")
                                                  {
                                                      alert("Saved sucessfully");
                                                      var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                                                      var oFabricDispos = sessionStorage.getItem("FabricDispos");
                                                      if (oFabricDispos != null) {
                                                          oFabricDispos = jQuery.parseJSON(oFabricDispos);
                                                      }
                                                      else
                                                      {
                                                          oFabricDispos=[];
                                                      }
                                                      if (nIndex == -1) {
                                                          sessionStorage.setItem("SelectedRowIndex", oFabricDispos.length);
                                                          oFabricDispos.push(oFabricDispo);
                                                      }
                                                      else 
                                                      {
                                                          oFabricDispos[nIndex] = oFabricDispo;
                                                      }
                                                      sessionStorage.setItem("FabricDispos", JSON.stringify(oFabricDispos));
                                                      $("#winAdd").icsWindow('close');
                                                      RefreshList(oFabricDispos);
                                                      
                                                  }
                                                  else
                                                  {
                                                      alert(oFabricDispo.ErrorMessage);
                                                  }
                                              },
                                              error: function (xhr, status, error)
                                              {
                                                  alert(error);
                                              }
                                          });
                                  });
                              </script>




