@{
    ViewBag.Title = "RouteSheetCombine(s)";
}

@model IEnumerable<ESimSol.BusinessObjects.RouteSheetCombine>
    
    <head>
        <title>RouteSheetCombine(s)</title>      
    </head>

    <body>
        <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
            <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
                <label style="font-size:18px;">Please wait</label>
                <div id="progressbar" style="width:100%;height:37px;"></div>
            </div>
        </div>
        <div class="menuMainCollectionTable" >
            <table id="tblRouteSheetCombine" title="Combine Dyeing Card" class="easyui-datagrid" fit="true" fitcolumn="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarRouteSheetCombine">
                <thead>
                    <tr>
                        @*<th data-options=" field:'selected',checkbox:true"></th>*@
                        <th field="RSNo_Combine" width="10%">Combine(DL) No</th>
                        <th field="CombineRSDateSt" width="12%">Date</th>
                        @*<th field="OrderNoFull" width="12%">Order No</th>*@
                        <th field="ContractorName" width="18%">Buyer</th>
                        <th field="TotalQty" width="10%" align="right" formatter="formatPrice">TotalQty(Kg)</th>
                        <th field="TotalLiquor" width="10%" align="right" formatter="formatPrice">TotalLiquor</th>
                        <th field="ApproveByName" width="10%">Approve By</th>
                    </tr>
                </thead>

            </table>

            <div id="toolbarRouteSheetCombine">
                <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true" id="btnReload"></a>
                <input type="text" id="txtSearchByOrderNo" placeholder="Search by order No" style="width:100px;text-align:left" />
                <input type="text" id="txtSearchByBatchNo" placeholder="Search by Batch No" style="width:100px;text-align:left" />

                <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
                <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
                <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true"> <label id="lblOrderStatus">Approve</label> </a>
                <a id="btnUndoApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true"> Undo Approve</a>
                <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
                
            </div>
        </div>
        <div id="winAdvSearch" class="easyui-window winClass" title="Adv. Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <table style="width:100%;">
                <tr>
                    <td>
                        <fieldset style="margin-bottom: 0px;">
                            <legend>Searching Criteria</legend>
                            <table>
                               
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label> Date </label>
                                    </td>
                                    <td colspan="3">
                                        <select id="cboDate" style="width:30%;" onchange="DateActionsOrderDateAdvSearch();"></select>
                                        <input id="txtFromDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                        <input id="txtToDateAdvSearch" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Batch No:</label>
                                    </td>
                                    <td style=" width:30%;text-align:left;">
                                        <input id="txtRSNo" type="text" style="width:100%" />
                                    </td>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Order No:</label>
                                    </td>
                                    <td style=" width:30%;text-align:left;">
                                        <input id="txtOrderNo" type="text" style="width:100%" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        
                                    </td>
                                    <td colspan="2" style=" width:50%;text-align:right;">
                                        <label>Combine Batch No:</label>
                                    </td>
                                    <td style=" width:30%;text-align:left;">
                                        <input id="txtComRSNo" type="text" style="width:100%" />
                                    </td>
                                </tr>
                                <tr>
                                    <td height="10px" colspan="4"></td>
                                </tr>
                              
                            </table>
                            
                        </fieldset>
                    </td>
                </tr>
            </table>
           
            <fieldset class="actionfieldsetstyle">
                <legend>Actions : </legend>
                <label class="lblLoadingMessage" style="float: left;">Loading Please Wait...</label>
                <a id="btnResetAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
                <a id="btnSearchAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                <a id="btnCloseAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
            </fieldset>
        </div>
    </body>
                      <style type="text/css">
                          #winAdvSearch {
                              width: 450px;
                          }
                      </style>
    
    <script type="text/javascript">
    var _sBaseAddress="";
    var _oRouteSheetCombines=[];
    var _sContractorIds="";
    var _sMenuID=0;
    var _nBUID = 0;
    var _oWorkingUnits=[];

    $(document).ready(function () {
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oRouteSheetCombines =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));

        _sMenuID =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        _oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        debugger;
        if(sessionStorage.getItem("RouteSheetCombines")!=null && sessionStorage.getItem("RouteSheetCombines").length>0){
            _oRouteSheetCombines= jQuery.parseJSON(sessionStorage.getItem('RouteSheetCombines'));
            var nIndex= sessionStorage.getItem('SelectedRowIndex');
            DynamicRefreshList(_oRouteSheetCombines, 'tblRouteSheetCombine');
            if(nIndex>-1){
                $('#tblRouteSheetCombine').datagrid('selectRow',nIndex);
            }
        }
        else{
            DynamicRefreshList(_oRouteSheetCombines, 'tblRouteSheetCombine');
        }

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").hide();
        $(".lblLoadingMessage").hide();
        LoadComboAdv();
    });

    $(document).keydown(function (e) { if (e.keyCode == 27) { $('#winRouteSheetCombineOrder').icsWindow('close'); } });

    $('#tblRouteSheetCombine').datagrid({ onSelect: function (rowIndex, rowData) { OperationPerforms(rowIndex, rowData); } });

    function OperationPerforms(rowIndex, rowData)
    {
        if (rowData != null && rowData.RouteSheetCombineID > 0)
        {
            debugger;
            //if (rowData.ApproveBy!=0  && rowData.CheckedBy!=0)  //Initialized = 1,
            //{
            //    $('#btnEdit,#btnDelete,#btnChecked,#btnApprove').hide();
            //}
            //else if (rowData.ApproveBy==0 && rowData.CheckedBy!=0 ) 
            //{
            //    $('#btnEdit,#btnDelete').hide();
            //    $('#btnApprove').show();
            //}
            //else  
            //{
            //    $('#btnApprove').hide();
            //    $('#btnEdit,#btnDelete').show();
            //}
          
        }
    }


    /*------------------------------------*/

    $("#btnAdd").click(function(){
        debugger;
        sessionStorage.setItem("BUID", _nBUID);
        sessionStorage.setItem("Operation", "New");
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("DOHeader", "Add Order");
        sessionStorage.setItem("RouteSheetCombines", JSON.stringify($('#tblRouteSheetCombine').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/RouteSheetCombine/ViewRouteSheetCombinePS?nId=0&ts="+tsv;
    });

    $('#btnEdit').click(function (e)
    {

        var oRouteSheetCombine = $('#tblRouteSheetCombine').datagrid('getSelected');
        if (oRouteSheetCombine ==null || oRouteSheetCombine.RouteSheetCombineID <=0 ) { alert("Please select an item from list."); return ; }
        if (oRouteSheetCombine.ApproveBy != 0 ) { alert("Your selected item is already approved! Please select an initialized item from list."); return ; }
        var nIndex=$('#tblRouteSheetCombine').datagrid('getRowIndex',oRouteSheetCombine);
      
        sessionStorage.setItem("BUID", _nBUID);
        sessionStorage.setItem("Operation", "Edit");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("DOHeader", "Edit Order");
        sessionStorage.setItem("RouteSheetCombines", JSON.stringify($('#tblRouteSheetCombine').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/RouteSheetCombine/ViewRouteSheetCombinePS?nId="+oRouteSheetCombine.RouteSheetCombineID+"&ts="+tsv;

    });
 
    $('#btnDelete').click(function(e){
        var oRouteSheetCombine = $('#tblRouteSheetCombine').datagrid('getSelected');
        if (oRouteSheetCombine ==null || oRouteSheetCombine.RouteSheetCombineID <=0 ) { alert("Please select an item from list."); return ; }
        if (oRouteSheetCombine.ApproveBy != 0 ) { alert("Your selected item is already approved! Please select an initialized item from list."); return ; }
        
        if (!confirm("Confirm to delete?")) return;
        //sessionStorage.clear();
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oRouteSheetCombine,
            ControllerName: "RouteSheetCombine",
            ActionName: "Delete",
            TableId: "tblRouteSheetCombine",
            IsWinClose: false
        };
        $.icsDelete(obj);

    });

    $('#btnView').click(function (e)
    {
        var oRouteSheetCombine = $('#tblRouteSheetCombine').datagrid('getSelected');
        if (oRouteSheetCombine ==null || oRouteSheetCombine.RouteSheetCombineID <=0 ) { alert("Please select an item from list."); return ; }

        var nIndex=$('#tblRouteSheetCombine').datagrid('getRowIndex',oRouteSheetCombine);

        sessionStorage.clear();
        sessionStorage.setItem("BUID", _nBUID);
        sessionStorage.setItem("Operation", "View");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("DOHeader", "View Order");
        sessionStorage.setItem("RouteSheetCombines", JSON.stringify($('#tblRouteSheetCombine').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/RouteSheetCombine/ViewRouteSheetCombinePS?nId="+oRouteSheetCombine.RouteSheetCombineID+"&ts="+tsv;;
    });

    $('#btnApprove').click(function(e){
        debugger;
        var oRouteSheetCombine = $('#tblRouteSheetCombine').datagrid('getSelected');
        if (oRouteSheetCombine ==null || oRouteSheetCombine.RouteSheetCombineID <=0 ) { alert("Please select an item from list."); return ; }
        if (oRouteSheetCombine.ApproveBy != 0 ) { alert("Your selected item is already approved! Please select an initialized item from list."); return ; }

        var nIndex=$('#tblRouteSheetCombine').datagrid('getRowIndex',oRouteSheetCombine);
        sessionStorage.clear();
        sessionStorage.setItem("BUID", _nBUID);
        sessionStorage.setItem("Operation", "Approve");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("DOHeader", "Approve");
        sessionStorage.setItem("RouteSheetCombines", JSON.stringify($('#tblRouteSheetCombine').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/RouteSheetCombine/ViewRouteSheetCombinePS?nId="+oRouteSheetCombine.RouteSheetCombineID+"&ts="+tsv;;

    });
    $('#btnUndoApprove').click(function(e){
        debugger;
        var oRouteSheetCombine = $('#tblRouteSheetCombine').datagrid('getSelected');
        if (oRouteSheetCombine == null || oRouteSheetCombine.RouteSheetCombineID <=0 ) { alert("Please select an item from list."); return ; }
        if (oRouteSheetCombine.ApproveBy == 0) { alert("Your selected item is not approved! Please select an approved item from list."); return ; }

        var nIndex=$('#tblRouteSheetCombine').datagrid('getRowIndex',oRouteSheetCombine);
        sessionStorage.clear();
        sessionStorage.setItem("Operation", "UndoApprove");
        sessionStorage.setItem("SelectedRowIndex", nIndex);
        sessionStorage.setItem("DOHeader", "Undo Approval");
        sessionStorage.setItem("RouteSheetCombines", JSON.stringify($('#tblRouteSheetCombine').datagrid('getRows')));
        sessionStorage.setItem("BackLink", window.location.href);
        var tsv=((new Date()).getTime())/1000;
        window.location.href = _sBaseAddress+ "/RouteSheetCombine/ViewRouteSheetCombinePS?nId="+oRouteSheetCombine.RouteSheetCombineID+"&ts="+tsv;;

    });

    $('#btnPrint').click(function (e)
    {
        var oRouteSheetCombine = $('#tblRouteSheetCombine').datagrid('getSelected');
        if (oRouteSheetCombine ==null || oRouteSheetCombine.RouteSheetCombineID <=0 ) { alert("Please select an item from list."); return ; }
        var tsv=((new Date()).getTime())/1000;
        window.open(_sBaseAddress+ "/RouteSheet/PrintRouteSheetCombine?nId="+oRouteSheetCombine.RouteSheetCombineID+"&nRSID=0&bIsCombine=true&nts="+tsv, "_blank");
    });
        
  
    $("#btnReload").click(function() {
        window.location.href = _sBaseAddress+ '/RouteSheetCombine/ViewRouteSheetCombinesPS?'+"buid="+_nBUID+"&menuid="+_sMenuID; ;
    });



    ////Start adv Searching

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 96){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }
    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }
  
    $("#btnResetAdvSearch").click(function () {
        ResetAdvSearchWindow();
        DateActionsOrderDateAdvSearch();
    });

    $("#btnSearchAdvSearch").click(function () {
        debugger;

        $(".lblLoadingMessage").show();

        var checkDate = CheckFromAndToDateValidation("cboDate", "txtFromDateAdvSearch", "txtToDateAdvSearch");
        if (!checkDate) {
            alert("Start date must be greater than end date.");
            return false;
        }
      
        var ncboDate = parseInt($("#cboDate").val());
        var dFromDate = $('#txtFromDateAdvSearch').datebox('getValue');
        var dToDate = $('#txtToDateAdvSearch').datebox('getValue');
        var sRSNo =  $.trim($('#txtRSNo').val());
        var sOrderNo =  $.trim($('#txtOrderNo').val()); 
        var txtComRSNo =  $.trim($('#txtComRSNo').val()); 
        
        var sParams = _sContractorIds + "~" +
                      ncboDate + "~" +
                      dFromDate + "~" +
                      dToDate + "~" +
                      sRSNo + "~" +
                      sOrderNo+"~"+
                       txtComRSNo+"~"+
                      _nBUID;
        var oRouteSheetCombine = {
            Note : sParams
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/RouteSheetCombine/AdvSearch",
            traditional: true,
            data: JSON.stringify(oRouteSheetCombine),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oRouteSheetCombines = jQuery.parseJSON(data);
                debugger;
                if (oRouteSheetCombines != null) {
                    if (oRouteSheetCombines.length > 0)
                    {

                        DynamicRefreshList(oRouteSheetCombines, "tblRouteSheetCombine");
                        $("#winAdvSearch").icsWindow("close");

                    }
                    else
                    {
                        alert("Sorry, No data found.");
                        DynamicRefreshList([], "tblRouteSheetCombine");
                    }

                } else {
                    alert("Sorry, No data found.");
                    DynamicRefreshList([], "tblRouteSheetCombine");
                }
                $(".lblLoadingMessage").hide();
            }
        });
    });
    
    $("#txtSearchByOrderNo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){

            var ncboDate = 0;
            var dFromDate = icsdateformat(new Date());
            var dToDate = icsdateformat(new Date());
            var sOrderNo = $.trim($('#txtSearchByOrderNo').val());
            var sRSNo = "";
            var txtComRSNo = ""; 
        
            var sParams = _sContractorIds + "~" +
                          ncboDate + "~" +
                          dFromDate + "~" +
                          dToDate + "~" +
                          sRSNo + "~" +
                          sOrderNo+"~"+
                           txtComRSNo+"~"+
                          _nBUID;
            var oRouteSheetCombine = {
                Note : sParams
            };


            GetsOrders(oRouteSheetCombine);
        }
        else if(nkeyCode==8){
            $("#txtSearchByOrderNo").val("");

        }
    });
    $("#txtSearchByBatchNo").keydown(function (e) {
        var nkeyCode = e.keyCode || e.which;
        if(nkeyCode==13){

            var ncboDate = 0;
            var dFromDate = icsdateformat(new Date());
            var dToDate = icsdateformat(new Date());
            var sRSNo = $.trim($('#txtSearchByBatchNo').val());
            var sOrderNo = "";
            var txtComRSNo = ""; 
        
        var sParams = _sContractorIds + "~" +
                      ncboDate + "~" +
                      dFromDate + "~" +
                      dToDate + "~" +
                      sRSNo + "~" +
                      sOrderNo+"~"+
                       txtComRSNo+"~"+
                      _nBUID;
        var oRouteSheetCombine = {
            Note : sParams
        };

            GetsOrders(oRouteSheetCombine);
        }
        else if(nkeyCode==8){
            $("#txtSearchByClaimNo").val("");

        }
    });
    function GetsOrders(oRouteSheetCombine)
    {
        $.ajax
          ({
              type: "POST",
              dataType: "json",
              url : _sBaseAddress+"/RouteSheetCombine/AdvSearch",
              data:  JSON.stringify(oRouteSheetCombine),
              contentType: "application/json; charset=utf-8",
              success: function (data) {
                  //debugger;
                  var oRouteSheetCombines = jQuery.parseJSON(data);
                  if (oRouteSheetCombines.length>0)
                  {
                      DynamicRefreshList(oRouteSheetCombines, "tblRouteSheetCombine");
                  }
                  else
                  {
                      alert("Data Not found");
                      DynamicRefreshList([], "tblRouteSheetCombine");
                  }
              },
              error: function (xhr, status, error)
              {
                  alert(error);
              }
          });
    }
    function LoadComboAdv()
    {
       
        $("#cboDate").icsLoadCombo({
            List: _oCompareOperators,
            OptionValue: "id",
            DisplayText: "Value"
        });
    }
    function CheckFromAndToDateValidation(OperationComboId, FromDateId, ToDateId) {
        $("#" + OperationComboId).parent().parent().parent().find("select").removeClass("errorFieldBorder");
        var nCboVal = $("#" + OperationComboId).val();
        if (parseInt(nCboVal) == 5 || parseInt(nCboVal) == 6) {
            var fromDate = $("#" + FromDateId).datebox("getValue");
            var toDate = $("#" + ToDateId).datebox("getValue");
            if (new Date(fromDate) > new Date(toDate)) {
                $("#" + ToDateId).focus();
                $("#" + OperationComboId).addClass("errorFieldBorder");
                $(".lblLoadingMessage").hide();
                return false;
            } else {
                $("#" + OperationComboId).removeClass("errorFieldBorder");
                return true;
            }
        } else {
            return true;
        }
    }

    function ResetAdvSearchWindow() {
        _sContractorIds = '';
        $("#winAdvSearch input").not("input[type='button']").val("");
        $("#winAdvSearch input").removeClass("fontColorOfPickItem");
        $("#winAdvSearch select").val(0);
        DateActionsOrderDateAdvSearch();
      
        $("#txtFromDateAdvSearch,#txtToDateAdvSearch").datebox({ disabled: true });
        $("#txtFromDateAdvSearch,#txtToDateAdvSearch").datebox("setValue", icsdateformat(new Date()));
    }

    function PickContractors_AdvS() {
        var oContractor = {
            Params: '2,3' + '~' + $.trim($("#txtContractorAdvS").val()+"~"+_nBUID)
        };
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oContractor,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };

        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        var intervalID = setInterval(updateProgress, 250);

        DynamicRefreshList([], "tblAccountsPickerAdvSearch");
        $.icsDataGets(obj, function (response) {
            clearInterval(intervalID);
            $("#progressbarParent").hide();
            if (response.status && response.objs.length > 0) {
                if (response.objs[0].ContractorID > 0) {
                    var tblColums = []; var oColumn = { field: "ContractorID", title: "Code", width: 50, align: "left" }; tblColums.push(oColumn);
                    oColumn = { field: "Name", title: "Name", width: 280, align: "left" }; tblColums.push(oColumn);

                    var oPickerParam = {
                        winid: 'winContractorPicker',
                        winclass: 'clsAccountOf',
                        winwidth: 400,
                        winheight: 460,
                        tableid: 'tblAccountOfs',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: true,
                        searchingbyfieldName: 'Name',
                        windowTittle: 'Contactor List'
                    };
                    $.icsPicker(oPickerParam);
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                }
            }
            else {
                alert("Sorry, No Contactor Found.");
            }
        });
    }

   

    function DateActionsOrderDateAdvSearch() {
        DynamicDateActions("cboDate", "txtFromDateAdvSearch", "txtToDateAdvSearch");
    }
   

    $("#btnCloseAdvSearch").click(function () {
        $("#winAdvSearch").icsWindow("close");
    });
    $("#btnAdvSearch").click(function () {
        debugger;
        $("#winAdvSearch").icsWindow("open", "Claim Order Advance Search");
        //DynamicRefreshList([], "tblExportPIAdvSearch");
        DynamicResetAdvSearchWindow("winAdvSearch");
        DynamicDateActions("cboDateOptionAdvSearch", "txtFromDateAdvSearch", "txtToDateAdvSearch");
        ResetAdvSearchWindow();
    });

   
    /// end Adv Searching

</script>
