@{
    ViewBag.Title = "Sales Contract List";
}
@model ESimSol.BusinessObjects.ExportSCDO
<head>
    
</head>
<body>
    <div id="divExportSC" class="easyui-panel menuMainCollectionTable" style="font-family:Tahoma; height:100%; width:100%;overflow:hidden;">
        <div style="height:88%;width:100%;overflow:hidden;">
            <div style="width:100%;">
                <fieldset>
                    <legend style="text-align:left; font-weight:bold;"> Sales Contract Informations : </legend>
                    <table style="width: 100%;" cellspacing="1" cellpadding="1">
                        <tr>
                            <td style="width:10%; text-align:right">
                                <label>
                                    PI No
                                </label>
                            </td>
                            <td style="width:20%; text-align:left">
                                <input type="text" id="txtPINo" style="width:100%;" readonly="readonly" />
                            </td>

                            <td style="width:10%; text-align:right">
                                <label>
                                    PI Date
                                </label>
                            </td>
                            <td style="width:20%; text-align:left">
                                <input type="text" id="txtIssueDate" style="width:100%;" readonly="readonly" />
                            </td>
                            <td style="width:10%; text-align:right">
                                <label>
                                    MKT Person
                                </label>
                            </td>
                            <td style="width:30%; text-align:left">
                                <input type="text" id="txtMKTPerson" style="width:90%;" readonly="readonly" />
                            </td>

                        </tr>
                        <tr>
                            <td style="width:10%; text-align:right">
                                <label>
                                    Account Of
                                </label>
                            </td>
                            <td colspan="3" style="width:50%; text-align:left">
                                <input type="text" id="txtContractorName" style="width:100%;" readonly="readonly" />
                            </td>
                            <td style="width:10%; text-align:right">
                                <label>
                                    Payment Type
                                </label>
                            </td>
                            <td style="width:30%; text-align:left">
                                <input type="text" id="txtPaymentType" style="width:90%;" readonly="readonly" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:10%; text-align:right">
                                <label>
                                    Buying House
                                </label>
                            </td>
                            <td colspan="3" style="width:50%; text-align:left">
                                <input type="text" id="txtBuyerName" style="width:100%;" readonly="readonly" />
                            </td>
                            <td style="width:10%; text-align:right">
                                <label>

                                </label>
                            </td>
                            <td style="width:30%; text-align:left">
                                @*<input type="text" id="txtMKT Person" style="width:100%;" />*@
                            </td>
                        </tr>
                    </table>
                    <table style="width: 100%;" cellspacing="1" cellpadding="1">
                        <tr>
                            <td style="width:10%; text-align:right">
                                <label>       Order Value  </label> <span class="lblCurrency"></span>:
                            </td>
                            <td style="width:15%; text-align:left">
                                <input type="text" id="txtPIValue" style="width:100%;" readonly="readonly" />
                            </td>

                            <td style="width:10%; text-align:right">
                                <label>Adj Value</label><span class="lblCurrency"></span>:
                            </td>
                            <td style="width:15%; text-align:left">
                                <input type="text" id="txtAdjAmount" style="width:100%;" readonly="readonly" />
                            </td>
                            <td style="width:13%; text-align:right">
                                <label>
                                    Actule Value
                                </label><span class="lblCurrency"></span>:
                            </td>
                            <td style="width:12%; text-align:left">
                                <input type="text" id="txtActualValue" style="width:100%;" readonly="readonly" />
                            </td>
                            <td style="width:8%; text-align:right">
                                <label>
                                    L/C No
                                </label>
                            </td>
                            <td style="width:13%; text-align:left">
                                <input type="text" id="txtLCNo" style="width:100%;" readonly="readonly" />
                            </td>
                            <td style="width:5%; text-align:left"></td>
                        </tr>
                        <tr>
                            <td style="width:10%; text-align:right">
                                <label>
                                    PI Qty
                                </label><span class="lblMUnit"></span>:
                            </td>
                            <td style="width:15%; text-align:left">
                                <input type="text" id="txtPIQty" style="width:100%;" readonly="readonly" />
                            </td>

                            <td style="width:10%; text-align:right">
                                <label>
                                    Adj Qty
                                </label><span class="lblMUnit"></span>:
                            </td>
                            <td style="width:15%; text-align:left">
                                <input type="text" id="txtAdjQty" style="width:100%;" readonly="readonly" />
                            </td>
                            <td style="width:13%; text-align:right">
                                <label> Net Dyeing  </label><span class="lblMUnit"></span>:
                            </td>
                            <td style="width:12%; text-align:left">
                                <input type="text" id="txtNetDyeing" style="width:100%;" readonly="readonly" />
                            </td>
                            <td style="width:8%; text-align:right">
                                <label>
                                    L/C Date
                                </label>
                            </td>
                            <td style="width:13%; text-align:left">
                                <input type="text" id="txtLCDate" style="width:100%;" readonly="readonly" />
                            </td>
                            <td style="width:5%; text-align:left"></td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <fieldset>
                <legend style="text-align:left; font-weight:bold;"> Sales Contract Informations : </legend>
                <div style="width:100%;height:280px;">
                    <table style="width:100%;height:280px;" id="tblExportSCDODetails" title="Product List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarExportSCDO">
                        <thead>
                            <tr>
                                <th field="ProductCode" width="12%">Product Code</th>
                                <th field="ProductName" width="20%">ProductName</th>
                                <th field="MUName" width="8%">MUnit</th>
                                <th field="Qty" formatter="formatPrice" width="15%" align="right">Order Qty</th>
                                <th field="POQty" formatter="formatPrice" width="15%" align="right">PO Qty</th>
                                <th field="YetToPO" width="15%" align="right">Yet To PO</th>
                                <th field="StyleNo" width="10%">StyleNo</th>
                                <th field="ColorInfo" width="10%">ColorInfo</th>
                                <th field="BuyerRef" width="10%">BuyerRef</th>



                            </tr>
                        </thead>
                    </table>
                    <div id="toolbarExportSCDO">
                        <table>
                            <tr>
                                <td>
                                    <a id="btnView_DO" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
                                    <a id="btnPrintPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>

                                </td>

                            </tr>
                        </table>
                    </div>
                </div>
                <div>
                    <table style="width:100%;" border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td style="width:350px;  text-align:right;font-weight:bold;">Total :</td>
                            <td style="width:150px;  text-align:right;font-weight:bold;"><label id="lblTotalQty">0</label> </td>
                            <td style="width:150px; text-align:right; font-weight:bold;"><label id="lblTotalDOQty"> </label> </td>
                            <td style="width:150px; text-align:right; font-weight:bold;"><label> Yet To </label><span class="lblMUnit"></span><label id="lblTotalYetTODO"> </label> </td>
                            <td style="width:150px; text-align:right; font-weight:bold;"><label id="lblTotalAmount"> </label> </td>
                        </tr>
                    </table>
                </div>
            </fieldset>
</div>
        
     
        <div style="height:10%;width:100%;overflow:hidden;">
            <fieldset>
                <legend>Action</legend>
                <div class="align-right">
                    <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                </div>
            </fieldset>
        </div>
    </div>
    <div id="winDyeingOrderDetail" class=" easyui-window winclass" title="Production Order List" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div>

            <div style="width:100%;height:400px;">
                <fieldset>
                    <table style="width: 100%;" cellspacing="3" cellpadding="3">
                        <tr>
                            <td style="width:20%; text-align:right">
                                <label>
                                    Yarn
                                </label>
                            </td>
                            <td colspan="5" style="width:75%; text-align:left">
                                <input type="text" id="txtProductName" style="width:96%;" readonly="readonly" />
                            </td>



                        </tr>
                        <tr>
                            <td style="width:20%; text-align:right">
                                <label>
                                    Order Qty
                                </label><span class="lblMUnit"></span>
                            </td>
                            <td style="width:15%; text-align:left">
                                <input type="text" id="txtOrderQty" style="width:80%;" readonly="readonly" />
                            </td>

                            <td style="width:15%; text-align:right">
                                <label>
                                    PO Qty
                                </label><span class="lblMUnit"></span>
                            </td>
                            <td style="width:15%; text-align:left">
                                <input type="text" id="txtDOQty" style="width:80%;" readonly="readonly" />
                            </td>
                            <td style="width:15%; text-align:right">
                                <label>
                                    Yet TO PO
                                </label><span class="lblMUnit"></span>
                            </td>
                            <td style="width:15%; text-align:left">
                                <input type="text" id="txtYetToDo" style="width:80%;" readonly="readonly" />
                            </td>

                        </tr>
                    </table>
                    <table style="width:100%;height:315px;" id="tblDODetails" class="easyui-datagrid" toolbar="#toolbarExportSCDO_Color">
                        <thead>
                            <tr>
                                <th field="LabdipNo" width="15%">Labdip No</th>
                                <th field="ColorNo" width="15%">Color No</th>
                                <th field="ColorName" width="20%">Color</th>
                                <th field="Qty" formatter="formatPrice" width="15%" align="right">PO Qty</th>
                                <th field="ShadeSt" width="10%">ColorInfo</th>
                                <th field="PantonNo" width="15%">PantonNo</th>

                            </tr>
                        </thead>
                    </table>
                </fieldset>
                    <div id="toolbarExportSCDO_Color">
                        <table>
                            <tr>
                                <td>
                                    @*<a id="btnPrintPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>*@

                                </td>

                            </tr>
                        </table>
                    </div>

</div>


            <div style="width:100%;">
                <fieldset>
                    <legend style="font-weight: bold">Action : </legend>
                    <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                        <tr>
                            <td style="width:85%; text-align:right"></td>
                            <td style="width: 15%">
                                <a id="btnClose_DODetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    var _oExportSCDO = null;
    var _oExportSCDOs = [];
    var _sBaseAddress = "";
    var _oAuthorizationRolesMapping = [];
    var _oExportSCDOBranch = null;
    var _nID=null;
    var  _oExportSCDetailDOs=[];


    $(document).ready(function() {
        debugger;
      
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
      
        _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.MenuID]));
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oExportSCDO =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oExportSCDetailDOs =_oExportSCDO.ExportSCDetailDOs;
    
        //_nID =parseInt(sessionStorage.getItem("SelectedRowIndex"));
        //var oExportSCDOs =sessionStorage.getItem("ExportSCDOs");
        //if(oExportSCDOs!=null)
        //{
        //    oExportSCDOs = jQuery.parseJSON(oExportSCDOs);
        //}
        //else
        //{
        //    oExportSCDOs=_oExportSCDOs;
        //}

        DynamicRefreshList(_oExportSCDetailDOs, 'tblExportSCDODetails');
        RefreshControl();

   

    });
 

    function RefreshControl()
    {
        debugger;
        $(".lblCurrency").html("("+_oExportSCDO.Currency+")");

        $('#txtPINo').val(_oExportSCDO.PINo);
        $('#txtIssueDate').val(_oExportSCDO.IssueDateSt);
        $('#txtMKTPerson').val(_oExportSCDO.MKTPName);
        $('#txtContractorName').val(_oExportSCDO.ContractorName);
        $('#txtPaymentType').val(_oExportSCDO.PaymentTypeSt);
        $('#txtBuyerName').val(_oExportSCDO.BuyerName);

        $('#txtPIValue').val(formatPrice(_oExportSCDO.Amount_PI,null));
        $('#txtAdjAmount').val(formatPrice(_oExportSCDO.AdjAmount,null));
        $('#txtActualValue').val(formatPrice(_oExportSCDO.TotalAmount,null));

        $('#txtPIQty').val(formatPrice(_oExportSCDO.Qty_PI,null));
        $('#txtAdjQty').val(formatPrice(_oExportSCDO.AdjQty,null));
        $('#txtNetDyeing').val(formatPrice(_oExportSCDO.TotalQty,null));
        $('#txtLCDate').val(_oExportSCDO.ExportLCDateSt);

        $('#txtLCNo').val(_oExportSCDO.ELCNo);

        if(_oExportSCDetailDOs!=null)
        {
            $(".lblMUnit").html("("+_oExportSCDetailDOs[0].MUName+")");
        }
        RefreshSummary();
    }

    function RefreshSummary()
    {
        var oESCDetails = $('#tblExportSCDODetails').datagrid('getRows');
        var nTotalQty = 0,nDOQty=0,nYetToDO=0;
        _nTotalAmount=0;
        for(var i = 0; i<oESCDetails.length;i++)
        {
            nTotalQty+=parseFloat(oESCDetails[i].Qty);
            _nTotalAmount+=parseFloat(oESCDetails[i].Qty*oESCDetails[i].UnitPrice);
            nDOQty+=parseFloat(oESCDetails[i].DOQty);
            nYetToDO+=parseFloat(oESCDetails[i].Qty-oESCDetails[i].DOQty);
        }
        document.getElementById('lblTotalQty').innerHTML = formatPrice(nTotalQty,0);
        document.getElementById('lblTotalAmount').innerHTML = _oExportSCDO.Currency+''+formatPrice(_nTotalAmount,0);
        document.getElementById('lblTotalDOQty').innerHTML = formatPrice(nDOQty,0);
        document.getElementById('lblTotalYetTODO').innerHTML = formatPrice(nYetToDO,0);
    }

    function RefreshControlDetail(oExportSCDetailDO)
    {
        debugger;
      
        $('#txtProductName').val(oExportSCDetailDO.ProductName);

        $('#txtOrderQty').val(formatPrice(oExportSCDetailDO.Qty,null));
        $('#txtDOQty').val(formatPrice(oExportSCDetailDO.Qty,null));
        $('#txtYetToDo').val(formatPrice(oExportSCDetailDO.YetToDO,null));

    }

    $("#btnPrintPreview").click(function() {
        var oExportSCDetailDO= $('#tblExportSCDODetails').datagrid('getSelected');
        if(oExportSCDetailDO==null || oExportSCDetailDO.ExportSCID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var nts = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress + '/ExportSCDO/PrintStatement_DOBalance?nExportSCID=' + parseInt(oExportSCDetailDO.ExportSCID) + "&nDOID=" + parseInt(0) + "&nProductID=" + parseInt(oExportSCDetailDO.ProductID) + "&nts=" + nts, "_blank");

    });
 
 



 

    $(document).keydown(function (e) {
        //debugger;
        if (e.which == 27)//escape=27
        {
            //debugger;
            $("#winPRAdvanceSearch").icsWindow('close');
        }
    });

    ////Color Wise view
    $("#btnView_DO").click(function () {
        debugger;
        var oExportSCDetailDO= $('#tblExportSCDODetails').datagrid('getSelected');
        if(oExportSCDetailDO==null || oExportSCDetailDO.ExportSCDetailID<=0)
        {
            alert("Please select a item from list!");
            return false;
        }
        DynamicRefreshList([], 'tblDODetails');
        RefreshControlDetail(oExportSCDetailDO);
        GetsDODetails(oExportSCDetailDO);
        $("#winDyeingOrderDetail").icsWindow('open', "Color Information");

    });

    $("#btnClose_DODetail").click(function () {
        debugger;

        $("#winDyeingOrderDetail").icsWindow('close');
    });


    function GetsDODetails(oExportSCDetailDO){

       
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oExportSCDetailDO,
            ControllerName: "ExportSCDO",
            ActionName: "GetsDODetails",
            IsWinClose: false
        };

        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) 
            {
                var oDODetails= response.objs;

                DynamicRefreshList(oDODetails, 'tblDODetails');
            }
           
        });


    }

    $('#btnClose').click(function(e){
        window.location.href = sessionStorage.getItem("BackLink");
    });


</script>