@{
    ViewBag.Title = "PAM List";
}
@model IEnumerable<ESimSol.BusinessObjects.PAM>
    <div id="progressbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progressbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    
    <div class="menuMainCollectionTable" id="divPAM">
        <table id="tblPAMs" title="PAM List" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="PAMNo" width="30%">PAM No</th>
                    <th field="ForwardWeek" width="30%">Forwarded Week</th> 
                    <th field="ApprovedByName" width="20%">Approve By</th>
                    <th field="Remarks" width="20%">Remarks</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
            <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Approve</a>
            <a id="btnRevise" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Revise</a>
            <a id="btnPrintList" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">List</a>
            <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
            <a id="btnAddMultiPAM" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">AddMultiPAM</a>
        </div>
    </div>
    <div id="winPAM" class="easyui-window" title="PAM Entry" style="height: 515px; width: 1020px;" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
        <div id="MainDiv" style="font-family:Tahoma;height:85% ;width:99%">
            <table style="width:100%;">
                <tr style="width:100%;">
                    <td style="width:100%;">
                        <fieldset>
                            <legend>PAM Info</legend>
                            <table style="width:100%;">
                                <tr>
                                    <td class="align-right" style="width:14%">PAM No</td>
                                    <td style="width:20%">
                                        <input type="text" style="width:100%;" id="txtPAMNo" disabled />
                                    </td>
                                    <td class="align-right" style="width:12%">Style No</td>
                                    <td style="width:20%">
                                        <input type="text" style="width:100%;" id="txtStyleNo" disabled />
                                    </td>
                                    <td class="align-right" style="width:10%">Buyer</td>
                                    <td style="width:24%">
                                        <input type="text" style="width:100%;" id="txtBuyerName" disabled />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-right" style="width:14%">Session Name</td>
                                    <td style="width:20%">
                                        <input type="text" style="width:100%;" id="txtSessionName" disabled />
                                    </td>
                                    <td class="align-right" style="width:12%">Product</td>
                                    <td style="width:20%">
                                        <input type="text" style="width:100%;" id="txtProductName" disabled />
                                    </td>
                                    <td class="align-right" style="width:10%">Fabric</td>
                                    <td style="width:24%">
                                        <input type="text" style="width:100%;" id="txtFabricName" disabled />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="align-right" style="width:10%">Forward Week</td>
                                    <td style="width:24%">
                                        <input type="text" style="width:100%;" id="txtForwardWeek" placeholder="200000" maxlength="6" />
                                    </td>
                                    <td class="align-right" style="width:10%">Remarks</td>
                                    <td colspan="3" style="width:56%" >
                                        <input type="text" style="width:100%;" id="txtRemarks"/>
                                    </td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                </tr>
            </table>
            <table id="tblPAMDetail" title="PAM Details" class="easyui-datagrid" style="height:280px; width:100%;" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#Wintoolbar" data-options="onClickRow:onClickRow,onEndEdit: onEndEdit">
                <thead>
                    <tr> 
                        <th field="ColorName" width="25%" align="left">Color</th>
                         <th data-options="field:'MinQuantity',align:'right',editor:{type:'numberbox',options:{precision:2}}" width="12%">Qty(Min)</th>
                        <th data-options="field:'Quantity',align:'right',editor:{type:'numberbox',options:{precision:2}}" width="12%">Qty</th>
                        <th data-options="field:'MaxQuantity',align:'right',editor:{type:'numberbox',options:{precision:2}}" width="12%">Qty(Max)</th>
                        <th data-options="field:'ConfirmWeek',align:'left',editor:{type:'text'}" width="12%" >Confirm Week</th>
                        <th data-options="field:'DesignationWeek',align:'left',editor:{type:'text'}" width="10%">Designation Week</th>
                        <th data-options="field:'WearHouseWeek',align:'left',editor:{type:'text'}" width="16%">WearHouse Delivery Week</th>
                    </tr>
                </thead>
            </table>
            <div id="Wintoolbar">
                Color : <input type="text" id="txtColor" style="width:130px;" onkeydown="ColorKeyDown(event)" />           
                <a id="btnColor" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="PickColor()" plain="true">Pick</a>
                <a id="btnRemoveDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true"></a>
                <a id="btnRefreshDetail" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true"></a>
            </div>
        </div>
        <fieldset style="height:14%">
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                <tr>
                    <td style="width:60%; text-align:right"></td>
                    <td style="width:40%;text-align:right;">
                        <a id="btnWinSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true"><label id="lblSave">Save</label></a>
                        <a id="btnWinClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel"  plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
      
    
    </div>

    <script type="text/javascript">
    var _oPAM=null;
    var _oPAMs=[];
    var _sBaseAddress="";
    var _oTechnicalSheet = null;
        $(document).ready(function () {
            debugger;
            var oAuthorizationRolesMappings =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
            _oPAMs =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
            _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
            _oTechnicalSheet = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.TechnicalSheet));
            DynamicRefreshList(_oPAMs, "tblPAMs");
            var dgPanel = $('#tblPAMs').datagrid('getPanel');
            dgPanel.panel('setTitle', "PAM List For : Style No - " + _oTechnicalSheet.StyleNo);
            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").hide();
            $("#winPAM").data("ColorList", []);
            sessionStorage.setItem("TechnicalSheet", JSON.stringify(_oTechnicalSheet));
            RefreshControlLayout(oAuthorizationRolesMappings);
        });

        function updateProgress() {
            var value = $('#progressbar').progressbar('getValue');
            if (value < 96) {
                value += Math.floor(Math.random() * 10);
                $('#progressbar').progressbar('setValue', value);
            }
        }

        function hideShow(miliseconds) {
            $("#progressbarParent").hide();
        }

        $("#btnAdd").click(function () {
            $("#winPAM").data("ActionName", "New");
            RefreshControlWindowLayout(0);
            var oPAMs = $('#tblPAMs').datagrid('getRows');
            sessionStorage.setItem("PAMs", JSON.stringify(oPAMs));
            sessionStorage.setItem("SelectedRowIndex", -1);
        });

        $('#btnAddMultiPAM').click(function () {
            debugger;
            var oPAMs = $('#tblPAMs').datagrid('getRows');
            sessionStorage.setItem("PAMs", JSON.stringify(oPAMs));
            sessionStorage.setItem("SelectedRowIndex", -1);
            sessionStorage.setItem("PAMHeader", "Add MultiPAM");
            sessionStorage.setItem("BackLink", window.location.href);
            window.location.href = _sBaseAddress + "/PAM/ViewAddMultiPAMs?id=0";
        });

        $("#btnEdit").click(function () {
            debugger;
            var oPAM = $('#tblPAMs').datagrid('getSelected');
            if (oPAM == null || oPAM.PAMID <= 0) {
                alert("Please select an item from list!");
                return;
            }
            if (parseInt(oPAM.ApprovedBy) != 0) {
                alert("Already Approved!");
                return;
            }

            $("#winPAM").data("ActionName", "Edit");
            RefreshControlWindowLayout(oPAM.PAMID);
            var oPAMs = $('#tblPAMs').datagrid('getRows');
            sessionStorage.setItem("PAMs", JSON.stringify(oPAMs));
            var SelectedRowIndex = $('#tblPAMs').datagrid('getRowIndex', oPAM);
            sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);

        });

        $("#btnView").click(function () {
            var oPAM = $('#tblPAMs').datagrid('getSelected');
            if (oPAM == null || oPAM.PAMID <= 0) {
                alert("Please select a item from list!");
                return;
            }
            $("#winPAM").data("ActionName", "View");
            RefreshControlWindowLayout(oPAM.PAMID);
            var oPAMs = $('#tblPAMs').datagrid('getRows');
            sessionStorage.setItem("PAMs", JSON.stringify(oPAMs));
            var SelectedRowIndex = $('#tblPAMs').datagrid('getRowIndex', oPAM);
            sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        });

        $("#btnDelete").click(function () {
            var oPAM = $('#tblPAMs').datagrid('getSelected');
            if (oPAM == null || oPAM.PAMID <= 0) {
                alert("Please select a item from list!");
                return;
            }
            if (parseInt(oPAM.ApprovedBy) != 0) {
                alert("Already Approved!");
                return;
            }

            if (!confirm("Confirm to Delete?")) return;
            var SelectedRowIndex = $('#tblPAMs').datagrid('getRowIndex', oPAM);
            if (oPAM.PAMID > 0) {
                $.ajax
                    ({
                        type: "POST",
                        dataType: "json",
                        url: _sBaseAddress + "/PAM/Delete",
                        data: JSON.stringify(oPAM),
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            var feedbackmessage = jQuery.parseJSON(data);
                            if (feedbackmessage == "Deleted") {
                                alert("Delete sucessfully");
                                $('#tblPAMs').datagrid('deleteRow', SelectedRowIndex);
                            }
                            else {
                                alert(feedbackmessage);
                            }
                        },
                        error: function (xhr, status, error) {
                            alert(error);
                        }
                    });
            }
        });

        $("#btnApprove").click(function () {
            var oPAM = $('#tblPAMs').datagrid('getSelected');
            if (oPAM == null || oPAM.PAMID <= 0) {
                alert("Please select a item from list!");
                return;
            }
            if (parseInt(oPAM.ApprovedBy) != 0) {
                alert("Already Approved!");
                return;
            }
            if (!confirm("Confirm to Approve?")) return;
            var SelectedRowIndex = $('#tblPAMs').datagrid('getRowIndex', oPAM);
            if (oPAM.PAMID > 0) {
                $.ajax
                    ({
                        type: "POST",
                        dataType: "json",
                        url: _sBaseAddress + "/PAM/Approve",
                        data: JSON.stringify(oPAM),
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            var oPAM = jQuery.parseJSON(data);
                            if (oPAM.ErrorMessage == null || oPAM.ErrorMessage == "") {
                                $('#tblPAMs').datagrid('updateRow', { index: SelectedRowIndex, row: oPAM });
                                alert("Succesfully Approved.");
                            }
                            else {
                                alert(oPAM.ErrorMessage);
                            }
                        },
                        error: function (xhr, status, error) {
                            alert(error);
                        }
                    });
            }
        });

        $("#btnRevise").click(function () {
            var oPAM = $('#tblPAMs').datagrid('getSelected');
            if (oPAM == null || oPAM.PAMID <= 0) {
                alert("Please select a item from list!");
                return;
            }
            if (parseInt(oPAM.ApprovedBy) == 0) {
                alert("Select Only Approved Item.");
                return;
            }
            $("#winPAM").data("ActionName", "Revise");
            RefreshControlWindowLayout(oPAM.PAMID);
            var oPAMs = $('#tblPAMs').datagrid('getRows');
            sessionStorage.setItem("PAMs", JSON.stringify(oPAMs));
            var SelectedRowIndex = $('#tblPAMs').datagrid('getRowIndex', oPAM);
            sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        });
    

        function RefreshList(oKnittingOrders) {

            var data = oKnittingOrders;
            data = { "total": "" + data.length + "", "rows": data };
            $('#tblPAMs').datagrid('loadData', data);
            var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
            $('#tblPAMs').datagrid('selectRow', nIndex);
        }

    /*---------------REgion For Picker Knitting Yarn Challan----------------------*/
        function SetPickerValueAssign(oPickerobj) {

            var oreturnObj = null, oreturnobjs = [];
            if (oPickerobj.multiplereturn) {
                oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
            } else {
                oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
            }
            $("#" + oPickerobj.winid).icsWindow("close");
            $("#" + oPickerobj.winid).remove();
            if (oPickerobj.winid == 'winColor') {
                debugger;
                var oPriviousList = $('#tblPAMDetail').datagrid('getRows');
                for (var i = 0; i < oreturnobjs.length; i++) {

                    if (!ICS_IsExist(oPriviousList, 'ColorID', oreturnobjs[i].ColorID)) {
                        $('#tblPAMDetail').datagrid('appendRow', oreturnobjs[i]);
                    }
                }

            }

        }

        function IntializePickerbutton(oPickerobj) {
            $("#" + oPickerobj.winid).find("#btnOk").click(function () {
                //for Single Select
                SetPickerValueAssign(oPickerobj);
            });
            $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
                if (e.which == 13)//enter=13
                {
                    SetPickerValueAssign(oPickerobj);

                }
            });
        }
     
        function WinActionNew() {

            $("#txtPAMNo,#txtWearHouseWeek,#txtConfirmWeek,#txtDesignationWeek,#txtForwardWeek").val("");
            DynamicRefreshList([], "tblPAMDetail");
            $("#btnWinSave").show();
            $("#winPAM").icsWindow('open');
            _oPAM = null;
            $("#txtStyleNo").val(_oTechnicalSheet.StyleNo);
            $("#txtBuyerName").val(_oTechnicalSheet.BuyerName);
            $("#txtSessionName").val(_oTechnicalSheet.SessionName);
            $("#txtProductName").val(_oTechnicalSheet.ProductName);
            $("#txtFabricName").val(_oTechnicalSheet.FabricName);
        }

        function WinActionOthers(oPAM) {
            editIndex = undefined;
            _oPAM = oPAM;
            $("#txtPAMNo").val(oPAM.PAMNo);
            $("#txtStyleNo").val(oPAM.StyleNo);
            $("#txtBuyerName").val(oPAM.BuyerName);
            $("#txtSessionName").val(oPAM.SessionName);
            $("#txtProductName").val(oPAM.ProductName);
            $("#txtFabricName").val(oPAM.FabricName);
            $("#txtForwardWeek").val(oPAM.ForwardWeek);
            $("#txtRemarks").val(oPAM.Remarks);
            DynamicRefreshList(oPAM.PAMDetailLst, "tblPAMDetail");
            var sActionName = $("#winPAM").data("ActionName");
            if (sActionName == "View") {
                $("#winPAM :input").prop("disabled", true);
                $("#btnWinSave").hide();
            }
            else {
                $('#txtForwardWeek').attr('disabled', false);
                $('#txtRemarks').attr('disabled', false);
                $('#txtColor').attr('disabled', false);
                $("#btnWinSave").show();
                if ($("#winPAM").data("ActionName") == "Revise") {
                    $('#lblSave').text('Revise');
                }
            }

            $("#winPAM").icsWindow('open');
        }

        function RefreshControlWindowLayout(nPAMID) {
            var sActionName = $("#winPAM").data("ActionName");
            if (sActionName == "New") {
                WinActionNew();
            }
            else {
                $.ajax({
                    type: "POST",
                    dataType: "JSON",
                    url: sessionStorage.getItem("BaseAddress") + "/PAM/GetPAM",
                    data: JSON.stringify({ PAMID: nPAMID }),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        var oResult = JSON.parse(data);
                        WinActionOthers(oResult);
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }
                });
            }

        }

        function ColorKeyDown(event) {
            //return;
            if (event.which == 13) {
                var oTxtName = $("#txtColor").val();
                if (oTxtName != null) {
                    PickColor(oTxtName);
                }
            }

        }

        function PickColor(oTxtName) {
            if (_oTechnicalSheet.TechnicalSheetID <= 0) { alert("Sorry, Therer is No Style."); return; }
            var oColor = {
                ObjectID: _oTechnicalSheet.TechnicalSheetID,
                ColorName: $("#txtColor").val()
            };
            debugger;
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oColor,
                ControllerName: "PAM",
                ActionName: "GetColorByStyle",
                IsWinClose: false
            };
            var tblColums = []; var oColumn = []; var oColumn = { field: "ColorName", title: "Color Name", width: 250, align: "left" }; tblColums.push(oColumn);
            $.icsProgressBar(true);
            $.icsDataGets(obj, function (response) {
                $.icsProgressBar(false);
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ColorID > 0) {
                        var oPickerParam = {
                            winid: 'winColor',
                            winclass: 'clsColor',
                            winwidth: 350,
                            winheight: 450,
                            tableid: 'tblColor',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName: "ColorName",
                            windowTittle: 'Color List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                } else {
                    alert("Data Not Found.");
                    return;
                }
            });

        }

        var editIndex = undefined;
        function endEditing() {

            if (editIndex == undefined) { return true }
            if ($('#tblPAMDetail').datagrid('validateRow', editIndex)) {
                $('#tblPAMDetail').datagrid('endEdit', editIndex);
                editIndex = undefined;
                return true;
            }
            else {
                return false;
            }
        }

        function onClickRow(index) {

            if (editIndex != index) {
                if (endEditing()) {
                    $('#tblPAMDetail').datagrid('selectRow', index).datagrid('beginEdit', index);
                    editIndex = index;
                }
                else {
                    $('#tblPAMDetail').datagrid('selectRow', editIndex);
                }
            }
        }

        function onEndEdit(index) {

        }

        $("#btnRemoveDetail").click(function () {
            endEditing();
            var oPAMDetail = $('#tblPAMDetail').datagrid('getSelected');
            if (oPAMDetail == null) {
                alert("Please select a valid item from list.");
                return;
            }
            var nIndex = $('#tblPAMDetail').datagrid('getRowIndex', oPAMDetail);
            $('#tblPAMDetail').datagrid('deleteRow', nIndex);
        });


        $("#btnRefreshDetail").click(function () {
            endEditing();
            var data = $('#tblPAMDetail').datagrid('getRows');
            data = { "total": "" + data.length + "", "rows": data };
            $('#tblPAMDetail').datagrid('loadData', data);
        });

        $("#btnWinClose").click(function () {
            $("#winPAM").icsWindow('close');

        });

        function Validation() {
            if (parseInt(_oTechnicalSheet.TechnicalSheetID) <= 0) { alert('Sorry, There is Not Style.'); return false; }
            if ($.trim($('#txtForwardWeek').val()) == "" || $.trim($('#txtForwardWeek').val()) == null) { alert('Please, Type Forwaded of Week.'); $("#txtForwardWeek").focus(); return false; }
            var oRows = $('#tblPAMDetail').datagrid('getRows');
            if (oRows.length <= 0) {
                alert("Atleast onen PAM detail required!!");
                return false;
            }
            for (var i = 0; i < oRows.length; i++) {
                if (parseFloat(oRows[i].ColorID) <= 0) { alert('Sorry, Color Name Not found. .'); return false; }
                if (parseFloat(oRows[i].MinQuantity) <= 0 || parseFloat(oRows[i].Qty) <= 0 || parseFloat(oRows[i].MaxQuantity) <= 0) { alert('Please Confirm All of  Quantity Should be Greater then 0 for Color ->' + oRows[i].ColorName + ' .'); return false; }
                if (parseFloat(oRows[i].MinQuantity) > parseFloat(oRows[i].Quantity)) { alert('Quantity Should be Greater then  or equal Minimum Qty, for Color ->' + oRows[i].ColorName + ' .'); return false; }
                if (parseFloat(oRows[i].Quantity) > parseFloat(oRows[i].MaxQuantity)) { alert('Quantity Should be Less then  or equal Maximum Qty, for Color ->' + oRows[i].ColorName + ' .'); return false; }
                if (oRows[i].ConfirmWeek == null || oRows[i].ConfirmWeek == "") { alert('Please, Type Confirm of Week.'); return false; }
                if (oRows[i].DesignationWeek == null || oRows[i].DesignationWeek == "") { alert('Please, Type DesignationWeek of Week.'); return false; }
                //if(oRows[i].WearHouseWeek==null||oRows[i].WearHouseWeek==""){alert('Please, Type WearHouseWeek of Week.');return false;}
            }
            return true;
        }

        function RefreshObject() {
            var oPAM = {
                PAMID: (_oPAM == null) ? 0 : _oPAM.PAMID,
                StyleID: _oTechnicalSheet.TechnicalSheetID,
                ConfirmWeek: $.trim($('#txtConfirmWeek').val()),
                DesignationWeek: $.trim($('#txtDesignationWeek').val()),
                ForwardWeek: $.trim($('#txtForwardWeek').val()),
                WearHouseWeek: $.trim($('#txtWearHouseWeek').val()),
                Remarks: $.trim($('#txtRemarks').val()),
                PAMDetailLst: $('#tblPAMDetail').datagrid('getRows')
            };

            return oPAM;
        }

        $("#btnWinSave").click(function () {
            debugger;
            endEditing();
            if (!Validation()) return false;
            var oPAM = RefreshObject();
            //return;
            $("#progressbar").progressbar({ value: 0 });
            $("#progressbarParent").show();
            var intervalID = setInterval(updateProgress, 250);
            var sActionName = $("#winPAM").data("ActionName");
            var sControllerActionName = sActionName == "Revise" ? "Revise" : "Save";
            $.ajax({
                type: "POST",
                dataType: "json",
                url: _sBaseAddress + "/PAM/" + sControllerActionName,
                traditional: true,
                data: JSON.stringify(oPAM),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    oPAM = jQuery.parseJSON(data);
                    clearInterval(intervalID);
                    $("#progressbarParent").hide();
                    if (oPAM.ErrorMessage == null || oPAM.ErrorMessage == "") {
                        debugger;
                        alert("Data Saved successfully");
                        _oPAM = oPAM;
                        var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                        if (nIndex != -1) {
                            $('#tblPAMs').datagrid('updateRow', { index: nIndex, row: oPAM });
                        }
                        else {

                            $('#tblPAMs').datagrid('appendRow', oPAM);
                            var oPAMs = $('#tblPAMs').datagrid('getRows');
                            $('#tblPAMs').datagrid('selectRow', oPAMs.length - 1);
                        }
                        $("#winPAM").icsWindow('close');
                    }
                    else {
                        alert(oPAM.ErrorMessage);
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }

            });
        });

        $('#btnPreview').click(function () {
            debugger;
            var oPAM = $('#tblPAMs').datagrid('getSelected');
            if (oPAM == null || parseInt(oPAM.PAMID) <= 0) {
                alert("Please select PAM ");
                return;
            }
            Print(oPAM.PAMID);
        });

        $('#btnPrintList').click(function () {
            debugger;
            if (parseInt(_oTechnicalSheet.TechnicalSheetID) <= 0) {
                alert("Sorry, There is No Style.");
                return;
            }
            var oPAMs = $('#tblPAMs').datagrid('getRows');
            if (oPAMs == null || parseInt(oPAMs.length) <= 0) {
                alert("Sorry, There is No PAM.");
                return;
            }
            Print(0);
        });

        function Print(nPAMID) {
            window.open(_sBaseAddress + "/PAM/PAMPrint?StyleID=" + _oTechnicalSheet.TechnicalSheetID + "&PAMID=" + nPAMID);
        }

        function RefreshControlLayout(oAuthorizationRolesMappings) {
            $('#btnAdd,#btnEdit,#btnView,#btnDelete,#btnApprove,#btnPreview,#btnPrintList').hide();

            if (PermissionChecker('Add', 'PAM', oAuthorizationRolesMappings)) { $('#btnAdd').show(); }
            if (PermissionChecker('Edit', 'PAM', oAuthorizationRolesMappings)) { $('#btnEdit').show(); }
            if (PermissionChecker('View', 'PAM', oAuthorizationRolesMappings)) { $('#btnView').show(); }
            if (PermissionChecker('Delete', 'PAM', oAuthorizationRolesMappings)) { $('#btnDelete').show(); }
            if (PermissionChecker('Approved', 'PAM', oAuthorizationRolesMappings)) { $('#btnApprove').show(); }
            if (PermissionChecker('Preview', 'PAM', oAuthorizationRolesMappings)) { $('#btnPreview').show(); }
            if (PermissionChecker('Print', 'PAM', oAuthorizationRolesMappings)) { $('#btnPrintList').show(); }
        }
    /*---------------------------Endregion----------------------------------------*/
    </script>
