<html>
@{
    ViewBag.Title = "Fabric Batch QC Register";
}
<body>
    @model ESimSol.BusinessObjects.FabricBatchQC
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable" id="MainDiv">
        <div class="easyui-panel" title="QC Register" style="font-family:Tahoma; text-align:center; height:88%;">
            <fieldset style="height:95%; text-align:center;">
                <legend style="font-weight:bold"> Serching Criteria : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:100%">
                    <tr>
                        <td colspan="5" style="height:20px;"></td>
                    </tr>
                    <tr>
                        <td style="width:17%;text-align:right"> Production Date :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboProductionDate" style="width:100%;height:22px;"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtProductionDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtProductionDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:6%;text-align:right"></td>
                        <td style="width:17%;text-align:right"> Delivery Date :</td>
                        <td style="width:30%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboDeliveryDate" style="width:100%;height:22px;"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtDeliveryDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtDeliveryDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:17%;text-align:right"> Type :  </td>
                        <td style="width:30%;text-align:left">
                            <select id="cboType" style="width:100%;height:22px;">
                                <option value="0">--Select One--</option>
                                <option value="1">Stock In Hand</option>
                            </select>
                        </td>
                        <td style="width:6%;text-align:right"></td>
                        <td style="width:17%;text-align:right"> Receive Date : </td>
                        <td style="width:30%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboReceiveDate" style="width:100%;height:22px;"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtReceiveDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtReceiveDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table> 
                        </td>
                    </tr>
                    <tr>
                        <td style="width:17%;text-align:right">Dispo No:</td>
                        <td style="width:30%;text-align:left">
                            <input id="txtDispoNo" type="text" style="width:100%; height:22px;" />
                        </td>

                        <td style="width:6%;text-align:right"></td>     
                        <td style="width:8%;text-align:right">Batch No:</td>
                        <td style="width:15%;text-align:left">
                            <input id="txtBatchNo" type="text" style="width:100%; height:22px;" />
                        </td>                             
                    </tr>
                    <tr>
                        <td style="width:17%;text-align:right">QC Grades:</td>
                        <td style="width:30%;text-align:left">
                            <input id="txtQCGrade" type="text" style="width:80%; height:22px;" />
                            <a id="btnPickQCGrade" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                            <a id="btnClrPickQCGrade" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                        </td>

                        <td style="width:6%;text-align:right"></td>
                        <td style="width:8%;text-align:right"></td>
                        <td style="width:15%;text-align:left">
                            
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:50%;text-align:right"></td>
                    <td style="width:50%;text-align:right">
                        <a id="btnPrintStockReport" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                        <a id="btnGreigeInspectionReport" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Greige Ins. Report</a>
                        @*<a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel</a>*@
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>


<script type="text/javascript">
    var _sBaseAddress="";
    var _nBUID=0;
    $(document).ready(function () {
        _nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));        
        var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));        
        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        
        $("#cboProductionDate,#cboDeliveryDate,#cboReceiveDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $('#txtProductionDateStart,#txtProductionDateEnd,#txtDeliveryDateStart,#txtDeliveryDateEnd,#txtReceiveDateStart,#txtReceiveDateEnd').datebox({ disabled : true });      
        $('#txtProductionDateStart,#txtProductionDateEnd,#txtDeliveryDateStart,#txtDeliveryDateEnd,#txtReceiveDateStart,#txtReceiveDateEnd').datebox('setValue', icsdateformat(new Date()));
        $('#txtQCGrade').data('FabricQCGradeID',0);
    });

    $('#cboReceiveDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboReceiveDate').val());
        if(nCompareOperator===0)
        {
            $('#txtReceiveDateStart').datebox({ disabled : true });
            $('#txtReceiveDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtReceiveDateStart').datebox({ disabled : false });
            $('#txtReceiveDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtReceiveDateStart').datebox({ disabled : false });
            $('#txtReceiveDateEnd').datebox({ disabled : false });
        }
        $('#txtReceiveDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtReceiveDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboDeliveryDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboDeliveryDate').val());
        if(nCompareOperator===0)
        {
            $('#txtDeliveryDateStart').datebox({ disabled : true });
            $('#txtDeliveryDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtDeliveryDateStart').datebox({ disabled : false });
            $('#txtDeliveryDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtDeliveryDateStart').datebox({ disabled : false });
            $('#txtDeliveryDateEnd').datebox({ disabled : false });
        }
        $('#txtDeliveryDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtDeliveryDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboProductionDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboProductionDate').val());
        if(nCompareOperator===0)
        {
            $('#txtProductionDateStart').datebox({ disabled : true });
            $('#txtProductionDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtProductionDateStart').datebox({ disabled : false });
            $('#txtProductionDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtProductionDateStart').datebox({ disabled : false });
            $('#txtProductionDateEnd').datebox({ disabled : false });
        }
        $('#txtProductionDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtProductionDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#btnClose').click(function (e) {
        window.location.href = window.location.href;
    });


    function ValidateSearch()
    {
        var nProductionDate = parseInt($('#cboProductionDate').val());
        if(nProductionDate===1 || nProductionDate===2 || nProductionDate===3 || nProductionDate===4)
        {
            var sProductionDateStart = $('#txtProductionDateStart').datebox('getValue');
            if(sProductionDateStart===null || sProductionDateStart==="")
            {
                alert("Please select FabricBatchQC start date!");
                $('#txtProductionDateStart').focus();
                return false;
            }
        }
        if(nProductionDate===5 || nProductionDate===6)
        {
            var sProductionDateStart   = $('#txtProductionDateStart').datebox('getValue');
            var sProductionDateEnd = $('#txtProductionDateEnd').datebox('getValue');
            if(sProductionDateStart===null || sProductionDateStart==="")
            {
                alert("Please select FabricBatchQC start date!");
                $('#txtProductionDateStart').focus();
                return false;
            }
            if(sProductionDateEnd===null || sProductionDateEnd==="")
            {
                alert("Please select FabricBatchQC end date!");
                $('#txtProductionDateEnd').focus();
                return false;
            }
            if(new Date(sProductionDateStart) > new Date(sProductionDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtProductionDateStart').focus();
                return false;
            }
        }

        var nDeliveryDate = parseInt($('#cboDeliveryDate').val());
        if(nDeliveryDate===1 || nDeliveryDate===2 || nDeliveryDate===3 || nDeliveryDate===4)
        {
            var sDeliveryDateStart = $('#txtDeliveryDateStart').datebox('getValue');
            if(sDeliveryDateStart===null || sDeliveryDateStart==="")
            {
                alert("Please select FabricBatchQC start date!");
                $('#txtDeliveryDateStart').focus();
                return false;
            }
        }
        if(nDeliveryDate===5 || nDeliveryDate===6)
        {
            var sDeliveryDateStart   = $('#txtDeliveryDateStart').datebox('getValue');
            var sDeliveryDateEnd = $('#txtDeliveryDateEnd').datebox('getValue');
            if(sDeliveryDateStart===null || sDeliveryDateStart==="")
            {
                alert("Please select FabricBatchQC start date!");
                $('#txtDeliveryDateStart').focus();
                return false;
            }
            if(sDeliveryDateEnd===null || sDeliveryDateEnd==="")
            {
                alert("Please select FabricBatchQC end date!");
                $('#txtDeliveryDateEnd').focus();
                return false;
            }
            if(new Date(sDeliveryDateStart) > new Date(sDeliveryDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtDeliveryDateStart').focus();
                return false;
            }
        }

        var nReceiveDate = parseInt($('#cboReceiveDate').val());
        if(nReceiveDate===1 || nReceiveDate===2 || nReceiveDate===3 || nReceiveDate===4)
        {
            var sReceiveDateStart = $('#txtReceiveDateStart').datebox('getValue');
            if(sReceiveDateStart===null || sReceiveDateStart==="")
            {
                alert("Please select FabricBatchQC start date!");
                $('#txtReceiveDateStart').focus();
                return false;
            }
        }
        if(nReceiveDate===5 || nReceiveDate===6)
        {
            var sReceiveDateStart   = $('#txtReceiveDateStart').datebox('getValue');
            var sReceiveDateEnd = $('#txtReceiveDateEnd').datebox('getValue');
            if(sReceiveDateStart===null || sReceiveDateStart==="")
            {
                alert("Please select FabricBatchQC start date!");
                $('#txtReceiveDateStart').focus();
                return false;
            }
            if(sReceiveDateEnd===null || sReceiveDateEnd==="")
            {
                alert("Please select FabricBatchQC end date!");
                $('#txtReceiveDateEnd').focus();
                return false;
            }
            if(new Date(sReceiveDateStart) > new Date(sReceiveDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtReceiveDateStart').focus();
                return false;
            }
        }

        var QCGradeID = parseInt($('#txtQCGrade').data('FabricQCGradeID'));
        if(QCGradeID<=0)
        {
            alert("Please Pick Any Grade");
            return;
        }

        var nType = parseInt($('#cboType').val());
        var sDispoNo = $('#txtDispoNo').val();
        var sBatchNo = $('#txtBatchNo').val();
        if(nProductionDate === 0 && nDeliveryDate === 0 && nReceiveDate === 0 && nType == 0 && sDispoNo=="" && sBatchNo=="" && QCGradeID<=0)
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        return true;
    }

    function RefreshObject()
    {
        var nProductionDate = parseInt($('#cboProductionDate').val());
        var sProductionDateStart   = $('#txtProductionDateStart').datebox('getValue');
        var sProductionDateEnd = $('#txtProductionDateEnd').datebox('getValue');

        var nDeliveryDate = parseInt($('#cboDeliveryDate').val());
        var sDeliveryDateStart   = $('#txtDeliveryDateStart').datebox('getValue');
        var sDeliveryDateEnd = $('#txtDeliveryDateEnd').datebox('getValue');

        var nReceiveDate = parseInt($('#cboReceiveDate').val());
        var sReceiveDateStart   = $('#txtReceiveDateStart').datebox('getValue');
        var sReceiveDateEnd = $('#txtReceiveDateEnd').datebox('getValue');

        var nType = parseInt($('#cboType').val());

        var nQCGrade = parseInt($('#txtQCGrade').data('FabricQCGradeID'));

        var sSearchingData  =  nProductionDate+'~';
        sSearchingData = sSearchingData + sProductionDateStart+'~';
        sSearchingData = sSearchingData + sProductionDateEnd+'~';

        sSearchingData = sSearchingData + nDeliveryDate +'~';
        sSearchingData = sSearchingData + sDeliveryDateStart +'~';
        sSearchingData = sSearchingData + sDeliveryDateEnd+'~';

        sSearchingData = sSearchingData + nReceiveDate +'~';
        sSearchingData = sSearchingData + sReceiveDateStart +'~';
        sSearchingData = sSearchingData + sReceiveDateEnd +'~';
        sSearchingData = sSearchingData + nType;

        var oFabricBatchQC = {
            BUID : _nBUID,
            DispoNo: $('#txtDispoNo').val(),
            BatchNo :  $('#txtBatchNo').val(),
            ErrorMessage : sSearchingData,
            FBGradeID : nQCGrade

        };
        return oFabricBatchQC;
    }

    $('#btnPrintStockReport').click(function(e){
        debugger;
        if(!ValidateSearch()) return;
        var oFabricBatchQC = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/FabricBatch/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oFabricBatchQC),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/FabricBatch/PrintStockReport?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });
    $('#btnGreigeInspectionReport').click(function(e){
        debugger;
        if(!ValidateSearch()) return;
        var oFabricBatchQC = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/FabricBatch/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oFabricBatchQC),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/FabricBatch/PrintGreigeInspectionReport?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    //QCGrade Picker
    $("#btnPickQCGrade").click(function () {
        debugger;
        GetQCGrade();

    });
    $("#btnClrPickQCGrade").click(function () {
        debugger;
        $('#txtQCGrade').data('FabricQCGradeID', 0);
        $('#txtQCGrade').val("");

    });
    $("#txtQCGrade").keydown( function(e){
        debugger;        
        var code = (e.keyCode ? e.keyCode : e.which);
        if (code == 13) //enter
        {            
            GetQCGrade();
        }
        else if(code == 8) // backspace
        {
            $('#txtQCGrade').data('FabricQCGradeID', 0);
        }
        
    });  
    function  GetQCGrade()
    {          
        var oGetQCGrade= {Name: $("#txtQCGrade").val()};
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oGetQCGrade,
            ControllerName: "FabricBatch",
            ActionName: "GetsQCGrades",
            IsWinClose: false
        };
        debugger;
        var tblColums = [];
        oColumn = { field: "Name", title: "Fabric QC Grade", width: 300, align: "left" }; tblColums.push(oColumn);
        var oPickerFabricQCGrade = {
            winid: 'winQCGrade',
            winclass: 'clsQCGrade',
            winwidth: 450,
            winheight: 400,
            tableid: 'tblQCGrade',
            tablecolumns: tblColums,
            multiplereturn: false,
            searchingbyfieldName: 'Name',
            windowTittle: 'QCGrade List',
            paramObj: obj,
            pkID: 'FabricQCGradeID',
            callBack: SetFabricQCGrades
        };
        $.icsDynamicPicker(oPickerFabricQCGrade);
    }
    function SetFabricQCGrades(oSelectedQCGrade)
    {
        debugger;
        if(oSelectedQCGrade.FabricQCGradeID>0)
        {                    
            $('#txtQCGrade').data('FabricQCGradeID', oSelectedQCGrade.FabricQCGradeID);
            $('#txtQCGrade').val(oSelectedQCGrade.Name+" Grade Selected.");
            $('#txtQCGrade').addClass('fontColorOfPickItem');
        }
        else
        {
            $('#txtQCGrade').val('');
            $('#txtQCGrade').data('FabricQCGradeID', 0);
            $('#txtQCGrade').removeClass('fontColorOfPickItem');
        }        
    }


    

    //function BuyerKeyDown(event) {
    //    //return;
    //    if (event.which == 13) {
    //        var oTxtName=$("#txtBuyer").val();
    //        if (oTxtName != null) {
    //            PickBuyer(oTxtName);
    //        }
    //    }
    //    if (event.which == 8) {
    //        txtBuyer.style.color="Black";
    //        $("#MainDiv").data("BuyerID",0);
    //    }

    //}
    //function PickBuyer(oTxtName)
    //{
    //    var oStyleSearch = {
    //        Params: '2' + '~' + $("#txtBuyer").val() +'~'+parseInt(sessionStorage.getItem("BUID"))
    //    };//
    //    console.log(oStyleSearch);
    //    debugger;
    //    var obj = {
    //        BaseAddress:_sBaseAddress,
    //        Object: (oStyleSearch) ,
    //        ControllerName: "Contractor", //TechnicalSheet
    //        ActionName: "ContractorSearchByNameType",//ViewStyleSearch
    //        IsWinClose: false
    //    };
    //    var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
    //    oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
    //    oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
    //    oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
    //    DynamicPiker('Buyer',obj,tblColums,false,'Name','ContractorID',600); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
    //}
    //function SetBuyer(oSelectedStyle) {
    //    debugger;
    //    document.getElementById("txtBuyer").value = oSelectedStyle.Name;
    //    txtBuyer.style.color="Blue";
    //    //var text = "";
    //    //var len = oSelectedStyle.length;
    //    //for (var i = 0; i < len; i++) {

    //    //    text += oSelectedStyle[i].ModuleName;
    //    //}
    //    //document.getElementById("txtModuleName").innerHTML = text;
    //    $("#MainDiv").data("BuyerID",oSelectedStyle.ContractorID);
    //    //_oFabricBatchQC.BuyerID = oSelectedStyle.ContractorID;
    //}

    //function SetPickerValueAssign(oPickerobj)
    //{
    //    debugger;
    //    var oResult;
    //    if (oPickerobj.multiplereturn)
    //    {
    //        oResult = $('#'+oPickerobj.tableid).datagrid('getChecked');
    //    }
    //    else
    //    {
    //        oResult = $('#'+oPickerobj.tableid).datagrid('getSelected');
    //    }


    //    if (oPickerobj.winid == 'winBuyer')
    //    {
    //        SetBuyer(oResult);
    //    }
    //    else if (oPickerobj.winid == 'winPO')
    //    {
    //        SetOrderRecap(oResult);
    //    }
        

    //    $("#" + oPickerobj.winid).icsWindow("close");
    //    $("#" + oPickerobj.winid).remove();
    //}

    //function updateProgress() {
    //    var value =$('#progressbar').progressbar('getValue');
    //    if (value < 90){
    //        value += Math.floor(Math.random() * 10);
    //        $('#progressbar').progressbar('setValue', value);
    //    }
    //}

    //function hideShow(miliseconds) {
    //    $("#progressbarParent").hide();
    //}

    //function DynamicPiker(pickerName,obj,pTblColums,pMultiReturn,pSearchField,pID,nWidth)
    //{
    //    debugger;
    //    $("#progressbar").progressbar({ value: 0 });
    //    $("#progressbarParent").show();
    //    setInterval(updateProgress,250);

    //    $.icsDataGets(obj, function (response) {
    //        debugger;
    //        if (response.status && response.objs.length > 0) {
    //            if (response.objs[0][pID] > 0) {
    //                debugger;
    //                var tblColums = pTblColums;
    //                var oPickerParam = {
    //                    winid: 'win'+pickerName,
    //                    winclass: 'cls'+pickerName,
    //                    winwidth: nWidth,
    //                    winheight: 460,
    //                    tableid: 'tbl'+pickerName+'s',
    //                    tablecolumns: tblColums,
    //                    datalist: response.objs,
    //                    multiplereturn: pMultiReturn,
    //                    searchingbyfieldName: pSearchField,
    //                    windowTittle: pickerName+' List',
    //                    colsable:true
    //                };
    //                $.icsPicker(oPickerParam);
    //                $("#progressbar").progressbar({ value: 0 });//hide
    //                $("#progressbarParent").hide();
    //                IntializePickerbutton(oPickerParam);
    //            }
    //            else {
    //                alert(response.objs[0].ErrorMessage);
    //                $("#progressbar").progressbar({ value: 0 });//hide
    //                $("#progressbarParent").hide();
    //            }
    //        }
    //        else{
    //            alert("Data Not Found.");
    //            $("#progressbar").progressbar({ value: 0 });//hide
    //            $("#progressbarParent").hide();
    //            return;
    //        }
    //    });
    //}

    //function IntializePickerbutton(oPickerobj) {
    //    debugger;
    //    $("#" + oPickerobj.winid).find("#btnOk").click(function () {
    //        debugger;
    //        //for Single Select
    //        SetPickerValueAssign(oPickerobj);
    //    });
    //    $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
    //        if (e.which == 13)//enter=13
    //        {
    //            SetPickerValueAssign(oPickerobj);
    //        }
    //    });
    //}


</script>