@{
    ViewBag.Title = "FN Batch QC";
}

@model IEnumerable<ESimSol.BusinessObjects.FNBatchQC>

    <head>
        <title>FN Batch</title>
    </head>

    <body>
        <div class="menuMainCollectionTable">
            <table id="tblFNBatchQC" title="FN Batch QC List" class="easyui-datagrid" fit="true" fitcolumn="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbarFNBatchQC">
                <thead>
                    <tr>
                        <th field="FNBatchNo" width="10%">BatchNo</th>
                        <th field="FNBatchStatusStr" width="12%">Batch Status</th>
                        <th field="BuyerName" width="15%">Customer</th>
                        @*<th field="StartTimeStr" width="10%">Start Date</th>
                        <th field="EndTimeStr" width="10%">End Date</th>*@
                        <th field="BatchQty" width="10%" align="right" formatter="formatPrice">Batch Qty</th>
                        <th field="OutQty" width="10%" align="right" formatter="formatPrice">Out Qty</th>
                        <th field="Qty" width="10%" align="right" formatter="formatPrice">QC Qty</th>
                        <th field="CountName" width="12%" align="left">Count</th>
                        <th field="Construction" width="12%">EPI*PPI</th>
                        <th field="FinishTypeName" width="10%">Finish Type</th>
                        <th field="FNBatchStatusStr" width="10%">Status</th>
                        
                    </tr>
                </thead>

            </table>

            <div id="toolbarFNBatchQC">
                <input type="text" id="txtBatchNoSearch" placeholder="Search Batch No" style="width:20%;" />
                <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>

                <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>
                <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-edit" plain="true">Edit</a>
                <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-remove" plain="true">Delete</a>
                <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-details" plain="true">View</a>
                <a id="btnPrint" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-print" plain="true">Print</a>
                <a id="btnPacking" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Packing</a>
                <a id="btnPackingNew" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Packing2</a>
                <a id="btnExcel" href="javascript:void(0)" class="easyui-linkbutton initial-state" iconcls="icon-print" plain="true">Excel</a>
                <a id="btnProductionReport" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Production Report</a>

            </div>
        </div>
    </body>

    <div id="winAdvSearch" class="easyui-window winClass" style=" width:500px;" title=" adv. search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <table style="width:100%;">
                <tr>
                    <td>
                        <fieldset style="margin-bottom: 0px;">
                            <legend>Searching Criteria</legend>
                            <table>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Batch No : </label>
                                    </td>
                                    <td colspan="3" style="width:80%;text-align:left;">
                                        <input id="txtBatchNoAdv" type="text" style="width:98%" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Dispo No : </label>
                                    </td>
                                    <td colspan="3" style="width:80%;text-align:left;">
                                        <input id="txtDispoNoAdv" type="text" style="width:98%" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Start Date : </label>
                                    </td>
                                    <td colspan="3">
                                        <select id="cboStartDateAdv" style="width:35%;height:22px;" onchange="DateActions_StartDateAdv(); "></select>
                                        <input id="txtFromStartDateAdv" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />To
                                        <input id="txtToStartDateAdv" type="text" style="width: 100px;" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" />
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Customer : </label>
                                    </td>
                                    <td colspan="3">
                                        <input id="txtCustomerName" style="width:82%;" type="text" placeholder="Type Party Name & Press Enter" />
                                        <a id="btnCustomerPiker" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                        <a id="btnClrCustomerPiker" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td style=" width:20%;text-align:right;">
                                        <label>Mkt. Account : </label>
                                    </td>
                                    <td colspan="3">
                                        <input id="txtMktAccount" style="width:82%;" type="text" placeholder="Type Name & Press Enter" />
                                        <a id="btnMktAccountPiker" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-pick" plain="true"></a>
                                        <a id="btnClrMktAccountPiker" href="javascript:void(0)" class="easyui-linkbutton ics-pick" iconcls="icon-clear" plain="true"></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td height="5px" colspan="4"></td>
                                </tr>
                            </table>
                        </fieldset>
                    </td>
                </tr>
            </table>

            <fieldset class="actionfieldsetstyle">
                <legend>Actions : </legend>
                <label class="lblLoadingMessage" style="float: left;">Loading Please Wait...</label>
                <a id="btnSearchAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                <a id="btnCloseAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
            </fieldset>
        </div>


    <script type="text/javascript">
        var _sBaseAddress="";
        var _oFNBatchQCs=[];
        var _nbuid=0;
        var _oCompareOperators = [];
        $(document).ready(function () {
            _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
            _oFNBatchQCs =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
            _nbuid= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.buid));
            _oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
            $('#btnPrint').hide();

            debugger;
            if(sessionStorage.getItem("FNBatchQCs")!=null && jQuery.parseJSON(sessionStorage.getItem('FNBatchQCs')).length>0)
            {
                _oFNBatchQCs= jQuery.parseJSON(sessionStorage.getItem('FNBatchQCs'));
                var nIndex= sessionStorage.getItem('SelectedRowIndex');
                DynamicRefreshList(_oFNBatchQCs, 'tblFNBatchQC');
                if(nIndex>-1){
                    $('#tblFNBatchQC').datagrid('selectRow',nIndex);
                }
            }
            else
            {
                DynamicRefreshList(_oFNBatchQCs, 'tblFNBatchQC');
            }
            $("#winAdvSearch").data("CustomerIDs","");
            $("#winAdvSearch").data("MktPersonIDs","");
        });

        $(document).keydown(function (e) { if (e.keyCode == 27) { $('div').icsWindow('close'); } });



        /*.......... Searching ............. */


        $("#txtBatchNoSearch").keyup(function (e) {
            var oFNBatchQCs =[];
            var keyCode = e.keyCode || e.which;
            $('#txtBatchNoSearch').removeClass("errorFieldBorder");
            if (keyCode == 8) { oFNBatchQCs = _oFNBatchQCs; }
            else{ oFNBatchQCs = $('#tblFNBatchQC').datagrid('getRows'); }
            if (e.keyCode == 13) // Enter Press
            {
                if (!$.trim($("#txtBatchNoSearch").val()).length ) {

                    alert("Please FN Batch No.");
                    $('#txtBatchNoSearch').focus();
                    $('#txtBatchNoSearch').val("");
                    return;
                }
                else { $('#txtBatchNoSearch').removeClass("errorFieldBorder"); }
                if ($.trim($("#txtBatchNoSearch").val()).length<=0 ) {
                    alert("Type FN Batch No to search.");
                    $('#txtBatchNoSearch').focus();
                    $('#txtBatchNoSearch').val("");
                    return;
                }
                else { $('#txtBatchNoSearch').removeClass("errorFieldBorder"); }


                var oFNBatchQC={
                    Params: $.trim($("#txtBatchNoSearch").val()) +'~'+ "" +'~'+ 0 +'~'+ icsdateformat(new Date) +'~'+ icsdateformat(new Date) +'~'+ "" +'~'+ ""
                };
                sessionStorage.setItem("SearchString", oFNBatchQC.Params);
                GetsFNBatchQC(oFNBatchQC, false) ;
            }
            else {
                var sTempName="";
                var oSearchedData = [];
                for(i=0;i<oFNBatchQCs.length;++i)
                {
                    sTempName=oFNBatchQCs[i]['BatchNo'];
                    if(sTempName.toUpperCase().indexOf($('#txtBatchNoSearch').val().toUpperCase())>-1)
                    {
                        oSearchedData.push(oFNBatchQCs[i]);
                    }
                }
                $('#tblFNBatchQC').empty();
                if (oSearchedData.length == 0) { DynamicRefreshList(_oFNBatchQCs, "tblFNBatchQC");}
                else { DynamicRefreshList(oSearchedData, "tblFNBatchQC"); }

            }
        });

        $("#btnCloseAdvSearch").click(function () {
            $("#winAdvSearch").icsWindow("close");
        });

        function DateActions_StartDateAdv() {
            DynamicDateActions("cboStartDateAdv", "txtFromStartDateAdv", "txtToStartDateAdv");
        }

        function ResetAdvSearchWindow() {
            $(".lblLoadingMessage").hide();
            $("#winAdvSearch input").not("input[type='button']").val("");
            $("#winAdvSearch select").val(0);
            $("#txtFromStartDateAdv,#txtToStartDateAdv").datebox({ disabled: true });
            $("#txtFromStartDateAdv,#txtToStartDateAdv").datebox("setValue", icsdateformat(new Date()));
            $("#winAdvSearch").data("CustomerIDs","");
            $("#winAdvSearch").data("MktPersonIDs","");
        }

        $("#btnAdvSearch").click(function () {
            debugger;
            $("#cboStartDateAdv").icsLoadCombo({List: _oCompareOperators, OptionValue: "id", DisplayText: "Value"});
            ResetAdvSearchWindow();
            $("#winAdvSearch").icsWindow("open", " Advance Search");
        });

        $("#btnSearchAdvSearch").click(function () {
            var sBatchNoAdv = $.trim($("#txtBatchNoAdv").val());
            var sDispoNoAdv = $.trim($("#txtDispoNoAdv").val());
            
            var nCboStartDateAdv = parseInt($("#cboStartDateAdv").val());
            var dFromStartDateAdv = $('#txtFromStartDateAdv').datebox('getValue');
            var dToStartDateAdv = $('#txtToStartDateAdv').datebox('getValue');

            var sContractorIDs = $("#winAdvSearch").data("CustomerIDs");
            var sMktPersonIDs = $("#winAdvSearch").data("MktPersonIDs");

            if(sBatchNoAdv == "" && sDispoNoAdv == "" && nCboStartDateAdv <= 0 && sContractorIDs == "" && sMktPersonIDs == ""){
                alert("Please enter atleast one searching criteria!!");
                return;
            }
            var oFNBatchQC={
                Params: $.trim(sBatchNoAdv) +'~'+ $.trim(sDispoNoAdv) +'~'+ nCboStartDateAdv +'~'+ dFromStartDateAdv +'~'+ dToStartDateAdv +'~'+ sContractorIDs +'~'+ sMktPersonIDs
            };
            sessionStorage.setItem("SearchString", oFNBatchQC.Params);
            GetsFNBatchQC(oFNBatchQC, true) ;

        });

        $('#btnExcel').click(function (e)
        {
            var sString = "";
            sString = sessionStorage.getItem("SearchString");
            if(sString=="" || sString == null)
            {
                alert("Please Search First");
                return;
            }
            window.open(_sBaseAddress+'/FNBatch/PrintExcelList?sParam=' + sString + "&nBUID=" + _nbuid);
        });

        function GetsFNBatchQC(oFNBatchQC, bIsAdvSearch) {
            var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: oFNBatchQC,
                ControllerName: "FNBatch",
                ActionName: "GetsFNBatchQC",
                IsWinClose: false
            };

            $.icsDataGets(obj, function (response) {
                if (response.status && response.objs != null) {
                    if (response.objs.length > 0) {
                        if(response.objs[0].FNBatchQCID>0){
                            _oFNBatchQCs=response.objs;
                            DynamicRefreshList(response.objs, "tblFNBatchQC");
                            if(bIsAdvSearch){
                                $("#winAdvSearch").icsWindow("close");
                            }
                        }
                        else{DynamicRefreshList([], "tblFNBatchQC"); alert(response.objs[0].ErrorMessage);}
                    }
                    else { DynamicRefreshList([], "tblFNBatchQC"); alert("No FNBatchQC found."); }
                }
            });
        }

        /*------------------------------------*/

        $("#btnAdd").click(function(){
            debugger;
            sessionStorage.setItem("buid", _nbuid);
            sessionStorage.setItem("Operation", "New");
            sessionStorage.setItem("SelectedRowIndex", -1);
            sessionStorage.setItem("FNBatchQCHeader", "Add FN Batch QC");
            sessionStorage.setItem("FNBatchQCs", JSON.stringify($('#tblFNBatchQC').datagrid('getRows')));
            sessionStorage.setItem("BackLink", window.location.href);
            var tsv=((new Date()).getTime())/1000;
            window.location.href = _sBaseAddress+ "/FNBatch/ViewFNBatchQC_New?nId=0&ts="+tsv;
        });

        $('#btnEdit').click(function (e)
        {

            var oFNBatchQC = $('#tblFNBatchQC').datagrid('getSelected');
            if (oFNBatchQC ==null || oFNBatchQC.FNBatchQCID <=0 ) { alert("Please select an item from list."); return ; }


            var nIndex=$('#tblFNBatchQC').datagrid('getRowIndex',oFNBatchQC);

            sessionStorage.setItem("buid", _nbuid);
            sessionStorage.setItem("Operation", "Edit");
            sessionStorage.setItem("SelectedRowIndex", nIndex);
            sessionStorage.setItem("FNBatchQCHeader", "Edit FN Batch QC");
            sessionStorage.setItem("FNBatchQCs", JSON.stringify($('#tblFNBatchQC').datagrid('getRows')));
            sessionStorage.setItem("BackLink", window.location.href);
            var tsv=((new Date()).getTime())/1000;
            window.location.href = _sBaseAddress+ "/FNBatch/ViewFNBatchQC_New?nId="+oFNBatchQC.FNBatchQCID+"&ts="+tsv;
        });

        $('#btnDelete').click(function(e){
            var oFNBatchQC = $('#tblFNBatchQC').datagrid('getSelected');
            if (oFNBatchQC ==null || oFNBatchQC.FNBatchQCID <=0 ) { alert("Please select an item from list."); return ; }
            if (!confirm("Confirm to delete?")) return;
            sessionStorage.clear();
            var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: oFNBatchQC,
                ControllerName: "FNBatch",
                ActionName: "FNBatchQCDelete",
                TableId: "tblFNBatchQC",
                IsWinClose: false
            };
            $.icsDelete(obj);

        });

        $('#btnView').click(function (e)
        {
            var oFNBatchQC = $('#tblFNBatchQC').datagrid('getSelected');
            if (oFNBatchQC ==null || oFNBatchQC.FNBatchQCID <=0 ) { alert("Please select an item from list."); return ; }

            var nIndex=$('#tblFNBatchQC').datagrid('getRowIndex',oFNBatchQC);

            sessionStorage.clear();
            sessionStorage.setItem("Operation", "View");
            sessionStorage.setItem("SelectedRowIndex", nIndex);
            sessionStorage.setItem("buid", _nbuid);
            sessionStorage.setItem("FNBatchQCHeader", "FN Batch QC");
            sessionStorage.setItem("FNBatchQCs", JSON.stringify($('#tblFNBatchQC').datagrid('getRows')));
            sessionStorage.setItem("BackLink", window.location.href);
            var tsv=((new Date()).getTime())/1000;
            window.location.href = _sBaseAddress+ "/FNBatch/ViewFNBatchQC_New?nId="+oFNBatchQC.FNBatchQCID+"&ts="+tsv;;
        });

        $('#btnPrint').click(function (e)
        {
            var oFNBatchQC = $('#tblFNBatchQC').datagrid('getSelected');
            if (oFNBatchQC ==null || oFNBatchQC.FNBatchQCID <=0 ) { alert("Please select an item from list."); return ; }
            var tsv=((new Date()).getTime())/1000;
            window.open(_sBaseAddress+ "/FNBatch/PrintFNBatchQCCard?nId="+oFNBatchQC.FNBatchQCID+"&nts="+tsv, "_blank");
        });

        $("#btnPacking").click(function(){
            var oFNBatchQC = $('#tblFNBatchQC').datagrid('getSelected');
            if (oFNBatchQC ==null || oFNBatchQC.FNBatchQCID <=0 ) { alert("Please select an item from list."); return ; }
            var sFNQCDID="";
            var nts = ((new Date()).getTime()) / 1000;
            window.open(_sBaseAddress + '/FNBatch/PrintFNPackingTransfer?sFNQCDID='+ sFNQCDID+"&nFNBatchID=" +oFNBatchQC.FNBatchQCID+" &buid="+parseInt(_nbuid) +"&IsMeter=false"   +" &nts=" + nts, "_blank");
        });
        $("#btnPackingNew").click(function(){
            var oFNBatchQC = $('#tblFNBatchQC').datagrid('getSelected');
            if (oFNBatchQC ==null || oFNBatchQC.FNBatchQCID <=0 ) { alert("Please select an item from list."); return ; }
            var sFNQCDID="";

            var nts = ((new Date()).getTime()) / 1000;
            window.open(_sBaseAddress + '/FNBatch/PrintFNPackingTransferNew?sFNQCDID='+ sFNQCDID +"&nFNBatchID=" +oFNBatchQC.FNBatchQCID+" &buid="+ parseInt(_nbuid)+"&IsMeter=false" +" &nts=" + nts, "_blank");
        });
        $("#btnProductionReport").click(function(){
            var sString = "";
            sString = sessionStorage.getItem("SearchString");
            if(sString=="" || sString == null)
            {
                alert("Please Search First");
                return;
            }
            var oFNBatchQCDetail = {
                ErrorMessage: sString,
                BUID: parseInt(_nbuid)
            };

            $.ajax({
                type: "POST",
                dataType: "json",
                url : _sBaseAddress+  "/FNBatch/SetFNBatchData",
                traditional: true,
                data:  JSON.stringify(oFNBatchQCDetail),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var sFeedBackMessage = jQuery.parseJSON(data);
                    if (sFeedBackMessage==="Successful")
                    {
                        window.open (_sBaseAddress+ "/FNBatch/PrintProductionReport");
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                }
            });
        });

        $("#btnClrCustomerPiker").click(function () {
            $("#txtCustomerName").val("");
            $("#winAdvSearch").data("CustomerIDs","");
        });
        $("#btnCustomerPiker").click(function () {
            var sCustomerName=$.trim($("#txtCustomerName").val());
            GetCustomers("");
        });
        $("#txtCustomerName").keydown(function (e) {
            var nkeyCode = e.keyCode || e.which;
            if(nkeyCode==13){
                var sCustomerName=$.trim($("#txtCustomerName").val());
                if(sCustomerName==""){ alert("Type Party name to search."); return false; }
                GetCustomers(sCustomerName);
            }
            else if(nkeyCode==8){
                $("#txtCustomerName").val("");
                $("#winAdvSearch").data("CustomerIDs","");
            }
        }); 
        function GetCustomers(sCustomerName){
            var oCustomer = {
                Params: 3 + '~' + sCustomerName + '~' + sessionStorage.getItem("BUID")
            };
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oCustomer,
                ControllerName: "Contractor",
                ActionName: "ContractorSearchByNameType",
                IsWinClose: false
            };

            $.icsDataGets(obj, function (response) {
                debugger;
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].ContractorID > 0) {
                        debugger;
                        var tblColums = [];
                        var oColumn = { field: "Name", title: "Party Name", width: 200, align: "left" }; tblColums.push(oColumn);
                        oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
                        //oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
                        //oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);

                        var oPickerParam = {
                            winid: 'winCustomersPicker',
                            winclass:'clsCustomersPicker',
                            winwidth: 480,
                            winheight: 460,
                            tableid: 'tblCustomersPicker',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName:'Name',
                            windowTittle: 'Customer List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }
                else{
                    alert("No Customer found.");
                }
            });
        }

        $("#btnClrMktAccountPiker").click(function () {
            $("#txtMktAccount").val("");
            $("#winAdvSearch").data("MktPersonIDs","");
        });
        $("#btnMktAccountPiker").click(function () {
            debugger;
            var sName=$.trim($("#txtMktAccount").val());
            GetMktPersons(sName);
        });
        $("#txtMktAccount").keydown(function (e) {
            var nkeyCode = e.keyCode || e.which;
            if(nkeyCode==13){
                var sName=$.trim($("#txtMktAccount").val());
                GetMktPersons(sName);
            }
            else if(nkeyCode==8){
                $("#txtMktAccount").val("");
                $("#winAdvSearch").data("MktPersonIDs","");
            }
        });
        function GetMktPersons(sName){

            var oMarketingAccount_BU = {
                Name:sName,
                BUID:sessionStorage.getItem("BUID")
            };
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oMarketingAccount_BU,
                ControllerName: "MarketingAccount",
                ActionName: "MarketingAccountSearchByName",
                IsWinClose: false
            };
            //$("#progressbar").progressbar({ value: 0 });
            //$("#progressbarParent").show();
            //var intervalID = setInterval(updateProgress, 250);
            $.icsDataGets(obj, function (response) {
                //clearInterval(intervalID);
                $("#progressbarParent").hide();
                if (response.status && response.objs.length > 0) {
                    if (response.objs[0].MarketingAccountID > 0) {
                        debugger;
                        var tblColums = [];
                        var oColumn = { field: "MarketingAccountID", title: "Code", width: 50, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "Name", title: "Name", width: 180, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "GroupName", title: "Group Name", width: 120, align: "left" };tblColums.push(oColumn);
                        oColumn = { field: "Phone", title: "Phone", width: 100, align: "left" };tblColums.push(oColumn);

                        var oPickerParam = {
                            winid: 'winMktAccount',
                            winclass:'clsMktPersonPicker',
                            winwidth: 460,
                            winheight: 460,
                            tableid: 'tblMktPersonPicker',
                            tablecolumns: tblColums,
                            datalist: response.objs,
                            multiplereturn: true,
                            searchingbyfieldName:'Name',
                            windowTittle: 'MKT Person List'
                        };
                        $.icsPicker(oPickerParam);
                        IntializePickerbutton(oPickerParam);//multiplereturn, winclassName
                    }
                    else { alert(response.objs[0].ErrorMessage); }
                }
                else{
                    alert("No marketing person found.");
                }
            });


        }

        function IntializePickerbutton(oPickerobj) {
            $("#" + oPickerobj.winid).find("#btnOk").click(function () {
                //for Single Select
                SetPickerValueAssign(oPickerobj);
            });
            $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
                if (e.which == 13)//enter=13
                {
                    SetPickerValueAssign(oPickerobj);

                }
            });
        }
        function SetPickerValueAssign(oPickerobj) {
            //debugger;
            var oreturnObj = null, oreturnobjs = [];
            if (oPickerobj.multiplereturn) {
                oreturnobjs = $('#' + oPickerobj.tableid).datagrid('getChecked');
            } else {
                oreturnObj = $('#' + oPickerobj.tableid).datagrid('getSelected');
            }
            $("#" + oPickerobj.winid).icsWindow("close");
            $("#" + oPickerobj.winid).remove();

            if (oPickerobj.winid == 'winCustomersPicker')
            {
                if(oreturnobjs.length > 0){
                    if(oreturnobjs.length == 1){
                        $("#txtCustomerName").val(oreturnobjs[0].Name);
                        $("#winAdvSearch").data("CustomerIDs",oreturnobjs[0].ContractorID);
                    }else{
                        var ids = "";
                        for(var i=0;i<oreturnobjs.length;i++){
                            ids += oreturnobjs[i].ContractorID + ",";
                        }
                        if(ids.length > 0) ids = ids.substring(0, ids.length-1);
                        $("#txtCustomerName").val("You select " + oreturnobjs.length + " Customers");
                        $("#winAdvSearch").data("CustomerIDs",ids);
                    }
                }else{
                    alert("Please select Party!!");
                }
            }
            else if (oPickerobj.winid=='winMktAccount')
            {
                if(oreturnobjs.length > 0){
                    if(oreturnobjs.length == 1){
                        $("#txtMktAccount").val(oreturnobjs[0].Name);
                        $("#winAdvSearch").data("MktPersonIDs",oreturnobjs[0].MarketingAccountID);
                    }else{
                        var ids = "";
                        for(var i=0;i<oreturnobjs.length;i++){
                            ids += oreturnobjs[i].MarketingAccountID + ",";
                        }
                        if(ids.length > 0) ids = ids.substring(0, ids.length-1);
                        $("#txtMktAccount").val("You select " + oreturnobjs.length + " items");
                        $("#winAdvSearch").data("MktPersonIDs",ids);
                    }
                }else{
                    alert("Please select item!!");
                }
            }
            
        }

    </script>
