<html >
@{
    ViewBag.Title = "jjjAbout Us";
}

<head>
    <title>jjjjAbout page</title> 
</head>

<body>
    <div>
        <script type="text/javascript">
            debugger;
            var aaa = "route from server site";

        </script>
        put content here--jakaria
    </div>    
</body>

</html>

