
<div class="modal-header">
    <div class="col-md-6"><h4>{{modalTitle}}</h4></div>
    <div class="col-md-4 text-right"><h4>{{summationLabel}} {{summationValue}}</h4></div>
</div>
<div class="modal-body" id="modal-body">

    <div><input type="text" ng-model="txtSearchfieldName" ng-keyup="SearchPickerKeyDown($event)" placeholder={{PlaceHolderName}} style="width:100%" /></div>
    <div ui-grid="modalOptionsGrid" ui-grid-selection ui-grid-key-nav class="ui-grid-selectable"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-sm btn-success" type="button" ng-click="modalOptionsOk()" autofocus><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {{okButtonLabel}}</button>
    <button class="btn btn-sm btn-danger" type="button" ng-click="modalOptionsCancel()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
</div>
