@*<meta name="viewport" content="width=device-width" />*@
@{
    ViewBag.Title = "Management DashBoard";
}
@model IEnumerable<ESimSol.BusinessObjects.ManagementDashboard>
    <div id="winStyle" class="easyui-window" title="Style List" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false" style="width:770px;height:500px;padding:1px">
        <div style="margin-left:0px; height:410px">            
            <table id="tblStyle" title="" class="easyui-datagrid" style="width:750px;height:410px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false">
                <thead data-options="frozen:true">
                    <tr>
                        <th field="StyleNo" width="100"> Style No </th>
                        <th field="BuyerName" width="140"> Buyer Name </th>                    
                    </tr>
                </thead>
                <thead>
                    <tr>                            
                        <th field="DevelopmentStatusInString" width="100"> Status </th>
                        <th field="ProductName" width="130"> Product Name </th>
                        <th field="YarnCategoryName" width="130"> Fabric Content </th>
                        <th field="SizeRange" width="100"> Size Range</th>
                        <th field="TSTypeInString" width="60"> TS Type </th>
                        <th field="SessionName" width="80"> Session </th>                        
                        <th field="BrandName" width="100">Brand</th>
                    </tr>
                </thead>
            </table>
            <table border="0" cellpadding="1" cellspacing="1">
                <tr style="height:30px;vertical-align:middle;">
                    <td style="width:650px"></td>
                    <td style="width:60px; text-align:center"></td>
                    <td style="width:60px; text-align:center"><a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" id="btnCloseStyle">Close</a> </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="winDevelopment" class="easyui-window" title="Development List" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false" style="width:770px;height:500px;padding:1px">
        <div style="margin-left:0px; height:410px">
            <table id="tblDevelopment" title="" class="easyui-datagrid" style="width:750px;height:410px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false">
                <thead data-options="frozen:true">
                    <tr>
                        <th field="DevelopmentRecapNo" width="80" align="left">Recap No</th>
                        <th field="StyleNo" width="100" align="left">Style No</th>
                        <th field="BuyerName" width="150" align="left">Buyer Name</th>
                    </tr>
                </thead>
                <thead>
                    <tr>                        
                        <th field="BrandName" width="100" align="left">Brand Name</th>
                        <th field="DevelopmentStatusInString" width="100" align="left">Status</th>
                        <th field="DevelopmentTypeInString" width="100" align="left">Development Type</th>
                        <th field="MerchandiserName" width="130" align="left">Merchandiser</th>
                        <th field="InquiryReceivedDateInString" width="80" align="center">Inq. Rec. Date</th>
                        <th field="SampleQty" width="80" formatter="formatPrice" align="right">SampleQty</th>
                        <th field="SampleReceivedDateInString" width="110" align="center">Sampl Rec. Date</th>
                        <th field="SampleSendingDateInString" width="120" align="center">Sampl Sending Date</th>
                    </tr>
                </thead>
            </table>
            <table border="0" cellpadding="1" cellspacing="1">
                <tr style="height:30px;vertical-align:middle;">
                    <td style="width:650px"></td>
                    <td style="width:60px; text-align:center"></td>
                    <td style="width:60px; text-align:center"><a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" id="btnCloseDevelopment">Close</a> </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="winOrder" class="easyui-window" title="Style List" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false" style="width:770px;height:500px;padding:1px">
        <div style="margin-left:0px; height:410px">
            <table id="tblOrder" title="" class="easyui-datagrid" style="width:750px;height:410px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false">
                <thead data-options="frozen:true">
                    <tr>
                        <th field="SLNo" width="60" align="left"> Recap No</th>
                        <th field="OrderRecapNo" width="80" align="left">Order No</th>
                        <th field="StyleNo" width="100" align="left" resizable="true">Style No</th>
                    </tr>
                </thead>
                 <thead>
                    <tr>
                        <th field="SaleOrderStatusInString" width="100" align="left">Status</th>
                        <th field="BuyerName" width="120" align="left">Buyer Name</th>
                        <th field="BrandName" width="100" align="left">Brand Name</th>
                        <th field="OrderDateForViewInString" width="80" align="right">Order Date</th>
                        <th field="ShipmentDateInString" width="80" align="right">Shipment Date</th>
                        <th field="MerchandiserName" width="100" align="left">Merchandiser</th>
                        <th field="ApproveByName" width="100" align="left">Approved</th>
                        <th field="TotalQuantity" width="100" formatter="formatPrice" align="right">Quantity</th>
                        <th field="Amount" width="100" align="right" formatter="formatPrice">Amount</th>
                        <th field="SessionName" width="80" align="left">Session</th>
                        <th field="FactoryName" width="150" align="left">Factory</th>
                    </tr>
                </thead>
            </table>
            <table border="0" cellpadding="1" cellspacing="1">
                <tr style="height:30px;vertical-align:middle;">
                    <td style="width:650px"></td>
                    <td style="width:60px; text-align:center"></td>
                    <td style="width:60px; text-align:center"><a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" id="btnCloseOrder">Close</a> </td>
                </tr>
            </table>
        </div>
    </div>
    
    <div id="winBuyer" class="easyui-window" title="Style List" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false" style="width:770px;height:500px;padding:1px">
        <div style="margin-left:0px; height:410px">
            <table id="tblBuyer" title="" class="easyui-datagrid" style="width:750px;height:410px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false">
                <thead data-options="frozen:true">
                    <tr>
                        <th field="Name" width="200" align="left"> Buyer Name </th>
                    </tr>
                </thead>
                <thead>
                    <tr>                        
                        <th field="ShortName" width="150" align="left">Short Name</th>
                        <th field="Address" width="200" align="left">Address</th>
                        <th field="Email" width="150" align="left">Email Address</th>
                        <th field="Phone" width="150" align="left">phone Number</th>
                    </tr>
                </thead>
            </table>
            <table border="0" cellpadding="1" cellspacing="1">
                <tr style="height:30px;vertical-align:middle;">
                    <td style="width:650px"></td>
                    <td style="width:60px; text-align:center"></td>
                    <td style="width:60px; text-align:center"><a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" id="btnCloseBuyer">Close</a> </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="winFactory" class="easyui-window" title="Style List" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false" style="width:770px;height:500px;padding:1px">
        <div style="margin-left:0px; height:410px">
            <table id="tblFactory" title="" class="easyui-datagrid" style="width:750px;height:410px" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false">
                <thead data-options="frozen:true">
                    <tr>
                        <th field="Name" width="200" align="left"> Factory Name </th>
                    </tr>
                </thead>
                <thead>
                    <tr>                        
                        <th field="ShortName" width="150" align="left">Short Name</th>
                        <th field="Address" width="200" align="left">Address</th>
                        <th field="Email" width="150" align="left">Email Address</th>
                        <th field="Phone" width="150" align="left">phone Number</th>
                    </tr>
                </thead>
            </table>
            <table border="0" cellpadding="1" cellspacing="1">
                <tr style="height:30px;vertical-align:middle;">
                    <td style="width:650px"></td>
                    <td style="width:60px; text-align:center"></td>
                    <td style="width:60px; text-align:center"><a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" id="btnCloseFactory">Close</a> </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="menuMainCollectionTable">
        <div id="toolbar">
            Select Business Session : <select style="width:150px" id="cboBusinessSession"></select>
        </div>
        <table id="tblManagementDashboards" title="Management Dashboard" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="MerchandiserName" width="150" align="left">Merchandiser Name</th>
                    <th field="NumberOfStyleWithMerchandiserID" width="120" align="center" formatter="formatNumberOfStyle">No Of Style</th>
                    <th field="NumberOfDevelopmentWithMerchandiserID" width="170" align="center" formatter="formatNumberOfDevelopment">No Of Development</th>
                    <th field="NumberOfOrderWithMerchandiserID" width="120" align="center" formatter="formatNumberOfOrder">No Of Order</th>
                    <th field="NumberOfTAPWithMerchandiserID" width="110" formatter="formatNumberOfTAP">No Of TAP</th>
                    <th field="TotalOrderQtyWithMerchandiserID" width="150" align="right" formatter="formatTotalOrderQty">Total Order Qty</th>
                    <th field="NumberOfBuyerWithMerchandiserID" width="150" align="center" formatter="formatNumberOfBuyer">No Of Buyer</th>
                    <th field="NumberOfFactoryWithMerchandiserID" width="110" align="center" formatter="formatNumberOfFactory">No of Factory</th>
                    <th field="TaskPendingWithMerchandiserID" width="150" align="center" formatter="formatTaskPending">Task Pending</th>
                    <th field="RegularTaskWithMerchandiserID" width="150" align="center" formatter="formatRegularTask">RegularTask</th>
                </tr>
            </thead>
        </table>
       
    </div>

    <script type="text/javascript">
    var _oManagementDashboards=[];
    var _oManagementDashboard=null;
    var _sBaseAddress="";
    var _oAuthorizationRolesMapping=[];
    $(document).ready(function () {
        //debugger;
        _oManagementDashboards =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        var oBusinessSessions = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessSessions));
        var nBusinessSessionID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessSessionID));
        RefreshList(_oManagementDashboards);
        RefreshCboSession(oBusinessSessions, nBusinessSessionID);
    });

    function RefreshCboSession(oBusinessSessions, nBusinessSessionID)
    {
        $("#cboBusinessSession").icsLoadCombo({
            List: oBusinessSessions,
            OptionValue: "BusinessSessionID",
            DisplayText: "SessionName"
        });
        $("#cboBusinessSession").val(nBusinessSessionID);
    }

    $('#cboBusinessSession').change(function(e){
        var nSessionID = parseInt($('#cboBusinessSession').val());
        if(nSessionID<=0)
        {
            alert("Please select a business session!");
            return;
        }
        var tsv=((new Date()).getTime())/1000;
        window.location.href =_sBaseAddress+"/Home/ViewManagementDashboard?sessionid="+nSessionID+"&ts="+tsv;
    });
   
    function formatNumberOfStyle(value)
    {
        var sReturn = '';
        var oValues = value.split('~');
        var nMerchandiserID = oValues[0];
        var sNumberOfStyle = oValues[1];
        if(parseInt(nMerchandiserID)===0)
        {
            sReturn = sNumberOfStyle;
        }
        else
        {
            sReturn = '<a  href="javascript:void(0)" id="lblNumberOfStyle~'+nMerchandiserID+' value="'+sNumberOfStyle+'"  onclick = "ViewNumberOfStyles('+nMerchandiserID+','+sNumberOfStyle+')"">'+sNumberOfStyle+'</a>';
        }
        return sReturn;
    }

    function formatNumberOfDevelopment(value)
    {
        var sReturn = '';
        var oValues = value.split('~');
        var nMerchandiserID = oValues[0];
        var sNumberOfDevelopment = oValues[1];
        if(parseInt(nMerchandiserID)===0)
        {
            sReturn = sNumberOfDevelopment;
        }
        else
        {
            sReturn = '<a  href="javascript:void(0)" id="lblNumberOfDevelopment~'+nMerchandiserID+' value="'+sNumberOfDevelopment+'"  onclick = "ViewNumberOfDevelopments('+nMerchandiserID+','+sNumberOfDevelopment+')"">'+sNumberOfDevelopment+'</a>';
        }
        return sReturn;
    }

    function formatNumberOfOrder(value)
    {
        var sReturn = '';
        var oValues = value.split('~');
        var nMerchandiserID = oValues[0];
        var sNumberOfOrder = oValues[1];
        if(parseInt(nMerchandiserID)===0)
        {
            sReturn = sNumberOfOrder;
        }
        else
        {
            sReturn = '<a  href="javascript:void(0)" id="lblNumberOfOrder~'+nMerchandiserID+' value="'+sNumberOfOrder+'"  onclick = "ViewNumberOfOrders('+nMerchandiserID+','+sNumberOfOrder+')"">'+sNumberOfOrder+'</a>';
        }
        return sReturn;
    }

    function formatNumberOfTAP(value)
    {
        var sReturn = '';
        var oValues = value.split('~');
        var nMerchandiserID = oValues[0];
        var nNumberOfTAPOrder = oValues[1];
        var sNumberOfTAPInString = oValues[2];
        if(parseInt(nMerchandiserID)===0)
        {
            sReturn = sNumberOfTAPInString;
        }
        else
        {
            sReturn = '<a  href="javascript:void(0)" id="lblNumberOfTAP~'+nMerchandiserID+' value="'+nNumberOfTAPOrder+'"  onclick = "ViewNumberOfTAPOrders('+nMerchandiserID+','+nNumberOfTAPOrder+')"">'+sNumberOfTAPInString+'</a>';
        }
        return sReturn;
    }

    function formatTotalOrderQty(value)
    {
        var sReturn = '';
        var oValues = value.split('~');
        var nMerchandiserID = oValues[0];
        var sTotalOrderQty = oValues[1];
        if(parseInt(nMerchandiserID)===0)
        {
            sReturn = sTotalOrderQty;
        }
        else
        {
            sReturn = '<a  href="javascript:void(0)" id="lblTotalOrderQty~'+nMerchandiserID+' value="'+sTotalOrderQty+'"  onclick = "ViewTotalOrderQtys('+nMerchandiserID+','+sTotalOrderQty+')"">'+sTotalOrderQty+'</a>';
        }
        return sReturn;
    }

    function formatNumberOfBuyer(value)
    {
        var sReturn = '';
        var oValues = value.split('~');
        var nMerchandiserID = oValues[0];
        var sNumberOfBuyer = oValues[1];
        if(parseInt(nMerchandiserID)===0)
        {
            sReturn = sNumberOfBuyer;
        }
        else
        {
            sReturn = '<a  href="javascript:void(0)" id="lblNumberOfBuyer~'+nMerchandiserID+' value="'+sNumberOfBuyer+'"  onclick = "ViewNumberOfBuyers('+nMerchandiserID+','+sNumberOfBuyer+')"">'+sNumberOfBuyer+'</a>';
        }
        return sReturn;
    }

    function formatNumberOfFactory(value)
    {
        var sReturn = '';
        var oValues = value.split('~');
        var nMerchandiserID = oValues[0];
        var sNumberOfFactory = oValues[1];
        if(parseInt(nMerchandiserID)===0)
        {
            sReturn = sNumberOfFactory;
        }
        else
        {
            sReturn = '<a  href="javascript:void(0)" id="lblNumberOfFactory~'+nMerchandiserID+' value="'+sNumberOfFactory+'"  onclick = "ViewNumberOfFactorys('+nMerchandiserID+','+sNumberOfFactory+')"">'+sNumberOfFactory+'</a>';
        }
        return sReturn;
    }

    function formatTaskPending(value)
    {
        var sReturn = '';
        var oValues = value.split('~');
        var nMerchandiserID = oValues[0];
        var sTaskPending = oValues[1];
        if(parseInt(nMerchandiserID)===0)
        {
            sReturn = '';
        }
        else
        {
            sReturn = '<a  href="javascript:void(0)" id="lblTaskPending~'+nMerchandiserID+' value="'+sTaskPending+'"  onclick = "ViewTaskPendings('+nMerchandiserID+','+sTaskPending+')"">See Pending</a>';
        }
        return sReturn;
    }

    function formatRegularTask(value)
    {
        var sReturn = '';
        var oValues = value.split('~');
        var nMerchandiserID = oValues[0];
        var sRegularTask = oValues[1];
        if(parseInt(nMerchandiserID)===0)
        {
            sReturn = '';
        }
        else
        {
            sReturn = '<a  href="javascript:void(0)" id="lblRegularTasks~'+nMerchandiserID+' value="'+sRegularTask+'"  onclick = "ViewRegularTasks('+nMerchandiserID+','+sRegularTask+')"">See Today Task</a>';
        }
        return sReturn;
    }

    function ViewNumberOfStyles(nMerchandiserID, sNumberOfStyle)
    {
        if (parseInt(sNumberOfStyle)<=0)
        {
            alert("Data Not Found");
            return;
        }
        if (parseInt(nMerchandiserID)===0)
        {
            alert("Invalid User!");
            return;
        }
        var nSessionID = parseInt($('#cboBusinessSession').val());
        if(nSessionID<=0)
        {
            alert("Please select a business session!");
            return;
        }

        var oMgtDeshboard = {
            MerchandiserID : nMerchandiserID,
            BusinessSessionID: nSessionID
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/Home/GetsNumberOfStyles",
            traditional: true,
            data:  JSON.stringify(oMgtDeshboard),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oStyles = jQuery.parseJSON(data);                
                data=oStyles;
                data={"total":""+data.length+"","rows":data};
                $('#tblStyle').datagrid('loadData',data);
                var oMgtDeshBoard = $('#tblManagementDashboards').datagrid('getSelected');                
                var sSessionName = $("#cboBusinessSession option:selected").text();
                $('#winStyle').window({'title':'Style List for '+ oMgtDeshBoard.UserName+' @@ Business Session : '+ sSessionName });
                $('#winStyle').window('open');
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    function ViewNumberOfDevelopments(nMerchandiserID, sNumberOfDevelopment)
    {
        if (parseInt(sNumberOfDevelopment)<=0)
        {
            alert("Data Not Found");
            return;
        }

        if (parseInt(nMerchandiserID)===0)
        {
            alert("Invalid User!");
            return;
        }
        var nSessionID = parseInt($('#cboBusinessSession').val());
        if(nSessionID<=0)
        {
            alert("Please select a business session!");
            return;
        }

        var oMgtDeshboard = {
            MerchandiserID : nMerchandiserID,
            BusinessSessionID: nSessionID
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/Home/GetsNumberOfDevelopments",
            traditional: true,
            data:  JSON.stringify(oMgtDeshboard),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oDevelopments = jQuery.parseJSON(data);                
                data=oDevelopments;
                data={"total":""+data.length+"","rows":data};
                $('#tblDevelopment').datagrid('loadData',data);
                var oMgtDeshBoard = $('#tblManagementDashboards').datagrid('getSelected');                
                var sSessionName = $("#cboBusinessSession option:selected").text();
                $('#winDevelopment').window({'title':'Development List for '+ oMgtDeshBoard.UserName+' @@ Business Session : '+ sSessionName });
                $('#winDevelopment').window('open');
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    function ViewNumberOfOrders(nMerchandiserID, sNumberOfOrder)
    {
        if (parseInt(sNumberOfOrder)<=0)
        {
            alert("Data Not Found");
            return;
        }
        if (parseInt(nMerchandiserID)===0)
        {
            alert("Invalid User!");
            return;
        }
        var nSessionID = parseInt($('#cboBusinessSession').val());
        if(nSessionID<=0)
        {
            alert("Please select a business session!");
            return;
        }

        var oMgtDeshboard = {
            MerchandiserID : nMerchandiserID,
            BusinessSessionID: nSessionID
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/Home/GetsNumberOfOrders",
            traditional: true,
            data:  JSON.stringify(oMgtDeshboard),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oOrders = jQuery.parseJSON(data);                
                data=oOrders;
                data={"total":""+data.length+"","rows":data};
                $('#tblOrder').datagrid('loadData',data);
                var oMgtDeshBoard = $('#tblManagementDashboards').datagrid('getSelected');                
                var sSessionName = $("#cboBusinessSession option:selected").text();
                $('#winOrder').window({'title':'Order List for '+ oMgtDeshBoard.UserName+' @@ Business Session : '+ sSessionName });
                $('#winOrder').window('open');
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    function ViewNumberOfTAPOrders(nMerchandiserID, nNumberOfTAPOrder)
    {
        if (parseInt(nNumberOfTAPOrder)<=0)
        {
            alert("Data Not Found");
            return;
        }
        if (parseInt(nMerchandiserID)===0)
        {
            alert("Invalid User!");
            return;
        }
        var nSessionID = parseInt($('#cboBusinessSession').val());
        if(nSessionID<=0)
        {
            alert("Please select a business session!");
            return;
        }

        var oMgtDeshboard = {
            MerchandiserID : nMerchandiserID,
            BusinessSessionID: nSessionID
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/Home/GetsNumberOfTAPOrders",
            traditional: true,
            data:  JSON.stringify(oMgtDeshboard),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oOrders = jQuery.parseJSON(data);                
                data=oOrders;
                data={"total":""+data.length+"","rows":data};
                $('#tblOrder').datagrid('loadData',data);
                var oMgtDeshBoard = $('#tblManagementDashboards').datagrid('getSelected');                
                var sSessionName = $("#cboBusinessSession option:selected").text();
                $('#winOrder').window({'title':'TAP Order List for  '+ oMgtDeshBoard.UserName+' @@ Business Session : '+ sSessionName });
                $('#winOrder').window('open');
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    function ViewTotalOrderQtys(nMerchandiserID, sTotalOrderQty)
    {        
        if (parseInt(sTotalOrderQty)<=0)
        {
            alert("Data Not Found");
            return;
        }
        if (parseInt(nMerchandiserID)===0)
        {
            alert("Invalid User!");
            return;
        }
        var nSessionID = parseInt($('#cboBusinessSession').val());
        if(nSessionID<=0)
        {
            alert("Please select a business session!");
            return;
        }

        var oMgtDeshboard = {
            MerchandiserID : nMerchandiserID,
            BusinessSessionID: nSessionID
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/Home/GetsNumberOfOrders",
            traditional: true,
            data:  JSON.stringify(oMgtDeshboard),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oOrders = jQuery.parseJSON(data);                
                data=oOrders;
                data={"total":""+data.length+"","rows":data};
                $('#tblOrder').datagrid('loadData',data);
                var oMgtDeshBoard = $('#tblManagementDashboards').datagrid('getSelected');                
                var sSessionName = $("#cboBusinessSession option:selected").text();
                $('#winOrder').window({'title':'Order List for '+ oMgtDeshBoard.UserName+' @@ Business Session : '+ sSessionName });
                $('#winOrder').window('open');
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    function ViewNumberOfBuyers(nMerchandiserID, sNumberOfBuyer)
    {
        if (parseInt(sNumberOfBuyer)<=0)
        {
            alert("Data Not Found");
            return;
        }
        if (parseInt(nMerchandiserID)===0)
        {
            alert("Invalid User!");
            return;
        }
        var nSessionID = parseInt($('#cboBusinessSession').val());
        if(nSessionID<=0)
        {
            alert("Please select a business session!");
            return;
        }

        var oMgtDeshboard = {
            MerchandiserID : nMerchandiserID,
            BusinessSessionID: nSessionID
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/Home/GetsNumberOfBuyers",
            traditional: true,
            data:  JSON.stringify(oMgtDeshboard),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oBuyers = jQuery.parseJSON(data);                
                data=oBuyers;
                data={"total":""+data.length+"","rows":data};
                $('#tblBuyer').datagrid('loadData',data);
                var oMgtDeshBoard = $('#tblManagementDashboards').datagrid('getSelected');                
                var sSessionName = $("#cboBusinessSession option:selected").text();
                $('#winBuyer').window({'title':'Buyer List for '+ oMgtDeshBoard.UserName+' @@ Business Session : '+ sSessionName });
                $('#winBuyer').window('open');
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    function ViewNumberOfFactorys(nMerchandiserID, sNumberOfFactory)
    {        
        if (parseInt(sNumberOfFactory)<=0)
        {
            alert("Data Not Found");
            return;
        }
        if (parseInt(nMerchandiserID)===0)
        {
            alert("Invalid User!");
            return;
        }
        var nSessionID = parseInt($('#cboBusinessSession').val());
        if(nSessionID<=0)
        {
            alert("Please select a business session!");
            return;
        }

        var oMgtDeshboard = {
            MerchandiserID : nMerchandiserID,
            BusinessSessionID: nSessionID
        };

        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/Home/GetsNumberOfFactorys",
            traditional: true,
            data:  JSON.stringify(oMgtDeshboard),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oFactorys = jQuery.parseJSON(data);                
                data=oFactorys;
                data={"total":""+data.length+"","rows":data};
                $('#tblFactory').datagrid('loadData',data);
                var oMgtDeshBoard = $('#tblManagementDashboards').datagrid('getSelected');                
                var sSessionName = $("#cboBusinessSession option:selected").text();
                $('#winFactory').window({'title':'Factory List for '+ oMgtDeshBoard.UserName+' @@ Business Session : '+ sSessionName });
                $('#winFactory').window('open');
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    }

    function ViewTaskPendings(nMerchandiserID, sTaskPending)
    {
        //if (parseInt(sTaskPending)<=0)
        //{
        //    alert("Data Not Found");
        //    return;
        //}

        var nSessionID = parseInt($('#cboBusinessSession').val());
        if(nSessionID<=0)
        {
            alert("Please select a business session!");
            return;
        }

        var oBackLink = window.location.href;
        sessionStorage.setItem("BackLink", oBackLink);
        var tsv=((new Date()).getTime())/1000;
        window.location.href =_sBaseAddress+"/Home/MerchandiserDashBoard?EmployeeID="+nMerchandiserID+"&sessionid="+nSessionID+"&ts="+tsv;
    }

    function ViewRegularTasks(nMerchandiserID, sRegularTask)
    {        
        //if (parseInt(sRegularTask)<=0)
        //{
        //    alert("Data Not Found");
        //    return;
        //}

        var nSessionID = parseInt($('#cboBusinessSession').val());
        if(nSessionID<=0)
        {
            alert("Please select a business session!");
            return;
        }

        var oBackLink = window.location.href;
        sessionStorage.setItem("BackLink", oBackLink);
        var tsv=((new Date()).getTime())/1000;
        window.location.href =_sBaseAddress+"/Home/MerchandiserDashBoard?EmployeeID="+nMerchandiserID+"&sessionid="+nSessionID+"&ts="+tsv;
    }

    $('#btnCloseStyle').click(function(e){
        $('#winStyle').window('close');
    });

    $('#btnCloseDevelopment').click(function(e){
        $('#winDevelopment').window('close');
    });

    $('#btnCloseOrder').click(function(e){
        $('#winOrder').window('close');
    });

    $('#btnCloseBuyer').click(function(e){
        $('#winBuyer').window('close');
    });

    $('#btnCloseFactory').click(function(e){
        $('#winFactory').window('close');
    });
        
    function RefreshList(oManagementDashboards)
    {
        data=oManagementDashboards;
        data={"total":""+data.length+"","rows":data};
        $('#tblManagementDashboards').datagrid('loadData',data);
    }

    </script>
