@{
    ViewBag.Title = "Add Order Setup";
}
@model ESimSol.BusinessObjects.ClaimReason

<div style="padding-top:5px; height:99%" ng-app="ClaimReasonAPP" ng-controller="ClaimReasonCtrl" class="form-horizontal regionClaimReason">
    
    <div style="height:90%">  
        <fieldset style="height:100%">
            <legend>Claim Reason Info: </legend>
            <div style="padding:15% 0 0 10%">
                <div class="row col-md-12">
                    <div class="col-md-2 text-right"><label class="control-label">Business Unit:</label></div>
                    <div class="col-md-4 text-left">
                        <select ng-model="ClaimReason.BUID" ng-options="obj.BusinessUnitID as obj.Name for obj in BusinessUnits" ng-disabled="BusinessUnitID > 0" class="form-control">
                            <option value="">--Select One--</option>
                        </select>
                    </div>
                    <div class="col-md-2 text-right"><label class="control-label">Operation Type:</label></div>
                    <div class="col-md-4 text-left">
                        <select id="cboOperationType" ng-model="ClaimReason.OperationType" ng-options="obj.id as obj.Value for obj in OperationTypes" ng-disabled="disabled" class="form-control">
                            <option value="">--Select Type--</option>
                        </select>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-2 text-right"><label class="control-label">Name:</label></div>
                    <div class="col-md-8 text-left">
                        <input ng-model="ClaimReason.Name" ng-disabled="disabled" class="form-control" />
                    </div>
                </div>
                <div class="row col-md-12">
                <div class="col-md-2 text-right"><label class="control-label">Note:</label></div>
                <div class="col-md-8 text-left">
                    <input ng-model="ClaimReason.Note" ng-disabled="disabled" class="form-control" />
                </div>
            </div>
            </div>
        </fieldset>
    </div>
   
    <div style="height:10%">
        <fieldset>
            <legend>Action</legend>
            <div class="row col-md-12 text-right">
                <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="Save()"> <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true">Save</span> </button>
                <button type="button" class="btn btn-sm" aria-label="Left Align" ng-click="Close()"> <span class="glyphicon glyphicon-remove" aria-hidden="true"> Close</span> </button>
            </div>
        </fieldset>
    </div>
</div>

<style type="text/css">

    .grid{
        width:100%; 
        height:320px;
    }
    .regionClaimReason .form-horizontal .control-label{
        padding-top:3px;
    }
    .regionClaimReason .form-control{
        height:26px;
        padding:0px 6px;
        font-size:12px;
    }
    .regionClaimReason .col-md-12{
        width:100%;
        padding-right:5px;
        padding-left:5px;
        margin-bottom:5px;
    }
    .regionClaimReason .col-md-2{
        width:13%;
        padding-right:5px;
        padding-left:5px;
    }
    .regionClaimReason .col-md-3{
        width:20%;
        padding-right:5px;
        padding-left:5px;
    }

    .regionClaimReason .col-md-4{
        width:28%;
        padding-right:5px;
        padding-left:5px;
    }

    .regionClaimReason .col-md-5{
        width:40%;
        padding-right:5px;
        padding-left:0px;
    }

     .regionClaimReason .col-md-10{
        width:86%;
        padding-right:5px;
        padding-left:5px;
    }

    .regionClaimReason .col-md-8{
        width:69%;
        padding-right:5px;
        padding-left:5px;
    }
    .regionClaimReason .btn-sm{
         padding:3px 10px;
     }
     .regionClaimReason .input-group-addon{
         padding: 4px 8px;
     }
</style>

<script type="text/javascript">

    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    var oClaimReason =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var oOperationTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.OperationTypes));
    var oBusinessUnits =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUs));

    var ClaimReasonModule = angular.module('ClaimReasonAPP', ['ngAnimate', 'ui.bootstrap', 'ui.grid', 'ui.grid.selection', 'ui.grid.edit','ms.service']);
    ClaimReasonModule.controller('ClaimReasonCtrl', function ($scope, $http, $uibModal, $log, uiGridConstants, msModal, userSession) {
        debugger;
        var viewType = sessionStorage.getItem("Operation");
        if (viewType == 'View')
        {
            $scope.disabled= true;
            $scope.hide=true;
            $scope.hide_Revise=true;
            $scope.hide_Approve=true;
            $scope.hide_Save=true;
        }
        else  if (viewType == 'Approve')
        {
            $scope.disabled= true;
            $scope.hide=true;
            $scope.hide_Revise=true;
            $scope.hide_Approve=false;
            $scope.hide_Save=true;
        }
        else
        {
            $scope.disabled= false;
            $scope.hide=false;
            $scope.hide_Revise=true;
            $scope.hide_Approve=true;
            $scope.hide_Save=false;
        }

        $scope.OperationTypes=oOperationTypes;
        $scope.ClaimReason=oClaimReason;
        $scope.BusinessUnits=oBusinessUnits;
        $scope.BusinessUnitID=oClaimReason.BUID;

        $scope.Validation = function()
        {
            debugger;
            if($scope.ClaimReason.BUID<=0)
            {
                alert("Invalid Business Unit. Please Refresh And Try Again.");
                return false;
            }
            if($scope.ClaimReason.OperationType<=0)
            {
                alert("Please Select Operation Type And Try Again.");
                return false;
            }
            if($scope.ClaimReason.Name.length<=0)
            {
                alert("Please Enter Name And Try Again.");
                return false;
            }
            return true;
        }
        $scope.Save = function () {

            if(!$scope.Validation())
                return;

            $http.post(_sBaseAddress+'/ClaimReason/Save',JSON.stringify($scope.ClaimReason)).then(
                function (response) {
                    var result=jQuery.parseJSON(response.data);
                    if(result.ClaimReasonID>0)
                    {
                        debugger;
                        $scope.ClaimReason=result;
                        userSession.setData('ClaimReasons',$scope.ClaimReason);
                        //sessionStorage.setItem('ClaimReason',$scope.ClaimReason);
                        userSession.previousPage();
                        // msModal.Message({headerTitle : '', bodyText:'Save Successfully.', sucessText : 'Yes', cancelText : ' Close', feedbackType:false, autoClose : false});
                    }
                    else
                    {
                        alert(result.ErrorMessage);
                    }
                },
                function (response) { alert(jQuery.parseJSON(response.data).ErrorMessage);}
        );
        };
     
        $scope.Close = function () {
            userSession.previousPage();
        };

    });
</script>


