@{
	ViewBag.Title = "Import LC Code";
}

<html>
<body>
	@model IEnumerable<ESimSol.BusinessObjects.ImportLCCode>

		<div class="menuMainCollectionTable" style="height:100%">
			<table id="tblImportLCCodes" title="Import LC Code List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
				<thead>
					<tr>
						<th field="LCCode" width="100">LC Code</th>
						<th field="LCNature" width="100">LC Nature</th>
						<th field="Remarks" width="100">Remarks</th>
					</tr>
				</thead>
			</table>
            <div id="toolbar">
                <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
                <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                <a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Excel</a>
            </div>
		</div>
</body>
</html>

<script type="text/javascript">
	$(document).ready(function () {
        var oImportLCCodes =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oTempImportLCCodes = sessionStorage.getItem("ImportLCCodes");
        if (oTempImportLCCodes != null)
        {
            oImportLCCodes = jQuery.parseJSON(oTempImportLCCodes);
        }
        RefreshList(oImportLCCodes);
    });

	function RefreshList(oImportLCCodes)
    {
        data = { "total": "" + oImportLCCodes.length + "", "rows": oImportLCCodes };
        $('#tblImportLCCodes').datagrid('loadData',data);
        var nSelectedRowIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
        if(nSelectedRowIndex!=-1)
        {
            $('#tblImportLCCodes').datagrid('selectRow', nSelectedRowIndex);
        }
    }

	$('#btnAdd').click(function(){
        var oImportLCCodes = $('#tblImportLCCodes').datagrid('getRows');
        sessionStorage.setItem("ImportLCCodes", JSON.stringify(oImportLCCodes));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("ImportLCCodeHeader", "Add Import LC Code");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem("BaseAddress") + "/ImportLCCode/ViewImportLCCode?id=0";
    });

    $('#btnEdit').click(function(){
        var oImportLCCode = $('#tblImportLCCodes').datagrid('getSelected');
        if(oImportLCCode==null || oImportLCCode.ImportLCCodeID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex = $('#tblImportLCCodes').datagrid('getRowIndex', oImportLCCode);
        var oImportLCCodes = $('#tblImportLCCodes').datagrid('getRows');
        sessionStorage.setItem("ImportLCCodes", JSON.stringify(oImportLCCodes));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ImportLCCodeHeader", "Edit Import LC Code");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href =  sessionStorage.getItem('BaseAddress')+  "/ImportLCCode/ViewImportLCCode?id="+oImportLCCode.ImportLCCodeID;
    });

    $('#btnView').click(function(){
        var oImportLCCode = $('#tblImportLCCodes').datagrid('getSelected');
        if(oImportLCCode==null || oImportLCCode.ImportLCCodeID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex = $('#tblImportLCCodes').datagrid('getRowIndex',oImportLCCode);
        var oImportLCCodes = $('#tblImportLCCodes').datagrid('getRows');
        sessionStorage.setItem("ImportLCCodes", JSON.stringify(oImportLCCodes));
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ImportLCCodeHeader", "View Import LC Code");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href =  sessionStorage.getItem('BaseAddress')+  "/ImportLCCode/ViewImportLCCode?id="+oImportLCCode.ImportLCCodeID;
    });

    $('#btnDelete').click(function () {
        debugger;
        var oImportLCCode = $('#tblImportLCCodes').datagrid('getSelected');
        if (!confirm("Confirm to Delete?")) return;

        if (oImportLCCode == null || oImportLCCode.ImportLCCodeID <= 0) {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        var SelectedRowIndex = $('#tblImportLCCodes').datagrid('getRowIndex', oImportLCCode);

        if (oImportLCCode.ImportLCCodeID > 0) {
            debugger;
            $.ajax
                ({
                    type: "POST",
                    dataType: "json",
                    url: sessionStorage.getItem('BaseAddress') + "/ImportLCCode/Delete",
                    data: JSON.stringify(oImportLCCode),
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {

                        feedbackmessage = jQuery.parseJSON(data);
                        if (feedbackmessage == "Data delete successfully") {
                            alert("Delete sucessfully");
                            $('#tblImportLCCodes').datagrid('deleteRow', SelectedRowIndex);
                            var oImportLCCodes = $('#tblImportLCCodes').datagrid('getRows');
                            sessionStorage.setItem("ImportLCCodes", JSON.stringify(oImportLCCodes));
                        }
                        else {
                            alert(feedbackmessage);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert(error);
                    }

                });
        }
    });

    $('#btnExportToExcel').click(function(e){     
                    var tsv = ((new Date()).getTime())/1000;
                    window.open(sessionStorage.getItem('BaseAddress') + '/ImportLCCode/ImportLCCodeExcel?ts=' + tsv, "_blank");
    });
</script>