@{
    ViewBag.Title = "Import LC Code";
}

<html>
<body>
    @model ESimSol.BusinessObjects.ImportLCCode

    <div class="menuMainCollectionTable">
        <div class="easyui-panel" id="DivInfo" title="Import LC Code" style="font-family:Tahoma;text-align:center;  width:100%;height:100%;">
            <fieldset>
                <legend style="font-weight:bold; text-align:left">Import LC Code Info : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:18px;">
                    <tr>
                        <td style="width:300px; height:40px; text-align:right">
                            LC Code :
                        </td>
                        <td style="width:300px">
                            @Html.TextBoxFor(model => model.LCCode, new { style = "width: 300px; height: 30px", id = "txtLCCode" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:300px; height:40px; text-align:right">
                            LC Nature :
                        </td>
                        <td style="width:300px">
                            @Html.TextBoxFor(model => model.LCNature, new { style = "width: 300px; height: 30px", id = "txtLCNature" })
                        </td>
                    </tr>
                    <tr>
                        <td style="width:300px; height:40px; text-align:right">
                            Remarks :
                        </td>
                        <td style="width:300px">
                            @Html.TextBoxFor(model => model.Remarks, new { style = "width: 300px; height: 30px", id = "txtRemarks" })
                        </td>
                    </tr>
                </table>
            </fieldset>
            <div style="height: 300px"></div>
            <fieldset>
                <legend style="font-weight:bold; text-align:left"> Action : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold">
                    <tr>
                        <td style="width:85%; text-align:right"></td>

                        <td style="width:10%;">
                            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true" onclick="Save()">Save</a>
                        </td>
                        <td style="width:5%;">
                            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
    </div>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        debugger;
        var oImportLCCode =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        $('#DivInfo').data('ImportLCCode', oImportLCCode);
        RefreshControl(oImportLCCode);        
    });

    function RefreshControl(oImportLCCode) {
        debugger;
        if (sessionStorage.getItem("ImportLCCodeHeader") == "View Import LC Code") {
            $('#btnSave').hide();
            $('#txtLCCode').attr('disabled', 'disabled');
            $('#txtLCNature').attr('disabled', 'disabled');
            $('#txtRemarks').attr('disabled', 'disabled');
        }

        $("#txtLCCode").val(oImportLCCode.LCCode);
        $("#txtLCNature").val(oImportLCCode.LCNature);
        $("#txtRemarks").val(oImportLCCode.Remarks);
    }

    function ValidateInput() {
        if (document.getElementById("txtLCCode").value == null || document.getElementById("txtLCCode").value == "") {
            alert("Please Type LC Code!");
            $('#txtLCCode').focus();
            return false;
        }
        if (document.getElementById("txtLCNature").value == null || document.getElementById("txtLCNature").value == "") {
            alert("Please Type LC Nature!");
            $('#txtLCNature').focus();
            return false;
        }
        if (document.getElementById("txtRemarks").value == null || document.getElementById("txtRemarks").value == "") {
            alert("Please Type Remarks!");
            $('#txtRemarks').focus();
            return false;
        }
        return true;
    }

    function RefreshObject() {
        debugger;
        var oImportLCCode = {
            ImportLCCodeID: $('#DivInfo').data('ImportLCCode').ImportLCCodeID,
            LCCode: $.trim($('#txtLCCode').val()),
            LCNature: $.trim($('#txtLCNature').val()),            
            Remarks: $.trim($('#txtRemarks').val())            
        };
        return oImportLCCode;
    }

    $('#btnSave').click(function () {
        if (!ValidateInput()) return;
        var oImportLCCode = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: sessionStorage.getItem('BaseAddress') + "/ImportLCCode/Save",
            traditional: true,
            data: JSON.stringify(oImportLCCode),
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                oImportLCCode = jQuery.parseJSON(data);
                if (oImportLCCode.ErrorMessage == "" || oImportLCCode.ErrorMessage == null) {
                    alert("Data Saved sucessfully");
                    var oImportLCCodes = sessionStorage.getItem("ImportLCCodes");
                    var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                    if (oImportLCCodes != null) {
                        oImportLCCodes = jQuery.parseJSON(oImportLCCodes);
                    }
                    else {
                        oImportLCCodes = [];
                    }
                    if (nIndex != -1) {
                        oImportLCCodes[nIndex] = oImportLCCode;
                    }
                    else {
                        sessionStorage.setItem("SelectedRowIndex", oImportLCCodes.length);
                        oImportLCCodes.push(oImportLCCode);
                    }
                    sessionStorage.setItem("ImportLCCodes", JSON.stringify(oImportLCCodes));
                    window.location.href = sessionStorage.getItem("BackLink");
                }
                else {
                    alert(oImportLCCode.ErrorMessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }

        });
    });

    $('#btnClose').click(function () {
        window.location.href = sessionStorage.getItem("BackLink");
    });
</script>