<html>
@{
    ViewBag.title = "HardWinding Info";
}
<body>
    @model ESimSol.BusinessObjects.DUHardWinding
    <div class="menuMainCollectionTable panel-group" ng-app="CCategoryapp" ng-controller="CCategoryController" id="divCC" style="height:530px">
        <div class=" panel-primary" >
            <div style="height:490px;" class="panel-body regionDUHardWinding">
                @*Order INFO*@
                <div style=" height:37%" class="regionDUHardWinding">
                    <fieldset style="height:100%">
                        <legend>Order Info: </legend>
                        <div class="row col-md-12" style="padding-top:20px">
                            <div class="col-md-2 text-right"><label class="control-label">Order Type :</label></div>
                            <div class="col-md-3 text-left">
                                <input class="form-control" class="form-control" ng-model="DUHardWinding.OrderType" disabled />
                            </div>
                            <div class="col-md-2 text-right"><label class="control-label">Order No :</label></div>
                            <div class="col-md-3 text-left">
                                <input class="form-control" class="form-control" ng-model="DUHardWinding.DyeingOrderNo" disabled />
                            </div>
                            <div class="col-md-2 text-right"><label class="control-label">Date :</label></div>
                            <div class="col-md-3 text-left">
                                <div class="input-group date date-container">
                                    <input type="text" class="form-control" disabled ng-model="DUHardWinding.StartDateST">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-2 text-right"><label class="control-label">Product:</label></div>
                            <div class="col-md-3 text-left">
                                <input class="form-control" class="form-control" ng-model="DUHardWinding.ProductName" disabled />
                            </div>
                            <div class="col-md-2 text-right"><label class="control-label">Raw Lot No :</label></div>
                            <div class="col-md-3 text-left">
                                <input class="form-control" class="form-control" ng-model="DUHardWinding.LotNo" disabled />
                            </div>
                            <div class="col-md-2 text-right"><label class="control-label">Status :</label></div>
                            <div class="col-md-3 text-left">
                                <input class="form-control" class="form-control" ng-model="DUHardWinding.StatusST" disabled />
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-2 text-right"><label class="control-label">Order Qty:</label></div>
                            <div class="col-md-3 text-left">
                                <input class="form-control" class="form-control" ng-model="DUHardWinding.Qty_Order | number:2" disabled />
                            </div>
                            <div class="col-md-2 text-right"><label class="control-label">Receive Qty:</label></div>
                            <div class="col-md-3 text-left">
                                <input class="form-control" class="form-control" ng-model="DUHardWinding.Qty | number:2" disabled />
                            </div>
                            <div class="col-md-2 text-right"><label class="control-label">Delivery Qty :</label></div>
                            <div class="col-md-3 text-left">
                                <input class="form-control" class="form-control" ng-model="DUHardWinding.Qty_RSOut  | number:2" disabled />
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-2 text-right"><label class="control-label">Buyer :</label></div>
                            <div class="col-md-3 text-left">
                                <input class="form-control" class="form-control" ng-model="DUHardWinding.ContractorName" disabled />
                            </div>
                            <div class="col-md-2 text-right"><label class="control-label">Batch Cone :</label></div>
                            <div class="col-md-3 text-left">
                                <input class="form-control" class="form-control" ng-model="DUHardWinding.RSCone | number:2" disabled />
                            </div>
                            
                            <div class="col-md-2 text-right"><label class="control-label">Receive Date :</label></div>
                            <div class="col-md-3 text-left">
                                <div class="input-group date date-container">
                                    <input type="text" class="form-control" disabled ng-model="DUHardWinding.ReceiveDateST">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                @*Winding INFO*@
                <div style=" height:63%">
                    <fieldset style="height:100%">
                        <legend>Winding Info: </legend>

                        @*<div class="row col-md-12" style="padding-top:50px">
                            <div class="col-md-2 text-right"><label class="control-label">Start Date :</label></div>
                            <div class="col-md-3 text-left">
                                <div class="input-group date date-container1">
                                    <input type="text" class="form-control" ng-disabled="disabled" ng-model="DUHardWinding.StartDateST">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                            </div>
                            <div class="col-md-3 text-right" id="endDate"><label class="control-label">EndDate :</label></div>
                            <div class="col-md-3 text-left">
                                <div class="input-group date date-container">
                                    <input type="text" class="form-control" ng-disabled="disabled" ng-model="DUHardWinding.EndDateST">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                                </div>
                            </div>
                        </div>*@
                        <div class="row col-md-12" style="padding-top:50px">
                            <div class="col-md-2 text-right"><label class="control-label">Machine Des:</label></div>
                            <div class="col-md-3 text-left">
                                <select ng-model="DUHardWinding.MachineID" ng-disabled="disabled" class="form-control" ng-options="obj.MachineID as obj.Name for obj in Machines">
                                     <option value="">--Select Machine--</option>
                                </select>
                            </div>
                            <div class="col-md-2 text-right"><label class="control-label">Operator:</label></div>
                            <div class="col-md-3 text-left">
                                <input ng-model="DUHardWinding.Operator" ng-disabled="disabled" class="form-control" />
                            </div>
                            <div class="col-md-2 text-right"><label class="control-label">No Of Cone(HW):</label></div>
                            <div class="col-md-3 text-left">
                                <input ng-model="DUHardWinding.NumOfCone" ng-disabled="disabled" class="form-control number" />
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-2 text-right"><label class="control-label">Shift :</label></div>
                            <div class="col-md-3 text-left">
                                <select ng-model="DUHardWinding.RSShiftID" ng-disabled="disabled" class="form-control" ng-options="obj.RSShiftID as obj.Name for obj in RSShifts">
                                    <option value="">--Select Shift--</option>
                                </select>
                            </div>
                            <div class="col-md-2 text-right"><label class="control-label">Warp/Weft Type:</label></div>
                            <div class="col-md-3 text-left">
                                <select ng-model="DUHardWinding.WarpWeftTypeInt" ng-disabled="disabled" class="form-control" ng-options="obj.id as obj.Value for obj in WarpWeftTypes"> </select>
                            </div>
                            <div class="col-md-2 text-right"><label class="control-label">Dia:</label></div>
                            <div class="col-md-3 text-left">
                                <input ng-model="DUHardWinding.Dia" ng-disabled="disabled" class="form-control number" />
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-2 text-right"><label class="control-label">Note:</label></div>
                            <div class="col-md-10 text-left">
                                <input ng-model="DUHardWinding.Note" ng-disabled="disabled" class="form-control" />
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:100%;text-align:right">
                        <button type="button" id="btnSave" class="btn btn-default btn-sm btn-success" style="margin-left:15px;float:left" aria-label="right Align"  ng-hide="btnhideStart" ng-click="Save(2)"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> Production Start</span></button>
                        <button type="button" id="btnSave" class="btn btn-default btn-sm btn-primary" style="margin-left:15px;float:left" aria-label="right Align" ng-hide="btnhideEnd" ng-click="Save(3)"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> Production Complete</span></button>
                        <button type="button" id="btnClose" class="btn btn-default btn-sm btn-danger" aria-label="right Align" ng-click="Close()"><span class="glyphicon glyphicon-remove" aria-hidden="true"> Close</span></button>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>
<style type="text/css">
    .grid {
        width: 100%;
        height: 290px;
    }
    /*.ui-grid-panel {
        background: linear-gradient(to bottom,#EFF5FF 0,#E0ECFF 100%);
        height:35px;
    }*/
    .regionDUHardWinding .form-horizontal .control-label {
        padding-top: 3px;
    }

    .regionDUHardWinding .form-control {
        height: 26px;
        padding: 0px 6px;
        font-size: 12px;
    }

    .regionDUHardWinding .col-md-12 {
        width: 100%;
        padding-right: 5px;
        padding-left: 5px;
        margin-bottom: 5px;
    }

    .regionDUHardWinding .col-md-2 {
        width: 12%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .regionDUHardWinding .col-md-3 {
        width: 21.3%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .regionDUHardWinding .col-md-4 {
        width: 38%;
        padding-right: 5px;
        padding-left: 5px;
    }
    
     #endDate {
        width: 28.6%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .regionDUHardWinding .col-md-5 {
        width: 40%;
        padding-right: 5px;
        padding-left: 0px;
    }

    .regionDUHardWinding .col-md-6 {
        width: 50%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .regionDUHardWinding .col-md-10 {
        width: 88%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .regionDUHardWinding .col-md-7 {
        width: 54.6%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .regionDUHardWinding .col-md-8 {
        width: 69%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .regionDUHardWinding .btn-sm {
        padding: 3px 10px;
    }

    .regionDUHardWinding .input-group-addon {
        padding: 4px 8px;
    }
</style>
<script type="text/javascript">
    //debugger;
    var oDUHardWinding =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var viewType = sessionStorage.getItem("Operation");
    $('.date-container').datepicker({
        format: "dd M yyyy",
        showMeridian: true,
        calendarWeeks: true,
        autoclose: true,
        todayHighlight: true
    });

    //$('.date-container1').datetimepicker({
    //    format: "dd M yyyy HH:ii P",
    //    linkFormat: "yyyy-mm-dd hh:ii",
    //    showMeridian: true,
    //    calendarWeeks: true,
    //    autoclose: true,
    //    todayHighlight: true
    //});

    //$(".date-container1").datetimepicker(
    //    //{format: 'dd M yyyy hh:ii P'}
    //);

    //$(".date-container1").datetimepicker();

    var CCategoryApp = angular.module('CCategoryapp', ['ngAnimate', 'ui.bootstrap', 'ui.grid', 'ui.grid.selection', 'ui.grid.edit','ui.grid.resizeColumns','ui.grid.cellNav','ms.service']);
    CCategoryApp.controller('CCategoryController', function ($scope, $http, $uibModal, $log, uiGridConstants, msModal,icsMethod, userSession,msGridControl) {
        $scope.DUHardWinding = oDUHardWinding;

        $scope.Machines=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Machines));
        $scope.RSShifts=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.RSShifts));
        $scope.WarpWeftTypes=@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.WarpWeftType));

        debugger;
        if (viewType == 'View')
        {
            $scope.disabled= true;
            $scope.btnhideStart=true;
            $scope.btnhideEnd=true;
        }
        if($scope.DUHardWinding.StatusInt==3)
        {
            $scope.btnhideStart=true;
            $scope.btnhideEnd=true;
        }
        if($scope.DUHardWinding.StatusInt==2)
        {
            $scope.btnhideStart=true;
            $scope.btnhideEnd=false;
        }
        $scope.Save=function(nStatus)
        {
            debugger;
            if(!$scope.ValidateInput()) return;
            if($scope.DUHardWinding.StatusInt==3)
            {
                alert("Production Is Already Completed !!");return;
            }
            if(nStatus==2 && $scope.DUHardWinding.StatusInt==2)
            {
                alert("Production Is Already Started !!");return;
            }
            if(nStatus==3 && $scope.DUHardWinding.StatusInt!=2)
            {
                alert("Production Is Not Started Yet !!");return;
            }

            var oDUHardWinding=$scope.DUHardWinding;
            oDUHardWinding.ReceiveDate = new Date($scope.DUHardWinding.ReceiveDateST);
            oDUHardWinding.StartDate = new Date($scope.DUHardWinding.StartDateST);
            oDUHardWinding.EndDate = new Date($scope.DUHardWinding.EndDateST);
            oDUHardWinding.Status=nStatus; //Running:2, Completed:3
            var a =sessionStorage.getItem('BaseAddress');
            //alert(a);
            $http.post(sessionStorage.getItem('BaseAddress')+'/DUHardWinding/Save',oDUHardWinding).then(
                  function (response)
                  {
                      var oDUHardWinding= jQuery.parseJSON(response.data);
                      if (oDUHardWinding.ErrorMessage=="" || oDUHardWinding.ErrorMessage==null)
                      {
                          alert("Data Saved Successfully!!");
                          userSession.setData('DUHardWindings',oDUHardWinding);
                          userSession.previousPage();
                      }
                      else
                      {
                          alert(oDUHardWinding.ErrorMessage);
                      }
                  },
                      function (response) { alert(response.statusText);$scope.MeasurementUnits=[];}
              );
        }
        $scope.ValidateInput = function()
        {
            debugger;
            if($scope.DUHardWinding.MachineID==null || $scope.DUHardWinding.MachineID<=0)
            {
                alert("Please select machine!");
                return false;
            }
            if($scope.DUHardWinding.RSShiftID<=0)
            {
                alert("Please select shift!");
                return false;
            }
            return true;
        }
        if(sessionStorage.getItem("ColorHeader")=="View Vehicle Color")
        {
            $("#divCC :input").prop('disabled', true);
            $('#btnClose').prop('disabled', false);
        }
        $scope.Close = function()
        {
            window.location.href = sessionStorage.getItem("BackLink");
        }
        $scope.keydown = function(e)
        {
            if(e.which == 27)//escape=27
            {
                //debugger;
                window.location.href = sessionStorage.getItem("BackLink");
            }
        }
    });

</script>