@{
    ViewBag.Title = "Measurement Unit List";
}
@model IEnumerable<ESimSol.BusinessObjects.MeasurementUnit>
<body onfocus="parent_disable();" onclick="parent_disable();">
    <div style="margin-left: 0px; height: 100%; width:100%">
        <table id="tblMeasurementUnit" title="Measurement Unit List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" , autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="MeasurementUnitID" width="80">Code</th>
                    <th field="UnitName" width="160">Unit Name</th>
                    <th field="UnitTypeInString" width="140">Unit Type</th>
                    <th field="Symbol" width="100">Symbol</th>
                    <th field="Note" width="140">Note</th>
                    <th field="IsRound" width="90">Is Round</th>
                    <th field="IsSmallUnit" width="90">Is Small Unit</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">Details</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
            <a id="btnUnitConverter" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Unit Converter</a>
        </div>
    </div>
</body>>
<script type="text/javascript">
var popupWindow=null;
var _sBaseAddress ="";
var _oAuthorizationRolesMapping =[];
$(document).ready(function () {
    var data =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    _oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
    debugger;
    var data={"total":""+data.length+"","rows":data};
    $('#tblMeasurementUnit').datagrid('loadData',data);
    //RefreshControlLayout();
});



    function child_open(url,oParameter,sFormate)
    {
        if(popupWindow && !popupWindow.closed)
            popupWindow.focus();
        else
            popupWindow =window.open(url,"win1",[oParameter,sFormate]);
        popupWindow.focus();
    }
    function parent_disable() {
        if(popupWindow && !popupWindow.closed)
            popupWindow.focus();
    }

    //if(sessionStorage.setItem("ChildWin"=="True"))
    //    window.parent.opner.winReturnTemplate(oPackageTemplateDetails);
    //else
    //    window.opener.winReturnTemplate(oPackageTemplateDetails);

    function WinReturnMU(oMUnit)
    {
        if(oMUnit==null)
        {
            alert("Invalid Measuerment Unit !!"); return;
        }

        switch(sessionStorage.getItem('Operation'))
        {
            case "Add":
                var rows = $('#tblMeasurementUnit').datagrid('getRows');
                var nIndex=rows.length;
                $('#tblMeasurementUnit').datagrid('appendRow',oMUnit);
                var rows = $('#tblMeasurementUnit').datagrid('getRows');
                for(i=0;i<rows.length;++i){

                    if(rows[i]['IsRound']==true)
                    {
                        $('#tblMeasurementUnit').datagrid('checkRow',i);
                    }
                }
                $('#tblMeasurementUnit').datagrid('selectRow',nIndex);
                break;

            case "Edit":
                if(oMUnit.MeasurementUnitID>0)
                {
                    $('#tblMeasurementUnit').datagrid('updateRow',{index: parseInt(sessionStorage.getItem('SelectedRowIndex')),	row: oMUnit});
                }
                break;

            case "Edit":
                if(oMUnit.MeasurementUnitID>0)
                {
                    $('#tblMeasurementUnit').datagrid('updateRow',{index: parseInt(sessionStorage.getItem('SelectedRowIndex')),	row: oMUnit});
                }
                break;
        }
    }
    function RefreshControlLayout()
    {
        document.getElementById('btnAdd').style.display = 'none';
        document.getElementById('btnEdit').style.display = 'none';
        document.getElementById('btnView').style.display = 'none';
        document.getElementById('btnDelete').style.display = 'none';
        document.getElementById('btnUnitConverter').style.display = 'none';

        if(HavePermission('Add','MeasurementUnit')){document.getElementById('btnAdd').style.display = '';}
        if(HavePermission('Edit','MeasurementUnit')){document.getElementById('btnEdit').style.display = '';}
        if(HavePermission('View','MeasurementUnit')){document.getElementById('btnView').style.display = '';}
        if(HavePermission('Delete','MeasurementUnit')){document.getElementById('btnDelete').style.display = '';}
        if(HavePermission('Add','UnitConversion')){document.getElementById('btnUnitConverter').style.display = '';}
    }

    $("#btnAdd").click(function(){
        var oParameter = new Object();
        oParameter.Name = "Add Measurement Unit";
        var url = _sBaseAddress+"/MeasurementUnit/ViewMeasurementUnit?id="+0;
        //var oMUnit = window.open(url, oParameter, 'dialogHeight:280px;dialogWidth:470px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
        sessionStorage.setItem('Parameter',JSON.stringify(oParameter));sessionStorage.setItem('Operation','Add');
        child_open(url,oParameter,"directories=no, status=no, menubar=no, scrollbars=no, resizable=no,width=455px, height=230px,top=100,left=400");
    });

    $("#btnEdit").click(function(){
        var oMeasurementUnit = $('#tblMeasurementUnit').datagrid('getSelected');
        if(oMeasurementUnit==null || oMeasurementUnit.MeasurementUnitID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblMeasurementUnit').datagrid('getRowIndex',oMeasurementUnit);
        var oParameter = new Object();
        oParameter.Name = "Edit Measurement Unit";
        var url = _sBaseAddress+"/MeasurementUnit/ViewMeasurementUnit?id="+oMeasurementUnit.MeasurementUnitID;
        //var oMUnit = window.open(url, oParameter, 'dialogHeight:280px;dialogWidth:470px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
        sessionStorage.setItem('Parameter',JSON.stringify(oParameter));
        sessionStorage.setItem('Operation','Edit');
        sessionStorage.setItem('SelectedRowIndex',SelectedRowIndex);
        child_open(url,oParameter,"directories=no, status=no, menubar=no, scrollbars=no, resizable=no,width=455px, height=230px,top=100,left=400");
    });

    $("#btnView").click(function(){
        var oMeasurementUnit = $('#tblMeasurementUnit').datagrid('getSelected');
        if(oMeasurementUnit==null || oMeasurementUnit.MeasurementUnitID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var SelectedRowIndex=$('#tblMeasurementUnit').datagrid('getRowIndex',oMeasurementUnit);
        var oParameter = new Object();
        oParameter.Name = "View Measurement Unit";
        var url = _sBaseAddress+"/MeasurementUnit/ViewMeasurementUnit?id="+oMeasurementUnit.MeasurementUnitID;
        //var oMUnit = window.open(url, oParameter, 'dialogHeight:280px;dialogWidth:470px;dialogLeft:400;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');
        sessionStorage.setItem('SelectedRowIndex',SelectedRowIndex);
        sessionStorage.setItem('Parameter',JSON.stringify(oParameter));sessionStorage.setItem('Operation','View');
        child_open(url,oParameter,"directories=no, status=no, menubar=no, scrollbars=no, resizable=no,width=455px, height=230px,top=100,left=400");
    });

    $("#btnDelete").click(function(){
        var oMeasurementUnit = $('#tblMeasurementUnit').datagrid('getSelected');
        if(oMeasurementUnit==null || oMeasurementUnit.MeasurementUnitID<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblMeasurementUnit').datagrid('getRowIndex',oMeasurementUnit);
        if (oMeasurementUnit.MeasurementUnitID > 0)
        {
            $.ajax
            ({
                type: "GET",
                dataType: "json",
                url: '@Url.Action("Delete", "MeasurementUnit")',
                data: { id: oMeasurementUnit.MeasurementUnitID },
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Data Delete Successfully")
                    {
                        alert("Delete sucessfully");
                        $('#tblMeasurementUnit').datagrid('deleteRow',SelectedRowIndex);
                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }
            });
        }
    });

    $("#btnUnitConverter").click(function(){
        var oMeasurementUnit = $('#tblMeasurementUnit').datagrid('getSelected');
        if(oMeasurementUnit==null || oMeasurementUnit.MeasurementUnitID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var oParameter = new Object();
        oParameter.Name = "Add Unit";
        var url = _sBaseAddress+"/MeasurementUnit/UnitConverter?id="+oMeasurementUnit.MeasurementUnitID;
        //var oPropert = window.open(url, oParameter, 'dialogHeight:510px;dialogWidth:800px;dialogLeft:300;dialogTop:100;center:yes;resizable:no;status:no;scroll:no');

        sessionStorage.setItem('Parameter',JSON.stringify(oParameter));sessionStorage.setItem('Operation','Convert');
        child_open(url,oParameter,"directories=no, status=no, menubar=no, scrollbars=no, resizable=no,width=455px, height=230px,top=100,left=400");
    });

    function HavePermission(sOperationType, sDbObject)
    {
        var nSessionID =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.currentUserID]));
        if(nSessionID == -9) //check SuperUser
        {
            return true;
        }
        else
        {
            for(var i =0;i<_oAuthorizationRolesMapping.length;i++)
            {
                if(_oAuthorizationRolesMapping[i].OperationTypeInString == sOperationType && _oAuthorizationRolesMapping[i].DBObjectName == sDbObject)
                    return  true;
            }
            return false;
        }
    }
</script>
