@{
    ViewBag.Title = "Fabric Planning Detail List";
}
@model IEnumerable<ESimSol.BusinessObjects.FabricPlanningDetail>

    <div class="menuMainCollectionTable" id="regionFabricPlanningDetail" style="height:90%">
        <table id="tblFabricPlanningDetails" title="Fabric Planning Detail List" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="RequestNo" width="9%">Request No</th>
                    <th field="RequestDateInString" width="9%">Request Date</th>
                    <th field="RequestTypeInString" width="8%">Type</th>
                    <th field="ContractorName" width="20%">Contractor</th>
                    <th field="ContactPersonName" width="20%">Contact Person</th>
                    <th field="RequestByName" width="20%">Request By</th>
                    <th field="RequestToName" width="20%">Request To</th>
                    <th field="Remarks" width="30%">Remarks</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
            @*<a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>*@
        </div>
    </div>
    <div>
        <fieldset class="actionfieldsetstyle">
            <legend>Actions : </legend>
            <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
            <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
        </fieldset>
    </div>

    <script type="text/javascript">
 debugger;
    var _oFabricPlanningDetails=[];
    var _sBaseAddress="";

    $(document).ready(function () {
        debugger;
        _oFabricPlanningDetails =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        
    });

    function MakeGrid()
    {
        var tblColums=[];
        var oColumn=null;
        //oColumn=  {field : 'FabricPlanningID',title:'',width:10,checkbox:true}; tblColums.push(oColumn);
        oColumn= { field :"ProductName", title:"ProductName", width:"10%"}; tblColums.push(oColumn);
        //oColumn= { field :"Count1", title:"1", width:"4%", align: "right",editor: {type:'numberbox',options:{ precision:0}},  formatter: function(value,row,index){ return formatPrice(value, 0); }}; tblColums.push(oColumn);
            
        $('#tblFabricPlanningDetails').datagrid({ columns:[tblColums]});
    }

    //$("#btnAdd").click(function(){
    //    var oFabricPlanningDetails= $('#tblFabricPlanningDetails').datagrid('getRows');
    //    sessionStorage.setItem("FabricPlanningDetails", JSON.stringify(oFabricPlanningDetails));
    //    sessionStorage.setItem("SelectedRowIndex", -1);
    //    sessionStorage.setItem("FabricPlanningDetailHeader", "Add Fabric Planning Detail");
    //    sessionStorage.setItem('Action','Add')
    //    sessionStorage.setItem("BackLink", window.location.href);
    //    var tsv=((new Date()).getTime())/1000;
    //    window.location.href = _sBaseAddress+ "/FabricPlanningDetail/ViewFabricPlanningDetail?id=0&buid="+sessionStorage.getItem('BUID');  //
    //});

    $("#btnClose").click(function () {          
        //window.close();
        var win = window.open("","_self");
        win.close();
    })


    </script>
