@model IEnumerable<ESimSol.BusinessObjects.FNOrderUpdateStatus>
    @{
        ViewBag.Title = "FN Order Statusd Detail Details";       
    }
    <div class="menuMainCollectionTable" id="regionFNOrderUpdateStatus" style="height:480px">
        <table id="tblFNOrderUpdateStatus" title="FN Order Update Status Detail | @ViewBag.Status" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" showfooter="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="ExeNo" width="8%">Dispo No</th>
                    <th field="Construction" width="10%">Construction</th>
                    <th field="ColorInfo" width="8%">Color</th>
                    <th field="OrderQty" align="right" formatter="formatPrice" width="8%">Order Qty</th>
                    <th field="GreyRecd" align="right" formatter="formatPrice" width="8%">Grey Recd</th>
                    <th field="BatchQty" align="right" formatter="formatPrice" width="8%">Batch Qty</th>
                    <th field="GradeAQty" align="right" formatter="formatPrice" width="8%">Grade-A</th>
                    <th field="GradeBQty" align="right" formatter="formatPrice" width="8%">Grade-B</th>
                    <th field="GradeCQty" align="right" formatter="formatPrice" width="8%">Grade-C</th>
                    <th field="GradeDQty" align="right" formatter="formatPrice" width="8%">Grade-D</th>
                    <th field="RejQty" align="right" formatter="formatPrice" width="8%">(Reject + Cut Pcs)</th>
                    <th field="TotalQty" align="right" formatter="formatPrice" width="8%">Total Ins. Qty</th>
                    <th field="StoreRcvQty" align="right" formatter="formatPrice" width="8%">Store Recd Qty</th>
                    <th field="WForRcvQtyInCalST" align="right" formatter="formatPrice" width="8%">Waiting For Recd</th>
                    <th field="DCQty" align="right" formatter="formatPrice" width="8%">Delivery Qty</th>
                    <th field="RCQty" align="right" formatter="formatPrice" width="8%">Return Qty</th>
                    <th field="BalanceQty" align="right" formatter="formatPrice" width="8%">Balance Qty</th>
                    <th field="StoreRcvQtyDay" align="right" formatter="formatPrice" width="8%">Store Recd (Day) </th>
                    <th field="DCQtyDay" align="right" formatter="formatPrice" width="8%">Delivery Qty(Day)</th>
                    <th field="StockInHand" align="right" formatter="formatPrice" width="8%">Stock In Hand</th>
                    <th field="ExcessQty" align="right" formatter="formatPrice" width="8%">Excess Qty</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">           
            <a id="btnDeliveryPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview StockLedger</a>
            @*<a id="btnDispoStatement" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview Dis.Statement</a>*@
            <a id="btnWeavingStatementPrint" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview Wev.Statement</a>
        </div>
    </div>
    <div style="display:block;overflow:hidden;height:100px">
        <fieldset>
            <legend style="font-weight: bold">Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                <tr>
                    <td style="width:60%; text-align:right"></td>
                    <td style="width:40%;text-align:right;">
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>

<script>
      
    $(document).ready(function () {
        debugger;
        var oFNOrderUpdateStatus =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        $('#tblFNOrderUpdateStatus').data('FNOrderUpdateStatus',oFNOrderUpdateStatus);
        $('#tblFNOrderUpdateStatus').data('BaseAddress', sBaseAddress);
        RefreshList(oFNOrderUpdateStatus);

    });

    function RefreshList(oFNOrderUpdateStatuss) {
        debugger;
        if(oFNOrderUpdateStatuss.length<=0){
            alert("No Data Found");
            DynamicRefreshList([], "tblFNOrderUpdateStatus");
            var win  = window.open("","_self");
            win.close();
        }
        data={"total":""+oFNOrderUpdateStatuss.length+"","rows":oFNOrderUpdateStatuss};
        $('#tblFNOrderUpdateStatus').datagrid('loadData',data);
        var nSelectedRowIndex =parseInt(sessionStorage.getItem("SelectedRowIndex"));
        if(nSelectedRowIndex!=-1)
        {
            $('#tblFNOrderUpdateStatus').datagrid('selectRow', nSelectedRowIndex);
        }
    }

    $('#btnDeliveryPrint').click(function(){
          
        var oFNOrderUpdateStatus = $('#tblFNOrderUpdateStatus').datagrid('getSelected');
        if(oFNOrderUpdateStatus==null || oFNOrderUpdateStatus.FSCDetailID<=0)
        {
            alert("Please Select a item from list!");
            return;
        }
        window.open( _sBaseAddress+ "/RptExecutionOrderUpdateStatus/PrintStockLedger?nID=" + oFNOrderUpdateStatus.FSCDetailID, "_blank");
    });
    $("#btnDispoStatement").click(function() {
        debugger;
        var oFNOrderUpdateStatus = $('#tblFNOrderUpdateStatus').datagrid('getSelected');
        if(oFNOrderUpdateStatus==null || oFNOrderUpdateStatus.FSCDetailID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var nts = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress + '/FabricExecutionOrderSpecification/PrintFabricSpecification?nId=' +oFNOrderUpdateStatus.FSCDetailID + "&nts=" + nts, "_blank");
    });
    $("#btnWeavingStatementPrint").click(function() {
        debugger;
        var oFNOrderUpdateStatus = $('#tblFNOrderUpdateStatus').datagrid('getSelected');
        if(oFNOrderUpdateStatus==null || oFNOrderUpdateStatus.FSCDetailID<=0)
        {
            alert("Please select a item from list!");
            return;
        }
        var nts = ((new Date()).getTime()) / 1000;
        window.open(_sBaseAddress+ "/FabricFSStatus/Print_HWStatement?nID="+oFNOrderUpdateStatus.FSCDetailID+"&nBUID=1", "_blank");
    });

    $('#btnClose').click(function(){
        var win  = window.open("","_self");
        win.close();
    });

</script>
