@{
    ViewBag.Title = "Attendance Scheme";
}
@model IEnumerable<ESimSol.BusinessObjects.AttendanceScheme>
      <div class="menuMainCollectionTable">
        <div style="margin-left: 0px; width:100%; height:100%">
            <table id="tblAttendanceSchemes" title="Attendance Scheme List" class="easyui-datagrid" style="width:100%; height:100%" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar">
                <thead>
                    <tr>
                        <th field="Name" width="150">
                            Scheme Name
                        </th>
                        <th field="RosterPlanDescription" width="124">
                            Roster Plan
                        </th>
                        <th field="AttendanceCalendar" width="124">
                            Calender
                        </th>
                        <th field="DayOff" width="124">
                            DayOff
                        </th>
                        <th field="IsActiveInStr" width="124">
                            Status
                        </th>
                        
                    </tr>
                </thead>
            </table>

            <div id="toolbar">
                <input type="text" id="txtSearchByPolicyName" placeholder="Write Policy and Press Enter to search" style="width: 250px" />
                <a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv. Search</a>
                <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>
                <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
                <a id="btnActiveInactive" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true"><label id="lblActiveInActive">Active</label></a>
            </div>
       </div>

        <div id="winAdvSearch" class="easyui-window" title="Adv Search" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
           <div class="searchCriteria">
                  <table class="tbl">
                      <tr>
                          <td class="tdAdvSearch">
                              <div class="divLabel">
                                  <label>Schema Name  :</label>
                              </div>
                              <div class="divInput">
                                  <input id="txtSchemaName" class="resetfield" type="text" placeholder="Attendance Schema Name" />
                              </div>
                          </td>
                         
                      </tr>
                      <tr>
                          <td class="tdAdvSearch">
                              <div class="divLabel">
                                  <label>Attendance Calendar :</label>
                              </div>
                              <div class="divInput">
                                  <select id="cboAttendenceCalendar" class="combo"></select>
                              </div>
                          </td>
                      </tr>
                      <tr>
                          <td class="tdAdvSearch">
                              <div class="divLabel">
                                  <label>Roster Plan :</label>
                              </div>
                              <div class="divInput">
                                  <select id="cboRosterPlan" class="combo"></select>
                              </div>
                          </td>
                      </tr>  
                      <tr>
                          <td class="tdAdvSearch">
                              <a id="btnReset" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-reload" plain="true">Reset</a>
                              <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Search</a>
                              
                          </td>
                      </tr>                    
                  </table>
              </div>
           <div class="searchData">
               <table id="tblAttendanceSchemesAdvSearchList" title="Attendance Scheme List" class="easyui-datagrid"  style="width: 440px; height: 280px;" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false">
                   <thead>
                       <tr>
                           <th data-options="field:'Selected',checkbox:true">
                           <th field="Name" width="150"> Scheme</th>
                           <th field="RosterPlanDescription" width="124">Roster Plan</th>
                           <th field="DayOff" width="124">DayOff</th>
                       </tr>
                   </thead>
               </table>
               <div class="region-select">
                   <a id="btnOk" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Ok</a>
                   <a id="btnCancel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Cancel</a>
               </div>
            </div>
       </div>
     </div>
    <style type="text/css">
        #winAdvSearch {
            width: 750px;
            font-size: 11px;
        }

        .searchCriteria{
            float:left;
            width:40%;
        }
        .searchData{
            float:left;
            width:60%;
        }
        .tdAdvSearch {
            width: 100%;
            font-size: 11px;
            text-align:right;
        }

        .tdAdvSearch .divLabel {
            float: left;
            width: 45%;
            text-align: right;
            margin-right: 1%;
            font-size: 11px;
        }

        .divInput input {
            float: left;
            width: 50%;
            font-size: 11px;
        }
        .divInput select {
            float: left;
            width: 51%;
            font-size: 11px;
        }
        .region-select{
            float:right;
            text-align:right;
            margin-top:5px;
            margin-bottom:5px;
            margin-right:10px;
        }
    </style>
    <script type="text/javascript">
    var _oAttendanceSchemes=[];
    var _sBaseAddress="";
    var _oAttendanceCalendars=[];
    var _oRosterPlans=[];

    $(document).ready(function () {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oAttendanceSchemes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oAttendanceCalendars =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.AttendanceCalendars));
        _oRosterPlans =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.RosterPlans));

        DynamicRefreshList(_oAttendanceSchemes, "tblAttendanceSchemes");
        $("#cboAttendenceCalendar").icsLoadCombo({
            List: _oAttendanceCalendars,
            OptionValue: "AttendanceCalendarID",
            DisplayText: "Name"
        });

        $("#cboRosterPlan").icsLoadCombo({
            List: _oRosterPlans,
            OptionValue: "RosterPlanID",           
            DisplayText: "Description"
        });
            
    });

   $(document).keydown(function (e) { if (e.keyCode == 27) { $('#div').icsWindow('close'); } });

   $('#txtSearchByPolicyName').keyup(function (e) {
            var oASs =[];
            var keyCode = e.keyCode || e.which;
            if (keyCode == 8) { oASs = _oAttendanceSchemes; }
            else{ oASs = $('#tblAttendanceSchemes').datagrid('getRows'); }

            var sPolicyName = document.getElementById('txtSearchByPolicyName').value;
            var sTempName="";
            var oSearchedData = [];
            for(i=0;i<oASs.length;++i)
            {
                debugger;
                sTempName=oASs[i]['Name'];

                if(sTempName.toUpperCase().indexOf(sPolicyName.toUpperCase())>-1)
                {
                    oSearchedData.push(oASs[i]);
                }
            }
            $('#tblAttendanceSchemes').empty();
            if (oSearchedData.length == 0) { DynamicRefreshList(_oAttendanceSchemes, "tblAttendanceSchemes");}
            else { DynamicRefreshList(oSearchedData, "tblAttendanceSchemes"); }

   });




   $("#btnAdvSearch").click(function(e) {
       AdvSearchResetControll();
       $("#winAdvSearch").icsWindow('open');
   });

   function AdvSearchResetControll(){
       $("#txtSchemaName").val("");
       $(".combo").val(0);
       DynamicRefreshList([], "tblAttendanceSchemesAdvSearchList");

   }
        
   $("#btnReset").click(function(e) {
       AdvSearchResetControll();
   });

   $("#btnSearch").click(function(e) {
       var oAttendanceScheme = {
           Params: $.trim($("#txtSchemaName").val()) + "~" + $("#cboAttendenceCalendar").val() + "~" +$("#cboRosterPlan").val()
       };
       var obj =
       {
           BaseAddress: _sBaseAddress,
           Object: oAttendanceScheme,
           ControllerName: "AttendanceScheme",
           ActionName: "GetsAttendanceScheme",
           IsWinClose: false
       };

       $.icsDataGets(obj, function (response) {

           if (response.status && response.objs != null) {
               if (response.objs.length > 0) {
                   if(response.objs[0].AttendanceSchemeID>0){DynamicRefreshListForMultipleSelection(response.objs, "tblAttendanceSchemesAdvSearchList");}
                   else{DynamicRefreshListForMultipleSelection([], "tblAttendanceSchemesAdvSearchList"); alert(response.objs[0].ErrorMessage);}
               }
               else { DynamicRefreshListForMultipleSelection([], "tblAttendanceSchemesAdvSearchList"); alert("No schema found."); }
           }
       });
   });
        
   $("#btnCancel").click(function(e) {
       $("#winAdvSearch").icsWindow('close');
   });

   $("#btnOk").click(function(e) {
       debugger;
       var oAttendanceSchemes=$('#tblAttendanceSchemesAdvSearchList').icsGetCheckedItem();
       if(oAttendanceSchemes.length>0){
           _oAttendanceSchemes=oAttendanceSchemes;
           DynamicRefreshList(_oAttendanceSchemes, "tblAttendanceSchemes");
       }
   });


   $('#tblAttendanceSchemes').datagrid({ onSelect: function (rowIndex, rowData) { OperationPerformsAttendanceScheme(rowIndex, rowData); } });

   function OperationPerformsAttendanceScheme(rowIndex, rowData) {
       if (rowData != null && rowData.AttendanceSchemeID > 0) {
           debugger;

           if(rowData.IsActive){
               $("#lblActiveInActive").html("Inactive");
               $('#btnEdit,#btnDelete').hide();
           }
           else{
               $("#lblActiveInActive").html("Active");
               $('#btnEdit,#btnDelete').show();
           }
       }
   }


   $("#btnAdd").click(function(e)
   {
       var oAttendanceSchemes= $('#tblAttendanceSchemes').datagrid('getRows');
       sessionStorage.clear();
       sessionStorage.setItem("Operation", "Add");
       sessionStorage.setItem("AttendanceSchemes", JSON.stringify(oAttendanceSchemes));
       sessionStorage.setItem("SelectedRowIndex", -1);
       sessionStorage.setItem("AttendanceSchemeHeader", "Add Attendance Scheme");
       sessionStorage.setItem("BackLink", window.location.href);
       window.location.href = _sBaseAddress+ "/AttendanceScheme/View_AttendanceScheme?id=0";
   });

   $("#btnEdit").click(function(e)
   {
       var oAttendanceScheme= $('#tblAttendanceSchemes').datagrid('getSelected');
       if(oAttendanceScheme==null || oAttendanceScheme.AttendanceSchemeID<=0)  {alert("Please select an item from list!"); return;}
       if(oAttendanceScheme.IsActive){
           alert("Unable to edit. You have to do inactive first."); return false;
       }
       var nIndex=$('#tblAttendanceSchemes').datagrid('getRowIndex',oAttendanceScheme);
       sessionStorage.clear();
       sessionStorage.setItem("Operation", "Edit");
       sessionStorage.setItem("SelectedRowIndex", nIndex);
       sessionStorage.setItem("AttendanceSchemeHeader", "Edit Attendance Scheme");
       sessionStorage.setItem("BackLink", window.location.href);
       window.location.href = _sBaseAddress+ "/AttendanceScheme/View_AttendanceScheme?id="+oAttendanceScheme.AttendanceSchemeID+"";
   });

   $("#btnView").click(function(e)
   {
       var oAttendanceScheme= $('#tblAttendanceSchemes').datagrid('getSelected');
       if(oAttendanceScheme==null || oAttendanceScheme.AttendanceSchemeID<=0)  {alert("Please select an item from list!"); return;}
       var nIndex=$('#tblAttendanceSchemes').datagrid('getRowIndex',oAttendanceScheme);
       sessionStorage.clear();
       sessionStorage.setItem("Operation", "View");
       sessionStorage.setItem("BackLink", window.location.href);
       window.location.href = _sBaseAddress+ "/AttendanceScheme/View_AttendanceScheme?id="+oAttendanceScheme.AttendanceSchemeID+"";


   });

   $('#btnDelete').click(function(e){

       var oAttendanceScheme = $('#tblAttendanceSchemes').datagrid('getSelected');
       if (oAttendanceScheme == null || oAttendanceScheme.AttendanceSchemeID <= 0) {alert("Please select an item from list."); return false;}
      
       if(oAttendanceScheme.IsActive){
           alert("Unable to delete. You have to do inactive first."); return false;
       }
       if (!confirm("Confirm to Delete?")) return false;

       if (oAttendanceScheme.AttendanceSchemeID>0)
       {
           var obj =
           {
               BaseAddress: _sBaseAddress,
               Object: oAttendanceScheme,
               ControllerName: "AttendanceScheme",
               ActionName: "AttendanceSchemeDelete",
               TableId: "tblAttendanceSchemes",
               IsWinClose: false
           };
           $.icsDelete(obj);
       }
   });

   $('#btnActiveInactive').click(function(e){

       
       var oAttendanceScheme = $('#tblAttendanceSchemes').datagrid('getSelected');
       if (oAttendanceScheme == null || oAttendanceScheme.AttendanceSchemeID <= 0) {alert("Please select an item from list."); return false;}
       var obj = {
           BaseAddress: _sBaseAddress,
           Object: oAttendanceScheme,
           ObjectId: oAttendanceScheme.AttendanceSchemeID,
           ControllerName: "AttendanceScheme",
           ActionName: "AttendanceSchemeActiveInActive",
           TableId: "tblAttendanceSchemes",
           IsWinClose: false,
           Message: (!oAttendanceScheme.IsActive)?"Active Successfully." : "InActive Successfully."
       };
       $.icsSave(obj, function (response) {
           debugger;
           if (response.status && response.obj != null) {
               if (response.obj.AttendanceSchemeID > 0) {
                   if(response.obj.IsActive){
                       $("#lblActiveInActive").html("Inactive");
                       $('#btnEdit,#btnDelete').hide();
                   }
                   else{
                       $("#lblActiveInActive").html("Active");
                       $('#btnEdit,#btnDelete').show();
                   }
                   
               }
           }
       });
       
   });
    </script>
