@{
    ViewBag.Title = "Invoice Bank Submission";
}
@model IEnumerable<ESimSol.BusinessObjects.CommercialBS>
<div class="menuMainCollectionTable" id="regionCommercialBS">
    <table id="tblCommercialBSs" title="Invoice Bank Submission" class="easyui-datagrid" fit="true" fitcolumns="false" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
        <thead data-options="frozen:true">
            <tr>
                <th field="RefNo" width="11%">Ref No</th>
                <th field="FDBPNo" width="10%">FDBP No</th>
                <th field="BSStatusST" width="10%">Status</th>
                <th field="MasterLCNo" width="11%">L/C Or TT Number</th>
                <th field="BuyerName" width="10%">Buyer</th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th field="BUName" width="5%">Unit</th>
                <th field="ApprovedByName" align="center" width="8%">Approve By</th>
                <th field="BSAmountST" align="right" width="10%">Amount</th>
                <th field="SubmissionDateInString" width="10%">Submission Date</th>
                <th field="FDBPReceiveDateInString" width="10%">FDBP Receive Date</th>
                <th field="MaturityDateInString" width="10%">Maturity Date</th>
                <th field="RealizationDateInString" width="10%">Realization Date</th>
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <select id="cboBU" style="width:120px;"></select>&nbsp;
        Buyer:<select id="cboBuyer" style="width:130px;"></select>&nbsp;
        <input type="checkbox" id="chkIsDateSearch" />&nbsp;<input type="text" id="txtStartDate" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:110px" />To<input type="text" id="txtEndDate" class="easyui-datebox" data-options="formatter:icsdateformat,parser:icsdateparser" style="width:110px" />
        LC No :<input id="txtLCNo" style="width:100px;" type="text" placeholder="Type LC " />
        <a id="btnSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true"></a>
        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" onclick="Add()" plain="true">Add</a>
        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" onclick="Edit()" plain="true">Edit</a>
        <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" onclick="View()" plain="true">View</a>
        <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" onclick="Delete()" plain="true">Delete</a>
        <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" onclick="Approve()" plain="true">Approve</a>
        <a id="btnSubmitToBank" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-forword" onclick="SubmitToBank()" plain="true">Submit To Bank</a>
        <a id="btnFDBPReceived" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-receive" onclick="FDBPReceived()" plain="true">FDBP Receive</a>
        <a id="btnMaturityRcv" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" onclick="MaturityRcv()" plain="true">Maturity Rcv</a>
        <a id="btnRealization" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" onclick="Realization()" plain="true">Realization</a>
        <a id="btnPurchase" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" onclick="Purchase()" plain="true">Purchase</a>
        <a id="btnPurchaseApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" onclick="PurchaseApprove()" plain="true">Purchase Approve</a>
        <a id="btnEncashment" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" onclick="Encashment()" plain="true">Encashment</a>
        <a id="btnEncashmentApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" onclick="EncashmentApprove()" plain="true">Encashment Approve</a>
        <a id="btnBillClosed" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-closed" onclick="BillClosed()" plain="true">Close</a>
        <a id="btnUndoStatus" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-undo" onclick="UndoStatus()" plain="true">Undo</a>
        <a id="btnBillCancel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="BillCancel()" plain="true">Cancel</a>
        <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print</a>
        <a id="btnPrintXL" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">XL</a>
    </div>
</div>

<script type="text/javascript">
    debugger;
    var _oCommercialBSs = [];
    var nBUID = 0;
    $(document).ready(function () {
        var _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oCommercialBSs =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oAuthorizationRolesMapping =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        var nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oBusinessUnits = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BusinessUnits));
        var oBuyers= @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Buyers));
        debugger;
        var oCommercialBSs =sessionStorage.getItem("CommercialBSs");
        if(oCommercialBSs!=null)
        {
            oCommercialBSs = jQuery.parseJSON(oCommercialBSs);
        }
        else
        {
            oCommercialBSs=_oCommercialBSs;
        }
        $('#txtStartDate,#txtEndDate').datebox('setValue', icsdateformat(new Date()));
        DynamicRefreshList(oCommercialBSs,'tblCommercialBSs');
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        if(nIndex!=undefined)
        {
            $('#tblCommercialBSs').datagrid('selectRow',nIndex);
        }
        $("#cboBU").icsLoadCombo({List: oBusinessUnits, OptionValue: "BusinessUnitID",DisplayText: "Name", InitialValue:"--Select Business Unit--"});
        $("#cboBuyer").icsLoadCombo({List: oBuyers, OptionValue: "ContractorID",DisplayText: "Name", InitialValue:"--Buyer--"});
        $("#cboBU").val(nBUID);
        if(nBUID!=0)//if single BU it will be disabled
        {
            $("#cboBU").attr('disabled',true);
        }
        RefreshControlLayout(oAuthorizationRolesMapping);
    });
    $('#cboBU').change(function(){
        var oContractor ={Params:'3~~'+parseInt($('#cboBU').val())};//get byer type
        $.ajax
        ({
            type: "POST",
            dataType: "json",
            url : sessionStorage.getItem("BaseAddress")+  "/Contractor/ContractorSearchByNameType",
            data:  JSON.stringify(oContractor),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var oContractors = data;
                if(oContractors!=null)
                {
                    $("#cboBuyer").icsLoadCombo({List: oContractors, OptionValue: "ContractorID",DisplayText: "Name", InitialValue:"--Buyer--"});
                }
            },
            error: function (xhr, status, error)
            {
                alert(error);
            }
        });

    });
    $('#btnSearch').click(function(){

        var bIsDateSearch = $("#chkIsDateSearch").attr("checked")?true:false;
        var oCommercialBS = {SearchingData:bIsDateSearch+'~'+$('#txtStartDate').datetimebox('getValue')+'~'+$('#txtEndDate').datetimebox('getValue'), BUID:parseInt($('#cboBU').val()), BuyerID:$('#cboBuyer').val(), MasterLCNo:$.trim($('#txtLCNo').val()) }
        $.ajax
     ({
         type: "POST",
         dataType: "json",
         url : sessionStorage.getItem("BaseAddress")+  "/CommercialBS/SearchBS",
         data:  JSON.stringify(oCommercialBS),
         contentType: "application/json; charset=utf-8",
         success: function (data) {
             debugger;
             var oCommercialBSs= data;
             if(oCommercialBSs!=null && oCommercialBSs.length>0)
             {

                 DynamicRefreshList(oCommercialBSs,'tblCommercialBSs');
             }else{
                 alert("Data Not found.");
                 DynamicRefreshList([],'tblCommercialBSs');
             }
         },
         error: function (xhr, status, error)
         {
             alert(error);
         }
     });


    });

    function Add ()
    {
        //debugger;
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("CommercialBSHeader", "Add Commercial BS");
        var oCommercialBSs= $('#tblCommercialBSs').datagrid('getRows');
        sessionStorage.setItem("CommercialBSs", JSON.stringify(oCommercialBSs));
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href =sessionStorage.getItem('BaseAddress')+"/CommercialBS/ViewCommercialBS?id=0";
    };

    function Edit ()
    {
        //debugger;
        var oCommercialBS =$('#tblCommercialBSs').datagrid('getSelected');
        if(oCommercialBS==null || parseInt(oCommercialBS.CommercialBSID)<=0)
        {
            alert("Please Select an item from list");
            return;
        }
        if(oCommercialBS.BSStatus!=0)
        {
            alert("Please Select Only Initialize Item.");
            return;
        }
        var SelectedRowIndex=$('#tblCommercialBSs').datagrid('getRowIndex',oCommercialBS);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("CommercialBSHeader", "Edit Commercial BS");
        var oCommercialBSs= $('#tblCommercialBSs').datagrid('getRows');
        sessionStorage.setItem("CommercialBSs", JSON.stringify(oCommercialBSs));
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href =sessionStorage.getItem('BaseAddress')+"/CommercialBS/ViewCommercialBS?id="+oCommercialBS.CommercialBSID;
    };

    function View ()
    {
        //debugger;
        var oCommercialBS =$('#tblCommercialBSs').datagrid('getSelected');
        if(oCommercialBS==null || parseInt(oCommercialBS.CommercialBSID)<=0)
        {
            alert("Please Select an item from list");
            return;
        }
        var SelectedRowIndex=$('#tblCommercialBSs').datagrid('getRowIndex',oCommercialBS);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("CommercialBSHeader", "View Commercial BS");
        var oCommercialBSs= $('#tblCommercialBSs').datagrid('getRows');
        sessionStorage.setItem("CommercialBSs", JSON.stringify(oCommercialBSs));
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href =sessionStorage.getItem('BaseAddress')+"/CommercialBS/ViewCommercialBS?id="+oCommercialBS.CommercialBSID;
    };

    $('#btnDelete').click(function (e) {
        var oCommercialBS= $('#tblCommercialBSs').datagrid('getSelected');
        if(oCommercialBS==null || parseInt(oCommercialBS.POID)<=0)
        {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if(parseInt(oCommercialBS.ApprovedBy)!=0)
        {
            alert("Please selected purchase Order already approved!");
            return;
        }
        if (!confirm("Confirm to Delete?")) return ;
        var SelectedRowIndex=$('#tblCommercialBSs').datagrid('getRowIndex',oCommercialBS);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: sessionStorage.getItem("BaseAddress")+ "/CommercialBS/Delete",
            traditional: true,
            data:  JSON.stringify(oCommercialBS),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                feedbackmessage = jQuery.parseJSON(data);
                if (feedbackmessage == "Deleted")
                {
                    alert("Delete sucessfully");
                    $('#tblCommercialBSs').datagrid('deleteRow',SelectedRowIndex);
                }
                else
                {
                    alert(feedbackmessage);
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });

    function Approve ()
    {
        //debugger;
        var oCommercialBS =$('#tblCommercialBSs').datagrid('getSelected');
        if(oCommercialBS==null || parseInt(oCommercialBS.CommercialBSID)<=0)
        {
            alert("Please Select an item from list");
            return;
        }
        if(oCommercialBS.BSStatus!=0 )
        {
            alert("Please Select Only Initialize Item.");
            return;
        }
        if(oCommercialBS.ApprovedBy!=0 )
        {
            alert("Sorry,Selected Item  Already Approved.");
            return;
        }
        var SelectedRowIndex=$('#tblCommercialBSs').datagrid('getRowIndex',oCommercialBS);
        oCommercialBS.ActionTypeInString = "Approved";

        if (!confirm("Confirm to Approve?")) return ;
        $.ajax
   ({
       type: "POST",
       dataType: "json",
       url : sessionStorage.getItem("BaseAddress")+  "/CommercialBS/ChangeStatus",
       data:  JSON.stringify(oCommercialBS),
       contentType: "application/json; charset=utf-8",
       success: function (data) {
           debugger;
           var oCommercialBS = jQuery.parseJSON(data);
           alert("Succefully Approved");
           $('#tblCommercialBSs').datagrid('updateRow',{index: SelectedRowIndex,row:oCommercialBS});
       },
       error: function (xhr, status, error)
       {
           alert(error);
       }
   });
    };

    function SubmitToBank ()
    {
        //debugger;
        var oCommercialBS =$('#tblCommercialBSs').datagrid('getSelected');
        if(oCommercialBS==null || parseInt(oCommercialBS.CommercialBSID)<=0)
        {
            alert("Please Select an item from list");
            return;
        }
        if(oCommercialBS.BSStatus!=1)
        {
            alert("Please select Only 'Approved' Item From List!");
            return;
        }
        var SelectedRowIndex=$('#tblCommercialBSs').datagrid('getRowIndex',oCommercialBS);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        var oCommercialBSs= $('#tblCommercialBSs').datagrid('getRows');
        sessionStorage.setItem("CommercialBSs", JSON.stringify(oCommercialBSs));
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href =sessionStorage.getItem('BaseAddress')+"/CommercialBS/ViewSubmitToBank?id="+oCommercialBS.CommercialBSID;
    };

    function FDBPReceived ()
    {
        //debugger;
        var oCommercialBS =$('#tblCommercialBSs').datagrid('getSelected');
        if(oCommercialBS==null || parseInt(oCommercialBS.CommercialBSID)<=0)
        {
            alert("Please Select an item from list");
            return;
        }
        if(oCommercialBS.BSStatus!=2)
        {
            alert("Please select Only 'Bank Submission' Item From List!");
            return;
        }
        var SelectedRowIndex=$('#tblCommercialBSs').datagrid('getRowIndex',oCommercialBS);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        var oCommercialBSs= $('#tblCommercialBSs').datagrid('getRows');
        sessionStorage.setItem("CommercialBSs", JSON.stringify(oCommercialBSs));
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href =sessionStorage.getItem('BaseAddress')+"/CommercialBS/ViewFDBPReceived?id="+oCommercialBS.CommercialBSID;
    };

    function MaturityRcv ()
    {
        //debugger;
        var oCommercialBS =$('#tblCommercialBSs').datagrid('getSelected');
        if(oCommercialBS==null || parseInt(oCommercialBS.CommercialBSID)<=0)
        {
            alert("Please Select an item from list");
            return;
        }
        if(oCommercialBS.BSStatus!=3)
        {
            alert("Please select Only 'AcceptedBill' Item From List!");
            return;
        }
        var SelectedRowIndex=$('#tblCommercialBSs').datagrid('getRowIndex',oCommercialBS);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        var oCommercialBSs= $('#tblCommercialBSs').datagrid('getRows');
        sessionStorage.setItem("CommercialBSs", JSON.stringify(oCommercialBSs));
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href =sessionStorage.getItem('BaseAddress')+"/CommercialBS/ViewMaturityRcv?id="+oCommercialBS.CommercialBSID;
    };

    function Realization ()
    {
        //debugger;
        var oCommercialBS =$('#tblCommercialBSs').datagrid('getSelected');
        if(oCommercialBS==null || parseInt(oCommercialBS.CommercialBSID)<=0)
        {
            alert("Please Select an item from list");
            return;
        }
        if(oCommercialBS.BSStatus!=4)//without Maturity can't realize
        {
            alert("Please select Only 'Matured' Item From List!");
            return;
        }
        var SelectedRowIndex=$('#tblCommercialBSs').datagrid('getRowIndex',oCommercialBS);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        var oCommercialBSs= $('#tblCommercialBSs').datagrid('getRows');
        sessionStorage.setItem("CommercialBSs", JSON.stringify(oCommercialBSs));
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href =sessionStorage.getItem('BaseAddress')+"/CommercialBS/ViewDocRealization?id="+oCommercialBS.CommercialBSID;
    };

    function Purchase()
    {
        var oCommercialBS =$('#tblCommercialBSs').datagrid('getSelected');
        if(oCommercialBS==null || parseInt(oCommercialBS.CommercialBSID)<=0)
        {
            alert("Please Select an item from list");
            return;
        }
        if(oCommercialBS.BSStatus>5)
        {
            alert("In this State You Can't Purchase Doc.");
            return;
        }
        if(parseInt(oCommercialBS.CommercialEncashmentID)>0)
        {
            alert("Sorry, This Item Already EnCashment Done.");
            return;
        }
        var SelectedRowIndex=$('#tblCommercialBSs').datagrid('getRowIndex',oCommercialBS);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        var oCommercialBSs= $('#tblCommercialBSs').datagrid('getRows');
        sessionStorage.setItem("CommercialBSs", JSON.stringify(oCommercialBSs));
        sessionStorage.setItem("BackLink", window.location.href);
        sessionStorage.setItem("PurchaseOperation", "Entry");
        window.location.href =sessionStorage.getItem('BaseAddress')+"/CommercialBS/ViewCommercialFDBP?id="+oCommercialBS.CommercialFDBPID+"&CommercialBSID="+oCommercialBS.CommercialBSID;
    }
    function PurchaseApprove()
    {
        var oCommercialBS =$('#tblCommercialBSs').datagrid('getSelected');
        if(oCommercialBS==null || parseInt(oCommercialBS.CommercialBSID)<=0)
        {
            alert("Please Select an item from list");
            return;
        }
        if(parseInt(oCommercialBS.CommercialFDBPID)<=0)
        {
            alert("Sorry, There is No Entry For Purchse, Please Entry Purchase Doc.");
            return;
        }
        
        if(parseInt(oCommercialBS.PurchseApproveBy)!=0)
        {
            alert("Already Approved .");
            return;
        }
        var SelectedRowIndex=$('#tblCommercialBSs').datagrid('getRowIndex',oCommercialBS);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        var oCommercialBSs= $('#tblCommercialBSs').datagrid('getRows');
        sessionStorage.setItem("CommercialBSs", JSON.stringify(oCommercialBSs));
        sessionStorage.setItem("PurchaseOperation", "Approve");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href =sessionStorage.getItem('BaseAddress')+"/CommercialBS/ViewCommercialFDBP?id="+oCommercialBS.CommercialFDBPID+"&CommercialBSID="+oCommercialBS.CommercialBSID;
    }

    function Encashment()
    {
        //debugger;
        var oCommercialBS =$('#tblCommercialBSs').datagrid('getSelected');
        if(oCommercialBS==null || parseInt(oCommercialBS.CommercialBSID)<=0)
        {
            alert("Please Select an item from list");
            return;
        }
        if(oCommercialBS.BSStatus<5)//without Realize can't Encashment
        {
            alert("Please select Only 'Realized' Item From List!");
            return;
        }
        var SelectedRowIndex=$('#tblCommercialBSs').datagrid('getRowIndex',oCommercialBS);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        var oCommercialBSs= $('#tblCommercialBSs').datagrid('getRows');
        sessionStorage.setItem("CommercialBSs", JSON.stringify(oCommercialBSs));
        sessionStorage.setItem("BackLink", window.location.href);
        sessionStorage.setItem("EncashmentOperation", "Entry");
        window.location.href =sessionStorage.getItem('BaseAddress')+"/CommercialBS/ViewCommercialEncashment?id="+oCommercialBS.CommercialEncashmentID+"&CommercialBSID="+oCommercialBS.CommercialBSID;
    };
    function EncashmentApprove()
    {
        //debugger;
        var oCommercialBS =$('#tblCommercialBSs').datagrid('getSelected');
        if(oCommercialBS==null || parseInt(oCommercialBS.CommercialBSID)<=0)
        {
            alert("Please Select an item from list");
            return;
        }
        if(parseInt(oCommercialBS.CommercialEncashmentID)<=0)//without Realize can't Encashment
        {
            alert("Sorry, There is No Entry For EnCashment, Please Entry EnCashment.");
            return;
        }
        if(parseInt(oCommercialBS.EncashApproveBy)!=0)
        {
            alert("Already Approved.");
            return;
        }
        var SelectedRowIndex=$('#tblCommercialBSs').datagrid('getRowIndex',oCommercialBS);
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        var oCommercialBSs= $('#tblCommercialBSs').datagrid('getRows');
        sessionStorage.setItem("CommercialBSs", JSON.stringify(oCommercialBSs));
        sessionStorage.setItem("BackLink", window.location.href);
        sessionStorage.setItem("EncashmentOperation", "Approve");
        window.location.href =sessionStorage.getItem('BaseAddress')+"/CommercialBS/ViewCommercialEncashment?id="+oCommercialBS.CommercialEncashmentID+"&CommercialBSID="+oCommercialBS.CommercialBSID;
    };

    function BillClosed ()
    {
        //debugger;
        var oCommercialBS =$('#tblCommercialBSs').datagrid('getSelected');
        if(oCommercialBS==null || parseInt(oCommercialBS.CommercialBSID)<=0)
        {
            alert("Please Select an item from list");
            return;
        }
        if(oCommercialBS.BSStatus!=6)
        {
            alert("Please select only 'EnCashment' item ");
            return;
        }
        var SelectedRowIndex=$('#tblCommercialBSs').datagrid('getRowIndex',oCommercialBS);
        if (!confirm("Confirm to Close Bill ?")) return ;
        oCommercialBS.Remark= "Close Bill";
        oCommercialBS.ActionTypeInString="BillClosed";
        oCommercialBS.BSStatusInInt =7;
        $.ajax
   ({
       type: "POST",
       dataType: "json",
       url : sessionStorage.getItem("BaseAddress")+  "/CommercialBS/ChangeStatus",
       data:  JSON.stringify(oCommercialBS),
       contentType: "application/json; charset=utf-8",
       success: function (data) {
           debugger;
           var oCommercialBS = jQuery.parseJSON(data);
           alert("Succefully Closed");
           $('#tblCommercialBSs').datagrid('updateRow',{index: SelectedRowIndex,row:oCommercialBS});
       },
       error: function (xhr, status, error)
       {
           alert(error);
       }
   });
    };

    function BillCancel ()
    {
        //debugger;
        var oCommercialBS =$('#tblCommercialBSs').datagrid('getSelected');
        if(oCommercialBS==null || parseInt(oCommercialBS.CommercialBSID)<=0)
        {
            alert("Please Select an item from list");
            return;
        }
        if(oCommercialBS.BSStatus ==8 )
        {
            alert("Cancel Item Can't Cancel");
            return;
        }
        if(oCommercialBS.BSStatus >=3)
        {
            alert("Cancel is Possible Up to Accept Buyer");
            return;
        }
        var SelectedRowIndex=$('#tblCommercialBSs').datagrid('getRowIndex',oCommercialBS);
        if (!confirm("Confirm to Cancel?")) return ;
        oCommercialBS.Remark= "Cancel";
        oCommercialBS.ActionTypeInString="BillCancel";
        oCommercialBS.BSStatusInInt = oCommercialBS.BSStatus;
        $.ajax
   ({
       type: "POST",
       dataType: "json",
       url : sessionStorage.getItem("BaseAddress")+  "/CommercialBS/ChangeStatus",
       data:  JSON.stringify(oCommercialBS),
       contentType: "application/json; charset=utf-8",
       success: function (data) {
           debugger;
           var oCommercialBS = jQuery.parseJSON(data);
           alert("Succefully Cancel");
           $('#tblCommercialBSs').datagrid('updateRow',{index: SelectedRowIndex,row:oCommercialBS});
       },
       error: function (xhr, status, error)
       {
           alert(error);
       }
   });
    };
    function UndoStatus ()
    {
        //debugger;
        var oCommercialBS =$('#tblCommercialBSs').datagrid('getSelected');
        if(oCommercialBS==null || parseInt(oCommercialBS.CommercialBSID)<=0)
        {
            alert("Please Select an item from list");
            return;
        }
        if(oCommercialBS.BSStatus==0 )
        {
            alert("Initialize Item Can't Undo");
            return;
        }

        if(oCommercialBS.BSStatus ==8 )
        {
            alert("Cancel Item Can't Undo");
            return;
        }
        if(oCommercialBS.BSStatus>=5)
        {
            alert("Undo is Possible Up to Doc Rialization");
            return;
        }
        var SelectedRowIndex=$('#tblCommercialBSs').datagrid('getRowIndex',oCommercialBS);
        if (!confirm("Confirm to Undo?")) return ;
        oCommercialBS.Remark= "Undo";
        oCommercialBS.ActionTypeInString="Undo";
        oCommercialBS.BSStatusInInt = oCommercialBS.BSStatus;
        $.ajax
   ({
       type: "POST",
       dataType: "json",
       url : sessionStorage.getItem("BaseAddress")+  "/CommercialBS/ChangeStatus",
       data:  JSON.stringify(oCommercialBS),
       contentType: "application/json; charset=utf-8",
       success: function (data) {
           debugger;
           var oCommercialBS = jQuery.parseJSON(data);
           alert("Succefully Undo");
           $('#tblCommercialBSs').datagrid('updateRow',{index: SelectedRowIndex,row:oCommercialBS});
       },
       error: function (xhr, status, error)
       {
           alert(error);
       }
   });
    };


    $('#btnPreview').click(function(){
        debugger;
        var oList = $('#tblCommercialBSs').datagrid('getRows');
        if(oList.length<=0)
        {
            alert("Sorry, Tehere is No Item for Print.");
            return;
        }
        var oCommercialBS = {SearchingData:$("#chkIsDateSearch").attr("checked")?$('#txtStartDate').datetimebox('getValue')+'~'+$('#txtEndDate').datetimebox('getValue'):"", BUID:parseInt($('#cboBU').val()), BuyerID:$('#cboBuyer').val(), MasterLCNo:$.trim($('#txtLCNo').val()),  StyleNo:$.trim($('#txtStyleName').val()),  OrderRecapNo:$.trim($('#txtOrderNo').val()) }
        $.ajax
     ({
         type: "POST",
         dataType: "json",
         url : sessionStorage.getItem("BaseAddress")+  "/CommercialBS/SetSessionSearchCriteria",
         data:  JSON.stringify(oCommercialBS),
         contentType: "application/json; charset=utf-8",
         success: function (data) {
             debugger;
             var sFeedBackMessage = jQuery.parseJSON(data);
             if (sFeedBackMessage === "Successful") {
                 var tsv = ((new Date()).getTime())/1000;
                 window.open(_sBaseAddress+'/CommercialBS/PrintRegister?ts='+tsv,"_blank");
             }
         },
         error: function (xhr, status, error)
         {
             alert(error);
         }
     });


    });
    $('#btnPrintXL').click(function(){
        debugger;
        var oList = $('#tblCommercialBSs').datagrid('getRows');
        if(oList.length<=0)
        {
            alert("Sorry, Tehere is No Item for Print.");
            return;
        }
        var oCommercialBS = {SearchingData:$("#chkIsDateSearch").attr("checked")?$('#txtStartDate').datetimebox('getValue')+'~'+$('#txtEndDate').datetimebox('getValue'):"", BUID:parseInt($('#cboBU').val()), BuyerID:$('#cboBuyer').val(), MasterLCNo:$.trim($('#txtLCNo').val()),  StyleNo:$.trim($('#txtStyleName').val()),  OrderRecapNo:$.trim($('#txtOrderNo').val()) }
        $.ajax
     ({
         type: "POST",
         dataType: "json",
         url : sessionStorage.getItem("BaseAddress")+  "/CommercialBS/SetSessionSearchCriteria",
         data:  JSON.stringify(oCommercialBS),
         contentType: "application/json; charset=utf-8",
         success: function (data) {
             debugger;
             var sFeedBackMessage = jQuery.parseJSON(data);
             if (sFeedBackMessage === "Successful") {
                 var tsv = ((new Date()).getTime())/1000;
                 window.open(_sBaseAddress+'/CommercialBS/PrintRegisterInXL?ts='+tsv,"_blank");
             }
         },
         error: function (xhr, status, error)
         {
             alert(error);
         }
     });


    });

    function RefreshControlLayout(oAuthorizationRolesMapping)
    {        
        $("#btnSearch,#btnAdd,#btnEdit,#btnView,#btnDelete,#btnApproved,#btnPreview,#btnUndoStatus,#btnBillCancel,#btnFDBPReceived,#btnSubmitToBank,#btnMaturityRcv,#btnEncashment,#btnRealization,#btnPurchase,#btnPurchaseApprove,#btnEncashmentApprove").hide();

        if (PermissionChecker('AdvSearch', 'CommercialBS',oAuthorizationRolesMapping)) {$("#btnSearch").show();}
        if (PermissionChecker('Add', 'CommercialBS',oAuthorizationRolesMapping)) {$("#btnAdd").show();}
        if (PermissionChecker('Edit', 'CommercialBS',oAuthorizationRolesMapping)) {$("#btnEdit").show();}
        if (PermissionChecker('View', 'CommercialBS',oAuthorizationRolesMapping)) {$("#btnView").show();}
        if (PermissionChecker('Delete', 'CommercialBS',oAuthorizationRolesMapping)) {$("#btnDelete").show();}
        if (PermissionChecker('Add', 'CommercialBS',oAuthorizationRolesMapping)) {$("#btnReqForApproved").show();}
        if (PermissionChecker('Approved', 'CommercialBS',oAuthorizationRolesMapping)) {$("#btnApprove").show();}
        if (PermissionChecker('Approved', 'CommercialFDBP',oAuthorizationRolesMapping)) {$("#btnPurchaseApprove").show();}
        if (PermissionChecker('Approved', 'CommercialEncashment',oAuthorizationRolesMapping)) {$("#btnEncashmentApprove").show();}
        if (PermissionChecker('Preview', 'CommercialBS',oAuthorizationRolesMapping)) {$("#btnPreview,#btnPrintXL").show();}
        if (PermissionChecker('Cancel', 'CommercialBS',oAuthorizationRolesMapping)) {$("#btnBillCancel").show();}
        if (PermissionChecker('BankSubmit', 'CommercialBS',oAuthorizationRolesMapping)) {$("#btnSubmitToBank").show();}        
        if (PermissionChecker('FDBPReceived', 'CommercialBS',oAuthorizationRolesMapping)) {$("#btnFDBPReceived").show();}    
        if (PermissionChecker('MaturityReceive', 'CommercialBS',oAuthorizationRolesMapping)) {$("#btnMaturityRcv").show();}    
        if (PermissionChecker('Add', 'CommercialEncashment',oAuthorizationRolesMapping)) {$("#btnEncashment").show();}    
        if (PermissionChecker('UndoRequest', 'CommercialBS',oAuthorizationRolesMapping)) {$("#btnUndoStatus").show();}    
        if (PermissionChecker('Realization', 'CommercialBS',oAuthorizationRolesMapping)) {$("#btnRealization").show();}    
        if (PermissionChecker('Add', 'CommercialFDBP',oAuthorizationRolesMapping)) {$("#btnPurchase").show();}    
        
        
    }
</script>







