<html>
<head>
    <title></title>
</head>
<body>
    @model IEnumerable<ESimSol.BusinessObjects.PFEmployerTransaction>
    <div class="menuMainCollectionTable">
        <table id="tblPFEmployerTransaction" title="PF Employeer Transaction List" class="easyui-datagrid" style="width:100%;height:100%" fitcolumns="false" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="MonthOfYear" width="180" align="left">Year of Month</th>
                    <th field="Amount" width="100" align="right" formatter="formatPrice">Activity</th>
                    <th field="OperateDateInStr" width="90" align="left">Operate Date</th>
                    <th field="OperateByName" width="135" align="left">Operator Name</th>
                    <th field="DistributeByNameInStr" width="135" align="left">Distributed By</th>
                    <th field="DistributedByDateInStr" width="135" align="left">Distributed Date</th>
                    <th field="ApproveByNameInStr" width="135" align="left">Approve By</th>
                    <th field="ApproveByDateInStr" width="90" align="left">Approve Date</th>
                </tr>
            </thead>
        </table>

        <div id="toolbar">
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">New</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
            <a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Approve</a>
            <a id="btnDistribute" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Distribute</a>
            <a id="btnRollback" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Rollback</a>
            <a id="btnExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true"></a>

        </div>


        <div id="winPFETransaction" class="easyui-window" title="Add Employer Transaction" data-options="modal:true,closed:true,collapsible:false,minimizable:false,maximizable:false,closable:false">
            <fieldset>
                <table border="0" style="width:550px;">
                    <tr>
                        <td class="td-left-level"><label>Year: </label></td>
                        <td class="td-left-input"><select id="cboYear" class="cls-cbo"></select></td>
                        <td class="td-right-level"><label>Date: </label> </td>
                        <td class="td-right-input"><label id="lblOperateDate"></label></td>
                    </tr>
                    <tr>
                        <td class="td-left-level"><label>Month: </label></td>
                        <td class="td-left-input"><select id="cboMonth" class="cls-cbo"></select></td>
                        <td class="td-right-level"><label>Type: </label> </td>
                        <td class="td-right-input"><select id="cboPETType" class="cls-cbo"></select> </td>
                    </tr>
                    <tr>
                        <td class="td-left-level"><label>Amount: </label></td>
                        <td colspan="3">
                            <div class="region-liability">
                                <div class="cls-nonliability">
                                    <input id="txtAmount" type="text" class="cls-txt" />
                                </div>
                                <div class="cls-liability">
                                    <div class="cls-liability-left">
                                        <label>Current Liability: </label>
                                    </div>
                                    <div class="cls-liability-right">
                                        <input id="txtCurrentLiability" type="text" class="cls-txt cls-disabled" />
                                    </div>
                                </div>
                            </div>
                        </td>
                        @*<td class="td-left-input"><input id="txtAmount" type="text" class="cls-txt"/></td>
                        <td class="td-right-level cls-liability"><label>Current Liability: </label></td>
                        <td class="td-right-input cls-liability"><input id="txtCurrentLiability" type="text" class="cls-txt cls-disabled" /></td>*@
                    </tr>

                    <tr>
                        <td class="td-left-level"><label>Note: </label></td>
                        <td colspan="3">
                            <div class="region-liability">
                                <div class="cls-nonliability">
                                    <input id="txtNote" type="text" class="cls-txt" />
                                </div>
                                <div class="cls-liability">
                                    <div class="cls-liability-left">
                                        <label>Total Liability: </label>
                                    </div>
                                    <div class="cls-liability-right">
                                        <input id="txtTotalLiability" type="text" class="cls-txt cls-disabled" />
                                    </div>
                                </div>
                            </div>
                        </td>
                        @*<td class="td-left-input"><input id="txtNote" type="text" class="cls-txt" /></td>
                        <td class="td-right-level cls-liability"><label>Total Liability: </label> </td>
                        <td class="td-right-input cls-liability"><input id="txtTotalLiability" type="text" class="cls-txt cls-disabled" /> </td>*@
                    </tr>
                </table>
            </fieldset>

            <fieldset>
                <legend>Action</legend>
                <div style="width:100%; text-align:right;">
                    <label id="lblInWord" style="float: left"></label>
                    <a id="btnSave" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Save</a>
                    <a id="btnCancel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Cancel</a>
                </div>
            </fieldset>
        </div>

    </div>
</body>
</html>
<style type="text/css">
    #winPFETransaction {
        width: 600px;
        height: 185px;
    }

    .td-left-level {
        width: 17%;
        text-align: right;
    }
    .td-left-input {
        width: 32%;
        text-align: left;
    }
    .td-right-level {
        width: 23%;
        text-align: right;
    }
    .td-right-input {
        width: 32%;
        text-align: left;
    }

  

    .td-left-input .cls-txt {
        width: 97%;
    }
     .td-left-input .cls-cbo {
        width: 100%;
    }

    .td-right-input .cls-txt {
        width: 97%;
    }
    .td-right-input label {
       font-weight:bold;
    }
    .td-right-input .cls-cbo {
        width: 100%;
    }

    .region-liability{
        width:100%;
        float:left;
    }

    .region-liability .cls-nonliability{
        width:38%;
        float:left;
    }
    .cls-nonliability .cls-txt {
        width: 96%;
    }
    .region-liability .cls-liability{
        width:60%;
        float:left;
    }
    .cls-liability-left{
        float:left;
        width:46%;
        text-align:right;
    }
     .cls-liability-right{
        float:left;
        width:54%;
    }
    .cls-liability-right .cls-txt{
         margin-left:5px;
         width: 99%;
    }
</style>
<script type="text/javascript">
    var _sBaseAddress="";
    var _oPFET=null;
    var _oPFETs=[];
    var _oPETTypes=[];


    $(document).ready(function () {
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oPFETs =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _oPETTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.PETTypes));

        $('#txtAmount,#txtCurrentLiability,#txtTotalLiability').icsCurrencyBox();
        var oYears=GenerateYears(parseInt((new Date()).getFullYear()));
        $("#cboYear").icsLoadCombo({
            List: oYears,
            OptionValue: "YearID",
            DisplayText: "YearNo"
        });
        $("#cboMonth").icsLoadCombo({
            List: GetMonths(),
            OptionValue: "MonthID",
            DisplayText: "MonthName"
        });
        $("#cboPETType").icsLoadCombo({
            List: _oPETTypes,
            OptionValue: "Value",
            DisplayText: "Text"
        });

        DynamicRefreshList(_oPFETs,'tblPFEmployerTransaction');
       $('#tblPFEmployerTransaction').datagrid({onSelect: function(rowIndex, rowData){ RowSelect(rowIndex, rowData);}});
    });

    $(document).keydown(function (e) { if (e.keyCode == 27) { $('#div').icsWindow('close'); } });

    function GenerateYears(nCurrentYear){
        nCurrentYear= nCurrentYear - 5;
        var nMaxYear=nCurrentYear+10;
        var oYears=[];
        for(var i=nCurrentYear;i<nMaxYear;i++){
            oYears.push({YearID:i,YearNo:i.toString()});
        }
        return oYears;
    }

    function GetMonths(){
        debugger;
        var MonthNames=['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
        var oMonths=[];
        for(var i=0;i<MonthNames.length;i++){
            oMonths.push({MonthID:i+1,MonthName:MonthNames[i]});
        }
        return oMonths;
    }
   
    function RowSelect(rowIndex, rowData)
    {
        if(rowData.DistributedBy<=0)
        {
            $('#btnEdit,#btnDelete, #btnDistribute').show();
            $('#btnApprove,, #btnExcel, #btnRollback').hide();
        }
        if(rowData.DistributedBy>0)
        {
            $('#btnEdit,#btnDelete, #btnDistribute, #btnExcel').hide();
            $('#btnDelete, #btnRollback, #btnApprove').show();
        }
        if(rowData.ApproveBy>0){
            $('#btnEdit,#btnDelete, #btnDistribute, #btnRollback, #btnApprove').hide();
            $('#btnExcel').show();
        }
    }


    function ResetControl(){
        debugger;
        _oPFET=null;
     
        $('#winPFETransaction').find('input,select').prop('disabled',false);
        $('.cls-disabled').prop('disabled',true);
        $('input').val('');
        $('#lblOperateDate').text(icsdateformat(new Date()));
        $('select').val(0);
        $('#btnSave').show();
        DynamicRefreshList([],'tblPFEmployerTransactionBenefit');
    }

    function GetPFEmployeeTransaction(oPFET, sTitle){

        var oPFET={ PETID: oPFET.PETID };
        var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: oPFET,
                ControllerName: "PFEmployerTransaction",
                ActionName: "GetPFET",
                IsWinClose: false
            };

        $.icsDataGet(obj, function (response) {

            if (response.status && response.obj != null) {
                if (response.obj.PETID > 0) {
                    debugger;
                    RefreshControl(response.obj);
                    $('#winPFETransaction').icsWindow('open', sTitle);
                }
                else { alert((response.obj.ErrorMessage!=null || response.obj.ErrorMessage!='')? response.obj.ErrorMessage : "No provident fund scheme found."); }
            }
        });
    }

    function RefreshControl(oPFET){
        debugger;
        _oPFET=oPFET;
        $('#lblOperateDate').text(oPFET.OperateDateInStr);
        $('#cboYear').val(oPFET.Year);
        $('#cboMonth').val(oPFET.Month);
        $('#cboPETType').val(oPFET.PETTypeInInt);
        $('#txtAmount').val(formatPrice(oPFET.Amount));
        $('#txtNote').val(oPFET.Note);
    }

    function RefreshObject(){
        var oPFET = {
            PETID:(_oPFET!=null)? _oPFET.PETID: 0,
            Year: $('#cboYear').val(),
            Month : $('#cboMonth').val(),
            PETType : $('#cboPETType option:selected').text(),
            Amount : icsRemoveComma($('#txtAmount').val()),
            Note: $('#txtNote').val()
        };
        return oPFET;
    }

    function Validation(){

        
        if ($('#cboYear').val()<=0) {
            alert("Please select Year.");
            $("#cboYear").addClass("errorFieldBorder");
            $("#cboYear").focus();
            return false;
        } else {
            $("#cboYear").removeClass("errorFieldBorder");
        }
        
        if ($('#cboMonth').val()<=0) {
            alert("Please select Month.");
            $("#cboMonth").addClass("errorFieldBorder");
            $("#cboMonth").focus();
            return false;
        } else {
            $("#cboMonth").removeClass("errorFieldBorder");
        }

        if ($('#cboPETType').val()<=0) {
            alert("Please select type.");
            $("#cboPETType").addClass("errorFieldBorder");
            $("#cboPETType").focus();
            return false;
        } else {
            $("#cboPETType").removeClass("errorFieldBorder");
        }

        if($('#txtAmount').val().toString().length<=0 || icsRemoveComma($('#txtAmount').val())<=0)
        {
            alert("Amount must be grater than zero.");
            $("#txtAmount").addClass("errorFieldBorder");
            $("#txtAmount").focus();
            return false;

        }
        else {
            $("#txtAmount").removeClass("errorFieldBorder");
        }

        return true;
    }

    $("#txtAmount").keyup(function(e){
        debugger;
        var nAmount= parseFloat(icsRemoveComma($('#txtAmount').val()));
        $('#lblInWord').text(AmountInWordConversion(nAmount,'BDT'))
    });


    $('#cboPETType').change(function(e){

        if($('#cboPETType').val()>1){
            $('.cls-nonliability').css({'width':'103%'});
            $('.cls-liability').hide();
        }
        else{
            $('.cls-nonliability').css({'width':'38%'});
            $('.cls-liability').show();
        }
    });

    $('#btnAdd').click(function(e){
        ResetControl();
        $('#winPFETransaction').icsWindow('open','Add Employer Transaction');
    });

    $('#btnEdit').click(function(e){

        debugger;
        var oPFET = $('#tblPFEmployerTransaction').datagrid('getSelected');
        if (oPFET == null || oPFET.PETID <= 0) {
            alert("Please select an item from list");
            return false;
        }
        else if (oPFET.ApproveBy>0) {
            alert("Approve item unable to modify.");
            return false;
        }
        ResetControl();
        GetPFEmployeeTransaction(oPFET,'Edit Employer Transaction');
    });

    $('#btnDelete').click(function(e){
        debugger;
        var oPFET = $('#tblPFEmployerTransaction').datagrid('getSelected');

        if (oPFET == null || oPFET.PETID <= 0) {
            alert("Please select an item from list");
            return false;
        }
        else if (oPFET.ApproveBy>0) {
            alert("Approve item can't be delete.");
            return false;
        }
        if (!confirm("Confirm to Delete?")) return;

        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: {PETID:oPFET.PETID},
            ControllerName: "PFEmployerTransaction",
            ActionName: "DeletePFET",
            TableId: "tblPFEmployerTransaction",
            IsWinClose: false
        };
        $.icsDelete(obj);
    });

    $('#btnView').click(function(e){

        var oPFET = $('#tblPFEmployerTransaction').datagrid('getSelected');
        if (oPFET == null || oPFET.ACSID <= 0) {
            alert("Please select a valid item from list");
            return false;
        }
        ResetControl();
        $('#btnSave').hide();
        GetPFEmployeeTransaction(oPFET,'View Employer Transaction');
    });

    $("#btnApprove").click(function (e) {

        debugger;
        var oPFET = $('#tblPFEmployerTransaction').datagrid('getSelected');

        if (oPFET == null || oPFET.PETID <= 0) {
            alert("Please select an item from list");
            return false;
        }
        else if (oPFET.ApproveBy>0) {
            alert("Already Approved.");
            return false;
        }
        else if(oPFET.DistributedBy <= 0) {alert("NOT YET DISTRIBUTED!!"); return false;}

        if (!confirm("Confirm to approve.")) return;
        var nIndex=$('#tblPFEmployerTransaction').datagrid('getRowIndex',oPFET);

        var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: oPFET,
                ObjectId: oPFET.PETID,
                ControllerName: "PFEmployerTransaction",
                ActionName: "ApprovePFET",
                TableId: "tblPFEmployerTransaction",
                IsWinClose: false,
                Message: "Approve Successfully."
            };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                RowSelect(nIndex,response.obj);
            }
        });

    });
    

    //Functionality of button distribute
    $("#btnDistribute").click(function(e){
        debugger;
        var oPFET = $('#tblPFEmployerTransaction').datagrid('getSelected');
        if (oPFET == null || oPFET.PETID <= 0) {
            alert("Please select an item from list");
            return false;
        }
        else if(oPFET.ApprovedBy > 0) {alert("Already approved. You can not distribute further"); return false;}
        if (!confirm("Confirm to distribute.")) return;
        var nIndex=$('#tblPFEmployerTransaction').datagrid('getRowIndex',oPFET);

        var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: oPFET,
                ObjectId: oPFET.PETID,
                ControllerName: "PFEmployerTransaction",
                ActionName: "Distribute",
                TableId: "tblPFEmployerTransaction",
                IsWinClose: false,
                Message: "Distributed Successfully."
            };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                RowSelect(nIndex,response.obj);
            }
        });


    });

    //Functionality of button Rollback
    $("#btnRollback").click(function(e){
        debugger;
        var oPFET = $('#tblPFEmployerTransaction').datagrid('getSelected');
        if (oPFET == null || oPFET.PETID <= 0) {
            alert("Please select an item from list");
            return false;
        }
        var nIndex=$('#tblPFEmployerTransaction').datagrid('getRowIndex',oPFET);

        var obj =
            {
                BaseAddress: _sBaseAddress,
                Object: oPFET,
                ObjectId: oPFET.PETID,
                ControllerName: "PFEmployerTransaction",
                ActionName: "Rollback",
                TableId: "tblPFEmployerTransaction",
                IsWinClose: false,
                Message: "Rollback Successful."
            };
        $.icsSave(obj, function (response) {
            if (response.status && response.obj != null) {
                RowSelect(nIndex,response.obj);
            }
        });


    });


    $('#btnExcel').click(function(e){
        //$scope.sParams ="";
        var oPFET = $('#tblPFEmployerTransaction').datagrid('getSelected');
        if (oPFET == null || oPFET.PETID <= 0) {
            alert("Please select an item from list");
            return false;
        }
        if(sessionStorage.getItem("sTempString")!=null){
            var sParams=sessionStorage.getItem("sTempString");
        }
        else
        {
            var sParams ="";
        }
        sessionStorage.setItem('PETID',oPFET.PETID);
        window.open(_sBaseAddress + '/PFEmployerTransaction/Print_ReportXL?id='+oPFET.PETID, "_blank");

        
    });


    $('#btnSave').click(function(e){
        debugger;
        if (!Validation()) return false;
        var oPFET = RefreshObject();
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oPFET,
            ObjectId: oPFET.PETID,
            ControllerName: "PFEmployerTransaction",
            ActionName: "SavePFET",
            TableId: "tblPFEmployerTransaction",
            IsWinClose: true,
            Message: (oPFET.PETID>0)?"Update Successfully." : "Save Successfully."
        };
        $.icsSave(obj, function (response) {
            debugger;
            if (response.status && response.obj != null) {
                if (response.obj!=null && response.obj.PETID>0) {
                    $('#winPFETransaction').icsWindow('close');
                    ResetControl();
                }
            }
        });
    });

    $('#btnCancel').click(function(e){
        $('#winPFETransaction').icsWindow('close');
        ResetControl();
    });
</script>