<html>
@{
    ViewBag.title = "FNMachine";
}
<body>
    @model ESimSol.BusinessObjects.FNMachine
    <div class="menuMainCollectionTable panel-group" ng-app="CFNMachineapp" ng-controller="CFNMachineController" id="divCC" style="height:530px">
        <div class=" panel-primary" >
        <div style="height:490px;" class="panel-body regionFNMachine">
            <fieldset style=" height:100%; text-align:center;">
                <legend style="font-weight:bold;">Basic Info : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:90%; margin:150px 90px 0 -40px">
                    <tr>
                        <td style="width:15%; text-align:right">
                            Code :
                        </td>
                        <td style="width:35%">
                            <input type="text" ng-model="FNMachine.Code" id="txtCode" class="form-control" style="width:100%" />
                        </td>

                        <td style="width:15%; text-align:right">
                            Type :
                        </td>
                        <td style="width:35%">
                            <select ng-model="FNMachine.FNMachineType" ng-change="ChangeMachineType()" class="form-control" ng-options="oItem.id as oItem.Value for oItem in FNMachineTypes" style="width:100%"></select>
                        </td>
                    </tr>

                    <tr>
                        <td style="width:15%; text-align:right">
                           Name :
                        </td>
                        <td style="width:85%;" colspan="3">
                            <input type="text" ng-model="FNMachine.Name" class="form-control" style="width:100%" />
                        </td>
                    </tr>
                    <tr>
                        <td style="width:30%; text-align:right">
                            Note :
                        </td>
                        <td style="width:35%;" >
                            <input type="text" ng-model="FNMachine.Note" class="form-control" style="width:100%" />
                        </td>
                        <td style="width:15%; text-align:right">
                            No Of Bath :
                        </td>
                        <td style="width:35%">
                            <input type="number" ng-model="FNMachine.NoOfBath" ng-disabled="dsblNoOfBath" class="form-control" style="width:100%" />
                        </td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:100%;text-align:right">
                        <button type="button" id="btnSave" class="btn btn-default btn-md btn-success" aria-label="right Align" ng-click="Save()"><span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> Save</span></button>
                        <button type="button" id="btnClose" class="btn btn-default btn-md btn-danger" aria-label="right Align" ng-click="Close()"><span class="glyphicon glyphicon-remove" aria-hidden="true"> Close</span></button>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
            
        </div>
</body>
</html>
<style type="text/css">
    .regionFNMachine .form-horizontal .control-label {
        padding-top: 1px;
    }

    .regionFNMachine .form-control {
        height: 26px;
        padding: 0px 4px;
        font-size: 12px;
        width:100%;
    }
</style>


<script type="text/javascript">
    //debugger;
    var oFNMachine =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    var oFNMachineTypes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(@ViewBag.FNMachineTypes));
    var _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    var CFNMachineApp = angular.module('CFNMachineapp', []);
    CFNMachineApp.controller('CFNMachineController', function ($scope, $http) {
            $scope.FNMachine = oFNMachine;
            oFNMachineTypes[0].Value='--Select One--';
            $scope.FNMachineTypes = oFNMachineTypes;

            $scope.ChangeMachineType = function()
            {
                debugger;
                if($scope.FNMachine.FNMachineType>0)
                {
                    if($scope.FNMachine.FNMachineType==2)//Batcher
                    {
                        $scope.dsblNoOfBath = true;
                    }else{
                        $scope.dsblNoOfBath = false;
                    }

                }
            }

            $scope.Save=function()
            {
                debugger;
                if(!$scope.ValidateInput()) return;
                var oFNMachine=$scope.FNMachine;
                $http.post(_sBaseAddress+'/FNMachine/Save',oFNMachine).then(
                      function (response)
                      {
                          var oFNMachine= jQuery.parseJSON(response.data);
                          if (oFNMachine.ErrorMessage=="" || oFNMachine.ErrorMessage==null)
                          {
                              alert("Data Save Successfully!!");
                              if (confirm("Do You More?"))
                              {
                                  $scope.FNMachine.FNMachineID = 0;
                                  $('#txtCode').focus();
                                  return;
                              }
                                var oFNMachines = sessionStorage.getItem("FNMachines");
                                var nIndex = parseInt(sessionStorage.getItem("SelectedRowIndex"));
                                if (oFNMachines != null)
                                {
                                    oFNMachines = jQuery.parseJSON(oFNMachines);
                                }
                                else {
                                    oFNMachines = [];
                                }
                                if (nIndex != -1) {
                                    oFNMachines[nIndex] = oFNMachine;
                                }
                                else {
                                    sessionStorage.setItem("SelectedRowIndex", oFNMachines.length);
                                    oFNMachines.push(oFNMachine);
                                }
                                sessionStorage.setItem("FNMachines", JSON.stringify(oFNMachines));
                                window.location.href = sessionStorage.getItem("BackLink");
                              
                          }
                          else
                          {
                              alert(oFNMachine.ErrorMessage);
                          }

                      },
                          function (response) { alert(jQuery.parseJSON(response.data).Message);$scope.MeasurementUnits=[];}
                  );
            }
            $scope.ValidateInput = function()
            {
                debugger;
                if(($scope.FNMachine.Code==null || $scope.FNMachine.Code==""))
                {
                    alert("Please enter Code!");
                    return false;
                }
                if($scope.FNMachine.FNMachineType<=0)
                {
                    alert("Please select  type!");
                    return false;
                }
                if($scope.FNMachine.Name==null || $scope.FNMachine.Name=="")
                {
                    alert("Please enter  name!");
                    return false;
                }
                if($scope.FNMachine.NoOfBath<0)
                {
                    alert("NO Of Bath Can't Negative.");
                    return false;
                }
                
                return true;
            }
            if(sessionStorage.getItem("FNMachineHeader")=="View FNMachine")
            {
                $("#divCC :input").prop('disabled', true);
                $('#btnClose').prop('disabled', false);
            }
            $scope.Close = function()
            {
                window.location.href = sessionStorage.getItem("BackLink");
            }
            $scope.keydown = function(e)
            {
                if(e.which == 27)//escape=27
                {
                    //debugger;
                    window.location.href = sessionStorage.getItem("BackLink");
                }
            }
        });

</script>