<html>
@{
    ViewBag.Title = "ServiceInvoice Registers";
}
<body>
    @model ESimSol.BusinessObjects.ServiceInvoice
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable" id="MainDiv">
        <div class="easyui-panel" title="QC Register" style="font-family:Tahoma; text-align:center; height:88%;">
            <fieldset style="height:95%; text-align:center;">
                <legend style="font-weight:bold"> Serching Criteria : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:100%">
                    <tr>
                        <td colspan="5" style="height:20px;"></td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Part No :</td>
                        <td style="width:30%;text-align:left">
                            <input type="text" style="width:100%" id="txtPartNo" placeholder="Enter Part No" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Reg. No :</td>
                        <td style="width:38%;text-align:right">
                            <input type="text" style="width:100%" id="txtRegNo" placeholder="Enter Reg. No" />
                        </td>

                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Model No :</td>
                        <td style="width:30%;text-align:left">
                            <input type="text" style="width:100%" id="txtModelNo" placeholder="Enter Model No" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Engine No :</td>
                        <td style="width:38%;text-align:right">
                            <input type="text" style="width:100%" id="txtEngineNo" placeholder="Enter Engine No" />
                        </td>

                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Product :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:80%; text-align:left">
                                        <input type="text" style="width:98%" id="txtProduct" onkeydown="ProductKeyDown(event)" placeholder="Press enter with Product name" />
                                    </td>
                                    <td style="width:20%; text-align:right">
                                        <input type="button" id="btnProduct" onclick="PickProduct()" style="width:95%;float:right;" value="Pick" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Customer :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:80%; text-align:left">
                                        <input type="text" style="width:98%" id="txtCustomer" onkeydown="CustomerKeyDown(event)" placeholder="Press enter with Customer name" />
                                    </td>
                                    <td style="width:20%; text-align:right">
                                        <input type="button" id="btnCustomer" onclick="PickCustomer()" style="width:95%;float:right;" value="Pick" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Charge Type :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboChargeType" style="width:100%;height:22px;">
                                <option value="0">--Select One--</option>
                                <option value="1">All</option>  
                                <option value="2">Complementary</option>
                            </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        
                        <td style="width:12%;text-align:right"> Invoice Date :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboServiceInvoiceDate" style="width:100%;height:22px;"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtServiceInvoiceDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtServiceInvoiceDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Report Layout :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboReportLayout" style="width:100%;height:22px;">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"></td>
                        <td style="width:38%;text-align:right"></td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:50%;text-align:right"></td>
                    <td style="width:50%;text-align:right">
                        <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                        <a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel</a>
                        @*<a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>*@
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>


<script type="text/javascript">
    var _sBaseAddress="";
    var _oStores = [];
    var _oEmployees =[];
    $(document).ready(function () {
        var nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oReportLayouts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReportLayouts));
        var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oStores = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Stores));
        _oEmployees = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.Employees));

        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        $('#txtQCQtyStart,#txtQCQtyEnd').icsCurrencyBox();
        $("#cboServiceInvoiceDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboReportLayout").icsLoadCombo({ List: oReportLayouts, OptionValue: "id", DisplayText: "Value" });

        $('#txtServiceInvoiceDateStart').datebox({ disabled : true });
        $('#txtServiceInvoiceDateEnd').datebox({ disabled : true });

        $('#txtServiceInvoiceDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtServiceInvoiceDateEnd').datebox('setValue', icsdateformat(new Date()));

        $("#MainDiv").data("ProductID",0);
        $("#MainDiv").data("CustomerID",0);
    });

    function ValidateSearch()
    {

        var nServiceInvoiceDate = parseInt($('#cboServiceInvoiceDate').val());
        if(nServiceInvoiceDate===1 || nServiceInvoiceDate===2 || nServiceInvoiceDate===3 || nServiceInvoiceDate===4)
        {
            var sServiceInvoiceDateStart   = $('#txtServiceInvoiceDateStart').datebox('getValue');
            if(sServiceInvoiceDateStart===null || sServiceInvoiceDateStart==="")
            {
                alert("Please select ServiceInvoice start date!");
                $('#txtServiceInvoiceDateStart').focus();
                return false;
            }
        }
        if(nServiceInvoiceDate===5 || nServiceInvoiceDate===6)
        {
            var sServiceInvoiceDateStart   = $('#txtServiceInvoiceDateStart').datebox('getValue');
            var sServiceInvoiceDateEnd   = $('#txtServiceInvoiceDateEnd').datebox('getValue');
            if(sServiceInvoiceDateStart===null || sServiceInvoiceDateStart==="")
            {
                alert("Please select ServiceInvoice start date!");
                $('#txtServiceInvoiceDateStart').focus();
                return false;
            }
            if(sServiceInvoiceDateEnd===null || sServiceInvoiceDateEnd==="")
            {
                alert("Please select ServiceInvoice end date!");
                $('#txtServiceInvoiceDateEnd').focus();
                return false;
            }
            if(new Date(sServiceInvoiceDateStart) > new Date(sServiceInvoiceDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtServiceInvoiceDateStart').focus();
                return false;
            }
        }

        
        var nReportLayout = parseInt($('#cboReportLayout').val());
        if(nReportLayout<=0)
        {
            alert("Please select a Report Layout!");
            return;
        }

        var txtPartNo =$.trim($('#txtPartNo').val());
        var txtRegNo = $.trim($('#txtRegNo').val());
        var txtModelNo = $.trim($('#txtModelNo').val());
        var txtEngineNo =$.trim($('#txtEngineNo').val());
        var txtProduct = parseInt($("#MainDiv").data("ProductID"));
        var txtCustomer = parseInt($("#MainDiv").data("CustomerID"));
        var cboChargeType = parseInt($('#cboChargeType').val());
        var nServiceInvoiceDate = parseInt($('#cboServiceInvoiceDate').val());

        debugger;
        if(txtPartNo === "" && txtRegNo === "" && txtModelNo === "" && txtEngineNo === "" && nServiceInvoiceDate === 0 && txtProduct <= 0 && txtCustomer <= 0 && cboChargeType ===0)
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }
        if(parseInt($('#cboReportLayout').val()) <= 0){
            alert("Please Report Layout!!");
            return false;
        }

        return true;
    }

    function RefreshObject()
    {
        var nServiceInvoiceDate = parseInt($('#cboServiceInvoiceDate').val());
        var sServiceInvoiceDateStart   = $('#txtServiceInvoiceDateStart').datebox('getValue');
        var sServiceInvoiceDateEnd   = $('#txtServiceInvoiceDateEnd').datebox('getValue');
        var sSearchingData = nServiceInvoiceDate + "~" + sServiceInvoiceDateStart + "~" + sServiceInvoiceDateEnd;

        var oServiceInvoice = {
            BUID : parseInt(sessionStorage.getItem("BUID")),
            PartsNo : $.trim($('#txtPartNo').val()),
            VehicleRegNo : $.trim($('#txtRegNo').val()),
            VehicleModelNo : $.trim($('#txtModelNo').val()),
            EngineNo: $.trim($('#txtEngineNo').val()),
            VehiclePartsID : parseInt($("#MainDiv").data("ProductID")),
            CustomerID : parseInt($("#MainDiv").data("CustomerID")),
            ChargeType : parseInt($('#cboChargeType').val()),
            ReportLayout : parseInt($('#cboReportLayout').val()),
            ErrorMessage : sSearchingData
        };
        return oServiceInvoice;
    }

    $('#btnPreview').click(function(e){
        if(!ValidateSearch()) return;
        var oServiceInvoice = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ServiceInvoice/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oServiceInvoice),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/ServiceInvoice/PrintServiceInvoiceRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    $('#btnExportToExcel').click(function(e){
        if(!ValidateSearch()) return;
        var oServiceInvoice = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/ServiceInvoice/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oServiceInvoice),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/ServiceInvoice/ExportToExcelServiceInvoice?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    $('#cboServiceInvoiceDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboServiceInvoiceDate').val());
        if(nCompareOperator===0)
        {
            $('#txtServiceInvoiceDateStart').datebox({ disabled : true });
            $('#txtServiceInvoiceDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtServiceInvoiceDateStart').datebox({ disabled : false });
            $('#txtServiceInvoiceDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtServiceInvoiceDateStart').datebox({ disabled : false });
            $('#txtServiceInvoiceDateEnd').datebox({ disabled : false });
        }
        $('#txtServiceInvoiceDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtServiceInvoiceDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#cboQCQty').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboQCQty').val());
        if(nCompareOperator===0)
        {
            $('#txtQCQtyStart').prop("disabled", true);
            $('#txtQCQtyEnd').prop("disabled", true);
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtQCQtyStart').prop("disabled", false);
            $('#txtQCQtyEnd').prop("disabled", true);
        }
        else
        {
            $('#txtQCQtyStart').prop("disabled", false);
            $('#txtQCQtyEnd').prop("disabled", false);
        }
        $('#txtQCQtyStart').val('0.00');
        $('#txtQCQtyEnd').val('0.00');
    });

    $('#cboRejectQty').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboRejectQty').val());
        if(nCompareOperator===0)
        {
            $('#txtRejectQtyStart').prop("disabled", true);
            $('#txtRejectQtyEnd').prop("disabled", true);
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtRejectQtyStart').prop("disabled", false);
            $('#txtRejectQtyEnd').prop("disabled", true);
        }
        else
        {
            $('#txtRejectQtyStart').prop("disabled", false);
            $('#txtRejectQtyEnd').prop("disabled", false);
        }
        $('#txtRejectQtyStart').val('0.00');
        $('#txtRejectQtyEnd').val('0.00');
    });

    $('#btnClose').click(function (e) {
        window.location.href = window.location.href;
    });


    function ProductKeyDown(event) {
        //return;
        if (event.which == 13) {
            var oTxtName=$("#txtProduct").val();
            if (oTxtName != null) {
                PickProduct(oTxtName);
            }
        }
        if (event.which == 8) {
            txtProduct.style.color="Black";
            $("#MainDiv").data("ProductID",0);
        }

    }
    function PickProduct(oTxtName)
    {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oStyleSearch = {
            BUID: nBUID, 
            ProductName: $("#txtProduct").val()
        };
        //console.log(oStyleSearch);
        debugger;
        var obj = {
            BaseAddress:_sBaseAddress,
            Object: (oStyleSearch) ,
            ControllerName: "ServiceInvoice", 
            ActionName: "GetProductsByName",
            IsWinClose: false
        };
        var tblColums = [];
        var oColumn = { field: 'ProductCode', name: 'Code',width: '100',align: "left"  };tblColums.push(oColumn);
        oColumn = { field: 'ProductName', name: 'Name',width: '200', align: "left"  };tblColums.push(oColumn);
        oColumn = { field: 'ProductCategoryName', name: 'Category',width: '150', align: "left"  };tblColums.push(oColumn);
                    
        DynamicPiker('Product',obj,tblColums,false,'ProductName','ProductID',600); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
    }
    function SetProduct(oSelectedStyle) {
        debugger;
        document.getElementById("txtProduct").value = oSelectedStyle.ProductName;
        txtProduct.style.color="Blue";
        //var text = "";
        //var len = oSelectedStyle.length;
        //for (var i = 0; i < len; i++) {

        //    text += oSelectedStyle[i].ProductName;
        //}
        //document.getElementById("ProductName").innerHTML = text;
        $("#MainDiv").data("ProductID",oSelectedStyle.ProductID);
    }

    function CustomerKeyDown(event) {
        //return;
        if (event.which == 13) {
            var oTxtName=$("#txtCustomer").val();
            if (oTxtName != null) {
                PickCustomer(oTxtName);
            }
        }
        if (event.which == 8) {
            txtCustomer.style.color="Black";
            $("#MainDiv").data("CustomerID",0);
        }

    }
    function PickCustomer(oTxtName)
    {
        var nBUID = parseInt(sessionStorage.getItem("BUID"));
        var oStyleSearch = {
            Params: '2' + '~' + $("#txtCustomer").val() + '~' + 0
        };
        //console.log(oStyleSearch);
        debugger;
        var obj = {
            BaseAddress:_sBaseAddress,
            Object: (oStyleSearch) ,
            ControllerName: "Contractor", 
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        var tblColums = [];
        var oColumn = { field: 'ContractorID', name: 'Code',width: '100',align: "left"  };tblColums.push(oColumn);
        oColumn = { field: 'Name', name: 'Customer Name',width: '200', align: "left"  };tblColums.push(oColumn);
        oColumn = { field: 'Address', name: 'Address',width: '150', align: "left"  };tblColums.push(oColumn);
                    
        DynamicPiker('Customer',obj,tblColums,false,'Name','ContractorID',600); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
    }
    function SetCustomer(oSelectedStyle) {
        debugger;
        document.getElementById("txtCustomer").value = oSelectedStyle.Name;
        txtCustomer.style.color="Blue";
        //var text = "";
        //var len = oSelectedStyle.length;
        //for (var i = 0; i < len; i++) {

        //    text += oSelectedStyle[i].CustomerName;
        //}
        //document.getElementById("CustomerName").innerHTML = text;
        $("#MainDiv").data("CustomerID",oSelectedStyle.ContractorID);
    }

    function SetPickerValueAssign(oPickerobj)
    {
        debugger;
        var oResult;
        if (oPickerobj.multiplereturn)
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getChecked');
        }
        else
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getSelected');
        }


        if (oPickerobj.winid == 'winProduct')
        {
            SetProduct(oResult);
        }
        else if (oPickerobj.winid == 'winCustomer')
        {
            SetCustomer(oResult);
        }


        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 90){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }

    function DynamicPiker(pickerName,obj,pTblColums,pMultiReturn,pSearchField,pID,nWidth)
    {
        debugger;
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        setInterval(updateProgress,250);

        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0][pID] > 0) {
                    debugger;
                    var tblColums = pTblColums;
                    var oPickerParam = {
                        winid: 'win'+pickerName,
                        winclass: 'cls'+pickerName,
                        winwidth: nWidth,
                        winheight: 460,
                        tableid: 'tbl'+pickerName+'s',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: pMultiReturn,
                        searchingbyfieldName: pSearchField,
                        windowTittle: pickerName+' List',
                        colsable:true
                    };
                    $.icsPicker(oPickerParam);
                    $("#progressbar").progressbar({ value: 0 });//hide
                    $("#progressbarParent").hide();
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                    $("#progressbar").progressbar({ value: 0 });//hide
                    $("#progressbarParent").hide();
                }
            }
            else{
                alert("Data Not Found.");
                $("#progressbar").progressbar({ value: 0 });//hide
                $("#progressbarParent").hide();
                return;
            }
        });
    }

    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }


</script>