@model IEnumerable<ESimSol.BusinessObjects.BenefitOnAttendance>
@{
    ViewBag.Title = "Benifets On Attendance";
}
<div style="margin-left:0px;width:100%; height:100%">
    <table id="tblBenefitOnAttendances" title="Benifets On Attendance List" class="easyui-datagrid" style="width:100%; height:100%" fitcolumns="false" rownumbers="true" pagination="fasle" singleselect="true" , autorowheight="false" toolbar="#toolbar">
        <thead>
            <tr>
                <th field="CreateDateInString" width="75" align="left">Create Date</th>
                <th field="Name" width="150" align="left">Name</th>
                <th field="BenefitOnInString" width="100" align="left">Benefit On</th>
                <th field="OvertimeST" width="100" align="left">Over Time</th>
                <th field="SalaryST" width="100" align="left">Salary</th>
                <th field="LeaveST" width="100" align="left">Leave</th>
                <th field="ApproveByName" width="100" align="left">ApproveBy</th>
                <th field="ApproveDateInString" width="100" align="left">Approve Date</th>
                <th field="ActivityInString" width="100" align="left">Activity</th>
                
            </tr>
        </thead>
    </table>
    <div id="toolbar">
        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true" onclick="AddBenefitOnAttendance()">New</a>
        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true" onclick="EditBenefitOnAttendance()">Edit</a>
        <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true" onclick="ViewBenefitOnAttendance()">View</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true" onclick="DeleteBenefitOnAttendance()">Delete</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="ApproveBenefitOnAttendance()">Approve</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="InactiveBenefitOnAttendance()">InActive</a>
            
    </div>
</div>

<script type="text/javascript">
var _oBenefitOnAttendances=[];
var _sBaseAddress="";
var _sBenefitOnAttendanceHeader="";
$(document).ready(function () {
    _oBenefitOnAttendances =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
    _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
    var oBenefitOnAttendances =sessionStorage.getItem("BenefitOnAttendances");
    _sBenefitOnAttendanceHeader=sessionStorage.getItem("BenefitOnAttendanceHeader");
    if(oBenefitOnAttendances!=null)
    {
        oBenefitOnAttendances = jQuery.parseJSON(oBenefitOnAttendances);
    }
    else
    {
        oBenefitOnAttendances=_oBenefitOnAttendances;
    }
    DynamicRefreshList(_oBenefitOnAttendances, "tblBenefitOnAttendances");

    if(_sBenefitOnAttendanceHeader == "New Benifets On Attendance") {
        var oBenefitOnAttendances = $('#tblBenefitOnAttendances').datagrid('getRows');
        var nIndex = oBenefitOnAttendances.length-1;
        $('#tblBenefitOnAttendances').datagrid('selectRow', nIndex);
    }
    else if(_sBenefitOnAttendanceHeader == "Edit Benifets On Attendance" || _sBenefitOnAttendanceHeader == "View Benifets On Attendance") {
        var nIndex= parseInt(sessionStorage.getItem("SelectedRowIndex"));
        $('#tblBenefitOnAttendances').datagrid('selectRow', nIndex);
    }
    sessionStorage.clear();
});

function AddBenefitOnAttendance()
{
    var oBenefitOnAttendances= $('#tblBenefitOnAttendances').datagrid('getRows');
    sessionStorage.setItem("BenefitOnAttendances", JSON.stringify(oBenefitOnAttendances));
    sessionStorage.setItem("SelectedRowIndex", -1);
    sessionStorage.setItem("BenefitOnAttendanceHeader", "New Benifets On Attendance");
    window.location.href = _sBaseAddress+ "/BenefitOnAttendance/View_BenefitOnAttendance?sid=0&sMsg=N/A";
}

function EditBenefitOnAttendance()
{
    var oBenefitOnAttendance = $('#tblBenefitOnAttendances').datagrid('getSelected');
    if (oBenefitOnAttendance == null || oBenefitOnAttendance.BOAID <= 0) {
        alert("Please select an item from list!");
        return;
    }
    if (oBenefitOnAttendance.ApproveBy >0) {
        alert("Approved item can not be edited!");
        return;
    }
    var SelectedRowIndex = $('#tblBenefitOnAttendances').datagrid('getRowIndex', oBenefitOnAttendance);
    var oBenefitOnAttendances= $('#tblBenefitOnAttendances').datagrid('getRows');
    sessionStorage.setItem("BenefitOnAttendances", JSON.stringify(oBenefitOnAttendances));
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
    sessionStorage.setItem("BenefitOnAttendanceHeader", "Edit Benifets On Attendance");
    window.location.href = _sBaseAddress+ "/BenefitOnAttendance/View_BenefitOnAttendance?sid="+oBenefitOnAttendance.EncryptedID+"&sMsg=N/A";
}

function DeleteBenefitOnAttendance() {
    var oBenefitOnAttendance = $('#tblBenefitOnAttendances').datagrid('getSelected');
    if (oBenefitOnAttendance == null || oBenefitOnAttendance.BOAID <= 0) {
        alert("Please select an item from list!");
        return;
    }
    if (oBenefitOnAttendance.ApproveBy >0) {
        alert("Approved item can not be deleted!");
        return;
    }
    if (!confirm("Confirm to Delete?")) return;
    var SelectedRowIndex = $('#tblBenefitOnAttendances').datagrid('getRowIndex', oBenefitOnAttendance);
    var obj = {
        BaseAddress: _sBaseAddress,
        Object: oBenefitOnAttendance,
        ControllerName: "BenefitOnAttendance",
        ActionName: "BenefitOnAttendance_Delete",
        TableId: "tblBenefitOnAttendances",
        IsWinClose: false
    };
    $.icsDelete(obj)
    //$.icsDelete(obj, function (response) {
    //    if (response.status && response.Message=="deleted") {
    //        $('#tblCommissionMaterials').datagrid('deleteRow', selectedRowIndex);
    //    }
    //});
}

function ViewBenefitOnAttendance()
{
    var oBenefitOnAttendance = $('#tblBenefitOnAttendances').datagrid('getSelected');
    if (oBenefitOnAttendance == null || oBenefitOnAttendance.BOAID <= 0) {
        alert("Please select an item from list!");
        return;
    }
    var SelectedRowIndex = $('#tblBenefitOnAttendances').datagrid('getRowIndex', oBenefitOnAttendance);
    var oBenefitOnAttendances= $('#tblBenefitOnAttendances').datagrid('getRows');
    sessionStorage.setItem("BenefitOnAttendances", JSON.stringify(oBenefitOnAttendances));
    sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
    sessionStorage.setItem("BenefitOnAttendanceHeader", "View Benifets On Attendance");
    window.location.href = _sBaseAddress+ "/BenefitOnAttendance/View_BenefitOnAttendance?sid="+oBenefitOnAttendance.EncryptedID+"&sMsg=N/A";
}

function ApproveBenefitOnAttendance() {
    var oBenefitOnAttendance = $('#tblBenefitOnAttendances').datagrid('getSelected');
    if (oBenefitOnAttendance == null || oBenefitOnAttendance.BOAID <= 0) {
        alert("Please select an item from list!");
        return;
    }
    var SelectedRowIndex = $('#tblBenefitOnAttendances').datagrid('getRowIndex', oBenefitOnAttendance);
    if (oBenefitOnAttendance.ApproveBy >0) {
        alert("Already Approved!");
        return;
    }
    if (!confirm("Confirm to Approve?")) return;
    $.ajax({
        type: "POST",
        dataType: "json",
        url: _sBaseAddress + "/BenefitOnAttendance/BenefitOnAttendance_Approve",
        traditional: true,
        data: JSON.stringify(oBenefitOnAttendance),
        contentType: "application/json; charset=utf-8",

        success: function(data) {
            debugger;
            oBenefitOnAttendance = jQuery.parseJSON(data);
            if (oBenefitOnAttendance.BOAID > 0 && oBenefitOnAttendance.ErrorMessage=="") {
                alert("Data Saved sucessfully");
                $('#tblBenefitOnAttendances').datagrid('updateRow', { index: SelectedRowIndex, row: oBenefitOnAttendance });

            } else {
                alert(oBenefitOnAttendance.ErrorMessage);
            }
        },
        error: function(xhr, status, error) {
            alert(error);
        }
    });
}

function InactiveBenefitOnAttendance() {
    var oBenefitOnAttendance = $('#tblBenefitOnAttendances').datagrid('getSelected');
    if (oBenefitOnAttendance == null || oBenefitOnAttendance.BOAID <= 0) {
        alert("Please select an item from list!");
        return;
    }
    var SelectedRowIndex = $('#tblBenefitOnAttendances').datagrid('getRowIndex', oBenefitOnAttendance);
    if (oBenefitOnAttendance.IsActive == false) {
        alert("Already Inactive!");
        return;
    }
    if (!confirm("Confirm to Inactive?")) return;
    $.ajax({
        type: "POST",
        dataType: "json",
        url: _sBaseAddress + "/BenefitOnAttendance/BenefitOnAttendance_Inactive",
        traditional: true,
        data: JSON.stringify(oBenefitOnAttendance),
        contentType: "application/json; charset=utf-8",

        success: function(data) {
            debugger;
            oBenefitOnAttendance = jQuery.parseJSON(data);
            if (oBenefitOnAttendance.BOAID > 0 && oBenefitOnAttendance.ErrorMessage=="") {
                alert("Data Saved sucessfully");
                $('#tblBenefitOnAttendances').datagrid('updateRow', { index: SelectedRowIndex, row: oBenefitOnAttendance });

            } else {
                alert(oBenefitOnAttendance.ErrorMessage);
            }
        },
        error: function(xhr, status, error) {
            alert(error);
        }
    });
}
</script>
