
    @{
        ViewBag.Title = "Knit Dyeing Recipe";
    }
@model IEnumerable<ESimSol.BusinessObjects.KnitDyeingRecipe>

    <div class="menuMainCollectionTable" style="height:100%">
        <table id="tblKnitDyeingRecipes" title="Knitdyeing Recipe List" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="true" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="RecipeCode" width="100">Code</th>
                    <th field="RecipeName" width="100">Recipe Name</th>
                    <th field="Note" width="100">Note</th>
                    <th field="ActivityStatus" width="100">Active Status</th>
                    <th field="UserName" width="100">Create By</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            @*<a id="btnAdvSearch" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" plain="true">Adv Search</a>*@
            <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
            <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
            <a id="btnView" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
            <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
            <a id="btnActivity" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true">Activity</a>
            @*<a id="btnApprove" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-approved" plain="true">Approve</a>*@
            @*<a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Print List</a>*@
        </div>
    </div>
  <script type="text/javascript">
    $(document).ready(function () {
        var oKnitDyeingRecipes =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        var oAuthorizationRolesMapping = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.AuthorizationRolesMapping]));
        var nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        sessionStorage.setItem("BUID",nBUID);
        var oTempKnitDyeingRecipes =sessionStorage.getItem("KnitDyeingRecipes");
        if(oTempKnitDyeingRecipes!=null)
        {
            oKnitDyeingRecipes = jQuery.parseJSON(oTempKnitDyeingRecipes);
        }
        RefreshList(oKnitDyeingRecipes);
        RefreshControlLayout(oAuthorizationRolesMapping);
    });

    $('#btnAdd').click(function () {
        var oKnitDyeingRecipes = $('#tblKnitDyeingRecipes').datagrid('getRows');
        sessionStorage.setItem("KnitDyeingRecipes", JSON.stringify(oKnitDyeingRecipes));
        sessionStorage.setItem("SelectedRowIndex", -1);
        sessionStorage.setItem("KnitDyeingRecipeHeader", "Add KnitDyeingRecipe");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = sessionStorage.getItem('BaseAddress')+ "/KnitDyeingRecipe/ViewKnitDyeingRecipe?id=0";
    });

    $('#btnEdit').click(function(){
        var oKnitDyeingRecipe= $('#tblKnitDyeingRecipes').datagrid('getSelected');
        if(oKnitDyeingRecipe==null || oKnitDyeingRecipe.KnitDyeingRecipeID<=0)
        {
            alert("Please select an item from list!");
            return;
        }
        var nSelectedRowIndex=$('#tblKnitDyeingRecipes').datagrid('getRowIndex',oKnitDyeingRecipe);
        var oKnitDyeingRecipes= $('#tblKnitDyeingRecipes').datagrid('getRows');
        sessionStorage.setItem("KnitDyeingRecipes", JSON.stringify(oKnitDyeingRecipes));
        sessionStorage.setItem("SelectedRowIndex", nSelectedRowIndex);
        sessionStorage.setItem("KnitDyeingRecipeHeader", "Edit KnitDyeingRecipe");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href =  sessionStorage.getItem('BaseAddress')+  "/KnitDyeingRecipe/ViewKnitDyeingRecipe?id="+oKnitDyeingRecipe.KnitDyeingRecipeID;
    });

    $('#btnView').click(function(){
        var oKnitDyeingRecipe= $('#tblKnitDyeingRecipes').datagrid('getSelected');
        if(oKnitDyeingRecipe==null || oKnitDyeingRecipe.KnitDyeingRecipeID<=0)
        {
            alert("Please select an item from list!");
            return;
        }
        var nSelectedRowIndex=$('#tblKnitDyeingRecipes').datagrid('getRowIndex',oKnitDyeingRecipe);
        var oKnitDyeingRecipes= $('#tblKnitDyeingRecipes').datagrid('getRows');
        sessionStorage.setItem("KnitDyeingRecipes", JSON.stringify(oKnitDyeingRecipes));
        sessionStorage.setItem("SelectedRowIndex", nSelectedRowIndex);
        sessionStorage.setItem("KnitDyeingRecipeHeader", "View KnitDyeingRecipe");
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href =  sessionStorage.getItem('BaseAddress')+  "/KnitDyeingRecipe/ViewKnitDyeingRecipe?id="+oKnitDyeingRecipe.KnitDyeingRecipeID;
    });
    $('#btnActivity').click(function (e) {
        debugger;
        var oKnitDyeingRecipe= $('#tblKnitDyeingRecipes').datagrid('getSelected');
        if(oKnitDyeingRecipe==null || oKnitDyeingRecipe.KnitDyeingRecipeID<=0)
        {
            alert("Please select an item from list!");
            return;
        }
        var nSelectedRowIndex =$('#tblKnitDyeingRecipes').datagrid('getRowIndex',oKnitDyeingRecipe);
        if(oKnitDyeingRecipe.IsActive==true)
        {
            if (!confirm("Confirm to InActive?")) return ;
            oKnitDyeingRecipe.IsActive=false;
        }
        else
        {
            if (!confirm("Confirm to Active?")) return ;
            oKnitDyeingRecipe.IsActive=true;
        }
        $.ajax({
            type: "POST",
            dataType: "json",
            url: sessionStorage.getItem('BaseAddress')+  "/KnitDyeingRecipe/Activity",
            traditional: true,
            data:  JSON.stringify(oKnitDyeingRecipe),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                debugger;
                oKnitDyeingRecipe = jQuery.parseJSON(data);
                $('#tblKnitDyeingRecipes').datagrid('updateRow',{ index: nSelectedRowIndex, row: oKnitDyeingRecipe });
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });
    $('#btnDelete').click(function(){
        debugger;
        var oKnitDyeingRecipe= $('#tblKnitDyeingRecipes').datagrid('getSelected');
        if(oKnitDyeingRecipe==null || oKnitDyeingRecipe.KnitDyeingRecipeID<=0)
        {
            alert("Please select an item from list!");
            return;
        }
        if (!confirm("Confirm to Delete?")) return ;


        var SelectedRowIndex=$('#tblKnitDyeingRecipes').datagrid('getRowIndex',oKnitDyeingRecipe);

        if (oKnitDyeingRecipe.KnitDyeingRecipeID > 0)
        {
            debugger;
            $.ajax
            ({
                type: "POST",
                dataType: "json",
                url :sessionStorage.getItem('BaseAddress')+  "/KnitDyeingRecipe/Delete",
                data: JSON.stringify(oKnitDyeingRecipe),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    debugger;
                    feedbackmessage = jQuery.parseJSON(data);
                    if (feedbackmessage == "Deleted")
                    {
                        alert("Delete sucessfully");
                        $('#tblKnitDyeingRecipes').datagrid('deleteRow',SelectedRowIndex);
                        var oKnitDyeingRecipes= $('#tblKnitDyeingRecipes').datagrid('getRows');
                        sessionStorage.setItem("KnitDyeingRecipes", JSON.stringify(oKnitDyeingRecipes));

                    }
                    else
                    {
                        alert(feedbackmessage);
                    }
                },
                error: function (xhr, status, error)
                {
                    alert(error);
                }

            });
        }
    });

   
    function RefreshControlLayout(oAURolesMapping)
    {
        $("#btnAdd").hide();
        $("#btnEdit").hide();
        $("#btnView").hide();
        $("#btnDelete").hide();
        //$("#btnApprove").hide();

        if(PermissionChecker('Add','KnitDyeingRecipe',oAURolesMapping)){$("#btnAdd").show();}
        if(PermissionChecker('Edit','KnitDyeingRecipe',oAURolesMapping)){$("#btnEdit").show();}
        if(PermissionChecker('View','KnitDyeingRecipe',oAURolesMapping)){$("#btnView").show();}
        if(PermissionChecker('Delete','KnitDyeingRecipe', oAURolesMapping)){$("#btnDelete").show();}
        //if(PermissionChecker('Approved','EmployeeBatch', oAURolesMapping)){$("#btnApprove").show();}
    }
    function RefreshList(oKnitDyeingRecipes)
    {
        DynamicRefreshList(oKnitDyeingRecipes, 'tblKnitDyeingRecipes');
        var nSelectedRowIndex =parseInt(sessionStorage.getItem("SelectedRowIndex"));
        if(nSelectedRowIndex!=-1)
        {
            $('#tblKnitDyeingRecipes').datagrid('selectRow', nSelectedRowIndex);
        }
    }

   </script>
