
@model IEnumerable<ESimSol.BusinessObjects.ExportLC>
@{
    ViewBag.Title = "Export Letter of Credit";
}

<head>
<title>L/C Terms</title>
   
</head>

<body>
    
    
 <div class="menuMainCollectionTable">
     <div id="tabExportLCTabsExportLC" style="width:100%; height:88%;">
         <table id="tblExportLCs" style="width:100%; height:100%;" title="View All Amemend L/C(s)" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbarExportLC">
             <thead>
                 <tr>
                     <th field="ExportLCNo" width="15%" align="left">L/C No</th>
                     <th field="AmendmentFullNo" width="15%" align="left">Amendment No</th>
                     <th field="OpeningDateST" width="10%" align="center">Opening Date</th>
                     <th field="LCRecivedDateST" width="10%" align="center">LC Recived Date</th>
                     <th field="ApplicantName" width="20%" align="left">Applicant Name</th>
                     <th field="AmendmentDateSt" width="10%" align="center">A.Date</th>
                     <th field="AmountSt" width="15%" align="right">Amount</th>
                     <th field="BankName_Issue" width="20%" align="left">Issue Bank Name</th>
                     <th field="BBranchName_Issue" width="20%" align="left">Branch Name</th>
                     <th field="ShipmentDateST" width="10%" align="center">Shipment Date</th>
                     <th field="ExpiryDateST" width="10%" align="center">Expiry Date</th>
                     <th field="CurrentStatusInST" width="20%" align="left">Status</th>
                 </tr>
             </thead>
         </table>
             <div id="toolbarExportLC">
                 <a id="btnViewExportLC" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-details" plain="true">View</a>
                 <a id="btnPrintPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
             </div>
             
</div>
     <fieldset>
         <legend style="font-weight:bold"> Action : </legend>
         <table border="0" cellspacing="2" cellpadding="2" style="width:100%;font-size:11px; font-weight:bold">
             <tr>
                 <td style="width:70%"></td>
                 <td style="width:10%"></td>
                 <td style="width:15%;text-align:right">
                     <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-closed" plain="true">Close</a>
                 </td>
             </tr>
         </table>
     </fieldset>
   </div>
 </body>

<style type="text/css">
  

    .lines-no .datagrid-body td {
        border-right: 1px dotted transparent;
        border-bottom: 1px dotted transparent;
    }
</style>

<script type="text/javascript">
    var _sBaseAddress="";
    var _oExportLC=null;
    var _oExportLCs=[];
    var _oBusinessUnits=[];
    var _sBackLink="";
    var _nBUID=0;
    $(document).ready(function () {
        debugger;
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oExportLCs =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _nBUID = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        if(sessionStorage.getItem("ExportLCLogs")!=null && sessionStorage.getItem("ExportLCLogs").length>0)
        {
            _oExportLCs= jQuery.parseJSON(sessionStorage.getItem('ExportLCLogs'));
            var nIndex= sessionStorage.getItem('SelectedRowIndex');
            DynamicRefreshList(_oExportLCs, 'tblExportLCs');
            if(nIndex>-1){
                $('#tblExportLCs').datagrid('selectRow',nIndex);
            }
          
        }
        else{
            DynamicRefreshList(_oExportLCs, 'tblExportLCs');
        }
        _sBackLink=sessionStorage.getItem("BackLink");
       
    });


  

    $("#btnViewExportLC").click(function () {
        var oExportLC = $("#tblExportLCs").datagrid("getSelected");
        if (oExportLC == null || oExportLC.ExportLCLogID <= 0) { alert("Please select an item from list!"); return; }
        var oExportLCs= $('#tblExportLCs').datagrid('getRows');
        sessionStorage.setItem("ExportLCLogs", JSON.stringify(oExportLCs));
        var SelectedRowIndex=$('#tblExportLCs').datagrid('getRowIndex',oExportLC);
        sessionStorage.setItem("Operation", "View");
        sessionStorage.setItem("SelectedRowIndex", SelectedRowIndex);
        sessionStorage.setItem("ExportLCHeader", "View Export L/C");
        sessionStorage.setItem("BUID", _nBUID);
        sessionStorage.setItem("BackLink", window.location.href);
        window.location.href = _sBaseAddress+ "/ExportLC/ViewExportLCLog?id="+parseInt(oExportLC.ExportLCLogID)+"&buid="+_nBUID;
    });

  
    $('#btnClose').click(function(e){
        window.location.href = sessionStorage.getItem("BackLink");
    });

</script>





