@{
    ViewBag.Title = "Dyeing Order Note";
}
<!DOCTYPE html>
<html>
<head>
    <title>Dyeing Order Note</title>
</head>
<body>
    <div class="menuMainCollectionTable">
        <table id="tblDyeingOrderNote" title="Dyeing Order Note" class="easyui-datagrid" fit="true" fitcolumns="true" rownumbers="true" pagination="false" singleselect="true" autorowheight="false" toolbar="#toolbar">
            <thead>
                <tr>
                    <th field="OrderNote" width="80%">Dyeing Order Note Name</th>
                </tr>
            </thead>
        </table>
        <div id="toolbar">
            <table>
                <tr>
                    <td>
                        <input id="txtOrderNote" type="text" style="width: 480px;" placeholder="Type Order Note & press Add button" />
                        <a id="btnUpdate" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-save" plain="true">Update</a>
                        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true">Add</a>
                        <a id="btnEdit" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-edit" plain="true">Edit</a>
                        <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    var _sBaseAddress="";
    var _oDyeingOrderNotes=[];
    var _oDyeingOrderNote=null;
    $(document).ready(function () {
        _sBaseAddress =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oDyeingOrderNotes =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        $("#btnUpdate").hide();
        DynamicRefreshList(_oDyeingOrderNotes,"tblDyeingOrderNote");
    });

    function Validation()
    {
        if($.trim($("#txtOrderNote").val()) == "")
        {
            alert("Please Type Order Note and Press Add Button");
            $("#txtOrderNote").addClass("errorFieldBorder");
            $("#txtOrderNote").focus();
            return false;
        }else{
            $("#txtOrderNote").removeClass("errorFieldBorder");
        }
        return true;
    }

    function RefreshObject() {
        var oDyeingOrderNote = {
            DyeingOrderNoteID  : (_oDyeingOrderNote == null ? 0 : _oDyeingOrderNote.DyeingOrderNoteID),
            DyeingOrderID  :0,
            OrderNote : $.trim($("#txtOrderNote").val())
        };
        return oDyeingOrderNote;
    }

    $("#btnAdd").click(function(){
        _oDyeingOrderNote= null;
        AddNew();
    });

    $("#txtOrderNote").keydown(function(e){
        if(e.keyCode === 13)
        {
            _oDyeingOrderNote = null;
            AddNew();
        }
    });

    function AddNew()
    {
        if (!Validation())
        {
            return false;
        }
        else
        {
            debugger;
            var oDyeingOrderNote = RefreshObject();
            var obj = {
                BaseAddress: _sBaseAddress,
                Object: oDyeingOrderNote,
                ObjectId: oDyeingOrderNote.DyeingOrderNoteID,
                ControllerName: "DyeingOrderNote",
                ActionName: "SaveDyeingOrderNote",
                TableId: "tblDyeingOrderNote",
                IsWinClose: true,
                Message:""
            };
            $.icsSave(obj, function (response) {
                if (response.status && response.obj != null) {
                    if (response.obj.DyeingOrderNoteID > 0) {
                        $("#txtOrderNote").val("");
                        $("#txtOrderNote").focus();
                        $("#btnUpdate").hide();

                    }
                }
            });
        }
    }

    $("#btnDelete").click(function(){
        var oDyeingOrderNote = $("#tblDyeingOrderNote").datagrid("getSelected");
        if(oDyeingOrderNote == null || oDyeingOrderNote.DyeingOrderNoteID <=0)
        {
            alert("Please select an item from list.");
            return;
        }

        if (!confirm("Confirm to Delete?")) return;
        var obj =
        {
            BaseAddress: _sBaseAddress,
            Object: oDyeingOrderNote,
            ControllerName: "DyeingOrderNote",
            ActionName: "DeleteDyeingOrderNote",
            TableId: "tblDyeingOrderNote",
            IsWinClose: false
        };
        $.icsDelete(obj);
    });

    $("#btnEdit").click(function(){
        var oDyeingOrderNote = $("#tblDyeingOrderNote").datagrid("getSelected");
        if(oDyeingOrderNote== null || oDyeingOrderNote.DyeingOrderNoteID <=0)
        {
            alert("Please select an item from list.");
            return;
        }
        _oDyeingOrderNote= oDyeingOrderNote;
        $("#txtOrderNote").removeClass("errorFieldBorder");
        $("#txtOrderNote").val(oDyeingOrderNote.OrderNote);
        $("#btnUpdate").show();
    });

    $("#btnUpdate").click(function(){
        AddNew();
    });
</script>
