@{
    ViewBag.Title = "Commission Material";
}
<html>
<head>
    <title> Commission Material</title>
</head>
<body>
    @{var MenuID = HttpContext.Current.Session[SessionInfo.MenuID];}
    @model IEnumerable<ESimSol.BusinessObjects.CommissionMaterial>
    <div style="font-family: Tahoma;width:80%;">
        <fieldset style="width:100%">
            <table border="0" cellspacing="2" cellpadding="2" style="font-size: 11px; font-weight: bold; width:100%">
                <tr style="width:100%">
                    <td style="width:100%">
                        <input type="text" id="txtName" style="width:100%" placeholder="Name"/>
                    </td>
                </tr>
                <tr style="width:100%">
                    <td style="width:100%" colspan="2">
                        What will you Search (Specification) when assign to employee. Ex: for Mobile SIM, search SIM Number
                    </td>
                </tr>
                <tr style="width:100%">
                    <td style="width:80%">
                        <input type="text" id="txtTechnicalSpecification" style="width:100%" placeholder="What will you Search (Specification) when assign to employee. Ex: for Mobile SIM, search SIM Number" />
                    </td>
                </tr>
                <tr style="width:100%">
                    <td style="text-align:left;width:100%">
                        <a id="btnAdd" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-add" plain="true"
                           onclick="AddCommissionMaterial()">Add</a>
                        <a id="btnDelete" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-remove" plain="true"
                           onclick="DeleteCommissionMaterial()">Delete</a>
                        <a id="btnActivity" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="ChangeActiveStatus()">Activity</a>
                    </td>
                </tr>
            </table>
            <div style="font-family: Tahoma; width:100%; height:40%;">
                @*<table id="tblCommissionMaterials" class="easyui-datagrid" style="width: 80%; height: 250px"
                    fitcolumns="false" rownumbers="true" pagination="false" singleselect="true"
                    autorowheight="false">*@
                <table id="tblCommissionMaterials" class="easyui-datagrid" style="width: 100%; height: 420px;"
                       fitcolumns="false" pagination="false" singleselect="true" autorowheight="false"
                       data-options="singleSelect: false, fitColumns:false,  rownumbers:true,pagination:false,autoRowHeight:false, onClickRow: onClickRow">
                    <thead>
                        <tr>
                            @*<th field="Description" width="600">*@
                            <th data-options="field:'Name',width:250,align:'left',editor:{type:'textbox'}"
                                align="left" id="Name">
                                Name
                            </th>
                            <th data-options="field:'SearchWhat',width:300,align:'left',editor:{type:'textbox'}"
                                align="left" id="SearchWhat">
                                Search What
                            </th>
                            <th field="ActivityInString" width="160">
                                Activity
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </fieldset>
    </div>
</body>
</html>

<script type="text/javascript">
    var _oCommissionMaterials = [];
    var _sBaseAddress = "";
    var _nMenuid=0;
 
    $(document).ready(function() {
        _sBaseAddress = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        _oCommissionMaterials = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(Model));
        _nMenuid = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(MenuID));
        DynamicRefreshList(_oCommissionMaterials, "tblCommissionMaterials");
        $("#txtName").focus();
    });
    $("#txtTechnicalSpecification").keyup(function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode == 13)
        {
            AddCommissionMaterial();
        }
    });
    function AddCommissionMaterial(){
        sName=$("#txtName").val();
        sTS=$("#txtTechnicalSpecification").val();
        if(sName=="" || sName== null)
        {
            alert("Please enter a Name!");
            return;
        }
        if(sTS=="" || sTS== null)
        {
            alert("Please enter a Technical Specification!");
            return;
        }

        oCommissionMaterial = {
            CMID: 0,
            Name:sName,
            SearchWhat:sTS,
            IsActive:true
        };

        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oCommissionMaterial,
            ObjectId: oCommissionMaterial.CMID,
            ControllerName: "CommissionMaterial",
            ActionName: "CommissionMaterialName_IU",
            TableId: "tblCommissionMaterials",
            IsWinClose: false,
        };
        $.icsSave(obj);
        $("#txtName").val("");
        $("#txtTechnicalSpecification").val("");
        $("#txtName").focus();
    }

    function EditCommissionMaterial(){
        var oCommissionMaterial = $('#tblCommissionMaterials').datagrid('getSelected');
        if (oCommissionMaterial.CMID<=0) {
            alert("No row is selected to edit");
            return false;
        }
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oCommissionMaterial,
            ObjectId: oCommissionMaterial.CMID,
            ControllerName: "CommissionMaterial",
            ActionName: "CommissionMaterialName_IU",
            TableId: "tblCommissionMaterials",
            IsWinClose: false,
        };
        $.icsSave(obj);
    }


    function DeleteCommissionMaterial() {
        var oCommissionMaterial = $('#tblCommissionMaterials').datagrid('getSelected');
        if (oCommissionMaterial == null) {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        if (!confirm("Confirm to Delete?")) return;
        var selectedRowIndex = $('#tblCommissionMaterials').datagrid('getRowIndex', oCommissionMaterial);
        var obj = {
            BaseAddress: _sBaseAddress,
            Object: oCommissionMaterial,
            ControllerName: "CommissionMaterial",
            ActionName: "CommissionMaterial_Delete",
            TableId: "tblCommissionMaterials",
            IsWinClose: false
        };
        $.icsDelete(obj)
        //$.icsDelete(obj, function (response) {
        //    if (response.status && response.Message=="deleted") {
        //        $('#tblCommissionMaterials').datagrid('deleteRow', selectedRowIndex);
        //    }
        //});
    }

    var editIndex = undefined;
    function endEditing()
    {
        if (editIndex == undefined){return true}
        if ($('#tblCommissionMaterials').datagrid('validateRow', editIndex))
        {
            $('#tblCommissionMaterials').datagrid('endEdit', editIndex);
            editIndex = undefined;
            return true;
        }
        else
        {
            return false;
        }
    }

    var nIndex=0;
    function onClickRow(index)
    {
        nIndex=index;
        if (editIndex != index)
        {
            if (endEditing())
            {
                $('#tblCommissionMaterials').datagrid('selectRow', index).datagrid('beginEdit', index);
                editIndex = index;
            }
            else
            {
                $('#tblCommissionMaterials').datagrid('selectRow', editIndex);
            }
        }
    }

    function ChangeActiveStatus()
    {
        var oCompanyDescription = $('#tblCommissionMaterials').datagrid('getSelected');
        if (oCompanyDescription == null || oCompanyDescription.CMID <= 0) {
            alert("Invalid Field!!! please select a valid Field!");
            return false;
        }
        var SelectedRowIndex = $('#tblCommissionMaterials').datagrid('getRowIndex', oCompanyDescription);
        $.ajax({
            type: "POST",
            dataType: "json",
            url: _sBaseAddress + "/CommissionMaterial/CommissionMaterial_Activity",
            traditional: true,
            data: JSON.stringify(oCompanyDescription),
            contentType: "application/json; charset=utf-8",

            success: function(data) {
                oCompanyDescription = jQuery.parseJSON(data);
                if (oCompanyDescription.CMID > 0) {
                    alert("Data Saved sucessfully");
                    $('#tblCommissionMaterials').datagrid('updateRow', { index: SelectedRowIndex, row: oCompanyDescription });
                } else {
                    alert(oCompanyDescription.ErrorMessage);
                }
            },
            error: function(xhr, status, error)
            {
                alert(error);
            }
        });
    }

    $(document).keydown(function (e)
    {
        var keyCode = e.keyCode || e.which;
        if (keyCode == 13)
        {
            endEditing();
            EditCommissionMaterial();
        }
    });
</script>
