<html>
@{
    ViewBag.Title = "YarnChallan Registers";
}
<body>
    @model ESimSol.BusinessObjects.YarnChallanRegister
    <div id="progbarParent" style="width:100%;height:100%;margin:0 auto;text-align:center; margin-left: auto;margin-right: auto;left: 0;right: 0;z-index: 1;">
        <div style="margin: 0px auto;margin-top: 251px;text-align:center;width:390px;">
            <label style="font-size:18px;">Please wait</label>
            <div id="progbar" style="width:100%;height:37px;"></div>
        </div>
    </div>
    <div class="menuMainCollectionTable" id="MainDiv">
        <div class="easyui-panel" title="QC Register" style="font-family:Tahoma; text-align:center; height:88%;">
            <fieldset style="height:95%; text-align:center;">
                <legend style="font-weight:bold"> Serching Criteria : </legend>
                <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; text-align:center; width:100%">
                    <tr>
                        <td colspan="5" style="height:20px;"></td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Challan No :</td>
                        <td style="width:30%;text-align:left">
                            <input type="text" style="width:100%" id="txtYarnChallanNo" placeholder="Enter Challan No" />
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Challan Date :</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="1" cellspacing="1" width="100%">
                                <tr>
                                    <td style="width:30%; text-align:center">
                                        <select id="cboYarnChallanDate" style="width:100%;height:22px;"> </select>
                                    </td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtYarnChallanDateStart" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                    <td style="width:10%; text-align:center">to</td>
                                    <td style="width:30%; text-align:center">
                                        <input id="txtYarnChallanDateEnd" type="text" class="easyui-datebox" required="required" data-options="formatter:icsdateformat,parser:icsdateparser" style=" width:100%;" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    
                    <tr>
                        <td style="width:15%;text-align:right"> Buyer :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:80%; text-align:left">
                                        <input type="text" style="width:98%" id="txtBuyer" onkeydown="BuyerKeyDown(event)" placeholder="Press enter with buyer name" />
                                    </td>
                                    <td style="width:20%; text-align:right">
                                        <input type="button" id="btnBuyer" onclick="PickBuyer()" style="width:95%;float:right;" value="Pick" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"> Style No:</td>
                        <td style="width:38%;text-align:right">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:80%; text-align:left">
                                        <input type="text" style="width:98%" id="txtStyle" onkeydown="StyleKeyDown(event)" placeholder="Press enter with Style No" />
                                    </td>
                                    <td style="width:20%; text-align:right">
                                        <input type="button" id="btnStyle" onclick="PickStyle()" style="width:95%;float:right;" value="Pick" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:15%;text-align:right"> Factory :</td>
                        <td style="width:30%;text-align:left">
                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%">
                                <tr>
                                    <td style="width:80%; text-align:left">
                                        <input type="text" style="width:98%" id="txtFactory" onkeydown="FactoryKeyDown(event)" placeholder="Press enter with Factory name" />
                                    </td>
                                    <td style="width:20%; text-align:right">
                                        <input type="button" id="btnFactory" onclick="PickFactory()" style="width:95%;float:right;" value="Pick" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right">Approval Status:</td>
                        <td style="width:38%;text-align:right">
                            <select id="cboApprovalStatus" style="width:100%;height:22px;">
                                <option value="Select Approval Status">--Select Approval Status--</option> 
                                <option value="Only Approved Challan">Only Approved Challan</option> 
                                <option value="Only Un-Approved Challan">Only Un-Approved Challan</option> 
                                <option value="Approved/Un-Approved All Challan">Approved/Un-Approved All Challan</option> 
                            </select>
                        </td>
                    </tr>
                    
                    <tr>
                        <td style="width:15%;text-align:right"> Report Layout :</td>
                        <td style="width:30%;text-align:left">
                            <select id="cboReportLayout" style="width:100%;height:22px;">  </select>
                        </td>
                        <td style="width:5%;text-align:right"></td>
                        <td style="width:12%;text-align:right"></td>
                        <td style="width:38%;text-align:right"></td>
                    </tr>
                </table>
            </fieldset>
        </div>
        <fieldset>
            <legend style="font-weight:bold"> Action : </legend>
            <table border="0" cellspacing="2" cellpadding="2" style="font-size:11px; font-weight:bold; width:100%;">
                <tr>
                    <td style="width:50%;text-align:right"></td>
                    <td style="width:50%;text-align:right">
                        <a id="btnPreview" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-print" plain="true">Preview</a>
                        @*<a id="btnExportToExcel" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-excel" plain="true">Export to Excel</a>*@
                        <a id="btnClose" href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" plain="true">Close</a>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</body>
</html>


<script type="text/javascript">
    var _sBaseAddress="";
    $(document).ready(function () {
        var nBUID =@Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.BUID));
        var oReportLayouts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReportLayouts));
        var oCompareOperators = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.CompareOperators));
        _sBaseAddress =@Html.Raw( new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(HttpContext.Current.Session[SessionInfo.BaseAddress]));
        var oReportLayouts = @Html.Raw(new System.Web.Script.Serialization.JavaScriptSerializer().Serialize(ViewBag.ReportLayouts));

        $("#progbar").progressbar({ value: 0 });
        $("#progbarParent").hide();
        $("#cboYarnChallanDate").icsLoadCombo({ List: oCompareOperators, OptionValue: "id", DisplayText: "Value" });
        $("#cboReportLayout").icsLoadCombo({ List: oReportLayouts, OptionValue: "id", DisplayText: "Value" });

        $('#txtYarnChallanDateStart').datebox({ disabled : true });
        $('#txtYarnChallanDateEnd').datebox({ disabled : true });
        $('#txtYarnChallanDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtYarnChallanDateEnd').datebox('setValue', icsdateformat(new Date()));

        $("#MainDiv").data("FactoryID",0);
        $("#MainDiv").data("BuyerID",0);
        $("#MainDiv").data("StyleID",0);
        //$("#MainDiv").data("YarnID",0);
    });

    function ValidateSearch()
    {

        var nYarnChallanDate = parseInt($('#cboYarnChallanDate').val());
        if(nYarnChallanDate===1 || nYarnChallanDate===2 || nYarnChallanDate===3 || nYarnChallanDate===4)
        {
            var sYarnChallanDateStart   = $('#txtYarnChallanDateStart').datebox('getValue');
            if(sYarnChallanDateStart===null || sYarnChallanDateStart==="")
            {
                alert("Please select YarnChallan start date!");
                $('#txtYarnChallanDateStart').focus();
                return false;
            }
        }
        if(nYarnChallanDate===5 || nYarnChallanDate===6)
        {
            var sYarnChallanDateStart   = $('#txtYarnChallanDateStart').datebox('getValue');
            var sYarnChallanDateEnd   = $('#txtYarnChallanDateEnd').datebox('getValue');
            if(sYarnChallanDateStart===null || sYarnChallanDateStart==="")
            {
                alert("Please select YarnChallan start date!");
                $('#txtYarnChallanDateStart').focus();
                return false;
            }
            if(sYarnChallanDateEnd===null || sYarnChallanDateEnd==="")
            {
                alert("Please select YarnChallan end date!");
                $('#txtYarnChallanDateEnd').focus();
                return false;
            }
            if(new Date(sYarnChallanDateStart) > new Date(sYarnChallanDateEnd))
            {
                alert("Start date must be smallar than or equal end date!");
                $('#txtYarnChallanDateStart').focus();
                return false;
            }
        }

        var sYarnChallanNo = $.trim($('#txtYarnChallanNo').val());
        var nBuyerID = parseInt($("#MainDiv").data("BuyerID"));
        var nStyleID = parseInt($("#MainDiv").data("StyleID"));
        var nFactoryID = parseInt($("#MainDiv").data("FactoryID"));
        var sApprovalStatus   = $('#cboApprovalStatus').val();

        if(sYarnChallanNo === "" && nYarnChallanDate === 0 && nBuyerID === 0 && nStyleID === 0 && nFactoryID == 0 && sApprovalStatus == "Select Approval Status")
        {
            alert("Please select atleast one searching criteriea!");
            return false;
        }

        var nReportLayout = parseInt($('#cboReportLayout').val());
        if(nReportLayout<=0)
        {
            alert("Please select an Report Layout!");
            return;
        }

        return true;
    }

    function RefreshObject()
    {
        var nYarnChallanDate = parseInt($('#cboYarnChallanDate').val());
        var sYarnChallanDateStart   = $('#txtYarnChallanDateStart').datebox('getValue');
        var sYarnChallanDateEnd   = $('#txtYarnChallanDateEnd').datebox('getValue');
        var sApprovalStatus   = $('#cboApprovalStatus').val();

        var sSearchingData  =  nYarnChallanDate+'~';
        sSearchingData = sSearchingData + sYarnChallanDateStart+'~';
        sSearchingData = sSearchingData + sYarnChallanDateEnd+'~';
        sSearchingData = sSearchingData + sApprovalStatus;

        var sYarnChallanNo = $.trim($('#txtYarnChallanNo').val());
        var nBuyerID = parseInt($("#MainDiv").data("BuyerID"));
        var nStyleID = parseInt($("#MainDiv").data("StyleID"));
        var nFactoryID = parseInt($("#MainDiv").data("FactoryID"));

        var oYarnChallan = {
            BUID : parseInt(sessionStorage.getItem("BUID")),
            ChallanNo : sYarnChallanNo,
            BuyerID : nBuyerID,
            StyleID : nStyleID,
            FactoryID : nFactoryID,
            ReportLayout : parseInt($('#cboReportLayout').val()),
            ErrorMessage : sSearchingData
        };
        return oYarnChallan;
    }

    $('#btnPreview').click(function(e){
        debugger;
        if(!ValidateSearch()) return;
        var oYarnChallan = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/KnittingYarnChallan/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oYarnChallan),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/KnittingYarnChallan/PrintYarnChallanRegister?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    $('#btnExportToExcel').click(function(e){
        if(!ValidateSearch()) return;
        var oYarnChallan = RefreshObject();
        $.ajax({
            type: "POST",
            dataType: "json",
            url : _sBaseAddress+  "/YarnChallan/SetSessionSearchCriteria",
            traditional: true,
            data:  JSON.stringify(oYarnChallan),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var sFeedBackMessage = jQuery.parseJSON(data);
                if (sFeedBackMessage==="Successful") {
                    var tsv=((new Date()).getTime())/1000;
                    window.open(_sBaseAddress+'/YarnChallan/ExportToExcelYarnChallan?ts='+tsv,"_blank");
                }
            },
            error: function (xhr, status, error) {
                alert(error);
            }
        });
    });


    $('#cboYarnChallanDate').change(function(e){
        //EqualTo = 1, NotEqualTo = 2, GreaterThen = 3, SmallerThen = 4, Between = 5, NotBetween = 6
        var nCompareOperator =   parseInt($('#cboYarnChallanDate').val());
        if(nCompareOperator===0)
        {
            $('#txtYarnChallanDateStart').datebox({ disabled : true });
            $('#txtYarnChallanDateEnd').datebox({ disabled : true });
        }
        else if (nCompareOperator===1 || nCompareOperator===2 || nCompareOperator===3 || nCompareOperator===4)
        {
            $('#txtYarnChallanDateStart').datebox({ disabled : false });
            $('#txtYarnChallanDateEnd').datebox({ disabled : true });
        }
        else
        {
            $('#txtYarnChallanDateStart').datebox({ disabled : false });
            $('#txtYarnChallanDateEnd').datebox({ disabled : false });
        }
        $('#txtYarnChallanDateStart').datebox('setValue', icsdateformat(new Date()));
        $('#txtYarnChallanDateEnd').datebox('setValue', icsdateformat(new Date()));
    });

    $('#btnClose').click(function (e) {
        window.location.href = window.location.href;
    });

    function FactoryKeyDown(event) {
        //return;
        if (event.which == 13) {
            var oTxtName=$("#txtFactory").val();
            if (oTxtName != null) {
                PickFactory(oTxtName);
            }
        }
        if (event.which == 8) {
            $("#MainDiv").data("FactoryID",0);
            txtFactory.style.color="Black";
        }
    }

    function PickFactory(oTxtName)
    {
        var oStyleSearch = {
            Params: '1,3' + '~' + (typeof(oTxtName) != 'undefined'?oTxtName:"")+'~'+sessionStorage.getItem("BUID")
        };

        debugger;
        var obj = {
            BaseAddress:_sBaseAddress,
            Object: (oStyleSearch) ,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
        DynamicPiker('Factory',obj,tblColums,false,'Name','ContractorID',400); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
    }

    function SetFactory(oSelectedStyle) {
        debugger;
        document.getElementById("txtFactory").value = oSelectedStyle.Name;
        $("#MainDiv").data("FactoryID",oSelectedStyle.ContractorID);
        txtFactory.style.color="Blue";
    }

    function BuyerKeyDown(event) {
        //return;
        if (event.which == 13) {
            var oTxtName=$("#txtBuyer").val();
            if (oTxtName != null) {
                PickBuyer(oTxtName);
            }
        }
        if (event.which == 8) {
            $("#MainDiv").data("BuyerID",0);
            txtBuyer.style.color="Black";
        }
    }

    function PickBuyer(oTxtName)
    {
        var oStyleSearch = {
            Params: '2' + '~' + (typeof(oTxtName) != 'undefined'?oTxtName:"")+'~'+sessionStorage.getItem("BUID")
        };

        debugger;
        var obj = {
            BaseAddress:_sBaseAddress,
            Object: (oStyleSearch) ,
            ControllerName: "Contractor",
            ActionName: "ContractorSearchByNameType",
            IsWinClose: false
        };
        var tblColums = []; var oColumn = { field: "Name", title: "Name", width: 200, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Address", title: "Address", width: 120, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "Email", title: "Email", width: 90, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "ShortName", title: "Short Name", width: 90, align: "left" }; tblColums.push(oColumn);
        DynamicPiker('Buyer',obj,tblColums,false,'Name','ContractorID',400); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
    }

    function SetBuyer(oSelectedStyle) {
        debugger;
        document.getElementById("txtBuyer").value = oSelectedStyle.Name;
        $("#MainDiv").data("BuyerID",oSelectedStyle.ContractorID);
        txtBuyer.style.color="Blue";
    }

    //function ProductKeyDown(event) {
    //    //return;
    //    if (event.which == 13) {
    //        var oTxtName=$("#txtProduct").val();
    //        if (oTxtName != null) {
    //            PickProduct(oTxtName);
    //        }
    //    }
    //    if (event.which == 8) {
    //        txtProduct.style.color="Black";
    //        $("#MainDiv").data("YarnID",0);
    //    }
    //}

    //function PickProduct(oTxtName)
    //{
    //    debugger;
    //    var oStyleSearch = {
    //        BUID:sessionStorage.getItem("BUID"),
    //        ProductName: $("#txtProduct").val()
    //    };

    //    console.log(oStyleSearch);
    //    debugger;
    //    var obj = {
    //        BaseAddress:_sBaseAddress,
    //        Object: (oStyleSearch) ,
    //        ControllerName: "KnittingOrder", //Product
    //        ActionName: "GetYarnCategory",//SearchByProductBUWise
    //        IsWinClose: false
    //    };
    //    var tblColums = []; var oColumn = []; var oColumn = { field: "ProductName", title: "Product Name", width: 150, align: "left" }; tblColums.push(oColumn);
    //    oColumn = { field: "ProductCode", title: "Code", width: 150, align: "left" }; tblColums.push(oColumn);
    //    DynamicPiker('Product',obj,tblColums,true,'ProductName','ProductID',500); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
    //}

    //function SetProduct(oSelectedStyle) {
    //    document.getElementById("txtProduct").value = oSelectedStyle.ProductName;
    //    $("#MainDiv").data("YarnID",oSelectedStyle.ProductID);
    //    txtProduct.style.color="Blue";

    //}

    function StyleKeyDown(event) {
        //return;
        if (event.which == 13) {
            var oTxtName=$("#txtStyle").val();
            if (oTxtName != null) {
                PickStyle(oTxtName);
            }
        }
        if (event.which == 8) {
            txtStyle.style.color="Black";
            $("#MainDiv").data("StyleID",0);
        }
    }

    function PickStyle(oTxtName)
    {
        debugger;
        var oStyleSearch = {
            StyleNo: (typeof(oTxtName) != 'undefined'?oTxtName:"")
        };

        debugger;
        var obj = {
            BaseAddress:_sBaseAddress,
            Object: (oStyleSearch) ,
            ControllerName: "TechnicalSheet",
            ActionName: "StyleSearch",
            IsWinClose: false
        };
        var tblColums = []; var oColumn = { field: "StyleNo", title: "Style No", width: 100, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "BuyerName", title: "Buyer Name", width: 200, align: "left" }; tblColums.push(oColumn);
        oColumn = { field: "SessionName", title: "Business Session", width: 100, align: "left" }; tblColums.push(oColumn);
        DynamicPiker('Style',obj,tblColums,false,'StyleNo','TechnicalSheetID',500); //pickerName(unique),obj,table,multiReturn,SearchingField, pkID
    }

    function SetStyle(oSelectedStyle) {
        debugger;
        document.getElementById("txtStyle").value = oSelectedStyle.StyleNo;
        $("#MainDiv").data("StyleID",oSelectedStyle.TechnicalSheetID);
        txtStyle.style.color="Blue";
    }

    function SetPickerValueAssign(oPickerobj)
    {
        debugger;
        var oResult;
        if (oPickerobj.multiplereturn)
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getChecked');
        }
        else
        {
            oResult = $('#'+oPickerobj.tableid).datagrid('getSelected');
        }


        if (oPickerobj.winid == 'winFactory')
        {
            SetFactory(oResult);
        }
        else if (oPickerobj.winid == 'winBuyer')
        {
            SetBuyer(oResult);
        }
        else if (oPickerobj.winid == 'winStyle')
        {
            SetStyle(oResult);
        }
        else if (oPickerobj.winid == 'winProduct')
        {
            SetProduct(oResult);
        }


        $("#" + oPickerobj.winid).icsWindow("close");
        $("#" + oPickerobj.winid).remove();
    }

    function updateProgress() {
        var value =$('#progressbar').progressbar('getValue');
        if (value < 90){
            value += Math.floor(Math.random() * 10);
            $('#progressbar').progressbar('setValue', value);
        }
    }

    function hideShow(miliseconds) {
        $("#progressbarParent").hide();
    }

    function DynamicPiker(pickerName,obj,pTblColums,pMultiReturn,pSearchField,pID,nWidth)
    {
        debugger;
        $("#progressbar").progressbar({ value: 0 });
        $("#progressbarParent").show();
        setInterval(updateProgress,250);

        $.icsDataGets(obj, function (response) {
            debugger;
            if (response.status && response.objs.length > 0) {
                if (response.objs[0][pID] > 0) {
                    debugger;
                    var tblColums = pTblColums;
                    var oPickerParam = {
                        winid: 'win'+pickerName,
                        winclass: 'cls'+pickerName,
                        winwidth: nWidth,
                        winheight: 460,
                        tableid: 'tbl'+pickerName+'s',
                        tablecolumns: tblColums,
                        datalist: response.objs,
                        multiplereturn: pMultiReturn,
                        searchingbyfieldName: pSearchField,
                        windowTittle: pickerName+' List',
                        colsable:true
                    };
                    $.icsPicker(oPickerParam);
                    $("#progressbar").progressbar({ value: 0 });//hide
                    $("#progressbarParent").hide();
                    IntializePickerbutton(oPickerParam);
                }
                else {
                    alert(response.objs[0].ErrorMessage);
                    $("#progressbar").progressbar({ value: 0 });//hide
                    $("#progressbarParent").hide();
                }
            }
            else{
                alert("Data Not Found.");
                $("#progressbar").progressbar({ value: 0 });//hide
                $("#progressbarParent").hide();
                return;
            }
        });
    }

    function IntializePickerbutton(oPickerobj) {
        debugger;
        $("#" + oPickerobj.winid).find("#btnOk").click(function () {
            debugger;
            //for Single Select
            SetPickerValueAssign(oPickerobj);
        });
        $(document).find('.' + oPickerobj.winclass).keydown(function (e) {
            if (e.which == 13)//enter=13
            {
                SetPickerValueAssign(oPickerobj);
            }
        });
    }


</script>